/*列表*/
.operate .item {padding: .2rem 0;}
.operate .item a{height: .4rem;line-height: .4rem;padding: .2rem .2rem .2rem .4rem;border-bottom: 1px dashed #f2f2f2;font-size: .28rem; position: relative; display: block;}
.operate .item a::after{border-bottom: 1px solid #bdbdbd; border-right: 1px solid #bdbdbd; content: ''; height: .15rem; width: .15rem; background: 0 0; position: absolute; right: .3rem; top: 50%; margin-top: -0.12rem; -webkit-transform: rotate(-45deg); transform: rotate(-45deg);}
.operate .item a span {display: inline-block;width: .4rem;height: .4rem;background:#129bf0;color: #fff;text-align: center;border-radius:50%;margin-right: .1rem;vertical-align: middle;}
.operate .subitem{display: none; background: #f9f9f9;}

.empty {padding:1rem .2rem;text-align: center;}


.header-r{visibility: hidden;}
.content{padding: .2rem .3rem; font-size: .28rem;}

.tuihuo p {margin: .2rem 0 .4rem 0;text-align: center;}
.tuihuo ul {overflow: hidden;}
.tuihuo ul li {float: left;width: 50%;text-align: center;}
.tuihuo ul li a {display: block;margin:.2rem;padding:.5rem;text-align: center;border-radius:.1rem;background: #70bae8;color: #fff;}

.tousu .group {margin-bottom: .2rem;padding:.1rem;border:1px solid #eee;border-radius:.1rem;}
.tousu .content {}
.tousu textarea, .tousu input {display: block;width: 100%;border:0;outline:none;resize:none;}
.tousu .submit {margin-top: .5rem;}
.tousu .submit a {display: block;padding:.1rem 0;text-align: center;background: #129bf0;color: #fff;border-radius:.1rem;}


.tousu .order {display: none;}
.tousu .title {padding:.1rem;}
.tousu .title span {margin-left: .2rem;color: #f60;}
.tousu .group.order {border-radius:0;}
.tousu .group.order .load {padding:.2rem 0;text-align: center;}
.tousu .group.order .it {position: relative;margin-top: -1px;padding:.1rem;border:1px solid #eee;}
.tousu .group.order .it span {float: right;}
.tousu .group.order .it input {position: absolute;right:0;top:0;left:0;bottom:0;width:100%;height: 100%;opacity: 0;z-index: 1;}
.tousu .group.order .it em {position: absolute;right:.2rem;top:.3rem;display: inline-block;width: .4rem;height: .4rem;background:#ccc;border-radius:50%;border:2px solid #b9b9b9;}
.tousu .group.order .it input:checked + em {display: block;background: #00CC66;border-color:#00CC33;}
.tousu select {display: block;width: 100%;border:0;outline:none;}


/* 上传图片 */
.img-box {padding-bottom: 15px; position: relative; background: #fff; border-bottom: none;}
.img-box ul {padding-left: 5px;}
.img-box li {position: relative; float: left; margin: 15px 8px 0 0; width: 74px; height: 74px; background: #fff; box-shadow: 0 1px 10px 1px rgba(0,0,0,.2);}

/* 上传按钮 */
#filePicker{position: relative;}
.img-box li.uploadbtn {box-shadow: none; width: 70px; height: 70px; border: 2px dashed #e5e5e5;}
.webuploader-pick {line-height: 55px; text-align: center; font-size: 90px; color: #e5e5e5;}
.webuploader-element-invisible {position: absolute !important; clip: rect(1px,1px,1px,1px);}
.webuploader-container div {width: 70px; height: 70px;}

/* 图片队列 */
.img-box .imgtip{color: #d0d0d0; font-size: 0.3rem; position: absolute; left: 110px; top: 40px;}
.img-box .thumbnail img {width: 100%; height: 100%; display: block; background-repeat: no-repeat; background-size: cover; background-position: center 20%;}

.img-box .thumbnail .file-panel {position: absolute; width: 30px; height: 30px; top: 6px; right: -10px; margin-top: -18px;}
.img-box .thumbnail .file-panel .cancel {position: absolute; top: 50%; left: 50%; margin: -12px 0 0 -12px; -webkit-transform: rotate(45deg); width: 20px; height: 20px; -webkit-border-radius: 13px; background-color: rgba(0,0,0,.7);}
.img-box .thumbnail .file-panel .cancel:before, .img-box .thumbnail .file-panel .cancel:after {content: ''; position: absolute; background: #d5d6d8; left: 50%; top: 50%;}
.img-box .thumbnail .file-panel .cancel:before {height: 16px; width: 2px; margin: -8px 0 0 -1px;}
.img-box .thumbnail .file-panel .cancel:after {height: 2px; width: 16px; margin: -1px 0 0 -8px;}


.img-box .thumbnail .progress {position: absolute; right: 4px; bottom: 4px; height: 3px; left: 4px; height: 4px; overflow: hidden; z-index: 15; margin:0; padding: 0; border-radius: 0; background: transparent;}
.img-box .thumbnail .progress span {display: block; overflow: hidden; width: 0; height: 100%; background: #499c00 url('/static/js/webuploader/progress.png') repeat-x; -webit-transition: width 200ms linear; -moz-transition: width 200ms linear; -o-transition: width 200ms linear; -ms-transition: width 200ms linear; transition: width 200ms linear; -webkit-animation: progressmove 2s linear infinite; -moz-animation: progressmove 2s linear infinite; -o-animation: progressmove 2s linear infinite; -ms-animation: progressmove 2s linear infinite; animation: progressmove 2s linear infinite; -webkit-transform: translateZ(0);}
@-webkit-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@-moz-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}



/* 错误提示 */
.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 1000; visibility: hidden;}
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 0; top: 50%; margin-top: -50px;}


.content {width:6.9rem;overflow-x: auto;overflow-y: hidden;}

.content.type_38 {width:100%;padding:0;overflow: hidden;}
.table {width:100%;min-height:4rem;overflow-y: hidden;}
.table th, .table td {white-space: nowrap;padding:.1rem .1rem;}
.table thead th {background:#f3f3f3;}
.table-bordered > tbody > tr > td {
    border-color: #eaeff0;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #fafbfc;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}
.table-bordered tr > th:first-child, .table-bordered tr > td:first-child {border-left: none;}
.table-bordered tr > th:last-child, .table-bordered tr > td:last-child {border-right: none;}
.table-hover > tbody > tr:active {
    background-color: #f5f5f5;
}

.table tbody td div {max-width:60px;white-space: normal;}