@charset "utf-8";

.main-right {width: 270px;}
.main-left {float: left;width: 909px}
.main{margin-top: 20px;min-width: 1200px}

/*装修公司列表*/

.art_list .art_li {position: relative;padding:22px 0 0;background: #fff;}
.spe_com{position: absolute;right: 0;top: 30px;font-size: 14px;color: #F54D0C;padding-left: 30px;background: url(../images/artist/com_icon.png);background-repeat:no-repeat;}
.spe_com a{color: #F54D0C}
.art_list .art_li .content{margin-left: 100px;border-bottom: 1px solid #eee;padding-bottom: 25px;}
.art_list .art_li .pic {float: left;margin-right: 23px;width: 60px;height: 60px;}
.art_list .art_li .pic img {display: block;width: 100%;height: 100%;border-radius: 50%}

.art_list .art_li .txt {font-size: 14px;color: #666;overflow: hidden;float: left;width: 644px;}
.art_list .art_li .name {font-size: 18px;color: #333; margin-top: 10px;}
.art_list .art_li .name a {display: inline-block;font-weight: bold;}
.art_list .art_li .name a:hover {color: #ff6d01;}
.art_list .art_li .name .home{display: inline-block;margin-left: 13px;color: #A0A0A0;font-size: 14px}

.art_list .art_li .grey{color: #A0A0A0}
.art_list .art_li .num {margin-top: 17px}
.art_list .art_li .num p{display: inline-block;margin-right: 30px;color: #333;font-size: 14px}
.art_list .art_li .num .grey{margin-right: 9px;}

.art_list .art_li .profile {margin-top: 20px}
.art_list .art_li .profile span{display: inline-block;overflow: hidden;}
.art_list .art_li .profile .pro_info{display: inline-block;width: 89%;text-overflow:ellipsis;white-space:nowrap;overflow: hidden;margin-left: 9px}

.art_list .art_li .profile2 span{display: inline-block;overflow: hidden;}
.art_list .art_li .profile2 .pro_info{display: inline-block;width: 89%;text-overflow:ellipsis;white-space:nowrap;overflow: hidden;margin-left: 9px}
.art_list .art_li .red {font-size: 18px;color: #f00;}
.art_list .art_li .tel {float: right;text-align: center;padding-top: 70px}

.art_list .art_li .tel span{display: inline-block;width: 107px;height: 34px;background:#F54D0C;text-align: center;color: #fff;font-size: 14px;border:1px solid #F54D0C;line-height: 34px;position: relative;cursor: pointer;}
.art_list .art_li .tel span:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;
	background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);}
.img_list{float: left;margin-top: 15px}
.img_list li{width:191px;height: 135px;float: left;margin-right: 15px; }
.img_list li img{width: 100%;height: 100%}
.img_list li:nth-child(4n){margin-right: 0}

/* 右侧 */
.forman_join {margin-bottom: 24px;}
.forman_join ul {padding:0 13px;border-top: 1px solid #eee;}
.forman_join li {position: relative;font-size: 14px;color: #888;padding: 18px 0;border-top: 1px solid #eee;padding-left: 60px;background: url(../images/artist/01.png) no-repeat 16px 27px ; }
.forman_join li:first-child{border-top: none}
.forman_join li.li-2{background: url(../images/artist/02.png) no-repeat 16px 27px;}
.forman_join li.li-3{background: url(../images/artist/03.png) no-repeat 16px 27px;}
.forman_join li.li-4{background: url(../images/artist/04.png) no-repeat 16px 27px;}
.forman_join li.li-5{background: url(../images/artist/05.png) no-repeat 16px 27px;}
.forman_join li.li-6{background: url(../images/artist/06.png) no-repeat 16px 27px;}
.forman_join .left_b{float: left;width: 54px;height: 54px;}
.forman_join .left_b img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%}
.forman_join .right_b{margin-left: 80px;}
.forman_join .right_b .foman_name{font-size: 16px;color: #333;font-weight: bold;padding-top: 5px}
.forman_join .right_b .foman_info{margin-top: 7px;color: #888;font-size: 14px}

.new_order {margin-bottom: 24px;}
.new_order ul {padding:0 11px;border-top: 1px solid #eee;}
.new_order li {position: relative;font-size: 14px;color: #333;padding:13px 0;border-top: 1px dashed #eee;}
.new_order li:first-child{border-top: none}
.new_order .com_info img{vertical-align: middle;margin-right: 10px;width: 50px;height: 50px;object-fit: cover;border-radius: 50%}
.new_order .com_info .com_span{display: inline-block;width: 182px;text-overflow:ellipsis;white-space:nowrap;overflow: hidden;}
.new_order .com_info .com_span:hover{color: #f54d0c}
/*团队预约弹出层*/
.team_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.team_con{position: fixed; left: 50%; margin-left: -299px; top: 50%; margin-top: -240px; width: 598px;  box-sizing: border-box;background-color:#fff;  padding: 50px 123px; z-index: 9999; }
.team_con .close_alert{width: 51px;height: 51px;position: absolute;right: 5px;top: 10px;cursor: pointer;}
.team_con p.t1{font-size: 20px;color: #333;font-weight: bold;text-align: center;}
.team_man{color: #f54d0c;font-weight: bold}
.team_con form{padding-top: 20px;}
.team_con form input{border: 1px solid #e5e5e5;background: #fff;padding-left: 18px;height: 50px;line-height: 50px;-webkit-appearance:none;margin-top: 20px;font-size: 14px;color: #333;width: 100%;box-sizing: border-box;}
.team_con form input::placeholder{color: #a0a0a0}
.form-row {position: relative;color: #333;margin-top: 20px}
.form-row select {width: 166px;height:40px;float: left;padding-left:12px;margin-right: 20px;*margin-top:8px;border:1px solid;border-color:#ebebeb;font-size: 14px;color: #999;-webkit-appearance:none;background: #fff url(../images/sortDown.png) no-repeat 143px center;border-radius: 4px}
.form-row select.select_r{margin-right: 0}
.team_con p.t2{font-size: 20px;color: #333;text-align: center;width: 100%;height: 50px;line-height: 50px;box-shadow: 0px 3px 8px 0px rgba(255, 90, 0, 0.6);background: #ff5a00;width: 100%;margin-top: 20px;color: #fff;font-size: 16px;cursor: pointer;}
.team_con p.t3{font-size: 14px;color: #a0a0a0;margin-top: 30px;}

/*团队预约成功弹出层*/
.team_mask2{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.team_con2{position: fixed; left: 50%; margin-left: -183.5px; top: 50%; margin-top: -140px; width: 367px;  box-sizing: border-box;background-color:#fff;  padding: 20px 20px 23px; z-index: 9999; }
.team_con2 .close_alert{width: 51px;height: 51px;position: absolute;right: 5px;top: 10px}
.team_con2 p.t1{margin-top: 19px;font-size: 16px;font-weight: bold;color: #333;text-align: center;}
.team_con2 p.t3{border:1px solid rgb(229, 229, 229);color: #a0a0a0;width: 113px;height: 38px;text-align: center;line-height: 38px;margin: 25px auto 0;cursor: pointer;}
/* 波纹效果 */
.team_con2 .wave {position:relative;width:50px;height:50px;text-align:center;margin:35px auto 0;}
.team_con2 .m-box{width:50px;height:50px;position:relative;margin: 0 auto;border-radius:50%;border:3px solid #f6571a;background: #ffe2e2}
.team_con2 .m-duigou{width:25px;height:18px;position:absolute;left:50%;top:50%;margin:-13px 0 0 -13px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden}
.team_con2 .m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#f6571a;border-radius:2px}
.team_con2 .m-duigou:before{width:3px;height:15px;left:0;-webkit-animation:dgLeft 0.5s linear 0s 1 both;animation:dgLeft 0.5s linear 0s 1 both}
.team_con2 .m-duigou:after{width:25px;height:3px;bottom:0;-webkit-animation:dgRight 0.5s linear 0.5s 1 both;animation:dgRight 0.5s linear 0.5s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@keyframes circle-opacity {from {opacity:1;transform:scale(0);}
to {opacity:0.5;transform:scale(1);}
}

.footer{margin-top: 0}
/*国籍区号弹窗*/
.formCommon .inpbox{position: relative;}
.formCommon .inpbox .areaCode{top: 25px;line-height: 40px;border-radius: 4px 0 0 4px;bottom: 2px;left: 2px;}
.formCommon .inpbox .areaCode_wrap{width:352px;top: 68px;}
.formCommon input#team_phone{padding-left: 70px;}