@charset "utf-8";


.main-right {width: 270px;float: right; }
.main-left {float: left;width: 909px}
.main{margin-top: 22px;min-width: 1200px}
.red{color: #F54D0C}
.orange{color: #A67562}
.green{color: #20C576}
/*头部*/
.wrap_header{margin-top:38px;overflow:hidden;background:#F8F8F8;    box-sizing: border-box;}
.wrap_header .left_img{width: 600px;height: 436px;float: left;margin-right:40px }
.wrap_header .left_img img{width: 100%;height: 100%;}
.wrap_header .right_b{float: left;width: 560px;position: relative;padding-top: 28px;}
.wrap_header .right_b .vill_title{font-weight:bold;font-size: 24px;color: #333;display: inline-block;margin-right: 33px;max-width: 368px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.wrap_header .right_b ul{margin-top: 0}
.wrap_header .right_b ul li{font-size: 14px;color: #666;margin-top: 16px;position: relative;float: left;width: 50%}
.wrap_header .right_b li span{display: inline-block;overflow:hidden;vertical-align: top}
.wrap_header .right_b li span:first-child{color: #a0a0a0;}
.com_con{margin-top: 75px}
.com_con .re_img {float: left;width: 56px;height: 56px;border: 1px solid #eee;border-radius: 50%;margin-right: 13px;}
.com_con .re_img img {width: 100%;height: 100%;border-radius: 50%}
.com_con .re_img a{    display: block;z-index: 2;position: relative;}
.com_con .re_txt{position: relative;}
.com_con .re_top{height: 28px}
.com_con .re_top a{font-size: 18px;font-weight: bold;color: #333;max-width: 600px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: inline-block;}
.com_con .re_top i{display: inline-block;background-size: 21px 23px;   width: 21px;height: 23px;    vertical-align: top;margin-top: 3px;}
.com_con .re_top .defend{background: url(../images/defend.png) center center no-repeat;margin-right: 9px;margin-left: 13px}
.com_con .re_top .certify{background: url(../images/certify.png) center center no-repeat;}
.com_con .re_phone{font-size: 20px;color: #F54D0C;font-weight: bold;}
.com_con .re_phone a{color: #F54D0C;padding-left: 36px;background: url(../images/forman/icons.png);background-repeat:no-repeat;background-position: -12px -16px;} 

/*设计师 工长*/
.com_con.selfCon .re_top{height: 60px;line-height: 60px;}
.com_con.selfCon .re_top a{max-width:150px;}
.selfCon .re_top span{display: inline-block;vertical-align:top;font-size: 14px;color: #A0A0A0;margin-left: 14px;margin-top: 1px}
.lxCon {position: absolute;right: 20px; top: 13px;}
.lxCon .contact{width: 98px;height: 32px;cursor: pointer;position: relative;border-radius: 2px;display: inline-block;margin-left: 22px;border:1px solid #E6E6ED;    background: #fff;}
.lxCon .contact img{width:76px;height:14px;position:absolute;top:0;left:0;right:0;bottom:0;display: block;margin:auto;}
.lxCon .contact:hover{box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);-moz-box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);-webkit-box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);
-ms-box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);}
.lxCon a.ljyy{display: inline-block;background: #F54D0C;height: 34px;line-height: 34px;text-align: center;width: 107px;font-size: 14px;color: #fff;vertical-align:top;}

.otherInfo{font-size: 0}
.otherInfo dl{display: inline-block;font-size: 0;color: #333;width:30%;margin-top:20px;}
.otherInfo dl dt,.otherInfo dl dd{display: inline-block;font-size: 14px;vertical-align: top;}
.otherInfo dl dt{color: #A0A0A0;margin-right: 10px;}
.otherInfo dl dd{max-width: 100px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.prove{margin-top: 24px;}
.prove p{display: inline-block;margin-right: 16px;color: #888}
.prove p span{display: inline-block;font-size: 14px}
.prove p span:first-child{padding: 4px 8px;color: #fff;margin-right: 8px}
.prove p.anli span:first-child{background: #7FD8B5}
.prove p.site span:first-child{background: #CFBBA1}
.prove p.forman span:first-child{background: #A7BBF5}
.prove p.artist span:first-child{background: #f7a788}

.btn_group{position: absolute;top:33px;right: 20px;}
.btn_group button{background: none; border: none; outline: none; cursor: pointer; font-size: 14px; color: #878787;display: block; }
.btn_group>a{float: left;margin-left: 28px}
.btn_group button> em{display: inline-block; width: 20px; height: 20px; background-repeat: no-repeat;  vertical-align: top; margin-right: 8px;}
.store-btn button em{background-image: url(../images/like.png); background-position: top left; background-repeat: no-repeat; }
.share-btn button em{background-image: url(../images/share.png); background-position: center left; background-repeat: no-repeat; }
.store-btn.curr button{color:#F54D0C }
.store-btn.curr button em{background-image: url(../images/collect.png); background-position: top left; background-repeat: no-repeat; }

/*左侧内容*/
.tab_container{border:1px solid #eee;}
.vill_tab{width: 100%;background: #f8f8f8;overflow:hidden;position: relative;}
.vill_tab li{height: 50px;line-height: 50px;float: left;width: 110px;text-align: center;font-size: 16px;color: #333;cursor: pointer;border-right: 1px solid #eee}
.vill_tab li:first-child{width: 100px}
.vill_tab:after{content: '';position: absolute;height: 1px;width: 909px;background:#eee;top: 51px;right: 0;left: 0}
.vill_tab li.active{background: #fff;border-top: 2px solid #f54d0c;position: relative;z-index: 1}


.tab_content{padding: 50px 55px 20px;}
.tab_content .lay_head{font-size: 18px;color: #333;font-weight: bold;margin-bottom: 20px}
.lay_con{width: 100%;height: auto}
.lay_con img{display: block;margin-bottom: 30px;max-width: 100%}
/*周边楼盘推荐*/
.recom .new_reno{border-bottom: 1px dashed #eee;}
.recom ul{}
.recom ul li{position: relative;border-top: 1px solid #eee;padding: 20px;}
.recom ul li:first-child{border-top:none;}
.recom ul li .recom_img{width: 230px;height: 153px;}
.recom ul li .recom_img img{width: 100%;height:100%; object-fit: cover;}
.recom .reno4_bottom .anli_title{font-size: 18px;color: #333;font-weight: bold;margin-top: 8px}
.recom .reno4_bottom .anli_info{font-size: 14px;color: #A0A0A0;margin-top: 8px}

