@charset "utf-8";
.nav{background: #525252;box-shadow:0px 3px 8px 0px rgba(82,82,82,0.5);height: 52px;line-height: 52px}
.nav li a{height: 52px;line-height: 52px;padding: 0 25px;width: auto;}
.nav li a:hover, .nav li a.curr{background: #454545}
.main-left {width: 270px;float: left}
.main-right {box-shadow:0px 2px 6px 0px rgba(203,203,203,0.2);background: #fff;margin-left: 286px;}
.main_wrap{background: #f8f8f8;padding-bottom: 50px;padding-top: 34px;min-width:1200px;}
/*公共头部样式*/
.aside_head{width: 100%;box-sizing: border-box;padding:0 20px;height: 40px;line-height: 40px;background: #E4E4E5}
.aside_head h3{float:left;font-size: 16px;color: #333;}
.aside_head p{float: right;font-size: 14px;color: #959595;}
.footer{margin-top: 0}
/*公共左侧*/
.lf_boxshadow{box-shadow:0px 2px 6px 0px rgba(203,203,203,0.2);background: #fff;margin-bottom: 20px}
/*左一*/
.lf_forman1{padding:27px 15px 20px;text-align: center;}
.lf_forman1 .top_b{width: 152px;height: 152px;margin:0 auto 17px;border:1px solid #eee;}
.lf_forman1 .top_b img{width: 100%;height: 100%;object-fit: cover;}
.lf_forman1 .lf_name{font-size: 18px;color: #333;}
.lf_forman1 .lf_name img{vertical-align: middle;margin-left: 8px;    margin-top: -5px;}
.lf_forman1 .lf_phone{font-size: 20px;color: #F54D0C;font-weight: bold;height: 42px;line-height: 42px;width: 204px;text-align: center;margin: 30px auto 0;background: #FFF2ED;border:1px solid #F54D0C;border-radius: 4px;}
.lf_forman1 .lf_phone a{color: #F54D0C;padding-left: 36px;background: url(../images/forman/icons.png);background-repeat:no-repeat;background-position: -12px -16px;}
.lf_forman1 .lf_phone a em{    font-size: 16px;display: inline-block;vertical-align: middle; margin-top: -5px;}
.lf_forman1 .lf_ul{margin-top: 11px;text-align: left;}
.lf_forman1 .lf_ul li{font-size: 14px;color: #333;line-height: 22px;padding: 15px 0}
.lf_forman1 .lf_ul li:first-child{border-bottom: 1px dashed #DCDCDC}
.lf_forman1 .lf_ul li p:first-child{color: #A0A0A0;}
.lf_forman1 .lf_ul li .lf_addr{}
.lf_forman1 .lf_ul .lf_addr em{background: url(../images/forman/icons.png);background-repeat:no-repeat;display:inline-block;background-position: -19px -189px;width: 11px;height: 19px;margin-left: 8px;vertical-align: middle; margin-top: -6px;}
/*左表单*/
.design_content{padding: 16px;display: block;}
.design_content .free_tab li{font-size: 16px;height: 42px;line-height: 42px;color: #333;border-bottom:2px solid #fff;width: 84px;text-align: center;float: left;width: 84px;text-align: center;cursor: pointer;}
.design_content .free_tab li.active{border-bottom:2px solid #f54d0c; color: #f54d0c;font-weight: bold}
.design_content .free_tab .free_design{margin-left: 65px}
.design_content .design_num{text-align: center;font-size: 14px;color: #333;background: #f8f8f8;margin-top: 14px;height: 36px;line-height: 36px}
.design_content .design_num span{color: #f54d0c}
.design_content input{width: 100%;height: 40px;line-height: 40px;padding-left: 12px;border:1px solid #eee;border-radius: 4px;font-size: 14px;color: #333;margin-top: 16px;box-sizing: border-box;}
.design_content input::placeholder{color: #a0a0a0}
.design_content input.has-error {border:1px solid #E66C12 !important;}
.design_content .design_submit{border-radius: 4px;background-color: rgb(245, 77, 12);box-shadow: 0px 3px 8px 0px rgba(245, 77, 12, 0.36);-moz-box-shadow: 0px 3px 8px 0px rgba(245, 77, 12, 0.36);-webkit-box-shadow: 0px 3px 8px 0px rgba(245, 77, 12, 0.36);width: 100%;height: 50px;line-height: 50px;color: #fff;font-size: 16px;text-align: center;margin-top: 23px;cursor:pointer;position: relative;}
.design_content .design_submit:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);}

.design_content  .form-row {position: relative;color: #333;margin-top: 16px}
.design_content  .form-row select {width: 111px;height:40px;float: left;padding-left:12px;margin-right: 16px;border:1px solid;border-color:#ebebeb;font-size: 14px;color: #999;-webkit-appearance:none;background: #fff url(../images/sortDown.png) no-repeat 85px center;border-radius: 4px}
.design_content  .form-row select.select_r{margin-right: 0}
.house_type select{background: #fff url(../images/sortDown.png) no-repeat 241px center;width: 100%;height:42px;padding-left:14px;font-size: 14px;color: #a0a0a0;-webkit-appearance:none;margin-top: 16px;border-radius: 4px;    border:1px solid #eee;}
.house_area{position: relative;}
.house_area .mills{position: absolute;right: 8px;top: 27px;color: #333;font-size: 14px;}
.design_content .con{display: none;-webkit-animation: rightFadeIn .5s ease-out;-moz-animation: rightFadeIn .5s ease-out;animation: rightFadeIn .5s ease-out;}
.design_content .con_show{display: block;}

/*右侧内容*/
/*简介*/
.lr_profile .aside_head{padding-left: 4px}
.lr_profile .aside_head li{font-size: 16px;color: #333;float: left;width: 120px;text-align: center;cursor: pointer;}
.lr_profile .aside_head li.active{background: #fff}
.lr_profile .pro_content{display: none;-webkit-animation: rightFadeIn .5s ease-out;-moz-animation: rightFadeIn .5s ease-out;animation: rightFadeIn .5s ease-out;    padding: 24px;}
.lr_profile .des_show{display: block;}
.pro_con{padding: 0 50px 20px}
.pro_con .pro_img{width: 600px;height: auto;margin: 37px auto}
.pro_con .pro_img img{width:auto!important;height:auto!important;max-width:100%!important;max-height:100%!important;text-indent:0!important;display:block;margin:0 auto;}
.pro_con .pro_title{font-weight: bold;font-size: 16px;color: #333}
.pro_con p{font-size: 14px;color: #333;line-height: 28px;text-indent: 2em;margin-top: 20px;text-indent:0!important;}
.pro_con img{width:auto!important;height:auto!important;max-width:100%!important;max-height:100%!important;text-indent:0!important;display:block;margin:0 auto;}
.pro_con section{margin:0 auto!important;max-width:800px!important;}
.pro_con section img{margin-bottom:10px!important;}
/*荣誉资质*/
.honor_content{padding: 33px 33px 0 38px}
.honor_content ul li{width: 270px;margin-bottom: 15px;margin-right: 15px;float: left;}
.honor_content ul li:nth-child(3n){margin-right: 0}
.honor_content .honor_img{width: 270px;height: 200px;border:1px solid #eee;text-align: center;}
.honor_img img{width: auto;height: 200px;}
.honor_tit{font-size: 14px;color: #a0a0a0;width: 100%;overflow: hidden;height: 40px;line-height: 40px}

/* 公司动态 */

.dy_content .list {margin-top: 20px;}
.dy_content .list li {padding: 25px 25px;border-top: 1px solid #eee;overflow:hidden;}
.dy_content .list li:first-child{border-top: none}
.dy_content .list .pic {float: left;margin-right: 20px}
.dy_content .list .pic ,.dy_content .list .pic img {display: block;width: 154px;height: auto;}
.dy_content .list .txt {    overflow: hidden;}
.dy_content .list .txt .bt {display: block;margin-bottom:10px;font-size: 18px;color: #333;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;cursor: pointer;}
.dy_content .list .txt .bt:hover {text-decoration: underline;color: #ff6c00;}
.dy_content .list .txt .des {height: 66px;line-height: 22px;margin-bottom: 8px;font-size: 14px;color: #a0a0a0;overflow: hidden;cursor: default;}
.dy_content .list .txt .d {color: #ff6c00;}
.dy_content .list .txt .d:hover {text-decoration: underline;color: #ff6c00;}
.dy_content .list .txt .t {height: 30px;line-height: 30px;font-size: 14px;color: #a0a0a0;cursor: default;}
.dy_content .list li:hover{background: #f8f8f8;}
/*动态详情*/
.dynamic{padding:40px 22px;}
.dynamic .ar_head{padding-bottom: 40px;border-bottom: 1px solid #eee;}
.dynamic .ar_head h1{font-size: 30px;color: #333;}
.dynamic .ar_head .public_time{font-size: 14px;color: #a0a0a0;margin-top: 10px}
.dynamic .ar_con{padding-top: 35px;}
.dynamic p{font-size: 16px;color: #666;}
.dynamic .art_img{width: 600px;height: 400px;margin: 34px auto 0}
.dynamic .art_img img{width:auto!important;height:auto!important;max-width:100%!important;max-height:100%!important;}
.dynamic .wiki_note{line-height: 24px;margin-top: .3rem;font-size: 16px;color: #666;}
.dynamic .wiki_info2{line-height: 24px;}
.dynamic .wiki_info2 .dyn_title{margin-top: 40px}
.dynamic .wiki_info2 .dyn_tip{margin-top: 30px}
.dynamic .wiki_info2 .dyn_content{margin-top: 20px}
/*装修效果图*/

#container{width: 870px}
.item .info{border:none;}
.info .name{float: left;max-width:180px ;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.info .num{font-size: 14px;color: #a0a0a0;float: right;}
#alumsCon{margin-left:24px;}
/*装修案例*/
#container2{width: 870px}
.item{width: 278px}
/*装修案例详情*/
.anli_content2{padding: 28px 57px 20px}
.des_top{background: #f8f8f8;padding: 25px 22px 26px;position: relative;}
.des_top .vill_title{font-weight:bold;font-size: 18px;color: #333;}
.des_top ul{overflow:hidden;}
.des_top ul li{font-size: 14px;color: #a0a0a0;margin-top: 16px;position: relative;float: left;width: 25%}
.des_top li span{display: inline-block;overflow:hidden;vertical-align: top}

.btn_group{position: absolute;top:27px;right: 32px;}
.btn_group button{background: none; border: none; outline: none; cursor: pointer; font-size: 14px; color: #878787;display: block; }
.btn_group>a{float: left;margin-left: 28px}
.btn_group button> em{display: inline-block; width: 20px; height: 20px; background-repeat: no-repeat;  vertical-align: top; margin-right: 8px;}
.store-btn button em{background-image: url(../images/like.png); background-position: top left; background-repeat: no-repeat; }
.share-btn button em{background-image: url(../images/share.png); background-position: center left; background-repeat: no-repeat; }
.store-btn.curr button{color:#F54D0C }
.store-btn.curr button em{background-image: url(../images/collect.png); background-position: top left; background-repeat: no-repeat; }
.tab_content{margin-top: 43px;}
.tab_content .lay_head{font-size: 18px;color: #333;font-weight: bold;margin-bottom: 20px}
.lay_con{width: 100%;height: auto}
.lay_con img{display: block;margin-bottom: 30px}

/*在线工地*/

/*工地*/
.red{color: #F54D0C}
.screen{width: 845px;}
.screen dt{    padding: 15px 22px 0;}
.screen dd a:hover, .screen dd a.curr{color: #F54D0C;background: #fff}
.screen dd{    padding: 15px 0 8px 15px;}
.screen dd a{padding:0;margin-right: 15px}

.site_content .num{text-align: right;font-size: 14px;color: #888;line-height: 60px;}
.site_content{padding: 15px 35px 0}
.site_list .site_con{padding: 18px 0 28px;border-top: 1px dashed #dfdfdf;overflow:hidden;}
.site_list .site_con:first-child{border-top: none;padding-top: 0}
.site_list .site_con .lf_img2{width: 192px;height: 130px;float: left}
.site_list .site_con .lf_img2 img{width: 100%;height: 100%}
.site_list .site_con .lr_content{margin-left: 220px;}
.lr_content .build_title{font-size: 16px;color: #333;font-weight: bold;padding-top: 5px}
.lr_content .build_title a{color: #333;}
.lr_content .build_info{font-size: 14px;color: #888; margin-top: 10px}
.lr_content .build_info span{display: inline-block;overflow:hidden;    vertical-align: top;}
.lr_content .build_info .city{margin-right: 10px;}
.lr_content .build_info .address{    max-width: 130px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin-right: 15px}
.lr_content .build_info ul{display: inline-block;overflow:hidden;}
.build_info ul li{padding:0 12px;border-left:1px solid #eee;display: inline-block;}
.build_info ul li:first-child{border-left:none;padding-left: 0}

.dot_ul{position: relative;    margin-top: 20px;}
.dot_ul:after{    content: '';width: 100%;height: 1px;background: #F3F3F3;position: absolute;left: 0;top: 0;z-index: 10;}
.dot_ul li{font-size: 14px;color: #A0A0A0;float: left;padding-top: 20px;    width: 18%;
    text-align: center;position: relative;}
.dot_ul li.active{color: #333;}
.dot_ul li:after{content: '';background: #fff;width: 8px;height: 8px;border:4px solid #F5F5F5;position: absolute;z-index: 20;top: -8px;left: 50%;margin-left: -12px;border-radius: 50%}
.dot_ul li.active:after{content: '';background: #fff;width: 8px;height: 8px;border:4px solid #F54D0C;position: absolute;z-index: 20;top: -8px;left: 50%;margin-left: -12px;border-radius: 50%}

/*工地详情*/
.build_content{padding: 30px }
.site_detail .site_con{padding: 0 0 28px;overflow: hidden;}
.site_detail .site_con .lf_img2{width: 250px;height: 175px;float: left}
.site_detail .site_con .lf_img2 img{width: 100%;height: 100%}
.site_detail .site_con .lr_content{margin-left: 280px;}
.site_detail .lr_content .build_title{padding-top: 0}
.site_detail .dot_ul{height: 41px;margin-top: 27px}
.site_detail .dot_ul:after{    content: '';width: 93%;height: 1px;background: #F5F5F5;position: absolute;left: 0;top: 0;z-index: 10;}
.lr_content .visit{width: 110px;height: 34px;line-height: 34px;background: #ff552e;color: #fff;font-size: 14px;text-align: center;margin-top: 12px;cursor: pointer;}
.build_con{border-top: 1px dashed #eee;padding: 25px 0;}
.site_detail .con_first{padding-top: 18px;border-top: none;}
.build_con .buil_state{font-size: 18px;font-weight: bold;color: #F54D0C;margin-right: 15px;display: inline-block;}
.build_con .build_tit{font-size: 14px;color: #a0a0a0}
.build_con .tip{font-size: 16px;color: #333;margin-top: 10px}
.build_con ul{margin-top: 10px}
.build_con ul li{width: 160px;height: 120px; margin-right: 13px;float: left;margin-bottom: 13px;cursor: pointer}
.build_con ul li img{width: 100%;height: 100%;object-fit:cover;}
.build_con ul li:nth-child(5n){margin-right: 0}

/*图片放大弹出层*/
.viewer-container.viewer-fixed {position:fixed;z-index:8000!important;background-color:rgba(51,51,51,.8)}
.viewer-footer .viewer-toolbar {width:0}
.viewer-toolbar .viewer-next,.viewer-toolbar .viewer-prev {position:fixed;top:50%;margin-top:-30px;width:50px;height:50px;cursor:pointer;border-radius:50%;background-color:#000;background-color:rgba(0,0,0,.5)}
.viewer-toolbar .viewer-next:before {width:50px;height:50px;margin:0;background-image: url(../images/design/big-r.png);background-position: 50%;}
.viewer-toolbar .viewer-prev:before {width:50px;height:50px;margin:0;background-image:url(../images/design/big-l.png);    background-position: 50%;}
.viewer-next {right:20px}
.viewer-prev {left:20px}
.viewer-footer .viewer-toolbar>.viewer-next,.viewer-footer .viewer-toolbar>.viewer-prev {background:#000;opacity:.4}
.viewer-footer .viewer-toolbar>.viewer-next:hover,.viewer-footer .viewer-toolbar>.viewer-prev:hover {background:#000;opacity:1}
.viewer-container .viewer-button {width:38px;height:38px;top:20px;right:20px;background-color:#000;opacity:.4}
.viewer-container .viewer-button:hover {background-color:#000;opacity:1}
.viewer-container .viewer-button:before {bottom:10px;left:10px;width:18px;height:18px;background-image:url(../images/close_alert.png);    background-position: 50%;}
.viewer-footer {height:0}
.viewer-canvas {position:relative1!important}
.viewer-canvas img {position:absolute!important;top:0!important;left:0!important;bottom:0!important;right:0!important;margin:auto!important}
.viewer-footer {height:0}

/*设计师*/
.artist_content{padding: 18px 36px 0 26px}
.art_list .art_li {position: relative;padding:22px 5px 28px;background: #fff;border-top: 1px solid #eee;overflow:hidden;}
.art_list .art_li:first-child{border-top: none}
.art_list .art_li .content{margin-left: 100px;}
.art_list .art_li .pic {float: left;margin-right: 23px;width: 60px;height: 60px;}
.art_list .art_li .pic img {display: block;width: 100%;height: 100%;border-radius: 50%}

.art_list .art_li .txt {font-size: 14px;color: #666;overflow: hidden;float: left;width: 644px;}
.art_list .art_li .name {font-size: 18px;color: #333;}
.art_list .art_li .name a {display: inline-block;font-weight: bold;}
.art_list .art_li .name a:hover {color: #ff6d01;}
.art_list .art_li .name .home{display: inline-block;margin-left: 13px;color: #A0A0A0;font-size: 14px}

.art_list .art_li .grey{color: #A0A0A0}
.art_list .art_li .num {margin-top: 17px}
.art_list .art_li .num p{display: inline-block;margin-right: 30px;color: #333;font-size: 14px}
.art_list .art_li .num .grey{margin-right: 9px;}

.art_list .art_li .profile {margin-top: 20px}
.art_list .art_li .profile span{display: inline-block;overflow: hidden;}
.art_list .art_li .profile .pro_info{display: inline-block;width: 89%;text-overflow:ellipsis;white-space:nowrap;overflow: hidden;margin-left: 9px}

.art_list .art_li .profile2 span{display: inline-block;overflow: hidden;}
.art_list .art_li .profile2 .pro_info{display: inline-block;width: 89%;text-overflow:ellipsis;white-space:nowrap;overflow: hidden;margin-left: 9px}
.art_list .art_li .red {font-size: 18px;color: #f00;}
.art_list .art_li .tel {position: absolute;top: 27px;right: 0}
.art_list .art_li .go_order{display: inline-block;width: 107px;height: 34px;background:#F54D0C;text-align: center;color: #fff;font-size: 14px;border:1px solid #F54D0C;line-height: 34px;cursor: pointer;}
.art_list .art_li .go_order:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;
	background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);}
/*工长*/
.forman_content{padding: 18px 36px 0 26px}
.forman_list li {position: relative;padding:20px 5px 25px;background: #fff;border-top: 1px solid #eee;overflow:hidden;}
.forman_list li:first-child{border-top: none}
.forman_list li .content{margin-left: 100px;}
.forman_list li .pic {float: left;margin-right: 23px;}
.forman_list li .pic img {display: block;width: 77px;height: 77px;border-radius: 50%}

.forman_list li .txt {font-size: 14px;color: #666;overflow: hidden;float: left;width: 594px;padding-right: 27px;}
.forman_list li .name {font-size: 18px;color: #333; margin-top: 10px;}
.forman_list li .name a {display: inline-block;font-weight: bold;}
.forman_list li .name a:hover {color: #ff6d01;}
.forman_list li .name .home{display: inline-block;margin-left: 13px;color: #A0A0A0;font-size: 14px}
.forman_list li .prove{margin-top: 14px;}
.forman_list li .prove p{display: inline-block;margin-right: 24px;color: #888}
.forman_list li .prove p span{display: inline-block;}
.forman_list li .prove p span:first-child{padding: 4px 8px;color: #fff;margin-right: 8px}
.forman_list li .prove .article span:first-child{background: #7FD8B5}
.forman_list li .prove .photo span:first-child{background: #CFBBA1}
.forman_list li .prove .visit span:first-child{background: #A7BBF5}
.forman_list li .grey{color: #A0A0A0}
.forman_list li .num {margin-top: 17px}
.forman_list li .num p{display: inline-block;margin-right: 30px;color: #333;font-size: 14px}
.forman_list li .num .grey{margin-right: 9px;}
.forman_list li .profile {margin-top: 8px}
.forman_list li .profile span{display: inline-block;overflow: hidden;}
.forman_list li .profile .pro_info{display: inline-block;width: 88%;text-overflow:ellipsis;white-space:nowrap;overflow: hidden;margin-left: 9px}

.forman_list li .red {font-size: 18px;color: #f00;}

.forman_list li .tel {float: right;text-align: center;padding-top: 39px}
.forman_list li .phone {font-size: 20px;color: #F54D0C;font-weight: bold;position: absolute;top: 30px;right: 0}
.forman_list li .phone a{color: #F54D0C;padding-left: 36px;background: url(../images/forman/icons.png);background-repeat:no-repeat;background-position: -12px -16px;} 
.forman_list li .go {display: block;text-align: right;}
.forman_list li .go span{display: inline-block;width: 107px;height: 34px;background:#fff;text-align: center;color: #F54D0C;font-size: 14px;border:1px solid #F54D0C;line-height: 34px;margin-top: 22px;margin-bottom: 10px}
.forman_list li .go span:hover{background:#fff4f2 }
.forman_list li .go_order{display: inline-block;width: 107px;height: 34px;background:#F54D0C;text-align: center;color: #fff;font-size: 14px;border:1px solid #F54D0C;line-height: 34px;cursor: pointer;position: relative;}

	.forman_list li .go_order:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;
	background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);}
/*预约列表*/
.lr_order{padding-bottom:3px;}
.order_list{margin:27px;border: 1px solid #eee;padding-top: 15px}
.order_list ul{padding: 0 17px;}
.order_list li {height: 40px;line-height: 40px;font-size: 14px;color: #333;border-bottom: 1px solid #e7e7e7;text-align: center;overflow: hidden;}
.order_list li span {display: inline-block;float: left;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;text-align:center;height: 40px;}
.order_list li span.user {width: 13%;}
.order_list li span.info {width: 42%;}
.order_list li span.address{width: 30%;}
.order_list li span.time {width: 15%;color: #a0a0a0}
/*联系我们*/
.con_content{padding-left: 66px;padding-top: 45px;padding-bottom: 40px}
.com_title{font-size: 20px;font-weight: bold}
.contact_wrap ul{margin-top: 18px}
.contact_wrap ul li{font-size: 16px;margin-bottom: 13px}
.contact_wrap2{margin-top: 30px;padding-right: 144px}
#allmap{width:100%;height:580px;}
/*立即预约弹出层*/
.order_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.order_container{position: fixed; left: 50%; margin-left: -265px; top: 50%; margin-top: -140px; width: 530px;  box-sizing: border-box;background-color:#fff;  padding: 20px 20px 23px; z-index: 9999; }
.order_container .close_alert{width: 16px;height: 16px;position: absolute;right: 20px;top: 20px}
.order_container p.t1{margin-top: 19px;font-size: 16px;font-weight: bold;color: #333;text-align: center;}
.order_container p.t2{margin-top: 20px;line-height: 26px;color: #a0a0a0;font-size: 14px;}
.order_container p.t3{border:1px solid rgb(229, 229, 229);color: #a0a0a0;width: 99px;height: 34px;text-align: center;line-height: 34px;margin: 5px auto 0}
/* 波纹效果 */
.order_container .wave {position:relative;width:50px;height:50px;text-align:center;margin:35px auto 0;}
.order_container .m-box{width:50px;height:50px;position:relative;margin: 0 auto;border-radius:50%;border:3px solid #f6571a}
.order_container .m-duigou{width:25px;height:18px;position:absolute;left:50%;top:50%;margin:-13px 0 0 -13px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden}
.order_container .m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#f6571a;border-radius:2px}
.order_container .m-duigou:before{width:3px;height:15px;left:0;-webkit-animation:dgLeft 0.5s linear 0s 1 both;animation:dgLeft 0.5s linear 0s 1 both}
.order_container .m-duigou:after{width:25px;height:3px;bottom:0;-webkit-animation:dgRight 0.5s linear 0.5s 1 both;animation:dgRight 0.5s linear 0.5s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@keyframes circle-opacity {from {opacity:1;transform:scale(0);}
to {opacity:0.5;transform:scale(1);}
}

/*立即获取报价弹出层*/
.price_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.price_container{position: fixed; left: 50%; margin-left: -265px; top: 50%; margin-top: -140px; width: 530px;  box-sizing: border-box;background-color:#fff;  padding: 20px 20px 23px 23px; z-index: 9999; }
.price_container .close_alert{width: 16px;height: 16px;position: absolute;right: 20px;top: 20px}
.price_container p.t1{margin-top: 19px;font-size: 16px;font-weight: bold;color: #333;text-align: center;}
.price_container p.t2{margin-top: 20px;line-height: 26px;color: #a0a0a0;font-size: 14px;}
.price_container p.t3{cursor:pointer;border:1px solid rgb(229, 229, 229);color: #a0a0a0;width: 99px;height: 34px;text-align: center;line-height: 34px;margin: 20px auto 0}
.price_container ul{font-size: 0;margin-top: 20px;}
.price_container ul li{}
.price_container ul li span:first-child{font-size: 14px;color: #333;}
.price_container ul li span:first-child+span{font-size: 16px;color: #f54d0c;}
.price_container ul li span.bao_price{font-size: 18px;color: #f54d0c;font-weight: bold;}

/*预约弹出层*/
.order_mask2{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.order_container2{position: fixed; left: 50%; margin-left: -299px; top: 50%; margin-top: -240px; width: 598px;  box-sizing: border-box;background-color:#fff;  padding: 50px 123px 32px; z-index: 9999; }
.order_container2 .close_alert{width: 51px;height: 51px;position: absolute;right: 5px;top: 10px;cursor: pointer;}
.order_container2 p.t1{font-size: 20px;color: #333;font-weight: bold;text-align: center;}
.order_container2 form .free_p{background: #f5f5f5;border: 1px solid #e5e5e5;font-size: 14px;color: #a0a0a0;height: 50px;line-height: 50px;padding-left: 18px;margin-top: 20px;padding-right: 12px;position: relative;}
.order_container2 .free_p .free_con{float: right;color: #333;text-align: right;}
.home_area{padding-right: 22px}
.mill{position: absolute;right: 12px;color: #333}
.order_container2 form input{border: 1px solid #e5e5e5;background: #fff;padding-left: 18px;height: 50px;line-height: 50px;-webkit-appearance:none;margin-top: 20px;font-size: 14px;color: #333;width: 100%;box-sizing: border-box;}
.order_container2 form input::placeholder{color: #a0a0a0}
.order_container2 p.t2{font-size: 20px;color: #333;text-align: center;width: 100%;height: 50px;line-height: 50px;box-shadow: 0px 3px 8px 0px rgba(255, 90, 0, 0.6);background: #ff5a00;width: 100%;margin-top: 20px;color: #fff;font-size: 16px;cursor: pointer;}
.order_container2 p.t3{font-size: 14px;color: #a0a0a0;margin-top: 30px;}

/*预约成功弹出层 v1*/
.order_mask3{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.order_container3{position: fixed; left: 50%; margin-left: -223px; top: 50%; margin-top: -140px; width: 446px;  box-sizing: border-box;background-color:#fff;  padding: 20px 20px 38px; z-index: 9999; }
.order_container3 .close_alert{width: 51px;height: 51px;position: absolute;right: 5px;top: 15px;cursor: pointer;}
.order_container3 p.t1{font-size: 16px;color: #333;text-align: center;margin-top: 15px}
.order_container3 p.t2{color: #a0a0a0;font-size: 14px;text-align: center;}
.order_container3 p.t3{color: #a0a0a0;width: 113px;height: 38px;text-align: center;line-height: 38px;margin: 60px auto 0;border-radius: 4px;font-size: 14px;border:1px solid #eee;cursor: pointer;}
/* 波纹效果 */
.order_container3 .wave {position:relative;text-align:center;margin:50px auto 0;}
.order_container3 .m-box{width:50px;height:50px;position:relative;margin: 0 auto;border-radius:50%;border:3px solid #f6571a;display: inline-block;vertical-align: middle;background: #ffe2e2;    margin-top: -6px;}
.order_container3 .m-duigou{width:25px;height:18px;position:absolute;left:50%;top:50%;margin:-13px 0 0 -13px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden}
.order_container3 .m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#f6571a;border-radius:2px}
.order_container3 .m-duigou:before{width:3px;height:15px;left:0;-webkit-animation:dgLeft 0.5s linear 0s 1 both;animation:dgLeft 0.5s linear 0s 1 both}
.order_container3 .m-duigou:after{width:25px;height:3px;bottom:0;-webkit-animation:dgRight 0.5s linear 0.5s 1 both;animation:dgRight 0.5s linear 0.5s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@keyframes circle-opacity {from {opacity:1;transform:scale(0);}
to {opacity:0.5;transform:scale(1);}
}


/*团队预约弹出层*/
.team_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.team_con{position: fixed; left: 50%; margin-left: -299px; top: 50%; margin-top: -240px; width: 598px;  box-sizing: border-box;background-color:#fff;  padding: 50px 123px; z-index: 9999; }
.team_con .close_alert{width: 51px;height: 51px;position: absolute;right: 5px;top: 10px;cursor: pointer;}
.team_con p.t1{font-size: 20px;color: #333;font-weight: bold;text-align: center;}
.team_man{color: #f54d0c;font-weight: bold}
.team_con form{padding-top: 20px;}
.team_con form input{border: 1px solid #e5e5e5;background: #fff;padding-left: 18px;height: 50px;line-height: 50px;-webkit-appearance:none;margin-top: 20px;font-size: 14px;color: #333;width: 100%;box-sizing: border-box;}
.team_con form input::placeholder{color: #a0a0a0}
.team_con .form-row {position: relative;color: #333;margin-top: 20px}
.team_con .form-row select {width: 166px;height:40px;float: left;padding-left:12px;margin-right: 20px;*margin-top:8px;border:1px solid;border-color:#ebebeb;font-size: 14px;color: #999;-webkit-appearance:none;background: #fff url(../images/sortDown.png) no-repeat 143px center;border-radius: 4px}
.team_con .form-row select.select_r{margin-right: 0}
.team_con p.t2{font-size: 20px;color: #333;text-align: center;width: 100%;height: 50px;line-height: 50px;box-shadow: 0px 3px 8px 0px rgba(255, 90, 0, 0.6);background: #ff5a00;width: 100%;margin-top: 20px;color: #fff;font-size: 16px;cursor: pointer;}
.team_con p.t3{font-size: 14px;color: #a0a0a0;margin-top: 30px;}

/*团队预约成功弹出层*/
.team_mask2{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.team_con2{position: fixed; left: 50%; margin-left: -183.5px; top: 50%; margin-top: -140px; width: 367px;  box-sizing: border-box;background-color:#fff;  padding: 20px 20px 23px; z-index: 9999; }
.team_con2 .close_alert{width: 51px;height: 51px;position: absolute;right: 5px;top: 10px;cursor: pointer;}
.team_con2 p.t1{margin-top: 19px;font-size: 16px;font-weight: bold;color: #333;text-align: center;}
.team_con2 p.t3{border:1px solid rgb(229, 229, 229);color: #a0a0a0;width: 113px;height: 38px;text-align: center;line-height: 38px;margin: 25px auto 0;cursor: pointer;}
/* 波纹效果 */
.team_con2 .wave {position:relative;width:50px;height:50px;text-align:center;margin:35px auto 0;}
.team_con2 .m-box{width:50px;height:50px;position:relative;margin: 0 auto;border-radius:50%;border:3px solid #f6571a;background: #ffe2e2}
.team_con2 .m-duigou{width:25px;height:18px;position:absolute;left:50%;top:50%;margin:-13px 0 0 -13px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden}
.team_con2 .m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#f6571a;border-radius:2px}
.team_con2 .m-duigou:before{width:3px;height:15px;left:0;-webkit-animation:dgLeft 0.5s linear 0s 1 both;animation:dgLeft 0.5s linear 0s 1 both}
.team_con2 .m-duigou:after{width:25px;height:3px;bottom:0;-webkit-animation:dgRight 0.5s linear 0.5s 1 both;animation:dgRight 0.5s linear 0.5s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@keyframes circle-opacity {from {opacity:1;transform:scale(0);}
to {opacity:0.5;transform:scale(1);}
}
/* 幻灯 */
.slide-box{width: 100%;position: fixed;top: 0;left: 0;height: 100%;background: rgba(0,0,0,.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);display: none;z-index: 9999}
.slide-box .close{position: absolute;height: 36px;width: 36px;line-height: 34px;text-align: center; top: -18px;right: -18px;background: rgba(0,0,0,.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);border-radius: 50%;cursor: pointer;}
.close img{display: inline-block;vertical-align: middle;}
.slide {position: absolute;top: 25px; bottom: 25px;left: 0;right: 0; width: 1200px;margin: auto;max-height: 875px;z-index: 2;background-color: #fff;padding: 20px 30px;box-sizing: border-box;border-radius: 5px;}
#slide_big {position: absolute; z-index: 1; overflow: hidden; width: 1140px;top: 50px;bottom: 130px;}
.slideinfo{position: absolute;top: 0;left: 0;width: 1140px;}
#slide_big .loading {position: absolute;left:0;top:0;width: 100%;height: 100%;background-color: #fff;background-image:url(../images/dloading.gif);background-position: center center;background-repeat:no-repeat;opacity:.4;filter:alpha(opacity=40);}
.big-item {position: absolute;left:0;top:0;width: 100%;height: 100%;display: none;}
.big-item .big-pic {text-align: center;position: absolute;top: 45px;bottom: 0;width: 1140px;}
.big-item .big-pic i {display: inline-block; height: 100%; vertical-align: middle;}
.big-item img {max-width: 100%; max-height: 750px;height: 100%; display: inline; z-index: 0; vertical-align: middle; -ms-interpolation-mode: bicubic;}
.slidebtn {position: absolute; z-index: 2; right: 0; bottom: 90px; width: 110px;height: 55px; line-height: 55px;font-size: 35px; color: #fff; text-align: right; background:#00ba88;color: #fff;font-size: 36px;font-family: "宋体";font-weight: bold;text-align: center;font-style: italic;}
.slidebtn div {padding:0 10px;}
.slidebtn .atpage {padding-right: 5px;}
.slidebtn .tpage {font-size: 24px; padding-left: 2px;}
.slidebtn a {float: left; width: 45px; height: 37px; display: block; background-color: #ccc; margin-left: 1px;}
.slidebtn a:hover {background-color: #d33;}
.slidebtn a s {width: 14px; height: 24px; display: block; margin: 7px auto 0; background-position: -107px -3px;}
.slidebtn a.prev s {background-position: -91px -3px;}

.slide-span span{font-size: 14px;color: #999999;line-height: 28px;padding: 0 15px;background-color: #f0f0f0;border-radius: 20px;display: inline-block;vertical-align: top;margin: 0 5px;}
.slide .slideinfo h3 {font-size: 24px;color: #333;display: block;width: 100%;text-align: center;line-height: 35px;}
.slide .slideinfo h3 a {display: block; color: #fff; font-size: 28px; line-height: 45px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

#slidebtn_prev , #slidebtn_next {position: absolute;top:50%;margin-top: -22px;width: 44px;height: 44px;border-radius: 50%;background: rgba(0,0,0,.34);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);z-index: 99;}
#slidebtn_prev:hover , #slidebtn_next:hover{background: rgba(0,0,0,.7);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);}
#slidebtn_prev s, #slidebtn_next s,#slidebtn2_prev s, #slidebtn2_next s{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-repeat: no-repeat;background-position: center;}
#slidebtn_prev s{background-image: url(../images/design/big-l.png)}
#slidebtn_next s{background-image: url(../images/design/big-r.png)}
#slidebtn_prev {left:30px;}
#slidebtn_next {right:30px;}
#slidebtn2_prev s{background-image: url(../images/design/small-l.png)}
#slidebtn2_next s{background-image: url(../images/design/small-r.png)}


#slide_small {position: absolute;overflow: hidden;text-align: center;width: 1140px;bottom: 20px;}
#slide_small .spbox {margin:0 10px;overflow: hidden;font-size: 0;position: relative;display: inline-block;max-width: 860px;}
.picsmall {position: relative;margin: 0 auto;}
.picsmall a {display: block;float: left;margin-right: 8px;position: relative;font-size: 0;width: 88px;height: 91px;border-radius: 5px;}
.picsmall img {display: block;width:100%;height: 100%;}
.picsmall .active{border: 2px solid #f97126;width: 84px;height: 87px;}
.picsmall .active img {border-color: #fff;opacity:1;filter:alpha(opacity=100);}
.picsmall li.active img {border:1px solid #fff;}
.picsmall a div{position: absolute;bottom: 5px;right: 5px;border-radius: 20px;background: rgba(0,0,0,.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);color: #fff;line-height: 18px;font-size: 12px;padding: 0 8px;}
.picsmall a div span{vertical-align: top;}
.prevbox{border-radius: 5px;overflow: hidden;width: 88px;height: 91px;display: none;position: relative;cursor: pointer;}
.prevbox img{width: 100%;height: 100%;display: block;}
.span-bg{background: rgba(0,0,0,.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.prevbox b{display: block;width: 100%;color: #fff;line-height: 35px;margin-top: 10px;}
.prevbox span{color: #fff;padding: 0 5px;box-sizing: border-box;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}

#slidebtn2_prev , #slidebtn2_next {position: absolute;top:0;width: 28px;height: 90px;}
#slidebtn2_prev ,#slidebtn2_prev.disabled:hover {left:0;background-position: 0 -197px;}
#slidebtn2_next ,#slidebtn2_next.disabled:hover{right:0;background-position: -28px -197px;}
#slidebtn2_prev.disabled ,#slidebtn2_next.disabled {cursor: default;}
#slidebtn2_prev:hover {background-position: -57px -197px}
#slidebtn2_next:hover {background-position: -82px -197px}

#pglistk {display: none;position: absolute;left:0;bottom:0;width: 100%;height: 90px;}
#pagerlist {margin:0 28px;padding:4px 0;}
#pagerlist a {display: block;float: left;width: 120px;height: 80px; margin-right: 8px;}


/*国籍区号弹窗*/
.formCommon .inpbox{position: relative;}
.formCommon .inpbox .areaCode{top: 17px;line-height: 40px;border-radius: 4px 0 0 4px;bottom: 2px;left: 2px;}
.formCommon .inpbox .areaCode_wrap{width: 236px;top: 55px;}
.formCommon input#order_phone{padding-left: 70px;}
.formCommon input#price_phone{padding-left: 70px;}
.formCommon input#team_phone{padding-left: 70px;}
.formCommon .inpbox .areaCode.spc_code{top: 25px;}
.formCommon .inpbox .areaCode_wrap.spe_wrap{width: 352px;top: 68px;}