@charset "utf-8";

.nav{background: #525252;box-shadow:0px 3px 8px 0px rgba(82,82,82,0.5);height: 52px;line-height: 52px}

.nav li a{height: 52px;line-height: 52px;padding: 0 25px;width: auto;}
.nav li a:hover, .nav li a.curr{background: #454545}


.main-left {width: 270px;float: left}
.main-right {float: right;width: 914px;}
.main{padding-top: 34px;}
.main_wrap{background: #f8f8f8;padding-bottom: 50px}
.lf_boxshadow{box-shadow:0px 2px 6px 0px rgba(203,203,203,0.2);background: #fff;margin-bottom: 20px}
/*左一*/
.lf_forman1{padding:27px 15px 20px;text-align: center;}
.lf_forman1 .top_b{width: 152px;height: 152px;margin:0 auto 17px;border:1px solid #eee;}
.lf_forman1 .top_b img{width: 100%;height: 100%;object-fit: cover;}
.lf_forman1 .lf_name{font-size: 18px;color: #333;}
.lf_forman1 .lf_name img{vertical-align: middle;margin-left: 8px;    margin-top: -5px;}
.lf_forman1 .lf_phone{font-size: 20px;color: #F54D0C;font-weight: bold;height: 42px;line-height: 42px;width: 204px;text-align: center;margin: 30px auto 0;background: #FFF2ED;border:1px solid #F54D0C;border-radius: 4px;}
.lf_forman1 .lf_phone a{color: #F54D0C;padding-left: 36px;background: url(../images/forman/icons.png);background-repeat:no-repeat;background-position: -12px -16px;}
.lf_forman1 .lf_phone a em{    font-size: 16px;display: inline-block;vertical-align: middle; margin-top: -5px;}
.lf_forman1 .lf_ul{margin-top: 11px;text-align: left;}
.lf_forman1 .lf_ul li{font-size: 14px;color: #333;line-height: 22px;padding: 15px 0}
.lf_forman1 .lf_ul li:first-child{border-bottom: 1px dashed #DCDCDC}
.lf_forman1 .lf_ul li p:first-child{color: #A0A0A0;}
.lf_forman1 .lf_ul li .lf_addr{}
.lf_forman1 .lf_ul .lf_addr em{background: url(../images/forman/icons.png);background-repeat:no-repeat;display:inline-block;background-position: -19px -189px;width: 11px;height: 19px;margin-left: 8px;vertical-align: middle; margin-top: -6px;}


.lf_forman1 .lf_profile{margin-top: 14px;text-align: left} 
.lf_forman1 .pro1{font-size: 14px;color: #A0A0A0;} 
.lf_forman1 .pro2{font-size: 14px;color: #333;line-height: 23px;margin-top: 5px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;} 
/*左二*/
.lf_forman2{padding:31px 14px 18px;text-align: left;}
.lf_forman2 .com_pro{font-size: 16px;padding-bottom: 11px;border-bottom: 3px solid #F54D0C;width: 77px;position: relative;z-index: 1}
.lf_forman2 .com_pro:after{position: absolute;content: '';width:244px;height:1px;background: #eee;bottom: -4px;left: 0}
.lf_forman2 .pro_info{font-size: 14px;color: #888;line-height: 24px;display: -webkit-box;overflow: hidden;margin-top: 16px;    text-align: justify;max-height: 362px;}
.lf_forman2 .pro_info img{max-width:100%;}
.lf_forman2 .see_pro{font-size: 14px;text-align: right;margin-top: 10px}
.lf_forman2 .see_pro img{margin-left: 8px;vertical-align: middle;}
.lr_left{float: left}
.lr_right{float: right;width: 300px;}


/*焦点图*/
.PicFocus{width: 598px;height: 280px;overflow: hidden;position: relative;}
.PicFocus img{width: 598px;height: 280px;}
.PicFocus .bd{height: 280px;}
.PicFocus .bd .slideshow-item{position: relative;}
.PicFocus .bd .slideshow-item .slideinfo{   position: absolute;bottom: 0px;left: 0; right: 0;padding: 45px 80px 30px 25px;font-size: 22px;text-align: justify;background: -webkit-linear-gradient(top, #000 , transparent); background: -o-linear-gradient(top, #000, transparent); background: -moz-linear-gradient(top, #000, transparent); background: linear-gradient(to top, #000 , transparent);filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = #00ffffff, endColorstr = #ff000000);}
.PicFocus .slideshow-item .slideinfo h3 a{color:#fff;font-weight: bold;}
.PicFocus .hd{position: absolute;height: 30px;bottom: 0;left: 42%;text-align: right;}
.PicFocus .hd ul li{display: inline-block;width: 10px;height: 10px;background:#fff;opacity: .6;-moz-border-radius: 50%; -webkit-border-radius: 50%;border-radius: 50%;margin-left: 10px;cursor: pointer;}
.PicFocus .hd ul li.on{width: 30px;height: 10px;border-radius: 4px;opacity: 1;}
.PicFocus:hover .prev{display: block;}
.PicFocus:hover .next{display: block;}
.PicFocus .prev{width: 48px;height: 83px;background: rgba(0, 0, 0, 0.6);position: absolute;left: 0; top: 100px;display: none;-webkit-animation: leftFadeIn .5s ease-out;-moz-animation: leftFadeIn .5s ease-out;animation: leftFadeIn .5s ease-out;}
.PicFocus .prev:after{content: "";display: block;width: 100%;height: 100%;background: url(../images/prev.png) no-repeat center;}
.PicFocus .next{width: 48px;height: 83px;background: rgba(0, 0, 0, 0.6);position: absolute;right: 0;top: 100px;display: none;-webkit-animation: rightFadeIn .5s ease-out;-moz-animation: rightFadeIn .5s ease-out;animation: rightFadeIn .5s ease-out;}
.PicFocus .next:after{content: "";display: block;width: 100%; height: 100%;background: url(../images/next.png) no-repeat center;}
/*最新预约*/
.aside_head{width: 100%;box-sizing: border-box;padding:0 20px;height: 40px;line-height: 40px;background: #E4E4E5}
.aside_head h3{float:left;font-size: 16px;color: #333;font-weight: bold;}
.aside_head p{float: right;font-size: 14px;color: #959595;}
.aside_head p a{color: #959595;}

.newest_order{margin-top: 17px;padding-bottom: 10px;margin-bottom: 20px;background: #fff;box-shadow: 0px 2px 6px 0px rgba(203,203,203,0.2);}
.newest_order .title {font-size: 25px;color: #333;text-align: center;padding-bottom: 15px;border-bottom: 1px solid #e7e7e7;}
.newest_order .title p {line-height: 70px;}
.newest_order .title span {margin:0 5px;padding:0 4px;font-size: 20px;color: #fff;background: #f6ab2e;transition:all .3s; -webkit-transition:all .3s;}
.newest_order .title span:hover {background: #E69A19;border-radius:5px;}
.sqlist li {height: 38px;line-height: 38px;font-size: 14px;color: #333;border-bottom: 1px solid #e7e7e7;text-align: center;overflow: hidden;}

.sqlist li div {display: inline-block;float: left;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;text-align:center;height:100%;}
.sqlist li div.user {width: 15%;}
.sqlist li div.info {width: 40%;}
.sqlist li div.address{width: 30%;}
.sqlist li div.time {width: 15%;color: #a0a0a0}

.scrolldiv {height: 166px; overflow: hidden; position: relative;padding:0 14px;    margin-top: 17px;}
/*表单*/
.lr_right{background:#fff;}
.lr_right .design_content{padding: 16px 16px 30px;display: block;box-shadow: 0px 2px 6px 0px rgba(203,203,203,0.2);height: 484px}

.lr_right .free_tab li{font-size: 16px;height: 42px;line-height: 42px;color: #333;border-bottom:2px solid #fff;width: 84px;text-align: center;float: left;width: 84px;text-align: center;cursor: pointer;}
.lr_right .free_tab li.active{border-bottom:2px solid #f54d0c; color: #f54d0c;font-weight: bold}
.lr_right .free_tab .free_design{margin-left: 65px}
.lr_right .design_content .design_num{text-align: center;font-size: 14px;color: #333;background: #f8f8f8;margin-top: 14px;height: 36px;line-height: 36px}
.lr_right .design_content .design_num span{color: #f54d0c}

/*在线报价*/
.lr_right .design_content input{width: 100%;height: 42px;line-height: 42px;padding-left: 12px;border:1px solid #eee;border-radius: 4px;font-size: 14px;color: #333;margin-top: 24px;box-sizing: border-box;}
.lr_right .design_content input::placeholder{color: #a0a0a0}
.lr_right .design_content input.has-error {border:1px solid #E66C12 !important;}
.lr_right .design_content .design_submit{border-radius: 4px;background-color: rgb(245, 77, 12);box-shadow: 0px 3px 8px 0px rgba(245, 77, 12, 0.36);-moz-box-shadow: 0px 3px 8px 0px rgba(245, 77, 12, 0.36);-webkit-box-shadow: 0px 3px 8px 0px rgba(245, 77, 12, 0.36);width: 100%;height: 50px;line-height: 50px;color: #fff;font-size: 16px;text-align: center;cursor:pointer;position: relative;}
.lr_right .design_content .design_submit:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;
	background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);}

.form-row {position: relative;color: #333;margin-top: 24px}
.form-row select {width: 48%;height:42px;float: left;padding-left:12px;margin-right: 17px;border:1px solid;border-color:#ebebeb;font-size: 14px;color: #999;-webkit-appearance:none;background: #fff url(../images/sortDown.png) no-repeat 100px center;border-radius: 4px}
.form-row select.select_r{margin-right: 0}

/*在线预约*/

.lr_right .design_content .con_price .design_submit{margin-top: 20px;}
.lr_right .design_content .con_order .design_submit{margin-top: 50px;}
.lr_right .design_content .con_order input{height: 48px;line-height: 48px}

.house_type select{background: #fff url(../images/sortDown.png) no-repeat 241px center;width: 100%;height:42px;padding-left:14px;font-size: 14px;color: #a0a0a0;-webkit-appearance:none;margin-top: 24px;border-radius: 4px;    border:1px solid #eee;}
.house_area{position: relative;}
.house_area .mills{position: absolute;right: 8px;top: 27px;color: #333;font-size: 14px;}
.lr_right .con{display: none;-webkit-animation: rightFadeIn .5s ease-out;-moz-animation: rightFadeIn .5s ease-out;animation: rightFadeIn .5s ease-out;}
.lr_right .con_show{display: block;}
/*工地*/
 .reno7_ul{box-sizing: border-box;padding: 22px 22px 17px;background: #fff;box-shadow: 0px 2px 6px 0px rgba(203,203,203,0.2);}
 .reno7_ul .reno7_li{width: 100%;height: auto;position: relative;float: left;margin-top: 30px}
 .reno7_ul .reno7_li:first-child{margin-top: 0}
 .reno7_li .left_b{width: 190px;height: 140px;float: left;}
 .reno7_li .left_b img{width: 100%;height: 100%;object-fit: cover;border-radius: 4px}
 .reno7_li .right_b{margin-left: 220px;position: relative;padding-top: 11px}
 .reno7_li .right_b .site_title{font-size: 18px;color: #333;font-weight: bold;}
 .reno7_li .right_b .site_info{font-size: 14px;color: #A0A0A0;    margin-top: 10px;}
 .reno7_li .right_b .site_info span{margin-right: 16px;display: inline-block;overflow: hidden;}
 .reno7_li .right_b .site_info .com_name{display: inline-block;width: 253px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
 .reno7_li .right_b .site_see{font-size: 14px;color: #fff;width:100px;height:36px;line-height:36px;text-align:center;background:#F54D0C;border-radius:4px;position: absolute;right: 0;top: 22px}
 .reno7_li .right_b .site_see:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;
	background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);}
 .reno7_li .right_b .dot_ul{position: relative;    margin-top: 25px;}
 .reno7_li .right_b ul:after{    content: '';width: 100%;height: 1px;background: #F3F3F3;position: absolute;left: 0;top: 0;z-index: 10;}
 .reno7_li .right_b ul li{font-size: 14px;color: #A0A0A0;float: left;padding-top: 20px;    width: 20%;
    text-align: center;position: relative;}
 .reno7_li .right_b ul li.active{color: #333;}
 .reno7_li .right_b ul li:after{content: '';background: #fff;width: 8px;height: 8px;border:4px solid #F5F5F5;position: absolute;z-index: 20;top: -8px;left: 50%;margin-left: -12px;border-radius: 50%}
 .reno7_li .right_b ul li.active:after{content: '';background: #fff;width: 8px;height: 8px;border:4px solid #F54D0C;position: absolute;z-index: 20;top: -8px;left: 50%;margin-left: -12px;border-radius: 50%}

 /* 团队 */
.team_wrap .aside_head i{display: inline-block;background:url(../images/company/left.png) no-repeat;width: 7px;height: 12px;margin-left: 11px;}
.team{width: 591px;box-shadow:0px 2px 8px 0px rgba(153,153,153,0.16);}
.team_ul{padding: 33px 31px 50px;background: #fff}
.team_ul li{margin-right: 43px;float: left;text-align: center;}
.team_ul li:nth-child(4n){margin-right: 0}
.team_ul li .ar_img{width: 90px;height: 90px;}
.team_ul li .ar_img img{width: 100%;height: 100%;border-radius: 50%}
.team_ul li .ar_name{font-size: 16px;margin-top: 10px}
.team_ul li .ar_anli{font-size: 14px;color: #a0a0a0;margin-top: 10px}
.team_ul li .ar_order{font-size: 14px;color: #fff;width: 100px;height: 36px;background: #F54D0C;text-align: center;line-height: 36px;border-radius: 4px;margin-top: 16px;cursor: pointer;position: relative;}
.team_ul li .ar_order:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;
	background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);}
.ar_team{float: left}
.man_team{float: right}
/*施工案例*/
.anli_wrap{background: #fff;box-shadow:0px 2px 6px 0px rgba(203,203,203,0.2);margin-top: 20px}
.anli_wrap ul{    padding: 1px 18px 30px;}
.anli_wrap ul li{width: 274px;border: 1px solid #eee;position: relative;margin-right: 20px;float: left;margin-top: 24px}
.anli_wrap ul li:hover{box-shadow: 0px 0px 35px 0px rgba(163, 163, 163, 0.41);-moz-box-shadow:0px 0px 35px 0px rgba(163, 163, 163, 0.41);-webkit-box-shadow:0px 0px 35px 0px rgba(163, 163, 163, 0.41);}
.anli_wrap ul li .reno4_top{width: 100%;height: 184px;overflow: hidden;}
.anli_wrap ul li .reno4_top img{width: 100%;height: 100%;object-fit: cover;display:block;-webkit-transition:all .7s;-moz-transition:all .7s;-ms-transition:all .7s;-o-transition:all .7s;transform:all .7s}
.anli_wrap ul li .reno4_bottom{padding: 25px 20px 16px;}
.anli_wrap ul li .reno4_bottom .anli_title{font-size: 18px;color: #333;font-weight: bold;}
.anli_wrap ul li .reno4_bottom .anli_info{font-size: 14px;color: #A0A0A0;margin-top: 10px}
.anli_wrap ul li:hover img {-webkit-transition:scale(1.1);-moz-transition:scale(1.1);-ms-transition:scale(1.1);-o-transition:scale(1.1);transform:scale(1.1)}

/*立即预约弹出层*/
.order_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.order_container{position: fixed; left: 50%; margin-left: -265px; top: 50%; margin-top: -140px; width: 530px;  box-sizing: border-box;background-color:#fff;  padding: 20px 20px 23px; z-index: 9999; }
.order_container .close_alert{width: 16px;height: 16px;position: absolute;right: 20px;top: 20px}
.order_container p.t1{margin-top: 19px;font-size: 16px;font-weight: bold;color: #333;text-align: center;}
.order_container p.t2{margin-top: 20px;line-height: 26px;color: #a0a0a0;font-size: 14px;}
.order_container p.t3{border:1px solid rgb(229, 229, 229);color: #a0a0a0;width: 99px;height: 34px;text-align: center;line-height: 34px;margin: 5px auto 0}
/* 波纹效果 */
.order_container .wave {position:relative;width:50px;height:50px;text-align:center;margin:35px auto 0;}
.order_container .m-box{width:50px;height:50px;position:relative;margin: 0 auto;border-radius:50%;border:3px solid #f6571a}
.order_container .m-duigou{width:25px;height:18px;position:absolute;left:50%;top:50%;margin:-13px 0 0 -13px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden}
.order_container .m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#f6571a;border-radius:2px}
.order_container .m-duigou:before{width:3px;height:15px;left:0;-webkit-animation:dgLeft 0.5s linear 0s 1 both;animation:dgLeft 0.5s linear 0s 1 both}
.order_container .m-duigou:after{width:25px;height:3px;bottom:0;-webkit-animation:dgRight 0.5s linear 0.5s 1 both;animation:dgRight 0.5s linear 0.5s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@keyframes circle-opacity {from {opacity:1;transform:scale(0);}
to {opacity:0.5;transform:scale(1);}
}

/*立即获取报价弹出层*/
.price_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.price_container{position: fixed; left: 50%; margin-left: -265px; top: 50%; margin-top: -140px; width: 530px;  box-sizing: border-box;background-color:#fff;  padding: 20px 20px 23px 23px; z-index: 9999; }
.price_container .close_alert{width: 16px;height: 16px;position: absolute;right: 20px;top: 20px}
.price_container p.t1{margin-top: 19px;font-size: 16px;font-weight: bold;color: #333;text-align: center;}
.price_container p.t2{margin-top: 20px;line-height: 26px;color: #a0a0a0;font-size: 14px;}
.price_container p.t3{cursor:pointer;border:1px solid rgb(229, 229, 229);color: #a0a0a0;width: 99px;height: 34px;text-align: center;line-height: 34px;margin: 20px auto 0}
.price_container ul{font-size: 0;margin-top: 20px;}
.price_container ul li{}
.price_container ul li span:first-child{font-size: 14px;color: #333;}
.price_container ul li span:first-child+span{font-size: 16px;color: #f54d0c;}
.price_container ul li span.bao_price{font-size: 18px;color: #f54d0c;font-weight: bold;}
/*团队预约弹出层*/
.team_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.team_con{position: fixed; left: 50%; margin-left: -299px; top: 50%; margin-top: -240px; width: 598px;  box-sizing: border-box;background-color:#fff;  padding: 50px 123px; z-index: 9999; }
.team_con .close_alert{width: 51px;height: 51px;position: absolute;right: 5px;top: 10px;cursor: pointer;}
.team_con p.t1{font-size: 20px;color: #333;font-weight: bold;text-align: center;}
.team_man{color: #f54d0c;font-weight: bold}
.team_con form{padding-top: 20px;}
.team_con form input{border: 1px solid #e5e5e5;background: #fff;padding-left: 18px;height: 50px;line-height: 50px;-webkit-appearance:none;margin-top: 20px;font-size: 14px;color: #333;width: 100%;box-sizing: border-box;}
.team_con form input::placeholder{color: #a0a0a0}
.team_con p.t2{font-size: 20px;color: #333;text-align: center;width: 100%;height: 50px;line-height: 50px;box-shadow: 0px 3px 8px 0px rgba(255, 90, 0, 0.6);background: #ff5a00;width: 100%;margin-top: 20px;color: #fff;font-size: 16px;cursor: pointer;}
.team_con p.t3{font-size: 14px;color: #a0a0a0;margin-top: 30px;}

/*团队预约成功弹出层*/
.team_mask2{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.team_con2{position: fixed; left: 50%; margin-left: -183.5px; top: 50%; margin-top: -140px; width: 367px;  box-sizing: border-box;background-color:#fff;  padding: 20px 20px 23px; z-index: 9999; }
.team_con2 .close_alert{width: 51px;height: 51px;position: absolute;right: 5px;top: 10px}
.team_con2 p.t1{margin-top: 19px;font-size: 16px;font-weight: bold;color: #333;text-align: center;}
.team_con2 p.t3{border:1px solid rgb(229, 229, 229);color: #a0a0a0;width: 113px;height: 38px;text-align: center;line-height: 38px;margin: 25px auto 0;cursor: pointer;}
/* 波纹效果 */
.team_con2 .wave {position:relative;width:50px;height:50px;text-align:center;margin:35px auto 0;}
.team_con2 .m-box{width:50px;height:50px;position:relative;margin: 0 auto;border-radius:50%;border:3px solid #f6571a;background: #ffe2e2}
.team_con2 .m-duigou{width:25px;height:18px;position:absolute;left:50%;top:50%;margin:-13px 0 0 -13px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden}
.team_con2 .m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#f6571a;border-radius:2px}
.team_con2 .m-duigou:before{width:3px;height:15px;left:0;-webkit-animation:dgLeft 0.5s linear 0s 1 both;animation:dgLeft 0.5s linear 0s 1 both}
.team_con2 .m-duigou:after{width:25px;height:3px;bottom:0;-webkit-animation:dgRight 0.5s linear 0.5s 1 both;animation:dgRight 0.5s linear 0.5s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@keyframes circle-opacity {from {opacity:1;transform:scale(0);}
to {opacity:0.5;transform:scale(1);}
}

/*国籍区号弹窗*/
.formCommon .inpbox{position: relative;}
.formCommon .inpbox .areaCode{top: 26px;line-height: 40px;border-radius: 4px 0 0 4px;bottom: 2px;left: 2px;}
.formCommon .inpbox .areaCode_wrap{width: 268px;top: 65px;}
.formCommon input#price_phone{padding-left: 70px;}
.formCommon input#order_phone{padding-left: 70px;}

.team_con form input#team_phone{padding-left: 70px;}