@charset "utf-8";

.main-right {width: 270px;}
.main-left {float: left;width: 910px}
.main{margin-top: 20px;min-width: 1200px}
/*头部搜索*/
.screen{position: relative;margin-top: 0}
.screen .reno_form2{width: 322px;position: absolute;z-index: 1;top: 12px;}
.reno_form form{border:1px solid #eee;}
.reno_form form:hover{border: 1px solid #f97126}
.renoform_go button{border-bottom-right-radius: 4px;border-top-right-radius: 4px;}
.screen dd a{margin-right: 6px}
/*装修公司列表*/
.sort{background: #F8F8F8;margin-top: 23px}
.zb_list li {position: relative;padding:20px 0 0;background: #fff;}
.zb_list li .content{margin-left: 100px;border-bottom: 1px solid #eee;padding-bottom: 25px;}
.zb_list li .pic {float: left;margin-right: 23px;border:1px solid #eee;border-radius: 50% }
.zb_list li .pic img {display: block;width: 77px;height: 77px;border-radius: 50%}

.zb_list li .txt {font-size: 14px;color: #666;overflow: hidden;float: left;width: 594px;padding-right: 27px;}
.zb_list li .name {font-size: 18px;color: #333; margin-top: 10px;}
.zb_list li .name a {display: inline-block;font-weight: bold;}
.zb_list li .name a:hover {color: #ff6d01;}
.zb_list li .name i{display: inline-block;background-size: 21px 23px;   width: 21px;height: 23px;    vertical-align: top;margin-top: 3px;}
.zb_list li .name .defend{background: url(../images/defend.png) center center no-repeat;margin-right: 9px;margin-left: 13px}
.zb_list li .name .certify{background: url(../images/certify.png) center center no-repeat;}
.zb_list li .prove{margin-top: 14px;}
.zb_list li .prove p{display: inline-block;margin-right: 24px;color: #888}
.zb_list li .prove p span{display: inline-block;}
.zb_list li .prove p span:first-child{padding: 4px 8px;color: #fff;margin-right: 8px}
.prove p.anli span:first-child{background: #7FD8B5}
.prove p.site span:first-child{background: #CFBBA1}
.prove p.forman span:first-child{background: #A7BBF5}
.prove p.artist span:first-child{background: #f7a788}
.zb_list li .grey{color: #A0A0A0}
.zb_list li .red {font-size: 18px;color: #f00;}
.zb_list li .phone {font-size: 20px;color: #F54D0C;font-weight: bold;position: absolute;top:70px;right: 5px}
.zb_list li .phone a{color: #F54D0C;padding-left: 36px;background: url(../images/forman/icons.png);background-repeat:no-repeat;background-position: -12px -16px;} 
.zb_list li .phone a em{font-size: 16px;display: inline-block;vertical-align: middle;margin-top: -7px;}
.img_list{float: left;margin-top: 9px}
.img_list li{width:191px;height: 135px;float: left;margin-right: 15px; }
.img_list li a{display: block;width:191px;height: 135px}
.img_list li img{width: 100%;height: 100%;object-fit: cover;}
.img_list li:nth-child(4n){margin-right: 0}

/* 右侧 */
/*右侧表单*/

 .design_content{padding:35px 17px 30px;display: block;background:url(../images/village/form_bg.png) no-repeat;    background-size: cover;}
 .free_design{font-size: 22px;color: #fff;text-align: center;text-shadow:0px 3px 4px rgba(95,117,247,0.3); font-weight: bold;}
 .design_content .design_num{text-align: center;font-size: 14px;color: #fff;margin-top: 20px;}
 .design_content .inpbox{position: relative;}
 .design_content .inpbox .areaCode{top: 20px;line-height: 40px;border-radius: 4px 0 0 4px;bottom: 2px}
.design_content .inpbox .areaCode_wrap{width: 236px;top: 58px;}
 .design_content input{width: 100%;height: 42px;line-height: 42px;padding-left: 14px;border-radius: 4px;font-size: 14px;color: #333;margin-top: 18px;box-sizing: border-box;border: none;-webkit-appearance:none;}

 .design_content input::placeholder{color: #a0a0a0}
 .design_content input.has-error {border:1px solid #E66C12 !important;}
 .design_content input#price_phone{padding-left: 70px;}
 .design_content .reno_submit{border-radius: 4px;background-color: rgb(245, 77, 12);box-shadow: 0px 3px 8px 0px rgba(245, 77, 12, 0.36);-moz-box-shadow: 0px 3px 8px 0px rgba(245, 77, 12, 0.36);-webkit-box-shadow: 0px 3px 8px 0px rgba(245, 77, 12, 0.36);width: 100%;height: 50px;line-height: 50px;color: #fff;font-size: 16px;text-align: center;margin-top: 25px;cursor:pointer;}
 .design_content .reno_submit:hover{background-color: rgb(245, 77, 12,.8);filter: Alpha(opacity=80);}
.form-row {position: relative;color: #333;margin-top: 27px}
.form-row select {width: 113px;height:40px;float: left;padding-left:14px;margin-right: 10px;font-size: 14px;color: #999;-webkit-appearance:none;background: #fff url(../images/sortDown.png) no-repeat 90px center;border-radius: 4px;    border: none;cursor: pointer;}
.form-row select.select_r{margin-right: 0}
.house_type select{background: #fff url(../images/sortDown.png) no-repeat 214px center;width: 100%;height:42px;padding-left:14px;font-size: 14px;color: #a0a0a0;-webkit-appearance:none;margin-top: 16px;border-radius: 4px;    border: none;}
.house_area{position: relative;}
.house_area .mills{position: absolute;right: 8px;top: 27px;color: #a0a0a0;font-size: 14px;}

#all {display:inline-block;width:135px;vertical-align:middle}
#all .t_num i {width:32px;height:27px;display:inline-block;background:url(../images/company/number1.png) no-repeat;background-position:0 0;}
/*装修公司*/
.new_order{margin-top: 20px}
.new_order ul {border-top: 1px solid #eee;}
.new_order li {position: relative;font-size: 14px;color: #333;padding:13px 11px;border-top: 1px dashed #eee;}
.new_order li:first-child{border-top: none}
.new_order .com_info img{vertical-align: middle;margin-right: 10px;width: 50px;height: 50px;border-radius: 50%;border: 1px solid #eee;object-fit: cover}
.new_order .com_info .com_span{display: inline-block;width: 182px;text-overflow:ellipsis;white-space:nowrap;overflow: hidden;line-height: 13px}
.new_order .com_info .com_span:hover{color: #f54d0c}
.new_order em{display: inline-block;width: 30px;height: 30px;font-size: 14px;color: #fff;position: absolute;left: 0;top: 0;text-indent: 5px;}
.new_order em.first-em{background:url(../images/company/first.png) no-repeat;background-size: cover}
.new_order em.second-em{background:url(../images/company/second.png) no-repeat;background-size: cover}
.new_order em.third-em{background:url(../images/company/third.png) no-repeat;background-size: cover}
/*我们的服务*/
.our_service{margin-top: 20px}
.our_service ul{padding:4px 15px 27px 19px;border-top: 1px solid #eee;}
.our_service ul li{margin-top: 24px}
.our_service .service_img{width: 50px;height: 54px;float: left;}
.our_service .service_img img{width: 100%;height: 100%;}
.our_service .ser_info{margin-left: 68px;}
.our_service .ser_info .commit{font-size: 16px;color: #333}
.our_service .ser_info .commit_p{font-size: 14px;color: #a0a0a0;line-height: 22px;    margin-top: 4px;}
.our_service .spe_img{vertical-align: top;margin-top: 11px}
.our_service .spe_li{margin-top: 17px}
/*立即获取报价弹出层*/
.price_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.price_container{position: fixed; left: 50%; margin-left: -265px; top: 50%; margin-top: -140px; width: 530px;  box-sizing: border-box;background-color:#fff;  padding: 20px 20px 23px 23px; z-index: 9999; }
.price_container .close_alert{width: 16px;height: 16px;position: absolute;right: 20px;top: 20px;cursor: pointer;}
.price_container p.t1{margin-top: 19px;font-size: 16px;font-weight: bold;color: #333;text-align: center;}
.price_container p.t2{margin-top: 20px;line-height: 26px;color: #a0a0a0;font-size: 14px;}
.price_container p.t3{cursor:pointer;border:1px solid rgb(229, 229, 229);color: #a0a0a0;width: 99px;height: 34px;text-align: center;line-height: 34px;margin: 20px auto 0}
.price_container ul{font-size: 0;margin-top: 20px;}
.price_container ul li{}
.price_container ul li span:first-child{font-size: 14px;color: #333;}
.price_container ul li span:first-child+span{font-size: 16px;color: #f54d0c;}
.price_container ul li span.bao_price{font-size: 18px;color: #f54d0c;font-weight: bold;}