@charset "utf-8";
body{background: #f8f8f8}
.nav{background: #525252;box-shadow:0px 3px 8px 0px rgba(82,82,82,0.5);height: 52px;line-height: 52px}
.nav li{margin-right: 50px;}
.nav li a{height: 52px;line-height: 52px;padding: 0 37px;width: auto;}
.nav li a:hover, .nav li a.curr{background: #454545}


.main-left {width: 270px;float: left}
.main-right {float: right;width: 914px;box-shadow:0px 2px 6px 0px rgba(203,203,203,0.2);background: #fff;min-height: 1410px}
.main{margin-top: 34px;min-width: 1200px;}
.lf_boxshadow{box-shadow:0px 2px 6px 0px rgba(203,203,203,0.2);background: #fff;margin-bottom: 20px}
/*左一*/
.lf_forman1{padding:27px 15px 20px;text-align: center;}
.lf_forman1 .top_b{width: 110px;height: 110px;margin:0 auto 20px;}
.lf_forman1 .top_b img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%}
.lf_forman1 .lf_name{font-size: 18px;color: #333;}
.lf_forman1 .lf_name img{vertical-align: middle;margin-left: 8px}
.lf_forman1 .lf_ul{margin-top: 20px}
.lf_forman1 .lf_ul li{float: left;font-size: 14px;color: #333;margin-left: 22px}
.lf_forman1 .lf_ul li span:first-child{color: #A0A0A0;margin-right: 9px}
.lf_forman1 .lf_phone{font-size: 20px;color: #F54D0C;font-weight: bold;height: 42px;line-height: 42px;width: 204px;text-align: center;margin: 30px auto 0;background: #FFF2ED;border:1px solid #F54D0C;border-radius: 4px;}
.lf_forman1 .lf_phone a{color: #F54D0C;padding-left: 36px;background: url(../images/forman/icons.png);background-repeat:no-repeat;background-position: -12px -16px;}
.lf_forman1 .lf_profile{margin-top: 30px;text-align: left} 
.lf_forman1 .lf_profile .pro1{font-size: 14px;color: #A0A0A0;} 
.lf_forman1 .lf_profile .pro2{font-size: 14px;color: #333;line-height: 23px;margin-top: 5px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;} 
/*左二*/
.lf_forman2{padding:37px 15px 0;text-align: center;}
.lf_forman2 .top_b{width: 152px;height: 152px;margin:0 auto 17px;border:1px solid #eee;}
.lf_forman2 .top_b img{width: 100%;height: 100%;object-fit: cover;}
.lf_forman2 .lf_name{font-size: 18px;color: #333;}
.lf_forman2 .lf_ul{margin-top: 11px;text-align: left;}
.lf_forman2 .lf_ul li{font-size: 14px;color: #333;line-height: 22px;padding: 15px 0}
.lf_forman2 .lf_ul li:first-child{border-bottom: 1px dashed #DCDCDC}
.lf_forman2 .lf_ul li p:first-child{color: #A0A0A0;}
.lf_forman2 .lf_ul li .lf_addr{}
.lf_forman2 .lf_ul .lf_addr em{background: url(../images/forman/icons.png);background-repeat:no-repeat;display:inline-block;background-position: -19px -189px;width: 11px;height: 19px;margin-left: 8px;vertical-align: middle; margin-top: -6px;}

/*表单*/
.lf_forman3{background:#fff}
.lf_forman3 .design_content{padding:26px 13px 22px 17px;display: block;}
.free_design{font-size: 16px;height: 50px;line-height: 50px;color: #333;border-bottom:1px solid #EEEEEE;padding-left: 16px }
.lf_forman3 .design_content .design_num{text-align: center;font-size: 14px;color: #333;background: #f8f8f8;height: 36px;line-height: 36px}
.lf_forman3 .design_content .design_num span{color: #f54d0c}
.lf_forman3 .design_content input{width: 100%;height: 40px;line-height: 40px;padding-left: 12px;border:1px solid #eee;border-radius: 4px;font-size: 14px;color: #333;margin-top: 18px;box-sizing: border-box;}
.lf_forman3 .design_content input::placeholder{color: #a0a0a0}
.lf_forman3 .design_content input.has-error {border:1px solid #E66C12 !important;}
.lf_forman3 .design_content .design_submit{border-radius: 4px;background-color: rgb(245, 77, 12);box-shadow: 0px 3px 8px 0px rgba(245, 77, 12, 0.36);-moz-box-shadow: 0px 3px 8px 0px rgba(245, 77, 12, 0.36);-webkit-box-shadow: 0px 3px 8px 0px rgba(245, 77, 12, 0.36);width: 100%;height: 50px;line-height: 50px;color: #fff;font-size: 16px;text-align: center;margin-top: 23px;cursor:pointer;position: relative;}
.lf_forman3 .design_content .design_submit:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;
	background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);}
.form-row {position: relative;color: #333;margin-top: 18px}
.form-row select {width: 111px;height:40px;float: left;padding-left:12px;margin-right: 17px;*margin-top:8px;border:1px solid;border-color:#ebebeb;font-size: 14px;color: #999;-webkit-appearance:none;background: #fff url(../images/sortDown.png) no-repeat 86px center;border-radius: 4px}
.form-row select.select_r{margin-right: 0}


/*公共头部样式*/
.aside_head{width: 100%;box-sizing: border-box;padding:0 20px;height: 40px;line-height: 40px;background: #E4E4E5}
.aside_head h3{float:left;font-size: 16px;color: #333;}
.aside_head p{float: right;font-size: 14px;color: #959595;}

/*个人简历右侧*/
.pro_content{padding: 30px 36px}
.pro_title{font-size: 16px;color: #333;padding-bottom: 13px;border-bottom: 1px solid #eee;font-weight: bold;}
.con2 .con2_p{font-size: 14px;color: #333;line-height: 30px;padding-top: 13px}
.lr_profile ul{padding-top: 14px;padding-bottom: 14px}
.lr_profile ul li{float: left;width: 26%;font-size: 14px;color: #333;margin-bottom: 26px}
.lr_profile ul li.spe_li{width: 42%;}
/*施工案例*/
.lr_case .pubu{padding: 0 22px}
.lr_case #container{width: 914px;box-sizing: border-box;padding: 0 22px;}

/*个人文章*/
.lr_article .ar_content2{padding: 0}
.lr_article .article_ul li {padding: 25px 25px;border-top: 1px solid #eee;}
.lr_article .article_ul li:first-child{border-top: none}
.lr_article .article_ul li .pic {float: left;margin-right: 20px}
.lr_article .article_ul li .pic ,.lr_article .article_ul li .pic img {display: block;width: 154px;height: auto;}
.lr_article .article_ul .txt {    overflow: hidden;}
.lr_article .article_ul .txt .des {height: 66px;line-height: 22px;margin-bottom: 8px;font-size: 14px;color: #a0a0a0;overflow: hidden;cursor: default;}
.lr_article .article_ul .txt .bt {display: block;margin-bottom:10px;font-size: 18px;color: #333;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;cursor: pointer;}
.lr_article .article_ul .txt .bt:hover {text-decoration: underline;color: #ff6c00;}
.lr_article .article_ul .txt .t {height: 30px;line-height: 30px;font-size: 14px;color: #a0a0a0;cursor: default;}
.lr_article .article_ul li:hover{background: #f8f8f8;}
/*文章详情*/

.ar_content{padding:40px 22px;}
.ar_content .ar_head{text-align: center;padding-bottom: 40px;border-bottom: 1px solid #eee;}
.ar_content .ar_head h1{font-size: 30px;color: #333;}
.ar_content .ar_head .public_time{font-size: 14px;color: #a0a0a0;margin-top: 15px}
.ar_content .ar_con{padding-top: 35px;}
.ar_content p{font-size: 16px;color: #666;}
.ar_content .art_img{width: 600px;height: 400px;margin: 34px auto 0}
.ar_content .art_img img{width:auto!important;height:auto!important;max-width:100%!important;max-height:100%!important;}
.ar_content .wiki_note{line-height: 24px;margin-top: .3rem}
.ar_content .wiki_info2{line-height: 24px;}
.ar_content .wiki_info2 .dyn_title{margin-top: 40px}
.ar_content .wiki_info2 .dyn_tip{margin-top: 30px}
.ar_content .wiki_info2 .dyn_content{margin-top: 20px}

/*预约列表*/
.lr_order{}
.order_list{margin:27px;border: 1px solid #eee;padding-top: 15px}
.order_list ul{padding: 0 17px;}
.order_list li {height: 40px;line-height: 40px;font-size: 14px;color: #333;border-bottom: 1px solid #e7e7e7;text-align: center;overflow: hidden;}
.order_list li span {display: inline-block;float: left;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;text-align:center;}
.order_list li span.user {width: 13%;}
.order_list li span.info {width: 42%;}
.order_list li span.address{width: 30%;}
.order_list li span.time {width: 15%;color: #a0a0a0}



/*立即预约弹出层*/
.order_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.order_container{position: fixed; left: 50%; margin-left: -265px; top: 50%; margin-top: -140px; width: 530px;  box-sizing: border-box;background-color:#fff;  padding: 20px 20px 23px; z-index: 9999; }
.order_container .close_alert{width: 16px;height: 16px;position: absolute;right: 20px;top: 20px}
.order_container p.t1{margin-top: 19px;font-size: 16px;font-weight: bold;color: #333;text-align: center;}
.order_container p.t2{margin-top: 20px;line-height: 26px;color: #a0a0a0;font-size: 14px;}
.order_container p.t3{border:1px solid rgb(229, 229, 229);color: #a0a0a0;width: 99px;height: 34px;text-align: center;line-height: 34px;margin: 5px auto 0}
/* 波纹效果 */
.order_container .wave {position:relative;width:50px;height:50px;text-align:center;margin:35px auto 0;}
.order_container .m-box{width:50px;height:50px;position:relative;margin: 0 auto;border-radius:50%;border:3px solid #f6571a}
.order_container .m-duigou{width:25px;height:18px;position:absolute;left:50%;top:50%;margin:-13px 0 0 -13px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden}
.order_container .m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#f6571a;border-radius:2px}
.order_container .m-duigou:before{width:3px;height:15px;left:0;-webkit-animation:dgLeft 0.5s linear 0s 1 both;animation:dgLeft 0.5s linear 0s 1 both}
.order_container .m-duigou:after{width:25px;height:3px;bottom:0;-webkit-animation:dgRight 0.5s linear 0.5s 1 both;animation:dgRight 0.5s linear 0.5s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@keyframes circle-opacity {from {opacity:1;transform:scale(0);}
to {opacity:0.5;transform:scale(1);}
}
