@charset "utf-8";

/*加入工长*/
.content1{background: url(../images/forman/forman_bg.png) no-repeat center;width: 100%;height: 360px;color: #fff;box-sizing: border-box;padding-top: 120px;min-width: 1200px;}
.content1 h1{font-size: 40px;font-weight: bold;padding-left: 768px;}
.content1 h2{font-size: 36px;font-weight: normal;padding-left: 766px;}
/*加入设计师*/
.art_content1{background: url(../images/artist/art_bg.png) no-repeat center;width: 100%;height: 360px;color: #fff;box-sizing: border-box;padding-top: 120px;min-width: 1200px;}
.art_content1 h1{font-size: 40px;font-weight: bold;padding-left: 768px;}
.art_content1 h2{font-size: 36px;font-weight: normal;padding-left: 766px;}

.content2{padding: 66px 254px;background: #fff;margin-top: -70px}
.content2 p{font-size: 16px;color: #333}
.content2 p label:first-child{margin-right: 25px;}
.content2 input{display:inline-block;height: 50px;line-height: 50px;width:585px;border:1px solid #DCDCDC;border-radius: 4px;padding-left: 20px;box-sizing: border-box;-moz-box-sizing:border-box; /* Firefox */-webkit-box-sizing:border-box; /* Safari */margin-top: 30px}
.content2 input::placeholder{color: #999;}
.content2 .inpBox{font-size: 0; margin-top: 30px;position: relative;}
.content2 .inpBox label{margin-right: 25px;font-size: 16px;color: #333;line-height: 52px;vertical-align: top;}
.content2 .inpBox div.inpDiv{border:1px solid #DCDCDC;position: relative;display: inline-block;  border-radius: 4px; overflow: hidden;}
.content2 input#phone{border: none;margin-top: 0;padding-left: 80px;border-radius: 0;font-size: 16px;color: #333}
.content2 .inpBox .areaCode{left: 1px;top: 1px;bottom: 1px;line-height: 47px;font-size: 16px;border-right: 1px solid #dcdcdc;z-index: 2}
.content2 .inpBox .areaCode_wrap{left: 105px;
    top: 53px;
    width: 585px;}

.join_img{padding: 66px 254px 0;background: #fff;margin-top: -70px}
.join_img span{display: inline-block;}
.join_img .img_tip{font-size: 16px;color: #333;margin-right: 25px}
.join_img .img_tip2{display: inline-block;width: 200px;font-size: 14px;color: #999;margin-left: 20px;    vertical-align: middle;}
.forman_type label{font-size: 16px;color: #333;margin-right: 23px}
.forman_type select{background: #fff url(../images/sortDown.png) no-repeat 550px center;width: 584px;height:50px;padding-left:21px;border:1px solid #DCDCDC;font-size: 16px;color: #999;-webkit-appearance:none;margin-top: 30px;border-radius: 4px;}

.work_year{position: relative;}
.year{position: absolute;right: 19px;top: 40px;color:#999 }
/*上传照片*/
.qjimg_box{display: inline-block;vertical-align: middle;}
.qjimg_box .img_show{background-image: url(../images/add.png); background-repeat: no-repeat; background-position: center 33px; background-size: 38px 33px;width: 130px; height: 130px; border-radius: 6px; overflow: hidden; position: relative;}
.qjimg_box ul{width: 130px;margin:0 auto;}
.qjimg_box ul .img_show{background-color: #F5F5F5;}
.qjimg_box ul>li{width:130px; height: 130px; float: left; position: relative; }
.qjimg_box ul>li p{position: absolute; bottom:26px; text-align: center;}
.qjimg_box ul>li{position: relative;}
.qjimg_box ul>li .img{width: 100%; height: 100%; z-index:2;position: absolute; overflow: hidden; right: 0; top: 0; border-radius: 6px; overflow: hidden;}
.qjimg_box ul>li .img img{width:100%; height: 100%;object-fit: cover;}
.qjimg_box p{ font-size: 14px ; width: 100%;  color: #9fa1ab;}

/*上传新样式*/
.qjimg_box input{width: 130px;height: 130px;opacity: 0;cursor: pointer;}
.del_btn{width: 28px; height: 28px; z-index:3;border-radius: 50%; background-color: rgba(0,0,0,.67); position: absolute;top: -12px; right: -12px; color: #fff; font-size: 28px; text-align: center;  font-style: normal; line-height: 23px; transform: rotate(45deg);}
/*身份类别*/
.or_type{ margin-top: 30px;font-size: 16px;color: #333; }
.or_type span{margin-right: 25px}
.or_type  p{ display: inline-block;}
.or_type .surep.alone{margin-left:32px;}
.or_type .surep input{display: none;}
.or_type .surep label{position: relative;padding-left: 34px;}
.or_type .surep label:after{content: '';display: block;position: absolute;left: 0;top: .03rem;border-radius: 90%;width: 20px;height: 20px;border: 1px solid #dcdcde;box-sizing: border-box;}
.or_type .surep input[type="radio"]:checked + label:after {background: url("../images/res2.png") no-repeat center;border: 0;}
.com_choose{font-size: 16px;color: #333;margin-top: 30px}
.com_choose label{margin-right: 25px}
.com_choose span{background: #fff url(../images/sortDown.png) no-repeat 550px center;display: inline-block;height: 50px;line-height: 50px;width: 585px;border:1px solid #DCDCDC;padding-left:21px;box-sizing: border-box;color: #999}

.apply{width:192px;height:54px;background:#F54D0C;box-shadow:0px 3px 6px 0px rgba(245,77,12,0.5);border-radius:4px;color: #fff;font-size: 18px;text-align: center;line-height: 54px;margin: 48px auto;cursor: pointer;}


/*选择所属公司弹出层*/
.apply_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.apply_con{position: fixed; left: 50%; margin-left: -576px; top: 50%; margin-top: -350px; width: 1153px;  box-sizing: border-box;background-color:#fff;  padding: 20px 20px 23px; z-index: 9999; display: none;}
.apply_con h2{font-size: 20px;color: #333;text-align: center;font-weight: bold;}
.apply_con .close{width: 51px;height: 51px;position: absolute;right: 20px;top:18px;}
/*搜索*/
.reno_form2{background: #fff;width: 500px;margin: 65px auto 36px}
.reno_form2 form{border:1px solid #f97126;height: 40px;line-height: 40px;border-radius: 4px;}
.reno_form2 img{width: 21px;height: 21px;padding-left: 8px;margin-right: 10px;    vertical-align: middle;
    margin-top: -5px;}
.reno_form2 input{display: inline-block;height: 40px;line-height: 40px;background: #fff;-webkit-appearance:none;outline:none;
	border:0px;font-size: 14px; color: #333}
.reno_form2 input::placeholder{color: #a0a0a0}
.reno_form2 .renoform_go{height: 100%}
.reno_form2 .renoform_go button{width:56px;height: 100%;text-align:center;font-size: 14px; color: #fff; border: none; background: #F54D0C; outline: none; }
.reno_form2 .renoform_go{float: right;}

/*公司列表*/
.com_list ul li{float: left;margin-right: 19px;width: 140px;margin-bottom: 26px;cursor: pointer;}
.com_list ul li .pic{width: 100%;height: 140px;border:1px solid #eee;text-align: center;background: #000;position: relative;}
.com_list .pic img{width: 100%;height: 100%;}
.com_list ul li .com_title{font-size: 16px;color: #333;margin-top: 20px;text-align: center;max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}
.com_list ul li:hover img{opacity: .4; filter: Alpha(opacity=40);}
.com_list .pic .apply_join{display: none;position:absolute;background:#f54d0c;border-radius:4px;width: 90px;height: 40px;line-height: 40px;color: #fff;font-size: 14px;top: 50%;left: 50%;margin-left: -45px;margin-top: -20px;z-index: 4}
.com_list li:hover .apply_join{display: inline-block;}


/* 分页 */
/* 分页 */
.pagination {padding: 10px 0 30px; text-align: center; line-height: 28px; font-size: 14px; color: #797a82; margin-top: 30px;}
.pagination-gotopage {float: right; margin-left: 15px;}
.pagination-gotopage label {float: left; line-height: 28px; margin-right: 8px;font-size: 14px;color: #5a5a5e;}
.pagination-pages {float: right;}
.pagination-pages a, .pagination-pages span {float: left; min-width: 18px; height: 28px; padding: 0 5px; margin: 0 10px 0 0; text-align: center; line-height: 28px; font-size: 14px; cursor: pointer; color: #666; text-decoration: none;background-color: rgb(250, 250, 252);border:solid 1px rgb(230, 232, 242);}
.pagination-pages .curr, .pagination-pages .interim {background-color: transparent; border-color: transparent; cursor: default;}
.pagination-pages .curr {}
.pagination-pages a:hover { color: #f1370b;}
.pagination-pages .prev {display: inline-block;}
.pagination-pages .prev,.pagination-pages .next{width: 56px!important;background-color: rgb(250, 250, 252);border:solid 1px rgb(230, 232, 242);}
.pagination-pages .next {padding: 0 8px;}
.pagination-pages .prev.disabled,.pagination-pages .next.disabled{display: none;}



.pagination li {display: inline-block; margin-right: 7px; background-color:#f2f3f7;}
.pagination li.page_disabled {display: none;}
.pagination li a, .pagination li span {display: block; padding: 0 10px;color:#797a82;}
.pagination li a:hover ,.pagination li.page_current span {background: #f1370b; color: #fff;}
.pagination li.page_more span {background: #fff;color: #797a82; cursor: default;}
.pagination .page_info {display: none;}



.progress {position: absolute; right: 4px; bottom: 4px!important;  left: 4px; height: 4px; overflow: hidden; z-index: 15; margin:0; padding: 0; border-radius: 0; background: transparent;}
.progress span {display: block; overflow: hidden; width: 0; height: 100%; background: #499c00 url('/static/js/webuploader/progress.png') repeat-x; -webit-transition: width 200ms linear; -moz-transition: width 200ms linear; -o-transition: width 200ms linear; -ms-transition: width 200ms linear; transition: width 200ms linear; -webkit-animation: progressmove 2s linear infinite; -moz-animation: progressmove 2s linear infinite; -o-animation: progressmove 2s linear infinite; -ms-animation: progressmove 2s linear infinite; animation: progressmove 2s linear infinite; -webkit-transform: translateZ(0);}
@-webkit-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@-moz-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}