@charset "utf-8";
body{background: #f8f8f8}

.nav{background: #525252;box-shadow:0px 3px 8px 0px rgba(82,82,82,0.5);height: 52px;line-height: 52px}
.nav li{margin-right: 50px;}
.nav li a{height: 52px;line-height: 52px;padding: 0 37px;width: auto;}
.nav li a:hover, .nav li a.curr{background: #454545}


.main-left {width: 270px;float: left}
.main-right {float: right;width: 914px;}
.main{margin-top: 34px}
.lf_boxshadow{box-shadow:0px 2px 6px 0px rgba(203,203,203,0.2);background: #fff;margin-bottom: 20px}
/*左一*/
.lf_forman1{padding:27px 15px 20px;text-align: center;}
.lf_forman1 .top_b{width: 110px;height: 110px;margin:0 auto 20px;}
.lf_forman1 .top_b img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%}
.lf_forman1 .lf_name{font-size: 18px;color: #333;}
.lf_forman1 .lf_name img{vertical-align: middle;margin-left: 8px}
.lf_forman1 .lf_ul{margin-top: 20px}
.lf_forman1 .lf_ul li{float: left;font-size: 14px;color: #333;margin-left: 22px}
.lf_forman1 .lf_ul li span:first-child{color: #A0A0A0;margin-right: 9px}
.lf_forman1 .lf_phone{font-size: 20px;color: #F54D0C;font-weight: bold;height: 42px;line-height: 42px;width: 204px;text-align: center;margin: 30px auto 0;background: #FFF2ED;border:1px solid #F54D0C;border-radius: 4px;}
.lf_forman1 .lf_phone a{color: #F54D0C;padding-left: 36px;background: url(../images/forman/icons.png);background-repeat:no-repeat;background-position: -12px -16px;}
.lf_forman1 .lf_profile{margin-top: 30px;text-align: left} 
.lf_forman1 .lf_profile .pro1{font-size: 14px;color: #A0A0A0;} 
.lf_forman1 .lf_profile .pro2{font-size: 14px;color: #333;line-height: 23px;margin-top: 5px} 
/*左二*/
.lf_forman2{padding:37px 15px 0;text-align: center;}
.lf_forman2 .top_b{width: 152px;height: 152px;margin:0 auto 17px;border:1px solid #eee;}
.lf_forman2 .top_b img{width: 100%;height: 100%;object-fit: cover;}
.lf_forman2 .lf_name{font-size: 18px;color: #333;}
.lf_forman2 .lf_ul{margin-top: 11px;text-align: left;}
.lf_forman2 .lf_ul li{font-size: 14px;color: #333;line-height: 22px;padding: 15px 0}
.lf_forman2 .lf_ul li:first-child{border-bottom: 1px dashed #DCDCDC}
.lf_forman2 .lf_ul li p:first-child{color: #A0A0A0;}
.lf_forman2 .lf_ul li .lf_addr{}
.lf_forman2 .lf_ul .lf_addr em{background: url(../images/forman/icons.png);background-repeat:no-repeat;display:inline-block;background-position: -19px -189px;width: 11px;height: 19px;margin-left: 8px;vertical-align: middle; margin-top: -6px;}
.lr_top{margin-bottom:20px;}
.lr_left{float: left;width: 598px;}
.lr_right{float: right;width: 300px;}
.main-right .lr_bottom{background: #fff;box-shadow:0px 2px 6px 0px rgba(203,203,203,0.2);}


/*焦点图*/
.PicFocus{width: 598px;height: 280px;overflow: hidden;position: relative;margin-bottom: 17px;}
.PicFocus img{width: 598px;height: 280px;}
.PicFocus .bd{height: 280px;}
.PicFocus .bd .slideshow-item{position: relative;}
.PicFocus .bd .slideshow-item .slideinfo{   position: absolute;bottom: 0px;left: 0; right: 0;padding: 45px 80px 30px 25px;font-size: 22px;text-align: justify;background: -webkit-linear-gradient(top, #000 , transparent); background: -o-linear-gradient(top, #000, transparent); background: -moz-linear-gradient(top, #000, transparent); background: linear-gradient(to top, #000 , transparent);filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = #00ffffff, endColorstr = #ff000000);}
.PicFocus .slideshow-item .slideinfo h3 a{color:#fff;font-weight: bold;}
.PicFocus .hd{position: absolute;height: 30px;bottom: 0;left: 42%;text-align: right;}
.PicFocus .hd ul li{display: inline-block;width: 10px;height: 10px;background:#fff;opacity: .6;-moz-border-radius: 50%; -webkit-border-radius: 50%;border-radius: 50%;margin-left: 10px;cursor: pointer;}
.PicFocus .hd ul li.on{width: 30px;height: 10px;border-radius: 4px;opacity: 1;}
.PicFocus:hover .prev{display: block;}
.PicFocus:hover .next{display: block;}
.PicFocus .prev{width: 48px;height: 83px;background: rgba(0, 0, 0, 0.6);position: absolute;left: 0; top: 100px;display: none;-webkit-animation: leftFadeIn .5s ease-out;-moz-animation: leftFadeIn .5s ease-out;animation: leftFadeIn .5s ease-out;}
.PicFocus .prev:after{content: "";display: block;width: 100%;height: 100%;background: url(../images/prev.png) no-repeat center;}
.PicFocus .next{width: 48px;height: 83px;background: rgba(0, 0, 0, 0.6);position: absolute;right: 0;top: 100px;display: none;-webkit-animation: rightFadeIn .5s ease-out;-moz-animation: rightFadeIn .5s ease-out;animation: rightFadeIn .5s ease-out;}
.PicFocus .next:after{content: "";display: block;width: 100%; height: 100%;background: url(../images/next.png) no-repeat center;}
/*最新预约*/
.aside_head{width: 100%;box-sizing: border-box;padding:0 20px;height: 40px;line-height: 40px;background: #E4E4E5}
.aside_head h3{float:left;font-size: 16px;color: #333;}
.aside_head p{float: right;font-size: 14px;color: #959595;}
.aside_head p a{color: #959595;}

.newest_order{padding-bottom: 10px;background: #fff;box-shadow: 0px 2px 6px 0px rgba(203,203,203,0.2);}
.newest_order .title {font-size: 25px;color: #333;text-align: center;padding-bottom: 15px;border-bottom: 1px solid #e7e7e7;}
.newest_order .title p {line-height: 70px;}
.newest_order .title span {margin:0 5px;padding:0 4px;font-size: 20px;color: #fff;background: #f6ab2e;transition:all .3s; -webkit-transition:all .3s;}
.newest_order .title span:hover {background: #E69A19;border-radius:5px;}
.sqlist li {height: 38px;line-height: 38px;font-size: 14px;color: #333;border-bottom: 1px solid #e7e7e7;text-align: center;overflow: hidden;}

.sqlist li div {display: inline-block;float: left;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;text-align:center;}
.sqlist li div.user {width: 15%;}
.sqlist li div.info {width: 40%;}
.sqlist li div.address{width: 30%;}
.sqlist li div.time {width: 15%;color: #a0a0a0}

.scrolldiv {height: 146px; overflow: hidden; position: relative;padding:0 14px;    margin-top: 17px;}
/*表单*/
.lr_right{background:#fff;}
.lr_right .design_content{padding: 16px;display: block;height: 477px;box-shadow: 0px 2px 6px 0px rgba(203,203,203,0.2);}
.lr_right .free_design{font-size: 16px;height: 42px;line-height: 42px;color: #f54d0c;border-bottom:2px solid #f54d0c;width: 84px;text-align: center; }
.lr_right .design_content .design_num{text-align: center;font-size: 14px;color: #333;background: #f8f8f8;margin-top: 30px;height: 36px;line-height: 36px}
.lr_right .design_content .design_num span{color: #f54d0c}
.lr_right .design_content input{width: 100%;height: 42px;line-height: 42px;padding-left: 12px;border:1px solid #eee;border-radius: 4px;font-size: 14px;color: #333;margin-top: 24px;box-sizing: border-box;}
.lr_right .design_content input::placeholder{color: #a0a0a0}
.lr_right .design_content input.has-error {border:1px solid #E66C12 !important;}
.lr_right .design_content .design_submit{border-radius: 4px;background-color: rgb(245, 77, 12);box-shadow: 0px 3px 8px 0px rgba(245, 77, 12, 0.36);-moz-box-shadow: 0px 3px 8px 0px rgba(245, 77, 12, 0.36);-webkit-box-shadow: 0px 3px 8px 0px rgba(245, 77, 12, 0.36);width: 100%;height: 50px;line-height: 50px;color: #fff;font-size: 16px;text-align: center;margin-top: 30px;cursor:pointer;position: relative;}
.lr_right .design_content .design_submit:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;
	background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);}
.form-row {position: relative;color: #333;margin-top: 24px}
.form-row select {width: 124px;height:42px;float: left;padding-left:12px;margin-right: 20px;*margin-top:8px;border:1px solid;border-color:#ebebeb;font-size: 14px;color: #999;-webkit-appearance:none;background: #fff url(../images/sortDown.png) no-repeat 100px center;border-radius: 4px}
.form-row select.select_r{margin-right: 0}

/*施工案例*/
.lr_bottom ul{padding: 0 22px 22px;background: #fff}
.lr_bottom ul li{width: 274px;border: 1px solid #eee;position: relative;margin-right: 21px;float: left;margin-top: 22px}
.lr_bottom ul li:hover{box-shadow: 0px 0px 35px 0px rgba(163, 163, 163, 0.41);-moz-box-shadow:0px 0px 35px 0px rgba(163, 163, 163, 0.41);-webkit-box-shadow:0px 0px 35px 0px rgba(163, 163, 163, 0.41);}
.lr_bottom ul li .reno4_top{width: 100%;height: 184px;overflow: hidden;}
.lr_bottom ul li .reno4_top img{width: 100%;height: 100%;object-fit: cover;display:block;-webkit-transition:all .7s;-moz-transition:all .7s;-ms-transition:all .7s;-o-transition:all .7s;transform:all .7s}
.lr_bottom ul li .reno4_bottom{padding: 25px 20px 16px;}
.lr_bottom ul li .reno4_bottom .anli_title{font-size: 18px;color: #333;font-weight: bold;}
.lr_bottom ul li .reno4_bottom .anli_info{font-size: 14px;color: #A0A0A0;margin-top: 10px}
.lr_bottom ul li:hover img {-webkit-transition:scale(1.1);-moz-transition:scale(1.1);-ms-transition:scale(1.1);-o-transition:scale(1.1);transform:scale(1.1)}

/*立即预约弹出层*/
.order_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.order_container{position: fixed; left: 50%; margin-left: -265px; top: 50%; margin-top: -140px; width: 530px;  box-sizing: border-box;background-color:#fff;  padding: 20px 20px 23px; z-index: 9999; }
.order_container .close_alert{width: 16px;height: 16px;position: absolute;right: 20px;top: 20px}
.order_container p.t1{margin-top: 19px;font-size: 16px;font-weight: bold;color: #333;text-align: center;}
.order_container p.t2{margin-top: 20px;line-height: 26px;color: #a0a0a0;font-size: 14px;}
.order_container p.t3{border:1px solid rgb(229, 229, 229);color: #a0a0a0;width: 99px;height: 34px;text-align: center;line-height: 34px;margin: 5px auto 0}
/* 波纹效果 */
.order_container .wave {position:relative;width:50px;height:50px;text-align:center;margin:35px auto 0;}
.order_container .m-box{width:50px;height:50px;position:relative;margin: 0 auto;border-radius:50%;border:3px solid #f6571a}
.order_container .m-duigou{width:25px;height:18px;position:absolute;left:50%;top:50%;margin:-13px 0 0 -13px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden}
.order_container .m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#f6571a;border-radius:2px}
.order_container .m-duigou:before{width:3px;height:15px;left:0;-webkit-animation:dgLeft 0.5s linear 0s 1 both;animation:dgLeft 0.5s linear 0s 1 both}
.order_container .m-duigou:after{width:25px;height:3px;bottom:0;-webkit-animation:dgRight 0.5s linear 0.5s 1 both;animation:dgRight 0.5s linear 0.5s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@keyframes circle-opacity {from {opacity:1;transform:scale(0);}
to {opacity:0.5;transform:scale(1);}
}
.formCommon .inpbox .areaCode{top:26px;}
.formCommon .inpbox .areaCode_wrap{width: 268px;top: 65px;}