/* 侧栏分类 */
.PicFocus{float: left;width: 859px;height: 478px;overflow: hidden;position: relative;}
.PicFocus img{width: 859px;height: 478px;}
.PicFocus .bd{height: 478px;}
.PicFocus .bd .slideshow-item{position: relative;}
.PicFocus .bd .slideshow-item .slideinfo{   position: absolute;bottom: 0px;left: 0; right: 0;padding: 45px 80px 30px 25px;font-size: 22px;text-align: justify;background: -webkit-linear-gradient(top, #000 , transparent); background: -o-linear-gradient(top, #000, transparent); background: -moz-linear-gradient(top, #000, transparent); background: linear-gradient(to top, #000 , transparent);filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = #00ffffff, endColorstr = #ff000000);}
.PicFocus .slideshow-item .slideinfo h3 a{color:#fff;font-weight: bold;}
.PicFocus .hd{position: absolute;height: 30px;bottom: 0;left: 50%;text-align: right;}
.PicFocus .hd ul li{display: inline-block;width: 10px;height: 10px;background:#fff;opacity: .6;-moz-border-radius: 50%; -webkit-border-radius: 50%;border-radius: 50%;margin-left: 10px;cursor: pointer;}
.PicFocus .hd ul li.on{width: 30px;height: 10px;border-radius: 4px;opacity: 1;}
.PicFocus:hover .prev{display: block;}
.PicFocus:hover .next{display: block;}
.PicFocus .prev{width: 48px;height: 83px;background: rgba(0, 0, 0, 0.6);position: absolute;left: 0; top: 180px;display: none;-webkit-animation: leftFadeIn .5s ease-out;-moz-animation: leftFadeIn .5s ease-out;animation: leftFadeIn .5s ease-out;}
.PicFocus .prev:after{content: "";display: block;width: 100%;height: 100%;background: url(../images/prev.png) no-repeat center;}
.PicFocus .next{width: 48px;height: 83px;background: rgba(0, 0, 0, 0.6);position: absolute;right: 0;top: 180px;display: none;-webkit-animation: rightFadeIn .5s ease-out;-moz-animation: rightFadeIn .5s ease-out;animation: rightFadeIn .5s ease-out;}
.PicFocus .next:after{content: "";display: block;width: 100%; height: 100%;background: url(../images/next.png) no-repeat center;}
/* 免费预约表单 */
.price_order{width: 326px;float: right;height: 478px;border:1px solid #eee;}
.reno_tab li{height: 42px;line-height: 42px;float: left;width: 49.84%;text-align: center;font-size: 16px;color: #333;background: #f8f8f8;border-bottom: 1px solid #eee;cursor: pointer;}
.reno_tab li.free_design{border-right: 1px solid #eee}
.reno_tab li.active{background: #fff;border-bottom: none;border-top: 2px solid #f54d0c}
.price_order .dcontent{padding: 16px;display: none;-webkit-animation: rightFadeIn .5s ease-out;-moz-animation: rightFadeIn .5s ease-out;animation: rightFadeIn .5s ease-out;}
.price_order .design_show{display: block;}
.price_order .dcontent .design_num{text-align: center;font-size: 14px;color: #333;background: #f8f8f8;margin-top: 3px;height: 36px;line-height: 36px}
.price_order .dcontent .design_num span{color: #f54d0c}
.price_order .dcontent input{width: 100%;height: 40px;line-height: 40px;padding-left: 12px;border:1px solid #eee;border-radius: 4px;font-size: 14px;color: #333;margin-top: 18px;box-sizing: border-box;}
.price_order .dcontent input::placeholder{color: #a0a0a0}
.price_order .dcontent input.has-error {border:1px solid #E66C12 !important;}
.price_order .dcontent .design_submit{border-radius: 4px;background-color: rgb(245, 77, 12);box-shadow: 0px 3px 8px 0px rgba(245, 77, 12, 0.36);-moz-box-shadow: 0px 3px 8px 0px rgba(245, 77, 12, 0.36);-webkit-box-shadow: 0px 3px 8px 0px rgba(245, 77, 12, 0.36);width: 100%;height: 50px;line-height: 50px;color: #fff;font-size: 16px;text-align: center;margin-top: 46px;cursor:pointer;position: relative;}
.price_order .dcontent .design_submit:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 50px;background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10); -moz-opacity:0.1;-khtml-opacity: 0.1;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=10);}
.form-row {position: relative;color: #333;margin-top: 18px}
.form-row select {width: 141px;height:40px;float: left;padding-left:12px;border:1px solid;border-color:#ebebeb;font-size: 14px;color: #999;-webkit-appearance:none;background: #fff url(../images/sortDown.png) no-repeat 120px center;border-radius: 4px;}

.form-row #house_type{width: 100%;background: #fff url(../images/sortDown.png) no-repeat 272px center;}
.price_order .design_content #price_submit{margin-top: 18px;cursor: pointer;}
.price_order .design_content #price_submit:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;
	background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);}
.house_area{position: relative;}
 .house_area .mills{position: absolute;right: 8px;top: 27px;color: #a0a0a0;font-size: 14px;}


/*reno1*/
.reno1{margin-top: 34px}
.reno1 ul li{float: left;width:286px;height: 100px; margin-left: 18px}
.reno1 ul li img{display: block;border: none;width: 100%;height: 100%;object-fit: cover;}
.reno1 ul li:first-child{margin-left: 0}

/*reno2*/
.reno2{margin:24px auto;}
.reno2.spe_adv{margin-top: 0}
/*公共title*/
.reno_title{border-bottom: 4px solid #f8f8f8}
.reno_title h3{font-size: 20px;font-weight: bold;color: #333;border-bottom: 4px solid #f54d0c;float: left;padding-bottom: 16px}
.reno_title .reno_more{float: right;}
.reno_title .reno_ruzhu{display:inline-block;background: #6c80fb;font-size: 14px;color: #fff;height: 34px;padding: 0 12px;line-height: 34px;border-radius: 4px;position: relative;cursor: pointer;}
.reno_title .reno_ruzhu:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;
	background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);}
.reno_title .reno_ruzhu a{color: #fff;z-index: 2;position: relative;}
.reno_title .reno_more .see_more{display: inline-block;line-height: 19px;height: 19px;margin-left: 28px}
.reno_title .reno_more .see_more span{font-size: 14px;color: #a0a0a0;vertical-align: middle;margin-right: 10px}
.reno_title .reno_more .see_more span:hover{color: #F54D0C}
.reno_title .reno_more .img_more{vertical-align: middle;}
/*装修公司*/
.reno3_content{margin-top: 22px}
	/*左侧内容*/
.reno3_content .reno3_l{float: left;}
.reno3_content .reno3_l ul{width: 870px}
.reno3_content .reno3_l ul li{float: left;padding: 26px 24px;background: url(../images/reno_bg2.png) no-repeat center;height: 168px;width: 426px;box-sizing: border-box;background-size: 100% ;border: 1px solid #eaeaea;position: relative;margin-right: 18px;margin-top: 20px;cursor: pointer}
.reno3_content .reno3_l ul li:first-child{margin-top: 0;}
.reno3_content .reno3_l ul li:first-child+li{margin-top: 0;}
.reno3_content .reno3_l ul li:nth-child(2n){margin-right:0}
.reno3_content .reno3_l ul li .left_reno{width: 118px;height: 118px;float: left;box-shadow: 0px 0px 20px 0px rgba(199, 199, 199, 0.38);-moz-box-shadow: 0px 0px 20px 0px rgba(199, 199, 199, 0.38);-webkit-box-shadow: 0px 0px 20px 0px rgba(199, 199, 199, 0.38);}
.reno3_content .reno3_l ul li .left_reno img{width: 100%;height: 100%;object-fit: cover;}
.reno3_content .reno3_l ul li .right_reno{margin-left: 136px;}
.reno3_content .reno3_l ul li .right_reno .anli_title{font-size: 18px;font-weight: bold;color: #333;max-width: 232px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.reno3_content .reno3_l ul li .right_reno .reno_anli{font-size: 14px;color: #A0A0A0;margin-top: 16px}
.reno3_content .reno3_l ul li .right_reno .reno_anli .artist{margin-right: 5px}
.reno3_content .reno3_l ul li .right_reno .reno_anli p{display: inline-block;margin-left: 26px}
.reno3_content .reno3_l ul li .right_reno .reno_anli p:first-child{margin-left:0}
.reno3_content .reno3_l .online_submit{border-radius: 2px;background-color: rgb(245, 77, 12);width: 104px;height: 31px;line-height: 31px;color: #fff;font-size: 14px;position: absolute;text-align: center;right: 24px;bottom: 18px;border-bottom: 2px solid #ffaa89}
.reno3_content .reno3_l .online_submit:hover:after{content: '';position: absolute;top: 0;left: 0;width: 104px;height: 33px;
	background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);}
.reno3_content .reno3_l ul li:hover{box-shadow: 0px 0px 24px 0px rgba(215, 215, 215, 0.5);-moz-box-shadow:0px 0px 24px 0px rgba(215, 215, 215, 0.5);-webkit-box-shadow:0px 0px 24px 0px rgba(215, 215, 215, 0.5);}
	/*右侧内容*/
.reno3_content .reno3_r{float: right;border: 1px solid #eee;width: 310px}
.reno3_content .reno3_r .new_reno{font-size: 18px;font-weight: bold;color: #333;height: 42px;line-height: 42px;background: #F8F8F8;border-bottom: 1px solid #eee;padding-left: 18px}

.reno3_content .reno3_r ul{padding: 0 12px;}
.reno3_content .reno3_r ul li{padding: 20px 6px;border-top: 1px dashed #E0E0E0;position: relative;}
.reno3_content .reno3_r ul li:first-child{border-top:0;}
.reno3_content .reno3_r ul li .left_b{width: 58px;height: 58px;float: left;border-radius: 50%;border:1px solid #eee;    overflow: hidden;}
.reno3_content .reno3_r ul li .left_b img{width: 100%;height: 100%;object-fit: cover;}
.reno3_content .reno3_r ul li .right_b{margin-left: 72px;}
.reno3_content .reno3_r ul li .right_b .new_title{font-size: 16px;font-weight: bold;color: #333;max-width: 198px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.reno3_content .reno3_r ul li .right_b .succ_order{font-size: 14px;color: #A0A0A0;margin-top: 14px;display: inline-block;}
.reno3_content .reno3_r ul li .right_b .succ_order .num{margin-left: 4px;}
.reno3_content .reno3_r .new_detail{position: absolute;right: 4px;bottom: 18px;border-radius: 4px;background-color: rgb(245, 77, 12);width: 76px;height: 28px;line-height: 28px;color: #fff;font-size: 14px;text-align: center;}
.reno3_content .reno3_r .new_detail:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;
	background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);}
/*装修案例*/
 .anli_type{float: left;margin-left: 54px;}
 .anli_type ul li{color: #A0A0A0;font-size: 14px;margin-right: 28px;display: inline-block;line-height: 34px}
 .anli_type ul li a{color: #A0A0A0;}
 .anli_type ul li a:hover{color: #F54D0C} 
.reno4 .reno4_content{margin-top: 2px}
.reno4 .reno4_content ul{}
.reno4 .reno4_content ul li {width:286px;border:1px solid #e8e8e8;position:relative;margin-right:16px;float:left;margin-top:22px;transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s}
.reno4_content li:hover {border:0;box-shadow:0px 0px 35px 0px rgba(163,163,163,0.41);-moz-box-shadow:0px 0px 35px 0px rgba(163,163,163,0.41);-webkit-box-shadow:0px 0px 35px 0px rgba(163,163,163,0.41);-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}
.reno4_content li:hover .reno4_top img {-webkit-transition:scale(1.1);-moz-transition:scale(1.1);-ms-transition:scale(1.1);-o-transition:scale(1.1);transform:scale(1.1)}
.reno4 .reno4_content ul li .reno4_top{width: 100%;height: 183px;overflow: hidden;}
.reno4_content .reno4_top img {width:100%;height:100%;object-fit:cover;-webkit-transition:all .7s;-moz-transition:all .7s;-ms-transition:all .7s;-o-transition:all .7s;transform:all .7s}
.reno4 .reno4_bottom{padding: 16px 20px 32px;}
.reno4 .reno4_bottom .anli_title{font-size: 18px;color: #333;font-weight: bold;max-width: 70%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.reno4 .reno4_bottom .anli_info{font-size: 14px;color: #A0A0A0;margin-top: 10px}
.reno4_content .anli_img{position:absolute;top:148px;right:22px;border: 2px solid #fff;border-radius: 50%;box-shadow: 0px 4px 9px 0px rgba(163, 163, 163, 0.44);-moz-box-shadow:0px 4px 9px 0px rgba(163, 163, 163, 0.44);-webkit-box-shadow:0px 4px 9px 0px rgba(163, 163, 163, 0.44);width: 66px;height: 66px;}
.reno4 .reno4_content ul li .anli_img img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}
.reno4 .reno4_content ul li:nth-child(4n){margin-right: 0;}
/*最新招标信息*/
.reno5_content{margin-top: 22px}
	/*左侧内容*/
.reno5_content .reno5_l{float: left;width: 870px;border: 1px solid #eee;}
.reno5_content .reno5_l .reno5_top{height: 42px;line-height: 42px;background: #F8F8F8;border-bottom: 1px solid #eee;padding-left: 88px;font-size: 14px;color: #A0A0A0;}
.reno5_content .reno5_l .reno5_top span:first-child+span{margin-left: 464px;margin-right: 104px}
.reno5_bottom ul {padding-bottom: 6px}
.reno5_bottom ul li {padding: 20px 24px;border-top:1px dashed #e5e5e5;}
.reno5_bottom ul li:first-child{border-top:none;}
.reno5_bottom .info_l{float: left;    width: 518px;}
.reno5_bottom .info_m{float: left;font-size: 16px;color: #F54D0C;margin-left: 58px;margin-top: 17px;width: 70px;text-align: center;}
.reno5_bottom .info_r{float: right;width: 100px;height: 36px;line-height: 36px;text-align: center;color: #f76c3e ;border-radius: 4px;background: #fbeae4;margin-top: 12px;}
.reno5_bottom .trim_over{background:#f0f0f0;color: #999 }
.reno5_bottom .info_title{font-size: 16px;color: #333;font-weight: bold;}
.reno5_bottom .info_title a{color: #333;max-width: 518px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.reno5_bottom .info_bottom{font-size: 14px;color: #A0A0A0;margin-top: 14px}
.reno5_bottom .info_bottom .trim_method{margin-right: 16px}
	/*右侧内容*/
.reno5_content .reno5_r{float: right;border: 1px solid #eee;width: 310px}
.reno5_content .reno5_r .new_reno{font-size: 18px;font-weight: bold;color: #333;height: 45px;line-height: 45px;background: #F8F8F8;border-bottom: 1px solid #eee;padding-left: 18px}
.reno5_content .reno5_r ul{padding: 0 22px;}
.reno5_content .reno5_r ul li{border-top:1px solid #eee;padding: 18px 0}
.reno5_content .reno5_r ul li:first-child{border-top:none;}
.reno5_content .reno5_r ul li .new_trimTitle{font-size: 18px;color: #333;font-weight: bold;max-width: 100%;
    white-space: nowrap; overflow: hidden;text-overflow: ellipsis;}
.reno5_content .reno5_r ul li .new_trimInfo{font-size: 14px;color: #A0A0A0;max-width: 262px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-top: 7px}
.reno5_content .reno5_r ul li .new_trimPrice{font-size: 20px;color: #F54D0C;font-weight: bold;line-height: 22px;margin-top: 12px}
.reno5_content .reno5_r ul li .new_trimPrice span,.reno5_content .reno5_r ul li .new_trimPrice img{vertical-align: middle;}
.reno5_content .reno5_r ul li .new_trimPrice img{margin-right: 8px}
/*装修效果图*/
.reno6_content{margin-top: 8px;height: 420px}
.reno6_content ul{width: 1200px;position: relative;height: 420px}
.reno6_content ul li{width: 285px;height: auto;position: absolute;float: left;}
.reno6_content ul li .effect{width: 100%;height: 100%;overflow: hidden;}
.reno6_content ul li .effect img {width:100%;height:100%;object-fit:cover;display:block;-webkit-transition:all .7s;-moz-transition:all .7s;-ms-transition:all .7s;-o-transition:all .7s;transform:all .7s}
.reno6_content ul li .effect_title{position:absolute;bottom:0;left:0;right:0;width:285px;height:42px;background: rgba(0,0,0,0.4); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);line-height: 42px;text-align: center;font-size: 16px;color: #fff;}
.reno6_content ul li:hover img {-webkit-transition:scale(1.1);-moz-transition:scale(1.1);-ms-transition:scale(1.1);-o-transition:scale(1.1);transform:scale(1.1)}
.reno6_content ul li:first-child{height: 266px}
.reno6_content ul li:nth-child(2){height: 134px}
.reno6_content ul li:nth-child(3){height: 266px}
.reno6_content ul li:nth-child(4){height: 134px}
.reno6_content ul li:nth-child(5){height: 266px}
.reno6_content ul li:nth-child(6){height: 266px}
.reno6_content ul li:nth-child(7){height: 134px}
.reno6_content ul li:nth-child(8){height: 134px}
/*装修工地*/
.reno7_content{margin-top: 18px;}
	/*左侧内容*/
.reno7_content .reno7_l{float: left;width: 870px;}
.reno7_content .reno7_l .reno7_ul{width:870px;padding-right: 40px;box-sizing: border-box;}
.reno7_content .reno7_l .reno7_ul .reno7_li{width: 100%;height: auto;position: relative;float: left;margin-top: 30px}
.reno7_content .reno7_l .reno7_ul .reno7_li:first-child{margin-top: 0}
 .reno7_li .left_b{width: 190px;height: 140px;float: left;}
 .reno7_li .left_b img{width: 100%;height: 100%;object-fit: cover;border-radius: 4px}
 .reno7_li .right_b{margin-left: 220px;position: relative;padding-top: 11px}
 .reno7_li .right_b .site_title{font-size: 18px;color: #333;font-weight: bold;}
 .reno7_li .right_b .site_info{font-size: 14px;color: #A0A0A0;    margin-top: 10px;}
 .reno7_li .right_b .site_info span{margin-right: 16px;display: inline-block;overflow: hidden;}
 .reno7_li .right_b .site_info .com_name{display: inline-block;width: 253px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
  .reno7_li .com_name a{color: #a0a0a0}
 .reno7_li .right_b .site_see{font-size: 14px;color: #fff;width:100px;height:36px;line-height:36px;text-align:center;background:#F54D0C;border-radius:4px;position: absolute;right: 0;top: 22px;cursor: pointer}
  .reno7_li .site_see a{color: #fff;position: relative;z-index: 2}
 .reno7_li .right_b .site_see:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;
	background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);}
 .reno7_li .right_b .dot_ul{position: relative;    margin-top: 25px;}
 .reno7_li .right_b ul:after{    content: '';width: 100%;height: 1px;background: #F3F3F3;position: absolute;left: 0;top: 0;z-index: 10;}
 .reno7_li .right_b ul li{font-size: 14px;color: #A0A0A0;float: left;padding-top: 20px;    width: 20%;
    text-align: center;position: relative;}
 .reno7_li .right_b ul li.active{color: #F54D0C;}
 .reno7_li .right_b ul li:after{content: '';background: #fff;width: 8px;height: 8px;border:4px solid #F5F5F5;position: absolute;z-index: 20;top: -8px;left: 50%;margin-left: -12px;border-radius: 50%}
 .reno7_li .right_b ul li.active:after{border:4px solid #F54D0C;}
 .reno7_li .right_b ul li.hasCurr:after{border:4px solid #666;}
 .reno7_li .right_b ul li.hasCurr{color: #333;}
    
/*右侧内容*/
.reno7_content .reno7_r{float: right;border: 1px solid #eee;width: 310px}
.reno7_content .reno7_r .new_reno{font-size: 18px;font-weight: bold;color: #333;height: 42px;line-height: 42px;background: #F8F8F8;border-bottom: 1px solid #eee;padding-left: 18px}
/*.reno7_content .reno7_r ul{padding: 19px;}*/
.reno7_content .reno7_r ul li{padding: 10px 19px;}
.reno7_content .reno7_r ul li:hover{background: #f5f5f5}
.reno7_content .reno7_r ul li:first-child{padding-top: 20px; }
.reno7_content .reno7_r ul li .left_b{width: 88px;height: 111px;float: left;}
.reno7_content .reno7_r ul li .left_b img{width: 100%;height: 100%;object-fit: cover;}
.reno7_content .reno7_r ul li .right_b{margin-left: 102px;height: 111px;}
.reno7_content .reno7_r ul li .right_b .designer_name{font-size: 16px;color: #333;font-weight: bold;}
.reno7_content .reno7_r ul li .right_b .designer_info{font-size: 14px;color: #A0A0A0;    margin-top: 10px;}
.reno7_content .reno7_r ul li .right_b .designer_info span:first-child{margin-right: 15px}
.reno7_content .right_b .designer_order{border-radius: 4px;width: 92px;height: 32px;line-height: 32px;text-align: center;color: #fff;font-size: 14px;margin-top: 22px;background: #F54D0C;position: relative;}
.reno7_content .right_b .designer_order:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;
	background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);}
.reno7_content .reno7_r .design_more{width: 100%;height: 42px;line-height: 42px;text-align: center;background: #F54D0C;color: #fff;margin-top: 10px;position: relative;cursor: pointer;}
.reno7_content .reno7_r .design_more:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;
	background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);}
.reno7_content .reno7_r .design_more a{color: #fff;display: block;z-index: 2;position: relative;}
.reno7_content .reno7_r .design_more span{margin-right: 13px}
.reno7_content .reno7_r .design_more img{ vertical-align: middle;margin-top: -5px;}
/*人气设计师*/
.reno8_content{margin-top: 5px;}   
.reno8_content ul{overflow: hidden;padding-bottom: 24px;}
.reno8_content ul li{border: 1px solid #eee;width: 225px;margin-right: 16px;float: left;margin-top: 19px;}
.reno8_content ul li:nth-child(5n){margin-right:0}
.reno8_content ul li:hover{box-shadow: 0px 0px 35px 0px rgba(163, 163, 163, 0.41);-webkit-box-shadow:box-shadow: 0px 0px 35px 0px rgba(163, 163, 163, 0.41);-moz-box-shadow:0px 0px 35px 0px rgba(163, 163, 163, 0.41);}

.reno8_content ul li .artist_top{width: 225px;height: 86px;background:url(../images/artist_bg.png) no-repeat center;position: relative; }
.reno8_content ul li .artist_top img{width:91px;height:91px;border: 3px solid #fff;border-radius: 50%;background-color: rgb(238, 238, 238);box-shadow: 0px 0px 18px 0px rgba(177, 177, 177, 0.66);-webkit-box-shadow: 0px 0px 18px 0px rgba(177, 177, 177, 0.66);-moz-box-shadow: 0px 0px 18px 0px rgba(177, 177, 177, 0.66);position: absolute;top: 38px;left: 64px}
.reno8_content ul li .artist_middle{text-align: center;margin-top: 70px}
.reno8_content ul li .artist_middle .art_name{font-size: 16px;font-weight: bold;color: #333;}
.reno8_content ul li .artist_middle .art_info{font-size: 14px;color: #888;    padding: 0 20px;margin-top: 10px}
.reno8_content ul li .artist_middle .art_info span{display: inline-block;width: 50%;text-align: center;}
.reno8_content ul li .artist_bottom{font-size: 14px;color: #333;width: 100%;height: 40px;line-height: 40px;text-align: center;border-top: 1px solid #eee;margin-top: 14px;background: #F8F8F8}

/*装修课堂*/

.reno9_content .deco_li{float: left;margin-right: 34px;width: 583px;margin-top: 33px}
.reno9_content .deco_li:nth-child(2n){margin-right:0}
.deco_li .deco_top{}
.deco_li .deco_top .deco_title{font-size: 16px;font-weight: bold;color: #333;float: left;}
.deco_li .deco_top .deco_more{font-size: 14px;color: #A0A0A0;float: right;}
.deco_li .deco_top .deco_more a{color: #A0A0A0;}
.deco_li .deco_top .deco_more a:hover{color: #F54D0C;}

.deco_li .deco_bottom .lb{width: 180px;height: 127px;float: left;}
.deco_li .deco_bottom .lb img{width: 100%;height: 100%;object-fit: cover;border-radius: 4px;}
.deco_li .deco_bottom .rb{margin-left: 200px}
.deco_li .deco_bottom .rb ul li{font-size: 14px ;color: #333;margin-top: 11px}
.deco_li .deco_bottom .rb ul li span{overflow: hidden;display: inline-block;}
.deco_li .deco_bottom .rb ul li .deco_info{display:inline-block;margin-right: 25px;margin-left: 5px;max-width: 305px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 305px}
.deco_li .deco_bottom .rb ul li .deco_info:hover{color: #F54D0C}
.deco_li .deco_bottom .rb ul li .deco_time{color: #A0A0A0}

/*国籍区号弹窗*/
.dcontent .inpbox{position: relative;}
.dcontent .inpbox .areaCode{top: 20px;line-height: 40px;border-radius: 4px 0 0 4px;bottom: 2px;left: 2px;}
.dcontent .inpbox .areaCode_wrap{width: 294px;top: 58px;}
.dcontent input#price_phone{padding-left: 70px;}
.dcontent input#house_phone{padding-left: 70px;}

