body {font-family: 'microsoft yahei';}
a{cursor: pointer;}
.wpre {position: relative;margin-top: 16px}
.wpab {position: absolute;}

.header {padding: 30px 0 40px;    margin: 0 auto!important;box-sizing: border-box;min-width: 1200px;height: auto;}
.header .logo {float: left; width: 229px; height: 63px;}
.header .logo a{-webkit-transition:none;}
.header .logo a, .header .logo img { max-width: 229px;max-height:63px;}
.header .wapAd {float: left; width: 146px; height: 52px; margin: 4px 0 0 58px; overflow: hidden;}
.header .wapAd a {display: block;}

/* 发布招标浮动层 */
.header .dropdown-menu {display: none; position: absolute; z-index: 50; right: 0; top: 45px; width: 300px; background: #fff; border: 1px solid #eee; border-top: 3px solid #f25618; padding-bottom: 10px; -webkit-box-shadow: 0 0 30px #ccc; -moz-box-shadow: 0 0 30px #ccc; -ms-box-shadow: 0 0 30px #ccc; -o-box-shadow: 0 0 30px #ccc; box-shadow: 0 0 30px #ccc; -webkit-animation:topFadeIn .3s ease-out; -moz-animation:topFadeIn .3s ease-out; animation:topFadeIn .3s ease-out;}
.header .m-title {padding: 15px 0 25px; font-size: 24px; font-weight: 400; text-align: center; color: #f25717;}
.header .m-title p {color: #999; font-size: 12px; margin-top: 3px;}
.header .m-form {padding: 0 20px;}
.header .m-form dl {position: relative; padding-bottom: 20px;}
.header .m-form dt {position: absolute; color: #bcbcbc; top: 8px; left: 11px; cursor: text;}
.header .m-form dd input {height: 18px; line-height: 18px; border: 1px solid #D8D8D8; padding: 8px 10px; width: 237px; font-family: "microsoft yahei";}
.header .m-form select {float: left; display: inline; height: 38px; padding: 7px; border: 1px solid #d8d8d8; font-family: "microsoft yahei";}
.header .m-form .select_l {width: 120px; margin-right: 13px;}
.header .m-form .select_r {width: 125px;}
.header .m-form .form_btn {display: block; margin: 30px 0 30px; height: 44px; width: 260px; color: #fff; background-color: #f36f20; font-size: 14px; text-align: center; border: none; cursor: pointer; font-family: "microsoft yahei";}
.header .m-list {width: 257px; height: 169px; overflow: hidden; margin-left: 20px;}
.header .m-list ul {width: 258px; height: 170px;}
.header .m-list li {width: 85px; float: left; border-width: 0 1px 1px 0; border-style: dotted; border-color: #e8e8e8;}
.header .m-list li a {display: block; color: #999; text-align: center; padding: 9px 0 16px;}
.header .m-list li s {display: block; margin: 0 auto 7px; background: url('../images/sprite.png');}
.header .m-list .m1 s {width: 34px; height: 34px; background-position: -48px 0;}
.header .m-list .m2 s {width: 40px; height: 34px; background-position: -85px 0;}
.header .m-list .m3 s {width: 34px; height: 35px; background-position: -128px 0; margin-bottom: 6px;}
.header .m-list .m4 s {width: 35px; height: 36px; background-position: -167px 0; margin-bottom: 5px;}
.header .m-list .m5 s {width: 39px; height: 34px; background-position: -205px 0;}
.header .m-list .m6 s {width: 56px; height: 34px; background-position: -47px -35px;}

.header .delimiter {float: right; margin: 14px 10px 0; color: #ccc;}
/*1顶部信息*/
.icon-img img{width:auto;height:auto;margin-top: 4px;}

.fixedwrap .search .type{border-right:none;position: relative;}
.type .line {width: 1px;height: 23px;position: absolute;z-index: 1;right:0;top:5px;background: #dcdcdc}
.fixedwrap .search .type .y-line{position: absolute;right: -2px;}
.w1200 .searchwrap{border: 1px solid #1e1e1e;background: #fff;-moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius: 4px;}
.fixedwrap .search .submit{background: #ffd100 !important;color:#141414;-moz-border-top-right-radius:4px; -webkit-border-top-right-radius:4px;border-top-right-radius: 4px;-moz-border-bottom-right-radius:4px; -webkit-border-bottom-right-radius:4px;border-bottom-right-radius: 4px;}
.fixedwrap .search .inpbox input{color:#878787;}

.topInfo .loginbox a{margin-right: 5px;}
ul.menu li:hover .pop{display: block;}
.topInfo .pop s{background: url(../images/icons.png) -10px -591px;}

.fixedwrap .search .type dd {display: none;position: absolute;top:22px;padding-top: 20px;left:-3px;width: 100px;}
.header .searchwrap {width: 424px;margin-left: 52px;float: left;margin-top: 16px;margin-right: 48px}
#header .search .type a{color: #333}
#header .search .inpbox input{color: #a0a0a0;}
.header .searchwrap{border: 2px solid #f54d0c;background: none!important;border-radius: 4px;}
#header .search .submit{background: #f54d0c!important;color: #fff;    border-top-right-radius: 0;    border-bottom-right-radius: 0;}
#header .search .searchkey{    margin: 3px 0 7px;}
#header .kefu{margin-top: 10px}
#header .kefu s{font-weight: bold;font-size: 22px;color: #1F1F1F}

.header_ul{}
.header_ul ul{}
.header_ul ul li{margin-right: 35px;text-align: center;float: left}
.header_ul ul li.header_build{margin-right: 0;}
.header_ul ul li img{width: 46px;height: 46px}
.header_ul ul li p{font-size: 16px;color: #333;text-align: center;}

/* 导航 */
.nav {height: 45px; background-color: #fc8a1a;}
.nav ul {height: 45px;}
.nav li {float: left; _display: inline;position: relative;}
.nav li a {float: left; display: block; _display: inline; position: relative; width:133px;text-align:center;height: 45px; line-height: 45px; font-size: 18px; color: #fff;}

.nav li a:hover, .nav li a.curr {background-color: #f54d0c; color: #fff;position: relative;}
.nav2 li a:hover:before {content:'';display:block;position:absolute;left:0;top:-8px;width:0;height:0;border-bottom:8px solid #f54d0c;border-left:133px solid transparent;}
.nav2 li a.curr:before {content:'';display:block;position:absolute;left:0;top:-8px;width:0;height:0;border-bottom:8px solid #f54d0c;border-left:133px solid transparent;}
.nav li a span {position: absolute; top: -16px; right: 11px; height: 17px;}

.nav li a .r img{width: 24px;height: 17px;display: }
/*瀑布流下*/
.item .reno4_bottom{padding: 25px 20px 16px;}
.item .reno4_bottom .anli_title{font-size: 18px;color: #333;font-weight: bold;}
.item .reno4_bottom .anli_info{font-size: 14px;color: #A0A0A0;margin-top: 10px}
/**/

/* 友情链接 */
.friend {margin-top: 30px;}
.friend dt {float: left; width: 95px; line-height: 12px; text-align: center; font-weight: 700;}
.friend dd {position: relative; overflow: hidden;}
.friend dd a {float: left; height: 12px; overflow: hidden; line-height: 12px; margin: 0 15px 10px 0; padding-right: 18px; border-right: 1px solid #e6e6e6;}

/* 版权 */
.footer {background: #444; padding: 30px 0 20px; color: #999;margin-top: 30px}
.footer a {color: #999;}
.footer a:hover {text-decoration: underline;}
.footer .about dl {float: left; width: 64px; margin: 0 55px 0 75px; color: #fff;}
.w1200 .footer .about dl {margin: 0 85px 0 90px;}
.footer .about dt {font-size: 16px; margin-bottom: 10px;}
.footer .about dd a {display: block; margin-bottom: 5px; color: #fff;}
.footer .about dd img {width: 64px; height: 64px;}
.footer .link {margin: 30px 0 20px;}
.footer p {text-align: center;}
.footer p a {padding: 0 8px;}



/* 条件筛选 */
.screen {margin-top: 20px;border-top: 1px solid #EEEEEE;background: #fff;}
.screen dl {font-size: 14px;border-bottom: 1px solid #EEEEEE;border-left: 1px solid #EEEEEE;border-right: 1px solid #EEEEEE;background: #F8F8F8}
.screen dt {float: left;color: #595959;text-align: center;padding: 22px 22px 0;}
.screen dd {position: relative;padding-left: 60px;color: #595959;overflow: hidden;padding: 17px 22px 8px 22px;background: #fff;border-left: 1px solid #EEEEEE;}
.screen dd a {display: inline-block;padding:5px 10px;margin-right: 12px;margin-bottom: 5px;border-radius: 16px}

.screen dd a:hover ,.screen dd a.curr {background: #F54D0C;color: #fff;border-radius: 16px}

/* 导航条 */
.breadcrumb {margin-top: 15px;overflow: hidden;}
.breadcrumb li {height: 34px;line-height: 34px;float:left;}
.breadcrumb li ,.breadcrumb li a {font-size: 14px;color:#666;}
.breadcrumb li.thispg {}
.breadcrumb li span {margin:0 5px;}
.breadcrumb li a:hover {color: #F54D0C;}

/* 排序 */
.sort {position: relative;border: 1px solid #EEEEEE;}
.sort ul {overflow: hidden;    }
.sort ul li {float: left;width: 110px;text-align: center;border-right:1px solid #EEEEEE ;padding: 12px 0;}
.sort ul li a {display: block;font-size: 14px;color: #898989;}
.sort ul li a.curr {color: #F54D0C;}
.sort .icon {display: inline-block;width: 9px;height: 14px;    margin-left: 11px;background: url(../images/forman/icons.png);background-repeat:no-repeat;}
.sort .icon-down{background-position: -20px -106px;}
.sort .curr .icon-down {background-position: -20px -60px;}
/*.sort .curr .icon-up {background-position: -11px -149px;}*/
.sort .info {position: absolute;right:6px;top:6px;line-height: 32px;}
.sort .info p {padding:0 10px;display: inline-block;}
.sort .info p {font-size: 14px;color: #888;}
.sort .info p .red {color: #F54D0C;}
.sort .info .join{display: inline-block;height:30px;background:linear-gradient(90deg,rgba(249,154,43,1) 0%,rgba(248,189,86,1) 100%);border-radius:4px;line-height: 30px;font-size: 14px;color: #fff;padding: 0 11px; }

.sort .info .join a{color: #fff}
/* 分页 */
.pagination {padding: 10px 0 30px; text-align: center; line-height: 28px; font-size: 14px; color: #333; margin-top: 30px;}
.pagination li {display: inline-block; margin-right: 5px; border: 1px solid #eee;}
.pagination li.page_current {border-color: #fff;}
.pagination li.page_disabled {display: none;}
.pagination li a, .pagination li span {display: block; padding: 0 10px;}
.pagination li a:hover {background: #F54D0C; color: #fff;}
.pagination li.page_more span {background: #fff;color: #333; cursor: default;}
.pagination .page_info {display: none;}

/* 搜索 */
.reno_form{background: #fff;margin-bottom: 20px;}
.reno_form form{border:1px solid #f97126;height: 38px;line-height: 38px;border-radius: 4px;}
.reno_form img{width: 21px;height: 21px;padding-left: 15px;margin-right: 10px;    vertical-align: middle;
    margin-top: -5px;}
.reno_form input{display: inline-block;height: 36px;background: #fff;-webkit-appearance:none;outline:none;
	border:0px;font-size: 14px; color: #333}
.reno_form input::placeholder{color: #a0a0a0}
.renoform_go{height: 100%}
.renoform_go button{width:56px;height: 100%;text-align:center;font-size: 14px; color: #fff; border: none; background: #F54D0C; outline: none;cursor: pointer; }
.renoform_go{float: right;}


/*搜索2*/
.screen{position: relative;}
.screen .reno_form2{width: 322px;position: absolute;right: 19px;z-index: 1;top: 12px;}
.bor_right{border:1px solid #eee;}
.new_reno{height: 42px;line-height: 42px;padding-left: 16px;font-size: 16px;color: #333;font-weight: bold;background: #F8F8F8}


/* 瀑布流 */
.zwf1 {width: 100% !important;height: 200px;background:#fff;}
.zwf2 {width: 200px !important;height: 200px;}
.container {position: relative; margin-top: 20px;}
.container.gdheight {height: 1000px !important;}
.item {position: absolute; width: 280px; top: 300px; background:#fff;color:#333;word-break:break-all;word-wrap:break-word;color: #acacac;opacity: 1;border: 1px solid #eee;cursor: pointer}
.item.masonry-brick {min-height:200px;opacity:1;filter:none\9\0;left:auto;bottom:auto;-webkit-transition-duration: .7s; -moz-transition-duration: .7s; -ms-transition-duration: .7s;-o-transition-duration: .7s;transition-duration: .7s;-webkit-transition-property: left, top, opacity;-moz-transition-property: left, top, opacity;-ms-transition-property: left, top, opacity;-o-transition-property: left, top, opacity;transition-property: left, top, opacity;}
.item .pic img {display: block;width: 100%;transition:all .25s ease-out;-webkit-transition:all .25s ease-out;-moz-transition:all .25s ease-out;-moz-transition:all .25s ease-out;}
.item .pic img:hover {opacity:.8;filter:alpha(opacity=80);}
.item:hover{box-shadow: 0px 0px 35px 0px rgba(163, 163, 163, 0.41);-moz-box-shadow:0px 0px 35px 0px rgba(163, 163, 163, 0.41);-webkit-box-shadow:0px 0px 35px 0px rgba(163, 163, 163, 0.41);}
.item .reno4_bottom{padding: 25px 20px 16px;}
.item .reno4_bottom .anli_title{font-size: 18px;color: #333;font-weight: bold;}
.item .reno4_bottom .anli_info{font-size: 14px;color: #A0A0A0;margin-top: 10px}


.item .info {border:1px solid #ececec; border-top: 0; padding: 10px;}
.item .name {font-size: 16px;color: #333;overflow: hidden;}
.item .name .tit {width: 100%; float: left;overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.item .name a.tit:hover {color: #45c8a5;}
.item .more {position: relative;}
.item .more ,.item .zan {font-size: 14px;color: #999;}
.item .designer img {width: 20px;height: 20px;margin-right: 5px;vertical-align: middle;}
.item .zan {float: right; margin-top: 2px;}

.item .icon {display: inline-block;background-image:url(../images/caselist/icons.png);background-repeat:no-repeat;}
.item .icon-zan {width: 13px;height: 11px;margin-right: 5px;background-position: -9px -10px}
.item .tag {position: absolute;left:20px;top:20px;padding:2px 10px;background: #29221e;color: #fff;font-size: 14px;opacity:0;filter:alpha(opacity=0);transition: all .25s;-webkit-transition: all .25s;-moz-transition: all .25s;z-index: 1;}
.item:hover .tag {opacity:1;filter:alpha(opacity=100);}

#loading {height: 50px; line-height: 50px; font-size: 14px; text-align: center;}
#hidenbox {display: none;}

.empty {height: 300px; text-align: center; line-height: 300px; font-size: 14px;}

/*区域*/
.form-row select#addr2,.form-row select#addr22,.form-row select#addr222{position:absolute;top:0;right:0;}
.form-row select#addr1,.form-row select#addr11,.form-row select#addr111{transition:all .4s;}
.form-row select.noSon{    width: 100% !important;background: #fff url(../images/sortDown.png) no-repeat 96% center!important;}

/*立即预约弹出层*/
.order_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.order_container{position: fixed; left: 50%; margin-left: -265px; top: 50%; margin-top: -140px; width: 530px;  box-sizing: border-box;background-color:#fff;  padding: 20px 20px 23px; z-index: 9999; }
.order_container .close_alert{width: 16px;height: 16px;position: absolute;right: 20px;top: 20px;cursor:pointer}
.order_container p.t1{margin-top: 19px;font-size: 16px;font-weight: bold;color: #333;text-align: center;}
.order_container p.t2{margin-top: 20px;line-height: 26px;color: #a0a0a0;font-size: 14px;text-align: center;}
.order_container p.t3{border:1px solid rgb(229, 229, 229);color: #a0a0a0;width: 99px;height: 34px;text-align: center;line-height: 34px;margin: 5px auto 0;cursor:pointer}
/* 波纹效果 */
.order_container .wave {position:relative;width:50px;height:50px;text-align:center;margin:35px auto 0;}
.order_container .m-box{width:50px;height:50px;position:relative;margin: 0 auto;border-radius:50%;border:3px solid #f6571a}
.order_container .m-duigou{width:25px;height:18px;position:absolute;left:50%;top:50%;margin:-13px 0 0 -13px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden}
.order_container .m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#f6571a;border-radius:2px}
.order_container .m-duigou:before{width:3px;height:15px;left:0;-webkit-animation:dgLeft 0.5s linear 0s 1 both;animation:dgLeft 0.5s linear 0s 1 both}
.order_container .m-duigou:after{width:25px;height:3px;bottom:0;-webkit-animation:dgRight 0.5s linear 0.5s 1 both;animation:dgRight 0.5s linear 0.5s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@keyframes circle-opacity {from {opacity:1;transform:scale(0);}
to {opacity:0.5;transform:scale(1);}
}

.price_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}



