@charset "utf-8";
.main-right {width: 240px;}
.main-left {padding-left: 260px; margin-bottom: 50px;}

.main-right .list-box{border: 1px solid #eeeeee; width: 238px;margin-bottom: 20px; font-size: 14px;}
.main-right .list-box .sub {padding: 5px 0;}
.main-right .list-box a {display: block;}
.main-right .list-box a:hover{color:#00af63;font-weight: bold;}
.main-right .list-box .selected{color:#00af63;font-weight: bold;}
.main-right .list-box .level1{background-color: #eeeeee;height: 41px; text-align: left; font-size: 16px; line-height: 41px;padding-left: 15px;color: #333}
.level1 a{color: #333}
.main-right .list-box .level2{padding-left: 9px;height: 38px;line-height: 38px;}
.main-right .list-box .level2 i {position:relative;cursor:pointer;float:left;width:14px; height:19px; margin: 9px 10px 0 0;}
.main-right .list-box .level2 i s {position:absolute; display: block; width: 0; height: 0; border-style: solid; border-width: 4px; right: 2px; top: 6px; border-color: transparent; border-right-width: 0; border-left-color: #7d7d7d;}
.main-right .list-box .level2.selected i s {right: 0px; top: 8px; border-bottom-width: 0px; border-top-color: #7d7d7d; border-left-color: transparent; border-right-width: 4px;}
.main-right .list-box .level2.curr a, .main-right .list-box .level3.curr a {color: #00af63;}
.main-right .list-box .level2.curr i s {border-left-color: #00af63;}
.main-right .list-box .level2.curr.selected i s {border-top-color: #00af63; border-left-color: transparent;}
.main-right .list-box .level3-box{width: 100%; display: none;}
.main-right .list-box .selected-level3-box{width: 100%;display: block;}
.main-right .list-box .level3{padding-left: 43px;height: 25px;line-height: 25px;}


/* 左侧列表 */
.list {margin-top: 20px;}
.list li {padding: 25px;border-top: 1px solid #eee;}
.list li:first-child{border-top: none}
.list .pic {float: left;margin-right: 20px}
.list .pic ,.list .pic img {display: block;width: 210px;height: 155px;}
.list .txt {overflow: hidden;}
.list .txt .bt {display: block;margin:5px 0 10px;font-size: 24px;color: #000;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.list .txt .bt:hover {text-decoration: underline;color: #ff6c00;}
.list .txt .des {height: 66px;line-height: 22px;margin-bottom: 8px;font-size: 14px;color: #666;overflow: hidden;}
.list .txt .d {color: #ff6c00;}
.list .txt .d:hover {text-decoration: underline;color: #ff6c00;}
.list .txt .t {height: 30px;line-height: 30px;padding-left: 25px;font-size: 14px;color: #888;background:url(../images/raiders/clock.png) left center no-repeat;}
.list li:hover{background: #f8f8f8;cursor: pointer;}
