@charset "utf-8";

.main-right {width: 270px;float: right}
.main-left {float: left;width: 909px}
.main{margin-top: 20px;min-width: 1200px}
.dot{color: #a0a0a0}
ul li a:hover{color:#F54D0C }

.lf{float: left;width: 900px;}
.lr{float: right;width: 288px}
/*焦点图*/
.PicFocus{float: left;width: 400px;height: 370px;overflow: hidden;position: relative;}
.PicFocus img{width: 400px;height: 370px;}
.PicFocus .bd{height: 370px;}
.PicFocus .bd .slideshow-item{position: relative;}
.PicFocus .bd .slideshow-item .slideinfo{   position: absolute;bottom: 0px;left: 0; right: 0;padding: 45px 80px 34px 25px;font-size: 22px;text-align: justify;background: -webkit-linear-gradient(top, #000 , transparent); background: -o-linear-gradient(top, #000, transparent); background: -moz-linear-gradient(top, #000, transparent); background: linear-gradient(to top, #000 , transparent);filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = #00ffffff, endColorstr = #ff000000);}
.PicFocus .slideshow-item .slideinfo h3 a{color:#fff;font-weight: bold;display: inline-block;max-width: 353px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.PicFocus .hd{position: absolute;height: auto;bottom: 15px;left: 0;text-align: center;width: 100%}
.PicFocus .hd ul li{display: inline-block;width: 40px;height: 2px;background:#fff;opacity: 1;margin-left: 7px;cursor: pointer;}
.PicFocus .hd ul li.on{opacity: .6;}
.PicFocus:hover .prev{display: block;}
.PicFocus:hover .next{display: block;}
.PicFocus .prev{width: 48px;height: 83px;background: rgba(0, 0, 0, 0.6);position: absolute;left: 0; top: 132px;display: none;-webkit-animation: leftFadeIn .5s ease-out;-moz-animation: leftFadeIn .5s ease-out;animation: leftFadeIn .5s ease-out;}
.PicFocus .prev:after{content: "";display: block;width: 100%;height: 100%;background: url(../images/prev.png) no-repeat center;}
.PicFocus .next{width: 48px;height: 83px;background: rgba(0, 0, 0, 0.6);position: absolute;right: 0;top: 132px;display: none;-webkit-animation: rightFadeIn .5s ease-out;-moz-animation: rightFadeIn .5s ease-out;animation: rightFadeIn .5s ease-out;}
.PicFocus .next:after{content: "";display: block;width: 100%; height: 100%;background: url(../images/next.png) no-repeat center;}
/*头部新闻列表*/
.news1{float: left;margin-left: 26px;width: 483px}
.news1_con .new_tit{font-size: 22px;color: #333;font-weight: bold;margin-bottom: 10px}
.news1_con .new_tit a:hover{color: #F54D0C;cursor: pointer;}
.news2_con .new_tit2 a:hover{color: #F54D0C;cursor: pointer;}
.news1_con .news-item{font-size: 14px;color: #a0a0a0;margin-top:2px;padding-left: 5px;}
.news1_con .news-item a{display: inline-block;max-width: 380px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #333;}
.news1_con .news-item a:hover{color: #F54D0C;cursor: pointer;}
.news2_con .news-item a:hover{color: #F54D0C;cursor: pointer;}
.news1_con .news-item .time{display: inline-block;overflow: hidden;float: right;}
.news1_con .specifal{margin-top: 15px}

.lr ul li a:hover{color: #F54D0C;cursor: pointer;}
.article ul li a:hover{color: #F54D0C;cursor: pointer;}
/*热点新闻*/
.article{border: 1px solid #eee;}
.article ul{padding: 6px 18px 12px 12px;}
.article ul li{margin-top: 9px}
.article ul li span{display: inline-block;width: 20px;height: 21px;text-align: center;line-height: 18px;color: #fff;margin-right: 8px;overflow: hidden;}
.article ul li.red_li span{background: url(../images/orange.png) no-repeat;}
.article ul li.grey_li span{background: url(../images/grey.png) no-repeat;}
.article ul li a{font-size: 14px;color: #333;display: inline-block;max-width: 208px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
/*装修进程*/
.process{margin-top: 50px}
.process .pro_head{font-size: 28px;color: #333;margin: 0 auto;width: 144px;text-align: center;background: #fff;line-height: 30px;position: relative;}
.process .pro_head:before{content: '';position: absolute;left:-164px;top:14px;width:163px;height:1px;background:linear-gradient(-90deg,rgba(51,51,51,1) 0%,rgba(255,255,255,1) 100%);}
.process .pro_head:after{content: '';position: absolute;top:14px;left:144px;width:163px;height:1px;background:linear-gradient(90deg,rgba(51,51,51,1) 0%,rgba(255,255,255,1) 100%);
}
.pro_con {padding-bottom: 20px}
.pro_before{width: 380px;margin-top: 30px;float: left;margin-right: 30px}
.top_img{width: 380px;height: 196px;}
.top_img img{width: 100%;height: 100%}
.pro_before .pro_ul{padding:13px 0;}
.pro_before:nth-child(3n){margin-right: 0}
.pro_ul li{margin-bottom: 34px;width: 25%;text-align: center;float: left;}
.pro_ul li .pro_info{font-size: 14px;color: #888; }
.pro_ul li i{display: block;width: 40px;height: 36px;    margin: 0 auto 5px;}
.pro_ul li i.pro-icon{background: url(../images/raiders/icons.png) no-repeat;}
.pro_ul li i.pro1{background-position: -50px -50px;}
.pro_ul li i.pro2{background-position: -145px -53px;}
.pro_ul li i.pro3{background-position: -239px -50px;}
.pro_ul li i.pro4{background-position: -335px -50px;}
.pro_ul li i.pro5{background-position: -50px -144px;}
.pro_ul li i.pro6{background-position: -146px -144px;}
.pro_ul li i.pro7{background-position: -47px -300px;}
.pro_ul li i.pro8{background-position: -140px -300px;}
.pro_ul li i.pro9{background-position: -239px -300px;}
.pro_ul li i.pro10{background-position: -330px -300px;}
.pro_ul li i.pro11{background-position: -47px -397px;}
.pro_ul li i.pro12{background-position: -140px -397px;}
.pro_ul li i.pro13{background-position: -236px -397px;}
.pro_ul li i.pro14{background-position: -44px -556px;}
.pro_ul li i.pro15{background-position: -135px -557px;}
.pro_ul li i.pro16{background-position: -232px -557px;}
.pro_ul li i.pro17{background-position: -327px -557px;}
.pro_ul li i.proMore{background-position: -236px -149px;}





/*公共title*/
.reno_title{border-bottom: 4px solid #eee}
.reno_title h3{font-size: 22px;font-weight: bold;color: #333;border-bottom: 4px solid #f54d0c;float: left;padding-bottom: 16px;    margin-bottom: -4px;width: 100px;text-align: left;}
.reno_title .reno_more{float: right;padding-top: 10px}
.reno_title .reno_more .see_more{display: inline-block;}
.reno_title .reno_more .see_more span{font-size: 16px;color: #a0a0a0;margin-right: 12px}
.reno_title .reno_more .see_more span:hover{color: #F54D0C}


 .spe_ul{float: right;margin-right: 44px;}
 .spe_ul li{color: #A0A0A0;font-size: 14px;margin-right: 36px;display: inline-block;padding-top: 13px}
 .spe_ul li a{color: #A0A0A0;}
 .spe_ul li a:hover{color: #F54D0C} 

 /*材料选购*/
 .material{margin-top: 30px}
.material .content{margin-top: 26px;padding-bottom: 18px;}
 /*左侧新闻列表*/


.lf_con1 .left_img{float: left}
.lf_con1 .left_img a{width: 378px;height: 207px;display: block;}
.lf_con1 .left_img a:first-child{margin-bottom: 18px}
.lf_con1 .left_img img{width: 100%;height: 100%;object-fit: cover}
.news2_con{margin-left: 400px}
.news2_con .new_tit2{font-size: 30px;font-weight: bold;}
.news2_con .new_tit2.bigTit{margin-top: 35px}
.news2_con ul{margin-top: 15px}
.news2_con ul li{font-size: 18px;}
.news2_con ul li a{display: inline-block;max-width: 500px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #333;}
.lr .top_img{width: 270px;height: 180px;position: relative;margin-bottom: 17px}
.lr .top_img img{width: 100%;height: 100%;object-fit: cover}
.lr .top_img p{ position: absolute;bottom: 0px;left: 0; right: 0;color: #fff;font-size: 16px;font-weight: bold;padding:42px 20px 12px 13px;    max-width: 237px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;background:linear-gradient(0deg,rgba(0,0,0,.6) 0%,rgba(0,0,0,0) 100%);}
.lr ul li.textLi{line-height: 22px;font-size: 14px;color: #a0a0a0}
.lr ul li.textLi a{display: inline-block;max-width: 270px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #333;}
.lr ul li.textLi:hover{color: #F54D0C;}
.lr ul li.textLi:hover a{color: #F54D0C;}
.news2_con ul li:hover a{color: #F54D0C;}