@charset "utf-8";

ul li{cursor: pointer;}
/*加入工长*/
.content1{background: url(../images/smart/banner.png) no-repeat center;width: 100%;height: 310px;color: #fff;box-sizing: border-box;padding-top: 50px;min-width: 1200px;}
.content1 h1{font-size:40px;font-weight:800;color:rgba(255,255,255,1);text-shadow:0px 3px 4px rgba(255,255,255,0.4);    text-align: center;}
.content1 .smart_tab{padding-left: 70px;box-sizing: border-box;margin-top: 20px}
.content1 .smart_tab li{width: 160px;text-align: center;float: left;height: 180px;position: relative;cursor: default;}
.content1 .smart_tab li i{display: inline-block;width: 100px;height: 100px;margin-bottom: 20px;border-radius: 50%}
.content1 .smart_tab li p{font-size: 20px;font-weight: bold;color: #fff}
.smart_tab li.coming{margin-right: 280px}
.smart_tab li.impor{margin-right: 270px}
.smart_tab li.coming i{background: url(../images/smart/coming.png) no-repeat center;}
.smart_tab li.impor i{background: url(../images/smart/impor.png) no-repeat center;}
.smart_tab li.place i{background: url(../images/smart/place.png) no-repeat center;}
.smart_tab li.active:after{content: '';position: absolute;bottom:-10px;left: 50%;margin-left: -15px;width: 0;height: 0;border-left: 15px solid transparent;border-right: 15px solid transparent;border-top: 10px solid #333334;}
.smart_tab .coming.active i{background: url(../images/smart/coming2.png) no-repeat center;box-shadow:0px 4px 16px 0px rgba(255,255,255,0.5);}
.smart_tab .impor.active i{background: url(../images/smart/impor2.png) no-repeat center;box-shadow:0px 4px 16px 0px rgba(255,255,255,0.5);}
.smart_tab .place.active i{background: url(../images/smart/place2.png) no-repeat center;box-shadow:0px 4px 16px 0px rgba(255,255,255,0.5);}
.smart_container .smart_con{display: none;-webkit-animation: rightFadeIn .5s ease-out;-moz-animation: rightFadeIn .5s ease-out;animation: rightFadeIn .5s ease-out;padding-bottom: 310px}
.smart_container .smart_show{display: block;}
/*将要进行的*/
.area_type{margin-top: 66px}
.area_type ul{font-size: 0;padding-left: 70px}
.area_type ul li{display: inline-block;margin-right: 128px}
.area_type ul li:nth-child(4n){margin-right: 0}
.area_type ul li .top_img{width: 162px;height: 162px;position: relative;border-width: 4px;border-style:  solid ;border-color: #fff;box-shadow: 0px 0px 13px 0px rgba(149, 149, 149, 0.5);}
.area_type ul li .top_img img{width: 100%;height: 100%;object-fit: cover;display: block;}
.area_type ul li p{text-align: center;margin-top: 23px;font-size: 18px;color: #333;}
.area_type ul li.active .top_img{ border-color: #fc8a1a}
.area_type ul li.active .top_img:before {content:'';display:block;position:absolute;left:50%;top:50%;width:64px;height:64px;margin-left:-32px;margin-top:-32px;background:url(../images/smart/check1.png) no-repeat center;background-size:64px 64px;}

.house_type ul{font-size: 0;padding-left: 106px;margin-top: 70px}
.house_type ul li{display: inline-block;border-radius: 4px;border: 1px solid #eee;width: 123px;height: 44px;line-height: 46px;text-align: center;font-size: 16px;color: #333;margin-right: 50px;margin-bottom: 20px;}
.house_type ul li.active{    background: url(../images/smart/check3.png) no-repeat 100px 20px;
    background-size: 24px;
    border-color: #fc8a1a;}

.house_type ul.pub_ul{display: none;}
/*注重的*/
.choose{}
.choose ul{font-size: 0;padding-left: 80px;margin-top: 26px}
.choose ul li{display: inline-block;margin-right: 122px;width: 110px;height: 110px;margin-top: 44px;position: relative;}
.choose ul li .top_img{width: 110px;height: 110px;position: relative;border-width: 3px;border-style:  solid ;border-color: #fff;border-radius: 50%;}
.choose ul li.top-1 .top_img{background: url(../images/smart/fg_01.png) no-repeat center;background-size: cover}
.choose ul li.top-2 .top_img{background: url(../images/smart/fg_02.png) no-repeat center;background-size: cover}
.choose ul li.top-3 .top_img{background: url(../images/smart/fg_03.png) no-repeat center;background-size: cover}
.choose ul li.top-4 .top_img{background: url(../images/smart/fg_04.png) no-repeat center;background-size: cover}
.choose ul li.top-5 .top_img{background: url(../images/smart/fg_05.png) no-repeat center;background-size: cover}
.choose ul li.top-6 .top_img{background: url(../images/smart/fg_06.png) no-repeat center;background-size: cover}
.choose ul li.top-7 .top_img{background: url(../images/smart/fg_07.png) no-repeat center;background-size: cover}
.choose ul li.top-8 .top_img{background: url(../images/smart/fg_08.png) no-repeat center;background-size: cover}
.choose ul li.other .top_img{background: url(../images/smart/fg_09.png) no-repeat center;background-size: cover}

.choose ul li p{text-align: center;margin-top: 27px;font-size: 18px;color: #333;}
.choose ul li.active .top_img{ border-color: #fc8a1a}
.choose ul li.active i{display:block;position:absolute;left:50%;top:50%;width:38px;height:38px;margin-left:-19px;margin-top:-19px;background:url(../images/smart/check2.png) no-repeat center;background-size:38px 38px;z-index: 2}
/*房子所在地*/
.smart_con form{width: 636px;margin: 116px auto 0}
.form-row {position: relative;color: #333;margin-top: 22px}
.form-row select {width: 303px;height:50px;float: left;padding-left:21px;margin-right: 30px;font-size: 16px;color: #888;-webkit-appearance:none;background: #fff url(../images/sortDown.png) no-repeat 278px center;border-radius: 4px;    border: 1px solid #dcdcdc;border-radius: 4px;cursor: pointer;}
.form-row select.select_r{margin-right: 0}
.smart_con form input{width: 100%;border: 1px solid #dcdcdc;border-radius: 4px;-webkit-appearance:none;font-size: 16px;color: #333;box-sizing: border-box;padding-left: 21px;height: 50px;line-height: 50px;margin-top: 22px}
.smart_con form input::placeholder{color: #888;}
.vill_submit {border-radius: 4px;background-color: #f54d0c;box-shadow: 0px 3px 6px 0px rgba(245, 77, 12, 0.5);width: 192px;height: 54px;line-height: 54px;text-align: center;font-size: 18px;color: #fff!important;margin: 90px auto 0;cursor: pointer;margin-left: 50px}
.step{text-align: center;}
.step p{display: inline-block;border: 1px solid #f54d0c}
.step .prev_step:hover{background-color: #f54d0c;color: #fff;box-shadow: 0px 3px 6px 0px rgba(245, 77, 12, 0.5);}
.prev_step {border-radius: 4px;background-color: #fff;width: 192px;height: 54px;line-height: 54px;text-align: center;font-size: 18px;color: #f54d0c;margin: 140px auto 0;cursor: pointer;}
.next_step {border-radius: 4px;background-color: #f54d0c;width: 192px;height: 54px;line-height: 54px;text-align: center;font-size: 18px;color: #fff;margin: 140px auto 0;cursor: pointer;margin-left: 50px;box-shadow: 0px 3px 6px 0px rgba(245, 77, 12, 0.5);}

/*智能匹配结果*/
.result{padding-top: 70px;padding-bottom: 55px}
.re_tit{font-weight: bold;font-size: 30px;color: #333;text-align: center;}
.re_tip{font-size: 20px;color: #333;margin-top: 50px}
.result_con ul li{margin-top: 22px;background: #f8f8f8;padding: 30px 66px 30px 74px;position: relative;border: 1px solid #f8f8f8}
.result_con ul li:hover{border: 1px solid #f54d0c;}
.result_con ul li:before {content:'';display:block;position:absolute;left:25px;top:72px;width:28px;height:28px;background:url(../images/smart/res1.png) no-repeat center;background-size:100%;}
.result_con ul li.active:before{content:'';display:block;position:absolute;left:25px;top:72px;width:28px;height:28px;background:url(../images/smart/res2.png) no-repeat center;background-size:100%;}
.result_con li .re_img {float: left;width: 110px;height: 110px;border: 1px solid #eee}
.result_con li .re_img img {width: 100%;height: 100%;}
.result_con li .re_txt{float: left;margin-left: 23px;}
.result_con .re_top {font-size: 20px;font-weight: bold;color: #333;line-height: 50px;max-width: 600px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: inline-block;}
.result_con .re_top i{display: inline-block;background-size: 21px 23px;   width: 21px;height: 23px;    vertical-align: top;margin-top:13px}
.result_con .re_top .defend{background: url(../images/defend.png) center center no-repeat;margin-right: 9px;margin-left: 15px}
.result_con .re_top .certify{background: url(../images/certify.png) center center no-repeat;}

.result_con .prove{margin-top: 15px;}
.result_con .prove p{display: inline-block;margin-right: 16px;color: #888}
.result_con .prove p span{display: inline-block;font-size: 14px}
.result_con .prove p span:first-child{padding: 4px 8px;color: #fff;margin-right: 8px}
.result_con .anli span:first-child{background: #7FD8B5}
.result_con .site span:first-child{background: #CFBBA1}
.result_con .forman span:first-child{background: #A7BBF5}
.result_con .artist span:first-child{background: #f7a788}

.result_con li .re_phone{float: right;font-size: 20px;color: #333;font-weight: bold;padding-top: 40px}
.result_con li .re_phone a{color: #333;padding-left: 36px;background: url(../images/forman/icons.png);background-repeat:no-repeat;background-position: -12px -16px;} 

.re_choose{margin-top: 26px}
.re_choose .re_more{cursor: pointer;padding: 15px 54px 15px 20px;font-size: 16px;color: #888;background: #f8f8f8;position: relative;float: left;border-radius: 4px;}
.re_choose .re_more:after{content: ''; position: absolute;right: 22px;width: 14px; height: 12px; border-top:2px solid  #888; border-right: solid 2px #888; transform: rotate(135deg);}

.re_choose ul{float: right;}
.re_choose ul li{width: 160px;height: 45px;line-height: 45px;text-align: center;border-radius: 4px;border: 1px solid #f54d0c;display: inline-block;font-size: 16px}
.re_choose ul li.match_again{background: #fff;color: #f54d0c;}
.re_choose ul li.match_again:hover{background: #fff4f2}
.re_choose ul li.match_again a{color: #f54d0c;}
.re_choose ul li.re_submit{background: #f54d0c;color: #fff;margin-left: 17px}


/*立即预约弹出层v2*/
.order_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.order_container{position: fixed; left: 50%; margin-left: -265px; top: 50%; margin-top: -140px; width: 530px;  box-sizing: border-box;background-color:#fff;  padding: 20px 20px 35px; z-index: 9999; }
.order_container .close_alert{width: 16px;height: 16px;position: absolute;right: 20px;top: 20px;cursor: pointer}
.order_container p.t1{font-size: 26px;font-weight: bold;color: #333;display: inline-block;margin-left: 15px;}
.order_container p.t2{margin-top: 27px;line-height: 26px;color: #a0a0a0;font-size: 18px;text-align: center;}
.order_container p.t3{color: #fff;width: 139px;height: 44px;text-align: center;line-height: 44px;margin: 40px auto 0;background: #f54d0c;border-radius: 4px;font-size: 18px;cursor: pointer}
/* 波纹效果 */
.order_container .wave {position:relative;text-align:center;margin:35px auto 0;}
.order_container .m-box{width:44px;height:44px;position:relative;margin: 0 auto;border-radius:50%;border:3px solid #f6571a;display: inline-block;vertical-align: middle;background: #ffd2c1;    margin-top: -6px;}
.order_container .m-duigou{width:25px;height:18px;position:absolute;left:50%;top:50%;margin:-13px 0 0 -13px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden}
.order_container .m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#f6571a;border-radius:2px}
.order_container .m-duigou:before{width:3px;height:15px;left:0;-webkit-animation:dgLeft 0.5s linear 0s 1 both;animation:dgLeft 0.5s linear 0s 1 both}
.order_container .m-duigou:after{width:25px;height:3px;bottom:0;-webkit-animation:dgRight 0.5s linear 0.5s 1 both;animation:dgRight 0.5s linear 0.5s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@keyframes circle-opacity {from {opacity:1;transform:scale(0);}
to {opacity:0.5;transform:scale(1);}
}

/*国籍区号弹窗*/
.place_con .inpbox{position: relative;}
.place_con .inpbox .areaCode{top: 23px;line-height: 50px;border-radius: 4px 0 0 4px;bottom: 2px;left: 2px;}
.place_con .inpbox .areaCode_wrap{width: 636px;top: 72px;}
.place_con input#phone{padding-left: 70px;}

.loading{text-align: center;line-height: 88px;font-size: 16px;}