@charset "utf-8";

.main-right {width: 270px;float: right; }
.main-left {float: left;width: 909px}
.main{margin-top: 20px;min-width: 1200px}
.red{color: #F54D0C}
.orange{color: #A67562}
.green{color: #20C576}
/*头部*/
.wrap_header{padding: 28px 27px;overflow:hidden;background:#F8F8F8;    box-sizing: border-box;margin-top: 27px}
.wrap_header .left_img{width: 302px;height: 220px;float: left;margin-right:26px }
.wrap_header .left_img img{width: 100%;height: 100%;}
.wrap_header .right_b{width: 540px;height: 220px;float: left;margin-right: 93px}
.wrap_header .right_b .vill_title h2{font-weight:bold;font-size: 24px;color: #333;display: inline-block;margin-right: 33px;}
.wrap_header .right_b .vill_title p{display: inline-block;font-size: 14px;color: #888}
.wrap_header .right_b ul{margin-top: 20px}
.wrap_header .right_b ul li{font-size: 14px;color: #333;margin-top: 8px;position: relative;}
.wrap_header .right_b li span{display: inline-block;overflow:hidden;vertical-align: top}
.wrap_header .right_b li span:first-child{color: #888;margin-right: 18px;width: 56px;}
.wrap_header .right_b li i{background: url(../images/place.png);background-repeat:no-repeat;width: 16px;height: 18px;}

.wrap_header .right_b li .vill_info{width: 466px;line-height: 26px}
.wrap_header .right_b li .intro{color: #888;position: absolute;right: 22px;bottom: 3px}

.wrap_header .right_b2{float: left;text-align: center;    padding-top: 20px;}
.wrap_header .r_img{background:#fff;width: 160px;height: 160px;display: table-cell;vertical-align: middle;text-align: center;}
.wrap_header .right_b2 p{font-size: 14px;color: #888;margin-top: 14px}

.info{height: 40px;line-height: 40px;border: 1px solid #eee;background:#F8F8F8;padding-left: 18px;font-size: 14px;color: #888;    box-sizing: border-box;}

/*左侧内容*/
.vill_tab{width: 100%;border-top:1px solid #eee;background: #f8f8f8;overflow:hidden;border-right:1px solid #eee;border-left:1px solid #eee;position: relative;}
.vill_tab li{height: 50px;line-height: 50px;float: left;width: 110px;text-align: center;font-size: 16px;color: #333;cursor: pointer;border-right: 1px solid #eee}
.vill_tab li:first-child{width: 100px}
.vill_tab:after{content: '';position: absolute;height: 1px;width: 909px;background:#eee;top: 51px;right: 0;left: 0}
.vill_tab li.active{background: #fff;border-top: 2px solid #f54d0c;position: relative;z-index: 1}
.tab_container .tab_content{display: none;-webkit-animation: rightFadeIn .5s ease-out;-moz-animation: rightFadeIn .5s ease-out;animation: rightFadeIn .5s ease-out;}
.tab_container .tab_show{display: block;}

/* 首页*/
.index_con{padding: 23px 0;border-top: 1px solid #eee;position: relative;}
.index_con:first-child{border-top: none}
.index_con .lf_img{width: 171px;height: 126px;float: left}
.index_con .lf_img img{width: 100%;height: 100%;}
.index_con .lr_con{margin-left: 197px;font-size: 14px;color: #a0a0a0} 
.index_con .lr_con h2{font-size: 20px;color: #333;font-weight: bold;}
.index_con .lr_con .vill_info2{margin-top: 15px}
.index_con .lr_con ul{margin-top: 10px}
.index_con .lr_con ul li{margin-top: 10px;}
.index_con .lr_con .visit{position: absolute;right: 0;bottom: 72px;width: 80px;height: 30px;line-height: 30px;background: #F54D0C;color: #fff;font-size: 14px;text-align: center;cursor: pointer;}
.index_con .lr_con .visit:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;
	background-color: rgb(0, 0, 0,.1);filter: Alpha(opacity=10);}
/*户型图*/
.lay_head{padding: 26px 0 17px;font-size: 14px;border-bottom: 1px solid #eee;}
.spe_lay{padding: 19px 0 17px;}
.lay_head h3{font-size: 20px;font-weight: bold;display: inline-block;color: #333}
.lay_head p{display: inline-block;float: right;color: #888;cursor: pointer;}
.lay_head p a{color: #888}
.lay_con{margin-top: 27px}
.lay_con li{width: 280px;height: 220px;float: left;position: relative;margin-right: 30px;margin-bottom:20px;cursor:pointer;}
.lay_con li .lay_img{width: 100%;height: 100%;}
.lay_con li .lay_img img{width: 100%;height: 100%;object-fit: cover;display: block;}
.lay_con li .lay_tit{position:absolute;bottom:0;left:0;right:0;width:280px;height:38px;background: rgba(0,0,0,0.6); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);line-height: 38px;text-align: center;font-size: 16px;color: #fff;}

/*楼盘详情*/
.con1{margin-top: 23px;}
.con_tit{font-weight: bold;font-size: 24px;color: #1a1c21;position: relative;line-height: 46px;padding-left: 20px}
.con_tit:before{content: '';position: absolute;width: 4px;height: 46px;background: #f1370b;left:0;top: 0}
.con1 table{margin-top: 20px;width: 100%;}
.con1 table td{font-size: 14px;color: #888;width: 50%;height: 40px;line-height: 40px;padding-left: 20px;border: 1px solid #eee}
.con1 table td span{display: inline-block;width: 100px;text-align: justify;}
.con1 table td span i{display: inline-block;width: 100%;}

.con2{margin-top: 35px;}
.con2 ul{padding-left: 40px}
.con2 ul li{margin-top: 26px;font-size: 14px;color: #888}
.con2 ul li span:first-child{margin-right: 5px;}
.con3{margin-top: 35px}
.con3 p{font-size: 14px;line-height: 30px;color: #888;padding-left: 20px;margin-top: 30px}

/*工地*/
.screen{width: 845px;}
.screen dt{    padding: 15px 22px 0;}
.screen dd a:hover, .screen dd a.curr{color: #F54D0C;background: #fff}
.screen dd{    padding: 15px 0 8px 15px;}
.screen dd a{padding:0;margin-right: 15px}

.num{text-align: right;font-size: 14px;color: #888;line-height: 60px;padding-right: 65px}
.site_wrap{display: none;}
.site_list .loading{    text-align: center;line-height: 80px;}
.site_list .site_con{padding: 18px 0 28px;border-top: 1px dashed #dfdfdf}
.site_list .site_con:first-child{border-top: none;padding-top: 0}
.site_list .site_con .lf_img2{width: 192px;height: 130px;float: left}
.site_list .site_con .lf_img2 img{width: 100%;height: 100%}
.site_list .site_con .lr_content{margin-left: 220px;}
.lr_content .build_title{font-size: 16px;color: #333;font-weight: bold;padding-top: 5px}
.lr_content .build_title a{color: #333;}
.lr_content .build_info{font-size: 14px;color: #888;    height: 13px;line-height: 15px;margin-top: 15px}
.lr_content .build_info span{display: inline-block;overflow:hidden;vertical-align: top}
.lr_content .build_info .city{margin-right: 10px;}
.lr_content .build_info .address{    max-width: 130px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin-right: 15px}
.lr_content .build_info ul{display: inline-block;overflow:hidden;}
.build_info ul li{padding:0 12px;border-left:1px solid #eee;display: inline-block;}
.build_info ul li:first-child{border-left:none;padding-left: 0}

.dot_ul{position: relative;    margin-top: 28px;}
.dot_ul:after{    content: '';width: 100%;height: 1px;background: #F3F3F3;position: absolute;left: 0;top: 0;z-index: 10;}
.dot_ul li{font-size: 14px;color: #A0A0A0;float: left;padding-top: 20px;    width: 18%;
    text-align: center;position: relative;}
.dot_ul li.active{color: #333;}
.dot_ul li:after{content: '';background: #fff;width: 8px;height: 8px;border:4px solid #F5F5F5;position: absolute;z-index: 20;top: -8px;left: 50%;margin-left: -12px;border-radius: 50%}
.dot_ul li.active:after{content: '';background: #fff;width: 8px;height: 8px;border:4px solid #F54D0C;position: absolute;z-index: 20;top: -8px;left: 50%;margin-left: -12px;border-radius: 50%}

/*工地详情*/
.site_detail a.fan_a{display: inline-block;float: right;color: #999;border: 1px solid #dedede;width: 118px;height: 36px;line-height: 38px;text-align: center;font-size: 14px;margin-top: 20px}
.site_detail a.fan_a:hover{color: #ff552e}
.site_detail .site_con{padding: 65px 0 28px;}
.site_detail .site_con .lf_img2{width: 250px;height: 175px;float: left}
.site_detail .site_con .lf_img2 img{width: 100%;height: 100%}
.site_detail .site_con .lr_content{margin-left: 280px;}
.site_detail .lr_content .build_title{padding-top: 7px}
.site_detail .dot_ul{height: 41px;margin-top: 27px}
.site_detail .dot_ul:after{    content: '';width: 93%;height: 1px;background: #F5F5F5;position: absolute;left: 0;top: 0;z-index: 10;}
.lr_content .visit{width: 80px;height: 34px;line-height: 34px;background: #F54D0C;color: #fff;font-size: 14px;text-align: center;margin-top: 13px;cursor: pointer;}
.build_con{border-top: 1px dashed #eee;padding: 28px 57px 25px 0;}
.build_wrap .build_con:first-child{padding-top: 18px;border-top: none;}
.build_con .buil_state{font-size: 18px;font-weight: bold;color: #F54D0C;margin-right: 15px;display: inline-block;}
.build_con .build_tit{font-size: 14px;color: #a0a0a0}
.build_con .tip{font-size: 16px;color: #333;margin-top: 10px}
.build_con ul{margin-top: 10px}
.build_con ul li{width: 160px;height: 120px; margin-right: 13px;float: left;margin-bottom: 13px;cursor: pointer}
.build_con ul li img{width: 100%;height: 100%}
.build_con ul li:nth-child(5n){margin-right:0;}
/*楼盘图册*/
.img_tab{margin-top: 34px;margin-bottom: 27px }
.img_tab li{padding: 0 20px;border-right: 1px solid #eee;font-size: 14px;color: #888;float: left;cursor: pointer}
.img_tab li:first-child{padding-left: 0;}
.img_tab li.active span{color: #F54D0C;}

/*.img_ul{margin-top: 27px}*/
.img_ul li{width: 280px;height: 220px;float: left;position: relative;margin-right: 30px;margin-bottom: 30px;cursor: pointer}
.img_ul li .lay_img{width: 100%;height: 100%;}
.img_ul li .lay_img img{width: 100%;height: 100%;object-fit: cover;display: block;}
.img_ul li .lay_tit{position:absolute;bottom:0;left:0;right:0;width:280px;height:38px;background: rgba(0,0,0,0.6); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);line-height: 38px;font-size: 16px;color: #fff;box-sizing: border-box;padding-left: 10px;}
.img_ul li .lay_tit span{display: inline-block;width: 163px;text-overflow:ellipsis;white-space:nowrap;overflow: hidden;}

.img_container .img_con{display: none;-webkit-animation: rightFadeIn .5s ease-out;-moz-animation: rightFadeIn .5s ease-out;animation: rightFadeIn .5s ease-out;}
.img_container .img_show{display: block;}

/*右侧表单*/
 .design_content{padding:35px 17px 30px;display: block;background:url(../images/village/form_bg.png) no-repeat;    background-size: cover;}
 .free_design{font-size: 22px;color: #fff;text-align: center;text-shadow:0px 3px 4px rgba(95,117,247,0.3); font-weight: bold;}
 .design_content .design_num{text-align: center;font-size: 14px;color: #fff;margin-top: 20px;}

 .design_content input{width: 100%;height: 42px;line-height: 42px;padding-left: 14px;border-radius: 4px;font-size: 14px;color: #333;margin-top: 18px;box-sizing: border-box;border: none;-webkit-appearance:none;}
 .design_content input::placeholder{color: #a0a0a0}
 .design_content input.has-error {border:1px solid #E66C12 !important;}
 .design_content .reno_submit{border-radius: 4px;background-color: rgb(245, 77, 12);box-shadow: 0px 3px 8px 0px rgba(245, 77, 12, 0.36);-moz-box-shadow: 0px 3px 8px 0px rgba(245, 77, 12, 0.36);-webkit-box-shadow: 0px 3px 8px 0px rgba(245, 77, 12, 0.36);width: 100%;height: 50px;line-height: 50px;color: #fff;font-size: 16px;text-align: center;margin-top: 25px;cursor:pointer;position: relative;}
 .design_content .reno_submit:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;
	background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);}
.form-row {position: relative;color: #333;margin-top: 27px}
.form-row select {width: 113px;height:40px;float: left;padding-left:14px;margin-right: 10px;font-size: 14px;color: #999;-webkit-appearance:none;background: #fff url(../images/sortDown.png) no-repeat 90px center;border-radius: 4px;    border: none;}
.form-row select.select_r{margin-right: 0}
.house_type select{background: #fff url(../images/sortDown.png) no-repeat 214px center;width: 100%;height:42px;padding-left:14px;font-size: 14px;color: #a0a0a0;-webkit-appearance:none;margin-top: 16px;border-radius: 4px;    border: none;}
.house_area{position: relative;}
.house_area .mills{position: absolute;right: 8px;top: 27px;color: #a0a0a0;font-size: 14px;}
#all {display:inline-block;width:135px;vertical-align:middle}
#all .t_num i {width:32px;height:27px;display:inline-block;background:url(../images/company/number1.png) no-repeat;background-position:0 0;}



/*装修公司*/
.new_order{margin-top: 20px}
.new_order ul {padding:0 11px;border-top: 1px solid #eee;}
.new_order li {position: relative;font-size: 14px;color: #333;padding:13px 0;border-top: 1px dashed #eee;}
.new_order li:first-child{border-top: none}
.new_order .com_info .infoImg{float: left;width: 50px;height: 50px;}
.new_order .com_info .infoImg img{margin-right: 10px;width: 100%;height: 100%;border-radius: 50%;object-fit: cover;}
.new_order .com_info .com_span{display: inline-block;width: 182px;text-overflow:ellipsis;white-space:nowrap;overflow: hidden;height: 50px;line-height: 50px;}
.new_order .com_info .com_span:hover{color: #f54d0c}
/*周边楼盘推荐*/
.recom {margin-top: 20px}
.recom .new_reno{border-bottom: 1px dashed #eee;}
.recom ul{padding:0 18px 23px 21px;}
.recom ul li{margin-top: 17px;width: 100%;height: 157px;position: relative;}
.recom ul li:first-child{margin-top: 22px;}
.recom ul li .recom_img{width: 100%;height:100%; }
.recom ul li .recom_img img{width: 100%;height:100%; object-fit:cover;}
.recom ul li .recom_tit{position: absolute;bottom: 12px;    padding-left: 14px;width: 100%;font-size: 16px;color: #fff;box-sizing: border-box;}
/*预约弹出层*/
.order_mask2{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.order_container2{position: fixed; left: 50%; margin-left: -299px; top: 50%; margin-top: -240px; width: 598px;  box-sizing: border-box;background-color:#fff;  padding: 50px 123px 32px; z-index: 9999; }
.order_container2 .close_alert{width: 51px;height: 51px;position: absolute;right: 5px;top: 10px;cursor: pointer;}
.order_container2 p.t1{font-size: 20px;color: #333;font-weight: bold;text-align: center;}
.order_container2 form .free_p{background: #f5f5f5;border: 1px solid #e5e5e5;font-size: 14px;color: #a0a0a0;height: 50px;line-height: 50px;padding-left: 18px;margin-top: 20px;padding-right: 12px;position: relative;}
.order_container2 .free_p .free_con{float: right;color: #333;text-align: right;}
.home_area{padding-right: 22px}
.mill{position: absolute;right: 12px;color: #333}
.order_container2 form input{border: 1px solid #e5e5e5;background: #fff;padding-left: 18px;height: 50px;line-height: 50px;-webkit-appearance:none;margin-top: 20px;font-size: 14px;color: #333;width: 100%;box-sizing: border-box;}
.order_container2 form input::placeholder{color: #a0a0a0}
.order_container2 p.t2{font-size: 20px;color: #333;text-align: center;width: 100%;height: 50px;line-height: 50px;box-shadow: 0px 3px 8px 0px rgba(255, 90, 0, 0.6);background: #ff5a00;width: 100%;margin-top: 20px;color: #fff;font-size: 16px;cursor: pointer;}
.order_container2 p.t3{font-size: 14px;color: #a0a0a0;margin-top: 30px;}

/*预约成功弹出层 v1*/
.order_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.order_container{position: fixed; left: 50%; margin-left: -223px; top: 50%; margin-top: -140px; width: 446px;  box-sizing: border-box;background-color:#fff;  padding: 20px 20px 38px; z-index: 9999; }
.order_container .close_alert{width: 51px;height: 51px;position: absolute;right: 5px;top: 15px}
.order_container p.t1{font-size: 16px;color: #333;text-align: center;margin-top: 15px}
.order_container p.t2{color: #a0a0a0;font-size: 14px;text-align: center;}
.order_container p.t3{color: #a0a0a0;width: 113px;height: 38px;text-align: center;line-height: 38px;margin: 60px auto 0;border-radius: 4px;font-size: 14px;border:1px solid #eee;}
/* 波纹效果 */
.order_container .wave {position:relative;text-align:center;margin:50px auto 0;}
.order_container .m-box{width:50px;height:50px;position:relative;margin: 0 auto;border-radius:50%;border:3px solid #f6571a;display: inline-block;vertical-align: middle;background: #ffe2e2;    margin-top: -6px;}
.order_container .m-duigou{width:25px;height:18px;position:absolute;left:50%;top:50%;margin:-13px 0 0 -13px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden}
.order_container .m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#f6571a;border-radius:2px}
.order_container .m-duigou:before{width:3px;height:15px;left:0;-webkit-animation:dgLeft 0.5s linear 0s 1 both;animation:dgLeft 0.5s linear 0s 1 both}
.order_container .m-duigou:after{width:25px;height:3px;bottom:0;-webkit-animation:dgRight 0.5s linear 0.5s 1 both;animation:dgRight 0.5s linear 0.5s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@keyframes circle-opacity {from {opacity:1;transform:scale(0);}
to {opacity:0.5;transform:scale(1);}
}

/*立即获取报价弹出层*/
.price_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.price_container{position: fixed; left: 50%; margin-left: -360px; top: 50%; margin-top: -140px; width: 720px;  box-sizing: border-box;background-color:#fff;  padding: 20px 20px 23px 23px; z-index: 9999; }
.price_container .close_alert{width: 16px;height: 16px;position: absolute;right: 20px;top: 20px}
.price_container p.t1{margin-top: 19px;font-size: 16px;font-weight: bold;color: #333;text-align: center;}
.price_container p.t2{margin-top: 20px;line-height: 26px;color: #a0a0a0;font-size: 14px;}
.price_container p.t3{cursor:pointer;border:1px solid rgb(229, 229, 229);color: #a0a0a0;width: 99px;height: 34px;text-align: center;line-height: 34px;margin: 20px auto 0}
.price_container ul{font-size: 0;margin-top: 20px;}
.price_container ul li{}
.price_container ul li span:first-child{font-size: 14px;color: #333;}
.price_container ul li span:first-child+span{font-size: 16px;color: #f54d0c;}
.price_container ul li span.bao_price{font-size: 18px;color: #f54d0c;font-weight: bold;}

/*地图弹出层*/
.map_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.map_container{position: fixed; left: 50%; margin-left: -299px; top: 50%; margin-top: -240px; width: 598px;  box-sizing: border-box;background-color:#fff;  padding: 50px 123px 32px; z-index: 9999; }
.map_container .close_alert{width: 51px;height: 51px;position: absolute;right: 5px;top: 10px}
/*图片放大弹出层*/
.viewer-container.viewer-fixed {position:fixed;z-index:8000!important;background-color:rgba(51,51,51,.8)}
.viewer-footer .viewer-toolbar {width:0}
.viewer-toolbar .viewer-next,.viewer-toolbar .viewer-prev {position:fixed;top:50%;margin-top:-30px;width:50px;height:50px;cursor:pointer;border-radius:50%;background-color:#000;background-color:rgba(0,0,0,.5)}
.viewer-toolbar .viewer-next:before {width:50px;height:50px;margin:0;background-image: url(../images/design/big-r.png);background-position: 50%;}
.viewer-toolbar .viewer-prev:before {width:50px;height:50px;margin:0;background-image:url(../images/design/big-l.png);    background-position: 50%;}
.viewer-next {right:20px}
.viewer-prev {left:20px}
.viewer-footer .viewer-toolbar>.viewer-next,.viewer-footer .viewer-toolbar>.viewer-prev {background:#000;opacity:.4}
.viewer-footer .viewer-toolbar>.viewer-next:hover,.viewer-footer .viewer-toolbar>.viewer-prev:hover {background:#000;opacity:1}
.viewer-container .viewer-button {width:38px;height:38px;top:20px;right:20px;background-color:#000;opacity:.4}
.viewer-container .viewer-button:hover {background-color:#000;opacity:1}
.viewer-container .viewer-button:before {bottom:10px;left:10px;width:18px;height:18px;background-image:url(../images/close_alert.png);    background-position: 50%;}
.viewer-footer {height:0}
.viewer-canvas {position:relative1!important}
.viewer-canvas img {position:absolute!important;top:0!important;left:0!important;bottom:0!important;right:0!important;margin:auto!important}
.viewer-footer {height:0}


/*国籍区号弹窗*/
.formCommon .inpbox{position: relative;}
.formCommon .inpbox .areaCode{top: 20px;line-height: 40px;border-radius: 4px 0 0 4px;bottom: 2px;left: 2px;}
.formCommon .inpbox .areaCode_wrap{width:236px;top: 58px;}
.formCommon input#price_phone{padding-left: 70px;}
.formCommon .inpbox .areaCode.spc_code{top: 26px;}
.formCommon .inpbox .areaCode_wrap.spe_wrap{width: 350px;top: 68px;}
.formCommon input#phone{padding-left: 70px;}