@charset "utf-8";

.main-right {width: 270px;float: right; }
.main-left {float: left;width: 909px}
.main{margin-top: 20px;min-width: 1200px}
.red{color: #F54D0C}
.orange{color: #A67562}
.green{color: #20C576}
/*头部搜索*/
.info{height: 40px;line-height: 40px;border: 1px solid #eee;background:#F8F8F8;padding-left: 18px;font-size: 14px;color: #888;    box-sizing: border-box;}
.reno_form{margin-bottom: 0!important}

/*列表*/
.village_list{padding: 28px 0;border-bottom: 1px solid #eee}
.village_list .pic{width: 326px;height: 240px;float: left}
.village_list .pic img{width: 100%;height: 100%;}
.village_list .right_b{margin-left: 350px}
.village_list .vill_top {overflow:hidden;}
.village_list .vill_top h2{display: inline-block;}
.village_list .vill_top .tit{font-size: 24px;color: #333;font-weight: bold;}
.village_list .vill_top .price{display: inline-block;float: right;font-size: 14px;}
.village_list .vill_top .price_num{font-size: 22px;font-weight: bold;}
.village_list .view_num{font-size: 14px;color: #666;margin-top: 15px;}
.village_list .vill_place{font-size: 14px;color: #666;overflow:hidden;margin-top: 7px;}
.village_list .place{float: left;}
.village_list .place i{display: inline-block;background: url(../images/place.png);background-repeat:no-repeat;width: 16px;height: 18px;margin-left: 9px;cursor: pointer;}
.village_list .view_more{font-size: 14px;color: #888;float: right;}
.village_list .view_more a{color: #888}
.village_list .li_head{margin-top: 15px;width: 100%}
.village_list .li_head thead{background:#F8F8F8;height: 40px;line-height: 40px;font-size: 14px;color: #a0a0a0}
.village_list .li_head thead td{width: 10%}
.village_list .li_head thead td.row20{width: 20%}
.village_list .li_head thead td:first-child{padding-left: 21px;width: 15%}
.village_list .li_head tbody td:first-child{padding-left: 21px;}

.village_list .li_head tbody tr{font-size: 14px;color: #333;height: 50px;}
.village_list .li_head tbody td.green span{display: inline-block;max-width: 87%}

.village_list .visit{display: inline-block;margin-top: 5px;width: 80px;height: 30px;color: #fff;background: #F54D0C;text-align: center;line-height: 30px;cursor: pointer;position: relative;}
.village_list .visit:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;
	background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);}
/*预约弹出层*/
.order_mask2{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.order_container2{position: fixed; left: 50%; margin-left: -299px; top: 50%; margin-top: -240px; width: 598px;  box-sizing: border-box;background-color:#fff;  padding: 50px 123px 32px; z-index: 9999; }
.order_container2 .close_alert{width: 51px;height: 51px;position: absolute;right: 5px;top: 10px;cursor: pointer;}
.order_container2 p.t1{font-size: 20px;color: #333;font-weight: bold;text-align: center;}
.order_container2 form .free_p{background: #f5f5f5;border: 1px solid #e5e5e5;font-size: 14px;color: #a0a0a0;height: 50px;line-height: 50px;padding-left: 18px;margin-top: 20px;padding-right: 12px;position: relative;}
.order_container2 .free_p .free_con{float: right;color: #333;text-align: right;max-width: 200px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.home_area{padding-right: 22px}
.mill{position: absolute;right: 12px;color: #333}
.order_container2 form input{border: 1px solid #e5e5e5;background: #fff;padding-left: 18px;height: 50px;line-height: 50px;-webkit-appearance:none;margin-top: 20px;font-size: 14px;color: #333;width: 100%;box-sizing: border-box;}
.order_container2 form input::placeholder{color: #a0a0a0}
.order_container2 p.t2{font-size: 20px;color: #333;text-align: center;width: 100%;height: 50px;line-height: 50px;box-shadow: 0px 3px 8px 0px rgba(255, 90, 0, 0.6);background: #ff5a00;width: 100%;margin-top: 20px;color: #fff;font-size: 16px;cursor: pointer;}
.order_container2 p.t3{font-size: 14px;color: #a0a0a0;margin-top: 30px;}

/*预约成功弹出层*/
.order_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.order_container{position: fixed; left: 50%; margin-left: -223px; top: 50%; margin-top: -140px; width: 446px;  box-sizing: border-box;background-color:#fff;  padding: 20px 20px 38px; z-index: 9999; }
.order_container .close_alert{width: 51px;height: 51px;position: absolute;right: 5px;top: 15px}
.order_container p.t1{font-size: 16px;color: #333;text-align: center;margin-top: 15px}
.order_container p.t2{color: #a0a0a0;font-size: 14px;text-align: center;}
.order_container p.t3{color: #a0a0a0;width: 113px;height: 38px;text-align: center;line-height: 38px;margin: 60px auto 0;border-radius: 4px;font-size: 14px;border:1px solid #eee;}
/* 波纹效果 */
.order_container .wave {position:relative;text-align:center;margin:50px auto 0;}
.order_container .m-box{width:50px;height:50px;position:relative;margin: 0 auto;border-radius:50%;border:3px solid #f6571a;display: inline-block;vertical-align: middle;background: #ffe2e2;    margin-top: -6px;}
.order_container .m-duigou{width:25px;height:18px;position:absolute;left:50%;top:50%;margin:-13px 0 0 -13px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden}
.order_container .m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#f6571a;border-radius:2px}
.order_container .m-duigou:before{width:3px;height:15px;left:0;-webkit-animation:dgLeft 0.5s linear 0s 1 both;animation:dgLeft 0.5s linear 0s 1 both}
.order_container .m-duigou:after{width:25px;height:3px;bottom:0;-webkit-animation:dgRight 0.5s linear 0.5s 1 both;animation:dgRight 0.5s linear 0.5s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@keyframes circle-opacity {from {opacity:1;transform:scale(0);}
to {opacity:0.5;transform:scale(1);}
}
/*地图弹出层*/
.map_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.map_container{position: fixed; left: 50%; margin-left: -345px; top: 50%; margin-top: -240px; width: 690px;  box-sizing: border-box;background-color:#fff;  padding: 33px 44px 32px; z-index: 9999; }
.map_container .close_alert{width: 51px;height: 51px;position: absolute;right: 5px;top: 10px;cursor: pointer;}
.map_container .vill_name{font-size: 28px;font-weight: bold;}
.map_container .vill_addr{font-size: 16px;line-height: 32px}


/*国籍区号*/
.formCommon .inpbox{position: relative;}
.formCommon .inpbox .spc_code{left: 1px;top: 22px;bottom: 2px;line-height: 46px;}
.order_container2 form input#phone{padding-left: 70px;}
.formCommon .areaCode_wrap.spe_wrap{    top: 70px;
    width: 350px;}