html,body{background-color: #F7F4F8; }
body{padding-bottom: 1.6rem;}
.header{z-index:  10;}
.banner{width: 100%; max-height: 4.2rem; overflow: hidden;}
.banner img{width: 100%; display: block;}

/* 活动信息 */
.hdbox{background-color: #fff; border-radius: 0 0 .2rem .2rem ; box-shadow:0 .03rem .13rem 0 rgba(0,5,29,0.07);}
.hd_name{margin: 0 .24rem; padding:.3rem .24rem ; border-radius: .2rem; box-shadow:0 .05rem .23rem 0 rgba(0, 5, 31, 0.08); margin-top: -.4rem; background-color: #fff; position: relative; z-index: 2; margin-bottom: .2rem;}
.hd_name h3{font-size: .38rem; color: #000; font-weight: bold; }
.hd_name p{color: #A2A4AB; margin-top: .14rem;}
.hd_name p span{margin-right: .5rem;}
.hd_name p span em{margin-left: .06rem;}
.hd_name h4{color: #FF9436; font-size: .28rem; font-weight: 500; margin-top: .4rem; padding-bottom: .16rem;}
.hd_name h4 em{font-size: .48rem; font-weight: bold;}
.hd_name h4.free{font-size: .36rem; font-weight: bold; }

.html2Wrap .hdbox ul.hd_info {height: 1.4rem;}
.hdbox ul.hd_info{margin: 0 .3rem; padding: .28rem 0; display: flex; align-items: flex-start;  flex-direction: column; height: 2rem; justify-content: space-between; border-bottom: solid 1px #f5f5f7;}
.hdbox ul.hd_info li,.hdbox ul.hd_info li span,.hdbox .posi{display: flex; color: #2F3033; font-size: .26rem; line-height: .3rem; align-items: center;}
.hdbox ul.hd_info li.li_item::before,.hdbox ul.hd_info li span.span_text::before,.hdbox .posi::before{content: ''; width: .3rem; height: .3rem; background: no-repeat center; background-size: cover;margin-right: .12rem;}
.hdbox ul.hd_info li.li_item.bm_time::before{background-image: url(../images/bm_time.png);}
.hdbox ul.hd_info li.li_item.hd_time::before{background-image: url(../images/hd_time.png);}
.hdbox ul.hd_info li.li_item.bm_tel::before{background-image: url(../images/bm_tel.png);}
.hdbox ul.hd_info li span.limit_num::before{background-image: url(../images/limit_num.png);}
.hdbox ul.hd_info li span.bm_num::before{background-image: url(../images/bm_num.png);}
.hdbox ul.hd_info li span.line{display: block; width: .02rem; height: .24rem; background-color: #E1E2E3; margin: 0 .5rem;}

.hdbox .posi{padding: .35rem .3rem ; font-size: .24rem; position: relative;}
.hdbox .posi::before{background-image: url(../images/posi.png);}
.hdbox .posi::after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/fenlei-arr.png) no-repeat center; background-size: contain; position: absolute; right: .24rem;}
.hdbox .posi a{color: #2F3033; display: block; width: 100%;}
.tab_container>div{animation: rightFadeIn .3s ease-in-out;}
.baming_list .nodata{color: #858899; font-size: .24rem; text-align: center; display: block; margin: auto;}
.btn_click{color: #00C192;}
/* 主办方信息 */
.sponsor_box{background: #fff ; box-shadow:0 .03rem .13rem 0 rgba(0,5,29,0.07); border-radius:.2rem; padding: .3rem .24rem; margin-top: .2rem;}
.sponsor_box .sponsor_info{display: flex;  align-items: center;}
.sponsor_box .h_img{width: 1rem; height: 1rem; background: #fff; border-radius: 50%; margin-right: .2rem; display: block; position: relative;}
.sponsor_box .h_img img{width: 100%; height: 100%; border-radius: 50%; object-fit: cover; }
.sponsor_box .h_img .v_icon{width: .3rem; height: .3rem; position: absolute; right: 0 ; bottom: .02rem;}
.sponsor_box .s_detl h3{color: #000; font-weight: bold; font-size: .28rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.sponsor_box .s_detl p{color: #919191; font-size: .24rem; margin-top: .14rem;}
.sponsor_box .s_detl p em{color: #000;}
.sponsor_box .s_detl p span{margin-right: .3rem;}
.sponsor_box  .btns_group {display: flex;  justify-content: space-between; margin-top: .4rem;}
.sponsor_box  .btns_group a{display: block; width: 3.4rem; height: .5rem; border-radius: .08rem; text-align: center; font-size: .28rem; line-height: .5rem;}
.sponsor_box  .btns_group a.homepage{border: solid 1px #00C192; color: #00C192;}
.sponsor_box  .btns_group a.care_btn{color: #fff; background-color: #00BA8C; display: flex; justify-content: center; align-items: center; }
.sponsor_box  .btns_group a.care_btn::before{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/care.png) no-repeat center; background-size: cover; margin-right: .06rem;}
.sponsor_box  .btns_group a.care_btn.cared{background-color: #C9C9C9;}
.sponsor_box  .btns_group a.care_btn.cared::before{display: none;}

.hdetail_box{background-color: #fff; margin-top: .2rem; border-radius: .2rem; box-shadow:0 .03rem .13rem 0 rgba(0,5,29,0.07);}
.tab_box{display: flex; margin: 0 .24rem; justify-content: space-around; color: #BBBCC4; font-weight: bold; font-size: .28rem; border-bottom: solid 1px #f5f5f7; line-height: 1rem;}
.tab_div{height: 50px;}
.tab_box li.on_chose{color: #000; font-size: .32rem; position: relative; }
.tab_box li.on_chose::after{content: ''; display: block; width: .5rem; height: .1rem; border-radius: .05rem; background-color: #00C192; position: absolute; bottom: .15rem; margin-left: -.25rem; left: 50%; }
.hd_instro{color: #37373B; font-size: .3rem; line-height: .46rem; padding-bottom: .5rem;}
.hd_instro p,.hd_instro div{ margin: 0 .24rem; margin-top: .4rem; word-break:break-all}
.hd_instro img{ max-height: 100% !important; max-width: 100% !important; display: block; margin: auto; }

.baming_list{padding: .8rem 0;}
.baming_list .swiper-slide{width: 2.1rem; display: block; text-align: center;}
.baming_list .swiper-slide a{display: block; width: 2.1rem;}
.baming_list .h_img{width: .9rem; height: .9rem; border-radius: 50%; background-color: #f5f5f5; margin: auto; margin-bottom: .16rem;}
.baming_list .h_img img{width: 100%; height: 100%; border-radius: 50%; object-fit: cover;}
.baming_list h3{color: #3B3B3B; font-size: .28rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 1.68rem; margin: auto; text-align: center; line-height: .4rem;}
.baming_list p{text-align: center; color: #919191; font-size: .22rem; margin-top: .2rem;}


.rec_hd h2{color: #37373B; font-size: .32rem; font-weight: bold; padding: 0 .24rem; margin-top: .6rem;}
/* 列表页 */
.rec_hd ul{margin: .22rem;}
.li_box{/* margin: 0 .2rem; */ border-radius: .16rem; box-shadow:0 .03rem .13rem 0 rgba(0,5,29,0.07); background-color: #fff; margin-bottom: .2rem;}
.li_box a{display: block; margin: 0 .24rem; }
.li_box a.hd_box{padding: .24rem 0; border-bottom: solid 1px #f5f5f7;}
.li_box a.hd_box .right_info{margin-left: 2.6rem;}
.li_box a.hd_box .right_info h3{font-weight: bold; color: #000; font-size: .3rem;white-space: nowrap; overflow: hidden; line-height: 1.1em; margin-bottom: .12rem; text-overflow: ellipsis;}
.li_box  .hd_img{width: 2.4rem; height: 1.5rem; background-color: #f7f7f7; border-radius: .06rem; float: left;}
.li_box  .hd_img img{width: 100%; height: 100%; object-fit: cover; border-radius: .06rem;}
.hd_detail p{font-size: .24rem; color: #ABABAB; display: flex; align-items: center; margin-top: .06rem;}
.hd_detail p em{color: #000;}
.hd_detail p i{display: inline-block; width: .3rem; height: .3rem; background: no-repeat center; background-size: cover; margin-right: .08rem;}
.hd_detail p.act_time i{background-image: url(../images/act_time.png);}
.hd_detail p.act_addr i{background-image: url(../images/act_addr.png);}
.hd_detail p.act_bm i{background-image: url(../images/act_bm.png);}

.host_box{padding: .15rem 0;}
.host_box p{color: #5E5E5E; font-size: .26rem; float: left; line-height: .48rem; margin-left: .1rem; max-width: 3rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.host_box .head_img{width: .48rem; height: .48rem; border-radius: 50%; position: relative; margin-right: .14rem; float: left;}
.host_box .head_img img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.host_box .head_img .v_log{width: .3rem; height: .3rem; position: absolute; left: .34rem; bottom: -.02rem;}
.price_show{float: right; color: #FF9436; font-weight: bold; font-size: .22rem;}
.price_show em{font-size: .36rem;}
.price_show.free{font-size: .32rem; }


/* 评论 */
.comBox{padding-bottom: .5rem;}
.comBox .commt_btn{display: block;border:1px solid rgba(0,193,146,1); border-radius:.36rem; line-height: .72rem; text-align: center; color: #00C192; font-size: .28rem; margin: 0 .3rem; }
.commt_box dl{background: #fff; padding-top: .3rem;}
.commt_dl dt{font-size: .32rem; color: #292A2B; font-weight: bold; padding-left: .26rem;}
.commt_dl dd,.re_dl dd,.reply_div{padding:.4rem .24rem; /* margin: 0 .24rem; */ position: relative;}
.commt_dl dd.commt_dd .commt_user,.re_dl dd.reply_dd .reply_user,.reply_div .reply_user{position: relative;}
.commt_dl dd.commt_dd .l_head,.re_dl dd.reply_dd .l_head,.reply_div .l_head{width: .64rem; height: .64rem; border-radius: 50%; float: left; position: relative;}
.commt_dl dd.commt_dd .l_head img,.re_dl dd.reply_dd .l_head img,.reply_div .l_head img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.commt_dl dd.commt_dd .l_head .v_icon,.re_dl dd.reply_dd .l_head .v_icon,.reply_div .l_head .v_icon{width: .32rem; height: .32rem; position: absolute; right: -.07rem; bottom: -.04rem; border-radius: 50%; }
.v_icon.level_0{display: none !important;}
.v_icon.level_1{ background-color: rgb(190,223,255);}
.v_icon.level_2{ background-color: rgb(255,233,170);}
.v_icon.level_3{ background-color: #736e65;}
.v_icon.level_4{ background-color: rgb(105,113,123);}
.v_icon.level_5{ background-color: rgb(77,76,75);}

.commt_dl dd.commt_dd .r_info,.re_dl dd.reply_dd .r_info,.reply_div .r_info{margin-left: .82rem;}
.commt_dl dd.commt_dd .r_info h3,.re_dl dd.reply_dd .r_info h3,.reply_div .r_info h3{color: #4D4D4F; font-size: .26rem; line-height: .5rem;}
.commt_dl dd.commt_dd .cz_btn,.re_dl dd.reply_dd .cz_btn,.reply_div .cz_btn{position: absolute; right: 0; top: 0; font-size: .24rem; color: #5C5C5E;}
.commt_dl dd.commt_dd .cz_btn:before,.re_dl dd.reply_dd .cz_btn:before,.reply_div .cz_btn:before{content: ''; display: inline-block; width: .48rem; height: .48rem; background: url(../images/zan.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .08rem;}
.commt_dl dd.commt_dd .cz_btn.cared:before,.re_dl dd.reply_dd .cz_btn.cared:before,.reply_div .cz_btn.cared:before{background-image: url(../images/zan_1.png);}
.commt_con,.reply_con{margin-left: .82rem; }
.commt_con>h4,.reply_con>h4{color: #212121; font-size: .3rem; line-height: .4rem;}
.commt_con>h4 img,.reply_con>h4 img{width: .35rem; height: .35rem; vertical-align: middle; margin: .05rem;}
.commt_con>p,.reply_con>p{margin-top: .3rem; font-size: .24rem;}
.commt_con>p em,.rely_con>p em{color: #999; }
.commt_con>p a.reply_btn,.reply_con>p a.reply_btn{color: #000;}
.commt_dl dd.commt_dd:after,.re_dl dd.reply_dd:after{content: ''; display: block; left: .72rem; height: 1px; background: #f5f5f7; position: absolute; bottom: 0; right: 0;}
.commt_dl dd.commt_dd .reply_list{padding: .22rem; margin-top: .4rem; background: #F8F9FB;}
.commt_dl dd.commt_dd .reply_list li.r_li{font-size: .28rem; color: #212121; margin-bottom: .22rem;}
.commt_dl dd.commt_dd .reply_list li.r_li img{width: .35rem; height: .35rem; vertical-align: middle; margin: 0 .05rem;}
.commt_dl dd.commt_dd .reply_list li.r_li span{color: #03A9F4;  font-weight: bold;}
.commt_dl dd.commt_dd .reply_list .r_more{color: #03A9F4; font-size: .28rem; font-weight: bold;}
.loading_tip{font-size: .24rem; color: #858899; text-align: center; padding: .4rem;}
.loading_tip img{width: 2rem;}
.loading_tip.loadmore::after{content: ''; display: inline-block; width: .24rem; height: .24rem; background: url(../images/d_arr.png) no-repeat center; background-size: cover; vertical-align: middle; margin-left: .04rem; margin-bottom: .04rem;}

/* 底部 */
.bottom_box{height: 1.3rem; padding: 0 .3rem; position: fixed; bottom: 0; left: 0; right: 0; background-color: #fff; display: flex; align-items: center; justify-content: space-between; padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); z-index: 10;}
.bottom_box a.left_btn{display: block; color: #5E5E5E; font-size: .22rem; text-align: center; min-width: .8rem;}
.bottom_box a.left_btn i{display: block; width: .4rem; height: .4rem; background: no-repeat center; background-size: cover; margin: auto; margin-bottom: .1rem;}
.bottom_box a.left_btn.soucan i{background-image: url(../images/shoucang1.png);}
.bottom_box a.left_btn.soucan.soued i{background-image: url(../images/soucang.png);}
.bottom_box a.left_btn.commt i{background-image: url(../images/commt.png);}
.bottom_box a.right_btn,.btn_baoming{display: block; width: 4.8rem; height: .88rem; border-radius: .44rem; text-align: center; line-height: .88rem; color: #fff; font-size: .32rem; background:linear-gradient(90deg,rgba(0,197,153,1) 0%,rgba(0,205,173,1) 100%); box-shadow:0 .01rem .07rem 0 rgba(0,193,173,0.23);}

.bottom_box a.right_btn.bm_end{background: #E1E1E8; pointer-events: none; box-shadow:none;}

/* 底部弹出 */
.pop_mask,.popl_mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.57); z-index: 11; display: none;}
.popl_mask{background: none; z-index: 12;}
.pop_box,.popl_box{background-color: #fff; position: fixed; bottom: -9rem; left: 0; right: 0; z-index: 12; padding: 0 .24rem; border-radius: .3rem .3rem 0 0; height: 8.2rem; padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); z-index: 10000;}
.popl_box{z-index: 10001;}
.pop_box h3{font-size: .3rem; color: #000; text-align: center; font-weight: bold; padding:.3rem 0; position: relative;}
.pop_box h3 .close_btn{width: .6rem; height: .6rem; background: no-repeat center url(../images/close_btn1.png) ; background-size: cover; display: block; position: absolute; top: .2rem; right: 0; }
.pop_box dl{margin-bottom: .3rem;}
.pop_box dl>dt{font-size: .26rem; color: #1C1C21; font-weight: bold; margin-bottom: .1rem;}
.pop_box dl>dd {border: solid 1px #F5F5F7; border-radius: .06rem;}
.pop_box dl>dd input{font-size: .28rem; border: none; margin: .24rem ; box-sizing: border-box;}
.pop_box dl>dd input::placeholder{color: #BBBCC4;}

/* 区号显示 */
.pop_box dl>dd .acode_show{display: inline-block; padding: .2rem; font-size: .28rem; color: #333;}
.pop_box dl>dd .acode_show::before{content: '+'; }
.pop_box dl>dd .acode_show::after{content: ''; display: inline-block; width: 0; height: 0; border: solid .1rem rgba(0,0,0,0); border-top:  solid .1rem #666; vertical-align: bottom;  margin-left: .06rem;}

.pop_box dl>dd.select,.pop_box dl>dd.option{border: none; display: flex; align-items: center; padding-left: .3rem;}
.pop_box dl>dd.select i{display: block; width: .22rem; height: .22rem; border-radius: 50%; border: solid 1px #BDC1C9; margin-right: .1rem;}
.pop_box dl>dd.select span{display: flex; align-items: center; margin-right: 1.4rem;}
.pop_box dl>dd.select span.chosed i{border: solid 1px #00BA8C; position: relative;}
.pop_box dl>dd.select span.chosed i::before{content: ''; display: block; width: .11rem; height: .11rem; border-radius: 50%; background-color: #00BA8C; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.pop_box dl>dd.textarea{height: 1.7rem; overflow: auto; box-sizing: border-box; padding: .2rem ;}
.pop_box dl>dd.textarea .txt_con{width: 100%; height: 100%; font-size: .28rem; }
.pop_box dl>dd.textarea .txt_con:empty::before{color:#BBBCC4; content:attr(placeholder);}
.pop_box dl>dd.option{display: block;}
.pop_box dl>dd.option span{display: inline-flex; align-items: center; color: #303133; font-size: .28rem; margin-right: .6rem; flex-wrap: wrap; margin-bottom: .2rem;}
.pop_box dl>dd.option span i{display: block; width: .3rem; height: .3rem; background: url(../images/chose1.png) no-repeat center; background-size: cover; margin-right: .1rem;}
.pop_box dl>dd.option span.chosed i{background-image: url(../images/chose2.png);}



.pop_box ul{/* margin: 0 .24rem; */ max-height: 5.9rem; overflow: auto;}
.formbox{max-height: 5.9rem; overflow: auto;}
.pop_box .li_ticket{border-radius: .04rem; padding: .24rem .3rem; border: solid 1px #E8E8E8;margin: 0 .24rem; margin-bottom: .2rem; }
.pop_box .li_ticket h2{display: flex; align-items: center; justify-content: space-between; font-weight: bold;}
.pop_box .li_ticket h2 .ticket_name{color: #1C1C21; font-size: .3rem; }
.pop_box .li_ticket h2 .ticket_price{color: #FF9436; font-size: .3rem;}
.pop_box .li_ticket p{color: #ABABAB; font-size: .24rem; margin-top: .2rem;}
.pop_box .li_ticket p em{color: #FF9436;}
.pop_box .li_ticket.nochose{background-color: #F5F5F5;pointer-events: none; }
.pop_box .li_ticket.nochose h2 .ticket_name{color: #5E5E5E;}
.pop_box .li_ticket.chosed{background-color: #F0FAF7; border: solid 1px #ADE2D0; position: relative;}
.pop_box .li_ticket.chosed:after{content: ''; display: block; width: .38rem; height: .38rem; background: url(../images/rb_icon.png) no-repeat center; background-size: cover; position: absolute; bottom: 0; right: 0;}
.pop_box .li_ticket.nochose h2 .ticket_price{color: #FF9C46;}
.btn_baoming{ bottom:0;  font-weight: bold; position: absolute;  left:.3rem; right:.3rem; width: auto; margin-bottom: .2rem; }


/* 回复框 */
.mask_re,.mask_reply{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.7); z-index: 10; height: 100%; display: none;}

.mask_re{background: rgba(0,0,0,.3); z-index: 10001;}
.bottom_rbox.pbottom{padding-bottom: 3rem;}
.bottom_rbox {padding: .28rem .3rem .28rem .2rem; background: #fff; position: fixed; bottom: 0; left: 0; right: 0;z-index: 10002; border-radius: .3rem .3rem 0 0 ;box-shadow:0 -.11rem .37rem 0 rgba(0, 0, 0, 0.07); display: none; }
.reply_box .bq_btn{float: left; width: .64rem; height: .64rem; background: url(../images/bq.png) no-repeat center; background-size: cover; margin-top: .04rem;}
.reply_box .send_btn{width: 1.2rem; line-height: .72rem; font-size: .26rem; color: rgba(255,255,255,.77); border-radius: .36rem; text-align: center; float: right; background-color: #00C192;
}
.reply_box .inbox{margin-left: .7rem; margin-right: 1.5rem; height: .72rem; box-sizing: border-box; border-radius: .36rem; border: solid .015rem #A9A9AB;}
.reply_box .inbox #reply{font-size: .3rem;padding-top: .14rem;  padding-right: .29rem; padding-left: .29rem; height: 100%; box-sizing: border-box; overflow: auto;-webkit-user-select:text;}
.reply_box .inbox #reply:empty:before{content: attr(placeholder); color: #ccc; }
.reply_box .inbox #reply:before{content: '';}
.reply_box .inbox #reply img{width: .4rem; margin: 0 .01rem; vertical-align: middle;}
.reply_box .inbox input{border: none; background: none; width: 100%; padding-left: .29rem; padding-right: .29rem; box-sizing: border-box; font-size: .3rem;padding-top: .14rem;}
.reply_box .inbox input::placeholder{color: #ccc;}
/* 表情 */
.bq_box{height: 3.3rem; overflow: auto; display: none; animation: bottomFadeIn .5s ease-in-out; margin-top: .2rem;}
.bq_box li{float: left; width: 14.2%; margin-bottom: .3rem; }
.bq_box li img{display: block; width: .5rem; margin: auto;padding: .05rem;}
.bq_box.show{display: block;}
.reply_box .bq_btn.bq_open{background-image: url(../images/f_bq1.png);}

/* 全部评论 */
.reply_div{border-bottom: solid .14rem #f5f5f7;}
.re_box,.az_box,.alink_box{position: fixed; bottom: -90%; left: 0; right: 0; height: 90%; background: #fff; border-radius: .3rem .3rem 0 0; box-shadow:0 -.03rem .17rem 0 rgba(4,5,36,0.03); z-index: 10000; box-sizing: border-box; padding-top: 1.1rem; }
.re_box>h2,.az_box>h2,.alink_box>h2{color: #000; font-size: .34rem;position: relative; line-height: 1.1rem; position: absolute; top: 0; left: 0; right: 0; font-weight: bold; text-align: center; border-bottom: solid .01rem #EBEBED; }
.re_box>h2 .close_btn,.az_box>h2 .close_btn,.alink_box>h2 .close_btn{display: block; width: .48rem; height: .48rem; background: url(../images/close_btn.png) no-repeat center; background-size: cover; position: absolute; top: .3rem; right: .3rem;}
.re_dl{padding-top: .3rem;}
.re_dl dd{padding: .36rem .24rem;}
.re_dl dd.reply_dd:after{right: .24rem;}
.re_dl dt{color: #999; font-size: .24rem; padding-left:.36rem ;}
.pub_time{color: #999;}
.re_list{overflow: auto; height: 100%;-webkit-overflow-scrolling: touch;}
.re_dl dd.reply_dd:nth-last-child(1):after{display: none;}

/* 区号选择 */
/* .pop_box.anum_box{height: 88%;} */
.popl_box h2 .back{color: #999; font-size: .3rem; position: absolute; right: .58rem; font-weight: normal;}
.areaList,.timeList{padding-top: 1.4rem; height: 100%; box-sizing: border-box; top: 0; left: 0; right: 0; position: absolute; }
.areaList ul,.timeList ul{height: 100%; overflow: auto;}
.areaList ul li,.timeList ul li{margin: 0 .3rem; line-height: .88rem; color: #333; font-size: .3rem;  border-radius: .1rem; padding: 0 .2rem;}
.areaList ul li.achose,.timeList ul li.achose{background: #F0F0F2; font-weight: bold;}

.anum_box h2{line-height: 1.1rem; text-align: center; font-size: .34rem; color: #000; font-weight: bold; border-bottom: solid 1px #f5f5f8; position: relative; z-index: 10;}
.anum_box h2 .cancel,.pop_box h2 .back{color: #999; font-size: .3rem; position: absolute; right: .58rem; font-weight: normal;}
.anum_box h2 .back{left: .43rem; right: auto; position: absolute;  }


/* 提示弹出层 */
.popMsg{position: fixed; top: 50%; left: 50%; background-color: rgba(0,0,0,.7); padding:.36rem .48rem ; border-radius:.16rem; transform: translate(-50%,-50%); min-width: 1rem; text-align: center; z-index: 111;}
.popMsg p{color: #fff; font-size: .28rem; }
.popMsg p .gou{width: .8rem; display: block; margin: auto; margin-bottom: .2rem; padding: 0 .58rem;}
.popMsg{top: 40% !important; z-index: 9999999;}

.fixedtop{position: fixed; top: 0; left: 0; right: 0; background-color: #fff; z-index: 10; box-shadow: 0 0.03rem 0.13rem rgba(7,8,36,.05);}
.fixedtop .tab_box{border: none;}
