body,html{background-color: #F7F4F8; min-height: 100%;}

/* 搜索 */
.search_box {background-color: #fff; padding: .17rem .24rem;}
.search_box form{ height: .64rem; text-align: center; background-color: #F7F7FA; border-radius: .32rem; position: relative;}
.search_box input{color: #333; font-size: .26rem; border: none; width: 100%; padding: .14rem .32rem; background: none; position: absolute; left: 0 ; right: 0; top: 0; bottom: 0; box-sizing: border-box; padding-left: .7rem;}
.search_box input::placeholder{opacity: 0; color: #fff;}
.search_box input:focus::-webkit-input-placeholder{color: #ADAFBA; opacity: 1; }
.search_box input:focus:-ms-input-placeholder{color: #ADAFBA;  opacity: 1; }
.search_box input:focus::placeholder{color: #ADAFBA;  opacity: 1; }
.search_box span{line-height: .64rem; color: #ADAFBA; font-size: .26rem; }
.search_box span i,.search_box .search_icon{display: inline-block; width: .3rem; height: .3rem; background: url(../images/search_icon.png) no-repeat center ; background-size: cover; vertical-align: middle; margin-right: .09rem;}
.search_box .search_icon{position: absolute; top: .18rem; left: .28rem; display: none;}
.search_box span em{vertical-align: middle;}
.search_box input#keywords:focus + span{display: none;}
html > body .search_box input#keywords:focus ~ .search_icon{display: block;}
/* 上面 */
.depart_box{background: #fff;}
.banner .swiper-slide{width: 100%; height: 3.7rem; background: #ccc;}
.banner.swiper-container-horizontal>.swiper-pagination-bullets{bottom: .12rem;}
.banner .swiper-pagination-bullets .swiper-pagination-bullet,.navList  .swiper-pagination-bullets .swiper-pagination-bullet{width: .1rem; height: .1rem; background: rgba(255,255,255,1); opacity: .5; border-radius: .05rem;}
.banner .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active,.navList  .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active{width: .2rem; background-color: #00C192; opacity: 1;}

/* 导航列表 */
.navBox{padding: .12rem 0; margin-bottom: .15rem;}
.navList{padding-bottom: .22rem;}
.navList  .swiper-pagination-bullets .swiper-pagination-bullet{background-color: #DEDEE3; opacity: 1;}
.navList.swiper-container-horizontal>.swiper-pagination-bullets{bottom: 0;}
.navList .swiper-slide{display: flex; -webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center; padding: .18rem 0; }
.nav_li{display: block;}
.nav_li .img_icon{width: .72rem; height: .72rem; margin: auto; background:#f5f5f5;}
.nav_li .img_icon img{width: 100%; height:100%; object-fit: cover; background:#fff;}
.nav_li h5{font-size: .26rem; color: #303133; font-weight: bold; text-align: center;}

/* 广告 */
.adv_box{margin: 0 .15rem;}
/* .adv_box ul{display: flex; justify-content: space-between; align-items: stretch; flex-wrap: wrap; } */
.adv_box ul li{width: 50%; height: 1.7rem; margin-bottom: .16rem; float: left;}
.adv_box ul li>div{margin: 0 .09rem; border-radius: .1rem;}
.adv_box ul li img{width: 100%; height: 100%; object-fit: cover; border-radius: .1rem;}
.depart_box{border-radius: 0 0 .2rem .2rem; box-shadow:0 .03rem .13rem 0 rgba(0,5,29,0.07); padding-bottom: .2rem; margin-bottom: .1rem; position: relative; z-index: 2;}

.dataBox{padding-top: .2rem; position: relative;}
.dataBox::before{content: ''; display: block; width: 100%; height: 2.4rem; position: absolute; top: -.3rem; left: 0; right: 0; background:linear-gradient(0deg,rgba(242,243,245,1) 0%,rgba(255,255,255,1) 100%);}
.tab_ul{color: #37373B; font-size: .28rem; display: flex; justify-content: space-around; margin: 0 .2rem; position: relative; z-index: 9; } 
.tab_ul li{line-height: .4rem; padding: .2rem 0;}
.tab_ul .on_tab{font-size: .36rem; color: #000; font-weight: bold; position: relative;}
.tab_ul .on_tab:after{content: ''; display: block; width: .6rem; height: .08rem; border-radius: .04rem; background-color: #00C192; position: absolute; bottom: 0; left: 50%; margin-left: -.3rem;}


/* 推荐活动 */

/* 活动 */
.slide_box>h2{color: #000; font-size: .36rem; font-weight: bold; padding: .3rem;}
.tab_con{margin-top: .18rem; position: relative; z-index: 3;}
.rec_huodong .pro_img{height: 3.48rem; background: #999; position: relative; border-radius: .06rem; overflow: hidden; }
.rec_huodong .pro_img img{ width: 100%; height: 100%; object-fit: cover;}
.rec_huodong .pro_info{ box-sizing: border-box; padding: .3rem 0; position: relative; }
.rec_huodong .pro_info h2{overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: .34rem; color: #000; font-weight: bold ; padding: 0 .06rem; margin-bottom: .2rem;}
.rec_huodong .pro_info .pro_detail p{font-size: .24rem; color: #ABABAB; display: flex; align-items: center; margin-top: .11rem;}
.rec_huodong .pro_info .pro_detail p em{color: #000;}
.rec_huodong .pro_info .pro_detail p i{display: inline-block; width: .3rem; height: .3rem; background: no-repeat center; background-size: cover; margin-right: .08rem;}
.rec_huodong .pro_info .pro_detail p.act_time i{background-image: url(../images/act_time.png);}
.rec_huodong .pro_info .pro_detail p.act_addr i{background-image: url(../images/act_addr.png);}
.rec_huodong .pro_info .pro_detail p.act_bm i{background-image: url(../images/act_bm.png);}
.rec_huodong .pro_info .price{font-size: .22rem; color: #FF9436; position: absolute; right: 0; bottom: .2rem;  font-weight: bold;}
.rec_huodong .pro_info .price.free{font-size: .36rem;}
.rec_huodong .pro_info .price em{font-size: .48rem; font-weight: bold;}
.rec_huodong li{margin: 0 .2rem; background: #fff;box-shadow:0px 3px 13px 0px rgba(0, 0, 0, 0.05);border-radius:.2rem; overflow: hidden; margin-bottom: .22rem; padding-top: .24rem;}
.rec_huodong li a.hd_detail{display: block; margin: 0 .24rem; border-bottom: solid 1px #F5F5F7;}
.rec_huodong .pro_img img{width:100%; height: 100%; object-fit: cover; border-radius: .06rem;}
.hd_host {margin: 0 .24rem; display: flex; align-items: center; padding: .22rem 0; }
.hd_host p{color: #5E5E5E; font-size: .26rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 4rem;}
.hd_host .head_img{width: .56rem; height: .56rem; border-radius: 50%; position: relative; margin-right: .14rem;}
.hd_host .head_img img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%;} 
.hd_host .head_img .v_log{width: .3rem; height: .3rem; position: absolute; left: .34rem; bottom: -.02rem;}

/* 优秀主办方 */
.host_li{background-color: #fff; margin: 0 .2rem; ;box-shadow:0 .03rem .13rem 0 rgba(0,5,29,0.07); border-radius:.2rem; margin-bottom: .2rem;}
.host_li a{display: block;  padding: .3rem .28rem;}
.host_li .head_img{float: left; width: 1.6rem; height: 1.6rem; border-radius: .1rem; overflow: hidden; background-color: #f5f5f5; position: relative;}
.host_li.vip_li .head_img::after{content: ''; width: .84rem; height: .84rem; background-color: #D3AF69; display: block; position: absolute; bottom: -.42rem; right: -.4rem; border-radius: 50%;}
.host_li .head_img .v_log{display: block; width: .3rem; height: .3rem; position: absolute; right: .02rem; bottom: .02rem; z-index: 1;}
.host_li .head_img  img{width: 100%; height: 100%; object-fit: cover;}
.host_li .h_info{margin-left: 1.84rem;}
.host_li .h_info .h_detail{display: flex; align-items: center; color: #919191; margin-top: .12rem; margin-bottom: .22rem;}
.host_li .h_info .h_detail em{color: #000;}
.host_li .h_info .h_detail p{margin-right: .26rem; font-size: .24rem;}
.host_li .h_info h3{font-size: .32rem; color: #000; font-weight: bold; line-height: 1.2em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.host_li .h_info button{display: block; width: 1.4rem; height: .5rem; line-height: .5rem; border-radius: .25rem; background-color: #00BA8C; border: none; color: #fff; font-size: .26rem;}
.host_li .h_info button.cared{ background-color: #D4D5D9;}
.host_li .h_info button.cared::before{display: none;}
.host_li .h_info button::before{content: ''; display: inline-block; width: .3rem; height: .3rem; background: url(../images/add.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem;}

.topfixed{position: fixed; top: 0; right: 0; left: 0; background-color: #fff; z-index: 10; padding: .2rem 0; display: none; box-shadow: 0 0.03rem 0.13rem rgba(7,8,36,.05);}
.topfixed.show{display: block;}
.ul_box{height: .8rem;}
.loading{text-align: center; padding: .6rem; color: #999; padding-bottom: 1.5rem;}
.loading img{width:2rem ;}

.noslide.navBox li{width: 20%; float: left; display: block;}
.noslide.navBox .swiper-wrapper{display: block; overflow: hidden;}

.search_head{background-color: #fff;}
.search_head .areaChose{float: left; font-size: .28rem; color: #313233; display: flex; align-items: center; justify-content: center; width: 1.8rem; line-height: .8rem; margin-left: .2rem; margin-top: .1rem;}
.search_head .areaChose span{display: block; max-width: 1.45rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.search_head .areaChose:after{content: ''; display: block; width: .2rem; height: .2rem; background: url(/static/images/d_arr.png) no-repeat center; background-size: cover; margin-left: .08rem;}
.search_head:not(.noCity) .search_box{margin-left: 1.8rem;}
