body,html{background-color: #F7F4F8; min-height: 100%;}
.header{z-index: 9;}
/* 搜索 */
.search_box {background-color: #fff; padding: .17rem .24rem;}
.search_box form{ height: .64rem; text-align: center; background-color: #F7F7FA; border-radius: .32rem; position: relative;}
.search_box input{color: #333; font-size: .26rem; border: none; width: 100%; padding: .14rem .32rem; background: none; position: absolute; left: 0 ; right: 0; top: 0; bottom: 0; box-sizing: border-box; padding-left: .7rem;}
.search_box input::placeholder{opacity: 0; color: #fff;}
.search_box input:focus::-webkit-input-placeholder{color: #ADAFBA; opacity: 1; }
.search_box input:focus:-ms-input-placeholder{color: #ADAFBA;  opacity: 1; }
.search_box input:focus::placeholder{color: #ADAFBA;  opacity: 1; }
.search_box span{line-height: .64rem; color: #ADAFBA; font-size: .26rem;}
.search_box span i,.search_box .search_icon{display: inline-block; width: .3rem; height: .3rem; background: url(../images/search_icon.png) no-repeat center ; background-size: cover; vertical-align: middle; margin-right: .09rem;}
.search_box span em{vertical-align: middle;}
.search_box input#keywords:focus + span{display: none;}
.search_box .search_icon{position: absolute; top: .18rem; left: .28rem; display: none;}
html > body .search_box input#keywords:focus ~ .search_icon{display: block;}
.shai{background-color: #fff; padding:  .2rem .45rem .34rem 0 ;}
.fast_shai{ display: flex; align-items:  center; font-size: .28rem; color: #000; }
.fast_shai li{ margin: 0 .5rem; margin-right: .8rem;}
.shai .shai_btn{font-size: .28rem; color: #000;}
.shai .shai_btn.onclick{color: #00BA8C;}
.shai .shai_btn.onclick:after{background-image: url(../images/shai1.png);}
.shai .shai_btn:after{content: ''; display: inline-block; width: .3rem; height: .3rem; background: url(../images/shai.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-right: .12rem;}
.shai .onclick{color: #00BA8C; font-weight: bold;}


/* 列表页 */
.list_box{margin: .22rem;}
.li_box{/* margin: 0 .2rem; */ border-radius: .16rem; box-shadow:0 .03rem .13rem 0 rgba(0,5,29,0.07); background-color: #fff; margin-bottom: .22rem;}
.li_box a{display: block; margin: 0 .24rem; }
.li_box a.hd_box{padding: .24rem 0; border-bottom: solid 1px #f5f5f7;}
.li_box a.hd_box .right_info{margin-left: 2.6rem;}
.li_box a.hd_box .right_info h3{font-weight: bold; color: #000; font-size: .3rem;white-space: nowrap; overflow: hidden; line-height: 1.1em; margin-bottom: .12rem; text-overflow: ellipsis;}
.li_box  .hd_img{width: 2.4rem; height: 1.5rem; background-color: #f7f7f7; border-radius: .06rem; float: left;}
.li_box  .hd_img img{width: 100%; height: 100%; object-fit: cover; border-radius: .06rem;}
.hd_detail p{font-size: .24rem; color: #ABABAB; display: flex; align-items: center; margin-top: .06rem;}
.hd_detail p em{color: #000;}
.hd_detail p i{display: inline-block; width: .3rem; height: .3rem; background: no-repeat center; background-size: cover; margin-right: .08rem;}
.hd_detail p.act_time i{background-image: url(../images/act_time.png);}
.hd_detail p.act_addr i{background-image: url(../images/act_addr.png);}
.hd_detail p.act_bm i{background-image: url(../images/act_bm.png);}

.host_box{padding: .15rem 0;}
.host_box p{color: #5E5E5E; font-size: .26rem; float: left; line-height: .48rem; margin-left: .1rem;}
.host_box .head_img{width: .48rem; height: .48rem; border-radius: 50%; position: relative; margin-right: .14rem; float: left;}
.host_box .head_img img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%;} 
.host_box .head_img .v_log{width: .3rem; height: .3rem; position: absolute; left: .34rem; bottom: -.02rem;}
.price_show{float: right; color: #FF9436; font-weight: bold !important; font-size: .22rem;}
.price_show em{font-size: .36rem; font-weight: bold !important;}
.price_show.free{font-size: .32rem; }

/* 筛选页面 */
.mask_shai{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.5); z-index: 10; display: none;}
.shai_page{width: 5.9rem; height: 100%; position: fixed; top: 0; right: -6rem; bottom: 0; background: #fff; z-index: 10000; border-radius: .3rem 0 0 .3rem; box-sizing: border-box; padding-top: .1rem;}
.scrollBox{position: absolute; top: 0; bottom: 2rem; left: 0; right: 0; overflow: auto;  box-sizing: border-box;}
.dl_box{padding-left: .34rem; padding-top: .6rem;}
.dl_box h3{font-size: .28rem; color: #000; font-weight: bold; margin-bottom: .26rem;}
.dl_box li{float: left; width: 1.6rem; height: .72rem; box-sizing: border-box; line-height: .72rem; text-align: center; color: #5A5A5E; font-size: .26rem; border: solid 1px #E1E2E8; margin-right: .2rem; margin-bottom: .2rem; border-radius: .04rem;}
.dl_box li.on_chose{background-color: #F0FAF7; border: solid 1px #ADE2D0; color: #00BA8C; font-weight: bold;}

.topfixed{position: fixed; top: 0; left: 0; right: 0; z-index: 10; box-shadow: 0 0.03rem 0.13rem rgba(7,8,36,.05);}
.shai_box{height: 1.02rem;}

.shai_page .btn_group{display: flex; justify-content: center; position: absolute; bottom: .86rem; left: 0; right: 0;}
.shai_page .btn_group button{border: none; display: block; width: 2.5rem; height: .88rem; text-align: center; line-height: .88rem; border-radius: .44rem; margin: 0 .1rem; background-color: #EDEEF0; font-weight: bold; font-size: .28rem;}
.shai_page .btn_group button.sure_btn{background:linear-gradient(90deg,rgba(0,197,153,1) 0%,rgba(0,205,173,1) 100%); color: #fff;}

.loading{text-align: center; padding: .6rem; color: #999; padding-bottom: 1.5rem;}
.loading img{width:2rem ;}