<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
		<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
		<title>{#$langData['business'][5][10]#}-{#$business_title#}</title>{#*  商家点评   *#}
		<meta name="keywords" content="{#$detail_title#}">
		<meta name="description" content="{#$detail_title#}">
		<link rel="stylesheet" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" href="{#$templets_skin#}css/dactivity.css?v={#$cfg_staticVersion#}">
		<script charset="UTF-8" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript">
		var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}',channelDomain = '{#$business_channelDomain#}';
		var criticalPoint = 1240, criticalClass = "w1200";
		$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
		var hideFileUrl = {#$cfg_hideUrl#};
		var cookiePre = '{#$cfg_cookiePre#}';
		var templets_skin = '{#$templets_skin#}',id = '{#$detail_id#}';
		var longitude = '{#$detail_lng#}', latitude = '{#$detail_lat#}', resblockName = '{#$detail_title#}';

		var pageData = {
			id: '{#$detail_id#}',
			panName: '{#$detail_title#}',
			address: '{#$detail_address#}',
			lat: '{#$detail_lat#}',
			lng: '{#$detail_lng#}',
			url: '{#getUrlPath service='business' template='detail' id={#$detail_id#}#}',
			mapType: '{#$site_map#}',
			mapKey: '{#$site_map_key#}'
		};
		var pubModelType ="business"
		var cenicon = "{#$templets_skin#}images/mark_ditu.png";
		var site_map = "{#$site_map#}";
		var vrUrl    = '{#getUrlPath service='business' template='panor' bid={#$detail_id#}#}',  videoUrl = '{#getUrlPath service='business' template='video' bid={#$detail_id#}#}',  albumsUrl = '{#getUrlPath service='business' template='albums' bid={#$detail_id#}#}';
		</script>
	</head>

	<body class="w1200">
		{#include file="Topbusiness.html" pageCurr="commtlist"#}

		<div class="content_box">
			<!-- 商家评价 -->
			<div class="module_box nopadding ">
				<div class="box1">
					<h2>{#$langData['business'][5][11]#} </h2>{#*  商家评价   *#}
					<a href="javascript:;" class="comm_btn">{#$langData['business'][5][12]#}</a>{#*  我要评价   *#}
					<div class="comm_box">
						<div class="com_head fn-clear">
							<div class="left_com">
								<span>{#$langData['business'][5][13]#}</span>{#*  整体评价   *#}
								<em>0.0</em>
								<span class="star">
									<i></i>
								</span>
							</div>
							<div class="right_item">
								<span data-id="" class="click"><i></i>{#$langData['business'][5][14]#}（<em class="comment_total">0</em>）</span>   {#* 全部 *#}
								<span data-id="sco1=4,5"><i></i>{#$langData['business'][5][15]#}(<em id="comment_good">0</em>)</span>                {#* 好评 *#}
								<span data-id="sco1=2,3"><i></i>{#$langData['business'][5][16]#}(<em id="comment_middle">0</em>)</span>                {#* 中评 *#}
								<span data-id="sco1=1"><i></i>{#$langData['business'][5][17]#}(<em id="comment_bad">0</em>)</span>                {#* 差评 *#}
								<span data-id="pics=1"><i></i>{#$langData['business'][5][18]#}(<em id="comment_pic">0</em>)</span>            {#* 带图评价 *#}
							</div>
						</div>

						<div class="comm_list" data-page="1">
							<h2>{#$langData['business'][5][19]#} <em>(0)</em></h2>  {#* 全部评价 *#}
							<ul class="comm_ul" data-page="1">
								{#*
								<li class="comm_li fn-clear">
									<div class="left_head"></div>
									<div class="right_con">
										<div class="com_info">
											<h4>SIMMO</h4>
											<p class="star">
												<i style="width: 80%;"></i>
											</p>
										</div>
										<div class="comm_con">
											<p>河虾又大又嫩；糖醋排骨也甜得恰好；土豆丝像是猪油炒的非常香，物美价廉，米饭软糯，包装盒也力尽环保了，推荐～</p>
											<div class="comm_img">

											</div>
											<div class="com_detail fn-clear">
												<span class="com_time">4小时前</span>
												<div class="right_commt"><span class="btn_reply"><i></i>回复(5000)</span><span class="com_num"><i></i>5000</span></div>
											</div>
										</div>
										<div class="reply_box">
											<ul class="reply_ul">
												<li class="comm_li">
													<div class="left_head"></div>
													<div class="right_con">
														<!-- <div class="com_info"></div> -->
														<h4>SIMMO</h4>
														<div class="comm_con">
															<p>回复 <em>SIMMO</em>河虾又大又嫩；糖醋排骨也甜得恰好；土豆丝像是猪油炒的非常香，物美价廉，米饭软糯，包装盒也力尽环保了，推荐～</p>
															<div class="com_detail fn-clear">
																<span class="com_time">4小时前</span>
																<div class="right_commt"><span class="btn_reply"><i></i>回复(5000)</span><span class="com_num"><i></i>5000</span></div>
															</div>
														</div>
													</div>
												</li>
												<li class="comm_li">
													<div class="left_head"></div>
													<div class="right_con">
														<!-- <div class="com_info"></div> -->
														<h4>SIMMO</h4>
														<div class="comm_con">
															<p>回复 <em>SIMMO</em>河虾又大又嫩；糖醋排骨也甜得恰好；土豆丝像是猪油炒的非常香，物美价廉，米饭软糯，包装盒也力尽环保了，推荐～</p>
															<div class="com_detail fn-clear">
																<span class="com_time">4小时前</span>
																<div class="right_commt"><span class="btn_reply"><i></i>回复(5000)</span><span class="com_num"><i></i>5000</span></div>
															</div>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</li>
								<li class="comm_li fn-clear">
									<div class="left_head"></div>
									<div class="right_con">
										<div class="com_info">
											<h4>SIMMO</h4>
											<p class="star">
												<i style="width: 50%;"></i>
											</p>
										</div>
										<div class="comm_con">
											<p>河虾又大又嫩；糖醋排骨也甜得恰好；土豆丝像是猪油炒的非常香，物美价廉，米饭软糯，包装盒也力尽环保了，推荐～</p>
											<div class="comm_img fn-clear">
												<div class="imgbox"></div>
												<div class="imgbox"></div>
											</div>
											<div class="com_detail fn-clear">
												<span class="com_time">4小时前</span>
												<div class="right_commt"><span class="btn_reply"><i></i>回复(5000)</span><span class="com_num"><i></i>5000</span></div>
											</div>
										</div>
									</div>
								</li>
								*#}
							</ul>
							<a href="javascript:;" class="more_commt">{#$langData['business'][5][87]#}></a>
						</div>

					</div>
				</div>
			</div>



		</div>

		<!-- 评价弹出层 -->
		<div class="commtPop">
			<h2>发表评价</h2>
			<a href="javascript:;" class="close_commt"></a>
			<form class="commt_box">
				<div class="comm_star fn-clear">
					<label class="left_text"  for="">总体评价:</label>
					<div class="starShow"><span><s></s><s></s><s></s><s></s><s></s></span> <em>满意</em></div>
					<input type="hidden" id="score" value="">
				</div>
				<div class="comm_text fn-clear">
					<label class="left_text" for="">评价:</label>
					<div class="commt_com">
						<textarea id="com_con" rows="" cols="" placeholder="给小伙伴们图文并茂地分享下你的心得吧..."></textarea>
						<div class="imgList">
							<ul class="fn-clear " id="listSection2">
								<li class="up_btn ">
									<div class="wxUploadObj fn-clear">
										<div class="filePicker" id="filePicker2" data-type="thumb" data-count="6" data-size="{#$atlasSize#}" data-imglist=""><img src="{#$templets_skin#}images/img_icon.png" alt=""><p>点击上传图片</p></div>

										<span class="upload-split fn-hide">{#$langData['siteConfig'][13][0]#}</span>{#* 或 *#}
									</div>
								</li>
							</ul>
						</div>

					</div>
				</div>
				<div class="anony"><i class="a_click"></i>匿名发表
				<input type="hidden" id="anonymous" value="1"></div>
				<button type="button" class="fabu_commt">发表评价</button>
			</form>
		</div>

		{#include file="../../siteConfig/public_foot_v3.html" module='business' theme='gray'#}
		<script charset="UTF-8" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>

		<script charset="UTF-8" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js?v={#$cfg_staticVersion#}"></script>
		<script src="{#$templets_skin#}js/Upload.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.dragsort-0.5.1.min.js?v={#$cfg_staticVersion#}"></script>
		<script charset="UTF-8" src="{#$templets_skin#}js/commtlist.js?v={#$cfg_staticVersion#}"></script>

	</body>
</html>
