<div class="fixedwrap FestivalAD_header">
    <div class="fixedpane">
        <!-- head s -->
        <div class="wrap header fn-clear">
            <div class="logo">
                <a href="{#$business_channelDomain#}" title="{#$business_channelName#}"><img src="{#$business_logoUrl#}" alt="{#$business_channelName#}" /></a>
            </div>
            <div class="searchwrap y-linear">
                <div class="search">
					<i class="icon_search"><img src="{#$templets_skin#}images/icon_search.png"></i>
                    <div class="FormBox">
                        <form action="{#getUrlPath service='business' template='list'#}" method="post" class="form{#if $pageCurr == "store_list"#} fn-hide{#/if#}">
							<input name="token" id="token" value="{#$token#}" type="hidden" />
                            <div class="inputbox">
                                <div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="{#$langData['business'][7][16]#}" value="{#$keywords#}" /></div>   {#* 输入关键词 *#}
                            </div>
                            <div class="subbox search-btn">
                                <input type="submit" class="submit" value="{#$langData['business'][7][17]#}">{#* 立即搜索 *#}
                            </div>
                        </form>

                    </div>
                </div>
                <div class="searchkey searchkeys">
                    <span>{#$langData['business'][6][14]#}：</span>{#* 热门搜索 *#}
                    {#siteConfig module="index" action="hotkeywords" return="hotkeywords"#}
                    <a href="{#$hotkeywords.href#}"{#if $hotkeywords.target==0#} target="_blank"{#/if#}>{#$hotkeywords.keyword#}</a>
                    {#/siteConfig#}
                </div>
            </div>

            <div class="kefu"><s><img src="{#$templets_skin#}images/call.png"></s><p>{#$langData['business'][0][30]#}</p>{#$cfg_hotline#}</div>  {#* 客服热线 *#}
        </div>
        <!-- head e -->

        <div class="nav-con n-linear ">
            <div class="wrap fn-clear">
                <ul class="fn-clear nav_ul">
                   <li class="all_cate all_cate2 {#if $pageCurr =='index'#}curr{#/if#}"><a  href="{#$business_channelDomain#}">{#$langData['business'][2][0]#}</a>{#* 首页 *#}
				   {#if $pageCurr == "index"#}
                       <div class="b-main" id="navlist_wrap">
                         <div class="NavList">
                           <ul>
                               {#business action="type" return='bjtype' page="1" pageSize="11"#}
                   				{#if $_bindex.type < 11#}
                   					<li>
                   						<a href="{#$bjtype.url#}" class="name">{#$bjtype.typename#}</a>
										{#if $bjtype.lower#}
                   						<i class="arrow"></i>
                   						<div class="sub-category">
                   							<ul>
                   								{#business action="type" return='ctype' type=$bjtype.id #}
                   								<li><a target="_blank" href="{#getUrlParam url={#$pageUrl#} typeid={#$ctype.id#}#}">{#$ctype.typename#}</a></li>
                   								{#/business#}
                   							</ul>
                   						</div>
                   						{#/if#}
                   					</li>
                   				{#/if#}
                   			{#/business#}

                               <li class="more_link"><a href="{#getUrlPath service='business' template='list'#}" class="name">{#$langData['business'][7][14]#}</a>{#* 更多分类 *#}
							   <i class="arrow"></i>

							   <div class="sub-category">
							   	<ul>
							   		{#$m=1#}
							   		{#business action="type" return='bjtype' page="1"#}
							   		{#if $m>11#}
									<li>
										<a target="_blank" href="{#getUrlParam url={#$pageUrl#} typeid={#$bjtype.id#}#}">{#$bjtype.typename#}</a>
										<i class="arrow"></i>
									</li>
									{#/if#}
									{#$m=$m+1#}
									{#/business#}
							   	</ul>
							   </div>
							   </li>

                           </ul>
                         </div>
                     </div>
                   {#/if#}
				   </li>
                   <li class="{#if $pageCurr =='list'#}curr{#/if#}"><a href="{#getUrlPath service='business' template='list'#}" class="nav-m">{#$langData['siteConfig'][37][43]#}</a></li>    {#* 商家店铺 *#}
                   {#if in_array("tuan", $installModuleArr)#}
                   <li><a href="{#$tuan_channelDomain#}" class="nav-m">{#$tuan_channelName#}</a></li>
                   {#/if#}
                   <li><a href="{#$huangye_channelDomain#}" class="nav-m">{#$langData['siteConfig'][37][71]#}</a></li>    {#* 便民黄页 *#}
                   {#if in_array("info", $installModuleArr)#}
                   <li><a href="{#$info_channelDomain#}" class="nav-m">{#$info_channelName#}</a></li>
                   {#/if#}
                   {#if in_array("shop", $installModuleArr)#}
                   <li><a href="{#$shop_channelDomain#}" class="nav-m">{#$shop_channelName#}</a></li>
                   {#/if#}
                   {#if in_array("job", $installModuleArr)#}
                   <li><a href="{#$job_channelDomain#}" class="nav-m">{#$job_channelName#}</a></li>
                   {#/if#}
                   {#if in_array("integral", $installModuleArr)#}
                   <li><a href="{#$integral_channelDomain#}" class="nav-m">{#$integral_channelName#}</a></li>
                   {#/if#}
                   <li><a target="_blank" href="{#getUrlPath service='business' template='map'#}" class="nav-m">{#$langData['siteConfig'][37][72]#}</a></li> {#* 地图找商家 *#}
                </ul>

            </div>
			{#if $pageCurr == "list" #}
			<i class="line"></i>
			{#/if#}
        </div>

    </div>
</div>
