<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
		<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
		<title>{#$langData['business'][2][51]#}-{#$business_title#}</title>  {#* 商家活动 *#}
		<meta name="keywords" content="{#$detail_title#}">
		<meta name="description" content="{#$detail_title#}">
		<link rel="stylesheet" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" href="{#$templets_skin#}css/dactivity.css">
		<script charset="UTF-8" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
		<script type="text/javascript">
		var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}',channelDomain = '{#$business_channelDomain#}';
		var criticalPoint = 1240, criticalClass = "w1200";
		$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
		var hideFileUrl = {#$cfg_hideUrl#};
		var cookiePre = '{#$cfg_cookiePre#}';
		var templets_skin = '{#$templets_skin#}',id = '{#$detail_id#}';
		var longitude = '{#$detail_lng#}', latitude = '{#$detail_lat#}', resblockName = '{#$detail_title#}';

		var pageData = {
			id: '{#$detail_id#}',
			panName: '{#$detail_title#}',
			address: '{#$detail_address#}',
			lat: '{#$detail_lat#}',
			lng: '{#$detail_lng#}',
			url: '{#getUrlPath service='business' template='detail' id={#$detail_id#}#}',
			mapType: '{#$site_map#}',
			mapKey: '{#$site_map_key#}'
		};
		var pubModelType ="business"
		var cenicon = "{#$templets_skin#}images/mark_ditu.png";
		var site_map = "{#$site_map#}";
		var vrUrl    = '{#getUrlPath service='business' template='panor' bid={#$detail_id#}#}',  videoUrl = '{#getUrlPath service='business' template='video' bid={#$detail_id#}#}',  albumsUrl = '{#getUrlPath service='business' template='albums' bid={#$detail_id#}#}';
		</script>
	</head>

	<body class="w1200">
		{#include file="Topbusiness.html" pageCurr='huodong'#}

		<div class="content_box">
			<!-- 同城活动 -->
			<div class="module_box nopadding">
				<div class="box1">
					<h2>{#$langData['business'][3][15]#} </h2>   {#*  同城活动  *#}
					<div class="hd_list mod_list">
						<ul class="hd_ul tab_box show">
							{#huodong action='hlist' uid=$detail_uid page=$page pageSize='5'#}
							<li class="hd_li">
								<a target="_blank" href="{#$row.url#}" class="fn-clear">
									<div class="hd_left"><img src="{#$row.litpic#}"  /></div>
									<div class="hd_right">
										<h3>{#$row.title#}</h3>
										{#* 活动时间   *#}
										<p class="hd_time">{#$langData['business'][3][17]#}：<span>{#$row.began|date_format:"%Y-%m-%d %H:%m"#}~{#$row.end|date_format:"%Y-%m-%d %H:%m"#}</span></p>
										{#* 活动地址   *#}
										<p class="hd_address">{#$langData['business'][3][18]#}：<span>{#$row.addrname[$row.addrname|@count-2]#} {#$row.addrname[$row.addrname|@count-1]#}</span></p>
									    {#* 报名人数  已有1人报名  限100人参加 *#}
										<p class="hd_num">{#$langData['business'][3][19]#}：<span>{#$langData['business'][3][20]|replace:"1":$row.reg#}</span></p>
										<div class="hd_price">
										{#if $row.feetype == 1#}<em>{#echoCurrency type='symbol'#}</em><span>{#$row.mprice#}</span>{#$langData['business'][3][14]#}{#else#}<span>{#$langData['business'][3][21]#}</span>{#/if#}{#*起   免费  *#}
										<button type="button" class="bm_btn">{#$langData['business'][3][26]#}</button>   {#* 去报名   *#}
										</div>
									</div>
								</a>
							</li>
							{#/huodong#}
						</ul>
						<div class="page_show">
							{#getPageList service='business' template='huodong' bid={#$detail_id#} typeid={#$id#} pageType='dynamic' param="page=#page#"#}
						</div>
					</div>
				</div>
			</div>
		</div>

		{#include file="../../siteConfig/public_foot_v3.html" module='business' theme='gray'#}
		<script charset="UTF-8" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>

	</body>
</html>
