<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#if $seo_title != ""#}{#$seo_title#}{#else#}{#$business_title#}{#/if#}</title>
<meta name="keywords" content="{#$business_keywords#}">
<meta name="description" content="{#$business_description#}">
<link rel="stylesheet" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" href="{#$templets_skin#}css/index.css?v={#$cfg_staticVersion#}">
<script charset="UTF-8" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
<script charset="UTF-8" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$business_channelDomain#}', staticPath = '{#$cfg_staticPath#}', templatePath = '{#$templets_skin#}';
	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
	var hideFileUrl = '{#$cfg_hideUrl#}';
</script>
</head>
<body class="w1200">
{#$channel = 'business'#}
{#$hotline = $cfg_hotline#}

{#$pageUrl = {#getUrlPath service='business' template='list'#}#}

{#$pageCurr = "index"#}
	{#include file="../../siteConfig/top1.html"#}
	<!-- 导航 s-->
	{#include file="header_search.html"#}
	<!-- 导航 e-->

	<div class="body_box">
		<div class="top_box">
			<!-- 广告位一 滚动 -->
			<div class="adv_box">
				<div class="wrap">
					<div class="slideBox slideBox1">
						<div class="bd">
							<div class="slide_con">
								{#myad title="商家_模板四_电脑端_广告一" type="slide"#}
							</div>
						</div>
						<div class="hd"><ul></ul></div>
					</div>
				</div>
			</div>

			<!-- 广告位二 不滚 -->
			<div class="adv1_box">
				<ul class="fn-clear">
					{#myad title="商家_模板四_电脑端_广告二" #}
				</ul>
			</div>

			<!-- 商家入驻 -->
			<div class="right_shop fn-clear">
				<div class="shop_box">
					<div class="bg"><img src="{#$templets_skin#}images/ruzhu_bg1.png"></div>
					<a href="{#$member_userDomain#}/enter.html#join" class="ruzhu_btn">{#$langData['business'][0][0]#}</a>  {#*  商家入驻  *#}
					<dl class="ru_list">
						<dt>{#$langData['business'][7][0]#}</dt>{#*  最新商家入驻  *#}

						{#business action="blist" return='list' store="2" orderby="4" pageSize="8"#}
						<dd>
							<a target="_blank" href="{#$list.url#}">
								{#$list.title#}
							</a>
							<span class="time">{#$list.pubdate|date_format:'%m.%d'#}</span>
						</dd>
						{#/business#}

					</dl>
				</div>
			</div>
		</div>

		<div class="con_box">
			<!-- 店铺推荐 -->
			<div class="tow_col fn-clear">
				<div class="left_col col_box">

					{#business action="type" return='bjtype' page="1" pageSize="1"#}
					<h2>{#$bjtype.typename#}<a href="{#getUrlParam url={#$pageUrl#} typeid=$bjtype.id#}" class="go_link">{#$langData['business'][5][14]#}></a></h2> {#* 全部  *#}
					<ul class="fn-clear">
						{#business action="blist" return="list"  typeid=$bjtype.id page=1 pageSize="6"#}
						<li class="shop_li">
							<a href="{#$list.url#}">
								<div class="img_box"><img src="{#$list.logo#}"></div>
								<div class="shop_info">
									<h3>{#$list.title#}</h3>
									<p class="star"><span style="{#if $list.sco1==0 #}width:18px;{#/if#}"><s style="width:{#$list.sco1/5*100#}%"></s></span>{#if $list.sco1==0 #}{#$langData['business'][6][11]#}{#else#}{#$list.sco1#}{#$langData['business'][7][25]#}{#/if#}</p>  {#*  暂无评分  *#}
									<p>{#$list.addrname[count($list.addrname)-3]#} {#$list.addrname[count($list.addrname)-2]#}</p>
								</div>
							</a>
						</li>
						{#/business#}
					</ul>
					{#/business#}

				</div>
				<div class="right_col col_box">

					{#business action="type" return='bjtype' page="2" pageSize="1"#}
					<h2>{#$bjtype.typename#}<a href="{#getUrlParam url={#$pageUrl#} typeid=$bjtype.id#}" class="go_link">{#$langData['business'][5][14]#}></a></h2> {#* 全部  *#}
					<ul class="fn-clear">
						{#business action="blist" return="list"  typeid=$bjtype.id  page=1 pageSize="6"#}
						<li class="shop_li">
							<a href="{#$list.url#}">
								<div class="img_box"><img src="{#$list.logo#}"></div>
								<div class="shop_info">
									<h3>{#$list.title#}</h3>
									<p class="star"><span style="{#if $list.sco1==0 #}width:18px;{#/if#}"><s style="width:{#$list.sco1/5*100#}%"></s></span>{#if $list.sco1==0 #}{#$langData['business'][6][11]#}{#else#}{#$list.sco1#}{#$langData['business'][7][25]#}{#/if#}</p>  {#*  暂无评分  *#}
									<p>{#$list.addrname[count($list.addrname)-3]#} {#$list.addrname[count($list.addrname)-2]#}</p>
								</div>
							</a>
						</li>
						{#/business#}
					</ul>
					{#/business#}

				</div>
			</div>

			<!-- 广告位 -->
			<div class="adv2_box">
				{#myad title="商家_模板四_电脑端_广告三" #}
			</div>

			<!-- 品牌甄选 -->
			<div class="adv3_box brand_box">
				<h2>{#$langData['business'][7][3]#}  <a href="#">{#$langData['business'][7][4]#} ></a></h2>  {#* 品牌甄选--更多大牌  *#}
				<ul class="fn-clear">
					{#myad title="商家_模板四_电脑端_广告四" #}
				</ul>
				<div class="bg_adv"><img src="{#$templets_skin#}images/brand_bg.png"></div>
			</div>

			<div class="tow_col fn-clear">
				<div class="left_col col_box">

					{#business action="type" return='bjtype' page="3" pageSize="1"#}
					<h2>{#$bjtype.typename#}<a href="{#getUrlParam url={#$pageUrl#} typeid=$bjtype.id#}" class="go_link">{#$langData['business'][5][14]#}></a></h2> {#* 全部  *#}
					<ul class="fn-clear">
						{#business action="blist" return="list"  typeid=$bjtype.id  page=1 pageSize="6"#}
						<li class="shop_li">
							<a href="{#$list.url#}">
								<div class="img_box"><img src="{#$list.logo#}"></div>
								<div class="shop_info">
									<h3>{#$list.title#}</h3>
									<p class="star"><span style="{#if $list.sco1==0 #}width:18px;{#/if#}"><s style="width:{#$list.sco1/5*100#}%"></s></span>{#if $list.sco1==0 #}{#$langData['business'][6][11]#}{#else#}{#$list.sco1#}{#$langData['business'][7][25]#}{#/if#}</p>  {#*  暂无评分  *#}
									<p>{#$list.addrname[count($list.addrname)-3]#} {#$list.addrname[count($list.addrname)-2]#}</p>
								</div>
							</a>
						</li>
						{#/business#}
					</ul>
					{#/business#}

				</div>
				<div class="right_col col_box">

					{#business action="type" return='bjtype' page="4" pageSize="1"#}
					<h2>{#$bjtype.typename#}<a href="{#getUrlParam url={#$pageUrl#} typeid=$bjtype.id#}" class="go_link">{#$langData['business'][5][14]#}></a></h2> {#* 全部  *#}
					<ul class="fn-clear">
						{#business action="blist" return="list"  typeid=$bjtype.id  page=1 pageSize="6"#}
						<li class="shop_li">
							<a href="{#$list.url#}">
								<div class="img_box"><img src="{#$list.logo#}"></div>
								<div class="shop_info">
									<h3>{#$list.title#}</h3>
									<p class="star"><span style="{#if $list.sco1==0 #}width:18px;{#/if#}"><s style="width:{#$list.sco1/5*100#}%"></s></span>{#if $list.sco1==0 #}{#$langData['business'][6][11]#}{#else#}{#$list.sco1#}{#$langData['business'][7][25]#}{#/if#}</p>  {#*  暂无评分  *#}
									<p>{#$list.addrname[count($list.addrname)-3]#} {#$list.addrname[count($list.addrname)-2]#}</p>
								</div>
							</a>
						</li>
						{#/business#}
					</ul>
					{#/business#}

				</div>
			</div>

			<!-- 广告位 -->
			<div class="adv4_box">
				{#myad title="商家_模板四_电脑端_广告五" #}
			</div>

			<!-- 热门推荐 -->
			<dl class="hot_rec fn-clear">
				<dt>
					<h3>{#$langData['business'][7][7]#}</h3>         {#* 本周热门 *#}
					<p>{#$langData['business'][7][8]#}</p> {#* 精挑细选，网友最爱 *#}
					<a href="{#getUrlParam url={#$pageUrl#} orderby=1#}">{#$langData['business'][6][21]#}</a>   {#* 查看更多 *#}
				</dt>
				{#business action="blist" return="list"  orderby="1"  collect="1" page=1 pageSize="5"#}
				<dd class="rec_dd">
					<a href="{#$list.url#}">
						<div class="pro_img">
							<img src="{#if $list.banner#}{#$list.banner[0]['pic']#}{#else#}{#$list.logo#}{#/if#}" alt="">
						</div>
						<div class="pro_info">
							<h3>{#$list.title#}</h3>
							<div class="careList fn-clear">
								<ul class="left_head">
									{#foreach from=$list.collectUser key=index item=user#}
									{#if $index < 3 && $user.photo#}
									<li><img src="{#$user.photo#}" alt="{#$user.name#}"></li>
									{#/if#}
									{#/foreach#}
								</ul>
								<div class="right_txt">{#$langData['business'][7][13]|replace:"1":$list.collectCount#}</div>  {#*  1人关注  *#}
							</div>
						</div>
					</a>
				</dd>
				{#/business#}
			</dl>

			<!-- 为你推荐 -->
			<div class="rec_box">
				<h1>{#$langData['business'][7][9]#}</h1>   {#* 为你推荐 *#}
				<p>{#$langData['business'][7][10]#}</p>   {#* 为你甄选最适合的 *#}
				<ul class="rec_ul fn-clear">
					{#business action="blist" return='list' store="2" orderby="2" pageSize="8"#}
					<li class="rec_li">
						<a target="_blank" href="{#$list.url#}">
							<div class="shop-bg">
								<img class="bg-img" src="{#$list['banner'][0]['pic']#}" alt="">
							</div>
							<div class="shop-details">
								<div class="img-title"><img src="{#$list['logo']#}" alt=""></div>
								<div class="name" title="{#$list.title#}">{#$list.title#}{#if $list.isbid==1#}<img src="{#$templets_skin#}images/ding.png" alt="">{#/if#}</div>
								{#if $list.typename#}
								<div class="label">
									{#foreach from=$list.typename item='item' #}
									<span>{#$item#}</span>
									{#/foreach#}
								</div>
								{#/if#}
								<div class="location" title="{#$list.address#}">{#$list.address#}</div>
								{#if $list.telArr#}
									<div class="tel" title="{#substr_replace($list.telArr[0],'****',3,4)#}"><span>{#substr_replace($list.telArr[0],'****',3,4)#}</span><em>{#$langData['business'][7][11]#}</em></div>  {#* 点击查看完整电话 *#}
								{#/if#}
							</div>
						</a>
					</li>
					{#/business#}
				</ul>
				<a href="{#$pageUrl#}" class="more_rec">{#$langData['business'][7][12]#} <i></i></a>  {#* 查看更多推荐 *#}
			</div>
		</div>

	</div>
	<!-- 底部 -->
	{#include file="../../siteConfig/public_foot_v3.html" module='business' theme='gray'#}
	<script charset="UTF-8" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
	<script type="text/javascript" src="{#$templets_skin#}js/index.js?v={#$cfg_staticVersion#}"> </script>
</body>
