<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#if $seo_title != ""#}{#$seo_title#}{#else#}{#$langData['business'][7][18]#}{#/if#}-{#$business_title#}</title>{#*  商家列表  *#}
<meta name="keywords" content="{#$business_keywords#}">
<meta name="description" content="{#$business_description#}">
<link rel="stylesheet" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" href="{#$templets_skin#}css/list.css?v={#$cfg_staticVersion#}">
<script charset="UTF-8" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}',channelDomain = '{#$business_channelDomain#}';
var criticalPoint = 1240, criticalClass = "w1200";
$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
var hideFileUrl = '{#$cfg_cookiePre#}';
var cookiePre = '{#$cfg_cookiePre#}';
var templets_skin = '{#$templets_skin#}',typem = '{#$typem#}';
var pageDetail ="{#$site_map#}"
var cenicon = "{#$templets_skin#}images/mark_ditu.png";
</script>
</head>
<body class="w1200">
{#$channel = 'business'#}
{#$hotline = $cfg_hotline#}
{#include file="../../siteConfig/top1.html"#}
{#include file="header_search.html" pageCurr="list"#}
{#$pageUrl = {#getUrlPath service='business' template='list'#}#}

<div class="list_container" data-id="{#$parentid#}">
	<div class="wrapper">
		<div class="index_page"><a href="{#$business_channelDomain#}">{#$langData['business'][2][0]#}</a> &gt; <a href="{#getUrlPath service='business' template='list'#}" class="currpage">{#$langData['business'][7][18]#}</a></div>{#* 首页  商家列表  *#}

		<!-- 筛选 -->
		<div class="sieve_box">
			<div class="sieve fn-clear">
				<div class="left_box">
					{#$langData['business'][5][20]#}
				</div>{#*  分类  *#}
				<div class="right_box fn-clear">
					<div class="sort_all {#if $typeid == ''#}on{#/if#}"><a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} typeid='' subid=''#}">{#$langData['business'][5][14]#}</a></div>{#*  全部  *#}
					<div class="filter_box">
						<ul class="fn-clear parent_ul">
							{#$lower = ''#}
							{#business action="type" return="type"#}
							{#if $typeid == $type.id #}
							{#$lower = $type.lower#}
							{#/if#}
							<li {#if $typeid == $type.id #} class="on"{#/if#} data-lower="{#$type.lower#}"><a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} typeid={#$type.id#} subid=''#}">{#$type.typename#}</a></li>
							{#/business#}
						</ul>
						{#if $typeid != '' && $lower !=''#}
						<div class="child_box">
							<ul class="child_ul fn-clear">
								{#business action="type" type=$typeid return="type"#}
								<li {#if $subid == $type.id#} class="on"{#/if#}><a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} typeid=$typeid subid={#$type.id#}#}">{#$type.typename#}</a></li>
								{#/business#}
							</ul>
						</div>
						{#/if#}
					</div>
				</div>
			</div>
			<div class="sieve fn-clear">
				<div class="left_box">
					{#$langData['business'][7][19]#}
				</div>{#*  区域  *#}
				<div class="right_box fn-clear">
					<div class="sort_all {#if $addrid == ''#}on{#/if#}"><a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} addrid='' addr1id=''#}">{#$langData['business'][5][14]#}</a></div>{#*  全部  *#}
					<div class="filter_box">
						<ul class="fn-clear parent_ul">
							{#$alower = ''#}
							{#business action="addr" return="addr"#}
							{#if $addrid == $addr.id#} {#$alower = $addr.lower#}{#/if#}
							<li data-lower="{#$addr.lower#}" {#if $addrid == $addr.id#} class="on"{#/if#}><a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} addrid={#$addr.id#} addr1id=''#}"><span>{#$addr.typename#}</span></a><i></i>
							</li>
							{#/business#}
						</ul>
						{#if $addrid != '' && $alower != ''#}
						<div class="child_box">
							<ul class="child_ul fn-clear">
								{#business action="addr" return="addr1" type={#$addrid#}#}
								<li {#if $addr1id == $addr1.id#} class="on"{#/if#}><a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} addrid=$addrid addr1id={#$addr1.id#}#}">{#$addr1.typename#}</a></li>
								{#/business#}
							</ul>
						</div>
						{#/if#}
					</div>
				</div>
			</div>
		</div>

		<!-- 列表 -->
		<div class="listBox fn-clear">
			<div class="list_box">
				<div class="sortbox">
					<ul>
						<li class="{#if $orderby != '1' && $orderby != '2'#}li_active{#/if#}"><a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} orderby=''#}">{#$langData['business'][7][20]#}<i></i></a></li>  {#*  智能排序  *#}
						<li class="{#if $orderby == '1'#}li_active{#/if#}"><a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} orderby='1'#}">{#$langData['business'][7][21]#}<i></i></a></li>  {#*  人气  *#}
						<li class="{#if $orderby == '2'#}li_active{#/if#}"><a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} orderby='2'#}">{#$langData['business'][5][15]#}</a></li>  {#*  好评  *#}
					</ul>
				</div>
				<div class="sp_list">
					<ul>
						{#if $subid#}
						{#$typeid = $subid#}
						{#/if#}
						{#if $addr1id#}
						{#$addrid = $addr1id#}
						{#/if#}
						{#business action="blist" return="list" store="2" addrid={#$addrid#} orderby={#$orderby#} typeid={#$typeid#} title={#$keywords#} page={#$page#} pageSize="10"#}
						<li class="shop_li">
							<div data-href="{#$list.url#}" class="fn-clear shop_div">
								<a href="{#$list.url#}"  target="_blank" class="left_img">
									<img src="{#$list.logo#}" onerror="this.src='/static/images/shop.png'" alt="">
								</a>
								<div class="right_info">
									<a href="{#$list.url#}" target="_blank"  class="top_a">
										<h2>{#$list.title#}</h2>
										<p class="star"><span style="{#if $list.sco1==0 #}width:18px;{#/if#}"><s style="width:{#$list.sco1/5*100#}%"></s></span>{#if $list.sco1==0 #}{#$langData['business'][6][11]#}{#else#}{#$list.sco1#}{#$langData['business'][7][25]#}{#/if#}</p>  {#*  暂无评分  *#}
										<div class="label">
											{#foreach from=$list.typename item="item"#}
											<span>{#$item#}</span>
											{#/foreach#}
										</div>
									</a>

									<p class="addr" data-lng="{#$list.lng#}"  data-lat="{#$list.lat#}">{#$langData['business'][5][0]#}：{#$list.address#} <a href="javascript:;" data-lng="{#$list.lng#}"   data-lat="{#$list.lat#}"><img src="{#$templets_skin#}images/posi_i.png"></a></p>{#* 地址 *#}
								</div>
								{#if $list.telArr#}
									<div class="tel" data-tel="{#$list.telArr[0]#}" title="{#substr_replace($list.telArr[0],'****',3,4)#}"><span><i><img src="{#$templets_skin#}images/tel_i.png"></i><strong>{#substr_replace($list.telArr[0],'****',3,4)#}</strong></span><em>{#$langData['business'][7][11]#}</em></div>  {#* 点击查看完整电话 *#}
								{#/if#}
							</div>
						</li>
						{#/business#}
					</ul>
					{#if $pageInfo.totalCount == 0#}
						<div class="empty">{#$langData['business'][7][22]#}</div> {#* 抱歉！ 未找到相关商家 *#}
					{#/if#}
					<div class="page">
						{#getPageList service='business' template='list' pageType='dynamic' param="{#$pageParam#}&page=#page#"#}
					</div>
				</div>
			</div>
			<div class="rlist_box">
				<!-- 热门推荐 -->
				<dl class="hot_rec">
					<dt>{#$langData['business'][7][23]#}</dt>{#* 热门推荐 *#}
					{#$n=1#}
					{#business action="blist" return="list"  pageSize="5" orderby="1"#}
					<dd >
						<a href="{#$list.url#}"  target="_blank" class="fn-clear " data-id="{#$list.b_index#}">
							<div class="l_box">
								<span class="l_num {#if $n<=3#}red{#/if#}">{#$n#}</span>
								<span class="s_logo"><img src="{#$list.logo#}" onerror="this.src='/static/images/shop.png'"></span>
							</div>
							<div class="r_box">
								<h4>{#$list.title#}</h4>
								{#if $list.addrname#}
								<p> {#$list.addrname[count($list.addrname)-2]#} {#$list.addrname[count($list.addrname)-1]#}</p>
								{#/if#}
							</div>
						</a>
					</dd>
					{#$n=$n+1#}
					{#/business#}
				</dl>
				<div class="adv_box">
					{#myad title="商家_模板四_电脑端_广告六" #}
				</div>

				<!-- 猜你喜欢 -->
				<dl class="rec_dl">
					<dt>{#$langData['business'][6][2]#}</dt>{#* 最新入驻 *#}

					{#business action="blist" return="list"  pageSize="5"#}
					<dd >
						<a href="{#$list.url#}"  target="_blank" class="fn-clear" data-id="{#$list.b_index#}">
							<div class="l_box">
								<span class="s_logo"><img src="{#$list.logo#}" onerror="this.src='/static/images/shop.png'"></span>
							</div>
							<div class="r_box">
								<h4>{#$list.title#}</h4>
								<p class="star"><span><s style="width:{#$list.sco1/5*100#}%"></s></span>{#$list.sco1#}</p>
							</div>
						</a>
					</dd>
					{#$n=$n+1#}
					{#/business#}
				</dl>
			</div>
		</div>
	</div>
</div>
<div class="mask"></div>
<!-- 地图弹窗 -->
<div class="map-popup fn-hide">
	<div class="close"><img src="{#$templets_skin#}images/popup-close.png" alt=""></div>
	<p class="name">{#$detail_title#}</p>
	<p class="location">{#$detail_address#}</p>
	<div id="allmap"></div>
</div>
<!-- 底部 -->
{#include file="../../siteConfig/public_foot_v3.html" module='business' theme='gray'#}
<script type="text/javascript" src="{#$site_map_apiFile#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/map-list-{#$site_map#}.js?v={#$cfg_staticVersion#}"></script>
<script charset="UTF-8" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script charset="UTF-8" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js?v={#$cfg_staticVersion#}"></script>
<script charset="UTF-8" src="{#$templets_skin#}js/list.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
