<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
		<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
		<title>{#$langData['business'][2][54]#}-{#$business_title#}</title>  {#* 商家帖子 *#}
		<meta name="keywords" content="{#$detail_title#}">
		<meta name="description" content="{#$detail_title#}">
		<link rel="stylesheet" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" href="{#$templets_skin#}css/dactivity.css">
		<script charset="UTF-8" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
		<script type="text/javascript">
		var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}',channelDomain = '{#$business_channelDomain#}';
		var criticalPoint = 1240, criticalClass = "w1200";
		$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
		var hideFileUrl = {#$cfg_hideUrl#};
		var cookiePre = '{#$cfg_cookiePre#}';
		var templets_skin = '{#$templets_skin#}',id = '{#$detail_id#}';
		var longitude = '{#$detail_lng#}', latitude = '{#$detail_lat#}', resblockName = '{#$detail_title#}';

		var pageData = {
			id: '{#$detail_id#}',
			panName: '{#$detail_title#}',
			address: '{#$detail_address#}',
			lat: '{#$detail_lat#}',
			lng: '{#$detail_lng#}',
			url: '{#getUrlPath service='business' template='detail' id={#$detail_id#}#}',
			mapType: '{#$site_map#}',
			mapKey: '{#$site_map_key#}'
		};
		var typeid = '{#$typeid#}';
		var pubModelType ="business";
		var cenicon = "{#$templets_skin#}images/mark_ditu.png";
		var site_map = "{#$site_map#}";
		var vrUrl    = '{#getUrlPath service='business' template='panor' bid={#$detail_id#}#}',  videoUrl = '{#getUrlPath service='business' template='video' bid={#$detail_id#}#}',  albumsUrl = '{#getUrlPath service='business' template='albums' bid={#$detail_id#}#}';
		</script>
	</head>

	<body class="w1200">
		{#include file="Topbusiness.html" pageCurr='tieba'#}

		<div class="content_box">

			<!-- 商家帖子 -->
			<div class="module_box nopadding">
				<div class="box1">
					<h2>{#$langData['business'][5][8]#} </h2>  {#*  商家帖子  *#}
					<div class="tieba_list">
						<ul class="tieba_ul">
							{#tieba action="tlist" uid=$detail_uid return="tlist" page=$page pageSize="6"#}
							<li class="tieba_li fn-clear {#if count($tlist.imgGroup)==1#}single_box{#else#}more_box{#/if#}">
								<div class="left_pubdate">{#$tlist.pubdate1#}</div>
								<div class="right_tblist ">
									<s class="c_icon"></s>
									<a href="{#$tlist.url#}" class="fn-clear" target="_blank">
										{#if count($tlist.imgGroup)==1#}<div class="l_img imgbox"><img src="{#$tlist.imgGroup[0]#}" alt=""></div>{#/if#}
										<div class="r_con">
											<h3>{#$tlist.title#}</h3>
											<p>{#$tlist.content#}</p>
											{#if count($tlist.imgGroup)>1#}
											<div class="img_list fn-clear">
												{#foreach from=$tlist.imgGroup item="item" key="pid"#}
												{#if $pid > 3#}{#break#}{#/if#}
												<div class="imgbox"><img src="{#$item#}"></div>
												{#/foreach#}
											</div>
											{#/if#}
											<div class="tl_info"><span class="t_type">{#if $tlist.typename[0] !=''#}【{#$tlist.typename[0]#}】{#/if#}</span><span class="t_read"><i></i>19</span></div>
										</div>
									</a>
								</div>
							</li>
							{#/tieba#}
						</ul>
						<div class="page_show">
							{#getPageList service='business' template='tieba' bid={#$detail_id#} pageType='dynamic' param="page=#page#"#}
						</div>
					</div>
				</div>
			</div>




		</div>



		{#include file="../../siteConfig/public_foot_v3.html" module='business' theme='gray'#}
		<script charset="UTF-8" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>

	</body>
</html>
