<!-- 顶部s -->
		{#include file="{#$HUONIAOROOT#}/templates/siteConfig/top1.html"#}
		<!-- 顶部e -->
		<!-- =====================公共部分===================== -->
		<!-- 顶部背景图s -->
		<div class="bg"><img src="{#$templets_skin#}images/banner.png"></div>
		<!-- 顶部背景图e -->

		<!-- 店铺信息s -->
		<div class="info_box">
			<div class="bg_white">
				<div class="shop_detail">
					<div class="left_logo">
						<img  src="{#$detail_logo#}" alt="">
						<!-- <span class="pic_num"><i><img src="{#$templets_skin#}images/pic.png"></i>10</span> -->
					</div>
					<div class="right_info">
						<h1 class="shop_name">{#$detail_title#}
						{#if $detail_member['promotion']>0#}<i><img title="{#$langData['business'][2][2]#}：{#echoCurrency type='symbol'#}{#$detail_member['promotion']#}{#echoCurrency type='short'#}"  src="{#$templets_skin#}images/bzj.png"></i>{#/if#}  {#* 保障金 *#}
						{#if $detail_member['licenseState']#}<i><img src="{#$templets_skin#}images/qy.png"></i>{#/if#}
						<span class="sort1">{#$detail_typenameArr[0]#}</span>{#if $detail_typenameArr[1]#}<span class="sort2">{#$detail_typenameArr[1]#}</span>{#/if#}
						</h1>
						<div class="shop_label">
							{#foreach from=$detail_auth item=auth#}
							<span class="shop_l">{#$auth.typename#}</span>
							{#/foreach#}
						</div>
					</div>
				</div>
				<div class="way">
					<span class="phone tel"><a href="javascript:;"><img src="{#$templets_skin#}images/details-two6.png" alt="">{#$langData['business'][2][7]#}</a></span> {#*   发送到手机   *#}
					<span class="phone phone-code">
						<a href="javascript:;"><img src="{#$templets_skin#}images/details-two7.png" alt="">{#$langData['business'][2][8]#}</a>{#*    手机扫码  *#}
						<div class="code-con fn-hide"{#if !in_array('xiaochengxu', $detail_member.package.moduleList)#} style="width: auto;"{#/if#}>
							<div class="three"></div>
							<ul class="fn-clear">
								<li class="fn-left"><img src="{#$cfg_basehost#}/include/qrcode.php?data={#getUrlPath service='business' template='detail' id={#$detail_id#}#}" alt=""><p>{#$langData['business'][2][9]#}</p></li>  {#*   WAP访问   *#}
								{#if in_array('xiaochengxu', $detail_member.package.moduleList)#}
								<li class="fn-right"><img src="{#$cfg_attachment#}{#$detail_businessQr#}" alt=""><p>{#$langData['business'][2][10]#}</p></li>{#*  商家小程序    *#}
								{#/if#}
							</ul>
						</div>
					</span>
					<span class="phone">
						<a href="javascript:;" class="btnShare share newBtn_share"  data-title="{#$detail_title#}" data-pic="{#$detail_logo#}"><img src="{#$templets_skin#}images/details-two8.png" alt="">{#$langData['business'][2][11]#} </a>  {#*  分享  *#}
					</span>

				</div>

				<!-- 关注和咨询 -->
				<div class="btn_group">
					<button type="button" class="shoucang"> {#if $detail_collect#}{#$langData['business'][2][13]#}{#else#}<img src="{#$templets_skin#}/images/care.png">{#/if#}{#$langData['business'][2][12]#}</button>  {#* 已--- 收藏   *#}
					<button onabort="button" class="chat_to-Link"><img src="{#$templets_skin#}/images/IM.png">{#$langData['business'][2][14]#}</button>{#*  在线咨询  *#}
				</div>
			</div>
			<div class="devide nav_div">
				<ul class="nav_box fn-clear">
					<li><a href="{#getUrlPath service='business' template='detail' id={#$detail_id#}#}">{#$langData['business'][2][0]#}</a></li> {#*首页*#}
					{#if $detail_member && $detail_member.package && $detail_member.package.modules && $detail_member.package.modules.store#}
					<li class="all_shop">
						<a href="javascript:;">{#$langData['business'][2][1]#} <i></i></a> {#*所有店铺*#}
						<div class="second_nav">
							<i></i>
							<ul class="s_ul">
								{#foreach from=$detail_member.package.modules.store item=store#}
								{#if $store.name == 'website'#}
								{#$businessSite = $store.homepage#}
								{#/if#}

								{#if $store.homepage != '' && $store.name != 'live' && $store.name != 'marry' && $store.name != 'vote' && $store.name != 'tieba' && $store.name != 'huodong' && $store.name != 'marry' && $store.show == 1#}
								<li class="s_li"><a href="{#$store.homepage#}" target="_blank">{#$store.title#}</a></li>
								{#/if#}
								{#/foreach#}
							</ul>
						</div>
					</li>
					{#/if#}

					{#if $detail_member && $detail_member.package && $detail_member.package.moduleList#}
					{#if in_array('huodong', $detail_member.package.moduleList) && $detail_member.userModulearr && in_array('huodong', $detail_member.userModulearr)#}<li{#if $pageCurr == 'huodong'#} class="active"{#/if#}><a href="{#getUrlPath service='business' template='huodong' id={#$detail_id#}#}">{#$langData['business'][2][51]#}</a></li>{#/if#}  {#* 商家活动 *#}
					{#if in_array('live', $detail_member.package.moduleList) && $detail_member.userModulearr && in_array('live', $detail_member.userModulearr)#}<li{#if $pageCurr == 'live'#} class="active"{#/if#}><a href="{#getUrlPath service='business' template='live' id={#$detail_id#}#}">{#$langData['business'][2][52]#}</a></li>{#/if#}  {#* 直播互动 *#}
					{#if in_array('vote', $detail_member.package.moduleList) && $detail_member.userModulearr && in_array('vote', $detail_member.userModulearr)#}<li{#if $pageCurr == 'vote'#} class="active"{#/if#}><a href="{#getUrlPath service='business' template='vote' id={#$detail_id#}#}">{#$langData['business'][2][53]#}</a></li>{#/if#}  {#* 商家投票 *#}
					{#if in_array('tieba', $detail_member.package.moduleList) && $detail_member.userModulearr && in_array('tieba', $detail_member.userModulearr)#}<li{#if $pageCurr == 'tieba'#} class="active"{#/if#}><a href="{#getUrlPath service='business' template='tieba' id={#$detail_id#}#}">{#$langData['business'][2][54]#}</a></li>{#/if#}  {#* 商家帖子 *#}
					{#/if#}
					<li{#if $pageCurr == 'news'#} class="active"{#/if#}><a href="{#getUrlPath service='business' template='news' id={#$detail_id#}#}">{#$langData['business'][2][55]#}</a></li>  {#* 商家公告 *#}
					<li{#if $pageCurr == 'intro'#} class="active"{#/if#}><a href="{#getUrlPath service='business' template='intro' id={#$detail_id#}#}">{#$langData['business'][2][56]#}</a></li>  {#* 商家介绍 *#}
					<li{#if $pageCurr == 'commtlist'#} class="active"{#/if#}><a href="{#getUrlPath service='business' template='commtlist' id={#$detail_id#}#}">{#$langData['business'][2][57]#}</a></li>  {#* 评价 *#}
				</ul>
			</div>
		</div>
		<!-- 店铺信息e -->

		<!-- 弹出层 -->
		<div class="mask"></div>
		<!-- 发送到手机 -->
		<div class="pop_box send_pop">
			<h1>{#$langData['business'][2][7]#}</h1>{#*  发送到手机    *#}
			<div class="pop_con">
				<h2> {#$detail_title#} </h2>
				<div class="pop_txt">
					{#$langData['business'][5][0]#}：{#$detail_address#}</br>
					{#$langData['business'][2][3]#}：{#$detail_opentime#}</br>
					{#if $detail_tel#}{#$langData['business'][2][4]#}：{#if $detail_areaCode !='' && $detail_areaCode!= '86'#}+{#$detail_areaCode#} {#/if#}{#$detail_tel#}&nbsp;&nbsp;&nbsp;{#$detail_phone#}{#/if#}
				</div>{#* 地址  营业时间  联系电话   *#}
			</div>
			<div class="phone_in">
				<a href="javascript:void(0);" class="aCode"><span>+86</span><img src="{#$templets_skin#}images/arr_2.png" alt=""></a>
				<input type="tel" name="Totel" id="Totel" placeholder="{#$langData['business'][1][47]#}" />   {#* 请输入手机号 *#}
				<input type="hidden" name="areacode" id="areacode" />
				<div class="areaList " id="areaList1">
					<ul>
						{#siteConfig action="internationalPhoneSection" return="plist" #}
						<li data-acode="{#$plist.code#}"><span>{#$plist.name#}</span><em class="fn-right">+{#$plist.code#}</em></li>
						{#/siteConfig#}
					</ul>
				</div>
			</div>
			<i class="pop_close"><img src="{#$templets_skin#}images/pop_close.png"></i>
			<button class="sendTo pop_btn">{#$langData['business'][2][7]#}</button>   {#* 发送到手机 *#}
		</div>
	<script>
		var imconfig  ={
			chatid:{#$detail_id#}
		}

		$(function(){
  
            if($('.all_shop li').length <= 0){
              $('.all_shop').hide();
            }
        
			// 关闭遮罩层
			$(".mask,.pop_close,.knowed").click(function(){
				$('.mask').hide();
				$('.pop_box,.areaList,.commtPop').removeClass('show');
				$('html').removeClass('noscroll');
			});

			// 点击切换
			$('.pro_type li').click(function(){
				var t = $(this);
				console.log(t.index());
				var par = t.parents('.module_box');
				clist = par.find('.mod_list');
				t.addClass('onclick').siblings('li').removeClass('onclick');
				clist.find('.tab_box').removeClass('show');
				clist.find('.tab_box').eq(t.index()).addClass('show');

			});


			// 发送到手机
			$('.phone.tel').click(function(){
				$('.mask').show();
				$('.pop_box.send_pop').addClass('show');
				$('html').addClass('noscroll');
			});
			// 区号显示
			$('.aCode').click(function(e){
				var t = $(this);
				var p = t.parents('.phone_in');
				p.find('.areaList').toggleClass('show');
				$(document).one('click',function(){
					p.find('.areaList').removeClass('show');
				});
				 e.stopPropagation();  //停止事件传播
			});

			$(".sendTo.pop_btn").click(function(){
				var tel = $("#Totel").val();
				var acode = $("#areaList1").val();
				if(tel==''){
					alert(langData['business'][5][6]);  //请输入手机号
					return false;
				}
				$.ajax({
					url: "/include/ajax.php?service=business&action=sendBusiness&id="+id+"&phone="+tel,
					type: "GET",
					dataType: "jsonp",
					success: function (data) {
						if(data && data.state == 100){
							alert(langData['business'][5][7]);   //发送成功
							$('.mask').click();
						}else{
							alert(data.info);
						}
					}
				});
			})
			// 区号选择
			$('.areaList li').click(function(){
				var t = $(this);
				var areacode = t.attr('data-acode');
				var p1 = t.closest('.phone_in');
				var p2 = t.parents('.areaList');
				p1.find('input[name="areacode"]').val(areacode);
				p1.find('.aCode').text('+'+areacode);
				p2.removeClass('show');
			});

			// 收藏店铺
			$('.shoucang').click(function(){
				var t = $(this), type = t.hasClass("click") ? "del" : "add";
				var userid = $.cookie(cookiePre+"login_user");
				if(userid == null || userid == ""){
				  location.href = masterDomain + '/login.html';
				  return false;
				}
				if(type == 'add'){
					t.addClass('click').html(langData['business'][5][25]); //已收藏
				}else{
					t.removeClass('click').html('<img src="'+templets_skin+'images/care.png" alt="">'+langData['business'][2][12]);   //收藏
				}
				$.post("/include/ajax.php?service=member&action=collect&module=business&temp=detail&type="+type+'&id='+id);
			});
		});
	</script>

