<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#if $detail_homemakingtype==0#}{#$langData['homemaking'][0][20]#}{#else#}{#$langData['homemaking'][0][11]#}{#/if#}</title>      {#* 预约 *#}
<meta name="keywords" content="{#$homemaking_keywords#}" />
<meta name="description" content="{#$homemaking_description#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/buy.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
    var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$homemaking_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}', templatePath = '{#$templets_skin#}';
    var criticalPoint = 1240, criticalClass = "w1200";
    $("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
    var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
    var thumbSize = {#$thumbSize#}, thumbType = '{#$thumbType#}', atlasSize = {#$atlasSize*1024*1024#}, atlasType = '{#$atlasType#}', atlasMax = 9;
    var modelType ='homemaking';
    var map_city = '{#$cfg_mapCity#}', site_map = "{#$site_map#}";
</script>
</head>

<body class="w1200">
{#$pageCurr = "list"#}
{#include file="../../siteConfig/top1.html"#}
<!-- 导航 s-->
{#include file="header_search.html"#}

<!-- 导航 e-->
<div class="main_wrap">
    <!--头部-->
    <div class="head_wrap wrap">
        <ul class="fn-clear">
          <li class="active oneli"><span>1</span><p>{#$langData['homemaking'][12][30]#}</p></li>  {#* 填写预约信息 *#}
          <li class="be_li secondli"><span>2</span><p>{#$langData['homemaking'][12][31]#}</p></li>  {#* 支付预约金 *#}
          <li class="be_li thirdli"><span>3</span><p>{#$langData['siteConfig'][22][45]#}</p></li>  {#* 预约成功 *#}
        </ul>
    </div>
    <!--头部-->
    <div class="content_wrap wrap">
        <input type="hidden" name="pros" id="pros" value="{#$detail_id#}">
        <input type="hidden" name="doortime" id="doortime" value="">
        <!-- 选择地址 s-->
        <div class="addr_con">
            {#* 选择地址 *#}  {#* 为保证订单准确送达，请确认收货地址是否正确 *#}
            <h2 class="common-title">{#$langData['siteConfig'][39][8]#}<em>{#$langData['homemaking'][12][34]#}</em></h2>
            <div class="part1Con fn-clear">
                <input type="hidden" name="addressid" id="addressid" value="0" />
                {#member action="address"#}               
                <dl{#if $_bindex.row == 1#} class="on"{#/if#} data-id="{#$row.id#}" data-name="{#$row.person#}" data-mobile="{#$row.mobile#}" data-tel="{#$row.tel#}" data-addr="{#$row.addrname#}" data-address="{#$row.address#}" data-lng="{#$row.lng#}" data-lat="{#$row.lat#}" data-code="{#$row.areaCode#}">
                    <dt>
                        <i></i>
                        <div class="name">
                            <p>{#$row.person#}</p>  <p class="addr_tel">{#if $row.mobile != "" && $row.tel != ""#}{#if $row.areaCode != '' && $row.areaCode != '86'#}+{#$row.areaCode#} {#/if#}{#$row.mobile#}{#elseif $row.mobile == "" && $row.tel != ""#}{#$row.tel#}{#else#}{#if $row.areaCode != '' && $row.areaCode != '86'#}+{#$row.areaCode#} {#/if#}{#$row.mobile#}{#/if#}</p></div>
                        <p class="address"><span>{#$row.addrname|replace:" ":"</span><span>"#}</span></p>
                        <p class="detail">{#$row.address#}</p>
                    </dt>
                    <dd><a class="revise" href="javascript:;">{#$langData['siteConfig'][6][6]#}</a></dd> {#*  编辑 *#}
                </dl>
                {#/member#}
                <div class="left add"><a href="javascript:;"><span></span><p>{#$langData['siteConfig'][6][132]#}</p></a></div> {#* 新增地址 *#}
            </div>
        </div>
        <!-- 选择地址 e-->
        <!-- 服务时间 s-->
        <div class="time_con">
            <h2 class="common-title">{#$langData['homemaking'][12][35]#}</h2>  {#* 选择服务时间 *#}
            <div class="time_div">
                <div class="chose-month chose"><span class="time-txt">{#$langData['siteConfig'][20][331]#}</span> {#* 请选择日期 *#}
                    <div class="pickmonth ">
                        
                    </div>
                </div>
                <div class="chose-time chose"><span class="time-txt">{#$langData['siteConfig'][21][183]#}</span> {#* 请选择时间 *#}
                    <div class='picktime'>
                        <p data-id="07:00-09:00">07:00-09:00</p>
                        <p data-id="09:00-11:00">09:00-11:00</p>
                        <p data-id="11:00-13:00">11:00-13:00</p>
                        <p data-id="13:00-15:00">13:00-15:00</p>
                        <p data-id="15:00-17:00">15:00-17:00</p>
                        <p data-id="17:00-19:00">17:00-19:00</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 服务时间 e-->
        <!-- 上传图片 s-->
        <div class="img_con">
            <h2 class="common-title">{#$langData['siteConfig'][6][50]#}</h2>  {#* 上传图片 *#}
            <div class="store-imgs img_box">
                <ul class="uploader-list fn-clear" id="fileList">
                    <li class="upload_btn" id="uploadbtn">
                        <div id="filePicker" class="webuploader-container">
                            <img src="{#$templets_skin#}images/add_img.png" />
                            <p class="img-p2">{#$langData['car'][8][56]#}</p>  {#*点击上传图片 *#}
                        </div>
                    </li>
                    <div class="kong"></div>
                </ul>
                <input type="hidden" name="pics" id="pics" value="{#$detail_pics#}" class="imglist-hidden">
                
            </div>
        </div>
        <!-- 上传图片 e-->
        <!-- 添加备注 s-->
        <div class="note_con">
            <h2 class="common-title">{#$langData['homemaking'][1][20]#}</h2>             {#* 添加备注 *#}
            <div class="textra_div">
                <textarea name="usernote" id="usernote" placeholder="{#$langData['homemaking'][12][36]#}" ></textarea>   {#* 如您有其他特殊要求，请在这里填写（100字以内） *#}
            </div>
        </div>
        <!-- 添加备注 e-->
        <!-- 服务信息 s-->
        <div class="ser_con">
            <h2 class="common-title">{#$langData['homemaking'][12][37]#}</h2> {#* 服务信息 *#}
            <div class="ser_content">
                <ul class="fn-clear">
                    <li class="t1">{#$langData['siteConfig'][16][76]#}</li> {#* 商品信息 *#}
                    <li class="t2">{#$langData['siteConfig'][19][323]#}</li> {#* 单价 *#}
                    <li class="t3">{#$langData['siteConfig'][19][324]#}</li> {#* 数量 *#}
                    <li class="t4">{#$langData['siteConfig'][19][549]#}</li> {#* 小计 *#}
                </ul>
                <h3 class="shop-title"><a href="{#if $detail_companyurl#}{#$detail_companyurl#}#}{#else#}javaScript:;{#/if#}">{#$detail_store['title']#}</a></h3>
                <div class="shop-info">
                    <div class="shop-info-img">
                        <a href="{#getUrlPath service='homemaking' template='detail' id={#$detail_id#}#}">
                            <img src="{#$detail_pics[0]['path']#}" alt="{#$detail_title#}">
                        </a>
                    </div>
                    <div class="shop-info-txt fn-clear">
                        <h3><a href="{#getUrlPath service='homemaking' template='detail' id={#$detail_id#}#}">{#$detail_title#}</a></h3>                                         
                        <div class="shop-info-price" id="shop-info-price">
                            <span class="price">{#echoCurrency type='symbol'#}<i class="dan_price">{#$totalAmount#}</i></span>
                            <!-- 规格、数量 s-->

                            <div class="sizeBtn">
                                <a href="javascript:;" class="numbtn reduce"></a>
                                <input name="count" type="text" class="count" value="1" onkeyup="value=value.replace(/\D+/ig,'')">
                                <a href="javascript:;" class="numbtn numadd"></a>
                            </div>

                            <!-- 规格、数量 e-->
                            <div class="totalPrice">{#echoCurrency type='symbol'#}<em id="ord_price">{#$totalAmount#}</em></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 服务信息 e-->
    </div>
    <div class="wrap money_wrap fn-clear">       
        <div class="account-btn fn-right">
            <a href="javascript:;" class="deal"  id="tj">{#$langData['homemaking'][2][7]#}</a>   {#* 去支付 *#}
        </div>
        <div class="total-num fn-right">
            {#$langData['homemaking'][12][38]#}<span class="yufu">{#echoCurrency type='symbol'#}<strong>{#$totalAmount#}</strong></span> {#* 预付款 *#}
        </div>
    </div>
    
 
</div>
<!--弹出层-->
<div id="bg"></div>
<div class="popup">
    <div class="popCon">
        {#* 新增收货地址 *#}
        <div class="tip"><span class="left">{#$langData['siteConfig'][6][96]#}</span><i class="right"></i></div>
        <ul>
            <li class="name">
                <dl class="fn-clear">
                    <dt><font>*</font>{#$langData['siteConfig'][19][33]#}：</dt>
                    <dd><input id="person" type="text" value="" /><span class="input-tips"><s></s>{#$langData['shop'][5][31]#}</span></dd>
                </dl>
            </li>
            <li class="phone">
                <dl class="fn-clear">
                    <dt>{#$langData['siteConfig'][3][6]#}：</dt>
                    <dd>
                        
                        <div class="inpbdr">
                            <span class="areaCode"><i>+{#$internationalPhoneSection[0]['code']#}</i><s></s></span>
                            <input id="mobile" type="text" value="" />
                        </div>  
                        <!--国际区号弹窗-->
                        <div class="areaCode_wrap areaCode_wrap2">
                            <ul>
                                
                            </ul>
                        </div>
                        <input type="hidden" name="areaCode" id="areaCode" value="{#$internationalPhoneSection[0]['code']#}">
                        <span class="input-tips" style="display: inline-block;"><s></s>{#$langData['siteConfig'][20][581]#}</span>
                    </dd>
                </dl>
            </li>
            <li class="address">
                <dl class="fn-clear">
                    <dt><font>*</font>{#$langData['siteConfig'][19][34]#}：</dt>
                    <dd>
                        <span id="addrlist">
                            <select id="addrid" name="addrid[]">
                                <option value="0">{#$langData['siteConfig'][23][118]#}</option>{#siteConfig action="area" return="addr" son="0"#}
                                <option value="{#$addr.id#}">{#$addr.typename#}</option>
                                {#/siteConfig#}
                            </select>
                        </span>
                        <span class="input-tips"><s></s>{#$langData['siteConfig'][23][118]#}</span>
                    </dd>
                </dl>
            </li>
            
            <li class="detail">
                <dl>
                    <dt><font>*</font>{#$langData['siteConfig'][19][35]#}：</dt>
                    <dd><input id="address" type="text" value="" /><img src="{#$cfg_staticPath#}images/admin/markditu.jpg" id="mark" title="{#$langData['siteConfig'][6][92]#}"><span class="input-tips"><s></s>{#$langData['shop'][5][30]#}</span></dd>
                    <input type="hidden" id="lnglat" name="lnglat" />
                </dl>
            </li>                       
            <li>
                <dl>
                    <dt></dt>
                    <dd class="confirm"><a href="javascript:;" id="submit">{#$langData['shop'][5][32]#}</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

{#include file="bottom.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.dialog-4.2.0.js"></script>
<script src="{#$cfg_staticPath#}js/webuploader/webuploader.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script type="text/javascript" src="{#$templets_skin#}../../member/touch/js/upload-img.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/order.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/buy.js?v={#$cfg_staticVersion#}"></script>

</body>
</html>
