<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$detail_title#}</title>
<meta name="keywords" content="{#$homemaking_keywords#}" />
<meta name="description" content="{#$homemaking_description#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/detail.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/designpicd.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/viewer.min.css?v=2" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
    var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$homemaking_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}', templatePath = '{#$templets_skin#}';
    var criticalPoint = 1240, criticalClass = "w1200";
    $("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
    var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
    var id='{#$detail_id#}';
    var pageData = {
        title: '{#$detail_store.title#}',
        address: '{#$detail_store.address#}',
        lat: '{#$detail_store.lat#}',
        lng: '{#$detail_store.lng#}',
        mapType: '{#$site_map#}',
        cityName: '{#$siteCityInfo['name']#}',
        mapKey: '{#$site_map_key#}'
    };
    var imconfig = {
        'mod':'homemaking',
        'chatid':"{#$detail_store['userid']#}",
        'title': '{#$detail_title#}',
        "price": '<em>{#echoCurrency type='symbol'#}</em>{#$detail_price#}',
        "imgUrl": '{#changeFileSize url={#$detail_litpic#} type='small'#}',
        "link": '{#getUrlPath service="homemaking" template="detail" id=$detail_id#}',

    };
</script>
</head>

<body class="w1200">
{#$pageCurr = "list"#}
{#include file="../../siteConfig/top1.html"#}
<!-- 导航 s-->
{#include file="header_search.html"#}

<!-- 导航 e-->
<div class="main_wrap">
    <div class="wrap crumbs fn-clear">
        <div class="cont">
            <span>{#$langData['homemaking'][12][39]#}</span>  {#* 您的位置： *#}
            <a href="{#$homemaking_channelDomain#}">{#$homemaking_channelName#}</a>
             <em>></em>
            <a href="{#getUrlPath service='homemaking' template='list'#}">{#$langData['homemaking'][1][27]#}</a> {#* 家政服务 *#}
            <em>></em>
            <em>{#$detail_title#}</em>
        </div>
    </div>
    <!--详情头部 s-->
    <div class="wrap detail_wrap1 fn-clear">
        <div class="detail_left">
            <div class="slide">
                <div id="slide_big">
                </div>
                <a href="javascript:;" class="prev" id="slidebtn_prev"><s></s></a>
                <a href="javascript:;" class="next" id="slidebtn_next"><s></s></a>

                <div id="slide_small">
                    <div class="spbox">
                        <div class="picsmall fn-clear">
                            {#foreach from=$detail_pics item=val#}
                            <a href="javascript:;" data-bigpic="{#$val.path#}" data-title="">
                                <img src="{#changeFileSize url="{#$val.path#}" type="small"#}" alt="">
                            </a>
                            {#/foreach#}
                        </div>
                    </div>
                    <a href="javascript:;" class="prev disabled" id="slidebtn2_prev"><s></s></a>
                    <a href="javascript:;" class="next" id="slidebtn2_next"><s></s></a>
                </div>
            </div>
        </div>
        <div class="detail_right content">
            <div class="detail_top">
                <div class="topDiv">
                    <p class="list_title">{#$detail_title#}</p>
                    <div class="btn_group ">
                        {#* 已收藏 *#}  {#* 收藏 *#}
                        <a href="javascript:;" class="store-btn{#if $detail_collect#} curr{#/if#}"><button><em></em><span>{#if $detail_collect#}{#$langData['homemaking'][8][84]#}{#else#}{#$langData['homemaking'][0][10]#}{#/if#}</button></a>
                    </div>
                    <p class="price">
                        <span>{#echoCurrency type='symbol'#}<strong>{#$detail_price#}</strong></span>
                        <em>{#$langData['homemaking'][2][2]#}{#$detail_sale#}</em>      {#* 已售 *#}
                    </p>
                    <p class="sale_after shouhou">
                        {#foreach from=$detail_store['flagArr'] key="k" item=tag#}
                        <span><img src="{#$tag['litpic']#}" onerror="this.src='{#$templets_skin#}images/{#$tag['py']#}.png'" alt=""><em>{#$tag['val']#}</em></span>
                        {#/foreach#}
                    </p>
                </div>

            </div>
            <div class="detail_bot">
                <div class="flag">
                    {#foreach from=$detail_flagAll.jc key="k" item=val#}
                    <span class="flag_span">{#$val#}</span>
                    {#/foreach#}
                    {#* 预约金 *#} {#* 实价 *#}  {#* 免费预约 *#}
                    {#if $detail_homemakingtype==0#}
                        <span class="hot_order">{#$langData['homemaking'][8][59]#}</span>
                    {#elseif $detail_homemakingtype==1#}
                        <span class="hot_order">{#$langData['homemaking'][8][60]#}</span>
                    {#elseif $detail_homemakingtype==2#}
                        <span class="hot_order">{#$langData['homemaking'][8][61]#}</span>
                    {#/if#}
                </div>
                <div class="storeInfo">
                    <div class="store_img"><img src="{#if $detail_store['pics'][0]['path']#}{#$detail_store['pics'][0]['path']#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt=""></div>
                    <div class="store_r">
                        <div class="title_top">
                            <h2 class="store_title">{#$detail_store['title']#}</h2>
                            <span class="contact chat_to-Link" data-type="detail"><img src="{#$templets_skin#}images/contact2.png" alt=""></span>
                        </div>

                        <p class="com_type">
                            {#foreach from=$detail_store['tag_Arr'] key="k" item=val#}
                            <span>{#$val#}</span>
                            {#/foreach#}
                        </p>
                        <div class="pos_box"><a href="javascript:;"class="appMapBtn" target="_blank"><i></i>{#$detail_store['address']#}</a></div>
                    </div>
                    <p class="peo_store"><a href="{#$detail_companyurl#}">{#$langData['homemaking'][0][25]#}</a></p>        {#* 进店看看 *#}
                </div>
            </div>

            <ul class="info_ul">
               <li class="buy"><a href="{#getUrlPath service="homemaking" template="buy" id={#$detail_id#} count="1"#}">{#$langData['homemaking'][0][23]#}</a></li>{#* 立即预约 *#}

                <li class="call">
                    <a href="javascript:;" data-tel="{#$detail_store['tel']#}">{#$langData['homemaking'][12][40]#}</a>      {#* 查看商家电话 *#}
                </li>
            </ul>

        </div>
    </div>
    <!--详情头部 e-->
    <div class="wrap detail_wrap2 fn-clear">
        <div class="detail_ser fn-left">
            <h2 class="sev_name"><span>{#$langData['homemaking'][1][22]#}</span></h2>      {#* 服务详情 *#}
            <div class="ser_info">
                {#$detail_note#}
            </div>

        </div>
        <div class="news_r">
            <div class="newr_content">
                <h2 class="newr_tit">{#$langData['siteConfig'][16][2]#}</h2>     {#* 猜你喜欢 *#}
                <ul>
                    {#homemaking action="hList" return='list' orderby='6' pageSize='7'#}
                        <li><a href="{#$list.url#}" target="_blank">
                            <div class="r_left">
                                {#$i=1#}
                                {#foreach from=$list.flagAll.jc key="k" item=val#}
                                {#if $i>1#}{#break#}{#/if#}
                                <span class="flag_span">{#$val#}</span>
                                {#$i=$i+1#}
                                {#/foreach#}
                                <img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="">
                            </div>
                            <div class="r_right">
                                <h3>{#$list.title#}</h3>
                                <div class="store_desc">{#$list.note#}</div>
                                <p class="store_price">{#echoCurrency type='symbol'#}<strong>{#$list.price#}</strong></p>
                            </div>
                        </a></li>
                    {#/homemaking#}

                </ul>
            </div>
        </div>
    </div>


</div>


{#include file="bottom.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/detail.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/publicOpenMap.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/designpicd.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/viewer-jquery.min.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
