<div class="fixedwrap FestivalAD_header">
    <div class="fixedpane">
        <!-- head s -->
        <div class="wrap header fn-clear">
            <div class="logo">
                <a href="{#$homemaking_channelDomain#}" title="{#$homemaking_channelName#}"><img src="{#$homemaking_logoUrl#}" alt="{#$homemaking_channelName#}" /></a>
            </div>
            <div class="searchwrap y-linear">
                <div class="search">

                    <div class="FormBox">
                        <form action="{#getUrlPath service='homemaking' template='list'#}">
                            <div class="inputbox">
                                {#* 输入您想搜索的关键词 *#}
                                <div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="{#$langData['homemaking'][12][0]#}" value="{#$keywords#}" /></div>
                            </div>
                            <div class="subbox search-btn">
                                <input type="submit" class="submit" value="{#$langData['siteConfig'][6][109]#}"> {#* 搜索 *#}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="searchkey searchkeys">
                    <span>{#$langData['homemaking'][12][1]#}：</span> {#* 热门搜索 *#}
                    {#siteConfig module="homemaking" action="hotkeywords" return="hotkeywords"#}
                    <a href="{#$hotkeywords.href#}"{#if $hotkeywords.target==0#} target="_blank"{#/if#}>{#$hotkeywords.keyword#}</a>
                    {#/siteConfig#}
                </div>
            </div>
             {#* 客服热线 *#}
            <div class="kefu"><s><img src="{#$templets_skin#}images/call.png"></s><p>{#$langData['siteConfig'][19][275]#}</p>{#$homemaking_hotline#}</div>
        </div>
        <!-- head e -->

        <div class="nav-con n-linear ">                                                                             
            <div class="wrap fn-clear">
                <ul class="fn-clear nav_ul">
                    {#* 首页 *#}
                    <li class="active"><a href="{#$homemaking_channelDomain#}" {#if $pageCurr == "index"#} class="curr"{#/if#}>{#$langData['siteConfig'][0][0]#}</a></li>

                    {#* 服务项目 *#}
                    <li class="xm-li">
                        <a href="{#getUrlPath service=homemaking action=list#}"{#if $pageCurr == "list"#} class="curr"{#/if#}>{#$langData['homemaking'][1][16]#}<i></i></a>
                        <dl class="sub-category fn-clear">
                            {#* 保姆月嫂 *#}
                            <dd>
                                <a href="{#getUrlPath service='homemaking' template='nanny'#}"><span class="icon-txt">{#$langData['homemaking'][1][2]#}</span></a>
                            </dd>
                            {#homemaking action="type" return='typelist' pageSize='8'#}
                            <dd><a href="{#getUrlPath service='homemaking' template='list' param="addrid=$addrid&business=$business&type={#$typelist.id#}&typeid=$typeid&homemakingtype=$homemakingtype&price=$price&keywords=$keywords"#}">{#$typelist.typename#}</a></dd>
                            {#/homemaking#}
                        </dl>
                    </li>

                    {#* 商家优选 *#}
                    <li><a href="{#getUrlPath service=homemaking  template=store#}" {#if $pageCurr == "store"#} class="curr"{#/if#}>{#$langData['homemaking'][12][2]#}</a></li>

                    {#* 家政人员 *#}
                    <li><a href="{#getUrlPath service='homemaking' template='nanny'#}"  {#if $pageCurr == "nanny"#} class="curr"{#/if#}>{#$langData['homemaking'][1][23]#}</a></li>
                </ul>
                <div class="boxRight">
                    <a href="{#getUrlPath service='member'  template='fabu' action='homemaking'#}" target="_blank"><i class="topFabu"></i>{#$langData['homemaking'][0][2]#}</a> {#* 发布服务 *#}
                    <a href="{#getUrlPath service='member'  template='config-homemaking'#}" target="_blank"><i class="topRuzhu"></i>{#$langData['siteConfig'][19][789]#}</a> {#* 商家入驻 *#}
                </div>
            </div>
        </div>

    </div>
</div>
