<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<title>{#$homemaking_title#}</title>
	<meta name="keywords" content="{#$homemaking_keywords#}" />
	<meta name="description" content="{#$homemaking_description#}" />
	<link rel="stylesheet" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}">
	<link rel="stylesheet" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}">
	<link rel="stylesheet" href="{#$templets_skin#}css/index.css?v={#$cfg_staticVersion#}">
	<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
	<script>
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$homemaking_channelDomain#}', templatePath = '{#$templets_skin#}';
	var hideFileUrl = {#$cfg_hideUrl#};
	var cookiePre = '{#$cfg_cookiePre#}';
	var money = '{#echoCurrency type='symbol'#}';
	</script>
</head>

<body  class='w1200'>
	{#$pageCurr = "index"#}
	{#include file="../../siteConfig/top1.html"#}
	<!-- 导航 s-->
	{#include file="header_search.html"#}
	<!-- 导航 e-->
<div class="main_wrap " >
		<!-- 菜单 s-->
	<div class="b-main">

		<div class="slideBox slideBox1">
	      <div class="slidewrap">
	        <div class="slide">
	          <div class="bd">
				  <div class="slideobj">
					{#myad title="家政_模板二_电脑端_广告一" type="slide"#}
				  </div>
				</div>
	          <div class="hd"><ul></ul></div>
	        </div>
	      </div>
	    </div>

	</div>
	<!-- 菜单 e-->
	<!-- 服务模块 s-->
	<div class="service_wrap">
		<div class="wrap">
			<h1>{#$langData['homemaking'][12][3]#}</h1> {#* 您需要什么服务？ *#}
			<ul class="fn-clear">				
				<li><a href="{#getUrlPath service='homemaking' template='nanny'#}">
						<div class="top_img"><img src="{#$templets_skin#}images/ser_baomu.png" alt=""></div>
						{#* 保姆月嫂 *#}
						<div class="serviceInfo"><strong>{#$langData['homemaking'][1][2]#}</strong><i></i></div>
						<div class="ser_descrp">
							<div class="descp_top">
								{#* 专业月嫂，呵护宝宝 *#}
								<h2>{#$langData['homemaking'][12][4]#}</h2>
								{#* 指导正确哺乳喂养、呵护、洗澡穿衣、换洗尿布物品消毒、产妇营养餐制作营养膳食搭配、协助产妇擦浴等 *#}
								<p>{#$langData['homemaking'][12][5]#}</p>
							</div>		
							{#* 保姆月嫂 *#}					
							<div class="serviceInfo2"><strong>{#$langData['homemaking'][1][2]#}</strong><i></i></div>
						</div>
				</a></li>
				{#homemaking action="type" return='type' pageSize='8'#}
				<li><a href="{#$type.url#}">
					<div class="top_img"><img src="{#$type.litpic#}" alt=""></div>
					<div class="serviceInfo"><strong>{#$type.typename#}</strong><i></i></div>
					<div class="ser_descrp">						
						<div class="descp_top">
							<h2>{#$type.title#}</h2>  {#* 专业上门清洁服务 *#}	
							{#* 专业设备、专业手法保洁、彻底清洁、不留死角、让您的家焕然一新 *#}	
							<p>{#$type.note#}</p>
						</div>													
						<div class="serviceInfo2"><strong>{#$type.typename#}</strong><i></i></div>

					</div>
				</a></li>
				{#/homemaking#}				
				<li><a href="{#getUrlPath service='homemaking' template='list'#}">
						<div class="top_img"><img src="{#$templets_skin#}images/ser_other.png" alt=""></div>
						{#* 其他 *#}
						<div class="serviceInfo"><strong>{#$langData['siteConfig'][19][201]#}</strong><i></i></div>
						<div class="ser_descrp">
							<div class="descp_top">
								<h2>{#$langData['homemaking'][12][22]#}</h2>  {#* 其他服务 *#}
								{#* 没找到您想要的？再去看看 其他服务！ *#}
								<p>{#$langData['homemaking'][12][23]#}</p>
							</div>
							{#* 其他 *#}							
							<div class="serviceInfo2"><strong>{#$langData['siteConfig'][19][201]#}</strong><i></i></div>
						</div>
				</a></li>

			</ul>
		</div>
	</div>
	<!-- 服务模块 e-->
	<!-- 最新入驻商家 s-->
	<div class="wrap recomtop">
		<div class="public_top fn-clear">
			<div class="fn-left l">
				<span>{#$langData['homemaking'][12][24]#}</span> {#* 最新入驻商家 *#}	
			</div>
			<div class="fn-right r">
				{#* 我也要入驻 *#}	
				<a href="{#getUrlPath service='member'  template='config-homemaking'#}">{#$langData['homemaking'][12][25]#}</a>
			</div>
		</div>
		<ul class="fn-clear">
			{#homemaking action="storeList" orderby="2" return='list' pageSize='8'#}
			<li><a href="{#$list.url#}" target="_blank">
				<div class="top_img"><img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt=""></div>
				<div class="storeInfo">
					<h3>{#date("Y-m-d", $list.pubdate)#}</h3>
					<p>{#$langData['homemaking'][0][4]#}{#$list.title#}{#$langData['siteConfig'][16][94]#}</p>{#* 欢迎  入驻成功*#}	
				</div>
			</a></li>
			{#/homemaking#}
		</ul>
	</div>
	<!-- 最新入驻商家 e-->
	<!-- 广告位 s-->
	<div class="adv_wrap">{#myad title="家政_模板二_电脑端_广告二"#}</div>
	<!-- 广告位 e-->
	<!-- 金牌人员 s-->
	<div class="main1">
		<div class="wrap">
			{#* 金牌人员 *#}	
			<div class="title_div"><h2 class="common-title">{#$langData['homemaking'][12][26]#}</h2></div>
			<div class="jin_peo fn-clear">
				<div class="fn-left left_adv">{#myad title="家政_模板二_电脑端_广告三"#}</div>
				<div class="fn-right right_jin">
					<ul class="fn-clear">
						{#homemaking action="nannyList" return='nanny' pageSize='8'#}
						<li><a href="{#$nanny.url#}" target="_blank">
							<div class="peo_img"><img src="{#if $nanny.photo#}{#$nanny.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt=""></div>
							<p class="peoInfo">{#$nanny.username#}</p>
							<div class="peo_hide">
								{#if $nanny.naturename#}
								<h3>{#foreach from=$nanny.naturename item=i#}<em>，</em>{#$i#}{#/foreach#}</h3>
								{#else#}
								<h3>{#$langData['homemaking'][12][27]#}</h3> {#* 暂无介绍 *#}	
								{#/if#}
								
								{#* 未知 *#} {#* 岁 *#} {#* 未知 *#}
								<p class="peo_detail">{#if $nanny.age == 0#}{#$langData['siteConfig'][21][67]#}{#else#}{#$nanny.age#}{#$langData['homemaking'][8][82]#}{#/if#}<em>･</em>{#$nanny.placename#}<em>･</em>{#if $nanny.educationname#}{#$nanny.educationname#}{#else#}{#$langData['siteConfig'][21][67]#}{#/if#}</p>
								<i></i>
								<p class="peoInfo2">{#$nanny.username#}</p>
							</div>
						</a></li>
						{#/homemaking#}
					</ul>
				</div>
			</div>
		</div>
		{#* 查看更多 *#}
		<div class="s_more"><a href="{#getUrlPath service='homemaking' template='nanny'#}">{#$langData['siteConfig'][6][52]#}<s></s></a></div>
	</div>
	<!-- 金牌人员 e-->
	<!-- 推荐商家 s-->
	<div class="newshop">
		<div class="wrap">
			{#* 推荐商家 *#}
			<div class="title_div"><h2 class="common-title">{#$langData['homemaking'][1][13]#}</h2></div>
			<div class="recom_main fn-clear">
				<ul class="fn-clear">
				{#homemaking action="storeList" return='list' rec='1' orderby='1' pageSize='3'#}
					<li>
						<a href="{#$list.url#}" target="_blank">
							<!-- 推荐icon -->
							<img src="{#$templets_skin#}images/new_recom.png" alt="" class="new_recom">
							<div class="recom_img">															
								<img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="">
							</div>
							<div class="recom_info">
								<div class="recom_c">
									<h3>{#$list.title#}</h3>
									<h5>
										{#foreach from=$list.tagAll.jc key="k" item=val#}
										<span>{#$val#}</span>
										{#/foreach#}
									</h5>
									<div class="pos_box"><i></i>{#$list.address#}</div>
								</div>							
								{#* 查看电话 *#}
								<p class="see_call"><span data-tel="{#$list.tel#}" class="call_span">{#$langData['homemaking'][12][28]#}</span></p>
							</div>
						</a>
					</li>

				{#/homemaking#}
				</ul>
				<div class="change_wrap">
					<span class="change">{#$langData['homemaking'][12][29]#}</span>	{#* 换一批 *#}
					<span class="more_span"><a href="{#getUrlPath service='homemaking' template='store'#}">{#$langData['siteConfig'][6][52]#}<s></s></a></span> 	{#* 查看更多 *#}
				</div>
			</div>
		</div>
		
	</div>
	<!-- 推荐商家 e-->

	<!-- 广告 s-->
	<div class="wrap adv_wrap">{#myad title="二手信息_模板十_电脑端_广告四"#}</div>
	<!-- 广告 e-->
	<!-- 热门服务 s-->
	<div class="main1 hot_service">
		<div class="wrap">
			{#* 热门服务 *#}
			<div class="title_div"><h2 class="common-title">{#$langData['homemaking'][1][11]#}</h2></div>			
			<ul class="fn-clear">
				{#homemaking action="hList" return='list' orderby='6' pageSize='12'#}
				<li><a href="{#$list.url#}" target="_blank">
					{#if $list.rec==1#}<img src="{#$templets_skin#}images/new_recom.png" alt="" class="new_recom">{#/if#}
					<div class="hot_img">
						<div class="flag">
							{#foreach from=$list.flagAll.jc key="k" item=val#}
							<span>{#$val#}</span>
							{#/foreach#}
						</div>
						<img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="">
					</div>
					<div class="hotInfo">
						<div class="hotInfo_top">
							<h2 class="tit">{#$list.title#}</h2>
							<p class="sale_after">
								{#foreach from=$list['store']['flagArr'] key="k" item=tag#}					
								<span><img src="{#$templets_skin#}images/{#$tag['py']#}.png" alt=""><em>{#$tag['val']#}</em></span>
								{#/foreach#}
							</p>
							<div class="hotDesc">
								<span class="hot_price">{#echoCurrency type='symbol'#}<strong>{#$list.price#}</strong></span>
								{#* 预约金 *#} {#* 实价 *#}  {#* 免费预约 *#} 
								<span class="hot_order">{#if $list.homemakingtype==1#}{#$langData['homemaking'][8][60]#}{#elseif $list.homemakingtype==2#}{#$langData['homemaking'][8][61]#}{#else#}{#$langData['homemaking'][8][59]#}{#/if#}</span>
								<em class="fn-right">{#$langData['homemaking'][2][2]#}{#$list.sale#}</em>{#* 已售 *#}
							</div>
						</div>
						
						<div class="hot_store fn-clear">
							<div class="left_img"><img src="{#if $list.store.pics[0].path#}{#$list.store.pics[0].path#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt=""></div>
							<div class="right_b">{#$list.store.title#}</div>
						</div>
					</div>
					
					
				</a></li>
				{#/homemaking#}
			</ul>
		</div>
		<div class="s_more"><a href="{#getUrlPath service='homemaking' template='list'#}">{#$langData['siteConfig'][6][52]#}<s></s></a></div> 	{#* 查看更多 *#}
	</div>
	<!-- 热门服务 e-->
</div>

{#include file='bottom.html'#}
{#include file="{#$HUONIAOROOT#}/templates/siteConfig/public_location.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/index.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
