<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$detail_username#}</title>
<meta name="keywords" content="{#$homemaking_keywords#}" />
<meta name="description" content="{#$homemaking_description#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/nanny-detail.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
    var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$homemaking_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}', templatePath = '{#$templets_skin#}';
    var criticalPoint = 1240, criticalClass = "w1200";
    $("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
    var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
    var id='{#$detail_id#}';
    var pageData = {           
        title: '{#$detail_store.title#}',
        address: '{#$detail_store.address#}',
        lat: '{#$detail_store.lat#}',
        lng: '{#$detail_store.lng#}',
        mapType: '{#$site_map#}',
        cityName: '{#$siteCityInfo['name']#}',
        mapKey: '{#$site_map_key#}'
    };
    var imconfig = {
        'mod':'homemaking',
        'chatid':"{#$detail_store['userid']#}",
        'title': '[{#$langData['homemaking'][1][23]#}] {#$detail_username#}',
        "price": '<em>{#echoCurrency type='symbol'#}</em>{#$detail_salary#}',
        "imgUrl": '{#changeFileSize url={#$detail_photo#} type='small'#}',
        "link": '{#getUrlPath service="homemaking" template="nanny-detail" id=$detail_id#}',

    };
</script>
</head>

<body class="w1200">
{#$pageCurr = "nanny"#}
{#include file="../../siteConfig/top1.html"#}
<!-- 导航 s-->
{#include file="header_search.html"#}

<!-- 导航 e-->
<div class="main_wrap">
    <div class="wrap crumbs fn-clear">
        <div class="cont">
            <span>{#$langData['homemaking'][12][39]#}</span>  {#* 您的位置： *#}
            <a href="{#$homemaking_channelDomain#}">{#$homemaking_channelName#}</a>
             <em>></em>
            <a href="{#getUrlPath service='homemaking' template='nanny'#}">{#$langData['homemaking'][1][23]#}</a> {#* 家政人员 *#}
            <em>></em>
            <em>{#$detail_username#}</em>
        </div>
    </div>
    <div class="con_wrap wrap fn-clear">
        <div class="left_con fn-left">
            <div class="nanny_img">
                <img src="{#if $detail_photo#}{#$detail_photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="{#$detail_username#}">
            </div>
            <div class="con_info">
                
                <div class="nanny_info1">
                    <div class="infoName">
                        <h1>{#$detail_username#}{#if $detail_tag && strstr($detail_tag, "0")#}<i class="jin-icon"></i><em>{#$langData['homemaking'][4][11]#}</em>{#/if#}</h1> {#* 金牌 *#}
                        
                        <div class="btn_group ">
                            {#* 已收藏 *#} {#* 收藏 *#}                          
                            <a href="javascript:;" class="store-btn{#if $detail_collect == 1#} curr{#/if#}"><button><em></em><span>{#if $detail_collect == 1#}{#$langData['homemaking'][8][84]#}{#else#}{#$langData['homemaking'][0][10]#}{#/if#}</span></button></a>
                        </div>

                    </div>
                    <ul class="fn-clear">
                        {#* 年龄 *#}
                        <li>{#$langData['homemaking'][2][8]#}：<span>{#$detail_age#}{#$langData['homemaking'][8][82]#}</span></li>{#* 岁 *#}
                        {#* 籍贯 *#}
                        <li>{#$langData['homemaking'][2][9]#}：<span>{#$detail_placename#}</span></li>
                        {#* 民族 *#}
                        <li>{#$langData['homemaking'][2][10]#}：<span>{#$detail_nationname#}</span></li>
                        {#* 学历 *#}
                        <li>{#$langData['homemaking'][2][11]#}：<span>{#$detail_educationname#}</span></li>
                        {#* 经验 *#}
                        <li>{#$langData['homemaking'][2][12]#}：<span>{#$detail_experiencename#}</span></li>
                        {#* 服务 *#}
                        <li>{#$langData['homemaking'][2][13]#}：<span>{#$detail_servicenums#}{#$langData['homemaking'][8][92]#}</span></li>
                    </ul>
                    {#* 约   元/月 *#}
                    <p class="peo_salary">{#$langData['homemaking'][8][95]#}<strong>{#$detail_salary#}</strong>{#$langData['homemaking'][8][96]#}</p>
                    
                </div>
                <div class="nanny_info2">
                    <h2 class="common-title">{#$langData['homemaking'][1][24]#}</h2>{#* 认证资料 *#}
                    <ul class="fn-clear certify_ul">
                        {#if $detail_certifyState==1#}
                        <li><img src="{#$templets_skin#}images/id-icon.png" alt=""><p>{#$langData['homemaking'][9][0]#}</p></li> {#* 实名认证 *#}
                        {#/if#}
                        {#if $detail_bond==1#}
                        <li><img src="{#$templets_skin#}images/bond-icon.png" alt=""><p>{#$langData['homemaking'][9][1]#}</p></li> {#* 保证金 *#}
                        {#/if#}
                        {#if $detail_healthcertifyState==1#}
                        <li><img src="{#$templets_skin#}images/healthy-icon.png" alt=""><p>{#$langData['homemaking'][9][2]#}</p></li> {#* 健康证 *#}
                        {#/if#}
                        {#if $detail_cookingcertifyState==1#}
                        <li><img src="{#$templets_skin#}images/ic.png" alt=""><p>{#$langData['homemaking'][9][3]#}</p></li> {#* 厨师证 *#}
                        {#/if#}
                    </ul>
                    
                </div>
                <div class="nanny_info3">
                     <h2 class="common-title">{#$langData['homemaking'][1][25]#}</h2>{#* 服务经验 *#}
                     <ul class="fn-clear common_ul">
                        {#* 做饭能力 *#}
                        <li><span class="peo_list">{#$langData['homemaking'][2][14]#}：</span><span class="peo_detail">{#$detail_cooking#}</span></li>
                        {#* 照顾小孩 *#}
                        <li><span class="peo_list">{#$langData['homemaking'][2][15]#}：</span><span class="peo_detail">{#$detail_watchbaby#}</span></li>
                        {#* 照顾老人 *#}
                        <li><span class="peo_list">{#$langData['homemaking'][2][16]#}：</span><span class="peo_detail">{#$detail_watchold#}</span></li>
                        {#* 照顾宠物 *#}
                        <li><span class="peo_list">{#$langData['homemaking'][2][17]#}：</span><span class="peo_detail">{#$detail_watchcat#}</span></li>
                        {#* 其他技能 *#}
                        <li><span class="peo_list">{#$langData['homemaking'][2][18]#}：</span><span class="peo_detail">{#$detail_otherskills#}</span></li>
                    </ul>
                </div>
                <div class="nanny_info4">
                     <h2 class="common-title">{#$langData['homemaking'][1][26]#}</h2>{#* 求职意向 *#}
                     <ul class="fn-clear common_ul">
                        {#* 工作类型 *#}
                        <li><span class="peo_list">{#$langData['homemaking'][2][19]#}：</span><span class="peo_detail">{#$detail_naturenameaAll#}</span></li>
                        {#* 服务类容 *#}
                        <li><span class="peo_list">{#$langData['homemaking'][2][20]#}：</span><span class="peo_detail">{#$detail_naturedescnameAll#}</span></li>
                    </ul>
                 </div>
            </div>
        </div>
        <div class="right_con">
            <div class="store_img"><img src="{#if $detail_store['pics'][0]['path']#}{#$detail_store['pics'][0]['path']#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt=""></div>
            <div class="topStore">
                
                <h2 class="store_title">{#$detail_store['title']#}</h2>
                <span class="contact chat_to-Link" data-type="detail"><img src="{#$templets_skin#}images/contact2.png" alt=""></span>
                <p class="com_type">
                    {#foreach from=$detail_store['tag_Arr'] key="k" item=val#}
                    <span>{#$val#}</span>
                    {#/foreach#}
                </p>
                <div class="pos_box"><a href="javascript:;"class="appMapBtn" target="_blank"><i></i>{#$detail_store['address']#}</a></div>
            </div>
            <ul class="fn-clear">
                <li class="inStore"><a href="{#$detail_companyurl#}">{#$langData['homemaking'][0][25]#}</a></li>{#* 进店看看 *#}
                <li class="see_phone"><a href="javascript:;" data-tel="{#$detail_tel#}">{#$langData['homemaking'][12][40]#}</a></li>   {#* 查看商家电话 *#}
            </ul>
            
        </div>
    </div>
    <div class="command"></div>
 

</div>


{#include file="bottom.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/nanny-detail.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/publicOpenMap.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
