<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$langData['homemaking'][1][2]#}</title>     {#* 保姆月嫂 *#}
    <meta name="keywords" content="{#$homemaking_keywords#}" />
    <meta name="description" content="{#$homemaking_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/nanny.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$homemaking_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}', templatePath = '{#$templets_skin#}';
        var typeid = '{#$list_id#}';
        var criticalPoint = 1240, criticalClass = "w1200";
        $("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
        var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
        var keywords = '{#$keywords#}';
        var list_lower = '{#$list_lower#}';
        var money ="{#echoCurrency type='symbol'#}";
    </script>
</head>

<body class="w1200">
{#$pageCurr = "nanny"#}
{#include file="../../siteConfig/top1.html"#}
<!-- 导航 s-->
{#include file="header_search.html"#}

<!-- 导航 e-->
<div class="main_wrap">
    <div class="top_banner"><img src="{#$templets_skin#}images/top_banner2.png" alt=""></div>
    <div class="yi_wrap wrap">
        <div class=" crumbs fn-clear">
            <div class="cont">
                <span>{#$langData['homemaking'][12][39]#}</span>  {#* 您的位置： *#}
                <a href="{#$homemaking_channelDomain#}">{#$homemaking_channelName#}</a>
                 <em>></em>
                <em>{#$langData['homemaking'][1][23]#}</em>{#* 家政人员 *#}
            </div>
        </div>
        <div class="filter_box">

            <div class="filter">
                <!-- 所在区域  s -->
                
                <dl class="fn-clear" id="addr">
                    <dt>{#$langData['siteConfig'][19][27]#} </dt>  {#* 所在区域 *#}
                    <dd class="chooseClass" data-chose="quyu">
                        <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=0&business=0&type=$type&typeid=$typeid&naturedesc=$naturedesc&age=$age&experience=$experience&salary=$salary&keywords=$keywords"#}" data-id="0" {#if $addrid == 0#}  class="curr" {#$addridName = "全部"#} {#/if#}>{#$langData['siteConfig'][9][0]#}</a> {#* 全部 *#}
                        {#homemaking action="addr" return="addr" son="once"#}
                        <a href="{#getUrlPath service='homemaking' homemaking='nanny' param="addrid={#$addr.id#}&business=$business&type=$type&typeid=$typeid&naturedesc=$naturedesc&age=$age&experience=$experience&salary=$salary&keywords=$keywords"#}" {#if $addrid == $addr.id#}  class="curr" {#$addridName = {#$addr.typename#}#} {#/if#} data-id="{#$addr.id#}" class="firt_a">{#$addr.typename#}</a>
                        {#/homemaking#}

                       {#if $addrid!=0 || $business!=0#}
                        <div class="subnav fn-clear" style="display: block;">
                            <div id="addr{#$addr1.id#}" class="chooseClass" data-chose="quyu_sub" style="display: block;">
                                <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=0&type=$type&typeid=$typeid&naturedesc=$naturedesc&age=$age&experience=$experience&salary=$salary&keywords=$keywords"#}" data-id="{#$addr1.id#}" {#if $business == 0#} 
                                {#$businessName = '全部'#} class="curr" {#/if#}>{#$langData['education'][3][17]#}</a>      {#* 不限 *#}
                                {#homemaking action="addr" return="addr2" type=$addrid#}
                                {#if $addr2.id == $business#}
                                    {#$businessName = $addr2.typename#}
                                {#/if#}
                                <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business={#$addr2.id#}&type=$type&typeid=$typeid&naturedesc=$naturedesc&age=$age&experience=$experience&salary=$salary&keywords=$keywords"#}" data-id="{#$addr2.id#}" {#if $business==$addr2.id#} class="curr" {#/if#}>{#$addr2.typename#}</a>
                                {#/homemaking#}
                            </div>
                        </div>
                        {#/if#}

                    </dd>
                    
                </dl>
                <!-- 所在区域 e -->

                <!-- 服务类型 s -->

                <!--没有二级时-->
                <!-- {#if $list_id == 0#} -->
                <!-- <dl class="fn-clear" id="fnav">
                    <dt>{#$langData['siteConfig'][42][52]#}</dt>  {#* 服务类型 *#}
                    <dd>
                        <div class="f_more">{#$langData['siteConfig'][18][18]#}<i></i></div> {#* 更多 *#}
                        <div class="item_box chooseClass" data-chose="category1">
                            <a href="" class="curr">{#$langData['siteConfig'][22][96]#}</a>{#* 不限 *#}
                            {#homemaking action="type" return="type1111"#}
                            <a href="javascript:;">{#$type.typename#}</a>
                            {#/homemaking#}
                        </div>
                    </dd>
                </dl> -->
                <!-- {#/if#} -->
                <!--有二级时-->                
                <dl class="fn-clear" id="subnav" data-id="">
                    <dt>{#$langData['siteConfig'][42][52]#}</dt>  {#* 服务类型 *#}
                    <dd>
                        <div class="f_more">{#$langData['siteConfig'][18][18]#}<i></i></div> {#* 更多 *#}
                        <div class="item_box chooseClass fn-clear" data-chose="category2">
                            <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=0&typeid=$typeid&naturedesc=$naturedesc&age=$age&experience=$experience&salary=$salary&keywords=$keywords"#}" data-id="" {#if $type==0#} class="curr" {#$naturedescName="全部"#} {#/if#}>{#$langData['siteConfig'][9][0]#}</a> {#* 全部 *#}
                           {#$lower = ''#}
                            {#homemaking action="type" return='typelist'#}
                            {#if $type == $typelist.id #}
                            {#$lower = $typelist.lower#}
                            {#/if#}
                            <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type={#$typelist.id#}&typeid=$typeid&naturedesc=$naturedesc&age=$age&experience=$experience&salary=$salary&keywords=$keywords"#}" data-id="{#$typelist.id#}" class="firt_a {#if $type =={#$typelist.id#}#}curr {#$typeName= {#$typelist.typename#}#}{#/if#} {#if $typelist.lower>0#}hasSub{#/if#}">{#$typelist.typename#}</a>
                            {#/homemaking#}
                            {#if $type!=0 && $lower!=''#}
                            <div class="subnav fn-clear" id="classify_subnav" style="display: block;">
                                                         
                                <div id="subnav{#$type1.id#}" class="chooseClass" data-chose="category2_sub" style="display: block;">
                                    <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=$type&typeid=0&naturedesc=$naturedesc&age=$age&experience=$experience&salary=$salary&keywords=$keywords"#}" data-id="" {#if $typeid==0#} class="curr" {#$typeidName="全部"#} {#/if#}>{#$langData['siteConfig'][22][96]#}</a>{#* 不限 *#}      
                                  {#homemaking action="type" return="type1" type=$type#} 
                                    <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=$type&typeid={#$type1.id#}&naturedesc=$naturedesc&age=$age&experience=$experience&salary=$salary&keywords=$keywords"#}" data-id="{#$type1.id#}"  {#if $typeid=={#$type1.id#}#} class="curr" {#$typeidName = {#$type1.typename#}#} {#/if#} >{#$type1.typename#}</a>  
                                  {#/homemaking#}
                                </div>                         
                                
                            </div>
                            {#/if#}
                        </div>
                    </dd>
                </dl> 
                <!-- 服务类型 e -->
                <!-- 服务内容 s -->
                <dl class="fn-clear">
                    <dt>{#$langData['siteConfig'][42][34]#}</dt>   {#* 服务内容 *#}
                    <dd>
                        <div class="chooseClass fn-clear" data-chose="serviceContent">
                            <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=$type&typeid=0&naturedesc=0&age=$age&experience=$experience&salary=$salary&keywords=$keywords"#}" data-id="" {#if $naturedesc== 0#} {#$naturedescName = "全部"#} class="curr" {#/if#}>{#$langData['siteConfig'][9][0]#}</a> {#* 全部 *#}
                            {#homemaking action="homemakingitemList" return='list' type='6' #}
                            <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=$type&typeid=0&naturedesc={#$list.id#}&age=$age&experience=$experience&salary=$salary&keywords=$keywords"#}" data-id="{#$list.id#}" {#if $naturedesc== {#$list.id#}#} {#$naturedescName = {#$list.typename#}#} class="curr" {#/if#}>{#$list.typename#}</a>
                            {#/homemaking#}                          
                        </div>
                    </dd>
                </dl>
                <!-- 服务内容 e -->
                <!-- 年龄 s -->
                <dl class="fn-clear">
                    <dt>{#$langData['homemaking'][2][8]#}</dt>   {#* 年龄 *#}
                    <dd>
                        <div class="chooseClass fn-clear" data-chose="age">
                            <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=$type&typeid=0&naturedesc=$naturedesc&age=&experience=$experience&salary=$salary&keywords=$keywords"#}" data-id="" {#if $age==''#} {#$ageName="全部"#} class="curr" {#/if#}>{#$langData['siteConfig'][9][0]#}</a> {#* 全部 *#}
                            <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=$type&typeid=0&naturedesc=$naturedesc&age=0,29&experience=$experience&salary=$salary&keywords=$keywords"#}" data-id=",29" {#if $age=='0,29'#} {#$ageName={#$langData['homemaking'][8][97]#}#} class="curr" {#/if#}>{#$langData['homemaking'][8][97]#}</a>
                            <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=$type&typeid=0&naturedesc=$naturedesc&age=30,39&experience=$experience&salary=$salary&keywords=$keywords"#}" data-id="30,39" {#if $age=='30,39'#} {#$ageName={#$langData['homemaking'][8][98]#}#} class="curr" {#/if#}>{#$langData['homemaking'][8][98]#}</a>
                            <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=$type&typeid=0&naturedesc=$naturedesc&age=40,49&experience=$experience&salary=$salary&keywords=$keywords"#}" data-id="40,49" {#if $age=='40,49'#} {#$ageName={#$langData['homemaking'][8][99]#}#} class="curr" {#/if#}>{#$langData['homemaking'][8][99]#}</a>
                            <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=$type&typeid=0&naturedesc=$naturedesc&age=50,&experience=$experience&salary=$salary&keywords=$keywords"#}" data-id="50," {#if $age=='50,'#} {#$ageName={#$langData['homemaking'][8][100]#}#} class="curr" {#/if#}>{#$langData['homemaking'][8][100]#}</a>                   
                        </div>
                    </dd>
                </dl>
                <!-- 年龄 e -->
                <!-- 工作经验 s -->
                <dl class="fn-clear">
                    <dt>{#$langData['homemaking'][2][22]#}</dt>   {#* 工作经验 *#}
                    <dd>
                        <div class="chooseClass fn-clear" data-chose="age">
                            <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=$type&typeid=0&naturedesc=$naturedesc&age=$age&experience=0&salary=$salary&keywords=$keywords"#}" data-id="" {#if $experience ==''#} {#$experienceName='全部'#} class="curr" data-id="{#$list.id#}" {#/if#}>{#$langData['siteConfig'][9][0]#}</a> {#* 全部 *#}

                            {#homemaking action="homemakingitemList" return='list' type='3' pageSize='15'#}

                            <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=$type&typeid=0&naturedesc=$naturedesc&age=$age&experience={#$list.id#}&salary=$salary&keywords=$keywords"#}" {#if $experience == {#$list.id#}#} {#$experienceName={#$list.typename#}#} class="curr" {#/if#} data-id="{#$list.id#}">{#$list.typename#}</a>
                            {#/homemaking#}                 
                        </div>
                    </dd>
                </dl>
                <!-- 工作经验 e -->
                <!-- 价格 s-->
                <dl class="fn-clear">                            
                    <dt>{#$langData['siteConfig'][19][428]#}</dt>  {#* 价格 *#}
                    <dd class="chooseClass" data-chose="price" id="priceChoose">
                        <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=$type&typeid=0&naturedesc=$naturedesc&age=$age&experience=$experience&salary=&keywords=$keywords"#}" data-id="0" {#if $salary==''#} {#$priceName='不限'#} class="curr" {#/if#}>{#$langData['siteConfig'][9][0]#}</a> {#* 全部 *#}
                        <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=$type&typeid=0&naturedesc=$naturedesc&age=$age&experience=$experience&salary=0,2000&keywords=$keywords"#}" data-id="0,2000"  {#if $salary=='0,2000'#}  class="curr" {#/if#} >2000{#echoCurrency type='short'#}以下</a>
                        <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=$type&typeid=0&naturedesc=$naturedesc&age=$age&experience=$experience&salary=2000,3000&keywords=$keywords"#}" data-id="2000,3000"  {#if $salary=='2000,3000'#}  class="curr" {#/if#} >2000-3000{#echoCurrency type='short'#}</a>
                        <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=$type&typeid=0&naturedesc=$naturedesc&age=$age&experience=$experience&salary=3000,5000&keywords=$keywords"#}" data-id="3000,5000"  {#if $salary=='3000,5000'#}  class="curr" {#/if#} >3000-5000{#echoCurrency type='short'#}</a>
                        <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=$type&typeid=0&naturedesc=$naturedesc&age=$age&experience=$experience&salary=5000,8000&keywords=$keywords"#}" data-id="5000,8000" {#if $salary=='5000,8000'#}  class="curr" {#/if#} >5000-8000{#echoCurrency type='short'#}</a>
                        <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=$type&typeid=0&naturedesc=$naturedesc&age=$age&experience=$experience&salary=8000,10000000&keywords=$keywords"#}" data-id="8000,10000000" {#if $salary=='8000,10000000'#}  class="curr" {#/if#} >8000{#echoCurrency type='short'#}以上</a>

                        <div class="inpbox inp_price">
                            {#* 最低价 *#}
                           <input type="input" class="p1" id="priceLow" maxlength="6" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" placeholder="{#$langData['homemaking'][3][9]#}"><em>-</em>
                           {#* 最高价 *#}
                           <input type="input" class="p2" id="priceTop" maxlength="6" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" placeholder="{#$langData['homemaking'][3][10]#}"> <!-- <em>元</em> -->
                            <button class="btn btn_price" id="price_sure">{#$langData['siteConfig'][6][1]#}</button> {#* 确定 *#}
                        </div>

                    </dd>
                </dl>
                <!-- 价格 e-->
                {#if $salaryArr[0] !=0 &&  $salaryArr[1] ==0#}
                    {#$priceTitle=$salaryArr[0]|cat:'元以上'#}
                {#else if $salaryArr[0] !=0 &&  $salaryArr[1] !=0#}
                    {#$priceTitle=$salaryArr[0]|cat:'-'|cat:$salaryArr[1]|cat:'元'#}
                {#else $salaryArr[0]==0 && $salaryArr[1]!=0#}
                    {#$priceTitle=$salaryArr[1]|cat:'元以下'#}
                {#/if#}
            </div>
            <div class="other_filter">
                <dl class="fn-clear">
                    <dt>{#$langData['homemaking'][3][16]#}</dt>  {#* 排序 *#}
                    <dd>
                        <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=$type&typeid=0&naturedesc=$naturedesc&age=$age&experience=$experience&salary=$salary&orderby=&keywords=$keywords"#}" {#if $orderby==''#} class="active" {#/if#} >{#$langData['homemaking'][3][19]#}</a>  {#* 默认排序 *#}
                        <!-- <a href="javascript:;">{#$langData['homemaking'][12][42]#}</a>  {#* 销量 *#}                       -->
                        {#* 价格 *#}                 
                        <div class="order_price {#if $orderby==4||$orderby==43#} active {#/if#}"><em>{#if $orderby ==4#}{#$langData['homemaking'][12][45]#}{#elseif $orderby ==3#}{#$langData['homemaking'][12][46]#}{#else#}{#$langData['siteConfig'][19][428]#}{#/if#}</em><s></s>
                            <div class="order_div">
                                <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=$type&typeid=0&naturedesc=$naturedesc&age=$age&experience=$experience&salary=$salary&orderby=4&keywords=$keywords"#}" data-id="3">{#$langData['homemaking'][12][45]#}</a>  {#* 价格降序 *#}
                                <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=$type&typeid=0&naturedesc=$naturedesc&age=$age&experience=$experience&salary=$salary&orderby=3&keywords=$keywords"#}" data-id="4">{#$langData['homemaking'][12][46]#}</a>  {#* 价格升序 *#}
                            </div>
                        </div>                    
                    </dd>
                </dl>
            </div>

            {#if $keywords != "" || $addrid !=0  || $business !=0  || $type!=0 || $typeid!=0 || $naturedesc!= ''|| $age!='' || $experience!='' || $salary!=''#}
            <div class="deletebox">
                <dl class="fi-state fn-clear" style="display: block;">
                    <dt>{#$langData['siteConfig'][6][21]#}</dt>  {#* 已选 *#}
                    <dd class="fn-clear">
                        {#if $addrid#}
                        <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=0&business=$business&type=$type&typeid=0&naturedesc=$naturedesc&age=$age&experience=$experience&salary=$salary&keywords=$keywords"#}"><span>{#$addridName#}</span><i class="idel"></i></a>
                        {#/if#}

                        {#if $business#}
                        <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=&business=0&type=$type&typeid=0&naturedesc=$naturedesc&age=$age&experience=$experience&salary=$salary&keywords=$keywords"#}"><span>{#$businessName#}</span><i class="idel"></i></a>
                        {#/if#}

                        {#if $type#}
                        <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=0&typeid=0&naturedesc=$naturedesc&age=$age&experience=$experience&salary=$salary&keywords=$keywords"#}"><span>{#$typeName#}</span><i class="idel"></i></a>
                        {#/if#}
                        {#if $typeid#}
                        <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=$type&typeid=0&naturedesc=$naturedesc&age=$age&experience=$experience&salary=$salary&keywords=$keywords"#}"><span>{#$typeidName#}</span><i class="idel"></i></a>
                        {#/if#}

                        {#if $naturedesc#}
                        <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=$type&typeid=$typeid&naturedesc=0&age=$age&experience=$experience&salary=$salary&keywords=$keywords"#}"><span>{#$naturedescName#}</span><i class="idel"></i></a>
                        {#/if#}

                        {#if $age#}
                        <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=$type&typeid=$typeid&naturedesc=$naturedesc&age=&experience=$experience&salary=$salary&keywords=$keywords"#}"><span>{#$ageName#}</span><i class="idel"></i></a>
                        {#/if#}

                        {#if $experience#}
                        <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=$type&typeid=$typeid&naturedesc=$naturedesc&age=$age&experience=0&salary=$salary&keywords=$keywords"#}"><span>{#$experienceName#}</span><i class="idel"></i></a>
                        {#/if#}
                        {#if $salary#}
                        <a href="{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=$type&typeid=$typeid&naturedesc=$naturedesc&age=$age&experience=$experience&salary=&keywords=$keywords"#}"><span>{#$priceTitle#}</span><i class="idel"></i></a>
                        {#/if#}

                    </dd>
                    <a class="btn_clear" href="{#getUrlPath service='homemaking' template='nanny' param="addrid=&business=&type=&typeid=&naturedesc=&age=&experience=&salary=&keywords="#}">{#$langData['homemaking'][12][43]#}</a>  {#* 重置条件 *#}
                </dl>
            </div>
            {#/if#}
        </div>
    </div>
    

<!-- 列表 -->
<div class="wrap baomu_wrap fn-clear">

    <div class="content">
        <ul class="fn-clear list_ul">
            {#homemaking action="nannyList" return='nanny' addrid={#$addrid#}  business={#$business#} type={#$type#} typeid={#$typeid#}   naturedesc={#$naturedesc#} age={#$age#} experience={#$experience#}  keywords= {#$keywords#} salary={#$salary#} orderby={#$orderby#} page={#$page#} pageSize='15'#}

            <li>
                <a href="{#$nanny.url#}" target="_blank">
                     {#* 推荐 *#}
                    {#if $nanny.tag && strstr($nanny.tag, "1")#}<span class="tui-icon">{#$langData['homemaking'][4][12]#}</span>{#/if#}
                    <div class="peo_img">
                        <img src="{#if $nanny.photo#}{#$nanny.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="">
                        {#if $nanny.naturedescname !=''#}
                        <p class="bm_type">
                            {#$i=1#}
                            {#foreach from=$nanny.naturedescname key="k" item=nature#} 
                            {#if $i>3#}{#break#}{#/if#}
                            <span>{#$nature#}</span>
                            {#$i=$i+1#}
                            {#/foreach#}
                        </p>
                        {#/if#}
                    </div>
                    <div class="peoInfo">
                        <div class="con_top">
                            <h2>{#$nanny.username#}</h2>
                            {#if $nanny.tag && strstr($nanny.tag, "0")#}<i class="jin-icon"></i>{#/if#}
                        </div>
                        {#* 岁 *#}
                        <p class="peo_detail">{#if $nanny.age == 0#}未知{#else#}{#$nanny.age#}{#$langData['homemaking'][8][82]#}{#/if#}<em>･</em>{#$nanny.placename#}<em>･</em>{#if $nanny.educationname#}{#$nanny.educationname#}{#else#}未知{#/if#}</p>
                        {#* 约   元/月 *#}
                        <p class="bm_salary">{#if $nanny.salaryname > 0#}{#$langData['homemaking'][8][95]#}<strong>{#$nanny.salaryname#}</strong>{#$langData['homemaking'][8][96]#}{#else#}<strong>{#$langData['siteConfig'][46][70]#}</strong>{#/if#}</p> {#* 面议 *#}
                        <div class="peo_store fn-clear">
                            <div class="left_img"><img src="{#if $nanny.store.pics[0].path#}{#$nanny.store.pics[0].path#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt=""></div>
                            <div class="right_b">{#$nanny.store.title#}</div>
                        </div>                                             
                    </div>
                </a>
            </li>

           {#/homemaking#}
           
            {#if $pageInfo.totalCount == 0#}
            <li class="empty failed"><img src="{#$templets_skin#}images/icon_faild.png"><span>{#$langData['education'][8][24]#} </span></li>
           {#/if#}

           
        </ul>
        {#getPageList service='homemaking' template='nanny' pageType='dynamic' param="page=#page#"#}
    </div>


</div>


{#include file="bottom.html"#}
<script type="text/javascript">
     var priceUrl = "{#getUrlPath service='homemaking' template='nanny' param="addrid=$addrid&business=$business&type=0&typeid=0&naturedesc=$naturedesc&age=$age&experience=$experience&salary=pricePlaceholder&keywords=$keywords"#}";
</script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/list.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
