<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][16][55]#}</title>{#*支付成功*#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" href="{#$templets_skin#}css/pay_success.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script>
  var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$homemaking_channelDomain#}', templatePath = '{#$templets_skin#}';
  var hideFileUrl = {#$cfg_hideUrl#};
  </script>
</head>
<body class="w1200">
{#$pageCurr = "list"#}
{#include file="../../siteConfig/top1.html"#}
<!-- 导航 s-->
{#include file="header_search.html"#}
<div class="main_wrap">
  <!--头部-->
  <div class="head_wrap wrap">
      <ul class="fn-clear">
          <li class="active oneli"><span>1</span><p>{#$langData['homemaking'][12][30]#}</p></li>  {#* 填写预约信息 *#}
          <li class="active be_li secondli"><span>2</span><p>{#$langData['homemaking'][12][31]#}</p></li>  {#* 支付预约金 *#}
          <li class="active be_li thirdli"><span>3</span><p>{#$langData['siteConfig'][22][45]#}</p></li>  {#* 预约成功 *#}
        </ul>
  </div>
  <!--头部-->
  <div class="succ_wrap wrap">
    <div class="succ_icon"><img src="{#$templets_skin#}images/success.png" alt=""></div>
    <p class="pay_p1">{#$langData['homemaking'][12][32]#}</p>{#*恭喜您预订成功！*#}
    <ul>
      {#*继续预订*#}
      <li class="go_back"><a href="{#getUrlPath service="homemaking" template="list"#}">{#$langData['homemaking'][12][33]#}</a></li>
      <li class="see_order"><a href="{#getUrlPath service='member' type='user' template='order' module='homemaking'#}">{#$langData['siteConfig'][6][146]#}</a></li>{#*查看订单*#}
    </ul>
   
  </div>
</div>

  <!-- 底部 s-->
{#include file="bottom.html"#}
<!-- 底部 e-->
</body>
</html>
