<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$langData['homemaking'][1][14]#}</title> {#* 商家列表 *#}
    <meta name="keywords" content="{#$homemaking_keywords#}" />
    <meta name="description" content="{#$homemaking_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/store.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$homemaking_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}', templatePath = '{#$templets_skin#}';
        var typeid = '{#$list_id#}';
        var criticalPoint = 1240, criticalClass = "w1200";
        $("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
        var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
        var keywords = '{#$keywords#}';
        var list_lower = '{#$list_lower#}';
        var money ="{#echoCurrency type='symbol'#}";
    </script>
</head>

<body class="w1200">
{#$pageCurr = "store"#}
{#include file="../../siteConfig/top1.html"#}
<!-- 导航 s-->
{#include file="header_search.html"#}

<!-- 导航 e-->
<div class="main_wrap">
    <div class="top_banner"><img src="{#$templets_skin#}images/top_banner2.png" alt=""></div>
    <div class="yi_wrap wrap">
        <div class=" crumbs fn-clear">
            <div class="cont">
                <span>{#$langData['homemaking'][12][39]#}</span>  {#* 您的位置： *#}
                <a href="{#$homemaking_channelDomain#}">{#$homemaking_channelName#}</a>
                 <em>></em>
                <em>{#$langData['homemaking'][12][2]#}</em>  {#* 商家优选 *#}
            </div>
        </div>
        <div class="filter_box">

            <div class="filter">
                <!-- 所在区域  s -->
                <dl class="fn-clear" id="addr">
                    <dt>{#$langData['siteConfig'][19][27]#} </dt>  {#* 所在区域 *#}
                    <dd class="chooseClass" data-chose="quyu">
                        <a href="{#getUrlPath service='homemaking' template='store' param="addrid=0&business=0&type=$type&typeid=$typeid&orderby=$orderby&keywords=$keywords"#}" data-id="0" {#if $addrid == 0#}  class="curr" {#$addridName = "全部"#} {#/if#}>{#$langData['siteConfig'][9][0]#}</a> {#* 全部 *#}
                        {#homemaking action="addr" return="addr" son="once"#}
                        <a href="{#getUrlPath service='homemaking' homemaking='store' param="addrid={#$addr.id#}&business=$business&type=$type&typeid=$typeid&orderby=$orderby&keywords=$keywords"#}" {#if $addrid == $addr.id#}  class="curr" {#$addridName = {#$addr.typename#}#} {#/if#} data-id="{#$addr.id#}" class="firt_a">{#$addr.typename#}</a>
                        {#/homemaking#}

                       {#if $addrid!=0 || $business!=0#}
                        <div class="subnav fn-clear" style="display: block;">
                            <div id="addr{#$addr1.id#}" class="chooseClass" data-chose="quyu_sub" style="display: block;">
                                <a href="{#getUrlPath service='homemaking' template='store' param="addrid=$addrid&business=0&type=$type&typeid=$typeid&orderby=$orderby&keywords=$keywords"#}" data-id="{#$addr1.id#}" {#if $business == 0#} 
                                {#$businessName = '全部'#} class="curr" {#/if#}>{#$langData['education'][3][17]#}</a>      {#* 不限 *#}
                                {#homemaking action="addr" return="addr2" type=$addrid#}
                                {#if $addr2.id == $business#}
                                    {#$businessName = $addr2.typename#}
                                {#/if#}
                                <a href="{#getUrlPath service='homemaking' template='store' param="addrid=$addrid&business={#$addr2.id#}&type=$type&typeid=$typeid&orderby=$orderby&&keywords=$keywords"#}" data-id="{#$addr2.id#}" {#if $business==$addr2.id#} class="curr" {#/if#}>{#$addr2.typename#}</a>
                                {#/homemaking#}
                            </div>
                        </div>
                        {#/if#}

                    </dd>
                    
                </dl>
                <!-- 所在区域 e -->

                <!-- 服务类型 s -->

                <!--没有二级分类时-->
                <!-- {#if $list_id == 0#} -->
                <!-- <dl class="fn-clear" id="fnav">
                    <dt>{#$langData['siteConfig'][42][52]#}</dt>  {#* 服务类型 *#}
                    <dd>
                        <div class="f_more">{#$langData['siteConfig'][18][18]#}<i></i></div> {#* 更多 *#}
                        <div class="item_box chooseClass" data-chose="category1">
                            <a href="" class="curr">{#$langData['siteConfig'][22][96]#}</a>{#* 不限 *#} 
                            {#homemaking action="type" return="type1111"#}
                            <a href="javascript:;">{#$type111.typename#}</a>
                            {#/homemaking#}
                        </div>
                    </dd>
                </dl> -->
                <!-- {#/if#} -->
                <!--有二级分类时-->                
                <dl class="fn-clear" id="subnav" data-id="">
                    <dt>{#$langData['siteConfig'][42][52]#}</dt>  {#* 服务类型 *#}
                    <dd>
                        <div class="f_more">{#$langData['siteConfig'][18][18]#}<i></i></div> {#* 更多 *#}
                        <div class="item_box chooseClass fn-clear" data-chose="category2">
                            <a href="{#getUrlPath service='homemaking' template='store' param="addrid=$addrid&business=$business&type=0&typeid=0&orderby=$orderby&keywords=$keywords"#}" data-id="" {#if $type==0#} class="curr" {#$typeName="全部"#} {#/if#}>{#$langData['siteConfig'][9][0]#}</a> {#* 全部 *#}
                            {#$lower = ''#}
                            {#homemaking action="type" return='typelist'#}
                            {#if $type == $typelist.id #}
                            {#$lower = $typelist.lower#}
                            {#/if#}             
                            <a href="{#getUrlPath service='homemaking' template='store' param="addrid=$addrid&business=$business&type={#$typelist.id#}&typeid=$typeid&orderby=$orderby&keywords=$keywords"#}" data-id="{#$typelist.id#}" class="firt_a {#if $type =={#$typelist.id#}#}  curr {#$typeName= {#$typelist.typename#}#}{#/if#}{#if $typelist.lower>0#}hasSub{#/if#}">{#$typelist.typename#}</a>
                            {#/homemaking#}
                            {#if $type!=0 && $lower!=''#}
                            <div class="subnav fn-clear" id="classify_subnav" style="display: block;">
                                                         
                                <div id="subnav{#$type1.id#}" class="chooseClass" data-chose="category2_sub" style="display: block;">
                                    <a href="{#getUrlPath service='homemaking' template='store' param="addrid=$addrid&business=$business&type=$type&typeid=0&orderby=$orderby&keywords=$keywords"#}" data-id="" {#if $typeid==0#} class="curr" {#$typeidName="全部"#} {#/if#}>{#$langData['siteConfig'][22][96]#}</a>{#* 不限 *#}   
                                  {#homemaking action="type" return="type1" type='1'#} 
                                    <a href="{#getUrlPath service='homemaking' template='store' param="addrid=$addrid&business=$business&type=$type&typeid={#$type1.id#}&homemakingtype=$homemakingtype&price=$price&keywords=$keywords"#}" data-id="{#$type1.id#}"  {#if $typeid=={#$type1.id#}#} class="curr" {#$typeidName = {#$type1.typename#}#} {#/if#} >{#$type1.typename#}</a>    
                                   {#/homemaking#}
                                </div>                         
                               
                            </div>
                            {#/if#}
                        </div>
                    </dd>
                </dl>          
                <!-- 服务类型 e -->

            </div>
            <div class="other_filter">
                <dl class="fn-clear">
                    <dt>{#$langData['homemaking'][3][16]#}</dt>  {#* 排序 *#}
                    <dd>
                        <a href="{#getUrlPath service='homemaking' template='store' param="addrid=$addrid&business=$business&type=$type&typeid=0&orderby=&keywords=$keywords"#}" data-id="0"  {#if $orderby==""#} class="active"{#/if#}>{#$langData['homemaking'][8][75]#}</a>     {#* 服务内容 *#}                    
                        <a href="{#getUrlPath service='homemaking' template='store' param="addrid=$addrid&business=$business&type=$type&typeid=0&orderby=4&keywords=$keywords"#}" data-id="4" {#if $orderby==4#} class="active"{#/if#} ><i class="juli-icon"></i>{#$langData['homemaking'][8][76]#}</a>     {#* 最短距离 *#}
                        <a href="{#getUrlPath service='homemaking' template='store' param="addrid=$addrid&business=$business&type=$type&typeid=0&orderby=1&keywords=$keywords"#}" data-id="1" {#if $orderby==1#} class="active"{#/if#} ><i class="see-icon"></i>{#$langData['homemaking'][8][77]#}</a>     {#* 最多浏览 *#}
                        <a href="{#getUrlPath service='homemaking' template='store' param="addrid=$addrid&business=$business&type=$type&typeid=0&orderby=5&keywords=$keywords"#}" data-id="5" {#if $orderby==5#} class="active"{#/if#} >{#$langData['homemaking'][8][78]#}</a>     {#* 最多预约 *#}                     
                    </dd>
                </dl>
            </div>
            {#if $keywords != "" || $addrid !=0  || $business !=0  || $type!=0 || $typeid!=0 #}
            <div class="deletebox">
                <dl class="fi-state fn-clear" style="display: block;" >
                    <dt>{#$langData['siteConfig'][6][21]#}</dt>  {#* 已选 *#}
                    <dd class="fn-clear">
                         {#if $addrid#}
                        <a href="{#getUrlPath service='homemaking' homemaking='list' param="addrid=0business=0&type=$type&typeid=$typeid&homemakingtype=$homemakingtype&price=$price&keywords=$keywords"#}"><span>{#$addridName#}</span><i class="idel"></i></a>
                        {#/if#}

                        {#if $business#}
                        <a href="{#getUrlPath service='homemaking' homemaking='list' param="addrid=$addridbusiness=0&type=$type&typeid=$typeid&homemakingtype=$homemakingtype&price=$price&keywords=$keywords"#}"><span>{#$businessName#}</span><i class="idel"></i></a>
                        {#/if#}

                        {#if $type#}
                        <a href="{#getUrlPath service='homemaking' homemaking='list' param="addrid=$addrid&business=$business&type=0&typeid=0&homemakingtype=$homemakingtype&price=$price&keywords=$keywords"#}"><span>{#$typeName#}</span><i class="idel"></i></a>
                        {#/if#}
                        {#if $typeid#}
                        <a href="{#getUrlPath service='homemaking' homemaking='list' param="addrid=$addrid&business=$business&type=$type&typeid=0&homemakingtype=$homemakingtype&price=$price&keywords=$keywords"#}"><span>{#$typeidName#}</span><i class="idel"></i></a>
                        {#/if#}
                    </dd>
                    <a class="btn_clear" href="javascript:;">{#$langData['homemaking'][12][43]#}</a>  {#* 重置条件 *#}
                </dl>
            </div>
            {#/if#}
        </div>
    </div>
    

<!-- 列表 -->
<div class="wrap store_wrap fn-clear">

    <div class="store_content">
        <ul class="list_ul">

            {#homemaking action="storeList" return='list' addrid={#$addrid#}  business={#$business#} type={#$type#} typeid={#$typeid#} orderby={#$orderby#} page={#$page#} pageSize='5'#}
            <li class="fn-clear">
                <a href="{#$list.url#}" target="_blank">
                    {#* 推荐 *#}
                    {#if $list.rec==1#}<span class="tui-icon">{#$langData['homemaking'][4][12]#}</span>{#/if#}
                    <div class="left_b"><img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt=""></div>
                    <div class="right_b">
                        <h2 class="store_title">{#$list.title#}</h2>                            
                        <h5 class="store_type">
                            {#foreach from=$list.tagAll.jc key="k" item=val#}
                            <span>{#$val#}</span>
                            {#/foreach#}
                        </h5>
                        <div class="pos_box"><i></i>{#$list.address#}</div>
                        <p class="see_call">
                            <span class="call2"><i></i><em data-tel="{#$list.tel#}">{#$langData['homemaking'][12][28]#}</em></span> {#* 查看电话 *#}
                        </p>                                            
                    </div>
                </a>
            </li>
           {#/homemaking#}
            {#if $pageInfo.totalCount == 0#}
            <li class="empty failed"><img src="{#$templets_skin#}images/icon_faild.png"><span>{#$langData['education'][8][24]#} </span></li>
           {#/if#}
        </ul>
        {#getPageList service='homemaking' template='store' pageType='dynamic' param="page=#page#"#}
    </div>
    <div class="new_store">
        <div class="newr_content">
            <h2 class="newr_tit">{#$langData['homemaking'][12][44]#}</h2> {#* 最新入驻 *#}
            <ul>
                {#homemaking action="storeList" orderby="2" return='list' pageSize='5'#}
                    <li><a href="{#$list.url#}" target="_blank">
                        <div class="r_left">
                            <img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="">
                        </div>
                        <div class="r_right">
                            <p class="store_pub">{#date("Y-m-d", $list.pubdate)#}</p>
                            <p class="store_desc">{#$langData['homemaking'][0][4]#}{#$list.title#}{#$langData['siteConfig'][16][94]#}</p>{#* 欢迎  入驻成功*#}                          
                        </div>                      
                    </a></li>
                {#/homemaking#}

            </ul>
        </div>
        <div class="newr_content2">
            <h2 class="newr_tit2">{#$langData['siteConfig'][16][2]#}</h2> {#* 猜你喜欢 *#}
            <ul>
                {#homemaking action="storeList" orderby="1" return='list' pageSize='1'#}
                    <li><a href="{#$list.url#}" target="_blank">
                        <div class="r_topImg">
                            <img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="">
                        </div>
                        <div class="r_botInfo">
                            <h3 class="store_tit">{#$list.title#}</h3>
                            <h5 class="store_type">
                                {#foreach from=$list.tagAll.jc key="k" item=val#}
                                <span>{#$val#}</span>
                                {#/foreach#}
                            </h5>                        
                        </div>                      
                    </a></li>
                {#/homemaking#}

            </ul>
        </div>
    </div>

</div>


{#include file="bottom.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/list.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
