<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$detail_title#}-{#$homemaking_channelName#}</title>        {#* 公司详情 *#}
    <meta name="keywords" content="{#$homemaking_keywords#}" />
    <meta name="description" content="{#$homemaking_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/store-detail.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$homemaking_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}', templatePath = '{#$templets_skin#}';
        var criticalPoint = 1240, criticalClass = "w1200";
        $("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
        var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
        var id='{#$detail_id#}';
        var pageData = {
            title: '{#$detail_title#}',
            address: '{#$detail_address#}',
            lat: '{#$detail_lat#}',
            lng: '{#$detail_lng#}',
            mapType: '{#$site_map#}',
            cityName: '{#$siteCityInfo['name']#}',
            mapKey: '{#$site_map_key#}'
        };
        var imconfig = {
            'mod':'homemaking',
            'chatid':"{#$detail_userid#}",
        }
        var subpage = 1,teapage = 1,pageSize1 = 20,pageSize2 = 20;
        var store = '{#$detail_id#}';
    </script>
</head>

<body class="w1200">
{#$pageCurr = "store"#}
{#include file="../../siteConfig/top1.html"#}
<!-- 导航 s-->
{#include file="header_search.html"#}

<!-- 导航 e-->
<div class="main_wrap">
    <div class="top_wrap">
        <div class="wrap storeInfo fn-clear">
            <div class="store_logo fn-left">
                <img src="{#if $detail_pics|@count >0#}{#$detail_pics[0].path#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="">
            </div>
            <div class="store_mid fn-left">
                <div class="title_div">
                    <h1>{#$detail_title#}</h1>
                    {#* 推荐商家 *#}
                    {#if $detail_rec == 1#}<span class="tui-icon"><i></i><em>{#$langData['homemaking'][1][13]#}</em></span>{#/if#}
                </div>
                <dl class="fn-clear">
                    {#foreach from=$detail_tag_Arr item=val#}
                        <dd>{#$val#}</dd>
                    {#/foreach#}
                </dl>
                <p class="open-time"><i></i><span>{#$langData['homemaking'][2][3]#}：{#$detail_opentime#}</span></p>   {#* 营业时间 *#}
                <div class="pos_box"><a href="javascript:;"class="appMapBtn" target="_blank"><i></i>{#$detail_address#}</a></div>
            </div>
            <div class="store_r fn-right">
                <div class="btn_group ">
                    {#* 已收藏 *#} {#* 收藏 *#}
                    <a href="javascript:;" class="store-btn{#if $detail_collect == 1#} curr{#/if#}"><button><em></em><span>{#if $detail_collect == 1#}{#$langData['homemaking'][8][84]#}{#else#}{#$langData['homemaking'][0][10]#}{#/if#}</span></button></a>
                    <span class="contact chat_to-Link" data-type="user"><img src="{#$templets_skin#}images/contact.png" alt=""></span>
                </div>
                <p class="see_phone" data-tel='{#$detail_tel#}'>{#$langData['homemaking'][12][28]#}</p>   {#* 查看电话 *#}
            </div>
        </div>
    </div>

    <!-- 列表 -->
    <div class="detail_wrap fn-clear">
        <div class="detail_tab">
            <ul class="fn-clear wrap">
                <li class="active"><a href="javascript:;">{#$langData['homemaking'][1][16]#}</a></li>   {#* 服务项目 *#}
                <li><a href="javascript:;">{#$langData['homemaking'][1][2]#}</a></li>   {#* 保姆月嫂 *#}
            </ul>
        </div>
        <div class="detail_con ser_project wrap show">
            <ul class="pro_ul fn-clear">
                {#homemaking action="hList" return="list"  page=1 pageSize="20" store="{#$detail_id#}"#}<!-- 真实pageSize=8 此处为测试 头部pagesize也需要改-->
                <li class="fn-clear">
                    <a href="{#$list.url#}" target="_blank">
                        {#* 推荐 *#}
                        {#if $list.rec==1#}<span class="tui-icon">{#$langData['homemaking'][4][12]#}</span>{#/if#}
                        <div class="left_b"><img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt=""></div>
                        <div class="right_b">
                            <div class="con_top">
                                <h2>{#$list.title#}</h2>

                            </div>
                            <div class="sale_after">
                                {#foreach from=$list['store']['flagArr'] key="k" item=tag#}
                                <span><img src="{#$tag['litpic']#}" onerror="this.src='{#$templets_skin#}images/{#$tag['py']#}.png'" alt=""><em>{#$tag['val']#}</em></span>
                                {#/foreach#}

                            </div>
                            <div class="flag">
                                {#foreach from=$list.flagAll.jc key="k" item=val#}
                                <span class="flag_span">{#$val#}</span>
                                {#/foreach#}

                                {#* 预约金 *#} {#* 实价 *#}  {#* 免费预约 *#}
                                <span class="hot_order">{#if $list.homemakingtype==1#}{#$langData['homemaking'][8][60]#}{#elseif $list.homemakingtype==2#}{#$langData['homemaking'][8][61]#}{#else#}{#$langData['homemaking'][8][59]#}{#/if#}</span>

                            </div>
                            <div class="hot_store">
                                <span class="hot_price">{#if $list.price >0#}{#echoCurrency type='symbol'#}<strong>{#$list.price#}</strong>{#else#}<strong>{#$langData['siteConfig'][46][70]#}</strong>{#/if#}</span>   {#* 面议 *#}
                                <em class="fn-right">{#$langData['homemaking'][2][2]#}{#$list.sale#}</em>{#* 已售 *#}
                            </div>
                        </div>
                    </a>
                </li>
               {#/homemaking#}
            </ul>
            <div class="pagination fn-clear"></div>
        </div>
        <div class="detail_con ser_people wrap ">
            <ul class="peo_ul fn-clear">
                {#homemaking action="nannyList" return='nanny' page=1 pageSize='20' store="{#$detail_id#}"#}<!-- 真实pageSize=10 此处为测试 头部pagesize也需要改-->
                <li>
                    <a href="{#$nanny.url#}" target="_blank">
                        {#* 推荐 *#}
                        {#if $nanny.tag && strstr($nanny.tag, "1")#}<span class="tui-icon">{#$langData['homemaking'][4][12]#}</span>{#/if#}
                        <div class="peo_img">
                            <img src="{#if $nanny.photo#}{#$nanny.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="">
                            {#if $nanny.naturedescname !=''#}
                            <p class="bm_type">
                                {#$i=1#}
                                {#foreach from=$nanny.naturedescname key="k" item=nature#}
                                {#if $i>3#}{#break#}{#/if#}
                                <span>{#$nature#}</span>
                                {#$i=$i+1#}
                                {#/foreach#}
                            </p>
                            {#/if#}
                        </div>
                        <div class="peoInfo">
                            <div class="con_top">
                                <h2>{#$nanny.username#}</h2>
                                {#if $nanny.tag && strstr($nanny.tag, "0")#}<i class="jin-icon"></i>{#/if#}
                            </div>
                            {#* 未知 *#} {#* 岁 *#} {#* 未知 *#}
                            <p class="peo_detail">{#if $nanny.age == 0#}{#$langData['siteConfig'][21][67]#}{#else#}{#$nanny.age#}{#$langData['homemaking'][8][82]#}{#/if#}<em>･</em>{#$nanny.placename#}<em>･</em>{#if $nanny.educationname#}{#$nanny.educationname#}{#else#}{#$langData['siteConfig'][21][67]#}{#/if#}</p>
                            {#* 约   元/月 *#}
                            <p class="bm_salary">{#if $nanny.salaryname > 0#}{#$langData['homemaking'][8][95]#}<strong>{#$nanny.salaryname#}</strong>{#$langData['homemaking'][8][96]#}{#else#}<strong>{#$langData['siteConfig'][46][70]#}</strong>{#/if#}</p>{#* 面议 *#}
                            <div class="peo_store fn-clear">
                                <div class="left_img"><img src="{#if $nanny.store.pics[0].path#}{#$nanny.store.pics[0].path#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt=""></div>
                                <div class="right_b">{#$nanny.store.title#}</div>
                            </div>
                        </div>
                    </a>
                </li>
               {#/homemaking#}
            </ul>
            <div class="pagination2 fn-clear"></div>
        </div>

    </div>
</div>


{#include file="bottom.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/store-detail.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/publicOpenMap.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
