@charset "utf8";
.mainWrap{background: #F1F2F3;padding-top: 20px;padding-bottom: 20px;}
.footer{margin-top: 0}
.leftUser{float: left;margin-right: 20px;width: 340px;box-sizing: border-box;}

.leftUser .per_data {width: 100%;background: #fff;margin-bottom: 20px;padding: 30px 27px 28px;box-sizing: border-box;
    }
.per_data .personalImg {width:120px;height:120px;overflow:hidden;border-radius:50%;margin: 0 auto; }
.per_data .personalImg img {width:100%;height:100%;object-fit: cover}
.per_data h3.perName{font-size: 22px;color: #313233;font-weight: bold;margin: 12px auto 10px;text-align: center;}
/*简介*/
.proCon {margin-top: 30px;position: relative;}

.proCon .proDetail span.speSpan{font-size: 15px;color: #666;position: absolute;left: 0;top: 0;}
.proCon .proDetail div{font-size: 15px!important;color: #666!important;line-height: 22px!important;overflow: hidden;text-indent: 40px;}
.proCon .proDetail.active{padding-bottom: 10px;text-align: justify;}
.proCon em.zk{font-size: 14px;color: #134181;    position: absolute;right: 0;bottom: 0;cursor: pointer;}
.per_data .perInfo .cout{margin-top:30px;font-size: 0;position: relative;}
.per_data .perInfo .cout s{display: inline-block;width: 1px;height: 35px;background: #eee;position: absolute;left: 50%;top: 50%;margin-top: -17px;}
.per_data .perInfo .cout p{display: inline-block;font-size: 14px;color: #777;width: 50%;text-align: center;}
.per_data .perInfo .cout strong{font-size: 18px;color: #313233;display: block;margin-bottom: -2px;}

.per_data .follow {display:block;margin-top:10px;background:#FF4F11;font-size: 18px;color: #fff;font-weight: bold;height: 40px;line-height: 40px;border-radius: 20px;width:150px;text-align: center;margin: 0 auto;cursor: pointer;}
.per_data .add_follow i{display: inline-block;width: 18px;height: 18px;background:url(../images/addFollow.png) no-repeat center center;background-size:cover;vertical-align: top;margin-right: 4px;margin-top: 11px;}
.guanzhu{position: relative;}
.guanzhu .appo_sec{ width: 152px;height: 75px;border-radius: 10px; color:#4b4c4f;display:none;background:#fff;text-align:center;font-size:14px;position: absolute;z-index:1000006;left:50%;margin-left: -76px;bottom:-90px;border: 1px solid #f2f3f7;box-shadow:0px 5px 23px 0px rgba(0,6,33,0.17);-webkit-animation: popup 0.5s ease-out;-moz-animation: popup 0.3s ease-out;animation: popup 0.3s ease-out; }
.guanzhu .appo_sec:before{content: "";display:inline-block;background: url("../images/ic_border1.png") no-repeat;width: 152px;height: 13px;position: absolute;top: -8px;left:0;z-index: 2}
.guanzhu .appo_sec:after{content: "";display: inline-block;width:0;height:0;border-width:0 8px 8px;border-style:solid;border-color:transparent transparent #fff;position:absolute;top: -7px;left: 50%;margin-left: -8px;z-index: 1;}
.guanzhu .appo_sec p{line-height: 45px;margin-top: 12px;}
.guanzhu .appo_sec p i{display: inline-block;width: 26px;height: 26px;background: url("../images/ic_smile.png") no-repeat;background-size: contain;color: #fff;margin: 0 11px -7px 0;}
.guanzhu .appo_sec span{color: #ff9e4f;}
.guanzhu .appo_cancel{ width: 212px;height: 122px;color:#4b4c4f;display:none;background:#fff;text-align:center;font-size:14px;position: absolute;z-index:1000006;left: 50%;margin-left: -106px;bottom:-140px;border: 1px solid #f2f3f7;box-shadow: 0px 5px 31px 0px rgba(29, 37, 75, 0.11);-webkit-animation: popup 0.5s ease-out;-moz-animation: popup 0.5s ease-out;animation: popup 0.5s ease-out; border-radius: 10px;}
.guanzhu .appo_cancel:before{content: "";display:inline-block;background: url("../images/ic_border.png") no-repeat;width: 250px;height: 13px;position: absolute;top: -8px;left:0;z-index: 2}
.guanzhu .appo_cancel:after{content: "";display: inline-block;width:0;height:0;border-width:0 8px 8px;border-style:solid;border-color:transparent transparent #fff;position:absolute;top: -7px;left: 50%;margin-left: -8px;z-index: 1;}
.guanzhu .appo_cancel p{line-height: 45px;margin-top: 12px;margin-bottom: 15px}
.guanzhu .appo_cancel p i{display: inline-block;width: 26px;height: 26px;background: url("../images/ic_cry.png") no-repeat;background-size: contain;color: #fff;margin: 0 11px -7px 0;}
.guanzhu .appo_cancel div.btn span{display: inline-block;cursor:pointer;width: 78px;height: 28px;line-height: 28px;font-size: 14px;color: #747578;text-align: center;background: #f5f6fa;border-radius: 2px;border: 1px solid #e3e4e7;}
.guanzhu .appo_cancel div.btn span:hover{color: #ff9e4f;border: 1px solid #ffe6d8;background: #fff7f2;}
.guanzhu .appo_cancel div.btn span.gz_sure{margin-right: 10px;}

/*猜你喜欢*/
.per_list{background: #fff;padding: 18px 20px 27px;}
.per_list .perTitle{font-size: 20px;font-weight: bold;color: #333;padding-bottom: 22px;}
.per_list li{margin-top: 30px;}
.per_list li:first-child{margin-top: 0}
.per_list .leftImg {width:50px;height:50px;overflow:hidden;border-radius:50%;float: left; }
.per_list .leftImg a{display: block;width: 100%;height: 100%;}
.per_list .leftImg img {width:100%;height:100%;object-fit: cover}
.per_list .rightUser{margin-left: 60px;height: 50px;position: relative;padding-right: 68px;}
.per_list .rightUser h3{padding-top: 4px}
.per_list .rightUser h3 a{font-size: 14px;color: #313233;width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.per_list .rightUser p.fansp{font-size: 13px;color: #999;width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-top: 4px;}
.per_list .guanzhu{position: absolute;bottom: 10px;right: 0;}
.per_list .follow {display:block;background:#FF4F11;font-size: 12px;color: #fff;font-weight: bold;height: 28px;line-height: 28px;border-radius: 14px;width:68px;text-align: center;cursor: pointer;}
.per_list .add_follow i{display: inline-block;width: 14px;height: 14px;background:url(../images/addFollow2.png) no-repeat center center;background-size:cover;vertical-align: top;margin-right: 2px;margin-top: 7px;}

/*专辑列表*/
.rightList{width: 840px;float: left;background: #fff;padding-bottom: 68px;}
.rightList .albumTop{border-bottom: 1px solid #eee;}
.rightList .albumTop h1{display: inline-block;padding:22px 0 32px 0;position: relative;font-size: 20px;font-weight: bold;margin-left: 24px;}
.rightList .albumTop h1 s{position: absolute;width: 100%;height: 4px;left: 0;bottom: 22px;background: #FF4F11;border-radius: 2px;}
.rightList .albumTop em{float: right;font-size: 14px;color: #999;margin-right: 25px;margin-top: 35px;}
.rightList ul{padding: 0 25px;}
.rightList.perList li{margin-top:40px }
.rightList.perList li:first-child{margin-top: 24px;}
.rightList li .listTop{position: relative;}
.rightList li .listTop h2{font-size: 18px;font-weight: bold;}
.rightList li .listTop p{font-size: 14px;color: #999;}
.rightList li .listTop a{font-size: 14px;color: #666;position: absolute;right: 0;bottom: 4px}
.rightList li .listTop a:hover{color:#FF4F11 }
.listBot{margin-top: 13px;}
.listBot dl {margin-left: 10px;float: left;width: 190px;}
.listBot dl:first-child{margin-left: 0;}
.rightList .top_img{position: relative;width: 190px;height: 104px;border-radius: 6px;overflow: hidden;}
.listBot dl .top_img a{display: block;width: 100%;height: 100%;}
.rightList .top_img img{width: 100%;height: 100%;object-fit: cover;}
.rightList .top_img .scInfo{position: absolute;left: 0;right: 0;bottom: 0;box-sizing: border-box;padding: 0 10px;height: 35px;line-height: 35px;font-size: 14px;color: #fff;background: linear-gradient(0deg, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100%);}
.rightList .top_img .scInfo .time{float: right;}

.rightList .top_img .need{position: absolute;top: 7px;left: 10px;}
.rightList .top_img .need span{display: inline-block;margin-right: 5px;height: 20px;line-height: 20px;padding: 0 8px;font-size: 12px;color: #fff;border-radius: 2px;}
.rightList .top_img .need span.money{background: #FB6E0C;}
.rightList .top_img .need span.vip{background: #E7B220;}

.rightList .vInfo h3{width: 100%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;font-size: 15px;color: #000;margin-top: 4px;}
.rightList .vInfo p{font-size: 14px;color: #999;width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-top: 8px;}

/*专辑列表页面*/
.rightList.albumList{padding-bottom: 60px;}
.rightList li a.sepA{display: block;}
.rightList.albumList ul{margin-top: 25px;}
.rightList.albumList li{margin-right: 10px;float: left;width: 190px;margin-bottom: 28px;}
.rightList.albumList li:nth-child(4n){margin-right: 0}
@font-face {
    font-family: "coregtd";
    src: url("/static/fonts/coregtd6.woff2"),
       url("/static/fonts/coregtd6.woff"),
       url("/static/fonts/coregtd6.ttf"),
       url("/static/fonts/coregtd6.eot"),
       url("/static/fonts/coregtd6.otf");
}