
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][35][1]#}</title>{#* 推广二维码 *#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fenxiao_code.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = cfg_staticPath = '{#$cfg_staticPath#}',templetSkin = '{#$templets_skin#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
	var cookiePre = '{#$cfg_cookiePre#}';
</script>
</head>

<body>
{#$pageTitle = $cfg_fenxiaoName#}
{#include file="top.html"#}

<div class="wrap">
	<div class="container fn-clear">

		{#include file="sidebar.html"#}

		<div class="main">

			<div class="nav_tab">
				<ul class="fn-clear">
					{#* 推广二维码 *#}
					<li class="active" data-type="1"><a href="javascript:;">{#$langData['siteConfig'][35][1]#}</a></li>
				</ul>
			</div>
			<div class="mainCon">
		        <div class="code-box">
		            <div class="codeBoximg"><img src="/include/qrcode.php?data={#$cfg_basehost#}/register.html?fromShare={#$userinfo.userid#}" alt=""></div>
		            <p>{#$langData['siteConfig'][35][17]#}</p>{#* 打开手机扫一扫 *#}
		        </div>

			    <div class="btn-box"> <a class="btn" href="javascript:;">{#$langData['siteConfig'][35][18]#}</a></div>{#* 生成专属海报 *#}
			    <div class="content">
			        <p>{#$cfg_fenxiaoNote|replace:"\n\r":'</p><p>'|replace:"\n":'</p><p>'#}</p>
			    </div>


			</div>

		</div>
	</div>
</div>
<div class="hbMask"></div>
<div class="caseBox">
	<i class="closeHx"></i>
    <h3 class="c-tit">{#$langData['siteConfig'][35][18]#}</h3>{#* 生成专属海报 *#}
    <div id="slideBox" class="slideBox">
		<div class="hd">
			<ul></ul>
		</div>
		<div class="bd">
			<ul>
				{#$n = 1#}
                {#member action="getFenxiaoPosterpic" return="list"#}
				<li class="hasLi" data-xAxis="{#$list.xAxis#}" data-yAxis="{#$list.yAxis#}" data-codewidth="{#$list.codewidth#}" data-codeheight="{#$list.codeheight#}" data-imgwidth="{#$list.imgwidth#}" data-imgheight="{#$list.imgheight#}">
                    <div class="drawImg drawImg{#$n#}"><img class="loading" src="{#$templets_skin#}images/loading.gif"><p>{#$langData['siteConfig'][35][21]#}</p></div>{#* 生成中 *#}
                    <div class="imgBox imgBox{#$n#}">
                        <div class="code-img"><img src="/include/qrcode.php?data={#$cfg_basehost#}/register.html?fromShare={#$userinfo.userid#}" alt=""></div>
                        <div class="pimg"><img src="{#$list.litpicpath#}" alt=""></div>
                    </div>
                </li>
                {#if $list.litpicpath#}
                {#$n = $n+1#}
                {#/if#}           
                {#/member#}
                {#if $n == 1#}
				<li class="noLi">
                    <div class="drawImg drawImg1" ><img class="loading" src="{#$templets_skin#}images/loading.gif"><p>{#$langData['siteConfig'][35][21]#}</p></div>{#* 生成中 *#}
                    <div class="imgBox imgBox1">
                        <div class="code-img"><img src="/include/qrcode.php?data={#$cfg_basehost#}/register.html?fromShare={#$userinfo.userid#}" alt=""></div>
                        <div class="pimg"><img src="{#$templets_skin#}touch/upfile/bg_1.png?v={#$cfg_staticVersion#}" alt=""></div>
                    </div>
                </li>
                <li class="noLi">
                    <div class="drawImg drawImg2" ><img class="loading" src="{#$templets_skin#}images/loading.gif"><p>{#$langData['siteConfig'][35][21]#}</p></div>
                    <div class="imgBox imgBox2">
                        <div class="code-img"><img src="/include/qrcode.php?data={#$cfg_basehost#}/register.html?fromShare={#$userinfo.userid#}" alt=""></div>
                        <div class="pimg"><img src="{#$templets_skin#}touch/upfile/bg_2.png?v={#$cfg_staticVersion#}" alt=""></div>
                    </div>
                </li>
                <li class="noLi">
                    <div class="drawImg drawImg3" ><img class="loading" src="{#$templets_skin#}images/loading.gif"><p>{#$langData['siteConfig'][35][21]#}</p></div>
                    <div class="imgBox imgBox3">
                        <div class="code-img"><img src="/include/qrcode.php?data={#$cfg_basehost#}/register.html?fromShare={#$userinfo.userid#}" alt=""></div>
                        <div class="pimg"><img src="{#$templets_skin#}touch/upfile/bg_3.png?v={#$cfg_staticVersion#}" alt=""></div>
                    </div>
                </li>
                <li class="noLi">
                    <div class="drawImg drawImg4" ><img class="loading" src="{#$templets_skin#}images/loading.gif"><p>{#$langData['siteConfig'][35][21]#}</p></div>
                    <div class="imgBox imgBox4">
                        <div class="code-img"><img src="/include/qrcode.php?data={#$cfg_basehost#}/register.html?fromShare={#$userinfo.userid#}" alt=""></div>
                        <div class="pimg"><img src="{#$templets_skin#}touch/upfile/bg_4.png?v={#$cfg_staticVersion#}" alt=""></div>
                    </div>
                </li>
                <li class="noLi">
                    <div class="drawImg drawImg5" ><img class="loading" src="{#$templets_skin#}images/loading.gif"><p>{#$langData['siteConfig'][35][21]#}</p></div>
                    <div class="imgBox imgBox5">
                        <div class="code-img"><img src="/include/qrcode.php?data={#$cfg_basehost#}/register.html?fromShare={#$userinfo.userid#}" alt=""></div>
                        <div class="pimg"><img src="{#$templets_skin#}touch/upfile/bg_5.png?v={#$cfg_staticVersion#}" alt=""></div>
                    </div>
                </li>
                {#/if#}

			</ul>
		</div>

		<!-- 下面是前/后按钮代码，如果不需要删除即可 -->
		<a class="prev" href="javascript:void(0)"></a>
		<a class="next" href="javascript:void(0)"></a>

	</div>
	<div class="xzPoster">
		<a href="javascript:;" class="downPoster">{#$langData['siteConfig'][49][55]#}</a>{#* 保存图片 *#}
	</div>

</div>
<script>
var postConfig = {
	title: '{#$cfg_webname#}',
	description: '{#$cfg_description#}',
	imgUrl: '{#$cfg_share#}',
	link: '{#$cfg_basehost#}/register.html?fromShare={#$userinfo.userid#}'
};
</script>
{#include file="footer.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{#$templets_skin#}touch/js/html2canvas.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/fenxiao_code.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
