
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][54][42]#}{#$cfg_fenxiaoName#}</title>{#* 加入 *#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fenxiao_join.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = cfg_staticPath = '{#$cfg_staticPath#}',templetSkin = '{#$templets_skin#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
	var cookiePre = '{#$cfg_cookiePre#}';
	var fenxiaoUrl = '{#getUrlPath service='member' type='user' template='fenxiao'#}';
	var identify = {#$cfg_fenxiaoType|default:0#};//加入合伙人单个身份为0 否则为1
	var geetest = {#$cfg_geetest#};
	var tj_state = {#$tj_state#};

</script>
</head>

<body>
{#$pageTitle = $cfg_fenxiaoName#}
{#include file="top.html"#}

<div class="wrap">
	<div class="container fn-clear">

		{#include file="sidebar.html"#}

		<div class="main">

			<div class="nav_tab">
				<ul class="fn-clear">
					 {#* 加入合伙人 *#}
					<li class="active" data-type="1"><a href="javascript:;">{#$langData['siteConfig'][54][42]#}{#$cfg_fenxiaoName#}</a></li>
				</ul>
			</div>
			{#if $tj_state == 0#}
			<div class="sub_res">
			  <s><img src="{#$templets_skin#}images/fenxiao/wait.png" alt=""></s>
			  <p>{#$langData['siteConfig'][19][741]#}</p>{#* 已提交，正在审核中 *#}
			</div>
			{#elseif $tj_state == 2#}
			<div class="sub_res">
				<s><img src="{#$templets_skin#}images/fenxiao/error.png" alt=""></s>
				<p class="state0">{#$langData['siteConfig'][41][1]#}</p>{#*您的申请审核失败，请联系管理员！*#}
			</div>
			{#else#}
			<div class="main_wrap">
				<div class="mainCon">
				    <div class="topTitle">
						<i class="fxjoin-T"></i>
						<h3>{#$langData['siteConfig'][54][47]#}</h3> {#* 低投入/高利润/可持续收益*#}
					</div>
					<div class="comCon partnerPro">
						<div class="topBg"><span class="comBg">{#$cfg_fenxiaoName#}介绍</span></div>
						<div>{#$cfg_fenxiaoJoinNote#}</div>
					</div>
					{#if $cfg_fenxiaoType#}
					<!-- 单个身份时 paGoods 隐藏 -->
					<div class="paGoods">
						<h2><span>{#$cfg_fenxiaoName#}{#$langData['siteConfig'][54][43]#}</span><i></i></h2> {#* 权益*#}
						<ul class="fn-clear">

							{#foreach from=$cfg_fenxiaoLevel item=level#}
							<li class="{#if ($cfg_fenxiaoLevel|@count) == 3#}smallLi{#else#}bigLi{#/if#}" >
								<span class="comlevel">{#$level.name#}</span>
								<p>交费{#$level.amount#}元即可成为{#$level.name#}，即可享受邀请粉丝相应权利，加粉丝分佣{#$level.fee#}%{#if $level.back#}，以及每月返现{#$level.back#}元。{#/if#}</p>
							</li>
							{#/foreach#}
						</ul>
					</div>
					{#/if#}
					<div class="applyPa">
						<div class="topBg"><span class="comBg">{#$langData['siteConfig'][41][0]#}{#$cfg_fenxiaoName#}</span></div>{#*申请*#}
						<form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=member&action=fenxiaoJoin" data-url="{#getUrlPath service='member' type='user' template='fenxiao_join'#}">
							<div class="comBox"  id="selAddr">
								<div class="fn-clear addrBtn"  data-ids="{#getPublicParentInfo tab='site_area' id=$detail_addrid split=' '#}" data-id="{#$detail_addrid#}">
									<input type="text" placeholder="选择分站" id="cityName" readonly>
									<i class="choose"></i>
								</div>
								<input type="hidden" name="addr" id="addr" value="{#$detail_addrid#}">
								<p class="tip">{#$langData['siteConfig'][54][51]#}</p>{#*合伙人初始城市一经选择，不可再更改，请谨慎选择*#}
							</div>

							{#if $cfg_fenxiaoType#}
							<!-- 单个身份时 选择合伙人等级 隐藏 -->
							<div class="comBox">
								<div class="fn-clear chooseLevel">
									{#*选择合伙人等级*#}
									<input type="text" placeholder="{#$langData['siteConfig'][54][53]#}" id="levelname" readonly>
									<i class="choose"></i>
									<div class="levelList">
										<ul>
											{#foreach from=$cfg_fenxiaoLevel key='index' item=level#}
									      	<li data-id="{#$index#}" data-price="{#$level.amount#}">{#$level.name#}</li>
											{#/foreach#}
									    </ul>
									</div>
								</div>
								{#*合伙人等级不同对应的收益也不相同*#}
								<p class="tip">{#$langData['siteConfig'][54][52]#}</p>
								<input type="hidden" name="level" id="level" value="{#$detail_addrid#}">
							</div>
							{#/if#}

							<div class="basicInfo">
								<h3 class="commT speT">{#$langData['siteConfig'][28][15]#}</h3>{#*账号信息*#}
								<div class="basicCon">
									<dl>
										<dt><label for="username">{#$langData['siteConfig'][19][20]#}</label></dt>{#*用户名*#}
										<dd><input type="text" class="space" id="username" value="{#$userinfo.username#}" placeholder="{#$langData['siteConfig'][31][108]#}" readonly/></dd>
									</dl>
									<dl>
										<dt><label for="nickname">{#$langData['siteConfig'][19][6]#}</label></dt>{#*昵称*#}
										<dd><input type="text" class="space" id="nickname" value="{#$userinfo.nickname#}" placeholder="{#$langData['siteConfig'][31][108]#}" readonly/></dd>
									</dl>
									<dl>
										<dt><label for="realname">{#$langData['siteConfig'][19][31]#}</label></dt>{#*真实姓名*#}
										<dd><input type="text" class="space" id="realname" value="{#$userinfo.realname#}" placeholder="{#$langData['siteConfig'][31][108]#}" readonly/></dd>
									</dl>
								</div>
							</div>
							<div class="contactInfo">
								<h3 class="commT">{#$langData['siteConfig'][19][424]#}</h3>{#*联系方式*#}
								<div class="basicCon">
									<dl class="areChoose">
										<dt><label for="contact">{#$langData['siteConfig'][40][1]#}</label></dt>{#*选择地区*#}
										<dd>
											<span class="areCs">{#$internationalPhoneSection[0]['code']#}</span>
											<i></i>
											<input type="hidden" name="areaCode" id="areaCode" value="{#$internationalPhoneSection[0]['code']#}">
											<div class="areaCode_wrap areaCode_wrap2">
								              <ul>

								              </ul>
								            </div>
										</dd>
									</dl>
									<dl>
										<dt><label for="contact">{#$langData['siteConfig'][37][86]#}</label></dt>{#*手机号*#}
										<dd><input type="text" name="phone" id="contact" value="{#if $detail_contact != ""#}{#$detail_contact#}{#else#}{#$userinfo.phone#}{#/if#}" placeholder="{#$langData['siteConfig'][40][19]#}"/></dd>
									</dl>
									<dl>
										<dt><label for="contact">{#$langData['siteConfig'][4][0]#}</label></dt>{#*验证码*#}
										<dd>
											<div class="test_code fn-clear">
												<p class="code_input"><input type="text" maxlength="6" placeholder="{#$langData['siteConfig'][20][176]#}" id="vercode" name="vercode" /></p>{#*请输入验证码*#}
												<p class="test_btn"><button class="getCodes" type="button">{#$langData['siteConfig'][4][7]#}</button></p>{#*发送验证码*#}
											</div>
										</dd>
									</dl>



								</div>
							</div>
						</form>
						<!-- 单个身份时 botPrice 隐藏  sub_btn加类名 allSub  bottomPart加bottomPart2-->
						<div class="bottomPart">
							{#if $cfg_fenxiaoType == 1#}
							<div class="botPrice">
								<div class="fakeD">
									<div class="priceAll">{#echoCurrency type='symbol'#} <strong>0.00</strong></div>
									<p></p>
								</div>
							</div>
							{#/if#}
							<div class="sub_btn{#if !$cfg_fenxiaoType#} allSub{#/if#}">{#$langData['siteConfig'][54][44]#}</div>{#*立即加入*#}
						</div>
						<div class="error"></div>
					</div>

				</div>
			</div>

			{#/if#}

		</div>

	</div>
</div>

{#include file="footer.html"#}
{#if $cfg_geetest#}<script type="text/javascript" src="{#$cfg_secureAccess#}static.geetest.com/static/tools/gt.js"></script>{#/if#}
<script type="text/javascript" src="{#$templets_skin#}js/fenxiao_join.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/fxjoinAddr.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
