
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$cfg_fenxiaoName#}-{#$langData['siteConfig'][35][6]#}</title>{#* 佣金详情 *#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fenxiao_commission_detail.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = cfg_staticPath = '{#$cfg_staticPath#}',templetSkin = '{#$templets_skin#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
	var cookiePre = '{#$cfg_cookiePre#}';
</script>
</head>

<body>
{#$pageTitle = $cfg_fenxiaoName#}
{#include file="top.html"#}

<div class="wrap">
	<div class="container fn-clear">

		{#include file="sidebar.html"#}

		<div class="main">

			<div class="nav_tab">
				<ul class="fn-clear">
					{#* 佣金明细详情 *#}
					<li class="active" data-type="1"><a href="javascript:;">{#$langData['siteConfig'][54][71]#}</a></li>
				</ul>
			</div>
			<div class="mainCon">
			    <div class="topCon">
			        <div class="img-box"><img src="{#$templets_skin#}images/fenxiao/fxDetail.png" alt=""></div>
			        <p class="name">{#$langData['siteConfig'][35][7]#}-{#$langData['siteConfig'][35][8]#}{#$order.moduleName#}{#$langData['siteConfig'][19][359]#}</p>{#* 佣金 / 来自 / 订单*#}
			        <p class="money">+{#$order.amount#}</p>
			    </div>
			    <div class="order-info">
			        <dl class="fn-clear"><dt>{#$langData['siteConfig'][19][50]#}</dt><dd>{#$order.ordernum#}</dd></dl>{#* 订单编号 *#}
			        <dl class="fn-clear"><dt>{#$langData['siteConfig'][35][9]#}</dt><dd>{#$order.byuser#}</dd></dl>{#* 下单账号 *#}
			        <dl class="fn-clear"><dt>{#$langData['siteConfig'][35][10]#}</dt><dd>{#$order.pubdate|date_format:'%Y-%m-%d %H:%M:%S'#}</dd></dl>{#* 结算时间 *#}
			    </div>
			    <div class="order-list">
			        <ul>
			            {#foreach from=$order.product item='pro'#}
			            <li class="fn-clear">
			                <div class="img-box fn-left"><img src="{#$pro.litpic#}" alt=""></div>
			                <div class="info">
			                    <p class="tit">{#$pro.title#}</p>
			                    <p class="con fn-clear"><span class="pay">{#$langData['siteConfig'][35][11]#} <em>{#echoCurrency type='symbol'#}{#$pro.price#} × {#$pro.count#}</em></span> <span class="yongjin"> {#$langData['siteConfig'][35][7]#}{#if strstr($pro.fx_reward_ratio, '%')#} {#$pro.fx_reward_ratio#}{#/if#} <em>{#echoCurrency type='symbol'#}{#$pro.fx_reward#}</em></span></p>{#* 实付 / 佣金 *#}
			                </div>
			            </li>
			            {#/foreach#}
			        </ul>
			    </div>
			    <div class="total-box">
			        <p class="total fn-clear">{#$langData['siteConfig'][35][12]#} <span class="fn-right">{#echoCurrency type='symbol'#}{#$order.reward#}</span></p>{#* 商品佣金总计 *#}
			        <p class="prop fn-clear">{#$langData['siteConfig'][35][13]#}：{#$order.levelName#} <span class="fn-right">x {#$order.fee#}</span></p>{#* 我在此订单的分销关系 *#}
			        <p class="actual fn-clear"><span class="fn-right">{#$langData['siteConfig'][35][14]#} <em>{#echoCurrency type='symbol'#}{#$order.amount#}</em></span></p>{#* 实得佣金 *#}
			    </div>
			</div>

		</div>
	</div>
</div>

{#include file="footer.html"#}
</body>
</html>
