<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][5][3]#}</title>{#* 找回密码 *#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/pay.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/pay_list.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fpwd.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', userDomain = '{#$member_userDomain#}', staticPath = '{#$cfg_staticPath#}';
  var geetest = {#$cfg_geetest#};
  var fptype = '{#$fptype#}';
  var typeval = fptype == "phone" ? 2 : 1; // 2：手机，1：邮箱
</script>
</head>

<body class="w1200">
  {#include file="../siteConfig/top1.html"#}

  <!-- head s -->
  <div class="wrap header fn-clear">
    <div class="logo">
  		<a href="{#$cfg_basehost#}" title="{#$cfg_webname#}">
  			<img src="{#$cfg_weblogo#}" alt="{#$cfg_webname#}">
  			<div class="shortname"><h2>{#$cfg_shortname#}</h2><p>{#$langData['siteConfig'][23][26]#}</p></div>{#* 地方最大最全生活网 *#}
  		</a>
  	</div>
  	<dl class="kefu fn-clear">
  		<dt><img src="{#$templets_skin#}images/kf_tel.png" alt=""></dt>
  		<dd>
  			<p class="p1">{#$langData['siteConfig'][19][275]#}</p>{#* 客服热线 *#}
  			<p class="p2">{#$cfg_hotline#}</p>
  		</dd>
  	</dl>
  </div>

  <div class="split-line"></div>

  <!-- head e -->
  <div class="wrap">
  	<div class="fpwdwrap">
      <div class="title"><span>{#$langData['siteConfig'][5][3]#}</span></div>{#* 找回密码 *#}
      <div class="tab-head">
				<ul class="tab-nav fn-clear">
          <li class="icon1 {#if $fptype == "phone" #}active{#/if#}"><a href="javascript:;"><span>{#$langData['siteConfig'][3][8]#}</span></a></li>{#* 手机找回 *#}
					<li class="icon2 {#if $fptype == "email" #}active{#/if#}"><a href="javascript:;"><span>{#$langData['siteConfig'][3][12]#}</span></a></li>{#* 邮箱找回 *#}
				</ul>
			</div>
      <div class="modulebox">
        <div class="tab-pane">
          <div class="ftype" {#if $fptype == "phone" #}style="display: block;"{#/if#}>
            <div class="step step0">
              <ul class="fn-clear">
                <li class="active"><span><i>1</i></span></li>
                <li><span><i>2</i></span></li>
                <li><span><i>3</i></span></li>
              </ul>
            </div>
            <div class="phone-step phone-step0">
              <form action="" method="post" class="form-horizontal">
				<input name="token" id="token" value="{#$token#}" type="hidden" />
                <input type="hidden" name="type" value="2">
                <input type="hidden" name="areaCode" id="areaCode" value="{#$internationalPhoneSection[0]['code']#}">
                <div class="form-step" style="display: block;">
                  <div class="ftype0">

                    <div class="form-row">
                      <dl class="fn-clear">
                        <dt>{#$langData['siteConfig'][3][6]#}</dt>{#* 手机号码*#}
                        <dd class="fn-clear">
                          <div class="dropdown-menu fn-left"><a href="javascript:;" class="droptab" id="J-countryMobileCode"><label>{#$internationalPhoneSection[0]['code']#}</label><i class="droparrow"></i></a></div>
                          <div class="inpbox fn-left">
                            <input type="text" name="phone" value="" placeholder="{#$langData['siteConfig'][20][27]#}" class="username1" id="phone">{#* 请输入您的手机号 *#}
                          </div>
                          <div class="error fn-left"><em></em><i class="error-icon"></i><span>{#$langData['siteConfig'][20][465]#}</span></div>{#* 手机号码格式不正确 *#}
                        </dd>
                      </dl>
                    </div>
                    {#if !$cfg_geetest#}
                    <div class="form-row">
                      <dl class="fn-clear">
                        <dt>{#$langData['siteConfig'][4][0]#}</dt>{#* 验证码 *#}
                        <dd class="fn-clear">
                          <div class="inpbox fn-left">
                            <input type="text" name="vericode" value="" placeholder="{#$langData['siteConfig'][20][176]#}" id="vericode2">{#* 请输入验证码 *#}
                          </div>
                          <div class="fn-left verifycodebox"><img src="/include/vdimgck.php" title="{#$langData['siteConfig'][24][66]#}" /></div>{#* 看不清？点击换一张 *#}
                          <div class="error fn-left"><em></em><i class="error-icon"></i><span>{#$langData['siteConfig'][20][466]#}</span></div>{#* 验证码不正确 *#}
                        </dd>
                      </dl>
                    </div>
                    {#/if#}
                    <div class="form-row">
                      <dl class="fn-clear">
                        <dt></dt>
                        <dd><a href="javascript:;" class="submit getPhoneVerify">{#$langData['siteConfig'][6][32]#}</a></dd>{#* 下一步 *#}
                      </dl>
                    </div>
                  </div>
                </div>
                <div class="form-step">
                  <div class="ftype0">
                    <p class="input-tips">{#$langData['siteConfig'][20][11]|replace:'1':'<span class="blue regphone"></span>'#}</p>{#* 请输入 1 收到的验证码 *#}
                    <div class="form-row">
                      <dl class="fn-clear">
                        <dt>{#$langData['siteConfig'][4][0]#}</dt>{#* 验证码 *#}
                        <dd class="fn-clear">
                          <div class="inpbox fn-left">
                            <input type="text" name="vdimgck" class="yzm" id="vdimgck" value="" placeholder="{#$langData['siteConfig'][20][32]#}" id="vdimgck">{#* 请输入您的手机验证码 *#}
                          </div>
                          <a href="javascript:;" class="sendvdimgck sendvdimgck0 getPhoneVerify fn-left">{#$langData['siteConfig'][4][1]#}</a>{#* 获取验证码 *#}
                          <div class="error fn-left"><em></em><i class="error-icon"></i><span>{#$langData['siteConfig'][20][466]#}</span></div>{#* 验证码不正确 *#}
                        </dd>
                      </dl>
                    </div>
                    <div class="form-row">
                      <dl class="fn-clear">
                        <dt></dt>
                        <dd><a href="javascript:;" class="submit" id="submitFpwd">{#$langData['siteConfig'][6][32]#}</a></dd>{#* 下一步 *#}
                      </dl>
                    </div>
                  </div>
                </div>
                <div class="form-step">
                  <input type="hidden" name="data" id="data" value="" />
                  <div class="form-row">
                    <dl class="fn-clear">
                      <dt>{#$langData['siteConfig'][5][9]#}</dt>{#* 设置密码 *#}
                      <dd class="fn-clear">
                        <div class="inpbox fn-left">
                          <input type="password" class="password" name="" value="" placeholder="{#$langData['siteConfig'][20][30]#}" id="password"><i class="psw-show"></i>
                          <p class="tips">*{#$langData['siteConfig'][20][25]#}</p>{#* 字母区分大小写 *#}
                        </div>
                        <div class="error fn-left"><em></em><i class="error-icon"></i><span>{#$langData['siteConfig'][20][164]#}</span></div>{#* 请输入密码 *#}
                      </dd>
                    </dl>
                  </div>
                  <div class="form-row">
                    <dl class="fn-clear">
                      <dt>{#$langData['siteConfig'][5][10]#}</dt>{#* 确认密码 *#}
                      <dd class="fn-clear">
                        <div class="inpbox fn-left">
                          <input type="password" class="repassword" name="" value="" placeholder="{#$langData['siteConfig'][20][24]#}" id="repassword">{#* 请再次输入密码 *#}
                        </div>
                        <div class="error fn-left"><em></em><i class="error-icon"></i>{#$langData['siteConfig'][20][493]#}</div>{#* 两次密码输入不一样 *#}
                      </dd>
                    </dl>
                  </div>
                  <div class="form-row">
                    <dl class="fn-clear">
                      <dt></dt>
                      <dd><a href="javascript:;" class="submit setpsw">{#$langData['siteConfig'][6][3]#}</a></dd>{#* 完成 *#}
                    </dl>
                  </div>
                </div>
                <div class="popup-captcha2"></div>
              </form>
            </div>
          </div>
          <!-- 邮箱找回 s -->
          <div class="ftype" {#if $fptype == "email" #}style="display: block;"{#/if#}>
            <div class="step step1">
              <ul class="fn-clear">
                <li class="active"><span><i>1</i></span></li>
                <li><span><i>2</i></span></li>
                <li><span><i>3</i></span></li>
              </ul>
            </div>
            <div class="phone-step phone-step1" id="formEmail">
              <div class="form-step" style="display: block;">
                <form action="" method="post" class="form-horizontal-email">
				  <input name="token" id="token" value="{#$token#}" type="hidden" />
                  <input type="hidden" name="type" value="1">
                  <div class="ftype1">
                    <div class="form-row">
                      <dl class="fn-clear">
                        <dt>{#$langData['siteConfig'][3][11]#}</dt>{#* 邮箱账号 *#}
                        <dd class="fn-clear">
                          <div class="inpbox fn-left">
                            <input type="text" class="email" name="email" value="" placeholder="{#$langData['siteConfig'][20][31]#}" id="email">{#* 请输入您的邮箱账号 *#}
                          </div>
                          <div class="error fn-left"><em></em><i class="error-icon"></i><span>{#$langData['siteConfig'][20][31]#}</span></div>{#* 请输入您的邮箱账号 *#}
                        </dd>
                      </dl>
                    </div>
                    {#if !$cfg_geetest#}
                    <div class="form-row">
                      <dl class="fn-clear">
                        <dt>{#$langData['siteConfig'][4][0]#}</dt>{#* 验证码 *#}
                        <dd class="fn-clear">
                          <div class="inpbox fn-left">
                            <input type="text" name="vericode" value="" placeholder="{#$langData['siteConfig'][20][176]#}" id="vericode1">{#* 请输入验证码 *#}
                          </div>
                          <div class="fn-left verifycodebox"><img src="/include/vdimgck.php" title="{#$langData['siteConfig'][24][66]#}" /></div>{#* 看不清？点击换一张  *#}
                          <div class="error fn-left"><em></em><i class="error-icon"></i><span>{#$langData['siteConfig'][20][466]#}</span></div>{#* 验证码不正确  *#}
                        </dd>
                      </dl>
                    </div>
                    {#/if#}
                    <div class="form-row">
                      <dl class="fn-clear">
                        <dt></dt>
                        <dd><a href="javascript:;" class="submit" id="submitFpwdemai">{#$langData['siteConfig'][6][32]#}</a></dd>{#* 下一步 *#}
                      </dl>
                    </div>
                  </div>
                  <div class="popup-captcha1"></div>
                </form>
              </div>
              <div class="form-step">
                <div class="ftype1">
                  <div class="input-tips"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  	</div>
  </div>


  <div class="ui-select" data-widget-cid="widget-1" style="z-index: 99; display: none; position: absolute;">
    <ul class="ui-select-content" data-role="content">

    </ul>
  </div>


{#include file="../siteConfig/public_foot_v3.html" theme='gray'#}

<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.cookie.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/particles.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
{#if $cfg_geetest#}<script type="text/javascript" src="{#$cfg_secureAccess#}static.geetest.com/static/tools/gt.js"></script>{#/if#}
<script type="text/javascript" src="{#$templets_skin#}js/pay.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/fpwd.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
