<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][0][7]#} - {#$cfg_webname#}</title>{#* 会员中心 *#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/index.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};

	var money = {#$userinfo.money#}, freeze = {#$userinfo.freeze#}, point = {#$userinfo.point#};
</script>
</head>

<body class="w1200">
{#include file="top.html"#}

<div class="wrap">
	<div class="container fn-clear">

		{#include file="sidebar.html"#}

		<div class="main">
			<div class="yhInfo fn-clear">
				<div class="fn-left seleInfo">
					<div class="txLogo">
						<a href="{#getUrlPath service='member' type='user' template='portrait'#}">
							<img onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';" src="{#if $userinfo.photo == ""#}{#$cfg_staticPath#}images/noPhoto_100.jpg{#else#}{#changeFileSize url="{#$userinfo.photo#}"#}{#/if#}" />
							{#if $userinfo.level#}<span class="leName">{#$userinfo.levelName#}</span>{#/if#}
						</a>
					</div>
					<h2 class="usName">{#$userinfo.nickname#}</h2>
					<ul class="fn-clear">
						<li><a href="{#if $userinfo.certifyState != 1#}{#getUrlPath service='member' type='user' template='security' doget='chCertify'#}{#else#}{#getUrlPath service='member' type='user' template='security' doget='shCertify'#}{#/if#}" title="{#$langData['siteConfig'][19][255]#}" class="real{#if $userinfo.certifyState != 1#} disable{#/if#}"></a></li>{#* 实名认证 *#}
						<li><a href="{#getUrlPath service='member' type='user' template='security' doget='chphone'#}" title="{#$langData['siteConfig'][3][7]#}" class="mobile{#if $userinfo.phoneCheck == 0#} disable{#/if#}"></a></li>{#* 手机认证 *#}
						<li><a href="{#getUrlPath service='member' type='user' template='security' doget='chemail'#}" title="{#$langData['siteConfig'][3][10]#}" class="email{#if $userinfo.emailCheck == 0#} disable{#/if#}"></a></li>{#* 邮箱认证 *#}
					</ul>
					{#$level = "{#$langData['siteConfig'][13][1]#}"#}{#* 高 *#}
					{#$text = "{#$langData['siteConfig'][6][53]#}"#}{#* 点击查看 *#}
					{#$cla = "l1"#}
					{#if $userinfo.security < 100 && $userinfo.security > 40#}
						{#$level = "{#$langData['siteConfig'][13][2]#}"#}{#* 中 *#}
						{#$text = "{#$langData['siteConfig'][6][54]#}"#}{#* 立即提升 *#}
						{#$cla = "l2"#}
					{#elseif $userinfo.security <= 40#}
						{#$level = "{#$langData['siteConfig'][13][3]#}"#}{#* 低 *#}
						{#$text = "{#$langData['siteConfig'][6][54]#}"#}
						{#$cla = "l2"#}
					{#/if#}
					<div class="safeLe">{#$langData['siteConfig'][19][257]#}：{#$level#}<a href="{#getUrlPath service='member' type='user' template='security'#}" class="{#$cla#}">{#$text#}</a></div>{#* 安全等级 *#}
					<a href="{#$cfg_basehost#}/user-{#$userinfo.userid#}.html" target="_blank" class="myHome">我的主页</a>
				</div>

				<div class="rInfo">

					{#if $userinfo.lastlogintime#}
					<div class="lgInfo">{#$langData['siteConfig'][15][9]#}：{#$userinfo.lastlogintime#}&nbsp;&nbsp;&nbsp;&nbsp;{#$userinfo.lastloginipaddr#}&nbsp;&nbsp;&nbsp;&nbsp;<a href="{#getUrlPath service='member' type='user' template='loginrecord'#}">{#$langData['siteConfig'][6][52]#}>></a></div>{#* 最近一次登录--查看更多  *#}
					{#else#}
					<div class="lgInfo"><a href="{#getUrlPath service='member' type='user' template='loginrecord'#}">{#$langData['siteConfig'][19][682]#}</a></div>{#* 查看登录记录 *#}
					{#/if#}

					<div class="fn-clear moneyInfo">
						{#$ye = '.'|explode:$userinfo.money#}
						<dl><dt>{#echoCurrency type='symbol'#}<strong>{#$ye[0]#}</strong>.{#$ye[1]#}</dt><dd>{#$langData['siteConfig'][19][363]#}</dd></dl> {#* 余额 *#}
						{#if $cfg_pointState#}
						<dl><dt><strong>{#$userinfo.point#}</strong></dt><dd>{#$cfg_pointName#}</dd></dl> {#* 积分 *#}
						{#/if#}
						<ul>
							{#if 'deposit'|in_array:$cfg_ucenterLinks#}
							{#* 立即充值 *#}
							<li><a href="{#getUrlPath service='member' type='user' template='deposit'#}">{#$langData['siteConfig'][54][73]#}</a></li>
							{#/if#}

							{#if in_array("integral", $installModuleArr)#}
							{#* 兑换 *#}
							<li class="duih"><a href="{#$integral_channelDomain#}" target="_blank">{#$cfg_pointName#}{#$langData['siteConfig'][15][15]#}</a></li>
							{#/if#}
						</ul>
					</div>

					<div class="hyInfo">
						<ul class="fn-clear">

							<li class="hytype {#if $userinfo.level#}hycenter{#else#}nolevel{#/if#}"><a href="{#getUrlPath service='member' type='user' template='upgrade'#}">

								{#if $userinfo.level#}
								<h3>{#$langData['siteConfig'][0][7]#}</h3>  {#* 会员中心 *#}
								<p>有效期至{#$userinfo.expired|date_format:"%Y-%m-%d"#}</p>
								<span>{#$langData['siteConfig'][43][23]#}</span>  {#* 立即续费 *#}
								{#else#}
								<h3>{#$langData['siteConfig'][6][217]#}</h3>  {#* 开通会员立享会员权益 *#}
								{#* 立即开通 *#}
								<span>{#$langData['siteConfig'][6][185]#}</span>
								{#/if#}

							</a></li>


							{#if $cfg_qiandao_state#}
							<li class="hyjf"><a href="{#getUrlPath service='member' type='user' template='qiandao'#}">
								<h3>{#$langData['siteConfig'][22][109]#}</h3>  {#* 签到送积分 *#}
								<p>{#if $todayQiandao#}{#$langData['siteConfig'][22][135]#}{#else#}{#$langData['siteConfig'][22][136]#}{#/if#}</p>
								<span>{#$langData['siteConfig'][50][10]#}</span>  {#* 去签到 *#}
							</a></li>
							{#/if#}
						</ul>
					</div>

				</div>
			</div>
			<!-- 功能按钮 s-->
			<div class="func_box">
				<ul class="fn-clear">
					{#if $cfg_fenxiaoState && 'fenxiao'|in_array:$cfg_ucenterLinks#}
					<li><a href="{#getUrlPath service='member' type='user' template='fenxiao'#}"><i class="icon-fenxiao"></i><span>{#$cfg_fenxiaoName#}</span><s></s></a></li>
					{#/if#}

					<li><a href="{#getUrlPath service='member' type='user' template='collect'#}"><i class="icon-collect"></i><span>{#$langData['siteConfig'][10][9]#}</span><s></s></a></li>{#* 我的收藏 *#}
					{#if 'reward'|in_array:$cfg_ucenterLinks#}
					<li><a href="{#getUrlPath service='member' type='user' template='reward'#}"><i class="icon-shang"></i><span>{#$langData['siteConfig'][50][7]#}</span><s></s></a></li> {#* 打赏/礼物 *#}
					{#/if#}

					<!-- <li><a href="{#$cfg_basehost#}/user/{#$userinfo.userid#}/fans.html"><i class="icon-hb"></i><span>{#$langData['siteConfig'][50][8]#}</span><s></s></a></li>{#* 红包记录 *#} -->

					<li><a href="{#$cfg_basehost#}/user/{#$userinfo.userid#}/fans.html" target="
						"><i class="icon-fans"></i><span>{#$langData['siteConfig'][50][1]#}</span></a></li>{#* 粉丝关注 *#}

				</ul>
			</div>
			<!-- 功能按钮 e-->

			{#*
			<!-- 我的订单 s-->
			<div class="myOrder">
				<h2 class="tit">我的订单<a href="{#getUrlPath service='member' type='user' template='order'#}">查看全部</a></h2>
				<ul>
					<!-- 商城样式 团购样式 外卖样式不一样-->
					<li class="fn-clear">
						<div class="l_img"><a href=""><img src="{#$cfg_staticPath#}images/noPhoto_100.jpg" alt=""><span>商城</span></a></div>
						<div class="orInfo">
							<h3><a href="">男士背心紧身修身型健身运动男士背心紧身修身型健身运动</a></h3>
							<p class="nature">颜色：黑色 衣服尺码：170/88(M)</p>
							<p class="orNum">数量：1份 </p>
						</div>
						<div class="othInfo">
							<dl class="timeDl"><dt>2020-03-30</dt><dd>下单时间</dd></dl>
							<dl class="moneyDl"><dt>{#echoCurrency type='symbol'#}<strong>120.00</strong></dt><dd>订单金额</dd></dl>
							<!-- 状态有 待付款--已付款--订单已送达 -->
							<dl class="statusDl"><dt>待付款</dt><dd>订单状态</dd></dl>
						</div>
						<div class="monInfo">
							<div class="moinner">
								<p class="monP"><a href="">去付款</a></p>
								<p class="detP"><a href="">查看详情</a></p>
							</div>
						</div>
					</li>
					<li class="fn-clear">
						<div class="l_img"><a href=""><img src="{#$cfg_staticPath#}images/noPhoto_100.jpg" alt=""><span>团购</span></a></div>
						<div class="orInfo">
							<h3><a href="">男士背心紧身修身型健身运动男士背心紧身修身型健身运动</a></h3>
							<!-- 团购自带 span-->
							<p class="nature">过期时间：2020-12-31<span>待使用</span></p>
							<p class="orNum">数量：1份 </p>
						</div>
						<div class="othInfo">
							<dl class="timeDl"><dt>2020-03-30</dt><dd>下单时间</dd></dl>
							<dl class="moneyDl"><dt>{#echoCurrency type='symbol'#}<strong>120.00</strong></dt><dd>订单金额</dd></dl>
							<dl class="statusDl"><dt>已付款</dt><dd>订单状态</dd></dl>
						</div>
						<div class="monInfo">
							<div class="moinner">

								<p class="detP"><a href="">查看详情</a></p>
							</div>
						</div>
					</li>
					<li class="fn-clear">
						<div class="l_img"><a href=""><img src="{#$cfg_staticPath#}images/noPhoto_100.jpg" alt=""><span>外卖</span></a></div>
						<div class="orInfo">
							<h3><a href="">男士背心紧身修身型健身运动男士背心紧身修身型健身运动</a></h3>
							<p class="nature">手抓坨坨酥肉×1/盐菜回锅肉×1，麻婆豆腐小</span></p>
							<!-- 外卖自带 em-->
							<p class="orNum">共<em>2</em>个菜品</p>
						</div>
						<div class="othInfo">
							<dl class="timeDl"><dt>2020-03-30</dt><dd>下单时间</dd></dl>
							<dl class="moneyDl"><dt>{#echoCurrency type='symbol'#}<strong>120.00</strong></dt><dd>订单金额</dd></dl>
							<dl class="statusDl"><dt>订单已送达</dt><dd>订单状态</dd></dl>
						</div>
						<div class="monInfo">
							<div class="moinner">
								<p class="monP"><a href="">立即评价</a></p>
								<p class="detP"><a href="">查看详情</a></p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- 我的订单 e-->
			*#}

			<!-- 模块集合 s -->
			<div class="modules">
				<h2 class="tit">内容管理</h2>
				<ul class="fn-clear">

					{#foreach from=$memberModule.userModuleList key=index item=module#}
			        {#if $module.show#}

						{#* 新闻投稿 *#}
						{#if $module.name == 'article'#}

							<li class="li-article">
								<h3 class="modTitle">{#$module.title#}</h3> {#* 新闻投稿 *#}
								<i class="modIcon"></i>
								<div class="linka">
									<a href="{#getUrlPath service='member' type='user' template='config' action='selfmedia'#}">{#$langData['siteConfig'][50][22]#}</a>{#* 媒体信息 *#}
									<a href="{#getUrlPath service='member' type='user' template='manage' action='article'#}">{#$langData['siteConfig'][50][23]#}</a>{#* 我的投稿 *#}
									<a href="{#getUrlPath service='member' type='user' template='fabu' action='article'#}">{#$langData['siteConfig'][6][69]#}</a>{#* 立即投稿 *#}
								</div>
							</li>

						{#* 二手信息 *#}
						{#elseif $module.name == 'info'#}

							<li class="li-info">
								<h3 class="modTitle">{#$module.title#}</h3> {#* 二手信息 *#}
								<i class="modIcon"></i>
								<div class="linka">
									<a href="{#getUrlPath service='member' type='user' template='manage' action='info'#}">{#$langData['siteConfig'][10][1]#}</a>{#* 我的发布 *#}
									<a href="{#getUrlPath service='member' type='user' template='fabu' action='info'#}">{#$langData['siteConfig'][6][143]#}</a>{#* 发布信息 *#}
									<a href="{#getUrlPath service='member' type='user' template='order' module='info'#}?type=out">{#$langData['siteConfig'][32][21]#}</a>{#* 卖出的商品 *#}
								</div>
							</li>

						{#* 房产 *#}
						{#elseif $module.name == 'house'#}


							{#if $module.homepage#}
							{#* 经纪人 *#}
							<li class="li-agent">
								<h3 class="modTitle speTit">{#$langData['siteConfig'][19][398]#} <a href="{#$module.homepage#}">{#$langData['siteConfig'][10][20]#} ></a></h3> {#* 房产经纪人 -- 我的主页 *#}
								<i class="modIcon"></i>
								<div class="linka">
									<a href="{#getUrlPath service='member' type='user' template='manage' action='house-sale'#}">{#$langData['siteConfig'][10][1]#}</a>{#* 房源管理 *#}
									<a href="{#getUrlPath service='member' type='user' template='house_yuyue'#}">{#$langData['siteConfig'][32][54]#}</a>{#* 预约记录 *#}
									<a href="{#getUrlPath service='member' type='user' template='house_entrust'#}">{#$langData['siteConfig'][32][56]#}</a>{#* 委托记录 *#}
									<a href="{#getUrlPath service='member' type='user' template='manage' action='house-sale'#}">{#$langData['siteConfig'][11][6]#}</a>{#* 发布房源 *#}
								</div>
							</li>
							{#else#}
							{#* 普通用户 *#}
							<li class="li-house">
								<h3 class="modTitle">{#$module.title#}</h3> {#* 房产信息 *#}
								<i class="modIcon"></i>
								<div class="linka">
									<a href="{#getUrlPath service='member' type='user' template='manage' action='house-sale'#}">{#$langData['siteConfig'][10][1]#}</a>{#* 房源管理 *#}
									<a href="{#getUrlPath service='member' type='user' template='house_yuyue_list'#}">{#$langData['siteConfig'][32][54]#}</a>{#* 预约看房 *#}
									<a href="{#getUrlPath service='member' type='user' template='house_entrust_list'#}">{#$langData['siteConfig'][32][1]#}</a>{#* 我的委托 *#}
									<a href="{#getUrlPath service='member' type='user' template='collect' param='module=house'#}">{#$langData['siteConfig'][50][32]#}</a>{#* 收藏房源 *#}
								</div>
							</li>
							{#/if#}

						{#* 招聘 *#}
						{#elseif $module.name == 'job'#}
						<li class="li-job">
							<h3 class="modTitle">{#$module.title#}</h3> {#* 招聘 *#}
							<i class="modIcon"></i>
							<div class="linka">
								<a href="{#getUrlPath service='member' type='user' template='job' action='resume'#}">{#$langData['siteConfig'][19][242]#}</a>{#* 简历管理 *#}
								<a href="{#getUrlPath service='member' type='user' template='job' action='collections'#}">{#$langData['siteConfig'][19][243]#}</a>{#* 收藏职位 *#}
								<a href="{#getUrlPath service='member' type='user' template='job' action='delivery'#}">{#$langData['siteConfig'][19][244]#}</a>{#* 投递记录 *#}
								<a href="{#getUrlPath service='member' type='user' template='job' action='invitation'#}">{#$langData['siteConfig'][19][245]#}</a>{#* 面试邀请 *#}
							</div>
						</li>
						{#* 贴吧 *#}
						{#elseif $module.name == 'tieba'#}
						<li class="li-tieba">
							<h3 class="modTitle">{#$module.title#}</h3>
							<i class="modIcon"></i>
							<div class="linka">

								<a href="{#getUrlPath service='member' type='user' action='manage' template='tieba'#}">{#$langData['siteConfig'][50][40]#}</a>{#* 我的帖子 *#}

								<a href="{#getUrlPath service='member' type='user' template='collect' param='module=tieba'#}">{#$langData['siteConfig'][50][41]#}</a>{#* 收藏帖子 *#}

								<a href="{#getUrlPath service='tieba' template='fabu'#}" id="fabuTieba">{#$langData['siteConfig'][50][42]#}</a>{#* 立即发帖 *#}
							</div>
						</li>

						{#* 同城活动 *#}
						{#elseif $module.name == 'huodong'#}
						<li class="li-huodong">
							<h3 class="modTitle">{#$module.title#}</h3>
							<i class="modIcon"></i>
							<div class="linka">
								<a href="{#getUrlPath service='member' type='user' template='manage' module='huodong'#}">{#$langData['siteConfig'][10][3]#}</a>{#* 我的活动 *#}
								<a href="{#getUrlPath service='member' type='user' template='huodong-join'#}">{#$langData['siteConfig'][19][252]#}</a>{#* 我参与的 *#}
								<a href="{#getUrlPath service='member' type='user' template='collect' param='module=huodong'#}">{#$langData['siteConfig'][50][44]#}</a>{#* 收藏活动 *#}
								<a href="{#getUrlPath service='huodong' template='fabu'#}">{#$langData['siteConfig'][54][74]#}</a>{#* 发起活动 *#}
							</div>
						</li>

						{#* 投票 *#}
						{#elseif $module.name == 'vote'#}
						<li class="li-vote">
							<h3 class="modTitle">{#$module.title#}</h3>
							<i class="modIcon"></i>
							<div class="linka">
								<a href="{#getUrlPath service='member' type='user' template='manage' module='vote'#}">{#$langData['siteConfig'][10][3]#}</a>{#* 我的发布 *#}
								<a href="{#getUrlPath service='member' type='user' template='vote-join'#}">{#$langData['siteConfig'][19][252]#}</a>{#* 我参与的 *#}
							</div>
						</li>

						{#* 直播 *#}
						{#elseif $module.name == 'live'#}
						<li class="li-live">
							<h3 class="modTitle">{#$module.title#}</h3>
							<i class="modIcon"></i>
							<div class="linka">
								<a href="{#getUrlPath service='member' type='user' template='manage' module='live'#}">{#$langData['siteConfig'][50][46]#}</a>{#* 我的直播 *#}
								<!-- <a href="{#getUrlPath service='member' type='user' template='collect' param='module=live'#}">{#$langData['siteConfig'][50][48]#}</a>{#* 收藏直播 *#} -->
								<a href="{#getUrlPath service='member' type='user' template='fabu' action='live'#}">{#$langData['siteConfig'][10][28]#}</a>{#* 发起直播 *#}

							</div>
						</li>

						{#* 汽车门户 *#}
						{#elseif $module.name == 'car'#}

						<li class="li-car">
							<h3 class="modTitle">{#$module.title#}</h3>
							<i class="modIcon"></i>
							<div class="linka">
								<a href="{#getUrlPath service='member' type='user' template='manage' action='car'#}">{#$langData['siteConfig'][10][1]#}</a>{#* 我的发布 *#}
								<!-- <a href="">{#$langData['siteConfig'][50][51]#}</a>{#* 预约到店 *#} -->
								<a href="{#getUrlPath service='member' type='user' template='car-config'#}">{#$langData['siteConfig'][50][50]#}</a>{#* 顾问管理 *#}
								<a href="{#getUrlPath service='member' type='user' template='fabu' action='car'#}">{#$langData['siteConfig'][11][19]#}</a>{#* 立即发布 *#}
							</div>
						</li>
						{#* 婚恋交友 *#}
						{#elseif $module.name == 'dating'#}


							{#if $datign_hn#}
							{#* 红娘身份 *#}
							<li class="li-hongn">
								<h3 class="modTitle speTit">{#$langData['siteConfig'][50][33]#} <a href="{#$module.homepage_hn#}">{#$langData['siteConfig'][10][20]#} ></a></h3> {#* 婚恋红娘 -- 我的主页 *#}
								<i class="modIcon"></i>
								<div class="linka">
									<a href="{#getUrlPath service='member' type='user' template='dating-my_user'#}">{#$langData['siteConfig'][29][8]#}</a>{#* 线下会员 *#}

									<a href="{#getUrlPath service='member' type='user' template='dating-my_receiveapply'#}">{#$langData['siteConfig'][29][10]#}</a>{#* 会员申请 *#}

									<a href="{#getUrlPath service='member' type='user' template='dating-my_leadline_hn'#}">{#$langData['siteConfig'][29][19]#}</a>{#* 我的牵线 *#}

									<a href="{#getUrlPath service='member' type='user' template='dating-hn_income'#}">{#$langData['siteConfig'][29][1]#}</a>{#* 收支明细 *#}
								</div>
							</li>
							{#else#}
							<li class="li-dating">
								<h3 class="modTitle">{#$module.title#}</h3>
								<i class="modIcon"></i>
								<div class="linka">
									<a href="{#getUrlPath service='member' type='user' template='dating-mydata'#}">{#$langData['siteConfig'][19][780]#}</a>{#* 我的资料 *#}
									<a href="{#getUrlPath service='member' type='user' template='dating' action='my_sendgreet'#}">{#$langData['siteConfig'][50][34]#}</a>{#* 我的互动 *#}
									<a href="{#getUrlPath service='member' type='user' template='dating' action='my_visit_record'#}">{#$langData['siteConfig'][51][36]#}</a>{#* 我的粉丝 *#}
									<a href="{#getUrlPath service='member' type='user' template='dating' action='my_leadline'#}">{#$langData['siteConfig'][10][21]#}</a>{#* 我的关注 *#}
								</div>
							</li>
							{#/if#}
						{#* 装修 *#}
						{#elseif $module.name == 'renovation'#}
							{#* 设计师 *#}
							{#if $renovation_teamuid || $designer#}
							<li class="li-artist">
								<h3 class="modTitle speTit">{#$langData['siteConfig'][54][75]#} <a href="{#getUrlPath service='renovation' template='designer-detail'  id="{#$renovation_teamuid#}"#}">{#$langData['siteConfig'][10][20]#} ></a></h3> {#* 装修设计师 -- 我的主页 *#}
								<i class="modIcon"></i>
								<div class="linka">
									<a href="{#getUrlPath service='member' type='user' template='renovation' action='profile'  param="type=designer"#}">{#$langData['renovation'][7][18]#}</a>{#* 我的资料 *#}

									<a href="{#getUrlPath service='member' type='user' template='renovation' action='customer'  param="type=designer"#}">{#$langData['renovation'][10][0]#}</a>{#* 客户管理 *#}

									<a href="{#getUrlPath service='member' type='user' template='renovation' action='case'  param="type=designer"#}">{#$langData['renovation'][9][18]#}</a>{#* 案例管理 *#}

									<a href="{#getUrlPath service='member' type='user' template='renovation' action='article'  param="type=designer"#}">{#$langData['renovation'][7][2]#}</a>{#* 我的文章 *#}
								</div>
							</li>
							{#* 工长 *#}
							{#elseif $renovation_foremanuid || $foreman#}
							<li class="li-artist">
								<h3 class="modTitle speTit">{#$langData['siteConfig'][54][76]#} <a href="{#getUrlPath service='renovation' template='foreman-detail'  id="{#$renovation_foremanuid#}"#}">{#$langData['siteConfig'][10][20]#} ></a></h3> {#* 装修工长 -- 我的主页 *#}
								<i class="modIcon"></i>
								<div class="linka">
									<a href="{#getUrlPath service='member' type='user' template='renovation' action='profile'  param="type=foreman"#}">{#$langData['renovation'][7][18]#}</a>{#* 我的资料 *#}

									<a href="{#getUrlPath service='member' type='user' template='renovation' action='customer'  param="type=foreman"#}">{#$langData['renovation'][10][0]#}</a>{#* 客户管理 *#}

									<a href="{#getUrlPath service='member' type='user' template='renovation' action='case'  param="type=foreman"#}">{#$langData['renovation'][9][18]#}</a>{#* 案例管理 *#}

									<a href="{#getUrlPath service='member' type='user' template='renovation' action='article'  param="type=foreman"#}">{#$langData['renovation'][7][2]#}</a>{#* 我的文章 *#}
								</div>
							</li>
							{#else#}
							<li class="li-reno">
								<h3 class="modTitle">{#$module.title#}</h3>
								<i class="modIcon"></i>
								<div class="linka">
									<a href="{#getUrlPath service='member' type='user' template='renovation'  action='zb'#}">{#$langData['renovation'][8][30]#}</a>{#* 我的招标 *#}
									<a href="{#getUrlPath service='member' type='user' template='renovation' action='order'#}">{#$langData['renovation'][9][0]#}</a>{#* 我的预约 *#}
									<a href="{#getUrlPath service='member' type='user' template='collect' param='module=renovation'#}">{#$langData['siteConfig'][10][9]#}</a>{#* 我的收藏 *#}
								</div>
							</li>
							{#/if#}
						{#* 养老 *#}
						{#elseif $module.name == 'pension'#}

						<li class="li-pension">
							<h3 class="modTitle">{#$module.title#}</h3>
							<i class="modIcon"></i>
							<div class="linka">
								<a href="{#getUrlPath service='member' type='user' template='fabu-pension-elderly'#}">老人信息</a>
								<a href="{#getUrlPath service='member' type='user' template='pension-apply'#}">我的申请</a>
								<a href="{#getUrlPath service='member' type='user' template='pension-invite'#}">邀请记录</a>
								<a href="{#getUrlPath service='member' type='user' template='pension-appoint'#}">我的预约</a>
							</div>
						</li>
						{#* 顺风车 *#}
						{#elseif $module.name == 'sfcar'#}

						<li class="li-sfcar">
							<h3 class="modTitle">{#$module.title#}</h3>
							<i class="modIcon"></i>
							<div class="linka">

				 				<a href="{#getUrlPath service='member' type='user' template='manage-sfcar'#}">
				 					{#$langData['siteConfig'][10][1]#}</a>{#* 我的发布 *#}

				 				<a href="{#getUrlPath service='member' type='user' template='fabu-sfcar'#}">{#$langData['siteConfig'][11][19]#}</a>{#* 立即发布 *#}

							</div>
						</li>
						{#/if#}

					{#/if#}
					{#/foreach#}

				</ul>
			</div>
			<!-- 模块集合 e -->

		</div>
	</div>
</div>

{#include file="footer.html"#}
</body>
</html>
