<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<title>{#$langData['siteConfig'][32][9]#} - {#$cfg_webname#}</title>{#* 直播详情  *#}
	<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
	<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
	<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
	<!-- <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/manage.css?v={#$cfg_staticVersion#}" media="all" /> -->
	<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/sidebar.css?v={#$cfg_staticVersion#}" media="all" />
	<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/clipboard.min.js"></script>
	<script type="text/javascript">
		var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

		var criticalPoint = 1240, criticalClass = "w1200";
		$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

		var hideFileUrl = {#$cfg_hideUrl#};
		var ftimes = {#$ftimes|default:1591782997#};
		var module = '{#$module#}', atpage = 1, totalCount = 0, pageSize = 10, state = '{#$state#}', type = '{#$type#}';

		var id="{#$id#}",editUrl = '{#getUrlPath service="member" type="user" template="fabu" action="$module"#}';
		var pulltype = {#$pulltype|default:0#};

	</script>
</head>
<body>
{#$pageTitle = "<a href='manage-live.html'>"|cat:$langData['siteConfig'][10][29]|cat:"</a> <s><i></i></s> "|cat:$langData['siteConfig'][32][9]#}  {#* 直播详情 *#}
{#include file="top.html"#}
<div class="wrap">
	<div class="container fn-clear">
		{#include file="live_sidebar.html"#}
		<div class="main">
			<div class="list_main">
				<div class="vurl_box">
					<h2>{#$langData['live'][2][2]#}<i style="display: none;"><p><em> • </em> {#$langData['live'][2][3]#}</p></i></h2>  {#*直播视频源 此为专业直播设置，手机APP直播可忽略此项*#}
					<div class="tlset_box">
						<ul class="tab fn-clear">
							<li class="vaddr{#if !$pulltype#} ontab{#/if#}">{#$langData['live'][2][4]#} <i></i></li>   {#* 推流地址 *#}
							<li class="setaddr{#if $pulltype#} ontab{#/if#}">{#$langData['live'][2][5]#}<i></i></li>   {#* 手动推流 *#}
						</ul>
						<div class="tab_container">
							<div class="auto_tui{#if $pulltype#} fn-hide{#/if#}">
								<div class="vaddr_box vaddr_after ">
									<h1>{#$langData['live'][2][6]#}</h1>  {#* 在第三方推流应用使用以下地址进行推流 *#}
									<p id="litmit_url">{#$pushurl#}</p>
									<a href="javascript:;" class="btn-copy btn_auto copy_btn"  data-clipboard-target="#litmit_url">{#$langData['live'][2][10]#}</a>   {#* 复制地址 *#}
									<p>{#$langData['live'][2][51]#}</p>  {#* 此地址为当前直播间唯一推流地址，不要泄漏给第三方。 *#}
								</div>
							</div>
							<div class="self_tui{#if !$pulltype#} fn-hide{#/if#}">
								<form class="addr">
									<h1>{#$langData['live'][2][11]#}</h1>   {#* 请输入拉流地址 *#}
									<ul>
										<li class="fn-clear">
											<label for="addrPc">{#$langData['live'][0][45]#}</label>{#* 电脑端 *#}
											<div class="inp_box"><input type="text" name="addrPc" value="{#$pullurl_pc#}" id="addrPc" placeholder="{#$langData['live'][2][12]#}"></div>   {#* mp4、flv、m3u8格式 *#}
										</li>
										<li class="fn-clear">
											<label for="addrMob">{#$langData['live'][0][46]#}</label>{#* 移动端 *#}
											<div class="inp_box"><input type="text" name="addrMob" value="{#$pullurl_touch#}" id="addrMob" placeholder="{#$langData['live'][2][13]#}"></div>   {#* mp4、m3u8格式 *#}
										</li>
									</ul>
									<a href="javascript:;" class="btn_auto btn_sure">{#$langData['live'][1][39]#}</a>{#* 确认 *#}
									<p>{#$langData['live'][2][14]#}<a href="{#$cfg_basehost#}/mobile.html" target="_blank">{#$langData['live'][2][8]#}</a></p>   {#*您还可以使用APP直接开播   下载APP *#}
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="down_modal" style="display: none;">
				<div class="modal_box">
					<div class="m-close"><img  src="{#$templets_skin#}images/m_close.png"></div>
					<p>{#$langData['siteConfig'][32][11]#}</p>{#* 您需下载移动端APP后方可使用  *#}
					<div class="hn_logo"><img  src="{#$cfg_app_logo#}"></div>
					<h5>{#$cfg_appname#}</h5>
					<div class="btn-down"><a href="{#getUrlPath service='siteConfig' template='mobile'#}" target="_blank">{#$langData['siteConfig'][26][193]#}</a></div>{#* 点击下载  *#}
				</div>
			</div>
		</div>
	</div>
</div>

{#include file="footer.html"#}
<div class="tooltips_confirm self_tool">
	<h5>{#$langData['live'][2][15]#}</h5>   {#* 确定更改为手动拉流？ *#}
	<div class="btn_group">
		<a href="javascript:;" class="cancel_btn">{#$langData['live'][0][9]#}</a>  {#* 取消  *#}
		<a href="javascript:;" class="sure_btn">{#$langData['live'][1][39]#}</a>  {#* 确认  *#}
	</div>
</div>
<div class="tooltips_confirm auto_tool">
	<h5>{#$langData['live'][2][16]#}</h5>   {#* 你已设置过手动拉流，确认继续生成？ *#}
	<p>{#$langData['live'][2][17]#} </p>   {#* 此前的拉流设置均将失效 *#}
	<div class="btn_group">
		<a href="javascript:;" class="cancel_btn">{#$langData['live'][0][9]#}</a>  {#* 取消  *#}
		<a href="javascript:;" class="sure_btn">{#$langData['live'][1][39]#}</a>  {#* 确认  *#}
	</div>
</div>
<script type="text/javascript" src="{#$templets_skin#}js/live_manage.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
