<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<title>{#$langData['siteConfig'][32][9]#} - {#$cfg_webname#}</title>{#* 直播详情  *#}
	<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
	<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
	<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
	<!-- <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/manage.css?v={#$cfg_staticVersion#}" media="all" /> -->
	<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/sidebar.css?v={#$cfg_staticVersion#}" media="all" />
	<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/clipboard.min.js"></script>
	<script type="text/javascript">
		var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

		var criticalPoint = 1240, criticalClass = "w1200";
		$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

		var hideFileUrl = {#$cfg_hideUrl#};
		var ftimes = {#$ftimes|default:1591782997#};
		var module = '{#$module#}', atpage = 1, totalCount = 0, pageSize = 10, state = '{#$state#}', type = '{#$type#}';

		var id="{#$id#}",editUrl = '{#getUrlPath service="member" type="user" template="fabu" action="$module"#}';
		var pulltype = {#$pulltype|default:0#};

	</script>
</head>
<body>
{#$pageTitle = "<a href='manage-live.html'>"|cat:$langData['siteConfig'][10][29]|cat:"</a> <s><i></i></s> "|cat:$langData['siteConfig'][32][9]#}  {#* 直播详情 *#}
{#include file="top.html"#}
<div class="wrap">
	<div class="container fn-clear">
		{#include file="live_sidebar.html"#}
		<div class="main">
			<div class="list_main">
				<div class="menu_box">
					<form action="###">
						<h2>自定义菜单<em class="fn-hide">横屏模式下电脑端仅支持介绍、动态、自定义菜单排序</em></h2>
						<div class="menuset_box">
							<ul class="menu_ul">
								{#if $menu#}
								{#foreach from=$menu item='cfg' key='k'#}
								{#if $cfg.sys > -1#}
								<li data-idx="{#$k#}" class="menu_li intro_li nodel_li">
									<div class="menu">
										<div class="ml_text"><input class="ml_text" placeholder="{#$langData['live'][2][0]#}" type="text" name="menu[{#$k#}][name]" value="{#$cfg.name#}" /></div>
										<div class="mr_show">
											{#if $cfg.show == '1'#}
											<em>{#$langData['live'][1][40]#}</em> <span class="selected"><i></i></span>{#*  显示  *#}
											{#else#}
											<em>{#$langData['live'][1][50]#}</em> <span><i></i></span>{#*  隐藏  *#}
											{#/if#}
										</div>
									</div>
									<div class="op_box">
										<i class="px_btn"></i>
										<i class="del_btn"></i>
										<input type="hidden" name="menu[{#$k#}][show]" class="show" value="{#$cfg.show#}">
										<input type="hidden" name="menu[{#$k#}][sys]" class="sys" value="{#$cfg.sys#}">
									</div>
								</li>
								{#else#}
								<li data-idx="{#$k#}" class="menu_li self_li">
									<div class="menu">
										<input class="ml_text" type="text" placeholder="{#$langData['live'][2][0]#}" name="menu[{#$k#}][name]" value="{#$cfg.name#}">
										<div class="mr_show"><em>{#if $cfg.show == '1'#}{#$langData['live'][1][40]#}{#else#}{#$langData['live'][1][50]#}{#/if#}</em><span{#if $cfg.show == '1'#} class="selected"{#/if#}><i></i></span></div>
										<input type="hidden" name="menu[{#$k#}][show]" class="show" value="{#$cfg.show#}">
										<input type="hidden" name="menu[{#$k#}][sys]" class="sys" value="-1">
										<input type="text" class="mlink" placeholder="{#$langData['live'][2][1]#}" class="url" name="menu[{#$k#}][url]" value="{#$cfg.url#}">
									</div>
									<div class="op_box"><i class="px_btn"></i><i class="del_btn" title="{#$langData['live'][0][36]#}"></i></div>
								</li>
								{#/if#}
								{#/foreach#}
								{#/if#}
							</ul>
							<a href="javascript:;" class="add_li"><i></i>{#$langData['live'][1][12]#}</a>{#*  自定义菜单  *#}

						</div>
						<a href="javascript:;" class="save_btn">{#$langData['live'][2][18]#}</a>   {#*  保存  *#}
					</form>
				</div>
			</div>
			<div class="down_modal" style="display: none;">
				<div class="modal_box">
					<div class="m-close"><img  src="{#$templets_skin#}images/m_close.png"></div>
					<p>{#$langData['siteConfig'][32][11]#}</p>{#* 您需下载移动端APP后方可使用  *#}
					<div class="hn_logo"><img  src="{#$cfg_app_logo#}"></div>
					<h5>{#$cfg_appname#}</h5>
					<div class="btn-down"><a href="{#getUrlPath service='siteConfig' template='mobile'#}" target="_blank">{#$langData['siteConfig'][26][193]#}</a></div>{#* 点击下载  *#}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="tooltips_confirm deleteMenu">
	<h5>{#$langData['live'][2][21]#}</h5>    {#*  确定删除此自定义菜单？  *#}
	<div class="btn_group">
		<a href="javascript:;" class="cancel_btn">{#$langData['live'][0][9]#}</a>    {#*  取消  *#}
		<a href="javascript:;" class="sure_btn">{#$langData['live'][1][39]#}</a>    {#*  确认  *#}
	</div>
</div>
{#include file="footer.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery-ui-sortable.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/live_manage.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
