
<div class="top_head">{#* 预告 回放   *#}
	<h2>{#if $state==1#}<i class="living"></i>{#else if $state==0#}<i class="live">{#$langData['live'][1][24]#}</i>{#else#}<i class="lived">{#$langData['live'][1][25]#}</i>{#/if#}{#$title#}</h2>
	<p>{#$pubdate|date_format:"%Y-%m-%d %H:%M:%S"#}</p>
</div>
<div class="sidebar live_slide">
	<dl>
		<dt>{#$langData['live'][1][8]#}</dt>  {#*  直播设置  *#}
		{#*  直播信息  *#}
		<dd><a href="{#getUrlPath service='member' type='user' template='livedetail'#}?id={#$id#}"><em>·</em>{#$langData['live'][0][32]#}</a></dd>
		{#*  推流/拉流  *#}
		{#if $arcrank == 1 && $state == 0#}
		<dd><a href="{#getUrlPath service='member' type='user' template='livedetail_vurl'#}?id={#$id#}"><em>·</em>{#$langData['live'][1][51]#}</a></dd>
		{#/if#}
		{#*  编辑直播  *#}
		{#if $state==0#}
		<dd><a href="{#getUrlPath service='member' type='user' template='fabu-live'#}?id={#$id#}"  class="edit_link"><em>·</em>{#$langData['live'][1][10]#}</a></dd>
		{#/if#}
		{#*  观看限制  *#}
		{#if $replaystate#}
		<dd><a href="{#getUrlPath service='member' type='user' template='livedetail_lx'#}?id={#$id#}"><em>·</em>{#$langData['live'][1][11]#}</a></dd>
		{#/if#}
		{#*  自定义菜单  *#}
		<dd><a href="{#getUrlPath service='member' type='user' template='livedetail_menu'#}?id={#$id#}"><em>·</em>{#$langData['live'][1][12]#}</a></dd>
	</dl>
	<dl>
		<dt>{#$langData['live'][1][13]#}</dt>{#*  直播管理  *#}
		{#*  直播动态  *#}
		<dd><a href="{#getUrlPath service='member' type='user' template='live_imgtext'#}?id={#$id#}"><em>·</em>{#$langData['live'][1][14]#} </a></dd>
		{#*  商品管理  *#}
		<dd><a href="{#getUrlPath service='member' type='user' template='live_prolist'#}?id={#$id#}"><em>·</em>{#$langData['live'][1][15]#}</a></dd>

		{#*  用户管理  *#}
		<dd><a href="{#getUrlPath service='member' type='user' template='live_userlist'#}?id={#$id#}"><em>·</em>{#$langData['live'][1][16]#}</a></dd>

		{#*  评论管理  *#}
		<dd><a href="{#getUrlPath service='member' type='user' template='live_comment'#}?id={#$id#}"><em>·</em>{#$langData['live'][1][17]#}</a></dd>

		{#*  红包管理  *#}
		<dd><a href="{#getUrlPath service='member' type='user' template='live_hongbao'#}?id={#$id#}"><em>·</em>{#$langData['live'][1][18]#}</a></dd>

	</dl>

	<dl>
		<dt>{#$langData['live'][1][19]#}</dt>{#*  直播数据  *#}
		{#*  礼物收入  *#}
		<dd><a href="{#getUrlPath service='member' type='user' template='live_gift'#}?id={#$id#}"><em>·</em>{#$langData['live'][1][20]#}</a> </dd>
		{#*  打赏收益  *#}
		<dd><a href="{#getUrlPath service='member' type='user' template='live_reward'#}?id={#$id#}"><em>·</em>{#$langData['live'][1][21]#}</a></dd>
		{#*  付费收益  *#}
		{#if $catid == 2#}
		<dd><a href="{#getUrlPath service='member' type='user' template='live_income'#}?id={#$id#}"><em>·</em>{#$langData['live'][1][22]#}</a></dd>
		{#/if#}
		{#*  榜单数据  *#}
		<dd><a href="{#getUrlPath service='member' type='user' template='live_charts'#}?id={#$id#}"><em>·</em>{#$langData['live'][1][52]#}</a></dd>

	</dl>
</div>
<div class="mask_tooltip"></div>
