<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][0][16]#}</title>{#*注销账号*#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/logoff.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
	var totalMoney = {#$userinfo.money#}, pointRatio = {#$cfg_pointRatio#}, pointName = '{#$cfg_pointName#}';
</script>
</head>

<body>
{#include file="top.html"#}

<div class="wrap">
	<div class="container fn-clear">

		{#include file="sidebar.html"#}

		<div class="main">

			<ul class="main-tab">
				<li class="curr"><a href="javascript:;">{#$langData['siteConfig'][0][16]#}</a></li>{#* 注销账号 *#}
			</ul>

			<div class="logoff">
				<div class="off-top">
					<h2 class="offTitle"><i></i>{#$langData['siteConfig'][54][80]#}</h2> {#*注销账号无法恢复，请谨慎操作*#}
				</div>
				
				 {#*开始注销前，请确认以下内容*#}
				<div class="off-ts"><s></s><span>{#$langData['siteConfig'][54][81]#}</span><s></s></div>
				<div class="offSon">
			      <div class="offcon speOff">
			      	{#*注销账号条件*#}
			        <h2 class="offTit">{#$langData['siteConfig'][54][82]#}</h2>
			        <p>1、账号处于正常状态，账号没有被盗，被封等风险。<br/>2、请确保账号内账户余额等均为0。<br/>3、没有正在使用中的商家套餐。<br/>4、没有正在进行中的交易。<br/>5、发布的信息已删除。</p>
			      </div>

			      <div class="offcon ">
			      	{#*注销账号须知*#}
			        <h2 class="offTit">{#$langData['siteConfig'][54][83]#}</h2>
			        <p>1、账号注销后，会清空账号的所有身份信息和账号信息：包括但不限于用户名、认证手机号、邮箱、qq、微博、微信，以及解除该账号对外授权的绑定关系。该操作不可逆，请谨慎操作。<br/>2、账号注销后，优惠券、会员权益、账号余额将被清除且无法恢复。<br/>3、注销账号是不可恢复操作，操作之前，请确认账号内所有服务均已进行妥善处理。如因注销账号造成的损失由用户自行承担。<br/>4、注销账号并不代表本账号注销前的账号行为和相关责任得到豁免或减轻。<br/>5、手机号半年不能在平台内进行二次注销。<br/>6、如果您的账号曾开通了会员自动续费功能，请先确保您已经取消了“自动续费”</p>
			      </div>
			    </div>
			    {#*阅读并同意，申请注销账号*#}
			    <div class="off-agree"><a href="javascript:;">{#$langData['siteConfig'][54][84]#}</a></div>
			</div>
		</div>
	</div>
</div>
<!-- 删除弹出层 s -->
  <div class="delMask"></div>
  <div class="delAlert">
    <div class="delAlertCon">
      <div>
      	{#* 确定注销吗？ *#}
        <h2 class="delTile">{#$langData['siteConfig'][54][85]#}</h2>
        {#* 一经注销不可恢复 *#}
        <p>{#$langData['siteConfig'][54][86]#}</p>
      </div>
      <ul class="fn-clear">     
        <li class="firLi"><a href="javascript:;" class="cancelDel">{#$langData['siteConfig'][6][12]#}</a></li> {#* 取消 *#}
        <li><a href="javascript:;" class="sureDel">{#$langData['siteConfig'][6][0]#}</a></li> {#* 确认 *#}
      </ul>
    </div>
  </div>
  
  <!-- 删除弹出层 e -->
{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/logoff.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
