<script>
	var mcenter = '{#$member_userDomain#}';
	var masterDomain = '{#$cfg_basehost#}'
</script>
<style media="screen">
	.main {padding-bottom: 100px;}
</style>
<div class="live_head fn-clear">
	<h3>{#$langData['live'][0][21]#}<em>0</em></h3> {#*  直播列表  *#}
	<div class="shai">
		<div class="live_state">
			<input type="text" id="state" readonly="readonly" placeholder="{#$langData['live'][0][23]#}"><i class="slide_btn"></i>   {#*  所有类型  *#}
			<ul class="state_ul">
				<li data-value ="">{#$langData['live'][0][27]#}</li>    {#*  所有状态  *#}
				<li data-value ="0">{#$langData['live'][0][26]#}</li>     {#*  待开播  *#}
				<li data-value ="1">{#$langData['live'][0][24]#}</li>     {#*  直播中  *#}
				<li data-value ="2">{#$langData['live'][0][25]#}</li>     {#*  已结束  *#}
			</ul>
		</div>
		<div class="live_orderby">
			<input type="text" id="orderby" readonly="readonly" placeholder="{#$langData['live'][0][28]#}"><i class="slide_btn"></i>{#*  按创建时间  *#}
			<ul class="orderby_ul">
				<li data-value ="0">{#$langData['live'][0][28]#}</li>      {#*  按创建时间  *#}
				<li data-value ="1">{#$langData['live'][0][29]#}</li>        {#*  按观看量  *#}
			</ul>
		</div>

		<div class="search"><input type="text" id="search" placeholder="{#$langData['live'][0][22]#}"><i class="search_btn"></i></div>   {#*  搜索直播标题  *#}
		<a href="{#getUrlPath service='member' type='user' template='fabu' action='live'#}" class="link_create">{#$langData['live'][0][30]#}</a> {#*  创建直播  *#}

	</div>
</div>
<input value="{#$userinfo.userid#}" id="hiddenid" type="hidden">

<div class="live_main">
	<h2 class="fn-clear"><span class="htime">{#$langData['live'][0][31]#}</span> <span class="hinfo">{#$langData['live'][0][32]#}</span> <span class="hop">{#$langData['live'][0][33]#}</span></h2> {#*  直播时间 直播信息 操作  *#}
	<ul class="live_ul">
		{#*
		<li>
			<a href="#" class="fn-clear">
				<div class="live_time">
					2020-04-05 <br/><span>12:30</span>
				</div>
				<!-- lived -->
				<div class="live_detail fn-clear">
					<div class="live_pic">
						<span class="l_state living"></span>
					</div>
					<div class="live_info">
						<h3>我是标题</h3>
						<div class="btm_box">
							<span class="live_read lspan"><i></i>12.3w</span>
							<div class="op_box">
								<span class="dt_btn"><i></i>动态</span>
								<span class="tj_btn"><i></i>统计</span>
								<span class="more_btn">
									<i></i>
									<div class="more_box">
										<s class="arr"></s>
										<ul>
											<li class="share_btn">分享</li>
											<li class="del_btn">删除</li>
										</ul>
									</div>
								</span>
							</div>
						</div>
					</div>
				</div>
			</a>
		</li>
		*#}
	</ul>
</div>
