<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
		<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
		<title>{#$langData['siteConfig'][54][8]#}</title>{#* 我的会员 *#}
		<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
		<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/myhui.css?v={#$cfg_staticVersion#}" media="all" />
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
		<script type="text/javascript">
			var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
			var criticalPoint = 1240, criticalClass = "w1200";
			$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
			var totalBalance = {#$userinfo.money#};
			var userCenter = '{#getUrlPath service="member" type="user"#}';
		</script>
	</head>
	<body>
		{#include file="../siteConfig/top1.html"#}
		<div class="fixedwrap">
		   <!-- head s -->
		    <div class="wrap header fn-clear">
		     <div class="logo">
		      <a href=" " title="{#$cfg_webname#}"><img src="{#$cfg_weblogo#}" alt="{#$cfg_webname#}" /></a>
		  </div>
		  {#* 客服热线 *#}
		  <div class="kefu">{#$langData['siteConfig'][19][275]#}<strong>{#$cfg_hotline#}</strong></div>
		    </div>
		    <!-- head e -->
		</div>

		<div class="body_container fn-clear">
			<div class="left_box">
				<div class="imghead"><img onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';" src='{#if $userinfo.photo == ""#}{#$cfg_staticPath#}images/noPhoto_100.jpg{#else#}{#changeFileSize url="{#$userinfo.photo#}" type="middle"#}{#/if#}' /></div>
				<h3>{#$userinfo.nickname#}</h3>
				<p>您的{#$userinfo.levelName#}{#$userinfo.expired|date_format:"%Y-%m-%d"#}{#$langData['siteConfig'][39][11]#}</p>  {#* 到期 *#}

				<a href="javascript:;" class="xf_btn" data-id="{#$userinfo.level#}">{#$langData['siteConfig'][19][661]#}</a>    {#*  续费   *#}
				<a href="{#$member_userDomain#}/upgrade.html" class="go_link">{#$langData['siteConfig'][54][9]#}</a>    {#*  开通其他会员   *#}
				<span class="level_{#$userinfo.level#} level_box"><i><img src="{#$templets_skin#}images/member/v_{#if $userinfo.level>5 #}5{#else#}{#$userinfo.level#}{#/if#}.png"></i>{#$userinfo.levelName#}</span>
			</div>
			{#foreach from=$memberlevelList item=level #}
			{#if $userinfo.level==$level.id#}
			<div class="rightBox">
				<div class="r_container">
					<h3>{#$langData['siteConfig'][54][10]#}</h3>{#*  我的特权  *#}
					<div class="rbox1">
						<ul class="fn-clear">
							{#if  $level["privilege"]['delivery']#}
							<li class="li_r">
								<div class="icon_box"><img src="{#$templets_skin#}images/member/wm_icon1.png"></div>
								<h3>{#$langData['siteConfig'][52][8]#}</h3>  {#* 外卖配送费优惠  *#}
								{#if $level["privilege"]['delivery'][0]['type']=='discount'#}
								<p>{#$langData['siteConfig'][52][9]|replace:"1":($level["privilege"]['delivery'][0]['val'])#}</p>    {#* 可享配送费1折优惠  *#}
								{#else#}
								<p>{#$langData['siteConfig'][52][10]|replace:"1":($level["privilege"]['delivery'][0]['val'])#}</p>    {#* 可享免1次配送费  *#}
								{#/if#}

							</li>
							{#/if#}

							{#if  $level["privilege"]['waimai']#}
							<li class="li_r">
								<div class="icon_box"><img src="{#$templets_skin#}images/member/wm_icon2.png"></div>
								<h3>{#$langData['siteConfig'][52][12]#}</h3>    {#* 外卖商品优惠  *#}
								<p>{#$langData['siteConfig'][52][11]|replace:"1":($level["privilege"]['waimai'])#}</p>    {#* 可享外卖商品1折优惠  *#}

							</li>
							{#/if#}
							{#if $level["privilege"]['shop']#}
							<li class="li_r">
								<div class="icon_box"><img src="{#$templets_skin#}images/member/shop_icon.png"></div>
								<h3>{#$langData['siteConfig'][52][13]#}</h3>                   {#* 商城商品优惠  *#}
								<p>{#$langData['siteConfig'][52][14]|replace:"1":($level["privilege"]['shop'])#}</p>   {#* 可享商城商品1折优惠  *#}

							</li>
							{#/if#}
							{#if $level["privilege"]['quan']#}
							<li class="li_r">
								<div class="icon_box"><img src="{#$templets_skin#}images/member/quan_icon.png"></div>
								<h3>{#$langData['siteConfig'][52][15]#} <span>{#$langData['siteConfig'][52][16]|replace:"1":$level["userquannumall"]#}</span>
								</h3>  {#*   剩1张*#}
							<p style="margin: 0 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" title="{#foreach from =$level["privilege"]['quan'] item=quan#}{#$langData['siteConfig'][52][17]|replace:" 1 ":$quan['num']|replace:" 2 ":$quan['money']|replace:" Q ":{#echoCurrency type='short'#}|replace:" 3 ":$quan['name']#} {#/foreach#}">{#foreach from =$level["privilege"]['quan'] item=quan#}
							{#$langData['siteConfig'][52][17]|replace:" 1 ":$quan['num']|replace:" 2 ":$quan['money']|replace:" Q ":{#echoCurrency type='short'#}|replace:" 3 ":$quan['name']#}
							{#/foreach#}{#* 每月赠送 1 张 2 元面值 3 *#}
								</p>
							</li>
							{#/if#}
						</ul>
					</div>
					<div class="rbox2">
						<h3>{#$langData['siteConfig'][54][11]#} <i></i></h3>   {#*  我的信息发布特权  *#}
						<ul class="fn-clear">
							{#foreach from=$level["privilege"] item=right key="l" #}
							{#siteConfig action="siteModule" return="module"#}
							{#if $module.code==$l && ($l != 'waimai' && $l != 'shop')#}
							<li class="li_r2">
								<div class="li2_box">
									<div class="icon_box"><img src="{#$templets_skin#}images/member/{#$l#}.png"></div>
									<div class="r_text">
										<h3><span>{#$module.name#}</span>{#if $level.id == $userinfo.level#}<em {#if $privilegeinfo[$l] >0#} class="many" {#else#} class="zero" {#/if#}>{#$langData['siteConfig'][54][3]|replace:"1":$privilegeinfo[$l]#}</em>{#/if#}</h3> {#* 本周剩1条  *#}
										<p>{#$langData['siteConfig'][54][2]|replace:"1":$right#}</p>     {#*  每月免费发布1条信息  *#}
									</div>
									{#if $l!='education'#}
									<a href="{#if $l=='tieba'||  $l=='huodong'#}{#getUrlPath service={#$l#} template='fabu' #}{#else if $l=='house'#}{#getUrlPath service='member' type='user' template='fabu' action='house-sale'#}{#else#}{#getUrlPath service='member' template='fabu' type='user' module={#$l#}#}{#/if#}" class="golink">{#$langData['siteConfig'][54][12]#}</a>   {#* 去发布  *#}
                                  {#/if#}
								</div>
							</li>
							{#/if#}
							{#/siteConfig#}
							{#if $l=='livetime'#}
							<li class="li_r2">
								<div class="li2_box">
									<div class="icon_box"><img src="{#$templets_skin#}images/member/live.png"></div>
									<div class="r_text">
										<h3><span>{#$langData['siteConfig'][54][0]#}</span></h3>  {#*  直播时间  *#}
										<p>{#$langData['siteConfig'][54][1]|replace:"1":$right#}</p>   {#*  可享最长1小时每条  *#}
									</div>
									<a href="{#getUrlPath service='member' template='fabu' type='user' module='live'#}" class="golink">{#$langData['siteConfig'][54][12]#}</a>   {#* 去发布  *#}
								</div>
							</li>
							{#/if#}
							{#/foreach#}
							<li class="li_r2">
								<div class="li2_box">
									<span class="more">{#$langData['siteConfig'][52][19]#} </span>
								</div>
							</li>
						</ul>
					</div>

				</div>

				<div class="right_con open_record">
					<h2 class="com-title">{#$langData['siteConfig'][49][45]#}</h2>
					<div class="record fn-clear">
						<dl class="table_dl">
							<dt>
								<span class="span_1">{#$langData['siteConfig'][54][15]#}</span>  {#* 办理时间 *#}
								<span class="span_2">{#$langData['siteConfig'][54][14]#}</span>  {#* 开通项目 *#}
								<span class="span_3">{#$langData['siteConfig'][54][13]#}</span>  {#* 变更明细 *#}
								<span class="span_4">{#$langData['siteConfig'][49][57]#}</span>  {#* 有效期至 *#}
								<span class="span_5">{#$langData['siteConfig'][49][58]#}</span>  {#* 原因 *#}
							</dt>
							<dd>
								{#foreach from=$levelinfo item=openlv#}
								<span class="span_1">{#date('Y-m-d H:i:s',$openlv.time)#}</span>
								<span class="span_2">{#$openlv.info#}</span>
								<span class="span_3">+{#$openlv.day#}</span>
								<span class="span_4">{#date('Y-m-d H:i:s',$openlv.newdate)#}</span>
								<span class="span_5">{#$openlv.reason#}</span>
								{#/foreach#}
							</dd>
						</dl>
					</div>

				</div>
			</div>
			{#/if#}
			{#/foreach#}
		</div>


		<div class="mask_pop"></div>
		<div class="pop_page">
			<i class="close_btn"></i>
			<h2>{#$langData['siteConfig'][54][16]#}</h2>
			<div class="grade">
			  <ul class="fn-clear g_ul">
				{#foreach from=$memberlevelList item=level key=k#}
				<li class="grad{#if $userinfo.level == $level.id#} active{#/if#}"><span>{#$level.name#}</span></li>
				{#/foreach#}

			  </ul>
			  {#if count($memberlevelList) > 4#}
			  <i class="prev1 prev"></i>
			  <i class="next1 next"></i>
			  {#/if#}
			</div>
			<div class="container_box">
				<h3>时长选择    <a href="{#$member_userDomain#}/upgrade.html">{#$langData['siteConfig'][54][17]#}></a></h3> {#* 了解会员特权 *#}
				{#$k = 0#}
				{#foreach from=$memberlevelList item=level #}
				<div class="hui_box {#if $userinfo.level == $level.id#}show{#/if#}">
					{#$count = 0#}
					<ul class="bd bd_{#$k#}">
						{#foreach from=$level['discount'] item=dcount#}
						{#if $dcount['month'] >= $level["mintime"] #}
						{#$count = $count + 1#}
						<li class="hui_li" data-time="{#$dcount['month']#}" data-count="{#if $dcount['discount']>0#}{#$dcount['discount'] *$dcount['month'] * $level.price / 10#}{#else#}{#$level.price * $dcount['month']#}{#/if#}"  data-level="{#$level.id#}">
						{#*<span class="rec">推荐</span>*#}
						  <h4>{#$langData['siteConfig'][21][80]|replace:"1":$dcount['month']#}</h4>  {#* 1个月 *#}
						  <h2><em>{#echoCurrency type='symbol'#}</em><span>{#if $dcount['discount']>0#}{#$dcount['discount'] * $dcount['month'] * $level.price / 10#}{#else#}{#$level.price * $dcount['month']#}{#/if#}</span></h2>
						  <p class="o_price">{#echoCurrency type='symbol'#}{#$level.price * $dcount['month']#}</p>
						  {#if $dcount['discount']!=0#}

						  <span class="tip"><i></i><em>{#$langData['siteConfig'][52][5]|replace:"1":($level.price * (1-$dcount['discount']/10) * $dcount['month'] )#}{#echoCurrency type='short'#}</em></span>  {#*  立省1元  *#}
						   {#/if#}
						  <a href="javascript:;" class="open">{#if $userinfo.level==$level.id#}{#$langData['siteConfig'][43][23]#}{#else#}{#$langData['siteConfig'][6][185]#}{#/if#}</a>  {#*  立即续费  立即开通*#}
						  <i class="border"></i>
						</li>
						{#/if#}
						{#$r = $r+1#}
						{#/foreach#}

					</ul>
					{#if $count > 3#}
					<span class="prev prev_1"></span>
					<span class="next next_1"></span>
					{#/if#}
				</div>
				{#$k = $k + 1 #}
				{#/foreach#}

			</div>
		</div>
		{#include file="footer.html"#}
		<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$templets_skin#}js/noscroll.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$templets_skin#}js/myhui.js?v={#$cfg_staticVersion#}"></script>
	</body>
</html>
