<ul class="main-sub-tab" data-url="{#getUrlPath service='member' type='user' template='orderdetail' module='education' id="%id%"#}">
    <li data-id=""><a href="javascript:;">{#$langData['siteConfig'][9][0]#} (<span id="total">0</span>)</a></li>{#* 全部 *#}
    <li class="fn-hide" data-id="0"><a href="javascript:;">{#$langData['siteConfig'][9][22]#} (<span id="unpaid">0</span>)</a></li>{#* 未付款 *#}
    <li class="fn-hide" data-id="1"><a href="javascript:;">{#$langData['siteConfig'][9][24]#} (<span id="unused">0</span>)</a></li>{#* 已付款 *#}
    <li class="fn-hide" data-id="3"><a href="javascript:;">{#$langData['siteConfig'][9][5]#} (<span id="used">0</span>)</a></li>{#* 成功 *#}
</ul>

