<h2 class="subtitle">{#$langData['siteConfig'][19][313]#}{#* 订单详情  *#}<a href="{#getUrlPath service='member' type='user' template='order' module='education'#}">{#$langData['siteConfig'][10][16]#}</a>{#* 返回我的订单列表  *#}</h2>

{#$stateInfo = ""#}

{#if $detail_orderstate==1#}
	{#$stateInfo = $langData['education'][7][46]#}{#* 待联系 *#}
{#elseif $detail_orderstate==0#}
	{#$stateInfo = $langData['homemaking'][4][1]#}{#* 待付款 *#}
{#elseif $detail_orderstate==3#}
	{#$stateInfo = $langData['travel'][13][62]#}{#* 交易完成 *#}
{#elseif $detail_orderstate==7#}
	{#$stateInfo = $langData['homemaking'][9][53]#}{#* 已取消 *#}
{#elseif $detail_orderstate==8#}
	{#$stateInfo = $langData['homemaking'][9][71]#}{#* 退款中 *#}
{#elseif $detail_orderstate==9#}
	{#$stateInfo = $langData['homemaking'][10][14]#}{#* 退款成功 *#}
{#/if#}
<dl class="info-section">
	<dt>
		<span class="info-title">{#$langData['siteConfig'][19][318]#}：</span><em class="info-text">{#$stateInfo#}</em>{#*  当前订单状态  *#}
	</dt>

</dl>


<dl class="bunch-section">

	<dt>{#$langData['siteConfig'][19][353]#}</dt>{#*  卖家信息  *#}
	<dd>
		<ul class="order-address">
			<li>{#$langData['travel'][13][91]#}：{#$detail_people|replace: "|":"，"#}</li>{#*  联系人  *#}
			<li>{#$langData['siteConfig'][19][56]#}：{#$detail_contact#}</li>{#*  联系电话  *#}
			<li>{#$langData['education'][7][47]#}：{#$detail_product.phone#}</li>{#*  联系商家   *#}
		</ul>
	</dd>

	<dt>{#$langData['siteConfig'][19][322]#}</dt>{#*  购买信息  *#}
	<dd>
		<table class="info-table">
			<tbody>
				<tr>
					<th class="left">购买项目</th>{#*  购买项目  *#}
					<th width="100">{#$langData['siteConfig'][19][323]#}</th>{#*  单价  *#}
					<th width="10"></th>
					<th width="100">{#$langData['siteConfig'][19][324]#}</th>{#*  数量  *#}
					<th width="10"></th>
					<th width="200">{#if $detail_paydate == 0#}{#$langData['waimai'][4][9]#}{#else#}{#$langData['siteConfig'][23][65]#}{#/if#}</th>
					{#*  订单金额-支付金额  *#}
				</tr>
				<tr>
					<td class="left"><a class="deal-title" href="{#$detail_product.url#}" target="_blank">{#$detail_product.title#}</a></td>
					<td><span class="money"></span>{#$detail_orderprice#}</td>
					<td></td>
					<td>{#$detail_procount#}</td>					
					<td></td>			
					<td class="total"><span class="money"></span>{#$detail_totalmoney#}</td>
				</tr>
			</tbody>
		</table>
	</dd>
</dl>
