<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][1][8]#}</title>{#* 用户注册 *#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/pay.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/pay_list.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/register_v1.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.cookie.js"></script>
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', userDomain = '{#$member_userDomain#}';
  var criticalPoint = 1240, criticalClass = "w1200";
  $("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
    var geetest = {#$cfg_geetest#},type ={#$regable#};
</script>
<!-- 对表单样式进行更改 -->
<style>
{#if count($regtypeArr)==3#}
.register .tab-nav li{width:33%;}
.register .tab-head .mark{width: 323px;}
{#elseif count($regtypeArr)==2#}
.register .tab-nav li{width:50%;}
.register .tab-head .mark{width: 490px;}
{#else#}
.register .tab-nav li{width:100%;}
.register .tab-head .mark{width: 980px;}
{#/if#}
</style>
</head>

<body>
{#include file="../siteConfig/top1.html"#}

<!-- head s -->
<div class="wrap header fn-clear">
  <div class="logo">
    <a href="{#$cfg_basehost#}" title="{#$cfg_webname#}">
			<img src="{#$cfg_weblogo#}" alt="{#$cfg_webname#}">
			<div class="shortname"><h2>{#$cfg_shortname#}</h2><p>{#$langData['siteConfig'][23][26]#}</p></div>{#* 地方最大最全生活网 *#}
		</a>
  </div>
  <dl class="kefu fn-clear">
    <dt><img src="{#$templets_skin#}images/kf_tel.png" alt=""></dt>
    <dd>
      <p class="p1">{#$langData['siteConfig'][19][275]#}</p>{#* 客服热线 *#}
      <p class="p2">{#$cfg_hotline#}</p>
    </dd>
  </dl>
</div>

<div class="split-line"></div>

<!-- head e -->
<div class="wrap">
  <div class="registerwrap fn-clear">
    <div class="register">
      <div class="tab-head">
        <ul class="tab-nav fn-clear">
          {#if in_array('1',$regtypeArr)#}
          <li data-type="1" class="icon1 active"><a href="javascript:;"><span>{#$langData['siteConfig'][1][9]#}</span></a></li>{#* 用户名注册 *#}
          {#/if#}
          {#if in_array('2',$regtypeArr)#}
          <li data-type="2" class="icon2"><a href="javascript:;"><span>{#$langData['siteConfig'][1][2]#}</span></a></li>{#* 手机注册 *#}
          {#/if#}
          {#if in_array('3',$regtypeArr)#}
          <li data-type="3" class="icon2"><a href="javascript:;"><span>{#$langData['siteConfig'][1][3]#}</span></a></li>{#* 邮箱注册 *#}
          {#/if#}
        </ul>
        <div class="mark"></div>
      </div>
      <div class="tab-body">
        <div class="tab-pane">
          <form action="" method="post" class="registform">
			<input name="token" id="token" value="{#$token#}" type="hidden" />
            <input type="hidden" name="areaCode" id="areaCode" value="{#$internationalPhoneSection[0]['code']#}">
            {#if in_array('1',$regtypeArr)#}
            <div class="ftype ftype01" {#if $regable==1#}style="display: block;"{#/if#}>
				<div class="form-row">
                <dl class="fn-clear">
                    <dt>{#$langData['siteConfig'][19][20]#}</dt>{#* 用户名*#}
                  <dd>
                    <div class="fn-clear">
                      <div class="inpbox fn-left">
                        <input type="text" name="username" class="username1" value="" placeholder="{#$langData['siteConfig'][32][48]#}">{#* 请输入您的用户名*#}
                      </div>
                      <div class="error fn-left"><em></em><i class="error-icon"></i><span>{#$langData['siteConfig'][32][49]#}</span></div>{#* 请输入您的用户名账号*#}
                    </div>
                    <p class="tips">*{#$langData['siteConfig'][1][10]#}</p>{#* 注册成功后即可使用用户名账号登录*#}
                  </dd>
                </dl>
              </div>
              <div class="form-row">
                <dl class="fn-clear">
                  <dt>{#$langData['siteConfig'][5][9]#}</dt>{#* 设置密码 *#}
                  <dd class="fn-clear">
                    <div class="inpbox fn-left">
                      <input type="password" class="password password1" name="" value="" placeholder="{#$langData['siteConfig'][20][6]|replace:'1':'6'#}"><i class="psw-show"></i>
                      <p class="tips">*{#$langData['siteConfig'][20][82]#}</p>{#* 密码设置为1个字符 - 密码不能是6位以下纯数字/字母/半角符号，字母区分大小写 *#}
                    </div>
                    <div class="error fn-left"><em></em><i class="error-icon"></i><span>{#$langData['siteConfig'][20][502]#}</span></div>{#* 请填写密码 *#}
                  </dd>
                </dl>
              </div>
              {#if in_array('1',$fieldsArr)#}
              <div class="form-row">
                <dl class="fn-clear">
                    <dt>{#$langData['siteConfig'][19][31]#}</dt>{#* 真实姓名 *#}
                    <dd>
                    <div class="fn-clear">
                    	<div class="inpbox fn-left"><input type="text" name="nickname" class="nickname" value="" placeholder="{#$langData['siteConfig'][32][50]#}"></div>
                    	<div class="error fn-left"><em></em><i class="error-icon"></i><span>{#$langData['siteConfig'][32][50]#}</span></div>{#* 请输入您的真实姓名 *#}
                    </div>
                    </dd>
                </dl>
              </div>
              {#/if#}
              {#if in_array('2',$fieldsArr)#}
              <div class="form-row">
                <dl class="fn-clear">
                    <dt>{#$langData['siteConfig'][3][0]#}</dt>{#* 邮箱 *#}
                    <dd>
                    <div class="fn-clear">
                    	<div class="inpbox fn-left"><input type="text" name="email" class="email" value="" placeholder="{#$langData['siteConfig'][20][31]#}"></div>
                    	<div class="error fn-left"><em></em><i class="error-icon"></i><span>{#$langData['siteConfig'][20][271]#}</span></div>{#* 请填写邮箱 *#}
                    </div>
                    </dd>
                </dl>
              </div>
              {#/if#}
              {#if in_array('3',$fieldsArr)#}
              <div class="form-row">
                <dl class="fn-clear">
                    <dt>{#$langData['siteConfig'][22][40]#}</dt>{#* 手机 *#}
                    <dd>
                    <div class="fn-clear">
                    	<div class="inpbox fn-left">
                        <div class="inpbdr">
                          <span class="areaCode"><i>+{#$internationalPhoneSection[0]['code']#}</i><s></s></span>
                            <input maxlength="11" type="text" name="phone" class="phone" value="" placeholder="{#$langData['siteConfig'][20][27]#}">
                        </div>

                        <div class="areaCode_wrap areaCode_wrap2">
                          <ul>

                          </ul>
                        </div>
                      </div>

                    	<div class="error fn-left"><em></em><i class="error-icon"></i><span>{#$langData['siteConfig'][21][185]#}</span></div>{#* 请输入您的手机 *#}
                    </div>
                    </dd>
                </dl>
              </div>
              {#/if#}
			  {#if !empty($cfg_seccodetype)#}
              <div class="form-row">
                <dl class="fn-clear">
                    <dt>{#$langData['siteConfig'][4][0]#}</dt>{#* 验证码 *#}
                    <dd>
                    <div class="fn-clear">
                    	<div class="inpbox fn-left"><input type="text" name="vericode" class="vericode" value="" placeholder="{#$langData['siteConfig'][20][540]#}"></div><img src="/include/vdimgck.php" title="{#$langData['siteConfig'][24][66]#}" id="verifycode" />{#* 请填写验证码 - 看不清？点击换一张 *#}
                    	<div style="float:right;" class="error fn-left"><em></em><i class="error-icon"></i><span>{#$langData['siteConfig'][20][540]#}</span></div>
                    </div>
                    </dd>
                </dl>
              </div>
              {#/if#}
            </div>
            {#/if#}
            {#if in_array('2',$regtypeArr)#}
            <div class="ftype ftype02" {#if $regable==3#}style="display: block;"{#/if#}>
              <div class="form-row">
                <dl class="fn-clear">
                  <dt>{#$langData['siteConfig'][3][6]#}</dt>{#* 移动扫码入驻 *#}
                  <dd class="fn-clear">
                    <div class="dropdown-menu fn-left"><a href="javascript:;" class="droptab" id="J-countryMobileCode"><label>{#$internationalPhoneSection[0]['code']#}</label><i class="droparrow"></i></a></div>
                    <div class="inpbox fn-left">
                      <input type="text" name="" value="" placeholder="{#$langData['siteConfig'][20][27]#}" class="username3">
                      <p class="tips">*{#$langData['siteConfig'][20][80]#}</p>{#* 注册成功后即可使用手机号登录 *#}
                    </div>
                    <div class="error fn-left"><em></em><i class="error-icon"></i><span>{#$langData['siteConfig'][20][465]#}</span></div>{#* 手机号码格式不正确 *#}
                  </dd>
                </dl>
              </div>
              <div class="form-row">
                <dl class="fn-clear">
                  <dt>{#$langData['siteConfig'][4][0]#}</dt>{#* 验证码 *#}
                  <dd class="fn-clear">
                    <div class="inpbox fn-left">
                      <input type="text" name="" class="yzm3" value="" placeholder="{#$langData['siteConfig'][20][32]#}">
                    </div>
                    <a href="javascript:;" class="sendvdimgck sendvdimgck3 fn-left">{#$langData['siteConfig'][4][1]#}</a>{#* 获取验证码 *#}
                    <a href="javascript:;" class="djs3"></a>
                    <div class="error fn-left"><em></em><i class="error-icon"></i><span>{#$langData['siteConfig'][20][466]#}</span></div>{#* 验证码不正确 *#}
                  </dd>
                </dl>
              </div>
              <div class="form-row">
                <dl class="fn-clear">
                  <dt>{#$langData['siteConfig'][5][9]#}</dt>{#* 设置密码 *#}
                  <dd class="fn-clear">
                    <div class="inpbox fn-left">
                      <input type="password" class="password password3" name="" value="" placeholder="{#$langData['siteConfig'][20][6]|replace:'1':'6'#}"><i class="psw-show"></i>
                      <p class="tips">*{#$langData['siteConfig'][20][82]#}</p>{#* 密码不能是6位以下纯数字/字母/半角符号，字母区分大小写 *#}
                    </div>
                    <div class="error fn-left"><em></em><i class="error-icon"></i><span>{#$langData['siteConfig'][20][502]#}</span></div>{#* 请填写密码 *#}
                  </dd>
                </dl>
              </div>
              <div class="form-row">
                <dl class="fn-clear">
                  <dt>{#$langData['siteConfig'][5][10]#}</dt>{#* 确认密码 *#}
                  <dd class="fn-clear">
                    <div class="inpbox fn-left">
                      <input type="password" class="repassword3" name="" value="" placeholder="{#$langData['siteConfig'][20][24]#}">{#* 请再次输入密码 *#}
                    </div>
                    <div class="error fn-left"><em></em><i class="error-icon"></i>{#$langData['siteConfig'][20][493]#}</div>{#* 两次密码输入不一样 *#}
                  </dd>
                </dl>
              </div>
            </div>
            {#/if#}
            {#if in_array('3',$regtypeArr)#}
            <div class="ftype ftype03" {#if $regable==2#}style="display: block;"{#/if#}>
              <div class="form-row">
                <dl class="fn-clear">
                    <dt>{#$langData['siteConfig'][3][11]#}</dt>{#* 邮箱账号 *#}
                  <dd>
                    <div class="fn-clear">
                      <div class="inpbox fn-left">
                        <input type="text" name="" class="username2" value="" placeholder="{#$langData['siteConfig'][20][31]#}">{#* 请输入您的邮箱账号 *#}
                      </div>
                      <div class="error fn-left"><em></em><i class="error-icon"></i><span>{#$langData['siteConfig'][20][31]#}</span></div>{#* 请输入您的邮箱账号 *#}
                    </div>
                    <p class="tips">*{#$langData['siteConfig'][20][81]#}</p>{#* 注册成功后即可使用邮箱账号登录 *#}
                  </dd>
                </dl>
              </div>
              <div class="form-row">
                <dl class="fn-clear">
                  <dt>{#$langData['siteConfig'][4][0]#}</dt>{#* 验证码 *#}
                  <dd class="fn-clear">
                    <div class="inpbox fn-left">
                      <input type="text" name="" class="yzm2" value="" placeholder="{#$langData['siteConfig'][20][503]#}">{#* 请输入您的邮箱验证码 *#}
                    </div>
                    <a href="javascript:;" class="sendvdimgck sendvdimgck2 fn-left">{#$langData['siteConfig'][4][1]#}</a>{#* 获取验证码 *#}
                    <a href="javascript:;" class="djs2"></a>
                    <div class="error fn-left"><em></em><i class="error-icon"></i><span>{#$langData['siteConfig'][20][466]#}</span></div>{#* 验证码不正确 *#}
                  </dd>
                </dl>
              </div>
              <div class="form-row">
                <dl class="fn-clear">
                  <dt>{#$langData['siteConfig'][5][9]#}</dt>{#* 设置密码 *#}
                  <dd class="fn-clear">
                    <div class="inpbox fn-left">
                      <input type="password" class="password2" name="" value="" placeholder="{#$langData['siteConfig'][20][6]|replace:'1':'6'#}"><i class="psw-show"></i>
                      <p class="tips">*{#$langData['siteConfig'][20][82]#}</p>{#* 密码不能是6位以下纯数字/字母/半角符号，字母区分大小写 *#}
                    </div>
                    <div class="error fn-left"><em></em><i class="error-icon"></i><span>{#$langData['siteConfig'][20][502]#}</span></div>{#* 请填写密码 *#}
                  </dd>
                </dl>
              </div>
              <div class="form-row">
                <dl class="fn-clear">
                  <dt>{#$langData['siteConfig'][5][10]#}</dt>{#* 确认密码 *#}
                  <dd class="fn-clear">
                    <div class="inpbox fn-left">
                      <input type="password" class="repassword2" name="" value="" placeholder="{#$langData['siteConfig'][20][24]#}">{#* 请再次输入密码 *#}
                    </div>
                    <div class="error fn-left"><em></em><i class="error-icon"></i>{#$langData['siteConfig'][20][493]#}</div>{#* 两次密码输入不一样 *#}
                  </dd>
                </dl>
              </div>
            </div>
            {#/if#}
            <div class="form-row">
              <dl class="fn-clear">
                <dt></dt>
                <dd>
                  <div class="agreement">
                    <label class="checked"><i class="regicon iconcheck"></i>{#$langData['siteConfig'][6][2]#}</label>{#* 同意 *#}
                    <a href="{#getUrlPath service='siteConfig' template='protocol' title='会员注册协议'#}" target="_blank">《{#$langData['siteConfig'][12][0]#}》</a>{#* 会员注册协议 *#}
                  </div>
                  <input type="submit" value="{#$langData['siteConfig'][1][4]#}" class="submit">{#* 会员注册协议 *#}
                </dd>
              </dl>
            </div>
            <div id="popup-captcha"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="ui-select" data-widget-cid="widget-1" style="z-index: 99; display: none; position: absolute;">
  <ul class="ui-select-content" data-role="content">
  </ul>
</div>





{#include file="../siteConfig/public_foot_v3.html" theme='gray'#}

<div class="dialog_msg fn-hide">
  <div class="box">
    <div class="bdt"><div class="bdr"></div></div>
    <a href="javascript:;" class="close">×</a>
    <div class="content">
      <p class="info">手机号<span class="blur"></span>{#$langData['siteConfig'][2][17]#}</p>{#* 已被注册过，请直接登陆 *#}
      <a href="{#$cfg_basehost#}/login.html"class="btn">{#$langData['siteConfig'][2][0]#}</a>{#* 登陆 *#}
      <p class="fpwd">{#$langData['siteConfig'][5][23]#}<a href="{#$cfg_basehost#}/fpwd.html" class="blur">{#$langData['siteConfig'][5][3]#}</a></p>{#* 如您忘记密码，点击---找回密码 *#}
    </div>
  </div>
  <div class="bg"></div>
</div>

<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
{#if $cfg_geetest#}<script type="text/javascript" src="{#$cfg_secureAccess#}static.geetest.com/static/tools/gt.js"></script>{#/if#}
<script type="text/javascript" src="{#$templets_skin#}js/pay.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/register_v1.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
