{#if $module == "zb"#}
	{#$pageTitle = $langData['renovation'][8][30]#} {#* 我的招标  *#}
{#elseif $module == "order"#}
	{#$pageTitle = $langData['renovation'][9][0]#}  {#* 我的预约  *#}
{#elseif $module == "customer"#}
	{#$pageTitle = $langData['renovation'][10][0]#}  {#* 客户管理  *#}
{#elseif $module == "profile"#}
	{#$pageTitle = $langData['renovation'][7][18]#} {#* 我的资料  *#}
	{#elseif $module == "case"#}
	{#$pageTitle = $langData['renovation'][9][18]#}  {#* 案例管理  *#}
{#elseif $module == "article"#}
	{#$pageTitle = $langData['renovation'][7][2]#} {#* 我的文章  *#}
{#/if#}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$pageTitle#} - {#$cfg_webname#}</title>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/manage.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/renovation-{#$module#}.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
	var cookiePre = '{#$cfg_cookiePre#}';
	var service = 'renovation';
</script>
</head>

<body>
{#include file="top.html"#}
{#$pageCurr = "renovation-{#$module#}"#}
<div class="wrap">
	<div class="container fn-clear">

		{#include file="sidebar.html"#}

		<div class="main">
			{#if $module != "case" && $module != "article"#}
			<ul class="main-tab">
				{#if $module == "zb"#}
				<li class="curr"><a href="{#getUrlPath service='member' type='user' template='renovation' action='zb'#}">{#$langData['renovation'][8][30]#}</a></li>{#* 我的招标 *#}
				{#/if#}

				{#if $module == "order"#}
				<li data-id="1" class="curr"><a href="javascript:;">{#$langData['renovation'][11][16]#}</a></li>{#* 在线预约  *#}
				<li data-id="2"><a href="javascript:;">{#$langData['renovation'][9][1]#}</a></li>{#* 在线报价  *#}
				<li data-id="3"><a href="javascript:;">{#$langData['renovation'][3][24]#}</a></li>{#* 参观工地  *#}
				{#/if#}

				{#if $module == "profile"#}
				<li class="curr"><a href="{#getUrlPath service='member' type='user' template='renovation' action='profile'#}">{#$langData['renovation'][7][18]#}</a></li>{#* 我的资料 *#}

				{#/if#}
				{#if $module == "customer"#}
				<li class="curr"><a href="{#getUrlPath service='member' type='user' template='renovation' action='customer'#}">{#$langData['renovation'][10][0]#}</a></li>{#* 客户管理 *#}

				{#/if#}
				
			</ul>
			{#/if#}

			{#include file="renovation-$module.html"#}

		</div>
	</div>
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/fabu.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/renovation-{#$module#}.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
