
<script type="text/javascript">
	var module = '{#$module#}', atpage = 1, totalCount = 0, pageSize = 10, state = '{#$state#}', type = '{#$type#}';
	var editUrl = '{#getUrlPath service="member" type="user" template="fabu" action="renovation-article"#}';
	var Identity   = {#json_encode($Identity)#}; /*身份(工长/设计师/公司)*/
</script>
			
<ul class="main-tab">
	<li data-id=""><a href="javascript:;">{#$langData['renovation'][15][73]#} (<span id="total">0</span>)</a></li>{#* 全部文章  *#}
	<li data-id="1"><a href="javascript:;">{#$langData['siteConfig'][19][392]#} (<span id="audit">0</span>)</a></li>{#* 已审核  *#}
	<li data-id="0"><a href="javascript:;">{#$langData['siteConfig'][9][21]#} (<span id="gray">0</span>)</a></li>{#* 未审核  *#}
	<li data-id="2"><a href="javascript:;">{#$langData['siteConfig'][9][35]#} (<span id="refuse">0</span>)</a></li>{#* 审核拒绝  *#}

	<li class="add"><a href="{#getUrlPath service="member" type="user" template="fabu" action="renovation-article" param="fid={#$Identity['id']#}&typename={#$Identity['type']#}"#}">{#$langData['renovation'][7][3]#}</a></li>{#* 发布文章  *#}
</ul>
<div class="list {#$module#}" id="list"><p class="loading"><img src="{#$cfg_staticPath#}images/ajax-loader.gif" />{#$langData['siteConfig'][20][184]#}...</p></div>{#* 加载中，请稍候 *#}

<div class="pagination fn-clear"></div>



