<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][19][233]#} - {#$cfg_webname#}</title>{#* 会员中心 *#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/reward.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
	var atpage = 1, totalCount = 0, pageSize = 15;
  var joinDate ="2015-01";//最早有奖励的开始时间
</script>
</head>

<body>
{#$pageTitle = $langData['siteConfig'][19][233]#}{#* 打赏收益 *#}
{#include file="top.html"#}

<div class="wrap">
	<div class="container fn-clear">
    {#include file="sidebar.html"#}

    <div class="main">
      <div class="incomeBox fn-clear">
        {#$allmoney = $totalMoney + $giftTotal + $rewardTotal + $hongbaoTotal #}
        <dl class="allIn"><dt>{#$allmoney#}</dt><dd>总收入</dd></dl>
        <dl><dt>{#$yttotalMoney#}</dt><dd>昨日收入</dd></dl>
      </div>
      {#$sjmoney  = $totalMoney + $hongbaoTotal + $rewardTotal#}
      <ul class="countBox">
        <li class="allSh">
          <strong>{#$sjmoney#}</strong>
          <p>赏金收入</p>
          <i></i>
        </li>
        <li class="award">
          <strong>{#$giftTotal#}</strong>
          <p>礼物收入</p>
          <i></i>
        </li>
        <li class="shaNum">
          <strong>{#$totalCount#}</strong>
          <p>打赏/送礼总人数</p>
          <i></i>
        </li>
      </ul>

			<div class="dsTitle">
        <p class="title">{#$langData['siteConfig'][54][94]#}</p>{#* 打赏/礼物明细 *#}
        {#if $totalMoney > 0#}
        <div class="choseWrap">
          <!-- 月份选择 s-->
          <div class="month fn-left sameChose">
            {#* 全部时间 *#}
            <div class="monthC comX" data-date=""><span>{#$langData['siteConfig'][54][68]#}</span><i></i></div>
            <div class="dateWrap comWrap">
              <div class="dateTop">
                <a href="javascript:;" class="minusDate fn-left"></a>
                <h2></h2> <!-- 年份 -->
                <a href="javascript:;" class="addDate fn-right disabled"></a>
              </div>
              <div class="dateCon">
                {#* 查看全部 *#}
                <h3 class="seeAll"><a href="javascript:;">{#$langData['siteConfig'][16][3]#}</a></h3>
                <ul class="fn-clear">
					<li><a href="javascript:;" data-id="01">{#$langData['siteConfig'][14][13]#}</a></li>  {#* 一月 *#}
  				  <li><a href="javascript:;" data-id="02">{#$langData['siteConfig'][14][14]#}</a></li>  {#* 二月 *#}
  				  <li><a href="javascript:;" data-id="03">{#$langData['siteConfig'][14][15]#}</a></li>  {#* 三月 *#}
  				  <li><a href="javascript:;" data-id="04">{#$langData['siteConfig'][14][16]#}</a></li>  {#* 四月 *#}
  				  <li><a href="javascript:;" data-id="05">{#$langData['siteConfig'][14][17]#}</a></li>  {#* 五月 *#}
  				  <li><a href="javascript:;" data-id="06">{#$langData['siteConfig'][14][18]#}</a></li>  {#* 六月 *#}
  				  <li><a href="javascript:;" data-id="07">{#$langData['siteConfig'][14][19]#}</a></li>  {#* 七月 *#}
  				  <li><a href="javascript:;" data-id="08">{#$langData['siteConfig'][14][20]#}</a></li>  {#* 八月 *#}
  				  <li><a href="javascript:;" data-id="09">{#$langData['siteConfig'][14][21]#}</a></li>  {#* 九月 *#}
  				  <li><a href="javascript:;" data-id="10">{#$langData['siteConfig'][14][22]#}</a></li>  {#* 十月 *#}
  				  <li><a href="javascript:;" data-id="11">{#$langData['siteConfig'][14][23]#}</a></li>  {#* 十一月 *#}
  				  <li><a href="javascript:;" data-id="12">{#$langData['siteConfig'][14][24]#}</a></li>  {#* 十二月 *#}
                </ul>
              </div>
            </div>
          </div>
          <!-- 月份选择 e-->
          <!-- 收入来源 s-->
          <div class="incomeSor fn-left sameChose" data-id="">
            <div class="comX"><span>{#$langData['siteConfig'][54][95]#}</span><i></i></div> {#* 收入来源 *#}
            <div class="sameList comWrap">
              <ul>
                <li><a href="javascript:;" data-id="">{#$langData['siteConfig'][9][0]#}</a></li> {#* 全部 *#}
                <li><a href="javascript:;" data-id="article">{#$langData['siteConfig'][50][21]#}</a></li> {#* 信息资讯 *#}
                <li><a href="javascript:;" data-id="live">{#$langData['siteConfig'][15][23]#}</a></li> {#* 视频直播 *#}
                <li><a href="javascript:;" data-id="circle">{#$langData['siteConfig'][54][97]#}</a></li> {#* 圈子动态 *#}
                <li><a href="javascript:;" data-id="tieba">{#$langData['siteConfig'][50][39]#}</a></li> {#* 贴吧社区 *#}
                <li><a href="javascript:;" data-id="chat">{#$langData['siteConfig'][54][98]#}</a></li> {#* 在线聊天 *#}
                <li><a href="javascript:;" data-id="dating">{#$langData['siteConfig'][53][3]#}</a></li> {#* 互动交友 *#}
              </ul>
            </div>
          </div>

          <!-- 收入来源 e-->
          <!-- 收入类型 s-->
          <div class="incomeType fn-left sameChose" data-id="">
            <div class="comX"><span>{#$langData['siteConfig'][54][96]#}</span><i></i></div> {#* 收入类型 *#}
            <div class="sameList comWrap">
              <ul>
                <li><a href="javascript:;" data-id="1">{#$langData['siteConfig'][29][4]#}</a></li> {#* 礼物 *#}
                <li><a href="javascript:;" data-id="2">{#$langData['siteConfig'][19][396]#}</a></li> {#* 打赏 *#}
              </ul>
            </div>
          </div>
          <!-- 收入类型 e-->
          <!-- 金额 s-->
          <div class="amoutMoney fn-left sameChose" data-id="">
            <div class="comX"><span>{#$langData['siteConfig'][19][306]#}</span><i></i></div> {#* 金额 *#}
            <div class="comWrap">
             <div class="inpbox">
               <div class="symbol"><span class="rmb">{#echoCurrency type='symbol'#}</span><input type="input" class="p1" id="price1" maxlength="5" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" placeholder="最低金额"></div>
              -
              <div class="symbol"><span class="rmb">{#echoCurrency type='symbol'#}</span><input type="input" class="p2" id="price2" maxlength="5" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" placeholder="最高金额"></div>
              <span class="btn btn_price" id="price_sure">确定</span>
             </div>

            </div>
          </div>
          <!-- 金额 e-->
        </div>
        {#/if#}
      </div>
      {#if $totalMoney > 0#}
      <div class="listWrap">
        {#* 总计 *#}
        <div class="listTit"><div>{#$langData['siteConfig'][19][664]#}{#echoCurrency type='symbol'#}<span id="allMoney">0</span></div></div>
        <table class="record">
          <colgroup><col width="24%"><col width="20%"><col width="40%"><col width="16%"></colgroup>
          <thead>
            <tr><th class="spe">{#$langData['siteConfig'][19][508]#}</th><th>{#$langData['siteConfig'][54][93]#}</th><th>{#$langData['siteConfig'][19][5]#}</th>
              <th>{#$langData['siteConfig'][19][164]#}<span class="tipI"><i></i><s></s></span>
                <div class="tipCon">{#$langData['siteConfig'][54][99]|replace:'1':$cfg_rewardFee#}<br>{#if in_array('live',$installModuleArr)#}直播:{#$langData['siteConfig'][54][99]|replace:'1':$cfg_liveFee#}{#/if#}</div> {#* 收入为平台扣除1%佣金后的金额 *#}
              </th>
            </tr>{#* 用户-日期-来源 -收入   *#}
          </thead>
          <tbody id="list">
            <tr><td colspan="4"><p class="loading"><img src="{#$cfg_staticPath#}images/ajax-loader.gif" />{#$langData['siteConfig'][20][184]#}...</p></td></tr>{#* 加载中，请稍候 *#}
          </tbody>
        </table>
      </div>
			<div class="pagination fn-clear"></div>
      {#else#}
			<div class="empty">{#$langData['siteConfig'][19][390]#}</div>{#* 暂无被打赏记录！ *#}
      {#/if#}

    </div>
  </div>
</div>
<div class="fakeMask"></div>
{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/reward.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
