<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][16][113]#} - {#$cfg_webname#}</title>{#* 会员升级 *#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/upgrade.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
	var totalBalance = {#$userinfo.money#};
	var userCenter = '{#getUrlPath service="member" type="user"#}';
</script>
</head>

<body>
{#include file="../siteConfig/top1.html"#}
<div class="fixedwrap">
   <!-- head s -->
    <div class="wrap header fn-clear">
     <div class="logo">
      <a href=" " title="{#$cfg_webname#}"><img src="{#$cfg_weblogo#}" alt="{#$cfg_webname#}" /></a>
  </div>
  {#* 客服热线 *#}
  <div class="kefu">{#$langData['siteConfig'][19][275]#}<strong>{#$cfg_hotline#}</strong></div>
    </div>
    <!-- head e -->
</div>

<div class="body_box">
	<div class="banner"><img src="{#$templets_skin#}images/member/banner.png" alt=""></div>
	<div class="hui_tc">
		<h2>{#$langData['siteConfig'][54][5]#}</h2>    {#* 会员套餐任您选 *#}
		<P>{#$langData['siteConfig'][54][6]#}</P>    {#* 多种会员模式随您选 *#}
		<div class="grade">
		  <ul class="fn-clear g_ul">
			{#foreach from=$memberlevelList item=level key=k#}
			<li class="grade{#$k+1#}{#if $k == 0#} active{#/if#}"><span>{#$level.name#}</span></li>
			{#/foreach#}

		  </ul>
		  {#if count($memberlevelList) > 4 #}
		  <i class="prev1 prev"></i>
		  <i class="next1 next"></i>
		  {#/if#}
		</div>
		<div class="hui_container">
			<div class="container_box">
				{#$k = 0#}
				{#foreach from=$memberlevelList item=level #}
				<div class="hui_box {#if $k==0#}show{#/if#}">
					{#$count = 0#}
					<ul class="bd bd_{#$k#}">
						{#foreach from=$level['discount'] item=dcount#}
						{#if $dcount['month'] >= $level["mintime"] #}
						{#$count = $count + 1#}
						<li class="hui_li" data-time="{#$dcount['month']#}" data-count="{#if $dcount['discount']>0#}{#$dcount['discount'] *$dcount['month'] * $level.price / 10#}{#else#}{#$level.price * $dcount['month']#}{#/if#}" data-id="{#$level.id#}">
						{#*<span class="rec">推荐</span>*#}
						  <h4>{#$langData['siteConfig'][21][80]|replace:"1":$dcount['month']#}</h4>    {#* 1个月 *#}
						  <h2><em>{#echoCurrency type='symbol'#}</em><span>{#if $dcount['discount']>0#}{#floatval(($dcount['discount'] *$dcount['month'] * $level.price / 10)|string_format:"%.2f")#}{#else#}{#floatval(($level.price * $dcount['month'])|string_format:"%.2f")#}{#/if#}</span></h2>
						  <p class="o_price">{#echoCurrency type='symbol'#}{#floatval(($level.price * $dcount['month'])|string_format:"%.2f")#}</p>
						  {#if $dcount['discount']!=0#}
						  <span class="tip"><i></i><em>{#$langData['siteConfig'][52][5]|replace:"1":($level.price * (1-$dcount['discount']/10) * $dcount['month'])#}{#echoCurrency type='short'#}</em></span>  {#* 立省1元 *#}
						   {#/if#}
						  <a href="javascript:;" class="open">{#$langData['siteConfig'][6][185]#}</a>{#*  立即开通  *#}
						  <i class="border"></i>
						</li>
						{#/if#}
						{#$r = $r+1#}
						{#/foreach#}

					</ul>
					{#if $count >4#}
					<span class="prev prev_1"></span>
					<span class="next next_1"></span>
					{#/if#}
				</div>
				{#$k = $k + 1 #}
				{#/foreach#}

			</div>

		</div>

	</div>
	<div class="right_container">

		<div class="special_box">
			{#$m = 0#}
			{#foreach from=$memberlevelList item=level #}

			<div class="right_box {#if $m==0#}show1{#/if#}">
				<h2>{#$level["name"]#}{#$langData['siteConfig'][52][6]|replace:"1":count(array_filter($level["privilege"]))#}</h2>   {#* 享<em>1</em>大特权 *#}
				<p>{#$langData['siteConfig'][54][7]#}</p>   {#*  会员的专属特权，不定期更新  *#}
				<div class="rbox1">
					<ul class="fn-clear">
						{#$n=1#}
						{#if  $level["privilege"]['delivery']#}
						<li class="li_r">
							<div class="icon_box"><img src="{#$templets_skin#}images/member/wm_icon1.png"></div>
							<h3>{#$langData['siteConfig'][52][8]#}</h3>        {#* 外卖配送费优惠  *#}
							{#if $level["privilege"]['delivery'][0]['type']=='discount'#}
							<p>{#$langData['siteConfig'][52][9]|replace:"1":($level["privilege"]['delivery'][0]['val'])#}</p>       {#* 可享配送费1折优惠  *#}
							{#else#}
							<p>{#$langData['siteConfig'][52][10]|replace:"1":($level["privilege"]['delivery'][0]['val'])#}</p>     {#* 可享免1次配送费  *#}
							{#/if#}
							<h4>0{#$n#} <i class="line"></i></h4>
							{#$n = $n +1#}
						</li>
						{#/if#}

						{#if  $level["privilege"]['waimai']#}
						<li class="li_r">
							<div class="icon_box"><img src="{#$templets_skin#}images/member/wm_icon2.png"></div>
							<h3>{#$langData['siteConfig'][52][12]#}</h3>    {#* 外卖商品优惠  *#}
							<p>{#$langData['siteConfig'][52][11]|replace:"1":($level["privilege"]['waimai'])#}</p>    {#* 可享外卖商品1折优惠  *#}
							<h4>0{#$n#}<i class="line"></i></h4>
							{#$n = $n +1#}
						</li>
						{#/if#}
						{#if $level["privilege"]['shop']#}
						<li class="li_r">
							<div class="icon_box"><img src="{#$templets_skin#}images/member/shop_icon.png"></div>
							<h3>{#$langData['siteConfig'][52][13]#}</h3>                   {#* 商城商品优惠  *#}
							<p>{#$langData['siteConfig'][52][14]|replace:"1":($level["privilege"]['shop'])#}</p>   {#* 可享商城商品1折优惠  *#}
							<h4>0{#$n#}<i class="line"></i></h4>
							{#$n = $n +1#}
						</li>
						{#/if#}
						{#if $level["privilege"]['quan']#}
						<li class="li_r">
							<div class="icon_box"><img src="{#$templets_skin#}images/member/quan_icon.png"></div>
							<h3>{#$langData['siteConfig'][52][15]#}
							{#if $userinfo.level#}{#/if#}
							</h3>  {#*   剩1张*#}

							<p title="{#foreach from =$level["privilege"]['quan'] item=quan#}{#$langData['siteConfig'][52][17]|replace:" 1 ":$quan['num']|replace:" 2 ":$quan['money']|replace:" Q ":{#echoCurrency type='short'#}|replace:" 3 ":$quan['name']#}{#/foreach#}">
							{#foreach from =$level["privilege"]['quan'] item=quan#}
							{#$langData['siteConfig'][52][17]|replace:" 1 ":$quan['num']|replace:" 2 ":$quan['money']|replace:" Q ":{#echoCurrency type='short'#}|replace:" 3 ":$quan['name']#}
							{#/foreach#}{#* 每月赠送 1 张 2 元面值 3 *#}
							</p>

							<h4>0{#$n#}<i class="line"></i></h4>
							{#$n = $n +1#}
						</li>
                        {#/if#}
					</ul>
				</div>
				<div class="rbox2">
					{#if $n > 1#}
                  	{#$count = "<em>"|cat:(count($level["privilege"])-4)|cat:"</em>"#}
                  	{#else#}
                  	{#$count = "<em>"|cat:(count($level["privilege"]))|cat:"</em>"#}
                  	{#/if#}
					<h3>{#$langData['siteConfig'][52][18]|replace:"1":$count#} <i></i></h3>
					<ul class="fn-clear">
						{#foreach from=$level["privilege"] item=right key="l" #}
						{#siteConfig action="siteModule" return="module"#}
						{#if $module.code==$l && ($l != 'waimai' && $l != 'shop')#}
						<li class="li_r2">
							<div class="icon_box"><img src="{#$templets_skin#}images/member/{#$l#}.png"></div>
							<h3>{#$module.name#}</h3>
							<p>{#$langData['siteConfig'][54][2]|replace:"1":$right#}</p>    {#*  每周免费发布1条信息  *#}
						</li>
						{#/if#}
						{#/siteConfig#}
						{#if $l=='livetime' && in_array("live", $installModuleArr)#}
						<li class="li_r2">
							<div class="icon_box"><img src="{#$templets_skin#}images/member/live.png"></div>
							<h3>{#$langData['siteConfig'][54][0]#}</h3>   {#*  直播时间  *#}
							<p>{#$langData['siteConfig'][54][1]|replace:"1":$right#}</p>      {#*  可享最长{#$right#}小时每条  *#}
						</li>
						{#/if#}
						{#/foreach#}
						<li class="li_r2">
							<span>{#$langData['siteConfig'][52][19]#}</span>
						</li>{#*  更多特权敬请期待...  *#}
					</ul>
				</div>
			</div>
			{#$m = $m+1#}
			{#/foreach#}
		</div>
	</div>
</div>

{#include file="footer.html"#}
<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/upgrade.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
