<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{#$nickname#}{#$langData['siteConfig'][19][840]#} - {#$cfg_webname#}</title>{#* 关注的会员！ *#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}../member/css/login.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" href="{#$templets_skin#}css/user.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" href="{#$templets_skin#}css/user_pub.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', cookiePre = '{#$cfg_cookiePre#}';
	var pagetype = 'user_detail';
	$(function(){
		$(".fabu_box").addClass('open').find('.module_list').slideDown();
	})
</script>
</head>
<body class="w1200">
{#include file="../siteConfig/top1.html"#}
{#include file="user_left.html" pageCurr="info"#}
	
	
{#include file="user_footer.html"#}
