<!-- 个人中心信息 s -->
<div class="top_box top{#if $pctempbg#}{#$pctempbg#}{#else#}1{#/if#}">

	<div class="user_box">
		<div class="user_info">
			<div class="headimg">
				<a href="{#$cfg_basehost#}/user/{#$id#}" title="{#$nickname#}">
					<img src="{#$photo#}" alt="{#$nickname#}" onerror="this.src='/static/images/noPhoto_100.jpg'" />
				</a>
				<div class="vip_tips"><div class="lBox level_{#$level#}"><em class="before"></em>{#if $level#}<i><img src="{#$level_icon#}"></i>{#/if#}<span>{#if $level#}{#$level_name#}{#else#}{#$langData['siteConfig'][19][849]#}{#/if#}</span><em class="after"></em></div></div>{#*  普通会员  *#}
			</div>
			<div class="username">{#$nickname#}</div>
			{#if $id != $userinfo['userid']#}
			<div class="btns_group">
				{#if $userinfo && $isfollow#}
				<a href="javascript:;" class="care_btn cared" data-id="{#$id#}">{#$langData['siteConfig'][19][845]#}</a>{#* 已关注 *#}
				{#else#}
				<a href="javascript:;" class="care_btn " data-id="{#$id#}"><i></i>{#$langData['siteConfig'][19][846]#}</a>{#* 关注 *#}
				{#/if#}
				<a href="javascript:;" data-type="user" class="chat_btn chat_to-Link"><i></i>{#$langData['siteConfig'][50][59]#}</a>{#*  和Ta联系  *#}
			</div>
			{#/if#}
			<div class="user_re">
				<a href="{#$cfg_basehost#}/user/{#$id#}/fans.html">
					<h4>{#$totalFans#}</h4>
					<p>{#$langData['siteConfig'][19][847]#}</p>   {#* 粉丝 *#}
				</a>
				<a href="{#$cfg_basehost#}/user/{#$id#}/fans.html">
					<h4>{#$totalFollow#}</h4>
					<p>{#$langData['siteConfig'][19][846]#}</p>   {#* 关注 *#}
				</a>
				<a href="javascript:;" class="message" >
					<h4>{#$totalMessage#}</h4>
					<p>{#$langData['siteConfig'][19][848]#}</p>   {#* 留言 *#}
				</a>
			</div>
		</div>
		{#if $id == $userinfo['userid']#}
		<a href="javascript:;" class="change_bg"><img src="{#$templets_skin#}images/user/change_bg.png" alt="">{#$langData['siteConfig'][50][60]#}</a>{#*   更换封面 *#}
		{#/if#}
	</div>
</div>
<!-- 个人中心信息 e -->
