<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{#$nickname#}{#$langData['siteConfig'][51][35]#} - {#$cfg_webname#}</title>{#* 的发布 *#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}../member/css/login.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" href="{#$templets_skin#}css/user_pub.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', cookiePre = '{#$cfg_cookiePre#}';
</script>
</head>
<body class="w1200">
{#include file="../siteConfig/top1.html"#}
{#include file="user_left.html" pageCurr="fabu"#}
<div class="main_right fabu_right">
	<h1>{#if $userinfo.id==$id#}WO的 {#else#} Ta的{#/if#} {#$modulename[$module]#}  {#if $module=='job'#}<a href="#" class="lvli ">{#$langData['siteConfig'][51][30]#}</a>{#/if#}</h1>{#* 查看他的简历 *#}
	{#if $module=='house'#}
	<!-- 房产 -->
	<div class="fabu_house ">
		<ul class="tab_house  ">
			<li {#if $type == 'qiu' || $type =='' #} class="on" {#/if#} ><a href="{#$cfg_basehost#}/user/{#$id#}/fabu.html?qmodule=house&type=qiu">{#$langData['siteConfig'][51][28]#}</a><i></i></li>  {#*  求租求购  *#}
			<li {#if $type == 'sale'#} class="on" {#/if#} data-type="sale"><a href="{#$cfg_basehost#}/user/{#$id#}/fabu.html?qmodule=house&type=sale">{#$langData['siteConfig'][19][218]#}</a> <i></i></li>  {#*  二手房  *#}
			<li  {#if $type == 'zu'#} class="on" {#/if#} data-type="zu"><a href="{#$cfg_basehost#}/user/{#$id#}/fabu.html?qmodule=house&type=zu">{#$langData['siteConfig'][19][219]#}</a> <i></i></li>  {#*  租房  *#}
			<li  {#if $type == 'xzl'#} class="on" {#/if#} data-type="xzl"><a href="{#$cfg_basehost#}/user/{#$id#}/fabu.html?qmodule=house&type=xzl">{#$langData['siteConfig'][19][220]#}</a> <i></i></li>  {#*  写字楼  *#}
			<li  {#if $type == 'sp'#} class="on" {#/if#} data-type="sp"><a href="{#$cfg_basehost#}/user/{#$id#}/fabu.html?qmodule=house&type=sp">{#$langData['siteConfig'][19][221]#}</a> <i></i></li>  {#*  商铺  *#}
			<li  {#if $type == 'cf'#} class="on" {#/if#} data-type="cf"><a href="{#$cfg_basehost#}/user/{#$id#}/fabu.html?qmodule=house&type=cf">{#$langData['siteConfig'][19][761]#}</a> <i></i></li>  {#* 厂房   *#}
			<li  {#if $type == 'cw'#} class="on" {#/if#} data-type="cw"><a href="{#$cfg_basehost#}/user/{#$id#}/fabu.html?qmodule=house&type=cw">{#$langData['siteConfig'][51][29]#}车位</a> <i></i></li>
		</ul>
		<div class="house_box ">{#* 求租{#$langData['siteConfig'][31][20]#} ==  求购{#$langData['siteConfig'][31][21]#}*#}
			<ul class="qiuzu_ul  {#if $type == 'qiu' || $type == ''#} {#else#} fn-hide {#/if#}">
				{#house action="demand" return="demand" uid="{#$id#}"  u="1" page=$page pageSize=10#}
				<li class="qiuzu_li ">
					<div class="left_time">{#$demand.pubdate#}</div>
					<div class="right_detail">
						<s class="c_icon"></s>
						<div class="rbox">
							<h2><i>{#$langData['siteConfig'][31][20]#}</i>{#$demand.title#}</h2>   {#*  *#}
							<div class="d_con">
								{#$demand.note#}
							</div>
							<div class="hr"><span>{#$demand.action#}</span><em>|</em> {#$demand.addr[0]#}-{#$demand.addr[1]#}</div>
							<a class="tel" href="tel:{#$demand.contact#}"><i><img src="{#$templets_skin#}images/user/tel_icon.png"></i>{#$demand.contact#}</a>
						</div>
					</div>
				</li>
				{#/house#}
			</ul>

			{#if $type != 'qiu' && $type != ''#}
			<ul class="house_ul  {#if $type == 'qiu' ||$type == '' #} fn-hide {#/if#}">
				{#if $type == 'sale'#}

					{#$action = 'saleList'#}

				{#elseif $type == 'zu'#}

					{#$action = 'zuList'#}

				{#elseif $type == 'xzl'#}

					{#$action = 'xzlList'#}

				{#elseif $type == 'sp'#}

					{#$action = 'spList'#}

				{#elseif $type == 'cf'#}

					{#$action = 'cfList'#}

				{#elseif $type == 'cw'#}

					{#$action = 'cwList'#}

				{#/if#}
				
				{#house action= $action return="house" check_collect="1" uid="$id"  page=$page pageSize=10 #}
				<li class="fn-clear">
					<div class="imgbox fn-left">
						<a href="{#$house.url#}">
							<img src="{#changeFileSize url={#$house.litpic#} type='large'#}" alt="">
						</a>
						{#if $house.video==1#}
						<i class="ivplay"></i>
						{#/if#}
						{#if $house.qj==1#}
						<i class="ivr"></i>
						{#/if#}
					</div>
					<div class="infobox fn-left">
						<div class="lptit fn-clear">
							<a href="{#$house.url#}"><h2>{#$house.title#}</h2></a>
						</div>
						<div class="lpinf fn-clear">
							<div class="sp_l fn-left"><span>{#$house.room#}</span><em>|</em><span>{#$house.area|string_format:"%.1f"#}{#echoCurrency type='areasymbol'#}</span><em>|</em><span>{#$house.buildage#}{#$langData['siteConfig'][13][14]#}</span><em>|</em><span>{#$sale.direction#}</span><em>|</em><span>{#$house.zhuangxiu#}</span><em>|</em><span>{#$house.bno#}/{#$house.floor#}{#$langData['siteConfig'][13][12]#}</span></div>{#*  年    层   *#}
							}
							
						</div>
						<p class="lpinf">
							[{#foreach from=$house.addr item=addr#}
							{#$addr#}
							{#/foreach#}] <span class="detail_addr" title="{#$sale.address#}">{#$house.address#}</span></p>
						
						<!-- 标签 -->
						<div class="label_box">
							{#foreach from=$house.flags item="item"#}
							<span>{#$item#}</span>
							{#/foreach#}
						</div>
					</div>
					
					<div class="price_show">
							{#if $type=="zu"#}
								{#if  $house['price'] > 0#}
								{#$pcompany = '元/月'#}
								{#else#}
								{#$pcompany = '价格面议'#}
								{#/if#}
							{#elseif $type=="sale"#}
								{#if  $house['price'] > 0#}
								{#$pcompany = '万'#}
								{#else#}
								{#$pcompany = '价格面议'#}
								{#/if#}
							{#elseif $type=="xzl"#}
								{#if $house['type'] == 0 #}
										{#if $house['price'] > 0#}
											{#$pcompany = '元/月'#}
										{#else#}
											{#$pcompany = '价格面议'#}
										{#/if#}
								{#else#}
										{#if $house['price'] > 0#}
											{#$pcompany = '万'#}
										{#else#}
											{#$pcompany = '价格面议'#}
										{#/if#}
											
								{#/if#}
							{#elseif $type=="sp"#}
								{#if $house['price'] != 0 #}
									{#$pcompany = '元/月'#}
									{#if $house['type'] == 1 #}
									{#$pcompany = '万'#}
									{#/if#}
								{#else#}
									{#$pcompany = '价格面议'#}
								{#/if#}
							{#elseif $type=="cf"#}
								{#if $house['price'] > 0 #}
									{#if $house['type'] == 0 #}
	                                        {#$pcompany = '元/月'#}
	                                {#elseif $house['type'] == 1 #}
	                                        {#$pcompany = '元/月'#}
	                                {#elseif $house['type'] == 2 #}
	                                        {#$pcompany = '万'#}
	                                {#/if#}
								{#else#}
									{#$pcompany = '价格面议'#}
								{#/if#}

							{#elseif $type=="cw"#}
								{#if $house['price'] > 0 #}
									{#if $house['type'] == 0 #}
	                                        {#$pcompany = '元/月'#}
	                                {#elseif $house['type'] == 2 #}
	                                        {#$pcompany = '元/月'#}
	                                {#elseif $house['type'] == 1 #}
	                                        {#$pcompany = '万'#}
	                                {#/if#}
								{#else#}
									{#$pcompany = '价格面议'#}
								{#/if#}
							{#/if#}
						<!-- <span class="lpprice">{#if $house.price > 0#}<b>{#$house.price|string_format:"%.0f"#}</b>{#$pcompany#}{#$langData['siteConfig'][13][27]#}{#else#}{#$langData['siteConfig'][46][70]#}面议{#/if#}</span>{#*  万--面议  *#} -->
						<span class="lpprice"><b>{#if $house.price!=0#}{#$house.price|string_format:"%.0f"#}{#/if#}</b>{#$pcompany#}</span>{#*  万--面议  *#}
						{#if  $type!="zu"||$type!="xzl"#}
						<div class="sp_r">{#$house.unitprice|string_format:"%.0f"#} {#echoCurrency type='short'#}/{#echoCurrency type='areasymbol'#}</div>
						{#/if#}
					</div>
				</li>
				{#/house#}
			</ul>
			{#/if#}
		</div>
	</div>
	{#/if#}
	
	<!-- 直播 -->
	{#if $module=='live'#}
	<div class="fabu_live ">
		<div class="live_list">
			<ul class="live_ul  fn-clear ">
				{#live action='alive' uid="{#$id#}" page=1 pageSize="6" return='list'#}
				<li class="live_li {#if $list.state==1#}living{#else if $list.state==2#}lived{#else#}wlive{#/if#}">
					<a target="_blank" href="{#$list.url#}">
						<div class="live_img">
							<i>{#if $list.state==1#}<img src="{#$templets_skin#}images/on-air2.gif">{#else if $list.state==2#}{#$langData['siteConfig'][31][137]#}{#else#} <span>{#$list.ftimes|date_format:"%m-%d %H:%m"#}</span><em>{#$langData['business'][3][24]#}</em> {#/if#}</i>{#* 精彩回放 预告  *#}
							<img src="{#$list.litpic#}" alt=""> 
						</div>
						<h3>{#$list.title#}</h3>
						<div class="live_info">
							<div class="left_info">
								<div class="lhead"><img src="{#$list.photo#}" alt=""></div>
								<span title="{#$list.nickname#}">{#$list.nickname#}</span>
							</div>
							<div class="right_num"><i></i>{#$list.click#}</div>
						</div>
					</a>
				</li>
				{#/live#}
			</ul>
		</div>
	</div>
	{#/if#}
	
	<!-- 活动 -->
	{#if $module=='huodong'#}
	<div class="fabu_huodong ">
		<div class="hd_list mod_list">
			<ul class="hd_ul ">
				{#huodong action='hlist' uid=$id page=$page pageSize='5'#}
				<li class="hd_li">
					<a target="_blank" href="{#$row.url#}" class="fn-clear">
						<div class="hd_left"><img src="{#$row.litpic#}"  /></div>
						<div class="hd_right">
							<h3>{#$row.title#}</h3>
							{#* 活动时间   *#}
							<p class="hd_time">{#$langData['business'][3][17]#}：<span>{#$row.began|date_format:"%Y-%m-%d %H:%m"#}~{#$row.end|date_format:"%Y-%m-%d %H:%m"#}</span></p>
							{#* 活动地址   *#}
							<p class="hd_address">{#$langData['business'][3][18]#}：<span>{#$row.addrname[$row.addrname|@count-2]#} {#$row.addrname[$row.addrname|@count-1]#}</span></p>
							{#* 报名人数 已有1人报名 限100人参加 *#}
							<p class="hd_num">{#$langData['business'][3][19]#}：<span>{#$langData['business'][3][20]|replace:"1":$row.reg#}</span> {#$langData['business'][3][22]|replace:"1":"100"#}</p>
							{#* 免费  *#}
							<div class="hd_price">{#if $row.feetype == 1#}<em>{#echoCurrency type='symbol'#}</em><span>{#$row.mprice#}</span>{#$langData['business'][3][14]#}{#else#}<span>{#$langData['business'][3][21]#}</span>{#/if#}</div>
						</div>
					</a>
				</li>
				{#/huodong#}
			</ul>
		</div>
	</div>
	{#/if#}
	
	<!-- 汽车 -->
	{#if $module=='car'#}
	<div class="fabu_car ">
		<div class="car_list">
			{#car action='car' page=1 pageSize=5 uid=$id  return='list' #}
			<li class="car_li fn-clear">
				<a href="{#$list.url#}" target="_blank" class="car_left">
					<img src="{#$list.litpic#}" alt="{#$list.title#}">
					<span class="car_icon">{#if strstr($list.flag, '2')#} <img src="{#$templets_skin#}images/user/new-icon.png" alt=""> {#/if#} {#if strstr($list.flag, '1')#}<img src="{#$templets_skin#}images/user/hot-icon.png" alt="">{#/if#}</span>
					<span class="car_icon1">{#if strstr($list.flag, '4')#}<img src="{#$templets_skin#}images/user/tag.png" alt="">{#/if#}</span>
				</a>
				<div class="car_info">
					<a href="{#$list.url#}" target="_blank"><h2>{#$list.title#}</h2></a>
					<ul class="car_detail fn-clear">
						<li><p>{#$langData['siteConfig'][51][22]|replace:"1":$list.mileage#}</p><span>{#$langData['siteConfig'][51][23]|replace:"1":$list.mileage#}</span></li>{#* 1万公里  1万公里/年  *#}
						<li><p>9个月</p><span>{#$list.cardtime|date_format:'%Y-%m'#}{#$langData['siteConfig'][51][25]#}</span></li> {#*1个月{#$langData['siteConfig'][51][24]#}-- 上牌  *#}
						<li><p>苏州</p><span>{#$langData['siteConfig'][51][26]#}</span></li>   {#*  车牌所在地  *#}
					</ul>
					<div class="car_price"><em>{#$list.price#}</em>{#$langData['siteConfig'][13][27]#} {#if $list.sf#}<span>{#$langData['siteConfig'][51][27]|replace:"1":$list.sf#}</span>{#/if#}</div>{#* 首付1万 *#}
				</div>
			</li>
			{#/car#}
		</div>
	</div>
	{#/if#}

	<!-- 旅游 -->
	{#if $module=='yvideo' || $module=='lystrategy' #}
	<div class="fabu_travel ">
		<ul class="tab_travel ">
			<li {#if $module=='yvideo'#} class="on" {#/if#}> <a href="{#$cfg_basehost#}/user/{#$id#}/fabu.html?qmodule=yvideo">{#$langData['siteConfig'][51][20]#}</a><i></i></li>   {#*  旅游视频  *#}
			<li {#if $module=='lystrategy'#} class="on" {#/if#}><a href="{#$cfg_basehost#}/user/{#$id#}/fabu.html?qmodule=lystrategy">{#$langData['siteConfig'][51][21]#} </a><i></i></li>   {#*  旅游攻略  *#}
		</ul>
		<div class="travel_box">
			{#if $module=='yvideo'#}
			<ul class="tvideo_ul fn-clear ">
				{#travel action='videoList' uid=$id u=1 page=$page pageSize="6" return='list'#}
				<li class="tvideo_li">
					<a target="_blank" href="{#$list.url#}">
						<div class="tvideo_img">
							<img src="{#$list.litpic#}" alt=""> 
							<i class="v_icon"></i>
						</div>
						<h3>{#$list.title#}</h3>
						<div class="tvideo_info">
							<div class="left_info">
								<div class="lhead"><img src="{#$list.user.photo#}" alt=""></div>
								<span>{#$list.user.nickname#}</span>
							</div>
							<div class="right_num"><i></i>{#$list.click#}</div>
						</div>
					</a>
				</li>
				{#/travel#}
			</ul>
			{#/if#}
			<!-- 旅游攻略 -->
			{#if $module=='lystrategy'#}
			<ul class="strategy_ul f">
				{#travel  action="strategyList" uid=$id u=1 return="slist" page=$page pageSize="5"#}
				<li class="strategy_li">
					<a href="{#$slist.url#}" class="str_box fn-clear">
						<div class="str_img"><img src="{#$slist.litpic#}" alt=""></div>
						<div class="str_content">
							<h3>{#$slist.title#}</h3>
							<p>康沃尔郡和西德文郡的景观在18世纪和19世纪期间通过深度开采以铜和锡为主进行了彻底的重塑。矿山，发动机房，小农场，港口，港口，运河，铁路，有轨电车和与采矿有关的工业以及新的城镇和村庄的遗迹反映了工业扩，锡和后来的砷生产，并极大地影响了19世纪的国际采矿实践。</p>
							
							<div class="art_info fn-clear">
								<div class="left_art">
									<span><img src="{#$slist.user.photo#}"></span> {#$slist.user.nickname#}
								</div>
								<div class="right_read"><i></i>{#$slist.click#}</div>
							</div>
						</div>
					</a>
				</li>
				{#/travel#}
			</ul>
			{#/if#}
		</div>
	</div>
	{#/if#}
	
	<!-- 投票 -->
	{#if $module=='vote'#}
	<div class="fabu_vote ">
		<div class="vote_list">
			<ul class="vote_ul">
				{#vote action="vlist" return="vlist" uid=$id page=$page pageSize="5"#}
				<li class="vote_li">
					<a href="{#$vlist.url#}" target="_blank" class="fn-clear">
						<div class="vote_img"><img src="{#$vlist.litpic#}"></div>
						<div class="vote_info">
							<h3>{#$vlist.title#}</h3>
							<div class="vote_detail fn-clear">
								<div class="vote">
									<h5>{#$vlist.optionCount#}</h5>
									<p>{#$langData['business'][4][20]#}</p>    {#*  投票项  *#}
								</div>
								<div class="vote">
									<h5>{#$vlist.total#}</h5>
									<p>{#$langData['business'][4][21]#}</p>    {#*  累计票数  *#}
								</div>
								<div class="vote">
									<h5>{#$vlist.click#}</h5>
									<p>{#$langData['business'][4][22]#}</p>    {#*  访问量  *#}
								</div>
							</div>
							<div class="vote_state voting">{#$langData['business'][4][23]#}</div>    {#*  23=投票进行中  24投票已结束*#}
						</div>
					</a>
				</li>
				{#/vote#}
			</ul>
		</div>
	</div>
	{#/if#}
	
	<!-- 招聘 -->
	{#if $module =='job'#}
	<div class="fabu_job ">
		<div class="job_list">
			<ul class="zp_ul ">
				{#job action='sentence' uid=$id type='1'  pageSize='5'#}
				<li class="zp_li qiuzhi">
					<div class="left_time">{#$row.pubdate|replace:'.':'-'#}</div>
					<div class="right_detail">
						<s class="c_icon"></s>
						<div class="rbox">
							<h2><i>{#$langData['siteConfig'][51][19]#}</i>{#$row.title#}</h2>   {#* 求职--- 招聘{#$langData['siteConfig'][19][241]#}  *#}
							<div class="d_con">
								{#$row.note#} 
							</div>
							<div class="hr"><i><img src="{#$templets_skin#}images/user/p_icon.png"></i>{#$row.people#}</div>
							<a class="tel" href="tel:{#$row.contact#}"><i><img src="{#$templets_skin#}images/user/tel_icon.png"></i>{#$row.contact#}</a>
						</div>
					</div>
				</li>
				{#/job#}
			</ul>
		</div>
	</div>
	{#/if#}
	
	<!-- 视频 -->
	{#if $module=='video'#}
	<div class="fabu_video ">
		<div class="video_list">
			<ul class="video_ul fn-clear">
				{#travel action='videoList' uid=$id page=$page  pageSize="6" return='list'#}
				<li class="video_li">
					<a target="_blank" href="{#$list.url#}">
						<div class="video_img">
							<em>资讯</em>
							<img src="{#$list.litpic#}" alt=""> 
							<i class="v_icon"></i>
						</div>
						<h3>{#$list.title#}</h3>
						<div class="video_info">
							<div class="left_info">
								<div class="lhead"><img src="{#$list.user.photo#}" alt=""></div>
								<span>{#$list.user.nickname#}</span>
							</div>
							<div class="right_num"><i></i>{#$list.click#}</div>
						</div>
					</a>
				</li>
				{#/travel#}
			</ul>
		</div>
	</div>
	{#/if#}

	<!-- 婚嫁 -->
	{#if $module=='marry'#}
	<div class="fabu_marry ">
		<div class="marry_list">
			<ul class="marry_ul">
				{#marry action='storeList' page=1 pageSize=5 uid=$id  return='list' #}
				<li class="marry_li">
					<a href="{#$list.url#}" class="fn-clear">
						<div class="marry_img">
							<img src="{#$list.litpic#}" alt="">
							<i class="label">婚礼策划</i>
						</div>
						<div class="marry_info">
							<h3> {#$list.title#} </h3>
							<div class="marry_lab">
								{#foreach from=$list.tagAll item="item"#}
								<span>{#$item.jc#}</span>
								{#/foreach#}
							</div>
							<p class="marry_posi"> {#$list.addrname[$list.addrname|count-3]#} {#$list.addrname[$list.addrname|count-2]#} {#$list.addrname[$list.addrname|count-1]#} </p>
							<div class="marry_user"><i><img src=""></i>我是昵称</div>
							<div class="marry_price">{#echoCurrency type='symbol'#}<em>{#$list.price#} </em></div>
						</div>
					</a>
				</li>
				{#/marry#}
			</ul>
		</div>
	</div>
	{#/if#}
	
	<!-- 贴吧 -->
	{#if $module=='tieba'#}
	<div class="fabu_tieba ">
		<div class="tieba_list">
			<ul class="tieba_ul">
				
				{#tieba action="tlist" return="tlist" uid=$id page=$page pageSize="5"#}
				<li class="tieba_li fn-clear {#if count($tlist.imgGroup)==1#}single_box{#else#}more_box{#/if#}">
					<div class="left_pubdate">{#$tlist.pubdate1#}</div>
					<div class="right_tblist ">
						<s class="c_icon"></s>
						<a href="{#$tlist.url#}" target="_blank" class="fn-clear">
							{#if count($tlist.imgGroup)==1#}<div class="l_img imgbox"><img src="{#$tlist.imgGroup[0]#}" alt=""></div>{#/if#}
							<div class="r_con">
								<h3>{#$tlist.title#}</h3>
								<p>{#$tlist.content#}</p>
								{#if count($tlist.imgGroup)>1#}
								<div class="img_list fn-clear">
									{#foreach from=$tlist.imgGroup item="item" key="pid"#}
									{#if $pid > 3#}{#break#}{#/if#}
									<div class="imgbox"><img src="{#$item#}"></div>
									{#/foreach#}
								</div>
								{#/if#}
								<div class="tl_info"><span class="t_type">{#if $tlist.typename[0] !=''#}【{#$tlist.typename[0]#}】{#/if#}</span><span class="t_read"><i></i>{#$tlist.click#}</span></div>
							</div>
						</a>
					</div>
				</li>
				{#/tieba#}
			</ul>
		</div>
	</div>
	{#/if#}
	
	<!-- 二手 -->
	{#if $module=='info'#}
	<div class="fabu_info">
		<div class="info_list mod_list">
			<ul class="list_ul">
				{#info action="ilist_v2" return="ilist" uid=$id page=$page pageSize="5"#}
				<li class="fn-clear">
					<div class="left_b">
						<a href="{#getUrlPath service='info' action=detail id=$ilist.id#}">
							<img src="{#if $ilist.litpic#}{#$ilist.litpic#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="">
							{#if $ilist.video#}
							<div class="cover_play">
								<img src="{#$templets_skin#}images/Icon_play.png" alt="">
							</div>
							{#/if#}
						</a>
					</div>
					<div class="mid_b">
						<h2 class="new_title"><a href="{#getUrlPath service='info' action=detail id=$ilist.id#}">{#$ilist.title#}</a></h2>
						<p class="tip">{#$ilist.desc#}</p>
						<div class="new_info fn-clear">
							<p class="news_time"><span class="typename">【{#$ilist.typename#}】</span>{#$langData['siteConfig'][51][15]#} <span>{#date("Y-m-d", $ilist.pubdate)#}</span> / <span>{#$ilist.address[$ilist.address|count-2]#} - {#$ilist.address[$ilist.address|count-1]#}</span> </p>{#* 发布于  *#}
						</div>
						
					</div>
					<div class="right_b">
						{#$priceArr = "."|explode:$ilist.price#}
						{#if $ilist.price_switch==0#}<p class="new_price">{#if $ilist.price neq 0#}<em> {#echoCurrency type='symbol'#} </em><strong>{#$priceArr[0]#}.{#$priceArr[1]#}</strong>{#else#}<strong>{#$langData['siteConfig'][51][16]#}</strong>{#/if#}</p>{#/if#}{#*  价格面议   *#}
					</div>
				</li>
				{#/info#}
			</ul>
		</div>
	</div>
	{#/if#}

	<!-- 教育 -->
	{#if $module=='education'#}
	<div class="fabu_education ">
		<div class="edu_list mod_list">
			<ul class="edu_ul">
				{#education action='coursesList' page=1 pageSize=4  return='list' #}
				<li class="edu_li ">
					<a target="_blank" href="{#$list.url#}" class="fn-clear">
						<div class="edu_img">
							{#if $list.rec==1#}<i></i>{#/if#}
							<img src="{#$list.litpic#}" alt="">
						</div>
						<div class="edu_info">
							<h3> {#$list.title#}</h3>
							<p>{#$list.classname#} / {#$list.coursetype#}</p>
							<div class="edu_detail">
								<p class="ren"><i></i>{#$langData['education'][9][59]|replace:'1':{#$list.sale#}#}</p>{#* 1人已报名 *#}
								<p class="e_time"><i></i>{#$list.openStart|date_format:"%Y-%m-%d"#}  ~ {#$list.openEnd|date_format:"%Y-%m-%d"#}</p>
								<p class="e_addr"><i></i>{#$list.user.addrname[$list.user.addrname|count-3]#} {#$list.user.addrname[$list.user.addrname|count-2]#} {#$list.user.addrname[$list.user.addrname|count-1]#}</p>
								<div class="e_pub">
									<div class="e_img"><img src="{#$list.user.photo#}"></div>
									<div class="e_name">{#$list.user.nickname#}</div>
								</div>
							</div>
							<div class="posi_ele">
								<div class="edu_price">{#echoCurrency type='symbol'#}<em>{#$list.price#}</em>{#$langData['business'][3][14]#}</div>   {#* 起 *#}
								<button class="edubm_btn">{#$langData['business'][3][26]#}</button>   {#* 去报名 *#}
							</div>
						</div>
					</a>
				</li>
				{#/education#}
				
			</ul>
		</div>
		
	</div>
	{#/if#}
	
	<!-- 装修 -->
	{#if $module=='renovation'#}
	<div class="fabu_renovation">
		<div class="ren_list">
			<ul class="ren_ul">
				<li class="ren_li fn-clear">
					<a class="ren_img" href="#"></a>
					<div class="ren_info">
						<a href="#"><h3>华纺易墅上海湾庄(先生)的新家</h3></a>
						<div class="ren_detail  fn-clear">
							<p>{#$langData['siteConfig'][19][84]#}：<span>家装</span></p>    {#*   类型   *#}
							<p>{#$langData['siteConfig'][19][107]#}：<span>二居</span></p>    {#*   户型   *#}
							
							<p>{#$langData['siteConfig'][51][17]#}：<span>2019-07-01</span></p>    {#*  开工    *#}
							<p>{#$langData['siteConfig'][19][613]#}：<span>现代</span></p>    {#*  风格    *#}
							
							<p>{#$langData['siteConfig'][19][85]#}：<span>90平</span></p>    {#*   面积   *#}
							<p>{#$langData['siteConfig'][51][18]#}：<span>2019-12-30</span></p>    {#*   竣工   *#}
						</div>
						<div class="ren_design fn-clear">
							<div class="d_head"></div>
							<h4>瑶瑶<span>独立设计师</span></h4>
						</div>
					</div>
				</li>
				
			</ul>
		</div>
	</div>
	{#/if#}
	
	
	
	{#if $pageInfo.totalCount == 0#}
	<div class="empty">{#$langData['siteConfig'][21][64]#}</div>{#*暂无数据 *#}
	{#else#}
	{#getPageList service='siteConfig' template='user' action='fabu' pageType='dynamic' id={#$id#} param="page=#page#&qmodule=$module&type=$type"#}
	{#/if#}
		<!-- {#getPageList service='siteConfig' template='user' action='follow' pageType='dynamic' id={#$id#} param="page=#page#"#} -->
</div>
	
{#include file="user_footer.html"#}