<script type="text/javascript">
	var imconfig = {
	    chatid :'{#$id#}',
	 }
</script>
<!-- 其他页面的顶部和左侧 -->
<div class="top_box">
	<div class="nav_box">
		<li><a href="{#$cfg_basehost#}/user/{#$id#}">{#$langData['siteConfig'][51][0]#}</a></li>{#* Ta的主页 *#}
		<li><a href="#">{#$langData['siteConfig'][11][0]#} · {#$allcount#}</a></li>{#* 发布 *#}
    	{#*<li><a href="#">圈子 · 186</a></li>*#}
		<li><a href="javascript:;">{#$langData['siteConfig'][18][18]#}</a>{#* 更多 *#}
			<div class="m_link">
				<a href="{#$cfg_basehost#}/user/{#$id#}/visitor.html">{#$langData['siteConfig'][51][3]#}</a>  {#* Ta的访客 *#}
				<a href="{#$cfg_basehost#}/user/{#$id#}#leave_message">{#$langData['siteConfig'][51][4]#}</a>   {#* Ta的留言 *#}
			</div>
		</li>
	</div>
</div>

<div class="main fn-clear wrap">
	<!-- fabu_open  发布展开之后需-->
<div class="leftInfo">
	<!-- 基本信息 -->
	<div class="userinfo">
		<div class="head_img">
			<img src="{#$photo#}" alt="">
			<div class="lBox level_{#$level#}"><em class="before"></em>{#if $level#}<i><img src="{#$level_icon#}"></i>{#/if#}<span>{#if $level#}{#$level_name#}{#else#}{#$langData['siteConfig'][19][849]#}{#/if#}</span><em class="after"></em></div>
		</div>
		<h3 class="nickname" title="{#$nickname#}">{#$nickname#}</h3>
		<div class="user_re">
			<a href="{#$cfg_basehost#}/user/{#$id#}/fans.html">
				<h4>{#$totalFans#}</h4>
				<p>{#$langData['siteConfig'][19][847]#}</p>   {#* 粉丝 *#}
			</a>
			<a href="{#$cfg_basehost#}/user/{#$id#}/follow.html">
				<h4>{#$totalFollow#}</h4>
				<p>{#$langData['siteConfig'][19][846]#}</p>   {#* 关注 *#}
			</a>
			<a href="{#$cfg_basehost#}/user/{#$id#}/fabu.html">
				<h4>{#$allcount#}</h4>
				<p>{#$langData['siteConfig'][11][0]#}</p>   {#* 留言 *#}
			</a>
		</div>
		{#if $id != $userinfo['userid']#}
		<div class="btns_group">
			<a href="{#if $userinfo#}javascript:;{#else#}{#$cfg_basehost#}/login.html{#/if#}"  data-type="user"  class="chat_btn chat_to-Link">{#$langData['siteConfig'][19][248]#}</a> {#* 私信 *#}
			{#if $userinfo && $isfollow#}
			<a href="javascript:;" class="care_btn cared" data-id="{#$id#}">{#$langData['siteConfig'][19][845]#}</a>{#* 已关注 *#}
			{#else#}
			<a href="javascript:;" class="care_btn " data-id="{#$id#}"><i></i>{#$langData['siteConfig'][19][846]#}</a>{#* 关注 *#}
			{#/if#}
		</div>
		{#/if#}
	</div>
	{#if $pageCurr != "info" #}
	<!-- 个人资料 -->
	<div class="con_box user_detail open">
		<h2><a href="{#$cfg_basehost#}/user/{#$id#}/info.html">{#$langData['siteConfig'][19][829]#}</a>  <i class="more_btn"></i></h2>  {#* 个人资料 *#}
		<div class="detail_box  slide_box">
			<p class="base_info"><i></i>{#$addr#} <em>|</em> 注册{#$regtime#}年</p> {#*   注册3年{#$langData['siteConfig'][51][31]#}   *#}
			<ul class="module_id">
				{#if $is_zjuer		==1#}<li><a href="{#$zjuerurl#}" target="_blank"><i></i>{#$langData['siteConfig'][19][398]#}</a></li>{#/if#}  {#* 此处跳转对应页面 *#}
				{#if $is_selfmedia	==1#}<li><a href="{#$selfmediaurl#}" target="_blank"><i></i>{#$langData['siteConfig'][38][33]#}</a></li>{#/if#}  {#* 自媒体 *#}
				{#if $is_tutor		==1#}<li><a href="{#$tutorurl#}" target="_blank"><i></i>{#$langData['siteConfig'][54][18]#}</a></li>{#/if#}	  {#* 家教 *#}
			</ul>
		</div>
	</div>
	{#/if#}
	<!-- 发布信息s -->
	<div class="con_box fabu_box">
		<h2>{#$langData['siteConfig'][6][143]#}  <a href="javascript:;" class="more_btn"></a>{#if $pageCurr !='fabu'#}<em class="tip">{#$allcount#}</em>{#/if#} {#if $pageCurr =='fabu'#}<span>{#$modulename[$module]#}({#$usercountall[$module]#})</span>{#/if#}</h2>{#*   发布信息  *#}
		<ul class="module_list fn-clear slide_box">
			{#foreach from=$detailConfig item = list#}
			{#if is_array($list) && $list.countall>0#}
			<li {#if $list.modulename == $module#} class="chose" {#/if#}><a href="{#$cfg_basehost#}/user/{#$id#}/fabu.html?qmodule={#$list.modulename#}">{#$list.title#}{#if $list.modulename == $module#}<i>{#$list.countall#}</i>{#else#}({#$list.countall#}){#/if#}</a></li>
			{#/if#}
			{#/foreach#}

		</ul>
	</div>

	<!-- 最近访客 -->
	{#if $pageCurr != "visitor" && $pageCurr != "fans" && $pageCurr != "follow" #}
	<div class="con_box visit_box">
		<h2>{#$langData['siteConfig'][51][32]#} </h2>{#*  最近访客  *#}
		<ul class="latest_visit fn-clear">
			{#member action="visitor" return="visitor" uid={#$id#} page={#$page#} pageSize="3"#}
			<li>
				<a {#if !$visitor.state#}href="{#$cfg_basehost#}/user/{#$visitor.uid#}" target="_blank"{#else#}href="javascript:;"{#/if#}>
					<div class="vit_img"><img  src="{#if !$visitor.state#}{#$visitor.photo#}{#else#}/static/images/noPhoto_60.jpg{#/if#}" onerror="this.src='/static/images/noPhoto_60.jpg'" alt="{#$visitor.nickname#}"></div>
					<div class="vit_info">
						<h4>{#$visitor.nickname#}</h4>
						<p>{#$visitor.date#}</p>
					</div>
				</a>
			</li>
			{#/member#}
			{#if $pageInfo.totalCount == 0#}
			<div class="empty">{#$langData['siteConfig'][51][33]#}</div>{#* 暂无访客！ *#}
			{#/if#}
		</ul>
	</div>
	{#/if#}
</div>

{#if $pageCurr=="fans" || $pageCurr=="follow" || $pageCurr=="visitor"#}
<div class="main_right ">
	<div class="tab_box">
		<ul>
			<li class="{#if $pageCurr=='follow'#}on_chose{#/if#}"><a href="{#$cfg_basehost#}/user/{#$id#}/follow.html">{#$langData['siteConfig'][51][11]#}</a><i></i></li>   {#*    Ta的关注   *#}
			<li class="{#if $pageCurr=='fans'#}on_chose{#/if#}"><a href="{#$cfg_basehost#}/user/{#$id#}/fans.html">{#$langData['siteConfig'][51][12]#}</a><i></i></li>   {#*   Ta的粉丝    *#}
			<li class="{#if $pageCurr=='visitor'#}on_chose{#/if#}"><a href="{#$cfg_basehost#}/user/{#$id#}/visitor.html">{#$langData['siteConfig'][51][34]#}</a><i></i></li>   {#*    Ta的访客   *#}
		</ul>
	</div>

{#else if $pageCurr=="info"#}
<div class="main_right user_box">
	<h1>{#$langData['siteConfig'][51][8]#}</h1>{#*  Ta的资料  *#}
	<div class="user_info">
		<ul>
			{#* ID *#}<li class="fn-clear"><span>ID：</span><p>{#$id#}</p></li>
			{#* 昵称 *#}<li class="fn-clear"><span>{#$langData['siteConfig'][19][6]#}：</span><p>{#$nickname#}</p></li>
			{#* 生日 *#}<li class="fn-clear huoniao_privacy"><span>{#$langData['siteConfig'][19][757]#}：</span><p>{#$birthday#}</p></li>
			{#* 区域 *#}<li class="fn-clear"><span>{#$langData['siteConfig'][51][9]#}：</span><p>{#$addr#}</p></li>
			{#* 注册时间 *#}<li class="fn-clear"><span>{#$langData['siteConfig'][19][28]#}：</span><p>{#$regtime_|date_format:"%Y-%m-%d %H:%M:%S"#}</p></li>
		</ul>
	</div>
</div>
{#/if#}
