<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{#$nickname#}{#$langData['siteConfig'][23][95]#} - {#$cfg_webname#}</title>{#* 的主页 *#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/user_4.8.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}../member/css/login.css?v={#$cfg_staticVersion#}" media="all" />
<!-- <link rel="stylesheet" href="{#$templets_skin#}css/user.css"> -->
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', cookiePre = '{#$cfg_cookiePre#}', staticPath = '{#$cfg_staticPath#}';
	var hideFileUrl = '{#$cfg_hideUrl#}', uid = '{#$id#}';
	var templets_skin  = '{#$templets_skin#}';
	var atpage = 1, totalCount = 0, pageSize = 15, nowStamp = 0;
	var imconfig = {
	        	chatid :'{#$id#}',
	        }
</script>
</head>

<body class="w1200">
{#include file="../siteConfig/top1.html"#}
{#include file="user_top_4.8.html"#}
	<!-- 导航s -->
	<div class="nav_box">
		<ul class="fn-clear">
			<li class="index on">
				<a href="#">
					<span></span>
					<p>{#$langData['siteConfig'][51][0]#}</p>   {#*   Ta的首页   *#}
					<i class="line"></i>
				</a>
				<i class="bottom_line"></i>
			</li>
			<li class="fabu">
				<a href="{#$cfg_basehost#}/user/{#$id#}/fabu.html">
					<span></span>
					<p>{#$langData['siteConfig'][51][1]#}</p>   {#*   Ta的发布   *#}
					<i class="line"></i>
				</a>
				<i class="bottom_line"></i>
			</li>

			<li class="visitor">
				<a href="{#$cfg_basehost#}/user/{#$id#}/visitor.html">
					<span></span>
					<p>{#$langData['siteConfig'][51][3]#}</p>   {#*   Ta的访客   *#}
					<i class="line"></i>
				</a>
					<i class="bottom_line"></i>
			</li>
			<li class="message">
				<a href="javascript:;">
					<span></span>
					<p>{#$langData['siteConfig'][51][4]#}</p>   {#*  Ta的留言    *#}
				</a>
				<i class="bottom_line"></i>
			</li>
		</ul>
	</div>
	<!-- 导航e -->

	<div class="main_box fn-clear">
		<div class="left_wrapper">
			<!-- 他的圈子s -->
			{#if in_array('circle',$userModulearr['userModulearr'])#}
			<div class="circle_con con_box">
				<h2 class="con_title">{#$langData['siteConfig'][51][2]#}</h2>  {#*  Ta的圈子    *#}
				<div class="circle_list">
					{#circle action="tlist" return="list" uid={#$id#} u=1 page=0 pageSize=1#}
					<div class="circle_box">
						<div class="art_ib">
							<div class="left_head">
								<img src="{#$photo#}" onerror="this.src='/static/images/noPhoto_40.jpg'">

							</div>
							<div class="r_info vip_icon">
								<h4><span class="artname">{#$nickname#}</span><div class="lBox level_{#$level#}"><em class="before"></em><i><img src="{#$level_icon#}"></i><span>{#$list.levelname#}</span><em class="after"></em></div></h4>
								<p class="pub_time">{#$list.pubdate1#}</p>
							</div>
						</div>
						<div class="art_con {#if $list.browse>5000#}hot_tag{#/if#}">
							<h2><img src="{#$templets_skin#}images/hot.png" alt="">{#$list.content#}</h2>
							<!-- 图片超过3张，就只显示3张 加three_box -->
							{#if count($list.media)>0#}
							<div class="img_con {#if count($list.media)>=3#}three_box{#/if#}">
								{#for $i = 0 to 2#}
								<div class="img_box"><img src="{#$list.media[$i]#}"></div>
								{#/for#}
							</div>
							{#/if#}
							<!-- 链接 -->
							{#if $list.commodity#}
							<a class="link_out" href="javascript:void(0);">
								<div class="left_img"><img src="{#if $list.commodity[0]['litpic']#}{#$list.commodity[0]['litpic']#}{#else#}{#$templets_skin#}images/user/link.png{#/if#}"></div>
								<p>{#$list.commodity[0]['title']#}</p>
							</a>
							{#/if#}

							<!-- 话题 -->
                          	{#if $list.topictitle#}
							<a class="topic_link" href="javascript:;"><img src="{#$templets_skin#}images/user/topic.png">{#$list.topictitle#}</a>
							{#/if#}
							<!-- 定位 -->
                          	{#if $list.addrname#}	
							<a href="javascript:;" class="posi"><img src="{#$templets_skin#}images/user/posi.png">{#$list.addrname#}</a>
                            {#/if#}
							<!-- 点赞列表 -->
                          	{#if $list.up>0#}
							<div class="zanbox">
								{#if $list.up!=0#}
								<div class="zan_list">
									<ul>
										{#for $i = 0 to $list.up-1#}
										<li><img src="{#$list.dianres[$i].photo#}"></li>
										{#/for#}
									</ul>
									<span class="zan_count"><em>{#$list.up#}赞</em></span>
								</div>
								{#/if#}
								<div class="btns">
									<ul>
										<li class="more"><img src="{#$templets_skin#}images/user/more_1.png"></li>
										<li class="share"><img src="{#$templets_skin#}images/user/share.png"></li>
										<li class="zan"><img src="{#$templets_skin#}images/user/zan.png">{#$list.up#}</li>
										<li class="commt"><img src="{#$templets_skin#}images/user/commt.png">{#$list.reply#}</li>
									</ul>
								</div>
							</div>
							{#/if#}
                          	<div class="poster">
								<div class="left"><img src="{#$templets_skin#}images/user/poster.png"></div>
								<div class="right">
									<img src="/include/qrcode.php?data={#$cfg_basehost#}/user/{#$id#}">
									<p>{#$langData['business'][2][21]#}</p>    {#*    扫描二维码前往移动端   *#}
								</div>
								<div class="tip_text">
									<h2>{#$langData['siteConfig'][51][5]#}</h2>   {#*    pc更多圈子互动   *#}
									<p>{#$langData['siteConfig'][51][6]#}</p>   {#*    前往移动端   *#}

								</div>
							</div>


							<!-- 评论列表s -->
							<div class="comt_list">
								{#if $list.reply#}
								<ul class="comt_ul" data-item="{#$list.reply#}">
									{#$num = 0#}
									{#if $list.reply>3#}
									{#$num = 3#}
									{#else#}
									{#$num = $list.reply#}
									{#/if#}
									{#for $i = 0 to $num-1#}
									<li class="comt_li"> <a href="javascript:;">{#$list.lastReply[$i].nickname#}</a>：{#$list.lastReply[$i].content#} </li>
									{#/for#}
									<a href="javascript:;" class="comt_detail">{#$langData['business'][2][24]|replace:"1":"{#$list.reply#}"#}</a>  {#*    全部1条评论&gt;   *#}
								</ul>
								{#/if#}
								<div class="commt_btn">{#$langData['circle'][0][53]#}</div>{#*  写评论...  *#}
							</div>
						</div>
					</div>

					{#/circle#}

				    <div class="box2 circle">
				    	<ul class="circle_more">
				    		{#$c=0#}
				    		{#circle action="tlist" return="list" uid=$id u=1 #}
				    		{#if $c < 5 #}
					    		{#if $list.media#}
					    		{#$c = $c+1 #}
					    		<li><img src="{#$list.media[0]#}"></li>
					    		{#else if $list.thumbnail!=''#}
					    		{#$c=$c+1#}
					    		<li><img src="{#$list.thumbnail#}"></li>
					    		{#/if#}
					    	{#/if#}
				    		{#/circle#}
				    		<li class="more_li"><span>{#$langData['business'][2][25]#}</span></li>{#*  更多圈子动态  *#}
				    	</ul>
				    </div>
				</div>
			</div>
			{#/if#}
			<!-- 他的圈子e -->

			<!-- 发布s -->
			<div class="fabu_con con_box">
				<h2 class="con_title">{#$langData['siteConfig'][51][7]#} <a href="{#$cfg_basehost#}/user/{#$id#}/fabu.html">{#$langData['siteConfig'][18][18]#}</a></h2>{#* Ta的最新发布 -- 更多*#}
				<div class="fabu_box pub_box">
					<div class="fabu_type">
						<ul>
							{#$a = 0#}
							{#member action="fabuCount" return="modul" uid={#$id#} #}
								{#if $modul.countall > 0#}
								<li data-id="{#$a#}" class="{#if $a == 0#}onclick{#/if#}" data-module="{#$modul.modulename#}" >{#$modul.title#}<i></i></li>
								{#$a =$a+1#}
								{#/if#}

							{#/member#}

						</ul>
					</div>
					<div class="fabu_list">
						{#$i =0#}
						{#member action="fabuCount" return="modul" uid={#$id#} #}
						{#if $modul.countall > 0#}
						<ul class="fn-clear {#if $i != 0#}fn-hide{#/if#}" data-typeid="2" data-module="{#$modul.modulename#}">
							<div class="loading" style="width: 100%; text-align: center; font-size: 18px; color: #666; height: 100px; line-height: 100px">加载中~</div>
						</ul>
						{#$i =$i+1#}
						{#/if#}
						{#/member#}

					</div>
				</div>
			</div>
			<!-- 发布e -->

			<!-- 留言板s -->
			<div class="msg_con con_box" id="leave_message">
				<h2 class="con_title">{#$langData['siteConfig'][19][843]#} </h2> {#*  留言板  *#}

				<!-- 留言框 -->
				<div class="msg_box">
					<div class="write">
						<div class="textarea txt" contenteditable="true"></div>
						<em>200</em>
					</div>
					<div class="comment_foot fn-clear">
						<div class="editor_btn"><input type="button" class="editor"></div>
						<div class="com_btn first">{#$langData['siteConfig'][19][848]#}</div>{#* 留言 *#}
						<div class="face_box">
							<i></i>
							
						</div>
					</div>
				</div>

				<!-- 留言列表 -->
				<div class="msglist_box">
					<h2>{#$langData['siteConfig'][23][83]#} <em>{#$totalMessage#}</em></h2>  {#* 全部留言 *#}
					<div class="msg_list">
						<ul>


						</ul>
					</div>
					<div class="loading_msg"><a href="javascript:;">{#$langData['siteConfig'][6][148]#}</a></div>  {#* 查看更多留言 *#}
				</div>
			</div>
			<!-- 留言板e -->
		</div>
		<div class="right_wrapper">
			<!-- 信息 -->
			<div class="con_box">
				<h2 class="con_title">{#$langData['siteConfig'][51][8]#} <a href="{#$cfg_basehost#}/user/{#$id#}/info.html">{#$langData['siteConfig'][18][18]#}</a></h2> {#*Ta的资料---- 更多 *#}
				<dl class="userInfo">
					<dt>{#$nickname#}</dt>
					<dd><em>{#$langData['siteConfig'][51][9]#}：</em>{#$addr#}</dd>   {#*  区域   *#}
					<dd class="huoniao_privacy"><em>{#$langData['siteConfig'][19][757]#}：</em>{#$birthday#}</dd>   {#*   生日  *#}
					<!-- <dd><em>{#$langData['siteConfig'][19][494]#}：</em>我们的精神围绕着真理运转，好像... </dd>   {#*   简介  *#} -->
				</dl>
				<a href="{#getUrlPath service='job' template='resume' id={#$rsumeid#}#}" target="_blank" class="notes huoniao_privacy"><img src="{#$templets_skin#}images/user/zp.png"></a>
			</div>
			<!-- 关系 -->
			{#if $totalFans&&$totalFollow#}
			<div class="con_box">
				<h2 class="con_title">{#$langData['siteConfig'][51][10]#} <a href="{#$cfg_basehost#}/user/{#$id#}/follow.html">{#$langData['siteConfig'][18][18]#}</a></h2>{#*Ta的关系---- 更多 *#}
				{#if $totalFollow#}<dl class="f_list fn-clear">
					<dt>{#$langData['siteConfig'][51][11]#}（{#$totalFollow#}）</dt>  {#*Ta的关注 *#}
					{#member action="follow" return="follow" uid={#$id#} type="follow" fortype=''  pageSize="4"#}
					<dd>
						<a href="{#$cfg_basehost#}/user/{#$follow.uid#}" title="{#$follow.nickname#}" target="_blank" class="gz_box">
							<div class="head_img">
								<img src="{#if !$follow.state#}{#$follow.photo#}{#else#}/static/images/noPhoto_60.jpg{#/if#}" onerror="this.src='/static/images/noPhoto_60.jpg'" alt="{#$follow.nickname#}">
								{#if $follow.level#}<div class="vip_icon"><img src="{#$follow.levelIcon#}" title="{#$follow.levelName#}" /></div>{#/if#}
							</div>
							<p>{#$follow.nickname#}</p>
						</a>
					</dd>

					{#/member#}
				</dl>
				{#/if#}
				{#if $totalFans#}<dl class="f_list fn-clear">
					<dt>{#$langData['siteConfig'][51][12]#}（{#$totalFans#}）</dt>   {#*Ta的关注 *#}
					{#member action="follow" return="follow" uid={#$id#} fortype='' pageSize="4"#}
					<dd>
						<a href="{#$cfg_basehost#}/user/{#$follow.uid#}" title="{#$follow.nickname#}" target="_blank" class="gz_box">
							<div class="head_img">
								<img src="{#if !$follow.state#}{#$follow.photo#}{#else#}/static/images/noPhoto_60.jpg{#/if#}" onerror="this.src='/static/images/noPhoto_60.jpg'" alt="{#$follow.nickname#}">
								{#if $follow.level#}<div class="vip_icon"><img src="{#$follow.levelIcon#}" title="{#$follow.levelName#}" /></div>{#/if#}
							</div>
							<p>{#$follow.nickname#}</p>
						</a>
					</dd>
					{#/member#}

				</dl>
			{#/if#}
			</div>
			{#/if#}
			<!-- 访客 -->
			<div class="con_box">
				<h2 class="con_title">{#$langData['siteConfig'][23][92]#} <a href="{#$cfg_basehost#}/user/{#$id#}/visitor.html">{#$langData['siteConfig'][18][18]#}</a></h2>{#*访客---- 更多 *#}
				<ul class="visit_list fn-clear">
					{#member action="visitor" return="visitor" uid={#$id#} pageSize="8"#}
					<li class="visit_li fn-clear">
						<a class="head_img" {#if !$visitor.state#}href='{#$cfg_basehost#}/user/{#$visitor.uid#}' target="_blank"{#else#} href="javascript:;"{#/if#} title="{#$visitor.nickname#}"  >
							<img src="{#if !$visitor.state#}{#$visitor.photo#}{#else#}/static/images/noPhoto_60.jpg{#/if#}" onerror="this.src='/static/images/noPhoto_60.jpg'" >
						{#if $follow.level#}<div class="vip_icon"><img src="{#$follow.levelIcon#}" title="{#$follow.levelName#}" /></div>{#/if#}
						</a>
						<div class="v_info">
							<h4>{#if !$visitor.state#}{#$visitor.nickname#}{#else#}{#$langData['siteConfig'][19][850]#}{#/if#}</h4>
							<p>{#$visitor.date#}</p>
						</div>
					</li>
					{#/member#}
				</ul>
			</div>
		</div>
	</div>

	<div class="bg_box">
		{#*  更换封面  *#}
		<div class="bg_head"><h2>{#$langData['siteConfig'][50][60]#} <a href="javascript:;" class="close_bg"><img src="{#$templets_skin#}images/user/close.png"></a></h2></div>
		<div class="bg_list">
			<div class="bg_black"></div>
			<div class="bgul_box">
				<ul class="fn-clear">
					{#for $i=1 to 34#}
					<li class="bg_li {#if $i=={#$pctempbg#}#}used{#/if#}" data-num="{#$i#}"><img src="{#$templets_skin#}images/user/{#$i#}.png" alt=""><i>{#$langData['siteConfig'][51][13]#}</i><em></em></li>{#*  使用中  *#}
					{#/for#}
				</ul>
			</div>

			<div class="btn_group"><a href="javascript:;" class="btn_cancel">{#$langData['siteConfig'][6][12]#}</a><a href="javascript:;" class="btn_sure">{#$langData['siteConfig'][51][14]#}</a> </div>
			{#*  取消--确认更换  *#}
		</div>


	{#include file="user_footer.html"#}

	<script type="text/javascript" src="{#$templets_skin#}js/user_4.8.js?v={#$cfg_staticVersion#}"> </script>
