<h2 class="subtitle">{#$langData['siteConfig'][19][366]#}<a href="{#getUrlPath service='member' type='user' template='orderdetail' module='waimai' id={#$id#}#}">{#$langData['siteConfig'][19][317]#}</a></h2>
{#* 订单评价-返回订单详细 *#}

{#if $detail_peisongid!='0'#}
<dl class="comment fn-clear qs_comment">
	<dt>{#$langData['waimai'][7][48]#}</dt>{#* 给骑手打分 *#}
	<dd>
		<div class="fn-clear qs_info">
			<div class="qs_img fn-left"><img src="{#$templets_skin#}images/waimai/qsicon.png" alt=""></div>
			<div class="qsInfo fn-left">
				<h2>{#$detail_peisongname#}</h2>
				<p class="">{#(int)(($detail_okdate-$detail_paydate)%86400/60)#}分钟({#date('H:i',$detail_okdate)#}送达)</p>
			</div>
			<span class="fn-right qs_tip">{#$langData['waimai'][7][49]#}</span>{#* 已对骑手匿名 *#}
		</div>
	
		<div class="fn-clear">
			<div class="star_box">
				<i data-title="{#$langData['waimai'][7][50]#}" {#if $common.starps >= 1#} class="click" {#/if#}></i>{#* 非常差 *#}
				<i data-title="{#$langData['waimai'][7][51]#}" {#if $common.starps >= 2#} class="click" {#/if#}></i>{#* 差 *#}
				<i data-title="{#$langData['waimai'][7][52]#}" {#if $common.starps >= 3#} class="click" {#/if#}></i>{#* 一般 *#}
				<i data-title="{#$langData['waimai'][7][53]#}" {#if $common.starps >= 4#} class="click" {#/if#}></i>{#* 满意 *#}
				<i data-title="{#$langData['waimai'][7][54]#}" {#if $common.starps >= 5#} class="click" {#/if#}></i>{#* 非常满意 *#}
				<span class="com_tip">{#$com_tip#}</span>
				<input type="hidden" id="scoreps" name="scoreps" value="{#$common.starps#}">
			</div>
		</div>
		{#$contentpsarr = explode(',',$common.pspag)#}
		<div class="label_tip">
				<ul class="bad_ul" {#if $common.starps <= 2#} style="display: block;" {#/if#}>

					<li {#if in_array($langData['waimai'][7][55],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][55]#}</li>    {#* 提前点送达 *#}
					<li {#if in_array($langData['waimai'][7][56],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][56]#}</li>    {#* 服务态度差 *#}
					<li {#if in_array($langData['waimai'][7][57],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][57]#}</li>  {#* 额外索取费用 *#}
					<li {#if in_array($langData['waimai'][7][58],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][58]#}</li>      {#* 餐品翻洒 *#}
					<li {#if in_array($langData['waimai'][7][59],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][59]#}</li>        {#* 配送慢 *#}
					<li {#if in_array($langData['waimai'][7][60],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][60]#}</li>      {#* 骚扰威胁 *#}
					<li {#if in_array($langData['waimai'][7][61],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][61]#}</li>      {#* 食品凉了 *#}
					<li {#if in_array($langData['waimai'][7][62],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][62]#}</li>    {#* 未带保温箱 *#}
					<li {#if in_array($langData['waimai'][7][63],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][63]#}</li>      {#* 着装脏乱 *#}
					<li {#if in_array($langData['waimai'][7][64],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][64]#}</li>      {#* 不送上楼 *#}
					<li class="commt_btn">{#$langData['waimai'][7][65]#}</li>{#* 写评价 *#}
				</ul>
				<ul class="comon_ul " {#if $common.starps > 2#} style="display: block;" {#/if#}>
					<li {#if in_array($langData['waimai'][7][66],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][66]#}</li>       {#* 送餐快 *#}
					<li {#if in_array($langData['waimai'][7][67],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][67]#}</li>     {#* 餐品完好 *#}
					<li {#if in_array($langData['waimai'][7][68],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][68]#}</li>   {#* 服务态度好 *#}
					<li {#if in_array($langData['waimai'][7][69],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][69]#}</li>     {#* 穿着专业 *#}
					<li {#if in_array($langData['waimai'][7][70],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][70]#}</li>     {#* 衣着整洁 *#}
					
					<li class="commt_btn">{#$langData['waimai'][7][65]#}</li>{#* 写评价 *#}
				</ul>
				
			</div>
		<!--输入框s-->
		<div class="textarea" id="comm_d" contenteditable="true" placeholder="{#$langData['waimai'][7][71]|replace: '1' : $langData['waimai'][1][221]#}" >{#$common.contentps#}</div>
		<!--输入框e-->

	</dd>
</dl>
{#/if#}
<dl class="comment fn-clear sj_comment">
	<dt>{#$langData['waimai'][7][72]#}</dt>{#* 给商家打分 *#}
	<dd>
		<div class="fn-clear qs_info">
			<div class="qs_img fn-left"><img src="{#$templets_skin#}images/waimai/qsicon.png" alt=""></div>
			<div class="qsInfo fn-left">
				<h2>{#$detail_shopname#}</h2>

				<p>{#foreach from=$detail_food  key=id item=i#}{#$i.title#}/ {#/foreach#}等共<em class="food-count">{#count($detail_food)#}</em>份餐品</p>
			</div>
			<span class="fn-right hide_tip {#if $common.isanony == 1#}show{#/if#}" data-isanony="1"><i></i>{#$langData['waimai'][7][73]#}</span>{#* 匿名评价 *#}
		</div>
		<div class="fn-clear">
			<div class="star_box">
				<i data-title="{#$langData['waimai'][7][50]#}" {#if $common.star >= 1#} class="click" {#/if#}></i>{#* 非常差 *#}
				<i data-title="{#$langData['waimai'][7][51]#}" {#if $common.star >= 2#} class="click" {#/if#}></i>{#* 差 *#}
				<i data-title="{#$langData['waimai'][7][52]#}" {#if $common.star >= 3#} class="click" {#/if#}></i>{#* 一般 *#}
				<i data-title="{#$langData['waimai'][7][53]#}" {#if $common.star >= 4#} class="click" {#/if#}></i>{#* 满意 *#}
				<i data-title="{#$langData['waimai'][7][54]#}" {#if $common.star >= 5#} class="click" {#/if#}></i>{#* 非常满意 *#}
				<span class="com_tip"></span>
				<input type="hidden" id="score" name="score" value="{#$common.star #}">
			</div>
		</div>

		<!--输入框s-->
		<div class="commt_shop">
		  	<div class="textarea" id="comm_shop" contenteditable="true" placeholder="{#$langData['waimai'][7][71]|replace: '1' : $langData['waimai'][2][21]#}" >{#$common.content#}</div>
				<div class="up_img">
					<ul class="uploader-list fn-clear" id="fileList">
						
						{#if $common.pics#}
						{#foreach from=$common.pics key=k item=i#}
						<li class="thumbnail" id="item_{#$k+1#}"><img src="{#changeFileSize url="{#getFilePath($i)#}" type="small"#}" data-val="{#$i#}" data-url="{#getFilePath($i)#}" alt=""><div class="file-panel"><span class="cancel"></span></div></li>
						{#/foreach#}
						{#/if#}
						<li class="upload_btn" id="uploadbtn">
							<div id="filePicker" class="webuploader-container">
								<img src="{#$templets_skin#}images/waimai/upimg.png" />
								<p>{#$langData['siteConfig'][43][43]#}</p>{#* 点击上传图片 *#}
							</div>
						</li>
					</ul>
				</div>
		</div>
		
		<!--输入框e-->
		<input type="hidden" name="commonid" id="commonid" value="{#$common.id#}">



	</dd>
</dl>
<!-- 提交按钮s -->
<div class="tjbuttom"></div>
<a href="javascript:;" class="commt_upbtn">{#$langData['siteConfig'][8][3]#}</a>{#* 发表评价 *#}
<!-- 提交按钮e -->


<script>
	var modelType = 'waimai',thumbSize = {#$thumbSize#}, thumbType = '{#$thumbType#}', atlasSize = {#$atlasSize*1024*1024#}, atlasType = '{#$atlasType#}',  atlasMax = 9;
	var ordertype = '{#$ordertype#}';
	var peisongid = '{#$peisongid#}';
	var returnUrl = '{#getUrlPath service="member" type="user" template="orderdetail-$ordertype" id=$detail_id#}';
</script>

<script src="{#$cfg_staticPath#}js/webuploader/webuploader.min.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$templets_skin#}touch/js/upload-img.js?v={#$cfg_staticVersion#}"></script>

