.main_wrap{background: #f5f5f5; padding-bottom: 50px;}

/*关键字*/
.filter-item {display: none;float: left; line-height: 28px; height: 28px; padding: 0 15px; background-color: #f0f2f7;margin-left: 18px; color: #6f7178;border-radius: 14px;font-size: 15px;}
.filter-item em{color:#fd4939;}

.filter-item .close {color: #6f7178; margin-left: 7px; font-weight:bold;font-family: "\5b8b\4f53", "Microsoft YaHei", Arial; margin-top: 2px;display: block;float: right;}
.filter-item:hover{color: #6f7178;}


/* 筛选 */
.filter_box{background: #fff;}
.filter {position: relative; border-radius: 5px; font-size: 14px;}
.filter dl{border-bottom: 1px solid #eee; background: #F8F8F8}
.filter dt {float: left;width: 70px;line-height:46px;text-align: center; font-size:14px;color:#999;margin-right: 10px;}

.filter dd {margin-left: 90px; padding: 10px 0 0 10px;overflow: hidden;line-height: 24px;position: relative; background-color: #fff;}
.filter dd a {float: left; position: relative; margin: 0px 14px 10px 0; padding: 0 6px; color: #333;font-size: 14px;height: 24px;line-height: 24px}
.filter dd a:hover {text-decoration: none; color: #FF653B;}
.filter dl dd a.curr{background-color: #FF653B; color: #fff;}
.filter dl dd a:hover.curr {text-decoration: none;}
.filter dd a s {display: none; position: absolute; left: 50%; bottom: 0; height: 0; width: 0; margin: 0 0 -8px -2px; overflow: hidden; border: solid 4px transparent; border-top-color: #fd4939;}
.filter dd a.curr s {display: block;}

#fnav .f_more{cursor:pointer;font-size: 14px;color:#333;position: absolute;top: 12px; right: 12px;padding:0 10px;z-index: 1; -webkit-transition: all .3s linear;-o-transition: all .3s linear;transition: all .3s linear;}
#fnav .f_more i{display: inline-block;width: 10px;height: 6px;background: url(../images/icon_shouqi.png) no-repeat center center;background-size:10px;margin-left:5px;vertical-align: middle;margin-top: -5px;}
#fnav .f_more.curr i{transform: rotate(180deg);}
/* #fnav .item_box{width: 93%;overflow:hidden;-webkit-transition: all .3s linear;-o-transition: all .3s linear;transition: all .3s linear;} */
#fnav .item_box.on{height: auto}
/*价格*/
.filter .inpbox{float: left;}
.filter .inpbox .p1, .filter .inpbox .p2 {width: 40px; padding: 0 4px; height: 24px; border: solid 1px #f0f2f7; line-height: 24px;  margin: 0 4px;background: #fff;outline: none;}
.filter .inpbox .btn {width:52px;height: 24px; display: inline-block;text-align:center; background: #FF653B; color: #fff; margin-left:5px;vertical-align: top; line-height: 24px; cursor: pointer; white-space: nowrap; -webkit-background-clip: padding-box;-moz-background-clip: padding;  background-clip: padding-box; border: 0;font-size: 14px;outline: none;float: none}
.filter .more {position: absolute; left: 50%; bottom: -27px; width: 100px; height: 25px; text-align: center; line-height: 25px; font-size: 12px; border: 1px solid #e5e5e5; background-color: #fafafa; border-top-color: #fafafa;}
.filter .more a {display: block;}
.filter .more i {display: inline-block; vertical-align: middle; margin-left: 8px; width: 9px; height: 5px; background-position: -37px -34px;}
.filter .more a:hover i {background-position: -55px -34px;}
.filter .more.curr i {background-position: -28px -34px; margin-top: -3px;}
.filter .more.curr a:hover i {background-position: -46px -34px;}
.filter .subnav {clear: both; padding: 10px 10px 0 0; background-color: #fff;}
/* .filter .subnav div {display: none;} */
.filter .subnav {width: 97%; padding: 4px 6px;border: 1px solid #FF653B;border-radius: 3px;*position: relative;z-index: 0;margin-left: 0;margin-bottom: 10px;margin-top: -1px}


.filter .subnav a {margin: 2px 4px 2px 8px;display: inline-block;}
.filter .subnav a.curr{color: #FF653B;background: #fff}
.sortbar .rowlist i,.sortbar .window i,.sortbar .tpage i,.pagination-pages a i,.pagination-pages span i{display:block;background-image: url(../images/listSprite.png);background-repeat: no-repeat; }

/*清空状态*/

.fi-state{display: none;}
.fi-state dt{width: 70px;height: 57px;line-height:57px;text-align: center;float: left;font-size: 14px;color:#666}
.fi-state dd{margin-left: 20px;float: left;}
.fi-state dd a{padding-left:10px;height:24px;background: #fff;font-size: 14px;color:#333;margin-right: 20px;position: relative;border: 1px solid #FFC4B9;display: inline-block;margin-top: 15px;}
.fi-state dd a span{display: inline-block;height: 24px;line-height: 24px;margin-right: 9px;vertical-align: middle;}
.fi-state dd a i.idel{display: inline-block;width: 24px;height: 24px;background: #FFC4B9 url(../images/icon_del.png) no-repeat center center;background-size: 10px;vertical-align: middle;}
.fi-state .btn_clear{float: left;cursor: pointer;font-size: 14px;color:#666;line-height:57px;}

/* 信息类型切换 + 顶部分页 */

.sortbar {border-bottom: 4px solid #FF653B;}
.sortbar .tabs {float: left;}
.sortbar .tabs li {position: relative; z-index: 1; float: left;  width: 93px; height: 41px;text-align: center; font-size: 20px; border-bottom: 0;color:#4b4b4e; background: #f7f8fb;margin-right: 30px;}

.sortbar .tabs li.curr { background-color: #FF653B;}
.sortbar .tabs li a {display: block; line-height: 41px;font-size: 16px;}
.sortbar .tabs li a:hover {color: #333; text-decoration: none;}
.sortbar .tabs li.curr a {color: #fff;}


/* 排序 */
.sort{background-color: #fff; height: 50px; border-top: 0;}
.sort ul {padding-left: 20px; font-size: 14px;}
.sort li {float: left; height: 50px; line-height: 50px; margin: 0 30px 0 0; padding-right: 15px; }
.sort li a {display: block;font-size: 14px;color:#999;}
.sort li a:hover {color: #FF653B;}
.sort .curr a {color: #FF653B;}

.failed img{display: block;margin: 0 auto}



/*列表*/
.news_wrap{margin-top: 20px;}
.new_content{width: 965px;float: left;}
.new_content .public_top{margin-bottom: 20px;}
.new_content .list_ul .list_li{padding: 20px;background: #fff;margin-top: 10px;overflow: hidden;}
.new_content .list_ul .list_li:hover{box-shadow:0px 8px 15px 0px rgba(198,203,204,0.4);}
.new_content .list_li:first-child{position: relative;}
.new_content .list_li.top:after{content: '';background:  url(../images/top.png) no-repeat center center;width: 46px;height: 46px;position: absolute;right: 0;top: 0}
.new_content .left_b{float: left;width: 130px;height: 130px;}
.new_content .left_b img{width: 100%;height: 100%;object-fit: cover}
.new_content .mid_b{float: left;margin-left: 14px;width: 456px;}
.new_content .mid_b .new_title{font-size: 18px;font-weight: bold;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 456px}
.new_content .mid_b .new_title .self{width:32px;height: 18px;display: inline-block;background: url(../images/self.png) no-repeat center center;vertical-align: middle;margin-top: -3px;margin-left: 9px;}
.new_content .mid_b .new_title .noself{width:20px;height: 22px;display: inline-block;background: url(../images/noself.png) no-repeat center center;vertical-align: middle;margin-top: -3px;margin-left: 9px;}
.new_content .mid_b .tip{font-size: 14px;color: #999;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;max-width:373px;display: inline-block;}
.new_content .mid_b .new_title:hover a{color: #FF653B}
.new_content .new_info{margin-top: 10px}
.new_content .new_info span{}
.new_content .new_info .new_icon{padding: 0 7px;color: #FF653B;border: 1px solid #FF653B;font-size: 14px;display: inline-block;border-radius:2px;overflow:hidden;margin-right: 7px;float: left;}
.new_content .new_address{font-size: 14px;color: #666;margin-top: 7px; }
.new_content .new_address i{width:16px;height: 17px;display: inline-block;background: url(../images/place.png) no-repeat center center;vertical-align: top;margin-top: 2px;margin-right: 7px;}

.new_content .new_phone{margin-top: 12px;}
.new_content .new_phone i{width:16px;height: 17px;display: inline-block;background: url(../images/phone_ico.png) no-repeat center center;vertical-align: top;margin-top: 2px;margin-right: 7px;}
.new_content .new_phone .phoneNum{font-size: 16px;color: #000033}
.new_content .new_phone .see_phone{font-size: 14px;color: #333;margin-left: 7px;cursor: pointer;}
.new_content .right_b{float: right;text-align: right;}
.new_content .right_b ul li{float: left;margin-left: 20px;width: 130px;height: 130px;position: relative;}
.new_content .right_b .li_img{width: 130px;height: 130px;}
.new_content .right_b .li_img img{width: 100%;height: 100%;object-fit: cover;}
.new_content .right_b .li_text a{overflow:hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;padding: 0 8px;height: 30px;line-height: 30px; background-color: rgba(0, 0, 0,0.6);position: absolute;bottom: 0;left: 0;right: 0; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;font-size: 12px;color: #fff}
.new_info .m_per,.new_info .m_tel{float:left;width:96px;height: 22px;line-height: 22px;text-align: center;font-size: 14px;margin-right:10px;}
.new_info .m_per{border:solid 1px #64e3b5;color:#64e3b5;}
.new_info .m_tel{border:solid 1px #84bbff;color:#84bbff;}
.new_info .m_per i,.new_info .m_tel i{display: inline-block;width: 22px;height: 22px;background: url(../images/listSprite.png) no-repeat;vertical-align: middle;margin-top:-2px;margin-right: 5px;}
.new_info .m_per i{background-position: 0 -32px;}
.new_info .m_tel i{background-position: -22px -32px;}


.news_r{float: right;width: 217px}
.news_r .adv{width: 220px;height: 220px}
.news_r .adv img{width: 100%;height: 100%;object-fit: cover;}
.newr_content{margin-top: 33px;}
.newr_content .newr_tit{font-size: 24px;font-weight: bold;}
.newr_content ul li{padding: 15px 12px 16px 15px;background: #fff;margin-top: 10px;}
.newr_content ul li:hover{box-shadow:0px 8px 15px 0px rgba(198,203,204,0.4);}
.newr_content .r_top .r_left{width: 54px;height: 54px;float: left;}
.newr_content .r_top .r_left img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%}
.newr_content .r_top .r_right{margin-left: 66px;}
.newr_content .r_right h3 a{display: block;font-size: 16px;color: #39393B;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 126px;}
.newr_content .r_right a:hover{color: #FF653B}
.newr_content .r_right p{font-size: 12px;color: #999;margin-top: 5px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 126px;}
.newr_content .newr_info {font-size: 14px;color: #999;margin-top: 14px;overflow: hidden;text-overflow: ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:2;}
.newr_content .newr_info .red{color: #FF653B}

.empty {text-align: center; font-size: 17px; color:#8c8c91;}
.empty img {width: 300px; margin: 50px auto 20px; display: block;}

.footer {margin-top: 0;}
