*{margin: 0;padding: 0;-webkit-tap-highlight-color: rgba(255,0,0,0);}
body{max-width: 1080px;margin: 0 auto;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;font-size: .24rem;}
em,i{font-style: normal;}

/*内容*/
.news-tit{padding: .16rem .3rem .5rem;}
.news-tit h1{font-size: .42rem;color: #111112;font-weight: bold;}
.news-tit p{font-size: 0;margin-top: .4rem}
.news-tit p span,.news-tit p em{display: inline-block;}
.news-tit p span.typename{height: .32rem;line-height: .32rem;border-radius: .06rem;padding: 0 .1rem;background: #FFEDEB;font-size: .22rem;color: #F72A34;font-weight: bold;font-style: italic;margin-right: .2rem}

.news-tit p span.time {font-size: .22rem;color: #4A4B4D}
.news-tit p span.time i{font-size: .2rem;color: #A6A7AB;display: inline-block;margin-left: .04rem;margin-right: .04rem}
.news-tit p span.time em{margin-left: .16rem}
.news-tit p span.see{font-size: .22rem;color: #4A4B4D}
.news-tit p span.see i{display: inline-block;width: .3rem;height: .3rem;background: url(../images/see.png) no-repeat;background-size: .3rem;margin-left: .3rem;margin-right: .05rem;    vertical-align: middle; margin-top: -.05rem;}
.news-con{padding: 0 .3rem 1.4rem;}
.news-con p{font-size: .32rem!important;margin-top: .2rem;line-height: .58rem!important;color: #111112!important;    text-align: justify!important;}
.news-con p span{font-size: .32rem!important;line-height: .58rem!important;color: #111112!important;    text-align: justify!important;}
.news-con img {max-width: 100%!important; max-height: 100%!important; display: block; margin: 0 auto;}
.news-con .img-box{display: block;width: 100%;margin-top: .2rem;}
.news-con .img-box img{display: block;width: 100%;}
