<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="utf-8">
<title>{#$cfg_webname#}</title>
<meta name="apptitle" content="下载APP">
<meta name="keywords" content="{#$cfg_keywords#}">
<meta name="description" content="{#$cfg_description#}">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/mobile_touch.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
    var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
	var androidUrl = '{#$cfg_app_android_download#}';  //安卓app下载
	var iosUrl = '{#$cfg_app_ios_download#}';//苹果app下载
	
</script>
{#* 微信分享 *#}
{#$Share_description = {#$cfg_description#}#}
{#$Share_title = {#'下载APP-'|cat:$cfg_webname#}#}
{#$Share_img = {#$cfg_app_logo#}#}
{#$Share_url = {#getUrlPath service='siteConfig' template='mobile'#}#}
{#include file="{#$HUONIAOROOT#}/templates/siteConfig/public_share.html"#}
</head>
<body>

<div class="appPage_v2">
	<div class="logo_box">
		<img src="/static/images/mobile_touch/bg_logo.png" alt="">
		<div class="logo_v2"><img src="{#$cfg_app_logo#}" alt=""></div>
	</div>
	<div class="appInfo">
		{#$text = "，"|explode:$cfg_shareDesc#}
		<h2>{#$cfg_appname#}</h2>
		<p>{#$text[0]#}</p>
	</div>
	<a href="javascript:;" class="btn_down" data-yyb="{#$cfg_app_yyb_download#}">APP下载</a>
	<a href="{#$cfg_basehost#}" class="link_h">直接访问h5触屏版</a>
</div>
<div class="tipWarp"><i class="arrow"></i>{#$langData['waimai'][3][69]#}<br/>{#$langData['waimai'][3][70]#}</div>
<script type='text/javascript' src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"> </script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/mobile_touch.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
