<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="utf-8">
<title>{#$cfg_webname#}</title>
<meta name="keywords" content="{#$cfg_keywords#}">
<meta name="description" content="{#$cfg_description#}">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/ui/idangerous.swiper.min.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/mobile.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.9.0.min.js?v={#$cfg_staticVersion#}"></script>
</head>
<body>
<div class="bgfff">
  <div class="wrap">
    <div class="header fn-clear">
      <div class="logo">
          <a href="{#$cfg_basehost#}" title="{#$cfg_webname#}"><img src="{#$cfg_weblogo#}" alt="{#$cfg_webname#}"><h2>{#$cfg_shortname#}</h2></a>
      </div>
      <div class="navbar" id="bar1">
        <ul class="xq_navbar">
          <li class="xq_navli"><a href="{#$cfg_basehost#}" class="currpage">{#$langData['siteConfig'][0][5]#}</a></li>      {#* 网站首页 *#}
          <li class="xq_navli"><a href="{#$member_userDomain#}" target="_blank" class="spea">{#$langData['siteConfig'][0][7]#}</a></li>       {#* 会员中心 *#}
          <li class="xq_navli"><a href="{#getUrlPath service='siteConfig' template='about'#}" target="_blank">{#$langData['siteConfig'][19][272]#}</a></li>       {#* 关于我们 *#}
          <li class="xq_navli"><a href="{#getUrlPath service='siteConfig' template='help'#}" target="_blank">{#$langData['siteConfig'][19][273]#}</a></li>       {#* 帮助中心 *#}
          <i></i>
        </ul>
      </div>

    </div>
  </div>
</div>
<div class="mainWrap">
  <div class="main_wrap">
    <div class="wrap fn-clear topCon">
      <div class="txt-left fn-left">
        <p class="title">{#$cfg_shortname#} APP</p>       {#* 地方生活门户网 *#}
        <p class="subtit">{#$langData['siteConfig'][54][26]#}</p>       {#*  全新升级，焕然新生！我们的一切改变，只为初心不变*#}
        <div class="codebox fn-clear">
          <div class="code fn-left"><img src="{#$cfg_basehost#}/include/qrcode.php?data={#getUrlPath service='siteConfig' template='mobile'#}" alt=""></div>
          <div class="link fn-left">
            {#if $cfg_app_ios_download#}<a href="{#$cfg_app_ios_download#}" class="link-ios"><span>App Store {#$langData['siteConfig'][54][27]#}</span></a>{#/if#} {#* 下载 *#}
            {#if $cfg_app_android_download#}<a href="{#$cfg_app_android_download#}" class="link-android"><span>Android {#$langData['siteConfig'][54][27]#}</span></a>{#/if#}  {#* 下载 *#}

          </div>

        </div>
      </div>
      <div class="img-right fn-right">
        <div class="img1"><img src="{#$cfg_staticPath#}images/mobile_v2/img1.png" alt=""></div>
        <div class="img2"><img src="{#$cfg_staticPath#}images/mobile_v2/img2.png" alt=""></div>
      </div>
    </div>

    <div class="footerWrap wrap">
        {#$cfg_powerby#}<br />{#$cfg_statisticscode#}
      </div>

  </div>
</div>


<script src="{#$cfg_staticPath#}js/ui/idangerous.swiper.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/mobile.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
