<!-- 顶部信息 s -->
	{#include file="{#$HUONIAOROOT#}/templates/siteConfig/top1.html"#}
<!-- 顶部信息 e -->
<!-- 头部搜索 s-->
	<div class="header1 wrap FestivalAD_header fn-clear">
		<div class="logo"><a href="{#$cfg_basehost#}" title="{#$cfg_webname#}"><img src="{#$cfg_weblogo#}" alt="{#$cfg_webname#}"></a></div>

		{#if $channel == "tuan"#}
		<div class="city-info">
			<h2><a href="{#$tuanDomain#}">{#$cityname#}<s></s></a></h2>
			<ul>
				{#tuan action="city" return="city"#}
				<li><a href="{#$city.url#}">{#$city.name#}</a></li>
				{#/tuan#}
			</ul>
		</div>
		{#/if#}

		{#if $channel == "cbf"#}
		<div class="search1 fn-clear">
			<form action="{#getUrlPath service='business' template='list'#}">
				<div class="type">
					<dl>
						<dt><em>{#$langData['siteConfig'][9][0]#}</em><i></i></dt>  {#* 全部 *#}
						<dd>
							<a href="javascript:;">{#$langData['siteConfig'][0][3]#}</a>  {#* 商家 *#}
							<a href="javascript:;">{#$langData['siteConfig'][17][12]#}</a>  {#* 店铺 *#}
						</dd>
					</dl>
				</div>
				<input type="text" class="SearchFirst" name="keywords" class="searchkey" value="{#$keywords#}"  placeholder="{#$langData['siteConfig'][37][69]#}" />  {#* 搜索你想要的... *#}
				<input type="submit" class="SearchButton" value="">
			</form>
		</div>
		{#/if#}
		{#if $channel == "business"#}
		<div class="search1 fn-clear">
			<form action="{#getUrlPath service='business' template='list'#}">
				<div class="type">
					<dl>
						<dt><em>{#$langData['siteConfig'][9][0]#}</em><i></i></dt>  {#* 全部 *#}
						<dd>
							<a href="javascript:;">{#$langData['siteConfig'][0][3]#}</a>  {#* 商家 *#}
							<a href="javascript:;">{#$langData['siteConfig'][17][12]#}</a>  {#* 店铺 *#}
						</dd>
					</dl>
				</div>
				<input type="text" class="SearchFirst" name="keywords" class="searchkey" value="{#$keywords#}"  placeholder="{#$langData['siteConfig'][37][69]#}" />  {#* 搜索你想要的... *#}
				<input type="submit" class="SearchButton" value="">
			</form>
		</div>
		{#/if#}
		{#if $channel == "infor"#}
		<div class="search1 fn-clear">
			<form action="{#getUrlPath service='info' template='list'#}">
				<input type="text" class="SearchFirst" name="keywords" class="searchkey" value="{#$keywords#}"  placeholder="{#$langData['siteConfig'][37][69]#}" />  {#* 搜索你想要的... *#}
				<input type="submit" class="SearchButton" value="">
			</form>
		</div>
		{#/if#}
		{#if $channel == "tieba"#}
		<div class="search1 fn-clear">
			<form action="{#$tieba_channelDomain#}">
				<input type="text" class="SearchFirst" name="keywords" class="searchkey" value="{#$keywords#}"  placeholder="{#$langData['siteConfig'][37][69]#}" />  {#* 搜索你想要的... *#}
				<input type="submit" class="SearchButton" value="">
			</form>
		</div>
		{#/if#}
		{#if $channel == "huodong"#}
		<div class="search1 fn-clear">
			<form action="{#getUrlPath service='huodong' template='list'#}">
				<input type="text" class="SearchFirst" name="keywords" class="searchkey" value="{#$keywords#}"  placeholder="{#$langData['siteConfig'][37][69]#}" />  {#* 搜索你想要的... *#}
				<input type="submit" class="SearchButton" value="">
			</form>
		</div>
		{#/if#}
		{#if $channel == "house"#}
		<div class="search1 fn-clear">
			<form action="{#getUrlPath service='house' template='sale'#}">
				<input name="search_keyword" type="text" class="txt_search SearchFirst" id="search_keyword" value="" autocomplete="off" placeholder="{#$langData['siteConfig'][37][70]#}" />   {#* 请输入关键字 *#}
				<input type="submit" class="SearchButton" value="">
			</form>
		</div>
		{#/if#}
		{#if $channel == "renovation"#}
		<div class="search1 fn-clear">
			<form action="{#getUrlPath service='renovation' template='albums'#}">
				<div class="type">
					<dl>
						<dt><em>{#$langData['siteConfig'][9][0]#}</em><i></i></dt>  {#* 全部 *#}
						<dd>
							<a href="javascript:;">{#$langData['siteConfig'][19][455]#}</a>  {#* 效果图 *#}
							<a href="javascript:;">{#$langData['siteConfig'][34][27]#}</a>  {#* 装修公司 *#}
						</dd>
					</dl>
				</div>
				<input name="search_keyword" type="text" class="txt_search SearchFirst" id="search_keyword" value="" autocomplete="off" placeholder="{#$langData['siteConfig'][37][70]#}" />   {#* 请输入关键字 *#}
				<input type="submit" class="SearchButton" value="">
			</form>
		</div>
		{#/if#}
		{#if $channel == "job"#}
		<div class="search1 fn-clear">
			<form action="{#getUrlPath service='job' template='zhaopin'#}">
				<input name="search_keyword" type="text" class="txt_search SearchFirst" id="search_keyword" value="" autocomplete="off" placeholder="{#$langData['siteConfig'][37][70]#}" />   {#* 请输入关键字 *#}
				<input type="submit" class="SearchButton" value="">
			</form>
		</div>
		{#/if#}
		{#if $channel == "tuan"#}
		<div class="search1 fn-clear search_tuan">
			<form action="{#getUrlPath service='tuan' template='list'#}">
				<div class="type">
					<dl>
						<dt><em>{#$langData['siteConfig'][9][0]#}</em><i></i></dt>  {#* 全部 *#}
						<dd>
							<a href="javascript:;">{#$langData['siteConfig'][16][46]#}</a>  {#* 团购 *#}
							<a href="javascript:;">{#$langData['siteConfig'][0][3]#}</a>  {#* 商家 *#}
						</dd>
					</dl>
				</div>
				<input name="search_keyword" type="text" class="txt_search SearchFirst" id="search_keyword" value="" autocomplete="off" placeholder="{#$langData['siteConfig'][37][70]#}" />   {#* 请输入关键字 *#}
				<input type="submit" class="SearchButton" value="">
			</form>
		</div>
		{#/if#}
		<div class="service">
			<span></span>
			<div class="tel">
				<h1>{#$langData['siteConfig'][19][275]#}</h1>    {#* 客服热线 *#}
				<p>{#$hotline#}</p>
			</div>
		</div>
	</div>
<!-- 头部搜索 e-->
<!-- 主干部分 s-->
	<div class="wrap fn-clear">
		<!-- 公用左侧导航栏 s-->
		<div class="nav">
			<div class="nav_list">
				<ul>
					{#if in_array("article", $installModuleArr)#}
					<li class="{#if $channel == "cbf"#} nav_bc {#/if#}" ><a href="{#$article_channelDomain#}">{#$langData['siteConfig'][18][91]#}</a></li>     {#* 资讯 *#}
					{#/if#}
					{#if in_array("info", $installModuleArr)#}
					<li class="{#if $channel == "infor"#} nav_bc {#/if#}" ><a href="{#$info_channelDomain#}">{#$langData['siteConfig'][16][125]#}</a></li>     {#* 二手 *#}
					{#/if#}
					{#if in_array("tieba", $installModuleArr)#}
					<li class="{#if $channel == "tieba"#} nav_bc {#/if#}"><a href="{#$tieba_channelDomain#}">{#$langData['siteConfig'][19][223]#}</a></li>     {#* 贴吧 *#}
					{#/if#}
					{#if in_array("live", $installModuleArr)#}
					<li class="{#if $channel == "live"#} nav_bc {#/if#}"><a href="live.shtml">{#$langData['siteConfig'][10][24]#}</a></li>     {#* 直播 *#}
					{#/if#}
					<li class="{#if $channel == "business"#} nav_bc {#/if#}"><a href="{#$business_channelDomain#}">{#$langData['siteConfig'][0][3]#}</a></li>  {#* 商家 *#}
					{#if in_array("huodong", $installModuleArr)#}
					<li class="{#if $channel == "huodong"#} nav_bc {#/if#}"><a href="{#$huodong_channelDomain#}">{#$langData['siteConfig'][19][224]#}</a></li>     {#* 活动 *#}
					{#/if#}
					<!-- {#if in_array("dating", $installModuleArr)#}
					<li class="{#if $channel == "dating"#} nav_bc {#/if#}"><a href="{#$dating_channelDomain#}">交友</a></li>
					{#/if#} -->
					<!-- {#if in_array("marry", $installModuleArr)#}
					<li class="{#if $channel == "marry"#} nav_bc {#/if#}"><a href="{#$marry_channelDomain#}">婚嫁</a></li>
					{#/if#} -->
					{#if in_array("house", $installModuleArr)#}
					<li class="{#if $channel == "house"#} nav_bc {#/if#}"><a href="{#$house_channelDomain#}">{#$langData['siteConfig'][19][217]#}</a></li>    {#* 房产 *#}
					{#/if#}
					{#if in_array("renovation", $installModuleArr)#}
					<li class="{#if $channel == "renovation"#} nav_bc {#/if#}"><a href="{#$renovation_channelDomain#}">{#$langData['siteConfig'][16][126]#}</a></li>    {#* 装修 *#}
					{#/if#}
					{#if in_array("job", $installModuleArr)#}
					<li class="{#if $channel == "job"#} nav_bc {#/if#}"><a href="{#$job_channelDomain#}">{#$langData['siteConfig'][19][241]#}</a></li>    {#* 招聘 *#}
					{#/if#}
					{#if in_array("tuan", $installModuleArr)#}
					<li class="{#if $channel == "tuan"#} nav_bc {#/if#}"><a href="{#$tuan_channelDomain#}">{#$langData['siteConfig'][16][46]#}</a></li>     {#* 团购 *#}
					{#/if#}
				</ul>
			</div>
		</div>
		<!-- 公用左侧导航栏 e-->