<div class="foot">
  <div class="footer1 wrap">
    <div class="about fn-clear">
      <ul>
        {#siteConfig action="singel"#}
        <li><a href="{#getUrlPath service='siteConfig' template='about' id={#$row.id#}#}">{#$row.title#}</a></li>
        <em></em>
    	{#/siteConfig#}
        <li><a href="{#getUrlPath service='siteConfig' template='help'#}">{#$langData['siteConfig'][19][273]#}</a></li><em></em>    {#* 帮助中心 *#}
        <li><a href="{#getUrlPath service='siteConfig' template='feedback'#}">{#$langData['siteConfig'][16][171]#}</a></li>    {#* 意见反馈 *#}
      </ul>
    </div>
    <div class="power">
      <p>{#$cfg_powerby#}</p>
    </div>
  </div>
</div>
