<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>扫码登录</title>
<meta name="keywords" content="{#$cfg_keywords#}" />
<meta name="description" content="{#$cfg_description#}" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/qrLogin_touch.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}';
	var qr = "{#$qr#}";
</script>
</head>

<body>
<!-- 头部 s -->
{#$pageTitle = '扫码登录'#}      {#* 扫码登录 *#}
{#include file="touch_top.html"#}
<div class="mainWrap">
	<div class="logoImg"><img src="{#$cfg_staticPath#}images/qrlogin.png" alt=""></div>
	<p class="loginTxt">即将在电脑上登录{#$cfg_shortname#}网页版</p>
	<div class="sureLogin"><a href="javascript:;">确认登录</a></div>
</div>

<script type="text/javascript" src="{#$cfg_staticPath#}js/qrLogin_touch.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
