<div class="html2_mask2"><img src="{#$cfg_basehost#}/static/images/load.png" ></div>
<div class="html2canvas_fixed" id="html2canvas_fixed">
	<div class="htmlimg_box">
		<div class="html2_img html2_imgSj"></div>
	</div>
	<div class="html2_mask_bottom"></div>
	<div class="sj-save">
		<!--h5页面-->
	    <div class="sj-info2 sj-mobile"><p>{#$langData['siteConfig'][49][53]#}</p></div> {#* 扫码进店或长按保存图片 *#}
	    <!--app或者微信时 微信端保存未做 上线才做-->
	    <div class="sj-info2 sj-other">                      
	      <p class="">{#$langData['siteConfig'][49][54]#}</p> {#* 扫码进店或 *#}
	      <a href="javascript:;" class="saveImg-app"><i></i>{#$langData['siteConfig'][49][55]#}</a> {#* 保存图片 *#}
	    </div>
	</div>
	
</div>

<div class="html2_closeAlert"></div>