<link rel="stylesheet" href="{#$cfg_basehost#}/templates/siteConfig/touch/default/css/touch_common_bottom.css?v=2">

<div class="btmMenu">
	<ul class="bnav">
		<li{#if $service == "siteConfig"#} class="active"{#/if#}>
			<a href="{#$cfg_basehost#}">
				<i class="iconnav bicon-1"></i>
				<span>{#$langData['siteConfig'][0][0]#}</span>    {#* 首页 *#}  
			</a>
		</li>
		<li>
			<a href="{#getUrlPath service='member' type='user' template='message'#}">
				<i class="iconnav bicon-2">{#if $userinfo && $userinfo.message > 0#}<em>{#$userinfo.message|string_format:"%d"#}</em>{#/if#}</i>
				<span>{#$langData['siteConfig'][19][239]#}</span>    {#* 消息 *#}
			</a>
		</li>
		<li id="fabubtn">
			<a href="javascript:;">
				<i class="quan1"><em class="quan2"></em></i>
				<span>{#$langData['siteConfig'][31][92]#}</span>       {#* 发布 *#}
			</a>
		</li>
		<li>
			<a href="{#getUrlPath service='shop' template='cart'#}">
				<i class="iconnav bicon-3"></i>
				<span>{#$langData['siteConfig'][22][12]#}</span>		    {#* 购物车 *#}
			</a>
		</li>
		<li{#if $service == "member"#} class="active"{#/if#}>
			<a href="{#$member_userDomain#}">
				<i class="iconnav bicon-4"></i>
				<span>{#$langData['siteConfig'][10][0]#}</span>		    {#* 我的 *#}
			</a>
		</li>
	</ul>
</div>

<div class="fabuBox">
  <div class="fabu">
    <ul class="clearfix">
	  {#if in_array("tieba", $installModuleArr)#}
      <li class="t1">
		<a href="{#getUrlPath service='tieba' template='fabu'#}"><img src="{#$cfg_basehost#}/templates/siteConfig/touch/default/images/fabu_btn_1.png" alt=""></a>
		<p>{#$langData['siteConfig'][6][171]#}</p>		    {#* 发布帖子 *#}
	  </li>
	  {#/if#}
	  {#if in_array("article", $installModuleArr)#}
      <li class="t2">
		<a href="{#getUrlPath service='member' type='user' template='fabu-article'#}"><img src="{#$cfg_basehost#}/templates/siteConfig/touch/default/images/fabu_btn_2.png" alt=""></a>
		<p>{#$langData['siteConfig'][19][235]#}</p>		    {#* 新闻投稿 *#}
	  </li>
	  {#/if#}
	  {#if in_array("info", $installModuleArr)#}
      <li class="t3">
		<a href="{#getUrlPath service='member' type='user' template='info'#}#Stype"><img src="{#$cfg_basehost#}/templates/siteConfig/touch/default/images/fabu_btn_3.png" alt=""></a>
		<p>{#$langData['siteConfig'][11][23]#}</p>		    {#* 发布二手信息 *#}
	  </li>
	  {#/if#}
	  {#if in_array("house", $installModuleArr)#}
      <li class="t4">
		<a href="{#getUrlPath service='member' type='user' template='fabu-house-sale'#}"><img src="{#$cfg_basehost#}/templates/siteConfig/touch/default/images/fabu_btn_4.png" alt=""></a>
		<p>{#$langData['siteConfig'][11][14]#}</p>		    {#* 发布二手房 *#}
	  </li>
	  {#/if#}
	  {#if in_array("house", $installModuleArr)#}
      <li class="t5">
		<a href="{#getUrlPath service='member' type='user' template='fabu-house-zu'#}"><img src="{#$cfg_basehost#}/templates/siteConfig/touch/default/images/fabu_btn_5.png" alt=""></a>
		<p>{#$langData['siteConfig'][11][15]#}</p>		    {#* 发布出租房 *#}
	  </li>
	  {#/if#}
	  {#if in_array("house", $installModuleArr)#}
      <li class="t6">
		<a href="{#getUrlPath service='member' type='user' template='fabu-house-xzl'#}"><img src="{#$cfg_basehost#}/templates/siteConfig/touch/default/images/fabu_btn_6.png" alt=""></a>
		<p>{#$langData['siteConfig'][11][16]#}</p>		    {#* 发布写字楼 *#}
	  </li>
	  {#/if#}
	  {#if in_array("house", $installModuleArr)#}
      <li class="t7">
		<a href="{#getUrlPath service='member' type='user' template='fabu-house-sp'#}"><img src="{#$cfg_basehost#}/templates/siteConfig/touch/default/images/fabu_btn_7.png" alt=""></a>
		<p>{#$langData['siteConfig'][11][17]#}</p>		    {#* 发布商铺 *#}
	  </li>
	  {#/if#}
	  {#if in_array("house", $installModuleArr)#}
      <li class="t8">
		<a href="{#getUrlPath service='member' type='user' template='fabu-house-cf'#}"><img src="{#$cfg_basehost#}/templates/siteConfig/touch/default/images/fabu_btn_8.png" alt=""></a>
		<p>{#$langData['siteConfig'][11][18]#}</p>		    {#* 发布厂房、仓库 *#}
	  </li>
	  {#/if#}
	  {#if in_array("job", $installModuleArr)#}
      <li class="t9">
		<a href="{#getUrlPath service='member' type='user' template='job-resume'#}"><img src="{#$cfg_basehost#}/templates/siteConfig/touch/default/images/fabu_btn_9.png" alt=""></a>
		<p>{#$langData['siteConfig'][11][24]#}</p>		    {#* 发布简历 *#}
	  </li>
	  {#/if#}
    </ul>
    <div class="cancel"></div>
  </div>
</div>
<div class="bg_1"></div>
<script type="text/javascript" src="{#$cfg_basehost#}/templates/siteConfig/touch/default/js/touch_common_bottom.js?v=2"></script>
