<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{#$langData['siteConfig'][8][6]#}-{#$cfg_webname#}</title>  {#* 完善信息 *#}
<meta name="keywords" content="{#$cfg_keywords#}" />
<meta name="description" content="{#$cfg_description#}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}../member/css/login.css?v=5" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/certification.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
    var masterDomain = '{#$cfg_basehost#}', cookiePre = '{#$cfg_cookiePre#}', templets_skin = '{#$templets_skin#}', staticPath = '{#$cfg_staticPath#}';
    var hideFileUrl ={#$cfg_hideUrl#};
	var geetest = {#$cfg_geetest#};
	var from ='{#$from#}';
	var certifyArr = {#$certifyArr#};
	var uid = '{#$userinfo.userid#}';
	var modelType = 'siteConfig';
	var thumbSize = {#$thumbSize#}, thumbType = '{#$thumbType#}', atlasSize = {#$atlasSize#}, atlasType = '{#$atlasType#}', atlasMax = 1;
	var verified = '{#$verified#}';
</script>
</head>

<body class="w1200">
<!--顶部-->
{#include file="{#$HUONIAOROOT#}/templates/siteConfig/top1.html"#}

<!-- head s -->
<div class="wrap header fn-clear">
    <div class="logo">
        <a href="{#$cfg_basehost#}" title="{#$cfg_webname#}">
            <img src="{#$cfg_weblogo#}" alt="{#$cfg_webname#}">
        </a>
        <div class="shortname"><h2>{#$cfg_shortname#}</h2><p>{#$cfg_webname#}</p></div>
    </div>
    <dl class="kefu fn-clear">
        <dt><img src="{#$templets_skin#}../member/images/kf_tel.png" alt=""></dt>
        <dd>
            <p class="p1">{#$langData['siteConfig'][19][275]#}</p>  {#* 客服热线 *#}
            <p class="p2">{#$cfg_hotline#}</p>
        </dd>
    </dl>
</div>
<!-- head e -->

<div class="container">
	<img src="{#$templets_skin#}images/bg.png?v={#$cfg_staticVersion#}" class="bgimg" />
    <div class="wrap">
		<div class="bg">
			<h3>{#$langData['siteConfig'][8][7]#}</h3>  {#* 请先完善以下个人资料 *#}
			<div class="step"></div>
		</div>
		<div class="main">

			<!-- 手机 -->
			<div class="item item-phone">
				<div class="subtitle fn-clear">
					<s><img src="{#$templets_skin#}images/phone.png?v={#$cfg_staticVersion#}" /></s>
					<h5>{#$langData['siteConfig'][23][27]#}</h5>  {#* 手机绑定 *#}
					<p>{#$langData['siteConfig'][23][128]#}</p>  {#* 绑定成功后手机号可用于账号登录 *#}
				</div>

				<div class="form">
					<dl class="fn-clear">
						<dt>{#$langData['siteConfig'][3][6]#}：</dt>  {#* 手机号码 *#}
						<dd style="overflow: inherit;">
							<div class="inp">
								<input type="hidden" name="areaCode" id="areaCode" value="{#$internationalPhoneSection[0]['code']#}">
								<span class="areaCode"><i>+{#$internationalPhoneSection[0]['code']#}</i><s></s></span>
								<input type="text" id="phone" placeholder="{#$langData['siteConfig'][20][463]#}" maxlength="11" title="{#$langData['siteConfig'][20][463]#}">  {#* 请输入手机号码 *#}
							</div>
							<div class="areaCode_wrap"><ul></ul></div>
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt>{#$langData['siteConfig'][4][0]#}：</dt>  {#* 验证码 *#}
						<dd>
							<div class="inp">
								<input type="text" id="vercode" placeholder="{#$langData['siteConfig'][20][176]#}" maxlength="6" title="{#$langData['siteConfig'][20][176]#}" class="placeholder">  {#* 请输入验证码 *#}
							</div>
							<a href="javascript:;" class="getCodes">{#$langData['siteConfig'][4][7]#}</a>  {#* 发送验证码 *#}
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt>&nbsp;</dt>
						<dd>
							<a href="javascript:;" class="confirm">{#$langData['siteConfig'][6][216]#}</a>  {#* 确定，下一步 *#}
						</dd>
					</dl>
				</div>
			</div>

			<!-- 公众号 -->
			<div class="item item-wechat">
				<div class="subtitle fn-clear">
					<s><img src="{#$templets_skin#}images/wechat.png?v={#$cfg_staticVersion#}" /></s>
					<h5>{#$langData['siteConfig'][23][129]#}</h5>  {#* 关注公众号 *#}
					<p>{#$langData['siteConfig'][23][130]#}</p>  {#* 关注成功后可及时接收您的账户动态信息 *#}
				</div>

				<div class="wechatObj fn-clear">
					<img src="/include/qrcode.php?data={#$wechatImg#}" />
					<p>{#$langData['siteConfig'][23][131]#}</p>  {#* 微信扫一扫，关注该公众号 *#}
					<a href="javascript:;" class="confirm">{#$langData['siteConfig'][23][132]#}</a>  {#* 已关注，下一步 *#}
				</div>
			</div>

			<!-- 实名认证 -->
			<div class="item item-card">
				<div class="subtitle fn-clear">
					<s><img src="{#$templets_skin#}images/card.png?v={#$cfg_staticVersion#}" /></s>
					<h5>{#$langData['siteConfig'][19][255]#}</h5>  {#* 实名认证 *#}
					<p>{#$langData['siteConfig'][23][133]#}</p>  {#* 实名认证用户可拥有更多会员权利 *#}
				</div>

				<div class="auditState state{#$verified#}"{#if $verified == 2 || $verified == 3#} style="display: block;"{#/if#}>
					{#* 审核失败 *#}
					{#if $verified == 2#}
					<div class="state2">
						<s><img src="{#$templets_skin#}images/error.png?v={#$cfg_staticVersion#}" /></s>
						<h3>{#$verifiedInfo#}</h3>
						<a href="javascript:;" class="recertify">{#$langData['siteConfig'][6][174]#}</a>  {#* 重新认证 *#}
					</div>
					{#/if#}

					{#* 等待审核 *#}
					<div class="state3"{#if $verified == 3#} style="display: block;"{#/if#}>
						<s><img src="{#$templets_skin#}images/wait.png?v={#$cfg_staticVersion#}" /></s>
						<h3>{#$langData['siteConfig'][23][136]#}</h3>  {#* 实名认证审核中 *#}
						<p>{#$langData['siteConfig'][23][137]#}</p>  {#* 您的实名认证已提交，请耐心等待平台审核！ *#}
					</div>
				</div>

				{#if $verified == 0 || $verified == 2#}
				<div class="form"{#if $verified == 2#} style="display: none;"{#/if#}>
					<dl class="fn-clear">
						<dt>{#$langData['siteConfig'][28][42]#}：</dt>  {#* 身份证照片 *#}
						<dd class="fn-clear">
							<div class="front listImgBox" data-type-real="card">
								<div class="upobj">
									<div class="list-holder">
										<ul id="listSection_front" class="fn-clear listSection fn-hide"></ul>
										<input type="hidden" name="front" id="front" value="" class="imglist-hidden">
									</div>
									<div class="uploadinp filePicker" id="filePicker_front" data-type="card" data-count="1" data-size="5120" data-imglist=""><div></div><span>{#$langData['siteConfig'][6][168]#}</span></div>  {#* 添加图片 *#}
								</div>
								<p>{#$langData['siteConfig'][23][138]#}</p>  {#* 点击上传身份证正面照片 *#}
							</div>
							<div class="behind listImgBox" data-type-real="card">
								<div class="upobj">
									<div class="list-holder">
										<ul id="listSection_behind" class="fn-clear listSection fn-hide"></ul>
										<input type="hidden" name="behind" id="behind" value="" class="imglist-hidden">
									</div>
									<div class="uploadinp filePicker" id="filePicker_behind" data-type="card" data-count="1" data-size="5120" data-imglist=""><div></div><span>{#$langData['siteConfig'][6][168]#}</span></div>  {#* 添加图片 *#}
								</div>
								<p>{#$langData['siteConfig'][23][139]#}</p>  {#* 点击上传身份证反面照片 *#}
							</div>
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt>{#$langData['siteConfig'][19][31]#}：</dt>  {#* 真实姓名 *#}
						<dd>
							<div class="inp">
								<input type="text" id="realname" value="{#$userinfo.person#}" placeholder="{#$langData['siteConfig'][20][105]#}" title="{#$langData['siteConfig'][20][105]#}">  {#* 请输入身份证上的姓名 *#}
							</div>
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt>{#$langData['siteConfig'][19][32]#}：</dt>  {#* 身份证号码 *#}
						<dd>
							<div class="inp">
								<input type="text" id="idcard" value="{#$userinfo.idcard#}" placeholder="{#$langData['siteConfig'][20][106]#}" maxlength="18" title="{#$langData['siteConfig'][20][106]#}">  {#* 请输入身份证号码 *#}
							</div>
						</dd>
					</dl>
					{#if $userinfo['userType'] == 2#}
					<dl class="fn-clear">
						<dt>{#$langData['siteConfig'][19][187]#}：</dt>  {#* 营业执照 *#}
						<dd class="fn-clear">
							<div class="license listImgBox" data-type-real="card">
								<div class="upobj">
									<div class="license-btn">
										<div class="license-icon"></div>
										<p>{#$langData['siteConfig'][23][140]#}</p>  {#* 上传营业执照照片 *#}
									</div>
									<div class="list-holder">
										<ul id="listSection_license" class="fn-clear listSection fn-hide"></ul>
										<input type="hidden" name="license" id="license" value="" class="imglist-hidden">
									</div>
									<div class="uploadinp filePicker" id="filePicker_license" data-type="card" data-count="1" data-size="5120" data-imglist=""><div></div><p>{#$langData['siteConfig'][23][140]#}</p></div>  {#* 上传营业执照照片 *#}
								</div>
							</div>
							<div class="license-tip">
								<img src="{#$templets_skin#}images/license.png?v={#$cfg_staticVersion#}" />
								<p>{#$langData['siteConfig'][23][141]#}</p>  {#* 营业执照示例 *#}
							</div>
						</dd>
					</dl>
					{#/if#}
					<dl class="fn-clear">
						<dt>&nbsp;</dt>
						<dd>
							<a href="javascript:;" class="confirm">{#$langData['siteConfig'][6][60]#}</a>  {#* 提交认证 *#}
							<p class="tip"><img src="{#$templets_skin#}images/tip.png?v={#$cfg_staticVersion#}" />{#$langData['siteConfig'][23][142]#}</p>  {#* 认证审核需要1-2个工作日，仅支持二代身份证认证。 *#}
						</dd>
					</dl>
				</div>
				{#/if#}

			</div>

		</div>
    </div>
</div>


<!-- 底部 -->
{#include file="../siteConfig/public_foot_v3.html" module='siteConfig' theme='gray'#}

<script src="{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.dragsort-0.5.1.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/publicUpload.js?v={#$cfg_staticVersion#}"></script>
{#if $cfg_geetest#}<script type="text/javascript" src="{#$cfg_secureAccess#}static.geetest.com/static/tools/gt.js"></script>{#/if#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.step.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/certification.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
