<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$detail_title#}</title>{#*汽车详情 *#}
    <meta name="keywords" content="{#$car_keywords#}" />
    <meta name="description" content="{#$car_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/detail.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$car_channelDomain#}', staticPath = '{#$cfg_staticPath#}',templets_skin = '{#$templets_skin#}';
        var hideFileUrl = {#$cfg_hideUrl#};
        var cookiePre = '{#$cfg_cookiePre#}', id = '{#$detail_id#}';
        var imconfig = {
            'mod':'car',
            'chatid':"{#$detail_user.userid#}",
            'title': '{#$detail_title#}',
            "price": '<em>￥</em>{#$detail_price#}',
            "imgUrl": '{#changeFileSize url={#$detail_imglist[0]["path"]#} type='small'#}',
            "link": '{#getUrlPath service="car" template="detail" id=$detail_id#}',
        }
        var pageData = {
            title: '{#$detail_user.title#}',
            address: '{#$detail_user.address#}',
            lat: '{#$detail_user.lat#}',
            lng: '{#$detail_user.lng#}',
            mapType: '{#$site_map#}',
            cityName: '{#$siteCityInfo['name']#}',
            mapKey: '{#$site_map_key#}'
        };
    </script>
</head>

<body class="w1200">
{#$pageCurr = "list"#}
{#include file="../../siteConfig/top1.html"#}
<!-- 导航 s-->
{#include file="top.html"#}
<!-- 导航 e-->

<!-- 导航 e-->
<div class="main_wrap2">
    <div class="wrap crumbs fn-clear">
        <div class="cont">
            <a href="{#$car_channelDomain#}">{#$car_channelName#}</a>
            <span>></span>
            <a href="{#getUrlPath service='car' template='list'#}">{#$langData['car'][6][88]#}</a> {#*我要买车 *#}
            <span>></span>
            {#$detail_title#}
        </div>
    </div>
    <!--详情头部 s-->
    <div class="wrap car_wrap fn-clear">
        <div class="det_lunbo fn-left">
            <div id="slideBox2" class="slideBox">
                <div class="hd">
                   <span class="pageState"></span>
                </div>
                <div class="bd">
                    <ul>
                        {#foreach from=$detail_imglist item=val#}
                        <li><img src="{#$val.path#}" /></li>
                        {#/foreach#}
                    </ul>
                </div>

                <!-- 前/后按钮 -->
                <a class="prev" href="javascript:void(0)"></a>
                <a class="next" href="javascript:void(0)"></a>

            </div>
            <div class="car_wrap2">
                <ul class="car_tab fn-clear">
                    <li class="active"><a href="javascript:;">{#$langData['car'][8][21]#}</a></li>          {#* 基本信息 *#}
                    <li><a href="javascript:;">{#$langData['car'][0][26]#}</a></li>          {#* 车况描述 *#}
                    <li><a href="javascript:;">{#$langData['car'][0][31]#}</a></li>          {#* 车辆实拍 *#}
                </ul>

                <div class="car_content">
                    <div class="car_con">
                        <h2 class="list-tit">{#$langData['car'][8][21]#}</h2>          {#* 基本信息 *#}
                        <div class="basic">
                            <ul class="fn-clear">
                                {#*万公里/年 *#} {#*万公里 *#}
                                <li><span>{#$detail_avgmileage#}{#$langData['car'][6][70]#}</span><span>{#$detail_mileage#}{#$langData['car'][6][21]#}</span></li>

                                {#*上牌 *#}
                                <li><span>{#$detail_cardtime|date_format:'%Y-%m'#}{#$langData['car'][6][71]#}</span><span>{#$detail_cardtimeminus#}</span></li>

                                {#*车牌所在地 *#}
                                <li><span>{#$langData['car'][0][18]#}</span><span>{#$detail_cityname#}</span></li>

                                {#*排放量 *#}
                                <li><span>{#$langData['car'][8][22]#}</span><span>{#$detail_modelArr.emissions#}</span></li>

                                {#*变速箱 *#}
                                <li><span>{#$langData['car'][0][21]#}</span><span>{#$detail_modelArr.transmissioncase#}</span></li>

                                {#*车辆性质 *#}
                                <li><span>{#$langData['car'][3][8]#}</span><span>{#$detail_naturename#}</span></li>

                                {#*车身颜色 *#}
                                <li><span>{#$langData['car'][2][7]#}</span><span>{#$detail_colorname#}</span></li>

                                {#*排放标准 *#}
                                <li><span>{#$langData['car'][0][22]#}</span><span>{#$detail_modelArr.standardname#}</span></li>

                                {#*来源 *#}
                                <li><span>{#$langData['car'][8][23]#}</span><span>{#if $detail_usertype==1#}商家{#else#}个人{#/if#}</span></li>
                            </ul>
                        </div>
                        <div class="detailcontent fn-clear js-detailcontent">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="param-table one">
                                <tbody>
                                    {#*基本参数 *#}
                                    <tr>
                                        <th colspan="2">{#$langData['car'][2][9]#}</th></tr>
                                    <tr>

                                    {#*证件品牌型号 *#}   {#*此信息为机动车行驶证上的品牌型号信息，品牌型号信息以此为准 *#}
                                    <td class="td1">{#$langData['car'][2][10]#}
                                      <span class="icon-yellow-error js-license-brand">
                                        <span class="layer-tip-yellow-bottom">
                                          <i class="icon-small-sanjiao"></i>{#$langData['car'][8][24]#}</span></span>
                                    </td>
                                    <td class="td2">{#$detail_modelArr.certificatebrandmodel#}</td></tr>
                                    {#*厂商 *#}
                                      <tr>
                                        <td class="td1">{#$langData['car'][2][11]#}</td>
                                        <td class="td2">{#$detail_modelArr.company#}</td></tr>
                                    {#*级别 *#}
                                      <tr>
                                        <td class="td1">{#$langData['car'][2][12]#}</td>
                                        <td class="td2">{#$detail_modelArr.levelname#}</td></tr>
                                    {#*发动机 *#}
                                      <tr>
                                        <td class="td1">{#$langData['car'][2][13]#}</td>
                                        <td class="td2">{#$detail_modelArr.engine#}</td></tr>
                                    {#*变速箱 *#}
                                      <tr>
                                        <td class="td1">{#$langData['car'][2][14]#}</td>
                                        <td class="td2">{#$detail_modelArr.transmissioncase#}</td></tr>
                                    {#*车身结构 *#}
                                      <tr>
                                        <td class="td1">{#$langData['car'][2][15]#}</td>
                                        <td class="td2">{#$detail_modelArr.bodystructure#}</td></tr>
                                    {#*长*宽*高(mm) *#}
                                      <tr>
                                        <td class="td1">{#$langData['car'][2][16]#} </td>
                                        <td class="td2">{#$detail_modelArr.lengthwidthheight#}</td></tr>
                                    {#*轴距(mm) *#}
                                      <tr>
                                        <td class="td1">{#$langData['car'][2][17]#} </td>
                                        <td class="td2">{#$detail_modelArr.wheelbase#}</td></tr>
                                    {#*行李箱容积(L) *#}
                                      <tr>
                                        <td class="td1">{#$langData['car'][2][18]#}</td>
                                        <td class="td2">{#$detail_modelArr.cargovolume#}</td></tr>
                                    {#*整备质量(kg) *#}
                                      <tr>
                                        <td class="td1">{#$langData['car'][2][19]#} </td>
                                        <td class="td2">{#$detail_modelArr.quality#}</td></tr>
                                    </tbody>
                            </table>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="param-table">
                                <tbody>

                                {#*发动机参数*#}
                                  <tr>
                                    <th colspan="2">{#$langData['car'][2][20]#}</th></tr>
                                {#*排量(L)*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][21]#}</td>
                                    <td class="td2">{#$detail_modelArr.emissions#}</td></tr>
                                {#*进气形式*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][22]#}</td>
                                    <td class="td2">{#$detail_modelArr.intakeformname#}</td></tr>
                                {#*气缸*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][23]#}</td>
                                    <td class="td2">{#$detail_modelArr.cylinder#}</td></tr>
                                {#*最大马力(Ps)*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][24]#}</td>
                                    <td class="td2">{#$detail_modelArr.maximumhorsepower#}</td></tr>
                                {#*最大扭矩(N*m)*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][25]#}</td>
                                    <td class="td2">{#$detail_modelArr.maximumtorque#}</td></tr>
                                {#*燃料类型*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][26]#}</td>
                                    <td class="td2">{#$detail_modelArr.fueltypename#}</td></tr>
                                {#*燃油标号*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][27]#}</td>
                                    <td class="td2">{#$detail_modelArr.fuelgradename#}</td></tr>
                                {#*供油方式*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][28]#}</td>
                                    <td class="td2">{#$detail_modelArr.fuelsupplymodename#}</td></tr>
                                {#*排放标准*#}
                                  <tr title="各地车管所对排放标准认定有差异，结果仅供参考，外迁请详细咨询迁入地车管所。">
                                    <td class="td1">{#$langData['car'][2][29]#}</td>
                                    <td class="td2">{#$detail_modelArr.standardname#}</td></tr>

                                  <tr>
                                    <td class="td1"></td>
                                    <td class="td2"></td>
                                  </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="param-table one">
                                <tbody>

                                {#*底盘及制动*#}
                                  <tr>
                                    <th colspan="2">{#$langData['car'][2][30]#}</th></tr>
                                {#*驱动方式*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][31]#}</td>
                                    <td class="td2">{#$detail_modelArr.drivingmodename#}</td></tr>
                                {#*助力类型*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][32]#}</td>
                                    <td class="td2">{#$detail_modelArr.assistancetypename#}</td></tr>
                                {#*前悬挂类型*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][33]#}</td>
                                    <td class="td2">{#$detail_modelArr.frontsuspensiontypename#}</td></tr>
                                {#*后悬挂类型*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][34]#}</td>
                                    <td class="td2">{#$detail_modelArr.rearsuspensiontypename#}</td></tr>
                                {#*前制动类型*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][35]#}</td>
                                    <td class="td2">{#$detail_modelArr.frontbraketypename#}</td></tr>
                                {#*后制动类型*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][36]#}</td>
                                    <td class="td2">{#$detail_modelArr.rearbraketypename#}</td></tr>
                                {#*驻车制动类型*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][37]#}</td>
                                    <td class="td2">{#$detail_modelArr.parkingbraketypename#}</td></tr>
                                {#*前轮胎规格*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][38]#}</td>
                                    <td class="td2">{#$detail_modelArr.fronttirespecification#}</td></tr>
                                {#*后轮胎规格*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][39]#}</td>
                                    <td class="td2">{#$detail_modelArr.reartirespecification#}</td></tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="param-table">
                                <tbody>

                                {#*安全配置*#}
                                  <tr>
                                    <th colspan="2">{#$langData['car'][2][40]#}</th></tr>
                                {#*主副驾驶安全气囊*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][41]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.securitysetting, '1')#}{#$langData['car'][6][77]#}{#else#}{#$langData['car'][6][76]#}{#/if#}/{#if strstr($detail_modelArr.securitysetting, '2')#}{#$langData['car'][6][77]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td></tr>
                                {#*前后排侧气囊*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][42]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.securitysetting, '3')#}{#$langData['car'][6][77]#}{#else#}{#$langData['car'][6][76]#}{#/if#}/{#if strstr($detail_modelArr.securitysetting, '4')#}{#$langData['car'][6][77]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td></tr>
                                {#*前后排头部气囊*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][43]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.securitysetting, '5')#}{#$langData['car'][6][77]#}{#else#}{#$langData['car'][6][76]#}{#/if#}/{#if strstr($detail_modelArr.securitysetting, '6')#}{#$langData['car'][6][77]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td></tr>
                                {#*胎压检测*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][44]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.securitysetting, '7')#}{#$langData['car'][6][77]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td></tr>
                                {#*车内中控锁*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][45]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.securitysetting, '8')#}{#$langData['car'][6][77]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td></tr>
                                {#*儿童座椅接口*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][46]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.securitysetting, '9')#}{#$langData['car'][6][77]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td></tr>
                                {#*无钥匙启动*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][47]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.securitysetting, '10')#}{#$langData['car'][6][77]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td></tr>
                                {#*防抱死系统(ABS)*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][48]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.securitysetting, '11')#}{#$langData['car'][6][77]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td>
                                  </tr>
                                {#*车身稳定控制(ESP)*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][49]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.securitysetting, '12')#}{#$langData['car'][6][77]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td>
                                  </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="param-table  one">
                                <tbody>
                                {#*外部配置*#}
                                  <tr>
                                    <th colspan="2">{#$langData['car'][2][50]#}</th></tr>
                                {#*电动天窗*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][51]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.externalsetting, '1')#}{#$langData['car'][6][75]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td>
                                  </tr>
                                {#*全景天窗*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][52]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.externalsetting, '2')#}{#$langData['car'][6][75]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td>
                                  </tr>
                                {#*电动吸合门*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][53]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.externalsetting, '3')#}{#$langData['car'][6][75]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td></tr>
                                {#*感应后备箱*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][54]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.externalsetting, '4')#}{#$langData['car'][6][75]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td></tr>
                                {#*感应雨刷*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][55]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.externalsetting, '5')#}{#$langData['car'][6][75]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td>
                                  </tr>
                                {#*后雨刷*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][56]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.externalsetting, '6')#}{#$langData['car'][6][75]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td></tr>
                                {#*前后电动车窗*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][57]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.externalsetting, '7')#}{#$langData['car'][6][75]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td></tr>
                                {#*后视镜电动调节*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][58]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.externalsetting, '8')#}{#$langData['car'][6][75]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td>
                                  </tr>
                                {#*后视镜加热*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][59]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.externalsetting, '9')#}{#$langData['car'][6][75]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td>
                                  </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="param-table">
                                <tbody>
                                {#*内部配置*#}
                                  <tr>
                                    <th colspan="2">{#$langData['car'][2][60]#}</th></tr>

                                {#*多功能方向盘*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][61]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.internalsetting, '1')#}{#$langData['car'][6][75]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td></tr>
                                {#*定速巡航*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][62]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.internalsetting, '2')#}{#$langData['car'][6][75]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td>
                                  </tr>
                                {#*空调*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][63]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.internalsetting, '3')#}{#$langData['car'][6][75]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td>
                                  </tr>
                                {#*自动空调*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][64]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.internalsetting, '4')#}{#$langData['car'][6][75]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td>
                                  </tr>
                                {#*GPS导航*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][65]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.internalsetting, '5')#}{#$langData['car'][6][75]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td></tr>
                                {#*倒车雷达*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][66]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.internalsetting, '6')#}{#$langData['car'][6][75]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td></tr>
                                {#*倒车影像系统*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][67]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.internalsetting, '7')#}{#$langData['car'][6][75]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td></tr>
                                {#*真皮座椅*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][68]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.internalsetting, '8')#}{#$langData['car'][6][75]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td>
                                  </tr>
                                {#*前后排座椅加热*#}
                                  <tr>
                                    <td class="td1">{#$langData['car'][2][69]#}</td>
                                    <td class="td2">{#if strstr($detail_modelArr.internalsetting, '9')#}{#$langData['car'][6][75]#}{#else#}{#$langData['car'][6][76]#}{#/if#}/{#if strstr($detail_modelArr.internalsetting, '10')#}{#$langData['car'][6][75]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="car_con car-spe">
                        <h2 class="list-tit ">{#$langData['car'][0][26]#}</h2>          {#* 车况描述 *#}
                        <div class="description-text">{#$detail_note#}</div>
                    </div>
                    <div class="car_con">
                        <h2 class="list-tit">{#$langData['car'][0][31]#}</h2>          {#* 车辆实拍 *#}
                        <div class="photos fn-clear">
                            {#foreach from=$detail_imglist item=val#}
                            <div class="img_list"><img src="{#$val.path#}" alt=""></div>
                            {#/foreach#}
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="info_right ">
            <!--车源信息 s-->
            <div class="source-info">
                <div class="tit"><span class="tit_text">{#$detail_title#} </span>{#if strstr($detail_flag, '2')#}<span class="new"> </span>{#/if#} {#if strstr($detail_flag, '1')#}<span class="z_new"> </span>{#/if#}</div>
                <div class="pr_div fn-clear">
                   <p class="price fn-left">{#$detail_price#}{#$langData['car'][6][20]#}{#if $detail_tax==1#}(含税){#/if#}</p>
                    <div class="btn_group fn-right">
                        {#* 已收藏 *#}   {#* 收藏 *#}
                        <a href="javascript:;" class="store-btn{#if $detail_collect#} curr{#/if#}"><button><em></em><span>{#if $detail_collect#}{#$langData['car'][5][36]#}{#else#}{#$langData['car'][5][35]#}{#/if#}</button></a>

                    </div>
                </div>
                {#* 待定 *#}
                <p class="others">{#$langData['car'][0][17]#}{#if $detail_totalprice#}{#$detail_totalprice#}{#$langData['car'][6][20]#}{#else#}{#$langData['car'][6][76]#}{#/if#}</p>{#*参考价 *#}{#*新车总价 *#}

            </div>
            <!--车源信息 e-->

            <!--车辆详情 s-->
            <div class="source-detail">
                <div class="source-detail-tag">
                    <ul class=" fn-clear">
                        {#*万公里 *#} {#*万公里/年 *#}
                        <li><p>{#$detail_mileage#}{#$langData['car'][6][21]#}</p><span>{#$detail_avgmileage#}{#$langData['car'][6][70]#}</span></li>
                        <li><p>{#$detail_cardtimeminus#}</p><span>{#$detail_cardtime|date_format:'%Y-%m'#}{#$langData['car'][6][71]#}</span></li> {#*上牌 *#}
                        <li><p>{#$detail_cityname#}</p><span>{#$langData['car'][0][18]#}</span></li>{#*车牌所在地 *#}
                    </ul>
                </div>
            </div>
            <!--车辆详情 e-->
            <!--车辆来源 e-->
                <!--经销商-->
                {#if $detail_usertype==1#}
            <div class="car_source">
                <div class="left_top fn-clear">
                    <div class="left_img"><a href="{#$detail_user.url#}" target="_blank"><img src="{#if $detail_user.litpic#}{#$detail_user.litpic#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt=""></a></div>
                    <div class="left_info">
                        <h2 class="store_tit"><a href="{#$detail_user.url#}" target="_blank">{#$detail_user.name#}</a>
                            {#foreach from=$detail_authattrAll.py item=val#}
                            <i class="icon_{#$val#}"></i>
                            {#/foreach#}
                        </h2>
                        <p class="store_place"><span class="sliceFont" data-num="30">{#$detail_user.address#} </span><a href="javascript:;" class="see_map appMapBtn" target="_blank">{#$langData['car'][8][11]#}</a></p>  {#*查看地图 *#}
                    </div>
                </div>
                <div class="store_in"><a href="{#$detail_user.url#}" target="_blank">{#$langData['car'][0][30]#}</a></div>  {#*进店逛逛 *#}
            </div>
            {#else#}
                <!--个人-->
            <div class="car_source car_person" >
                <div class="left_top fn-clear">
                    <div class="left_img"><a href="{#$cfg_basehost#}/user/{#$detail_user.userid#}"><img src="{#if $detail_user.photo#}{#$detail_user.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt=""></a></div>
                    <div class="left_info">
                        <p class="per_name"><a href="{#$cfg_basehost#}/user/{#$detail_user.userid#}">{#$detail_user.nickname#}</a></p>
                        {#*行驶证已验 *#} {#*手续齐全 *#}
                        <p class="per_info">
                            {#if $detail_user.certify#}<span class="vehicle">{#$langData['car'][8][98]#}</span>{#/if#}
                            {#if $detail_user.phoneCheck#}<span class="license">{#$langData['car'][8][99]#}</span>{#/if#}
                        </p>
                    </div>
                </div>
            </div>
            {#/if#}

            <!--车辆来源 e-->

            <!--联系方式 s-->
            <div class="car-contact fn-clear">
                <span class="contact fn-left chat_to-Link" data-type="detail"><img src="{#$templets_skin#}images/contact2.png" alt=""></span>
                <div class="l_phone l_phone2 fn-right">
                    <i></i>

                    <span class="seePhone seePhone3">{#$langData['car'][8][20]#}</span>       {#* 点击查看电话，联系卖家 *#}
                </div>
                <div class="l_phone l_phone3 fn-right" style="display: none;">
                    <i></i>
                    <span class="seePhone seePhone2" >{#if $detail_areaCode !='' && $detail_areaCode!= '86'#}+{#$detail_areaCode#} {#/if#}{#$detail_user.phone#}</span>

                </div>
            </div>
            <!--联系方式 e-->

        </div>

    </div>
    <!--详情头部 e-->

</div>

<!-- 相关推荐 s-->
<div class="wrap fn-clear">
    <h2 class="list-tit command">{#$langData['car'][0][32]#}</h2>{#*相关推荐 *#}
    <div class="list_left">
        <ul class="fn-clear list_ul">
          {#car action="car" return="list" usertype="0" orderby="1" pageSize="4"#}
          <li>
            <a href="{#$list.url#}">
              <!--新车 准新车 急售 s-->
              <div class="icon_img">
                {#if strstr($list.flag, '2')#}<span class="new"> </span>{#/if#} {#if strstr($list.flag, '1')#}<span class="z_new"> </span>{#/if#}
              </div>
              <div class="icon_img2">{#if strstr($list.flag, '4')#}<span class="hot_tag"></span>{#/if#} </div>

              <div class="top_img"><img src="{#$list.litpic#}" alt=""></div>
              <div class="car_info">
                <h3 class="car_name">{#$list.title#}</h3>
                {#* 年 *#}{#*万公里 *#}
                <p class="by_time">
                  <span>{#$list.cardtime|date_format:'%Y'#}{#$langData['car'][6][55]#}</span><em>|</em><span>{#$list.mileage#}{#$langData['car'][6][21]#}</span>
                </p>
                {#* 万 *#}{#*首付 *#}
                <p class="car_price"><span>{#$list.price#}{#$langData['car'][6][20]#}</span>{#if $list.sf#}<em>{#$langData['car'][6][68]#}{#$list.sf#}{#$langData['car'][6][20]#}</em>{#/if#}</p>
              </div>
            </a>
          </li>
          {#/car#}
        </ul>
    </div>



</div>


<!-- 列表 e-->
{#include file="bottom.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/publicOpenMap.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/detail.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/car-detail.js?v={#$cfg_staticVersion#}"></script>

</body>
</html>
