<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$car_channelName#}</title>
<meta name="keywords" content="{#$car_keywords#}" />
<meta name="description" content="{#$car_description#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" media="all" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/index.css?v={#$cfg_staticVersion#}" />
<link rel="stylesheet" href="{#$cfg_staticPath#}css/ui/swiper.min.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
  var hideFileUrl = '{#$cfg_hideUrl#}';
</script>
</head>

<body class="w1200">
{#$pageCurr = "index"#}
{#include file="../../siteConfig/top1.html"#}
<!-- 导航 s-->
{#include file="top.html"#}
<!-- 导航 e-->

<!-- 广告位 s -->
<div class="mainbox">
  <div class="slideBox slideBox1">
      <div class="slidewrap">
        <div class="slide">
          <div class="bd">
            <div class="slideobj">
            {#myad title="二手车_模板二_电脑端_广告一" type="slide"#}
            </div>
          </div>
          <div class="hd"><ul></ul></div>
          <a href="javascript:;" class="prev"></a>
          <a href="javascript:;" class="next"></a>
        </div>
      </div>
  </div>
  <div class="wrap wrap1 fn-clear">
    <div class="wrap1_left">
      <h2 class="wrap1_tit">{#$langData['car'][6][88]#}</h2> {#*我要买车 *#}
      <div class="left_con">
        <!--品牌 s-->
        <div class="car-brand">
          <ul class="fn-clear">
              {#car action="type" return='type' pageSize=7 #}
              <li><a href="{#$type.url#}" target="_blank">
                  <span class="brand_icon"><img src="{#$type.iconturl|default: '/static/images/type_default.png'#}" alt=""></span>
                  <span class="bread_text">{#$type.typename#}</span>
              </a></li>
              {#/car#}
              <li class="all_li">
                <a href="{#getUrlPath service='car' template='list'#}">
                  <span class="brand_icon"><img src="{#$templets_skin#}images/all-icon.png" alt=""></span>
                  <span class="bread_text">{#$langData['car'][8][75]#}</span> {#*查看全部 *#}
                </a>
              </li>
          </ul>
        </div>
        <!--品牌 e-->
        <!--价格 s-->
        <div class="car-price">
          <ul class="fn-clear">
              <li><a href="{#getUrlPath service='car' template='list'#}?price=,3">3万以下</a></li>{#*3万以下 *#}
              <li><a href="{#getUrlPath service='car' template='list'#}?price=3,5">3-5万</a></li>{#*3-5万 *#}
              <li><a href="{#getUrlPath service='car' template='list'#}?price=5,8">5-8万</a></li>{#*5-8万 *#}
              <li><a href="{#getUrlPath service='car' template='list'#}?price=8,10">8-10万</a></li>{#*8-10万 *#}
              <li><a href="{#getUrlPath service='car' template='list'#}?price=10,15">10-15万</a></li>{#*10-15万 *#}
              <li><a href="{#getUrlPath service='car' template='list'#}?price=15,20">15-20万</a></li>{#*15-20万 *#}
              <li><a href="{#getUrlPath service='car' template='list'#}?price=20,30">20-30万</a></li>{#*20-30万 *#}
              <li><a href="{#getUrlPath service='car' template='list'#}?price=30,50">30-50万</a></li>{#*30-50万 *#}
          </ul>
        </div>
        <!--价格 e-->
        <!--车型 s-->
        <div class="car-type">
          <ul class="fn-clear">
              {#car action="levelType" return='type' pageSize=8#}
              <li><a href="{#getUrlPath service='car' template='list'
                    param="level={#$type.id#}" #}">
                  <span class="brand_icon"><img src="{#$type.iconturl#}" alt=""></span>
                  <span class="bread_text">{#$type.typename#}</span>
              </a></li>
              {#/car#}
          </ul>
        </div>
        <!--车型 e-->
      </div>


    </div>
    <div class="wrap1_right">
      <h2 class="wrap1_tit">{#$langData['car'][6][89]#}</h2>  {#*我要卖车 *#}
      <div class="right_con">
        <form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=car&action=putEnturst">
          <div class="type">
            <div class="input_div">
              <input type="text" id="type" placeholder="{#$langData['car'][5][26]#}" disabled="disabled">{#*请选择车型 *#}
              <i></i>
            </div>

            <div class="aside block-brand">
              <div class="aside-main">
                <h3 class="tt" id='jump-li-hot'>{#$langData['car'][8][31]#}</h3>{#*热门 *#}
                <ul class="list-brand fn-clear list-hot">
                    {#car action="type" return='type' hot="1" pageSize=10 #}
                    <li data-id="{#$type.id#}">{#$type.typename#}</li>
                    {#/car#}
                </ul>
                {#$firstword=''#}
                {#car action="typeList" return='type' son="1" orderby="3" pageSize=9999 #}
                {#if $firstword==$type.firstword #}
                <li data-id="{#$type.id#}">{#$type.typename#}</li>
                {#else#}
                    </ul>
                    {#$firstword=$type.firstword#}
                    <h3 id="jump-li-{#$type.firstword#}">{#$type.firstword#}</h3>
                    <ul class="list-line list-line-logo">
                        <li data-id="{#$type.id#}">{#$type.typename#}</li>
                {#/if#}
                {#/car#}
              </div>
              <div class="jump-tag szm navbar">
                  <ul class="jump-ul">
                      <li class="jump-li"><a href="javascript:;" data-id="jump-li-hot">{#$langData['car'][8][8]#}</a></li> {#*热 *#}
                      {#$firstword=''#}
                      {#car action="typeList" return='type' son="1" orderby="3" pageSize=9999 #}
                      {#if $firstword==$type.firstword #}

                      {#else#}
                          {#$firstword=$type.firstword#}
                          <li class="jump-li"><a href="javascript:;" data-id="jump-li-{#$type.firstword#}">{#$type.firstword#}</a></li>
                      {#/if#}
                      {#/car#}
                  </ul>
              </div>

            </div>
          </div>
          <input type="hidden" name="brand" id="brand">
          <input type="hidden" name="areaCode" id="areaCode" value="{#$internationalPhoneSection[0]['code']#}">
          <div class="phone">
            <div class="inpbdr">
              <span class="areaCode"><i>+{#$internationalPhoneSection[0]['code']#}</i><s></s></span>
              <input type="text" name="phone" id="phone" placeholder="{#$langData['car'][5][27]#}">{#*请输入手机号码 *#}
            </div>             
            <div class="areaCode_wrap areaCode_wrap2">
              <ul>
                
              </ul>
            </div>
            
          </div>
          <div class="submit">
            <a href="javascript:;" class="sell_car"><span>{#$langData['car'][5][22]#}</span></a> {#*一键委托卖车 *#}
            <a href="{#getUrlPath service='member' type='user' template='fabu-car'#}" class="per_car">
              <span class="per">{#$langData['car'][8][33]#}</span>  {#*个人车主发布 *#}
              <span class="per-tip">{#$langData['car'][5][24]#}</span>  {#*需填写车辆信息 *#}
            </a>
          </div>

        </form>
      </div>
    </div>
  </div>

  <!-- 广告位 s -->
  <div class="wrap ad-con ad-con1 ">
    {#myad title="二手车_模板二_电脑端_广告二"#}
  </div>
  <!-- 广告位 e -->
</div>

<div class="mainbox2">
  <div class="wrap wrap2">
    <!-- 推荐车型 s-->
    <div class="com_type fn-clear">
      <div class="wrap2_l left1">
        <h1 class="left_h1">{#$langData['car'][0][8]#}</h1>  {#*推荐车型 *#}
        <p class="left_p">{#$langData['car'][8][76]#}</p>  {#*精心为您挑选的好车 *#}
        <a href="{#getUrlPath service='car' template='list'#}" class="see_more">{#$langData['car'][8][77]#} ></a>  {#*查看更多 *#}
      </div>
      <div class="wrap2_r">
        <ul class="fn-clear">
          {#car action="car" return="list" flags="0" orderby="1" pageSize="4"#}
          <li>
            <a href="{#$list.url#}" target="_blank">
              <div class="icon_img">
                {#if strstr($list.flag, '2')#}<span class="new"> </span>{#/if#} {#if strstr($list.flag, '1')#}<span class="z_new"> </span>{#/if#}
              </div>
              <div class="icon_img2">{#if strstr($list.flag, '4')#}<span class="hot_tag"></span>{#/if#} </div>
              <div class="top_img"><img src="{#$list.litpic#}" alt=""></div>
              <div class="car_info">
                <h3 class="car_name">{#$list.title#}</h3>
                {#* 年 *#}{#*万公里 *#}
                <p class="by_time">
                  <span>{#$list.cardtime|date_format:'%Y'#}{#$langData['car'][6][55]#}</span><em>|</em><span>{#$list.mileage#}{#$langData['car'][6][21]#}<em>|</em>{#if $list.usertype==1#}{#$langData['car'][6][66]#}{#else#}{#$langData['car'][6][67]#}{#/if#}</span>
                </p>
                {#* 万 *#}{#*首付 *#}
                <p class="car_price"><span>{#$list.price#}{#$langData['car'][6][20]#}</span>{#if $list.sf#}<em>{#$langData['car'][6][68]#}{#$list.sf#}{#$langData['car'][6][20]#}</em>{#/if#}</p>
              </div>
            </a>
          </li>
          {#/car#}
        </ul>
      </div>
    </div>
    <!-- 推荐车型 e-->
    <!-- 最新发布 s-->
    <div class="com_type new_type fn-clear">
      <div class="wrap2_l left2">
        <h1 class="left_h1">{#$langData['car'][0][9]#}</h1>  {#*最新发布 *#}
        <p class="left_p">{#$langData['car'][8][76]#}</p>  {#*精心为您挑选的好车 *#}
        <a href="{#getUrlPath service='car' template='list'#}" class="see_more">{#$langData['car'][8][77]#} ></a>  {#*查看更多 *#}
      </div>
      <div class="wrap2_r">
        <ul class="fn-clear">
          {#car action="car" return="list" orderby="1" pageSize="4"#}
          <li>
            <a href="{#$list.url#}" target="_blank">
              <!--新车 准新车 急售 s-->
              <div class="icon_img">
                {#if strstr($list.flag, '2')#}<span class="new"> </span>{#/if#} {#if strstr($list.flag, '1')#}<span class="z_new"> </span>{#/if#}
              </div>
              <div class="icon_img2">{#if strstr($list.flag, '4')#}<span class="hot_tag"></span>{#/if#} </div>
              <div class="top_img"><img src="{#$list.litpic#}" alt=""></div>
              <div class="car_info">
                <h3 class="car_name">{#$list.title#}</h3>
                {#* 年 *#}{#*万公里 *#}
                <p class="by_time">
                  <span>{#$list.cardtime|date_format:'%Y'#}{#$langData['car'][6][55]#}</span><em>|</em><span>{#$list.mileage#}{#$langData['car'][6][21]#}<em>|</em>{#if $list.usertype==1#}{#$langData['car'][6][66]#}{#else#}{#$langData['car'][6][67]#}{#/if#}</span>
                </p>
                {#* 万 *#}{#*首付 *#}
                <p class="car_price"><span>{#$list.price#}{#$langData['car'][6][20]#}</span>{#if $list.sf#}<em>{#$langData['car'][6][68]#}{#$list.sf#}{#$langData['car'][6][20]#}</em>{#/if#}</p>
              </div>
            </a>
          </li>
          {#/car#}
        </ul>
      </div>
    </div>
    <!-- 最新发布 e-->
    <!-- 热销车型 s-->
    <div class="com_type hot_type fn-clear">
      <div class="wrap2_l left3">
        <h1 class="left_h1">{#$langData['car'][0][10]#}</h1>  {#*热销车型 *#}
        <p class="left_p">{#$langData['car'][8][76]#}</p>  {#*精心为您挑选的好车 *#}
        <a href="{#getUrlPath service='car' template='list'#}" class="see_more">{#$langData['car'][8][77]#} ></a>  {#*查看更多 *#}
      </div>
      <div class="wrap2_r">
        <ul class="fn-clear">
          {#car action="car" return="list" flags="3" orderby="1" pageSize="4"#}
          <li>
            <a href="{#$list.url#}" target="_blank">
              <div class="icon_img">
                {#if strstr($list.flag, '2')#}<span class="new"> </span>{#/if#} {#if strstr($list.flag, '1')#}<span class="z_new"> </span>{#/if#}
              </div>
              <div class="icon_img2">{#if strstr($list.flag, '4')#}<span class="hot_tag"></span>{#/if#} </div>
              <div class="top_img"><img src="{#$list.litpic#}" alt=""></div>
              <div class="car_info">
                <h3 class="car_name">{#$list.title#}</h3>
                {#* 年 *#}{#*万公里 *#}
                <p class="by_time">
                  <span>{#$list.cardtime|date_format:'%Y'#}{#$langData['car'][6][55]#}</span><em>|</em><span>{#$list.mileage#}{#$langData['car'][6][21]#}<em>|</em>{#if $list.usertype==1#}{#$langData['car'][6][66]#}{#else#}{#$langData['car'][6][67]#}{#/if#}</span>
                </p>
                {#* 万 *#}{#*首付 *#}
                <p class="car_price"><span>{#$list.price#}{#$langData['car'][6][20]#}</span>{#if $list.sf#}<em>{#$langData['car'][6][68]#}{#$list.sf#}{#$langData['car'][6][20]#}</em>{#/if#}</p>
              </div>
            </a>
          </li>
          {#/car#}
        </ul>
      </div>
    </div>
    <!-- 热销车型 e-->
    <!-- 广告位 s -->
    <div class="wrap ad-con ad-con2 ">
      {#myad title="二手车_模板二_电脑端_广告三"#}
    </div>
    <!-- 广告位 e -->
  </div>
</div>

<div class="mainbox3">
  <div class="wrap wrap3">
    <h1 class="h1_tit">{#$langData['car'][0][5]#}</h1>  {#*线下门店 诚信保障 *#}
    <h2 class="h2_tit">{#$langData['car'][8][78]#}</h2>  {#*专业人员全程跟进*#}
    <ul class="fn-clear">
      {#car action="storeList" return="list" orderby="1" pageSize="8"#}
      <li><a href="{#$list.url#}" target="_blank">
          <div class="imgbox"><img src="{#$list.logo#}" alt=""><span>{#$list.addrName[$list.addrName|count-2]#}</span></div>
          <h4 class="h4_tit">{#$list.title#}</h4>
          <p class="num">{#$langData['car'][6][91]#}: {#$list.salenums|default:0#}{#$langData['car'][6][82]#}</p>
      </a></li>
      {#/car#}
    </ul>
    <div class="s_more"><a href="{#getUrlPath service='car' template='store'#}">{#$langData['car'][8][77]#}<s></s></a></div>{#*查看更多 *#}
  </div>
</div>

<div class="mainbox4">
  <div class="wrap wrap4">
    <h1 class="h1_tit">{#$langData['car'][0][3]#}</h1>  {#*个人好车 精选车源 *#}
    <h2 class="h2_tit">{#$langData['car'][8][79]#}</h2>  {#*省去中间商赚差价 *#}
    <ul class="fn-clear">
      {#car action="car" return="list" usertype="0" orderby="1" pageSize="8"#}
      <li>
        <a href="{#$list.url#}" target="_blank">
          <!--新车 准新车 急售 s-->
          <div class="icon_img">
            {#if strstr($list.flag, '2')#}<span class="new"> </span>{#/if#} {#if strstr($list.flag, '1')#}<span class="z_new"> </span>{#/if#}
          </div>
          <div class="icon_img2">{#if strstr($list.flag, '4')#}<span class="hot_tag"></span>{#/if#} </div>


          <div class="top_img"><img src="{#$list.litpic#}" alt=""></div>
          <div class="car_info">
            <h3 class="car_name">{#$list.title#}</h3>
            {#* 年 *#}{#*万公里 *#}
            <p class="by_time">
              <span>{#$list.cardtime|date_format:'%Y'#}{#$langData['car'][6][55]#}</span><em>|</em><span>{#$list.mileage#}{#$langData['car'][6][21]#}</span>
            </p>
            {#* 万 *#}{#*首付 *#}
            <p class="car_price"><span>{#$list.price#}{#$langData['car'][6][20]#}</span>{#if $list.sf#}<em>{#$langData['car'][6][68]#}{#$list.sf#}{#$langData['car'][6][20]#}</em>{#/if#}</p>
          </div>
        </a>
      </li>
      {#/car#}
    </ul>
    <div class="s_more"><a href="{#getUrlPath service='car' template='list'#}">{#$langData['car'][8][77]#}<s></s></a></div>{#*查看更多 *#}
  </div>
</div>

<div class="mainbox5">
  <div class="wrap wrap5 fn-clear">
    <h1 class="h1_tit">{#$langData['car'][8][80]#}</h1>  {#* 相关资讯 *#}
    <h2 class="h2_tit">{#$langData['car'][8][81]#}</h2>  {#* 了解相关资讯，洞悉汽车行情 *#}
    <div class="fir_l_top">
        <div class=" slideBox" id="slideBox">
            <div class="bd"><ul>{#myad title="二手车_模板二_电脑端_广告四" type="slide"#}</ul></div>
            <div class="hd"><ul></ul></div>

            <a href="javascript:;" class="prev"></a>
            <a href="javascript:;" class="next"></a>
        </div>

    </div>
    <div class="adv_r">
        <ul>
          {#car action="news" return="list" pageSize="2"#}
            <li><a href="{#$list.url#}"><div class="adv_img"><img src="{#$list.litpic#}" alt=""></div>
              <p class="adv_p">{#$list.title#}</p></a></li>
          {#/car#}
        </ul>
    </div>
    <div class="con_r">
      <ul>
        {#car action="news" return="newslist" orderby="1" pageSize="7"#}
        <li><a href="{#getUrlPath service='car' template='news-detail' id=$newslist.id#}"><em>•</em>{#$newslist.title#}</a></li>
        {#/car#}
      </ul>
    </div>

  </div>
  <div class="wrap">
    <div class="s_more"><a href="{#getUrlPath service='car' template='news'#}">{#$langData['car'][8][77]#}<s></s></a></div>{#*查看更多 *#}
  </div>


</div>

<!--预约成功弹窗 s-->
<div class="order_success">
  <div class="suc_container">
    <img src="{#$templets_skin#}images/close_alert.png" alt="" class="close_alert">
    <img src="{#$templets_skin#}images/suc.png" alt="" class="suc_img">
    <p class="t1">{#$langData['car'][8][36]#}</p>    {#* 恭喜您，提交成功  *#}
    <p class="t2">{#$langData['car'][8][37]#}</p>    {#* 我们会尽快与您联系 *#}
    <p class="t3">{#$langData['car'][8][35]#}</p>    {#* 我知道了 *#}
  </div>
</div>
<!--预约成功弹窗 e-->



<!--底部-->
{#include file="bottom.html"#}

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.qrcode.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/index.js?v={#$cfg_staticVersion#}"></script>

</body>
</html>
