        <div class="list_r">
            <div class="adv_r">    
                {#myad title="二手车列表_模板二_电脑端_广告二"#}
            </div>
            
            <div class="listr_con {#if $pageCurr2 == "store-list"#}fn-hide{#/if#}">
                <h2 class="newr_tit">{#$langData['car'][8][100]#}</h2> {#*热门经销商 *#}
                <ul class="fn-clear">
                  {#car action="storeList" return="list" orderby="1" pageSize="3"#}
                  <li><a href="{#$list.url#}" target="_blank">
                      <div class="imgbox"><img src="{#$list.logo#}" alt=""><span>{#$list.addrName[$list.addrName|count-2]#}</span></div>
                      <div class="r_info">
                            <h4 class="h4_tit">{#$list.title#}</h4>
                            <p class="num">{#$langData['car'][6][91]#}: {#$list.salenums|default:0#}{#$langData['car'][6][82]#}</p>
                      </div>
                      
                  </a></li>
                  {#/car#}
                </ul>
            </div>
            
            <div class="listr_con1">
                <h2 class="newr_tit">{#$langData['car'][8][101]#}</h2> {#*为您推荐 *#}
                <ul class="fn-clear">
                  {#car action="car" return="list" orderby="1" pageSize="3"#}
                    <li>
                        <a href="{#$list.url#}" target="_blank">
                            <!--新车 准新车 急售 s-->
                          <div class="icon_img">
                            {#if strstr($list.flag, '2')#}<span class="new"> </span>{#/if#} {#if strstr($list.flag, '1')#}<span class="z_new"> </span>{#/if#}
                          </div>
                          <div class="icon_img2">{#if strstr($list.flag, '4')#}<span class="hot_tag"></span>{#/if#} </div>
                          <!--新车 准新车 急售 e-->

                          <div class="top_img"><img src="{#$list.litpic#}" alt=""></div>
                          <div class="car_info">
                            <h3 class="car_name">{#$list.title#}</h3>
                            {#* 年 *#}{#*万公里 *#}
                            <p class="by_time">
                              <span>{#$list.cardtime|date_format:'%Y'#}{#$langData['car'][6][55]#}</span><em>|</em><span>{#$list.mileage#}{#$langData['car'][6][21]#}</span>
                            </p>
                            {#* 万 *#}{#*首付 *#}
                            <p class="car_price"><span>{#$list.price#}{#$langData['car'][6][20]#}</span>{#if $list.sf#}<em>{#$langData['car'][6][68]#}{#$list.sf#}{#$langData['car'][6][20]#}</em>{#/if#}</p>
                          </div>
                        </a>
                      </li>
                    {#/car#}
                </ul>
            </div>
            <div class="adv_r">    
                {#myad title="二手车列表_模板二_电脑端_广告三"#}
            </div>

        </div>