<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$langData['car'][5][52]#}</title>            {#* 汽车资讯 *#}
    <meta name="keywords" content="{#$car_keywords#}" />
    <meta name="description" content="{#$car_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/news.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$car_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
        var hideFileUrl = {#$cfg_hideUrl#};
        var subpage = 1,pageSize = 4;
        var cookiePre = '{#$cfg_cookiePre#}', numArr = [];
    </script>
</head>

<body class="w1200">
{#$pageCurr = "news"#}
{#include file="../../siteConfig/top1.html"#}
<!-- 导航 s-->
{#include file="top.html"#}
<!-- 导航 e-->

<div class="main_wrap">
    <div class="wrap crumbs fn-clear">
        <div class="cont">
            <a href="{#$car_channelDomain#}">{#$car_channelName#}</a>
            <span>></span>
            {#$langData['car'][5][52]#}  {#* 汽车资讯 *#}
        </div>
    </div>
    <div class="wrap news_wrap fn-clear">
        <div class="news_left fn-left">
            <div id="slideBox3" class="slideBox">
                <div class="bd">
                    <ul>{#myad title="二手车资讯列表_模板二_电脑端_广告一" type="slide"#}</ul>
                
                </div>

                <!-- 前/后按钮 -->
                <a class="prev" href="javascript:void(0)"></a>
                <a class="next" href="javascript:void(0)"></a>

            </div>
            <div class="new_container">
                <div class="news_tab">
                    <ul class="fn-clear">
                        <li data-id="0" class="active"><span>{#$langData['car'][6][78]#}</span></li>{#*全部文章*#}
                        {#car action="newsType" return="type"#}
                        <li data-id="{#$type.id#}"><span>{#$type.typename#}</span></li>
                        {#/car#}
                    </ul>
                </div>
                <div class="list">
                    <ul class="news-list">
                        
                    </ul>
                    <div class=" pagination fn-clear"></div>
                </div>
            </div>

        </div>

        <div class="news_right fn-right">
            <h2 class="newr_tit">{#$langData['car'][8][25]#}</h2>  {#*热门资讯 *#}
            {#car action="news" return="list" pageSize="10"#}
            <li class="fn-clear">
                {#if $list.litpic#}
                <div class="img-box">
                    <a href="{#$list.url#}" target="_blank"><img src="{#$list.litpic#}" alt=""></a></div>
                    {#/if#}
                <div class="info">
                    <h4 class="h4_tit"><a href="{#$list.url#}" target="_blank">{#$list.title#}</a></h4>
                    <p class="see-info">  <span class="see-num"><i></i>{#$list.click#}</span> <span class="pubday"><i></i>{#$list.floortime#}</span></p> 
                </div>
            </li>
            {#/car#}
        </div>
    </div>

</div>
{#include file="bottom.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/news.js?v={#$cfg_staticVersion#}"></script>

</body>
</html>
