<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$langData['car'][6][89]#}</title>  {#*我要卖车 *#}
    <meta name="keywords" content="{#$car_keywords#}" />
    <meta name="description" content="{#$car_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/sell_list.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$car_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
        var hideFileUrl = {#$cfg_hideUrl#};
        var cookiePre = '{#$cfg_cookiePre#}', numArr = [];
    </script>
</head>

<body class="w1200">
{#$pageCurr = "sell"#}
{#include file="../../siteConfig/top1.html"#}
<!-- 导航 s-->
{#include file="top.html"#}
<!-- 导航 e-->

<!-- 导航 e-->
<div class="main_wrap">

	<!-- 列表 s-->
	<div class="wrap sell_wrap fn-clear">
        <div class="sell_con  fn-left">
            <h1>{#$langData['car'][8][30]#} </h1>  {#*委托经销商 省心又高价 *#}
            <h2 class="tip">10000+{#$langData['car'][8][94]#}</h2>{#*用户选择 *#}
            <ul class="fn-clear">
                {#*渠道多，曝光高 *#}
                <li><div class="sell_icon"><img src="{#$templets_skin#}images/sell1.png" alt=""></div><p>{#$langData['car'][8][26]#}</p></li>

                {#*全程服务0费用 *#}
                <li><div class="sell_icon"><img src="{#$templets_skin#}images/sell2.png" alt=""></div><p>{#$langData['car'][8][27]#}</p></li>

                {#*最快24小时出售 *#}
                <li><div class="sell_icon"><img src="{#$templets_skin#}images/sell3.png" alt=""></div><p>{#$langData['car'][8][28]#}</p></li>

                {#*1对1省心服务 *#}
                <li><div class="sell_icon"><img src="{#$templets_skin#}images/sell4.png" alt=""></div><p>{#$langData['car'][8][29]#}</p></li>
            </ul>
        </div>
        <div class="right_con fn-right">
            <form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=car&action=putEnturst">
                {#car action="putEnturstcout" return='res'  #}
                <div class="value">{#$res[0].count_num#}</div>
                {#/car#}
                <p class="r_tip">{#$langData['car'][8][32]#}</p> {#*车主提交了卖车申请 *#}
                <div class="type">
                    <div class="input_div">
                      <input type="text" id="type" placeholder="{#$langData['car'][5][26]#}" disabled="disabled" value="">{#*请选择车型 *#}
                      <i></i>
                    </div>

                    <div class="aside block-brand">
                      <div class="aside-main">
                        <h3 class="tt" id='jump-li-hot'>{#$langData['car'][8][31]#}</h3>{#*热门 *#}
                        <ul class="list-brand fn-clear list-hot">
                            {#car action="type" return='type' hot="1" pageSize=10 #}
                            <li data-id="{#$type.id#}">{#$type.typename#}</li>
                            {#/car#}
                        </ul>
                        {#$firstword=''#}
                        {#car action="typeList" return='type' son="1" orderby="3" pageSize=9999 #}
                        {#if $firstword==$type.firstword #}
                        <li data-id="{#$type.id#}">{#$type.typename#}</li>
                        {#else#}
                            </ul>
                            {#$firstword=$type.firstword#}
                            <h3 id="jump-li-{#$type.firstword#}">{#$type.firstword#}</h3>
                            <ul class="list-line list-line-logo">
                                <li data-id="{#$type.id#}">{#$type.typename#}</li>
                        {#/if#}
                        {#/car#}
                      </div>
                      <div class="jump-tag szm navbar">
                          <ul class="jump-ul">
                              <li class="jump-li"><a href="javascript:;" data-id="jump-li-hot">热</a></li>
                              {#$firstword=''#}
                              {#car action="typeList" return='type' son="1" orderby="3" pageSize=9999 #}
                              {#if $firstword==$type.firstword #}

                              {#else#}
                                  {#$firstword=$type.firstword#}
                                  <li class="jump-li"><a href="javascript:;" data-id="jump-li-{#$type.firstword#}">{#$type.firstword#}</a></li>
                              {#/if#}
                              {#/car#}
                          </ul>
                      </div>

                    </div>
                  </div>
                  <input type="hidden" name="brand" id="brand">
                  <input type="hidden" name="areaCode" id="areaCode" value="{#$internationalPhoneSection[0]['code']#}">
                  <div class="phone">
                    <div class="inpbdr">
                      <span class="areaCode"><i>+{#$internationalPhoneSection[0]['code']#}</i><s></s></span>
                      <input type="text" name="phone" id="phone" placeholder="{#$langData['car'][5][27]#}">{#*请输入手机号码 *#}
                    </div>             
                    <div class="areaCode_wrap areaCode_wrap2">
                      <ul>
                        
                      </ul>
                    </div>
                    
                  </div>

                  <div class="submit">
                    <a href="javascript:;" class="sell_car"><span>{#$langData['car'][5][22]#}</span></a> {#*一键委托卖车 *#}
                    <a href="{#getUrlPath service='member' type='user' template='fabu-car'#}" class="per_car">
                      <span class="per">{#$langData['car'][8][33]#}</span>  {#*个人车主发布 *#}
                      <span class="per-tip">{#$langData['car'][5][24]#}</span>  {#*需填写车辆信息 *#}
                    </a>
                  </div>

                </form>
        </div>
	</div>
	<!-- 列表 e-->
</div>
<!--预约成功弹窗 s-->
<div class="order_success">
  <div class="suc_container">
    <img src="{#$templets_skin#}images/close_alert.png" alt="" class="close_alert">
    <img src="{#$templets_skin#}images/suc.png" alt="" class="suc_img">
    <p class="t1">{#$langData['car'][8][36]#}</p>    {#* 恭喜您，提交成功  *#}
    <p class="t2">{#$langData['car'][8][37]#}</p>    {#* 我们会尽快与您联系 *#}
    <p class="t3">{#$langData['car'][8][35]#}</p>    {#* 我知道了 *#}
  </div>
</div>
<!--预约成功弹窗 e-->
{#include file="bottom.html"#}

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/jquery.leoTextAnimate.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/sell_list.js?v={#$cfg_staticVersion#}"></script>


</body>
</html>
