<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$detail_title#}-{#$car_channelName#}</title>
    <meta name="keywords" content="{#$car_keywords#}" />
    <meta name="description" content="{#$car_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/detail.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$car_channelDomain#}', staticPath = '{#$cfg_staticPath#}',templets_skin = '{#$templets_skin#}';
        var hideFileUrl = {#$cfg_hideUrl#};
        var cookiePre = '{#$cfg_cookiePre#}', id = '{#$detail_id#}';
        var imconfig = {
            'mod':'car',
            'chatid':"{#$detail_userid#}",
        }
        var pageData = {
            title: '{#$detail_title#}',
            address: '{#$detail_address#}',
            lat: '{#$detail_lat#}',
            lng: '{#$detail_lng#}',
            mapType: '{#$site_map#}',
            cityName: '{#$siteCityInfo['name']#}',
            mapKey: '{#$site_map_key#}'
        };
        var eduData = {
            id: '{#$detail_id#}',
            title: '{#$detail_title#}'
        };
    </script>
</head>

<body class="w1200">
{#$pageCurr = "store"#}
{#include file="../../siteConfig/top1.html"#}
<!-- 导航 s-->
{#include file="top.html"#}
<!-- 导航 e-->

<!-- 导航 e-->
<div class="main_wrap">
    <div class="wrap crumbs fn-clear">
        <div class="cont">
            <a href="{#$car_channelDomain#}">{#$car_channelName#}</a>
            <span>></span>
            <a href="{#getUrlPath service='car' template='store'#}">{#$langData['car'][5][54]#}</a>  {#* 线下门店 *#}
            <span>></span>
            {#$detail_title#}
        </div>
    </div>

    <!--详情头部 s-->
    <div class="wrap det_wrap fn-clear">
        <div class="det_left fn-left">
            <div class="det_top  fn-clear">
                <div class="left_img"><img src="{#$detail_litpic#}" alt=""></div>
                <div class="det_info">
                    <h2 class="det_tit">
                        {#$detail_title#}
                                {#if $detail_licenseState==1#}
                                    <i class="icon_ying" title="{#if $val=='ying'#}{#$langData['car'][8][96]#}{#/if#}"></i>{#* 营业执照认证 *#} {#* 保障金 *#}
                                {#elseif $detail_promotion>0#}
                                    <i class="icon_bao" title="{#if $val=='bao'#}{#$langData['car'][8][97]#}{#/if#}"></i>
                                {#else#}
                                    <i class="icon_ying" title="{#$langData['car'][8][96]#}"></i>
                                    <i class="icon_bao" title="{#$langData['car'][8][97]#}"></i>
                                {#/if#}

                    </h2>
                    <div class="btn_group ">
                        {#* 已收藏 *#}   {#* 收藏 *#}
                        <a href="javascript:;" class="store-btn{#if $detail_collect#} curr{#/if#}"><button><em></em><span>{#if $detail_collect#}{#$langData['car'][5][36]#}{#else#}{#$langData['car'][5][35]#}{#/if#}</button></a>

                        <span class="contact chat_to-Link" data-type="user"><img src="{#$templets_skin#}images/contact.png" alt=""></span>
                    </div>
                </div>

            </div>
            <div class="det_mid">
                {#*营业时间 *#}
                <p class="tim"><i></i>{#$langData['car'][1][6]#}：{#$detail_opentime#}</p>

                {#*店铺在售 *#}{#*已售 *#}
                <p class="num"><i></i>{#$langData['car'][1][4]#}：{#$detail_salenums|default:'0'#}{#$langData['car'][6][82]#}<em>|</em>{#$langData['car'][1][5]#}：{#$detail_soldnums|default:'0'#}{#$langData['car'][6][82]#}</p>

                {#*门店地址 查看地图 *#}
                <p class="adr"><i></i>{#$langData['car'][8][9]#}：<span class="adr_span">{#$detail_address#}</span> <a href="javascript:;" class="adr_a appMapBtn" target="_blank">{#$langData['car'][8][11]#}</a></p>

                {#*业务范围 *#}
                {#if $detail_tagArr#}
                <div class="service-box">
                    <i class="se_i"></i>{#$langData['car'][8][10]#}：
                    <ul class="service fn-clear">
                        {#foreach from=$detail_tagArr key=k item=val#}
                        <li class="{#$val.py#}"><i></i>{#$val.val#}</li>
                        {#/foreach#}
                    </ul>
                </div>
                {#/if#}
            </div>


            <ul class="det_ul fn-clear">
                <li class="l_phone l_phone2">
                    <i></i>

                    <span class="seePhone seePhone3" >{#$langData['car'][8][19]#}</span>       {#* 点击查看联系方式 *#}
                </li>
                <li class="l_phone l_phone3" style="display: none">
                    <i></i>
                    <span class="seePhone seePhone2" >{#$detail_tel#}</span>
                </li>

                <!-- <li class="order"><i></i>{#$langData['car'][1][8]#}</li>  {#* 预约到店 *#} -->

            </ul>
        </div>
        <div class="det_right fn-right">
            <div id="slideBox" class="slideBox">
                <div class="hd">
                   <span class="pageState"></span>
                </div>
                <div class="bd">
                    <ul>
                        {#foreach from=$detail_pics item=val#}
                        <li><img src="{#$val.pic#}" /></li>
                        {#/foreach#}
                    </ul>
                </div>

                <!-- 前/后按钮 -->
                <a class="prev" href="javascript:void(0)"></a>
                <a class="next" href="javascript:void(0)"></a>

            </div>
        </div>
    </div>
    <!--详情头部 e-->

</div>

<!-- 列表 s-->
<div class="wrap class_wrap fn-clear">

    <!-- 列表左 s-->
    <div class="list_left">
        {#if $detail_newestnum!=''#}
        <h2 class="list-tit">{#$langData['car'][1][9]#}</h2>{#*上新必看 *#}
        <ul class="list_ul fn-clear">
            {#car action="car" return="list2" store=$detail_id newlist= "1" orderby="1" pageSize="5"#}
            <li class="list_li fn-clear">

                <a href="{#$list2.url#}" target="_blank">
                    <!--新车 准新车 急售 s-->
                  <div class="icon_img">
                    {#if strstr($list2.flag, '2')#}<span class="new"> </span>{#/if#} {#if strstr($list2.flag, '1')#}<span class="z_new"> </span>{#/if#}
                  </div>
                  <div class="icon_img2">{#if strstr($list2.flag, '4')#}<span class="hot_tag"></span>{#/if#} </div>
                  <!--新车 准新车 急售 e-->

                  <div class="top_img"><img src="{#$list2.litpic#}" alt=""></div>
                  <div class="car_info">
                    <h3 class="car_name" data-num="20">{#$list2.title#}</h3>
                    {#* 年 *#}{#*万公里 *#}
                    <p class="by_time">
                      <span>{#$list2.cardtime|date_format:'%Y'#}{#$langData['car'][6][55]#}</span><em>|</em><span>{#$list2.mileage#}{#$langData['car'][6][21]#}</span>
                    </p>
                    <p class="car_price"><span>{#$list2.price#}{#$langData['car'][6][20]#}</span>{#if $list2.sf#}<em>{#$langData['car'][6][68]#}{#$list2.sf#}{#$langData['car'][6][20]#}</em>{#/if#}</p> {#* 首付   万 *#}
                  </div>
                </a>

              </li>
            {#/car#}
        </ul>
        {#/if#}
        <h2 class="list-tit">{#$langData['car'][1][10]#}</h2>{#*店长推荐 *#}

        <ul class="list_ul fn-clear">
            {#car action="car" return="list2" store=$detail_id  flags="0" orderby="1" pageSize="4"#}
            <li class="list_li fn-clear">

                <a href="{#$list2.url#}" target="_blank">
                    <!--新车 准新车 急售 s-->
                  <div class="icon_img">
                    {#if strstr($list2.flag, '2')#}<span class="new"> </span>{#/if#} {#if strstr($list2.flag, '1')#}<span class="z_new"> </span>{#/if#}
                  </div>
                  <div class="icon_img2">{#if strstr($list2.flag, '4')#}<span class="hot_tag"></span>{#/if#} </div>
                  <!--新车 准新车 急售 e-->

                  <div class="top_img"><img src="{#$list2.litpic#}" alt=""></div>
                  <div class="car_info">
                    <h3 class="car_name">{#$list2.title#}</h3>
                    {#* 年 *#}{#*万公里 *#}
                    <p class="by_time">
                      <span>{#$list2.cardtime|date_format:'%Y'#}{#$langData['car'][6][55]#}</span><em>|</em><span>{#$list2.mileage#}{#$langData['car'][6][21]#}</span>
                    </p>
                    <p class="car_price"><span>{#$list2.price#}{#$langData['car'][6][20]#}</span>{#if $list2.sf#}<em>{#$langData['car'][6][68]#}{#$list2.sf#}{#$langData['car'][6][20]#}</em>{#/if#}</p> {#* 首付   万 *#}
                  </div>
                </a>

              </li>
            {#/car#}

        </ul>
        <div class="s_more"><a href="{#getUrlPath service='car' template='store-list' id=$detail_id#}">{#$langData['car'][8][12]#}<s></s></a></div>{#*查看全部车源 *#}

        <h2 class="list-tit spe-tit">{#$langData['car'][1][11]#}</h2>{#*售车顾问 *#}
        <ul class="adviser-list">
            {#car action="adviserList" return="list" comid=$detail_id orderby="1" pageSize="199"#}
            <li class="fn-clear"><a href="javascript:;" target="_blank">
                <div class="user-img"><img src="{#$list.litpic#}" alt=""></div>
                <div class="info">
                    <p class="name">{#$list.name#} {#if $list.quality#}<span>{#$langData['car'][4][44]#}</span>{#/if#}</p>{#*金牌顾问 *#}
                    <p class="num">{#$langData['car'][6][84]#}{#$list.click#}<em>|</em>{#$langData['car'][4][46]#}{#$list.soldnums|default:'0'#}{#$langData['car'][6][82]#}</p>
                </div>
                <span data-id="{#$list.id#}" class="tel tel2">
                    <i></i>
                    <span class="seePhone seePhone3">{#$langData['car'][8][19]#}</span>       {#* 点击查看联系方式 *#}
                </span>
                <span data-id="{#$list.id#}" class="tel tel3" style="display: none;">
                    <i></i>
                    <span class="seePhone seePhone2" >{#$list.tel#}</span>
                </span>
            </a></li>
            {#/car#}


        </ul>
    </div>
    <!-- 列表左 e-->

</div>

<!--预约弹窗 s-->
<div class="order_mask">
  <div class="order_container">
    <img src="{#$templets_skin#}images/close_alert.png" alt="" class="close_alert">

    <p class="t1">{#$langData['car'][8][13]#}</p>{#* 预约到店 *#}
    <p class="t2">{#$langData['car'][8][14]#}</p>{#* 快速预约，专属服务 *#}
    <form action="">
        <input type="text" placeholder="{#$langData['car'][8][15]#}" id="order_phone">   {#* 请输入手机号码 *#}
    </form>
    <ul class="fn-clear">
        <li class="cancel fn-left">{#$langData['car'][1][14]#}</li>           {#* 取消 *#}
        <li class="order_submit fn-right">{#$langData['car'][1][15]#}</li>      {#* 确定 *#}
    </ul>

  </div>
</div>
<!--预约弹窗 e-->
<!--预约成功弹窗 s-->
<div class="order_success">
  <div class="suc_container">
    <img src="{#$templets_skin#}images/close_alert.png" alt="" class="close_alert">
    <img src="{#$templets_skin#}images/suc.png" alt="" class="suc_img">
    <p class="t1">{#$langData['car'][8][36]#}</p>    {#* 恭喜您，提交成功  *#}
    <p class="t2">{#$langData['car'][8][37]#}</p>    {#* 我们会尽快与您联系 *#}
    <p class="t3">{#$langData['car'][8][35]#}</p>    {#* 我知道了 *#}
  </div>
</div>
<!--预约成功弹窗 e-->
<!-- 列表 e-->
{#include file="bottom.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/publicOpenMap.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/detail.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/store-detail.js?v={#$cfg_staticVersion#}"></script>

</body>
</html>
