<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$langData['car'][5][54]#}</title>  {#* 线下门店 *#}
    <meta name="keywords" content="{#$car_keywords#}" />
    <meta name="description" content="{#$car_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/list_filter.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/store.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$car_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
        var hideFileUrl = {#$cfg_hideUrl#};
        var cookiePre = '{#$cfg_cookiePre#}', numArr = [];



    </script>
</head>

<body class="w1200">
{#$pageCurr = "store"#}
{#include file="../../siteConfig/top1.html"#}
<!-- 导航 s-->
{#include file="top.html"#}
<!-- 导航 e-->
  <!-- 广告位 s -->
  <div class="wrap ad-con ad-con1 ">
    {#myad title="二手车列表_模板二_电脑端_广告一"#}
  </div>
  <!-- 广告位 e -->
<!-- 导航 e-->
<div class="main_wrap">
    <div class="wrap crumbs fn-clear">
        <div class="cont">
            <a href="{#$car_channelDomain#}">{#$car_channelName#}</a>
            <span>></span>
            {#$langData['car'][5][54]#}  {#* 线下门店 *#}
        </div>
    </div>
	<!-- 筛选 s-->
    <div class="filter_box wrap">
        <div class="filter">
            <!-- 区域 s-->
            <dl class="fn-clear" id="addr">
                <dt>{#$langData['car'][8][7]#}</dt>     {#* 区域 *#}
                <dd class="chooseClass" data-chose="quyu">
                    <a href="{#getUrlPath service='car' template='store'
                    param="firstword=$firstword&type=$typeid&chidren=$chidren&addrid=&brand=$brand&business=$business&orderby=$orderby&orderbymax=$orderbymax&flags=$flags" #}" data-id="0" {#if $addrid==''#} class="curr" {#$addridName= {#$addr.typename#}#} {#/if#} >{#$langData['car'][8][4]#}</a>      {#* 不限 *#}

                    {#car action="addr" return="addr" son="once"#}
                    <a href="{#getUrlPath service='car' template='store'
                    param="firstword=$firstword&type=$typeid&chidren=$chidren&addrid={#$addr.id#}&brand=$brand&business=$business&orderby=$orderby&orderbymax=$orderbymax&flags=$flags" #}" data-id="{#$addr.id#}" {#if $addrid=={#$addr.id#}#} class="curr" {#$addridName= {#$addr.typename#}#} {#/if#}>{#$addr.typename#}{#if $addr.lower#}{#/if#}</a>
                    {#/car#}

                    {#if $addrid != 0#}
                        <div class="subnav fn-clear" >
                            {#car action="addr" return="addr1" son="1"#}
                            {#if $addr1.lower#}
                            <div id="addr{#$addr1.id#}"  {#if $addrid=={#$addr1.id#} #} class="chooseClass active" {#/if#} data-chose="quyu_sub" >
                                <a href="{#getUrlPath service='car' template='store'
                    param="firstword=$firstword&type=$typeid&chidren=$chidren&addrid=$addrid&brand=$brandaddrid=$addrid&business=&orderby=$orderby&orderbymax=$orderbymax&flags=$flags" #}" data-id="{#$addr1.id#}">{#$langData['car'][8][4]#}</a>      {#* 不限 *#}
                                {#car action="addr" return="addr2" type=$addr1.id#}
                                <a href="{#getUrlPath service='car' template='store'
                    param="firstword=$firstword&type=$typeid&chidren=$chidren&addrid=$addrid&brand=$brandaddrid=$addrid&business={#$addr2.id#}&orderby=$orderby&orderbymax=$orderbymax&flags=$flags" #}" data-id="{#$addr2.id#}" {#if $business=={#$addr2.id#}#} class="curr" {#$businessName= {#$addr2.typename#}#} {#/if#}>{#$addr2.typename#}</a>
                                {#/car#}

                            </div>
                            {#/if#}
                            {#/car#}
                        </div>
                    {#/if#}
                </dd>
            </dl>
            <!-- 区域 e-->
			<!-- 品牌 s-->
            <dl class="fn-clear" id="brand">
                <dt>{#$langData['car'][0][12]#}</dt>     {#* 品牌 *#}
                <dd class="chooseClass" data-chose="brand">
                    <a href="{#getUrlPath service='car' template='store'
                    param="firstword=" #}"  {#if $firstword=='' #} class="curr" {#/if#} data-id="jump-li-hot" >{#$langData['car'][8][31]#}</a>      {#* 热门 *#}



                    {#car action="typeList" return='type' son="1" capital="1"  orderby="3" pageSize=9999 #}
                    <a href="{#getUrlPath service='car' template='store'
                    param="firstword={#$type.firstword#}&addrid=$addrid&business=$business&orderby=$orderby&orderbymax=$orderbymax&flags=$flags" #}" data-id="jump-li-{#$type.firstword#}"
                    {#if $firstword=={#$type.firstword#} #} class="curr" {#/if#}#}>{#$type.firstword#}</a>
                    {#/car#}
                    <div class="subnav fn-clear">
                        <div id="addr{#$addr1.id#}" class="chooseClass" data-chose="brand_sub">
                        {#if $firstword=='' #}
                            <ul class="fn-clear list-hot jump-brand" id="jump-li-hot">
                                {#car action="type" return='type' hot="1" pageSize=10 #}
                                <li><a href="{#getUrlPath service='car' template='store'
                    param="firstword={#$type.firstword#}&type={#$type.id#}&chidren=1&brand={#$type.id#}&addrid=$addrid&business=$business&orderby=$orderby&orderbymax=$orderbymax&flags=$flags" #}" {#if $typeid=={#$type.id#} #} class="curr" {#$typename={#$type.typename#}#} {#/if#}#} data-id="{#$type.id#}">{#$type.typename#}</a></li>
                                {#/car#}
                            </ul>
                        {#else#}
                        {#car action="typeList" return='type' son="1"  orderby="3" pageSize=9999 #}
                            {#if $firstword==$type.firstword#}
                                <li><a href="{#getUrlPath service='car' template='store'  param="firstword={#$type.firstword#}&type={#$type.id#}&chidren=1&brand={#$type.id#}&addrid=$addrid&business=$business&orderby=$orderby&orderbymax=$orderbymax&flags=$flags" #}" data-id="{#$type.id#}"  {#if $typeid=={#$type.id#} #} class="curr" {#$typename={#$type.typename#}#} {#/if#}#} >{#$type.typename#}</a></li>

                            {#/if#}
                        {#/car#}
                        {#/if#}
                        </div>

                    </div>

                </dd>
            </dl>
            <!-- 品牌 e-->

            {#if $typeid#}
            <!-- 车系 s-->
            <dl class="fn-clear" id="fnav">
                <dt>{#$langData['car'][8][84]#}</dt>     {#* 车系 *#}
                <dd class="chooseClass" data-chose="study" id="studyChoose">
                    <div class="f_more">{#$langData['car'][0][14]#}<i></i></div>  {#* 更多 *#}
                    <div class="item_box">
                        <a href="{#getUrlPath service='car' template='store'
                    param="firstword=$firstword&type=$typeid&chidren=1&brand=brand$&orderby=$orderby&keywords=$keywords&orderbymax=$orderbymax" #}" {#if $brand=='' #} class="curr"  {#/if#} >{#$langData['car'][8][4]#}</a>     {#* 不限 *#}
                        {#car action="typeList" return='type' type={#$typeid#} chidren="1" orderby="3" pageSize=9999 #}
                        <a href="{#getUrlPath service='car' template='store'
                    param="firstword=$firstword&type=$typeid&chidren=1&brand={#$type.lower[0]['id']#}&addrid=$addrid&business=$business&orderby=$orderby&flags=$flags&keywords=$keywords&orderbymax=$orderbymax" #}" {#if $brand=={#$type.lower[0]['id']#} #} class="curr" {#$brandname={#$type.lower[0]['typename']#}#} {#/if#} > {#$type.lower[0]['typename']#}</a>
                        {#/car#}
                    </div>


                </dd>
            </dl>
            {#/if#}
            <!-- 车系 e-->

        </div>
        {#if $addrid != "" || $business !=0  ||$typeid != ""|| $brand !=0  #}
        <div class="deletebox">
            <dl class="fi-state fn-clear" style="display: block;">
                <dt>已选条件</dt>
                <dd class="fn-clear">
                    {#if $addrid#}
                    <a href="{#getUrlPath service='car' template='store'
                    param="firstword=$firstword&type=$typeid&chidren=&brand=$brand&addrid=&business=&orderby=$orderby&orderbymax=$orderbymax&flags=$flags&keywords=$keywords" #}"><span>{#$addridName#}</span><i class="idel"></i></a>
                    {#/if#}
                    {#if $business#}
                    <a href="{#getUrlPath service='car' template='store'
                    param="firstword=$firstword&type=$typeid&chidren=$chidren&brand=$brand&addrid=$addrid&business=&orderby=$orderby&orderbymax=$orderbymax&flags=$flags&keywords=$keywords" #}"><span>{#$businessName#}</span><i class="idel"></i></a>
                    {#/if#}
                    {#if $typeid#}
                    <a href="{#getUrlPath service='car' template='store'
                    param="firstword=$firstword&type=&chidren=$chidren&brand=$brand&addrid=$addrid&business=$business&orderby=$orderby&orderbymax=$orderbymax&flags=$flags&keywords=$keywords" #}"><span>{#$typename#}</span><i class="idel"></i></a>
                    {#/if#}
                     {#if $brand#}
                    <a href="{#getUrlPath service='car' template='store'
                    param="firstword=$firstword&type=$typeid&chidren=$chidren&brand=&addrid=$addrid&business=$business&orderby=$orderby&orderbymax=$orderbymax&flags=$flags&keywords=$keywords" #}"><span>{#if $brandname==''#} 不限 {#else#}{#$brandname#}{#/if#}</span><i class="idel"></i></a>
                    {#/if#}

                </dd>
                <a class="btn_clear" href="{#getUrlPath service='car' template='store'
                param="firstword=&type=&chidren=&brand=&addrid=&business=&orderby=&flags=" #}">清空条件</a>
            </dl>
        </div>
        {#/if#}
    </div>
    <!-- 筛选 e-->
	<!-- 列表 s-->
	<div class="wrap class_wrap fn-clear">


        <div class="sort fn-clear">
            <ul class="fn-clear">
                {#* 默认排序 *#}
                <li {#if $orderby==''&&$orderbymax==''#} class="st curr"{#/if#} data-sort="1"><a href="{#getUrlPath service='car' template='store'  param="firstword=$firstword&type=$typeid&chidren=$chidren&brand=$brand&addrid=$addrid&business=$business&orderby=&flags=$flags"#}">{#$langData['car'][5][17]#}</a></li>
                {#* 车源最多 *#}
                <li  {#if $orderbymax==2#} class="st curr"{#/if#} data-sort="2"><a href="{#getUrlPath service='car' template='store'  param="firstword=$firstword&type=$typeid&chidren=$chidren&brand=$brand&addrid=$addrid&business=$business&orderbymax=2&flags=$flags" #}">{#$langData['car'][8][95]#}</a></li>
                {#* 最新上架 *#}
                <li {#if $orderby==1#} class="st curr"{#/if#} data-sort="3"><a href="{#getUrlPath service='car' template='store'  param="firstword=$firstword&type=$typeid&chidren=$chidren&brand=$brand&addrid=$addrid&business=$business&orderby=1&flags=$flags" #}">{#$langData['car'][5][57]#}</a></li>

            </ul>
            {#* 共找到1辆车 *#}
            <p class="data-count"> {#$langData['car'][8][112]|replace:'1':'<span class="data_num" id="totalCount"></span>'#}</p>
        </div>
        <div class="sort2 fn-clear">
                    {#$flag1 = "1"#}
                    {#$flag2 = "2"#}

                    {#if in_array("1", $flagArr)#}
                    {#$flag1 = ""#}
                    {#/if#}

                    {#if in_array("2", $flagArr)#}
                    {#$flag2 = ""#}
                    {#/if#}


                    {#if $flags != ""#}
                    {#foreach from=$flagArr item=flag#}
                    {#if $flag != "0"#}
                    {#if $flag0 == ""#}
                    {#$flag0 = $flag0|cat:$flag#}
                    {#else#}
                    {#$flag0 = $flag0|cat:","|cat:$flag#}
                    {#/if#}
                    {#/if#}
                    {#if $flag != "1"#}
                    {#if $flag1 == ""#}
                    {#$flag1 = $flag1|cat:$flag#}
                    {#else#}
                    {#$flag1 = $flag1|cat:","|cat:$flag#}
                    {#/if#}
                    {#/if#}
                    {#if $flag != "2"#}
                    {#if $flag2 == ""#}
                    {#$flag2 = $flag2|cat:$flag#}
                    {#else#}
                    {#$flag2 = $flag2|cat:","|cat:$flag#}
                    {#/if#}
                    {#/if#}
                    {#if $flag != "3"#}
                    {#if $flag3 == ""#}
                    {#$flag3 = $flag3|cat:$flag#}
                    {#else#}
                    {#$flag3 = $flag3|cat:","|cat:$flag#}
                    {#/if#}
                    {#/if#}
                    {#if $flag != "4"#}
                    {#if $flag4 == ""#}
                    {#$flag4 = $flag4|cat:$flag#}
                    {#else#}
                    {#$flag4 = $flag4|cat:","|cat:$flag#}
                    {#/if#}
                    {#/if#}

                    {#/foreach#}
                    {#/if#}
                    {#if strlen($flags)>1#} {#$flag1 = "2"#} {#$flag2 = "1"#} {#/if#}
            <ul class="fn-clear sort_ul">
                {#* 营业执照认证 *#}
                <a href="{#getUrlPath service='car' template='store'  param="firstword=$firstword&type=$typeid&chidren=$chidren&brand=$brand&addrid=$addrid&business=$business&orderby=$orderby&orderbymax=$orderbymax&flags={#$flag1#}" #}"><li{#if in_array('1', $flagArr)#}  class="active"{#/if#} ><span>{#$langData['car'][8][96]#}</span></li></a>

                {#* 保障金 *#}
                 <a href="{#getUrlPath service='car' template='store'  param="firstword=$firstword&type=$typeid&chidren=$chidren&brand=$brand&addrid=$addrid&business=$business&orderby=$orderby&orderbymax=$orderbymax&flags={#$flag2#}" #}">
                <li {#if in_array('2', $flagArr)#}  class="active"{#/if#}><span>{#$langData['car'][8][97]#}</span></li></a>

            </ul>
            <div class="views">

                <p class="tpage fn-clear">
                    <a href="" class="prev"><i></i></a><span class="atpage"> <em class="currPage"></em>/<em id="total"></em></span><a href="javascript:;" class="next"><i></i></a>
                </p>

            </div>
        </div>
		<!-- 列表左 s-->
	    <div class="list_left">
	        <ul class="list_ul fn-clear">
                {#car action="storeList" return="list" addrid={#$addrid#} business={#$business#} firstword={#$firstword#} orderby={#$orderby#} orderbymax={#$orderbymax#} flags={#$flags#} brand={#$brand#} type={#$typeid#} carstore=1 pageSize="40"  page={#$page#}#}

              <!--   {#if $_bindex.list == 1#}
                <script type="text/javascript">
                    // "/include/ajax.php?service=car&action=storeList&page="+subpage+"&pageSize="+pageSize+"",
                    var url="/include/ajax.php?service=car&action=storeList&firstword={#$firstword#}&type={#$typeid#}&chidren={#$chidren#}&brand={#$brand#}&addrid={#$addrid#}&business={#$business#}&orderby={#$orderby#}&flags={#$flag1#}&keywords={#$keywords#}";
                     var totalCount = {#$pageInfo.totalCount|string_format:"%d"#};
                </script>
                {#/if#} -->

                <!-- {#var_dump($list)#} -->
                <li class="list_li fn-clear">
                    <div class="left_con">
                        <div class="left_top fn-clear">
                            <div class="left_img"><a href="{#$list.url#}" target="_blank"><img src="{#$list.logo#}" alt=""></a></div>
                            <div class="left_info">
                                <h2 class="store_tit"><a href="{#$list.url#}" target="_blank">{#$list.title#}</a>
                                    {#if $list.licenseState==1#}
                                    <i class="icon_ying" title="{#if $val=='ying'#}{#$langData['car'][8][96]#}{#/if#}"></i>{#* 营业执照认证 *#} {#* 保障金 *#}
                                    {#elseif $list.promotion>0#}
                                    <i class="icon_bao" title="{#if $val=='bao'#}{#$langData['car'][8][97]#}{#/if#}"></i>
                                    {#else#}
                                    <i class="icon_ying" title="{#$langData['car'][8][96]#}"></i>
                                    <i class="icon_bao" title="{#$langData['car'][8][97]#}"></i>
                                    {#/if#}
                                </h2>
                                <p class="store_place"><span class="sliceFont" data-num="30">{#$list.addrName[$list.addrName|count-3]#} {#$list.addrName[$list.addrName|count-2]#}  {#$list.addrName[$list.addrName|count-1]#} {#$list.address#} </span><a href="javascript:;" class="see_map appMapBtn2" target="_blank" data-lng="{#$list.lng#}" data-lat="{#$list.lat#}" data-title="{#$list.title#}" data-address="{#$list.address#}">{#$langData['car'][8][11]#}</a></p>  {#* 查看地图 *#}
                            </div>
                        </div>
                        <div class="left_bot fn-clear">
                            {#* 在售车源 *#}
                            <dl>
                                <dt>{#if $list.salenums#}{#$list.salenums#}{#else#}0{#/if#}</dt><dd>{#$langData['car'][0][27]#}</dd>
                            </dl>
                            {#* 已售车源 *#}
                            <dl class="spe_dl">
                                <dt>{#if $list.soldnums#}{#$list.soldnums#}{#else#}0{#/if#}</dt><dd>{#$langData['car'][0][28]#}</dd>
                            </dl>
                            {#* 上新 *#}
                            <dl>
                                <dt>{#if $list.newestnum#}{#$list.newestnum#}{#else#}0{#/if#}</dt><dd>{#$langData['car'][0][29]#}</dd>
                            </dl>
                        </div>
                        {#* 进店逛逛 *#}
                        <div class="store_in"><a href="{#$list.url#}" target="_blank">{#$langData['car'][0][30]#}</a></div>
                    </div>
                    <div class="right_con">
                        <ul class="store_ul fn-clear">
                            <!-- {#var_dump($list.id)#} -->
                            {#foreach from=$list.carstorenum item=val#}
                            <li>
                                <a href="{#getUrlPath service='car' template='detail' id={#$val.id#}#}" target="_blank">
                                    <!--新车 准新车 急售 s-->
                                  <div class="icon_img">
                                    {#if strstr($val.flag, '2')#}<span class="new"> </span>{#/if#} {#if strstr($val.flag, '1')#}<span class="z_new"> </span>{#/if#}
                                  </div>
                                  <div class="icon_img2">{#if strstr($val.flag, '4')#}<span class="hot_tag"></span>{#/if#} </div>
                                  <!--新车 准新车 急售 e-->

                                  <div class="top_img"><img src="{#$val.litpic#}" alt=""></div>
                                  <div class="car_info">
                                    <h3 class="car_name" data-num="30">{#$val.title#}</h3>
                                    <p class="car_price"><span>{#$val.price#}{#$langData['car'][6][20]#}</span>{#if $val.sf#}<em>{#$langData['car'][6][68]#}{#$val.sf#}{#$langData['car'][6][20]#}</em>{#/if#}</p> {#* 首付   万 *#}
                                  </div>
                                </a>
                            </li>
                            {#/foreach#}
                        </ul>
                    </div>

                  </li>
                {#/car#}
                 {#if empty($list)#}

                <li class="empty failed_car"><img src="{#$templets_skin#}images/icon_faild.png"><span>{#$langData['education'][8][24]#}</span></li> {#* 没有找到符合条件的结果 *#}
                {#/if#}
                {#getPageList service='car' template='store' pageType='dynamic' param="firstword=$firstword&type=$typeid&chidren=$chidren&brand=$brand&addrid=$addrid&business=$business&orderby=$orderby&flags=$flags&page=#page#"#}
	        </ul>

	    </div>
	    <!-- 列表左 e-->
        <script>

        var totalCount = {#$pageInfo.totalCount|string_format:"%d"#};
        var currPage = {#$pageInfo.page|string_format:"%d"#};//当前页
        var totalPage = {#$pageInfo.totalPage|string_format:"%d"#};//总页数
        var qurl = "{#getUrlPath service='car' template='store'  param="firstword=$firstword&type=$typeid&chidren=$chidren&brand=$brand&addrid=$addrid&business=$business&orderby=$orderby&flags=$flags&keywords=$keywords&page={#$pageInfo.page-1|string_format:"%d"#}"#}";

         var hurl = "{#getUrlPath service='car' template='store'  param="firstword=$firstword&type=$typeid&chidren=$chidren&brand=$brand&addrid=$addrid&business=$business&orderby=$orderby&flags=$flags&keywords=$keywords&page={#$pageInfo.page+1|string_format:"%d"#}"#}";

        $('.currPage').text(currPage);//当前页
        $('#total').text(totalPage);//总页数
        var liscout= "{#$list#}";
            if (liscout=="") {
                $('#totalCount').text(0);//总
            }else{
                 $('#totalCount').text(totalCount);//总
            }
         if (currPage==1) {
            $('.tpage .prev').addClass('disabled');
        }else{
            $('.tpage .prev').removeClass('disabled');
        }

         if (currPage==totalPage) {
            $('.tpage .next').addClass('disabled')
        }else{
            $('.tpage .next').removeClass('disabled');
        }
        //上一页
        $('.tpage .prev').attr('href',qurl)

        //后一页
        $('.tpage .next').attr('href',hurl)

        </script>
    	    <!-- 列表右 s-->
            {#include file="list_r.html"#}
    	    <!-- 列表右 e-->
    	</div>
	<!-- 列表 e-->
</div>
{#include file="bottom.html"#}

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<!-- <script src="{#$cfg_staticPath#}js/im/Map_position.js?v={#$cfg_staticVersion#}"></script> -->
<script type="text/javascript" src="{#$templets_skin#}js/Map_position2.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/list_filter.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/store.js?v={#$cfg_staticVersion#}"></script>

</body>
</html>
