<div class="fixedwrap FestivalAD_header">
    <div class="fixedpane">
        <!-- head s -->
        <div class="wrap header fn-clear">
            <div class="logo">
                <a href="{#$car_channelDomain#}" title="{#$car_channelName#}"><img src="{#$car_logoUrl#}" alt="{#$car_channelName#}" /></a>
            </div>
            <div class="searchwrap y-linear">
                <div class="search">
                    <i class="search-icon"></i>
                    <div class="FormBox">
                        <form action="{#getUrlPath service='car' template='list'#}" class="form">
                            <div class="inputbox">
                                <div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="{#$langData['car'][8][107]#}" value="{#$keywords#}" /></div> {#*您要买什么车？ *#}
                            </div>
                            <div class="subbox search-btn">
                                <input type="submit" class="submit" value="{#$langData['car'][8][106]#}">  {#*立即搜索 *#}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="searchkey searchkeys">
                    <span>{#$langData['car'][8][102]#}：</span>  {#*热门搜索 *#}
                    {#siteConfig module="car" action="hotkeywords" return="hotkeywords"#}
                    <a href="{#$hotkeywords.href#}"{#if $hotkeywords.target==0#} target="_blank"{#/if#}>{#$hotkeywords.keyword#}</a>
                    {#/siteConfig#}
                </div>
            </div>

            <div class="infobox">
                 {#*我要卖车 *#}
                <a href="{#getUrlPath service=car  template=sell#}" class="fbbox" title="{#$langData['car'][6][89]#}"><span>{#$langData['car'][6][89]#}</span></a>
                 {#*我要入驻经销商 *#}
                <a href="{#getUrlPath service='member' type='user' template='enter'#}" class="rzbox" title="{#$langData['car'][0][2]#}"><span>{#$langData['car'][0][2]#}</span></a>
            </div>
            {#*客服热线 *#}
            <div class="kefu"><s><img src="{#$templets_skin#}images/call.png"></s><p>{#$langData['car'][8][104]#}</p>{#$car_hotline#}</div>
        </div>
        <!-- head e -->

        <div class="nav-con n-linear ">
            <div class="wrap fn-clear">
                <ul class="fn-clear nav_ul">
                    <!-- {#var_dump($pageCurr)#} -->
                    {#*首页 *#}
                    <li class="active"><a href="{#$car_channelDomain#}" {#if $pageCurr == "index"#} class="curr"{#/if#} title="{#$langData['car'][8][108]#}">{#$langData['car'][8][108]#}</a></li>

                    {#*我要买车 *#}
                    <li><a href="{#getUrlPath service=car action=list#}"{#if $usertype == ""&&$pageCurr=="list"#} class="curr"{#/if#} title="{#$langData['car'][6][88]#}">{#$langData['car'][6][88]#}</a></li>

                    {#*我要卖车 *#}
                    <li><a href="{#getUrlPath service=car  template=sell#}" {#if $pageCurr == "sell"#} class="curr"{#/if#} title="{#$langData['car'][6][89]#}">{#$langData['car'][6][89]#}</a></li>
                    {#*线下门店 *#}
                    <li><a href="{#getUrlPath service=car  template=store#}" {#if $pageCurr == "store"#} class="curr"{#/if#} title="{#$langData['car'][5][54]#}">{#$langData['car'][5][54]#}</a></li>

                    {#*个人车主 *#}
                    <li><a href="{#getUrlPath service="car" template="list"  param="usertype=10" #}" {#if $usertype != ""#} class="curr"{#/if#} title="{#$langData['car'][6][90]#}">{#$langData['car'][6][90]#}</a></li>

                    {#*汽车资讯 *#}
                    <li><a href="{#getUrlPath service=car  template=news#}" {#if $pageCurr == "news"#} class="curr"{#/if#} title="{#$langData['car'][5][52]#}">{#$langData['car'][5][52]#}</a></li>

                    {#*车展活动 *#}
                    <li><a href="{#$huodong_channelDomain#}" {#if $pageCurr == "activity"#} class="curr"{#/if#} title="{#$langData['car'][8][105]#}">{#$langData['car'][8][105]#}</a></li>

                </ul>

            </div>
        </div>

    </div>
</div>
