body{padding-bottom: 1rem;background: #F5F5F7}
/*头部back--内页*/
.top-header{height: .9rem;background: #fff;border-top:solid 1px #eee;padding:0 .2rem;z-index: 9;border-bottom:solid .02rem #eee;}
.top-header .btnBack{display: block;width:.5rem;height: .45rem;position: absolute;left:.2rem;top:.22rem;}
.top-header .btnBack i{ position: absolute;left: .1rem;top: .05rem;width: .25rem;height: .25rem;border-top: .03rem solid #a0a0a0;border-right: .03rem solid #a0a0a0;transform: rotate(225deg);}
.topCenter{line-height: .9rem;font-size: .3rem; text-align: center;}

/*点赞区域*/
.likeBox{padding:.25rem;border-bottom: solid .02rem #eee;}
.likeBox .like i{background: url(../images/c-up.png) no-repeat center;background-size:.35rem;}
.likeBox span{float:left;display: block;height: .6rem;}
.likeBox ul{float: left;width: 93%;}
.likeBox ul li{margin: .05rem .1rem;float: left;}
.likeBox ul li img{width: .6rem;height: .6rem;border-radius: 100%;}

/*评论*/
.comPic {margin: .2rem 0;overflow: hidden;}
.wrapper{height: auto;}
.comPic .swiper-slide{margin :0.05rem .06rem .05rem 0;float: left;height:100%;width: auto;}
.comPic .swiper-slide:nth-child(3n){margin: 0.05rem 0 .05rem 0;}
.swiper-wrapper{width: auto;height: auto;display: inline-block;}
.detailBox{background: #fff}
/*评论区域*/
.commentBox{margin-top: .1rem;background: #fff}
.commentBox h2{padding: .35rem .2rem .2rem;font-size: .36rem;color: #222;}
.commentBox ul{padding-left: .24rem}
.commentBox ul li{padding: .3rem 0 0;padding-right: 0}
.commentBox ul li:last-child .right{border-bottom: none;}
.commentBox ul li .left{float: left;}

.commentBox ul li img{width: .6rem;height: .6rem;border-radius: 100%;}
.commentBox ul li img.emotion-img{width: .4rem;height: .4rem;vertical-align: middle;margin-top: -.04rem}
.detailBox ul li .liCon h4{font-size: .26rem;color: #5A5C5E}
.detailBox ul li .liCon .conInfo p{font-size: .3rem;color: #393A3B}
.commentBox ul li .right{margin-left: .75rem;padding-right: .24rem;padding-bottom: .3rem;border-bottom:solid 1px #E8E9EB;}
.commentBox ul li .right .name{font-size: .3rem; margin-bottom: .2rem;}
.commentBox ul li .right .name span.sname{max-width: 4.5rem;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;display: inline-block;font-size: .26rem;color: #5A5C5E}
.commentBox ul li .right .name span.like{float: right;margin-top: .04rem;font-size: .24rem;color: #999}
.commentBox ul li .right .name span.like i{width:.4rem;height: .4rem; display: inline-block;margin-right: .12rem ;vertical-align: top;background: url(../images/likeIcon.png) no-repeat center;background-size:.4rem;margin-top: -.08rem}
.commentBox ul li .right .name span.like1 i{background: url(../images/likeIcon1.png) no-repeat center;background-size:.4rem;}

.commentBox ul li .right .content{font-size: .28rem;}
.commentBox ul li .right .content span{font-weight: bold;}
.commentBox ul li .thirdP{font-size: .24rem;color: #999;margin-top: .35rem}
.commentBox ul li .reply_third{color: #000;margin-left: .24rem;}
.commentBox ul li .children{padding-left:.5rem;}
.commentBox ul li .children li .right{width: 86.7%!important;padding-bottom: 0!important;}
.commentBox ul li .children li .right .content{color:#393A3B;}
/*底部*/
.c-bottom{position: fixed;left:0;right: 0;bottom:0;padding:0 .25rem;background:#fff;box-shadow:0px -3px 15px 0px rgba(0, 0, 0, 0.05);z-index: 10001;padding: .24rem .3rem}
.c-bottom input{height: .7rem;border:solid 1px #A9A9AB;border-radius: .36rem;width:80%;padding-left:.3rem; -webkit-appearance: none;font-size: .3rem;box-sizing: border-box;padding-right: 1rem}
.c-bottom input::placeholder{color: #aaa;}
.reply_box .inbox{float: left;width:80%;}
.reply_box .inbox #commentInput{height: .7rem;border:solid 1px #A9A9AB;border-radius: .36rem;width:100%;padding-left:.3rem; -webkit-appearance: none;font-size: .3rem;box-sizing: border-box;padding-right: 1rem;    box-sizing: border-box;padding-top: .14rem;}
.reply_box .inbox #commentInput:empty:before{content: attr(placeholder); display: block;color: #ccc;    width: 100%;
    overflow: hidden;
    white-space: nowrap; text-overflow: ellipsis;}
.reply_box .inbox #commentInput:before{content: '';}
.reply_box .inbox #commentInput img{width: .4rem; margin: 0 .01rem; vertical-align: middle;}

.c-bottom i.smile{width:.64rem;height: .64rem; display: inline-block;background: url(../images/smile.png) no-repeat center;background-size:.64rem;position: absolute;right:  24%;top: .3rem;}

.c-bottom a.btn_zan{display: inline-block; width: .64rem; height: .64rem; background: url(../images/zan_7.png) no-repeat center; background-size: cover; margin-top: .04rem;margin-left: .4rem; margin-right: .3rem; position: relative;}
.c-bottom a.btn_zan em{font-size: .24rem ; color: #212121; position: absolute; left: .48rem; bottom: .56rem; font-weight: bold;}

.c-bottom .btnSend{display: none;width: 1.2rem; line-height: .72rem; font-size: .26rem; color: rgba(255,255,255,.77); border-radius: .36rem; text-align: center; float: right;
background: -webkit-linear-gradient(90deg,rgba(255,85,79,1) 0%,rgba(255,111,98,1) 100%); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(90deg,rgba(255,85,79,1) 0%,rgba(255,111,98,1) 100%); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(90deg,rgba(255,85,79,1) 0%,rgba(255,111,98,1) 100%); /* Firefox 3.6 - 15 */
background:linear-gradient(90deg,rgba(255,85,79,1) 0%,rgba(255,111,98,1) 100%);
}
/* 表情 */
.bq_box{height: 3.3rem; overflow: auto; display: none; animation: bottomFadeIn .5s ease-in-out; margin-top: .2rem;}
.bq_box li{float: left; width: 14.2%; margin-bottom: .3rem; }
.bq_box li img{display: block; width: .5rem; margin: auto;padding: .05rem;}
.bq_box.show{display: block;}
/* iPhoneX适配 */
.c-bottom{padding-bottom: calc(.24rem + env(safe-area-inset-bottom));padding-bottom: calc(.24rem + constant(safe-area-inset-bottom));}


/*错误提示*/
.error{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 10000; display: none;}
.error p{position: fixed; width: 150px; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 50%; margin-left: -75px; top: 50%; margin-top: -24px;}