html { font-family: Microsoft YaHei,Helvetica Neue,Helvetica,STHeiTi,Arial,sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
em, i{font-style: normal;}
a{color: #000;}
body{padding-bottom: constant(safe-area-inset-bottom);padding-bottom: env(safe-area-inset-bottom);}
.nos ,.nos body{overflow: hidden;}
.padTop20{padding-top: 20px;}

/*头部back*/
.topHead .btnBack i{ position: absolute;left: .1rem;top: .05rem;width: .3rem;height: .3rem;border-top: .03rem solid #a0a0a0;border-right: .03rem solid #a0a0a0;transform: rotate(225deg);}
/*头部back--内页*/
.top-header{height: .9rem;background: #fff;border-top:solid 1px #eee;padding:0 .2rem;}
.top-header .btnBack{display: block;width:.5rem;height: .45rem;position: absolute;left:.2rem;top:.22rem;}
.top-header .btnBack i{ position: absolute;left: .1rem;top: .05rem;width: .3rem;height: .3rem;border-top: .03rem solid #a0a0a0;border-right: .03rem solid #a0a0a0;transform: rotate(225deg);}
.topCenter{line-height: .9rem;font-size: .3rem; text-align: center;}
 
/*banner幻灯片部分*/
.huoniao_iOS .banner .wrapper{padding-top:20px;}
.banner .wrapper .swiper-container {color: #fff;text-align: center;}
.banner .wrapper .swiper-container .slideshow-item {-webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative;}
.banner .wrapper .swiper-wrapper img {display: block;height: 3rem;}
.banner .wrapper .swiper-wrapper .slideinfo {display: none;}
.banner .wrapper .pagination {position: absolute;z-index: 20;left: 0;bottom: .1rem;width: 100%;}
.banner .wrapper .swiper-pagination-switch {display: inline-block;width: 0.12rem;height: 0.12rem;border-radius: 0.16rem;background: #555;margin-right: 5px;opacity: 0.8;border: 1px solid #fff;cursor: pointer;}
.banner .wrapper .swiper-active-switch {background: #fff;}
.banner .wrapper .swiper-dynamic-links {text-align: center;}
.banner .wrapper .swiper-pagination-bullet{opacity: 0.5;}
.banner .wrapper .swiper-pagination-bullet-active{width: .37rem!important;height:.1rem;border-radius: 1rem;background: #fff!important;opacity: 1!important;}
.banner .wrapper .swiper-pagination-bullet{width: .07rem;height: .07rem;background: #fff;opacity: .5;    transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 3px;}
/*单独模块详情头部*/
.common_baner{width: 100%;height: 2rem;position: relative;margin-top: .9rem}
.common_baner img{width: 100%;height: 100%;object-fit: cover;}
.huoniao_iOS .common_baner {margin-top: 0;}
.common_baner p{font-size: .4rem;color: #fff;font-weight: bold;position: absolute;top: .6rem;width: 100%;text-align: center;} 
/*电话模态框*/
.modal-public{visibility: hidden;position: fixed;top:0;left:0;right:0;bottom:0;overflow:hidden;z-index: 999;}
.modal-public.curr {visibility: visible;}
.bgCover{ opacity: 1;visibility: hidden;overflow: hidden;background: #000;position: fixed;top: 0px;left: 0px;right: 0; bottom: 0;z-index: 99;-webkit-transition:none;transition:none;}
.curr > .bgCover {opacity: .6;visibility: visible;}
.modal-public .modal-main{display: none; position:relative!important;width: 70%;padding:.6rem .1rem 0;text-align: center;margin:auto;height: auto;left:0;top:25%;right:0;background: #fff;z-index: 9999;-webkit-border-radius: 0.04rem;-moz-border-radius: 0.04rem;border-radius: 0.04rem;}
.modal-public .modal-main .topline{width:100%;height:.04rem;position: absolute;top:0;left:0;right:0;}
.modal-public .modal-main .topline .lline,.modal-public .modal-main .topline .rline{width:50%;height:.04rem;float: left;}
.modal-public .modal-main .topline .lline{background: #f45118;-webkit-border-top-left-radius: .04rem;border-top-left-radius: .04rem;}
.modal-public .modal-main .topline .rline{background: #f4b318;-webkit-border-top-right-radius: .04rem;border-top-right-radius: .04rem;}
.curr .modal-main {display: block; -webkit-animation:popup .3s ease-in;-moz-animation:popup .3s ease-in;animation:popup .3s ease-in;}
.modal-public .close{width:.7rem;height: .7rem;position: absolute;top:.24rem;right:.21rem;}
.modal-public .close img{width: 100%;}
.modal-public .modal-main h3{font-size: .32rem;padding-bottom: .35rem;border-bottom:solid 1px #eee;}
.modal-public .modal-main p{padding: .35rem .2rem;border-bottom:solid 1px #eee;font-size: .3rem;  background: none;text-align: center;}

 /*微信客服*/
.m-wx{text-align: center;}
.m-wx .modal-main .weixin h4{font-size: .28rem;color:#333;}
.m-wx .modal-main .weixin img{margin:.34rem auto;width:50%;border:solid 1px #eee;}
.m-wx .modal-main .weixin h5{font-size: .26rem;color:#a0a0a0;padding-bottom: .5rem;}

/* 浏览器端扫码提示 */
.wechat-popup {position: fixed; width: 6.8rem; top: calc(50% - 3rem); left: calc(50% - 3.4rem); z-index: 99999; visibility: hidden;}
.wechat-popup:before {position: fixed; z-index: 1; display: block; content: ''; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);}
.wechat-popup .con {display: -webkit-box; position: relative; z-index: 2; padding: 50px 10px 20px; background: #fff; -webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out;}
.wechat-popup .close {position: absolute; right: .2rem; top: .2rem; width: .5rem; height: .5rem; border: 1px solid #dcdcdc; border-radius: 50%; line-height: .4rem; text-align: center; color: #dcdcdc; font-size: .5rem; font-weight: 100;}
.wechat-popup dl {-webkit-box-flex: 1; text-align: center; margin: 0 5px;}
.wechat-popup dl img {width: 94%; height: 94%; max-width: 3rem; max-height: 3rem; margin: 0 auto; padding: 3%; border: 1px solid #eee; display: block;}
.wechat-popup dd {line-height: 1.5em; padding-top: 5px;}


/*全部评论*/
.goodMark{padding:.2rem .24rem;}
.goodMark ul li{padding:0 .27rem;height: .56rem;line-height: .58rem;background: #F4F6F9;border-radius: .28rem;float: left;color:#666;    font-size: .24rem;transition: all .4s ease-in-out;-ms-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-webkit-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;margin-right: .2rem;margin-bottom: .2rem}
.goodMark ul li.active{background: #FF6C00;color:#fff;}
/*评论详情*/
.detailBox ul{padding-left:.24rem;display: none;}
.detailBox ul.showlist{display: block;}
.detailBox ul li{padding: .2rem 0 0;}
.detailBox ul li:last-child .liCon{border-bottom:none;}
.detailBox ul li .avisit{width:100%;height:100%;display: block;}
.detailBox ul li .lileft{display:block;float:left;width:.6rem;height: .6rem;border-radius: 100%;margin-right: .2rem;}
.detailBox ul li .lileft .headImg img{width:.6rem;height: .6rem;border-radius: 100%;}
.detailBox ul li .liCon{margin-left: .75rem;padding-bottom: .2rem;border-bottom: solid 1px #eee;padding-right: .24rem}
.detailBox ul li .liCon h4{font-size: .26rem;color:#a0a0a0;margin-bottom: .25rem;float: left;max-width:70%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.detailBox ul li .liCon h4 span{font-size: .3rem;float: right;}

.fa-star{position: relative;float: right;background-image: url(../images/star_no.png);width: 1.19rem;height: .24rem;background-size: .24rem .24rem;font-size: 0;    margin-top: .1rem;background-repeat: repeat-x;}
.fa-star s {position: absolute;display: block;height: .24rem;background-image: url(../images/star_yes.png);background-size: .24rem .24rem}

.detailBox ul li .liCon .conInfo p{font-size: .28rem;text-align: justify;font-weight: 500;line-height: .45rem;}
.detailBox ul li .liCon .conInfo p .sco1 {font-size: .24rem;color: #f79810;}
.comPic{position: relative;margin-top:.2rem ;    overflow: hidden;}
.comPic .picBox{position: relative;width: 1.9rem;height: 1.9rem;margin:0 .01rem;display: inline-block;}
.comPic .picBox img,.picBox video{width: 1.9rem;height: 1.9rem;}
.comPic .picNum{position: absolute;bottom:.2rem;right:.2rem;font-size: .24rem;display:inline-block; padding:0 .13rem;margin-right:.1rem; text-align:center;background:rgba(0,0,0,.5);color:#fff;border-radius: .4rem;z-index: 9;height: .34rem;line-height: .34rem}

.comPic .swiper-slide{position: relative;width: 1.9rem;height: 1.9rem;margin-right:.1rem;float: left;}
.comPic .swiper-slide a{display: block;}
.comPic .swiper-slide img{width: 1.9rem;height: 1.9rem;}
.conBottom{position: relative;margin-top:.35rem ;}
.conBottom em{font-size: .24rem;color: #999;display: inline-block;}
.conBottom span{display:inline-block;font-size: .24rem;color:#999;}
.conBottom span.like{float: right;margin-right: .35rem}
.conBottom span.like1{color: #FF6C00;}
.conBottom span i,.likeBox span i,.commentBox .comm i{width:.4rem;height: .4rem; float: left;margin-right: .12rem ;vertical-align: top;}
.conBottom span.like i{background: url(../images/likeIcon.png) no-repeat center;background-size:.4rem;margin-top: -.08rem;margin-right: .05rem}
.conBottom span.like1 i,.likeBox .like1 i{background: url(../images/likeIcon1.png) no-repeat center;background-size:.4rem;}
.conBottom span.comment i,.conBottom span.detcom i{background: url(../images/commentIcon.png) no-repeat center;background-size:.4rem;    margin-top: -.08rem;margin-right: .05rem}
.conBottom span.like1 em,.likeBox .like1 em{color: #FF6C00}
.conBottom span.detcom{float: right;}
.conBottom em.reply_sec{margin-left: .3rem;font-size: .24rem;color: #000;}
/*二级回复*/
.conInfo .replyCon{padding:.2rem;background: #F8F9FB;margin:.25rem 0 .3rem;}
.conInfo .replyCon dl{line-height: .5rem;overflow: hidden;}
.conInfo .replyCon dl dt{float: left;font-size: .28rem;font-weight: bold;color: #393A3B}
.conInfo .replyCon dl dd{font-size: .28rem;color:#212121;}
.conInfo .replyCon dl dd img{width: .35rem; height: .35rem; vertical-align: middle;}
.conInfo .pmore{font-size: .3rem;display: block;color: #FF6C00;font-weight: bold;margin-top: .1rem}


.voiceBox{width: 100%;height: .7rem;line-height:.7rem;margin:.4rem 0;color:#a0a0a0;}
.voiceBox span{float: left;margin-left:.2rem;line-height: .7rem;font-size: .26rem;}
.voice{position: relative;float: left;margin-left:.2rem;display: block;width: 2.7rem;height: .7rem;background: #f2f2f2;border-radius: .05rem;border:solid .02rem #e4e4e4;}
.voice:before{ content: "";position: absolute;right: 100%;top: .188rem;width: 0;height: 0;border-top: 7px solid transparent;border-right: 7px solid #e4e4e4;
    border-bottom: 7px solid transparent;}
.voice:after {content: "";position: absolute;right: 100%; top: .23rem; width: 0;height: 0; border-top: 5px solid transparent; border-right: 5px solid #f2f2f2; border-bottom: 5px solid transparent;}
.voice s{ position: absolute;right: 0.2rem;top: .2rem;display:block;width: .2rem;height: .3rem;background: url(../images/voIcon.png) no-repeat center;background-size: .2rem;}
.voice.play s{animation: bodong 1s infinite ease;-webkit-animation:bodong 1s infinite ease;}
@keyframes bodong{0%{background-size: 0;}100%{background-size: .2rem;}}
@-webkit-keyframes bodong{0%{background-size: 0;}100%{background-size: .2rem;}}
.comPic video{position: relative;width: 1.9rem;height: 1.9rem;}
.comPic .comPic img{position: absolute;left:30%;top:30%;width: .5rem!important;height: .5rem!important;}
.comPic i.iplay{position:absolute;top:38%;left:37%;display: block;width: .5rem;height: .5rem;background: url(../images/co-play.png) no-repeat center;background-size: .5rem;}

.readAll a {display: block;line-height: 1;font-size: .28rem;color: #666;padding: .3rem;text-align: center;border-top: 1px solid #eee}
.readAll a i.rmRight{display: inline-block;width:.28rem;height: .28rem;background: url(../images/all-comment.png) no-repeat center;background-size:.28rem;margin-left: .16rem;vertical-align: middle;margin-top: -.03rem}

.fullscreen,.comPic .comVideo{height: 100%;background: #000;}
.fullscreen{width: 100%;position: fixed;top:0;bottom:0;right:0;left:0;z-index: 999;-webkit-animation: bounceInDown .6s ease-out; -moz-animation: bounceInDown .6s ease-out; animation: bounceInDown .6s ease-out;}

.fullscreen .comVideo{width: 100%;}
.fullscreen .comVideo video{width: 100%;height: 100%;}
.fullscreen .swiper-wrapper{height: 100%;}
.fullscreen .vClose{position: absolute;top: .8rem;right: .4rem;width: .5rem;height: .5rem;display: block;background: url(../images/vclose.png) no-repeat center center;background-size: .5rem;z-index: 11;}
.comVideo video::-internal-media-controls-download-button,.comVideo video::-internal-media-controls-button-panel,
.comVideo video::-internal-media-controls-overflow-button,.comVideo video::-webkit-media-controls-mute-button,.comVideo video::-webkit-media-controls-timeline{display:none!important;}
.comVideo video::-webkit-media-controls-overlay-play-button{margin-bottom: -50px!important;}
.fullscreen video::-webkit-media-controls-mute-button,.fullscreen video::-webkit-media-controls-timeline{display: block!important;}


/*底部*/
.footBottom{position: fixed;bottom: 0;left:0;right: 0;z-index: 99;}
.footBottom ul{display: -webkit-box;}
.footBottom ul li{-webkit-box-flex:1;text-align: center;}
.footBottom ul li a{display: block;height: .95rem;font-size: .3rem;color:#fff;padding:.05rem 0;}
.footBottom ul li s{display: block;width: .5rem;height: .5rem;margin:.05rem auto 0;background: url(../images/f-bottom.png) no-repeat;background-size: cover;}
.footBottom ul li.foot-1{background: #11d1ee;padding-bottom:calc(-.35rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.35rem + env(safe-area-inset-bottom));}
.footBottom ul li.foot-2{background: #fa9a34;padding-bottom:calc(-.35rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.35rem + env(safe-area-inset-bottom));}
.footBottom ul li.foot-3{background: #14d291;padding-bottom:calc(-.35rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.35rem + env(safe-area-inset-bottom));}
.footBottom ul li.foot-1 s{background-position: 0 0;}
.footBottom ul li.foot-2 s{background-position: -.49rem 0;}
.footBottom ul li.foot-3 s{background-position: -1rem 0;}


/*返回顶部*/
.gotop{position: fixed; bottom: 2.5rem; right: .3rem; width: 1rem; height: 1rem; z-index: 209; display: none;-webkit-animation: twinkling .3s ease-in-out;; -moz-animation: twinkling .3s ease-in-out;; animation: twinkling .3s ease-in-out;}
.gotop img{display: block; width: 100%; height: 100%; }

/* iPhoneX适配 */
.gotop{bottom: calc(2.5rem + constant(safe-area-inset-bottom));bottom: calc(2.5rem + env(safe-area-inset-bottom));}
.wechat-fix{position: fixed; bottom: 1.5rem; right: .3rem; width: 1rem; height: 1rem; z-index: 209;display: none;-webkit-animation: twinkling .3s ease-in-out;; -moz-animation: twinkling .3s ease-in-out;; animation: twinkling .3s ease-in-out;}
.wechat-fix img{display: block; width: 100%; height: 100%; }

/* iPhoneX适配 */
.wechat-fix{bottom: calc(1.5rem + constant(safe-area-inset-bottom));bottom: calc(1.5rem + env(safe-area-inset-bottom));}

/* CSS 特效 */
@-webkit-keyframes twinkling{0%{opacity:.5}100%{opacity:.8}}
@-moz-keyframes twinkling{0%{opacity:.5}100%{opacity:.8}}
@keyframes twinkling{0%{opacity:.5}100%{opacity:.8}}
/* 从下往上缓冲显示 */
@-webkit-keyframes bottomFadeIn{0%{opacity:0; -webkit-transform:translateY(10px);}100%{opacity:1; -webkit-transform:translateY(0);}}
@-moz-keyframes bottomFadeIn{0%{opacity:0;  -moz-transform:translateY(10px);}100%{opacity:1; -moz-transform:translateY(0);}}
@keyframes bottomFadeIn{0%{opacity:0; transform:translateY(10px);}100%{opacity:1; transform:translateY(0);}}

/* 从上往下缓冲显示 */
@-webkit-keyframes topFadeIn{0%{opacity:0;  -webkit-transform:translateY(-10px);}100%{opacity:1;  -webkit-transform:translateY(0);}}
@-moz-keyframes topFadeIn{0%{opacity:0; -moz-transform:translateY(-10px);}100%{opacity:1; -moz-transform:translateY(0);}}
@keyframes topFadeIn{0%{opacity:0;  transform:translateY(-10px);}100%{opacity:1; transform:translateY(0);}}

/* 从左往右缓冲显示 */
@-webkit-keyframes leftFadeIn{0%{opacity:0; -webkit-transform:translateX(-10px);}100%{opacity:1;  -webkit-transform:translateY(0);}}
@-moz-keyframes leftFadeIn{0%{opacity:0;  -moz-transform:translateX(-10px);}100%{opacity:1; -moz-transform:translateY(0);}}
@keyframes leftFadeIn{0%{opacity:0; transform:translateX(-10px);}100%{opacity:1; transform:translateY(0);}}

/* 从右往左缓冲显示 */
@-webkit-keyframes rightFadeIn{0%{opacity:0;-webkit-transform:translateX(10px)}100%{opacity:1;-webkit-transform:translateY(0)}}
@-moz-keyframes rightFadeIn{0%{opacity:0;-moz-transform:translateX(10px)}100%{opacity:1;-moz-transform:translateY(0)}}
@keyframes rightFadeIn{0%{opacity:0;transform:translateX(10px)}100%{opacity:1;transform:translateY(0)}}

/* 膨胀后变正常尺寸 */
@-webkit-keyframes popup{0%{-webkit-transform:scale(0)}60%{-webkit-transform:scale(1.1)}100%{-webkit-transform:scale(1)}}
@-moz-keyframes popup{0%{-moz-transform:scale(0)}60%{-moz-transform:scale(1.1)}100%{-moz-transform:scale(1)}}
@keyframes popup{0%{transform:scale(0)}60%{transform:scale(1.1)}100%{transform:scale(1)}}

/*从下往上展开*/
@-webkit-keyframes cd-move-in{0%{-webkit-transform:translateY(100vh)}100%{-webkit-transform:translateY(0vh)}}
@-moz-keyframes cd-move-in{0%{-moz-transform:translateY(100vh)}100%{-moz-transform:translateY(0vh)}}
@keyframes cd-move-in{0%{-webkit-transform:translateY(100vh);-moz-transform:translateY(100vh);-ms-transform:translateY(100vh);-o-transform:translateY(100vh);transform:translateY(100vh)}100%{-webkit-transform:translateY(0vh);-moz-transform:translateY(0vh);-ms-transform:translateY(0vh);-o-transform:translateY(0vh);transform:translateY(0vh)}}
/*从上往下收回*/
@-webkit-keyframes cd-move-out{0%{-webkit-transform:translateY(0vh)}100%{-webkit-transform:translateY(100vh)}}
@-moz-keyframes cd-move-out{0%{-moz-transform:translateY(0vh)}100%{-moz-transform:translateY(100vh)}}
@keyframes cd-move-out{0%{-webkit-transform:translateY(0vh);-moz-transform:translateY(0vh);-ms-transform:translateY(0vh);-o-transform:translateY(0vh);transform:translateY(0vh)}100%{-webkit-transform:translateY(100vh);-moz-transform:translateY(100vh);-ms-transform:translateY(100vh);-o-transform:translateY(100vh);transform:translateY(100vh)}}

@-webkit-keyframes bounceInDown{0%{opacity:0;-webkit-transform:translateY(-100vh);transform:translateY(-100vh)}60%{opacity:1;-webkit-transform:translateY(3vh);transform:translateY(3vh)}80%{-webkit-transform:translateY(-1vh);transform:translateY(-1vh)}100%{-webkit-transform:translateY(0);transform:translateY(0)}}
@-moz-keyframes bounceInDown{0%{opacity:0;-webkit-transform:translateY(-100vh);transform:translateY(-100vh)}60%{opacity:1;-webkit-transform:translateY(3vh);transform:translateY(3vh)}80%{-webkit-transform:translateY(-1vh);transform:translateY(-1vh)}100%{-webkit-transform:translateY(0);transform:translateY(0)}}
@keyframes bounceInDown{0%{opacity:0;-webkit-transform:translateY(-100vh);-ms-transform:translateY(-100vh);transform:translateY(-100vh)}60%{opacity:1;-webkit-transform:translateY(3vh);-ms-transform:translateY(3vh);transform:translateY(3vh)}80%{-webkit-transform:translateY(-1vh);-ms-transform:translateY(-1vh);transform:translateY(-1vh)}100%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}}

p.loading {padding:.3rem 0;text-align: center;font-size: .28rem;color: #ccc;}