body{background: #fff;}
/*头部*/
.coment_header{margin: .32rem .24rem 0;padding: .2rem;background: #F9F9F9;border-radius: .1rem;overflow: hidden;}
.coment_header .shop_logo{width: .68rem;height: .68rem;border: 1px solid #E8E9EB;border-radius: .03rem;float: left;}
.coment_header .shop_logo img{width: 100%;height: 100%;object-fit: cover;}
.coment_header h2{font-size: .3rem;color: #222;font-weight: bold;line-height: .68rem;margin-left: .88rem;max-width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
/*内容*/
.scoreBox{padding:0 .25rem;background: #fff;margin-top: .35rem}
.huoniao_iOS .scoreBox{padding-top: 20px;}
.scoreTop{font-size: .28rem;color:#333;text-align: center;}
.scoreTop .left{margin-right: .2rem;}

.scoreTop .center{position: relative; z-index: 10;}
.scoreTop .center span{display: inline-block;width: .64rem;height: .64rem;background: url(../images/star_no2.png);background-size: .64rem;}
.scoreTop .center span.active{background: url(../images/star_yes2.png);  background-size: .64rem;}
.scoreTop .right{font-size: .3rem;text-align: center;margin-bottom: .6rem;margin-top: .3rem}

/*评论*/
.scoreMain{height: 3rem; overflow: auto;border: 1px solid #ddd;border-radius: .1rem;padding: .2rem}
.scoreMain textarea {display: block;width:100%;height:calc(100% - .6rem);border:none;outline:0;font-size: .28rem; font-family: inherit;}
::-webkit-input-placeholder {color:    #B5B5B5; } :-moz-placeholder {color:    #B5B5B5; } ::-moz-placeholder {color:    #B5B5B5; } :-ms-input-placeholder {color:    #B5B5B5; }
.txt{background: #fff; padding:.1rem 0;}
.txt .textarea{width: 100%; border: none; font-size: .28rem; overflow: auto; outline: 0; padding: .2rem 0 .3rem;}
.txt .textarea .txt-gray{color: #B5B5B5;}

.editor{padding:.3rem; margin-top: .2rem;background: #fff;}
.editor .item{width: 1.6rem;height: 1.6rem;background: #fff;border:dashed .02rem #e5e5e5;float: left;text-align: center;font-size: .2rem;position: relative;overflow: hidden;color: #BFBFBF;border-radius: .1rem}
.editor .item img{width: .52rem;height: .44rem;margin-top:.4rem;margin-bottom: .1rem}
.editor .img input, .editor .video input{position: absolute; width: 1rem; height: 1rem; left: 0; opacity: 0; top: 0;}

.uploadBox {float: left;}
.uploadBox .upBox{float:left;margin-right:.3rem;margin-bottom: .2rem;width: 1.6rem;height: 1.6rem;position: relative;background:#000;border-radius: .1rem}
.uploadBox .upBox:last-child, .uploadBox .upBox:nth-child(3n) {margin-right: 0;}
.uploadBox .upBox img{width: 1.6rem;height: 1.6rem;border-radius: .1rem}

.vtime{margin-top: -.2rem;}

.delBox{ position: absolute;top:-.12rem;right:-.12rem;}
.delBox img{width: .36rem!important;height: .36rem!important;}
.fabuBox{padding:0 .25rem; }
.fabuBox .anonymous{position: relative; }
.fabuBox a{display: inline-block; height: .6rem; color: #97989C; font-size:.24rem;padding-left: .15rem;}
.check-left{float: left;}

.check-left input[type=checkbox]{position: absolute;top: 0;left: 0;margin: 0;opacity: 0;z-index: 9;width: 100%;height: 100%;-webkit-appearance: none;}
.checkbox-icon-round {position: relative;display: block;width: .3rem;height: .3rem;border-radius: .4rem;background: #fff;-webkit-transition: background .1s;transition: background .1s;border: 1px solid #ddd; top: 0;}
input:checked+.checkbox-icon-round {background: #FF6C00;border-color: #FF6C00;background-clip: padding-box;}
.checkbox-icon-round:after{position: absolute;content: "";top: .02rem;right: .09rem;width: .08rem;height: .16rem;border: solid #fff;border-width: 0 .04rem .04rem 0;-webkit-transform: rotate(45deg) scale(0);transform: rotate(45deg) scale(0);-webkit-transition: -webkit-transform .2s cubic-bezier(.18,.89,.32,1.28) .1s;transition: -webkit-transform .2s cubic-bezier(.18,.89,.32,1.28) .1s;transition: transform .2s cubic-bezier(.18,.89,.32,1.28) .1s;transition: transform .2s cubic-bezier(.18,.89,.32,1.28) .1s,-webkit-transform .2s cubic-bezier(.18,.89,.32,1.28) .1s;}
input:checked+.checkbox-icon-round:after{-webkit-transform: rotate(45deg) scale(1);transform: rotate(45deg) scale(1);}
.fabuBox .btnFb,.btnConfirm{ width: 100%;height: .88rem;line-height: .88rem;border:none;font-size: .32rem;color:#fff;background: #f79810;border-radius: .1rem; background:linear-gradient(95deg,rgba(255,149,84,1) 0%,rgba(255,76,20,1) 100%);margin:.2rem 0;}

.suc .modal-main{padding: .51rem 0 .32rem;}
.suc .modal-main img{width: .68rem;height: .68rem;}
.suc .modal-main p{padding:0;margin-top: .18rem;border-bottom: 0;font-size: .3rem;color:#333;}
.btnConfirm{width: 2.7rem;margin:.54rem 0 0;}
.del .modal-main p,.delAudio .modal-main p{border-bottom: 0;}
.del .confirmBox,.delAudio .confirmBox{padding:.2rem;margin-top:.5rem;}
.del .confirmBox span,.delAudio .confirmBox span{ display: block; float: left;text-align: center;font-size: .28rem;}
.del .confirmBox .cancel,.delAudio .confirmBox .cancel{width: 50%;border-right: solid .02rem #eee;}
.del .confirmBox .comfirm,.delAudio .confirmBox .comfirm{display: inline-block;width: 49%;color:#f79810;}
.m-audio .btnAudio{width:2rem;height: 2rem;margin:auto;border-radius:100%;background: #ff5600 url(../images/audio1.png) no-repeat center center;background-size:1rem;}

/*上传照片*/
.photoBox{display: none;position: fixed;top:0;left:0;bottom:0;right:0;background-color:#fff;width:100%;height: 100%;z-index: 9999;-webkit-animation:cd-move-in .3s ease-in;-moz-animation:cd-move-in .3s ease-in;animation:cd-move-in .3s ease-in; }
.photoBox.showBox{display: block;}
.top-header .btnconf{display: block;width:1.16rem;height:.54rem;line-height:.54rem; text-align:center;position: absolute;right:.2rem;top:.17rem;border-radius: .04rem;color:#faeedd;background-color: #f7d29c;font-size: .3rem;}
.top-header .btnconf.bactive{background:#f79810;color:#fff;width:1.4rem;}
.mainBox{padding:.25rem;border-top:solid .02rem #eee;}
.mainBox ul li{width: 1.6rem;height: 1.6rem;float: left;margin:0 .2rem .2rem 0;position: relative;}
.mainBox ul >div.local{width: 1.6rem;height: 1.6rem;float: left;margin:0 .2rem .2rem 0;background:#efefef url(../images/photo.png) no-repeat center center;background-size:.62rem;}
.mainBox ul >div.local input{width: 1.6rem;height: 1.6rem;opacity: 0;}
.mainBox ul li img{width: 1.6rem;height: 1.6rem;}
.mainBox ul li:nth-child(4n){margin-right: 0;}
.mainBox ul li .selBox{position: absolute;top: .12rem;right: .12rem;width: .44rem;height: .44rem;border-radius: 100%;border:solid .03rem #fff;background: rgba(0,0,0,.3);}
.mainBox ul li.active .selBox{background:#f79810 url(../images/ok.png) no-repeat center center;background-size:.3rem;border:solid .03rem #f79810;}



/*错误提示*/
.error{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 100001; display: none;}
.error p{position: fixed; width: 150px; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 50%; margin-left: -75px; top: 50%; margin-top: -24px;}

.editor .item input {opacity: 0;}