body{background: #fff;}
/*头部详情*/
.album_baner{width: 100%;height: 2rem;position: relative;}
.album_baner img{width: 100%;height: 100%;object-fit: cover;}
.huoniao_iOS .album_baner {margin-top: 20px;}
.album_baner p{font-size: .4rem;color: #fff;font-weight: bold;position: absolute;top: .6rem;width: 100%;text-align: center;}


/*内容*/
.content{padding: 0 .24rem 1rem;margin-top: -.5rem;position: relative;}
.content li{margin-bottom: .45rem;width: 100%;border-radius: .2rem;position: relative;overflow: hidden;box-shadow:0px 0px 40px 0px rgba(0, 0, 0, 0.13);padding: .2rem .2rem .4rem;box-sizing:border-box;background: #fff}
.content li .top_img{ height: 3.84rem;width: 100%;position: relative;}
.content li .top_img img{width: 100%; height: 100%; object-fit: cover;  border-radius: .16rem;}
.content li .top_img span.addr{position: absolute;right: .1rem;bottom: .1rem;height:.44rem;background:rgba(0,0,0,.7);font-size: .24rem;color: #fff;line-height: .46rem;display: inline-block;padding: 0 .2rem;border-radius: .22rem}
.content li .top_img span.addr i{display: inline-block;width: .26rem;height: .26rem;margin-right: .1rem;vertical-align: middle;margin-top: -.04rem;background: url(../images/hd-addr.png) no-repeat center; background-size: .26rem;}
.content li .top_img i.free_icon{position: absolute;top: .2rem;left: -.08rem;display: inline-block;width: .97rem;height: .58rem;background: url(../images/free_icon.png) no-repeat center; background-size: .97rem .58rem;
}
.content li h2{font-size: .32rem;color: #3B3B3B;font-weight: bold;overflow:hidden;  text-overflow: ellipsis; white-space: nowrap;max-width: 100%;margin-top: .22rem}

.content li .huodongInfo{margin-top: .25rem}
.content li .huodongInfo .info{}
.content li .huodongInfo h3{font-size: .26rem;color: #999;overflow:hidden;  text-overflow: ellipsis; white-space: nowrap;max-width: 4.2rem;}
.content li .huodongInfo h3 i{display: inline-block;width: .34rem;height: .34rem;margin-right: .06rem;vertical-align: middle;margin-top: -.04rem;background: url(../images/hd-clock.png) no-repeat center; background-size: .34rem;}
.content li .huodongInfo p{font-size: .28rem;color: #999;margin-top: .15rem}
.content li .huodongInfo p strong{font-size: .48rem;color: #FF5018}
.content li .huodongInfo .go{font-size: .3rem;color: #fff;padding: 0 .5rem;height: .68rem;line-height: .68rem;border-radius: .34rem;background:linear-gradient(95deg,rgba(255,149,84,1) 0%,rgba(255,76,20,1) 100%);margin-top: .2rem}

.loading{ height: .28rem; margin: auto; padding: .6rem; text-align: center;}
.loading img{display: block; width: 2rem ; margin: auto;}
.loading span{font-size: .26rem; color: #999; text-align: center;}
