html { font-family: Microsoft YaHei,Helvetica Neue,Helvetica,STHeiTi,Arial,sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
body{background: #fff;padding-bottom: .5rem;padding-bottom: constant(safe-area-inset-bottom);padding-bottom: env(safe-area-inset-bottom); padding-top: constant(safe-area-inset-top);}
em, i{font-style: normal;}
a{color: #000;}

/*占位背景*/
.banner, .tcNews .lBox, .tcNews .mBox .pl_h::before, .tcNews .mBox .pl_h::after, .tabMain li.pl_h::before, .tabMain li.pl_h::after, .recomBus ul li.pl_h .pl_h_l, .recomBus ul li.pl_h .pl_h_r .pl_h_r_r::before, .recomBus ul li.pl_h .pl_h_r .pl_h_r_r::after, .recomBus ul li.pl_h .pl_h_r .pl_h_r_l, .recomBus ul li.pl_h .pl_h_r .pl_h_r_l::before, .recomBus ul li.pl_h .pl_h_r .pl_h_r_l::after {background: #f2f4f7;}

.nos ,.nos body{overflow: hidden;}
.padTop20{padding-top: 20px;}

/*公共标签*/
.mark{width:.58rem;height: .33rem;line-height: .33rem;text-align: center;font-size: .26rem;}
.mark1{background: #f3d64c;position: absolute;top:0;left:0;}
.mark2{background: #77e0fa;position: absolute;top:0;left:.58rem;}
.mark3{background: #6ae9be;position: absolute;top:0;left:.58rem;}

/*头部*/
.header{height: .9rem;background: #fff;border-top:solid 1px #eee;position: relative;z-index: 1;}
.header .btnBack{display: block;width:.5rem;height: .45rem;position: absolute;left:.2rem;top:.22rem;}
.header .btnBack i{ position: absolute;left: .1rem;top: .05rem;width: .3rem;height: .3rem;border-top: .03rem solid #a0a0a0;border-right: .03rem solid #a0a0a0;transform: rotate(225deg);}
.topRight{position: absolute;right:.2rem;top:.22rem;}
.topRight a{display:block;width:.5rem;height:.5rem;float: left;}
.btnMenu{background: url(../images/menuIcon.png) no-repeat center;background-size:cover;}

/*头部幻灯片部分*/
.top_wrap{background: #fff;padding-bottom: .3rem}
.banner .wrapper {position: relative;}
/*.huoniao_iOS .banner .wrapper{padding-top:20px;}*/
.banner .wrapper .swiper-container {color: #fff;text-align: center;}
.banner .wrapper .swiper-container .slideshow-item {-webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative;}
.banner .wrapper .swiper-wrapper img {display: block;height: 4.37rem;}
.banner .wrapper .swiper-wrapper .slideinfo {display: none;}
.banner .wrapper .pagination {position: absolute;z-index: 20;left: 0;bottom: .7rem;width: 100%;}
.banner .wrapper .swiper-pagination-switch {display: inline-block;width: 0.12rem;height: 0.12rem;border-radius: 0.16rem;background: #555;margin-right: 5px;opacity: 0.8;border: 1px solid #fff;cursor: pointer;}
.banner .wrapper .swiper-active-switch {background: #fff;}
.banner .wrapper .swiper-dynamic-links {text-align: center;}
.banner .wrapper .swiper-pagination-bullet-active{width: .28rem!important;height:.1rem;border-radius: 1rem;background: #fff!important;opacity: 1!important;}
.banner .wrapper .swiper-pagination-bullet{width: .1rem;height: .1rem;background: #fff;opacity: .6;    transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 3px;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{text-align: center;}

/* 搜索 */
.search-form { padding: ; margin:-.5rem .35rem 0;}
.search-form .sobj {height: .88rem; border-radius: .1rem; line-height: .88rem; display: -webkit-box;background: #fff;position: relative;z-index: 999;box-shadow:0px 7px 37px 0px rgba(8,12,33,0.07);}
.search-form .area {position: relative; -webkit-box-flex: 1;}
/*.search-form .area:after {position: absolute; content: ""; right: .1rem; top: 50%; width: 1px; height: .46rem; margin-top: -.23rem; background: linear-gradient(#f6f6f6, #a9a9a9, #f6f6f6);;}*/
.search-form .area a {display: block; font-size: .28rem; color: #313233;}
.search-form .area i {display: inline-block; width: .32rem; height: .32rem; margin-top: -.02rem; vertical-align: middle; margin-left: .27rem; background: url('../images/pos.png') no-repeat center; background-size:.32rem;margin-right: .05rem}
.search-form .area label {display: inline-block; vertical-align: middle; min-width: .5rem; max-width: 1.8rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-top: -.03rem;font-size: .26rem;}
.search-form .area s {display: inline-block; vertical-align: middle; border-right: 1px solid #a0a0a0; border-bottom: 1px solid #a0a0a0; width: .1rem; height: .1rem; transform: rotate(45deg); margin: -.08rem 0 0 .1rem;}

.search-form .inp {-webkit-box-flex: 6;}
.search-form .inp a {position: relative; display: block; color: #BEBFC4; padding-left: .5rem;font-size: .28rem;}
.search-form .inp span {position: absolute; right: 0; top: 0; width: 1.2rem; height: .88rem; text-align: center;}
.search-form .inp span:after {position: absolute; content: ""; left: 0; top: 50%; width: 1px; height: .24rem; margin-top: -.12rem; background: #D7D8DE;}
.search-form .inp span s{width: .32rem; height: .32rem;  display: inline-block;background: url('../images/search2.png') no-repeat center; background-size:.32rem;position: absolute;top: 50%;margin-top: -.16rem;left: 50%;margin-left: -.16rem}

/*最新入驻*/
.rzBox{margin: .3rem .24rem;box-shadow:0px 5px 29px 0px rgba(179,179,179,0.22);border-radius: .16rem;padding:.15rem .2rem .2rem;position: relative;min-height: 1rem}
.rzBox h2{font-size: .42rem;font-weight: bold;color: #000;}
.rzBox .rBox{position: absolute;top: .08rem;right: -.08rem;width: 2.31rem;height: 1.2rem;background: url('../images/b-ruzhu.png') no-repeat center; background-size:2.31rem 1.2rem;}
.rzBox .rBox a{display: block;height: 100%;}
.rzBox .rBox a span{font-size: .28rem;color: #fff;font-weight: bold;display: inline-block;height: 1.2rem;line-height: 1.15rem;padding-left: 1rem}
.gallery-thumbs{margin-top: .3rem}
.gallery-thumbs .slideImg{width: .84rem;height: .9rem;float: left;}
.gallery-thumbs .slideImg img{width: .5rem;height: .5rem;object-fit: cover;border-radius: 50%;display: block;margin-top: .14rem}
.gallery-thumbs .slideImg.active{background:url('../images/rz-bg.png') no-repeat center;background-size: .84rem .9rem; margin-right: .2rem;}
.gallery-thumbs .slideImg.active img{width: .6rem;height: .6rem;margin-top: .08rem;margin-left: .1rem}
.gun_wrap{background: #F5F5F5;margin-top: .22rem;border-radius: .1rem;padding: 0 .2rem;-webkit-overflow-scrolling:touch;}
.gallery-top{width: 100%}
.gallery-top .swiper-wrapper{}
.gallery-top .swiper-slide{background: ;height: .7rem;line-height: .7rem;width: 100%!important;box-sizing: border-box;}
.gallery-top .swiper-slide p{font-size: .28rem;width: 100%}
.gallery-top .swiper-slide p a{display: block;width: 100%;}
.gallery-top .swiper-slide p span{color: #FB6C33}
.gallery-top .swiper-slide i{float: right;display: inline-block;width: .3rem;height: .3rem;background: url(../images/hot-arr.png) no-repeat;background-size: .3rem;margin-top: .2rem;}
.pubBox{padding:.2rem;margin-bottom:.2rem;box-sizing: border-box;background: #fff;}

/*占位*/
.tcNews .mBox .pl_h {width: 95%; height: .5rem;}
.tcNews .mBox .pl_h::before, .tcNews .mBox .pl_h::after {content: ''; display: block; height: .28rem; margin-top: .15rem;}
.tcNews .mBox .pl_h::after {width: 75%;}

/*滑动导航*/
.tcInfo{padding:.2rem 0;}
.tabMain{position: relative;overflow: hidden; height: 3.8rem;}
.tabMain ul{height: 3.4rem; overflow: hidden;}
.tabMain li{width: 20%;float: left;text-align: center;padding: .05rem 0;}
.tabMain li:active {background: #f2f2f2; border-radius: 4px;}
.tabMain li a{display: block;}
.tabMain li span.icon-circle{display: block;width: 1.5rem;margin: 0 auto;}
.tabMain li span.icon-txt{font-size: .28rem;}
.tabMain li span img{display: block;width: 1.2rem;height: 1.2rem;margin: 0 auto;}
.tabMain .swiper-wrapper{height: auto !important;margin-bottom: .1rem;}
.tabMain .swiper-pagination-bullet{width: .07rem;height: .07rem;background: #e4e4e4;opacity: 1;    transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;}
.tabMain .swiper-pagination-bullet-active{width: .4rem!important;height:.08rem;border-radius: 1rem;background: #4a8af7!important;opacity: 1!important;}

/*占位*/
.tabMain li.pl_h {position: relative; height: 1.1rem;}
.tabMain li.pl_h::before, .tabMain li.pl_h::after {width: 1.1rem; height: 1.1rem; display: block; content: ''; margin: 0 auto; border-radius: 50%; margin-top: .28rem;}

/*广告位*/
.advBox1{width: 100%;background: #fff}
.advBox1 li{list-style: none;}
.advBox1 img{width: 100%;}
.adpos{display: flex;justify-content: space-between;padding: 0 .24rem}
.adpos li{list-style: none;width:23.5%;}
.adpos img{width: 100%;}

/*广告幻灯片*/
.AdBox{padding:0 .24rem;margin-top: .24rem}
.AdBox img{width: 100%;}
.AdBox .wrapper {position: relative;border-radius: .1rem;overflow: hidden;}
.AdBox .wrapper .swiper-container {color: #fff;text-align: center;}
.AdBox .wrapper .swiper-container .slideshow-item {-webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative;}
.AdBox .wrapper .swiper-wrapper img {display: block;height: 1.6rem;border-radius: .1rem;}
.AdBox .wrapper .swiper-wrapper .slideinfo {display: none;}
.AdBox .wrapper .pagination {position: absolute;z-index: 20;left: 0;bottom: .05rem;width: 100%;}
.AdBox .wrapper .swiper-pagination-switch {display: inline-block;width: 0.12rem;height: 0.12rem;border-radius: 0.16rem;background: #555;margin-right: 5px;opacity: 0.8;border: 1px solid #fff;cursor: pointer;}
.AdBox .wrapper .swiper-active-switch {background: #fff;}
.AdBox .wrapper .swiper-dynamic-links {text-align: center;}
.AdBox .wrapper .swiper-pagination-bullet-active{opacity: 1!important;width: 5px!important;border-radius: 50%!important;height: 5px;}
.AdBox .wrapper .swiper-pagination-bullet{width: 5px;height: 5px;background: #fff;opacity: .6;  border-radius: 50%;  transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;background: #fff}

/*品牌甄选*/
.pin_wrap{padding: .4rem .24rem .38rem;}
.pin-title h2{font-size: .42rem;color: #000;font-weight: bold;display: inline-block;line-height: 1em}
.pin-title a{float: right;font-size: .28rem;color: #999;}
.pin-title a i{display: inline-block;width: .4rem;height: .4rem;margin-left:.1rem;background: url(../images/pin-arr.png) no-repeat;background-size: .4rem;vertical-align: middle;margin-top: -.04rem;}
.advBox2{margin-top: .27rem;}
.advBox2 ul {display: flex;justify-content: space-between;}
.advBox2 li{list-style: none; width: 32%;}
.advBox2 li a{display: block;}
.advBox2 li img{width: 100%; display: block;}

/*本周热门*/
.hot_wrap{padding: .4rem 0 .2rem;margin-top: .2rem}
.hot-title{padding: 0 .24rem}
.hot-title a{display: block;}
.hot-title h2{font-size: .42rem;color: #000;font-weight: bold;display: inline-block;line-height: 1em}
.hot-title i{float: right;display: inline-block;width: .3rem;height: .3rem;background: url(../images/hot-arr.png) no-repeat;background-size: .3rem;margin-top: .04rem;}

.org_service{background: #fff;margin-top:.2rem;width: 100%;overflow: hidden;box-sizing: border-box;padding: .1rem .24rem .4rem;}
.org_service .swiper-container {width: 100%;overflow:visible;}
.org_service .swiper-slide {width:2.8rem!important;margin-right: .2rem;border-radius: .1rem;box-shadow:0px 6px 13px 0px rgba(187,187,187,0.29);border: 1px solid #eee;box-sizing: border-box; overflow: hidden;}
.org_service .org_img{ width: 2.8rem;height: 2.8rem;}
.org_service .org_img img{width:100%;height:100%;border-radius: .1rem;object-fit: cover;}
.org_service .org_title{font-size: .28rem;color: #000;margin-top: .15rem;max-width:1.9rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-weight: bold;padding:0 .18rem }
.org_service .hot-like{    padding: .15rem .1rem .22rem;}
.org_service .hot-like .imgLike{float: left;font-size: 0}
.org_service .hot-like .imgLike img{width: .3rem;height: .3rem;border-radius: 50%;margin-right: 1px; display: inline-block; vertical-align: middle;}
.org_service .hot-like span{font-size: .24rem;color: #999;display: inline-block;max-width:1.4rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-left: .11rem}
/*推荐商家*/
.recomBus{padding: 0 .24rem 1.2rem;}
.recomBus .hot-title{padding: 0}
.recomBus ul {margin-top:.3rem;}
.recomBus ul:empty {padding-bottom: .2rem;}
.recomBus ul li{padding:.2rem;box-shadow:0px 2px 16px 0px rgba(187,187,187,0.29);border-radius: .16rem;margin-bottom: .2rem}
.recomBus ul li a{display: block;}
.recomBus ul li:active {background: #f2f2f2; border-radius: 4px;}
.recomBus ul li:last-child{margin-bottom:0;}
.recomBus ul li .rleft{width:1.5rem;height: 1.5rem;position: relative;float: left;margin-right: .18rem; position: relative;border-radius: .12rem;overflow: hidden;}
.recomBus ul li .rleft img{max-width: 100%; max-height: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;}
.recomBus ul li .rright{position: relative;margin-left: 1.68rem}
.recomBus ul li .rright .rtitle{font-size: .34rem;}
.recomBus ul li .rright .rtitle i,.recomBus ul li .rright .rtitle em{float: left;}
.recomBus ul li .rright .rtitle p{max-width:100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: .32rem;font-weight: bold;}
.recomBus ul li .rright .rtitle i{display: block;width:.6rem;height: .32rem;margin:.05rem .1rem 0 0;background: url(../images/topIcon.png) no-repeat center;background-size: cover;}
.recomBus ul li .rright .rtitle em{display: block;width:.29rem;height: .33rem;margin:.05rem 0 0 .1rem;background: url(../images/qIcon.png) no-repeat center;background-size: cover;}
.recomBus .rright .comment{font-size: .28rem;color:#969696;overflow: hidden;margin-top: .15rem;}
.recomBus .rright .comment .starbg{float:left;width: 1.2rem;height: .24rem;background:url(../images/star_no.png) repeat-x;background-size: .24rem;}
.recomBus .rright .comment .starbg.nostar{width: .24rem}
.recomBus .rright .comment .starbg .star{display:block;height: .24rem;background:url(../images/star_yes.png) repeat-x;background-size: .24rem;}
.recomBus .rright .comment span.dis{float: right;font-size: .24rem;color: #aaa}
.recomBus .rright .comment em{font-size: .24rem;color: #aaa;margin-left: .1rem;    vertical-align: top;display: inline-block;margin-top: -1px;}
.recomBus ul li .rright .addr{font-size: .28rem;margin-top: .15rem;max-width:100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.recomBus ul li .rright .addr i{display:inline-block;width: .26rem;height: .26rem;background:url(../images/index_pos.png) repeat-x;background-size: .26rem;margin-right: .06rem;vertical-align: middle;
    margin-top: -.04rem;}
.recomBus ul li .rright .tel{position: absolute;right: .01rem;top:.1rem;text-align: right;}
.recomBus ul li .rright .tel img{width: 55%;}
/*查看更多*/
.recomBus .btnMore{display: block;height: .9rem;line-height: .9rem;text-align: center;background: #F0F1F3;border-radius: .12rem;font-size: .28rem;color:#B7BBC4; margin: .2rem 0;}

/*占位*/
.recomBus ul li.pl_h:active {background: #fff;}
.recomBus ul li.pl_h .pl_h_l {float: left; width: 1.5rem; height: 1.5rem; margin-right: .18rem;border-radius: .12rem;}
.recomBus ul li.pl_h .pl_h_r {position: relative; overflow: hidden; height: 1.5rem;}
.recomBus ul li.pl_h .pl_h_r .pl_h_r_r {float: right; width: .75rem; position: relative; height: 1.22rem;}
.recomBus ul li.pl_h .pl_h_r .pl_h_r_r::before, .recomBus ul li.pl_h .pl_h_r .pl_h_r_r::after {content: ''; position: absolute;}
/*.recomBus ul li.pl_h .pl_h_r .pl_h_r_r::before {width: .6rem; height: .6rem; border-radius: 50%; margin-left: .07rem;}*/
.recomBus ul li.pl_h .pl_h_r .pl_h_r_r::after {top: .5rem; width: .75rem; height: .28rem;}
.recomBus ul li.pl_h .pl_h_r .pl_h_r_l {width: 3.88rem; height: .28rem; position: relative;}
.recomBus ul li.pl_h .pl_h_r .pl_h_r_l::before, .recomBus ul li.pl_h .pl_h_r .pl_h_r_l::after {position: absolute; top: 0; left: 0; content: ''; display: block; width: 2.53rem; height: .28rem; margin-top: .55rem;}
.recomBus ul li.pl_h .pl_h_r .pl_h_r_l::after {margin-top: 1.15rem;}



/*电话模态框*/
.modal-public{visibility: hidden;position: fixed;top:0;left:0;right:0;bottom:0;overflow:hidden;z-index: 999;}
.modal-public.curr {visibility: visible;}
.bgCover{ opacity: 1;visibility: hidden;overflow: hidden;background: #000;position: fixed;top: 0px;left: 0px;right: 0; bottom: 0;z-index: 99;-webkit-transition:none;transition:none;}
.curr > .bgCover {opacity: .6;visibility: visible;}
.modal-public .modal-main{display: none; position:relative!important;width: 70%;padding:.6rem .1rem 0;text-align: center;margin:auto;height: auto;position: fixed;left:0;top:25%;right:0;background: #fff;z-index: 9999;-webkit-border-radius: 0.04rem;-moz-border-radius: 0.04rem;border-radius: 0.04rem;}
.modal-public .modal-main .topline{width:100%;height:.04rem;position: absolute;top:0;left:0;right:0;}
.modal-public .modal-main .topline .lline,.modal-public .modal-main .topline .rline{width:50%;height:.04rem;float: left;}
.modal-public .modal-main .topline .lline{background: #f45118;-webkit-border-top-left-radius: .04rem;border-top-left-radius: .04rem;}
.modal-public .modal-main .topline .rline{background: #f4b318;-webkit-border-top-right-radius: .04rem;border-top-right-radius: .04rem;}
.curr .modal-main {display: block;-webkit-animation: popup .3s ease-in;-moz-animation: popup .3s ease-in;animation: popup .3s ease-in;}
.modal-public .close{width:.7rem;height: .7rem;position: absolute;top:.24rem;right:.21rem;}
.modal-public .close img{width: 100%;}
.modal-public .modal-main h3{font-size: .36rem;padding-bottom: .35rem;border-bottom:solid 1px #eee;}
.modal-public .modal-main p{padding: .35rem .2rem;border-bottom:solid 1px #eee;font-size: .32rem;  background: none;text-align: center;}

/*微信客服*/
.m-wx{text-align: center;}
.m-wx .modal-main .weixin h4{font-size: .28rem;color:#333;}
.m-wx .modal-main .weixin img{margin:.34rem auto;width:50%;border:solid 1px #eee;}
.m-wx .modal-main .weixin h5{font-size: .26rem;color:#a0a0a0;padding-bottom: .5rem;}

/* 浏览器端扫码提示 */
.wechat-popup {position: fixed; width: 6.8rem; top: calc(50% - 3rem); left: calc(50% - 3.4rem); z-index: 99999; visibility: hidden;}
.wechat-popup:before {position: fixed; z-index: 1; display: block; content: ''; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);}
.wechat-popup .con {display: -webkit-box; position: relative; z-index: 2; padding: 50px 10px 20px; background: #fff; -webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out;}
.wechat-popup .close {position: absolute; right: .2rem; top: .2rem; width: .5rem; height: .5rem; border: 1px solid #dcdcdc; border-radius: 50%; line-height: .4rem; text-align: center; color: #dcdcdc; font-size: .5rem; font-weight: 100;}
.wechat-popup dl {-webkit-box-flex: 1; text-align: center; margin: 0 5px;}
.wechat-popup dl img {width: 94%; height: 94%; max-width: 3rem; max-height: 3rem; margin: 0 auto; padding: 3%; border: 1px solid #eee; display: block;}
.wechat-popup dd {line-height: 1.5em; padding-top: 5px;}



/*底部*/
.footer{height:1rem;background:#fff;box-shadow: 0 0 .32rem rgba(192,192,192,.28);position: fixed;bottom: 0;left:0;right:0; z-index: 99;}
.footer ul{height: 1rem;background: #fff;z-index: 9;   display: -webkit-box;}
.footer ul li{width: 20%;text-align: center;position: relative;-webkit-box-flex: 1;}
.footer ul li a{display: block;}
.footer ul li.ficon i{display: block;width:.5rem;height: .5rem;  margin: .1rem auto 0;}
.footer ul li.ficon1 i{background: url(../images/fIndex.png) no-repeat center center;background-size: .5rem auto; }
.footer ul li.ficon2 i{background: url(../images/fShop.png) no-repeat center center;background-size: .5rem auto; }
.footer ul li.ficon4 i{background: url(../images/fInfo.png) no-repeat center center;background-size: .5rem auto; }
.footer ul li.ficon5 i{background: url(../images/fMy.png) no-repeat center center;background-size: .5rem auto; }
.footer ul li.ficon1.active i{background: url(../images/fIndex1.png) no-repeat center center;background-size: .5rem auto; }
.footer ul li.ficon2.active i{background: url(../images/fShop1.png) no-repeat center center;background-size: .5rem auto; }
.footer ul li.ficon4.active i{background: url(../images/fInfo1.png) no-repeat center center;background-size: .5rem auto; }
.footer ul li.ficon5.active i{background: url(../images/fMy1.png) no-repeat center center;background-size: .5rem auto; }
.footer ul li img{width: .6rem;height: .6rem;}
.footer .fabuBg{width: 1.1rem;height: .6rem;background: #fff;box-shadow: 0 0 0.32rem rgba(192,192,192,.28);border-radius: 1.2rem 1.2rem 0 0; position: absolute;  left: 50%;top: -.46rem;z-index: -1;    margin-left: -.55rem;}
.footer .fabu{position: relative;}
.footer .fabu i{display: block;width: 1.1rem;height: 1.1rem;margin: -.45rem auto 0.05rem;background: url(../images/fFabu.png) no-repeat center center;background-size: 1.1rem auto;}
.footer .fabu p{margin-top: -.1rem;}
.footer li.ficon4 span{display: inline-block;position: relative;height:.55rem;}
.footer li.ficon4 em {display: block;position: absolute;bottom: 50%;left: 56%;min-width: .28rem;max-width: .6rem;padding: .03rem .03rem;background: #ff2938; border-radius: .155rem;color: #fff;font-size: .2rem;}

/* iPhoneX适配 */
.footer{padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom));}



.gotop{position: fixed; bottom: 2.5rem; right: .3rem; width: .9rem; height: .9rem; z-index: 209; display: none;-webkit-animation: twinkling .3s ease-in-out;; -moz-animation: twinkling .3s ease-in-out;; animation: twinkling .3s ease-in-out;}
.gotop img{display: block; width: 100%; height: 100%; }

/* iPhoneX适配 */
.gotop{
    bottom: calc(2.5rem + constant(safe-area-inset-bottom));
    bottom: calc(2.5rem + env(safe-area-inset-bottom));
}

.wechat-fix{position: fixed; bottom: 1.5rem; right: .3rem; width: .9rem; height: .9rem; z-index: 209;}
.wechat-fix img{display: block; width: 100%; height: 100%; }

/* iPhoneX适配 */
.wechat-fix{
    bottom: calc(1.5rem + constant(safe-area-inset-bottom));
    bottom: calc(1.5rem + env(safe-area-inset-bottom));
}


/* 从右往左缓冲显示 */
@-webkit-keyframes rightFadeIn{
    0%{opacity:0;	-webkit-transform:translateX(10px);}
    100%{opacity:1;	-webkit-transform:translateY(0);}
}

@-moz-keyframes rightFadeIn{
    0%{opacity:0;	-moz-transform:translateX(10px);}
    100%{opacity:1; -moz-transform:translateY(0);}
}

@keyframes rightFadeIn{
    0%{opacity:0;	transform:translateX(10px);}
    100%{opacity:1; transform:translateY(0);}
}

/* 从上往下缓冲显示 */
@-webkit-keyframes topFadeIn{
    0%{opacity:0;	-webkit-transform:translateY(-10px);}
    100%{opacity:1;	-webkit-transform:translateY(0);}
}

@-moz-keyframes topFadeIn{
    0%{opacity:0;	-moz-transform:translateY(-10px);}
    100%{opacity:1; -moz-transform:translateY(0);}
}

@keyframes topFadeIn{
    0%{opacity:0;	transform:translateY(-10px);}
    100%{opacity:1; transform:translateY(0);}
}
/* 膨胀后变正常尺寸 */
@-webkit-keyframes popup{
    0%{-webkit-transform:scale(0);}
    60%{-webkit-transform:scale(1.1);}
    100%{-webkit-transform:scale(1);}
}

@-moz-keyframes popup{
    0%{-moz-transform:scale(0);}
    60%{-moz-transform:scale(1.1);}
    100%{-moz-transform:scale(1);}
}

@keyframes popup{
    0%{transform:scale(0);}
    60%{transform:scale(1.1);}
    100%{transform:scale(1);}
}
