/*头部详情*/
.intro_baner{width: 100%;height: 4.45rem;}
.intro_baner img{width: 100%;height: 3.5rem;object-fit: cover;}
.huoniao_iOS .intro_baner {margin-top: 20px;}
/*内容*/
.intro_main{margin-top: -2rem;position: relative;padding: 0 .24rem;padding-bottom: calc(1rem + env(safe-area-inset-bottom));padding-bottom: calc(1rem + constant(safe-area-inset-bottom));}
.intro_main::before {content:'';width:104%;height:2rem;position:absolute;left:-9px;top:0;z-index:1;border-radius:80% 80% 0 0;background:#fff;}


.intro_logo {width: 1.96rem;height: 1.96rem;border-radius: 50%;box-shadow:0px 8px 21px 0px rgba(147,157,170,0.18);margin: 0 auto;position: relative;z-index: 2;top: -1.14rem}
.intro_logo img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}

.shop-name{font-size: .4rem;font-weight: bold;    text-align: center;position: absolute;top: 1.1rem;z-index: 3;left: 0;right: 0;}
.intro-title{font-size: .36rem;color: #222;font-weight: bold;}
.intro-title a{display: block;}
.intro-title a i.a-i{display: inline-block;width:.28rem;height: .28rem;background:url(../images/fenlei-arr.png) no-repeat center;background-size: .28rem;float: right;margin-top: .06rem}

.shop-open{margin-top: .9rem}
.shop-con{font-size: .3rem;margin-top: .2rem}
.shop-site,.shop-devide{margin-top: .77rem;}
.shop-devide ul{margin-top: .5rem}
.shop-devide li{margin-right: .6rem;margin-bottom: .45rem;text-align: center;font-size: .24rem;float: left;width: .8rem;}
/*.shop-devide li:nth-child(6n){margin-right: 0}*/
.shop-devide li a{display: block;}
.shop-devide li img{width: .46rem;height: .46rem;display: inline-block;}
.shop-pro {margin-top: .55rem;}
.shop-pro .intro-text{margin-top: .4rem;padding-bottom: .5rem;font-size: .3rem;line-height: .5rem}
.shop-pro p{font-size: .3rem;line-height: .5rem}
.shop-pro span{font-size: .3rem;line-height: .5rem}
.shop-pro img{max-width: 100%!important}
.shop_con {margin-top: .8rem}
.shop_con .content{margin-top: .3rem}
.shop_con .content .shop-item{width: 3.4rem;float: left;margin-right: .2rem;box-shadow:0px 0px 12px 0px rgba(0, 0, 0, 0.13);border-radius: .1rem}
.shop_con .content .shop-item:nth-child(2n){margin-right: 0}
.shop_con .content .img{width: 100%;height: 2.52rem;position: relative;}
.shop_con .shop-item .img i.img-icon{display: inline-block;position: absolute;width: .7rem;height: .7rem;top: 50%;left: 50%;transform: translate(-50%,-50%);background:url(../images/view_icon.png) no-repeat center;background-size: .7rem}
.shop_con .shop-item .img i.img-icon2{background:url(../images/vr.gif) no-repeat center;background-size: 1rem;width: 1rem;height: 1rem;}

.shop_con .content .img img{width: 100%;height: 100%;border-radius: 50%;object-fit: cover;border-radius: .1rem .1rem 0 0;}
.shop_con .content .name{text-align: center;font-size: .28rem;color: #222;    height: .8rem;
    line-height: .82rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
