body,html{background: #FEFEFE;height: 100%}
/*头部详情*/


.content-wrap{margin:-.5rem 0 0;border-radius: .2rem;position: relative;overflow: hidden;padding: 0 .24rem .4rem}
.albumsnav{box-shadow:0px 0px 40px 0px rgba(0, 0, 0, 0.13);background: #fff;font-size: 0;position: relative;border-radius: .2rem}
.albumsnav>div{margin: 0 .66rem;overflow-x: auto;white-space: nowrap;}
.albumsnav>div::-webkit-scrollbar { display: none }
.albumsnav span {display: inline-block;margin-right: .66rem;position: relative;}
.albumsnav span:last-child{margin-right: 0}
.albumsnav span a{font-size: .32rem;font-weight: bold;padding: .3rem 0 .36rem ;display: block;}
.albumsnav span em{font-size: .26rem;font-weight: normal;}
.albumsnav span.active a{color: #FF4C14}
.albumsnav span.active::after{content: '';display: block;width: .56rem;height: .06rem;border-radius: .03rem;background:linear-gradient(95deg,rgba(255,149,84,1) 0%,rgba(255,76,20,1) 100%);position: absolute;left: 50%;bottom: 0 ;margin-left:-.28rem;}



.content{display: none;-webkit-animation: rightFadeIn .3s ease-out; -moz-animation: rightFadeIn .3s ease-out; animation: rightFadeIn .3s ease-out;margin-top:.3rem;padding:.5rem .24rem .2rem;background: #fff;border-radius: .2rem;overflow: hidden;box-shadow:0px 0px 40px 0px rgba(0, 0, 0, 0.13);}
.content.show{display: block;}
.content img{max-width: 100%!important;max-height: 5rem!important;margin-bottom: .2rem;margin-top: .2rem}
.content p{font-size: .3rem;line-height: .5rem}
.content span{font-size: .3rem;line-height: .5rem}
.content::first-letter {  float: left; font-size: .6rem; font-weight: bold ;margin-top: -.1rem}
