*{margin: 0;padding: 0;-webkit-tap-highlight-color: rgba(255,0,0,0);}
body{max-width: 1080px;margin: 0 auto;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;font-size: .24rem;background: #F5F5F5;height: 100%;padding-bottom: 1.2rem;}
html{background: #F5F5F5}
i,em{font-style: normal;}
.dn{display: none;}
.nos ,.nos body{overflow: hidden;height: 100%;}
/*头部*/
.header{position: fixed;left: 0;right: 0;z-index: 11;top: 0;}


/*筛选框*/
.choose-tab{height: .9rem;border-bottom: 1px solid #f4f4f4;background: #fff;position: fixed;top: .9rem;left: 0;right: 0;border-top: 1px solid #eee;border-bottom: 1px solid #eee;z-index: 11;box-sizing: border-box;}
.huoniao_iOS .choose-tab {top: 0;}
.choose-tab ul{display: -webkit-box;}
.choose-tab li{font-size: .3rem;text-align: center;position: relative;padding: .25rem 0; -webkit-box-flex: 1;}
.choose-tab li a{display: block;height: .4rem;line-height: .4rem;font-size: .28rem;text-align: center;color: #39393B;padding: 0 6px;}
.choose-tab li.active a span{color: #ff6666;}
.choose-tab li span:after{content: '';position: absolute;width: .16rem;height: .16rem;right: 0;top: 50%;margin-top: -.08rem;background: url("../images/list-down.png") no-repeat;background-size: .16rem;}
.choose-tab li span{position: relative;display: inline-block;height: .4rem;line-height: .4rem;max-width: 85%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding-right: .26rem;font-size: .25rem;}
.choose-tab li.on a{color: #FF571F}
.choose-tab li.on span:after{content: '';background: url("../images/list-up.png") no-repeat;background-size: .16rem;}


.shearbtn{padding-left: .2rem;margin-top: .08rem}
.shearbtn a{display: block;width: .9rem;height: .68rem;border-radius:.34rem 0px 0px .34rem;background:linear-gradient(90deg,rgba(255,51,45,1) 0%,rgba(255,94,28,1) 100%);box-shadow:0px 6px 27px 0px rgba(255,53,44,0.39);}
.shearbtn i{display:inline-block;width: .4rem;height: .4rem;background: url("../images/icon_search2.png") no-repeat;background-size: .4rem;margin-top: .14rem;margin-left: .32rem}



.choose-box{position: fixed;top: 1.79rem;left: 0;right: 0;z-index: 10}
.huoniao_iOS .choose-box {top: .9rem;}
.choose-local{border-bottom: 1px solid #f1f1f1;background: #fff;height: 7.8rem}
.choose-local#rq-box{height: 4.5rem}
.choose-local .load{line-height: 6rem;text-align: center;}
.choose-box li{height: .88rem;line-height: .88rem;padding: 0 .2rem;font-size: .28rem;}
.choose-box li.active,.choose-box li.on{background: #fff;}
.choose-box li.on a{color: #FF571F;display: block;}
.choose-box li.on{color: #FF571F;}
.choose-stage-l{width: 27%;background-color: #F8F8F8;float: left;}
.choose-stage-th{background-color: #F8F8F8;}
.choose-stage-one{width: 100%;}
.choose-stage-r{width: 73%;float: left;display: none;background: #fff;}
#scroll-more{padding: 0 .3rem .5rem .3rem;}
#scroll-more h3{font-size: .28rem;color: #787878;line-height: .8rem;}
#scroll-more li{width: 22%;height: .6rem;line-height: .6rem;border: 1px solid #f1f1f1;text-align: center;float: left;font-size: .26rem;padding: 0;margin-right: 3%;border-radius: .06rem;margin-bottom: 3%;}
#scroll-more li.active{background: #fd6466;color: #fff;}
#scroll-more li:nth-child(4n){margin-right: 0;}
.sure-box{height: .8rem;text-align: center;line-height: .8rem;}
.sure-box a{display: block;width: 50%;float: left;}
.sure-box .reset{color: #fd6466;border-top: 1px solid #f1f1f1;}
.sure-box .confirm{background: #fd6466;color: #fff;}
#scroll-assort, #scroll-assort-second, #scroll-area, #scroll-area-second{max-height: 7rem;}
#scroll-assort ul, #scroll-assort-second .dl_wrap, #scroll-area ul, #scroll-area-second{min-height: 7rem;}
.loading{text-align: center; font-size: .3rem; line-height: 1.5rem;}

#scroll-assort{overflow: auto;-webkit-overflow-scrolling:touch;}
#scroll-assort li{padding-left: .3rem;}
.choose-stage-r{padding:0 .3rem;box-sizing: border-box;padding-right: 0}
#scroll-assort-second {overflow: auto;-webkit-overflow-scrolling:touch;}
#scroll-assort-second .dl_wrap{padding-bottom: .5rem}
#scroll-assort-second dl{font-size: 0;margin-top: .6rem}
#scroll-assort-second dl:first-child{margin-top: .3rem}
#scroll-assort-second dt{display: block;font-size: .3rem;color: #000;padding-bottom: .38rem}
#scroll-assort-second dd{display: inline-block;width: 1.55rem;text-align: center;line-height: .58rem;border-radius: .04rem;background: #F8F8F8;margin-right: .12rem;margin-bottom: .1rem;font-size: .22rem;color: #666;box-sizing: border-box;  overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#scroll-assort-second dd.on{background: #ffebe1;color: #FF571F}
.choose-stage-th{overflow: hidden;}
#scroll-assort{width: 108%;}


/*收起的箭头*/
.list-arr{width: 100%;padding: .25rem 0;text-align: center;box-shadow:0px -3px 13px 0px rgba(0, 0, 0, 0.07);position: absolute;bottom: 0;background: #fff}
.list-arr i{display: inline-block;width: .36rem;height: .36rem;background:url('../images/list-arr.png') no-repeat center;background-size: .36rem;}
/*列表*/
.list{margin-top: 2.15rem;padding: 0 .24rem}
.huoniao_iOS .list {margin-top: 1.15rem;}
.list li{padding:.3rem .2rem;box-shadow:0px 6px 40px 0px rgba(187,187,187,0.25);border-radius: .1rem;margin-bottom: .3rem;background: #fff}
.list li a{display: block;}
.list li h2{font-size: .36rem;font-weight: bold;max-width:100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.list li .comment {margin-top: .1rem}
.list li .comment .starbg{float:left;width: 1.2rem;height: .24rem;background:url(../images/star_no.png) repeat-x;background-size: .24rem;}
.list li .comment .starbg .star{display:block;height: .24rem;background:url(../images/star_yes.png) repeat-x;background-size: .24rem;}
.list li .comment .starbg.nostar{width: .24rem}
.list li .comment em{font-size: .24rem;color: #aaa;margin-left: .1rem;    vertical-align: top;display: inline-block;margin-top: -1px;}
.list li .addr{margin-top: .23rem}
.list li .addr span.address{display: inline-block;font-size: .24rem;max-width:5.5rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #777;}
.list li .addr span.dis{float: right;font-size: .24rem}
.list li .img3{margin-top: .3rem;display: flex;justify-content: space-between;height: 1.54rem;}
.list li .img3 img{width: 2.07rem;height: 100%;border-radius: .1rem}
/*图片只有一张时*/
.list li .listInfo1{position: relative; overflow: hidden;}
.list li .listInfo1 .addr span.address{max-width: 3.5rem}
.list li .img1{float: right;width: 2rem;height: 2rem;border-radius: .12rem;overflow: hidden; margin-left: .2rem;}
.list li .img1 img{width: 100%;height: 100%;object-fit: cover}

.listInfo1 .has-module{margin-top: .2rem;font-size: 0}
.listInfo1 .has-module span{display: inline-block;font-size: .24rem;color: #666;padding: 0 .14rem;height: .42rem;line-height: .44rem;border-radius: .04rem;background:rgba(238,238,238,1);opacity: .6;margin-right: .1rem}
.listInfo1 .has-module span:nth-child(3){font-size: .4rem;line-height: .2rem;vertical-align: top}

.pic-box{width: 1.8rem;height: 1.3rem;float: left;border: 1px solid #f1f1f1;border-radius: .08rem;}
.pic-box img{display: block;width: 100%;height: 100%;border-radius: .08rem;}
.pic-txt{margin-left: 2rem;}
.pic-txt h3{font-size: .28rem;}
.pic-txt h3 .shop-name{line-height: .4rem;margin-right: .1rem;}
.pic-txt h3 .pic-tag{font-size: .2rem;display: inline;}
.pic-txt h3 .pic-tag i{font-size: .22rem;display: inline-block;text-align: center;color: #fff;border-radius: .08rem;margin-right: .04rem;vertical-align: text-bottom;padding: .05rem;line-height: 1}
.pic-txt h3 i.hui{background: #fd6830;}
.pic-txt h3 i.tuan{background: #ff692e;}
.pic-txt h3 i.ding{background: #7dd08a;}
.pic-txt h3 i.cu{background: #b6d740;}
.pic-txt h3 i.dian{background: #00bbce;}
.pic-txt h3 i.pai{background: #facb19;}
.pic-txt h3 i.wai{background: #fe8c46;}
.pic-txt h3 i.yan{background: #fe618e;}
.pic-txt h3 i.ka{background: #b780ff;}
.pic-txt .per s{background: url(../images/gray.png) no-repeat;background-size: 1.7rem .3rem;display: inline-block;width: 1.7rem;height: .3rem;}
.pic-txt .per s em{background: url(../images/yellow.png) no-repeat;background-size: 1.7rem .3rem;display: block;height: .3rem;width: 87%;}
.pic-txt .grey{color: #787878;}
.pic-txt .address{line-height: .4rem;height: .4rem;}
.pic-txt .address span{margin-right: .1rem;}

/*遮罩层*/
.mask{width: 100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;z-index: 9!important;display: none;bottom: 0}
