body{background: #fff;}
/*头部详情*/
.album_baner{width: 100%;height: 2rem;position: relative;}
.album_baner img{width: 100%;height: 100%;object-fit: cover;}
.huoniao_iOS .album_baner {margin-top: 20px;}
.album_baner p{font-size: .4rem;color: #fff;font-weight: bold;position: absolute;top: .6rem;width: 100%;text-align: center;}


/*内容*/
.content{padding: 0 .24rem 1rem;}
.content li{margin-top: .3rem;width: 100%;border-radius: .1rem;position: relative;overflow: hidden;}
.video_box .video_img{height: 4rem; position: relative;}
.video_box .video_img a{display: block;    height: 4rem;}
.video_box .video_img img{width: 100%; height: 100%; object-fit: cover;  border-radius: .1rem;}
.info_box{background:linear-gradient(0deg,rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); position: relative; position: absolute; bottom: 0; left: 0; right: 0;padding: .43rem .2rem .2rem}
.anchor_img{width: .9rem; height: .9rem; border-radius: 50%; overflow: hidden; display: inline-block; vertical-align: middle;float: left; }
.anchor_img img{width: 100%; height: 100%; object-fit: cover;}

.info_box .video_info{margin-left: 1rem;  }
.info_box .video_info p{font-size: .24rem; color: #BCBABA;}
.info_box .video_info h3 a{color: #fff; font-size: .32rem; font-weight: normal; margin-top: .1rem; overflow:hidden;  text-overflow: ellipsis; white-space: nowrap;max-width: 100%;display: block;}

.video_top{position: absolute; top: .1rem; left: .1rem; color: #fff; font-size: 0;  display: block; border-radius: .14rem;background:rgba(0,0,0,.6);}
.video_top span.video_state{display: inline-block;font-size: .2rem;color: #fff;padding: 0 .22rem;border-radius: .14rem;height: .3rem;line-height: .34rem;}
.video_top .video_state.living{background:linear-gradient(269deg,rgba(81,65,246,1) 0%,rgba(202,21,252,1) 100%);}
.video_top .video_state.living::before{width: .8rem; height: .32rem; background: url(../images/onfair2.gif) no-repeat center; background-size: contain;}
.video_top .video_state.live_after{background:linear-gradient(269deg,rgba(70,190,5,1) 0%,rgba(135,204,36,1) 99%);}
.video_top .video_state.live_before{background:linear-gradient(269deg,rgba(255,133,59,1) 0%,rgba(255,186,21,1) 100%);}
.video_top span.look_num{display: inline-block;padding: 0 .16rem 0 .1rem;font-size: .2rem;color: #fff;height: .3rem;line-height: .34rem;}


.loading{ height: .28rem; margin: auto; padding: .6rem; text-align: center; margin-top: 1rem;}
.loading img{display: block; width: 2rem ; margin: auto;}
.loading span{font-size: .26rem; color: #999; text-align: center;}
