body,html{background: #fff;height: 100%}
/*头部详情*/
.news_baner{width: 100%;height: 2rem;position: relative;}
.news_baner img{width: 100%;height: 100%;object-fit: cover;}
.huoniao_iOS .news_baner {margin-top: 0;}
.news_baner p{font-size: .4rem;color: #fff;font-weight: bold;position: absolute;top: .6rem;width: 100%;text-align: center;} 
/*导航*/
.nav{box-shadow:0px 0px 40px 0px rgba(0, 0, 0, 0.13);border-radius: .2rem;background: #fff;font-size: 0;margin:-.5rem .24rem 0;position: relative;overflow-x: auto;white-space: nowrap;padding: 0 .66rem}
.nav::-webkit-scrollbar { display: none }
.nav span {display: inline-block;margin-right: .66rem;position: relative;}
.nav span:last-child{margin-right: 0}
.nav span a{font-size: .32rem;font-weight: bold;padding: .3rem 0 .36rem ;display: block;}
.nav span em{font-size: .26rem;font-weight: normal;}
.nav span.active a{color: #FF4C14}
.nav span.active::after{content: '';display: block;width: .56rem;height: .06rem;border-radius: .03rem;background:linear-gradient(95deg,rgba(255,149,84,1) 0%,rgba(255,76,20,1) 100%);position: absolute;left: 50%;bottom: 0 ;margin-left: -.28rem}
/*内容*/
.content{padding: .3rem .24rem; font-size: .26rem; line-height: .5rem;}
.content .newsd-tit{font-size: .46rem;font-weight: bold;line-height: .6rem;margin-bottom: .2rem }
.content .newsInfo{ border-bottom: 1px solid #E6E6E6; padding-bottom: .34rem;}
.content .newsInfo em{display: inline-block;padding: 0 .2rem;height: .48rem;line-height: .5rem;font-size: .26rem;color: #666;border: 1px solid #666;border-radius: .24rem;margin-right: .23rem}
.content .newsInfo span{color: #999;font-size: .26rem}
.content .newsInfo span i{display: inline-block;width: .34rem; height: .34rem; margin-right: .06rem; vertical-align: middle;margin-top: -.04rem}
.content .newsInfo span.pub_time i{background-image: url(../images/news_clock.png);background-repeat: no-repeat;  background-size: .34rem; }
.content .newsInfo span.pub_see{margin-left: .3rem}
.content .newsInfo span.pub_see i{background-image: url(../images/read3.png); background-repeat: no-repeat; background-size: .34rem; }
.new_detail{padding-top: .4rem;}
.new_detail p{font-size: .3rem!important;line-height: .52rem}
.new_detail span{font-size: .3rem!important;line-height: .52rem}
.new_detail img{max-width: 100%!important;max-height: 4.65rem!important;margin-bottom: .2rem;margin-top: .2rem}
/*新闻列表*/
.news{background: #fff;padding: .3rem .24rem;}
.newList li{padding: .3rem .2rem;background: #fff;box-shadow:0px 0px 40px 0px rgba(0, 0, 0, 0.13);border-radius: .2rem;overflow: hidden;margin-bottom: .3rem}
.newList li a{position: relative;display: block;}
.newList li .mr{margin-right: 2rem;}
.newList li .news-txt{overflow: hidden;}
.newList li .new_title{max-width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;line-height: .4rem}
.newList li .news_type span{color: #FF6C00;font-size: .24rem;display: inline-block;vertical-align: top;margin-right: .1rem;margin-bottom: .2rem}

.newList li h3{font-size: .32rem;overflow: hidden;font-weight: bold;display: inline-block;}
.newList li p{color: #999;font-size: .24rem;}
.newList li p i{display: inline-block;width: .28rem; height: .28rem; background-image: url(../images/read2.png); background-size: .28rem; margin-right: .07rem; background-repeat: no-repeat; vertical-align: middle;margin-left: .3rem}
