/*头部*/
html,body{background: #fff;height: 100%}
body{padding-bottom: calc(.4rem + env(safe-area-inset-bottom));padding-bottom: calc(.4rem + constant(safe-area-inset-bottom));padding-bottom: .4rem}
.header{position: fixed !important;}
.qj_baner{width: 100%;height: 2rem;position: relative;margin-top: .9rem}
.qj_baner img{width: 100%;height: 100%;object-fit: cover;}
.huoniao_iOS .qj_baner {margin-top: 0;}
.qj_baner p{font-size: .4rem;color: #fff;font-weight: bold;position: absolute;top: .6rem;width: 100%;text-align: center;}

.qj_wrap{margin: -.3rem .24rem 0;box-shadow:0px 0px 40px 0px rgba(0, 0, 0, 0.13);border-radius: .2rem;padding: .3rem .2rem .1rem;position: relative;background: #fff}

.view-content .view-item{width: 3.2rem;float: left;margin-right: .2rem;border-radius: .1rem;margin-bottom: .2rem;overflow: hidden;position: relative;}
.view-content .view-item:nth-child(2n){margin-right: 0}
.view-content .view-item .img{width: 100%;height: 2.37rem;}
.view-content .view-item .img img{width: 100%;height: 100%;object-fit: cover;}
.view-content .view-item .img i.img-icon{display: inline-block;position: absolute;right: .1rem;bottom: .1rem;width: .7rem;height: .7rem;background:url(../images/vr.gif) no-repeat center;background-size: .7rem;z-index: 2}
.view-content .view-item .name{padding: .36rem .2rem .18rem;font-size: .28rem;color: #fff;position: absolute;bottom: 0;width: 100%;box-sizing: border-box;}
.view-content .view-item .name span{color: #fff;position: relative;z-index: 2}
.view-content .view-item .name:before{content: '';display: block;width: 100%;height: 100%;background:linear-gradient(0deg,rgba(0,0,0,0.79) 65%,rgba(0,0,0,0) 100%);opacity: 0.8;position: absolute;bottom: 0;left: 0}
/*播放弹窗*/
.playdalog{position: fixed;top: 0;bottom: 0;left: 0;right: 0;background-color: rgba(0,0,0,0.3);z-index: 20000000;display: none;}
.playdalog>div{width: 100%;height: 100%;background-color: #fff; position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.playdalog>div iframe {display: block;width:100%;height:100%;border:none;}
.playdalog>div .close{display: inline-block;width: 60px;height: 60px;cursor: pointer;position: absolute;top: 0px;right: 0px;background:url(../images/album-close.png) no-repeat;background-size: contain;}
.playdalog>div .title{height: 56px;padding-left: 25px;line-height: 56px;color: #fff;font-size: 18px; position: absolute;bottom: 0;right: 0;left:0;background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));}
