*{margin: 0;padding: 0;-webkit-tap-highlight-color: rgba(255,0,0,0);}
body{max-width: 1080px;margin: 0 auto;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;font-size: .24rem;background: #F5F5F5}
html{background: #F5F5F5}
i,em{font-style: normal;}
.dn{display: none;}
/*头部*/
.header{position: fixed;left: 0;right: 0;z-index: 11}


.search-box{height: 1rem;line-height: 1rem;background: #fff;padding: .15rem ;box-sizing: border-box;position: relative;margin-top: .9rem}
.huoniao_iOS .search-box {margin-top: 0;}
.search-box .search{width: 6rem;height: .64rem;border-radius: .32rem;background-color: rgb(245, 245, 247);position: relative;}
.search-box .search i{display: inline-block;width: .27rem;height: .28rem;background:url("../images/icon_search.png") no-repeat;background-size: contain;margin: 0 0 .14rem .28rem;}
.search-box .search input{font-size: .26rem;position: absolute;top: 0;bottom: 0;left: .8rem;border: 0;background: none;}
.search-box .search input::-webkit-input-placeholder{color: rgb(140, 140, 140);}
.search-box .search-btn{color: rgb(120, 120, 120);font-size: .3rem;position: absolute;right: .4rem;top: 0;}

/*列表*/
.list{margin-top: .3rem;padding: 0 .24rem}
.list li{padding:.3rem .2rem;box-shadow:0px 6px 40px 0px rgba(187,187,187,0.25);border-radius: .1rem;margin-bottom: .3rem;background: #fff}
.list li a{display: block;}
.list li h2{font-size: .36rem;font-weight: bold;max-width:100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.list li .comment {margin-top: .1rem}
.list li .comment .starbg{float:left;width: 1.2rem;height: .24rem;background:url(../images/star_no.png) repeat-x;background-size: .24rem;}
.list li .comment .starbg .star{display:block;height: .24rem;background:url(../images/star_yes.png) repeat-x;background-size: .24rem;}
.list li .addr{margin-top: .23rem}
.list li .addr span.address{display: inline-block;font-size: .24rem;max-width:5.5rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #777;}
.list li .addr span.dis{float: right;font-size: .24rem}
.list li .img3{margin-top: .3rem;display: flex;justify-content: space-between;height: 1.54rem;}
.list li .img3 img{width: 2.07rem;height: 100%;border-radius: .1rem}
/*图片只有一张时*/
.list li .listInfo1{float: left;width: 4.4rem;}
.list li .listInfo1 .addr span.address{max-width: 3.5rem}
.list li .img1{float: right;width: 2rem;height: 2rem;border-radius: .12rem;overflow: hidden;}
.list li .img1 img{width: 100%;height: 100%;object-fit: cover}

.listInfo1 .has-module{margin-top: .2rem;font-size: 0}
.listInfo1 .has-module span{display: inline-block;font-size: .24rem;color: #666;padding: 0 .14rem;height: .42rem;line-height: .44rem;border-radius: .04rem;background:rgba(238,238,238,1);opacity: .6;margin-right: .1rem}
.listInfo1 .has-module span:nth-child(3){font-size: .4rem;line-height: .2rem;vertical-align: top}

.pic-box{width: 1.8rem;height: 1.3rem;float: left;border: 1px solid #f1f1f1;border-radius: .08rem;}
.pic-box img{display: block;width: 100%;height: 100%;border-radius: .08rem;}
.pic-txt{margin-left: 2rem;}
.pic-txt h3{font-size: .28rem;}
.pic-txt h3 .shop-name{line-height: .4rem;margin-right: .1rem;}
.pic-txt h3 .pic-tag{font-size: .2rem;display: inline;}
.pic-txt h3 .pic-tag i{font-size: .22rem;display: inline-block;text-align: center;color: #fff;border-radius: .08rem;margin-right: .04rem;vertical-align: text-bottom;padding: .05rem;line-height: 1}
.pic-txt h3 i.hui{background: #fd6830;}
.pic-txt h3 i.tuan{background: #ff692e;}
.pic-txt h3 i.ding{background: #7dd08a;}
.pic-txt h3 i.cu{background: #b6d740;}
.pic-txt h3 i.dian{background: #00bbce;}
.pic-txt h3 i.pai{background: #facb19;}
.pic-txt h3 i.wai{background: #fe8c46;}
.pic-txt h3 i.yan{background: #fe618e;}
.pic-txt h3 i.ka{background: #b780ff;}
.pic-txt .per s{background: url(../images/gray.png) no-repeat;background-size: 1.7rem .3rem;display: inline-block;width: 1.7rem;height: .3rem;}
.pic-txt .per s em{background: url(../images/yellow.png) no-repeat;background-size: 1.7rem .3rem;display: block;height: .3rem;width: 87%;}
.pic-txt .grey{color: #787878;}
.pic-txt .address{line-height: .4rem;height: .4rem;}
.pic-txt .address span{margin-right: .1rem;}

/*遮罩层*/
.mask{width: 100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;z-index: 9!important;display: none;bottom: 0}
.loading{text-align: center; font-size: .3rem; line-height: 1.5rem;}
