body{background: #fff;}
/*头部详情*/
.album_baner{width: 100%;height: 2rem;position: relative;}
.album_baner img{width: 100%;height: 100%;object-fit: cover;}
.huoniao_iOS .album_baner {margin-top: 20px;}
.album_baner p{font-size: .4rem;color: #fff;font-weight: bold;position: absolute;top: .6rem;width: 100%;text-align: center;}


/*内容*/
.content{padding: 0 .24rem 1rem;margin-top: -.5rem;position: relative;}
.content li{margin-bottom: .3rem;width: 100%;border-radius: .2rem;position: relative;overflow: hidden;box-shadow:0px 0px 40px 0px rgba(0, 0, 0, 0.13);padding: .3rem .2rem;box-sizing:border-box;background: #fff}
.content li h2{font-size: .32rem;color: #3B3B3B;font-weight: bold;overflow:hidden;  text-overflow: ellipsis; white-space: nowrap;max-width: 100%;}
.content li h3{font-size: .26rem;color: #999;line-height: .36rem;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;margin-top: .2rem}
.content li .img_box{margin-top: .3rem;font-size: 0;position: relative;}
.content li .img_box img{width: 2.1rem;height: 1.54rem;margin-right: .16rem;display: inline-block;}
.content li .img_box img:nth-child(3n){margin-right: 0}
.content li .img_box .picNum{position: absolute;bottom:.2rem;right:.2rem;padding:.05rem .15rem;display: block;z-index: 9;background: rgba(0,0,0,.4);border-radius: .38rem;color:#fff;font-size: .24rem}
.content li .img_box .picbox{position: relative;overflow: hidden;}
.content li .tieInfo{font-size: 0;margin-top: .28rem}
.content li .tieInfo span{font-size: .24rem;color: #999}
.content li .tieInfo span i{display: inline-block;width: .3rem;height: .3rem;margin-right: .1rem;vertical-align: middle;margin-top: -.04rem;}
.content li .tieInfo span.tie_comment{margin-right: .5rem}
.content li .tieInfo span.tie_comment i{background: url(../images/tie_comment.png) no-repeat center; background-size: .3rem;}
.content li .tieInfo span.tie_zhuan i{background: url(../images/tie_zhuan.png) no-repeat center; background-size: .3rem;}

.loading{ height: .28rem; margin: auto; padding: .6rem; text-align: center;}
.loading img{display: block; width: 2rem ; margin: auto;}
.loading span{font-size: .26rem; color: #999; text-align: center;}
