*{margin: 0;padding: 0;-webkit-tap-highlight-color: rgba(255,0,0,0);}
body{max-width: 1080px;margin: 0 auto;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;font-size: .24rem;font-family: tahoma,arial,"Hiragino Sans GB","Microsoft Yahei","\5b8b\4f53";color: #000;font-weight: 500;}
html{background: #fff;}
i,em{font-style: normal;}
.dn{display: none;}
.bn{border-top: none !important;}
a{color: #000;}
input.checkbox{-webkit-appearance: none;border: 1px solid #ddd;display: inline-block;width: .3rem;height: .3rem;vertical-align: text-top;margin-right: .1rem;border-radius: .04rem;}
input.checkbox:checked {background: url(../images/dui1.png) center center no-repeat;background-size: .25rem auto;}

/*头部*/
.header{position: fixed !important;}

/*视频*/

.video{background: #fff;padding-bottom: .4rem;}
.video-box{margin: .3rem .24rem 0;box-shadow:0px 0px 12px 0px rgba(0, 0, 0, 0.13);border-radius: .2rem;overflow: hidden;}
.video-box h3{font-size: .32rem;line-height: .88rem;color: #222;text-align: center;}
.video-wrap{width: 100%;height: 5.26rem;position: relative;}
.video-wrap-nb {background: none!important;}
.video-wrap video{width: 100%; height: 100%; display: none;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom: auto;}
.video .bg{background:  url(../images/v-deicon.png) center center no-repeat;width: 100%;height: 100%;background-size: 1rem 1rem;}
.video .bg a{display: block; width: 100%; height: 100%;}

.video .video-time{display: block;padding: 0 .23rem;font-size: .24rem;color: #fff;height: .4rem;line-height: .42rem;border-radius: .2rem;background: rgba(0,0,0,.7);position: absolute;right: .1rem;bottom: .1rem;z-index: 2}