
/*顶部固定*/
.header{position: fixed;left: 0;right: 0;}
body{background: #f8f8f8}

/*头部*/
.content{margin-top: .9rem;padding: .4rem .24rem .18rem;background: #fff}
.huoniao_iOS .content {margin-top: 0;}
.content .anli_title{font-size: .36rem;color: #333;font-weight: bold;}
.content ul{margin-top: .3rem}
.content ul li{display: inline-block;font-size: .26rem;color: #333;width: 35%;margin-bottom: .2rem}
.content ul li span:first-child{color: #A0A0A0;margin-right: .15rem}
/*详情*/
.comp_content{padding: .28rem .24rem .28rem;background: #fff;margin-top: .2rem;box-shadow: 0px 2px 6px 0px rgba(192, 192, 192, 0.2);}
.comp_content .left_b{width: .84rem;height: .84rem;float: left;}
.comp_content .left_b img{width: 100%;height: 100%;object-fit:cover;border-radius: 50%}
.comp_content .right_b{margin-left: .2rem;float: left;}
.comp_content .right_b .com_type{font-size: .34rem;font-weight: bold;color: #333;display: inline-block;max-width: 5rem}
.comp_content .right_b .com1 span{display: inline-block;background-size: .34rem .4rem;  width: .34rem;height: .4rem;vertical-align: top;margin-top: .01rem;}
.comp_content .right_b .defend{background: url(../images/defend.png) center center no-repeat;margin-right: .08rem;margin-left: .1rem}
.comp_content .right_b .certify{background: url(../images/certify.png) center center no-repeat;}
.comp_content .right_b .right_ul{font-size: 0;margin-top: .1rem}
.comp_content .right_b .right_ul li{color: #A0A0A0;font-size: .26rem;display: inline-block;margin-right: .27rem}
.comp_content .com_phone{float: right;height: .76rem;border-left: 1px solid #e7e7e7;padding-left: .2rem;padding-right: .06rem}
.comp_content .com_phone img{width: .4rem;height: .38rem;margin-top: .2rem}

/*设计师详情*/
.comp_content .right_b .artist{margin-right: .12rem}
.comp_content .order{float: right;width: 1.36rem;height: .54rem;line-height: .54rem;text-align: center;border-radius: .04rem;background: #F97126;margin-top: .18rem;color: #fff;font-size: .28rem}
.comp_content .order a{color: #fff;font-size: .28rem}
/*服务详情2*/
.container{margin-bottom: calc(1.5rem + env(safe-area-inset-bottom));margin-bottom: calc(1.5rem + constant(safe-area-inset-bottom));}
.detail_img{width:auto!important;height:auto!important;max-width:100%!important;max-height:100%!important;}

.ser_content{padding: .34rem .24rem 0;background: #fff;margin-top: .2rem;}
.ser_content .sev_name{font-size: .32rem; color: #333;text-align: center;   }
.ser_content .sev_info{font-size: .3rem;    margin: .4rem auto 0;color: #5a5a5e}
.ser_content .ser_img{margin-top: .35rem;}
.ser_content2{padding-bottom: .33rem}
.ser_content2 .ser_img img{margin-top: .2rem;}
.ser_content2 .ser_img img:first-child{margin-top: 0}


/*底部收藏店铺*/
.peo_footer{padding-top:.58rem;padding-left:.47rem;padding-bottom:.4rem;width:100%;background: #f8f8f8;position: fixed;bottom: 0;box-sizing: border-box;z-index: 999; padding-bottom: calc(.4rem + env(safe-area-inset-bottom));padding-bottom: calc(.4rem + constant(safe-area-inset-bottom));}
.peo_footer ul{font-size: 0}
.peo_footer ul li{text-align: center;display: inline-block;font-size: .28rem;color: #888888;height: .36rem;line-height: .36rem}
.peo_footer ul li.follow-wrapper{margin-right: 1.5rem}
.peo_footer ul li a{display: inline-block}
.peo_footer ul li p{display: inline-block;vertical-align: top;color: #888888;}
.peo_footer ul li p:first-child{margin-right: .14rem}
.follow-icon2{width: .34rem;height:.33rem;background: url(../images/share.png) no-repeat center;background-size: .34rem .33rem;margin: 0 auto }
/*立即预约弹出层*/
.order_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 9999;display: none;}
.order_container{position: fixed; left: 50%; margin-left: -3.5rem; top: 50%; margin-top: -2.2rem; width: 7rem;    box-sizing: border-box;background-color:#fff;  padding: .4rem .36rem .36rem; z-index: 99; border-radius: .04rem}
.order_container .work_close{width: .3rem;height: .3rem;position: absolute;right: .3rem}
.order_container p.t1{margin-top: .26rem;font-size: .4rem;font-weight: bold;color: #333;text-align: center;}
.order_container p.t1 .peo_name{color: #F97126}
.order_container form{margin-top: .2rem}
.order_container input{width: 100%;height: .88rem;line-height: .88rem;padding-left: .3rem;box-sizing: border-box;;-webkit-appearance:none;border:1px solid #e5e5e5;font-size: .26rem;margin-top: .2rem;border-radius: .04rem}
.order_container input::placeholder{color: #a0a0a0}
.order_container .free{width: 100%;height: .88rem;line-height: .88rem;text-align: center;color: #fff;background:#F97126;border-radius: .04rem;margin-top: .45rem ;font-size: .3rem}
.order_container .alert_item{background:#efefef;width:2.1rem;height:0.5rem;line-height:0.5rem;text-align:center;font-size:0.24rem;border-radius:0.1rem;border:0.02rem solid #bfbfbf;opacity:0.8;display:none;margin-left:-0.9rem;}

.order_container .name-1 {position:absolute;top:20%;left:18%;}
.order_container .phone-1 {width:2.5rem;position:absolute;top:41%;left:18%;}


