
/*顶部固定*/
.header{position: fixed;left: 0;right: 0;}
body{background: #f8f8f8}

/*头部*/
.content{margin-top: .9rem;background: url(../images/art_bg.png) no-repeat center;background-size: cover;width: 100%;text-align: center;overflow: hidden;}
.huoniao_iOS .content {margin-top: 0;}
.content .art_top{width: 1.2rem;height: 1.2rem;border:.03rem solid #fff;border-radius: 50%;margin: .42rem auto 0;}
.content .art_top img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%}
.content .com1{margin: .22rem auto}
.content .com1 .com_type{font-size: .34rem;font-weight: bold;color: #333;display: inline-block;color: #fff;}
.content .com1 span{display: inline-block;background-size: .34rem .4rem;  width: .34rem;height: .4rem;   vertical-align: top;margin-top: .04rem;}

.content .certify{background: url(../images/certify.png) center center no-repeat;margin-left: .15rem}
.content .art_info{color: #fff;font-size: .26rem;}
.content .art_info .work{padding-left: 0;border-right: 1px solid #fff}
.content .art_info span{display: inline-block;height: .26rem;line-height: .26rem;padding: 0 .36rem;}
.content ul{font-size: 0;overflow:hidden;padding: .3rem .1rem .4rem}
.content ul li{width: 2.7rem;height: .6rem;text-align: center;line-height: .65rem;background: #0CDA8F;color: #fff;font-size: .26rem;display: inline-block;vertical-align: top;border-radius: .06rem}
.content ul li a{color: #fff}
.content ul li.phone{font-size: .28rem;background: #FAC31D;margin-right: .24rem}
.content ul li.phone img{margin-right: .1rem;width: .3rem;height: .3rem;vertical-align: middle;margin-top: -.1rem;}
.content ul li.phone em{font-size:.26rem;}
/* 案例 文章 简介*/
.content2{background: #f8f8f8;}
.content2 .art_tab{background: #fff;padding: 0 .24rem}
.content2 .art_tab ul{display: flex;}
.content2 .art_tab ul li{font-size: .3rem;color: #333;text-align: center;width: 33.3%;padding: .26rem 0;border-bottom: 3px solid #fff}
.content2 .art_tab ul li.active{border-bottom: 3px solid #F97126;color:#F97126 }


.art_container .art_content{display: none;animation: rightFadeIn .5s ease-out;}
.art_container .art_show{display: block;}

/*案例*/
.art_anli ul li{background: #fff;margin-top: .2rem;padding: .32rem .24rem .34rem}
.art_anli ul li:active{background: #f2f2f2}
.art_anli ul li .top_img{width: 100%;height: 4.2rem;border-radius: .04rem}
.art_anli ul li .top_img img{width: 100%;height: 100%;object-fit: cover;}
.art_anli ul li .art_title{font-size: .34rem;color: #333;font-weight: bold;margin-top:.35rem;margin-bottom: .2rem;}
.art_anli ul li .art_info2{font-size: .26rem;color: #A0A0A0;}

/*文章*/
.art_article{margin-top: .2rem;padding: 0 .24rem;background: #fff}
.art_article ul li{border-bottom: 1px solid #eee;padding: .3rem 0}
.art_article ul li:active{background: #f2f2f2}
.art_article ul li .left_b{}
.art_article ul li .left_b .arti_title{font-size: .34rem;color: #333;font-weight: bold;max-width: 4.4rem;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.art_article ul li .left_b .arti_info{font-size: .26rem;line-height:.36rem;color: #a0a0a0;margin-top: .25rem;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}
.art_article ul li .right_b{margin-left: .2rem;width: 2.44rem;height: 1.8rem;float: right;}
.art_article ul li .right_b img{width: 100%;height: 100%;object-fit: cover;}

/*简介*/
.art_intro {padding: 0 .24rem .3rem}
.art_intro .intro_top{background: #fff;border-radius: .04rem;box-shadow: 0px 2px 8px 0px rgba(192, 192, 192, 0.2);margin-top: .2rem;position:relative;}
.art_intro .intro_top .left_b{    position: absolute;left: 0; top: 0; bottom: 0;width: .54rem;background: #e8e8e8;font-size: .26rem;color: #acacac;align-items: center;display: flex;justify-content: center;line-height: .26rem;}
.art_intro .intro_top .right_b {box-sizing: border-box;padding:.3rem .26rem .3rem .9rem}
.art_intro .intro_top .right_b .com_type{font-size: .34rem;font-weight: bold;color: #333;display: inline;}
.art_intro .intro_top .right_b .com1 span{display: inline-block;background-size: .34rem .39rem;font-size: .22rem;color: #fff;    width: .34rem;height: .39rem;line-height: .34rem;text-align: center;    vertical-align: top;margin-top: .04rem;}
.art_intro .intro_top .right_b .defend{background: url(../images/defend.png) center center no-repeat;margin-right: .08rem;margin-left: .1rem}
.art_intro .intro_top .right_b .certify{background: url(../images/certify.png) center center no-repeat;}
.intro_top .right_b p{font-size: .26rem;color: #a0a0a0;}
.intro_top .right_b p span:first-child{margin-right: .08rem}
.intro_top .right_b p.address{margin-top: .25rem}
.intro_top .right_b p.call{margin-top: .05rem}

.intro_bottom{padding: .3rem .24rem;background: #fff;margin-top: .2rem}
.intro_bottom ul {}
.intro_bottom ul li{padding: .24rem 0;border-bottom: 1px dashed #d7d7d7}
.intro_bottom ul li:last-child{border-bottom: none}
.intro_bottom ul li .titile{font-size: .26rem;color: #a0a0a0}
.intro_bottom ul li .intro_content{font-size: .26rem;color: #333;line-height: .4rem;margin-top: .1rem}

/*立即预约弹出层*/
.order_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 9999;display: none;}
.order_container{position: fixed; left: 50%; margin-left: -3.5rem; top: 50%; margin-top: -2.2rem; width: 7rem;    box-sizing: border-box;background-color:#fff;  padding: .4rem .36rem .36rem; z-index: 99; border-radius: .04rem}
.order_container .work_close{width: .3rem;height: .3rem;position: absolute;right: .3rem}
.order_container p.t1{margin-top: .26rem;font-size: .4rem;font-weight: bold;color: #333;text-align: center;}
.order_container p.t1 .peo_name{color: #F97126}
.order_container form{margin-top: .2rem}
.order_container input{width: 100%;height: .88rem;line-height: .88rem;padding-left: .3rem;box-sizing: border-box;;-webkit-appearance:none;border:1px solid #e5e5e5;font-size: .26rem;margin-top: .2rem;border-radius: .04rem}
.order_container input::placeholder{color: #a0a0a0}
.order_container .free{width: 100%;height: .88rem;line-height: .88rem;text-align: center;color: #fff;background:#F97126;border-radius: .04rem;margin-top: .45rem ;font-size: .3rem}
.order_container .alert_item{background:#efefef;width:2.1rem;height:0.5rem;line-height:0.5rem;text-align:center;font-size:0.24rem;border-radius:0.1rem;border:0.02rem solid #bfbfbf;opacity:0.8;display:none;margin-left:-0.9rem;}

.order_container .name-1 {position:absolute;top:20%;left:18%;}
.order_container .phone-1 {width:2.5rem;position:absolute;top:41%;left:18%;}

/*预约成功弹出层*/
.order_mask2{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 100;display: none;}
.order_container2{position: fixed; left: 50%; margin-left: -3rem; top: 50%; margin-top: -2.2rem; width: 6rem;padding-bottom: .6rem ;    box-sizing: border-box;background-color:#fff;  padding: .54rem .74rem .4rem; z-index: 99; border-radius: .04rem}

.order_container2 p.t1{margin-top: .2rem;font-size: .34rem;font-weight: bold;color: #333;text-align: center;}
.order_container2 p.t2{margin-top: .3rem;line-height: .4rem;color: #a0a0a0;font-size: .26rem;}
.order_container2 p.t3{margin-top: .3rem;width: 1.7rem;height: .6rem;line-height: .6rem;color: #fff;border-radius: .04rem;text-align: center;background: #0bd7b3 ;margin: .2rem auto 0}
/* 波纹效果2 */
.order_container2 .wave {position:relative;width:.76rem;height:.76rem;text-align:center;margin:0 auto;}
.order_container2 .m-box{width:.68rem;height:.68rem;position:relative;margin: 0 auto;background:#fff;border-radius:50%;border:.04rem solid #f54d0c;}
.order_container2 .m-duigou{width:.32rem;height:.25rem;position:absolute;left:50%;top:50%;margin:-.18rem 0 0 -.18rem;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden;}
.order_container2 .m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#f54d0c;border-radius:2px}
.order_container2 .m-duigou:before{width:.04rem;height:.25rem;left:0;-webkit-animation:dgLeft 0.5s linear 0s 1 both;animation:dgLeft 0.5s linear 0s 1 both}
.order_container2 .m-duigou:after{width:.32rem;height:.04rem;bottom:0;-webkit-animation:dgRight 0.5s linear 0.5s 1 both;animation:dgRight 0.5s linear 0.5s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@keyframes circle-opacity {from {opacity:1;transform:scale(0);}
to {opacity:0.5;transform:scale(1);}
}
.loading{text-align: center;line-height: .88rem}
/*国籍区号*/
.formCommon .inpbox{width: 100%;    border: 1px solid #e5e5e5;    border-radius: .04rem;position: relative;margin-top: .22rem}
.formCommon .inpbox input#order_phone {width:78%;border: none;margin-top: 0;padding: 0 .2rem}
.areacode_span{text-indent: .24rem}