
/*顶部固定*/
.header{position: fixed;left: 0;right: 0;}
html,body{background: #f8f8f8;color: #333}

/*头部*/
.contact_wrap{margin-top: 1.1rem;padding: .42rem .3rem;background: #fff}

.huoniao_iOS .contact_wrap {margin-top: 0;}

.com_title{font-size: .34rem;font-weight: bold}
.com_title span{display: inline-block;background-size: .34rem .4rem!important;   width: .34rem;height: .4rem;    vertical-align: top;margin-top: .02rem;}
.com_title .certify{background: url(../images/certify.png) no-repeat;margin-left: .2rem}

.contact_wrap ul{margin-top: .45rem}
.contact_wrap ul li{font-size: .26rem;margin-bottom: .23rem}
.contact_wrap ul li span:first-child{color: #a0a0a0;margin-right: .3rem;display: inline-block;width: .55rem;}
.contact_wrap2{padding: 0 .24rem}
#allmap{width:100%;height:5.1rem;}