
/*顶部固定*/
.header{position: fixed;left: 0;right: 0;}
html,body{background: #f8f8f8;color: #333}

/*头部*/
.content{margin-top: 1.1rem;}
.huoniao_iOS .content {margin-top: 0;}

.content .result_title{background:#81858D url(../images/reno_company/design_bg.png) no-repeat;background-size:100%;font-size: .3rem;color: #fff;font-weight: bolder;height: 2.42rem;text-align: center;width: 100%;box-sizing: border-box;padding-top: .55rem}
.content .result_title .free_tit{font-size: .32rem;}
.container{margin-top: -1.4rem;    padding: 0 .24rem;}
/*表单*/
.free_list {position:relative;margin-top: .4rem;background: #fff;padding: .35rem .24rem .5rem;border-radius: .04rem}
.free_list .free_in {padding-bottom:.2rem;position:relative;}
.free_list .free_in input {background:#fff;padding:.28rem .26rem .28rem .2rem;border-radius:0.08rem;font-size:.26rem;width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;color:#333;border:1px solid #ddd;-webkit-appearance: none;}
.free_list .free_in p {background:#fff;padding:.28rem .26rem .28rem .2rem;border-radius:0.08rem;font-size:.26rem;width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;color:#333;border:1px solid #ddd;-webkit-appearance:none;outline:none;display:inline-block;}
.free_list .free_in i {display:block;position:absolute;right:.34rem;top:.35rem;width:.3rem;height:.16rem;background:url(../images/arrowDown.png) no-repeat;background-size:100%;}
.free_list .free_in .submit {display:block;width:100%;height:.9rem;line-height:.9rem;background:#F97126;border-radius:.04rem;text-align:center;color:#fff;font-size:.35rem;margin-top:.147rem;}
.free_list input::placeholder{color: #A0A0A0}
.house_area{position: relative;}
.house_area .mills{position: absolute;right: .27rem;top: .27rem;color: #a0a0a0;font-size: .28rem;}
.free_list .free_in p.curr{color: #333;}
.free_list .room_type {padding-bottom:0.22rem;position:relative;}
.free_list .room_type input {background:#fff;color: #333;border: none;font-size: .26rem}
.free_list .room_type p {background:#fff;padding:.24rem  .3rem;border-radius:0.08rem;font-size:.26rem;width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;color:#333;border:1px solid #ddd;-webkit-appearance:none;outline:none;display:inline-block;color:#b3adad;}
.free_list .room_type i {display:block;position:absolute;right:.34rem;top:.35rem;width:.3rem;height:.16rem;background:url(../images/arrowDown.png) no-repeat;background-size:100%;}
.free_list .inv_price {padding-bottom:0.22rem;position:relative;}
.free_list .inv_price input {background:#fff;color: #333;border: none;font-size: .26rem}
.free_list .inv_price p {background:#fff;padding:.24rem  .3rem;border-radius:0.08rem;font-size:.26rem;width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;color:#333;border:1px solid #ddd;-webkit-appearance:none;outline:none;display:inline-block;color:#b3adad;}
.free_list .inv_price i {display:block;position:absolute;right:.34rem;top:.35rem;width:.3rem;height:.16rem;background:url(../images/arrowDown.png) no-repeat;background-size:100%;}

.free_list .inv_submit{height: .9rem;line-height: .9rem;width: 100%;text-align: center;box-sizing: border-box;color: #fff;font-size: .3rem;border-radius: .04rem;background: #F97126;    margin-top: .13rem;}
.free_list .inv_submit a{color: #fff}

/*滚动信息*/ 
.des_applay{position:relative;margin-top: .2rem;background: #fff;padding: .35rem .3rem 0;border-radius: .04rem}
.des_applay .app_tit{font-size: .26rem;color: #a0a0a0;text-align: center;}
.des_applay .app_tit span{color: #F97126;margin-left: .1rem;margin-right: .1rem}
.tcNews{padding:.48rem .24rem .28rem;margin-bottom: .2rem;}
.tcNews .mBox a{display: block;position: relative;}
.tcNews .mBox .swiper-wrapper{height: 3rem;}
.tcNews .pagination{display: none;}

.tcNews .mBox ul{display: flex;justify-content: space-between;}
.tcNews .mBox ul li{font-size: .28rem;color: #333;height: .27rem;line-height:.27rem;margin-bottom: .32rem;text-align: center;}
.tcNews .mBox ul li.origion{max-width:1.95rem;width:1.95rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.tcNews .mBox ul li:last-child{color: #F54D0C}

/*立即预约弹出层*/
.order_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 100;display: none;}
.order_container{position: fixed; left: 50%; margin-left: -2.8rem; top: 50%; margin-top: -2.2rem; width: 5.6rem;padding-bottom: .6rem ;    box-sizing: border-box;background-color:#fff;  padding: .3rem .4rem .56rem; z-index: 99; border-radius: .04rem}
.order_container .work_close{width: .48rem;height: .48rem;position: absolute;right: .3rem}
.order_container p.t1{margin-top: .4rem;font-size: .34rem;font-weight: bold;color: #333;text-align: center;}
.order_container p.t2{margin-top: .6rem;line-height: .4rem;color: #a0a0a0;font-size: .26rem;padding-top: .25rem;border-top: 1px dashed #dadada}
/* 波纹效果2 */
.order_container .wave {position:relative;width:1.1rem;height:1.1rem;text-align:center;margin:.35rem auto 0;}
.order_container .m-box{width:1.1rem;height:1.1rem;position:relative;margin: 0 auto;background:#0bd7b3;border-radius:50%;}
.order_container .m-duigou{width:.5rem;height:.3rem;position:absolute;left:50%;top:50%;margin:-.2rem 0 0 -.25rem;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden}
.order_container .m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#fff;border-radius:2px}
.order_container .m-duigou:before{width:.08rem;height:.3rem;left:0;-webkit-animation:dgLeft 0.5s linear 0s 1 both;animation:dgLeft 0.5s linear 0s 1 both}
.order_container .m-duigou:after{width:.5rem;height:.08rem;bottom:0;-webkit-animation:dgRight 0.5s linear 0.5s 1 both;animation:dgRight 0.5s linear 0.5s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@keyframes circle-opacity {from {opacity:1;transform:scale(0);}
to {opacity:0.5;transform:scale(1);}
}


/*信息提示框*/
.error{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000; display: none;}
.error p{position: fixed; width: 150px; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 50%; margin-left: -75px; top: 50%; margin-top: -24px;}

 /*国籍区号*/
.free_list .inpbox{width: 100%;    border: 1px solid #ddd;    border-radius: .08rem;position: relative;margin-bottom: .22rem}
.free_list .inpbox input {background:#fff;padding:.24rem  .2rem;font-size:.26rem;width:80%;box-sizing:border-box;-webkit-box-sizing:border-box;color:#333;-webkit-appearance: none;border: none}
.areacode_span{text-indent: .24rem}