/*头部*/
/*__更新 start__*/
.header{position: fixed;left: 0;right: 0;}
/*__更新 end__*/


/*__更新 start__*/
.list{position: relative;padding-top: 1.7rem; min-height: 7rem;}
.choose-tab {position: fixed;left: 0;right: 0;z-index: 10;top: .9rem;}
.huoniao_iOS .choose-tab{top:0;}
.huoniao_iOS .list{padding-top: .7rem;}
.choose-box{position:fixed;top: 1.7rem;left: 0;right: 0;z-index: 10;border-top: 1px solid #e3e3e3 }
.huoniao_iOS .choose-box{top:.8rem;}


/*__更新 end__*/

.choose-tab ul{height: .8rem;background: #fff;display: -webkit-box;}
.choose-tab ul li{display: block;-webkit-box-flex: 2;line-height: .8rem;text-align: center;font-size: .28rem;position: relative;}
.choose-tab ul li.window{-webkit-box-flex: 1;}
.choose-tab ul li.window i{width: .4rem;height: .4rem;display: inline-block;background: url(../images/w2.png) no-repeat center;background-size: .4rem;position: relative;top: .1rem;}
.choose-tab ul li.window.on i{width: .4rem;height: .4rem;display: inline-block;background: url(../images/w1.png) no-repeat center;background-size: .4rem;position: relative;top: .1rem;}

.choose-tab ul li.choice_name:last-child:after{background: none;}
.choose-tab ul li.active{color: #ff653b;}
.choose-tab ul li.active span{}
.choose-tab ul li span{position: relative;}
.choose-tab ul li span:after{content:'';display:inline-block;width:.1rem;height:.1rem;border-top:.02rem solid #c3c3c3;border-right:solid .02rem #c3c3c3;transform:rotate(135deg);margin-left:.14rem;margin-bottom:.08rem;}

.choose{position: relative;z-index: 9999;   }

.choose-local{background: #fff;overflow: hidden;-webkit-overflow-scrolling: touch;}
.choose-local li{height: 1rem;line-height: 1rem;font-size: .28rem;text-indent: .2rem;border-bottom: 1px solid #e3e3e3;}
.dn{display: none;}
 .choose-li {width:100%;background-color:#f3f3f3;position:fixed;top:1.7rem;box-sizing:border-box;    height: 2.8rem;}
.huoniao_iOS .choose-li{position: fixed;top: .7rem;bottom: 59%;left: 0;right: 0;}
.choose-local li.on{color:#ff653b }
/*类别*/
#area-box{max-height: 6.8rem;}
#choose-area{max-height: 6.8rem;}
#choose-area-second{height: 5.8rem;}
/*职业年限*/
#reno_class_box{padding-bottom: .8rem}
/*排列顺序*/
#orderby_box{padding-bottom: .8rem}
#choose-info-second li,#choose-area-second li{text-indent: 0.2rem;border-bottom: 1px solid #dfdfdf; border-left: 1px solid #dfdfdf;}

.choose-stage-l{    border-right: 1px solid #dfdfdf;}
.choose-stage-l-short{width: 49%;float: left;}
.choose-stage-r{width: 50%;float: left;display: none;background: #f7f7f7}
#choose-info,#choose-area{background: #fff;}

/*选中之后效果*/
#choose-info li.active,#choose-area li.active{background: #f7f7f7;border-color: #dfdfdf;color: #fd8261}
#choose-area li.on,#choose-sort li.on,#choose-info-second li.on,#choose-area-second li.on{color: #fe6f48;}
#choose-info li.current,#choose-area li.current{color: #ff653b;border-bottom: 1px solid #f74342;}

/*更多筛选*/


 #comtype_box {position:fixed;box-sizing:border-box;top:2.7rem;bottom:39%;}


.choose-more {overflow-y:auto;-webkit-overflow-scrolling:touch;position:fixed;box-sizing:border-box;top:0;bottom:0;background: #f3f3f3;height: 2.6rem;}


.choose-more .more-child{padding: 0 .24rem 0;font-size: .3rem;}
.choose-more .first_more_child .title{display: inline-block;}

.choose-more .more-child .title{padding: .2rem 0;}
.choose-more .more-child ul li{float: left;text-indent: 0;height: .56rem; line-height:.56rem;width:1.54rem;border: none;text-align: center;position: relative;border-radius: .05rem;background: #fff;margin-right: .28rem;margin-top: .24rem;font-size: .28rem;color: #666}
.choose-more .more-child ul li.select{background-color: #f97126;color: #fff;}
.choose-more .more-child ul li:nth-child(4n){margin-right: 0}
/*小箭头*/
.sort{text-align: center;height: .9rem;width:100%;position: absolute;bottom: 0;background: #fff;border-top: 1px solid #dfdfdf}
.sort:after{content: ''; display: inline-block; width: .2rem; height: .2rem; border-top:.05rem solid  #b3b3b3; border-right: solid .05rem #b3b3b3; transform: rotate(-45deg);position: absolute;bottom: .2rem;left: 50% }


/*设计师*/
.reno_company .com_ul{padding:0 .24rem;}
.reno_company ul .com_li{margin-top:.2rem;background: #fff; }
.reno_company ul .com_li:active{background: #f2f2f2}
.reno_company .com_bottom{   padding: .24rem .24rem .3rem;box-shadow:0px 2px 6px 0px rgba(214,214,214,0.3);}
.reno_company .middle{position: relative;padding-bottom: .24rem;border-bottom: 1px solid #eee}
.reno_company .com_type{font-size: .34rem;font-weight: bold;color: #333;display: inline-block;}
.reno_company .left_b{width: .5rem;height: .5rem;float: left;}
.reno_company .left_b img{width: 100%;height: 100%;object-fit:cover;border-radius: 50%}
.reno_company .right_b{margin-left: .67rem;font-size: .26rem;color: #333;height: .5rem;line-height: .5rem}
.reno_company .build_info{margin-top: .2rem}
.reno_company .artist_order{position: absolute;right: 0;top:0;font-size: .28rem;color: #fff;text-align: center;background: #F97126;width: 1.36rem;height: .54rem;line-height: .54rem;border-radius: .04rem}


 .com_bottom .bottom{margin-top: .22rem;}
 .com_bottom .bottom ul{font-size: 0}
 .com_bottom .bottom ul li{width: 2.08rem;height: 2.08rem;display: inline-block;}
 .com_bottom .bottom ul li img{width: 100%;height: 100%;object-fit:cover;border-radius: .06rem}
 .com_bottom .bottom ul li:nth-child(2){margin:auto .15rem;}
/*遮罩层*/
/*__更新 start__*/
.mask{width: 100%;height:100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;z-index: 9;bottom: 0;display: none;}
/*__更新 end__*/

.empty{text-align: center; line-height: .88rem;}
.loading{text-align: center; line-height: .88rem;}
