
/*顶部固定*/
.header{position: fixed;left: 0;right: 0;}
html,body{background: #f8f8f8}

/*头部*/
.content{margin-top: 1.1rem;margin-bottom: calc(1.8rem + env(safe-area-inset-bottom));margin-bottom: calc(1.8rem + constant(safe-area-inset-bottom));}
.huoniao_iOS .content {margin-top: 0;}

.content .result_title{background:url(../images/result_bg.png) no-repeat;background-size:100%;font-size: .42rem;color: #fff;font-weight: bolder;height: 1.57rem;line-height: 1.57rem;text-align: center;width: 100%}
.content .result_title2{font-size: .3rem;color: #333;padding-left:.18rem;padding-top: .33rem }
.content ul.result_ul{}
.content ul .result_li{padding-left: .74rem;padding-right: .24rem;position: relative;margin-top: .2rem}

.content ul .result_li:first-child{margin-top: .3rem}
.content ul .result_li:before {content:'';display:block;position:absolute;left:.24rem;top:.58rem;width:.31rem;height:.31rem;background:url(../images/res1.png) no-repeat center;background-size:100%;}
.content ul .result_li.active:before{content:'';display:block;position:absolute;left:.24rem;top:.58rem;width:.31rem;height:.31rem;background:url(../images/res2.png) no-repeat center;background-size:100%;}
.content ul .result_li .middle{padding: .32rem 0 .5rem .27rem;background: #fff;border-radius: .06rem;box-shadow:0px 2px 6px 0px rgba(214,214,214,0.3);}
.content ul .result_li .middle:active{background:#f2f2f2;}
.content .middle .left_b{width: .84rem;height: .84rem;float: left;}
.content .middle .left_b img{width: 100%;height: 100%;object-fit:cover;border-radius: 50%}
.content .middle .right_b{margin-left: 1.04rem;}
.content .middle .right_b .com_type{font-size: .34rem;font-weight: bold;color: #333;display: inline;}
.content .middle .right_b .com1 i{display: inline-block;background-size: .34rem .4rem;   width: .34rem;height: .4rem;    vertical-align: top;margin-top: .01rem;}
.content .middle .right_b .defend{background: url(../images/defend.png) center center no-repeat;margin-right: .08rem;margin-left: .1rem}
.content .middle .right_b .certify{background: url(../images/certify.png) center center no-repeat;}
.content .middle .right_b .right_ul{font-size: 0;margin-top: .1rem}
.content .middle .right_b .right_ul li{color: #A0A0A0;font-size: .26rem;display: inline-block;margin-right: .27rem;}


/*查看更多*/
.see_more{display: none;font-size: .28rem;text-align: center;color: #A0A0A0;margin:.36rem auto;}
.see_more a{color: #A0A0A0}

.loading{text-align: center;line-height: .88rem}
/*提交*/
.result_submit{position: fixed;bottom: 0;padding: .38rem .48rem;padding-bottom: calc(.48rem + env(safe-area-inset-bottom));padding-bottom: calc(.48rem + constant(safe-area-inset-bottom));background: #f8f8f8}
.result_submit ul{font-size: 0}
.result_submit ul li{color: #F97126;font-size: .3rem;width: 3.16rem;height: .72rem;line-height: .72rem;text-align: center;border: .02rem solid #F97126;border-radius: .04rem;background: #fff}
.result_submit ul li.match{float: left;}
.result_submit ul li.submit{background: #F97126;color: #fff;margin-left: 3.39rem}

/*预约成功弹出层*/
.order_mask2{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 100;display: none;}
.order_container2{position: fixed; left: 50%; margin-left: -2.68rem; top: 50%; margin-top: -2.2rem; width: 5.36rem;padding-bottom: .6rem ;    box-sizing: border-box;background-color:#fff;  padding: .54rem .34rem .36rem; z-index: 99; border-radius: .04rem}

.order_container2 p.t1{margin-top: .2rem;font-size: .34rem;font-weight: bold;color: #333;text-align: center;}
.order_container2 p.t2{margin-top: .25rem;line-height: .4rem;color: #a0a0a0;font-size: .26rem;}
.order_container2 p.t3{width: 1.7rem;height: .6rem;line-height: .6rem;color: #fff;border-radius: .04rem;text-align: center;background: #0bd7b3 ;margin: .74rem auto 0}
/* 波纹效果2 */
.order_container2 .wave {position:relative;width:.76rem;height:.76rem;text-align:center;margin:0 auto;}
.order_container2 .m-box{width:.68rem;height:.68rem;position:relative;margin: 0 auto;background:#ffe2e2;border-radius:50%;border:.04rem solid #f54d0c;}
.order_container2 .m-duigou{width:.32rem;height:.25rem;position:absolute;left:50%;top:50%;margin:-.18rem 0 0 -.18rem;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden;}
.order_container2 .m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#f54d0c;border-radius:2px}
.order_container2 .m-duigou:before{width:.04rem;height:.25rem;left:0;-webkit-animation:dgLeft 0.5s linear 0s 1 both;animation:dgLeft 0.5s linear 0s 1 both}
.order_container2 .m-duigou:after{width:.32rem;height:.04rem;bottom:0;-webkit-animation:dgRight 0.5s linear 0.5s 1 both;animation:dgRight 0.5s linear 0.5s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@keyframes circle-opacity {from {opacity:1;transform:scale(0);}
to {opacity:0.5;transform:scale(1);}
}