
/*顶部固定*/
.header{position: fixed;left: 0;right: 0;}
html,body{background: #f8f8f8;color: #333;}

/*头部*/
.art_wrap{margin-top: 1.1rem;padding: 0 .24rem}
.huoniao_iOS .art_wrap {margin-top: 0;}

/*设计师*/

.art_wrap .com_ul .com_li{margin-top:.2rem;box-shadow:0px 2px 6px 0px rgba(192,192,192,0.2);border-radius:.06rem;background: #fff;}
.art_wrap .com_ul .com_li:active{background: #f2f2f2;}
.art_wrap .com_bottom{ padding: .35rem .24rem .24rem;}
.art_wrap .left_b{width: .84rem;height: .84rem;float: left;}
.art_wrap .left_b img{width: 100%;height: 100%;object-fit:cover;border-radius: 50%}
.art_wrap .right_b{margin-left: 1.04rem;position: relative;}
.art_wrap .right_b .com_type{font-size: .34rem;font-weight: bold;color: #333;display: inline-block;}
.art_wrap .right_b .com1 span{display: inline-block;background-size: .34rem .4rem;   width: .34rem;height: .4rem; vertical-align: top;margin-top: .01rem;}

.art_wrap .right_b .certify{background: url(../images/certify.png) center center no-repeat;margin-left: .1rem}
.art_wrap .right_b .right_ul{font-size: 0;margin-top: .1rem;padding: }
.art_wrap .right_b .right_ul li{color: #A0A0A0;font-size: .26rem;display: inline-block;margin-right: .27rem}
.art_wrap .right_b .artist_order{position: absolute;right: 0;top:0;font-size: .28rem;color: #fff;text-align: center;background: #F97126;width: 1.36rem;line-height:.54rem;padding-top: .06rem;border-radius: .04rem}


.art_wrap .com_bottom .bottom{margin-top: .24rem;border-top:1px dashed #E5E5E5;padding-top: .2rem;}
.art_wrap .com_bottom .bottom p{font-size: .26rem;line-height: .38rem}
.com_bottom .bottom p span{overflow: hidden;display: inline-block;}
.art_wrap .com_bottom .bottom p span:first-child{color: #a0a0a0;margin-right: .1rem}
.art_wrap .com_bottom .bottom .art_con{max-width: 5.4rem;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}

.empty{text-align: center;}
