/*头部*/
/*__更新 start__*/
.header{position: fixed;left: 0;right: 0;}
/*__更新 end__*/

.fn-left{float: left;}
.fn-right{float: right;}


/*__更新 start__*/
.list{position: relative;padding-top: 0.9rem; }
.huoniao_iOS .list{padding-top: 0;}
/*__更新 end__*/


html{background: #fff}
.loading{text-align: center;line-height: .88rem}

/*百科全书*/
.wiki{padding: 0 .24rem;background: #fff;margin-top: .1rem;  box-shadow: 0px 2px 6px 0px rgba(214, 214, 214, 0.3);border-top: .1rem solid #f5f5f5}
.wiki .wiki_container{padding-top: .16rem}
.wiki .wiki_container ul li {padding: .26rem 0 .3rem;border-bottom: 1px solid #eee;position: relative;min-height: 1.5rem}
.wiki .wiki_container ul li:active{background: #f2f2f2}
.wiki .wiki_container ul li:last-child{border-bottom: none;}
.wiki .wiki_container ul li .left_b{    }
.wiki .wiki_container ul li .left_b .wiki_title{font-size: .34rem;color: #333;line-height: .5rem;font-weight: bold;display: -webkit-box;
-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.wiki .wiki_container ul li .left_b .wiki_info{font-size: .26rem;color: #A0A0A0;position: absolute;bottom: .33rem;left: 0}
.wiki .wiki_container ul li .left_b .wiki_info p{display: inline-block;}
.wiki .wiki_container ul li .left_b .wiki_info p.wiki_time{margin-right: .28rem}
.wiki .wiki_container ul li .right_b{width: 2.4rem;height: 1.8rem;margin-left: .24rem;float: right;}
.wiki .wiki_container ul li .right_b img{width: 100%;height: 100%;object-fit:cover;}
/*遮罩层*/
/*__更新 start__*/
.mask{width: 100%;height:100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;z-index: 9;bottom: 0;display: none;}
/*__更新 end__*/
/*筛选*/
/*__更新 start__*/
.screen {background: #fff;border-bottom: 0.02rem solid #eaeaea;padding-bottom: .15rem;}
/*__更新 end__*/

.screen .screen_tab{position: relative;}
.screen .screen_tab_top{overflow-x: auto;white-space: nowrap;margin:0 .1rem;}
.screen .screen_box{display: inline-block;width: 1.43rem;height: .6rem;line-height: .6rem;text-align: center;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;border: 0.02rem solid #eaeaea;background: #f8f8f8;font-size: .28rem;border-radius: .1rem;margin: 0 .1rem;margin-top: .15rem;}
.screen .screen_box.on{background: #fff;padding-bottom: .15rem;border-bottom: none;position: relative;z-index: 2;border-radius: 0;color: #ff4f37;}
.screen .screen_tab_sub{background: #fff;width: 100%;position: absolute;left: 0;right: 0;top: .9rem;max-height: 3rem;overflow: auto;}
.screen .screen_list{border-top: 0.02rem solid #eaeaea;border-bottom: 0.02rem solid #eaeaea;padding: 0.15rem 0;}
.screen .screen_list li{float: left;width: 2rem;height: .6rem;line-height: .6rem;border: 0.02rem solid #000;text-align: center;margin: 0.15rem .23rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: .28rem;}
.screen .screen_list li.on{border-color: #ff4f37;color: #ff4f37;}
a.scrollTop{display: block;width: 1rem;height: 1rem;border-radius: 1rem;background: rgba(0,0,0,.6);bottom: .3rem;right: .3rem;position: fixed;}
a.scrollTop i{display: block;width: .5rem;background: url(../images/top.png) no-repeat;height: .5rem;background-size: .5rem auto;margin: .2rem auto;}
.screen-info{position: relative;}

.empty{text-align: center; line-height: 1rem;}
