.topfixed{position: fixed!important;top:0;left:0;right:0;z-index: 100!important;    box-shadow: 0 0 .1rem #eee;}
body{background: #f8f8f8;width: 100%;overflow: hidden;}
body, html{height: 100%}
.mobileSelect{position: fixed;}

/*头部幻灯片部分*/
.banner .wrapper {position: relative;}
.banner .wrapper .swiper-container {color: #fff;text-align: center;}
.banner .wrapper .swiper-container .slideshow-item {-webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative;}
.banner .wrapper .swiper-wrapper img {display: block;}
.banner .wrapper .swiper-wrapper .slideinfo {display: none;}
.banner .wrapper .pagination {position: absolute;z-index: 20;left: 0;bottom: .1rem;width: 100%;}
.banner .wrapper .swiper-pagination-switch {display: inline-block;width: .12rem;height: .12rem;border-radius: .16rem;background: #555;margin-right: 5px;opacity: .8;border: 1px solid #fff;cursor: pointer;}
.banner .wrapper .swiper-active-switch {background: #fff;}
.banner .wrapper .swiper-dynamic-links {text-align: center;}
.banner .wrapper .swiper-pagination-bullet{opacity: .5;}
.banner .wrapper .swiper-pagination-bullet-active{width: .37rem!important;height:.11rem;border-radius: 1rem;background: #fff!important;opacity: 1!important;}
.banner .wrapper .swiper-pagination-bullet{width: .11rem;height: .11rem;background: #d6e5f6;opacity: .5;    transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 3px;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{text-align: center;}

.banner .wrapper .swiper-wrapper a{color: #fff}

/*公司详情*/
.comp_content{padding: .35rem .24rem;background: #fff;box-shadow: 0px 2px 6px 0px rgba(192, 192, 192, .2);}
.comp_content .middle{position: relative;}
.comp_content .left_b{width: 1.7rem;height: 1.7rem;float: left;border: 1px solid #eee}
.comp_content .left_b img{width: 100%;height: 100%;object-fit:cover;}
.comp_content .right_b{margin-left: 1.94rem;}
.comp_content .right_b .com_type{font-size: .36rem;font-weight: bold;color: #333;display: inline;}
.comp_content .right_b .com1 span{display: inline-block;background-size: .34rem .4rem; width: .34rem;height: .39rem;   vertical-align: top;margin-top: .01rem;}
.comp_content .right_b .defend{background: url(../images/defend.png) center center no-repeat;margin-right: .08rem;margin-left: .1rem}
.comp_content .right_b .certify{background: url(../images/certify.png) center center no-repeat;}
.comp_content .right_b .com_add{color: #A0A0A0;font-size: .26rem;margin-top: .3rem}
.comp_content .right_b .com_add img{width: .21rem;height: .3rem;vertical-align: top;margin-top: .02rem; margin-right: .1rem;}
.comp_content .right_b .com_add span{display: inline-block;width: 3.9rem}
.comp_content .com_phone{height: .76rem;border-left: 1px solid #e7e7e7;padding-left: .2rem;padding-right: .06rem;    position: absolute;
    bottom: 0;
    right: 0;}
.comp_content .com_phone img{width: .4rem;height: .38rem;margin-top: .2rem}

/*公共class*/
.pubBox{padding:.24rem;margin-bottom:.14rem;box-sizing: border-box;background:#fff;box-shadow: 0 0 .3rem rgba(231,231,231,.75);}


/*滚动信息*/ 
.tcNews{padding:.28rem .24rem;margin-bottom: .2rem;margin-top: .2rem}
.tcNews .lBox{ width: .69rem;float: left}
.tcNews .lBox img{width: .69rem;height: .34rem;}
.tcNews .mBox a{display: block;position: relative;}
.tcNews .mBox p{float:left;line-height:.34rem; font-size:.26rem;height: .34rem;color:#333;margin-left: .27rem;max-width:5.8rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.tcNews .mBox .swiper-wrapper{height: .34rem;}
.tcNews .pagination{display: none;}

.tcNews .mBox ul{display: flex;justify-content: space-between;margin-left: .27rem;}
.tcNews .mBox ul li{font-size: .26rem;color: #333;height: .34rem;line-height:.34rem;}
.tcNews .mBox ul li.origion{max-width:1.5rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.tcNews .mBox ul li:last-child{color: #F54D0C}
/*滑动导航*/
.tcInfo{padding: .35rem 0;position: relative;overflow: hidden; padding-bottom: 0;margin-bottom: .2rem}
.tcInfo ul{overflow: hidden;background: #fff}
.tcInfo li{ margin-bottom: .35rem;}
.tcInfo li,.convenience li{width: 20%;float: left;text-align: center;}
.tcInfo li a,.convenience li a{display: block;}
.tcInfo li span.icon-circle{padding-bottom: .16rem!important;}
.tcInfo li span.icon-circle,.convenience li span.icon-circle{display: block;width: 1.5rem;margin: 0 auto;padding-top: .1rem; padding-bottom: .1rem;}
.tcInfo li span.icon-txt,.convenience li span.icon-txt{font-size: .24rem;}
.tcInfo li span img,.convenience li span img{display: block;width: 1.06rem;height: 1.02rem;margin: 0 auto;}
.tcInfo .swiper-wrapper{height: auto !important;margin-bottom: .1rem;}
.tcInfo .swiper-pagination-bullet{width: .09rem;height: .09rem;background: #e4e4e4;opacity: 1;    transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;}
.tcInfo .swiper-pagination-bullet-active{width: .4rem!important;height:.11rem;border-radius: 1rem;background: #f88031!important;opacity: 1!important;}

/*在线报价 、免费设计*/
.publish{padding:.2rem .24rem;font-size: 0;background: #fff;}
.publish li{text-align: center;float: left;width: 3.4rem;}
.publish li:first-child{margin-right: .22rem;}
.publish li img{width: 100%;height: 100%;display: block;border: none}
.publish .news-img{  box-shadow: 0px 3px 10px 0px rgba(253, 196, 33, .5);border-radius: .06rem;background: #000;}
.merchant{box-shadow: 0px 3px 10px 0px rgba(241, 44, 44, .35);border-radius: .06rem;}
.merchant .shop-img{background: #000;}



/*在线报价*/
.quote{padding: .3rem .24rem .1rem;background: #fff;display: none}
.free_list {position:relative;}
.free_list .free_in {padding-bottom:.22rem;position:relative;}
.free_list .free_in input {background:#fff;padding:.24rem  .3rem;border-radius:.08rem;font-size:.26rem;width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;color:#333;border:1px solid #ddd;-webkit-appearance: none;}
.free_list .free_in p {background:#fff;padding:.24rem .3rem;border-radius:.08rem;font-size:.26rem;width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;color:#333;border:1px solid #ddd;-webkit-appearance:none;outline:none;display:inline-block;}
.free_list .free_in i {display:block;position:absolute;right:.34rem;top:.35rem;width:.3rem;height:.16rem;background:url(../images/arrowDown.png) no-repeat;background-size:100%;}
.free_list .free_in .submit {display:block;width:100%;height:.9rem;line-height:.9rem;background:#F97126;border-radius:.04rem;text-align:center;color:#fff;font-size:.35rem;margin-top:.147rem;}
.free_list input::placeholder{color: #A0A0A0}
.house_area{position: relative;}
.house_area .mills{position: absolute;right: .27rem;top: .27rem;color: #a0a0a0;font-size: .28rem;}
.free_list .free_in p.curr{color: #333;}
.free_list .room_type {padding-bottom:.22rem;position:relative;}
.free_list .room_type input {background:#fff;color: #333;border: none;font-size: .26rem}
.free_list .room_type p {background:#fff;padding:.24rem  .3rem;border-radius:.08rem;font-size:.26rem;width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;color:#333;border:1px solid #ddd;-webkit-appearance:none;outline:none;display:inline-block;color:#b3adad;}
.free_list .room_type i {display:block;position:absolute;right:.34rem;top:.35rem;width:.3rem;height:.16rem;background:url(../images/arrowDown.png) no-repeat;background-size:100%;}
.quote .alert_item{background:#efefef;height:.5rem;line-height:.5rem;text-align:center;font-size:.24rem;border-radius:.1rem;border:.02rem solid #bfbfbf;opacity:.8;display:none;position:absolute;left: 0;padding: 0 .2rem}

.quote .city-1 {top:-8%;}
.quote .room_area-1 {top:8%;}
.quote .room_type-1 {top:24%;}
.quote .name-1 {top:41%;}
.quote .phone-1 {top:57%;}
/*立即预约*/
.order{padding: .3rem .24rem .1rem;background: #fff;display: none}
.order .alert_item{background:#efefef;height:.5rem;line-height:.5rem;text-align:center;font-size:.24rem;border-radius:.1rem;border:.02rem solid #bfbfbf;opacity:.8;display:none;position:absolute;left: 0;padding: 0 .2rem}
.order .city-1 {top:-10%;}
.order .name-1 {top:10%;}
.order .phone-1 {top:29%;}
.order .room-1 {top:48%;}

.free_list .free_in .submit2{display:block;width:100%;height:.9rem;line-height:.9rem;background:#f85a47;border-radius:.04rem;text-align:center;color:#fff;font-size:.35rem;margin-top:.147rem;}
/*立即获取报价弹出层*/
.price_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 100;display: none}



/*立即预约弹出层*/
.order_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 100;display: none;}
.order_container{position: fixed; left: 50%; margin-left: -2.8rem; top: 50%; margin-top: -2.2rem; width: 5.6rem;padding-bottom: .6rem ;    box-sizing: border-box;background-color:#fff;  padding: .3rem .4rem .56rem; z-index: 99; border-radius: .04rem}
.order_container .work_close{width: .48rem;height: .48rem;position: absolute;right: .3rem}
.order_container p.t1{margin-top: .4rem;font-size: .34rem;font-weight: bold;color: #333;text-align: center;}
.order_container p.t2{margin-top: .6rem;line-height: .4rem;color: #a0a0a0;font-size: .26rem;padding-top: .25rem;border-top: 1px dashed #dadada}
/* 波纹效果2 */
.order_container .wave {position:relative;width:1.1rem;height:1.1rem;text-align:center;margin:.35rem auto 0;}
.order_container .m-box{width:1.1rem;height:1.1rem;position:relative;margin: 0 auto;background:#0bd7b3;border-radius:50%;}
.order_container .m-duigou{width:.5rem;height:.3rem;position:absolute;left:50%;top:50%;margin:-.2rem 0 0 -.25rem;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden}
.order_container .m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#fff;border-radius:2px}
.order_container .m-duigou:before{width:.08rem;height:.3rem;left:0;-webkit-animation:dgLeft .5s linear 0s 1 both;animation:dgLeft .5s linear 0s 1 both}
.order_container .m-duigou:after{width:.5rem;height:.08rem;bottom:0;-webkit-animation:dgRight .5s linear .5s 1 both;animation:dgRight .5s linear .5s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@keyframes circle-opacity {from {opacity:1;transform:scale(0);}
to {opacity:.5;transform:scale(1);}
}


.loading{font-size: .26rem;text-align: center;line-height: .88rem;}



/*装修公司*/
.reno_company{padding: .3rem .26rem .06rem;background: #fff;margin-top: .2rem;  box-shadow: 0px 2px 6px 0px rgba(214, 214, 214, .3);}
 .title{font-size: .3rem;font-weight: bold;color: #333;display: inline-block;}
 .com_more{display: inline-block;background: url(../images/more.png) center right no-repeat;background-size: auto .22rem;float: right;}
 .com_more span{font-size: .26rem;color: #A0A0A0;padding-right: .27rem}
.reno_company .com_bottom{margin-top: .22rem;}
.reno_company .com_bottom ul{font-size: 0}
.reno_company .com_bottom ul li{margin-bottom: .36rem;margin-right: .24rem;display: inline-block;width: 3.37rem;}
.reno_company .com_bottom ul li:active{background: #f2f2f2}
.reno_company .anli_top{width: 3.37rem;height: 2.49rem;}
.reno_company .anli_top img{width: 100%;height: 100%;object-fit:cover;}
.reno_company .anli_tit{font-size: .3rem;color: #333;margin-top: .24rem;max-width:100%;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;}
.reno_company .anli_info{font-size: .26rem;color: #888;margin-top: .18rem;max-width: 100%;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.com_bottom ul li:nth-child(2n){margin-right: 0}


/*在线工地*/
.online_bulid{padding: .3rem .24rem .06rem;background: #fff;margin-top: .2rem;  box-shadow: 0px 2px 6px 0px rgba(214, 214, 214, .3);}

.online_bulid .build_content ul li{padding: .28rem 0 .3rem;border-bottom: 1px solid #eee}
.online_bulid .build_content ul li:active{background: #f2f2f2}
.online_bulid .build_content ul li:last-child{border-bottom: none;}
.online_bulid .build_content ul li .left_b{width: 2.42rem;height: 1.76rem;float: left;position: relative;}
.online_bulid .build_content .left_b .state{position: absolute;right: 0;bottom: 0;border-radius:0px 0px .04rem 0px;width: 1.45rem;height: .44rem;line-height: .44rem;text-align: center;color: #fff; background:rgba(240,179,48,.9);}
.online_bulid .build_content .left_b .over{background:rgba(121,121,121,.9);}
.online_bulid .build_content ul li img{width: 100%;height: 100%;object-fit:cover;}
.online_bulid .build_content ul li .right_b{margin-left: 2.72rem}
.build_content ul li .right_b .build_title{font-size: .34rem;font-weight: bold;color: #333;max-width: 4rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
.build_content .build_middle{font-size: .26rem;color: #A0A0A0;margin:.3rem auto .4rem;line-height: .25rem}
.build_content .build_middle p{display: inline-block;margin-right: .45rem}
.build_content .build_middle p span:last-child{color: #333;margin-left: .2rem}
.build_content .build_bottom span{font-size: .26rem;color: #A0A0A0;display: inline-block; max-width: 100%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}


/*工长推荐*/
.foreman{padding: .3rem 0;background: #fff;margin-top: .2rem;  box-shadow: 0px 2px 6px 0px rgba(214, 214, 214, .3);}
.foreman .sepT{padding:0 .24rem;}
.foreman .foreman_container{padding: 0 .04rem;background: #fff;margin-top: .3rem}
.foreman .foreman_container ul{font-size: 0}
.foreman .foreman_container ul li{display: inline-block;text-align: center;width:25%;}
.foreman .foreman_container ul li:last-child{margin-right: 0}
.foreman .foreman_container ul li .foreman_photo{width: 1.2rem;height: 1.2rem;margin:0 auto;}
.foreman .foreman_container ul li .foreman_photo img{width: 100%;height: 100%;object-fit:cover;border-radius: 50%}
.foreman .foreman_container ul li .foreman_name{font-size: .3rem;color: #333;margin-top: .24rem}
.foreman .foreman_container ul li .foreman_age{font-size: .26rem;color: #A0A0A0;margin-top: .15rem}

/*公司简介*/
.com_profile{padding: .3rem .24rem;background: #fff;margin-top: .2rem;  box-shadow: 0px 2px 6px 0px rgba(214, 214, 214, .3);margin-bottom: calc(1.8rem + constant(safe-area-inset-bottom));margin-bottom: calc(1.8rem + env(safe-area-inset-bottom));}
.com_profile .pro_content{margin-top:.3rem ;max-height: 4rem;overflow: hidden;}
.com_profile .pro_content p{font-size: .26rem;color: #333;line-height: .38rem;display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 7;
overflow: hidden;}
.com_profile .pro_content img{max-width:100%;}
/*底部菜单*/
/*底部固定无用 须关掉transform 属性*/
.gz-address{transform:none!important;}
.showAddr .gz-address{z-index:99999;}
.choose_submit{position: fixed;bottom: 0;background: #fff;z-index:2;padding: .15rem .24rem .15rem .5rem;box-sizing: border-box;padding-bottom: calc(.15rem + constant(safe-area-inset-bottom));padding-bottom: calc(.15rem + env(safe-area-inset-bottom));}
.choose_submit .phone{float: left;width: .52rem;text-align: center;}
.choose_submit .phone img{width: .35rem;height: .35rem;}
.choose_submit ul{font-size: 0;float: left;margin-left: .9rem}
.choose_submit ul li{width:2.65rem;text-align: center;line-height: .7rem;color: #fff;font-size: .28rem;display: inline-block;padding-top: .06rem}
.choose_submit ul li.reset{background:#FAC50E;border-radius:.4rem 0px 0px .4rem;}
.choose_submit ul li.sure{background:#F97126;border-radius:0px .4rem .4rem 0px;}
/* iPhoneX适配 */
.footMenu{bottom: calc(2.1rem + constant(safe-area-inset-bottom));bottom: calc(2.1rem + env(safe-area-inset-bottom));}

/*国籍区号*/
.free_list .inpbox{width: 100%;    border: 1px solid #ddd;    border-radius: .08rem;position: relative;margin-bottom: .22rem}
.free_list .inpbox input {background:#fff;padding:.24rem  .2rem;font-size:.26rem;width:80%;box-sizing:border-box;-webkit-box-sizing:border-box;color:#333;-webkit-appearance: none;border: none}
.areacode_span{text-indent: .24rem}

/*底部报价 预约弹出层*/
.price_alert{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 100;display: none;}
.order_alert{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 100;display: none;}
.order-con{position: fixed; left: 50%; margin-left: -2.8rem; top: 50%;  width: 5.6rem;padding-bottom: .6rem ;    box-sizing: border-box;background-color:#fff;  padding: .3rem .4rem .56rem; z-index: 99; border-radius: .04rem}
.price_alert .order-con{margin-top: -4rem}
.order_alert .order-con{margin-top: -3.4rem}
.order-con .work_close{width: .3rem;height: .3rem;position: absolute;right: -.5rem;top: -.5rem}

.order-con form{margin-top: .5rem}
.order-con input{width: 100%;height: .88rem;line-height: .88rem;padding-left: .3rem;box-sizing: border-box;;-webkit-appearance:none;border:1px solid #e5e5e5;font-size: .26rem;margin-top: .2rem;border-radius: .04rem}
.order-con input::placeholder{color: #a0a0a0}
.order-con .free_in {position:relative;}
.order-con .free_in p {background:#fff;padding:.25rem .3rem;border-radius:.04rem;font-size:.26rem;width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;color:#333;border:1px solid #e5e5e5;-webkit-appearance:none;outline:none;display:inline-block;}
.order-con .free_in i {display:block;position:absolute;right:.34rem;top:.35rem;width:.3rem;height:.16rem;background:url(../images/arrowDown.png) no-repeat;background-size:100%;}
.order-con .room_type {position:relative;margin-top: .2rem}
.order-con .room_type input {background:#fff;color: #333;border: none;font-size: .26rem;width: 50%;margin-top: 0;padding-left: 0;height: .84rem;line-height: .84rem}
.order-con .room_type p {padding:0 .24rem;border-radius:.04rem;font-size:.26rem;width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;color:#333;border:1px solid #ddd;color:#a0a0a0;}
.order-con .room_type i {display:block;position:absolute;right:.34rem;top:.35rem;width:.3rem;height:.16rem;background:url(../images/arrowDown.png) no-repeat;background-size:100%;}
.order-con .house_area .mills{top: .47rem;}
.order-con .free{width: 100%;height: .88rem;line-height: .88rem;text-align: center;color: #fff;background:#F97126;border-radius: .04rem;margin-top: .45rem ;font-size: .3rem}
.order-con .alert_item{background:#efefef;height:.5rem;line-height:.5rem;text-align:center;font-size:.24rem;border-radius:.1rem;border:.02rem solid #bfbfbf;opacity:.8;display:none;position: absolute;left: .4rem;padding: 0 .2rem}

.order-con .city-1 {top:4%;}
.order-con .room_area-1 {top:17%;}
.order-con .room_type-1 {top:31%;}
.price_alert .order-con .name-1 {top:44%;}
.price_alert .order-con .phone-1 {top:58%;}

.order_alert .order-con .name-1 {top:20%;}
.order_alert .order-con .phone-1 {top:36%;}
.order_alert .order-con .room-1 {top:52%;}

.order-con .formCommon .inpbox{width: 100%;    border: 1px solid #e5e5e5;    border-radius: .04rem;position: relative;margin-top: .22rem}
.order-con .formCommon .inpbox input#order_phone {width:70%;border: none;margin-top: 0;padding: 0 .1rem}
.order-con .formCommon .inpbox input#price_phone {width:70%;border: none;margin-top: 0;padding: 0 .1rem}
.order-con .areacode_span{text-indent: .24rem}