
/*顶部固定*/
.header{position: fixed;left: 0;right: 0;}
html,body{background: #f8f8f8}

/*头部*/
.wiki_wrap{margin-top: .9rem;padding: 0 .24rem .5rem}
.huoniao_iOS .wiki_wrap {margin-top: 0;}
.wiki_top{border-bottom: 1px solid #eee;padding: .57rem 0 .45rem}
.wiki_top .wiki_title{font-weight:800;font-size: .46rem;color: #333;}
.wiki_top .wiki_info{font-size: .26rem;color: #A0A0A0;margin-top: .27rem}
.wiki_top .wiki_info p{display: inline-block;}
.wiki_top .wiki_info p.wiki_time{margin-right: .28rem}
.wiki_content{font-size: .32rem;color: #333}
.wiki_content p{font-size: .32rem;color: #333;}
.wiki_content .wiki_img{width: 100%;height: 4rem;margin-top: .34rem}
.wiki_content .wiki_img img{width:auto!important;height:auto!important;max-width:100%!important;max-height:100%!important;}
.wiki_content .wiki_note{line-height: .46rem;margin-top: .3rem}
.wiki_content .wiki_info2{line-height: .46rem;}
.wiki_content .wiki_info2 .dyn_title{margin-top: .35rem}
.wiki_content .wiki_info2 .dyn_tip{margin-top: .6rem}
.wiki_content .wiki_info2 .dyn_content{margin-top: .2rem}

