.topfixed{position: fixed!important;top:0;left:0;right:0;z-index: 100!important;    box-shadow: 0 0 0.1rem #eee;}
body{background: #f8f8f8;width: 100%;overflow: hidden;}
html{min-height: 100%}
.mobileSelect{position: fixed;}
/*底部固定无用 须关掉transform 属性*/
.gz-address{transform:none!important;}
.showAddr .gz-address{z-index:99999;}
/*头部幻灯片部分*/
.banner .wrapper {position: relative;}
.banner .wrapper .swiper-container {color: #fff;text-align: center;}
.banner .wrapper .swiper-container .slideshow-item {-webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative;}
.banner .wrapper .swiper-wrapper img {display: block;}
.banner .wrapper .swiper-wrapper .slideinfo {display: none;}
.banner .wrapper .pagination {position: absolute;z-index: 20;left: 0;bottom: .1rem;width: 100%;}
.banner .wrapper .swiper-pagination-switch {display: inline-block;width: 0.12rem;height: 0.12rem;border-radius: 0.16rem;background: #555;margin-right: 5px;opacity: 0.8;border: 1px solid #fff;cursor: pointer;}
.banner .wrapper .swiper-active-switch {background: #fff;}
.banner .wrapper .swiper-dynamic-links {text-align: center;}
.banner .wrapper .swiper-pagination-bullet{opacity: 0.5;}
.banner .wrapper .swiper-pagination-bullet-active{width: .37rem!important;height:.11rem;border-radius: 1rem;background: #fff!important;opacity: 1!important;}
.banner .wrapper .swiper-pagination-bullet{width: .11rem;height: .11rem;background: #d6e5f6;opacity: .5;    transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 3px;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{text-align: center;}

.banner .wrapper .swiper-wrapper a{color: #fff}

.pos_sz{position: absolute;  left: .25rem;  top: 1.2rem;  box-sizing:border-box;padding-left:.24rem;color:#fff;width: 1.3rem;  height: .44rem; line-height: .44rem; z-index: 42;background-color: rgb(0, 0, 0);  opacity: 0.369; border-radius: .5rem;font-size: .28rem}
.huoniao_iOS .pos_sz{position: absolute;  left: .25rem;  top: .2rem; }
.pos_sz:after{content: ''; display: inline-block; width: .1rem; height: .1rem; border-top:.02rem solid  #fff; border-right: solid .02rem #fff; transform: rotate(135deg); margin-left: .13rem; margin-bottom: .08rem;}
.head-search-box{width: 100%; max-width: 10rem; margin: auto; position: absolute; top: 1.2rem; z-index: 2;}
/* 搜索 */


.head-box{background: #f5f5f7}
.head-box .head-search{ margin: .16rem .3rem}
.head-search .back-btn{float: left; margin-top: .17rem;}	
.head-search .back-btn i{display: inline-block;width: .2rem; height: .2rem; border-top: solid 2px #ababab; margin-left: .03rem; border-right: solid 2px #ababab; transform: rotate(-135deg); border-bottom-right-radius: .02rem;}
.textIn-box{width: 4.2rem; height: .7rem; background-color: #fff; border-radius: .32rem; float: left;    margin-left: .3rem;}
.textIn-box i{display: inline-block; width: .28rem; height: .28rem; background-image: url(../images/search_icon.png); background-position: left top; vertical-align: middle; background-repeat: no-repeat; background-size: cover; margin-left: .26rem;  margin-top: .18rem;}
.textIn-box input{display: inline-block; width: 75%; border: none; background: none; margin-left: .18rem; vertical-align: middle; font-size: .26rem; margin-top: .2rem;margin-right: .1rem}
.btn-go button{font-size: .3rem; color: #787878; border: none; background: none; outline: none; line-height: .64rem;}
.btn-go{float: right;}
.search-btn{display: none;}

.head-search .type {position:relative;text-align: center;float: left;    padding-top: .15rem;z-index: 2;}
.head-search .type label {display:inline-block;vertical-align:middle;min-width:.5rem;max-width:1.8rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size: .28rem;color: #333;}
.head-search .type s {display:inline-block;vertical-align:middle;   width: .2rem;height: .2rem;margin-left: .05rem;margin-top: 0;background:url('../images/type-arr.png') no-repeat center;background-size:.2rem;}

.type-list{position: absolute;top:.8rem;left: 0;width: 1.6rem;background: #fff;box-shadow: 0px 0px 24px 0px rgba(215, 215, 215, 0.5);padding: .15rem 0;display: none;}
.type-list.show{display: block;}
.type-list li{font-size: .28rem;color: #000;line-height: .6rem;text-align: center;}
.type-list:before{content: '';width:0;height:0;border-right:.14rem solid transparent;border-left:.14rem solid transparent;border-bottom:.14rem solid #fff;position: absolute;left: 50%;margin-left: -.3rem;top: -.14rem}
/*公共class*/
.pubBox{padding:.24rem;margin-bottom:.14rem;box-sizing: border-box;background:#fff;box-shadow: 0 0 .3rem rgba(231,231,231,.75);}


/*滚动信息*/ 
.tcNews{height:1.4rem;padding:.18rem .25rem;margin-bottom: 0}
.tcNews .lBox{padding:.1rem 0; width: .72rem;float: left}
.tcNews .lBox img{width: .72rem;}
.tcNews .mBox a{display: block;position: relative;}
.tcNews .mBox p{float:left;line-height:.5rem; font-size:.26rem;height: .5rem;color:#333;margin-left: .22rem;max-width:5.8rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.tcNews .mBox .swiper-wrapper{height: 1rem;}
.tcNews .pagination{display: none;}
/*滑动导航*/
.tcInfo{padding: 0.35rem 0;position: relative;overflow: hidden; padding-bottom: 0;margin-bottom: 0}
.tcInfo ul{overflow: hidden;}
.tcInfo li{ margin-bottom: .35rem;}
.tcInfo li,.convenience li{width: 20%;float: left;text-align: center;}
.tcInfo li a,.convenience li a{display: block;}
.tcInfo li span.icon-circle{padding-bottom: .16rem!important;}
.tcInfo li span.icon-circle,.convenience li span.icon-circle{display: block;width: 1.5rem;margin: 0 auto;padding-top: .1rem; padding-bottom: .1rem;}
.tcInfo li span.icon-txt,.convenience li span.icon-txt{font-size: .24rem;}
.tcInfo li span img,.convenience li span img{display: block;width: 1.06rem;height: 1.02rem;margin: 0 auto;}
.tcInfo .swiper-wrapper{height: auto !important;margin-bottom: .1rem;}
.tcInfo .swiper-pagination-bullet{width: .09rem;height: .09rem;background: #e4e4e4;opacity: 1;    transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;}
.tcInfo .swiper-pagination-bullet-active{width: .4rem!important;height:.11rem;border-radius: 1rem;background: #f88031!important;opacity: 1!important;}

/*在线报价 、免费设计*/
.publish{padding:.2rem .24rem;font-size: 0;background: #fff;}
.publish li{text-align: center;float: left;width: 3.4rem;}
.publish li:first-child{margin-right: .22rem;}
.publish li img{width: 100%;height: 100%;display: block;border: none}
.publish .news-img{  box-shadow: 0px 3px 10px 0px rgba(253, 196, 33, 0.5);border-radius: 0.06rem;background: #000;}
.merchant{box-shadow: 0px 3px 10px 0px rgba(241, 44, 44, 0.35);border-radius: 0.06rem;}
.merchant .shop-img{background: #000;}


/*在线报价*/
.quote{padding: .3rem .24rem .1rem;background: #fff;display: none}
.free_list {position:relative;}
.free_list .free_in {padding-bottom:.22rem;position:relative;}
.free_list .free_in input {background:#fff;padding:.24rem  .3rem;border-radius:0.08rem;font-size:.26rem;width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;color:#333;border:1px solid #ddd;-webkit-appearance: none;}
.free_list .free_in p {background:#fff;padding:.24rem .3rem;border-radius:0.08rem;font-size:.26rem;width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;color:#333;border:1px solid #ddd;-webkit-appearance:none;outline:none;display:inline-block;}
.free_list .free_in i {display:block;position:absolute;right:.34rem;top:.35rem;width:.3rem;height:.16rem;background:url(../images/arrowDown.png) no-repeat;background-size:100%;}
.free_list .free_in .submit {display:block;width:100%;height:.9rem;line-height:.9rem;background:#F97126;border-radius:.04rem;text-align:center;color:#fff;font-size:.35rem;margin-top:.147rem;}
.free_list input::placeholder{color: #A0A0A0}
.house_area{position: relative;}
.house_area .mills{position: absolute;right: .27rem;top: .27rem;color: #a0a0a0;font-size: .28rem;}
.free_list .free_in p.curr{color: #333;}
.free_list .room_type {padding-bottom:0.22rem;position:relative;}
.free_list .room_type input {background:#fff;color: #333;border: none;font-size: .26rem}
.free_list .room_type p {background:#fff;padding:.24rem  .3rem;border-radius:0.08rem;font-size:.26rem;width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;color:#333;border:1px solid #ddd;-webkit-appearance:none;outline:none;display:inline-block;color:#b3adad;}
.free_list .room_type i {display:block;position:absolute;right:.34rem;top:.35rem;width:.3rem;height:.16rem;background:url(../images/arrowDown.png) no-repeat;background-size:100%;}



/*立即预约*/
.order{padding: .3rem .24rem .1rem;background: #fff;display: none}
.order .alert_item{background:#efefef;width:2.1rem;height:0.5rem;line-height:0.5rem;text-align:center;font-size:0.24rem;border-radius:0.1rem;border:0.02rem solid #bfbfbf;opacity:0.8;display:none;margin-left:-0.9rem;}
.order .city-1 {position:absolute;top:-10%;left:17%;}
.order .name-1 {position:absolute;top:10%;left:17%;}
.order .phone-1 {width:2.5rem;position:absolute;top:29%;left:17%;}
.order .room-1 {position:absolute;top:48%;left:17%;}
.free_list .free_in .submit2{display:block;width:100%;height:.9rem;line-height:.9rem;background:#f85a47;border-radius:.04rem;text-align:center;color:#fff;font-size:.35rem;margin-top:.147rem;}
/*立即获取报价弹出层*/
.price_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 100;display: none}

/*立即预约弹出层*/
.order_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 100;display: none;}
.order_container{position: fixed; left: 50%; margin-left: -2.8rem; top: 50%; margin-top: -2.2rem; width: 5.6rem;padding-bottom: .6rem ;    box-sizing: border-box;background-color:#fff;  padding: .3rem .4rem .56rem; z-index: 99; border-radius: .04rem}
.order_container .work_close{width: .48rem;height: .48rem;position: absolute;right: .3rem}
.order_container p.t1{margin-top: .4rem;font-size: .34rem;font-weight: bold;color: #333;text-align: center;}
.order_container p.t2{margin-top: .6rem;line-height: .4rem;color: #a0a0a0;font-size: .26rem;padding-top: .25rem;border-top: 1px dashed #dadada}
/* 波纹效果2 */
.order_container .wave {position:relative;width:1.1rem;height:1.1rem;text-align:center;margin:.35rem auto 0;}
.order_container .m-box{width:1.1rem;height:1.1rem;position:relative;margin: 0 auto;background:#0bd7b3;border-radius:50%;}
.order_container .m-duigou{width:.5rem;height:.3rem;position:absolute;left:50%;top:50%;margin:-.2rem 0 0 -.25rem;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden}
.order_container .m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#fff;border-radius:2px}
.order_container .m-duigou:before{width:.08rem;height:.3rem;left:0;-webkit-animation:dgLeft 0.5s linear 0s 1 both;animation:dgLeft 0.5s linear 0s 1 both}
.order_container .m-duigou:after{width:.5rem;height:.08rem;bottom:0;-webkit-animation:dgRight 0.5s linear 0.5s 1 both;animation:dgRight 0.5s linear 0.5s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@keyframes circle-opacity {from {opacity:1;transform:scale(0);}
to {opacity:0.5;transform:scale(1);}
}




/*广告位*/
.ren_adv{padding: .14rem .25rem;background: #fff}
.ren_adv li{list-style: none;width: 3.4rem;height: 1.42rem;margin-left: .1rem;float: left;}
.ren_adv li:first-child{width: 3.5rem;height: 2.96rem;margin-left: 0}
.ren_adv li img{width: 100%;height: 100%;object-fit:cover;}

.ren_adv li:nth-child(2){margin-bottom: .12rem;}

/*装修公司*/
.reno_company{padding: .4rem .26rem .3rem;background: #fff;margin-top: .2rem;  box-shadow: 0px 2px 6px 0px rgba(214, 214, 214, 0.3);}
 .title{font-size: .3rem;font-weight: bold;color: #333;display: inline-block;}
 .com_more{display: inline-block;background: url(../images/more.png) center right no-repeat;background-size: auto .22rem;float: right;}
 .com_more span{font-size: .26rem;color: #A0A0A0;padding-right: .27rem}
.reno_company .com_bottom{border-bottom: 1px solid #e5e5e5;padding: .32rem 0 .4rem}

.reno_company .left_b{width: .84rem;height: .84rem;float: left;}
.reno_company .left_b img{width: 100%;height: 100%;object-fit:cover;border-radius: 50%}
.reno_company .right_b{margin-left: 1.04rem}
.reno_company .right_b .com_type{font-size: .34rem;font-weight: bold;color: #333;display: inline-block;    max-width: 5rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.reno_company .right_b .com1 span{display: inline-block;background-size: .34rem .4rem;   width: .34rem;height: .4rem;  vertical-align: top;margin-top: .04rem;}
.reno_company .right_b .defend{background: url(../images/defend.png) center center no-repeat;margin-right: .08rem;margin-left: .1rem}
.reno_company .right_b .certify{background: url(../images/certify.png) center center no-repeat;}
.reno_company .right_b .right_ul{font-size: 0;margin-top: .06rem}
.reno_company .right_b .right_ul li{color: #A0A0A0;font-size: .26rem;display: inline-block;margin-right: .27rem}
.reno_company .com_bottom .bottom{margin-top: .32rem;}
.reno_company .com_bottom .bottom ul{font-size: 0}
.reno_company .com_bottom .bottom ul li{width: 2.23rem;height: 2.23rem;display: inline-block;}
.reno_company .com_bottom .bottom ul li img{width: 100%;height: 100%;object-fit:cover;border-radius: .06rem}
.reno_company .com_bottom .bottom ul li:nth-child(2){margin:auto .12rem;}
.reno_company .com_bottom:last-child{border-bottom: none;padding-bottom: .3rem}
/*设计师*/
.reno_artist{padding: .4rem 0 0 ;background: #fff;margin-top: .2rem;  box-shadow: 0px 2px 6px 0px rgba(214, 214, 214, 0.3);}
.reno_artist .reno_div{padding-right: .24rem;padding-left: .24rem}
.jz_service{background: #fff;margin-top:.36rem;width: 100%;overflow: hidden;padding-left: .24rem;box-sizing: border-box;padding-bottom: .44rem}
.jz_service .swiper-container {width: 100%;overflow:visible;margin-top: .3rem}
.jz_service .swiper-slide {width:3rem;font-size: .28rem;margin-right: .2rem}
.jz_service .swiper-slide {height: auto;text-align: center;box-shadow: 0px 0px 26px 0px rgba(192, 192, 192, 0.4);}
.jz_service .swiper-slide .artist_info{ background: #fff;padding: .44rem 0 .4rem}
.jz_service .swiper-slide .artist_info img{width:1.2rem;height:1.2rem;border-radius: 50%}
.jz_service .swiper-slide .artist_info .artist_name{font-size: .3rem;color: #333;margin-top: .15rem}
.jz_service .swiper-slide .artist_info .artist_anli{font-size: .26rem;color: #888;margin-top: .12rem}
.jz_service .swiper-slide .service_order{height: .58rem;line-height: .58rem;color: #fff;background: #f97126}
.jz_service .swiper-slide.slide-plh{height: 3.62rem}
/*效果图*/
.reno_design{padding: .4rem .26rem;background: #fff;margin-top: .2rem;  box-shadow: 0px 2px 6px 0px rgba(214, 214, 214, 0.3);}
.reno_design .reno_tab{margin-top: .4rem}
.reno_design .reno_tab ul{font-size: 0;}
.reno_design .reno_tab li{padding-bottom: .2rem;width: 2rem;text-align: center;font-size: .28rem;font-weight: bold;color: #050505;border-bottom: 1px solid #fff;display: inline-block;}
.reno_design .reno_tab li.active{border-bottom: 1px solid #f97126;color: #f97126}
.tabs_container{margin-top: .32rem}
.tabs_container .design_container{}
.design_container  ul {font-size: 0;    overflow-x: auto;    white-space: nowrap;}
.design_container li{width: 3rem;height: 3rem;position: relative;color: #fff;display: inline-block;margin-right: .18rem;position: relative;}
.design_container li img{width: 3rem;height: 3rem;}
.design_container li .design_info{position: absolute;top:1.1rem;left:50%;color: #fff;text-align: center;width: 2.6rem;margin-left: -1.3rem;z-index: 3}
.design_container li .design_info p{display: block;margin: 0 auto}
.design_container li .design_place{font-size: .34rem;padding-bottom: .1rem;position: relative;    max-width: 100%;overflow: hidden;text-overflow: ellipsis;}
.design_container li .design_place:after{content: '';display: inline-block;width: .7rem;height: .02rem;background: #fff;position: absolute;left: 50%;margin-left: -.35rem;bottom: 0}
.design_container li .design_num{font-size: .28rem;}
.design_container li:after{content: '';position: absolute;width:3rem;height: 3rem;background: rgba(0,0,0,.3);z-index: 2}
.design_container li.kongjian0{background: url(../images/kj1.png) center center no-repeat;background-size: 3rem}
.design_container li.kongjian1{background: url(../images/kj2.png) center center no-repeat;background-size: 3rem}
.design_container li.kongjian2{background: url(../images/kj3.png) center center no-repeat;background-size: 3rem}
.design_container li.kongjian3{background: url(../images/kj4.png) center center no-repeat;background-size: 3rem}
.design_container li.kongjian4{background: url(../images/kj5.png) center center no-repeat;background-size: 3rem}

.design_container li.style0{background: url(../images/style1.png) center center no-repeat;background-size: 3rem}
.design_container li.style1{background: url(../images/style2.png) center center no-repeat;background-size: 3rem}
.design_container li.style2{background: url(../images/style3.png) center center no-repeat;background-size: 3rem}
.design_container li.style3{background: url(../images/style4.png) center center no-repeat;background-size: 3rem}
.design_container li.style4{background: url(../images/style5.png) center center no-repeat;background-size: 3rem}

.design_container li.units0{background: url(../images/hx1.png) center center no-repeat;background-size: 3rem}
.design_container li.units1{background: url(../images/hx2.png) center center no-repeat;background-size: 3rem}
.design_container li.units2{background: url(../images/hx3.png) center center no-repeat;background-size: 3rem}
.design_container li.units3{background: url(../images/hx4.png) center center no-repeat;background-size: 3rem}
.design_container li.units4{background: url(../images/hx5.png) center center no-repeat;background-size: 3rem}

/*在线工地*/
.online_bulid{padding: .4rem .24rem;background: #fff;margin-top: .2rem;  box-shadow: 0px 2px 6px 0px rgba(214, 214, 214, 0.3);}
.online_bulid .build_content{margin-top: .34rem}
.online_bulid .build_content ul li{padding: .2rem 0;border-bottom: 1px solid #eee}
.online_bulid .build_content ul li:active{background:#f2f2f2;}
.online_bulid .build_content ul li:last-child{border-bottom: none;}
.online_bulid .build_content ul li .left_b{width: 2.2rem;height: 1.68rem;float: left;}
.online_bulid .build_content ul li img{width: 100%;height: 100%;object-fit:cover;}
.online_bulid .build_content ul li .right_b{margin-left: 2.4rem}
.build_content ul li .right_b .build_title{font-size: .34rem;font-weight: bold;color: #333;max-width: 4rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
.build_content ul li .build_middle{font-size: .26rem;color: #A0A0A0;margin:.24rem auto .3rem;line-height: .26rem}
.build_content ul li .build_middle span{padding: 0 .11rem;display: inline-block;border-left: 1px solid #A0A0A0}
.build_content ul li .build_middle span:first-child{padding-left: 0;border-left: none}
.build_content ul li .build_middle span:last-child{max-width: 2.8rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
.build_content ul li .right_b .build_bottom span{display: inline-block;font-size: .26rem;}
.build_content ul li .right_b .build_bottom span:first-child{color: #F97126;line-height: .5rem;}
.build_content ul li .right_b .build_bottom span:last-child{float:right;color: #fff;background: #f97126;width: 1.44rem;height: .5rem;line-height: .5rem;text-align: center;border-radius: .04rem}

/*工长推荐*/
.foreman{padding: .4rem .26rem;background: #fff;margin-top: .2rem;  box-shadow: 0px 2px 6px 0px rgba(214, 214, 214, 0.3);}
.foreman .foreman_container{padding: 0 .04rem;background: #fff;margin-top: .48rem}
.foreman .foreman_container ul{font-size: 0;    display: flex;justify-content: space-between;}
.foreman .foreman_container ul li{display: inline-block;text-align: center;}

.foreman .foreman_container ul li .foreman_photo{width: 1.2rem;height: 1.2rem;margin:0 auto;}
.foreman .foreman_container ul li .foreman_photo img{width: 100%;height: 100%;object-fit:cover;border-radius: 50%}
.foreman .foreman_container ul li .foreman_name{font-size: .3rem;color: #333;margin-top: .24rem;max-width: 1.5rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.foreman .foreman_container ul li .foreman_age{font-size: .26rem;color: #A0A0A0;margin-top: .15rem}
/*百科全书*/
.wiki{padding: .4rem .24rem 1.2rem;background: #fff;margin-top: .2rem;  box-shadow: 0px 2px 6px 0px rgba(214, 214, 214, 0.3);}
.wiki .wiki_container{margin-top: .25rem}
.wiki .wiki_container ul li {padding: .2rem 0;border-bottom: 1px solid #eee}
.wiki .wiki_container ul li:active{background:#f2f2f2;}
.wiki .wiki_container ul li:last-child{border-bottom: none;}
.wiki .wiki_container ul li .left_b{    }
.wiki .wiki_container ul li .left_b .wiki_title{font-size: .34rem;color: #333;line-height: .5rem;display: -webkit-box;
-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.wiki .wiki_container ul li .left_b .wiki_info{font-size: .26rem;color: #A0A0A0;margin-top: .3rem}
.wiki .wiki_container ul li .left_b .wiki_info p{display: inline-block;}
.wiki .wiki_container ul li .left_b .wiki_info p.wiki_time{margin-right: .28rem}
.wiki .wiki_container ul li .right_b{width: 2rem;height: 1.58rem;float: right;margin-left:.3rem }
.wiki .wiki_container ul li .right_b img{width: 100%;height: 100%;object-fit:cover;}

/*底部菜单*/
.mask {display: none;width: 100%;background: #fff;position: fixed;top: 0;right: 0;z-index: 202;  bottom: 0;opacity: .8!important;}
.mask.show{display: block;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;transition: all .3s ease;}
.footMenu{position: fixed;bottom:2.1rem;right: .3rem;width:.8rem;height:.8rem;-webkit-transition: all 1s ease;-moz-transition: all 1s ease;transition: all 1s ease; z-index: 203}
.footMenu .menu{position: absolute;right: 0;top: 0;width:.8rem;height:.8rem;border-radius:50%; -webkit-transition: all 1s ease;-moz-transition: all 1s ease;transition: all 1s ease;}
.footMenu .menu i{display:block;width: .8rem;height: .8rem;    border-radius: 50%;background:url(../images/add.png) no-repeat center center;background-size: contain;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;transition: all .3s ease; }
.mIcon{width:.8rem;position: absolute;top:0;right: 0;background:#fff;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;transition: all .3s ease;border-radius: 50%; }
.mIcon i{display:block;width:.8rem;height: .8rem;border-radius: 50%;box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.13);}
.mIcon.wx i{background:url(../images/wxIcon.png) no-repeat center center;background-size:cover;}
.mIcon.my i{background:url(../images/icon_my.png) no-repeat center center;background-size: cover;}
.mIcon.gt i{background:url(../images/gt.png) no-repeat center center;background-size: .3rem .36rem;}
.mIcon span{text-align: center;padding:.05rem 0;display: block;font-size: .28rem;color:#333;font-weight: 600;}

.footMenu>.menu.m_active i{background:#fff url(../images/icon_add.png) no-repeat center center;background-size: contain;box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.13);-webkit-transition: all .3s ease;-moz-transition: all .3s ease;transition: all .3s ease; -webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);}
.mIcon.gt.m_curr{transform: translate(0px, -150px);-webkit-transition: all .1s ease;-moz-transition: all .1s ease;transition: all .1s ease ; }
.mIcon.wx.m_curr{transform: translate(0px, -100px);-webkit-transition: all .3s ease;-moz-transition: all .1s ease;transition: all .1s ease; }
.mIcon.my.m_curr{transform: translate(0px, -50px);-webkit-transition: all .6s ease;-moz-transition: all .1s ease;transition: all .1s ease ; }
.footMenu>.mIcon.close{ opacity: 0}
/*信息提示框*/
.error{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000; display: none;}
.error p{position: fixed; width: 150px; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 50%; margin-left: -75px; top: 50%; margin-top: -24px;}



/* iPhoneX适配 */
.footMenu{bottom: calc(2.1rem + constant(safe-area-inset-bottom));bottom: calc(2.1rem + env(safe-area-inset-bottom));}


 /*微信客服*/
.m-wx{text-align: center;}
.m-wx .modal-main .weixin h4{font-size: .28rem;color:#333;}
.m-wx .modal-main .weixin img{margin:.34rem auto;width:50%;border:solid 1px #eee;}
.m-wx .modal-main .weixin h5{font-size: .26rem;color:#a0a0a0;padding-bottom: .5rem;}

.empty{text-align: center; line-height: 1rem;}
/*国籍区号*/
.free_list .inpbox{width: 100%;    border: 1px solid #ddd;    border-radius: .08rem;position: relative;margin-bottom: .22rem}
.free_list .inpbox input {background:#fff;padding:.24rem  .2rem;font-size:.26rem;width:80%;box-sizing:border-box;-webkit-box-sizing:border-box;color:#333;-webkit-appearance: none;border: none}
.areacode_span{text-indent: .24rem}