
/*顶部固定*/
.header{position: fixed;left: 0;right: 0;}
html,body{background: #f8f8f8}

/*头部*/
.content{margin-top: 1.3rem;}
.huoniao_iOS .content {margin-top: 0;}

.invite_title{width: 7rem;height: .88rem;border-radius: .04rem;background:linear-gradient(90deg,rgba(249,113,38,1),rgba(250,197,14,1));line-height: .88rem;text-align: center;color: #fff;font-size: .36rem;margin: .33rem auto}
.invite_title a{color: #fff;display: block;}
.invite_title img{width: .46rem;height: .4rem;margin-right: .1rem;vertical-align: middle;
    margin-top: -.05rem;}
    .inv_content{padding: 0 .24rem}
.inv_content ul li{background: #fff;margin-bottom: .2rem;padding: .35rem .2rem .37rem .24rem}
.inv_content ul li:active{background:#f2f2f2;}
.inv_content .inv_left{float: left;width: 4.2rem;}
.inv_content .inv_left .inv_titile{font-size: .3rem;color: #333;max-width: 4.2rem;text-overflow: ellipsis;white-space: nowrap;overflow:hidden;}
.inv_content .inv_left .hou_style{font-size: .24rem;color: #999;margin-top: .15rem}
.inv_content .inv_left .price{font-size: .3rem;color: #F74C17;margin-top: .12rem}
.inv_content .inv_right{margin-left: 5.15rem;    padding-top: .05rem;}
.inv_content .inv_right .time{font-size: .24rem;color: #999}
.inv_content .inv_right .state{font-size: .26rem;color: #F74C17;width: 1.43rem;height: .5rem;line-height: .5rem;border-radius: .04rem;margin-top: .34rem;background: #FBEAE4;text-align: center;}
.inv_content .inv_right .over{background: #F0F0F0;color: #999}

.empty{text-align: center;}

