/*头部*/
/*__更新 start__*/
.header{position: fixed;left: 0;right: 0;}
/*__更新 end__*/



/*__更新 start__*/
/*.list{position: relative;padding-top: 2.8rem; min-height: 7rem;}
.huoniao_iOS .list{padding-top: 1.8rem;}*/
.list{position: relative;padding-top: 2.5rem; }
.huoniao_iOS .reno_tab{top:0;}
.huoniao_iOS .list{padding-top: 1.5rem;}
/* 导航切换 */
.reno_tab{position: fixed;left: 0;right: 0;z-index: 10;top: .9rem;background: #fff;padding-right: .6rem}
.reno_tab ul{font-size: 0;display:inline-block;padding-left: .54rem;}
.reno_tab li{padding: .18rem 0;width: .86rem;text-align: center;font-size: .28rem;color: #A0A0A0;border-bottom: .04rem solid #fff;display: inline-block;margin-right: .85rem}
.reno_tab li .icon{display: block;width: .56rem;height: .56rem;margin: 0 auto .17rem}
.reno_tab li .icon-2{background: url(../images/reno_company/wiki2.png) no-repeat center;background-size: .56rem}
.reno_tab li .icon-8{background: url(../images/reno_company/wiki3.png) no-repeat center;background-size: .56rem}
.reno_tab li .icon-17{background: url(../images/reno_company/wiki1.png) no-repeat center;background-size: .56rem}
.reno_tab li.active .icon-2{background: url(../images/reno_company/wiki22.png) no-repeat center;background-size: .56rem}
.reno_tab li.active .icon-8{background: url(../images/reno_company/wiki33.png) no-repeat center;background-size: .56rem}
.reno_tab li.active .icon-17{background: url(../images/reno_company/wiki11.png) no-repeat center;background-size: .56rem}

.reno_tab li.active{border-bottom: .04rem solid #010101;color: #020202;font-weight: bold;}
.reno_tab aside{float: right;text-align: center;margin-top: .47rem;color: #A0A0A0;font-size: .28rem;}
.reno_tab aside img{width: .56rem;height: .15rem;display: block;margin:0 auto .3rem;}
.reno_tab aside.active{color: #F97126;}

/*__更新 end__*/


/*百科全书*/
.wiki{padding: 0 .24rem;background: #fff;margin-top: .1rem;  box-shadow: 0px 2px 6px 0px rgba(214, 214, 214, 0.3);}

.wiki .wiki_container ul li {padding: .26rem 0 .3rem;border-bottom: 1px solid #eee}
.wiki .wiki_container ul li:active{background:#f2f2f2;}
.wiki .wiki_container ul li:last-child{border-bottom: none;}

.wiki .wiki_container ul li .left_b .wiki_title{font-size: .34rem;color: #333;line-height: .5rem;font-weight: bold;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.wiki .wiki_container ul li .left_b .wiki_info{font-size: .26rem;color: #A0A0A0;margin-top: .5rem}
.wiki .wiki_container ul li .left_b .wiki_info p{display: inline-block;}
.wiki .wiki_container ul li .left_b .wiki_info p.wiki_time{margin-right: .28rem}
.wiki .wiki_container ul li .right_b{width: 2.4rem;height: 1.8rem;margin-left: .2rem;float: right;}
.wiki .wiki_container ul li .right_b img{width: 100%;height: 100%;object-fit:cover;}
/*筛选弹出层*/
.nav-mask{width:100%;height:100%;opacity: 0;display: none;position:fixed;top:0;left:0;background:rgba(0,0,0,0.2);transition:0.6s all;-webkit-transition:0.6s all;position: absolute;}
.nav-mask.active {z-index:100000;opacity: 1;display: block;}

.nav-container{width: 6rem;height: 100%;position: fixed;top: 0;right: -6rem;z-index: 100001;transition: 0.6s all;-webkit-transition: 0.6s all;}
.nav-container.active{right: 0;}

.nav-content{height: 100%;position: relative;background-color: #fff;padding:.1rem .24rem 0;overflow: auto;}
.nav-content .arrow {display:block;position:absolute;right:0;top:.08rem;width:.3rem;height:.16rem;background:url(../images/arrowDown.png) no-repeat;background-size:100%;}
 .type_p{font-size: .28rem;color: #a0a0a0;position: relative;margin-top: .4rem} 
.nav-content ul{margin-top: .05rem;display: none}
.nav-content ul.active{display: block;}
.nav-content ul li{float: left;text-indent: 0;height: .6rem; line-height:.6rem;width:1.74rem;border: none;text-align: center;position: relative;border-radius: .05rem;background: #F4F4F4;margin-right: .13rem;margin-top: .13rem;font-size: .24rem;color: #666;}
.part_choose{padding-bottom: 1.4rem}
.nav-content ul li.active{background: #F97126;color: #fff}
.nav-content ul li:nth-child(3n){margin-right: 0}
.nav-content .common-choose:last-child{padding-bottom: 1.4rem}
.nav-content .common-choose .type_p.on{color: #F97126}
.choose_submit{width:6rem;position: absolute;bottom: 0;background: #fff;padding: .2rem 0;padding-right: .2rem;box-sizing: border-box;}
.choose_submit ul{font-size: 0;float: right;}
.choose_submit ul li{width:1.61rem;height:.66rem;text-align: center;line-height: .66rem;color: #fff;font-size: .28rem;display: inline-block;}
.choose_submit ul li.reset{background:linear-gradient(90deg,rgba(255,197,1,1) 0%,rgba(255,150,1,1) 100%);border-radius:.33rem 0px 0px .33rem;}
.choose_submit ul li.sure{background:linear-gradient(90deg,rgba(255,120,0,1) 0%,rgba(255,85,0,1) 100%);border-radius:0px .33rem .33rem 0px;}

.loading{text-align: center; line-height: 1rem;}
