/*头部*/
/*__更新 start__*/
.header{position: fixed;left: 0;right: 0;}
/*__更新 end__*/

.fn-left{float: left;}
.fn-right{float: right;}

/* 搜索 */
.reno_form{position: fixed;left: 0;top: 0.9rem;right:0;background: #fff;padding:.28rem .24rem 0;z-index: 9999}
.huoniao_iOS .reno_form{position: fixed;left: 0;top: 0;right:0;}
.reno_form form{border:1px solid #f97126;height: .74rem;line-height: .74rem;border-radius: .04rem;}
.reno_form img{width: .28rem;height: .28rem;padding-left: .3rem;margin-right: .11rem;    vertical-align: middle;
    margin-top: -.05rem;}
.reno_form input{display: inline-block;height: .74rem;line-height: .74rem;background: #fff;-webkit-appearance:none;outline:none;
	border:0px;font-size: .26rem; color: #333}
.reno_form input::placeholder{color: #a0a0a0}
.renoform_go{height: 100%}
.renoform_go button{width:1.07rem;height: 100%;text-align:center;font-size: .28rem; color: #fff; border: none; background: #f97126; outline: none; }
.renoform_go{float: right;}



/*__更新 start__*/
.list{position: relative;padding-top: 2.8rem; min-height: 7rem;}
/*__更新 end__*/

/*筛选框*/
/*__更新 start__*/
.choose-tab {position: fixed;left: 0;right: 0;z-index: 10;top: 1.95rem;}
.huoniao_iOS .choose-tab{top:1.05rem;}
.huoniao_iOS .list{padding-top: 1.8rem;}
/*__更新 end__*/

.choose-tab ul{height: .8rem;background: #fff;display: -webkit-box;}
.choose-tab ul li{display: block;-webkit-box-flex: 2;line-height: .8rem;text-align: center;font-size: .28rem;position: relative;}
.choose-tab ul li.choice_name:last-child:after{background: none;}
.choose-tab ul li.active{color: #ff653b;}
.choose-tab ul li span{padding-right: .4rem;position: relative;}
.choose-tab ul li span:after{content:'';display:inline-block;width:.1rem;height:.1rem;border-top:.02rem solid #c3c3c3;border-right:solid .02rem #c3c3c3;transform:rotate(135deg);margin-left:.24rem;margin-bottom:.08rem;}
.choose-tab ul li.pubType{display: none;}

.choose{position: relative;z-index: 9999;   }

/*__更新 start__*/
.choose-box{position:fixed;top: 2.7rem;left: 0;right: 0;z-index: 10; }
.huoniao_iOS .choose-box{top:1.7rem;}
/*__更新 end__*/

.choose-local{background: #fff;overflow: hidden;-webkit-overflow-scrolling: touch;}
.choose-local li{height: 1rem;line-height: 1rem;font-size: .28rem;text-indent: .2rem;border-bottom: 1px solid #e3e3e3;}
.choose-local li.on{color: #ff653b}
.dn{display: none;}
/*类别*/
#area-box{max-height: 6.8rem;}
#choose-area{max-height: 6.8rem;}
#choose-area-second{height: 5.8rem;}
/*区域*/
#reno_class_box{padding-bottom: .8rem}
/*家具*/
#info-box{max-height: 7rem;padding-bottom: .8rem}
#choose-info{max-height: 7rem;position: relative;}
#choose-info-second{max-height: 7rem;}

/*排序*/
#paixu-box{max-height: 6.8rem;}
#choose-sort{height: 6rem;}

#choose-info-second li,#choose-area-second li{text-indent: 0.2rem;border-bottom: 1px solid #dfdfdf; border-left: 1px solid #dfdfdf;}

.choose-stage-l{    border-right: 1px solid #dfdfdf;}
.choose-stage-l-short{width: 49%;float: left;}
.choose-stage-r{width: 50%;float: left;display: none;background: #f7f7f7}
#choose-info,#choose-area{background: #fff;}

/*选中之后效果*/
#choose-info li.active,#choose-area li.active{background: #f7f7f7;border-color: #dfdfdf;color: #fd8261}
#choose-area li.on,#choose-sort li.on,#choose-info-second li.on,#choose-area-second li.on{color: #fe6f48;}
#choose-info li.current,#choose-area li.current{color: #ff653b;border-bottom: 1px solid #f74342;}

/*更多筛选*/

 .huoniao_iOS .choose-li{position: fixed;top: 1.7rem;bottom: 59%;left: 0;right: 0;}
 .choose-li {width:100%;background-color:#f3f3f3;position:fixed;box-sizing:border-box;top:2.7rem;height: 2.8rem}
.choose-more {overflow-y:auto;-webkit-overflow-scrolling:touch;position:fixed;box-sizing:border-box;top:0;background: #f3f3f3;height: 2.6rem}
.choose-more .more-child{padding: 0 .24rem .2rem;font-size: .3rem;}
.choose-more .first_more_child .title{display: inline-block;}

.choose-more .more-child .title{padding: .2rem 0;}
.choose-more .more-child ul li{float: left;text-indent: 0;height: .56rem; line-height:.56rem;width:1.54rem;border: none;text-align: center;position: relative;border-radius: .05rem;background: #fff;margin-right: .28rem;margin-top: .24rem;font-size: .28rem;color: #666}
.choose-more .more-child ul li.select{background-color: #f97126;color: #fff;}
.choose-more .more-child ul li:nth-child(4n){margin-right: 0}
/*小箭头*/
.sort{text-align: center;height: .9rem;width:100%;position: absolute;bottom: 0;background: #fff;border-top: 1px solid #dfdfdf}
.sort:after{content: ''; display: inline-block; width: .2rem; height: .2rem; border-top:.05rem solid  #b3b3b3; border-right: solid .05rem #b3b3b3; transform: rotate(-45deg);position: absolute;bottom: .2rem;left: 50% }

/*装修案例列表*/
.reno_anli .content{padding: 0 .24rem}
.reno_anli .content ul{background:#f5f5f7 }
.reno_anli .content ul li{margin-top: .24rem;background: #fff;position: relative;width:3.41rem;border-radius: .06rem;box-shadow: 0px 2px 6px 0px rgba(214, 214, 214, 0.3);}
.reno_anli .content ul li:active{background: #f2f2f2}
.reno_anli .content li a{display: block}
.reno_anli .content ul li .top_b{width:3.4rem;height: auto;}
.reno_anli .content ul li .top_b img{width: 100%; height:auto; object-fit: cover;display: block;}
.reno_anli .content ul li .bottom_b {padding: .18rem .2rem .15rem}
.reno_anli .content ul li .bottom_b .anli_title{font-weight: bold;font-size: .28rem;color: #333;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.reno_anli .content ul li .bottom_b .anli_info{margin-top: .18rem}
.reno_anli .content ul li .bottom_b .anli_l{float: left;width: .4rem;height: .4rem;border-radius: 50%}
.reno_anli .content ul li .bottom_b .anli_l img{width: 100%; height:100%; object-fit: cover;border-radius: 50%}
.reno_anli .content ul li .bottom_b .anli_r{color: #A0A0A0;font-size: .2rem;line-height: .4rem;float: right;width: 82%;}
/*遮罩层*/
.mask{width: 100%;height:100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;z-index: 9;bottom: 0;display: none;}


.loading{text-align: center; line-height: 1rem;}
