/*头部*/
/*__更新 start__*/
.header{position: fixed;left: 0;right: 0;}
/*__更新 end__*/

.fn-left{float: left;}
.fn-right{float: right;}
.gz-address{transform: none!important}
/* 搜索 */
.reno_form{position: fixed;left: 0;top: 0.9rem;right:0;background: #fff;padding:.28rem .24rem .34rem;z-index: 9999}
.huoniao_iOS .reno_form{position: fixed;left: 0;top: 0;right:0;}
.reno_form form{border:1px solid #f97126;height: .74rem;border-radius: .04rem;box-sizing: border-box;position: relative;}
.reno_form img{width: .28rem;height: .28rem;padding-left: .2rem;margin-right: .11rem;    vertical-align: middle;
    margin-top: -.05rem;}
.reno_form input{display: inline-block;background: #fff;-webkit-appearance:none;outline:none;
	border:0px;font-size: .26rem; color: #333;    line-height: .7rem;width: 43%;}
.reno_form input::placeholder{color: #a0a0a0}
.renoform_go{height: 100%;position: absolute;right: 0;top: 0}
.renoform_go button{width:1.07rem;height: 100%;text-align:center;font-size: .28rem; color: #fff; border: none; background: #f97126; outline: none; }

.area_choose{float:left;position: relative;font-size: .26rem;color: #A0A0A0;padding-left: .24rem;
    padding-top: .2rem;}
 .area_choose .city{max-width: 1.4rem;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}  
.area_choose:after{content: ''; display: inline-block; width: .1rem; height: .1rem; border-top:.02rem solid  #CACACA; border-right: solid .02rem #CACACA; transform: rotate(135deg); position: absolute;top: .28rem;right: .2rem}
.reno_form .line {width: 1px;height: .47rem;position: absolute;z-index: 1;right:0;top:.13rem;background: #dcdcdc}
/*__更新 start__*/
.list{position: relative;padding-top: 2.3rem; min-height: 7rem;}
/*__更新 end__*/

/*筛选框*/
/*__更新 start__*/
.choose-tab {position: fixed;left: 0;right: 0;z-index: 10;top: 1.95rem;}
.huoniao_iOS .choose-tab{top:1.05rem;}
.huoniao_iOS .list{padding-top: 1.3rem;}
/*__更新 end__*/

.choose-tab ul{height: .8rem;background: #fff;display: -webkit-box;}
.choose-tab ul li{display: block;-webkit-box-flex: 2;line-height: .8rem;text-align: center;font-size: .28rem;position: relative;}
.choose-tab ul li.window{-webkit-box-flex: 1;}
.choose-tab ul li.window i{width: .4rem;height: .4rem;display: inline-block;background: url(../images/w2.png) no-repeat center;background-size: .4rem;position: relative;top: .1rem;}
.choose-tab ul li.window.on i{width: .4rem;height: .4rem;display: inline-block;background: url(../images/w1.png) no-repeat center;background-size: .4rem;position: relative;top: .1rem;}

.choose-tab ul li.choice_name:last-child:after{background: none;}
.choose-tab ul li.active{color: #ff653b;}
.choose-tab ul li.active span{}
.choose-tab ul li span{padding-right: .4rem;position: relative;}
.choose-tab ul li span:after{content:'';display:inline-block;width:.1rem;height:.1rem;border-top:.02rem solid #c3c3c3;border-right:solid .02rem #c3c3c3;transform:rotate(135deg);margin-left:.24rem;margin-bottom:.08rem;}

.choose{position: relative;z-index: 9999;   }

/*__更新 start__*/
.choose-box{position:fixed;top: 2.7rem;left: 0;right: 0;z-index: 10; }
.huoniao_iOS .choose-box{top:1.7rem;}
/*__更新 end__*/

.choose-local{background: #fff;overflow: hidden;-webkit-overflow-scrolling: touch;}
.choose-local li{height: 1rem;line-height: 1rem;font-size: .28rem;text-indent: .2rem;border-bottom: 1px solid #e3e3e3;}
.dn{display: none;}
/*类别*/
#area-box{max-height: 6.8rem;}
#choose-area{max-height: 6.8rem;}
#choose-area-second{height: 5.8rem;}
/*区域*/
#reno_class_box{padding-bottom: .8rem}
/*家具*/
#info-box{max-height: 7rem;padding-bottom: .8rem}
#choose-info{max-height: 7rem;position: relative;}
#choose-info-second{max-height: 7rem;}

/*排序*/
#paixu-box{max-height: 6.8rem;}
#choose-sort{height: 6rem;}

#choose-info-second li,#choose-area-second li{
	text-indent: 0.2rem;border-bottom: 1px solid #dfdfdf; border-left: 1px solid #dfdfdf;
}

.choose-stage-l{    border-right: 1px solid #dfdfdf;}
.choose-stage-l-short{width: 49%;float: left;}
.choose-stage-r{width: 50%;float: left;display: none;background: #f7f7f7}
#choose-info,#choose-area{background: #fff;}

/*选中之后效果*/
#choose-info li.active,#choose-area li.active{background: #f7f7f7;border-color: #dfdfdf;color: #fd8261}
#choose-area li.on,#choose-sort li.on,#choose-info-second li.on,#choose-area-second li.on{color: #fe6f48;}
#choose-info li.current,#choose-area li.current{color: #ff653b;border-bottom: 1px solid #f74342;}

/*更多筛选*/

 .huoniao_iOS .choose-li{position: fixed;top: 1.7rem;bottom: 59%;left: 0;right: 0;}
 .choose-li {width:100%;background-color:#f3f3f3;position:fixed;box-sizing:border-box;top:2.7rem;bottom:52%;}
.choose-more {overflow-y:auto;-webkit-overflow-scrolling:touch;position:fixed;box-sizing:border-box;top:0;bottom:10%;background: #f3f3f3}
.choose-more .more-child{padding: 0 .24rem .2rem;font-size: .3rem;}
.choose-more .first_more_child .title{display: inline-block;}

.choose-more .more-child .title{padding: .2rem 0;}
.choose-more .more-child ul li{float: left;text-indent: 0;height: .56rem; line-height:.56rem;width:1.54rem;border: none;text-align: center;position: relative;border-radius: .05rem;background: #fff;margin-right: .28rem;margin-top: .24rem;font-size: .28rem;color: #666}
.choose-more .more-child ul li.select{background-color: #f97126;color: #fff;}

/*小箭头*/
.sort{text-align: center;height: .9rem;width:100%;position: absolute;bottom: 0;background: #fff;border-top: 1px solid #dfdfdf}
.sort:after{content: ''; display: inline-block; width: .2rem; height: .2rem; border-top:.05rem solid  #b3b3b3; border-right: solid .05rem #b3b3b3; transform: rotate(-45deg);position: absolute;bottom: .2rem;left: 50% }

/*小区案例列表*/
.reno_anli .content ul{background:#f5f5f7 }
.reno_anli .content ul li{margin-top: .24rem;background: #fff;position: relative;padding: .3rem .24rem .34rem}
.reno_anli .content ul li:active{background:#f2f2f2;}
.reno_anli .content li a{display: block}
.reno_anli .top_b{margin-bottom: .13rem}
.reno_anli .top_b .left_b{width: 2.34rem;height: 1.6rem;float: left;}
.reno_anli .top_b .left_b img{width: 100%; height:100%; object-fit: cover;}
.reno_anli .top_b .right_b{margin-left: 2.59rem;height: 1.6rem;}
.reno_anli .top_b .right_b .vill_title{font-size: .34rem;font-weight: bold;color: #333}
.reno_anli .top_b .right_b .vill_addr{font-size: .26rem;color: #A0A0A0;margin-top: .15rem}
.reno_anli .top_b .right_b .vill_addr img{width: .23rem;height: .26rem;margin-right: .1rem;}
.reno_anli .top_b .right_b .vill_addr span{display: inline-block;max-width: 4.08rem;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.reno_anli .top_b .right_b .vill_num{font-size: .26rem;color: #A0A0A0;margin-top: .15rem}
.reno_anli .top_b .right_b .vill_num span{color: #F97126}
.reno_anli .bottom_b {padding: .2rem 0;position: relative;border-bottom: 1px dashed #E5E5E5}
.reno_anli .bottom_b2{border-bottom: none}
.reno_anli .bottom_b .anli_title{font-size: .3rem;color: #333;}
.reno_anli .bottom_b .anli_title a{text-overflow: ellipsis;white-space: nowrap;max-width: 5.5rem;overflow: hidden;}
.reno_anli .bottom_b .vill_info{font-size: .24rem;color: #A0A0A0;margin-top: .15rem}
.reno_anli .bottom_b .visit{position: absolute;right: 0;bottom: .3rem;font-size: .26rem;color: #fff;background: #F97126;width: 1.43rem;height: .5rem;line-height: .53rem;text-align: center;border-radius: .04rem;}
.reno_anli .vill_more{width: 100%;height: .64rem;text-align: center;line-height: .64rem;background: #F8F8F8;color: #A0A0A0;font-size: .28rem;border-radius: .04rem;margin-top: .13rem}
.reno_anli .vill_more a{color: #A0A0A0;}

/*遮罩层*/
/*__更新 start__*/
.mask{width: 100%;height:100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;z-index: 9;bottom: 0;display: none;}
/*__更新 end__*/
/*筛选*/
/*__更新 start__*/
.screen {background: #fff;border-bottom: 0.02rem solid #eaeaea;padding-bottom: .15rem;}
/*__更新 end__*/

.screen .screen_tab{position: relative;}
.screen .screen_tab_top{overflow-x: auto;white-space: nowrap;margin:0 .1rem;}
.screen .screen_box{display: inline-block;width: 1.43rem;height: .6rem;line-height: .6rem;text-align: center;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;border: 0.02rem solid #eaeaea;background: #f8f8f8;font-size: .28rem;border-radius: .1rem;margin: 0 .1rem;margin-top: .15rem;}
.screen .screen_box.on{background: #fff;padding-bottom: .15rem;border-bottom: none;position: relative;z-index: 2;border-radius: 0;color: #ff4f37;}
.screen .screen_tab_sub{background: #fff;width: 100%;position: absolute;left: 0;right: 0;top: .9rem;max-height: 3rem;overflow: auto;}
.screen .screen_list{border-top: 0.02rem solid #eaeaea;border-bottom: 0.02rem solid #eaeaea;padding: 0.15rem 0;}
.screen .screen_list li{float: left;width: 2rem;height: .6rem;line-height: .6rem;border: 0.02rem solid #000;text-align: center;margin: 0.15rem .23rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: .28rem;}
.screen .screen_list li.on{border-color: #ff4f37;color: #ff4f37;}
a.scrollTop{display: block;width: 1rem;height: 1rem;border-radius: 1rem;background: rgba(0,0,0,.6);bottom: .3rem;right: .3rem;position: fixed;}
a.scrollTop i{display: block;width: .5rem;background: url(../images/top.png) no-repeat;height: .5rem;background-size: .5rem auto;margin: .2rem auto;}
.screen-info{position: relative;}

.empty{text-align: center; line-height: 1rem;}

/*预约参观弹出层*/
.order_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 9999;display: none;}
.order_container{position: fixed; left: 50%; margin-left: -3.05rem; top: 50%; margin-top: -2.2rem; width: 6.1rem;    box-sizing: border-box;background-color:#fff;  padding: .4rem .36rem .5rem; z-index: 99; border-radius: .04rem}
.order_container .work_close{width: .3rem;height: .3rem;position: absolute;right: .3rem}
.order_container p.t1{margin-top: .26rem;font-size: .34rem;font-weight: bold;color: #333;text-align: center;}
.order_container .site{margin-top: .3rem;color: #333;}
.order_container .site_info{margin-top: .2rem;position: relative;height: .56rem;line-height: .56rem}
.order_container .site_info span{display: inline-block;overflow: hidden;}
.order_container .site_info p{display: inline-block;margin-left: .17rem;height: .56rem;line-height: .56rem;border-radius: .04rem;border:1px solid #e5e5e5;color: #333;width: 4.2rem;max-width:4.2rem;box-sizing: border-box;padding-left: .2rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.order_container .mill{position: absolute;top: .1rem;right: .2rem}
.order_container form{font-size: 0}
.order_container form label{font-size: .24rem}
.order_container input{width:  4.2rem;height: .56rem;line-height: .56rem;box-sizing: border-box;;-webkit-appearance:none;border:1px solid #e5e5e5;font-size: .26rem;margin-top: .2rem;border-radius: .04rem;box-sizing: border-box;padding-left: .2rem;margin-left: .17rem;}

.order_container .free{width: 2.42rem;height: .64rem;line-height: .64rem;text-align: center;color: #fff;background:#0bd7b3;border-radius: .04rem;margin: .3rem auto 0;font-size: .26rem}
.order_container .alert_item{background:#efefef;width:2.1rem;height:0.5rem;line-height:0.5rem;text-align:center;font-size:0.24rem;border-radius:0.1rem;border:0.02rem solid #bfbfbf;opacity:0.8;display:none;margin-left:-0.9rem;}

.order_container .name-1 {position:absolute;top:49%;left:39%;}
.order_container .phone-1 {width:2.5rem;position:absolute;top:61%;left:39%;}

/*预约成功弹出层*/
.order_mask2{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 100;display: none;}
.order_container2{position: fixed; left: 50%; margin-left: -3rem; top: 50%; margin-top: -2.2rem; width: 6rem;padding-bottom: .6rem ;    box-sizing: border-box;background-color:#fff;  padding: .54rem .74rem .4rem; z-index: 99; border-radius: .04rem}

.order_container2 p.t1{margin-top: .2rem;font-size: .34rem;font-weight: bold;color: #333;text-align: center;}
.order_container2 p.t2{margin-top: .3rem;line-height: .4rem;color: #a0a0a0;font-size: .26rem;}
.order_container2 p.t3{margin-top: .3rem;width: 1.7rem;height: .6rem;line-height: .6rem;color: #fff;border-radius: .04rem;text-align: center;background: #0bd7b3 ;margin: .2rem auto 0}
/* 波纹效果2 */
.order_container2 .wave {position:relative;width:.76rem;height:.76rem;text-align:center;margin:0 auto;}
.order_container2 .m-box{width:.68rem;height:.68rem;position:relative;margin: 0 auto;background:#fff;border-radius:50%;border:.04rem solid #f54d0c;}
.order_container2 .m-duigou{width:.32rem;height:.25rem;position:absolute;left:50%;top:50%;margin:-.18rem 0 0 -.18rem;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden;}
.order_container2 .m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#f54d0c;border-radius:2px}
.order_container2 .m-duigou:before{width:.04rem;height:.25rem;left:0;-webkit-animation:dgLeft 0.5s linear 0s 1 both;animation:dgLeft 0.5s linear 0s 1 both}
.order_container2 .m-duigou:after{width:.32rem;height:.04rem;bottom:0;-webkit-animation:dgRight 0.5s linear 0.5s 1 both;animation:dgRight 0.5s linear 0.5s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@keyframes circle-opacity {from {opacity:1;transform:scale(0);}
to {opacity:0.5;transform:scale(1);}
}

.loading{text-align: center;line-height: .88rem}

/*国籍区号*/
.order_container .inpbox{width: 4.16rem;    border: 1px solid #e5e5e5;    border-radius: .04rem;position: relative;margin-top: .2rem;display: inline-block;    margin-left: .17rem;}
.order_container .inpbox input {background:#fff;padding:.24rem  .2rem;font-size:.26rem;width:70%;box-sizing:border-box;-webkit-box-sizing:border-box;color:#333;-webkit-appearance: none;border: none;margin-top: 0;margin-left: 0}
.areacode_span{text-indent: .2rem}