
/*顶部固定*/
.header{position: fixed;left: 0;right: 0;}
body{background: #f8f8f8}

/*头部*/
.content{margin-top: 1.1rem;background: #fff}
.huoniao_iOS .content {margin-top: 0;}
.com_title{font-size: .3rem;color: #FEFEFE;width:2.49rem;height:.8rem;line-height: .8rem;border-radius:0px .4rem .4rem 0px;text-align: center;}
.content .com_title{background:rgba(110,143,247,1);box-shadow:0px 3px 8px 0px rgba(126,155,246,0.7);}
.content .house_style{padding: 0 .24rem;}
.content .house_style ul{margin-top: .4rem;display: flex;justify-content: space-between;border-bottom: 1px dashed #e5e5e5}
.content .house_style ul li{display: inline-block;font-size: .26rem;color: #333;margin-bottom: .2rem}
.content .house_style ul li .top_img{width: 1.52rem;height: 1.52rem;border-radius: 50%;position: relative;border: 1px solid #fff}
.content .house_style ul li .top_img img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%;display: block;border: none}
.content .house_style ul li p{text-align: center;margin-top: .2rem;font-size: .28rem}
.content .house_style ul li.active .top_img{box-shadow:0px 8px 13px 0px rgba(249,113,38,0.24);border: 1px solid #f97126}
.content .house_style ul li.active .top_img:before {content:'';display:block;position:absolute;left:50%;top:50%;width:.54rem;height:.54rem;margin-left:-.27rem;margin-top:-.27rem;background:url(../images/check.png) no-repeat center;background-size:.54rem .54rem;}
.content .house_type{padding: .33rem .24rem .4rem}
.content .house_type .type_choose{font-size: .28rem;color: #A0A0A0;}
.content .house_type ul{font-size: 0;margin-top: .2rem}
.content .house_type ul.pub_ul{display:none;}
.content .house_type ul li{font-size: .28rem;color: #333;display: inline-block;border-radius: 50%;width: 1.3rem;height: 1.3rem;line-height: 1.3rem;text-align: center;background: #EAEAEA;margin-right:.13rem;margin-bottom:.13rem;}
.content .house_type ul li:nth-child(5n){margin-right:0;}
.content .house_type ul li.active{color: #fff;background: #F97126}

/*详情*/
.comp_content{background: #fff;margin-top: .2rem;}
.comp_content .com_title{background:rgba(247,112,112,1);box-shadow:0px 3px 8px 0px rgba(247,112,112,0.7);}
.comp_content .reno_style{padding: 0 .24rem;}
.comp_content .reno_style ul{margin-top: .4rem;display: flex;border-bottom: 1px dashed #e5e5e5;flex-wrap:wrap;font-size: 0}
.comp_content .reno_style ul li{display: inline-block;font-size: .26rem;color: #333;margin-bottom: .2rem;width: 25%;text-align: center;}
.comp_content .reno_style ul li .top_img{width: 1.52rem;height: 1.52rem;border-radius: 50%;position: relative;border: 1px solid #fff;margin: 0 auto}
.comp_content .reno_style ul li .top_img img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%;display: block;border: none}
.comp_content .reno_style ul li p{text-align: center;margin-top: .2rem;font-size: .28rem}
.comp_content .reno_style ul li.active .top_img{box-shadow:0px 8px 13px 0px rgba(249,113,38,0.24);border: 1px solid #f97126}
.comp_content .reno_style ul li.active .top_img:before {content:'';display:block;position:absolute;left:50%;top:50%;width:.54rem;height:.54rem;margin-left:-.27rem;margin-top:-.27rem;background:url(../images/check.png) no-repeat center;background-size:.54rem .54rem;}


/*服务详情2*/
.container{margin-bottom: calc(1.5rem + env(safe-area-inset-bottom));margin-bottom: calc(1.5rem + constant(safe-area-inset-bottom));}

/*房子所在地*/
.place_content{background: #fff;margin-top: .2rem;}
.place_content .com_title{background:rgba(255,207,77,1);box-shadow:0px 3px 8px 0px rgba(255,207,77,0.7);}
.house_form {position:relative;padding: .33rem .24rem .47rem}
.house_form .free_in {position:relative;}
.house_form .free_in p {background:#fff;border-radius:0.04rem;height: .8rem;line-height: .8rem;font-size:.26rem;width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;color:#A0A0A0;border:1px solid #eee;padding-left: .35rem}
.house_form .free_in p.curr{color: #333;}
.house_form .free_in i {display:block;position:absolute;right:.34rem;top:.35rem;width:.3rem;height:.16rem;background:url(../images/sort_down.png) no-repeat;background-size:100%;}
.house_form input{height: .8rem;line-height: .8rem;border: 1px solid #eee;border-radius: .04rem;margin-top: .26rem;width: 100%;padding-left: .35rem;box-sizing:border-box;-webkit-box-sizing:border-box;font-size: .26rem;color: #333;-webkit-appearance:none;}
.house_form input::placeholder{color: #A0A0A0}
/*提交*/
.reno_submit{width: 7rem;height: .9rem;line-height: .9rem;text-align: center;color: #fff;font-size: .3rem;background: #F97126;margin:.42rem auto .55rem;}
.reno_submit a{color: #fff;font-size: .3rem;}

/*信息提示框*/
.error{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000; display: none;}
.error p{position: fixed; width: 150px; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 50%; margin-left: -75px; top: 50%; margin-top: -24px;}

/*国籍区号*/
.formCommon .inpbox{width: 100%;    border: 1px solid #eee;    border-radius: .04rem;position: relative;margin-top: .26rem;box-sizing: border-box;}
.formCommon .inpbox input#place_phone{background:#fff;padding:.24rem  .2rem;font-size:.26rem;width:80%;box-sizing:border-box;-webkit-box-sizing:border-box;color:#333;-webkit-appearance: none;border: none;margin-top: 0}
.areacode_span{text-indent: .24rem}
