
/*顶部固定*/
.header{position: fixed;left: 0;right: 0;}
html,body{background: #f8f8f8}

/*头部*/
.wiki_wrap{margin-top: .9rem;padding: 0 .24rem}
.huoniao_iOS .wiki_wrap {margin-top: 0;}
.wiki_top{border-bottom: 1px solid #eee;padding: .57rem 0 .45rem}
.wiki_top .wiki_title{font-weight:800;font-size: .46rem;color: #333;}
.wiki_top .wiki_info{font-size: .26rem;color: #A0A0A0;margin-top: .27rem}
.wiki_top .wiki_info p{display: inline-block;}
.wiki_top .wiki_info p.wiki_time{margin-right: .28rem}
.wiki_content{padding-top: .4rem;font-size: .32rem;color: #333;overflow: hidden;}
.wiki_content p{font-size: .32rem;color: #333;}
.wiki_content img{width:auto!important;height:auto!important;max-width:100%!important;max-height:100%!important;}

