

/*列表*/
.class_wrap{margin-top: 50px; padding-bottom: 50px;}


/*列表左*/
.list_left{width: 895px;float: left;}
.list_left .public_top{margin-bottom: 20px;}
.list_left .list_ul li{padding: 15px;background: #fff;margin-top: 20px;position: relative;}
.list_left .list_ul li:hover{box-shadow:0px 8px 15px 0px rgba(198,203,204,0.4);}

.list_left .list_ul li .top_tag{position: absolute;top:9px;left:15px;width: 42px;height: 29px;background: url(../images/top_tag.png) no-repeat;background-size: 42px 29px; }
.list_left .left_b{float: left;width: 290px;height: 220px;}
.list_left .left_b img{width: 100%;height: 100%;object-fit: cover}

.list_left .mid_b{float: left;margin-left: 25px;width: 536px;}
.list_left .mid_b .cla_title{font-size: 18px;font-weight: bold;height: 20px;line-height: 20px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 536px;margin-top: 4px;}
.list_left .mid_b .cla_title a{display: inline-block;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 536px;}

.list_left .mid_b .tip{font-size: 14px;color: #3377FF;margin-top: 18px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 540px;}
.list_left .mid_b .cla_title:hover a{color: #3377FF}

.list_left .mid_b .cla_info{padding-top: 10px;position: relative;}
.list_left .mid_b .class_l{float: left;}
.list_left .mid_b .cla_info dl{margin-top: 8px;overflow: hidden;}
.list_left .mid_b .cla_info dl dt{float: left;width: 13px;height: 15px;vertical-align: middle;margin-top:3px;}
.list_left .mid_b .cla_info dl dd{float: left;margin-left: 7px;font-size: 14px;color: #ABABAB}
.list_left .mid_b .cla_info .enroll{float: right;width:140px;height:50px;background:#3377FF;box-shadow:0px 7px 23px 0px rgba(51,119,255,0.47);border-radius:25px;line-height: 50px;text-align: center;color: #fff;font-size: 16px;margin-top: 8px;display: none;-webkit-animation: bottomFadeIn .3s ease-out; -moz-animation: bottomFadeIn .3s ease-out; animation: bottomFadeIn .3s ease-out;}
.list_left .mid_b .cla_info .enroll a{color: #fff;display: block;}
.list_left .list_ul li:hover .enroll{display: block;}


.list_left .new_info{line-height: 26px;position: absolute;bottom: 18px;right: 30px;left: 330px;}
.list_left .new_info .img_l{float: left;border-radius:50%;width: 26px;height: 26px;position: relative;}
.list_left .new_info .img_l .l_img{width: 100%;height: 100%;border-radius: 50%}
.list_left .new_info .img_l i.vip{width:16px;height: 16px;display: inline-block;background: url(../images/vip.png) no-repeat center center;position: absolute;bottom: 0;right: -6px;background-size: 24px 24px;}
.list_left .new_info .org_name{float:left;font-size: 14px;color: #787878;margin-left: 10px;}
.list_left .new_info .org_name a{color:#787878 ;display: block;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 360px;}
.list_left .new_info .org_name:hover a{color:#3377FF }

.list_left .right_b{float: right;}
.list_left .new_price{font-size: 14px;color: #FF653B;float: left;}
.list_left .new_price strong{font-size: 24px;font-weight: bold;}
.list_left .new_price .price_sy{vertical-align: top;margin-top: 2px;display: inline-block;margin-left: 4px;}
.list_left .right_b .t_bg{float: left;width: 16px;height: 16px;background: url(../images/code1.png) no-repeat;background-size: 16px;vertical-align: middle;margin-top: 5px ;margin-left: 20px;cursor: pointer;z-index: 999;}
.list_left .list_ul li .t_bg:hover{background: url(../images/code2.png) no-repeat;z-index: 999;}
/*二维码*/
.list_left .list_ul li .code_bg{ display:none;width: 140px;height: 140px;position: absolute;bottom: 37px;right: -30px ;background: rgba(0,0,0,0.5);filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#7f0000000", endColorstr="#7f0000000", gradientType="1");z-index: 10;}

.list_left .list_ul li .code_bg .code{width: 106px;height: 106px;background: #fff;overflow: hidden;position: absolute;top: 50%;left: 50%;margin: -53px -53px;-moz-box-sizing: border-box;  -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
.list_left .list_ul li .code_bg img{-webkit-animation: bottomFadeIn .3s ease-out; -moz-animation: bottomFadeIn .3s ease-out; animation: bottomFadeIn .3s ease-out;width: 106px;height: 106px;}
.list_left .list_ul li .code_bg:after {content: '';position: absolute;right: 32px;bottom: -12px;display: inline-block;width: 0;height: 0;border: 6px solid transparent;border-top-color: #7f7f7f;}


.footer {margin-top: 0;}
.list_left .list_ul li.empty {text-align: center; font-size: 17px; color:#8c8c91; padding-bottom: 50px;}
.empty img {width: 300px; margin: 50px auto 20px; display: block;}
.failed img{display: block;margin: 0 auto}