/*头部轮播*/
/*头部轮播*/
.banner_wrap {padding-bottom:22px;   margin: 0 auto;}

.slider {width:100%;min-width:1200px;height:420px;position:relative;overflow:hidden;background:#fff;text-align:center;}
.slider .bd {width:1200px;position:absolute;left:50%;margin-left:-600px}
.slider .bd li {width:1200px;overflow:hidden;}
.slider .bd li img {display:block;width:1200px;height:420px;}
.slider .tempWrap {overflow:visible !important}
.slider .tempWrap ul {margin-left:-1200px !important;}
.slider .hd {position:absolute;width:100%;left:0;z-index:1;height:8px;bottom:20px;text-align:center;}
.slider .hd li {display:inline-block;*display:inline;zoom:1;width:8px;height:8px;border-radius:50%;overflow:none;display:inline-block;background:#fff;cursor:pointer;margin-right:10px;}
.slider .hd li.on {background:#33D1BF;width:16px;border-radius:4px;}

.slider .pnBtn {position:absolute;z-index:1;top:0;width:100%;height:420px;cursor:pointer;}
.slider .prev {left:-50%;margin-left:-600px;}
.slider .next {left:50%;margin-left:600px;}
.slider .pnBtn .blackBg {display:block;position:absolute;left:0;top:0;width:100%;height:420px;background:#fff;filter:alpha(opacity=50);opacity:0.5;}
.slider .pnBtn .arrow {display:none;position:absolute;top:0;z-index:1;width:60px;height:420px;}
.slider .pnBtn .arrow:hover {filter:alpha(opacity=60);opacity:0.6;}
.slider .prev .arrow {right:0;background:url(../images/slider-arrow.png) -120px 0 no-repeat;top: 30px}
.slider .next .arrow {left:0;background:url(../images/slider-arrow.png) 0 0 no-repeat;top: 30px}

#adv1{margin-top: 20px;}
#adv3{margin-top: 40px;}


/*广告位*/
.adv_wrap li{float: left;width: 290px;height: 160px;margin-left: 13px;}
.adv_wrap li img{width: 100%;height: 100%;object-fit: cover;}
.adv_wrap li:first-child{margin-left: 0}
.mainBox{background: #f5f5f7;padding-bottom: 80px;}
/*公共标题*/
.class_title{padding-bottom: 25px;}
.class_title .h1_title{font-size: 26px;color: #3B3B3B;font-weight: bold;float: left;margin-left: 6px;}
.class_title .fabu{float: left;padding: 0 22px;height: 32px;line-height: 30px;background-image: -moz-linear-gradient( 0deg, rgb(255,142,89) 1%, rgb(255,108,79) 100%);background-image: -webkit-linear-gradient( 0deg, rgb(255,142,89) 1%, rgb(255,108,79) 100%);background-image: -ms-linear-gradient( 0deg, rgb(255,142,89) 1%, rgb(255,108,79) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF8E59", endColorstr="#FF6C4F", gradientType="1");border-radius: 16px;font-size: 14px;color: #fff;vertical-align: middle;margin-top: 6px;margin-left: 20px;position: relative;z-index: 2}
.class_title .fabu:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10); -moz-opacity:0.1;-khtml-opacity: 0.1;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=10);border-radius: 16px;}
.class_title .fabu.spe_fabu{background: none;border: 1px solid #3377FF;color: #3377FF;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.class_title .fabu.spe_fabu:hover{background:#3377FF;color: #fff }
.class_title .fabu.spe_fabu:hover:after{content: '';background: none}
.left_con .class_title .fabu{background: none}
.right_con .class_title .fabu{background: none}

.org_recom .class_title{padding-bottom: 16px;}
.hot_class .class_title{padding-bottom: 16px;}
/*公共二维码*/

.lang_con .code_bg,.mainBox .slideBox .bd .code_bg{ display:none;width: 285px;height: 218px;position: absolute;top: 0;left: 0;background: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);border-radius:4px 4px 0px 0px;}
.lang_con .code_bg .code,.mainBox .slideBox .bd .code_bg .code{width: 140px;height: 140px;background: #fff;position: absolute;top: 50%;left: 50%;margin: -70px -70px;-moz-box-sizing: border-box;  -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
.lang_con .code_bg img,.mainBox .slideBox .bd .code_bg img{-webkit-animation: bottomFadeIn .3s ease-out; -moz-animation: bottomFadeIn .3s ease-out; animation: bottomFadeIn .3s ease-out;width: 140px;height: 140px;}
.lang_con .code_bg i,.mainBox .slideBox .bd .code_bg i{  display: inline-block;width: 12px;height: 6px;position: absolute;right: 14px;bottom: -6px;background: url(../images/sort-d.png) no-repeat;background-size: 12px 6px;}

/*公共轮播*/
.mainBox_wrap{margin:0 auto;}
.wrap2 .slideBox{ width: 1240px;margin-left: -18px;}
.wrap2 .slideBox .tempWrap{width: 1240px!important;}
.wrap2 .slideBox .bd{height: 380px!important; overflow-y:hidden;}
.wrap2 .slideBox .bd ul {padding-left: 20px!important;padding-top: 20px!important;}
.wrap2 .slideBox .bd ul li{float: left;}
.mainBox .slideBox .bd ul li a{display: block;float: left;width: 285px;height: 330px;border-radius: 4px;transition: all .3s;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;margin-right: 20px;position: relative;background: #fff;margin-bottom: 50px;}
.mainBox .slideBox .bd ul li a:hover{box-shadow: 0px 7px 17px 0px rgba(0, 0, 0, 0.17);
-moz-box-shadow: 0px 7px 17px 0px rgba(0, 0, 0, 0.17);
-webkit-box-shadow: 0px 7px 17px 0px rgba(0, 0, 0, 0.17);
-ms-box-shadow: 0px 7px 17px 0px rgba(0, 0, 0, 0.17);
-o-box-shadow: 0px 7px 17px 0px rgba(0, 0, 0, 0.17);
transform: translate3d(0,-8px,0);-o-transform: translate3d(0,-8px,0);-webkit-transform: translate3d(0,-8px,0);transform: -moz-translate3d(0,-8px,0);}
/*.mainBox .slideBox .bd ul li:nth-child(4n){margin-right: 30px;}*/
.mainBox .slideBox .bd .t_bg:hover{background: url(../images/code2.png) no-repeat;}
.mainBox .slideBox .bd .top_img{position: relative;width:285px;height: 218px;overflow: hidden;border-radius:4px 4px 0px 0px;}
.mainBox .slideBox .bd .top_img img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}

	/*小点点*/
.mainBox .slideBox .hd{ overflow:hidden; position:absolute;left:0; right:0; top:-66px; z-index:1;}
.mainBox .slideBox .hd ul{ overflow:hidden; text-align: right;  height: 29px;line-height: 29px;}
.mainBox .slideBox .hd ul li{cursor:pointer;display:inline-block;overflow:hidden;width:8px;height: 8px;background:#c4c4c4;margin:0 5px;border-radius: 100%;text-align: center;transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;}
.mainBox .slideBox .hd ul li.on{ width:16px;background: #33D1BF; -moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius: 4px;}


/*热门课程*/
.hot_class{padding-top: 68px}
.classList{position: relative;}


/*.mainBox .classList .slideBox{height: 380px!important; overflow: hidden;}*/
.classList .bd a .top_i{position: absolute;top:-6px;width: 42px;height: 29px;background: url(../images/top_tag.png) no-repeat;background-size: 42px;z-index: 2}

.classList .bd .class_info{margin:16px 12px 0 14px;}
.classList .bd p.tit span{font-size: 16px;color: #37373B;display: inline-block;max-width:210px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.classList .bd p .t_bg{float: right;width: 16px;height: 16px;background: url(../images/code1.png) no-repeat;background-size: 16px;vertical-align: middle;margin-top: 5px }


.classList .bd .info2{margin-top: 14px;}
.classList .bd .info2 .pr_span{float: left;font-size: 14px;color: #FF653B;}
.classList .bd .info2 .pr_span strong{font-weight: bold;font-size: 24px;}
.classList .bd .info2 .num_span{float: right;font-size: 14px;color: #ABABAB;vertical-align: middle;margin-top: 12px;max-width:110px ;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.classList .bd .info2 .num_span em{color:#527EF7;}

/*推荐机构*/
.org_recom{padding-top: 40px}
.orgList{position: relative;}
/*.orgList .slideBox{padding-left: 100px}*/
.orgList .bd .top_img .org_txt{position: absolute;background: rgba(0,0,0,.5);left: 0;right: 0;bottom: 0;height: 42px;line-height: 42px;font-size: 14px;color: #fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);}
.orgList .bd .top_img .org_txt i{display: inline-block;background: url(../images/place.png) no-repeat;background-size: 14px 17px;width: 14px;height: 17px;margin-left: 14px;margin-right: 8px;vertical-align: top;margin-top: 13px;}
.orgList .bd .org_info{margin:24px 12px 0;}
.orgList .bd p.tit span{font-size: 16px;color: #37373B;display: inline-block;max-width:210px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.orgList .bd p .t_bg{float: right;width: 16px;height: 16px;background: url(../images/code1.png) no-repeat;background-size: 16px;vertical-align: middle;margin-top: 5px }

.orgList .bd .org_info2{margin-top: 15px;height: 30px;overflow:hidden;}
.orgList .bd .org_info2 span{display: inline-block;height: 24px;line-height: 24px;padding: 0 10px;border-radius: 2px;border: 1px solid #A1C0FF;color: #3377FF;margin-right: 8px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 56px;}

.orgList .bd .org_info2 span.certify{background: #3377FF;color: #fff;border: none;}

/*横向2*/
.adv2_wrap{margin-top: 55px;}
.adv2_wrap li{margin-left: 16px;width: 186px;height: 124px;float: left;}
.adv2_wrap li:first-child{margin-left: 0}
.adv2_wrap li img{width: 186px;height: 124px;display: block;}

.mainBox2{padding: 75px 0 104px;background: url(../images/tutor_bg.png) no-repeat;background-size: 100% 100%;}
.mainBox2 .class_title{padding-bottom: 40px;}
.mainBox2 .class_title .h1_title{color: #fff;}
.class_title .more{float: right;font-size: 14px;color: #ABABAB;padding-top: 12px;padding-right: 25px;}
.left_con{float: left;width: 686px;}
.tutor_list ul li{float: left;margin-left: 12px;background: #fff;width: 220px;height:300px;border-radius: 10px;padding: 20px 0 26px ;-moz-box-sizing: border-box;  -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box;  box-sizing: border-box; position: relative;text-align: center;overflow:hidden;}

.tutor_list ul li:first-child{margin-left: 0;}
.tutor_list .tutor_img{width:90px;height:90px;border-radius:45px;margin: 0 auto }
.tutor_list .tutor_img img{width: 100%;height: 100%;object-fit: cover;border-radius: 45px;}
.tutor_list .tutor_name{font-size: 18px;color: #363636;text-align: center;max-width: 164px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;text-align: center;margin: 14px auto 10px}
.tutor_list .tutor_edu{font-size: 14px;color: #fff;height: 20px;border-radius: 2px;line-height: 20px;padding: 0 13px;background: #3377FF;max-width: 164px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;display: inline-block;margin: 0 auto}
.tutor_list .tutor_time{text-align: center;margin-top: 6px;font-size: 0}
.tutor_list .tutor_time .tutor_price{font-size: 14px;color: #FF5D2F;display: inline-block;overflow: hidden;}
.tutor_list .tutor_time .tutor_price strong{font-size: 22px;font-weight: bold;}
.tutor_list .tutor_time .ord_tag{display: inline-block;font-size: 12px;color: #02D5A5;height: 20px;border-radius: 2px;line-height: 20px;padding: 0 6px;border: 1px solid #02D5A5;margin-left: 8px;max-width: 50px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.tutor_list .tutor_time .ord_tag.noord_tag{color: #ABABAB;border: 1px solid #ABABAB}
.tutor_list .tutor_info{overflow: hidden;transition: all .5s;-webkit-transition: all .5s;-moz-transition: all .5s;-ms-transition: all .5s;padding: 0 30px 0 26px;}
.tutor_list .tutor_info.active{margin-left: -18px;}
.tutor_list .tutor_info .info_det{float: left;font-size: 14px;color: #ABABAB;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:2;overflow: hidden;width: 100%;text-align: left;margin-top: 10px;transition: all .5s;-webkit-transition: all .5s;-moz-transition: all .5s;-ms-transition: all .5s;position: relative;}
.tutor_list .tutor_info .info_det.active{margin-left: -70px;}
.tutor_list .tutor_info .info_det.active:before{content: ''; display: block; width: 15px; height: 40px; position: absolute; left: 63px; top: 0;z-index: 1;
 background: -webkit-linear-gradient(left, rgba(255,255,255,1) , rgba(255,255,255,0)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, rgba(255,255,255,1) , rgba(255,255,255,0)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right,rgba(255,255,255,1) , rgba(255,255,255,0)); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, rgba(255,255,255,1) , rgba(255,255,255,0)); /* 标准的语法 */
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#ffffff", endColorstr="#33ffffff", gradientType="1");
}

.tutor_list .tutor_info .order{
  background-image: -moz-linear-gradient( 0deg, rgb(22,208,184) 0%, rgb(2,213,165) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(22,208,184) 0%, rgb(2,213,165) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(22,208,184) 0%, rgb(2,213,165) 100%);
  box-shadow: 0px 0px 11px 0px rgba(12, 211, 175, 0.37);
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#15d1b8", endColorstr="#03d5a6", gradientType="1");

}
.tutor_list .tutor_info .order i{display: inline-block;width: 24px;height: 24px;background: url(../images/time.png) no-repeat;background-size: 24px;vertical-align: middle;margin-top: ;margin-right: 6px;}
.tutor_list .tutor_info .noorder{
  background-image: -moz-linear-gradient( 0deg, rgb(202,207,222) 0%, rgb(173,177,189) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(202,207,222) 0%, rgb(173,177,189) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(202,207,222) 0%, rgb(173,177,189) 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#cacfdd", endColorstr="#aeb2be", gradientType="1");
  box-shadow: 0px 0px 11px 0px rgba(166, 176, 211, 0.37);
}

/*.tutor_list .tutor_info .right_in{display:none;animation: rightFadeIn .5s ease-out;-moz-animation: rightFadeIn .5s ease-out;-webkit-animation: rightFadeIn .5s ease-out;-ms-animation: rightFadeIn .5s ease-out;-o-animation: rightFadeIn .5s ease-out;position: absolute;right: 0;bottom: 0}*/
.tutor_list .tutor_info .right_in{position: absolute;bottom: 0;margin-left: 194px;width: 100px;height: 62px;line-height: 62px;text-align: center;font-size: 14px;color: #fff;transition: all .5s;-webkit-transition: all .5s;-moz-transition: all .5s;-ms-transition: all .5s;border-bottom-right-radius: 10px;border-top-left-radius: 4px;z-index: 999}
.tutor_list .tutor_info .right_in.curr{display: block;margin-left: 113px;}


 

/*广告3*/ 
.adv_wrap3{margin-top: 32px;}    
.fir_l_top{width: 452px;height: 272px;border-radius: 8px;background: #919191;margin-right: 12px;overflow: hidden;float: left;}   
.fir_l_top .slideBox{width: 452px;height:272px;position: relative;}
.fir_l_top .slideBox .hd {height: 15px;position: absolute;left:0;bottom:4px;width:100%;text-align:right;z-index: 1;padding-right: 15px;box-sizing: border-box;}
.fir_l_top .slideBox .hd ul li {display:inline-block;width: 8px;height: 8px;border-radius:50%;background:rgba(255,255,255,0.3);cursor: pointer;margin: 0 6px 38px 2px;}
.fir_l_top .slideBox .hd ul li.on {background:#fff;}
.fir_l_top .slideBox .hd ul {overflow: hidden;}
.fir_l_top .slideBox .bd ul {height: 272px;overflow: hidden;}
.fir_l_top .slideBox .bd .slideshow-item {float: left;zoom: 1;vertical-align: middle;}
.fir_l_top .slideBox .bd img{width: 452px;height: 272px;}
.fir_l_top .slideBox .bd .slideshow-item span {display: none;}
.fir_l_top .prev,.fir_l_top .next{display: none}
.fir_l_top .slideBox:hover .prev{display: block;}
.fir_l_top .slideBox:hover .next{display: block;}
.fir_l_top .prev{width: 30px;height: 60px;background: rgba(0, 0, 0, 0.37);position: absolute;left: 0; top: 102px;border-radius: 0 30px 30px 0;}
.fir_l_top .prev:after{content: "";display: block;width: 100%;height: 100%;background: url(../images/prev.png) no-repeat 6px center;}
.fir_l_top .next{width: 30px;height: 60px;background: rgba(0, 0, 0, 0.37);position: absolute;right: 0;top: 102px;border-radius: 30px 0 0 30px;}
.fir_l_top .next:after{content: "";display: block;width: 100%; height: 100%;background: url(../images/next.png) no-repeat 15px center;}
 

.adv_wrap3 .adv_r{float: right;width: 220px}
.adv_wrap3 .adv_r>div{width: 220px;height: 130px;border-radius: 8px;overflow: hidden;}
.adv_wrap3 .adv_r .fir_li{margin-bottom: 12px}
.adv_wrap3 .adv_r img{width: 220px;height: 130px;}
/*求学留言*/

.right_con{float: right;width: 484px;} 
.word_list{background: #fff;border-radius: 10px;position: relative;padding: 22px 0 20px;}
.word_list:after{content: ''; display: block; width: 484px; height: 30px; position: absolute; left: 0; bottom: 20px;z-index: 1;
 background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) , rgba(255,255,255,0)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(top, rgba(255,255,255,1) , rgba(255,255,255,0)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(top,rgba(255,255,255,1) , rgba(255,255,255,0)); /* Firefox 3.6 - 15 */
  background: linear-gradient(to top, rgba(255,255,255,1) , rgba(255,255,255,0)); /* 标准的语法 */}
.word_list .word_li{padding: 16px 7px 11px 7px;border-bottom: 1px dashed #EDEFF2;}
.word_list .word_ul{overflow: auto;height: 564px;padding: 0 15px 0 13px;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.word_list .word_ul::-webkit-scrollbar {width: 20px;height: 8px;}
.word_list .word_ul::-webkit-scrollbar-thumb {border-radius: 12px;border: 6px solid rgba(0, 0, 0, 0);box-shadow: 8px 0 0 #e1e1e8 inset;}
.word_list .word_ul::-webkit-scrollbar-thumb:hover {box-shadow: 8px 0 0 #e1e1e8 inset;}

.word_list .word_li.curr .word_info{display: block;}
.word_list .word_li.curr .user_contact{display: inline-block;}
.word_list .word_li:first-child{padding-top: 0}
.word_list .word_li .word_title .word_tit{display: inline-block;}
.word_list .word_li .word_title .word_tit a{display: inline-block;max-width: 380px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;font-size: 16px;color: #363636;line-height: 16px;}
.word_list .word_li .word_title .new{display: inline-block;font-size: 14px;color: #fff;width:36px;height:20px;background:#FF8E59;border-radius:2px;text-align: center;line-height: 20px;vertical-align: top;margin-top: -2px;}
.word_list .word_li .word_title i.tag{display: inline-block;width:8px;height:8px;background:#FF8E59;border-radius:2px;vertical-align: top;margin-top: 5px;margin-right: 10px;}
.word_info{display: none;background: #F5F8FF;border-radius:8px;width: 442px;padding:12px 24px 23px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;margin-top: 15px;}
.word_info ul li{float: left;font-size: 14px;color: #5E5E5E;margin-top: 10px;}
.word_info ul li:nth-child(2n){float: right;}
.word_info ul li span{display: inline-block;vertical-align: top;}
.word_info ul li span:first-child{color: #A2A5AB;margin-right: 20px;width: 56px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.word_info ul li span:first-child+span{width: 112px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.word_info ul li span.last_span{width: 318px!important;;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}

.word_user{margin-top: 10px;}
.word_user .left_b{float: left;margin-left: 9px;}
.word_user .left_b .left_img{float: left;width: 22px;height: 22px;border-radius: 50%;overflow:hidden;margin-right: 8px;}
.word_user .left_b .left_img img{width: 100%;height: 100%;object-fit: cover;}
.word_user .left_b .word_name{font-size: 12px;color: #999999;line-height: 22px;}
.word_user .right_b{float: right;margin-right: 14px;}
.word_user .right_b .user_contact{height: 24px;line-height: 23px;border-radius: 2px;background: #769FFF;color: #fff;text-align: center;font-size: 12px;display: none;margin-right: 17px;}
.word_user .right_b .user_contact a{color: #fff;display: block;padding: 0 12px;}
.word_user .right_b .user_contact a:hover{background:  #548dff}
.word_user .right_b .user_contact .callTag{display: inline-block;width: 12px;height: 12px;background: url(../images/call.png) no-repeat center;background-size: 12px;vertical-align: middle;margin-top: -2px;margin-right: 6px}
.word_user .right_b .user_contact em.cont-num{display: none;font-size: 12px;font-weight: bold;}
.word_user .right_b .pub_time{font-size: 12px;color: #ABABAB}
.word_user .right_b .pub_time em{margin-right: 10px;}
.word_ul .word_more{padding: 10px 0 15px;font-size: 14px;text-align: center;cursor: pointer;}
.word_ul .word_more a{display: block;}
.word_ul .word_more a:hover{color: #3377FF}

/*语言留学*/
.mainBox3{background: #f5f5f7;padding-bottom: 46px;}
/*公共头部*/
.lang_head {height: 50px;line-height: 50px;}
.lang_head .tit_h2{font-size: 24px;font-weight: bold;color: #363636;float: left;padding-left: 50px;background: url(../images/tit_bg.png) no-repeat left center;background-size: 50px 50px;height: 50px;line-height: 50px;margin-left: -10px;}
.lang_head .head_ul{float: left;margin-left: 30px;margin-top: 12px;}
.lang_head .head_ul li{float: left;margin-right: 12px;height: 28px;border: 1px solid #8D8E91;border-radius: 15px;padding: 0 20px;font-size: 14px;color: #363636;line-height: 28px;cursor: pointer;max-width:150px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.lang_head .head_ul li:hover{border: 1px solid #39393b}
.lang_head .see_more{float: right;font-size: 16px;color: #787878}
.lang_head .see_more:hover{color: #3377FF}
/*语言留学*/
.langAbroad{padding-top: 70px;}
.langAbroad:first-child{padding-top: 60px;}
.lang_con{margin-top: 22px;}
.lang_con ul li{display: block;float: left;width: 285px;border-radius: 4px;transition: all .3s;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;margin-right: 20px;position: relative;background: #fff;}
.lang_con ul li:hover{ box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 0.17);-moz-box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 0.17);-webkit-box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 0.17);-ms-box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 0.17);-o-box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 0.17);transform: translate3d(0,-8px,0);-o-transform: translate3d(0,-8px,0);-webkit-transform: translate3d(0,-8px,0);transform: -moz-translate3d(0,-8px,0);}
.lang_con ul li:nth-child(4n){margin-right: 0;}
.lang_con .time_class .t_bg:hover{background: url(../images/code2.png) no-repeat;}
.lang_con .top_img{position: relative;width:285px;height: 218px;overflow: hidden;border-radius:4px 4px 0px 0px;}

.lang_con .top_img img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}

.lang_con .class_info{padding:18px 12px 0 14px;}
.lang_con p.tit{margin-top: 10px;}
.lang_con p.tit span{font-size: 16px;color: #37373B;display: inline-block;max-width:100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.lang_con .time_class .det_class{font-size: 14px;color: #ABABAB}
.lang_con .time_class .t_bg{float: right;width: 16px;height: 16px;background: url(../images/code1.png) no-repeat;background-size: 16px;vertical-align: middle; }

.lang_con .info2{margin-top: 10px;}
.lang_con .info2 .pr_span{float: left;font-size: 12px;color: #FF653B;}
.lang_con .info2 .pr_span strong{font-weight: bold;font-size: 24px;}
.lang_con .info2 .num_span{float: right;font-size: 14px;color: #ABABAB;vertical-align: middle;margin-top: 12px;max-width:110px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.lang_con .info2 .num_span em{color:#527EF7;}

.lang_con .org_info{border-top: 1px solid #EFF0F1;margin-top: 18px;padding: 14px 12px;overflow: hidden;}
.lang_con .org_info .org_img{float:left;width: 26px;height: 26px;}
.lang_con .org_info .org_img img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%}
.lang_con .org_info .org_tit{float: left;margin-left: 6px;max-width: 150px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;font-size: 14px;color: #424242;}
.lang_con .org_info .org_place{float: right;font-size: 14px;color: #ABABAB;}


.see_allClass{font-size: 16px;color: #3B3B3B;width:160px;height:46px;border:1px solid #8D8E91;border-radius:6px;text-align: center;line-height: 46px;margin:52px auto 72px;overflow: hidden;}
.see_allClass a{color: #3B3B3B;display: block;}
.see_allClass:hover a{background: #e6e6e8}
/*底部广告*/
.left_adv{float: left;width: 960px}
.right_adv{float: right;width: 225px}
/*国际手机号 家教详情*/
.order_container .inpbdr{border: 1px solid #dedede;height: 40px;width: 400px;position: relative;margin: 16px auto;border-radius: 4px;}
.order_container .inpbdr .areaCode{border-right: 1px solid #dedede;width: 70px;text-indent: 16px; font-size: 14px;text-align: left;z-index: 10;line-height: 40px;bottom: 1px;top: 1px;left: 1px;}
.order_container .inpbdr .areaCode s{right: 12px}
.order_container form input#tel{border: none;padding-left: 80px;margin: 0;height: 40px;line-height: 40px;}
.order_container .areaCode_wrap{left: 0;width: 100%}