.main_wrap{background: #f5f5f7}

/*关键字*/
.filter-item {display: none;float: left; line-height: 28px; height: 28px; padding: 0 15px; background-color: #f0f2f7;margin-left: 18px; color: #6f7178;border-radius: 14px;font-size: 15px;}
.filter-item em{color:#fd4939;}

.filter-item .close {color: #6f7178; margin-left: 7px; font-weight:bold;font-family: "\5b8b\4f53", "Microsoft YaHei", Arial; margin-top: 2px;display: block;float: right;}
.filter-item:hover{color: #6f7178;}


/* 筛选 */
.filter_box{background: #fff;}
.filter {position: relative; border-radius: 5px; font-size: 14px;}
.filter dl{border-bottom: 1px solid #eee; background: #fafafc}
.filter dt {float: left;width: 100px;line-height:46px;text-align: center; font-size:14px;color:#333;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}

.filter dd {margin-left: 100px; padding: 12px 0 0 0;overflow: hidden;line-height: 24px;position: relative; background-color: #fff;border-left:1px solid #F0F1F7;padding-left: 24px;}
.filter dd a {float: left; position: relative; margin-right: 35px;margin-bottom: 10px; color: #787878;font-size: 14px;}
.filter dd a:hover {text-decoration: none; color: #3377FF;}
.filter dl dd a.curr{ color: #3377FF;}
.filter dl dd a:hover.curr {text-decoration: none;}
/*价格*/
.filter .inpbox{float: left;}
.filter .inpbox .p1, .filter .inpbox .p2 {width: 70px; padding: 0 4px; height: 28px; border: solid 1px #f0f2f7; line-height: 28px;  margin: -5px 4px;background: #fff;outline: none;text-align: right;}
.filter .inpbox .btn {width:50px;height: 30px; display: inline-block;text-align:center; background: #3377FF; color: #fff; margin-left:8px;vertical-align: top; line-height: 30px; cursor: pointer; white-space: nowrap; -webkit-background-clip: padding-box;-moz-background-clip: padding;  background-clip: padding-box; border: 0;font-size: 14px;outline: none;float: none;margin-top: -3px}
.filter .more {position: absolute; left: 50%; bottom: -27px; width: 100px; height: 25px; text-align: center; line-height: 25px; font-size: 12px; border: 1px solid #e5e5e5; background-color: #fafafa; border-top-color: #fafafa;}
.filter .inpbox input.focus {border: 1px solid #bebfc4;}

.filter .more a {display: block;}
.filter .more i {display: inline-block; vertical-align: middle; margin-left: 8px; width: 9px; height: 5px; background-position: -37px -34px;}
.filter .more a:hover i {background-position: -55px -34px;}
.filter .more.curr i {background-position: -28px -34px; margin-top: -3px;}
.filter .more.curr a:hover i {background-position: -46px -34px;}
.filter .subnav {clear: both; padding: 9px 0 0; background-color: #fff;}
.filter .subnav {border-radius: 3px;*position: relative;z-index: 0;margin-left: 0;border-top: 1px solid #F0F1F7;margin-left: -24px;padding-left: 24px;}


.filter .subnav a {display: inline-block;}
.filter .subnav a.curr{color: #3377FF;}
.sortbar .rowlist i,.sortbar .window i,.sortbar .tpage i,.pagination-pages a i,.pagination-pages span i{display:block;background-image: url(../images/listSprite.png);background-repeat: no-repeat; }

/*清空状态*/
.deletebox{background: #fafafc}
.fi-state{display: none;}
.fi-state dt{width: 100px;height: 56px;line-height:56px;text-align: center;float: left;font-size: 14px;color:#666}
.fi-state dd{margin-left: 24px;float: left;}
.fi-state dd a{padding-left:10px;height:24px;background: #fff;font-size: 14px;color:#333;margin-right: 20px;position: relative;border: 1px solid #A1C0FF;display: inline-block;margin-top: 15px;}
.fi-state dd a span{display: inline-block;height: 24px;line-height: 24px;margin-right: 9px;vertical-align: middle;}
.fi-state dd a i.idel{display: inline-block;width: 24px;height: 24px;background: #A1C0FF url(../images/icon_del.png) no-repeat center center;background-size: 10px;vertical-align: middle;}
.fi-state .btn_clear{float: left;cursor: pointer;font-size: 14px;color:#666;line-height:57px;}
.fi-state .btn_clear:hover{color:#3377FF }

/* 默认排序 切换 */
.sort ul {padding-left: 10px; }
.sort li {float: left; padding: 15px 0;margin-right: 50px; }
.sort li a {display: block;font-size: 16px;color:#37373B;font-weight: bold;}
.sort li a:hover {color: #3377FF;}
.sort li.curr{border-bottom: 4px solid #3377FF}
.sort li.curr a {color: #3377FF;}

/*列表右*/
.list_r{float: right;width: 285px}
.adv_r{width: 285px;height: 189px;overflow: hidden;margin-top: 77px;}   
.adv_r .slideBox{width: 285px;height:189px;position: relative;}

.adv_r .slideBox .hd {height: 15px;position: absolute;left:0;bottom:10px;width:100%;text-align:right;z-index: 1;padding-right: 20px;box-sizing: border-box;}
.adv_r .slideBox .hd ul li {display:inline-block;width: 8px;height: 8px;border-radius:50%;background:rgba(255,255,255,0.3);cursor: pointer;margin-left: 6px ;}
.adv_r .slideBox .hd ul li.on {background:#fff;}
.adv_r .slideBox .hd ul {overflow: hidden;}

.adv_r .slideBox .bd ul {height: 189px;overflow: hidden;}
.adv_r .slideBox .bd li {float: left;zoom: 1;vertical-align: middle;}
.adv_r .slideBox .bd li img{width: 285px;height: 189px;}
.adv_r .slideBox .bd img{width: 285px;height: 189px;}


.listr_con{margin-top: 20px;padding: 0 15px;background: #fff}
.listr_con .newr_tit{font-size: 16px;font-weight: bold;color: #37373B;border-bottom: 1px solid #EDEDED;height: 52px;line-height: 52px;}

.listr_con1 ul{padding: 20px 0 25px;}
.listr_con1 ul li{margin-bottom: 22px}
.listr_con1 ul li .title_h3{font-size: 16px;color: #ABABAB;position: relative;padding-left: 15px;}
.listr_con1 ul li .title_h3 em{color: #ABABAB;display: inline-block;margin-right: 9px;vertical-align: top;float: left;}
.listr_con1 ul li .title_h3 span{color: #3B3B3B;max-width: 234px;vertical-align: top;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;line-height: 22px;font-size: 14px;}
/*.listr_con1 ul li .title_h3 span{color: #3B3B3B;max-width: 234px;vertical-align: top;line-height: 22px;position: relative;padding-left: 15px;display: block;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}*/
.listr_con1 ul li .title_h3:before{content: '•';color: #ABABAB;position: absolute;top: 0;left: 0}
.listr_con1 ul li:hover .title_h3:before{content: '•';color: #3381ff;position: absolute;top: 0;left: 0}
.listr_con1 ul li:hover .title_h3 span{color: #3381ff;}

.listr_con2{padding: 0!important;}
.listr_con2 ul li{padding: 0 15px;}
.listr_con2 ul li:first-child{border-top: none}
.listr_con2 ul li:hover{background: #f7f8fa}
.listr_con2 .newr_tit{border-bottom: none;padding-left: 15px;}
.listr_con2 .r_top{border-top: 1px solid #EDEDED;padding: 20px 0}
.listr_con2 .r_top .r_left{width: 50px;height: 50px;float: left;position: relative;}
.listr_con2 .r_top .r_left img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%}
.listr_con2 .r_top .r_left i.vip{width:16px;height: 16px;display: inline-block;background: url(../images/vip.png) no-repeat center center;position: absolute;bottom: 0;right: 0;background-size: 24px 24px;}
.listr_con2 .r_top .r_right{margin-left: 60px;}
.listr_con2 .r_right h3{display: block;font-size: 15px;color: #3B3B3B;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 190px;}
.listr_con2 .r_right h3 a{display: block;font-size: 15px;color: #3B3B3B;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 190px;}

.listr_con2 .r_right .org_info{font-size: 12px;margin-top: 6px;}
.listr_con2 .r_right .org_info dl{float: left;}
.listr_con2 .r_right .org_info dl.cla_dl{margin-right: 20px;}
.listr_con2 .r_right .org_info dl dt{color: #ABABAB;float: left;}
.listr_con2 .r_right .org_info dl dd{color: #527EF7 ;float: left;}
