

/*列表*/
.org_wrap{margin-top: 50px; padding-bottom: 50px;}


/*列表左*/
.list_left{width: 895px;float: left;}
.list_left .public_top{margin-bottom: 20px;}
.list_left .list_ul li{padding: 15px 0 15px 15px;background: #fff;margin-top: 20px;position: relative;}
.list_left .list_ul li:hover{box-shadow: 0px 3px 37px 0px rgba(0, 0, 0, 0.11);}
/*.list_left .list_ul li.top_li{background: #fff url(../images/top.png) no-repeat right top;}*/
.list_left .list_ul li .top_tag{position: absolute;top:9px;left:15px;width: 42px;height: 29px;background: url(../images/top_tag.png) no-repeat;background-size: 42px 29px; }
.list_left .left_b{float: left;width: 290px;height: 220px;}
.list_left .left_b img{width: 100%;height: 100%;object-fit: cover}

.list_left .mid_b{margin-left: 315px;}
.list_left .mid_b .cla_title{font-size: 22px;font-weight: bold;line-height: 22px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 546px;color: #37373B;margin-top: 4px;}
.list_left .mid_b .cla_title a{display: inline-block;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 546px;color: #37373B}

.list_left .mid_b .tip{font-size: 14px;color: #3377FF;margin-top: 20px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 540px;}
.list_left .mid_b .cla_title:hover a{color: #3377FF}

.list_left .mid_b .cla_info{padding-top: 20px;position: relative;overflow: hidden;}
.list_left .mid_b .class_l{float: left;}
.list_left .mid_b .class_l .org_tip{font-size: 14px;color: #8D8E91}
.list_left .mid_b .org_tip span em{margin-left: 4px;}
.list_left .mid_b .class_l .org_tip .line{margin: 5px 14px 0;width: 1px;height: 12px;background: #dedede;display: inline-block;vertical-align: top}
.list_left .mid_b .class_l .address{font-size: 14px;color: #8D8E91;margin-top: 14px;}

.list_left .mid_b .class_l dl{margin-top: 20px;overflow: hidden;}
.list_left .mid_b .class_l dl dt{float: left;height: 30px;line-height: 30px;padding: 0 12px;font-size: 12px;color: #fff;background: #3377FF;border-radius: 2px;}
.list_left .mid_b .class_l dl dd{float: left;margin-left: 10px;font-size: 12px;color: #848AAB;height: 30px;line-height: 30px;padding: 0 12px;background: #F0F1F7;border-radius: 2px;}
.list_left .mid_b .cla_info .store{    position: absolute;right: 23px;top: 48px;width:140px;height:50px;background:#3377FF;box-shadow:0px 7px 23px 0px rgba(51,119,255,0.47);border-radius:25px;line-height: 50px;text-align: center;color: #fff;font-size: 15px;display: none;-webkit-animation: bottomFadeIn .3s ease-out; -moz-animation: bottomFadeIn .3s ease-out; animation: bottomFadeIn .3s ease-out;}
.list_left .mid_b .cla_info .store a{color: #fff;display: block;z-index: 2;position: relative;}
.list_left .list_ul li:hover .store{display: block;}
.list_left .mid_b .cla_info .store a:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10); -moz-opacity:0.1;-khtml-opacity: 0.1;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=10);border-radius: 25px}


.list_left .new_info{margin-top: 24px;line-height: 30px;position: relative;height: 30px;margin-top: 34px;margin-right: 14px;}
.list_left .new_info .left_phone{float: left;}
.list_left .new_info .left_phone i{width:18px;height: 18px;display: inline-block;background: url(../images/phone.png) no-repeat center center;margin-right: 7px;vertical-align: middle;margin-top: -10px;}
.list_left .new_info .left_phone strong{font-size: 20px;font-weight: bold;color: #FF653B}
.list_left .new_info .left_phone span{font-size: 12px;margin-left: 15px;color:#FF653B;filter: alpha(opacity=57); -moz-opacity: 0.57; -khtml-opacity: 0.57; opacity: 0.57;}
.list_left .new_info .org_name{float:left;font-size: 14px;color: #787878;margin-left: 10px;}
.list_left .new_info .org_name a{color:#787878 ;display: block;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 360px;}
.list_left .new_info .org_name:hover a{color:#3377FF }

.list_left .right_b{float: right;}
.list_left .right_b .t_bg{z-index: 999;float: left;width: 16px;height: 16px;background: url(../images/code1.png) no-repeat;background-size: 16px;vertical-align: middle;margin-top: 10px ;cursor: pointer;}
.list_left .list_ul li .t_bg:hover{background: url(../images/code2.png) no-repeat;z-index: 999;}
/*二维码*/
.list_left .list_ul li .code_bg{ display:none;width: 140px;height: 140px;position: absolute;bottom: 37px;right: -15px ;background: rgba(0,0,0,0.5);filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#7f0000000", endColorstr="#7f0000000", gradientType="1");z-index: 6;}

.list_left .list_ul li .code_bg .code{width: 106px;height: 106px;background: #fff;overflow: hidden;position: absolute;top: 50%;left: 50%;margin: -53px -53px;-moz-box-sizing: border-box;  -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
.list_left .list_ul li .code_bg .code img{-webkit-animation: bottomFadeIn .3s ease-out; -moz-animation: bottomFadeIn .3s ease-out; animation: bottomFadeIn .3s ease-out;width: 106px;height: 106px;}
.list_left .list_ul li .code_bg:after {content: '';position: absolute;right: 24px;bottom: -12px;display: inline-block;width: 0;height: 0;border: 6px solid transparent;border-top-color: #7f7f7f;}


.footer {margin-top: 0;}
.list_left .list_ul li.empty {text-align: center; font-size: 17px; color:#8c8c91; padding-bottom: 50px;}
.empty img {width: 300px; margin: 50px auto 20px; display: block;}
.failed img{display: block;margin: 0 auto}