.topInfo{margin-bottom: 0!important;height:35px!important;line-height:35px!important;z-index: 99999;}
.header{box-shadow: 0px 3px 5px 0px rgba(48, 58, 100, 0.03);background: #fff;padding-top: 15px;padding-bottom: 18px}
.header .searchbox{position: relative;float: right;width: 270px;height: 40px;line-height: 40px;border: 1px solid #f5f6f7;background:#f5f6f7;margin: 18px 10px 0 0;border-radius: 21px;}
.focus{border:1px solid #ef5350;}
.header .searchbox .searchkey{border: 0;width: 75%;height: 33px;margin: 2px 23px 7px;font-size: 14px;background:#f5f6f7!important;vertical-align: middle;outline: none;}
.header .searchboxinput::-webkit-input-placeholder{color: #919191;}
.header .searchboxinput::-moz-placeholder{color: #919191;}
.header .searchboxinput:-moz-placeholder{color: #919191;}
.header .searchboxinput:-ms-input-placeholder{color:#919191;}
.header .searchboxinput::placeholder{color: #919191}
.header .searchbox .isearch{position: absolute;top: 10px;right: 20px;display: block;width: 21px;height: 21px;background: url("../images/icon_sec.png") no-repeat;cursor: pointer;}
.header .searchbox.focus {border: 1px solid #6e9eff;}
.header .searchbox.focus .isearch {background: url("../images/icon_sec2.png") no-repeat;}
.header .searchbox.curr {border: 1px solid #6e9eff;}
.header .searchbox.curr .isearch {background: url("../images/icon_sec2.png") no-repeat;}

.header .btn_direc{float: right;}
.header .btn_direc a{width:120px;margin:18px 0 0;border-radius:20px;color:#fff;text-align:center;font-size:16px;font-weight:bold;float: left;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;padding: 0 12px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.header .btn_direc a:hover{box-shadow: 0px 5px 17px 0px rgba(0, 85, 188, 0.37);}
.header .btn_direc a.org_ruzhu{background: url("../images/btn_bg.png") no-repeat;background-size: 120px 42px;margin-right: 10px;height: 42px;line-height: 42px;}
.header .btn_direc a.class_fabu{border: 1px solid #3478FF;color: #3377FF;height:42px;line-height:42px;}
.header .btn_direc a span{}
.logo {float: left;max-width: 100%;height: 53px;margin-top: 13px;overflow: hidden;}
.logo img{height: 100%;}
.header .kefu{font-size: 15px;font-weight: bold;color: #3b3b3b;margin-top: 15px;}
.header .nav{float: left;margin: 26px 0 0 0;}
.header .nav dl {display: inline-block;float: left;margin-left: 36px;position: relative;cursor: pointer;font-weight: bold;font-size: 16px;padding-bottom: 20px;z-index: 9}
.header .nav dl:first-child{margin-left: 43px;}
.header .nav dl.org_find{margin-left: 25px;}
.header .nav dl dt>a{max-width: 64px;display: inline-block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.header .nav dl a:hover{color: #3377FF;}
.header .nav dl a.currpage{color: #3377FF;}
.header .nav dl.state{min-width: 64px;}
.header .nav dl.state dt a{max-width: 50px;}
.header .nav dl em {position: absolute;right: 0;top: 10px;display: inline-block;width: 0;height: 0;border: 5px solid transparent;border-top-color: #D7D7D7;vertical-align: middle;margin-left: 5px;transition: all .3s;}
.header .nav dl:hover em{-webkit-transform:rotate(180deg);transform:rotate(180deg);-webkit-transform-origin: center 2px;transform-origin: center 2px;}

.header .nav .ModuleBox {position:absolute;min-width: 97px;background: #fff;animation: topFadeIn .3s ease-out;z-index: 10;margin-top:20px;padding: 20px;display: none;box-sizing: border-box;z-index: 9999}
.header .nav .ModuleBox{width: 560px;height: 297px;box-shadow: 0px 3px 37px 0px rgba(23, 25, 79, 0.11);border: 1px solid #ebebed;margin-left: -16px;overflow-y: auto;}
.header .nav .ModuleBox::-webkit-scrollbar {width: 10px;height: 13px;background: #eee;}
.header .nav .ModuleBox::-webkit-scrollbar-thumb {-webkit-box-shadow: inset 0 0 5px #a0a0a0;background: #a0a0a0;}
.header .nav .ModuleBox::-webkit-scrollbar-track {background: none;}
.header .nav .ModuleBox a{display: inline-block;width:115px;text-align:left;font-weight: 500;color: #5e5e5e;padding: 10px;box-sizing: border-box;font-size: 14px;}
.header .nav .ModuleBox a:hover{color: #3377ff;}

/*.header .nav dl.state:hover .ModuleBox{display: block;}*/


.footer{margin-top: 0;}

/*面包屑*/
.crumbs{height: 50px;line-height: 50px;}
.crumbs .cont span{float: left;}
.crumbs .cont a {float: left;color:#999;}
.crumbs .cont a:hover{color:#3377FF;}
.crumbs .cont{float: left;font-size: 14px;color:#999;}
.crumbs .cont span {float: left;margin-right: 10px;margin-left: 10px;}
/*预约弹窗*/
.order_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 9999;display: none;}
.order_container{position: fixed; left: 50%; margin-left: -250px; top: 50%; margin-top: -140px; width: 500px;   box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;background-color:#fff;  padding: 30px;padding-right: 20px; z-index: 9999; border-radius: 14px;}
.order_container .close_alert{width: 14px;height: 14px;position: absolute;right: 20px;top: 20px;cursor: pointer;}
.order_container p.t1{font-size: 16px;color: #a6a7ab;}
.order_container p.t1 strong{font-weight: bold;color: #37373b;margin-right: 16px;}
.order_container p.order_submit{color: #fff;width: 140px;height: 44px;text-align: center;line-height: 44px;margin: 68px auto 0;background:#3377ff; font-size: 16px;border-radius: 22px;cursor: pointer;}
.order_container form{margin-top: 64px;}
.order_container form input{display: block;width: 400px;height: 42px;border: 1px solid #dedede;border-radius: 4px;line-height: 42px;margin:16px auto;padding-left: 21px;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;font-size: 14px;}
.order_container form input::placeholder{color: #919191}
.order_container form input::-moz-placeholder{color:#919191;}              　　
.order_container form input::-webkit-input-placeholder{color:#919191;}       
.order_container form input::-ms-input-placeholder{color:#919191;}  

/*家教预约成功弹出层*/
.tutor_success{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 9999;display: none;}
.tutor_container{position: fixed; left: 50%; margin-left: -250px; top: 50%; margin-top: -140px; width: 500px;  box-sizing: border-box;background-color:#fff;  padding: 20px 20px 80px; z-index: 9999; border-radius: 14px;}
.tutor_container .close_alert{width: 14px;height: 14px;position: absolute;right: 20px;top: 20px;cursor: pointer;}
.tutor_container p.t1{margin-top: 38px;font-size: 22px;font-weight: bold;color: #37373b;text-align: center;}
.tutor_container p.t2{margin-top: 18px;color: #a6a7ab;font-size: 16px;text-align: center;}

/* 波纹效果 */
.tutor_container .wave {position:relative;width:100px;height:100px;text-align:center;margin:35px auto 0;}
.tutor_container .wave .shine_img{position: absolute;top: -17px;right: -17px}
.tutor_container .m-box{width:100px;height:100px;position:relative;margin: 0 auto;border-radius:50%;background: #3377FF}
.tutor_container .m-duigou{width:48px;height:34px;position:absolute;left:50%;top:50%;margin:-25px 0 0 -25px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden}
.tutor_container .m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#fff;border-radius:2px}
.tutor_container .m-duigou:before{width:6px;height:34px;left:0;-webkit-animation:dgLeft 0.5s linear 0s 1 both;animation:dgLeft 0.5s linear 0s 1 both}
.tutor_container .m-duigou:after{width:48px;height:6px;bottom:0;-webkit-animation:dgRight 0.5s linear 0.5s 1 both;animation:dgRight 0.5s linear 0.5s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@keyframes circle-opacity {from {opacity:1;transform:scale(0);}
to {opacity:0.5;transform:scale(1);}
}

/* 分页 */
/*分页*/
.pagination {padding: 10px 0 30px; text-align: center; line-height: 32px; font-size: 14px; color: #BEBFC4; margin-top: 30px;font-weight: bold;}
.pagination li {display: inline-block; margin-right: 7px; background-color:#fff;border-radius: 3px}
.pagination li.page_disabled {display: none;}
.pagination li a, .pagination li span {display: block; padding: 0 10px;color:#BEBFC4;}
.pagination li a:hover ,.pagination li.page_current span {background: #3377FF; color: #fff;}
.pagination li.page_more span {background: #fff;color: #BEBFC4; cursor: default;}
.pagination .page_info {display: none;}
/* 从下往上缓冲显示 */
@-webkit-keyframes bottomFadeIn{
    0%{opacity:0;	-webkit-transform:translateY(10px);}
    100%{opacity:1;	-webkit-transform:translateY(0);}
}

@-moz-keyframes bottomFadeIn{
    0%{opacity:0;	-moz-transform:translateY(10px);}
    100%{opacity:1; -moz-transform:translateY(0);}
}

@keyframes bottomFadeIn{
    0%{opacity:0;	transform:translateY(10px);}
    100%{opacity:1; transform:translateY(0);}
}
