

/*列表*/
.tutor_wrap{margin-top: 50px; padding-bottom: 50px;}


/*列表左*/
.list_left{width: 895px;float: left;}
.list_left .list_ul{padding-top: 20px;}
.list_left .list_ul li{background: #fff;margin-bottom: 28px;position: relative;border-radius:10px;float: left;width: 438px; height: 260px;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;margin-right: 18px;}
.list_left .list_ul li:hover{box-shadow:0px 3px 37px 0px rgba(0, 0, 0, 0.11);}
.list_left .list_ul li:nth-child(2n){margin-right: 0}

.list_left .list_ul li .top_tag{position: absolute;top:-6px;left:10px;width: 42px;height: 29px;background: url(../images/top_tag.png) no-repeat;background-size: 42px 29px; }
.list_left .top_b .left_img{float: left;width: 90px;height: 90px;}
.list_left .top_b .left_img img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%}
.list_left .top_b .right_info{margin-left: 104px;}
.list_left .top_b .tutor_name{font-size: 18px;color: #363636;}
.list_left .top_b .tutor_name span{display: inline-block;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 240px;font-weight: bold;}
.list_left .top_b .tutor_name:hover a{color: #3377FF}
.list_left .top_b .tutor_name i{display: inline-block;width: 16px;height: 16px;margin-left: 2px;    vertical-align: top;margin-top: 5px;}
.list_left .top_b .tutor_name i.sex_nan{background: url(../images/sex_nan.png) no-repeat center;background-size: 16px;}
.list_left .top_b .tutor_name i.sex_nv{background: url(../images/sex_nv.png) no-repeat center;background-size: 16px;}
.list_left .top_b .prove{margin-top: 0;font-size: 0}
.list_left .top_b .prove span{display: inline-block;width:70px;height:20px;border-radius:2px;line-height: 20px;text-align: center;font-size: 12px;color: #fff;margin-right: 8px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.list_left .top_b .prove span.identity{background: #3377FF;}
.list_left .top_b .prove span.edu{background: #02D5A5;}
.list_left .top_b .record{font-size: 14px;color: #ABABAB;margin-top: 10px;}
.list_left .top_b .record .line{margin: 0 9px;}

.list_left .mid_b{padding-top: 20px;}
.list_left .mid_b dl{margin-top: 4px;overflow: hidden;font-size: 14px;color: #ABABAB}
.list_left .mid_b dl dt{float: left;}
.list_left .mid_b dl dd{float: left;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 304px;}

.list_left .tutor_time{margin-top: 12px;}
.list_left .tutor_time .tutor_price{font-size: 14px;color: #FF5D2F;}
.list_left .tutor_time .tutor_price em{font-size: 22px;font-weight: bold;}
.list_left .tutor_time .ord_tag{display: inline-block;font-size: 12px;color: #02D5A5;height: 20px;border-radius: 2px;line-height: 20px;padding: 0 6px;border: 1px solid #02D5A5;margin-left: 8px;}
.list_left .tutor_time .ord_tag.noord_tag{color: #ABABAB;border: 1px solid #c4c4c4}
.list_left .tutor_time .address{font-size: 14px;color: #ABABAB;float: right;margin-top: 10px;transition: all .5s;-webkit-transition: all .5s;-moz-transition: all .5s;-ms-transition: all .5s;}



.list_left .right_b{float: right;}
.list_left .new_price{font-size: 14px;color: #FF653B;float: left;}
.list_left .new_price strong{font-size: 24px;font-weight: bold;}
.list_left .new_price .price_sy{vertical-align: top;margin-top: 2px;display: inline-block;margin-left: 4px;}

/*预约右*/
.list_left .list_ul li .li_wrap{overflow:hidden;position: relative;padding: 24px 28px 28px 25px;height: 260px;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;border-radius: 10px;}

.list_left .list_ul li .rightLi{position: absolute;bottom: 0;margin-left: 421px;width: 70px;height: 260px;text-align: center;transition: all .5s;-webkit-transition: all .5s;-moz-transition: all .5s;-ms-transition: all .5s;border-bottom-right-radius: 10px;border-top-right-radius: 10px;z-index: 999;
  background-image: -moz-linear-gradient( -90deg, rgb(22,208,184) 0%, rgb(2,213,165) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(22,208,184) 0%, rgb(2,213,165) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(22,208,184) 0%, rgb(2,213,165) 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#15d1b8", endColorstr="#03d5a6", gradientType="1");
  
  box-shadow: 0px 0px 11px 0px rgba(12, 211, 175, 0.37);
box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;
}
.list_left .list_ul li .rightLi.curr{display: block;margin-left: 343px;}
.list_left .list_ul li .rightLi img{display: block;margin: 0 auto 10px;padding-top: 100px;}
.list_left .list_ul li .rightLi p{font-size: 14px;color: #fff}
.list_left .list_ul li .leftLi{transition: all .5s;-webkit-transition: all .5s;-moz-transition: all .5s;-ms-transition: all .5s;}
.list_left .list_ul li .rightLi.curr:before{content: ''; display: block; width: 12px; height: 260px; position: absolute; left: -12px; top: 0;z-index: 1;
 background: -webkit-linear-gradient(right, rgba(255,255,255,1) , rgba(255,255,255,0)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(left, rgba(255,255,255,1) , rgba(255,255,255,0)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(left,rgba(255,255,255,1) , rgba(255,255,255,0)); /* Firefox 3.6 - 15 */
  background: linear-gradient(to left, rgba(255,255,255,1) , rgba(255,255,255,0)); /* 标准的语法 */
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#ffffff", endColorstr="#33ffffff", gradientType="1");
}



.list_left .list_ul li .leftLi.active .address{    display: none}
.rightLi a{display: block;width: 100%;height: 100%}
.list_left .list_ul li .see_more p{padding-top: 100px;}

.footer {margin-top: 0;}

.list_left .list_ul li.empty {text-align: center; font-size: 17px; color:#8c8c91; padding-bottom: 50px;background: none;width: auto;float: none;    padding: 15px 0;}
.empty img {width: 300px; margin: 50px auto 20px; display: block;}
.failed img{display: block;margin: 0 auto}

/*国际手机号*/
.order_container .inpbdr{border: 1px solid #dedede;height: 40px;width: 400px;position: relative;margin: 16px auto;border-radius: 4px;}
.order_container .inpbdr .areaCode{border-right: 1px solid #dedede;width: 70px;text-indent: 16px; font-size: 14px;text-align: left;z-index: 10;line-height: 40px;bottom: 1px;top: 1px;left: 1px;}
.order_container .inpbdr .areaCode s{right: 12px}
.order_container form input#tel{border: none;padding-left: 80px;margin: 0;height: 40px;line-height: 40px;}
.order_container .areaCode_wrap{left: 0;width: 100%}