

/*列表*/
.word_wrap{margin-top: 50px; padding-bottom: 50px;}


/*列表左*/
.list_left{width: 895px;float: left;}
.list_left .public_top{margin-bottom: 20px;}
.list_left .list_ul li{padding: 20px 0;background: #fff;margin-top: 20px;position: relative;}
.list_left .list_ul li:hover{box-shadow:0px 8px 15px 0px rgba(198,203,204,0.4);}
.list_left .left_b{float: left;width: 665px;padding-left: 30px;}
.list_left .right_b{ float: left;padding-left: 26px;width: 190px;height: 133px;border-left:1px dashed #DEDEDE; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}

.list_left .left_b .cla_title{font-size: 18px;font-weight: bold;color: #37373B;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 595px;}
.list_left .left_b .cla_title a{display: inline-block;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 595px;color: #37373B}
.list_left .left_b .cla_title:hover{color: #3377FF}
.list_left .left_b .cla_info{margin-top: 13px;}
.list_left .left_b .cla_info dl,.list_left .left_b .cla_info dt,.list_left .left_b .cla_info dd{float: left;}
.list_left .left_b .cla_info dl{width: 220px;margin-right: 40px;margin-bottom: 5px;font-size: 14px;color: #A2A5AB;}
.list_left .left_b .cla_info dl.sex{width: 115px;margin-right: 10px;}
.list_left .left_b .cla_info dl.edu{margin-right: 10px;}
.list_left .left_b .cla_info dl.cla_ci{margin-right: 10px;}
.list_left .left_b .cla_info dt span{color: #BBBEC4}
.list_left .left_b .cla_info dd{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 130px;}
.list_left .left_b .word_info{font-size: 14px;color: #797A82;margin-top: 20px;}
.list_left .left_b .word_info .cla_price{font-weight: bold;color: #FF653B}
.list_left .left_b .word_info em{font-size: 12px;color: #D3D4DE;margin-left: 12px;margin-right: 13px;}
.list_left .right_b dl{overflow: hidden;}
.list_left .right_b dl.peo_dl{margin-top: 40px;margin-bottom: 20px;}
.list_left .right_b dt,.list_left .right_b dd{float: left;}
.list_left .right_b dt img{width: 17px;height: 17px;vertical-align: middle;margin-top: 2px;margin-right: 8px;}
.list_left .right_b dd{font-size: 15px;color: #4A4B4F;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 130px;}
.list_left .right_b dd .see_phone{color:#949599 ;float: left;max-width: 100px;font-size: 14px;}
.list_left .right_b dd .see_phone:hover{color: #4A4B4F;}
.list_left .right_b dd .pnumber{font-size: 14px;color: #4A4B4F;display: none;}
.footer {margin-top: 0;}
.list_left .list_ul li.empty {text-align: center; font-size: 17px; color:#8c8c91; padding-bottom: 50px;}
.empty img {width: 300px; margin: 50px auto 20px; display: block;}
.failed img{display: block;margin: 0 auto}