<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$detail_elderlyname#}</title>
<meta name="keywords" content="{#$pension_keywords#}" />
<meta name="description" content="{#$pension_description#}" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/list.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$pension_channelDomain#}',templatePath = '{#$templets_skin#}';
	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
</script>
</head>
<body class="w1200 ">
{#$pageCurr = "elderly"#}
{#$currenturl = {#getUrlPath service='pension' template='elderly-detail' id={#$detail_id#}#}#}
{#include file="top.html"#}
<div class="wrap old_wrap">
	<div class="old_top fn-clear">
		<div class="pic"><img src="{#$detail_photoSource#}"></div>
		<div class="old_info">
			<h3 class="old_name">{#$detail_elderlyname#}</h3>
			<div class="old_tip">
				<dl><dd>{#if $detail_sex#}男{#else#}女{#/if#} </dd></dl>
				<dl>
					<dt><img src="{#$templets_skin#}images/icon7.png"></dt>
					<dd>年龄：{#$detail_age#}岁 </dd>
				</dl>
				<dl>
					<dt><img src="{#$templets_skin#}images/icon2.png"></dt>
					<dd>能力等级：{#$detail_targetcarename#} </dd>
				</dl>
				<dl>
					<dt><img src="{#$templets_skin#}images/icon4.png"></dt>
					<dd>住址：{#$detail_address#}</dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="old_bottom">
		<ul>
			<li><span>联系人：</span><span>{#$detail_people#}</span>{#if $detail_relationship#}<span class="tag">{#$detail_relationship#}</span>{#/if#}</li>
			<li><span>疾病情况：</span><span>{#$detail_situation#}</span></li>
			<li><span>个人情况：</span><span class="spe_span">{#$detail_personalsituation#}</span></li>
			<li><span>期望养老形式：</span><span>{#$detail_catname#}</span></li>
			<li><span>期望养老级别：</span><span>{#$detail_level#}</span></li>
			<li><span>期望养老地域：</span><span>{#$detail_addrname[0]#}-{#$detail_addrname[1]#}</span></li>
			<li><span>期望入住形式：</span><span>{#$detail_accommodationname#}</span></li>
			<li><span>入住费用预算：</span><span>{#$detail_rzminprice#}万{#echoCurrency type="short"#}-{#$detail_rzmaxprice#}万{#echoCurrency type="short"#}</span></li>
			<li><span>月费用预算：</span><span>{#$detail_monthminprice#}{#echoCurrency type="short"#}-{#$detail_monthmaxprice#}{#echoCurrency type="short"#}</span></li>
			<li><span>需求说明：</span><span>{#$detail_desc#}</span></li>
		</ul>
	</div>
	<div class="old_contact">
		<ul>
			<li data-id="{#$detail_storepower#}" class="contact"><img src="{#$templets_skin#}images/contact.png" class="old_img">查看联系方式</li>
			<li data-id="{#$detail_storepower#}" class="invite">邀请参观入住</li>
		</ul>
	</div>
</div>


<!--查看联系方式弹出层 s-->
<div class="contact_mask">
  <div class="contact_con">
  	<img src="{#$templets_skin#}images/close.png" class="close_alert">
    <p class="t1">联系方式</p>   
    <p class="t2">请拨打电话： </p>   
    <p class="t3">{#$detail_tel#}</p>
    <ul class="fn-clear">
		{#if $detail_email#}<li class="wechat"><span>微信：</span>{#$detail_wx#}</li>{#/if#}
    	{#if $detail_wx#}<li class="email"><span>邮箱：</span>{#$detail_email#}</li>{#/if#}
    </ul>
  </div>
</div>
<!--查看联系方式弹出层 e-->

<!--预约权限弹出层 s-->
<div class="info_mask2">
  <div class="info_con2">
  	<img src="{#$templets_skin#}images/close.png" class="close_alert">
    <p class="t1">很抱歉，您暂时还没有此权限</p>   
    <p class="t2"><em id="error">请联系管理员开通权限，</em> <br/>联系电话：<span>{#$pension_hotline#} </span> </p>   
    <p class="t3">确定</p>
  </div>
</div>
<!--预约权限弹出层 e-->

<!--参观弹出层 s-->
<div class="info_mask">
  <div class="info_con">
  	<img src="{#$templets_skin#}images/close.png" class="close_alert">
    <p class="t1">发送参观入住邀请 </p>
    <div class="info_inp">
    	<p class="tip">尊敬的{#$detail_elderlyname#}，您好：</p>
    	<textarea>本院诚心邀请您来我院参观入住，本院将最优质的服务 给到您，期待您的光临！</textarea>
    </div>
	<form id="yuform" action="/include/ajax.php?service=pension&action=invitation&oper=add">
		<input type="hidden" name="elderly" id="elderly" value="{#$detail_id#}">
    	<input type="text" name="people" placeholder="联系人" id="info_name">
    	<input type="text" name="tel" placeholder="联系电话" id="info_phone">
    </form>
    <ul class="fn-clear">
    	<li class="cancel">取消</li>
    	<li class="sure active">确定</li>
    </ul>
  </div>
</div>
<!--参观弹出层 e-->
<!--预约成功弹出层 s-->
<div class="org_mask2">
  <div class="org_con2">
  	<img src="{#$templets_skin#}images/close.png" class="close_alert">
    <div class="wave">           
        <div class="m-box">
            <div class="m-duigou"></div>
        </div>
    </div>
    <p class="t1">邀请发送成功</p>   
    <p class="t3">随便看看</p>
  </div>
</div>
<!--预约成功弹出层 e--> 

{#include file="bottom.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/list.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
