<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>长者信息</title>
<meta name="keywords" content="{#$pension_keywords#}" />
<meta name="description" content="{#$pension_description#}" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/list.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$pension_channelDomain#}',templatePath = '{#$templets_skin#}';
	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
</script>
</head>
<body class="w1200 ">
{#$pageCurr = "list"#}
{#$currenturl = {#getUrlPath service='pension' template='list'#}#}
{#include file="top.html"#}
<div class="wrap list_wrap">
	<dl class="fn-clear">
		<dt>所在区域：</dt>
		<dd>
			<a href="{#getUrlPath service='pension' template='list' addrid=0 business=0 targetcare={#$targetcare#} rzmaxprice={#$rzmaxprice#} monthmaxprice={#$monthmaxprice#}#}" {#if $addrid == 0#} class="curr"{#/if#}>不限</a>
			{#pension action="addr" return='addr'#}
			<a href="{#getUrlPath service='pension' template='list' addrid={#$addr.id#} business=0 targetcare={#$targetcare#} rzmaxprice={#$rzmaxprice#} monthmaxprice={#$monthmaxprice#}#}" {#if $addrid == $addr.id#} class="curr"{#/if#}>{#$addr.typename#}</a>
			{#/pension#}
		</dd>
	</dl>
	{#if $addrid != 0#}
	<div class="area" style="display:block;">
		<div class="pos-sub-item fn-clear">
			<a href="{#getUrlPath service='pension' template='list' addrid={#$addrid#} business=0 targetcare={#$targetcare#} rzmaxprice={#$rzmaxprice#} monthmaxprice={#$monthmaxprice#}#} " {#if $business == 0#}class="curr"{#/if#}>不限</a>
			{#pension action="addr" type=$addrid return='addr'#}
			{#if $addr.id == $business#}
			{#$businessName = $addr.typename#}
			{#/if#}
			<a href="{#getUrlPath service='pension' template='list' addrid={#$addrid#} business={#$addr.id#} targetcare={#$targetcare#} rzmaxprice={#$rzmaxprice#} monthmaxprice={#$monthmaxprice#}#}" {#if $business == $addr.id#} class="curr"{#/if#}>{#$addr.typename#}</a>
			{#/pension#}
		</div>
	</div>
	{#/if#}
	<dl class="fn-clear">
		<dt>能力等级：</dt>
		<dd>
			<a href="{#getUrlPath service='pension' template='list' addrid={#$addrid#} business={#$business#} targetcare=0 rzmaxprice={#$rzmaxprice#} monthmaxprice={#$monthmaxprice#}#}" {#if $targetcare == 0#}class="curr"{#/if#}>全部</a>
			{#pension action="pensionitem" type='1' return='item'#}
			<a href="{#getUrlPath service='pension' template='list' addrid={#$addrid#} business={#$business#} targetcare={#$item.id#} rzmaxprice={#$rzmaxprice#} monthmaxprice={#$monthmaxprice#}#}" {#if $targetcare == $item.id#}class="curr"{#/if#}>{#$item.typename#}</a>
			{#/pension#}
		</dd>
	</dl>
	<dl class="fn-clear">
		<dt>入住费用预算：</dt>
		<dd>
			<a href="{#getUrlPath service='pension' template='list' addrid={#$addrid#} business={#$business#} targetcare={#$targetcare#} rzmaxprice='' monthmaxprice={#$monthmaxprice#}#}" {#if $rzmaxprice == ''#}class="curr"{#/if#}>全部</a>
			<a href="{#getUrlPath service='pension' template='list' addrid={#$addrid#} business={#$business#} targetcare={#$targetcare#} rzmaxprice=',1' monthmaxprice={#$monthmaxprice#}#}" {#if $rzmaxprice == ',1'#}class="curr"{#/if#}>1万以下</a>
			<a href="{#getUrlPath service='pension' template='list' addrid={#$addrid#} business={#$business#} targetcare={#$targetcare#} rzmaxprice='1,3' monthmaxprice={#$monthmaxprice#}#}" {#if $rzmaxprice == '1,3'#}class="curr"{#/if#}>1万-3万 </a>
			<a href="{#getUrlPath service='pension' template='list' addrid={#$addrid#} business={#$business#} targetcare={#$targetcare#} rzmaxprice='3,5' monthmaxprice={#$monthmaxprice#}#}" {#if $rzmaxprice == '3,5'#}class="curr"{#/if#}>3万-5万</a>
			<a href="{#getUrlPath service='pension' template='list' addrid={#$addrid#} business={#$business#} targetcare={#$targetcare#} rzmaxprice='5,8' monthmaxprice={#$monthmaxprice#}#}" {#if $rzmaxprice == '5,8'#}class="curr"{#/if#}>5万-8万</a>
			<a href="{#getUrlPath service='pension' template='list' addrid={#$addrid#} business={#$business#} targetcare={#$targetcare#} rzmaxprice='8,10' monthmaxprice={#$monthmaxprice#}#}" {#if $rzmaxprice == '8,10'#}class="curr"{#/if#}>8万-10万	</a>
			<a href="{#getUrlPath service='pension' template='list' addrid={#$addrid#} business={#$business#} targetcare={#$targetcare#} rzmaxprice='10,' monthmaxprice={#$monthmaxprice#}#}" {#if $rzmaxprice == '10,'#}class="curr"{#/if#}>10万以上</a>
			<div class="inpbox">
				<div class="symbol"><span class="rmb">{#echoCurrency type='symbol'#}</span><input type="input" class="p1" id="price11" maxlength="5" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"></div>
				-
				<div class="symbol"><span class="rmb">{#echoCurrency type='symbol'#}</span><input type="input" class="p2" id="price22" maxlength="5" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"></div>

				<span class="btn btn_price" id="price_sure2">确定</span>
			</div>
		</dd>
	</dl>
	<dl class="fn-clear">
		<dt>月费用预算：</dt>
		<dd>
			<a href="{#getUrlPath service='pension' template='list' addrid={#$addrid#} business={#$business#} targetcare={#$targetcare#} rzmaxprice={#$rzmaxprice#} monthmaxprice=''#}" {#if $monthmaxprice == ''#}class="curr"{#/if#}>全部</a>
			<a href="{#getUrlPath service='pension' template='list' addrid={#$addrid#} business={#$business#} targetcare={#$targetcare#} rzmaxprice={#$rzmaxprice#} monthmaxprice=',1000'#}" {#if $monthmaxprice == ',1000'#}class="curr"{#/if#}>1000以下</a>
			<a href="{#getUrlPath service='pension' template='list' addrid={#$addrid#} business={#$business#} targetcare={#$targetcare#} rzmaxprice={#$rzmaxprice#} monthmaxprice='1000,1999'#}" {#if $monthmaxprice == '1000,1999'#}class="curr"{#/if#}>1000-1999</a>
			<a href="{#getUrlPath service='pension' template='list' addrid={#$addrid#} business={#$business#} targetcare={#$targetcare#} rzmaxprice={#$rzmaxprice#} monthmaxprice='2000,4999'#}" {#if $monthmaxprice == '2000,4999'#}class="curr"{#/if#}>2000-4999</a>
			<a href="{#getUrlPath service='pension' template='list' addrid={#$addrid#} business={#$business#} targetcare={#$targetcare#} rzmaxprice={#$rzmaxprice#} monthmaxprice='5000,7999'#}" {#if $monthmaxprice == '5000,7999'#}class="curr"{#/if#}>5000-7999</a>
			<a href="{#getUrlPath service='pension' template='list' addrid={#$addrid#} business={#$business#} targetcare={#$targetcare#} rzmaxprice={#$rzmaxprice#} monthmaxprice='8000,14999'#}" {#if $monthmaxprice == '8000,14999'#}class="curr"{#/if#}>8000-14999</a>
			<a href="{#getUrlPath service='pension' template='list' addrid={#$addrid#} business={#$business#} targetcare={#$targetcare#} rzmaxprice={#$rzmaxprice#} monthmaxprice='15000,'#}" {#if $monthmaxprice == '15000,'#}class="curr"{#/if#}>15000以上</a>
			<div class="inpbox">
				<div class="symbol"><span class="rmb">{#echoCurrency type='symbol'#}</span><input type="input" class="p1" id="price1" maxlength="5" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"></div>
				-
				<div class="symbol"><span class="rmb">{#echoCurrency type='symbol'#}</span><input type="input" class="p2" id="price2" maxlength="5" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"></div>

				<span class="btn btn_price" id="price_sure">确定</span>
			</div>
		</dd>
	</dl>

</div>
<div class="wrap list_wrap2">
	<div class="orderby_head fn-clear">
		<ul class="fn-clear">
			<li><a href="{#getUrlPath service='pension' template='list' addrid={#$addrid#} business={#$business#} targetcare={#$targetcare#} rzmaxprice={#$rzmaxprice#} monthmaxprice={#$monthmaxprice#}#}">默认排序</a></li>
			<li class="arrow {#if $orderby==2#}active curr{#/if#}"><a href="{#getUrlPath service='pension' template='list' addrid={#$addrid#} business={#$business#} targetcare={#$targetcare#} rzmaxprice={#$rzmaxprice#} monthmaxprice={#$monthmaxprice#} param="orderby={#if $orderby == 1#}2{#else#}1{#/if#}"#}">入住费用预算</a></li>
			<li class="arrow {#if $orderby==4#}active curr{#/if#}"><a href="{#getUrlPath service='pension' template='list' addrid={#$addrid#} business={#$business#} targetcare={#$targetcare#} rzmaxprice={#$rzmaxprice#} monthmaxprice={#$monthmaxprice#} param="orderby={#if $orderby == 3#}4{#else#}3{#/if#}"#}">月费用预算</a></li>
		</ul>
		<p class="serch_count">共有<span id="count">0</span>条结果</p>
	</div>
	<!-- 机构养老列表 s -->
	<div class="info_wrap">
		<ul class="info_list">
			{#$addr = $addrid#}
			{#if $business != 0#}
			{#$addr = $business#}
			{#/if#}
			{#pension action="elderlyList" return="team" addrid={#$addr#} targetcare={#$targetcare#} rzmaxprice={#$rzmaxprice#} monthmaxprice={#$monthmaxprice#} orderby={#$orderby#} page={#$page#} pageSize="8"#}
				<li class="info_li fn-clear" data-name="{#$team.elderlyname#}" data-id="{#$team.id#}" data-tel="{#$team.tel#}">
					<div class="portrait">
						<a href="{#$team.url#}" target="_blank"><img src="{#changeFileSize url={#$team.photo#} type='small'#}" alt="{#$team.elderlyname#}"></a>
					</div>
					<div class="info_content">
						<div class="man_title">
							<h3 class="name"><a href="{#$team.url#}" target="_blank">{#$team.elderlyname#}</a></h3>
							{#if $team.sex==1#}
							<p class="man_tip"><span class="sex">男</span><span class="age">{#$team.age#}岁</span></p>
							{#else#}
							<p class="man_tip nv_tip"><span class="sex_nv">女</span><span class="age_nv">{#$team.age#}岁</span></p>
							{#/if#}
						</div>
						<div class="man_info">
							<dl>
								<dt><img src="{#$templets_skin#}images/icon2.png" alt=""></dt>
								<dd>{#$team.targetcarename#}</dd>
							</dl>
							<dl>
								<dt><img src="{#$templets_skin#}images/icon6.png" alt=""></dt>
								<dd>入住费用预算：{#echoCurrency type='symbol'#}{#$team.rzminprice#}万-{#echoCurrency type='symbol'#}{#$team.rzmaxprice#}万<span>月费用预算：{#echoCurrency type='symbol'#}{#$team.monthminprice#}-{#echoCurrency type='symbol'#}{#$team.monthmaxprice#}</span></dd>
							</dl>
							<dl>
								<dt><img src="{#$templets_skin#}images/icon4.png" alt=""></dt>
								<dd>{#$team.addrname[0]#}-{#$team.addrname[1]#}</dd>
							</dl>
						</div>
						<p class="man_visit {#if $team.storepower==1#}can_visit{#else#}no_visit{#/if#}">邀请参观入住</p>
					</div>
				</li>
			{#/pension#}
			{#if $pageInfo.totalCount == 0#}
			<div class="empty">抱歉！ 未找到相关老人</div>
			{#/if#}
		</ul>

	</div>
	<!-- 机构养老列表 e -->
	<!-- 分页 -->
	{#getPageList service='pension' template='list' addrid={#$addrid#} business={#$business#} targetcare={#$targetcare#} rzmaxprice={#$rzmaxprice#} monthmaxprice={#$monthmaxprice#} param="{#if $orderby != ""#}orderby={#$orderby#}{#/if#}"#}
</div>

<!--预约权限弹出层 s-->
<div class="info_mask2">
  <div class="info_con2">
  	<img src="{#$templets_skin#}images/close.png" alt="" class="close_alert">
    <p class="t1">很抱歉，您暂时还没有此权限</p>
   <p class="t2"><em id="error">请联系管理员开通权限，</em> <br/>联系电话：<span>{#$pension_hotline#} </span> </p>
    <p class="t3">确定</p>
  </div>
</div>
<!--预约权限弹出层 e-->

<!--参观弹出层 s-->
<div class="info_mask">
  <div class="info_con">
  	<img src="{#$templets_skin#}images/close.png" alt="" class="close_alert">
    <p class="t1">发送参观入住邀请 </p>
    <div class="info_inp">
    	<p class="tip">尊敬的韩宝刚，您好：</p>
    	<textarea value="">本院诚心邀请您来我院参观入住，本院将最优质的服务 给到您，期待您的光临！</textarea>
    </div>
	<form id="yuform" action="/include/ajax.php?service=pension&action=invitation&oper=add">
		<input type="hidden" name="elderly" id="elderly" value="">
    	<input type="text" name="people" placeholder="联系人" id="info_name">
    	<input type="text" name="tel" placeholder="联系电话" id="info_phone">
    </form>
    <ul class="fn-clear">
    	<li class="cancel">取消</li>
    	<li class="sure active">确定</li>
    </ul>
  </div>
</div>
<!--参观弹出层 e-->
<!--预约成功弹出层 s-->
<div class="org_mask2">
  <div class="org_con2">
  	<img src="{#$templets_skin#}images/close.png" alt="" class="close_alert">
    <div class="wave">
        <div class="m-box">
            <div class="m-duigou"></div>
        </div>
    </div>
    <p class="t1">邀请发送成功</p>
    <p class="t3">随便看看</p>

  </div>
</div>
<!--预约成功弹出层 e-->
{#include file="bottom.html"#}
<script>
	var totalCount = {#$pageInfo.totalCount|string_format:"%d"#};
	var priceUrl = '{#getUrlPath service="pension" template="list" addrid={#$addrid#} business={#$business#} targetcare={#$targetcare#} rzmaxprice="rzmaxprice" monthmaxprice={#$monthmaxprice#} param="{#if $orderby != ""#}orderby={#$orderby#}{#/if#}"#}';
	var priceUrl1 = '{#getUrlPath service="pension" template="list" addrid={#$addrid#} business={#$business#} targetcare={#$targetcare#} rzmaxprice={#$rzmaxprice#} monthmaxprice="monthmaxprice" param="{#if $orderby != ""#}orderby={#$orderby#}{#/if#}"#}';
	$("#count").html(totalCount);
</script>
<script type="text/javascript" src="{#$templets_skin#}js/list.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
