<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#if $catid==1#}机构养老{#elseif $catid==2#}居家养老{#else#}旅居养老{#/if#}列表</title>
<meta name="keywords" content="{#$pension_keywords#}" />
<meta name="description" content="{#$pension_description#}" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/store.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$pension_channelDomain#}',templatePath = '{#$templets_skin#}';
	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
</script>
</head>
<body class="w1200 ">
{#$pageCurr = "store"#}
{#$currenturl = {#getUrlPath service='pension' template='store' catid=$catid#}#}
{#include file="top.html"#}
<div class="wrap list_wrap">
	<dl class="fn-clear">
		<dt>所在区域：</dt>
		<dd>
			<div class="pos-item fn-clear">
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid=0 business=0 typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $addrid == 0#} class="curr"{#/if#}>不限</a>
			{#pension action="addr" return='addr'#}
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addr.id#} business=0 typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $addrid == $addr.id#} class="curr"{#/if#}>{#$addr.typename#}</a>
			{#/pension#}
			</div>
		</dd>
	</dl>
	{#if $addrid != 0#}
	<div class="area" style="display:block;">
		<div class="pos-sub-item fn-clear">
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business=0 typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#} " {#if $business == 0#}class="curr"{#/if#}>不限</a>
			{#pension action="addr" type=$addrid return='addr'#}
			{#if $addr.id == $business#}
			{#$businessName = $addr.typename#}
			{#/if#}
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$addr.id#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $business == $addr.id#} class="curr"{#/if#}>{#$addr.typename#}</a>
			{#/pension#}
		</div>
	</div>
	{#/if#}
	<dl class="fn-clear">
		<dt>机构类型：</dt>
		<dd>
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid=0 targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $typeid == 0#}class="curr"{#/if#}>不限</a>
			{#pension action="pensionitem" type='2' return='item'#}
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$item.id#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $typeid == $item.id#}class="curr"{#/if#}>{#$item.typename#}</a>
			{#/pension#}
		</dd>
	</dl>
	<dl class="fn-clear">
		<dt>照护对象：</dt>
		<dd>
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare=0 roomtype={#$roomtype#} bednums={#$bednums#} price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $targetcare == 0#}class="curr"{#/if#}>不限</a>
			{#pension action="pensionitem" type='1' return='item'#}
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$item.id#} roomtype={#$roomtype#} bednums={#$bednums#} price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $targetcare == $item.id#}class="curr"{#/if#}>{#$item.typename#}</a>
			{#/pension#}
		</dd>
	</dl>
	<dl class="fn-clear">
		<dt>房间类型：</dt>
		<dd>
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype=0 bednums={#$bednums#} price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $roomtype == 0#}class="curr"{#/if#}>不限</a>
			{#pension action="pensionitem" type='3' return='item'#}
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$item.id#} bednums={#$bednums#} price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $roomtype == $item.id#}class="curr"{#/if#}>{#$item.typename#}</a>
			{#/pension#}
		</dd>
	</dl>
	<dl class="fn-clear">
		<dt>床位数：</dt>
		<dd>
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums='' price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $bednums == ''#}class="curr"{#/if#}>不限</a>
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums=',50' price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $bednums == ',50'#}class="curr"{#/if#}>50以内</a>
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums='50,99' price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $bednums == '50,99'#}class="curr"{#/if#}>50-99</a>
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums='100,199' price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $bednums == '100,199'#}class="curr"{#/if#}>100-199 </a>
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums='200,499' price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $bednums == '200,499'#}class="curr"{#/if#}>200-499</a>
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums='500,999' price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $bednums == '500,999'#}class="curr"{#/if#}>500-999</a>
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums='1000,' price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $bednums == '1000,'#}class="curr"{#/if#}>1000以上</a>
		</dd>
	</dl>
	<dl class="fn-clear">
		<dt>收费标准：</dt>
		<dd>
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price='' servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $price == ''#}class="curr"{#/if#}>不限</a>
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price=',1000' servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $price == ',1000'#}class="curr"{#/if#}>1000以下</a>
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price='1000,1999' servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $price == '1000,1999'#}class="curr"{#/if#}>1000-1999</a>
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price='2000,4999' servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $price == '2000,4999'#}class="curr"{#/if#}>2000-4999</a>
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price='5000,7999' servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $price == '5000,7999'#}class="curr"{#/if#}>5000-7999</a>
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price='8000,14999' servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $price == '8000,14999'#}class="curr"{#/if#}>8000-14999</a>
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price='15000,' servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $price == '15000,'#}class="curr"{#/if#}>15000以上</a>
			<div class="inpbox">
				<div class="symbol"><span class="rmb">{#echoCurrency type='symbol'#}</span><input type="input" class="p1" id="price1" maxlength="5" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"></div>
				-
				<div class="symbol"><span class="rmb">{#echoCurrency type='symbol'#}</span><input type="input" class="p2" id="price2" maxlength="5" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"></div>
				<span class="btn btn_price" id="price_sure">确定</span>
			</div>
		</dd>
	</dl>
	<dl class="fn-clear">
		<dt>服务内容：</dt>
		<dd>
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price={#$price#} servicecontent=0 tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $servicecontent == 0#}class="curr"{#/if#}>不限</a>
			{#pension action="pensionitem" type='5' return='item'#}
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price={#$price#} servicecontent={#$item.id#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $servicecontent == $item.id#}class="curr"{#/if#}>{#$item.typename#}</a>
			{#/pension#}
		</dd>
	</dl>
	<dl class="fn-clear">
		<dt>特色服务：</dt>
		<dd>
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price={#$price#} servicecontent={#$servicecontent#} tag=0 visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $tag == 0#}class="curr"{#/if#}>不限</a>
			{#pension action="pensionitem" type='4' return='item'#}
			<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price={#$price#} servicecontent={#$servicecontent#} tag={#$item.id#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}" {#if $tag == $item.id#}class="curr"{#/if#}>{#$item.typename#}</a>
			{#/pension#}
		</dd>
	</dl>
</div>
<div class="wrap list_wrap2">
	<div class="orderby_head fn-clear">

		<ul class="fn-clear">
			<li><a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#}#}">默认排序</a></li>
			<li class="arrow {#if $orderby==2#}active curr{#/if#}"><a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#} param="orderby={#if $orderby == 1#}2{#else#}1{#/if#}"#}">入住费用 </a></li>
			<li class="arrow {#if $orderby==4#}active curr{#/if#}"><a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#} param="orderby={#if $orderby == 3#}4{#else#}3{#/if#}"#}">月费</a></li>
			<li class="arrow {#if $orderby==6#}active curr{#/if#}"><a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#} param="orderby={#if $orderby == 5#}6{#else#}5{#/if#}"#}">评价</a></li>
		</ul>
		<div class="choose">
			{#if $visitday==1#}
				<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday=0 award={#$award#} keywords={#$keywords#}#}"><span class="active">开放参观日</span></a>
			{#else#}
				<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday=1 award={#$award#} keywords={#$keywords#}#}"><span>开放参观日</span></a>
			{#/if#}
			{#if $award==1#}
				<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award=0 keywords={#$keywords#}#}"><span class="active">入住有奖</span></a>
			{#else#}
				<a href="{#getUrlPath service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award=1 keywords={#$keywords#}#}"><span>入住有奖</span></a>
			{#/if#}
		</div>
		<p class="serch_count">共有<span id="count">0</span>条结果</p>
	</div>
	<!-- 机构养老列表 s -->
	<div class="list_container">
			<ul class="org_list">
				{#$addr = $addrid#}
				{#if $business != 0#}
				{#$addr = $business#}
				{#/if#}
				{#pension action="storeList" return="team" catid={#$catid#} addrid={#$addr#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} search={#$keywords#} orderby={#$orderby#} page={#$page#} pageSize="8"#}
				<li class="org_li fn-clear" data-id="{#$team.id#}">
					<div class="pic">
						<a href="{#$team.url#}" target="_blank"><img src="{#changeFileSize url={#$team.litpic#} type='small'#}" alt="{#$team.title#}"></a>
					</div>
					<div class="content fn-clear">
						<p class="list_title"><a target="_blank" href="{#$team.url#}">{#$team.title#}</a>{#if $team.flag#}<s class="service_icon"></s>{#/if#}</p>
						<p class="star"><s style="width: {#$team.sco1 / 5 * 100#}%;"></s></p>
						<div class="list_info">
							{#foreach from=$team.tagArr key="k" item=val#}
							{#if $k>1#}
							{#break#}
							{#/if#}
							<span class="service{#$k+1#}">{#$val#}</span>
							{#/foreach#}
							<ul class="info_ul">
								<li><span>入住费用：</span><em>{#echoCurrency type='symbol'#}</em><i>{#($team.price*12/10000)|string_format:"%.2f"#}</i><em>万</em></li>
								<li><span>月费：</span><em>{#echoCurrency type='symbol'#}</em><i>{#$team.price#}</i><!--em>-￥</em><i>5000</i--></li>
							</ul>
						</div>
						<div class="list_info2 fn-clear">
							<div class="info_left">
								<dl>
									<dt><img src="{#$templets_skin#}images/icon1.png" alt=""></dt>
									{#foreach from=$team.typeidArr key="k" item=val#}
									{#if $k>0#}
									{#break#}
									{#/if#}
									<dd>{#$val#}</dd>
									{#/foreach#}
								</dl>
								<dl>
									<dt><img src="{#$templets_skin#}images/icon2.png" alt=""></dt>
									<dd>
									{#foreach from=$team.targetcareArr key="k" item=val#}
										{#$val#}；
									{#/foreach#}
									</dd>
								</dl>
								<dl>
									<dt><img src="{#$templets_skin#}images/icon3.png" alt=""></dt>
									<dd>{#$team.tel#}</dd>
								</dl>
								<dl>
									<dt><img src="{#$templets_skin#}images/icon4.png" alt=""></dt>
									<dd>{#$team.address#}</dd>
								</dl>
							</div>
							<div class="info_right">
								<a target="_blank" href="{#$team.url#}" class="detail_info">详细信息</a>
								{#if $team.award#}
								<a href="{#getUrlPath service='pension' template='award' id={#$team.id#}#}" class="award"><i></i>入住有奖</a>
								{#/if#}
							</div>
						</div>
					</div>
					<div class="hide_content">
						<div class="top_con">
							<div class="fn-clear">
								<p class="vis_info">{#$team.explains#}</p>
								<p class="vis_time"> {#$team.pubdate1#} 更新</p>
							</div>
							{#if $team.visitday#}
							<div class="vis_con"><span class="visit_day">参观日</span><span class="vis_info2">{#$team.visitdaydesc#}</span><span class="order">点击预约</span></div>
							{#/if#}
						</div>
						<div class="bottom_con">{#$team.desc#}...</div>
					</div>
				</li>
				{#/pension#}
				{#if $pageInfo.totalCount == 0#}
                <div class="empty">抱歉！ 未找到相关养老机构</div>
                {#/if#}

			</ul>
		</div>
		<!-- 机构养老列表 e -->

		<!-- 分页 -->
		{#getPageList service='pension' template='store' catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price={#$price#} servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#} param="{#if $orderby != ""#}orderby={#$orderby#}{#/if#}"#}
</div>

<!--预约弹出层 s-->
<div class="org_mask">
  <div class="org_con">
  	<img src="{#$templets_skin#}images/close.png" alt="" class="close_alert">
    <p class="t1">预约参观</p>
    <p class="t2">提交信息，快速预约，专属服务</p>
    <form id="yuform" action="/include/ajax.php?service=pension&action=booking&oper=add">
		<input type="hidden" name="store" id="store" value="">
    	<input type="text" name="people" placeholder="您的称呼" id="org_name">
    	<input type="text" name="tel" placeholder="请输入手机号码" id="org_phone">
    </form>
    <ul class="fn-clear">
    	<li class="cancel">取消</li>
    	<li class="sure active">确定</li>
    </ul>
  </div>
</div>
<!--预约弹出层 e-->

<!--预约成功弹出层 s-->
<div class="org_mask2">
  <div class="org_con2">
  	<img src="{#$templets_skin#}images/close.png" alt="" class="close_alert">
    <div class="wave">
        <div class="m-box">
            <div class="m-duigou"></div>
        </div>
    </div>
    <p class="t1">您的申请已成功提交</p>
    <p class="t2">商家收到您提交的信息会尽快与您联系！</p>
    <p class="t3">随便看看</p>

  </div>
</div>
<!--预约成功弹出层 e-->
{#include file="bottom.html"#}
<script>
	var totalCount = {#$pageInfo.totalCount|string_format:"%d"#};
	var priceUrl = '{#getUrlPath service="pension" template="store" catid={#$catid#} addrid={#$addrid#} business={#$business#} typeid={#$typeid#} targetcare={#$targetcare#} roomtype={#$roomtype#} bednums={#$bednums#} price="pricePlaceholder" servicecontent={#$servicecontent#} tag={#$tag#} visitday={#$visitday#} award={#$award#} keywords={#$keywords#} param="{#if $orderby != ""#}orderby={#$orderby#}{#/if#}"#}';
</script>
<script type="text/javascript" src="{#$templets_skin#}js/store.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
