<!--详情头部 s-->
<div class="wrap detail_wrap1 fn-clear">
	<div class="detail_left">
		<div class="slide">
			<div id="slide_big">
			</div>
			<a href="javascript:;" class="prev" id="slidebtn_prev"><s></s></a>
			<a href="javascript:;" class="next" id="slidebtn_next"><s></s></a>
			<div id="slide_small">
				<div class="spbox">
					<div class="picsmall fn-clear">
						{#foreach from=$detail_pics item=val#}
						<a href="javascript:;" data-bigpic="{#$val.path#}" data-title="">
  							<img src="{#changeFileSize url="{#$val.path#}" type="small"#}" alt="">
						</a>
						{#/foreach#}
					</div>
				</div>
				<a href="javascript:;" class="prev disabled" id="slidebtn2_prev"><s></s></a>
				<a href="javascript:;" class="next" id="slidebtn2_next"><s></s></a>
			</div>
		</div>
	</div>
	<div class="detail_right content">
		<p class="list_title">
			<a href="{#getUrlPath service='pension' template='store-detail' id={#$detail_id#}#}">{#$detail_title#}</a>
			{#if $detail_flag#}
			<s class="service_icon"></s>
			{#/if#}
		</p>
		<div class="btn_group">
			<p class="star"><s style="width: {#$detail_sco1 / 5 * 100#}%;"></s></p>
			<a href="javascript:;" class="store-btn{#if $detail_collect==1#} curr{#/if#}"><button><em></em><span>{#if $detail_collect==1#}已收藏{#else#}收藏{#/if#}</button></a>
		</div>
		<div class="list_info">
			{#foreach from=$detail_tagArr key="k" item=val#}
			<span class="service{#$k+1#}">{#$val#}</span>
			{#/foreach#}
		</div>
		<p class="price">{#echoCurrency type='symbol'#}<em>{#$detail_price#}</em>起</p>
		{#if $detail_visitday#}
		<div class="vis_con">
			<span class="visit_day">参观日</span><span class="vis_info2">{#$detail_visitdaydesc#}</span><span class="order">点击预约</span>
		</div>
		{#/if#}
		<div class="info_left" id="info_left">
			<dl>
				<dt><img src="{#$templets_skin#}images/icon1.png" alt=""></dt>
				<dd>{#foreach from=$detail_typeidArr key="k" item=val#}{#$val#};{#/foreach#}</dd>
			</dl>
			<dl>
				<dt><img src="{#$templets_skin#}images/icon5.png" alt=""></dt>
				<dd>{#foreach from=$detail_servicecontentArr key="k" item=val#}{#$val#};{#/foreach#}</dd>
			</dl>
			<dl>
				<dt><img src="{#$templets_skin#}images/icon2.png" alt=""></dt>
				<dd>{#foreach from=$detail_targetcareArr key="k" item=val#}{#$val#};{#/foreach#}</dd>
			</dl>
			<dl>
				<dt><img src="{#$templets_skin#}images/icon3.png" alt=""></dt>
				<dd>{#$detail_tel#}</dd>
			</dl>
			<dl>
				<dt><img src="{#$templets_skin#}images/icon4.png" alt=""></dt>
				<dd>{#$detail_address#}</dd>
			</dl>
		</div>
		{#if $detail_award#}
		<div class="detail_award">
			<a href="{#getUrlPath service='pension' template='award' id={#$detail_id#}#}" class="award"><i></i>入住有奖</a>
		</div>
		{#/if#}
	</div>
</div>
<!--详情头部 e-->
<!--详情内容 s-->
<div class="wrap detail_wrap2">
	<div class="">
		<ul class="detail_tab">
			{#if $detail_catid && 1|in_array:$detail_catid#}
			<li class="active" style="border-left: none;">机构养老</li>
			{#/if#}
			{#if $detail_catid && 2|in_array:$detail_catid#}
			<li class="{#if $detail_catid && !(1|in_array:$detail_catid)#}active{#/if#}">居家养老</li>
			{#/if#}
			{#if $detail_catid && 3|in_array:$detail_catid#}
			<li class="{#if $detail_catid && !(1|in_array:$detail_catid) && !(2|in_array:$detail_catid)#}active{#/if#}">旅居养老</li>
			{#/if#}
			<li class="{#if $detail_catid && !(3|in_array:$detail_catid) && !(1|in_array:$detail_catid) && !(2|in_array:$detail_catid)#}active{#/if#}">相册</li>
			<li>详细信息</li>
			<li>交通图</li>
			<li>评价({#$detail_common#}条)</li>
		</ul>
	</div>
	<!--机构养老detail_show s-->
	{#if $detail_catid && 1|in_array:$detail_catid#}
	<div class="detail_con org_con detail_show" >
		<div class="top_con fn-clear top_con2" >
			<p class="vis_info">{#$detail_institutionadesc#}</p>
			<p class="vis_time"> {#$detail_pubdate1#} 更新</p>
		</div>
		<div class="org_head">
			<h3 class="type_title">长住</h3>
			<p class="type_tip"><span>说明：</span>{#$detail_longinstitutionadesc#}</p>
		</div>
		<div class="table_list">
			{#if !empty($detail_longexpensesArr)#}
			<table class="table1">
				<tr>
				    <th class="spe_th" rowspan="{#($detail_longexpensesArr|count)+1#}">入住费用</th>
				    <th>类型</th>
				    <th>说明</th>
				    <th>费用（元）</th>
				 </tr>
				 {#foreach from=$detail_longexpensesArr item=tr#}
				 <tr>
				    <td>{#$tr[0]#}</td>
				    <td style="text-align: left;">{#$tr[1]#}</td>
				    <td>{#$tr[2]#}</td>
				 </tr>
				 {#/foreach#}
			</table>
			{#/if#}
			{#if !empty($detail_longbedfeeArr)#}
			<table class="table1 table2">
				<tr>
				    <th class="spe_th" rowspan="{#($detail_longbedfeeArr|count)+1#}">每月床位费</th>
				    <th>户型</th>
				    <th>说明</th>
				    <th>床费（元）</th>
				 </tr>
				 {#foreach from=$detail_longbedfeeArr item=tr#}
				 <tr>
					<td>{#$tr[0]#}</td>
					<td style="text-align: left;">{#$tr[1]#}</td>
					<td>{#$tr[2]#}</td>
				 </tr>
				 {#/foreach#}
			</table>
			{#/if#}
			{#if !empty($detail_longotherfeesArr)#}
			<table class="table1 table3">
				<tr>
				    <th class="spe_th" rowspan="{#($detail_longotherfeesArr|count)+1#}">其他费用</th>
				    <th>类型</th>
				    <th>说明</th>
				    <th>费用</th>
				 </tr>
				 {#foreach from=$detail_longotherfeesArr item=tr#}
				 <tr>
					<td>{#$tr[0]#}</td>
					<td style="text-align: left;">{#$tr[1]#}</td>
					<td>{#$tr[2]#}</td>
				 </tr>
				 {#/foreach#}
			</table>
			{#/if#}
		</div>
		<div class="org_head org_head2">
			<h3 class="type_title">短住</h3>
			<p class="type_tip"><span>说明：</span>{#$detail_shortinstitutionadesc#}</p>
		</div>
		<div class="table_list">
			{#if !empty($detail_shortexpensesArr)#}
			<table class="table1">
				<tr>
				    <th class="spe_th" rowspan="{#($detail_shortexpensesArr|count)+1#}">入住费用</th>
				    <th>类型</th>
				    <th>说明</th>
				    <th>费用（元）</th>
				 </tr>
				 {#foreach from=$detail_shortexpensesArr item=tr#}
				 <tr>
					<td>{#$tr[0]#}</td>
					<td style="text-align: left;">{#$tr[1]#}</td>
					<td>{#$tr[2]#}</td>
				 </tr>
				 {#/foreach#}
			</table>
			{#/if#}
			{#if !empty($detail_shortbedfeeArr)#}
			<table class="table1 table2">
				<tr>
				    <th class="spe_th" rowspan="{#($detail_shortbedfeeArr|count)+1#}">每月床位费</th>
				    <th>户型</th>
				    <th>说明</th>
				    <th>床费（元）</th>
				 </tr>
				 {#foreach from=$detail_shortbedfeeArr item=tr#}
				 <tr>
					<td>{#$tr[0]#}</td>
					<td style="text-align: left;">{#$tr[1]#}</td>
					<td>{#$tr[2]#}</td>
				 </tr>
				 {#/foreach#}
			</table>
			{#/if#}
			{#if !empty($detail_shortotherfeesArr)#}
			<table class="table1 table4">
				<tr>
				    <th class="spe_th" rowspan="{#($detail_shortotherfeesArr|count)+1#}">其它月费</th>
				    <th>类型</th>
				    <th>说明</th>
				    <th>费用</th>
				 </tr>
				 {#foreach from=$detail_shortotherfeesArr item=tr#}
				 <tr>
					<td>{#$tr[0]#}</td>
					<td style="text-align: left;">{#$tr[1]#}</td>
					<td>{#$tr[2]#}</td>
				 </tr>
				 {#/foreach#}
			</table>
			{#/if#}
		</div>
	</div>
	<!--机构养老 e-->
	{#/if#}

	{#if $detail_catid && 2|in_array:$detail_catid#}
	<!--居家养老 s-->
	<div class="detail_con home_con {#if $detail_catid && !(1|in_array:$detail_catid)#}detail_show{#/if#}">
		<div class="top_con fn-clear top_con2" >
			<p class="vis_info">{#$detail_homecaredesc#} </p>
			<p class="vis_time"> {#$detail_pubdate1#} 更新</p>
		</div>
		<div class="org_head">
			<p class="type_tip"><span>说明：</span>{#$detail_homecareagedesc#}</p>
		</div>
		<div class="home_container">
			<ul class="home_tab fn-clear">
				<li class="active">餐饮服务</li>
				<li>照料护理</li>
				<li>家政服务</li>
				<li>精神关爱</li>
				<li>集体活动</li>
				<li>托老服务</li>
			</ul>
			<div class="tab_container">
				<div class="tab_con tab_show">
					{#if !empty($detail_homecyfwArr)#}
					<table class="home_table1">
						<tr>
							<th>服务类型</th>
							<th>价格</th>
							<th>备注</th>
						</tr>
						{#foreach from=$detail_homecyfwArr item=tr#}
						<tr>
							<td>{#$tr[0]#}</td>
							<td>{#$tr[1]#}</td>
							<td>{#$tr[2]#}</td>
						</tr>
						{#/foreach#}
					</table>
					{#/if#}
				</div>

				<div class="tab_con">
					{#if !empty($detail_homezlhlArr)#}
					<table class="home_table1">
						<tr>
							<th>服务类型</th>
							<th>价格</th>
							<th>备注</th>
						</tr>
						{#foreach from=$detail_homezlhlArr item=tr#}
						<tr>
							<td>{#$tr[0]#}</td>
							<td>{#$tr[1]#}</td>
							<td>{#$tr[2]#}</td>
						</tr>
						{#/foreach#}
					</table>
					{#/if#}
				</div>
				<div class="tab_con">
					{#if !empty($detail_homejzfwArr)#}
					<table class="home_table1">
						<tr>
							<th>服务类型</th>
							<th>价格</th>
							<th>备注</th>
						</tr>
						{#foreach from=$detail_homejzfwArr item=tr#}
						<tr>
							<td>{#$tr[0]#}</td>
							<td>{#$tr[1]#}</td>
							<td>{#$tr[2]#}</td>
						</tr>
						{#/foreach#}
					</table>
					{#/if#}
				</div>
				<div class="tab_con">
					{#if !empty($detail_homejsgaArr)#}
					<table class="home_table1">
						<tr>
							<th>服务类型</th>
							<th>价格</th>
							<th>备注</th>
						</tr>
						{#foreach from=$detail_homejsgaArr item=tr#}
						<tr>
							<td>{#$tr[0]#}</td>
							<td>{#$tr[1]#}</td>
							<td>{#$tr[2]#}</td>
						</tr>
						{#/foreach#}
					</table>
					{#/if#}
				</div>
				<div class="tab_con">
					{#if !empty($detail_homejthdArr)#}
					<table class="home_table1">
						<tr>
							<th>服务类型</th>
							<th>价格</th>
							<th>备注</th>
						</tr>
						{#foreach from=$detail_homejthdArr item=tr#}
						<tr>
							<td>{#$tr[0]#}</td>
							<td>{#$tr[1]#}</td>
							<td>{#$tr[2]#}</td>
						</tr>
						{#/foreach#}
					</table>
					{#/if#}
				</div>
				<div class="tab_con">
					{#if !empty($detail_hometlfwArr)#}
					<table class="home_table1">
						<tr>
							<th>服务类型</th>
							<th>价格</th>
							<th>备注</th>
						</tr>
						{#foreach from=$detail_hometlfwArr item=tr#}
						<tr>
							<td>{#$tr[0]#}</td>
							<td>{#$tr[1]#}</td>
							<td>{#$tr[2]#}</td>
						</tr>
						{#/foreach#}
					</table>
					{#/if#}
				</div>
			</div>
		</div>
	</div>
	<!--居家养老 e-->
	{#/if#}
	{#if $detail_catid && 3|in_array:$detail_catid#}
	<!--旅居养老 s-->
	<div class="detail_con travel_con {#if $detail_catid && !(1|in_array:$detail_catid) && !(2|in_array:$detail_catid)#}detail_show{#/if#}">
		<div class="top_con fn-clear top_con2" >
			<p class="vis_info">{#$detail_residentialdesc#}</p>
			<p class="vis_time"> {#$detail_pubdate1#} 更新</p>
		</div>
		<div class="org_head">
			<p class="type_tip"><span>说明：</span>{#$detail_residentialagedesc#}</p>
		</div>
		<div class="table_list table_list2">
			{#if !empty($detail_residentialbedfeeArr)#}
			<table class="table1 table2">
				<tr>
				    <th class="spe_th" rowspan="{#($detail_residentialbedfeeArr|count)+1#}">每日床位费</th>
				    <th>户型</th>
				    <th>面积（平米）</th>
				    <th>床费（元）</th>
				 </tr>
				 {#foreach from=$detail_residentialbedfeeArr item=tr#}
				 <tr>
				    <td>{#$tr[0]#}</td>
				    <td style="text-align: left;">{#$tr[1]#}</td>
				    <td>{#$tr[2]#}</td>
				 </tr>
				 {#/foreach#}
			</table>
			{#/if#}
			{#if !empty($detail_residentialotherfeesArr)#}
			<table class="table1 table4" id="table5">
				<tr>
				    <th class="spe_th" rowspan="{#($detail_residentialotherfeesArr|count)+1#}">其它费用</th>
				    <th>费用</th>
				    <th>完全自理</th>
				    <th>轻度失能</th>
				    <th>中度失能</th>
				    <th>重度失能</th>
				    <th>失智长者</th>
				 </tr>
				 {#foreach from=$detail_residentialotherfeesArr item=tr#}
				 <tr>
				    <td>{#$tr[0]#}</td>
				    <td>{#$tr[1]#}</td>
				    <td>{#$tr[2]#}</td>
				    <td>{#$tr[3]#}</td>
				    <td>{#$tr[4]#}</td>
				    <td>{#$tr[5]#}</td>
				 </tr>
				 {#/foreach#}
			</table>
			{#/if#}
			{#if !empty($detail_residentialcardArr)#}
			<table class="table1">
				<tr>
				    <th class="spe_th" rowspan="{#($detail_residentialotherfeesArr|count)+1#}">会员卡</th>
				    <th>类型</th>
				    <th>说明</th>
				    <th>费用（元）</th>
				 </tr>
				 {#foreach from=$detail_residentialcardArr item=tr#}
				 <tr>
				    <td>{#$tr[0]#}</td>
				    <td style="text-align: left;">{#$tr[1]#}</td>
				    <td>{#$tr[2]#}</td>
				 </tr>
				 {#/foreach#}
			</table>
			{#/if#}
		</div>
	</div>
	<!--旅居养老 e-->
	{#/if#}
	<!--相册 s-->
	<div class="detail_con photo_con {#if $detail_catid && !(3|in_array:$detail_catid) && !(1|in_array:$detail_catid) && !(2|in_array:$detail_catid)#}detail_show{#/if#}">
		<ul class="fn-clear">
			{#pension action="albumsList" return="list" store={#$detail_id#} pageSize="20"#}
			<li>
				<div class="photo_pic"><img src="{#$list.litpic#}" alt=""></div>
				<p class="photo_txt">{#$list.title#}</p>
			</li>
			{#/pension#}
		</ul>
	</div>
	<!--相册 e-->
	<!--详细信息 s-->
	<div class="detail_con info_con">
		<div class="detail_txt1">
			<h3 class="type_title">简介</h3>
			<p class="text1">{#$detail_desc#}</p>
		</div>
		<div class="detail_txt2">
			<h3 class="type_title">详细信息</h3>
			<ul>
				<li><span>机构名称：</span><span>{#$detail_title#}</span></li>
				<li><span>住址：</span><span>{#$detail_address#}</span></li>
				<li><span>联系电话：</span><span>{#$detail_tel#}</span></li>
				<li><span>建筑数量：</span><span>{#$detail_buildings#}栋</span></li>
				<li><span>注册日期：</span><span>{#$detail_registration1#}</span></li>
				<li><span>土地面积：</span><span>{#$detail_landarea#}平米</span></li>
				<li><span>建筑面积：</span><span>{#$detail_builtuparea#}平米</span></li>
				<li><span>房间数量：</span><span>{#$detail_roomarea#}	间</span></li>
				<li><span>床位数量：</span><span>{#$detail_bednums#}张</span></li>
				<li><span>房间面积：</span><span>{#$detail_roomarea#}</span></li>
				<li><span>房间类型：</span><span>{#foreach from=$detail_roomtypeArr key="k" item=val#}{#$val#};{#/foreach#}</span></li>
				<li><span>从业人数：</span><span>{#$detail_peoplenums#}人</span></li>
				<li><span>自有医疗机构：</span><span>{#$detail_ownedinstitutions#}</span></li>
				<li><span>合作医疗机构：</span><span>{#$detail_cooperativeinstitutions#}</span></li>
				<li><span>是否接收特殊疾病长者：</span>{#$detail_diseases#}<span></span></li>
				<li><span>照护服务：</span><span>{#$detail_careservices#}</span></li>
				<li><span>生活服务：</span><span>{#$detail_lifeservice#}</span></li>
				<li><span>特色服务：</span><span>{#foreach from=$detail_tagArr key="k" item=val#}{#$val#};{#/foreach#}</span></li>
				<li><span>伙食情况：</span><span>{#$detail_foodsituation#}</span></li>
				<li><span>其他说明：</span><span class="text_note">{#$detail_othernotes#}</span></li>
			</ul>
		</div>
	</div>
	<!--详细信息 e-->
	<!--交通图 s-->
	<div class="detail_con map_con ">
		<div class="map_tip">
			<ul>
               <li><span>说明：</span>{#$detail_explains#}</li>
				<li><span>地址：</span>{#$detail_address#}</li>
				<li><span>最近车站：</span>{#$detail_station#}</li>
				<li><span>交通方式：</span>{#$detail_trans#}</li>
			</ul>
		</div>
		<div id="allmap"></div>
	</div>
	<!--交通图 e-->
	<!--评价(502条) s-->
	<div class="detail_con comment_con ">
		<h3 class="comment_h3">网友评论</h3>
		<div class="comm_con1">
			<div class="star_choose">
				<span class="comm_head">选择星级：</span>
				<ul class="fn-clear star_ul">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
				<p class="star_tip">
					<span>失望</span><span>一般</span><span>还行</span><span>满意</span><span>超赞</span>
				</p>
			</div>
			<textarea class="textarea comment"  id="content" placeholder="我也说几句"></textarea>
			<div class="store-imgs img_box">
		        <ul class="uploader-list fn-clear" id="fileList">
		            <li class="upload_btn" id="uploadbtn">
		                <div id="filePicker" class="webuploader-container">
		                    <img src="{#$templets_skin#}images/add.png" />
		                    <p>点击上传图片</p>
		                </div>
		            </li>
		            <div class="kong"></div>
		        </ul>
		    </div>

		    <!--上传图片 e-->
		    <div class="comm_member fn-clear">
				{#if $userinfo#}
		    	<div class="np-login">
					<a href="{#$member_userDomain#}" target="_blank" class="u"><img onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_40.jpg';" src="{#if $userinfo.photo == ""#}{#$cfg_staticPath#}images/noPhoto_40.jpg{#else#}{#changeFileSize url="{#$userinfo.photo#}" type="small"#}{#/if#}"><span class="com">{#$userinfo.nickname#}</span></a>
					<a href="{#$cfg_basehost#}/logout.html" class="o logout">安全退出</a>
				</div>
				<a href="javascript:;" class="subtn">发表</a>
				{#else#}
				<a href="javascript:;" class="subtn login">登录</a>
				{#/if#}
		    </div>
		</div>
		<div class="public_com">
			<p class="pub1"><span class="all_pub">整体评价</span><span class="all_num">{#$detail_sco1#}</span><span class="judge-star"><s style="width: {#$detail_sco1 / 5 * 100#}%;"></s></span></p>
			<ul class="fn-clear comm_ul">
				<li data-id="" class="active"><em class="tit">全部</em>（<em class="commentnum comment_total">0</em>）</li>
				<li data-id="sco1=4,5"><em class="tit">好评</em>（<em class="commentnum comment_good">0</em>）</li>
				<li data-id="sco1=2,3"><em class="tit">中评</em>（<em class="commentnum comment_middle">0</em>）</li>
				<li data-id="sco1=1"><em class="tit">差评</em>（<em class="commentnum comment_bad">0</em>）</li>
				<li data-id="pics=1"><em class="tit">带图评论</em>（<em class="commentnum comment_pic">0</em>）</li>
			</ul>
		</div>

		<div class="comm_con2">
			<div class="all_con all_show">
				<h3 class="comm_h3">全部评论 <span class="con_num">( {#$detail_common#} )</span></h3>
				<div class="comm_c">
					<ul class="all_ul" id="commentList">
					</ul>
					<!-- 分页 -->
					<div class="pagination1"></div>
				</div>
			</div>
		</div>

	</div>
	<!--评价(502条) e-->
</div>
<!--详情内容 e-->
   <!--预约弹出层 s-->
<div class="org_mask">
  <div class="org_conn">
  	<img src="{#$templets_skin#}images/close.png" alt="" class="close_alert">

    <p class="t1">预约参观</p>
    <p class="t2">提交信息，快速预约，专属服务</p>
	<form id="yuform" action="/include/ajax.php?service=pension&action=booking&oper=add">
		<input type="hidden" name="store" id="store" value="{#$detail_id#}">
    	<input type="text" name="people" placeholder="您的称呼" id="org_name">
    	<div class="inpbdr">
			<span class="areaCode"><i>+{#$internationalPhoneSection[0]['code']#}</i><s></s></span>
			<input type="text" name="tel" placeholder="请输入手机号码" id="org_phone">
			<!--国际区号弹窗-->
			<div class="areaCode_wrap areaCode_wrap2">
				<ul>

				</ul>
			</div>
		</div>

		<input type="hidden" name="areaCode" id="areaCode" value="{#$internationalPhoneSection[0]['code']#}">

    </form>
    <ul class="fn-clear">
    	<li class="cancel">取消</li>
    	<li class="sure active">确定</li>
    </ul>
  </div>
</div>
<!--预约弹出层 e-->

<!--预约成功弹出层 s-->
<div class="org_mask2">
  <div class="org_con2">
  	<img src="{#$templets_skin#}images/close.png" alt="" class="close_alert">
    <div class="wave">
        <div class="m-box">
            <div class="m-duigou"></div>
        </div>
    </div>
    <p class="t1">您的申请已成功提交</p>
    <p class="t2">商家收到您提交的信息会尽快与您联系！</p>
    <p class="t3">随便看看</p>
  </div>
</div>
<!--预约成功弹出层 e-->
