{#include file="../../siteConfig/top1.html"#}

<div class="wrap header fn-clear fixedwrap" id="header" >
	<h1 class="logo" >
		<a href="{#$pension_channelDomain#}"><img src="{#$pension_logoUrl#}" alt="{#$pension_channelName#}" /></a>
	</h1>
	<div class="searchwrap y-liner" >
		<div class="search">
          <div class="type">
            <dl class="">
              <dt><a href="javascript:;" class="keytype"> 机构养老 </a><em></em></dt>
              	<dd>
	                <div class="ModuleBox">
						<a href="javascript:;" data-id="0" data-module="tuan"><span>机构养老</span></a>
						<a href="javascript:;" data-id="0" data-module="image"><span>居家养老</span></a>				
						<a href="javascript:;" data-id="0" data-module="info"><span>旅居养老</span></a>
					</div>
				</dd>
	            </dl>
	            <i class="line"></i>
	          </div>
	          <div class="FormBox">
					<form action="{#getUrlPath service='pension' template='store' catid='1'#}" class="form tuan">
						<div class="inputbox">
							<div class="inpbox"><input type="text" name="keywords" class="searchkey" value="{#$keywords#}" placeholder="输入您想搜索的关键词" /></div>
						</div>
						<input type="submit" class="submit" value="搜索">
					</form>
					<form action="{#getUrlPath service='pension' template='store' catid='2'#}" class="form image fn-hide">
					<div class="inputbox">
						<div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="输入您想搜索的关键词" value="{#$keywords#}" /></div>
					</div>
					<input type="submit" class="submit" value="搜索">
					</form>
					<form action="{#getUrlPath service='pension' template='store' catid='3'#}" class="form info fn-hide">
						<div class="inputbox">
							<div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="输入您想搜索的关键词" value="{#$keywords#}" /></div>
						</div>
						<input type="submit" class="submit" value="搜索">
					</form>
			  </div>
        </div>	  
		<div class="serch_txt">热门搜索： 
			{#siteConfig module="pension" action="hotkeywords" return="hotkeywords"#}
			{#if $_bindex.hotkeywords <= 2#}
			<a href="{#$hotkeywords.href#}">{#$hotkeywords.keyword#}</a>
			{#/if#}
			{#/siteConfig#}
		</div>
	</div>
	<div class="kefu"><s><img src="{#$templets_skin#}images/phone.png"></s><p>客服热线</p>{#$pension_hotline#}</div>
</div>

<div class="nav nav2">
	<div class="wrap">
		<ul class="fn-clear">
			<li><a href="{#$pension_channelDomain#}"{#if $pageCurr == "index"#} class="curr"{#/if#}>首页</a></li>
			<li><a href="{#getUrlPath service='pension' template='store' catid='1'#}"{#if $pageCurr == "store" && $catid==1#} class="curr"{#/if#}>机构养老</a></li>
			<li><a href="{#getUrlPath service='pension' template='store' catid='2'#}"{#if $pageCurr == "store" && $catid==2#} class="curr"{#/if#}>居家养老</a></li>
			<li><a href="{#getUrlPath service='pension' template='store' catid='3'#}"{#if $pageCurr == "store" && $catid==3#} class="curr"{#/if#}>旅居养老</a></li>
			<li><a href="{#getUrlPath service='pension' template='map'#}"{#if $pageCurr == "map"#} class="curr"{#/if#}><span class="r"><img src="{#$templets_skin#}images/map.png" alt=""></span>养老地图</a></li>
			<li><a href="{#getUrlPath service='huodong'#}"{#if $pageCurr == "huodong"#} class="curr"{#/if#}>养老活动</a></li>
			<li><a href="{#getUrlPath service='article'#}"{#if $pageCurr == "article"#} class="curr"{#/if#}>养老资讯</a></li>
			<li><a href="{#getUrlPath service='pension' template='list'#}"{#if $pageCurr == "list" || $pageCurr=='elderly'#} class="curr"{#/if#}>长者信息</a></li>
		</ul>
	</div>
</div>
{#if $pageCurr=='store' || $pageCurr=='store-detail' || $pageCurr=='elderly'#}
<!-- 导航条 s -->
<div class="place_wrap">
	<div class="wrap ">
		<ul class="breadcrumb">
			<li>您的位置：</li>  {#* 您的位置 *#}
			<li><a href="{#$pension_channelDomain#}" target="_blank">首页</a><span>&gt;</span></li>
			<li class="thispg"><a href="{#$currenturl#}" target="_blank">当前页</a></li>
		</ul>
	</div>
</div>
<!-- 导航条 e -->
{#/if#}
