<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{#$cfg_soft_lang#}">
    <title>{#$langData['siteConfig'][8][6]#}</title>  {#* 完善信息 *#}
    <meta name="keywords" content="{#$article_keywords#}">
    <meta name="description" content="{#$article_description#}">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/certification.css?v={#$cfg_staticVersion#}">
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript">
		var masterDomain = '{#$cfg_basehost#}', cookiePre = '{#$cfg_cookiePre#}', templets_skin = '{#$templets_skin#}', staticPath = '{#$cfg_staticPath#}';
		var hideFileUrl ={#$cfg_hideUrl#};
		var geetest = {#$cfg_geetest#};
		var from ='{#$from#}';
		var certifyArr = {#$certifyArr#};
		var uid = '{#$userinfo.userid#}';
		var modelType = 'siteConfig';
		var thumbSize = {#$thumbSize#}, thumbType = '{#$thumbType#}', atlasSize = {#$atlasSize#}, atlasType = '{#$atlasType#}', atlasMax = 1;
		var verified = '{#$verified#}';
    </script>
</head>

<body>
{#include file="{#$HUONIAOROOT#}/templates/siteConfig/touch_top.html" headTheme="absolute transparent" pageTitle="{#$langData['siteConfig'][8][6]#}"#}

<div class="bg">
	<h3>{#$langData['siteConfig'][8][7]#}</h3>  {#* 请先完善以下个人资料 *#}
	<div class="step"></div>
</div>

<div class="main">

	<!-- 手机 -->
	<div class="item item-phone">
		<div class="subtitle fn-clear">
			<s><img src="{#$templets_skin#}images/phone.png?v={#$cfg_staticVersion#}" /></s>
			<h5>{#$langData['siteConfig'][23][27]#}</h5>  {#* 手机绑定 *#}
			<p>{#$langData['siteConfig'][23][128]#}</p>  {#* 绑定成功后手机号可用于账号登录 *#}
		</div>

		<div class="form">
			<div class="inp phone">
				<span class="areacode_span">
					<label>+{#$internationalPhoneSection[0]['code']#}</label>
				</span>
				<input type="tel" placeholder="{#$langData['siteConfig'][20][463]#}" id="phone" name="phone" />  {#* 请输入手机号码 *#}
				<input type="hidden" name="areaCode" id="areaCode" value="{#$internationalPhoneSection[0]['code']#}">
			</div>
			<div class="test_code fn-clear">
				<button type="button" class="getCodes">{#$langData['siteConfig'][4][7]#}</button>  {#* 发送验证码 *#}
				<div class="inp code fn-clear">
					<input type="tel" maxlength="6" name="vercode" id="vercode" placeholder="{#$langData['siteConfig'][20][176]#}">  {#* 请输入验证码 *#}
				</div>
			</div>
			<a href="javascript:;" class="confirm">{#$langData['siteConfig'][6][216]#}</a>  {#* 确定，下一步 *#}
		</div>
	</div>

	<!-- 公众号 -->
	<div class="item item-wechat">
		<div class="subtitle fn-clear">
			<s><img src="{#$templets_skin#}images/wechat.png?v={#$cfg_staticVersion#}" /></s>
			<h5>{#$langData['siteConfig'][23][129]#}</h5>  {#* 关注公众号 *#}
			<p>{#$langData['siteConfig'][23][130]#}</p>  {#* 关注成功后可及时接收您的账户动态信息 *#}
		</div>

		<div class="wechatObj fn-clear">
			<img src="/include/qrcode.php?data={#$wechatImg#}" />
			<p>{#$langData['siteConfig'][23][134]#}<br />{#$langData['siteConfig'][23][135]|replace:"%1":$cfg_weixinName#}</p>  {#* 长按识别二维码关注 *#}  {#* 或微信搜索“%1”加关注 *#}
			<a href="javascript:;" class="confirm">{#$langData['siteConfig'][23][132]#}</a>  {#* 已关注，下一步 *#}
		</div>
	</div>

	<!-- 实名认证 -->
	<div class="item item-card">
		<div class="subtitle fn-clear">
			<s><img src="{#$templets_skin#}images/card.png?v={#$cfg_staticVersion#}" /></s>
			<div class="cardSub"{#if $verified != 0#} style="display: none;"{#/if#}>
				<h5>{#$langData['siteConfig'][19][255]#}</h5>  {#* 实名认证 *#}
				<p>{#$langData['siteConfig'][23][133]#}</p>  {#* 实名认证用户可拥有更多会员权利 *#}
			</div>
		</div>

		<div class="auditState state{#$verified#}"{#if $verified == 2 || $verified == 3#} style="display: block;"{#/if#}>
			{#* 审核失败 *#}
			{#if $verified == 2#}
			<div class="state2">
				<s><img src="{#$templets_skin#}images/error.png?v={#$cfg_staticVersion#}" /></s>
				<h3>{#$verifiedInfo#}</h3>
				<a href="javascript:;" class="recertify">{#$langData['siteConfig'][6][174]#}</a>  {#* 重新认证 *#}
			</div>
			{#/if#}

			{#* 等待审核 *#}
			<div class="state3"{#if $verified == 3#} style="display: block;"{#/if#}>
				<h3>{#$langData['siteConfig'][23][136]#}</h3>  {#* 实名认证审核中 *#}
				<p>{#$langData['siteConfig'][23][137]#}</p>  {#* 您的实名认证已提交，请耐心等待平台审核！ *#}
			</div>
		</div>

		{#if $verified == 0 || $verified == 2#}
		<div class="form"{#if $verified == 2#} style="display: none;"{#/if#}>
			<div class="card fn-clear">
				<div class="front">
					<img src="/static/images/blank.gif" id="idcardFimg">
					<div class="input-img" id="idcardF"></div>
	                <input type="hidden" name="idcardFront" id="idcardFront" />
					<span class="icon"></span>
					<p>{#$langData['siteConfig'][18][75]#}</p>  {#* 身份证正面 *#}
				</div>
				<div class="behind">
					<img src="/static/images/blank.gif" id="idcardBimg">
					<div class="input-img" id="idcardB"></div>
	                <input type="hidden" name="idcardBack" value="" id="idcardBack">
					<span class="icon"></span>
					<p>{#$langData['siteConfig'][18][76]#}</p>  {#* 身份证反面 *#}
				</div>
			</div>
			<div class="inp">
				<input type="text" placeholder="{#$langData['siteConfig'][20][105]#}" id="realname" name="realname" value="{#$userinfo.person#}" />  {#* 请输入身份证上的姓名 *#}
			</div>
			<div class="inp">
				<input type="tel" placeholder="{#$langData['siteConfig'][20][106]#}" id="idcard" name="idcard" value="{#$userinfo.idcard#}" />  {#* 请输入身份证号码 *#}
			</div>

			{#if $userinfo['userType'] == 2#}
			<div class="license fn-clear">
				<div class="upbtn">
					<img src="/static/images/blank.gif" id="licenseCimg">
					<div class="input-img" id="licenseC"></div>
	                <input type="hidden" name="licenseCom" value="" id="licenseCom">
					<span class="icon"></span>
					<p>{#$langData['siteConfig'][23][140]#}</p>  {#* 上传营业执照照片 *#}
				</div>
				<div class="license-tip">
					<img src="{#$templets_skin#}images/license.png?v={#$cfg_staticVersion#}" />
					<p>{#$langData['siteConfig'][23][141]#}</p>  {#* 营业执照示例 *#}
				</div>
			</div>
			{#/if#}

			<p class="card-tip"><img src="{#$templets_skin#}images/tip.png?v={#$cfg_staticVersion#}" />{#$langData['siteConfig'][23][142]#}</p>  {#* 认证审核需要1-2个工作日，仅支持二代身份证认证。 *#}

			<a href="javascript:;" class="confirm">{#$langData['siteConfig'][6][60]#}</a>  {#* 提交认证 *#}
		</div>
		{#/if#}
	</div>

</div>

<!-- 区号弹出层 s -->
<div class="popl_box anum_box">
	<h2>{#$langData['siteConfig'][40][1]#}<a href="javascript:;" class="back">{#$langData['siteConfig'][6][117]#}</a></h2>  {#* 选择地区 *#}  {#* 返回 *#}
	<div class="areacodeList" id="areacodeList">
		<ul>
		</ul>
	</div>
</div>
<!-- 区号弹出层 e -->
<div class="mask-code"></div>

<script type="text/javascript">
	var wxconfig = {
		"appId": '{#$wxjssdk_appId#}',
		"timestamp": '{#$wxjssdk_timestamp#}',
		"nonceStr": '{#$wxjssdk_nonceStr#}',
		"signature": '{#$wxjssdk_signature#}'
	};
</script>
<script src="//res.wx.qq.com/open/js/jweixin-1.3.2.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>

<script src="{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}"></script>
{#if $cfg_geetest#}<script type="text/javascript" src="{#$cfg_secureAccess#}static.geetest.com/static/tools/gt.js"></script>{#/if#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/webuploader/webuploader.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_basehost#}/templates/member/touch/js/upload.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_basehost#}/templates/member/touch/js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.step.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/certification.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
