{#include file="../../siteConfig/top1.html"#}
<div class="bgfff bgfff-inner">
<div class="wrap">
  <div class="header fn-clear">
    <div class="logo">
        <a href="{#$waimai_channelDomain#}" title="{#$waimai_channelName#}"><img src="{#$waimai_logoUrl#}" alt="{#$waimai_channelName#}"><h2>{#$cfg_shortname#}</h2></a>
    </div>
    <div class="navbar">
      <a href="{#getUrlPath service="waimai" template="index"#}" {#if $pageCurr == "index"#} class="currpage"{#/if#}>{#$langData['siteConfig'][0][0]#}</a>  {#* 首页 *#}
      <a href="{#getUrlPath service="waimai" template="wmsj"#}" {#if $pageCurr == "wmsj"#} class="currpage"{#/if#}>{#$langData['waimai'][8][11]#}</a>  {#* 入驻加盟 *#}
      <a href="{#getUrlPath service="waimai" template="list"#}" {#if $pageCurr == "list"#} class="currpage"{#/if#}>{#$langData['waimai'][8][12]#}</a>  {#* 点外卖 *#}
      <a href="{#getUrlPath service='member' type='user' template='order' module='waimai'#}" {#if $pageCurr == ""#} class="currpage"{#/if#}>{#$langData['siteConfig'][10][4]#}</a>  {#* 我的订单 *#}
      <a href="{#getUrlPath service="waimai" template="index"#}#phoneScroll" {#if $pageCurr == ""#} class="currpage"{#/if#}>{#$langData['waimai'][8][28]#}</a>  {#* 手机点单 *#}
    </div>
    <div class="fn-right r-call"><i></i><span>{#$waimai_hotline#}</span></div>
  </div>
</div>
</div>