<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$waimai_channelName#}</title>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" href="{#$templets_skin#}css/index.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script>
  var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$waimai_channelDomain#}', templatePath = '{#$templets_skin#}';
  var hideFileUrl = {#$cfg_hideUrl#};
  </script>
</head>
<body class="w1200">
{#$pageCurr = 'index'#}
{#include file="../../siteConfig/top1.html"#}
<div class="bgfff">
<div class="wrap">
  <div class="header fn-clear">
    <div class="logo">
        <a href="{#$waimai_channelDomain#}" title="{#$waimai_channelName#}"><img src="{#$waimai_logoUrl#}" alt="{#$waimai_channelName#}"><h2>{#$cfg_shortname#}</h2></a>
    </div>
    <div class="navbar">
      <a href="{#getUrlPath service="waimai" template="index"#}" class="currpage">{#$langData['siteConfig'][0][0]#}</a>  {#* 首页 *#}
      <a href="{#getUrlPath service="waimai" template="wmsj"#}">{#$langData['waimai'][8][11]#}</a>  {#* 入驻加盟 *#}
      <a href="{#getUrlPath service="waimai" template="list"#}">{#$langData['waimai'][8][12]#}</a>  {#* 点外卖 *#}
      <a href="{#getUrlPath service='member' type='user' template='order' module='waimai'#}">{#$langData['siteConfig'][10][4]#}</a>  {#* 我的订单 *#}
      <a href="#phoneScroll">{#$langData['waimai'][8][28]#}</a>  {#* 手机点单 *#}
    </div>
    <div class="kefu"><s><img src="{#$templets_skin#}images/changecity_tel.png"></s><p>{#$langData['siteConfig'][19][275]#}</p><span>{#$waimai_hotline#}</span></div>  {#* 客服热线 *#}
  </div>
</div>
</div>
<div class="main">
  <!--banner s-->
  <div class="banner">
    <div class="banner_search">
      <h1 class="ban-tit">{#$langData['waimai'][8][13]#}</h1>  {#* 我要点外卖 *#}
      <p class="ban-tip">{#$langData['waimai'][8][14]#}</p>  {#* 生活已不易，奖励自己吃点好的 *#}
      <div class="search_food">
        <dl>
          <!--选定地点-->
          <dt><a href="{#$cfg_basehost#}/changecity.html"><span>{#$siteCityInfo['name']#}</span><s></s></a></dt>
          <dd>
            <input type="text" name="keywords" id="keywords" placeholder="{#$langData['waimai'][8][15]#}">  {#* 输入地址搜索周边美食 *#}
          </dd>
        </dl>
        <button class="searchBtn">{#$langData['siteConfig'][6][109]#}</button>  {#* 搜索 *#}
      </div>
    </div>
  </div>
  <!--banner e-->
  <!--入驻加盟 s-->
  <div class="join-wrap wrap">
    <div class="head_title">
      <h2 class="com-title">{#$langData['waimai'][8][11]#}</h2>  {#* 入驻加盟 *#}
      <h3 class="com-h3">{#$langData['waimai'][8][16]#}</h3>  {#* 高收入高回报，赚钱其实没那么难 *#}
    </div>
    <ul class="fn-clear">
      <li class="fn-left"><a href="{#getUrlPath service='waimai' template='wmsj'#}">
        <div class="top-pic"><img src="{#$templets_skin#}images/bus-join.png" alt=""></div>
        <div class="join-info">
          <p>{#$langData['waimai'][8][17]#}</p>  {#* 外卖商家入驻 *#}
          <p>{#$langData['waimai'][8][18]#}</p>  {#* 商家免费入驻，轻松赚大钱 *#}
        </div>
      </a></li>
      <li class="fn-right"><a href="{#getUrlPath service='waimai' template='qishou'#}">
        <div class="top-pic"><img src="{#$templets_skin#}images/rider-join.png" alt=""></div>
        <div class="join-info">
          <p>{#$langData['waimai'][8][19]#}</p>  {#* 配送骑手加入 *#}
          <p>{#$langData['waimai'][8][20]#}</p>  {#* 加入实时配送网络，做一单赚一单 *#}
        </div>
      </a></li>
    </ul>
  </div>
  <!--入驻加盟 e-->
  <!--热门商家 e-->
  <div class="buss-wrap ">
    <div class="wrap">
      <div class="head_title">
        <h2 class="com-title">{#$langData['waimai'][8][21]#}</h2>  {#* 热门商家 *#}
        <h3 class="com-h3">{#$langData['waimai'][8][22]#}</h3>  {#* 品质外卖 传递好滋味 *#}
      </div>
      <ul class="fn-clear buss-list">
        {#waimai action="shopList" return='list' page="1" pageSize="9"#}
        <li><a href="{#$list.url#}">
          <div class="left-pic"><img src="{#if $list.pic#}{#$list.pic#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt=""></div>
          <div class="right-con">
            <h3 class="buss-name">{#$list.shopname#}</h3>
            <p class="rank_star">
              {#if $list.star > 0#}
              <span class="judge-star"><s style="width:{#($list.star / 5) * 100#}%"></s></span>
              {#/if#}
              <span class="score">{#if $list.star != 0#}{#$langData['waimai'][8][23]|replace:'1':$list.star#}{#else#}{#$langData['waimai'][2][4]#}{#/if#}</span> {#* 1分 #} {#* 暂无评分 *#}
            </p>
            <div class="move-info">
            	<p class="send-info">
                <span>{#$langData['waimai'][2][6]#}:{#echoCurrency type='symbol'#}{#$list.basicprice#}</span><span>{#if $list.delivery_fee>0#}{#$langData['waimai'][2][7]#}:{#echoCurrency type='symbol'#}{#$list.delivery_fee#}{#else#}免配送费{#/if#} </span></p>   {#* 起送 *#} {#* 配送费 *#}
              <p class="send-time"><i></i>{#$list.delivery_time#}{#if $list.delivery_time==""#}{#$langData['waimai'][2][119]#}{#else#}{#$langData['waimai'][2][11]#}{#/if#}</p>  {#* 分钟 *#}
            </div>
            <p class="see">{#$langData['waimai'][8][25]#}</p>    {#* 去看看 *#}           
          </div>
        </a></li>
        {#/waimai#}
      </ul>
      <a href="{#getUrlPath service='waimai' template='list'#}" class="more-a">{#$langData['waimai'][8][24]#}></a>   {#* 查看更多商家 *#}
    </div>
    
  </div>
  <!--热门商家 e-->

</div>
  <div class="content" id="phoneScroll">

    <div class="wrap">
      <div class="head_title">
        <h2 class="com-title">{#$langData['waimai'][8][26]#}</h2>    {#* 手机点餐 *#}  
        <h3 class="com-h3">{#$langData['waimai'][8][27]#}</h3>    {#* 手机端多种点餐方式，任意选择 *#}  
      </div>
      <div class="fn-clear">
        <div class="slideBox" id="slideBox">
          <div class="bd">
            <ul>
              <li><a href=""><img src="{#$templets_skin#}images/slide1.png" alt=""></a></li>
              <li><a href=""><img src="{#$templets_skin#}images/slide2.png" alt=""></a></li>
              <li><a href=""><img src="{#$templets_skin#}images/slide3.png" alt=""></a></li>
              <li><a href=""><img src="{#$templets_skin#}images/slide4.png" alt=""></a></li>
              <li><a href=""><img src="{#$templets_skin#}images/slide5.png" alt=""></a></li>
              <li><a href=""><img src="{#$templets_skin#}images/slide6.png" alt=""></a></li>
            </ul>
          </div>
          <div class="slide_bg"></div>
        </div>
        <div class="rightBox fn-right">
          <!--如果情况只有两种时 去掉第一个li 然后 ul 加上class 样式已写好-->
          <ul class="fn-clear {#if !$cfg_app_android_download || !$cfg_app_ios_download || !$cfg_weixinQr#} two-ul {#/if#} ">
            {#if $cfg_app_android_download || $cfg_app_ios_download#}
            <li>
              <p class="tit">{#$langData['waimai'][0][4]#}</p>    {#* 下载APP客户端 *#}
              <p class="gray">ios/Android</p>
              <img src="{#$cfg_basehost#}/include/qrcode.php?data={#getUrlPath service='siteConfig' template='mobile'#}" alt="" class="code">
              <p class="info">{#$langData['waimai'][0][7]#}</p>    {#* 手机扫二维码下载 *#}
            </li>
            {#/if#}
            {#if $cfg_weixinQr#}
            <li>
              <p class="tit">{#$langData['waimai'][0][5]#}</p>    {#* 关注微信公众号 *#}
              <p class="gray">{#$cfg_weixinCode#}</p>
              <img src="{#$cfg_weixinQr#}" alt="" class="code">
              <p class="info">{#$langData['waimai'][0][8]#}</p>    {#* 微信扫描二维码关注 *#}
            </li>
            {#/if#}
            <li>
              <p class="tit">{#$langData['waimai'][0][6]#}</p>    {#* 浏览器输入网址 *#}
              <p class="gray">{#$cfg_basehost#}</p>
              <img src="{#$cfg_basehost#}/include/qrcode.php?data={#$cfg_basehost#}" alt="" class="code">
              <p class="info">{#$langData['waimai'][0][9]#}</p>    {#* 手机扫描二维码访问 *#}
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <!-- 底部 s-->
{#include file="../../siteConfig/public_foot_v3.html" module='siteConfig' theme='gray'#}
<!-- 底部 e-->
<script>
    var site_map = "{#$site_map#}", site_map_key = '{#$site_map_key#}';
</script>
<script type="text/javascript" src="{#$site_map_apiFile#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/publicLocation.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script src="{#$templets_skin#}js/local.js?v={#$cfg_staticVersion#}" charset="utf-8"></script>
<script src="{#$templets_skin#}js/index.js?v={#$cfg_staticVersion#}" charset="utf-8"></script>
</body>
</html>
