<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][16][55]#}</title>{#*支付成功*#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" href="{#$templets_skin#}css/pay_success.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script>
  var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$waimai_channelDomain#}', templatePath = '{#$templets_skin#}';
  var hideFileUrl = {#$cfg_hideUrl#};
  </script>
</head>
<body class="w1200">
{#$pageCurr = 'list'#}
{#include file="_top.html"#}
<div class="main-wrap">
  <div class="succ_wrap wrap">
    <div class="succ_icon"><img src="{#$templets_skin#}images/success.png" alt=""></div>
    <p class="pay_p1">{#$langData['siteConfig'][16][55]#}!</p>{#*支付成功*#}
    <p class="pay_p2">{#$langData['waimai'][7][83]#}</p>{#*您已下单成功，请收到餐品后尽快食用，祝您用餐愉快*#}
    <ul>
      {#*继续点餐*#}
      <li class="go_back"><a href="{#getUrlPath service="waimai" template="list"#}">{#$langData['waimai'][7][82]#}</a></li>
      <li class="see_order"><a href="{#getUrlPath service='member' type='user' template='order' module='waimai'#}">{#$langData['siteConfig'][6][146]#}</a></li>{#*查看订单*#}
    </ul>
    <p class="pay_p3">{#$langData['waimai'][8][0]#}</p>{#*安全提醒：本站不会以任何理由要求您提供银行卡信息或支付额外费用，请谨防钓鱼链接或诈骗电话。*#}
  </div>
</div>

  

  <!-- 底部 s-->
{#include file="../../siteConfig/public_foot_v3.html" module='siteConfig' theme='gray'#}
<!-- 底部 e-->
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>
<script src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}" charset="utf-8"></script>
</body>
</html>
