<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$langData['education'][9][65]#}</title> {#* 支付页面 *#}
    <meta name="keywords" content="{#$list_keywords#}" />
    <meta name="description" content="{#$list_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/pay.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/payreturn.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$education_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
        var hideFileUrl = {#$cfg_hideUrl#};
        var totalAmount = 1680.00, totalPoint = {#$userinfo.point#}, totalBalance = {#$userinfo.money#}, pointRatio = {#$cfg_pointRatio#};
        var pointName = '{#$cfg_pointName#}', ordernum = '1981999452757508', cookieDomain = '{#$cfg_cookieDomain#}';
    </script>
</head>

<body class="w1200">

<!-- 导航 s-->
{#include file="../../siteConfig/top1.html"#}
<div class="header">
    <div class="wrap fn-clear">
        <div class="logo"><a href="{#$education_channelDomain#}"><img src="{#$cfg_weblogo#}" alt=""></a></div>
        <div class="head_cashier"><i class="he_line"></i>{#$langData['education'][9][66]#}</div>  {#* 我的收银台 *#}
        <div class="head_kfrx"><span>{#$langData['siteConfig'][19][275]#}</span><span class="kfrx_num">0512-67581578</span></div>   {#* 客服热线 *#}
    </div>
</div>
<!-- 导航 e-->
<div class="all-wrap">
    <div class="swrap wrap">
    
        {#if $state != 1#}
        <h2 class="s-title"><s></s>对不起，报名失败</h2>
        {#else#}
        <h2 class="s-title success">
            <s></s>
            恭喜你，购买成功
            {#if $isaddr == 1#}<small>收货时请检查，发现货品异常请不要签收</small>{#/if#}
        </h2>
        <div class="s-con">
            <!-- <p class="prolist">
                <strong>购买商品：</strong>
                <a href="{#$detail_product.url#}" target="_blank">{#$detail_product.title#}</a><br />
            </p>
            <p>
                <strong>付款金额：</strong>
                <span class="price">{#echoCurrency type='symbol'#}{#$detail_orderprice#}</span>
            </p> -->
            {#if $isaddr == 1#}
            <p><strong>配送信息：</strong>{#$address#}</p>
            {#/if#}
            <p>
                <a href="{#$waimai_channelDomain#}">返回首页</a>
                <em>|</em>
                <a href="{#getUrlPath service='member' type='user' template='order' module='waimai' #}">订单详情</a>
                <em>|</em>
                {#if $isaddr == 1#}
                    <a href="{#getUrlPath service='member' type='user' template='order' module='waimai'#}">修改收货地址</a>              
                    <em>|</em>
                {#/if#}
                <a href="#" target="_blank">常见问题</a>
            </p>
            {#if $isaddr == 1#}
            <div class="m-pop">
                <s><i></i></s>
                <p>支付成功1小时内您可以在“订单详情”中修改收货地址，系统会自动处理您的订单，请耐心等待。</p>
            </div>
            {#/if#}
        </div>
        {#/if#}
    </div>
</div>


{#include file='../../siteConfig/public_foot_v3.html'  theme='white' #}
<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
    var utils = {
    canStorage: function(){
        if (!!window.localStorage){
            return true;
        }
        return false;
    },
    setStorage: function(a, c){
        try{
            if (utils.canStorage()){
                localStorage.removeItem(a);
                localStorage.setItem(a, c);
            }
        }catch(b){
            if (b.name == "QUOTA_EXCEEDED_ERR"){
                alert("您开启了秘密浏览或无痕浏览模式，请关闭");
            }
        }
    },
    getStorage: function(b){
        if (utils.canStorage()){
            var a = localStorage.getItem(b);
            return a ? JSON.parse(localStorage.getItem(b)) : null;
        }
    },
    removeStorage: function(a){
        if (utils.canStorage()){
            localStorage.removeItem(a);
        }
    },
    cleanStorage: function(){
        if (utils.canStorage()){
            localStorage.clear();
        }
    }
};
    $(function(){
            utils.removeStorage("wm_cart_{#$sid#}");
    });
</script>
</body>
</html>
