<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['waimai'][2][87]#}</title> {#* 搜索结果 *#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" href="{#$templets_skin#}css/slist.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script>
  var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$waimai_channelDomain#}', templatePath = '{#$templets_skin#}';
  var hideFileUrl = {#$cfg_hideUrl#};
  </script>
</head>
<body class="w1200">
{#$pageCurr = 'list'#}
{#include file="_top.html"#}
<div class="main-wrap">
  <!--头部筛选 s-->
  <div class="wrap search-div">
    <div class="serach-top fn-clear">
      <div class="search_result fn-left">{#$langData['waimai'][8][58]|replace:'1':'<em></em>'#}</div> {#* 搜索“1”的结果 *#}

      <div class="search-box fn-right focus" id="searchBox">
        <form action="slist.html" id="searchForm">
          <input type="text" id="keywords" name="keywords" class="header-search fn-left" placeholder="{#$langData['waimai'][8][52]#}..."> {#* 搜索商家，美食 *#}
          <a href="javascript:;" class="doSearch fn-right"><i></i></a>  
        </form>         
      </div>
    </div>

  </div>
  <!--头部筛选 e-->
  <!--列表 s-->
  <div class="main-slist wrap">
    <ul class="">

    </ul>

  </div>
  <!--列表 e-->
  {#include file="public_cart.html"#}

</div>

  

  <!-- 底部 s-->
{#include file="../../siteConfig/public_foot_v3.html" module='siteConfig' theme='gray'#}
<!-- 底部 e-->
<script>
    var site_map = "{#$site_map#}", site_map_key = '{#$site_map_key#}';
    var orderby = '1', yingye = '1', lng = '', lat = '', keywords = '{#$keywords#}',spage = 1, pageSize = 6;
</script>
<script type="text/javascript" src="{#$site_map_apiFile#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/publicLocation.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>
<script src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}" charset="utf-8"></script>
<script src="{#$templets_skin#}js/slist.js?v={#$cfg_staticVersion#}" charset="utf-8"></script>
</body>
</html>
