/* 特殊表单样式 */
.input-prepend .add-aft {border-radius: 0;}
#openEnd {margin-left: -1px;}
#openStart {border-radius: 4px 0 0 4px;}
#openEnd {border-radius: 0 4px 4px 0;}

.state0 {padding: 0 0 20px 115px; color: #f00;}

/* 地图层 */
#shadowlayer {display: none; position: fixed; _position: absolute; width: 100%; height: 100%; background-color: #000; filter: alpha(opacity=15); opacity: .15; top: 0; left: 0; z-index: 9000;}
.map-pop {position: fixed; _position: absolute; left: 50%; top: 50%; z-index: 9001; display: none; width: 900px; height: 630px; margin: -320px 0 0 -450px;}
.map-pop a.pop-close {display: block; width: 22px; height: 22px; font-size: 25px; line-height: 22px; overflow: hidden; position: absolute; right: 12px; top: 8px; z-index: 1004; text-align: center; color: #666;}
.map-pop a.pop-close:hover {background-position: 0 -14px;}
.pop-border {background-color: #000; filter: alpha(opacity=30); opacity: .3; position: absolute; left: -5px; top: -5px; right: -5px; bottom: -5px; z-index: 1002; border-radius: 5px;}
.pop-main {width: 100%; height: 100%; background-color: #fff; position: relative; z-index: 1003;}
.pop-title {height: 39px; border-bottom: 1px solid #e0e0e0; color: #3d3d3d; background-color: #f7f7f7; padding-left: 15px; font: 700 14px/39px Microsoft Yahei;}
.pop-con {padding: 10px;}
#markDitu {width: 100%; height: 515px;}
.pop-con .btns {margin-top: 10px; border-top: 1px solid #e0e0e0; padding-top: 15px; font: 12px/18px '\5b8b\4f53';}
.pop-con .btns a {float: right; margin-left: 15px; color: #506eaa; line-height: 25px; padding: 0 20px; background-color: #efefef; letter-spacing: 2px; box-shadow: 0 1px 0 #ddd; border-radius: 3px;}
.pop-con .btns #okPop {background-color: #ff7e00; box-shadow: 0 1px 0 #eb5e00; color: #fff; font-weight: 700; font-size: 14px;}
.list-holder li {width: 115px !important;height: 86px;}
.list-holder li .li-thumb {margin: -5px 0 0 0 !important;}
.list-holder li a.li-rm {margin: -17px -14px 0 0 !important;}

.thead {margin: 20px 10px;padding-left: 10px;height: 30px;line-height: 30px;border-top: 2px solid #b3b3b3;border-bottom: 1px solid #d9d9d9;background: #f7f7f7;font-size: 16px;color: #999;list-style: none;}

.btn i {display: block; margin: 0 auto; background: url('../images/tuaneditbtn.png') no-repeat;}
.notice-item .move {top: 8px; cursor: move;}
.btn.move i {width: 17px; height: 17px;}
.btn.move:hover i {background-position: -18px 0;}
.notice-item .del {top: 50%; margin-top: -5px;}
.btn.del i {width: 9px; height: 9px; background-position: -4px -36px;}
.btn.del:hover i {background-position: -22px -36px;}
.notice-item .add {bottom: 5px;}
.btn.add i {width: 13px; height: 13px; background-position: -2px -66px;}
.btn.add:hover i {background-position: -20px -66px;}
.newbtn {display: block; height: 30px; width: 120px; line-height: 30px; margin-top: 10px; background-color: #f1f1f1; color: #333; border: 1px solid #dadada; text-align: center;}

.taocon .singel {width: 600px;}
.taocon .singel table {width: 100%; border-left: 1px solid #ddd; border-top: 1px solid #ddd;}
.taocon .singel th {padding: 0 10px; height: 40px; line-height: 40px; font-size: 14px; font-weight: 500; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; background-color: #f9f9f9;}
.taocon .singel td {height: 45px; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;}
.taocon .singel input {padding: 0 10px; height: 45px; border: 0; box-shadow: none; outline: 0;}
.taocon .singel .s1 {width: 280px;}
.taocon .singel .s2 {width: 70px;}
.taocon .singel .s3 {width: 88px;}
.taocon .singel .s4 {width: 81px;}

.taocon .many {position: relative; width: 800px; margin-top: 10px;}
.taocon .many table {position: relative; width: 100%; border-left: 1px solid #ddd; margin-top: -1px;}
.taocon .many th {padding: 0 10px; height: 40px; line-height: 40px; font-size: 14px; font-weight: 500; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; background-color: #f9f9f9; border-top: 1px solid #ddd;}
.taocon .many td {height: 45px; border-top: 1px solid #ddd;}
.taocon .many td.items {position: relative; border-bottom: 1px solid #ddd;}
.taocon .many td.mtit {position:relative; padding: 0; width: 170px; text-align: center; border-bottom: 1px solid #ddd;}
.taocon .many .remove {position: absolute; left: -170px; top: 0; width: 16px; height: 16px; padding: 3px;}
.taocon .many .remove i {float: left; width: 9px; height: 9px; background-position: -4px -36px; margin: 5px 0 0 5px;}
.taocon .many a:hover.remove i {background-position: -22px -36px;}
.taocon .many td td {padding: 0; border-right: 1px solid #ddd;}
.taocon .many input {width: 73px; padding: 0 10px; margin: 0; height: 40px; border: 0; box-shadow: none; outline: 0;}
.taocon .many input.tit {width: 218px;}
.taocon .many td.mtit input {width: 150px; height: 100%; text-align: center;}

.taocon .many .move, .taocon .many .del, .taocon .many .add {float: left; width: 20px; height: 20px; margin: 6px 2px 0 4px; cursor: pointer;}
.taocon .many .move {cursor: move; margin-left: 15px;}
.taocon .addTao {margin: 10px 0;}

.taocon .del i {margin-top: 4px;}
.taocon .add i {margin-top: 2px;}