.w-form {padding-top: 0;}

/* 选择分类 */
.editform dl {margin: 50px 0;}
.editform dt {float: left; width: 140px; text-align: right; padding: 5px 0; line-height: 30px; font-weight: 500; font-size: 14px; cursor: default;}
.editform dd {position: relative; overflow: hidden; padding: 5px 80px 5px 20px;}
.t-main {position:relative; width:1000px; border:1px solid #abcafb; background:#f0f6ff;}
.t-main .cc-nav {position:absolute; top:145px; width:23px; height:70px; padding: 0; cursor:pointer; text-indent:-9999em; background:url('../images/arrow.png') no-repeat; display:none;}
.t-main .prev {left:5px;}
.t-main .next {right:5px; background-position:-23px 0;}
.t-main .t-list {position:relative; margin:25px 12px 25px 28px; width:944px; height:340px; overflow:hidden;}
.t-main .t-ol {position:absolute; top:0; left:0; margin:0; padding:0; width:2000em;}
.t-list .t-item {float:left; width:215px; padding:5px; margin:0; margin-right:12px; background:#fff; border:1px solid #abcafb;}
.t-list .t-item dt {float:none; width:100%; height:25px; padding:0; text-align:left;}
.t-list .t-item dt label {height:25px; display:block; line-height:25px; border:1px solid #abcafb;}
.t-list .t-item dt label s {float:left; width:17px; height:17px; margin:3px; background:url('../images/pubIcon.png') -183px -72px;}
.t-list .t-item dt label input {float:left; width:188px; height:23px; line-height:23px; margin:0; padding:0; box-shadow:none; border:none;}
.t-list .t-item dd {padding:0; margin:0; height:300px; overflow:auto;}
.t-list .t-item dd ul {margin:0;}
.t-list .t-item dd li {list-style:none; line-height:31px; font-size:14px; text-indent:10px; border-bottom:1px dashed #ccc;}
.t-list .t-item dd li .t-name {color:#3366cc; cursor:default; display:block;}
.t-list .t-item dd li .t-name s {text-decoration:none; margin-left:5px; font-family:Georgia, "Times New Roman", Times, serif; font-size:12px;}
.t-list .t-item dd .sub-nav {margin:-6px 0 -1px; padding-bottom:4px; display:none;}
.t-list .t-item dd .sub-nav li {position:relative; line-height:25px; border:1px solid #fff; cursor:pointer; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.t-list .t-item dd .sub-nav li s {position:absolute; right:10px; top:8px; width:5px; height:9px; background:url('../images/pubIcon.png') -194px -94px;}
.t-list .t-item dd .sub-nav li.selected {border:1px dotted #82bce0; background:#dff1fb;}
.t-list .t-item dd .sub {margin:0; padding:0; display:block;}
.confrim {width:980px; border:1px solid #fedbab; background:#fffaf2; padding:5px 10px; margin:15px 0; line-height:2em; font-size:14px;}
#btnNext {margin-left:420px;}
.t-list .t-item dd li.nob {border-bottom:none;}

.btn {width: 160px; height: 45px; line-height: 45px; font-size: 20px; color: #fff; border: 1px solid #76ae30; border-radius: 3px; background-color: #85c336; cursor: pointer; margin: 15px 0 30px; font-family: 'microsoft yahei';}
.btn:hover {background-color: #7eb933;}
.btn[disabled] {color: #333; background-color: #e6e6e6; border-color: #e6e6e6; cursor: no-drop; opacity: .65;}


/* 发布商品 */
.editype {line-height: 30px;}
.editype a {color: #2672ec;}
.graybg {background-color: #f5f5f5; padding: 10px 0 15px; margin: 10px 0 5px;}
.input-large {width: 200px;}

.popup_key {display: none; position: absolute; z-index: 99991; background: rgba(255, 255, 255, 0.9); padding: 2px 0; border: 1px solid #aaa; border-radius: 3px; margin-top: 33px; width: 195px;}
.popup_key li {list-style: none; max-height: 250px; overflow: auto; line-height: 25px; padding: 0 5px; font-size: 14px; cursor: pointer; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.popup_key li:hover {color: #fff; background: #3399fe;}

.speTab {float: left; width: auto; max-height: 500px; padding-right: 5px; overflow: hidden; border:  0; overflow-y: auto; display: inline-block; vertical-align: middle;}
.speTab table {vertical-align: middle; color: #333; font-size: 14px; border-left: 1px solid #d7d7d7; border-bottom: 1px solid #d7d7d7;}
.speTab th {height: 44px; text-align: center; vertical-align: middle; font-weight: 500; border: 1px solid #d7d7d7; border-left: none; border-bottom: none; background: #ededed;}
.speTab td {padding: 5px; min-width: 90px; text-align: center; vertical-align: middle; border: 1px solid #d7d7d7; border-left: none; border-bottom: none; background: #fff; white-space: nowrap;}
.speTab td input {width: 65px; height: 15px; margin: 0; float: none; text-align: center;}


/* 图集 */
.list-holder li {width:115px !important; height:86px;}
.list-holder li a.li-rm {margin:-17px -14px 0 0 !important;}
.list-holder li .li-name {margin:20px 0 5px 0 !important; width:94%;}
.list-holder li .li-progress {width:100%; margin:0;}
.list-holder li .li-thumb {margin:-5px 0 0 0 !important;}

/* 20200520  商城上传商品修改 */
.tit1{background: #F9F9F9; line-height: 33px; margin: 30px 16px 0; border-top: solid 2px #CACACA; border-bottom:solid 1px #E5E5E5 ; padding-left: 14px; color: #999; margin-bottom: 20px;}
.bg_gray{background-color: #F5F5F5; margin:10px 36px; padding-bottom: 20px;}
.bg_gray dl{margin-bottom: 10px;}
.bg_gray dt{width: 164px;}
.bg_gray dd{margin-left: 169px;}
.bg_gray h3{line-height: 58px; border-bottom: solid 1px #E1E1E1; padding-left: 20px; margin-bottom: 10px; font-weight: bold;}
.bg_gray  .sure_add{display: inline-block; width: 75px; height: 32px; border-radius:5px; color: #333; text-align: center; line-height: 32px; border: solid 1px #D8D8D8; background: #eee; margin-left: 10px;  font-size: 14px; float: left; cursor: pointer;}
.bg_gray  .sure_add:hover,#specification .self_dl .adddiv:hover{background-color: #e6e6e6;}
#specification input[type=text]::placeholder{color: #999; font-size: 14px;}
#specification .color_box .img_box,#specification .color_div .img_box,#specification .self_inp .img_box{float: left; width: 34px; height: 34px; background-color: #fff; border: solid 1px #D8D8D8; border-radius: 4px; box-sizing: border-box;  margin-top: 1px; margin-right: 6px;background: url(../images/img_bg.png) no-repeat center #fff; background-size: 26px; overflow: hidden;}
#specification .color_div .img_box,#specification .self_inp .img_box{margin-left: 4px; margin-top: 0; }
#specification .color_box .img_box img,#specification .color_div .img_box img,#specification .self_inp .img_box img{display: block; width: 100%; height: 100%; object-fit: cover; background-color: #fff;}
#specification .color_box{margin-top: 16px;}
#specification .color_box span{width: 114px; height: 34px; background:#fff; border:1px solid #D8D8D8; border-radius:4px; box-sizing: border-box; padding-left: 6px;  font-size: 14px; line-height: 32px; color: #333; display: inline-block;}
#specification .readonly {background: #efefef!important;}
#specification .color_box label{ vertical-align: middle;margin-right: 5px;}
#specification .color_box li{float: left; width: 283px; margin-bottom: 18px;}
#specification .upimg,#specification .del_img,#specification .del_dd,#specification .self_inp a{color: #347DF6;font-size: 14px;   float: left; cursor: pointer;}
#specification .color_box .upimg:hover,#specification .del_dd:hover{text-decoration: underline; }
#specification .otherbox{margin-top: 8px;}
/* #specification .self_box {margin-top: 10px;} */
#specification .self_box .self_inp{position: relative; float: left; margin-right: 10px; margin-top: 14px; cursor: pointer;}
#specification .colorObj .self_inp {width: 283px; margin-right: 0;}
#specification .self_box .self_inp .del_inp,.self_dl li .del_prop{ width: 16px; height: 16px; background: url(../images/close_btn.png) no-repeat center; background-size: cover; position: absolute; left: 185px; top: 10px; /* display: none; */}
#specification .self_box .self_inp.color_inp .del_inp{left: 106px;}
#specification .self_dl{margin-top: 15px; margin-bottom: 30px;}

#specification .self_dl h2 {height: 40px;}
#specification .self_dl h2 input{margin-right: 8px;}
#specification .self_dl .self_div{margin-bottom: 10px;}
#specification .self_dl .self_tip span{margin-left: 10px; color: #999; float: left; font-size: 12px;}
#specification .self_dl .adddiv{display: inline-block; width: 164px; height: 34px; border-radius:5px; color: #333; text-align: center; line-height: 32px; border: solid 1px #D8D8D8; background: #eee; /* margin-left: 10px; */  font-size: 14px; float: left; cursor: pointer;}
#speList .piliang{line-height: 34px; display: inline-block; float: left; margin-left: 10px; padding:0 16px; border-radius: 4px; background-color: #347DF6; color: #fff; font-size: 14px; margin-top: 10px;}
#speList .piliang:hover{background-color: #1a67e7;}
.self_dl li{position: relative; float: left; margin-right: 10px; margin-bottom: 10px;}
.self_dl li .del_prop{display: none;}
.w-form .self_dl .inp.err:focus{border-color:rgba(228, 61, 3, 0.8);outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(228, 61, 3, 0.8);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(228, 61, 3, 0.8);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(228, 61, 3, 0.8);}
#specification .upimg {position: relative; overflow: hidden; cursor: pointer;}
#specification .upimg:hover{text-decoration: underline;}
/* #specification .del_img{display: none;} */
#specification .upimg label,#specification  .upimg input{width: 100%; height: 100%; overflow: hidden; opacity: 0; cursor: pointer;}
#specification .dl{display: none;}

.pl_fill{width: 86px; height: 34px; box-sizing: border-box; line-height: 32px; border: solid 1px #D8D8D8; border-radius: 5px; margin: auto; background-color: #fff;}
.pl_fill .text_tip{}
.pl_fill input{border: none; width: 100%; box-sizing: border-box; padding:0 4px;display: none; text-align: center;}

.inventoryTips {clear: both; font-size: 12px; color: #999;}
.inventoryTips span {text-decoration: underline; color: #2672ec; cursor: help;}

/* 图片预览 */
.img_mask{position: fixed; left: 0; right: 0; bottom: 0; top: 0; opacity: .62; z-index: 9; background-color: #000; display: none;}
.img_show{position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 530px; height: 597px; margin: auto; background-color: #fff; z-index: 10; box-sizing: border-box; padding:20px 30px ; display: none;  display: none; -webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out;}
.img_show h2{font-size: 18px; color: #666; font-weight: bold; position: relative;}
.img_show h2 .close_btn{display: block; width: 24px; height: 24px; background: url(../images/close1.png) no-repeat center; background-size: cover; position: absolute;  right: -4px; top: 0;}
.img_show .imgbox{width: 460px; height: 460px; background-color: #F5F5F5;margin: auto; margin-top: 30px; position: relative; }
.img_show .imgbox img{max-width: 100%; max-height: 100%; object-fit: cover; position: absolute; left: 0; right: 0; bottom: 0; top: 0; margin: auto;}



/* 礼品样式 */
.giftBox .tbList{margin: 0 30px; min-width: 1100;}
.giftBox .tbList .tb_head{height: 30px; background-color: #f5f5f5;}
.giftBox .tbList .tb_head div{float: left; box-sizing: border-box; padding-left: 10px; line-height: 30px; font-size: 12px; color: #999;}
.giftBox .tbList .tb_row>div{box-sizing: border-box; float: left; padding-top: 13px; }
.giftBox .tbList .tb_img{width: 15%;  }

.giftBox .tbList .tb_tit {width: 30%;}
.giftBox .tbList .tb_con {width: 40%;}
.giftBox .tbList .tb_price {width: 15%;}
.giftBox .tbList .tb_img iframe{width: 100%; height: 100%; opacity: 0;}
.giftBox .tbList .tb_row{padding: 10px 0;}
.giftBox .tbList .tb_row input{border: none; width: 80%;}
.giftBox .tbList .tb_row .tb_img{height: 60px; padding-left: 10px; padding-top: 0;}
.giftBox .tbList .tb_row .tb_img img{display: block; width: 100%; height: 100%; object-fit: cover;}
.giftBox .tbList .tb_row{max-width: 100%;}
.giftBox .tbList .tb_row .tb_img .imgbox{width: 60px; height: 60px; background: url(../images/img_bg.png) no-repeat center #fff; background-size: 26px; border-radius: 5px; border: solid 1px #d8d8d8; overflow: hidden; position: relative;}
.giftBox .tbList .tb_row .tb_img .imgbox .imgshow{position: absolute; left: 0; right: 0; bottom: 0; top: 0; z-index: 2;}
.giftBox .tbList .tb_row .tb_img .imgbox .imgshow .reload{font-size: 12px; color: #fff; background-color: rgba(0,0,0,.5); line-height: 28px; position: absolute; left: 0; right: 0; bottom: 0; z-index: 3; text-align: center;}