.main{padding: 30px 15px 0 200px;}
.main .l {position: relative; overflow: hidden;}
.main .r {float: right; }
.main .hline h3 { font-size: 14px; color: #333; line-height: 30px;}
.main .hline h3 .more {display: inline-block; font-size: 12px; margin: -2px 0 0 10px; width: 12px; height: 12px; vertical-align: middle; background: url(../images/glyphicons-halflings.png) no-repeat; background-position: -241px -25px; filter: alpha(opacity=60); -moz-opacity: 0.6; -khtml-opacity: 0.6; opacity: 0.6;}
.main .hitem {background-color: #fff;}

/* 帐户信息 */
.main .info_hline{background-color: #ffffff!important;padding: 30px;}
.main .info_hline .l{float: left;}
.hline .nitem{padding: 15px 15px 20px 30px;border-radius: 4px;position: relative;height: 160px;box-sizing: border-box;-ms-box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;float: left;margin-left: 30px;min-width: 360px;}
.hline .nitem .r_det{position: absolute;top:15px;right: 15px;}
.hline .nitem .r_det a{color: #fff;font-size: 12px;}
.hline .nitem .r_det i{display: inline-block; width: 20px; height: 20px; vertical-align: middle; background: url(../images/r_det.png) no-repeat;background-size: cover;margin-right: 3px;margin-top: -2px;}
.hline .nitem h2.nitem_num{font-size: 30px;font-weight: bold;color: #fff;line-height: 1}
.hline .nitem p.nitem_name{font-size: 12px;color: #fff;margin-top: 6px;}
.hline .nitem ul{margin-top: 25px;}
.hline .nitem ul li{float: left;width: 120px;height: 44px;text-align: center;line-height: 44px;border-radius: 6px;transition: all .1s;-webkit-transition: all .1s;-moz-transition: all .1s;-ms-transition: all .1s;}
.hline .nitem ul li a{display: block;font-size: 16px;color: #fff}
.hline .nitem ul li:first-child{background: #fff;margin-right: 20px;}
.hline .nitem ul li:first-child a{color: #313233;box-shadow: 0px 7px 23px 0px rgba(0, 104, 242, 0.5);-webkit-box-shadow: 0px 7px 23px 0px rgba(0, 104, 242, 0.5);-moz-box-shadow: 0px 7px 23px 0px rgba(0, 104, 242, 0.5);-ms-box-shadow: 0px 7px 23px 0px rgba(0, 104, 242, 0.5);}
.hline .nitem.acc_point ul li:first-child a{box-shadow:0px 7px 23px 0px rgba(0,189,168,0.5);-moz-box-shadow:0px 7px 23px 0px rgba(0,189,168,0.5);-webkit-box-shadow:0px 7px 23px 0px rgba(0,189,168,0.5);-ms-box-shadow:0px 7px 23px 0px rgba(0,189,168,0.5);}
.hline .nitem ul li:hover{transform: translate3d(0,-5px,0);-o-transform: translate3d(0,-5px,0);-webkit-transform: translate3d(0,-5px,0);transform: -moz-translate3d(0,-5px,0);}


/*vip尊享版*/
.hline .newVip{float: left;background: url(../images/vipBg.png) no-repeat;background-size: cover;position: relative;border-radius: 4px;}
.hline .newVip a{display: block;min-width: 360px;height: 160px;box-sizing: border-box;-ms-box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;padding-left: 28px;padding-top: 40px;}
.hline .newVip h1{font-size: 24px;color: #FFD38C;font-weight: bold;line-height: 1;padding-left: 6px;}
.hline .newVip h2{display: inline-block;height: 32px;line-height: 32px;border-radius: 16px;padding: 0 16px 0 13px;margin-top: 23px;font-size: 14px;color: #000; background-image: -moz-linear-gradient( 0deg, rgb(255,192,110) 0%, rgb(255,212,150) 65%, rgb(255,231,189) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(255,192,110) 0%, rgb(255,212,150) 65%, rgb(255,231,189) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(255,192,110) 0%, rgb(255,212,150) 65%, rgb(255,231,189) 100%);filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#FFDEAB", endColorstr="#FFC06E", gradientType="0");}
.hline .newVip .vipTimeout{position: absolute;top: 38px;right: 18px;}
.hline .newVip .vipTimeout span{display: inline-block;padding: 0 12px;height: 24px;line-height: 24px;border-radius: 12px;font-size: 12px;color: #FFCC86;background: #000}
.hline .newVip .vipTimeout i{display: inline-block; width: 20px; height: 20px; vertical-align: middle; background: url(../images/vip_arr.png) no-repeat;background-size: cover;margin-left: 4px;}
/*余额*/
.account {background:linear-gradient(90deg,rgba(37,124,249,1) 0%,rgba(47,137,255,1) 100%);background:-webkit-linear-gradient(90deg,rgba(37,124,249,1) 0%,rgba(47,137,255,1) 100%);background:-moz-linear-gradient(90deg,rgba(37,124,249,1) 0%,rgba(47,137,255,1) 100%);background: -ms-linear-gradient(90deg,rgba(37,124,249,1) 0%,rgba(47,137,255,1) 100%);filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#257CF9", endColorstr="#2F89FF", gradientType="0");box-shadow:0px 7px 23px 0px rgba(0,85,255,0.31);-moz-box-shadow:0px 7px 23px 0px rgba(0,85,255,0.31);-webkit-box-shadow:0px 7px 23px 0px rgba(0,85,255,0.31);}
.hline .account ul li{background: #388DFE;box-shadow:0px 7px 23px 0px rgba(0,104,242,0.9);-webkit-box-shadow:0px 7px 23px 0px rgba(0,104,242,0.9);-moz-box-shadow:0px 7px 23px 0px rgba(0,104,242,0.9);-ms-box-shadow:0px 7px 23px 0px rgba(0,104,242,0.9);}

/*积分*/
.acc_point {background:linear-gradient(90deg,rgba(2,216,192,1) 0%,rgba(7,209,186,1) 100%);background:-webkit-linear-gradient(90deg,rgba(2,216,192,1) 0%,rgba(7,209,186,1) 100%);background:-moz-linear-gradient(90deg,rgba(2,216,192,1) 0%,rgba(7,209,186,1) 100%);background: -ms-linear-gradient(90deg,rgba(2,216,192,1) 0%,rgba(7,209,186,1) 100%);filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#02D8C0", endColorstr="#07D1BA", gradientType="0");box-shadow:0px 7px 23px 0px rgba(39,205,186,0.37);-moz-box-shadow:0px 7px 23px 0px rgba(39,205,186,0.37);-webkit-box-shadow:0px 7px 23px 0px rgba(39,205,186,0.37);}
.hline .acc_point ul li{background: #30D9C5;box-shadow:0px 7px 23px 0px rgba(0,189,168,0.9);-webkit-box-shadow:0px 7px 23px 0px rgba(0,189,168,0.9);-moz-box-shadow:0px 7px 23px 0px rgba(0,189,168,0.9);-ms-box-shadow:0px 7px 23px 0px rgba(0,189,168,0.9);}
/* 会员基本信息 */
.hline .uinfo {overflow: hidden;padding-right: 15px;}
.hline .uinfo dt {float: left;}
.hline .uinfo dt a {display: block; position: relative;}
.hline .uinfo dt, .hline .uinfo dt a, .hline .uinfo dt a img {width: 60px; height: 60px; overflow: hidden;border-radius: 8px}
.hline .uinfo dt a span {position: absolute; z-index: 2; bottom:  -30px; right: 0; height: 30px; width: 30px; background-color: #3e3f40; -webkit-transition: all .2s linear; -moz-transition: all .2s linear; transition: all .2s linear;background: url('../images/portrait-icon.png') no-repeat center;}
.hline .uinfo dt a:hover span {bottom: 0;}
.hline .uinfo dd {position: relative; overflow: hidden; padding-left: 16px;}
.hline .uinfo dd .name {height: 27px; line-height: 27px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.hline .uinfo dd .name h2 {float: left; font-size: 16px;color:#000;font-weight: bold;}

/* 会员认证信息 */
.hline .uinfo ul {padding-top: 6px;}
.hline .uinfo li {float: left;}
.hline .uinfo li a {position: relative; color: #545454; display: block; margin-right: 10px;}
.hline .uinfo li a s {display: block; margin: 0 auto 4px; width: 24px; height: 24px; overflow: hidden; -webkit-transition: all .2s linear; -moz-transition: all .2s linear; transition: all .2s linear;}
.hline .uinfo li a.disable:before {position: absolute; z-index: 3; left: 15px; top: -5px; content: "!"; color: #fff; background-color: #d53838; font-weight: 700; text-align: center; line-height: 15px; width: 16px; height: 16px; border-radius: 50%;}
.hline .uinfo li a.mobile s { background: url('../images/c-mobile.png') no-repeat center;}
.hline .uinfo li a.real s {background: url('../images/c-real.png') no-repeat center;}
.hline .uinfo li a.email s {background: url('../images/c-email.png') no-repeat center;}

/* 会员登录信息 */
.hline .uinfo2 {margin-top: 35px}
.hline .uinfo2 dl{margin-top: 6px}
.hline .uinfo2 dt{float: left;font-size: 12px;color: #949599;margin-right: 15px;}
.hline .uinfo2 dd{float: left;font-size: 12px;color: #313233;}
.hline .uinfo2 dd a{color: #313233;}
.hline .uinfo2 dd a:hover{color: #437ff7}
/* 日期&天气 */
.main .weather-r{width: 400px;}
.main .weather-con{border:1px solid #EBEBED;
box-shadow:0px 3px 10px 0px rgba(0,3,17,0.05);-webkit-box-shadow:0px 3px 10px 0px rgba(0,3,17,0.05);-moz-box-shadow:0px 3px 10px 0px rgba(0,3,17,0.05);border-radius: 4px;overflow: hidden;}
.main .weather-con h3{line-height: 60px;font-size: 20px;font-weight: bold;color: #313233;background: #F5F5F7;height: 60px;padding: 0 20px;}
.date-weather {padding: 20px 20px 30px; }
.date-weather li {float: left; width: 50%; text-align: center; font-size: 14px; color: #313233;}
.date-weather li.d strong {display: block; color: #F2452E; font-size: 56px; line-height: 70px; margin-bottom: 2px;}
.date-weather li.d em{font-weight: bold;color: #313233;font-size: 16px;}
.date-weather li.weather1 .date, .date-weather li.weather1 .wind {display: none;}
.date-weather li.weather1 .pic, .date-weather li.weather1 .weather {display: block;}
.date-weather li.weather1 .weather{font-weight: bold;color: #313233;font-size: 16px;}
.date-weather li.weather1 .pic {margin-bottom: 7px;height: 70px;width: 63px;position: relative;overflow: hidden;margin: 0 auto}
.date-weather li.weather1 .pic img {width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}

/* 待办事项 */
.main .moduleLine{margin-top: 40px; padding-bottom: 50px;}
	/*订单处理*/
.main .delOrder{margin-bottom: 20px;padding-right: 30px;}
.main .delOrder h3{font-size: 20px;color: #313233;font-weight: bold;display: inline-block;}
.main .delOrder ul{float: right;font-size: 0}
.main .delOrder ul li{display: inline-block;font-size: 12px;color: #595B66;border: 1px solid #EBEBED;border-radius: 4px;box-shadow:0px 3px 10px 0px rgba(0,3,17,0.05);-webkit-box-shadow:0px 3px 10px 0px rgba(0,3,17,0.05);-moz-box-shadow:0px 3px 10px 0px rgba(0,3,17,0.05);height: 34px;line-height: 34px;}
.main .delOrder ul li a{display: block;color: #595B66;padding: 0 16px;position: relative;z-index: 2;background: #fff;}
.main .delOrder ul li a:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.15);background-color: rgba(0, 0, 0,.15); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#19000000, endcolorstr=#19000000);}
.main .delOrder ul li i{display: inline-block; width: 20px; height: 20px; vertical-align: middle; margin-right: 3px;}
.main .delOrder ul li span {display: inline-block; vertical-align: middle;}
.main .delOrder ul li.iRefresh{margin-right:20px; }
.main .delOrder ul li.iRefresh i{background: url(../images/iRefresh.png) no-repeat;background-size: cover;}
.main .delOrder ul li.loading i {animation: rotate .5s linear infinite;}
.main .delOrder ul li.iMange i{background: url(../images/iManage.png) no-repeat;background-size: cover;}

@keyframes rotate{
    0%{transform: rotate(0);}
    100%{transform: rotate(180deg);}
}

.main .module {width: 100%; overflow: hidden;}
.main .module dl{float: left;text-align: center; width: 258px;padding:20px; height: 128px;background: #fff; border: 1px solid #EBEBED; margin: 0 20px 20px 0;border-radius: 4px;box-shadow:0px 3px 10px 0px rgba(0,3,17,0.05);-moz-box-shadow:0px 3px 10px 0px rgba(0,3,17,0.05);-ms-box-shadow:0px 3px 10px 0px rgba(0,3,17,0.05);-webkit-box-shadow:0px 3px 10px 0px rgba(0,3,17,0.05);}
.main .module dl:hover {background-color: #fafafa; border-color: #f1f1f1; text-decoration: none;}
.main .module dt {position:relative;font-size: 16px;  text-align: left;color: #313233;line-height: 1}
.main .module dt i {display: none;position:absolute;right: 0;  top: 0;width: 20px;height:20px;background: url(../images/icon/c-right.png) no-repeat center;}
.main .module dd:last-child {position: relative; height: auto;}
.main .module dd img {margin: 0 auto 13px; display: block; width: 60px; height: 60px;border-radius: 50%}
.main .module dd > div{margin-top: 10px;}

.main .module dd .inline {display: block; overflow: hidden; text-overflow: ellipsis;  white-space: nowrap;font-size: 12px;margin-top: 2px;color: #949599}
.main .module dd span{display: block;font-size: 14px;font-weight: bold;}
.main .module dd > div p:hover span{color: #216AFC}
.main .module dd > div p:hover .inline{color: #437FF7}

.main .module dd > div p{float: left; font-size:12px;position: relative; }
.main .module dd > div p:after{content: '';display: block;width: 1px;height: 20px;background: rgba(202,202,204,.4);position: absolute;right: 0;top: 6px;}
.main .module dd > div.item1 p{width: 100%;}
.main .module dd > div.item2 p{width: 48%; margin: 0 .6%;}
.main .module dd > div.item3 p{width: 31%; margin: 0 .6%;}
.main .module dd > div.item4 p{width: 23%; margin: 0 .6%;}
.main .module dd > div p:last-child:after{display: none;}
.main .module dd .add{width: 120px;height: 30px;  line-height:30px;margin:0 auto;color:#a0a0a0;border:solid 1px #a0a0a0;border-radius: 2px;}
.main .module dd .add:hover{color:#347df6;border:solid 1px #347df6;}
.main .module h5 {font-size: 18px; color: #4d4d4d; margin-top: 23px;}
.main .module p {font-size: 14px; color: #999; position: relative;}
.main .module p .m-state{ display: block;  position: absolute;  top:-5px  ;right: 50%; margin-right: -15px; width: 6px;height: 6px;  background: #FF384F;border-radius: 50%}
.main .module p .m-state:after{content: '';display: block;width: 10px;height: 10px;background: rgba(255,56,79,.3);position: absolute;left: 0;right: 0;border-radius: 50%;left: 50%;top: 50%;margin-left: -5px;margin-top: -5px;}
.main .module p span{position: relative; color: #c6c7cc;}

/*门店服务*/
.main .storeSer{margin-top: 20px;}
.main .moduleStore dl{padding: 0;width: 298px;height: 168px;}
.main .moduleStore dt{padding: 19px 20px;background: #F5F9FF;text-align: center;}
.main .moduleStore dt img{width: 60px; height: 60px;border-radius: 50%;margin-right: 10px;}
.main .moduleStore dt em{font-size: 16px;color: #313233;display: inline-block;height: 60px;line-height: 60px;vertical-align: top}
.main .moduleStore dd > div{margin-top: 15px;}
/*站内公告*/
.gonggao-con{  background: #fff;  border:solid 1px #EBEBED;  margin-top: 30px; box-shadow:0px 3px 10px 0px rgba(0,3,17,0.05);-webkit-box-shadow:0px 3px 10px 0px rgba(0,3,17,0.05);-moz-box-shadow:0px 3px 10px 0px rgba(0,3,17,0.05);border-radius: 4px;overflow: hidden; }
.gonggao-con p{height: 60px;font-size:20px;color:#313233;line-height: 60px;padding:0 20px;background: #F5F5F7;font-weight: bold;}
.gonggao-con ul{  padding:20px;  }
.gonggao-con ul li{  color: #313233; font-size: 14px; line-height: 30px;width: 360px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.gonggao-con ul li:before{ content:'•' ;font-size:12px;margin-right:10px;color: #9B9FB3; }
.gonggao-con ul li a:hover{ color:#347df6;}


@media screen and (max-width: 1760px) {
    .main .info_hline .l{float: none}
    .hline .uinfo{float: left;}
    .hline .uinfo2{float: right;margin-top: 0}
    .main .info_hline .r{float: none;}
    .hline .newVip,.hline .nitem{margin-top: 20px;}
}
@media screen and (max-width: 1468px) {
    .main .info_hline .l{float: none}
}
