body,html{background: #F7F4FA}
.fixedwrap{background: #fff;height: 90px;margin: 0 0 30px;}
.topInfo{background: #F4F7F4;margin-bottom: 0}
.fixedwrap .header .logo{height: 47px;max-width: 174px;margin-top: 21px;}
.fixedwrap .header .logo img{height: 47px;max-width: 174px;}
.header .kefu{margin-top: 38px;color: #3B3B3B;font-size: 14px}
.header .kefu strong{font-size: 16px;margin-left: 10px;}

.left_fix{width: 130px;background: #fff; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;padding: 30px 0 3px 30px;border-radius: 6px;}
.left_fix.fixed{position: fixed;top: 30px;}
.left_fix li{font-size: 14px;color: #3B3B3B;margin-bottom: 33px;}
.left_fix li a{color: #3B3B3B}
.left_fix li.active a{color: #C99F6B;}
.left_fix li:hover a{color: #C99F6B;}
.container{margin-left: 170px;}
.right_con{background: #fff;margin-bottom: 30px;border-radius: 6px;overflow: hidden;}
/*我的套餐*/
.right_con .topDiv{background: url(../images/meal-bg.png) no-repeat center;background-size: cover;padding: 22px 28px 56px 22px;}
.topDetail{overflow: hidden;}
.topDetail .l_time{height: 22px;line-height: 22px;border-radius: 11px; background-image: -moz-linear-gradient( 0deg, rgb(255,192,110) 0%, rgb(255,212,150) 65%, rgb(255,231,189) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(255,192,110) 0%, rgb(255,212,150) 65%, rgb(255,231,189) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(255,192,110) 0%, rgb(255,212,150) 65%, rgb(255,231,189) 100%);filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#FFE7BD", endColorstr="#FFC06E", gradientType="0");font-size: 12px;color: #2A2A2A;padding: 0 15px;margin-top: 2px;}
.topDetail .l_time em{display: inline-block;width: 1px;height: 12px;background: rgba(42,42,42,.3);margin-left: 5px;margin-right: 5px;vertical-align: middle;margin-top: -3px;}
.right_m .l_logo{position: relative;width:26px;height: 26px;overflow: hidden;border-radius: 50%;float: left;}
.right_m .l_logo img{width: 100%;height: 100%}
.right_m .r_name{font-size: 12px;color: #fff;margin-left: 36px;line-height: 26px;}
.topDiv h1{font-size: 32px;color: #EDC395;font-weight: bold;text-align: center;}
.topDiv .a_wrap{text-align: center;margin-top: 18px;}
.topDiv a.xu_a{display: inline-block;padding: 0 36px;height: 36px;line-height: 36px;border-radius: 4px;background: #FFCF8D;font-size: 14px;color: #333;position: relative;z-index: 2;}
.topDiv a.xu_a:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);background-color: rgba(0, 0, 0,.1); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#19000000, endcolorstr=#19000000);}
.botDiv{padding: 28px 80px 50px;position: relative;}
.botDiv::before{content: '';display: block;width: 30px;height: 30px;background: url(../images/meal-arr.png) no-repeat center;background-size: cover;position: absolute;left: 50%;margin-left: -10px;top: -18px;z-index: 2}
h2.com-title{font-size: 14px;font-weight: bold;color: #C99F6B;padding-left: 6px;}
.bot_item {padding: 15px 30px;}
.bot_item1{background: #FFFBF3;margin-top: 16px;}
.bot_item2{background: #F5F5F7;margin-top: 24px;}
.bot_item .bot_logo{width: 100px;height: 100px;float: left;}
.bot_item .bot_logo img{width: 100%;height: 100%;}
.bot_item .bot_con{margin-left: 132px;min-height: 90px;padding-bottom: 15px;}
.bot_item .bot_con h3{font-size: 16px;font-weight: bold;padding-top: 20px;}
.bot_item .bot_con p{margin-top: 12px;font-size: 14px;}
/*套餐外服务*/
.ser_out{padding: 35px 80px 28px}
h2.com-title span{color: #333}
.privilege li{float: left;padding: 15px;background: #FFFBF3;width: 420px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;margin-top: 16px;margin-right: 16px;}
.privilege li:nth-child(2n){margin-right: 0}
.privilege li .l_img{width: 100px;height: 100px;float: left;}
.privilege li .l_img img{width: 100%;height: 100%;}
.privilege li .r_info{margin-left: 160px;height: 100px;}
.privilege li .r_info h3{font-size: 14px;color: #212121;font-weight: bold;}
.privilege .r_info p{font-size: 12px;color: #212121;margin-top: 10px; }
.privilege li .r_info .xu_now{display: inline-block;border-radius: 4px;height: 36px;line-height: 36px;background: #26252B;padding: 0 22px;font-size: 14px;color: #DBB8A1;margin-top: 10px;}
.com-title2{margin-top: 45px;}
.trade li{position: relative;float: left;width: 270px;height: 120px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;margin-top: 16px;margin-right: 30px;padding: 24px 26px;border-radius:8px 6px 6px 8px;}
.trade li.car-bg{background: #000000 url(../../images/enter_4.9/car.png) no-repeat left center;background-size: 180px 120px}
.trade li.house-bg{background: #000000 url(../../images/enter_4.9/house.png) no-repeat left center;background-size: 180px 120px}
.trade li.marry-bg{background: #000000 url(../../images/enter_4.9/marry.png) no-repeat left center;background-size: 180px 120px}
.trade li.homemaking-bg{background: #000000 url(../../images/enter_4.9/homemaking.png) no-repeat left center;background-size: 180px 120px}
.trade li.travel-bg{background: #000000 url(../../images/enter_4.9/travel.png) no-repeat left center;background-size: 180px 120px}
.trade li.renovation-bg{background: #000000 url(../../images/enter_4.9/renovation.png) no-repeat left center;background-size: 180px 120px}
.trade li.pension-bg{background: #000000 url(../../images/enter_4.9/pension.png) no-repeat left center;background-size: 180px 120px}
.trade li.job-bg{background: #000000 url(../../images/enter_4.9/job.png) no-repeat left center;background-size: 180px 120px}
.trade li.dating-bg{background: #000000 url(../../images/enter_4.9/dating.png) no-repeat left center;background-size: 180px 120px}
.trade li.article-bg{background: #000000 url(../../images/enter_4.9/article.png) no-repeat left center;background-size: 180px 120px}
.trade li.education-bg{background: #000000 url(../../images/enter_4.9/education.png) no-repeat left center;background-size: 180px 120px}
.trade li.huangye-bg{background: #000000 url(../../images/enter_4.9/huangye.png) no-repeat left center;background-size: 180px 120px}
.trade li.huodong-bg{background: #000000 url(../../images/enter_4.9/huodong.png) no-repeat left center;background-size: 180px 120px}
.trade li.tuan-bg{background: #000000 url(../../images/enter_4.9/tuan.png) no-repeat left center;background-size: 180px 120px}
.trade li.shop-bg{background: #000000 url(../../images/enter_4.9/waimai.png) no-repeat left center;background-size: 180px 120px}
.trade li.waimai-bg{background: #000000 url(../../images/enter_4.9/marry.png) no-repeat left center;background-size: 180px 120px}
.trade li.info-bg{background: #000000 url(../../images/enter_4.9/info.png) no-repeat left center;background-size: 180px 120px}
.trade li.website-bg{background: #000000 url(../../images/enter_4.9/website.png) no-repeat left center;background-size: 180px 120px}
.trade li.tieba-bg{background: #000000 url(../../images/enter_4.9/tieba.png) no-repeat left center;background-size: 180px 120px}
.trade li.live-bg{background: #000000 url(../../images/enter_4.9/live.png) no-repeat left center;background-size: 180px 120px}
.trade li.vote-bg{background: #000000 url(../../images/enter_4.9/vote.png) no-repeat left center;background-size: 180px 120px}
.trade li.sfcar-bg{background: #000000 url(../../images/enter_4.9/sfcar.png) no-repeat left center;background-size: 180px 120px}
.trade li .trade_name{font-size: 16px;color: #212121}
.trade li .trade_p{font-size: 12px;color: #96867C;margin-top: 10px;}
.trade li .trade_time{font-size: 12px;color: #212121;margin-top: 2px;}
.trade li .xu_aright{font-size: 14px;color: #DBB8A1;position: absolute;top: 54px;right: 28px;}
.trade li:nth-child(3n){margin-right: 0}

.xuqi_div{text-align: center;margin-top: 40px;}
.xuqi_div a{display: inline-block;background: #FFCF8D;border-radius: 4px;padding: 0 43px;height: 50px;line-height: 50px;font-size: 16px;position: relative;z-index: 2;}
.xuqi_div a:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);background-color: rgba(0, 0, 0,.1); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#19000000, endcolorstr=#19000000);}
.xu-tip{font-size: 12px;color: #A1A2A6;margin-top: 10px;text-align: center;}
/*开通记录*/
.open_record{padding: 35px 80px 58px}
.record{margin-top: 20px;}
.record dt, .record dd{float: left;}
.record .dl_time{width: 27%; padding-left: 1%;}
.record .dl_project{width: 20%;}
.record .dl_detail{width: 20%;}
.record .dl_endTime{width: 32%;}
.record .dl_time dt{padding-left: 22px}
.record .dl_time dd{padding-left: 22px;}
.record dl dt{background: #F5F5F7;height: 46px;line-height: 46px;font-size: 14px;color: #4D4D4D;font-weight: bold;}
.record dl dd{height: 40px;line-height: 40px;font-size: 12px;color: #3B3B3B;border-bottom: 1px solid #EBEBED;}
.loading {line-height: 100px; text-align: center;}
/*未开服务*/
.no_service{padding: 35px 80px 28px}
.no_service .privilege .r_info p{margin-top: -4px}
.no_service .privilege .r_info p strong{font-size: 32px;}
.no_service .privilege .r_info p em{font-size: 14px;font-weight: bold;}
.privilege li .r_info .open_now{display: inline-block;border-radius: 4px;height: 36px;line-height: 36px;background: #26252B;padding: 0 22px;font-size: 14px;color: #DBB8A1;margin-top: 2px;}
.no_service .trade p.price_p{font-size: 12px;color: #212121;margin-top: 10px; }
.no_service .trade p.price_p strong{font-size: 32px;}
.no_service .trade p.price_p em{font-size: 14px;font-weight: bold;}

/* 统计 */
.count_box.show{display: block;}
.count_box{height: 100px; position: fixed; bottom: 0; left: 0; right: 0; background: #fff; box-shadow:0px -7px 23px 0px rgba(0, 0, 0, 0.07); z-index: 11; padding: 20px 40px; box-sizing: border-box; display: none; animation: bottomFadeIn .3s ease-in-out; }
.count_box .close_bot{position: absolute;width: 22px;height: 22px;    right: 22px;top: -45px;cursor: pointer;}
.right_btn{width: 210px; line-height: 60px; text-align: center; font-size: 16px; color: #fff; background:linear-gradient(90deg,rgba(206,165,122,1) 0%,rgba(217,186,137,1) 100%); border-radius: 4px; float: right; margin-right: 10px;}
.right_btn a{display: block; width: 100%; height: 100%; color: #fff;position: relative;z-index: 2}
.right_btn a:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.15);background-color: rgba(0, 0, 0,.15); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#19000000, endcolorstr=#19000000);}
.count_box .tc_info{float: left; margin-right: 40px; line-height: 60px; font-size: 14px;}
.count_box .tc_name span{color: #C99342; font-weight: bold;}
.count_box .tc_info input{border: solid 1px #E6E6E8; width: 170px; height: 40px; box-sizing: border-box; padding-left: 28px;cursor: pointer}
.tc_price span.all_price{font-size: 18px; color: #D9A55D; font-weight: bold;}
.tc_price span.all_price i{font-size: 16px; font-style: normal; font-weight: bold;}
.tc_price span.all_price em.p_num{font-size: 36px; font-weight: bold;}
.tc_price .hui_tip{display: inline-block; background: #FFE7EA; border-radius: 12px; height: 24px; line-height: 24px; padding-right: 13px; color: #FE4966; margin-bottom: 10px; vertical-align: super;margin-left: 6px; position: relative; cursor: default;}
.hui_tip.fn-hide,.point_tip.fn-hide{display: none;}
.tc_price .hui_tip i{display: inline-block; width: 44px; line-height: 24px; text-align: center; margin-right: 8px;background:linear-gradient(90deg,rgba(255,74,104,1) 0%,rgba(247,57,57,1) 100%); border-radius:12px; color: #fff; font-style: normal; font-size: 12px; height: 24px;}
.tc_price .point_tip{display: inline-block; background:linear-gradient(-120deg,rgba(249,242,228,1) 0%,rgba(241,230,210,1) 100%); border-radius: 12px; height: 24px; line-height: 24px; padding-right: 13px; color: #C99342; vertical-align: super; margin-left: 6px; position: relative;  cursor: default;}
.point_tip.fn-hide{display: none;}
.tc_price .point_tip i{display: inline-block; width: 52px; line-height: 24px; text-align: center; margin-right: 8px;background:linear-gradient(120deg,rgba(236,197,120,1) 0%,rgba(166,119,51,1) 100%); border-radius:12px; color: #fff; font-style: normal; font-size: 12px; height: 24px;}
.tip_detail{background: #fff; position: absolute; bottom: 50px; min-height: 155px; border:1px solid rgba(235,235,237,1);
box-shadow:0px 7px 13px 0px rgba(35,38,51,0.23); padding-bottom: 20px; box-sizing: border-box;display: none; animation: bottomFadeIn .3s ease-in-out;}
.hui_tip:hover .tip_detail,.point_tip:hover .tip_detail,.more_name:hover .tip_detail{display: block;}
.tip_detail h3{color: #F43D48;  line-height: 53px; font-size: 16px; font-weight: bold;margin: 0 25px; border-bottom: solid 1px #EBEBED; white-space: nowrap;}
.tip_detail p{margin: 0 25px; color: #333; font-size: 12px; padding-top: 20px;}
.tip_detail em.arr{display: block; width: 10px; height: 10px; background: #fff; position: absolute; left: 25px; bottom: -5px; z-index: 99; transform-origin: center; transform: rotate(45deg); border-right:1px solid rgba(235,235,237,1);border-bottom:1px solid rgba(235,235,237,1);}
.hui_tip .tip_detail em.arr{left: 20px;}
.point_tip .tip_detail h3{color: #D9A55D;}
.point_tip .tip_detail p.i_tip{ color: #999;}
.time_chose{position: absolute; width: 170px; padding: 12px 0 ; background: #fff; color: #333; font-size: 14px; bottom: 50px; left: 70px; border:1px solid rgba(235,235,237,1);
box-shadow:0px 7px 13px 0px rgba(35,38,51,0.23); border-bottom: solid 2px #141414; display: none;  animation: bottomFadeIn .3s ease-in-out;}
.time_chose.show{display: block;}
.time_chose li{line-height: 46px; padding: 0 27px;}
.time_chose li:hover{background: #F0F0F2;}
.tc_time{position: relative;}
.tc_name{position: relative;}
.tc_name.more_name{cursor: pointer;}
.ser_tip{display: none;}
.ser_tip i.i_arr{display: inline-block;width: 20px;height: 20px;background: url(../images/i_arr.png) no-repeat;background-size: cover;    vertical-align: middle;
    margin-top: -3px;}
.ser_tip .tip_detail{bottom: 55px; min-width: 180px;left: 43px;z-index: 2;}
.ser_chose .top_chose{background: #FFF8ED;text-align: center;position: relative;padding-top: 15px;}
.ser_chose .top_chose h2{font-size: 16px;color: #333;font-weight: bold;line-height: 1;}
.ser_chose .top_chose h4{font-size: 12px;color: #999;margin: 7px 25px 0;border-bottom: 1px solid #EBEBED;line-height: 1;padding-bottom: 10px}
.ser_chose ul{padding-top:16px }
.ser_chose ul li{font-size: 14px;font-weight: bold;color: #C99342;text-align: center;line-height: 42px;}
.ser_chose ul li span{width: 4px;height: 4px;border-radius: 50%;background: #E0C39F;margin-right: 7px;display: inline-block;}

.ser_chose.more_li{width: 340px;}
.ser_chose.more_li ul li{width: 82px;padding-left: 60px;text-align: left;float: left;}
/*.ser_chose .top_chose::after{content: '';display: block;height: 1px;width: 100%;padding: 0 25px;position: absolute;bottom: 0;background: #EBEBED;box-sizing: border-box;-ms-box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}*/
/*.tc_name .ser_chose{position: absolute;top: -290px; left: 70px;}*/


/* 弹出层 */
.mask{position: fixed; top: 0; left: 0; right: 0 ; bottom: 0; background: rgba(0,0,0,.57); z-index: 12; display: none;}

.im-msg_tip, .im-panel_box {display: none!important;}
