<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>视频列表</title>
<meta name="keywords" content="{#$video_keywords#}" />
<meta name="description" content="{#$video_description#}" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/personal.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$dating_channelDomain#}', staticPath = '{#$cfg_staticPath#}',templets_skin = '{#$templets_skin#}';

	var hideFileUrl = {#$cfg_hideUrl#};
	var cookiePre = '{#$cfg_cookiePre#}';
	var userid = '{#$id#}';
	var service = '{#$service#}';
</script>
</head>

<body class="w1200">
{#include file="_header.html"#}
<div class="mainWrap  ">
    <div class="wrap fn-clear">
        <div class="leftUser">
            <div class="per_data">
                <div class="personalImg"><img src="{#if $userinfo_per['photo']#}{#$userinfo_per['photo']#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';this.onerror=this.src='{#$cfg_staticPath#}images/404.jpg';"></div>
                <h3 class="perName">{#$userinfo_per['username']#}</h3>
                <div class="guanzhu detailGuan" data-id="{#$id#}">
                    {#* 已关注 -- 关注 *#}
                    <span class="follow {#if !$is_follow #}add_follow{#/if#}">{#if $is_follow #}{#$langData['siteConfig'][19][845]#}{#else#}<i></i>{#$langData['siteConfig'][19][846]#}{#/if#}</span>

                    <div class="appo_sec">
                        <p><i></i>关注成功！</p>  {#*  关注成功！   *#}
                    </div>
                    <div class="appo_cancel">
                        <p><i></i>确定不再关注吗</p>   {#*  确定要取消关注吗？   *#}
                        <div class="btn"><span class="gz_sure">确定</span> <span class="gz_cancel">取消</span></div>   {#*  确定  取消   *#}
                    </div>
                </div>
                <div class="proCon">
                    <div class="proDetail">
                        {#* 简介 *#}
                        <span class="speSpan">{#$langData['siteConfig'][19][494]#}:</span>
                        <div class="dtt" data-num="32">{#$userinfo_per['description']#}</div>
                    </div>
                    {#if $userinfo_per['description']#}
                    <em class="zk">{#$langData['siteConfig'][6][25]#}</em>  {#* 展开 *#}
                    {#/if#}
                </div>
                <div class="perInfo">
                    <div class="cout">
                        <p><strong>{#$fabuCount#}</strong>{#$langData['siteConfig'][31][92]#}</p> {#* 发布 *#}
                        <s></s>
                        <p><strong>{#$fCount#}</strong>{#$langData['siteConfig'][19][847]#}</p> {#* 粉丝 *#}
                    </div>
                </div>

            </div>
            <div class="per_list">
                <h2 class="perTitle">猜你喜欢</h2>
                <ul>
                    {#video action="authorList" return="authorList" orderby="1" pageSize="5" page="1"#}
                    <li>
                        <div class="leftImg"><a href="{#getUrlPath service="video" templates="personal" id="{#$authorList.id#}"#}" target="_blank"><img src="{#if $authorList.logo#}{#$authorList.logo#}{#else#}{#$cfg_staticPath#}images/404.jpg{#/if#}" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';this.onerror=this.src='{#$cfg_staticPath#}images/404.jpg';"></a></div>
                        <div class="rightUser">
                            <h3><a href="{#getUrlPath service="video" templates="personal" id="{#$authorList.id#}"#}" target="_blank">{#$authorList.username#}</a></h3>
                            <p class="fansp">粉丝：{#$authorList.fCount#}</p>
                            <div class="guanzhu listGuan" data-id="{#$authorList.id#}">
                               {#* 已关注 -- 关注 *#}
                                <span class="follow {#if !$authorList.is_follow #}add_follow{#/if#}">{#if $authorList.is_follow #}{#$langData['siteConfig'][19][845]#}{#else#}<i></i>{#$langData['siteConfig'][19][846]#}{#/if#}</span>
                                <div class="appo_sec">
                                    <p><i></i>关注成功！</p>  {#*  关注成功！   *#}
                                </div>
                            </div>

                        </div>
                    </li>
                    {#/video#}
                </ul>
            </div>
        </div>
        <div class="rightList albumList">
            <div class="albumTop">
                <h1>视频列表<s></s></h1>
            </div>
            <ul>
                {#video action="alist" return="alist" album="{#$id#}" orderby="2" pageSize="99" page="1"#}
                <li>
                <a href="{#$alist.url#}" class="sepA fn-clear" target="_blank">
                    <div class="top_img">
                        <img src="{#if $alist.litpic#}{#$alist.litpic#}{#else#}{#$cfg_staticPath#}images/404.jpg{#/if#}" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';this.onerror=this.src='{#$cfg_staticPath#}images/404.jpg';">
                        {#if $alist.times#}
                        <div class="scInfo">
                            <span class="time">{#$alist.times#}</span>
                        </div>
                        {#/if#}
                        <div class="need">
                            {#if $alist.videocharge == 3#}
                            <span class="money">付费</span>
                            {#/if#}
                            {#if $alist.videocharge == 1#}
                            <span class="vip">VIP</span>
                            {#/if#}
                        </div>
                    </div>
                    <div class="vInfo">
                        <h3>{#$alist.title#}</h3>
                        <p>{#$alist.click#}次播放</p>
                    </div>
                </a>
                </li>
                {#/video#}
            </ul>
        </div>
    </div>


</div>

{#include file="_footer.html"#}
<script src="{#$templets_skin#}js/personal.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
