.gz-addr-wrap{
    background: #fff;
}
.header-r{
    visibility: visible;
}
.header-r a{
    color: #24a4f5;
}
.nav_tab{
    padding: 0 .2rem;
    background: #fff;
    border-top: .2rem solid #f5f5f5;
    border-bottom: .2rem solid #f5f5f5;
}
.nav_tab ul li{
    float: left;
    width: 33.3%;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
}
.nav_tab ul li.navBC{
    border-bottom: 0.04rem solid #24a4f5;
}
.TuanTitle{
    padding: 0 .2rem;
    font-size: .3rem;
    height: .8rem;
    line-height: .8rem;
    background: #f5f5f5;
}
.TuanInput{
    background: #fff;
    padding: 0.2rem .2rem;
}
.TuanInput input{
    width: 100%;
    border: none;
    outline: none;
    font-size: .28rem;
}
.TuanInput textarea{
    width: 100%;
    border: none;
    outline: none;
    font-size: .28rem;
}
.onClock{
    float: right;
    position: relative;
}
.onClock label{
    display: block;
}
.onClock input{
    -webkit-appearance:checkbox;
    position: absolute;
    left: 0;
    opacity: 0;
}
.onClock .check{
    position: relative;
    display: inline-block;
    width: .3rem;
    height: .3rem;
    background: #fff;
    -webkit-transition: background .1s;
    transition: background .1s;
    border: 1px solid #ddd;
    top: .08rem;
    margin-right: 0.15rem;
}
.onClock .check:after{
    position: absolute;
    content: "";
    top: 0.01rem;
    right: 0.085rem;
    width: .08rem;
    height: .18rem;
    border: solid #fff;
    border-width: 0 .04rem .04rem 0;
    -webkit-transform: rotate(45deg) scale(0);
    transform: rotate(45deg) scale(0);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.18,.89,.32,1.28) .1s;
    transition: -webkit-transform .2s cubic-bezier(.18,.89,.32,1.28) .1s;
    transition: transform .2s cubic-bezier(.18,.89,.32,1.28) .1s;
    transition: transform .2s cubic-bezier(.18,.89,.32,1.28) .1s,-webkit-transform .2s cubic-bezier(.18,.89,.32,1.28) .1s;
}
.onClock input:checked+.check{
    background: #129bf0;
    border-color: #129bf0;
    background-clip: padding-box;
}
.onClock input:checked+.check:after{
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
}
.TimeChoice{
    padding: 0.1rem 0;
    background: #f5f5f5;
}
.TimeChoice div{
    display: inline-block;
    padding: .1rem;
    background: #fff;
}
.TimeChoice div input{
    border: none;
    border: none;
    outline: none;
    font-size: .28rem;
    width: 2.8rem;
}
.starttime{
    margin-left: .25rem;
}
.allNum{
    background: #fff;
    padding: 0.2rem .2rem;
    border-top: 0.25rem solid #f5f5f5;
}
.allNum input{
    float: right;
    border: none;
    font-size: .28rem;
    outline: none;
    text-align: right;
    width: 6rem;
}
.maxNum{
    background: #fff;
    padding: 0.2rem .2rem;
    border-top: 0.25rem solid #f5f5f5;
    border-bottom: 0.25rem solid #f5f5f5;
}
.maxNum input{
    float: right;
    border: none;
    font-size: .28rem;
    outline: none;
    text-align: right;
    width: 5rem;
}
.canshu{
    background: #fff;
}
.money{
    height: 1rem;
    line-height: 1rem;
    margin: 0 .2rem;
    border-bottom: 0.02rem solid #ebebeb;
}
.money span{
    float: right;
}
.money span input{
    border: none;
    outline: none;
    text-align: right;
    margin-right: 0.15rem;
}
.choicebox{
    margin: 0 .2rem;
    padding-bottom: .15rem;
    border-bottom: 0.02rem solid #ebebeb;
}
.choicebox p{
    height: .8rem;
    line-height: .8rem;
}
.choicebox .choicekind span{
    padding: 0 0.15rem;
    display: inline-block;
    height: .6rem;
    line-height: .6rem;
    background: #f5f5f5;
    margin-right: .05rem;
    margin-bottom: .2rem;
    border-radius: .05rem;
}
.choicebox .choicekind span.choiceBC{
    background: #24a4f5;
    color: #fff;
}
.choicebox .choicekind label{
    position: relative;
}
.choicebox .choicekind label input{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.choicebox .choicekind label i{
    padding: 0 0.15rem;
    display: inline-block;
    height: .6rem;
    line-height: .6rem;
    margin-right: .05rem;
    margin-bottom: .2rem;
    position: relative;
    border-radius: .05rem;
    background: #f5f5f5;
}
.choicebox .choicekind input:checked+i{
    background: #24a4f5;
    color: #fff;
}
.bbnone{
    border-bottom: none;
}
.ImportantWarning{
    background: #fff;
    padding: .2rem;
}
.ImportantWarning textarea{
    width: 100%;
    outline: none;
    border: none;
}
.Need ul li{
    background: #fff;
    padding: 0 .2rem;
    border-bottom: .2rem solid #f5f5f5;
}
.Need ul li .NeedTitle{
    border-bottom: 0.02rem dashed #e6e6e6;
    padding: .15rem 0;
}
.Need ul li .NeedTitle input{
    border: none;
    outline: none;
}
.Need ul li .Needcon{
    padding: .1rem;
}
.Need ul li .Needcon textarea{
    width: 100%;
    border: none;
    outline: none;
}
.NeedBTN .btnbox{
    float: right;
    margin-bottom: .1rem;
}
.NeedBTN .btnbox div{
    float: left;
    font-size: .28rem;
    margin-left: 0.15rem;
    color: #bfbfbf;
}
.NeedBTN .btnbox div i{
    width: .55rem;
    height: .5rem;
    display: inline-block;
    vertical-align: middle;
}
.NeedBTN .btnbox div.up i{
    background: url(../images/up1.png) no-repeat 0.1rem .04rem;
    background-size: .4rem;
}
.NeedBTN .btnbox div.down i{
    background: url(../images/down3.png) no-repeat 0.1rem .04rem;
    background-size: .4rem;
}
.NeedBTN .btnbox div.del i{
    background: url(../images/del1.png) no-repeat 0.1rem .04rem;
    background-size: .4rem;
}
.AddNeed{
    background: #24a4f5;
    height: .9rem;
    line-height: .9rem;
    text-align: center;
    line-height: .9rem;
    font-size: .32rem;
    color: #fff;
    margin-bottom: .5rem;
}
.TuanConnect{
    background: #fff;
}
.TuanConnect .TuanConnect_Nav{
    padding: 0.2rem .2rem;
}
.TuanConnect .TuanConnect_Nav ul li:first-child{
    float: left;
    width: 46%;
    height: .7rem;
    line-height: .7rem;
    text-align: center;
    border: 0.02rem solid #23a4f5;
    color: #23a4f5;
    border-radius: 0.1rem;
}
.TuanConnect .TuanConnect_Nav ul li:last-child{
    float: right;
    width: 46%;
    height: .7rem;
    line-height: .7rem;
    text-align: center;
    border: 0.02rem solid #23a4f5;
    color: #23a4f5;
    border-radius: 0.1rem;
}
.TuanConnect .TuanConnect_Nav ul li.TC_BC{
    background: #23a4f5;
    color: #fff;
}
.voucher{
    margin: 0 .2rem;
    background: #f8f8f8;
    padding:0.1rem .25rem;
    margin-top: .3rem;
}
.voucher .TC_Name{
    border-bottom: 0.02rem dotted #cdcdcd;
    height: .8rem;
    line-height: .8rem;
}
.voucher .TC_Name input{
    border: none;
    outline: none;
    width: 6rem;
    height: .58rem;
    line-height: .58rem;
    text-align: right;
    background: #f8f8f8;
    font-size: .28rem;
}
.voucher .TC_number{
    height: .8rem;
    line-height: .8rem;
    margin: .1rem 0;
}
.voucher .TC_number input{
    border: none;
    outline: none;
    border-bottom: 0.02rem dotted #cdcdcd;
    background: #f8f8f8;
    width: 1.2rem;
    margin: 0 .2rem;
    text-align: center;
}
.Package{
    margin: 0 .2rem;
    margin-top: .3rem;
}
.PackageBox{
    margin-bottom: .3rem;
}
.PackageBox .PackageBox_Lead{
    background: #9eaff7;
    height: .6rem;
    line-height: .6rem;
    border-radius: .1rem;
    padding: 0.2rem .3rem;
    padding-right: .1rem;
}
.PackageBox .PackageBox_Lead input{
    border: none;
    background: #9eaff7;
    outline: none;
    color: #fff;
    width: 3.7rem;
    float: left;
    height: .6rem;
    line-height: .6rem;
}
.PackageBox .PackageBox_Lead input::-webkit-input-placeholder{
    color: #6d81d6;
}
.PackageBox_btn{
    float: right;
}
.PackageBox_up{
    float: left;
    border-right: 0.02rem solid #8197f4;
    width: .8rem;
    height: .6rem;
    line-height: .6rem;
}
.PackageBox_up i{
    display: block;
    width: .8rem;
    height: .6rem;
    background: url(../images/up2.png) no-repeat center;
    background-size: .5rem;
}
.PackageBox_down{
    float: left;
    border-right: 0.02rem solid #8197f4;
    width: .8rem;
    height: .6rem;
    line-height: .6rem;
}
.PackageBox_down i{
    display: block;
    width: .8rem;
    height: .6rem;
    background: url(../images/down4.png) no-repeat center;
    background-size: .5rem;
}
.PackageBox_del{
    float: left;
    width: .8rem;
    height: .6rem;
    line-height: .6rem;
}
.PackageBox_del i{
    display: block;
    width: .7rem;
    height: .6rem;
    background: url(../images/del2.png) no-repeat center;
    background-size: .5rem;
}
.PackageBox_arrow{
    float: left;
    width: .5rem;
    height: .6rem;
    line-height: .6rem;
}
.PackageBox_arrow i{
    display: block;
    width: 0;
    height: 0;
    border-left: .15rem solid transparent;
    border-right: .15rem solid transparent;
    border-top: 0.2rem solid #fff;
    margin: 0 auto;
    position: relative;
    top: .2rem;
    webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}
.PackageBox_arrow.rog i{
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.PackageBox_List{
    border: 0.02rem solid #ededed;
    border-top: none;
    padding:0.1rem .25rem;
    position: relative;
    top: -0.05rem;
    overflow: hidden;
}
.PackageBox_de{
    padding: 0 .2rem;
    background: #f8f8f8;
    margin-top: .3rem;
    position: relative;
}
.PackageBox_de .PackageBox_littledel{
    width: .6rem;
    height: .6rem;
    position: absolute;
    right: -0.2rem;
    top: -0.3rem;
    background: url(../images/cha1.png) no-repeat center;
    background-size: .4rem;
}
.PackageBox_de .PL_Name{
    border-bottom: 0.02rem dotted #cdcdcd;
    height: .8rem;
    line-height: .8rem;
}
.PackageBox_de .PL_Name input{
    border: none;
    outline: none;
    width: 5.5rem;
    height: .58rem;
    line-height: .58rem;
    text-align: right;
    background: #f8f8f8;
    font-size: .28rem;
}
.PackageBox_de .PL_number{
    height: .8rem;
    line-height: .8rem;
    margin: .1rem 0;
}
.PackageBox_de .PL_number input{
    border: none;
    outline: none;
    border-bottom: 0.02rem dotted #cdcdcd;
    background: #f8f8f8;
    width: 1rem;
    margin: 0 .2rem;
    text-align: center;
}
.PackageBox_ADD{
    width: 2.6rem;
    margin: 0 auto;
    height: .6rem;
    line-height: .6rem;
    margin-top: .25rem;
    margin-bottom: .15rem;
}
.PackageBox_ADD i{
    display: inline-block;
    width: .6rem;
    height: .6rem;
    background: url(../images/add1.png) no-repeat 0.05rem 0.02rem;
    background-size: .5rem;
    margin-right: .15rem;
    vertical-align: middle;
}
.Package_ADD{
    width: 100%;
    background: #24a4f5;
    height: .9rem;
    line-height: .9rem;
    text-align: center;
    line-height: .9rem;
    font-size: .32rem;
    color: #fff;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-radius: .05rem;
}
/*上传图片*/
.mb4r {
    margin-bottom: .4rem;
}
.btop {
    border-top: 1px solid #e5e5e5;
}
.ml4r {
    background: #fff;
    padding-left: .4rem;
}
.uploadVideo ul {
    padding-right: .4rem;
    text-align: center;
    display: box;
    display: -webkit-box;
    overflow-x: auto;
    overflow-y: hidden;
}
.uploadVideo .upwrap {
    background-color: #fff;
    padding: .5rem .4rem;
    text-align: center;
}
.uploadVideo .upwrap .btn {
    position: relative;
    display: inline-block;
    padding: .2rem 1.1rem;
    border: 1px solid #eee;
    border-radius: 4px;
}
.uploadVideo .webuploader-container div {
    width: inherit;
    height: inherit;
    line-height: inherit;
    color: inherit;
}
.uploadVideo .webuploader-pick {
    font-size: inherit;
}
.uploadVideo .upwrap span {
    display: inline-block;
    padding-left: .5rem;
    background-image: url(../images/add_2.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: .4rem;
    color: #7c7c7c;
}
.uploadVideo ul li {
    position: relative;
    width: 3.2rem;
    min-width: 2rem;
    height: 2.3rem;
    -webkit-box-flex: 1;
    margin: .2rem .2rem 0 0;
    background-color: rgba(0,0,0,.5);
    border-radius: 3px;
}
.uploadVideo ul li .cancel {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: .35rem;
    line-height: .35rem;
    padding: 0 .3rem;
    background-color: rgba(0,0,0,.7);
    background-image: url(../images/cancel.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: .25rem;
    z-index: 2;
}
.uploadVideo ul li.complete .cancel {
    background-image: url(../images/del_white.png);
}
.uploadVideo ul li .player {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: .7rem;
    height: .7rem;
    line-height: .35rem;
    background-image: url(../images/player.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: .7rem;
}
.uploadVideo ul li .info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 .2rem;
    height: .4rem;
    line-height: .4rem;
    color: #e3e3e1;
    font-size: .24rem;
    background-color: rgba(0,0,0,.3);
}
.uploadVideo ul li .player.ing {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translate(0, 0);
    background-image: none;
}
.uploadVideo ul li .info .time {
    float: right;
}
.uploadVideo ul li video {
    width: 100%;
    height: 100%;
}
.inp-item{display:none;}

/*11*/
.ChoiceBox{
    background: #fff;
    height: 1rem;
    line-height: 1rem;
    margin: .15rem 0;
    padding: 0 .3rem;
    font-size: .28rem;
    border-bottom: 0.02rem solid #ebebeb;
}
.selAddr {
    margin-top: 0;
}
.ChoiceBox span{
    display: inline-block;
    width: 1.5rem;
    font-size: .3rem;
    overflow: hidden;
    height: 1rem;
    float: left;
}
.ChoiceBox .ChoiceBox_input{
    text-align: right;
    width: 5.2rem;
    display: inline-block;
    font-size: .28rem;
    position: relative;
    padding-right: 0.2rem;
}
.ChoiceBox .ChoiceBox_input em {
    color: #909090;
}
.ChoiceBox .ChoiceBox_input:before{
    content: "";
    position: absolute;
    right: 0;
    top: 0.4rem;
    border-right: 0.03rem solid #d0d0d0;
    border-bottom: 0.03rem solid #d0d0d0;
    width: 0.17rem;
    height: 0.17rem;
    transform: rotate(-45deg);
}

.pageitem {
    position: fixed;
    display: none;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500000;
}
.lead{
    position: relative;
    text-align: center;
    height: 1rem;
    line-height: 1rem;
    background: #fff;
    margin-bottom: 0.2rem;
}
.lead p{
    width: .5rem;
    height: .5rem;
    position: absolute;
    left: .15rem;
    top: .25rem;
    background: url(../images/Arrow_left.png) no-repeat center;
    background-size: .4rem;
}
.lead span{
	font-size: .36rem;
}
.lead b a{
	position: absolute;
	right: 0.1rem;
	top: 0rem;
	color: #e83829;
	font-size: 0.28rem;
	width: 1rem;
}

.lead input {
	height: .7rem;
    border: 1px solid #e8e8e8;
    border-radius: 0.1rem;
    width: 75%;
    margin-left: 0.2rem;
    padding-left: 0.5rem;
    background: url(../images/search_1.png) no-repeat 0.1rem;
    background-size: .4rem;
    text-indent: 0.2rem;
    font-size: 0.28rem;
}
.map {
	position: relative;
	width: 100%;
	height: 5.5rem;
	background: #ccc;
	margin-top: -.2rem;
}
#mapdiv {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
}
.mapcenter {
	position: absolute;
	z-index: 2;
	left: 50%;
	top: 50%;
	width: .6rem;
	height: .6rem;
	margin: -.4rem 0 0 -.3rem;
	background: url('../images/local1.png');
	background-size: cover;
}
.amap-sug-result {
    z-index: 9999999;
}
.mapresults {
	position: absolute;
	top: 6.5rem;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.mapresults li {
	position: relative;
	padding: .1rem .2rem .1rem .6rem;
	border-bottom: 1px solid #efefef;
}
.mapresults li:before {
	position: absolute;
	content: "";
	left: .1rem;
	top: .2rem;
	width: .4rem;
	height: .4rem;
	background: url('../images/local1.png');
	background-size: cover;
}
.mapresults li h5 {
	font-size: .3rem;
	line-height: .5rem;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mapresults li p {
	font-size: .24rem;
	color: #999;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.elseStreet {
	display: block;
	width: 80%;
	margin: .3rem auto;
	border: 2px solid #f00;
	height: .6rem;
	line-height: .6rem;
	border-radius: .5rem;
	color: #f00;
	font-size: .3rem;
	text-align: center;
}
.padTop20 .lead{
    padding-top: 20px;
}
.padTop20 .lead p{
    top: 0.57rem;
}
.padTop20 .mapresults{
    top: 6.9rem;
}

.navBox{
    /* margin-bottom: 2rem; */
}

.TuanCheckboxInput{
    background: #fff;
    padding: 0.2rem .2rem;
    height: 1.5rem;
}
.TuanCheckboxInput .onClock{
    padding-right: .9rem;
}
.TuanCheckboxInput .onClock label{
    display: block;
    width: 2.5rem;
    height: .42rem;
    font-size: .26rem;
    color: #a0a0a0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.state0{color: #f00;
    text-align: center;
    padding: .2rem 0;}