html{background: #f0f0f2;}
body,html{height: 100%}
.header{z-index: 1;}
.container{}
.huoniao_iOS .container{padding-top: 0;}

.art_info2{background: #fff;margin-bottom: .2rem}
.info{padding: 0 .3rem;background: #fff;margin-top: .16rem}
.info li{border-bottom: 1px solid #d8d9e3;padding: .3rem 0;font-size: .3rem;color: #45464F;position: relative;padding-right: .43rem}
.info li.spe_li{padding-right: .1rem}

.info li .name{float: left;}
.info li input{float: right;text-align: right;border: 0;color: #45464f}
.info li input::placeholder{color: #9fa1ab; }
.info li .choose{float: right;}
.info li .choose i{display: inline-block;width: .14rem;height: .24rem;background:url("../images/renovation/icon_next.png") no-repeat;background-size: contain;margin-left: .2rem;}
.info li:last-child{border-bottom: none}
.class-p{float: right;}
.info li input[name='work_year']{color: #45464f;float: none;}
.info li input[name='work_year'] + label{color: #a6a6a6;}
.info li input[name='work_year']:focus + label,.info li input[name='work_year']:focus{color: #45464f;}
.info li input#com_add{width: 4.6rem;}
.gz-addr-seladdr dd{padding-right: .25rem;color: #45464f}
.position_box{position: absolute;right: .04rem;left: 0;top: 0;bottom: 0;text-align: right;line-height: .96rem;font-size: .3rem;}
.position_box p{margin-right: .1rem}
/*图片上传*/
.img_box{margin-top: .36rem}
.command{font-size: .24rem;color: #999;margin-left: .2rem}
.img_box li{width: 2.1rem; height: 2.1rem; border-radius: .12rem; background-color: #f5f5f5; float: left; position: relative; margin-bottom: .2rem;}
.img_box li:nth-child(3n-1){margin-left: .3rem; margin-right:.3rem;}
.img_show {width: 2.1rem; height: 2.1rem; border-radius: .12rem; overflow: hidden; position: relative;}
.del_btn{width: .44rem; height: .44rem; z-index:3;border-radius: 50%; background-color: rgba(0,0,0,.67); position: absolute;top: -.18rem; right: -.18rem; color: #fff; font-size: .5rem; text-align: center;  font-style: normal; line-height: .44rem; transform: rotate(45deg);}
.img_box img,.img_show video{width: 100%;height: 100%;object-fit: cover}
.imgshow_box p{ background-color: rgba(0,0,0,.8); color: #fff; position: absolute; bottom: 0; text-align: center; }
.upload_btn p,.addbtn p{font-size: .24rem; color: #a2a4ab; text-align: center; margin: auto; line-height: 1.25em;}
.upload_btn img{width: .61rem; height: .53rem; margin: auto; display: block; margin-top: .44rem; margin-bottom: .2rem;}
.upload_btn input{width: 2.1rem; height: 2.1rem; position: absolute; top: 0; left: 0; opacity: 1;z-index: 10;}
.upload_btn,.addbtn{position: relative;}
#filePicker{height: 100%; overflow: hidden;}
.webuploader-element-invisible {position: absolute !important; clip: rect(1px,1px,1px,1px);}
.webuploader-container div {width: 2.1rem; height: 2.1rem;}

/*上传一张照片*/

.qjimg_box .img_show{background-image: url(../images/renovation/add.png); background-repeat: no-repeat; background-position: center .55rem; background-size: .61rem .53rem;width: 2.1rem; height: 2.1rem; border-radius: .08rem; overflow: hidden; position: relative;}
.qjimg_box ul{width: 2.1rem;margin-top:.35rem;}
.qjimg_box ul .img_show{background-color: #F5F5F5;}
.qjimg_box ul>li{width: 2.1rem; height: 2.1rem; float: left; position: relative; }
.qjimg_box ul>li:nth-last-child(1):after{content: ''; display: block; clear: both;}
.qjimg_box ul>li:nth-child(3n-1){margin:0 .3rem ;}
.qjimg_box ul>li p{position: absolute; bottom: .59rem; text-align: center;}
.qjimg_box ul>li{position: relative;}
.qjimg_box ul>li .img{width: 100%; height: 100%; z-index:2;position: absolute;right: 0; top: 0; border-radius: .08rem}
.qjimg_box ul>li .img img{width:100%; height: 100%;object-fit: cover;border-radius: .08rem}
.qjimg_box p{ font-size: .24rem ; width: 100%;  color: #9fa1ab;}

/* 所属公司*/
.com-box{background: #fff;}
.com-box input{background: #fff;}
.com-box .choose .text{color: #9fa1ab}
.teacher input{background: #fff;}
#tec_num{max-width: 5rem;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.tip{text-align: center;}

/*设计作品*/
.class_wrap{padding:.38rem .3rem;background: #fff;margin-bottom: .2rem}
.info_title{font-size: .3rem;color: #333;}
.class_info .class_content{background: #fff;padding-top: .3rem;color: #45464f;font-size: .24rem}
.class_info .class_content #com_profile:empty::before{content:attr(placeholder);color: #9FA1AB}
/*擅长风格*/
.class_info .art_ul{margin-top: .2rem}
.class_info .art_ul li{width: 1.55rem;height: .56rem;text-align: center;line-height: .56rem;font-size: .26rem;background: #F5F5F7;float: left;border-radius:.04rem;color: #666;margin-right: .18rem;margin-top: .15rem;border: 1px solid #F5F5F7;}
.class_info .art_ul li.active{background: #F2F6FF;color: #5E94FF;border: 1px solid #5E94FF;}
.art_ul li:nth-child(4n){margin-right: 0}
/*保存按钮*/
.btn-box{text-align: center;padding: .2rem .4rem;background: #fff}
.btn-box .btn-keep{display:inline-block;width: 100%;height: .88rem;color:#fff;line-height:.88rem;font-weight:bold;font-size:.3rem;border-radius:.1rem;background:linear-gradient(90deg,rgba(255,108,55,1) 0%,rgba(255,154,79,1) 100%);
box-shadow:0px 3px 13px 0px rgba(0,9,43,0.13);}


/*信息提示框*/
.error{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000; display: none;}
.error p{position: fixed; width: 150px; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 50%; margin-left: -75px; top: 50%; margin-top: -24px;}

/*预约成功弹出层*/
.order_mask{position: fixed;width: 100%;height: 100%;left: 0;top: 0;background: rgba(0,0,0,.6);z-index: 100; display: none;}
.order_container{position: fixed; left: 50%; margin-left: -3rem; top: 50%; margin-top: -2.2rem; width: 6rem;padding-bottom: .6rem ;    box-sizing: border-box;background-color:#fff;  padding: .54rem .74rem .4rem; z-index: 99; border-radius: .04rem}

.order_container p.t1{margin-top: .2rem;font-size: .34rem;font-weight: bold;color: #333;text-align: center;}
.order_container p.t2{margin-top: .3rem;line-height: .4rem;color: #a0a0a0;font-size: .26rem;}
.order_container p.t3{margin-top: .3rem;width: 1.7rem;height: .6rem;line-height: .6rem;color: #fff;border-radius: .04rem;text-align: center;background: #0bd7b3 ;margin: .2rem auto 0}
/* 波纹效果2 */
.order_container .wave {position:relative;width:.76rem;height:.76rem;text-align:center;margin:0 auto;}
.order_container .m-box{width:.68rem;height:.68rem;position:relative;margin: 0 auto;background:#fff;border-radius:50%;border:.04rem solid #f54d0c;}
.order_container .m-duigou{width:.32rem;height:.25rem;position:absolute;left:50%;top:50%;margin:-.18rem 0 0 -.18rem;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden;}
.order_container .m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#f54d0c;border-radius:2px}
.order_container .m-duigou:before{width:.04rem;height:.25rem;left:0;-webkit-animation:dgLeft 0.5s linear 0s 1 both;animation:dgLeft 0.5s linear 0s 1 both}
.order_container .m-duigou:after{width:.32rem;height:.04rem;bottom:0;-webkit-animation:dgRight 0.5s linear 0.5s 1 both;animation:dgRight 0.5s linear 0.5s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@keyframes circle-opacity {from {opacity:1;transform:scale(0);}
    to {opacity:0.5;transform:scale(1);}
}

.img .progress {position: absolute;width:auto!important; right: 4px!important; bottom: 4px!important;  left: 4px!important; height: 4px; overflow: hidden; z-index: 15; margin:0; padding: 0; border-radius: 0; background: transparent;}
.img .progress span {display: block; overflow: hidden; width: 0; height: 100%; background: #499c00 url('/static/js/webuploader/progress.png') repeat-x; -webit-transition: width 200ms linear; -moz-transition: width 200ms linear; -o-transition: width 200ms linear; -ms-transition: width 200ms linear; transition: width 200ms linear; -webkit-animation: progressmove 2s linear infinite; -moz-animation: progressmove 2s linear infinite; -o-animation: progressmove 2s linear infinite; -ms-animation: progressmove 2s linear infinite; animation: progressmove 2s linear infinite; -webkit-transform: translateZ(0);}
@-webkit-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@-moz-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}