body, html{background: #F0F0F2; }

/*头部*/
.open-head{padding: .33rem .63rem .33rem .63rem;background: #D9B589}

.open-head span{display: inline-block; color: #212121;font-size: .24rem}
.open-head span:nth-child(1) {width: 70%;}
.open-head span:nth-child(2) {width: 30%; text-align: right;}
.open-wrap ul{padding: .3rem}
.open-wrap li{background: #fff;box-shadow:0px 3px 13px 0px rgba(0, 0, 0, 0.09);border-radius:.2rem;margin-bottom: .3rem;overflow: hidden;}
.open-wrap li .con-top{height: 1.3rem;line-height: 1.3rem; padding: 0 .3rem;}
.open-wrap li .con-top span{display: inline-block;color: #000;font-size: .28rem}
.open-wrap li .con-top span s {display: inline-block; width: .32rem; height: .32rem; vertical-align: middle; margin: -.08rem 0 0 .1rem; background: url('../images/3.5/icon-tips.png') no-repeat; background-size: cover;}
.open-wrap li .con-top span:nth-child(1){font-size: .32rem;width: 70%; color: #BA9457;font-weight: bold;}
.open-wrap li .con-top span:nth-child(2){width: 30%; text-align: right;}

.open-wrap li .con-bottom{line-height: .6rem;color: #999;font-size: .22rem;padding: 0 .3rem;background: #F5F5F7}
.open-wrap li .con-bottom span {width: 50%; display: inline-block;}
.open-wrap li .con-bottom span:nth-child(1) {text-align: left;}
.open-wrap li .con-bottom span:nth-child(2) {text-align: right;}

/* 弹出层 */
.mask_pop{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,.3); z-index: 100; display: none;}
.pop_box{position: fixed; z-index: 101; width: 100%; max-height: 88%; background: #fff; border-radius: .3rem .3rem 0 0; bottom: -88%;}
.pop_box h2{line-height: 1.1rem; text-align: center; font-size: .34rem; color: #000; font-weight: bold; border-bottom: solid 1px #EBEBED; position: relative; z-index: 10;}
.pop_box h2 .cancel,.pop_box h2 .back{color: #999; font-size: .3rem; position: absolute; right: .58rem; font-weight: normal;}
.pop_box h2 .back{left: .43rem; right: auto; position: absolute;  }
.pop_box .all-choo{padding: .28rem .28rem .25rem;background: #FAF7F2;text-align: left;font-size: .28rem;color: #D9A55D;}
.pop_box .all-choo.show{display: block;}
.pop_box .timeList {padding: .3rem;}
.pop_box .timeList dl{margin-bottom: .2rem; line-height: 1.8em;}
.pop_box .timeList dt{float: left; color: #010101; margin-right: .1rem;}
.pop_box .timeList dd{position: relative; overflow: hidden; color: #999;}

.loading {text-align: center; line-height: 2rem;}
