body, html{background: #f0f0f2; font-size: .28rem;}

/*.header-l{padding-right: .8rem;}*/
.header-r{visibility: visible;}
img{max-width: 100%}


.wrap{padding:0 .3rem;padding-bottom: calc(1.6rem + env(safe-area-inset-bottom));padding-bottom: calc(1. 6rem + constant(safe-area-inset-bottom));}
.wrap .cont_ul li{background: red;padding:.32rem;padding-bottom: 0; margin-top: .2rem;background: #fff}


.wrap ul li .left_b{width: 1.2rem;height: 1.6rem;float: left;}
.wrap ul li .left_b img{width: 100%; height: 100%; object-fit: cover;border-radius: .04rem}
.wrap ul li .right_b{margin-left: 1.5rem}
.wrap ul li .right_b .peo_manage{height: .43rem;line-height: .43rem}
.wrap ul li .right_b .peo_manage .peo_name{font-size: .34rem;color: #28292b}
.wrap ul li .right_b .peo_manage .mana{font-size: .3rem;color: #45464f;float: right}
.wrap ul li .right_b .info{display: block;}
.wrap ul li .right_b .info li{display:inline-block;height: .25rem;line-height: .25rem;font-size:.26rem;color: #828282;padding: 0 .2rem;border-left: 1px solid #828282;margin-top: .16rem;margin-bottom: .3rem;}
.wrap ul li .right_b .info li:first-child{padding-left: 0;border-left:0;}
.wrap ul li .right_b .tel{color: #ff5d2f;font-size: .32rem;font-weight: bold;width: 2.5rem} 
.wrap ul li .right_b .tel a{color: #ff5d2f;}
.baomu_manage_footer{padding: .24rem;  position: fixed;left: 0;bottom: 0;box-sizing: border-box;width: 100%;background: #fff;padding-bottom: calc(.24rem + env(safe-area-inset-bottom));padding-bottom: calc(.24rem + constant(safe-area-inset-bottom));}
.baomu_manage_footer p{width:100%;border-radius:.08rem;background-image:-moz-linear-gradient( 0deg,rgb(255,108,55) 0%,rgb(255,154,79) 100%);background-image:-webkit-linear-gradient( 0deg,rgb(255,108,55) 0%,rgb(255,154,79) 100%);background-image:-ms-linear-gradient( 0deg,rgb(255,108,55) 0%,rgb(255,154,79) 100%);box-shadow:0px 5px 5px 0px rgba(255,133,68,0.31);height:.88rem;line-height:.88rem;color:#fff;font-size:.3rem;text-align:center;}

.btn_group{overflow: hidden; border-top: solid .02rem #E6E7ED; margin-top: .3rem;}
.btn_group span{ float: right; padding: 0 .45rem; color: #45464F; line-height: 1rem; }
.btn_group span.d_btn{opacity: .5;}
.loading{text-align: center;padding: .2rem;}

/*信息提示框*/
.alert_tip{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000;display: none }
.alert_tip .alert_content{position: fixed; left: 50%; margin-left: -2.2rem; top: 50%; margin-top: -1.2rem; width: 4.4rem; background-color:#fff; border-radius: .1rem; z-index: 9999;    overflow: hidden;}
.alert_tip .alert_content p{height: 1.5rem;line-height: 1.5rem;text-align: center;font-size: .3rem;color: #38383b}
.alert_tip .alert_content ul{border-top: 1px solid #dcdde0;font-size: 0;}
.alert_tip .alert_content ul li{display: inline-block;color: #4a7aff;font-size: .32rem;height: .9rem;line-height: .9rem;width: 49%;text-align: center;}
.alert_tip .alert_content ul li.active{background: #f2f3f7;}
.alert_tip .alert_content ul .yes{border-right: 1px solid #dcdde0}










