body {background: #F0F0F2; padding-bottom: 1rem;padding-bottom: calc(1rem + constant(safe-area-inset-bottom));}
body.huoniao_iOS {padding-bottom: 0;padding-bottom: constant(safe-area-inset-bottom);}
body.wx_miniprogram{padding-bottom: 1.5rem}
.popup_fixed {position: fixed; overflow: hidden; width: 100%;}
/* 禁止滚动 */
.noscroll,
.noscroll body {
	 overflow: hidden;
}
.noscroll body {
	position: relative;
}
.blackFix{position: fixed;top:0;left:0;right:0;background: #21201F;display: none;transition: all .3s; box-sizing: border-box;   z-index:0;min-height: .98rem;}
.huoniao_iOS.wx_miniprogram .blackFix {padding-top: 0;}
.huoniao_iOS.wx_miniprogram .blackFix .blackTopfix{display: none}
.huoniao_iOS .blackFix {padding-top: calc(20px + .35rem);}
.blackFix.show{z-index: 99;}
.blackFix .module-tab{box-sizing: border-box;padding: .23rem 0 .23rem .3rem}

.blackTopfix{text-align: center;display: none;height: .8rem;position: relative;}
.huoniao_iOS .blackFix .blackTopfix {display: block;}
.blackTopfix h2{display: inline-block;  color: #fff;font-size: .3rem;line-height: .8rem;max-width: 2.94rem;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.blackTopfix .r_head{position: absolute;top: .18rem;right: .35rem;}
.blackTopfix .appSetting a i.icon-setting{width: .44rem;height: .44rem;background: url(../images/3.5/set-icon.png) no-repeat center center;background-size: cover;}
.blackTopfix .appSetting{margin-left: .25rem;}

.blackTopfix .qr{width: .44rem; height: .44rem; background: url('../images/3.5/bus-code.png') no-repeat; background-size: cover;}
.blackTopfix2{position: fixed;top:1.5rem;left:0;right:0;background: #21201F;}
.blackTopfix2.show{height: auto}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          display: block;z-index: 99;
}
.slide-out-top {
  -webkit-animation: slide-out-top 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          animation: slide-out-top 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          display: block;
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-.8rem);
            transform: translateY(-.8rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-.8rem);
            transform: translateY(-.8rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-.8rem);
            transform: translateY(-.8rem);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-.8rem);
            transform: translateY(-.8rem);
    opacity: 0;
  }
}
/*个人版*/

.grEnter{font-size: .24rem;color: #999;}
.appSetting{float: right;margin-left: .4rem;}
.appSetting a i.icon-setting{display: inline-block;width: .48rem;height: .48rem;background:url('../images/3.5/set-icon.png') no-repeat center center; background-size: cover;}
/* 背景 */
.mheader {position: relative; z-index: 1; padding-top: .35rem; padding-bottom: 1.65rem; overflow: hidden; background: url('../images/3.5/head_bg.png'); background-size: 100% 100%;}
.top_head{padding-left: .37rem;padding-right: .47rem }
.huoniao_iOS .mheader {padding-top: calc(20px + .35rem);}
.huoniao_iOS.wx_miniprogram .mheader {padding-top: .35rem;}
.nlogin {position: relative; z-index: 2; height: 100%; text-align: center; font-size: .4rem;}
.nlogin a {color: #fff; display: block; line-height: 3rem;}

.minfo {margin-left: .35rem;margin-right: .4rem;margin-top: .47rem;position: relative;z-index: 9}
.minfo dt {float: left; width: 1.2rem; height: 1.2rem;  border-radius: .6rem; background:#E5E5E5;}
.minfo dt img{display: block;width: 1.2rem;height: 1.2rem;border-radius: .6rem}
.minfo dd {position: relative;float: left; margin-left: .22rem; color: #fff;width: 5.22rem}
.minfo dd h2 a {color: #fff; font-size: .34rem; line-height: .6rem;font-weight: bold;max-height: 4.2rem;display: inline-block;}
.minfo dd .bindex {margin-top: .1rem;}
.minfo dd .bindex a.no-service {color: #a1b5ff;}
.minfo dd .bindex a.has-service{display: inline-block;width: 1.82rem; height: .36rem; background: url('../images/3.5/fuwu-icon.png'); background-size: cover;}

.qr {width: .48rem; height: .48rem; background: url('../images/3.5/bus-code.png'); background-size: cover;display: inline-block;float: right}

/* 账户信息 */
@font-face {
  font-family: "Helvetica-Bold";
  src: url("../fonts/Helvetica-Bold.woff2") format("woff2"),
       url("../fonts/Helvetica-Bold.woff") format("woff"),
       url("../fonts/Helvetica-Bold.ttf") format("truetype"),
       url("../fonts/Helvetica-Bold.eot") format("embedded-opentype"),
       url("../fonts/Helvetica-Bold.svg") format("svg"),
       url("../fonts/Helvetica-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DINCond-Black-Regular";
  src: url("../fonts/DINCond-Black-Regular.woff2") format("woff2"),
       url("../fonts/DINCond-Black-Regular.woff") format("woff"),
       url("../fonts/DINCond-Black-Regular.ttf") format("truetype"),
       url("../fonts/DINCond-Black-Regular.eot") format("embedded-opentype"),
       url("../fonts/DINCond-Black-Regular.svg") format("svg");
}
.account {position: relative; z-index: 8; display: flex; margin: .8rem .3rem 0;justify-content: space-around;}
.account li {position: relative; text-align: center; font-size: .22rem;}
.account li a {display: block; color: #fff; margin: 0 .2rem; padding: .05rem 0 .1rem; border-radius: .1rem;}
.account li a:active {background: rgba(242, 242, 242, .3);}
.account li strong {display: block; font-size: .4rem;margin-bottom: .05rem;font-family: "Helvetica-Bold"}
.account li.line_li{width: 1px;height: .3rem;background:#fff;margin-top: .3rem;opacity: .3}

/* 商家信息1 */
.nav {position: relative; z-index: 2; display: -webkit-box; margin: -1.2rem .3rem 0; padding: .37rem .4rem .37rem; background-color: #fff; border-radius: .2rem;box-shadow:0px 3px 19px 0px rgba(0, 0, 0, 0.05);}
.nav li {-webkit-box-flex: 1; text-align: center; font-size: .26rem;}
.nav li a {display: block; padding: .1rem; border-radius: .1rem;color: #000}
.nav li a:active {background: #f2f2f2;}
.nav li i {display: block; margin: 0 auto .15rem; width: .72rem; height: .72rem; background-size: cover; }
.nav li .icon-buss {background-image: url('../images/3.5/icon-buss.png'); }
.nav li .icon-config {background-image: url('../images/3.5/icon-config.png'); }
.nav li .icon-pocket {background-image: url('../images/3.5/icon-pocket.png');}
.nav li .icon-settlement {background-image: url('../images/3.5/icon-settlement.png'); }
.nav .nav_tip{position: absolute;left: -.15rem;top: -.15rem;background:black;background:url('../images/3.5/nav_tip.png') no-repeat center center; background-size: cover;width: 1.4rem;height: .56rem; }

/* 商家评论 */
.comment_wrap{box-shadow:0px 3px 17px 0px rgba(0, 0, 0, 0.03);border-radius: .2rem;margin: .24rem .3rem 0;overflow: hidden;position: relative;z-index: 2;background-clip: padding-box;padding: .2rem .2rem .2rem 0;background: #fff}
.comment_wrap .comment_l{float: left;width: 1.8rem;text-align: center;font-size: .2rem;color: #000;padding-top: .26rem;}
.comment_wrap .comment_l strong,.comment_wrap .comment_l span{display: block;}
.comment_wrap .comment_l strong{font-size: .64rem;line-height: .5rem;font-family:Helvetica-Bold;font-weight: normal;}
.comment_wrap .comment_l strong small {font-size: 70%;}
.comment_wrap .comment_r{float: left;background-color: #F7F8FA;border-radius: .16rem;position: relative; z-index: 8; display: -webkit-box;width: 4.9rem;padding: .28rem 0 .2rem}
.comment_wrap .comment_r dl{position: relative; -webkit-box-flex: 1; text-align: center;font-size: .24rem;color: #000}
.comment_wrap .comment_r dl dt{font-size: .4rem;color: #FFB01C;line-height: 1em;font-family: Helvetica-Bold;    margin-bottom: .05rem;}
.comment_wrap .comment_r dl:after{content: '';position: absolute;right: 0;top: 50%;margin-top: -.15rem;width: 1px;height: .3rem;background: #E9E9EB;}
.comment_wrap .comment_r dl:last-child:after{content: '';display: none;}
/* 商家信息2 */
.nav_wrap{box-shadow:0px 3px 17px 0px rgba(0, 0, 0, 0.03);border-radius: .2rem;margin: .24rem .3rem .42rem;overflow: hidden;position: relative;z-index: 2;background-clip: padding-box;}
.snav1 {position: relative; z-index: 8; display: -webkit-box; padding:  .4rem .3rem;background: #fff;}
.snav1 li {position: relative; -webkit-box-flex: 1; text-align: center; font-size: .26rem;}
.snav1 li a {display: block; color: #000; margin: 0 .2rem;  border-radius: .1rem;}
.snav1 li strong {display: block; font-size: .4rem;font-family: "Helvetica-Bold"}

.snav2 {position: relative; z-index: 2; display: -webkit-box; padding: 0 .16rem; background-color: #F5F7FA; }
.snav2 li {-webkit-box-flex: 1; text-align: center; font-size: .26rem; padding: .3rem 0;}
.snav2 li a {display: block; padding: .1rem; color: #000;position: relative;}
.snav2 li i {display: block; margin: 0 auto -.1rem; width: 1rem; height: 1rem;  border-radius: 50%;}
.snav2 li .icon-dingzuo {background:#fff url('../images/3.5/icon-ding.png') no-repeat center; background-size: .56rem;}
.snav2 li .icon-paidui {background:#fff url('../images/3.5/icon-paidui.png') no-repeat center; background-size: .56rem;}
.snav2 li .icon-diancan {background:#fff url('../images/3.5/icon-dian.png') no-repeat center; background-size: .56rem;}
.snav2 li .icon-maidan {background:#fff url('../images/3.5/icon-mai.png') no-repeat center; background-size: .56rem;}
.snav2 li span.pai-num{display: inline-block;position: absolute;top: .1rem;left: .9rem;padding: 0 .11rem;line-height: .28rem;border-radius: .14rem;background-color: #F24D38;font-size: .2rem;font-weight: bold;color: #fff;z-index: 2;white-space: nowrap;}

.dot{width: .14rem;height: .14rem;border-radius: 50%;background-color: #F24D38;}
.snav2 li span.dot{position: absolute;top: .18rem;right: .37rem;}
.module-bottom ul li span.dot{position: absolute;top: .05rem;right: .35rem;}
/*各模块导航*/

.module-container{background: #F0F0F2}
.module-container .module-box{height: .86rem}
.module-container .module-tab.hide{display: none}

.module-tab{overflow: auto;font-size: 0;white-space: nowrap;overflow-x: scroll;
        -webkit-overflow-scrolling: touch; /*解决在ios滑动不顺畅问题*/
        overflow-y: hidden;padding:0 0 .36rem .3rem;z-index: 99;}
.module-tab::-webkit-scrollbar {display: none;}
.module-tab li{height: .5rem;line-height: .52rem;display: inline-block;font-size: .26rem;color: #999;padding: 0 .28rem;border-radius: .26rem;}
.module-tab li.curr{background: #333;color: #fff;font-weight: bold;}
.module-tab span {display: inline-block;margin: .05rem .3rem 0 .2rem;vertical-align: top;}
.module-tab span .ruzhu{width: .4rem;height: .4rem;display: inline-block;background:url('../images/3.5/manage-icon.png') no-repeat center; background-size: cover;}
.module-tab span.active{display: inline-block;vertical-align: top;margin-top: 2px}
/*各模块内容*/
.module-con{box-shadow:0px 3px 19px 0px rgba(0, 0, 0, 0.05);border-radius:.2rem;overflow: hidden;background: #fff;margin: 0 .3rem .24rem}
.module-con .module-head{padding: .28rem .28rem .24rem;background:linear-gradient(90deg,rgba(245,247,250,1) 0%,rgba(255,255,255,1) 100%);}
.module-con.job .module-head{background: url('../images/3.5/job_bg.png'); background-size: cover;}
.module-con .module-head i.module-icon{display: inline-block;width: .4rem;height: .4rem;margin-right: .01rem;vertical-align: top;margin-top:-.02rem;}
.module-con .module-head i.module-icon img{max-width: 100%}


.module-con .module-head h2.module-title{font-size: .3rem;font-weight: bold;display: inline-block;margin-right: .12rem;height: .4rem;line-height: .4rem;vertical-align: middle;}
.module-con .module-head a.module-homepage{display: inline-block;padding: 0 .16rem;height: .43rem;line-height: .45rem;border-radius: .215rem;font-size: .24rem;color: #333;background: #EBEBED;vertical-align: top;padding-right:.1rem;}
.module-con.job .module-head a.module-homepage{background: #D3D8E3}
.module-con .module-head a.module-homepage em{color: #999}
.module-con .module-head s.arr-r{display: inline-block;width: .2rem;height: .2rem;background: url('../images/3.5/arr-r.png'); background-size: cover;vertical-align: middle;margin-top: -2px;}
.module-con .module-head a.more-info{float: right;font-size: .26rem;color: #999}
.module-con .module-head s.more-arr{display: inline-block;width: .2rem;height: .2rem;background: url('../images/3.5/more-arr.png'); background-size: cover;vertical-align: middle;margin-top: -3px;margin-left: .08rem;}

.module-con .module-bottom ul {position: relative; z-index: 2;padding: .28rem .26rem .38rem; font-size:0; }
.module-con .module-bottom ul li {text-align: center; font-size: .26rem;display: inline-block;width:25%;}

.module-con .module-bottom ul li a {display: block; padding: .1rem; color: #000;position: relative;}
.module-con .module-bottom ul li img{display: block; margin: 0 auto .1rem; width: .64rem; height: .64rem; border-radius: 50%;}


.module-con .module-bottom ul li span.new-resume{display: inline-block;position: absolute;top: 0;left: .7rem;padding: 0 .13rem;line-height: .28rem;border-radius: .14rem;background-color: #F24D38;font-size: .2rem;font-weight: bold;color: #fff;z-index: 2;white-space: nowrap;}


/*管理我的功能卡片*/
.manage-module{position: relative;margin-top: .28rem;padding: 0 .3rem;margin-bottom: .4rem}
.manage-module::before{content: '';width: 1.52rem;height: 1px;background:#DCDCDE;position: absolute;top: .27rem ;left: .75rem}
.manage-module::after{content: '';width: 1.52rem;height: 1px;background:#DCDCDE;position: absolute;top: .27rem;right: .75rem }
.manage-module a{background: #E1E1E3;width: 2.5rem;height: .52rem;line-height: .52rem;border-radius: .26rem;font-size: .24rem;display: block;margin: 0 auto;text-align: center;}

/* 其他管理 */
.other-module {border-radius: .2rem;overflow: hidden;box-shadow:0px 3px 19px 0px rgba(0, 0, 0, 0.05);background: #fff;margin: 0 .3rem;padding-bottom: .25rem}
.other-module .other-title{padding: .27rem .25rem;background:linear-gradient(90deg,rgba(245,247,250,1) 0%,rgba(255,255,255,1) 100%);font-size: .32rem;color: #333;font-weight: bold; }

.manage {background: #fff;  overflow: hidden;}
.manage dd {width: 100%; padding: .26rem .25rem 0;box-sizing: border-box;}
.manage dd a {float: left; width: 1.1rem; margin: 0 0 0 0; padding: .1rem .24rem .4rem; font-size: .26rem; text-align: center; border-radius: .1rem;white-space: nowrap;}
.manage dd a:active {background: #f2f2f2;}
.manage dd a img {display: block; width: .8rem; height: .8rem; margin: 0 auto .1rem;}
.manage .empty {height: 2rem; line-height: 2rem; text-align: center;}
.manage .empty a {float: none; font-size: .24rem; color: #1162e1;}


/*切换个人版*/
.personal{padding: 0 .25rem;}
.personal a{display: block;width: 100%;padding: .24rem 0;background: #F5F5F7;border-radius: .38rem}
.personal a span.tip1{font-size: .22rem;color: #000;padding-left: .35rem}
.personal a span.tip1 em{color: #999;margin-left: .1rem}
.personal a span.tip2 {float: right;padding: 0 .26rem 0 .22rem;border-left: 1px solid #DCDCDE}
.personal a span.tip2 i{display: inline-block;width: .9rem;height: .3rem;background: url('../images/3.5/person.png'); background-size: cover;vertical-align: middle;}
.personal a span.tip2 s{display: inline-block;width: .2rem;height: .2rem;background: url('../images/3.5/arr-per.png'); background-size: cover;vertical-align: middle;margin-left: .1rem}
/* 其他入口链接 */
.other-link{background: #fff;padding-bottom: .5rem;margin:  .47rem .3rem 0;box-shadow:0px 3px 19px 0px rgba(0, 0, 0, 0.05);border-radius: .2rem;overflow:hidden;}
.other-link h2.link-title{font-size: .32rem;color: #333;font-weight: bold;padding: .27rem .25rem; background:linear-gradient(90deg,rgba(245,247,250,1) 0%,rgba(255,255,255,1) 100%)}
.link {margin-top: .26rem;display: -webkit-box;padding: 0 .1rem}
.link li { -webkit-box-flex: 1;}
.link li a {display: block;text-align: center;font-size: .28rem;color: #313233}
.link li i {display:inline-block; vertical-align: middle; width: .64rem; height: .64rem; background-size: cover;margin-bottom: .1rem }
.link li .icon-renew {background-image: url('../images/3.5/icon-renew.png');}
.link li .icon-help {background-image: url('../images/3.5/icon-help.png');}
.link li .icon-tel {background-image: url('../images/3.5/icon-tel.png');}
.link li .icon-security {background-image: url('../images/3.5/icon-security.png');}

.service{margin: .26rem .3rem 1rem;background:linear-gradient(90deg,rgba(237,205,159,1) 0%,rgba(201,162,127,1) 100%);border-radius: .2rem}
.service .ser-head{font-size: .32rem;color: #FFD797;font-weight: bold;text-align: center;padding: .47rem 0 .41rem;border-radius: .2rem;background: url('../images/3.5/ser_bg.png'); background-size: cover;}
.service .ser-head a.go-a{border:.02rem solid #FFD797;line-height: .5rem;display: inline-block;color: #FFD797;font-size: .24rem;border-radius: .26rem;margin-top: .3rem;padding-left: .34rem;padding-right: .15rem}
.service .ser-head a.go-a i{display: inline-block;width: .2rem;height: .2rem;background: url('../images/3.5/ser-arr.png'); background-size: cover;vertical-align: middle;margin-left: .1rem;margin-top: -3px}

.service .ser-bottom{padding: .12rem .14rem;font-size: .22rem}
.service .ser-bottom i.ser-tip{display:inline-block; width: .36rem; height: .36rem;background-image: url('../images/3.5/ser-tip.png'); background-size: cover;margin-right: .1rem;vertical-align: top;margin-top: -2px}
.service .ser-bottom strong{margin-right: .22rem;display: inline-block;vertical-align: top}
.service .ser-bottom span{display: inline-block;vertical-align: top}

/*管理功能卡片 弹出层*/
.manage-mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #000; opacity: .5; z-index: 999; display: none;}
.manage-mask.show{display: block;}
.manage-alert{position: fixed;bottom: constant(safe-area-inset-bottom);left: 0; right: 0;background: #fff;border-radius: .3rem .3rem 0 0;z-index: 1000;overflow: hidden;bottom: -100%;}

.manage-alert .alert-top{padding: .27rem .5rem .25rem .4rem;background: #F5F5F7;display: flex;align-items: center;justify-content: space-between;}
.manage-alert .alert-top img.close_alert{width: .48rem;height: .48rem;}
.manage-alert .alert-top h2{font-size: .3rem;color: #000;font-weight: bold;}
.manage-alert .alert-top span.finish{font-size: .3rem;color: #2081F7;font-weight: bold;}
.manage-alert .manage-con{max-height: 10rem;overflow-y: auto;}
.manage-alert .add-tip{padding: .3rem .34rem;font-size: .24rem;color: #999999}
.manage-alert .noadd-tip{padding: .26rem .33rem;font-size: .24rem;color: #999999;background: #F5F5F7}
/*.manage-alert .no-add{padding-bottom: .5rem}*/
.manage-alert ul{padding: 0 .3rem; }
.manage-alert li{padding: .33rem .2rem;font-size: .3rem;color: #212121;border-bottom: 1px solid #EBEBED}

.manage-alert li i{display: inline-block;width: .4rem;height: .4rem;margin-right: .18rem;vertical-align: top;margin-top: 2px}
.manage-alert .has-add li i{background: url('../images/3.5/del-icon.png'); background-size: cover;}
.manage-alert .no-add li i{background: url('../images/3.5/add-icon.png'); background-size: cover;}

.manage-alert .has-add s{display: inline-block;width: .64rem;height: .64rem;box-shadow:0px 1px 7px 0px rgba(0,10,30,0.11);border-radius: .08rem;float: right; vertical-align: top; margin-top: -4px; position: relative; overflow: hidden;}
.manage-alert .has-add s.sort-down{background:#fff url('../images/3.5/sort-down.png') no-repeat center center;background-size: .4rem .4rem;}
.manage-alert .has-add s.sort-up{background:#fff url('../images/3.5/sort-up.png') no-repeat center center;margin-right: .18rem;background-size: .4rem .4rem;}
.manage-alert .has-add li:nth-child(1) s.sort-up:after,.manage-alert .has-add li:last-child s.sort-down:after{display: block;width: 100%;height: 100%;background: rgba(0,0,0,.13);position: absolute;left: 0;top: 0;right: 0;bottom: 0;content: '';}

.slide-top {
	-webkit-animation: slide-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-bottom {
	-webkit-animation: slide-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1.12rem);
            transform: translateY(-1.12rem);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1.12rem);
            transform: translateY(-1.12rem);
  }
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(1.12rem);
            transform: translateY(1.12rem);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(1.12rem);
            transform: translateY(1.12rem);
  }
}
/*生成图片*/

/*.html2Wrap{left: 0;z-index: 999999999999;top: 0}*/
.html2_mask2{position: fixed; z-index: 1000001; left: 0; top: 0; bottom: 0; right: 0; background: rgba(0,0,0,.57); display: none;}
.html2_mask2 img{width: 1rem; height: 1rem; position: absolute; left: 50%; top: 50%; margin-left: -.5rem; margin-top: -.5rem; animation: xuanzhuan 1s infinite linear;}
.sj-save{padding-bottom: .4rem;display: none}
.sj-save.show{display: block;}
.html2Wrap .html2_node{padding: 0;padding-bottom: .2rem;background: #fff}
.html2Wrap .html2Con{border-radius: 0}
.html2canvas_fixed{border-radius:.4rem;left: .85rem;right: .85rem;bottom: 3.5rem;padding: 0}
.html2canvas_fixed .html2_img{margin-top: 0}
.sj_img{height: 7rem;width: 100%}
.sj_img img{height: 7rem;width: 100%}
.html2_closeAlert{    position: fixed;z-index: 1000002;bottom: 2.3rem;width: .64rem;height: .64rem;background: url('../images/3.5/html2_closeAlert.png'); background-size: cover;left: 50%;margin-left: -.32rem;display: none;-webkit-animation: bottomFadeIn .3s ease-out;
    -moz-animation: bottomFadeIn .3s ease-out;
    animation: bottomFadeIn .3s ease-out;}
.html2_closeAlert.show{display: block;}
.sj-info{padding: .3rem .3rem 0;}
.sj-info .sj-left h2{font-size: .32rem;color: #000;font-weight: bold;}
.sj-info .sj-special{margin-top: .15rem}
.sj-info .sj-special span{display: inline-block;padding: 0 .18rem;background: #EBECF2;border-radius: .22rem;line-height: .46rem;font-size: .24rem;color: #7F8399;margin-right: .1rem;height: .44rem;}
.sj-info .sj-right{float: right;width: 1.4rem;height: 1.4rem}
.sj-info .sj-right img{width: 1.4rem;height: 1.4rem;display: block;}
.sj-info2{text-align: center; }
.sj-info2 p{font-size: .24rem;color: #7F8399}

.sj-mobile{padding-bottom: .23rem;padding-top: .44rem}
.sj-mobile p{position: relative;}
.sj-mobile p::before{content: '';width: .75rem;height: 1px;background:#DCDCDE;position: absolute;top: .14rem ;left: .7rem}
.sj-mobile p::after{content: '';width: .75rem;height: 1px;background:#DCDCDE;position: absolute;top: .14rem;right: .7rem }

.sj-other{display: none;padding-top: .04rem}

.saveImg-app{display: inline-block;background:linear-gradient(90deg,rgba(79,71,55,1) 0%,rgba(43,40,34,1) 100%);
border-radius:.45rem;padding: 0 1rem;font-size: .28rem;color: #fff;line-height: .9rem;margin-top: .13rem}
.saveImg-app i{display: inline-block;width: .4rem;height: .4rem;background: url('../images/3.5/save-img.png'); background-size: cover;vertical-align: middle;margin-top: -3px;margin-right: .09rem}


/*消息提示*/
.dialog_top, .dialog_msg .bg, .phone_msg .bg {position: fixed;left:0;top:0;right:0;bottom:0;z-index: 10000;}
.dialog_msg .bg, .phone_msg .bg {background: rgba(0,0,0,.5);z-index: 1;}
.dialog_msg .box, .phone_msg .box {position: fixed;left:50%;bottom:2rem;transform:translate(-50%, -50%);border-radius:.05rem;z-index: 9999;font-size: .28rem;text-align: center;overflow: hidden;background-color: rgba(0,0,0,.7); color: #fff; padding: .1rem .3rem;}
