body,html{opacity: 1;background: #F0F0F2}
/* 禁止滚动 */
.noscroll,
.noscroll body {
	 overflow: hidden;
}
.noscroll body {
	position: relative;
}
body {padding-bottom: 2rem;}
/*banner*/
.banner{width: 100%;height: 4rem;box-sizing: border-box;padding-top:.8rem;padding-bottom: .68rem;background: url('../images/3.5/service-banner.png'); background-size: cover;position: relative;}
/*套餐*/
.banner h1{font-size: .58rem;font-weight: bold;color: #FFD797;text-align: center;}
.banner h1 span.over-time{background:linear-gradient(90deg,rgba(255,231,189,1),rgba(255,192,110,1));padding:0 .15rem;height: .3rem;line-height: .33rem;border-radius: .15rem;font-size: .18rem;color: #2a2a2a;margin-left: .2rem;display: inline-block;vertical-align: middle;}
.banner h1 span.over-time strong{display: inline-block;vertical-align: top}
.banner h1 span.over-time em{margin-left: .05rem;margin-right: .05rem;position: relative;font-weight: bold;display: inline-block;height: .12rem;width: .03rem;background: #2A2A2A;opacity: .3}
/*.banner h1 span.over-time em:before{content: '';display: inline-block;height: .12rem;width: .03rem;position: absolute;top: 50%;left: 0;margin-top: -.06rem;background: #2A2A2A;opacity: .3}*/
/*自选*/
.banner-per h1{text-align: center;padding-right: 0}
.banner .renewal-div{text-align: center;}
.banner .renewal{box-shadow:0px 3px 13px 0px rgba(4,6,18,0.37);background: #2A2A2A;height: .8rem;line-height: .8rem;width: 1.9rem;text-align: center;border-radius: .16rem;font-size: .28rem;font-weight: bold;color: #FFD797;display: inline-block;margin-top: .28rem}
.ban-bottom{margin-top: .3rem;padding-left: .54rem;padding-right: .38rem}
.ban-bottom a{display: inline-block;}
.ban-bottom a.ser_detail{font-size: .28rem;color: #fff;font-weight: bold;}
.ban-bottom a.ser_open{font-size: .26rem;color: #FFD797;padding-left: .32rem;padding-right: .2rem;height: .46rem;line-height: .48rem;border-radius: .23rem;background: #000;opacity:0.7;}
/*详情*/
.main_con{margin: -.4rem .3rem .3rem;padding: 0 .2rem .2rem;background: #fff;box-shadow:0px 3px 19px 0px rgba(0, 0, 0, 0.05);border-radius: .2rem;position: relative;}
.main_con .det-content.dianpu{margin-top: .34rem}
.det-content .con-title{font-size: .34rem;color: #000;font-weight: bold;position: relative;padding-top: .4rem;padding-left: .1rem}
.det-content .con-title span{position: relative;}
.det-content .con-title::before{content:'';width: .68rem;height: .1rem;background: #FCE3C2;position: absolute;left: .1rem;bottom: 0;}
.det-content .con-title::after{content:'';width: 4.9rem;height: 1px;background: #EBEBED;position: absolute;right: 0;bottom: 3px;}
.det-content p.text1{background:rgba(252,245,235,1);opacity:0.8;border-radius:.06rem;padding: .42rem .34rem;font-size: .26rem;color: #212121;line-height: 1.8em;margin-top: .48rem}
.sp_ul {margin-top: .48rem;}
.sp_ul li{float: left;width: 3.16rem;box-sizing: border-box;padding: .25rem .4rem .25rem;background: url('../images/3.5/sp_li.png'); background-size: 100% 100%;margin-bottom: .2rem}
.sp_ul li{display: block;color:#212121;}
.sp_ul li:nth-child(2n){margin-left: .18rem}
.sp_ul li h3{font-size: .3rem;font-weight: bold;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.sp_ul li p{font-size: .24rem;margin-top: .08rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

/*套餐外服务*/
.con_ban{width: 100%;height: 2rem;box-sizing: border-box;padding-top:.5rem;background: url('../images/3.5/common_bg.png'); background-size: cover;text-align: center;}
.con_ban h2{font-size: .36rem;font-weight: bold;color: #916927;position: relative;}
.con_ban h2::before{content:'';width: 1.2rem;height: 1px;background: #D4B177;position: absolute;left: 1.4rem;top: .21rem;}
.con_ban h2::after{content:'';width: 1.2rem;height: 1px;background: #D4B177;position: absolute;right: 1.4rem;top: .21rem;}
.main-con2{margin: -.6rem .3rem 0;position: relative;}
.main-con2 .det-content{box-shadow:0px 3px 19px 0px rgba(0, 0, 0, 0.05);border-radius: .2rem;background: #fff;padding: 0 .2rem .4rem;}
.main-con2 .det-content.has-open{padding-top: .1rem;}
.main-con2 .det-content.no-open{padding-top: .14rem;margin-top: .3rem }

/*已开服务*/
.has-open ul{margin-top: .25rem}
.has-open li{margin-bottom: .2rem;background: #FDF7EF;border-radius: .06rem;padding: .2rem;padding-left: .4rem}
.has-open li .con-left h3.left-title{font-size: .3rem;color: #333;font-weight: bold; width: 2.1rem; display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.has-open li .con-left p.left-p{font-size: .24rem;color: #212121;margin-top: .03rem; width: 2.1rem; display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.has-open li .con-mid{font-size: .22rem;color: #212121;line-height: .74rem}
.has-open li .con-mid strong{font-weight: bold;margin-left: .06rem}
.has-open li .xuqi{display: block;background: #EBCFA7;height: .72rem;line-height: .74rem;border-radius: .36rem;font-size: .28rem;color: #B8812A;font-weight: bold;padding: 0 .54rem;}
/*一键续期*/
.xuqibtn{margin: .4rem auto 0;text-align: center;}
.xuqibtn a{display: inline-block; text-align: center; color: #fff; padding: .21rem .65rem;background:linear-gradient(90deg,rgba(236,185,104,1) 0%,rgba(178,131,63,1) 100%); border-radius: .4rem; font-size: .28rem;font-weight: bold;}

/*未开服务*/
.no-open ul{margin-top: .3rem}
.no-open li{margin-bottom: .2rem;background: #FDF7EF;border-radius: .06rem;padding: .2rem;padding-left: .4rem}
.no-open li h3.no-title{font-size: .3rem;color: #333;font-weight: bold;line-height: .72rem; width: 4rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.no-open li h3.no-title.xcx-title{color: #C39248}
.no-open li h3.no-title span{font-size: .24rem;color: #212121;margin-left: .2rem;font-weight: normal;}
.no-title em{font-weight: bold;}
.no-open li .opening{display: block;background: #EBCFA7;height: .72rem;line-height: .74rem;border-radius: .36rem;font-size: .28rem;color: #B8812A;font-weight: bold;padding: 0 .54rem}
/*一键开通*/
.openbtn{margin: .4rem auto 0;text-align: center;}
.openbtn a{display: inline-block; text-align: center; color: #fff; padding: .21rem .65rem;background:linear-gradient(90deg,rgba(236,185,104,1) 0%,rgba(178,131,63,1) 100%); border-radius: .4rem; font-size: .28rem;font-weight: bold;}

/*商家服务 自选详情*/
/*商家特权*/
.privilege ul{margin-top: .34rem}
.privilege li{margin-bottom: .2rem;background: #FDF7EF;border-radius: .06rem;padding: .2rem;padding-left: .4rem}
.privilege li h3.pri-title{font-size: .3rem;color: #333;font-weight: bold;line-height: .72rem; width: 2.1rem; display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.privilege li .con-mid{font-size: .22rem;color: #212121;line-height: .72rem}
.privilege li .con-mid strong{font-weight: bold;margin-left: .06rem}
.privilege li .opening{display: block;background: #EBCFA7;height: .72rem;line-height: .74rem;border-radius: .36rem;font-size: .28rem;color: #B8812A;font-weight: bold;padding: 0 .54rem}
.privilege li .xuqi{display: block;background: #EBCFA7;height: .72rem;line-height: .74rem;border-radius: .36rem;font-size: .28rem;color: #B8812A;font-weight: bold;padding: 0 .54rem}

.main-con3{margin: -.6rem .3rem 0;position: relative;background: #fff;border-radius: .2rem}
.main-con3 .det-content{padding: 0 .2rem ;}
.main-con3 .det-content.no-open{padding-bottom: .4rem}

/*底部*/
.bottom_wrap{display: none}
.bottom_wrap.show{display: block;-webkit-animation: bottomFadeIn .3s ease-out; -moz-animation: bottomFadeIn .3s ease-out; animation: bottomFadeIn .3s ease-out;}
.bottom_wrap.hide{display: none;-webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out;}
/* 底部框 */
.bottom_box{position: fixed; left: 0; right: 0; bottom: 0; height: 1.2rem; background: #fff;box-shadow:0 -.02rem .23rem 0 rgba(0, 0, 0, 0.13); z-index: 99;padding-bottom:calc(-.5rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.5rem + env(safe-area-inset-bottom));}
.right_btn{float: right; width: 2.8rem; text-align: center; line-height: 1.2rem; background:linear-gradient(90deg,rgba(162,107,35,1) 0%,rgba(210,159,71,1) 100%); font-size: .34rem; color: #FFE7AB; font-weight: 500; text-shadow: 0 .03rem .05rem rgba(112,66,0,0.57); opacity: .37; padding-bottom:calc(-.5rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.5rem + env(safe-area-inset-bottom));}
.right_btn.rz_btn{opacity: 1;}
.left_box{padding-left: .3rem; margin-right: 2.8rem;}
.left_box .tip_chose{font-size: .28rem; color: #463312; padding-top: .45rem;}
.hui_box{height: .6rem; background: #FAF7F2; padding-left: .72rem; position: fixed; bottom: 1.2rem; left: 0; right: 0; z-index: 11; padding-bottom:calc(-.5rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.5rem + env(safe-area-inset-bottom)); }
.hui_box:after{content: ''; display: block; width: .6rem; height: .6rem; position: absolute; right: 0; top: 0;
background: -webkit-linear-gradient(90deg, rgba(250,247,242,0) 0, rgba(250,247,242,1) 50%, rgba(250,247,242,1) 100%);
background:    -moz-linear-gradient(90deg, rgba(250,247,242,0) 0, rgba(250,247,242,1) 50%, rgba(250,247,242,1) 100%);
background:      -o-linear-gradient(90deg, rgba(250,247,242,0) 0, rgba(250,247,242,1) 50%, rgba(250,247,242,1) 100%);
background:         linear-gradient(90deg, rgba(250,247,242,0) 0, rgba(250,247,242,1) 50%, rgba(250,247,242,1) 100%);
}
.hui_box>i{display: block; line-height: .42rem; width: .42rem; border-radius: .12rem; background: #C11B1E; color: #fff; text-align: center; position: absolute; top: .1rem; left: .16rem;font-size: .22rem;font-weight: bold;}

.hui_box #scroll_div,.hui_info{white-space: nowrap; color: #C11B1E; line-height: .6rem; font-size: .24rem; overflow: hidden;}
.hui_box #scroll_div p ,.hui_info p{display: inline-block; white-space: nowrap; margin-right: .2rem;}
.hui_info p.fn-hide{display: none;}
.hui_box .hui_info i{display: inline-block; width: .3rem; height: .3rem; background: url(../images/3.5/larr.png) no-repeat center; background-size: cover; vertical-align: middle;}
.all_info{padding: .2rem 0; padding-top: .25rem; }
.tc_info{font-size: .24rem; color: #463312;}
.price_show{font-size: .24rem; color: #21201D; font-weight: bold; line-height: 1.2em; margin-bottom: .1rem;}
.price_show .dot_left{font-size: .48rem;}
.price_show .dot_right{font-size: .3rem;}

.t_chose{display: block; width: .48rem; height: .48rem; background: url(../images/3.5/t_arr.png) no-repeat center; background-size: cover; position: absolute; top: .36rem; right: 3rem;}
/* 弹出层 */
.mask_pop,.mask_pop1{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,.7); z-index: 100; display: none;}
.pop_box{position: fixed; z-index: 101; width: 100%; max-height: 88%; background: #fff; border-radius: .3rem .3rem 0 0; bottom: -88%;}
.pop_box h2{line-height: 1.1rem; text-align: center; font-size: .34rem; color: #000; font-weight: bold; border-bottom: solid 1px #EBEBED; position: relative; z-index: 10;}
.pop_box h2 .cancel,.pop_box h2 .back{color: #999; font-size: .3rem; position: absolute; right: .58rem; font-weight: normal;}
.pop_box h2 .back{left: .43rem; right: auto; position: absolute;  }
.pop_box .all-choo{padding: .28rem .28rem .25rem;background: #FAF7F2;text-align: left;font-size: .28rem;color: #D9A55D;display: none;}
.pop_box .all-choo.show{display: block;}

/* 时长 */
.timeList{ height: 100%; box-sizing: border-box;  }
.timeList ul{height: 5.9rem; overflow: auto;}
.timeList ul li{margin: .1rem .3rem 0; line-height: .88rem; color: #333; font-size: .3rem;  border-radius: .1rem; padding: 0 .2rem;}
.timeList ul li.achose{background: #F0F0F2; font-weight: bold;}

.tl_box{text-align: center; z-index: 10; padding-bottom: 1.8rem;}
.timeList ul li.click{background: #F0F0F2;}
.mask_pop1{z-index: 10; }
/* 优惠详情 */
.hd_box{ z-index: 10; padding-bottom: 1.8rem;}
.hd_box h2{background: #FAF7F2; border-bottom: none; border-radius: .3rem .3rem 0 0;}
.hui_con>div{padding: .4rem 0; margin:0 .3rem;}
.hui_con>div.mj_detail{border-bottom: solid 1px #E6E7ED;}
.hui_con h1{font-size: .32rem; font-weight: bold; color: #F23841; margin-bottom: .24rem;}
.hui_con h1 i{display: inline-block;color: #fff; background:linear-gradient(90deg,rgba(255,74,104,1) 0%,rgba(247,57,57,1) 100%); border-radius: .2rem; font-size: .24rem; font-weight: normal; text-align: center; padding: .04rem .1rem; vertical-align: middle; margin-right: .13rem; margin-bottom: .04rem;}
.hui_con .jf_detail h1 i{background:linear-gradient(120deg,rgba(242,215,161,1) 0%,rgba(192,161,99,1) 100%);}
.hui_con .jf_detail h1{color: #D9A55D;}
.hui_con p{font-size: .26rem; line-height: .48rem;}
.hui_con .jf_detail span{color: #999; font-size: .26rem; margin-top: .4rem; display: block;}

.popMsg{position: fixed; top: 50%; left: 50%; background-color: rgba(0,0,0,.7); padding:.36rem .48rem ; border-radius:.16rem; transform: translate(-50%,-50%); min-width: 1rem; text-align: center; z-index: 9999999;}
.popMsg p{color: #fff; font-size: .28rem; }
.popMsg p .gou{width: .8rem; display: block; margin: auto; margin-bottom: .2rem; padding: 0 .58rem;}
.popMsg{top: 40% !important; z-index: 101;}
