body, html{background: #f0f0f2; font-size: .28rem;}
body{-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;-khtml-user-select: none;user-select: none;}
/*.header-l{padding-right: .8rem;}*/
.header{z-index: 2}
.header-r{visibility: visible;}
img{max-width: 100%}

.wrap{padding:0 .24rem;padding-bottom: calc(1.5rem + env(safe-area-inset-bottom));padding-bottom: calc(1.5rem + constant(safe-area-inset-bottom));}
.order_header{background: #fff}
.order_header ul{font-size: 0;padding: 0 .6rem;display: flex;justify-content: space-between;}
.order_header ul li{font-size: .32rem;width: 1.67rem;text-align: center;color: #333;padding: .34rem 0 .25rem;border-bottom: 3px solid #fff}
.order_header ul li.active{border-bottom: 3px solid #F97126}
/*设计师管理*/
.art_manage ul .com_li{margin-top:.2rem;background: #fff; position: relative; }
.art_manage .com_bottom{    padding: .32rem .24rem .35rem .27rem;box-shadow:0px 2px 6px 0px rgba(214,214,214,0.3);position: relative;border-radius: .06rem}
.art_manage .left_b{width: 1.4rem;height: 1.4rem;float: left;border-radius: .1rem}
.art_manage .left_b img{width: 100%;height: 100%;object-fit:cover;border-radius: .1rem}
.art_manage .right_b{margin-left: 1.7rem;position: relative;height:1.4rem;}
.art_manage .right_b .com_type{font-size: .34rem;color: #333;}
.art_manage .right_b .right_ul{font-size: 0;margin-top: .2rem}
.art_manage .right_b .right_ul li{color: #A0A0A0;font-size: .26rem;display: inline-block;padding: 0 .2rem;border-left: 1px solid #A6A6A6;height: .27rem;line-height: .27rem}
.art_manage .right_b .right_ul li:first-child{border-left: none;padding-left: 0}
.art_manage .right_b .phone{font-size: .26rem;color: #A6A6A6;margin-top: .15rem}
.art_manage .right_b .manage{font-size: .3rem;color: #45464F;position: absolute;top: .5rem;right: .18rem}
/*工长管理*/
.forman ul .com_li{margin-top:.2rem;background: #fff; position: relative; }
.forman .com_bottom{    padding: .32rem .24rem .35rem .27rem;box-shadow:0px 2px 6px 0px rgba(214,214,214,0.3);position: relative;border-radius: .06rem}
.forman .left_b{width: 1.4rem;height: 1.4rem;float: left;border-radius: .1rem}
.forman .left_b img{width: 100%;height: 100%;object-fit:cover;border-radius: .1rem}
.forman .right_b{margin-left: 1.7rem;position: relative;}
.forman .right_b .com_type{font-size: .34rem;color: #333;}
.forman .right_b .right_ul{font-size: 0;margin-top: .2rem}
.forman .right_b .right_ul li{color: #A0A0A0;font-size: .26rem;display: inline-block;padding: 0 .2rem;border-left: 1px solid #A6A6A6;height: .27rem;line-height: .27rem}
.forman .right_b .right_ul li:first-child{border-left: none;padding-left: 0}
.forman .right_b .phone{font-size: .26rem;color: #A6A6A6;margin-top: .15rem}
.forman .right_b .manage{font-size: .3rem;color: #45464F;position: absolute;top: .54rem;right: .18rem}

.wrap .order_content{display: none;animation: rightFadeIn .5s ease-out;}
.wrap .order_show{display: block;}

.art_btn{padding:.21rem .24rem;background: #fff;position: fixed;bottom: 0;left: 0;right: 0;padding-bottom: calc(.21rem + env(safe-area-inset-bottom));padding-bottom: calc(.21rem + constant(safe-area-inset-bottom)); }
.art_btn .art_add{background:linear-gradient(90deg,rgba(255,108,55,1) 0%,rgba(255,154,79,1) 100%);height: .88rem;line-height: .88rem;text-align: center;border-radius: .08rem;box-shadow:0px 5px 5px 0px rgba(255,133,68,0.31); }
.art_btn .art_add a{color: #fff;font-size: .3rem;font-weight: bold;display: block}

.forman_btn{display: none}
.tip{text-align: center;}
.fn-hide{display: none}
/*申请管理*/

.apply_manage ul .com_li{margin-top:.2rem;background: #fff; position: relative; }
.apply_manage .com_bottom{    padding: .32rem .24rem .35rem .27rem;box-shadow:0px 2px 6px 0px rgba(214,214,214,0.3);position: relative;border-radius: .06rem}
.apply_manage .left_b{width: 1.4rem;height: 1.4rem;float: left;border-radius: .1rem}
.apply_manage .left_b img{width: 100%;height: 100%;object-fit:cover;border-radius: .1rem}
.apply_manage .right_b{margin-left: 1.7rem;position: relative;height: 1.4rem}
.apply_manage .right_b .com_type{font-size: .34rem;color: #333;}
.apply_manage .right_b .right_ul{font-size: 0;margin-top: .2rem}
.apply_manage .right_b .right_ul li{color: #A0A0A0;font-size: .26rem;display: inline-block;padding: 0 .2rem;border-left: 1px solid #A6A6A6;height: .27rem;line-height: .27rem}
.apply_manage .right_b .right_ul li:first-child{border-left: none;padding-left: 0}
.apply_manage .right_b .phone{font-size: .26rem;color: #A6A6A6;margin-top: .15rem}
.apply_manage .opinion{position: absolute;right: 0;top: .2rem;width: 1.5rem;}
.apply_manage .opinion p{display: inline-block;width: 1.5rem;height: .52rem;line-height: .52rem;text-align: center;border-radius: .26rem;box-sizing: border-box;}
.apply_manage .opinion p.agree{background: #f97126;color: #fff;margin-bottom: .1rem}
.apply_manage .opinion p.refuse{background: #fff;color: #404040;border: 1px solid #c4c5c8}

/*选择设计师 隐藏页面*/
.te_wrap{background: #f0f0f2;    margin-top: .2rem;}
.te_wrap .tishi{height: .8rem;line-height: .8rem;font-size: .28rem;color: #8d8e91}
.te_choose{width: 100%; height: 100%; position: fixed; top: 0; right:-100%;bottom: 0; background-color: #f0f0f2; z-index: 3; overflow: auto; -webkit-overflow-scrolling: touch}
.te_choose .top_return{height: .9rem; background-color: #fff; box-shadow: 0 .02rem .06rem rgba(228,228,228,.6);}
.te_choose .top_return a{display: block; width: .9rem; height: .9rem; background-image: url(../images/renovation/arrow_l.png); background-position: center; background-size: .2rem; background-repeat: no-repeat; float: left;} 
.te_choose .top_return h2{font-size: .34rem; color: #333; text-align: center; line-height: .9rem; margin: 0 .9rem;}
.art_info1{padding: .6rem 0;background: #fff;margin-bottom: .2rem;text-align: center;}

.art_info1 .art_img{width: 2.1rem;height: 2.1rem;border-radius: .12rem;margin:0 auto;}
.art_info1 .art_img img{width: 100%;height: 100%;object-fit: cover;}
/*图片上传*/
.img_box{margin-top: .36rem}
.img_box li{width: 2.1rem; height: 2.1rem; border-radius: .12rem; background-color: #f5f5f5; float: left; position: relative; margin-bottom: .2rem;}
.img_box li:nth-child(3n-1){margin-left: .3rem; margin-right:.3rem;}
.img_show {width: 2.1rem; height: 2.1rem; border-radius: .12rem; overflow: hidden; position: relative;}
.del_btn{width: .44rem; height: .44rem; z-index:3;border-radius: 50%; background-color: rgba(0,0,0,.67); position: absolute;top: -.18rem; right: -.18rem; color: #fff; font-size: .5rem; text-align: center;  font-style: normal; line-height: .44rem; transform: rotate(45deg);}
.img_box img,.img_show video{width: 100%;height: 100%;object-fit: cover}
.imgshow_box p{ background-color: rgba(0,0,0,.8); color: #fff; position: absolute; bottom: 0; text-align: center; }
.upload_btn p,.addbtn p{font-size: .24rem; color: #a2a4ab; text-align: center; margin: auto; line-height: 1.25em;}
.upload_btn img{width: .61rem; height: .53rem; margin: auto; display: block; margin-top: .44rem; margin-bottom: .2rem;}
.upload_btn input{width: 2.1rem; height: 2.1rem; position: absolute; top: 0; left: 0; opacity: 1;z-index: 10;}
.upload_btn,.addbtn{position: relative;}
#filePicker{height: 100%; overflow: hidden;}
.webuploader-element-invisible {position: absolute !important; clip: rect(1px,1px,1px,1px);left: 0;
    width: 100%;
    height: 100%;}
.webuploader-container div {width: 2.1rem; height: 2.1rem;}

.qjimg_box .img_show{background-image: url(../images/renovation/add.png); background-repeat: no-repeat; background-position: center .55rem; background-size: .61rem .53rem;width: 2.1rem; height: 2.1rem; border-radius: .08rem; overflow: hidden; position: relative;}
.qjimg_box ul{width: 2.1rem;margin:0 auto;}
.qjimg_box ul .img_show{background-color: #F5F5F5;}
.qjimg_box ul>li{width: 2.1rem; height: 2.1rem; float: left; position: relative; }
.qjimg_box ul>li:nth-last-child(1):after{content: ''; display: block; clear: both;}
.qjimg_box ul>li:nth-child(3n-1){margin:0 .3rem ;}
.qjimg_box ul>li p{position: absolute; bottom: .59rem; text-align: center;}
.qjimg_box ul>li{position: relative;}
.qjimg_box ul>li .img{width: 100%; height: 100%; z-index:2;position: absolute;right: 0; top: 0; border-radius: .08rem; border-radius: .12rem }
.qjimg_box ul>li .img img{width:100%; height: 100%;object-fit: cover;border-radius: .12rem}
.qjimg_box p{ font-size: .24rem ; width: 100%;  color: #9fa1ab;}


.art_info1 .art_name input{color: #333;font-size: .36rem;margin-top: .36rem;text-align: center;border: none}
.art_info1 .right_ul{font-size: 0;margin-top: .28rem}
.art_info1 .right_ul li{color: #A0A0A0;font-size: .26rem;display: inline-block;padding: 0 .2rem;border-left: 1px solid #A6A6A6;height: .27rem;line-height: .27rem}
.art_info1 .right_ul li:first-child{border-left: none;padding-left: 0}
.art_info1 .del{color: #45464F;font-size: .3rem;margin: .44rem auto 0;text-align: center;width: 1.6rem;height: .64rem;line-height: .64rem;border: 2px solid #5C5D5E;border-radius: .32rem}
.art_info2{background: #fff;margin-bottom: .2rem}
.info{padding: 0 .3rem;background: #fff;margin-top: .16rem}
.info li{border-bottom: 1px solid #d8d9e3;padding: .3rem 0;font-size: .3rem;color: #45464F;position: relative;}
.info li .name{float: left;}
.info li input{float: right;text-align: right;border: 0;color: #45464f;padding-right: .43rem}
.info li input::placeholder{color: #9fa1ab; }
.info li .choose{float: right;margin-right: .1rem}
.info li .choose i{display: inline-block;width: .14rem;height: .24rem;background:url("../images/renovation/icon_next.png") no-repeat;background-size: contain;margin-left: .1rem;}
.info li:last-child{border-bottom: none}
.class-p{float: right;margin-right: .43rem}
.info li input[name='works']{color: #45464f;float: none;padding-right: 0}
.info li input[name='works'] + label{color: #45464f;}
.info li input[name='works']:focus + label,.info li input[name='works']:focus{color: #45464f;}
.info li input[name='age']{color: #45464f;float: none;padding-right: 0}
.info li input[name='age'] + label{color: #45464f;}
.info li input[name='age']:focus + label,.info li input[name='age']:focus{color: #45464f;}
.com-box{background: #fff;}
.com-box input{background: #fff;padding-right:.1rem!important}
.com-box .choose .text{color: #45464F;margin-right: .1rem}
.teacher input{background: #fff;}



.forman_hide2{display: none}
.info li.forman_hide1{border-bottom: none}
/*保存按钮*/
.btn-box{text-align: center;padding:.21rem .24rem;    width: 100%;box-sizing: border-box;background: #fff;margin-top: .5rem}
.btn-box .btn-keep{display:inline-block;width: 100%;height: .88rem;color:#fff;line-height:.88rem;font-weight:bold;font-size:.3rem;border-radius:.08rem;background:linear-gradient(90deg,rgba(255,108,55,1) 0%,rgba(255,154,79,1) 100%);box-shadow:0px 5px 5px 0px rgba(255,133,68,0.31);}
.loading{text-align: center;line-height: .88rem}

.progress {width: auto!important;position: absolute; right: 4px; bottom: 4px!important;  left: 4px; height: 4px; overflow: hidden; z-index: 15; margin:0; padding: 0; border-radius: 0; background: transparent;}
.progress span {display: block; overflow: hidden; width: 0; height: 100%; background: #499c00 url('/static/js/webuploader/progress.png') repeat-x; -webit-transition: width 200ms linear; -moz-transition: width 200ms linear; -o-transition: width 200ms linear; -ms-transition: width 200ms linear; transition: width 200ms linear; -webkit-animation: progressmove 2s linear infinite; -moz-animation: progressmove 2s linear infinite; -o-animation: progressmove 2s linear infinite; -ms-animation: progressmove 2s linear infinite; animation: progressmove 2s linear infinite; -webkit-transform: translateZ(0);}
@-webkit-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@-moz-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}