.main_wrap{background: #F6F6F6;padding-bottom: 40px;}
.head_wrap{padding: 50px 0;text-align: center;}
.head_wrap ul {display: inline-block;}
.head_wrap ul li{position: relative;float: left;text-align: center;}
.head_wrap ul li span{display: inline-block;width: 37px;height: 37px;border-radius: 50%;position: relative;border: 8px solid #FFEEEE;background: #FFCDCD;font-size: 21px;color: #FBFDFF;}
.head_wrap ul li p{font-size: 16px;color: #333;margin-top: 10px;}

.head_wrap ul li.active span{background: #FF4949}
.head_wrap ul li.be_li{margin-left: 370px;}
.head_wrap ul li span:before{content: '';display: block;width: 204px;height: 3px;background: #FFEEEE;position: absolute;top: 17px;right: 45px;}
.head_wrap ul li span:after{content: '';display: block;width: 204px;height: 3px;background: #FFEEEE;position: absolute;top: 17px;left: 45px;}
.head_wrap ul li.active span:before{background: #FF4949;}
.head_wrap ul li.active span:after{background: #FF4949;}

.head_wrap ul li.oneli span:before{display: none}
.head_wrap ul li.thirdli span:after{display: none}

/*选择地址*/
.left{float: left;}
.right{float: right;}
i{font-style: normal;}
.clearfix {
    zoom: 1;
}
.content_wrap{background: #fff;padding: 30px;}
h2.common-title{font-size: 20px;font-weight: bold;color: #333;padding-bottom: 20px;}
h2.common-title em{font-size: 14px;color: #999;margin-left: 18px;}
.part1Con{width: 100%; margin:0 0 45px;}
.part1Con .loading {width: 100%; height: 132px; text-align: center; font-size: 14px; line-height: 132px;}
.part1Con dl{ float: left; margin: 0 10px 10px 0;position: relative;}
.part1Con dt{position: relative; padding: 14px; border:1px solid #E6E6E6; background: #fff; cursor: pointer;width: 250px;height: 110px;box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;-moz-box-sizing: border-box;}
.part1Con dt i{position: absolute; right: -1px; bottom:-1px; width: 16px; height: 16px;background: url(../images/addr_checked.png); display: none;}
.part1Con dt .name{font-size: 14px; color: #333;margin-bottom: 10px;}
.part1Con dt p.address,.part1Con dt p.detail{font-size: 14px; color: #999; line-height: 18px;}
.part1Con dt .name p{line-height: 1;}
.part1Con dt .name p.addr_tel{margin-top: 6px;}
.part1Con dd{position: absolute;right: 1px;top: 1px;height: 27px;line-height: 26px;background: #ccc;font-size: 14px;color: #fff;cursor: pointer;display: none}
.part1Con dd a{display: block; padding:0 13px;color: #fff; }
.part1Con dl:hover dd{display: block;}

.part1Con dl.on dt{border-color: #FF4949}
.part1Con dl.on dt i{display: block;}
.part1Con dl.on a.setAddress{color:#333; cursor: no-drop; background: #f5f5f5}
.part1Con .add{ width:104px; height: 108px; border:1px solid #E6E6E6; background: #fff; margin-top: 0;}
.part1Con .add span{display: block; width: 40px; height: 40px; margin:20px auto 15px; background: url(../images/add.png);}
.part1Con .add p{text-align: center; color: #333;font-size: 14px;}
/*选择时间*/
.time_con{margin-bottom: 40px;}
.time_div div.chose-month,.time_div div.chose-time{display: inline-block;padding: 0 7px;height: 32px;line-height: 32px;border: 1px solid #E2E2E2;font-size: 14px;color: #999;background: #FBFDFF;position: relative;cursor: pointer;}
.time_div div.chose-month::after,.time_div div.chose-time::after{content: '';float: right;width: 10px;height: 6px;background:url(../images/se_down.png) no-repeat  center center;margin-left: 12px;margin-top: 13px;}
.time_div div.chose-time{margin-left: 10px;}
.time_div>div.has-cho{color: #333}
.time_div .chose-time .picktime,.time_div .chose-month .pickmonth{position: absolute;top: 32px;left: 0;right: 0;padding: 10px;border: 1px solid #E2E2E2;background: #fff;z-index: 9;display: none}
.time_div p{line-height: 28px;font-size: 14px;cursor: pointer;}
.time_div p:hover{color: #FF4949}
.time_div p.on{color: #FF4949}


/*图片上传*/
.img_con{margin-bottom: 30px;}
.img_box{ background: #fff;}
.img_box li{width: 96px; height: 96px;  background-color: #fff; float: left; position: relative; margin-bottom: 10px;border: 1px solid #e5e5e5;margin-right: 10px}
.img_show {width: 96px; height: 96px;overflow: hidden; position: relative;}
.del_btn{position: absolute;bottom: 0; right: 0;width: 30px; height: 30px; z-index:3;background: url(../images/delete.png) no-repeat center;cursor: pointer; font-size: 0}
.img_box img{width: 100%;height: 100%;object-fit: cover}
.upload_btn p,.addbtn p{font-size: 14px; color: #999; text-align: center; margin: auto; }
.upload_btn img{width: 36px; height: 36px; margin: auto; display: block; margin-top: 18px; margin-bottom: 8px;}
.upload_btn input{width: 96px; height: 96px; position: absolute; top: 0; left: 0; opacity: 1;z-index: 10;}
.upload_btn,.addbtn{position: relative;}
#filePicker{height: 100%; overflow: hidden;}
.webuploader-element-invisible {position: absolute !important; clip: rect(1px,1px,1px,1px);}
.webuploader-container div {width: 96px; height: 96px;}

/*添加备注*/
.note_con {margin-bottom: 40px;}
.note_con .textra_div{border:1px solid #E6E6E6;   width: 100%;}
.note_con textarea{display: block; width: 100%; padding: 16px;color:#999; box-sizing: border-box; min-height: 87px; border: 0; outline: 0; background: transparent; font-size: 14px;box-sizing: border-box;resize: none}
/*服务信息*/
.ser_content ul{padding: 18px 23px;border-top: 1px solid #eee}
.ser_content ul li{float: left;font-size: 14px;color: #999}
.ser_content ul li.t1{width: 44%}
.ser_content ul li.t2{width: 21%}
.ser_content ul li.t3{width: 22%}
.ser_content ul li.t4{width: 13%}

.ser_content h3.shop-title{font-size: 14px;color: #323232;font-weight: bold;padding: 10px 22px 13px;background: #F5F5F5;margin-top: 8px;}
.ser_content h3.shop-title a{color: #323232}
.shop-info {padding: 17px 22px;}
.shop-info .shop-info-img{width: 70px;height: 70px;float: left;position: relative;overflow: hidden;background: rgba(0,0,0,.3);}
.shop-info .shop-info-img img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.shop-info .shop-info-txt{margin-left: 86px;height: 70px;position: relative;}
.shop-info .shop-info-txt h3{font-size: 14px;color:  #323232;float: left;width: 285px;margin-top: 18px}
.shop-info .shop-info-txt h3 a{color:  #323232;}
.shop-info-txt .shop-info-price{float: left;margin-left: 130px;font-size: 14px;}
.shop-info-price .price{font-size: 14px;display: inline-block;vertical-align: top;margin-top: 13px;}
.shop-info-price .sizeBtn{display: inline-block;height: 30px;line-height: 30px;border: 1px solid #ddd;margin-left: 150px;margin-top: 9px}
.sizeBtn .numbtn{ display: inline-block; width: 36px; text-align: center;height: 30px;}
.sizeBtn input.count{ -webkit-appearance: none;display: inline-block;border:none;width: 60px;text-align: center; font-size: 12px;color: #222;border-left: 1px solid #ddd;border-right: 1px solid #ddd;vertical-align: top;height: 30px;}
.sizeBtn .numbtn.reduce{background: url(../images/minus.png) no-repeat center center;background-size: 10px 10px;}
.sizeBtn .numbtn.numadd{background: url(../images/numadd.png) no-repeat center center;background-size: 10px 10px;}
.shop-info-price .totalPrice{display: inline-block;font-size: 14px;color: #FF4949;margin-left: 140px;vertical-align: top;margin-top: 13px;}

/*去支付	*/
.money_wrap{padding: 20px 30px;background: #F1F1F1}
.account-btn {height: 50px;border-radius: 4px;line-height: 50px;background: #FF4949;}
.account-btn a{display: block;padding: 0 55px;color: #fff;font-size: 18px;}
.money_wrap .total-num{font-size: 14px;color: #666;margin-right: 20px;    margin-top: 8px;}
.money_wrap .total-num span{font-size: 14px;color: #FF4949}
.money_wrap .total-num span strong{font-size: 24px;}
/*新增地址弹出*/
/* 弹出层 */
#bg{position: fixed; left:0; top:0; width: 100%; height: 100%; background: #000; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5; z-index:1002;display: none;}
.popup,.popup1{position: fixed; _position: absolute; left: 50%; top:50%; width: 742px; height: 462px; margin-left:-372px; margin-top:-207px; background: url(../images/bg.png);display: none; z-index: 1002; }
.popCon{ width: 730px; height: 450px; margin:6px; background: #fff;   }
.popCon .tip,.popCon ul{width:700px;margin:0 auto;}
.popCon .tip{ height: 44px;  font-size: 16px; border-bottom: 1px solid #ececec; line-height: 44px}
.popCon .tip i{width:12px; height: 12px; background: url(../images/address.png) 0 -54px; margin: 16px 10px 0 0; cursor:pointer; ;}
.popCon ul{margin-top:35px;}
.popCon>ul li{width: 100%; line-height: 35px; font-size: 14px; margin-top: 20px;}
.popCon ul li dl{}
.popCon ul li dt{float: left; width: 100px; height: 35px; text-align: right}
.popCon ul li dd{position: relative; margin-left: 100px;}
.popCon ul li dd.confirm{margin-top: 40px;}
.popCon ul li font{color: #e54e54; margin-right: 5px}
.popCon ul li input{float: left; width: 200px; height: 33px; line-height: 33px; border:1px solid #ececec; padding:0 5px; margin-right: 10px;}
#address {width: 400px;}
#addrlist {float: left; margin-right: 10px;}
.popCon ul li dd.cue{font-size: 12px; color: #999}
.popCon ul li dd.confirm a{display: block; width: 125px; height: 36px; border-radius: 5px; text-align: center; line-height: 36px; color: #fff; font-size: 14px; background: #e11f28}
.popCon ul li dd select{height: 33px; line-height: 33px; border:1px solid #ececec; padding:0 6px; margin-right:  2px; max-width: 140px;}

.input-tips {float: left; display:none; color: #666; font-size: 12px;}
.input-tips s {display: inline-block; width: 17px; height: 17px; margin: -3px 5px 0 0; vertical-align: middle; background: url('../images/icon-status.png') 0 -296px;}
.popCon ul li.error .input-tips{display: inline-block;}
.popCon ul li.error input {border-color: #f76120;}


/*国际手机号*/
.popCon dd{position: relative;}
.popCon .inpbdr{border: 1px solid #ececec;height: 33px;line-height: 33px;width: 210px;position: relative;float: left;margin-right: 10px;}
.popCon .inpbdr .areaCode{border-right: 1px solid #ececec;width: 70px;text-indent: 18px; font-size: 14px;text-align: left;bottom: 1px;left: 1px;top: 1px;}
.popCon .inpbdr .areaCode s{right: 14px}
.popCon dd input#mobile{border: none;padding-left: 80px;width: 125px;margin-left: 0;margin-right: 0}
.popCon .areaCode_wrap{left: 0;width: 210px;top: 34px;}
.popCon .areaCode_wrap ul{width: 100%!important}