@charset "utf-8";


/* 幻灯 */
.slide {position: relative; width: 100%; height: 411px;}
#slide_big {position: relative; z-index: 1; overflow: hidden; width: 100%; height: 340px;}
#slide_big .loading {position: absolute;left:0;top:0;width: 100%;height: 100%;background-color: #fff;background-image:url(../images/loading.gif);background-position: center center;background-repeat:no-repeat;opacity:.4;filter:alpha(opacity=40);}
.big-item {position: absolute;left:0;top:0;width: 100%;height: 100%;display: none;}
.big-item .big-pic {height: 340px; text-align: center; line-height: 340px;}
.big-item .big-pic i {display: inline-block; height: 100%; vertical-align: middle;}
.big-item img {max-width: 100%; max-height: 340px; display: inline; z-index: 0; vertical-align: middle; -ms-interpolation-mode: bicubic;}



#slidebtn_prev , #slidebtn_next {position: absolute;top:50%;margin-top: -95px;width: 40px;height: 80px;opacity:0;filter:alpha(opacity=0);transition:opacity .3s;-webkit-transition:opacity .3s;}
.slide:hover #slidebtn_prev, .slide:hover #slidebtn_next {opacity:1;filter:alpha(opacity=100);}
#slidebtn_prev {left:0;background-position: -12px -6px;}
#slidebtn_next {right:0;background-position: -63px -6px;}



#slide_small {position: relative;height: 70px;background: #fff;overflow: hidden;margin-top: 10px;padding-left: 25px;padding-right: 25px;}
#slide_small .spbox {height: 70px;overflow: hidden;}
.picsmall {position: relative;height: 70px;}
.picsmall a {display: block;float: left;margin-right: 10px;}
.picsmall img {display: block;width:70px;height: 70px;box-sizing: border-box;}
.picsmall .active img {border:1px solid #FF653B;}



#slidebtn2_prev , #slidebtn2_next {position: absolute;top:0;width: 18px;height: 68px;cursor: pointer;border: 1px solid #DDDDDD}
#slidebtn2_prev{left:0;background:#fff url(../images/slide-left.png) no-repeat center center;}
#slidebtn2_next{right:0;background:#fff url(../images/slide-right.png) no-repeat center center;}
#slidebtn2_prev.disabled:hover {left:0;background-position: -4px -211px;}
#slidebtn2_next.disabled:hover{right:0;background-position: -33px -211px;}


#slidebtn_prev , #slidebtn_next{background-image: url(../images/scroll_btn.png);background-repeat: no-repeat;z-index: 10;}
