.main_wrap{background: #f5f5f5;padding-bottom: 40px;}
.detail_wrap1{padding: 20px 0 20px 20px;background: #fff; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;position: relative;}

.detail_left{width: 360px;float: left;}
.detail_right{margin-left: 386px;padding-right: 17px;height: 420px;}

.detail_top{border-bottom: 1px dashed rgba(130,130,130,.24);padding-bottom: 12px;position: relative;}

.detail_top .list_title{font-size: 24px;font-weight: bold;width: 644px;line-height: 36px;color: #323232}
.btn_group{overflow:hidden;position: absolute;right: 20px;top: 5px}

.btn_group button{background: none; border: none; outline: none; cursor: pointer; font-size: 14px; color: #8C8C8C;float: left; text-align: center;}
.btn_group em{display: block; width: 22px; height: 22px; background-repeat: no-repeat;  vertical-align: middle; }
.store-btn {float: left;}
.store-btn button em{background-image: url(../images/like11.png); background-position: top left; background-repeat: no-repeat;margin: 0 auto }
.store-btn.curr button em{background-image: url(../images/like22.png); background-position: top center; background-repeat: no-repeat;margin: 0 auto }

#sharre{position: absolute;width: 28px;height: 47px;top: 0;left: 0;right: 0;bottom: 0;opacity: 0}
.btn_group span{margin-top: 8px;display: inline-block; font-size: 14px; }

.topDiv .price{margin-top: 18px;}
.topDiv .price span{font-size: 16px;color: #FF5D2F}
.topDiv .price span strong{font-size: 36px;}
.topDiv .price em{font-size: 14px;color: #8C8C8C;margin-left: 10px;}
.topDiv .sale_after{margin-top: 10px;font-size: 0}
.topDiv .sale_after span{margin-right: 20px;}
.topDiv .sale_after span img{display: inline-block;vertical-align: middle; width: 18px;}
.topDiv .sale_after span em{margin-left: 2px;font-size: 14px;color: #999;line-height: 18px;vertical-align: middle;}

.detail_bot{margin-top: 12px;}
.detail_bot .flag{margin-top: 12px;font-size: 0}
.detail_bot .flag span.flag_span{display: inline-block;padding: 0 8px;background: #4A9CFF;margin-right: 10px;font-size: 12px;color: #fff;height: 23px;line-height: 23px;border-radius: 4px;}
.detail_bot span.hot_order{display: inline-block;padding: 0 8px;border-radius: 4px; font-size: 12px;color: #FF5D2F;border: 1px solid #FFC8BF;background: #FFEFEA;height: 21px;line-height: 21px;vertical-align: top}

.detail_bot .storeInfo{background: #F9F9F9;border-radius: 6px;padding: 16px;margin-top: 28px;position: relative;}
.storeInfo .store_img{width: 80px;height: 80px;border-radius: 50%;overflow: hidden;float: left;}
.storeInfo .store_img img{width: 100%;height: 100%;object-fit: cover;}
.storeInfo .store_r{margin-left: 90px;height: 80px;}
.storeInfo .store_r .title_top{line-height: 1;}
.storeInfo .store_r h2.store_title{font-size: 18px;color: #323232;max-width: 200px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: inline-block;vertical-align: top;margin-top: 7px;}
.storeInfo .store_r .contact{display: inline-block;width: 98px;height: 32px;cursor: pointer;border: 1px solid #F8F8F8;position: relative;border-radius: 2px;margin-left: 5px;}
.storeInfo .store_r .contact img{width:76px;height:14px;position:absolute;top:0;left:0;right:0;bottom:0;display: block;margin:auto;}
.storeInfo .store_r .contact:hover{box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);-moz-box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);-webkit-box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);-ms-box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);border: 1px solid #E6E6ED}
.storeInfo .store_r .com_type{font-size: 14px;color: #9F9FAB;line-height: 1}
.storeInfo .store_r .com_type span{padding-left: 10px;border-left: 1px solid #9F9FAB;display: inline-block;padding-right: 10px;line-height: 1}
.storeInfo .store_r .com_type span:first-child{padding-left: 0;border-left: none}
.storeInfo .store_r .pos_box{font-size: 14px;color:#828282;overflow: hidden;text-overflow: ellipsis;max-width: 50%;white-space: nowrap;margin-top: 7px;}
.storeInfo .store_r .pos_box a{color:#828282;}
.storeInfo .store_r .pos_box i{width:20px;height: 20px;display: inline-block;background: url(../images/place_icon.png) no-repeat center center;vertical-align: middle;margin-right: 4px;}
.storeInfo .peo_store{position: absolute;top: 50%;margin-top: -20px;right: 20px;height: 38px;line-height: 38px;border: 1px solid #EFACAC;border-radius: 5px;display: inline-block;}
.storeInfo .peo_store a{display: block;font-size: 16px;color: #FF4949;padding: 0 30px;position: relative;z-index: 2}
.storeInfo .peo_store a:hover{background:#FF4949;color: #fff;}
.storeInfo .peo_store a:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);background-color: rgba(0, 0, 0,.1); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#19000000, endcolorstr=#19000000);z-index: -1}

.info_ul{overflow: hidden;margin-top: 25px;}
.info_ul li{float: left;height: 48px;font-size: 18px;color: #fff;cursor: pointer;position: relative;line-height: 48px;border-radius: 5px;border: 1px solid #FF4949;width: 158px;text-align: center;}
.info_ul li.buy:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10); -moz-opacity:0.1;-khtml-opacity: 0.1;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=10);}

.info_ul li a{color: #fff;display: block;position: relative;z-index: 9}
.info_ul li.buy{ background:#FF4949;margin-right: 10px;}
.info_ul li.buy a{color: #fff;}
.info_ul li.call a{color: #FF4949}
.info_ul li.call:hover{background:rgba(255,73,73,.2); }

/*服务详情*/
.detail_wrap2{margin-top: 20px;}
.detail_ser{width: 885px;background: #fff;border-radius: 6px;}
.detail_ser .sev_name{border-bottom: 1px solid #eee;padding-left: 20px;}
.detail_ser .sev_name span{font-weight: bold;font-size: 20px;color: #323232;position: relative;display: inline-block;padding: 20px 0;}
.detail_ser .sev_name span::after{display: block;content: '';position: absolute;bottom: 0;width: 80px;height: 3px;background: #FF674E;}
.detail_ser .ser_info{padding: 35px 54px 40px 20px;}
.detail_ser .ser_info img{max-width: 100%!important;}
.detail_ser .ser_info p{font-size: 16px;color: #5A5A5E;line-height: 24px}
.detail_ser .ser_info span{font-size: 16px;color: #5A5A5E;line-height: 24px}

.news_r{float: right;width: 288px}
.newr_content h2.newr_tit{font-size: 24px;margin-bottom: 20px;}
.newr_content ul{padding-top: 6px;padding-bottom: 12px;background: #fff;}
.newr_content ul li{padding:10px 16px;position: relative;}
.newr_content ul li:hover{background: #f2f2f2}
.newr_content .r_left{width: 100px;height: 100px;float: left;position: relative;overflow: hidden;}
.newr_content .r_left img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.newr_content .r_left span.flag_span{display: inline-block;padding: 0 8px;background: #4A9CFF;font-size: 12px;color: #fff;height: 23px;line-height: 23px;border-radius: 4px;position: absolute;right: 5px;bottom: 5px;z-index: 2}
.newr_content .r_right{margin-left: 110px;height: 100px}
.newr_content .r_right h3{font-size: 14px;color: #323232;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 135px;}
.newr_content .r_right .store_desc{font-size: 12px;color: #999;margin-top: 5px;overflow: hidden;height:35px;}
.newr_content .r_right p.store_price{font-size: 16px;color: #FF5D2F;line-height: 1;position: absolute;bottom: 17px}
.newr_content .r_right p.store_price strong{font-size: 20px;}
