/*分类菜单*/
.main_wrap{background: #f5f5f5;}
.b-main{width: 100%;height: 540px;overflow: hidden;position: relative;}

.b-main .slideBox {height:540px;overflow:hidden;position: relative;}
.b-main .slideBox .slideobj {height:540px;}

.b-main .slideBox img{display: block; margin: 0 auto; width: auto;max-width:100%!important;height: 540px;}
.b-main .slideBox .hd{text-align:center;position:absolute;height:14px;line-height:14px;bottom:20px;left:0;right:0;}
.b-main .slideBox .hd ul{position:relative;display:inline;}
.b-main .slideBox .hd ul li{display:inline-block;width: 14px;height: 14px;-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius: 50%;margin: 0 5px;cursor: pointer;background:#fff;border:1px solid rgba(0, 0, 0, .18);}
.b-main .slideBox .hd ul li.on{background:#FF4949;border:1px solid #FF4949;}

/*服务模块*/
.service_wrap{background: #fff;padding: 60px 0 44px}
.service_wrap h1{font-size: 36px;font-weight: bold;text-align: center;}
.service_wrap ul{padding-top: 28px;}
.service_wrap ul li{margin-top: 20px;margin-right: 20px;width: 224px;float: left;position: relative;}
.service_wrap ul li:nth-child(5n){margin-right: 0}
.service_wrap .top_img{position: relative;width:224px;height: 256px;overflow: hidden;}
.service_wrap .top_img img{width:100%;display: block;height: 100%;object-fit: cover;}
.service_wrap .serviceInfo{padding: 12px 16px 12px 20px;/*transition: all .3s;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;*/}
.service_wrap .serviceInfo i{float: right;display: inline-block;width: 36px;height: 36px;background: url(../images/ser_arr2.png) no-repeat center center;background-size:100%;}
.service_wrap .serviceInfo strong{font-size: 20px;}

.service_wrap .ser_descrp{display: none;position: absolute;left: 0;right: 0;bottom:0;color: #fff;-webkit-animation: bottomFadeIn .3s ease-out; -moz-animation: bottomFadeIn .3s ease-out; animation: bottomFadeIn .3s ease-out;transition: all .3s;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;}
.service_wrap .descp_top{background:rgba(255,73,73,.8);padding: 70px 28px 0 28px;height: 256px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.service_wrap .ser_descrp h2{font-size: 18px;font-weight: bold;text-align: center;height: 24px;overflow: hidden;}
.service_wrap .ser_descrp p{font-size: 14px;line-height: 21px;margin-top: 30px;text-align: left;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 4;overflow: hidden;}
.service_wrap ul li:hover .ser_descrp{display: block;height: 310px;}
/*.service_wrap ul li:hover  .serviceInfo{background: #FF4949;position: relative;z-index: 2;}*/
.service_wrap .serviceInfo2{padding: 12px 16px 12px 20px;background: #FF4949}
.service_wrap .serviceInfo2 i{float: right;display: inline-block;width: 36px;height: 36px;background: url(../images/ser_arr1.png) no-repeat center center;background-size:100%;}
.service_wrap .serviceInfo2 strong{font-size: 20px;color: #fff}
/*最新入驻商家*/
.recomtop{margin-top: 40px;position: relative;z-index: 1;background: #f5f5f5;}
.public_top{position: relative;margin-bottom: 17px; }
.public_top .l span{font-size: 28px;color:#333;}
.public_top .r a{font-size: 14px;color:#fff;display: inline-block;padding: 0 20px;height: 44px;line-height: 44px;border-radius: 5px;background:linear-gradient(125deg,rgba(255,123,99,1),rgba(255,72,73,1));-moz-background:linear-gradient(125deg,rgba(255,123,99,1),rgba(255,72,73,1));-webkit-background:linear-gradient(125deg,rgba(255,123,99,1),rgba(255,72,73,1));-ms-background:linear-gradient(125deg,rgba(255,123,99,1),rgba(255,72,73,1)); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#FF7B63, endcolorstr=#FF4849);}

.recomtop li{float: left;width: 288px;margin-right: 16px;margin-bottom: 20px;transition: all .3s;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;}
.recomtop li:nth-child(4n){margin-right: 0}
.recomtop .top_img{position: relative;width:288px;height: 192px;overflow: hidden;}
.recomtop .top_img img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.recomtop .storeInfo{padding:  16px 16px 20px;background: #fff;}
.recomtop .storeInfo h3{font-size: 14px;color: #999;}
.recomtop .storeInfo p{font-size: 14px;color: #333;margin-top: 10px;max-width: 100%;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.recomtop li:hover{-webkit-box-shadow: 0px 3px 16px 0px rgba(156, 156, 156, 0.14);-moz-box-shadow: 0px 3px 16px 0px rgba(156, 156, 156, 0.14);box-shadow: 0px 3px 16px 0px rgba(156, 156, 156, 0.14);transform: translate3d(0,-8px,0);-o-transform: translate3d(0,-8px,0);-webkit-transform: translate3d(0,-8px,0);transform: -moz-translate3d(0,-8px,0);}
/*广告banner*/
.adv_wrap{margin-top: 40px}



/*公共头部标题 & 查看更多*/
.title_div{padding-top: 60px;padding-bottom: 46px;text-align: center;}
h2.common-title{display: inline-block;padding: 0 25px; position: relative;font-size: 28px;font-weight: bold;}
h2.common-title::before{content: '';display: block;position: absolute;left: -100px;top:23px;width: 100px;height: 1px;background: #C2C2C4;}
h2.common-title::after{content: '';display: block;position: absolute;right: -100px;top:23px;width: 100px;height: 1px;background: #C2C2C4;}

.s_more{width: 132px;height: 44px;border: 1px solid #E2E2E2;line-height: 44px;text-align: center;font-size: 16px;color: #8C8C8C;margin: 30px auto 0;border-radius: 3px;background: #FDFDFD;}
.s_more a{color: #8C8C8C;display: block;}
.s_more s{display: inline-block;width: 20px;height: 20px;background: url(../images/s_more.png) no-repeat;background-size:20px;vertical-align: middle;margin-top: -2px;margin-left: 3px;}
.s_more:hover {border: 1px solid #FF4949; }
.s_more:hover a{color: #FF4949;}
.s_more:hover s{background: url(../images/s_active.png) no-repeat;background-size: 20px;}

/*金牌人员*/
.main1{background: #fff;padding-bottom: 50px;}
.jin_peo .left_adv{width: 279px;height: 584px;position: relative;overflow: hidden;}
.jin_peo .left_adv .siteAdvObj{height: 584px;}
.jin_peo .left_adv img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}

.right_jin{width: 900px;}
.right_jin li{width: 210px;height: 280px;float: left;margin-right: 20px;margin-top: 20px;position: relative;}
.right_jin li:nth-child(4n){margin-right: 0}
.right_jin li:first-child,.right_jin li:nth-child(2),.right_jin li:nth-child(3),.right_jin li:nth-child(4){margin-top: 2px;}
.right_jin li .peo_img{width: 210px;height: 280px;position: relative;overflow: hidden;border-radius: 4px;}
.right_jin li .peo_img img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.right_jin li p.peoInfo{position: absolute;left: 0;right: 0;bottom: 0;padding: 14px;box-sizing: border-box;color: #fff;font-size: 16px;background:rgba(0,0,0,.5);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7f000000, endcolorstr=#7f000000);text-align: center;}

.peo_hide{position: absolute;left: 0;right: 0;bottom: 0;top: 0;-webkit-box-shadow: 0px 3px 13px 0px rgba(255,1,0,0.23);-moz-box-shadow: 0px 3px 13px 0px rgba(255,1,0,0.23);box-shadow: 0px 3px 13px 0px rgba(255,1,0,0.23);background:rgba(0,0,0,.5);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7f000000, endcolorstr=#7f000000);text-align: center;padding: 60px 10px 0 10px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;color: #fff;border-radius: 4px;overflow: hidden;display: none;-webkit-animation: bottomFadeIn .3s ease-out; -moz-animation: bottomFadeIn .3s ease-out; animation: bottomFadeIn .3s ease-out;}
.peo_hide h3{font-size: 18px;font-weight: bold;}
.peo_hide h3 em:first-child{display: none}
.peo_hide p.peo_detail{font-size: 14px;margin-top: 15px;}
.peo_hide i{display: block;margin:35px auto 0;width: 36px;height: 36px;background: url(../images/peo_add.png) no-repeat center center;background-size:100%;}
.peo_hide p.peoInfo2{position: absolute;left: 0;right: 0;bottom: 0;padding: 14px;box-sizing: border-box;font-size: 16px;background:linear-gradient(125deg,rgba(255,123,99,1),rgba(255,72,73,1));background:-moz-linear-gradient(125deg,rgba(255,123,99,1),rgba(255,72,73,1));background:-webkit-linear-gradient(125deg,rgba(255,123,99,1),rgba(255,72,73,1));background:-ms-linear-gradient(125deg,rgba(255,123,99,1),rgba(255,72,73,1));filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#FF7B63", endColorstr="#FF4849", gradientType="1");}
.right_jin li:hover .peo_hide{display: block;}

/*推荐商家*/

.newshop li{float: left;width:382px;position: relative;margin-right: 26px;transition: all .3s;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;}
.newshop li:last-child{margin-right: 0}
.newshop li:hover{-webkit-box-shadow: 0px 3px 13px 0px rgba(156,156,156,0.22);-moz-box-shadow: 0px 3px 13px 0px rgba(156,156,156,0.22);box-shadow: 0px 3px 13px 0px rgba(156,156,156,0.22);transform: translate3d(0,-8px,0);-o-transform: translate3d(0,-8px,0);-webkit-transform: translate3d(0,-8px,0);transform: -moz-translate3d(0,-8px,0);}
.newshop li img.new_recom{width: 52px;height: 46px;position: absolute;top: -6px;left: 23px;z-index: 2}
.newshop li .recom_img{width: 382px;height: 255px;background-color: #f5f5f5;position: relative;overflow: hidden;}
.newshop li .recom_img img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.newshop .recom_info{position: relative;padding: 24px;background: #fff}
.newshop .recom_info .recom_c{position: relative;height: 118px;border-bottom: 1px dashed #E1E1E1;padding-bottom: 10px;box-sizing: border-box;}
.newshop .recom_info h3{overflow: hidden;text-overflow: ellipsis;max-width: 100%;white-space: nowrap;font-weight: bold;font-size: 18px;color: #323232}
.newshop .recom_info h5{font-size: 14px;color: #9F9FAB;margin-top: 10px;}
.newshop .recom_info h5 span{padding-left: 10px;border-left: 1px solid #9F9FAB;display: inline-block;padding-right: 10px;line-height: 1}
.newshop .recom_info h5 span:first-child{padding-left: 0;border-left: none}
.newshop .pos_box{position: absolute;bottom: 10px;font-size: 16px;color:#828282;overflow: hidden;text-overflow: ellipsis;max-width: 100%;white-space: nowrap;}
.newshop .pos_box i{width:20px;height: 20px;display: inline-block;background: url(../images/place_icon.png) no-repeat center center;vertical-align: middle;margin-right: 4px;}
.newshop .see_call{text-align: center;margin-top: 14px;}
.newshop .see_call span{padding: 6px 16px;border-radius: 4px;background:linear-gradient(125deg,rgba(255,123,99,1),rgba(255,72,73,1));-moz-background:linear-gradient(125deg,rgba(255,123,99,1),rgba(255,72,73,1));-webkit-background:linear-gradient(125deg,rgba(255,123,99,1),rgba(255,72,73,1));-ms-background:linear-gradient(125deg,rgba(255,123,99,1),rgba(255,72,73,1)); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#FF7B63, endcolorstr=#FF4849);font-size: 16px;color: #fff;display: inline-block;}
.change_wrap{margin-top: 30px;text-align: center;}
.change_wrap span{display: inline-block;width: 132px;height: 44px;border: 1px solid #E2E2E2;line-height: 44px;text-align: center;font-size: 16px;color: #8C8C8C;border-radius: 3px;background: #FDFDFD;cursor: pointer;vertical-align:top;}
.change_wrap span.more_span{margin-left: 16px;}
.more_span a{color: #8C8C8C;display: inline-block;}
.more_span s{display: inline-block;width: 20px;height: 20px;background: url(../images/s_more.png) no-repeat;background-size:20px;vertical-align: middle;margin-top: -2px;margin-left: 3px;}
.change_wrap span:hover {border: 1px solid #FF4949; color: #FF4949;}
.change_wrap span:hover a{color: #FF4949;}
.change_wrap span:hover s{background: url(../images/s_active.png) no-repeat;background-size: 20px;}
.empty{padding: 40px 0;text-align: center;background: #fff;font-size: 16px;}

/*热门服务*/
.hot_service li{float: left;width:285px;position: relative;margin-right: 19px;margin-bottom: 23px;transition: all .3s;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-webkit-box-shadow: 0px 3px 13px 0px rgba(156,156,156,0.22);-moz-box-shadow: 0px 3px 13px 0px rgba(156,156,156,0.22);box-shadow: 0px 3px 13px 0px rgba(156,156,156,0.22);}
.hot_service li:nth-child(4n){margin-right: 0}
.hot_service li:hover{-webkit-box-shadow: 0px 4px 29px 0px rgba(0, 0, 0, 0.14);-moz-box-shadow: 0px 4px 29px 0px rgba(0, 0, 0, 0.14);box-shadow: 0px 4px 29px 0px rgba(0, 0, 0, 0.14);transform: translate3d(0,-16px,0);-o-transform: translate3d(0,-16px,0);-webkit-transform: translate3d(0,-16px,0);transform: -moz-translate3d(0,-16px,0);}
.hot_service li img.new_recom{width: 52px;height: 46px;position: absolute;top: -6px;left: 10px;z-index: 2}
.hot_service li .hot_img{width: 285px;height: 285px;background-color: #f5f5f5;position: relative;overflow: hidden;}
.hot_service li .hot_img img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.hot_service li .hot_img .flag{position: absolute;right: 10px;bottom: 8px;}
.hot_service li .hot_img .flag span{display: inline-block;padding: 0 8px;background: #4A9CFF;margin-left: 10px;font-size: 12px;color: #fff;height: 23px;line-height: 23px;border-radius: 4px;}

.hot_service li .hotInfo .hotInfo_top{padding: 13px 13px 16px;border-bottom: 1px dashed #E1E1E1;height: 123px;box-sizing: border-box;}
.hot_service li h2.tit{padding: 0 14px;overflow: hidden;text-overflow: ellipsis;max-width: 100%;white-space: nowrap;font-size: 16px;color: #323232}
.hotInfo .sale_after{margin-top: 10px;}
.hotInfo .sale_after span{margin-right: 20px;}
.hotInfo .sale_after img{display: inline-block;vertical-align: middle;}
.hotInfo .sale_after span em{margin-left: 2px;font-size: 14px;color: #999}
.hotInfo .hotDesc{margin-top: 15px;font-size: 12px;color: #FF5D2F;line-height: 1}
.hotInfo .hotDesc span.hot_price{font-size: 16px;color: #FF5D2F}
.hotInfo .hotDesc span.hot_price strong{font-size: 20px;}
.hotInfo .hotDesc span.hot_order{display: inline-block;padding: 0 8px;border-radius: 4px;border: 1px solid #FFC8BF;background: #FFEFEA;margin-left: 9px;height: 21px;line-height: 21px;vertical-align: top}
.hotInfo .hotDesc em{font-size: 14px;color: #999;margin-top: 5px;}
.hotInfo .hot_store{padding: 13px;}
.hotInfo .hot_store .left_img{width: 35px;height: 35px;border-radius: 50%;overflow: hidden;float: left;}
.hotInfo .hot_store .left_img img{width: 100%;height: 100%;    object-fit: cover;}
.hotInfo .hot_store .right_b{float: left;margin-left: 16px;overflow: hidden;text-overflow: ellipsis;max-width: 200px;white-space: nowrap;font-size: 14px;color: #666;line-height: 35px;}
.hot_service .s_more {margin-top: 7px}
/*查看更多*/
.bt_more{cursor:pointer;height: 48px;line-height:48px;font-size:18px;color:#5a5a5e;text-align:center;background: #fff;box-shadow: 0px 3px 5px 0px rgba(192, 199, 219, 0.51);margin-top:15px;}
.footer{margin-top:0;}

