.main_wrap{padding-bottom: 50px;}
.main_wrap .crumbs{padding: 0;border-bottom: none}
/*保姆详情*/
.con_wrap .left_con{width: 885px;background: #fff;box-sizing: border-box;padding: 16px;padding-right: 22px;border-radius: 6px;}
.left_con .nanny_img{width: 150px;height: 200px;position: relative;overflow: hidden;float: left;background: rgba(0,0,0,.2)}
.left_con .nanny_img img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.left_con .con_info{margin-left: 167px}
.nanny_info1{padding-bottom: 45px;border-bottom: 1px dashed #E1E1E1}
.nanny_info1 .infoName h1{display: inline-block;font-size: 24px;font-weight: bold;color: #323232}
.nanny_info1 .infoName i.jin-icon{width:22px;height: 22px;display: inline-block;background: url(../images/jin-icon.png) no-repeat center center;vertical-align: top;margin-left: 15px;margin-top: 7px;margin-right: 7px}
.nanny_info1 .infoName h1 em{font-size: 14px;color: #B5B5B5;font-weight: normal;display: inline-block;vertical-align: top;margin-top: 7px;}

.nanny_info1 .btn_group{float: right;}
.nanny_info1 .btn_group button{background: none; border: none; outline: none; cursor: pointer;  text-align: center;color: #8C8C8C;font-size: 14px;}
.nanny_info1 .btn_group em{display: inline-block; width: 22px; height: 22px; background-repeat: no-repeat;  vertical-align: middle; margin-right: 7px;margin-top: -2px;}
.nanny_info1 .store-btn button em{background-image: url(../images/like11.png); background-position: top left; background-repeat: no-repeat; }
.nanny_info1 .store-btn.curr button em{background-image: url(../images/like22.png); background-position: top center; background-repeat: no-repeat; }
.nanny_info1 ul{margin-top: 20px;    overflow: hidden;}
.nanny_info1 ul li{float: left;font-size: 14px;color: #999;margin-bottom: 13px;margin-right: 50px;width: 150px}
.nanny_info1 ul li span{color: #666;}
.nanny_info1 .peo_salary{font-size: 16px;color: #FF5D2F;margin-top: 23px;}
.nanny_info1 .peo_salary strong{font-size: 30px;}

h2.common-title{font-size: 20px;font-weight: bold;color: #323232;line-height: 1;padding-top: 30px;padding-bottom: 30px;}
/*认证资料*/
.certify_ul{padding: 5px 0 20px 45px;}
.certify_ul li{float: left;margin-right: 65px;text-align: center;}
.certify_ul li img{width: 26px;height: 22px;display: inline-block;}
.certify_ul li p{font-size: 14px;color: #5A5A5E;line-height: 1;margin-top: 10px;}
/*服务经验 求职意向*/
.common_ul li{padding-left: 44px;margin-bottom: 30px;}
.common_ul li span.peo_list{position: relative;display: inline-block;font-size: 14px;color: #8A8B91;padding-left: 24px;margin-right: 20px;line-height: 24px;}
.common_ul li span.peo_list::before{content: '';display: block;position: absolute;left: 0;top: 4px;width: 12px;height: 12px;background: url(../images/dot.png) no-repeat center center;}
.common_ul li span.peo_detail{display: inline-block;vertical-align: top;font-size: 14px;color: #5A5A5E;max-width: 502px;line-height: 24px;}

.nanny_info4 h2.common-title{padding-top: 3px;}

.con_wrap .right_con{position: absolute;top:256px;width: 288px;background: #fff;border-radius: 6px;overflow: hidden;margin-left: 910px;float: left;}
.right_con.fixed{position: fixed;top:142px;}
.right_con.sticky{position: -webkit-sticky;
    position: sticky;top:142px;margin-left: 25px;}
.right_con .topStore{padding: 0 15px;text-align: center;background: #fff}
.right_con .store_img{position: relative;width: 100%;height: 191px;overflow: hidden;}
.right_con .store_img img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.right_con h2.store_title{font-size: 18px;color: #323232;padding: 16px 0 0;}
.right_con .contact{display: inline-block;width: 98px;height: 32px;cursor: pointer;border: 1px solid #F8F8F8;position: relative;border-radius: 2px;}
.right_con .contact img{width:76px;height:14px;position:absolute;top:0;left:0;right:0;bottom:0;display: block;margin:auto;}
.right_con .contact:hover{box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);-moz-box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);-webkit-box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);-ms-box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);border: 1px solid #E6E6ED}
.right_con .com_type{font-size: 14px;color: #9F9FAB;margin-top: 10px;}
.right_con .com_type span{padding-left: 10px;border-left: 1px solid #9F9FAB;display: inline-block;padding-right: 10px;line-height: 1}
.right_con .com_type span:first-child{padding-left: 0;border-left: none}
.right_con .pos_box{padding-bottom: 18px;font-size: 16px;color:#828282;overflow: hidden;text-overflow: ellipsis;max-width: 100%;white-space: nowrap;margin-top: 20px;}
.right_con .pos_box a{color:#828282;}
.right_con .pos_box i{width:20px;height: 20px;display: inline-block;background: url(../images/place_icon.png) no-repeat center center;vertical-align: middle;margin-right: 4px;}
.right_con ul{padding: 16px 16px 30px;border-top: 1px dashed #e1e1e1;}
.right_con ul li{float: left;height: 44px;line-height: 44px;border-radius: 5px;border: 1px solid #FF4949;font-size: 14px;position: relative;}
.right_con ul li a{display: block;}
.right_con ul li.inStore{margin-right: 8px;}
.right_con ul li.inStore a{color: #FF4949 ;padding: 0 23px;}
.right_con ul li.see_phone{color: #fff;background: #FF4949;width: 142px;text-align: center; }
.right_con ul li.see_phone a{color: #fff;position: relative;z-index: 2;}
.right_con ul li.see_phone a:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);background-color: rgba(0, 0, 0,.1); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#19000000, endcolorstr=#19000000);z-index: -1}

.right_con ul li.inStore a:hover{background:rgba(255,73,73,.2);}