

/*列表*/
.baomu_wrap{margin-top: 40px;}

.content ul.list_ul li{float: left;width: 227px;background: #fff;margin-bottom: 20px;border-radius: 6px;overflow: hidden;position: relative;margin-right: 16px;transition: all .3s;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;}
.baomu_wrap .content ul li:nth-child(5n){margin-right: 0}
.content ul.list_ul li:hover{box-shadow:0px 5px 18px 0px rgba(0, 0, 0, 0.11);-webkit-box-shadow:0px 5px 18px 0px rgba(0, 0, 0, 0.11);-ms-box-shadow:0px 5px 18px 0px rgba(0, 0, 0, 0.11);-moz-box-shadow:0px 5px 18px 0px rgba(0, 0, 0, 0.11);transform: translate3d(0,-8px,0);-o-transform: translate3d(0,-8px,0);-webkit-transform: translate3d(0,-8px,0);transform: -moz-translate3d(0,-8px,0);}
.content ul.list_ul li .tui-icon{position: absolute;top:5px;left: 5px;font-size: 14px;color: #fff;  padding: 0 6px;height: 24px;border-radius: 12px 0 12px 0;line-height: 24px;z-index: 2;background-image: -moz-linear-gradient( 0deg, rgb(255,108,55) 0%, rgb(255,103,78) 100%);background-image: -webkit-linear-gradient( 0deg, rgb(255,108,55) 0%, rgb(255,103,78) 100%);background-image: -ms-linear-gradient( 0deg, rgb(255,108,55) 0%, rgb(255,103,78) 100%);}

.content .peo_img{width: 227px;height: 302px;position: relative;overflow: hidden;}
.content .peo_img img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.content .peo_img p.bm_type{position: absolute;bottom: 10px;right: 10px;}
.content .peo_img p.bm_type span{display: inline-block;padding: 0 7px;height: 22px;line-height: 22px;border-radius: 4px;font-size: 12px;color: #FCAA3F;margin-left: 5px;background: #FFF6E8}

.content .peoInfo{padding: 0 8px;}
.content .con_top{padding-top: 10px;text-align: center;}
.content .con_top h2{font-size: 18px;color: #323232;display: inline-block;max-width: 100px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.content .con_top i.jin-icon{width:22px;height: 22px;display: inline-block;background: url(../images/jin-icon.png) no-repeat center center;vertical-align: top;margin-left: 5px;margin-top: 3px;}
.content .peo_detail{font-size: 14px;color: #8C8C8C;margin-top: 0;text-align: center;line-height: 1}
.content .bm_salary{font-size: 16px;color: #FF5D2F;margin-top: 9px;padding-bottom: 9px;border-bottom: 1px dashed rgba(130,130,130,.24);text-align: center;    overflow: hidden;width: 100%;white-space: nowrap;text-overflow: ellipsis;}
.content .bm_salary strong{font-size: 20px;}

.content .peo_store{padding: 10px 2px 16px;}
.content .peo_store .left_img{width: 30px;height: 30px;border-radius: 50%;overflow: hidden;float: left;}
.content .peo_store .left_img img{width: 100%;height: 100%;object-fit: cover;}
.content .peo_store .right_b{float: left;margin-left: 10px;overflow: hidden;text-overflow: ellipsis;max-width: 150px;white-space: nowrap;font-size: 14px;color: #8C8C8C;line-height: 30px;}

.baomu_wrap .pagination{margin-top: 0}

