.main_wrap{background: #F6F6F6;padding-bottom: 40px;}
.head_wrap{padding: 50px 0;text-align: center;}
.head_wrap ul {display: inline-block;}
.head_wrap ul li{position: relative;float: left;text-align: center;}
.head_wrap ul li span{display: inline-block;width: 37px;height: 37px;border-radius: 50%;position: relative;border: 8px solid #FFEEEE;background: #FFCDCD;font-size: 21px;color: #FBFDFF;}
.head_wrap ul li p{font-size: 16px;color: #333;margin-top: 10px;}

.head_wrap ul li.active span{background: #FF4949}
.head_wrap ul li.be_li{margin-left: 370px;}
.head_wrap ul li span:before{content: '';display: block;width: 204px;height: 3px;background: #FFEEEE;position: absolute;top: 17px;right: 45px;}
.head_wrap ul li span:after{content: '';display: block;width: 204px;height: 3px;background: #FFEEEE;position: absolute;top: 17px;left: 45px;}
.head_wrap ul li.active span:before{background: #FF4949;}
.head_wrap ul li.active span:after{background: #FF4949;}

.head_wrap ul li.oneli span:before{display: none}
.head_wrap ul li.thirdli span:after{display: none}

.succ_wrap{background: #fff;padding-top: 150px;text-align: center;padding-bottom: 85px;}
.succ_wrap .succ_icon{width: 80px;height: 80px;margin: 0 auto}
.succ_wrap .succ_icon img{width: 80px;height: 80px;}
.succ_wrap p.pay_p1{font-size: 24px;margin-top: 30px;}
.succ_wrap ul{font-size: 0;margin-top: 140px;}
.succ_wrap ul li{display: inline-block;font-size: 18px;width: 224px;height: 46px;line-height: 46px;text-align: center;border-radius: 5px;}
.succ_wrap ul li a{display: block;}
.succ_wrap ul li.go_back{background: #fff;border: 1px solid #FF4949;margin-right: 20px;}
.succ_wrap ul li.see_order{background: #FF4949;border: 1px solid #FF4949;color: #fff}
.succ_wrap ul li.go_back a{color: #FF4949}
.succ_wrap ul li.see_order a{color: #fff}