.nos ,.nos body{overflow: hidden;}
.topInfo{margin-bottom: 0;}
.fixedwrap{height: 142px!important; margin: 20px 0 0!important;}
.fixedpane.fixed{height: 142px;}
.searchwrap{border:solid 2px #FF4949;height:42px;background-color:#fff; float: left; margin: 7px 10px 45px 140px;border-radius: 4px}
.w1200 .searchwrap{width: 486px;background: #fff}
.fixedwrap .header .logo{height: 60px;margin-top: 0}
.fixedwrap .search .inputbox{margin-left: 10px}
.fixedwrap .search .inpbox{margin-left: 0}
.fixedwrap .search .subbox{width: 95px;background: #FF4949;position: absolute;top:0;right:0;height: 42px;    -webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.fixedwrap .search .submit{width:95px;font-size: 15px;text-indent: 13px;}
.fixedwrap .search .subbox::before{content: '';position:absolute;top:50%;left:17px;margin-top:-9px;display: block;width:20px;height:20px;background: url(../images/topsearch.png) no-repeat;background-position: 0 0;}

.header .kefu{margin-top: 0;font-size: 22px;color: #1F1F1F;font-weight: bold;}
.header .kefu p{font-size: 16px}
/*搜索关键词*/
.fixedwrap .search{margin: 3px 95px 6px 3px}
.fixedwrap .search .type dl dt{line-height: 38px}
.searchkey{clear:both;height:34px;overflow:hidden;}

.searchkey::placeholder{color: #a0a0a0}
.searchkey a{font-size: 12px;margin:10px 7px;color: #999}
.searchkeys span{font-size: 12px;margin:10px 7px;color: #999;margin-left: 0}
.searchkey a:hover{color: #FF653B}

/*导航*/
.nav-con{width: 100%;height: 44px;margin:0 auto;background:#fff;position: relative;}
.nav-con::after{content: '';display: block;position: absolute;bottom: 0;width: 100%;height: 2px;background:linear-gradient(90deg,rgba(255,123,99,1),rgba(255,72,73,1));background:-webkit-linear-gradient(90deg,rgba(255,123,99,1),rgba(255,72,73,1));background:-ms-linear-gradient(90deg,rgba(255,123,99,1),rgba(255,72,73,1));background:-moz-linear-gradient(90deg,rgba(255,123,99,1),rgba(255,72,73,1));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF7B63,endColorstr=#FF4849);}
.nav-con .wrap .all_cate,.nav-con .wrap .nav_ul,.nav-con .nav_ul li{float: left;}
.nav-con .wrap .all_cate{position: relative;}
.nav-con .nav_ul{position: relative;}
.nav-con .nav_ul>li{margin-right: 40px;}
.nav-con .nav_ul>li>a{display:block; padding: 0 37px;font-size: 16px;line-height: 44px;}
.nav-con .nav_ul>li:hover>a{background-color: #FF4949;-webkit-transition:0.5s all ease;-moz-transition:0.5s all ease;-ms-transition:0.5s all ease;-o-transition:0.5s all ease;transition:0.5s all ease;border-radius:6px 6px 0px 0px;color: #fff;font-weight: bold;}
.nav-con .nav_ul>li a.curr{color: #fff;border-radius:6px 6px 0px 0px;background-color: #FF4949;font-weight: bold;}

.nav-con .nav_ul>li.xm-li i{position: absolute;background: url(../images/arrowd.png) no-repeat center center;background-size:100%;display: inline-block;width: 20px;height: 20px;margin-left: 3px;vertical-align: middle;top: 13px;}
.nav-con .nav_ul>li.xm-li:hover i{background: url(../images/arrowd2.png) no-repeat center center;background-size:100%;}
.nav-con .nav_ul>li.xm-li a.curr i{background: url(../images/arrowd2.png) no-repeat center center;background-size:100%;}
/*分类下拉*/
.xm-li .sub-category{display: none;position: absolute;top: 44px;left: 0;background: #fff;z-index: 9}
.xm-li .sub-category.navshow{display: block;}
.xm-li dl.sub-category {padding:20px 0;box-shadow:0px 0px 8px 0px rgba(0, 0, 0, 0.1);
border-radius:0px 0px 6px 6px;width: 1200px;}
.xm-li .sub-category dd {padding-top:5px;float: left;margin-left: 26px;font-size: 14px;width: 70px;text-align: center;}
.xm-li .sub-category dd a{color: #666;display: block;}
.xm-li .sub-category dd a:hover {color:#FF5D2F;font-size: 16px;}


.nav-con .wrap .boxRight{float: right;}
.nav-con .wrap .boxRight a{float: left;font-size: 16px;margin-left: 25px}
.nav-con .wrap .boxRight a:hover{color: #FF4949}
.nav-con .wrap .boxRight a i{float: left;width: 24px;height: 24px;margin-right: 5px}
.nav-con .wrap .boxRight a i.topFabu{background: url(../images/topFabu.png) no-repeat center center;background-size:cover;}
.nav-con .wrap .boxRight a i.topRuzhu{background: url(../images/topRuzhu.png) no-repeat center center;background-size:cover;}
.nav-con .wrap .boxRight a:hover i.topFabu{background: url(../images/topFabu2.png) no-repeat center center;background-size:cover;}
.nav-con .wrap .boxRight a:hover i.topRuzhu{background: url(../images/topRuzhu2.png) no-repeat center center;background-size:cover;}
/*标签*/
.box_mark .m_mark{font-size: 15px;text-align: center;height: 30px;line-height: 30px;float: left;margin-right: 10px;}
.box_mark .mark1{padding:0 15px;background: #ff5b4c;color:#fff;}
.box_mark .mark2{padding:0 10px;background: #f0f2f7;color:#5a5a5e;}
.box_mark .mark3{padding:0 10px;background: #5bbbff;color:#fff;}
.box_mark .m_mark:last-child{margin-right: 0;}
.m_pic{background-color: rgb(0, 0, 0,0.302);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d000000,endColorstr=#4d000000);}





#loadMore {background-color: #ddd; color: #555; text-align: center; height: 28px; line-height: 28px; border-radius: 2px; cursor: pointer;}
#loadMore:hover {background-color: #ccc;}
#loadMore.loading {font-size: 0; text-indent: -999em; background-color: #ccc; background-image: url('/static/images/loading-grey.gif'); background-repeat: no-repeat; background-position: center;}


/*微信二维码弹出层*/
.modal-wx{width: 100%;height: 100%;top:0;right: 0;left:0;bottom: 0;}
.modal-bg{position: fixed;top:0;right: 0;left:0;bottom: 0;background: rgba(0,0,0,.5);opacity: 0;z-index: -1;}
.modal-main{display:none;width: 600px;height: 500px;position: fixed;top: 50%;left: 50%;margin-top: -250px;margin-left: -300px;background: url(../images/wcodebg.png) no-repeat center center;background-size: contain;z-index: 1004;-webkit-animation:leftFadeIn .3s ease-out; -moz-animation:leftFadeIn .3s ease-out; animation:leftFadeIn .3s ease-out;}
.main-code img{width: 180px;height: 180px;position: absolute;top: 50%;left: 50%;margin-top: -24px;margin-left: -77px;}
.main-code p{text-align: center;line-height: 620px;font-size: 24px;color: #fff;}

.closebox{cursor:pointer;width: 50px;height: 50px;position: absolute;right: -18%;top:-15%;}
.closebox img{width: 50px;height: 50px;}
.curr .modal-main{display: block;}
.curr>.modal-bg{opacity: 1;z-index: 1003;}

.btntop a{height: 50px; width: 50px; border-radius: 4px;text-align: center;line-height: 50px;}
.btntop .top {background: rgb(145, 145, 145,.569); filter: Alpha(Opacity=56); opacity: .569;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.btntop .top:hover{background-color: rgb(145, 145, 145);}
.btntop .top img{margin-top: 13px;}

/*面包屑*/
.crumbs{height: 60px;line-height: 60px;padding-left: 33px;border-bottom: 1px solid #eee}
.crumbs .cont{float: left;font-size: 12px;color:#999;}
.crumbs .cont span{float: left;}
.crumbs .cont a {float: left;color:#999;}
.crumbs .cont a:hover{color:#FF4949;}
.crumbs .cont em {color: #666;float: left;margin-left: 2px;margin-right: 2px;}

/*分页*/
.pagination {padding: 10px 0 30px; text-align: center; line-height: 38px; font-size: 16px; color: #323232; margin-top: 30px;}
.pagination li {display: inline-block; margin-right: 7px; background-color:#fff;border: 1px solid  #E3E3E3;border-radius: 6px}
.pagination li.page_disabled {display: none;}
.pagination li a, .pagination li span {display: block; padding: 0 14px;color:#323232;}
.pagination li a:hover ,.pagination li.page_current span {background: #FF674E; color: #fff;border-radius: 6px}
.pagination li.page_more span {background: #fff;color: #323232; cursor: default;}
.pagination .page_info {display: none;}

/*列表页公共头部banner和筛选样式*/
.main_wrap{background: #f5f5f5}
.top_banner{width: 100%;min-height: 266px;}
.top_banner img{width: 100%;min-height: 266px;}
.yi_wrap{margin-top: -50px;position: relative;background: #fff;box-shadow:0px 7px 9px 0px rgba(136,136,136,0.09);-webkit-box-shadow:0px 7px 9px 0px rgba(136,136,136,0.09);-moz-box-shadow:0px 7px 9px 0px rgba(136,136,136,0.09);-ms-box-shadow:0px 7px 9px 0px rgba(136,136,136,0.09);border-radius: 6px;}


/* 筛选 */
.filter_box{padding-bottom: 10px;}
.filter {position: relative; font-size: 14px;padding-top: 8px;}
.filter dl{padding-left: 30px;}
.filter dt {float: left;/*height: 45px;*/line-height:48px;text-align: center; font-size:14px;color:#999;}

.filter dd {margin-left: 100px; padding: 12px 0 2px;overflow: hidden;line-height: 26px;position: relative;}
.filter dd a {float: left; position: relative; margin: 0px 14px 12px 0; padding: 0 8px; color: #666;font-size: 14px;height: 26px;line-height: 26px}

.filter dd a:hover {text-decoration: none; color: #FF674E;border-radius: 4px}
.filter dl dd a.curr{background-color: #FF674E; color: #fff;border-radius: 4px;position: relative;}
.filter dl dd a:hover.curr {text-decoration: none;}
.filter dd a s {display: none; position: absolute; left: 50%; bottom: 0; height: 0; width: 0; margin: 0 0 -8px -2px; overflow: hidden; border: solid 4px transparent; border-top-color: #fd4939;}
.filter dd a.curr s {display: block;}

.filter dl dd .firt_a.curr.hasSub::before{content: '';    display: inline-block;width: 8px;height: 8px;border-top: 1px solid #E1E1E1;border-right: 1px solid #E1E1E1;transform: rotate(-45deg);position: absolute;    left: 50%;margin-left: -4px;bottom: -16px;background: #fff;z-index: 9;}

/*更多和收起*/
.f_more{cursor:pointer;font-size: 14px;color:#FF674E;position: absolute;top: 12px; right: 30px;z-index: 1; -webkit-transition: all .3s linear;-o-transition: all .3s linear;transition: all .3s linear;}
.f_more i{display: inline-block;width: 12px;height: 12px;background: url(../images/icon_shouqi.png) no-repeat center center;background-size:cover;margin-left:5px;vertical-align: middle;margin-top: -5px;}
.f_more.curr i{transform: rotate(180deg);}

#fnav .item_box{width: 93%;overflow:hidden;height: 34px;-webkit-transition: all .3s linear;-o-transition: all .3s linear;transition: all .3s linear;}
#fnav .item_box.on{height: auto}


/*价格*/
.filter .inpbox{float: left;margin-top: -3px;}
.filter .inpbox .p1, .filter .inpbox .p2 {width: 72px; padding: 0 16px; height: 30px; border: solid 1px #E2E2E2; line-height: 30px;  margin: 0 4px;background: #fff;outline: none;border-radius: 4px;}
.filter .inpbox input::-webkit-input-placeholder {color: #C7C7C7}
.filter .inpbox input::-moz-input-placeholder {color: #C7C7C7}
.filter .inpbox input::-ms-input-placeholder {color: #C7C7C7}
.filter .inpbox .btn {padding:0 16px;height: 32px; line-height: 32px;display: inline-block;text-align:center; color: #323232; margin-left:8px;vertical-align: top;  cursor: pointer; white-space: nowrap; border: 1px solid #E2E2E2;font-size: 14px;outline: none;float: none;background: none;border-radius: 4px;}
.filter .inpbox .btn:hover{background: #FF674E;color: #fff}
.filter .more {position: absolute; left: 50%; bottom: -27px; width: 100px; height: 25px; text-align: center; line-height: 25px; font-size: 12px; border: 1px solid #e5e5e5; background-color: #fafafa; border-top-color: #fafafa;}
.filter .more a {display: block;}
.filter .more i {display: inline-block; vertical-align: middle; margin-left: 8px; width: 9px; height: 5px; background-position: -37px -34px;}
.filter .more a:hover i {background-position: -55px -34px;}
.filter .more.curr i {background-position: -28px -34px; margin-top: -3px;}
.filter .more.curr a:hover i {background-position: -46px -34px;}
.filter .subnav {display: none; clear: both; padding: 10px 10px 0 0; background-color: #fff;}
.filter .subnav div {display: none;}
.filter .subnav {width: 966px;padding: 4px 6px;border: 1px solid #E1E1E1;border-radius: 3px;*position: relative;position: relative;z-index: 0;margin-left: 58px;margin-bottom: 5px;margin-top: -1px}

.filter .subnav a {margin: 2px 14px 2px 8px;display: inline-block;}
.filter .subnav a.curr{color: #FF674E;background: #fff}
.sortbar .rowlist i,.sortbar .window i,.sortbar .tpage i,.pagination-pages a i,.pagination-pages span i{display:block;background-image: url(../images/listSprite.png);background-repeat: no-repeat; }
/*排序*/
.other_filter dl{padding-left: 30px;}
.other_filter dt {float: left;/*height: 45px;*/line-height:48px;text-align: center; font-size:14px;color:#999;}

.other_filter dd {margin-left: 92px; padding: 12px 0 2px;line-height: 26px;position: relative;}
.other_filter dd>a {float: left; position: relative; margin: 0px 14px 12px 0; padding: 0 8px; color: #666;font-size: 14px;height: 26px;line-height: 26px;}

/*.other_filter dd a:hover {text-decoration: none; color: #FF674E;}*/
.other_filter dl dd>a.active{color: #FF674E;border-radius: 4px;position: relative;}
.other_filter dd s{display: inline-block;width: 14px;height: 14px;background: url(../images/jiantou.png) no-repeat center center;background-size:cover;margin-left:6px;vertical-align: middle;margin-top: -2px;}
.other_filter dd i{display: inline-block;width: 16px;height: 16px;margin-right:6px;vertical-align: middle;margin-top: -2px;}
.other_filter dd i.juli-icon{background: url(../images/juli-icon.png) no-repeat center center;background-size:cover;}
.other_filter dd i.see-icon{background: url(../images/see-icon.png) no-repeat center center;background-size:cover;}
.other_filter dd .order_price{float: left;position: relative;margin: 0px 14px 0 0; padding: 0 8px 12px; color: #666;font-size: 14px;cursor: pointer}
.other_filter dd .order_price s{display: inline-block;width: 14px;height: 14px;background: url(../images/jiantou.png) no-repeat center center;background-size:cover;margin-left:6px;vertical-align: middle;margin-top: -2px;}
.other_filter .order_div{position: absolute;left: 0;top: 30px;width: 120px;text-align: center;background: #fff;border:1px solid rgba(242,242,242,1);box-shadow:0px 3px 11px 0px rgba(0, 0, 0, 0.11);-ms-box-shadow:0px 3px 11px 0px rgba(0, 0, 0, 0.11);-webkit-box-shadow:0px 3px 11px 0px rgba(0, 0, 0, 0.11);background: #fff;border-radius:4px;z-index: 9;padding: 4px 0;display: none;}
.other_filter .order_div a{color: #666;line-height: 38px;display: block;}
.other_filter .order_div a:hover{color: #FF674E}
.other_filter .order_div a.on{color: #FF674E}
.other_filter dd .order_price.active{color: #FF674E;}

/*清空状态*/
.deletebox{background: #fff}
.fi-state{display: none;}
.fi-state dt{width:90px;height: 57px;line-height:57px;text-align: center;float: left;font-size: 14px;color:#666}
.fi-state dd{margin-left: 40px;float: left;}
.fi-state dd a{padding-left:10px;height:24px;background: #fff;font-size: 14px;color:#333;margin-right: 20px;position: relative;border: 1px solid #FFC4B9;display: inline-block;margin-top: 15px;}
.fi-state dd a span{display: inline-block;height: 24px;line-height: 24px;margin-right: 9px;vertical-align: middle;}
.fi-state dd a i.idel{display: inline-block;width: 24px;height: 24px;background: #FFC4B9 url(../images/icon_del.png) no-repeat center center;background-size: 10px;vertical-align: middle;}
.fi-state .btn_clear{float: left;cursor: pointer;font-size: 14px;color:#666;line-height:57px;}



.failed{padding: 70px 0;}
.failed img{display: block;margin: 0 auto}
.failed span{display: block;text-align: center;padding: 35px 0 0;font-size: 16px;}
