

/*列表*/
.store_wrap{margin-top: 48px;}
.store_content{width: 880px;float: left;}
.store_content .list_ul li{background: #fff;margin-top: 32px;border-radius: 6px;overflow: hidden;position: relative;}
.store_content .list_ul li:first-child{margin-top: 0}
.store_content .list_ul li:hover{box-shadow:0px 5px 18px 0px rgba(0, 0, 0, 0.11);-webkit-box-shadow:0px 5px 18px 0px rgba(0, 0, 0, 0.11);-ms-box-shadow:0px 5px 18px 0px rgba(0, 0, 0, 0.11);-moz-box-shadow:0px 5px 18px 0px rgba(0, 0, 0, 0.11);}
.store_content .list_ul li .tui-icon{position: absolute;top:5px;left: 5px;font-size: 14px;color: #fff;  padding: 0 6px;height: 24px;border-radius: 12px 0 12px 0;line-height: 24px;z-index: 2;background-image: -moz-linear-gradient( 0deg, rgb(255,108,55) 0%, rgb(255,103,78) 100%);background-image: -webkit-linear-gradient( 0deg, rgb(255,108,55) 0%, rgb(255,103,78) 100%);background-image: -ms-linear-gradient( 0deg, rgb(255,108,55) 0%, rgb(255,103,78) 100%);}

.store_content .left_b{float: left;width: 288px;height: 192px;position: relative;overflow: hidden;}
.store_content .left_b img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}

.store_content .right_b{margin-left: 303px;height: 192px;position: relative;}
.store_content h2.store_title{font-size: 18px;color: #323232;display: inline-block;max-width: 80%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding-top: 16px;line-height: 1}

.store_content h5.store_type{font-size: 14px;color: #9F9FAB;margin-top: 10px;line-height: 1}
.store_content h5.store_type span{padding-left: 10px;border-left: 1px solid #9F9FAB;display: inline-block;padding-right: 10px;line-height: 1}
.store_content h5.store_type span:first-child{padding-left: 0;border-left: none}
.store_content .pos_box{font-size: 14px;color:#828282;overflow: hidden;text-overflow: ellipsis;max-width:90%;white-space: nowrap;position: absolute;bottom: 80px;}
.store_content .pos_box i{width:20px;height: 20px;display: inline-block;background: url(../images/place_icon.png) no-repeat center center;vertical-align: middle;margin-right: 4px;}
.store_content .see_call{position: absolute;bottom: 15px;}
.store_content .see_call span{width: 200px;height:46px;line-height: 46px;border-radius: 4px;background:linear-gradient(125deg,rgba(255,123,99,1),rgba(255,72,73,1));-moz-background:linear-gradient(125deg,rgba(255,123,99,1),rgba(255,72,73,1));-webkit-background:linear-gradient(125deg,rgba(255,123,99,1),rgba(255,72,73,1));-ms-background:linear-gradient(125deg,rgba(255,123,99,1),rgba(255,72,73,1)); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#FF7B63, endcolorstr=#FF4849);font-size: 16px;color: #fff;display: inline-block;overflow: hidden;}
/*.store_content .see_call span.call1{text-align: center;}*/
/*.store_content .see_call span.call2{display: none}*/
.store_content .see_call span.call2 i{width:46px;height: 46px;display: inline-block;background:#FF7E68 url(../images/call2.png) no-repeat center center;background-size: 22px 22px;}
.store_content .see_call span.call2 em{display: inline-block;vertical-align: top;width: 154px;text-align: center;position: relative;color: #fff;z-index: 2}
.store_content .see_call span.call2:hover em:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);background-color: rgba(0, 0, 0,.1); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#19000000, endcolorstr=#19000000);z-index: -1}

.new_store{float: right;width: 288px}
.newr_content h2.newr_tit{font-size: 24px;margin-bottom: 15px;}
.newr_content ul{padding:0;background: #fff;}
.newr_content ul li{padding:0 13px;position: relative;}
.newr_content ul li a{display: block;padding: 16px 0;border-top: 1px dashed #E1E1E1;}
.newr_content ul li:first-child a{border-top: none;}
.newr_content ul li:hover{background: #f2f2f2}
.newr_content .r_left{width: 80px;height: 53px;float: left;position: relative;overflow: hidden;}
.newr_content .r_left img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.newr_content .r_right{margin-left: 94px;height: 53px}
.newr_content .r_right p.store_pub{font-size: 14px;color: #C2C2C2;line-height: 1}
.newr_content .r_right p.store_desc{font-size: 14px;color: #323232;margin-top: 5px;overflow: hidden;text-overflow: ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:2;line-height: 18px}

.newr_content2{margin-top: 30px;}
.newr_content2 h2.newr_tit2{font-size: 24px;margin-bottom: 24px;}
.newr_content2 ul li{padding:16px 16px 30px;position: relative;background: #fff;border-radius: 6px;overflow: hidden;}
.newr_content2 ul li:hover{-webkit-box-shadow: 0px 3px 13px 0px rgba(156,156,156,0.22);-moz-box-shadow: 0px 3px 13px 0px rgba(156,156,156,0.22);box-shadow: 0px 3px 13px 0px rgba(156,156,156,0.22);}
.newr_content2 .r_topImg{width: 100%;height: 171px;float: left;position: relative;overflow: hidden;}
.newr_content2 .r_topImg img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.newr_content2 .r_botInfo{}
.newr_content2 .r_botInfo h3.store_tit{font-size: 18px;color: #323232;display: inline-block;max-width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding-top: 16px;line-height: 1}
.newr_content2 .r_botInfo h5.store_type{font-size: 14px;color: #9F9FAB;margin-top: 10px;line-height: 1}
.newr_content2 .r_botInfo h5.store_type span{padding-left: 10px;border-left: 1px solid #9F9FAB;display: inline-block;padding-right: 10px;line-height: 1}
.newr_content2 .r_botInfo h5.store_type span:first-child{padding-left: 0;border-left: none}
