

/*列表*/
.top_wrap{padding: 38px 0;background: url(../images/store_banner.png) no-repeat center center;background-size: cover}
.storeInfo .store_logo{width: 225px;height: 150px;box-sizing: border-box;border: 2px solid #fff;position: relative;overflow: hidden;}
.storeInfo .store_logo img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.storeInfo .store_mid{margin-left: 22px;/*width: 728px;*/}
.store_mid .title_div{font-size: 0}
.store_mid .title_div h1{display: inline-block;font-size: 24px;color: #F6F6F6;font-weight: bold;max-width: 650px;height: 36px;overflow: hidden;}
.store_mid .title_div em{font-size: 14px;color: #fff}
.store_mid .title_div span.tui-icon{position: absolute;top:5px;left: 5px;font-size: 14px;color: #fff;  padding: 0 8px;height: 24px;border-radius: 12px 0 12px 0;line-height: 24px;z-index: 2;background-image: -moz-linear-gradient( 0deg, rgb(255,108,55) 0%, rgb(255,103,78) 100%);background-image: -webkit-linear-gradient( 0deg, rgb(255,108,55) 0%, rgb(255,103,78) 100%);background-image: -ms-linear-gradient( 0deg, rgb(255,108,55) 0%, rgb(255,103,78) 100%);}
.store_mid .title_div span.tui-icon i{width:16px;height: 16px;display: inline-block;background: url(../images/store-tui.png) no-repeat center center;vertical-align: top;margin-top: 3px;margin-right: 2px;}
.store_mid dl{font-size: 0;margin-top: 10px;}
.store_mid dl dd{display: inline-block;margin-right: 6px;padding: 0 8px;height: 20px;border: 1px solid rgba(255,255,255,.5);font-size: 12px;color: #fff;border-radius: 4px;}
.store_mid .open-time{font-size: 14px;color: #F6F6F6;margin-top: 20px}
.store_mid .open-time i{width:20px;height: 20px;display: inline-block;background: url(../images/clock.png) no-repeat center center;vertical-align: top;margin-top: 3px;margin-right: 3px;}
.store_mid .pos_box{font-size: 14px;color:#F6F6F6;margin-top: 13px}
.store_mid .pos_box a{color:#F6F6F6;}
.store_mid .pos_box i{width:20px;height: 20px;display: inline-block;background: url(../images/place_icon.png) no-repeat center center;vertical-align: middle;margin-right: 3px;}
.store_r .btn_group{text-align: right;}
.store_r .btn_group button{background: none; border: none; outline: none; cursor: pointer;  text-align: center;color: #fff;font-size: 14px;}
.store_r .btn_group em{display: inline-block; width: 16px; height: 16px; background-repeat: no-repeat;  vertical-align: middle; margin-right: 4px;margin-top: -2px;}
.store_r .store-btn{    vertical-align: top;display: inline-block;margin-top: 5px;}
.store_r .store-btn button em{background-image: url(../images/like.png); background-position: top left; background-repeat: no-repeat; }
.store_r .store-btn.curr button em{background-image: url(../images/like2.png); background-position: top center; background-repeat: no-repeat; }
.store_r .btn_group .contact{cursor: pointer;display: inline-block;width: 98px;height: 32px;cursor: pointer;position: relative;border-radius: 4px;margin-left: 20px;}
.store_r .btn_group .contact img{width:76px;height:14px;position:absolute;top:0;left:0;right:0;bottom:0;display: block;margin:auto;}
.store_r .btn_group .contact:hover{box-shadow:0px 3px 15px 0px rgba(255,255,255,0.31);-moz-box-shadow:0px 3px 15px 0px rgba(255,255,255,0.31);-webkit-box-shadow:0px 3px 15px 0px rgba(255,255,255,0.31);-ms-box-shadow:0px 3px 15px 0px rgba(255,255,255,0.31);}
.store_r .see_phone{margin-top: 64px;width: 226px;height:48px;line-height: 48px;border-radius: 4px;background:linear-gradient(125deg,rgba(255,123,99,1),rgba(255,72,73,1));-moz-background:linear-gradient(125deg,rgba(255,123,99,1),rgba(255,72,73,1));-webkit-background:linear-gradient(125deg,rgba(255,123,99,1),rgba(255,72,73,1));-ms-background:linear-gradient(125deg,rgba(255,123,99,1),rgba(255,72,73,1)); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#FF7B63, endcolorstr=#FF4849);font-size: 16px;color: #fff;display: inline-block;overflow: hidden;text-align: center;cursor: pointer;position: relative;z-index: 2}
.store_r .see_phone:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);background-color: rgba(0, 0, 0,.1); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#19000000, endcolorstr=#19000000);z-index: -1}
/*服务项目 服务人员切换*/
.detail_wrap{padding-bottom: 50px;}
.detail_tab{background: #fff}
.detail_tab ul{padding-left: 15px;}
.detail_tab ul li{margin-right: 32px;float: left;padding: 14px 18px;font-size: 18px;}
.detail_tab ul li a{display: block;color: #323232}
.detail_tab ul li.active{color: #FF4949;border-bottom: 2px solid #FF4949;}
.detail_tab ul li.active a{color: #FF4949;}

.detail_con{display: none;-webkit-animation: rightFadeIn .3s ease-out; -moz-animation: rightFadeIn .3s ease-out; animation: rightFadeIn .3s ease-out;}
.detail_con.show{display: block;}
/*服务项目*/
.ser_project .pro_ul li{float: left;width: 590px;background: #fff;margin-top: 20px;border-radius: 6px;overflow: hidden;position: relative;margin-right: 20px;}
.ser_project .pro_ul li:nth-child(2n){margin-right: 0}
.ser_project .pro_ul li:hover{box-shadow:0px 5px 18px 0px rgba(0, 0, 0, 0.09);-webkit-box-shadow:0px 5px 18px 0px rgba(0, 0, 0, 0.09);-ms-box-shadow:0px 5px 18px 0px rgba(0, 0, 0, 0.09);-moz-box-shadow:0px 5px 18px 0px rgba(0, 0, 0, 0.09);}
.ser_project .pro_ul li .tui-icon{position: absolute;top:5px;left: 5px;font-size: 14px;color: #fff;  padding: 0 6px;height: 24px;border-radius: 12px 0 12px 0;line-height: 24px;z-index: 2;background-image: -moz-linear-gradient( 0deg, rgb(255,108,55) 0%, rgb(255,103,78) 100%);background-image: -webkit-linear-gradient( 0deg, rgb(255,108,55) 0%, rgb(255,103,78) 100%);background-image: -ms-linear-gradient( 0deg, rgb(255,108,55) 0%, rgb(255,103,78) 100%);}

.ser_project .left_b{float: left;width: 174px;height: 174px;position: relative;overflow: hidden;}
.ser_project .left_b img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}

.ser_project .right_b{margin-left: 174px;height: 174px;position: relative;padding: 0 15px;}
.ser_project .con_top{padding-top: 10px;}
.ser_project .con_top h2{font-size: 16px;color: #323232;display: inline-block;max-width: 345px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.ser_project .sale_after{margin-top: 7px;}
.ser_project .sale_after span{margin-right: 20px;}
.ser_project .sale_after span img{display: inline-block;vertical-align: middle; width: 18px;}
.ser_project .sale_after span em{margin-left: 2px;font-size: 14px;color: #999;line-height: 18px;vertical-align: middle;}

.ser_project .flag{margin-top: 10px;font-size: 0}
.ser_project .flag span.flag_span{display: inline-block;padding: 0 8px;background: #4A9CFF;margin-right: 10px;font-size: 12px;color: #fff;height: 23px;line-height: 23px;border-radius: 4px;}
.ser_project span.hot_order{display: inline-block;padding: 0 8px;border-radius: 4px; font-size: 12px;color: #FF5D2F;border: 1px solid #FFC8BF;background: #FFEFEA;height: 21px;line-height: 21px;vertical-align: top}

.ser_project .hot_store{padding: 17px 0 16px;border-top: 1px dashed rgba(130,130,130,.24);position: absolute;bottom: 0;right: 15px;left: 15px;}
.ser_project span.hot_price{font-size: 16px;color: #FF5D2F;line-height: 1}
.ser_project span.hot_price strong{font-size: 20px;}
.ser_project .hot_store em{font-size: 16px;color: #8C8C8C;margin-top: 3px;}

/*服务人员*/
.ser_people ul.peo_ul li{float: left;background: #fff;margin-top: 20px;border-radius: 6px;overflow: hidden;position: relative;margin-right: 16px;transition: all .3s;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;}
.ser_people ul.peo_ul li:nth-child(5n){margin-right: 0}
.ser_people ul.peo_ul li:hover{box-shadow:0px 5px 18px 0px rgba(0, 0, 0, 0.09);-webkit-box-shadow:0px 5px 18px 0px rgba(0, 0, 0, 0.11);-ms-box-shadow:0px 5px 18px 0px rgba(0, 0, 0, 0.11);-moz-box-shadow:0px 5px 18px 0px rgba(0, 0, 0, 0.11);transform: translate3d(0,-8px,0);-o-transform: translate3d(0,-8px,0);-webkit-transform: translate3d(0,-8px,0);transform: -moz-translate3d(0,-8px,0);}
.ser_people ul.peo_ul li .tui-icon{position: absolute;top:5px;left: 5px;font-size: 14px;color: #fff;  padding: 0 6px;height: 24px;border-radius: 12px 0 12px 0;line-height: 24px;z-index: 2;background-image: -moz-linear-gradient( 0deg, rgb(255,108,55) 0%, rgb(255,103,78) 100%);background-image: -webkit-linear-gradient( 0deg, rgb(255,108,55) 0%, rgb(255,103,78) 100%);background-image: -ms-linear-gradient( 0deg, rgb(255,108,55) 0%, rgb(255,103,78) 100%);}

.ser_people .peo_img{width: 227px;height: 302px;position: relative;overflow: hidden;}
.ser_people .peo_img img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.ser_people .peo_img p.bm_type{position: absolute;bottom: 10px;right: 10px;}
.ser_people .peo_img p.bm_type span{display: inline-block;padding: 0 7px;height: 22px;line-height: 22px;border-radius: 4px;font-size: 12px;color: #FCAA3F;margin-left: 5px;background: #FFF6E8}

.ser_people .peoInfo{padding: 0 8px;}
.ser_people .con_top{padding-top: 10px;text-align: center;}
.ser_people .con_top h2{font-size: 18px;color: #323232;display: inline-block;max-width: 100px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.ser_people .con_top i.jin-icon{width:22px;height: 22px;display: inline-block;background: url(../images/jin-icon.png) no-repeat center center;vertical-align: top;margin-left: 5px;margin-top: 3px;}
.ser_people .peo_detail{font-size: 14px;color: #8C8C8C;margin-top: 0;text-align: center;line-height: 1}
.ser_people .bm_salary{font-size: 16px;color: #FF5D2F;margin-top: 9px;padding-bottom: 9px;border-bottom: 1px dashed rgba(130,130,130,.24);text-align: center;}
.ser_people .bm_salary strong{font-size: 20px;}

.ser_people .peo_store{padding: 10px 2px 16px;}
.ser_people .peo_store .left_img{width: 30px;height: 30px;border-radius: 50%;overflow: hidden;float: left;}
.ser_people .peo_store .left_img img{width: 100%;height: 100%;object-fit: cover;}
.ser_people .peo_store .right_b{float: left;margin-left: 10px;overflow: hidden;text-overflow: ellipsis;max-width: 150px;white-space: nowrap;font-size: 14px;color: #8C8C8C;line-height: 30px;}

/* 分页 */
.pagination{margin-top: 100px;}
.pagination-gotopage {float: right; margin-left: 15px;}
.pagination-gotopage label {float: left; line-height: 28px; margin-right: 8px;font-size: 14px;color: #5a5a5e;}
.pagination-pages {display: inline-block;}
.pagination-pages a, .pagination-pages span {float: left; min-width: 38px; height: 38px;  margin: 0 8px 0 0; text-align: center; line-height: 40px; font-size: 16px; cursor: pointer; color: #323232; text-decoration: none;background-color:#fff;border-radius: 6px;border: 1px solid #E3E3E3}
.pagination-pages .curr {background: #FF674E; color: #fff;}
.pagination-pages a:hover { background: #FF674E; color: #fff;}
.pagination-pages .prev {display: inline-block;}
.pagination-pages .prev,.pagination-pages .next{width: 78px!important;background-color: #fff;border-radius: 6px}
.pagination-pages .prev.disabled,.pagination-pages .next.disabled{display: none;}
.pagination-pages span.interim{border: none;background: none;    min-width: 18px;
    line-height: 28px;}

.pagination2 {padding: 10px 0 30px; text-align: center;  margin-top: 100px;}
.pagination .page_info {display: none;}
