.main-wrap{background: #F5F5F5;padding-top: 20px;padding-bottom: 40px;}
.authtxt {color:#e83828 !important; list-style-type:none }
.authtxt img {width:2rem;vertical-align: top;}
.head_wrap{background: #fff;padding: 28px 0;text-align: center;}
.head_wrap ul {display: inline-block;}
.head_wrap ul li{position: relative;float: left;text-align: center;}
.head_wrap ul li i{display: block;width: 36px;height: 36px;border-radius: 50%;margin: 0 auto;position: relative;}
.head_wrap ul li i.xuan{background:#FCBF1C url(../images/cart01.png) center center no-repeat;background-size: 24px 24px;}
.head_wrap ul li i.que{background:#FCBF1C url(../images/cart03.png) center center no-repeat;background-size: 24px 24px;}
.head_wrap ul li i.zhi{background:#E5E5E5 url(../images/cart02.png) center center no-repeat;background-size: 24px 24px;}
.head_wrap ul li p{font-size: 18px;}
.head_wrap ul li.active p{color: #FCBF1C}

.head_wrap ul li.be_li{margin-left: 290px;}
.head_wrap ul li.be_li i:before{content: '';display: block;width: 344px;height: 4px;background: #E5E5E5;position: absolute;top: 17px;right: 36px;}
.head_wrap ul li.be_li.active i:before{background: #FCBF1C;}
.main-cart{margin-top: 20px;}
.left_order{background: url(../images/left_bg.png) center center no-repeat;width: 380px;background-size: 100% 100%;}

.left_order .left_tt{padding: 20px 16px 22px 12px;border-bottom: 1px solid #eee}
.left_order .left_tt span{font-size: 16px;}
.left_order .left_tt a{display: inline-block;float: right;font-size: 12px;color: #666;}
.left_order .left_table{padding: 20px 0 22px 22px;border-bottom: 1px solid #eee;font-size: 12px;color: #999}
.left_order .left_table span{display: inline-block;width: 16%}
.left_order .left_table span:first-child{width: 56%}
.left_order .left_table span.fen{width: 28%}
.car_list{padding: 0 10px;}
.hui i{display: inline-block;width: 20px;height: 20px;margin-right: 7px;vertical-align: middle;margin-top: -3px;}
.hui i.icon_shou{background: url(../images/icon_shou.png) center center no-repeat;background-size: cover;}
.hui i.icon_zhe{background: url(../images/icon_zhe.png) center center no-repeat;background-size: cover;}
.hui i.icon_jian{background: url(../images/icon_jian.png) center center no-repeat;background-size: cover;}
.hui i.icon_fan{background: url(../images/icon_fan.png) center center no-repeat;background-size: cover;}
.hui i.icon_quan{background: url(../images/icon_quan.png) center center no-repeat;background-size: cover;}
.car_list ul li{height: 50px;line-height: 50px;border-bottom: 1px solid #eee;font-size: 12px;color: #666;padding: 0 6px 0 12px;}
.car_list .car_t1 {height: 50px;line-height: 50px;border-bottom: 1px solid #eee;font-size: 12px;color: #666;padding: 0 6px 0 12px;}
.car_list .car_t1 .car_h1 {width: 60%}
.car_list .car_t1 .car_h3{text-align: right;font-size: 14px;}
.car_list .car_t2 ul em{font-size: 14px;}
.car_list .car_t4 ul span{float: right;color: #FF635C;font-size: 14px}
.car_list .car_t4 ul span.noquan{color:  #999}
.car_tprice{padding: 30px 0 36px;text-align: right;}
.car_tprice .price{font-size: 40px;color: #FF635C}
.car_tprice .price em{font-size: 14px;}
.car_tprice .totalFood{font-size: 12px;color: #666}

.right_type{width: 798px;border: 1px solid #eee;}
.right_type .type_tab ul{width: 100%;background: #eee;font-size: 0}
.right_type .type_tab ul li{width: 197px;height: 60px;line-height: 60px;text-align: center;font-size: 18px;color: #666;display: inline-block;}
.right_type .type_tab ul li a{color: #666;}
.right_type .type_tab ul li.active{background: #fff}
.right_type .type_tab ul li.active a{color: #FCBF1C;font-weight: bold;}
.right_type .type_con{padding: 0 20px;background: #fff}
.right_type .type_common{padding: 0 20px 34px;background: #fff}
.right_type h2.type_tt{font-size: 14px;font-weight: bold;padding: 42px 0 16px;}
.quan_type .loading{font-size: 14px;}
.addr-article{float: left;width: 210px;padding: 15px;padding-bottom: 20px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;border: 1px solid #E6E6E6;margin-right: 10px;margin-bottom: 10px;position: relative;height: 110px;position: relative;cursor: pointer;
}
.addr-article.checked{border: 2px solid #FCBF1C;background: url(../images/addr_checked.png) right bottom no-repeat;background-size: 14px 14px;}
.addr-article.disabled .addr_tip{background:rgba(16,16,16,.6);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99101010, endcolorstr=#99101010);position: absolute;left:0;top: 0;text-align: center;line-height: 110px;color: #fff;font-size: 14px;width: 210px;height: 110px;z-index: 2;display: block;}
.addr-article .gz-linfo{font-size: 14px;}
.addr-article .gz-linfo h5.consignee{font-size: 14px;}
.addr-article .gz-linfo .consignee_tel{font-size: 14px;}
.addr-article .gz-linfo .consignee_addr{font-size: 14px;color: #999;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;max-height: 40px;margin-top: 0;line-height: 18px;}
.gz-rbtn{position: absolute;right: 0;top: 0;height: 27px;line-height: 26px;background: #ccc;padding: 0 5px;font-size: 14px;color: #fff;cursor: pointer;display: none}
.gz-rbtn-edit i.icon_edit{background: url(../images/icon_edit.png) center center no-repeat;background-size: cover;display: inline-block;width: 16px;height: 16px;margin-right: 3px;vertical-align: middle;margin-top: -3px;}
.gz-addr-list .add{ width:110px; height: 110px; border:1px solid #E6E6E6;font-size: 14px; }
.gz-addr-list .add span{display: block; width: 40px; height: 40px; margin:20px auto 15px; background: url(../images/add.png);}
.gz-addr-list .add p{text-align: center; color: #333}
.addr-article:hover .gz-rbtn{display: block;}
/*新增地址弹出*/
.popup{position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;opacity: 0.5;background: rgb(0, 0, 0);z-index: 1008;display: none}
.gz-addr-addnew{position: fixed; z-index: 100001; display: none; width: 470px; left: 50%; top: 50%; margin-top: -200px;margin-left: -235px; background: #fff;  box-shadow: 0 0 20px rgba(0, 0, 0, .15); -webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;z-index: 1009}
.gz-addr-addnew .new_title{    font-size: 18px;font-weight: 600;padding: 15px;color: #333;text-align: center;}
.gz-addr-addnew s.cha { position: absolute; right: 20px; top: 20px; width: 14px; height: 14px; background-image: url(../images/close.png); background-position: center center; background-repeat: no-repeat;cursor: pointer }
.addressdialog-content{   padding: 15px 15px 30px;text-align: center;}
.addressdialog-content dl{position: relative;padding-bottom: 25px;font-size: 14px;display: inline-block;}
.addressdialog-content dl dt,.addressdialog-content dl dd{display: inline-block;}
.addressdialog-content dl dt{float: left;display: inline-block;width: 65px;height: 38px;margin-right: 20px;line-height: 38px;text-align: right;color: #666;}
.addressdialog-content dl dd input{vertical-align: baseline;border: 1px solid #dedede;box-sizing: border-box;width: 300px;height: 42px;line-height: 38px;padding-left: 10px;border-radius: 2px;}
.addressdialog-content dl dd #searchAddr{background: url(../images/icon_xin.png) 9px center no-repeat;background-size: 12px 16px;padding-left: 30px}
#map{display: none;position: absolute;left: 85px;top: 44px;z-index: 2}

.elseStreet { display: block; width: 80%; margin: .3rem auto; border: 2px solid #f00; height: .6rem; line-height: .6rem; border-radius: .5rem; color: #f00; font-size: .3rem; text-align: center;}

.mapresults{display: none;background: #fff;width: 300px;border: 1px solid #ddd;height: 150px;overflow: auto;z-index: 100; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;
}
.mapresults ul li{list-style: none;line-height: 16px;cursor: pointer;height: 50px;}
.mapresults ul li h5{padding: 6px 12px;font-size: 14px;color: #666;}
.mapresults ul li p{font-size: 12px;color: #999;padding: 0 12px;    white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}    
.payType{}
.payType ul{font-size: 0}
.payType ul li{display: inline-block;height: 80px;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;border: 1px solid #E6E6E6;padding: 18px 20px 20px;margin-right: 10px;}
.payType ul li h2{font-size: 16px;}
.payType ul li h2 span{font-size: 14px;color: #7EA7CE;}
.payType ul li p{font-size: 12px;color: #999;margin-top: 5px;}
.payType ul li.checked{border: 2px solid #FCBF1C;background: url(../images/addr_checked.png) right bottom no-repeat;background-size: 14px 14px;}
.tangram-suggestion-main{z-index: 999999}
/*.firm_div{margin-left: 84px;}*/
.firm_div button{    font-size: 14px;box-sizing: border-box;background: 0 0;border: none;padding: 0 20px;color: #9f9f9f;height: 42px;border-radius: 2px;cursor: pointer;}
.firm_div .gz-addr-safenewbtn{    margin-right: 10px;border: 1px solid #FCBF1C;background-color: #FCBF1C;color: #fff;width: 160px;}
/* 错误提示 */
.gzAddrErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 1000000; visibility: hidden;}
.gzAddrErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999999; left: 0; top: 50%; margin-top: -50px;}
/*优惠券*/
#list .item {position: relative;float: left;height: 144px;transition: all .3s ease-in;-moz-transition: all .3s ease-in;-webkit-transition: all .3s ease-in;-ms-transition: all .3s ease-in;margin-right: 10px;margin-bottom: 10px;}
#list .item a{display: block;width: 230px;height: 123px;background-size: 100% 3px;background-repeat: no-repeat;background-position: top center;border-width: 1px;border-style: solid;border-top: 0;padding-top: 3px;background-image: url(../images/bian2.png);border-color: #7ea7ce;position: relative;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
#list .item.disabled a{background-image: url(../images/bian1.png);border-color: #d1d1d1;}
#list .countNum {width: 100%;height: 80px;background-color: #7ea7ce;padding: 10px 15px 15px;  box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;
}
#list .item.disabled .countNum {background-color: #d1d1d1;}
#list .infoTit {background-color: #fff;height: 38px;line-height: 38px;padding: 0 15px;color: #7EA7CE}
.countNum .mianzhi{color: #fff;font-size: 14px;}
.countNum .mianzhi strong{font-size: 24px;margin-right: 5px;}
.countNum .time{font-size: 12px;color:rgba(255,255,255,0.6);}
#list .item.disabled .time{color:rgba(153,153,153,0.67);}
#list .item.disabled .infoTit{color: #ccc}
#list .item .because{position: absolute;bottom: 0;left: 16px;font-size: 12px;color: #999}
#list .item .because i.icon_error{display: inline-block;width: 14px; height: 14px; background-image: url(../images/icon_error.png); background-position: center center; background-repeat: no-repeat;vertical-align: middle;
    margin-top: -2px;margin-right: 3px;}
#list .item.checked a{border: 2px solid #FCBF1C;border-top:3px solid #FCBF1C;padding-top: 0;background-image: none}
#list .item.checked .infoTit{background-image: url(../images/addr_checked.png); background-position: right bottom; background-repeat: no-repeat;background-size: 14px 14px;}
/*备注*/
.demo_con{}
.demo_con textarea{width: 740px;height: 134px;border: 1px solid #E6E6E6;padding: 13px 10px;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;resize: none;font-size: 14px;}
select.preset {width: 738px;padding:14px 12px;border:1px solid;border-color:#E6E6E6;font-size: 14px;color: #999;-webkit-appearance:none;background: #fff url(../images/se_down.png) no-repeat 708px center;}
.input_preset{width: 738px;padding:14px 12px;border:1px solid;border-color:#E6E6E6;font-size: 14px;color: #999;-webkit-appearance:none;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.car_button{margin-top: 20px;}
.car_button #tj{color: #fff; background: #FCBF1C; padding: 0 64px; text-align: center; border: 0; outline: 0; height: 50px; font-size: 18px;line-height: 50px;cursor: pointer;}
.car_button #tj.disabled{background: #D1D1D1;}
/*自己提取*/
.extract_type {padding-top: 30px;}
.extract_type li{margin-bottom: 20px;}
.extract_type li span{display: inline-block;font-size: 14px;vertical-align: top;}
.extract_type li span:first-child{color: #333;font-weight: bold;width: 84px;margin-right: 20px;height: 36px;line-height: 36px; }
.extract_type li span.stro-sddr{color: #666;height: 36px;line-height: 36px;}
.extract_type li input#cosume_tel{width:220px;height:36px;background:rgba(255,255,255,1);border:1px solid rgba(230,230,230,1);line-height: 36px;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;padding-left: 12px;font-size: 14px;}
.extract_type li span.chose-time{width: 220px;padding:0 12px;border:1px solid;border-color:#E6E6E6;font-size: 14px;color: #999;-webkit-appearance:none;background: #fff url(../images/se_down.png) no-repeat 194px center;height: 36px;line-height: 36px;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;cursor: pointer}
.extract_type li span.chose-time.has-cho{color: #333}
.pickuptime-close{background: #FCBF1C;}
.type_con{display: none}
#pickuptime{border: 1px solid #eee}
.pickuptime-datap,.pickuptime{cursor: pointer;}


/* 准时宝相关时间 */
.arr_time{height: 50px; padding: 0 16px; font-size: 14px; color: #333; font-weight: bold; background: #F8F8F8; line-height: 50px; margin-top: 20px;}
.arr_time span{color: #5596FF;}

.ontime_box{margin-top: 20px; border: solid 1px #eee; height: 140px; position: relative; box-sizing: border-box; padding: 0 20px; padding-top: 60px; background-color: #fff;}
.ontime_box .time_head{width: 126px; height: 43px; border-radius: 0 0 36px 0; font-size: 18px; color: #111; font-weight: 800; line-height: 42px;position: absolute; top: 0; left: 0;
background:linear-gradient(132deg,rgba(255,218,119,1) 0%,rgba(255,189,36,1) 0%,rgba(252,191,28,1) 100%); }
.ontime_box .time_head img{border: none; vertical-align: middle; margin-left: 12px; margin-right: 2px;}
.right_btn{color: #222; font-size: 18px; position: absolute; top: 60px; right: 20px;}
.right_btn em{font-size: 24px;}
.ontime_box p{font-size: 14px; color: #333; text-align: left; margin-right: 200px; }
.ontime_box p em{font-weight: bold; color: 16px; color:#FF635C;}
.ontime_box p i{vertical-align: middle; cursor: pointer;}
.btn_agree{margin-top:20px ; display: block; color: #666; font-size: 14px; line-height: 16px;}
.btn_agree span{vertical-align: middle;}
.btn_agree i{display: inline-block; width: 16px; height: 16px; border: solid 1px #999; border-radius: 2px; margin-right: 6px; box-sizing: border-box; vertical-align: middle;}
.ontime_box.click .btn_agree  i{background: url(../images/gou.png) no-repeat bottom center;}
.ontime_box.click {border: solid 1px #FEB60E; background-color: #FFFEFA;}
.ontime_box .chose{width: 36px; height: 36px; position: absolute; right: 0; bottom: 0; background: url(../images/gou1.png) no-repeat center; background-size: cover;}
.ontime_box.click .chose{ background: url(../images/chose.png) no-repeat center; background-size: cover;}
.mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #000; opacity: .78; display: none;}
.xieyi_box{width: 1000px; height: 600px; position: fixed; top: 50%; left: 50%; background: #fff; border-radius: 10px; margin-left: -500px; margin-top: -300px; box-sizing: border-box; padding: 34px 66px; display: none; animation: popup .3s; z-index: 3;}
.xieyi_box h2{font-size: 24px; text-align: center; font-weight: bold; margin-bottom: 36px;} 
.xieyi_box .xy_content{color: #333; font-size: 14px; line-height: 36px; overflow: auto; text-indent: 2em; height: 440px;}
.xieyi_box .xy_content::-webkit-scrollbar{display: none; }
.xieyi_box .close{position: absolute;  top: 20px; right: 20px;}



.left_order.fixedTop{position: fixed; top: 20px;}
/* 商品推荐 */
.rec_li{width: 365px; height: 120px; background-color: #F8F8F8; float: left; box-sizing: border-box; padding: 15px; position: relative; margin-right: 12px; margin-bottom: 10px;}
.right_type h2.type_tt em{color: #FF635C;}
.rec_li .left_img{width: 90px; height: 90px; float: left;}
.rec_li .left_img img{width: 100%; height: 100%; object-fit: cover;}
.rec_li .right_info{margin-left: 100px;}
.rec_li .right_info h4{font-size: 16px; color: #333;}
.rec_li .right_info .d_price{font-size: 18px; margin-top: 30px;}
.rec_li .right_info .gou{width: 24px; height: 24px; background: url(../images/circle_gou.png) no-repeat center; position: absolute; top: 46px; right: 22px;}
.rec_li.click {background-color:#FAF7F1}
.rec_li.click .right_info .gou{width: 24px; height: 24px; background-image: url(../images/circle_gou1.png) ;}

.flyer-img{width: 100px;height: 100px;border-radius: 50%; z-index: 9999999;}
/* .left_order.swing { animation: swing .3s linear;-webkit-animation: swing .3s linear;-moz-animation: swing .3s linear;}
@-webkit-keyframes swing{0%{transform:scale(.8);}100%{transform:scale(1)}}
@-moz-keyframes swing{0%{transform:scale(.8);}100%{transform:scale(1)}}
@keyframes swing{0%{transform:scale(.8);}100%{transform:scale(1)}} */
/* 禁止滚动 */
.noscroll,
.noscroll body {
	 overflow: hidden;
}
.noscroll body {
	position: relative;
}
.car_list .car_t1{position:relative;}
.car_list .car_t1 .car_info{position: absolute;top: 30px;line-height: 1}


/* 20200309开通会员 */
.openvip{background-color: #F5F2EB; padding: 20px; border: solid 1px #eee; position: relative; margin-top: 30px;}
.openvip .open_tip{font-size: 14px; color: #999; text-align: right; cursor: pointer; }
.openvip .open_tip img{vertical-align: middle; margin-bottom: 4px; margin-left: 6px;}
.openvip .vlog{width: 112px; height: 35px; position: absolute; left: 0; top: 6px;}
.openvip .vlog img{width: 100%; height: 100%;}
.hui_box{overflow: hidden; padding: 34px 20px; border-radius: 6px; margin-top: 26px;
background: -webkit-linear-gradient(92deg,rgba(244,231,215,1) 0%,rgba(236,213,189,1) 100%);
background: -o-linear-gradient(92deg,rgba(244,231,215,1) 0%,rgba(236,213,189,1) 100%);
background: -ms-linear-gradient(92deg,rgba(244,231,215,1) 0%,rgba(236,213,189,1) 100%);
background:linear-gradient(92deg,rgba(244,231,215,1) 0%,rgba(236,213,189,1) 100%);
}
.left_hui{float: left; }
.left_hui p{font-size: 18px; color: #222; display: inline-block; vertical-align: middle; margin-bottom: 4px;}
.left_hui p em{font-size: 22px; color: #FF635C; font-weight: bold;}
.right_hui{float: right;}
.right_hui .h_span{font-size: 18px; vertical-align: middle;}
.right_hui .h_span em{font-size: 24px;}
.right_hui .c_span{display: inline-block; width: 24px; height: 24px; background: url(../images/circle_gou.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: 4px; margin-left: 14px;}
.right_hui .c_span.click{background-image: url(../images/circle_gou2.png);}
/* 会员等级样式 */
.lBox{ line-height: 20px; border-radius: 10px; display: inline-block;  padding-right:8px; position: relative;  overflow: hidden; z-index: 2; vertical-align: middle; margin-right: 12px; }
.lBox .before{background:rgba(0,0,0,.5); content: ''; display: block; width: 100%; height: 100%; position: absolute;right:0; top: 0; z-index: -2;}
.lBox .after{ display: block; width: 100%; height: 20px;position: absolute;right: 0; top: -.16rem; z-index: -1; transform: rotate(-35deg); transform-origin: right center;}
.lBox i{display: inline-block; width:20px; height: 20px;  background: no-repeat center; background-size: 16px;vertical-align: middle;}
/* .lBox i img{width: 100%; height: 100%; display: block;} */
.lBox span{vertical-align: middle; font-size: 12px; color: #fff; line-height: 1px; }
/* 等级0 */
.lBox.level_0 i,.lBox.level_0 .before,.lBox.level_0 .after{background: none; display: none;}

.lBox.level_0 span{line-height: 22px; background: #EEF1F3; color: #949191; font-size: 12px; padding: 0 6px; border-radius: 11px;display: inline-block;}
/* 等级1 */
.lBox.level_1 span{color: #4581B1;}
.lBox.level_1 i{background-image:url(../images/v_5.png) ;}
.lBox.level_1 .before{background:rgba(171,214,255,1);}
.lBox.level_1 .after{ background: rgba(145,202,255,1); }
/* 等级2 */
.lBox.level_2 span{color: #C29339;}
.lBox.level_2 .before{background: #FDE7A9;}
.lBox.level_2 .after{background: #F7DA8D;}
.lBox.level_2 i{background-image:url(../images/v_4.png) ;}
/* 等级3 */
.lBox.level_3 .before{background: #757067;}
.lBox.level_3 .after{background: #66625A;}
.lBox.level_3 i{background-image:url(../images/v_3.png) ;}
/* 等级4 */
.lBox.level_4 .before{background: #6B727A;}
.lBox.level_4 .after{background: #5B6067;}
.lBox.level_4 i{background-image:url(../images/v_2.png) ;}
/* 等级5 */
.lBox.level_5 .before{background: #4B4B4A;}
.lBox.level_5 .after{background: #3B3B3C;}
.lBox.level_5 i{background-image:url(../images/v_1.png) ;}

.rec_li .right_info .d_price {display: inline-block;}
.rec_li .right_info .v_price s{display: inline-block; width: 35px; height: 18px; background: url(../images/vip_icon.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: 4px; margin-left: 4px;}
.rec_li .right_info .o_price{display: inline-block; font-size: 14px; color: #999; text-decoration: line-through; margin-left: 8px; margin-bottom: 4px;}
.openvip .btn_agree.click i{background: url(../images/gou.png) no-repeat bottom center;}

.car_list ul li.hui .fn-right{color: #FF635C;}
#huijian .fn-left s{float:left; width: 22px; height: 22px; vertical-align: middle; border-radius: 2px; margin-right: 3px; /* background: url(../images/V.png) no-repeat center; */ 
background: -webkit-linear-gradient(158deg,rgba(75,74,73,1) 0%,rgba(53,53,53,1) 100%);
background: -o-linear-gradient(158deg,rgba(75,74,73,1) 0%,rgba(53,53,53,1) 100%);
background: -ms-linear-gradient(158deg,rgba(75,74,73,1) 0%,rgba(53,53,53,1) 100%);
background:linear-gradient(158deg,rgba(75,74,73,1) 0%,rgba(53,53,53,1) 100%);
}
#huijian .fn-left{background:linear-gradient(92deg,rgba(244,231,215,1) 0%,rgba(231,208,184,1) 100%); line-height: 22px; margin-top: 14px; height: 22px; padding-right: 9px; color: #5D533E;}
#huijian .fn-left s i{display: block; width: 22px; height: 22px; background: url(../images/V.png) no-repeat center; margin-top:1px;  }

#peisong .v_tip{display: inline-block; font-size: 12px; color: #A88F62; padding: 0 8px; line-height: 24px; background-color: #FBF4EC; border-radius: 3px; margin-right: 11px;}
#peisong .delever_jian{font-size: 14px; color: #999; text-decoration: line-through; margin-right: 8px;}
.fn-right.fn-hide{display: none;}

.aright_box.show{display: block;}
.aright_box{width: 360px; max-height: 420px; border-radius: 10px; background-color: #F4F1EC; position: fixed; top: 50%; left: 50%; margin-top: -210px; margin-left: -180px; z-index: 99; box-sizing: border-box; padding: 32px 28px; display: none;}
.aright_box h2{text-align: center; font-size: 24px; font-weight: bold; color: #222;}
.aright{width: 304px; margin: auto; padding: 26px; background-color: #FBF9F8; border: solid 1px #D6CFC4; box-sizing: border-box; border-radius:10px; margin-top: 26px;}
.aright li{color: #A88F62; line-height: 36px; font-size: 16px; text-align: center;}
.btn_close{display: block; background:linear-gradient(84deg,rgba(62,61,59,1) 0%,rgba(53,53,53,1) 100%);border-radius:24px; height: 48px; color: #fff !important; line-height: 48px; text-align: center; margin-top: 16px; font-size: 18px;}
.aright_box .close{position: absolute;right: 14px; top: 14px;}


/* 20200612新增区号 */
.arealist{width: 300px;  position: absolute; top: 40px; background: #fff; min-height: 200px; animation: topFadeIn .3s ease-in-out;box-shadow:0px 7px 13px 0px rgba(35,38,51,0.23); border-top: solid 2px #141414; z-index: 9;display: none;max-height: 300px; overflow: auto; }
.arealist ul{padding-top: 10px; padding-bottom: 7px; }
.arealist li{line-height: 40px; color: #333; margin: 0 10px; border-radius: 6px; padding: 0 10px; cursor: default; text-align: left;}
.arealist li:hover{ background: #F0F0F2;}
.addressdialog-content dl dd{position: relative;}
.addressdialog-content dl dd>span{font-size: 14px; color: #333; width: 60px; height: 40px; position: absolute; left: 0; top: 0; text-align: center; line-height: 40px; display: block; cursor: pointer;}
.addressdialog-content dl dd #mobile{margin-left: 60px; width: 240px;}
.addressdialog-content dl dd span i{display: inline-block; width: 12px; height: 12px; background: url(../images/arr1.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: 4px;}
