.wrap{width: 1200px; margin: 0 auto;}
a:hover{text-decoration: none;}



.wrap{width: 1200px; margin: 0 auto;}
a:hover{text-decoration: none;}
a{cursor: pointer}
.topInfo{margin-bottom: 0}
.bgfff{background: #fff;}
.bgfff-inner{-webkit-box-shadow: 0px 2px 16px 0px rgba(147,147,147,0.07);-moz-box-shadow: 0px 2px 16px 0px rgba(147,147,147,0.07);box-shadow: 0px 2px 16px 0px rgba(147,147,147,0.07);
}
.header{padding-bottom: 20px;margin-top: 13px; }
.header .logo {float: left;max-width: 270px;height: 66px;overflow: hidden;}
.header .logo a {display: block;overflow: hidden;}
.header .logo h2 {float: left;line-height: 66px;font-size: 24px;color: #333;}
.header .logo img {float: left; height: 66px; margin-right: 10px;vertical-align: middle;}
.header .kefu{font-size: 22px;color: #1F1F1F;margin-top: 15px;}
.header .kefu p{font-size: 16px;}
@font-face {
  font-family: "Helvetica-Bold";
  src: url("../fonts/Helvetica-Bold.woff2") format("woff2"),
       url("../fonts/Helvetica-Bold.woff") format("woff"),
       url("../fonts/Helvetica-Bold.ttf") format("truetype"),
       url("../fonts/Helvetica-Bold.eot") format("embedded-opentype"),
       url("../fonts/Helvetica-Bold.svg") format("svg"),
       url("../fonts/Helvetica-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.header .kefu span{font-family: 'Helvetica-Bold'}

.navbar{float: left; margin-top: 25px;margin-left: 112px;}
.navbar a{font-size: 16px; padding: 12px 0; margin-right: 67px;}
.navbar a.currpage{border-bottom: 3px solid #FCBE1B;color: #FCBE1B}
.navbar a:hover{color: #FCBE1B}
.r-call{margin-top: 20px;}
.r-call i{display: inline-block;background: url(../images/call.png) center center no-repeat;background-size: cover;width: 28px;height: 28px;margin-right: 8px;vertical-align: middle;margin-top: -5px;}
.r-call span{font-size: 22px;color: #FCBE1B}

/*购物车*/
.cart-wrap{position: fixed;right: 0;top: 0;bottom: 0;z-index: 10000}
.cart-wrap .left-side{width: 38px;height: 100%;background: #333333;text-align: center; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;position: relative;float: left;
}
.cart-wrap .left-side .hun_con{position: absolute;bottom: 50%;}
.cart-wrap .left-side .order-icon i{display: inline-block;background: url(../images/order-icon2.png) center center no-repeat;background-size: cover;width: 22px;height: 22px;}
.cart-wrap .left-side .order-icon.sshow i{background: url(../images/order-icon.png) center center no-repeat;background-size: cover;}
.cart-wrap .left-side .cart{cursor: pointer;margin-top: 26px;padding: 0 8px}
.cart-wrap .left-side .cart.orange{background: #FCBF1C;}
.cart-wrap .left-side .cart.orange .cart_style{border-bottom: none;border-top: none;}
.cart-wrap .left-side .cart .cart_style{padding: 14px 0 20px;border-bottom: 1px solid rgba(255,255,255,.2);border-top: 1px solid rgba(255,255,255,.2);}
.cart-wrap .left-side .cart span.cartNum{font-size: 14px;color: #fff;background: #FF635C;display: inline-block;height: 17px;line-height: 15px;min-width: 17px;border-radius: 100%}

.cart-wrap .left-side .cart i.cart-icon{display: inline-block;background: url(../images/cart2.png) center center no-repeat;background-size: cover;width: 22px;height: 22px;margin-top: 8px;}
.cart-wrap .left-side .cart.orange i.cart-icon{background: url(../images/cart.png) center center no-repeat;background-size: cover;}
.cart-wrap .left-side .cart span.cart-txt{font-size: 14px;color: rgba(255,255,255,.6);line-height: 1em}
.cart-wrap .left-side .cart.orange span.cart-txt{color: #fff}
.cart-wrap .left-side .erwei{position: absolute;bottom: 13%;left: 50%;margin-left: -11px;cursor: pointer;}
.cart-wrap .left-side .erwei i.erwei-icon{display: inline-block;background: url(../images/erwei1.png) center center no-repeat;background-size: cover;width: 22px;height: 22px;}
.cart-wrap .left-side .erwei i.erwei-icon:hover{background: url(../images/erwei.png) center center no-repeat;background-size: cover;}
.cart-wrap .left-side .go-top{display: inline-block;background: url(../images/go-top2.png) center center no-repeat;background-size: cover;width: 22px;height: 22px;position: absolute;bottom: 6%;left: 50%;margin-left: -11px;cursor: pointer;}
.cart-wrap .left-side .go-top.sshow{background: url(../images/go-top.png) center center no-repeat;background-size: cover;}
/*隐藏的二维码*/

.hide_code{width: 174px;height: 210px;position: absolute;bottom: 0;right: 32px;animation: rightFadeIn .6s ease-out;z-index: 2;display: none;padding: 20px 17px;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;-webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.11);-moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.11);box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.11);background: #fff;border: 1px solid #ccc;}
.hide_code img.code {width: 140px;height: 140px;}
.hide_code p{font-size: 14px;color: #999;margin-top: 5px;}
.hide_code.show{display: block;}
/*购物车内容*/
.right-side{width: 307px;background: #F5F5F5;float: left;height: 100%;margin-right: -307px;transition: all .3s ease-in;-moz-transition: all .3s ease-in;-webkit-transition: all .3s ease-in;-ms-transition: all .3s ease-in;overflow-y: auto;position: relative;}
.right-side.show{margin-right: 0}
.right-side::-webkit-scrollbar {width: 20px;height: 8px;}
.right-side::-webkit-scrollbar-thumb {border-radius: 12px;border: 6px solid rgba(0, 0, 0, 0);box-shadow: 8px 0 0 #e1e1e8 inset;}
.right-side::-webkit-scrollbar-thumb:hover {box-shadow: 8px 0 0 #e1e1e8 inset;}
.right-side .car-h1{background: #fff;padding: 16px 23px 17px 14px;font-size: 18px;}
.right-side .car-h1 span.close-cart{display: inline-block;background: url(../images/close.png) center center no-repeat;background-size: cover;width: 14px;height: 14px;cursor: pointer}

.right-side .shop{margin-top: 10px;margin-right: 7px;background: #fff;padding: 0 15px;}
.right-side .shop .shop-title{font-size: 16px;padding: 16px 0}
.right-side .shop .shop-title .clear{font-size: 14px;color: #0087FF;float: right;}
.right-side .shop .cart-item{padding: 14px 0;border-bottom: 1px solid #eee;position: relative;}
.cart-item span{display: inline-block;overflow: hidden;}
.cart-item .info{font-size: 14px;color: #666;width: 90px;white-space: nowrap;text-overflow: ellipsis;}
.cart-item .guige{position: absolute;font-size: 12px;color: #999;left: 0;bottom: 5px;}
.cart-item .num{margin-left: 20px;border: 1px solid #eee; }
.cart-item .num em{display: inline-block;width: 18px;text-align: center;cursor: pointer;}
.cart-item .num em.num-account{border-left: 1px solid #eee;border-right: 1px solid #eee;min-width: 30px;cursor: default;}
.cart-item .sale-price{font-size: 14px;color: #333}
.right-side .shop .price-item{padding: 18px 0;border-bottom: 1px solid #eee}
.price-item span{font-size: 14px;color: #666}
.price-item .bao-price{font-size: 14px;color: #333;float: right;}
.price-item .pei-price{font-size: 14px;color: #333;float: right;}
.right-side .shop .discount{padding: 20px 0 17px;border-bottom: 1px solid #eee;}
.discount .disc-top .has-disc{font-size: 14px;color: #333;}
.discount .disc-top .has-disc i{display: inline-block;background: url(../images/down.png) center center no-repeat;background-size: cover;width: 12px;height: 5px;    vertical-align: middle;margin-top: -2px;margin-left: 9px}
.discount .disc-top .disc-price{font-size: 14px;color: #FF635C;float: right}
.discount .disc-con{background: #F5F5F5;padding: 8px 10px 8px 14px;margin-top: 10px;}
.discount .disc-con dl{margin: 8px 0;}
.discount .disc-con dl dt{float: left;font-size: 12px;color: #666}
.discount .disc-con dl dd{float: right;font-size: 12px;color: #333}

.all-price{padding: 18px 0 15px 0;}
.all-price .car-price{font-size: 18px;font-weight: bold;display: inline-block;padding-top: 7px;}
.all-price .car_button{font-size: 18px;font-weight: bold;float: right;}
.all-price .car_button #gopay{color: #fff; background: #FCBF1C; width: 130px; text-align: center; border: 0; outline: 0; height: 40px; font-size: 16px;line-height: 40px;border-radius: 20px;}
.all-price .car_button #gopay a{color: #fff;display: block;}
.all-price .car_button.no_base #gopay{background: #ccc}
.all-price .car_button #gopay.disabled{pointer-events: none; background-color: #ccc;}
.all-price .car_button.no_base #gopay a{color: #fff}
.mask_nature {height: 100%;width: 100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;z-index: 100; display: none;}
.cart .cart-icon.swing { animation: swing .3s linear;-webkit-animation: swing .3s linear;-moz-animation: swing .3s linear;}
@-webkit-keyframes swing{0%{transform:scale(.8);}100%{transform:scale(1)}}
@-moz-keyframes swing{0%{transform:scale(.8);}100%{transform:scale(1)}}
@keyframes swing{0%{transform:scale(.8);}100%{transform:scale(1)}}
/*购物车空时*/
.cart_kong {text-align: center;position: absolute;top: 80px;right: 0;left: 0;bottom: 0;background: #fff;padding-top: 60px;}
.cart_kong .kong_img{width: 150px;height: 140px;margin: 0 auto;padding-left: 40px;}
.cart_kong h2{font-size: 18px;}
.cart_kong p{font-size: 14px;color: #999;margin-top: 16px;}

/*库存不足弹窗*/
.stockPop {height: 100%;width: 100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;z-index: 100000; display: none;}
.stock_alert{position: fixed; z-index: 100001; display: none; width: 272px; left: 50%; top: 50%; margin-top: -100px;margin-left: -136px; background: #fff;  box-shadow: 0 0 20px rgba(0, 0, 0, .15); -webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;border-radius: 4px;padding: 30px 15px 47px;text-align: center;}

.stock_alert h2.alert_title{font-size: 18px;font-weight: normal;}
.stock_alert ul{display: inline-block;font-size: 0;margin-top: 25px;}
.stock_alert ul li{display: inline-block;width: 116px;height: 36px;text-align: center;line-height: 36px;font-size: 16px;border-radius: 3px;}
.stock_alert ul li a{display: block;}
.stock_alert ul li.see_out{background: #fcbf1c;color: #fff;}
.stock_alert ul li.see_out a{color: #fff;}
/*超出配送范围弹窗*/
.deliveryPop {height: 100%;width: 100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;z-index: 100000; display: none;}
.delivery_alert{position: fixed; z-index: 100001; display: none; width: 400px; left: 50%; top: 50%; margin-top: -100px;margin-left: -200px; background: #fff;  box-shadow: 0 0 20px rgba(0, 0, 0, .15); -webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;border-radius: 4px;padding: 40px 15px;text-align: center;}
.delivery_alert s.cha { position: absolute; right: 15px; top: 15px; width: 14px; height: 14px; background-image: url(../images/close.png); background-position: center center; background-repeat: no-repeat;cursor: pointer }
.alert_title{font-size: 24px;font-weight: bold;}
.alert_tip{font-size: 14px;color: #666;margin-top: 5px;}
.delivery_alert ul{display: inline-block;font-size: 0;margin-top: 50px;}
.delivery_alert ul li{display: inline-block;width: 128px;height: 46px;text-align: center;line-height: 46px;font-size: 16px;border-radius: 3px;}
.delivery_alert ul li a{display: block;}
.delivery_alert ul li.see_out{background: #fff;color: #fcbf1c;border: 1px solid #fcbf1c;margin-right: 10px;}
.delivery_alert ul li.see_out a{color: #fcbf1c;}
.delivery_alert ul li.change_address{background: #fcbf1c;color: #fff;border: 1px solid #fcbf1c;}
.delivery_alert ul li.change_address a{color: #fff;}

/*商家休息弹窗*/
.storePop {height: 100%;width: 100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;z-index: 100000; display: none;}
.store_alert{position: fixed; z-index: 100001; display: none; width: 400px; left: 50%; top: 50%; margin-top: -100px;margin-left: -200px; background: #fff;  box-shadow: 0 0 20px rgba(0, 0, 0, .15); -webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;border-radius: 4px;padding: 40px 15px;text-align: center;}
.store_alert s.cha { position: absolute; right: 15px; top: 15px; width: 14px; height: 14px; background-image: url(../images/close.png); background-position: center center; background-repeat: no-repeat;cursor: pointer }
.store_alert ul{display: inline-block;font-size: 0;margin-top: 50px;}
.store_alert ul li{display: inline-block;width: 128px;height: 46px;text-align: center;line-height: 46px;font-size: 16px;border-radius: 3px;}
.store_alert ul li a{display: block;}
.store_alert ul li.see_out{background: #fcbf1c;color: #fff;border: 1px solid #fcbf1c;}
.store_alert ul li.see_out a{color: #fff;}

/**/
.footer{margin-top: 0}