@charset "utf-8";


/* 幻灯 */
.slide {position: relative; width: 100%; height: 485px;}
#slide_big {position: relative; z-index: 1; overflow: hidden; width: 100%; height: 405px;}
#slide_big .loading {position: absolute;left:0;top:0;width: 100%;height: 100%;background-color: #fff;background-image:url(../images/loading.gif);background-position: center center;background-repeat:no-repeat;opacity:.4;filter:alpha(opacity=40);}
.big-item {position: absolute;left:0;top:0;width: 100%;height: 100%;display: none;}
.big-item .big-pic {height: 405px; text-align: center; line-height: 405px;}
.big-item .big-pic i {display: inline-block; height: 100%; vertical-align: middle;}
.big-item img {max-width: 100%; max-height: 405px; display: inline; z-index: 0; vertical-align: middle; -ms-interpolation-mode: bicubic;}



#slidebtn_prev , #slidebtn_next {position: absolute;top:50%;margin-top: -95px;width: 50px;height: 80px;opacity:0;filter:alpha(opacity=0);transition:opacity .3s;-webkit-transition:opacity .3s;}
.slide:hover #slidebtn_prev, .slide:hover #slidebtn_next {opacity:1;filter:alpha(opacity=100);}
#slidebtn_prev {left:0;background-position: -6px -6px;}
#slidebtn_next {right:0;background-position: -59px -6px;}



#slide_small {position: relative;height: 68px;background: #fff;overflow: hidden;margin-top: 10px;}
#slide_small .spbox {height: 68px;margin:0 28px;overflow: hidden;max-width: 860px;}
.picsmall {position: relative;height: 68px;}
.picsmall a {display: block;float: left;margin-right: 7px;}
.picsmall img {display: block;width:90px;height: 66px;border:1px solid #fff;}
.picsmall .active img {border-color: #00AF62;}



#slidebtn2_prev , #slidebtn2_next {position: absolute;top:0;width: 23px;height: 68px;background: #eceef0;cursor: pointer;}
#slidebtn2_prev ,#slidebtn2_prev.disabled:hover {left:0;background-position: -2px -206px;}
#slidebtn2_next ,#slidebtn2_next.disabled:hover{right:0;background-position: -30px -206px;}


#slidebtn_prev , #slidebtn_next ,#slidebtn2_prev , #slidebtn2_next {background-image: url(../images/scroll_btn.png);background-repeat: no-repeat;z-index: 10;}
