/*body, html{background: #209ff8;}*/

/*banner*/
.banner{ background: url(../images/banner-bg.png) center center no-repeat;background-size: cover;padding: 238px 0 176px;}
.banner .banner_search{width:878px;height:246px;background:rgba(255,255,255,.8);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#c8ffffff, endcolorstr=#c8ffffff);border-radius:15px;padding: 0 50px 52px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
	margin: 0 auto

}
.banner .ban-tit {font-size: 32px;color: #282828;text-align: center;padding-top: 35px;font-weight: bold;}
.banner .ban-tip {font-size: 16px;color: #888;text-align: center;}
.banner .search_food{font-size: 0;height: 60px;border-radius: 10px;background: #fff;margin-top: 34px;}
.banner .search_food dl{float: left;height: 60px;line-height: 60px;}
.banner .search_food dl dt{display: inline-block;font-size: 16px;color: #282828;padding-left: 38px;padding-right: 45px;position: relative; max-width: 160px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.banner .search_food dl dt:after{content: '';position: absolute;right: 0;top:50%;height: 34px;width: 1px;background: #ddd;margin-top: -17px;}
.banner .search_food dl dt s{display: inline-block;background: url(../images/arr-down.png) center center no-repeat;background-size: cover;width: 14px;height: 14px;position: absolute;right: 17px;top: 50%;margin-top: -7px;}
.banner .search_food dl dd{display: inline-block;vertical-align: top;height: 60px;padding-top: 6px;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.banner .search_food dl dd input{    border: 0;outline: 0;background: none;width: 405px;padding:0 20px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;font-size: 16px;color: #000}
.banner .search_food dl dd input::-webkit-input-placeholder { color: #ccc;}
.banner .search_food dl dd input::-moz-placeholder { color: #ccc;}
.banner .search_food dl dd input::-ms-input-placeholder { color: #ccc;}
.banner .search_food dl dd input::-moz-placeholder {color: #ccc;}

.banner .search_food .searchBtn{float: right;width: 212px;text-align: center;font-size: 20px;color: #fff;height: 60px;line-height: 60px;border: none;outline: none;border-radius:0px 10px 10px 0px;cursor: pointer;
    background: -moz-linear-gradient(92deg,rgba(252,191,28,1) 0%,rgba(255,162,16,1) 100%);
    background: -ms-linear-gradient(92deg,rgba(252,191,28,1) 0%,rgba(255,162,16,1) 100%);
    background: -webkit-linear-gradient(92deg,rgba(252,191,28,1) 0%,rgba(255,162,16,1) 100%);
    background: linear-gradient(92deg,rgba(252,191,28,1) 0%,rgba(255,162,16,1) 100%);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#FCBF1C", endColorstr="#FFA210", gradientType="1");
}

/*公共标题*/
.head_title{text-align: center;}
.head_title .com-title{font-size: 32px;font-weight: bold;}
.head_title .com-h3{font-size: 16px;color: #999}
/*入驻加盟*/
.join-wrap{padding: 40px 0 57px;}
.join-wrap ul{margin-top: 40px;}
.join-wrap ul li{background: #fff;border-radius: 15px;-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);text-align: center;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;
}
.join-wrap ul li:hover{-webkit-box-shadow: 0px 0px 37px 0 rgba(0,0,0,0.3);-moz-box-shadow: 0px 0px 37px 0 rgba(0,0,0,0.3);box-shadow: 0px 0px 37px 0 rgba(0,0,0,0.3);-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}
.join-wrap ul li .top-pic{width: 570px;height: 320px;}
.join-wrap ul li .top-pic img{max-width: 100%}
.join-wrap ul li .join-info{padding: 30px 0 45px;font-size: 16px;color: #999}
.join-wrap .join-info p:first-child{font-size: 28px;color: #333;margin-bottom: 5px;}
/*热门商家*/
.buss-wrap{padding: 40px 0 50px;background: url(../images/buss-bg.png) center center no-repeat;background-size: cover;}
.buss-list{margin-top: 40px;}
.buss-list li{float: left;margin-right: 30px;margin-bottom: 30px;-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);width: 380px;border-radius: 10px;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;overflow: hidden;background: #fff;
}
.buss-list li:hover {box-shadow:0px 0px 30px 0px rgba(0, 0, 0, 0.1);-moz-box-shadow:0px 0px 30px 0px rgba(0, 0, 0, 0.1);-webkit-box-shadow:0px 0px 30px 0px rgba(0, 0, 0, 0.1);-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}
.buss-list li:hover .buss-name{color: #FCBF1C}
.buss-list li .left-pic{position: relative;width:140px;height: 140px;overflow: hidden;float: left;}
.buss-list li .left-pic img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.buss-list li .right-con{margin-left: 155px;height: 140px;padding-top: 12px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;
}
.buss-list li .right-con .buss-name{font-size: 16px;max-width: 96%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.rank_star{margin-top: 8px;}
.rank_star span{display: inline-block;font-size: 14px;color: #999}
.rank_star .judge-star{ position: relative;background: url(../images/star_no.png) 0 0 repeat-x;width: 95px;height: 19px;display: inline-block;vertical-align: top}
.rank_star .judge-star.fn-hide{display: none!important;}
.rank_star .judge-star s {position: absolute;display: inline-block;height: 19px;background: url(../images/star_yes.png) 0 0 repeat-x;}
.rank_star .score{font-size: 14px;color: #999;margin-left: 7px;}
.buss-list li .right-con .send-info{font-size: 14px;color: #999;margin-top: 18px;}
.buss-list li .right-con .send-info span:first-child{margin-right: 40px;}
.buss-list li .right-con .send-time{font-size: 14px;color: #999;margin-top: 5px;}
.buss-list li .right-con .send-time i{display: inline-block;background: url(../images/send-time.png) center center no-repeat;background-size: cover;width: 16px;height: 16px;margin-right: 6px;vertical-align: middle;margin-top: -5px;}

.buss-list li .see{width:127px;height:42px;background:#FCBF1C;border-radius:3px;text-align: center;line-height: 42px;font-size: 16px;color: #fff;display: none;margin-top: 18px;}
.buss-list li .show{display: block;animation: bottomFadeIn .3s ease-out;}
.buss-list li .hide{animation: topFadeOut .3s ease-out;}
.buss-list li:nth-child(3n){margin-right: 0}
.more-a{width:330px;height:64px;background:#fff;border:1px solid #FCBF1C;border-radius:3px;font-size: 16px;color: #FCBF1C;line-height: 64px;text-align: center;display: block;margin: 10px auto 0}
.more-a:hover{color:#fff;background: #FCBF1C }

/*手机点餐*/
.slideBox{position: relative; float: left; z-index: 9;}
.slideBox .slide_bg{position: absolute; background: url(../images/pc_bg.png) center center no-repeat; width: 306px; height: 635px; top: 9px; z-index: 11;}
.slideBox .bd{width: 303px; height: 635px; overflow: hidden; margin: 10px 0; text-align: center;}
.slideBox .bd ul{z-index: -1; height: 635px; overflow: hidden;}
.slideBox .bd li{width: 270px; height: 480px; overflow: hidden; margin: 76px 0 0 0; background: #fff; padding: 0 19px 0 17px;}
.slideBox .bd img{width: 272px;}

.content{position: relative; padding: 50px 0 42px; background: url(../images/mob-bg.png) center center no-repeat;background-size: cover;}
.rightBox{ margin: 120px 0 0;}
.rightBox .title{font-size: 36px; color: #fff; text-align: center; margin-bottom: 70px; letter-spacing: 3px; font-weight: normal;}
.rightBox ul{float: right; }
.rightBox li{float: left; background: #fff; text-align: center;  font-size: 16px; padding: 30px 0 50px; width: 260px;margin-right: 20px;border-radius: 10px;box-shadow:0px 0px 30px 0px rgba(0, 0, 0, 0.1);-moz-box-shadow:0px 0px 30px 0px rgba(0, 0, 0, 0.1);-webkit-box-shadow:0px 0px 30px 0px rgba(0, 0, 0, 0.1);}
.rightBox li .tit{font-weight: bold;font-size: 18px}
.rightBox li .gray{color: #737373; font-size: 16px; margin: 2px 0 25px;}
.rightBox li .code{width: 180px; height: 180px; padding: 2px; border: 1px solid #ddd; margin-bottom: 14px;}
.rightBox li:nth-child(3n){margin-right: 0}

.rightBox ul.two-ul li{width: 360px;padding: 30px 0 70px;}

.rightBox ul.two-ul li .code{width: 220px;height: 220px;}

.footer{margin-top: 0}


















