.main-wrap{background: #F5F5F5;padding-top: 20px;padding-bottom: 40px;}
.search-div{background: #fff;}
.serach-top{border-bottom: 1px solid #eee;padding: 12px 20px 12px 16px;}
.serach-top .addr-l{font-size: 14px;line-height: 45px;}
.serach-top .addr-l i{display: inline-block;width: 20px;height: 20px;background-image:url(../images/addr.png);background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;vertical-align: middle;margin-top: -5px;}
.serach-top .addr-l .switch-addr{display: inline-block;position: relative;}
.serach-top .addr-l .switch-addr .addr-a{color: #0087FF;}
.switch-show{-webkit-box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.18);-moz-box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.18);box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.18);position: absolute;left: 0;top: 43px;min-width: 180px;display: none}
.switch-show ul{background: #fff;padding: 0 15px;}
.switch-show ul li a{padding: 13px 0;border-bottom: 1px solid #eee;line-height: 1em;font-size: 14px;color: #666; }
.switch-show ul li a{display: block;}
.search-box {border:1px solid #ddd;}
.search-box .header-search {display:block;width:256px;height:13px;padding:15px 0;font-size:14px;color:#333;border:none;background:none;padding-left:15px;_display:inline;/*解决ie6的双边距浮动bug*/}

.search-box .doSearch {width:43px;height:43px;background-position:center;border-left:1px solid #ddd;position: relative;}
.search-box .doSearch i{display: inline-block;width: 22px;height: 22px;background-image:url(../images/search.png);background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;position: absolute;left: 50%;top: 50%;margin-left: -11px;margin-top: -11px;}
.search-bottom{border-bottom: 1px solid #eee;}
.search-bottom dl{font-size: 0}
.search-bottom dt{height: 55px;line-height: 55px;width: 110px;text-align: center; font-size: 14px;float: left;}
.search-bottom dd{margin-left: 110px;padding-top: 13px;padding-right: 20px;}
.search-bottom dd a{margin: 0 4px 6px 0;padding: 6px 8px;font-size: 14px;float: left;border-radius: 3px}
.search-bottom dd a.curr{background: #FCBF1C;color: #fff}
.search-bottom dd a:hover{background: #FCBF1C;color: #fff}


.serch-other{padding: 18px 20px 0 28px;}
.serch-other .paixu{font-size: 14px;color: #FF635C;cursor: pointer;position: relative;padding-bottom: 18px;}
.serch-other .paixu i.down-icon{display: inline-block;width: 12px;height: 12px;background:url(../images/down-icon.png) center center no-repeat;background-size:cover;margin-left: 5px;vertical-align: middle;margin-top: -3px;}
.serch-other .paixu.grey{color:#333;}
.serch-other .nav{-webkit-box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.18);-moz-box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.18);box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.18);position: absolute;left: -10px;top: 35px;min-width: 102px;display: none;z-index:2;}
.serch-other .nav ul{background: #fff;padding: 0 15px;}
.serch-other .nav ul li a{padding: 13px 0;border-bottom: 1px solid #eee;line-height: 1em;font-size: 14px;color: #666; }
.serch-other .nav ul li a{display: block;}
.serch-other .nav ul li a:hover{color: #FF635C}
.serch-other .xiao-a{font-size: 14px;margin-left: 60px;}
.serch-other .xiao-a.red{color:#FF635C }
.right-choose ul li{float: left;margin-left: 22px;padding-left: 25px;position: relative;font-size: 14px;color: #666;cursor: pointer}
.right-choose ul li:before{content: '';position: absolute;left: 0;top: 2px;display: block;width: 16px;height: 16px;border: 1px solid #BFBFBF;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;border-radius: 3px;}
.right-choose ul li.active:before{content: '';background:url(../images/checked.png) center center no-repeat;background-size:cover;border: none;}
/*列表*/
.main-list{margin-top: 20px;}
.main-list .store_li{padding: 20px 18px 20px 20px;background: #fff;border-bottom: 1px solid #F0F0F0}
.main-list .store_li:hover{background: #f2f2f2}
.main-list .store_li .left-pic{position: relative;width:180px;height: 180px;overflow: hidden;float: left;border:1px solid #eee;}
.main-list .store_li .left-pic img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.main-list .store_li .left-pic i.icon_pin{display: inline-block;width: 46px;height: 46px;background:url(../images/icon_pin.png) center center no-repeat;background-size:cover;position: absolute;right: 0;top: 0;z-index: 2}
.main-list .store_li .mid-con{margin-left: 20px;width: 360px;}
.main-list .store_li .mid-con .buss-name{font-size: 16px;}
.main-list .store_li .mid-con .buss-name a{display: block;max-width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.main-list .store_li .mid-con .buss-name a:hover{color: #FCBF1C}
.main-list .store_li .mid-con .rank_star{margin-top: 8px;}
.main-list .store_li .mid-con .rank_star span{display: inline-block;font-size: 14px;color: #999}
.main-list .store_li .mid-con .rank_star .judge-star{ position: relative;background: url(../images/star_no2.png) 0 0 repeat-x;width: 95px;height: 19px;display: inline-block;vertical-align: top}
.main-list .store_li .mid-con .rank_star .judge-star s {position: absolute;display: inline-block;height: 19px;background: url(../images/star_yes.png) 0 0 repeat-x;}
.main-list .store_li .mid-con .rank_star .score{font-size: 14px;color: #999;margin-left: 7px;}
.main-list .store_li .mid-con .rank_star .sale{color: #FF635C;font-size: 14px;margin-left: 9px;}
.main-list .store_li .mid-con .send-info{font-size: 14px;color: #999;margin-top: 12px;}
.main-list .store_li .mid-con .send-info span{margin-right: 25px;}
.main-list .store_li .mid-con .send-time i{display: inline-block;background: url(../images/send-time.png) center center no-repeat;background-size: cover;width: 16px;height: 16px;margin-right: 6px;vertical-align: middle;margin-top: -5px;}
.main-list .store_li .mid-con .favorable{margin-top: 10px;}
.main-list .store_li .mid-con .favorable i{display: inline-block;width: 20px;height: 20px;margin-right: 4px;}
.main-list .store_li .mid-con .favorable i.icon_shou{background: url(../images/icon_shou.png) center center no-repeat;background-size: cover;}
.main-list .store_li .mid-con .favorable i.icon_zhe{background: url(../images/icon_zhe.png) center center no-repeat;background-size: cover;}
.main-list .store_li .mid-con .favorable i.icon_jian{background: url(../images/icon_jian.png) center center no-repeat;background-size: cover;}
.main-list .store_li .mid-con .favorable i.icon_fan{background: url(../images/icon_fan.png) center center no-repeat;background-size: cover;}
.main-list .store_li .see{width:127px;height:42px;background:#FCBF1C;border-radius:3px;text-align: center;line-height: 42px;font-size: 16px;color: #fff;display: none;margin-top: 18px;display: block;}
.main-list .store_li .break{width:127px;height:42px;background:#B5B5B5;border-radius:3px;text-align: center;line-height: 42px;font-size: 16px;color: #fff;display: none;margin-top: 18px;display: block;}
.store_li .right-con li{position: relative;margin-left: 20px;float: left;cursor: pointer}
.store_li .right-con .goods-pic{position: relative;width:180px;height: 180px;overflow: hidden;}
.store_li .right-con .goods-pic img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.store_li .right-con .goods_title{position: absolute;bottom: 0;left: 0;right: 0;height: 30px;line-height: 30px;z-index: 2;background: rgba(0,0,0,0.5);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7f000000, endcolorstr=#7f000000);font-size: 14px;color: #fff;text-align: center;max-width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 0 10px;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}



.main-list .loading{display: block;font-size: 14px;color: #666;padding: 22px 0 40px;background: #fff;width: 100%;text-align: center;}








