.main-wrap{background: #F5F5F5;padding-bottom: 40px;}
.det-wrap{background: url(../images/det_bg.png) center center no-repeat;background-size: cover;position: relative;}
.store_hide{width: 448px;padding: 30px 0;}
.store_hide.show{-webkit-box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.18);-moz-box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.18);box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.18);}
.det_top .det_pic{width: 110px;height: 110px;float: left;border-radius: 50%;border:5px solid rgba(255, 255, 255, 0.2);
box-shadow:0px 0px 30px 0px rgba(0, 0, 0, 0.1);cursor: pointer;}
.det_top .det_pic img{width: 100%;height: 100%;border-radius: 50%}
.det_mid{margin-left: 130px;}
.det_mid h2{font-size: 24px;color: #fff;margin-top: 20px;cursor: pointer;}
.det_mid h2 em{width: 58px;height: 20px;line-height: 20px;text-align: center;font-size: 12px;color: #fff;background: #00a9ff;border-radius: 2px;margin-left: 8px;display: inline-block;vertical-align: middle;margin-top: -5px;}
.det_mid .rank_star{margin-top: 8px;}
.det_mid .rank_star span{display: inline-block;font-size: 14px;color: #999}
.det_mid .rank_star .judge-star{ position: relative;background: url(../images/star_no.png) 0 0 repeat-x;width: 95px;height: 19px;display: inline-block;vertical-align: top}
.det_mid .rank_star .judge-star s {position: absolute;display: inline-block;height: 19px;background: url(../images/star_yes.png) 0 0 repeat-x;}
.det_mid .rank_star .score{font-size: 14px;color: #fff;margin-left: 7px;}
.det_right{float: left;margin-left: 100px;width: 40%;font-size: 0;margin-top: 50px;}
.det_right dl{display: inline-block;width: 33.3%;text-align: center;}
.det_right dl dt{font-size: 16px;color: #fff}
.det_right dl dd{font-size: 34px;color: #fff}
.det_right dl dd em{font-size: 16px;color: #fff}
@font-face {
  font-family: "Helvetica-Bold";
  src: url("../fonts/Helvetica-Bold.woff2") format("woff2"),
       url("../fonts/Helvetica-Bold.woff") format("woff"),
       url("../fonts/Helvetica-Bold.ttf") format("truetype"),
       url("../fonts/Helvetica-Bold.eot") format("embedded-opentype"),
       url("../fonts/Helvetica-Bold.svg") format("svg"),
       url("../fonts/Helvetica-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.det_right dl dd span{font-family: "Helvetica-Bold"}
.btn_group {float: right;margin-top: 60px;}
.btn_group button{background: none; border: none; outline: none; cursor: pointer;  font-size: 14px;color: #fff;text-align: center;width: 70px;}
.btn_group em{display: inline-block; width: 26px; height: 26px; background-repeat: no-repeat;  vertical-align: middle; /*margin: -5px auto 10px*/margin-top: -5px;margin-bottom: 10px;}
.store-btn {float: left;}
.store-btn button em{background-image: url(../images/like.png); background-position: center center; background-repeat: no-repeat; }
.store-btn.curr button em{background-image: url(../images/like2.png); background-position: center center; background-repeat: no-repeat;width: 26px;height: 26px;}
.btn_group button span{display: block;}
/*活动*/
.saleBox{position: absolute;top: 180px; background: #fff; z-index: 2; padding: 26px 20px 16px; width: 448px;height: auto;  box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;
overflow: hidden;-webkit-box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.18);-moz-box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.18);box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.18);display: none;
}
.saleBox .gray{ margin-bottom: 8px;font-size: 14px;color: #666}
.saleBox .gray i{display: inline-block;width: 20px;height: 20px;margin-right: 12px;vertical-align: top;}
.saleBox i.icon_shou{background: url(../images/icon_shou.png) center center no-repeat;background-size: cover;}
.saleBox i.icon_zhe{background: url(../images/icon_zhe.png) center center no-repeat;background-size: cover;}
.saleBox i.icon_jian{background: url(../images/icon_jian.png) center center no-repeat;background-size: cover;}
.saleBox i.icon_fan{background: url(../images/icon_fan.png) center center no-repeat;background-size: cover;}
.saleBox i.icon_ying{background: url(../images/icon_ying.png) center center no-repeat;background-size: cover;}
.saleBox i.icon_phone{background: url(../images/icon_phone.png) center center no-repeat;background-size: cover;}
.saleBox i.icon_addr{background: url(../images/icon_addr.png) center center no-repeat;background-size: cover;}
.saleBox .gray span{font-size: 14px;color: #666;display: inline-block;max-width: 375px}
.saleBox .other-info{margin-top: 24px;}
.saleBox .other-info .gray span{color: #999}
.search-div{background: #fff}
.serach-top{padding: 12px 0;padding-left: 12px;}
.serach-top .tip_wrap{font-size: 14px;color: #666}
.serach-top .tip_wrap span{line-height: 40px;}
.serach-top .tip_wrap i{display: inline-block;background: url(../images/notice.png) center center no-repeat;background-size: cover;width: 24px;height: 24px;margin-right: 6px;vertical-align: middle;margin-top: -5px;}
.search-box {border:1px solid #ddd;background: #fff}
.search-box .header-search {display:block;width:256px;height:14px;padding:12px 0;font-size:14px;color:#333;border:none;background:none;padding-left:15px;_display:inline;/*解决ie6的双边距浮动bug*/}

.search-box .doSearch {width:38px;height:38px;background-position:center;border-left:1px solid #ddd;position: relative;}
.search-box .doSearch i{display: inline-block;width: 22px;height: 22px;background-image:url(../images/search.png);background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;position: absolute;left: 50%;top: 50%;margin-left: -11px;margin-top: -11px;}
.content_wrap {margin-top: 20px;}
.tab_ul{border-bottom: 1px solid #eee;padding: 0 18px;background: #fff}
.tab_ul li{float: left;padding: 15px 0;position: relative;text-align: center;font-size: 18px;width: 86px;margin-right: 20px;}
.tab_ul li.active{font-weight: bold;color: #FCBE1B}
.tab_ul li.active a{color: #FCBE1B}
.tab_ul li.active:after{content: '';width: 86px;height: 3px;background: #FCBE1B;position: absolute;left: 50%;margin-left: -43px;bottom: -2px;}

.common_con{display: none}
/*所有商品*/
.food_cate ul{padding: 20px;background: #fff}
.food_cate ul li{font-size: 14px;float: left;margin: 12px 115px 12px 0}
.food_cate ul li.curr a{color: #FFA800;font-weight: bold;}
/* .content{} */
.food_list{background: #fff;margin-top: 20px;}
.food_list .type_title{font-size: 18px;font-weight: bold;padding: 15px 20px; border-bottom: 1px solid #f0f0f0;}
.food_list dl{float: left;border-bottom: 1px solid #f0f0f0;border-right: 1px solid #f0f0f0;padding: 20px;width: 33.3%; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;position: relative;
}
.food_list dl:hover{background-color: #FAF7F8;}
.food_list dl:nth-child(3n){border-right: none;}
.food_list dl dt{float: left;position: relative;width:100px;height: 100px;overflow: hidden;cursor: pointer;}
.food_list dl dt img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.food_list dl dt em.sur1{position: absolute;bottom: 0;left: 0;right: 0;line-height: 28px;background:linear-gradient(181deg,rgba(255,99,92,0.9) 0%,rgba(254,141,63,0.9) 100%);background:-moz-linear-gradient(181deg,rgba(255,99,92,0.9) 0%,rgba(254,141,63,0.9) 100%);background:-webkit-linear-gradient(181deg,rgba(255,99,92,0.9) 0%,rgba(254,141,63,0.9) 100%);background:-ms-linear-gradient(181deg,rgba(255,99,92,0.9) 0%,rgba(254,141,63,0.9) 100%);filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#FF635C", endColorstr="#FE8D3F", gradientType="0");text-align: center;color: #fff}

.food_list dl dd{margin-left: 120px;}
.food_list .food_title em.xian{display: inline-block;width:57px;height:20px;background:linear-gradient(55deg,rgba(92,142,255,1),rgba(45,174,253,1));background:-moz-linear-gradient(55deg,rgba(92,142,255,1),rgba(45,174,253,1));background:-webkit-linear-gradient(55deg,rgba(92,142,255,1),rgba(45,174,253,1));background:-ms-linear-gradient(55deg,rgba(92,142,255,1),rgba(45,174,253,1));filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#5C8EFF", endColorstr="#2DAEFD", gradientType="1");border-radius:2px;font-size: 12px;color: #F5F5F5;text-align: center;line-height: 20px;vertical-align: top;margin-top: 2px;margin-right: 6px;}
.food_list .food_title em.te{display: inline-block;width:37px;height:20px;font-size: 12px;color: #F5F5F5;text-align: center;line-height: 20px;vertical-align: top;margin-top: 2px;margin-right: 5px;background:linear-gradient(110deg,rgba(255,96,0,1),rgba(255,120,0,1));background:-moz-linear-gradient(110deg,rgba(255,96,0,1),rgba(255,120,0,1));background:-webkit-linear-gradient(110deg,rgba(255,96,0,1),rgba(255,120,0,1));background:-ms-linear-gradient(110deg,rgba(255,96,0,1),rgba(255,120,0,1));filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#FF6000", endColorstr="#FF7800", gradientType="1");border-radius:2px;}
.food_list .food_title span.tit{display: inline-block;max-width: 130px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 16px;}
.food_list .food_desc{max-width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 12px;color: #999}
.food_list .sale-num{font-size: 12px;color: #666;margin-top: 2px; height: 20px}
.food_list .sale-num .has-sale{margin-right: 10px;}
/* .food_list .food_price{position: absolute;bottom: 20px;left: 140px;right: 20px } */
.food_list .food_price {margin-top: 20px;}
.food_list .food_price .now_price{font-size: 18px;color: #FF635C;line-height: 1em;/* position: absolute; top: 5px;*/max-width: 136px; }
.food_list .food_price .now_price em{font-size: 14px;}
.food_list .food_price  strike{font-size: 14px;color: #999}

.food_list .food_price .right_b em{display: inline-block;width:100px;height:30px;background:#fff;border-radius:15px;line-height: 30px;text-align: center;font-size: 14px;color: #FFA800;border: 1px solid #FFA800;cursor: pointer;}
.food_list .food_price em.disabled{background:#B5B5B5;color: #fff;border: 1px solid #B5B5B5;cursor: default; }
.food_list .food_price .right_b em.carAdd:hover{background:#FFA800;color: #fff }
.food_list .cart-num{display: inline-block;height:30px;border-radius:15px;line-height: 30px;border: 1px solid #ddd;font-size: 0;overflow: hidden;display: none;}
.food_list .cart-num.show{display: inline-block;}
.cart-num i,.cart-num strong,.cart-num b{display: inline-block;font-style: normal;background: #eeeeee;font-size: 14px;font-weight: normal;}
.cart-num strong.num-account{padding: 0 16px;border-right: 1px solid #ddd;border-left: 1px solid #ddd;background: #fff}
/*.cart-num input.num-account{border-right: 1px solid #ddd;border-left: 1px solid #ddd;background: #fff;outline: 0;-webkit-appearance:none;height: 36px;line-height: 36px;width: 36px;	}*/
.cart-num i,.cart-num b{width: 26px;text-align: center;cursor: pointer;}
.food_list{position: relative;}
.food_list:after{content: '';width: 100%;height: 1px;background: #f0f0f0;position: absolute;bottom: 0;z-index: 2}

/*评价*/

.comment{background: #fff;padding: 22px;}
.public_com{background: #F7F7F7;padding: 36px 20px;}
.pub1{display: inline-block;position: relative;height: 39px;line-height: 39px;border-right: 1px solid #EAEAEA;padding-right: 56px;}
.pub1 .all_pub{font-size: 16px;margin-right: 30px}
.pub1 .all_num{font-size: 48px;color: #ff635c;margin-right: 35px;    display: inline-block;vertical-align: middle;margin-top: -8px;}
.pub1 .judge-star{margin-top: 8px;}
.comm_ul{display: inline-block;padding-left: 48px;vertical-align: top;margin-top: 8px}
.comm_ul li{float: left;padding-left: 24px;font-size: 14px;color: #666;background: url(../images/no_check.png) no-repeat left center;cursor: pointer;margin-right: 30px;}
.comm_ul li.active{color: #ff635c;background: url(../images/checked2.png) no-repeat left center;}

.comment-con{padding-top: 16px;border-top: 1px solid #eee;margin-top: 33px;}
.comment-con .comment-type{font-size: 18px;font-weight: bold}
.comment-con .comment-type em{color: #999;font-weight: normal;}
.comment-con .comment-box{padding: 0 20px;}
.comment-list{padding: 40px 0;border-bottom: 1px solid #eee;}
.comment-user{width: 50px;height: 50px;border-radius: 50%;overflow: hidden;float: left;position: relative;}
.comment-user img{display: block;width: 100%;height: 100%;}
.comment-info{margin-left: 70px;}
.comment-info h3{font-size: 14px;}
.comment-info h3 em{float: right;font-size: .22rem;color: #888;margin-right: .2rem;}
.judge-box{margin-top: 6px;}
.judge-star{ position: relative;background: url(../images/star_no.png) 0 0 repeat-x;width: 95px;height: 19px;display: inline-block;vertical-align: top}
.judge-star s {position: absolute;display: inline-block;height: 19px;background: url(../images/star_yes.png) 0 0 repeat-x;}

.comment-info .comment-txt{font-size: 14px;color: #666;line-height: 24px;margin-top: 15px;}
.comment-info .my-gallery{margin: 6px 6px 0 0;}
.comment-list .pub_time{font-size: 14px;color: #999}
.comment-list .pub_time .zan_num{padding-left: 18px;background: url(../images/zan.png) no-repeat left 2px;cursor: pointer;float: right;}
.comment-list .pub_time .zan_num.active{background: url(../images/zan1.png) no-repeat left 2px;}
.comment-list .reply{font-size: 14px;color: #666;line-height: 24px;margin-top: 15px;}
.comment-list .reply span{font-size: 13px;color: #999;float: right;}
/*评论图片*/
.my-gallery{white-space: nowrap;max-width: 750px;overflow: hidden;position: relative;}
.my-gallery ul{max-width: 750px; height: 96px; display: inline-block;font-size: 0;position: relative;}
.my-gallery ul li{display: inline-block;width: 96px;height: 96px;position: relative;cursor: pointer;margin-right: 5px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;border: 1px solid #fff;
}
.my-gallery ul li:last-child{margin-right: 0}
.my-gallery ul li img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.my-gallery .next-btn,.my-gallery .prev-btn{    position: absolute;width: 36px;height: 96px;background-color: rgba(255,255,255,0);top: 0;z-index: 20;}
.my-gallery .next-btn{text-align: right;right: 0;}
.my-gallery .prev-btn{text-align: left;left: 0;}
.my-gallery .next-btn a,.my-gallery .prev-btn a{display: inline-block;margin-top: 26px;width: 19px;height: 50px;background-color: rgba(0,0,0,.6);text-align: center;line-height: 50px;}
.my-gallery .next-btn a i,.my-gallery .prev-btn a i{display: inline-block;vertical-align: middle;height: 18px;}
.my-gallery .next-btn a i{width: 10px;background: url(../images/img_next.png) no-repeat;background-size: contain;}
.my-gallery .prev-btn a i{width: 11px;background: url(../images/img_prev.png) no-repeat;background-size: contain;}

/*图片放大弹出层*/
.viewer-container.viewer-fixed {position:fixed;z-index:100000!important;background-color:rgba(51,51,51,.8)}
.viewer-footer .viewer-toolbar {width:0}
.viewer-toolbar .viewer-next,.viewer-toolbar .viewer-prev {position:fixed;top:50%;margin-top:-30px;width:50px;height:50px;cursor:pointer;border-radius:50%;background-color:#000;background-color:rgba(0,0,0,.5)}
.viewer-toolbar .viewer-next:before {width:50px;height:50px;margin:0;background-image: url(../images/big-r.png);background-position: 50%;}
.viewer-toolbar .viewer-prev:before {width:50px;height:50px;margin:0;background-image:url(../images/big-l.png);    background-position: 50%;}
.viewer-next {right:53px}
.viewer-prev {left:20px}
.viewer-footer .viewer-toolbar>.viewer-next,.viewer-footer .viewer-toolbar>.viewer-prev {background:#000;opacity:.4}
.viewer-footer .viewer-toolbar>.viewer-next:hover,.viewer-footer .viewer-toolbar>.viewer-prev:hover {background:#000;opacity:1}
.viewer-container .viewer-button {width:38px;height:38px;top:20px;right:53px;background-color:#000;opacity:.4}
.viewer-container .viewer-button:hover {background-color:#000;opacity:1}
.viewer-container .viewer-button:before {bottom:10px;left:10px;width:18px;height:18px;background-image:url(../images/close_alert.png);    background-position: 50%;}
.viewer-footer {height:0}
.viewer-canvas {position:relative1!important}
.viewer-canvas img {position:absolute!important;top:0!important;left:0!important;bottom:0!important;right:0!important;margin:auto!important}
.viewer-footer {height:0}

.comment-info .sale-time{margin-left: .2rem;}
/*商家详情*/
.store_container {padding: 30px 24px 20px;background: #fff}
.store_container ul li{font-size: 16px;color: #999;margin-bottom: 30px;}
.store_container ul li span{display: inline-block;vertical-align: top;line-height: 24px;}
.store_container ul li span:first-child{width: 96px;text-align: right;margin-right: 8px;}
.store_container ul li span.spe_span{display: inline-block;color: #333;max-width: 1000px;}
.store_container ul li span.spe_span a{color: #0087FF}
.certy .img_div{float: left;position: relative;width: 370px;height: 370px;overflow: hidden;border: 1px solid #eee;margin-right: 20px;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;margin-bottom: 20px;
}
.certy .img_div img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.certy .img_div:nth-child(3n){margin-right: 0}
/* 多规格浮动层 */
.nature { position: fixed; z-index: 200; min-width: 272px; max-width: 480px;left: 50%; top: 50%; display: none; background: #fff;  box-shadow: 0 0 20px rgba(0, 0, 0, .15); box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;border-top: 2px solid #fcbf1c;transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-o-transform: translate(-50%,-50%);
}

.nature  s.cha { position: absolute; right: 20px; top: 16px; width: 14px; height: 14px; background-image: url(../images/close.png); background-position: center center; background-repeat: no-repeat;cursor: pointer }
.nature .con { -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color:rgba(0,0,0,0);padding: 16px 20px 0;}
.nature .con dl { margin-bottom: 30px;}
.nature .con dt { font-size: 14px;}
.nature .con dd a { float: left; margin: 12px 12px 0 0; border-radius: 13px; border: 1px solid #e0e0e0; font-size: 14px; padding: 0 16px;height: 26px;line-height: 26px;}
.nature .con dd a.disabled { background: #eee; opacity: .4;}
.nature .con dd a.curr { color: #e84538; border-color: #e84538;}
.nature .has-choose{padding: 0 20px 18px;font-size: 14px;}
.nature .fot { background: #f5f5f5; padding: 14px 20px;}
.nature .fot span { float: left; color: #ff635c; font-size: 16px; line-height: 36px;}
.nature .fot span i { font-style: normal;}
.nature .fot .confirm { float: right; height: 36px; line-height: 36px; padding: 0 16px; color: #fff; font-size: 14px; background: #fcbf1c; border: 0; border-radius: 3px; cursor: pointer;}
.nature .fot .confirm:disabled { background: #ccc;cursor: default;}
.flyer-img{width: 100px;height: 100px;border-radius: 50%; z-index: 9999999;}

.loading{display: block;font-size: 14px;color: #666;padding: 22px 0 40px;background: #fff;width: 100%;text-align: center;}
/*分页*/
.pagination {padding: 10px 0 30px; text-align: center; line-height: 32px; font-size: 14px; color: #BEBFC4; margin-top: 30px;font-weight: bold;}
.pagination li {display: inline-block; margin-right: 7px; background-color:#fff;border-radius: 3px}
.pagination li.page_disabled {display: none;}
.pagination li a, .pagination li span {display: block; padding: 0 10px;color:#BEBFC4;}
.pagination li a:hover ,.pagination li.page_current span {background: #FCBF1C; color: #fff;}
.pagination li.page_more span {background: #fff;color: #BEBFC4; cursor: default;}
.pagination .page_info {display: none;}

.pagination-gotopage {float: right; margin-left: 15px;}
.pagination-gotopage label {float: left; line-height: 28px; margin-right: 8px;font-size: 14px;color: #5a5a5e;}
.pagination-pages {display: inline-block;}
.pagination-pages a, .pagination-pages span {float: left; min-width: 18px; height: 28px; padding: 0 5px; margin: 0 7px 0 0; text-align: center; line-height: 28px; font-size: 14px; cursor: pointer; color: #BEBFC4; text-decoration: none;background-color:#F5F5F7;border-radius: 3px}
.pagination-pages .curr {background: #FCBF1C; color: #fff;}
.pagination-pages a:hover { background: #FCBF1C; color: #fff;}
.pagination-pages .prev {display: inline-block;}
.pagination-pages .prev,.pagination-pages .next{width: 56px!important;background-color: #F5F5F7;border-radius: 3px}
.pagination-pages .next {padding: 0 8px;}
.pagination-pages .prev.disabled,.pagination-pages .next.disabled{display: none;}

/*食物详情弹窗*/
.food_alert{position: fixed; z-index: 100001; display: none; width: 798px; left: 50%; top: 50%; margin-top: -100px;margin-left: -399px; background: #fff;  box-shadow: 0 0 20px rgba(0, 0, 0, .15); -webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;border-radius: 4px;padding: 20px;}
.food_alert s.cha { position: absolute; right: 20px; top: 20px; width: 14px; height: 14px; background-image: url(../images/close.png); background-position: center center; background-repeat: no-repeat;cursor: pointer }
.slideBox{ width:350px; height:280px; overflow:hidden; position:relative;float: left; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd img{ width:350px; height:280px; display:block;  }
.slideBox .food_prev,.slideBox .food_next{ position:absolute; top:50%; margin-top:-30px; display:block; width:30px; height:60px;}
.slideBox .food_prev{ left:0  ;background: url(../images/food_prev.png) no-repeat;background-size: contain; }
.slideBox .food_next{ left:auto; right:0; background: url(../images/food_next.png) no-repeat;background-size: contain; }
.slideBox .food_prev:hover,.slideBox .food_next:hover{display: block;  }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }
.food_cont{margin-left: 370px;}
.food_cont .foodTit{font-size: 18px;font-weight: bold;}
.food_cont .foodDescp{font-size: 14px;color: #999;margin-top: 10px;}
.food_cont .foodPrice{font-size: 24px;color: #ff635c;margin-top: 20px;}
.food_cont .foodPrice em{font-size: 14px;}
.food_cont .addcar{width: 116px;height: 36px;line-height: 36px;text-align: center;border-radius: 18px;background: #FCBE1B;font-size: 14px;color: #fff;cursor: pointer;margin-top: 20px;}
.food_cont .addcar.disabled{background:#B5B5B5;cursor: default;}
.mask_food {height: 100%;width: 100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;z-index: 100000; display: none;}
/* 20200307 新增 */
.discount_num{display: inline-block; color: #FF635C; font-size: 12px; border-radius: 2px; border: solid 1px #FFD6D4; padding: 0 4px;}
.fn-right.right_b {float:right;margin-top: -10px;}

.vprice_show span:after{content: ''; display: inline-block; width: 35px; height: 18px; background: url(../images/vip_icon.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: 4px;}
.vprice_show span{display: inline-block; color: #333; font-size: 14px;padding-top: 8px;}