.main-wrap{background: #F5F5F5;padding-top: 20px;padding-bottom: 40px;}

.serach-top{padding: 12px 20px 12px 16px;}
.serach-top .search_result{font-size: 16px}
.serach-top .search_result em{color: #FFA800}
.search-box {border:1px solid #ddd;background: #fff}
.search-box .header-search {display:block;width:256px;height:13px;padding:15px 0;font-size:14px;color:#333;border:none;background:none;padding-left:15px;_display:inline;/*解决ie6的双边距浮动bug*/}

.search-box .doSearch {width:43px;height:43px;background-position:center;border-left:1px solid #ddd;position: relative;}
.search-box .doSearch i{display: inline-block;width: 22px;height: 22px;background-image:url(../images/search.png);background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;position: absolute;left: 50%;top: 50%;margin-left: -11px;margin-top: -11px;}

/*列表*/
.main-slist{}
.main-slist ul li{border: 1px solid #ddd;background: #fff;margin-top: 20px;}
.main-slist .store_top{padding: 15px;background: #f9f9f9}
.main-slist ul li .store_pic{position: relative;width:60px;height: 60px;overflow: hidden;float: left;border:1px solid #eee;}
.main-slist ul li .store_pic img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.main-slist ul li .store_con{margin-left: 75px;}
.main-slist ul li .con_top{font-size: 16px;}
.main-slist ul li .con_top h3{display: inline-block;max-width: 70%}
.main-slist ul li .con_top h3 a{display: inline-block;max-width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.main-slist ul li .con_top h3 a:hover{color: #FCBF1C}
.main-slist ul li .favorable{display: inline-block;}
.main-slist ul li .favorable i{display: inline-block;width: 20px;height: 20px;margin-right: 4px;vertical-align: top;margin-top: -4px;}
.main-slist ul li .favorable i.icon_shou{background: url(../images/icon_shou.png) center center no-repeat;background-size: cover;}
.main-slist ul li .favorable i.icon_zhe{background: url(../images/icon_zhe.png) center center no-repeat;background-size: cover;}
.main-slist ul li .favorable i.icon_jian{background: url(../images/icon_jian.png) center center no-repeat;background-size: cover;}
.main-slist ul li .favorable i.icon_fan{background: url(../images/icon_fan.png) center center no-repeat;background-size: cover;}

.main-slist ul li .rank_star{margin-top: 8px;display: inline-block;margin-right: 13px;}
.main-slist ul li .rank_star span{display: inline-block;font-size: 14px;color: #999}
.main-slist ul li .rank_star .judge-star{ position: relative;background: url(../images/star_no.png) 0 0 repeat-x;width: 95px;height: 19px;display: inline-block;vertical-align: top}
.main-slist ul li .rank_star .judge-star s {position: absolute;display: inline-block;height: 19px;background: url(../images/star_yes.png) 0 0 repeat-x;}
.main-slist ul li .rank_star .score{font-size: 14px;color: #999;margin-left: 7px;}

.main-slist ul li .send-info{font-size: 14px;color: #999;display: inline-block;height: 16px;line-height: 16px;padding-left: 16px;border-left: 1px solid #ddd}
.main-slist ul li .send-info span{margin-right: 20px;}
.main-slist .store_bottom{}
.main-slist .store_bottom dl{padding: 13px 20px;border-bottom: 1px solid #eee;width: 100%; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;
}
.main-slist .store_bottom dl:last-child{border-bottom: none}
.main-slist .store_bottom dl:hover{background:rgba(252,191,28,.08);}
.main-slist .store_bottom dt{float: left;width: 50%;font-size: 14px;line-height: 34px;}
.main-slist .store_bottom dd{float: left;font-size: 14px;width: 50%}
.main-slist .store_bottom dd a.go_buy{display: inline-block;width: 104px;height: 34px;line-height: 34px;text-align: center;background: #FCBF1C;border-radius: 3px;color: #fff;font-size: 16px;}
.main-slist .store_bottom dd span{display: inline-block;text-align: center;}
.main-slist .store_bottom dd span.food_price{width: 40%}
.main-slist .store_bottom dd span.month_sale{width: 40%}
.main-slist .store_bottom dd .month_sale em{color: #FCBF1C}
.main-slist .loading{display: block;font-size: 14px;color: #666;padding: 22px 0 40px;width: 100%;text-align: center;}