.body_box{background: #f5f5f5;}
.fixed .NavList{display: none;}
.fixedpane.fixed .all_cate:hover .NavList{display: block;}
/* 广告位 */
.top_box{width: 100%; height: 560px; position: relative; }
.adv_box{width: 100%; height: 560px; background: #B61B09; overflow: hidden; position: relative;}
.adv1_box {width: 1200px; margin: auto; position: absolute; left: 0; right: 0;bottom: 9px; padding-left: 230px; box-sizing: border-box;}
.adv1_box li{width: 242px; height: 124px; float: left; margin-left: 1px;}
.right_shop{width: 1200px; height: 1px; margin: auto; position: absolute; left: 0; right: 0;bottom: 9px;}
.right_shop .shop_box{position: absolute;right: 0; bottom: 0; width: 230px; height: 520px; background: #fff; border-radius:4px 4px 0px 0px; z-index: 3;}
.right_shop .shop_box .bg{position: absolute; top: 0; left: 0; right: 0; z-index: 0;}
.right_shop .shop_box .bg img{width: 100%;}
.right_shop .shop_box .ruzhu_btn{width: 212px; height: 125px; background: url(../images/ruzhu_bg.png) no-repeat center; background-size: cover; display: block; margin: auto; margin-top: -24px; font-size: 30px; text-align: center; font-weight: bold; box-sizing: border-box; padding-top: 36px; color: #fff; position: relative; z-index: 2;}
.ru_list { height: 420px; position: relative; z-index: 2;}
.ru_list dt{font-size: 18px; color: #333; font-weight: bold; padding:14px 12px; padding-top: 26px;  margin-bottom: 10px;}
.ru_list dd{padding:9px 13px; font-size: 14px; background: #fff;}
.ru_list a{display: inline-block; width: 140px; color: #333; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; vertical-align: middle;}
.ru_list a:hover{color: #FF6C00;}
.ru_list span{ color: #999; display: inline-block; text-align: right; width: 46px; margin-left: 10px; vertical-align: middle;}
.slideBox {width: 750px; height: 427px; margin-left: 220px;}
.slideBox .slideshow-item {height: 427px;}
.slideBox .slideshow-item  img{ height: 427px; max-width: 100%; object-fit: cover; object-position: center; /* position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto; */}
.slideBox .slideshow-item{text-align: center;}

.slideBox .hd{position: absolute; left: 0; right: 0; bottom: 142px; text-align: center;}
.slideBox .hd li{display: inline-block; width: 10px; height: 10px; background: #fff; opacity: .6; border-radius: 5px; transition: width .2s; margin: 0 4px; cursor: pointer;}
.slideBox .hd li.on{opacity: 1; width: 28px;}

.con_box{ width: 1200px; margin: auto; padding-bottom: 50px;}
/* 两列的商铺 */
.tow_col{width: 1200px; margin: auto; margin-top: 20px;}
.left_col,.right_col{width: 594px; /* height: 620px; */background: #fff; box-sizing: border-box; padding: 20px 18px; }
.left_col{float: left;}
.right_col{float: right;}
.col_box h2,.brand_box h2{font-size: 24px; font-weight: bold; color: #333; line-height: 1.1em; position: relative;}
.col_box h2 a,.brand_box h2 a{font-size: 14px; color: #666; position: absolute; right: 0; font-weight: normal;}
.col_box h2 a:hover,.brand_box h2 a:hover{color: #FF6C00;}

.col_box ul li.shop_li{float: left; margin-top: 24px; margin-right: 20px;}
.col_box ul li.shop_li:nth-child(3n){margin-right: 0;}
.col_box ul li.shop_li a{display: block;}
.col_box ul li.shop_li a .img_box{width: 172px; height: 172px;  border: solid 1px #eee; overflow: hidden; position: relative; box-sizing: border-box;}
.col_box ul li.shop_li a .img_box img{position: absolute; width: 100%; object-fit: cover; left: 0; right: 0; top: 0; bottom: 0; margin: auto;}
.col_box ul li.shop_li h3{font-size: 16px; color: #333; font-weight: normal;margin-top: 6px; overflow: hidden;white-space: nowrap; text-overflow: ellipsis; max-width:170px; }
.col_box ul li.shop_li .shop_info p.star span{ display: inline-block; width: 90px; margin-right: 10px; height: 18px; background: url(../images/star1_i.png) repeat-x ; vertical-align: middle; margin-bottom: 4px;}
.col_box ul li.shop_li .shop_info p.star span s{background: url(../images/star_i.png) repeat-x ;  height: 18px; display: block;}
.col_box ul li.shop_li .shop_info p{font-size: 14px; color: #999; margin-top: 4px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 172px;}

.con_box .adv2_box,.con_box .adv4_box{width: 100%; text-align: center; margin-top: 20px; overflow: hidden;}
/* .con_box .adv2_box img{object-fit: cover;/* width: 100%; */position: absolute;left: 0;right: 0;bottom: 0;top: 0;} */
/* .con_box .adv4_box{height: 80px;} */
.con_box .adv4_box img{object-fit: cover; width: 100%;}
/* 品牌甄选 */
.brand_box{padding: 18px 11px; background: #fff; margin-top: 20px; position: relative;}
.brand_box h2{padding:0 9px; margin-bottom: 20px;}
.brand_box h2 a{right: 9px;}
.brand_box ul{position: relative; z-index: 2;}
.brand_box li{display: block; width: 217px; height: 250px; float: left; margin: 12px 9px; background-color: #f2f2f2; border-radius: 6px;}
.brand_box .bg_adv{width: 100%; position: absolute; bottom: 0; left: 0; right: 0;z-index:1;}
.brand_box .bg_adv img{width: 100%;display: block;}
/* 热门推荐 */
.hot_rec {margin-top: 20px; }
.hot_rec dt,.hot_rec dd{float: left; width: 190px; height: 288px; margin-right: 10px;}
.hot_rec dd:last-child{margin-right: 0;}
.hot_rec dt{background: url(../images/hot_bg.png) no-repeat center; background-size: cover; color: #fff; text-align: center; box-sizing: border-box; padding-top: 26px;}
.hot_rec dt h3{font-size: 36px; font-weight: bold;}
.hot_rec dt p{font-size: 16px;}
.hot_rec dt a{width: 118px; height: 40px; border-radius: 20px; background: #fff; color: #FF6C00; font-size: 16px; display: block; text-align: center; margin: auto; line-height: 40px; margin-top: 100px;}
.hot_rec dd.rec_dd{background: #fff;}
.hot_rec dd.rec_dd:hover{box-shadow:0px 6px 13px 0px rgba(187,187,187,0.29);}
.hot_rec dd.rec_dd a{display: block;}
.hot_rec dd.rec_dd .pro_img{width: 100%; height: 190px; overflow: hidden; position: relative; background: #f5f5f5;}
.hot_rec dd.rec_dd .pro_img img{position: absolute; width: 100%;height: 190px; object-fit: cover;position: absolute;left: 0; top: 0; right: 0; bottom: 0; margin: auto;}
.hot_rec dd.rec_dd .pro_info{padding: 10px;}
.hot_rec dd.rec_dd .pro_info h3{font-size: 16px; color: #333; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.hot_rec dd.rec_dd .pro_info .careList{margin-top: 22px;}
.hot_rec dd.rec_dd .pro_info .left_head{width: 80px; float: left; height: 24px;}
.hot_rec dd.rec_dd .pro_info .left_head li{width: 24px; height: 24px; border-radius: 50%; overflow: hidden; display: inline-block; margin-right: -6px;}
.hot_rec dd.rec_dd .pro_info .left_head li img{width: 100%; height: 100%; object-fit: cover;}
.hot_rec dd.rec_dd .pro_info .right_txt{float: right; font-size: 14px; color: #999; text-align: right; line-height: 24px;}

/* 为你推荐 */
.rec_box {margin-top: 50px;}
.rec_box h1{font-size: 36px; font-weight: bold; text-align: center; color: #333;}
.rec_box>p{text-align: center; font-size: 16px; color: #999; margin-bottom: 40px;}
.rec_box .rec_ul{padding-bottom: 10px;}
.rec_box .rec_li{width: 25%; float: left; margin-bottom: 30px;}
.rec_box .rec_li a:hover{box-shadow:0px 10px 32px 0px rgba(72,88,112,0.09);}
.rec_box .rec_li a{display: block; width: 275px; height: 408px; background: #fff; margin: auto; position: relative; box-sizing: border-box; padding-top: 62px;}
.rec_box .rec_li .shop-bg{height: 140px; position: absolute; left: 0; top: 0; right: 0;}
.rec_box .rec_li .shop-bg img,.rec_box .rec_li .img-title img{width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; right: 0; bottom: 0;}
.rec_box .rec_li .img-title{width: 140px; height: 140px; border-radius: 50%; box-shadow:0px 5px 18px 0px rgba(175,175,175,0.18); background: #fff; position: relative; overflow: hidden; margin: auto;}
.rec_box .rec_li .shop-details{padding: 0 20px;}
.rec_box .rec_li .shop-details .name{ font-size: 18px; color: #333; font-weight: bold; text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-top: 24px;}
.rec_box .rec_li .shop-details .label{text-align: center; margin-top: 6px;}
.rec_box .rec_li .shop-details .label span{display: inline-block; height: 26px;line-height: 24px; padding: 0 10px; border: solid 1px #FF6C00; color: #FF6C00; font-size: 12px; text-align: center; border-radius: 4px; margin: 0 1px; box-sizing: border-box;}
.rec_box .rec_li .shop-details .location{color: #999; font-size: 14px; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-top: 14px;}
.rec_box .rec_li .shop-details .tel{width: 228px; height: 45px; border-radius: 23px; background: #fff;box-shadow:0px 5px 43px 0px rgba(175,175,175,0.24); color: #FF6C00; font-size: 16px; font-weight: bold; line-height: 45px; text-align: center; margin: auto; margin-top: 16px;}
.rec_box .rec_li .shop-details .tel em{color: #fff; display: none;}
.rec_box .rec_li .shop-details .tel:hover{background: #FF6C00;}
.rec_box .rec_li .shop-details .tel:hover span{display: none;}
.rec_box .rec_li .shop-details .tel:hover em{display: block;}
.rec_box a.more_rec{ display: block; width: 163px; height: 47px; margin: auto; line-height: 45px; border-radius: 10px; font-size: 16px; color:#999; box-sizing: border-box; border: solid 1px  #C4C4C4; text-align: center;}
.rec_box a.more_rec:hover{color: #FF6C00; border: solid 1px  #FF6C00;}
.rec_box a.more_rec:hover i{background-image: url(../images/l_arr2.png)}
.rec_box a.more_rec i{display: inline-block; width: 18px; height: 18px; background: url(../images/l_arr1.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: 2px;}
















.footer{margin-top: 0;}
