.footer{margin-top: 0;}

.list_container{background: #f5f5f5; padding-bottom: 50px;}
.list_container .wrapper{width: 1200px; margin: auto;}
.list_container .wrapper .index_page{font-size: 14px; color: #999; padding-top: 20px; padding-bottom: 20px;}
.list_container .wrapper .index_page .currpage{color: #FF5C1D;}

/* 筛选 */
.list_container .wrapper .sieve_box{background: #f9f9f9; margin-bottom: 20px;}
.list_container .wrapper .sieve_box .sieve .left_box{width: 100px; float: left; color: #666; padding-top: 30px; text-align: center; font-size: 14px; font-weight: bold;}
.list_container .wrapper .sieve_box .sieve .right_box{margin-left: 100px; background: #fff; padding: 24px; padding-top: 30px; font-size: 14px; color: #666; padding-bottom: 10px;}
.list_container .wrapper .sieve_box .right_box a{color: #666;}
.list_container .wrapper .sieve_box .right_box .on {background: #FF6C00;  border-radius: 3px;}
.list_container .wrapper .sieve_box .right_box .on a{color: #fff;}
.list_container .wrapper .sieve_box .right_box .sort_all{float: left; line-height: 28px; padding: 0 10px;}
.list_container .wrapper .sieve_box .right_box .filter_box{margin-left: 60px;}
.list_container .wrapper .sieve_box .right_box .filter_box li{float: left;padding:0 10px; line-height: 28px; text-align: center; margin:0 8px; margin-bottom: 10px;}
.list_container .wrapper .sieve_box .right_box .filter_box li.on{background: #FF6C00;}
.list_container .wrapper .sieve_box .right_box .filter_box .child_box{padding: 10px; border: solid 1px #eee; background: #FAFAFA;}
.list_container .wrapper .sieve_box .right_box .filter_box .child_box li{margin: 0 4px;}

/* 列表 */
.list_box{width: 930px; background: #fff; float: left;}
.rlist_box{float: right; width: 250px;}
.list_box .sortbox li{display: inline-block; position: relative;}
.list_box .sortbox li i{width: 1px; height: 14px; display: block; background: #ddd; position: absolute; right: 0; top: 50%; margin-top: -7px;}
.list_box .sortbox li a{padding: 0 18px; font-size: 14px; color: #666;}
.list_box .sortbox li.li_active a,.list_box .sortbox li a:hover{color: #FF6C00;}
.list_box .sortbox {padding: 14px 4px; border-bottom: solid 1px #eee;}
.list_box  .shop_li{border-bottom: solid 1px #eee;}
.list_box  .shop_li:hover{background: #fafafa;}
.list_box  .shop_li .shop_div{display: block; padding: 20px; position: relative;}
.list_box li.shop_li  p,.rlist_box .rec_dl  dd p{font-size: 14px; color: #999; margin-top: 6px;}
.list_box li.shop_li  p.star span,.rlist_box .rec_dl  dd span{ display: inline-block; width: 90px; margin-right: 10px; height: 18px; background: url(../images/star1_i.png) repeat-x ; vertical-align: middle; margin-bottom: 4px;}
.list_box li.shop_li  p.star span s,.rlist_box .rec_dl  dd span s{background: url(../images/star_i.png) repeat-x ;  height: 18px; display: block;}
.list_box  .shop_li .left_img{width: 140px; height: 140px; float: left; position: relative; border: solid 1px #eee;}
.list_box  .shop_li .left_img img{width:100%; max-height: 100%; object-fit: cover; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;}
.list_box  .shop_li .right_info{margin-left: 156px;}
.list_box  .shop_li .right_info a.top_a{display: block;}
.list_box  .shop_li .right_info i,.list_box  .shop_li .tel i,.list_box  .shop_li .right_info .addr a{vertical-align: middle; margin-bottom: 4px; margin-left: 4px;}
.list_box  .shop_li .right_info h2{font-size: 24px; color: #333; font-weight: bold;}
.list_box  .shop_li .right_info .label{margin-top: 10px;}
.list_box  .shop_li .right_info .label span{display: inline-block; padding: 0 10px; border-radius: 4px; background: #F5F5F5; line-height: 26px; color: #999; text-align: center;}
.list_box  .shop_li .right_info .addr{margin-top: 18px;}

.list_box  .shop_li .tel{width: 228px; height: 45px; border-radius: 23px; background: #fff;box-shadow:0px 5px 43px 0px rgba(175,175,175,0.24); color: #FF6C00; font-size: 16px; font-weight: bold; line-height: 45px; text-align: center; margin: auto; margin-top: 16px; position: absolute; right: 17px; top: 66px;} 
.list_box  .shop_li .tel span{display: block;}
.list_box  .shop_li .tel i{display: inline-block; height: 28px; margin-right: 10px;}
.list_box  .shop_li .tel em{color: #fff; display: none;}
.list_box  .shop_li .tel:hover{background: #FF6C00; box-shadow:0px 5px 24px 0px rgba(255,108,0,0.24);}
.list_box  .shop_li .tel:hover span{display: none;}
.list_box  .shop_li .tel:hover em{display: block;}

/* 热门推荐 */
.rlist_box .hot_rec dt{width: 100%; height: 80px; background: url(../images/dt.png) no-repeat center bottom #FF591E; font-size: 24px; font-weight: bold; color: #fff; padding-top: 20px; box-sizing: border-box; text-align: center;}
.rlist_box dd{padding: 0 10px; background: #fff;}
.rlist_box dd:last-child a{border: none;}
.rlist_box dd a{display: block; border-bottom: solid 1px #eee; padding: 20px 0;}
.rlist_box dd a .l_box{float: left;}
.rlist_box dd a .l_box .l_num{font-size: 30px; font-weight: 400px; vertical-align: middle; color:#777; margin-right: 16px; font-family: number; font-style: italic;}
.rlist_box dd a .l_box .l_num.red{color:#FF591E;}
.rlist_box dd a .l_box .s_logo{display: inline-block; width: 50px; height: 50px; border-radius: 50%; overflow: hidden; border: solid 1px #efefef; vertical-align: middle;}
.rlist_box dd a .l_box .s_logo img{width: 100%; height: 100%; object-fit: cover;}
.rlist_box dd a .r_box{margin-left: 92px; padding-top: 4px;}
.rlist_box .rec_dl{margin-top: 12px;}
.rlist_box .rec_dl dd a .r_box{margin-left: 82px;}
.rlist_box .rec_dl dd a {padding-left: 10px; padding-right: 10px;}
.rlist_box .rec_dl  dd a .l_box .s_logo{width: 60px; height: 60px;}
.rlist_box .rec_dl dt{font-size: 24px; font-weight: bold; padding-left: 20px;background: #fff; line-height: 64px; border-bottom: solid 1px #eee;}
.rlist_box dd a h4{font-size: 16px; color: #333; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.rlist_box dd a p{font-size: 14px; color: #999;}
.adv_box{width: 100%; height: 138px; margin-top: 12px; }
.adv_box img{width: 100%; height: 138px; object-fit: cover;}

.empty{font-size: 14px; color: #999; text-align: center; padding: 20px;}
/* 遮罩 */
.mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.6); z-index: 3; display: none;}
 /*地图弹窗*/
 .map-popup{width:720px;padding:25px;background: #fff;border-top: 2px solid #f34e1c;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;position: fixed;z-index: 34;top:200px;left:50%;margin-left:-385px; }
.map-popup .close{position: relative;}
.map-popup .close img{position: absolute;top:-11px;right:-14px;z-index: 22;cursor: pointer;}
.map-popup .name{font-size: 28px;font-weight: bold;}
.map-popup .location{font-size: 16px;line-height: 32px;}

#allmap {width: 710px;height:500px;overflow: hidden;margin:0;}
@font-face {
	font-family: number;
	src: url('../font/ca normal w01 heavy.otf'),
		url('../font/ca normal w01 heavy.TTF'),
		url('../font/ca normal w01 heavy.svg'),
		 url('../font/ca normal w01 heavy.woff'); /* IE9 */
}