.nos ,.nos body{overflow: hidden;}
.topInfo{margin-bottom: 0;}
.fixedwrap{height: 159px!important; margin: 27px 0 0!important;}
.fixedpane.fixed{height: 161px;}
.searchwrap{border:solid 2px #FF5B1E;height:46px;background-color:#fff; float: left; margin: 7px 10px 56px 120px; border-radius:4px ;}
.fixedwrap .search .searchkey{margin-top: 8px; }
.w1200 .searchwrap{width: 488px;background: #fff}
.fixedwrap .header .logo{height: 67px;margin-top: 0}
.fixedwrap .search .type{border-right:0;position: relative;}
.fixedwrap .search .type:after{content:'';position:absolute;top:2px;right:0;width:1px;height:30px;display:block;background: -moz-linear-gradient( 90deg, rgba(184,186,194,0) 0%, rgb(184,186,194) 50%, rgb(184,186,194,0) 100%);background: -webkit-linear-gradient( 90deg, rgba(184,186,194,0) 0%, rgb(184,186,194) 50%, rgb(184,186,194,0) 100%);background: -ms-linear-gradient( 90deg, rgba(184,186,194,0) 0%, rgb(184,186,194) 50%, rgb(184,186,194,0) 100%);}
.fixedwrap .search .type a{font-size: 14px;}
.fixedwrap .search .type dl em{border-top-color: rgb(184, 186, 194);}
.fixedwrap .search .type dd{background: #f5f6fc;padding-top:0;border:solid 1px #dcdde3; left:-4px;width: 95px;}
.fixedwrap .search .type dd a{line-height: 46px;color:#8a8b91;font-size: 15px;border-bottom:solid 1px #dcdde3;}
.fixedwrap .search .type dd a:hover{color: #FF5B1E}
.fixedwrap .search .type dd a:last-child{border-bottom:none;}
.fixedwrap .search .subbox{width: 106px;position: absolute;top:0;right:0;height: 46px;    -webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;transition: all .2s ease-in-out;
background: -moz-linear-gradient(86deg,rgba(255,51,45,1) 0%,rgba(255,94,28,1) 100%);
background: -webkit-linear-gradient(-86deg,rgba(255,51,45,1) 0%,rgba(255,94,28,1) 100%);
background: -o-linear-gradient(-86deg,rgba(255,51,45,1) 0%,rgba(255,94,28,1) 100%);
background: -ms-linear-gradient(-86deg,rgba(255,51,45,1) 0%,rgba(255,94,28,1) 100%);
background: linear-gradient(-86deg,rgba(255,51,45,1) 0%,rgba(255,94,28,1) 100%);}
.fixedwrap .search .submit{width:106px;font-size: 15px;}
.fixedwrap .search .subbox i.isearch{position:absolute;top:50%;left:22px;margin-top:-8px;display: block;width:16px;height:16px;background: url(../images/topIcon.png) no-repeat;background-position: 0 0;}
.infobox{float: left;margin: 7px 0 0 0;}
.infobox a.fbbox{position:relative;width: 133px;height: 46px;line-height: 46px;text-align: center;float: left;font-size: 16px;color:#fff;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.infobox a.fbbox{background: #FF653B;border-radius: 4px}

.infobox a.fbbox i.ifabu{display: inline-block;height:20px;vertical-align: middle;margin-top: -4px;margin-right:6px;}
.infobox a.fbbox i.ifabu{width:20px;background: url(../images/fabu_head.png) no-repeat 100% center;}

.infobox a span{display: inline-block;}
.header .kefu{margin-top: 8px;font-size: 18px;color: #333;font-weight: normal;}
.header .kefu p{font-size: 14px; color: #999; font-weight: normal;}
/*搜索关键词*/
.fixedwrap .search{margin: 3px 88px 6px 3px}
.fixedwrap .search i.icon_search{display: block; width: 24px; height: 24px; position: absolute; left: 10px; top: 10px; }
.fixedwrap .search i.icon_search img{display: block; width: 100%; height: 100%; object-fit: cover;}
.fixedwrap .search .type dl dt{line-height: 38px}
.searchkey{clear:both;}

.searchkey::placeholder{color: #a0a0a0}
.searchkey a{font-size: 12px;margin:10px 2px;color: #999}
.searchkeys span{font-size: 12px;color: #999}
.searchkey a:hover{color: #FF653B}
.fixedwrap .search .inputbox{margin-left: 30px;}
/*导航*/
.nav-con{width: 100%;height: 52px;margin:0 auto;/* background:#fff; */ position: relative;}
.nav-con .wrap .all_cate,.nav-con .wrap .nav_ul,.nav-con .nav_ul>li{float: left;}
.nav-con .wrap .all_cate{position: relative; margin-right: 10px;}
/* .nav-con .nav_ul{margin-left: 15px} */
.nav-con .nav_ul>li {margin-right: 10px;}
.nav-con .nav_ul>li a{display:block; padding: 0 26px;font-size: 16px;line-height:46px}
.nav-con .nav_ul>li:hover,.nav-con .nav_ul>li.curr{background:linear-gradient(90deg,rgba(255,51,45,1) 0%,rgba(255,94,28,1) 100%);-webkit-transition:0.5s all ease;-moz-transition:0.5s all ease;-ms-transition:0.5s all ease;-o-transition:0.5s all ease;transition:0.5s all ease; border-radius: 6px 6px 0 0;}
.nav-con .nav_ul>li:hover a,.nav-con .nav_ul>li.curr a{color: #fff}
.nav-con .all_cate.curr{background:linear-gradient(90deg,rgba(255,51,45,1) 0%,rgba(255,94,28,1) 100%);}
.nav-con .all_cate{color:#666;font-size: 18px;line-height: 46px;width: 100px;text-align: center;cursor: pointer;position: relative;z-index: 99; border-radius: 6px 6px 0 0;}
.nav-con i.line{display: block; position: absolute; bottom: 3px; right: 0; left: 0; height: 3px;
background:linear-gradient(90deg,rgba(255,51,45,1) 0%,rgba(255,94,28,1) 100%);}
.nav-con .all_cate3:after{content: '';position: absolute;background: url(../images/arrowd.png) no-repeat center center;background-size:100%;margin-top: -2px;display: inline-block;width: 18px;height: 11px;margin-left: 12px;vertical-align: middle;top: 23px;}
.nav-con .wrap .boxRight{float: right;}
.nav-con .wrap .boxRight a{float: left;font-size: 16px;line-height: 52px;margin-left: 25px}
.nav-con .wrap .boxRight a i{float: left;width: 25px;height: 25px;margin-right: 5px}
.nav-con .wrap .boxRight a i.igifs{background: url(../images/gift.png) no-repeat center center;background-size:cover;margin-top: 12px;}
.nav-con .wrap .boxRight a i.iqd{background: url(../images/today.png) no-repeat center center;background-size:cover;margin-top: 14px;}

/*标签*/
.box_mark .m_mark{font-size: 15px;text-align: center;height: 30px;line-height: 30px;float: left;margin-right: 10px;}
.box_mark .mark1{padding:0 15px;background: #ff5b4c;color:#fff;}
.box_mark .mark2{padding:0 10px;background: #f0f2f7;color:#5a5a5e;}
.box_mark .mark3{padding:0 10px;background: #5bbbff;color:#fff;}
.box_mark .m_mark:last-child{margin-right: 0;}
.m_pic{background-color: rgb(0, 0, 0,0.302);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d000000,endColorstr=#4d000000);}

/*分类下拉*/
#navlist_wrap .NavList{animation: topFadeIn .5s ease-out;}
#navlist_wrap .NavList.navshow{display: block;}
#navlist_wrap{position: absolute;top: 45px; padding-top: 7px;}

.b-main .NavList{position: relative;left:0;top:0;width: 220px;z-index: 3;background: rgba(0,0,0,.85); padding: 20px 0;}
.b-main .NavList ul li{height: 42px;line-height: 42px;padding-left: 16px; overflow: hidden;padding-right: 10px; font-size: 16px;}
.b-main .NavList ul li a{color: #fff}
.b-main .NavList ul li.moreList{display: none;}
.b-main .NavList ul li s{width: 49px;height: 33px;background: url(../images/index_icon.png) no-repeat center center; background-size: ; display: inline-block;vertical-align: middle;margin:-4px 0 0 0;}
.b-main .NavList ul li s.iIcon1{background-position: 0 2px;}
.b-main .NavList ul li s.iIcon2{background-position: 0 -46px;}
.b-main .NavList ul li s.iIcon3{background-position: 0 -95px;}
.b-main .NavList ul li s.iIcon4{background-position: 0 -143px;}
.b-main .NavList ul li s.iIcon5{background-position: 0 -190px;}
.b-main .NavList ul li s.iIcon6{background-position: 0 -240px;}
.b-main .NavList ul li s.iIcon7{background-position: 0 -288px;}
.b-main .NavList ul li s.iIcon8{background-position: 0 -330px;}
.b-main .NavList ul li s.iIcon9{background-position: 0 -380px;}
.b-main .NavList ul li s.iIcon10{background-position: 0 -425px;}
.b-main .NavList ul li s.iIcon11{background-position: 0 -475px;}


.b-main .NavList ul li.active {background: #fff; color: #333;}
.b-main .NavList ul li.active a{color: #333;}
.b-main .NavList ul li.active a.name{font-weight: bold; color: #333;}
.b-main .NavList ul li:last-child {border-bottom:none;}
.b-main .NavList ul li .name {float:left;font-size:16px; margin-right: 12px; line-height: 42px;}
.b-main .NavList ul li .item {float:right;margin-right:8px;color:#c7c7c7;font-size:12px; max-width: 48px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.b-main .NavList ul li .item:hover {color:#1da9ff;}
.b-main .NavList ul li .arrow {float:right;margin-top:10px;width: 20px; height: 20px; background: url(../images/l_arr.png) no-repeat center; background-size: cover; }
.b-main .sub-category{display:none;position:absolute;left:220px;top:0; width:220px;z-index:999;text-align:left;-webkit-animation:leftFadeIn .3s ease-out;-moz-animation:leftFadeIn .3s ease-out;animation:leftFadeIn .3s ease-out; background: #fff; box-sizing: border-box; padding: 20px 0;}
.b-main .more_list{display:none;position: absolute;left: 220px;top: 15px;bottom: 0;width: 305px;z-index: 999;padding:0 20px;background:#575757 ; box-sizing: border-box;}
.b-main .more_list .sub-category{display:none;position:absolute;left:335px!important;top:5px;bottom:0;width:220px;z-index:999;text-align:left;-webkit-animation:leftFadeIn .3s ease-out;-moz-animation:leftFadeIn .3s ease-out;animation:leftFadeIn .3s ease-out; box-sizing: border-box;}
.more_link:hover .sub-category{display: block;}
.b-main .NavList ul li.active .sub-category{display:block;background:#fff ;}
.b-main .NavList ul li.active .sub-category .active{background-color: #f5f5f5;}
.b-main .NavList ul li.active .more_list{display:block;}
.more_list li.active .sub-category{display: block;}

.b-main .category-popup li.active .sub-category {display:block;}
.b-main .sub-category dl {padding:20px 0;border-bottom:solid 1px #dcdde3;}
.b-main .sub-category dl.recomshop .subitem a{width: 33.3%;}
.b-main .sub-category dl:last-child{border:none;}
.b-main .sub-category dt {height:36px;line-height:36px;padding-top:5px;}
.b-main .sub-category dt a {color:#4a4a4f;font-size:16px;font-weight: bold;}
.b-main .sub-category dt a:hover {color:#1da9ff;}
.b-main .sub-category dd {padding-top:5px;}
/*.b-main .sub-category dd .subitem {float:left;}*/
.b-main .sub-category dd a {float:left;height:32px;line-height:32px;font-size:14px;color:#8c8c91;padding-right: 16px}
.b-main .sub-category dd a:hover {color:#1da9ff;}



#loadMore {background-color: #ddd; color: #555; text-align: center; height: 28px; line-height: 28px; border-radius: 2px; cursor: pointer;}
#loadMore:hover {background-color: #ccc;}
#loadMore.loading {font-size: 0; text-indent: -999em; background-color: #ccc; background-image: url('/static/images/loading-grey.gif'); background-repeat: no-repeat; background-position: center;}


/*微信二维码弹出层*/
.modal-wx{width: 100%;height: 100%;top:0;right: 0;left:0;bottom: 0;}
.modal-bg{position: fixed;top:0;right: 0;left:0;bottom: 0;background: rgba(0,0,0,.5);opacity: 0;z-index: -1;}
.modal-main{display:none;width: 600px;height: 500px;position: fixed;top: 50%;left: 50%;margin-top: -250px;margin-left: -300px;background: url(../images/wcodebg.png) no-repeat center center;background-size: contain;z-index: 1004;-webkit-animation:leftFadeIn .3s ease-out; -moz-animation:leftFadeIn .3s ease-out; animation:leftFadeIn .3s ease-out;}
.main-code img{width: 180px;height: 180px;position: absolute;top: 50%;left: 50%;margin-top: -24px;margin-left: -77px;}
.main-code p{text-align: center;line-height: 620px;font-size: 24px;color: #fff;}

.closebox{cursor:pointer;width: 50px;height: 50px;position: absolute;right: -18%;top:-15%;}
.closebox img{width: 50px;height: 50px;}
.curr .modal-main{display: block;}
.curr>.modal-bg{opacity: 1;z-index: 1003;}

.btntop a{height: 50px; width: 50px; border-radius: 4px;text-align: center;line-height: 50px;}
.btntop .top {background: rgb(145, 145, 145,.569); filter: Alpha(Opacity=56); opacity: .569;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.btntop .top:hover{background-color: rgb(145, 145, 145);}
.btntop .top img{margin-top: 13px;}

/*面包屑*/
.crumbs{height: 50px;line-height: 50px;}
.crumbs .cont span{float: left;}
.crumbs .cont a {float: left;color:#999;}
.crumbs .cont a:hover{color:#fd4939;}
.crumbs .cont{float: left;font-size: 14px;color:#999;}
.crumbs .cont s {float: left;margin: 21px 10px 0; width: 5px; height: 9px; overflow: hidden; background-image: url('../images/listSprite1.png'); background-repeat: no-repeat;background-position: -76px -43px;}

/*分页*/
.pagination {padding: 20px 0 20px; text-align: center; line-height: 32px; font-size: 14px; color: #666; }
.pagination li {display: inline-block; margin-right: 3px; background-color:#fff;border: 1px solid  #D9D9D9;border-radius: 3px; min-width: 32px; height: 32px;}
.pagination li.page_disabled {display: none;}
.pagination li a, .pagination li span {display: block; padding: 0 10px;color:#666; text-align: center; }
.pagination li a:hover ,.pagination li.page_current span {background: #FF6C00; color: #fff;}
.pagination li.page_current{border: solid 1px #FF6C00;}
.pagination li.page_more span {background: #fff;color: #666; cursor: default;}
.pagination .page_info {display: none;}
