*{margin: 0; padding: 0;}
a{text-decoration: none; color: inherit; background: rgba(255,255,255,0); -webkit-tap-highlight-color:rgba(255,0,0,0); }
a:hover{text-decoration: none;}
html,body{width: 100%; height: 100%; min-width: 1200px; min-height: 800px;  font-family: "Arial", "Microsoft YaHei", "微软雅黑", "宋体"; overflow: hidden;}
.swiper-slide{background-position:50% 50%; position:relative;}
.pagination{ position: fixed; z-index: 100; margin-top: -81.5px; top: 50%; right:17px;}
.swiper-pagination-switch{ width:11px; height:11px; border:1px solid #ddd; border-radius:50%; display:block; margin:7px 7px 13px; cursor:pointer;}
.swiper-active-switch{ background:#ddd;}
.fs16{font-size:16px;}
.fs24{font-size:24px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.mt30{margin-top:30px;}
.mb20 {margin-bottom: 20px;}
.mt20 {margin-top: 20px;}
.mt15{margin-top:15px;}
.mt40{margin-top:40px;}
.mr35{margin-right:35px;}
.ml10 {margin-left: 10px;}
.line {width: 40px;height: 1px;background: #fff;}
.dividing-line {display: inline-block;vertical-align: middle;border-left: 1px solid #fff;height: 15px;margin: 0 8px;}
.white{color:#fff;}
.btn{ display: inline-block; vertical-align: middle; width: 240px; height: 60px; line-height: 60px; background: #f8ac00; border-radius: 2px; text-align: center; color: #fff; font-size: 18px; transition: all 1s; -webkit-transition: all 1s;}
.btn:hover{  background: #ffc555;}
.slide1 p{}

.wrap{width: 1200px; margin: 0 auto;}

/*第一屏*/
.slide1{background: #f8f8f8;}
.topInfo{margin-bottom: 0}
.bgfff{background: #fff;position: relative;z-index: 8}
.bgfff-inner{-webkit-box-shadow: 0px 2px 16px 0px rgba(147,147,147,0.07);-moz-box-shadow: 0px 2px 16px 0px rgba(147,147,147,0.07);box-shadow: 0px 2px 16px 0px rgba(147,147,147,0.07);
}
.header{padding-bottom: 21px;padding-top: 23px; }
.header .logo {float: left;height: 56px;overflow: hidden;}
.header .logo a {display: block;overflow: hidden;}
.header .logo h2 {float: left;line-height: 56px;font-size: 24px;color: #333;}
.header .logo img {float: left; height: 56px;vertical-align: middle;}

.navbar{float: right; position: relative;overflow: hidden;margin-right: -13px;}
.navbar ul{font-size: 0;position: relative;}
.navbar li{display: inline-block;}
.navbar a{font-size: 18px; padding: 10px 33px;position: relative;color: #000;  transition: all 0.36s ease; -webkit-transition: all 0.36s ease;  -moz-transition: all 0.36s ease;display: inline-block;}

.navbar a.currpage{color: #F4781B;font-weight: bold;}
.navbar i{display: inline-block;width: 40px;height: 4px;background: #F4781A;position: absolute;bottom: 0;left: 50px;}

.navbar a:hover{color: #F4781B;font-weight: bold;}
.navbar a:hover i{width: 40px;}

.mainWrap{position: fixed;top: 0;left: 0;bottom: 0;right: 0;padding-top: 100px;}
.main_wrap{width: 100%;background: url(../images/mobile_v2/bg.png) top center no-repeat;background-size: cover;padding: 4.2% 0 0;height: 100%;box-sizing: border-box;}
.main_wrap .topCon{position: absolute;top: 50%;margin-top: -330px;left: 50%;margin-left: -600px;}

.slide1 .img-left{-webkit-animation: fadeInLeft .8s both; animation: fadeInLeft .8s both;}
.img-left{background: url(../images/mobile/slider1_bg.png) -24px center no-repeat; width: 800px; text-align: center; position: absolute; left: 50%; margin-left: -835px; top: 50%; margin-top: -300px;}
.slide1_img1{-webkit-animation: fadeInLeft .8s both; animation: fadeInLeft .8s both;}
.txt-left{width: 582px; text-align: left; margin-top: 163px;}

.title{font-size: 60px; color: #4A4E5A;font-weight: bold;}
.subtit{font-size: 24px; color:#4A4E5A;}
.codebox{margin-top: 80px;}
.link{margin-left: 54px;}
.link a{display: block; width: 305px; height: 80px; border-radius: 10px; line-height: 80px; color: #fff; font-size: 26px;margin-bottom: 30px;font-weight: bold;background: #3466FF;box-shadow: 1px 6px 20px 0px rgba(52, 102, 255, 0.25);text-indent: 14px;text-align: left;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;transition: all .2s ease-in-out;-webkit-transform: translateY(0);-moz-transform: translateY(0);transform: translateY(0);}
.link a.link-android{background: #FF8902; box-shadow: 1px 6px 20px 0px rgba(255, 138, 2, 0.25);}
.link a span{padding: 15px 0 15px 70px;}
.link a.link-android span{background: url(../images/mobile_v2/link-android.png) 0 0 no-repeat;}
.link a.link-ios span{background: url(../images/mobile_v2/link-ios.png) 0 0 no-repeat;}
.link a:hover{-webkit-transform: translateY(-3px);-moz-transform: translateY(-3px);transform: translateY(-3px);}
.link a.link-ios:hover{box-shadow: 0px 20px 51px 0px rgba(52, 102, 255, 0.25);}
.link a.link-android:hover{box-shadow: 0px 20px 51px 0px rgba(255, 138, 2, 0.25);}
.code{ background: #fff;padding: 4px;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;transition: all .2s ease-in-out;-webkit-transform: translateY(0);-moz-transform: translateY(0);transform: translateY(0);}
.code:hover{box-shadow: 0px 26px 51px 0px rgba(143, 89, 21, 0.16);-webkit-transform: translateY(-3px);-moz-transform: translateY(-3px);transform: translateY(-3px);}
.code img{width: 192px; height: 192px; display: block;}
.img-right{position: relative;width: 50%}
.img-right img{display: block;}
.img-right .img1{/*float: left;margin-top: 15%;*/position: absolute;right: 41%;top: 21%;width: 49%}
.img-right .img1 img{width:100%;}
.img-right .img2{float: right;width: 64%;position: relative;}
.img-right .img2 img{width: 100%}





/*底部*/
.footerWrap{text-align: center;  font-size: 12px; color: #aaa;position: absolute;bottom: 0;left: 0;right: 0}



@-webkit-keyframes fadeIn {0% { opacity: 0;}100% { opacity: 1;}}
@keyframes fadeIn {0% { opacity: 0;}100% { opacity: 1;}}

@-webkit-keyframes fadeInDown {0% { opacity: 0; -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0)}
100% { opacity: 1; -webkit-transform: none; transform: none}}
@keyframes fadeInDown {0% { opacity: 0; -webkit-transform: translate3d(0,-100%,0); -ms-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0)}
100% { opacity: 1; -webkit-transform: none; -ms-transform: none; transform: none}}

@-webkit-keyframes fadeInUp {0% { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0)}100% { opacity: 1; -webkit-transform: none; transform: none}}
@keyframes fadeInUp {0% { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); -ms-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0)}100% { opacity: 1; -webkit-transform: none; -ms-transform: none; transform: none}}

@-webkit-keyframes fadeInRight {0% { opacity: 0; -webkit-transform: translate3d(100%,0,0); transform: translate3d(100%,0,0)}
100% { opacity: 1; -webkit-transform: none; transform: none}}
@keyframes fadeInRight {0% { opacity: 0; -webkit-transform: translate3d(100%,0,0); -ms-transform: translate3d(100%,0,0); transform: translate3d(100%,0,0)}
100% { opacity: 1; -webkit-transform: none; -ms-transform: none; transform: none}}

@-webkit-keyframes fadeInLeft {0% { opacity: 0; -webkit-transform: translate3d(-100%,0,0); transform: translate3d(-100%,0,0)}
100% { opacity: 1; -webkit-transform: none; transform: none}}
@keyframes fadeInLeft {0% { opacity: 0; -webkit-transform: translate3d(-100%,0,0); -ms-transform: translate3d(-100%,0,0); transform: translate3d(-100%,0,0)}
100% { opacity: 1; -webkit-transform: none; -ms-transform: none; transform: none}}

@-webkit-keyframes fadePlane {0% { opacity: 0; -webkit-transform: translate3d(100%,100%,0); transform: translate3d(100%,100%,0)}
100% { opacity: 1; -webkit-transform: none; transform: none}}
@keyframes fadePlane {0% { opacity: 0; -webkit-transform: translate3d(100%,100%,0); -ms-transform: translate3d(100%,100%,0); transform: translate3d(100%,100%,0)}
100% { opacity: 1; -webkit-transform: none; -ms-transform: none; transform: none}}

@-moz-keyframes swingUpDown{0% {-webkit-transform: translate3d(0,15px,0); -ms-transform: translate3d(0,15px,0); transform: translate3d(0,15px,0)}
100% {-webkit-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); transform: translate3d(0,0,0)}}
@-webkit-keyframes swingUpDown{0% {-webkit-transform: translate3d(0,15px,0); -ms-transform: translate3d(0,15px,0); transform: translate3d(0,15px,0)}
100% {-webkit-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); transform: translate3d(0,0,0)}}
@keyframes swingUpDown{0% {-webkit-transform: translate3d(0,15px,0); -ms-transform: translate3d(0,15px,0); transform: translate3d(0,15px,0)}
100% {-webkit-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); transform: translate3d(0,0,0)}}

@-moz-keyframes pop{0%{transform:scale(0)}100%{transform:scale(1)}}
@-webkit-keyframes pop{0%{transform:scale(0)}100%{transform:scale(1)}}
@keyframes pop{0%{transform:scale(0)}100%{transform:scale(1)}}


*{ padding:0; margin:0;}

html{ font: 12px/1.5 "Microsoft YaHei","PingFang SC","Helvetica Neue",Helvetica,Arial,sans-serif;}
img{ vertical-align: middle;}
a{ text-decoration:none;}
