*{margin: 0; padding: 0;}
html,body{width: 100%; height: 100%; overflow: hidden; font-family: "Arial", "Microsoft YaHei", "微软雅黑", "宋体"; font-size: .3rem;}
a{text-decoration: none; color: inherit; background: rgba(255,255,255,0); -webkit-tap-highlight-color:rgba(255,0,0,0); }

.logo{position: relative; padding: 1.5rem 0 .4rem;}
.logo img{display: block; height: 1.9rem; margin: 0 auto;}
.logo .close{position: absolute; display: block; width: .8rem; height: .8rem; background: url(../images/mobile/header_back.png) center center no-repeat; background-size: .45rem auto; top: 0; left: 0;}
.shortname{text-align: center; color: #6f6f6f; font-weight: normal; font-size: .4rem;}

.app_box{padding: 0 .6rem; margin-top: 2rem;}
.app_box li{border: 1px solid #23b8f6; border-radius: 2rem; text-align: center; margin-bottom: .5rem; font-size: .34rem;}
.app_box li a{color: #23b8f6; display: block;}
.app_box li a span{ display: inline-block; padding: .3rem 0 .3rem 0;}
.app_box .app_android{background: #23b8f6;}
.app_box .app_android a{color: #fff;}
.app_box .app_android span{background: url(../images/mobile/android.png) left center no-repeat; background-size: .5rem auto; padding-left: .75rem;}
.app_box .app_ios span{background: url(../images/mobile/ios.png) left center no-repeat; background-size: .5rem auto; padding-left: .75rem;}

.tipWarp{position: fixed; right: .1rem; top: .3rem; width: 2.8rem; padding: .2rem 0; text-align: center; background: #3ab2a8; color: #fff; border-radius: .2rem; display: none;}
.tipWarp .arrow{position: absolute; border-left: .3rem solid transparent; border-right: .3rem solid transparent; border-bottom: .3rem solid #3ab2a8; border-top: 0; top: -.15rem; right: .2rem;}


/* 第二版 门户app*/

.popupRightBottom{display: none !important;}
.appPage_v2 {background: url(/static/images/mobile_touch/bg_mobile.png) no-repeat top center /100% auto ; position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-position: 0 -1.6rem;}
.appPage_v2 .logo_box img{display: block; height: 100%; margin: auto; }
.appPage_v2 .logo_box{ position: relative;height: 54.2%; max-height: 7.18rem; margin: auto; padding-top: 0 !important;}
.appPage_v2 .logo_box .logo_v2{width: 1.8rem; height: 1.8rem; border-radius: .3rem; background-color: #fff; box-shadow: 0 .34rem .84rem 0 rgba(68, 111, 143, 0.14); position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; box-sizing: border-box; padding: .1rem;}
.appPage_v2 .appInfo{margin-top: .3rem;}
.appPage_v2 .appInfo h2{font-size: .72rem; color: #333; font-weight: 900; text-align: center;}
.appPage_v2 .appInfo p{font-size: .32rem; color: #333; text-align: center; margin-top: .1rem;}
.appPage_v2 .btn_down{display: flex; align-items: center; justify-content: center;width: 5.64rem; height: 1rem; border-radius: .5rem; color: #fff; font-size: .4rem; font-weight: 800; margin: auto;background: #F3494A;box-shadow: 0 .17rem .39rem .04rem rgba(191, 28, 29, 0.31); margin-top: 9.7%; transition: margin-top .2s;}
.appPage_v2 .btn_down::before{content: ''; display: block; width: .5rem; height: .5rem; background: url(/static/images/mobile_touch/btn_down.png) no-repeat center/cover; margin-right: .12rem;}
.link_h{color: #999; display: block; width: 100%; font-size: .26rem; text-align: center; margin-top: .68rem;}

/* 骑手 */
.appQishouPage_v2{position: fixed; left: 0; right: 0; bottom: 0; top: 0;background: linear-gradient(0deg, #F45846 28%, #F96B1E 100%);}
.appQishouPage_v2 .bottom_box{height:30%; background-color: #fff; position: fixed; left: 0; right: 0; bottom: 0;}
.appQishouPage_v2 .bottom_box::before{content: ''; display: block; width: 100%; height: 1.2rem; background:url(/static/images/mobile_touch/qishou_bian.png) no-repeat top center/ 100% auto;}
.appQishouPage_v2 .logo_box {padding-top: .5rem;}
.appQishouPage_v2 .logo_box .logo_v2{width: 1.6rem; height: 1.6rem; border-radius: .3rem; background-color: #fff; box-shadow: 0 .34rem .84rem 0 rgba(68, 111, 143, 0.14);  margin: auto; overflow: hidden;}
.appQishouPage_v2 .logo_box img{display: block; width: 100%; height: 100%; object-fit: cover;}
.appQishouPage_v2 .appInfo{padding-top: .22rem;  height: 60%; position: relative; z-index: 9;}
.appQishouPage_v2 .appInfo h2{font-size: .64rem; color: #fff; font-weight: 800; text-align: center;}
.appQishouPage_v2 .appInfo p{font-size: .26rem; color: #fff; text-align: center;opacity: .6; }
.appQishouPage_v2 .appInfo .imgbox{margin: 4% 0 0 .16rem; position: relative; z-index: 3;  height:70%; max-height:5.3rem; }
.appQishouPage_v2 .appInfo .imgbox img{height: 100%; object-fit: cover; float: right; }
/* .appQishouPage_v2 .appInfo::after{content: ''; display: block; width: 100%; height: 1.2rem; background:url(/static/images/mobile_touch/qishou_bian.png) no-repeat center/ 100% auto; } */
.appQishouPage_v2 .btn_down{display: flex; align-items: center; justify-content: center;width: 5.64rem; height: 1rem; border-radius: .5rem; color: #fff; font-size: .4rem; font-weight: 800; margin: auto;background: linear-gradient(90deg, #FF8230 0%, #F35D17 100%);box-shadow: 0 .17rem .39rem .04rem rgba(191, 28, 29, 0.31); position: absolute; left: 0; right: 0; top: 0; bottom: 0;transform: translateY(.6rem); }
.appQishouPage_v2 .btn_down::before{content: ''; display: block; width: .5rem; height: .5rem; background: url(/static/images/mobile_touch/btn_down.png) no-repeat center/cover; margin-right: .12rem;}
/* 商家 */

.appwmsjPage_v2{position: fixed; left: 0; right: 0; bottom: 0; top: 0;background: linear-gradient(0deg, #2A83F7 28%, #2A83F7 100%); }
.appwmsjPage_v2 .bottom_box{height:30%; background-color: #fff; position: fixed; left: 0; right: 0; bottom: 0; }
.appwmsjPage_v2 .bottom_box::before{content: ''; display: block; width: 100%; height: 1.2rem; background:url(/static/images/mobile_touch/wmsj_bian.png) no-repeat top center/ 100% auto;}
.appwmsjPage_v2 .logo_box {padding-top: .5rem; transition: padding-top .2s;}
.appwmsjPage_v2 .logo_box .logo_v2{width: 1.6rem; height: 1.6rem; border-radius: .3rem; background-color: #fff; box-shadow: 0 .34rem .84rem 0 rgba(68, 111, 143, 0.14);  margin: auto; overflow: hidden;}
.appwmsjPage_v2 .logo_box img{display: block; width: 100%; height: 100%; object-fit: cover;}
.appwmsjPage_v2 .appInfo{padding-top: .22rem; height: 60%;}
.appwmsjPage_v2 .appInfo h2{font-size: .64rem; color: #fff; font-weight: 800; text-align: center;}
.appwmsjPage_v2 .appInfo p{font-size: .26rem; color: #fff; text-align: center;opacity: .6; }
.appwmsjPage_v2 .imgbox{margin:4% 0 0 .16rem; position: relative; z-index: 3;  height:70%; max-height:5.3rem; }
.appwmsjPage_v2 .imgbox img{display: block; height: 100%; object-fit: cover; float: right;}
.appwmsjPage_v2 .btn_down{display: flex; align-items: center; justify-content: center;width: 5rem; height: 1rem; border-radius: .5rem; color: #fff; font-size: .4rem; font-weight: 800; margin: auto; background: linear-gradient(90deg, #5572FC 0%, #5572FC 100%);box-shadow: 0 .17rem .39rem .04rem rgba(36, 66, 211, 0.31); position: absolute; left: 0; right: 0; top: 0; bottom: 0; transform: translateY(.6rem);}
.appwmsjPage_v2 .btn_down::before{content: ''; display: block; width: .5rem; height: .5rem; background: url(/static/images/mobile_touch/btn_down.png) no-repeat center/cover; margin-right: .12rem;}

@media screen and (min-height:700px){
	.appPage_v2 {background: url(/static/images/mobile_touch/bg_mobile.png) no-repeat top center /100% auto ; position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-position:0 0;}
	.appPage_v2 .logo_box .logo_v2{width: 2rem; height: 2rem;}
	.appwmsjPage_v2 .logo_box,.appQishouPage_v2 .logo_box{padding-top: 1rem;}
	.appwmsjPage_v2 .btn_down,.appQishouPage_v2 .btn_down{transform: translateY(.3rem);}
	.appwmsjPage_v2 .bottom_box,.appQishouPage_v2 .bottom_box{height: 40%; }
}