html {background:#fff;}
.mainWrap{position: absolute;top: 2.94rem;left: 0; right: 0;}
.logoImg img{display: block;width: 3.4rem;height: 3.4rem;margin: 0 auto}
.loginTxt{font-size: .3rem;color: #313233;margin-top: .35rem;text-align: center;}

.sureLogin{text-align: center;margin-top: 3rem}
.sureLogin a{display: inline-block;width: 4.4rem;height: .92rem;line-height: .92rem;border-radius: .46rem;background: #FF4343;font-size: .32rem;color: #fff;font-weight: bold;text-align: center;}

.popupRightBottom{display: none}
