body,html{background: #f5f5f5;}
.header-address{font-weight: normal;}

/*骑手*/
.commt-box{margin: .2rem .24rem; background: #fff; border-radius: .1rem ;padding: .3rem .22rem;}
.commt-box h2{color: #222 ; font-size: .3rem; text-align: center; font-weight: 500; margin-bottom: .3rem;padding-top: .1rem;}
.distributor_info,.shop_info{padding: .2rem; background: #F9F9F9; position: relative;}
.distributor_info .left_head,.shop_info .left_head{width: .68rem; height: .68rem; box-sizing: border-box; padding: .1rem .09rem .08rem .09rem; float: left; background: #fff; border-radius: .03rem; border:.02rem solid rgba(232,233,235,1);}
.distributor_info .left_head img,.shop_info .left_head img{width: 100%; height: 100%; object-fit: cover;}
.center_info{margin-left: .88rem;}
.center_info h4{color: #222; font-size: .28rem; line-height: 1.2em; margin-bottom: .12em;}
.center_info p{color: #979899; font-size: .24rem;}
.hide_tip{color: #97989C; font-size: .24rem; /* position: absolute; top: .4rem; right: .2rem; */ display: block; margin: auto; text-align: center;}
.star_box{text-align: center; margin-top: .26rem;}
.star_box i{width: .54rem; height: .54rem; background: url(../images/big_star01.png) no-repeat center; background-size: cover; display: inline-block; text-align: center; margin: 0 .05rem; margin-bottom: .26rem;}
.star_box i.click{background-image: url(../images/big_star.png);}
.com_tip{font-size: .24rem;  margin-bottom: .46rem; display: none;}
/*骑手评价*/
.label_tip li{display: inline-block; line-height: .5rem; border: solid .01rem #EEEEEE; color: #97989C; font-size: .22rem; padding: 0 .2rem; margin: 0 .02rem; margin-bottom: .14rem; border-radius: .03rem; }
.label_tip ul{text-align: center; display: none;  margin-bottom: .36rem;}
.label_tip ul.show{display: block !important;}
.label_tip li.commt_btn:before{content: ''; display: inline-block; width: .24rem; height: .24rem; background:url(../images/put_in.png) no-repeat center; background-size: cover; margin-bottom: -.04rem; margin-right: .04rem;}
.label_tip li.commt_btn.on_chose:before{background-image:url(../images/put_in1.png);}
.label_tip li.commt_btn{padding: 0 .16rem; }
.label_tip li.on_chose{background: #FDFAF3;color: #FCBF1C; border: solid .01rem #FCBF1C; }
/*输入框*/
.textarea{/* margin: 0 .22rem; */ background: #F9F9F9; padding: .28rem .2rem; height: 1.3rem; box-sizing: border-box; overflow: auto; -webkit-user-select: text;}
.textarea:empty:before{content: attr(placeholder);color:#97989C;}
.textarea:focus:before{content:none;}

/* 商家输入框 */
.commt_shop{border: solid .01rem #E8E9EB; border-radius: .03rem; background: #F9F9F9; padding-bottom: .2rem;  overflow: hidden;}
.btn_upimg{width: 1.2rem; height: 1.2rem; text-align: center; border: dashed .02rem #BFBFBF; border-radius: .06rem; color: #BFBFBF; font-size: .2rem; margin-left: .2rem; overflow: hidden;}
.btn_upimg img{width: .5rem; margin-top: .2rem; margin-bottom: .14rem;}

.commt_upbtn{display: block; margin: 0 .24rem; line-height: .88rem; color: #fff; border-radius: .55rem; background: #FCBF1C; font-size: .32rem; text-align: center; margin-bottom: .26rem;}
.shop_box .center_info h4{line-height: .68rem;}
.shop_box .hide_tip:before{content: ''; display: inline-block; width: .3rem; height: .3rem; border-radius: 50%;background: url(../images/gou02.png) no-repeat center; background-size: cover; margin-bottom: -.04rem; margin-right: .12rem;}
.shop_box .hide_tip.show:before{background-image: url(../images/gou01.png);}



.uploader-list li{width: 1.2rem; height: 1.2rem; border-radius: .06rem; float: left; position: relative; margin-bottom: .2rem; text-align: center; color: #BFBFBF; font-size: .2rem; margin-left: .2rem; /* overflow: hidden; */position: relative;}
.uploader-list li .img_show img{width: 100%; height: 100%; object-fit: cover; border-radius: .06rem;}
.uploader-list li.upload_btn{border: dashed .02rem #bfbfbf; }
.uploader-list li.upload_btn img{width: .5rem; margin-top: .2rem; margin-bottom: .14rem;}
.webuploader-element-invisible{opacity: 0;}
.del_btn{font-size: .3rem; width: .34rem; height: .34rem; background: rgba(0,0,0,.8); text-align: center; line-height: .34rem; display: block; color: #fff; border-radius: 50%; position: absolute; background: rgba(0,0,0,.5); right: -.13rem; top: -.13rem; transform: rotate(45deg);}

.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 1000; visibility: hidden;}
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: .3rem; line-height: 1.4; text-align: center; padding: .24rem .2rem; z-index: 9999; left: 0; top: 50%; margin-top: -.2rem;}

#comm_d{display: none;}

.up_img .thumbnail .progress {position: absolute;  right: 4px; bottom: 4px; height: 3px; left: 4px; height: 4px; overflow: hidden; z-index: 15; margin:0; padding: 0; border-radius: 0; background: transparent;}
.up_img .thumbnail .progress span {display: block; overflow: hidden; width: 0; height: 100%; background: #499c00 url('https://pic.xiant.ao/static/js/webuploader/progress.png') repeat-x; -webit-transition: width 200ms linear; -moz-transition: width 200ms linear; -o-transition: width 200ms linear; -ms-transition: width 200ms linear; transition: width 200ms linear; -webkit-animation: progressmove 2s linear infinite; -moz-animation: progressmove 2s linear infinite; -o-animation: progressmove 2s linear infinite; -ms-animation: progressmove 2s linear infinite; animation: progressmove 2s linear infinite; -webkit-transform: translateZ(0);}
@-webkit-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@-moz-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
.webuploader-container div{width: auto; height: auto;}
.webuploader-pick p{font-size: .22rem !important;}
.webuploader-pick img{height: auto !important;}
.webuploader-pick {line-height: 1.2em; font-size: .22rem; color: #BFBFBF;}
