
body, html{background: #fff;}
.edit-tip{ padding: .35rem .4rem; font-size: .26rem; color: #666;background: #F2F4F8; }

.connect{background: #fff;padding:0 .24rem .8rem;}

.connect li img{vertical-align: middle; width: .74rem; height: .74rem;}
.connect li .l{padding-top: .34rem}
.connect .rCon{margin-left:.86rem; border-bottom: 1px solid #f5f5f7;padding: .34rem 0 .35rem .06rem;}
.connect .lCon{display: table-cell;height: .74rem;vertical-align: middle;width: 89%;}
.connect .lCon div{margin: 0 auto;}
.connect .lCon h2{line-height: 1;font-weight: bold;color: #333;font-size: .3rem}
.connect .lCon p{font-size: .26rem;color: #999;line-height: 1;margin-top: .1rem;}
.connect .rCon .r{display: table-cell;vertical-align: middle;}


a.blue{color: #027CFF;font-size: .28rem;white-space: nowrap;}

/*消息提示*/
.dialog_top, .dialog_msg .bg, .phone_msg .bg {position: fixed;left:0;top:0;right:0;bottom:0;z-index: 10000;}
.dialog_msg .bg, .phone_msg .bg {background: rgba(0,0,0,.3);z-index: 1;}
.dialog_msg .box, .phone_msg .box {position: fixed;left:50%;top:50%;transform:translate(-50%, -50%);background:#fff;border-radius:.05rem;z-index: 2;font-size: .28rem;color:#333;width: 80%;text-align: center;overflow: hidden;}

.phone_msg .box .bdt {height:3px;background: #00e9f5;}
.phone_msg .box .bdt .bdr {float:right;width:50%;height:3px;background: #0076fe;}
.phone_msg .box .close {position: absolute;right:.18rem;top:.22rem;display: block;width: .5rem;height: .5rem;font-size: .5rem;color: #efefef;line-height: 1;border:1px solid #eee;border-radius:50%;}
.phone_msg .box .close:hover {color: #ccc;text-decoration:none;}
.phone_msg .box .content {padding:.4rem;}
.phone_msg .box .blur {color: #419afc;margin:0 3px;}
.phone_msg .box .btns {text-align: center;}
.phone_msg .box .btn {display: inline-block;padding:0 .7rem;margin:.6rem .2rem;height: .6rem;line-height: .7rem;background: #266cfd;color: #fff;border:1px solid #266cfd;border-radius:3px;}
.phone_msg .box .btn.cancel {background: #fff;border:1px solid #266cfd;color: #333;}
.phone_msg .box .info {margin-top: 50px;text-align: left:;}