body, html{background: #fff; opacity: 1; height: 100%;}
body {padding-bottom: 2rem;}
.header{border-bottom: none}
.topCon{margin: .5rem .3rem;height: 2rem;position: relative;padding: .4rem .54rem;box-sizing: border-box;
background: linear-gradient(0deg, #1367FF 0%, #2B77FF 100%);box-shadow: 0 .16rem .38rem 0 rgba(37, 115, 255, 0.31);border-radius: .2rem;}
.yue_page .topCon{background: linear-gradient(0deg, #FF4F55 0%, #FF3B34 100%);box-shadow: 0 .16rem .38rem 0 rgba(255, 78, 84, 0.23);}
.topCon h3{font-size: .26rem;color: #fff;}
.topCon p{font-size: .6rem;color: #fff;font-weight: bold;font-family: "coregtd";}
.topCon:after{content: '';display: block;width: 2.28rem;height: 1.8rem;background: url(../images/account/czjf.png) center center no-repeat;background-size: cover;position: absolute;right: 0;bottom: 0;}
.yue_page .topCon:after{background-image: url(../images/account/czye.png);}
.mainWrap{padding: 0 .3rem}
.mainWrap h2.tit{font-size: .24rem;color: #999;padding-bottom: .46rem;padding-top: .2rem}
.mainWrap h2.tit strong{font-size: .36rem;color: #000;margin-right: .1rem}
.mainWrap li{float: left;width: 2.1rem;height: 1.3rem;box-shadow: 0px 4px 16px 0px rgba(159, 159, 159, 0.21);border-radius: .1rem;margin-right: .3rem;margin-bottom: .3rem;text-align: center;box-sizing: border-box; border: .02rem solid #fff;}
.yue_page .mainWrap li{display: flex; align-items: center; flex-direction: column; justify-content: center;}
.mainWrap li:nth-child(3n){margin-right: 0}
.mainWrap li h3{font-size: .24rem;color: #000;padding: .26rem 0 0;}
.deposit .mainWrap li h3{padding-top: .45rem;}
.yue_page .mainWrap li h3{padding: 0;}
.mainWrap li h3 strong{font-size: .36rem;}
.mainWrap li p{font-size: .22rem;color: #999}
.mainWrap li.active{background: #FFF1F1;border: .02rem solid #FC605D;box-shadow: 0px 4px 16px 0px rgba(247, 53, 52, 0.15);border-radius: .1rem;}
.mainWrap li.active h3{color: #F73534;}
.mainWrap li.active p{color: rgba(247,53,52,.78);}
.inpBox{border: 1px solid #eee;border-radius: .1rem;padding: .27rem 0;position: relative;}
.inpBox input{padding-left: .26rem;border: none;background: none;outline: 0;font-size: .28rem;color: #333;text-align: right;width: 66%;box-sizing: border-box;padding-right: .8rem;}
.inpBox label{margin-left: .26rem;font-size: .28rem;color: #333;}
.inpBox input::placeholder{color: #333;text-align: left;}
.inpBox span{font-size: .28rem;color: #999;position: absolute;right: .2rem;top: .26rem;}


/*底部*/
.botPrice{background: #fff;position: fixed;bottom: 0;left: 0;right: 0;box-shadow: 0px -3px 21px 0px rgba(79, 69, 66, 0.08);z-index: 999; padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom));}
.botPrice .leftCon{ float: left;margin-left: .3rem}
.botPrice .leftCon h2{font-size: .24rem;color: #FF3C4A;padding-top: .2rem;padding-bottom: .06rem}
.botPrice .leftCon h2 strong{font-size: .4rem}
.botPrice .leftCon p{font-size: .22rem;color: #999;margin-top: -.06rem}
.botPrice #tj{float: right;padding: 0 .7rem;line-height: 1.28rem;font-size: .36rem;color: #fff;font-weight: bold;background: #2673FF;}
.yue_page .botPrice #tj{background: #39342E;}
@font-face {
  font-family: "coregtd";
  src: url("/static/fonts/coregtd6.woff2"),
       url("/static/fonts/coregtd6.woff"),
       url("/static/fonts/coregtd6.ttf"),
       url("/static/fonts/coregtd6.eot"),
       url("/static/fonts/coregtd6.otf");
}
