body,html{background: #FCFAFA; min-height: 100%;}
.banner {position: relative; height: 5.14rem;}
.banner img {width: 100%;}
.posi_box.fixedTop{background:#FAF7F2; position: fixed; top: 0; padding: 0 .3rem; padding-left: .72rem;}
.posi_box.fixedTop i{display: block; line-height: .42rem; width: .42rem; border-radius: .12rem; background: #C11B1E; color: #fff; text-align: center; position: absolute; top: .19rem; left: .16rem; z-index: 11;}
.posi_box i{display: none;}
.posi_box{position: absolute; top: .24rem; left: 0; right: 0; line-height: .8rem;z-index: 11;}
.txt_box {margin: auto;color:#C11B1E;white-space: nowrap;overflow: hidden;width: 76%;  font-size: .24rem; font-weight: bold;}
.posi_box.fixedTop .txt_box{width: 100%; box-sizing: border-box; }
.txt_content {display: inline-block;}
.posi_box:before{content: ''; display: block; width: .34rem; height: .4rem; position: absolute;background:linear-gradient(90deg,rgba(243,222,173,1) 0%,rgba(245,225,176,0)100%);  left: 12%;  top: .2rem; z-index: 10; }
.posi_box.fixedTop:before{display: none;}
.posi_box:after{right: 12% ;content: ''; display: block; width: .34rem; height: .4rem; position: absolute; background:linear-gradient(90deg,rgba(243,222,173,0) 0%,rgba(245,225,176,1) 100%); top: .2rem; }
.posi_box.fixedTop:before{content: ''; display: block; width: .6rem; height: .6rem; position: absolute; left: 0; top: 0;
background: -webkit-linear-gradient(90deg, rgba(250,247,242,1) 0, rgba(250,247,242,1) 50%, rgba(250,247,242,0) 100%);
background:    -moz-linear-gradient(90deg, rgba(250,247,242,1) 0, rgba(250,247,242,1) 50%, rgba(250,247,242,0) 100%);
background:      -o-linear-gradient(90deg, rgba(250,247,242,1) 0, rgba(250,247,242,1) 50%, rgba(250,247,242,0) 100%);
background:         linear-gradient(90deg, rgba(250,247,242,1) 0, rgba(250,247,242,1) 50%, rgba(250,247,242,0) 100%);}
.posi_box.fixedTop:after{content: ''; display: block; width: .6rem; height: .6rem; position: absolute; right: 0; top: 0;
background: -webkit-linear-gradient(90deg, rgba(250,247,242,0) 0, rgba(250,247,242,1) 50%, rgba(250,247,242,1) 100%);
background:    -moz-linear-gradient(90deg, rgba(250,247,242,0) 0, rgba(250,247,242,1) 50%, rgba(250,247,242,1) 100%);
background:      -o-linear-gradient(90deg, rgba(250,247,242,0) 0, rgba(250,247,242,1) 50%, rgba(250,247,242,1) 100%);
background:         linear-gradient(90deg, rgba(250,247,242,0) 0, rgba(250,247,242,1) 50%, rgba(250,247,242,1) 100%);}

.alltcBox,.singletcBox,.featureBox{text-align: center; font-size: .34rem; color: #41361A;}
.alltcBox>h1 em,.singletcBox>h1 em,.featureBox>h1 em{font-size: .5rem; font-weight: bold;}

.tit{ margin: auto; line-height: .4rem; color: #C49D54; font-size: .22rem; background: #F7EDD7; border-radius: .2rem; margin-top: .12rem; font-weight: bold; padding:0 .5rem; box-sizing: border-box; display: inline-block;}

.all_tc {padding-top: .5rem; padding-bottom: .5rem; width: 100%;}
.all_tc .swiper-slide{width: 3.7rem !important; height: 4.9rem;box-shadow:0 .03rem .31rem 0 rgba(0, 0, 0, 0.13); border-radius:.08rem; transform: scale(.9); transition: 300ms; box-sizing: border-box; padding-bottom: .45rem;}
.tc_box{display: block;}
.tc_box h2{color: #BA9457; font-size: .36rem; text-align: center; height: 1.1rem; line-height: 1.1rem; border-bottom: solid 1px #EBEBED; position: relative; font-weight: bold;}
.tc_box.zhi h2 i{display: inline-block; width: .8rem; height: .67rem; line-height: .67rem; font-size: .16rem; color: #fff; background: url(../images/enter/l1.png) no-repeat center; background-size: cover; vertical-align: middle; margin: 0 0 .04rem 0;}
.pbox h1{font-size: .24rem; color: #111112; text-align: center; margin-top: .3rem; margin-bottom: .16rem;}
.pbox h1 em{font-size: .26rem;}
.pbox h1 span{font-size: .7rem; font-weight: bold;}
.pbox h1:after{content: ''; display: block; width: .56rem; height: .04rem; background: #000; margin: auto; margin-top: .04rem; margin-bottom: .08rem;}
.singletcBox .pbox h1:after{height: .03rem;}
.pbox p{font-size: .26rem;}
.btn{display: block; width: 2rem; line-height: .66rem; border-radius: .33rem; background:linear-gradient(90deg,rgba(241,210,193,1) 0%,rgba(179,138,112,1) 100%); margin: auto; margin-top: .4rem; opacity: .5; color: #302F36; transition: 300ms; font-size: .3rem;}
.all_tc .swiper-slide.swiper-slide-active,.all_tc .swiper-slide.swiper-slide-duplicate-active{transform: scale(1);}
.all_tc .swiper-slide.swiper-slide-active .btn,.all_tc .swiper-slide.swiper-slide-duplicate-active .btn{opacity: 1;}

/* 文字说明 */
.expBox .exp_text{margin: 0 .3rem; border-radius: .1rem; background: #F7EFE1; text-align: left; padding-top: .14rem; padding-bottom: .04rem; position: relative; transition: 300ms; display: none; animation: .3s topFadeIn ease-in-out;}
.expBox .exp_text:before{content: ''; display: block; width: .2rem; height: .2rem; background: #F7EFE1; position: absolute; top: -.1rem; left: 50%; margin-left: -.1rem;  transform-origin: center; transform: rotate(45deg);}
.exp_text{display: none;}
.expBox .textbox{margin:0 .08rem; padding: .2rem .32rem; border-bottom: dashed 1px #DDCEB3;}
.expBox .textbox:last-child{border: none;}
.expBox .textbox h3{color: #BA9457; font-size: .32rem; font-weight: bold;}
.expBox .textbox p{font-size: .28rem; color: #C5A260; line-height: .4rem; margin-top: .1rem;}
.link_to{display: block; width: 5.4rem; margin: auto; height: 1.4rem; margin-top: .06rem;}
.link_to img{display: block; width: 100%; }

/* 单模块 */
.singletcBox{margin-top: .8rem;}
.single_tc{padding:.2rem;  margin-top: .3rem; padding-bottom: 1.9rem;}
.single_tc ul{width: 100%;}
.single_tc ul li{width: 50%;  margin-bottom: .32rem;}
.slidebox{box-shadow:0rem .03rem .27rem 0rem rgba(0, 0, 0, 0.05); margin:0 .11rem ; height: 4.4rem; display: block; background: #fff;}
.slidebox h2{font-size: .32rem; color: #BA9457; line-height: 1rem; box-sizing: border-box; border-bottom: solid 1px #EBEBED; font-weight: bold;}
.slidebox h2.zhi:after{content: '';}
.slidebox .pbox h1 span{font-size: .64rem; }
.slidebox .pbox h1{margin-top: .4rem; font-size: .22rem;}
.slidebox .pbox p{font-size: .24rem;}
.slidebox .pbox .btn{width: 1.8rem; line-height: .6rem; border-radius: .3rem; margin: auto; font-size: .26rem; text-align: center;color: #DBB8A1; background: #26252B; opacity: 1; margin-top: .5rem;}
.naviBox{width: 4.84rem; height: 1.08rem; border-radius: .54rem;margin: auto; box-shadow:0rem .03rem .27rem 0rem rgba(0, 0, 0, 0.05); }
.box_liner{width: 100%; padding-top: .4rem; padding-bottom: .5rem;position: absolute; bottom: 0; left: 0; right: 0; background:linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(252,250,250,1) 70%);}
.naviBox a{display: block; width: 50%; box-sizing: border-box; float: left; text-align: center; line-height: 1.08rem; font-size: .34rem;color: #41361A; opacity:1; background: #fff; height: 100%;}
.naviBox a.prev{border-right: dashed 1px #D7D6D2; border-radius: .54rem 0 0 .54rem;}
.naviBox a.next{ border-radius:  0 .54rem .54rem 0 ;}
.naviBox a:active{background: #efefef;}
.naviBox a.swiper-button-disabled{opacity: .5;}

.tip_chose{font-size: .22rem; color: #C49D54; text-align: center; font-weight: bold; margin-top: .45rem;}

/* 特色 */
.featureBox{margin-top: .8rem; margin-bottom: 1.4rem;}
.feature_list{margin: 0 .3rem; background: #fff; box-shadow:0rem .03rem .27rem 0rem rgba(0, 0, 0, 0.05); border-radius:.08rem; margin-top: .46rem; padding: .45rem .2rem;}
.feature_list ul{display: flex; justify-content: space-between;flex-wrap: wrap;}
.feature_list .imgbox{width: 1.2rem; height: 1.2rem; margin: auto; }
.feature_list .li_box{width: 33.3%; margin-bottom: .6rem;}
.feature_list img{width: 100%; height: 100%; object-fit: cover;}
.feature_list .li_box h4{ font-size: .32rem; color: #111112; margin-top: .1rem;}
.feature_list .li_box p{color: #C49D54; font-size: .22rem; font-weight: bold; margin-top: .1rem;}
.feature_list>p{font-size: .24rem; color: #C4A57A;}
.feature_list>.img_tip{width: 2.8rem; height: .7rem; margin: auto; margin-top: .3rem;}

/* 联系方式 */
.contactBox{margin: 0 .3rem; background: #fff; box-shadow:0rem .03rem .27rem 0rem rgba(0, 0, 0, 0.05); border-radius:.08rem; margin-bottom: 1.1rem;box-sizing: border-box; padding: 1rem 0 .3rem; position: relative;}
.wx_box{border-bottom: solid 1px #EBEBED; padding-bottom: .2rem;}
.baidu_miniprogram .wx_box, .qq_miniprogram .wx_box {display: none;}
.wx_box h1{font-size: .28rem; color: #B78F75; text-align: center; font-weight: bold; margin-top: .1rem;}
.wx_box p{color: #B78F75; font-size: .24rem; text-align: center;}
.wx_qr{width: 2rem; height: 2rem; margin: auto;}
.wx_qr img{display: block; width: 100%; height: 100%;}

.tel_box{padding-left: .5rem; padding-right: .35rem; padding-top: .44rem; position: relative;}
.left_show{float: left; color: #B78F75;}
.left_show p{font-size: .24rem; margin-bottom: .1rem;}
.left_show h3{font-size: .3rem; font-weight: bold; line-height: 1.5em;}
.right_btn{width: 1.61rem; height: .81rem; position: absolute; top: 50%; right: .5rem; margin-top: -.1rem;}
.right_btn img,.left_img img{display: block; width: 100%; height: 100%; object-fit: cover;}
.left_img{width: 1.2rem; height: 1.2rem; border-radius: .34rem; overflow: hidden; box-sizing: border-box; border: solid .04rem #D7B5A0; float: left;}
.right_tip{float: left; width: 3rem; line-height: .68rem; border-radius: .34rem .32rem .34rem 0; background: #F7EDDC; color: #41361A; font-size: .26rem; text-align: center; margin-left: .2rem; margin-top: .18rem; box-shadow:0rem .03rem .27rem 0rem rgba(225,142,0,0.05);}
.zx_box{position: absolute; top: -.34rem; left: .34rem;}
.rz_btn{display: block; height: 1rem; line-height: 1rem; font-size: .34rem; color: #FFE7AB;background:linear-gradient(90deg,rgba(162,107,35,1) 0%,rgba(210,159,71,1) 100%); z-index: 10; text-align: center;text-shadow:0 .03rem .05rem rgba(112,66,0,0.57); font-weight: 500; position: fixed; bottom: 0; left: 0; right: 0; padding-bottom:calc(-.5rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.5rem + env(safe-area-inset-bottom));}
.rz_btn:after{content: ''; display: inline-block; width: .12rem; height: .12rem; border-top: solid .03rem #FAE1A5;border-right: solid .03rem #FAE1A5; transform: rotate(45deg); transform-origin: center; margin-bottom: .05rem; margin-left: .14rem; }
body{padding-bottom: 1rem; }
