html{background: #f0f0f2;}
.header{z-index: 1;}
.container{padding-top: .2rem;}
.huoniao_iOS .container{padding-top: 0;}
.baomu_info{background: #fff;padding-top: .35rem;}
.baomu_info2{padding-top: .35rem}
.info_title{font-size: .36rem;color: #28292b;font-weight: bold;padding-left: .3rem;position: relative;line-height: .7rem;background: #fff}
.info_title:after {position: absolute;width: .66rem;height: .06rem;left: .3rem;bottom: 0;display: block;background-color: rgb(255, 101, 59);box-shadow: 0px 3px 5px 0px rgba(255, 101, 59, 0.47);content: ' ';}
.yl_info{background:#f0f0f2 }
.star{color: #ff4646;font-size: .32rem}

.info{padding: 0 .3rem;background: #fff;margin-bottom: .2rem;margin-top: .16rem}
.info li{border-bottom: 1px solid #d8d9e3;padding: .3rem 0;font-size: .32rem;color: #45464f;position: relative;}
.info3{margin-bottom: 0;}
.info li .name{float: left;}
.info li input{float: right;text-align: right;border: 0;color: #45464f}
.info li input::placeholder{color: #9fa1ab; }
.info li .choose{float: right;}
.info li .choose i{display: inline-block;width: .14rem;height: .24rem;background:url("../images/education/icon_next.png") no-repeat;background-size: contain;margin-left: .1rem;}
.info li.gz-addr-seladdr p{display: inline-block;color: #45464f;}
.info li:last-child{border-bottom: none}



.update-logo{margin-bottom: .2rem;background: #fff;}
.store-imgs{margin-bottom: .2rem;background: #fff;}
.store-imgs h3,.update-logo h3{font-size: .3rem;color: #333;padding:.4rem .32rem; }

.gz-addr-seladdr dd{padding-right: .25rem;color: #45464f}
.position_box{position: absolute;right: .04rem;left: 0;top: 0;bottom: 0;text-align: right;line-height: .9rem;font-size: .3rem;}



.com-box{background: #fff;}
.com-box .choose .text{color: #9fa1ab}
/*照护对象*/

.targetcare input,.catid input{background: #fff;}
/*补充描述*/

 .class_spec{height: 2rem;   margin-top:0;margin-bottom: .2rem }
  .class_spec:first-child{padding-top: .2rem}
 .class_spec textarea{width: 100%;height: 100%;border: none;padding-top:.32rem;box-sizing: border-box;font-size: .32rem;}
 .class_spec textarea::placeholder{color: #9fa1ab}

.save{display:inline-block;width: 6.7rem;height: .88rem;color:#fff;line-height:.88rem;margin-top:.2rem;text-align:center;font-size:.3rem;border-radius:.1rem;background-color: rgb(66, 68, 79);box-shadow: 0px 3px 13px 0px rgba(0, 9, 43, 0.13);}

/*图片上传*/
.img_box{ margin-bottom: .2rem;background: #fff;}
.img_box h3{padding: .3rem 0 0;font-size: .32rem;color: #45464f}
.del_btn{width: .44rem; height: .44rem; z-index:3;border-radius: 50%; background-color: rgba(0,0,0,.67); position: absolute;top: -.18rem; right: -.18rem; color: #fff; font-size: .5rem; text-align: center;  font-style: normal; line-height: .33rem; transform: rotate(45deg);}
.img_box .img_show{background-image: url(../images/education/add.png); background-repeat: no-repeat; background-position: center .55rem; background-size: .61rem .53rem;}

.img_box #logoshow_box>li{width: 2.2rem; height: 2.2rem;}
.img_box #logoshow_box .img_show {width: 2.2rem; height: 2.2rem; border-radius: .08rem; overflow: hidden; position: relative;}
.img_box .webuploader-container div{width: 2.2rem; height: 2.2rem;}


.qjimg_box ul{margin-top: .35rem;}
.qjimg_box ul .img_show{background-color: #F5F5F5;}
.qjimg_box ul>li{width: 3rem; height: 2.1rem; float: left; position: relative; margin-bottom: .2rem;}
.qjimg_box ul>li:nth-last-child(1):after{content: ''; display: block; clear: both;}
.qjimg_box ul>li:nth-child(3n-1){margin:0 .3rem ;}
.qjimg_box ul>li p{position: absolute; bottom: .59rem; text-align: center;}
.qjimg_box ul>li{position: relative;}
.qjimg_box ul>li .img{width: 100%; height: 100%; z-index:2;position: absolute; overflow: hidden; right: 0; top: 0; border-radius: .08rem; overflow: hidden;}
.qjimg_box ul>li .img img{width:100%; height: 100%;object-fit: cover;}
.qjimg_box p{ font-size: .24rem ; width: 100%;  color: #9fa1ab;}

.identify{padding-bottom: .3rem}

/* 前缀和附加输入框 */
.r_price{float: right;}
.input-append {float: left; font-size: 0; white-space: nowrap; vertical-align: middle;}

.input-append input {float: left!important; position: relative; margin-bottom: 0; *margin-left: 0; font-size: .3rem; border: 1px solid #d8d8d8!important; padding: 0 .1rem; height: .4rem; line-height: .4rem; vertical-align: top; text-align: center!important; }

.r_price .range{float: left;margin-left: .08rem;margin-right: .08rem}
.input-append .add-aft {float: left; display: block; width: auto;  font-size: .28rem; font-weight: normal; }
.input-append .add-aft {margin-left: .08rem; }
/*保存按钮*/
.btn-box{text-align: center;padding: .4rem;}
.btn-box .submit{display:inline-block;width: 6.7rem;height: .88rem;color:#fff;line-height:.88rem;font-size:.3rem;border-radius:.08rem;background: #42444f;}


/*select隐藏*/
#paytype_{display: none;}
.gz-addr-wrap .intell_data{display: none !important;}
.gz-addr-wrap .chose_house{display: block !important;}
.search_box{display: none;}


/*信息提示框*/
.error{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000; display: none;}
.error p{position: fixed; width: 150px; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 50%; margin-left: -75px; top: 50%; margin-top: -24px;}

/*性别*/
.ways_contact .radioBox{float: right;}
.ways_contact .check_left{ margin-top: .05rem;}
.ways_contact .active {float: right;  position: relative; }
.ways_contact .active:nth-child(2){margin-right: .4rem;}
.check_left span{display: block; width: .36rem; height: .36rem; border-radius: 50%; border: solid 1px #dfe0e5 ; background-color: #f5f5f5; margin-right: .14rem;}
.chose_btn .check_left span:after{content: ''; display: block; width: .16rem; height: .16rem; border-radius: 50%; background-color: #ff4646; margin: auto; margin-top: .1rem;}
.chose_btn .check_left span{background-color: #fff8ed; border:solid 1px #ff4646;}
.check_left{float: left; overflow: hidden;}
.check_left input{position: absolute; width: 100%; height: 100%; opacity: 0;}


/*入住形式*/
.ways_ruzhu .radioBox{float: right;}
.ways_ruzhu .check_left{ margin-top: .05rem;}
.ways_ruzhu .active {float: right;  position: relative; }
.ways_ruzhu .active:nth-child(2){margin-right: .4rem;}
.state0{color: #f60;text-align: center;padding: .2rem;}
.location span{float: right;color: #bcbcbc;font-size: .28rem;margin-right: .3rem;}
.location span i {
    display: inline-block;
    width: .5rem;
    height: .5rem;
    vertical-align: middle;
    background: url(../images/local1.png) no-repeat center .02rem;
    background-size: .3rem;
}
