/*body,html{height: 100%}*/
.header{border-bottom: none}


#fabuForm{padding: 0 .3rem}
.main{background: #fff;padding-bottom: 2.24rem;padding-bottom: calc(2.24rem + constant(safe-area-inset-bottom));padding-bottom: calc(2.24rem + env(safe-area-inset-bottom));padding-top: .9rem}
.huoniao_iOS .main{padding-top: 0;}
.tab-ul ul{background:#fff;overflow: hidden;position: relative;height: 1.4rem}
.tab-ul ul.editUl{height: .8rem}
.tab-ul ul.editUl li{height: .8rem;line-height: .8rem;width:30%;}
.tab-ul ul.editUl:before{background:none;}
.tab-ul ul li{width:50%;text-align: center;float: left; height: 1.4rem;position: relative;color:#ADAEB3;font-size: .32rem;line-height: 1.4rem}
.tab-ul ul:before{content: '';width: 100%;height: 1.4rem;background:url(../images/hitch/li_bg1.png) no-repeat center center;background-size: 100% 1.4rem;position: absolute;top: 0;left: 0;}
.tab-ul ul.on:before{content: '';position: absolute;top: 0;right: 0; left:auto;   transform: rotateY(180deg);}
.tab-ul ul li.active{color: #171921}
.tab-ul ul li.active:after{content: '';width: 1.26rem;height: .12rem;background: #216BFF;position: absolute;left: 50%;margin-left: -.63rem;top: 50%;margin-top: .14rem}
.tab-ul ul li strong{z-index: 2;position: relative;}

/*目的地*/
.place{background: #fff;box-shadow:0px 7px 37px 0px rgba(0, 0, 0, 0.1);border-radius:.16rem;margin-top: .2rem;padding: 0 .37rem;position: relative;}
.place>div{font-size: .24rem;color: #49494D;position: relative;padding:.15rem 0 .15rem .45rem;min-height: 1rem;}
.place>div p{font-size: .34rem;color: #171921;font-weight: bold;position: relative;padding-top:.2rem;}
.place>div p:before{content: '';display: inline-block;width: .12rem;height: .12rem;border-radius: .06rem;background: #1AC72A;position: absolute;z-index: 2;left: -.45rem;top: .4rem;}
.place>div.end p:before{content: '';background: #FF523B;}
.place>div.end:before{content: '';height:1px;background:#f5f5f7;    display: block;position: absolute;top: 0;left: .45rem;right: 0;}



.place>div.start:before{content: '';height: 100%;border-left: .02rem dashed #D7D8DE;position: absolute;top: .55rem;display: inline-block;left: .05rem;}
.place .startAdress,.place .endAdress{display: none;width: 100%;z-index: 2;font-size: .26rem;color: #000;line-height: .28rem;padding-bottom: .28rem;border: none;resize: none;margin-top:.15rem;}
.place .startAdress:empty:before,.place .endAdress:empty:before{content: attr(data-placeholder);color:#BBBCC4;}
.place .startAdress:focus:before,.place .endAdress:focus:before{content:none;}
.place>div input{-webkit-appearance:none;background: none;border: none;font-size: .26rem!important;color: #333;box-sizing: border-box;padding-top: .05rem;position: absolute;left: .45rem;bottom: .24rem;display: none;width: 92%;z-index: 2}

.place .place-wrap{display:flex;align-items:center;}



/*当出发地目的地只为输入时*/
.placeInp{background: #fff;box-shadow:0px 7px 37px 0px rgba(0, 0, 0, 0.1);border-radius:.16rem;margin-top: .2rem;padding: 0 .37rem;position: relative;}
.placeInp>div{font-size: .34rem;color: #171921;position: relative;position: relative;padding-left: .45rem;}
.placeInp span.fakeinp{display: block;line-height: .7rem;font-size: .34rem;color: #171921;font-weight: bold;padding: .3rem 0;min-height: .7rem}
.placeInp .comInpu{width: 100%;z-index: 2;font-size: .34rem;color: #171921;border: none;resize: none;font-weight: bold;display: none;line-height: .44rem;padding: .43rem 0; -webkit-user-select:text;}
.placeInp>div.end .inputEnd{border-top: 1px solid #f5f5f7 ;}

.placeInp i{display: inline-block;width: .12rem;height: .12rem;border-radius: .06rem;background: #1AC72A;position: absolute;z-index: 2;left:0;top: .55rem;}
.placeInp>div.end i{background: #FF523B;}
.placeInp>div.end span.fakeinp{border-top: 1px solid #f5f5f7 ;}
.placeInp>div.start:before{content: '';height: 100%;border-left: .02rem dashed #D7D8DE;position: absolute;top: .55rem;display: inline-block;left: .05rem;}

#fabuForm input::-webkit-input-placeholder {/* Chrome/Opera/Safari */color: #BBBCC4;}
#fabuForm input::-moz-placeholder {/* Firefox 19+ */color: #BBBCC4;}
#fabuForm input:-ms-input-placeholder {/* IE 10+ */color: #BBBCC4;}
#fabuForm input:-moz-placeholder {/* Firefox 18- */color: #BBBCC4;}
#fabuForm input{font-size: .28rem;border: none;}
/*公共样式*/
h2.com-title{font-size: .3rem;color: #171921;font-weight: bold;padding: .6rem 0 .25rem;line-height: 1;}
h2.com-title span{font-size: .24rem;color: #BBBCC4;margin-left: .06rem;font-weight: normal;vertical-align: top;margin-top: .05rem;display: inline-block;}
h2.com-title strong{display: inline-block;}
.com-input{-webkit-appearance:none;background: #F5F5F7;border: none;border-radius: .16rem;height: .8rem;width: 100%;box-sizing: border-box;padding: 0 .24rem}
/*途径地点*/
.route {position: relative;}
.route h2.com-title{padding-bottom: .05rem}
.route em.route-tip{display: inline-block;width: .3rem;height: .3rem;border-radius: 50%;background: #E3F0FF;text-align: center;line-height: .32rem;font-size: .24rem;color: #2185FF;margin-left: .09rem;/*text-indent: .08rem*/}
.route span.routeNum{position: absolute;right: 0;top: .62rem;font-size: .22rem;color: #BBBCC4}
.route .route-div .com-input::-webkit-search-cancel-button{display: none;}
.route .route-div{position: relative;margin-top: .2rem}
.route .route-div.has{width: 3.35rem;float: left;margin-right: .2rem}
.route .route-div.half{width: 3.35rem;float: left;margin-right: .2rem}
.route .route-div:nth-child(2n){margin-right: 0}
.route .del-route{position: absolute;top: -.2rem; right: -.2rem;width: .6rem; height: .6rem; background:url(../images/hitch/del.png) no-repeat center center;background-size: .4rem;font-size: 0;z-index: 2}

/*出发时间*/
.startTime .timeStart{background: #F5F5F7;border-radius: .16rem;height: .8rem;position: relative;overflow:hidden;}
.startTime .timeStart input{    background: none;width: 100%;box-sizing: border-box;padding:0 .24rem;margin-top: .25rem;line-height: 1}
.startTime .timeStart input.hastime{width: 50%;border-right: 1px solid #DCDCDE !important;border-radius: 0}
.startTime .timeStart input.clock{width: 48%;display: none;}
.startTime .timeStart s{width: .3rem;height: .3rem;background:url(../images/hitch/codearr.png) no-repeat center center;background-size: .3rem;position: absolute;top: .26rem;}
.startTime .timeStart s.s1{left: 2.9rem;display: none}
.startTime .timeStart s.s2{right: .2rem;}
/*天天发车*/
.startTime{position: relative;}
.startTime label.daychose{display: inline-block;font-size: .26rem;color: #777880;font-weight: bold;position: absolute;right: 0;top: .58rem;}
.startTime label.daychose:before{content: '';display: inline-block;width: .3rem;height: .3rem;background:url(../images/hitch/nochose.png) no-repeat center center;background-size: .3rem;margin-right: .1rem;vertical-align: middle;
    margin-top: -.08rem;}
.startTime label.daychose.checked{color: #171921}
.startTime label.daychose.checked:before{background:url(../images/hitch/chose.png) no-repeat center center;background-size: .3rem;}
/*用途*/
.zs_btn {position: relative;background: #F5F5F7;border-radius: .16rem;height: .8rem;line-height: .8rem;}
.zs_btn i{display: block; width: 3.34rem; height: .7rem; background: #fff; border-radius: .14rem; position: absolute; top: .05rem; left: .06rem; transition: left .4s;box-shadow:0px 7px 37px 0px rgba(0, 0, 0, 0.1);background: #fff}
.zs_btn.click i{left:3.5rem;  }

.use ul li{font-size: .28rem;color: #BBBCC4;font-weight: bold;float: left;    width: 50%;text-align: center;position: relative;}
.use ul li.curr{color: #171921}
.use .people{margin-top: .3rem;position: relative;}
.use .people span{position: absolute;right: .36rem;top: .2rem;font-size: .28rem}
/*选择车型*/
.use .carType-div{position: relative;margin-top: .3rem;display: none;}
.use .carType-div s{width: .3rem;height: .3rem;background:url(../images/hitch/codearr.png) no-repeat center center;background-size: .3rem;position: absolute;right: .2rem;top: .26rem}

/*联系人*/
.contact-man .phone{position: relative;background: #F5F5F7;border-radius: .16rem;height: .8rem;line-height: .8rem;}
.contact-man .phone input{-webkit-appearance:none;background: none;border: none;width: 76%;}
.contact-man .areacode_span{text-indent: .28rem;color: #171921}
.contact-man .areacode_span label::after{border: none;width: .3rem;height: .3rem;background:url(../images/hitch/codearr.png) no-repeat center center;background-size: .3rem;transform: rotate(0);    right: .05rem;margin-top: -.15rem;}
/*.codemsg{display: none;font-size: .24rem;color: #919191;    padding: .3rem;}*/
.code {position: relative;background: #F5F5F7;border-radius: .16rem;height: .8rem;margin-top: .3rem}
.code button{background: none;border: none;float: right;font-size: .28rem;color: #3377FF;font-weight: bold;margin-right: .4rem;line-height: .8rem;}
.code input{-webkit-appearance:none;background: none;border: none;width: 70%;padding-left: .24rem;height: .8rem}
.contact-man .com-input{margin-top: .3rem;}

/*标签*/
.tag{margin-top: .2rem;}
.tag .tag-div{position: relative;}
.tag .tag-div s{width: .3rem;height: .3rem;background:url(../images/hitch/codearr.png) no-repeat center center;background-size: .3rem;position: absolute;right: .2rem;top: .26rem}
.tag .chose-tag{position: absolute;left: 0;top: .1rem;font-size: 0}
.tag .chose-tag span{display: inline-block;box-shadow:0px 7px 23px 0px rgba(0, 0, 0, 0.1);border-radius:.1rem;height: .6rem;line-height: .6rem;padding: 0 .34rem;font-size: .26rem;color: #171921;position: relative;background: #fff;margin-left: .1rem}
.tag .chose-tag span i.del-tag{position: absolute;top: -.1rem; right: -.1rem;width: .4rem; height: .4rem; background:url(../images/hitch/del.png) no-repeat center center;background-size: .4rem;}
/*备注*/
.note .con{color: #333;font-size: .28rem;padding: .3rem .26rem;height: 2rem;box-sizing: border-box;background:#F5F5F7;border-radius: .16rem }
.note .con textarea{width: 100%;height: 100%;border: 0;resize:none;background: none}
.note .con textarea::-webkit-input-placeholder{color: #BBBCC4;font-size: .28rem;}

/*图片上传*/
#uploadbtn{border: .04rem dashed #BEBFC4}
.img_box li{width: 2.2rem; height: 2.26rem; border-radius: .12rem;  float: left; position: relative; margin-bottom: .15rem;box-sizing: border-box;}
.img_box li:nth-child(3n-1){margin-left: .15rem; margin-right: .15rem;}
.img_show {width: 2.2rem; height: 2.26rem; border-radius: .12rem; overflow: hidden; position: relative;}
.del_btn{position: absolute;top: -.1rem; right: -.1rem;width: .4rem; height: .4rem; background:url(../images/hitch/del.png) no-repeat center center;background-size: .4rem;font-size: 0}
.img_box img,.img_show video{width: 100%;height: 100%}
.imgshow_box p{ background-color: rgba(0,0,0,.8); color: #fff; position: absolute; bottom: 0; text-align: center; }
.upload_btn p,.addbtn p{font-size: .22rem; color: #a2a4ab; text-align: center; margin: auto; line-height: 1.25em;}
.upload_btn p.img-tip{font-size: .22rem;color: #BBBCC4;}
.upload_btn img,.addbtn img{width: .6rem; height: .6rem; margin: auto; display: block; margin-top: .48rem; margin-bottom: .14rem;}
.upload_btn input{width: 2.1rem; height: 2.1rem; position: absolute; top: 0; left: 0; opacity: 1;z-index: 10;}
.upload_btn,.addbtn{position: relative;}
#filePicker{height: 100%; overflow: hidden;}
.webuploader-element-invisible {position: absolute !important; clip: rect(1px,1px,1px,1px);}
.webuploader-container div {width: 2.2rem; height: 2.26rem;}

/*立即发布*/
.submit{padding: 0 .3rem;position: fixed;bottom: 0;left: 0;right: 0;padding-bottom: calc(.24rem + constant(safe-area-inset-bottom));padding-bottom: calc(.24rem + env(safe-area-inset-bottom));background: #fff;z-index: 88}
.submit a{display: block;width: 100%;height:.8rem;background:linear-gradient(90deg,rgba(64,127,255,1) 0%,rgba(51,119,255,1) 100%);border-radius:.4rem;font-size: .32rem;color: #fff;font-weight: bold;text-align: center;line-height: .8rem;}
.submit:before{content: '';display: block;width: 100%;height: .6rem;background:linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);position: absolute;bottom: 1.04rem;bottom: calc(1.04rem + constant(safe-area-inset-bottom));bottom: calc(1.04rem + env(safe-area-inset-bottom));}
/*错误提示*/
/*.error{position: fixed; width: 100%; height: 100%; left: 0; top: 0;  z-index: 1000000; display: none;}*/
.error{position: fixed;  background-color: rgba(0,0,0,.87); border-radius: .2rem; color: #fff; font-size: .26rem;height: 1rem; line-height: 1rem; text-align: center; padding: 0 .5rem; z-index: 1000000; left: 50%; top: 50%; margin-top: -.5rem;transform: translate(-50%,-50%);white-space: nowrap;display: none;}
.popErr p {background-color: rgba(0,0,0,.87); border-radius: .2rem;font-size: .26rem;height: 1rem; line-height: 1rem; padding: 0 .5rem; margin-top: -.5rem;}
/*标签弹出层*/
.comm-mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.5); z-index: 100000; display: none;}
.tag-alert{position: fixed;bottom: -100%;left: 0;right: 0;background: #fff;z-index: 100001;box-shadow:0px -3px 17px 0px rgba(4,5,36,0.03);
border-radius:.3rem .3rem 0px 0px;}
.tag-alert .tag-title{height: 1.1rem;line-height: 1.1rem;padding: 0 .42rem;display: flex;justify-content: space-between;border-bottom: 1px solid #f5f5f7;}
.tag-title .clearAll{font-size: .28rem;color: #999}
.tag-title .sure{font-size: .28rem;color: #212121}
.tag-title h2{font-size: .34rem;color: #000;font-weight: bold;}
.tag-title h2 span{font-size: .24rem;color: #999;font-weight: normal;margin-left: .1rem}
.tag-alert ul{padding: .28rem .24rem;min-height: 5.9rem;box-sizing: border-box;}
.tag-alert ul li{float: left;width: 2.2rem;height: .76rem;text-align: center;line-height: .76rem;background: #F5F5F7;font-size: .26rem;color: #171921;border-radius: .1rem;margin-right: .2rem;margin-top:.22rem;    box-sizing: border-box; }
.tag-alert ul li:nth-child(3n){margin-right: 0}
.tag-alert ul li.checked{background: #EDF3FF;border: 1px solid #3B7CFF;color: #3377FF;font-weight: bold;}
.tag-alert ul li.checked:before{content: '';display: inline-block;width: .3rem;height: .3rem;background:url(../images/hitch/checked.png) no-repeat center center;background-size: .3rem;margin-right: .08rem;vertical-align: middle;margin-top: -.08rem;}
/*途径地点弹出层*/
.route-alert{position: fixed;left: 50%;top: 50%;background: #fff url(../images/hitch/route.png) no-repeat right center;background-size: 1.8rem 3.8rem;z-index: 100001;border-radius:.3rem;width: 5.2rem;height: 3.8rem;margin-top: -1.9rem;margin-left: -2.6rem;text-align: center;box-sizing: border-box;padding: .4rem .5rem;display: none;}
.route-alert h1{font-size: .36rem;color: #000;font-weight: bold;}
.route-alert p{font-size: .26rem;color: #636366;line-height: .4rem;margin-top: .35rem;text-align: left;}
.route-alert a.know{display: inline-block;width: 3.2rem;height:.8rem ;background:linear-gradient(90deg,rgba(64,127,255,1) 0%,rgba(51,119,255,1) 100%);border-radius:.4rem;line-height: .8rem;text-align: center;font-size: .3rem;color: #fff;font-weight: bold;margin-top: .55rem}
/*选择车型*/
.car-alert{position: fixed;bottom: -100%;left: 0;right: 0;background: #fff;z-index: 100001;box-shadow:0px -3px 17px 0px rgba(4,5,36,0.03);
border-radius:.3rem .3rem 0px 0px;}
.car-alert .car-title{height: 1.1rem;line-height: 1.1rem;padding: 0 .42rem;display: flex;justify-content: space-between;border-bottom: 1px solid #f5f5f7;}
.car-title .cancel{font-size: .28rem;color: #999}
.car-title .confirm{font-size: .28rem;color: #212121}
.car-title h2{font-size: .34rem;color: #000;font-weight: bold;}
.car-alert ul{padding: .28rem .24rem;min-height: 5.9rem;box-sizing: border-box;}
.car-alert ul li{float: left;width: 2.2rem;height: .76rem;text-align: center;line-height: .76rem;background: #F5F5F7;font-size: .26rem;color: #171921;border-radius: .1rem;margin-right: .2rem;margin-top:.22rem;    box-sizing: border-box; }
.car-alert ul li:nth-child(3n){margin-right: 0}
.car-alert ul li.checked{background: #EDF3FF;border: 1px solid #3B7CFF;color: #3377FF;font-weight: bold;}
.car-alert ul li.checked:before{content: '';display: inline-block;width: .3rem;height: .3rem;background:url(../images/hitch/checked.png) no-repeat center center;background-size: .3rem;margin-right: .08rem;vertical-align: middle;margin-top: -.08rem;}
/*区域弹窗*/
.mobileSelect-show{    position: fixed;left: 0;right: 0;bottom: 0;}
.mobileSelect-show .content{border-radius:.2rem .2rem 0px 0px;overflow: hidden;position: absolute !important;}
.mobileSelect .content .btnBar{height: 1rem;line-height: 1rem;background: #F7F8FA;/*border-radius:.2rem .2rem 0px 0px;*/border-bottom: none}
.mobileSelect .content .btnBar .title{font-size: .28rem;color: #999;}
.mobileSelect .content .btnBar .ensure{color: #3378FF;font-size: .28rem;font-weight: bold;}
.mobileSelect .content .btnBar .cancel{font-size: .28rem;color: #999;font-weight: bold;}
.mobileSelect .content .panel .wheels{height: 246px}
.mobileSelect .content .panel .wheel .selectContainer li{font-size: .3rem;color: #808080}
.mobileSelect .content .panel .wheel .selectContainer li.onchose{font-weight: bold;color: #000;font-size: .36rem}
/*区号弹窗修改*/
.pop_box,.popl_box{background-color: #fff; position: fixed; bottom: -100%; left: 0; right: 0;padding: 0 .24rem; border-radius: .3rem .3rem 0 0; height: 8.2rem; padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); z-index: 10001;}
.popl_box h2 .back{color: #999; font-size: .3rem; position: absolute; right: .58rem; font-weight: normal;}
.areacodeList,.timeList{padding-top: 1.4rem; height: 100%; box-sizing: border-box; top: 0; left: 0; right: 0; position: absolute; }
.areacodeList ul,.timeList ul{height: 100%; overflow: auto;}
.areacodeList ul li,.timeList ul li{margin: 0 .3rem; line-height: .88rem; color: #333; font-size: .3rem;  border-radius: .1rem; padding: 0 .2rem;}
.areacodeList ul li.achose,.timeList ul li.achose{background: #F0F0F2; font-weight: bold;}

.anum_box h2{line-height: 1.1rem; text-align: center; font-size: .34rem; color: #000; font-weight: bold; border-bottom: solid 1px #f5f5f8; position: relative; z-index: 10;}
.anum_box h2 .cancel,.pop_box h2 .back{color: #999; font-size: .3rem; position: absolute; right: .58rem; font-weight: normal;}
.anum_box h2 .back{left: .43rem; right: auto; position: absolute;  }
