html{background-color: #fff;}
.header{border: none;}
.mulinpbox .mulcon{border: none; margin: .2rem .3rem;}
.mulinpbox .mulcon textarea{display: block; width: 100%; padding: .26rem; box-sizing: border-box; height: 4.8rem; border: 0; outline: 0;  font-size: .28rem;background-color: #F4F5F7; resize: none; border-radius: .16rem;}
.mulinpbox .mulcon textarea::placeholder{color: #BABCC4;}
.submit{position: fixed; background-color: #fff; padding: .24rem; padding-bottom:calc(.24rem + constant(safe-area-inset-bottom));padding-bottom: calc(.24rem + env(safe-area-inset-bottom)); left: 0; right: 0; bottom: .2rem; }
.submit a{display: block; margin: 0 .3rem; height: .8rem; color: #fff; text-align: center; line-height: .8rem; font-size: .32rem;background:linear-gradient(90deg,rgba(58,147,255,1) 0%,rgba(58,124,255,1) 100%); border-radius: .4rem; font-weight: bold;}
.img-box{border: none;}
.img-box>h3{color: #161821; font-size: .3rem; font-weight: bold; padding:.24rem .4rem ; padding-bottom: 0;}
.img-box>h3>em{color: #BABCC4; font-size: .22rem;}
.img-box li.uploadbtn{width:2.2rem ; height: 1.47rem; border:.03rem dashed #BEBFC4; border-radius: .12rem; box-sizing: border-box;}
.img-box .webuploader-container div{width: 100%; height: 100%;}
.img-box .webuploader-container .webuploader-pick{font-size: .24rem; text-align: center; color: #71737F; line-height: 1.2em;}
.img-box .webuploader-container .webuploader-pick i{display: block; width: .5rem; height: .5rem; margin: auto; background: url(../images/live/add_1.png) no-repeat center; background-size: cover; margin-bottom: .14rem; margin-top: .26rem;}
.img-box li{width:2.2rem ; height: 1.47rem; border-radius: .12rem; margin-right: .14rem;}
.img-box li img{border-radius: .12rem;}
.img-box .thumbnail .file-panel .cancel:before,.img-box .thumbnail .file-panel .cancel:after{display: none;}
.img-box .thumbnail .file-panel .cancel{background: url(../images/live/x.png) no-repeat center; background-size: cover; transform: rotate(0); width: .4rem; height: .4rem; }
..img-box .thumbnail .file-panel{position: absolute; right: .1rem; top: -.1rem;}