.huoniao_iOS .top{display: none;}
.huoniao_iOS .sub_res {position: fixed;left:0;top:0;right:0;bottom:0;background:#f8f8f8;z-index: 51;}

.main_wrap{background: #FF1A46 url(../images/fxjoin-bg.png) no-repeat top;background-size: contain;padding-bottom: 1.5rem;padding-bottom:calc(1.5rem + constant(safe-area-inset-bottom));padding-bottom: calc(1.5rem + env(safe-area-inset-bottom));}
body{width: 100% !important; max-width: initial !important;}
.mainCon{padding: 0 .4rem;}
/*顶部*/
.topTitle{padding-top: 1.45rem;}
.topTitle i.fxjoin-T{display: block;width: 6.55rem;height: 1.23rem;background: url(../images/fxjoin-T.png) no-repeat center;background-size: cover;margin: 0 auto .37rem;}
.topTitle h3{font-size: .34rem;color: #fff;text-align: center;}
.comCon{background: linear-gradient(-45deg, #FFDCBC 0%, #FFEFE0 100%);
box-shadow: 1px 7px 13px 0px rgba(211, 20, 57, 0.46);border-radius: .2rem; position: relative;padding: .88rem .36rem .4rem}
.comBg{font-size: .4rem;color: #B04D16;font-weight: bold;padding: .2rem .74rem .38rem .7rem; background: url(../images/fxjoin-C.png) no-repeat center;background-size: contain;position: absolute;left: 50%;transform: translateX(-50%);top: -.4rem;white-space: nowrap;}
.comCon p{font-size: .26rem;color: #A5603C;line-height: .42rem;text-indent: .5rem}
.comCon p strong{font-size: .3rem; color: #F21442;}

.partnerPro{margin-top: 1.3rem;}
.partnerPro .speP{margin-top: .3rem}


/*合伙人权益*/
.paGoods {margin-top: .5rem}
.paGoods h2{font-size: .4rem;color: #fff;font-weight: bold;text-align: center;position: relative;}
.paGoods h2 span{position: relative;z-index: 2}
.paGoods h2:after{content: '';width: 2.28rem;height: .2rem;border-radius: .1rem;background: #DD143A;position: absolute;left: 50%;margin-left: -1.14rem;bottom: 0;z-index: 1}
.paGoods ul{margin-top: .4rem}
.paGoods li{background: linear-gradient(-45deg, #FFDCBC 0%, #FFEFE0 100%);box-shadow: 1px 3px 46px 0px rgba(106, 0, 21, 0.31);border-radius: .2rem;position: relative;margin-bottom: .3rem;padding: 1rem .3rem .4rem .24rem}
.comlevel{font-size: .3rem;color: #B04D16;font-weight: bold;padding: .1rem .4rem .23rem; background: url(../images/fxjoin-Q.png) no-repeat center;background-size: cover;position: absolute;left: -.2rem;top: .2rem;white-space: nowrap;}
.paGoods li p{font-size: .26rem;color: #A5603C;line-height: .42rem;}


 /*表单部分*/
.applyPa{margin-top: .94rem;background: #FFFAF3;border-radius: .2rem;padding: 1.08rem .3rem .5rem;position: relative;}
.comBox{margin-bottom: .3rem}
.comBox>div{background: #FFF;border: 1px solid #E0CCBA;border-radius: 10px;width: 100%;    box-sizing: border-box;padding-left: .22rem;overflow: hidden;}
.comBox>div input{padding: .28rem .22rem;font-size: .28rem;color: #60360B;font-weight: bold;padding-left: 0;border: none}
.comBox>div input::placeholder{color: #60360B}
.comBox>div i.choose{display: inline-block;float: right;width: .3rem;height: .3rem;background: url(../images/fxjoin-r.png) no-repeat center;background-size: cover;margin-top: .28rem;margin-right: .16rem;}
.comBox p.tip{font-size: .22rem;color: #C5B4A4;padding-top: .14rem;padding-left: .06rem;}
.comBox>div.chooseLevel i.choose{background: url(../images/fxjoin-d.png) no-repeat center;background-size: cover;}


/*区号弹窗修改*/
.anum_box{background-color: #fff; position: fixed; bottom: -100%; left: 0; right: 0;padding: 0 .24rem; border-radius: .3rem .3rem 0 0; height: 8.2rem; padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); z-index: 10001;}
.anum_box.popl_box{height: 6.2rem}

.anum_box h2{line-height: 1.1rem; text-align: center; font-size: .34rem; color: #000; font-weight: bold; border-bottom: solid 1px #f5f5f8; position: relative; z-index: 10;}
.anum_box h2 .back{color: #999; font-size: .3rem; position: absolute; left: .43rem; right: auto; font-weight: normal;}

.levelList,.areacodeList{padding-top: 1.4rem; height: 100%; box-sizing: border-box; top: 0; left: 0; right: 0; position: absolute; }
.anum_box ul{height: 100%; overflow: auto;}
.anum_box ul li{margin: 0 .3rem; line-height: .88rem; color: #333; font-size: .3rem;  border-radius: .1rem; padding: 0 .2rem;}
.anum_box ul li.achose{background: #F0F0F2; font-weight: bold;}


.mask-level{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #000!important; opacity: .5!important; z-index: 10000!important; display: none;}
.mask-level.show{display: block;}


.basicInfo{}
h3.commT{font-size: .32rem;color: #60360B;font-weight: bold;padding: .5rem 0 .24rem;}
.basicCon{background: #fff;border: 1px solid #E0CCBA;border-radius: .1rem;}
.basicCon dl{border-bottom: 1px solid #E0CCBA;padding: .26rem .2rem .27rem .22rem}
.basicCon dt{font-size: .28rem;color: #60360B;float: left;}
.basicCon dd{margin-left: 1.5rem;text-align: right;height: .38rem;}
.basicCon dl:last-child{border-bottom: none;}
.basicCon dd input{border: none;width: 100%;text-align: right;font-size: .28rem;color: #938576;}

.areChoose i{display: inline-block;float: right;width: .3rem;height: .3rem;background: url(../images/fxjoin-d.png) no-repeat center;background-size: cover;}
.areChoose span{font-size: .28rem;
    color: #60360B;margin-right: .1rem}


/*验证码*/
.yanzheng{clear: both;}
.test_code{clear: both; padding: .1rem .14rem .1rem 0;}
.get_code p{float: left;}
.code_input{width: 4rem;  border-right: none; box-sizing: border-box; line-height: .68rem; }
.code_input input{border: none; background: none; font-size: .3rem; width: 3.5rem; margin-left: .18rem;}
.test_btn{width:1.87rem; border-radius: .06rem;background: #504642;}
.test_btn button{border: none; background: none; font-size: .3rem; color: #fff; display: block; width: 100%; text-align: center; line-height: .68rem;}
.test_code .tip i{display: inline-block;vertical-align: middle; width: .08rem; height: .22rem; background-image: url(../images/tan.png); background-size: cover; background-repeat: no-repeat; margin-right: .1rem; }
.test_code .tip{font-size: .22rem; color: #bbbcc4;  margin-bottom: .1rem;}
.get_code{overflow: hidden;}

.pricein_wuye .left_label{width: auto !important;}


/*底部按钮*/
.gz-address{transform: none  !important}
.bottomPart{position: fixed;bottom: 0;left: 0;right: 0;height: 1.08rem;background: #fff}
.botPrice{float: left;width: 4.72rem;box-sizing: border-box;padding-left: .55rem;display: flex;align-items: center;height: 1.08rem}
.botPrice .priceAll{color: #FF3C4A;font-size: .24rem;}
.botPrice .priceAll strong{font-size: .4rem;}
.botPrice p{font-size: .24rem;color: #948476}

.sub_btn{height: 1.08rem;font-size: .36rem; text-align: center; color: #795638;line-height: 1.08rem;background: linear-gradient(-45deg, #FFBE7E 0%, #FFD8B4 100%);float: right;width: 2.78rem}

.sub_btn.allSub{width: 100%;
box-shadow: 0px -3px 21px 0px rgba(80, 70, 66, 0.19);
background: linear-gradient(-69deg, #FFBE7E 0%, #FFD8B4 100%);}
/*错误提示2*/
.error_box{width: 100%;position: fixed; top: 40%;z-index: 9999;}
.error{width: 3.5rem; height: 1rem; text-align: center; background-color: rgba(0,0,0,.6); border-radius: .16rem;  margin: auto; display: none;}
.error p{color: #fff; font-size: .3rem; padding: .2rem .15rem;}


/*提交结果*/
.sub_res {position: fixed;left:0;top:.9rem;right:0;bottom:0;background:#f8f8f8;z-index: 51;}
.sub_res img {display: block;width:1.2rem;margin: 45% auto 3%;}
.sub_res p {text-align: center;font-size: .32rem;color: #333;}

p.state0 {padding:1.5rem .24rem 0;color: #f00;text-align: center;margin-top: 40%;}

.result i {display: block;width:1.2rem;height: 1.2rem;margin:1.63rem auto .5rem;background: rgb(255, 122, 57) url('../images/gou.png') center no-repeat;background-size:.6rem;box-shadow: 0px 3px 9px 0px rgba(255, 61, 42, 0.37);border-radius: 50%;margin-top: 45%;}
.result p {font-size: .32rem;color: #5e5e5e;text-align: center;}

/*国籍区号*/
.areacode_span{text-indent: 0}
.userphone{width: 6.58rem}
.userphone input#contact{width: 5.3rem}
