html{background: #fff;}

header.bigHeader{width: 100%;height: 5.6rem;background: url("../images/charts-bg.png") no-repeat bottom;background-size: cover;box-sizing: border-box; padding-top: 1.6rem;}
.huoniao_iOS header.bigHeader {height: 4.6rem; padding-top: 1rem;}
.transparent .header-address{color: #fff}

.topWrap i.pxBg{display: block;background: url("../images/px-txt.png") no-repeat;background-size: cover;width: 3.9rem;height: 1.34rem;margin-left: .96rem;}
.topWrap p{font-size: .22rem;color: #fff;margin-left: .96rem;margin-top: .1rem}
.topWrap p span{font-size: .24rem}

.mainCon{background: #fff;margin: -.9rem 0 0;border-radius: .6rem .6rem 0px 0px;overflow: hidden;}
.mainCon .score{box-shadow: 3px 4px 32px 0px rgba(181, 141, 136, 0.16);border-radius: .3rem;margin:.28rem .38rem .56rem;padding: .22rem .2rem .22rem .25rem; }
.score span{font-size: .32rem;color: #000;font-weight: bold;width: .66rem;float: left;line-height: .38rem;padding-top: .04rem}
.score .logo{display: block;width: .75rem;height: .75rem;float: left;border-radius: 50%;overflow:hidden;margin-left: .18rem}
.score .logo img{display: block;width: 100%;height: 100%;object-fit: cover;}

.score .userIn {float: left;margin-left: .12rem;height: .75rem;}
.score .userIn h3{font-size: .28rem;color: #000;padding-top: .03rem;    max-width: 2.8rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.score .userIn p{font-size: .22rem;color: #9A9A9A;margin-top: .02rem}
.score .myMoney{float: right;color: #FF5644;font-weight: bold;font-size: .24rem;padding-top: .2rem;}
.score .myMoney strong{font-size: .32rem}

.bd_list{padding: 0 .48rem 0 .35rem}
.bd_list dl .table_th{margin-bottom: .15rem;padding-left: .04rem}
.bd_list dl .table_th>div{ font-size: .26rem; color: #A2A2A2; float: left; }
.bd_list dl .table_th>div.t_num{width: .6rem; }
.bd_list dl .table_th>div.t_user{width: 50%; margin-left: .64rem}
.bd_list dl .table_th>div.t_count{float: right;}
.bd_list dl .table_th{overflow: hidden;}
.bd_list dl .table_tr{overflow: hidden;padding: .23rem 0 ;}
.bd_list dl .table_tr>div{float: left; line-height: .6rem;}
.bd_list dl .table_tr>div.t_num{font-size: .3rem; color: #DCDCDC;width: .6rem;text-align: center;font-family: UNISANSHEAVY}
.bd_list dl .table_tr>div.t_num em{display: block; width: .34rem; text-align: center;font-weight:bold; font-style:italic; color: #999;}
.bd_list dl .table_tr>div.t_name{width: 50%; margin-left: .64rem ;margin-top: .06rem;}
.bd_list dl .table_tr>div.t_count{float: right;  color: #2E2E2E; font-weight: 600; text-align: right; font-size: .36rem;}
.bd_list dl .table_tr>div.t_count span{font-family: UNISANSHEAVY}
.bd_list dl .table_tr .orIcon{width: .6rem;height: .6rem;}
.bd_list dl .table_tr .orIcon.orIcon1{background: url("../images/orIcon1.png") no-repeat;background-size: cover;}
.bd_list dl .table_tr .orIcon.orIcon2{background: url("../images/orIcon2.png") no-repeat;background-size: cover;}
.bd_list dl .table_tr .orIcon.orIcon3{background: url("../images/orIcon3.png") no-repeat;background-size: cover;}
.bd_list dl .table_tr .t_name p{font-size: .26rem;color: #000;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;line-height: .5rem;}
.bd_list dl .table_tr .tLogo{float: left;width: .5rem;height: .5rem; margin-right: .16rem}
.bd_list dl .table_tr .tLogo img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%}

.loading{text-align: center;line-height: .88rem}
@font-face {
  font-family: "UNISANSHEAVY";
  src: url("/static/fonts/UNISANSHEAVY.woff2"),
       url("/static/fonts/UNISANSHEAVY.woff"),
       url("/static/fonts/UNISANSHEAVY.ttf"),
       url("/static/fonts/UNISANSHEAVY.eot"),
       url("/static/fonts/UNISANSHEAVY.otf");
}
