html{background: #f5f5f7;}
.top{width: 100%;height: 4.66rem;background: url("../images/fenxiao-bg.png") no-repeat;background-size: contain;padding: .5rem .3rem 0;box-sizing: border-box;color: #fff;margin-bottom: 1.22rem}
.info-box{position: relative;margin-bottom: .5rem;}
.info-box .logo{width: 1.14rem;height: 1.14rem;border-radius: 50%;border: .03rem solid #fff;margin-right: .24rem;position: relative;}
.info-box .logo img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}
.info-box .logo span{display: inline-block;padding: 0 .1rem 0 .16rem;height: .4rem;line-height: .4rem;background: #fff;
box-shadow: 0px 0px 30px 0px rgba(81, 81, 81, 0.16);border-radius: .2rem;font-size: .2rem;color: #FF6452;position: absolute;bottom: -.15rem;transform: translateX(-50%);left: 50%;white-space: nowrap;}
.info-box .info p.name{font-size: .34rem;    padding-top: .1rem;}
.info-box .info p.name span{display: inline-block;padding: 0 .14rem;height: .4rem;line-height: .4rem;
background: linear-gradient(181deg, #FFC224 0%, #FFA614 100%);box-shadow: 0px 0px 30px 0px rgba(81, 81, 81, 0.16);border-radius: .2rem;font-size: .2rem;color: #fff;white-space: nowrap;margin-left: .2rem;    vertical-align: middle;
    margin-top: -.06rem;}
.info-box .info .id-box{display: inline-block;height: .46rem;background: #ff904d;border-radius: .23rem;padding: 0 .21rem;line-height: .46rem;position: absolute;bottom: .1rem;}
.info-box .info .id-box i{display: inline-block;font-size:.24rem;width: .28rem;height: .32rem;background: url("../images/icon_rom.png") no-repeat;background-size: contain;margin: 0 .06rem -.1rem 0;}
.info-box .code-box{position: absolute;right: 0;text-align: center;top: .1rem;}
.info-box .code-box a{color: #fff;}
.info-box .code-box i{display: inline-block;width: .52rem;height: .5rem;background: url("../images/icon_code.png") no-repeat;background-size: contain;margin-bottom: .08rem;}

.money-wrap{background: #fff;border-radius: .3rem;padding: .44rem .3rem .44rem; }

.history{margin-bottom: .4rem;}
.history .tit,.cash-draw .tit{font-size: .24rem;padding-bottom: .05rem;color: #343434;}
.history .money{font-size: .6rem;font-weight: bold;color: #000;font-family: coregtd;}
.cash-draw .money{font-size: .48rem;color: #343434;font-weight: bold;position: relative;font-family: coregtd;}
.cash-draw .money .btn{display: inline-block;width: 1.6rem;height: .64rem;border-radius: .32rem;border: .02rem solid #FF504C;color: #FF504C;font-size: .32rem;line-height: .64rem;text-align: center;position: absolute;top: -.14rem;right: .04rem;box-sizing: border-box;}

.px{background: url("../images/fenxiao-pxbg.png") no-repeat top;background-size: cover;margin: 0 .3rem;box-shadow: 1px 6px 26px 0px rgba(190, 22, 19, 0.23);border-radius: .3rem;position: relative;}
.px a{display: block;height: 1.5rem;padding: .32rem .4rem .36rem;box-sizing: border-box;}
.px h2{font-size: .4rem;color: #fff;font-weight: bold;}
.px p{font-size: .24rem;color: #fff;}
.px p span{font-size: .26rem;}

.nav-box{padding: 0 .3rem;position: relative;margin-top: .28rem}
.nav-box ul{background: #fff;border-radius: .3rem}
.nav-box ul li{height: 1.3rem;line-height: 1.32rem}
.nav-box ul li:first-child{border-bottom: 1px solid #f5f5f7}
.nav-box ul li a{display: block;padding: 0 .24rem;}
.nav-box ul li p{font-size: .32rem;color:#000;font-weight: bold;display: inline-block;}
.nav-box ul li .img-box{width: .74rem;height: .74rem;margin-right: .15rem;float: left;margin-top: .28rem}
.nav-box ul li:first-child .img-box{background: url("../images/icon_01.png") no-repeat;background-size: cover;}
.nav-box ul li:last-child .img-box{background: url("../images/icon_02.png") no-repeat;background-size: cover;}
.nav-box ul li img{width: 100%;height: 100%;}
.nav-box ul li span{width: 1.35rem;height: .5rem;background: #FFF;border: 1px solid #DDD;border-radius: .25rem;line-height: .5rem;text-align: center;box-sizing: border-box;font-size: .28rem;color: #666;float: right;margin-top: .42rem}


@font-face {
  font-family: "coregtd";
  src: url("/static/fonts/coregtd6.woff2"),
       url("/static/fonts/coregtd6.woff"),
       url("/static/fonts/coregtd6.ttf"),
       url("/static/fonts/coregtd6.eot"),
       url("/static/fonts/coregtd6.otf");
}
