body,html {
  padding: 0;
  margin: 0
}
.date-wrap{}
.date.container ul {
  margin: 0;
  padding: 0 .25rem;
  text-align: left;
  font-size: .3rem;

}
.date.container ul.week{font-size: .24rem;background: #EDF5FF;border-radius:0px 0px .1rem .1rem;}
.date .date-header  li {
  height: .56rem;
  line-height: .56rem;
  margin-bottom: 0;

 
}
.date-content li{
	 height: .7rem;	 
	 line-height: .7rem;
   position: relative;
}
.date-content li.current{font-weight: bold;}
.date-content li.current:before{content: '';display: inline-block;width: .08rem;height: .08rem;border-radius: .04rem;background: #3B7CFF;position: absolute;top: 50%;margin-top: -.04rem;left: .2rem;}
.date-content li.current.chosed:before{background: #fff}
 .none {
  display: none
}

 .row {
 	text-align: center;
  padding: .2rem;
  color: #333;
  /*background: #f5f5f5;*/
}
.zhu,.zou{display: inline-block; font-size: .28rem; padding: .2rem; border-radius: .08rem; background-color: #f5f5f5; color: #a0a0a0;}
.date-wrap {
	position: relative;
  position: fixed;
  bottom: -100%;
  left: 0;
  background: #fff;
  z-index: 1000001;
  width: 100%;
  height: 8rem;
 
  text-align: center;
  border-radius:.2rem .2rem 0px 0px;
}

.date .action {
  margin-top: .4rem
}

.date .title div{
  display: inline;
}
.date .title div.y{margin-left: .1rem}
.date ul li {
  display: inline-block;
  width: 14.285%;
  text-align: center;
  vertical-align: middle;
/*  margin-bottom: .1rem;*/
}

/*.date.container  .week li {
  background-color: #f1f1f1;
}*/

.date.container  .day .enter {
 background-color: #f8a81f;
  color: #fff;
  border-radius: .08rem 0 0 .08rem;
}
.date.container  .day .enter:after{
	content: '入住';
	display: block;
	font-size: .22rem;
	/*margin-top: .1rem;*/
}
.date.container  .day .leave {
  background-color: #f8a81f;
  color: #fff;
  border-radius:  0 .08rem .08rem 0 ;
}
.date.container  .day .leave:after{
	content: '离店';
	display: block;
	font-size: .22rem;
	/*margin-top: .1rem;*/
	
}
.date.container  .day .disable {
  background-color: #fff;
  color: #a0a0a0;
  
}
.date.container  .day .disable .price_show{
	display: none;
}
.date.container .sure-btn {
  position: absolute;
  top: .32rem;
  right: .5rem;
  font-size: .28rem; 
  color: #3378FF;
  font-weight: bold;
}
.mask{width: 100%; height: 100%; background: rgba(0,0,0,.6); position: fixed; top: 0; left: 0;z-index: 100000; display: none;}
.date-header{position: absolute; top: 0; width: 100%; background-color: #fff; font-size: .28rem;border-radius:.2rem .2rem 0px 0px;}
.date-header h4{height: 1rem;line-height: 1rem;color: #999}
.date-content{height: 6.5rem; width: 100%;overflow: auto;  -webkit-overflow-scrolling: touch; margin-top: 1.56rem;}
.date-content .title{font-size: .4rem; padding-right: .2rem;background: #fff;display: inline-block;position: absolute;left: 0;font-weight: bold;}
.week{border-bottom: solid .01rem #f2f2f2;}
.close-btn{position: absolute; left:  .5rem; top: .32rem; overflow: hidden;}
.close-btn a{display: block;color: #999;font-weight: bold;font-size: .28rem;}
.night{margin: 0 .5rem; display: inline-block; font-size: .28rem; }
.time{color: #fdc224;}
.chosed{background-color: #3B7CFF; color: #fff;font-weight: bold;border-radius: .1rem}

.date .action .line{position: relative;overflow: hidden;height: .5rem;margin-left: .48rem;margin-right: .2rem;margin-bottom: .2rem}
.date .action .line:before{content: '';width: 100%;height: 1px ;background: #f5f5f7;position: absolute;left: 0;right: 0;top: .26rem}
