html,body{background: #F0F0F2;}
.top_box{padding: 0 .3rem; padding-top: .32rem; padding-bottom: .4rem; position: relative; z-index: 2;}
h2.t_tilte{font-size: .32rem; color: #000; font-weight: bold; margin-bottom: .18rem;  }
.TimeBox .l_time{height: .88rem; border-radius: .08rem; background: #E6E7ED; margin-right: 1.86rem; text-align: center; color: #999;font-size: .28rem; font-weight: bold; }
.TimeBox .l_time input{width: 48%; border: none; background: none; font-size: .28rem; color: #000; padding-left: .23rem; box-sizing: border-box;padding-top: .3rem;  font-weight: 500;}
.TimeBox .l_time input::placeholder{color: #999;}
.TimeBox .r_btn{float: right; width: 1.7rem; height: .88rem; font-size: .32rem; color: #fff; line-height: .88rem; text-align: center;border-radius: .08rem;
 background: -webkit-linear-gradient(90deg,rgba(255,108,55,1) 0%,rgba(255,131,67,1) 100%); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(90deg,rgba(255,108,55,1) 0%,rgba(255,131,67,1) 100%); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(90deg,rgba(255,108,55,1) 0%,rgba(255,131,67,1) 100%); /* Firefox 3.6 - 15 */
 background:linear-gradient(90deg,rgba(255,108,55,1) 0%,rgba(255,131,67,1) 100%); /* 标准的语法 */
} 

.listBox{margin: 0 .3rem; border: solid .01rem #E6E7ED; border-radius: .08rem; overflow: hidden;box-shadow:0 .07rem .57rem 0 rgba(0, 0, 0, 0.05); position: relative; z-index: 3; margin-bottom: 2rem;}
.listBox>h3{background: #FFF0E8; padding-left: .44rem; padding-right: .5rem; color: #949599; font-size: .28rem; overflow: hidden; line-height: .78rem; border-bottom: solid .02rem #E6E7ED;}
.listBox>h3 span.item_title{float: left;}
.listBox>h3 span.p_title{float: right;}
.listBox>h3 span em{color: #BEBFC4;}

.item_li{padding: .34rem .4rem; padding-bottom: .4rem; border-bottom: solid .01rem #EBECF2;}
.item_li:last-child{border: none;}
.item_li h4{font-size: .3rem; color: #212121; margin-right: 1.1rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin-bottom: .24rem;}
.item_li .l_num{float: left; font-size: .34rem; color: #000; font-weight: bold;}
.item_li .l_num:before{content: 'x'; font-size: .26rem; color: #000; font-weight: normal;}
.item_li .r_price{float: right; font-size: .34rem; font-weight: bold; color: #FF523B;}
.item_li .r_price em{font-size: .24rem;}
.item_li:nth-child(2n){background: #FAFAFA;}
.item_li:nth-child(2n-1){background: #fff;}
.bg1{position: fixed; background: #fff; z-index: 0; right: 0;left: 0;  top: 0; height: 3.9rem;}
.bg2{position: fixed; left: 0; right: 0; z-index: 0; top: 3.9rem; height: 5rem;
	 background: -webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,1)); /* Safari 5.1 - 6 */
	   background: -o-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,1)); /* Opera 11.1 - 12*/
	   background: -moz-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,1)); /* Firefox 3.6 - 15*/
	   background: linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,1)); /* 标准的语法 */
	 
}
.bottom_box{padding: .4rem .5rem; background: #fff; position: fixed; bottom: 0; left:0; right: 0; z-index: 3; height: 1.2rem; box-sizing: border-box; box-shadow:0 -.03rem .13rem 0 rgba(25,30,59,0.05);}
.bottom_box p.left_num{float: left; color: #949599; font-size: .28rem; font-weight: bold;}
.bottom_box p.left_num span{font-size: .32rem; color: #000; margin-left: .15rem;}
.bottom_box p.right_count{float: right; font-size: .24rem; color: #000;}
.bottom_box p.right_count span{font-size: .44rem; font-weight: bold;}

/*时间选择*/
.dwc{width: 100%;}
.mbsc-mobiscroll .dwbc{border-bottom: 1px solid #dcdcdc;}
.mbsc-mobiscroll .dwb-c {float: left!important;}
.mbsc-mobiscroll .dwb-c .dwb{color: #666;}
.mbsc-mobiscroll .dwb-s{float: right!important;}
.dw-i{font-size: .3rem;font-weight: 500;}
.mbsc-mobiscroll .dwwol{border-bottom: 1px solid #dcdcdc!important;border-top: 1px solid #dcdcdc!important;}
.mbsc-mobiscroll .dwfl{padding: .5rem 0!important;}
