.top_box1{padding: .22rem .44rem; padding-top: .35rem;}
.huoniao_iOS .top_box1 {padding-top: calc(25px + .35rem);}
/* .huoniao_Android .top_box1 {padding-top: .35rem!important;} */
.top_box1 .left_link{float: left; font-size: .24rem; color: #586073;}
/*小程序头部*/
.huoniao_iOS.wx_miniprogram .top_box1 ,.qq_miniprogram  .top_box1,.baidu_miniprogram  .top_box1{padding-top:.22rem !important;}
.top_box1 .right_link{float: right; width: .48rem; height: .48rem; background: url(../images/index_4.8/setting.png) no-repeat center; background-size: cover;}
.huoniao_iOS body {padding-bottom:1.5rem;}
.huoniao_iOS.wx_miniprogram body{padding-bottom: 1.4rem;}
body{background: #f5f5f7!important; padding-bottom: 1.4rem;}
html{background: #f5f5f7!important;}
/* 会员信息 */
.bg_white{background: #fff; position: relative; z-index: 2;}
.bg_white:after{content: ''; display: block; height: 2rem; background:linear-gradient(0deg,rgba(245,245,247,1) 0%,rgba(255,255,255,1) 100%); position: absolute; bottom: -1.5rem; left: 0; right: 0; z-index: -1;}
.minfo{padding: 0 .32rem;}
.left_head{width: 1.4rem; height: 1.4rem; border-radius: 50%; overflow: hidden; float: left;}
.left_head a{display: block; height: 100%;}
.left_head a img{width: 100%; height: 100%; object-fit: cover;}

.right_info{ margin-left: 1.6rem;}
.right_info h2{font-size: .38rem; color: #000; font-weight: bold; max-width: 3.4rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-top: .16rem;}
.right_info h2.nlogin{ line-height: 1.4rem; padding-top: 0;}
.right_info .right_btn{float: right; color: #8A8EA6; font-size: .24rem; margin-top: -.1rem;}
.right_info .right_btn:after{content: ''; display: inline-block; width: .3rem; height: .3rem; background: url(../images/index_4.8/r_arr.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem ; margin-left: .02rem;}
.right_info .right_btn.nlogin_link{margin-top: .5rem;}
/* 会员等级样式 */
.lBox{ line-height: .32rem; border-radius: .18rem; display: inline-block;  padding-right: .1rem; position: relative;  overflow: hidden; z-index: 2; vertical-align: middle; margin-top: .14rem;}
.lBox:before{background:rgba(0,0,0,.5); content: ''; display: block; width: 100%; height: 100%; position: absolute;right:0; top: 0; z-index: -2;}
.lBox:after{content: ''; display: block; width: 100%; height: .5rem;position: absolute;right: 0; top: -.16rem; z-index: -1; transform: rotate(-35deg); transform-origin: right center;}
.lBox i{display: inline-block; width: .32rem; height: .32rem;  background: no-repeat center; background-size: .36rem;vertical-align: middle; margin-bottom:.02rem; }
.lBox i img{display:block; width:100%; height:100%; object-fit:cover;}
/* .lBox i img{width: 100%; height: 100%; display: block;} */
.lBox span{vertical-align: middle; font-size: .2rem; color: #fff; }
/* 等级0 */
.lBox.level_0 span{color: #999; position: relative;z-index: 2;}
.lBox.level_0:before{background: rgba(255,255,255,.2);}
/* 等级1 */
.lBox.level_1 span{color: #4581B1;}
.lBox.level_1:before{background: rgba(171,214,255,.77);}
.lBox.level_1:after{ background: rgba(65,154,237,.15); }
/* 等级2 */
.lBox.level_2 span{color: #AB7D27;}
.lBox.level_2:before{background: #FFE291; opacity: .77;}
.lBox.level_2:after{background: #B88400; opacity: .15;}
/* 等级3 */
.lBox.level_3:before{background: #4F493D; opacity: .77;}
.lBox.level_3:after{background: #000; opacity: .15;}
/* 等级4 */
.lBox.level_4:before{background: #414A54; opacity: .77;}
.lBox.level_4:after{background: #000; opacity: .15;}
/* 等级5 */
.lBox.level_5:before{background: #171615; opacity: .77;}
.lBox.level_5:after{background: #000; opacity: .15;}
.nolevel.lBox.level_5 {padding:0 .08rem; padding-right:.14rem;}
/* 导航 */
.nav{margin: .4rem .5rem; display: flex; justify-content: space-between; margin-bottom: .7rem;}
.nav li{width: 1.2rem; text-align: center; font-size: .26rem; color: #000;}
.nav li a{display: block; position: relative;}
.nav li a i{display: block; height: 1.2rem; background: url(../images/index_4.8/soucang.png) no-repeat center; background-size: cover; }
.nav li a i.icon-manage{background-image: url(../images/index_4.8/fabu.png);}
.nav li a i.icon-order{background-image: url(../images/index_4.8/order.png);}
.nav li a i.icon-fans{background-image: url(../images/index_4.8/fans.png);}
.nav li a em{font-size: .22rem; color: #fff; padding:.02rem .08rem; border-radius: .16rem; background: #FF3B3E; line-height: .22rem; border: solid .03rem #fff; position: absolute; left: .72rem; top: .03rem;}
.nav li a span{position: absolute; top: 1.1rem; left: 0; right: 0;}

/* 账户信息 */
.acc_box{margin:0 .3rem; display: block;  border-radius: .2rem; box-shadow:0 .07rem .31rem rgba(255,28,24,0.31); padding: 0 .45rem; margin-bottom: .24rem; background:url(../images/index_4.8/bg_012.png) no-repeat center; background-size: cover;display: flex; justify-content: space-around; text-align: center; color: #fff;}
.acc_box a{display: block;color: #fff;height: 2.1rem; padding: .6rem 0;box-sizing: border-box; }
.acc_box li.line_li{width: 1px;height: .3rem;background:#fff;margin-top: .9rem;opacity: .3}
.acc_box h3{font-size: .52rem; font-weight: 600; line-height: 1.1em;}
.acc_box p{font-size: .24rem; }

/* 游戏按钮 */
.gbox{margin: 0 .3rem; background: #fff; height: 1.2rem; border-radius: .16rem; box-shadow:0 .05rem .23rem  rgba(0, 0, 0, 0.09); margin-bottom: .3rem; overflow: hidden; padding: 0 .16rem 0 .3rem; text-align: center;}
.gbox a{display: inline-block; width: 49%; padding: .1rem 0; position: relative; text-align: left;}
.gbox .l_link:before{content: ''; display: block; width: .02rem; height: .5rem; background: #EBEBED;  right: 0; top: .35rem; position: absolute;}
.gbox .link_icon{float: right; width: 1.2rem; height: 1rem;}
.gbox .l_link .link_icon {margin-right: .1rem;}
.gbox .r_link .link_info {padding-left: .2rem;}
.gbox .link_icon img{width: 100%; height: 100%; object-fit: cover;}
.gbox h4{font-size: .28rem; color: #000; padding-top: .12rem; font-weight: 600; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.gbox p{font-size: .24rem; color: #FF523B; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.gbox p:after{content: ''; display: inline-block; width: .2rem; height: .2rem; background: url(../images/index_4.8/r_arr1.png) no-repeat center; background-size: cover; margin-left: .04rem; vertical-align: middle; margin-bottom: .04rem;}

/* 功能组 */
.func_box{border-radius: .2rem;box-shadow:0 .03rem .17rem rgba(0, 0, 0, 0.05); box-sizing: border-box; padding:.3rem 0; margin: 0 .3rem; background: #fff; margin-bottom: .2rem; position: relative; z-index: 2;}
.func_box ul{margin: 0 .2rem}
.func_box li{float: left; width:25%; text-align: center; color: #6A6D80; font-size: .26rem; margin: .1rem 0;}
.func_box li a{display: block;}
.func_box li i{display: block; width: .8rem; height: .8rem; margin: auto; background: url(../images/index_4.8/hehuo.png?v=10) no-repeat center; background-size: cover;}
.func_box li i.icon-quan{background-image: url(../images/index_4.8/quan.png?v=10);}
.func_box li i.icon-shang{background-image: url(../images/index_4.8/dashang.png?v=10);}
.func_box li i.icon-hb{background-image: url(../images/index_4.8/hongbao.png?v=10);}
.func_box li i.icon-tel{background-image: url(../images/index_4.8/kefu.png?v=10);}
.func_box li i.icon-security{background-image: url(../images/index_4.8/account.png?v=10);}
.func_box li i.icon-app{background-image: url(../images/index_4.8/xiazai.png?v=10);}
.func_box li i.icon-yaoqing{background-image: url(../images/index_4.8/yaoqing.png?v=10);}
.func_box li i.icon-address{background-image: url(../images/index_4.8/address.png?v=10);}
.new_quan i{position: relative;}
/* .new_quan i:after{content: ''; display: block; width: .14rem; height: .14rem; background: #F24D38; position: absolute; right: -.04rem; top: .08rem; border-radius: 50%;} */
/* 签到 */
.qd_box{color: #FFAA21; font-size: .26rem; margin: 0 .3rem; padding-left: .3rem; padding-right: .2rem; border-radius: .42rem; background: #FFF8ED; display: flex; justify-content: space-between; line-height: .84rem; margin-top: .2rem;}
.qd_box a{color: #FFAA21; font-size: .24rem; display: inline-block; width: 1.1rem; height: .48rem; border-radius: .3rem; border: solid 1px #FFDBA1; text-align: center; line-height: .48rem; margin-top: .18rem; font-weight: 600;}
.qd_box span{vertical-align: middle; font-weight: 600;}
.qd_box span:before{content: ''; display: inline-block; width: .6rem; height: .6rem; background: url(../images/index_4.8/daka.png) no-repeat center; background-size: cover; vertical-align: middle; margin-right: .12rem; margin-bottom: .06rem;}

/* 模块 */
.card_nav{padding-left: .3rem; height: .56rem; overflow: hidden; padding-top: .2rem;}
.card_nav ul,.fixedtop ul{white-space: nowrap; overflow: auto; }
.fixedtop.show ul{line-height: 1rem;}
.card_nav ul::-webkit-scrollbar,.fixedtop ul::-webkit-scrollbar{display: none;}
.card_nav ul li,.fixedtop ul li{display: inline-block; color: #3B3D4D; font-size: .26rem; line-height: .54rem; padding: 0 .26rem; border-radius: .28rem;}
.card_nav ul li.active,.fixedtop ul li.active{background:linear-gradient(45deg,rgba(255,60,54,1) 0%,rgba(255,82,90,1) 100%); color: #FFF; font-weight: 600;}

/* 卡片 */
.card_content dl{background: #fff; border-radius: .2rem; box-shadow:0 .03rem .17rem rgba(0, 0, 0, 0.05); margin: 0 .3rem; margin-top: .24rem;}
.card_content dt {padding: 0 .26rem; line-height: .9rem;height:.9rem; overflow:hidden; border-bottom: solid 1px #f5f5f7; position: relative;}
.card_content dt .more_btn{position: absolute; font-size: .26rem; color: #6A6D80; top: 0; right: .26rem;}
.card_content dt .more_btn:after{content: ''; display: inline-block; width: .2rem; height: .2rem; background: url(../images/index_4.8/r_arr2.png) no-repeat center; background-size: cover; margin-left: .08rem;}
.card_content dt h3{font-size: .3rem; color: #000; font-weight: 600; line-height:1rem;}
.card_content dt .m_home{color: #999; font-size: .24rem; line-height: .26rem; padding: 0.07rem .16rem; padding-right: .1rem; border-radius: .3rem; background: #EBEBED; font-weight: normal; margin-left: .16rem; vertical-align: middle; margin-bottom:.02rem; display:inline-block; }
.card_content dt .m_home:after{content: ''; display: inline-block; width: .2rem; height: .2rem;background: url(../images/index_4.8/arr-r.png) no-repeat center;  background-size: cover; vertical-align: middle; margin-bottom: .04rem;}
.card_content dd{padding: .2rem 0; padding-bottom: .3rem; margin: 0 .2rem}
.card_content dd .m_div{float: left; text-align: center; width: 25%;}
.card_content dd .m_div a{display: inline-block; font-size: .26rem; color: #6A6D80; padding: .1rem; }
.card_content dd .m_div a:active{background: #f5f5f5;}
.card_content dd .m_div i{display: block; width: .64rem; height: .64rem; margin: auto; margin-bottom: .08rem; position: relative;}
.card_content dd .m_div  img{display: block; width: .64rem; height: .64rem; object-fit: cover; }
.card_content dd .m_div.new_tip i:after{content: ' '; display: block; width: .14rem; height: .14rem; border-radius: 50%; background: #FF523B; position: absolute; top: -.04rem; right: -.04rem;}
/* 房产独有 */
.card_content dd .jjr_box,.card_content dd .hl_box {clear: both;margin: .2rem .3rem; height: .84rem; border-radius: .42rem; background: #F3F3F5; padding-left: .1rem; padding-right: .2rem; margin-bottom: 0; display: block;}
.card_content dd .jjr_box span,.card_content dd .hl_box span{font-size: .26rem; font-weight: 600; line-height: .84rem; float: left;}
.card_content dd .jjr_box span:before,.card_content dd .hl_box span:before{content: ''; display: inline-block; width: .8rem; height: .64rem; background: url(../images/index_4.8/item.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-right: .14rem;}
.card_content dd .jjr_box em,.card_content dd .hl_box em{float: right;background:linear-gradient(90deg,rgba(59,147,255,1) 0%,rgba(33,107,255,1) 100%); line-height: .5rem; border-radius: .25rem; color: #fff; font-size: .24rem; width: 1.5rem; text-align: center; margin-top: .16rem;}
.card_content dd .hl_box em{background: #fff; color: #FF3460;}
.card_content dd .hl_box {background:linear-gradient(90deg,rgba(255,101,122,1) 0%,rgba(255,41,91,1) 100%);box-shadow:0 .05rem .21rem 0 rgba(255,0,53,0.23);}
.card_content dd .hl_box span{color: #fff;}
.card_content dd .hl_box span:before{background-image: url(../images/index_4.8/item1.png);}

.manage_card{display: block; width: 2.5rem; margin: auto; line-height: .52rem; background: #E1E1E3; text-align: center; border-radius: 26rem; margin: .3rem auto; position: relative;}
.manage_card:before,.manage_card:after{content: ''; width: 1.3rem; height: 1px;position: absolute;top: .27rem ; background: #DCDCDE;}
.manage_card:before{left: 2.7rem}
.manage_card:after{right: 2.7rem;}

/* 其他模块 */
.other_mod{margin: .3rem; margin-top: .4rem;background:#fff; box-shadow:0 .03rem .17rem rgba(0, 0, 0, 0.05);border-radius:.2rem; padding:.4rem .2rem; margin-bottom: .24rem;}
.other_mod h2{font-size: .3rem; color: #000; font-weight: 600; padding-left: .1rem; margin-bottom: .3rem;}
.mod_ul li{float: left; width: 25%;text-align: center; margin: .28rem 0;}
.mod_ul li a{display: inline-block; text-align: center; color: #6A6D80; font-size: .26rem;}
.mod_ul li img{width: .8rem; height: .8rem; object-fit: cover; display: block;margin: auto; margin-bottom: .12rem;}

/* 入驻商家 */
.align_box{margin: 0 .3rem; height: 2.6rem; border-radius: .2rem; background:linear-gradient(90deg,rgba(237,205,159,1) 0%,rgba(201,162,127,1) 100%); margin-bottom: .64rem;}
.align_box .align_tip{border-radius: .2rem; height: 2rem; background:#000 url(../images/index_4.8/bg_align.png) no-repeat center; background-size: cover; color: #FFD797; box-sizing: border-box; padding-top: .44rem;}
.align_box .align_tip h2{font-size: .32rem; text-align: center; font-weight: 600;}
.align_box .align_tip  a{display: block; margin: auto; width: 1.5rem;line-height: .54rem; color: #FFD797; text-align: left; font-size: .24rem; border: solid .02rem #FFD797; box-sizing: border-box; border-radius: .3rem; margin-top: .22rem; padding-left: .34rem;}
.align_box .align_tip a:after{content: ''; display: inline-block; width: .2rem; height: .2rem; background: url(../images/index_4.8/r_arr3.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-left: .08rem;}
.hui_tip{color: #313233; font-size: .22rem; line-height: .6rem; padding: 0 .14rem;}
.hui_tip em{font-weight: 600; margin-right: .2rem;}
.hui_tip:before{content: ''; display: inline-block; width: .36rem; height: .36rem; background: url(../images/index_4.8/laba.png) no-repeat center; background-size: cover; margin-right: .06rem; vertical-align: middle; margin-bottom: .04rem;}

/*管理功能卡片 弹出层*/
.manage-mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #000; opacity: .5; z-index: 999; display: none;}
.manage-mask.show{display: block;}
.manage-alert{position: fixed;bottom: constant(safe-area-inset-bottom);left: 0; right: 0;background: #fff;border-radius: .3rem .3rem 0 0;z-index: 1000;overflow: hidden;bottom: -200%;}

.manage-alert .alert-top{padding: .27rem .5rem .25rem .4rem;background: #F5F5F7;display: flex;align-items: center;justify-content: space-between;}
.manage-alert .alert-top img.close_alert{width: .48rem;height: .48rem;}
.manage-alert .alert-top h2{font-size: .3rem;color: #000;font-weight: bold;}
.manage-alert .alert-top span.finish{font-size: .3rem;color: #2081F7; font-weight: bold;}
.manage-alert .manage-con{max-height: 10rem;overflow-y: auto; padding-bottom: 1rem;}
.manage-alert .add-tip{padding: .3rem .34rem;font-size: .24rem;color: #999999}
.manage-alert .noadd-tip{padding: .26rem .33rem;font-size: .24rem;color: #999999;background: #F5F5F7}
/*.manage-alert .no-add{padding-bottom: .5rem}*/
.manage-alert ul{padding: 0 .3rem; }
.manage-alert li{padding: .33rem .2rem;font-size: .3rem;color: #212121;border-bottom: 1px solid #f5f5f7}

.manage-alert li i{display: inline-block;width: .4rem;height: .4rem;margin-right: .18rem;vertical-align: top;margin-top: 2px}
.manage-alert .has-add li i{background: url('../images/index_4.8/del-icon.png'); background-size: cover;}
.manage-alert .no-add li i{background: url('../images/index_4.8/add-icon.png'); background-size: cover;}
.manage-alert .has-add s{display: inline-block;width: .64rem;height: .64rem;box-shadow:0px 1px 7px 0px rgba(0,10,30,0.11);border-radius: .08rem;float: right;    vertical-align: top;margin-top: -4px; position: relative; overflow: hidden;}
.manage-alert .has-add li:nth-child(1) s.sort-up:after,.manage-alert .has-add li:last-child s.sort-down:after{display: block; width: 100%; height: 100%; background: rgba(0,0,0,.13); position: absolute; left: 0; top: 0; right: 0; bottom: 0; content: '';}
.manage-alert .has-add li:nth-child(2) s.sort-up:after,.manage-alert .has-add li:nth-last-child(2) s.sort-down:after{display: none;}
.manage-alert .has-add s.sort-down{background:#fff url('../images/index_4.8/sort-down.png') no-repeat center center;background-size: .4rem .4rem;}
.manage-alert .has-add s.sort-up{background:#fff url('../images/index_4.8/sort-up.png') no-repeat center center;margin-right: .18rem;background-size: .4rem .4rem;}
.fixedtop{position: fixed;top:0;left:0;right:0;background: #fff;display: none;transition: all .3s; box-sizing: border-box;  padding-left: .3rem; box-shadow:0 .03rem .13rem 0 rgba(0, 0, 0, 0.05); z-index:10;}
/* .huoniao_iOS .fixedtop {padding-top: 30px} */
.huoniao_iOS.wx_miniprogram .fixedtop {padding-top: 0;}


/*新增*/
.huoniao_iOS  .fixedtop .top_box1 {padding-top: calc(50px); display: block;}
.huoniao_iOS.wx_miniprogram .fixedtop .top_box1{display:none;}
.fixedtop .top_box1 {display: none;}
.fixedtop .top_box1  .right_link{width: .44rem; height: .44rem;}
.fixedtop .top_box1{text-align: center; font-size: .28rem;     padding: .2rem .34rem;}
.fixedtop .top_box1 .nickname{font-weight: bold; display: inline-block; line-height: .44rem; max-width: 3rem; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; font-size:.3rem; font-weight:normal;}
/*.fixedtop ul{ padding:.2rem 0;}*/

/*消息提示*/
.dialog_top, .dialog_msg .bg, .phone_msg .bg {position: fixed;left:0;top:0;right:0;bottom:0;z-index: 10000;}
.dialog_msg .bg, .phone_msg .bg {background: rgba(0,0,0,.5);z-index: 1;}
.dialog_msg .box, .phone_msg .box {position: fixed;left:50%;bottom:2rem;transform:translate(-50%, -50%);border-radius:.05rem;z-index: 9999;font-size: .28rem;text-align: center;overflow: hidden;background-color: rgba(0,0,0,.7); color: #fff; padding: .1rem .3rem;}


.ruzhu.fn-hide{display:none;}
.ruzhu{display: inline-block; width: .88rem; height: .98rem; background: url('../images/index_4.8/top_right.png') no-repeat center; background-size: auto .4rem; vertical-align: middle; margin-bottom: .04rem;}
.card_nav .ruzhu{ height: .56rem;}
.fixedtop.show{display: block;}
.huoniao_iOS .fixedtop.show {padding-top: 25px;}
/* .huoniao_Android .fixedtop.show {padding-top: 0!important;} */
.slide-top {
	-webkit-animation: slide-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-bottom {
	-webkit-animation: slide-bottom 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          display: block;
}
.slide-out-top {
  -webkit-animation: slide-out-top 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          animation: slide-out-top 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          display: block;
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-.8rem);
            transform: translateY(-.8rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-.8rem);
            transform: translateY(-.8rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-.8rem);
            transform: translateY(-.8rem);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-.8rem);
            transform: translateY(-.8rem);
    opacity: 0;
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1.12rem);
            transform: translateY(-1.12rem);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1.12rem);
            transform: translateY(-1.12rem);
  }
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(1.12rem);
            transform: translateY(1.12rem);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(1.12rem);
            transform: translateY(1.12rem);
  }
}
