body{padding-bottom: 1rem;}
.topbox{width: 100%; position: relative;}
.topbox img{display: block; width: 100%;}
.amount_box{display: flex; align-items: center; justify-content: space-between; position: absolute; left: 0; right: 0; top: .45rem; padding: 0 .3rem;}
.amount_box h5{color: #fff;}
.amount_box h5 em{font-size: .24rem;}
.amount_box h5 span{position: relative; font-family: moneyNumber; font-size: .6rem;}
.amount_box h5 span s {text-decoration: none; font-size: .2rem; position: absolute; white-space: nowrap; left: 100%; top: 0;}
.amount_box p{font-size: .24rem; color: #fff; opacity: .7;}
.amount_box .tx_btn{line-height: .68rem; min-width: 1.76rem; border-radius: .34rem; background-color: #fff; color: #FF613B; text-align: center;}
.allCount{margin: 0 .3rem; height: 1.58rem; background-color: #fff; border-radius: .3rem; box-shadow: -.01rem .05rem .45rem 0 rgba(0, 0, 0, 0.08); margin-top: -.94rem; position: relative; display: flex; align-items: center; justify-content: center; margin-bottom: .3rem;}
.allCount>div{ width: 50%; display: flex; align-items: center; text-align: center; flex-direction: column; justify-content: center;}
.allCount::before{content: ''; display: block; width: 1px ; height: .7rem; background-color: #eee; position: absolute; left: 0; right: 33%; top: 0; bottom: 0; margin: auto;}
.allCount::after{content: ''; display: block; width: 1px ; height: .7rem; background-color: #eee; position: absolute; left: 33%; right: 0; top: 0; bottom: 0; margin: auto;}
.allCount h5 span{font-size: .48rem; color: #000; font-family: moneyNumber;}
.allCount p{color: #999; font-size: .26rem;}

.listBox{margin: 0 .3rem; background-color: #fff; min-height: 2rem;box-shadow: -.01rem .05rem .45rem 0 rgba(0, 0, 0, 0.08);border-radius: .3rem;}
.listBox dt{border-bottom: solid 1px #f5f5f7; line-height: 1.12rem; display: flex; align-items: center; justify-content: space-around; font-size: .28rem; color: #999; position: relative;}
.listBox dt .curr{font-size: .34rem; color: #000; font-weight: bold;}
.listBox dt::before{content: ''; display: block; width: 1.24rem; height: .08rem; background-color: #FF5A3C; position: absolute; bottom: 0; left: 1.12rem; transition: left .2s;}
.txShow.listBox dt::before{left: 4.58rem;}
.listBox .recordList ul{padding: .14rem 0;}
.listBox .yq_record li{display: flex; align-items: center; justify-content: space-between; padding: .2rem .3rem;}
.listBox .tx_record li a{display: flex; align-items: center; justify-content: space-between; padding: .2rem .3rem;}
.listBox .recordList li .mcount{color: #FF5A3C; font-size: .24rem;}
.listBox .recordList li .mcount span{font-size: .36rem; font-weight: bold;}
.listBox .recordList li .left_box{display: flex; align-items: center;}
.listBox .recordList li .head_img{width: .8rem; height: .8rem; border-radius: 50%; background-color: #f5f5f5; margin-right: .16rem; }
.listBox .recordList li .head_img img{display: block; width: 100%; height: 100%; object-fit: cover;}
.listBox .recordList li .userinfo h5{font-size: .28rem; font-weight: bold;}
.listBox .recordList li .userinfo p{color: #999; font-size: .22rem; margin-top: .06rem; }
.loading{font-size: .26rem; text-align: center; color: #999; padding: .6rem;}
