body{padding-bottom: 0 !important;}

.container .partone{position: relative;z-index: 1;}
.container .imgbox img{display: block; width: 100%;}
.container .partone .guize{font-size: .24rem; color: #fff; background-color: rgba(232, 62, 0, .3); line-height: .5rem; border-radius: .25rem 0 0 .25rem; display: block; padding-left: .2rem; padding-right: .16rem; position: absolute; right: 0; top: .2rem; z-index: 3;}
.container .partone .ptitle{position: absolute; text-align: center; left: 0; right: 0; top: .32rem;}
.container .partone .ptitle h4,.container .partone .ptitle h2{ background: linear-gradient(180deg, #FFFDFE 0%, #FFE3E2 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent; font-weight: bold; position: relative; z-index: 2;  font-family: source;}
.container .partone .ptitle .title_sm{position: relative; font-size: .68rem;}
.container .partone .ptitle span{display: block; position: absolute; left: 0; right: 0; top: 0; color: #fff;text-shadow: 0 .1rem .08rem rgba(203, 114, 32, 0.72); color: #fff;  font-weight: bold;  font-family: source;}

.container .partone .ptitle .title_l{font-size: .94rem; text-align: center; font-weight: bold; position: relative; margin-top: -.3rem;}
.container .partone .content{position: absolute; left: 0; right: 0; top:2.4rem; margin: auto; text-align: center; padding-top: .5rem; height: 5rem; box-sizing: border-box;}
.container .partone .content .yq_tip{color: #AC6D60; font-size: .26rem; }
.container .partone .content .yq_tip span{color: #EF4A39;}
.container .partone .content h1{font-size: .6rem; color: #EF4A39;  font-weight: bold; margin-top: .1rem; margin-bottom: .05rem;}
.container .partone .content h1 b{font-size: 1.1rem; font-family: moneyNumber; font-weight: bold;}
.container .partone .content p.fl_tip{color:  #AC6D60; font-size: .26rem; width: 2.7rem; line-height: .5rem; background-color: rgba(255, 121, 54, .1) ; margin: auto; border-radius: .25rem; margin-top: -.06rem;}
.container .partone .content p.tip{color: #fff; font-size: .26rem; text-align: center; position: absolute; left: 0; right: 0; bottom: .46rem; width: 3.24rem; line-height: .58rem; border-radius: .29rem; box-sizing: border-box; margin: auto; border: solid 1px #fff; display: flex; align-items: center; justify-content: space-evenly; font-weight: bold;}
.container .partone .content p.tip::before,.container .partone .content p.tip::after{content: ''; display: block; width: .15rem; height: .15rem; background-color: #fff; transform: rotate(45deg);}
.container .partone .btns{ position: absolute; left: 0; right: 0; bottom: .12rem;}
.container .partone .btns .invite_btn{display: block; width: 6.2rem; height: .9rem; border-radius: .45rem; background: linear-gradient(0deg, #F87B00 0%, #FDF682 100%); box-shadow: 0 .12rem .2rem 0 rgba(205, 20, 0, 0.47); text-align: center; color: #C32E18; margin: auto ; font-size: .4rem; font-weight: bold; line-height: .72rem; position: relative;}
.container .partone .btns .invite_btn.endhuodong{background: linear-gradient(0deg, #7B7B7B 0%, #C7C8C7 100%);box-shadow: 0 .12rem .2rem 0 rgba(205, 20, 0, 0.47); color: #fff;}
.container .partone .btns .invite_btn.endhuodong::before{background: linear-gradient(0deg, #959595 0%, #DADADA 100%);}
.container .partone .btns .invite_btn span{position: relative; z-index: 1;}
.container .partone .btns .invite_btn::before{content: ''; width: 6.2rem; height: .9rem; border-radius: .45rem;background: linear-gradient(0deg, #F2A435 0%, #FFF098 100%); display: block; position: absolute; bottom: .09rem;}
.container .partone .btns .poster_btn{display: flex; align-items: center; justify-content: center; color: #FFE482; font-size: .28rem; margin-top: .26rem;}
.container .partone .btns .poster_btn::before{content: '';display: block; width: .36rem; height: .36rem; background: url(../images/yaoqing/code.png) no-repeat center/.36rem; margin-right: .24rem;}

.container .parttow{height: 9.94rem;background: linear-gradient(0deg, #EB1D2B 0%, #FF593D 100%); box-sizing: border-box; padding-top: .35rem;}

.container .parttow dl{margin: 0 .37rem; min-height: 3.34rem; border-radius: .34rem; background-color: #FDF8F7; box-shadow: .01rem .01rem .3rem .01rem rgba(230, 127, 36, 0.4) inset; padding: .44rem; box-sizing: border-box; margin-bottom: .5rem;}
.container .parttow dl dt{font-size: .32rem; color: #983D27; font-weight: bold; display: flex; align-items: center; justify-content: center;}
.container .parttow dl dt::before,.container .parttow dl dt::after{content: ''; display: block; width: .44rem; height: .24rem; background: url(../images/yaoqing/l_icon.png) no-repeat center/cover; margin: 0 .2rem;}
.container .parttow dl dt::after{background-image: url(../images/yaoqing/r_icon.png);}
.container .parttow dl .link_box {display: flex; align-items: center; justify-content: space-around; margin-top: .5rem; position: relative;}
.container .parttow dl .link_box a{display: block; text-align: center;}
.container .parttow dl .link_box h6{color: #000;}
.container .parttow dl .link_box h6 span{font-size: .4rem; font-family: moneyNumber;}
.container .parttow dl .link_box::after{content: ''; display: block; width: 1px; height: .54rem; background-color: #ddd; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;}
.container .parttow dl .link_box p{font-size: .24rem; font-weight: 500; color: #999;}
.container .parttow dl .tx_btn{display: block; width: 6rem; height: .88rem; border-radius: .44rem;background: linear-gradient(0deg, #F34F36 0%, #FF7632 100%);box-shadow: /* 0 .1rem .44rem .05rem rgba(226, 54, 40, 0.84) */ 0 0.2rem 0.44rem 0.05rem rgb(226 54 40 / 60%); font-size: .36rem; font-weight: bold; color: #fff; text-align: center; line-height: .88rem; margin-top: .6rem;}

.container .parttow dl .stepbox img{width: 1.06rem; display: block; margin: auto;}
.container .parttow dl .stepbox p{font-size: .26rem; text-align: center; color: #AC6D60; margin-top: .1rem;}
.container .parttow dl.jlbox dd{display: flex; align-items: center; justify-content: space-between; margin-top: .5rem; }
.container .parttow dl.jlbox .arrbox{width: .58rem; height: .2rem; background: url(../images/yaoqing/arr.png) no-repeat center/cover; margin-bottom: .3rem;}
.container .parttow .tip{font-size: .24rem; color: #FFA99C; text-align: center; margin-top: .6rem;}


.html2_mask{position: fixed; left: 0 ;right: 0 ; top: 0 ; bottom: 0; background-color: rgba(0,0,0,.8); z-index: 100001; }
.pop_box{position: fixed; left: 0; width: 5.3rem; height: 9rem; right: 0; top: 0; bottom: 0; margin: auto; z-index: 100002; display: none ; animation: bottomFadeIn .3s ease-out;}
.pop_box .poster_box{width: 5.3rem; height: 7.28rem; border-radius: .3rem; background-color: #fff; overflow: hidden;}
.pop_box .poster_box img{display: block; width: 100%;  object-fit: cover;}
.pop_box  .text{color: #fff; font-size: .28rem; text-align: center;  padding-top: .3rem;}
.pop_box .text a{display: block; width: .5rem; height: .5rem; background:url(../images/qiandao/close.png) no-repeat center/cover; margin: auto; margin-top: .3rem;}
.pop_box.show{display: block;}
.html2ImgBox{position: fixed; left: 0; top: 0; z-index: -2; opacity: 0;}
.html2ImgBox .html2_con{width: 100vw; position: relative; }
.html2ImgBox .html2_con .bg_box{width: 100%;}
.html2ImgBox .html2_con .bg_box img{display: block; width: 100%;}
.html2ImgBox .html2_con .share_con{position: absolute;top: 0; left: 0; right: 0; padding-top: .4rem;}
.user_info{display: flex; align-items: center; justify-content: center;  font-size: .28rem; color: #fff;}
.user_info p{max-width: 3rem ; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.uphone{width: .64rem; height: .64rem; background-color: #fff;  box-sizing: border-box; border-radius: 50%; overflow: hidden; border: solid 1px #fff;margin-right: .2rem;}
.uphone img{display: block; width: 100%; height: 100%; object-fit: cover;}
.html2ImgBox .html2_con .title_con{margin-top: .16rem;}
.html2ImgBox .html2_con .title_con h4,.html2ImgBox .html2_con .title_con h2{text-shadow: 0 .06rem 0 rgba(245, 73, 59, 0.84); font-size: .72rem; text-align: center;color: #FFF3F3; font-family: source; font-weight: bold;}
.html2ImgBox .html2_con .title_con h2{font-size: 1rem; margin-top: -.3rem;}
.html2ImgBox .html2_con .qrcode{width: 2.8rem; height: 2.8rem; border-radius: .2rem; background-color: #fff; box-sizing: border-box; position: absolute; left: 0; right: 0; margin: auto; top: 4.56rem;}
.html2ImgBox .html2_con .qrcode .qrimg{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .2rem; }
.scan_tip{color: #FFE4C9; font-size: .36rem; text-align: center; position: absolute; left: 0; right: 0; top: 8.6rem;}

.guestsBox.container .partone .guize{background-color: rgba(0,0,0,.2);}
.guestsBox.container .partone .ptitle{top: .26rem;}
.container.guestsBox .partone .ptitle h4, .container.guestsBox .partone .ptitle h2{
background: linear-gradient(180deg, #FFFDFE 0%, #FFE3E2 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.container.guestsBox .partone .ptitle span{text-shadow: 0 .06rem 0 rgba(245, 73, 59, 0.84);}
.container.guestsBox .partone .hbcon{position: absolute; left: 0; right: 0; top: 3.8rem; height: 4rem; text-align: center; box-sizing: border-box; padding-top: .38rem;}
.container.guestsBox .partone .hbcon h1{color: #E83321;font-size: .6rem; padding-right: .2rem;}
.container.guestsBox .partone .hbcon h1 span{font-size: 1.2rem; font-weight: bold; font-family: moneyNumber;}
.container.guestsBox .partone .hbcon p{color: #BA673C; text-align: center; margin-top: -.12rem;}
.container.guestsBox .tip{color: #fff; font-size: .26rem; text-align: center; position: absolute; left: 0; right: 0; bottom: .46rem; width: 3.24rem; line-height: .58rem; border-radius: .29rem; box-sizing: border-box; margin: auto; border: solid 1px #fff; display: flex; align-items: center; justify-content: space-evenly;}
.container.guestsBox .tip::before,.container.guestsBox .tip::after{content: ''; display: block; width: .15rem; height: .15rem; background-color: #fff; transform: rotate(45deg);}
.container.guestsBox .regist{position: absolute; left: 0; right: 0; top: 8.42rem;}
.container.guestsBox .regist>h4{font-size: .36rem; text-align: center; color: #fff; font-weight: bold;}
.container.guestsBox .regist .areacode{display: block; width: 1.4rem; box-sizing: border-box; height: .32rem; border-right: solid 1px #ddd; font-size: .26rem; color: #666; box-sizing: border-box; padding-right: .34rem; text-align: center; position: relative;}
.container.guestsBox .regist .areacode:after{content: ''; display: block; width: .22rem; height: .22rem; background: url(../images/yaoqing/arrd.png) no-repeat center/cover; position: absolute; right:.12rem  ; top: 0; bottom: 0; margin: auto; }
.container.guestsBox .regist form{ margin-top: .72rem;}
.container.guestsBox .regist .inpbox{width: 6.1rem;  margin: auto; display: flex; align-items: center; justify-content: space-between; margin-bottom: .3rem;}
.container.guestsBox .regist .inpbox.inp{justify-content: flex-start;}
.container.guestsBox .regist .inp{background-color: #F1F1F1; height: .8rem; border-radius: .4rem; display: flex; justify-content: center; min-width: 3.7rem;}
.container.guestsBox .regist input{background: none; border: none; padding-left: .15rem; font-size: .26rem;}
.container.guestsBox .regist .getyzm{width: 2.2rem; text-align: center; height: .8rem; line-height: .8rem; color: #FF573D; font-size: .26rem; border-radius: .4rem; background-color: #FFEBE0;}
.container.guestsBox .regist .btn_box{height: 3.4rem; width: 100%; position: relative;  background: url(../images/yaoqing/btn_bg.png) no-repeat center/cover; box-sizing: border-box; padding-top: 1.56rem; pointer-events: none; margin-top: -.42rem;}
.container.guestsBox .regist .btn_box .submit_btn{pointer-events: all;}
.container.guestsBox .regist .btn_box .submit_btn,.pop_success .btn_success{width: 6.2rem; height: .9rem; border-radius: .45rem; display: block; margin: auto; font-size: .4rem; color: #C32E18; font-weight: bold; text-align: center; line-height: .78rem; position: relative; z-index: 2;background: linear-gradient(0deg, #F87B00 0%, #FDF682 100%);box-shadow: 0 .12rem .2rem 0 rgba(205, 20, 0, 0.47); }
.container.guestsBox .regist .btn_box .submit_btn span,.pop_success .btn_success span{position: relative; z-index: 1;}
.container.guestsBox .regist .btn_box .submit_btn::after,.pop_success .btn_success:after{content: ''; width: 100% ; height: 100%; border-radius: .45rem;position: absolute; left: 0; right: 0; bottom: .09rem; background: linear-gradient(0deg, #F2A435 0%, #FFF098 100%); }
.container.guestsBox .regist .btn_box p{color: #CA3C2A; font-size: .24rem;margin-top: .36rem; text-align: center; pointer-events: all;}
.container.guestsBox .regist .btn_box p a{color: #FCD261;}
.container.guestsBox {background-color: #FF573D; position: relative; /* padding-bottom: .3rem; */}
.container.guestsBox:after{content: ''; height: .6rem; background-color: #FF573D; position: absolute; bottom: 0; left: 0; right: 0; z-index: 4;}
/* 注册成功弹出层 */
.mask{position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 100002; background: rgba(0,0,0,.8); display: none;}
.pop_success{width:6.09rem; height: 6rem; background: url(../images/yaoqing/reg.png) no-repeat center/cover;position: fixed; left: 0; right: 0; top: 0; bottom: 0; margin: auto; z-index: 100003; display: none; animation: bottomFadeIn .3s ease-out;;}
.pop_success .close_btn{width: .6rem; height: .6rem; background: url(../images/yaoqing/close.png) no-repeat center/.6rem; position: absolute; left: 0; right: 0; margin: auto; bottom: -1.12rem;}
.pop_success .success{padding-top: 2.6rem;}
.pop_success .success h4{font-size: .48rem; font-weight: bolder; font-family: source;text-shadow: 0 .06rem .08rem rgba(158, 15, 32, 0.15);background: linear-gradient(0deg, #F6E39C 0%, #FCF4CF 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent; text-align: center;}
.pop_success .success .btn_success{display: block; width: 3.85rem; height: .85rem; border-radius: .42rem; margin-top: .62rem; line-height: .7rem; font-size: .36rem;}
.pop_success .success p{text-align: center; font-size: .3rem; font-weight: 800;
text-shadow: 0 .06rem .08rem rgba(158, 15, 32, 0.15);background: linear-gradient(0deg, #F6E39C 0%, #FCF4CF 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}

/* 公众号 */
.gzh_box.html2ImgBox{user-select: none;}
.gzh_box.html2ImgBox .title_con{position: absolute; left: 0; right: 0 ; top: 7%;}
.gzh_box.html2ImgBox .gzhQr{ margin: auto; position: absolute; left: 0; right: 0; top: 37.4%;}
.gzh_box.html2ImgBox .gzhQr .qrimg{width: 3.76rem; height: 3.76rem; border-radius: .2rem; overflow: hidden; margin: auto;}
.gzh_box.html2ImgBox .gzhQr img{width: 100%; height: 100%; object-fit: cover;}
.gzh_box.html2ImgBox .gzhQr p{color: #FFE4C9; font-size: .3rem; text-align: center; margin-top: .24rem;}
.gzh_box.html2ImgBox  .mh_name{color: #FFE4C9; font-size: .3rem; text-align: center; position: absolute; bottom: .36rem; left: 0; right: 0;}

.gzh_pop.pop_box{position: static; width: 100%; height: auto; animation: none;}
.gzh_pop.pop_box .poster_box{width: 100%; height: auto; border-radius: 0;}



/* 底部弹出 */
.pop_mask,.popl_mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.57); z-index: 11; display: none;}
.popl_mask{z-index: 12;}
.popl_box{background-color: #fff; position: fixed; bottom: -9rem; left: 0; right: 0; z-index: 12; padding: 0 .24rem; border-radius: .3rem .3rem 0 0; height: 8.2rem; padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); z-index: 10000;}


/* 区号显示 */
.pop_box dl>dd .acode_show{display: inline-block; padding: .2rem; font-size: .28rem; color: #333;}
.pop_box dl>dd .acode_show::before{content: '+'; }
.pop_box dl>dd .acode_show::after{content: ''; display: inline-block; width: 0; height: 0; border: solid .1rem rgba(0,0,0,0); border-top:  solid .1rem #666; vertical-align: bottom;  margin-left: .06rem;}

.pop_box dl>dd.select,.pop_box dl>dd.option{border: none; display: flex; align-items: center; padding-left: .3rem;}
.pop_box dl>dd.select i{display: block; width: .22rem; height: .22rem; border-radius: 50%; border: solid 1px #BDC1C9; margin-right: .1rem;}
.pop_box dl>dd.select span{display: flex; align-items: center; margin-right: 1.4rem;}
.pop_box dl>dd.select span.chosed i{border: solid 1px #00BA8C; position: relative;}
.pop_box dl>dd.select span.chosed i::before{content: ''; display: block; width: .11rem; height: .11rem; border-radius: 50%; background-color: #00BA8C; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.pop_box dl>dd.textarea{height: 1.7rem; overflow: auto; box-sizing: border-box; padding: .2rem ;}
.pop_box dl>dd.textarea .txt_con{width: 100%; height: 100%; font-size: .28rem; }
.pop_box dl>dd.textarea .txt_con:empty::before{color:#BBBCC4; content:attr(placeholder);}
.pop_box dl>dd.option{display: block;}
.pop_box dl>dd.option span{display: inline-flex; align-items: center; color: #303133; font-size: .28rem; margin-right: .6rem; flex-wrap: wrap; margin-bottom: .2rem;}
.pop_box dl>dd.option span i{display: block; width: .3rem; height: .3rem; background: url(../images/chose1.png) no-repeat center; background-size: cover; margin-right: .1rem;}
.pop_box dl>dd.option span.chosed i{background-image: url(../images/chose2.png);}
.popl_box h2 .back{color: #999; font-size: .3rem; position: absolute; right: .58rem; font-weight: normal;}
.areaList,.timeList{padding-top: 1.4rem; height: 100%; box-sizing: border-box; top: 0; left: 0; right: 0; position: absolute; }
.areaList ul,.timeList ul{height: 100%; overflow: auto;}
.areaList ul li,.timeList ul li{margin: 0 .3rem; line-height: .88rem; color: #333; font-size: .3rem;  border-radius: .1rem; padding: 0 .2rem;}
.areaList ul li.achose,.timeList ul li.achose{background: #F0F0F2; font-weight: bold;}
.anum_box h2{line-height: 1.1rem; text-align: center; font-size: .34rem; color: #000; font-weight: bold; border-bottom: solid 1px #f5f5f8; position: relative; z-index: 10;}
.anum_box h2 .cancel,.pop_box h2 .back{color: #999; font-size: .3rem; position: absolute; right: .58rem; font-weight: normal;}
.anum_box h2 .back{left: .43rem; right: auto; position: absolute;  }

.mobbox{display: inline-block; width: 70%;}
.mobbox .acode_show{display: inline-block; padding: .2rem; font-size: .28rem; color: #333;}
.mobbox .acode_show::before{content: '+'; }
.mobbox .acode_show::after{content: ''; display: inline-block; width: 0; height: 0; border: solid .1rem rgba(0,0,0,0); border-top:  solid .1rem #666; vertical-align: bottom;  margin-left: .06rem;}
