.publish_live{padding: 0; padding-bottom: 2rem;}
.btn_style{position: absolute; left: 50%;top: 33%; transform: translate(-50%,50%); display: inline-block; line-height: .3rem; padding: .2rem; font-size: .28rem; background-color: #fff; border-radius: .06rem; color: #666;} 
.live_title em{ font-size: .22rem; padding: 0 .2rem; line-height: .4rem; height: .4rem; display: inline-block;  color: #fff;background: #87CC24;border-radius: .2rem; vertical-align: middle; margin-right: .1rem; margin-bottom: .04rem;}
.live_video{background: none; height: 3.88rem; position: relative; margin-top: .1rem;}
.live_litpic{height: 3.88rem;width: 100%; border-radius:.2rem ; object-fit: cover;}
.live_info{position: absolute; top: .2rem; left: .2rem;}
.live_info span{display: inline-block; line-height: .6rem; border-radius: .3rem; background-color: #fff; min-width: 1.2rem; box-sizing: border-box; padding:0 .24rem; text-align: center; margin-right: .2rem; color: #626780; font-size: .24rem; max-width: 3rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.live_info span.live_posi::before{content: ''; display: inline-block; width: .3rem; height: .3rem; background: url(../images/live/posi.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-right: .04rem;}
.module_box{border-bottom: solid .2rem #F5F5F7; padding: 0 .3rem; padding-bottom: .3rem; position: relative;}
.module_box .live_title{ color: #313233; font-size: .36rem; font-weight: bold; padding-left: .1rem;}
.module_box .live_title i{display: inline-block; width: .4rem; height: .4rem; background: url(../images/live/edit2.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem;}
.module_box .live_time h2{color: #999; font-size: .24rem; font-weight: 500;}
.module_box .live_time{margin-top: .4rem;}
.module_box .live_time p{font-size: .34rem; font-weight: bold; color: #636366; margin-top: .16rem;}
.module_box .live_time p span.live_ftime{color:#3381FF; margin-right: .3rem;}
.module_box .click{position: absolute; right: .4rem; bottom: .3rem; color: #919399; font-size: .22rem;} 
.module_box .click::before{content: ''; display: inline-block; width: .3rem; height: .3rem; background: url(../images/live/read.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-right: .06rem;}

/* 直播视频源 */
.module_box>h3{color: #000; padding-top: .3rem; font-size: .3rem;}
.module_box>h3 a{color: #3D5C99; font-size: .26rem; padding-top: .04rem;}
.module_box .url_box{background-color: #F7F7F7; border-radius: .16rem; margin-top: .26rem;}
.module_box .no_set .url_box{height: 1.7rem; box-sizing: border-box; padding-top: .4rem; }
.module_box .no_set .url_box h3{color: #000; font-size: .32rem; text-align: center; margin-bottom: .12rem;}
.module_box .url_box p{color: #999; text-align: center; font-size: .24rem; word-break: break-word; user-select: text; -webkit-user-select: text;}
.module_box .no_set .url_box p a{color: #3381FF;}
.module_box .url_auto .url_box{padding: .37rem .24rem; user-select: text;}
.module_box .url_tip{color: #999; font-size: .24rem; margin-top: .26rem;}
.module_box .url_tip::before{content: '';display: inline-block; width: .4rem; height: .4rem; background: url(../images/live/tip.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-right: .08rem;} 
.module_box .url_self .url_box>div{line-height: .99rem; font-size: .28rem;padding-left: .4rem;}
.module_box .url_self .url_box>div label{color: #636366;  }
.module_box .url_self .url_box>div.pc_url{border-bottom: solid 1px #E6E6E6;}
.module_box .url_self .url_box>div p{text-align: left; padding-left: .44rem; margin-right: .7rem; white-space: nowrap; overflow: hidden; position: relative;}
.module_box .url_self .url_box>div p:after{content: '' ; display: block; width: .12rem; height: .6rem; position: absolute; right: 0; top: 0; bottom: 0; margin: auto;background:linear-gradient(90deg,rgba(247,247,247,0) 0%,rgba(247,247,247,1) 100%);}
.module_box .url_container a.edit_url{color: #3D5C99; font-size: .26rem; position: absolute; top: .3rem; right: .3rem;}

/* 收益 */
.module_box .sy_ul{display: flex; justify-content: space-between; flex-wrap: wrap; margin-top: .25rem;}
.module_box .sy_ul li{height: 1.4rem; border-radius: .16rem; width: 3.32rem;  margin-bottom: .3rem;background: url(../images/live/ds_bg.png) no-repeat center; background-size: cover;color: #fff; padding-left: .4rem; padding-top: .26rem; box-sizing: border-box;}
.module_box .sy_ul li.gift_li{margin-bottom: .3rem;background-image: url(../images/live/gift_bg.png) ; }
.module_box .sy_ul li.fee_li{width: 100%; background-image: url(../images/live/fee_bg.png) ; margin-bottom: 0; color: #636366;}
.module_box .sy_ul li h4{font-size: .24rem;}
.module_box .sy_ul li p{margin-top: .1rem; font-weight: bold;}
.module_box .sy_ul li p em{font-size: .42rem;font-weight: bold;}
.module_box .sy_ul li.fee_li p{color: #313233;}
.module_box .sy_ul li.fee_li span{margin-right: .7rem;}

/* 付费 */
.module_box .fee_box,.module_box .psd_box{background-color: #F7F7F7; border-radius: .16rem; margin-top: .26rem;}
.module_box .fee_box>div,.module_box .psd_box>div{line-height: .99rem; font-size: .28rem;padding-left: .4rem;}
.module_box .fee_box>div label,.module_box .psd_box>div label{color: #636366;  }
.module_box .fee_box>div.live_before{border-bottom: solid 1px #E6E6E6;}
.module_box .fee_box>div p,.module_box .psd_box>div p{text-align: left; color: #636366; padding-left: .44rem; margin-right: .7rem; white-space: nowrap; overflow: hidden; position: relative;}
.module_box .fee_box>div p em,.module_box .psd_box>div p em{color: #000; font-weight: bold;}

/* 介绍 */
.module_box .instro_box{margin-top: .26rem; font-size: .26rem; color: #313233; line-height: .42rem;}
.module_box .instro_box img{max-width: 100%; border-radius: .2rem; margin-top: .1rem;}

/* 动态 */
.module_box .state_box {margin-top: .32rem;}
.module_box .state_box .left_img{width: 2.17rem; height: 1.44rem; background-color: #f5f5f7; border-radius: .08rem; margin-right: .2rem;}
.module_box .state_box .left_img img{width: 100%; height: 100%; object-fit: cover; display: block;border-radius: .08rem;}
.module_box .state_box .right_info{height: 1.44rem; position: relative;}
.module_box .state_box .right_info h5{font-size: .26rem; color: #313233; line-height: .4rem; display: -webkit-box; -webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.module_box .state_box .right_info p{color: #919191; font-size: .22rem; margin-top: .36rem;}
.module_box .state_box .btn_fabu{width: 1.6rem; height: .64rem; border-radius: .32rem; background:linear-gradient(90deg,rgba(59,147,255,1) 0%,rgba(59,124,255,1) 100%); box-shadow:0 .03rem .13rem 0 rgba(59,125,255,0.15); text-align: center; line-height: .64rem; color: #fff; font-size: .26rem; font-weight: bold; margin-top: .2rem;}
.module_box.md_state a.edit_state{color: #3D5C99; font-size: .26rem; position: absolute; top: .3rem; right: .3rem;}
.module_box.md_state .notip{font-size: .24rem; color: #919191;}
.module_box.md_state .no_state{position: absolute; bottom: .48rem; right: .3rem;}


/* 自定义 */
.module_box .menu_box{margin-top: .26rem;}
.module_box .menu_box .menu_ul {background-color: #F7F7F7; border-radius: .16rem;}
.module_box .menu_box .menu_ul li{padding: .245rem .4rem; border-bottom: solid 1px #E6E6E6;}
.module_box .menu_box .menu_ul li:last-child{border: none;}
.module_box .menu_box .menu_ul h5{color: #000; font-size: .3rem;}
.module_box .menu_box .menu_ul p{color: #7F85A0; font-size: .24rem; margin-top: .16rem;}
.module_box .menu_box .menu_ul p::before{content: ''; display: inline-block; width: .3rem; height: .3rem; background: url(../images/live/link.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-right: .14rem;} 
.publish_live .module_box:last-child{border: none !important;}
/* 底部按钮 */
.bottom_box{position: fixed; bottom: 0; left: 0; right: 0; background-color: #fff; box-shadow:0 -.07rem .23rem 0 rgba(0, 0, 0, 0.05); height: 1.2rem; overflow: hidden;padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom));}
.bottom_box ul{white-space: nowrap; overflow: auto; padding: .2rem .12rem; padding-bottom: .6rem;  }
.bottom_box li{display: inline-block; text-align: center; margin: 0 .32rem;}
.bottom_box li .icon_box{width: .48rem; height: .48rem; margin: auto; position: relative;}
.bottom_box li .icon_box img{display: block; width: 100%; height: 100%; object-fit: cover;}
.bottom_box li a {display: block;}
.bottom_box li a p{color: #636366; font-size: .22rem; font-weight: 500; }
.bottom_box li .icon_box i{display: block; position: absolute; left: .3rem; bottom: .28rem; color: #fff; border-radius: .17rem; min-width: .34rem; height: .34rem; text-align: center; box-sizing: border-box; padding: 0 .06rem; background-color: #3A86FF; font-size: .22rem; line-height: .34rem;}


.btn_live{display: block; width: 2.5rem; height: .84rem; border-radius: .42rem; background:linear-gradient(90deg,rgba(59,147,255,1) 0%,rgba(59,124,255,1) 100%); box-shadow:0 .03rem .13rem 0 rgba(59,125,255,0.15); text-align: center; color: #fff; font-size: .3rem; line-height: .84rem; font-weight: bold;}
.btn_group{position: fixed; left: 0; right: 0; margin: auto; bottom:calc(1.6rem + constant(safe-area-inset-bottom)); bottom:calc(1.6rem + env(safe-area-inset-bottom));display:flex; justify-content: center;bottom:1.6rem;}
.mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.5); z-index: 9; display: none;}
.pop_url{height: 6.8rem; background-color: #fff; position: fixed; bottom: -7rem; left: 0; right: 0; border-radius: .3rem .3rem 0 0; box-sizing: border-box; padding-top: .4rem; z-index: 9;padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); transition: bottom .3s ease-out;}
.pop_url .tab_box{margin: 0 .3rem; height: .76rem; border-radius: .16rem; width: 6.9rem; background-color: #F7F7F7; position: relative;}
.pop_url .tab_box li{float: left; width: 50%; text-align: center; line-height: .76rem; font-size: .28rem; color: #A6A7AB; position: relative; z-index: 2;}
.pop_url .tab_box li.selected{color: #000; font-weight: bold;}
.pop_url .tab_box::before{content:''; display: block; width: 3.4rem; height: .68rem; background-color: #fff; border-radius: .14rem; position: absolute; top: 0; bottom: 0; margin: auto; z-index: 0;box-shadow:0 .03rem .13rem 0 rgba(0, 0, 0, 0.07); transition: all .3s; }
.pop_url .tab_box.left_li::before{left: .04rem;}
.pop_url .tab_box.right_li::before{left: 3.44rem;}
.pop_url .tab_con .auto_box .auto_before {text-align: center; padding-top: 1.3rem;}
.pop_url .tab_con .auto_box h4{ color: #000; font-size: .32rem; text-align: center;}
.pop_url .tab_con .auto_box p,.pop_url .tab_con .self_box{color: #999; font-size: .24rem; margin-top: .12rem;text-align: center;}
.pop_url .tab_con .auto_box p a,.pop_url .tab_con .self_box a{color: #3381FF;}
.pop_url .tab_con .auto_box .tobe_url,.pop_url .tab_con .self_box .btn_tj{display: inline-block; min-width: 3.3rem; height: .8rem; border-radius: .4rem; background:linear-gradient(90deg,rgba(59,147,255,1) 0%,rgba(59,124,255,1) 100%); box-shadow:0 .03rem  .13rem 0 rgba(59,125,255,0.15); text-align: center; line-height: .8rem; color: #fff; font-size: .32rem; font-weight: bold; margin-top: .55rem;}
.pop_url .tab_con .auto_box .auto_after{padding-top: .9rem;}
.pop_url .tab_con .auto_box .auto_after .url_show{margin: 0 .3rem; font-size: .28rem; color: #666; min-height: 1.76rem; background-color: #F7F7F7; border-radius: .16rem; text-align: center; padding:.34rem .2rem ; box-sizing: border-box; margin-top: .32rem; user-select: text; -webkit-user-select: text;}
.pop_url .tab_con .auto_box .auto_after p{margin-top: .36rem;}
.pop_url .tab_con .self_box dl{margin: 0 .3rem; margin-bottom: .22rem;}
.pop_url .tab_con .self_box dl dt{color: #636366; font-size: .28rem; margin-bottom: .15rem; text-align: left;}
.pop_url .tab_con .self_box dl input{border: none; background: none; height: .76rem; padding-left: .28rem; font-size: .26rem; box-sizing: border-box; width: 100%;}
.pop_url .tab_con .self_box dl input::placeholder{color: #B3B3B3;}
.pop_url .tab_con .self_box dl dd{height: .76rem; background-color: #F7F7F7; border-radius: .16rem;}
.pop_url .tab_con .self_box{padding-top: .3rem;}
.pop_url .tab_con .self_box .btn_tj{display: block; width: 3.3rem; margin: auto; margin-top: .5rem; margin-bottom: .28rem;}

.popsure_box{position: fixed; left: 0; right: 0; top: 0; bottom: 0; display: flex; align-items: center; z-index: 11; justify-content: center; background-color: rgba(0,0,0,.5); display: none;}
.pop_sure{background-color: #fff; min-width: 5.6rem; min-height: 2.56rem; border-radius: .3rem; box-shadow:0 .07rem .37rem 0 rgba(0, 0, 0, 0.13); animation: popup .3s; overflow: hidden;}
.pop_sure h3{font-size: .32rem; font-weight: bold; text-align: center; max-width: 4.44rem; margin: auto; line-height: .4rem; margin-top: .43rem;}
.pop_sure.no_title h3{margin: auto;}
.pop_sure .pop_tip{min-height: 1.6rem; box-sizing: border-box; border-bottom: solid 1px #f5f5f7; display: flex; align-items: center; flex-direction: column; justify-content: center;}
.pop_sure .pop_tip p{text-align: center; font-size: .24rem; color: #333; margin-top: .12rem; margin-bottom: .3rem;}
.pop_sure .btn_group {position: relative; bottom: 0;}
.pop_sure .btn_group p{width: 50%; float: left; line-height: .96rem; text-align: center; font-size: .3rem; font-weight: bold; color: #000; user-select: none;}
.pop_sure .btn_group p.sure_btn{color: #3B7CFF; box-sizing: border-box; border-left: solid 1px #f5f5f7;}
.pop_sure .btn_group p:active{background-color: #f5f5f6;}


.pop_box{position: fixed; top: 20%; left: 0; right: 0; margin: auto; width: 6rem; height: 4.66rem; background: #fff; border-radius: .3rem; box-shadow:0 .07rem .37rem 0 rgba(0, 0, 0, 0.13); z-index: 100001; display: none;}
.pop_box h3{color: #313133; font-size: .32rem; text-align: center; padding-top: .6rem; font-weight: bold;}
.pop_box p{color: #626366; font-size: .26rem; text-align: center; padding-top: .2rem; font-weight: normal;}
.pop_box a.btn_go,.pop_box a.btn_live1{display: block; width: 2.8rem; height: .8rem; border-radius: .4rem; text-align: center; margin: auto; font-size: .3rem; line-height: .8rem; margin-top: .34rem;}
.pop_box a.btn_go{background:linear-gradient(90deg,rgba(58,147,255,1) 0%,rgba(58,124,255,1) 100%);
box-shadow:0 .03rem .13rem 0 rgba(59,125,255,0.15); color: #fff; margin-top: .6rem;}
.pop_box a.btn_live1{border:1px solid #f5f5f7; box-sizing: border-box; color: #191919; line-height: .78rem;}
.pop_box a.close_pop{position: absolute; top: 5.1rem; left: 0; right: 0; margin: auto; width: .72rem; height: .72rem; background: url(../images/live/live_close.png) no-repeat center ; background-size: cover; display: block; }

.popMsg .popText{transform: none !important;}
.popMsg{position: fixed; top: 50%; left: 50%; background-color: rgba(0,0,0,.7); padding:.56rem .48rem ; border-radius:.16rem; transform: translate(-50%,-50%); min-width: 1rem; text-align: center; z-index: 111;}
.popMsg p{color: #fff; font-size: .3rem; }


/* 回放开关 */
.switch_con{padding-bottom: 0;}
.switch_box{display: flex; align-items: center; justify-content: space-between; font-size: .34rem; color: #000; font-weight: 500; line-height: 1.02rem;}
.switch_box .switch{font-size: .24rem; color: #666; display: flex; align-items: center;}
.switch_box .switch i{display: block; width: .8rem; height: .46rem; border-radius: .23rem; background:linear-gradient(90deg,rgba(70,158,255,1) 0%,rgba(59,124,255,1) 100%); position: relative; margin-left: .22rem;}
.switch_box .switch i::before{content: ''; display: block; width: .4rem; height: .4rem; border-radius: .2rem; background-color: #fff; box-shadow:0 .03rem .23rem 0 rgba(148,149,153,0.37); position: absolute; top: 0; bottom: 0; left: .37rem; margin: auto; transition: left .2s;}
.switch_box .switch.closed_switch i{background: #f5f5f5 !important;}
.switch_box .switch.closed_switch i::before{left: .03rem;}