.fenlei_box h3{color: #000; font-size: .34rem; font-weight: bold; padding:0 .04rem ; margin-bottom: .3rem;}
.fenlei_box{padding:0 .34rem; margin-top: .5rem;}
.fenlei_box li{margin-bottom: .6rem; float: left; margin-right: .48rem;}
.fenlei_box li a{display: block;}
.fenlei_box li:nth-child(5n){margin-right: 0;}
.fenlei_box li .fenlei_icon{display: block; width: .98rem; height: .98rem; }
.fenlei_box li .fenlei_icon img{width: 100%; height: 100%; object-fit: cover;}
.fenlei_box li .fenlei_name{text-align: center; font-size: .26rem; color: #313233;}
.fenlei_page{position: fixed; top: 0; width: 100%; right: 0; bottom: 0; background-color: #fff; z-index: 100000; transition: all .3s;}
#navBox_4{z-index: 100001;}
.fenlei_page.tohide{right: -100%;}