
body, html{background: #edeef2;}

/*头部*/
.header{position: fixed; left: 0; right: 0; top: 0; z-index: 999;}
.header-r{visibility: visible;}
.tab{position: fixed; left: 0; right: 0; top: .9rem; background: #fff; z-index: 99;}
.huoniao_iOS .tab{top: 0;}

/*选项卡*/
.tab ul{display: -webkit-box;height: .8rem;line-height: .8rem;}
.tab ul li{-webkit-box-flex: 1; text-align: center; border-bottom: 1px solid #dcdde3; font-size: .28rem;position: relative; }
.tab ul li.curr a{color:#f9412e;}
.tab ul li.curr s{display:block;width:.28rem;height:.05rem;background:#f9412e;border-radius: 2.5px;margin:auto;position: relative;
    top: -.15rem;}
.tab ul li.sel select{background: transparent; }
.tab ul li em {display: none; position: absolute; bottom: 50%; left: 70%; min-width: .25rem; max-width: .6rem; height: .3rem; line-height: .28rem; padding: .01rem .04rem .01rem .04rem; background: #f9412e; border-radius: 10px; color: #fff; font-size: .2rem; overflow: hidden;}

/*信息列表*/
.house-list, .table{margin-top: 2rem;}
.huoniao_iOS .house-list, .huoniao_iOS .table{margin-top:.9rem;}
.item{margin: .2rem; background: #fff;border-radius: .16rem;padding:0 .3rem;}
.item .title{height:.7rem;line-height:.7rem;border-bottom: 1px solid #dcdde3; }
.info-item{padding: .24rem 0;overflow: hidden; padding-top: .3rem;}
.info-item .info-img{width: 2rem;height: 1.5rem;margin-right: .2rem;float: left;position: relative;background: #f5f5f5;}
.info-item .info-img img{max-width: 100%;max-height: 100%;position: absolute;top:0;left:0;right: 0;bottom: 0;margin:auto;}
.info-item .icontxt{float: left;width: .26rem;height: .3rem;margin-right: .2rem;background: url(../images/icon_txt.png) no-repeat center center;background-size: cover;margin-top:.08rem;}
.info-item dl{position: relative; overflow: hidden; display: block;}
.info-item dt span{display: inline-block;font-size: .2rem;border: 1px solid #9abe54;color: #9abe54;border-radius: .08rem;margin-left: .1rem;padding: 0 .06rem;}
.info-item dt{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden; color: #313133; font-size: .28rem; line-height: .42rem; margin:0 .06rem;}
.info-item dt .emotion-img {width: .5rem;margin:.1rem .1rem 0 0;}
.info-item dd{color: #999;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;height: .4rem;line-height: .4rem;font-size: .23rem;}
.info-item dd.item-area{margin: .15rem 0;}
.info-item dd.item-area em,.info-item dd.item-type-1 em{margin-right: .1rem}
.sp_reward{float: left;font-size: .26rem;color: #3b3b3b;}
.sp_reward em{display: inline-block;width: .28rem;height: .28rem;background: url(../images/icon_reward.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-top: -.1rem;}
.sp_see,.sp_comment{float: right;}
.sp_see em{display: inline-block;width: .29rem;height: .19rem;background: url(../images/icon_see.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-top: -.05rem;}
.sp_comment{margin-left: .4rem;}
.sp_comment em{display: inline-block;width: .24rem;height: .22rem;background: url(../images/icon_pl.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-top: -.02rem;}
.o{padding: 0 0 .24rem;}
.o a { /* padding: .02rem 0 0 .4rem; */border-radius: .04rem; color: #333; font-size: .24rem; float: right; width: 1.46rem; height: .6rem; border: solid 1px #F4F5F7; border-radius: .3rem; text-align: center; line-height: .6rem;}
.o a::before{content: ''; display: inline-block;width: .3rem; height:.3rem ; background: url(../images/live/del.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .05rem; margin-right: .04rem;}
.o a.edit::before{background: url(../images/icon_edit.png) center left no-repeat; }
/* .o a.del::before{background: url(../images/icon_del.png) center left no-repeat;} */
.o a.delayPay::before{background: url(../images/manage-pay.png) 28% center no-repeat;}
.o a.load::before {background: url(/static/images/loading_16.gif) center no-repeat;}
.o a.edit{background: url(../images/icon_edit.png) center left no-repeat; background-size: .26rem auto;margin-left:.7rem;}
/* .o a.del{background: url(../images/icon_del.png) center left no-repeat; background-size: .24rem auto;} */
.o a.delayPay{background: url(../images/manage-pay.png) 28% center no-repeat; background-size: .35rem auto;color: #f60;}
.o a.load {background: url(/static/images/loading_16.gif) center no-repeat; background-size: .35rem auto;color:transparent;}

.ftime{color: #919191; font-size: .22rem; line-height: .6rem;}

.info-item dd .price{color: #ff4a47;font-size: .3rem;}
.info-box{border-bottom: 1px solid #dcdde3;}
.loading{text-align: center; line-height: 1rem;color: #000;}
.header{border-bottom: none;}
.huoniao_iOS .search_box {top: 0;}
.search_box{position: fixed; top: .9rem;padding:0 .24rem .15rem .24rem;background: #fff;z-index: 2; left: 0; right: 0;box-shadow:0 .03rem .13rem 0 rgba(25,30,58,0.05);}


.table {width: 100%; margin-bottom: 20px; display: none;}
.table-bordered {border-bottom: 1px solid #ddd; border-collapse: separate; border-left: 0; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.table-bordered, td, th {border-radius: 0!important;}
.table>thead>tr {color: #707070; font-weight: 400; background: repeat-x #F2F2F2; background-image: -webkit-linear-gradient(top,#f8f8f8 0,#ececec 100%); background-image: -o-linear-gradient(top,#f8f8f8 0,#ececec 100%); background-image: linear-gradient(to bottom,#f8f8f8 0,#ececec 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffececec', GradientType=0); }
.table th, .table td {padding: 8px .24rem; line-height: 30px; text-align: left; vertical-align: top; border-top: 1px solid #ddd; }
.table input {padding: 5px 5px;width: 3.14rem;border: 1px solid #ddd;}
.table {font-size: 16px;font-weight: bold;}

.bottom_box{background-color: #fff; position: fixed; bottom: 0; left: 0; right: 0; padding:.3rem .24rem;box-shadow:-.01rem -.07rem .23rem 0 rgba(0, 0, 0, 0.05);padding-bottom:calc(.24rem + constant(safe-area-inset-bottom));padding-bottom: calc(.24rem + env(safe-area-inset-bottom));}
.bottom_box a{display: block; height: .8rem;background:linear-gradient(90deg,rgba(58,147,255,1) 0%,rgba(58,124,255,1) 100%); border-radius: .4rem; text-align: center; color: #fff; font-size: .3rem; line-height: .8rem; font-weight: bold;}

.searchbox{ background-color: #F5F6FA; height: .6rem; border-radius: .3rem; margin: .05rem 0; position: relative; font-size: .24rem;}
.searchbox input{border: none; background: none;}
.searchbox p{text-align: center;position: absolute; left: 0; right: 0;line-height: .6rem; color: #ADAFBA; pointer-events: none; top: 0;}
.searchbox p::before,.searchbox i.search_icon{content: ''; display: inline-block; width: .3rem; height: .3rem; background: url(../images/live/search_icon.png) no-repeat center; background-size: cover; margin-right: .09rem; vertical-align: middle; margin-bottom: .04rem;}
.searchbox i.search_icon{display: none;}
.searchbox i.search_clear{display: block; width: .4rem; height: .4rem; background: url(../images/live/cancel.png) no-repeat center; background-size: cover; position: absolute; top: 0; bottom: 0; right: .2rem; margin: auto; display: none;}
.searchbox input{width: 100%; box-sizing: border-box; padding:0 .3rem; padding-left:.6rem; height: .6rem;}
.searchbox input#keywords:focus ~ p{display: none;}
html > body .searchbox input#keywords:focus ~ .search_icon{display: block; }
.searchbox .search_icon{position: absolute; top: .14rem; left: .24rem; display: none;}
.searchbox input:focus::placeholder{color: #ADAFBA;  opacity: 1; }
.searchbox input::placeholder{opacity: 0;}

.img_len{position: absolute; right: .1rem; bottom: .2rem; width: .8rem; height: .5rem; border-radius: .08rem; display: block;  background:rgba(0,0,0,.5); text-align: center; color: #fff; font-size: .28rem; line-height: .5rem;}
.loading{color: #919299; font-size: .24rem; font-weight: 500;}
.loading a.add_link{color: #3377FF; font-weight: bold;}

/* 20200701 用户管理列表*/
.top_box{position: fixed; background-color: #fff; top: .9rem; left: 0; right: 0; height: .9rem; box-shadow:0 .03rem .13rem 0 rgba(25,30,59,0.05); padding: 0 .35rem;}
.search_box.user_search{padding:.1rem .3rem .15rem .3rem;}
.top_box li{float: left; font-size: .28rem; color: #4A4B4D; margin-right: .68rem;}
