/* 20200701 用户管理列表*/
.header{border: none; position: fixed; top: 0; left: 0; right: 0;}
.huoniao_iOS .top_box{top: 0;}
.top_box{position: fixed; background-color: #fff; top: .9rem; left: 0; right: 0; height: .9rem; box-shadow:0 .03rem .13rem 0 rgba(25,30,59,0.05); padding: 0 .35rem; z-index: 9;}
.search_box.user_search{padding:.1rem .3rem .15rem .3rem;}
.top_box li{float: left; font-size: .28rem; color: #4A4B4D; margin-right: 1rem; line-height: .9rem; transition: font-size .1s;}
.top_box li em{color: #949699; font-size: .24rem; margin-left: .08rem; margin-top: .04rem;}
.top_box li.on_chose{color: #3381FF; font-size: .32rem; font-weight: bold; position: relative;}
.top_box li.on_chose em{color: #3381FF; font-size: .26rem; font-weight: bold; position: absolute; }
.top_box li.on_chose:after{content: ''; display: block; width: .38rem; height: .06rem; border-radius: .03rem; background-color: #3381FF; position: absolute; bottom: 0; left: 50%; margin-left: -.19rem; transition:all .3s;}
.tab_box{display: flex; justify-content: space-between; align-items: center; transition: all .3s; }
.tab_box.fn-hide{display: none;}
.tab_box .search_btn{display: block; width: .4rem; height: .4rem; background: url(../images/live/search_icon1.png) no-repeat center; background-size: cover;}

/* 搜索 */
.search_box{position: absolute; left: 0; right: 0; top: 0; }
.searchbox{ background-color: #F5F6FA; height: .6rem; border-radius: .3rem; margin: .05rem 0; position: relative; font-size: .24rem; margin-right: 1.1rem;}
.search_cancel{color: #202021; font-size: .3rem; position: absolute; font-weight: bold; right: .46rem; top: 0; bottom: 0; margin: auto; height: .5rem;}
.searchbox input{border: none; background: none;}
.searchbox i.search_icon{content: ''; display: inline-block; width: .3rem; height: .3rem; background: url(../images/live/search_icon.png) no-repeat center; background-size: cover; margin-right: .09rem; vertical-align: middle; margin-bottom: .04rem;}
.searchbox i.search_clear{display: block; width: .4rem; height: .4rem; background: url(../images/live/cancel.png) no-repeat center; background-size: cover; position: absolute; top: 0; bottom: 0; right: .2rem; margin: auto; display: none;}
.searchbox input{width: 100%; box-sizing: border-box; padding:0 .3rem; padding-left:.6rem; height: .6rem;}
.searchbox .search_icon{position: absolute; top: .14rem; left: .24rem; display: none;}
.searchbox input::placeholder{color: #ADAFBA; }


/* 数据列表 */
.ulist{padding-top: 2.58rem;}
.huoniao_iOS .ulist{padding-top: 1.68rem;}
.huoniao_iOS .ulist .ulist_head{top: .9rem;}
.ulist .ulist_head{height: .78rem; line-height: .78rem; background-color: #F5F5F7; color: #949599; font-size: .26rem; position: fixed; z-index: 8; left: 0; right: 0; top: 1.8rem; }
.ulist .ulist_head span{display: inline-block;}
.ulist .ulist_head span.hinfo{width:50%; box-sizing: border-box; padding-left: .42rem;}
.ulist .ulist_head span.hop{float: right; padding-right: .35rem;}
.ulist .ulist_head span.htime{width:20%; text-align: center;}
.ulist .ul_list li .u_himg{float: left; width: .76rem; height: .76rem; margin-top: .2rem; margin-left: .3rem;}
.ulist .ul_list li .u_himg img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.ulist .ul_list li{position: relative;}

.ulist .ul_list li .u_detail{float: left; width:51%;}
.ulist .ul_list li .u_detail .u_info{height: .76rem; padding: .2rem 0; margin-left: 1.26rem; }
.ulist .ul_list li .u_detail .u_info h3{color: #333; font-size: .28rem; max-width: 2.2rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.ulist .ul_list li .u_detail .u_info p{color: #999; font-size: .22rem; margin-top: .06rem;}
.ulist .ul_list li .u_time{width: 20%; text-align: center; font-size: .22rem; color: #999; padding: .2rem 0; line-height: .76rem;}
.ulist .ul_list li::before{content: ''; height: 1px; background-color: #f5f5f7; display: block; position: absolute; bottom: 0; right: 0; left: 1.26rem;}
.ulist .ulist_box.all_user .ul_list li .u_op{width: .76rem; height: .76rem; background: url(../images/live/dot.png) no-repeat center; background-size: .34rem; float: right; margin-right: .2rem; padding: .2rem 0;}
.ulist .ulist_box.all_user .ul_list li.lahei .u_op ,.ulist .ulist_box.all_user .ul_list li.jinyan .u_op {width: auto; background: none; margin-right: .1rem;}
.ulist .ulist_box.all_user .ul_list li.lahei .u_op em,.ulist .ulist_box.all_user .ul_list li.jinyan .u_op em{width: auto; height: .42rem; background: #F73F55; color: #fff; font-size: .22rem; border-radius: .08rem; line-height: .42rem; padding: 0 .14rem; margin-right: .1rem; margin-top: .17rem; display: inline-block;}
.ulist .ulist_box .ul_list li .u_remove{float: right;margin-right: .4rem; padding: .2rem 0; line-height: .76rem; color: #3D5C99; font-size: .26rem;}
.ulist .ul_list li>div{display: inline-block;}
.loading{color: #919399; font-size: .24rem; padding: .6rem; text-align: center;}


/* 弹出层 */
.header{z-index: 1000;}
.mask_pop{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #000; opacity: .3; z-index: 1001; display: none; }
.pop_box{position: fixed; bottom: -4.8rem; left: 0; right: 0; background: #fff; border-radius: .4rem .4rem 0 0; z-index: 1001;padding-bottom:calc(constant(safe-area-inset-bottom));padding-bottom: calc( env(safe-area-inset-bottom)); transition: bottom .3s ;}
.pop_box .op_box .lh_box{border-bottom: solid 1px #f5f5f7; }
.pop_box .op_box .lh_box,.pop_box .op_box .jy_box,.pop_box .op_box .lh_box>div,.pop_box .op_box .jy_box>div{height: 1.5rem;}
.pop_box .op_box .lh_box>div.disabled{pointer-events: none;}

.pop_box .op_box{height: 3rem; border-bottom: solid #EBEBED .16rem;}
.pop_box .op_box {text-align: center;}
.pop_box .op_box h4{color: #313233; font-size: .34rem; font-weight: bold; padding-top: .3rem;}
.pop_box .op_box .oped h4{color: #F73F55;}
.pop_box .op_box p{color: #949599; font-size: .24rem; margin-top: .1rem;}
.pop_box .cancel_btn{height: 1rem;}
.pop_box .cancel_btn{color: #313233; font-size: .34rem; line-height: 1rem; text-align: center; font-weight: bold;}

.pop_sure{position: fixed; bottom: -4.2rem; left: 0; right: 0; background: #fff; border-radius: .4rem .4rem 0 0; z-index: 1001;padding-bottom:calc(constant(safe-area-inset-bottom));padding-bottom: calc( env(safe-area-inset-bottom)); transition: bottom .3s ;}
.pop_sure .op_box{height: 2.4rem; border-bottom: solid #EBEBED .16rem;}
.pop_sure .op_box p.tip{line-height: 1.2rem; font-size: .28rem; color: #313233; text-align: center; border-bottom: solid 1px #f5f5f7;}
.pop_sure .op_box h4{color: #313233; font-size: .34rem; font-weight: bold; line-height: 1.2rem; text-align: center;}
.pop_sure .cancel_btn{height: 1rem;color: #313233; font-size: .34rem; line-height: 1rem; text-align: center; font-weight: bold;}




/* 评论 */
.top_box .all_cmt{font-size:.32rem; color: #4A4B4D; font-weight: bold; line-height: .9rem;}
.top_box .all_cmt em{color: #949699; font-size: .24rem;}
.cmtlist{padding-top: 1.8rem;}
.huoniao_iOS .cmtlist{padding-top: .9rem;}
.cmtlist .cmt_li{padding: .4rem .3rem; position: relative;}
.cmtlist .cmt_li::after{content: ''; height: 1px; position: absolute; left: .3rem; right: .3rem; bottom: 0; background-color: #f5f5f7;}
.cmtlist .cmt_li .user_info{margin-bottom: .3rem; max-width: 4.28rem;}
.cmtlist .cmt_li .uimg{float: left; width: .64rem; height: .64rem; border-radius: 50%; background-color: #f5f5f7;}
.cmtlist .cmt_li .uimg img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.cmtlist .cmt_li .uinfo{margin-left: .88rem;}
.cmtlist .cmt_li .uinfo h4{font-size: .28rem; color: #333; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.cmtlist .cmt_li .uinfo p{color: #999; font-size: .22rem; margin-top: .1rem;}
.cmtlist .cmt_li .cmt_con{color: #333; font-size: .26rem; line-height: .36rem;}
.cmtlist .cmt_li .cmt_con img{max-width: 100%; max-height: 3rem; border-radius: .12rem;}
.cmtlist .cmt_li .del_btn{display: block; width: .4rem; height: .4rem; background: url(../images/live/del.png) no-repeat center; background-size: .4rem; border: none; outline: none; position: absolute; right: .44rem; top: .4rem;}


/* 排行榜 */
.invite_count{color: #949599; font-size: .22rem;} 
.chartlist{padding-top: 2.58rem;}
.huoniao_iOS .chartlist{padding-top: 1.68rem;}
.huoniao_iOS .chartlist .chead{top: .9rem;}
.chartlist .chead{height: .78rem; line-height: .78rem; background-color: #F5F5F7; padding-left: .34rem; padding-right: .42rem; display: flex; justify-content: space-between; color: #949599; font-size: .26rem; position: fixed; top: 1.8rem; left: 0; right: 0;z-index: 9;}

.chartlist .chart_li{display: flex; justify-content: space-between; align-items: center; padding: .23rem .37rem; position: relative; padding-left: .2rem;}
.chartlist .chart_li::after{content: ''; display: block; height: 1px; background-color: #f5f5f7; position: absolute; bottom: 0; left: .3rem; right: .3rem;}
.chartlist .chart_li .chart_user{width: 72%;}
.chartlist .chart_li .chart_user .px{width: .68rem; height: .68rem; color: #333; font-size: .38rem; line-height: .68rem; text-align: center; margin-top: .08rem; font-weight: bold;}
.chartlist .chart_li:nth-of-type(1) .px{background: url(../images/live/px1.png) no-repeat center; background-size: cover;}
.chartlist .chart_li:nth-of-type(2) .px{background: url(../images/live/px2.png) no-repeat center; background-size: cover;}
.chartlist .chart_li:nth-of-type(3) .px{background: url(../images/live/px3.png) no-repeat center; background-size: cover;}
.chartlist .chart_li .chart_user .uimg{width: .84rem; height: .84rem; border-radius: 50%; background-color: #f5f5f5; margin-left: .2rem;}
.chartlist .chart_li .chart_user .uimg img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.chartlist .chart_li .chart_user .uinfo{margin-left: 1.92rem;}
.chartlist .chart_li .chart_user .uinfo h4{color: #333; font-size: .3rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.chartlist .chart_li .chart_user .uinfo p{color: #999; font-size: .22rem; margin-top: .1rem;}
.chartlist .chart_li .chart_num{font-size: .34rem; font-family: moneyNumber; }

/* 字体 */

@font-face {
	font-family: moneyNumber;
	src: url('/static/fonts/coregtd6.otf'),
		url('/static/fonts/coregtd6.TTF'),
		url('/static/fonts/coregtd6.svg'),
		 url('/static/fonts/coregtd6.woff'); /* IE9 */
}