.topbox{height: 4.8rem; width: 100%; background: url(../images/live/profit_bg.png) no-repeat center; background-size: cover; background-color: #F94753; position: relative;}
.topbox .count_profit{text-align: center; padding-top: .64rem;}
.topbox .count_profit h2{font-size: .56rem; color: #fff; font-family: moneyNumber;}
.topbox .count_profit p{color: #FFCCCF;}
.topbox .go_link{display: block; width: 2rem; height: .76rem; text-align: center; background-color: #fff; color: #F94856; border-radius: .1rem; line-height: .76rem; font-size: .28rem; font-weight: bold; margin: auto; margin-top: .26rem;} 
.topbox  .profit_tbox {display: flex; justify-content: center; align-items: center; margin-top: .5rem; position: absolute; bottom: 0; left: 0; right: 0;}
.topbox  .profit_tbox .profit_tli{text-align: center;  width: 33.3%; position: relative; padding-bottom: .6rem;}
.topbox  .profit_tbox .profit_tli h3{color: #fff; font-size: .36rem; font-family: moneyNumber;}
.topbox  .profit_tbox .profit_tli p{color: #FFCCCF; font-size: .22rem; margin-top: .06rem;}
.topbox  .profit_tbox .profit_tli::before{content: ''; display: inline-block; width: .02rem; height: .28rem; background-color: #FF7175; position: absolute; left: 0; top: .3rem;}
.topbox  .profit_tbox .profit_tli:first-of-type::before{display: none;}
.topbox  .profit_tbox .profit_tli.on_chose::after{content: ''; width: .6rem; height: .2rem; background: url(../images/live/arr_icon.png) no-repeat center; background-size: cover; position: absolute; left: 0; right: 0; bottom: .29rem;  margin: auto;}

/* 列表 */
.profit_con{background-color: #fff; border-radius: .3rem .3rem 0 0 ; margin-top: -.3rem; position: relative;}
/* .profit_con::before{content: ''; width: .6rem; height: .2rem; background: url(../images/live/arr_icon.png) no-repeat center; background-size: cover; position: absolute; left: 0; right: 0;  top: -.2rem; margin-left: .2rem;} */
.profit_con .profit_list{display: none;}
.profit_con .profit_list.show{display: block;}
.profit_con .profit_list>h2{color: #939599; font-size: .22rem; height: .98rem; overflow: hidden; line-height: .98rem; padding-left: .48rem; border-bottom: solid 1px #f5f5f7; }
.profit_con .profit_list>h2 em{color: #333; font-size: .32rem; font-weight: bold; margin-right: .1rem; display: inline-block; line-height: .98rem; position: relative;}
.profit_con .profit_list>h2 em::after{content: ''; display: block; position: absolute; height: .04rem; background-color: #FF5141; left: 0; right: 0; bottom: 0;}
.profit_con .profit_list .profit_box{ padding-top: .1rem; padding-bottom: .5rem;}
.profit_con .profit_list .profit_box h4{justify-content: space-between; display: flex; color: #949599; font-size: .24rem; padding: .18rem .32rem;}

.profit_con .profit_list .profit_box .profit_li{padding: .2rem .3rem; position: relative;}
.profit_con .profit_list .profit_box .profit_li::after{content: '';  height: 1px; background-color: #f5f5f7; display: block; position: absolute; left: 1.3rem; bottom: 0; right: 0;}
.profit_con .profit_list .profit_box .profit_li .left_himg{width: .84rem; height: .84rem; border-radius: 50%; background-color: #f5f5f5; float: left;}
.profit_con .profit_list .profit_box .profit_li .left_himg img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.profit_con .profit_list .profit_box .profit_li .uinfo{margin-left: 1rem; }
.profit_con .profit_list .profit_box .profit_li .uinfo h3{color: #333; font-size: .3rem; max-width: 4rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.profit_con .profit_list .profit_box .profit_li .uinfo p{color: #999; font-size: .22rem; margin-top: .1rem;}
.profit_con .profit_list .profit_box .profit_li .count{position: absolute; right: .38rem; top: 0; bottom: 0; margin: auto; font-size: .34rem; color: #333; font-family: moneyNumber; line-height: .9rem;}
.profit_con .profit_list .profit_box .profit_li .gift_con{clear: both; min-width: 3.8rem; height: .8rem; border-radius: .16rem; background-color: #F5F5F7; box-sizing: border-box; padding-left: 1.36rem; color: #333; font-size: .26rem; line-height: .8rem; margin-top:.12rem ; position: relative; padding-right: .2rem; display: inline-block; margin-left: 1rem;}
.profit_con .profit_list .profit_box .profit_li .gift_con em{font-size: .3rem; font-weight: bold; font-style: italic; margin-left: .14rem;}
.profit_con .profit_list .profit_box .profit_li .gift_con i{font-weight: bold; font-style: italic;}
.profit_con .profit_list .profit_box .profit_li .gift_con .gift_img{position: absolute; width: 1.02rem; height: 1.02rem;  left: .2rem; top: -.16rem; }
.profit_con .profit_list .profit_box .profit_li .gift_con .gift_img img{display: block; width: 100%; height: 100%; object-fit: cover;}


.loading{color: #999; text-align: center; padding: .5rem;}






/* 字体 */
@font-face {
	font-family: moneyNumber;
	src: url('https://pic.xiant.ao/static/fonts/coregtd6.otf'),
		url('https://pic.xiant.ao/static/fonts/coregtd6.TTF'),
		url('https://pic.xiant.ao/static/fonts/coregtd6.svg'),
		 url('https://pic.xiant.ao/static/fonts/coregtd6.woff'); /* IE9 */
}
