body,html{background-color: #F5F5F7;}


.prolist_box {margin-top: .24rem; padding-bottom: 1.4rem;}
.prolist_box .loading{text-align: center; font-size: .26rem; color: #999; padding: .6rem;}
.prolist_box .pro_li{padding: .2rem; background-color: #fff; margin:0 .24rem; margin-bottom: .24rem; box-shadow:0 .03rem .1rem 0 rgba(0,2,17,0.03);border-radius:.2rem;}
.prolist_box .pro_li .pinfo_box .limg,.prolist_box .pro_li .pinfo_edit .limg{width: 1.6rem; height: 1.6rem; background-color: #f5f5f5; float: left; position: relative;  border-radius: .16rem; }
.prolist_box .pro_li .pinfo_box .limg img,.prolist_box .pro_li .pinfo_edit .limg img{width: 100%; height: 100%; object-fit: cover; border-radius: .16rem;}
.prolist_box .pro_li .pinfo_box .limg i,.prolist_box .pro_li .pinfo_edit .limg i{display: block; width: .6rem; height: .6rem; background: rgba(0,0,0,.5); color: #fff; text-align: center; position: absolute; top: 0; left: 0; border-radius:.16rem 0 .4rem 0; font-size: .26rem; line-height: .6rem; font-weight: bold;}
.prolist_box .pro_li .pinfo_box .rinfo,.prolist_box .pro_li .pinfo_edit .rinfo{margin-left: 1.9rem; height: 1.6rem; position: relative;}
.prolist_box .pro_li .pinfo_box .rinfo a{display: block; height: 100%;}
.prolist_box .pro_li .pinfo_box .rinfo h3{color: #313233; font-size: .28rem;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden; line-height: .38rem; padding-top: .08rem;}
.prolist_box .pro_li .pinfo_box .rinfo .click_num{font-size: .2rem; color: #999; position: absolute; right: 0; bottom: .1rem;}
.prolist_box .pro_li .pinfo_box .rinfo .price_show,.prolist_box .pro_li .pinfo_edit .rinfo .price_show{color: #F73F55; font-size: .24rem; font-family: moneyNumber; font-weight: bold; position: absolute; bottom: .1rem;}
.prolist_box .pro_li .pinfo_box .rinfo .price_show em{font-size: .34rem;}
.prolist_box .pro_li .btn_group{margin-top: .2rem; clear: both;}
.prolist_box .pro_li .btn_group a{display: flex; width: 1.46rem; height: .6rem; border-radius: .3rem; box-sizing: border-box; border: solid 1px #F5F5F7; text-align: center; justify-content: center; color: #1A1A1A; font-size: .24rem;  align-items: center; float: right; margin-left: .3rem; }
.prolist_box .pro_li .btn_group a.edit_btn::before,.prolist_box .pro_li .btn_group a.del_btn::before{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/live/del_2.png) no-repeat center; background-size: .3rem; margin-right: .05rem;}
.prolist_box .pro_li .btn_group a.edit_btn::before{background-image: url(../images/live/edit_2.png);}
.prolist_box .pro_li .btn_group a.sure_btn{border: none; color: #fff; background-color: #3377FF;}

.prolist_box .pro_li .pinfo_edit .rinfo .tit_inp{user-select: text; color: #313233; font-size: .28rem;line-height: .38rem;  padding-top: .08rem; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;max-height: .68rem;-webkit-user-select:text;
}
.prolist_box .pro_li .pinfo_edit .rinfo .tit_inp:focus{ overflow: auto; display: block;}

.prolist_box .pro_li .pinfo_edit .rinfo .tit_inp:empty{display: block;}
.prolist_box .pro_li .pinfo_edit .rinfo .tit_inp:empty::before{content: attr(placeholder); color: #B2B2B2; font-size: .28rem;}
.prolist_box .pro_li .pinfo_edit .rinfo .price_show{color: #303033;}
.prolist_box .pro_li .pinfo_edit .rinfo .price_show input{border: none; color: #303033; font-size: .32rem;/* vertical-align: middle; */}
.prolist_box .pro_li .pinfo_edit .rinfo .price_show input::placeholder{font-size: .26rem; color: #B2B2B2; font-weight: normal;}
.prolist_box .pro_li .pinfo_edit .plink{margin-top: .5rem;}
.prolist_box .pro_li .pinfo_edit .plink input{color: #7F85A0; font-size: .24rem; font-weight: bold; border: none; background: none;width: 5.68rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.prolist_box .pro_li .pinfo_edit .plink input::placeholder{color: #B3B3B3; font-weight: normal;}
.prolist_box .pro_li .pinfo_edit .plink::before{content: ''; display: inline-block; width: .3rem; height: .3rem; background: url(../images/live/link.png) no-repeat center; background-size: .3rem; vertical-align: middle; margin-right: .15rem; margin-bottom: .04rem; }

.prolist_box .pro_li .pinfo_edit .img_box{width: 100%; height: 100%; border-radius: .16rem; overflow: hidden;}
.prolist_box .pro_li .pinfo_edit .img_box img{width: 100%; height: 100%; object-fit: cover;}
.prolist_box .pro_li .pinfo_edit .upload_btn{width: 100%; height: 100%;  border-radius: .16rem; border: dashed .03rem #C8CACF; background: url(../images/live/add_btn1.png) no-repeat center .39rem; background-size: .48rem; background-color: #F5F5F7;}
.prolist_box .pro_li .pinfo_edit .upload_btn input,.prolist_box .pro_li .pinfo_edit .upload_btn label{opacity: 0; width: 100%; height: 100%; position: absolute; left: 0; right: 0; bottom: 0; top: 0;}
.prolist_box .pro_li .pinfo_edit .upload_btn div{position: absolute; left: 0; right: 0; bottom: 0; top: 0; width: 100%; height: 100%;}
.prolist_box .pro_li .pinfo_edit .upload_btn p{color: #8D8E91; font-size: .24rem; text-align: center; padding-top: .9rem;}
.prolist_box .pro_li .pinfo_edit .reupload{position: absolute; bottom: 0; left: 0; right: 0; line-height: .38rem; color: #fff; background-color: rgba(0,0,0,.5) ; text-align: center; border-radius: 0 0 .16rem .16rem;}
.prolist_box .pro_li .pinfo_edit .rinfo .pro_price{font-family: moneyNumber;}

.btn_bottom{position: fixed; bottom: 0; padding: .3rem; padding-bottom:calc(.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(.3rem + env(safe-area-inset-bottom)); left: 0; right: 0; background-color: #F5F5F7;}
.add_pro{display: block;  height: .8rem; border-radius: .4rem; color: #fff; background:linear-gradient(90deg,rgba(58,147,255,1) 0%,rgba(58,124,255,1) 100%); font-size: .32rem; line-height: .8rem; text-align: center; border: none; width: 100%;}

.popMsg{position: fixed; top: 50%; left: 50%; background-color: rgba(0,0,0,.7); padding:.56rem .48rem ; border-radius:.16rem; transform: translate(-50%,-50%); min-width: 1rem; text-align: center; z-index: 111;}
.popMsg p{color: #fff; font-size: .3rem; }


















@font-face {
	font-family: moneyNumber;
	src: url('https://pic.xiant.ao/static/fonts/coregtd6.otf'),
		url('https://pic.xiant.ao/static/fonts/coregtd6.TTF'),
		url('https://pic.xiant.ao/static/fonts/coregtd6.svg'),
		 url('https://pic.xiant.ao/static/fonts/coregtd6.woff'); /* IE9 */
}
