
body, html{background: #F5F5F7;}

/*头部*/
.header{position: fixed; left: 0; right: 0; top: 0; z-index: 999;border-bottom: none;}
.header-r{visibility: visible;}
.tab{position: fixed; left: 0; right: 0; top: .9rem; background: #fff; z-index: 99;}
.huoniao_iOS .tab{top: 0;}

/*选项卡*/
.tab ul{display: -webkit-box;height: .8rem;line-height: .8rem;box-shadow:0px 3px 13px 0px rgba(25,30,59,0.05);}
.tab ul li{-webkit-box-flex: 1; text-align: center; font-size: .28rem;position: relative; }
.tab ul li.curr a{color:#3377FF;font-weight: bold;}
.tab ul li s{display:block;width:.28rem;height:.06rem;border-radius: .03rem;margin:auto;position: relative;top: -.15rem;background: #fff}
.tab ul li.curr s{background:#3377FF;}
.tab ul li.sel select{background: transparent; }
.tab ul li em {display: none; position: absolute; bottom: 50%; left: 70%; min-width: .25rem; max-width: .6rem; height: .3rem; line-height: .28rem; padding: .01rem .04rem .01rem .04rem; background: #f9412e; border-radius: 10px; color: #fff; font-size: .2rem; overflow: hidden;}

/*信息列表*/
.house-list{margin-top: 1.9rem; }
.huoniao_iOS .house-list{margin-top:1rem;}
.item{margin: .22rem .24rem; background: #fff;border-radius: .16rem;padding:0 .24rem;box-shadow:0px 3px 10px 0px rgba(0,3,18,0.03);}
.item .title{height:.7rem;line-height:.7rem;border-bottom: 1px solid #dcdde3; }
.info-item{padding: .3rem 0 .26rem;overflow: hidden;}
.info-item .li_top{font-size: 0;padding-bottom: .16rem}
.info-item .li_top a{display: block;}
.info-item .car-type{display: inline-block;height: .34rem;line-height: .36rem;border-radius: .08rem;padding: 0 .1rem;font-size: .22rem;color: #fff;font-weight: bold;    vertical-align: top;
    margin-top: .06rem;}
.info-item .car-type.car{background:linear-gradient(90deg,rgba(68,115,255,1) 0%,rgba(66,133,255,1) 100%);}
.info-item .car-type.truck{background:linear-gradient(90deg,rgba(0,200,132,1) 0%,rgba(36,194,129,1) 100%);}
.info-item h2.liTitle{display: inline;font-size: .32rem;color: #1A1B21;margin-left: .2rem;}
.info-item h2.liTitle s{display: inline-block;width: .48rem;height: .4rem;background:url(../images/hitch/placeFan.png) no-repeat center center;background-size:.48rem .4rem;margin-left: .13rem;margin-right: .13rem;vertical-align: middle;    margin-top: -.02rem;}

.info-item dl{position: relative; overflow: hidden; display: block;}
.info-item dt span{display: inline-block;font-size: .2rem;border: 1px solid #9abe54;color: #9abe54;border-radius: .08rem;margin-left: .1rem;padding: 0 .06rem;}
.info-item dt{font-size: .3rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.info-item dd{color: #999;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;height: .4rem;line-height: .4rem;font-size: .22rem;}
.info-item dd.item-area{margin: .15rem 0;}
.info-item dd.item-area em,.info-item dd.item-type-1 em{margin-right: .1rem}
.sp_reward{float: left;font-size: .26rem;color: #3b3b3b;}
.sp_reward em{display: inline-block;width: .28rem;height: .28rem;background: url(../images/icon_reward.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-top: -.1rem;}
.sp_see,.sp_comment,.sp_time{float: left;}
.sp_see em{display: inline-block;width: .29rem;height: .19rem;background: url(../images/icon_see.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-top: -.05rem;}
.sp_time{margin-right: .3rem}
.sp_comment{margin-left: .4rem;}
.sp_comment em{display: inline-block;width: .24rem;height: .22rem;background: url(../images/icon_pl.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-top: -.02rem;}
.topping{font-size: .26rem;color:#f9412e;}
.topping s{display: inline-block;vertical-align: middle;width: .27rem;height: .27rem;background: url(../images/ic_right.png) no-repeat center center;background-size: cover;margin-left: .1rem;margin-top:-.05rem;}
.topcommon{float: right;font-size: .26rem;color:#f9412e;}
.topcommon s{display: inline-block;vertical-align: middle;width: .27rem;height: .27rem;background: url(../images/ic_right.png) no-repeat center center;background-size: cover;margin-left: .1rem;margin-top:-.05rem;}

.o{padding: 0 0 .32rem;}
.o a { border-radius: .04rem; color: #333; font-size: .24rem; float: right;padding:.12rem .34rem .12rem .66rem;border:solid 1px #E3E4E6;border-radius:.52rem;}
.o a.refresh{background: #3377FF url(../images/icon_refresh.png) 24% center no-repeat; border:solid 1px #3377FF;color:#fff;background-size: .27rem auto;margin-left:.24rem;}
.o a.refresh.disabled{background:#bbbec4 url(../images/icon_refresh.png) 16% center no-repeat;border:solid 1px #bbbec4;color:#fff;background-size: .27rem auto;margin-left:.3rem;}
.o a.edit{border-radius:.52rem;background: url(../images/icon_edit.png) 24% center no-repeat; background-size: .26rem auto;margin-left:.24rem;}
.o a.del{background: url(../images/icon_del.png) 24% center no-repeat; background-size: .24rem auto;}
.o a.delayPay{background: url(../images/manage-pay.png) 28% center no-repeat; background-size: .35rem auto;color: #f60;}
.o a.load {background: url(/static/images/loading_16.gif) 24% center no-repeat; background-size: .35rem auto;color:transparent;}

.o span.moreC{display: inline-block;width: .6rem;height: .6rem;box-sizing: border-box;border: 1px solid #E3E4E6;border-radius: 50%;background: url(../images/hitch/moreC.png) no-repeat center center; background-size: .3rem;}
.o a.smartfresh{padding: .12rem .26rem;margin-left: .24rem;background: #3377FF;color: rgba(255,255,255,.5);border:solid 1px #3377FF;}

.info-item dd .price{color: #ff4a47;font-size: .3rem;}
.info-box{border-bottom: 1px solid #dcdde3;}
.loading{text-align: center; line-height: 1rem;color: #999}

#list .sd{background: #F2F8FF;border-radius: .3rem;padding: .25rem .3rem;margin-bottom: .46rem;color: #303133;position: relative;}
#list .sd p span{font-size: .24rem;}
#list .sd i.morePlan{display: inline-block;width: .3rem;height: .3rem;background: url(../images/hitch/morePlan.png) no-repeat center center; background-size: .3rem;position: absolute;top: 50%;margin-top: -.15rem;right: .14rem}
/*发布按钮*/
.fabuBtn{background: #fff !important;}
.fabuBtn a{width: 6.9rem !important;background: #3478FF !important}

/*置顶刷新 弹窗*/
.sfcarMask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.57);z-index: 999;display: none;}
.sfcarMask.show{display: block;}

.topFresh{position: fixed;left: 0;right: 0;bottom: -100%;background: #fff;z-index: 1000;box-shadow:0px -3px 17px 0px rgba(4,5,36,0.03);
border-radius:.3rem .3rem 0px 0px;padding: 0 .3rem;box-sizing: border-box;padding-bottom:calc(.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(.3rem + env(safe-area-inset-bottom));}
.topFresh ul li{height: 1.6rem;text-align: center;}
.topFresh ul li.firtop{border-top: 1px solid #f5f5f7}
.topFresh ul li a{display: block;height: 100%}
.topFresh ul li h2{font-size: .32rem;font-weight: bold;color: #000;padding-top: .4rem}
.topFresh ul li p{font-size: .22rem;color: #A6A6A6;margin-top: .08rem}
.topFresh button.top-cancel{background: #F5F6F7;border: none;height: .88rem;line-height: .88rem;border-radius: .44rem;width: 100%;text-align: center;font-size: .32rem;color: #387BFF;font-weight: bold;}
/*智能刷新*/
.hasSmart{position: fixed;background-color: rgba(0,0,0,.87);border-radius: .2rem;color: #fff;font-size: .26rem;height: 1rem;line-height: 1rem;text-align: center;padding: 0 .5rem;z-index: 1000000;left: 50%;top: 50%;margin-top: -.5rem;transform: translate(-50%,-50%);white-space: nowrap; display: none; }

/*免费刷新 新样式*/
.newTopMask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.57);z-index: 999;display: none;}
.newTopMask.show{display: block;}
.newFreshAlert{position: fixed;left: 0;right: 0;bottom: -100%;background: #fff;z-index: 1000;box-shadow:0px -3px 17px 0px rgba(4,5,36,0.03);border-radius:.3rem .3rem 0px 0px;padding: 0 .3rem;box-sizing: border-box;padding-bottom:calc(.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(.3rem + env(safe-area-inset-bottom));}

.newFreshAlert .newfreeRefresh p{margin-top: 0;font-size: .26rem;color: #4D4D4D;padding: .56rem 0;text-align: center;}
.newFreshAlert .newfreeRefresh p em.refreshFreeSurplus{color: #3478FF;font-weight: bold;}
.newFreshAlert .newfreeRefresh button{width: 6.9rem;height: .8rem;line-height: .8rem;font-weight: bold;background: #3478FF;border-radius: .4rem;box-shadow: none;    border: none;color: #fff;font-size: .3rem;}
.newFreshAlert .newfreeRefresh button i{display: inline-block;width: .4rem;height: .4rem;margin-right: .12rem;vertical-align: middle;margin-top: -.03rem;}
.newFreshAlert .newfreeRefresh button i.refresh-i{background: url(../images/hitch/refresh.png) no-repeat center center; background-size: .4rem;}
.newFreshAlert .refreshNow.transform i.refresh-i{-webkit-animation:loadingFresh 1s infinite linear ;}

.newFreshAlert .newfreeRefresh a.cancelFresh{font-size: .32rem;color: #181615;font-weight: bold;margin-top: .54rem;display: block;text-align: center;}
.newFreshAlert s.freshScuecess{display: inline-block;width: .4rem;height: .4rem;margin-right: .12rem;vertical-align: middle;margin-top: -.03rem;background: url(../images/hitch/gou.png) no-repeat center center; background-size: .4rem;}

@keyframes loadingFresh{
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	100% {
		-webkit-transform: rotate(1turn);
		-ms-transform: rotate(1turn);
		transform: rotate(1turn)
	}
}

/*删除 弹出层*/
.delMask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.57);z-index: 999;display: none;}
.delMask.show{display: block;}
.delAlert{position: fixed;top: 50%;left: 0;right: 0;z-index: 1000;overflow: hidden;height: 2.8rem;margin-top: -1.4rem;text-align: center;display: none;pointer-events: none;-webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out;}
.delAlertCon{background: #fff;box-shadow:0px 7px 37px 0px rgba(0, 0, 0, 0.13);border-radius:.3rem;min-width: 4.8rem;display: inline-block;pointer-events: auto}
.delAlertCon>div{padding: .55rem .4rem .48rem}
.delAlert h2.delTile{font-size: .32rem;font-weight: bold;text-align: center;}
.delAlert p{font-size: .24rem;color: #333;text-align: center;margin-top: .05rem}
.delAlert ul{border-top: 1px solid #f5f5f7;}
.delAlert ul li{float: left;width: 50%;box-sizing: border-box;height: .86rem;line-height: .86rem;font-size: .3rem;font-weight: bold;text-align: center;}
.delAlert ul li a{display: block;color: 000;}
.delAlert ul li a.sureDel{color: #3B7CFF}
.delAlert ul li.firLi{border-right: 1px solid #f5f5f7}

/*置顶弹窗新样式*/
.sign .WeekDay td.today{background:#3B7CFF !important }
.sign_succ_calendar_title{background: #3B7CFF !important }
