body,html{background-color: #F5F5F7; min-height: 100%;}
.topbox{background-color: #fff; position: fixed; top: 0; left: 0; right: 0;z-index: 1;}
.searchbox{ background-color: #F5F6FA; height: .6rem; border-radius: .3rem; margin: .05rem .3rem; position: relative;}
.searchbox input{border: none; background: none;}
.searchbox p{text-align: center;position: absolute; left: 0; right: 0;line-height: .6rem; color: #ADAFBA; pointer-events: none; top: 0;}
.searchbox p::before,.searchbox i.search_icon{content: ''; display: inline-block; width: .3rem; height: .3rem; background: url(../images/live/search_icon.png) no-repeat center; background-size: cover; margin-right: .09rem; vertical-align: middle; margin-bottom: .04rem;}
.searchbox i.search_icon{display: none;}
.searchbox i.search_clear{display: block; width: .4rem; height: .4rem; background: url(../images/live/cancel.png) no-repeat center; background-size: cover; position: absolute; top: 0; bottom: 0; right: .2rem; margin: auto; display: none;}
.searchbox input{width: 100%; box-sizing: border-box; padding:0 .3rem; padding-left:.6rem; height: .6rem;}
.searchbox input#keywords:focus ~ p{display: none;}
html > body .searchbox input#keywords:focus ~ .search_icon{display: block; }
.searchbox .search_icon{position: absolute; top: .14rem; left: .24rem; display: none;}
.searchbox input:focus::placeholder{color: #ADAFBA;  opacity: 1; }
.searchbox input::placeholder{opacity: 0;}

.shai_box{box-shadow:0 .03rem .13rem 0 rgba(25,30,59,0.05);}
.shai{background-color: #fff; padding:  .2rem .32rem .2rem .2rem ;}
.fast_shai{ display: flex; align-items:  center; font-size: .28rem; color: #4A4B4D; }
.fast_shai li{ margin: 0 .25rem; margin-right: .25rem;}
.fast_shai li em{color: #949699; font-size: .24rem;}
.shai .shai_btn{font-size: .28rem; color: #4A4B4D; margin-top: .04rem;}
.shai .fast_shai li.onclick{color: #3381FF;font-size: .32rem; font-weight: bold; position: relative;}
.shai .fast_shai li.onclick::before{content: ''; display: block; position: absolute; width: .38rem; height: .06rem; border-radius: .03rem; background-color: #3381FF; box-shadow:0 .03rem .07rem 0 rgba(39,119,208,0.27); bottom: -.2rem; left: 50%; margin-left: -.19rem;}
.shai .fast_shai li.onclick em{color: #3381FF; font-size: .26rem; font-weight: bold;} 
.shai .shai_btn:after{content: ''; display: inline-block; width: .3rem; height: .3rem; background: url(../images/live/more.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-right: .12rem;}
.an_list{padding-top: 2.68rem ;padding-bottom: 1.8rem;}

.an_list .live_li{background-color: #fff; border-radius:.16rem; margin: 0 .2rem; margin-bottom: .2rem; padding:.24rem .24rem .2rem .3rem ;}
.an_list .live_li a{display: block;}
.an_list .live_li a h3{color: #212121; font-size: .3rem; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: .32rem;}
.an_list .live_li a h3 i{display: inline-block; line-height: .34rem;height: .32rem;  color: #fff; font-size: .2rem; text-align: center; vertical-align: middle; padding:0 .14rem; border-radius: .16rem;  font-weight: normal; margin-bottom: .04rem; margin-right: .06rem;}
.an_list .live_li.tolive a h3 i{background-color: #FFA73B;}
.an_list .live_li.lived a h3 i{background-color: #87CC24;}
.an_list .live_li.living a h3 i{background: url(../images/live/on_fair2.gif) no-repeat center; width: .82rem; background-size: auto .32rem; }
.an_list .live_li .live_litpic{width: 3.8rem; height: 2.14rem; background: #f5f5f5; }
.an_list .live_li .live_litpic img{width: 100%; height: 100%; object-fit: cover; border-radius:.06rem;}
.an_list .live_li .live_time{text-align: left; margin-left: 4.45rem; padding-top: .06rem;}
.an_list .live_li .arcrank_0{color: #F24D38;}
.an_list .live_li .live_op{display: block; width: .6rem; height: .6rem; background: url(../images/live/more_op.png) no-repeat center; background-size: cover; }
.an_list .live_li .live_info{line-height: .6rem;}
.an_list .live_li .live_op.fn-hide{display: none;}
.an_list .live_li .live_detail{display: flex; justify-content: space-between; align-items: center; margin-top: .05rem;}
.an_list .live_li.tolive .arcrank_1{color: #338FFF;}
.an_list .live_li .live_info span{margin-right: .3rem; font-size: .22rem;}
.an_list .live_li .live_info .read{color: #AAABB3;}
.an_list .live_li .live_info .read::before{content: ''; display: inline-block; width:.3rem; height: .3rem; background: url(../images/live/read.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-right: .06rem;}
.an_list .live_li .live_info .live_ftime{color: #A6A8B3;}
.an_list .live_li.tolive .live_time{ padding-top: .62rem;}
.an_list .live_li.tolive .live_time h4{color: #4A4B4D; font-size: .38rem; font-weight: bold;}
.an_list .live_li.tolive .live_time p{color: #ADAEB3; font-size: .24rem; display: inline-block; text-align: left; font-weight: normal;}
.an_list .live_li .live_time h6{color: #4A4B4D; font-size: .26rem; font-weight: bold; margin-bottom: .04rem;}
.an_list .live_li .live_time p{color: #ADAEB3;font-size: .26rem; font-weight: bold;}
.an_list .live_li .live_time i.line{display: block; width: .03rem; height: .22rem; background-color: #ccc; margin: .16rem 0;  margin-left: .14rem;}
.loading{color: #919399; font-size: .24rem;}
.to_create{display: block; margin:0 .3rem; background:linear-gradient(90deg,rgba(59,147,255,1) 0%,rgba(59,124,255,1) 100%); border-radius:.4rem; height: .8rem; color: #fff; text-align: center; font-size: .3rem; line-height: .8rem; font-weight: bold;}
.btn-create{background-color: #fff; position: fixed; bottom: 0; padding: .24rem 0; padding-bottom:calc(.24rem + constant(safe-area-inset-bottom));padding-bottom: calc(.24rem + env(safe-area-inset-bottom)); left: 0; right: 0;}

.mask{ z-index: 0;}
.order_box{height: 2.8rem; border-radius: 0 0 .3rem .3rem; background-color: #fff; position: fixed; top: 2.42rem;left: 0; right: 0; z-index: 0; box-sizing: border-box; padding: .36rem 0; display: none; animation: topFadeIn .3s;}
.order_box li{padding: .3rem .43rem .3rem .69rem; color: #4A4B4C; font-size: .3rem; position: relative;}
.order_box li.selected::after{content: ''; display: block; width: .4rem ; height: .4rem; background: url(../images/live/gou.png) no-repeat center; background-size: cover; position: absolute; right: .43rem; top: .3rem;}
.mask1{ position: fixed;top: 0; left: 0; right: 0; bottom: 0; opacity: .3 !important; background-color: #000;z-index: 999; display: none;}
.op_box{background-color: #fff; border-radius: .3rem .3rem 0 0; position: fixed; left: 0; right: 0; z-index: 999; padding-bottom:calc(.4rem + constant(safe-area-inset-bottom));padding-bottom: calc(.4rem + env(safe-area-inset-bottom)); position: fixed; bottom: -7rem; transition: bottom .3s; }
.op_box ul{padding: 0 .3rem;}
.op_box h2.tip{background-color: #F7F7F7; line-height: 1rem; color: #000; font-size: .28rem; font-weight: bold; line-height: 1rem; text-align: center;border-radius: .3rem .3rem 0 0; }
.op_box h2.tip.disabled{display: none;}
.op_box li{font-size: .32rem; color: #202021; line-height: 1.3rem; border-bottom:solid 1px #f5f5f7 ; padding: 0 .26rem;}

.op_box li:last-child{border: none;}
.op_box li a{display: flex; justify-content: center; align-items: center; }
.op_box li img{width: .48rem;height: .48rem; display: block; margin-right: .1rem;}
.op_box li.btn_start{background: none; margin: 0;}
.op_box li.disabled{pointer-events: none; opacity: .5; display: none;}
 input#keywords::-webkit-search-cancel-button{width: .4rem; height: .4rem; background: url(../images/live/cancel.png) no-repeat center; background-size: cover; display: none;}
.huoniao_iOS .an_list{padding-top:1.68rem}
.huoniao_iOS .order_box{top: 1.52rem;}