html,body {font-size: .24rem;background: #f9f9f9}
.tab ul{padding-left: .3rem;}
.tab li{padding: .2rem .3rem .1rem .25rem;}
.food {color: #333; border-bottom: 1px solid #f4f4f4; padding: 0 0 .1rem; margin-bottom: .1rem;}
.item .state{color: #ff6800;}
.item .opbtn{padding: .15rem 0; text-align: right;}
.item .opbtn a.gray {border: 1px solid #aaa; border-radius: .08rem; margin-right: .2rem;}
.item .opbtn a {padding: .1rem .2rem; display: inline-block;}
.myitem {box-shadow: 0px 3px 7px 0px rgba(120, 120, 120, 0.07);border-radius: .16rem}
.myitem dt{margin: 0}
.myitem dt.pttitle{padding: .24rem .2rem;border-bottom: 1px solid #f5f5f7;}
.pttitle .ptype{padding: 0 .1rem;height: .4rem;line-height: .42rem;border-radius: .04rem;background: #F1F8FF;font-size: .24rem;color: #268EFF;float: left;}
.pttitle .ptype.buy{background: #FFF3F1;color: #FF7054;}
.pttitle .ptinfo{float: left;margin-left: .22rem;width: 3.6rem;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;font-size: .3rem;color: #39393B;}
.ptcontent{margin-top: .12rem;}
.ptcontent .shoptype{margin: 0 .24rem;border-radius: .1rem;background: #fff;padding: 0 .22rem}
.ptcontent .shoptype li {position: relative;box-sizing: border-box;}
.ptcontent .shoptype li .qCon{padding: .25rem .3rem .25rem 0;margin-left: .68rem}
.ptcontent .shoptype li h3{font-size: .28rem;color: #39393B;}
.ptcontent .shoptype li p{font-size: .24rem;color: #A7A7AC;margin-top: .05rem}
.ptcontent .shoptype li p em{margin-left: .2rem}
.ptcontent .shoptype li i{display: inline-block;width: .26rem;height: .26rem;background: url('../images/paotui/arr.png') no-repeat center;background-size: .26rem;position: absolute;right: 0;top: 50%;margin-top: -.13rem;}
.ptcontent .shoptype li span{width: .42rem;height: .42rem;border-radius: 50%;display: inline-block;position: absolute;left: 0;top: 50%;margin-top: -.21rem;background:#D4D9DF ;font-size: .24rem;color: #fff;text-align: center;line-height: .42rem;}
.detInfo {background: #FDFDFD;padding: .14rem .2rem;margin-top: .24rem}
.detInfo .xdTime{font-size: .26rem;color: #BABFCA;float: left;line-height: .6rem}
.detInfo .zfPrice{float: left;font-size: .26rem;color: #BABFCA;line-height: .6rem}
.detInfo .zfPrice span{color: #FF5C50;margin-left: .05rem}
.detInfo .ptBtn{float: right;}
.detInfo .ptBtn a{display: inline-block;padding: 0 .24rem;border-radius: .06rem;height: .58rem;line-height: .6rem;border: 1px solid #E5E5E5;margin-left: .16rem;font-size: .28rem;color: #636466}
.detInfo .ptBtn a.btn-bg{color: #fff;border: 1px solid #fa6352;}

.myitem.ptdl .ptmap{height: 2.6rem;overflow: hidden;display: block;}
.myitem.ptdl .ptcontent{margin-top: 0}
.myitem .myitem.ptdl dt.pttitle{border-bottom: none}
/*配送中地图*/
.amap-copyright, .amap-logo{display: none!important;}
/*谷歌地图infowindow样式*/
.gm-style .gm-style-iw-c{top: -32px!important;margin-left: 10px;}
.gm-style .gm-style-iw-t::after{top: -32px!important;margin-left: 10px;}
.gm-fullscreen-control{display: none!important}
.gmnoprint{display: none!important}

.map_show{width: 100%; height: 2.8rem; background: #f5f5f5;pointer-events: none;}
.map_show>div{width: 100%; height: 2.8rem;}
.url_add{display: block; height: 100%;}
.url_add h3{font-family: moneyNumber;}

.bubble {width: .52rem; height: .74rem; position: relative;}
.bubble.shop {background: url('../images/paotui/quIcon.png') no-repeat center;background-size: .52rem .74rem;}
.bubble.courier {width: 1rem;height: 1rem;background: url('../images/paotui/qsIcon.png') no-repeat center;background-size: 1rem;}
.bubble.person {background: url('../images/paotui/shouIcon.png') no-repeat center;background-size: .52rem .74rem;}
.bubble.buy {background: url('../images/paotui/buyIcon.png') no-repeat center;background-size: .52rem .74rem;}

.bubble p {position: absolute;height:.54rem;box-shadow:0px 0px 6px #ccc;border-radius:.27rem;line-height: .54rem;padding: 0 .32rem;top: -.65rem;left: 50%;transform: translateX(-50%);font-size: .24rem;font-weight: bold;color: #000;background: #fff;display: inline-block;white-space: nowrap;z-index: 8}
.bubble p:after {position:absolute;content:'';left:50%;overflow:hidden;pointer-events:none;-webkit-transform:rotate(45deg);-mz-transform:rotate(45deg);transform:rotate(45deg);width: .18rem;height: .18rem;margin-left: -.09rem;background:#fff;box-shadow:none;bottom: -.09rem;}

/*取消订单确认*/
.mask_pop{position:fixed; background: rgba(0,0,0,.78); top: 0; left: 0; right: 0; bottom: 0; display: none;z-index: 100000}
.pop_confirm{width: 4.8rem; height: 2.7rem; position: fixed; top: 50%;margin-top: -1.35rem; left: 50%; margin-left: -2.4rem; border-radius: .3rem; background: #fff; overflow: hidden;box-shadow:0 .07rem .37rem 0 rgba(0, 0, 0, 0.13); display: none; animation: popup .3s ease-in-out;z-index: 100001}
.pop_confirm.show{display: block;}

.del_confirm{width: 4.8rem; height: 2.7rem; position: fixed; top: 50%;margin-top: -1.35rem; left: 50%; margin-left: -2.4rem; border-radius: .3rem; background: #fff; overflow: hidden;box-shadow:0 .07rem .37rem 0 rgba(0, 0, 0, 0.13); display: none; animation: popup .3s ease-in-out;z-index: 100001}
.del_confirm.show{display: block;}

.pop_tip{ border-bottom: solid .01rem #f5f5f7; text-align: center; position: relative;padding: .54rem .2rem .5rem}
.pop_tip h3{font-size: .32rem;color: #000;font-weight: bold;}
.pop_tip p{font-size: .24rem;color: #000;margin-top: .06rem}

.pop_btn {overflow: hidden;}
.pop_btn a{display: block; width: 50%; float: left; text-align: center; font-size: .3rem; color: #000; line-height: .86rem;font-weight: bold;}
.pop_btn a.sure_btn{ color: #1F66F2; box-sizing: border-box; border-left:solid .01rem  #f5f5f7;}
.pop_btn a.suredel_btn{ color: #1F66F2; box-sizing: border-box; border-left:solid .01rem  #f5f5f7;}
.anchorBL {
   display: none;
}