html,body{background: #f5f5f5;}
.tab_box ul{display: flex; justify-content: space-around; padding-bottom: .2rem; position: relative; z-index: 2;}
.tab_box ul li{font-size: .32rem; line-height: .88rem; color: #636466;}
.tab_box:before{content: ''; display: block; width: 100%; height: .88rem; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: #fff;}
.tab_box{position: fixed; top: .9rem; left: 0; right: 0; z-index: 9; /* position: relative; */}
.huoniao_iOS .tab_box{top:0;}
.tab_box ul li.on_tab{ color: #FCBF1C; position: relative; font-weight: 700;}
.tab_box ul li.on_tab:before{content: ''; display: block; width: .38rem; height: .06rem; border-radius: .03rem; background: #FCBF1C; position: absolute; bottom: 0; left: 50%; margin-left: -.19rem; box-shadow:0 .03rem .07rem 0 rgba(144,105,0,0.27);  transform: translate3d(0, 0, 0);}
.no-data{display: none;}
/*列表*/
.tab_con{padding-top: 1.8rem;}
.huoniao_iOS .tab_con{padding-top: .9rem;}
.tab_con .order_list li{padding: .2rem .2rem .28rem; background: #fff; position: relative; margin-bottom: .2rem;box-sizing: border-box; margin: .24rem; border-radius: .1rem;}
.left_logo{width: 1rem; height: 1rem; border-radius: .1rem; border: solid .01rem #eee; overflow: hidden; float: left;}
.left_logo img{width: 100%; height: 100%; object-fit: cover;}
.shop_info{margin-left: 1.4rem; padding-top: .14rem;}
.shop_info h2{color: #222; font-size: .3rem; line-height: .4rem; margin-bottom: .02rem;margin-right: 1.2rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.shop_info h2:after{content: ''; display: inline-block; width: .3rem; height: .4rem; background: url(../images/right_arr.png) no-repeat center; background-size: .3rem; vertical-align: middle; margin-bottom: .08rem; margin-left: .04rem;}
.shop_info p.order_time{color: #97989C; font-size: .24rem; margin-top: .12rem;}

.shop_info .order_info {padding-top: .36rem;}
.shop_info .order_info .order_detail{float: left;  font-size: .26rem;}
.shop_info .order_info .order_detail span{display: inline-block; max-width: 2.3rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; vertical-align: middle; margin-bottom: .04rem;}
.shop_info .order_info h3{float: right; font-size: .22rem; color: #222;}
.shop_info .order_info h3 em{font-size: .3rem;}
.shop_info .order_info{overflow: hidden;}
.btn_group {text-align: right; margin-top: .26rem;}
.btn_group a{display: inline-block; width: 1.6rem; line-height: .6rem; border: solid .01rem #E8E9EB; text-align: center; font-size: .28rem; margin-left: .16rem; border-radius: .04rem;}
.btn_group a.fn-hide{display: none;}
.btn_group a.com_order{background: #FCBF1C; color: #fff; border: none;}
.btn_group a.btn-bg{border: solid .01rem #fa6352;}
.order_state{ position: absolute; font-size: .24rem; color: #636466; display: block; right: .2rem; top: .32rem; text-align: right; width: 1rem; height: 1rem;}
.order_state p{color: #97989C; margin-top: .1rem; font-size: .24rem;}

.map_show{width: 100%; height: 2.6rem; background: #f5f5f5; margin-top: .3rem;}
.map_show>div{width: 100%; height: 2.6rem;}
.url_add{display: block; height: 100%;}
.url_add h3{font-family: moneyNumber;}

.bubble {-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-transition: background-color .15s ease-in-out; -moz-transition: background-color .15s ease-in-out; -o-transition: background-color .15s ease-in-out; transition: background-color .15s ease-in-out; cursor: pointer; opacity: 0.9; width: 40px; height: 40px; background-size: contain; background-position: center; background-repeat: no-repeat;}
.bubble.shop {background-image: url('/static/images/shop_local.png?v=1');}
.bubble.courier {background-image: url('/static/images/courier_local.png?v=1');}
.bubble.person {background-image: url('/static/images/person_local.png?v=1'); width: 30px; height: 30px;}

/*取消订单确认*/
.pop_confirm.show{display: block; z-index: 10002;}
.pop_confirm{width: 5rem; height: 2.7rem; position: fixed; top: 4rem; left: 50%; margin-left: -2.5rem; border-radius: .3rem; background: #fff; overflow: hidden;box-shadow:0 .07rem .37rem 0 rgba(0, 0, 0, 0.23); display: none; animation: popup .3s ease-in-out;}
.pop_tip{height: 1.8rem; border-bottom: solid .02rem #DCDDE0; font-size: .34rem; text-align: center; position: relative;}
.pop_tip p{position: absolute; top: 50%; left: 0; right: 0; margin-top: -.2rem; padding: 0 .24rem;}
.pop_btn {overflow: hidden;}
.pop_btn a{display: block; width: 50%; float: left; text-align: center; font-size: .32rem; color: #333; line-height: .88rem;}
.pop_btn a.sure_btn{background: #FEFAF0; color: #FFA800; box-sizing: border-box; border-left:solid .02rem  #DCDDE0;}
.mask_pop{position:fixed; background: rgba(0,0,0,.78); top: 0; left: 0; right: 0; bottom: 0; display: none; z-index: 10001;}
.wx_miniprogram .fixFooter{display:block !important;}
.huoniao_iOS .fixFooter{display:none;}
/* 字体 */

@font-face {
	font-family: moneyNumber;
	src: url('../../../waimai/touch/skin2/font/coregtd6.otf'),
		url('../../../waimai/touch/skin2/font/coregtd6.TTF'),
		url('../../../waimai/touch/skin2/font/coregtd6.svg'),
		 url('../../../waimai/touch/skin2/font/coregtd6.woff'); /* IE9 */
}