html,body{background-color: #F9F9F9;padding-bottom: .5rem}
.header-address{font-weight: 500;}
.header{z-index: 9;}
.order_state{margin: .24rem; background: #fff; padding: .4rem .22rem .3rem;border-radius: .1rem; display: none;box-shadow: 0px 3px 7px 0px rgba(120, 120, 120, 0.07);}
.order_state.show{display: block;}
.order_state h2{color: #222; font-size: .36rem;  text-align: center; font-weight: bold;}
.order_state h2:after{display: inline-block; width: .26rem; height: .26rem; background: url(../images/right_arr.png) no-repeat center; background-size: cover; content: ''; margin-left: .1rem;}
.order_state p.tip{color: #97989C; font-size: .24rem; text-align: center; margin-top: .16rem; margin: .22rem;}
.order_state p.cdown{text-align: center; font-size: .24rem ; color: #97989C; margin-top: .16rem; }
.order_state p.cdown em{color: #4F9FFF;}
.btn_group{text-align: center;margin-top: .2rem;}
.btn_group a{display: inline-block; text-align: center; line-height: .58rem; padding: 0 .25rem; border: solid .01rem #E8E9EB; font-weight: 400; margin: 0 .02rem;border-radius: .03rem}
.btn_group a.pay_btn,.btn_group a.commt_btn,.btn_group a.sure_btn{color: #fff; background: #FF5C50; border: none;}

.map_show{width: 100%; height: 3.2rem; background: #f5f5f5; margin-top: .32rem; overflow: hidden;}


/*收货码*/
.takeBox{margin: .2rem .24rem;background: #FFF;box-shadow: 0px 3px 7px 0px rgba(120, 120, 120, 0.07);border-radius: .16rem;}
.takeBox h3{background: #F2F5FA;text-align: center;height: .76rem;line-height: .76rem;font-size: .26rem;color: #636B77}
.takeBox h3 i{display: inline-block;width: .32rem;height: .32rem;background: url(../images/paotui/takeTip.png) no-repeat center; background-size: cover; vertical-align: top;margin-top: .2rem;margin-right: .08rem}
.takeCode{text-align: center;padding: .4rem 0}
.takeCode strong{font-size: .48rem;color: #333}
.takeCode p{font-size: .24rem;color: #999}

/*货品信息*/
.goodbox{margin: 0 .24rem;background: #FFF;box-shadow: 0px 3px 7px 0px rgba(120, 120, 120, 0.07);border-radius: .16rem;    overflow: hidden;}
.goodbox dt.pttitle{padding: .23rem .2rem;border-bottom: 1px solid #f5f5f7;font-size: .26rem;
    color: #404040;overflow: hidden;position: relative;}
.goodbox .pttitle .infobox{float: left;overflow: hidden;
    height: .4rem;}
.goodbox .pttitle span.ptype{padding: 0 .1rem;height: .4rem;line-height: .42rem;border-radius: .04rem;background: #F1F8FF;font-size: .24rem;color: #268EFF;float: left;}
.goodbox .pttitle span.ptype.buy{background: #FFF3F1;color: #FF7054;}
.goodbox .pttitle p.ptinfo{float: left;margin-left: .22rem;width: 4.88rem;font-size: .3rem;color: #39393B;}
.goodbox .pttitle p.ptinfo em{color: #E5E5E5;margin-left: .2rem;margin-right: .2rem}
.goodbox .pttitle i.moreTit{display: inline-block;width: .24rem;height: .24rem;background: url('../images/paotui/down.png') no-repeat center;background-size: .24rem;position: absolute;right: .23rem;top: .34rem;transition:  all .3s;display: none}
.goodbox .pttitle i.moreTit.up{transform: rotate(180deg);}

.ptcontent{margin-top: .12rem;}
.ptcontent .shoptype{margin: 0 .24rem;border-radius: .1rem;background: #fff;padding: 0 .22rem}
.ptcontent .shoptype li {position: relative;box-sizing: border-box;}
.ptcontent .shoptype li .qCon{padding: .25rem .3rem .25rem 0;margin-left: .68rem}
.ptcontent .shoptype li h3{font-size: .28rem;color: #39393B;}
.ptcontent .shoptype li p{font-size: .24rem;color: #A7A7AC;margin-top: .05rem}
.ptcontent .shoptype li p em{margin-left: .2rem}
.ptcontent .shoptype li span{width: .42rem;height: .42rem;border-radius: 50%;display: inline-block;position: absolute;left: 0;top: 50%;margin-top: -.21rem;background:#037CFF ;font-size: .24rem;color: #fff;text-align: center;line-height: .42rem;}
.ptcontent .shoptype li.take span{background: #FFAE33;}



.pay_box{ border-top: 1px solid #f5f5f7;}
.pay_box .payInfo{padding: .2rem 0;margin: 0 .24rem;}
.pay_box em.ptf{font-size: .26rem;color: #A7A7AC;float: left;margin-top: .02rem;}
.pay_box .pay_btn{display: block;float: right;position: relative;padding-right: .4rem;}
.pay_box .pay_btn span{display: inline-block;vertical-align: middle;}
.pay_box .pay_btn .juli{font-size: .28rem;color: #4C4C4D;}
.pay_box .pay_btn .count_fee{color: #39393B;font-size: .24rem}
.pay_box .pay_btn .count_fee:before{content: '';width: 1px;height: .22rem;background: #E5E5E5;display: inline-block;margin-right: .16rem;margin-left: .16rem}
.pay_box .pay_btn .count_fee strong{ font-size: .36rem;}
.pay_box .pay_btn i.moreMoney{display: inline-block;width: .24rem;height: .24rem;background: url('../images/paotui/down.png') no-repeat center;background-size: .24rem;position: absolute;right: 0;top: 50%;transition:  all .3s;margin-top: -.12rem}
.pay_box .pay_btn i.moreMoney.up{transform: rotate(180deg);}
.pay_box .priceInfo{padding: 0 .24rem;background: #FDFDFD;overflow: hidden;height: 0}
.pay_box .priceInfo .priceDiv{padding-top: .08rem;padding-bottom: .35rem}
.pay_box .priceInfo p{margin-top: .22rem}
.pay_box .priceInfo em{font-size: .26rem;color: #A7A7AC}
.pay_box .priceInfo span{font-size: .24rem;color: #39393B;float: right}
.pay_box .priceInfo strong{font-size: .26rem;}
.pay_box .priceInfo span.hb{color: #FF5C50}

/*订单详情*/
.dl_box{margin: .2rem .24rem; background-color: #fff; border-radius: .1rem;box-shadow: 0px 3px 7px 0px rgba(120, 120, 120, 0.07); }

/*配送信息*/
.order_box .dl_box dd{font-size: .28rem; color: #636466; text-align: right; padding: .26rem .26rem .26rem .24rem ; border-bottom: solid .01rem #f5f5f7;}
.order_box .dl_box dd:last-child{border: none;}
.order_box .dl_box dd label{float: left; color: #A7A7AC;font-size: .26rem}
.order_box .dl_box dd span{display: inline-block; max-width: 78%;font-size: .28rem;color: #39393B}
.order_box .dl_box dd span em.copyCode{color: #037CFF;margin-left: .38rem}
/*订单跟踪*/
.mask_pop{position:fixed; background: rgba(0,0,0,.78); top: 0; left: 0; right: 0; bottom: 0; display: none;z-index: 10}
.pop_page{position: fixed; bottom: -100%; left: 0; right: 0; background: #fff;border-radius: .3rem .3rem 0 0;z-index: 11}
.pop_page ul li.pop_li:last-child .tip{display: block;}
.pop_page h2{text-align: center; font-size: .36rem; color: #222; line-height: .88rem; border-bottom: solid .01rem #E8E9EB; position: relative; font-weight: bold;}
.pop_page h2 a.close_btn{display: block; width: .34rem; height: .34rem; background: url(../images/paotui/close.png) no-repeat center ; background-size: cover; position: absolute; top: .24rem; right: .24rem;}
.pop_page ul{padding: .5rem .55rem .75rem; padding-left: .6rem;}
.pop_page ul li{height: .9rem; padding-left: .3rem; position: relative;}
.pop_page ul li:before{content: ''; display: block; width: .1rem; height: .1rem; border-radius: 50%; background: #CBCBCB; position: absolute; left: -.05rem; top: 0;}
.pop_page ul li:after{content: ''; display: block; width: .01rem; height: .32rem;background: #CBCBCB; position: absolute; left: 0; top: .3rem;background: #E5E5E5;}
.pop_page ul li:last-child{border: none; left: 0.02rem;}
.pop_page ul li:last-child:after{display: none;}
.pop_page ul li:last-child:before{width: .2rem;height: .2rem;background: url(../images/paotui/active.png) no-repeat center ; background-size: cover;left: -.1rem}
.pop_page ul li .left_state{float: left; font-size: .26rem; color: #A7A7AC;line-height: 1.1em;}
.pop_page ul li .right_time{float: right; color: #97989C;  font-size: .26rem;}
.pop_page ul li .li_info{overflow: hidden;}
.pop_page ul li .tip{font-size: .26rem; color: #97989C; margin-top: .2rem; display: none;}
.pop_page ul li:last-child .left_state{color: #39393B;font-weight: bold;}
.pop_page ul li:last-child .right_time{color: #39393B;font-weight: bold;}

/*取消订单确认*/
.pop_confirm{width: 4.8rem; height: 2.7rem; position: fixed; top: 50%;margin-top: -1.35rem; left: 50%; margin-left: -2.4rem; border-radius: .3rem; background: #fff; overflow: hidden;box-shadow:0 .07rem .37rem 0 rgba(0, 0, 0, 0.13); display: none; animation: popup .3s ease-in-out;z-index: 11}
.pop_tip{ border-bottom: solid .01rem #f5f5f7; text-align: center; position: relative;padding: .54rem .2rem .5rem}
.pop_tip h3{font-size: .32rem;color: #000;font-weight: bold;}
.pop_tip p{font-size: .24rem;color: #000;margin-top: .06rem}

.pop_btn {overflow: hidden;}
.pop_btn a{display: block; width: 50%; float: left; text-align: center; font-size: .3rem; color: #000; line-height: .86rem;font-weight: bold;}
.pop_btn a.sure_btn{ color: #1F66F2; box-sizing: border-box; border-left:solid .01rem  #f5f5f7;}

/*地图*/
/*谷歌地图infowindow样式*/
.gm-style .gm-style-iw-c{top: -32px!important;margin-left: 10px;}
.gm-style .gm-style-iw-t::after{top: -32px!important;margin-left: 10px;}
.gm-fullscreen-control{display: none!important}
.gmnoprint{display: none!important}
.mapPath {position: fixed; left: 0; top: 0; right: 0; bottom: 0; background: #fff; z-index: 10; display: none;}
#mapPath {position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 1;}

.mapBtn {position: absolute; z-index: 2; left: 0; top: 0; right: 0;}
.mapBtn button {position: absolute; top: .3rem; width: .8rem; height: .8rem; background-color: #fff; background-position: center; background-repeat: no-repeat; box-shadow: 0 0 5px rgba(0, 0, 0, .2); border: 0; border-radius: 3px; outline: 0;}
#closeMap {left: .3rem; background-image: url('/static/images/close_2.png'); background-size: .4rem;}
#refreshMap {right: .3rem; background-image: url('/static/images/refresh.png'); background-size: .4rem;}

.bubble {width: .52rem; height: .74rem; position: relative;}
.bubble.shop {background: url('../images/paotui/quIcon.png') no-repeat center;background-size: .52rem .74rem;}
.bubble.courier {width: 1rem;height: 1rem;background: url('../images/paotui/qsIcon.png') no-repeat center;background-size: 1rem;}
.bubble.person {background: url('../images/paotui/shouIcon.png') no-repeat center;background-size: .52rem .74rem;}
.bubble.buy {background: url('../images/paotui/buyIcon.png') no-repeat center;background-size: .52rem .74rem;}

.bubble p {position: absolute;height:.54rem;box-shadow:0px 0px 6px #ccc;border-radius:.27rem;line-height: .54rem;padding: 0 .32rem;top: -.65rem;left: 50%;transform: translateX(-50%);font-size: .24rem;font-weight: bold;color: #000;background: #fff;display: inline-block;white-space: nowrap;}
.bubble p:after {position:absolute;content:'';left:50%;overflow:hidden;pointer-events:none;-webkit-transform:rotate(45deg);-mz-transform:rotate(45deg);transform:rotate(45deg);width: .18rem;height: .18rem;margin-left: -.09rem;background:#fff;box-shadow:none;bottom: -.09rem}


.ci_list .ci_left {float:left;width:25%;box-sizing:border-box;margin-top:.5rem; padding-bottom: .5rem;}
.ci_list .ci_left .point {width:1rem;margin:0 auto;}
.ci_list .ci_left .line {width:0.05rem;height:.9rem;display:block;margin:0 auto;background:#dadada;}
.ci_list .ci_left .line.on_1 {background:#f90101!important;}
.ci_list .ci_left  .qishou {width:1.1rem;margin:0 auto;}
.ci_list .ci_left  .qishou em {width:1.1rem;height:1.1rem; background: #e95249; border-radius: 50%; background-image: url(/static/images/peisong.png); background-position: center;background-repeat: no-repeat; background-size:70%;display:inline-block;}
.ci_list .ci_left .point em {position:relative;width:.25rem;height:.25rem;border-radius:100%;display:block;margin:0 auto;border:1px solid #d4d4d4;}
.ci_list .ci_left .point.on em {border:1px solid #f90101}
.ci_list .ci_left .point em i {width:.15rem;height:.15rem;background:#d4d4d4;position:absolute;top:0.05rem;left:0.05rem;border-radius:100%;}
.ci_list .ci_left .point.on em i {background: #f90101;}
.ci_list .ci_right {float:right;font-size:.24rem;width:75%;box-sizing:border-box;padding-right:.5rem; padding-bottom: .5rem;}
.ci_list .ci_right .ci_txt {margin-top:.4rem;}
.ci_list .ci_right .ci_txt span {float:left;position:relative;}
.ci_list .ci_right .ci_txt span  a {position:absolute;top:-.2rem;right:-.6rem;width:.5rem;height:.5rem;display:inline-block;background:url(/static/images/phone.png) no-repeat center;background-size:.5rem;vertical-align:text-bottom;}
.ci_list .ci_right .ci_txt em {float:right;color:#b7b7b7;}
.ci_list .ci_right p {color:#b7b7b7;margin-top:.1rem;}

.show{display: block;}

/* 20200413新增 */
.dl_box dt h2 em{color: #FFA800; font-weight: bold;}
.dl_box dt h2 .shopin_name{float: right; font-size: .28rem;}
.dl_box dt h2 .shopin_name::before{margin-top: 0.04rem;}
.shopin_box{width: 100%; height: 3.5rem; background:url(../images/shop_in.png) no-repeat top; background-size: 100% auto; margin-bottom: .2rem; padding-top: .3rem; box-sizing: border-box;}
.shopin_box .shopin_detail{margin: 0 .24rem; height: 3.2rem; border-radius: .1rem; background:linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(255,191,23,1) 100%); color: #fff; text-align: center; position: relative;}
.shopin_box .shopin_detail .rebuy_btn{background-color: #fff; border: none; border-radius: .03rem;}
.shopin_detail .desk_num{font-size: .56rem; font-weight: bold; font-family: moneyNumber;  padding-top: .36rem;}
.shopin_box .shopin_detail h4 a{font-size: .28rem; font-weight: bold; margin-top: .1rem; color: #fff;} 
.shopin_box .shopin_detail p{font-size: .22rem; margin-top: .1rem;}
.shopin_box .shopin_detail i{display: block; width: .76rem; height: .4rem; border-radius: 0 .2rem .2rem 0; background:linear-gradient(90deg,rgba(68,71,79,1) 0%,rgba(92,95,102,1) 100%); position: absolute; left: -.1rem; top: .16rem; line-height: .4rem; font-size: .22rem;}
.shopin_name::after{content: ''; display: inline-block; width: .3rem; height: .3rem; background: url(../images/r_arr1.png) no-repeat center; background-size:  cover; vertical-align: middle; margin-bottom: .04rem; margin-left: .04rem }
/* 字体 */

@font-face {
	font-family: moneyNumber;
	src: url('/static/fonts/coregtd6.otf'),
		url('/static/fonts/coregtd6.TTF'),
		url('/static/fonts/coregtd6.svg'),
		 url('/static/fonts/coregtd6.woff'); /* IE9 */
}

/*错误提示*/
.error{position: fixed; display: inline-block;padding: 0 .2rem; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: .28rem; line-height: .8rem; text-align: center;z-index: 1000002; left: 50%;  top: 50%;transform: translate(-50%,-50%); display: none;}
.anchorBL {
   display: none;
}