
.header-address span{color: #fff;}
.bgBox{height: 4.08rem; background: url(../images/account/bg.png) 0 0 no-repeat; background-size: 100% 4.08rem; color: #fff;padding-top: .9rem;box-sizing: border-box;transition: all .2s; margin-bottom: .85rem; position: relative; z-index: 1;}
.bgBox.active{background: url(../images/account/bg2.png) 0 0 no-repeat; background-size: 100% 4.08rem; }
.huoniao_iOS .bgBox {height: 3.08rem; padding-top: 0; background-size: 100% 3.08rem;}

.navTab {text-align: center;}
.navTab ul{display: inline-block;text-align: center;font-size: 0;padding-top: .9rem;}
.navTab li{display: inline-block;font-size: .36rem;position: relative;padding-bottom: .15rem;margin: 0 .39rem}
.navTab li a{color: rgba(255,255,255,0.5);}
.navTab li.curr a{color: #fff;font-weight: bold;}
.navTab li.curr:after{content: '';display: block;position: absolute;bottom: 0;left: 50%;margin-left: -.25rem;width: .5rem;height: .05rem;background: #fff;}

.navCon .swiper-container{white-space: nowrap;padding-bottom: 1.4rem;padding-top: .3rem}
.navCon .swiper-slide{background: #FFFFFF;box-shadow: 0 .17rem .77rem .07rem rgba(0, 0, 0, 0.07);border-radius: .3rem;max-width: 6.9rem}
.navCon .swiper-slide.myYe{margin-left: .3rem;}
.navCon .swiper-slide.myYe.speC{margin-left: .75rem}
.navCon .swiper-slide.myJf{margin-right: .3rem;margin-left: .15rem;}
.navCon .swiper-slide a{display: block;padding: .4rem .3rem .3rem .12rem;height: 1.9rem;box-sizing: border-box;}
.navCon .swiper-slide .aIcon{float: left;width: 1.18rem;height: 1.18rem;}
.navCon .swiper-slide .aIcon.yeIcon{background: url(../images/account/yeIcon.png?v=1) no-repeat; background-size: cover; font-size: .48rem; text-align: center; color: #fff; line-height: 1.12rem; font-family: moneyNumber;}
 .navCon .swiper-slide .aIcon.yeIcon span{display: block; position: relative;}
  .navCon .swiper-slide .aIcon.yeIcon span .txt{background-image: -moz-linear-gradient( 90deg, rgb(252,206,182) 0%, rgb(255,251,249) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(252,206,182) 0%, rgb(255,251,249) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(252,206,182) 0%, rgb(255,251,249) 100%);
   -webkit-background-clip: text;
    color: transparent; position: absolute; left: 0; right:0; top: 0;bottom: 0;} 
    .navCon .swiper-slide .aIcon.yeIcon span .shadow{color: #fff ;text-shadow: .02rem .06rem 0 rgba(206, 138, 20, 0.44);}
.navCon .swiper-slide .aIcon.jfIcon{background: url(../images/account/jfIcon.png) no-repeat; background-size: cover;}
.navCon .swiper-slide .linkA{float: right;height: .7rem;line-height: .7rem;border-radius: .35rem;width: 1.7rem;text-align: center;font-size: .32rem;color: #fff;background: #39342E;margin-top: .19rem}
.navCon .swiper-slide .linkA.cz{background: #397FFF}
.navCon .swiper-slide .rCon{float: left;}
.navCon .swiper-slide .rCon h2{font-size: .26rem;color: #999;padding-top: .05rem;}
.navCon .swiper-slide .rCon p{font-size: .54rem;color: #000;font-weight: bold;font-family: "coregtd";}
.qd{position: relative;z-index: 2}
.qd a{display: block;}
.qd img{max-width: 100%;display: block;}


/*列表*/
.operate {padding-top: .13rem; position: relative; z-index: 2;}
.operate ul{margin: 0 .3rem; margin-bottom: .24rem; border-radius: .3rem; background-color: #fff; 
box-shadow: 0 .17rem .77rem .07rem rgba(0, 0, 0, 0.05);}
.operate li{position: relative;}
.operate li:after{content: '';background:#f5f5f7; position: absolute;left: .94rem;right: 0;bottom: 0;height: 1px}
.operate li a{padding: .35rem 0 .35rem .3rem; font-size: .32rem; position: relative; display: block;}
.operate li a::after{ content: ''; height: .3rem; width: .3rem; background: 0 0; position: absolute; right: .3rem; top: 50%; margin-top: -.15rem;background: url(../images/account/arr.png) center center no-repeat;background-size: .3rem;}
.operate i.icon{display: inline-block;width: .44rem;height: .44rem;margin-right: .2rem;vertical-align: middle;margin-top: -.06rem}
.operate .recharge{background: url(../images/account/recharge.png) no-repeat center; background-size: .44rem;}
.operate .jiaoyi{background: url(../images/account/jiaoyi.png) center center no-repeat; background-size: .44rem;}
.operate .tixian{background: url(../images/account/tixian.png) center center no-repeat; background-size: .44rem;}
.operate .dashang{background: url(../images/account/dashang.png?v=1) center center no-repeat; background-size: .44rem;}
.operate .jfzhuan{background: url(../images/account/jfzhuan.png) center center no-repeat; background-size: .44rem;}
.operate .point{background: url(../images/account/point.png) center center no-repeat; background-size: .44rem;}
.operate .convert{background: url(../images/huan.png) center center no-repeat; background-size: .44rem;}
@font-face {
  font-family: "coregtd";
  src: url("/static/fonts/coregtd6.woff2"),
       url("/static/fonts/coregtd6.woff"),
       url("/static/fonts/coregtd6.ttf"),
       url("/static/fonts/coregtd6.eot"),
       url("/static/fonts/coregtd6.otf");
}
