
body, html{background: #fff;overflow: visible;}
.header{position: fixed; top: 0; left: 0; right: 0;border-bottom: none}

/*头部*/
.dsTitle{padding: .25rem .62rem;z-index: 6;background: #fff;position: fixed;top:.9rem;left: 0;right: 0; }
.huoniao_iOS .dsTitle{top: 0}
.dsTitle.boxS{box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.04);}
.dsTitle p{font-size: .3rem;color: #212121;display: inline-block;}
.dsTitle p.filerP{margin-left: 1rem}
.dsTitle p.filerP i{display: inline-block;width: .2rem;height:.2rem;background:url("../images/record/down.png") no-repeat;background-size:contain;margin-top: -.04rem;vertical-align: middle;}
.dsTitle p.filerP i{margin-left: .1rem}
.dsTitle p.active{color: #1374E1;font-weight: bold;}
.dsTitle p.speCurr{color: #1374E1;font-weight: bold;}
.mask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.5);z-index: 4;}
/*筛选弹窗*/
.filterWrap{padding: 0 .3rem;background: #fff;position: fixed;left: 0;right: 0;top: -100%;z-index: 5;    border-radius: 0 0 .3rem .3rem;}
.comTitle{font-size: .24rem;color: #999;margin-bottom: .2rem}
.filterWrap .filterCon{padding-bottom: .4rem;}
.filterWrap .filterCon:first-child{padding-top: .28rem}
.sameList {font-size: 0}
.sameList li{display: inline-block;width: 2.16rem;text-align: center;height: .64rem;line-height: .64rem;background: #F0F2F7;border-radius: .06rem;overflow: hidden;position: relative;margin-right: .2rem;margin-bottom: .2rem}
.sameList li:nth-child(3n){margin-right: 0}
.sameList li a{display: block;font-size: .26rem;color: #39393A;}
.sameList li.curr{background: #E6F0FC}
.sameList li.curr a{color: #0E6BDD;}
.sameList li.curr:after{content: '';width: .37rem;height: .37rem;background: url(../images/record/checked.png) left 0 no-repeat; background-size: .37rem;position: absolute;right: 0;bottom: 0; }

/*金额*/
.amoutMoney .symbol{display: inline-block;position: relative;padding:.13rem .22rem;border: solid 1px #eee;border-radius: .06rem;width: 2.16rem;box-sizing: border-box;}
.amoutMoney .rmb{color: #39393A;font-size: .26rem; }
.amoutMoney .inpbox input {width: 70%; padding: 0 .1rem;background: #fff;color:#333;outline: none;border: none;display: inline-block;font-size: .24rem;}
.amoutMoney .inpbox input::-webkit-input-placeholder {/* Chrome/Opera/Safari */color: #ccc;}
.amoutMoney .inpbox input::-moz-placeholder {/* Firefox 19+ */color: #ccc;}
.amoutMoney .inpbox input:-ms-input-placeholder {/* IE 10+ */color: #ccc;}
.amoutMoney .inpbox input:-moz-placeholder {/* Firefox 18- */color: #ccc;}
.amoutMoney .fh{font-size: .26rem;color: #39393A;margin-left: .1rem;}

.btnCon{padding-top: .3rem;border-top: 1px solid #f5f5f7;padding-bottom: .4rem}
.btnCon li{float: left;width: 3.3rem;text-align: center;height: .8rem;line-height: .8rem;background: #F0F2F7;border-radius: .1rem}
.btnCon li a{font-size: .3rem;color: #0E6BDD;}
.btnCon li.sureBtn {background: linear-gradient(-53deg, #106AE9 0%, #2681FF 100%);margin-left: .3rem}
.btnCon li.sureBtn a{color: #fff;}

/*列表*/
#list{padding-top: 1.8rem;background: #fff}
#list dt{background: #F5F5F7;padding: .3rem .33rem .26rem .33rem;position: sticky;top: 1.8rem;position: -webkit-sticky;z-index: 1 }
.huoniao_iOS #list {padding-top: .9rem}
.huoniao_iOS #list dt{top: .9rem}
#list p.month span{font-size: .28rem;color: #39393A;width: 1rem;}
#list p.month i{display: inline-block;width: .24rem;height:.24rem;background:url("../images/record/downArr.png") no-repeat;background-size:contain;margin-top: -.08rem;vertical-align: middle;}
#list dt .listTit{font-size: .24rem;color: #919191;margin-top: .08rem;}
#list dt .listTit em{margin-left: .1rem;margin-right: .1rem;}

.fakeDd{background: #F5F5F7;padding: .3rem .33rem .26rem .33rem;position: fixed;left: 0;right: 0;top: 1.8rem;}
.fakeDd p.month span{font-size: .28rem;color: #39393A;width: 1rem;}
.fakeDd p.month i{display: inline-block;width: .24rem;height:.24rem;background:url("../images/record/downArr.png") no-repeat;background-size:contain;margin-top: -.08rem;vertical-align: middle;}
.fakeDd .listTit{font-size: .24rem;color: #919191;margin-top: .08rem;}
.fakeDd .listTit em{margin-left: .1rem;margin-right: .1rem;}


.item{padding-left: .3rem;padding-top: .25rem}
.item .leftImg{float: left;width: .86rem;height: .86rem;}
.item .leftImg img{width: .86rem;height: .86rem;}
.item .rCon{margin-left:1rem; }
.item .rCon .rbox{padding-bottom: .18rem;border-bottom: 1px solid #f5f5f7;height: .86rem}
.item .rCon .rbox .topc{padding-top: .02rem}
.item .rCon .rbox h3{display: inline-block;width: 3.44rem;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;font-size: .3rem;color: #3A3A3A;}
.item .rCon .rbox .number{float: right;font-size: .32rem;color: #212121;font-family: "coregtd";margin-right: .32rem}
.item .rCon .rbox .number.add{color: #FFA333}
.item .rCon p.time{font-size: .22rem;color: #919191;}
.item .rCon p.time em{margin-right: .1rem}

.static{padding: .1rem .2rem; background: #fffaeb; border-bottom: 1px solid #fff6db; color: #666; font-size: .24rem; display: -webkit-box; margin-top: 1.8rem;}
.huoniao_iOS .static{margin-top: .8rem;}
.static span{display: inline-block; -webkit-box-flex: 1;}
.green{color: #30992e; font-size: .3rem; margin-right: .4rem;}
.orange{color: #ff6800; font-size: .3rem;}

.loading{line-height: 2rem; text-align: center; font-size: .3rem;}

@font-face {
  font-family: "coregtd";
  src: url("/static/fonts/coregtd6.woff2"),
       url("/static/fonts/coregtd6.woff"),
       url("/static/fonts/coregtd6.ttf"),
       url("/static/fonts/coregtd6.eot"),
       url("/static/fonts/coregtd6.otf");
}
/*时间选择*/
.dwc{width: 100%;}
.mbsc-mobiscroll .dwwr{background: #fff;    border-radius: .4rem .4rem 0 0;}
.mbsc-mobiscroll .dwv{position: absolute;top: .1rem;left: 50%;transform: translateX(-50%);font-size: .28rem;color: #949599}
.mbsc-mobiscroll .dwbc{border-bottom: 1px solid #fff;}
.mbsc-mobiscroll .dwc{padding: 0 .3rem 0 .3rem}
.mbsc-mobiscroll .dwb-c {float: left!important;}
.mbsc-mobiscroll .dwb-c .dwb{color: #999;font-size: .3rem;font-weight: bold;}
.mbsc-mobiscroll .dwb-s .dwb{font-size: .3rem;font-weight: bold;color: #0E73ED;}
.mbsc-mobiscroll .dwb-s{float: right!important;}
.dw-i{font-size: .3rem;color: #999}
.mbsc-mobiscroll .dwwol{border-bottom: 1px solid #E6E7ED!important;border-top: 1px solid #E6E7ED!important;}
.mbsc-mobiscroll .dwfl{padding: .5rem 0!important;}
.mbsc-mobiscroll .dwfl:last-child{display: none;}

.mbsc-mobiscroll .dw-li.dw-sel .dw-i{font-size: .32rem;color: #000;font-weight: bold;}

