body,html{background-color: #000;}
#clipArea {position: absolute;top:.9rem;bottom: 1.7rem;left:0rem;right:0rem;background: #000 url('https://pic.xiant.ao/static/images/ajax-loader.gif') center no-repeat;}
.huoniao_iOS #clipArea {top: 0;}
.filebtn {position: absolute;  top: 50%;left:50%; display: block;z-index: 10;width:7.5rem;height:7.5rem;margin-top:-3.75rem;margin-left:-3.75rem;text-align: center;line-height: 200px; position: relative;}
.filebtn img#image{margin: auto;display: block; left: 0; right: 0; top: 0; bottom: 0; margin: auto ; position: absolute; max-width: 100%; max-height: 100%;}
#Filedata {display: none;}




.btn {position: absolute; left:.6rem; bottom: .4rem;right:.6rem; height: .9rem; display: -webkit-box;}
.btn a {-webkit-box-flex: 1; background:rgba(0,0,0,.5);border-radius: .08rem;border:solid 1px #e8e9ed;color:#fff;font-size: .32rem;line-height: .9rem;text-align: center; display: block;}
.btn a:active{background-color: rgba(255,255,255,.15)}
.btn .change{border-radius: .08rem;border:solid 1px #e8e9ed;color:#fff;font-size: .32rem;}
.btn a.disabled {display: none;}
.btn a.reset {margin-right: .15rem;}
.btn a#save {margin-left: .15rem;}

.roate_btn{background:none; width: .6rem; height: .6rem; position: absolute; bottom:.2rem; left: .2rem; z-index: 999999; border: none; display: none;}
.roate_btn img{width: 100%; height: 100%;}
.mask_loading{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.3); z-index: 999999; display: none;}
.mask_loading img{width: 1rem; height: 1rem; animation: reload 1s reverse infinite linear; position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto;}
@keyframes reload{
	from{ transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}
