
body, html{background: #f4f4f4;}

.paypwd dt{width: 1.9rem;}
/*.editForm{display: none;}*/
.edit-tip {background: #fffaeb;margin-bottom: .2rem;padding: .2rem;font-size: .24rem;color: #666;border-bottom: 1px solid #fff6db;}
.edit-tip.speTip{background: none;border: none;font-size: .24rem;color: #999;padding: .22rem .3rem .34rem;margin-bottom: 0;}
/*.edit-tip{background: #fffaeb; margin-bottom: .2rem; padding: .2rem; font-size: .28rem; color: #666; border-bottom: 1px solid #fff6db;}*/
.edit-tip .tipIcon{display: inline-block;width: .32rem;height: .32rem;background: url('../images/tipIcon.png');background-size: .32rem;vertical-align: top;margin-right: .18rem;}
.edit-tip p.tipP{display: inline-block;max-width: 90%;line-height: .36rem}
#passwordStrengthDiv span {width: 260px; height: 14px; display: block; margin: 13px 0; background: url('../images/pass_strong.png');}
#passwordStrengthDiv.is10 span, #passwordStrengthDiv.is20 span {background-position: 0 -15px;}
#passwordStrengthDiv.is30 span, #passwordStrengthDiv.is40 span {background-position: 0 -30px;}
#passwordStrengthDiv.is50 span, #passwordStrengthDiv.is60 span {background-position: 0 -45px;}
#passwordStrengthDiv.is70 span, #passwordStrengthDiv.is80 span {background-position: 0 -60px;}
#passwordStrengthDiv.is90 span, #passwordStrengthDiv.is100 span {background-position: 0 -75px;}

#getPhoneVerify, #getPhoneAuthVerify, #getEmailAuthVerify, .getPhoneVerify, .getPhoneAuthVerify, .getEmailAuthVerify{display: block; position: absolute; right: .2rem; color: #fff; top: .04rem; background: #2D78FF; padding: 0 .2rem; border-radius: .1rem;    line-height: .7rem;}
#getPhoneVerify.disabled, #getPhoneAuthVerify.disabled, #getEmailAuthVerify.disabled, .getPhoneVerify.disabled, .getPhoneAuthVerify.disabled, .getEmailAuthVerify.disabled{background: #999;}
.getPhoneVerify:hover, .getPhoneAuthVerify:hover, .getEmailAuthVerify:hover{color: #fff;}


