a:hover {text-decoration:none;}
.header-address span{color: #fff;}
.bgBox{height: 4.96rem; background: url(../images/qiandao/bg.png) 0 0 no-repeat; background-size: 100% 4.96rem; color: #fff;padding-top: .9rem;box-sizing: border-box;transition: all .2s; }
.huoniao_iOS .bgBox {height: 3.96rem; padding-top: 0; background-size: 100% 3.96rem;}

.SignBox {position:relative;padding: .7rem .5rem .4rem}
.SignBox .leftImg{width: 1.2rem;height: 1.2rem;box-sizing: border-box;border-radius: 50%;border: .04rem solid #fff;float: left;}
.SignBox .leftImg img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}
.SignBox .rightCon{margin-left: 1.5rem;min-height: 1.2rem}
.SignBox .rightCon .toPoint{font-weight: bold;color: #fff;font-size: .36rem;}
.SignBox .rightCon .toPoint strong{font-size: .5rem;font-family: "coregtd";}
.SignBox .rightCon p{font-size: .26rem;color: #fff;margin-top: .06rem}

.ClickSign {width:5.8rem;height:.9rem;line-height:.9rem;text-align:center;color:#fff;background: linear-gradient(-90deg, #FF7700 0%, #FFB700 100%);border-radius: .45rem;font-size:.32rem;margin: .23rem auto .4rem}
.ClickSign.disabled {color: rgba(255,255,255,.6);}
/*日历签到列表*/
.rlWrap{background: #FFFFFF;box-shadow: 0px 17px 77px 0px rgba(0, 9, 61, 0.08);border-radius: .26rem;margin: 0 .3rem;position: relative;    margin-top: -1.75rem;
    overflow: hidden;}
#calendar {-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
/*日历头部*/
.sign_succ_calendar_title {text-align:center;width:100%;background:#fff;padding: .35rem .3rem .2rem;box-sizing: border-box;}
.calendar_month_span {display:inline-block;font-size:.36rem;color:#313233;font-weight:bold;}
.calendar_month_next {width:.4rem;height:.4rem;float:right;background:url(../images/qiandao/next.png) no-repeat center;cursor:pointer;background-size: cover;}
.calendar_month_next.disabled{opacity: .3}
.calendar_month_prev {width:.4rem;height:.4rem;float:left;background:url(../images/qiandao/prev.png) no-repeat center;cursor:pointer;background-size: cover;}
/*日历body*/
.sign .WeekDay{padding: 0 .22rem;display: flex;justify-content: space-between;margin-bottom: .2rem}
.sign .weekHead{border-bottom: 1px solid #f5f5f7;padding: 0 .22rem;display: flex;justify-content: space-between;}
.sign .weekHead span{font-weight: bold;font-size: .28rem;color: #9B9FB3;width: .72rem;text-align: center;line-height: .72rem;display: inline-block;}

.sign .WeekDay>div {width:.72rem;height:.72rem;font-size:.3rem;vertical-align:top;line-height:.72rem;position:relative;cursor:pointer;display: inline-block;text-align: center;font-weight: bold;color: #313233}
.sign .WeekDay>div i {position:absolute;left:50%;top:.6rem;width:6px;height:6px;border-radius:6px;
background: linear-gradient(-45deg, #FF8100 0%, #FF9C00 100%);display:none;margin-left: -3px;}
.sign .WeekDay>div span {position:absolute;left:0;right:0;top:.55rem;color:#9B9FB3;font-size:.2rem;width:.72rem;height:.22rem;line-height:.22rem;text-align:center;text-indent:0;display:none;font-weight: normal;}
.sign .WeekDay>div p {position:absolute;left:0;right:0;bottom:-11px;color:#adadad;font-size:.24rem;    text-align:center;text-indent:0;display:none;background:#f5b00c;color:#fff;height:0.4rem;line-height:0.4rem;}
.sign .WeekDay>div.today{background: linear-gradient(-45deg, #FF8100 0%, #FF9C00 100%);
border-radius: 50%;color: #fff;    display: flex; align-items: center;justify-content: center;}
.sign .WeekDay>div .TodayTips {border-radius:100%;}
.sign .WeekDay>div.on i {display:block;}
.sign .WeekDay>div.bu span {display:block;}
.sign .WeekDay>div span.noBu {display:block;}
.sign .WeekDay>div.special p {display:block;}
.sign .WeekDay.speWeek>div{height: 0;margin-bottom: 0}

/*签到规则*/
.RulesBox {margin: .2rem .3rem;background: #fff;box-shadow: 0px 17px 77px 0px rgba(0, 9, 61, 0.08);border-radius: .26rem;padding: .4rem .3rem .32rem;position: relative;}
.comhead {text-align: center;}
.comhead span{display: inline-block;font-size: .32rem;font-weight: bold;}
.comhead span:before,.comhead span:after{content: '';display: inline-block;width: .3rem;height: .3rem;background:url(../images/qiandao/left.png) no-repeat top;background-size:100%;}
.comhead span:before{content: '';margin-right: .3rem}
.comhead span:after{content: '';margin-left: .3rem}
.RulesBox .RuleNote {background: linear-gradient(90deg, #FFE8D3 0%, #FFEDDA 100%);border-radius: .2rem;font-size: .24rem;color: #80684D;line-height: .36rem;padding: .28rem .33rem;margin-top: .28rem}

/*积分兑换*/
.dhWrap{padding: .35rem .3rem .5rem;}
.dhWrap ul{padding-top: .25rem}
.dhWrap li{width: 3.36rem;float: left;background: #fff;box-shadow: 0px 7px 43px 0px rgba(0, 9, 61, 0.08);border-radius: .26rem;margin-right: .18rem;margin-top: .2rem;overflow: hidden;}
.dhWrap li:nth-child(2n){margin-right: 0;}
.dhWrap li .topImg{width: 100%;height: 3.36rem;}
.dhWrap li .topImg img{width: 100%;height: 100%;object-fit: cover;}
.dhWrap li .jfCon{padding: .18rem .18rem .32rem}
.dhWrap li .jfCon h2{max-width: 2.76rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: .28rem;font-weight: bold;}
.dhWrap li .jfCon p{font-size: .22rem;color: #9B9FB3;text-align: center;margin-top: .2rem;margin-bottom: .2rem}
.dhWrap li .jfCon p strong{font-size: .34rem;color: #ED2452}
.dhWrap li .jfCon .godh{text-align: center;}
.dhWrap li .jfCon .godh span{display: inline-block;width: 2rem;text-align: center;height: .64rem;line-height: .64rem;background: linear-gradient(-90deg, #FF1D5D 0%, #FF5B6A 100%);border-radius: .32rem;font-size: .28rem;color: #fff;}
/*更多商品*/
.moreGoods{margin: .6rem .55rem;}
.moreGoods a{display: block;width: 100%;height: .9rem;line-height: .9rem;background: linear-gradient(-90deg, #FF1D5D 0%, #FF5B6A 100%);border-radius: .45rem;font-size: .32rem;font-weight: bold;color: #fff;text-align: center;}

.disk {position:fixed;left:0;right:0;top:0;bottom:0;background:rgba(0,0,0,0.6);z-index:1;display:none;}
.SuccessBox {display:none;position:fixed;top:4.2rem;left:50%;margin-left:-2.6rem;width:5.2rem;z-index:2;animation: popup .3s ease-out;}
.SuccessBox.show{display: block;}
.SuccessBox .SuccessIcon{font-size: .26rem;font-weight: bold;color: #212121;margin-top: .1rem}
.SuccessBox .SuccessIcon span{display: inline-block;background: linear-gradient(0deg, #FF6101 0%, #FF9613 100%);-webkit-background-clip: text;color: transparent;font-style: italic;padding-right: .08rem}
.SuccessBox .SuccessIcon span strong{font-size: .56rem;font-family: "coregtd";}
.SuccessBox .SuccessIcon span i{font-style: italic;}
.SuccessBox .SuccessIcon p.spe{padding-top: .18rem}


/*补签弹窗*/
.SureBox {display:none;position:fixed;top:4.2rem;left:50%;margin-left:-2.6rem;width:5.2rem;z-index:2;animation: popup .3s ease-out;}
.SureBox.show{display: block;}
/*弹窗公共部分*/
.comWrap{background: #fff;text-align:center;box-shadow: 1px 13px 37px 0px rgba(0, 0, 0, 0.13);border-radius: .5rem;width:5.2rem;padding-bottom: .5rem;padding-top:1.9rem;}
.comWrap s.bg1{display: block;width: 4rem;height: 3rem;background:url(../images/qiandao/bg1.png) no-repeat center;background-size:cover;position: absolute;left: 50%;margin-left: -2rem;top: -1.3rem;z-index: 3}
.comWrap s.bg2{display: block;width: 5.4rem;height: 5.4rem;background:url(../images/qiandao/bg2.png) no-repeat center;background-size:cover;position: absolute;left: 50%;margin-left: -2.7rem;top: -2.8rem;z-index: 2}

.comWrap .comtitle {text-align:center;width: 2.6rem;height: .64rem;margin: 0 auto;}
.SureBox .comWrap .comtitle {background:url(../images/qiandao/ts.png) no-repeat center;background-size:cover;}
.QianBox .comWrap .comtitle.bq {background:url(../images/qiandao/bq.png) no-repeat center;background-size:cover;}
.QianBox .comWrap .comtitle.qd {background:url(../images/qiandao/qd.png) no-repeat center;background-size:cover;}

.SureBox p {font-size:.26rem;margin-top:.32rem;color: #222;font-weight: bold;}
.SureBox ul {width:4.2rem;margin:.5rem auto 0;}
.SureBox ul li {width:2rem;height:.8rem;line-height:.8rem;font-size:.32rem;font-weight: bold;border-radius: .4rem;color:#fff;}
.SureBox ul li.cancle {float:left;background:#BABABA }
.SureBox ul li.sure {float:right;background: linear-gradient(-90deg, #FF8200 0%, #FF9C00 100%);}
.SureBox .close,.SuccessBox .close {;width: .72rem;height: .72rem;background:url(../images/qiandao/close.png) no-repeat center;background-size:cover;margin: .6rem auto 0;}

.wraning {margin:0 .3rem .23rem;font-size:.22rem;color: #9B9FB3;font-weight: bold;text-align: center;}
.error{display: none;width: 3.6rem;text-align: center;height: 1rem;line-height: 1rem;background: rgba(39,41,51,.99);border-radius: .3rem;font-size: .26rem;color: #FFF;position: fixed;top: 50%;left: 50%;margin-left: -1.8rem;margin-top: -.5rem;z-index: 2}
@font-face {
  font-family: "coregtd";
  src: url("/static/fonts/coregtd6.woff2"),
       url("/static/fonts/coregtd6.woff"),
       url("/static/fonts/coregtd6.ttf"),
       url("/static/fonts/coregtd6.eot"),
       url("/static/fonts/coregtd6.otf");
}
