body,html{background-color: #F5F5F7;}
.jyBox {padding-top: .42rem; text-align: center; box-sizing: border-box; height: 4rem;}
.jyBox .jy_img{width: 1.02rem; height: 1.02rem; border-radius: 50%; margin: auto; /* background: url(../images/jy/tui.png) no-repeat center/cover; */}
.jyBox .jy_img img{display: block; width: 100%; height: 100%; object-fit: cover;}
.jyBox h6{font-size: .3rem;margin: 0 .8rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; margin-top: .3rem; color: #3B3B3B;}
.jyBox .jy_img.tui{background: #54A1FF; color: #fff; font-size: .48rem; font-weight: 900; line-height: 1.02rem;}
.jyBox .jy_img.ti{background: #FFBA4D; color: #fff; font-size: .48rem; font-weight: 900; line-height: 1.02rem;}
.jyBox h1{color: #212121; font-size: .48rem; font-family: moneyNumber; margin-top: .25rem;}
.jyBox p{font-size: .3rem; color: #3B3B3B; margin-top: .1rem;}
.jyBox p.forSure{color: #FFA333;}
.jyBox a{font-size: .3rem; color: #FFA333; margin-top: .1rem; display: block;}
@font-face {
	font-family:moneyNumber;
	src: url(/static/fonts/coregtd6.otf),
		 url(/static/fonts/coregtd6.eto),
	     url(/static/fonts/coregtd6.svg),
	     url(/static/fonts/coregtd6.ttf);
	
}
.fn-hide{display: none !important;}
.orderLink{padding:.2rem .3rem; border-radius: .2rem; background-color: #fff; display: flex; align-items: center; justify-content: space-between; margin-bottom: .3rem;}
.orderLink .odetail{max-width: 5.3rem;}
.orderLink h6{font-size: .3rem; color: #3B3B3B; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.orderLink p{color: #919191; font-size: .28rem; margin-top: .12rem;}
.orderLink::after{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/jy/arr.png) no-repeat center/cover; }

.jyDetail{background-color: #fff; border-radius: .2rem; padding: .2rem 0;}
.jyDetail li{padding: 0 .28rem; display: flex; align-items: center; justify-content: space-between;}
.jyDetail li label{color: #919191; font-size: .28rem; line-height: .74rem;}
.jyDetail li span{font-size: .28rem; color: #3B3B3B; font-weight: 500;word-break: break-all;overflow: hidden;max-width: 5rem;white-space: nowrap;text-overflow: ellipsis;}
.jyDetail li.jifen,.jyDetail li.recordto{padding-right: .2rem;}
.jyDetail li.jifen span{color: #0E73ED; display: flex; align-items: center;}
.jyDetail li.jifen span::after{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/jy/arr1.png) no-repeat center/cover; margin-left: .08rem;}
.jyDetail li.recordto span{display: flex; align-items: center;}
.jyDetail li.recordto span::after{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/jy/arr.png) no-repeat center/cover; margin-left: .08rem;}
















.mask_pop{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,.6); z-index: 100001; display: none;}
.pop{position: fixed; left: 0; right: 0;  z-index: 100002; background-color: #F5F5F7; border-radius: .3rem .3rem 0 0; display: none; bottom: -6rem; max-height: 6rem;overflow: auto;}
.pop dl{margin-bottom: .2rem; background-color: #FBFBFB;  border-radius: .3rem .3rem 0 0;}
.pop dt{color: #999 ; text-align: center; font-size: .24rem; line-height: .8rem;}
.pop dd{ border-top: solid 1px #E5E5E5; box-sizing: border-box; height: 1rem; display: flex; align-items: center; justify-content: space-between; padding: 0 .3rem; line-height: 1rem;}
.pop dd h4{font-size: .28rem; color: #000; font-weight: bold; max-width: 4.6rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.pop dd h4 em{display: inline-block; line-height: .4rem; border-radius: .06rem; min-width: .64rem; box-sizing: border-box; background-color: #0E73ED; text-align: center; color: #fff; font-size: .24rem; margin-right: .07rem;}
.pop dd a{display: flex;width: 100%; align-items: center; justify-content: space-between;}
.pop dd span{display: flex; align-items: center; color: #999; font-size: .28rem;}
.pop dd a span:after{content: ''; display: block; width: .26rem; height: .26rem; background: url(../images/jy/arr.png) no-repeat center/cover; margin-left: .04rem;}
.cancel_btn{display: block; line-height: 1rem; background-color: #fff; font-size: .32rem; color: #313233; text-align: center; font-weight: bold;}