body, html{background: #f0f0f2; font-size: .28rem;}

.wrap{padding: .2rem;}
.wrap ul li{background: #fff;margin-bottom: .2rem;border-radius: .12rem}
.wrap ul li a{display: block;padding: 0 .24rem;}
.wrap ul li a:active{background: #f2f2f2}
.wrap .info_top{height: .7rem;line-height: .7rem;font-size: .24rem;color: #919191;border-bottom: 1px solid #DCDDE3}
.wrap .info_top .state{float: right;font-size: .26rem;color: #999}
.wrap .info_top .state.in{color: #333}
.wrap .info_middle{position:relative;border-bottom: 1px solid #DCDDE3;padding: .3rem 0 .28rem}
.wrap .info_middle .info_tit{font-size: .3rem;color: #404040;max-width: 75%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;}
.wrap .info_middle .inv_price{font-size: .24rem;color: #F97126;margin-top: .05rem;}
.wrap .info_middle .inv_price span{font-size: .36rem;}
.wrap .info_middle .see_more{position: absolute;right: 0;top: .45rem;font-size: .26rem;color: #fff;background: #F97126;width: 1.43rem;height: .5rem;line-height: .5rem;text-align: center;border-radius: .04rem;}
.wrap .info_bottom{height: 1rem;line-height: 1rem;font-size: .28rem;color: #333;}
.wrap .info_bottom img{width: .27rem;height: .3rem;margin-right: .11rem;    vertical-align: top;
    margin-top: .35rem;}
.wrap .info_bottom .info{display: inline-block;max-width: 6.2rem;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}

.loading{text-align: center;line-height: .88rem;}



