body, html{background: #f0f0f2; font-size: .28rem;height: auto;min-height: 100%}
body{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	}

.header-r{visibility: visible;}
img{max-width: 100%}


.wrap{padding:0 .24rem;}
.order_header{background: #fff}
.order_header ul{font-size: 0;padding: 0 .4rem;display: flex;justify-content: space-between;}
.order_header ul li{font-size: .32rem;width: 1.37rem;text-align: center;color: #333;padding: .34rem 0 .25rem;border-bottom: 3px solid #fff}
.order_header ul li.active{border-bottom: 3px solid #F97126}
/*免费设计*/
.wrap .free_design li{margin-top: .2rem;background: #fff;padding: .3rem .4rem .3rem .3rem}
.wrap .free_design li .left_b{border-radius: .1rem;background-image: -moz-linear-gradient( 0deg, rgb(255,147,60) 0%, rgb(255,200,103) 100%);background-image: -webkit-linear-gradient( 0deg, rgb(255,147,60) 0%, rgb(255,200,103) 100%);background-image: -ms-linear-gradient( 0deg, rgb(255,147,60) 0%, rgb(255,200,103) 100%);width: 1rem;height: 1rem;color: #fff;float: left;position: relative;display: table-cell;vertical-align: middle;text-align: center;font-size: .28rem;font-weight: bold;    line-height: .35rem;padding-top: .15rem;box-sizing: border-box;}

.wrap .free_design li .left_b span{display: inline-block;}
.wrap .free_design li .left_b_on{border-radius: .1rem;background: #fb6c57;width: 1rem;height: 1rem;line-height:1rem;color: #fff;float: left;vertical-align: middle;text-align: center;font-size: .28rem;font-weight: bold;}

.wrap .free_design li .middle_b{margin-left: .3rem;float: left;}
.wrap .free_design li .middle_b .person_name{font-size: .34rem;color: #333;}
.wrap .free_design li .middle_b p{font-size: .28rem;color: #A6A6A6;margin-top: .1rem}

.wrap .free_design li .right_b{float: right;height: .89rem;width: .88rem;    margin-top: .1rem;}
.wrap .free_design li .right_b img{width: 100%;height: 100%;object-fit: cover}

.wrap .free_design li .bottom{    margin-top: .28rem;padding-top: .28rem;border-top: 1px solid #DCDDE3;}
.wrap .free_design li .bottom .village{font-size: .28rem;color: #333;}
/*在线报价*/
.wrap .online_price .tutor{margin-top: .2rem;background: #fff;padding: .3rem .4rem .3rem .3rem}
.wrap .online_price .left_b{border-radius: .1rem;background-image: -moz-linear-gradient( 0deg, rgb(255,147,60) 0%, rgb(255,200,103) 100%);background-image: -webkit-linear-gradient( 0deg, rgb(255,147,60) 0%, rgb(255,200,103) 100%);background-image: -ms-linear-gradient( 0deg, rgb(255,147,60) 0%, rgb(255,200,103) 100%);width: 1rem;height: 1rem;color: #fff;float: left;position: relative;display: table-cell;vertical-align: middle;text-align: center;font-size: .28rem;font-weight: bold;    line-height: .35rem;padding-top: .15rem;box-sizing: border-box;}

.wrap .online_price .left_b span{display: inline-block;}
.wrap .online_price .left_b_on{border-radius: .1rem;background: #fb6c57;width: 1rem;height: 1rem;line-height:1rem;color: #fff;float: left;vertical-align: middle;text-align: center;font-size: .28rem;font-weight: bold;}

.wrap .online_price .middle_b{margin-left: .3rem;float: left;}
.wrap .online_price .middle_b .person_name{font-size: .34rem;color: #333;}
.wrap .online_price .middle_b p{font-size: .28rem;color: #A6A6A6;margin-top: .1rem}

.wrap .online_price .right_b{float: right;height: .89rem;width: .88rem;    margin-top: .1rem;}
.wrap .online_price .right_b img{width: 100%;height: 100%;object-fit: cover}

.wrap .online_price .bottom{    margin-top: .28rem;padding-top: .44rem;border-top: 1px solid #DCDDE3;}
.online_price .line_ul{font-size: 0;padding: 0 .53rem 0 .26rem;display: flex;justify-content: space-between;}
.online_price .line_ul li{display: inline-block;text-align: center;}
.online_price .line_ul .fir_p{font-size: .28rem;color: #333;height: .3rem;line-height: .3rem;}
.online_price .line_ul .sec_p{font-size: .24rem;color: #999;margin-top: .2rem;}
.online_price .line_ul .fir_p.special{font-size: .24rem;}
.online_price .line_ul .special span{font-size: .36rem;}
/*参观工地*/
.wrap .site_ul li{margin-top: .2rem;background: #fff;padding: .3rem .4rem .3rem .3rem}
.wrap .site_ul li .left_b{border-radius: .1rem;background-image: -moz-linear-gradient( 0deg, rgb(255,147,60) 0%, rgb(255,200,103) 100%);background-image: -webkit-linear-gradient( 0deg, rgb(255,147,60) 0%, rgb(255,200,103) 100%);background-image: -ms-linear-gradient( 0deg, rgb(255,147,60) 0%, rgb(255,200,103) 100%);width: 1rem;height: 1rem;color: #fff;float: left;position: relative;display: table-cell;vertical-align: middle;text-align: center;font-size: .28rem;font-weight: bold;    line-height: .35rem;padding-top: .15rem;box-sizing: border-box;}
.wrap .site_ul li .left_b span{display: inline-block;}
.wrap .site_ul li .left_b_on{border-radius: .1rem;background: #fb6c57;width: 1rem;height: 1rem;line-height:1rem;color: #fff;float: left;vertical-align: middle;text-align: center;font-size: .28rem;font-weight: bold;}

.wrap .site_ul li .middle_b{margin-left: .3rem;float: left;}
.wrap .site_ul li .middle_b .person_name{font-size: .34rem;color: #333;}
.wrap .site_ul li .middle_b p{font-size: .28rem;color: #ff5d2f;font-weight: bold;margin-top: .1rem}

.wrap .site_ul li .right_b{float: right;height: .89rem;width: .88rem;    margin-top: .1rem;}
.wrap .site_ul li .right_b img{width: 100%;height: 100%;object-fit: cover}

.wrap .site_ul li .bottom{    margin-top: .28rem;padding-top: .28rem;border-top: 1px solid #DCDDE3;}
.wrap .site_ul li .bottom .site_name{font-size: .28rem;color: #333;}

/*智选客户*/
.wrap .smart_custom .tutor{    padding: .3rem .4rem 0 .3rem;}
.wrap .info_bottom{height: 1rem;line-height: 1rem;font-size: .28rem;color: #333;border-top: 1px solid #DCDDE3;margin-top: .36rem}
.wrap .info_bottom img{width: .27rem;height: .3rem;margin-right: .11rem;    vertical-align: top;
    margin-top: .35rem;}
.wrap .info_bottom .info{display: inline-block;max-width: 6.2rem;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}


.wrap .order_content{display: none;animation: rightFadeIn .5s ease-out;}
.wrap .order_show{display: block;}



.tip,.loading{text-align: center;line-height: .88rem}
.fn-hide{display: none}