body, html{background: #f0f0f2; font-size: .28rem;}


.invite_header{background: #fff;padding: .25rem .3rem .4rem;    margin-top: .2rem;}
.invite_header .info_top{font-size: .34rem;color: #404040;}
.invite_header .info_top .state{float: right;font-size: .26rem;color: #333}
.invite_header .info_top .state.in{color: #333}
.invite_header .info_middle{position:relative;border-bottom: 1px solid #DCDDE3;padding: .3rem 0 .2rem}

.invite_header .info_middle .inv_price{color: #F97126;margin-top: .05rem;}
.invite_header .info_middle .inv_price span{font-size: .36rem;}
.info_middle .inv_price li{display: inline-block;padding: 0 .3rem;border-left: 1px solid #DCDDE3;font-size: .24rem;height: .34rem;line-height: .34rem}
.info_middle .inv_price li:first-child{padding-left: 0;border-left:0;}
.info_middle .time{font-size: .24rem;color: #919191;margin-top: .45rem}
.info_bottom{font-size: .28rem;color: #333;padding-top: .4rem}
.info_bottom li span{display: inline-block;overflow: hidden;vertical-align: top}
.info_bottom li span:first-child{color: #666;margin-right: .2rem}
.info_bottom li:last-child{margin-top: .08rem}
.info_bottom img{width: .27rem;height: .3rem;margin-right: .11rem;    vertical-align: top;
    margin-top: .35rem;}
.info_bottom .info{display: inline-block;max-width: 5.2rem}

/*装修公司列表*/

.wrap{padding: .36rem .3rem 0;margin-top: .2rem;background: #fff;margin-bottom: calc(1.8rem + constant(safe-area-inset-bottom));margin-bottom: calc(1.8rem + env(safe-area-inset-bottom));}
.wrap .inv_title{font-size: .34rem;font-weight: 800;color: #404040;border-bottom: 1px solid #D8D9E3;padding-bottom: .3rem}

.reno_company ul .com_li{margin-top:.2rem;border-bottom: 1px solid #DCDDE3; }
.reno_company .com_li:last-child{border-bottom: 0}
.reno_company .com_bottom{    padding: .32rem .24rem .35rem .2rem;position: relative;border-radius: .06rem}

.reno_company .left_b{width: .84rem;height: .84rem;float: left;}
.reno_company .left_b img{width: 100%;height: 100%;object-fit:cover;border-radius: 50%}
.reno_company .right_b{margin-left: 1.04rem}
.reno_company .right_b .com_type{font-size: .34rem;font-weight: bold;color: #333;display: inline-block;    max-width: 3rem;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.reno_company .right_b .com1 span{display: inline-block;background-size: .34rem .39rem;font-size: .22rem;color: #fff;    width: .34rem;height: .39rem;line-height: .34rem;text-align: center;    vertical-align: top;margin-top: .04rem;}
.reno_company .right_b .defend{background: url(../images/renovation/defend.png) center center no-repeat;margin-right: .08rem;margin-left: .1rem}
.reno_company .right_b .certify{background: url(../images/renovation/certify.png) center center no-repeat;}
.reno_company .right_b .right_ul{font-size: 0;margin-top: .1rem}
.reno_company .right_b .right_ul li{color: #A0A0A0;font-size: .26rem;display: inline-block;margin-right: .2rem}
.reno_company .com_bottom .apply{position: absolute;right: .18rem;top: .48rem;font-size: .28rem;color: #fff;width: 1.36rem;height: .54rem;line-height: .54rem;text-align: center;border-radius: .04rem;background: #F97126;}
 .right_b .right_ul li span{margin-left: .1rem}

/*结束招标*/
.btn-box{text-align: center;padding: .2rem .4rem;background: #fff;position: fixed;bottom: 0;width: 100%;box-sizing: border-box;padding-bottom: calc(.2rem + constant(safe-area-inset-bottom));padding-bottom: calc(.2rem + env(safe-area-inset-bottom));}
.btn-box .btn-keep{display:inline-block;width: 100%;height: .88rem;color:#fff;line-height:.88rem;font-weight:bold;font-size:.3rem;border-radius:.1rem;background:#42444F;}

.loading{text-align: center;line-height: .88rem}