html{background: #f0f0f2;}
body,html{height: 100%}
.header{z-index: 1;}

.container .art_info1{padding: .6rem 0;background: #fff;margin-bottom: .2rem;text-align: center;margin-top: .2rem}
.art_info1 .art_name{color: #45464F;font-size: .36rem;margin-top: .4rem;text-align: center;border: 0;}
.art_info1 .art_name::placeholder{color: #45464F; }
/*图片上传*/
.img_box{margin-top: .36rem}
.img_box li{width: 2.1rem; height: 2.1rem; border-radius: .12rem; background-color: #f5f5f5; float: left; position: relative; margin-bottom: .2rem;}
.img_box li:nth-child(3n-1){margin-left: .3rem; margin-right:.3rem;}
.img_show {width: 2.1rem; height: 2.1rem; border-radius: .12rem; overflow: hidden; position: relative;}
.del_btn{width: .44rem; height: .44rem; z-index:3;border-radius: 50%; background-color: rgba(0,0,0,.67); position: absolute;top: -.18rem; right: -.18rem; color: #fff; font-size: .5rem; text-align: center;  font-style: normal; line-height: .44rem; transform: rotate(45deg);}
.img_box img,.img_show video{width: 100%;height: 100%;object-fit: cover}
.imgshow_box p{ background-color: rgba(0,0,0,.8); color: #fff; position: absolute; bottom: 0; text-align: center; }
.upload_btn p,.addbtn p{font-size: .24rem; color: #a2a4ab; text-align: center; margin: auto; line-height: 1.25em;}
.upload_btn img{width: .61rem; height: .53rem; margin: auto; display: block; margin-top: .44rem; margin-bottom: .2rem;}
.upload_btn input{width: 2.1rem; height: 2.1rem; position: absolute; top: 0; left: 0; opacity: 1;z-index: 10;}
.upload_btn,.addbtn{position: relative;}
#filePicker{height: 100%; overflow: hidden;}
.webuploader-element-invisible {position: absolute !important; clip: rect(1px,1px,1px,1px);}
.webuploader-container div {width: 2.1rem; height: 2.1rem;}

/*上传身份证*/

.qjimg_box .img_show{background-image: url(../images/renovation/add.png); background-repeat: no-repeat; background-position: center .55rem; background-size: .61rem .53rem;width: 2.1rem; height: 2.1rem; border-radius: .08rem; overflow: hidden; position: relative;}
.qjimg_box ul{width: 2.1rem;margin:0 auto;}
.qjimg_box ul .img_show{background-color: #F5F5F5;}
.qjimg_box ul>li{width: 2.1rem; height: 2.1rem; float: left; position: relative; }
.qjimg_box ul>li:nth-last-child(1):after{content: ''; display: block; clear: both;}
.qjimg_box ul>li:nth-child(3n-1){margin:0 .3rem ;}
.qjimg_box ul>li p{position: absolute; bottom: .59rem; text-align: center;}
.qjimg_box ul>li{position: relative;}
.qjimg_box ul>li .img{width: 100%; height: 100%; z-index:2;position: absolute; overflow: hidden; right: 0; top: 0; border-radius: .08rem; overflow: hidden;}
.qjimg_box ul>li .img img{width:100%; height: 100%;object-fit: cover;}
.qjimg_box p{ font-size: .24rem ; width: 100%;  color: #9fa1ab;}


.art_info2{background: #fff;margin-bottom: .2rem}
.info{padding: 0 .3rem;background: #fff;margin-top: .16rem}
.info li{border-bottom: 1px solid #d8d9e3;padding: .3rem 0;font-size: .3rem;color: #45464F;position: relative;}
.info li .name{float: left;}
.info .comp_cho.active{border-bottom:none;}
.info li input{float: right;text-align: right;border: 0;color: #45464f;padding-right: .43rem}
.info li input::placeholder{color: #9fa1ab; }
.info li .choose{float: right;margin-right: .1rem}
.info li .choose i{display: inline-block;width: .14rem;height: .24rem;background:url("../images/renovation/icon_next.png") no-repeat;background-size: contain;margin-left: .1rem;}
.info li:last-child{border-bottom: none}

.class-p{float: right;margin-right: .43rem}
.errorTip{font-size: .24rem;color: #F74C25;padding-left: .3rem}
.errorTip i{display: inline-block;width: .28rem;height: .28rem;background:url("../images/renovation/errorTip.png") no-repeat;background-size: contain;margin-right: .08rem;vertical-align: middle;margin-top: -.05rem}

/* 所属公司*/
.com-box{background: #fff;}
.com-box input{background: #fff;padding-right: .1rem!important}
.com-box .choose .text{color: #9fa1ab;margin-right: .1rem}
.teacher input{background: #fff;}
#tec_num{max-width: 5rem;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.tip{text-align: center;}


.class_wrap{padding:.38rem .3rem;background: #fff;margin-bottom: .2rem}
.info_title{font-size: .3rem;color: #333;}


/*保存按钮*/
.btn-box{text-align: center;padding:.21rem .24rem;     position: absolute;bottom: 0;width: 100%;box-sizing: border-box;background: #fff}
.btn-box .btn-keep{display:inline-block;width: 100%;height: .88rem;color:#fff;line-height:.88rem;font-weight:bold;font-size:.3rem;border-radius:.08rem;background:linear-gradient(90deg,rgba(255,108,55,1) 0%,rgba(255,154,79,1) 100%);box-shadow:0px 5px 5px 0px rgba(255,133,68,0.31);}


/*信息提示框*/
.error{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000; display: none;}
.error p{position: fixed; width: 150px; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 50%; margin-left: -75px; top: 50%; margin-top: -24px;}

