body, html{background: #f0f0f2; font-size: .28rem;}

.wrap{padding: 0 .2rem;}
.order_header{background: #fff}
.order_header ul{font-size: 0;padding: 0 .62rem;display: flex;justify-content: space-between;}
.order_header ul li{font-size: .32rem;width: 1.37rem;text-align: center;color: #333;padding: .34rem 0 .25rem;border-bottom: 3px solid #fff}
.order_header ul li.active{border-bottom: 3px solid #F97126}
/*装修公司列表*/

.order_content ul .com_li{margin-top:.2rem;background: #fff; }
.order_content .com_bottom{    padding: .32rem .24rem .35rem .27rem;box-shadow:0px 2px 6px 0px rgba(214,214,214,0.3);position: relative;border-radius: .06rem}
.order_content .left_b{width: .84rem;height: .84rem;float: left;}
.order_content .left_b img{width: 100%;height: 100%;object-fit:cover;border-radius: 50%}
.order_content .right_b{margin-left: 1.04rem}
.order_content .right_b .com_type{font-size: .34rem;font-weight: bold;color: #333;display: inline-block;max-width: 3.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
.order_content .right_b .com1 span{display: inline-block;background-size: .34rem .39rem;font-size: .22rem;color: #fff;    width: .34rem;height: .39rem;line-height: .34rem;text-align: center;    vertical-align: top;margin-top: .04rem;}
.order_content .right_b .defend{background: url(../images/renovation/defend.png) center center no-repeat;margin-right: .08rem;margin-left: .1rem}
.order_content .right_b .certify{background: url(../images/renovation/certify.png) center center no-repeat;}
.order_content .right_b .right_ul{font-size: 0;margin-top: .1rem}
.order_content .right_b .right_ul li{color: #A0A0A0;font-size: .26rem;display: inline-block;margin-right: .2rem}
.order_content .com_bottom .apply{position: absolute;right: .24rem;top: .48rem;font-size: .28rem;color: #fff;width: 1.36rem;height: .54rem;line-height: .54rem;text-align: center;border-radius: .04rem;background: #F97126;}
.wrap .order_content{display: none;animation: rightFadeIn .5s ease-out;}
.wrap .order_show{display: block;}

.vill_site ul li{padding: .3rem .28rem;box-shadow:0px 2px 6px 0px rgba(214,214,214,0.3);border-radius:.06rem;background: #fff;margin-top: .2rem}

.vill_site .left_img{width: 1.76rem;height: 1.76rem;float: left;}
.vill_site .left_img img{width: 100%;height: 100%;object-fit: cover;}
.vill_site .r_content{margin-left:2.06rem; }
.vill_site .r_content .vill_title{font-size: .34rem;color: #333;font-weight: bold;max-width: 4.95rem;text-overflow: ellipsis;overflow: hidden;white-space: nowrap; }
.vill_site .r_content .vill_info2{font-size: .26rem;color: #A0A0A0;margin-top:.16rem;margin-bottom: .3rem}
.vill_site .r_content .visit{font-size: .26rem;color: #fff;background: #F97126;width: 1.43rem;height: .5rem;line-height: .5rem;text-align: center;border-radius: .04rem;}


.loading{text-align: center;line-height: .88rem}

