body, html{background: #f8f8f8; font-size: .28rem;}

/*.header-l{padding-right: .8rem;}*/
.header-r{visibility: visible;}

.info_state{padding-left: .24rem;line-height: .66rem}
/* 卡片 */
.card_content{padding-bottom: .5rem}
.card_content dl{background: #fff; border-radius: .2rem; box-shadow:0 .03rem .17rem rgba(0, 0, 0, 0.05); margin: 0 .3rem; margin-top: .3rem;}
.card_content dt {padding: 0 .3rem; line-height: .9rem;height:.9rem; overflow:hidden; border-bottom: solid 1px #f5f5f7; position: relative;}
.card_content dt .more_btn{position: absolute; font-size: .24rem; color: #fff; top: .2rem; right: .2rem;padding: 0 .22rem;height: .5rem;line-height: .52rem;border-radius: .25rem;background:linear-gradient(-25deg,rgba(255,60,74,1) 0%,rgba(255,112,84,1) 100%);}

.card_content dt h3{font-size: .3rem; color: #000; font-weight: 600; line-height:1rem;}
.card_content dd{padding: .2rem 0; padding-bottom: .3rem; margin: 0 .2rem}
.card_content dd .m_div{float: left; text-align: center; width: 25%;}
.card_content dd .m_div a{display: inline-block; font-size: .24rem; color: #6A6D80; padding: .1rem; }
.card_content dd .m_div a:active{background: #f5f5f5;}
.card_content dd .m_div i{display: block; width: .66rem; height: .66rem; margin: auto; margin-bottom: .08rem; position: relative;}
.card_content dd .m_div  img{display: block; width: .66rem; height: .66rem; object-fit: cover; }
.card_content dd .m_div.new_tip i:after{content: ' '; display: block; width: .14rem; height: .14rem; border-radius: 50%; background: #FF523B; position: absolute; top: -.04rem; right: -.04rem;}

/*商家工作台*/
.card_content .company{background: #fff; border-radius: .2rem; box-shadow:0 .03rem .17rem rgba(0, 0, 0, 0.05); margin: 0 .3rem; margin-top: .3rem;padding: 0 .3rem .46rem}
.card_content .company h3{font-size: .3rem; color: #000; font-weight: 600; padding: .3rem 0 .28rem}
.card_content .company .go{text-align: center;}
.card_content .company a{display: inline-block;height: .72rem;line-height: .72rem;font-size: .28rem;color: #fff;padding: 0 .43rem;background:linear-gradient(90deg,rgba(232,172,139,1) 0%,rgba(179,138,112,1) 100%);
box-shadow:0px 10px 21px 0px rgba(180,139,112,0.39);border-radius: .34rem}
.card_content .company p{text-align: center;font-size: .24rem;color: #666;margin-top: .28rem}

.joinItem{margin: .3rem .3rem 0;border-radius: .2rem;padding:  .3rem .3rem .26rem}
.artJoin{box-shadow:0px 8px 13px 0px rgba(114,1,9,0.09);background: #FFF3EE url('../images/renovation/artJoin.png') no-repeat center right ;background-size: 3.2rem 100%; }
.foreJoin{box-shadow:0px 8px 13px 0px rgba(0,34,123,0.09);background: #EDF2FF url('../images/renovation/foreJoin.png') no-repeat center right;background-size: 3.2rem 100%;}
.joinItem h2{font-size: .32rem;color: #333;font-weight: bold;}
.joinItem h3{font-size: .24rem;font-weight: bold;   }
.joinItem.artJoin h3{color: #DE9888}
.joinItem.foreJoin h3{color: #9AA8DC}
.joinItem a{display: inline-block;height: .5rem;line-height: .5rem;border-radius: .25rem;padding: 0 .22rem;margin-top: .3rem;font-size: .24rem;color: #fff;}
.joinItem.artJoin a{background:linear-gradient(-25deg,rgba(244,94,44,1) 0%,rgba(255,136,34,1) 100%);}
.joinItem.foreJoin a{background:linear-gradient(-25deg,rgba(60,101,255,1) 0%,rgba(84,128,255,1) 100%)}