body, html{background: #edeef2; font-size: .28rem;min-height: 100%;opacity: 1;padding-bottom: 1.2rem; padding-bottom: calc(1rem + constant(safe-area-inset-bottom));}



.content{padding-bottom: .9rem;padding-bottom: calc(.9rem + env(safe-area-inset-bottom));padding-bottom: calc(.9rem + constant(safe-area-inset-bottom));}

.header{position: fixed; left: 0; right: 0; top: 0; z-index: 999;}
.header-r{visibility: visible;}
.tab{position: fixed; left: 0; right: 0; top: .9rem; background: #fff; z-index: 99;}
.huoniao_iOS .tab{top: 0;}

/*选项卡*/

.tab ul{display: -webkit-box;height: .8rem;line-height: .8rem;}
.tab ul li{-webkit-box-flex: 1; text-align: center; border-bottom: 1px solid #dcdde3; font-size: .28rem;position: relative; }
.tab ul li.curr a{color:#f9412e;}
.tab ul li.curr s{display:block;width:.28rem;height:.05rem;background:#f9412e;border-radius: 2.5px;margin:auto;position: relative;
    top: -.15rem;}
.tab ul li.sel select{background: transparent; }
.tab ul li em {display: none; position: absolute; bottom: 50%; left: 70%; min-width: .25rem; max-width: .6rem; height: .3rem; line-height: .28rem; padding: .01rem .04rem .01rem .04rem; background: #f9412e; border-radius: 10px; color: #fff; font-size: .2rem; overflow: hidden;}

/*列表*/
.content{padding-top: 1.7rem; }
.huoniao_iOS .content{padding-top:.8rem;}
.house-box{margin: .2rem; background: #fff;border-radius: .12rem;padding:0 .24rem;}
.house-box .title{height:.7rem;line-height:.7rem;border-bottom: 1px solid #dcdde3; }
.house-box .title span{color:#919191;font-size: .24rem;}
.house-item{padding: .3rem 0;overflow: hidden;}
.house-item .house-img{width: 2rem;height: 1.5rem;margin-right: .22rem;float: left;position: relative;background: #f5f5f5;}
.house-item .house-img img{max-width: 100%;max-height: 100%;position: absolute;top:0;left:0;right: 0;bottom: 0;margin:auto;}
.house-item dl{position: relative; overflow: hidden; display: block;}
.house-item dt span{display: inline-block;font-size: .2rem;border: 1px solid #9abe54;color: #9abe54;border-radius: .08rem;margin-left: .1rem;padding: 0 .06rem;}
.house-item dt{font-size: .3rem;color: #404040}
.house-item dd{color: #999;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;height: .4rem;line-height: .4rem;font-size: .23rem;}
.house-item dd.manage_order{margin-top: .28rem;font-size: .24rem;color: #919191;  height: .3rem ;line-height: .26rem;}
.o{padding: 0 0 .3rem;}
.o a{border-radius: .04rem; color: #333; font-size: .24rem; float: right;padding:.1rem .36rem .1rem .72rem;border:solid 1px #c0c1c4;border-radius:.52rem;}
.o a.bid{background: url(../images/bid.png) center left no-repeat; background-size: .36rem auto;}
.o a.edit{border-radius:.52rem;background: url(../images/icon_edit.png) 28% center no-repeat; background-size: .26rem auto;margin-left:.3rem;}
.o a.del{background: url(../images/icon_del.png) 28% center no-repeat; background-size: .24rem auto;}

.house-box{border-bottom: 1px solid #f4f4f4;}
.loading{text-align: center; line-height: 1rem;}

.fabuBtn {background-color: #edeef2;position: fixed;left:0;right: 0;bottom: 0;padding:.25rem 0;padding-bottom: calc(.25rem + env(safe-area-inset-bottom));padding-bottom: calc(.25rem + constant(safe-area-inset-bottom));}
.fabuBtn a{width:6rem; height: 0.8rem;margin: auto;border-radius: .1rem;background-color: rgb(66, 68, 79);display: block; line-height: .89rem;  text-align: center; font-size: .3rem; font-weight:bold;color: #fff;}

.tip{text-align: center; line-height: 1rem;}
.alert-content{overflow: hidden;}

