body, html{font-size: .3rem; opacity: 1;background: #F2F3F5!important;overflow: visible;}
.header {position: fixed;left: 0;right: 0;top: 0}
.bgbox{padding: .2rem;position: relative;z-index: 2;background: #F2F3F5;padding-top: 1.1rem }
.huoniao_iOS .bgbox {padding-top: .2rem;}
.incomeBox{box-shadow: 0px 10px 27px 0px rgba(212, 212, 212, 0.41);border-radius: .2rem;padding: .28rem 0 .32rem;overflow: hidden;background: #fff}
.incomeBox dl{float: left;width: 50%; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;text-align: center;}
.incomeBox dl.allIn{border-right: 1px solid #eee}
.incomeBox dl dt{font-size: .48rem;color: #39393A;font-weight: bold; font-family: "coregtd";}
.incomeBox dl dd{font-size: .24rem;color: rgba(57,57,58,.5);margin-top: .02rem;}


.tips{color: #a3a3a3; margin: 25px 0 20px;}
.gray{color: #a3a3a3;}
.countBox{margin-top: .3rem;padding-bottom: .5rem;}
.countBox li{float: left;width: 2.22rem;font-size: .24rem; padding: .24rem .2rem .34rem;color: #fff;border-radius: .2rem;overflow: hidden;position: relative;margin-left: .2rem;box-sizing: border-box;}
.countBox li:first-child{margin-left: 0;}
.countBox li strong{font-size: .36rem;position: relative;z-index: 2;display: block;font-family: "coregtd";}
.countBox li p{position: relative;z-index: 2}
.countBox li i{position: absolute;bottom:0;right: 0;width: 120px;height: 120px;display: block;}
.countBox li.allSh{background: linear-gradient(160deg, #F73534 0%, #FF6663 99%);box-shadow: 0px 10px 27px 0px rgba(249, 80, 77, 0.41);}
.countBox li.award{background: linear-gradient(160deg, #1163D6 0%, #11A0F2 99%);box-shadow: 0px 10px 27px 0px rgba(43, 174, 253, 0.41);}
.countBox li.shaNum{background: linear-gradient(160deg, #FF7418 0%, #FFA939 100%);box-shadow: 0px 10px 27px 0px rgba(246, 154, 55, 0.41);}


.listWrap{padding: 0 0 .5rem;position: relative;}
.listWrap .dsTitle.topFixed{position: fixed;top:.9rem;left: 0;right: 0;padding-top: .2rem;}
.huoniao_iOS .listWrap .dsTitle.topFixed {top: 0;}
.dsTitle{padding: 0 .2rem;position: relative;z-index: 2;background: #F2F3F5; }
.dsTitle p{font-size: .28rem;color: #39393A;background: #fff;display: inline-block;height: .56rem;line-height: .56rem;padding: 0 .25rem;border-radius: .28rem}
.dsTitle p.month input{font-size: .28rem;color: #39393A;width: 1.1rem;border: 0;background:none;}
.dsTitle p.month input::-webkit-input-placeholder{color: #39393A;font-size: .28rem;}
.dsTitle p i{display: inline-block;width: .2rem;height:.2rem;background:url("../images/reward/down.png") no-repeat;background-size:contain;margin-top: -.04rem;vertical-align: middle;}
.dsTitle p.filerP{float: right;}
.dsTitle p.filerP i{margin-left: .1rem}
.dsTitle p.filerP.active i{background:url("../images/reward/up.png") no-repeat;background-size:contain;}
.dsTitle p.filerP.curr{color: #1374E1;}
.dsTitle p.filerP.curr i{background:url("../images/reward/acdown.png") no-repeat;background-size:contain;}
.dsTitle p.filerP.active.curr i{background:url("../images/reward/acup.png") no-repeat;background-size:contain;}

/*打赏记录*/
/*列表头部*/
.listCon{background: #fff;margin: 0 .2rem;padding: 0 .22rem 0 .24rem;box-shadow: 0px 3px 17px 0px rgba(0, 0, 0, 0.05);border-radius: 0 0 .2rem .2rem;}
.listTit{height: .74rem;line-height: .74rem;text-align: right;font-size: .28rem;color: #999;border-bottom: 1px solid #f5f5f7;margin-top: .2rem;background: #fff;border-radius: .2rem .2rem 0 0;padding: 0 .22rem 0 .24rem}
.listTit .sr{font-size: .26rem;position: relative;}
.listTit em.tt{margin-right: .1rem;font-size: .26rem}
.listTit .tipI{position: relative;}
.listTit .tipI i{display: inline-block;background: url("../images/reward/tip.png") no-repeat center center;background-size: cover;width: .26rem;height: .26rem;vertical-align: middle;margin-top: -.06rem;cursor: pointer;margin-left: .08rem}
.listTit .tipI.click s{display: inline-block;width: 0;height: 0;border: .09rem solid;border-color: transparent transparent #39393A;position: absolute;left: 50%;margin-left: -.08rem;top:.25rem;}
.tipCon{background: #39393A;border-radius: .1rem;padding: .18rem .24rem;font-size: .24rem;color: #fff;line-height: .3rem;position: absolute;right: -.12rem;top: .64rem;display: none;    width: 2.66rem;
    text-align: left;box-sizing: border-box;}


.list li{overflow: hidden;padding: .13rem 0 0;}
.list li .comImg{float: left;width: .64rem;height: .64rem;}
.list li .comImg.dsImg{background: url(../images/reward/money.png?v=1) no-repeat; background-size: .64rem;}
.list li .comImg.giftImg{background: url(../images/reward/gift.png) no-repeat; background-size: .64rem;}
.list li .rightCon{margin-left:.2rem ;float: left;padding-bottom: .36rem;border-bottom: 1px solid #f5f5f7;width: 5.8rem;padding-top: .1rem}
.list .topT h2{font-size: .3rem;font-weight: bold;color: #333;max-width: 4rem;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;display: inline-block;}
.list .topT h2 a{color: #333;}
.list .topT span{float: right;font-size: .24rem;color: #333;}
.list .topT span strong{font-family: "coregtd";font-size: .3rem;}
.list li .rightCon h3{font-size: .24rem;color: #999;max-width: 4.86rem;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;margin-top: .16rem}
.list li .rightCon h3 a{color: #999}
.list li .rightCon .time{font-size: .24rem;color: #999; margin-top: .14rem;}



.loading, .empty{line-height: 1rem; text-align: center;}

@font-face {
  font-family: "coregtd";
  src: url("/static/fonts/coregtd6.woff2"),
       url("/static/fonts/coregtd6.woff"),
       url("/static/fonts/coregtd6.ttf"),
       url("/static/fonts/coregtd6.eot"),
       url("/static/fonts/coregtd6.otf");
}

/*时间选择*/
.dwc{width: 100%;}
.mbsc-mobiscroll .dwbc{border-bottom: 1px solid #dcdcdc;}
.mbsc-mobiscroll .dwb-c {float: left!important;}
.mbsc-mobiscroll .dwb-c .dwb{color: #666;}
.mbsc-mobiscroll .dwb-s{float: right!important;}
.dw-i{font-size: .3rem;font-weight: 500;}
.mbsc-mobiscroll .dwwol{border-bottom: 1px solid #dcdcdc!important;border-top: 1px solid #dcdcdc!important;}
.mbsc-mobiscroll .dwfl{padding: .5rem 0!important;}
.mbsc-mobiscroll .dwfl:last-child{display: none;}

.mask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.5);z-index: 1;}
/*筛选弹窗*/
.filterWrap{padding: 0 .3rem;background: #fff;position: absolute;left: 0;right: 0;top: .96rem;z-index: 2;height: 0;overflow: hidden;}
.comTitle{font-size: .24rem;color: #999;margin-bottom: .2rem}
.filterWrap .filterCon{padding-bottom: .4rem;}
.filterWrap .filterCon.incomeSor{padding-top: .28rem}
.sameList {font-size: 0}
.sameList li{display: inline-block;width: 2.16rem;text-align: center;height: .64rem;line-height: .64rem;background: #F0F2F7;border-radius: .06rem;overflow: hidden;position: relative;margin-right: .2rem;margin-bottom: .2rem}
.sameList li:nth-child(3n){margin-right: 0}
.sameList li a{display: block;font-size: .26rem;color: #39393A;}
.sameList li.curr{background: #E6F0FC}
.sameList li.curr a{color: #0E6BDD;}
.sameList li.curr:after{content: '';width: .37rem;height: .37rem;background: url(../images/reward/checked.png) left 0 no-repeat; background-size: .37rem;position: absolute;right: 0;bottom: 0; }

/*金额*/
.amoutMoney .symbol{display: inline-block;position: relative;padding:.13rem .22rem;border: solid 1px #eee;border-radius: .06rem;width: 2.16rem;box-sizing: border-box;}
.amoutMoney .rmb{color: #39393A;font-size: .26rem; }
.amoutMoney .inpbox input {width: 70%; padding: 0 .1rem;background: #fff;color:#333;outline: none;border: none;display: inline-block;font-size: .24rem;}
.amoutMoney .inpbox input::-webkit-input-placeholder {/* Chrome/Opera/Safari */color: #ccc;}
.amoutMoney .inpbox input::-moz-placeholder {/* Firefox 19+ */color: #ccc;}
.amoutMoney .inpbox input:-ms-input-placeholder {/* IE 10+ */color: #ccc;}
.amoutMoney .inpbox input:-moz-placeholder {/* Firefox 18- */color: #ccc;}

.btnCon{padding-top: .3rem;border-top: 1px solid #f5f5f7;padding-bottom: .4rem}
.btnCon li{float: left;width: 3.3rem;text-align: center;height: .8rem;line-height: .8rem;background: #F0F2F7;border-radius: .1rem}
.btnCon li a{font-size: .3rem;color: #0E6BDD;}
.btnCon li.sureBtn {background: linear-gradient(-53deg, #106AE9 0%, #2681FF 100%);margin-left: .3rem}
.btnCon li.sureBtn a{color: #fff;}
