html, body{background: #F2F3F5!important}
.operate{padding-bottom: .3rem}
/*列表*/
.infoPart ul{background: #fff;border-radius: .2rem;overflow: hidden;padding-left: .3rem;margin: .2rem 0}
.infoPart ul li {background:#fff;height:.88rem;line-height:.88rem;font-size:.28rem;border-bottom: 1px solid #f5f5f7;box-sizing: border-box;}
.infoPart ul li a{display: block;}
.infoPart ul li:last-child{border-bottom: none}
.infoPart ul li em {margin-right:.6rem;}
.infoPart ul li span{float: right;font-size: .28rem;color: #999;margin-right: .26rem}
.infoPart ul li i {width:.24rem;height:.24rem;background:url(../images/arrowRight2.png) no-repeat center;background-size:.24rem;display: inline-block;margin-left: .08rem;vertical-align: middle;margin-right: -.06rem;}


.loginPart ul{background: #fff;border-radius: .2rem;margin-bottom: .2rem;overflow: hidden;padding-left: .3rem}
.loginPart ul li {background:#fff;height:.88rem;line-height:.88rem;font-size:.28rem;border-bottom: 1px solid #f5f5f7;box-sizing: border-box;}
.loginPart ul li a{display: block;}
.loginPart ul li:last-child{border-bottom: none}
.loginPart ul li em {margin-right:.6rem;}
.loginPart ul li span {width:.24rem;height:.24rem;background:url(../images/arrowRight2.png) no-repeat center;background-size:.24rem;margin-top:.3rem;float:right;margin-right: .2rem;margin-left: .11rem}
.otherPart ul li s{display: inline-block;width: .5rem;height: .5rem;vertical-align: middle;}
.otherPart ul li s img {display: block; width: 100%; object-fit: cover;}

.myidentify{background: #fff;border-radius: .2rem;padding-bottom: .35rem}
.myidentify h2{font-size: .32rem;color: #333;font-weight: bold;border-bottom: 1px solid #f5f6f7;line-height: .88rem;padding-left: .3rem;}
.myidentify li{float: left;width: 25%;text-align: center;}
.myidentify li a{display: block;}
.myidentify li .topIcon{width: .8rem;height: .8rem;border-radius: .1rem;margin: .4rem auto .1rem;}
.myidentify li .topIcon.realNameIcon{background:#ccc url(../images/realNameIcon.png) no-repeat center center;background-size:.5rem;}
.myidentify li .topIcon.busiIcon{background:#ccc url(../images/busiIcon.png) no-repeat center center;background-size:.5rem;}

.myidentify li.success .topIcon.realNameIcon{background:#1C77FF url(../images/realNameIcon.png) no-repeat center center;background-size:.5rem;}
.myidentify li.success .topIcon.busiIcon{background:#1C77FF url(../images/busiIcon.png) no-repeat center center;background-size:.5rem;}
.myidentify li p{font-size: .28rem;color: #333;}
.myidentify li span{font-size: .24rem;color: #FF3B44;height: .46rem;line-height: .46rem;padding: 0 .14rem;background: #FFF0F1;border-radius: .06rem;display: inline-block;margin-top: .1rem;}

.myidentify li.success span{background: #F2F3F5;color: #999}



.tab{border-bottom: 1px solid #eee;}
.tab ul{display: -webkit-box; background: #fff;}
.tab ul li{-webkit-box-flex: 1; padding: .2rem .3rem; font-size: .3rem; text-align: center;}
.tab ul li.curr{border-bottom: 2px solid #129bf0;}

.authlist .item{display: none;}
.authlist .item.show{display: block;}

.logout {display: block;margin:.3rem .2rem;height: .8rem;line-height: .8rem;text-align: center;font-size: .28rem;border-radius:.06rem;background: #FE5400;color: #fff;}
/*.wx_miniprogram .logout {display: none;}*/

/*消息提示*/
.dialog_top, .dialog_msg .bg, .phone_msg .bg {position: fixed;left:0;top:0;right:0;bottom:0;z-index: 10000;}
.dialog_msg .bg, .phone_msg .bg {background: rgba(0,0,0,.3);z-index: 1;}
.dialog_msg .box, .phone_msg .box {position: fixed;left:50%;top:50%;transform:translate(-50%, -50%);background:#fff;border-radius:.05rem;z-index: 2;font-size: .28rem;color:#333;width: 80%;text-align: center;overflow: hidden;}

.phone_msg .box .bdt {height:3px;background: #00e9f5;}
.phone_msg .box .bdt .bdr {float:right;width:50%;height:3px;background: #0076fe;}
.phone_msg .box .close {position: absolute;right:.18rem;top:.22rem;display: block;width: .5rem;height: .5rem;font-size: .5rem;color: #efefef;line-height: 1;border:1px solid #eee;border-radius:50%;}
.phone_msg .box .close:hover {color: #ccc;text-decoration:none;}
.phone_msg .box .content {padding:20px;}
.phone_msg .box .blur {color: #419afc;margin:0 3px;}
.phone_msg .box .btns {text-align: center;}
.phone_msg .box .btn {display: inline-block;padding:0 .7rem;margin:1rem .2rem;height: .6rem;line-height: .7rem;background: #266cfd;color: #fff;border:1px solid #266cfd;border-radius:3px;}
.phone_msg .box .btn.cancel {background: #fff;border:1px solid #266cfd;color: #333;}
.phone_msg .box .info {margin-top: 50px;text-align: left}

/*注销弹窗*/
.off-mask {position: fixed;left:0;top:0;right:0;bottom:0;z-index: 100000;background: rgba(0,0,0,.3);display: none;}
.offWrap{background: #fff;padding-bottom:calc(.7rem + constant(safe-area-inset-bottom));padding-bottom: calc(.7rem + env(safe-area-inset-bottom));position: fixed;left:0;right:0;bottom:-100%;z-index: 100001;border-radius:.4rem .4rem 0px 0px;overflow: hidden;}
.offWrap i.off-close{position: absolute;right: .4rem;top: .32rem;display: inline-block;width: .3rem;height: .3rem;background: url(../images/off-close.png) center center no-repeat;background-size: contain;z-index: 2}

.offWrap .off-top{height: 2rem;box-sizing: border-box;width: 100%;color: #fff;padding: .4rem .7rem;background:linear-gradient(90deg,rgba(255,59,69,1) 0%,rgba(255,122,85,1) 100%);position: relative;}
.off-top em.off-bg{display: inline-block;width: 1.8rem;height: 1.56rem;background: url(../images/off-bg.png)no-repeat;background-size: cover;position: absolute;right: .2rem;bottom: 0}
.off-top h3.offTitle{font-size: .44rem;font-weight: bold;}
.off-top h3.offTitle i{display: inline-block;width: .4rem;height: .4rem;background: url(../images/off-tip.png) center center no-repeat;background-size: cover;vertical-align: middle;margin-right: .1rem;margin-top: -.02rem}
.off-top p{font-size: .26rem;margin-top: .05rem}
.offWrap .off-ts{font-size: .22rem;color: #999;text-align: center;margin-top: .4rem;padding-bottom: .2rem}
.offWrap .off-ts span{display: inline-block;padding: 0 .1rem;position: relative;}
.offWrap .off-ts span:before{content: '';width: .3rem;height: .02rem;background: #ccc;position: absolute;top:.15rem;left: -.3rem;}
.offWrap .off-ts span:after{content: '';width: .3rem;height: .02rem;background: #ccc;position: absolute;top:.15rem;right: -.3rem;}
.offSon{max-height: 5.6rem;overflow: hidden;overflow-y: auto;    padding-bottom: .2rem;}
.offcon{margin-top: .7rem;padding: 0 .44rem}
.offcon.speOff{margin-top: .5rem}
.offcon h2.offTit{font-size: .36rem;color: #000;font-weight: bold;padding-bottom: .2rem}
.offcon p{font-size: .26rem;color: #333;line-height: .4rem;}

.off-agree{margin: .2rem .4rem 0;position: relative;}
.off-agree a{display: block;width: 100%;height: .88rem;line-height: .88rem;font-size: .3rem;color: #fff;background: #FF3C44;border-radius: .1rem;text-align: center;}
.off-agree:before{content:'';display: block;height:.3rem;background:linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);position: absolute;left: 0;right: 0;top: -.5rem}


/*删除 弹出层*/
.delMask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.57);z-index: 100002;display: none;}
.delMask.show{display: block;}
.delAlert{position: fixed;top: 50%;left: 0;right: 0;z-index: 100003;overflow: hidden;height: 2.8rem;margin-top: -1.4rem;text-align: center;display: none;pointer-events: none;-webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out;}
.delAlertCon{background: #fff;box-shadow:0px 7px 37px 0px rgba(0, 0, 0, 0.13);border-radius:.3rem;min-width: 4.8rem;display: inline-block;pointer-events: auto}
.delAlertCon>div{padding: .55rem .4rem .48rem}
.delAlert h2.delTile{font-size: .32rem;font-weight: bold;text-align: center;}
.delAlert p{font-size: .24rem;color: #333;text-align: center;margin-top: .05rem}
.delAlert ul{border-top: 1px solid #f5f5f7;}
.delAlert ul li{float: left;width: 50%;box-sizing: border-box;height: .86rem;line-height: .86rem;font-size: .3rem;font-weight: bold;text-align: center;}
.delAlert ul li a{display: block;color: 000;}
.delAlert ul li a.sureDel{color: #3B7CFF}
.delAlert ul li.firLi{border-right: 1px solid #f5f5f7}
