body {padding-bottom: 2rem;}
html,body {background: #fff!important}
.header-address {color: #fff!important;}

/* 头部背景 */
.bg {position: relative; z-index: 1; height: calc(6rem - 1.8rem); padding-top: .9rem; background: url('../images/certification/bg.png') no-repeat bottom center; background-size: cover; text-align: center;}
.huoniao_iOS .bg {margin-top: -.9rem;}
.bg h3 {font-size: .35rem; color: #fff; margin: .2rem .5rem 0; font-weight: 700;    padding-top: .7rem;}
.bg .step {width: 70%; margin: .5rem auto 0;}

.progressbar {padding: 0; text-align: center; overflow: hidden; counter-reset: step; z-index: 99;}
.progressbar li {list-style-type: none; font-size: .22rem; float: left; position: relative; opacity: .6; color: #fff;}
.progressbar li:before {content: counter(step); counter-increment: step; width: .4rem; line-height: .4rem; display: block; font-size: .24rem; color: #3568fd; font-weight: 700; background: white; border-radius: .4rem; margin: 0 auto 10px auto;}
.progressbar li:after {content: ''; width: calc(100% - .8rem); height: 3px; background: white; position: absolute; left: calc((-100% + .8rem) / 2); top: .15rem;}
.progressbar li:first-child:after {content: none;}
.progressbar li.ok, .progressbar li.active {opacity: 1;}
.progressbar li.ok:before {content: '√';}
.progressbar li.active:before, .progressbar li.active:after {color: #3568fd;}

.main {position: relative; z-index: 2; background: #fff; margin: -1.3rem .55rem 0;  box-shadow: 0px 3px 43px 0px rgba(123, 175, 255, 0.2); border-radius: .2rem;}
.main .subtitle {position: relative; text-align: center; padding-top: .7rem;}
.main .subtitle s {display: block; margin: 0 0 0 -.5rem; position: absolute; left: 50%; top: -.5rem; width: .88rem; height: .88rem; background: rgba(85,152,255,1); border: .06rem solid rgba(255, 255, 255, 1); box-shadow: 0px 0px .4rem 0px rgba(117,176,255,0.61); border-radius: 50%;}
.main .subtitle s img {width: .64rem; height: .64rem; display: block; margin: .12rem auto 0;}
.main .subtitle h5 {font-weight: 700; color: #3a3a3a; font-size: .36rem; line-height: .6rem;}
.main .subtitle p {font-size: .24rem; color: #a3a3a3;}

.form, .wechatObj {margin: .5rem .3rem 0; padding-bottom: .5rem;}
.form .inp {border: 1px solid rgba(225,225,225,1); border-radius: .1rem; height: .8rem; margin-bottom: .2rem; line-height: .8rem;}

/* 手机 */
.main input{-webkit-appearance: none; background: none; border: none; width: 70%; text-indent: .2rem; height: .8rem;}
.main .areacode_span{position: relative; margin: .17rem 0; text-indent: .28rem; color: #171921; padding-right: .5rem; border-right: 1px solid #eee; line-height: .46rem;}
.main .areacode_span label::after{position: absolute; content: ' '; width: 0; height: 0; top: .32rem; right: .16rem; border: .1rem solid transparent; border-top-color: #666; transform: rotate(0deg); border-radius: 4px;}
.code button{background: none; border: none; float: right; font-size: .28rem; color: #3377FF; font-weight: bold; margin-right: .4rem; line-height: .8rem;}
.code input{-webkit-appearance: none; background: none; border: none; width: 70%; padding-left: .24rem; height: .8rem;}
.main .com-input{margin-top: .3rem;}
.form .inp.code {position: relative; overflow: hidden;}
.form .getCodes {float: right; width: 2.5rem; margin-left: .1rem; background: #2d78ff; height: calc(.8rem + 2px); border-radius: .1rem; border: 0; color: #fff; outline: 0; font-size: .24rem;}
.form .getCodes.disabled {background: #ccc;}

/* 微信公众号 */
.main .wechatObj {text-align: center;}
.main .wechatObj img {width: 2.4rem; height: 2.4rem; display: block; margin: 0 auto;}
.main .wechatObj p {line-height: .35rem; color: #333; font-size: .24rem; margin-top: .2rem;}

.input-img {opacity: 0; position: relative; z-index: 2; height: 1.75rem;}
.input-img .webuploader-pick, .webuploader-container div {width: 100%; height: 100%;}
.upbtn .input-img {height: 2.09rem;}

/* 身份证 */
.card {margin-bottom: .2rem;}
.card .front, .card .behind {position: relative; width: 2.584rem; height: 2.236rem; background: #F5F8FF; border-radius: .14rem; overflow: hidden;}
.card .front {float: left;}
.card .behind {float: right;}
.card .icon {position: absolute; left: 0; top: 0; right: 0; bottom: 0; display: block; width: 1.96rem; height: 1.3rem; margin: .22rem auto 0;}
.card .front .icon {background: url('../images/certification/front.png') no-repeat center; background-size: cover;}
.card .behind .icon {background: url('../images/certification/behind.png') no-repeat center; background-size: cover;}
.card p {position: absolute; left: 0; right: 0; bottom: 0; height: .48rem; line-height: .48rem; color: #fff; background: #5598FF; text-align: center; font-size: .22rem;}
.license .upbtn img, .card img {display: none; position: absolute; left: 0; top: 0; z-index: 1; right: 0; width: 100%; height: 1.75rem;}
.license .upbtn img {height: 2.09rem;}

/* 营业执照 */
.license .upbtn {position: relative; float: left; width: 3rem; height: 2.09rem; border: 1px solid #A4C7FF; border-radius: .1rem; text-align: center; overflow: hidden;}
.license .upbtn .icon {position: absolute; left: 0; top: 0; right: 0; bottom: 0; display: block; width: .86rem; height: .7rem; margin: .5rem auto .2rem; background: url('../images/certification/pic.png') no-repeat center; background-size: cover;}
.license .upbtn p {position: absolute; left: 0; right: 0; bottom: .4rem; text-align: center; font-size: .24rem; color: #5598FF;}
.license .license-tip {float: left; width: 2.24rem; margin-left: .48rem; text-align: center; color: #999; line-height: .4rem;}
.license .license-tip img {width: 2.24rem;}

.confirm, .recertify {display: block; margin: .3rem 0 0; height: .8rem; line-height: .8rem;  text-align: center; color: #fff; background: linear-gradient(90deg, #FF6F08 0%, #FA4A3D 100%); border-radius: .4rem;}
.card-tip {font-size: .22rem; color: #999; margin-top: .24rem;}
.card-tip img {display: inline-block; vertical-align: text-bottom; width: .28rem;}

#realname, #idcard {width: 100%;}

/*区号弹窗修改*/
.pop_box,.popl_box{background-color: #fff; position: fixed; bottom: -100%; left: 0; right: 0;padding: 0 .24rem; border-radius: .3rem .3rem 0 0; height: 8.2rem; padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); z-index: 10001;}
.popl_box h2 .back{color: #999; font-size: .3rem; position: absolute; right: .58rem; font-weight: normal;}
.areacodeList,.timeList{padding-top: 1.4rem; height: 100%; box-sizing: border-box; top: 0; left: 0; right: 0; position: absolute; }
.areacodeList ul,.timeList ul{height: 100%; overflow: auto;}
.areacodeList ul li,.timeList ul li{margin: 0 .3rem; line-height: .88rem; color: #333; font-size: .3rem;  border-radius: .1rem; padding: 0 .2rem;}
.areacodeList ul li.achose,.timeList ul li.achose{background: #F0F0F2; font-weight: bold;}
.anum_box h2{line-height: 1.1rem; text-align: center; font-size: .34rem; color: #000; font-weight: bold; border-bottom: solid 1px #f5f5f8; position: relative; z-index: 10;}
.anum_box h2 .cancel,.pop_box h2 .back{color: #999; font-size: .3rem; position: absolute; right: .58rem; font-weight: normal;}
.anum_box h2 .back{left: .43rem; right: auto; position: absolute;  }


.mask-code{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #000!important; opacity: .5!important; z-index: 10000!important; display: none;}
.mask-code.show{display: block;}

/*错误提示*/
.error{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000; display: none;}
.error p{position: fixed; width: 3.6rem; background-color: rgba(0,0,0,.77); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: .2rem; z-index: 9999; left: 50%; margin-left: -2rem; top: 50%; margin-top: -24px;}


.auditState {display: none; padding: 2rem 0 2.5rem; text-align: center; margin: 0 .3rem;}
.auditState.state2, .auditState.state3 {display: block;}
.auditState .state3 {display: none;}
.auditState s {width: .42rem; height: .42rem; display: inline-block; vertical-align: text-bottom;}
.auditState s img {width: .42rem;}
.auditState h3 {display: inline-block; font-size: .36rem; font-weight: 700; color: #3a3a3a; line-height: .6rem;}
.auditState p {font-size: .24rem; color: #a3a3a3; margin-top: .2rem;}

#loadingimg {display: none;}
