html, body {background: #f2f3f5!important;}
a:hover {text-decoration: none;}
.header{border-bottom: none}
.minfo{background: #fff;border-radius: 0px 0px .2rem .2rem;}
.minfo a{display: block;padding: .3rem;}
.left_head{width: 1.2rem; height: 1.2rem; border-radius: 50%; overflow: hidden; float: left;}
.left_head img{width: 100%; height: 100%; object-fit: cover;}

.right_info{ margin-left: 1.4rem;position: relative;}
.right_info h2{font-size: .32rem; color: #000; font-weight: bold; max-width: 3.4rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-top: .16rem;}
.right_info p{font-size: .24rem;color: #999;margin-top: .05rem}
.right_info .rightBtn{color: #333; font-size: .28rem;position: absolute;right: 0;top: .4rem}

.nav{background: #fff;position: fixed;top: .9rem;left: 0;right: 0;z-index: 999;display: none; box-shadow: 0 10px 15px -4px rgba(0,0,0,.5);}
.nav ul{padding: .2rem 0 .1rem 0;border-bottom: 1px solid #efefef;}
.nav li{width: 20%;float: left;text-align: center;}
.nav li:nth-child(5n) a span{border-right: none;}
.nav li a{display: block;padding: .3rem 0;font-size: .26rem;}
.nav li a span{display: block;border-right: 1px solid #efefef;line-height: .25rem;}

.tab{display: -webkit-box;}
.sel{font-size: .28rem; padding: .2rem;}
.tab ul{-webkit-box-flex: 1;}

.area1, .area2{padding-right: .3rem;background: url(../images/down.png) right center no-repeat; background-size: .25rem auto; margin-right: .4rem;}

.al-toggle-button {appearance:none;-webkit-appearance:none;position:relative;width:52px;height:32px;background:#dfdfdf;border-radius:16px;border:1px solid #dfdfdf;outline:0;box-sizing:border-box;vertical-align:middle;margin-left:0.2rem;}
.al-toggle-button:checked {border-color:#04be02;background-color:#04be02;}
.al-toggle-button:before,.al-toggle-button:after {content:" ";position:absolute;top:0;left:0;height:30px;border-radius:15px;transition:transform 0.3s;transition:-webkit-transform 0.3s;transition:transform 0.3s,-webkit-transform 0.3s;-webkit-transition:-webkit-transform 0.3s;}
.al-toggle-button:before {width:50px;background-color:#fdfdfd;}
.al-toggle-button:after {width:30px;background-color:white;box-shadow:0 1px 3px rgba(0,0,0,0.4);}
.al-toggle-button:checked:before {transform:scale(0);-webkit-transform:scale(0);}
.al-toggle-button:checked:after {transform:translateX(20px);-webkit-transform:translateX(20px);}

.set_list{padding-top: .2rem}
.set_list ul{background: #fff;border-radius: .2rem;margin-bottom: .2rem;overflow: hidden;padding-left: .3rem}
.set_list ul li {background:#fff;height:.88rem;line-height:.88rem;font-size:.28rem;border-bottom: 1px solid #f5f5f7;box-sizing: border-box;}
.set_list ul li a{display: block;}
.set_list ul li:last-child{border-bottom: none}
.set_list ul li em {margin-right:.6rem;}
.set_list ul li input {float:right;margin-top:.2rem;margin-right:.25rem;}

.set_list ul li span {width:.24rem;height:.24rem;background:url(../images/arrowRight2.png) no-repeat center;background-size:.24rem;margin-top:.3rem;float:right;margin-right: .2rem;margin-left: .11rem}

.set_list .language {position:relative;overflow:hidden;}
.set_list .language select {position:absolute;left:0;top:0;right:0;bottom:0;width:100%;opacity:0;}
.set_list .language p {font-size:.24rem;color:#999;}
.set_list #cache {font-size:.24rem;color:#999;}

.succes {font-size:.3rem;position:fixed;top:50%;left:50%;background:#000;opacity:.7;width:2rem;height:.7rem;line-height:.7rem;text-align:center;border-radius:8px;color:#fff;padding:0 .1rem;display:none;margin-left:-1rem;}

.logout {display: block;height: .88rem;line-height: .88rem;text-align: center;font-size: .3rem;border-radius:.2rem;color: #333;background: #fff}
