
body, html{background: #fff;}
.header{border-bottom: none}
.topCon{margin: .5rem .3rem;height: 2rem;position: relative;padding: .4rem .54rem;box-sizing: border-box;
background: linear-gradient(0deg, #1367FF 0%, #2B77FF 100%);box-shadow: 0px 16px 38px 0px rgba(37, 115, 255, 0.31);border-radius: .2rem;}
.topCon h3{font-size: .26rem;color: #fff;}
.topCon p{font-size: .6rem;color: #fff;font-weight: bold;font-family: "coregtd";}
.topCon:after{content: '';display: block;width: 2.28rem;height: 1.8rem;background: url(../images/account/czjf.png) center center no-repeat;background-size: cover;position: absolute;right: 0;bottom: 0;}
.mainWrap{padding: 0 .3rem}
.mainWrap h2.tit{font-size: .24rem;color: #999;padding-bottom: .46rem;padding-top: .2rem}
.mainWrap h2.tit strong{font-size: .36rem;color: #000;margin-right: .1rem}

.inpBox{border: 1px solid #eee;border-radius: .1rem;padding: .27rem 0;margin-bottom: .2rem}
.inpBox input{padding-left: .26rem;border: none;background: none;outline: 0;font-size: .28rem;color: #333;text-align: right ;}
.inpBox input::placeholder{color: #333}
.inpBox label{margin-left: .26rem;font-size: .28rem;color: #333}
.inpBox input#user{width: 68%; }
.inpBox input#amountp{width: 63%; }
.inpBox input#paypwd{width: 72%; }
.inpBox span{float: right;font-size: .28rem;color: #999;margin-right: .2rem}
.pCon {font-size: .26rem;color: #999;padding-bottom: .36rem}
.pCon .sx span{color: #F73533}

/*底部*/
.botPrice{background: #fff;position: fixed;bottom: 0;left: 0;right: 0;box-shadow: 0px -3px 21px 0px rgba(79, 69, 66, 0.08);z-index: 999; padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom));}
.botPrice .leftCon{ float: left;margin-left: .3rem}
.botPrice .leftCon h2{font-size: .24rem;color: #FF3C4A;padding-top: .2rem;padding-bottom: .06rem}
.botPrice .leftCon h2 strong{font-size: .4rem}
.botPrice .leftCon p{font-size: .22rem;color: #999;margin-top: -.06rem}
.botPrice #tj{float: right;padding: 0 .7rem;line-height: 1.28rem;font-size: .36rem;color: #fff;font-weight: bold;background: #2673FF;}


.error{display: none; min-width: 3.6rem;text-align: center;height: 1rem;line-height: 1rem;background: rgba(39,41,51,.99);border-radius: .3rem;font-size: .26rem;color: #FFF;position: fixed;top: 50%;left: 50%;margin-left: -1.8rem;margin-top: -.5rem;z-index: 2;padding: 0 .2rem;box-sizing: border-box;}

@font-face {
  font-family: "coregtd";
  src: url("/static/fonts/coregtd6.woff2"),
       url("/static/fonts/coregtd6.woff"),
       url("/static/fonts/coregtd6.ttf"),
       url("/static/fonts/coregtd6.eot"),
       url("/static/fonts/coregtd6.otf");
}