

/* 20200318 */
html{min-height: 100%;}
body{padding-bottom: .5rem;}
.hui_show{padding: .3rem 0;background: url(../images/member/bg.png) no-repeat top center; background-size: 100% auto; border-bottom: solid #F5F5F5 .2rem; }
.no_member.info_show,.yes_member.info_show{margin: 0 .1rem; height: 3.24rem; background: url(../images/member/bg_1.png) no-repeat center; background-size: cover; position: relative;}
.yes_member.info_show{background-image: url(../images/member/bg_2.png)}
.info_show .hui_icon{position: absolute; width: 1.52rem; height: 1.62rem; display: block; right: .32rem; top: .2rem;}
.info_show .hui_icon img{width: 100%; height: 100%;}
.no_member.info_show  a.btn_buy ,.yes_member.info_show a.btn_buy {display: block; width: 1.8rem; height: .6rem; border: solid 1px #545D72;  color: #545D72; line-height: .6rem; text-align: center; font-size: .28rem; border-radius: .3rem; position: absolute; left: 50%; margin-left: -.9rem; bottom: .7rem;}
.yes_member.info_show  a.btn_buy{ border: solid 1px #826128; color: #826128;}
.user_info{position: absolute; top: .6rem; left: .55rem;}
.user_info .head_img{width: .8rem; height: .8rem; border-radius: 50%; margin-right: .18rem; font-weight: 1.2em}
.user_info .head_img img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.user_info {display: flex; align-items: center;}
.user_info .member_info h3{font-size: .32rem;font-weight: 500;color: #545D72;max-width: 3rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-weight: bold;}
.user_info .member_info p{font-size: .26rem;/* margin-top: .06rem;*/ color: #676F82;opacity: .8;}
.yes_member .user_info .member_info h3{ color: #593900;}
.yes_member .user_info .member_info p{ color: #826128; }
.no_member.info_show  span i{display:none;}
.no_member.info_show  span{display: block;position: absolute; bottom: .44rem; left: .24rem; background:linear-gradient(30deg,rgba(199,210,230,1),rgba(235,239,247,1)); border-radius:0 .18rem 0 .18rem; line-height: .42rem; color: #707580; font-size: .24rem; padding: 0 .24rem;}
.yes_member.info_show span{color: #BC9160; display: block;position: absolute; bottom: .44rem; left: .24rem; background:linear-gradient(-30deg,rgba(255,241,217,1),rgba(250,222,181,1)); border-radius:0 .18rem 0 .18rem; line-height: .42rem; padding: 0 .1rem;}
.yes_member.info_show span>i{display: inline-block; width: .32rem; height: .32rem; background-size: cover ; vertical-align: middle; vertical-align: middle; margin-bottom: .04rem; margin-right: .04rem; }
.yes_member.info_show span>i img{display: block; width: 100%; height: 100%; object-fit: cover;}


.yes_member.info_show span img{width:.32rem; height:.32rem; vertical-align: middle; margin-bottom: .04rem; margin-right: .04rem;}

.grade ul{white-space: nowrap; overflow: auto;}
.grade ul li{display: inline-block; width: 33%; text-align: center; color: #787888; font-size: .36rem;}
.grade ul li.active{color: #BC9160; font-size: .4rem;}
.grade ul li.active span{padding: .1rem .08rem; display: inline-block; border-bottom: solid .04rem #BC9160; font-weight: bold;}
.grade ul::-webkit-scrollbar{display: none;}

.price{padding-left: .28rem; }
.price .tab_li{display: none;}
.price .tab_li.show{display: block;}
.price ul{padding-top: .4rem;}
.price .li_box{width: 1.98rem; height: 2.36rem; border-radius: .1rem; border:.02rem solid rgba(238,238,238,1); margin-right: .28rem; text-align: center; padding-top: .16rem; box-sizing: border-box; position: relative;}
.price .li_box.chosed{border:.02rem solid #FF8200; background-color: #FFF7EF; }
.price .li_box h4{font-size: .3rem; color: #040410; font-weight: bold; margin-bottom: .12rem;}
.price .li_box span.rec{display: block;background:linear-gradient(-54deg,rgba(114,26,231,1) 0%,rgba(203,23,237,1) 100%); color: #fff; position: absolute; width: .66rem; line-height: .34rem; font-size: .22rem; box-shadow:0 .04rem .09rem 1px rgba(116,26,232,0.14);border-radius:0 .08rem .08rem .08rem; left: 0; top: -.1rem;}
.price .li_box h2 span{color: #FF8200; font-size: .5rem; font-family: moneyNumber;}
.price .li_box h2 em{color: #FF8200; font-size: .24rem;}
.price .li_box p.o_price{color: #91919F; font-size: .24rem; text-decoration: line-through; margin-bottom: .1rem;}
.btn_join{display: block; margin:0 .24rem; margin-top: .5rem; text-align: center; background:linear-gradient(88deg,rgba(242,215,165,1) 0%,rgba(239,194,130,1) 100%);box-shadow:0px 4px 17px 1px rgba(213,169,82,0.39); line-height: .88rem; color: #826128 ; font-size: .36rem; border-radius: .44rem;}

.price .li_box span.tip{color: #fff; font-size: .18rem;line-height: 1.1em; display: inline-block; padding: .06rem .13rem; border-radius: .2rem; background-color: #FF8200; box-shadow:0 .02rem .09rem 1px rgba(255,130,0,0.23);}
.price .li_box span.tip::before{content:'' ; display: inline-block; width: .22rem; height: .22rem; background: url(../images/member/rec.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-right: .04rem;}
.right_box .rbox1>h2{font-size: .4rem; color: #111; font-weight: bold; text-align: center; display: flex; align-items: center; justify-content: center; padding-top: .3rem; line-height: 1.2em; margin-bottom: .5rem;}
.right_box .rbox1>h2 em{font-family:moneyNumber ; font-size: .5rem; color: #C79446;}
.right_box .rbox1>h2:after{display: block; width: .33rem; height: .38rem; background: url(../images/member/icon1.png) no-repeat center; background-size: cover; content: '';}
.right_box {display: none;}
.right_box.show{display: block;}
.li_r {display: flex; align-items: center; padding: .29rem .22rem .29rem .3rem; margin: 0 .24rem; box-shadow:0 .04rem .19rem 1px rgba(174,174,174,0.23);border-radius:.12rem; justify-content: space-between; margin-bottom: .52rem; position: relative;}
.li_r>span{display: block; position: absolute; left: .3rem; top: -.2rem; background:linear-gradient(97deg,rgba(242,215,164,1) 0%,rgba(230,196,142,1) 100%);border-radius:.06rem; color: #111; font-size: .26rem; line-height: .44rem; padding: 0 .12rem; font-weight: bold;}
.li_r .left_info h3{font-size: .36rem; color: #111; font-weight: bold;}
.li_r .left_info h3 span{color: #C79446; font-size: .22rem; background-color: #FFF4E3; font-weight: normal; display: inline-block; line-height: .34rem; border-radius: .18rem; padding: 0 .14rem; margin-left: .14rem;}
.li_r .left_info p{color: #999; font-size: .24rem; margin-top: .1rem;}
.li_r .right_icon{width: 1.18rem; height: 1.18rem;}
.li_r .right_icon img{width: 100%; height: 100%; object-fit: cotain; }

.rbox2 h3{display: flex; justify-content: center; font-size: .32rem; color: #C79446; font-weight: bold; align-items: center; padding-bottom: .4rem;}
.rbox2 h3::before,.rbox2 h3::after{content: ''; display: block; width: 1.12rem; height: .06rem; border-radius:.03rem;}
.rbox2 h3 span{margin: 0 .18rem;}
.rbox2 h3::before{background:linear-gradient(269deg,rgba(241,203,144,1) 0%,rgba(239,201,141,0) 100%);}
.rbox2 h3::after{background:linear-gradient(90deg,rgba(241,203,144,1) 0%,rgba(239,201,141,0) 100%);}

.rbox2 ul{overflow: hidden;}
.li_r2 {width: 50%; float: left; margin-bottom: .2rem;}
.li_r2 .libox span.many,.li_r2 .libox span.zero{font-size: .22rem; color: #C79446;display: block; position: absolute; top: 0; right: 0; padding: 0 .14rem; line-height: .34rem; border-radius:0 .1rem 0 .1rem; background-color: #FFF4E3;}
.li_r2 .libox span.zero{background-color: #EFEFEF;  color: #ADADAD;}
.li_r2 .libox {margin: 0 .13rem; height: 1.36rem; box-shadow:0 .04rem .19rem 1px rgba(174,174,174,0.23); border-radius:.12rem; display: flex; align-items: center; box-sizing: border-box; padding:.28rem .15rem; position: relative;}
.li_r2 .libox .left_icon{width: .8rem; height: .8rem; margin-right: .1rem;}
.li_r2 .libox .left_icon img{width: 100%; height: 100%; object-fit: cover;}
.li_r2 .libox .right_info h2,.li_r2 .libox.more{font-size: .32rem; color: #111; font-weight: bold;}
.li_r2 .libox .right_info p{font-size: .22rem; color: #999; margin-top: .04rem;}
.li_r2 .libox.more{justify-content: center;}

.cz_record{font-size: .32rem; color: #333; line-height: .88rem;display: flex; margin: 0 .24rem;box-shadow:0 .04rem .19rem 1px rgba(174,174,174,0.23);border-radius:.12rem; padding: 0 .24rem; align-items: center; justify-content: space-between; margin-top: .3rem; font-weight: bold;}

.cz_record i{display: block; width: .28rem; height: .28rem; background: url(../images/member/r_arr.png) no-repeat center; background-size: cover;}










@font-face {
	font-family: moneyNumber;
	src: url('../font/109-CAI978.otf'),
		url('../font/109-CAI978.eot'),
		url('../font/109-CAI978.ttf'),
		 url('../font/109-CAI978.woff'); /* IE9 */
}