.header-r{visibility: visible; width: 1rem; text-align: center;}
.header .header-post{background: url(../images/icon_post.png) center center no-repeat; background-size: .4rem auto;}
.header {/*  */ border: none; position: fixed; top: 0; left: 0; right: 0;}
body,html{background-color: #F7F4F8;}

.list{font-size: .28rem; padding-bottom: calc(1.2rem + constant(safe-area-inset-bottom)); padding-bottom: calc(1.2rem + env(safe-area-inset-bottom));}
.item{border-bottom: 1px solid #ececec; margin: 0 .3rem; margin-top: .5rem; background: #fff; box-shadow:0px 3px 13px 0px rgba(1,5,27,0.07);border-radius:.3rem; padding: .26rem .3rem 0 .3rem;}
.item .hphoto{width: 1.18rem; height: 1.18rem; float: left; margin-top: -.45rem; background-color: #ccc; border-radius: 100%; }
.item .hphoto img{display: block; width: 100%; height: 100%; border-radius: 100%; object-fit: cover;}
.item dd{margin-left: 1.4rem;}
.item dd .nickname{font-size: .26rem; margin-bottom: .12rem; }
.item dd .nickname a{color: #313233; font-weight: bold;} 
.item dd .date{color: #BABABF; font-size: .22rem;}
.item dd .content{font-size: .26rem;}
.item dd .content img{width: 0.5rem; vertical-align: middle;}
/* .item .reply{background: url(../images/icon_comment.png) left .25rem no-repeat; background-size: .3rem; padding: .2rem 0 .2rem .4rem; color: #999; font-size: .26rem;} */
.reply-txt{position: relative; border: 1px solid #ececec; padding-bottom: .4rem; margin-bottom: .4rem; display: none;}
.reply-txt .textarea{padding: .1rem .2rem; outline: 0; width: 100%; box-sizing: border-box; border: 0; resize: none; }
.reply-txt .submit{position: absolute; background: #34bdf6; color: #fff; padding: .06rem .25rem; border-radius: .06rem; right: .15rem; bottom: .15rem;}
.reply-txt .arrow{position: absolute; border-left: 10px solid #fff; border-right: 10px solid #fff; border-top: 8px solid #fff; border-bottom: 8px solid #ececec; display: block; width: 0; height: 0; right: 15px; top: -16px;}
.reply-txt .arrow i{position: absolute; z-index: 9; border-left: 9px solid transparent; border-right: 9px solid transparent; border-top: 8px solid transparent; border-bottom: 8px solid #fff; display: block; width: 0; height: 0; right: -9px; top: -6px;}
.replyed{position: relative; background: #f7f7f7; border-radius: .06rem; padding: .2rem; margin-top: .3rem;}
.replyed .arrow{position: absolute; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 8px solid transparent; border-bottom: 8px solid #f7f7f7; display: block; width: 0; height: 0; left: 15px; top: -15px;}
.replyed .content img {width: .5rem; vertical-align: middle;}

    /*留言板弹出层*/
.layer{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #f7f7f7; z-index: 999; display: none;}
.layer .header-r a{background: none; font-size: .28rem;}
.layer_txt{margin: .1rem .2rem;}
.layer_txt .textarea{width: 100%; border: 0; outline: 0; display: block; padding: .2rem; box-sizing: border-box; font-size: .28rem;}
.layer_txt .layer_num{text-align: right; background: #fff; border-top: 1px solid #f5f5f5; padding: .2rem; color: #999; font-size: .28rem;}

.fabuBtn {position: fixed; left: 0; bottom: 0; width: 100%; height: 1rem; background: #fff; padding-bottom: constant(safe-area-inset-bottom); padding-bottom: env(safe-area-inset-bottom);}
.fabuBtn a {display: block; line-height: 1rem; background: #129bf0; text-align: center; font-size: .3rem; color: #fff;}

.tjBtn {margin: 0 .2rem; height: 1rem;}
.tjBtn a {display: block; line-height: 1rem; background: #129bf0; text-align: center; font-size: .3rem; color: #fff;}


/* 20200305 */
.txt_box{background-color: #fff; box-shadow:0px 3px 13px 0px rgba(25,30,59,0.05); height: 1rem; position: fixed; top: .9rem;padding: 0 .3rem; align-items: center; left: 0; right: 0; padding-top: .15rem; z-index: 2;}
.huoniao_iOS .txt_box{top: 0;}
body{padding-top: 2.1rem;}
.huoniao_iOS body{padding-top: 1rem;}
.txt_box button,.item .txt_reply button{width: 1.5rem; height: .64rem; background:linear-gradient(90deg,rgba(64,137,255,1) 0%,rgba(38,121,255,1) 100%);box-shadow:0 .03rem .13rem 0 rgba(40,136,255,0.23);border-radius:.32rem; border: none; text-align: center; color: #fff;font-size:.24rem; float: right;}
.txt_box button i{display: inline-block; width: .4rem; height: .4rem; background: url(../images/index_4.8/msg_icon1.png) no-repeat center; background-size: cover;  margin-right: .04rem; vertical-align: middle; margin-bottom: .04rem;}
.txt_box .left_input,.item .txt_reply .left_input{margin-right: 1.7rem; background-color: #F5F5F7; height: .68rem; border-radius: .34rem; display: flex; padding:0 .26rem; align-items: center;}
.txt_box .left_input input,.item .txt_reply .left_input input{background: none; border: none; font-size: .24rem; width: 100%; }
.txt_box .left_input::before{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/index_4.8/msg_icon.png) no-repeat center; background-size: cover; margin-right: .06rem;}
.txt_box .left_input input:focus + .txt_box .left_input::before{display: none;}
.uname{padding-left: 1.36rem;}
.uname h4{font-size: .26rem; color: #313233; font-weight: bold;}
.uname p{color: #BABABF; font-size: .22rem; margin-top: .12rem;}

.msg_con{margin-top: .4rem; color: #000; font-size: .26rem; line-height: .4rem; padding-bottom: .5rem;}
.msg_con img{width: .4rem; vertical-align: middle;}
.item .txt_reply .left_input {margin-right: 1.3rem;}
.item .txt_reply button{width: 1.1rem; }
.item .msg_box{padding-bottom: .32rem;}

/* 回复列表样式 */
.item  {position: relative;}
.left_hphoto img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.item  .reply_list{ margin-top: .34rem; border-top: solid 1px #E8E8E8; position: relative; padding-top: .2rem;}
.item  .reply_list::before{content: '' ; width: .3rem; height: .3rem; position: absolute; top: -.2rem; left: .9rem; background: url(../images/index_4.8/san.png) no-repeat center; background-size: cover;}
.item  .reply_list .reply_count{display: block; background-color: #fff; position: absolute; left: .04rem; top: -.19rem; font-size: .24rem; color: #999; padding-right: .18rem;}
.item  .reply_list .re_li{position: relative; padding:.3rem 0;}
/* .item  .reply_list .re_li:after{content: '' ; clear: both; height: 1px; background-color: #E8E8E8; position: absolute; bottom: 0; left: .82rem; right: 0;} */
.item  .reply_list .re_li .left_hphoto{float: left; width: .68rem; height: .68rem; border-radius: 50%; background-color: #ccc;}
.item  .reply_list .re_li .right_rebox{margin-left: .82rem;}
.item  .reply_list .re_li .right_rebox h4{color: #949599; font-size: .26rem; font-weight: bold; margin-bottom: .2rem;}
.item  .reply_list .re_li .right_rebox p.re_con{font-size: .24rem; color: #000; line-height: .36rem;}
.item  .reply_list .re_li .right_rebox p.re_con img{width: .4rem; height: .4rem; vertical-align: middle;}
.item  .reply_list .re_li .right_rebox p.re_time{font-size: .22rem; color: #BABABF; margin-top: .2rem;}
.item  .reply_list .more_re{color: #858899; font-size: .24rem; text-align: center; line-height: .92rem; display: flex; align-items: center; justify-content: center;}
.item  .reply_list .more_re:after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/index_4.8/arr_bottom.png) no-repeat center; background-size: cover; margin-left: .04rem;}
.mask_re{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.3); display: none;}
.del_msg{width: .36rem; height: .36rem; background: url(../images/index_4.8/dot.png) no-repeat center; background-size: cover; position: absolute; top: .2rem; right: .3rem;}
.load_more {font-size: .26rem; text-align: center; padding: .6rem;}
.load_more img{ width: 2rem;}
.empty{padding: .6rem; font-size: .26rem; color: #999; text-align: center;}

/* 取消关注弹窗 */
.mask_pop{position: fixed; top: 0; left: 0; bottom: 0; right: 0; background-color: rgba(0,0,0,.3); z-index: 100001; display: none;}
.pop_box{position: fixed; bottom: -4.2rem; left: 0; right: 0; background-color: #fff; z-index: 100002;border-radius: .4rem .4rem 0 0;} 
.pop_box a{display: block; text-align: center; line-height: 1.2rem; font-size: .34rem; color: #313233; font-weight: bold;}
.pop_box a.cancel_btn{border-top: solid .16rem #EBEBED;}
.pop_box p{font-size: .28rem; color: #313233; text-align: center; line-height: 1.2rem; border-bottom: solid 1px #EBEBED;}

/* iPhoneX适配 */
.pop_box{padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom));}
/* 禁止滚动 */
html.noscroll,html.noscroll body {overflow: hidden;}
html.noscroll body {position: relative;}