body,html{background-color: #F7F4F8;}
.bg_img{ height: 7rem; position: absolute; top: 0; left: 0; right: 0; z-index: 1;}
.bg_img::before{content: ''; display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.5);}
.bg_img img{width: 100%; height: 100%; object-fit: cover;}
/* 用户信息 */
.user_info{padding: 0 .28rem; padding-top: .66rem; position: relative; z-index: 2;}
.user_info .user_photo{display: flex; justify-content: space-between; align-items: center;}
.user_info .user_photo .photo_img{width: 1.46rem; height: 1.46rem; border-radius: 50%; overflow: hidden; background-color: #fff;}
.user_info .user_photo .photo_img img{width: 100%; height: 100%; object-fit: cover;}
.user_info .btn_edit{width: 1.6rem; height: .66rem; border-radius: .33rem; box-sizing: border-box; border: solid .02rem #fff; font-size: .26rem; text-align: center; color: #fff; line-height: .62rem; display: flex;  align-items: center; }
.user_info .btn_edit i{display: block; width: .4rem; height: .4rem;background: url(../images/index_4.8/edit.png) no-repeat center; background-size: cover; margin-left: .26rem;}
.user_info .btn_edit em{margin-left: .04rem;}
.user_info>h3{font-size: .38rem; color: #fff; font-weight: bold; margin-top: .26rem; padding-left: .02rem;}
.user_info .btn_group{display: flex; align-items: center; }
.user_info .btn_group a{display: flex; align-items: center; width: 1.6rem; height: .66rem; border-radius: .33rem; font-size: .26rem; color: #fff; margin-left: .26rem; line-height: .66rem; justify-content: center;}
.user_info .btn_group a i{display: block; width: .4rem; height: .4rem; background:  no-repeat center; background-size: cover;  margin-right: .06rem; margin-left: -.06rem;}
.user_info .btn_group a.btn_chat{background: rgba(255,255,255,.3);}
.user_info .btn_group a.btn_chat i{background-image: url(../images/index_4.8/chat.png) ; }
.user_info .btn_group a.btn_gz{background-color: #03A9F4; }
.user_info .btn_group a.btn_gz i{background-image: url(../images/index_4.8/care.png) ; }
.user_info .btn_group a.btn_gz.follow i{display: none;}
.user_info .btn_group a.btn_gz em{display: block; text-align: center;}

/* 会员等级样式 */
 .lBox{ line-height: .32rem; border-radius: .16rem; display: inline-block;  padding-right: .1rem; position: relative;  overflow: hidden; z-index: 2; vertical-align: middle; margin-bottom: .04rem; margin-left: .1rem;}
 .lBox:before{background:rgba(0,0,0,.5); content: ''; display: block; width: 100%; height: 100%; position: absolute;right:0; top: 0; z-index: -2;}
 .lBox:after{content: ''; display: block; width: 100%; height: .5rem;position: absolute;right: 0; top: -.16rem; z-index: -1; transform: rotate(-35deg); transform-origin: right center; opacity: .7;}
 .lBox i{display: inline-block; width: .32rem; height: .32rem; float: left; background: no-repeat center; background-size: cover;}
 .lBox i img{width: .32rem; height: 3.2; object-fit: cover; display: block;}
/* .lBox i img{width: 100%; height: 100%; display: block;} */
.lBox span{vertical-align: middle; font-size: .2rem; color: #fff; }
/* 等级0 */
 .lBox.level_0 span{color: #fff; position: relative;z-index: 2;}
 .lBox.level_0:before{background: rgba(255,255,255,.2);}
 /* .lBox.level_0 i{background-image:url(../images/index_4.8/v_0.png) ;} */
/*  .lBox.level_0:after{ background: rgba(255,255,255,.7); } */
/* 等级1 */
 .lBox.level_1 span{color: #4581B1;}
 /* .lBox.level_1 i{background-image:url(../images/index_4.8/v_5.png) ;} */
 .lBox.level_1:before{background:rgba(171,214,255,.77);}
 .lBox.level_1:after{ background: rgba(145,202,255,1); }
/* 等级2 */
 .lBox.level_2 span{color: #AB7D27;}
 .lBox.level_2:before{background: #FDE7A9;}
 .lBox.level_2:after{background: #F7DA8D;}
 /* .lBox.level_2 i{background-image:url(../images/index_4.8/v_4.png) ;} */
/* 等级3 */
 .lBox.level_3:before{background: #757067;}
 .lBox.level_3:after{background: #66625A;}
 /* .lBox.level_3 i{background-image:url(../images/index_4.8/v_3.png) ;} */
/* 等级4 */
 .lBox.level_4:before{background: #6B727A;}
 .lBox.level_4:after{background: #5B6067;}
 /* .lBox.level_4 i{background-image:url(../images/index_4.8/v_2.png) ;} */
/* 等级5 */
 .lBox.level_5:before{background: #4B4B4A;}
 .lBox.level_5:after{background: #3B3B3C;}
 /* .lBox.level_5 i{background-image:url(../images/index_4.8/v_1.png) ;} */

.user_info .user-detail{display: flex; align-items: center; margin-top: .26rem;}
.user_info .user-detail .sex{width: .46rem; height: .32rem; border-radius: .16rem; background: rgba(255,255,255,.3) url(../images/index_4.8/sex_1.png) no-repeat center; background-size: .2rem; display: block; margin-left: .1rem;}
.user_info .user-detail .sex.sex_0{background-image: url(../images/index_4.8/sex_2.png);}
.user_info .user-detail .userid{background-color: rgba(255,255,255,.3) ; color: #fff; font-size: .2rem; text-align: center; display: block; line-height: .32rem; padding: 0 .2rem; border-radius: .16rem;  margin-left: .1rem;}

.user_count{display: flex; justify-content: space-between; margin-top: 1.2rem; padding: 0 .26rem;}
.user_count a{display: block; font-size: .24rem; text-align: center; color: #fff;}
.user_count a span{font-size: .38rem; font-weight: bold;  display: block; text-align: center; }

/* 内容 */
.user_content {position: relative; z-index: 2; padding-top: .2rem;}
.tab_a{display: flex; justify-content: space-around; line-height: .9rem; border-radius: .2rem .2rem 0 0; background-color: #fff; padding: 0 1.2rem; box-sizing: border-box; border-bottom: solid 1px #f5f5f7}
.tab_a a{ font-size: .28rem; color: #B6B7BF; display: block;}
.tab_a a.onclick{color: #000; position: relative;}
.tab_a a.onclick::after{content: '' ; display: block; width: .6rem; height: .04rem; background-color: #3699FF; position: absolute; bottom: 0; left: 0;}
.topFixed{position: fixed; top: 0; left: 0; right: 0; z-index: 100002; background-color: ; }
/* .topFixed .tab_a{border: none;   } */
.topFixed .fbtab_li{display: none; }
.topFixed .tab_a{border: none;  border-radius: 0; margin-bottom: .01rem;}
.topFixed{box-shadow:0px 3px 13px 0px rgba(25,30,59,0.05);}
.topFixed.fb_show .fbtab_li{display: block; margin-top: -.01rem; border-top: solid 1px #f5f5f7}
/* 发布内容 */
.no_circle{}
.no_circle .fbtab_li{padding-top: .38rem; padding-bottom: .38rem;border-radius: .2rem .2rem 0 0; overflow: hidden;}
.tab_box{height: .9rem;}
.fbtab_box{height: 1.08rem; background-color: #fff;}
.fbtab_li{padding: .28rem .2rem .28rem .3rem;  box-sizing: border-box; height: 1.08rem; overflow: hidden; background-color: #fff; position: relative;}
.fbtab_li:after{width: .9rem; height: 1.08rem; content: ''; display: block; position: absolute; right: 0; top: 0; background: url(../images/index_4.8/bg_zz.png) no-repeat center; background-size: cover; pointer-events: none;}
.fbtab_li ul{white-space: nowrap; overflow: auto; height: 1.2rem;}
.fbtab_li li{display: inline-block; font-size: .28rem; color: #919399; padding: 0 .28rem; line-height: .52rem; border-radius: .26rem; background-color: #F5F5F7; margin-right: .32rem;}
.fbtab_li li.on_tab{background:linear-gradient(90deg,rgba(64,137,255,1) 0%,rgba(38,121,255,1) 100%); color: #fff;}
.fb_con{padding-bottom: 1.2rem; }
.fb_con.show{display: block;}
/* 瀑布流样式 */

.fb_swiper{position: relative;  padding-top: .1rem;}
.fb_swiper:after{content: ''; width: 100%; height: 2rem; background:linear-gradient(0deg,rgba(245,245,247,1) 0%,rgba(255,255,255,1) 100%); position: absolute; top: 0; left:0; right: 0;}
.fb_swiper .swiper-slide a{display: block;}
.fb_swiper .swiper-slide .left_list{float: left; width: 50%; padding-left: .15rem; box-sizing: border-box;}
.fb_swiper .swiper-slide .right_list{float: right; width: 50% ; padding-right: .15rem;  box-sizing: border-box;}
.fb_swiper .swiper-slide.flow_list li{margin: 0 .07rem; margin-bottom: .16rem; border-radius: .16rem; overflow: hidden;box-shadow:0 .03rem .13rem 0px rgba(0, 0, 0, 0.05);}

.fb_swiper .swiper-slide.flow_list li a{display: block; background-color: #fff; }
.fb_swiper .swiper-slide.flow_list .pro_img{ background: #f2f2f2; position: relative; min-height: 2.6rem; max-height: 4.6rem; overflow: hidden;}
.fb_swiper .swiper-slide.flow_list.house_slide .pro_img .pro_label{line-height: .36rem; font-size: .2rem; text-align: center; color: #fff; border-radius:.24rem .18rem .18rem .02rem; background:linear-gradient(90deg,rgba(255,108,51,1) 0%,rgba(255,146,67,1) 100%); padding: 0 .16rem; position: absolute; left: .16rem; bottom: .16rem; display: block;}
.fb_swiper .swiper-slide.flow_list .pro_img img{width: 100%; height: 100%; object-fit: cover; display: block; min-height: 2.6rem; object-position: center;}
.fb_swiper .swiper-slide.flow_list li .pro_info{padding: .18rem; padding-bottom: .26rem; }
.fb_swiper .swiper-slide.flow_list li .pro_info h2{font-size: .26rem; color: #000; font-weight: bold;  display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden; line-height: .38rem;}
.fb_swiper .swiper-slide.flow_list li .pro_info .pro_detail{display: flex; justify-content: space-between; align-items: center; margin-top: .24rem;}
.fb_swiper .swiper-slide.flow_list li .pro_info .pro_detail .price{font-size: .22rem; color: #FF1222; font-weight: bold;}
.fb_swiper .swiper-slide.flow_list li .pro_info .pro_detail .price i{font-size: .32rem; font-weight: bold;}
.fb_swiper .swiper-slide.flow_list li .pro_info .pro_detail .num_store{color: #B3B3B3;}
.fb_swiper .swiper-slide.flow_list li.no_pro .pro_img:after{content: ''; display: block; background: no-repeat center rgba(0,0,0,.3); position: absolute; left: 0; right: 0; top: 0;bottom: 0; background-size: 1.8rem;}
.fb_swiper .swiper-slide.info_slide.flow_list li.no_pro .pro_img:after{background-image:url(../images/index_4.8/shixiao.png)}
.fb_swiper .swiper-slide.house_slide.flow_list li.no_pro.chuzu .pro_img:after{background-image:url(../images/index_4.8/chuzu.png)}
.fb_swiper .swiper-slide.house_slide.flow_list li.no_pro.chushou .pro_img:after{background-image:url(../images/index_4.8/chushou.png)}
/* 房产 */
.fb_swiper .swiper-slide.flow_list.house_slide li .pro_info .pro_detail .price{font-weight: normal;}

/* 大图样式 */
.fb_swiper .swiper-slide.bimg_list li{margin: 0 .24rem; background: #fff;box-shadow:0px 3px 13px 0px rgba(0, 0, 0, 0.05);border-radius:.2rem; overflow: hidden; margin-bottom: .22rem;}
.fb_swiper .swiper-slide.bimg_list .pro_img img{width:100%; height: 100%; object-fit: cover;}

/* 投票 */
.fb_swiper .swiper-slide.bimg_list.vote_slide .pro_img{height: 4.2rem; background: #999; position: relative;}
.fb_swiper .swiper-slide.bimg_list.vote_slide .pro_info{height: 1.8rem; box-sizing: border-box; padding: .26rem; position: relative; }
.fb_swiper .swiper-slide.bimg_list.vote_slide .pro_info h2{margin-right:2.14rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: .32rem; color: #000; font-weight: bold ; }
.fb_swiper .swiper-slide.bimg_list.vote_slide .pro_info .vote_btn{background: none; background:linear-gradient(90deg,rgba(255,99,110,1) 0%,rgba(255,38,79,1) 100%); border: none; width:1.7rem; height: .64rem; border-radius: .32rem; position: absolute; right: .3rem; bottom: .48rem; display: block; color: #fff; font-size: .26rem; box-sizing: border-box; padding-left: .1rem;}
.fb_swiper .swiper-slide.bimg_list.vote_slide .pro_info .vote_btn:after{content: ''; display: inline-block; width: .3rem; height: .3rem; background: url(../images/index_4.8/right_rr.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-left: .04rem;}
.fb_swiper .swiper-slide.bimg_list.vote_slide .pro_info .count_li span{font-size: .24rem; color: #BABABA; margin-right: .38rem; vertical-align: middle;}
.fb_swiper .swiper-slide.bimg_list.vote_slide .pro_info .count_li span::before{content: ''; display: inline-block; width: .3rem; height: .3rem; margin-right: .04rem;background: no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem;}
.fb_swiper .swiper-slide.bimg_list.vote_slide .pro_info .count_li{margin-top: .26rem;}
.fb_swiper .swiper-slide.bimg_list.vote_slide .pro_info .count_li span.vote_num::before{background-image: url(../images/index_4.8/vote.png);}
.fb_swiper .swiper-slide.bimg_list.vote_slide .pro_info .count_li span.read_num::before{background-image: url(../images/index_4.8/read.png);}

/* 直播 */
.fb_swiper .swiper-slide.bimg_list.live_slide .pro_img{height: 4rem; background: #999; position: relative; position: relative;}
.fb_swiper .swiper-slide.bimg_list.live_slide .pro_img:after{content: ''; display: inline-block; width: .8rem; height: .8rem; background: url(../images/index_4.8/live_icon.png) no-repeat center; background-size: cover; position: absolute; left: 50%; top: 50%; margin-left: -.4rem; margin-top: -.4rem;}
.fb_swiper .swiper-slide.bimg_list.live_slide .pro_img p i{display: inline-block; width: .28rem; height: .22rem; background: no-repeat url(../images/vlook.png); background-size: .28rem .22rem; vertical-align: middle; margin-right: .12rem;}
.fb_swiper .swiper-slide.bimg_list.live_slide .pro_img p{position: absolute; bottom: .3rem; left: .3rem;}
.fb_swiper .swiper-slide.bimg_list.live_slide .pro_img p em{font-size: .2rem; color: #fff; vertical-align: middle;}
.fb_swiper .swiper-slide.bimg_list.live_slide .pro_info{height: 1.5rem; box-sizing: border-box; padding: .2rem; position: relative; }
.fb_swiper .swiper-slide.bimg_list.live_slide .pro_info h2{margin-right:2.16rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: .32rem; color: #000; font-weight: bold ; }
.fb_swiper .swiper-slide.bimg_list.live_slide .pro_info p{font-size: .24rem; color: #313233; margin-top: .18rem;}
.fb_swiper .swiper-slide.bimg_list.live_slide .pro_info p em{color: #B6B7BF; margin-left: .24rem;}
.fb_swiper .swiper-slide.bimg_list.live_slide .pro_info .yuyue_btn{background: none; background-color: #fff; border: none; width:1.7rem; height: .64rem; border-radius: .32rem; position: absolute; right: .3rem; bottom: .48rem; display: block; box-shadow:0px 13px 57px 0px rgba(10,12,49,0.13); color: #313233; font-weight: bold; font-size: .26rem;}
.fb_swiper .swiper-slide.bimg_list.live_slide .pro_info .yuyue_btn.fn-hide{display: none;}
.fb_swiper .swiper-slide.bimg_list.live_slide .pro_info .yuyue_btn i.yue_icon{display: inline-block; width: .32rem; height: .32rem; background: url(../images/index_4.8/yue_icon.png) no-repeat center; background-size: cover; margin-right: .1rem; vertical-align: middle;}
.fb_swiper .swiper-slide.bimg_list.live_slide .video_state{position: absolute; top: .2rem; left: .2rem; color: #fff; font-size: .22rem;  display: block; border-radius: .04rem;}
.fb_swiper .swiper-slide.bimg_list.live_slide .video_state.live_before {background-color: rgba(0,0,0,.5); padding-right: .1rem;}
.fb_swiper .swiper-slide.bimg_list.live_slide .video_state.live_before em{padding-right: .14rem;}
.fb_swiper .swiper-slide.bimg_list.live_slide .video_state.live_before:before{content: '预告'; border-radius: .04rem; background-color: #ff853b; padding: .06rem .1rem; margin-right: .14rem; display: inline-block;}
.fb_swiper .swiper-slide.bimg_list.live_slide .video_state.living{width: .8rem; height: .32rem; background: url(../images/onfair2.gif) no-repeat center; background-size: contain;}
.fb_swiper .swiper-slide.bimg_list.live_slide .video_state.live_after:before{content: '精彩回放'; display: block;border-radius: .04rem; background-color: #87cc24; color: #fff; font-size: .22rem; line-height: .32rem; padding:.02rem .1rem;}

/* 活动 */
.fb_swiper .swiper-slide.bimg_list.huodong_slide .pro_img{height: 3.7rem; background: #999; position: relative; }
.fb_swiper .swiper-slide.bimg_list.huodong_slide .pro_img img{ width: 100%; height: 100%; object-fit: cover;}
.fb_swiper .swiper-slide.bimg_list.huodong_slide .pro_info{height: 2.6rem; box-sizing: border-box; padding: .2rem; position: relative; }
.fb_swiper .swiper-slide.bimg_list.huodong_slide .pro_info h2{overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: .32rem; color: #000; font-weight: bold ; padding: 0 .06rem; margin-bottom: .2rem;}
.fb_swiper .swiper-slide.bimg_list.huodong_slide .pro_info .pro_detail p{font-size: .24rem; color: #ABABAB; display: flex; align-items: center; margin-top: .16rem;}
.fb_swiper .swiper-slide.bimg_list.huodong_slide .pro_info .pro_detail p em{color: #000;}
.fb_swiper .swiper-slide.bimg_list.huodong_slide .pro_info .pro_detail p i{display: inline-block; width: .3rem; height: .3rem; background: no-repeat center; background-size: cover; margin-right: .08rem;}
.fb_swiper .swiper-slide.bimg_list.huodong_slide .pro_info .pro_detail p.act_time i{background-image: url(../images/index_4.8/act_time.png);}
.fb_swiper .swiper-slide.bimg_list.huodong_slide .pro_info .pro_detail p.act_addr i{background-image: url(../images/index_4.8/act_addr.png);}
.fb_swiper .swiper-slide.bimg_list.huodong_slide .pro_info .pro_detail p.act_bm i{background-image: url(../images/index_4.8/act_bm.png);}
.fb_swiper .swiper-slide.bimg_list.huodong_slide .pro_info .price{font-size: .22rem; color: #FF9436; position: absolute; right: .26rem; bottom: .38rem;  font-weight: bold;}
.fb_swiper .swiper-slide.bimg_list.huodong_slide .pro_info .price.free{font-size: .36rem;}
.fb_swiper .swiper-slide.bimg_list.huodong_slide .pro_info .price em{font-size: .48rem; }


/* 贴吧 */
.fb_swiper .swiper-slide.mimg_list.tieba_slide{margin-top: .1rem;}
.fb_swiper .swiper-slide.mimg_list.tieba_slide .fb_time{color: #AAABB3; font-size: .24rem; padding-top: .1rem;}
.fb_swiper .swiper-slide.mimg_list.tieba_slide .fb_time::before{content: ''; display: inline-block; width: .1rem; height: .1rem; border-radius: 50%; background-color: #2889FF; vertical-align: middle; margin-right: .1rem; margin-bottom: .04rem;}
.fb_swiper .swiper-slide.mimg_list.tieba_slide .tie_li{margin: 0 .24rem; margin-bottom: .22rem; padding:.26rem .2rem; background-color: #fff; box-shadow:0px 3px 13px 0px rgba(0, 0, 0, 0.05);border-radius:.2rem; padding-right: .08rem;}
.fb_swiper .swiper-slide.mimg_list.tieba_slide .tie_title{font-size: .3rem; color: #000; font-weight: bold; margin-top: .3rem;   display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden; line-height: .38rem;}
.fb_swiper .swiper-slide.mimg_list.tieba_slide .imggroup {display: flex; align-items: center; margin-top: .16rem;}
.fb_swiper .swiper-slide.mimg_list.tieba_slide .imggroup .pro_img{width: 2.12rem; height: 1.6rem; border-radius: .04rem; overflow: hidden; margin-right: .15rem; text-align: center;}
.fb_swiper .swiper-slide.mimg_list.tieba_slide .imggroup .pro_img img{width: 100%; height: 100%; object-fit: cover; border-radius: .04rem;}
.fb_swiper .swiper-slide.mimg_list.tieba_slide .tie_count{display: flex; align-items: center; margin-top: .27rem;}
.fb_swiper .swiper-slide.mimg_list.tieba_slide .tie_count span{display: flex; align-items: center; color: #B6B7BF; font-size: .24rem; margin-right: .54rem;}
.fb_swiper .swiper-slide.mimg_list.tieba_slide .tie_count i{display: block; width:.3rem ; height: .3rem; background: no-repeat center; background-size: cover; margin-right: .07rem;}
.fb_swiper .swiper-slide.mimg_list.tieba_slide .tie_count .tie_read i{background-image: url(../images/index_4.8/read1.png);}
.fb_swiper .swiper-slide.mimg_list.tieba_slide .tie_count .tie_com i{background-image: url(../images/index_4.8/cmt.png);}
.fb_swiper .swiper-slide.mimg_list.tieba_slide  .single_img{width: 4rem; height: 3rem; margin-top: .14rem;}
.fb_swiper .swiper-slide.mimg_list.tieba_slide  .single_img img{width: 100%; height: 100%; object-fit: cover;border-radius: .04rem;}

/* 汽车 */
.fb_swiper .swiper-slide.flow_list.car_slide .pro_time{line-height: .48rem; color: #B3B3B3; background-color: #F5F5F7; border-radius: .24rem; padding: 0 .2rem; display: inline-block; margin-top: .2rem;}

/* 教育 */
.fb_swiper .swiper-slide.flow_list.education_slide .pro_type{color: #3377FF; font-size: .2rem; padding: 0 .05rem; border-radius: .04rem; border: solid 1px #A1C0FF; display: inline-block; margin-top: .12rem;}
.fb_swiper .swiper-slide.flow_list.education_slide li .pro_info h2 {letter-spacing:-.5px;}

/* 旅游 */
.fb_swiper .swiper-slide.flow_list.travel_slide .pro_img .pro_label{line-height: .36rem; font-size: .2rem; text-align: center; color: #fff; border-radius:.18rem .18rem .18rem.02rem;background:linear-gradient(90deg,rgba(10,207,171,1) 0%,rgba(26,196,102,1) 100%); padding: 0 .16rem; position: absolute; left: .16rem; bottom: .16rem; display: block;}
.fb_swiper .swiper-slide.flow_list .video_li .pro_detail{display: flex; align-items: center;}
.fb_swiper .swiper-slide.flow_list .video_li .pro_detail .up_info{display: flex; align-items: center;}
.fb_swiper .swiper-slide.flow_list .video_li .pro_detail .up_info .up_hphoto{width: .4rem; height: .4rem; border-radius: 50%; overflow: hidden; margin-right: .1rem;}
.fb_swiper .swiper-slide.flow_list .video_li .pro_detail .up_info .up_hphoto img{width: 100%; height: 100%; object-fit: cover;}
.fb_swiper .swiper-slide.flow_list .video_li .pro_img:after{content: ''; display: block; width: .8rem; height: .8rem; background: url(../images/index_4.8/live_icon.png) no-repeat center; background-size: cover; position: absolute; left: 50%; top: 50%; margin-top: -.4rem; margin-left: -.4rem;}
.fb_swiper .swiper-slide.flow_list.video_slide .video_li .pro_img:after{width: .5rem; height: .5rem; margin: 0; left: .18rem; bottom: .12rem; top: auto;}
.fb_swiper .swiper-slide.flow_list .video_li .pro_detail  .sc_num{display: flex; color: #313233; align-items: center; font-size: .24rem;}
.fb_swiper .swiper-slide.flow_list .video_li .pro_detail  .sc_num i{display: block; width: .3rem; height: .3rem; background: url(../images/index_4.8/sc1.png) no-repeat center; background-size: cover; margin-right: .06rem;}
.fb_swiper .swiper-slide.flow_list .video_li .pro_detail .sc_num.sced i{background-image: url(../images/index_4.8/sc.png);}

/* 家政 */
.fb_swiper .swiper-slide.flow_list.homemaking_slide .pro_type{color: #FF3B58; font-size: .2rem; padding: 0 .05rem; border-radius: .04rem; border: solid 1px #FFC4CD; display: inline-block; margin-top: .08rem;}

.loading{padding:.6rem 0;text-align: center; clear: both;}
.loading.loadimg{width: 2rem !important; height: .28rem; display: block; margin: auto; background: url(../images/index_4.8/loading.png) no-repeat center; background-size: 2rem auto;}

.fb_swiper  .swiper-slide{height:1px} /* 随意指定一个height值即可 */
.fb_swiper .swiper-slide-active { height:auto !important; min-height: 6rem;}


/* 首页相关内容 */
.sy_con .tip_box {display: flex; align-items: center; font-size: .26rem; color: #666; padding: 0 .26rem;  background-color: #F7F7F7; }
.sy_con .tip_box span{display: flex; align-items: center; height: .6rem; line-height: .6rem;}
.sy_con .tip_box span i{display: block; width: .4rem; height: .4rem; background: no-repeat center; background-size: cover; margin-left:.1rem;}
.sy_con .tip_box span.zan_tip i{background-image: url(../images/index_4.8/zan1.png); margin-right: .04rem;}
.sy_con .tip_box span.hot_tip i{background-image: url(../images/index_4.8/hot.png);}

.sy_con .other_box{background: #fff; padding: .3rem; padding-top: .4rem; padding-right: 0; position: relative;}
.sy_con .other_box .mod_box {display: flex; align-items: center; justify-content: space-between; margin-right: .3rem;}
.sy_con .other_box .mod_box .left_img{width: 5.1rem; height: 1.5rem; background: #eee; }
.sy_con .other_box .mod_box .left_img img,.sy_con .other_box .mod_li img{width: 100%; height: 100%; object-fit: cover; border-radius: .16rem;}
.sy_con .other_box .mod_box .right_info{width: 1.6rem; height: 1.5rem; background: #F2F3F5; border-radius: .16rem; color: #858899; box-sizing: border-box; padding-top: .3rem;}
.sy_con .other_box .mod_box .right_info h6{font-size: .34rem; text-align: center; font-weight: bold;}
.sy_con .other_box .mod_box .right_info p{display: flex; font-size: .24rem; align-items: center; justify-content: center;}
.sy_con .other_box .mod_box .right_info p i{display: block; width: .4rem; height: .4rem; background: url(../images/index_4.8/arr_r.png) no-repeat center; background-size: cover; }
.sy_con .other_box .mod_li{width: 5.1rem; height: 1.5rem; border-radius: .16rem; margin-right: .2rem;}
.sy_con .other_box .mod_li a{display: block;}
.sy_con .other_box.bottom_shadow{border-radius: .2rem .2rem 0 0; padding: .4rem .3rem; padding-right: 0;}
/* .sy_con .adv_box .adv_swiper .swiper-slide{width: 3rem; height: 1.2rem; border-radius: .16rem; background-color: #F2F3F5; margin: 0 .1rem; } */
.sy_con .other_box.bottom_shadow::after{content: ''; display: block; width: 100%; height: .6rem; background:linear-gradient(0deg,rgba(0,0,0,1) 0%,rgba(255,255,255,1) 100%); opacity:0.07; position: absolute; bottom: -.3rem; left: 0; right: 0;}
/* 圈子样式 */
.li_box a.dt_detail{display: block;}
.li_box{padding-top: .44rem ; background: #fff; margin-bottom: .2rem; position: relative;}
.li_box .art_ib{margin-bottom: .3rem; padding: 0 .4rem; display: block;}
.li_box .art_ib .left_head{width: .72rem; height: .72rem; float: left; position: relative;}
.li_box .art_ib .left_head .v_log{width: .4rem; height: .4rem; position: absolute; right: -.09rem; bottom: -.05rem;}
.li_box .art_ib .left_head img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.li_box .art_ib .r_info{margin-left: .9rem; margin-right: 1.5rem;}
.li_box .art_ib .r_info h4{font-size: .28rem; color: #212121; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
/* .li_box .art_ib .r_info h4 span{display: inline-block; max-width:3.2rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;} */
.li_box .art_ib .r_info p.pub_time{font-size: .22rem; color: #B3B3B3;}
.li_box .art_ib .r_info.vip_icon em{display: inline-block; width: 1.28rem; height: .32rem; margin-left: .12rem; margin-bottom: -.06rem;}
.li_box .art_ib .r_info.vip_icon em img{display: block; width: 100%; height: 100%; object-fit: cover; }
.li_box .art_con h2{color: #000; font-size: .32rem; line-height: .44rem; margin-bottom: .2rem; padding: 0 .4rem;  display: -webkit-box; -webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.li_box .art_con.hot_con h2:before{content: ''; display: inline-block; width: .9rem; height: .4rem; background: url(../images/index_4.8/hot_tag.png) no-repeat center; background-size: cover; margin-bottom: -.1rem; margin-right: .08rem;}

.li_box .img_box{margin-bottom: .25rem; padding: 0 .4rem;}
.li_box .art_con .img_item{border-radius: .04rem; box-shadow:0 0 .01rem .01rem rgba(15,19,36,0.09); }
.li_box .art_con .img_item.h_img{width: 3.6rem; max-height: 6.8rem; overflow: hidden;}/* 一张长图 */
.li_box .art_con .img_item.v_img{width: 4.8rem; max-height: 6.8rem; overflow: hidden;} /*一张横图*/
/* 2、4张图 */
.li_box .art_con .img_item.d_img{width: 3.3rem; height: 3.3rem; float: left; margin-right: .08rem; margin-bottom: .08rem;}
.li_box .art_con .img_item.d_img img,.li_box .art_con .img_item.m_img img{height: 100%; object-fit: cover;display: block;}
.li_box .art_con .img_item.d_img:nth-child(2n){margin-right: 0;}
/* 3或者4张以上的 */
.li_box .art_con .img_item.m_img{width:2.18rem; height: 2.18rem; float: left;margin-right: .08rem; margin-bottom: .08rem;}
.li_box .art_con .img_item.m_img:nth-child(3n){margin-right: 0;}
.li_box .art_con .img_item img{width: 100%; display: block; border-radius: .04rem; }

/* 视频 */
.li_box .art_con .img_item.video_item{position: relative; min-height:1rem; }
.li_box .art_con .img_item.video_item:before{content: ''; display: block; width: .8rem; height: .8rem; background: url(../images/index_4.8/v_icon.png) no-repeat center;background-size: cover; position: absolute; left: 50%; top: 50%; margin-left:-.4rem ; margin-top: -.4rem;}
.li_box .art_con .img_item.video_item em{color: #fff; background: rgba(0,0,0,.5); font-size: .24rem; text-align: center; line-height: .36rem; border-radius: .18rem;padding: 0 .11rem; position: absolute; bottom: .1rem; right: .1rem;}
/* 链接 */
.li_box .link_out{width: 6rem; height: .72rem;margin: 0 .4rem; padding:.08rem 0; background: #F5F5F5; display: block; border-radius: .04rem; margin-bottom: .26rem;}
.li_box .link_out .left_img{width: .72rem; height: .72rem; border-radius: .04rem; float: left;overflow: hidden; margin-left: .08rem;}
.li_box .link_out .left_img img{width: 100%; height: 100%; object-fit: cover;}
.li_box .link_out p{margin-left: .98rem; height: .72rem; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden; line-height: .32rem; font-size: .26rem; color: #4D4D4D; padding-right:.4rem; line-height:.38rem;}
.li_box .topic_link{max-width: 50%; line-height: .4rem; border-radius: .26rem; background: #F0F3F5; color: #03A9F4; font-weight: bold; display: inline-block; padding: .06rem; padding-right: .23rem;margin: 0 .4rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.li_box .topic_link:before{content: ''; display: inline-block; width: .4rem; height: .4rem; background: url(../images/index_4.8/topic_icon.png) no-repeat center; background-size: cover; margin-bottom: -.1rem; margin-right: .05rem;}
.li_box .posi_link{display: block; font-size: .24rem; color: #4D4D4D; margin: 0 .4rem; margin-top: .22rem;}
.li_box .posi_link:before{content: ''; display: inline-block; width: .36rem; height: .36rem; background: url(../images/index_4.8/posi.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-right: .05rem;}
/* 按钮 */
.li_box .btn_group{ padding: .4rem .3rem .37rem .4rem;}
.li_box .left_btns{width:58%; display: flex; justify-content: space-between; }
.li_box .left_btns a,.li_box .r_btn{display: block; line-height: .5rem; color: #999;}
.li_box .left_btns a:before,.li_box .r_btn:before{content: ''; display: inline-block; width: .5rem; height: .5rem; background: no-repeat center; background-size: cover; vertical-align: middle;margin-bottom: .04rem; margin-right: .05rem;}
.li_box .left_btns a.comt_btn:before{background-image:url(../images/index_4.8/comt.png) }
.li_box .left_btns a.share_btn:before{background-image:url(../images/index_4.8/share.png) }
.li_box .left_btns a.zan_btn:before{background-image:url(../images/index_4.8/zan_1.png) }
.li_box .left_btns a.zan_btn{position: relative;}
.li_box .left_btns a.zan_btn .canvas_box{width: 1.3rem; height: 1.3rem; position: relative; position: absolute; left: 50%; top: 50%; overflow: hidden; margin-left: -.65rem; margin-top: -.69rem; display: none;}
.li_box .left_btns a.zan_btn em{position: relative; z-index: 2;}
.li_box .left_btns a.zan_btn img{width: 2rem;  position: absolute; left: 50%; top: 50%;margin-left: -1rem; margin-top: -1.05rem;}
.li_box .left_btns a.zan_btn.zaned:before{background-image:url(../images/index_4.8/zan_2.png) }
.li_box .r_btn:before{background-image:url(../images/index_4.8/more.png)}
.li_box .r_btn{float: right;}
.li_box .left_btns a.hidea{display: none;}
/* 点赞、评论列表 */
.comt_box{padding: .3rem .4rem; border-top: solid 1px #f5f5f7;}
/* .zan_box {margin-bottom: .3rem;} */
.zan_box .zan_ul{display: inline-block; vertical-align: middle;}
.zan_box .zan_li{float: left; margin-right: .08rem;}
.zan_box .zan_li a{display: block; width: .44rem; height: .44rem; border-radius: 50%; position: relative;}
.zan_box .zan_li a img{display: block; width: 100% ; height: 100%; object-fit: cover; border-radius: 50%;}
.zan_box .zan_li a .v_icon{width: .36rem; height: .36rem; position: absolute;right: -.09rem; bottom: -.09rem;}
.zan_box .zan_count{vertical-align: middle; display: inline-block;  border-radius: .22rem; background: url(../images/index_4.8/bg_zan.png) no-repeat left center; background-size: auto .48rem; min-width: .85rem; text-align: center; overflow: hidden;}
.zan_box .zan_count em{color: #808080; font-size: .24rem;display: block;line-height: .44rem; text-align: center;box-sizing: border-box; margin-left: .18rem; background: #EBEBED; border-radius: .22rem;padding-right: .1rem;}
/* .comt_list{margin-top: .3rem;} */
.comt_list li{font-size: .28rem; color: #212121; margin-bottom: .05rem; line-height:.38rem;}
.comt_list a{font-size: .28rem; color: #03A9F4; font-weight: bold;}
.comt_list .commt_btn{width: 6rem;line-height: .64rem; border-radius: .1rem; background: #F2F2F2; box-sizing: border-box; padding-left: .2rem; font-size: .28rem; color: #B3B3B3; margin-top: .28rem;}
.comt_li img{width: .4rem; vertical-align: middle;}
.loading_tip{font-size: .24rem; color: #B2B2B2; text-align: center; padding: .4rem; clear: both;}
.loading_tip img{width: 2rem;}

/* 弹出层 */
.mask_topic,.mask_more,.mask_re,.mask_change{width: 100%; height: 100%; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5); z-index: 1000000; display: none;}
/* =====我参与/创建的话题==== */

.myt_box{position: relative; position: fixed; bottom: -90%; left: 0; right: 0; height: 90%; background: #fff; border-radius: .3rem .3rem 0 0; box-shadow:0 -.03rem .17rem 0 rgba(4,5,36,0.03); z-index: 1000001;}
.myt_box>h2{color: #000; font-size: .34rem; line-height: 1.1rem; font-weight: bold; text-align: center; border-bottom: solid .01rem #EBEBED; position: relative; position: absolute; left: 0; right: 0; top: 0; background: #fff; border-radius: .3rem .3rem 0 0;}
.myt_box>h2 .close_btn{display: block; width: .48rem; height: .48rem; background: url(../images/close_btn.png) no-repeat center; background-size: cover; position: absolute; top: .3rem; right: .3rem;}
.myt_list{padding-top: 1.1rem; overflow: auto; height: 100%; box-sizing: border-box; padding-bottom: .4rem;}
.myt_list a{display: block; padding-top: .26rem; padding-left: .3rem;}
.myt_list a .l_img{width: 1.06rem; height: 1.06rem; border-radius: .1rem; overflow: hidden; float: left;}
.myt_list a .l_img img{width: 100%; height: 100%; object-fit: cover;}
.myt_list a .r_info h3{font-size: .32rem; color: #000;padding-top: .06rem; margin-right: .3rem; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.myt_list a .r_info p{font-size: .24rem; color: #999; margin-top: .12rem;}
.myt_list a .r_info {border-bottom: solid 1px  #f5f5f7; margin-left: 1.3rem; padding-bottom: .26rem; height: 1.06rem;}

/* 回复框 */
.mask_re{background: rgba(0,0,0,.3);}

.bottom_box {padding: .28rem .3rem .28rem .2rem; background: #fff; position: fixed; bottom: 0; left: 0; right: 0;z-index: 1000001; border-radius: .3rem .3rem 0 0 ;box-shadow:0 -.11rem .37rem 0 rgba(0, 0, 0, 0.07); display: none; padding-bottom: 3rem;}
.reply_box .bq_btn{float: left; width: .64rem; height: .64rem; background: url(../images/index_4.8/bq.png) no-repeat center; background-size: cover; margin-top: .04rem;}
.reply_box .bq_btn.bq_open{background-image: url(../images/f_bq1.png);}
.reply_box .send_btn{width: 1.2rem; line-height: .72rem; font-size: .26rem; color: rgba(255,255,255,1); border-radius: .36rem; text-align: center; float: right;
background:linear-gradient(90deg,rgba(64,137,255,1) 0%,rgba(38,121,255,1) 100%);
}
.reply_box .inbox{margin-left: .7rem; margin-right: 1.5rem; height: .72rem; box-sizing: border-box; border-radius: .36rem; border: solid .015rem #A9A9AB;}
.reply_box .inbox #reply{font-size: .3rem;padding-top: .14rem;  padding-right: .29rem; padding-left: .29rem; height: 100%; box-sizing: border-box; overflow: auto; -webkit-user-select:text;}
.reply_box .inbox #reply:empty:before{content: attr(placeholder); color: #ccc; }
.reply_box .inbox #reply:before{content: '';}
.reply_box .inbox #reply img{width: .4rem; margin: 0 .01rem; vertical-align: middle;}
.reply_box .inbox input{border: none; background: none; width: 100%;padding-right: .29rem; box-sizing: border-box; font-size: .3rem;padding-top: .14rem;}
.reply_box .inbox input::placeholder{color: #ccc;}
/* 表情 */
.bq_box{height: 3.3rem; overflow: auto; display: none; animation: bottomFadeIn .5s ease-in-out; margin-top: .2rem;}
.bq_box li{float: left; width: 14.2%; margin-bottom: .3rem; }
.bq_box li img{display: block; width: .5rem; margin: auto;padding: .05rem;}
.bq_box.show{display: block;}
/* 更多 */
.more_box{width: 100% ;height: 4.1rem; position: relative; background: #F4F4F4; position: fixed; bottom: -4.1rem; left: 0; right: 0; z-index: 1000001;}
.more_box ul.m_list{padding-top: .5rem;}
.more_box li.m_li{float: left; margin-left: .5rem;}
.more_box li.m_li a{display: block; width: 1.2rem; height: 1.2rem; border-radius: .24rem; background-color: #fff; box-sizing: border-box; padding: .1rem;}
.more_box li.m_li a img{width: 100%; height: 100%; object-fit: cover;}
.more_box li.m_li p{text-align: center; font-size: .28rem; color: #212121; margin-top: .14rem;}
.more_box .cancel_btn{line-height: .98rem; position: absolute; bottom: 0; left: 0; right: 0; background: #fff; font-size: .32rem; color: #4D4D4D; text-align: center;}

.loading_tip{font-size: .24rem; color: #B2B2B2; text-align: center; padding: .4rem; clear: both;}
.loading_tip img{width: 2rem;}

/*举报框*/
.jubao_box{width: 100%; height: 100%; position: relative; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.47); z-index: 1000002; display: none;}
.jubao{width: 6rem; height: 7.4rem; border-radius: .3rem; background-color: #fff; position: absolute; left: 50%; top: 48%; margin-left: -3rem; margin-top: -3.7rem;}
.jubao_detail{padding: .72rem .6rem .5rem .6rem;}
.jubao h4{font-size: .26rem;color: #2A2A2B; font-weight: normal;margin-bottom: .1rem; }
.jubao h4 em{font-weight: bold; margin: 0 .1rem;}
.jubao_title{font-size: .28rem; color: #2A2A2B; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.jubap_type,.contact{height: .8rem; border-radius: .08rem; border: solid .02rem #E1E2E8; box-sizing: border-box;}
.contact input,.jubap_type input{border: none; font-size: .3rem; padding-top: .18rem; padding-left: .29rem; caret-color:#508AFF; line-height: .42rem;}
.contact input::placeholder,.jubao_content dd textarea::placeholder,.jubap_type input::placeholder{color: #BEBFC4;  }
.contact{margin-top: .3rem;}
.jubap_type{margin-top: .3rem; position: relative;}
.jubap_type:after{content:''; display: block; width: .2rem; height: .2rem; background: url(../images/index_4.8/jubao_down.png) no-repeat center ; background-size: contain; position: absolute; right: .22rem; top: .3rem;}
.jubao_content{margin-top: .4rem;}
.jubao_content dt{font-size: .22rem; color: #BEBFC4; line-height: .42rem; border-bottom: solid .02rem #E1E2E8;}
.jubao_content dd textarea{border: none; font-size: .28rem; line-height: .38rem; width: 100%; resize: none; height: 1.04rem;}
.jubao_content dd{padding: .2rem 0; /*margin-bottom: .2rem;*/ }
.jubao .sub{width: 2rem; height: .88rem; display: block; color: #fff; border-radius: .44rem; border: none; margin: auto; font-size: .3rem;
background: -webkit-linear-gradient(45deg,rgba(255,74,104,1) 0%,rgba(247,57,57,1) 100%); /* Safari 5.1 - 6.0 */
background: -o-linear-gradient(45deg,rgba(255,74,104,1) 0%,rgba(247,57,57,1) 100%); /* Opera 11.1 - 12.0 */
background: -moz-linear-gradient(45deg,rgba(255,74,104,1) 0%,rgba(247,57,57,1) 100%); /* Firefox 3.6 - 15 */
background:linear-gradient(45deg,rgba(255,74,104,1) 0%,rgba(247,57,57,1) 100%);
box-shadow:0 .11rem .37rem 0 rgba(255,42,56,0.47);}
/*错误信息*/
.JuError{color: #fff; background: #000; border-radius: .1rem; width: 3rem; position: fixed; z-index: 1000000; top: 50%; padding: .1rem .2rem; text-align: center; left: 50%; margin-left: -1.7rem; display: none; font-size: .25rem;}

/*遮罩层*/
.JuMask{position: fixed;top: 0;position: fixed;background: rgba(0,0,0,.4);top: 0;bottom: 0;left: 0;right: 0;z-index: 100002;display: none;}
.JuMask.show{display: block;}



.chosebox{ border-radius: .08rem; position: relative; border: solid .02rem #E1E2E8; height: 2.5rem; padding-bottom: .2rem;position: absolute; top: .92rem; background-color: #fff; left: -0.02rem;box-shadow:0 .03rem .11rem 0 rgba(17,24,57,0.11); width: 100%; display: none; animation: .5s topFadeIn ease-in-out;}
.show{display: block;}
.chose_ul{height: 2.5rem;  display: block; width: 100%;  overflow: auto;  }
.chosebox:after{content: ''; display: block; height: .5rem;position: absolute; bottom:.2rem; left: 0; right: 0; width: 100%; z-index: 9; pointer-events: none;
background: -webkit-linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Safari 5.1 - 6.0 */
background: -o-linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.1 - 12.0 */
background: -moz-linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Firefox 3.6 - 15 */
background:linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)
}
.chose_ul li{margin-top: .3rem; font-size: .3rem; color: #2A2A2B; padding-left: .3rem; line-height: 1.1em;}
.jubao .close_btn{width: .52rem; height: .52rem; background: url(../images/index_4.8/jubao_close.png) center no-repeat; background-size: cover; position: absolute; right: .28rem; top: .18rem;}
.comm_loading img{width: 2rem; display: block; margin: auto;}
.comm_loading{font-size: .22rem; color: #747578; text-align: center; padding-top: 1rem; padding-bottom: 1rem;}

/*打赏*/
.content p.shangbtn{margin-bottom: 1rem;}
.shangbtn span{display: block; width: 1rem; margin: 0 auto;}
.shangbtn span img{display: block; width: 100%;}
.shang-box{background: #fff;width: 5rem; height: 5.7rem; border-radius: .3rem; margin: 0 auto; position: relative;position: fixed;left: 50%;top: 40%; display: none; z-index: 9999999; margin-left: -2.5rem; margin-top: -2.85rem;	/* -webkit-animation: slide-in-elliptic-top-fwd 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;animation: slide-in-elliptic-top-fwd 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */}
/*.shang-box em{font-style: normal; vertical-align: bottom;}*/
.shang-box .shang-money .close{display: block;width: .52rem;height: .52rem;background: url(../images/index_4.8/cha.png) center center no-repeat;background-size: .52rem .52rem; position: absolute; right: .18rem; top: .18rem;}
.shang-money .pic-box{width: 1.3rem;height: 1.3rem;border-radius: 1.3rem;overflow: hidden;margin: 0 auto}
.shang-money .pic-box img{display: block;width: 100%;}
.shang-money .shang-item{text-align: center;margin-bottom: .2rem;}
.shang-money .shang-item-cash{font-size: .28rem;/*line-height: .8rem;margin-top: .4rem;*/display: block;}
.shang-money .shang-item-cash em{font-size: .68rem; font-style: normal; vertical-align: 0; font-weight: bold;}
.shang-money .shang-item .inp{display: block;color: #2A2A2B; ;font-size: .28rem; margin-top: .46rem; margin-bottom: .6rem;}
.shang-money .shang-item .inp:after{content: ''; width: .24rem; height: .3rem; display: inline-block; background-image: url(../images/index_4.8/go_left.png); background-size: .24rem; background-repeat: no-repeat; vertical-align: middle; margin-left: .1rem; background-position: center; margin-bottom: .06rem;}
.shang-money .shang-item form{font-size: .5rem;border-bottom: 1px solid #ccc;margin: .4rem auto 0;display: none;width: 63%;}
.shang-money .shang-item form input{font-size: .58rem;border: none;width: 80%;}
.shang-money .shang-item form input:-ms-input-placeholder{font-size: .3rem;}
.shang-money .shang-item form input::-webkit-input-placeholder{font-size: .3rem;}
.shang-money .shang-item .error-tip{color: #BEBFC4; font-size: .28rem; margin-top: .46rem; display: none; margin-bottom: .6rem;}
/*.shang-money .shang-item .error-tip span{display: none;}*/
.shang-money .shang-btn{margin-bottom: .4rem;}
.shang-money .shang-btn a{display: block;width: 2rem;margin: 0 auto;height: .88rem;background: #e55f56;text-align: center;line-height: .88rem;color: #fff;font-size: .3rem;border-radius: .44rem;
background:linear-gradient(45deg,rgba(255,74,104,1) 0%,rgba(247,57,57,1) 100%);
box-shadow:0px .11rem .37rem 0px rgba(255,42,56,0.47);
}
.shang-money .tip-p{font-size: .26rem;text-align: center;color: #cacaca;text-align: center;margin-bottom: .4rem; display: none;}
.shang-money .tip-em{font-size: .26rem;text-align: center;color: #a1a1a1;margin: .2rem 0;}
.shang-money .tip-em a{color: #179ae2;line-height: .8rem;}
.shang-else input {border: 0; margin: 0; padding: 0; font-size: .68rem;  background-color: transparent; max-width: 1.5rem; width: auto; line-height: .68rem;}
.shang-else em{font-size: .28rem; }
.mask{position: fixed;top: 0;position: fixed;background: rgba(0,0,0,.4);top: 0;bottom: 0;left: 0;right: 0;z-index: 10002;display: none;}
/*打赏新增*/
.shang_to{font-size: .28rem; font-weight: normal; color: #2A2A2B; margin: .8rem .6rem .7rem .6rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.shang_to span{font-weight: bold;}
.mask{position: fixed;top: 0;position: fixed;background: rgba(0,0,0,.4);top: 0;bottom: 0;left: 0;right: 0;z-index: 1000002;display: none;}

.con_box{display: none; animation: .3s rightFadeIn_;}
.con_box.show{display: block;}

/* 编辑弹窗 */
.mask_pop{position: fixed; top: 0; left: 0; bottom: 0; right: 0; background-color: rgba(0,0,0,.3); z-index: 100001; display: none; }
.pop_box.info_pop{position: fixed; bottom: -4.2rem; left: 0; right: 0; height: 3.9rem; background-color: #fff; z-index: 100002;border-radius: .4rem .4rem 0 0;}
.pop_box.info_pop a.cancel_btn{display: block; text-align: center; line-height: 1.2rem; font-size: .34rem; color: #313233; font-weight: bold;}
.pop_box.info_pop a.cancel_btn{border-top: solid .16rem #EBEBED;}
.pop_box.info_pop .change_bg,.pop_box .change_info{font-size: .3rem; color: #313233; text-align: center; line-height: 1.2rem; border-bottom: solid 1px #f5f5f7; display: block; overflow: hidden; position: relative;}
.pop_box .change_bg input{opacity: 0;}

.pop_box.gz_pop{position: fixed; bottom: -4.2rem; left: 0; right: 0;  background-color: #fff; z-index: 100002;border-radius: .4rem .4rem 0 0;}
.pop_box.gz_pop a{display: block; text-align: center; line-height: 1.2rem; font-size: .34rem; color: #313233; font-weight: bold;}
.pop_box.gz_pop a.cancel_btn{border-top: solid .16rem #EBEBED;}
.pop_box.gz_pop p{font-size: .28rem; color: #313233; text-align: center; line-height: 1.2rem; border-bottom: solid 1px #EBEBED; }


/* 错误提示1 */
.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 9999999; visibility: hidden;}
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: .3rem; line-height: 1.4; text-align: center; padding: .24rem .2rem; z-index: 9999; left: 0; top: 50%; margin-top: -.2rem;}

/* 图片上传动画 */
.img_loading{width: .6rem; height: .6rem; position: fixed; left: 50%; top: 40%; margin-left: -.3rem; margin-top: -.3rem; animation: imgloading .8s infinite linear; z-index: 100002; display: none;}
.img_loading img{width: 100%;height: 100%; object-fit: cover;}

@keyframes imgloading{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}

/* iPhoneX适配 */
.pop_box{padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom));}
/* 禁止滚动 */
html.noscroll,html.noscroll body {overflow: hidden;}
html.noscroll body {position: relative;}
