html, body{background: #f2f3f5!important;}
/*头部*/
.nav{background: #fff;position: fixed;top: .9rem;left: 0;right: 0;z-index: 999;display: none; box-shadow: 0 10px 15px -4px rgba(0,0,0,.5);}
.nav ul{padding: .2rem 0 .1rem 0;border-bottom: 1px solid #efefef;}
.nav li{width: 20%;float: left;text-align: center;}
.nav li:nth-child(5n) a span{border-right: none;}
.nav li a{display: block;padding: .3rem 0;font-size: .26rem;}
.nav li a span{display: block;border-right: 1px solid #efefef;line-height: .25rem;}

.tab{display: -webkit-box;}
.sel{font-size: .28rem; padding: .2rem;}
.tab ul{-webkit-box-flex: 1;}

.area1, .area2{padding-right: .3rem;background: url(../images/down.png) right center no-repeat; background-size: .25rem auto; margin-right: .4rem;}

.HN_logo {margin:1rem auto .6rem;}
.HN_logo .logo {width:1.8rem;height:1.8rem;background:#fff;display:block;border-radius:20%;margin:0 auto;}
.HN_logo .logo img {width:1.4rem;height:1.4rem;margin:0 auto;display:block;object-fit: cover;padding-top: .22rem}
.HN_logo h2 {text-align:center;font-size:.36rem;margin:.24rem auto .12rem;}
.HN_logo p {text-align:center;font-size:.26rem;color:#999;}
.HN_logo p em {margin-right:.1rem;}

.HN_about_list ul{background: #fff;border-radius: .2rem;margin-bottom: .2rem;overflow: hidden;padding-left: .3rem}
.HN_about_list ul li {background:#fff;height:.88rem;line-height:.88rem;font-size:.28rem;border-bottom: 1px solid #f5f5f7;box-sizing: border-box;}
.HN_about_list ul li a{display: block;}
.HN_about_list ul li:last-child{border-bottom: none}
.HN_about_list ul li em {margin-right:.6rem;}
.HN_about_list ul li input {float:right;margin-top:.2rem;margin-right:.25rem;}
.HN_about_list ul li span {width:.24rem;height:.24rem;background:url(../images/arrowRight2.png) no-repeat center;background-size:.24rem;margin-top:.3rem;float:right;margin-right: .2rem;margin-left: .11rem}
.HN_about_list ul li p{font-size: .28rem;color: #999}
.HN_about_list ul li p.siteP{padding-right: .26rem}
.HN_about_list ul li p.versionP a{color: #999}

.foot {position:absolute;left:0;right:0;bottom:0;text-align:center;font-size:.2rem;color:#a7a7a5;line-height:.3rem;padding-bottom:.5rem;}

.foot a {color: #a7a7a5;}

.copyright {text-align: center; color: #333!important; font-size: .2rem!important; opacity: .4; padding: 1.5rem .3rem .5rem; line-height: 1.8em!important;}
.copyright * {color: #333!important; font-size: .2rem!important; line-height: 1.8em!important;}
