body,html{background: #f5f5f5;}
.header-address{font-weight: normal;}

/*骑手*/
.commt-box{margin: .2rem .24rem .3rem; background: #fff; border-radius: .1rem ;padding: .3rem .22rem;
box-shadow: 0px 3px 7px 0px rgba(120, 120, 120, 0.07);
}
.commt-box h2{color: #222 ; font-size: .36rem; text-align: center; font-weight: bold; margin-bottom: .3rem;padding-top: .05rem;}
/*骑手信息*/
.qsBox{padding: .2rem;background: #F9F9F9;border-radius: .03rem;}
.qsBox .leftImg img{width: .7rem;height: .7rem;float: left;}
.qsBox .qsInfo{margin-left: .9rem;position: relative;}
.qsBox .qsInfo h4{font-size: .28rem;color: #222;}
.qsBox .qsInfo p{font-size: .24rem;color: #979899;}
.qsBox .qsInfo span{font-size: .24rem;color: #97989C;position: absolute;top: 50%;margin-top: -.12rem;right: 0}


.distributor_info,.shop_info{padding: .2rem; background: #F9F9F9; position: relative;}
.distributor_info .left_head,.shop_info .left_head{width: .68rem; height: .68rem; box-sizing: border-box; padding: .1rem .09rem .08rem .09rem; float: left; background: #fff; border-radius: .03rem; border:.02rem solid rgba(232,233,235,1);}
.distributor_info .left_head img,.shop_info .left_head img{width: 100%; height: 100%; object-fit: cover;}
.center_info{margin-left: .88rem;}
.center_info h4{color: #222; font-size: .28rem; line-height: 1.2em; margin-bottom: .12em;}
.center_info p{color: #979899; font-size: .24rem;}
.hide_tip{color: #97989C; font-size: .24rem; /* position: absolute; top: .4rem; right: .2rem; */ display: block; margin: auto; text-align: center;}
.star_box{text-align: center; margin-top: .26rem;}
.star_box i{width: .54rem; height: .54rem; background: url(../images/paotui/big_star01.png) no-repeat center; background-size: cover; display: inline-block; text-align: center; margin: 0 .05rem; margin-bottom: .26rem;}
.star_box i.click{background-image: url(../images/paotui/big_star.png);}
.com_tip{font-size: .24rem;  margin-bottom: .46rem; display: none;}
/*骑手评价*/
.label_tip li{display: inline-block; line-height: .5rem; border: solid .01rem #EEEEEE; color: #97989C; font-size: .22rem; padding: 0 .2rem; margin: 0 .02rem; margin-bottom: .14rem; border-radius: .03rem; }
.label_tip ul{text-align: center; display: none;  margin-bottom: .36rem;}
.label_tip ul.show{display: block !important;}
.label_tip li.commt_btn:before{content: ''; display: inline-block; width: .24rem; height: .24rem; background:url(../images/paotui/put_in.png) no-repeat center; background-size: cover; margin-bottom: -.04rem; margin-right: .04rem;}
.label_tip li.commt_btn.on_chose:before{background-image:url(../images/paotui/put_in1.png);}
.label_tip li.commt_btn{padding: 0 .16rem; }
.label_tip li.on_chose{background: #FFF4F3;color: #FF5C50; border: solid .01rem #FF5C50; }

#comm_d{display: none}
/*输入框*/
.textarea{/* margin: 0 .22rem; */ background: #FDFDFD; padding: .28rem .2rem; height: 1.3rem; box-sizing: border-box; overflow: auto; -webkit-user-select: text;border-radius: .03rem;border: 1px solid #eee}
.textarea:empty:before{content: attr(placeholder);color:#97989C;}
.textarea:focus:before{content:none;}
.commt_upbtn{display: block; margin: 0 .24rem; line-height: .88rem; color: #fff;
background: linear-gradient(225deg, #FF3C4A 0%, #FF5D3D 100%);
box-shadow: 0px 3px 29px 0px rgba(138, 18, 27, 0.33);
border-radius: .16rem; font-size: .32rem; text-align: center; margin-bottom: .8rem;}


.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 1000; visibility: hidden;}
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: .3rem; line-height: 1.4; text-align: center; padding: .24rem .2rem; z-index: 9999; left: 0; top: 50%; margin-top: -.2rem;}


