/* 房产 */
.house_page .tabbox{height: .9rem; background-color: #fff; position: fixed; top: .9rem; left: 0; right: 0; overflow: auto; padding-left: .36rem; z-index: 9;}
.house_page .tabbox ul{white-space: nowrap;}
.house_page .tabbox li{display: inline-block; color: #313233; font-size: .3rem; margin-right: .8rem; line-height: .9rem;}
.house_page .tabbox::-webkit-scrollbar{display: none;}
.house_page .tabbox li.curr{color: #F53C1E; font-size: .3rem; position: relative; font-weight: bold;}
.house_page .tabbox li.curr::before{content: ''; display: block; width: .3rem; height: .06rem; border-radius: .03rem; background-color: #F53C1E; position: absolute; left: 0; right: 0 ; bottom: .1rem; margin: auto;}
.house_page .tabCon{padding-top: 1.8rem;}
.huoniao_iOS .house_page .tabbox{top:0;}
.huoniao_iOS .house_page .tabCon{padding-top: .9rem;}
.house_page .tabCon dt{line-height:.56rem  ; background-color: #F5F5F7; color: #949599; font-size: .24rem; padding-left: .3rem;}
.house_page .tabCon dd{padding: 0 .3rem;}
.house_page .tabCon dd a{display: block; padding: .3rem 0; border-bottom: solid 1px #f5f5f7; transition: all .2s;}
.house_page .tabCon dd.list_dd .litpic{float: left; width: 2rem; height: 2rem; border-radius: .1rem; background-color: #f5f5f5; margin-right: .28rem; position: relative;} 
.house_page .tabCon dd.list_dd .litpic span{display: block; position: absolute; top: .1rem; left: .1rem; background-color: #525566; color: #fff; border-radius: .02rem; line-height: .3rem; padding: 0 .09rem;}
.house_page .tabCon dd.list_dd .litpic img{display: block; width: 100%; height: 100%; object-fit: cover;  border-radius: .1rem;}
.house_page .tabCon dd.list_dd .rinfo h1{font-size: .3rem; color: #313233; font-weight: bold;  display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden; line-height: .36rem;}
.house_page .tabCon dd.list_dd .rinfo>p{font-size: .22rem; color: #313233; margin-top: .12rem;}
.house_page .tabCon dd.list_dd .rinfo .price_show {color: #B3B3B3; font-size: .2rem; margin-top: .12rem;}
.house_page .tabCon dd.list_dd .rinfo .price_show .allprice{font-size: .26rem; color: #F53C1E; font-weight: bold; font-family: moneyNumber; margin-right: .12rem;}
.house_page .tabCon dd.list_dd .rinfo .price_show .allprice b{font-size: .3rem;}
.house_page .tabCon dd.list_dd .rinfo .label_show{margin-top: .1rem;}
.house_page .tabCon dd.list_dd .rinfo .label_show span{display: inline-block; min-width: .56rem; line-height: .28rem; background-color: #F0F1F7; border-radius: .02rem; text-align: center; box-sizing: border-box; padding: 0 .08rem; font-size: .2rem; color: #828699; margin-right: .06rem;}
.loading{font-size: .24rem; color: #999; text-align: center; padding: .5rem;}
.on_manage.house_page dd a{margin-left: .8rem;}
.on_manage.house_page dd{position: relative;}
.on_manage.house_page dd::before{content: ''; display: block; width: .48rem; height: .48rem; border-radius: 50%; background: url(../../images/mcenter/chose.png) no-repeat  center/cover; position: absolute; left: .32rem; top: .26rem;}
.on_manage.house_page dd.on_chose::before{background-image: url(../../images/mcenter/article_on.png);}

/* 旅游 */
.travel_page .tabbox{height: .9rem; background-color: #fff; position: fixed; top: .9rem; left: 0; right: 0; overflow: auto; padding-left: .36rem; z-index: 9;}
.travel_page .tabbox ul{white-space: nowrap;}
.travel_page .tabbox li{display: inline-block; color: #313233; font-size: .3rem; margin-right: .8rem; line-height: .9rem;}
.travel_page .tabbox::-webkit-scrollbar{display: none;}
.travel_page .tabbox li.curr{color: #00B386; font-size: .34rem; position: relative; font-weight: bold;}
.travel_page .tabbox li.curr::before{content: ''; display: block; width: .3rem; height: .06rem; border-radius: .03rem; background-color: #00B386; position: absolute; left: 0; right: 0 ; bottom: .1rem; margin: auto;}
.travel_page .tabCon{padding-top: 1.8rem;}
.huoniao_iOS .travel_page .tabbox{top:0;}
.huoniao_iOS .travel_page .tabCon{padding-top: .9rem;}
.travel_page .tabCon dt{line-height:.56rem  ; background-color: #F5F5F7; color: #949599; font-size: .24rem; padding-left: .3rem;}
.travel_page .tabCon dd{padding: 0 .3rem;}
.travel_page .tabCon dd a{display: block; padding: .3rem 0; /* border-bottom: solid 1px #f5f5f7; */ transition: all .2s; position: relative;}
.travel_page .tabCon dd.list_dd .litpic{float: left; width: 2rem; height: 1.5rem; border-radius: .1rem; background-color: #f5f5f5; margin-right: .28rem; position: relative;} 
.travel_page .tabCon dd.list_dd a::before{content: ''; display: block; height: 1px; background-color: #f5f5f7; position: absolute; left: 2.28rem; right: 0; bottom: 0;}
.travel_page .tabCon dd.list_dd .litpic span{display: block; position: absolute; top: .1rem; left: .1rem; background-color: #525566; color: #fff; border-radius: .02rem; line-height: .3rem; padding: 0 .09rem;}
.travel_page .tabCon dd.list_dd.video_dd .litpic::before{content: ''; display: block;width: .6rem; height: .6rem; background: url(../../images/mcenter/video_icon.png) no-repeat  center/cover; position: absolute; left: 0;right: 0; bottom: 0; top: 0; margin: auto;}

.travel_page .tabCon dd.list_dd .litpic img{display: block; width: 100%; height: 100%; object-fit: cover;  border-radius: .1rem;}
.travel_page .tabCon dd.list_dd .rinfo h1{font-size: .3rem; color: #313233; font-weight: bold; overflow: hidden; line-height: .36rem; white-space: nowrap; text-overflow: ellipsis;}
.travel_page .tabCon dd.list_dd .rinfo>p{font-size: .22rem; color: #636366; margin-top: .12rem;}
.travel_page .tabCon dd.list_dd .rinfo .price_show {color: #B3B3B3; font-size: .2rem; margin-top: .12rem;}
.travel_page .tabCon dd.list_dd .rinfo .price_show .allprice{font-size: .26rem; color: #F53C1E; font-weight: bold; font-family: moneyNumber; margin-right: .12rem;}
.travel_page .tabCon dd.list_dd .rinfo .price_show .allprice b{font-size: .3rem;}
.travel_page .tabCon dd.list_dd .rinfo .label_show{margin-top: .1rem;}
.travel_page .tabCon dd.list_dd .rinfo .label_show span{display: inline-block; min-width: .56rem; line-height: .28rem; background-color: #F0F1F7; border-radius: .02rem; text-align: center; box-sizing: border-box; padding: 0 .08rem; font-size: .2rem; color: #828699; margin-right: .06rem;}
.loading{font-size: .24rem; color: #999; text-align: center; padding: .5rem;}
.on_manage.travel_page dd a{margin-left: .8rem;}
.on_manage.travel_page dd{position: relative;}
.on_manage.travel_page dd::before{content: ''; display: block; width: .48rem; height: .48rem; border-radius: 50%; background: url(../../images/mcenter/chose.png) no-repeat  center/cover; position: absolute; left: .32rem; top: .26rem;}
.on_manage.travel_page dd.on_chose::before{background-image: url(../../images/mcenter/travel_icon.png);}

@font-face {
	font-family: moneyNumber;
	src: url('/static/fonts/coregtd6.otf'),
		url('/static/fonts/coregtd6.TTF'),
		url('/static/fonts/coregtd6.svg'),
		 url('/static/fonts/coregtd6.woff'); /* IE9 */
}



/* 直播记录 */
.live_page{padding-top: .9rem;}
.huoniao_iOS .live_page{padding-top: 0;}
.live_page .live_dl {margin-bottom: .7rem;}
.live_page .live_dl .live_dt{font-size: .24rem; color: #186CF2; padding: 0 .35rem; margin-top: .26rem;}
.live_page .live_dl ul{margin: 0 .2rem; margin-top: .1rem;}
.live_page .live_dl .list_dd{float: left; margin-top: .3rem; width: 50%;}
.live_page .live_dl .list_dd a{display: block; margin: 0 .07rem; }
.live_page .live_dl .list_dd .litpic{width: 3.4rem; height: 1.9rem; border-radius: .1rem; background-color: #f5f5f5; margin: auto;}
.live_page .live_dl .list_dd .litpic img{display: block; width: 100%; height: 100%; object-fit: cover;  border-radius: .1rem;}
.live_page .live_dl .list_dd h1{font-size: .28rem; color: #313233; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-top: .1rem;}
.live_page .live_dl .list_dd p{color: #4A4B4D; font-size: .22rem; margin-top: .1rem;}
.on_manage.live_page li{position: relative;}
.on_manage.live_page li::before{content: ''; display: block; width: .48rem; height: .48rem; border-radius: 50%; background: url(../../images/mcenter/chose.png) no-repeat  center/cover; position: absolute; left: .04rem; top: .04rem;}
.on_manage.live_page li.on_chose::before{background-image: url(../../images/mcenter/live_on.png);}





/* 直播预约记录 */
.yuyue_box{padding-top: .9rem;}
.huoniao_iOS .yuyue_box{padding-top: 0;}
.yuyue_box h3{color: #234A99; font-size: .22rem; padding: 0 .3rem; padding-top: .3rem;}
.yuyue_box .list_li{padding: 0 .3rem;}
.yuyue_box .list_li a{display: block; padding: .3rem 0; border-bottom: solid 1px #f5f5f7;}
.yuyue_box .list_li .litpic{width: 2.4rem; height: 1.5rem; border-radius: .1rem; background-color: #f5f5f5; float: left; margin-right: .24rem;} 
.yuyue_box .list_li .litpic img{display: block; width: 100%; height: 100%; object-fit: cover;  border-radius: .1rem;}
.yuyue_box .list_li .rinfo h1{font-size: .3rem; color: #313233; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.yuyue_box .list_li .rinfo p{color: #234A99; font-size: .22rem;}
.yuyue_box .list_li .rinfo h4{color: #313233; font-size: .28rem; font-weight: bold; font-family: moneyNumber; margin-top: .08rem;}
.yuyue_box .list_li .rinfo .live_detail{margin-top: .26rem;}
.yuyue_box .list_li:last-child a{border: none;}
.yuyue_box .liveing{padding-top: .1rem; margin-bottom: .3rem;}
.yuyue_box .live_now {margin: 0 .3rem; position: relative; margin-bottom: .2rem; display: block;}
.yuyue_box .live_now .litpic{height: 3.88rem; border-radius: .16rem; background-color: #f5f5f5;}
.yuyue_box .live_now .litpic img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .16rem; }
.yuyue_box .live_now .live_tit{font-size: .3rem; color: #fff; position: absolute; left: 0; right: 0; bottom: 0; border-radius:0 0 .16rem .16rem; background-color: rgba(0,0,0,.7); line-height: .9rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 0 .2rem; font-weight: bold;}
.yuyue_box .live_now::before{content: ''; display: block; background: url(../../images/live/on_fair2.gif) no-repeat center; width: .82rem; background-size: auto .32rem; position: absolute; top: .2rem; left: .2rem; height: .32rem;}
 
/*房产--- 活动报名 */
.huodong_box{padding-top: .9rem;}
.huoniao_iOS .huodong_box{padding-top:0 ;}
.huodong_box dl dt{font-size: .24rem; color: #313233 ; margin-bottom: .12rem; padding: 0 .3rem; margin-top: .3rem;}
.huodong_box dd{padding: 0 .3rem;}
.huodong_box dd a{display: block; padding: .3rem 0; border-bottom: solid 1px #f5f5f7;}
.huodong_box dd.list_dd .litpic{float: left; width: 2rem; height: 2rem; border-radius: .1rem; background-color: #f5f5f5; margin-right: .28rem; border-radius: .1rem; position: relative;} 
.huodong_box dd.list_dd .litpic .act_label{display: block; position: absolute; top: .1rem; left: .1rem; min-width: .74rem; padding: 0 .1rem;box-sizing: border-box; border-radius: .04rem; line-height: .3rem; background: linear-gradient(90deg, #F91A48 0%, #F41D91 52%, #8523FF 100%); color: #fff; text-align: center; font-size: .2rem;}
.huodong_box dd.list_dd .litpic img{display: block; width: 100%; height: 100%; object-fit: cover;  border-radius: .1rem;}
.huodong_box dd.list_dd .rinfo h1{font-size: .3rem; color: #313233; font-weight: bold;  display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden; line-height: .36rem;}
.huodong_box dd.list_dd .rinfo .price_show {color: #B3B3B3; font-size: .2rem; margin-top: .12rem;}
.huodong_box dd.list_dd .rinfo .price_show .allprice{font-size: .26rem; color: #F53C1E; font-weight: bold; font-family: moneyNumber; margin-right: .08rem;}
.huodong_box dd.list_dd .rinfo .price_show .allprice b{font-size: .3rem;}
.huodong_box dd.list_dd .rinfo .end_time{font-size: .28rem; color: #333; font-weight: bold; font-family: moneyNumber; margin-top: .2rem;}
.huodong_box dd.list_dd .rinfo p{color: #313233; font-size: .22rem;}
.huodong_box .shixiao_huodong  dd.list_dd {opacity: .5;}
.huodong_box dl:nth-last-of-type(1) dd:last-child a{border: none !important;}


/* 粉丝贡献榜 */
.huoniao_iOS .chart_page{top: 0;}
.header.absolute{position: fixed; top: 0;}
.chart_page{  background: url(../../images/mcenter/bg_chart.png) no-repeat top; background-size: cover; background-color: #2135CC; overflow: auto; padding-bottom: .6rem;}
.chart_page .list_box{ margin: 0 .3rem; margin-top: 3.2rem; background-color: rgba(13, 43, 133, .7); min-height: 3rem; border-radius: .12rem; padding: .3rem;}
.chart_page .list_box dt{display: flex; align-items: center; justify-content: space-between; color: #fff; font-size: .28rem; font-weight: bold; margin-top: .1rem; margin-bottom: .28rem;}
.chart_page .list_box dt h1{font-weight: bold;}
.chart_page .list_box dt .gx_tip{display: flex; position: relative; align-items: center; justify-content: center;}
.chart_page .list_box dt .gx_tip p{position: absolute;width: 4.9rem;box-sizing: border-box; background-color: rgba(26, 26, 26, .95); padding:.26rem .35rem; border-radius: .3rem; right:-.12rem; top: .54rem; display: none; animation: .3s topFadeIn;}
.chart_page .list_box dt .gx_tip p.show{display: block;}
.chart_page .list_box dt .gx_tip p::before{content: ''; width: 0; height: 0 ; border: solid .12rem rgba(26, 26, 26, 0); border-bottom: solid .12rem rgba(26, 26, 26, .95); position: absolute; top: -.24rem; right: .8rem;}
.chart_page .list_box dt .gx_tip i{display: inline-block; width: .32rem; height: .32rem; background: url(../../images/mcenter/tip.png) no-repeat center; background-size: .32rem; margin-left: .05rem;}
.chart_page .list_box dd{ border-bottom: solid 1px #f5f5f7; overflow: hidden;}
.chart_page .list_box dd.chart_dd{border-radius: .1rem !important;  border-bottom: solid 1px #f5f5f5; border: none;margin-bottom: .3rem;}

.chart_page .list_box dd .chart_px{display: block; width: .8rem; height: .8rem; text-align: center;font-size: .38rem; color: #333; line-height: .8rem; font-weight: bold; margin-right: .1rem;}
.chart_page .list_box dd.chart_dd:nth-of-type(1) .chart_px{background: url(../../images/mcenter/px1.png) no-repeat center/cover;}
.chart_page .list_box dd.chart_dd:nth-of-type(2) .chart_px{background: url(../../images/mcenter/px2.png) no-repeat center/cover;}
.chart_page .list_box dd.chart_dd:nth-of-type(3) .chart_px{background: url(../../images/mcenter/px3.png) no-repeat center/cover;}
.chart_page .list_box dd .chart_show {width: 100%;background-color: #fff; padding: .26rem .16rem; box-sizing: border-box; padding-right: .3rem;}
.chart_page .list_box dd.chart_dd .chart_show{ padding: .28rem .16rem; }
.chart_page .list_box dd .chart_show .left_info,.chart_page .list_box dd .chart_show {display: flex; align-items: center; justify-content: space-between; }
.chart_page .list_box dd .chart_detl{display: flex; align-items: center; }
.chart_page .list_box dd .chart_detl .left_litpic{width: .84rem; height: .84rem; border-radius: .42rem; background-color: #f5f5f5; margin-right: .18rem;}
.chart_page .list_box dd .chart_detl .left_litpic img{display: block; width: 100%; height: 100%; object-fit: cover;}
.chart_page .list_box dd .chart_detl h3{font-size: .28rem; color: #333; font-weight: bold; max-width: 2rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: .1rem;}
.chart_page .list_box dd .chart_detl p{color: #999; font-size: .22rem;}
.chart_page .list_box dd .right_info{color: #333; font-size: .38rem; font-family: moneyNumber; display: flex; align-items: center; justify-content: flex-end;}
.chart_page .list_box dd .right_info i{display: block; width: .2rem; height: .2rem; background: url(../../images/mcenter/d_arr.png) no-repeat  center/cover; margin-left: .05rem;}
.chart_page .list_box dd:nth-of-type(4){border-radius: .1rem .1rem 0 0 ;}
.chart_page .list_box dd:last-of-type{border-radius:0 0 .1rem .1rem ; border: none;}
.chart_page .list_box dd .dashang_list{background-color: #f2f5fa; padding: .3rem .24rem;}
.chart_page .list_box dd .dashang_list li{display: flex; align-items: center; justify-content: space-between; position: relative; z-index: 1; line-height: .6rem;}
.chart_page .list_box dd .dashang_list li .left_list{font-size: .24rem;font-weight: bold; color: #4D4D4D; background-color: #f2f5fa; padding-right: .28rem; }
.chart_page .list_box dd .dashang_list li .left_list span{color: #234A99; font-size: .28rem;}
.chart_page .list_box dd .dashang_list li .left_list  b,.chart_page .list_box dd .dashang_list li .right_count b{font-family: moneyNumber; font-size: .28rem;}
.chart_page .list_box dd .dashang_list li .right_count{font-size: .24rem; color: #4D4D4D; font-weight: bold; background-color: #f2f5fa; padding-left: .25rem;}
.chart_page .list_box dd .dashang_list li .right_count span{font-size: .28rem; font-weight: normal; }
.chart_page .list_box dd .dashang_list li::after{content: '';height: 1px; width: 100%; position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto; border-bottom: dashed 1px #8E9CC3; z-index: -1;}



/* 贴吧浏览记录 */
.tieba_page{padding-top: .9rem;}
.huoniao_iOS .tieba_page{padding-top: 0;}
.tieba_page dt{font-size: .24rem; color: #1B67E0; padding-left: .38rem; padding-top: .28rem; margin-bottom: .24rem;}
.tieba_page dd{padding: 0 .3rem; }
.tieba_page dd a{display: block;padding: .15rem 0; position: relative; transition: all .2s;}
.tieba_page dd.list_dd .litpic{width: 1.6rem; height: 1.2rem; border-radius: .1rem; background-color: #F0F4FA; font-size: .54rem; color: #C8D3E6; float: left; margin-right: .25rem; position: relative;}
.tieba_page dd.list_dd .litpic h6{line-height: 1.2rem; text-align: center; font-weight: 900; text-stroke:.02rem #C8D3E6;-webkit-text-stroke:.02rem #C8D3E6;-moz-text-stroke:.02rem #C8D3E6;-o-text-stroke:.02rem #C8D3E6;}
.tieba_page dd.list_dd .litpic img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .1rem;}
.tieba_page dd.list_dd.video_dd .litpic::before{content: ''; display: block;width: .6rem; height: .6rem; background: url(../../images/mcenter/video_icon.png) no-repeat  center/cover; position: absolute; left: 0;right: 0; bottom: 0; top: 0; margin: auto;}
.tieba_page dd.list_dd .rinfo{ height: 1.2rem;}
.tieba_page dd.list_dd .rinfo h1{font-size: .3rem; color: #313233; font-weight: bold; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.tieba_page dd.list_dd .rinfo p{color: #4A4B4D; font-size: .24rem; margin-top: .12rem;}
.tieba_page dd.list_dd a::before{content: ''; display: block; height: 1px; background-color: #f5f5f7; position: absolute; left: 1.9rem; right: 0; bottom: 0;}
.tieba_page dd.list_dd:last-of-type::after{display: none;}
.on_manage.tieba_page dd a{margin-left: .8rem;}
.on_manage.tieba_page dd{position: relative;}
.on_manage.tieba_page dd::before{content: ''; display: block; width: .48rem; height: .48rem; border-radius: 50%; background: url(../../images/mcenter/chose.png) no-repeat  center/cover; position: absolute; left: .32rem; top: .18rem;}
.on_manage.tieba_page dd.on_chose::before{background-image: url(../../images/mcenter/article_on.png);}

/* 资讯 */
.article_page{padding-top: .9rem;}
.huoniao_iOS .article_page{padding-top: 0;}
.article_page dt{font-size: .24rem; color: #E61C2C; padding-left: .38rem; padding-top: .28rem; margin-bottom: .24rem;}
.article_page dd{padding: 0 .3rem;}
.article_page dd.list_dd:last-of-type::after{display: none;}
.article_page dd a{display: block;padding: .15rem 0; position: relative; transition: all .2s;}
.article_page dd.list_dd .litpic{width: 1.6rem; height: 1.2rem; border-radius: .1rem; background-color: #F0F4FA; font-size: .54rem; color: #C8D3E6; float: right; margin-left: .25rem; position: relative;}
.article_page dd.list_dd .litpic h6{line-height: 1.2rem; text-align: center; font-weight: 900; text-stroke:.02rem #C8D3E6;-webkit-text-stroke:.02rem #C8D3E6;-moz-text-stroke:.02rem #C8D3E6;-o-text-stroke:.02rem #C8D3E6;}
.article_page dd.list_dd .litpic img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .1rem;}
.article_page dd.list_dd.video_dd .litpic::before{content: ''; display: block;width: .6rem; height: .6rem; background: url(../../images/mcenter/video_icon.png) no-repeat  center/cover; position: absolute; left: 0;right: 0; bottom: 0; top: 0; margin: auto;}
.article_page dd.list_dd .rinfo{ height: 1.2rem;}
.article_page dd.list_dd .rinfo h1{font-size: .3rem; color: #313233; font-weight: bold; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.article_page dd.list_dd .rinfo p{color: #4A4B4D; font-size: .24rem; margin-top: .12rem;}
.article_page dd.list_dd a::before{content: ''; display: block; height: 1px; background-color: #f5f5f7; position: absolute; right: 1.9rem; left: 0; bottom: 0;}
.on_manage.article_page dd a{margin-left: .8rem;}
.on_manage.article_page dd{position: relative;}
.on_manage.article_page dd::before{content: ''; display: block; width: .48rem; height: .48rem; border-radius: 50%; background: url(../../images/mcenter/chose.png) no-repeat  center/cover; position: absolute; left: .32rem; top: .18rem;}
.on_manage.article_page dd.on_chose::before{background-image: url(../../images/mcenter/article_on.png);}

/* 养老 */
.pension_page{padding-top: .9rem;}
.huoniao_iOS .pension_page {padding-top: 0;}
.pension_page dt{line-height:.56rem  ; background-color: #F5F5F7; color: #949599; font-size: .24rem; padding-left: .3rem;}
.pension_page dd{padding: 0 .3rem; position: relative;}
.pension_page dd:last-of-type::after{display: none;}
.pension_page dd::after{content: ''; display: block; height: 1px; left: 2.58rem; right: .3rem; background-color: #f5f5f7; bottom: 0; position: absolute;}
.pension_page dd a{display: block; padding: .3rem 0; transition: .2s all;}
.pension_page dd.list_dd .litpic{float: left; width: 2rem; height: 1.5rem; border-radius: .1rem; background-color: #f5f5f5; margin-right: .28rem; border-radius: .1rem;} 
.pension_page dd.list_dd .litpic img{display: block; width: 100%; height: 100%; object-fit: cover;  border-radius: .1rem;}
.pension_page dd.list_dd .rinfo h1{font-size: .3rem; color: #313233; font-weight: bold;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.pension_page dd.list_dd .rinfo>p{font-size: .22rem; color: #636366; margin-top: .12rem;}
.pension_page dd.list_dd .rinfo .price_show {color: #B3B3B3; font-size: .2rem; margin-top: .2rem;}
.pension_page dd.list_dd .rinfo .price_show .allprice{font-size: .26rem; color: #F53C1E; font-weight: bold; font-family: moneyNumber; margin-right: .12rem;}
.pension_page dd.list_dd .rinfo .price_show .allprice b{font-size: .3rem;}
.on_manage.pension_page dd a{margin-left: .8rem;}
.on_manage.pension_page dd{position: relative;}
.on_manage.pension_page dd::before{content: ''; display: block; width: .48rem; height: .48rem; border-radius: 50%; background: url(../../images/mcenter/chose.png) no-repeat  center/cover; position: absolute; left: .32rem; top: .28rem;}
.on_manage.pension_page dd.on_chose::before{background-image: url(../../images/mcenter/article_on.png);}

/* 商家 */
.business_page{padding-top: .9rem;}
.huoniao_iOS .business_page{padding-top: 0;}
.business_page dt{line-height:.56rem  ; background-color: #F5F5F7; color: #949599; font-size: .24rem; padding-left: .3rem;}
.business_page dd{padding: 0 .3rem; }
.business_page dd a{display: block;padding: .3rem 0; position: relative; transition: all .2s;}
.business_page dd.list_dd .litpic{width: 1.7rem; height: 1.7rem; border-radius: .1rem; background-color: #F0F4FA; font-size: .54rem; color: #C8D3E6; float: left; margin-right: .25rem; position: relative;}
.business_page dd.list_dd .litpic h6{line-height: 1.2rem; text-align: center; font-weight: 900; text-stroke:.02rem #C8D3E6;-webkit-text-stroke:.02rem #C8D3E6;-moz-text-stroke:.02rem #C8D3E6;-o-text-stroke:.02rem #C8D3E6;}
.business_page dd.list_dd .litpic img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .1rem;}
.business_page dd.list_dd.video_dd .litpic::before{content: ''; display: block;width: .6rem; height: .6rem; background: url(../../images/mcenter/video_icon.png) no-repeat  center/cover; position: absolute; left: 0;right: 0; bottom: 0; top: 0; margin: auto;}
.business_page dd.list_dd .rinfo{ height: 1.2rem;}
.business_page dd.list_dd .rinfo h1{font-size: .3rem; color: #313233; font-weight: bold; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.business_page dd.list_dd .rinfo p{color: #636366; font-size: .22rem; margin-top: .12rem;}
.business_page dd.list_dd .rinfo label{color: #FF6600; font-size: .28rem; font-weight: bold; margin-top: .2rem; display: block;}
.business_page dd.list_dd a::before{content: ''; display: block; height: 1px; background-color: #f5f5f7; position: absolute; left: 1.9rem; right: 0; bottom: 0;}
.business_page dd.list_dd:last-of-type::after{display: none;}
.on_manage.business_page dd a{margin-left: .8rem;}
.on_manage.business_page dd{position: relative;}
.on_manage.business_page dd::before{content: ''; display: block; width: .48rem; height: .48rem; border-radius: 50%; background: url(../../images/mcenter/chose.png) no-repeat  center/cover; position: absolute; left: .32rem; top: .18rem;}
.on_manage.business_page dd.on_chose::before{background-image: url(../../images/mcenter/article_on.png);}


/* 装修 */
.renovation_page{padding-top: .9rem;}
.huoniao_iOS .renovation_page{padding-top: 0;}
.renovation_page dt{line-height:.56rem  ; background-color: #F5F5F7; color: #949599; font-size: .24rem; padding-left: .3rem;}
.renovation_page dd{padding: 0 .3rem; }
.renovation_page dd a{display: block;padding: .3rem 0; position: relative; transition: all .2s;}
.renovation_page dd.list_dd .litpic{width: 1.4rem; height: 1.4rem; border-radius: .1rem; background-color: #F0F4FA; font-size: .54rem; color: #C8D3E6; float: left; margin-right: .25rem; position: relative;}
.renovation_page dd.list_dd .litpic h6{line-height: 1.2rem; text-align: center; font-weight: 900; text-stroke:.02rem #C8D3E6;-webkit-text-stroke:.02rem #C8D3E6;-moz-text-stroke:.02rem #C8D3E6;-o-text-stroke:.02rem #C8D3E6;}
.renovation_page dd.list_dd .litpic img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .1rem;}
.renovation_page dd.list_dd.video_dd .litpic::before{content: ''; display: block;width: .6rem; height: .6rem; background: url(../../images/mcenter/video_icon.png) no-repeat  center/cover; position: absolute; left: 0;right: 0; bottom: 0; top: 0; margin: auto;}
.renovation_page dd.list_dd .rinfo{ height: 1.2rem;}
.renovation_page dd.list_dd .rinfo h1{font-size: .3rem; color: #313233; font-weight: bold; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.renovation_page dd.list_dd .rinfo p{color: #636366; font-size: .22rem; margin-top: .12rem;}
.renovation_page dd.list_dd .rinfo label{color: #FF6600; font-size: .28rem; font-weight: bold; margin-top: .2rem; display: block;}
.renovation_page dd.list_dd a::before{content: ''; display: block; height: 1px; background-color: #f5f5f7; position: absolute; left: 1.68rem; right: 0; bottom: 0;}
.renovation_page dd.list_dd:last-of-type::after{display: none;}
.on_manage.renovation_page dd a{margin-left: .8rem;}
.on_manage.renovation_page dd{position: relative;}
.on_manage.renovation_page dd::before{content: ''; display: block; width: .48rem; height: .48rem; border-radius: 50%; background: url(../../images/mcenter/chose.png) no-repeat  center/cover; position: absolute; left: .32rem; top: .18rem;}
.on_manage.renovation_page dd.on_chose::before{background-image: url(../../images/mcenter/article_on.png);}


/* 家政 */
.homemaking_page{padding-top: .9rem;}
.huoniao_iOS .homemaking_page{padding-top: 0;}
.homemaking_page dt{line-height:.56rem  ; background-color: #F5F5F7; color: #949599; font-size: .24rem; padding-left: .3rem;}
.homemaking_page dd{padding: 0 .3rem; }
.homemaking_page dd a{display: block;padding: .3rem 0; position: relative; transition: all .2s;}
.homemaking_page dd.list_dd .litpic{width: 1.7rem; height: 1.7rem; border-radius: .1rem; background-color: #F0F4FA; font-size: .54rem; color: #C8D3E6; float: left; margin-right: .25rem; position: relative;}
.homemaking_page dd.list_dd .litpic h6{line-height: 1.2rem; text-align: center; font-weight: 900; text-stroke:.02rem #C8D3E6;-webkit-text-stroke:.02rem #C8D3E6;-moz-text-stroke:.02rem #C8D3E6;-o-text-stroke:.02rem #C8D3E6;}
.homemaking_page dd.list_dd .litpic img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .1rem;}
.homemaking_page dd.list_dd.video_dd .litpic::before{content: ''; display: block;width: .6rem; height: .6rem; background: url(../../images/mcenter/video_icon.png) no-repeat  center/cover; position: absolute; left: 0;right: 0; bottom: 0; top: 0; margin: auto;}
.homemaking_page dd.list_dd .rinfo{ height: 1.2rem;}
.homemaking_page dd.list_dd .rinfo h1{font-size: .3rem; color: #313233; font-weight: bold; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.homemaking_page dd.list_dd .rinfo p{color: #636366; font-size: .22rem; margin-top: .12rem;}
.homemaking_page dd.list_dd .rinfo label{color: #FF6600; font-size: .28rem; font-weight: bold; margin-top: .2rem; display: block;}
.homemaking_page dd.list_dd a::before{content: ''; display: block; height: 1px; background-color: #f5f5f7; position: absolute; left: 1.68rem; right: 0; bottom: 0;}
.homemaking_page dd.list_dd:last-of-type::after{display: none;}
.homemaking_page dd.list_dd .rinfo .price_show {color: #B3B3B3; font-size: .2rem; margin-top: .22rem;}
.homemaking_page dd.list_dd .rinfo .price_show .allprice{font-size: .26rem; color: #F53C1E; font-weight: bold; font-family: moneyNumber; margin-right: .12rem;}
.homemaking_page dd.list_dd .rinfo .price_show .allprice b{font-size: .3rem;}
.on_manage.homemaking_page dd a{margin-left: .8rem;}
.on_manage.homemaking_page dd{position: relative;}
.on_manage.homemaking_page dd::before{content: ''; display: block; width: .48rem; height: .48rem; border-radius: 50%; background: url(../../images/mcenter/chose.png) no-repeat  center/cover; position: absolute; left: .32rem; top: .18rem;}
.on_manage.homemaking_page dd.on_chose::before{background-image: url(../../images/mcenter/article_on.png);}

/* 团购 */
.tuan_page{padding-top: .9rem;}
.huoniao_iOS .tuan_page{padding-top: 0;}
.tuan_page dt{line-height:.56rem  ; background-color: #F5F5F7; color: #949599; font-size: .24rem; padding-left: .3rem;}
.tuan_page dd{padding: 0 .3rem; }
.tuan_page dd a{display: block;padding: .3rem 0; position: relative; transition: all .2s;}
.tuan_page dd.list_dd .litpic{width: 1.7rem; height: 1.7rem; border-radius: .1rem; background-color: #F0F4FA; font-size: .54rem; color: #C8D3E6; float: left; margin-right: .25rem; position: relative;}
.tuan_page dd.list_dd .litpic h6{line-height: 1.2rem; text-align: center; font-weight: 900; text-stroke:.02rem #C8D3E6;-webkit-text-stroke:.02rem #C8D3E6;-moz-text-stroke:.02rem #C8D3E6;-o-text-stroke:.02rem #C8D3E6;}
.tuan_page dd.list_dd .litpic img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .1rem;}
.tuan_page dd.list_dd.video_dd .litpic::before{content: ''; display: block;width: .6rem; height: .6rem; background: url(../../images/mcenter/video_icon.png) no-repeat  center/cover; position: absolute; left: 0;right: 0; bottom: 0; top: 0; margin: auto;}
.tuan_page dd.list_dd .rinfo{ height: 1.2rem;}
.tuan_page dd.list_dd .rinfo h1{font-size: .3rem; color: #313233; font-weight: bold; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.tuan_page dd.list_dd .rinfo p{color: #636366; font-size: .22rem; margin-top: .12rem;}
.tuan_page dd.list_dd .rinfo p span{display: inline-block; line-height: .32rem; border-radius: .02rem; background-color: #FCF1E8; color: #FF6C00; padding: 0 .09rem; margin-right: .1rem;}
.tuan_page dd.list_dd .rinfo label{color: #FF6600; font-size: .28rem; font-weight: bold; margin-top: .2rem; display: block;}
.tuan_page dd.list_dd a::before{content: ''; display: block; height: 1px; background-color: #f5f5f7; position: absolute; left: 1.68rem; right: 0; bottom: 0;}
.tuan_page dd.list_dd:last-of-type::after{display: none;}

.on_manage.tuan_page dd a{margin-left: .8rem;}
.on_manage.tuan_page dd{position: relative;}
.on_manage.tuan_page dd::before{content: ''; display: block; width: .48rem; height: .48rem; border-radius: 50%; background: url(../../images/mcenter/chose.png) no-repeat  center/cover; position: absolute; left: .32rem; top: .28rem;}
.on_manage.tuan_page dd.on_chose::before{background-image: url(../../images/mcenter/article_on.png);}
.tuan_page dd.list_dd .rinfo .price_show {color: #636366; font-size: .22rem; margin-top: .12rem;}
.tuan_page dd.list_dd .rinfo .price_show .allprice{font-size: .26rem; color: #F53C1E; font-weight: bold; font-family: moneyNumber; margin-right: .12rem;}
.tuan_page dd.list_dd .rinfo .price_show .allprice b{font-size: .3rem;}
.tuan_page dd.list_dd .rinfo .label{color: #F53C1E; font-size: .26rem; font-weight: bold; margin-top: .3rem;}


/* 教育 */
.education_page{padding-top: .9rem;}
.huoniao_iOS .education_page{padding-top: 0;}
.education_page dt{line-height:.56rem  ; background-color: #F5F5F7; color: #949599; font-size: .24rem; padding-left: .3rem;}
.education_page dd{padding: 0 .3rem; }
.education_page dd a{display: block;padding: .3rem 0; position: relative; transition: all .2s;}
.education_page dd.list_dd .litpic{width: 2rem; height: 1.5rem; border-radius: .1rem; background-color: #F0F4FA; font-size: .54rem; color: #C8D3E6; float: left; margin-right: .25rem; position: relative;}
.education_page dd.list_dd .litpic h6{line-height: 1.2rem; text-align: center; font-weight: 900; text-stroke:.02rem #C8D3E6;-webkit-text-stroke:.02rem #C8D3E6;-moz-text-stroke:.02rem #C8D3E6;-o-text-stroke:.02rem #C8D3E6;}
.education_page dd.list_dd .litpic img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .1rem;}
.education_page dd.list_dd.video_dd .litpic::before{content: ''; display: block;width: .6rem; height: .6rem; background: url(../../images/mcenter/video_icon.png) no-repeat  center/cover; position: absolute; left: 0;right: 0; bottom: 0; top: 0; margin: auto;}
.education_page dd.list_dd .rinfo{ height: 1.2rem;}
.education_page dd.list_dd .rinfo h1{font-size: .3rem; color: #313233; font-weight: bold; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.education_page dd.list_dd .rinfo p{color: #636366; font-size: .22rem; margin-top: .12rem;}
.education_page dd.list_dd .rinfo p span{display: inline-block; line-height: .32rem; border-radius: .02rem; background-color: #FCF1E8; color: #FF6C00; padding: 0 .09rem; margin-right: .1rem;}
.education_page dd.list_dd .rinfo label{color: #FF6600; font-size: .28rem; font-weight: bold; margin-top: .2rem; display: block;}
.education_page dd.list_dd a::before{content: ''; display: block; height: 1px; background-color: #f5f5f7; position: absolute; left: 1.68rem; right: 0; bottom: 0;}
.education_page dd.list_dd:last-of-type::after{display: none;}

.on_manage.education_page dd a{margin-left: .8rem;}
.on_manage.education_page dd{position: relative;}
.on_manage.education_page dd::before{content: ''; display: block; width: .48rem; height: .48rem; border-radius: 50%; background: url(../../images/mcenter/chose.png) no-repeat  center/cover; position: absolute; left: .32rem; top: .28rem;}
.on_manage.education_page dd.on_chose::before{background-image: url(../../images/mcenter/article_on.png);}
.education_page dd.list_dd .rinfo .price_show {color: #636366; font-size: .22rem; margin-top: .12rem;}
.education_page dd.list_dd .rinfo .price_show .allprice{font-size: .26rem; color: #F53C1E; font-weight: bold; font-family: moneyNumber; margin-right: .12rem;}
.education_page dd.list_dd .rinfo .price_show .allprice b{font-size: .3rem;}
.education_page dd.list_dd .rinfo .label{color: #F53C1E; font-size: .26rem; font-weight: bold; margin-top: .3rem;}

/* 二手 */
.info_page{padding-top: .9rem;}
.huoniao_iOS .info_page{padding-top: 0;}
.info_page dt{line-height:.56rem  ; background-color: #F5F5F7; color: #949599; font-size: .24rem; padding-left: .3rem; margin-bottom: .15rem;}
.info_page dd{padding: 0 .3rem; }
.info_page dd a{display: block;padding: .15rem 0; position: relative; transition: all .2s;}
.info_page dd.store_dd a{padding: .3rem 0;}
.info_page dd.list_dd .litpic{width: 1.4rem; height: 1.4rem; border-radius: .1rem; background-color: #F0F4FA; font-size: .54rem; color: #C8D3E6; float: right; margin-left: .25rem; position: relative;}
.info_page dd.store_dd.list_dd .litpic{width: ;}
.info_page dd.list_dd .litpic h6{line-height: 1.2rem; text-align: center; font-weight: 900; text-stroke:.02rem #C8D3E6;-webkit-text-stroke:.02rem #C8D3E6;-moz-text-stroke:.02rem #C8D3E6;-o-text-stroke:.02rem #C8D3E6;}
.info_page dd.list_dd .litpic img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .1rem;}
.info_page dd.list_dd.video_dd .litpic::before{content: ''; display: block;width: .6rem; height: .6rem; background: url(../../images/mcenter/video_icon.png) no-repeat  center/cover; position: absolute; left: 0;right: 0; bottom: 0; top: 0; margin: auto;}
/* .info_page dd.list_dd .rinfo{ height: 1.2rem;} */
.info_page dd.list_dd .rinfo h1{font-size: .3rem; color: #313233; font-weight: bold; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.info_page dd.list_dd .rinfo h1 span{color: #536EA6;}
.info_page dd.list_dd .rinfo p{color: #636366; font-size: .24rem; margin-top: .12rem; }
.info_page dd.list_dd .rinfo p.price,.info_page dd.list_dd .rinfo p.typename{color: #F53C1E; font-weight: bold;}
.info_page dd.list_dd .rinfo p.typename{font-size: .28rem;}
.info_page dd.list_dd .rinfo p span{font-size: .3rem;}
.info_page dd.list_dd .rinfo label{color: #FF6600; font-size: .28rem; font-weight: bold; margin-top: .2rem; display: block;}
.info_page dd.list_dd a::before{content: ''; display: block; height: 1px; background-color: #f5f5f7; position: absolute; right: 1.7rem; left: 0; bottom: 0;}
.info_page dd.list_dd.nopic a::before{right: 0;}
.info_page dd.list_dd:last-of-type::after{display: none;}
.on_manage.info_page dd a{margin-left: .8rem;}
.on_manage.info_page dd{position: relative;}
.on_manage.info_page dd::before{content: ''; display: block; width: .48rem; height: .48rem; border-radius: 50%; background: url(../../images/mcenter/chose.png) no-repeat  center/cover; position: absolute; left: .32rem; top: .18rem;}
.on_manage.info_page dd.on_chose::before{background-image: url(../../images/mcenter/article_on.png);}



/* 汽车 */
.car_page{padding-top: .9rem;}
.huoniao_iOS .car_page {padding-top: 0;}
.car_page dt{line-height:.56rem  ; background-color: #F5F5F7; color: #949599; font-size: .24rem; padding-left: .3rem;}
.car_page dd{padding: 0 .3rem; position: relative;}
.car_page dd:last-of-type::after{display: none;}
.car_page dd::after{content: ''; display: block; height: 1px; left: 2.58rem; right: .3rem; background-color: #f5f5f7; bottom: 0; position: absolute;}
.car_page dd a{display: block; padding: .3rem 0;position: relative; transition: all .2s;}
.car_page dd.list_dd .litpic{float: left; width: 2rem; height: 1.5rem; border-radius: .1rem; background-color: #f5f5f5; margin-right: .28rem; border-radius: .1rem; position: relative;} 
.car_page dd.list_dd .litpic .lab{color: #fff; position: absolute;background: linear-gradient(90deg, #3388FF 0%, #286EFA 100%);border-radius: .04rem; text-align: center; line-height: .3rem; min-width: .56rem; box-sizing: border-box; padding: 0 .1rem; top: .1rem; left: .1rem;}
.car_page dd.list_dd .litpic img{display: block; width: 100%; height: 100%; object-fit: cover;  border-radius: .1rem;}
.car_page dd.list_dd .rinfo h1{font-size: .3rem; color: #313233; font-weight: bold;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.car_page dd.list_dd .rinfo>p{font-size: .22rem; color: #636366; margin-top: .12rem;}
.car_page dd.list_dd .rinfo .price_show {color: #B3B3B3; font-size: .2rem; margin-top: .2rem;}
.car_page dd.list_dd .rinfo .price_show .allprice{font-size: .26rem; color: #F53C1E; font-weight: bold; font-family: moneyNumber; margin-right: .12rem;}
.car_page dd.list_dd .rinfo .price_show .allprice b{font-size: .3rem;}
.on_manage.car_page dd a{margin-left: .8rem;}
.on_manage.car_page dd{position: relative;}
.on_manage.car_page dd::before{content: ''; display: block; width: .48rem; height: .48rem; border-radius: 50%; background: url(../../images/mcenter/chose.png) no-repeat  center/cover; position: absolute; left: .32rem; top: .28rem;}
.on_manage.car_page dd.on_chose::before{background-image: url(../../images/mcenter/article_on.png);}


/* 招聘 */
.job_page{padding-top: .9rem;}
.huoniao_iOS .job_page {padding-top: 0;}
.job_page li{border-top: solid .18rem #F7F8FA;  }
.job_page li a{display: block; height: 2.2rem;padding: .3rem; position: relative; box-sizing: border-box; transition: all .2s;}
.job_page li h1{display: flex; align-items: center; justify-content: space-between; color: #313233; font-size: .3rem; font-weight: bold;}
.job_page li h1 .salary{color: #F53C1E; font-family: moneyNumber;}
.job_page li p{color: #636366; font-size: .22rem; display: flex; align-items: center; margin-top: .14rem;}
.job_page li p em{color: #ccc; margin: 0 .1rem; font-size: .18rem; }
.job_page li .comp_detail{display: flex; align-items: center; position: absolute; bottom: 0.3rem;}
.job_page li .comp_detail .litpic{display: block; width: .48rem; height: .48rem; background-color: #f5f5f5; border-radius: .06rem; margin-right: .13rem;}
.job_page li .comp_detail .litpic img{display: block; width: 100%;height: 100%; object-fit: cover; border-radius: .06rem;}
.on_manage.job_page li a{margin-left: .8rem;}
.on_manage.job_page li{position: relative;}
.on_manage.job_page li::before{content: ''; display: block; width: .48rem; height: .48rem; border-radius: 50%; background: url(../../images/mcenter/chose.png) no-repeat  center/cover; position: absolute; left: .32rem; top: .28rem;}
.on_manage.job_page li.on_chose::before{background-image: url(../../images/mcenter/article_on.png);}



/* 商城 */
.shop_page{padding-top: .9rem;}
.huoniao_iOS .shop_page{padding-top: 0;}
.shop_page .shop_dl {margin-bottom: .7rem;}
.shop_page .shop_dl .shop_dt{font-size: .24rem; color: #949599; padding: 0 .35rem; margin-top: .26rem;}
.shop_page .shop_dl ul{margin: 0 .2rem; margin-top: .1rem;}
.shop_page .shop_dl .list_dd{float: left; margin-top: .3rem; width: 33.333%;}
.shop_page .shop_dl .list_dd a{display: block; margin: 0 .07rem; }
.shop_page .shop_dl .list_dd .litpic{width: 2.22rem; height: 2.22rem; border-radius: .1rem; background-color: #f5f5f5; margin: auto;}
.shop_page .shop_dl .list_dd .litpic img{display: block; width: 100%; height: 100%; object-fit: cover;  border-radius: .1rem;}
.shop_page .shop_dl .list_dd h1{font-size: .26rem; color: #313233; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-top: .1rem;}
.shop_page .shop_dl .list_dd p{font-size: .24rem; margin-top: .1rem; color: #EC3628; font-weight: bold; font-family:  moneyNumber;}
.shop_page .shop_dl .list_dd p em{font-size: .3rem; font-weight: bold;}
.on_manage.shop_page li{position: relative;}
.on_manage.shop_page li::before{content: ''; display: block; width: .48rem; height: .48rem; border-radius: 50%; background: url(../../images/mcenter/chose.png) no-repeat  center/cover; position: absolute; left: .04rem; top: .04rem;}
.on_manage.shop_page li.on_chose::before{background-image: url(../../images/mcenter/live_on.png);}



/* 活动记录 */
.huodong_page{padding-top: .9rem;}
.huoniao_iOS .huodong_page{padding-top: 0;}
.huodong_page .huodong_dl {margin-bottom: .7rem;}
.huodong_page .huodong_dl .huodong_dt{font-size: .24rem; color:#949599; padding: 0 .35rem; margin-top: .26rem;}
.huodong_page .huodong_dl ul{margin: 0 .2rem; margin-top: .1rem;}
.huodong_page .huodong_dl .list_dd{float: left; margin-top: .3rem; width: 50%;}
.huodong_page .huodong_dl .list_dd a{display: block; margin: 0 .07rem; }
.huodong_page .huodong_dl .list_dd .litpic{width: 3.4rem; height: 1.9rem; border-radius: .1rem; background-color: #f5f5f5; margin: auto;}
.huodong_page .huodong_dl .list_dd .litpic img{display: block; width: 100%; height: 100%; object-fit: cover;  border-radius: .1rem;}
.huodong_page .huodong_dl .list_dd h1{font-size: .28rem; color: #313233; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-top: .1rem;}
.huodong_page .huodong_dl .list_dd p.price{color: #FF9233; font-size: .3rem; margin-top: .1rem; font-family: moneyNumber;}
.huodong_page .huodong_dl .list_dd p.price em{font-size: .24rem;}
.on_manage.huodong_page li{position: relative;}
.on_manage.huodong_page li::before{content: ''; display: block; width: .48rem; height: .48rem; border-radius: 50%; background: url(../../images/mcenter/chose.png) no-repeat  center/cover; position: absolute; left: .04rem; top: .04rem;}
.on_manage.huodong_page li.on_chose::before{background-image: url(../../images/mcenter/article_on.png);}



.manage_box{display: flex; align-items: center; justify-content: center;position: fixed; background-color: #fff; bottom: 0; padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); line-height: 1rem; left: 0; right: 0;}
.manage_box .manage_btn.fn-hide,.manage_box .btns_group.fn-hide{display: none;}
.manage_box .manage_btn{width: 100%; display: block; text-align: center; height: 1rem; color: #4A4B4D; font-size: .3rem; }
.manage_box .btns_group{display: flex; align-items: center; justify-content: space-evenly; width: 100%; color: #4A4B4D; font-size: .3rem; font-weight: 500;}
.manage_box .btns_group span{display: block; width: 1px; height: .4rem; background-color: #EDEDED;}
.manage_box .btns_group .btn_del.disabled{opacity: .3; pointer-events: none;}
.manage_box .btns_group .btn_del,.manage_box .btns_group .btn_clear{color: #E62233;}
.manage_box.huodong-manage .btns_group .btn_del,
.manage_box.huodong-manage .btns_group .btn_clear,
.manage_box.travel-manage .btns_group .btn_del,
.manage_box.travel-manage .btns_group .btn_clear,
.manage_box.job-manage .btns_group .btn_del,
.manage_box.job-manage .btns_group .btn_clear,
.manage_box.pension-manage .btns_group .btn_del,
.manage_box.pension-manage .btns_group .btn_clear{color: #00A67D;}

.manage_box.education-manage .btns_group .btn_del,
.manage_box.education-manage .btns_group .btn_clear,
.manage_box.live-manage .btns_group .btn_del,
.manage_box.live-manage .btns_group .btn_clear,
.manage_box.tieba-manage .btns_group .btn_del,
.manage_box.tieba-manage .btns_group .btn_clear{color: #1B67E0;}



.on_manage.travel_page .list_dd.on_chose::before,
.on_manage.pension_page .list_dd.on_chose::before,
.on_manage.job_page .list_dd.on_chose::before,
.on_manage.huodong_page .list_dd.on_chose::before{background-image: url(../../images/mcenter/travel_icon.png) !important;}

.on_manage.education_page .list_dd.on_chose::before,
.on_manage.live_page .list_dd.on_chose::before,
.on_manage.tieba_page .list_dd.on_chose::before{background-image: url(../../images/mcenter/live_on.png);}



body{padding-bottom: 1.8rem;}
.clear_mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.2); z-index: 999999; display: none;}
.clear_sure{position: fixed; top: 0; left: 0; right: 0; bottom: 20%;  margin: auto; width: 4.9rem; height: 1.9rem; background-color: #fff; border-radius: .3rem;  box-shadow: 0 .03rem .2rem 0 rgba(0, 0, 0, 0.08); z-index: 999999; display: none;}
.clear_sure .al_title{height: 1.1rem; border-bottom: solid 1px #f5f5f7; display: flex; align-items: center; justify-content: center; font-size: .3rem; color: #333; font-weight: bold;}
.clear_sure .al_btns{display: flex; align-items: center; justify-content: center; width: 100%;}
.clear_sure .al_btns a{display: block; width: 50%; line-height: .78rem; text-align: center; font-size: .3rem; color: #333;}
.clear_sure .al_btns a.sure{color: #E62233; font-weight: bold; border-left: solid 1px #f5f5f7;}





