body,html{background-color: #F7F8FA;}
/* 客户联系 */
.contact_box .tab_box{display: flex; height: .9rem; background-color: #fff; padding: 0 .4rem; line-height: .78rem;}
.contact_box .tab_box li{font-size: .3rem; color: #313233; margin-right: .86rem;}
.contact_box .tab_box li.curr{color: #F53C1E; font-weight: bold; position: relative;}
.contact_box .tab_box li.curr::after{content: '';  display: block; width: .3rem; height: .06rem; border-radius: .03rem; background-color: #F53C1E; position: absolute; left: 0; right: 0; margin: auto ; bottom: .1rem;}

.contact_box .tab_con dl{margin-top: .37rem;}
.contact_box .tab_con dt{font-size: .36rem; color: #313233; font-weight: bold; display: flex; align-items: center; justify-content: space-between;padding: 0 .34rem;}
.contact_box .tab_con dt span{font-weight: normal; color: #636366; font-size: .26rem;}
.contact_box .tab_con dd.list_dd{ border-radius: .2rem; background-color: #fff; margin: 0 .3rem; margin-top: .22rem;}
.contact_box .tab_con dd.list_dd a{display: flex; align-items: center; justify-content: space-between; padding: .28rem;}
.contact_box .tab_con dd.list_dd h3{color: #313233; font-size: .32rem; font-weight: bold;}
.contact_box .tab_con dd.list_dd p{color: #313233; font-size: .24rem; margin-top: .1rem; margin-bottom: .12rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-right: .2rem; max-width: 4.5rem;}
.contact_box .tab_con dd.list_dd h5{color: #F53C1E; font-size: .28rem; font-weight: bold;}
.contact_box .tab_con dd.list_dd h5 em{color: #B3B3B3; font-size: .2rem;}
.contact_box .tab_con dd.list_dd .tel{display: flex; align-items: center; justify-content: center; width: 1.5rem; height: .64rem; border-radius: .32rem; background-color: #F53C1E; color: #fff; font-size: .26rem; font-weight: 400;}
.contact_box .tab_con dd.list_dd .tel::before{content: ''; display: block; width: .4rem; height: .4rem; background:url(../../images/mcenter/contact.png) no-repeat center; background-size: cover; margin-right: .06rem;}
.contact_box .tab_con .loading{text-align: center; padding: .6rem; color: #999;}