body{padding-bottom: 1.6rem; user-select: none;}
p,div,a,h1,h2,h3,h4,h5,h6,dt,dd,li{user-select: none ;-webkit-user-select: none ;}
.transparent .header-address{color: #fff;}
.bgbox{width: 100%; height: 5rem; background-image: url(../../images/mcenter/bg_info.png); background-size: cover; background-position: center bottom;}
.bgbox .top_box{display: flex; padding: .22rem .3rem; align-items: center; justify-content: space-between; padding-top: .36rem;}
.bgbox .top_box .left_link{font-size: .24rem; color: #fff;}
.bgbox .top_box .right_link{width: .48rem; height: .48rem; background: url(../../images/mcenter/set-icon.png) no-repeat center/.48rem; }

.userinfo_box{margin: 0 .3rem; display: flex; align-items: center; justify-content: space-between; margin-top: .38rem;}
.userinfo_box .uhead_box{display: flex; align-items: center;  }
.userinfo_box .uhead_box .uheadImg{width: 1.2rem; height: 1.2rem; border-radius: 50%; background-color: #f5f5f5; margin-right: .2rem; display: block;}
.userinfo_box .uhead_box .uheadImg img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.userinfo_box .uhead_box .uinfo{display: block;}
.userinfo_box .uhead_box .uinfo h3{font-size: .36rem; color: #fff; font-weight: bold; max-width: 3rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.userinfo_box .uhead_box .uinfo p{font-size: .26rem; color: #fff; opacity: .7; margin-top: .1rem;}
.userinfo_box .homepage{font-size: .26rem; color: #FF3150; display: block; line-height: .5rem; border-radius: .25rem; padding: 0 .25rem; background-color: #fff;}
.userinfo_box .homepage.level{color: #784244 !important; background: linear-gradient(90deg, #FEE6CC, #FEDEBD);}
.module_data{margin: 0 .2rem; margin-top: .4rem;}
.module_data ul{display: flex; align-items: center; justify-content: space-around; color: #fff; text-align: center;}
.module_data ul li a{color: #fff;}
.module_data ul li h4{font-size: .32rem; font-family: moneyNumber;}
.module_data ul li p{font-size: .24rem; opacity: .7;}
@font-face {
	font-family: moneyNumber;
	src: url('https://pic.xiant.ao/static/fonts/coregtd6.otf'),
		url('https://pic.xiant.ao/static/fonts/coregtd6.TTF'),
		url('https://pic.xiant.ao/static/fonts/coregtd6.svg'),
		 url('https://pic.xiant.ao/static/fonts/coregtd6.woff'); /* IE9 */
}


/* 内容 */
.content_box{margin-top: -.72rem;}
.content_box .con{margin: 0 .3rem ; margin-bottom: .24rem; border-radius: .24rem; box-shadow: 0 .07rem .37rem 0 rgba(0, 0, 0, 0.08); background-color: #fff; overflow: hidden;}
.content_box .con dt{height: .9rem; border-bottom: solid 1px #f5f5f7; display: flex; align-items: center; justify-content: space-between; padding: 0 .3rem;}
.content_box .con dt h5{color: #000; font-size: .3rem; font-weight: bold;}
.content_box .con dt h5 span{color: #9C9EAF; font-size: .24rem; margin-left: .1rem; font-weight:500 ;}
.content_box .con dt a{color: #D48137; font-size: .24rem;}
.content_box .con.first_con dt a{color: #9C9EAF;}
.content_box .con dd{padding: .3rem;}
.content_box .con .orderType{display: flex; align-items: center; justify-content: space-around;}
.content_box .con .icon_box{width: .64rem; height: .64rem; margin: auto; position: relative;}
.content_box .con .icon_box .num{display: block; min-width: .34rem; line-height: .34rem; border-radius: .17rem; color: #fff; font-size: .24rem; background-color: #FF523B; box-sizing: border-box; padding: 0 .1rem; position: absolute; left: .38rem; bottom: .4rem;}
.content_box .con .orderType .icon_box img,.content_box .con .mymanage .icon_box img{display: block; width: 100%; height: 100%; object-fit: cover;}
.content_box .con .orderType p{color: #6A6D80; font-size: .24rem; margin-top: .1rem; text-align: center;}
.content_box .con .orderType a{display: block; text-align: center;}
.content_box .con .qd_box{height: .84rem; border-radius: .2rem; background-color: #FFF5EA; display: flex; align-items: center; justify-content: space-between; padding: 0 .2rem 0 .1rem; color: #FB7324; font-size: .26rem; font-weight: bold; margin-top: .24rem;}
.content_box .con .qd_box a{color: #FB7324; min-width: 1.1rem; height: .48rem; border-radius: .25rem; border: solid 1px #FFB990; line-height: .48rem; text-align: center;}
.content_box .con .qd_box span::before{content: ''; display: block; width: .84rem; height: .84rem; background: url(../../images/mcenter/qd.png) no-repeat center; background-size: .84rem; margin-right: .06rem;}
.content_box .con .qd_box span{display: flex; align-items: center;}

.content_box .con .mymanage{width: 100%; display: flex; align-items: center;}
.content_box .con .mymanage li{width: 25%; }
.content_box .con .mymanage li a{display: block;}
.content_box .con .mymanage p{color: #6A6D80; text-align: center; margin-top: .1rem;}
.content_box .con .mymanage p em{color: #2A2B33; margin-left: .1rem;}

.content_box .vipTo{height: 1.3rem; margin: 0 .3rem; border-radius: .24rem; background: url(../../images/mcenter/bg_black.png) no-repeat center; background-size: cover; box-sizing: border-box; padding: 0 .3rem; display: flex; align-items: center; justify-content: space-between; margin-bottom: .2rem;  box-shadow: 0 .04rem .2rem 0 rgba(0, 0, 0, 0.26);}
.content_box .vipTo .left_text h3{font-size: .36rem; color: #FEE6CC; background: linear-gradient(90deg, #FFF8EB 0%, #FEDEBD 80%);-webkit-background-clip: text;-webkit-text-fill-color: transparent; font-weight: 900; display: inline-block;}
.content_box .vipTo .left_text p{color: #FEE6CC; font-size: .24rem;background: linear-gradient(90deg, #FFF8EB 0%, #FEDEBD 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.content_box .vipTo .right_btn{ min-width: 1.8rem; height: .6rem; border-radius: .3rem;  display: flex; align-items: center; justify-content: center; color: #784244; font-size: .24rem; background: linear-gradient(90deg, #FEE6CC, #FEDEBD); font-weight: bold;}
.content_box .vipTo .right_btn::after{content: ''; display: block; width: .3rem; height: .3rem; background: url(../../images/mcenter/arr.png) no-repeat center; background-size: cover; margin-left:.1rem ; }
.content_box .vipTo .right_to{color: #A69380; font-size: .22rem; display: flex; align-items: center; }
.content_box .vipTo .right_to:after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../../images/mcenter/arr2.png) no-repeat center; margin-left: .1rem; background-size: cover;}
.content_box .link_con dt{font-size: .26rem; color: #666;}
.content_box .link_con dd{padding: 0;}
.content_box .link_con dd a{padding: 0 .28rem; padding-right: .18rem; height: 1rem; display: flex; align-items: center; justify-content: space-between; }
.content_box .link_con dd a:active{background-color: #F2F2F2;}
.content_box .link_con dd a h5{font-size: .3rem; color: #212121; font-weight: bold; display: flex; align-items: center; }
.content_box .link_con dd a span{color: #BABABA; font-size: .24rem; display: flex; align-items: center; justify-content: flex-end;}
.content_box .link_con dd a span::after{content: ''; display: block; width: .3rem; height: .3rem; background: url(../../images/mcenter/arr1.png) no-repeat center/cover; margin-left: .08rem;}
.content_box .link_con dd a h5::before{content: ''; width: .5rem; height: .5rem; display: block; background: url(../../images/mcenter/address.png) no-repeat center; background-size: cover; margin-right: .12rem;}
.content_box .link_con dd.manage_pocket a h5::before{  background-image: url(../../images/mcenter/pocket.png);}
.content_box .link_con dd.manage_fenxiao a h5::before{  background-image: url(../../images/mcenter/hehuo.png);}
.content_box .link_con dd.manage_kefu a h5::before{  background-image: url(../../images/mcenter/kefu.png);}

.link_manage{margin: 0 .3rem;  min-height: .8rem; background-color: #FFF5E5; box-sizing: border-box; border: solid 1px #F7E4C6; box-shadow: 0 .07rem .37rem 0 rgba(0, 0, 0, 0.06); border-radius: .24rem; margin-bottom: .2rem; padding: 0 .28rem; padding-right: .2rem; display: flex; align-items: center; justify-content: space-between; margin-top: .2rem;}
.link_manage h5{font-weight: bold; font-size: .3rem; color: #000;}
.link_manage h5 span{color: #A5958B; font-weight: normal; font-size: .24rem; margin-left: .11rem;}
.link_manage a{display: block; width: 1.36rem; line-height: .5rem; border-radius: .25rem; text-align: center; font-size: .24rem;background: linear-gradient(90deg, #6B5040 0%, #554135 100%);box-shadow: 0 .07rem .13rem 0 rgba(163, 124, 98, 0.23); color: #FFF5E5;}

/* 教育 */
.page_education .bgbox,
.page_tieba .bgbox,
.page_live .bgbox{background-image: url(../../images/mcenter/bg_education.png);}
.page_education .userinfo_box .homepage,
.page_tieba .userinfo_box .homepage,
.page_live .userinfo_box .homepage{color: #2081F7;}
.page_education .link_manage,
.page_job .link_manage,.link_manage.towLine{ padding:.3rem; margin-top: 0;}
.page_education .link_manage a,
.link_manage.towLine a,
.page_job .link_manage a{line-height: .72rem; border-radius: .36rem; width: 1.8rem; font-size: .28rem;}
.link_manage .left_text p{color: #898077; font-size: .24rem; margin-top: .1rem;}
.page_education .content_box .con .orderType p{color: #9C9EAF;}
.page_education .content_box .con .baoming_dd{padding: 0 .2rem;}
.page_education .content_box .con .baoming_dd .bm_div{padding: .2rem 0; border-bottom: solid 1px #f5f5f7; display: flex; align-items: center; justify-content: space-between;}
.page_education .content_box .con .baoming_dd .bm_div .lbox{display: flex; align-items: center;}
.page_education .content_box .con .baoming_dd .bm_div .lbox h5{font-size: .26rem; color: #333; font-weight: bold; max-width: 4.5rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.page_education .content_box .con .baoming_dd .bm_div .lbox p{color: #9C9EAF; font-size: .24rem; margin-top: .08rem;}
.page_education .content_box .con .baoming_dd .bm_div .limg{width: .8rem; height: .8rem; border-radius: .08rem; background-color: #f5f5f5; margin-right: .15rem;}
.page_education .content_box .con .baoming_dd .bm_div .limg img{width: 100%; height: 100%; object-fit: cover;border-radius: .08rem; }
.page_education .content_box .con .baoming_dd .bm_info{text-align: right; font-size: .24rem;}
.page_education .content_box .con .baoming_dd .bm_info .bm_state{font-weight: 500; color: #333;}
.page_education .content_box .con .baoming_dd .bm_info .bm_state.state_pay{color: #2081F7;}
.page_education .content_box .con .baoming_dd .bm_info .count{font-size: .22rem; color: #333; margin-top: .08rem;}
.page_education .content_box .con .baoming_dd .bm_info .count em{font-size: .24rem; font-family: moneyNumber; font-weight: bold;}
.page_education .content_box .con .baoming_dd:last-of-type .bm_div {border: none;}

.page_education .content_box .link_con dd.manage_ruzhu a h5::before{  background-image: url(../../images/mcenter/ruzhu.png);}
.page_education .content_box .link_con dd.manage_fenxiao a h5::before{  background-image: url(../../images/mcenter/hehuo_edu.png);}
.page_education .content_box .link_con dd.manage_kefu a h5::before{  background-image: url(../../images/mcenter/kefu_edu.png);}
.page_education .content_box .link_con dd a span{color: #9C9EAF;}



/* 招聘 */
.page_job .bgbox{background-image: url(../../images/mcenter/bg_job.png);}
.page_job .userinfo_box .homepage{color: #00BDA0;}
.page_job .my_resume{margin: 0 .3rem; margin-bottom: .2rem; padding: .22rem;}
.page_job .my_resume h5{font-size: .3rem; color: #000; font-weight: bold; display: flex; align-items: center; justify-content: space-between; padding: 0 .08rem;}
.page_job .my_resume h5 a.edit_btn{color: #9C9EAF; font-size: .24rem; display: flex; align-items: center; font-weight: 500; }
.page_job .my_resume .my_info{font-size: .24rem ; color: #9C9EAF; font-weight: 500; padding: 0 .08rem; margin-top: .26rem;}
.page_job .my_resume .my_info em{margin: 0 .12rem;}
.page_job .my_resume h5 a.edit_btn:after{content: ''; display: block; width: .3rem; height: .3rem; background: url(../../images/mcenter/edit.png) no-repeat center; background-size: cover; margin-left: .08rem;}
.page_job .my_resume  .op_resume{display: flex; align-items: center; justify-content: space-between; margin-top: .42rem;}
.page_job .my_resume  .op_resume>div{width: 3.12rem; height: 1.3rem; border-radius: .2rem; box-sizing: border-box; border: solid 1px #FFAB52; background-color: #FFF9F2; padding-left: .28rem; padding-right: .2rem; display: flex; align-items: center; justify-content: space-between;}
.page_job .my_resume  .op_resume>div h4{font-size: .28rem; color: #FF8D3C; font-weight: bold;}
.page_job .my_resume  .op_resume>div .op_btn{display: block; width: .56rem; height: .56rem; background: url(../../images/mcenter/refresh.png) no-repeat center; background-size: cover; }
.page_job .my_resume  .op_resume>div p{color: #B7ADA2; font-size: .24rem; font-weight: 500; margin-top: .1rem;}
.page_job .my_resume  .op_resume>div.toTop_box{border-color: #FFB1A1; background-color: #FFF7F6;}
.page_job .my_resume  .op_resume>div.toTop_box h4{color: #FF5E3F;}
.page_job .my_resume  .op_resume>div.toTop_box p{color: #C0ADA9;}
.page_job .my_resume  .op_resume>div.toTop_box .op_btn{background-image: url(../../images/mcenter/totop.png);}
.page_job .to_resume{padding: 0 .3rem; height: 1.4rem; display: flex; align-items: center; justify-content: space-between;}
.page_job .to_resume h5{color: #000; font-size: .3rem; font-weight: bold;}
.page_job .to_resume p{color: #9C9EAF; font-size: .24rem; margin-top: .1rem;}
.page_job .to_resume a{display: flex; color: #fff; justify-content: center; text-align: center; line-height: .62rem; font-size: .26rem; background: #00BF76; box-shadow: 0 .07rem .23rem 0 rgba(0, 191, 118, 0.21); min-width: 1.7rem; border-radius: .31rem; align-items: center; }
.page_job .to_resume a::after{content: ''; width: .3rem; height: .3rem; background: url(../../images/mcenter/eidt_white.png) no-repeat center; background-size: cover; margin-right: .04rem;}

.page_job .content_box .link_con dd.manage_job a h5::before{  background-image: url(../../images/mcenter/zhaopin.png);}
.page_job .content_box .link_con dd.manage_fenxiao a h5::before{  background-image: url(../../images/mcenter/hehuo_job.png);}
.page_job .content_box .link_con dd.manage_kefu a h5::before{  background-image: url(../../images/mcenter/kefu_job.png);}

.page_job .content_box .link_con dd.myjob_to a h5::before{  background-image: url(../../images/mcenter/job_to.png);}
.page_job .content_box .link_con dd.mymianshi a h5::before{  background-image: url(../../images/mcenter/mianshi.png);}
.page_job .content_box .link_con dd.mysearch a h5::before{  background-image: url(../../images/mcenter/search.png);}
.page_job .content_box .link_con dd a h5 em.num{ line-height: .34rem; min-width: .34rem; box-sizing: border-box; padding:0 .08rem; color: #fff; border-radius: .17rem; font-size: .24rem; background-color: #FF523B; vertical-align: middle; text-align: center; margin-left: .12rem;}
.page_job .content_box .link_con dd.my_resume_ a h5::before{background-image: url(../../images/mcenter/job_to.png);}


/* 资讯 */
.page_article.lower .bgbox{height: 4.3rem;}
.page_article.lower .content_box{margin-top: -1.2rem;}
.page_article .bgbox{height: 4.6rem;}
.page_article .bgbox .top_box{margin-bottom: -.38rem}
.page_article .content_box .link_con dd.manage_ruzhu a h5::before{  background-image: url(../../images/mcenter/ruzhu_article.png);}
.content_box .comment_box{display: flex; align-items: center; justify-content: space-between; padding: 0 .24rem; height: .98rem; font-size: .28rem ; color: #333; padding-left: .4rem; font-weight: 500;}
.content_box .comment_box .left_con,
.content_box .comment_box .right_num,
.content_box .comment_box .headList{display: flex; align-items: center;}
.content_box .comment_box .headList{margin-right: .28rem;}
.content_box .comment_box .headList li{display: block; width: .5rem; height: .5rem; border-radius: 50%; border: solid .03rem #fff; background-color: #f5f5f5; margin-left: -.2rem;}
.content_box .comment_box .headList li img{width: 100%; height: 100%; object-fit: cover;}
.content_box .comment_box .right_num span{display: block; font-size: .24rem; color: #fff; line-height: .34rem; text-align: center; min-width: .34rem; box-sizing: border-box; padding:0 .1rem; background-color: #FF523B; border-radius: .17rem;}
.content_box .comment_box .right_num::after{content: ''; display: flex; align-items: center; width: .3rem; height: .3rem; background: url(../../images/mcenter/arr1.png) no-repeat center; background-size: cover; margin-left: .16rem;}
.content_box .todayData{display: flex; align-items: center; justify-content: space-around; height: 1.6rem;}
.content_box .todayData li{width: 33.3%;  text-align: center; position: relative;}
.content_box .todayData li a{display: block;}
.content_box .todayData li h4{font-family: moneyNumber; font-size: .36rem;}
.content_box .todayData li p{color: #9C9EAF; font-size: .24rem; font-weight: 500;}
.content_box .todayData li:after{content: ''; width: 1px; height: .85rem; position: absolute; top: 0; bottom: 0; right: 0; margin: auto; background-color: #eee;}
.content_box .todayData li:last-child::after{display: none;}
.content_box .tougao .first_con dt a{color: #9C9EAF;}
.content_box .tougao .first_con dt a em{color: #5C5C5C;}
.content_box .tougao .first_con dd{padding:0 .2rem;}
.content_box .tougao .first_con dd a{display: block; border-bottom:solid 1px #f5f5f5 ; padding: .2rem 0;}
.content_box .tougao .first_con dd .litpic{width: .8rem; height: .8rem; border-radius: .08rem; float: left; background-color: #f5f5f5; }
.content_box .tougao .first_con dd .litpic img{display: block; width: 100% ; height: 100%; object-fit: cover; border-radius: .08rem;}
.content_box .tougao .first_con dd .rText{margin-left: .95rem;}
.content_box .tougao .first_con dd .rText h2{white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: .26rem; color: #333; font-weight: bold;}
.content_box .tougao .first_con dd .rText p{font-size: .22rem; color: #333; margin-top: .1rem;}
.content_box .tougao .first_con dd .rText p .pubTime{color: #9C9EAF; margin-left: .16rem;}
.content_box .tougao .first_con dd:last-of-type a{border: none;}
.content_box .tougao{padding-bottom: .9rem; position: relative;}
.content_box .tougao .fabu{display: flex; align-items: center;height: .76rem; border-radius: .38rem; width: 2.4rem; background: #F7413E; box-shadow: 0 .1rem .21rem 0 rgba(254, 78, 76, 0.23); color: #fff; text-align: center;font-size: .28rem; justify-content: center;  position: absolute; bottom: .3rem; left: 0; right: 0; margin: auto; z-index: 1;}
.content_box .tougao .fabu::before{width: .3rem; height: .3rem; display: block; background: url(../../images/mcenter/edit1.png) no-repeat center; background-size: cover; content: ''; margin-right: .1rem;}
.content_box .tougao::after{content: ''; position: absolute; left: 0; right: 0; bottom: 0; background-color: #fff; height: 1.08rem;}
.content_box .tougao::before{content: ''; height: .6rem; position: absolute; left: 0; right: 0; bottom: 1.08rem;
background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);}


/* 房产 */
.page_house .content_box .link_con dd.manage_ruzhu a h5::before{  background-image: url(../../images/mcenter/ruzhu_article.png);}
.page_house .content_box .con dt a{line-height: .52rem; border-radius: .26rem; background-color: #FFF5EA; padding: 0 .28rem 0 .3rem;}
.page_house .content_box .con dt{padding-right: .2rem;}


/* 外卖 */
.page_waimai.lower .bgbox{height: 3.8rem; background-image: url(../../images/mcenter/bg_waimai.png);}
.page_waimai .userinfo_box .uhead_box .uinfo h3,
.page_waimai .userinfo_box .uhead_box .uinfo p,
.page_waimai .bgbox .top_box .left_link{color: #000; }
.page_waimai .bgbox .top_box .right_link{background-image: url(../../images/mcenter/setting1.png);}
.page_waimai .content_box .link_con dd.manage_qishou a h5::before{background-image: url(../../images/mcenter/qishou_waimai.png);}
.page_waimai .content_box .link_con dd.manage_ruzhu a h5::before{background-image: url(../../images/mcenter/ruzhu_waimai.png);}
.page_waimai .content_box .link_con dd.manage_fenxiao a h5::before{background-image: url(../../images/mcenter/hehuo_waimai.png);}

/* 团购 */
.page_tuan .bgbox{background-image: url(../../images/mcenter/bg_tuan.png);}
.page_tuan .content_box .con .orderType .newTip .icon_box::before{content: ''; display: block; width: .14rem; height: .14rem; border-radius: 50%; background-color: #FF523B; position: absolute; top: -.07rem; right: -.14rem;}
.page_tuan .content_box .link_con dd.manage_ruzhu a h5::before{background-image: url(../../images/mcenter/ruzhu_article.png);}
.page_tuan .content_box .link_con dd.manage_pocket a h5::before{background-image: url(../../images/mcenter/pocket3.png);}

/* 贴吧 */
.page_tieba .content_box .tie_dd{padding: 0;}
.page_tieba .content_box .tie_dd a{padding: .2rem .3rem; display: block;}
.page_tieba .content_box .tie_dd .pubdate{float: left;}
.page_tieba .content_box .tie_dd .pubdate .pubday{font-size: .4rem; color: #333; font-weight: bold;}
.page_tieba .content_box .tie_dd .pubdate .pubMonth{color: #333; font-size: .22rem;}
.page_tieba .content_box .tie_dd .tie_con{margin-left: 1.2rem;}
.page_tieba .content_box .tie_dd .tie_con .tie_litpic{width: 1.2rem; height: 1.2rem; border-radius: .1rem; background-color: #f5f5f5; float: left; margin-right: .12rem;}
.page_tieba .content_box .tie_dd .tie_con h3{font-size: .26rem; color: #333; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;overflow: hidden; line-height: .3rem; padding-left: .03rem;}
.page_tieba .content_box .tie_dd .tie_con .tie_litpic img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .1rem; }
.page_tieba .content_box .tie_dd .tie_con ul{display: flex; align-items: center;  color: #999; font-size: .24rem; margin-top: .3rem;}
.page_tieba .content_box .tie_dd .tie_con ul li{display: flex; align-items: center; justify-content: center; margin-right: .42rem;}
.page_tieba .content_box .tie_dd .tie_con ul li::before{content: ''; display: block; width: .26rem; height: .26rem; background:url(../../images/mcenter/cmt_icon.png) no-repeat center/cover; margin-right: .06rem;}
.page_tieba .content_box .tie_dd .tie_con ul li.zan_num::before{content: ''; display: block; width: .26rem; height: .26rem; background-image:url(../../images/mcenter/zan_icon.png) ;}
.page_tieba .content_box .link_con dd.manage_pocket a h5::before{background-image: url(../../images/mcenter/pocket_tie.png);}
.page_tieba .content_box .link_con dd.manage_fenxiao a h5::before{background-image: url(../../images/mcenter/hehuo_edu.png);}
.page_tieba .content_box .link_con dd.manage_kefu a h5::before{background-image: url(../../images/mcenter/kefu_edu.png);}



/* 直播 */
.page_live .content_box .link_con dt a{color: #9C9EAF;}
.page_live .content_box .live_yu dd a{display: block; padding: .2rem; height: auto; position: relative;}
.page_live .content_box .live_yu dd a::before{content: ''; height: 1px; background-color: #f5f5f5; position: absolute; left: 1.48rem; bottom: 0; right: .4rem;}
.page_live .content_box .live_yu dd:last-of-type a::before{display: none;}
.page_live .content_box .live_yu dd {padding:0 ;}
.page_live .content_box .live_yu dd .live_litpic{width: 1.3rem; height: .8rem; border-radius: .08rem; background-color: #f5f5f5; float: left;}
.page_live .content_box .live_yu dd .live_litpic img{width: 100%; height: 100%; object-fit: cover; border-radius: .08rem;}
.page_live .content_box .live_yu dd .live_info{margin-left: 1.48rem; position: relative;}
.page_live .content_box .live_yu dd .live_info h3{font-size: .3rem; color: #333; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-right: .3rem; margin-top: -.02rem;}
.page_live .content_box .live_yu dd .live_info h3 b{font-family: moneyNumber; vertical-align: middle; font-size: .32rem;}
.page_live .content_box .live_yu dd .live_info h3 em{color: #D9D9D9; margin: 0 .14rem; font-size: .3rem; font-weight: normal;}
.page_live .content_box .live_yu dd .live_info:after{content: ''; display: block; width: .3rem; height: .3rem; background:  url(../../images/mcenter/arr1.png) no-repeat center/cover; position: absolute; right: 0; top: .1rem;}
.page_live .content_box .live_yu dd .live_info p{color: #234A99; font-weight: 500; margin-top: .06rem;}

.page_live .content_box .link_con dd.manage_pocket a h5::before{background-image: url(../../images/mcenter/pocket_tie.png);}
.page_live .content_box .link_con dd.manage_fenxiao a h5::before{background-image: url(../../images/mcenter/hehuo_edu.png);}
.page_live .content_box .link_con dd.manage_kefu a h5::before{background-image: url(../../images/mcenter/kefu_edu.png);}
.page_live .content_box .link_con dd.manage_live a h5::before{background-image: url(../../images/mcenter/live_icon.png);}
.page_live .content_box .link_con dd.manage_fabu a h5::before{background-image: url(../../images/mcenter/fabu_live.png);}
.page_live .content_box .comment_box .headList{margin-right: -.1rem;}
.page_live .content_box .comment_box span{font-size: .3rem; color: #000; font-weight: bold;}
.page_live .content_box .comment_box .left_con::before{content: '' ; display: block; width: .74rem; height: .74rem; background: url(../../images/mcenter/icon_chart.png) no-repeat center; background-size: cover; margin-right: .03rem;}
.page_live .content_box .comment_box{padding-left: .14rem;}


/* 商家 */

.page_business .content_box .con dt.noLine{font-size: .26rem; color: #666; border-bottom: none; align-items: flex-end; height: .6rem; margin-bottom: .16rem;}
.page_business .content_box .con dt .NumShow{color: #000; font-weight: bold; }
.page_business .content_box .con dt .NumShow span{font-size: .36rem; font-family: moneyNumber; }
.page_business .content_box .online_order{padding: .2rem;}
.page_business .content_box .online_order .shop_icon{width: .8rem; height: .8rem; background: #f5f5f5; border-radius: .08rem; float: left;}
.page_business .content_box .online_order .shop_icon img{width: 100%; height: 100%; object-fit: cover; border-radius: .08rem;}
.page_business .content_box .online_order .order_info{margin-left: .95rem;}
.page_business .content_box .online_order .order_info h5{color: #333; font-size: .28rem; font-weight: bold; position: relative;}
.page_business .content_box .online_order .order_info h5 span{color: #FF3150; font-weight: normal;}
.page_business .content_box .online_order .order_info p{color: #999; font-size: .24rem;}
.page_business .content_box .online_order .order_info p em{margin: 0 .12rem;}
.page_business .content_box .online_order .order_info p span{color: #333;  font-family: moneyNumber; font-size: .28rem;}
.order_info{display: block;}
.page_business .content_box .online_order.shop_in .order_info{margin-right: 1.98rem;}
.page_business .content_box .online_order.shop_in .order_info h5 span{color: #333; font-size: .28rem; font-weight: bold; display: inline-block; max-width: 1.8rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; vertical-align: middle; margin-bottom: .04rem;}
.page_business .content_box .online_order.shop_in .order_info h5::after{content: ''; display: inline-block; width: .3rem; height: .3rem; background: url(../../images/mcenter/arr3.png) no-repeat center/cover; vertical-align: middle; margin-bottom: .04rem;}
.page_business .content_box .online_order.shop_in .order_info p span{font-size: .22rem;}
.page_business .content_box .online_order.shop_in .order_info p b{font-size: .28rem;}
.page_business .content_box .online_order.shop_in {position: relative;}
.page_business .content_box .online_order.shop_in .order_btn{display: block; line-height: .62rem; border-radius: .31rem; min-width: 1.7rem; text-align: center; color: #fff;background: linear-gradient(-25deg, #FF3C4A 0%, #FF7054 100%);box-shadow: 0 .07rem .21rem 0 rgba(255, 131, 88, 0.23); position: absolute; top: 0; right: .3rem;}

.page_business .content_box .con  dt.noLine a{color: #9C9EAF;}
.page_business .content_box .online_order.order_before .order_info h5 {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.page_business .content_box .online_order.order_before .order_info h5 em {color: #D9D9D9; font-weight: 400;}
.page_business .content_box .online_order.order_before .order_info{margin-right: .5rem; position: relative; display: block;}
.page_business .content_box .online_order.order_before .order_info ::after{content: ''; display: block; width: .3rem; height: .3rem; background: url(../../images/mcenter/arr3.png) no-repeat center/cover; position: absolute; top: 0;right: -.2rem;}
.page_business .content_box .online_order.order_before .order_info p{margin-top: .06rem;}



/* 商城 */
.page_shop .content_box  .latest_order{padding: .16rem; background-color: #f6f6f6; border-radius: .12rem; margin-top: .4rem; display: block;}
.page_shop .content_box  .latest_order h6{font-size: .22rem; color: #9C9EAF; display: flex; align-items: center; justify-content: space-between; }
.page_shop .content_box  .latest_order .oList{margin-top: .11rem;}
.page_shop .content_box  .latest_order .oList .oimg{width: .68rem; height: .68rem; border-radius: .08rem; background-color: #fff; float: left;}
.page_shop .content_box  .latest_order .oList .oinfo{margin-left: .82rem;}
.page_shop .content_box  .latest_order .oList .oinfo h4{color: #2081F7; font-weight: bold; font-size: .26rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.page_shop .content_box  .latest_order .oList .oinfo h4::before{content: ''; display: inline-block; width: .32rem; height: .32rem; background: url(../../images/mcenter/shou.png) no-repeat center/cover; margin-right: .12rem; vertical-align: middle; margin-bottom: .04rem;}
.page_shop .content_box  .latest_order .oList .oinfo p{font-size: .24rem; color: #9C9EAF;}

/* 家政 */
.latest_order{display: block;}
.page_homepage.lower .bgbox{height: 4rem;}
.page_homepage .content_box  .latest_order{padding: .16rem; background-color: #f6f6f6; border-radius: .12rem; margin-top: .4rem; position: relative;}
.page_homepage .content_box  .latest_order::before{content: ''; display:  block; width: 0 ; height: 0; border: solid .06rem transparent; border-bottom:solid .06rem  #f6f6f6; position: absolute; top: -.12rem; left: 2.2rem;}
.page_homepage .content_box  .latest_order h6{font-size: .22rem; color: #9C9EAF; display: flex; align-items: center; justify-content: space-between; }
.page_homepage .content_box  .latest_order .oList .oimg{width: 1.06rem; height: .8rem; border-radius: .08rem; background-color: #fff; float: left;}
.page_homepage .content_box .latest_order .oList .oimg img{display: block; width: 100%; height: 100%; object-fit: cover;border-radius: .08rem; }
.page_homepage .content_box  .latest_order .oList .oinfo{margin-left: 1.18rem;}
.page_homepage .content_box  .latest_order .oList .oinfo h4{color: #333; font-weight: 500; font-size: .26rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.page_homepage .content_box  .latest_order .oList .oinfo h4 span{font-size: .2rem; color: #fff; display: inline-block; line-height: .3rem; min-width: .78rem; border-radius: .08rem; background-color: #00BF76; text-align: center; box-sizing: border-box; padding:0 .1rem; margin-right: .07rem;}
.page_homepage .content_box  .latest_order .oList .oinfo p{font-size: .24rem; color: #808080; margin-top: .1rem;}
.page_homepage .content_box  .latest_order .oList .oinfo p b{font-family: moneyNumber; color: #000;}
.page_homepage .content_box .orderTip{margin: 0 .3rem; margin-bottom: .24rem; height: .88rem; border-radius: .24rem; background: linear-gradient(-90deg, #F23232 0%, #FC9B3A 100%); box-shadow: 0 .07rem .37rem 0 rgba(0, 0, 0, 0.08); display: flex; align-items: center; justify-content: space-between; padding:0 .26rem;}
.page_homepage .content_box .orderTip h5{color: #fff; font-size: .26rem; font-weight: bold; display: flex; align-items: center;}
.page_homepage .content_box .orderTip h5::before{content: ''; display: block; width: .6rem; height: .6rem; background: url(../../images/mcenter/ring.png) no-repeat center ; background-size: cover; margin-right: .04rem;}
.page_homepage .content_box .orderTip a{display: block; min-width: 1.4rem; background-color: #fff; font-size: .24rem; color: #FF4D4D; font-weight: bold; text-align: center; line-height: .48rem; border-radius: .24rem;}






/* 养老 */
.page_pension.lower .bgbox{height: 4rem;background-image: url(../../images/mcenter/bg_pension.png);}
.page_pension .content_box .con.first_con dt a{display: flex;align-items: center;}
.page_pension .content_box .con.first_con dt a:after{content: ''; display: block; width: .3rem; height: .3rem; background: url(../../images/mcenter/edit.png) no-repeat center/cover; margin-left: .08rem;}
.page_pension .content_box .con.first_con dd.op_detail{display: flex; align-items: center; margin-right: .16rem; }
.page_pension .content_box .con.first_con dd.op_detail .p_photo{width: 1.2rem; height: 1.2rem; border-radius: 50%; background: url(../../images/mcenter/male.png) no-repeat center/cover; background-color: #f5f5f5; margin-right: .16rem;}
.page_pension .content_box .con.first_con dd.op_detail .p_photo img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.page_pension .content_box .con.first_con dd.op_detail .p_info h5{font-size: .34rem; color: #333; font-weight: bold; display: flex; align-items: center; }
.page_pension .content_box .con.first_con dd.op_detail .p_info h5 span{background-color: #DAF5E9; color: #00AF62; font-size: .24rem; font-weight: normal; display: block; line-height: .38rem; min-width: 1.22rem; border-radius: .19rem; text-align: center; margin-left: .1rem;}
.page_pension .content_box .con.first_con dd.op_detail .p_info p::before{content: ''; display: inline-block; width: .3rem; height: .3rem; background: url(../../images/mcenter/posi.png) no-repeat center/cover; margin-right: .13rem;}
.page_pension .content_box .con.first_con dd.op_detail .p_info p{display: flex; align-items: center; color: #636466; font-size: .26rem; margin-top: .2rem;}
.page_pension .content_box .con.new_invite.fn-hide{display: none;}
.page_pension .content_box .con.new_invite{display: flex; align-items: center; padding: .2rem; justify-content: space-between;}
.page_pension .content_box .con.new_invite .linvite_info{display: flex; align-items: center; font-size: .28rem;}
.page_pension .content_box .con.new_invite .linvite_info .icon{width: .8rem; height: .8rem;background: url(../../images/mcenter/bg_tip.png) no-repeat center/cover; background-color: #0EC171; border-radius: .08rem; margin-right: .12rem; content: ''; display: block;position: relative;}
.page_pension .content_box .con.new_invite .linvite_info i{display: block; line-height: .34rem; font-size: .24rem; color: #fff; min-width: .34rem; border-radius: .17rem; background-color: #FF523B; position: absolute; left: .62rem; top: -.17rem; text-align: center;}
.page_pension .content_box .con.new_invite .link_to{line-height: .56rem; width: 1.6rem; border-radius: .28rem; box-sizing: border-box; border:solid 1px #00AF62; color: #00AF62; text-align: center; }
.page_pension .content_box .link_con dd.manage_fenxiao a h5::before{  background-image: url(../../images/mcenter/hehuo_job.png);}
.page_pension .content_box .link_con dd.manage_ruzhu a h5::before{  background-image: url(../../images/mcenter/zhaopin.png);}
.page_pension .content_box .link_con dd.manage_kefu a h5::before{  background-image: url(../../images/mcenter/kefu_job.png);}
.page_pension .content_box .link_con dd.manage_gz a h5::before{background-image: url(../../images/mcenter/shou_pension.png);}
.page_pension a.con{display: block; display: flex; align-items: center; justify-content: flex-start;}
.page_pension a.con.finfo_con{padding: .3rem .28rem;position: relative;}
.page_pension a.con .hicon_box{width: 1.2rem; height: 1.2rem; border-radius: 50%;background: url(../../images/mcenter/male.png) no-repeat center/cover; background-color: #f5f5f5; margin-right: .18rem;}
.page_pension a.con.finfo_con .text h5{font-size: .34rem; color: #333; font-weight: bold;}
.page_pension a.con.finfo_con .text p{color: #636466; font-size: .24rem; margin-top: .2rem;}
.page_pension a.con.finfo_con .text::after{content: ''; display: block; width: .3rem; height: .3rem; background: url(../../images/mcenter/arr1.png) no-repeat center; background-size: cover; position: absolute; right: .3rem; top: 0; bottom: 0; margin: auto;}

/* 活动 */
.page_huodong .bgbox{background-image: url(../../images/mcenter/bg_job.png);}
.page_huodong .userinfo_box .homepage{color: #02B597;}
.page_huodong .content_box .con.link_con.my_hd dt a,
.page_huodong .content_box .con.link_con.my_fabu dt a{color: #9C9EAF;}
.page_huodong .content_box .con.link_con.my_hd dd{padding: 0;}
.page_huodong .content_box .con.link_con.my_hd dd a{padding: .2rem; display: block; height: auto;}
.page_huodong .content_box .con.link_con.my_hd dd .limg{width: .8rem; height: .8rem; background-color: #f5f5f5; border-radius: .08rem; float: left;}
.page_huodong .content_box .con.link_con.my_hd dd .rcon h4{color: #333; font-weight: bold; font-size: .3rem;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.page_huodong .content_box .con.link_con.my_hd dd .rcon h4 b{font-family: moneyNumber; font-weight: 900;}
.page_huodong .content_box .con.link_con.my_hd dd .rcon h4 span{color: #333; font-size: .32rem; font-family: moneyNumber; vertical-align: middle;}
.page_huodong .content_box .con.link_con.my_hd dd .rcon h4 em{color: #D9D9D9; font-weight: normal; margin: 0 .16rem; vertical-align: middle;}
.page_huodong .content_box .con.link_con.my_hd dd .rcon{margin-left: .98rem;}
.page_huodong .content_box .con.link_con.my_hd dd a span{display: inline;}
.page_huodong .content_box .con.link_con.my_hd dd a span::after{display: none;}
.page_huodong .content_box .con.link_con.my_hd dd a span.addr{color: #666; margin-right: .18rem;}
.page_huodong .content_box .con.link_con.my_hd dd a span.hd_state{color: #02B597; font-weight: 500;}

.page_huodong .content_box .link_con dd.manage_hd a h5::before{background-image: url(../../images/mcenter/my_hd.png);}
.page_huodong .content_box .link_con dd.manage_fabu a h5::before{background-image: url(../../images/mcenter/fabu_hd.png);}
.page_huodong .content_box .link_con dd.manage_fenxiao a h5::before{background-image: url(../../images/mcenter/hehuo_job.png);}
.page_huodong .content_box .link_con dd.manage_pocket a h5::before{background-image: url(../../images/mcenter/pocket_hd.png);}
.page_huodong .content_box .link_con dd.manage_ruzhu a h5::before{background-image: url(../../images/mcenter/zhaopin.png);}
.page_huodong .content_box .link_con dd.manage_kefu a h5::before{background-image: url(../../images/mcenter/kefu_job.png);}

.page_huodong .content_box .con.link_con.my_fabu dd:last-of-type a{border: none;}
.page_huodong .content_box .con.link_con.my_fabu dd a{margin: 0 .2rem; padding: .2rem 0; border-bottom: solid 1px #f5f5f7; height: auto; display: block;}
.page_huodong .content_box .con.link_con.my_fabu dd a:active{background: none;}
.page_huodong .content_box .con.link_con .limg img{width: 100%; height: 100%; object-fit: cover; border-radius: .08rem;}
.page_huodong .content_box .con.link_con.my_fabu .limg{width: 1.96rem; height: 1.4rem; border-radius: .08rem; background-color: #f5f5f5; float: left;}
.page_huodong .content_box .con.link_con.my_fabu .rcon{margin-left: 2.14rem; height: 1.4rem; position: relative;}
.page_huodong .content_box .con.link_con.my_fabu .rcon h4{font-size: .28rem; font-weight: bold; color: #333; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.page_huodong .content_box .con.link_con.my_fabu .rcon h4 em{display: inline-block; line-height: .34rem; color: #fff; font-size: .22rem; border-radius: .1rem; padding: 0 .1rem; background-color: #00BF76; vertical-align: middle; margin-right: .1rem;}
.page_huodong .content_box .con.link_con.my_fabu .rcon p{color: #999; font-size: .22rem; margin-top: .05rem;}
.page_huodong .content_box .con.link_con.my_fabu .rcon .t_bottom{position: absolute; left: 0; bottom: 0; font-size: .24rem; color: #000;}
.page_huodong .content_box .con.link_con.my_fabu .rcon .t_bottom b{font-size: .3rem; color: #02B597; font-family: moneyNumber;}

/* 二手汽车 */
.page_car .content_box .imgShow{margin: 0 .3rem; height: 1.6rem; border-radius: .24rem;box-shadow: 0 .05rem .23rem 0 rgba(0, 0, 0, 0.09); margin-bottom: .24rem; display: block;}
.page_car .content_box .imgShow img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .24rem;}
.content_box .conBox{margin-top: .6rem;}
.content_box .conBox .conHead{display: flex; align-items: center; font-size: .3rem; color: #333; margin: 0 .46rem; position: relative;}
.content_box .conBox .conHead i{ display: block; width: .32rem; height: .06rem; border-radius: .03rem; background: linear-gradient(90deg, #F7522D 0%, #FF7E21 100%); position: absolute; left: 0; bottom: -.1rem; transition: left .3s ; margin-left: -.16rem;}
.content_box .conBox .conHead span{margin-right: .53rem;}
.content_box .conBox .conHead span.active{font-weight: bold; font-size: .34rem;}
.content_box .conBox .conHead a{font-size: .24rem; color: #9C9EAF; position: absolute; right: 0; top: 0 ; bottom: 0; margin: auto;}
.content_box .conBox .listBox{margin-top: .46rem;}
.content_box .conBox .listBox .con:not(.yy_li) a{padding:.3rem .28rem; display: block;}
.content_box .conBox .listBox .car_shou .car_info{height: 1.4rem; position: relative; margin-left: 2.14rem;}
.content_box .conBox .listBox .car_shou h2 {font-size: .28rem; color: #000; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.content_box .conBox .listBox .car_shou h2 span{display: inline-block; line-height: .32rem; background-color: #00BF76; color: #fff; font-weight: normal; font-size: .22rem; border-radius: .1rem; padding: 0 .1rem; vertical-align: middle; margin-right: .1rem;margin-bottom: .04rem;}
.content_box .conBox .listBox  p{color: #999; font-size: .22rem; margin-top: .05rem;}
.content_box .conBox .listBox  p span{vertical-align: middle;}
.content_box .conBox .listBox  p em{font-weight:400; color: #ccc; vertical-align: middle; margin: 0 .15rem;}
.content_box .conBox .listBox .car_shou .price_show{color: #FF5526; position: absolute; bottom: 0; left: 0;}
.content_box .conBox .listBox .car_shou .price_show b{font-size: .3rem; font-family: moneyNumber;}
.content_box .conBox .listBox .car_shou .car_img{width: 1.96rem; height: 1.4rem; background-color: #f5f5f5; float: left; border-radius: .06rem; overflow: hidden;}
.content_box .conBox .listBox .link_to{display: block; text-align: center; margin-top: .4rem;}
.content_box .conBox .listBox .link_to a{display: inline-block; line-height: .76rem; border-radius: .38rem; background-color: #F2F2F2;min-width: 3rem; box-sizing: border-box; padding:0 .1rem; color: #9C9EAF;}
.content_box .conBox .listBox .link_to em{color: #5C5C5C;}

.content_box .conBox .listBox .shop_yuyue .shop_img{width: 1.4rem; height: 1.4rem; border-radius: .06rem; background-color: #f5f5f5;float: left; overflow: hidden;}
.content_box .conBox .listBox .shop_yuyue .shop_info{height: 1.4rem; margin-left: 1.6rem;position: relative;}
.content_box .conBox .listBox .shop_yuyue .shop_info h2{font-size: .3rem;color: #000; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.content_box .conBox .listBox .shop_yuyue .shop_info .renzheng{width: .92rem; height: .36rem; background: url(../../images/mcenter/renzheng.png) no-repeat center; background-size: cover; display: inline-block; vertical-align: middle; vertical-align: middle;}
.content_box .conBox .listBox .shop_yuyue .shop_info .num_show{position: absolute; bottom: 0; left: 0; color: #333;}
.content_box .conBox .listBox .shop_yuyue .shop_info .num_show b{color: #FF5526; font-size: .3rem; font-family: moneyNumber;}
.content_box .conBox .listBox img{display: block; width: 100%; height: 100%; object-fit: cover;}

.page_car .content_box .link_con dt a{color: #9C9EAF;}
.page_car .content_box .link_con .fb_car a{ height: auto; padding: .2rem; display: block;}
.page_car .content_box .link_con .car_img{width: 1.06rem; height: .9rem; border-radius: .08rem; background-color: #f5f5f5; float: left; overflow: hidden;}
.page_car .content_box   img{display: block; width: 100%; height: 100%; object-fit: cover;}
.page_car .content_box .link_con .car_info{margin-left: 1.26rem;}
.page_car .content_box .link_con .car_info h4{font-size: .3rem; color: #333; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.page_car .content_box .link_con .car_info p{color: #999; font-size: .22rem; margin-top: .1rem;}
.page_car .content_box .link_con .car_info p em{font-size: .24rem; color: #333;}
.content_box .noData{text-align: center; font-size: .26rem !important; padding: .6rem;}
.content_box .noData::before{content: ''; display: block; width: 4rem; height: 2.4rem; background: url(../../images/mcenter/noData.png) no-repeat center; background-size: cover; margin: auto; margin-bottom: .4rem;}


/* 旅游 */


.page_travel .bgbox{background-image: url(../../images/mcenter/bg_travel.png);}
.page_travel .userinfo_box .homepage{color: #00C252;}
.page_travel .content_box .order{display: block; padding: .14rem; border-radius: .16rem; background-color: #F7F7F7; margin-top: .38rem; position: relative;}
.page_travel .content_box .order::before{content: ''; display: block; width: 0; height: 0; border: solid .1rem  rgba(0,0,0,0); position: absolute; left: 2.15rem; top: -.2rem; border-bottom: solid .1rem #f7f7f7;}
.page_travel .content_box .order .order_img{float: left; width: 1.06rem; height: .8rem; background-color: #fff; border-radius: .08rem;}
.page_travel .content_box .order .order_info{margin-left: 1.18rem;}
.page_travel .content_box .order .order_info h4{color: #333; font-size: .26rem; margin-top: .04rem;}
.page_travel .content_box .order .order_info span{display: inline-block; line-height: .3rem; background-color: #00BF76; border-radius: .03rem; padding: 0 .1rem; margin-right: .07rem; color: #fff; font-size: .2rem; vertical-align: middle; margin-bottom: .04rem;}
.page_travel .content_box .order .order_info p{margin-top: .06rem; color: #808080; font-size: .2rem;}
.page_travel .content_box .order .order_info b{font-family: moneyNumber; color: #000;}
.page_travel .content_box .con .icon_box .num{background-color: #D7F5E4; color: #00C252;}

.page_travel .content_box .link_con dd.manage_fenxiao a h5::before{background-image: url(../../images/mcenter/hehuo_job.png);}
.page_travel .content_box .link_con dd.manage_address a h5::before{background-image: url(../../images/mcenter/icon_addr.png);}
.page_travel .content_box .link_con dd.manage_ruzhu a h5::before{background-image: url(../../images/mcenter/zhaopin.png);}
.page_travel .content_box .link_con dd.manage_kefu a h5::before{background-image: url(../../images/mcenter/kefu_job.png);}
.page_travel .content_box .con .qd_box{margin-top: .48rem;}




/* 装修 */
.page_renovation.lower .bgbox{height: 4.3rem;}
.page_renovation .content_box .imgShow{margin: 0 .3rem; height: 1.6rem; border-radius: .24rem;box-shadow: 0 .05rem .23rem 0 rgba(0, 0, 0, 0.09); margin-bottom: .24rem; display: block; position: relative;}
.page_renovation .content_box .imgShow img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .24rem;}
.page_renovation .content_box .imgShow .text{position: absolute; top: 0; left: 0; bottom: 0; right: 0; padding: .26rem .47rem;}
.page_renovation .content_box .imgShow .text h2{color: #247995; font-size: .36rem; font-weight: bold;}
.page_renovation .content_box .imgShow .text p{display: flex; align-items: center; color: #599CAF; margin-top: .1rem;}
.page_renovation .content_box .imgShow .text span{display: block; padding:0 .18rem; border-radius: .21rem; line-height: .42rem; background: linear-gradient(268deg, #F7C52E 0%, #FDA701 100%); color: #fff; margin-right: .1rem;}
.page_renovation .content_box .conBox .conHead i{width: .26rem;}
.page_renovation .content_box .conBox .listBox  p{color: #999; font-size: .22rem; margin-top: .05rem;}
.page_renovation .content_box   img{display: block; width: 100%; height: 100%; object-fit: cover;}
.page_renovation .content_box .re_shop{color: #FF5526; font-size: .26rem; font-weight: bold; position: absolute; left: 0 ; bottom: 0;}
.page_renovation .content_box .conBox .listBox .shop_yuyue .shop_info .num_show span{margin-right: .27rem;}
.page_renovation .content_box .conBox .listBox .shop_yuyue .shop_info h2 span{display: inline-block; line-height: .32rem; background-color: #00BF76; color: #fff; font-weight: normal; font-size: .22rem; border-radius: .1rem; padding: 0 .1rem; vertical-align: middle; margin-right: .1rem;margin-bottom: .04rem;}
.page_renovation .joinWrap .page{position: absolute; left: 0; right: 0; bottom: .28rem; margin: auto; z-index: 3; width: 100% !important; text-align: center;}
.page_renovation .joinWrap .page span{width: .04rem ; height: .04rem; border-radius: .02rem; background-color: #fff; margin: 0 .03rem;}
.page_renovation .joinWrap .page span.swiper-pagination-bullet-active{width: .14rem; opacity: 1;}


.page_renovation .content_box .conBox .listBox .yy_li{padding: .3rem; position: relative;}
.page_renovation .content_box .conBox .listBox .yy_li .kh_info{display: flex; align-items: center;}
.page_renovation .content_box .conBox .listBox .yy_li .kh_info h5{color: #000; font-size: .3rem; font-weight: bold; margin-right: .28rem;}
.page_renovation .content_box .conBox .listBox .yy_li .kh_info p{font-size: .26rem; color: #666;}
.page_renovation .content_box .conBox .listBox .yy_li .kh_info em{font-size: .2rem; color: #ccc;}
.page_renovation .content_box .conBox .listBox .yy_li .kh_call{font-size: .24rem; color: #333; margin-top: .22rem;}
.page_renovation .content_box .conBox .listBox .yy_li .kh_call b{font-size: .3rem; color: #FF5526; font-family: moneyNumber;}
.page_renovation .content_box .conBox .listBox .yy_li>p{color: #999; font-size: .22rem; margin-top: .12rem;}
.page_renovation .content_box .conBox .listBox .yy_li .tel{position: absolute; right: .3rem; bottom: .5rem; width: 1.3rem; height: .6rem; display: block; border-radius: .3rem; background: linear-gradient(-50deg, #F8582B 0%, #FF763A 100%); box-shadow: 0 .05rem .15rem 0 rgba(248, 88, 43, 0.17); text-align: center; color: #fff; font-weight: 500; line-height: .6rem;}




/* 顺风车 */
.page_sfcar .userinfo{width: 100%; height: 2.52rem; background: url(../../images/mcenter/bg_sfcar.png) no-repeat center; background-size: cover; box-sizing: border-box; padding: .3rem .5rem;}
.page_sfcar .userinfo h2{font-size: .42rem; color: #212121; font-weight: bold; max-width:6rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.page_sfcar .userinfo p{color: #999; font-size: .26rem; margin-top: .14rem;}
.page_sfcar .fabu_btn{display: flex; margin: 0 .3rem; border-radius: .24rem; height: 1.32rem; background: linear-gradient(90deg, #DCEEFD 0%, #EDF6FE 100%); align-items: center; padding-left: .42rem; padding-right: .22rem; justify-content: space-between;}
.page_sfcar .fabu_btn:after{content: ''; display: block; width: 1rem; height: 1rem; background:  url(../../images/mcenter/edit_icon.png) no-repeat center; background-size: cover;}
.page_sfcar .fabu_btn h4{color: #4773B0; font-size: .36rem; font-weight: bold; }
.page_sfcar .fabu_btn p{color: #7DA3D2; font-size: .26rem; }

.page_sfcar .content_box{margin-top: -.2rem;}
.page_sfcar .content_box .conBox .conHead i{width: .26rem; height: .08rem; border-radius: .04rem; bottom: -.16rem;}
.page_sfcar .content_box .conBox .listBox .con{padding: .3rem .22rem; position: relative;}
.page_sfcar .content_box .conBox .listBox .con h4{font-size: .32rem; font-weight: bold; color: #1A1B21; display: flex; align-items: center;}
.page_sfcar .content_box .conBox .listBox .con h4 span{color: #fff; font-size: .22rem; line-height: .34rem; border-radius: .08rem; background: linear-gradient(90deg, #00C884 0%, #24C281 100%); padding: 0 .15rem; display: block; font-weight: normal; margin-right: .2rem;}
.page_sfcar .content_box .conBox .listBox .con h4 span.car{background: linear-gradient(90deg, #4473FF 0%, #4285FF 100%); }
.page_sfcar .content_box .conBox .listBox .con h4 em{display: block; margin: 0 .12rem; width: .36rem; height: .3rem; background:  url(../../images/mcenter/placeFan.png) no-repeat center; background-size: cover;}
.page_sfcar .content_box .conBox .listBox .con .stime{color: #303133; font-size: .28rem; font-weight: normal; margin-top: .2rem;}
.page_sfcar .content_box .conBox .listBox .con .stime b{color: #47484D; font-family: moneyNumber; margin-right: .2rem;}
.page_sfcar .content_box .conBox .listBox .con .calltime{font-size: .22rem; color: #999; margin-top: .4rem;}
.page_sfcar .content_box .conBox .listBox .con .call_btn{display: block; padding: 0 .2rem; position: absolute; bottom: .3rem; right: .22rem; line-height: .6rem; border-radius: .3rem; background: linear-gradient(90deg, #407FFF 0%, #3377FF 100%); color: #fff; font-size: .24rem; font-weight: bold; text-align: center; min-width: 1.6rem; box-sizing: border-box;}
.page_sfcar .content_box .noData::before{background-image: url(../../images/mcenter/noData_sfcar.png);}
.huoniao_iOS .header{display: -webkit-box !important; padding-top: .6rem !important;}
.huoniao_iOS .bgbox{padding-bottom: .6rem;}
.huoniao_iOS .bgbox .top_box{padding-top: .6rem !important;}
.huoniao_iOS #fast_nav{padding-top: .6rem;}

.huoniao_iOS:not(.huoniao_Android) .header{display: -webkit-box !important; padding-top: .8rem !important;}
.huoniao_iOS:not(.huoniao_Android) .bgbox{padding-bottom: .3rem;}
.huoniao_iOS:not(.huoniao_Android) .bgbox .top_box{padding-top: .8rem !important;}
.huoniao_iOS:not(.huoniao_Android) #fast_nav{padding-top: .8rem;}

.huoniao_iOS.wx_miniprogram .header, .huoniao_iOS.baidu_miniprogram .header, .huoniao_iOS.qq_miniprogram .header {padding-top: 0!important; }
.huoniao_iOS.wx_miniprogram .bgbox, .huoniao_iOS.baidu_miniprogram .bgbox, .huoniao_iOS.qq_miniprogram .bgbox {padding-bottom: 0;}
.huoniao_iOS.wx_miniprogram .bgbox .top_box, .huoniao_iOS.baidu_miniprogram .bgbox .top_box, .huoniao_iOS.qq_miniprogram .bgbox .top_box {padding-top: 0;}
.huoniao_iOS.wx_miniprogram #fast_nav, .huoniao_iOS.baidu_miniprogram #fast_nav, .huoniao_iOS.qq_miniprogram #fast_nav {padding-top: 0;}
.huoniao_iOS.wx_miniprogram .bgbox .top_box ,.huoniao_iOS.qq_miniprogram  .bgbox .top_box,.huoniao_iOS.baidu_miniprogram  .bgbox .top_box{padding-top:.22rem !important;} 

