body{background-color: #fff;}
.fixedpane{border-bottom: solid 4px #00C192;}
.wrap.header{width: 1200px;}
.mainbox{width: 1200px; margin: auto;}
.hd_info { padding: 38px 0; border-bottom: solid 1px #E8E8E8;}
.hd_info .left_img{width: 550px; float: left; height: 324px; position: relative; overflow: hidden;}
.hd_info .left_img img{width: 100%; max-height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; }
.hd_info .right_info{margin-left: 580px; position: relative;}
.hd_info .right_info h2{font-size: 28px; color: #3B3B3B; font-weight: bold; line-height: 36px; margin-bottom: 20px; }
.hd_info .right_info .hd_detail p{color: #787878; font-size: 16px; line-height: 20px; margin-bottom: 16px;}
.hd_info .right_info .hd_detail p i{display: inline-block; width: 20px; height: 20px; background: no-repeat center; background-size: cover; vertical-align: middle; margin-right: 5px; margin-bottom: 4px;}
.hd_info .right_info .hd_detail p.time i{background-image: url(../images/time.png);}
.hd_info .right_info .hd_detail p.addr i{background-image: url(../images/posi1.png);}
.hd_info .right_info .hd_detail p.tel i{background-image: url(../images/tel.png);}
.hd_info .right_info .hd_detail p.deadline i{background-image: url(../images/end.png);}
.hd_info .right_info .hd_detail p.deadline.end{color: #FF3B3B;}
.hd_info .right_info .hd_detail .bm_num i{background-image: url(../images/user.png);}
.hd_info .right_info .hd_detail .bm_limit i{background-image: url(../images/limit.png);}
.hd_info .right_info .hd_detail em.line{color: #DCDDDE; margin:  0 20px;}

.baoming,.baomingend{width: 180px; line-height: 56px; border-radius: 28px; background-color: #00C192; text-align: center; font-size: 18px; box-shadow:0px 3px 17px 0px rgba(0,193,146,0.23); margin-top:26px;}
.baoming a,.baomingend a {color: #fff; display: block;}
.baomingend{background-color: #E1E1E8; box-shadow:none;}

.btns_group{position: absolute; right: 0; bottom: 0; font-size: 14px; color: #333;}
.btns_group a {display: inline-block; margin-left: 30px;}
.btns_group a i{display: inline-block; width: 30px; height: 30px; background: no-repeat center; background-size: 30px; vertical-align: middle;}
.btns_group a em{vertical-align: middle;}
.btns_group a.chat i{background-image: url(../images/chat.png);}
.btns_group a.shou i{background-image: url(../images/shou.png);}
.btns_group a.shou.shoued i{background-image: url(../images/shou1.png);}

.wrapbox{padding-top: 40px;}
.wrapbox .left_con{width: 870px; float: left;}
.wrapbox .right_con{width: 285px; float: right;}
.wrapbox .ticketBox{margin-bottom: 30px;}
.wrapbox .ticketBox h4,.wrapbox .detail_box h4,.wrapbox  .reg_box h4,.wrapbox .commt_box h4,.wrapbox .commtlist_box h4,.wrapbox .hd_box h4,.map_box h4,.organzer_box h4{color: #37373B; font-size: 16px; font-weight: bold; margin-bottom: 16px;}
.wrapbox .ticketBox li{ width:230px; height:70px; background:rgba(255,255,255,1); border:1px solid rgba(222,222,222,1); border-radius:4px; float: left; box-sizing: border-box; padding:8px 12px; margin-right: 20px; margin-bottom: 20px; cursor: pointer;}
.wrapbox .ticketBox li .tprice{float: left; color: #FF861C; font-size: 12px;}
.wrapbox .ticketBox li .tprice em{font-size: 16px;}
.wrapbox .ticketBox li .tprice.free{font-size: 16px;}
.wrapbox .ticketBox li .tnum{float: right; font-size: 14px; color: #ABABAB;}
.wrapbox .ticketBox li .tnum em{color: #FF861C;}
.wrapbox .ticketBox li p{color: #ABABAB; font-size: 14px; margin-top: 6px;}
.wrapbox .ticketBox li.chosed{border: solid 1px #00C192; position: relative;}
.wrapbox .ticketBox li.chosed i{display: block; width: 24px; height: 24px; background: url(../images/chosed.png) no-repeat center; background-size: cover; position: absolute; bottom: 0 ; right: 0;}
.wrapbox .ticketBox li.nochose{background-color: #F7F7F7;}
.wrapbox .ticketBox li.nochose .tnum em{color: #FF9C46;}

/* .wrapbox .detail_box{margin-top: 30px;} */
.detail{font-size: 15px; color: #5D5E5E; line-height: 22px;}
.detail img{max-width: 100%; max-height: 512px;}
.wrapbox .reg_box{margin-top: 50px;}
.wrapbox .reg_box,.commtlist_box .loading{color: #999; font-size: 14px;}
.wrapbox .reg_box .li_reg{float: left; margin: 10px 15px; width: 88px;}
.wrapbox .reg_box .li_reg a{display: block; }
.wrapbox .reg_box .li_reg .head_img{width: 66px; height: 66px; border-radius: 50%; margin: auto; margin-bottom: 16px; }
.wrapbox .reg_box .li_reg .head_img img{width: 100%; object-fit: cover; height: 100%; border-radius: 50%;}
.wrapbox .reg_box .li_reg h5{text-align: center; max-width: 80px; overflow: hidden; text-overflow:  ellipsis; white-space: normal; white-space: nowrap; color: #37373B; font-size: 14px; margin: auto;}
.wrapbox .reg_box .li_reg p{color: #919191; font-size: 12px; margin-top: 6px; text-align: center;}
.wrapbox .reg_box ul{  /* height: 138px; */ overflow: hidden; transition: all .3s; padding-top: 10px;}
.wrapbox .reg_box ul.openul{height: auto; overflow: visible;}
.wrapbox .reg_box ul.close_ul{height: 138px; overflow: hidden;}
.wrapbox .reg_box .ulbox{padding: 0 20px; border: solid 1px #E8E6E6; padding-bottom: 20px; background-color: #f7f8fa;}
.wrapbox .reg_box .more_btn{width: 60px; height: 26px; border-radius: 3px; color: #fff; background-color: #00C192; display: block; text-align: center; line-height: 26px; margin: 10px 20px;}
.wrapbox .reg_box .more_btn.open{background-color: #B7B9C4;}
.wrapbox .commt_box{margin-top: 80px;}
.wrapbox .commt_box textarea{width: 870px; height: 86px; padding: 14px; resize:none; outline: none; color: #333; font-size: 14px; line-height: 22px; border: solid 1px #DCDEE3; background-color: #F5F5F7; border-radius:3px; box-sizing: border-box;}
.wrapbox .commt_box textarea::placeholder{color: #A1A1A1;}
.wrapbox .commt_box  .cbtn_box{margin-top: 6px;}
.wrapbox .commt_box .commt_btn,.wrapbox .commt_box .login_btn{float: right; width: 116px; line-height: 42px; text-align: center; color: #fff; font-size: 16px; background-color: #3B6FFF ; border-radius: 3px;}
.wrapbox .commt_box .commt_btn{background-color: rgb(221,221,221);}
.wrapbox .commt_box .commt_btn.onbtn{background-color: #3B6FFF ;}
.loginUser{float: left; margin-top: 6px;}
.loginUser .h_img{width: 30px; height: 30px; float: left;}
.loginUser .h_img img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.loginUser .nickname{float: left; margin-left: 14px; max-width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #333; font-size: 14px; line-height: 30px;}
.loginUser .unlogin{color: #999; font-size: 14px; float: left; line-height: 30px; margin-left: 6px;}
.onbtn:hover::after{content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-color: #000; opacity: .15;}
.onbtn{position: relative; overflow: hidden;}
/* 最新评论 */
.wrapbox .commtlist_box{margin-top: 70px;}
.wrapbox .commtlist_box h4{margin-bottom: 8px;}

.commt_li{padding: 40px 0; border-top: solid 1px #eee;}
.commt_li .left_img{width:50px; height: 50px; border-radius: 50%; background-color: #f5f5f5; float: left;}
.commt_li .left_img img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.commt_li .right_txt{ margin-left: 68px;}
.commt_li .c_nick{ float: left; color: #333; font-size: 14px; font-weight: bold;}
.commt_li .btns_box{overflow: hidden;}
.commt_li .btn_group{float: right;}
.commt_li .btn_group a{display: inline-block; color: #999; font-size: 14px; margin-left: 22px; }
.commt_li .btn_group a i{display: inline-block; width: 20px; height: 20px; background: no-repeat center; background-size: cover; vertical-align: middle; margin-right: 4px;}
.commt_li .btn_group a em{vertical-align: middle; line-height: 20px;}
.commt_li .btn_group a.reply_btn i{background-image: url(../images/msg.png);}
.commt_li .btn_group a.zan_btn i{background-image: url(../images/zan2.png); margin-bottom: 2px;}
.commt_li .btn_group a.zan_btn.zaned i{background-image: url(../images/zan1.png);}
.commt_li .commt_con{margin-top: 16px; font-size: 14px; color: #666; }
.commt_li .commt_con em{color: #333; font-weight: bold;}
.commt_li .commt_con img{width: 20px; height: 20px; vertical-align: middle; margin: 0 2px;}
.commt_li .pubdate{color: #999; font-size: 14px; margin-top: 16px; position: relative; z-index: 3;}
.commt_li .reply_list{ background-color: #F5F5F5; margin-top: 18px; position: relative;}
.commt_li .reply_list .reply_ul{border-radius: 3px;}
.commt_li .reply_list .reply_ul .reply_li{padding: 25px 0; margin: 0 20px; border-bottom: solid 1px #E5E5EE; }
.commt_li .reply_list .reply_ul .reply_li:last-child{border: none;}
.commt_li .reply_list .arr{width: 0; height: 0; border: solid 12px transparent; border-bottom: solid 12px #F5F5F5; position: absolute; left: 25px; top: -24px;}
.commt_li .reply_box{margin-top: 18px; overflow: hidden; display: none;}
.commt_li .reply_box input{width: 100%; border: solid 1px #DCDEE3; height: 46px; box-sizing: border-box; font-size: 14px; border-radius: 3px; padding: 0 20px; outline: none;}
.commt_li .reply_box input::placeholder{color: #ccc;}
.commt_li .reply_box button.re_btn{width: 100px; height: 38px; border-radius: 3px; border: #ccc; pointer-events: none; color: #fff; border: none; float: right; margin-top: 10px; font-size: 16px;}
.commt_li .reply_box button.re_btn.onbtn{background: #3B6FFF; pointer-events: all;}

.wrapbox .commtlist_box .more{text-align: center; font-size: 14px; color: #333; padding-top: 20px; border-top: solid 1px #eee;}
.wrapbox .commtlist_box .more i{display: inline-block; width: 16px; height: 16px; background:url(../images/d_arr.png) no-repeat center ; background-size: cover; margin-left: 6px;}
.wrapbox .commtlist_box .more span,.wrapbox .commtlist_box .more i{vertical-align: middle;}


.wrapbox .hd_box {margin-top: 80px;}
.list li{padding: 15px; background-color: #f7f8fa; margin-bottom: 24px; position: relative; border: solid 1px #fff;}
.list li:hover{/* box-shadow:0px 5px 23px 0px rgba(0,2,31,0.13); */ border: solid 1px #e8e8e8;}
.list li:hover .btn_baoming{display: block;}
.btn_baoming{width: 120px; height: 40px; line-height: 40px; border-radius: 20px; display: none; background:rgba(0,193,146,1); box-shadow:0px 3px 17px 0px rgba(0,193,146,0.23); font-size: 14px; color: #fff !important; text-align: center; position: absolute; right: 24px; top: 78px;-webkit-animation: bottomFadeIn .3s ease-out; -moz-animation: bottomFadeIn .3s ease-out; animation: bottomFadeIn .3s ease-out;}
.hdimg{float: left; width: 290px; height: 170px; float: left; background-color: #f5f5f5;}
.hdimg img{width: 100%; height: 100%; object-fit: cover;}
.list li h1{color: #333; font-size: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.list li h1:hover{color: #00b084;}
.list li .rinfo{margin-left: 308px;}
.list li .rinfo .hd_detail{ color: #ABABAB; font-size: 14px; margin-top: 10px;}
.list li .rinfo .hd_detail i{display: inline-block; background: no-repeat center; background-size: cover; width: 20px; height: 20px; vertical-align: middle;}
.list li .rinfo .hd_detail em{vertical-align: middle;}
.list li .rinfo .hd_detail em.fenge{margin: 0 10px;}
.list li .rinfo .hd_detail .bm_num i{background-image: url(../images/user.png);}
.list li .rinfo .hd_detail .hd_time i{background-image: url(../images/time.png);}
.list li .rinfo .hd_detail .hd_addr i{background-image: url(../images/posi1.png);}
.list li .rinfo .hd_detail .r_num i{background-image: url(../images/eye.png); background-size: 16px; margin-right: 4px;}
.list li .rinfo .hd_detail p{margin-bottom: 6px;}
.list li .rinfo .user_info{padding-top: 16px;}
.list li .rinfo .u_head{width: 26px; height: 26px; border-radius: 50%; float: left; background-color: #f5f5f5;}
.list li .rinfo .u_head img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.list li .rinfo .u_nick{color: #787878; float: left; margin-left: 9px; line-height: 26px; font-size: 14px;}

.price_box{position: absolute; right: 30px; bottom: 20px; text-align: right;}
.price_box .price_show{color: #FF861C; font-size: 12px; vertical-align: middle;}
.price_box .price_show em{font-size: 16px;}
.price_box .price_show.free{font-size: 16px;}
.price_box .code_btn{display: inline-block; width: 20px;height: 20px; background: url(../images/code.png) no-repeat center; background-size: cover; vertical-align: middle; margin-left: 4px; cursor: pointer;}

.code_box{width: 140px; height: 140px; background: rgba(0,0,0,0.5);filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#7f0000000", endColorstr="#7f0000000", gradientType="1"); position: absolute; top: 0; right: 0; box-sizing: border-box; padding: 17px; display: none;}
.code_box .code_img{width: 106px; height: 106px; background-color: #fff; border-radius: 6px; box-sizing: border-box; padding: 5px;}
.code_box .code_img img{width: 100%; height: 100%; object-fit: cover; -webkit-animation: bottomFadeIn .3s ease-out; -moz-animation: bottomFadeIn .3s ease-out; animation: bottomFadeIn .3s ease-out;}
.code_box  i{display: block; width: 0; height: 0; border: solid 8px #fff; border-top: solid 8px #000; opacity: .5; position: absolute; bottom: -16px; right: 32px;}


.map_show{width: 285px; height: 300px; margin-top: 20px;background-color: #f5f5f5;}

.organzer_box{margin-top: 30px;  }
.organzer{border: solid 1px #E8E8E8;  background-color: #f7f8fa; }
.or_info{padding: 30px 0;margin: 0 15px; border-bottom: solid 1px #E8E8E8;}
.or_info .head_img{width: 60px; height: 60px; border-radius: 50%; margin: auto;}
.or_info .head_img img{width: 100%; height: 100%; object-fit: cover;  border-radius: 50%;}
.or_info .nickname{font-size: 16px; color: #3B3B3B; text-align: center; margin-top:10px; white-space: nowrap; overflow: hidden; }
.count_data {text-align: center; margin-top: 14px;}
.count_data .left_count{width: 50%; float: left;position: relative;}
.count_data .right_count{width: 50%; float: left;}

.count_data .left_count>i{display: block; width: 1px; height: 30px; position: absolute; right: 0; background-color: #E8E8E8; bottom: 6px;}
.count_data>div h5{color: #4F4F4F; font-size: 14px;}
.count_data>div p{color: #ABABAB; font-size: 12px;}
.right_con .organzer_box .care_btn{width:150px;height:32px;border:1px solid rgba(0,193,146,1);border-radius:4px; display: block; text-align: center; line-height: 30px; margin: auto; margin-top: 16px; font-size: 14px; color: #00C192; box-sizing: border-box;}
.right_con .organzer_box .care_btn.cared,.right_con .organzer_box .care_btn.cared:hover{background-color: #C4C4C4; color: #fff; border: none;}
.right_con .organzer_box .care_btn i{display: inline-block; width: 20px; height: 20px; background:url(../images/add1.png) no-repeat center; background-size: cover; vertical-align: middle;}
.right_con .organzer_box .care_btn.cared:hover i{display: none;}
.right_con .organzer_box .care_btn.cared i{display: none;}
.right_con .organzer_box .care_btn:hover{background-color: #00C192; color: #fff;}
.right_con .organzer_box .care_btn:hover i{background-image: url(../images/add2.png);}
.right_con .organzer_box .care_btn em{vertical-align: middle;}
.organzer_box .hd_list{margin: 0 16px; padding-top: 30px;}
.organzer_box .hd_list p{color: #ABABAB; margin-bottom: 8px;}
.organzer_box .hd_list h3{color: #3B3B3B; font-size: 14px; line-height: 22px;}
.organzer_box .hd_list li{margin-bottom: 30px;}
.organzer_box .hd_list li:hover p,.organzer_box .hd_list li:hover h3{color: #00b084;}


.mask_pop,.mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #000; opacity: .3; z-index: 1003; display: none;}
.pop_box{width: 550px; min-height: 470px; position: fixed; top: 20%; z-index: 1004; background-color: #fff; margin: auto; left: 0; right: 0;border-radius: 8px ; border:1px solid #EBEBED; box-shadow:0px 3px 37px 0px rgba(0, 0, 0, 0.23); overflow: hidden; display: none; animation: popup .2s ease-in;}
.pop_box h1{color: #333; font-size: 20px; line-height: 70px; text-align: center; font-weight: bold; background-color: #F5F6FA; position: relative;}
.pop_box h1 i{display: block; position: absolute; right: 12px; top: 20px; width: 30px; height: 30px; background: url(../images/close.png) no-repeat center; background-size: cover; cursor: pointer;}

.form_box{}
#form{padding-bottom: 88px; }
.form_box .box_in{height: 400px; overflow: auto;}
.form_box dl{margin: 0 45px; margin-top: 18px;}
.form_box dt{font-size: 14px; color: #333; font-weight: bold; margin-bottom: 4px;}
.form_box dd input{border: none; background: none;height: 40px; border: solid 1px #EFEEF1; width: 100%; padding: 0 12px; font-size: 14px; color: #333; box-sizing: border-box; outline: none;}
.form_box dd input:focus{ border: solid 1px #BBBCC4; }
.form_box dd input::placeholder{color: #C4C4C4;}

.single_chose {margin-right: 40px;}
.single_chose i,.multi_chose i{display: inline-block; width:20px; height: 20px; background: no-repeat center; background-size: 20px; vertical-align: middle; margin-right: 4px;}
.single_chose em,.multi_chose em{vertical-align: middle; font-size: 14px; color: #333;}
.single_chose i{background-image: url(../images/single1.png);}
.single_chose.chosed i{background-image: url(../images/single2.png);}
.multi_chose i{background-image: url(../images/multi1.png);}
.multi_chose.chosed i{background-image: url(../images/multi2.png);}
.multi_chose{margin-right: 40px;}
.sure_btn{width: 140px; height: 48px; border-radius: 24px; color: #fff; background-color: #00C192; display: block; text-align: center; font-size: 16px; line-height: 48px; position: absolute; left: 0; right: 0; bottom: 26px; margin: auto;}
.form_box .phone_dl dd input{padding-left: 60px;}
.form_box .phone_dl span.areacode{font-size: 14px; color: #333; width: 60px; height: 40px; position: absolute; left: 0; top: 0; text-align: center; line-height: 40px; display: block; cursor: pointer;}
.arealist{width: 460px; margin: 0 45px; position: absolute; top: 40px; background: #fff; min-height: 200px; animation: topFadeIn .3s ease-in-out;box-shadow:0px 7px 13px 0px rgba(35,38,51,0.23); border-top: solid 2px #141414; display: none;}
.arealist ul{padding-top: 10px; padding-bottom: 7px; }
.arealist li{line-height: 40px; color: #333; margin: 0 10px; border-radius: 6px; padding: 0 10px; cursor: default;}
.arealist li:hover{ background: #F0F0F2;}

.form_box .phone_dl span i{display: inline-block; width: 12px; height: 12px; background: url(../images/arr1.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: 4px;}
.form_box .phone_dl dd{position: relative;}
.form_box textarea{width:100%; height: 110px; resize: none; overflow: auto; color: #333; font-size: 14px; padding: 15px 12px; box-sizing: border-box; outline: none; border:solid 1px  #EBEBED;}
.form_box textarea::placeholder{color: #C4C4C4;}

.fixedpane.fixed{top: 60px;}

.top_nav{width: 100%;box-shadow:0px 3px 11px 0px rgba(0, 0, 0, 0.07); background-color: #fff; position: fixed; top: 0; left: 0; right: 0; z-index: 1001; display: none; }
.top_nav ul{width: 1200px; margin: auto;}
.top_nav ul li{display: inline-block; line-height: 60px; color: #37373B; font-size: 16px ; margin:0 40px; padding: 0 8px; cursor: pointer;}
.top_nav ul li.on{border-bottom: solid 4px #00C192; }

/* 禁止滚动 */
html.noscroll,html.noscroll body {overflow: hidden;}
html.noscroll body {position: relative;}
.box_in::-webkit-scrollbar{
	width: 8px;
	border-radius: 4px;
	background: none;
}
.appMapImg{width: 100%;}

 /*地图弹窗*/
 .map-popup{width:720px;padding:25px;background: #fff;border-top: 2px solid #f34e1c;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;position: fixed;z-index: 34;top:100px;left:50%;margin-left:-385px; z-index: 1004; }
.map-popup .close{position: relative;}
.map-popup .close img{position: absolute;top:-11px;right:-14px;z-index: 22;cursor: pointer;}
.map-popup .name{font-size: 28px;font-weight: bold;}
.map-popup .location{font-size: 16px;line-height: 32px;}

#allmap {width: 710px;height:500px;overflow: hidden;margin:0;}
