/*头部轮播*/
.banner_wrap {/* padding-bottom:22px;   */margin: 0 auto;}

.slider {width:100%;min-width:1200px;height:390px;position:relative;overflow:hidden;background:#fff;text-align:center;}
.slider .bd {width:1200px;position:absolute;left:50%;margin-left:-600px}
.slider .bd li {width:1200px;overflow:hidden;}
.slider .bd li img {display:block;width:1200px;height:390px;}
.slider .tempWrap {overflow:visible !important}
.slider .tempWrap ul {margin-left:-1200px !important;}
.slider .hd {position:absolute;width:100%;left:0;z-index:1;height:8px;bottom:20px;text-align:center;}
.slider .hd li {display:inline-block;*display:inline;zoom:1;width:8px;height:8px;border-radius:50%;overflow:none;display:inline-block;background:#fff;cursor:pointer;margin-right:10px;}
.slider .hd li.on {background:#00C192;width:16px;border-radius:4px;}

.slider .pnBtn {position:absolute;z-index:1;top:0;width:100%;height:390px;cursor:pointer;}
.slider .prev {left:-50%;margin-left:-600px;}
.slider .next {left:50%;margin-left:600px;}
.slider .pnBtn .blackBg {display:block;position:absolute;left:0;top:0;width:100%;height:390px;background:#fff;filter:alpha(opacity=50);opacity:0.5;}
.slider .pnBtn .arrow {display:none;position:absolute;top:0;z-index:1;width:60px;height:390px;}
.slider .pnBtn .arrow:hover {filter:alpha(opacity=60);opacity:0.6;}
.slider .prev .arrow {right:0;background:url(../images/slider-arrow.png) -120px 0 no-repeat;top: 30px}
.slider .next .arrow {left:0;background:url(../images/slider-arrow.png) 0 0 no-repeat;top: 30px}

/*公共标题*/
.item_title{padding-bottom: 6px;}
.item_title .h1_title{font-size: 26px;color: #3B3B3B;font-weight: bold;float: left;margin-left: 6px;}
.item_title .fabu{float: left;padding: 0 22px;height: 32px;line-height: 30px;background-image: -moz-linear-gradient( 0deg, rgb(255,142,89) 1%, rgb(255,108,79) 100%);background-image: -webkit-linear-gradient( 0deg, rgb(255,142,89) 1%, rgb(255,108,79) 100%);background-image: -ms-linear-gradient( 0deg, rgb(255,142,89) 1%, rgb(255,108,79) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF8E59", endColorstr="#FF6C4F", gradientType="1");border-radius: 16px;font-size: 14px;color: #fff;vertical-align: middle;margin-top: 6px;margin-left: 20px;position: relative;z-index: 2}
.item_title .fabu:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10); -moz-opacity:0.1;-khtml-opacity: 0.1;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=10);border-radius: 16px;}
.item_title .fabu.spe_fabu{background: none;border: 1px solid #3377FF;color: #3377FF;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.item_title .fabu.spe_fabu:hover{background:#3377FF;color: #fff }
.item_title .fabu.spe_fabu:hover:after{content: '';background: none}
.left_con .item_title .fabu{background: none}
.right_con .item_title {margin-top: 20px;}

/* .org_recom .item_title{padding-bottom: 16px;}
.rec_hd .item_title{padding-bottom: 8px;} */

/*公共二维码*/

.lang_con .code_bg,.mainBox .slideBox .bd .code_bg{ display:none;width: 285px;height: 170px;position: absolute;top: 0;left: 0;background: rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);border-radius:4px 4px 0px 0px;}
.lang_con .code_bg .code,.mainBox .slideBox .bd .code_bg .code{width: 110px;height: 110px;background: #fff;position: absolute;top: 50%;left: 50%;margin: -55px -55px;-moz-box-sizing: border-box;  -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; padding: 7px; border-radius: 6px;}
.lang_con .code_bg img,.mainBox .slideBox .bd .code_bg img{-webkit-animation: bottomFadeIn .3s ease-out; -moz-animation: bottomFadeIn .3s ease-out; animation: bottomFadeIn .3s ease-out;width: 96px;height: 96px;}
.lang_con .code_bg i,.mainBox .slideBox .bd .code_bg i{  display: inline-block;width: 12px; height: 6px; position: absolute;right: 14px;bottom: -6px;background: url(../images/sort-d.png) no-repeat;background-size: 12px 6px;}

/*公共轮播*/
.mainBox_wrap{margin:0 auto;}
.wrap2 .slideBox{ width: 1240px;margin-left: -18px;}
.wrap2 .slideBox .tempWrap{width: 1240px!important;}
.wrap2 .slideBox .bd{height: 400px!important; overflow-y:hidden;}
.wrap2 .slideBox .bd ul {padding-left: 20px!important;padding-top: 20px!important;}
.wrap2 .slideBox .bd ul li{float: left;}
.mainBox .slideBox .bd ul li a{display: block;float: left;width: 285px;height: 360px;border-radius: 4px;transition: all .3s;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;margin-right: 20px;position: relative;background: #fff;margin-bottom: 50px;}
.mainBox .slideBox .bd ul li a:hover{box-shadow: 0px 5px 20px 0px rgba(0, 2, 31, 0.1);
-moz-box-shadow: 0px 5px 20px 0px rgba(0, 2, 31, 0.1);
-webkit-box-shadow: 0px 5px 20px 0px rgba(0, 2, 31, 0.1);
-ms-box-shadow: 0px 5px 20px 0px rgba(0, 2, 31, 0.1);
-o-box-shadow: 0px 5px 20px 0px rgba(0, 2, 31, 0.1);
transform: translate3d(0,-8px,0);-o-transform: translate3d(0,-8px,0);-webkit-transform: translate3d(0,-8px,0);transform: -moz-translate3d(0,-8px,0);}
/*.mainBox .slideBox .bd ul li:nth-child(4n){margin-right: 30px;}*/
.mainBox .slideBox .bd .t_bg:hover{background: url(../images/code2.png) no-repeat; background-size: 20px;}
.mainBox .slideBox .bd .top_img{position: relative;width:285px;height: 170px;overflow: hidden;border-radius:4px 4px 0px 0px;}
.mainBox .slideBox .bd .top_img img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block; height: 100%; object-fit: cover;}

	/*小点点*/
.mainBox .slideBox .hd{ overflow:hidden; position:absolute;left:0; right:0; top:-46px; z-index:1;}
.mainBox .slideBox .hd ul{ overflow:hidden; text-align: right;  height: 29px;line-height: 29px;}
.mainBox .slideBox .hd ul li{cursor:pointer;display:inline-block;overflow:hidden;width:8px;height: 8px;background:#c4c4c4;margin:0 5px;border-radius: 100%;text-align: center;transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out; }
.mainBox .slideBox .hd ul li.on{ width:16px;background: #33D1BF; -moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius: 4px;}


/*活动*/
.rec_hd,.free_hd{padding-top: 68px}
.itemList{position: relative;}


/*.mainBox .classList .slideBox{height: 380px!important; overflow: hidden;}*/
.itemList .bd a .top_i{position: absolute;top:-6px;width: 42px;height: 29px;/* background: url(../images/top_tag.png) no-repeat;background-size: 42px; */z-index: 2}

.itemList .bd .hd_info{padding:13px 10px 10px 8px; border-bottom:solid 1px #EFF0F1 ;}

.itemList .bd .start_time span{color: #ABABAB;display: inline-block;font-size: 12px; line-height: 20px; padding-left: 4px;}
.itemList .bd .hd_tit{padding-left: 4px; font-size: 16px; margin-top: 10px;  display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; height: 48px;}
.itemList .bd li:hover .hd_tit{color: #00b084;}
.itemList .bd .hd_posi{color: #ABABAB;  font-size: 12px; line-height: 20px; margin-top: 12px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.itemList .bd .hd_posi i{display: inline-block; width: 20px; height: 20px; background: url(../images/posi.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: 4px;}
/* .itemList .bd  .hd_sponor{padding: 14px 12px;} */
.itemList .bd  .hd_sponor .userinfo{float: left; overflow: hidden; padding: 14px 12px;}
.itemList .bd  .hd_sponor .userinfo>p{color: #424242; font-size: 14px; float: left; line-height: 24px; margin-left: 6px; max-width: 122px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.itemList .bd  .hd_sponor .left_head{width: 26px; height: 26px; float: left;}
.itemList .bd  .hd_sponor .left_head img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.itemList .bd  .hd_sponor .reg_num{float: right; color: #ABABAB;font-size: 12px; line-height: 26px; padding: 14px 0; padding-right: 12px;}
.itemList .bd  .hd_sponor .reg_num em{color: #00b084;}
.itemList .bd .sponor_info{width: 200px; height: 256px; background: #fff ; box-shadow:0px 3px 23px 0px rgba(0, 0, 0, 0.13); position: absolute; bottom: 52px; left: 0; border-radius: 6px; box-sizing: border-box; padding: 20px; display: none; animation: bottomFadeIn .3s ease-in-out;}
.itemList .bd .sponor_info .head_img{width: 70px; height: 70px; margin: auto;}
.itemList .bd .sponor_info .head_img img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.itemList .bd .sponor_info>p{font-size: 16px; color: #4F4F4F; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: center; margin-top: 10px;}
.itemList .bd .sponor_info .hd_num {margin-top: 18px;}
.itemList .bd .sponor_info .hd_num .left_count,.itemList .bd .sponor_info .hd_num .right_count{float: left; width: 50%; text-align: center; position: relative;}
.itemList .bd .sponor_info .hd_num h5{color: #4F4F4F; font-size: 16px ;}
.itemList .bd .sponor_info .hd_num p{color: #ABABAB; font-size: 12px;}
.itemList .bd .sponor_info .hd_num .left_count>i{display: block; width: 1px; height: 30px; position: absolute; right: 0; background-color: #E8E8E8; bottom: 6px;}
.itemList .bd .sponor_info s.arr{display: block; width: 0; height: 0; border: solid 6px rgba(255,255,255,0); border-top: solid 6px #fff; bottom: -12px; position: absolute;}
.itemList .bd li{position: relative;}
.itemList .bd .btn_group{margin-top: 18px; }
.itemList .bd .btn_group span{display: inline-block; width: 76px; height: 30px; border-radius: 4px; box-sizing: border-box; line-height: 30px; text-align: center; font-size: 14px; }
.itemList .bd .btn_group span.home_btn{color: #00BA8C; border: solid 1px #00C192; line-height: 28px; margin-right: 2px;}
.itemList .bd .btn_group span.care_btn{color: #fff; background-color: #00C192; margin-left: 2px;}
.itemList .bd .btn_group span.care_btn i{display: inline-block; width: 12px; height: 12px; background: url(../images/add.png) no-repeat center; background-size: cover; vertical-align: middle; margin-right: 2px;}
.itemList .bd .btn_group span.care_btn.cared i{display: none;}
.itemList .bd .btn_group span.care_btn.cared{background-color: #C4C4C4;}
.itemList .bd .btn_group span.care_btn em{vertical-align: middle;}
.itemList .bd .start_time .t_bg{float: right;width: 20px;height: 20px;background: url(../images/code1.png) no-repeat center;background-size: 16px;vertical-align: middle; }
.hd_sponor .userinfo:hover .sponor_info{display: block;}

.adv1{width:1200px; margin: auto; margin-top: 35px;}
.adv1 img{width: 100%;}

/* 分栏 */
.wrapBox{ width: 1200px; margin: auto; margin-top:70px ;}
.wrapBox .left_con{float: left; width: 896px;}
.wrapBox .item_title a.more_list,.item_title a.more_list{float: right; color: #3B3B3B; font-size: 16px; line-height: 44px;}
.wrapBox .left_con .item_title{margin-top: 20px;}

.right_con {float: right; width: 285px;position: relative; z-index: 10;}
.right_con .tab_ul{border-radius: 4px; box-sizing: border-box; border: solid 1px #00C192; overflow: hidden;}
.right_con .tab_box{margin-top: 26px; padding: 15px; background: #fff; height: 828px; box-sizing: border-box; }
.right_con .tab_ul li{float: left; width: 50%; line-height: 36px; text-align: center; font-size: 15px; background-color: #fff; color: #00b084; cursor: pointer; }
.right_con .tab_ul li.on_tab{color: #fff; background-color: #00C192;}

.right_con .tab_con{display: none; animation: rightFadeIn .3s ease-in-out;file:///D:/wwwroot/huoniaomenhu/templates/huodong/skin2/css/huodong.css}
.right_con .tab_con.show{display: block;}
.right_con .tab_con .hd_img{width: 100%; height: 160px; background-color: #f5f5f5;}
.right_con .tab_div{margin-top: 10px;}
.right_con .tab_div dd.con_li{position: relative; border-top: solid 1px #E8E8E8;}
.right_con .tab_div .con_li.first_li{padding-bottom: 30px;}
.right_con .px_num{padding-right: 10px; padding-left: 6px; height: 24px; border-radius: 0 0 8px 0; background-color: #EDEFF2; color: #6A7999; font-size: 14px; font-style: italic; line-height: 24px; text-align: center; display: block; position: absolute; font-weight: bold; z-index: 10;}
.right_con .tab_div .con_li.first_li i.px_num{color: #fff; background-color: #FF5454;}
.right_con .tab_div .con_li.second_li i.px_num{color: #fff; background-color: #FFA154;}
.right_con .tab_div .con_li.third_li i.px_num{color: #fff; background-color: #59D398;}
.right_con .tab_div .con_li.first_li .head_img{width: 60px; height: 60px; border-radius: 50%; background-color: #f1f1f1; margin: auto; margin-top: -30px;float: none; display: block;}
.right_con .tab_div .con_li.first_li .nickname{margin: 14px; color: #333; font-size: 16px; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.count_data{width: 200px; margin: auto;}
.count_data>div{width: 100px; float: left; text-align: center;}
.count_data .left_count{position: relative;}
.count_data .left_count>i{display: block; width: 1px; height: 30px; position: absolute; right: 0; background-color: #E8E8E8; bottom: 6px;}
.count_data>div h5{color: #4F4F4F; font-size: 14px;}
.count_data>div p{color: #ABABAB; font-size: 12px;}
.right_con .tab_div .con_li .care_btn{width:150px;height:32px;background:rgba(255,255,255,1);border:1px solid rgba(0,193,146,1);border-radius:4px; display: block; text-align: center; line-height: 30px; margin: auto; margin-top: 30px; font-size: 14px; color: #00b084; box-sizing: border-box;}
.right_con .tab_div .con_li .care_btn:hover{background-color: #00C192; color: #fff;}
.right_con .tab_div .con_li .care_btn:hover i{background-image: url(../images/add2.png);} 
.right_con .tab_div .con_li .care_btn.cared,.right_con .tab_div .con_li .care_btn.cared:hover{background-color: #C4C4C4; color: #fff; border: none;}
.right_con .tab_div .con_li .care_btn i {display: inline-block; width: 20px; height: 20px; background: url(../images/add1.png) no-repeat center; background-size: cover; vertical-align: middle;}
.right_con .tab_div .con_li .care_btn em{vertical-align: middle;}
.right_con .tab_div .con_li .care_btn.cared i,.right_con .tab_div .con_li .care_btn.cared:hover i{display: none;}
.right_con .tab_div dd.con_li .con_div{padding: 22px 0 ; display: block;}
.right_con .tab_div dd.con_li .head_img{float: left; width: 50px; height: 50px; border-radius: 50%; background-color: #f1f1f1;}
.right_con .tab_div .con_li .head_img img{width: 100%; object-fit: cover; height: 100%; border-radius: 50%;}
.right_con .tab_div dd.con_li .user_info{ margin-left: 60px;}
.right_con .tab_div dd.con_li .nickname{color: #333; font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.right_con .tab_div dd.con_li .user_info p{color: #ABABAB; font-size: 12px; margin-top: 6px;}
.right_con .tab_div dd.con_li .user_info p span{margin-right: 16px;}
.right_con .tab_div dd.con_li .user_info p span em{color: #00b084;}

.around_hd{margin-top: 70px;}
.like_hd{margin-top: 90px;}
.itemList{position: relative;}
.btn_box a{width: 40px; height: 40px; display: block; position: absolute; background-size: 38px; top: 170px;}
.btn_box .prev{ background: url(../images/prev1.png) no-repeat center; left: -70px;}
.btn_box .prev:hover{background-image: url(../images/prev2.png);}
.btn_box .next:hover{background-image: url(../images/next2.png);}
.btn_box .next{ background: url(../images/next1.png) no-repeat center;  right: -70px;}


.right_con .tab_con .hd_img{position: relative; display: block;}
.right_con .tab_con .hd_img img{width: 100%; height: 100%; object-fit: cover;}
.right_con .tab_con .hd_info{height: 70px; background-color:rgba(0,0,0,.6); position: absolute; left: 0; right: 0; bottom: 0; box-sizing: border-box; padding: 10px;}
.right_con .tab_con .con_li.first_li .head_img{z-index: 9; position: relative;}
.right_con .tab_con .hd_info h2{font-size: 14px; color: #fff; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.right_con .tab_con .hd_info p{color: #c4c4c4; margin-top: 10px;}
.right_con .tab_con .hd_info p em{color: #fff;}