.fixedpane{border-bottom: solid 4px #00C192;}
.wrap{width: 1200px;}
body{background-color: #F2F2F4;}
/*面包屑*/
.crumbs{height: 50px;line-height: 50px;}
.crumbs .cont span{float: left;}
.crumbs .cont a {float: left;color:#999;}
.crumbs .cont a:hover{color:#3377FF;}
.crumbs .cont{float: left;font-size: 14px;color:#999;}
.crumbs .cont span {float: left;margin-right: 10px;margin-left: 10px;}

/* 过滤器 */
.filter_box{width: 1200px; margin: auto; background-color: #fff; border:1px solid rgba(237,237,237,1); border-bottom: none;}
.filter_box dl{background-color: rgba(240,242,245,.5);  border-bottom: solid 1px #F2F2F2; box-sizing: border-box;}
.filter_box dt{float: left; width: 102px; line-height: 56px;  font-size: 14px; color: #333; text-align: center;}
.filter_box dd{width: 1098px; background-color: #fff; float: left; position: relative;}
.filter_box li{float: left; line-height: 56px; color: #787878; font-size: 14px;  padding:0 20px; }
.filter_box li.on_chose a,.filter_box li:hover a{color: #00b084;}
.filter_box dd::after{content: '' ; display: block; width: 100%; height: 1px; background-color: #f2f2f2; position: absolute; top: 57px; left: 0; right: 0;}
.wrap_con{margin-top: 30px;}
.wrap_con .left_con{float: left; width: 895px;}
.wrap_con .right_con{float: right;}
.sort{margin-bottom: 20px;}
.sort li{float: left; margin-right: 50px;}
.sort li a{padding: 14px 0; color: #37373B; font-size: 16px; font-weight: bold; display: block;}
.sort li.on_chose a{color: #00BA8C; border-bottom: solid 4px #00BA8C;}

.list li{padding: 15px; background-color: #fff; margin-bottom: 24px; position: relative; border: solid 1px #fff; }
.list li:hover{box-shadow:0px 5px 23px 0px rgba(0,2,31,0.13); border: solid 1px #e8e8e8; }
.hdimg{float: left; width: 290px; height: 170px; float: left; background-color: #f5f5f5;}
.hdimg img{width: 100%; height: 100%; object-fit: cover;}
.list li h1{color: #333; font-size: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: bold;}
.list li h1:hover{color: #00b084;}
.list li:hover .btn_baoming{display: block;}
.list li .rinfo{margin-left: 308px;}
.list li .rinfo .hd_detail{ color: #ABABAB; font-size: 14px; margin-top: 10px;}
.list li .rinfo .hd_detail i{display: inline-block; background: no-repeat center; background-size: cover; width: 20px; height: 20px; vertical-align: middle;}
.list li .rinfo .hd_detail em{vertical-align: middle;}
.list li .rinfo .hd_detail em.fenge{margin: 0 10px; color: #eee;}
.list li .rinfo .hd_detail .bm_num i{background-image: url(../images/user.png);}
.list li .rinfo .hd_detail .r_num i{background-image: url(../images/eye.png); background-size: 16px; margin-right: 4px;}
.list li .rinfo .hd_detail .hd_time i{background-image: url(../images/time.png);}
.list li .rinfo .hd_detail .hd_addr i{background-image: url(../images/posi1.png);}
.list li .rinfo .hd_detail p{margin-bottom: 6px;}
.list li .rinfo .user_info{padding-top: 16px;}
.list li .rinfo .u_head{width: 26px; height: 26px; border-radius: 50%; float: left; background-color: #f5f5f5; position: relative;}
.list li .rinfo .u_head img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.list li .rinfo .u_head i.vip{width:16px;height: 16px;display: inline-block;background: url(../images/vip.png) no-repeat center center;position: absolute;bottom: 0;right: -6px;background-size: 24px 24px;}

.list li .rinfo .u_nick{color: #787878; float: left; margin-left: 9px; line-height: 26px; font-size: 14px;}
.btn_baoming{width: 120px; height: 40px; line-height: 40px; border-radius: 20px; display: none; background:rgba(0,193,146,1); box-shadow:0px 3px 17px 0px rgba(0,193,146,0.23); font-size: 14px; color: #fff !important; text-align: center; position: absolute; right: 24px; top: 78px;-webkit-animation: bottomFadeIn .3s ease-out; -moz-animation: bottomFadeIn .3s ease-out; animation: bottomFadeIn .3s ease-out;}
.price_box{position: absolute; right: 30px; bottom: 20px; text-align: right;}
.price_box .price_show{color: #FF861C; font-size: 14px; vertical-align: middle;}
.price_box .price_show em{font-size: 24px; font-weight: bold;}
.price_box .price_show.free{font-size: 16px;}
.price_box .code_btn{display: inline-block; width: 20px;height: 20px; background: url(../images/code.png) no-repeat center; background-size: cover; vertical-align: middle; margin-left: 4px; cursor: pointer;}

.code_box{width: 140px; height: 140px; background: rgba(0,0,0,0.5);filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#7f0000000", endColorstr="#7f0000000", gradientType="1"); position: absolute; top: 0; right: 0; box-sizing: border-box; padding: 17px; display: none;}
.code_box .code_img{width: 106px; height: 106px; background-color: #fff; border-radius: 6px; box-sizing: border-box; padding: 5px;}
.code_box .code_img img{width: 100%; height: 100%; object-fit: cover; -webkit-animation: bottomFadeIn .3s ease-out; -moz-animation: bottomFadeIn .3s ease-out; animation: bottomFadeIn .3s ease-out;}
.code_box  i{display: block; width: 0; height: 0; border: solid 8px #fff; border-top: solid 8px #000; opacity: .5; position: absolute; bottom: -16px; right: 32px;}
.pagination li{display: inline-block;color: #797A82; font-size: 14px; margin: 0 15px; line-height: 28px;}
.pagination{text-align: center;}
.page_info{display: none;}
.pagination li.page_disabled{display: none;}
.pagination li.page_current{color: #00C192;}
.pagination li:last-child,.pagination li:first-child{width: 66px; text-align: center; background-color: #fff; border:1px solid rgba(232,232,232,1);}
.pagination li:last-child:hover a,.pagination li:first-child:hover a{ color: #fff;}
.pagination li:last-child:hover,.pagination li:first-child:hover {background-color:#00C192 ;}
.right_con{padding-top:76px;}
.right_con .hot_box,.right_con .hot_organizer{background-color: #fff; box-sizing: border-box;  width: 285px;}
.right_con .hot_box h3,.right_con .hot_organizer h3{font-size: 16px; color: #37373B; font-weight: bold; line-height: 52px; border-bottom: solid 1px #E8E8E8; padding-left: 15px;}
.right_con .hot_box ul{padding: 16px 15px;}
.right_con .hot_box li a{color: #3B3B3B; font-size: 14px; line-height: 22px;}
.right_con .hot_box li{margin-bottom: 26px;}
.right_con .hot_box li a:hover,.right_con .hot_box li a:hover em{color: #00b084;}
.right_con .hot_box li a em{ color: #ABABAB; float: left;}
.right_con .hot_box li a p{margin-left: 14px;}

.right_con .hot_organizer{margin-top:24px ;}
.right_con .hot_organizer li{padding:0 15px;}
.right_con .hot_organizer li a{display: block; padding: 20px 0; border-bottom: solid 1px #E8E8E8;}
.right_con .hot_organizer li:hover{background-color: #f5f5f5;}
.right_con .hot_organizer li:last-child a{border: none;}
.right_con .hot_organizer .head_img{width: 50px; height: 50px; float: left;}
.right_con .hot_organizer .head_img img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.right_con .hot_organizer .user_info{margin-left: 60px; margin-right: 20px;}
.right_con .hot_organizer .user_info h5{color: #3B3B3B; font-size: 15px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.right_con .hot_organizer .user_info p{color: #ABABAB; font-size: 12px; margin-top: 4px;}
.right_con .hot_organizer .user_info p em{color: #00b084;}
.right_con .hot_organizer .user_info p span{margin-right: 15px;}


/* 底部 */
.footer-login{background-color: #F8F8FA;}
.footer-login p {line-height: 38px;text-align: center;font-size: 14px;color: #666;}
.footer-login a {color: #666;}
.footer-login a:hover {color: #f60;text-decoration: underline;}
.footer-login .pice-1 {margin:0 14px;color: #ddd;}
.ig-1{
    display: none;
}
.list{
    position: relative;
}
.hd{
    position: absolute;
        top: 334px;
    left: 456px;
}
.hd ul li{
        width: 10px;
    height: 10px;
    line-height: 105px;
    color: #FFFFFF;
    background: #FFFFFF;
    margin-right: 8px;
    border-radius: 50%;
    cursor: pointer;
    float: left;
    overflow: hidden;
    opacity: 0.7;
}
.hd li.on{
    background-color:  #0099e9;
}
.next{
    width: 43px;
    height: 71px;
    background: url(../images/zbf_scrollBtn.png) no-repeat;
    position: absolute;
    top: 156px;
        right: 0;
    background-position: -54px -1px;
    z-index: 99;
}
.prev{
       width: 43px;
    height: 71px;
    background: url(../images/zbf_scrollBtn.png) no-repeat;
    position: absolute;
    top: 156px;
    z-index: 99;
}
.fixed{
        position: fixed;
    top: 0;
	left: 0;
	right: 0;
    z-index: 999999999;
}
.content-left ul li a:hover img{
    opacity: 0.8;
}
.footer-login{
    margin-top: 100px;
    padding-top: 30px;
    border-top: 1px solid #e4e4e4;
}

.footer.gray {margin-top: 0;}
.empty{height: 200px; color: #999; font-size: 14px; line-height: 100px; text-align: center;}