<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
		<title>{#$langData['waimai'][10][0]#}</title>{#* 历史订单 *#}
		<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/index.css?v={#$cfg_staticVersion#}">
		<!-- <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mobileSelect.css?v={#$cfg_staticVersion#}"> -->
		<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
		<script src="{#$templets_skin#}js/vue.min.js?v={#$cfg_staticVersion#}"></script>
		<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
		
		<script>
			var templets_skin = '{#$templets_skin#}';
		</script>
	</head>
	<body>
		<div class="page_box" id="page">
			<div class="top_box">
				<div class="headbox">
					<a href="javascript:;" class="back_btn goBack" onclick="history.go(-1)"></a>
					<div class="htitle">{#$langData['waimai'][10][0]#}</div> {#* 历史订单 *#}
				</div>
				<div class="tab_li">
					<ul v-cloak>
						<li v-for="tab in tabs" style="margin-right: 1.7rem;" v-bind:data-action="tab.action"  v-on:click="curTab = tab.state" v-bind:class="[{on_chose : curTab == tab.state}]">{{tab.cn}}<span class="tb_num"><em>{{tab.num}}</em><i v-if="tab.state==3" @click="typeshow=!typeshow"></i></span></li>
					</ul>
				</div>
				
				<transition name="slide-fade">
					<div class="slide_down" v-show="typeshow">
						<ul>
							<li class="type_chose" @click="typechange" data-ordertype="">{#$langData['waimai'][10][72]#}</li>{#* 全部类型 *#}
							{#if in_array('waimai', $installModuleArr) #}
							<li @click="typechange" data-ordertype="waimai">{#$langData['waimai'][1][262]#}</li>{#* 外卖 *#}
							<li @click="typechange" data-ordertype="paotui">{#$langData['waimai'][2][53]#}</li>{#* 跑腿 *#}
							{#/if#}
							{#if in_array('shop', $installModuleArr)#}
							<li @click="typechange" data-ordertype="shop">{#$langData['waimai'][10][37]#}</li>{#* 商城 *#}
							{#/if#}
						</ul>
					</div>
				</transition>
				
			</div>
			<div class="mask" v-if="typeshow" @click="typeshow=!typeshow"></div>
			
			<div  v-bind:data-state="curTab" v-bind:class="['tabbox','allbox_'+curTab]">
				
				<component v-bind:is="currentTabComponent" ref="databox" class="tab"></component>
				
				<div class="loading" v-if="LOADING"></div>
			</div>
			
			
		
		</div>
		<script src="{#$templets_skin#}js/axios.min.js"></script>
		<script src="{#$templets_skin#}js/history.js?v={#$cfg_staticVersion#}"></script>
	</body>
</html>
