<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
		<title>{#$langData['siteConfig'][17][0]#}</title>
		<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/login.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mobileSelect.css?v={#$cfg_staticVersion#}">
		<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
		<script src="{#$templets_skin#}js/vue.js?v={#$cfg_staticVersion#}"></script>
		<script src="{#$templets_skin#}js/axios.min.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript">
			var geetest = {#$cfg_geetest#};
			var masterDomain = '{#$cfg_basehost#}';
			var ftype = "phone";
		</script>
	</head>
	<body>
		
		<div class="pagebox" id="page">

			<div class="page_login" id="login" v-if="login"  v-cloak>
				
				<div class="aTopbox">
					<button type="button" 
						v-for="tab in tabs" 
						v-bind:class="['tab-button', { active: currentTab === tab.id }]"  
						v-on:click="currentTab = tab.id">{{tab.name}}</button>
				</div>
				<div class="form-container">
					<h3>{#$langData['waimai'][10][101]#}</h3>{#* 立即登录 开始接单 *#}
					<div v-bind:class="['form-box',{show: currentTab ===tabs[0].id}]">
						<input-txt type="text" placeholder="{#$langData['waimai'][10][102]#}" name="username" :value="userinfo.username"></input-txt>{#* 请输入用户名/手机号 *#}
						<input-txt type="password" placeholder="{#$langData['siteConfig'][20][164]#}" name="password"  :value="userinfo.password"></input-txt>{#*请输入密码*#}
						
						<btn-login>{#$langData['siteConfig'][2][0]#}</btn-login>{#* 登录 *#}
					</div>
					<div v-bind:class="['form-box',{show: currentTab ===tabs[1].id}]">
						<input-txt type="text" placeholder="{#$langData['siteConfig'][20][239]#}" name="telphone" v-bind:areacode="areaCode"></input-txt>{#* 请输入手机号 *#}
						<input-txt type="text" placeholder="{#$langData['siteConfig'][20][176]#}" name="captcha" ></input-txt>{#* 请输入验证码 *#}
						<btn-login>{#$langData['siteConfig'][2][0]#}</btn-login>{#* 登录 *#}
					</div>
					
				</div>
				
				
			</div>
			
			<div class="page_register" id="regester" v-if="!login"  v-cloak>
				<div class="rTopbox"><button type="button" id="close_page" @click="login = true"></button></div>
				<div class="reg_box" v-if="!regcheck && !reg_success">
					
					<div class="form-container">
						<h3>{#$langData['waimai'][10][103]#}</h3>{#* 注册成为骑手 *#}
						<div class="form-box show">
							<input-txt type="text" placeholder="{#$langData['siteConfig'][20][268]#}" name="nickname" ></input-txt>{#* 请填写姓名 *#}
							<input-txt type="text" placeholder="{#$langData['waimai'][10][105]#}" name="age" ></input-txt>{#* 请填写年龄 *#}
							<!-- <input-txt type="text" placeholder="{#$langData['waimai'][10][106]#}" name="sex" readonly="true"></input-txt> -->{#* 请选择性别 *#}
							
							<h3>{#$langData['siteConfig'][41][2]#}</h3>{#* 验证手机 *#}
							<input-txt type="text" placeholder="{#$langData['siteConfig'][20][239]#}" name="telphone" v-bind:areacode="areaCode"></input-txt>{#* 请输入手机号 *#}
							<input-txt type="text" placeholder="{#$langData['siteConfig'][20][176]#}" name="captcha" ></input-txt>{#* 请输入验证码 *#}
							<btn-login>{#$langData['siteConfig'][1][0]#}</btn-login>{#* 注册 *#}
						</div>
					</div>
				</div>
				<div class="reg_box" v-if="regcheck">
					<h3>{#$langData['waimai'][10][107]#} </h3>{#*  申请提交成功！<br/>注册信息审核通过后即可接单哦 *#}
					<p>{#$langData['waimai'][10][108]#}</p>{#* 预计1-3个工作日内完成审核 *#}
					<reg-info v-if="!login && regcheck"></reg-info>
				</div>
				<div class="reg_box" v-if="reg_success">
					<h3>{#$langData['waimai'][10][104]#} </h3>{#* 恭喜您成功注册成为骑手！<br/> 请设置登录密码  *#}
					<p>{#$langData['waimai'][10][109]#}</p>{#* 您可以跳过此步骤，之后随时可在我的-设置中修改 *#}
					<div class="form-container">
						<div class="form-box show">
							<input-txt ref="psd" type="password" placeholder="{#$langData['waimai'][10][110]#}" name="password" ></input-txt>{#* 设置登录密码 *#}
							<input-txt ref="rpsd" type="password" placeholder="{#$langData['waimai'][10][111]#}" name="sure_password"></input-txt>{#* 确认登录密码 *#}
						</div>
						<div class="btn_box">
							<button type="button" class="save_psd" @click="save_psd">{#$langData['waimai'][10][112]#}</button>{#* 保存 *#}
							<a href="/?service=waimai&do=courier&template=index">{#$langData['waimai'][10][113]#}</a>{#* 暂不设置 *#}
						</div>
					</div>
				</div>
			</div>
			
			<!-- 区号选择 -->
			<div class="popl_mask" v-on:click="pop_hide"></div>
			<div class="popl_box anum_box">
				<h2>{#$langData['business'][1][4]#}   <a href="javascript:;" class="back" v-on:click="pop_hide">{#$langData['business'][1][5]#}</a></h2>     {#* 选择地区----返回 *#}
				<div class="areaList" id="areaList"><ul>
					{#siteConfig action='internationalPhoneSection' return="item"#}
					<li data-cn="{#$item.name#}" data-code="{#$item.code#}" v-on:click="Changecode"><span>{#$item.name#}<span><em class="fn-right">+{#$item.code#}</em></li>
					{#/siteConfig#}
				</ul></div>
			</div>
			<p v-if="(!regcheck || login) && !reg_success" class="login_tip">{#$langData['waimai'][10][114]#}<a href="{#getUrlPath service='siteConfig' template='protocol' title='骑手注册协议'#}?from=wmsj">{#$langData['waimai'][10][115]#}</a>{#$langData['waimai'][10][116]#}<a href="{#getUrlPath service='siteConfig' template='protocol' title='骑手隐私政策'#}?from=wmsj">{#$langData['waimai'][10][117]#}</a></p>{#* 登录/注册表示您已同意用户注册协议及隐私协议 *#}
		</div>
		
		{#if $cfg_geetest#}<script type="text/javascript" src="{#$cfg_secureAccess#}static.geetest.com/static/tools/gt.js"></script>{#/if#}
		<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
		<script src="{#$templets_skin#}js/mobileSelect.js?v={#$cfg_staticVersion#}"></script>
		<script src="{#$templets_skin#}js/login.js?v={#$cfg_staticVersion#}"></script>
	</body>
</html>
