<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
		<title>{#$langData['waimai'][10][52]#}</title>{#* 订单地图 *#}
		<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/statistics.css?v={#$cfg_staticVersion#}">
		<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
		<script src="{#$templets_skin#}js/vue.min.js?v={#$cfg_staticVersion#}"></script>
		<script src="{#$templets_skin#}js/axios.min.js"></script>
		<script>
			var site_map = '{#$site_map#}';
			var templets = '{#$templets_skin#}';
			var moduleList = {#$installModuleArr|json_encode#};
		</script>
	</head>
	<body>
		<div id="page">
			<header> {#$langData['waimai'][10][52]#} </header>{#* 订单地图 *#}
			<div id="mapbox"  >
				<ul :class="['type_tab','tab_'+curTtab]" v-cloak>
					<li v-for="tab in ttabs" :data-type="tab.name" @click="redraw">{{tab.cn}}</li>
					<em></em>
				</ul>
				<div id="map"></div>
				<!-- <div class="bubble shop"><div class="txt">1<em>代取</em></div><div class="bubble_tip"><div class="bubble_time"><b>45分钟内 </b>送达</div></div></div> -->
				<button type="button" class="reset_map" @click="changecenter"></button>
			</div>
			
			
			
			
			<div class="bottom_box" v-cloak>
				<ul class="btm_ul">
					<li v-for="tab in btabs"  v-bind:class="tab.name"  :data-url="tab.url">
						<a :href="tab.url">
							<div class="icon"><img v-bind:src="'{#$templets_skin#}images/'+tab.name+'.png'" ></div>
							<p>{{tab.cn}}</p>
						</a>
						
					</li>
				</ul>
			</div>
		</div>
		<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
		{#include file="{#$HUONIAOROOT#}/templates/siteConfig/public_location.html"#}
		{#if $site_map=="baidu"#}
		<script src="https://api.map.baidu.com/getscript?v=3.0&ak={#$site_map_baidu#}=&t=20200824135534"></script>
		{#else if $site_map=="amap"#}
		<script src="https://webapi.amap.com/maps?v=1.4.15&key={#$site_map_amap#}&plugin=AMap.Riding"></script>
		{#else if $site_map=="google"#}
		<script src="{#$templets_skin#}js/markerwithlabel.js?v={#$cfg_staticVersion#}"></script>
		{#/if#}
		<script src="{#$templets_skin#}js/map.js?v={#$cfg_staticVersion#}"></script>
	</body>
</html>
