<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
		<title>{#$langData['waimai'][10][56]#}</title> {#*  收入统计  *#}
		<script src="{#$templets_skin#}js/vue.min.js?v={#$cfg_staticVersion#}"></script>
		<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/statistics.css?v={#$cfg_staticVersion#}">
		<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
		
		<script src="{#$templets_skin#}js/axios.min.js"></script>
		<script>
			var kaigong = "{#$courier_state#}";
			var arr = {#$installModuleArr|@json_encode#}
		</script>
	</head>
	<body>
		<div class="page_box" id="page">
			<div class="top_box">
				<div class="headbox">
					<div class="htitle">{#$langData['waimai'][10][56]#}</div> {#*  收入统计  *#}
					<a href="/?service=waimai&do=courier&template=history" class="h_url">历史订单</a>
				</div>
			</div>
			<div class="today_count">
				<div class="peisong_count">
					<h5>{#$amount + $paotui_amount + $shop_amount#}</h5>
					<p>{#$langData['waimai'][1][19]#}({#echoCurrency type='short'#})<em @click="tipshow"></em><span class="tip"> 此处统计收入项构成为 [ 顾客打赏的小费 ]<br/>具体收入由您所在劳务公司统计发放，如有疑问请向其咨询</span> </p>{#* 配送费 *#}
					
				</div>
				<div class="daishou_count">
					<h5>{#$peisong + $shop_peisong#}</h5>
					<p>{#$langData['waimai'][10][57]#}({#echoCurrency type='short'#})</p>{#* 代收货款 *#}
				</div>
			</div>
			<div class="countBox">
				<!-- waimai -->
				{#if in_array('waimai', $installModuleArr) #}
				<dl class="waimai count_box">
					<dt>{#$langData['waimai'][10][58]#}</dt>{#* 今日外卖战绩 *#}
					<dd class="tlist">
						<div class="success">
							<h5>{#$success#}</h5>
							<p>{#$langData['waimai'][10][59]#}</p>{#* 成功(单) *#}
						</div>
						<div class="fail">
							<h5>{#$failed#}</h5>
							<p>{#$langData['waimai'][10][60]#}</p>{#* 失败(单) *#}
						</div>
						<div class="amount">
							<h5>{#$amount#}</h5>
							<p>{#$langData['waimai'][10][61]#}({#echoCurrency type='short'#})</p>{#* 收入 *#}
						</div>
						<div class="dai_amount">
							<h5>{#$peisong#}</h5>
							<p>{#$langData['waimai'][10][57]#}({#echoCurrency type='short'#})</p>{#* 代收货款 *#}
						</div>
					</dd>
					<dd class="btn_box go_history">
						<a href="javascript:;" data-type="waimai" @click="goHistory">{#$langData['waimai'][10][64]#}</a>
						{#*  查看历史统计 *#}
					</dd>
				</dl>
				<!-- paotui -->
				<dl class="paotui count_box">
					<dt>{#$langData['waimai'][10][62]#}</dt>{#* 今日跑腿战绩 *#}
					<dd class="tlist">
						<div class="success">
							<h5>{#$paotui_success#}</h5>
							<p>{#$langData['waimai'][10][59]#}</p>{#* 成功(单) *#}
						</div>
						<div class="fail">
							<h5>{#$paotui_failed#}</h5>
							<p>{#$langData['waimai'][10][60]#}</p>{#* 失败(单) *#}
						</div>
						<div class="amount">
							<h5>{#$paotui_amount#}</h5>
							<p>{#$langData['waimai'][10][61]#}({#echoCurrency type='short'#})</p>{#* 收入 *#}
						</div>
					
					</dd>
					<dd class="btn_box go_history">
						<a href="javascript:;" data-type="paotui" @click="goHistory">{#$langData['waimai'][10][64]#}</a>
						{#*  查看历史统计 *#}
					</dd>
				</dl>
				{#/if#}
				{#if in_array('shop', $installModuleArr) #}
				<!-- shop -->
				<dl class="shop count_box">
					<dt>{#$langData['waimai'][10][63]#}</dt>{#* 今日商城战绩 *#}
					<dd class="tlist">
						<div class="success">
							<h5>{#$shop_success#}</h5>
							<p>{#$langData['waimai'][10][59]#}</p>{#* 成功(单) *#}
						</div>
						<div class="fail">
							<h5>{#$shop_failed#}</h5>
							<p>{#$langData['waimai'][10][60]#}</p>{#* 失败(单) *#}
						</div>
						<div class="amount">
							<h5>{#$shop_amount#}</h5>
							<p>{#$langData['waimai'][10][61]#}({#echoCurrency type='short'#})</p>{#* 收入 *#}
						</div>
						<div class="dai_amount">
							<h5>{#$shop_peisong#}</h5>
							<p>{#$langData['waimai'][10][57]#}({#echoCurrency type='short'#})</p>{#* 代收货款 *#}
						</div>
					</dd>
					<dd class="btn_box go_history">
						<a href="javascript:;" data-type="shop" @click="goHistory">{#$langData['waimai'][10][64]#}</a>
						{#*  查看历史统计 *#}
					</dd>
				</dl>
				{#/if#}
			</div>
			<div class="bottom_box" v-cloak>
				<ul class="btm_ul">
					<li v-for="tab in btabs" @click="urlTo" :data-url="tab.url" :data-name="tab.name">
						<div class="icon"><img v-bind:src="'{#$templets_skin#}images/'+tab.name+'.png'" ></div>
						<p>{{tab.cn}}</p>
					</li>
					
				</ul>
			</div>
		</div>
	</body>
	<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
	<script type="text/javascript" src="{#$templets_skin#}js/statistics.js?v={#$cfg_staticVersion#}"> </script>
</html>
