<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
		<title>{#$langData['waimai'][10][65]#}</title>  {#* 历史统计 *#}
		<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mobiscroll.javascript.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/statisticsHistory.css?v={#$cfg_staticVersion#}">
		<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
		<script src="{#$templets_skin#}js/vue.min.js?v={#$cfg_staticVersion#}"></script>
		<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
		
		<script>
			var kaigong = "{#$courier_state#}"
		</script>
		<style type="text/css">
			[v-cloak]{
			    display: none !important;
			}
		</style>
	</head>
	<body>
		<div class="page_box " id="page">
			<div class="top_box">
				<div class="headbox">
					<a href="javascript:;" class="back_btn goBack" onclick="history.go(-1)"></a>
					<div class="htitle">{#$langData['waimai'][10][65]#}</div> {#* 历史统计 *#}
				</div>
			</div>
			<div class="shai_box">
				<div class="timeChose">
					<span class="timebox">
						<input mbsc-input type="text"  placeholder="{#$langData['waimai'][10][66]#}" id="stime" name="stime" value="{#$stime#}">
						<b class="stime">{#$stime|default:"{#$langData['waimai'][10][66]#}"#}</b>{#* 请选择开始时间 *#}
					</span>
					<em>至</em>
					<span class=" timebox">
						<b class="etime">{#$etime|default:"{#$langData['waimai'][10][67]#}"#}</b>{#* 请选择结束时间 *#}
						<input mbsc-input type="text"  placeholder="{#$langData['waimai'][10][67]#}" id="etime" name="etime" value="{#$etime#}">
					</span>
				</div>
				<button class="shai_btn" @click="research">{#$langData['waimai'][10][64]#}</button>{#* 查看历史统计 *#}
			</div>
			<div class="countBox" v-cloak>
				{#if in_array('waimai', $installModuleArr) #}
				<dl class="waimai">
					<dt>{#$langData['waimai'][10][68]#}</dt>{#* 外卖历史统计 *#}
					<dd class="tlist">
						<div class="success">
							<h5>{{waimaiarr.success}}</h5>
							<p>{#$langData['waimai'][10][59]#}</p>{#* 成功(单) *#}
						</div>
						<div class="fail">
							<h5>{{waimaiarr.failed}}</h5>
							<p>{#$langData['waimai'][10][60]#}</p>{#* 失败(单) *#}
						</div>
						<div class="amount">
							<h5>{{waimaiarr.amount}}</h5>
							<p>{#$langData['waimai'][10][61]#}({#echoCurrency type='short'#})  <em @click="tipshow"></em><span class="tip"> 此处统计收入项构成为 [ 顾客打赏的小费 ]<br/>具体收入由您所在劳务公司统计发放，如有疑问请向其咨询</span> </p>
						</div>
						<div class="dai_amount">
							<h5>{{waimaiarr.peisong}}</h5>
							<p>{#$langData['waimai'][10][57]#}({#echoCurrency type='short'#})</p>{#* 代收货款 *#}
						</div>
					</dd>
				</dl>
				
				<dl class="paotui">
					<dt>{#$langData['waimai'][10][69]#}</dt>{#* 跑腿历史统计 *#}
					<dd class="tlist">
						<div class="success">
							<h5>{{paotuiarr.paotui_success}}</h5>
							<p>{#$langData['waimai'][10][59]#}</p>{#* 成功(单) *#}
						</div>
						<div class="fail">
							<h5>{{paotuiarr.paotui_failed}}</h5>
							<p>{#$langData['waimai'][10][60]#}</p>{#* 失败(单) *#}
						</div>
						<div class="amount">
							<h5>{{paotuiarr.paotui_amount}}</h5>
							<p>{#$langData['waimai'][10][61]#}({#echoCurrency type='short'#}) <em @click="tipshow"></em> 
							<span class="tip"> 此处统计收入项构成为 [ 顾客打赏的小费 ]<br/>具体收入由您所在劳务公司统计发放，如有疑问请向其咨询</span> </p>
						</div>
					</dd>
				</dl>
				{#/if#}
				{#if in_array('shop', $installModuleArr) #}
				<dl class="shop">
					<dt>{#$langData['waimai'][10][70]#}</dt>{#* 商城送货历史统计 *#}
					<dd class="tlist">
						<div class="success">
							<h5>{{shoparr.shop_success}}</h5>
							<p>{#$langData['waimai'][10][59]#}</p>{#* 成功(单) *#}
						</div>
						<div class="fail">
							<h5>{{shoparr.shop_failed}}</h5>
							<p>{#$langData['waimai'][10][60]#}</p>{#* 失败(单) *#}
						</div>
						<div class="amount">
							<h5>{{shoparr.shop_amount}}</h5>
							<p>{#$langData['waimai'][10][61]#}({#echoCurrency type='short'#}) <em @click="tipshow"></em><span class="tip"> 此处统计收入项构成为 [ 顾客打赏的小费 ]<br/>具体收入由您所在劳务公司统计发放，如有疑问请向其咨询</span> </p>
						</div>
						<div class="dai_amount">
							<h5>{{shoparr.shop_peisong}}</h5>
							<p>{#$langData['waimai'][10][57]#}({#echoCurrency type='short'#})</p>{#* 代收货款 *#}
						</div>
					</dd>
				</dl>
				{#/if#}
			</div>
			<div class="bottom_box">
				<ul class="btm_ul">
					<li v-for="tab in btabs" @click="urlTo" :data-url="tab.url" :data-name="tab.name">
						<div class="icon"><img v-bind:src="'{#$templets_skin#}images/'+tab.name+'.png'" ></div>
						<p>{{tab.cn}}</p>
					</li>
				</ul>
			</div>
			<div class="loading" v-if="LOADING"></div>
		</div>
		
		
		<script src="{#$templets_skin#}js/mobiscroll.custom-3.0.0-beta4.js?v={#$cfg_staticVersion#}"></script>
		<script src="{#$templets_skin#}js/axios.min.js"></script>
		<script src="{#$templets_skin#}js/statisticsHistory.js?v={#$cfg_staticVersion#}"></script>
	</body>
</html>
