@charset "utf-8";
.award_wrap{background: #f2f2f2;padding-bottom: 40px;}

.award_head{width: 100%;height: 340px;box-sizing: border-box;padding: 114px 0 105px 200px;color: #fff;background: url(../images/award_bg.png) no-repeat center;}
.award_head .award_h1{font-size: 71px;font-weight: bold;}
.award_head .notice{font-size: 24px;}
.award_con{box-shadow:0px 4px 15px 0px rgba(33,33,33,0.08);padding: 30px 0 43px;background: #fff;margin-top: 20px;}
.award_con .awa_title{padding-left: 63px;}
.award_con .awa_title .award_h2{font-size: 30px;font-weight: bold;display: inline-block;margin-right: 18px}
.award_con .awa_title .new_tip{font-size: 16px;display: inline-block;color: #00AF62;padding-left:20px; background: url(../images/notice.png) no-repeat left center;}
.award_info{padding: 0 100px;}
.choose_type{margin-top: 70px;}
.awa_tit{font-size: 14px;font-weight: bold;width: 87px;text-align: right;}
.choose_tip{margin-top: 24px;    padding-left: 20px;}
.choose_txt{font-size: 14px;color: #666;display: inline-block;}
.choose_txt span{color: #FF0000;margin-right: 4px}
.choose_tip select {display: inline-block;width: 380px;height:46px;padding-left:10px;margin-left: 18px;border:1px solid #E5E5E5;font-size: 14px;-webkit-appearance:none;background: #fff url(../images/sortDown.png) no-repeat 354px center;}

.type_tip{padding-left: 20px;background: url(../images/light.png) no-repeat left center;font-size: 14px;color: #999;margin-left: 108px;margin-top: 10px;display: none;}
.type_show{display: block;}

.show1{margin-top: 70px;}
.show1 ul li{font-size: 14px;margin-top: 28px;}
.show1 ul li span{color: #888;margin-right: 22px;display: inline-block;width: 99px;text-align: right;}

.apply{display: inline-block;width:280px;height:60px;background:#00AF62;border-radius:6px;text-align: center;line-height: 60px;font-size: 18px;color: #fff;cursor: pointer;margin-right: 23px;margin-left: 118px;margin-top: 20px;position: relative;}
.change{font-size: 14px;cursor: pointer;}
.change:hover{color: #00AF62}
.place_wrap{background:#f2f2f2 }
.footer{margin-top: 0}
.apply:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);border-radius:6px;}
/*预约成功弹出层*/
.award_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.7); z-index: 1002;display: none;}
.award_conent{position: fixed; left: 50%; margin-left: -223px; top: 50%; margin-top: -200px; width: 446px;  box-sizing: border-box;background-color:#fff;  padding: 34px 0 37px; z-index: 9999; border-radius: 6px;}
.award_conent .close_alert{width: 16px;height: 16px;position: absolute;right: -37px;top: 0;cursor: pointer;}
.award_conent p.t1{margin-top: 19px;font-size: 20px;text-align: center;color: #666}
.award_conent .integral{margin: -12px auto 0;display: block;}
.award_conent p.t2{margin-top: 40px;font-size: 18px;text-align: center;color: #ff6600;    height: 45px;
    line-height: 41px;}
.award_conent p.t2 span{font-size: 53px;font-weight: bold;}
.award_conent p.t3{color: #fff;width: 211px;height: 46px;text-align: center;line-height: 46px;margin: 40px auto 0;cursor: pointer;background: #00af62;font-size: 18px;border-radius: 4px;position: relative;}
.award_conent p.t3:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);border-radius:4px;}