/*焦点图*/
.PicFocus{float: left;width: 100%;height: 450px;overflow: hidden;position: relative;}
.PicFocus img{display: block; margin: 0 auto; width: auto;max-width:100%!important;height: 450px;}
.PicFocus .bd{height: 450px;}
.PicFocus .bd .slideshow-item{position: relative;}
.PicFocus .bd .slideshow-item .slideinfo{   position: absolute;bottom: 0px;left: 0; right: 0;padding: 45px 80px 30px 25px;font-size: 22px;text-align: justify;background: -webkit-linear-gradient(top, #000 , transparent); background: -o-linear-gradient(top, #000, transparent); background: -moz-linear-gradient(top, #000, transparent); background: linear-gradient(to top, #000 , transparent);filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = #00ffffff, endColorstr = #ff000000);}
.PicFocus .slideshow-item .slideinfo h3 a{color:#fff;font-weight: bold;}
.PicFocus .hd{position: absolute;height: 30px;bottom: 0;left: 50%;text-align: right;}
.PicFocus .hd ul li{display: inline-block;width: 10px;height: 10px;background:#fff;opacity: .6;-moz-border-radius: 50%; -webkit-border-radius: 50%;border-radius: 50%;margin-left: 10px;cursor: pointer;}
.PicFocus .hd ul li.on{width: 30px;height: 10px;border-radius: 4px;opacity: 1;}
.PicFocus:hover .prev{display: block;}
.PicFocus:hover .next{display: block;}
.PicFocus .prev{width: 48px;height: 83px;background: rgba(0, 0, 0, 0.6);position: absolute;left: 0; top: 180px;display: none;-webkit-animation: leftFadeIn .3s ease-out;-moz-animation: leftFadeIn .3s ease-out;animation: leftFadeIn .3s ease-out;}
.PicFocus .prev:after{content: "";display: block;width: 100%;height: 100%;background: url(../images/prev.png) no-repeat center;}
.PicFocus .next{width: 48px;height: 83px;background: rgba(0, 0, 0, 0.6);position: absolute;right: 0;top: 180px;display: none;-webkit-animation: rightFadeIn .3s ease-out;-moz-animation: rightFadeIn .3s ease-out;animation: rightFadeIn .3s ease-out;}
.PicFocus .next:after{content: "";display: block;width: 100%; height: 100%;background: url(../images/next.png) no-repeat center;}
/*广告*/
.adv_wrap{margin-top: 30px;}
.adv_wrap li{width: 590px;height: 128px;display: inline-block;margin-left: 10px;}
.adv_wrap li img{width: 100%;height: 100%;object-fit: cover;border-radius: 10px;}
.adv_wrap li.adv1{float: left;}
.adv_wrap li.adv2{float: right;}
/*推荐养老机构*/
.org_wrap{padding: 34px 0 40px;background: #fff}
.org_h1{font-size: 36px;font-weight: bold;text-align: center;}
.org_h2{font-size: 16px;color: #999;text-align: center;position: relative;padding-bottom: 19px;margin-top: 10px}
.org_h2:after{content: "";display: block;width: 100px; height: 2px;background: #00AF62;position: absolute;left:45%;bottom: 0;text-align: center;}
.org_content{padding-top: 8px;}
.org_content ul li{float: left;margin-top: 22px;margin-right: 25px;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s}
.org_content .org_img{width: 383px;height: 290px;overflow: hidden;}
.org_content .org_img img{width: 100%;height: 100%;object-fit: cover;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transform:all .5s}

.org_content ul li:hover {border:0;box-shadow:0px 5px 15px 0px rgba(163,163,163,0.16);-moz-box-shadow:0px 5px 15px 0px rgba(163,163,163,0.16);-webkit-box-shadow:0px 5px 15px 0px rgba(163,163,163,0.16);-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}
.org_content li:hover .org_img img {-webkit-transition:scale(1.1);-moz-transition:scale(1.1);-ms-transition:scale(1.1);-o-transition:scale(1.1);transform:scale(1.1)}
.org_content li:hover .org_p{border: 0}
.org_content ul li:nth-child(3n){margin-right: 0}
.org_content .org_p{height: 60px;line-height: 60px;max-width: 382px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;text-align: center;font-size: 18px;border:1px solid #EAEAEA;border-top: 0;background: #fff}
.org_content .org_p:hover{color: #00AF62}

.tit_h3{padding: 28px 0;margin:0 20px;font-weight: bold;font-size: 24px;text-align: center;border-bottom: 1px solid #EAEAEA; }
.rank_shadow{box-shadow:0px 3px 24px 0px rgba(178,178,178,0.24);transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s}
.rank_shadow:hover{-webkit-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0)}
.org_wrap2{background: #F5F5F5;padding-top: 34px;padding-bottom: 40px;}
/*热门机构排行*/
.org_rank{float: left;background: #fff;width: 380px;    box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box; margin-right: 30px}
.org_rank ul{padding: 10px 0 30px;}
.org_rank ul li{padding: 10px 20px}
.org_rank ul li:hover{background: #f2f2f2;}
.org_rank .rank_img{float:left;width: 29px;height: 37px;margin-right: 5px;    padding-top: 5px;}
.org_rank .rank_pic{float:left;width: 52px;height: 40px;margin-right: 10px;}
.org_rank .rank_pic img {width: 100%;height: 100%;object-fit: cover;}
.org_rank .rank_txt{float:left;width: 243px}
.org_rank .rank_tit{font-size: 14px;max-width: 243px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: inline-block;margin-top: -4px;color:#333;}
.org_rank .rank_tit:hover{color: #00AF62}
/* .org_rank .rank_star i{display: inline-block;width: 75px; height: 13px;background: url(../images/star.png) no-repeat center;} */

.org_rank .rank_star span{display: inline-block;float: right;font-size: 14px;color: #999}
.rank_star .judge-star{float: left!important; position: relative;background: url(../images/star_no.png) 0 0 repeat-x;width: 90px;height: 17px;margin-top: 8px;display: inline-block;}
.rank_star .judge-star s {position: absolute;display: block;height: 17px;background: url(../images/star_yes.png) 0 0 repeat-x;}



.org_rank .rank_num{display: inline-block;float:left;font-size: 18px;color: #999;margin-right: 17px;line-height: 40px;padding-left: 6px;font-style: italic;font-weight: bold;}
/*开放参观日*/
.org_visit{float: left;background: #fff;width: 380px;    box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;margin-right: 30px }
.org_visit ul{padding: 10px 0 33px;}
.org_visit ul li{padding: 10px 20px}
.org_visit ul li:hover{background: #f2f2f2;}
.org_visit .visit_pic{float:left;width: 52px;height: 40px;margin-right: 10px;}
.org_visit .visit_pic img {width: 100%;height: 100%;object-fit: cover;}
.org_visit .visit_txt{float: left;}
.org_visit .visit_tit a{font-size: 14px;max-width: 276px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: inline-block;margin-top: -4px}
.org_visit .visit_tit a:hover{color: #00AF62}
.org_visit .visit_day{height: 21px}
.org_visit .visit_day em{font-size: 12px;color: #fff;width:50px;height:20px;background:#00AF62;border-radius:2px;line-height: 20px;text-align: center;display: inline-block;margin-right: 5px;overflow: hidden;}
.org_visit .visit_day span{font-size: 14px;color: #999;font-style: normal;display: inline-block;max-width: 220px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

/*入住有奖*/
.org_award{float: left;background: #fff;width: 380px;    box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box; }
.org_award ul{padding: 10px 0 32px;}
.org_award ul li{padding: 10.5px 20px}
.org_award ul li:hover{background: #f2f2f2;}
.org_award .award_pic{float:left;width: 52px;height: 40px;margin-right: 10px;}
.org_award .award_pic img {width: 100%;height: 100%;object-fit: cover;}
.org_award .award_txt{float: left;}
.org_award .award_tit a{font-size: 14px;max-width: 276px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: inline-block;margin-top: -5px}
.org_award .award_tit a:hover{color: #00AF62}
.org_award .award_day{font-size: 14px;color: #999;height: 21px}
.org_award .award_day em{font-size: 12px;color: #fff;width:22px;height:20px;background-image: -moz-linear-gradient( 45deg, rgb(255,133,63) 0%, rgb(253,89,33) 100%);
  background-image: -webkit-linear-gradient( 45deg, rgb(255,133,63) 0%, rgb(253,89,33) 100%);background-image: -ms-linear-gradient( 45deg, rgb(255,133,63) 0%, rgb(253,89,33) 100%);filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#fe7736", endColorstr="#fd5c23", gradientType="1");border-radius:3px;line-height: 20px;text-align: center;display: inline-block;margin-right: 5px;overflow: hidden;}
.org_award .award_day span{overflow: hidden;display: inline-block;max-width: 140px;text-overflow: ellipsis;white-space: nowrap;}
.org_award .award_day span.spe_span2{color: #FF6600;max-width: 90px;text-overflow: ellipsis;white-space: nowrap;}


/*机构养老*/

.org_content2 ul li{float: left;margin-top: 30px;margin-right: 20px;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s}
.org_content2 .org_img{width: 285px;height: 215px;overflow: hidden;}
.org_content2 .org_img img{width: 100%;height: 100%;object-fit: cover;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transform:all .5s}

.org_content2 ul li:hover {border:0;box-shadow:0px 5px 15px 0px rgba(163,163,163,0.16);-moz-box-shadow:0px 5px 15px 0px rgba(163,163,163,0.16);-webkit-box-shadow:0px 5px 15px 0px rgba(163,163,163,0.16);-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}
.org_content2 li:hover .org_img img {-webkit-transition:scale(1.1);-moz-transition:scale(1.1);-ms-transition:scale(1.1);-o-transition:scale(1.1);transform:scale(1.1)}
.org_content2 ul li:nth-child(4n){margin-right: 0}
.org_content2 .org_p{height: 54px;line-height: 54px;max-width: 284px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;text-align: center;font-size: 16px;border:1px solid #EAEAEA;border-top: 0;background: #fff}
.org_content2 li:hover .org_p{border: 0}
.org_content2 .org_p:hover{color: #00AF62}
.see_more{ width:200px;height:50px;border:1px solid #00AF62;background: #fff;text-align: center;line-height: 50px;font-size: 16px;color: #00AF62;margin: 27px auto 0;cursor: pointer;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s}
.see_more a{color: #00AF62}
.see_more s{display: inline-block;  width:0;height:0;border-top:4px solid transparent;border-bottom:4px solid transparent;border-left:5px solid #00AF62;margin-left: 11px;vertical-align: middle;margin-top: -2px;}
.see_more:hover{background:#00AF62;}
.see_more:hover a{color: #fff; }
.see_more:hover s{border-top:4px solid transparent;border-bottom:4px solid transparent;border-left:5px solid #fff;}
.org_wrap2 .org_content2 .org_p{border: none;max-width: 285px}

/*养老活动*/
.org_wrap3{padding: 34px 0 40px;background:#f0f0f0  url(../images/index_bg.png) no-repeat bottom center;background-size: cover;-ms-behavior: url(./backgroundsize.min.htc);behavior: url(./backgroundsize.min.htc);}
.act_shadow{margin-top: 30px;padding:26px 20px 30px;box-shadow:0px 0px 15px 0px rgba(163,163,163,0.16);float: left;background: #fff;width: 387px;    box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s}
.act_shadow:hover{-webkit-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0)}
.activity1{margin-right: 19px}
.activity2{margin-right: 19px}
.act_head a{display: inline-block;width: 27px;height: 26px;float: left;}
.act_head span{float: right;font-size: 16px;color: #666;}
.act_tit{text-align: center;padding: 27px 0 12px;border-bottom: 1px solid #EDEDED}
.act_tit a{font-size: 18px;font-weight: bold;}
.act_tit a:hover{color: #00AF62}
.act_con{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;font-size: 16px;color: #666;line-height: 28px;padding-top: 15px}
.act_pic{width: 100%;height: 260px;overflow: hidden;margin-top: 20px}
.act_pic img{width: 100%;height: 100%;object-fit: cover;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transform:all .5s}
.act_shadow:hover .act_pic img{-webkit-transition:scale(1.1);-moz-transition:scale(1.1);-ms-transition:scale(1.1);-o-transition:scale(1.1);transform:scale(1.1)}

.act_arrow{text-align: center;margin-top: 20px;}
.act_arrow a{display: inline-block;width:46px;height:46px;background:#fff url(../images/arrow.png) no-repeat center;border:1px solid #00AF62;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s}
.act_arrow a:hover{background:#00AF62 url(../images/arrow2.png) no-repeat center;}
.org_container3 .see_more{margin-top: 36px}
/*养老资讯*/
.org_news{margin-top: 13px}
.org_news ul li{padding: 15px 0;float: left;padding-right: 5px;margin-right: 28px}
.org_news ul li:nth-child(2n){margin-right: 0}
.org_news .news_pic{width: 190px;height: 140px;float: left;}
.org_news .news_pic img{width: 100%;height: 100%;object-fit: cover;}
.org_news .news_txt{margin-left: 210px;width: 371px}

.org_news .news_head{padding-bottom: 10px;border-bottom: 1px solid #E0E0E0;line-height: 24px}
.org_news .news_head i{display: inline-block;width: 15px;height: 24px;background:url(../images/line.png) no-repeat center; margin-left: 10px;vertical-align: top;margin-top: 2px;}
.org_news .news_day{font-size: 30px;font-weight: bold;color:#00AF62;}
.org_news .new_year{font-size: 14px;color:#999;float: right;}
.org_news .news_tit{font-size: 18px;margin-top: 12px}
.org_news .news_tit a{display: inline-block;max-width: 360px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.org_news .news_con{font-size: 14px;color:#999;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;line-height: 24px;margin-top: 8px}
.org_news ul li:hover{background: #f5f5f5}

.org_news .news_tit a:hover{color:#00AF62 }







