@charset "utf-8";
.list_wrap2{margin-top: 20px;}
.list_wrap dt{width: 98px;}

.info_wrap{border: 1px solid #EAEAEA;border-top:none;}
.info_list{padding: 0 20px}
.info_list .info_li{padding: 35px 0 44px;border-top:1px solid #EAEAEA;}
/*.info_list .info_li:hover{background: #F7F7F7}*/
.info_list .info_li:first-child{border-top:none;}
.portrait{width: 60px;height: 60px;float: left;border-radius: 50% }
.portrait img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%}
.info_content{position: relative;margin-left: 80px;}
.man_title{height: 24px;line-height: 24px;margin-top: 4px;}
.man_title .name{font-size: 24px;display: inline-block;}
.man_title .name a:hover{color: #00af62}
.man_title .man_tip{display: inline-block;font-size: 12px;border-radius: 3px;width: 60px;height: 20px;line-height: 20px;overflow:hidden;margin-left: 8px;border: 1px solid #4eb2ff;margin-top: 2px;vertical-align: top;}
.man_title .man_tip span{display: inline-block;text-align: center;}
.man_tip .sex{background: #4eb2ff;color: #fff;width: 20px;}
.man_tip .age{background: #eaf6ff;color: #4eb2ff;width: 40px;}
.man_title .nv_tip{border: 1px solid #ff6da4}
.man_tip .sex_nv{background: #ff6da4;color: #fff;width: 20px;}
.man_tip .age_nv{background: #ffeffb;color: #ff6da4;width: 40px;}
.man_info {margin-top: 15px;}
.man_info dl{display: inline-block;margin-right: 80px;}
.man_info dl img{height: 15px;}
.man_info dl dt{display: inline-block;vertical-align: middle;margin-right: 6px}
.man_info dl dd{font-size: 14px;color: #666;display: inline-block;}
.man_info dl dd span{margin-left: 28px;}

.man_visit{position: absolute;right: 0;bottom:0;width:170px;height:46px;  background-image: -moz-linear-gradient( -45deg, rgb(0,175,98) 0%, rgb(1,147,84) 100%);
  background-image: -webkit-linear-gradient( -45deg, rgb(0,175,98) 0%, rgb(1,147,84) 100%);
  background-image: -ms-linear-gradient( -45deg, rgb(0,175,98) 0%, rgb(1,147,84) 100%);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#00AF62", endColorstr="#019354", gradientType="1");
  box-shadow:0px 5px 15px 0px rgba(1,147,84,0.32);border-radius:23px;text-align: center;line-height: 46px;font-size: 18px;color: #fff;cursor: pointer;}
.man_visit:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);border-radius:23px;}


/* 详情 */
.old_wrap{border: 1px solid #eaeaea;margin-top: 20px;padding-bottom: 70px }
.old_top{padding: 44px 40px 55px 70px;background: #e7f8f1}
.old_top .pic{width: 112px;height: 112px;float: left;}
.old_top .pic img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%}
.old_top .old_info{margin-left: 145px;}
.old_info .old_name{font-size: 24px;height: 24px;line-height: 24px;margin-top: 27px}
.old_info .old_tip{font-size: 14px;color: #666;margin-top: 25px}

.old_tip dl{display: inline-block;margin-left: 90px;}
.old_tip dl:first-child{margin-left: 0;}
.old_tip dl img{height: 15px;}
.old_tip dl dt{display: inline-block;vertical-align: middle;margin-right: 6px}
.old_tip dl dd{font-size: 14px;color: #666;display: inline-block;}

.old_bottom{padding: 0 95px;}
.old_bottom ul{padding-top: 12px;}
.old_bottom ul li{font-size: 14px;margin-top: 25px;}
.old_bottom ul li span:first-child{color: #888;margin-right: 21px;display: inline-block;width: 105px;text-align: right;vertical-align: top;}
.old_bottom ul li .tag{display: inline-block;padding: 0 6px;background: #00AF62;color: #fff;font-size: 14px;margin-left: 7px;border-radius: 2px;}
.old_bottom ul li .spe_span{display: inline-block;max-width: 880px;}
.old_contact{margin-top: 50px;padding: 0 86px}
.old_contact ul li{width: 221px;height: 60px;line-height: 60px;text-align: center;border-radius: 6px;font-size: 18px;color: #fff;display: inline-block;cursor: pointer;position: relative;}
.old_contact .old_img{vertical-align: middle;margin-top: -6px;margin-right: 7px}
.old_contact ul li.contact{background: #FF6600;margin-right: 20px;}
.old_contact ul li.invite{background: #00AF62}
.old_contact ul li:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);border-radius:23px;}
/*预约权限弹出层*/
.info_mask2{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.7); z-index: 1002;display: none;}
.info_con2{position: fixed; left: 50%; margin-left: -185px; top: 50%; margin-top: -140px; width: 370px;  box-sizing: border-box;background-color:#fff;  padding: 48px 20px 30px; z-index: 9999; border-radius: 6px;}
.info_con2 .close_alert{width: 16px;height: 16px;position: absolute;right: -37px;top: 0;cursor: pointer;}
.info_con2 p.t1{font-size: 24px;font-weight: bold;text-align: center;}
.info_con2 p.t2{margin-top: 30px;font-size: 16px;text-align: center;color: #999;line-height: 30px}
.info_con2 p.t2 span{color: #00af62}
.info_con2 p.t3{color: #fff;width: 100%;height: 50px;text-align: center;line-height: 50px;margin: 40px auto 0;cursor: pointer;background: #00af62;font-size: 18px;border-radius: 3px;}

/*参观弹出层*/
.info_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.7); z-index: 1002;visibility: hidden;}
.info_con{position: fixed; left: 50%; margin-left: -245px; top: 50%; margin-top: -240px; width: 490px;  box-sizing: border-box;background-color:#fff;  padding: 28px 30px 37px; z-index: 9999; border-radius: 6px;}
.info_con .close_alert{width: 16px;height: 16px;position: absolute;right: -37px;top: 0;cursor: pointer;}
.info_con p.t1{font-size: 24px;font-weight: bold;text-align: center;}
.info_con p.t2{font-size: 14px;color: #999;margin-top: 8px}
.info_inp{padding: 20px;padding-right: 26px;background: #f4f4f4;border-radius: 6px;margin-top: 50px;}
.info_inp .tip{font-size: 16px;}
.info_inp textarea{border: none;-webkit-appearance:none;color: #999;width: 100%;box-sizing: border-box;background: #f4f4f4;font-size: 16px;resize : none;margin-top: 10px;height: 50px;}
.info_con form{padding-top: 15px;}
.info_con form input{background: #f4f4f4;padding-left: 21px;height: 60px;line-height: 60px;-webkit-appearance:none;margin-top: 15px;font-size: 16px;color: #333;width: 100%;box-sizing: border-box;border-radius: 6px;border: none;}
.info_con form input::placeholder{color: #999}
.info_con ul{margin-top: 30px;}
.info_con ul li{width: 210px;height: 50px;text-align: center;line-height: 50px;border: 1px solid #00AF62;border-radius: 3px;font-size: 18px;cursor: pointer;background: #fff;color: #00AF62;}
.info_con ul li.cancel{float: left;}
.info_con ul li.sure{float: right;}
.info_con ul li.active{background:#00AF62;color: #fff; }

/*查看联系方式弹出层*/
.contact_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.7); z-index: 1002;display: none;}
.contact_con{position: fixed; left: 50%; margin-left: -245px; top: 50%; margin-top: -140px; width: 490px;  box-sizing: border-box;background-color:#fff;  padding-top:27px; z-index: 9999; border-radius: 6px;}
.contact_con .close_alert{width: 16px;height: 16px;position: absolute;right: -37px;top: 0;cursor: pointer;}
.contact_con p.t1{font-size: 24px;padding-left: 30px;}
.contact_con p.t2{margin-top: 30px;font-size: 14px;text-align: center;color: #666;}
.contact_con p.t3{margin-top: 20px;font-size: 36px;text-align: center;color: #fb5845;font-weight: bold;}
.contact_con ul{background:#f7f7f7 ;padding: 0 35px;margin-top: 40px;border-bottom-right-radius: 6px;border-bottom-left-radius: 6px;}
.contact_con ul li{font-size: 16px;padding: 20px 0}
.contact_con ul li span{color: #888;margin-right: 7px}
.contact_con .wechat{padding-bottom: 0}
.contact_con .email{padding-bottom: 25px}

/*团队预约成功弹出层*/
.org_mask2{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.7); z-index: 1002;display: none;}
.org_con2{position: fixed; left: 50%; margin-left: -245px; top: 50%; margin-top: -140px; width: 490px;  box-sizing: border-box;background-color:#fff;  padding: 86px 30px 40px; z-index: 9999; border-radius: 6px;}
.org_con2 .close_alert{width: 16px;height: 16px;position: absolute;right: -37px;top: 0;cursor: pointer;}
.org_con2 p.t1{margin-top: 19px;font-size: 26px;font-weight: bold;text-align: center;}
.org_con2 p.t2{margin-top: 10px;font-size: 18px;text-align: center;color: #888}
.org_con2 p.t3{color: #fff;width: 140px;height: 44px;text-align: center;line-height: 44px;margin: 60px auto 0;cursor: pointer;background: #00af62;font-size: 18px;border-radius: 4px;}
/* 波纹效果 */
.org_con2 .wave {position:relative;width:50px;height:50px;text-align:center;margin:0 auto;}
.org_con2 .m-box{width:48px;height:48px;position:relative;margin: 0 auto;border-radius:50%;border:3px solid #00af62;background: #dff2ea}
.org_con2 .m-duigou{width:25px;height:18px;position:absolute;left:50%;top:50%;margin:-13px 0 0 -13px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden}
.org_con2 .m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#00af62;border-radius:2px}
.org_con2 .m-duigou:before{width:3px;height:15px;left:0;-webkit-animation:dgLeft 0.5s linear 0s 1 both;animation:dgLeft 0.5s linear 0s 1 both}
.org_con2 .m-duigou:after{width:25px;height:3px;bottom:0;-webkit-animation:dgRight 0.5s linear 0.5s 1 both;animation:dgRight 0.5s linear 0.5s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@keyframes circle-opacity {from {opacity:1;transform:scale(0);}
to {opacity:0.5;transform:scale(1);}
}
.empty{text-align: center;padding: 20px;}