body {font-family: 'microsoft yahei';}
a{cursor: pointer;}
.wpre {position: relative;margin-top: 16px}
.wpab {position: absolute;}

.header {padding: 30px 0;    margin: 0 auto!important;box-sizing: border-box;min-width: 1200px;height: auto;}
.header .logo {float: left; width: 229px; height: 63px;}
.header .logo a{-webkit-transition:none;}
.header .logo a, .header .logo img { max-width: 229px;max-height:63px;}


.fixedwrap .search .type{border-right:none;position: relative;}
.type .line {width: 1px;height: 23px;position: absolute;z-index: 1;right:0;top:5px;background: #dcdcdc}
.fixedwrap .search .type .y-line{position: absolute;right: -2px;}
.w1200 .searchwrap{border: 1px solid #1e1e1e;background: #fff;}
.fixedwrap .search .submit{background: #ffd100 !important;color:#141414;}
.fixedwrap .search .inpbox input{color:#878787;}
.fixedwrap .search .type dd {display: none;position: absolute;top:22px;padding-top: 20px;left:-3px;width: 100px;}
.header .searchwrap {width: 424px;margin-left: 52px;float: left;margin-top: 6px;margin-right: 48px}
#header .search .type a{color: #333}
#header .search .inpbox input{color: #a0a0a0;}
.header .searchwrap{border: 2px solid #00AF62;background: none!important;}
#header .search .submit{background: #00AF62!important;color: #fff; }
#header .search .searchkey{    margin: 3px 0 7px;}

.serch_txt{font-size: 12px;color: #999;line-height: 12px;margin-top: 13px;}
.serch_txt a{display: inline-block;color: #999;margin-right: 13px;}
.serch_txt a:hover{color: #00AF62}

#header .kefu{margin-top: 0;font-size: 22px;font-weight: bold;    padding-left: 60px;}
#header .kefu s{font-weight: bold;font-size: 22px;color: #1F1F1F;width: 50px;height: 50px;    position: absolute;left: 0;top: 0;}
#header .kefu p{font-size: 16px}

/* 导航 */
.nav {height: 52px;
  background-image: -moz-linear-gradient( 0deg, rgb(0,175,98) 0%, rgb(26,188,121) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(0,175,98) 0%, rgb(26,188,121) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(0,175,98) 0%, rgb(26,188,121) 100%);
filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#07b368", endColorstr="#1abc79", gradientType="1");
box-shadow:0px 3px 8px 0px rgba(224,224,224,0.5);-moz-box-shadow:0px 3px 8px 0px rgba(224,224,224,0.5);-webkit-box-shadow:0px 3px 8px 0px rgba(224,224,224,0.5);-ms-box-shadow:0px 3px 8px 0px rgba(224,224,224,0.5);}
.nav ul {height: 52px;}
.nav li {float: left; _display: inline;position: relative;}
.nav li a {float: left; display: block; _display: inline; position: relative;padding: 0 35px;height: 52px; line-height: 52px; font-size: 16px; color: #fff;}
.nav li a:hover, .nav li a.curr {background-color: #019354; color: #fff;position: relative;}
.nav li a span {    height: 20px;line-height: 20px;margin-top: -2px;display: inline-block;vertical-align: middle;margin-right: 4px}
.nav li a .r img{width: 20px;height: 20px; }
/* 分页 */
.pagination {padding: 10px 0 30px; text-align: center; line-height: 40px; font-size: 14px; color: #333; margin-top: 30px;}
.pagination li {display: inline-block; margin-right: 5px; border: 1px solid #eee;}
.pagination li.page_current {background: #00AF62; color: #fff;}
.pagination li.page_disabled {display: none;}
.pagination li a, .pagination li span {display: block; padding: 0 16px;}
.pagination li a:hover {background: #00AF62; color: #fff;}
.pagination li.page_more span {background: #fff;color: #333; cursor: default;}
.pagination .page_info {display: none;}
/*条件筛选*/

.list_wrap{border: 1px solid #EAEAEA;}
.list_wrap dl{margin:0 20px;border-top: 1px dashed #EAEAEA;}
.list_wrap dl:first-child{border-top:none;}
.list_wrap dt{font-size: 14px;color: #666;margin-right: 25px;float: left;line-height: 50px;width: 70px;text-align: right;}
.list_wrap dd{margin-top: 12px; position: relative; overflow: hidden;}
.list_wrap dd a{display: inline-block;padding: 0 8px;font-size: 14px;color: #666;border: 1px solid #fff;border-radius: 2px;height: 26px;line-height: 26px;margin-right: 14px;}
.list_wrap dd a:hover{border: 1px solid #00AF62;color:#00AF62 }
.list_wrap dd a.curr{border: 1px solid #00AF62;color:#00AF62 }
.list_wrap .inpbox{display: inline-block;color: #000;}
.list_wrap .symbol{display: inline-block;position: relative;}
.list_wrap .rmb{position: absolute;left: 8px;top: 3px;color: #999;font-size: 14px;}
.list_wrap .inpbox .p1, .list_wrap .inpbox .p2 {width: 76px; padding: 0 4px; height: 26px; border: solid 1px #E8E8E8; line-height: 26px;  margin: 0 2px;background: #fff;color:#666;outline: none;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;padding-left: 18px}
.list_wrap .inpbox .btn {width:56px;height: 26px; display: inline-block;text-align:center; background: #00AF62; color: #fff; vertical-align: top; line-height: 24px; cursor: pointer; font-size: 14px;}
/* 排序 */
.orderby_head{height: 50px;background: #F7F7F7;border: 1px solid #EAEAEA;line-height: 50px;padding: 0 20px}
.orderby_head ul{float: left;}
.orderby_head ul li{float: left;margin-right: 30px;padding-right: 10px;position: relative;font-size: 14px;}
.orderby_head ul li.active a{color: #FF4E00}
.orderby_head .arrow.active{color: #FF4E00}
.orderby_head .arrow:before{content: "↓";display: inline-block;width: 6px; height: 12px;position: absolute;right: 0;top: 19px;line-height: 12px}
.orderby_head .arrow:after{content: "↑";display: inline-block;width: 6px; height: 12px;position: absolute;right: 0;top: 19px;line-height: 12px;display: none}
.orderby_head .arrow.curr:before{display: none;}
.orderby_head .arrow.curr:after{display: inline-block;}
.choose{float: left;}
.choose span{display: inline-block;padding-left: 23px;background:  url(../images/choose.png) no-repeat center left;font-size: 14px;margin-right: 30px;cursor: pointer;}
.choose span.active{background:  url(../images/check.png) no-repeat center left;}
.serch_count{float: right;font-size: 14px;color: #999;}
.serch_count #count{color: #F93A4D}


/*公共列表页*/
.org_li{border: 1px solid #EAEAEA; margin-top:20px;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transform:all .5s}
.org_li:hover{box-shadow:0px 5px 15px 0px rgba(163,163,163,0.23);}
.org_li .pic{width: 342px;height: 258px;float: left;}
.org_li .pic img{width: 100%;height: 100%;object-fit: cover;}
.org_li .content{margin-left: 342px;padding: 20px;height: 258px;box-sizing: border-box;-moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.content .list_title{font-size: 24px;}
.content .list_title a:hover{color: #00af62}
.content .list_title .service_icon{display: inline-block;width: 82px;height: 24px;background: url(../images/service.png) no-repeat center;margin-left: 12px;    vertical-align: middle;margin-top: -3px;}
.content .list_title .home_icon{display: inline-block;width: 24px;height: 24px;background: url(../images/home_icon1.png) no-repeat center;margin-left: 12px;vertical-align: middle;margin-top: -4px;}
/* .content .star{width: 108px;height: 17px;background: url(../images/star2.png) no-repeat center;margin-top: 8px;} */

.content .star{position: relative;background: url(../images/star_no.png) 0 0 repeat-x;width: 90px;height: 17px;margin-top: 8px;}
.content .star s {position: absolute;display: block;height: 17px;background: url(../images/star_yes.png) 0 0 repeat-x;}

.content .list_info{margin-top: 9px;}
.content .list_info .service1{background: #ccefe0;display: inline-block;padding:0 11px;height:26px;line-height: 26px;font-size: 14px;color: #00af62;border-radius: 13px;margin-right: 10px;}
.content .list_info .service2{color: #37b4db;background: #d7f0f8;display: inline-block;padding:0 11px;height:26px;line-height: 26px;font-size: 14px;border-radius: 13px;}

.content .list_info .info_ul{float: right;height: 20px;line-height: 20px;}
.list_info .info_ul li{float: left;color: #FF6600;margin-left: 16px;}
.list_info .info_ul span{font-size: 14px;color: #999;}
.list_info .info_ul i{font-size: 24px;font-weight: bold;font-style: normal;}

.content .info_left{float: left;}
.content .info_left dl{margin-top: 10px;}
.content .info_left dt{margin-right: 5px;display: inline-block;}
.content .info_left dd{display: inline-block;font-size: 14px;color: #666;}
.list_info2 .info_right{float: right;margin-top: 70px;}
.list_info2 #home_info_right{margin-top: 0;}
.list_info2 .info_right a{display: inline-block;width: 170px;height: 46px;line-height: 46px;text-align: center;border-radius:23px;font-size: 18px;margin-left: 10px;}
.list_info2 .info_right .detail_info{border:1px solid #00AF62;box-shadow:0px 5px 15px 0px rgba(1,147,84,0.17);color: #00AF62}
.list_info2 .info_right .award{  background-image: -moz-linear-gradient( -45deg, rgb(0,175,98) 0%, rgb(1,147,84) 100%);
  background-image: -webkit-linear-gradient( -45deg, rgb(0,175,98) 0%, rgb(1,147,84) 100%);
  background-image: -ms-linear-gradient( -45deg, rgb(0,175,98) 0%, rgb(1,147,84) 100%);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#00AF62", endColorstr="#019354", gradientType="1");
  box-shadow:0px 5px 15px 0px rgba(1,147,84,0.32);color: #fff;position: relative;}
.info_right .award i{display: inline-block;width: 21px;height: 20px;background: url(../images/gift.png) no-repeat center;    vertical-align: middle;margin-top: -4px;margin-right: 4px}
.list_info2 .info_right .detail_info:hover{background:  rgba(1,147,84,.1);}
.list_info2 .info_right .award:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);border-radius:23px;}
/*隐藏部分内容*/
.hide_content{margin-top: 20px;display: none;}
.top_con{padding: 15px 18px;background: #F5F5F5;}
.top_con .vis_info{padding-left: 30px;font-size: 14px;float: left;background: url(../images/news_icon.png) no-repeat left center; }
.top_con .vis_time{font-size: 14px;float: right;color: #999}
.vis_con{margin-top: 16px;}
.vis_con .visit_day{display: inline-block;width:77px;height:33px;background:#00AF62;text-align: center;line-height: 33px;color: #fff;font-size: 14px;margin-right: 8px;}
.vis_con .vis_info2{font-size: 14px;color: #999;}
.vis_con .order{color: #FF6600;font-size: 14px;cursor: pointer;}
.bottom_con{font-size: 14px;color: #666;padding: 26px 26px 30px 22px;line-height: 24px; }






/* 友情链接 */
.friend {margin-top: 30px;}
.friend dt {float: left; width: 95px; line-height: 12px; text-align: center; font-weight: 700;}
.friend dd {position: relative; overflow: hidden;}
.friend dd a {float: left; height: 12px; overflow: hidden; line-height: 12px; margin: 0 15px 10px 0; padding-right: 18px; border-right: 1px solid #e6e6e6;}

/* 版权 */
.footer {background: #444; padding: 30px 0 20px; color: #999;margin-top: 30px}
.footer a {color: #999;}
.footer a:hover {text-decoration: underline;}
.footer .about dl {float: left; width: 64px; margin: 0 55px 0 75px; color: #fff;}
.w1200 .footer .about dl {margin: 0 85px 0 90px;}
.footer .about dt {font-size: 16px; margin-bottom: 10px;}
.footer .about dd a {display: block; margin-bottom: 5px; color: #fff;}
.footer .about dd img {width: 64px; height: 64px;}
.footer .link {margin: 30px 0 20px;}
.footer p {text-align: center;}
.footer p a {padding: 0 8px;}

/* 导航条 */
.breadcrumb {overflow: hidden;}
.breadcrumb li {height: 60px;line-height: 60px;float:left;}
.breadcrumb li ,.breadcrumb li a {font-size: 14px;color:#666;}
.breadcrumb li.thispg {}
.breadcrumb li span {margin:0 5px;}
.breadcrumb li a:hover {color: #09b889;}

.list_wrap dl{position: relative;}
.list_wrap dd{position: relative;}
.wrap .area {position: relative;display: block;margin: 0 0 10px;padding: 0px 20px;border: none;clear: both;}
.wrap .area .pos-sub-item {line-height: 28px;}
.wrap .area .pos-sub-item a.curr {font-weight: 700;}
.wrap .area .pos-sub-item a {margin-right: 20px;}
.wrap .area a.curr {border: 1px solid #00AF62;color: #00AF62;padding: 0 8px;}
.empty{text-align: center;padding: 30px;}
