@charset "utf-8";

.list_wrap2{margin-top: 20px;}



/*预约弹出层*/
.org_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.7); z-index: 1002;display: none;}
.org_con{position: fixed; left: 50%; margin-left: -245px; top: 50%; margin-top: -240px; width: 490px;  box-sizing: border-box;background-color:#fff;  padding: 28px 30px 37px; z-index: 9999; border-radius: 6px;}
.org_con .close_alert{width: 16px;height: 16px;position: absolute;right: -37px;top: 0;cursor: pointer;}
.org_con p.t1{font-size: 24px;font-weight: bold;}
.org_con p.t2{font-size: 14px;color: #999;margin-top: 8px}

.org_con form{padding-top: 15px;}
.org_con form input{background: #f4f4f4;padding-left: 21px;height: 60px;line-height: 60px;-webkit-appearance:none;margin-top: 15px;font-size: 16px;color: #333;width: 100%;box-sizing: border-box;border-radius: 6px;border: none;}
.org_con form input::placeholder{color: #999}
.org_con ul{margin-top: 15px;}
.org_con ul li{width: 210px;height: 50px;text-align: center;line-height: 50px;border: 1px solid #00AF62;border-radius: 3px;font-size: 18px;cursor: pointer;background: #fff;color: #00AF62;}
.org_con ul li.cancel{float: left;}
.org_con ul li.sure{float: right;}
.org_con ul li.active{background:#00AF62;color: #fff; }
/*团队预约成功弹出层*/
.org_mask2{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.7); z-index: 1002;display: none;}
.org_con2{position: fixed; left: 50%; margin-left: -245px; top: 50%; margin-top: -140px; width: 490px;  box-sizing: border-box;background-color:#fff;  padding: 86px 30px 40px; z-index: 9999; border-radius: 6px;}
.org_con2 .close_alert{width: 16px;height: 16px;position: absolute;right: -37px;top: 0;cursor: pointer;}
.org_con2 p.t1{margin-top: 19px;font-size: 26px;font-weight: bold;text-align: center;}
.org_con2 p.t2{margin-top: 10px;font-size: 18px;text-align: center;color: #888}
.org_con2 p.t3{color: #fff;width: 140px;height: 44px;text-align: center;line-height: 44px;margin: 60px auto 0;cursor: pointer;background: #00af62;font-size: 18px;border-radius: 4px;}
/* 波纹效果 */
.org_con2 .wave {position:relative;width:50px;height:50px;text-align:center;margin:0 auto;}
.org_con2 .m-box{width:48px;height:48px;position:relative;margin: 0 auto;border-radius:50%;border:3px solid #00af62;background: #dff2ea}
.org_con2 .m-duigou{width:25px;height:18px;position:absolute;left:50%;top:50%;margin:-13px 0 0 -13px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden}
.org_con2 .m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#00af62;border-radius:2px}
.org_con2 .m-duigou:before{width:3px;height:15px;left:0;-webkit-animation:dgLeft 0.5s linear 0s 1 both;animation:dgLeft 0.5s linear 0s 1 both}
.org_con2 .m-duigou:after{width:25px;height:3px;bottom:0;-webkit-animation:dgRight 0.5s linear 0.5s 1 both;animation:dgRight 0.5s linear 0.5s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@keyframes circle-opacity {from {opacity:1;transform:scale(0);}
to {opacity:0.5;transform:scale(1);}
}



