@charset "utf-8";
.detail_left{width: 545px;float: left;}
.detail_right{margin-left: 567px}
.detail_right #info_left{float: none;padding-top: 8px}
.detail_right .price{padding: 15px 13px;background: #F7F7F7;font-size: 14px;color: #FF6600;margin-top: 10px}
.price em{font-size: 24px;font-weight: bold;}
.detail_award{margin-top: 22px}
.detail_award .award{display: inline-block;width: 170px;height: 46px;line-height: 46px;text-align: center;border-radius:23px;font-size: 18px;background:linear-gradient(135deg,rgba(0,175,98,1) 0%,rgba(1,147,84,1) 100%);box-shadow:0px 5px 15px 0px rgba(1,147,84,0.32);color: #fff;margin-left: 5px;position: relative;}
.detail_award .award i{display: inline-block;width: 21px;height: 20px;background: url(../images/gift.png) no-repeat center;    vertical-align: middle;margin-top: -4px;margin-right: 4px}
.detail_award .award:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);border-radius:23px;}
.content .list_title{padding-top: 10px}
.content .list_info{margin-top: 11px}
.content .star{margin-top: 15px}
.btn_group{height: 33px}
.btn_group .star{float: left;}
.store-btn{float: right;}
.btn_group button{background: none; border: none; outline: none; cursor: pointer; font-size: 14px; color: #878787;display: block; }
.btn_group button> em{display: inline-block; width: 16px; height: 14px; background-repeat: no-repeat;  vertical-align: middle; }
.store-btn button em{background-image: url(../images/like.png); background-position: top left; background-repeat: no-repeat;margin-right: 5px; }
.store-btn.curr button{color:#FB5845 }
.store-btn.curr button em{background-image: url(../images/like2.png); background-position: top left; background-repeat: no-repeat; }


.detail_wrap2{margin-top: 20px;border:1px solid #EAEAEA;}
/*选项切换*/
.detail_tab{width: 100%;background: #F7F7F7;overflow:hidden;position: relative;}
.detail_tab li{height: 50px;line-height: 50px;float: left;width: 140px;text-align: center;font-size: 16px;color: #333;cursor: pointer;}

.detail_tab:after{content: '';position: absolute;height: 1px;width: 100%;background:#EAEAEA;top: 51px;right: 0;left: 0}
.detail_tab li.active{background: #fff;border-top: 2px solid #00AF62;position: relative;z-index: 1;border-right: 1px solid #EAEAEA;border-left: 1px solid #EAEAEA;}
.detail_wrap2 .detail_con{display: none;-webkit-animation: rightFadeIn .5s ease-out;-moz-animation: rightFadeIn .5s ease-out;animation: rightFadeIn .5s ease-out;}
.detail_wrap2 .detail_show{display: block;}
/*公共头部*/
.org_head{margin-top: 37px}
.org_head2{margin-top: 60px;}
.type_title{font-size: 18px;font-weight: bold;padding-left: 13px;position: relative;padding-bottom: 12px;border-bottom: 1px solid #EAEAEA}
.type_title:before{content: "";display: inline-block;width: 4px; height: 24px;background: #00AF62;position: absolute;left: 0;top: 2px}
.type_tip{font-size: 16px;margin-top: 19px;}
.type_tip span{color: #999;}
.detail_con{padding: 21px 21px 26px;}
.top_con2{background: #F0FAF6;border: 1px solid #CCEFE0;}

/* 机构养老*/
.table_list{margin-top: 54px;}
.table1{border: 1px solid #EAEAEA;width: 100%;margin-bottom: 21px}
.table1 th{border: 1px solid #EAEAEA;text-align: center;font-size: 18px;background: #F7F7F7;}
.table1 tr{line-height: 49px;height: 49px}
.table1 td{border: 1px solid #EAEAEA;text-align: center;font-size: 16px;color: #666; line-height: 1.8em; padding: 10px;}
.table1 td:first-child{width: 18%;}
.table1 .spe_th{width: 24px;font-size: 24px;padding: 46px 34px;line-height: 28px;background: #fff}
.table2 .spe_th{padding: 81px 34px 82px;}
.table3 .spe_th{padding: 71px 34px 122px;}
.table4 .spe_th{padding: 71px 34px 72px;}
.table4{margin-bottom: 0}
#table5{margin-bottom: 21px}
/* 居家养老*/
.home_tab{margin-top: 20px}
.home_tab li{position: relative;width: 178px;height: 44px;border: 1px solid #00AF62;color: #00AF62;font-size: 16px;text-align: center;line-height: 44px;border-radius:3px;float: left;margin-left: 15px;cursor: pointer;}
.home_tab li:first-child{margin-left: 0}
.home_tab li.active{background: #00AF62;color: #fff}
.home_tab li.active:after{content: '';position: absolute;bottom:-9px;left: 50%;margin-left: -9px;width: 0;height: 0;border-left: 9px solid transparent;border-right: 9px solid transparent;border-top: 9px solid #00AF62;}
.tab_container{margin-top: 20px;}
.home_table1{border: 1px solid #EAEAEA;width: 100%;margin-bottom: 13px}
.home_table1 th{border: 1px solid #EAEAEA;text-align: center;font-size: 18px;background: #F7F7F7;}
.home_table1 tr{line-height: 49px;height: 49px}
.home_table1 td{border: 1px solid #EAEAEA;text-align: center;font-size: 16px;color: #666}
.home_table1 td span{color: #FF6600}
.home_table1 td:first-child{width: 24%}
.home_table1 td:nth-child(2){width: 36%}
.tab_container .tab_con{display: none;-webkit-animation: rightFadeIn .5s ease-out;-moz-animation: rightFadeIn .5s ease-out;animation: rightFadeIn .5s ease-out;}
.tab_container .tab_show{display: block;}

/* 旅居养老*/
.table_list2{margin-top: 25px;}
/*相册*/
.photo_con ul{padding-top: 20px;}
.photo_con li{float: left;margin-right: 16px;width: 570px;position: relative;margin-bottom: 20px}
.photo_con .photo_pic{width: 570px;height: 427px;overflow: hidden;cursor: pointer;}
.photo_con .photo_pic img{width: 100%;height: 100%;object-fit: cover;-webkit-transition:all .7s;-moz-transition:all .7s;-ms-transition:all .7s;-o-transition:all .7s;transform:all .7s}
.photo_con li:hover .photo_pic img {-webkit-transition:scale(1.1);-moz-transition:scale(1.1);-ms-transition:scale(1.1);-o-transition:scale(1.1);transform:scale(1.1)}
.photo_con .photo_txt{position: absolute;left: 0;bottom: 0;height: 46px;line-height: 46px;    background-color:rgba(0,0,0,.6);
text-align: center;width: 100%;color: #fff;font-size: 16px; filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7f000000, endcolorstr=#99000000);}

/*图片放大弹出层*/
.viewer-container.viewer-fixed {position:fixed;z-index:8000!important;background-color:rgba(51,51,51,.8)}
.viewer-footer .viewer-toolbar {width:0}
.viewer-toolbar .viewer-next,.viewer-toolbar .viewer-prev {position:fixed;top:50%;margin-top:-30px;width:50px;height:50px;cursor:pointer;border-radius:50%;background-color:#000;background-color:rgba(0,0,0,.5)}
.viewer-toolbar .viewer-next:before {width:50px;height:50px;margin:0;background-image: url(../images/big-r.png);background-position: 50%;}
.viewer-toolbar .viewer-prev:before {width:50px;height:50px;margin:0;background-image:url(../images/big-l.png);    background-position: 50%;}
.viewer-next {right:20px}
.viewer-prev {left:20px}
.viewer-footer .viewer-toolbar>.viewer-next,.viewer-footer .viewer-toolbar>.viewer-prev {background:#000;opacity:.4}
.viewer-footer .viewer-toolbar>.viewer-next:hover,.viewer-footer .viewer-toolbar>.viewer-prev:hover {background:#000;opacity:1}
.viewer-container .viewer-button {width:38px;height:38px;top:20px;right:20px;background-color:#000;opacity:.4}
.viewer-container .viewer-button:hover {background-color:#000;opacity:1}
.viewer-container .viewer-button:before {bottom:10px;left:10px;width:18px;height:18px;background-image:url(../images/close_alert.png);    background-position: 50%;}
.viewer-footer {height:0}
.viewer-canvas {position:relative1!important}
.viewer-canvas img {position:absolute!important;top:0!important;left:0!important;bottom:0!important;right:0!important;margin:auto!important}
.viewer-footer {height:0}

/*详细信息*/
.info_con{padding-top: 40px;padding-bottom: 50px;}
.info_con .detail_txt1 p{font-size: 16px;color: #666;line-height: 30px;margin-top: 20px}
.info_con .detail_txt1 .text2{margin-top: 40px;}
.info_con .detail_txt2{margin-top: 55px;}
.detail_txt2 ul{padding-left: 50px;padding-top: 7px}
.detail_txt2 li{font-size: 16px;color: #666;margin-top: 16px;}
.detail_txt2 li span:first-child{color: #999;margin-right: 18px;display: inline-block;width: 176px;text-align: right;vertical-align: top}
.detail_txt2 .text_note{max-width: 620px;display: inline-block;line-height: 34px;}

/*地图*/
.map_tip{padding: 8px 37px 25px;background: #F0FAF6;border: 1px solid #CCEFE0;margin-bottom: 35px;}
.map_tip li{font-size: 16px;margin-top: 15px;}
.map_tip li span{color: #00AF62;margin-right: 10px;display: inline-block;width: 80px;text-align: right;}
#allmap{width:100%;height:600px;}



/*评论*/
.comment_con{}
.comment_h3{font-size: 18px;font-weight: bold;}
.comm_con1{margin-top: 15px;padding-bottom: 13px;border: 1px solid #DCDEE3}
.star_choose{height: 50px;line-height: 50px;background: #F7F7F7;padding-left: 21px;}
.star_choose .comm_head{color: #A1A1A1;margin-right: 14px;font-size: 14px;}

.star_ul{display: inline-block;vertical-align: middle;margin-top: -5px}
.star_ul li{float: left;margin-right: 5px;width: 18px;height: 17px;background: url(../images/star_no.png) no-repeat center;cursor: pointer;}
.star_ul li.active{background: url(../images/star_yes.png) no-repeat center;}
.star_choose .star_tip{color: #666;display: inline-block;margin-left: 22px;font-size: 14px}
.star_choose .star_tip span{display: none}
.star_choose .star_tip span.tip_show{display: inline-block;}
.comm_con1 .textarea{padding: 7px 0;font-size: 14px;min-height: 70px;margin: 10px 24px 0;width: 97%;resize: none;border: none}
/*图片上传*/
.img_box{ background: #fff;padding-left: 23px;margin-top: 10px}
.img_box li{width: 96px; height: 96px;  background-color: #fff; float: left; position: relative; margin-bottom: 10px;border: 1px solid #e5e5e5;margin-right: 10px}

.img_show {width: 96px; height: 96px;overflow: hidden; position: relative;}
.del_btn{position: absolute;bottom: 0; right: 0;width: 30px; height: 30px; z-index:3;background: url(../images/delete.png) no-repeat center;cursor: pointer;font-size: 0}
.img_box img{width: 100%;height: 100%;object-fit: cover}
.upload_btn p,.addbtn p{font-size: 14px; color: #999; text-align: center; margin: auto; }
.upload_btn img{width: 36px; height: 31px; margin: auto; display: block; margin-top: 23px; margin-bottom: 10px;}
.upload_btn input{width: 96px; height: 96px; position: absolute; top: 0; left: 0; opacity: 1;z-index: 10;}
.upload_btn,.addbtn{position: relative;}
#filePicker{height: 100%; overflow: hidden;}
.webuploader-element-invisible {position: absolute !important; clip: rect(1px,1px,1px,1px);}
.webuploader-container div {width: 96px; height: 96px;}


.comm_member{margin-top: 10px;padding-right: 11px;}
.comm_member .np-login {float: left;line-height: 30px;padding: 5px 0 0 26px;font-size: 14px;}
.comm_member .np-login .u img {float: left;width: 30px;height: 30px;vertical-align: middle;border-radius: 20px;}
.comm_member .np-login .u .com{margin-left: 8px}
.comm_member .np-login .logout{color: #999;margin-left: 8px}
.subtn{width:90px;height:36px;background:#019354;border-radius:3px;text-align: center;line-height: 36px;color: #fff;font-size: 18px;float: right;position: relative;}
.subtn:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);}
.subtn:hover{color: #fff}
.public_com{background: #F7F7F7;margin-top: 70px;padding: 36px 20px;}
.pub1{display: inline-block;position: relative;height: 39px;line-height: 39px;border-right: 1px solid #EAEAEA;padding-right: 56px;}
.pub1 .all_pub{font-size: 16px;margin-right: 30px}
.pub1 .all_num{font-size: 48px;color: #FF6600;margin-right: 35px;    display: inline-block;vertical-align: middle;margin-top: -8px;}

/* .pub1 i{display: inline-block;width: 108px;height: 17px;background: url(../images/star2.png) no-repeat center;} */
.pub1 .judge-star{position: relative;background: url(../images/star_no.png) 0 0 repeat-x;width: 90px;height: 17px;margin-top: 8px;display: inline-block;}
.pub1 .judge-star s {position: absolute;display: block;height: 17px;background: url(../images/star_yes.png) 0 0 repeat-x;}

.comm_ul{display: inline-block;padding-left: 48px;vertical-align: top;margin-top: 8px}
.comm_ul li{float: left;padding-left: 24px;font-size: 14px;color: #666;background: url(../images/no_check.png) no-repeat left center;cursor: pointer;margin-right: 30px;}
.comm_ul li.active{color: #FF7220;background: url(../images/checked.png) no-repeat left center;}
.comm_con2 .all_con{margin-top: 30px;display: none;-webkit-animation: rightFadeIn .5s ease-out;-moz-animation: rightFadeIn .5s ease-out;animation: rightFadeIn .5s ease-out;}
.comm_con2 .all_show{display: block;}
.comm_h3{font-size: 18px;font-weight: bold;padding-top: 16px;border-top: 1px solid #eee}
.comm_h3 .con_num{color: #999;font-weight: normal;}
.all_ul{padding: 0 40px}
.comm_li{padding: 40px 0;border-bottom: 1px solid #EEEEEE}

.comm_li .pic_l{width: 50px;height: 50px;float: left;}
.comm_li .pic_l img{width: 100%;height: 100%;object-fit: cover;}
.comm_li .right_c{margin-left: 68px;}
.right_c .peo_name{font-size: 14px;height: 11px;line-height: 11px;margin-top: 5px;}

/* .right_c .star_img{width: 108px;height: 17px;margin-top: 10px;} */
.right_c .star_img{position: relative;background: url(../images/star_no.png) 0 0 repeat-x;width: 90px;height: 17px;margin-top: 8px;}
.right_c .star_img s {position: absolute;display: block;height: 17px;background: url(../images/star_yes.png) 0 0 repeat-x;}

.right_c .comm_p{font-size: 14px;margin-top: 18px;}
.comm_li ul{margin-top: 18px;}
.right_c li{float: left;margin-right: 6px;margin-bottom: 6px;cursor: pointer;}
.right_c .pub_time{font-size: 14px;color: #999;margin-top: 20px}

.pub_time .pub_hd{float: right;}
.pub_hd span{display: inline-block;}
.pub_hd .reply{padding-left: 22px;background: url(../images/reply.png) no-repeat left 4.5px;margin-right: 20px;cursor: pointer;display: none}
.pub_hd .zan_num{padding-left: 18px;background: url(../images/zan.png) no-repeat left 2px;cursor: pointer;}
.pub_hd .zan_num.active{background: url(../images/zan1.png) no-repeat left 2px;}


/*预约弹出层*/
.org_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.7); z-index: 1002;display: none;}
.org_conn{position: fixed; left: 50%; margin-left: -245px; top: 50%; margin-top: -240px; width: 490px;  box-sizing: border-box;background-color:#fff;  padding: 28px 30px 37px; z-index: 9999; border-radius: 6px;}
.org_conn .close_alert{width: 16px;height: 16px;position: absolute;right: -37px;top: 0;cursor: pointer;}
.org_conn p.t1{font-size: 24px;font-weight: bold;}
.org_conn p.t2{font-size: 14px;color: #999;margin-top: 8px}

.org_conn form{padding-top: 15px;}
.org_conn form input{background: #f4f4f4;padding-left: 21px;height: 60px;line-height: 60px;-webkit-appearance:none;margin-top: 15px;font-size: 16px;color: #333;width: 100%;box-sizing: border-box;border-radius: 6px;border: none;}
.org_conn form input::placeholder{color: #999}
.org_conn ul{margin-top: 15px;}
.org_conn ul li{width: 210px;height: 50px;text-align: center;line-height: 50px;border: 1px solid #00AF62;border-radius: 3px;font-size: 18px;cursor: pointer;background: #fff;color: #00AF62;}
.org_conn ul li.cancel{float: left;}
.org_conn ul li.sure{float: right;}
.org_conn ul li.active{background:#00AF62;color: #fff; }
/*团队预约成功弹出层*/
.org_mask2{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.7); z-index: 1002;display: none;}
.org_con2{position: fixed; left: 50%; margin-left: -245px; top: 50%; margin-top: -140px; width: 490px;  box-sizing: border-box;background-color:#fff;  padding: 86px 30px 40px; z-index: 9999; border-radius: 6px;}
.org_con2 .close_alert{width: 16px;height: 16px;position: absolute;right: -37px;top: 0;cursor: pointer;}
.org_con2 p.t1{margin-top: 19px;font-size: 26px;font-weight: bold;text-align: center;}
.org_con2 p.t2{margin-top: 10px;font-size: 18px;text-align: center;color: #888}
.org_con2 p.t3{color: #fff;width: 140px;height: 44px;text-align: center;line-height: 44px;margin: 60px auto 0;cursor: pointer;background: #00af62;font-size: 18px;border-radius: 4px;}
/* 波纹效果 */
.org_con2 .wave {position:relative;width:50px;height:50px;text-align:center;margin:0 auto;}
.org_con2 .m-box{width:48px;height:48px;position:relative;margin: 0 auto;border-radius:50%;border:3px solid #00af62;background: #dff2ea}
.org_con2 .m-duigou{width:25px;height:18px;position:absolute;left:50%;top:50%;margin:-13px 0 0 -13px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden}
.org_con2 .m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#00af62;border-radius:2px}
.org_con2 .m-duigou:before{width:3px;height:15px;left:0;-webkit-animation:dgLeft 0.5s linear 0s 1 both;animation:dgLeft 0.5s linear 0s 1 both}
.org_con2 .m-duigou:after{width:25px;height:3px;bottom:0;-webkit-animation:dgRight 0.5s linear 0.5s 1 both;animation:dgRight 0.5s linear 0.5s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@keyframes circle-opacity {from {opacity:1;transform:scale(0);}
to {opacity:0.5;transform:scale(1);}
}

.loading{text-align: center;padding: 20px;}
.commentList li img{width: 50%;}
/* 分页 */
.pagination1 {padding: 10px 0 30px; text-align: center; line-height: 40px; font-size: 14px; color: #333; margin-top: 30px;}
.pagination1 span, .pagination1 a {display: inline-block; margin-right: 5px; border: 1px solid #eee;padding: 0 16px;}
.pagination1 span.curr {background: #00AF62; color: #fff;}

/*国际区号*/
.inpbdr{position: relative;border-radius: 6px;background: #f4f4f4;margin-top: 15px;}
.inpbdr .areaCode{background: #f4f4f4;font-size: 14px;line-height: 60px;width: 80px;text-align: center;}
.org_conn form input#org_phone{margin-top: 0;padding-left: 90px;}
.areaCode_wrap li{border: none!important;border-radius: 0!important;color: #333!important;text-align: left!important;}
.inpbdr .areaCode_wrap{top: 60px;width: 430px;}
.inpbdr .areaCode s{position: relative;top: 0;right: 0;vertical-align: middle;display: inline-block;margin-left: 5px;margin-top: 2px}
