.main_wrap{background: #f5f5f5;padding-bottom: 34px;padding-top: 20px;}
.b-main .NavList{display: none;animation: topFadeIn .5s ease-out;}
.b-main .NavList.navshow{display: block;}

.fabu_head{background: url(../images/head_bg.png) no-repeat center center;height: 230px;color: #fff;}
.head_wrap{padding-left: 264px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.fabu_head .fabu_tit{font-size: 36px;padding-top: 35px;}
.fabu_head .tip{font-size: 16px;margin-top: 10px;}
.fabu_head ul{font-size: 0;margin-top: 30px;}
.fabu_head ul li{width: 133px;height: 38px;border:1px solid #fff;font-size: 18px;font-weight: bold;display: inline-block;border-radius: 20px;text-align: center;line-height: 36px;}
.fabu_head ul li.fan{background: #fff;margin-right: 10px;}
.fabu_head ul li.fan a{color: #F56447}
.fabu_head ul li.guan a{color: #fff}


.fabu_content{width: 1002px;background: #fff;margin: 0 auto;padding-top: 20px;}
.fabu_content .fabu_top{background: #FFF9F7;border-radius: 8px;margin: 0 auto;width: 960px;height: 116px;line-height: 128px;}

.fabu_content .fabu_top i{display: inline-block;background: url(../images/light.png) no-repeat center center;width: 45px;height: 50px;vertical-align: middle;margin-left: 160px;margin-top: -20px;}
.fabu_content .fabu_top .notice{font-size: 20px;color: #FF2A08;font-weight: bold;margin-left: 24px;}
.fabu_content .fabu_top .tip{font-size: 16px;color: #FF2A08;margin-left: 20px;}

.fabu_choose{margin-top: 55px;}
 .adv_tip{font-size: 28px;color: #39393B;font-weight: bold;margin-left: 172px;}
 .adv_tip span{font-size: 24px;color: #39393B;font-weight: normal;margin-left: 12px;}
.fabu_choose ul{padding: 0 168px 0 176px;margin-top: 29px;}
.fabu_choose ul li{margin-bottom: 20px;padding: 0 16px;border-radius: 8px;border: 1px solid #E6E8ED;padding-left: 0;height: 79px;line-height: 79px;cursor: pointer;}
.fabu_choose ul li span{display: inline-block;}
.fabu_choose .span_day{font-size: 26px;color: #39393B;text-align: center;width: 107px;height: 24px;line-height: 24px;position: relative;}
.fabu_choose .span_day:after{content: '';display: inline-block;width: 1px;height: 33px;background: #D3D6E3;position: absolute;right: 0;top: -3px;}
.fabu_choose .top_day{font-size: 20px;color: #8D8E91;padding-left: 20px;}

.fabu_choose .top_price{font-size: 24px;color: #FF653B;float: right;display: inline-block;}
.fabu_choose ul li .discount{font-size: 21px;color: #fff;background: url(../images/discount.png) no-repeat center center;width: 106px;height: 56px;text-align: center;line-height: 52px;}
.fabu_choose ul li del{font-size: 20px;color: #FFB5A1;margin-right: 10px;}
.fabu_choose ul li.active{background: url(../images/check_li.png) no-repeat center center;border: none;}

.choose3{margin-top: 55px;padding-bottom: 60px;}
.choose3 ul{font-size: 0;padding: 0 168px 0 176px;margin-top: 20px}
.choose3 li{display: inline-block;font-size: 23px;padding-left: 34px;background: url(../images/nochoose.png) no-repeat left 11px;cursor: pointer;}
.choose3 li .tit_price{font-size:20px;color: #FF653B;margin-left: 42px;}
.choose3 li .tit_price em{font-size:26px;}

.choose3 li:first-child{margin-right: 70px;}
.choose3 li.active{background: url(../images/choose.png) no-repeat left 11px;}
.pay_wrap{background: #fff;box-shadow:0px -5px 23px 0px rgba(8,15,50,0.05);height: 78px;line-height: 78px;}
.pay_wrap .fu{margin-left: 21px;font-size: 22px;color: #39393B}
.pay_wrap .countPrice{margin-left: 6px;font-size: 30px;color: #FF653B}
.pay_wrap .buy{float: right;display: inline-block;width: 270px;text-align: center;background: url(../images/bug_bg.png) no-repeat center center;line-height: 78px;font-size: 30px;color: #fff;font-weight: bold;}
.pay_wrap .buy a{color: #fff;display: block;}