
.main_wrap{background: #f5f5f5;padding-bottom: 44px;}
.banner{overflow: hidden;min-width: 1920px;height: 530px;position: relative;width: 100%;text-align:center;}
.banner img{width:auto;}
.banner .banner-bg{width: 100%;min-height: 136px;background: url(../images/33.png) no-repeat center center;background-size: 100% 100%;position: absolute;bottom:  -1px;z-index: 2;left:0;}
/*用车身份*/
.tab-wrap{background: #fff;border-radius: 22px;box-shadow:0px 9px 24px 0px rgba(26,84,188,0.08);padding: 14px;position: relative;margin-top: -145px;z-index: 2; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.tab-wrap .main-tab{background: url(../images/tab-bg.png) no-repeat center center;padding: 24px 38px 31px;background-size: cover}
.main-tab ul{display: inline-block;}
.main-tab ul li{float: left;height: 58px;padding: 0 52px;text-align: center;background: #EBF3FD;cursor: pointer;position: relative;}
.main-tab ul li strong{font-size: 20px;color: #333;display: block;margin-top: 10px;line-height: 1}
.main-tab ul li p{font-size: 13px;color: #5E6A82;margin-top: 2px;}
.main-tab ul li.useCar{border-radius:6px 0px 0px 6px;}
.main-tab ul li.owner{border-radius:0px 6px 6px 0px;}
.main-tab ul li.active{background: #3173F7}
.main-tab ul li.active strong{color: #FDFDFE}
.main-tab ul li.active p{color: #A1BAFF}
.main-tab ul li.active:after{content: '';display: inline-block;width: 20px;height: 10px;position: absolute;bottom: -10px;left: 50%;margin-left: -10px;background: url(../images/arr-down.png) no-repeat center center;background-size: cover;}
/*出发地 目的地*/
.c_bot {margin-top: 26px;}
.c_bot .serButton{float: right;width: 180px;height: 60px;text-align: center;line-height: 60px;background: #3173F7;border-radius: 10px;font-size: 24px;color: #FDFDFE;cursor: pointer;}
.c_bot .city-wrap{margin-right: 200px;position: relative;overflow: hidden;height: 60px;}

.c_bot input{display: inline-block;-webkit-appearance:none;background: none;font-size: 20px;color: #333; -webkit-transform: translateZ(0);transform: translateZ(0);-webkit-transition: .3s;-o-transition: .3s;transition: .3s;width: 368px;outline:none; border: none;height: 20px;padding:19px 20px;}
.city-wrap>div{border-radius: 10px;border: 1px solid #BEC7D4;}
.c_bot .start-div{float: left;}
.c_bot .end-div{float: right;}
.c_bot input::-webkit-input-placeholder {/* Chrome/Opera/Safari */color: #999;}
.c_bot input::-moz-placeholder {/* Firefox 19+ */color: #999;}
.c_bot input:-ms-input-placeholder {/* IE 10+ */color: #999;}
.c_bot input:-moz-placeholder {/* Firefox 18- */color: #999;}
.c_bot em.changecity{width: 30px;height: 30px;position: absolute;top: 50%;margin: 0 auto;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);text-align: center;-webkit-box-sizing: border-box;box-sizing: border-box;z-index: 1;left: 0;right: 0;cursor: pointer;}
.c_bot em.changecity s{display: block;width: 100%;height: 100%;background:url(../images/fan.png) no-repeat center center;background-size: 30px;}

.c_bot .choose {color: rgba(51, 51, 51, .9)}
.c_bot .left_move {opacity: 0 !important;-webkit-transform: translate3d(80%, 0, 0) !important;transform: translate3d(80%, 0, 0) !important}
.c_bot .right_move {opacity: 0 !important;-webkit-transform: translate3d(-80%, 0, 0) !important;transform: translate3d(-80%, 0, 0) !important}
.c_bot .changecity .transform {-webkit-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;-webkit-transform: rotate(1turn);-ms-transform: rotate(1turn);transform: rotate(1turn)}

/*乘用车*/
.c_top{margin-top: 32px;}
.c_top>div{font-size: 0;float: left;}
.c_top>div.carPub:before{content: '';display: inline-block;width: 1px;height: 14px;background: #ddd;margin-right: 30px;margin-top: -10px;vertical-align: middle;}
.c_top span{font-size: 14px;color: #999;display: inline-block;margin-right: 30px;cursor: pointer;}
.c_top span.checked{color: #333;font-weight: bold;}
.c_top span:hover{color: #333;font-weight: bold;}
.c_top.ownerCon{display: none;}

/*列表样式*/
.content-wrap{margin-top: 30px;}
.comm-wrap{background: #fff;width: 590px;box-shadow:0px 9px 24px 0px rgba(26,84,188,0.08);
border-radius:22px;}
.user-wrap{float: left;}
.owner-wrap{float: right}
.comm-top{padding: 14px 20px 2px;}
.comm-top strong.sTitle{font-size: 24px;color: #1A1B21;margin-right: 10px;}
.comm-top em{font-size: 14px;color: #999;vertical-align: top;margin-top: 8px;display: inline-block;}
.comm-top p.infoNum{float: right;font-size: 14px;color: #8990B2;margin-top: 8px}

.list{position: relative;}
.list li{padding: 0 20px;}
.list li:hover{background: #f2f2f2}
.list li a{display: block;padding: 20px 0;border-bottom: 1px solid #EBEBED;position: relative;padding-top: 16px}
.list li .top_con{padding-bottom: 10px;}
.list li .li_top .pubTime{float: right;font-size: 14px;color: #B7B9C4;margin-top: 6px;}
.list li .li_top .left_place{position: relative;margin-right: 130px;}

.list li h2.liTitle{display: inline-block;font-size: 18px;font-weight: bold;color: #303133;}
.list li h2.liTitle s{display: inline-block;width: 44px;height: 10px;background:url(../images/placeFan.png) no-repeat center center;background-size:cover;margin-left: 12px;margin-right: 10px;vertical-align: top;    margin-top: 10px;}
.list li h2.liTitle span{display: inline-block;max-width: 144px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
/*.list li h2.liTitle span.s2{vertical-align: top;}*/
.list li em.topFlag{display: inline-block;background:linear-gradient(90deg,rgba(255,228,161,1) 0%,rgba(255,217,135,1) 100%);border-radius:8px 6px 6px 2px;height: 22px;line-height: 22px;font-size: 12px;color: #8E5E26;font-weight: bold;margin-left: 8px;padding: 0 9px;vertical-align: top;margin-top: 2px;}

.list li .car-type{display: inline-block;height: 22px;line-height: 22px;border-radius: 4px;padding: 0 10px;font-size: 13px;color: #fff;font-weight: bold; margin-right: 10px}
.list li .car-type.car{background:linear-gradient(90deg,rgba(68,115,255,1) 0%,rgba(66,133,255,1) 100%);}
.list li .car-type.truck{background:linear-gradient(90deg,rgba(0,200,132,1) 0%,rgba(36,194,129,1) 100%);}

.list li .startTime{margin-top: 12px;}
.list li .startTime strong.startDay{font-size: 16px;color: #47484D;font-family: arial;}
.list li .startTime span.startWeek{font-size: 14px;color: #47484C;margin-left: 10px}
.list li .startTime strong.daycar{font-size: 15px;color: #47484D;}
.list li .carInfo {font-size: 0;}
.list li .carInfo p.car-info{display: inline-block;width: 380px;vertical-align: top;height: 22px;overflow: hidden;}
.list li .carInfo p.car-info span{display: inline-block;height: 22px;line-height: 22px;font-size: 12px;color: #8990B3;background: #F0F1F7;border-radius: 3px;margin-right: 10px;padding: 0 8px;    vertical-align: top;}
.list li .call{position: absolute;right: 0;bottom: 19px;background:linear-gradient(90deg,rgba(64,127,255,1) 0%,rgba(51,119,255,1) 100%);border-radius:17px;height: 34px;line-height: 34px;color: #fff;font-size: 14px;font-weight: bold; padding: 0 22px;border:none;outline: none;cursor: pointer;z-index: 2;}
.list li .call:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10); -moz-opacity:0.1;-khtml-opacity: 0.1;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=10);border-radius:17px;}
.list li .call.phoneNum{display: none;-webkit-animation: rightFadeIn .3s ease-out; -moz-animation: rightFadeIn .3s ease-out; animation: rightFadeIn .3s ease-out;}
.list li .call span{position: relative;z-index:2;}
.seeMore{padding: 20px;text-align: center;}
.seeMore a{display: inline-block;height: 42px;line-height: 42px;border-radius:6px;background: #EDEFF3;padding: 0 28px;font-size: 14px;color: #8990B2}
.seeMore a:hover{background: #e2e7f2}
.empty{text-align: center;line-height: 88px;}
