@charset "utf-8";
.main_wrap{background: #f5f5f5;padding-bottom: 40px;}
.detail_wrap1{padding: 20px;background: #fff; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;position: relative;box-shadow:0px 8px 10px 0px rgba(0, 0, 0, 0.04);}
.over_icon{display: inline-block;width: 115px;height: 115px;background: url(../images/overdue.png) no-repeat center center;position: absolute;right: 20px;bottom: 20px}


.detail_top{border-bottom: 1px solid #eee;padding-bottom: 14px;position: relative;padding-right: 20px}
.detail_top .liTitle{font-size: 24px;font-weight: bold;color: #333;    padding-right: 150px;}
.detail_top .liTitle s{display: inline-block;width: 44px;height: 10px;background:url(../images/placeFan.png) no-repeat center center;background-size:cover;margin-left: 12px;margin-right: 10px;vertical-align: middle;    margin-top: -4px;}
.detail_top .show_info{margin-top: 14px}
.detail_top .carInfo {float: left;font-size: 0;    padding-right: 15px;}
.detail_top .show_info span.car-type{display: inline-block;height: 22px;line-height: 22px;border-radius: 4px;padding: 0 10px;font-size: 13px;color: #fff;font-weight: bold; margin-right: 10px;}
.detail_top .car-type.car{background:linear-gradient(90deg,rgba(68,115,255,1) 0%,rgba(66,133,255,1) 100%);}
.detail_top .car-type.truck{background:linear-gradient(90deg,rgba(0,200,132,1) 0%,rgba(36,194,129,1) 100%);}

.detail_top .carInfo p.car-info{display: inline-block;}
.detail_top .carInfo p.car-info span{display: inline-block;height: 22px;line-height: 22px;font-size: 12px;color: #8990B3;background: #F0F1F7;border-radius: 3px;margin-right: 10px;padding: 0 10px}

.detail_top .show_info span{font-size: 14px;color: #9C9DA1;display: inline-block;margin-right: 30px}
.detail_top .show_info span.time{margin-right: 18px}
.detail_top .show_info span.see_num{padding-left: 27px;background: url(../images/eye.png) no-repeat left center;}
.detail_top .show_info span.like_num{padding-left: 20px;background: url(../images/store.png) no-repeat left center;}
.detail_top .show_info span.comm_num{padding-left: 22px;background: url(../images/comm.png) no-repeat left center;}

.btn_group{overflow:hidden;position: absolute;right: 0;top: 0}

.btn_group button{background: none; border: none; outline: none; cursor: pointer; font-size: 14px; color: #5E5E5E;float: left; text-align: center;}
.btn_group em{display: block; width: 22px; height: 18px; background-repeat: no-repeat;  vertical-align: middle; }
.store-btn {float: left;}
.store-btn button em{background-image: url(../images/like.png); background-position: top left; background-repeat: no-repeat;margin: 0 auto }
.store-btn.curr button em{background-image: url(../images/like2.png); background-position: top center; background-repeat: no-repeat;margin: 0 auto }
.share-btn  em{background-image: url(../images/share.png); background-position: top center; background-repeat: no-repeat;margin: 0 auto }
.share-btn{float: left;margin-left: 26px;position: relative;}
#sharre{position: absolute;width: 28px;height: 47px;top: 0;left: 0;right: 0;bottom: 0;opacity: 0}
.btn_group span{margin-top: 8px;display: inline-block; font-size: 14px; }


.video_icon {position: absolute; z-index: 10; left: 5px; bottom:75px; width: 46px;	height: 46px; background: url('../images/Icon_play.png'); background-size: 46px 46px; cursor: pointer;}
.popupVideo {position: absolute; left: 0; top: 0; right: 0; height: 340px; z-index: 50;}
.popupVideo .close {position: absolute; top: 0; right: 0; width: 50px; height: 50px; background: rgba(0,0,0,.5); border-radius: 50%; text-align: center; line-height: 42px; color: #fff; z-index: 10; font-size: 50px;}
.video-js .vjs-big-play-button:active, .video-js .vjs-big-play-button:focus, .video-js:hover .vjs-big-play-button,.video-js .vjs-play-progress, .video-js .vjs-volume-level{
	background-color: #fd4939!important;
}


.list_info{padding-right: 15px;padding-top: 26px;overflow:hidden;}
.info_left {float: left;width: 650px;}
.info_left dl{font-size: 0;margin-bottom: 20px;}
.info_left dt,.info_left dd{font-size: 14px;line-height: 24px;}
.info_left dt{color: #999;float: left;width: 80px;}
.info_left dd{margin-left: 90px;vertical-align: top;}
.info_left dl.letter1 dt{    letter-spacing: -.33px;}
.info_left dl.letter2 dt{    letter-spacing: -.43px;}
.info_left s.add-s{display: inline-block;width: 26px;height: 12px;background: url(../images/add-s.png) no-repeat left center;background-size: cover;margin-left: 10px;margin-right: 10px;}
.info_left i.contact{display: inline-block;background: url(../images/contact.png) no-repeat left center;width: 85px;height: 25px;background-size: cover;margin-left: 15px;vertical-align: top;position: relative;cursor: pointer;}
.info_left i.contact:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10); -moz-opacity:0.1;-khtml-opacity: 0.1;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=10);}




.report_info {margin-top: 50px;overflow: hidden;float: right;background: #F7F8FC;border-radius: 6px;padding: 16px 20px;}
.report_info .rep_l{width: 56px;height:42px;float: left; }
.report_info .rep_r{margin-left: 68px;padding-top: 6px;}
.report_info .rep_r .rep_tit{font-size: 12px;color: #5B71AB}
.report_info .rep_r .rep_tit a{text-decoration: underline;color:#5B71AB }
.report_info .rep_r .rep_tip{font-size: 12px;color: #A6A7AB}

.info_ul{overflow: hidden;margin-top: 20px;}
.info_ul li{float: left;height: 66px;font-size: 22px;color: #fff;cursor: pointer;position: relative;z-index: 2}
.info_ul li:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10); -moz-opacity:0.1;-khtml-opacity: 0.1;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=10);border-radius: 6px;}

.info_ul li a{color: #fff;display: block;position: relative;z-index: 9}

.info_ul li.call{font-size: 0;}
.info_ul li.call i{width: 70px;height: 66px;float: left;background: #FF9C1C url(../images/iphone.png) no-repeat center center;border-radius:6px 0px 0px 6px;}
.info_ul li.call .phone_info{min-width: 190px;text-align: center;background: #FFB556;display: inline-block;height: 66px;vertical-align: top;border-radius:0px 6px 6px 0px;line-height: 66px;font-size: 22px;color: #fff;padding: 0 20px;box-sizing: border-box;}
.info_ul li.call .phone_info span{position: relative;z-index: 2}
/*.info_ul li.call span.realCall{display: none}*/

.list-mid {width:960px;margin-top:30px;padding-bottom: 34px;float: left;}
.list-lead {height:60px;border-bottom:1px solid #eee;float:left;background-color:#fff;padding-left: 48px;width: 100%; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.list-lead ul li {height:58px;line-height:58px;float:left;text-align:center;padding: 0 18px;margin-right: 50px;}
.list-lead ul li a {display:block;height:58px;line-height:58px;text-align:center;font-size:18px;}
.list-lead ul li.current {border-bottom:2px solid #3478FF;font-weight: bold;}


/*詳情*/
.lm-txt {font-weight:normal;float:left;padding:40px 30px 27px;background: #fff;width: 100%; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.lm-txt .lm_con .blue{color: #5B71AB}
.lm-txt .lm_con{font-size: 16px;color: #39393B;padding-bottom: 20px;}
.lm-txt img{max-width: 100%;height: auto;margin-top: 20px;display: block;}

.emptyNote{text-align:center;}


.footer.gray{margin-top: 0}

.news_r{float: right;width: 220px;margin-top: 30px}
.news_r .adv{width: 220px;}
.news_r .adv img{max-width: 100%;height: 100%;object-fit: cover;}



/*图片放大弹出层*/
.viewer-container.viewer-fixed {position:fixed;z-index:99999!important;background-color:rgba(51,51,51,.8)}
.viewer-footer .viewer-toolbar {width:0}
.viewer-toolbar .viewer-next,.viewer-toolbar .viewer-prev {position:fixed;top:50%;margin-top:-30px;width:50px;height:50px;cursor:pointer;border-radius:50%;background-color:#000;background-color:rgba(0,0,0,.5)}
.viewer-toolbar .viewer-next:before {width:50px;height:50px;margin:0;background-image: url(../images/big-r.png);background-position: 50%;}
.viewer-toolbar .viewer-prev:before {width:50px;height:50px;margin:0;background-image:url(../images/big-l.png);    background-position: 50%;}
.viewer-next {right:20px}
.viewer-prev {left:20px}
.viewer-footer .viewer-toolbar>.viewer-next,.viewer-footer .viewer-toolbar>.viewer-prev {background:#000;opacity:.4}
.viewer-footer .viewer-toolbar>.viewer-next:hover,.viewer-footer .viewer-toolbar>.viewer-prev:hover {background:#000;opacity:1}
.viewer-container .viewer-button {width:38px;height:38px;top:20px;right:20px;background-color:#000;opacity:.4}
.viewer-container .viewer-button:hover {background-color:#000;opacity:1}
.viewer-container .viewer-button:before {bottom:10px;left:10px;width:18px;height:18px;background-image:url(../images/close_alert.png);    background-position: 50%;}
.viewer-footer {height:0}
.viewer-canvas {position:relative1!important}
.viewer-canvas img {position:absolute!important;top:0!important;left:0!important;bottom:0!important;right:0!important;margin:auto!important}
.viewer-footer {height:0}


.attributes {width: 630px; font-size: 14px; margin-top: 10px; line-height: 1.6em;}
.attributes li {display: inline-block; line-height: 30px; white-space: nowrap; background: #eff1f2; color: #666; font-size: 14px; height: 30px; padding: 0 12px; text-align: center; vertical-align: middle; margin-right: 7px; margin-bottom: 7px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px;}
.attributes dl {background-color: #f5f5f5; border-bottom: 1px solid #ebebeb;}
.attributes dt {float: left; width: 100px; padding: 8px 8px 8px 0; text-align: right; border-right: 1px solid #ebebeb;}
.attributes dd {position: relative; overflow: hidden; background-color: #fff; padding: 8px 0 8px 10px;}
