.btop {padding: 25px 0;}

/*头部*/
.header{box-shadow: 0px 3px 5px 0px rgba(48, 58, 100, 0.03);background: #fff;padding-top: 20px;padding-bottom: 20px}
.header .logo {float: left;max-width: 185px;height: 50px;margin-top: 0;overflow: hidden;margin-left: 10px;}
.header .logo img{height: 100%;}
.header .head_cashier{float: left;margin-left: 34px;font-size: 16px;font-weight: bold;color: #3b3b3b;margin-top: 12px;}
.header .head_cashier i.he_line{display: inline-block;width:1px;height: 22px;background: #d7d9de;margin-right: 24px;vertical-align: middle;}
.header .head_kfrx{float: right;font-size: 14px;color: #3b3b3b;margin-top: 16px;}
.header .head_kfrx .kfrx_num{font-size: 16px;font-weight: bold;margin-left: 10px;}

.all-wrap{background: #F0F0F2;padding-top: 30px;padding-bottom: 90px;}
/* 商品信息 */
.pay_wrap1{border: 1px solid #ededed;background: #fff;}
.pay_wrap1 .pay_top{height: 70px;border-bottom: 1px dashed #e8e8e8;line-height: 70px;overflow: hidden;}
.pay_wrap1 .pay_top .top_title{color: #37373b;font-size: 14px;float: left;}
.pay_wrap1 .pay_top .top_title .top_h2{font-size: 18px;font-weight: bold;float: left;margin-left: 30px;}
.pay_wrap1 .pay_top .store_name{line-height: 73px;}
.pay_wrap1 .pay_top .store_name em{float: left;max-width:180px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin-left: 7px;}

.pay_wrap1 .pay_top .top_time{float: right;margin-right: 50px;}
.pay_wrap1 .pay_top .top_time .top_tip{font-size: 14px;color: #babbbf;margin-right: 40px;}
.pay_wrap1 .pay_top .top_time .top_tip i{display: inline-block;width: 14px;height: 14px;background: url(/static/images/pay/tip.png) no-repeat;background-size: 14px;    vertical-align: middle;margin-top: -2px;margin-right: 4px;}
.pay_wrap1 .pay_top .top_time .top_tip2{font-size: 14px;color: #494a4c;}
.pay_wrap1 .pay_top .top_time strong{font-size: 16px;color: #ff653b}
.pay_wrap1 .pay_top .time-item{font-size: 14px;color: #a2a5ab;float: right;}
.pay_wrap1 .pay_bot{background: #F7F8FA}
.pay_wrap1 .pay_bot .bot_div2{height: 70px;line-height: 70px;}
.pay_wrap1 .pay_bot .more_storeInfo{float: left;color: #a2a4ab;font-size: 14px;margin-left: 33px;cursor: pointer;}
.pay_wrap1 .pay_bot .more_storeInfo i{display: inline-block;width: 28px;height: 28px;background: url(/static/images/pay/show_more.png) no-repeat;background-size: 28px;    vertical-align: middle;margin-top: -2px;margin-right: 10px;}
.pay_wrap1 .pay_bot .more_storeInfo.active i{background: url(/static/images/pay/hide_more.png) no-repeat;background-size: 28px; }
.pay_wrap1 .pay_bot .more_storeInfo:hover{color: #49494c}
.pay_wrap1 .pay_bot .more_storeInfo:hover i{background: url(/static/images/pay/show_more2.png) no-repeat;background-size: 28px; }
.pay_wrap1 .pay_bot .more_storeInfo.active:hover  i{background: url(/static/images/pay/hide_more2.png) no-repeat;background-size: 28px; }
.pay_wrap1 .pay_bot .order_money{float: right;margin-right: 46px;}
.pay_wrap1 .pay_bot .order_money span{font-size: 14px;color: #37373b;margin-right: 12px;}
.pay_wrap1 .pay_bot .order_money em{font-size: 16px;color: #ff653b}
.pay_wrap1 .pay_bot .order_money strong{font-size: 24px;color: #ff653b}

.pay_wrap1 .bot_div1{border: 1px solid #e8e8e8;width: 1138px;margin: 0 auto;display: none;}
.pay_wrap1 .bot_div1 .bot_head{background: #f5f6f7;height: 40px;line-height: 40px;}
.pay_wrap1 .bot_div1 .bot_head ul{float: left;margin-left: 25px;}
.pay_wrap1 .bot_div1 .bot_head ul li{float: left;font-size: 14px;color: #919191}
.pay_wrap1 .bot_div1 .bot_head ul li span{color: #3b3b3b}
.pay_wrap1 .bot_div1 .bot_head ul li.or_number{margin-left: 67px;}
.pay_wrap1 .bot_div1 .bot_head  .lit_count{float: right;margin-right: 76px;}
.pay_wrap1 .bot_cont{padding: 20px;}
.pay_wrap1 .bot_cont .store_img{width: 160px;height: 120px;float: left;overflow: hidden;position: relative;}
.pay_wrap1 .bot_cont .store_img img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.pay_wrap1 .bot_cont .store_info{float: left;margin-left: 17px;}
.pay_wrap1 .bot_cont .store_info .class_title{max-width:730px;font-size: 14px;color: #3b3b3b;margin-top: 8px;}
.pay_wrap1 .bot_cont .store_info .class_title a{color: #3b3b3b}
.pay_wrap1 .bot_cont .store_info .class_info{font-size: 14px;color: #3377ff;margin-top: 10px;}
.pay_wrap1 .bot_cont .class_price{float: right;font-size: 18px;color: #37373b;font-weight: bold;margin-right: 37px;margin-top: 30px;}

/* 积分 */
.pay_wrap2{border: 1px solid #ededed;background: #fff;margin-top: 20px;}
.pay_wrap2 .pay_top{height: 70px;border-bottom: 1px dashed #e8e8e8;line-height: 70px;overflow: hidden;}
.pay_wrap2 .pay_top .top_h2{font-size: 18px;font-weight: bold;float: left;margin-left: 30px;color: #37373b;}

.account-summary label {display: block;float: left;font-size: 16px;color: #37373b;font-weight: bold;}
.account-summary .jf_right{float: left;margin-left: 62px;}
#usePcount, #useBcount {width: 78px; vertical-align: top; padding: 8px 5px; border-right: 1px solid #E1E3E6; background: #f4f4f4;color:#c9c9ca }
.use-tip { text-align: right; color: #37373b;font-size: 14px;}
.use-tip label {color: #333;}
.account-summary input[type=checkbox] { display: inline-block; vertical-align: middle; width: 16px; height: 16px; margin-left: 30px; -webkit-appearance: none; background-color: transparent; border: 0; outline: 0 !important; line-height: 16px; color: #d8d8d8; border-radius: 4px; padding: 0;margin-right: 10px;}
.account-summary input[type=checkbox]:checked{ background-color: #3377ff; border-color: #3377ff;}
.account-summary input[type=checkbox]:after { content: ""; display:block; width: 15px; height: 15px; text-align: center; line-height: 14px; font-size: 13px; color: #fff; border: 1px solid #ddd; background-color: #fff; box-sizing:border-box; border-radius: 4px;}
.account-summary input[type=checkbox]:checked:after { content: "L"; transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0); -webkit-transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0); border: 0; background: transparent;}
.account-summary .discharge{margin-left: 25px; display: none;}
.account-summary .discharge.show{display: inline;}
.account-summary .discharge em{font-size: 14px;}
.common_paypwd{padding: 27px;padding-right: 48px;background: #F7F8FA;display: none;position: relative;}
#paypwd{vertical-align: -2px; margin-right: 3px; border: 1px solid #e6e6e6; padding: 5px; border-radius: 3px;width: 228px;height: 34px;}
.paypwd .paypwd_txt{margin-right: 20px;font-size: 16px;color: #37373b;font-weight: bold;display: inline-block;vertical-align: middle;}

.paypwd_tip{font-size: 12px;color: #ff756e;position: absolute;top: 7px;left: 910px;display: none}
.paypwd_tip i{display: inline-block;width: 14px;height: 14px;background: url('https://pic.xiant.ao/static/images/pay/paypwd_icon.png') no-repeat;background-size: 14px 14px;margin-right: 4px;vertical-align: middle;margin-top: -3px;}
.paypwd label{position: relative;}
.paypwd .true{display: inline-block;width: 15px;height: 10px;background: url('https://pic.xiant.ao/static/images/pay/true.png') no-repeat;background-size: 15px 10px;position: absolute;top: 8px;right: 15px;display: none;}
.no_paypwd .no_left{float: left;  }
.no_paypwd .no_right{float: right;  }
.no_paypwd .no_left {font-size: 14px;color: #babbbf;padding-top: 8px;}
.no_paypwd .no_left i{display: inline-block;width: 14px;height: 14px;background: url(/static/images/pay/tip.png) no-repeat;background-size: 14px;    vertical-align: middle;margin-top: -2px;margin-right: 4px;}
.no_paypwd .no_left a{text-decoration: underline;color: #babbbf;}

.no_paypwd .no_right span{font-size: 14px;color: #37373b;margin-right: 32px;}
.no_paypwd .no_right a{display: inline-block;width: 90px;height: 36px;line-height: 36px;text-align: center;font-size: 14px;color: #fff;border-radius: 4px;}
.no_paypwd .no_right a.set_pwd{background:#3377FF; margin-right: 10px;}
.no_paypwd .no_right a.wait_set{background:#fff;border:1px solid #3377FF; color: #3377FF}
.no_paypwd .no_right a.wait_set:hover{background: #edeff2}
.no_paypwd .no_right a.set_pwd:hover{background:#2b65d9 }

.all_paypwd{padding: 27px;padding-right: 48px;background: #F7F8FA;}
.all_paypwd .all_left{float: left; font-size: 14px;color: #babbbf;padding-top: 13px; }




.account-summary .jf_right .use-input{margin-top: 16px;}
.use-input span{float: left;font-size: 14px;color: #d0d0d1;display: inline-block;height: 36px;line-height: 36px;}
.use-input .input_div{float: left;background: #F2F3F5;border: 1px solid #E1E3E6;border-radius: 3px;}
.use-input .input_div input{border: none;}
.use-input .input_div em{display: inline-block;width: 50px;height: 34px;display: inline-block;background: #EBEBED;line-height: 34px;text-align: center;color: #c9c9ca}

.pay_wrap2 .pay_bot2{padding: 40px 0;border-bottom: 1px solid #ededed;position: relative;}
.all_discharge{font-size: 14px ;color: #37373b;position: absolute;bottom: 40px ;right: 50px;}
.all_discharge em{font-size: 16px ;color: #ff653b;margin-left: 12px;}
.all_discharge strong{font-size: 24px ;color: #ff653b}

.account-summary.active #usePcount,.account-summary.active #useBcount{color: #37373b;background: #fff!important;border-right: 1px solid #D2D4D9!important}
.account-summary.active .use-input span{color: #37373b}
.account-summary.active .input_div em{color: #37373b;background: #F0F1F2;}
.account-summary.active .input_div{border: 1px solid #D2D4D9!important}


/*实付金额*/
.pay_wrap3{border: 1px solid #ededed;background: #fff;margin-top: 20px;}
.pay_wrap3 .pay_top{height: 70px;border-bottom: 1px dashed #e8e8e8;line-height: 70px;overflow: hidden;}
.pay_wrap3 .pay_top .top_h2{font-size: 18px;font-weight: bold;float: left;margin-left: 30px;color: #37373b;}

/* 支付信息 */
.pay_wrap3 .money-details{float: right;margin-right: 50px;}
.money-details p {text-align: right; font-size: 14px;color: #37373b}
.money-details p span{margin-right: 12px;}
.money-details p em {padding-right: 2px;}
.money-details p em, .money-details p strong {color: #ff653b; }
.money-details .pri em {font-size: 16px; padding: 3px 2px 0 0;}
.money-details .pri strong {font-size: 24px;}

/* 支付选项 */
.pay-bank {margin: 30px;margin-bottom: 0;overflow: hidden;}
.pay-bank .tab {height: 44px; border: 1px solid #ebebed;background: #F7F8FA;border-radius: 10px 10px 0 0;}
.pay-bank .tab a {float: left; width: 198px; padding: 10px 0; height: 28px;   text-align: center; color: #aaabad;border-radius: 10px 10px 0 0}
.pay-bank .tab a span {font-size: 16px; line-height: 28px;font-weight: bold;}

.pay-bank .tab a em {display: inline-block;font-size: 12px; color: #fff; line-height: 20px;  border-radius: 2px;width: 36px;height: 20px;text-align: center;background: #93e0c9;margin-left: 4px;}
.pay-bank .tab a.current em{background: #2dc497}
.pay-bank .tab a.current {background-color: #fff; height: 26px; position: relative; margin-bottom: -1px;  box-shadow: 0px 0px 13px 0px rgba(2, 21, 59, 0.07);border-right: 1px solid #e0e0e0;border-left: 1px solid #e0e0e0;position: relative;}
.pay-bank .tab a.current:after{content: '';width: 100%;height: 16px;background: #fff;position: absolute;bottom: -10px;left: 0;z-index: 2}
.pay-bank .tab a:first-child.current{border-left: none;}
.pay-bank .tab a.current span {font-weight: 700;color: #37373b}
.pay-bank .tab a:hover span{font-weight: 700;color: #37373b}
.pay-bank .tab a:hover em{background: #2dc497}
.pay-bank .con {background-color: #fff; box-shadow:0px 0px 13px 0px rgba(2,21,59,0.07);-webkit-box-shadow:0px 0px 13px 0px rgba(2,21,59,0.07);-o-box-shadow:0px 0px 13px 0px rgba(2,21,59,0.07);-ms-box-shadow:0px 0px 13px 0px rgba(2,21,59,0.07);}
.pay-bank .blist {display: none; padding-bottom: 46px;}
.pay-bank .blist .blist_con{padding: 23px 0 34px 18px;position: relative;border-width: 0 1px 1px; border-color: #e0e0e0; border-style: solid;}
.pay-bank .bank-icon {position: relative; float: left; width: 170px; height: 44px; padding: 1px; border: 1px solid #dedede; margin: 15px 12px 0 0; background-color: #fff;box-sizing: border-box; -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.pay-bank .bank-icon span {display: block; height: 26px; margin: 7px auto 0 17px; background-image: url('https://pic.xiant.ao/static/images/pay/bank.png?v=1'); background-repeat: no-repeat;}
.pay-bank .active {padding: 0; border: 2px solid #3377FF;}
.pay-bank .active b {position: absolute; right: 0; bottom: 0; width: 20px; height: 20px; background: url('https://pic.xiant.ao/static/images/pay/bankActive.png');background-size: 20px;}

/*扫码支付*/
.pay-bank .blist.codePay{height: 311px;padding: 23px 0 34px 18px;position: relative;border-width: 0 1px 1px; border-color: #e0e0e0; border-style: solid; margin-bottom: 40px;}
.qrpay{position: relative;margin-left: 367px;margin-top: 62px;}
.code_fresh{position: absolute;top: -52px;right: 34px;cursor: pointer;font-size: 14px;color: #a2a4ab;}
.code_fresh i{display: inline-block;width: 18px;height: 16px;background: url('https://pic.xiant.ao/static/images/pay/fresh.png') no-repeat;background-size: 18px 16px;margin-right: 5px;vertical-align: middle;margin-top: -3px;}
.code_fresh:hover{color: #49494c}
.code_fresh:hover i{background: url('https://pic.xiant.ao/static/images/pay/fresh2.png') no-repeat;background-size: 18px 16px;}
.qrpay dl dt{width: 200px;height: 200px;float: left;}
.qrpay dl dt img{width: 200px;height: 200px;}
.qrpay dl dd{float: left;margin-left: 22px}
.qrpay .pay_true{font-size: 14px;color: #37373b;margin-top: 15px;}
.qrpay .verifyAmount{font-size: 16px;color: #ff653b;margin-top: 5px;}

.qrpay .verifyAmount strong{font-size: 24px}
.qrpay .pay_icon{margin-top: 30px;}
.qrpay .pay_tip{font-size: 14px;color: #a2a4ab;margin-top: 10px;}

.code_div{text-align: center;margin-top: 103px;display: none}
.code_div .code_tip{font-size: 16px;color: #37373b;font-weight: bold;}
.code_div .pay_fresh{background-color: #3377ff;box-shadow: 0px 7px 23px 0px rgba(51, 119, 255, 0.47);-moz-box-shadow: 0px 7px 23px 0px rgba(51, 119, 255, 0.47);-webkit-box-shadow: 0px 7px 23px 0px rgba(51, 119, 255, 0.47);-ms-box-shadow: 0px 7px 23px 0px rgba(51, 119, 255, 0.47);-o-box-shadow: 0px 7px 23px 0px rgba(51, 119, 255, 0.47); width: 200px;height: 60px;border-radius: 30px;text-align: center;line-height: 60px;font-size: 18px;color: #fff;margin: 34px auto 0;cursor: pointer;position: relative;}
.code_div .pay_fresh:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10); -moz-opacity:0.1;-khtml-opacity: 0.1;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=10);border-radius: 30px;}

.blist .pay_p{background-color: #3377ff;box-shadow: 0px 7px 23px 0px rgba(51, 119, 255, 0.47);-moz-box-shadow: 0px 7px 23px 0px rgba(51, 119, 255, 0.47);-webkit-box-shadow: 0px 7px 23px 0px rgba(51, 119, 255, 0.47);-ms-box-shadow: 0px 7px 23px 0px rgba(51, 119, 255, 0.47);-o-box-shadow: 0px 7px 23px 0px rgba(51, 119, 255, 0.47); width: 200px;height: 60px;border-radius: 30px;text-align: center;line-height: 60px;font-size: 18px;color: #fff;margin: 34px auto 0;cursor: pointer;position: relative;}

.blist .pay_p:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10); -moz-opacity:0.1;-khtml-opacity: 0.1;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=10);border-radius: 30px;}


.all_pay{background-color: #3377ff;box-shadow: 0px 7px 23px 0px rgba(51, 119, 255, 0.47);-moz-box-shadow: 0px 7px 23px 0px rgba(51, 119, 255, 0.47);-webkit-box-shadow: 0px 7px 23px 0px rgba(51, 119, 255, 0.47);-ms-box-shadow: 0px 7px 23px 0px rgba(51, 119, 255, 0.47);-o-box-shadow: 0px 7px 23px 0px rgba(51, 119, 255, 0.47); width: 200px;height: 60px;border-radius: 30px;text-align: center;line-height: 60px;font-size: 18px;color: #fff;margin: 43px auto 56px;cursor: pointer;position: relative;display: none}
.all_pay a{color: #fff;z-index: 2;position: relative;display: block;}
.all_pay:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10); -moz-opacity:0.1;-khtml-opacity: 0.1;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=10);border-radius: 30px;}

/* 平台支付icon定位 */
.pay-bank .terrace .bank-icon span {margin: 7px auto 0;}
.globalalipay {width: 73px; background-position: -4px -938px;}  /* 支付宝 */
.alipay {width: 73px; background-position: -4px -938px;}  /* 支付宝 */
.unionpay {width: 100px; background-position: -4px -1008px;}  /* 银联在线 */
.bankpayment {width: 105px; background-position: -4px -1303px;}  /* 储蓄卡网银 */
.tenpay {width: 73px; background-position: -4px -974px;}  /* 财付通 */
.wxpay {width: 101px; background-position: -3px -1045px;}  /* 微信支付 */
.baidu {width: 90px; background-position: -4px -1198px;}  /* 百度钱包 */
.paypal {width: 87px; background-position: -4px -1121px;}  /* PayPal */
.jdpay {width: 95px; background-position: -4px -1273px;}  /* 京东钱包 */
.yeepay {width: 91px; background-position: -4px -1236px;}  /* 易宝支付 */

/* 银行icon定位 */
.icbc {width: 90px; background-position: -4px -580px;}  /* 中国工商银行 */
.ccb {width: 90px; background-position: -4px -148px;}  /* 中国建设银行 */
.boc {width: 89px; background-position: -4px -112px;}  /* 中国银行 */
.comm {width: 90px; background-position: -4px -399px;}  /* 交通银行 */
.abc {width: 90px; background-position: -4px -4px;}  /* 中国农业银行 */
.cmb {width: 90px; background-position: -4px -328px;}  /* 招商银行 */
.psbc {width: 91px; background-position: -4px -687px;}  /* 邮政储蓄银行 */
.ceb {width: 93px; background-position: -4px -219px;}  /* 中国光大银行 */
.cmbc {width: 90px; background-position: -4px -363px;}  /* 中国民生银行 */
.pingan {width: 93px; background-position: -4px -795px;}  /* 平安银行 */
.spdb {width: 91px; background-position: -4px -832px;}  /* 浦发银行 */
.ecitic {width: 89px; background-position:
	-4px -292px;}  /* 中信银行 */
.cib {width: 93px; background-position: -4px -255px;}  /* 兴业银行 */
.hxb {width: 92px; background-position: -4px -435px;}  /* 华夏银行 */
.cgb {width: 92px; background-position: -4px -507px;}  /* 广发银行 */
.beijing {width: 90px; background-position: -4px -40px;}  /* 北京银行 */
.bjrcb {width: 104px; background-position: -4px -76px;}  /* 北京农商银行 */
.bocd {width: 90px; background-position: -4px -184px;}  /* 成都银行 */
.fudian {width: 89px; background-position: -4px -471px;}  /* 富滇银行 */
.hzcb {width: 94px; background-position: -4px -544px;}  /* 杭州银行 */
.nbcb {width: 90px; background-position: -4px -616px;}  /* 宁波银行 */
.njcb {width: 91px; background-position: -4px -652px;}  /* 南京银行 */
.shanghai {width: 91px; background-position: -4px -723px;}  /* 上海银行 */
.srcb {width: 104px; background-position: -4px -760px;}  /* 上海农商银行 */
.wzcb {width: 91px; background-position: -4px -867px;}  /* 温州银行 */
.zjnx {width: 91px; background-position: -4px -903px;}  /* 浙江农信 */






/* 提交按钮 */
.buy-botton {height: 45px; padding: 25px 0 60px;}
.buy-botton a {float: right; line-height: 44px; color: #506eaa; margin-right: 44px;}
.buy-botton .subtn {float: right; width: 140px; height: 44px; font-size: 20px; color: #fff; background-color: #ff3c3c; border-radius: 3px; border: 0; cursor: pointer;}
.buy-botton .subtn:disabled {background-color: #d8d8d8;}


/* 提交后提示层 */
#shadowlayer {display: none; position: fixed; _position: absolute; width: 100%; height: 100%; background-color: #000; filter: alpha(opacity=15); opacity: .15; top: 0; left: 0; z-index: 9000;}
.pay-pop {position: fixed; _position: absolute; left: 50%; top: 50%; z-index: 9001; display: none; width: 504px; height: 234px; margin: -117px 0 0 -252px;}
.pay-pop a.pop-close {display: block; width: 14px; height: 14px; font-size: 0; line-height: 0; overflow: hidden; position: absolute; right: 12px; top: 12px; z-index: 1004; background: url('https://pic.xiant.ao/static/images/pay/pay.png');}
.pay-pop a.pop-close:hover {background-position: 0 -14px;}
.pop-border {background-color: #000; filter: alpha(opacity=30); opacity: .3; position: absolute; left: -5px; top: -5px; right: -5px; bottom: -5px; z-index: 1002; border-radius: 5px;}
.pop-main {width: 100%; height: 100%; background-color: #fff; position: relative; z-index: 1003;}
.pop-title {height: 39px; border-bottom: 1px solid #e0e0e0; color: #3d3d3d; background-color: #f7f7f7; padding-left: 15px; font: 700 14px/39px Microsoft Yahei;}
.pop-con {padding: 5px 25px 0;}
.pop-con p {padding-top: 25px; height: 30px; font: 14px/30px Microsoft Yahei;}
.pop-con i {display: inline-block; width: 21px; height: 21px; margin: 4px 15px 0 0; float: left; background: url('https://pic.xiant.ao/static/images/pay/pay.png');}
.pop-con i.icon01 {background-position: 0 -30px;}
.pop-con i.icon02 {background-position: 0 -51px;}
.pop-con p span {float: left; padding-right: 12px;}
.pop-con p a {float: left; height: 30px; border-radius: 3px; border-radius: 3px;}
.pop-con p a.red {background-color: #ff7e00; box-shadow: 0 1px 0 #eb5e00; padding: 0 15px; color: #fff;}
.pop-con p a.gray {background-color: #efefef; box-shadow: 0 1px 0 #ddd; padding: 0 12px; color: #506eaa;}
.pop-con p em {float: left; padding: 0 10px;}
.pop-con .question {margin-top: 30px; border-top: 1px solid #e0e0e0; padding-top: 15px; font: 12px/18px '\5b8b\4f53';}
.pop-con .question a {color: #506eaa;}
.pop-con .question span {padding: 0 10px;}
