.nos ,.nos body{overflow: hidden;}
.topInfo{margin-bottom: 0;}
.fixedwrap{height: 110px!important; margin: 0!important;}
.fixedpane.fixed{height: 90px;}
.fixedwrap .sfcarpane{padding-top: 20px}
.fixedwrap .header .logo{height: 67px;margin-top: 0}

/*发布信息*/
.infobox{float: right;margin: 10px 0 0 0;}
.infobox a.fbbox{position:relative;width: 133px;height: 44px;line-height: 44px;text-align: center;float: left;font-size: 16px;color:#fff;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.infobox a.fbbox{background: #3173F7;border-radius: 4px}

.infobox a.fbbox i.ifabu{display: inline-block;height:20px;vertical-align: middle;margin-top: -4px;margin-right:6px;}
.infobox a.fbbox i.ifabu{width:20px;background: url(../images/fabu_head.png) no-repeat 100% center;}

.infobox a span{display: inline-block;}


/*导航*/
.nav_ul{float: left;margin-left: 200px;padding-top: 15px;}
.nav_ul li{float: left;}
.nav_ul>li a{display:block; padding: 8px 40px;font-size: 16px;position: relative;}
/*.nav_ul>li:hover{background-color: #FF653B;-webkit-transition:0.5s all ease;-moz-transition:0.5s all ease;-ms-transition:0.5s all ease;-o-transition:0.5s all ease;transition:0.5s all ease;}*/
.nav_ul>li a.curr{color: #3173F7;}
.nav_ul>li a.curr:after{content: '';display: block;position: absolute;bottom: 0;left: 50%;margin-left: -17px;width: 34px;height: 3px;background: #3173F7;border-radius: 2px;}
.nav_ul>li:hover a{color: #3173F7}


/*标签*/
.box_mark .m_mark{font-size: 15px;text-align: center;height: 30px;line-height: 30px;float: left;margin-right: 10px;}
.box_mark .mark1{padding:0 15px;background: #ff5b4c;color:#fff;}
.box_mark .mark2{padding:0 10px;background: #f0f2f7;color:#5a5a5e;}
.box_mark .mark3{padding:0 10px;background: #5bbbff;color:#fff;}
.box_mark .m_mark:last-child{margin-right: 0;}
.m_pic{background-color: rgb(0, 0, 0,0.302);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d000000,endColorstr=#4d000000);}





#loadMore {background-color: #ddd; color: #555; text-align: center; height: 28px; line-height: 28px; border-radius: 2px; cursor: pointer;}
#loadMore:hover {background-color: #ccc;}
#loadMore.loading {font-size: 0; text-indent: -999em; background-color: #ccc; background-image: url('/static/images/loading-grey.gif'); background-repeat: no-repeat; background-position: center;}


/*微信二维码弹出层*/
.modal-wx{width: 100%;height: 100%;top:0;right: 0;left:0;bottom: 0;}
.modal-bg{position: fixed;top:0;right: 0;left:0;bottom: 0;background: rgba(0,0,0,.5);opacity: 0;z-index: -1;}
.modal-main{display:none;width: 600px;height: 500px;position: fixed;top: 50%;left: 50%;margin-top: -250px;margin-left: -300px;background: url(../images/wcodebg.png) no-repeat center center;background-size: contain;z-index: 1004;-webkit-animation:leftFadeIn .3s ease-out; -moz-animation:leftFadeIn .3s ease-out; animation:leftFadeIn .3s ease-out;}
.main-code img{width: 180px;height: 180px;position: absolute;top: 50%;left: 50%;margin-top: -24px;margin-left: -77px;}
.main-code p{text-align: center;line-height: 620px;font-size: 24px;color: #fff;}

.closebox{cursor:pointer;width: 50px;height: 50px;position: absolute;right: -18%;top:-15%;}
.closebox img{width: 50px;height: 50px;}
.curr .modal-main{display: block;}
.curr>.modal-bg{opacity: 1;z-index: 1003;}

.btntop a{height: 50px; width: 50px; border-radius: 4px;text-align: center;line-height: 50px;}
.btntop .top {background: rgb(145, 145, 145,.569); filter: Alpha(Opacity=56); opacity: .569;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.btntop .top:hover{background-color: rgb(145, 145, 145);}
.btntop .top img{margin-top: 13px;}

/*面包屑*/
.crumbs{height: 50px;line-height: 50px;}
.crumbs .cont span{float: left;}
.crumbs .cont a {float: left;color:#999;}
.crumbs .cont a:hover{color:#3173F7;}
.crumbs .cont{float: left;font-size: 14px;color:#999;}
.crumbs .cont s {float: left;margin: 21px 10px 0; width: 5px; height: 9px; overflow: hidden; background-image: url('../images/listSprite1.png'); background-repeat: no-repeat;background-position: -76px -43px;}

/*分页*/
.pagination {padding: 20px 0 40px; text-align: center;  font-size: 14px; color: #666;}
.pagination ul{font-size: 0;}
.pagination li {display: inline-block; margin-right: 5px; background-color:#fff;border: 1px solid  #D9D9D9;border-radius: 3px;line-height: 32px;box-sizing: border-box;overflow: hidden;font-size: 14px;color: #666;height: 32px;}
.pagination li.page_current{border: 1px solid #3579FF;}
.pagination li.page_disabled {display: none;}
.pagination li a{transition: none;}
.pagination li a, .pagination li span {display: block; padding: 0 10px;color:#666;}
.pagination li a:hover ,.pagination li.page_current span {background: #3579FF; color: #fff;}
.pagination li:hover{border: 1px solid #3579FF;}
.pagination li.page_more span {background: #fff;color: #666; cursor: default;}
.pagination li.page_more:hover{border: 1px solid #D9D9D9;}
.pagination .page_info {display: none;}
@font-face {
  font-family: "source";
  src: url("/static/fonts/SOURCEHANSANSCN-BOLD.ttf"),
       url("/static/fonts/SOURCEHANSANSCN-BOLD.eot"),
       url("/static/fonts/SOURCEHANSANSCN-BOLD.otf");
}