html{background:#f8f8f8;}
body{padding-bottom: .2rem;}

/*学校信息*/
.topHeader{width: 100%;height: 4.6rem;position: relative;}
.topHeader img{width: 100%;height: 100%;object-fit: cover;}

.scInfo{position: absolute;left: 0;right: 0;bottom: 0;box-sizing: border-box;padding: .18rem .3rem .18rem .24rem;background:rgba(0,0,0,.5);}
.scInfo .logo{width: 1.4rem;height: 1.4rem;float: left;border-radius:.1rem;overflow: hidden;border: .01rem solid #eee;box-sizing: border-box;}
.scInfo .logo img{width: 100%;height: 100%;object-fit: cover;}
.scInfo .rInfo{margin-left: 1.6rem;position: relative;height: 1.4rem}
.scInfo .rInfo h4{font-size: .32rem;color: #fff;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 100%;font-weight: bold;margin-top: -.03rem}
.rInfo .tag{margin-top: .1rem}
.rInfo .tag span{display: inline-block;padding: 0 .15rem;height: .38rem;line-height: .38rem;border-radius: .06rem;font-size: .24rem;margin-right: .1rem;color: #fff}
.rInfo .tag span.nature{background:linear-gradient(264deg,rgba(203,203,203,1) 0%,rgba(230,230,230,1) 99%);color: #333}
.rInfo .tag span.slevel-1{background:linear-gradient(259deg,rgba(17,99,214,1) 0%,rgba(0,147,232,1) 99%);}
.rInfo .tag span.slevel-2{background:linear-gradient(231deg,rgba(247,53,52,1) 0%,rgba(255,85,82,1) 100%);}
.rInfo .tag span.slevel-3{background:linear-gradient(72deg,rgba(254,127,34,1) 0%,rgba(239,79,44,1) 100%);}
.rInfo .otInfo{color: #fff;overflow: hidden;margin-top: .16rem}
.rInfo .otInfo dl{font-size: .24rem;}
.rInfo .otInfo dl dt{margin-right: .05rem}
.rInfo .otInfo dl dt,.rInfo .otInfo dl dd{display: inline-block; }

.rInfo .otInfo dl.hot dt{font-size: .26rem;}
.rInfo .otInfo dl.hot dd{font-size: .3rem;}
.rInfo .otInfo dl.update{margin-top: .03rem}

.tab_con {margin-bottom: .2rem;background: #fff;padding: 0 .24rem;position: relative;}
.tab_con h2.list-tit{font-size: .32rem;color: #333;font-weight: bold;padding: .3rem 0}
/*学校简介*/
.scOther{padding: .3rem .3rem .2rem;margin-bottom: .2rem;background: #fff;}
.scOther li{box-shadow:0px 9px 40px 0px rgba(11,11,11,0.09);border-radius:.2rem;margin-bottom: .3rem;position: relative;}
.scOther li a{display: block;padding: .24rem .2rem .24rem .18rem;}
.scOther li a:after{content: '';width: .36rem;height: .36rem;display: inline-block;background: url("../images/school/arrow.png") no-repeat center center;background-size: .36rem;position: absolute;right: .2rem;top: .57rem}
.scOther li .leftImg{float: left;width: 1.02rem;height: 1.02rem;}
.scOther li .leftImg img{width: 100%;height: 100%;object-fit: cover;}
.scOther li .rCon{margin-left: 1.28rem;height: 1.02rem;overflow: hidden;}
.scOther li .rCon h3{font-size: .32rem;max-width: 4.24rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding-top: .04rem;font-weight: bold;}
.scOther li .rCon p{font-size: .24rem;max-width: 4.24rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #999;margin-top: .1rem}

.scOther li.nearby .rCon h3{line-height: 1.02rem}


.writeCom{font-size: .24rem;color: #999;position: absolute;right: .24rem;top: .4rem}
.writeCom i{display: inline-block;width: .24rem;height: .24rem;background: url("../images/school/write.png") no-repeat center center;background-size: .24rem;margin-left: .08rem;vertical-align: middle;margin-top: -.03rem}

/*评论区域*/
.commentBox ,.recomBox{background: #fff;margin-bottom: .24rem;}
.headtop{padding:0 .25rem;}
.commentList{padding:0 .25rem;}
.commentBox ul li {padding:.2rem 0;border-bottom:solid .02rem #dedede;overflow: hidden;}
.commentBox ul li .imgbox{float: left;width: .6rem;height: .6rem;position: relative;border-radius:100%;overflow: hidden;margin-right: .14rem;}
.commentBox ul li .imgbox img{width: 100%;height: 100%;object-fit:cover;}
.commentBox ul li .rightInfo{position: relative;overflow: hidden;}
.commentBox ul li .rightInfo h4{font-size: .26rem;color:#5a5c5e;line-height: .4rem;}
.commentBox ul li .rightInfo .txtInfo{font-size: .3rem;color:#393a3b;margin-top: .15rem;}
.commentBox ul li .rightInfo .replyCon{padding:.2rem;background: #f2f3f5;margin:.25rem 0 .3rem;}
.rightInfo .replyCon dl{line-height: .4rem;overflow: hidden;}
.rightInfo .replyCon dl dt{float: left;font-size: .28rem;}
.rightInfo .replyCon dl dd{font-size: .28rem;color:#666;}
.commentBox ul li .rightInfo .rbottom{overflow: hidden;font-size: .24rem;color:#999;}
.rightInfo .rbottom .rtime{float: left;}
.rightInfo .rbottom .rbInfo{float: right;}
.rightInfo .rbottom .rbInfo s{display: inline-block;width: .28rem;height: .26rem;vertical-align: middle;margin-top:-.08rem;margin-right: .05rem;}
.rightInfo .rbottom .rbInfo .btnReply{margin-right: .4rem;}
.rightInfo .rbottom .rbInfo .btnReply s{background: url(../images/school/ic_reply.png) no-repeat center center;background-size: contain;}
.rightInfo .rbottom .rbInfo .btnUp s{background: url(../images/school/ic_up.png) no-repeat center center;background-size: cover;}
.rightInfo .rbottom .rbInfo .btnUp.active{color:#fc3a4a;}
.rightInfo .rbottom .rbInfo .btnUp.active s{background: url(../images/school/ic_up1.png) no-repeat center center;background-size: cover}
.spColor,.pmore{color:#498cde;}
.pmore{font-size: .28rem;display: block;}
.commentBox ul li:last-child{border-bottom: none}
.more{text-align: center;color: #a0a0a0;font-size: .24rem;min-height: .2rem}
.more a{color: #A0A0A0;height: .78rem;line-height: .78rem;border-top: 1px solid #e5e5e5;display: block;}
.more i.rmDown{display: inline-block;width: .22rem;height: .22rem;background: url("../images/school/more_la.png") no-repeat;background-size: .22rem;    vertical-align: middle;margin-top: -.04rem;margin-left: .04rem}

.allmore{padding: 0 .25rem}

.commentList li.failed{padding-bottom: .5rem}
.commentList li.failed img{width: 5.06rem;height: 3.32rem;display: block;margin: 0 auto .33rem;}
.commentList li.failed p{font-size: .26rem;color: #666;text-align: center;}


.loading{height: 1.06rem;line-height: 1.06rem;font-size: .26rem;color: #a6a6a6;text-align: center;}


/*弹出层*/
.scmask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 999999;display: none;}
.comCon{position: fixed; left: 0; right: 0;bottom:-100%; box-sizing: border-box;background-color:#fff;  padding: .3rem; z-index: 999999; border-radius: .6rem .6rem 0 0}
.comm-tit{font-size: .48rem;font-weight: bold;padding: .1rem 0 .6rem;text-align: center;}
.proCon{max-height: 9rem;overflow-y: auto;}
.proCon img{max-width: 100%!important;display: block;margin: 0 auto .38rem; }
.dCon{font-size: .28rem!important;color: #333!important;line-height: .48rem!important;}
.proCon p{font-size: .28rem!important;color: #333!important;line-height: .48rem!important}
.stip{font-size: .28rem;color: #333;padding-bottom: .5rem}
.comCon.range .comm-tit{padding-bottom: .4rem}
.comCon.range .lit{font-size: .32rem;font-weight: bold;padding-bottom: .1rem}
.comCon.range .dCon{padding-bottom: .4rem}
.comCon.range .proCon{max-height: 3rem}
.mapbox{width: 100%;height: 5.9rem;margin-bottom: .4rem;position: relative;}
#smap{width: 100%;height: 5.9rem;}
.zs_btn{position: absolute;bottom: .9rem;right: .33rem;background: #fff;width: .62rem;box-shadow:0px 13px 32px 0px rgba(34,23,20,0.15);border-radius:.31rem;text-align: center;}
.zs_btn i{display: block; width: .62rem; height: 1.18rem; background: #fff; border-radius: .29rem; position: absolute; top:0; left: 0; transition: top .4s;background:linear-gradient(180deg,rgba(254,127,34,1) 0%,rgba(239,79,44,1) 100%);}
.tb {width: 100%;box-sizing: border-box;}
.tb {padding: 0 .17rem}
.tb li{font-size: .26rem;color: #333;position: relative;height: 1.18rem;line-height: 1.18rem}
.tb li span{display: inline-block;vertical-align: middle;line-height: .28rem}
.tb li.curr{color: #fff;}
/*去掉百度地图logo*/
.BMap_cpyCtrl {
   display: none;
 }
.anchorBL {
   display: none;
}
/*去掉谷歌地图多余的显示*/
.gmnoprint{
   display: none;
}
/*去掉切换全屏视图按钮*/
.gm-fullscreen-control{display: none}

/*百度地图 自定义图标*/
div.newMarker{width:.64rem;height:.86rem;background: url(../images/school/mapIcon2.png) center center no-repeat;background-size:cover;}
/*高德地图 自定义图标*/
.amap-container img{width:.64rem;height:.86rem;}






