body{background-color:#fff;}
body,html{}
#navBox_4{z-index: 100003 !important}
.header{z-index: 100002}
.bgBanner{width: 100%;height: 3.4rem;background: url('../images/school/bg-banner.png') no-repeat; background-size: cover;}
.bgBanner h2{font-size: .56rem;color: #fff;font-weight: bold;text-align: center;padding-top: .5rem}


.f_nav{text-align: center;margin-top: .54rem}
.f_nav li{  text-align: center; display: inline-block; position: relative; }
.f_nav li a{ font-size: .3rem;  position: relative; display: block;line-height: .66rem;width: 1.54rem;color: #fff}
.f_nav li.active:after{content: ''; display: block; width: 0; height: 0; border:.2rem solid transparent; border-top-color:#fff;position: absolute; left: 50%;    bottom: -.34rem;margin-left: -.2rem; }
.f_nav li.active a{color:#F0532B;background: #fff;border-radius: .1rem}


/*搜索*/
.searchbox{background-color: #fff; margin:-.36rem .3rem 0;border-radius: .1rem;box-shadow:0px 8px 29px 0px rgba(4,0,0,0.04);}
.d_search{position: relative;height: .88rem;display: block;}
.d_search s{position: absolute;top:50%;margin-top:-.15rem;left:.24rem;width: .3rem;height: .3rem;display: block;background: url(../images/school/icon_search.png) no-repeat center center;background-size: cover;}
.d_search input{-webkit-appearance:none;font-size:.26rem;color: #333;padding-left:.7rem;    width: 97%;box-sizing: border-box;background: none;border: none;padding-top: .32rem}
.d_search input::-webkit-search-cancel-button{display: none;}
.d_search input::-webkit-input-placeholder {/* Chrome/Opera/Safari */color: #999;}
.d_search input::-moz-placeholder {/* Firefox 19+ */color: #999;}
.d_search input:-ms-input-placeholder {/* IE 10+ */color: #999;}
.d_search input:-moz-placeholder {/* Firefox 18- */color: #999;}

/*.container{padding: .34rem 0 .5rem}*/
/*热门学校*/
.hotSchool{padding: .34rem .3rem .58rem}
h3.comtit{font-size: .32rem;color: #000;font-weight: bold;padding-bottom: .07rem}
h3.comtit i{display: inline-block;width: .4rem;height: .4rem;background: url(../images/school/hots.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-right: .15rem;margin-top: -.05rem}

h3.comtit a{float: right;font-size: .28rem;color: #999;font-weight: normal;    margin-top: .02rem;}
h3.comtit a em{display: inline-block;width: .26rem;height: .26rem;background: url(../images/school/more.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-left: .07rem;margin-top: -.04rem}
.hotSchool ul{padding-left:.1rem}
.hotSchool li{margin-right: .6rem;float: left;font-size: .28rem;margin-top: .42rem}
.hotSchool li a{display: block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 2.8rem;color: #000;}
.hotSchool li:nth-chil(2n){margin-right: 0}
/*最新评论*/
.hotComment{padding: .34rem .3rem .1rem;display: none;}
.hotComment h3.comtit{padding-bottom: .28rem}
.hotComment h3.comtit i{background: url(../images/school/comment.png) no-repeat center center;background-size: cover;}
.hotComment li{background: #fff;box-shadow:0px 3px 30px 0px rgba(65,64,83,0.08);border-radius:.06rem;margin-bottom: .3rem;display: block;padding: .2rem}

.hotComment li .l_img{width: .8rem;height: .8rem;float: left;border-radius: 50%;overflow: hidden;}
.hotComment li .l_img img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}
.hotComment li .r_com{margin-left: 1rem;height: .8rem;}
.hotComment .r_com h3{}
.hotComment .r_com h3 strong{font-size: .3rem;display: inline-block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 72%;vertical-align: top;}
.hotComment .r_com h3 span{font-size: .24rem;color: #999;float: right;margin-right: .04rem;    margin-top: .06rem;}
.hotComment .r_com .topic{font-size: .26rem;color: #333;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin-top: .05rem}
.hotComment .r_com .topic a{display:inline-block;color: #F0522C}
.hotComment .r_com .topic em{color: #F0522C}
.bla{width: 100%;height: .2rem;background: #F9F9F9}

.comCon{display: none;}
.comCon.show{display: block;}

/*热门小区*/
.list {padding: 0 .3rem .5rem}
.list .hotit{font-size: .36rem;font-weight: bold;text-align: center;padding: .36rem 0 .3rem}
.list .comuLi{margin-bottom: .2rem;box-shadow:0px 9px 40px 0px rgba(11,11,11,0.09);border-radius:.1rem;}
.list .comuLi a{display: block;height: 1.76rem;box-sizing: border-box;padding: .4rem .35rem}
.list .comuLi .left_b{width: 75%}
.list .comuLi .left_b .tit{font-size: .36rem;font-weight: bold;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 100%}
.list .comuLi .left_b .addr{font-size: .26rem;color: #999;margin-top: .16rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 100%}
.list .comuLi .left_b .addr i{display: inline-block;width: .26rem;height: .26rem;background: url(../images/school/addr.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-right: .07rem;margin-top: -.05rem}
.list .comuLi .right_b{line-height: .96rem;font-size: .3rem;color: #333}
.list .comuLi .right_b strong{font-size: .36rem;color: #EF4F2C;margin-right: .15rem}
/*热门学校*/
.list li.scLi{background: #fff;box-shadow:0px 9px 40px 0px rgba(11,11,11,0.09);border-radius:.1rem;margin-bottom: .2rem;}
.list li.scLi a{display: block;padding: .24rem .24rem .3rem}
.list li.scLi .left_img{width: 1.2rem;height: 1.2rem;float: left;border-radius:.1rem;overflow: hidden;border: .01rem solid #eee;}
.list li.scLi .left_img img{width: 100%;height: 100%;object-fit: cover;}
.list li.scLi .rightSc{margin-left: 1.38rem;position: relative;}
.list li.scLi .rightSc h3{font-size: .32rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 100%;font-weight: bold;}
.list li.scLi .addr{font-size: .24rem;color: #999;margin-top: .14rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 3.2rem}
.list li.scLi .addr i{display: inline-block;width: .26rem;height: .26rem;background: url(../images/school/addr.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-right: .07rem;margin-top: -.05rem}
.list li.scLi .tag{margin-top: .2rem}
.list li.scLi .tag span{display: inline-block;padding: 0 .15rem;height: .38rem;line-height: .38rem;border-radius: .06rem;font-size: .24rem;margin-right: .1rem}
.list li.scLi .tag span.nature{background: #F1F1F1;color: #666}
.list li.scLi .tag span.slevel-1{background: rgba(56,117,255,.1);color: #3875FF}
.list li.scLi .tag span.slevel-2{background: rgba(255,43,43,.1);color: #FF2B2B}
.list li.scLi .tag span.slevel-3{background: rgba(253,126,34,.1);color: #FD7E22}
.list li.scLi .fire{position: absolute;right: 0;top: .53rem;font-size: .3rem;color: #333;}
.list li.scLi .fire i{display: inline-block;width: .26rem;height: .26rem;background: url(../images/school/fire.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-right: .13rem;margin-top: -.05rem}

.loading{padding:.6rem 0;text-align: center; }
.loading img{width: 2rem !important; height: .28rem; display: block; margin: auto;}




