html,body{width:100%; min-height: 100%;}
body{min-height: 5rem;}
.fixed{top: 0;left: 0; right: 0; position: fixed;}
/*搜索页*/
.search_page{width: 100%; height: 100%; background-color: #fff; position: fixed; top: 0; left: 0; right: 0; display: none; z-index: 9;}
.search_box{height:1.38rem;   position: fixed;left: 0; right: 0;top: .9rem;background: #fff;z-index: 102}
.huoniao_iOS .search_box{top: 0;}
.form_search{margin:.36rem .3rem ; border-radius: .34rem; height: .68rem;background: url(../images/school/search_icon.png) no-repeat 1.83rem center; background-size: .32rem; background-color: #F5F5F5;}
.form_search input{width: 74%; height: .5rem;box-sizing: border-box;border: none; background: none; font-size: .26rem;padding: .16rem 0 0 .68rem}
.form_search input::-webkit-input-placeholder{color: #a6a7ab;}
.form_search input::-ms-clear {appearance: none;position: relative;height: .32rem;width: .32rem;background: url(../images/school/cha.png) no-repeat center;background-size: .32rem; }
.form_search input::-webkit-search-cancel-button {-webkit-appearance: none;position: relative;height: .32rem;width: .32rem;background: url(../images/school/cha.png) no-repeat center;background-size: .32rem;}


.search_box .chose_type{float: left; margin-left: .35rem; font-size: .28rem;color: #333;font-weight: bold;line-height: .68rem;}
.search_box .chose_type:after{content: ''; display: inline-block; width: .24rem; height: .24rem;  margin-left: .15rem; margin-top: .23rem;background: url(../images/school/down.png) no-repeat center;background-size: .24rem;    vertical-align: top;}
.search_box .chose_type.curr:after{background: url(../images/school/up.png) no-repeat center;background-size: .24rem;}
.chose_box{position: absolute; width: 1.6rem; height: 2rem; border-radius: .2rem; border: solid .01rem #ebeced; background: #fff; box-shadow: 0 .03rem .13rem rgba(25,30,59,.05); left: .3rem;top:1.2rem; padding:0 .3rem;box-sizing: border-box; text-align: center; font-size: .3rem ; color: #333; display: none;z-index: 2}
.huoniao_iOS .chose_box{top: .2rem;}
.chose_box li{border-bottom: solid .02rem #ebeced; height: 50%; line-height: 1rem;}
.chose_box li:nth-last-child(1){border: none;}

/*筛选导航*/
.choose-box{z-index: 101;position: fixed;top:2.2rem;left: 0;right: 0;}
.huoniao_iOS .choose-box{top: 1.3rem}
.choose-list{position: absolute;width: 100%;background: #fff;z-index: 111;}
.choose-box .chose_top{height: .8rem;line-height: .8rem;border-bottom: 1px solid #ebebeb;background: #fff;}
.choose-box .choose-tab{text-align: center;padding: 0 .36rem;z-index: 111;display: flex;justify-content: space-between;}
.choose-box .choose-tab li{font-size: .28rem;}
.choose-tab li:after {content: "";width: .22rem;height: .22rem;display: inline-block;margin-left: .12rem;background: url(../images/school/icdown.png) no-repeat center center;background-size: .22rem}
.choose-tab li.active{color: #F9384D;}
.choose-tab li.active:after{background: url(../images/school/icactive.png) no-repeat center center;background-size: .22rem}


/*区域筛选*/
.choose-local{background: #fff;max-height: 8.5rem;overflow: hidden;-webkit-overflow-scrolling: touch;}
.choose-local li{height: 1rem;line-height: 1rem;font-size: .28rem;text-indent: .2rem;border-bottom: 1px solid #E8E8E8;color: #8D8E91;box-sizing: border-box;}
/*区域*/
#area-box,.same{max-height: 5.8rem;padding-bottom: .8rem}

#choose-area{max-height: 5.8rem;background: #fff;}
#choose-area-second{height: 5.8rem;}
#choose-area-second li{text-indent: 0.2rem;border-bottom: 1px solid #dfdfdf; border-left: 1px solid #dfdfdf;}
.choose-stage-l{    border-right: 1px solid #dfdfdf;}
.choose-stage-l-short{width: 49%;float: left;}
.choose-stage-r{width: 50%;float: left;display: none;}

/*选中之后效果*/
#choose-area li.active{background: #f7f7f7;border-color: #dfdfdf;color: #F9384D}
#choose-area li.on,#choose-area-second li.on{color: #F9384D;}
#choose-area li.current{color: #F9384D;border-bottom: 1px solid #f74342;}

.choose-list .choose-li{display:none;}
.choose-list .choose-li.show{display: block;}

.same li.active{color: #F9384D}


p.sort{background: #fff url(../images/school/sort.png) no-repeat center center;box-shadow:0px -3px 13px 0px rgba(0, 0, 0, 0.07);height: .88rem;background-size: .34rem .34rem;    position: absolute;bottom: 0;left: 0;right: 0;z-index: 999;}


.mask {position: fixed;left: 0;top: 0;width: 100%;height: 100%;transition: all 0.5s;background: rgba(0,0,0,0.6);opacity: 1;z-index:100;-webkit-backface-visibility: hidden;-webkit-transform-style: preserve-3d;}
.mask-hide,.fn-hides{display: none;}

/*列表*/
/*热门小区*/
.list {padding: 3rem 0 .5rem;}
.huoniao_iOS .list{padding-top: 2.1rem;}
.list.spe{padding-top: 2.3rem;}
.huoniao_iOS .list.spe{padding-top: 1.4rem;}

.list ul{padding:0 .3rem;background: #F5F5F5;overflow: hidden;}
.list ul li:first-child{margin-top:.2rem;}
.list .hotit{font-size: .36rem;font-weight: bold;text-align: center;padding: .36rem 0 .3rem}
.list .comuLi{margin-bottom: .2rem;border-radius:.1rem;background: #fff}
.list .comuLi a{display: block;height: 1.76rem;box-sizing: border-box;padding: .4rem .35rem}
.list .comuLi .left_b{width: 75%}
.list .comuLi .left_b .tit{font-size: .36rem;font-weight: bold;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 100%}
.list .comuLi .left_b .addr{font-size: .26rem;color: #999;margin-top: .16rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 100%}
.list .comuLi .left_b .addr i{display: inline-block;width: .26rem;height: .26rem;background: url(../images/school/addr.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-right: .07rem;margin-top: -.05rem}
.list .comuLi .right_b{line-height: .96rem;font-size: .3rem;color: #333}
.list .comuLi .right_b strong{font-size: .36rem;color: #EF4F2C;margin-right: .15rem}
/*热门学校*/
.list li.scLi{background: #fff;box-shadow:0px 9px 40px 0px rgba(11,11,11,0.09);border-radius:.1rem;margin-bottom: .2rem;}
.list li.scLi a{display: block;padding: .24rem .24rem .3rem}
.list li.scLi .left_img{width: 1.2rem;height: 1.2rem;float: left;border-radius:.1rem;overflow: hidden;border: .01rem solid #eee;}
.list li.scLi .left_img img{width: 100%;height: 100%;object-fit: cover;}
.list li.scLi .rightSc{margin-left: 1.38rem;position: relative;}
.list li.scLi .rightSc h3{font-size: .32rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 100%;font-weight: bold;}
.list li.scLi .addr{font-size: .24rem;color: #999;margin-top: .14rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 3.2rem}
.list li.scLi .addr i{display: inline-block;width: .26rem;height: .26rem;background: url(../images/school/addr.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-right: .07rem;margin-top: -.05rem}
.list li.scLi .tag{margin-top: .2rem}
.list li.scLi .tag span{display: inline-block;padding: 0 .15rem;height: .38rem;line-height: .38rem;border-radius: .06rem;font-size: .24rem;margin-right: .1rem}
.list li.scLi .tag span.nature{background: #F1F1F1;color: #666}
.list li.scLi .tag span.slevel-1{background: rgba(56,117,255,.1);color: #3875FF}
.list li.scLi .tag span.slevel-2{background: rgba(255,43,43,.1);color: #FF2B2B}
.list li.scLi .tag span.slevel-3{background: rgba(253,126,34,.1);color: #FD7E22}
.list li.scLi .fire{position: absolute;right: 0;top: .53rem;font-size: .3rem;color: #333;}
.list li.scLi .fire i{display: inline-block;width: .26rem;height: .26rem;background: url(../images/school/fire.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-right: .13rem;margin-top: -.05rem}
.loading{ height: .28rem; margin: auto; padding: .6rem; text-align: center;}
.loading img{display: block; width: 2rem ; margin: auto;}
.loading span{font-size: .26rem; color: #999; text-align: center;}
.loading .p1{font-size: .32rem; color: #333;margin-bottom:.1rem;}
.loading .p2{font-size: .26rem; color: #999;}





