html,body{width:100%; min-height: 100%;}
body{min-height: 5rem;background: #fff}
.fixed{top: 0;left: 0; right: 0; position: fixed;}

/*列表*/
.list {padding: .9rem 0 .5rem;}
.huoniao_iOS .list{padding-top: 0}
/*热门学校*/
.list ul{background: #F5F5F5;padding:0 .3rem;overflow:hidden;}
.list li.scLi{background: #fff;box-shadow:0px 9px 40px 0px rgba(11,11,11,0.09);border-radius:.1rem;margin-bottom: .2rem;}
.list li.scLi:first-child{margin-top:.2rem;}
.list li.scLi a{display: block;padding: .24rem .24rem .3rem}
.list li.scLi .left_img{width: 1.2rem;height: 1.2rem;float: left;border-radius:.1rem;overflow: hidden;border: .01rem solid #eee;}
.list li.scLi .left_img img{width: 100%;height: 100%;object-fit: cover;}
.list li.scLi .rightSc{margin-left: 1.38rem;position: relative;}
.list li.scLi .rightSc h3{font-size: .32rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 100%;font-weight: bold;}
.list li.scLi .addr{font-size: .24rem;color: #999;margin-top: .14rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 3.2rem}
.list li.scLi .addr i{display: inline-block;width: .26rem;height: .26rem;background: url(../images/school/addr.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-right: .07rem;margin-top: -.05rem}
.list li.scLi .tag{margin-top: .2rem}
.list li.scLi .tag span{display: inline-block;padding: 0 .15rem;height: .38rem;line-height: .38rem;border-radius: .06rem;font-size: .24rem;margin-right: .1rem}
.list li.scLi .tag span.nature{background: #F1F1F1;color: #666}
.list li.scLi .tag span.slevel-1{background: rgba(56,117,255,.1);color: #3875FF}
.list li.scLi .tag span.slevel-2{background: rgba(255,43,43,.1);color: #FF2B2B}
.list li.scLi .tag span.slevel-3{background: rgba(253,126,34,.1);color: #FD7E22}
.list li.scLi .fire{position: absolute;right: 0;top: .53rem;font-size: .3rem;color: #333;}
.list li.scLi .fire i{display: inline-block;width: .26rem;height: .26rem;background: url(../images/school/fire.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-right: .13rem;margin-top: -.05rem}
.loading{ height: .28rem; margin: auto; padding: .6rem; text-align: center;}
.loading img{display: block; width: 2rem ; margin: auto;}
.loading span{font-size: .26rem; color: #999; text-align: center;}

