
.main-tit{padding: .16rem .3rem .5rem;}
.main-tit h1{font-size: .42rem;color: #111112;font-weight: bold;}
.main-tit p{font-size: 0;margin-top: .4rem}
.main-tit p span,.main-tit p em{display: inline-block;}
.main-tit p span.typename{height: .32rem;line-height: .32rem;border-radius: .06rem;padding: 0 .1rem;background: #FFEDEB;font-size: .22rem;color: #F72A34;font-weight: bold;font-style: italic;margin-right: .2rem}

.main-tit p span.time {font-size: .22rem;color: #4A4B4D}
.main-tit p span.time i{font-size: .2rem;color: #A6A7AB;display: inline-block;margin-left: .04rem;margin-right: .04rem}
.main-tit p span.time em{margin-left: .16rem}
.main-tit p span.see{font-size: .22rem;color: #4A4B4D}
.main-tit p span.see i{display: inline-block;width: .3rem;height: .3rem;background: url(../images/see.png) no-repeat;background-size: .3rem;margin-left: .3rem;margin-right: .05rem;    vertical-align: middle; margin-top: -.05rem;}



.main-txt{padding: 0 .3rem .6rem;}
.main-txt p{font-size: .32rem!important;margin-top: .2rem;line-height: .58rem!important;color: #111112!important;    text-align: justify!important;}
.main-txt p span{font-size: .32rem!important;line-height: .58rem!important;color: #111112!important;    text-align: justify!important;}
.main-txt img {max-width: 100%!important; max-height: 100%!important; display: block; margin: 0 auto;}

/*相关阅读*/
.main-read{margin: 0 .3rem 0 .3rem;}
.read-tit{height: 1rem;color: #83868f;}
.read-tit h2{font-size: .3rem;color: #83868f;padding: .4rem 0;font-weight: 100;}
.main-read .read-list li{font-size: .28rem;height: .9rem;line-height: .9rem;border-bottom: 1px solid #f4f4f4;overflow: hidden;}

/*猜你喜欢*/
.main-like{margin: 0 .3rem 0 .3rem;}
.like-list li a{padding: .2rem 0;overflow: hidden;display: block;}
.like-list li .like-img{float: left;margin-right: .16rem;width: 2.12rem;height: 1.6rem;}
.like-list li .like-img img{width: 100%;height: 100%;vertical-align: middle;}
.like-list li .like-txt h3{font-size: .3rem;overflow: hidden;line-height: .36rem;color: #0c0d0e;margin-bottom: .1rem;white-space: nowrap;text-overflow: ellipsis;font-weight: 100;}
.like-list li .like-txt p{color: #83868f;font-size: .24rem;overflow: hidden;line-height: .4rem;white-space: nowrap;text-overflow: ellipsis;}
.like-list li .like-txt p em{margin-right: .1rem;}
.like-price{float: right;font-size: .28rem;color: #df3031;}
.like-tag {font-size: .22rem;color: #565c67;overflow: hidden;margin-top: .08rem;height: .32rem;}
.like-tag span {float: left;margin-right: .1rem;line-height: .26rem;padding: 0 .06rem;border: 1px solid #e3e7ed;background: #fff;overflow: hidden;}

table{width: 100%; overflow: hidden;}
