/* body.huoniao_iOS .header{display:-webkit-box !important; padding-top: constant(safe-area-inset-top); padding-top: env(safe-area-inset-top);} */
.tab_ul{padding: .45rem 1.35rem; display: flex; justify-content: space-between; position: relative;z-index: 1; padding-bottom: .55rem;}
.tab_ul .tab_li{position: relative;}
.tab_ul .tab_li.on_tab a{color: #fff; font-size: .36rem; display: block;}
.tab_ul .tab_li.on_tab:before{content: ''; display: block; width: .32rem; height: .32rem; background: url(../images/d_arr_1.png) no-repeat center; background-size: cover; position: absolute; left: 50%; margin-left: -.16rem; bottom: -.32rem;}
.tab_ul .tab_li a{color: rgba(255,255,255,.5); font-size: .3rem; font-weight: 500; line-height: .48rem; }
.tab_con{min-height: 10rem; display: none; }
.tab_con.show{display: block;}

.bg_img{position: absolute; left: 0; top: 0; right: 0; bottom: 0;box-sizing: border-box;padding-top: 1.42rem; background: no-repeat top center; background-size: 100% auto; z-index: 0;}
.bg_img.bg_zan{background-image: url(../images/zan_bg.png); background-position:0 .8rem; }
.bg_img.bg_active{background-image: url(../images/active_bg.png); background-position:0 .8rem; }
.bg_img.bg_topic{background-image: url(../images/ht_bg.png); background-position:0 .8rem; }
/* 前三 */
.tab_con .top_three{margin: 0 .44rem .24rem .44rem; background: #fff; border-radius: .2rem; height: 2.9rem; box-sizing: border-box; padding: .35rem .4rem .27rem .4rem; position: relative;}
.tab_con .top_three li:nth-child(2){float: left;}
.tab_con .top_three li:nth-child(3){float: right;}
.tab_con .top_three li .head_img{width: 1.2rem; height: 1.2rem; border-radius: 50%; position: relative; margin: auto;}
.tab_con .top_three li.first_li .head_img{width: 1.5rem; height: 1.5rem; }
.tab_con .top_three li .head_img>img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.tab_con .top_three li.three_li .head_img .label{width: 1.42rem; height: .34rem; position: absolute; bottom: -.13rem; left: 50%; margin-left: -.71rem;}
.tab_con .top_three li.first_li .head_img .label{width: 1.74rem; height: .42rem; position: absolute; bottom: -.17rem; left: 50%; margin-left: -.87rem;}
.tab_con .top_three li .head_img .label img{width: 100%; height: 100%; object-fit: cover;}
.tab_con .top_three li h3{font-size: .28rem; color: 212121; margin: auto; text-align: center; margin-top: .35rem; width: 1.4rem;overflow: hidden; white-space: nowrap; text-overflow: ellipsis; line-height:.4rem;}
.tab_con .top_three li .zan_count{color: #FFAA21; font-size: .24rem; margin-top: .1rem; font-weight: bold; text-align: center;}
.tab_con .top_three li .zan_count:before{content: ''; display: inline-block; width: .32rem; height: .32rem; background: url(../images/zan_3.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .08rem; margin-right: .03rem;}
.tab_con .top_three li .active_count{color: #21AAFF; font-size: .24rem; margin-top: .1rem; font-weight: bold; text-align: center;}
.tab_con .top_three li .active_count:before{content: ''; display: inline-block; width: .32rem; height: .32rem; background: url(../images/act.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .08rem; margin-right: .03rem;}
.tab_con .top_three li.first_li{width: 2.38rem; position: absolute; left: 50%; margin-left: -1.19rem; height: 3rem; bottom: .12rem; border-radius: .2rem .2rem 0 0; background: #fff; padding-top: .28rem; box-sizing: border-box;z-index: 9;}
.tab_con  .top_three:after{content: ''; background: url(../images/bg_grey.png) no-repeat center; background-size: cover; position: absolute; left: 50%; top: -.01rem; margin-left: -1.48rem; width: 2.96rem; height: 2.5rem; z-index: 8;}

.charts_tit{margin: 0 .85rem; height: 1.9rem;background: no-repeat center ;background-size: contain; position: relative; z-index: 1;}
.charts_tit.zan_tit{background-image: url(../images/zan_tit.png);}
.charts_tit.active_tit{background-image: url(../images/active_tit.png);}
.charts_tit.topic_tit{background-image: url(../images/ht_title.png); margin-top: 3rem;}
/* 点赞列表 */
.bd_list{margin: 0 .3rem; background: #fff; border-radius: .3rem; box-shadow:0 .03rem .23rem 0 rgba(4,10,36,0.09); padding: .58rem .4rem; position: relative; z-index: 1; margin-bottom: .5rem; min-height: 5rem;}
.bd_list dl .table_th{margin-bottom: .2rem;}
.bd_list dl .table_th>div{ font-size: .24rem; color: #999; float: left; }
.bd_list dl .table_th>div.t_num{width: .64rem; }
.bd_list dl .table_th>div.t_user{width: 70%; text-align: center;}
.bd_list dl .table_th>div.t_count{float: right; max-width: 1rem;}
.bd_list dl .table_th{overflow: hidden;}
.bd_list dl .table_tr{overflow: hidden;}
.bd_list dl .table_tr>div{float: left; line-height: .88rem;}
.bd_list dl .table_tr>div.t_num{width: .64rem; font-size: .3rem; }
.bd_list dl .table_tr>div.t_num em{display: block; width: .34rem; text-align: center;font-weight:bold; font-style:italic; color: #999;}
.bd_list dl .table_tr>div.t_name{width: 50%; font-size: .3rem; color: #000; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.bd_list dl .table_tr>div.t_count{float: right; max-width: 1rem; color: #FFAA21; font-weight: 600; text-align: right; font-size: .28rem;}
.bd_list.active_list dl .table_tr>div.t_count{color: #21AAFF;}
.bd_list.topic_list dl .table_tr>div.t_count{color: #FF4800;}
.bd_list.topic_list dl .table_tr>div.t_num img{width: .4rem;height: .4rem; display: block;margin-top: .22rem;}
.bd_list.topic_list{margin-top: .12rem;}

.link_box{display: block;}

.huoniao_iOS .bg_img.bg_zan,.huoniao_iOS .bg_img.bg_active,.huoniao_iOS .bg_img.bg_topic{background-position: 0 0;}