/* html{background: #f5f5f7;} */
.popupRightBottom .fastTop{visibility: hidden;}
/*头部*/
.header{background: #fff;height: .9rem;display: -webkit-box;/* border-bottom: 1px solid #f2f2f2; */}
.header-l a{display: table-cell;vertical-align: middle;height: .9rem;width: 1rem;}
.header-l a img{display: block;height: .5rem;width: auto;margin: 0 auto;}
.header-c{-webkit-box-flex: 1;text-align: center;font-size: .34rem;line-height: .9rem;}
.header-r{display: -webkit-box; width: 1rem;}
.header-r a{display: table-cell;width: 1rem;height: .9rem;vertical-align: middle; color: #21AAFF; font-size:.32rem; font-weight: bold; text-align: center;}
.header-r .yun img{display: block;width: .55rem;height: auto;margin: 0 auto;}
.header-r .screen img{display: block;width: .45rem;height: auto;margin: 0 auto;}
.header-r a.fabu_btn.fn-hide{display: none;}
/* 发布框 */
.input_container{background: #fff; padding: .3rem; padding-bottom: .1rem; border-bottom: solid .2rem #f5f5f7;}
.input_container .inbox{font-size: .32rem; padding: .1rem; height: 2.5rem;}
.input_container .inbox img.emotion-img{width: .5rem; margin: 0 .01rem;}
/* .inbox:empty::before{color:lightgrey;content:attr(placeholder);} */
.input_container .inbox:empty:before{color:#CFCFCF; content:attr(placeholder);}
/* .input_container .inbox:focus:before{content:none;} */

/* 上传 */
/*图片上传*/
.ml4r {background: #fff;padding-left: .4rem;overflow: hidden;}
.img_box .tit{font-size: .3rem;padding-bottom: .3rem;}
.img_box{padding:.3rem 0; background: #fff;}
.img_box h3{padding: .3rem 0;font-size: .3rem;}
.img_box h3 em{ color: #333;padding:0 .2rem;}
.img_box h3 i{color: #3c7eef;}
.img_box li.upload_btn{border: .03rem dashed #C8CACF; background: #fff; box-sizing: border-box;}
.img_box li.upload_btn .mask_btn{opacity: 0; width: 1.62rem; height: 1.62rem; position: absolute; left: 0; top: 0;display: none;}
.img_box li{width: 1.62rem; height: 1.62rem; border-radius: .1rem;  float: left; position: relative; margin-bottom: .2rem; background: #f5f5f5;}
.img_box li{margin-right: .14rem; }
.img_box li.video_li .img_show:after{content: ''; display: block; width: .76rem; height: .76rem; background: url(../images/f_play.png) no-repeat center ; background-size: cover; position: absolute; left: 50%; top: 50%; margin-left: -.38rem; margin-top: -.38rem;}
.img_box li:nth-child(4n){margin-right: 0;}
.img_show {width: 1.62rem; height: 1.62rem; border-radius: .12rem; overflow: hidden; position: relative;}
/* .del_btn{width: .32rem; height: .32rem; border-radius: 50%; background-color: rgba(0,0,0,.67); position: absolute;top: -.1rem; right: -.1rem; color: #fff; font-size: .4rem; text-align: center;  font-style: normal; line-height: .24rem; transform: rotate(45deg);} */
.img_box img,.img_show video{width: 100%;}
.imgshow_box p{ background-color: rgba(0,0,0,.8); color: #fff; position: absolute; bottom: 0; text-align: center; }
.upload_btn p,.addbtn p{font-size: .24rem; color: #8D8E91; text-align: center;width: 1.1rem; margin: auto; margin-top: .13rem; line-height: 1.25em;}
.upload_btn img,.addbtn img{width: .48rem; height: .48rem; margin: .4rem auto .1rem; display: block; }
.upload_btn input{width: 1.62rem; height: 1.62rem;position: absolute; top: 0; left: 0; opacity: 1;z-index: 10;}
.upload_btn,.addbtn{position: relative;}
#filePicker{height: 100%; overflow: hidden;}
#filePicker.disabled,.disabled.v_btn{pointer-events: none;}
.webuploader-element-invisible {position: absolute !important; clip: rect(1px,1px,1px,1px);}
/* .webuploader-container div {width: .64rem; height: .64rem;} */
.img_box li.v_source{position: relative;}
.img_box li.v_source:after{content: ''; display: block; width: .76rem; height: .76rem; background: url(../images/f_play.png) no-repeat center; background-size: cover; position: absolute; left: 50%; top: 50%; margin-left: -.38rem; margin-top: -.38rem;}
.img_box li .del,.img_box li .del_v,.li_r .del_liimg{width: .4rem; height: .4rem; background: url(../images/f_del.png) no-repeat center; background-size: cover; position: absolute; top: -.1rem; right: -.1rem;}
.video_li video{width: 100%; height: 100%; object-fit: cover;}
/* 定位 */
.choseBox{padding:0 .2rem; border-radius: .34rem; background: #F5F6F7; margin-bottom: .2rem; display: inline-block; text-align: right;max-width: 60%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.choseBox a:before{content: ''; display: inline-block; width: .32rem; height: .32rem; vertical-align: middle; background: url(../images/f_topic.png) no-repeat center; background-size: cover; margin-bottom: .04rem; margin-right: .05rem;}
.choseBox a.add_ps:before{background-image: url(../images/f_posi.png);}
.choseBox a{ font-size: .28rem; color: #8D8E91; line-height: .68rem;}
.choseBox .add_tp em{color: #21AAFF; font-size: .24rem;}

/* 链接 */
.linkBox{padding: .1rem .3rem ;}
.linkBox h1{font-size: .3rem; color: #333; font-weight: bold; line-height: 1.1rem; border-bottom: solid .01rem #E6E6E8; position: relative;}
.linkBox h1 .link_chose{display: block; width: .48rem; height: .48rem; background: url(../images/f_leftarr.png) no-repeat center; background-size: cover ; position: absolute; right: -.16rem; top: .3rem;}

/* 底部按钮 */
.bottom_box{box-shadow:0 -.11rem .37rem 0 rgba(0, 0, 0, 0.07); position: fixed; bottom: 0; left: 0; right: 0; background: #fff; border-radius: .3rem .3rem 0 0; }
.btn_group{box-sizing: border-box; padding: .2rem .3rem; height: 1.1rem;}
.bottom_box .left_group{float: left;}
.bottom_box a{display: inline-block; width: .64rem; height: .64rem; margin-right: .5rem; margin-top: .06rem; position: relative;}
.bottom_box a img{display: block; width: .64rem; }
.bottom_box  .right_btn{float: right;}
.bottom_box  .right_btn a{margin-right: 0;}
.bottom_box  .right_btn a{background: url(../images/f_kboard.png) no-repeat center ; background-size: cover;}
.bottom_box  .right_btn.close_k a{background-image: url(../images/f_kboard0.png);}
/* 表情 */
.bq_box{height: 3.3rem; overflow: auto; display: none; animation: bottomFadeIn .5s ease-in-out;}
.bq_box li{float: left; width: 14.2%; margin-bottom: .3rem; }
.bq_box li img{display: block; width: .5rem; margin: auto;padding: .05rem;}
.bq_box.show{display: block;}

/* 上传文件 */
.mask_upfile,.mask_link,.mask_pl,.mask_topic,.mask_posi{position: fixed; top: 0; left: 0; right: 0 ; bottom: 0; background: rgba(0,0,0,.7); z-index: 100000; display: none;}
.upfile_box{position: fixed; bottom: -4.2rem; left: 0; right: 0; z-index: 100001;}
.upfile_box .up_btngtoup.app_group{display: none;}
.upfile_box .up_btngtoup,.upfile_box .cancel_btn{background: #fff; border-radius: .3rem;margin: 0 .3rem; text-align: center; margin-bottom: .2rem;}
.upfile_box .up_btngtoup a,.upfile_box .cancel_btn{display: block; height: 1.2rem; box-sizing: border-box;}
.upfile_box .cancel_btn{color: #3B93FF; line-height: 1.2rem; font-size: .34rem; font-weight: bold;}
.upfile_box .up_btngtoup a h2{color: #000; font-size: .34rem; font-weight: bold; margin-bottom: .06rem;}
.upfile_box .up_btngtoup a p{color: #999; font-size: .22rem;}
.upfile_box .up_btngtoup a{padding-top: .16rem;position: relative;}
.upfile_box .up_btngtoup a.photo_btn{border-bottom: solid .01rem #B3B3B3;}
.upfile_box .up_btngtoup a>div{height: 1.2rem; }

/* 商品、链接选择 */
.mask_link{background: rgba(0,0,0,.57); }
.link_box{position: fixed; bottom: -4.1rem; left: 0; right: 0; border-radius: .3rem .3rem 0 0 ; background: #F4F4F4; z-index: 100001;}
.link_box ul.link_opt{height: 3.12rem; box-sizing: border-box; padding: .5rem;}
.link_box ul.link_opt li{float: left; text-align: center; margin-right: .57rem;}
.link_box ul.link_opt li a{display: block; width: 1rem; height: 1rem; padding: .1rem; background: #fff; border-radius: .24rem;}
.link_box ul.link_opt li a img{display: block; width: 100%;}
.link_box ul.link_opt li p{color: #212121; font-size: .28rem; margin-top: .15rem;}
.link_box .cancel_btn{background: #fff; line-height: .98rem; color: #4D4D4D; font-size: .32rem; text-align: center; display: block;}

/* 商品链接关联 */
/* .mask_pl{display: block;} */
.link_pro{height: 90%; position: fixed; bottom: -90%; left: 0; right: 0; background: #fff; z-index: 100001; border-radius: .3rem 0.3rem 0 0;}
.link_pro h1,.link_in h1{font-size: .34rem; color: #000; text-align: center; position: relative; line-height: 1.1rem; font-weight: bold; border-bottom: solid .01rem #EBEBED;}
.link_pro h1 a,.link_in h1 a{color: #999; font-size: .3rem; position: absolute; right: .3rem; font-weight: normal; top: 0;}
.link_in h1 a{position: absolute; top: 0; right: .3rem;}
.link_in h1{position: relative;}
.link_pro .sort_nav {padding: 0 .3rem; border-bottom: solid .01rem #EBEBED; height: .88rem; overflow: hidden; position: relative;}
.link_pro .sort_nav:after{content: ''; display: block; width: .76rem; height: .76rem; background: url(../images/f_bg.png) no-repeat center; background-size: cover; position: absolute; right: .3rem; bottom: 0; pointer-events: none;}
.link_pro .sort_nav li.active{color: #000;}
.link_pro .sort_nav li.active:after{content: ''; display: block;height: .04rem; background: #3699FF; width: 100%; position: absolute; left: 0; bottom: 0;}
.link_pro .sort_nav li{display: inline-block; font-size: .28rem; color: #B3B3B3; padding:0 .04rem; margin-right: .55rem; line-height: .88rem; position: relative;}
.link_pro .sort_nav ul{white-space: nowrap; overflow-x: auto; height: 1.1rem;}
.link_pro .search_box,.topic_box .search_box,.posi_box .search_box{margin: .2rem .3rem; background: #F2F2F2; border-radius: .1rem; height: .72rem; position: relative;}
.link_pro .search_box:before,.topic_box .search_box:before,.posi_box .search_box:before{content: ''; display: block; width: .4rem; height: .4rem; background: url(../images/f_search.png) no-repeat center; background-size: cover;position: absolute; left: .24rem; top: .16rem;}
.link_pro .search_box input,.topic_box .search_box input,.posi_box .search_box input{background: none; border: none; width: 100%; box-sizing: border-box; font-size: .28rem; padding: .16rem .6rem; padding-left: .72rem; }
.link_pro .search_box input:placeholder,.topic_box .search_box input:placeholder,.posi_box .search_box input:placeholder{color: #B3B3B3;}
.link_pro .search_box i.clear,.pro_show .li_show  i.clear,.topic_box .search_box i.clear,.posi_box .search_box i.clear{display: none; width: .4rem; height: .4rem; background: url(../images/f_clear.png) no-repeat center; background-size: cover; position: absolute; top: .16rem; right: .16rem;}

.pro_box,.topic_rec{overflow: auto; position: absolute; top: 3.1rem; bottom: 0;  box-sizing: border-box; left: 0; right: 0;-webkit-overflow-scrolling: touch;}

.pro_box ul{display: none;}
.pro_box ul.show{display: block;}
.pro_li.chosed,.tp_li.chosed,.posi_li.chosed{position: relative;}
.pro_li.chosed:before,.tp_li.chosed:before,.posi_li.chosed:before{content: ''; display: block; width: .48rem; height: .48rem; background: url(../images/f_chose.png) no-repeat center; background-size: cover; position: absolute; right: .34rem; bottom: .8rem;}
.pro_li{padding: .3rem; overflow: hidden; position: relative;}
.pro_li:after,.topic_box .tp_li:after{content: ''; display: block; left: 2.1rem; height: 1px; background: #EBEBED; position: absolute; bottom: 0; right: 0;}
.pro_li .left_proimg{width: 1.8rem; height: 1.8rem; float: left; position: relative;}
.pro_li .left_proimg img{width: 100%; height: 100%; object-fit: cover; border-radius: .1rem;}
.pro_li .left_proimg i{font-size: .2rem; color: #fff; background: rgba(0,0,0,.57); display: inline-block; padding: 0 .1rem; position: absolute; top: 0; left: 0; border-radius: .1rem 0 .1rem 0;}
.pro_li .right_info{margin-left: 2.1rem; height: 1.8rem}
.pro_li .right_info h2{font-size: .32rem; color: #000; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.pro_li .right_info p{color: #FC3A4A; font-size: .32rem; font-weight: 500; margin-top: .52rem;}
.pro_li .right_info p em{font-size: .24rem;}


.link_in{position: fixed; height: 6.2rem; bottom: -6.2rem; left: 0; right: 0; background: #fff; z-index: 100001; border-radius: .3rem 0.3rem 0 0;}
.l_inbox{margin: .2rem .3rem; border-radius: .1rem; height: 2.3rem; background: #F2F2F2; padding: .28rem; box-sizing: border-box;}
.l_inbox span{color: #B3B3B3; font-size: .3rem;}
.l_inbox span:before{content: ''; display: inline-block; width: .32rem; height: .32rem; background: url(../images/f_link1.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-right: .1rem;}

/* 已选的 商品链接 */
.pro_show { padding-bottom: 1.6rem;}
.pro_show .li_show { position: relative; margin-top: .3rem;border-radius: .08rem; padding: .1rem;background: #F5F5F5;}
.pro_show .li_show .l_img{float: left; width: 1rem; height: 1rem; border-radius: .1rem; overflow: hidden;}
.pro_show .li_show .l_img img{width: 100%; height: 100%; object-fit: cover;}
.pro_show .li_show .r_info{margin-left: 1.34rem;}
.pro_show .li_show .r_info h2{color: #333; font-size: .3rem; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; margin-right: .8rem;}
.pro_show .li_show .r_info p{color: #999; font-size: .24rem; margin-top: .12rem;}
.pro_show .li_show  i.clear{display: block; top: .4rem; right: .1rem; }
.pro_show .li_show[data-type="link"] .r_info p{display: none;}
.pro_show .li_show:active{background: #fff; box-shadow:0 .03rem .13rem 0 rgba(0,2,18,0.23);}
.pro_show .li_show:active i{display: none;}

/* 话题选择/创建*/
.topic_box{position: fixed; height: 90%; left: 0; right: 0; bottom:-90%; background: #fff; z-index: 100001; border-radius: .3rem .3rem 0 0;}
.topic_box h1,.posi_box h1{text-align: center; font-weight: bold; font-size: .34rem; color: #000; position: relative; line-height: 1.1rem; border-bottom: solid .01rem #EBEBED;}
.topic_box h1 a,.posi_box h1 a{display: block; position: absolute; font-size: .3rem;color: #999;  right: .3rem; font-weight: normal; top: 0;}
.topic_box h1 a.sure_btn,.posi_box h1 a.sure_btn,.link_pro h1 a.sure_btn,.link_in h1 a.sure_btn{color: #212121;display: none;}
.topic_box h1 a.no_btn,.posi_box h1 a.no_btn{left:.3rem; right: auto; display: none;}
.topic_box .tp_li.chosed:before{ right: .35rem; bottom: .65rem;}
.topic_box .tp_li{padding:.26rem .3rem; position: relative; overflow: hidden;}
.topic_box .tp_li .l_img{width: 1.06rem; height: 1.06rem; border-radius: .1rem; float: left;}
.topic_box .tp_li .l_img img{width: 100%; height: 100%; object-fit: cover;  border-radius: .1rem;}
.topic_box .tp_li .r_info{margin-left: 1.34rem;}
.topic_box .tp_li:after{left: 1.64rem; background: #EBEBED;}
.topic_box .tp_li .r_info h2{color: #000; font-size: .32rem; font-weight: 600; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.topic_box .tp_li .r_info h2 em{color: #21AAFF; font-size: .2rem; background: #E8F4FC; padding: .05rem .08rem; border-radius: .08rem; display: inline-block; vertical-align: middle;}
.topic_box .tp_li .r_info h2 span{vertical-align: middle;}
.topic_box .tp_li .r_info p{color: #999; font-size: .24rem; margin-top: .2rem;}
.topic_rec{top: 2.3rem;}
.topic_rec h3{font-size: .24rem; color: #999; padding-left: .35rem; line-height: .6rem; background: #F7F7F7;}
.topic_box .tp_li.create_li:after{display: none; }
.topic_box .tp_li.create_li .create_btn{display: block; width: .4rem; height: .4rem; background: url(../images/f_leftarr.png) no-repeat center; background-size: cover; position: absolute; right: .3rem; bottom: .6rem;}
.topic_box .tp_li.create_li,.topic_rec>h3{display: none;}
.topic_box .search_ul{display: none;}
.topic_box .search_ul .noData ,.pro_box .noData,.scrBox .search_posi .noData{padding-top: 3rem !important;}
.topic_box .search_ul .noData img,.pro_box .noData img,.scrBox .search_posi .noData img{width: .72rem; margin: auto; display: block;}
.topic_box .search_ul .noData p,.pro_box .noData p,.scrBox .search_posi .noData p{font-size: .24rem; color: #B2B2B2; text-align: center; margin-top: 0.2rem;}
.topic_box .loading,.posi_box .loading,.pro_box .loading{font-size:.24rem; color: #B2B2B2; text-align: center; padding: .5rem;}

/* 定位 */
/* .mask_posi{display: block;} */
.posi_box{position: fixed; height: 90%; left: 0; right: 0; bottom:-90%; background: #fff; z-index: 100001; border-radius: .3rem .3rem 0 0;}
.posi_box h1 a.no_btn,.posi_box h1 a.sure_btn{display: inline;}
.posi_box >.scrBox{padding:0 .3rem; overflow: auto; position: absolute; top: 2.1rem; bottom: 0; left: 0; right: 0; -webkit-overflow-scrolling: touch;}
.posi_box >.scrBox .posi_li{padding: .26rem 0; border-bottom: solid .01rem #E6E7ED;}
.posi_box >.scrBox.src_search{display: none;}
.posi_box >.scrBox .posi_li.chosed:before{ right: 0; top: .36rem;}
.posi_box >.scrBox .posi_li h2{color: #212121; font-size: .3rem; margin-bottom: .08rem;}
.posi_box >.scrBox .posi_li .detail_posi{color: #A6A7AB; font-size: .24rem;}
.posi_box >.scrBox .posi_li .detail_posi p,.posi_box .rec_posi .posi_li h2{margin-right: 1.4rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.posi_box >.scrBox .posi_li .detail_posi span{float: right;}
.posi_box >.scrBox .posi_li.chosed .detail_posi span{display: none;}


.videobox{width: 100%; height: 100%; position: fixed; top: 0 ; left: 0; right: 0; bottom: 0; background-color: #000; display: none; z-index: 100001;}
.videobox video{width: 100%; height: 100%; object-fit: cover;}
.videobox .header,.videoModal .header{background: #000 !important; color: #fff; }
.videobox .header .header-l a,.videoModal .header .header-l a{background-image: url('../images/f_w_l.png?v=2');}
.videobox .header .header-r a,.videoModal .header .header-r a{color: #fff; font-weight: normal; font-size: .3rem; width: .9rem;}
.videobox .v_play{width: 1.28rem; height: 1.28rem; position: fixed; left: 50%; top: 50%; margin-left: -.64rem; margin-top: -.64rem; display: block; background: url(../images/f_play.png) no-repeat center ; background-size: cover; z-index: 1;}
.videobox .v_play.fn-hide{display: none;}
.prism-marker-text{display: none;}
/*错误提示*/
.error{position: fixed; width: 100%; height: 100%; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0,0,0,.6); z-index: 1000; display: none;}
.error p{position: fixed; width: 3rem; background-color: rgba(0,0,0,.7); border-radius: .1rem; color: #fff; font-size:.32rem; line-height: 1rem; text-align: center; padding: 0 .2rem; z-index: 9999; left: 50%; margin-left: -1.74rem; top: 30%; margin-top: -.48rem; min-height: 1rem;}
.error i{width: .64rem; height: .64rem; display: inline-block; background: url(../images/sure_sv.png) no-repeat center; background-size: cover; vertical-align: middle;}
.error span{vertical-align: middle; font-size: .3rem; }

.video_upbtn.webuploader-container div,.image_upbtn.webuploader-container div{width: 100% !important; height: 100% !important;}

/*全屏*/
.videoModal{width:100%;height:100%;position: fixed;z-index: -1;top: 0;left: 0;bottom:0;opacity: 0;}
.videoModal.vshow{opacity: 1;visibility: visible;z-index:999999 ;transition: all .4s;}
.videoModal .swiper-container{width: 100%;height: 100%;background: #000;}
.videoModal .vClose{ display: none;}
.videoModal .swiper-pagination{position: absolute;left: 50%;top: .25rem;width: auto;height: .45rem;line-height: .5rem;padding: .04rem .2rem;line-height: .4rem;text-align: right;color: #fff;border-radius: .4rem;font-size: .26rem;z-index: 9;margin-left:-.4rem; display: none;}
.videoModal .swiper-slide{width:100%!important;height: 100%}
.videoModal .swiper-slide img{width:100%;height:auto;position: relative;top: 50%; transform: translateY(-50%);-webkit-transform: translateY(-50%);}

.videoModal video{height: 4.4rem;position: absolute;top:50%;margin-top: -2.2rem;}

/* 外链链接 */
.link_info{margin: .4rem .3rem;}
.link_info .li_l{margin-right: 1.82rem; padding-top: .2rem;}
.link_info .li_l input{font-size: .34rem; color: #333; border: none; font-weight: bold;}
.link_info .li_l input::placeholder{color: #B3B3B3;}
.link_info .li_l p{color: #B3B3B3; font-size: .24rem; opacity: .66; margin-top: .3rem;}
.link_info .li_r{float: right; width: 1.62rem; height: 1.62rem; position: relative;border: dashed .03rem #C8CACF;  border-radius: .1rem;}
.link_info .li_r a{display: block; width: 100%; height: 100%; border-radius: .1rem;  position: relative;}
.link_info .li_r img.liimg{width: 100%; height: 100%; object-fit: cover; border-radius: .1rem; background: #000;}
.liup_btn {box-sizing: border-box; padding-top: .4rem;}
.liup_btn i{display: block; width: .48rem; height: .48rem; background: url(../images/f_add.png) no-repeat center; background-size: cover; margin: auto;}
.liup_btn p{color: #8D8E91; font-size: .24rem; text-align: center; margin-top: .1rem;}
.li_r .del_liimg{display: none;}


.progress {position: absolute;  right: 4px; bottom: 4px; height: 3px; left: 4px; height: 4px; overflow: hidden; z-index: 15; margin:0; padding: 0; border-radius: 0; background: transparent;}
.progress span {display: block; overflow: hidden; width: 0; height: 100%; background: #499c00 url('https://pic.xiant.ao/static/js/webuploader/progress.png') repeat-x; -webit-transition: width 200ms linear; -moz-transition: width 200ms linear; -o-transition: width 200ms linear; -ms-transition: width 200ms linear; transition: width 200ms linear; -webkit-animation: progressmove 2s linear infinite; -moz-animation: progressmove 2s linear infinite; -o-animation: progressmove 2s linear infinite; -ms-animation: progressmove 2s linear infinite; animation: progressmove 2s linear infinite; -webkit-transform: translateZ(0);}
@-webkit-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@-moz-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}

/*错误提示2*/
.error_box{width: 100%;position: fixed; top: 30%;}
.error{width: 3.5rem; height: 1rem; text-align: center; background-color: rgba(0,0,0,.6); border-radius: .16rem;  margin: auto; display: none;}
.error p{color: #fff; font-size: .3rem; line-height: 1rem;}
/* 错误提示1 */
.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 100001; visibility: hidden;}
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: .3rem; line-height: 1.4; text-align: center; padding: .24rem .2rem; z-index: 9999; left: 0; top: 50%; margin-top: -.2rem;}


/* 禁止滚动 */
.noscroll,
.noscroll body {
	 overflow: hidden;
}
.noscroll body {
	position: relative;
}
