.popupRightBottom{z-index: 99;}
.header{position: fixed; top: 0; left: 0; right: 0; z-index: 9 !important;}
.header .header-l a, .open.header .header-l a {background: none;}
.header .header-search a, .open.header .header-search a{background-image: url(../images/edit_btn.png);background-size: .48rem;}
body,html{background: #F5F5F7;}
.refreshText{  position: absolute; width: 100%; line-height: 50px; text-align: center; left: 0; top: 1.8rem; font-size: .26rem; color: #9c9c9c;}
.refreshText.shorttxt{top: 1rem;}
.swiper-container.swiper-body {padding-top: .9rem; padding-bottom: 1.2rem;}
.swiper-slide.slide_con{padding-bottom: 1.2rem;}
/* .swiper-container.swiper-body .swiper-wrapper{min-height: ;} */
.swiper-slide{padding-bottom: ;}
/* 导航 */
.nav_box{background: #fff; position: fixed; top: .9rem; left: 0; right: 0; z-index: 8; display: none; box-shadow:0 .03rem .17rem 0 rgba(4,5,36,0.05);}
.nav_box ul{overflow-x:auto ; margin: 0 .1remrem; }
.nav_box ul li.li_on{font-size: .36rem; font-weight: bold; padding: 0 .27rem; position: relative ;  padding-bottom: .28rem; padding-top: .16rem;}
.nav_box ul li{display: inline-block; font-size: .28rem; padding: 0 .22rem; padding-bottom: .28rem; padding-top: .16rem;}
.nav_box ul li.li_on:after{content: ''; display: block; width: .36rem; height: .06rem; background: #3699FF;position: absolute; bottom: 0.08rem; left: 50%; margin-left: -.18rem;}
.nav_box ul li.li_new a{position: relative;}
.nav_box ul li.li_new a:before{content: ''; display: block; width: .14rem; height: .14rem; border-radius: 50%; background: #FF443B; position: absolute; right: -.14rem; top: -.07rem;}
.fixedTop {padding: .23rem .3rem; position: fixed; top:1.76rem; left: 0; right: 0;z-index: 9; background: #F7F7F7; display: none;}
.fixedTop li{display: inline-block; line-height: .52rem; padding: 0 .27rem; border-radius: .26rem; background: #fff; text-align: center; margin-right: .4rem;}
.fixedTop li.on_chose,.fixedTop li.on_chose a{background: #3699FF; color: #fff;}

/* =========================短视频============================ */

/*短视频部分*/
.sv_list{width: 100%; padding-top: 1.1rem;}
.sv_list ul{width: 50%;}
.sv_list .box1 li{margin-left: .2rem; margin-right: .1rem; box-shadow:0 .03rem .07rem rgba(7,8,36,.03);}
.sv_list .box2 li{margin-left: .1rem; margin-right: .2rem;  box-shadow:0 .03rem .07rem rgba(7,8,36,.03);}
.sv_list .box2{float: right;}
.sv_list .box1{float: left;}
.sv_list .imgbox img {width:100%;}
/*单个视频样式*/
.sv_list .liBox a{display: block; }
.sv_list .imgbox{width: 100%;/* max-height: 4rem; */ overflow: hidden; min-height: 2rem; background: #000;}
.sv_list .imgbox img{width:100%; display: block;}
.sv_list .liBox {background-color: #fff; border-radius: .12rem; overflow: hidden; margin-bottom: .2rem;}
.sv_list .videoInfo {margin-left: .2rem; margin-right: .2rem; margin-top: .28rem;}
.sv_list .videoInfo h2{font-size: .26rem; line-height: .4rem; color: #202021; display: -webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp: 2;overflow: hidden;}
/*up的信息*/
.sv_list .up_more{  overflow: hidden; padding-bottom: .3rem; padding-top: .3rem;}
.sv_list ._left a{display: block;}
.sv_list ._left .headimgbox{width:.48rem; height: .48rem; border-radius: 50%;  float: left;}
.sv_list ._left .headimgbox img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.sv_list ._left{overflow: hidden; float: left; height: auto;}
.sv_list ._left h2{float: left; line-height: .48rem; margin-left: .12rem; font-size: .24rem; color: #4d4d4f; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 1.2rem;}
.sv_list ._right{float: right; font-size: .24rem; color: #4d4d4f; line-height: .48rem; width: auto; height: auto; background: none;}
.sv_list ._right .numZan:before{content: ''; display: inline-block; margin-right: .1rem; width: .32rem; height: .32rem;background-size: contain; background-repeat: no-repeat; }
.sv_list ._right .numZan:before{background-image: url(../images/v_up02.png); vertical-align:middle;}
.sv_list ._right .numZan.onclick:before{background-image: url(../images/v_up01.png);}
/*._right .numZan.nowclick:before{animation: popheart .5s;}*/
.sv_list ._right .numZan.onclick{color: #fc4a5b; }

.con_svideo .loading{clear: both;}
.more_icon{width: .8rem; height: .8rem; border-radius: .2rem; box-shadow: 0 .03rem .13rem rgba(255,1,0,.23); margin: auto; margin-top: 1.1rem; margin-bottom: .4rem; position: relative; text-align: center;
background: -webkit-linear-gradient(35deg,  #ff7b63 , #ff4849); /* Safari 5.1 - 6.0 */
background: -o-linear-gradient(35deg,  #ff7b63, #ff4849); /* Opera 11.1 - 12.0 */
background: -moz-linear-gradient(35deg,  #ff7b63, #ff4849); /* Firefox 3.6 - 15 */
background: linear-gradient(35deg,#ff7b63, #ff4849); }
.dbox .more_icon img{ background: none;width: .52rem !important; height: .52rem !important; position: absolute;left: 50%; top: 50%; margin-left: -.26rem; margin-top: -.26rem;}
.more_zqnum h2,.more_zt h2{font-size: .28rem; color: #2b2b2b; text-align: center;}


/* ==========================推荐========================== */
/* 话题推荐 */
.block_one{background: #fff; padding-top: .2rem; border-radius:0 0 .3rem .3rem; box-shadow:0 .3rem .17rem 0 rgba(4,5,36,0.03);}
.topic_ul{display: flex; justify-content: space-between; margin: .2rem .3rem; margin-top: 0;}
.topic_ul li{width: 2.2rem; height: 2.1rem;  }
.topic_ul li a{display: block; position: relative; height: 2.1rem; overflow: hidden;border-radius: .2rem;background: #f5f5f5;}
.topic_ul li a img{display: block; width: 100%; height: 100%; object-fit: cover;}
.topic_ul li a p{position: absolute; bottom: 0; left: 0; right: 0; text-align: center; line-height: .6rem; color: #fff; font-size: .26rem; background: rgba(0,0,0,.5);    white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.topic_ul li a.go_link p{top: 0; left: 0; right: 0; bottom: 0; line-height: .4rem;}
.topic_ul li a.go_link p em{display: block; font-size: .34rem; margin-top: .72rem;}

/* 话题排行 */
.hot_topic{margin: 0 .3rem; background: #fff; border-radius: .2rem; box-shadow:0 .03rem .23rem 0 rgba(4,10,36,0.09); overflow: hidden; padding-bottom: .36rem; position: relative;}
.hot_topic .hot_dt img{display: block; width: 100%; height: 100%; object-fit: cover;}
.hot_topic .hot_dt {}
.hot_topic .hot_dt a{display: block;height: 1.8rem; position: relative;}
.hot_topic .hot_dt .bg_t{left: 0; right: 0; top: 0; bottom: 0; position: absolute; background: rgba(0,0,0,.37);}
.hot_topic .hot_dt h2{font-size: .38rem; color: #fff; position: absolute; left: .34rem; bottom: .2rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; right: .34rem;}
.hot_topic .hot_dt .r_t{font-size: .22rem; color: #fff;position: absolute; top: .24rem; right: .24rem;}
.hot_topic .hot_dt:before{content: ''; display: block; width: 1.38rem; height: .38rem;background: url(../images/htopic.png) no-repeat center ; background-size: contain; position: absolute; left: .34rem; top: .6rem; z-index: 2;}
.hot_topic dd{width: 50%; float: left;box-sizing: border-box; padding-left: .28rem; padding-right: .2rem; margin-top: .28rem;}
.hot_topic dd a{font-size: 0.28rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;display: block;}
.hot_topic dd.l_hot a i{display: inline-block; width: .36rem; height: .36rem; border-radius: .1rem; color: #fff; font-size: .22rem; line-height: .36rem; text-align: center; background: #FF4059; margin-left: .08rem;}
.hot_topic:before{content: ''; display: block; width: .02rem; height: 1.5rem; background: #EBEBED; position: absolute; left: 50%; bottom: .4rem; margin-left: -.01rem;}

/* 分类导航 */
.cate_nav ul{display: flex; justify-content: space-between; padding: .54rem .4rem;}
.cate_nav ul li{width: .98rem; text-align: center;}
.cate_nav ul li a{display: block; font-size: .28rem; }
.cate_nav ul li a p{margin-top: .12rem;}
.cate_nav ul li a img{width: 100%; height: 100%; object-fit: cover; display: block;}
.comt_li img{width: .4rem; vertical-align: middle;}

/* 第二块  列表 */
.content_box{margin-top: .2rem;}
.content_box .tab_ul,.area_box .tab_ul{display: flex; justify-content: space-around; background: #fff;border-bottom: solid .01rem #EBEBED; padding: 0 1.4rem;}
.content_box .tab_ul li,.area_box .tab_ul li{line-height: .9rem; font-size: .3rem; position: relative;}
.content_box .tab_ul li a{color: #B3B3B3;}
.content_box .tab_ul li.on_chose a,.area_box .tab_ul li.on_chose{color: #000;}
.content_box .tab_ul li.on_chose:before,.area_box .tab_ul li.on_chose:before{content: ''; display: block; width: .6rem; height: .04rem; background: #3699FF; position: absolute; left: 50%; bottom: 0; margin-left: -.3rem;}
.tab_con>ul{display: none;}
.tab_con>ul.show{display: block;}
.li_box a.dt_detail{display: block;}
.li_box{padding-top: .44rem ; background: #fff; margin-bottom: .2rem; position: relative;}
.li_box .art_ib{margin-bottom: .3rem; padding: 0 .4rem; display: block;}
.li_box .art_ib .left_head,.tlist_ul .t_li .left_head{width: .72rem; height: .72rem; float: left; position: relative;}
.headimgbox {position: relative;}
.li_box .art_ib .left_head .v_log,.tlist_ul .t_li .left_head .v_log,.headimgbox .v_log{width: .3rem; height: .3rem; position: absolute; right: -.09rem; bottom: -.05rem;}
.li_box .art_ib .left_head img,.tlist_ul .t_li .left_head img,.headimgbox .v_log img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.li_box .art_ib .r_info{margin-left: .9rem; margin-right: 1.5rem;}
.li_box .art_ib .r_info h4{font-size: .28rem; color: #212121; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
/* .li_box .art_ib .r_info h4 span{display: inline-block; max-width:3.2rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;} */
.li_box .art_ib .r_info p.pub_time{color: .24rem; color: #B3B3B3;}
.li_box .art_ib .r_info.vip_icon em{display: inline-block; width: 1.28rem; height: .32rem; margin-left: .12rem; margin-bottom: -.06rem;}
.li_box .art_ib .r_info.vip_icon em img{display: block; width: 100%; height: 100%; object-fit: cover; }
.li_box .art_con h2{color: #000; font-size: .32rem; line-height: .44rem; margin-bottom: .2rem; padding: 0 .4rem;  display: -webkit-box; -webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.li_box .art_con.hot_con h2:before{content: ''; display: inline-block; width: .9rem; height: .4rem; background: url(../images/hot_tag.png) no-repeat center; background-size: cover; margin-bottom: -.1rem; margin-right: .08rem;}

.li_box .img_box{margin-bottom: .25rem; padding: 0 .4rem;}
.li_box .art_con .img_item{border-radius: .04rem; box-shadow:0 0 .01rem .01rem rgba(15,19,36,0.09); }
.li_box .art_con .img_item.h_img{width: 3.6rem; max-height: 6.8rem; overflow: hidden;}/* 一张长图 */
.li_box .art_con .img_item.v_img{width: 4.8rem; max-height: 6.8rem; overflow: hidden;} /*一张横图*/
/* 2、4张图 */
.li_box .art_con .img_item.d_img{width: 3.3rem; height: 3.3rem; float: left; margin-right: .08rem; margin-bottom: .08rem;}
.li_box .art_con .img_item.d_img img,.li_box .art_con .img_item.m_img img{height: 100%; object-fit: cover;display: block;}
.li_box .art_con .img_item.d_img:nth-child(2n){margin-right: 0;}
/* 3或者4张以上的 */
.li_box .art_con .img_item.m_img{width:2.14rem; height: 2.14rem; float: left;margin-right: .08rem; margin-bottom: .08rem;}
.li_box .art_con .img_item.m_img:nth-child(3n){margin-right: 0;}
.li_box .art_con .img_item img{width: 100%; display: block; border-radius: .04rem; }

/* 视频 */
.li_box .art_con .img_item.video_item{position: relative; min-height:1rem; }
.li_box .art_con .img_item.video_item:before{content: ''; display: block; width: .8rem; height: .8rem; background: url(../images/v_icon.png) no-repeat center;background-size: cover; position: absolute; left: 50%; top: 50%; margin-left:-.4rem ; margin-top: -.4rem;}
.li_box .art_con .img_item.video_item em{color: #fff; background: rgba(0,0,0,.5); font-size: .24rem; text-align: center; line-height: .36rem; border-radius: .18rem;padding: 0 .11rem; position: absolute; bottom: .1rem; right: .1rem;}
/* 链接 */
.li_box .link_out{width: 6rem; height: .72rem;margin: 0 .4rem; padding:.08rem 0; background: #F5F5F5; display: block; border-radius: .04rem; margin-bottom: .26rem;}
.li_box .link_out .left_img{width: .72rem; height: .72rem; border-radius: .04rem; float: left;overflow: hidden; margin-left: .08rem;}
.li_box .link_out .left_img img{width: 100%; height: 100%; object-fit: cover;}
.li_box .link_out p{margin-left: .98rem; height: .72rem; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden; line-height: .32rem; font-size: .26rem; color: #4D4D4D; padding-right:.4rem; line-height:.38rem;}
.li_box .topic_link{max-width: 50%; line-height: .4rem; border-radius: .26rem; background: #F0F3F5; color: #03A9F4; font-weight: bold; display: inline-block; padding: .06rem; padding-right: .23rem;margin: 0 .4rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.li_box .topic_link:before{content: ''; display: inline-block; width: .4rem; height: .4rem; background: url(../images/topic_icon.png) no-repeat center; background-size: cover; margin-bottom: -.1rem; margin-right: .05rem;}
.li_box .posi_link{display: block; font-size: .24rem; color: #4D4D4D; margin: 0 .4rem; margin-top: .22rem;}
.li_box .posi_link:before{content: ''; display: inline-block; width: .36rem; height: .36rem; background: url(../images/posi.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-right: .05rem;}
/* 按钮 */
.li_box .btn_group{ padding: .4rem .3rem .37rem .4rem;}
.li_box .left_btns{width:58%; display: flex; justify-content: space-between; }
.li_box .left_btns a,.li_box .r_btn{display: block; line-height: .5rem; color: #999;}
.li_box .left_btns a:before,.li_box .r_btn:before{content: ''; display: inline-block; width: .5rem; height: .5rem; background: no-repeat center; background-size: cover; vertical-align: middle;margin-bottom: .04rem; margin-right: .05rem;}
.li_box .left_btns a.comt_btn:before{background-image:url(../images/comt.png) }
.li_box .left_btns a.share_btn:before{background-image:url(../images/share.png) }
.li_box .left_btns a.zan_btn:before{background-image:url(../images/zan_1.png) }
.li_box .left_btns a.zan_btn{position: relative;}
.li_box .left_btns a.zan_btn .canvas_box{width: 1.3rem; height: 1.3rem; position: relative; position: absolute; left: 50%; top: 50%; overflow: hidden; margin-left: -.65rem; margin-top: -.69rem; display: none;}
.li_box .left_btns a.zan_btn em{position: relative; z-index: 2;}
.li_box .left_btns a.zan_btn img{width: 2rem;  position: absolute; left: 50%; top: 50%;margin-left: -1rem; margin-top: -1.05rem;}
.li_box .left_btns a.zan_btn.zaned:before{background-image:url(../images/zan_2.png) }
.li_box .r_btn:before{background-image:url(../images/more.png)}
.li_box .r_btn{float: right;}
.li_box .left_btns a.hidea{display: none;}
/* 点赞、评论列表 */
.comt_box{padding: .3rem .4rem .26rem .4rem; border-top: solid .01rem #EBEBED;}
.zan_box {margin-bottom: .3rem;}
.zan_box .zan_ul{display: inline-block; vertical-align: middle;}
.zan_box .zan_li{float: left; margin-right: .08rem;}
.zan_box .zan_li a{display: block; width: .44rem; height: .44rem; border-radius: 50%; position: relative;}
.zan_box .zan_li a img{display: block; width: 100% ; height: 100%; object-fit: cover; border-radius: 50%;}
.zan_box .zan_li a .v_icon{width: .36rem; height: .36rem; position: absolute;right: -.09rem; bottom: -.09rem;}
.zan_box .zan_count{vertical-align: middle; display: inline-block;  border-radius: .22rem; background: url(../images/bg_zan.png) no-repeat left center; background-size: auto .48rem; min-width: .85rem; text-align: center; overflow: hidden;}
.zan_box .zan_count em{color: #808080; font-size: .24rem;display: block;line-height: .44rem; text-align: center;box-sizing: border-box; margin-left: .18rem; background: #EBEBED; border-radius: .22rem;padding-right: .1rem;}

.comt_list li{font-size: .28rem; color: #212121; margin-bottom: .05rem; line-height:.38rem;}
.comt_list li em{font-family: Segoe UI Emoji;}
.comt_list a{font-size: .28rem; color: #03A9F4; font-weight: bold;}
.comt_list .commt_btn{width: 6rem;line-height: .64rem; border-radius: .1rem; background: #F2F2F2; box-sizing: border-box; padding-left: .2rem; font-size: .28rem; color: #B3B3B3; margin-top: .28rem;}

/* ----------------关注----------------- */
.gz_list{padding-top: .9rem; }
.gz_tip{font-size: .24rem; color: #999; line-height: .6rem; padding-left: .4rem; background: #F8F9FB;}

.rec_box {display: none;}
.rec_box>h2{padding: .45rem; font-size: .34rem; color: #000; font-weight: bold; background: #fff; padding-bottom: .2rem;}
.rec_tip p:before{content: '';display: inline-block; width: .4rem; height: .4rem; background: url(../images/tip_icon.png) no-repeat center ;background-size: cover; vertical-align: middle;margin-bottom: .04rem;}
.rec_box .rec_tip {margin-left: .4rem; color: #808080; font-size: .24rem; margin-bottom: .38rem;}
.rec_box .li_box{padding-top: .3rem;}
.rec_box .li_box .art_ib{position: relative;}
.li_box .care_btn{display: block; width: 1.1rem; line-height: .52rem; border-radius: .26rem;color: #fff; font-size: .24rem; text-align: center; position: absolute; right: .4rem; top: .3rem;
background: -webkit-linear-gradient(90deg,rgba(255,85,79,1) 0%,rgba(255,111,98,1) 100%); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(90deg,rgba(255,85,79,1) 0%,rgba(255,111,98,1) 100%); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(90deg,rgba(255,85,79,1) 0%,rgba(255,111,98,1) 100%); /* Firefox 3.6 - 15 */
  background: linear-gradient(90deg,rgba(255,85,79,1) 0%,rgba(255,111,98,1) 100%);/* 标准的语法 */
}
.li_box .care_btn:before{content: ''; display: inline-block; width: .24rem; height: .24rem; background: url(../images/add.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-right: .07rem;}
.li_box .care_btn.cared:before{display: none;}
.li_box .care_btn.cared{background: #F2F2F2; color: #999;}

/* 附近 */
.area_slide{padding-top: .9rem;}
.shop_area{background: #fff; padding-top: .55rem; padding-bottom: .5rem; margin-bottom: .2rem;}
.shop_area .title_box{padding-left: .4rem; padding-right: .3rem; overflow: hidden; margin-bottom: .24rem;}
.shop_area .title_box h2{font-size: .34rem; color: #000; float: left; line-height: .56rem;}
.shop_area .title_box a{float: right; color: #B3B3B3; line-height: .56rem;}
.shop_area .title_box a:after{content: ''; display: inline-block; width: .24rem; height: .26rem; background: url(../images/r_arr.png) no-repeat center; background-size: cover; opacity: .5; vertical-align: middle; margin-bottom: .04rem; margin-left: .06rem;}

.shop_area .shop_li{width: 3.3rem; height: 2.72rem !important; border-radius: .04rem; margin-right: .12rem;}
.shop_area .shop_li:nth-child(1){margin-left: .3rem;}
.shop_area .shop_li a{display: block; height: 100%; border-radius: .04rem; overflow: hidden;}
.shop_area .shop_li img{width:100%; height: 100%; object-fit: cover;display: block; }

/* 附近动态和人 */
.area_box .tab_ul li{color: #B3B3B3;}
.area_box .tab_ul li.a_person i.chose_ptype{ display: inline-block; width: .24rem; height: .24rem; background: url(../images/d_arr.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-left: .04rem;opacity: .4;}
.area_box .tab_ul li.a_person.on_chose i.chose_ptype{opacity: 1;}
.area_box .tab_ul li.on_chose.a_person:before{margin-left: -.5rem;}
.area_box .li_box .posi_link:before{width: .4rem; height: .4rem; background-image: url(../images/posi_1.png);}
.near_person{background: #fff;}
.near_person .p_li{position: relative;}
.near_person .p_li a{display: block; padding: .3rem; position: relative; padding-bottom: .45rem;}
.near_person .p_li .l_head{width: 1.08rem; height: 1.08rem; float: left;}
.near_person .p_li .l_head img{width: 100%; height: 100%; object-fit: cover;border-radius: 50%;}
.near_person .p_li .r_detail{margin-left: 1.36rem;}
.near_person .p_li .r_info{margin-bottom: .16rem;}
.near_person .p_li .r_info h3{color: #000; font-size: .32rem;}
.near_person .p_li .r_info p{color: #999; font-size: .24rem; margin-top: .06rem;}
.near_person .p_li .r_detail h4.r_dt{color: #4D4D4D; font-size: .24rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.near_person .p_li .r_detail h4.r_dt em{color: #999; font-size: .24rem;}
.near_person .p_li .care_btn{display: block; width: 1.1rem; line-height: .52rem; border-radius: .26rem;color: #fff; font-size: .24rem; text-align: center; position: absolute; right: .4rem; top: .4rem;
background: -webkit-linear-gradient(90deg,rgba(255,85,79,1) 0%,rgba(255,111,98,1) 100%); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(90deg,rgba(255,85,79,1) 0%,rgba(255,111,98,1) 100%); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(90deg,rgba(255,85,79,1) 0%,rgba(255,111,98,1) 100%); /* Firefox 3.6 - 15 */
  background: linear-gradient(90deg,rgba(255,85,79,1) 0%,rgba(255,111,98,1) 100%);/* 标准的语法 */
}
.near_person .p_li .care_btn.fn-hide{display: none !important;}
.near_person .care_btn:before{content: ''; display: inline-block; width: .24rem; height: .24rem; background: url(../images/add.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-right: .07rem;}
.near_person .care_btn.cared:before{display: none !important;}
.near_person .care_btn.cared{background: #F2F2F2; color: #999;}
.near_person .p_li .care_btn:before{content: ''; display: inline-block; width: .24rem; height: .24rem; background: url(../images/add.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-right: .07rem;}
.near_person .p_li:after{content: ''; display: block; position: absolute; right: .3rem; left: 1.4rem; bottom: 0; background: #EBEBED; height: .02rem;}
.near_person .p_li:last-child:after{display: none;}

.near_top .c_type i{display: inline-block; width: .24rem; height: .24rem; background: url(../images/d_arr.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-left: .04rem;}

.near_top .c_type.on_chose i{background: url(../images/d_arr2.png) no-repeat center;background-size: cover; }


/* =========话题======== */
.topic_slide{padding-top: .91rem; }
.topic_slide .btn_group{border-top: solid .01rem #E6E6E8; border-bottom: solid .01rem #E6E6E8; background: #fff;}
.topic_slide .btn_group a{float: left; width: 50%; box-sizing: border-box;padding: .26rem 0;padding-left: .42rem;}
.topic_slide .btn_group a:nth-child(1){border-right: solid .01rem #E6E6E8;}
.topic_slide .btn_group a .left_icon{width: .88rem; height: .88rem; float: left;}
.topic_slide .btn_group a .left_icon img{width: 100%; height: 100%; object-fit: cover;}
.topic_slide .btn_group a .right_title{margin-left: 1.1rem;}
.topic_slide .btn_group a .right_title h3{color: #000000; font-size: .34rem; margin-top: .04rem;}
.topic_slide .btn_group a .right_title p{color: #999; font-size: .24rem;}

.bg_w{background: #fff; overflow: hidden; padding-bottom: .16rem;}
.ht_box{margin: .3rem; border-radius: .2rem; box-shadow:0 .03rem .23rem 0 rgba(4,10,36,0.09); background: #fff; overflow: hidden;}
.ht_dl{ padding-bottom: .13rem; border-bottom: solid .01rem #E6E6E8;}
.ht_dl dt{height: 1.2rem;position: relative; margin-bottom: .4rem;}
.ht_dl dt img.bg{width: 100%; height: 100%; object-fit: cover;}
.ht_dl dt h1{width: 1.68rem; position: absolute; left: .36rem; bottom: .24rem;}
.ht_dl dt h1 img{width: 100%; height: 100%; object-fit: cover;}
.ht_dl dt p{font-size: .24rem; color: #734736; position: absolute; right: .3rem; bottom: .36rem;}
.ht_dl dd {margin-bottom: .24rem;}
.ht_dl dd a{display: block; padding: 0 .3rem; }
.ht_dl dd h2{font-size: .3rem; color: #000; margin-right: 1.3rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.ht_dl dd .r_count{float: right; color: #666; line-height: .5rem;}
.ht_dl dd .r_count:before{content: ''; display: inline-block; width: .36rem; height: .36rem; background: url(../images/h_icon.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem;}
.ht_dl dd h2:before{content: ''; display: inline-block; width: .4rem; height: .4rem; background: url(../images/line1.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .08rem; margin-right: .22rem;}
.ht_dl dd:nth-child(3) h2:before{background-image: url(../images/line2.png);}
.ht_dl dd:nth-child(4) h2:before{background-image: url(../images/line3.png);}
.label_new h2:after{content: '新';font-size: .22rem; color: #fff; border-radius: .08rem; line-height: .34rem; text-align: center; display: inline-block; width: .34rem; margin-left: .11rem;
background: -webkit-linear-gradient(90deg,rgba(255,82,59,1) 0%,rgba(255,61,93,1) 100%); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(90deg,rgba(255,82,59,1) 0%,rgba(255,61,93,1) 100%); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(90deg,rgba(255,82,59,1) 0%,rgba(255,61,93,1) 100%); /* Firefox 3.6 - 15 */
background:linear-gradient(90deg,rgba(255,82,59,1) 0%,rgba(255,61,93,1) 100%);
}

.ht_box .go_tlink{text-align: center; line-height: .88rem; font-size: .28rem; display: block;color: #999; }

/* 话题列表 */
.tlist_box .t_li {margin-bottom: .24rem; background: #fff;}
.tlist_box .t_li a{display: block; padding: .4rem .3rem .38rem .3rem; }
.tlist_box .t_li a>h1{color: #212121; font-size: .34rem; font-weight: bold; margin-bottom: .3rem;}
.tlist_box .t_li a>h1:before{content: ''; display: inline-block; width: .48rem; height: .48rem; background: url(../images/topic_icon.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-right: .07rem;}
.tlist_box .t_li a .tcon_box{background: #F8F9FB; padding: .34rem .2rem .2rem .25rem;}
.tlist_box .t_li a .tcon_box .left_head{width: .64rem; height: .64rem; float: left;}
.tlist_box .t_li a .tcon_box .left_head img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.tlist_box .t_li a .tcon_box .right_info{margin-left: .82rem;}
.tlist_box .t_li a .tcon_box .right_info h3{color: #212121; font-size: .28rem;}
.tlist_box .t_li a .tcon_box .right_info p{color: #B3B3B3; font-size:.22rem;}
.tlist_box .t_li a .tcon_box .r_img{width: 1.4rem; height: 1.4rem; float: right;  }
.tlist_box .t_li a .tcon_box .r_img img{width: 100%; height: 100%; object-fit: cover;border-radius: .1rem;}
.tlist_box .t_li a .tcon_box .t_con{overflow: hidden; width:100%;}
.tlist_box .t_li a .tcon_box .t_con h2{color: #212121; font-size: .3rem; line-height: .42rem; margin-top: .27rem;margin-right: 1.6rem; margin-bottom: .48rem; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.tlist_box .t_li a .t_info { margin-top: .36rem;}
.tlist_box .t_li a .t_info em{ font-size: .24rem; color: #999; margin-right: .1rem;}

/* 弹出层 */
.mask_topic,.mask_more,.mask_re,.mask_change{width: 100%; height: 100%; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.7); z-index: 1000000; display: none;}
/* =====我参与/创建的话题==== */

.myt_box{position: relative; position: fixed; bottom: -90%; left: 0; right: 0; height: 90%; background: #fff; border-radius: .3rem .3rem 0 0; box-shadow:0 -.03rem .17rem 0 rgba(4,5,36,0.03); z-index: 1000001;}
.myt_box>h2{color: #000; font-size: .34rem; line-height: 1.1rem; font-weight: bold; text-align: center; border-bottom: solid .01rem #EBEBED; position: relative; position: absolute; left: 0; right: 0; top: 0; background: #fff; border-radius: .3rem .3rem 0 0;}
.myt_box>h2 .close_btn{display: block; width: .48rem; height: .48rem; background: url(../images/close_btn.png) no-repeat center; background-size: cover; position: absolute; top: .3rem; right: .3rem;}
.myt_list{padding-top: 1.1rem; overflow: auto; height: 100%; box-sizing: border-box; padding-bottom: .4rem;}
.myt_list a{display: block; padding-top: .26rem; padding-left: .3rem;}
.myt_list a .l_img{width: 1.06rem; height: 1.06rem; border-radius: .1rem; overflow: hidden; float: left;}
.myt_list a .l_img img{width: 100%; height: 100%; object-fit: cover;}
.myt_list a .r_info h3{font-size: .32rem; color: #000;padding-top: .06rem; margin-right: .3rem; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.myt_list a .r_info p{font-size: .24rem; color: #999; margin-top: .12rem;}
.myt_list a .r_info {border-bottom: solid .01rem #EBEBED; margin-left: 1.3rem; padding-bottom: .26rem; height: 1.06rem;}

/* 回复框 */
.mask_re{background: rgba(0,0,0,.3);}

.bottom_box {padding: .28rem .3rem .28rem .2rem; background: #fff; position: fixed; bottom: 0; left: 0; right: 0;z-index: 1000001; padding-bottom:3rem; border-radius: .3rem .3rem 0 0 ;box-shadow:0 -.11rem .37rem 0 rgba(0, 0, 0, 0.07); display: none;}
.reply_box .bq_btn{float: left; width: .64rem; height: .64rem; background: url(../images/bq.png) no-repeat center; background-size: cover; margin-top: .04rem;}
.reply_box .bq_btn.bq_open{background-image: url(../images/f_bq1.png);}
.reply_box .send_btn{width: 1.2rem; line-height: .72rem; font-size: .26rem; color: rgba(255,255,255,.77); border-radius: .36rem; text-align: center; float: right;
background: -webkit-linear-gradient(90deg,rgba(255,85,79,1) 0%,rgba(255,111,98,1) 100%); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(90deg,rgba(255,85,79,1) 0%,rgba(255,111,98,1) 100%); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(90deg,rgba(255,85,79,1) 0%,rgba(255,111,98,1) 100%); /* Firefox 3.6 - 15 */
background:linear-gradient(90deg,rgba(255,85,79,1) 0%,rgba(255,111,98,1) 100%);
}
.reply_box .inbox{margin-left: .7rem; margin-right: 1.5rem; height: .72rem; box-sizing: border-box; border-radius: .36rem; border: solid .015rem #A9A9AB;}
.reply_box .inbox #reply{font-size: .3rem;padding-top: .14rem;  padding-right: .29rem; padding-left: .29rem; height: 100%; box-sizing: border-box; overflow: auto; -webkit-user-select:text;}
.reply_box .inbox #reply:empty:before{content: attr(placeholder); color: #ccc; }
.reply_box .inbox #reply:before{content: '';}
.reply_box .inbox #reply img{width: .4rem; margin: 0 .01rem; vertical-align: middle;}
.reply_box .inbox input{border: none; background: none; width: 100%;padding-right: .29rem; box-sizing: border-box; font-size: .3rem;padding-top: .14rem;}
.reply_box .inbox input::placeholder{color: #ccc;}
/* 表情 */
.bq_box{height: 3.3rem; overflow: auto; display: none; animation: bottomFadeIn .5s ease-in-out; margin-top: .2rem;}
.bq_box li{float: left; width: 14.2%; margin-bottom: .3rem; }
.bq_box li img{display: block; width: .5rem; margin: auto;padding: .05rem;}
.bq_box.show{display: block;}
/* 更多 */
.more_box{width: 100% ;height: 4.1rem; position: relative; background: #F4F4F4; position: fixed; bottom: -4.1rem; left: 0; right: 0; z-index: 1000001;}
.more_box ul.m_list{padding-top: .5rem;}
.more_box li.m_li{float: left; margin-left: .5rem;}
.more_box li.m_li a{display: block; width: 1.2rem; height: 1.2rem; border-radius: .24rem; background-color: #fff; box-sizing: border-box; padding: .1rem;}
.more_box li.m_li a img{width: 100%; height: 100%; object-fit: cover;}
.more_box li.m_li p{text-align: center; font-size: .28rem; color: #212121; margin-top: .14rem;}
.more_box .cancel_btn{line-height: .98rem; position: absolute; bottom: 0; left: 0; right: 0; background: #fff; font-size: .32rem; color: #4D4D4D; text-align: center;}

.loading_tip{font-size: .24rem; color: #B2B2B2; text-align: center; padding: .4rem; clear: both;}
.loading_tip img{width: 2rem;}

/*举报框*/
.jubao_box{width: 100%; height: 100%; position: relative; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.47); z-index: 1000002; display: none;}
.jubao{width: 6rem; height: 7.4rem; border-radius: .3rem; background-color: #fff; position: absolute; left: 50%; top: 48%; margin-left: -3rem; margin-top: -3.7rem;}
.jubao_detail{padding: .72rem .6rem .5rem .6rem;}
.jubao h4{font-size: .26rem;color: #2A2A2B; font-weight: normal;margin-bottom: .1rem; }
.jubao h4 em{font-weight: bold; margin: 0 .1rem;}
.jubao_title{font-size: .28rem; color: #2A2A2B; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.jubap_type,.contact{height: .8rem; border-radius: .08rem; border: solid .02rem #E1E2E8; box-sizing: border-box;}
.contact input,.jubap_type input{border: none; font-size: .3rem; padding-top: .18rem; padding-left: .29rem; caret-color:#508AFF; line-height: .42rem;}
.contact input::placeholder,.jubao_content dd textarea::placeholder,.jubap_type input::placeholder{color: #BEBFC4;  }
.contact{margin-top: .3rem;}
.jubap_type{margin-top: .3rem; position: relative;}
.jubap_type:after{content:''; display: block; width: .2rem; height: .2rem; background: url(../images/jubao_down.png) no-repeat center ; background-size: contain; position: absolute; right: .22rem; top: .3rem;}
.jubao_content{margin-top: .4rem;}
.jubao_content dt{font-size: .22rem; color: #BEBFC4; line-height: .42rem; border-bottom: solid .02rem #E1E2E8;}
.jubao_content dd textarea{border: none; font-size: .28rem; line-height: .38rem; width: 100%; resize: none; height: 1.04rem;}
.jubao_content dd{padding: .2rem 0; /*margin-bottom: .2rem;*/ }
.jubao .sub{width: 2rem; height: .88rem; display: block; color: #fff; border-radius: .44rem; border: none; margin: auto; font-size: .3rem;
background: -webkit-linear-gradient(45deg,rgba(255,74,104,1) 0%,rgba(247,57,57,1) 100%); /* Safari 5.1 - 6.0 */
background: -o-linear-gradient(45deg,rgba(255,74,104,1) 0%,rgba(247,57,57,1) 100%); /* Opera 11.1 - 12.0 */
background: -moz-linear-gradient(45deg,rgba(255,74,104,1) 0%,rgba(247,57,57,1) 100%); /* Firefox 3.6 - 15 */
background:linear-gradient(45deg,rgba(255,74,104,1) 0%,rgba(247,57,57,1) 100%);
box-shadow:0 .11rem .37rem 0 rgba(255,42,56,0.47);}
/*错误信息*/
.JuError{color: #fff; background: #000; border-radius: .1rem; width: 3rem; position: fixed; z-index: 1000000; top: 50%; padding: .1rem .2rem; text-align: center; left: 50%; margin-left: -1.7rem; display: none; font-size: .25rem;}

/*遮罩层*/
.JuMask{position: fixed;top: 0;position: fixed;background: rgba(0,0,0,.4);top: 0;bottom: 0;left: 0;right: 0;z-index: 100002;display: none;}
.JuMask.show{display: block;}



.chosebox{ border-radius: .08rem; position: relative; border: solid .02rem #E1E2E8; height: 2.5rem; padding-bottom: .2rem;position: absolute; top: .92rem; background-color: #fff; left: -0.02rem;box-shadow:0 .03rem .11rem 0 rgba(17,24,57,0.11); width: 100%; display: none; animation: .5s topFadeIn ease-in-out;}
.show{display: block;}
.chose_ul{height: 2.5rem;  display: block; width: 100%;  overflow: auto;  }
.chosebox:after{content: ''; display: block; height: .5rem;position: absolute; bottom:.2rem; left: 0; right: 0; width: 100%; z-index: 9; pointer-events: none;
background: -webkit-linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Safari 5.1 - 6.0 */
background: -o-linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.1 - 12.0 */
background: -moz-linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Firefox 3.6 - 15 */
background:linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)
}
.chose_ul li{margin-top: .3rem; font-size: .3rem; color: #2A2A2B; padding-left: .3rem; line-height: 1.1em;}
.jubao .close_btn{width: .52rem; height: .52rem; background: url(../images/jubao_close.png) center no-repeat; background-size: cover; position: absolute; right: .28rem; top: .18rem;}
.comm_loading img{width: 2rem; display: block; margin: auto;}
.comm_loading{font-size: .22rem; color: #747578; text-align: center; padding-top: 1rem; padding-bottom: 1rem;}

/*打赏*/
.content p.shangbtn{margin-bottom: 1rem;}
.shangbtn span{display: block; width: 1rem; margin: 0 auto;}
.shangbtn span img{display: block; width: 100%;}
.shang-box{background: #fff;width: 5rem; height: 5.7rem; border-radius: .3rem; margin: 0 auto; position: relative;position: fixed;left: 50%;top: 40%; display: none; z-index: 9999999; margin-left: -2.5rem; margin-top: -2.85rem;	/* -webkit-animation: slide-in-elliptic-top-fwd 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;animation: slide-in-elliptic-top-fwd 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */}
/*.shang-box em{font-style: normal; vertical-align: bottom;}*/
.shang-box .shang-money .close{display: block;width: .52rem;height: .52rem;background: url(../images/cha.png) center center no-repeat;background-size: .52rem .52rem; position: absolute; right: .18rem; top: .18rem;}
.shang-money .pic-box{width: 1.3rem;height: 1.3rem;border-radius: 1.3rem;overflow: hidden;margin: 0 auto}
.shang-money .pic-box img{display: block;width: 100%;}
.shang-money .shang-item{text-align: center;margin-bottom: .2rem;}
.shang-money .shang-item-cash{font-size: .28rem;/*line-height: .8rem;margin-top: .4rem;*/display: block;}
.shang-money .shang-item-cash em{font-size: .68rem; font-style: normal; vertical-align: 0; font-weight: bold;}
.shang-money .shang-item .inp{display: block;color: #2A2A2B; ;font-size: .28rem; margin-top: .46rem; margin-bottom: .6rem;}
.shang-money .shang-item .inp:after{content: ''; width: .24rem; height: .3rem; display: inline-block; background-image: url(../images/go_left.png); background-size: .24rem; background-repeat: no-repeat; vertical-align: middle; margin-left: .1rem; background-position: center; margin-bottom: .06rem;}
.shang-money .shang-item form{font-size: .5rem;border-bottom: 1px solid #ccc;margin: .4rem auto 0;display: none;width: 63%;}
.shang-money .shang-item form input{font-size: .58rem;border: none;width: 80%;}
.shang-money .shang-item form input:-ms-input-placeholder{font-size: .3rem;}
.shang-money .shang-item form input::-webkit-input-placeholder{font-size: .3rem;}
.shang-money .shang-item .error-tip{color: #BEBFC4; font-size: .28rem; margin-top: .46rem; display: none; margin-bottom: .6rem;}
/*.shang-money .shang-item .error-tip span{display: none;}*/
.shang-money .shang-btn{margin-bottom: .4rem;}
.shang-money .shang-btn a{display: block;width: 2rem;margin: 0 auto;height: .88rem;background: #e55f56;text-align: center;line-height: .88rem;color: #fff;font-size: .3rem;border-radius: .44rem;
background:linear-gradient(45deg,rgba(255,74,104,1) 0%,rgba(247,57,57,1) 100%);
box-shadow:0px .11rem .37rem 0px rgba(255,42,56,0.47);
}
.shang-money .tip-p{font-size: .26rem;text-align: center;color: #cacaca;text-align: center;margin-bottom: .4rem; display: none;}
.shang-money .tip-em{font-size: .26rem;text-align: center;color: #a1a1a1;margin: .2rem 0;}
.shang-money .tip-em a{color: #179ae2;line-height: .8rem;}
.shang-else input {border: 0; margin: 0; padding: 0; font-size: .68rem;  background-color: transparent; max-width: 1.5rem; width: auto; line-height: .68rem;}
.shang-else em{font-size: .28rem; }
.mask{position: fixed;top: 0;position: fixed;background: rgba(0,0,0,.4);top: 0;bottom: 0;left: 0;right: 0;z-index: 10002;display: none;}
/*打赏新增*/
.shang_to{font-size: .28rem; font-weight: normal; color: #2A2A2B; margin: .8rem .6rem .7rem .6rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.shang_to span{font-weight: bold;}
.mask{position: fixed;top: 0;position: fixed;background: rgba(0,0,0,.4);top: 0;bottom: 0;left: 0;right: 0;z-index: 10002;display: none;}

.go_fabu{position: fixed; right: .1rem; bottom: 2.6rem; z-index: 999999;  bottom: calc(2.6rem + constant(safe-area-inset-bottom)); bottom: calc(2.6rem + env(safe-area-inset-bottom));}
.go_fabu a{ display: block; font-size: .26rem; text-align: center; width: 2.1rem; height: .84rem; border-radius: .42rem; background: ; background:linear-gradient(90deg,rgba(84,161,255,1) 0%,rgba(59,134,255,1) 100%); color: #fff; line-height: .84rem; box-sizing: border-box; padding-right: .2rem; padding-left: .2rem; transition: width .3s; overflow: hidden;}
.go_fabu a:before{content: ''; display: inline-block; width: .4rem; height: .4rem; background: url(../images/w_fabu.png) no-repeat center; background-size: cover; vertical-align: middle; margin-right: .14rem; margin-bottom: .04rem;}

/* 会员等级样式 */
.lBox{ line-height: .32rem; border-radius: .16rem; display: inline-block;  padding-right: .1rem; position: relative;  overflow: hidden; z-index: 2; vertical-align: middle; margin-bottom: .04rem; margin-left: .1rem;}
.lBox:before{background:rgba(0,0,0,.5); content: ''; display: block; width: 100%; height: 100%; position: absolute;right:0; top: 0; z-index: -2;}
.lBox:after{content: ''; display: block; width: 100%; height: .5rem;position: absolute;right: 0; top: -.16rem; z-index: -1; transform: rotate(-35deg); transform-origin: right center;}
.lBox i{display: inline-block; width: .32rem; height: .32rem; float: left; background: no-repeat center; background-size: cover;}
/* .lBox i img{width: 100%; height: 100%; display: block;} */
.lBox span{vertical-align: middle; font-size: .2rem; color: #fff; float: left;}
/* 等级0 */
.lBox.level_0 span{color: #fff; position: relative;z-index: 2;}
.lBox.level_0:before{background: rgba(255,255,255,.2);}
/* 等级1 */
.lBox.level_1 span{color: #4581B1;}
.lBox.level_1 i{background-image:url(../images/v_5.png) ;}
.lBox.level_1:before{background:rgba(171,214,255,.77);}
.lBox.level_1:after{ background: rgba(145,202,255,1); }
/* 等级2 */
.lBox.level_2 span{color: #C29339;}
.lBox.level_2:before{background: #FDE7A9;}
.lBox.level_2:after{background: #F7DA8D;}
.lBox.level_2 i{background-image:url(../images/v_4.png) ;}
/* 等级3 */
.lBox.level_3:before{background: #757067;}
.lBox.level_3:after{background: #66625A;}
.lBox.level_3 i{background-image:url(../images/v_3.png) ;}
/* 等级4 */
.lBox.level_4:before{background: #6B727A;}
.lBox.level_4:after{background: #5B6067;}
.lBox.level_4 i{background-image:url(../images/v_2.png) ;}
/* 等级5 */
.lBox.level_5:before{background: #4B4B4A;}
.lBox.level_5:after{background: #3B3B3C;}
.lBox.level_5 i{background-image:url(../images/v_1.png) ;}

/* .btn_group a.share_btn {
	-webkit-animation: bounce-in-top .8s both;
	        animation: bounce-in-top .8s both;
}
.btn_group a.jubao_btn {
	-webkit-animation: bounce-in-top .86s both;
	        animation: bounce-in-top .86s both;
}
.btn_group a.fabu_btn {
	-webkit-animation: bounce-in-top .96s both;
	        animation: bounce-in-top .96s both;
} */


.mask_change{z-index: 1; position: relative; position: fixed;}
.sx_person{width: 6.9rem; height: 1.2rem; border-radius: .2rem; background: #fff; box-sizing: border-box; padding: .4rem .84rem; display: flex; justify-content: space-between;position: relative; position: absolute; top: 3rem; left: .3rem; font-size: .28rem; color: #000;}
.sx_person span.on_span{color: #3699FF;}
.sx_person:before{content: ''; display: block; width: 0; height: 0; border: solid .13rem rgba(0,0,0,0); border-bottom:solid .13rem rgba(255,255,255,1) ; position: absolute; top:-.26rem; left:5rem;}
/* 错误提示1 */
.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 9999999; visibility: hidden;}
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: .3rem; line-height: 1.4; text-align: center; padding: .24rem .2rem; z-index: 9999; left: 0; top: 50%; margin-top: -.2rem;}


/* 禁止滚动 */
.noscroll,
.noscroll body {
	 overflow: hidden;
}
.noscroll body {
	position: relative;
}


@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2019-8-14 17:51:3
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}


/* 膨胀后变正常尺寸 */
@-webkit-keyframes mypopup{
	0%{-webkit-transform:scale(1);}
	20%{-webkit-transform:scale(1.8);}
	60%{-webkit-transform:scale(2.5);}
	80%{-webkit-transform:scale(1.6);}
	100%{-webkit-transform:scale(1);}
}

@-moz-keyframes mypopup{
	0%{-moz-transform:scale(1);}
	20%{-webkit-transform:scale(1.8);}
	60%{-webkit-transform:scale(2.5);}
	80%{-webkit-transform:scale(1.6);}
	100%{-moz-transform:scale(1);}
}

@keyframes mypopup{
	0%{transform:scale(1);}
	20%{-webkit-transform:scale(1.8);}
	60%{-webkit-transform:scale(2.5);}
	80%{-webkit-transform:scale(1.6);}
	100%{transform:scale(1);}
}

/* ----------------------------------------------
 * Generated by Animista on 2019-8-15 10:39:23
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swirl-out-bck
 * ----------------------------------------
 */

/*.care_btn.cared {
	-webkit-animation: swirl-out-bck 1s ease-in both;
	        animation: swirl-out-bck 1s ease-in both;
	        opacity: 0;
}*/
@-webkit-keyframes swirl-out-bck {
  0% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1);
    opacity: 0;
  }
}
@keyframes swirl-out-bck {
  0% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1);
    opacity: 0;
  }
}

/* app适配调整 */
.wx_miniprogram .huoniao_iOS.show .header{display:none !important; }
.huoniao_iOS.show .header{display:-webkit-box !important; padding-top:.5rem !important;}
.huoniao_iOS.show .swiper-container.swiper-body{padding-top: 1.4rem;}
.huoniao_iOS.show .refreshText{top:2.3rem;}
.huoniao_iOS.show .refreshText.shorttxt{top:1.4rem;}
.huoniao_iOS.show .nav_box{top: 1.3rem;}
.huoniao_iOS.show .fixedTop{top: 2.31rem;}
.huoniao_iOS .swiper-container.swiper-body,.wx_miniprogram .huoniao_iOS.show .swiper-container.swiper-body{padding-top: 0;}
.huoniao_iOS .refreshText,.wx_miniprogram .huoniao_iOS.show .refreshText{top:0.9rem;}
.huoniao_iOS .refreshText.shorttxt,.wx_miniprogram .huoniao_iOS.show .refreshText.shorttxt{top: 0;}
.huoniao_iOS .nav_box,.wx_miniprogram .huoniao_iOS.show .nav_box{top: 0;}
.huoniao_iOS .fixedTop,.wx_miniprogram .huoniao_iOS.show .fixedTop{top: .86rem;}
