.svdetail_top.header{line-height: 1.22rem !important; height: 1.22rem !important; }
.wx_miniprogram .svdetail_top.header{display:-webkit-box !important;}
.svdetail_top.transparent .header-l a{background-image: url(../images/back_btn.png); background-size: .48rem; height: 1.22rem;} 
.svdetail_top.transparent .header-search a{background-image: url(../images/more_btn.png); background-size: .48rem; height: 1.22rem;}
.svdetail_top .left_tip{width: 3.4rem; height: .72rem; position: fixed; top:0; background: url(../images/bg_tip.png) center no-repeat; background-size: cover; color: #fff; font-size: .24rem; top: .24rem; right: .9rem; line-height: .72rem; padding-left: .31rem; box-sizing: border-box; animation: rightFadeIn .5s ease-in-out ; opacity: 1;} 
.popupRightBottom{display: none;}
.video_line{width: 5.4rem; height: .03rem; background-color: rgba(255,255,255,.3); position: absolute; left: .28rem; bottom: .4rem; z-index: 2;}
.video_line .bofa_line{background-color: #fff; height: .03rem; width: 0; position: absolute; left: 0; bottom: 0;}

.mask_bottom{width:100%; height: 3rem; position: absolute; bottom: 0;left: 0; right: 0;
background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1) 60%); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1) 60%); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1) 60%); /* Firefox 3.6 - 15 */
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1) 60%); /* 标准的语法 */
 opacity: 0.3;
} 

.header{z-index: 7;}
.mask_comm,.mask_pro{width: 100%; height: 100%; position: fixed; top: 0; right: 0; left: 0; bottom: 0; background: rgba(0,0,0,.6); display: none; z-index: 8}

.right_group{position: relative; position: absolute; right: .2rem; bottom: .12rem;}
.head_box{ width: 1.08rem; position: relative; margin-bottom: .72rem;}
.head_box a{display: block; width: 100%; height: 1.08rem; border-radius: 50%; border: solid .02rem #fff; background-color: #80a8d2; overflow: hidden;}
.head_box a img{display: block; width: 100%; height: 100%; object-fit: cover;}
.head_box .care_btn{display: block; width: .8rem; height: .8rem; background-image: url(../images/care_btn.png); background-size: contain; background-repeat: no-repeat; background-position: center; position: absolute; top: .62rem; left: .16rem;}
.head_box .care_btn.cared{background-image: url(../images/cared_btn.png);}
.zan_box a.up_num{display: block; width: .8rem; height: .8rem; background: url(../images/up_icon.png) no-repeat center; background-size: contain; margin: auto; position: relative;}
.zan_box a.up_num.active{background-image:  url(../images/up_icon1.png);}
.zan_box a i{display: block;width: .8rem; height: .8rem; transform: scale(0); background: url(../images/click_icon.png) center no-repeat; background-size: contain;position: absolute; left: 50%; top: 50%; margin-left: -.4rem; margin-top: -.4rem;}
.puff-out-center{-webkit-animation:puff-out-center .5s cubic-bezier(.165,.84,.44,1.000) both;animation:puff-out-center .5s cubic-bezier(.165,.84,.44,1.000) both}
.zan_box span,.comm_box span,.reward_box span,.share_box span{text-align: center; font-size: .22rem; color: #fff; font-weight: 500; display: block;}
.zan_box{margin-bottom: .28rem;}
.comm_box{margin-bottom: .26rem;}
.reward_box{margin-bottom: .4rem;}
.comm_box a{display: block; width: .8rem; height: .8rem; background: url(../images/common_icon.png) no-repeat center; background-size: contain; margin: auto; }
.reward_box a{display: block; width: .8rem; height: .8rem; background: url(../images/reward_icon.png?v=1) no-repeat center; background-size: contain; margin: auto;}
.share_box a{display: block; width: .8rem; height: .8rem; background: url(../images/share_sv.png) no-repeat center; background-size: contain; margin: auto;}
.share_box{margin-bottom: .26rem;}
.share_num.HN_PublicShare{display: block !important;}
.common_btn{display: block; width: 1.18rem; height: 1.18rem; background: url(../images/common_btn.png) no-repeat center; background-size: contain; margin: auto;}

/*更多*/
.more_box{width: 100%; height: 100%; position: relative; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 999; display: none;}
.more_box .mask0{width: 100%; height: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.67);}
.more_box .btn_group{display: flex; width: 4.3rem; justify-content: space-between;position: absolute; left: 50%; top:40% ; transform: translate(-50%,-50%); text-align: center;}
.share_btn{display: block !important;}
.more_box .btn_group span{display: block; width: .64rem; height: .64rem;border-radius: 50%; background: #fff; overflow: hidden; padding: .16rem;}
.more_box .btn_group span img{display: block; width: 100%; height: 100%;}
.more_box .btn_group p{font-size: .24rem; color: #fff; margin-top: .18rem; font-weight: bold;}
@-webkit-keyframes puff-out-center{0%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(2px);filter:blur(2px);opacity:0}}@keyframes puff-out-center{0%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(2px);filter:blur(2px);opacity:0}}

/* 新增话题样式 */
.topic_title {float: left; margin-top: .26rem;}
.topic_title a{display: block; padding: 0 .2rem 0 .1rem; line-height: .52rem; color: #03A9F4; font-size: .24rem; font-weight: bold; border-radius: .26rem; background: #F0F3F5; max-width: 3rem; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;} 
.topic_title a:before{ content: ''; display: inline-block; width: .4rem; height: .4rem; background: url(../images/topic_icon.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-right: .05rem;}

/*评论列表*/
.commonlist_box,.prolist_box{width: 100%; height: 68%; position: relative; border-radius: .2rem .2rem 0 0; background-color: #111112; position: fixed; bottom: -68%; z-index: 9; cursor: pointer;}
.commonlist_box>h2,.prolist_box>h2{font-size: .24rem; font-weight: bold; color: #fff; text-align: center; margin-top:.24rem ; position: relative; margin-bottom: .3rem;}
.commonlist_box>h2 .close_btn,.prolist_box>h2 .close_btn{width: .28rem; height: .28rem; background: url(../images/close_btn1.png) no-repeat center; background-size: .28rem; position: absolute; top: -.3rem; right: .02rem; padding: .3rem;}
.left_head{width: .64rem; height: .64rem; border-radius: 50%; float: left; overflow: hidden;}
.left_head img{width: 100% ; height: 100%; object-fit: cover;}
.right_zan{float: right;}
.right_zan span{display: block; width: .36rem; height: .36rem; background: url(../images/zan_no.png) no-repeat center; background-size: cover; margin: auto;}
.right_zan.zaned span{background-image: url(../images/zan_0.png);}
.right_zan.zaned p{color: #FF6259; }
.right_zan p{font-size: .22rem; color: #5c5c5e; text-align: center;margin-top: .04rem;}
.commonlist_box .comm_li{margin-left: .3rem; margin-right: .3rem;}
.commonlist_box .comm_ul{overflow: auto; height: 100%; padding-top: .34rem; box-sizing: border-box; padding-bottom: 1.6rem; -webkit-overflow-scrolling: touch}
.center_cont{margin-left: .85rem; margin-right: .6rem;}
.author_comm.center_cont .nickname:after{ content: '' ; display: inline-block; width: .56rem; height: .32rem; background: url(../images/zuozhe.png) no-repeat center; background-size: contain; vertical-align: middle; margin-left: .1rem;}
.nickname{font-size: .24rem; font-weight: bold; color: #8D8E91; margin-bottom: .04rem;}
.comm{font-size: .28rem; color: #fff; line-height: .34rem;/* display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2; overflow: hidden;*/ word-break: break-all;}
.comm img{width:.5rem; }
.comm em{color: #8D8E91;}
.pubtime{ font-size: .22rem; color: #5C5C5E; margin-top: .06rem; margin-bottom: .34rem;}
.reply_ul{margin-left: .78rem;}
.reply_ul .left_head{width: .4rem; height: .4rem; border-radius: 50%;}
.reply_ul .center_cont{margin-left: .54rem; margin-right: .6rem;}
.reply_detail{font-size: .22rem; color: #5C5C5E; font-weight: bold; margin-bottom: .5rem; display: block;}
.reply_detail:before,.reply_detail:after{content: ''; display: inline-block; width: .65rem; height: .02rem; background-color: #39393B; vertical-align: middle; margin-bottom: .06rem;}
.reply_detail:before{margin-right: .1rem;}
.reply_detail:after{margin-left: .1rem;}

.reply_input{width: 100%; height: 1rem; background: #000; position: relative; position: absolute; bottom: 0; left: 0; right: 0;}
.reply_input input::placeholder{color: #747578;}
.reply_input input::-moz-placeholder{color: #747578;}
.reply_input input{background:none; font-size: .3rem; color: #fff; border: none; padding: 0 .38rem; margin-top: .38rem; width: 100%; box-sizing: border-box; padding-right: 1.5rem;}
.reply_txtarea{font-size: .3rem; color: #fff; border: none;/* margin: .28rem; padding-bottom: .38rem;*/   box-sizing: border-box; /*margin-right: 1.5rem;*/overflow: auto; max-height: 1rem; display: block; background: none; width: 100%; padding-left: .28rem; padding-right: 1.5rem; margin-top: .28rem; resize: none;}
/*.reply_txtarea:empty:before{content: attr(placeholder); color:#747578;}*/
/*.reply_txtarea:focus:before{content:none; }*/
.reply_btn{width: 1.2rem; height: .68rem; border-radius: .2rem; color: rgba(255,255,255,.77); font-size: .26rem; border: none; position: absolute; right: .25rem; bottom: .14rem;
background: -webkit-linear-gradient(125deg,rgba(255,123,99,1),rgba(255,72,73,1)); /* Safari 5.1 - 6.0 */
background: -o-linear-gradient(125deg,rgba(255,123,99,1),rgba(255,72,73,1)); /* Opera 11.1 - 12.0 */
background: -moz-linear-gradient(125deg,rgba(255,123,99,1),rgba(255,72,73,1)); /* Firefox 3.6 - 15 */
background:linear-gradient(125deg,rgba(255,123,99,1),rgba(255,72,73,1));
}
.back_comt{display: block; width: .28rem; height: .28rem; background: url(../images/back_comt.png) no-repeat center; background-size: .28rem; position: absolute; left: .02rem; top: -.3rem; padding: .3rem;}


.link_btn{max-width: 3.2rem; height: .64rem; border-radius: .1rem; background: rgba(0,0,0,.5); color: #fff; font-size: .24rem; position: absolute; left: 0; top:-1rem; line-height: .64rem; padding-right: .3rem; animation: leftFadeIn .5s ease-in-out ;}
.link_btn:before{content: ''; display: inline-block; width: .48rem; height: .48rem; background: url(../images/pro.png) no-repeat center; background-size: cover; vertical-align: middle;/* margin-left: .2rem; */ }
.link_btn span{vertical-align: middle; display: inline-block; max-width: 1.1rem; overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
.link_btn.link_hide:before{background-image: url(../images/link_icon_2.png);}
.link_btn.link_hide span{max-width: 2.24rem;}
/*.link_btn.link_hide{display: none;}*/
/*商品列表*/
.prolist_box .pro_ul{margin: 0 .3rem; height: 100%; box-sizing: border-box;  overflow: auto; -webkit-overflow-scrolling: touch; padding-top: .2rem; padding-bottom: .8rem;}
.prolist_box .pro_ul li{margin-bottom: .5rem;}
.prolist_box .pro_ul li a{display: block;}
.left_proimg{width: 2rem; height: 2rem; border-radius: .12rem; float: left; overflow: hidden;}
.left_proimg img{width: 100%; height: 100%; object-fit: cover;}
.right_proinfo{margin-left: 2.28rem; color: #fff; position: relative; height: 2rem;}
.right_proinfo .pro_title{font-size: .28rem; line-height: .38rem; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.right_proinfo .pro_price{font-size: .32rem; font-weight: bold; color: #FF3B55; position: absolute; bottom: .55rem;}
.right_proinfo .pro_price em{font-size:.24rem ;}

/*链接*/
.link_box{width: 3.9rem; height: 2.14rem; border-radius: .12rem; background-color: #fff; padding: .2rem; box-sizing: border-box; position: absolute; left: .28rem; bottom: 2.47rem; animation: bottomFadeIn .5s ease-in-out; opacity: 1;}
.link_box a{display: block;}
.link_box .left_img{width: .9rem; height: .9rem; border-radius: .12rem; float: left; overflow: hidden;}
.link_box .left_img img{width: 100%; height: 100%; object-fit: cover; }
.link_box .right_info{margin-left: 1.02rem; margin-right: .4rem; font-size: .24rem; color: #39393B; line-height: .32rem;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.link_box .l_btn{font-size: .24rem; color: #fff; line-height: .56rem; width: 3.5rem; height: .56rem; display: block; border-radius: .06rem; text-align: center; margin-top: .2rem;
background: -webkit-linear-gradient(125deg,rgba(255,85,80,1),rgba(255,72,73,1)); /* Safari 5.1 - 6.0 */
background: -o-linear-gradient(125deg,rgba(255,85,80,1),rgba(255,72,73,1)); /* Opera 11.1 - 12.0 */
background: -moz-linear-gradient(125deg,rgba(255,85,80,1),rgba(255,72,73,1)); /* Firefox 3.6 - 15 */
background:linear-gradient(125deg,rgba(255,85,80,1),rgba(255,72,73,1));
}
.link_box .close_btn{width: .2rem; height: .2rem; background: url(../images/close_btn2.png) no-repeat center; background-size: .2rem; position: absolute; right: 0; top: 0; z-index: 9; padding: .18rem;}
.link_btn.link_hide span{margin-left: .02rem;}

/*举报框*/
.jubao_box{width: 100%; height: 100%; position: relative; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.47); z-index: 9; display: none;}
.jubao{width: 6rem; height: 7.4rem; border-radius: .3rem; background-color: #fff; position: absolute; left: 50%; top: 48%; margin-left: -3rem; margin-top: -3.7rem;}
.jubao_detail{padding: .72rem .6rem .5rem .6rem;}
.jubao h4{font-size: .26rem;color: #2A2A2B; font-weight: normal;margin-bottom: .1rem; }
.jubao h4 em{font-weight: bold; margin: 0 .1rem;}
.jubao_title{font-size: .28rem; color: #2A2A2B; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.jubap_type,.contact{height: .8rem; border-radius: .08rem; border: solid .02rem #E1E2E8; box-sizing: border-box;}
.contact input,.jubap_type input{border: none; font-size: .3rem; padding-top: .18rem; padding-left: .29rem; caret-color:#508AFF; line-height: .42rem;}
.contact input::placeholder,.jubao_content dd textarea::placeholder,.jubap_type input::placeholder{color: #BEBFC4;  }
.contact{margin-top: .3rem;}
.jubap_type{margin-top: .3rem; position: relative;}
.jubap_type:after{content:''; display: block; width: .2rem; height: .2rem; background: url(../images/jubao_down.png) no-repeat center ; background-size: contain; position: absolute; right: .22rem; top: .3rem;}
.jubao_content{margin-top: .4rem;}
.jubao_content dt{font-size: .22rem; color: #BEBFC4; line-height: .42rem; border-bottom: solid .02rem #E1E2E8;}
.jubao_content dd textarea{border: none; font-size: .28rem; line-height: .38rem; width: 100%; resize: none; height: 1.04rem;}
.jubao_content dd{padding: .2rem 0; /*margin-bottom: .2rem;*/ }
.jubao .sub{width: 2rem; height: .88rem; display: block; color: #fff; border-radius: .44rem; border: none; margin: auto; font-size: .3rem;
background: -webkit-linear-gradient(45deg,rgba(255,74,104,1) 0%,rgba(247,57,57,1) 100%); /* Safari 5.1 - 6.0 */
background: -o-linear-gradient(45deg,rgba(255,74,104,1) 0%,rgba(247,57,57,1) 100%); /* Opera 11.1 - 12.0 */
background: -moz-linear-gradient(45deg,rgba(255,74,104,1) 0%,rgba(247,57,57,1) 100%); /* Firefox 3.6 - 15 */
background:linear-gradient(45deg,rgba(255,74,104,1) 0%,rgba(247,57,57,1) 100%);
box-shadow:0 .11rem .37rem 0 rgba(255,42,56,0.47);}


/*错误信息*/
.JuError{color: #fff; background: #000; border-radius: .1rem; width: 3rem; position: fixed; z-index: 1000000; top: 50%; padding: .1rem .2rem; text-align: center; left: 50%; margin-left: -1.7rem; display: none; font-size: .25rem;}

/*遮罩层*/
.JuMask{position: fixed;top: 0;position: fixed;background: rgba(0,0,0,.4);top: 0;bottom: 0;left: 0;right: 0;z-index: 100002;display: none;}
.JuMask.show{display: block;}



.chosebox{ border-radius: .08rem; position: relative; border: solid .02rem #E1E2E8; height: 2.5rem; padding-bottom: .2rem;position: absolute; top: .92rem; background-color: #fff; left: -0.02rem;box-shadow:0 .03rem .11rem 0 rgba(17,24,57,0.11); width: 100%; display: none; animation: .5s topFadeIn ease-in-out;}
.show{display: block;}
.chose_ul{height: 2.5rem;  display: block; width: 100%;  overflow: auto;  }
.chosebox:after{content: ''; display: block; height: .5rem;position: absolute; bottom:.2rem; left: 0; right: 0; width: 100%; z-index: 9; pointer-events: none;
background: -webkit-linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Safari 5.1 - 6.0 */
background: -o-linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.1 - 12.0 */
background: -moz-linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Firefox 3.6 - 15 */
background:linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)
}
.chose_ul li{margin-top: .3rem; font-size: .3rem; color: #2A2A2B; padding-left: .3rem; line-height: 1.1em;}
.jubao .close_btn{width: .52rem; height: .52rem; background: url(../images/jubao_close.png) center no-repeat; background-size: cover; position: absolute; right: .28rem; top: .18rem;}
.comm_loading img{width: 2rem; display: block; margin: auto;}
.comm_loading{font-size: .22rem; color: #747578; text-align: center; padding-top: 1rem; padding-bottom: 1rem;}


/*打赏*/
.content p.shangbtn{margin-bottom: 1rem;}
.shangbtn span{display: block; width: 1rem; margin: 0 auto;}
.shangbtn span img{display: block; width: 100%;}
.shang-box{background: #fff;width: 5rem; height: 5.7rem; border-radius: .3rem; margin: 0 auto; position: relative;position: fixed;left: 50%;top: 40%; display: none; z-index: 999999; margin-left: -2.5rem; margin-top: -2.85rem;	-webkit-animation: slide-in-elliptic-top-fwd 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;animation: slide-in-elliptic-top-fwd 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
/*.shang-box em{font-style: normal; vertical-align: bottom;}*/
.shang-box .shang-money .close{display: block;width: .52rem;height: .52rem;background: url(../images/cha.png) center center no-repeat;background-size: .52rem .52rem; position: absolute; right: .18rem; top: .18rem;}
.shang-money .pic-box{width: 1.3rem;height: 1.3rem;border-radius: 1.3rem;overflow: hidden;margin: 0 auto}
.shang-money .pic-box img{display: block;width: 100%;}
.shang-money .shang-item{text-align: center;margin-bottom: .2rem;}
.shang-money .shang-item-cash{font-size: .28rem;/*line-height: .8rem;margin-top: .4rem;*/display: block;}
.shang-money .shang-item-cash em{font-size: .68rem; font-style: normal; vertical-align: 0; font-weight: bold;}
.shang-money .shang-item .inp{display: block;color: #2A2A2B; ;font-size: .28rem; margin-top: .46rem; margin-bottom: .6rem;}
.shang-money .shang-item .inp:after{content: ''; width: .24rem; height: .3rem; display: inline-block; background-image: url(../images/go_left.png); background-size: .24rem; background-repeat: no-repeat; vertical-align: middle; margin-left: .1rem; background-position: center; margin-bottom: .06rem;}
.shang-money .shang-item form{font-size: .5rem;border-bottom: 1px solid #ccc;margin: .4rem auto 0;display: none;width: 63%;}
.shang-money .shang-item form input{font-size: .58rem;border: none;width: 80%;}
.shang-money .shang-item form input:-ms-input-placeholder{font-size: .3rem;}
.shang-money .shang-item form input::-webkit-input-placeholder{font-size: .3rem;}
.shang-money .shang-item .error-tip{color: #BEBFC4; font-size: .28rem; margin-top: .46rem; display: none; margin-bottom: .6rem;}
/*.shang-money .shang-item .error-tip span{display: none;}*/
.shang-money .shang-btn{margin-bottom: .4rem;}
.shang-money .shang-btn a{display: block;width: 2rem;margin: 0 auto;height: .88rem;background: #e55f56;text-align: center;line-height: .88rem;color: #fff;font-size: .3rem;border-radius: .44rem;
background:linear-gradient(45deg,rgba(255,74,104,1) 0%,rgba(247,57,57,1) 100%);
box-shadow:0px .11rem .37rem 0px rgba(255,42,56,0.47);
}
.shang-money .tip-p{font-size: .26rem;text-align: center;color: #cacaca;text-align: center;margin-bottom: .4rem; display: none;}
.shang-money .tip-em{font-size: .26rem;text-align: center;color: #a1a1a1;margin: .2rem 0;}
.shang-money .tip-em a{color: #179ae2;line-height: .8rem;}
.shang-else input {border: 0; margin: 0; padding: 0; font-size: .68rem;  background-color: transparent; max-width: 1.5rem; width: auto; line-height: .68rem;}
.shang-else em{font-size: .28rem; }
.mask{position: fixed;top: 0;position: fixed;background: rgba(0,0,0,.4);top: 0;bottom: 0;left: 0;right: 0;z-index: 10002;display: none;}
/*打赏新增*/
.shang_to{font-size: .28rem; font-weight: normal; color: #2A2A2B; margin: .8rem .6rem .7rem .6rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.shang_to span{font-weight: bold;}
.swiper-container.svideo_banner .swiper-slide{height: 100%;}

/*关注成功*/
.tip_sucess{padding:.32rem 0; border-radius: .16rem; background-color: #1C1E20; color: #fff; text-align: center; font-size: .26rem; display: none; position: absolute; top: -1.14rem; right: 0; width: 1.6rem;}

.cared.myhide{display: none !important;}


.btn_group a.share_btn {
	-webkit-animation: bounce-in-top .8s both;
	        animation: bounce-in-top .8s both;
}
.btn_group a.jubao_btn {
	-webkit-animation: bounce-in-top .86s both;
	        animation: bounce-in-top .86s both;
}
.btn_group a.fabu_btn {
	-webkit-animation: bounce-in-top .96s both;
	        animation: bounce-in-top .96s both;
}



@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2019-8-14 17:51:3
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}


/* 膨胀后变正常尺寸 */
@-webkit-keyframes mypopup{
	0%{-webkit-transform:scale(1);}
	20%{-webkit-transform:scale(1.8);}
	60%{-webkit-transform:scale(2.5);}
	80%{-webkit-transform:scale(1.6);}
	100%{-webkit-transform:scale(1);}
}

@-moz-keyframes mypopup{
	0%{-moz-transform:scale(1);}
	20%{-webkit-transform:scale(1.8);}
	60%{-webkit-transform:scale(2.5);}
	80%{-webkit-transform:scale(1.6);}
	100%{-moz-transform:scale(1);}
}

@keyframes mypopup{
	0%{transform:scale(1);}
	20%{-webkit-transform:scale(1.8);}
	60%{-webkit-transform:scale(2.5);}
	80%{-webkit-transform:scale(1.6);}
	100%{transform:scale(1);}
}

/* ----------------------------------------------
 * Generated by Animista on 2019-8-15 10:39:23
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swirl-out-bck
 * ----------------------------------------
 */

/*.care_btn.cared {
	-webkit-animation: swirl-out-bck 1s ease-in both;
	        animation: swirl-out-bck 1s ease-in both;
	        opacity: 0;
}*/
@-webkit-keyframes swirl-out-bck {
  0% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1);
    opacity: 0;
  }
}
@keyframes swirl-out-bck {
  0% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1);
    opacity: 0;
  }
}
