body,html{width: 100%; height: 100%;}
#shipin_banner_box .swiper-slide-prev,#shipin_banner_box .swiper-slide-next {
    z-index: 999;
}

.posterImg {
    height: 100%;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
    display: block;
    z-index: 0;
    width: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000;
}

.video_banner {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.video_banner .video_ele {
    /*position: relative;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: #000;
    display: block;
    z-index: 0;
}

.video_banner .play_btn {
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: calc(50% - .5rem);
    top: calc(50% - .5rem);
    -webkit-animation: pulse 1.5s ease infinite;
    background: url(../images/video_btn.png) no-repeat ;
    z-index: 999;
    background-position: center ;
    background-size: cover;
}

.btn-play-opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0
}


@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(359deg)
    }
}


@-webkit-keyframes musicRotate1 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,0,0) rotate3d(0,0,1,0) scale3d(1,1,1);
        transform: translate3d(0,0,0) rotate3d(0,0,1,0) scale3d(1,1,1)
    }

    50% {
        opacity: 1;
        -webkit-transform: translate3d(-1.33333333rem,-1.6rem,0) rotate3d(0,0,1,60deg) scale3d(1.2,1.2,1.2);
        transform: translate3d(-1.33333333rem,-1.6rem,0) rotate3d(0,0,1,60deg) scale3d(1.2,1.2,1.2)
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(-2.13333333rem,-3.2rem,0) rotate3d(0,0,1,60deg) scale3d(1.2,1.2,1.2);
        transform: translate3d(-2.13333333rem,-3.2rem,0) rotate3d(0,0,1,60deg) scale3d(1.2,1.2,1.2)
    }
}

@keyframes musicRotate1 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,0,0) rotate3d(0,0,1,0) scale3d(1,1,1);
        transform: translate3d(0,0,0) rotate3d(0,0,1,0) scale3d(1,1,1)
    }

    50% {
        opacity: 1;
        -webkit-transform: translate3d(-1.33333333rem,-1.6rem,0) rotate3d(0,0,1,60deg) scale3d(1.2,1.2,1.2);
        transform: translate3d(-1.33333333rem,-1.6rem,0) rotate3d(0,0,1,60deg) scale3d(1.2,1.2,1.2)
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(-2.13333333rem,-3.2rem,0) rotate3d(0,0,1,60deg) scale3d(1.2,1.2,1.2);
        transform: translate3d(-2.13333333rem,-3.2rem,0) rotate3d(0,0,1,60deg) scale3d(1.2,1.2,1.2)
    }
}


@-webkit-keyframes xuanzhuan {
    0% {
        -webkit-transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(90deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
    }

    75% {
        -webkit-transform: rotate(270deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes xuanzhuan {
    0% {
        -webkit-transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(90deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
    }

    75% {
        -webkit-transform: rotate(270deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}



.fabuNeirong_container {
    position: absolute;
    bottom: .92rem;
    width: 70%;
    left: .28rem;
    z-index: 2;
}

.fabuNeirong_container .name_title {
    font-size: 16px;
    color: #fff;
    padding-bottom:.16rem;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fabuNeirong_container .name_title:before{content: '@';}
.fabuNeirong_container .content {
    font-size: 14px;
    line-height: .4rem;
    color: #fff;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.popMsg{position: fixed; bottom:50%; left: 50%; background-color: rgba(0,0,0,.7); padding:.3rem .4rem ; border-radius:.2rem; transform: translate(-50%,-50%); min-width: 1rem; text-align: center; z-index: 10000; white-space: nowrap;}
.popMsg p{color: #fff; font-size: .26rem; }

.video_line{position: relative;}
.video_line.loading::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    content: '';
    opacity: 0;
    height: 0.02rem;
    background-color: #fff;
    border-radius: 50%;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    animation: scaleLine 0.8s infinite;
    -webkit-animation: scaleLine .8s infinite;
    /*Safari and Chrome*/
}

@keyframes scaleLine {
    0%, 100% {
        -webkit-transform: scale(0, .6);
        transform: scale(0, 1);
        opacity: 0;
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

/*@media screen and (orientation: landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}*/


/*.iphonex.tab-nav-bottom,.pinglun_alert_banner{padding-bottom:20px;}.iphonex.fabuNeirong_container {bottom:80px;}*/
::-webkit-scrollbar { width: 12px !important; height: 12px !important; }::-webkit-scrollbar-track:vertical { }::-webkit-scrollbar-thumb:vertical { background-color: rgba (136, 141, 152, 0.5) !important; border-radius: 10px !important; background-clip: content-box !important; border:2px solid transparent ! important; } ::-webkit-scrollbar-track:horizontal { }::-webkit-scrollbar-thumb:horizontal { background-color: rgba(136, 141, 152, 0.5) ! important; border-radius: 10px !important; background-clip: content-box !important; border:2px solid transparent !important; } ::-webkit- resizer { display: none !important; }