
html,body{background: #F5F5F7;}
.bg_topic{width: 100%; height: 4.2rem; position: absolute; top: .9rem; left: 0; right: 0;}
.bg_topic img{width: 100%; height: 100%; object-fit: cover;}
.d_box {margin-bottom: .2rem;}
.d_box .tit_box{height: 2rem; position: relative; position: absolute; left: 0; right: 0; top: 3.1rem; font-size: .4rem; color: #fff; z-index: 2;
background: -webkit-linear-gradient(0deg,rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(0deg,rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(0deg,rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Firefox 3.6 - 15 */
background: linear-gradient(0deg,rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
}
.huoniao_iOS .d_box .tit_box{top:2.2rem}
.d_box .tit_box h1{position: absolute; left: 0; padding-left: .4rem; top: 50%; transform: translate(0,-50%);}

.t_detail{background: #fff; margin-top: 3.9rem ; padding: .74rem .32rem ; border-radius: .3rem .3rem 0 0; position: relative; z-index: 3;}
.data_show li.data_li{float: left; width: 33.3%; text-align: center; position: relative;}
.data_show li.data_li h4{color: #000; font-size: .36rem; line-height: .4rem;}
.data_show li.data_li p{color: #999; font-size: .24rem; margin-top:.1rem;}
.data_show li.data_li:after{content: ''; display: block; width: .02rem; height: .3rem; background: #EBEBED; position: absolute; right: 0; top: 50%; margin-top: -.15rem;}
.data_show li.data_li:last-child:after{display: none;}

.active_user{margin:.42rem .7rem ; border-radius: .5rem; height: 1rem; box-sizing: border-box; background: #F5F5F5; padding: .2rem; overflow: hidden;}
.active_user .l_user{float: left; position: relative; padding-right: .2rem;}
.active_user .l_user:before{content: ''; display: block; width: .02rem; height: .3rem; background: #E1E1E3; position: absolute; right: 0; top: 50%; margin-top: -.15rem;}
.active_user .l_user .l_head{width: .6rem; height: .6rem; border-radius: 50%; float: left;}
.active_user .l_user .l_head img{width: 100%; height: 100%; object-fit: cover; float: left; border-radius: 50%;}
.active_user .l_user .l_info{margin-left: .66rem;}
.active_user .l_user .l_info h4{font-size: .24rem; color: #212121; line-height: .34rem; max-width: 1.2rem; overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
.active_user .l_user .l_info p{color: #B3B3B3; font-size: .22rem; line-height: .28rem;}
.r_list{padding-left: .2rem; float: left; position: relative;}
.r_list a.head_a{display: block; width: .6rem; height:.6rem; position: absolute; left: .2rem;}
.r_list a.head_a:nth-child(2){left: .7rem; z-index: 2;}
.r_list a.head_a:nth-child(3){left: 1.2rem; z-index: 3;}
.r_list a.head_a img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.r_list a.go_link{margin-left: 1.7rem; line-height: .6rem; color: #4D4D4D; font-size: .26rem; float: right;}
.r_list a.go_link:after{content: ''; display: inline-block; width: .24rem; height: .24rem; background: url(../images/r_arr.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem;}
.topic_con{font-size: .3rem; color: #808080; line-height: .48rem; margin-top: .3rem;}

/* 评论 */
.tab_con{padding-bottom: 2rem;}
.tab_con>ul{display: none;animation: rightFadeIn ease-in-out .25s;}
.tab_con>ul.show{display: block;}
.comm_box .tab_ul{display: flex; justify-content: space-around; background: #fff;border-bottom: solid .01rem #EBEBED; padding: 0 1.4rem; background: #fff;}
.comm_box .tab_ul.fixedTop{position: fixed; left: 0; right: 0 ; top: 0; z-index: 10;}
.comm_box .tab_ul li{line-height: .9rem; font-size: .3rem; position: relative; color: #B3B3B3;}
.comm_box .tab_ul li.on_chose{color: #000;}
.comm_box .tab_ul li.on_chose:before{content: ''; display: block; width: .6rem; height: .04rem; background: #3699FF; position: absolute; left: 50%; bottom: 0; margin-left: -.3rem;}

.li_box{padding-top: .44rem ; background: #fff; margin-bottom: .2rem;}
.li_box .art_ib{margin-bottom: .22rem; padding: 0 .4rem;}
.li_box .art_ib .left_head{width: .72rem; height: .72rem; float: left; position: relative;}
.li_box .art_ib .left_head .v_log{width: .4rem; height: .4rem; position: absolute; right: -.09rem; bottom: -.05rem;}
.li_box .art_ib .left_head img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.li_box .art_ib .r_info{margin-left: .9rem; margin-right: 1.5rem;}
.li_box .art_ib .r_info h4{font-size: .28rem; color: #212121; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
/* .li_box .art_ib .r_info h4 span{display: inline-block; max-width:3.2rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;} */
.li_box .art_ib .r_info p.pub_time{color: .24rem; color: #B3B3B3;}
.li_box .art_ib .r_info.vip_icon em{display: inline-block; width: 1.28rem; height: .32rem; margin-left: .12rem; margin-bottom: -.06rem;}
.li_box .art_ib .r_info.vip_icon em img{display: block; width: 100%; height: 100%; object-fit: cover; }
.li_box .art_con h2{color: #000; font-size: .32rem; line-height: .44rem; margin-bottom: .2rem; padding: 0 .4rem; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.li_box .art_con.hot_con h2:before{content: ''; display: inline-block; width: .9rem; height: .4rem; background: url(../images/hot_tag.png) no-repeat center; background-size: cover; margin-bottom: -.1rem; margin-right: .08rem;}

.li_box .img_box{margin-bottom: .25rem; padding: 0 .4rem;}
.li_box .art_con .img_item{border-radius: .04rem; box-shadow:0 0 .01rem .01rem rgba(15,19,36,0.09); }
.li_box .art_con .img_item.h_img{width: 3.6rem; max-width: 6.8rem; overflow: hidden;}/* 一张长图 */
.li_box .art_con .img_item.v_img{width: 4.8rem;} /*一张横图*/
/* 2、4张图 */
.li_box .art_con .img_item.d_img{width: 3.3rem; height: 3.3rem; float: left; margin-right: .08rem; margin-bottom: .08rem;}
.li_box .art_con .img_item.d_img img,.li_box .art_con .img_item.m_img img{height: 100%; object-fit: cover;display: block;}
.li_box .art_con .img_item.d_img:nth-child(2n){margin-right: 0;}
/* 3或者4张以上的 */
.li_box .art_con .img_item.m_img{width:2.18rem; height: 2.18rem; float: left;margin-right: .08rem; margin-bottom: .08rem;}
.li_box .art_con .img_item.m_img:nth-child(3n){margin-right: 0;}
.li_box .art_con .img_item img{width: 100%; display: block; border-radius: .04rem; }

/* 视频 */
.li_box .art_con .img_item.video_item{position: relative;}
.li_box .art_con .img_item.video_item:before{content: ''; display: block; width: .8rem; height: .8rem; background: url(../images/v_icon.png) no-repeat center;background-size: cover; position: absolute; left: 50%; top: 50%; margin-left:-.4rem ; margin-top: -.4rem;}
.li_box .art_con .img_item.video_item em{color: #fff; background: rgba(0,0,0,.5); font-size: .24rem; text-align: center; line-height: .36rem; border-radius: .18rem;padding: 0 .11rem; position: absolute; bottom: .1rem; right: .1rem;}
/* 链接 */
.li_box .link_out{width: 6rem; height: .72rem;margin: 0 .4rem; padding:.08rem 0; background: #F5F5F5; display: block; border-radius: .04rem; margin-bottom: .26rem;}
.li_box .link_out .left_img{width: .72rem; height: .72rem; border-radius: .04rem; float: left;overflow: hidden; margin-left: .08rem;}
.li_box .link_out .left_img img{width: 100%; height: 100%; object-fit: cover;}
.li_box .link_out p{margin-left: .98rem; height: .72rem; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden; line-height: .32rem; font-size: .26rem; color: #4D4D4D;}
.li_box .topic_link{max-width: 50%; line-height: .4rem; border-radius: .26rem; background: #F0F3F5; color: #03A9F4; font-weight: bold; display: inline-block; padding: .06rem; padding-right: .23rem;margin: 0 .4rem;}
.li_box .topic_link:before{content: ''; display: inline-block; width: .4rem; height: .4rem; background: url(../images/topic_icon.png) no-repeat center; background-size: cover; margin-bottom: -.1rem; margin-right: .05rem;}
.li_box .posi_link{display: block; font-size: .24rem; color: #4D4D4D; margin: 0 .4rem; margin-top: .22rem;}
.li_box .posi_link:before{content: ''; display: inline-block; width: .36rem; height: .36rem; background: url(../images/posi.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-right: .05rem;}
/* 按钮 */
.li_box .btn_group{ padding: .4rem .3rem .37rem .4rem;}
.li_box .left_btns{width:58%; display: flex; justify-content: space-between; }
.li_box .left_btns a,.li_box .r_btn{display: block; line-height: .5rem; color: #999;}
.li_box .left_btns a:before,.li_box .r_btn:before{content: ''; display: inline-block; width: .5rem; height: .5rem; background: no-repeat center; background-size: cover; vertical-align: middle;margin-bottom: .04rem; margin-right: .05rem;}
.li_box .left_btns a.comt_btn:before{background-image:url(../images/comt.png) }
.li_box .left_btns a.share_btn:before{background-image:url(../images/share.png) }
.li_box .left_btns a.zan_btn:before{background-image:url(../images/zan_1.png) }
.li_box .left_btns a.zan_btn{position: relative;}
.li_box .left_btns a.zan_btn .canvas_box{width: 1.3rem; height: 1.3rem; position: relative; position: absolute; left: 50%; top: 50%; overflow: hidden; margin-left: -.8rem; margin-top: -.69rem; display: none;}
.li_box .left_btns a.zan_btn em{position: relative; z-index: 2;}
.li_box .left_btns a.zan_btn img{width: 2rem;  position: absolute; left: 50%; top: 50%;margin-left: -1rem; margin-top: -1.05rem;}
.li_box .left_btns a.zan_btn.zaned:before{background-image:url(../images/zan_2.png) }
.li_box .r_btn:before{background-image:url(../images/more.png)}
.li_box .r_btn{float: right;}

/* 点赞、评论列表 */
.comt_box{padding: .3rem .4rem .26rem .4rem; border-top: solid .01rem #EBEBED;}
.zan_box {margin-bottom: .3rem;}
.zan_box .zan_ul{display: inline-block; vertical-align: middle;}
.zan_box .zan_li{float: left; margin-right: .08rem;}
.zan_box .zan_li a{display: block; width: .44rem; height: .44rem; border-radius: 50%; position: relative;}
.zan_box .zan_li a img{display: block; width: 100% ; height: 100%; object-fit: cover; border-radius: 50%;}
.zan_box .zan_li a .v_icon{width: .36rem; height: .36rem; position: absolute;right: -.09rem; bottom: -.09rem;}
.zan_box .zan_count{vertical-align: middle; display: inline-block;  border-radius: .22rem; background: url(../images/bg_zan.png) no-repeat left center; background-size: auto .48rem; min-width: .85rem; text-align: center; overflow: hidden;}
.zan_box .zan_count em{color: #808080; font-size: .24rem;display: block;line-height: .44rem; text-align: center;box-sizing: border-box; margin-left: .18rem; background: #EBEBED; border-radius: .22rem;padding-right: .1rem;}

.comt_list li{font-size: .28rem; color: #212121; margin-bottom: .05rem;}
.comt_list li img{width: .5rem; vertical-align: middle;}
.comt_list a{font-size: .28rem; color: #03A9F4; font-weight: bold;}
.comt_list .commt_btn{width: 6rem;line-height: .64rem; border-radius: .1rem; background: #F2F2F2; box-sizing: border-box; padding-left: .2rem; font-size: .28rem; color: #B3B3B3; margin-top: .28rem;}

/* 回复框 */
.bottom_box {padding: .28rem .3rem .28rem .2rem; background: #fff; position: fixed; bottom: 0; left: 0; right: 0;z-index: 100; border-radius: .3rem .3rem 0 0 ;box-shadow:0 -.11rem .37rem 0 rgba(0, 0, 0, 0.07); display: none; padding-bottom:3rem;}
.reply_box .bq_btn{float: left; width: .64rem; height: .64rem; background: url(../images/bq.png) no-repeat center; background-size: cover; margin-top: .04rem;}
.reply_box .send_btn{width: 1.2rem; line-height: .72rem; font-size: .26rem; color: rgba(255,255,255,.77); border-radius: .36rem; text-align: center; float: right;
background: -webkit-linear-gradient(90deg,rgba(255,85,79,1) 0%,rgba(255,111,98,1) 100%); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(90deg,rgba(255,85,79,1) 0%,rgba(255,111,98,1) 100%); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(90deg,rgba(255,85,79,1) 0%,rgba(255,111,98,1) 100%); /* Firefox 3.6 - 15 */
background:linear-gradient(90deg,rgba(255,85,79,1) 0%,rgba(255,111,98,1) 100%);
}
.reply_box .inbox{margin-left: .7rem; margin-right: 1.5rem; height: .72rem; box-sizing: border-box; border-radius: .36rem; border: solid .015rem #A9A9AB;}
.reply_box .inbox #reply{font-size: .3rem;padding-top: .14rem;  padding-right: .29rem; padding-left: .29rem; height: 100%; box-sizing: border-box; overflow: auto;-webkit-user-select:text;}
.reply_box .inbox #reply:empty:before{content: attr(placeholder); color: #ccc; }
.reply_box .inbox #reply:before{content: '';}
.reply_box .inbox #reply img{width: .4rem; margin: 0 .01rem; vertical-align: middle;}
.reply_box .inbox input{border: none; background: none; width: 100%; padding-left: .29rem; padding-right: .29rem; box-sizing: border-box; font-size: .3rem;padding-top: .14rem;}
.reply_box .inbox input::placeholder{color: #ccc;}

/* 表情 */
.reply_box .bq_btn.bq_open{background-image: url(../images/f_bq1.png);}
.bq_box{height: 3.3rem; overflow: auto; display: none; animation: bottomFadeIn .5s ease-in-out; margin-top: .2rem;}
.bq_box li{float: left; width: 14.2%; margin-bottom: .3rem; }
.bq_box li img{display: block; width: .5rem; margin: auto;padding: .05rem;}
.bq_box.show{display: block;}
/* 更多 */
.more_box{width: 100% ;height: 4.1rem; position: relative; background: #F4F4F4; position: fixed; bottom: -4.1rem; left: 0; right: 0; z-index: 11;}
.more_box ul.m_list{padding-top: .5rem;}
.more_box li.m_li{float: left; margin-left: .5rem;}
.more_box li.m_li a{display: block; width: 1.2rem; height: 1.2rem; border-radius: .24rem; background-color: #fff; box-sizing: border-box; padding: .1rem;}
.more_box li.m_li a img{width: 100%; height: 100%; object-fit: cover;}
.more_box li.m_li p{text-align: center; font-size: .28rem; color: #212121; margin-top: .14rem;}
.more_box .cancel_btn{line-height: .98rem; position: absolute; bottom: 0; left: 0; right: 0; background: #fff; font-size: .32rem; color: #4D4D4D; text-align: center;}

.loading_tip{font-size: .24rem; color: #B2B2B2; text-align: center; padding: .4rem;}
.loading_tip img{width: 2rem;}
/* 底部按钮 */
.bottom_join{height: 1.7rem; position: fixed; left: 0; right: 0; bottom: 0;z-index:10; box-sizing: border-box; padding-top: .6rem; pointer-events: none;padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom));
background: -webkit-linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 20%, rgba(255,255,255,0) 100%); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 20%, rgba(255,255,255,0) 100%); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 20% ,rgba(255,255,255,0) 100%); /* Firefox 3.6 - 15 */
background:linear-gradient(0deg,rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%,rgba(255,255,255,0) 100%);
}
.bottom_join .commt_btn{display: block; width: 2rem; line-height: .88rem; font-size: .26rem; color: #fff; text-align: center; border-radius: .44rem; margin: auto; pointer-events: all;
background: -webkit-linear-gradient(90deg,rgba(64,150,255,1) 0%,rgba(59,134,255,1) 100%); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(90deg,rgba(64,150,255,1) 0%,rgba(59,134,255,1) 100%); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(90deg,rgba(64,150,255,1) 0%,rgba(59,134,255,1) 100%); /* Firefox 3.6 - 15 */
background:linear-gradient(90deg,rgba(64,150,255,1) 0%,rgba(59,134,255,1) 100%);
}
.bottom_join .commt_btn:before{content: ''; display: inline-block; width: .4rem; height: .4rem; background: url(../images/w_fabu.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-right: .03rem;}

/* 弹出层 */
.mask_topic,.mask_more,.mask_re,.mask_change{width: 100%; height: 100%; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.7); z-index: 10; display: none;}

/*打赏*/
.content p.shangbtn{margin-bottom: 1rem;}
.shangbtn span{display: block; width: 1rem; margin: 0 auto;}
.shangbtn span img{display: block; width: 100%;}
.shang-box{background: #fff;width: 5rem; height: 5.7rem; border-radius: .3rem; margin: 0 auto; position: relative;position: fixed;left: 50%;top: 40%; display: none; z-index: 999999; margin-left: -2.5rem; margin-top: -2.85rem;	/* -webkit-animation: slide-in-elliptic-top-fwd 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;animation: slide-in-elliptic-top-fwd 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */}
/*.shang-box em{font-style: normal; vertical-align: bottom;}*/
.shang-box .shang-money .close{display: block;width: .52rem;height: .52rem;background: url(../images/cha.png) center center no-repeat;background-size: .52rem .52rem; position: absolute; right: .18rem; top: .18rem;}
.shang-money .pic-box{width: 1.3rem;height: 1.3rem;border-radius: 1.3rem;overflow: hidden;margin: 0 auto}
.shang-money .pic-box img{display: block;width: 100%;}
.shang-money .shang-item{text-align: center;margin-bottom: .2rem;}
.shang-money .shang-item-cash{font-size: .28rem;/*line-height: .8rem;margin-top: .4rem;*/display: block;}
.shang-money .shang-item-cash em{font-size: .68rem; font-style: normal; vertical-align: 0; font-weight: bold;}
.shang-money .shang-item .inp{display: block;color: #2A2A2B; ;font-size: .28rem; margin-top: .46rem; margin-bottom: .6rem;}
.shang-money .shang-item .inp:after{content: ''; width: .24rem; height: .3rem; display: inline-block; background-image: url(../images/go_left.png); background-size: .24rem; background-repeat: no-repeat; vertical-align: middle; margin-left: .1rem; background-position: center; margin-bottom: .06rem;}
.shang-money .shang-item form{font-size: .5rem;border-bottom: 1px solid #ccc;margin: .4rem auto 0;display: none;width: 63%;}
.shang-money .shang-item form input{font-size: .58rem;border: none;width: 80%;}
.shang-money .shang-item form input:-ms-input-placeholder{font-size: .3rem;}
.shang-money .shang-item form input::-webkit-input-placeholder{font-size: .3rem;}
.shang-money .shang-item .error-tip{color: #BEBFC4; font-size: .28rem; margin-top: .46rem; display: none; margin-bottom: .6rem;}
/*.shang-money .shang-item .error-tip span{display: none;}*/
.shang-money .shang-btn{margin-bottom: .4rem;}
.shang-money .shang-btn a{display: block;width: 2rem;margin: 0 auto;height: .88rem;background: #e55f56;text-align: center;line-height: .88rem;color: #fff;font-size: .3rem;border-radius: .44rem;
background:linear-gradient(45deg,rgba(255,74,104,1) 0%,rgba(247,57,57,1) 100%);
box-shadow:0px .11rem .37rem 0px rgba(255,42,56,0.47);
}
.shang-money .tip-p{font-size: .26rem;text-align: center;color: #cacaca;text-align: center;margin-bottom: .4rem; display: none;}
.shang-money .tip-em{font-size: .26rem;text-align: center;color: #a1a1a1;margin: .2rem 0;}
.shang-money .tip-em a{color: #179ae2;line-height: .8rem;}
.shang-else input {border: 0; margin: 0; padding: 0; font-size: .68rem;  background-color: transparent; max-width: 1.5rem; width: auto; line-height: .68rem;}
.shang-else em{font-size: .28rem; }
.mask{position: fixed;top: 0;position: fixed;background: rgba(0,0,0,.4);top: 0;bottom: 0;left: 0;right: 0;z-index: 10002;display: none;}
/*打赏新增*/
.shang_to{font-size: .28rem; font-weight: normal; color: #2A2A2B; margin: .8rem .6rem .7rem .6rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.shang_to span{font-weight: bold;}
.mask{position: fixed;top: 0;position: fixed;background: rgba(0,0,0,.4);top: 0;bottom: 0;left: 0;right: 0;z-index: 10002;display: none;}

/*举报框*/
.jubao_box{width: 100%; height: 100%; position: relative; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.47); z-index: 999; display: none;}
.jubao{width: 6rem; height: 7.4rem; border-radius: .3rem; background-color: #fff; position: absolute; left: 50%; top: 48%; margin-left: -3rem; margin-top: -3.7rem;}
.jubao_detail{padding: .72rem .6rem .5rem .6rem;}
.jubao h4{font-size: .26rem;color: #2A2A2B; font-weight: normal;margin-bottom: .1rem; }
.jubao h4 em{font-weight: bold; margin: 0 .1rem;}
.jubao_title{font-size: .28rem; color: #2A2A2B; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.jubap_type,.contact{height: .8rem; border-radius: .08rem; border: solid .02rem #E1E2E8; box-sizing: border-box;}
.contact input,.jubap_type input{border: none; font-size: .3rem; padding-top: .18rem; padding-left: .29rem; caret-color:#508AFF; line-height: .42rem;}
.contact input::placeholder,.jubao_content dd textarea::placeholder,.jubap_type input::placeholder{color: #BEBFC4;  }
.contact{margin-top: .3rem;}
.jubap_type{margin-top: .3rem; position: relative;}
.jubap_type:after{content:''; display: block; width: .2rem; height: .2rem; background: url(../images/jubao_down.png) no-repeat center ; background-size: contain; position: absolute; right: .22rem; top: .3rem;}
.jubao_content{margin-top: .4rem;}
.jubao_content dt{font-size: .22rem; color: #BEBFC4; line-height: .42rem; border-bottom: solid .02rem #E1E2E8;}
.jubao_content dd textarea{border: none; font-size: .28rem; line-height: .38rem; width: 100%; resize: none; height: 1.04rem;}
.jubao_content dd{padding: .2rem 0; /*margin-bottom: .2rem;*/ }
.jubao .sub{width: 2rem; height: .88rem; display: block; color: #fff; border-radius: .44rem; border: none; margin: auto; font-size: .3rem;
background: -webkit-linear-gradient(45deg,rgba(255,74,104,1) 0%,rgba(247,57,57,1) 100%); /* Safari 5.1 - 6.0 */
background: -o-linear-gradient(45deg,rgba(255,74,104,1) 0%,rgba(247,57,57,1) 100%); /* Opera 11.1 - 12.0 */
background: -moz-linear-gradient(45deg,rgba(255,74,104,1) 0%,rgba(247,57,57,1) 100%); /* Firefox 3.6 - 15 */
background:linear-gradient(45deg,rgba(255,74,104,1) 0%,rgba(247,57,57,1) 100%);
box-shadow:0 .11rem .37rem 0 rgba(255,42,56,0.47);}
/*错误信息*/
.JuError{color: #fff; background: #000; border-radius: .1rem; width: 3rem; position: fixed; z-index: 1000000; top: 50%; padding: .1rem .2rem; text-align: center; left: 50%; margin-left: -1.7rem; display: none; font-size: .25rem;}
/* 错误提示1 */
.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 100001; visibility: hidden;}
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: .3rem; line-height: 1.4; text-align: center; padding: .24rem .2rem; z-index: 9999; left: 0; top: 50%; margin-top: -.2rem;}

/*遮罩层*/
.JuMask{position: fixed;top: 0;position: fixed;background: rgba(0,0,0,.4);top: 0;bottom: 0;left: 0;right: 0;z-index: 100002;display: none;}
.JuMask.show{display: block;}

.chosebox{ border-radius: .08rem; position: relative; border: solid .02rem #E1E2E8; height: 2.5rem; padding-bottom: .2rem;position: absolute; top: .92rem; background-color: #fff; left: -0.02rem;box-shadow:0 .03rem .11rem 0 rgba(17,24,57,0.11); width: 100%; display: none; animation: .5s topFadeIn ease-in-out;}
.show{display: block;}
.chose_ul{height: 2.5rem;  display: block; width: 100%;  overflow: auto;  }
.chosebox:after{content: ''; display: block; height: .5rem;position: absolute; bottom:.2rem; left: 0; right: 0; width: 100%; z-index: 9; pointer-events: none;
background: -webkit-linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Safari 5.1 - 6.0 */
background: -o-linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.1 - 12.0 */
background: -moz-linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Firefox 3.6 - 15 */
background:linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)
}
.chose_ul li{margin-top: .3rem; font-size: .3rem; color: #2A2A2B; padding-left: .3rem; line-height: 1.1em;}
.jubao .close_btn{width: .52rem; height: .52rem; background: url(../images/jubao_close.png) center no-repeat; background-size: cover; position: absolute; right: .28rem; top: .18rem;}
.comm_loading img{width: 2rem; display: block; margin: auto;}
.comm_loading{font-size: .22rem; color: #747578; text-align: center; padding-top: 1rem; padding-bottom: 1rem;}

/* 会员等级样式 */
.lBox{ line-height: .32rem; border-radius: .16rem; display: inline-block;  padding-right: .1rem; position: relative;  overflow: hidden; z-index: 2; vertical-align: middle; margin-bottom: .04rem; margin-left: .1rem;}
.lBox:before{background:rgba(0,0,0,.5); content: ''; display: block; width: 100%; height: 100%; position: absolute;right:0; top: 0; z-index: -2;}
.lBox:after{content: ''; display: block; width: 100%; height: .5rem;position: absolute;right: 0; top: -.16rem; z-index: -1; transform: rotate(-35deg); transform-origin: right center;}
.lBox i{display: inline-block; width: .32rem; height: .32rem; float: left; background: no-repeat center; background-size: cover;}
/* .lBox i img{width: 100%; height: 100%; display: block;} */
.lBox span{vertical-align: middle; font-size: .2rem; color: #fff; float: left;}
/* 等级0 */
.lBox.level_0 span{color: #fff; position: relative;z-index: 2;}
.lBox.level_0:before{background: rgba(255,255,255,.2);}
/* 等级1 */
.lBox.level_1 span{color: #4581B1;}
.lBox.level_1 i{background-image:url(../images/v_5.png) ;}
.lBox.level_1:before{background:rgba(171,214,255,.77);}
.lBox.level_1:after{ background: rgba(145,202,255,1); }
/* 等级2 */
.lBox.level_2 span{color: #C29339;}
.lBox.level_2:before{background: #FDE7A9;}
.lBox.level_2:after{background: #F7DA8D;}
.lBox.level_2 i{background-image:url(../images/v_4.png) ;}
/* 等级3 */
.lBox.level_3:before{background: #757067;}
.lBox.level_3:after{background: #66625A;}
.lBox.level_3 i{background-image:url(../images/v_3.png) ;}
/* 等级4 */
.lBox.level_4:before{background: #6B727A;}
.lBox.level_4:after{background: #5B6067;}
.lBox.level_4 i{background-image:url(../images/v_2.png) ;}
/* 等级5 */
.lBox.level_5:before{background: #4B4B4A;}
.lBox.level_5:after{background: #3B3B3C;}
.lBox.level_5 i{background-image:url(../images/v_1.png) ;}

/* 禁止滚动 */
.noscroll,
.noscroll body {
	 overflow: hidden;
}
.noscroll body {
	position: relative;
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2019-8-14 17:51:3
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}


/* 膨胀后变正常尺寸 */
@-webkit-keyframes mypopup{
	0%{-webkit-transform:scale(1);}
	20%{-webkit-transform:scale(1.8);}
	60%{-webkit-transform:scale(2.5);}
	80%{-webkit-transform:scale(1.6);}
	100%{-webkit-transform:scale(1);}
}

@-moz-keyframes mypopup{
	0%{-moz-transform:scale(1);}
	20%{-webkit-transform:scale(1.8);}
	60%{-webkit-transform:scale(2.5);}
	80%{-webkit-transform:scale(1.6);}
	100%{-moz-transform:scale(1);}
}

@keyframes mypopup{
	0%{transform:scale(1);}
	20%{-webkit-transform:scale(1.8);}
	60%{-webkit-transform:scale(2.5);}
	80%{-webkit-transform:scale(1.6);}
	100%{transform:scale(1);}
}

/* ----------------------------------------------
 * Generated by Animista on 2019-8-15 10:39:23
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swirl-out-bck
 * ----------------------------------------
 */

/*.care_btn.cared {
	-webkit-animation: swirl-out-bck 1s ease-in both;
	        animation: swirl-out-bck 1s ease-in both;
	        opacity: 0;
}*/
@-webkit-keyframes swirl-out-bck {
  0% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1);
    opacity: 0;
  }
}
@keyframes swirl-out-bck {
  0% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1);
    opacity: 0;
  }
}

/* app适配 */
.huoniao_iOS .bg_topic{top: 0;}