html,body{background: #F5F5F7;}
.t_init{margin-bottom: .2rem;}
.t_init dl{padding: .26rem .3rem .32rem .3rem; background: #fff; position: relative;}
.t_init dt{width: 1.4rem; background: #fff; font-size: .24rem; color: #999; position: absolute; top: .1rem; left: .34rem; z-index: 3; }
.t_init dd.dd_box{padding-top: .43rem; border-top:  solid .01rem #EBEBED; position: relative;}
.t_init dd.dd_box a{display: block;}
.t_init dd.dd_box .l_head{width: .98rem; height: .98rem; position: relative; float: left;}
dd.dd_box .l_head img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
dd.dd_box .l_head .v_icon{width: .4rem; height: .4rem; position: absolute; right: -.02rem; bottom: -.02rem;}
.t_init dd.dd_box .r_info {margin-left: 1.2rem; height: .98rem;}
.t_init dd.dd_box .r_info h3{font-size: .34rem; color: #000; padding-top: .2rem;}
 dd.dd_box .r_info .care_btn{display: block; width: 1.1rem; line-height: .52rem; text-align: center;color: #fff; font-size: .24rem; border-radius: .26rem; position: absolute; top: .6rem; right: 0;
background: -webkit-linear-gradient(90deg,rgba(255,85,79,1) 0%,rgba(255,111,98,1) 100%); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(90deg,rgba(255,85,79,1) 0%,rgba(255,111,98,1) 100%); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(90deg,rgba(255,85,79,1) 0%,rgba(255,111,98,1) 100%); /* Firefox 3.6 - 15 */
background:linear-gradient(90deg,rgba(255,85,79,1) 0%,rgba(255,111,98,1) 100%);
}
dd.dd_box .r_info .care_btn.cared{background: #E3E3E3;}
dd.dd_box .r_info .care_btn:before{content: ''; display: inline-block; width: .24rem; height: .24rem; background: url(../images/add.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-right: .04rem;}
dd.dd_box .r_info .care_btn.cared:before{display: none;}
dd.dd_box .r_info .care_btn.fn-hide{display: none !important;}
/* 话题活跃榜 */
.t_join{background: #fff;padding-top: .2rem; padding-bottom: .2rem;}
.t_join dt{ font-size: .24rem; color: #999; padding-left: .34rem;}
.t_join dd.dd_box {padding-left: .24rem; overflow: hidden; padding-top: .26rem; position: relative; }
.t_join dd.dd_box .l_num{width: .4rem; height: .4rem; text-align: center; float: left; margin-right: .2rem; margin-top: .26rem; color: #B3B3B3; font-size: .34rem; font-style: italic; font-weight: bold;}
.t_join dd.dd_box .l_num img{width: 100%; height: 100%; object-fit: cover;}
.t_join dd.dd_box .care_btn{right: .3rem;}
.t_join dd.dd_box:nth-child(2) .l_head{
	background: -webkit-linear-gradient(121deg, rgba(255,188,59,1), rgba(228,213,205,1)); /* Safari 5.1 - 6.0 */
	  background: -o-linear-gradient(121deg, rgba(255,188,59,1), rgba(228,213,205,1)); /* Opera 11.1 - 12.0 */
	  background: -moz-linear-gradient(121deg, rgba(255,188,59,1), rgba(228,213,205,1)); /* Firefox 3.6 - 15 */
	background:linear-gradient(121deg, rgba(255,188,59,1), rgba(228,213,205,1));
	 
	}
.t_join dd.dd_box:nth-child(3) .l_head{
	background: -webkit-linear-gradient(121deg, rgba(147,163,200,1), rgba(228,213,205,1)); /* Safari 5.1 - 6.0 */
	  background: -o-linear-gradient(121deg, rgba(147,163,200,1), rgba(228,213,205,1)); /* Opera 11.1 - 12.0 */
	  background: -moz-linear-gradient(121deg, rgba(147,163,200,1), rgba(228,213,205,1)); /* Firefox 3.6 - 15 */
	background:linear-gradient(121deg, rgba(147,163,200,1), rgba(228,213,205,1));
	 
	}
.t_join dd.dd_box:nth-child(4) .l_head{
	background: -webkit-linear-gradient(121deg, rgba(198,161,96,1), rgba(228,213,205,1)); /* Safari 5.1 - 6.0 */
	  background: -o-linear-gradient(121deg, rgba(198,161,96,1), rgba(228,213,205,1)); /* Opera 11.1 - 12.0 */
	  background: -moz-linear-gradient(121deg, rgba(198,161,96,1), rgba(228,213,205,1)); /* Firefox 3.6 - 15 */
	background:linear-gradient(121deg, rgba(198,161,96,1), rgba(228,213,205,1));
	 
	}
.t_join dd.dd_box .l_head{width: .92rem; height: .92rem; position: relative; float: left; background: #fff; box-sizing: border-box; padding: .04rem; border-radius: 50%;}
.t_join dd.dd_box .l_head>img{border:solid .04rem #fff; box-sizing: border-box; display: block;}
.t_join dd.dd_box .r_info{margin-left: 1.7rem; height: .92rem; padding-bottom: .26rem;}
.t_join dd.dd_box .r_info h3{font-size: .32rem; color: #000; line-height: .56rem;}
.t_join dd.dd_box .r_info p{color: #999; font-size: .24rem; }
.t_join dd.dd_box:after{content: ''; display: block; margin-left: .7rem; height: .02rem; background: #EBEBED; }
.t_join dd.dd_box:last-child:after{display: none;}
.loading_tip{font-size: .24rem; color: #B2B2B2; text-align: center; padding: .4rem;}
.loading_tip img{width: 2rem;}
