
/*右侧店铺*/
.shopbox{width: 285px;background: #fff;padding: 30px 10px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; 

-o-box-sizing: border-box;}
.shopbox .shopimg{width: 142px;height: 142px;border: 1px solid #EAEAEA;border-radius: 50%;margin: 0 auto 0}
.shopbox .shopimg img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}
.shopbox .shopinfo{text-align: center;margin-top: 12px;}
.shopbox .shopinfo h2{display: inline-block;font-size: 18px;color: #333;}
.shopbox .shopinfo label{display: inline-block;width: 68px;height: 22px;background: url(../images/group/certify.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-top: -2px;}
.shopbox .shop_ul{text-align: center;}
.shopbox ul{display: inline-block;}
.shopbox ul li{height: 48px;width: 218px;box-shadow:0px 6px 15px 0px rgba(1,198,175,0.2);-webkit-box-shadow:0px 6px 15px 0px rgba(1,198,175,0.2);-moz-box-shadow:0px 6px 15px 0px rgba(1,198,175,0.2);-ms-box-shadow:0px 6px 15px 0px rgba(1,198,175,0.2);border-radius:25px;border: 1px solid #01C6AF;}
.shopbox ul li.go_shop{line-height: 50px;font-size: 16px;color: #fff;font-weight: bold;text-align: center;background: #01C6AF;margin-bottom: 20px;margin-top: 17px;}
.shopbox ul li.go_shop a{color: #fff;display: block;}
.shopbox ul li.go_call a{color: #01C6AF;}
.shopbox ul li.go_call{text-align: left;}
.shopbox ul li.go_call i{float: left;display: inline-block;width: 24px;height: 27px;background: url(../images/group/icall.png) no-repeat center center;background-size: cover;margin-top: 10px;margin-left: 26px;}
.shopbox ul li.go_shop:hover{background:#00cac2 }
.shopbox ul li.go_call:hover{background: #eefbfa}

.shopbox ul .shopCall{margin-left: 15px;text-align: center;float: left;}
.shopbox ul .shopCall h3{font-size: 18px;line-height: 1;margin-top: 7px;}
.shopbox ul .shopCall p{font-size: 14px;}
.footer {margin-top: 0;}
.list_left .list_ul li.empty {text-align: center; font-size: 17px; color:#8c8c91; padding-bottom: 50px;}
.empty img {width: 300px; margin: 50px auto 20px; display: block;}
.failed img{display: block;margin: 0 auto}

.com-list .loading{text-align: center;line-height: 100px;font-size: 20px;}