@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?kulzch");
  src: url("fonts/icomoon.eot?kulzch#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?kulzch") format("truetype"), url("fonts/icomoon.woff?kulzch") format("woff"), url("fonts/icomoon.svg?kulzch#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  display:block;width:17px;height:17px;background:url(../images/calendar/calendar_arrow_green.png) scroll no-repeat 0 0 transparent;overflow:hidden;cursor:pointer;outline:0}
.icon-angle-down {background-position:-17px 0}
.icon-angle-up:hover {background-position:0 -17px}
.icon-angle-down:hover {background-position:-17px -17px}

.cal-md,
.cal-hd,
.cal-title,
.cal-prev,
.cal-next,
.cal-bd,
.cal-week,
.cal-day,
.cal-dates,
.cal-date,
.cal-months,
.cal-month,
.cal-years,
.cal-year,
.cal-ft,
.cal-today {
  margin: 0;
  overflow: hidden;
  position: relative;
  z-index: 1; }

.cal-hd,
.cal-ft {
  box-sizing: border-box;
  height: calc(100% / 9); }

.cal-prev,
.cal-next,
.cal-date,
.cal-day,
.cal-month,
.cal-year {
  text-align: center; }

.cal-prev,
.cal-next,
.cal-year,
.cal-month,
.cal-date,
.cal-day {
  float: left; }

.cal-prev,
.cal-next,
.cal-year,
.cal-month,
.cal-date,
.cal-today,
.cal-time {
  cursor: pointer; }

.cal-md {
  background-color: #fff;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%; }

.cal-md,
.cal-switcher,
.cal-title,
.cal-next,
.cal-day,
.cal-today,
.cal-time,
.cal-months,
.cal-years,
.cal-ft-date,
.cal-ft-time {
  height: 100%; }
.cal-disabled{color: #686868!important;cursor: default;    opacity: .4;}
.cal-picked.cal-disabled{ color: #686868!important;cursor: default;    opacity: .4;}
.cal-date.cal-disabled:hover{background: #fff;color: #686868!important;cursor: default;    opacity: .4}
.cal-date.cal-disabled:hover .cal-text{color: #686868!important;}
.cal-bd {
  height: calc((100% / 9) * 7); }

.cal-week {
  height: 30px;
    border-bottom: solid 1px #f0f0f0; }

.cal-dates {
  height: calc((100% / 7) * 6); }

.cal-day,
.cal-date {
  width:57px;padding:0;border:none;vertical-align:middle;text-align:center;font-weight:400;line-height:14px }

.cal-date {
  height: 55px; }

.cal-month,
.cal-year {
  height: 25%;
  width: 25%; }

.cal-md-without-footer .cal-bd {
  height: calc((100% / 8) * 7); }

.cal-title,
.cal-prev,
.cal-next,
.cal-day,
.cal-date,
.cal-month,
.cal-year,
.cal-today,
.cal-time {
  display: table; }

.cal-text {
  display: table-cell;
  vertical-align: middle; }

.cal-festival-text,
.cal-lunar-text {
  bottom: 0;
  color: #999;
  font-size: 12px;
  margin: 0;
  padding: 5px;
  position: absolute;
  right: 0;
  z-index: 2; }

.cal-festival-text {
  color: #00c35a; }

.cal-hd {
   height: 34px;text-align: center;
    color: #fff;background: #01c6af;font-size: 14px;
    line-height: 24px;
}

.cal-title {
  color: #fff;
  font: normal 16px 'Arial', sans-serif;
	display: inline-block;
}


.cal-switcher {
  font-size: 22px;
  overflow: hidden;

  z-index: 2; }
.cal-switcher .cal-prev{position: absolute;top: 7px;left: 10px;}
.cal-switcher .cal-next{position: absolute;top: 0;right: 10px;}

.cal-year,
.cal-month,
.cal-date {
  color: #312e2f; height:55px}
  .cal-year:hover,
  .cal-month:hover,
  .cal-date:hover {
    background-color: #ffa63c;
    color: #fff!important; }


.cal-year-prev,
.cal-year-next,
.cal-month-prev,
.cal-month-next,
.cal-date-prev {
  background-color: #f8f8f8;
  color: #999!important; }
  .cal-year-prev:hover,
  .cal-year-next:hover,
  .cal-month-prev:hover,
  .cal-month-next:hover{
    background-color: #e8e8e8;
    color: #666; }

.cal-weekend {
  color: #ffa63c; }
.cal-dates .cal-weekend{color: #312e2f}
.cal-weekend .cal-lunar-text {
    color: #e24144; }
/*.cal-weekend:hover {color: #e24144; }*/

.cal-picked {
  background-color: #ffa63c!important;
  color: #fff!important;
  font-weight: bold!important; }
.cal-picked:hover {
  background-color: #ffa63c;
    color: #fff; }
.cal-picked .cal-festival-text,
.cal-picked .cal-lunar-text {
    color: #fff; }
/*.cal-picked.cal-current {
    background-color: #b0e16a; }
.cal-picked.cal-current:hover {
      background-color: #b0e16a; }*/
.cal-picked.cal-current .cal-festival-text,
.cal-picked.cal-current .cal-lunar-text {
      color: #fff; }

.cal-picked-range {
  background-color: #e1f2fa;
  color: #34a6f8;
  font-weight: normal; }
  .cal-picked-range:hover {
    background-color: #e1f2fa;
    color: #34a6f8; }

/*.cal-current {
  background-color: #00c35a;
  color: #fff; }
  .cal-current:hover {
    background-color: #00c35a;
    color: #fff; }*/
  .cal-current .cal-festival-text,
  .cal-current .cal-lunar-text {
    color: #fff; }

.cal-ft {
  border-top: 1px solid #e9ebee;
  font-size: 13px; }

.cal-ft-date {
  margin-right: 70px;
  text-align: center; }

.cal-ft-time {
  margin: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  z-index: 2; }

.cal-today,
.cal-time {
  text-align: center; }
  .cal-today:hover,
  .cal-time:hover {
    color: #34a6f8; }

.cal-hidden {
  display: none; }
