.wrap{width: 1200px; margin: 0 auto;}
a:hover{text-decoration: none;}
a{cursor: pointer}
.topInfo{margin-bottom: 0}
.bgfff{background: #fff;}
.bgfff-inner{-webkit-box-shadow: 0px 2px 16px 0px rgba(147,147,147,0.07);-moz-box-shadow: 0px 2px 16px 0px rgba(147,147,147,0.07);box-shadow: 0px 2px 16px 0px rgba(147,147,147,0.07);
}
.header{padding-bottom: 20px;margin-top: 13px; }
.header .logo {float: left;width: 230px;height: 64px;overflow: hidden;position: relative;}
.header .logo a {display: block;overflow: hidden;}
.header .logo h2 {float: left;line-height: 64px;font-size: 24px;color: #333;}
.header .logo img {max-height: 64px;max-width: 100%!important;position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;display:block}
.header .kefu{font-size: 22px;color: #1F1F1F;margin-top: 15px;}
.header .kefu p{font-size: 16px;}
@font-face {
  font-family: "Helvetica-Bold";
  src: url("../fonts/Helvetica-Bold.woff2") format("woff2"),
       url("../fonts/Helvetica-Bold.woff") format("woff"),
       url("../fonts/Helvetica-Bold.ttf") format("truetype"),
       url("../fonts/Helvetica-Bold.eot") format("embedded-opentype"),
       url("../fonts/Helvetica-Bold.svg") format("svg"),
       url("../fonts/Helvetica-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.header .kefu span{font-family: 'Helvetica-Bold'}
/*列表公用头部*/
.fixedwrap{height: 153px!important; margin: 25px 0 0!important;}
.fixedpane.fixed{height: 153px;}
.searchwrap{border:solid 2px #01C294;height:42px;background-color:#fff; float: left; margin: 7px 10px 50px 60px;border-radius: 4px}
.w1200 .searchwrap{width: 488px;background: #fff}
.fixedwrap .header{padding-bottom: 0;margin-top: 0}
.fixedwrap .header .logo{height: 67px;margin-top: 0;width: 240px;max-width:240px;}
.fixedwrap .header .logo img{height: auto;  max-height:67px;margin-right:0;}

.fixedwrap .search2 {margin:3px 88px 3px 3px;background: #fff;*zoom:1;}
.fixedwrap .search2 .type {float: left;width: 93px;position: relative;}
.fixedwrap .search2 .type a {font-size: 14px;color: #666;}
.fixedwrap .search2 .type dl {position: relative;}
.fixedwrap .search2 .type dl dt {height: 34px;text-align: center;}
.fixedwrap .search2 .type dl em {display: inline-block;width: 0;height: 0;border:5px solid transparent;border-top-color: rgb(184, 186, 194);vertical-align: middle;margin-left: 8px;transition: all .3s;}
.fixedwrap .search2 .type dl.hover em {-webkit-transform:rotate(180deg);transform:rotate(180deg);-webkit-transform-origin: center 2px;transform-origin: center 2px;}
.fixedwrap .search2 .type dd {display: none;position: absolute;top:25px;padding-top: 20px;left:-4px;width: 95px;}
.fixedwrap .search2 .type dl.hover dd {display: block;}
.fixedwrap .search2 .type dd a {display: block;line-height: 30px;padding-left: 15px;white-space: nowrap;position: relative;font-size: 12px;border-bottom:solid 1px #efefef;color:#999;background: #fff;border-left:1px solid #efefef;border-right: 1px solid #efefef }
.fixedwrap .search2 .type dd a.active span,.fixedwrap .search2 .type dd a:hover span {background: #fff;}
.fixedwrap .search2 .type dd a:hover{color: #333;background: #efefef}
.fixedwrap .search2 .type dd a:last-child{border-bottom:none;}

.fixedwrap .search2 .inputbox {position: relative;margin-left: 63px;overflow: hidden;}
.fixedwrap .search2 .inpbox {margin:0 10px;height: 34px;}
.fixedwrap .search2 .searchkey {width: 100%;height: 21px;margin:6px 0 7px;font-size: 14px;vertical-align: middle;}
.fixedwrap .search2 .searchkey ,.fixedwrap .search2 .searchkey:focus ,.fixedwrap .search2 .searchkey:active ,.fixedwrap .search2 .submit ,.fixedwrap .search2 .submit:focus ,.fixedwrap .search2 .submit:active {border:0;outline:0;background: none;}
.fixedwrap .search2 .hotkey {position: absolute;right: 15px;top:0;max-width:270px;display: none;}
.w1200 .fixedwrap .search2 .hotkey {display: block;}
.fixedwrap .search2 .hotkey a {display: inline-block;float: right;height: 21px;line-height: 20px;margin: 6px 0 0 7px;padding:0 12px;background: #f0f0f0;color: #fff;font-size: 14px;color: #999;white-space:nowrap;border-radius:10px;-webkit-transition: all 0.2s; transition: all 0.2s;}
.fixedwrap .search2 .hotkey.leave a {opacity:.5;}
.fixedwrap .search2 .hotkey a:hover {color: #fff;}
.fixedwrap .search2 .submit {position: absolute;right:0;top:0;display: block;width: 88px;height: 100%;text-align: center;font-size: 16px;color: #fff;cursor: pointer;}

.searchwrap .searchkeys a{font-size:12px;color:#999;margin-right:10px;}
.searchwrap .searchkeys{    max-width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.fixedwrap .search2 .subbox{width: 80px;background: #01C294;position: absolute;top:0;right:0;height: 42px;    -webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.fixedwrap .search2 .subbox:hover{background: #01CABF;}
.fixedwrap .search2 .submit{width:80px;font-size: 15px;}
.fixedwrap .search2 .subbox i.isearch{position:absolute;top:50%;left:22px;margin-top:-8px;display: block;width:16px;height:16px;background: url(../images/topIcon.png) no-repeat;background-position: 0 0;}

.infobox{float: left;margin: 7px 0 0 0;}
.infobox a.fbbox{position:relative;width: 133px;height: 46px;line-height: 46px;text-align: center;float: left;font-size: 16px;color:#fff;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.infobox a.fbbox{background: #01CABF;border-radius: 4px}

.infobox a.fbbox i.ruzhu{display: inline-block;width:18px;height:21px;vertical-align: middle;margin-top: -1px;margin-right:7px;background: url(../images/ruzhu_head.png) no-repeat 100% center;}

.infobox a span{display: inline-block;}
.header .kefu{margin-top: 0;font-size: 22px;color: #1F1F1F;font-weight: bold;}
.header .kefu p{font-size: 16px;font-weight: normal;}
/*搜索关键词*/
.fixedwrap .search{margin: 3px 88px 6px 3px}
.fixedwrap .search .type dl dt{line-height: 38px}
.searchkey{clear:both;}

.searchkey::placeholder{color: #a0a0a0}
.searchkey a{font-size: 12px;margin:10px 7px;color: #999}
.searchkey a:hover{color: #FF653B}
.searchkeys span{font-size: 12px;margin:10px 7px;color: #999}

.navbar{float: left; margin-top: 22px;margin-left: 60px;font-size: 0}
.navbar a{font-size: 16px; padding: 12px 0 37px; margin-right: 36px;}
.navbar a:last-child{margin-right: 0}
.navbar a.currpage{border-bottom: 3px solid #00CAC4;color: #00C9C2}
.navbar a:hover{color: #00C9C2}
.r-call{margin-top: 20px;}
.r-call i{display: inline-block;background: url(../images/call.png) center center no-repeat;background-size: cover;width: 28px;height: 28px;margin-right: 8px;vertical-align: middle;margin-top: -5px;}
.r-call span{font-size: 22px;color: #FCBE1B}
/*导航*/
.nav-con{width: 100%;height: 50px;margin:0 auto;overflow: hidden;}
.n-linear{background: -moz-linear-gradient( 0deg, rgb(1,193,143) 0%, rgb(0,204,205) 100%);background: -webkit-linear-gradient( 0deg, rgb(1,193,143) 0%, rgb(0,204,205) 100%);background: -ms-linear-gradient( 0deg, rgb(1,193,143) 0%, rgb(0,204,205) 100%);filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = #01C18F, endColorstr = #00CCCD);}
.nav-con ul li{float: left;position: relative;margin-right: 4px;}
.nav-con ul li a{display:block; padding: 0 23px;color:#fff;font-size: 16px;height: 50px;line-height: 50px;}
.nav-con ul li a:hover{text-decoration: none;}
.nav-con ul li:hover,.nav-con li.current,.nav-con li.active{background-color: rgba(0, 0, 0,.1);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#2bf5f5f5,endColorstr=#2bf5f5f5);-webkit-transition:0.5s all ease;-moz-transition:0.5s all ease;-ms-transition:0.5s all ease;-o-transition:0.5s all ease;transition:0.5s all ease;}


/*面包屑*/
.crumbs{height: 52px;line-height: 52px;}
.crumbs .cont{font-size: 14px;color:#333;text-align: left;}
.crumbs .cont span{margin-left: 3px;margin-right: 3px;display: inline-block;}
.crumbs .cont a {color:#333;display: inline-block;}
.crumbs .cont a.green_a{color: #01C6AF}
.crumbs .cont a:hover{color:#01C6AF;}
.crumbs .cont s {float: left;margin: 21px 10px 0; width: 5px; height: 9px; overflow: hidden; background-image: url('../images/listSprite1.png'); background-repeat: no-repeat;background-position: -76px -43px;}
/*分页*/
.pagination {padding: 0; text-align: center; line-height: 38px; font-size: 14px; color: #666; margin-top: 30px;}
.pagination li {display: inline-block; margin-right: 5px; background-color:#fff;border-radius: 3px;border: 1px solid #E5E5E5}
.pagination li.page_disabled {display: none;}
.pagination li a, .pagination li span {display: block; padding: 0 15px;color:#666;}
.pagination li a:hover ,.pagination li.page_current span {background: #01C6AF; color: #fff;border-color: #01C6AF}
.pagination li.page_more span {background: #fff;color: #666; cursor: default;}
.pagination .page_info {display: none;}

.settlement.fixed{position: fixed;top: 180px;}
/**/
.footer{margin-top: 0}
