@charset "utf-8";


/* 幻灯 */
.slide {position: relative; width: 563px; height: 345px;}
#slide_big {position: relative; z-index: 1; overflow: hidden; width: 460px; height: 345px;background: rgba(0,0,0,0.1)}
#slide_big .loading {position: absolute;left:0;top:0;width: 100%;height: 100%;background-color: #fff;background-image:url(../images/loading.gif);background-position: center center;background-repeat:no-repeat;opacity:.4;filter:alpha(opacity=40);}
.big-item {position: absolute;left:0;top:0;width: 100%;height: 100%;display: none;}
.big-item .big-pic {height: 340px; text-align: center; line-height: 340px;}
.big-item .big-pic i {display: inline-block; height: 100%; vertical-align: middle;}
.big-item img {width: 100%; height: 100%; display: inline; z-index: 0; vertical-align: middle; -ms-interpolation-mode: bicubic;object-fit: cover}



#slidebtn_prev , #slidebtn_next {position: absolute;top:50%;margin-top: -30px;width: 30px;height: 60px;opacity:0;filter:alpha(opacity=0);transition:opacity .3s;-webkit-transition:opacity .3s;}
.slide:hover #slidebtn_prev, .slide:hover #slidebtn_next {opacity:1;filter:alpha(opacity=100);}
#slidebtn_prev {left:0;background-image: url(../images/bigPrev.png);background-repeat: no-repeat;z-index: 10;}
#slidebtn_next {right:103px;background-image: url(../images/bigNext.png);background-repeat: no-repeat;z-index: 10;}



#slide_small {position: absolute;width: 96px;background: #fff;overflow: hidden;padding-bottom:  37px;top: 0;right: 0}
#slide_small .spbox {width: 96px;overflow: hidden;height: 310px;}
.picsmall {position: relative;}
.picsmall a {display: block;float: left;margin-bottom: 5px;}
.picsmall img {display: block;width:96px;height: 72px;box-sizing: border-box;border:2px solid #fff;}
.picsmall .active img {border-color: #01C6AF;}



#slidebtn_prev2 , #slidebtn_next2 {position: absolute;bottom: 0;width: 28px;height: 28px;cursor: pointer;}
#slidebtn_prev2{left:13px;background:#fff url(../images/litPrev.png) no-repeat center center;}
#slidebtn_next2{right:7px;background:#fff url(../images/litNext.png) no-repeat center center;}

