

/*列表*/
.class_wrap{margin-top: 24px; padding-bottom: 40px;}
.main_con{margin-top: 20px;}

/*列表左*/
.list_left{width: 892px;float: left;}
.list_left .list_ul li{background: #fff;margin-bottom: 20px;position: relative;}
.list_left .list_ul li:hover{box-shadow:0px 6px 21px 0px rgba(163,163,163,0.17);-webkit-box-shadow:0px 6px 21px 0px rgba(163,163,163,0.17);-ms-box-shadow:0px 6px 21px 0px rgba(163,163,163,0.17);-moz-box-shadow:0px 6px 21px 0px rgba(163,163,163,0.17)}
.list_left .list_ul li a{display: block;}
.list_left .left_b{float: left;width: 285px;height: 214px;position: relative;overflow: hidden;}
.list_left .left_b a{display: block;width: 285px;height: 214px;position: relative;overflow: hidden;}
.list_left .left_b img{width: 100%;height: 100%;object-fit: cover;display: block;}
.list_left .top_tag{position: absolute;left: 0;top: 0;z-index: 2;font-size: 0}
.list_left .left_b span{display: inline-block;height: 28px;line-height: 28px;padding: 0 8px;font-size: 14px;color: #fff;}
.list_left .left_b span.stCity{background: #FCC126}
.list_left .left_b span.stDays{background:#4C5A65 }

.list_left .mid_b{float: left;margin-left: 16px;position: relative;width: 410px;height: 214px;}
.list_left .mid_b h1.t_name{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;font-size: 20px;color: #4C5A65;line-height: 26px;max-width: 380px;margin-top: 18px;}
.list_left .mid_b h1.t_name a{color: #4C5A65;font-weight: bold;}
.list_left .mid_b .t_property{font-size: 0;margin-top: 12px;height: 22px;overflow: hidden;}
.list_left .mid_b .t_property span{display: inline-block;margin-right: 5px;height: 22px;line-height: 22px;padding: 0 8px;background: rgba(1,198,175,.15);border-radius: 2px;font-size: 14px;color: #01C6AF}

.list_left .mid_b .tInfo{position: absolute;top: 143px;}
.list_left .mid_b dl{font-size: 0;margin-bottom: 13px;}
.list_left .mid_b dl dt{display: inline-block;width: 18px;height: 18px;vertical-align: middle;margin-top: -13px;}
.list_left .mid_b dl.t_time dt{background: url(../images/group/t_time.png) no-repeat center center;background-size: cover;}
.list_left .mid_b dl.t_group dt{background: url(../images/group/t_group.png) no-repeat center center;background-size: cover;}
.list_left .mid_b dl dd{display: inline-block;font-size: 14px;color: #A0A0A0;margin-left: 4px;line-height: 18px;}

.list_left .right_b{float: right;width: 180px;text-align: center;border-left: 1px solid #eee;height: 174px;margin-top: 20px;}
.list_left .t_price{font-size: 14px;color: #999;margin-top: 20px;}
.list_left .t_price span{color: #FF6600}
.list_left .t_price em{font-size: 36px;}
.list_left .t_detail{display: inline-block;width: 130px;height: 42px;line-height: 42px;text-align: center;font-size: 16px;color: #fff;background: #FF6600;border-radius: 3px;margin-top: 10px;position: relative;z-index: 2}
.list_left .t_detail:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);background-color: rgba(0, 0, 0,.1); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#19000000, endcolorstr=#19000000);}
.list_left .t_detail a{color: #fff;position: relative;z-index: 2}

/*猜你喜欢*/
.like_wrap{padding: 30px 0;background: #fff}
.like_wrap .topTitle h2{display: inline-block;font-size: 24px;font-weight: bold;}
.like_wrap .topTitle a{display: none;float: right;font-size: 14px;color: #01C6AF}
.like_wrap .topTitle a i{display: inline-block;width: 14px;height: 14px;background: url(../images/fresh.png) no-repeat center center;background-size: cover;margin-right: 5px;    vertical-align: middle;
    margin-top: -3px;}
.com-list li{width: 224px; float: left; margin-top: 20px; position: relative;margin-right: 20px;background: #fff;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;}
.com-list li:hover{-webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);-moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}
.com-list li:last-child{margin-right: 0}
.com-list li>a{display: block; width: 224px;margin: auto;}
.com-list .labshow{font-size: 14px; color: #fff; height: 28px; line-height: 28px; background-color: #FDC224; top: 20px; left: 0; position: absolute;text-align: center;padding: 0 8px;z-index: 2}  /*标签样式*/
.com-list li .videoshow {position: relative;}
.com-list li .videoshow:after{content: '';display: block; width:40px; height: 40px; background-image: url(../images/index/tj_video.png); background-size: cover; position: absolute; left: 50%; top: 50%; margin-left: -20px; margin-top: -20px;z-index: 2}
.com-list .recimgshow{width:100%; height: 169px;  overflow: hidden;position: relative;background:#F5F7F8 }
.com-list .recimgshow img{width: 100%;height: 100%;object-fit: cover;display: block;}

.com-list .rectextshow{padding: 4px 15px 14px;border: 1px solid #eee;border-top: none}
.com-list .rectextshow h2{font-size: 16px;  width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin-bottom: 5px;color: #333;}
.com-list .rectextshow p.price{font-size: 14px; color: #a0a0a0; float: left;}
.com-list .rectextshow p.price span{color: #FF6600; }
.com-list .rectextshow p.price span em{font-size: 18px; }
.com-list .rectextshow p.attr_posi{float: right; font-size: 14px; color:#a0a0a0 ;margin-top: 4px;}

.footer {margin-top: 0;}
.list_left .list_ul li.empty {text-align: center; font-size: 17px; color:#8c8c91; padding-bottom: 50px;}
.empty img {width: 300px; margin: 50px auto 20px; display: block;}
.failed img{display: block;margin: 0 auto}

.com-list .loading{text-align: center;line-height: 100px;font-size: 20px;}

/*酒店列表 修改样式*/
.list_left .mid_b dl.t_addr dt{background: url(../images/attr_posi.png) no-repeat center center;background-size: cover;margin-top: -16px;}
.list_left .mid_b dl.t_addr span{display: inline-block;max-width: 300px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.list_left .mid_b dl.t_addr a{display: inline-block;color: #218FF4;margin-left: 6px;overflow: hidden;}
.list_left .hotel-list .mid_b h1.t_name{display: block;max-width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.list_left .hotel-list .mid_b .tInfo{top: 102px;}
.list_left .hotel_has{font-size: 0;position: absolute;bottom: 20px;height: 30px;overflow: hidden;}
.list_left .hotel_has i{display: inline-block;width: 27px;height: 30px;background-image: url(../images/hotel/icon-last.png); background-repeat: no-repeat;margin-right: 17px;}
.list_left .hotel_has i.wifi{background-position: 0 -3px}
.list_left .hotel_has i.mianfeiwifi{background-position: 0 -35px;}
.list_left .hotel_has i.tingche{background-position: 0 -68px;}
.list_left .hotel_has i.mianfeitingche{background-position: 0 -100px;}
.list_left .hotel_has i.canting{background-position: 0 -196px;}
.list_left .hotel_has i.daichongwu{background-position: 0 -228px;    width: 31px;}
.list_left .hotel_has i.jianshenfang{background-position: 0 -260px;}
.list_left .hotel_has i.huiyishi{background-position: 0 -292px;width: 30px;}
.list_left .hotel_has i.jiejifuwu{background-position: -4px -325px;width: 25px;}
.list_left .hotel_has i.mianfeijieji{background-position: 0 -394px;}
.list_left .hotel_has i.youyongchi{background-position: 0 -357px;}
.list_left .hotel_has i.xinglijicun{background-position: 0 -427px;}

.hotHotel{padding: 0}
.hotHotel .newr_tit{margin-left:15px;margin-right: 15px; }
.hotHotel ul{padding: 8px 0}
.hotHotel li{}
.hotHotel li:hover{background: #f2f2f2}
.hotHotel li a{display: block;padding: 8px 15px}
.hotHotel li .left_img{width: 90px;height: 67px;position: relative;float: left;overflow: hidden;}
.hotHotel li .left_img img{width: 100%;height: 100%;object-fit: cover;display: block;}
.hotHotel li .right_b{margin-left:100px;height: 67px; }

.hotHotel li .hotTitle{font-size: 14px;max-width: 160px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-top: 4px}
.hotHotel li .hotInfo{margin-top: 10px;overflow: hidden;}
.hotHotel li p.hotPrice{font-size: 12px; color: #a0a0a0; float: left;}
.hotHotel li p.hotPrice span{color: #FF6600;font-size: 16px;  }
.hotHotel li p.hotAddr{float: right; font-size: 12px; color:#a0a0a0 ;    max-width: 76px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-top: 2px;}
.hotHotel li p.hotAddr i{display: inline-block;width: 18px;height: 18px;vertical-align: middle;background: url(../images/attr_posi.png) no-repeat center center;background-size: cover;margin-top: -3px;}