.cal-date:not(.cal-disabled) .cal-text{display: inline-block;color: #333;padding-top: 13px;line-height: 1;font-size:12px;}
.cal-date:not(.cal-disabled) .hprice{color: #f60;    font-size: 12px;}
.cal-date:not(.cal-disabled):hover .cal-text{color: #fff}
.cal-date:not(.cal-disabled):hover .hprice{color: #fff}
.cal-picked.cal-disabled .cal-text{color: #686868!important}