
.main_wrap{background: #F7F4F8;padding-bottom: 20px}
.order-progress{margin-top: 40px}
.main_con{margin-top: 37px;}


/*订单进度*/
.order-progress ul{position: relative;}
.order-progress li{float: left;width: 286px;height: 51px;text-align: center;line-height: 51px;font-size: 18px;color: #fff}
.order-progress li.has-go{background: url(../images/hasOrder.png) no-repeat center center;background-size: cover;}
.order-progress li.no-go{background: url(../images/noOrder.png) no-repeat center center;background-size: cover;color: #999}
.order-progress li.now-go{width: 385px;height: 65px;background: url(../images/nowOrder.png) no-repeat center center;background-size: cover;line-height: 65px;}
.order-progress li em{display: inline-block;width: 26px;height: 26px;border-radius: 50%;text-align: center;line-height: 26px;background: #fff;color: #46D7B0;font-size: 18px;margin-right: 12px;}
.order-progress li.grey em{background: #999;color: #fff;}

.order-progress li.secd_li{position: absolute;left: 266px;top: -7px;}
.order-progress li.third_li{position: absolute;left: 638px;}
.order-progress li.four_li{position: absolute;left: 910px;}
/*订单详情*/
.order_left{width: 800px;float: left;background: #fff;box-shadow:0px 6px 13px 0px rgba(163,163,163,0.1);-webkit-box-shadow:0px 6px 13px 0px rgba(163,163,163,0.1);-ms-box-shadow:0px 6px 13px 0px rgba(163,163,163,0.1);-moz-box-shadow:0px 6px 13px 0px rgba(163,163,163,0.1);}
.order_left .left_con{padding: 20px 20px 0;}
.order_left .order_top{background: #F5F5F5;}
.order_left .order_top i.leftIcon{width: 50px;height: 50px;background: #D2F4EB url(../images/hotel-order.png) no-repeat center center;background-size: 30px;float: left;}

.order_left .order_top h2{margin-left:65px;line-height: 50px;font-size: 20px;font-weight: bold; height: 50px}
.order_left .order_top h2 em{font-size: 14px;color: #999;margin-left: 10px;}
.order_left .order_con{padding-left: 65px;padding-top: 24px;}
.order_left .order_con h3.orderTitle{font-size: 18px;margin-top: 30px;}
.order_left .order_con dl{margin-top: 20px;font-size: 0;}
.order_left .order_con dl dt{display: inline-block;font-size: 14px;margin-right: 10px;vertical-align: top;}
.order_left .order_con dl dd{display: inline-block;font-size: 14px;}
.order_left .order_con dl.start-time{position: relative;}
.order_left .order_con dl.start-time dt{line-height: 36px;}
.order_left .order_con dl.start-time dd{position: relative;}
.order_left .order_con dl.start-time dd.tip-dd{font-size: 14px;color: #333;margin-left: 10px;margin-right: 10px;}
.order_left .order_con dl.start-time dd.tip-dd2{font-size: 12px;color: #333;margin-left: 16px;}
.order_left .order_con dl.start-time dd input{line-height: 36px;width: 154px;height: 34px;border:1px solid #ccc;padding-left: 6px;position: relative;    outline: none;cursor: pointer}
.order_left .order_con dl.start-time i.time-icon{display: inline-block;width: 19px;height: 15px;background:  url(../images/time-icon.png) no-repeat center center;background-size: cover;position: absolute;left: 132px;top: 11px;cursor: pointer}
.order_left .order_con dl.start-time span.week{position: absolute;left: 96px;font-size: 14px;color: #999;top: 7px;}
/*酒店预订时新增样式*/
.order_left dl.roomType{padding-bottom: 10px;}
.order_left dl.roomType dd{font-weight: bold;}
.order_left dl.roomNum span{float: left;width: 48px;height: 28px;text-align: center;line-height: 30px;border: 1px solid #ddd;margin-right: 10px;cursor: pointer;}
.order_left dl.roomNum span.checked{border: 1px solid #FF7800;background: url(../images/hotel-checked.png) no-repeat top right;background-size:17px; }

.order_left dl dd.detail_all{font-size: 18px;color: #FF6600}

/*预订人信息*/
.order_left .order_top.orPeople{margin-top: 65px;margin-bottom: 30px;}
.order_left .order_top.orPeople i.leftIcon{background: #D2F4EB url(../images/peo-icon.png) no-repeat center center;background-size: 30px;}
.order_left .peo_con{padding-left: 65px;}

.order_left .peo_con dl{margin-top: 20px;font-size: 0;}

.order_left .peo_con dl dt{display: inline-block;font-size: 14px;margin-right: 10px;vertical-align: top;line-height: 36px;}
.order_left .peo_con dl dt em.star{color: #FF6600;margin-right: 3px;}
.order_left .peo_con dl dd{display: inline-block;font-size: 14px;}
.order_left .peo_con dd input{background: none;border:1px solid #ccc;-webkit-appearance:none;height: 34px;line-height: 36px;padding-left: 10px;width: 182px;}
.order_left .peo_con dd input::-webkit-input-placeholder {color: #A0A0A0;}
.order_left .peo_con dd input:-moz-placeholder {color: #A0A0A0;}
.order_left .peo_con dd input:-ms-input-placeholder {color: #A0A0A0;}
.order_left .peo_con dl.peo_id input{width: 336px;}
.order_left .peo_con dd span.tip_span{color: #A0A0A0;margin-left: 12px;line-height: 36px;}
.order_left .peo_con dl .person input{margin-top: 10px; margin-right: 10px;}
.order_left .peo_con dl .person input.person_name{margin-top: 0;display: inline-block;}
.order_left .peo_con dl .person input.person_id{width: 254px;}
.order_left .submit_btn{margin-top: 58px;padding: 20px 0 28px;background: #F5F5F5;text-align: center;}
.order_left .submit_btn a{display: inline-block;width: 200px;height: 50px;text-align: center;line-height: 50px;background: #FF6600;border-radius: 3px;font-size: 18px;color: #fff;}
/*结算信息*/
.settlement {width: 380px;background: #fff;box-shadow:0px 6px 13px 0px rgba(163,163,163,0.1);-webkit-box-shadow:0px 6px 13px 0px rgba(163,163,163,0.1);-moz-box-shadow:0px 6px 13px 0px rgba(163,163,163,0.1);-ms-box-shadow:0px 6px 13px 0px rgba(163,163,163,0.1);position: absolute;margin-left: 820px;}

.hotelDetail .hotelImg{width: 380px;height: 290px;position: relative;overflow: hidden;}
.hotelDetail .hotelImg img{width: 100%;height: 100%;object-fit: cover;display: block;}
.hotelDetail .hotelInfo{padding: 16px 20px 20px;}
.hotelDetail .hotelInfo h2{font-size: 18px;line-height: 24px;}
.hotelDetail .hotelInfo h3{font-size: 14px;margin-top: 35px;}
.hotelDetail .hotelInfo p.addrInfo{font-size: 14px;color: #A0A0A0;margin-top: 12px;}
.hotelDetail .hotelInfo p.addrInfo i{display: inline-block;width: 18px;height: 18px;background: url(../images/attr_posi.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-top: -6px;}
.hotelDetail .otherInfo dl{float: left;width: 50%;margin-top: 10px;font-size: 0}
.hotelDetail .otherInfo dl dt{color: #999;display: inline-block;font-size: 12px;}
.hotelDetail .otherInfo dl dd{display: inline-block;font-size: 12px;}
.settlement .priceAll{padding: 23px 20px 23px 17px;background: #FFEFE5;border-top: 1px dashed rgba(255,102,0,.3)}
.settlement .priceAll span{font-size: 20px;color: #FF6600;}

/*国际手机号*/
.order_left .peo_con dd{position: relative;}
.order_left .peo_con .inpbdr{border: 1px solid #ccc;height: 34px;position: relative;display: inline-block;}
.order_left .peo_con .inpbdr .areaCode{border-right: 1px solid #ccc;width: 70px;text-indent: 16px; font-size: 14px;text-align: left;z-index: 10;line-height: 36px;bottom: 1px;top: 1px;left: 1px;}
.order_left .peo_con .inpbdr .areaCode s{right: 12px}
.order_left .peo_con input#tel{border: none;padding-left: 80px;margin: 0;height: 34px;line-height: 34px;}
.order_left .peo_con .areaCode_wrap{left: 0;width: 100%;top: 36px;}
/*美化chrome滚动条*/
::-webkit-scrollbar {width:7px;height:7px;-webkit-border-radius:5px;}
::-webkit-scrollbar-track-piece {-webkit-border-radius:5px;}
::-webkit-scrollbar-thumb:vertical {background-color:rgba(0,0,0,.10);-webkit-border-radius:5px;}
::-webkit-scrollbar-thumb:horizontal {background-color:rgba(0,0,0,.10);-webkit-border-radius:5px;}
::-webkit-scrollbar:hover {}
::-webkit-scrollbar-thumb:hover {background-color:rgba(0,0,0,.15);}

/*日历修改样式*/
#range-pick{display: none;position: absolute;top: 40px;left:80px;width: 399px;z-index: 99;background:#FFF;-ms-box-shadow:-2px 2px 5px #b6b6b6,2px 2px 5px #b6b6b6;box-shadow:-2px 2px 5px #b6b6b6,2px 2px 5px #b6b6b6;font:12px/20px Arial,'Microsoft YaHei',sans-serif,SimSun;color:#666;-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(color=#b6b6b6,direction=90,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#b6b6b6,direction=180,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#b6b6b6,direction=270,strength=3)"}

.cal-hd .cal-title .cal-text{display: inline-block;line-height: 34px;}
.cal-switcher .cal-prev{display: none}
.cal-data-now .cal-text,.cal-date-next .cal-text,.cal-date-prev .cal-text{display: inline-block;color: #666;padding-top: 13px;line-height: 1;font-size:12px; }
.cal-date .hprice{font-size: 12px;color: #f60;    font: 12px/20px Arial,'Microsoft YaHei',sans-serif,SimSun;}
.cal-date:hover .cal-text,.cal-date:hover .hprice{color: #fff}
.cal-picked .cal-text,.cal-picked .hprice{color: #fff!important}

.cal-picked-range.cal-date{background-color: #ffa63c;color: #fff;font-weight: bold;}
.cal-disabled span.cal-text{color: #ccc}
.cal-date-next,.cal-date-prev{background: #eee}
.cal-date-next .hprice,.cal-date-prev .hprice{color: #666}
.tou-mask{width: 100%; height: 100%; background: rgba(0,0,0,.6); position: fixed; top: 0; left: 0;z-index: 1; display: none;opacity: 0;}
