.picFocus{ margin:0 auto;   position:relative;  overflow:hidden;  zoom:1; float: left;  }
.picFocus .bd {float: left;width:460px;}
.picFocus .bd li{ vertical-align:middle; }
.picFocus .bd img{ width:460px; height:347px; display:block;object-fit: cover  }
.picFocus .hd{  padding-top:5px;  overflow:hidden; float: left; max-width: 228px;}
.picFocus .hd ul{  overflow:hidden; zoom:1; }
.picFocus .hd ul li{ padding-top:5px;  margin-left:10px;}
.picFocus .hd ul li.left_li{float:left;}
.picFocus .hd ul li img{ width:100px; height:74px; border:2px solid #fff; cursor:pointer; }
.picFocus .hd ul li.on img{ border-color:#01C6AF;  }

.info_ticket dl dt{color: #999; display: flex; align-items: center; justify-content: space-between;}
.info_ticket dl dd{color: #333; min-height: 100px;box-sizing: border-box; display: flex; align-items: center; justify-content: space-between;}
/* .info_ticket dl dd.noimg .room_info{padding-left: 20px;} */
.info_ticket dl .room_info{width: 50%; float: left; box-sizing: border-box;}
.info_ticket dl .room_info label{padding: 0;}
.info_ticket dl dt label{box-sizing: border-box;}
.info_ticket dl .room_info  .room_detail em{color: #999; font-size: 14px; margin-right: 4px;}
.info_ticket dl .room_info .rimg{width: 120px; height: 90px; background: url(../images/noimg.png) no-repeat center/cover; float: left; margin-right: 14px; position: relative;}
.info_ticket dl .room_info .rimg img{display: block; width: 100%; height: 100%; object-fit: cover; cursor: pointer;}
.info_ticket dl dd>em,.info_ticket dl dt>em{width: 11%;text-align: center; }
.info_ticket dl .room_info .rimg em{position: absolute; right: 0; bottom: 0; line-height: 24px; min-width: 36px; color: #fff; background-color: rgba(0,0,0,.6); text-align: center;}
.room_right{float: right;}

.detail_right{float: left;margin-left: 20px;}
h2.list_title{max-width: 440px;}
.topDiv .lab_box{max-width: 376px;height: 22px;overflow: hidden;}
.otherInfo dl dd{max-width: 370px;}
.detail_right .buy{margin-top: 32px}
.detail_right .hotel_has{font-size: 0;height: 30px;overflow: hidden;margin-top: 30px;max-width: 400px;}
.detail_right .hotel_has i{display: inline-block;width: 27px;height: 30px;background-image: url(../images/hotel/icon-last.png); background-repeat: no-repeat;margin-right: 17px;}
.detail_right .hotel_has i.wifi{background-position: 0 -3px}
.detail_right .hotel_has i.mianfeiwifi{background-position: 0 -35px;}
.detail_right .hotel_has i.tingche{background-position: 0 -68px;}
.detail_right .hotel_has i.mianfeitingche{background-position: 0 -100px;}
.detail_right .hotel_has i.canting{background-position: 0 -196px;}
.detail_right .hotel_has i.daichongwu{background-position: 0 -228px;    width: 31px;}
.detail_right .hotel_has i.jianshenfang{background-position: 0 -260px;}
.detail_right .hotel_has i.huiyishi{background-position: 0 -292px;width: 30px;}
.detail_right .hotel_has i.jiejifuwu{background-position: -4px -325px;width: 25px;}
.detail_right .hotel_has i.mianfeijieji{background-position: 0 -394px;}
.detail_right .hotel_has i.youyongchi{background-position: 0 -357px;}
.detail_right .hotel_has i.xinglijicun{background-position: 0 -427px;}

/*酒店设施*/
.device{/*height:86px;overflow:hidden;*/margin-top:25px;margin-bottom:30px}
.device dl{float: left;margin-left: 4px;margin-right:10px;text-align:center;width:84px;margin-bottom: 10px;}
.device dd{font-size: 14px;color: #333;text-align: center;margin-top: 10px;}
.device dl dt{display:block;width: 56px;height: 56px;background-image: url(../images/hotel/hotel-info.png); background-repeat: no-repeat;margin:0 auto}
.device dl.nosupply dd {color:#ccc}

#hotel-details .wifi.free .wifi-icon {background-position:0 -537px}
#hotel-details .wire.supply .wire-icon {background-position:-12px -332px}
#hotel-details .wire.nosupply .wire-icon {background-position:-92px -332px}
#hotel-details .freewire.supply .freewire-icon {background-position:-12px -412px}
#hotel-details .freewire.nosupply .freewire-icon {background-position:-92px -412px}
#hotel-details .wire.free .wire-icon {background-position:-70px -537px}

.device dl dt.wifi {background-position:-12px -12px}
.device dl dt.mianfeiwifi{background-position:-12px -92px}
.device dl dt.tingche {background-position:-12px -172px}
.device dl dt.mianfeitingche {background-position:-12px -252px}
.device dl dt.jiejifuwu {background-position:-172px -332px}
.device dl dt.mianfeijieji {background-position:-333px -331px}
.device dl dt.youyongchi {background-position:-172px -412px}
.device dl dt.canting {background-position:-172px -12px}
.device dl dt.xinglijicun {background-position:-333px -12px}
.device dl dt.jianshenfang {background-position:-172px -172px}
.device dl dt.huiyishi {background-position:-172px -252px}
.device dl dt.daichongwu {background-position:-172px -92px}


/*附近酒店*/
.listr_hotel .newr_tit{font-size: 24px;    padding: 13px 0 12px;}
.hotel-list li{width: 285px; margin-bottom: 20px; position: relative;background: #fff;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;}
.hotel-list li:hover{-webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);-moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}
.hotel-list li>a{display: block; width: 285px;margin: auto;}

.hotel-list .top_b{width: 285px;height: 214px;position: relative;overflow: hidden;}
.hotel-list .top_b a{display: block;width: 285px;height: 214px;position: relative;overflow: hidden;}
.hotel-list .top_b img{width: 100%;height: 100%;object-fit: cover;display: block;}

.hotel-list .bottom_b{padding: 10px 16px 12px;}
.hotel-list .bottom_b h1.t_name{font-size: 16px;color: #333;line-height: 26px;max-width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.hotel-list .bottom_b .t_property{font-size: 0;margin-top: 8px;height: 22px;overflow: hidden;}
.hotel-list .bottom_b .t_property span{display: inline-block;margin-right: 5px;height: 22px;line-height: 22px;padding: 0 8px;background: rgba(1,198,175,.15);border-radius: 2px;font-size: 14px;color: #01C6AF}

.hotel-list .bot_other{margin-top: 10px;}
.hotel-list .t_price{font-size: 14px;color: #999;float: left;}
.hotel-list .t_price span{color: #FF6600}
.hotel-list .t_price em{font-size: 18px;}
.hotel-list p.hotAddr{float: right; font-size: 14px; color:#a0a0a0 ;    max-width: 110px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-top: 2px;}
.hotel-list p.hotAddr i{display: inline-block;width: 18px;height: 18px;vertical-align: middle;background: url(../images/attr_posi.png) no-repeat center center;background-size: cover;margin-top: -5px;}
.mask_pop{position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0,0,0,.5); z-index: 1000; display: none;}
.imgPopShow{width: 620px; height: 517px; background-color: #fff; border-radius: 6px; position: fixed; left: 0; right: 0; top: 0; bottom: 0; margin: auto; z-index: 1001; box-sizing: border-box; padding: 20px; padding-top: 12px; display: none;}
.imgPopShow .head h2{color: #333; font-size: 18px; font-weight: bold; }
.imgPopShow .head .close_btn{display: block; position: absolute; top: 16px; right: 20px; width: 24px; height: 24px; background: url(../images/close.png) no-repeat center; background-size: 24px; }
.imgPopShow .slidebox{height: 432px;  margin-top: 20px; position: relative;}
.imgPopShow .slidebox ul{height: 100%; width: 100%;}
.imgPopShow .slidebox ul li{width: 100%; height: 432px; position: relative;}
.imgPopShow .slidebox ul li img{display: block; max-width: 100%; max-height: 100%; object-fit: cover; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;}
.imgPopShow .slidebox a{display: block; width: 36px; height: 60px; background: url(../images/arr_l.png) no-repeat center/cover; position: absolute; top: 0; bottom: 0; left: 0; margin: auto;}
.imgPopShow .slidebox a.next{background-image: url(../images/arr_r.png); left: auto; right: 0;}
.pageState{width: 50px; line-height: 24px; border-radius: 12px; background-color: rgba(0,0,0,.7); color: #999; font-size: 14px; text-align: center; position: absolute; right: 10px; bottom: 10px;}
.pageState span{color: #fff;}
