/*body, html{background: #209ff8;}*/
.tangram-suggestion-main{z-index: 2}
/*banner*/
.b-main{width: 100%;height: 590px;overflow: hidden;position: relative;}

.b-main .slideBox1 {height:590px;overflow:hidden;position: relative;}
.b-main .slideBox1 .slideobj {height:590px;}

.b-main .slideBox1 img{display: block; margin: 0 auto; width: auto;width:100%!important;height: 590px;}
.b-main .slideBox1 .hd{text-align:center;position:absolute;height:10px;line-height:10px;bottom:50px;left:0;right:0;}
.b-main .slideBox1 .hd ul{position:relative;display:inline;}
.b-main .slideBox1 .hd ul li{display:inline-block;width: 10px;height: 10px;-moz-border-radius: 50%;-webkit-border-radius: 5px;border-radius: 5px;margin: 0 5px;cursor: pointer;background:rgba(255,255,255,.7);}
.b-main .slideBox1 .hd ul li.on{background:rgba(255,255,255,1);width: 20px;}

.banner .ban_search{width:660px;height:140px;background:rgba(0,0,0,.5);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7f000000, endcolorstr=#7f000000);border-radius:4px;padding: 20px 18px 28px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;
	position: absolute;bottom: 186px;z-index: 2;left: 50%;margin-left: -330px;

}
.ban_search .search-top ul{font-size: 0;}
.ban_search .search-top li{display: inline-block;font-size: 18px;color: #FEFFFF;margin-right: 54px;}
.ban_search .search-top li a{color: #FEFFFF}
.ban_search .search-top li i{display: inline-block;width: 26px;height: 26px;margin-right: 5px;vertical-align: middle;
    margin-top: -4px;}
.ban_search li.hotel_li i{background: url(../images/index/hotel-w.png) center center no-repeat;background-size: cover;}
.ban_search li.strategy_li i{background: url(../images/index/strategy-w.png) center center no-repeat;background-size: cover;}
.ban_search li.store_li i{background: url(../images/index/store-w.png) center center no-repeat;background-size: cover;}
.ban_search li.rentcar_li i{background: url(../images/index/rentcar-w.png) center center no-repeat;background-size: cover;}

.ban_search li.hotel_li.active i{background: url(../images/index/hotel-g.png) center center no-repeat;background-size: cover;}
.ban_search li.strategy_li.active i{background: url(../images/index/strategy-g.png) center center no-repeat;background-size: cover;}
.ban_search li.store_li.active i{background: url(../images/index/store-g.png) center center no-repeat;background-size: cover;}
.ban_search li.rentcar_li.active i{background: url(../images/index/rentcar-g.png) center center no-repeat;background-size: cover;}

.ban_search li.hotel_li:hover i{background: url(../images/index/hotel-g.png) center center no-repeat;background-size: cover;}
.ban_search li.strategy_li:hover i{background: url(../images/index/strategy-g.png) center center no-repeat;background-size: cover;}
.ban_search li.store_li:hover i{background: url(../images/index/store-g.png) center center no-repeat;background-size: cover;}
.ban_search li.rentcar_li:hover i{background: url(../images/index/rentcar-g.png) center center no-repeat;background-size: cover;}

.banner .search_food{font-size: 0;height: 52px;border-radius: 4px;background: #fff;margin-top: 14px;}
.banner .search_food dl{float: left;height: 52px;line-height: 52px;}
.banner .search_food dl dd{display: inline-block;vertical-align: top;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.banner .search_food dl dd input{    border: 0;outline: 0;background: none;width: 520px;padding:0 20px;height: 52px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;font-size: 14px;color: #000}
.banner .search_food dl dd input::-webkit-input-placeholder { color: #999;}
.banner .search_food dl dd input::-moz-placeholder { color: #999;}
.banner .search_food dl dd input::-ms-input-placeholder { color: #999;}
.banner .search_food dl dd input::-moz-placeholder {color: #999;}

.banner .search_food .searchBtn{float: right;width: 100px;text-align: center;font-size: 14px;color: #fff;height: 52px;line-height: 52px;border: none;outline: none;border-radius:0px 4px 4px 0px;cursor: pointer;
    background: -moz-linear-gradient(89deg,rgba(0,202,197,1) 0%,rgba(1,193,144,1) 100%);
    background: -ms-linear-gradient(89deg,rgba(0,202,197,1) 0%,rgba(1,193,144,1) 100%);
    background: -webkit-linear-gradient(89deg,rgba(0,202,197,1) 0%,rgba(1,193,144,1) 100%);
    background: linear-gradient(89deg,rgba(0,202,197,1) 0%,rgba(1,193,144,1) 100%);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#00CAC5", endColorstr="#01C190", gradientType="1");
}
/*广告二*/
.advBox2{background: #F5F7F8;padding: 30px 0}
.advBox2 li{width: 280px;height: 190px;float: left;margin-left: 26px;}
.advBox2 li:first-child{margin-left: 0}
/*公共标题*/
.head_title{text-align: center;}
.head_title .com-title{font-size: 32px;font-weight: bold;}

.head_title2 .com-h3{font-size: 30px;color: #333;display: inline-block;font-weight: bold;}
.head_title2 a{display: inline-block;float: right;font-size: 16px;color: #999;margin-top: 10px;}
/*当季热门*/
.hot-wrap{padding: 40px 0 37px;}
.hotBox{margin-top: 30px;}
.hotBox .hot_l{float: left;position: relative;width: 532px;height: 450px;background: #F5F7F8;}
.hot_l .imgshow{width: 532px;height: 450px;overflow: hidden;position: relative;}
.hot_l .imgshow  img{width: 100%;height: 100%;object-fit: cover;-webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; transition: all .5s ease-in-out; -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1);}
.hot_l:hover img{-webkit-transform: scale(1.1); -moz-transform: scale(1.1); transform: scale(1.1);}

.hot_l .videoshow {position: relative;}
.hot_l .videoshow:after{content: '';display: block; width: 54px; height: 54px; background-image: url(../images/index/v_icon.png); background-size: cover; position: absolute; left: 50%; top: 50%; margin-left: -27px; margin-top: -27px;}
.hotBox .textshow{position: absolute;height: 64px;line-height: 64px;bottom: 0;left: 0;right: 0;background:rgba(0,0,0,.6);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99000000, endcolorstr=#99000000);overflow: hidden;animation: bottomFadeIn .3s ease-out;}

.hotBox .textshow h2{display: inline-block;padding:0 20px; font-size: 16px;color: #fff;max-width: 320px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.hotBox .textshow p{float: right;display: inline-block;background: #01CABF;font-size: 14px;color: #fff;padding: 0 20px;vertical-align: top;}
.hotBox .textshow p strong{font-size: 22px;}
.hot-wrap ul{float: left;width: 668px}
.hot-wrap ul li{float: left;margin-left: 10px;width: 323px;height: 220px;position: relative;}
.hot-wrap ul li:first-child{margin-bottom: 10px;}
.hot-wrap ul li:first-child+li{margin-bottom: 10px;}
.hot-wrap ul .imgshow{width: 323px;height: 220px;overflow: hidden;position: relative;}
.hot-wrap ul .imgshow img{width: 100%;height: 100%;object-fit: cover;-webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; transition: all .5s ease-in-out; -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1);}
.hot-wrap ul li:hover img{-webkit-transform: scale(1.1); -moz-transform: scale(1.1); transform: scale(1.1);}
.hot-wrap ul li .videoshow {position: relative;}
.hot-wrap ul li .videoshow:after{content: '';display: block; width:40px; height:40px; background-image: url(../images/index/tj_video.png); background-size: cover; position: absolute; left: 50%; top: 50%; margin-left: -20px; margin-top: -20px;}
.hot-wrap ul .textshow{height: 44px;line-height: 44px;}
.hot-wrap ul .textshow h2{max-width: 158px}
.hot-wrap ul .textshow p{font-size: 14px;}
.hot-wrap ul .textshow p strong{font-size: 18px;}
/* 景点推荐 精选酒店*/
.place-wrap{background: #F5F7F8;}
.com-wrap{padding: 40px 0;}
ul.com-list{float: left;width: 970px;}
.com-list li{width: 222px; float: left; margin-top: 20px; position: relative;margin-right: 20px;background: #fff;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;}
.com-list li:hover{-webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);-moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}
.hotel-list .recimgshow{background:#F5F7F8 }
.com-list li>a{display: block; width: 222px;margin: auto;}
.labshow{font-size: 14px; color: #fff; height: 28px; line-height: 28px; background-color: #FDC224; top: 20px; left: 0; position: absolute;text-align: center;padding: 0 8px;z-index: 2}  /*标签样式*/
.com-list li .videoshow {position: relative;}
.com-list li .videoshow:after{content: '';display: block; width:40px; height: 40px; background-image: url(../images/index/tj_video.png); background-size: cover; position: absolute; left: 50%; top: 50%; margin-left: -20px; margin-top: -20px;z-index: 2}
.recimgshow{width:100%; height: 167px;  overflow: hidden;position: relative;}
.recimgshow img{width: 100%;height: 100%;object-fit: cover;display: block;}

.rectextshow{padding: 8px 15px 14px;border: 1px solid #eee;border-top: none}
.rectextshow h2{font-size: 16px;  width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin-bottom: 5px;color: #333;}
.rectextshow p.price{font-size: 12px; color: #a0a0a0; float: left;}
.rectextshow p.price span{color: #FF6600; }
.rectextshow p.price span em{font-size: 18px; }
.rectextshow p.attr_posi{float: right; font-size: 12px; color:#a0a0a0 ;margin-top: 5px;}
/*广告位*/
.advBox3{float: right;width: 230px;height: 500px;margin-top: 20px;}
/*跟团游*/
.group-wrap{width: 100%;height: 637px;background-image: url(../images/index/group_bg.png); background-size: cover;position: relative;}
.group-wrap .dot{text-align: center;}
.group-wrap .dot s{display: inline-block;width: 7px;height: 7px;border-radius: 50%;background:rgba(255,255,255,.5);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7fffffff, endcolorstr=#7fffffff);margin-top: 60px;position: relative;}
.group-wrap .dot s:after{content: '';display: block;position: absolute;top: -60px;left: 3.5px;width: 1px;height: 60px;background:rgba(255,255,255,.5);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7fffffff, endcolorstr=#7fffffff);}
.group-wrap h1.group_title{font-size: 36px;color: #fff;font-weight: bold;text-align: center;}

.slideBox2{margin-top: 30px;position: relative;width: 1220px;}
.slideBox2 .bd li a{display: block;width: 386px;position: relative;float: left;margin-right: 20px;background: #fff}
/*.slideBox2 .bd li a:last-child{margin-right: 0}*/
.slideBox2 .bd li .group_img{width:100%; height: 290px;  overflow: hidden;position: relative;}
.slideBox2 .bd li .group_img img{width: 100%;height: 100%;object-fit: cover;display: block;-webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; transition: all .5s ease-in-out; -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1);}
.slideBox2 .bd li a:hover img{-webkit-transform: scale(1.1); -moz-transform: scale(1.1); transform: scale(1.1);}

.slideBox2 .bd li .group_bot{height: 80px;background: #fff;padding: 0 20px;}
.slideBox2 .group_bot h2{font-size: 16px;  width: 320px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin-bottom: 5px;color: #333;padding-top: 12px;}
.slideBox2 .group_bot p{font-size: 14px;  width: 320px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin-bottom: 5px;color: #999;}
.slideBox2 .price_p{position: absolute;top: 20px;right: -6px;background: #01CABF;font-size: 14px;color: #fff;padding: 13px 14px;z-index: 2}
.slideBox2 .price_p:after{content: '';display: block;position: absolute;right: 0;bottom: -6px;width: 6px;height: 6px;background-image: url(../images/index/little.png); background-size: cover;}
.slideBox2 .price_p span{font-size: 18px;}
.slideBox2 .hd{ overflow:hidden; position:absolute;left:50%; margin-left: -50px;bottom:-58px; z-index:1;width: 100px}
.slideBox2 .hd ul{ overflow:hidden; text-align: center; height: 18px;line-height: 16px;}
.slideBox2 .hd ul li{cursor:pointer;display:inline-block;width:10px;height: 10px;background:#fff;margin:0 5px;border-radius: 100%;text-align: center;vertical-align: middle;}
.slideBox2 .hd ul li.on{ width:16px;height: 16px;background:url(../images/index/dot_on.png)  no-repeat center;background-size: cover;}
.slideBox2 .prev,.slideBox2 .next{ position:absolute;  bottom:-66px; display:block; width:36px; height:36px;  }
.slideBox2 .prev{left:43%;background:url(../images/index/prev.png)  no-repeat center;background-size: cover}
.slideBox2 .next{right:43%;background:url(../images/index/next.png)  no-repeat center;background-size: cover}

/*旅游攻略*/
.strategy-wrap{background: #F5F7F8;padding: 40px 0 30px;}
.strategy-list {margin-top: 20px;}
.strategy-list li{float: left;width: 285px;margin-right: 20px;-webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.04);-moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.04);box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.04);transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;}
.strategy-list li:hover{-webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);-moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}
.strategy-list li a{display: block;}
.strategy-list li:last-child{margin-right: 0}
.strategy-list li .top_img{width:100%; height: 214px;  overflow: hidden;position: relative;}
.strategy-list li .top_img img{width: 100%;height: 100%;object-fit: cover;display: block;}
.strategy-list li .top_img span{display: inline-block;position: absolute;right: 0;bottom: 0;font-size: 14px;color: #fff;z-index: 2;text-shadow:1px 1px 4px rgba(0, 0, 0, 0.45);padding-right: 8px;padding-bottom: 8px;}
.strategy-list li .top_img span i{display: inline-block;width: 27px;height: 19px;background:url(../images/index/see.png)  no-repeat center;background-size: cover;margin-right: 3px;vertical-align: middle;margin-top: -2px}
.strategy-list li .top_img:after{content: '';display: block;width: 192px;height: 81px;background:url(../images/index/text-bg.png)  no-repeat center;background-size: cover;position: absolute;right: 0;bottom: 0;z-index: 1}
.strategy-list li .botInfo{height: 130px;background: #fff;}
.strategy-list li .botPeo{padding: 0 12px;margin-top: -26px;position: relative;}

.strategy-list li .botImg{float: left;width: 50px;height: 50px;border: 4px solid #fff;border-radius: 50%;}
.strategy-list li .botImg img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%}
.strategy-list li .botName{margin-left: 68px;height: 58px;line-height: 80px;}
.strategy-list li h2.botTxt{padding: 0 14px;font-size: 16px;color: #333;font-weight: bold;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;margin-top: 10px;}
/*旅游视频*/
.video-wrap{background: #fff;padding: 40px 0;}
.video-list {margin-top: 20px;}
.video-list li{float: left;width: 285px;margin-right: 20px;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;}
.video-list li:hover{-webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);-moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}
.video-list li .videoshow {position: relative;}
.video-list li .videoshow:after{content: '';display: block; width:40px; height: 40px; background-image: url(../images/index/tj_video.png); background-size: cover; position: absolute; left: 50%; top: 50%; margin-left: -20px; margin-top: -20px;z-index: 2}
.video-list li a{display: block;}
.video-list li:last-child{margin-right: 0}
.video-list li .top_img{width:100%; height: 162px;  overflow: hidden;position: relative;}
.video-list li .top_img img{width: 100%;height: 100%;object-fit: cover;display: block;}
.video-list li .botInfo{height: 94px;background: #fff;border: 1px solid #eee;border-top: none}
.video-list li h2.botTxt{padding: 14px 20px 10px 15px;font-size: 16px;color: #333;overflow: hidden;white-space: nowrap;max-width: 100%;text-overflow: ellipsis;}
.video-list li .videoInfo{padding: 0 20px 0 13px;position: relative;}
.video-list li .botPeo{float: left;}
.video-list li .botImg{float: left;width: 32px;height: 32px;border-radius: 50%;}
.video-list li .botImg img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%}
.video-list li .botName{margin-left: 42px;height: 32px;line-height: 32px;}
.video-list li .videoInfo span{float: right;font-size: 14px;color: #A0A0A0;margin-top: 6px}

.footer{margin-top: 0}



