.main_wrap{background: #F7F4F8}

/*关键字*/
.filter-item {display: none;float: left; line-height: 28px; height: 28px; padding: 0 15px; background-color: #f0f2f7;margin-left: 18px; color: #6f7178;border-radius: 14px;font-size: 15px;}
.filter-item em{color:#fd4939;}

.filter-item .close {color: #6f7178; margin-left: 7px; font-weight:bold;font-family: "\5b8b\4f53", "Microsoft YaHei", Arial; margin-top: 2px;display: block;float: right;}
.filter-item:hover{color: #6f7178;}


/* 筛选 */
.filter_box{background: #fff;border:1px solid #E8E8E8;border-top: 2px solid #01C6AF;padding-left: 20px; padding-right: 18px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.filter {position: relative; border-radius: 5px; font-size: 14px;}
.filter dl{border-bottom: 1px solid #eee;}
.filter dl:last-child{border-bottom: none}
.filter dt {float: left;width: 84px;line-height:50px;text-align: center; font-size:14px;color:#333;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}

.filter dd {margin-left: 84px; padding: 12px 0 0 0;overflow: hidden;position: relative; background-color: #fff;padding-left: 0;}
.filter dd a {float: left; position: relative; margin-right: 15px;margin-bottom: 12px; color: #787878;font-size: 14px;padding: 0 9px;height: 26px;line-height: 26px;}
.filter dd a:hover {text-decoration: none; color: #fff;background: #01C6AF;}
.filter dl dd a.curr{ color: #fff;background: #01C6AF;}
.filter dl dd a:hover.curr {text-decoration: none;}
/*价格*/
.filter .inpbox{float: left;}
.filter .inpbox .p1, .filter .inpbox .p2 {width: 68px; padding: 0 4px; height: 26px; border: solid 1px #E1E1E1; line-height: 28px;  margin: -2px 4px;background: #fff;outline: none;text-align: right;}
.filter .inpbox .btn {width:50px;height: 30px; display: inline-block;text-align:center; background: #01C6AF; color: #fff; margin-left:8px;vertical-align: top; line-height: 30px; cursor: pointer; white-space: nowrap; -webkit-background-clip: padding-box;-moz-background-clip: padding;  background-clip: padding-box; border: 0;font-size: 14px;outline: none;float: none;margin-top: -3px}
.filter .more {position: absolute; left: 50%; bottom: -27px; width: 100px; height: 25px; text-align: center; line-height: 25px; font-size: 12px; border: 1px solid #e5e5e5; background-color: #fafafa; border-top-color: #fafafa;}
.filter .inpbox input.focus {border: 1px solid #bebfc4;}

.filter .more a {display: block;}
.filter .more i {display: inline-block; vertical-align: middle; margin-left: 8px; width: 9px; height: 5px; background-position: -37px -34px;}
.filter .more a:hover i {background-position: -55px -34px;}
.filter .more.curr i {background-position: -28px -34px; margin-top: -3px;}
.filter .more.curr a:hover i {background-position: -46px -34px;}
.filter .subnav {clear: both; padding: 12px 0 0; background-color: #fff;}
.filter .subnav {border-radius: 3px;*position: relative;z-index: 0;margin-left: 0;border-top: 1px solid #F0F1F7;margin-left: -24px;padding-left: 24px;}


.filter .subnav a {display: inline-block;margin-bottom: 10px;}
.filter .subnav a.curr{color: #fff;}
.sortbar .rowlist i,.sortbar .window i,.sortbar .tpage i,.pagination-pages a i,.pagination-pages span i{display:block;background-image: url(../images/listSprite.png);background-repeat: no-repeat; }

.filter .f_more{cursor:pointer;font-size: 14px;color:#01C6AF;position: absolute;top: 14px; right: 0;z-index: 1; -webkit-transition: all .3s linear;-o-transition: all .3s linear;transition: all .3s linear;}
.filter .f_more i{display: inline-block;width: 12px;height: 12px;background: url(../images/icon_shouqi.png) no-repeat center center;background-size:12px;transform: rotate(0);}
.filter .f_more.curr i{transform: rotate(180deg);}
.filter .item_box{height: 38px;overflow: hidden;padding-right: 50px;}
.filter .item_box.on{height: auto;}

/*签证列表 头部补充样式*/
.filter #continent>a{margin-right: 30px;margin-bottom: 0;padding: 5px 16px;background: none;border-bottom: 3px solid #fff;}
.filter dl dd#continent>a.curr{    border-bottom: 3px solid #01c6af;color: #333;}
.filter dl dd#continent>a:hover{border-bottom: 3px solid #01c6af;color: #333;}
.filter #continent .subnav{display: block;}
.filter #continent .subnav .seCountry:first-child{display: block;}
/*清空状态*/
.deletebox{background: #fff;}
.fi-state{display: none;}
.fi-state{border-top: 1px solid #eee;}
.fi-state dt{width: 84px;height: 50px;line-height:50px;text-align: center;float: left;font-size: 14px;color:#666}
.fi-state dd{float: left;}
.fi-state dd a{padding-left:10px;height:24px;background: #fff;font-size: 14px;color:#333;margin-right: 20px;position: relative;border: 1px solid #ACE6E4;display: inline-block;margin-top: 12px;}
.fi-state dd a span{display: inline-block;height: 24px;line-height: 24px;margin-right: 9px;vertical-align: middle;}
.fi-state dd a i.idel{display: inline-block;width: 24px;height: 24px;background: #ACE6E4 url(../images/icon_del.png) no-repeat center center;background-size: 12px;vertical-align: middle;}
.fi-state .btn_clear{float: left;cursor: pointer;font-size: 14px;color:#666;line-height:50px;}
.fi-state .btn_clear:hover{color:#01C6AF }

/* 默认排序 切换 */
.sort{background: #fff;overflow: hidden;}
.sort ul {padding-left: 30px; height: 48px;line-height: 48px;border: 1px solid #eee}
.sort li {float: left;margin-right: 40px; }
.sort li a {display: block;font-size: 14px;color:#999;}
.sort li a:hover {color: #FB5845;}
.sort li.curr a {color: #FB5845;}
.sort li i{display: inline-block;width: 14px;height: 14px;    vertical-align: middle;margin-top: -4px;margin-left: 2px;}
.sort li.up i{background: url(../images/grey_up.png) no-repeat center center;background-size: cover;}
.sort li.down i{background: url(../images/grey_down.png) no-repeat center center;background-size: cover;}

.sort li.up:hover i{background: url(../images/red_up.png) no-repeat center center;background-size: cover;}
.sort li.down:hover i{background: url(../images/red_down.png) no-repeat center center;background-size: cover;}

.sort li.up.curr i{background: url(../images/red_up.png) no-repeat center center;background-size: cover;}
.sort li.down.curr i{background: url(../images/red_down.png) no-repeat center center;background-size: cover;}

.sort li.up.active i{background: url(../images/red_up.png) no-repeat center center;background-size: cover;}
.sort li.down.active i{background: url(../images/red_down.png) no-repeat center center;background-size: cover;}
/*列表右*/
.list_r{float: right;width: 285px}
.adv_r{width: 285px;height: 130px;overflow: hidden;}   
.adv_r  li img{width: 285px;height: 130px;}


.listr_con{margin-top: 20px;padding: 0 15px;background: #fff}
.listr_con .newr_tit{font-size: 18px;font-weight: bold;color: #333;border-bottom: 1px solid #EDEDED;padding-top: 20px;padding-bottom: 15px;}
.listr_con .newr_tit em{color: #01C6AF;font-weight: bold;}
.listr_con1 ul{padding: 20px 0 12px;}
.listr_con1 ul li{float: left;margin-bottom: 10px;width: 78px;height: 35px;line-height: 35px;border-radius: 3px;text-align: center;background:rgba(0,203,200,.1);font-size: 14px;color: #666;margin-right: 10px;}
.listr_con1 ul li a{display: block;font-size: 14px;color: #666;}
.listr_con1 ul li:nth-child(3n){margin-right: 0}

.listr_con1 ul li .title_h3:before{content: '•';color: #ABABAB;position: absolute;top: 0;left: 0}
.listr_con1 ul li:hover .title_h3:before{content: '•';color: #3381ff;position: absolute;top: 0;left: 0}
.listr_con1 ul li:hover .title_h3 span{color: #3381ff;}

.listr_con2{padding: 0!important;}
.listr_con2 .newr_tit{padding: 20px 0 15px;margin: 0 15px;}
.listr_con2 ul li{padding: 0 15px;}
.listr_con2 ul li:first-child a{border-top: none}
.listr_con2 ul li:hover{background: #f7f8fa}
.listr_con2 li a{display: block;border-top: 1px solid #eee;padding: 20px 0 16px;}
.listr_con2 .left_num{width: 46px;height: 40px;font-size: 18px;color: #fff;font-weight: bold;line-height: 40px;text-indent: 10px;float: left;}
.listr_con2 li.green_num .left_num{background: url(../images/group/green_num.png) no-repeat center center;background-size: cover;}
.listr_con2 li.grey_num .left_num{background: url(../images/group/grey_num.png) no-repeat center center;background-size: cover;}
.listr_con2 .r_info{float: left;margin-left: 9px;width: 200px;}
.listr_con2 .groupTitle{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;font-size: 14px;color: #333;line-height: 22px;max-width: 100%;}
.listr_con2 .groupInfo{margin-top: 8px;}
.listr_con2 .groupName{font-size: 14px;color: #A0A0A0;display: inline-block;}
.listr_con2 .groupName i{display: inline-block;width: 18px;height: 18px;vertical-align: middle;margin-top: -13px;background: url(../images/group/t_group.png) no-repeat center center;background-size: cover;margin-right: 3px}
.listr_con2 .groupName span{display: inline-block;max-width: 100px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.listr_con2 .groupPrice{font-size: 12px;color: #999;float: right;}
.listr_con2 .groupPrice span{color: #FF6600;font-size: 16px;}