.main_wrap{background: #F7F4F8;padding-bottom: 45px;}
/*左侧店铺*/
.shopbox{float: left;width: 285px;background: #fff;padding: 34px 20px 20px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;box-shadow:0px 3px 15px 0px rgba(163,163,163,0.25);-webkit-box-shadow:0px 3px 15px 0px rgba(163,163,163,0.25);-moz-box-shadow:0px 3px 15px 0px rgba(163,163,163,0.25);-ms-box-shadow:0px 3px 15px 0px rgba(163,163,163,0.25);}
.shopbox.fixed{position: fixed;top: 174px;}
.shopbox .shopimg{width: 142px;height: 142px;border: 1px solid #EAEAEA;border-radius: 50%;margin: 0 auto 0}
.shopbox .shopimg img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}
.shopbox .shopinfo{text-align: center;margin-top: 20px;}
.shopbox .shopinfo h2{font-size: 18px;color: #333;}
.shopbox .shopinfo label{display: inline-block;width: 68px;height: 22px;background: url(../images/group/certify.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-top: -4px;margin-left: 4px;}
.shopbox .shop_ul{text-align: center;}
.shopbox ul{display: inline-block;margin-top: 30px;}
.shopbox ul li{height: 60px;width: 230px;box-shadow:0px 6px 15px 0px rgba(1,198,175,0.2);-webkit-box-shadow:0px 6px 15px 0px rgba(1,198,175,0.2);-moz-box-shadow:0px 6px 15px 0px rgba(1,198,175,0.2);-ms-box-shadow:0px 6px 15px 0px rgba(1,198,175,0.2);border-radius:30px;background: #01CABF}

.shopbox ul li.go_call a{color: #fff;}
.shopbox ul li.go_call{text-align: left;}
.shopbox ul li.go_call i{float: left;display: inline-block;width: 32px;height: 32px;background: url(../images/storeCall.png) no-repeat center center;background-size: cover;margin-top: 15px;margin-left: 18px;}

.shopbox ul .shopCall{    margin-left: 62px;text-align: center;border-left: 1px solid rgba(255,255,255,.3);height: 60px;margin-right: 20px;}
.shopbox ul .shopCall h3{font-size: 16px;line-height: 1;padding-top: 14px;font-weight: bold;}
.shopbox ul .shopCall p{font-size: 14px;}
.shopbox .adr{padding-top: 27px;border-top: 1px dashed #D5D5D5;padding-left: 20px;position: relative;text-align: left;font-size: 14px;color: #999;margin-top: 30px;}
.shopbox .adr:before{content: '';display: inline-block;width: 12px;height: 16px;background: url(../images/addr_store.png) no-repeat center center;background-size: cover;position: absolute;left: 0;top: 30px;}
.shopbox .adr .adr_a{color: #6B9BFF;margin-left: 10px;}
.btn_group{margin-top: 20px;}
.btn_group button{background: none; border: none; outline: none; cursor: pointer; font-size: 14px; color: #5E5E5E;float: left; text-align: center;line-height: 34px;}
.btn_group em{display: inline-block; width: 18px; height: 18px; vertical-align: middle;margin-right: 6px ;    margin-top: -2px;}
.store-btn {float: left;}
.store-btn button em{background: url(../images/like11.png) no-repeat center; }
.store-btn.curr button em{background: url(../images/like22.png) no-repeat center; }
.share-btn{float: left;margin-left: 20px;position: relative;line-height: 34px;}
.share-btn  em{background: url(../images/share.png) no-repeat center;margin-top: -2px;}
.btn_group span{display: inline-block; font-size: 14px;color: #5E5E5E }
#sharre{position: absolute;width: 52px;height: 21px;top: 0;left: 0;right: 0;bottom: 0;opacity: 0}

.btn_group .contact{width: 98px;height: 32px;cursor: pointer;border: 1px solid #F8F8F8;position: relative;border-radius: 2px;float: right;}
.btn_group .contact img{width:76px;height:14px;position:absolute;top:0;left:0;right:0;bottom:0;display: block;margin:auto;}
.btn_group .contact:hover{box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);-moz-box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);
-webkit-box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);
-ms-box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);border: 1px solid #E6E6ED}

/*详情右侧*/
.store_right{margin-left: 309px;}
.store_right .store_con{background: #fff;margin-bottom: 20px;}
.store_right .store_con .store-head{height: 58px;line-height: 58px;padding-left: 24px;padding-right: 20px;border-bottom: 1px solid #eee}
.store_right .store_con .store-head h2{float: left;font-weight: bold;font-size: 18px;}
.store_right .store_con .store-head a{float: right;font-size: 14px;color: #999;}
.store_right .store_con .store-head a:hover{color: #01CABF}
.recom-list{padding: 20px;overflow: hidden;}
.recom-list li{width: 270px;  position: relative;background: #fff;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;margin-right: 20px;float: left;}
.recom-list li:hover{-webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);-moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}
.recom-list li:nth-child(3n){margin-right: 0}
.recom-list li>a{display: block; width: 270px;margin: auto;}
.recom-list .agency_img{width:100%; height: 203px;  overflow: hidden;position: relative;background: #f2f2f2 }
.recom-list .agency_img img{width: 100%;height: 100%;object-fit: cover;display: block;}

.recom-list .agencyInfo{padding: 10px 16px 10px;border: 1px solid #eee;border-top: none}
.recom-list .agencyInfo h2{font-size: 16px;  width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin-bottom: 8px;color: #333;}
.recom-list .agencyInfo .t_property{font-size: 0;height: 22px;overflow: hidden;margin-bottom: 10px;}
.recom-list .agencyInfo .t_property span{display: inline-block;margin-right: 5px;height: 22px;line-height: 22px;padding: 0 8px;background: rgba(1,198,175,.15);border-radius: 2px;font-size: 14px;color: #01C6AF}
.recom-list .agencyInfo .agency_bot{overflow: hidden;}
.recom-list .agencyInfo p.price{font-size: 14px; color: #a0a0a0; float: left;}
.recom-list .agencyInfo p.price span{color: #FF6600; }
.recom-list .agencyInfo p.price span em{font-size: 18px; }
.recom-list .agencyInfo p.attr_posi{float: right; font-size: 14px; color:#a0a0a0 ;margin-top: 4px;}
.recom-list .agencyInfo p.attr_posi i{display: inline-block;width: 18px;height: 18px;background: url(../images/attr_posi.png) no-repeat center center;background-size: cover;   vertical-align: middle;margin-top: -3px;}
.recom-list .empty{font-size: 16px;text-align: center;}
/*商家信息*/
.shop_info{padding: 30px 20px 20px;}
.shop_info li{margin-bottom: 20px;}
.shop_info label{font-size: 14px;color: #999;}
.shop_info span{font-size: 14px;color: #333;}
.shop_info .note{display: inline-block;vertical-align: top;width: 750px;font-size: 14px;line-height: 24px;}
.shop_info .note p{text-indent: 0!important;line-height: 24px!important;}
.storeImg{padding-bottom: 30px;}
.imgBox{ width:850px;  overflow:hidden; position:relative; margin: 0 auto  ; }
.imgBox .hd{ overflow:hidden;  height:20px; background:rgba(0,0,0,.7); padding:0 10px; border-radius: 10px;position: absolute;bottom: 9px;right: 7px;font-size: 12px;color: #fff;z-index: 2;line-height: 20px; }
.imgBox .prev,.imgBox .next{ display:block;  width:30px; height:60px; 
	 cursor:pointer; position: absolute;top: 50%;margin-top: -30px;}
.imgBox .prev{ left:0;background:url("../images/bigPrev.png") no-repeat; }
.imgBox .next{ right:0;background:url("../images/bigNext.png") no-repeat; }
.imgBox .hd .prevStop{ background-position:-60px 0; }
.imgBox .hd .nextStop{ background-position:-60px -50px; }

.imgBox .bd ul{ overflow:hidden; zoom:1;margin-left: -10px!important; }
.imgBox .bd ul li{ margin:0 10px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.imgBox .bd ul li img{ width:270px; height:202px;  }

/*图片放大弹出层*/
.viewer-container.viewer-fixed {position:fixed;z-index:99999!important;background-color:rgba(51,51,51,.8)}
.viewer-footer .viewer-toolbar {width:0}
.viewer-toolbar .viewer-next,.viewer-toolbar .viewer-prev {position:fixed;top:50%;margin-top:-30px;width:50px;height:50px;cursor:pointer;border-radius:50%;background-color:#000;background-color:rgba(0,0,0,.5)}
.viewer-toolbar .viewer-next:before {width:50px;height:50px;margin:0;background-image: url(../images/big-r.png);background-position: 50%;}
.viewer-toolbar .viewer-prev:before {width:50px;height:50px;margin:0;background-image:url(../images/big-l.png);    background-position: 50%;}
.viewer-next {right:20px}
.viewer-prev {left:20px}
.viewer-footer .viewer-toolbar>.viewer-next,.viewer-footer .viewer-toolbar>.viewer-prev {background:#000;opacity:.4}
.viewer-footer .viewer-toolbar>.viewer-next:hover,.viewer-footer .viewer-toolbar>.viewer-prev:hover {background:#000;opacity:1}
.viewer-container .viewer-button {width:38px;height:38px;top:20px;right:20px;background-color:#000;opacity:.4}
.viewer-container .viewer-button:hover {background-color:#000;opacity:1}
.viewer-container .viewer-button:before {bottom:10px;left:10px;width:18px;height:18px;background-image:url(../images/close_alert.png);    background-position: 50%;}
.viewer-footer {height:0}
.viewer-canvas {position:relative1!important}
.viewer-canvas img {position:absolute!important;top:0!important;left:0!important;bottom:0!important;right:0!important;margin:auto!important}
.viewer-footer {height:0}

/*store-list页面修改样式*/
.store_right .store_con.store_conList .pagination{padding-bottom: 40px;margin-top: 0}
.store_right .store_con.store_conList .recom-list li{margin-bottom: 20px}

/*store-visa页面修改样式*/
.store_right .store_con.store_conVisa .pagination{padding-bottom: 40px;margin-top: 0}
.store_right .store_con.store_conVisa .recom-list li{margin-bottom: 20px}