
.class_wrap{padding-bottom: 40px;}
/*列表左*/
.list_left{width: 892px;float: left;}
.list_left .list_ul li{background: #fff;position: relative;padding: 20px;margin-bottom: 20px;}
.list_left .list_ul li:hover{box-shadow:0px 6px 21px 0px rgba(163,163,163,0.17);-webkit-box-shadow:0px 6px 21px 0px rgba(163,163,163,0.17);-ms-box-shadow:0px 6px 21px 0px rgba(163,163,163,0.17);-moz-box-shadow:0px 6px 21px 0px rgba(163,163,163,0.17)}
.list_left .list_ul li a{display: block;}
.list_left .left_b{float: left;width: 148px;height: 148px;position: relative;overflow: hidden;border: 1px solid #eee;}
.list_left .left_b a{display: block;}
.list_left .left_b img{width: 100%;height: 100%;object-fit: cover;display: block;}
.list_left li .videoshow {position: relative;}
.list_left li .videoshow:after{content: '';display: block; width:40px; height: 40px; background-image: url(../images/index/tj_video.png); background-size: cover; position: absolute; left: 50%; top: 50%; margin-left: -20px; margin-top: -20px;z-index: 2}

.list_left .mid_b{float: left;margin-left: 20px;position: relative;width: 340px;height: 150px;}
.list_left .mid_b h1.t_name{font-size: 18px;color: #4C5A65;font-weight: bold;}
.list_left .mid_b h1.t_name a{color: #4C5A65;}
.list_left .mid_b h1.t_name span{display: inline-block;overflow: hidden;max-width: 260px;text-overflow: ellipsis;white-space: nowrap;}
.list_left .mid_b h1.t_name .hasCertify{display: inline-block;width:68px; height: 22px; background-image: url(../images/group/certify.png); background-size: cover;vertical-align: top; margin-top: 3px; margin-left: 5px; }
.list_left .mid_b .info_view{margin-top: 1px;}
.list_left .mid_b dl{font-size: 0;margin-bottom: 2px;}
.list_left .mid_b dl dt,.list_left .mid_b dl dd{display: inline-block;font-size: 14px;color: #A0A0A0;}
.list_left .mid_b dl .seePhone{color: #218FF4;margin-left: 3px;cursor: pointer;}
.list_left .mid_b .go_shop{height: 40px;line-height: 40px;width: 120px;text-align: center;background: #FF6600;border-radius: 3px;color: #fff;margin-top: 12px;font-size: 16px;}
.list_left .mid_b .go_shop a{color: #fff;display: block;position: relative;z-index: 2}
.list_left .mid_b .go_shop a:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);background-color: rgba(0, 0, 0,.1); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#19000000, endcolorstr=#19000000);}

.list_left .right_b{float: right;font-size: 0}
.list_left .right_b dl {position: relative;display: inline-block;margin-left: 20px;width: 150px;height: 150px;}
.list_left .right_b dl dt{width: 150px;height: 150px;position: relative;overflow: hidden;}
.list_left .right_b dl dt img{width: 100%;height: 100%;object-fit: cover;display: block;}
.list_left .right_b dl dd{position: absolute;bottom: 0;left:0;right: 0;padding: 24px 12px 10px;font-size: 14px;color: #fff;background:linear-gradient(90deg,rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);background:-webkit-linear-gradient(90deg,rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);background:-ms-linear-gradient(90deg,rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);background:-moz-linear-gradient(90deg,rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#ffffff", endColorstr="#000000", gradientType="0");}

/*猜你喜欢*/
.like_wrap{padding: 30px 0;background: #fff}
.like_wrap .topTitle h2{display: inline-block;font-size: 24px;font-weight: bold;}
.like_wrap .topTitle a{display: none;float: right;font-size: 14px;color: #01C6AF}
.like_wrap .topTitle a i{display: inline-block;width: 14px;height: 14px;background: url(../images/fresh.png) no-repeat center center;background-size: cover;margin-right: 5px;    vertical-align: middle;
    margin-top: -3px;}
.com-list li{width: 224px; float: left; margin-top: 20px; position: relative;margin-right: 20px;background: #fff;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;}
.com-list li:hover{-webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);-moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}
.com-list li:last-child{margin-right: 0}
.com-list li>a{display: block; width: 224px;margin: auto;}
.com-list .labshow{font-size: 14px; color: #fff; height: 28px; line-height: 28px; background-color: #FDC224; top: 20px; left: 0; position: absolute;text-align: center;padding: 0 8px;z-index: 2}  /*标签样式*/
.com-list li .videoshow {position: relative;}
.com-list li .videoshow:after{content: '';display: block; width:40px; height: 40px; background-image: url(../images/index/tj_video.png); background-size: cover; position: absolute; left: 50%; top: 50%; margin-left: -20px; margin-top: -20px;z-index: 2}
.com-list .recimgshow{width:100%; height: 169px;  overflow: hidden;position: relative;background:#F5F7F8 }
.com-list .recimgshow img{width: 100%;height: 100%;object-fit: cover;display: block;}

.com-list .rectextshow{padding: 4px 15px 14px;border: 1px solid #eee;border-top: none}
.com-list .rectextshow h2{font-size: 16px;  width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin-bottom: 5px;color: #333;}
.com-list .rectextshow p.price{font-size: 14px; color: #a0a0a0; float: left;}
.com-list .rectextshow p.price span{color: #FF6600; }
.com-list .rectextshow p.price span em{font-size: 18px; }
.com-list .rectextshow p.attr_posi{float: right; font-size: 14px; color:#a0a0a0 ;margin-top: 4px;}

.footer {margin-top: 0;}
.list_left .list_ul li.empty {text-align: center; font-size: 17px; color:#8c8c91; padding-bottom: 50px;}
.empty img {width: 300px; margin: 50px auto 20px; display: block;}
.failed img{display: block;margin: 0 auto}

.com-list .loading{text-align: center;line-height: 100px;font-size: 20px;}

/*热门旅行社*/
.listr_store{padding: 0}
.listr_store .newr_tit{margin-left: 15px;margin-right: 15px;}
.listr_store ul{padding: 5px 0 40px;}
.listr_store li a{display: block;padding: 10px 15px; }
.listr_store li a:hover{background: #f2f2f2;}
.listr_store .l_img{width:88px; height: 88px;  overflow: hidden;position: relative;border: 1px solid #eee;float: left;}
.listr_store .l_img img{width: 100%;height: 100%;object-fit: cover;display: block;}
.listr_store .r_info{margin-left: 100px;height: 90px;}
.listr_store .r_info .storeTitle{font-size: 14px;color: #333;max-width: 140px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.listr_store .info_view{margin-top: 7px;}

.listr_store dl{font-size: 0;margin-bottom: 2px;    max-width: 100%;white-space: nowrap;}
.listr_store dl dt {float: left;font-size: 14px;color: #A0A0A0;}
.listr_store dl dd{position: relative;overflow: hidden;font-size: 14px;color: #A0A0A0;text-overflow: ellipsis;}
.listr_store .info_view .seePhone{color: #218FF4;cursor: pointer;font-size: 14px;}
