
.class_wrap{padding-bottom: 40px;}
.adv_r{height: 150px}
.adv_r  li img{width: 285px;height: 150px;}
.det_wrap{padding-bottom: 40px;}
/*列表左*/
.list_left{width: 892px;float: left;}
/*头部切换*/
.travel_nav{font-size: 0;padding-bottom: 24px;}
.travel_nav span{display: inline-block;font-size: 24px;color: #333;font-weight: bold;    vertical-align: top;margin-top: -4px;
}
.travel_nav ul{display: inline-block;}
.travel_nav li{float: left;margin-left: 44px;font-size: 16px;color: #333;height: 30px;line-height: 30px;border-radius: 4px;position: relative;}
.travel_nav li a{padding: 0 13px;display: block;}
.travel_nav li.on{background: #01C6AF;color: #fff}
.travel_nav li.on a{color: #fff}
.travel_nav li.on:after{content: '';display: block;position: absolute;left: 50%;margin-left: -8px;bottom: -16px;width: 0;height: 0;border: 8px solid transparent;border-top-color: #01C6AF;}
/*.travel_nav li:hover a{color: #01C6AF}*/
.list_left .list_ul li{background: #fff;position: relative;margin-bottom: 20px;}
.list_left .list_ul li:hover{box-shadow:0px 6px 21px 0px rgba(163,163,163,0.17);-webkit-box-shadow:0px 6px 21px 0px rgba(163,163,163,0.17);-ms-box-shadow:0px 6px 21px 0px rgba(163,163,163,0.17);-moz-box-shadow:0px 6px 21px 0px rgba(163,163,163,0.17)}
.list_left .list_ul li a{display: block;}
.list_left .left_img{float: left;width: 266px;height: 200px;position: relative;overflow: hidden;}
.list_left .left_img a{display: block;}
.list_left .left_img img{width: 100%;height: 100%;object-fit: cover;display: block;}
.list_left .right_text{margin-left: 286px; position: relative;height: 200px;margin-right: 16px;}
.list_left .right_text h2{font-size: 20px; color: #333; width: 100%; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding-top: 18px;}
.list_left .right_text .desc{font-size: 14px;color: #999;line-height: 24px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;margin-top: 8px;height: 70px;}
.list_left .right_text .up_info{overflow: hidden; position: absolute;bottom: 22px;width: 100%;}
.list_left .right_text .up_info .headimg{width: 34px; height: 34px; border-radius: 50%; overflow: hidden; display: inline-block; vertical-align: middle; margin-right: 8px;}
.list_left .right_text .up_info .headimg img{width: 100%; height: 100%; object-fit: cover;}
.list_left .right_text .up_info .up_name{display: inline-block; vertical-align: middle; color: #999; font-size: 14px;}
.list_left .right_text ._left{float: left;}
.list_left .right_text ._right{float: right; font-size: 14px; color: #999;line-height: 34px; }
.list_left .right_text ._right i{display: inline-block;width: 16px;height: 16px;background: url(../images/ic_look.png) no-repeat center center;background-size: cover;margin-right: 6px;    vertical-align: middle;
    margin-top: -4px;}

.list_left .list_ul .loading{text-align: center;line-height: 100px;font-size: 16px;}

/*热门目的地*/
.listr_gl {margin-top: 30px;}
.listr_gl .newr_tit{font-size: 24px;color: #333;}
.gl_con{padding: 22px 20px 0;height: 560px;background: url(../images/gl_bg.png) no-repeat center center;background-size: cover; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;margin-top: 15px;}
.gl_con .gl_input{width: 100%;height: 40px;border-radius: 20px; position: relative;background: #fff}
.gl_con .gl_input i.i_search{display: inline-block;width: 20px;height: 20px;background: url(../images/i_search.png) no-repeat center center;background-size: cover;position: absolute;top: 9px;right: 12px;cursor: pointer}
.gl_con .gl_input input{background: none;-webkit-appearance:none;height: 12px;padding: 14px 20px;border: none;font-size: 14px;}
.gl_con .gl_input input::-webkit-input-placeholder {/* Chrome/Opera/Safari */color: #999;}
.gl_con .gl_input input::-moz-placeholder {/* Firefox 19+ */color: #999;}
.gl_con .gl_input input:-ms-input-placeholder {/* IE 10+ */color: #999;}
.gl_con .gl_input input:-moz-placeholder {/* Firefox 18- */color: #999;}

.gl_con .gl_input input:focus{border:0;outline:0;background: none;}
.gl_con li{margin-top: 23px;font-size: 13px;float: left;width: 81px}
.gl_con li a{display: inline-block;padding: 0 11px;height: 23px;line-height: 23px;border-radius: 11px;background: #fff;}

/*攻略详情*/
.content {background:#fff;padding: 0 20px 60px;}
/* 标题 */
.art_title {margin-bottom: 30px;clear: both;border-bottom: 1px solid #E5E5E5;padding: 22px 0 30px;text-align: center;}
.art_title h2 {line-height: 1.4; font-weight: bold; padding-bottom: 18px;color: #333;font-size: 30px;}
.art_title_more {position: relative;display: inline-block;}
.art_title_more .imgbox{float: left;width: 30px;height: 30px;overflow: hidden;border-radius: 50%;margin-right: 8px;}
.art_title_more .imgbox img{width: 100%;height: 100%;display: block;}
.art_title_more .imgInfo{position: relative;line-height: 30px;font-size: 14px;color:#999;margin-left: 38px;}
.art_title_more .imgInfo h5{display: inline-block;color: #666}
.art_title_more .imgInfo span{margin-left: 28px;}
.art_title_more .imgInfo em{margin-left: 8px;margin-right: 8px;display: inline-block;}
.art_title_more .imgInfo i{display: inline-block;width: 16px;height: 16px;background: url(../images/ic_look.png) no-repeat center center;    background-size: cover;vertical-align: middle;margin-right: 8px;margin-top:-4px;}

.artMainCon{font-size: 16px; line-height:30px;color: #666;}
.artMainCon img{max-width: 100% !important;display: block; margin: 0 auto}
.artMainCon p{margin-top: 10px;text-align: justify;}


.commentBox{    background: #fff;padding: 0 20px 30px;}