
.main_wrap{background: #F7F4F8;padding-bottom: 40px}
.order-progress{margin-top: 40px}
.main_con{margin-top: 37px;background: #fff}


/*订单进度*/
.order-progress ul{position: relative;}
.order-progress li{float: left;width: 286px;height: 51px;text-align: center;line-height: 51px;font-size: 18px;color: #fff}
.order-progress li.has-go{background: url(../images/hasOrder.png) no-repeat center center;background-size: cover;}
.order-progress li.no-go{background: url(../images/noOrder.png) no-repeat center center;background-size: cover;color: #999}
.order-progress li.now-go{width: 385px;height: 65px;background: url(../images/nowOrder.png) no-repeat center center;background-size: cover;line-height: 65px;}
.order-progress li em{display: inline-block;width: 26px;height: 26px;border-radius: 50%;text-align: center;line-height: 26px;background: #fff;color: #46D7B0;font-size: 18px;margin-right: 12px;}
.order-progress li.grey em{background: #999;color: #fff;}

.order-progress li.secd_li{position: absolute;left: 272px;}
.order-progress li.third_li{position: absolute;left: 544px;}
.order-progress li.four_li{position: absolute;left: 811px;top: -7px;}
/*订单详情*/
.main_con .suc_left,.main_con .suc_right{width: 50%;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;min-height: 562px;}
.main_con .suc_left{background: #E8F3F4; padding: 70px 120px 120px 97px;}
.suc_left .left_top{font-size: 30px;font-weight: bold;}
.suc_left .left_top i{display: inline-block;width: 58px;height: 74px;background: url(../images/success.png) no-repeat center center;background-size: cover;vertical-align: middle;float: left;margin-right: 16px;}
.suc_left .left_top h3{line-height: 74px;font-weight: bold;}
.left_con dl{margin-top: 40px;}
.left_con dl dt{font-size: 14px;color: #999;margin-bottom: 4px;}
.left_con dl dd{line-height: 18px;}
.suc_left ul{margin-top: 56px;}
.suc_left ul li{float: left;margin-right: 10px;font-size: 16px;color: #01CABF;background: #fff;}
.suc_left ul li a{color: #01CABF;padding: 0 28px;display: block;height: 38px;border: 1px solid #01CABF;line-height: 38px;border-radius:3px;}
.suc_left ul li.xu-a a,.suc_left ul li.buy-a a{background: #01CABF;color: #fff;position: relative;z-index: 2}
.suc_left ul li.cancel:hover a,.suc_left ul li.orDetail:hover a{background: #01CABF;color: #fff}
.suc_left ul li.xu-a a:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);background-color: rgba(0, 0, 0,.1); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#19000000, endcolorstr=#19000000);}
.suc_left ul li.buy-a a:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);background-color: rgba(0, 0, 0,.1); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#19000000, endcolorstr=#19000000);}
.suc_right {padding: 0 20px}
.suc_right h2.tit-h2{padding: 22px 0 20px;border-bottom: 1px solid #E5E5E5;font-size: 18px;font-weight: bold;}
.hotelInfo {padding: 20px 0}
.hotelInfo .left_img{width: 120px;height: 90px;position: relative;overflow: hidden;float: left;}
.hotelInfo .left_img img{width: 100%;height: 100%;object-fit: cover;display: block;}
.hotelInfo .right_b{margin-left: 130px;height: 90px;position: relative;}
.hotelInfo .right_b h3{font-size: 16px;}
.hotelInfo .right_b .addr{position: absolute;bottom: 10px;font-size: 14px;color: #A0A0A0}
.hotelInfo .right_b .addr i{display: inline-block;width: 18px;height: 18px;background: url(../images/attr_posi.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-top: -4px;margin-right: 3px;}

.hotelInfo2 .hotel_top{padding: 22px 0 20px;border-bottom: 1px solid #E5E5E5;}
.hotelInfo2 .hotel_top h2{display: inline-block;font-size: 18px;font-weight: bold;}
.hotelInfo2 .hotel_top span{display: inline-block;color: #666;margin-left: 28px;}
.hotelInfo2 .hotel_top span em{color: #333;margin-right: 5px;}
.hotelInfo2 .hotel_bot{padding: 20px 0}
.hotelInfo2 .hotel_bot dl{margin-bottom: 20px;font-size: 0}
.hotelInfo2 .hotel_bot dl dt,.hotelInfo2 .hotel_bot dl dd{display: inline-block;font-size: 14px;color: #666;}
.hotelInfo2 .hotel_bot dl dt{margin-right: 36px;}

/*跟团游 一日游*/
.suc_left .left_top h2{margin-left: 74px;min-height: 74px;}
.suc_left .left_top em{font-size: 14px;color: #999;display: block;margin-top: 12px;}
.suc_left .left_top span{font-size: 30px;font-weight: bold;display: block;}
.suc_left ul.ticket-ul{margin-top: 26px;}
.left_con2 .qrCode{width: 223px;height: 218px;margin-top: 30px;}
.left_con2 .qrCode img{width: 223px;height: 218px;}
.left_con2 p.tip{margin-top: 10px;font-size: 18px;color: #999}
.left_con2 p.tip span{color: #333}

/*签证*/
.visa_con.main_con .suc_left,.visa_con.main_con .suc_right{min-height: 500px;}
.visa_con .suc_left{padding-top: 150px;}
.visa_con .suc_left ul.ticket-ul{margin-top: 50px}