
.main_wrap{background: #F7F4F8;padding-bottom: 20px}
.order-progress{margin-top: 40px}
.main_con{margin-top: 37px}


/*订单进度*/
.order-progress ul{position: relative;}
.order-progress li{float: left;width: 286px;height: 51px;text-align: center;line-height: 51px;font-size: 18px;color: #fff}
.order-progress li.has-go{background: url(../images/hasOrder.png) no-repeat center center;background-size: cover;}
.order-progress li.no-go{background: url(../images/noOrder.png) no-repeat center center;background-size: cover;color: #999}
.order-progress li.now-go{width: 385px;height: 65px;background: url(../images/nowOrder.png) no-repeat center center;background-size: cover;line-height: 65px;}
.order-progress li em{display: inline-block;width: 26px;height: 26px;border-radius: 50%;text-align: center;line-height: 26px;background: #fff;color: #46D7B0;font-size: 18px;margin-right: 12px;}
.order-progress li.grey em{background: #999;color: #fff;}

.order-progress li.secd_li{position: absolute;left: 266px;top: -7px;}
.order-progress li.third_li{position: absolute;left: 638px;}
.order-progress li.four_li{position: absolute;left: 910px;}
/*订单详情*/
.order_left{width: 800px;float: left;background: #fff;box-shadow:0px 6px 13px 0px rgba(163,163,163,0.1);-webkit-box-shadow:0px 6px 13px 0px rgba(163,163,163,0.1);-ms-box-shadow:0px 6px 13px 0px rgba(163,163,163,0.1);-moz-box-shadow:0px 6px 13px 0px rgba(163,163,163,0.1);}
.order_left .left_con{padding: 20px 20px 0;}
.order_left .order_top{background: #F5F5F5;}
.order_left .order_top i.leftIcon{width: 50px;height: 50px;background: #D2F4EB url(../images/info-icon.png) no-repeat center center;background-size: 30px;float: left;}

.order_left .order_top h2{margin-left:65px;line-height: 50px;font-size: 20px;font-weight: bold;height: 50px; }
.order_left .order_top h2 em{font-size: 14px;color: #999;margin-left: 10px;}
.order_left .order_con{padding-left: 65px;}
.order_left .order_con h3.orderTitle{font-size: 18px;margin-top: 24px;}
.order_left .order_con dl{margin-top: 26px;font-size: 0;}
.order_left .order_con dl dt{display: inline-block;font-size: 14px;margin-right: 20px;vertical-align: top;}
.order_left .order_con dl dd{display: inline-block;font-size: 14px;}
.order_left .order_con dl.start-time dt{line-height: 36px;}
.order_left .order_con dl.start-time dd{position: relative;}
.order_left .order_con dl.start-time dd input{line-height: 36px;width: 224px;height: 34px;border:1px solid #ccc;padding-left: 8px;position: relative;    outline: none;cursor: pointer}
.order_left .order_con dl.start-time i.time-icon{display: inline-block;width: 19px;height: 15px;background:  url(../images/time-icon.png) no-repeat center center;background-size: cover;position: absolute;left: 210px;top: 10px;cursor: pointer}
.order_left .order_con dl.start-people dt{line-height: 34px}
.order_con .num_people>div{display: inline-block;}
.order_con .num_people .adult{margin-right: 40px;}
/*.num_people ._left{float: left; font-size: 14px; color: #333; line-height:34px;font-weight: bold;}*/
.num_people ._right{float: right; line-height: 30px;border: 1px solid #ccc;/*margin-left: 16px*/}
.num_people ._right a{display: inline-block; width: 30px; height: 30px; background-position: center; background-size: cover; background-repeat: no-repeat; vertical-align: middle;background-size: 12px;}
.num_people ._right a.add{background-image: url(../images/add_icon.png);border-left: 1px solid #ccc}
.num_people ._right a.jian{background-image: url(../images/jian_icon.png);border-right: 1px solid #ccc}
.num_people ._right span{font-size: 14px; color: #666; margin:0 15px;}
/*预订人信息*/
.order_left .order_top.orPeople{margin-top: 65px;margin-bottom: 30px;}
.order_left .order_top.orPeople i.leftIcon{background: #D2F4EB url(../images/peo-icon.png) no-repeat center center;background-size: 30px;}
.order_left .peo_con{padding-left: 65px;}

.order_left .peo_con dl{margin-top: 20px;font-size: 0;}

.order_left .peo_con dl dt{display: inline-block;font-size: 14px;margin-right: 10px;vertical-align: top;line-height: 36px;}
.order_left .peo_con dl dt em.star{color: #FF6600;margin-right: 3px;}
.order_left .peo_con dl dd{display: inline-block;font-size: 14px;}
.order_left .peo_con dd input{background: none;border:1px solid #ccc;-webkit-appearance:none;height: 34px;line-height: 36px;padding-left: 10px;width: 182px;}
.order_left .peo_con dd input::-webkit-input-placeholder {color: #A0A0A0;}
.order_left .peo_con dd input:-moz-placeholder {color: #A0A0A0;}
.order_left .peo_con dd input:-ms-input-placeholder {color: #A0A0A0;}
.order_left .peo_con dl.peo_id input{width: 336px;}
.order_left .peo_con dd span.tip_span{color: #A0A0A0;margin-left: 12px;line-height: 36px;}
.order_left .submit_btn{margin-top: 58px;padding: 20px 0 28px;background: #F5F5F5;text-align: center;}
.order_left .submit_btn a{display: inline-block;width: 200px;height: 50px;text-align: center;line-height: 50px;background: #FF6600;border-radius: 3px;font-size: 18px;color: #fff;}
/*结算信息*/
.settlement {width: 380px;background: #fff;box-shadow:0px 6px 13px 0px rgba(163,163,163,0.1);-webkit-box-shadow:0px 6px 13px 0px rgba(163,163,163,0.1);-moz-box-shadow:0px 6px 13px 0px rgba(163,163,163,0.1);-ms-box-shadow:0px 6px 13px 0px rgba(163,163,163,0.1);border-top: 2px solid #00CBC6;position: absolute;margin-left: 820px;}
.settlement h2{font-size: 18px;color: #333;text-align: center;padding: 15px 0;position: relative;}
.settlement h2:before{content: '';display: block;position: absolute;left: 20px;top: 26px;width: 115px;height: 1px;background: #EBEBEB;}
.settlement h2:after{content: '';display: block;position: absolute;right: 20px;top: 26px;width: 115px;height: 1px;background: #EBEBEB;}
.tour_fare{padding: 20px}
.tour_fare .tour_top{padding: 5px 0 20px;border-bottom: 1px solid #EBEBEB;}
.tour_fare .tour_top span{font-size: 14px;color: #666;}
.tour_fare .tour_top span.detail_all{color: #FF6600;}
.tour_fare .tour_bot{text-align: right;font-size: 14px;color: #999;padding: 20px 0 10px;}

.settlement .priceAll{padding: 23px 20px 23px 17px;background: #FFEFE5;border-top: 1px dashed rgba(255,102,0,.3)}
.settlement .priceAll span{font-size: 20px;color: #333;}
.settlement .priceAll span.price_all{color: #FF6600;}
/*国际手机号*/
.order_left .peo_con dd{position: relative;}
.order_left .peo_con .inpbdr{border: 1px solid #ccc;height: 34px;position: relative;display: inline-block;}
.order_left .peo_con .inpbdr .areaCode{border-right: 1px solid #ccc;width: 70px;text-indent: 16px; font-size: 14px;text-align: left;z-index: 10;line-height: 36px;bottom: 1px;top: 1px;left: 1px;}
.order_left .peo_con .inpbdr .areaCode s{right: 12px}
.order_left .peo_con input#tel{border: none;padding-left: 80px;margin: 0;height: 34px;line-height: 34px;}
.order_left .peo_con .areaCode_wrap{left: 0;width: 100%;top: 36px;}
/*美化chrome滚动条*/
::-webkit-scrollbar {width:7px;height:7px;-webkit-border-radius:5px;}
::-webkit-scrollbar-track-piece {-webkit-border-radius:5px;}
::-webkit-scrollbar-thumb:vertical {background-color:rgba(0,0,0,.10);-webkit-border-radius:5px;}
::-webkit-scrollbar-thumb:horizontal {background-color:rgba(0,0,0,.10);-webkit-border-radius:5px;}
::-webkit-scrollbar:hover {}
::-webkit-scrollbar-thumb:hover {background-color:rgba(0,0,0,.15);}

/*景点门票预订时样式修改*/
.order_left h3.orderTitle{position: relative;}
.order_left h3.orderTitle i.more-icon{display: inline-block;;width: 18px;height: 18px;background: url(../images/more-down.png) no-repeat center center;background-size: cover;position: absolute;right: 0;cursor: pointer}
.order_left h3.orderTitle i.more-icon.more-hide{background: url(../images/more-up.png) no-repeat center center;background-size: cover;}
.buy_note{background: #F5F5F5;padding: 30px 20px;margin-top: 25px;position: relative;line-height: 26px;color: #666;position: relative;display: none;}
.buy_note:after {content: '';display: block;position: absolute;z-index: 2;left: 30px;top: -6px;width: 12px;height: 8px;background: url(../images/more-arrow.png) no-repeat center center;background-size: cover;}
.buy_note span.hide_con{font-size: 14px;color: #00CBC9;position: absolute;right: 23px;bottom: 14px;cursor: pointer;}
/*日历修改样式*/
#single-pick{display: none;position: absolute;top: 40px;width: 399px;z-index: 99;background:#FFF;-ms-box-shadow:-2px 2px 5px #b6b6b6,2px 2px 5px #b6b6b6;box-shadow:-2px 2px 5px #b6b6b6,2px 2px 5px #b6b6b6;font:12px/20px Arial,'Microsoft YaHei',sans-serif,SimSun;color:#666;-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(color=#b6b6b6,direction=90,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#b6b6b6,direction=180,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#b6b6b6,direction=270,strength=3)"}

.cal-hd .cal-title .cal-text{display: inline-block;line-height: 34px;}
.cal-switcher .cal-prev{display: none}
.cal-data-now .cal-text{display: inline-block;color: #666;padding-top: 13px;line-height: 1;font-size:12px; }
.cal-data-now .hprice{font-size: 12px;color: #f60;    font: 12px/20px Arial,'Microsoft YaHei',sans-serif,SimSun;}

.cal-date:hover .cal-text,.cal-date:hover .hprice{color: #fff}
.cal-picked .cal-text,.cal-picked .hprice{color: #fff!important}
.curr-chose.cal-current{background: none!important;}
.cal-disabled .hprice{display: none;}
