

/*列表*/
.class_wrap{margin-top: 24px; padding-bottom: 40px;}


/*列表*/
.ticket-list li{width: 285px; float: left; margin-top: 20px; position: relative;margin-right: 20px;background: #fff;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;}
.ticket-list li:hover{-webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);-moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}
.ticket-list li:nth-child(4n){margin-right: 0}
.ticket-list li>a{display: block; width: 285px;margin: auto;}
.ticket-list .labshow{font-size: 14px; color: #fff; height: 28px; line-height: 28px; background-color: #FDC224; top: 20px; left: 0; position: absolute;text-align: center;padding: 0 8px;z-index: 2}  /*标签样式*/
.ticket-list li .videoshow {position: relative;}
.ticket-list li .videoshow:after{content: '';display: block; width:40px; height: 40px; background-image: url(../images/index/tj_video.png); background-size: cover; position: absolute; left: 50%; top: 50%; margin-left: -20px; margin-top: -20px;z-index: 2}
.ticket-list .ticket_img{width:100%; height: 214px;  overflow: hidden;position: relative;background:#F5F7F8 }
.ticket-list .ticket_img img{width: 100%;height: 100%;object-fit: cover;display: block;}

.ticket-list .ticketInfo{padding: 10px 16px 14px;}
.ticket-list .ticketInfo h2{font-size: 16px;  width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin-bottom: 8px;color: #333;}
.ticket-list .ticketInfo .t_property{font-size: 0;height: 22px;overflow: hidden;margin-bottom: 8px;}
.ticket-list .ticketInfo .t_property span{display: inline-block;margin-right: 5px;height: 22px;line-height: 22px;padding: 0 8px;background: rgba(1,198,175,.15);border-radius: 2px;font-size: 14px;color: #01C6AF}
.ticket-list .ticketInfo p.price{font-size: 14px; color: #a0a0a0; float: left;}
.ticket-list .ticketInfo p.price span{color: #FF6600; }
.ticket-list .ticketInfo p.price span em{font-size: 18px; }
.ticket-list .ticketInfo p.attr_posi{float: right; font-size: 14px; color:#a0a0a0 ;margin-top: 4px;}
.ticket-list .ticketInfo p.attr_posi i{display: inline-block;width: 18px;height: 18px;background: url(../images/attr_posi.png) no-repeat center center;background-size: cover;   vertical-align: middle;margin-top: -3px;}
.ticket-list li.failed{width: 100%}
.ticket-list li.failed span{display: block;width: 100%;text-align: center;line-height: 88px;}
/*猜你喜欢*/
.like_wrap{padding: 30px 0;background: #fff}
.like_wrap .topTitle h2{display: inline-block;font-size: 24px;font-weight: bold;}
.like_wrap .topTitle a{display: none;float: right;font-size: 14px;color: #01C6AF}
.like_wrap .topTitle a i{display: inline-block;width: 14px;height: 14px;background: url(../images/fresh.png) no-repeat center center;background-size: cover;margin-right: 5px;    vertical-align: middle;margin-top: -3px;}
.com-list li{width: 224px; float: left; margin-top: 20px; position: relative;margin-right: 20px;background: #fff;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;}
.com-list li:hover{-webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);-moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}
.com-list li:last-child{margin-right: 0}
.com-list li>a{display: block; width: 224px;margin: auto;}
.com-list .labshow{font-size: 14px; color: #fff; height: 28px; line-height: 28px; background-color: #FDC224; top: 20px; left: 0; position: absolute;text-align: center;padding: 0 8px;z-index: 2}  /*标签样式*/
.com-list li .videoshow {position: relative;}
.com-list li .videoshow:after{content: '';display: block; width:40px; height: 40px; background-image: url(../images/index/tj_video.png); background-size: cover; position: absolute; left: 50%; top: 50%; margin-left: -20px; margin-top: -20px;z-index: 2}
.com-list .recimgshow{width:100%; height: 169px;  overflow: hidden;position: relative;background:#F5F7F8 }
.com-list .recimgshow img{width: 100%;height: 100%;object-fit: cover;display: block;}

.com-list .rectextshow{padding: 4px 15px 14px;border: 1px solid #eee;border-top: none}
.com-list .rectextshow h2{font-size: 16px;  width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin-bottom: 5px;color: #333;}
.com-list .rectextshow p.price{font-size: 14px; color: #a0a0a0; float: left;}
.com-list .rectextshow p.price span{color: #FF6600; }
.com-list .rectextshow p.price span em{font-size: 18px; }
.com-list .rectextshow p.attr_posi{float: right; font-size: 14px; color:#a0a0a0 ;margin-top: 4px;}

.footer {margin-top: 0;}
.list_left .list_ul li.empty {text-align: center; font-size: 17px; color:#8c8c91; padding-bottom: 50px;}
.empty img {width: 300px; margin: 50px auto 20px; display: block;}
.failed img{display: block;margin: 0 auto}

.com-list .loading{text-align: center;line-height: 100px;font-size: 20px;}