
.main_wrap{background: #F7F4F8}
/*列表*/
.class_wrap{padding-bottom: 40px;}


/*列表*/
.video-list li{width: 285px; float: left; margin-bottom: 20px; position: relative;margin-right: 20px;background: #fff;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;}
.video-list li:hover{-webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);-moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}
.video-list li:nth-child(4n){margin-right: 0}
.video-list li>a{display: block; width: 285px;margin: auto;}

.video-list .video_img{width:100%; height: 214px;  overflow: hidden;position: relative;background:#F5F7F8 }
.video-list .video_img img{width: 100%;height: 100%;object-fit: cover;display: block;}

.video-list .videoInfo{padding: 12px 15px 15px;}
.video-list .videoInfo h2{font-size: 16px;  width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin-bottom: 16px;color: #333;font-weight: bold;}
.up_more{  overflow: hidden; }
.up_more ._left .headimg{width:34px; height: 34px; border-radius: 50%; overflow: hidden; float: left;} 
.up_more ._left .headimg img{width: 100%; height: 100%; object-fit: cover;}
.up_more ._left{overflow: hidden; float: left;}
.up_more ._left .up_name{float: left; line-height: 34px; margin-left: 8px; font-size: 14px; color: #999; max-width: 130px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.up_more p.see_right{float: right; font-size: 14px; color:#999 ;margin-top: 7px;    }
.up_more p.see_right i{display: inline-block;width: 16px;height: 16px;background: url(../images/ic_look.png) no-repeat center center;background-size: cover;   vertical-align: middle;margin-top: -2px;margin-right: 7px;}

.video-list li.failed{width: 100%}
.video-list li.failed span{display: block;width: 100%;text-align: center;line-height: 88px;}
/*因为上面的li 是距离底部20px*/
.pagination{margin-top: 10px;}

.footer {margin-top: 0;}
.empty img {width: 300px; margin: 50px auto 20px; display: block;}
.failed img{display: block;margin: 0 auto}
