
.main_wrap{background: #F6F5F8}
.main_con{margin-top: 0}
.list_left{width: 800px}
.lf_content {background: #fff;padding: 30px 20px 30px;}
.lf_content .newsArticle{}
.newsArticle .title{margin-bottom: 10px;}
.newsArticle .title h4{font-size: 24px;font-weight: bold;color: #333;width: 700px;}
.newsArticle .video-con{ border-bottom: 1px dashed #ddd;padding-bottom: 10px;margin-top: 30px;}
.newsArticle .video-box{width: 750px; max-height:750px;margin: 0 auto;overflow: hidden;text-align: center;}
.newsArticle .video-box img{width: 750px;height: 750px;}
.newsArticle .video-box iframe{width: 750px;height: 750px;}
.newsArticle .video-box video{max-width: 750px;max-height: 750px;}

.newsArticle .text{font-size: 14px;margin-top: 15px;}
.newsArticle .text p{line-height: 26px; color: #333;}
.newsArticle .msg{height: 45px;line-height: 45px;font-size: 16px;color: #333;}
.newsArticle .msg span{display: inline-block;height: 40px; padding-left: 28px;margin-left: 40px;}
.newsArticle .msg .zan{background: url("../images/icon_like.png") no-repeat 0 13px;cursor: pointer;}
.newsArticle .msg .zan.active {background: url(../images/icon_likea.png) no-repeat 0 13px;}
.newsArticle .msg .pl{background: url("../images/pl2.png") no-repeat 0 11px;}
.newsArticle .msg .see{background: url("../images/see.png") no-repeat 0 15px;}
.clear {
    clear: both
}
/*来源，摘要等信息*/
.tit-bar {padding-bottom: 5px; line-height: 25px; border-bottom: 1px solid #ddd;}
.tit-bar span {float: left; color: #666;}
.tit-bar .review {float: right; margin-right: 10px; line-height: 20px; color: #000; padding-left: 35px; background: url('../images/icons.png') 0 -553px no-repeat;}
.tit-bar .review strong {font-size: 20px; font-weight: 500; font-family: geprgia, Georgia, sans-serif; font-style: italic; color: #b92635;}
.summary {margin-top: 10px; padding: 10px; background: #f3f3f3; font-size: 14px; line-height: 1.8em;}
/*右侧发布者信息信息*/
.list_r {float: right;width: 370px;}

.mediaInfo{width: 370px;position:relative;background: #fff;margin-bottom:15px;box-shadow: 0px 3px 6px 0px rgba(219, 232, 244, 0.54); border-radius: 4px;padding: 20px;box-sizing: border-box;}
.mediaInfo .infotop{border-bottom: 1px dashed #eee;padding-bottom: 20px;margin-bottom: 20px;}
.mediaInfo .infotop .pic{width: 50px;height: 50px;border-radius: 50%;overflow: hidden;float: left;}
.mediaInfo .infotop .pic img{width: 100%;height: 50px;}
.mediaInfo .infotop .fabuInfo{margin-left: 65px;min-height: 50px;}
.mediaInfo .infotop .name{font-size: 18px;color: #333;display: block;padding-right: 74px;}
.mediaInfo .infotop .qm{font-size: 14px;color: #a0a0a0;padding-right: 74px;}
.btn_care{position: absolute;right: 20px;top: 30px;display: inline-block;background-image: -moz-linear-gradient( 45deg, rgb(19,96,236) 0%, rgb(17,192,249) 100%);text-align: center;cursor: pointer; background-image: -webkit-linear-gradient( 45deg, rgb(19,96,236) 0%, rgb(17,192,249) 100%); background-image: -ms-linear-gradient( 45deg, rgb(19,96,236) 0%, rgb(17,192,249) 100%); height: 30px;border-radius: 15px;padding: 0 6px;line-height: 30px;min-width: 50px;color: #fff;font-size:14px;}
.btn_care.cared, .btn_care.disabled{background: #d6d6d6;}
.btn_care.disabled {cursor: no-drop;}
.mediaInfo .msg .gz{position: relative;}
.mediaInfo .msg div{text-align: center;font-size: 16px;color: #333;font-weight: bold;width: 105px;}
.mediaInfo .msg div span{display: block;font-weight: 500;font-size: 14px;color: #888;}
.mediaInfo .msg .gz:before{content: "";width: 0;height: 43px;border-right: 1px solid #eee;position: absolute;top: 3px;left: 3px;}
.mediaInfo .msg .gz:after{content: "";width: 0;height: 43px;border-right: 1px solid #eee;position: absolute;top: 3px;right: 3px;}

/*精彩推荐*/
.listr_video{background: #fff;box-shadow:0px 3px 10px 0px rgba(136,136,136,0.1);-webkit-box-shadow:0px 3px 10px 0px rgba(136,136,136,0.1);-moz-box-shadow:0px 3px 10px 0px rgba(136,136,136,0.1);-ms-box-shadow:0px 3px 10px 0px rgba(136,136,136,0.1);}
.listr_video .newr_tit{font-size: 18px;font-weight: bold;padding: 16px 20px;border-bottom: 1px solid #eee;}
.video-list ul{padding: 15px 15px 10px;}
.video-list li{width: 160px; float: left; margin-bottom: 13px; position: relative;margin-right: 20px;background: #fff;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;}

.video-list li:nth-child(2n){margin-right: 0}
.video-list li>a{display: block; width: 160px;margin: auto;}

.video-list .video_img{width:100%; height: 90px;  overflow: hidden;position: relative;background:#F5F7F8 }
.video-list .video_img img{width: 100%;height: 100%;object-fit: cover;display: block;}

.video-list .videoInfo{padding: 15px 0;}
.video-list .videoInfo h2{font-size: 14px;  width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin-bottom: 8px;color: #333;}
.up_more{  overflow: hidden; }
.up_more ._left .headimg{width:30px; height: 30px; border-radius: 50%; overflow: hidden; float: left;} 
.up_more ._left .headimg img{width: 100%; height: 100%; object-fit: cover;}
.up_more ._left{overflow: hidden; float: left;}
.up_more ._left .up_name{float: left; line-height: 30px; margin-left: 6px; font-size: 12px; color: #999; max-width: 57px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.up_more p.see_right{float: right; font-size: 14px; color:#999 ;margin-top: 7px;    }
.up_more p.see_right i{display: inline-block;width: 16px;height: 16px;background: url(../images/ic_look.png) no-repeat center center;background-size: cover;   vertical-align: middle;margin-top: -2px;margin-right: 7px;}

