
.main_wrap{background: #F7F4F8;padding-bottom: 20px}
.order-progress{margin-top: 40px}
.main_con{margin-top: 37px}
.right{float: right;}
.left{float: left;}

/*订单进度*/
.order-progress ul{position: relative;}
.order-progress li{float: left;width: 286px;height: 51px;text-align: center;line-height: 51px;font-size: 18px;color: #fff}
.order-progress li.has-go{background: url(../images/hasOrder.png) no-repeat center center;background-size: cover;}
.order-progress li.no-go{background: url(../images/noOrder.png) no-repeat center center;background-size: cover;color: #999}
.order-progress li.now-go{width: 385px;height: 65px;background: url(../images/nowOrder.png) no-repeat center center;background-size: cover;line-height: 65px;}
.order-progress li em{display: inline-block;width: 26px;height: 26px;border-radius: 50%;text-align: center;line-height: 26px;background: #fff;color: #46D7B0;font-size: 18px;margin-right: 12px;}
.order-progress li.grey em{background: #999;color: #fff;}

.order-progress li.secd_li{position: absolute;left: 266px;top: -7px;}
.order-progress li.third_li{position: absolute;left: 638px;}
.order-progress li.four_li{position: absolute;left: 910px;}
/*订单详情*/
.order_left{width: 800px;float: left;background: #fff;box-shadow:0px 6px 13px 0px rgba(163,163,163,0.1);-webkit-box-shadow:0px 6px 13px 0px rgba(163,163,163,0.1);-ms-box-shadow:0px 6px 13px 0px rgba(163,163,163,0.1);-moz-box-shadow:0px 6px 13px 0px rgba(163,163,163,0.1);}
.order_left .left_con{padding: 20px 20px 0;}
.order_left .order_top{background: #F5F5F5;}
.order_left .order_top i.leftIcon{width: 50px;height: 50px;background: #D2F4EB url(../images/info-icon.png) no-repeat center center;background-size: 30px;float: left;}

.order_left .order_top h2{margin-left:65px;line-height: 50px;font-size: 20px;font-weight: bold; height: 50px;}
.order_left .order_top h2 em{font-size: 14px;color: #999;margin-left: 10px;}
.order_left .order_con{padding-left: 65px;}
.order_left .order_con h3.orderTitle{font-size: 18px;margin-top: 24px;}
.order_left .order_con dl{margin-top: 26px;font-size: 0;}
.order_left .order_con dl dt{display: inline-block;font-size: 14px;margin-right: 18px;vertical-align: top;}
.order_left .order_con dl dd{display: inline-block;font-size: 14px;}
.order_left .order_con dl span.tip-span{font-size: 14px;color: #999;margin-left: 12px;}
.order_left .order_con dl span.tip-span em{color: #FF6600;}
.order_left .order_con dl.start-time dt{line-height: 36px;}
.order_left .order_con dl.start-time dd{position: relative;}
.order_left .order_con dl.start-time dd input{line-height: 36px;width: 160px;height: 34px;border:1px solid #ccc;padding-left: 8px;position: relative;    outline: none;cursor: pointer}
.order_left .order_con dl.start-time i.time-icon{display: inline-block;width: 19px;height: 15px;background:  url(../images/time-icon.png) no-repeat center center;background-size: cover;position: absolute;left: 138px;top: 10px;cursor: pointer}
.order_left .order_con dl.start-people dt{line-height: 34px}
.order_con .num_people>div{display: inline-block;}
.order_con .num_people .adult{margin-right: 40px;}
/*.num_people ._left{float: left; font-size: 14px; color: #333; line-height:34px;font-weight: bold;}*/
.num_people ._right{float: right; line-height: 30px;border: 1px solid #ccc;/*margin-left: 16px*/}
.num_people ._right a{display: inline-block; width: 30px; height: 30px; background-position: center; background-size: cover; background-repeat: no-repeat; vertical-align: middle;background-size: 12px;}
.num_people ._right a.add{background-image: url(../images/add_icon.png);border-left: 1px solid #ccc}
.num_people ._right a.jian{background-image: url(../images/jian_icon.png);border-right: 1px solid #ccc}
.num_people ._right span{font-size: 14px; color: #666; margin:0 15px;}
/*预订人信息*/
.order_left .order_top.orPeople{margin-top: 65px;margin-bottom: 30px;}
.order_left .order_top.orPeople i.leftIcon{background: #D2F4EB url(../images/peo-icon.png) no-repeat center center;background-size: 30px;}
.order_left .peo_con{padding-left: 65px;}

.order_left .peo_con dl{margin-top: 20px;font-size: 0;}

.order_left .peo_con dl dt{display: inline-block;font-size: 14px;margin-right: 10px;vertical-align: top;line-height: 36px;}
.order_left .peo_con dl dt em.star{color: #FF6600;margin-right: 3px;}
.order_left .peo_con dl dd{display: inline-block;font-size: 14px;}
.order_left .peo_con dd input{background: none;border:1px solid #ccc;-webkit-appearance:none;height: 34px;line-height: 36px;padding-left: 10px;width: 182px;}
.order_left .peo_con dd input::-webkit-input-placeholder {color: #A0A0A0;}
.order_left .peo_con dd input:-moz-placeholder {color: #A0A0A0;}
.order_left .peo_con dd input:-ms-input-placeholder {color: #A0A0A0;}
.order_left .peo_con dl.peo_id input{width: 336px;}
.order_left .peo_con dd span.tip_span{color: #A0A0A0;margin-left: 12px;line-height: 36px;}
.order_left .submit_btn{margin-top: 38px;padding: 20px 0 26px;background: #F5F5F5;text-align: center;}
.order_left .submit_btn a{display: inline-block;width: 200px;height: 50px;text-align: center;line-height: 50px;background: #FF6600;border-radius: 3px;font-size: 18px;color: #fff;}
/*申请人信息*/
.apply_content .apply{border-top: 1px dashed #ccc;padding: 22px 0 30px}
.apply_content .apply:first-child{border-top: none}
.apply_content .apply-h2{font-size: 14px;font-weight: bold}
.apply_content dd select{background: none;border:1px solid #ccc;-webkit-appearance:none;height: 36px;line-height: 36px;padding-left: 10px;width: 194px;position: relative;}
.apply_content dd.selectCus:after{content: '';display: block;width: 0;height: 0;border-left: 6px solid transparent;border-right: 6px solid transparent;_border-left: 6px solid white;_border-right: 6px solid white;border-top: 6px solid #666;overflow:hidden;position: absolute;top: 15px;right: 8px;}
.order_left .apply_con dl.birth i.time-icon{display: inline-block;width: 19px;height: 15px;background:  url(../images/time-icon.png) no-repeat center center;background-size: cover;position: absolute;left: 168px;top: 10px;cursor: pointer}
.order_left .peo_con dd input.birthday{cursor: pointer;}
/*结算信息*/
.settlement {width: 380px;background: #fff;box-shadow:0px 6px 13px 0px rgba(163,163,163,0.1);-webkit-box-shadow:0px 6px 13px 0px rgba(163,163,163,0.1);-moz-box-shadow:0px 6px 13px 0px rgba(163,163,163,0.1);-ms-box-shadow:0px 6px 13px 0px rgba(163,163,163,0.1);border-top: 2px solid #00CBC6;position: absolute;margin-left: 820px;}
.settlement h2{font-size: 18px;color: #333;text-align: center;padding: 15px 0;position: relative;}
.settlement h2:before{content: '';display: block;position: absolute;left: 20px;top: 26px;width: 115px;height: 1px;background: #EBEBEB;}
.settlement h2:after{content: '';display: block;position: absolute;right: 20px;top: 26px;width: 115px;height: 1px;background: #EBEBEB;}
.tour_fare{padding: 20px}
.tour_fare .tour_top{padding: 5px 0 20px;border-bottom: 1px solid #EBEBEB;}
.tour_fare .tour_top span{font-size: 14px;color: #666;}
.tour_fare .tour_top span.detail_all{color: #FF6600;}
.tour_fare .tour_bot{text-align: right;font-size: 14px;color: #999;padding: 20px 0 10px;}

.settlement .priceAll{padding: 23px 20px 23px 17px;background: #FFEFE5;border-top: 1px dashed rgba(255,102,0,.3)}
.settlement .priceAll span{font-size: 20px;color: #333;}
.settlement .priceAll span.price_all{color: #FF6600;}
/*国际手机号*/
.order_left .peo_con dd{position: relative;}
.order_left .peo_con .inpbdr{border: 1px solid #ccc;height: 34px;position: relative;display: inline-block;}
.order_left .peo_con .inpbdr .areaCode{border-right: 1px solid #ccc;width: 70px;text-indent: 16px; font-size: 14px;text-align: left;z-index: 10;line-height: 36px;bottom: 1px;top: 1px;left: 1px;}
.order_left .peo_con .inpbdr .areaCode s{right: 12px}
.order_left .peo_con input#tel{border: none;padding-left: 80px;margin: 0;height: 34px;line-height: 34px;}
.order_left .peo_con .areaCode_wrap{left: 0;width: 100%;top: 36px;}
/*美化chrome滚动条*/
::-webkit-scrollbar {width:7px;height:7px;-webkit-border-radius:5px;}
::-webkit-scrollbar-track-piece {-webkit-border-radius:5px;}
::-webkit-scrollbar-thumb:vertical {background-color:rgba(0,0,0,.10);-webkit-border-radius:5px;}
::-webkit-scrollbar-thumb:horizontal {background-color:rgba(0,0,0,.10);-webkit-border-radius:5px;}
::-webkit-scrollbar:hover {}
::-webkit-scrollbar-thumb:hover {background-color:rgba(0,0,0,.15);}

/*日历修改样式*/
#single-pick{display: none;position: absolute;top: 40px;width: 399px;z-index: 99;background:#FFF;-ms-box-shadow:-2px 2px 5px #b6b6b6,2px 2px 5px #b6b6b6;box-shadow:-2px 2px 5px #b6b6b6,2px 2px 5px #b6b6b6;font:12px/20px Arial,'Microsoft YaHei',sans-serif,SimSun;color:#666;-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(color=#b6b6b6,direction=90,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#b6b6b6,direction=180,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#b6b6b6,direction=270,strength=3)"}

.cal-hd .cal-title .cal-text{display: inline-block;line-height: 34px;}
.cal-switcher .cal-prev{display: none}
/*材料回寄信息*/
.order_left .order_top.material{margin-top: 50px;}
.order_left .order_top.material i.leftIcon{background: #D2F4EB url(../images/material-icon.png) no-repeat center center;background-size: 30px;}
/*收货地址*/
.part1Con{width: 100%; margin:25px 0;}
.part1Con .loading {width: 100%; height: 132px; text-align: center; font-size: 14px; line-height: 132px;}
.part1Con dl{ float: left; margin: 10px 10px 0 0;position: relative;}
.part1Con dt{position: relative; width:208px; height: 92px; padding: 6px 15px 10px; border:1px solid #E6E6E6; background: #fff; cursor: pointer;}
.part1Con dt i{position: absolute; right: -1px; bottom:-1px; width: 14px; height: 14px;background: url(../images/address-checked.png) center; display: none;}
.part1Con dt p.name{font-size: 16px; color: #000;margin-bottom: 6px;}
.part1Con dt p.address,.part1Con dt p.detail{font-size: 14px; color: #999; }
.part1Con dt p.detail{max-width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.part1Con dt p span{margin-right: 5px;}
.part1Con dd{width: 220px; text-align: center; margin:0 0; }
.part1Con dd a{display: inline-block; height:20px; line-height: 20px; padding:0 8px; margin:0 3px; background:#fff; border:1px solid #ccc;}
.part1Con dd a.revise{position: absolute;top: 1px;right: 1px;padding: 0 6px 0 23px;height: 27px;line-height: 27px;background: #CCCCCC;color: #fff;font-size: 14px;margin: 0;display: none}
.part1Con dd a.revise:before{content: '';display: block;position: absolute;left: 6px;top: 7px;width: 14px;height: 14px;background: url(../images/edit-icon.png);background-size: cover}
.part1Con dd a.setAddress{display: none}
.part1Con dd a.delete{display: none}
.part1Con dl:hover dd a.revise{display: block;}

.part1Con dl.on dt{border-color: #FF6600}
.part1Con dl.on dt i{display: block;}
.part1Con dl.on a.setAddress{color:#333; cursor: no-drop; background: #f5f5f5}
.part1Con .add{ width:108px; height: 108px; border:1px solid #E6E6E6;  margin-top: 10px;}
.part1Con .add span{display: block; width: 40px; height: 40px; margin:20px auto 15px; background: url(../images/add-address.png);}
.part1Con .add p{text-align: center; }
/* 弹出层 */
#bg{position: fixed; left:0; top:0; width: 100%; height: 100%; background: #000; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5; z-index:1002;display: none;}
.popup,.popup1{position: fixed; _position: absolute; left: 50%; top:50%; width: 742px; height: 462px; margin-left:-372px; margin-top:-207px; background: url(../images/bg.png);display: none; z-index: 1002; }
.popCon{ width: 730px; height: 450px; margin:6px; background: #fff;   }
.popCon .tip,.popCon ul{width:700px;margin:0 auto;}
.popCon .tip{ height: 44px;  font-size: 16px; border-bottom: 1px solid #ececec; line-height: 44px}
.popCon .tip i{width:12px; height: 12px; background: url(../images/address.png) 0 -54px; margin: 16px 10px 0 0; cursor:pointer; ;}
.popCon ul{margin-top:35px;}
.popCon>ul li{width: 100%; line-height: 35px; font-size: 14px; margin-top: 20px;}
.popCon ul li.detail dl{overflow: hidden;}
.popCon ul li dt{float: left; width: 100px; height: 35px; text-align: right}
.popCon ul li dd{position: relative; margin-left: 100px;}
.popCon ul li font{color: #e54e54; margin-right: 5px}
.popCon ul li input{float: left; width: 200px; height: 33px; line-height: 33px; border:1px solid #ececec; padding:0 5px; margin-right: 10px;}
#address {width: 400px;}
#addrlist {float: left; margin-right: 10px;}
.popCon ul li dd.cue{font-size: 12px; color: #999}
.popCon ul li dd.confirm a{display: block; width: 125px; height: 36px; border-radius: 5px; text-align: center; line-height: 36px; color: #fff; font-size: 14px; background: #e11f28}
.popCon ul li dd select{height: 33px; line-height: 33px; border:1px solid #ececec; padding:0 6px; margin-right:  2px; max-width: 140px;}

.input-tips {float: left; display:none; color: #666; font-size: 12px;}
.input-tips s {display: inline-block; width: 17px; height: 17px; margin: -3px 5px 0 0; vertical-align: middle; background: url('../images/icon-status.png') 0 -296px;}
.popCon ul li.error .input-tips{display: inline-block;}
.popCon ul li.error input {border-color: #f76120;}


/*国际手机号*/
.popCon dd{position: relative;}
.popCon .inpbdr{border: 1px solid #ececec;height: 33px;line-height: 33px;width: 210px;position: relative;float: left;margin-right: 10px;}
.popCon .inpbdr .areaCode{border-right: 1px solid #ececec;width: 70px;text-indent: 18px; font-size: 14px;text-align: left;bottom: 1px;left: 1px;top: 1px;}
.popCon .inpbdr .areaCode s{right: 14px}
.popCon dd input#mobile{border: none;padding-left: 80px;width: 125px;margin-left: 0;margin-right: 0}
.popCon .areaCode_wrap{left: 0;width: 210px;top: 34px;}
.popCon .areaCode_wrap ul{width: 100%!important}
.part1Con dt p span.addr_tel{display: block;}

/*其他要求*/
.other_text h2{font-size: 14px;font-weight: bold;margin-bottom: 14px;padding-top: 15px;}
.other_text textarea{width: 100%;height: 132px;border: 1px solid #ccc;padding: 13px 11px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;resize: none;
}
.notice{font-size: 14px;color: #999;margin-top: 18px;}