
/*头部轮播图*/
.slideBox{ width:550px; height:413px; overflow:hidden; position:relative; background: #f2f2f2}
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle;position: relative; width:550px; height:413px;}
.slideBox .bd img{width: 100%;height: 100%;object-fit: cover;display: block;}

.slideBox .prev , .slideBox .next {position: absolute;top:50%;margin-top: -30px;width: 30px;height: 60px;opacity:0;filter:alpha(opacity=0);transition:opacity .3s;-webkit-transition:opacity .3s;}
.slideBox:hover .prev, .slideBox:hover .next {opacity:1;filter:alpha(opacity=100);}
.slideBox .prev{left:0;background-image: url(../images/bigPrev.png);background-repeat: no-repeat;z-index: 10;}
.slideBox .next {right:0;background-image: url(../images/bigNext.png);background-repeat: no-repeat;z-index: 10;}


.detail_right .sub_title{font-size: 16px;color: #999;line-height: 30px;}
.detail_right .visaInfo{margin-top: 17px;margin-left: -18px;overflow: hidden;}
.detail_right .visaInfo>.visaDiv{overflow: hidden;}
.detail_right .visaInfo dl{font-size:0;margin-top: 12px;float: left;width: 290px; }
.visaInfo dl dt{font-size: 14px;color: #999;display: inline-block;width: 100px;text-align: right;vertical-align: top;}
.visaInfo dl dd{font-size: 14px;color: #666;display: inline-block;max-width: 190px}
.detail_right .buy{margin-top: 45px;}

/*产品详情*/
h3.headtop2{font-size: 16px;color: #333;padding: 10px 0;position: relative;padding-left: 11px;font-weight: bold;}
h3.headtop2.headtop3{margin-top: 40px;}
h3.headtop2:before{content: ''; position: absolute;    top: 12px;left: 0;display: inline-block; width: 4px; height: 20px; background-color:#01CABF ;}
.productbox .conte-text{padding-left: 16px;color: #666}
.processbox .conte-text{padding-left: 16px;color: #666}

/*所需材料*/
.materials .headTip{    margin-bottom: 10px;    font-size: 14px;
    line-height: 24px}
.materials .sub_tab ul{border-bottom:1px solid #ddd }

.materials .sub_tab li{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;float: left;height: 40px;padding: 0 10px;margin-right: 15px;line-height: 40px;color: #666;border-right: 1px solid #fff;border-left: 1px solid #fff;cursor: pointer;}
.materials .sub_tab li.on{position: relative;line-height: 36px;color: #333;border-top: 2px solid #01C6AF;border-right: 1px solid #ddd;border-left: 1px solid #ddd;}
.materials .sub_tab li.on:before{    position: absolute;top: 37px;left: 1px;display: inline-block;width: 99%;height: 5px;content: "";background-color: #fff;}
.w180 {width:180px}
.w510 {width:510px}

.materials .material-main .tab-pane{ display: none; animation: rightFadeIn .5s ease-out;-webkit-animation: rightFadeIn .5s ease-out;-moz-animation: rightFadeIn .5s ease-out;}
.materials .material-main .tab-pane.show{display: block;}
.materials .material-main table {border:1px solid #ddd;border-top:0;   }
.materials .material-main table thead tr {background-color:#f6f6f6}
.materials .material-main table thead tr:first-child {background-color:#fff}
.materials .material-main table thead tr:first-child th {padding-top:17px;padding-bottom:7px;font-weight:700;text-align:left}
.materials .material-main table thead th {padding:10px;text-align:center}
.materials .material-main table thead th .remind {margin-left:10px;font-weight:400;color:red}
.materials .material-main table tbody tr:first-child td {border-top:0}
.materials .material-main table tbody td {padding:15px;color:#666;border-top:1px solid #eee;border-left:1px solid #eee}
.materials .material-main table tbody td.row {border-left:0}
.materials .material-main table tbody td.h4 {font-weight:700;color:#333}
/*须知/流程*/
.flowbox ul{margin-left: 30px;    margin-top: 20px;}
.flowbox ul li{padding-left: 40px; position: relative; padding-bottom: 50px;border-left: solid 1px rgba(8,203,193,.5);}
.flowbox ul li>em{ display: block; width: 32px; height: 32px; border-radius: 50%; border:1px solid #01CABF; text-align: center; position: absolute; left: -18px; top: -6px; background-color: #fff; color: #01CABF; font-size: 18px;line-height: 32px;}
.flowbox ul li:last-child{border-left: none}
.flowbox ul li:last-child>em{left: -16px}
.flowbox ul div.conte-text{padding-left: 0}
.flowbox ul p.conte-text{margin-left: 0; color: #666; font-size: 14px;pad}
.flowbox label{font-size: 14px;font-weight: bold;}

/*右侧店铺*/
.shopbox{width: 285px;background: #fff;padding: 30px 10px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; 

-o-box-sizing: border-box;}
.shopbox .shopimg{width: 142px;height: 142px;border: 1px solid #EAEAEA;border-radius: 50%;margin: 0 auto 0}
.shopbox .shopimg img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}
.shopbox .shopinfo{text-align: center;margin-top: 12px;}
.shopbox .shopinfo h2{display: inline-block;font-size: 18px;color: #333;}
.shopbox .shopinfo label{display: inline-block;width: 68px;height: 22px;background: url(../images/group/certify.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-top: -2px;}
.shopbox .shop_ul{text-align: center;}
.shopbox ul{display: inline-block;}
.shopbox ul li{height: 48px;width: 218px;box-shadow:0px 6px 15px 0px rgba(1,198,175,0.2);-webkit-box-shadow:0px 6px 15px 0px rgba(1,198,175,0.2);-moz-box-shadow:0px 6px 15px 0px rgba(1,198,175,0.2);-ms-box-shadow:0px 6px 15px 0px rgba(1,198,175,0.2);border-radius:25px;border: 1px solid #01C6AF;}
.shopbox ul li.go_shop{line-height: 50px;font-size: 16px;color: #fff;font-weight: bold;text-align: center;background: #01C6AF;margin-bottom: 20px;margin-top: 17px;}
.shopbox ul li.go_shop a{color: #fff;display: block;}
.shopbox ul li.go_call a{color: #01C6AF;}
.shopbox ul li.go_call{text-align: left;}
.shopbox ul li.go_call i{float: left;display: inline-block;width: 24px;height: 27px;background: url(../images/group/icall.png) no-repeat center center;background-size: cover;margin-top: 10px;margin-left: 26px;}
.shopbox ul li.go_shop:hover{background:#00cac2 }
.shopbox ul li.go_call:hover{background: #eefbfa}

.shopbox ul .shopCall{margin-left: 15px;text-align: center;float: left;}
.shopbox ul .shopCall h3{font-size: 18px;line-height: 1;margin-top: 7px;}
.shopbox ul .shopCall p{font-size: 14px;}

/*你可能感兴趣*/
.listr_hotel .newr_tit{font-size: 24px;    padding: 13px 0 12px;}
.hotel-list li{width: 285px; margin-bottom: 20px; position: relative;background: #fff;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;}
.hotel-list li:hover{-webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);-moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}
.hotel-list li>a{display: block; width: 285px;margin: auto;}

.hotel-list .top_b{width: 285px;height: 214px;position: relative;overflow: hidden;}
.hotel-list .top_b a{display: block;width: 285px;height: 214px;position: relative;overflow: hidden;}
.hotel-list .top_b img{width: 100%;height: 100%;object-fit: cover;display: block;}

.hotel-list .bottom_b{padding: 10px 16px 12px;}
.hotel-list .bottom_b h1.t_name{font-size: 16px;color: #333;line-height: 26px;max-width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.hotel-list .bottom_b .t_property{font-size: 0;margin-top: 8px;height: 22px;overflow: hidden;}
.hotel-list .bottom_b .t_property span{display: inline-block;margin-right: 5px;height: 22px;line-height: 22px;padding: 0 8px;background: rgba(1,198,175,.15);border-radius: 2px;font-size: 14px;color: #01C6AF}

.hotel-list .bot_other{margin-top: 10px;}
.hotel-list .t_price{font-size: 14px;color: #999;float: left;}
.hotel-list .t_price span{color: #FF6600}
.hotel-list .t_price em{font-size: 18px;}
.hotel-list p.store{float: right; font-size: 14px; color:#a0a0a0 ;margin-top: 4px;    max-width: 142px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.hotel-list p.store i{display: inline-block;width: 18px;height: 18px;background: url(../images/group/t_group.png) no-repeat center center;background-size: cover;   vertical-align: middle;margin-top: -5px;}
