.top_wrap{position: relative;}
.topAdvbox{width: 100%;height:380px }
.topAdvbox img{width: 100%;height:380px }
.countryBox{}
.countryCon{background: #fff;position: absolute;top: 0;width: 287px;height:380px ; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.countryCon .channelNav-list{    /*width: 261px;height: auto;border: 1px solid #fff;border-right: none;border-left-width: 4px;padding: 8px 10px 0 11px;background: #fff;opacity: .8;cursor: pointer;*/}
.countryCon .channelNav-tit{    position: relative;width: 261px;height: auto;border: 1px solid #fff;border-right: none;border-left-width: 4px;padding: 9px 10px 0 11px;overflow: hidden;background: #fff;opacity: .8;}
.countryCon .channelNav-tit h4 {padding-left: 10px;font-size: 17px;color: #333;font-weight: bold;padding-bottom: 8px}
.countryCon .channelNav-tit .channelNav-hot{    height: 20px;padding-top: 0;padding-bottom: 8px;overflow: hidden;padding-left: 10px;border-bottom: 1px dotted #ddd;white-space: nowrap;font-size: 0;position: relative;z-index: 2}
.countryCon .channelNav-tit .channelNav-hot a{    margin-right: 15px;float: left;font-size: 14px;color: #666;margin-bottom: 12px;}
.countryCon .channelNav-list:last-child .channelNav-hot {border-bottom: none} 
.countryCon .channelNav-tit .channelNav-hot:after{content: '';display: inline-block;width: 14px;height: 14px;background: url(../images/visa-arr.png) center center no-repeat;background-size: cover;position: absolute;right: 5px;bottom: 10px}

.countryCon .channelNav-list:hover .channelNav-tit{    z-index: 2;border: 1px solid #01CABF;border-right: none;border-left-width: 4px;opacity: 1;filter: alpha(opacity=100);}
.countryCon .sec_dd{background: #fff;    position: absolute;top: 0;left: 285px;z-index: 1;display: none!important;width: 300px;height: 380px;overflow-x: hidden;overflow-y: auto;padding: 40px;border: 1px solid #01CABF;background: #fff; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.countryCon .sec_dd a{    display: inline-block;margin: 3px 10px 30px 0;color: #666;font-size: 12px;vertical-align: top;line-height: 14px;border-right: 1px solid #e6e6e6;padding-right: 10px;}
.countryCon .channelNav-list:hover{opacity: 1;}
.countryCon .channelNav-list:hover .sec_dd{display: block!important;}

/*热门国家*/
span.same-span{font-size: 30px;color: #333;margin-right: 38px;    display: inline-block;
    vertical-align: top;
    margin-top: -10px;}
ul.same-ul{display: inline-block;}
ul.same-ul li{float: left;cursor: pointer;height: 28px;line-height: 28px;font-size: 16px;padding: 0 20px;margin-right: 20px;}
ul.same-ul li.on{background: #01CABF;color: #fff;}
ul.same-ul li:hover{background: #01CABF;color: #fff;}
.area_nav{margin-top: 40px;padding-bottom: 18px;}
.country_list ul li{float:left; margin-right:18px;width: 225px; height: 225px;  background-color: #ccc; margin-bottom: 20px; position: relative; overflow: hidden;}
.country_list ul li:nth-child(5n){margin-right:0;}
.country_list li img{width: 100%;height: 100%;object-fit: cover;display: block;}
.country_list li a{display: block; width:100%; height:100%;}
.country_list li .text{display: block; color: #fff; position: absolute; bottom: 13px; left: 15px;z-index: 3}
.country_list li h3{font-size: 18px;}
.country_list li p{font-size: 16px;}
.mask_01{width: 100%; height: 100px; position: absolute; bottom: 0; left: 0; z-index: 2;background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* Safari 5.1 - 6.0 */background: -o-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0)); /* Opera 11.1 - 12.0 */background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* Firefox 3.6 - 15 */background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* 标准的语法 */}
.tip{text-align: center;padding: 20px;}
/*免签/落地签*/
.visa_nav{margin-top: 40px;padding-bottom: 18px;}
.listBox ul li.li_box{float:left; margin-right:18px;width: 225px; height: 225px;  background-color: #ccc; margin-bottom: 20px; position: relative; }
.listBox ul li.li_box:nth-child(5n){margin-right:0;}
.listBox .li_box .li_img{position: relative; overflow: hidden;width: 225px; height: 225px; }
.listBox li.li_box img{width: 100%;height: 100%;object-fit: cover;display: block;}
.listBox li.li_box a{display: block; width:100%; height:100%;}
.listBox li.li_box .text{display: block; color: #fff; position: absolute; bottom: 15px; left: 15px;z-index: 3}
.listBox li.li_box .text span{font-size: 14px;display: inline-block;background: #fff;color: #333;padding: 0 6px;border-radius: 2px;margin-bottom: 5px;margin-right: 5px;}
.listBox li.li_box .text p{font-size: 18px;}
.listBox li.li_box:hover .countyDetail{display: block;}
/*免签政策*/
.countyDetail{filter: drop-shadow(0 0 5px #ccc);position: absolute;left: 225px;top: 0;z-index: 9;display: none;padding-left: 16px;}
.countyDetail:after {content: '';display: block;width: 30px;height: 30px;background: #fff;position: absolute;z-index: -999;left: 8px;top: 92px;transform:rotate(45deg);}
.countyDetail .countyBox{background: #fff;width: 370px;padding-bottom: 30px;}
.listBox li.spe_li .countyDetail{right: 225px;padding-right: 16px;left: auto;padding-left: 0}
.listBox li.spe_li .countyDetail:after{content: '';right: 8px;left: auto}

.top_cont{padding: 0 20px;}
.top_cont ul{border-bottom: 1px solid #ccc;}
.top_cont li{font-size: 18px;position: relative;float: left;}
.top_cont li a{display: block;padding: 20px 0 15px;}
.top_cont li.on a{color: #01CABF;}
.top_cont li.on:after{content: '';position: absolute;bottom: 0;left: 50%;margin-left: -38px;width: 75px;height: 3px;background: #01CABF;}
.top_cont ul.two-ul li:first-child{margin-left: 40px;margin-right: 65px;}
.top_cont ul.one-ul{text-align: center;}
.top_cont ul.one-ul li{float: none;}

.detilBox{padding: 40px 20px 0;}
.div_box { display: none; animation: rightFadeIn .5s ease-out;-webkit-animation: rightFadeIn .5s ease-out;-moz-animation: rightFadeIn .5s ease-out;}
.listBox li.spe_li .div_box{animation: leftFadeIn .5s ease-out;-webkit-animation: leftFadeIn .5s ease-out;-moz-animation: leftFadeIn .5s ease-out;}
.div_box.show{display: block;}
.detilBox dl{ margin-bottom: 33px;}
.detilBox dt{font-size: 14px; color: #333; margin-bottom: 14px;font-weight: bold;position: relative;padding-left: 7px;}
.detilBox dt:before{content: ''; position: absolute;    top: 2px;left: 0;display: inline-block; width: 3px; height: 16px; background-color:#01CABF ;}
.detilBox dd{line-height: 24px; color: #666;font-size: 14px;padding-left: 10px;}
.countyDetail p._tip{background:rgba(1,202,191,.1);box-shadow:0px 0px 18px 0px rgba(163,163,163,0.38);-webkit-box-shadow:0px 0px 18px 0px rgba(163,163,163,0.38);-moz-box-shadow:0px 0px 18px 0px rgba(163,163,163,0.38);-ms-box-shadow:0px 0px 18px 0px rgba(163,163,163,0.38);font-size: 12px;color: #999;line-height: 18px;padding: 10px 16px;}
.countyDetail p.goHere{width: 164px;height: 44px;margin:0 auto;text-align: center;line-height: 44px;border-radius: 4px;background: #01CABF;box-shadow:0px 7px 10px 0px rgba(1,158,149,0.28);-webkit-box-shadow:0px 7px 10px 0px rgba(1,158,149,0.28);-moz-box-shadow:0px 7px 10px 0px rgba(1,158,149,0.28);-ms-box-shadow:0px 7px 10px 0px rgba(1,158,149,0.28);font-size: 16px;color: #fff;margin-top: 17px;}
.countyDetail p.goHere a{color: #fff;}
