<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
<title>{#$langData['siteConfig'][19][774]#}</title>  {#* 绑定手机号 *#}
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" href="{#$templets_skin#}css/bind.css?v={#$cfg_staticVersion#}">
<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', userDomain = '{#if $loginRedirect == ""#}{#$member_userDomain#}{#else#}{#$loginRedirect#}{#/if#}';
  var geetest = {#$cfg_geetest#};
  var cookiePre = '{#$cfg_cookiePre#}';
</script>
</head>
<body>
    <div class="step step1 show2">
        <!-- 头部 s -->
        <div class="header fn-clear">
          <a href="{#$cfg_basehost#}/login.html" class="back"></a>
          <a href="javascript:;" class="page_tit">{#$langData['siteConfig'][19][774]#}</a>  {#* 绑定手机号 *#}
        </div>
        <!-- 头部 e -->

        <!-- 内容 s -->
        <div class="main">
          <form class="sendform" method="post">
            <input type="hidden" name="type" id="type" value="signup" />
            <input type="hidden" name="code" id="code" value="{#$code#}" />
            <div class="inpbox account">
              <dl class="fn-clear">
                <dt class="fn-left"><label><span id="areaCode">+{#$internationalPhoneSection[0]['code']#}</span><i class="drop-arrow"></i></label></dt>
                <dd class="fn-left"><input type="tel" name="" value="" placeholder="{#$langData['siteConfig'][20][27]#}" id="tel"></dd> {#* 请输入您的手机号 *#}
              </dl>
            </div>
            <input type="button" name="submit" value="{#$langData['siteConfig'][6][32]#}" class="get-yzm submit disabled" id="step1_btn"> {#* 下一步 *#}
          </form>
        </div>
        <!-- 内容 e -->
</div>
<div class="step step2 show2">
    <!-- 头部 s -->
    <div class="header fn-clear">
      <a href="javascript:;" class="back"></a>
      <a href="javascript:;" class="page_tit">{#$langData['siteConfig'][3][5]#}</a>    {#* 手机验证 *#}
    </div>

    <div class="telbox"><img src="{#$templets_skin#}images/tel_icon.png" alt=""><p class="jsphone"></p></div>

    <!-- 内容 s -->
    <div class="main">
      <form method="post" id="regForm">
        <div class="inpbox yzm">
          <dl class="fn-clear">
            <dt class="fn-right get-yzm" id="djs">{#$langData['siteConfig'][4][2]#} <em>60</em></dt>    {#* 重发验证码 *#}
            <dd class="fn-left"><input type="tel" maxlength="6" name="" value="" placeholder="{#$langData['siteConfig'][20][28]#}" id="yzm"></dd>
          </dl>
        </div>
        <input type="submit" name="submit" value="{#$langData['siteConfig'][6][3]#}" class="submit disabled" id="step2_btn">
      </form>
    </div>
    <!-- 内容 e -->

</div>

<!-- 区号弹出层 s -->
<div class="layer">
    <div class="layer_search"><p>{#$langData['siteConfig'][19][285]#}</p><em class="layer_close"></em></div>    {#* 国籍/地区 *#}
		<div class="layer_list" id="layer_list">
      <ul>

      </ul>
    </div>
</div>
<!-- 区号弹出层 e -->

<!-- 手机号已注册弹出层 s -->
<div class="login-pop">
    <p>{#$langData['siteConfig'][19][681]#}</p>  {#* 提示 *#}
    <p>{#$langData['siteConfig'][20][171]#}</p>  {#* 该手机号已注册，是否直接登录 *#}

    <div class="login-btn fn-clear">
        <a href="javascript:;" class="cancel">{#$langData['siteConfig'][6][12]#}</a>  {#* 取消 *#}
        <a href="login-tel.html" class="confirm">{#$langData['siteConfig'][2][8]#}</a>  {#* 短信验证登录 *#}
    </div>
</div>
<!-- 手机号已注册弹出层 e -->

<!-- 注册成功弹出层 s -->
<div class="success-pop">
    <img src="{#$templets_skin#}images/success_dui.png" alt="">
    <p>{#$langData['siteConfig'][20][172]#}</p>  {#* 注册成功！ *#}
</div>
  <!-- 注册成功弹出层 e -->

<div class="mask-code" id="maskReg"></div>

<div id="popupReg-captcha-mobile"></div>

<div class="phone_msg fn-hide">
  <div class="box">
    <div class="bdt"><div class="bdr"></div></div>
    <a href="javascript:;" class="close">×</a>
    <div class="content">
      <p class="info"></p>
      <a href="{#$cfg_basehost#}/login.html"class="btn">{#$langData['siteConfig'][2][0]#}</a>  {#* 登录 *#}
      <a href="{#$cfg_basehost#}/fpwd.html"class="fpwd">{#$langData['siteConfig'][5][3]#}</a>  {#* 找回密码 *#}
    </div>
  </div>
  <div class="bg"></div>
</div>

<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
{#if $cfg_geetest#}<script type="text/javascript" src="{#$cfg_secureAccess#}static.geetest.com/static/tools/gt.js"></script>{#/if#}
<script src="{#$templets_skin#}js/bind.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
