

<div class="container">
    <form  id="fabuForm" action="/include/ajax.php?service=renovation&action={#if $id != ''#}editArticle&id={#$id#}{#else#}addArticle{#/if#}" data-url="{#getUrlPath service='member' type="user" template='renovation' action="article" param="type={#$typename#}"#}">
        <div class="art_info2">

            <ul class="info">
                <li class="fn-clear">
                    <span class="name"><label for="article_tit">{#$langData['renovation'][7][6]#}</label></span>{#*标题*#}
                    <input type="text" id="article_tit" value="{#$detail_title#}" placeholder="{#$langData['renovation'][7][7]#}" name="title" class="article_tit">{#*请输入标题*#}
                </li>
            </ul>
        </div>

        <input type="hidden" name = "fid"   value="{#if $id != ''#} {#$detail_fid#} {#else#} {#$fid#} {#/if#}">
        <input type="hidden" name = "ftype" value="{#if $id != ''#} {#$detail_type#} {#else#} {#$ftype#} {#/if#}">

        <div class="class_wrap">
            <div class="class_info">
                <p class="info_title">{#$langData['renovation'][7][8]#}</p>  {#*文章详情*#}
                <div class="class_content">
                    <textarea name="body" id="article_info" placeholder="{#$langData['renovation'][7][9]#}">{#$detail_note#}</textarea>  {#*请输入动态详情*#}
                </div>
            </div>
        </div>
        <div class="class_wrap">
            <p class="info_title">{#$langData['renovation'][7][10]#}</p>  {#*图集*#}
             <div class="store-imgs img_box">           
                <ul class="uploader-list fn-clear" id="fileList">

                    {#foreach from=$detail_litpicarr key="k" item="pics" #}
                    <li id="WU_FILE_1_{#$k#}_reno" class="thumbnail imgshow_box litpic">
                        <div class="img_show">
                            <img src="{#$pics.picpath#}" alt="" data-val="{#$pics.pic#}" data-url="{#$pics.picpath#}">
                        </div>
                        <i class="del_btn">+</i>
                    </li>
                    {#/foreach#}
                    <li class="upload_btn" id="uploadbtn">
                        <div id="filePicker" class="webuploader-container">
                            <img src="{#$templets_skin#}images/add.png" />
                            <p>{#$langData['siteConfig'][6][78]#}</p>  {#*上传照片 *#}
                            <p>{#$langData['siteConfig'][39][9]|replace:'1':20#}</p>  {#*最多1张 *#}
                        </div>

                    </li>

                    <div class="kong"></div>
                </ul>
                <input type="hidden" name="imgList" id="imgList" class="imglist-hidden" value="{#$detail_litpic#}">
            </div>
        </div>

        <div class="btn-box"><span class="btn-keep" id="btn-keep">{#$langData['renovation'][7][11]#}</span></div>  {#*保存 *#}
    </form>

</div>
<div class="error"></div>

<!--立即预约弹出层 s-->
<div class="order_mask">
  <div class="order_container">

    <div class="wave">           
        <div class="m-box">
            <div class="m-duigou"></div>
        </div>
    </div>
    {#* 您的文章已发布成功！ *#}
    <p class="t1">{#$langData['renovation'][7][12]#}</p>

      {#*我知道了 *#}
    <p class="t3">{#$langData['renovation'][1][24]#}</p>
  </div>
</div>
<!--立即预约弹出层 e-->

