<!DOCTYPE html>
<html>
<head>
<meta charset="{#$cfg_soft_lang#}">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
<title>{#$langData['siteConfig'][6][143]#}</title>  {#*发布信息*#}
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" href="{#$templets_skin#}css/fabuJoin_touch_popup_3.4.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mobileSelect.css?v={#$cfg_staticVersion#}">
<link href="{#$templets_skin#}css/mobiscroll.css?v={#$cfg_staticVersion#}" rel="stylesheet" type="text/css" />
<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}';
  var templets = '{#$templets_skin#}';
  var geetest = {#$cfg_geetest#};
  var cookiePre = '{#$cfg_cookiePre#}';
  var audioSrc = {
    refresh: '{#$cfg_staticPath#}audio/refresh.mp3',
    tap: '{#$cfg_staticPath#}audio/tap.mp3',
    cancel: '{#$cfg_staticPath#}audio/cancel.mp3',
  }
  var parentDomain = '{#$HTTP_REFERER#}';
</script>
</head>

<body>

  <div class="postBox">
    <div class="tabHead"></div>
    <div class="tabContent showMain fn-clear">
      <div class="tabright">
        <div class="tabBox show">
          <!-- <div class="tabtitle"><h4>{#$langData['siteConfig'][40][79]#}</h4></div> {#*发布推荐*#} -->
          <div class="tabcon">
            <ul class="fn-clear tab_ul1">

                {#$house = ''#}
                {#$job = ''#}
                {#siteConfig action="siteModule" return="module"#}


                {#if $module.code == 'house'#}
                  {#$house = 1#}
                {#/if#}

                {#if $module.code == 'job'#}
                  {#$job = 1#}
                {#/if#}

                {#if $module.code == 'article'#}
                <li>
                    <a href="{#getUrlPath service='member' type='user' template='fabu-article'#}" target="_parent">
                        <img src="{#$module.icon#}" alt="">
                        <p>{#$module.name#}</p>
                    </a>
                </li>
                {#/if#}

                {#if $module.code == 'info'#}
                <li>
                    <a href="{#getUrlPath service='member' type='user' template='info'#}#Stype" target="_parent">
                        <img src="{#$module.icon#}" alt="">
                        <p>{#$module.name#}</p>
                    </a>
                </li>
                {#/if#}

                {#if $module.code == 'tuan'#}
                <li>
                    <a href="{#getUrlPath service='member' template='fabu' action='tuan'#}" target="_parent">
                        <img src="{#$module.icon#}" alt="">
                        <p>{#$module.name#}</p>
                    </a>
                </li>
                {#/if#}

                {#if $module.code == 'tieba'#}
                <li>
                    <a href="{#getUrlPath service='tieba' template='fabu'#}" class="postTieba" target="_parent">
                        <img src="{#$module.icon#}" alt="">
                        <p>{#$module.name#}</p>
                    </a>
                </li>
                {#/if#}

                {#if $module.code == 'huodong'#}
                <li>
                    <a href="{#getUrlPath service='huodong' template='fabu'#}" target="_parent">
                        <img src="{#$module.icon#}" alt="">
                        <p>{#$module.name#}</p>
                    </a>
                </li>
                {#/if#}

                {#if $module.code == 'live'#}
                <li>
                    <a href="{#getUrlPath service='member' type='user' template='fabu' action='live'#}" target="_parent">
                        <img src="{#$module.icon#}" alt="">
                        <p>{#$module.name#}</p>
                    </a>
                </li>
                {#/if#}

                {#if $module.code == 'dating'#}
                <li>
                    <a href="{#getUrlPath service='dating' template='my'#}" target="_parent">
                        <img src="{#$module.icon#}" alt="">
                        <p>{#$module.name#}</p>
                    </a>
                </li>
                {#/if#}

                {#if $module.code == 'car'#}
                <li>
                    <a href="{#getUrlPath service='member' type='user' template='fabu' action='car'#}" target="_parent">
                        <img src="{#$module.icon#}" alt="">
                        <p>{#$module.name#}</p>
                    </a>
                </li>
                {#/if#}

                {#if $module.code == 'circle'#}
                <li>
                    <a href="{#getUrlPath service='member' type='user' template='fabu_circle'#}" target="_parent">
                        <img src="{#$module.icon#}" alt="">
                        <p>{#$module.name#}</p>
                    </a>
                </li>
                {#/if#}
              
               {#if $module.code == 'sfcar'#}
                <li>
                    <a href="{#getUrlPath service='member' type='user' template='fabu-sfcar'#}" target="_parent">
                        <img src="{#$module.icon#}" alt="">
                        <p>{#$module.name#}</p>
                    </a>
                </li>
                {#/if#}

                {#/siteConfig#}


            </ul>
            <!--房产 s-->
            {#if $house#}
            <ul class="fn-clear tab_ul2">
              <li>
                    <a href="{#getUrlPath service='member' type='user' template='fabu-house-sale'#}" target="_parent">
                        <img src="{#$templets_skin#}images/fabuJoin_touch_popup_3.4/f_icon1.png" alt="">
                        <p>{#$langData['siteConfig'][19][218]#}</p>  {#*二手房*#}
                    </a>
                </li>
                <li>
                    <a href="{#getUrlPath service='member' type='user' template='fabu-house-zu'#}" target="_parent">
                        <img src="{#$templets_skin#}images/fabuJoin_touch_popup_3.4/f_icon2.png" alt="">
                        <p>{#$langData['siteConfig'][19][904]#}</p>  {#*出租房*#}
                    </a>
                </li>
                <li>
                    <a href="{#getUrlPath service='member' type='user' template='fabu-house-xzl'#}" target="_parent">
                        <img src="{#$templets_skin#}images/fabuJoin_touch_popup_3.4/f_icon3.png" alt="">
                        <p>{#$langData['siteConfig'][19][220]#}</p>  {#*写字楼*#}
                    </a>
                </li>
                <li>
                    <a href="{#getUrlPath service='member' type='user' template='fabu-house-sp'#}" target="_parent">
                        <img src="{#$templets_skin#}images/fabuJoin_touch_popup_3.4/f_icon4.png" alt="">
                        <p>{#$langData['siteConfig'][19][221]#}</p>  {#*商铺*#}
                    </a>
                </li>
                <li>
                    <a href="{#getUrlPath service='member' type='user' template='fabu-house-cf'#}" target="_parent">
                        <img src="{#$templets_skin#}images/fabuJoin_touch_popup_3.4/f_icon5.png" alt="">
                        <p>{#$langData['siteConfig'][40][85]#}</p>  {#*厂房仓库*#}
                    </a>
                </li>
                <li style="width: 18%;">
                    <a href="{#getUrlPath service='member' type='user' template='fabu-house-cw'#}" target="_parent">
                        <img src="{#$templets_skin#}images/fabuJoin_touch_popup_3.4/f_icon6.png" alt="">
                        <p>{#$langData['siteConfig'][31][7]#}</p>  {#*车位*#}
                    </a>
                </li>
            </ul>
            {#/if#}
            <!--房产 e-->

            <!--招聘 s-->
            {#if $job#}
            <ul class="fn-clear tab_ul3">
                <li>
                    <a href="{#getUrlPath service='member' type='user' template='job-resume'#}" target="_parent">
                        <img src="{#$templets_skin#}images/fabuJoin_touch_popup_3.4/j_icon1.png" alt="">
                        <p>{#$langData['siteConfig'][19][766]#}</p>  {#*简历*#}
                    </a>
                </li>
                {#if $userinfo.userType == 2#}
                <li>
                    <a href="{#getUrlPath service='member' template='post' param='do=add'#}" target="_parent">
                        <img src="{#$templets_skin#}images/fabuJoin_touch_popup_3.4/j_icon4.png" alt="">
                        <p>{#$langData['siteConfig'][16][27]#}</p>  {#*职位*#}
                    </a>
                </li>
                {#/if#}
                <li>
                    <a href="{#getUrlPath service='job' template='sentence' param='type=0'#}#fabu" target="_parent">
                        <img src="{#$templets_skin#}images/fabuJoin_touch_popup_3.4/j_icon2.png" alt="">
                        <p>{#$langData['siteConfig'][40][86]#}</p>  {#*快速招聘*#}
                    </a>
                </li>
                <li>
                    <a href="{#getUrlPath service='job' template='sentence' param='type=1'#}#fabu" target="_parent">
                        <img src="{#$templets_skin#}images/fabuJoin_touch_popup_3.4/j_icon3.png" alt="">
                        <p>{#$langData['siteConfig'][40][87]#}</p>  {#*快速求职*#}
                    </a>
                </li>

            </ul>
            {#/if#}
            <!--招聘 e-->
          </div>
        </div>

      </div>
    </div>
    <div class="closeBox">
      <a href="javascript:;"><i class="goBack"></i></a>
    </div>
  </div>

<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script type="text/javascript" src="{#$templets_skin#}js/fabuJoin_touch_popup_3.4.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
