<!DOCTYPE html>
<html>
<head>
<meta charset="{#$cfg_soft_lang#}">
<title>{#$langData['siteConfig'][38][62]#}</title>    {#* 老人信息 *#}
<meta name="wap-font-scale" content="no">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$cfg_basehost#}/templates/member/touch/css/gz-fabu.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mobileSelect.css?v={#$cfg_staticVersion#}" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu-pension-elderly.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript"  src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.deferred.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script type="text/javascript">
var masterDomain = '{#$cfg_basehost#}', staticPath = cfg_staticPath = '{#$cfg_staticPath#}';templatePath = '{#$templets_skin#}';
var service = '{#$module#}';
var modelType = '{#$module#}';
var thumbSize = {#$thumbSize#}, thumbType = '{#$thumbType#}', atlasSize = {#$atlasSize*1024*1024#}, atlasType = '{#$atlasType#}', atlasMax = 1;
var id = '{#$id#}';
</script>
</head>
<body>
{#$pageTitle = "{#$langData['siteConfig'][38][62]#}"#}    {#* 老人信息 *#}
{#include file="top.html"#}
<div class="container">
    {#if $pensionState==1#}
        {#if $detail_state == 0#}
            <p class="state0">{#$langData['siteConfig'][16][168]#}</p>{#* 您的资料正在审核中，请耐心等待 *#}
        {#elseif $detail_state == 2#}
            <p class="state2">{#$langData['siteConfig'][28][12]#}</p>{#* 您的入驻申请已被拒绝，请重新提交 *#}
        {#/if#}
    {#/if#}
    <form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=pension&action=elderlyConfig">
    <div class="baomu_info">
        <p class="info_title">{#$langData['siteConfig'][19][22]#}</p>     {#* 基本信息 *#}
        <ul class="info">
            <li class="fn-clear">
                <span class="name"><span class="star">*</span><label for="elderlyname">{#$langData['siteConfig'][38][63]#}</label></span>  {#* 老人姓名 *#}
                <input type="text" id="elderlyname" placeholder="{#$langData['siteConfig'][38][64]#}" name="elderlyname" value="{#$detail_elderlyname#}">  {#* 请输入老人姓名 *#}
            </li> 
            <li class="fn-clear ways_contact">
                <span class="name">{#$langData['siteConfig'][19][7]#}</span></span>  {#* 性别 *#}
                <div class="radio radioBox user_sex">
                    <div class="active {#if $detail_sex == 0#}chose_btn{#/if#}">
                    <div class="check_left">
                        <input type="radio" name="sex" value="" />
                        <span class="check_icon_round"></span>
                    </div>
                    <a href="javascript:;" data-id = "0">{#$langData['siteConfig'][13][5]#}</a>  {#* 女 *#}
                    </div>
                    <div class="active {#if $detail_sex == 1#}chose_btn{#/if#}">
                    <div class="check_left">
                        <input type="radio" name="sex" value="" />
                        <span class="check_icon_round"></span>
                    </div>
                    <a href="javascript:;" data-id = "1">{#$langData['siteConfig'][13][4]#}</a>  {#* 男 *#}
                    </div>
                    <input type="hidden" name="sex" value="{#$detail_sex#}" id="sex" />
                </div>
            </li>
      		<li class="fn-clear ways_contact">
                <span class="name">{#$langData['siteConfig'][38][80]#}</span></span>  {#* 开关 *#}
                <div class="radio radioBox user_switch">
                    <div class="active {#if $detail_switch == 0#}chose_btn{#/if#}">
                    <div class="check_left">
                        <input type="radio" name="switch" value="" />
                        <span class="check_icon_round"></span>
                    </div>
                    <a href="javascript:;" data-id = "0">{#$langData['siteConfig'][6][23]#}</a>  {#* 关闭 *#}
                    </div>
                    <div class="active {#if $detail_switch == 1#}chose_btn{#/if#}">
                    <div class="check_left">
                        <input type="radio" name="switch" value="" />
                        <span class="check_icon_round"></span>
                    </div>
                    <a href="javascript:;" data-id = "1">{#$langData['siteConfig'][6][24]#}</a>  {#* 开启 *#}
                    </div>
                    <input type="hidden" name="switch" value="{#$detail_switch#}" id="switch" />
                </div>
            </li>
            <li class="fn-clear">
                <span class="name"><label for="age">{#$langData['siteConfig'][19][12]#}</label></span>  {#* 年龄 *#}
                <input type="text" id="age" placeholder="{#$langData['siteConfig'][40][63]#}" name="age" value="{#$detail_age#}">  {#* 请输入老人年龄 *#}
            </li>
            <div class="qjimg_box img_box">
                <h3>{#$langData['siteConfig'][40][64]#}</h3>  {#* 上传头像(请保证照片清晰) *#}
                <ul class="fn-clear" id="logoshow_box"{#if $detail_qj_type#} style="display:none;"{#/if#}>
                    <li>
                    <div class="addbtn img_show" id="up_logo" data-extensions="jpg,jpeg,bmp,png" data-mimetypes="image/jpg,image/jpeg,image/png"></div>
                    {#if $detail_photo#}<div class="img" id="WU_FILE_has_9"><img src="{#$detail_photoSource#}" data-url="{#$detail_photo#}"></div><i class="del_btn">+</i>{#/if#}
                    <p class="txt">{#$langData['siteConfig'][40][65]#}</p>  {#* 点击上传照片 *#}
                    </li>
                </ul>
                <input type="hidden" name="photo" id="photo" value="{#$detail_photo#}">
            </div>
        </ul>
    </div>
    <div class="baomu_info">
        <p class="info_title">{#$langData['siteConfig'][40][66]#}</p>  {#* 其他信息 *#}
        <ul class="info">
            <li class="fn-clear ways_ruzhu">
                <span class="name">{#$langData['siteConfig'][40][67]#}</span></span>  {#* 入住形式 *#}
                <div class="radio radioBox user_ru">
                    {#pension action='accommodation_type' return='type'#}
                    <div class="active {#if $detail_accommodation==$type.id#}chose_btn{#/if#}">
                        <div class="check_left">
                            <input type="radio" name="accommodation" value="" />
                            <span class="check_icon_round"></span>
                        </div>
                        <a href="javascript:;" data-id = "{#$type.id#}">{#$type.typename#}</a>
                    </div>
                    {#/pension#}
                    <input type="hidden" name="accommodation" value="{#$detail_accommodation#}" id="accommodation" />
                </div>
            </li>
            <li class="fn-clear">
                <span class="name"><span class="star">*</span>{#$langData['siteConfig'][40][68]#}</span>  {#* 养老区域 *#}
                <span class="choose">  <i></i></span>
                <div class="position_box" >
                    <dl class="inpbox fn-clear gz-addr-seladdr" data-ids="{#getPublicParentInfo tab='site_area' id=$detail_addrid split=' '#}" data-id="{#$detail_addrid#}" >
                        <dd ><i></i><p><font style="color: #a6a6a6;">{#if $detail_addrid != ""#}{#getPublicParentInfo tab='site_area' id=$detail_addrid type='typename' split=' '#}{#else#}{#$langData['siteConfig'][7][2]#}{#/if#}</font></p></dd>  {#* 请选择 *#}
                        <input type="hidden" name="addrid" id="addrid" value="{#$detail_addrid#}">
                        <input type="hidden" name="cityid" id="cityid" value="{#$detail_cityid#}">
                    </dl>
                </div>
            </li>
            <li class="fn-clear">
                <span class="name"><label for="rzminprice">{#$langData['siteConfig'][40][69]#}</label></span>  {#* 入住费用预算 *#}
                <div class="r_price">
                    <div class="input-prepend input-append mr10">
                          {#* 价格必须为数字型 *#}
                        <input id="rzminprice" name="rzminprice" type="text" size="4" maxlength="7" data-title="{#$langData['siteConfig'][20][479]#}" value="{#$detail_rzminprice#}" placeholder="{#$langData['siteConfig'][40][70]#}">  {#* 最低价 *#}
                    </div>
                    <em class="range">-</em>
                    <div class="input-prepend input-append mr10">
                        <input id="rzmaxprice" name="rzmaxprice" type="text" size="4" maxlength="3" onkeyup="value=value.replace(/\D+/ig,'')" value="{#$detail_rzmaxprice#}" placeholder="{#$langData['siteConfig'][40][71]#}">  {#* 最高价 *#}
                        <span class="add-aft">{#$langData['siteConfig'][13][27]#}</span>  {#* 万 *#}
                    </div>
                </div>
            </li> 
            <li class="fn-clear">
                <span class="name"><label for="rzminprice">{#$langData['siteConfig'][40][72]#}</label></span>  {#* 月费用预算 *#}
                <div class="r_price">
                    <div class="input-prepend input-append mr10">
                        {#* 价格必须为数字型 *#}
                        <input id="monthminprice" name="monthminprice" type="text" size="4" maxlength="7" data-title="{#$langData['siteConfig'][20][479]#}" value="{#$detail_monthminprice#}" placeholder="{#$langData['siteConfig'][40][70]#}">  {#* 最低价 *#}
                    </div>
                     <em class="range">-</em>
                    <div class="input-prepend input-append mr10">
                        <span class="add-bef">{#$langData['siteConfig'][38][68]#}</span>  {#* 高价 *#}
                        <input id="monthmaxprice" name="monthmaxprice" type="text" size="4" maxlength="3" onkeyup="value=value.replace(/\D+/ig,'')" value="{#$detail_monthmaxprice#}" placeholder="{#$langData['siteConfig'][40][71]#}">  {#* 最高价 *#}
                        <span class="add-aft">{#echoCurrency type="short"#}</span>
                    </div>
                </div>
            </li> 
            <li class="fn-clear">
                <span class="name"><span class="star">*</span><label for="people">{#$langData['siteConfig'][19][642]#}</label></span>  {#* 联系人 *#}
                <input type="text" id="people" placeholder="{#$langData['siteConfig'][27][138]#}" name="people" value="{#$detail_people#}">
                  {#* 请输入联系人 *#}
            </li> 
            <li class="fn-clear">
                <span class="name"><span class="star">*</span><label for="">{#$langData['siteConfig'][47][86]#}</label></span>  {#* 国籍地区 *#}
                <span class="areacode_span fn-right"><label for="">+{#$internationalPhoneSection[0]['code']#}</label></span>
                <input type="hidden" name="areaCode" id="areaCode" value="{#$internationalPhoneSection[0]['code']#}">
            </li> 
            <li class="fn-clear">
                <span class="name"><span class="star">*</span><label for="tel">{#$langData['siteConfig'][19][424]#}</label></span>  {#* 联系方式 *#}
                <input type="text" id="tel" placeholder="{#$langData['siteConfig'][20][412]#}" name="tel" value="{#$detail_tel#}">
                  {#* 请输入联系方式 *#}
            </li> 
            <li class="fn-clear">
                <span class="name"><span class="star">*</span><label for="wx">{#$langData['siteConfig'][27][139]#}</label></span>  {#* 微信 *#}
                <input type="text" id="wx" placeholder="{#$langData['siteConfig'][38][70]#}" name="wx" value="{#$detail_wx#}">  {#* 请输入微信 *#}
            </li> 
            <li class="fn-clear">
                <span class="name"><span class="star">*</span><label for="email">{#$langData['siteConfig'][3][0]#}</label></span>  {#* 邮箱 *#}
                <input type="text" id="email" placeholder="{#$langData['siteConfig'][38][73]#}" name="email" value="{#$detail_email#}">   {#* 请输入邮箱 *#}
            </li> 
            <li class="fn-clear">
                <span class="name"><span class="star">*</span><label for="relationship">{#$langData['siteConfig'][38][71]#}</label></span>  {#* 亲属关系 *#}
                <input type="text" id="relationship" placeholder="{#$langData['siteConfig'][38][72]#}" name="relationship" value="{#$detail_relationship#}">   {#* 请输入亲属关系 *#}
            </li> 
            <li class="fn-clear">
                <div class="com-box">
                    <div class="targetcare fn-clear">
                         {#* 照护对象 *#}
                        <span class="name"><span class="star">*</span>{#$langData['siteConfig'][38][74]#}</span><span class="choose"><span class="text">{#if $detail_targetcare#}{#$detail_targetcarename#}{#else#}{#$langData['siteConfig'][7][2]#}{#/if#}</span><i></i></span>  {#* 请选择 *#}
                          <input id="targetcarename" type="text" disabled="disabled">
                      </div>       
                </div>
            </li>
            <input type="hidden" name="targetcare" id="targetcare" value="{#$detail_targetcare#}">
            <li class="fn-clear" style="border-bottom: none">
                <div class="com-box">
                    <div class="catid fn-clear">
                         {#* 养老形式 *#}
                        <span class="name"><span class="star">*</span>{#$langData['siteConfig'][40][73]#}</span><span class="choose"><span class="text">{#if $detail_catid#}{#$detail_catname#}{#else#}{#$langData['siteConfig'][7][2]#}{#/if#}</span><i></i></span>   {#* 请选择 *#}
                          <input id="catname" type="text" disabled="disabled">
                      </div>       
                </div>
            </li> 
            <input type="hidden" name="catid" id="catid" value="{#$detail_catid#}">
        </ul>
    </div>
    <div class="baomu_info">
        <div class="yl_info location">
            <p class="info_title LoTitle">{#$langData['siteConfig'][19][35]#}{#* 详细地址 *#}<span><i></i>{#$langData['siteConfig'][19][882]#}{#* 自由选择 *#}</span></p>
            <div class="info class_spec" style="padding-top: .2rem">
                <textarea name="address" id="address" placeholder="{#$langData['siteConfig'][38][81]#}">{#$detail_address#}</textarea>{#* 请填写详细地址 *#}
            </div>
            <input type="hidden" name="lnglat" id="lnglat" value="{#$detail_lnglat#}">
        </div>
    </div>
    <div class="baomu_info">
        <div class="yl_info">
            <p class="info_title">{#$langData['siteConfig'][40][74]#}</p>{#* 更多信息 *#}
            <div class="info class_spec" style="padding-top: .2rem">
                <textarea name="level" id="level" placeholder="{#$langData['siteConfig'][38][76]#}">{#$detail_level#}</textarea>{#* 期望养老级别 *#}
            </div>
            <div class="info class_spec">
                <textarea name="personalsituation" id="personalsituation" placeholder="{#$langData['siteConfig'][38][77]#}">{#* 个人情况 *#}{#$detail_personalsituation#}</textarea>
            </div>
            <div class="info class_spec">
                <textarea name="situation" id="situation" placeholder="{#$langData['siteConfig'][38][78]#}">{#$detail_situation#}</textarea>{#* 疾病情况 *#}
            </div>
            <div class="info class_spec">
                <textarea name="desc" id="desc" placeholder="{#$langData['siteConfig'][38][79]#}">{#$detail_desc#}</textarea>{#* 需求说明 *#}
            </div>
        </div>
    </div>
    <div class="btn-box"><span class="submit" id="submit">{#$langData['siteConfig'][11][0]#}</span></div>{#* 发布 *#}
</form>

</div>

<!--地图-->
<div class="pageitem" id="map">
    <div class="lead">
        <p></p>
        <input type="text" id="searchAddr" placeholder="{#$langData['siteConfig'][20][411]#}">
    </div>
    <div class="map">
        <div id="mapdiv"></div>
        <span class="mapcenter"></span>
    </div>
    <div class="mapresults">
        <ul></ul>
    </div>
</div>

<!--所在地弹出层-->
<div class="gz-sel-addr gz-sel-addr-hide" id="gzSelAddr">
    <div class="gz-sel-addr-header">
        <h3>{#$langData['siteConfig'][7][2]#}</h3>  {#*请选择*#}
        <button class="gz-sel-addr-close" id="gzSelAddrCloseBtn"></button>
    </div>
    <ul class="gz-sel-addr-nav"></ul>
    <div class="gz-sel-addr-list"></div>
</div>
<div class="gz-sel-addr-mask"></div>

<!--错误提示弹出层-->
<div class="error"></div>
<!-- 区号弹出层 s -->
  <div class="layer_code">
    {#* 国籍/地区  *#}
    <div class="layer_search"><p>{#$langData['siteConfig'][19][285]#}</p><em class="layer_close"></em></div> 
    <div class="layer_list" id="layer_list">
      <ul>
      </ul>
    </div>
  </div>
<!-- 区号弹出层 e -->
<div class="mask-code" id="maskReg"></div>
 <script type="text/javascript">
    var wxconfig = {
        "appId": '{#$wxjssdk_appId#}',
        "timestamp": '{#$wxjssdk_timestamp#}',
        "nonceStr": '{#$wxjssdk_nonceStr#}',
        "signature": '{#$wxjssdk_signature#}',
        "description": '',
        "title": '',
        "imgUrl":'',
        "link": '',
    };
    document.head.appendChild(document.createElement('script')).src = '{#$cfg_staticPath#}js/publicShare.js?v=' + ~(-new Date());
</script>
{#include file="{#$HUONIAOROOT#}/templates/siteConfig/public_location.html"#}
<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script src="{#$templets_skin#}js/gz-info.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/webuploader/webuploader.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script type="text/javascript" src="{#$templets_skin#}js/mobileSelect.js?v={#$cfg_staticVersion#}" ></script>
<script type="text/javascript" src="{#$templets_skin#}js/upload.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/fabu-pension-elderly.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
