<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{#$cfg_soft_lang#}">
    <title>{#$langData['siteConfig'][10][29]#}</title> {#* 直播列表  *#}
    <meta name="keywords" content="{#$live_keywords#}"/>
    <meta name="description" content="{#$live_description#}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
    <link rel="stylesheet" href="{#$templets_skin#}css/fabu-live.css?v={#$cfg_staticVersion#}">
	<link rel="stylesheet" href="{#$templets_skin#}css/manage-live.css?v={#$cfg_staticVersion#}">
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu-pay.css?v={#$cfg_staticVersion#}">
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript" src="{#$templets_skin#}js/mobiscroll.js"></script>
    <script>
        var hiddenid="{#$userinfo.userid#}",masterDomain = '{#$cfg_basehost#}',staticPath = '{#$cfg_staticPath#}', templatePath = '{#$templets_skin#}';
        var imgtextUrl = '{#getUrlPath service='member' type='user' template='live_imgtext' param='id='#}';
    </script>
</head>
<body>
{#$pageTitle = "{#$langData['siteConfig'][10][29]#}"#} {#* 直播列表  *#}
<div class="topbox">
	{#include file="top.html"#}
	<form class="searchbox" action="{#$member_userDomain#}/manage-live.html?&currentPageOpen=1">
		<input type="search" name="keywords" id="keywords"  placeholder="输入直播关键词" autocomplete="off">
		<i class="search_icon"></i>
		<i class="search_clear"></i>
		<p class="placeholder">输入直播关键词</p>
	</form>
	<div class="shai_box">
		<div class="shai fn-clear">
			<ul class="fn-left fast_shai">
				<li class="onclick" data-state="">全部 <em></em></li>
				<li data-state="1">直播中 <em></em></li>
				<li data-state="2">已结束<em></em></li>
			</ul>
			<a href="javascript:;" class="shai_btn fn-right ">按创建时间

			</a>
		</div>
	</div>
</div>
<div class="an_list ">
    <ul class="an_main">
		{#*
		<li class="live_li tolive">
			<!-- tolive living lived -->
			<a href="#" class="fn-clear">
				<h3><i>预告</i>TEDXCEIBS年度盛会 从有界 到无疆</h3>
				<div class="live_litpic fn-left"></div>
				<div class="live_time ">
					<h4>02:30:20</h4>
					<p>开播倒计时</p>
				</div>
			</a>
			<div class="live_detail">
				<p  class="live_info">
					<span class="arcrank_1">待开播</span>
					<span class="read">1542</span>
					<span class="live_ftime"> 更新于2020-05-05 </span>
				</p>
				<a href="javascript:;" class="live_op"></a>
			</div>
		</li>
		<li class="live_li lived">
			<!-- tolive living lived -->
			<a href="#" class="fn-clear">
				<h3><i>回放</i>TEDXCEIBS年度盛会 从有界 到无疆</h3>
				<div class="live_litpic fn-left"></div>
				<div class="live_time ">
					<div class="ftime">
						<h6>2020-05-06</h6>
						<p>12:30:00</p>
					</div>
					<i class="line"></i>
					<div class="etime">
						<h6>2020-05-06</h6>
						<p>13:30:00</p>
					</div>
				</div>
			</a>
			<div class="live_detail">
				<p  class="live_info">
					<span class="read">1542</span>
					<span class="live_ftime"> 更新于2020-05-05 </span>
				</p>
				<a href="javascript:;" class="live_op"></a>
			</div>
		</li>
		*#}
    </ul>
</div>
<div class="btn-create">
	<a href="{#$member_userDomain#}/fabu-live.html" class="to_create">创建直播</a>
</div>
<div class="mask"></div>
<div class="mask1"></div>
<ul class="order_box">
	<li data-order="0" class="selected">按创建时间</li>
	<li data-order="1">按浏览量</li>
</ul>
<div class="op_box">
	<h2 class="tip disabled">直播信息审核中</h2>
	<ul class="op_ul">
		<li class="enter"><a data-href="{#$live_channelDomain#}/h_detail-" href="{#$live_channelDomain#}/h_detail-"><img src="{#$templets_skin#}images/live/enter.png">进入直播</a></li>
		<li class="txt"><a data-href="{#$member_userDomain#}/fabu_live_imgtext.html?id=" href="{#$member_userDomain#}/fabu_live_imgtext.html?id="><img src="{#$templets_skin#}images/live/txt.png">发布图文</a></li>
		<li class="edit"><a data-href="{#$member_userDomain#}/fabu-live.html?id=" href="{#$member_userDomain#}/fabu-live.html?id="><img src="{#$templets_skin#}images/live/edit.png">编辑直播</a></li>
		<li class="live btn_start"><a  data-href="{#$member_userDomain#}/livedetail.html?id=" href="javascript:;"><img src="{#$templets_skin#}images/live/live.png">开始直播</a></li>
	</ul>
</div>

{#include file="fabu-pay.html"#}

<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script src="{#$templets_skin#}js/fabu-pay.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/manage-live.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
