
  <div class="tab">
    <ul>
      <li data-id="" class="type curr"><a href="javascript:;">{#$langData['siteConfig'][19][391]#}</a></li>{#* 全部信息  *#}
      <li class="type" data-id="1"><a href="javascript:;">dssad</a></li>
      <li class="type" data-id="0"><a href="javascript:;">{#$langData['siteConfig'][9][21]#}</a></li>{#* 未审核  *#}
      <li class="type" data-id="2"><a href="javascript:;">{#$langData['siteConfig'][9][35]#}</a></li>{#* 审核拒绝  *#}
    </ul>
  </div>

  <div class="count">
		<ul>
      {#* 共有1条帖子  *#}
			<li data-id="">{#$langData['siteConfig'][20][259]|replace:'1':'<span id="total">0</span>'#}</li>
      <li>{#$langData['siteConfig'][20][259]|replace:'1':'<span id="audit">0</span>'#}</li>
      <li>{#$langData['siteConfig'][20][259]|replace:'1':'<span id="gray">0</span>'#}</li>
      <li>{#$langData['siteConfig'][20][259]|replace:'1':'<span id="refuse">0</span>'#}</li>
		</ul>
	</div>
