<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{#$langData['siteConfig'][11][12]#} </title>	{#* 管理我发布的信息 *#}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/manage-sfcar.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu-pay.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/refreshTop.css?v={#$cfg_staticVersion#}">
<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
{#if $module != 'education'#}
<style media="screen">
	body {opacity: 1;padding-bottom: 1.2rem; padding-bottom: calc(1rem + constant(safe-area-inset-bottom));}
	.fabuBtn {background-color: #edeef2;position: fixed;left:0;right: 0;bottom: 0;padding:.25rem 0;}
	.fabuBtn a{width:6rem; height: 0.8rem;margin: auto;border-radius: .8rem;background: -moz-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);background: -webkit-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);background: -ms-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);box-shadow: 0px 3px 7px 0px rgba(101, 126, 255, 0.47);border-radius: .4rem;display: block; line-height: .8rem;  text-align: center; font-size: .3rem; font-weight:bold;color: #fff;}
	.fabuBtn a:active{background: -moz-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);background: -webkit-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);background: -ms-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);}
</style>
{#/if#}
<script type="text/javascript">
var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
var module = '{#$module#}', atpage = 1, totalCount = 0, pageSize = 10, state = '{#$state#}', type = '{#$type#}';
var editUrl = "{#getUrlPath service='member' type='user' template='fabu-sfcar'#}";
var cookiePre = '{#$cfg_cookiePre#}';
var templets_skin = '{#$templets_skin#}';
//竞价默认价格，此值可在后台分类信息设置中修改
var bidDefault = 5;
//竞价默认增加预算价格，此值可在后台分类信息设置中修改
var bidDefaultAdd = 2;
</script>
</head>
<body>
	{#$pageTitle = $langData['sfcar'][2][11]#}    	{#* 管理顺风车 *#}
	{#$pageUrl = "{#getUrlPath service='member' type="user" action="fabu" template='sfcar'#}"#}
	{#include file="top.html"#}
	<!-- 置顶刷新 弹窗 s-->
	<div class="sfcarMask"></div>
	<div class="topFresh">
		<ul>
			<li class="topLi"><a href="javascript:;" class="topping">
				<h2>{#$langData['siteConfig'][32][36]#}</h2>   	{#* 置顶信息 *#}
				<p>{#$langData['sfcar'][2][22]#}</p>   	{#* 置顶展示，关注度大幅提升 *#}
			</a></li>
			<li  class="firtop"><a href="javascript:;" class="sfcarReshSmart">
				<h2>{#$langData['siteConfig'][32][28]#}</h2>   	{#* 智能刷新 *#}
				<p>{#$langData['sfcar'][2][23]#}</p>   	{#* 定时自动刷新，稳定曝光率 *#}
			</a></li>
		</ul>
		<button class="top-cancel">{#$langData['siteConfig'][6][12]#}</button> {#* 取消 *#}
	</div>
	<div class="hasSmart">{#$langData['sfcar'][2][21]#}</div>  {#* 已开通智能刷新，曝光量稳定提升中 *#}
	<!-- 置顶刷新 弹窗 e-->
	<!-- 删除弹出层 s -->
	<div class="delMask"></div>
	<div class="delAlert">
		<div class="delAlertCon">
			<div>
				<h2 class="delTile">{#$langData['sfcar'][2][20]#}</h2> {#* 确定删除信息？ *#}
				<p>{#$langData['sfcar'][2][13]#}</p> {#* 一经删除不可恢复 *#}
			</div>
			<ul class="fn-clear">			
				<li class="firLi"><a href="javascript:;" class="cancelDel">{#$langData['siteConfig'][6][12]#}</a></li> {#* 取消 *#}
				<li><a href="javascript:;" class="sureDel">{#$langData['siteConfig'][6][0]#}</a></li> {#* 确认 *#}
			</ul>
		</div>
	</div>
	
	<!-- 删除弹出层 e -->
	<div class="tab">
			{#$sx#}

    	<ul>

    		{#* 全部 *#}
	    	<li data-id="" class="type curr"><a href="javascript:;">{#$langData['siteConfig'][9][0]#}</a><s></s></li>

	    	{#* 待审核 *#}
	    	<li class="type" data-id="0"><a href="javascript:;">{#$langData['siteConfig'][19][556]#}</a><em id="gray"></em><s></s></li>

	    	{#* 审核通过 *#}
	    	<li class="type" data-id="1"><a href="javascript:;">{#$langData['siteConfig'][26][73]#}</a><em id="audit"></em><s></s></li>

	    	{#* 审核拒绝 *#}
	    	<li class="type" data-id="2"><a href="javascript:;">{#$langData['siteConfig'][9][35]#}</a><em id="refuse"></em><s></s></li>
    	</ul>
    
	</div>

	<!-- 列表 s -->
	<div class="house-list esf-list" id="list"></div>
	<!-- 列表 s -->

	{#* 发布 *#}
	{#if $pageUrl#}
	<div class="fabuBtn"><a href="{#$pageUrl#}">{#$langData['siteConfig'][11][0]#}</a></div>
	{#/if#}

	{#include file="fabu-pay.html"#}
	{#include file="refreshTopSfcar.html" tourl={#getUrlPath service='member' template='manage' type='user' action={#$module#}#} act="detail"#}

<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script src="{#$templets_skin#}js/fabu-pay.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$templets_skin#}js/refreshTopSfcar.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$templets_skin#}js/alert.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$templets_skin#}js/manage-sfcar.js?v={#$cfg_staticVersion#}"></script>

</body>
</html>

