{#*<style media="screen">
html,body {font-size: .24rem;}
/*.list {margin-top: 1rem;}
.huoniao_iOS .list {margin-top: 0;}*/
.food {color: #333; border-bottom: 1px solid #f4f4f4; padding: 0 0 .1rem; margin-bottom: .1rem;}
.item .state{color: #ff6800;}
.item .opbtn{padding: .15rem .2rem; text-align: right;}
.item .opbtn a.gray {border: 1px solid #aaa; border-radius: .08rem; margin-right: .2rem;}
.item .opbtn a {padding: .1rem .2rem; display: inline-block;}
</style>
<script type="text/javascript">
  var userid = {#$userid#}, detailUrl = '{#getUrlPath service='member' type='user' template='orderdetail' module='waimai' userid="%id%"#}';
  var nowdate = {#$smarty.now#};
  var templets_skin = '{#$templets_skin#}';
  var commentUrl = '{#getUrlPath service='member' type='user' template='write-comment-waimai' id="%id%"#}';
  var site_map = '{#$site_map#}';

</script>
<div class="tab">
  <ul data-url="{#getUrlPath service='member' type='user' template='orderdetail' module='waimai' userid="%id%"#}" class="waimai-tab" >
    <li data-id="" class="curr"><a href="javascript:;">{#$langData['siteConfig'][9][0]#} (<span id="total">0</span>)</a><p class="curr-line"><i></i></p></li>
  	<li data-id="0"><a href="javascript:;">{#$langData['siteConfig'][9][23]#} (<span id="unpaid">0</span>)</a><p class="curr-line"><i></i></p></li>
  	<li data-id="1"><a href="javascript:;">{#$langData['siteConfig'][9][28]#} (<span id="rates">0</span>)</a><p class="curr-line"><i ></i></p></li>
  </ul>
</div>
*#}
<script type="text/javascript" src="{#$site_map_apiFile#}"></script>
<script type="text/javascript">
  var userid = {#$userid#}, detailUrl = '{#getUrlPath service='member' type='user' template='orderdetail' module='waimai' userid="%id%"#}';
  var shopUrl = '{#getUrlPath service='waimai'  template='shop' shopid="%id%"#}'
  var nowdate = {#$smarty.now#};
  var templets_skin = '{#$templets_skin#}';
  var commentUrl = '{#getUrlPath service='member' type='user' template='write-comment-waimai' id="%id%"#}';
   var site_map = '{#$site_map#}';
</script>
	<div class="no-data">
		<img src="{#$templets_skin#}images/orderimag/nodata.jpg" />
		<p class="msg">{#$langData['siteConfig'][7][109]#}</p>   {#* 这里空空如也~ *#}
	</div>
	<div class="tab_box">
		<ul>
			<li data-id="" class="on_tab">{#$langData['siteConfig'][9][0]#}(<em id="total">0</em>)</li>{#* 全部 *#}
			<li data-id="0">{#$langData['siteConfig'][9][23]#}(<em id="unpaid">0</em>)</li>{#* 待付款 *#}
			<li data-id="1">{#$langData['siteConfig'][9][28]#}(<em id="rates">0</em>)</li>{#* 待评价 *#}
		</ul>
	</div>
	<div class="tab_con">
		<ul class="order_list" id="list">

		</ul>
	</div>

	<!--订单取消确认s-->
	<div class="pop_confirm">
		<div class="pop_tip">
			<p>{#$langData['waimai'][7][128]#}</p>  {#* 确认取消订单吗? *#}
		</div>
		<div class="pop_btn">
			<a href="javascript:;" class="cancle_btn">{#$langData['waimai'][7][129]#}</a>  {#* 先等等 *#}
			<a href="javascript:;" class="sure_btn">{#$langData['waimai'][7][130]#}</a>   {#* 确定取消 *#}
		</div>
	</div>
	<!--订单取消确认e-->
	<div class="mask_pop"></div>

	{#include file="../../siteConfig/touch_bottom_5.0.html" active="thirdicon" bottom_module="waimai"#}
