
<link rel="stylesheet" href="{#$templets_skin#}css/order-paotui.css?v={#$cfg_staticVersion#}">
<script type="text/javascript">
  var userid = {#$userid#}, detailUrl = '{#getUrlPath service='member' type='user' template='orderdetail' module='waimai' userid="%id%"#}';
  var commentUrl = '{#getUrlPath service='member' type='user' template='write-comment-paotui' id="%id%"#}';
  var templets_skin = '{#$templets_skin#}';
  var noww = '{#$smarty.now|date_format:"%Y-%m-%d %H:%M:%S"#}';
  var buyurl  = '{#getUrlPath service='waimai' template='paotui-buy'#}';
  var songurl = '{#getUrlPath service='waimai' template='paotui-song'#}';      
  var cstime,csprice;//超过cstime 扣除百分之 csprice费用
</script>

<div class="tab">
  <ul data-url="{#getUrlPath service='member' type='user' template='orderdetail' module='waimai' userid="%id%"#}" class="paotui-tab" >
  	{#* 全部 *#}
    <li data-id="" class="curr"><a href="javascript:;">{#$langData['siteConfig'][9][0]#}</a><p class="curr-line"><i></i></p></li>
    {#* 待付款 *#}
  	<li data-id="0"><a href="javascript:;">{#$langData['siteConfig'][9][23]#}</a><p class="curr-line"><i></i></p></li>

  	{#* 进行中 *#}
  	<li data-id="9"><a href="javascript:;">{#$langData['siteConfig'][15][20]#} </a><p class="curr-line"><i ></i></p></li>

  	{#* 待评价 *#}
  	<li data-id="8"><a href="javascript:;">{#$langData['siteConfig'][9][28]#}</a><p class="curr-line"><i ></i></p></li>

  	{#* 已完成 *#}
  	<li data-id="1"><a href="javascript:;">{#$langData['siteConfig'][16][116]#}</a><p class="curr-line"><i ></i></p></li>

  	{#* 已取消 *#}
  	<li data-id="6"><a href="javascript:;">{#$langData['siteConfig'][9][13]#}</a><p class="curr-line"><i ></i></p></li> 	
  	
  </ul>
</div>

<!-- 底部 s-->
<div class="footer_4_3" data-title="paotui">
  <ul class="fn-clear ">     
    <li class="ficon  ">
      <a href="{#getUrlPath service='waimai' template='paotui'#}">
        <i><img src="{#$templets_skin#}images/paotui/paotuiIcon.png"></i>
        <p>跑腿</p>
      </a>
     </li>
             
    <li class="ficon icon_on">
      <a href="{#getUrlPath service='member' type='user' template='order-paotui'#}">
        <i><img src="{#$templets_skin#}images/paotui/orderIcon2.png"></i>
        <p>订单</p>
      </a>
     </li>
             
    <li class="ficon">
      <a href="{#$member_userDomain#}">
        <i><img src="{#$templets_skin#}images/paotui/myIcon.png"></i>
        <p>我的</p></a>
     </li>
             
  </ul>

</div>

<!-- 底部 e-->
<div class="mask_pop"></div>
<!--订单取消确认s-->
<div class="pop_confirm">
  <div class="pop_tip">
    <h3>{#$langData['waimai'][7][128]#}</h3>  {#* 确认取消订单吗? *#}
    <p>订单一旦取消不可恢复</p>   {#* 订单一旦取消不可恢复 *#}
  </div>
  <div class="pop_btn">
    <a href="javascript:;" class="cancle_btn">{#$langData['siteConfig'][6][12]#}</a>  {#* 取消 *#}
    <a href="javascript:;" class="sure_btn">{#$langData['siteConfig'][6][0]#}</a>   {#* 确认 *#}
  </div>
</div>
<!--订单取消确认e-->
<!--订单删除确认 s-->
<div class="del_confirm">
  <div class="pop_tip">
    <h3>确认删除订单吗？</h3>  {#* 确认删除订单吗? *#}
    <p>订单一旦删除不可恢复</p>   {#* 订单一旦删除不可恢复 *#}
  </div>
  <div class="pop_btn">
    <a href="javascript:;" class="del_btn">{#$langData['siteConfig'][6][12]#}</a>  {#* 取消 *#}
    <a href="javascript:;" class="suredel_btn">{#$langData['siteConfig'][6][0]#}</a>   {#* 确认 *#}
  </div>
</div>
<!--订单删除确认 e-->
<script type="text/javascript">
  var site_map = "{#$site_map#}";
</script>
{#include file="{#$HUONIAOROOT#}/templates/siteConfig/public_location.html"#}

<!-- 路径地图 -->
{#if $site_map=="baidu"#}
<script src="https://api.map.baidu.com/getscript?v=3.0&ak={#$site_map_baidu#}=&t=20200914160603"></script>
{#else if $site_map=="amap"#}
<script src="https://webapi.amap.com/maps?v=1.4.15&key={#$site_map_amap#}&plugin=AMap.Riding"></script>
{#else if $site_map == 'google'#}
<script src="{#$templets_skin#}js/markerwithlabel.js?v={#$cfg_staticVersion#}"></script>
{#/if#}