<!DOCTYPE html>
<html>
<head>
<meta charset="{#$cfg_soft_lang#}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>{#$langData['siteConfig'][43][74]#}</title> {#* 我的账户 *#}
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/money.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/pocket.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/ui/swiper.min_4.2.2.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var hideFileUrl = {#$cfg_hideUrl#};
	var pointRatio = {#$cfg_pointRatio#}, pointName = '{#$cfg_pointName#}';
</script>
</head>
<body>
  {#include file="top.html" headTheme="absolute transparent" pageTitle="{#$langData['siteConfig'][43][74]#}"#} {#* 我的账户 *#}
  <div class="bgBox">
    {#if 'balance'|in_array:$cfg_ucenterLinks#}
    <div class="navTab">
      <ul>
        <li class="curr moneyYe"><a href="javascript:;">{#$langData['siteConfig'][10][10]#}</a></li> {#* 我的余额 *#}
		{#if $cfg_pointState#}
        <li class="jfye"><a href="javascript:;">{#$langData['siteConfig'][10][0]#}{#$cfg_pointName#}</a></li>{#* 我的积分 *#}
		{#/if#}
      </ul>
    </div>
    <div class="navCon">
      <div class="swiper-container">
          <div class="swiper-wrapper">
              <div class="myYe swiper-slide">
				{#if 'withdraw'|in_array:$cfg_ucenterLinks#}
                <a href="{#getUrlPath service='member' type='user' template='withdraw'#}">
				{#else#}
				<a href="javascript:;">
				{#/if#}
                <div class="aIcon yeIcon"><span><em class="txt">{#echoCurrency type='symbol'#}</em><em class="shadow">{#echoCurrency type='symbol'#}</em></span></div>
                <div class="rCon">
                  <h2>{#$langData['siteConfig'][10][10]#}</h2> {#* 我的余额 *#}
                  <p>{#$userinfo.money#}</p>
                </div>
				{#if 'withdraw'|in_array:$cfg_ucenterLinks#}
                <div class="linkA">{#$langData['siteConfig'][16][12]#}</div> {#* 提现 *#}
				{#/if#}
              </a></div>
              {#if $cfg_pointState#}
              <div class="myJf swiper-slide">
                <a href="{#getUrlPath service='member' type='user' template='deposit'#}">
                <div class="aIcon jfIcon"></div>
                <div class="rCon">
                  <h2>{#$langData['siteConfig'][10][0]#}{#$cfg_pointName#}</h2>{#* 我的 *#}
                  <p>{#$userinfo.point#}</p>
                </div>
                <div class="linkA cz">{#$langData['siteConfig'][15][0]#}</div> {#* 充值 *#}
              </a></div>
              {#/if#}
          </div>
      </div>

    </div>
    {#/if#}
  </div>

  {#if $cfg_qiandao_state#}
  <div class="qd">
    <a href="{#getUrlPath service='member' type='user' template='qiandao'#}">
      <img src="{#$templets_skin#}images/account/qiandao_1.png?v=1" alt="">
    </a>
  </div>
  {#/if#}

  <!-- 列表 s -->
  <div class="operate">
    <ul>
	  {#if 'deposit'|in_array:$cfg_ucenterLinks#}
	  {#* 余额充值 *#}
	  <li><a href="{#getUrlPath service='member' type='user' template='deposit' param='paytype=deposit'#}"><i class="icon recharge"></i>{#$langData['siteConfig'][19][363]#}{#$langData['siteConfig'][15][0]#}</a></li>
	  {#/if#}

      {#if 'record'|in_array:$cfg_ucenterLinks#}
      {#* 账户明细 *#}
      <li><a href="{#getUrlPath service='member' type='user' template='record'#}"><i class="icon jiaoyi"></i>{#$langData['siteConfig'][54][120]#}</a></li>
      {#/if#}

      {#if 'withdraw'|in_array:$cfg_ucenterLinks#}
      {#* 提现记录 *#}
      <li><a href="{#getUrlPath service='member' type='user' template='withdraw_log'#}"><i class="icon tixian"></i>{#$langData['siteConfig'][19][294]#}</a></li>
      {#/if#}

      {#if 'reward'|in_array:$cfg_ucenterLinks#}
      {#* 打赏收益 *#}
      <li><a href="{#getUrlPath service='member' type='user' template='reward'#}"><i class="icon dashang"></i>{#$langData['siteConfig'][19][233]#}</a></li>
      {#/if#}
	</ul>
	<ul>
	  {#if $cfg_pointState#}

      {#if 'transfer'|in_array:$cfg_ucenterLinks#}
      {#* 积分转赠 *#}
      <li><a href="{#getUrlPath service='member' type='user' template='transfer'#}"><i class="icon jfzhuan"></i>{#$langData['siteConfig'][19][232]#}</a></li>
      {#/if#}

      {#if 'point'|in_array:$cfg_ucenterLinks#}
      {#* 积分明细 *#}
      <li><a href="{#getUrlPath service='member' type='user' template='point'#}"><i class="icon point"></i>{#$cfg_pointName#}{#$langData['siteConfig'][16][45]#}</a></li>
      {#/if#}

	  {#if 'convert'|in_array:$cfg_ucenterLinks#}
	  <li><a href="{#getUrlPath service='member' type='user' template='convert'#}"><i class="icon convert"></i>{#$langData['siteConfig'][19][231]|replace:'1':$cfg_pointName#}</a></li>
	  {#/if#}

	  {#/if#}
    </ul>
  </div>
  <!-- 列表 e -->
  <script type="text/javascript" src="{#$cfg_staticPath#}js/ui/swiper.min_4.2.2.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/pocket.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
