<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="{#$cfg_soft_lang#}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>{#$detail.title#}-{#$cfg_webname#}</title>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/put_forward.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}',
    templets_skin = '{#$templets_skin#}';

  var hideFileUrl = {#$cfg_hideUrl#};
  var cookiePre = '{#$cfg_cookiePre#}';
  var type = '{#$detail.type#}';
  var money = {#$detail.money#};
  var module = '{#$detail.module#}';
  var utype = {#$detail.utype#};
  var minPutMoney = {#$detail.minPutMoney#};
  var maxPutMoney = {#$detail.maxPutMoney#};
</script>
</head>

<body>

  {#include file="../../siteConfig/touch_top.html" pageTitle=$detail.title#}

<div class="bg">
  <img src="{#$templets_skin#}images/put_{#$detail.type#}.png">
  {#if $detail.type == 'alipay'#}
  <p class="bg_title">{#$langData['siteConfig'][19][302]#}</p>   {#* 支付宝  *#}
  <p class="bg_txt">{#$langData['siteConfig'][41][52]#}{#$detail['minPutMoney']#}{#$langData['siteConfig'][41][53]#}</p>   {#* 最低  *#}   {#* （48小时到账）  *#}
  {#elseif $detail.type == 'wxpay'#}
  <p class="bg_title">{#$langData['siteConfig'][27][139]#}</p>   {#* 微信  *#}
  <p class="bg_txt">{#$langData['siteConfig'][41][52]#}{#$detail['minPutMoney']#}{#$langData['siteConfig'][41][53]#}</p>   {#* 最低  *#}   {#* （48小时到账）  *#}
  {#/if#}
</div>

<div class="amount_money">
  <p class="am_top">{#$langData['siteConfig'][19][39]#}</p>   {#* 提现金额  *#}
  <div class="money_input"><span>&yen;</span><input type="text" name="money" id="money" placeholder="0.00"></div>
</div>

<div class="feilu fn-clear">
  {#if $detail.module == "dating"#}
  <span>{#$detail.moneyName#}{#$langData['siteConfig'][20][603]#} {#$detail.have#}，{#$langData['siteConfig'][20][604]#}&yen;{#$detail.money#}</span>   {#* 剩余  *#}   {#* 折合  *#}
  {#else#}
  <span>{#$detail.moneyName#}{#$langData['siteConfig'][20][603]#} &yen;{#$detail.money#}</span>   {#* 剩余  *#}
  {#/if#}
  <span id="withdrawAll">{#$langData['siteConfig'][19][873]#}</span>   {#* 全部提现  *#}
</div>
<div class="feilu fn-clear">
  {#if $detial.maxPutMoney < $detail.money#}<p>{#$detail.info#}，{#$langData['siteConfig'][29][125]#} &yen;{#$detail.maxPutMoney#}</p>{#/if#}    {#* 本次最多提现  *#}
</div>

<div class="money_button"><button id="submit">{#$langData['siteConfig'][41][54]#}</button></div>    {#* 确认提现  *#}

<div class="error"></div>

<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script src="{#$templets_skin#}js/put_forward.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
