<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="{#$cfg_soft_lang#}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>{#$cfg_pointName#}{#$langData['siteConfig'][22][132]#}</title>
<link rel="stylesheet" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" href="{#$templets_skin#}css/qiandao.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
	var hideFileUrl = {#$cfg_hideUrl#}, state = '{#$state#}', todayQiandao = {#$todayQiandao#};
	var currentYear = {#$smarty.now|date_format:"%Y"#}, currentMonth = {#$smarty.now|date_format:"%m"#}, currentDay = {#$smarty.now|date_format:"%d"#};
	var cfg_qiandao_buqianState = {#$cfg_qiandao_buqianState#}, cfg_qiandao_buqianPrice = {#$cfg_qiandao_buqianPrice#};
	var cfg_pointName = '{#$cfg_pointName#}';//积分

</script>
</head>

<body>
{#* 积分签到 *#}
{#include file="top.html" headTheme="absolute transparent" pageTitle="{#$cfg_pointName#}{#$langData['siteConfig'][22][132]#}"#}
<div class="bgBox">

    <div class="SignBox">
    	<div class="leftImg"><img onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';" src="{#if $userinfo.photo == ""#}{#$cfg_staticPath#}images/noPhoto_100.jpg{#else#}{#changeFileSize url="{#$userinfo.photo#}" type="middle"#}{#/if#}" /></div>
    	<div class="rightCon">
    		<div class="toPoint"><strong id="totalPoint">{#$userinfo.point#}</strong> {#$cfg_pointName#}</div>
    		{#*总签到 -- 天 -- 连续签到*#}
    		<p>{#$langData['siteConfig']['22'][112]#}<em id="AllDay">{#$totalQiandao#}</em>{#$langData['siteConfig']['13'][6]#}，{#$langData['siteConfig']['22'][111]#}<em id="Continuous">{#$totalLianqian#}</em>{#$langData['siteConfig']['13'][6]#}</p>
    	</div>

	</div>
</div>
<div class="rlWrap">
	<div id="calendar"></div>
	{#* 温馨提示：仅可补签当月漏签日期哦 *#}
	<div class="wraning">{#$langData['siteConfig']['54'][133]#}</div>
	{#* 今日已签到 --  立即签到*#}
	<div class="ClickSign{#if $todayQiandao#} disabled{#/if#}">{#if $todayQiandao#}{#$langData['siteConfig']['22'][135]#}{#else#}{#$langData['siteConfig']['22'][113]#}{#/if#}</div>
</div>
<div class="RulesBox">
	<div class="RuleLead comhead"><span>{#$langData['siteConfig']['22'][110]#}</span></div>
	<div class="RuleNote">
		{#$cfg_qiandao_note#}
	</div>
</div>

{#if in_array("integral", $installModuleArr)#}
<!-- 积分兑换 s-->
<div class="dhWrap">
	{#* 积分兑换 *#}
	<div class="comhead"><span>{#$langData['siteConfig']['16'][11]#}</span></div>
	<ul class="fn-clear">
		{#integral action="slist" return="list"  pageSize="4" page="1"#}
		<li><a href="{#$list.url#}">
			<div class="topImg"><img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/404.jpg';this.onerror=this.src='{#$cfg_staticPath#}images/404.jpg';"></div>
			<div class="jfCon">
			 	<h2>{#$list.title#}</h2>
				<p><strong>{#$list.point#}</strong>{#$cfg_pointName#}</p>
				<div class="godh"><span>去兑换</span></div>
			</div>
		</a></li>
		{#/integral#}
	</ul>
	<div class="moreGoods"><a href="{#getUrlPath service='integral'#}">更多商品</a></div>
</div>
<!-- 积分兑换 e-->
{#/if#}

<div class="disk"></div>
<div class="SuccessBox QianBox">
	<div class="sureWrap comWrap">
		<s class="bg1"></s>
		<s class="bg2"></s>
		<div class="comtitle"></div>
		<div class="SuccessIcon"><span>{#$cfg_pointName#}</span></div>
	</div>
	<div class="close"></div>
</div>
<!-- 补签弹窗 s-->
{#if $cfg_qiandao_buqianState#}
<div class="SureBox">
	<div class="sureWrap comWrap">
		<s class="bg1"></s>
		<s class="bg2"></s>
		<div class="Surelead comtitle"></div>
		<p>{#$langData['siteConfig'][22][128]#}{#$cfg_qiandao_buqianPrice#}{#$cfg_pointName#}，{#$langData['siteConfig'][22][129]#}</p>
		<ul class="fn-clear">
			<li class="cancle">{#$langData['siteConfig']['6'][12]#}</li>
			<li class="sure">{#$langData['siteConfig']['6'][1]#}</li>
		</ul>
	</div>
	<div class="close"></div>
</div>
{#/if#}
<!-- 补签弹窗 e-->
<div class="error">您的{#$cfg_pointName#}不够哦</div>

<script type="text/javascript" src="{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/qiandao.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
