<!DOCTYPE html>
<html>
<head>
<meta charset="{#$cfg_soft_lang#}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>{#$langData['siteConfig'][54][120]#} </title>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/recordDetail.css?v={#$cfg_staticVersion#}" media="all" />
<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/mobiscroll.js" type="text/javascript"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}',templets_skin ='{#$templets_skin#}';

	var hideFileUrl = {#$cfg_hideUrl#};
	var atpage = 1, totalCount = 0, pageSize = 20;
</script>
</head>
<body>

{#* 账单详情 *#}
{#include file="top.html" pageTitle="账单详情"#}

<div class="container">
	<!-- 交易内容 -->
	<div class="jyBox">
		{#if $detail_ctype !='tuikuan' && $detail_ctype != 'tixian' #}
			{#if $detail_ctype =='shuaxin' || $detail_ctype =='zhiding' || $detail_ctype =='jiacu' || $detail_ctype =='jiahong'#}
				<div class="jy_img"><img src="{#$templets_skin#}images/record/tuiguang.png" alt=""></div>
			{#else#}
				<div class="jy_img"><img src="{#$templets_skin#}images/record/{#$detail_ordertype#}.png" alt=""></div>
			{#/if#}
		{#/if#}
		<!-- 退款 -->
		{#if $detail_ctype =='tuikuan'#}
		<div class="jy_img tui ">退</div>
		{#/if#}
		<!-- 提现 -->
		{#if $detail_ctype == 'tixian'#}
		<div class="jy_img ti ">提</div>
		{#/if#}

		{#if $detail_ctype =='huiyuanshengji'#}
		<h6>{#$detail_title#} - {#$detail_info#}</h6>
		{#elseif $detail_ctype == 'jingjirentaocan' #}
		<h6>{#$detail_title#} - 经纪人套餐购买</h6>
		{#elseif $detail_ctype == 'tuikuan' #}
		<h6>{#$detail_title#} - 退款</h6>
		{#elseif $detail_ctype == 'yongjin'#}
		<h6>{#$detail_info#}</h6>
		{#else#}
		<h6>{#$detail_title#}</h6>
		{#/if#}
		<h1>{#if $detail_type==0#} - {#else#} + {#/if#}{#$detail_amount#}</h1>

		<!-- 交易成功s -->
		<p class="forSure">
			{#if $detail_ctype =='huiyuanshengji'#}
				交易成功
			{#elseif $detail_ctype =='chongzhi'#}
				充值成功
			{#elseif $detail_ctype == 'tixian'#}
				提现成功
			{#elseif  $detail_ctype !='tuikuan' && !$detail_tuikuanparam && $detail_refrunddate ==0  #}
				交易成功
			{#/if#}
		</p>
		<!-- 交易成功e -->

		<!-- 交易失败 链到退款s -->
		{#if $detail_refrunddate != 0 && $detail_refrundamount ==0#}<a href="javacript:;" class="link recordto link_btn">已全额退款 ></a> {#elseif $detail_refrunddate!=0 && $detail_countgl!=0#} <a href="javacript:;" class="link recordto link_btn"> 有退款 ></a>  {#/if#}
		<!-- 交易失败 链到退款e -->

		<!-- 退款成功s -->
		{#if $detail_ctype == 'tuikuan'#}
		<p class="">退款成功</p>
		{#/if#}
		<!-- 退款成功e -->

	</div>

	
	
	
	<!-- 商品s -->
	{#if ($detail_ctype =='xiaofei' || $detail_ctype == 'shangpinxiaoshou') && $detail_ordernum !='' && $detail_orderurl!='' || ($detail_ctype =='shuaxin' || $detail_ctype =='zhiding' || $detail_ctype =='jiahong' || $detail_ctype =='jiacu' || $detail_ctype == 'fabuxinxi') #}
	<a href="{#$detail_orderurl#}" class="orderLink">
		<div class="odetail">
			<h6>{#$detail_foodtitle#}</h6>
			<p>{#if $detail_ordernum ==''#} 查看信息详情 {#else#}查看订单详情{#/if#}</p>
		</div>
	</a>
	{#/if#}
	<!-- 商品e -->




	<div class="jyDetail">
		{#*  *   *  *  *   *  各模块的  *  *  *  *    * *   *#}
		<!-- 交易成功s -->
		{#if $detail_ctype != 'tuikuan' && $detail_ctype != 'shangpinxiaoshou' &&  $detail_ctype != 'chongzhi' && $detail_ordertype !='dating' && $detail_ctype !='fufeiyuedu' && $detail_ctype !='dashang' && $detail_ctype !='huiyuanshengji' && $detail_ctype !='shuaxin' && $detail_ctype !='zhiding' && $detail_ctype !='jiahong' &&  $detail_ctype !='jiacu' && $detail_ctype!='jingjirentaocan' && $detail_ctype!='yongjin'#}
		<ul  class="">
			<li><label>付款方式</label><span>{#$detail_pay_name#}</span></li>
			{#if (int)$detail_point#}
			<li class="jifen"><label>积分抵扣</label><span>{#$detail_point#}{#$detail_cfg_pointName#}抵{#$detail_pointmoney#}</span></li>
			{#/if#}
			<li><label>创建时间</label><span>{#$detail_date#}</span></li>
			{#if $detail_ordernum !=''#}<li><label>账单编号</label><span>{#$detail_ordernum#}</span></li>{#/if#}
			<li><label>账单分类</label><span>{#$detail_modulename#}</span></li>
			{#if $detail_countgl >1#}
			<li class="recordto link_btn"><label>关联记录</label><span>查看</span></li>
			{#/if#}
		</ul>
		{#/if#}
		<!-- 交易成功e -->

		<!-- 退款成功s -->
		{#if $detail_ctype == 'tuikuan'#}
		<ul class="">
			{#if $detail_tuikuanparam['paytype']#}<li><label>退款方式</label><span>{#$detail_tuikuanparam['paytype']#}</span></li>{#/if#}
			{#if {#$detail_tuikuanparam['point'] !=0#}#}
			<li><label>积分抵扣</label><span>{#$detail_tuikuanparam['point']#}积分已退回</span></li>
			{#/if#}
			{#if {#$detail_tuikuanparam['truemoneysy'] !=0#}#}
			<li><label>现金支付</label><span>{#$detail_tuikuanparam['truemoneysy']#}已退回</span></li>
			{#/if#}
			{#if {#$detail_tuikuanparam['money_amount'] !=0#}#}
			<li><label>余额支付</label><span>{#if $detail_tuikuantype ==1#} {#$detail_amount#} {#else#}{#$detail_tuikuanparam['money_amount']#} {#/if#}已退回</span></li>
			{#/if#}

			<li><label>创建时间</label><span>{#$detail_date#} </span></li>
			{#if $detail_ordernum#}<li><label>账单编号</label><span>{#$detail_ordernum#}</span></li>{#/if#}
			<li><label>退款时间</label><span> {#if $detail_tuikuanparam['refrunddate']!=''#}{#date('Y-m-d H:i:s',$detail_tuikuanparam['refrunddate'])#} {#else#} {#$detail_date#} {#/if#}</span></li>
			{#if $detail_tuikuanparam['refrundno'] !=''#}<li><label>退款流水号</label><span>{#$detail_tuikuanparam['refrundno']#}</span></li>{#/if#}
			<li><label>账单分类</label><span>{#$detail_modulename#}</span></li>
			{#if $detail_countgl >1#}
			<li class="recordto link_btn"><label>关联记录</label><span>查看</span></li>
			{#/if#}
		</ul>
		{#/if#}
		<!-- 退款成功e -->

		<!-- 商家交易成功s -->
		{#if $detail_ctype == 'shangpinxiaoshou'#}
		<ul class="">
			<li><label>收入来源</label><span>{#$detail_info#}</span></li>
			<li><label>付款账号</label><span>{#$detail_buyusername#}</span></li>
			<li><label>付款方式</label><span>{#$detail_pay_name#}</span></li>
			<li><label>创建时间</label><span>{#$detail_date#}</span></li>
			{#if $detail_ordertype !='huodong'#}
			<li><label>账单编号</label><span>{#$detail_ordernum#}</span></li>
			{#/if#}
			<li><label>账单分类</label><span>{#$detail_modulename#}</span></li>
			{#if $detail_countgl >1#}
			<li class="recordto link_btn"><label>关联记录</label><span>查看</span></li>
			{#/if#}
		</ul>
		{#/if#}
		<!-- 商家交易成功e -->
		{#*  *   *  *  *   *  各模块的  *  *  *  *    * *   *#}

		<!-- 会员等级s -->
		{#if $detail_ctype =='huiyuanshengji' || ($detail_ctype =='chongzhi' && $detail_ordertype!='live') || $detail_ctype =='shangjiaruzhu' || $detail_ctype =='jifenduihuan' || $detail_ctype =='jifenduihuan' || $detail_ctype == 'fufeiyuedu'#}
		<ul >
			<li><label>商品说明</label><span>{#if $detail_ctype =='huiyuanshengji'#}{#$detail_title#} - {#$detail_info#}{#else#}{#$detail_info#}{#/if#} </span></li>
			<li><label>付款方式</label><span>{#if $detail_pid==0#} 余额支付 {#else#} {#$detail_pay_name#} {#/if#}</span></li>
			<li><label>创建时间</label><span>{#$detail_date#} </span></li>
			<li><label>账单编号</label><span>{#$detail_ordernum#}</span></li>
			<li><label>账单分类</label><span>{#if $detail_ctype == 'fufeiyuedu'#}{#$detail_modulename#}{#else#}{#$leimuallarr[$detail_ctype]#}{#/if#}</span></li>
		</ul>
		{#/if#}
		<!-- 会员等级e -->

		<!-- 积分兑换s -->
		{#if $detail_ctype == 'jifenduihuan'#}
		<ul class="">
			<li><label>商品说明</label><span>{#$detail_info#} </span></li>
			<li><label>付款方式</label><span>{#$detail_pay_name#}</span></li>
			<li><label>创建时间</label><span>{#$detail_date#} </span></li>
			<li><label>账单编号</label><span>{#$detail_transaction_id#}</span></li>
			<li><label>账单分类</label><span>充值</span></li>
		</ul>
		{#/if#}
		<!-- 积分兑换e -->

		<!-- 红包收入s -->
		{#if strpos($detail_info,'红包') && $detail_ordertype == 'live' && $detail_ctype != 'xiaofei'#}
		<ul class="">
			<li><label>收入来源</label><span>{#$detail_info#} </span></li>
			<li><label>创建时间</label><span>{#$detail_date#}</span></li>
			<li><label>账单编号</label><span>{#$detail_ordernum#}</span></li>
			<li><label>账单分类</label><span>收入</span></li>
		</ul>
		{#/if#}
		<!-- 红包收入e -->

		<!-- 提现收入s -->
		{#if $detail_ctype == 'tixian'#}
		<ul  class="">
			<li><label>提现至</label><span>{#$detail_title#} </span></li>
			<li><label>创建时间</label><span>{#$detail_date#} </span></li>
			<li><label>账单编号</label><span>{#$detail_ordernum#}</span></li>
			<li><label>账单流水号</label><span>{#$detail_transaction_id#}</span></li>
			<li><label>账单分类</label><span>提现</span></li>
		</ul>
		{#/if#}
		<!-- 提现收入e -->

		<!-- 经纪人套餐s -->
		{#if $detail_ctype =='jingjirentaocan'#}
		<ul class="">
			<li><label>商品说明</label><span>{#$detail_info#}</span></li>
			<li><label>付款方式</label><span>{#$detail_jjrpayname#}</span></li>
			<li><label>创建时间</label><span>{#$detail_date#} </span></li>
			<li><label>账单编号</label><span>{#$detail_ordernum#}</span></li>
			<li><label>账单分类</label><span>{#$detail_modulename#}</span></li>
		</ul>
		{#/if#}
		<!-- 经纪人套餐e -->

		<!-- 推广s -->
		{#if $detail_ctype =='zhiding' || $detail_ctype =='shuaxin' || $detail_ctype =='shuaxin' || $detail_ctype =='jiacu' || $detail_ctype =='jiahong'#}
		<ul class="">
			<li><label>付款方式</label><span>{#$detail_pay_name#}</span></li>
			<li><label>创建时间</label><span>{#$detail_date#}</span></li>
			<li><label>账单编号</label><span>{#$detail_ordernum#} </span></li>
			<li><label>账单分类</label><span>{#$detail_title#} </span></li>
		</ul>
		{#/if#}
		<!-- 推广e -->

		<!-- 交友s -->
		{#if $detail_ordertype =='dating'#}
		<ul class="">
			<li><label>商品说明</label><span>{#$detail_title#}</span></li>
			<li><label>付款方式</label><span>{#if $detail_payamount ==0#} 余额支付 {#else#}{#$detail_pay_name#} {#/if#}</span></li>
			<li><label>创建时间</label><span>{#$detail_date#}</span></li>
			<li><label>账单编号</label><span>{#$detail_ordernum#} </span></li>
			{#if $detail_transaction_id!=''#}<li><label>账单流水号</label><span>{#$detail_transaction_id#} </span></li>{#/if#}
			<li><label>账单分类</label><span>{#$detail_modulename#}</span></li>
		</ul>
		{#/if#}
		<!-- 交友e -->

		<!-- 打赏s -->
		{#if $detail_ctype =='dashang'#}
		<ul class="">
			<li><label>{#if $detail_type == 0#} 商品说明 {#else#} 收入来源 {#/if#}</label><span>{#$detail_info#}</span></li>
			{#if $detail_type == 0#}
			<li><label>付款方式</label><span>{#$detail_pay_name#}</span></li>
			{#/if#}
			<li><label>创建时间</label><span>{#$detail_date#}</span></li>
			<li><label>账单编号</label><span>{#$detail_ordernum#}</span></li>
			<li><label>账单分类</label><span>{#$detail_modulename#}</span></li>
		</ul>
		{#/if#}
		<!-- 打赏e -->
		{#if $detail_ctype =='yongjin'#}
		<ul class="">
			{#if $detail_buyusername != ''#}<li><label>来源账号 </label><span>{#$detail_buyusername#}</span></li> {#/if#}
			<li><label>佣金来源 </label><span>{#$detail_title#}</span></li>
			<li><label>结算时间</label><span>{#$detail_date#}</span></li>
			{#if $detail_ordernum#}<li><label>账单编号</label><span>{#$detail_ordernum#}</span></li>{#/if#}
			{#if $detail_modulename != ''#}<li><label>账单分类</label><span>{#$detail_modulename#}</span></li> {#/if#}
		</ul>
		{#/if#}
	</div>

</div>


<!-- 关联 -->
<div class="mask_pop"></div>
<div class="pop">
	<dl class="link_box">

	</dl>
	<a href="javacsript:;" class="cancel_btn">取消</a>
</div>

<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script type="text/javascript" src="{#$templets_skin#}js/recordDetail.js?v={#$cfg_staticVersion#}"></script>

<script>
	var ordernum = '{#$detail_ordernum#}', ordertype = '{#$detail_ordertype#}',ctype = '{#$detail_ctype#}',recordid = '{#$detail_id#}',tuikuantype = '{#$detail_tuikuantype#}';
	var recordurl = "{#getUrlPath service='member' type='user' template='recordDetail'#}";
</script>
</body>
</html>
