
{#if $module == ""#}
{#$pageTitle = $langData['siteConfig'][16][22]#}
{#elseif $module == "profile"#}
{#$pageTitle = $langData['siteConfig'][19][242]#}
{#elseif $module == "collections"#}
{#$pageTitle = $langData['siteConfig'][19][243]#}
{#elseif $module == "invitation"#}
{#$pageTitle = $langData['siteConfig'][19][245]#}
{#elseif $module == "delivery"#}
{#$pageTitle = $langData['siteConfig'][19][244]#}
{#/if#}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{#$langData['renovation'][7][0]#}</title>  {#* 装修频道 *#}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu.css?v={#$cfg_staticVersion#}">
  {#if $module == ""#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/renovation.css?v={#$cfg_staticVersion#}">
  {#/if#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}',templatePath = '{#$templets_skin#}';
	var hideFileUrl = {#$cfg_hideUrl#};
	var module  = 'renovation';
    var Identity   = {#json_encode($Identity)#}; /*身份(工长/设计师/公司)*/
</script>
</head>

<body>
<!--{#$pageTitle = {#$langData['renovation'][7][0]#}#}    {#* 装修频道 *#}-->
{#$pageRight = '<a href="javascript:;" class="notMenu"> </a>'#}
{#if $module !='customer' &&  $module!= 'zb' && $module!='order'#}
{#include file="top.html"#}
{#/if#}

<!--<div class="info_state">您提交的信息正在审核中，请耐心等待</div>-->
{#if $module == ""#}
<div class="card_content">
  <dl class="mod_dl">
    <dt class="m_title">
      <h3>常用功能</h3>
    </dt>
    <dd class="m_con">
      <ul class="fn-clear">
        <li class="m_div">
          <a href="{#getUrlPath service='member' type='user' template='renovation' action='order'#}">
            <i><img src="{#$templets_skin#}images/renovation/order.png" alt=""></i>
            {#$langData['siteConfig'][41][49]#}
          </a>
        </li>{#* 我的预约 *#}
        <li class="m_div">
          <a href="{#getUrlPath service='member' type='user' template='renovation' action='zb'#}">
            <i><img src="{#$templets_skin#}images/renovation/zb.png" alt=""></i>
            {#$langData['siteConfig'][50][28]#}
          </a>
        </li>{#* 我的招标 *#}
        <li class="m_div">
          <a href="{#getUrlPath service='member' type='user' template='collect' param='module=renovation'#}">
            <i><img src="{#$templets_skin#}images/renovation/collect.png" alt=""></i>
            {#$langData['siteConfig'][10][9]#}
          </a>
        </li>{#* 我的收藏 *#}

      </ul>

    </dd>
  </dl>
  {#if $Identity['foreman']#}
  <dl class="mod_dl">
    <dt class="m_title">
      <h3>工长工作台</h3>
      <a href="{#getUrlPath service='renovation' template='designer-detail' id={#$foreman['id']#}#}" class="more_btn">工长主页</a>
    </dt>
    <dd class="m_con">
      <ul class="fn-clear">
        <li class="m_div">
          <a href="{#getUrlPath service='member' type='user' template='renovation' action='profile' param="type=foreman"#}">
            <i><img src="{#$templets_skin#}images/renovation/profile.png" alt=""></i>
            {#$langData['renovation'][7][18]#}
          </a>
        </li>{#* 我的资料 *#}
        <li class="m_div">
          <a href="{#getUrlPath service='member' type='user' template='renovation'   action='case' param="type=foreman"#}">
            <i><img src="{#$templets_skin#}images/renovation/case.png" alt=""></i>
            {#$langData['renovation'][9][18]#}
          </a>
        </li>{#* 案例管理 *#}
        <li class="m_div">
          <a href="{#getUrlPath service='member' type='user' template='renovation'   action='customer' param="type=foreman"#}">
            <i><img src="{#$templets_skin#}images/renovation/customer.png" alt=""></i>
            {#$langData['renovation'][10][0]#}
          </a>
        </li>{#* 客户管理 *#}

        <li class="m_div">
          <a href="{#getUrlPath service='member' type='user' template='renovation'  action='article' param="type=foreman"#}">
            <i><img src="{#$templets_skin#}images/renovation/article.png" alt=""></i>
            {#$langData['renovation'][7][2]#}
          </a>
        </li>{#* 我的文章 *#}

      </ul>

    </dd>
  </dl>
  {#/if#}
  {#if $Identity['designer']#}
  <dl class="mod_dl">
    <dt class="m_title">
      <h3>设计师工作台</h3>
      <a href="{#getUrlPath service='renovation' template='designer-detail' id={#$designer['id']#}#}" class="more_btn">设计师主页</a>
    </dt>
    <dd class="m_con">
      <ul class="fn-clear">
        <li class="m_div">
          <a href="{#getUrlPath service='member' type='user' template='renovation' action='profile' param="type=designer"#}">
            <i><img src="{#$templets_skin#}images/renovation/profile.png" alt=""></i>
            {#$langData['renovation'][7][18]#}
          </a>
        </li>{#* 我的资料 *#}
        <li class="m_div">
          <a href="{#getUrlPath service='member' type='user' template='renovation' action='case' param="type=designer"#}" param="panel=circle"#}">
            <i><img src="{#$templets_skin#}images/renovation/case.png" alt=""></i>
            {#$langData['renovation'][9][18]#}
          </a>
        </li>{#* 案例管理 *#}
        <li class="m_div">
          <a href="{#getUrlPath service='member' type='user' template='renovation' action='customer' param="type=designer"#}">
            <i><img src="{#$templets_skin#}images/renovation/customer.png" alt=""></i>
            {#$langData['renovation'][10][0]#}
          </a>
        </li>{#* 客户管理 *#}

        <li class="m_div">
          <a href="{#getUrlPath service='member' type='user' template='renovation' action='article' param="type=designer"#}">
            <i><img src="{#$templets_skin#}images/renovation/article.png" alt=""></i>
            {#$langData['renovation'][7][2]#}
          </a>
        </li>{#* 我的文章 *#}

      </ul>

    </dd>
  </dl>
  {#/if#}
  <div class="company">
    <h3> 商家工作台</h3>
    <div class="go"><a href="{#getUrlPath service='member' template='renovation'#}"> 立即前往商家端</a></div>
    
    <p>公司信息及员工管理等，请前往商家后台操作</p>
  </div>
  <!-- 只有个人身份的时候 s-->
  <div class="joinList">
    {#if !$Identity['designer']#}
    <div class="joinItem artJoin">
      <h2>我是装修设计师</h2>
      <h3>立即加入设计师让客户找上门</h3>
      <a href="{#getUrlPath service='renovation' template='designer_join'#}">加入设计师</a>
    </div>
    {#/if#}
    {#if !$Identity['foreman']#}
    <div class="joinItem foreJoin">
      <h2>我是装修工长</h2>
      <h3>加入工长获取更多客户</h3>
      <a href="{#getUrlPath service='renovation' template='foreman_join'#}">加入工长</a>
    </div>
    {#/if#}
  </div>
  <!-- 只有个人身份的时候 e-->

  <!--设计师后台 s-->
  {#if $type != ""#}
  <!-- <li><a href="{#getUrlPath service='member' type='user' template='renovation' action='profile'  param="type=$type"#}"><i class="icon_art_info"></i>我的资料</a></li>
  <li><a href="{#getUrlPath service='member' type='user' template='renovation' action='selfCustomer' param="type=$type"#} #}"><i class="icon_art_customer"></i>客户管理</a></li>
  <li><a href="{#getUrlPath service='member' type='user' template='renovation' action='selfcase'  param="type=$type"#} #}"><i class="icon_art_anli"></i>案例管理</a></li>
  <li><a href="{#getUrlPath service='member' type='user' template='renovation' action='article'  param="type=$type"#} #}"><i class="icon_art_article"></i>我的文章</a></li> -->
  {#/if#}
  <!--设计师后台 e-->

</div>

{#else#}
{#include file="renovation-$module.html"#}
{#/if#}
</body>
</html>
