
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}/css/renovation_zb.css?v=1552280830">

<script type="text/javascript">

  var detailUrl="{#getUrlPath service='member' type='user' template='renovation_zb_detail'#}"
</script>

  <!-- 头部 s -->
{#$pageTitle = {#$langData['renovation'][8][30]#}#}  {#* 我的招标 *#}
{#$pageRight = '<a href="javascript:;" class="notMenu"> </a>'#}
{#include file="top.html"#}
  <!-- 头部 e -->
  <div class="wrap">
  	<ul>

  	</ul>
  </div>

<script src="{#$templets_skin#}js/renovation_zb.js?{#$cfg_staticVersion#}"></script>

</body>
</html>