
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}/css/renovation-article.css?v=1552280830">

<script type="text/javascript">
	var module = 'renovation', atpage = 1, totalCount = 0, pageSize = 10, state = '';
  	var editUrl = '{#getUrlPath service="member" type="user" template="fabu" action="renovation-article"#}';
  	var hideFileUrl = {#$cfg_hideUrl#};
    var Identity   = {#json_encode($Identity)#}; /*身份(工长/设计师/公司)*/

</script>

  <!-- 头部 s -->
{#$pageTitle = {#$langData['renovation'][7][2]#}#}    {#* 我的文章 *#}
{#$pageRight = '<a href="javascript:;" class="notMenu"> </a>'#}
{#include file="top.html"#}
{#include file="renovation_top.html"#}
  <!-- 头部 s -->

<div class="content">
	<div class="house-list sale-list" id="list"></div>
</div>
<p class="tip"></p>
<div class="fabuBtn"><a href="{#getUrlPath service="member" type="user" template="fabu" action="renovation-article" param="fid={#$Identity['id']#}&typename={#$Identity['type']#}"#}">{#$langData['renovation'][7][3]#}</a></div>  {#* 发布文章 *#}


<script src="{#$templets_skin#}js/alert.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$templets_skin#}js/renovation-article.js?{#$cfg_staticVersion#}"></script>
