
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}/css/renovation_order.css?v=1552280830">

  <!-- 头部 s -->
{#$pageTitle = {#$langData['renovation'][9][0]#}#}  {#* 我的预约 *#}
{#$pageRight = '<a href="javascript:;" class="notMenu"> </a>'#}
{#include file="top.html"#}
<div class="order_header">
  <ul>
    <li class="active" data-id="1" data-page="1" data-totalPage="1">{#$langData['renovation'][11][16]#}</li>    {#* 在线预约 *#}
    <li data-id="2" data-page="1" data-totalPage="1">{#$langData['renovation'][9][1]#}</li>    {#* 在线报价 *#}
    <li data-id="3" data-page="1" data-totalPage="1">{#$langData['renovation'][3][24]#}</li>    {#* 参观工地 *#}
  </ul>
</div>
  <!-- 头部 e -->
  <div class="wrap">
      <div class="order_content order_free order_show">
        <ul class="com_ul">
        </ul>
      </div>
      <div class="order_content order_price">
        <ul class="com_ul">
        </ul>
      </div>
      <div class="order_content vill_site">
        <ul>                
        </ul>
      </div>
  </div>



<script src="{#$templets_skin#}js/renovation_order.js?{#$cfg_staticVersion#}"></script>

