
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}/css/renovation_selfcase.css?v=1552280830">

<script type="text/javascript">
	var module = 'renovation', atpage = 1, totalCount = 0, pageSize = 10, state = '';
 	var hideFileUrl = {#$cfg_hideUrl#};
  	var editUrl = '{#getUrlPath service="member" type="user" template="fabu" action="renovation-case"#}';
  	var Identity   = {#json_encode($Identity)#}; /*身份(工长/设计师/公司)*/
  	var type = '{#$type#}';
</script>
</head>

<body>

  <!-- 头部 s -->
{#$pageTitle = $langData['renovation'][9][18]#}   {#* 案例管理 *#}
{#$pageRight = '<a href="javascript:;" class="notMenu"> </a>'#}
{#include file="top.html"#}
{#include file="renovation_top.html"#}
<!-- 头部 s -->
<div class="content">
	<div class="house-list sale-list" id="list"></div>
	<p class="tip"></p>
</div>
<div class="fabuBtn"><a href="{#getUrlPath service='member' type='user' template='fabu' action='renovation-case' param="fid={#$Identity['id']#}&typename={#$Identity['type']#}"#}">{#$langData['renovation'][9][19]#}</a></div>   {#* 添加案例 *#}

<script src="{#$templets_skin#}js/alert.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$templets_skin#}js/renovation_selfcase.js?{#$cfg_staticVersion#}"></script>
