
    <link rel="stylesheet" type="text/css" href="{#$cfg_basehost#}/templates/member/touch/css/gz-fabu.css?v={#$cfg_staticVersion#}">
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mobileSelect.css?v={#$cfg_staticVersion#}" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/renovation_profile.css?v={#$cfg_staticVersion#}">
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.deferred.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', staticPath = cfg_staticPath = '{#$cfg_staticPath#}';templatePath = '{#$templets_skin#}';
        var modelType = 'renovation';

        var typeId='{#$profiletype#}';//1为工长  2为设计师

    </script>
<div class="gz-address">
    <div class="gz-addr-wrap" id="gzAddNewObj">
    {#$pageTitle = $langData['renovation'][7][18]#}  {#*我的资料*#}
    {#include file="top.html"#}

    <div class="container">
        <form action="/include/ajax.php?service=renovation&action={#if $profiletype ==1#}editForeman&id={#$id#}{#else#}editTeam&id={#$id#}{#/if#}" id="fabuForm">
            
            <div class="art_info1">
                
                <div class="qjimg_box">
                 <ul class="fn-clear" id="qjshow_box">
                      <li>
                        <div class="addbtn img_show" id="up_qj" data-extensions="jpg,jpeg,bmp,png" data-mimetypes="image/jpg,image/jpeg,image/png"></div>
                        {#if $detail_photo#}
                        <div class="img" id="WU_FILE_has_0"><img src="{#$detail_photo#}" data-url="{#$detail_photoSource#}"><i class="del_btn">+</i></div>
                        {#/if#}
                        <p class="txt">{#$langData['renovation'][8][2]#}</p>    {#* 点击上传照片 *#}
                      </li>                 
                    </ul>
                    <input type="hidden" name="photo" value="{#$detail_photoSource#}" id="photo" class="photo">                
                </div>
                <p class="art_name"><input type="text" name="name" value="{#$detail_name#}"></p>
                
            </div>
            <div class="art_info2">

                <ul class="info">
                    {#if $detail_type ==1#}
                    {#*所属公司*#}
                    <li class="fn-clear spe_li">
                        <div class="com-box">
                            <div class="teacher fn-clear">
                               <span class="name">{#$langData['renovation'][7][17]#}</span>
                               <span class="choose"><span class="text">{#if $detail_company['company']#} {#$detail_company['company']#}{#/if#}</span></span>  {#*请选择*#}
                               
                               <input id="store" type="hidden" name="company" value="{#$detail_company['id']#}">
                            </div>
                        </div>
                    </li>

                    {#else#}
                    <li class="fn-clear spe_li">
                        <div class="com-box">
                            <div class=" fn-clear">
                                <span class="name">身份类型</span>
                                <span style="float: right">独立</span>


                            </div>
                        </div>
                    </li>
                    {#/if#}

                    {#* 设计师特有*#}
                    {#*所学专业*#}
                    {#if $profiletype =='2'#}
                    <li class="fn-clear">
                        <span class="name"><label for="major">{#$langData['renovation'][7][19]#}</label></span>
                        <input type="text" id="studied" placeholder="{#$langData['renovation'][7][20]#}" name="studied" class="major" value="{#$detail_studied#}">{#*请输入所学专业*#}
                    </li>
                    {#/if#}

                    {#* 工长特有*#}
                    
                    {#if $profiletype =='1'#}
                  	{#*性别*#}
                    <li class="fn-clear spe_li">
                        <div class="com-box">
                            <div class="sex fn-clear">
                                <span class="name">{#$langData['renovation'][5][0]#}</span><span class="choose"><span class="text">{#if $detail_sex#}{#$detail_sex#}{#else#}{#$langData['renovation'][7][16]#}{#/if#}</span><i></i></span> {#*请选择*#}
                                  <input id="sexName" type="text" disabled="disabled">
                                  <input type="hidden" name="sex" id="sexId" value="{#$detail_sexid#}">
                            </div>       
                        </div>
                    </li>
                  	{#*工长类型*#}
                    <li class="fn-clear spe_li">
                        <div class="com-box">
                            <div class="foremanType fn-clear">
                                <span class="name">{#$langData['renovation'][10][12]#}</span><span class="choose"><span class="text">{#if $detail_style#}{#$detail_style#}{#else#}{#$langData['renovation'][7][16]#}{#/if#}</span><i></i></span> {#*请选择*#}
                                  <input id="foremanTypeName" type="text" disabled="disabled">
                                  <input type="hidden" name="foremanstyle" id="foremanType" value="{#$detail_stylev#}">
                            </div>       
                        </div>
                    </li>
                    {#/if#}

                    {#*国籍地区 *#}
                    <li class="fn-clear">
                        <span class="name">{#$langData['siteConfig'][47][86]#}</span>
                        <span class="areacode_span" style="float: right;"><label for="">+{#$internationalPhoneSection[0]['code']#}</label></span>
                        <input type="hidden" name="areaCode" id="areaCode" value="{#$internationalPhoneSection[0]['code']#}">
                    </li>
                    {#*联系方式*#}
                    <li class="fn-clear">
                        <span class="name"><label for="phone"> {#$langData['renovation'][7][21]#}</label></span>
                        <input type="text" id="phone" placeholder="{#$langData['renovation'][1][29]#}" name="phone" value="{#$detail_tel#}" class="phone">{#*请输入联系方式*#}
                    </li>

                    {#*工作经验*#}
                    <li class="fn-clear">
                        <span class="name"><label for="works">{#$langData['renovation'][7][22]#}</label></span>
                       <p class="class-p">
                            <input type="text" id="works" placeholder="" name="works" value="{#$detail_works#}" class="works">
                            <label for="works">{#$langData['renovation'][7][23]#}</label>  {#*年*#}
                        </p >
                    </li>


                    {#* 工长特有*#}
                    {#if $profiletype =='1'#}
                    <li class="fn-clear">
                        <span class="name"><label for="age">年龄</label></span>{#*年龄*#}
                       <p class="class-p">
                            <input type="text" id="age" placeholder="" name="age" class="age" value="{#$detail_age#}">
                            <label for="age">岁</label>{#*岁 *#}
                        </p>
                    </li>
                    {#/if#}
                    <li class="fn-clear spe_li">
                        <span class="name">{#$langData['renovation'][8][24]#}</span>{#*现居地址 *#}
                        <span class="choose">  <i></i></span>

                        <div class="position_box" >
                            <dl class="inpbox fn-clear gz-addr-seladdr" data-ids="" data-id="" >
                                <dd ><i></i><p><font style="color: #a6a6a6;">{#if $detail_address#}{#$detail_address#}{#else#}{#$langData['renovation'][7][16]#}{#/if#}</font></p></dd>{#*请选择 *#}
                                <input type="hidden" name="addrid" id="addrid" value="{#$detail_addrid#}">
                            </dl>
                        </div>
                    </li>
              
                </ul>

            </div>
            {#* 设计师特有*#}
            {#if $profiletype =='2'#}
            <div class="class_wrap">
                <div class="class_info">

                    {#*设计作品*#}
                    <p class="info_title">{#$langData['renovation'][2][23]#}</p>
                    <div class="class_content">
                        <textarea name="designwork" id="design_works" placeholder="{#$langData['renovation'][7][24]#}" >{#$detail_designwork#}</textarea>
                    </div>
                </div>
            </div>
            {#* 设计师特有*#}
            <div class="class_wrap">
                <div class="class_info">

                    {#*设计理念*#}
                    <p class="info_title">{#$langData['renovation'][2][24]#}</p>
                    <div class="class_content">
                        <textarea name="idea" id="design_concept" placeholder="{#$langData['renovation'][7][25]#}">{#$detail_idea#}</textarea>
                    </div>
                </div>
            </div>
            {#* 设计师特有*#}
            <div class="class_wrap">
                <div class="class_info">
                    {#*擅长风格*#}
                    <p class="info_title">{#$langData['renovation'][2][21]#}</p>
                    <ul class="art_ul fn-clear"> 
                        {#$styleidsarr = explode(',',$detail_styleids)#}
                        {#renovation action="type" return='type' type='4'#}
                        <li data-id="{#$type.id#}" {#if in_array($type.id,$styleidsarr)#}class="active"{#/if#}>{#$type.typename#}</li>
                        {#/renovation#}  
                    </ul>
                </div>
            </div>
            {#/if#}
            {#* 工长特有 *#}
            {#if $profiletype =='1'#}
            <div class="class_wrap profile">
                <div class="class_info">
                    <p class="info_title">{#$langData['renovation'][0][33]#}</p>  {#*个人简介 *#}
                    <div class="class_content">
                        <textarea name="note" id="profile" placeholder="{#$langData['renovation'][8][25]#}">{#$detail_note#}</textarea>  {#*请输入您的个人简介 *#}
                    </div>
                </div>
            </div>
            {#/if#}

            <div class="btn-box"><span class="btn-keep" id="btn-keep">{#$langData['renovation'][7][11]#}</span></div>  {#* 保存 *#}
        </form>
    </div>


    </div>
    <!--所在地弹出层-->
    <div class="gz-sel-addr gz-sel-addr-hide" id="gzSelAddr">
        <div class="gz-sel-addr-header">
            <h3>{#$langData['siteConfig'][7][2]#}</h3>
            <button class="gz-sel-addr-close" id="gzSelAddrCloseBtn"></button>
        </div>
        <ul class="gz-sel-addr-nav"></ul>
        <div class="gz-sel-addr-list"></div>
    </div>

    <div class="gz-sel-addr-mask"></div>
</div>

<div class="error"></div>
<!--立即预约弹出层 s-->
<div class="order_mask">
  <div class="order_container">

    <div class="wave">           
        <div class="m-box">
            <div class="m-duigou"></div>
        </div>
    </div>
    {#* 您的资料已提交成功！ *#}
    <p class="t1">{#$langData['renovation'][7][28]#}</p>

    {#* 我知道了 *#}
    <p class="t3">{#$langData['renovation'][1][24]#}</p>
  </div>
</div>
<!--立即预约弹出层 e-->
<!-- 区号弹出层 s -->
  <div class="layer_code">
    {#* 国籍/地区  *#}
    <div class="layer_search"><p>{#$langData['siteConfig'][19][285]#}</p><em class="layer_close"></em></div> 
    <div class="layer_list" id="layer_list">
      <ul>
      </ul>
    </div>
  </div>
<div class="mask-code" id="maskReg"></div>
<!-- 区号弹出层 e -->

<script type="text/javascript" src="{#$templets_skin#}js/mobileSelect.js?v={#$cfg_staticVersion#}" ></script>
<script src="{#$templets_skin#}js/gz-info.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/webuploader/webuploader.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script type="text/javascript" src="{#$templets_skin#}js/upload.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/renovation_profile.js?v={#$cfg_staticVersion#}"></script>

