
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/reno_com_cus.css?v={#$cfg_staticVersion#}">

<script type="text/javascript">
	var Identity   = {#json_encode($Identity)#}; /*身份(工长/设计师/公司)*/
	var templateSkin = '{#$templets_skin#}';
</script>
</head>

<body>
{#$pageTitle = {#$langData['renovation'][10][0]#}#}  {#* 客户管理 *#}
{#$pageRight = '<a href="javascript:;" class="notMenu"> </a>'#}
{#include file="top.html"#}

<div class="wrap">
	<div class="order_content free_design order_show">
		<ul class="cont_ul">			
		</ul>
	</div>
</div>

<script type="text/javascript" src="{#$templets_skin#}js/renovation_selfCustomer.js?v={#$cfg_staticVersion#}"></script>

