<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{#$langData['renovation'][8][32]#}</title> {#* 招标详情 *#}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}/css/renovation_zb_detail.css?v=1552280830">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';templatePath = '{#$templets_skin#}';

</script>
</head>

<body>

  <!-- 头部 s -->
{#$pageTitle = $langData['renovation'][8][32]#}  {#* 招标详情 *#}
{#$pageRight = '<a href="javascript:;" class="notMenu"> </a>'#}
{#include file="top.html"#}
  <!-- 头部 e -->
  <div class="invite_header">
    <div class="info_top"><span class="info_tit">{#$detail_title#}</span><span class="state ">{#$detail_statename#}</span></div>
    <div class="info_middle">
      <ul class="inv_price">
        <li>{#$detail_budget#}</li> {#* 万 *#}
        <li><span>{#$detail_area#}</span>{#echoCurrency type='areasymbol'#}</li>
      </ul>
      <p class="time">{#$langData['renovation'][14][69]#}：{#date('Y-m-d H:i:s',$detail_pubdate)#}</p>  {#* 发布时间 *#}
      
    </div>
    <ul class="info_bottom">

      {#* 户型结构 *#}
      <li><span>{#$langData['renovation'][4][6]#}：</span><span>{#$detail_unittype#}</span></li>

      {#* 详细地址 *#}
      <li><span>{#$langData['renovation'][1][33]#}：</span><span class="info">{#$detail_address#}</span></li>
    </ul>
  </div>
  <div class="wrap">
      <h2 class="inv_title">{#$langData['renovation'][8][33]#}</h2>  {#* 招标公司 *#}
      <div class="reno_company">
        <ul class="com_ul">
          <div class="loading">{#$langData['siteConfig'][38][8]#}</div> {#* 加载中... *#}
        </ul>
      </div>
  	
  </div>

  <div class="btn-box"><span class="btn-keep" id="btn-keep">{#$langData['renovation'][8][35]#}</span></div>    {#* 结束招标 *#}  


<script src="{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$templets_skin#}js/alert.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$templets_skin#}js/renovation_zb_detail.js?{#$cfg_staticVersion#}"></script>

</body>
</html>