<!DOCTYPE html>
<html>
<head>
<meta charset="{#$cfg_soft_lang#}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>{#$langData['siteConfig'][19][732]#}</title>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mobiscroll.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/reward.css?v={#$cfg_staticVersion#} " media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/mobiscroll.js" type="text/javascript"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
	var hideFileUrl = {#$cfg_hideUrl#};
	var atpage = 1, totalCount = 0, pageSize = 15;
</script>
</head>
<body>
  {#*     打赏/礼物     *#}
{#$pageTitle = $langData['siteConfig'][50][7]#}
{#include file="top.html"#}
<div class="bgbox">
  <div class="incomeBox fn-clear">
    {#$allmoney = $totalMoney + $giftTotal + $rewardTotal + $hongbaoTotal #}
    <dl class="allIn"><dt>{#$allmoney#}</dt><dd>{#$langData['siteConfig'][19][380]#}</dd></dl> {#*  总收入  *#}
    <dl><dt>{#if $yttotalMoney >0#}{#$yttotalMoney#}{#else#}0{#/if#}</dt><dd>{#$langData['siteConfig'][54][112]#}</dd></dl> {#*   昨日收入  *#}
  </div>
  {#$sjmoney  = $totalMoney + $hongbaoTotal + $rewardTotal#}
  <ul class="countBox fn-clear">
    <li class="allSh">
      <strong>{#$sjmoney#}</strong>
      <p>{#$langData['siteConfig'][54][113]#}</p> {#*   赏金收入  *#}
    </li>
    <li class="award">
      <strong>{#if $giftTotal >0#}{#$giftTotal#}{#else#}0{#/if#}</strong>
      <p>{#$langData['siteConfig'][54][114]#}</p> {#*   礼物收入  *#}
    </li>
    <li class="shaNum">
      <strong>{#$totalCount#}</strong>
      <p>{#$langData['siteConfig'][54][115]#}</p> {#*   打赏/送礼总人数  *#}
    </li>
  </ul>
</div>

<!-- 打赏记录 s -->
<div class="listWrap">
  <div class="dsTitle">
    {#* 全部时间 *#}
    <p class="month"><span><input type="text" name="njendtime"  class="yearly-time" placeholder="{#$langData['siteConfig'][54][68]#}" value=""></span> <i></i></p>
     {#*   筛选  *#}
    <p class="filerP"><span>{#$langData['siteConfig'][54][116]#}<i></i></span></p>  
    {#* 当月 *#}
    <div class="listTit fn-clear">
      <div class="fn-left"><em class="tt">{#$langData['siteConfig'][54][70]#}</em>{#echoCurrency type='symbol'#}<span id="allMoney">0</span></div>
      <div class="fn-right sr">{#$langData['siteConfig'][19][164]#}<span class="tipI"><i></i><s></s></span>
        <div class="tipCon">{#$langData['siteConfig'][54][99]|replace:'1':$cfg_rewardFee#}<br>{#if in_array('live',$installModuleArr)#}直播:{#$langData['siteConfig'][54][99]|replace:'1':$cfg_liveFee#}{#/if#}</div> {#* 收入为平台扣除1%佣金后的金额 *#}
      </div>
    </div>
    <!-- 筛选条件 s-->
    <div class="filterWrap">

      <div class="filterCon incomeSor">
        <h3 class="comTitle">{#$langData['siteConfig'][54][117]#}</h3> {#* 收入来源分类 *#}
        <div class="sameList">
          <ul>
            <li><a href="javascript:;" data-id="">{#$langData['siteConfig'][9][0]#}</a></li> {#* 全部 *#}
            <li><a href="javascript:;" data-id="article">{#$langData['siteConfig'][50][21]#}</a></li> {#* 信息资讯 *#}
            <li><a href="javascript:;" data-id="live">{#$langData['siteConfig'][15][23]#}</a></li> {#* 视频直播 *#}
            <li><a href="javascript:;" data-id="circle">{#$langData['siteConfig'][54][97]#}</a></li> {#* 圈子动态 *#}
            <li><a href="javascript:;" data-id="tieba">{#$langData['siteConfig'][50][39]#}</a></li> {#* 贴吧社区 *#}
            <li><a href="javascript:;" data-id="chat">{#$langData['siteConfig'][54][98]#}</a></li> {#* 在线聊天 *#}
            <li><a href="javascript:;" data-id="dating">{#$langData['siteConfig'][53][3]#}</a></li> {#* 互动交友 *#}
          </ul>
        </div>
      </div>

      <div class="filterCon incomeType">
        <h3 class="comTitle"><span>{#$langData['siteConfig'][54][96]#}</span></h3> {#* 收入类型 *#}
        <div class="sameList">
          <ul>
            <li><a href="javascript:;" data-id="1">{#$langData['siteConfig'][29][4]#}</a></li> {#* 礼物 *#}
            <li><a href="javascript:;" data-id="2">{#$langData['siteConfig'][19][396]#}</a></li> {#* 打赏 *#}
          </ul>
        </div>
      </div>
      <div class="filterCon amoutMoney" data-id="">
        <h3 class="comTitle"><span>{#$langData['siteConfig'][19][306]#}</span></h3> {#* 金额 *#}
        <div class="comWrap">
         <div class="inpbox">
          {#* 最低金额 *#}
           <div class="symbol"><span class="rmb">{#echoCurrency type='symbol'#}</span><input type="input" class="p1" id="price1" maxlength="5" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" placeholder="{#$langData['siteConfig'][54][118]#}"></div>
          -
          <div class="symbol"><span class="rmb">{#echoCurrency type='symbol'#}</span><input type="input" class="p2" id="price2" maxlength="5" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" placeholder="{#$langData['siteConfig'][54][119]#}"></div>  {#* 最高金额 *#}        
         </div>
        </div>
      </div>
      <div class="btnCon">
        <ul class="fn-clear">
          <li class="setBtn"><a href="javascript:;">{#$langData['siteConfig'][6][5]#}</a></li> {#* 重置 *#}
          <li class="sureBtn"><a href="javascript:;">{#$langData['siteConfig'][6][1]#}</a></li> {#* 确定 *#}
        </ul>
      </div>     
    </div>
    <!-- 筛选条件 e-->
  </div>
  
  <div class="listCon">
    
    <ul class="list" id="list">
    </ul>
  </div>
  
</div>
<div class="mask"></div>
<!-- 打赏记录 e -->
<script type="text/javascript" src="{#$templets_skin#}js/jquery.smartScroll.js?v={#$cfg_staticVersion#}"></script>
<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script type="text/javascript" src="{#$templets_skin#}js/mobiscroll.datetime.js" type="text/javascript"></script>
<script src="{#$templets_skin#}js/reward.js?v={#$cfg_staticVersion#}" charset="utf-8"></script>
</body>
</html>
