<!DOCTYPE html>
<html>
<head>
<meta charset="{#$cfg_soft_lang#}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>{#$langData['siteConfig'][0][8]#} </title>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/security.css?v={#$cfg_staticVersion#}" media="all" />
<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
{#if $cfg_geetest#}<script type="text/javascript" src="{#$cfg_secureAccess#}static.geetest.com/static/tools/gt.js"></script>{#/if#}
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}', cookiePre = '{#$cfg_cookiePre#}', channelDomain = '{#$member_userDomain|replace:"http://":""#}';

	var hideFileUrl = {#$cfg_hideUrl#}, doget = '{#$doget#}', rating = {#$userinfo.security#},
			pageUrl = '{#if $smarty.get.furl#}{#$smarty.get.furl#}{#else#}{#getUrlPath service='member' type='user' template='security'#}{#/if#}',
			bindPaypwdUrl = '{#getUrlPath service='member' type='user' template='security' doget='paypwdEdit'#}',
			bindPhoneUrl = '{#getUrlPath service='member' type='user' template='security' doget='chphone'#}',
			bindEmailUrl = '{#getUrlPath service='member' type='user' template='security' doget='chemail'#}',
			bindQuestionUrl = '{#getUrlPath service='member' type='user' template='security' doget='question'#}';
	var phoneCheck = {#$userinfo.phoneCheck#}, emailCheck = {#$userinfo.emailCheck#}, questionSet = {#$userinfo.question#};
  var geetest = {#$cfg_geetest#};
  var certifyState = {#$userinfo.certifyState|string_format:"%d"#};//个人实名认证
  var licenseState = {#$userinfo.licenseState|string_format:"%d"#};//公司营业认证
</script>
</head>
<body class="show">

	{#if $doget == ""#}

	{#$pageTitle = $langData['siteConfig'][0][8]#}
  {#$backUrl = "{#getUrlPath service='member' type='user'#}"#}
	{#include file="top.html"#}

  <!-- 列表 s -->
  <div class="operate">
    <div class="infoPart">
      <ul>
        {#*  用户名  *#}
        <li><a href="javascript:;"><em>{#$langData['siteConfig'][19][20]#}</em><span>{#$userinfo.username#}</span></a></li>

        {#*  手机号码  *#}
        <li><a href="{#getUrlPath service='member' type='user' template='security-chphone'#}"><em>{#$langData['siteConfig'][3][6]#}</em><span>{#$userinfo.phoneEncrypt#}<i></i></span></a></li>

        {#*  邮箱  *#}
        <li><a href="{#getUrlPath service='member' type='user' template='security-chemail'#}"><em>{#$langData['siteConfig'][3][0]#}</em><span>{#$userinfo.emailEncrypt#}<i></i></span></a></li>
      </ul>
    </div>
    <div class="loginPart">
      <ul>
        {#*  登陆密码  *#}
        <li><a href="{#getUrlPath service='member' type='user' template='security-chpassword'#}"><em>{#$langData['siteConfig'][42][6]#}</em><span></span></a></li>

        {#*  支付密码  *#}
        <li><a href="{#getUrlPath service='member' type='user' template='security-paypwdEdit'#}"><em>{#$langData['siteConfig'][5][7]#}</em><span></span></a></li>

        {#*  密保问题  *#}
        <li><a href="{#getUrlPath service='member' type='user' template='security-question'#}"><em>{#$langData['siteConfig'][54][60]#}</em><span></span></a></li>

        {#*  登录记录  *#}
        <li><a href="{#getUrlPath service='member' type='user' template='loginrecord'#}"><em>{#$langData['siteConfig'][19][288]#}</em><span></span></a></li>
      </ul>
    </div>
    <div class="otherPart infoPart">
      <ul>
        <li><a href="{#getUrlPath service='member' type='user' template='connect'#}"><em>{#$langData['siteConfig'][19][737]#}</em><span>
			{#siteConfig action="getUserBindLoginConnect"#}
			{#if $row.state#}
			<s><img src="{#$cfg_basehost#}/api/login/{#$row.code#}/img/100.png" /></s>
			{#/if#}
			{#/siteConfig#}
		<i></i></span></a></li>

        {#*注销账号 -- 注销后无法恢复，请谨慎操作*#}
        <li class="logOff"><a href="javascript:;"><em>{#$langData['siteConfig'][0][16]#}</em><span>{#$langData['siteConfig'][54][61]#}<i></i></span></a></li>
      </ul>
    </div>
    <div class="myidentify">
      <h2>我的认证</h2>
      <ul class="fn-clear">
        <li class="{#if $userinfo.certifyState == 1#} success{#/if#}"><a href="{#getUrlPath service='member' type='user' template='security-shCertify'#}">
          <div class="topIcon realNameIcon"></div>
          <p>实名认证</p>
          {#*已认证 -- 去认证*#}
          <span>{#if $userinfo.certifyState == 1#} {#$langData['siteConfig'][9][18]#}{#else#}{#$langData['siteConfig'][54][62]#}{#/if#}</span>
        </a></li>

        {#if $userinfo.userType == 2#}
        <li class="{#if $userinfo.certifyState == 1#} success{#/if#}"><a href="{#getUrlPath service='member' type='user' template='security-shCertify'#}">
          <div class="topIcon busiIcon"></div>
          <p>{#$langData['siteConfig'][19][187]#}</p> {#* 营业执照 *#}
          {#*已认证 -- 去认证*#}
          <span>{#if $userinfo.certifyState == 1#} {#$langData['siteConfig'][9][18]#}{#else#}{#$langData['siteConfig'][54][62]#}{#/if#}</span>
        </a></li>
        {#/if#}
      </ul>
    </div>

  </div>
  <!-- 列表 e -->
  <!-- 删除弹出层 s -->
  <div class="delMask"></div>
  <div class="delAlert">
    <div class="delAlertCon">
      <div>
        <h2 class="delTile">确定注销吗？</h2>
        <p>一经注销不可恢复</p>
      </div>
      <ul class="fn-clear">
        <li class="firLi"><a href="javascript:;" class="cancelDel">{#$langData['siteConfig'][6][12]#}</a></li> {#* 取消 *#}
        <li><a href="javascript:;" class="sureDel">{#$langData['siteConfig'][6][0]#}</a></li> {#* 确认 *#}
      </ul>
    </div>
  </div>

  <!-- 删除弹出层 e -->
  <!-- 注销账号弹窗 s-->
  <div class="off-mask"></div>
  <div class="offWrap">
    <i class="off-close"></i>

    <div class="off-top">
      <em class="off-bg"></em>
      <h3 class="offTitle"><i></i>{#$langData['siteConfig'][0][16]#}</h3> {#*注销账号*#}
      <p>无法恢复，请谨慎操作</p>
    </div>

    <div class="off-ts"><span>开始注销前，请确认以下内容</span></div>
    <div class="offSon">
      <div class="offcon speOff">
        <h2 class="offTit">注销账号条件</h2>
        <p>1.账号处于正常状态，账号没有被盗，被封等风险。<br/>2.请确保账号内账户余额等均为0。<br/>3.没有正在使用中的商家套餐。<br/>4.没有正在进行中的交易。5.发布的信息已删除。</p>
      </div>

      <div class="offcon ">
        <h2 class="offTit">注销账号须知</h2>
        <p>1.账号注销后，会清空账号的所有身份信息和账号信息：包括但不限于用户名、认证手机号、邮箱、qq、微博、微信，以及解除该账号对外授权的绑定关系。该操作不可逆，请谨慎操作。<br/>2.账号注销后，优惠券、会员权益、账号余额将被清除且无法恢复。<br/>3.注销账号是不可恢复操作，操作之前，请确认账号内所有服务均已进行妥善处理。如因注销账号造成的损失由用户自行承担。<br/>4.注销账号并不代表本账号注销前的账号行为和相关责任得到豁免或减轻。<br/>5.手机号半年不能在平台内进行二次注销。<br/>6.如果您的账号曾开通了会员自动续费功能，请先确保您已经取消了“自动续费”</p>
      </div>
    </div>

    <div class="off-agree"><a href="javascript:;">阅读并同意，申请注销账号</a></div>
  </div>
  <!-- 注销账号弹窗 e-->
	{#else#}

	{#include file="security-$doget.html"#}

	{#/if#}

<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script type="text/javascript" src="{#$templets_skin#}js/security.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
