
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/security_profile.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/psw.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/security-shCertify.css?v={#$cfg_staticVersion#}" media="all" />
<style>
#fileList {margin:0 auto;}
#fileList {position:relative; height: auto;}
/*.addimg li.add {position: absolute;left:0;bottom:-.6rem;width: 3rem;height: .6rem;margin-top: 0;background: none;}*/
.addimg .noimg li.add {position: relative; top:0;height: 1.6rem;}
.addimg .noimg li.add .uploader-btn{position: absolute; bottom: 0; width: 100%;}
.imgbox .btn {left:0;top:0;right:0;bottom:0;padding:0;margin:0;width: 100%;height: 100%;zoom: 1;z-index: 99;}
.addimg li {width: 3rem;margin-top: .2rem;}
.addimg li img {border-radius:.1rem; height: 100%;}
</style>
  <!-- $userinfo.certifyState 0:未认证 1：通过认证 2：认证失败 3：等待认证 -->

  {#include file="top.html" headTheme="absolute transparent" pageTitle="{#$langData['siteConfig'][19][255]#}"#}
  <div class="bg">
    {#if $userinfo.certifyState == 1#}
    <h3>{#$langData['siteConfig'][20][246]#}</h3>  {#* 您已经通过实名认证！ *#}
    {#else#}
    <h3>{#$langData['siteConfig'][8][7]#}</h3>  {#* 请先完善以下个人资料 *#}
    {#/if#}
  </div>
  <div class="main">
    <!-- 实名认证 -->
    <div class="item item-card">
      <div class="subtitle fn-clear">
        <s><img src="{#$templets_skin#}images/certification/card.png?v={#$cfg_staticVersion#}" /></s>
        <div class="cardSub"{#if $userinfo.certifyState != 0#} style="display: none;"{#/if#}>
          <h5>{#$langData['siteConfig'][19][255]#}</h5>  {#* 实名认证 *#}
          <p>{#$langData['siteConfig'][23][133]#}</p>  {#* 实名认证用户可拥有更多会员权利 *#}
        </div>
      </div>

      <div class="auditState state{#$userinfo.certifyState#}"{#if $userinfo.certifyState == 2 || $userinfo.certifyState == 3#} style="display: block;"{#/if#}>
        {#* 审核失败 *#}
        {#if $userinfo.certifyState == 2#}
        <div class="state2">
          <s><img src="{#$templets_skin#}images/certification/error.png?v={#$cfg_staticVersion#}" /></s>
          <h3>{#$langData['siteConfig'][54][111]#}</h3> {#* 很遗憾，您的实名认证未通过 *#}
          <a href="javascript:;" class="recertify">{#$langData['siteConfig'][6][174]#}</a>  {#* 重新认证 *#}
        </div>
        {#/if#}

        {#* 等待审核 *#}
        <div class="state3"{#if $userinfo.certifyState == 3#} style="display: block;"{#/if#}>
          <h3>{#$langData['siteConfig'][23][136]#}</h3>  {#* 实名认证审核中 *#}
          <p>{#$langData['siteConfig'][23][137]#}</p>  {#* 您的实名认证已提交，请耐心等待平台审核！ *#}
        </div>
      </div>
      {#if $userinfo.certifyState == 1#}
        <script>var waiting = true;</script>
        <div class="form">
          <div class="card fn-clear">
            <div class="front">
              <img src="/static/images/blank.gif" id="idcardFimg" onclick="window.open(this.src)" style="z-index: 3;">
              <span class="icon"></span>
              <p>{#$langData['siteConfig'][18][75]#}</p>  {#* 身份证正面 *#}
            </div>
            <div class="behind">
              <img src="/static/images/blank.gif" id="idcardBimg" onclick="window.open(this.src)" style="z-index: 3;">
              <span class="icon"></span>
              <p>{#$langData['siteConfig'][18][76]#}</p>  {#* 身份证反面 *#}
            </div>
          </div>
          <div class="inp">
            <input type="text" placeholder="{#$langData['siteConfig'][20][105]#}" id="realname" name="realname" value="{#$userinfo.realname#}" readonly />  {#* 请输入身份证上的姓名 *#}
          </div>
          <div class="inp">
            <input type="tel" placeholder="{#$langData['siteConfig'][20][106]#}" id="idcard" name="idcard" value="{#$userinfo.idcard#}" readonly/>  {#* 请输入身份证号码 *#}
          </div>

          {#if $userinfo['userType'] == 2#}
          <div class="license fn-clear">
            <div class="upbtn">
              <img src="/static/images/blank.gif" id="licenseCimg" onclick="window.open(this.src)">
              <span class="icon"></span>
              <p>{#$langData['siteConfig'][23][140]#}</p>  {#* 上传营业执照照片 *#}
            </div>
          </div>
          {#/if#}
        </div>
      {#else#}
      <script>var waiting = false;</script>
      {#/if#}
      {#if $userinfo.certifyState == 0 || $userinfo.certifyState == 2#}
      <div class="form"{#if $userinfo.certifyState == 2#} style="display: none;"{#/if#}>
        <div class="card fn-clear">
          <div class="front">
            <img src="/static/images/blank.gif" id="idcardFimg">
            <div class="input-img" id="idcardF"></div>
                    <input type="hidden" name="idcardFront" id="idcardFront" />
            <span class="icon"></span>
            <p>{#$langData['siteConfig'][18][75]#}</p>  {#* 身份证正面 *#}
          </div>
          <div class="behind">
            <img src="/static/images/blank.gif" id="idcardBimg">
            <div class="input-img" id="idcardB"></div>
                    <input type="hidden" name="idcardBack" value="" id="idcardBack">
            <span class="icon"></span>
            <p>{#$langData['siteConfig'][18][76]#}</p>  {#* 身份证反面 *#}
          </div>
        </div>
        <div class="inp">
          <input type="text" placeholder="{#$langData['siteConfig'][20][105]#}" id="realname" name="realname" value="{#$userinfo.person#}" />  {#* 请输入身份证上的姓名 *#}
        </div>
        <div class="inp">
          <input type="tel" placeholder="{#$langData['siteConfig'][20][106]#}" id="idcard" name="idcard" value="{#$userinfo.idcard#}" />  {#* 请输入身份证号码 *#}
        </div>

        {#if $userinfo['userType'] == 2#}

        <div class="license fn-clear">
          {#if $userinfo.licenseState == 1#}
          <script>var waiting2 = true;</script>
          <div class="upbtn">
            <img src="/static/images/blank.gif" id="licenseCimg">
            <span class="icon"></span>
            <p>{#$langData['siteConfig'][23][140]#}</p>  {#* 上传营业执照照片 *#}
          </div>
          {#else#}
          <script>var waiting2 = false;</script>
          {#/if#}
          {#if $userinfo.licenseState == 0 || $userinfo.licenseState == 2#}
          <div class="upbtn">
            <img src="/static/images/blank.gif" id="licenseCimg">
            <div class="input-img" id="licenseC"></div>
                    <input type="hidden" name="licenseCom" value="" id="licenseCom">
            <span class="icon"></span>
            <p>{#$langData['siteConfig'][23][140]#}</p>  {#* 上传营业执照照片 *#}
          </div>

          {#/if#}
          <div class="license-tip">
            <img src="{#$templets_skin#}images/certification/license.png?v={#$cfg_staticVersion#}" />
            <p>{#$langData['siteConfig'][23][141]#}</p>  {#* 营业执照示例 *#}
          </div>
        </div>
        {#/if#}

        <p class="card-tip"><img src="{#$templets_skin#}images/certification/tip.png?v={#$cfg_staticVersion#}" />{#$langData['siteConfig'][23][142]#}</p>  {#* 认证审核需要1-2个工作日，仅支持二代身份证认证。 *#}

        <a href="javascript:;" class="confirm">{#$langData['siteConfig'][6][60]#}</a>  {#* 提交认证 *#}
      </div>
      {#/if#}
    </div>
  </div>


<script>
  var thumbSize = {#$thumbSize#}, thumbType = '{#$thumbType#}', atlasSize = {#$atlasSize*1024*1024#}, atlasType = '{#$atlasType#}', atlasMax = {#if $userinfo.userType == 1#}2{#else#}3{#/if#}, modelType = 'siteConfig', upType = 'card', nolitpic = true, moreParam = '', userType = {#$userinfo.userType#};
</script>

<script type="text/javascript">
	var wxconfig = {
		"appId": '{#$wxjssdk_appId#}',
		"timestamp": '{#$wxjssdk_timestamp#}',
		"nonceStr": '{#$wxjssdk_nonceStr#}',
		"signature": '{#$wxjssdk_signature#}',
      "debug": true
	};
</script>
<script src="//res.wx.qq.com/open/js/jweixin-1.3.2.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>

<script src="{#$cfg_staticPath#}js/webuploader/webuploader.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script src="{#$templets_skin#}js/upload.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script src="{#$templets_skin#}js/common.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script type="text/javascript" src="{#$templets_skin#}js/security-shCertify.js?v={#$cfg_staticVersion#}"></script>
