<!DOCTYPE html>
<html>
<head>
<meta charset="{#$cfg_soft_lang#}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>{#$langData['siteConfig'][16][35]#}</title>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/set.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
	var referer = '{#$HTTP_REFERER#}';
</script>
</head>

<body>
{#$pageTitle = $langData['siteConfig'][16][35]#}
{#include file="top.html"#}
<!-- 会员信息 s-->
{#if $userinfo#}
<div class="minfo">
	<a href="{#getUrlPath service='member' type='user' template='profile'#}" class="rightBtn">
		<div class="left_head">
			<img onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';" src="{#if $userinfo.photo == ""#}{#$cfg_staticPath#}images/noPhoto_100.jpg{#else#}{#changeFileSize url="{#$userinfo.photo#}"#}{#/if#}" />
		</div>
		<div class="right_info fn-clear">
			<h2>{#$userinfo.nickname#}</h2>
			{#*  用户名  *#}
			<p><span>{#$langData['siteConfig'][19][20]#}： </span>{#$userinfo.username#}</p>
			<em class="rightBtn">{#$langData['siteConfig'][6][6]#}</em>{#*  编辑  *#}

		</div>
	</a>
</div>
{#/if#}
<!-- 会员信息 e-->
<!-- 设置列表 -->
<div class="set_list">
	<ul>
		{#*  收货地址  *#}
		<li><a href="{#getUrlPath service='member' type='user' template='address'#}"><em>{#$langData['siteConfig'][19][345]#}</em><span></span></a></li>

		{#*  账户与安全  *#}
		<li><a href="{#getUrlPath service='member' type='user' template='security'#}"><em>{#$langData['siteConfig'][54][54]#}</em><span></span></a></li>

	</ul>
	<ul>
		{#if $langList['list']#}
		{#*  语言设置  *#}
		<li class="language fn-clear">
			<em>{#$langData['siteConfig'][54][56]#}</em><p class="fn-right">{#$langList['currName']#}<span></span></p>
			<select id="language">
				{#foreach from=$langList['list'] item=l#}
				<option value='{#$l.code#}'{#if $langList['currCode'] == $l.code#} selected{#/if#}>{#$l.name#}</option>
				{#/foreach#}
			</select>
		</li>
		{#/if#}
		{#if $is_app#}
		{#* 清除缓存 *#}
		<li class="clear fn-clear"><em>{#$langData['siteConfig'][16][106]#}</em><p id="cache" class="fn-right">0 B<span></span></p></li>
		{#/if#}

	</ul>
	<ul>


		{#* 关于 *#}
		<li class="about fn-clear"><a href="{#getUrlPath service='member' type='user' template='version'#}"><em>{#$langData['siteConfig'][54][57]#}</em><span></span></a></li>


		{#*  在线客服  *#}
		{#if $cfg_kefu_touch_url#}
		<li><a href="{#$cfg_kefu_touch_url#}"><em>{#$langData['siteConfig'][54][58]#}</em><span></span></a></li>
		{#/if#}

		<li class="about fn-clear"><a href="{#getUrlPath service='siteConfig' template='feedback'#}"><em>{#$langData['siteConfig'][16][171]#}</em><span></span></a></li>  {#* 意见反馈 *#}
	</ul>

	{#if $userinfo#}
	{#* 退出登录 *#}
	<a href="javascript:;" class="logout">{#$langData['siteConfig'][6][123]#}</a>
	{#/if#}
</div>
<!-- 设置列表 -->

<div class="succes">{#$langData['siteConfig'][20][384]#}</div>

<script type="text/javascript" src="{#$templets_skin#}js/set.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
