<!DOCTYPE html>
<html>
<head>
<meta charset="{#$cfg_soft_lang#}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>{#$cfg_pointName#}{#$langData['siteConfig'][19][730]#} </title>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/transfer.css?v={#$cfg_staticVersion#}" media="all" />
<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var hideFileUrl = {#$cfg_hideUrl#};
	var totalPoint = {#$userinfo.point#}, pointFee = {#$cfg_pointFee#}, pointName = '{#$cfg_pointName#}';
</script>
</head>
<body>

	{#* 积分转赠 *#}
	{#include file="top.html" pageTitle="{#$cfg_pointName#}{#$langData['siteConfig'][19][730]#}"#}
	<div class="topCon">
		<h3>{#$langData['siteConfig'][10][0]#}{#$cfg_pointName#}</h3>{#* 我的积分 *#}
		<p>{#$userinfo.point#}</p>
	</div>
	<div class="mainWrap">
		{#* 积分转赠 *#} {#* 手续费 *#}
	    <h2 class="tit"><strong>{#$cfg_pointName#}{#$langData['siteConfig'][19][730]#}</strong>{#$langData['siteConfig'][19][375]#}：{#$cfg_pointFee#}%</h2>
		<form action="/include/ajax.php?service=member&action=transfer" method="post" target="_blank" id="payform">
			{#* 对方用户名 *#}
			<div class="inpBox">
				<label for="user">{#$langData['siteConfig'][19][25]#}</label>
				<input type="text" placeholder="" id="user" name="user" autocomplete="off">
			</div>

			{#* 转赠数量 *#}
			<div class="inpBox mb20">
				<label for="amountp">{#$langData['siteConfig'][19][376]#}</label>
				<input type="number" autocomplete="new-password" placeholder="" id="amountp">
				<span>{#$cfg_pointName#}</span>
			</div>

			<div class="pCon fn-clear">
				<p class="fn-left ampo">最多可赠送<em id="canTrans"></em>{#$cfg_pointName#}</p>
				<p class="sx fn-right">{#$langData['siteConfig'][19][375]#}：<span><em id="fee">0</em>{#$cfg_pointName#}</span></p>{#* 手续费 *#}
			</div>

			<div class="inpBox">
				<label for="paypwd">{#$langData['siteConfig'][5][7]#}</label>
				<input type="password" autocomplete="new-password" placeholder="" id="paypwd" name="paypwd" autocomplete="new-password">
			</div>
			<input type="hidden" id="amount" name="amount" >
			<input type="hidden" name="agree" id="agree" value="1" />
		</form>
	</div>
	<div class="botPrice">
	    <div class="leftCon">
	      <h2><strong id="allPoint">0.00</strong></h2>
	      <p>{#$langData['siteConfig'][54][124]#}</p> {#* 支付积分 *#}
	    </div>
	    <a href="javascript:;" id="tj">{#$langData['siteConfig'][6][46]#}</a> {#* 确认转赠 *#}
	  </div>
	<div class="error"></div>

<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script type="text/javascript" src="{#$templets_skin#}js/transfer.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
