<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{#$langData['siteConfig'][41][84]#}</title>   {#*  充值成功   *#}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link rel="stylesheet" href="{#$cfg_staticPath#}css/core/touchBase.css?v=100">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v=100" media="all" />
<link rel="stylesheet" href="{#$templets_skin#}css/succeed.css">
<script src="{#$cfg_staticPath#}js/core/touchScale.js?v=100"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v=100"></script>
</head>
<body>
	{#$pageTitle = "{#$langData['siteConfig'][16][130]#}"#}   {#*  开通会员   *#}
	{#include file="top.html"#}
	<div class="information fn-clear">
		<i></i>
		<div class="infor">
			<h1>{#$langData['siteConfig'][41][85]#}</h1>   {#*  您充值黄金会员成功！   *#}
			<ul>
				<li>{#$langData['siteConfig'][41][86]#}：<em>{#echoCurrency type='symbol'#}98.00</em> </li>   {#*  本次充值   *#}
				<li>{#$langData['siteConfig'][41][87]#}：2017.6.5  14:20:31</li>   {#*  充值时间   *#}
				<li>{#$langData['siteConfig'][41][88]#}：2017.9.5</li>   {#*  本到期时间   *#}
			</ul>
		</div>
	</div>
	<div class="btn fn-clear">
		<div class="back"><a href="#">{#$langData['siteConfig'][41][89]#}</a></div>   {#*  继续充值   *#}
		<div class="to_lead"><a href="#">{#$langData['siteConfig'][21][30]#}</a></div>   {#*  返回首页   *#}
	</div>
</body>
</html>
