<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<title>{#$langData['siteConfig'][19][843]#} </title>
<link rel="stylesheet" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" href="{#$templets_skin#}css/user_message.css?v={#$cfg_staticVersion#}">
<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', cookiePre = '{#$cfg_cookiePre#}';
	var hideFileUrl = {#$cfg_hideUrl#}, uid = {#$id#};
	var page = 1, totalCount = 0, pageSize = 10;
	var nid = '{#$userinfo["userid"]#}'; //当前登录用户id
</script>
</head>
<body> 
  {#$pageTitle = $langData['siteConfig'][19][843]#}
  {#include file="../../siteConfig/touch_top.html" #}
   <!-- 回复框s -->
   <div class="txt_box fn-clear">
	   <button class="fabu"><i></i><em>{#$langData['siteConfig'][11][0]#}</em></button>{#* 发布 *#}
	   <div class="left_input"><input type="text" name="" id="msg_in" value="" placeholder="{#$langData['siteConfig'][52][2]#}…"/></div>  {#*  留个言吧  *#}
   </div>
   <!-- 回复框e -->
	
  <div class="list">{#*
	  <div class="item">  
	  		  <div class="msg_box">
	  			  <div class="cmt_info">
					  <div class="hphoto"><a href="#"></a></div>
					  <div class="uname">
						  <h4>钟灵_xiu417</h4>
						  <p>02-20  12:30</p>
					  </div>
					  <a href="javascript:;" class="del_msg"></a>
	  			  </div>
	  			  <div class="msg_con">这里是留言内容这里是留言内容，这里是留言内容这里是留言内容这里是留言内容</div>
	  			  <!-- 回复框s -->
	  			  <div class="txt_reply fn-clear">
	  			  	   <button class="reply">回复</button>
	  			  	   <div class="left_input"><input type="text" name="" id="" value="" placeholder="说点什么"/></div>
	  			  </div>
	  			  <!-- 回复框e -->
	  		  </div>
			
	  		  <div class="reply_list">
	  			  <span class="reply_count">31条回复</span>
				  <ul>
					  <li class="re_li">
						  <div class="left_hphoto"></div>
						  <div class="right_rebox">
							  <h4>nickname</h4>
							  <p class="re_con">这里是回复内容，这里是回复内容，这里是回复内容这里是回复内容这里是回复内容</p>
							  <p class="re_time">02-02 13:00</p>
						  </div>
					  </li>
					  <li class="re_li">
						  <div class="left_hphoto"></div>
						  <div class="right_rebox">
							  <h4>nickname</h4>
							  <p class="re_con">这里是回复内容，这里是回复内容，这里是回复内容这里是回复内容这里是回复内容</p>
							  <p class="re_time">02-02 13:00</p>
						  </div>
					  </li>
				  </ul>
				  <a href="javascript:;" class="more_re"><em>{#$langData['siteConfig'][6][52]#}</em></a>  <!-- 查看更多 -->
	  		  </div>
	  		  
	  </div>*#}
	  <div class="load_more"><img src="{#$templets_skin#}/images/index_4.8/loading.png" alt=""></div>
  </div>
 

  <div class="mask_re"></div>
  <!-- 弹窗 -->
  <div class="mask_pop"></div>
  <div class="pop_box">
  	<p class="tip">{#$langData['siteConfig'][52][1]#}</p>  {#*  确定删除该留言吗  *#}
  	<a href="javascript:;" class="sure_btn">{#$langData['siteConfig'][6][1]#}</a>    {#*  确定  *#}
  	<a href="javascript:;" class="cancel_btn">{#$langData['siteConfig'][6][12]#}</a>    {#*  取消  *#}
  </div>

<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script src="{#$templets_skin#}js/noscroll.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script src="{#$templets_skin#}js/user_message.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
</body>
</html>
