<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="description" content="{#$waimai_description#}" />
		<title>{#$langData['waimai'][2][15]#}</title>{#* 评价 *#}
		<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" />
		<link rel="stylesheet" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" href="{#$templets_skin#}css/commt.css?v={#$cfg_staticVersion#}">
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.deferred.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$templets_skin#}js/jquery.raty.js"></script>
		<script>
			var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
			var hideFileUrl = '{#$cfg_hideUrl#}', id = {#$id#};
			var modelType = '{#$module#}', tpldir = '{#$templets_skin#}';
			var returnUrl = '{#getUrlPath service="member" type="user" template="orderdetail-$ordertype" id=$id#}';
			var star = {#$common.star#}, starps = {#$common.starps#};
			var modelType = 'waimai', state = '', type = '', typeid = 0;
			var thumbSize = {#$thumbSize#}, thumbType = '{#$thumbType#}', atlasSize = {#$atlasSize*1024*1024#}, atlasType = '{#$atlasType#}',  atlasMax = 9;
			var ordertype = '{#$ordertype#}';
			var peisongid = '{#$peisongid#}';
			var star1 = '{#$common.starps#}';
			var ordertype1 = '{#$detail_ordertype#}';
		</script>
	</head>
	<body>
		{#if $detail_ordertype != 1#}
		<!--给骑手打分s-->
		<div class="distributor_box commt-box">
			<h2>{#$langData['waimai'][7][48]#}</h2>{#* 给骑手打分 *#}
			<div class="star_box">
				<i data-title="{#$langData['waimai'][7][50]#}"  {#if $common.starps >= 1#} class="click" {#/if#}></i>{#* 非常差 *#}
				<i data-title="{#$langData['waimai'][7][51]#}"  {#if $common.starps >= 2#} class="click" {#/if#}></i>{#* 差 *#}
				<i data-title="{#$langData['waimai'][7][52]#}"  {#if $common.starps >= 3#} class="click" {#/if#}></i>{#* 一般 *#}
				<i data-title="{#$langData['waimai'][7][53]#}"  {#if $common.starps >= 4#} class="click" {#/if#}></i>{#* 满意 *#}
				<i data-title="{#$langData['waimai'][7][54]#}"  {#if $common.starps >= 5#} class="click" {#/if#}></i>{#* 非常满意 *#}
				<p class="com_tip">{#$langData['waimai'][7][50]#}</p>{#* 非常差 *#}
				<input type="hidden" id="scoreps" name="scoreps" value="{#$common.starps#}">
			</div>
					{#$contentpsarr = explode(',',$common.pspag)#}

			<div class="label_tip">
				<ul class="bad_ul {#if $common.starps <= 2#}{#/if#}">

					<li {#if in_array($langData['waimai'][7][55],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][55]#}</li>    {#* 提前点送达 *#}
					<li {#if in_array($langData['waimai'][7][56],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][56]#}</li>    {#* 服务态度差 *#}
					<li {#if in_array($langData['waimai'][7][57],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][57]#}</li>  {#* 额外索取费用 *#}
					<li {#if in_array($langData['waimai'][7][58],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][58]#}</li>      {#* 餐品翻洒 *#}
					<li {#if in_array($langData['waimai'][7][59],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][59]#}</li>        {#* 配送慢 *#}
					<li {#if in_array($langData['waimai'][7][60],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][60]#}</li>      {#* 骚扰威胁 *#}
					<li {#if in_array($langData['waimai'][7][61],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][61]#}</li>      {#* 食品凉了 *#}
					<li {#if in_array($langData['waimai'][7][62],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][62]#}</li>    {#* 未带保温箱 *#}
					<li {#if in_array($langData['waimai'][7][63],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][63]#}</li>      {#* 着装脏乱 *#}
					<li {#if in_array($langData['waimai'][7][64],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][64]#}</li>      {#* 不送上楼 *#}
					<li class="commt_btn">{#$langData['waimai'][7][65]#}</li>{#* 写评价 *#}
				</ul>
				<ul class="comon_ul {#if $common.starps > 2#}show{#/if#}">
					<li {#if in_array($langData['waimai'][7][66],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][66]#}</li>       {#* 送餐快 *#}
					<li {#if in_array($langData['waimai'][7][67],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][67]#}</li>     {#* 餐品完好 *#}
					<li {#if in_array($langData['waimai'][7][68],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][68]#}</li>   {#* 服务态度好 *#}
					<li {#if in_array($langData['waimai'][7][69],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][69]#}</li>     {#* 穿着专业 *#}
					<li {#if in_array($langData['waimai'][7][70],$contentpsarr)#} class="on_chose" {#/if#}>{#$langData['waimai'][7][70]#}</li>     {#* 衣着整洁 *#}
					
					<li class="commt_btn">{#$langData['waimai'][7][65]#}</li>{#* 写评价 *#}
				</ul>
				
			</div>
			<!--输入框s-->
			<div class="textarea" id="comm_d" contenteditable="true" placeholder="{#$langData['waimai'][7][71]|replace: '1' : $langData['waimai'][1][221]#}" >{#$common.contentps#}</div>
			<!--输入框e-->
		</div>
		<!--给骑手打分e-->
		{#/if#}
		<!--给商家打分s-->
		{#if $ordertype!="paotui"#}
		<div class="shop_box commt-box">
			<h2>{#$langData['waimai'][7][72]#}</h2>                   {#* 给商家打分 *#}
			<!--<div class="shop_info fn-clear">
				 <div class="left_head">
					<img src="{#$templets_skin#}upfile/logo2.png" />
				</div>
				<div class="center_info">
					<h4 class="s_name">绿茶餐厅（苏州诚品店）</h4>
				</div> 
				
			</div>-->
			<i class="hide_tip {#if $common.isanony == 1#}show{#/if#}" data-isanony="{#$common.isanony|default:0#}">{#$langData['waimai'][7][73]#}</i>    {#* 匿名评价 *#}
			<div class="star_box">
				<i data-title="{#$langData['waimai'][7][50]#}" {#if $common.star >= 1#} class="click" {#/if#}></i>{#* 非常差 *#}
				<i data-title="{#$langData['waimai'][7][51]#}" {#if $common.star >= 2#} class="click" {#/if#}></i>{#* 差 *#}
				<i data-title="{#$langData['waimai'][7][52]#}" {#if $common.star >= 3#} class="click" {#/if#}></i>{#* 一般 *#}
				<i data-title="{#$langData['waimai'][7][53]#}" {#if $common.star >= 4#} class="click" {#/if#}></i>{#* 满意 *#}
				<i data-title="{#$langData['waimai'][7][54]#}" {#if $common.star >= 5#} class="click" {#/if#}></i>{#* 非常满意 *#}
				<p class="com_tip">{#$langData['waimai'][7][50]#}</p>{#* 非常差 *#}
				<input type="hidden" id="score" name="score" value="{#$common.star#}">
			</div>
			<!--输入框s-->
			<div class="commt_shop">
			  	<div class="textarea" id="comm_shop" contenteditable="true" placeholder="{#$langData['waimai'][7][71]|replace: '1' : $langData['waimai'][2][21]#}" >{#$common.content#}</div>
					<div class="up_img">
						<ul class="uploader-list fn-clear" id="fileList">
							
							{#if $common.pics#}
							{#foreach from=$common.pics key=k item=i#}
							<li class="thumbnail" id="item_{#$k+1#}"><img src="{#changeFileSize url="{#getFilePath($i)#}" type="small"#}" data-val="{#$i#}" data-url="{#getFilePath($i)#}" alt=""><div class="file-panel"><span class="cancel"></span></div></li>
							{#/foreach#}
							{#/if#}
							<li class="upload_btn" id="uploadbtn">
								<div id="filePicker" class="webuploader-container">
									<img src="{#$templets_skin#}images/upimg.png" />
									<p>{#$langData['waimai'][7][74]#}</p>{#* 上传照片 *#}
								</div>
							</li>
						</ul>
					</div>
			</div>
			
			<!--输入框e-->
			<input type="hidden" name="commonid" id="commonid" value="{#$common.id#}">
		</div>
		{#/if#}
		<!--给商家打分e-->
		<!-- 提交按钮s -->
		<a href="javascript:;" class="commt_upbtn">{#$langData['waimai'][7][75]#}</a>{#* 提交评价 *#}
		<!-- 提交按钮e -->
		
	</body>
	<script type="text/javascript">
		var wxconfig = {
			"appId": '{#$wxjssdk_appId#}',
			"timestamp": '{#$wxjssdk_timestamp#}',
			"nonceStr": '{#$wxjssdk_nonceStr#}',
			"signature": '{#$wxjssdk_signature#}'
		};
	</script>
	<script src="//res.wx.qq.com/open/js/jweixin-1.3.2.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
	<script src="{#$cfg_staticPath#}js/webuploader/webuploader.min.js?v={#$cfg_staticVersion#}"></script>
	<script src="{#$templets_skin#}js/upload-img.js?v={#$cfg_staticVersion#}"></script>
	<script type="text/javascript" src="{#$templets_skin#}js/commt.js?v={#$cfg_staticVersion#}"></script>
</html>
