html{height: 100%;}
body{background-color: #F4F4F6; min-height: 100%; padding-top: .88rem; padding-bottom: 1.4rem;}
.top_box {position: absolute; left: 0; right: 0; top: 0; z-index: 3; height: 5.38rem; background: url(../images/bbg.png) no-repeat bottom center; background-size:auto 3rem; }
.top_box .headbox{background-color: #24262B; color: #fff; display: flex; justify-content: space-between; height: .88rem; line-height: .88rem; align-items: center; position: relative;}
.top_box .headbox  .h_url{position: relative; z-index: 1;}
.top_box .headbox .htitle{font-size: .32rem; color: #fff; font-weight: bold; position: absolute; left: 0; right: 0; top: 0; bottom: 0; text-align: center;}
.back_btn{width: .88rem; height: .88rem; background: url(../images/header_back_index.png) no-repeat center; background-size: .4rem auto; position: relative; z-index: 3;}

.score_show{background-color:#24262B ; padding-top: .42rem; height: 2.3rem; position: relative; z-index: 3;}
.show_box{margin: 0 .25rem; height: 2.3rem; background: linear-gradient(-28deg, #FFAE00 0%, #FCBF1C 100%); border-radius: .3rem; position: relative; }
.score_show .show_box .left_img{width: 2.5rem; height: 2.5rem; position: absolute; left: .54rem; bottom: 0;}
.score_show .show_box .left_img img{display: block; width: 100%; height: 100%;}
.score_show .show_box .right_info{float: right; height: 100%; text-align: center; padding-right: .98rem; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.score_show .show_box .right_info .score{font-size: .8rem; color: #1D1E21; font-family: impact; }
.score_show .show_box .right_info span{display: inline-block; width: 1.1rem; line-height: .34rem; border-radius: .17rem; background-color: #6E5113; font-size: .22rem; color: #FFCD5F; margin-top: -.06rem;}
.score_show .show_box .right_info p{color: #805801; font-size: .24rem; margin-top: .12rem;}

/* 评论框 */
.cmtBox {position: relative; z-index: 3; margin-top: .2rem;}
.cmtBox .tabbox{ margin: 0 .25rem; background-color: #fff; border-radius: .3rem .3rem 0 0; box-shadow: 0 .07rem .23rem 0 rgba(0, 0, 0, 0.04); padding: .3rem; border-bottom: solid 1px #EBEBED; padding-bottom: .1rem;}
.tab_top{display: flex; align-items: center; justify-content: space-between; padding-bottom: .42rem;}
.cmtBox .tabbox .tab{display: flex;  height: .5rem; border-radius: .08rem; background-color: #F0F1F7; justify-content: space-around; color: #A1A2A6 ; font-size: .26rem;  position: relative;}
.cmtBox .tabbox .tab .tag{ display: block; width: 1rem; height: 100%; border-radius: .08rem;background-color: #FFC73B; position: absolute; top: 0; bottom: 0; left: 0; transition: left .3s;}
.cmtBox .tabbox .tab li{position: relative; z-index: 3;line-height: .5rem; font-size: .26rem; width: 1rem; text-align: center;}
.cmtBox .tabbox .tab li.on_chose{color:#1D1E21; font-weight: bold;}
.cmtBox .tabbox .chose_time{font-size: .36rem; color: #1D1E21; font-weight: bold; width: 1.8rem; text-align: center;}
.cmtBox .tabbox .chose_time .inp_text{color: #1D1E21; font-size: .36rem; font-weight: bold; position: relative;}
.cmtBox .tabbox .chose_time .inp_text:after{content: ''; display: inline-block; width: .2rem; height: .2rem; background: url(../images/arr_d3.png) no-repeat center; background-size: cover; position: absolute; top: 0; bottom: 0; margin: auto; margin-left: .04rem;}
.cmtBox .tabbox .chose_time .inp_text::before{content: ''; display: block;  height: .08rem; background: linear-gradient(-90deg, #FFAE00 0%, #FCBF1C 100%); box-shadow: 0 .05rem .13rem 0 rgba(255, 175, 2, 0.37); position: absolute; left: 0; right: 0; bottom: -.16rem; border-radius: .04rem;}

/* 分数 分类 */
.cmtBox .tabbox .score_tab{display: flex; align-items: center; flex-wrap: wrap;}
.cmtBox .tabbox .score_tab li{min-width: 1.8rem; line-height: .5rem; box-sizing: border-box; background-color: #F0F1F7; margin-left: .2rem; font-size: .24rem; color: #111112; border-radius: .08rem; margin-bottom: .2rem; text-align: center; padding: 0 .35rem; border: solid 1px #F0F1F7;}
.cmtBox .tabbox .score_tab li.on_score{background-color: #FFFAED; border-color: #FFAE01; color: #FFAE00;}

.rating-wrapper { position: relative; overflow: hidden; display: inline-block; vertical-align: middle; width: 1.42rem; overflow: hidden; margin-bottom: .04rem;}
.rating-actived, .rating-gray { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex;}
.rating-actived svg, .rating-gray svg { width: 1.7rem; height: .4rem; -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none;}
.rating-actived { position: absolute; top: 0; left: 0; overflow: hidden;}

/* 评论列表 */

.cmtList .cmt_li{margin: 0 .25rem; background-color: #fff; padding: .4rem .3rem; border-radius: .3rem; margin-bottom: .22rem; box-shadow: 0 .07rem .23rem 0 rgba(0, 0, 0, 0.04);}
.cmtList .cmt_li:nth-of-type(1){border-radius: 0  0 .3rem .3rem;}
.cmtList .cmt_li .cmtuser{display: flex; align-items: center; justify-content: space-between; margin-bottom: .44rem;}
.cmtList .cmt_li .cmt_detai{display: flex; align-items: center;}
.cmtList .cmt_li .l_himg{width: .6rem; height: .6rem; border-radius: 50%; background: url(/static/images/noPhoto_60.jpg) no-repeat center; background-size: cover; margin-right: .13rem;}
.cmtList .cmt_li .l_himg img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.cmtList .cmt_li .r_info h4{font-size: .26rem; color: #313233;}
.cmtList .cmt_li .r_info p{color: #949599; font-size: .22rem; margin-top: .04rem;}
.cmtList .cmt_li .cmt_con h3{color: #313233; font-size: .28rem; line-height: .36rem; }

.cmtList .cmt_li .cmt_tag{font-size: .24rem; color: #FFAE00; line-height: .46rem; display: flex; align-items: center; flex-wrap: wrap; }
.cmtList .cmt_li .cmt_tag span{margin-right: .2rem; border: solid #FFAE01 1px; border-radius: .06rem; display: block; padding: 0 .15rem;  margin-bottom: .26rem;}

.cmtList .cmt_li .imgList{margin-top: .3rem;}
.cmtList .cmt_li .imgList .img{width: 2rem; height: 2rem; background-color: #f5f5f5; border-radius: .1rem; float: left; margin-right: .2rem; display: none;}
.cmtList .cmt_li .imgList .img img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .1rem; }
.cmtList .cmt_li .imgList .img:nth-of-type(3n){margin-right: 0;}
.cmtList .cmt_li .imgList .img:nth-of-type(1),.cmtList .cmt_li .imgList .img:nth-of-type(2),.cmtList .cmt_li .imgList .img:nth-of-type(3){display: block;}





.mbsc-fr-btn-cont{height: 1rem; background: #F7F8FA !important; border-radius: .2rem .2rem 0 0 ; overflow: hidden; border: none !important; }
.mbsc-ios .mbsc-fr-btn{line-height: 1rem;}
.mbsc-fr-popup.mbsc-ltr{background-color: #fff;border-radius: .2rem .2rem 0 0 ; overflow: hidden;}
.mbsc-calendar{position: relative; z-index: 999999; background-color: #fff;  overflow: hidden;}
.mbsc-fr-overlay{background: rgba(0,0,0,.5) !important;}
.mbsc-fr-popup{z-index: 99;}
.mbsc-ios .mbsc-range-btn-t {display: flex; height: 1rem; border-bottom: solid 1px #E6E7ED;}
.mbsc-ios .mbsc-range-btn-end,.mbsc-ios  .mbsc-range-btn-start{width: 50%; border: none; }
.mbsc-ios .mbsc-sc-itm .mbsc-sc-whl-c{font-size: .32rem !important;}
.mbsc-ios .mbsc-range-btn-v{background-color: #fff; left: 0; right: 0; top: 0; bottom: 0;text-align: center; line-height: 1rem;}
.mbsc-ios.mbsc-calendar .mbsc-fr-persp .mbsc-fr-w{background: #fff;  }
.mbsc-ios .mbsc-sc-whl-o, .mbsc-ios.mbsc-calendar .mbsc-sc-whl-o,.mbsc-ios.mbsc-fr-top .mbsc-sc-whl-o, .mbsc-ios.mbsc-fr-bottom .mbsc-sc-whl-o{background: none;}
.mbsc-ios .mbsc-fr-btn-w.mbsc-fr-btn-s .mbsc-fr-btn{color: #FFAE00; padding:0 .55rem;}
.mbsc-ios .mbsc-fr-btn-w.mbsc-fr-btn-c .mbsc-fr-btn{color: #999;  padding:0 .55rem;}
.mbsc-ios .mbsc-fr-w {padding-top: 1rem;}
.mbsc-ios .mbsc-range-btn-sel .mbsc-range-btn .mbsc-range-btn-v{font-weight: bold; color: #FFAE00; font-size: .36rem; }
.mbsc-ios .mbsc-range-btn{height: 100%; box-sizing: border-box;}
.mbsc-ios .mbsc-range-btn-v{font-weight: bold; font-size: .36rem;}
.mbsc-ios .mbsc-range-btn-sel .mbsc-range-btn .mbsc-range-btn-v:after{content: ''; display: block; width: .2rem; height: .2rem; background: url(../images/arr_d2.png) no-repeat center; background-size: cover; position: absolute; bottom: 0; left: 0; right: 0; margin: auto;}

.mbsc-ios .mbsc-dt-whl-d .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-h .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-date .mbsc-sc-itm{text-align: center;}
.mbsc-ios .mbsc-dt-whl-m .mbsc-sc-itm{text-align: center;}
.mbsc-ios .mbsc-sc-itm{font-size: .3rem; font-weight: normal !important; }
.mbsc-ios .mbsc-sc-itm-sel{border-bottom: solid 1px #f5f5f7; border-top: solid 1px #f5f5f7; font-size: .32rem; font-weight: bold !important; }
.mbsc-fr-aria.mbsc-fr-hdn{position: absolute;z-index: 1;left: 0;right: 0;top: 0; pointer-events: none;line-height: 1rem; color: #999; font-size: .28rem; height: 1rem !important; width: 100% !important;}

.mbsc-fr-bottom{position: relative; z-index: 5; background-color: #fff;}
.mbsc-ios.mbsc-fr-top .mbsc-sc-whl-o, .mbsc-ios.mbsc-fr-bottom .mbsc-sc-whl-o{background: none !important;}
.mbsc-ios .mbsc-dt-whl-m .mbsc-sc-itm,.mbsc-ios .mbsc-dt-whl-d .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-h .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-date .mbsc-sc-itm{text-align: center !important;}
.mbsc-ios .mbsc-dt-whl-y .mbsc-sc-itm,.mbsc-ios .mbsc-dt-whl-m .mbsc-sc-itm{font-size: .3rem; font-weight: normal ;}
.mbsc-ios .mbsc-fr-btn{line-height: 1rem;}
.mbsc-ios .mbsc-sc-itm.mbsc-sc-itm-sel{font-weight: bold; /* border-bottom: solid 1px #EBEBED;border-top: solid 1px #EBEBED; */}
.mbsc-ios .mbsc-sc-whl-w .mbsc-sc-whl-l{border-color: #EBEBED !important; display: block !important;}
.mbsc-sc-whl-w{width: 50%;}
.mbsc-ios .mbsc-fr-hdr{display: none;}
/* .mbsc-ic-checkmark{position: relative;} */
.mbsc-fr-btn-w .my-btn{font-size: .26rem; color: #1D1E21; height: .56rem; border-radius: .28rem; background-color: #F2F3F5; display: flex; align-items: center; justify-content: center; padding: 0 .2rem; padding-left: .24rem;}
.my-btn::before{display: none; content: '';}
.my-btn::after{content: ''; display: inline-block; width: .24rem; height: .24rem; background: url(../images/change.png) no-repeat center; background-size: cover;  margin-left: .08rem;}
.mbsc-ios.mbsc-fr-top .mbsc-fr-btn-cont, .mbsc-ios.mbsc-fr-bottom .mbsc-fr-btn-cont{display: flex; align-items: center; justify-content: space-between;}
.mbsc-ios .mbsc-fr-w{background-color: #fff;}


.loading_text{font-size: .24rem; color: #919399; font-weight: bold; text-align: center; padding: .4rem;}
.loading{display: block; width: 1.1rem; height: 1.1rem; border-radius: .3rem;  background: rgba(0,0,0,.9) ; background-size: .5rem; position: fixed; left: 0; right: 0; margin: auto; top: 50%;}
.loading::before{content: ''; background: url(../images/loading.png) no-repeat center; background-size: .5rem; position: absolute; left: 0; right: 0; margin: auto; top: 0; bottom: 0; animation:rotate_ 1s infinite linear;}
@keyframes rotate_{
	0%{ transform: rotate(0deg);}
	50%{ transform: rotate(180deg);}
	100%{ transform: rotate(360deg);}
}

@font-face {
	font-family: impact;
	src: url('https://pic.xiant.ao/static/fonts/Impact.otf'),
		url('https://pic.xiant.ao/static/fonts/Impact.eot'),
		url('https://pic.xiant.ao/static/fonts/Impact.ttf'),
		url('https://pic.xiant.ao/static/fonts/Impact.svg'),
		 url('https://pic.xiant.ao/static/fonts/Impact.woff'); /* IE9 */
}


[v-cloak]{
    display: none !important;
}

.huoniao_iOS.huoniao_Fullscreen .page_box {padding-top: .6rem;}
.huoniao_iOS.huoniao_Fullscreen .top_box{height: 5.98rem}
.huoniao_iOS.huoniao_Fullscreen .top_box .headbox{padding-top: .6rem;}
.huoniao_iOS.huoniao_Fullscreen .top_box .headbox .htitle{padding-top: .6rem;}
