#map{position: absolute; left: 0; right: 0; top: 0; bottom: 2rem;}
.page_map .back_btn{display: block; width: .72rem; height: .72rem; background: #fff url(../images/back.png) no-repeat center; background-size: .4rem; border-radius: 50%; box-shadow: 0 .03rem .2rem 0 rgba(0, 0, 0, 0.1); position: fixed;  top: .2rem; left: .16rem; z-index: 9;}
.headbox{height: .88rem; background-color: #fff; position: absolute; left: 0; right: 0; top: 0; margin-top: -.88rem; text-align: center; color: #000; font-weight: bold; font-size: .32rem; line-height: .88rem; z-index: 3;}
.headbox .back_btn{display: block; width: .72rem; height: .72rem; background: #fff url(../images/back.png) no-repeat center; background-size: .4rem; position: absolute;left: .12rem; top: 0; bottom: 0; margin: auto;}

body,html{height: 100%;}
#pagebox{height: 100%;}
.bottom_group{padding-bottom: .3rem;}
.page_detail.bottom_fixed .bottom_group::before{content: ''; display: block; width: .6rem; height: .06rem; border-radius: .03rem; background-color: #DCDCDE; position: absolute; left: 0; right: 0; top: .1rem; margin: auto;}
.page_map{height: 100%; background-color: #fff;z-index: 1; position: fixed; top: 0; left: 0; right: 0;bottom: 0;}
.page_detail.bottom_fixed{/* background:none ; */box-shadow: 0 -.05rem .23rem 0  rgba(0, 0, 0, 0.13);  border-radius: .4rem .4rem 0 0;}
.page_detail.bottom_fixed .bottom_group{/* position: fixed; bottom: 0; left: 0; right: 0; box-shadow: 0 -.05rem .23rem 0  rgba(0, 0, 0, 0.13);*/ min-height: 6.3rem;  background-color: #fff; border-radius: .4rem .4rem 0 0;}
.page_detail{min-height: 100%; z-index: 3; position: relative; background-color: #fff; }
.page_detail .bottom_group .top_show{ position: absolute; top: 0;left: .15rem; right: .15rem; padding-bottom: .2rem; transform: translate(0%,-100%); transition: height .2s; }
.page_detail .bottom_group .change_state{height: .74rem; background-color: #fff;box-shadow: 0 .05rem .23rem 0 rgba(0, 0, 0, 0.13); border-radius: .16rem; padding: 0 .16rem; display: flex; align-items: center; justify-content: space-between; }
.page_detail .bottom_group .change_state p{color: #636366; font-size: .22rem; padding-left: .09rem;}
.page_detail .bottom_group .change_state button{border: solid 1px #FFAE01; border-radius: .08rem; min-width: 1.3rem; box-sizing: border-box; height: .42rem; color: #FFAE00; font-size: .22rem; background:#fff ;}
.page_detail .bottom_group .change_state p em{color: #FFAF00;}

/* 订单列表 */
.page_detail.orderend{margin-top: 0 !important; padding-bottom: 1.5rem;}
/*.page_detail.orderend .orderInfo .order_detail .right_detail .telPhone{display: none;}*/
.page_detail.orderend .orderInfo .order_detail .right_detail .shop_detail{margin-right: .58rem;}
.page_detail.orderend .headbox{position: relative; margin-top: 0;}
.page_detail.orderend .orderInfo{padding-top: 0; margin: .3rem;background: #FFF;box-shadow: 0 .03rem .25rem 0 rgba(0, 6, 33, 0.1);border-radius: .26rem;}
.orderInfo{padding-top: .12rem;  box-sizing: border-box; position: relative; transition: height .2s;padding-bottom: .4rem;}
.page_detail.bottom_fixed .orderInfo{padding-bottom: 1.5rem;}
.page_detail.orderend .orderInfo .order_head{margin: 0; padding: 0 .27rem; padding-left: .3rem;}
.orderInfo .order_head.bbuy .order_num{display: none;}
.orderInfo .order_head{height: 1rem; border-bottom: solid 1px #f5f5f7; display: flex; justify-content: space-between; margin:0 .27rem; margin-left: .3rem; align-items: center;}
.orderInfo .order_head .order_info{font-size: .28rem; color: #1A1B21; font-weight: bold;}
.orderInfo .order_head .order_info .order_num{font-size: .28rem; color: #1A1B21; font-weight: bold; vertical-align: middle;}
.orderInfo .order_head .order_info .order_num em{font-weight: bold; font-size: .46rem; font-family: moneyNumber;}
.orderInfo .order_head .order_time{font-size: .24rem; color: #313233;}
.orderInfo .order_head .order_time em{font-weight: bold;}
.orderInfo .order_head .order_time.error{color: #EF2437;}
/* 帮买 帮送 */
.orderInfo .order_head .order_info span{font-size: .26rem; color: #313233; font-weight: normal;}
.orderInfo .order_head .order_info span i{display: inline-block; width: .8rem; line-height: .36rem; border-radius: .24rem .18rem .18rem .04rem; font-size: .24rem; font-weight: bold; text-align: center; margin-right: .2rem; font-style: italic; box-sizing: border-box; padding-right: .06rem;}
.orderInfo .order_head.bbuy .order_info span i{background-color: #FFE5DE; color: #AF3626;}
.orderInfo .order_head.bbuy .order_info span em.btip{color: #AF3626; font-family: 500; margin-right: .12rem;}
.orderInfo .order_head .order_info>em{display: inline-block; vertical-align: middle;}
.orderInfo .order_head.bsong .order_info span.order_tip{ display: inline-block; vertical-align: middle; margin-top: .04rem;}
.orderInfo .order_head.bsong .order_info span.order_tip i{background-color: #DEEBFF; color: #3B67AE; margin-right: .07rem; margin-left: .09rem;}
.orderInfo .order_head.bsong .order_info span.order_tip em.btip{color: #3B67AE; font-family: 500; margin-right: .12rem;}
.orderInfo .order_head.bshop .order_info span.order_tip{ display: inline-block; vertical-align: middle; margin-top: .04rem;}
.orderInfo .order_head.bshop .order_info span.order_tip i{background-color: #EF2437; color: #fff; margin-right: .07rem; margin-left: .09rem;}
.orderInfo .order_head.bshop .order_info span.after_pay{color: #EF2437;border: .02rem solid #EF2437; border-radius: .24rem .18rem .18rem .04rem; font-style: italic; margin-left: .16rem; height: .36rem; box-sizing: border-box; line-height: .36rem; padding-right: .12rem; overflow: hidden; position: relative; padding-left: .9rem; font-size: .24rem; font-weight: bold;}
.orderInfo .order_head.bshop .order_info span.after_pay i{margin: 0;position: absolute; left: 0; top: 0; bottom: 0;}

.orderInfo .btn_box{padding: .3rem; display: flex; align-items: center;}
.orderInfo .sure_btn{border: none; background: linear-gradient(-90deg, #FFAE00 0%, #FCBF1C 100%); height: .8rem; line-height: .8rem; color: #fff; font-size: .28rem; text-align: center;width: 100%; border-radius: .4rem; font-weight: bold; }
.orderInfo .btn_box .tel_btn{width: 2rem; height: .8rem; border-radius: .4rem; border: none; background: #F0F0F2; display: flex; align-items: center;justify-content: center;margin-right: .2rem; font-size: .28rem; color: #1A1B21; font-weight: 500; }

.orderInfo .order_detail>div.info_box{padding-top: .3rem; padding-bottom: .26rem; position: relative; }
.orderInfo .order_detail>div.info_box .right_detail { min-height: .8rem;}
 .order_remarks{color: #952EAB; font-size: .26rem; padding: 0 .38rem; font-weight: bold;}
.orderInfo .order_detail .left_info{width: 1rem; margin:  0 .1rem; background-color: #fff; height: fit-content;padding: .08rem 0 ; position: relative; z-index: 2; float: left;}
.orderInfo .order_detail .left_info h4{width: .48rem; border-radius: .24rem; background: #EBEBEB; margin: auto; text-align: center; line-height: .48rem; font-weight: bold;}
.orderInfo .order_detail .left_info p{font-size: .24rem; /* font-weight: bold; */ color: #919399; text-align: center; margin-top: .06rem;}
.orderInfo .order_detail .order_end .left_info h4{background: linear-gradient(-41deg, #FFAE00 0%, #FCBF1C 100%);}
.orderInfo .order_detail .right_detail{margin-left: 1.2rem; position: relative;}
.orderInfo .order_detail .right_detail .shop_name{font-size: .28rem; color: #43444D; font-weight: bold; margin-bottom: .1rem;}
.orderInfo .order_detail .right_detail .shop_detail{white-space: initial; overflow: auto;font-size: .36rem; color: #1A1B21; font-weight: bold; line-height: .42rem; margin-right: 1.2rem; transition: height .3s;}
.bottom_fixed .orderInfo .order_detail .right_detail .shop_detail{white-space: nowrap;overflow: hidden; text-overflow: ellipsis;}
.orderInfo .order_detail .right_detail .telPhone{display: block; width: .5rem; height: .5rem; background: url(../images/tel.png) no-repeat center; background-size: cover; position: absolute; top: 0; bottom: 0; margin: auto ; right: .27rem;}
.orderInfo .order_detail .order_start::before{content: ''; display: block;width: 1px ; height: 100%; background-color: #ccc; position: absolute; left: .6rem; top: .6rem; min-height: 1.1rem;}
.orderInfo .btn_box{position: fixed; bottom: 0; left: 0; right: 0; background-color: #fff; padding-bottom: .3rem; z-index: 9;}

.orderInfo .juli{position: absolute; width: 1.2rem; text-align: center; font-size: .24rem; color: #797A80;padding: .02rem 0 ; background-color: #fff;}


.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}



/* 其他细节 */
.other_detail{margin: 0 .24rem;}
.other_detail .dbox{ border-top: solid 1px #f5f5f7; padding-top: .4rem; padding-bottom: .5rem;}
.other_detail .dbox dt{color: #1A1B21; font-size: .34rem; font-weight: bold;}
.other_detail .dbox dd{display: flex; align-items: center; justify-content: space-between; color: #43444D; font-size: .26rem;margin-top: .33rem; letter-spacing:-1;}
.other_detail .dbox .ptitle{width: 3.24rem; }
.other_detail .dbox dd.allcount{color: #43444D; font-size: .28rem; font-weight: bold;}
.other_detail .dbox dd.p_tip{color: #ADAEB3; font-size: .22rem; line-height: .56rem; background-color: #F5F5F7; border-radius: .28rem; text-align: center; display: block;}
.other_detail .dbox.getCount dd.allcount .allpay_num{color: #FF7300;}
.other_detail .dbox.arr_time dt{display: flex; justify-content: space-between; align-items: center;}
.other_detail .dbox.arr_time dt span{font-size: .3rem;}
.other_detail .dbox.arr_time dd{display: block; margin-top: .5rem;}
.other_detail .dbox.arr_time ul{display: flex; align-items: center; justify-content: space-between; text-align: center; margin: 0 .1rem;}
.other_detail .dbox.arr_time ul h3{font-weight: bold; color: #1A1B21; font-size: .32rem;}
.other_detail .dbox.arr_time ul p{color: #43444D; font-size: .26rem; margin-top: .12rem;}
.btnsgroup{margin-top: 1.3rem; padding-bottom: .6rem;}
.btnsgroup button{display: block; width: 100%; box-sizing: border-box; height: .8rem; border-radius: .4rem; margin-bottom: .6rem; border: none; background: none; font-size: .28rem;}
.btnsgroup button.zhuand{color: #FFAE00; border: solid #FFAE01 .02rem; font-weight: bold;}
.btnsgroup button.zhuand em{color: #949599; font-weight: normal;}
.btnsgroup button.quhuo,.btnsgroup button.sure_btn{color: #fff;background: linear-gradient(-90deg, #FFAE00 0%, #FCBF1C 100%); font-weight: bold;}
.chaoshi_li h3,.chaoshi_li p{color: #F02438 !important;}


/* 地图图标 */
#map .bubble{width: .72rem; height: .72rem; position: relative;}
#map .bubble .bg_bub{width:.72rem ; height: .72rem; display: block; border-radius: .36rem .36rem .36rem 0; background-color: #fff; box-shadow: .01rem .05rem .15rem 0 rgba(0, 0, 0, 0.24);  padding: .06rem; box-sizing: border-box; transform: rotate(-45deg); z-index: 3; position: relative;}
#map .bubble em{display: block; width: .6rem; height: .6rem; border-radius: 50%; background-color: #FFB922; transform: rotate(45deg); font-size: .28rem; color: #fff; font-weight: bold; line-height: .6rem; text-align: center;}
#map .bubble.shop em{background-color: #2C96F7;}
#map .bubble:after{content: ''; display: block; width: .6rem; height: .32rem; border-radius: 50%; background-color: #2C96F7; opacity: .3; position: absolute; bottom: 0;  left: 0; right: 0; margin: auto; margin-bottom: -.32rem;}
#map .bubble::before{content: ''; display: block; width: .27rem; height: .14rem; background-color: #2C96F7; border-radius: 50%; position: absolute; z-index: 2; left: 0; bottom: 0; right: 0; margin: auto; margin-bottom: -.24rem;}
#map .bubble.user:after
,#map .bubble.user::before{background-color: #FFAE00;}
#map .courier{width: .9rem; height: .9rem; background-color: rgba(0, 107, 255, .2); border-radius: 50%; padding: .15rem; box-sizing: border-box;}
#map .courier span{display: block; width: .6rem; height: .6rem; background: url(../images/arr.png) no-repeat center; background-size: cover;}
/* #map .gm-style div{color: #fff !important; line-height: .9rem; font-size: .3rem; font-weight: bold;} */
#map .courier .juli_tip{ line-height: .72rem;  background-color: #fff; height: .72rem; border-radius: .36rem; padding: 0 .26rem; color: #313233; font-size: .28rem; white-space: nowrap;box-shadow: 0 .05rem .2rem 0 rgba(0, 0, 0, 0.2); display: block;  }
.bubble_tip .juli_tip::after{content: ''; display: block; width: 0; height: 0; border: solid .08rem rgba(0,0,0,0); border-top: solid .08rem #fff; position: absolute; left: 0; right: 0; bottom: -.16rem; margin: auto;}
#map .courier .bubble_tip{position: absolute; left: 50%; transform: translateX(-50%); bottom: 1.08rem;}
#map div.gm-style-mtc{display: none;}

.reset_map{-webkit-appearance: none; display: block; width: .9rem; height: .9rem;border: none; border-radius: 50%; margin-bottom: .2rem; 
box-shadow: 0 .05rem .1rem 0 rgba(0, 0, 0, 0.1);  background:#fff url(../images/reset.png) no-repeat center; background-size: .44rem; }

.mask{display: block; position: fixed; top: 0; bottom: 0; right: 0; left: 0; background-color: rgba(0,0,0,.5); z-index: 9;}
.alertbox{width: 5.6rem; min-height: 2.76rem; border-radius: .3rem; background-color: #fff; box-shadow: 0 .07rem .37rem 0 rgba(0, 0, 0, 0.13); position: fixed; top: 40%; left: 0; right: 0; margin: auto; z-index: 10; overflow: hidden;}
.alertbox .alert_con{height: 1.8rem; display: flex; align-items: center; flex-direction: column; text-align: center; justify-content: center; box-sizing: border-box; border-bottom: solid 1px #DCDCDE;}
.alertbox .alert_con h3{font-weight: bold; font-size: .32rem; color: #000; margin-bottom: .04rem;}
.alertbox .alert_con p{color: #333; font-size: .24rem;}

.alertbox .btns{display: flex;justify-content: space-between;}
.alertbox .btns button{-webkit-appearance: none; border: none; width: 50%; height: .96rem; background-color: #fff; font-size: .3rem; font-weight: bold; box-sizing: border-box;}
.alertbox .btns button.sure{color: #FFAE00;}
.alertbox .btns button.cancel{color: #FFAE00;}
.alertbox .btns button:nth-child(2){border-left: solid 1px #DCDCDE ; }
.alertbox .btns button:active{background-color: #f5f5f5;}


/* 错误提示1 */
.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 100001; visibility: hidden;}
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: .3rem; line-height: 1.4; text-align: center; padding: .24rem .2rem; z-index: 9999; left: 0; top: 30%; margin-top: -.2rem;}


.pop-enter-active {
  transition: all .3s ease-in-out;
}
.pop-leave-active {
  transition: all .2s  ease-in-out;
}
.pop-enter, .pop-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: scale(0);
  opacity: 0;
}


@-webkit-keyframes loader10m{
	0%{background-color: rgba(255, 255, 255, .2);}
	25%{background-color: rgba(255, 255, 255, .2);}
	50%{background-color: rgba(255, 255, 255, 1);}
	75%{background-color: rgba(255, 255, 255, .2);}
	100%{background-color: rgba(255, 255, 255, .2);}
}
@keyframes loader10m{
	0%{background-color: rgba(255, 255, 255, .2);}
	25%{background-color: rgba(255, 255, 255, .2);}
	50%{background-color: rgba(255, 255, 255, 1);}
	75%{background-color: rgba(255, 255, 255, .2);}
	100%{background-color: rgba(255, 255, 255, .2);}
}
@-webkit-keyframes loader10g{
	0%{background-color: rgba(255, 255, 255, .2);}
	25%{background-color: rgba(255, 255, 255, 1);}
	50%{background-color: rgba(255, 255, 255, .2);}
	75%{background-color: rgba(255, 255, 255, .2);}
	100%{background-color: rgba(255, 255, 255, .2);}
}
@keyframes loader10g{
	0%{background-color: rgba(255, 255, 255, .2);}
	25%{background-color: rgba(255, 255, 255, 1);}
	50%{background-color: rgba(255, 255, 255, .2);}
	75%{background-color: rgba(255, 255, 255, .2);}
	100%{background-color: rgba(255, 255, 255, .2);}
}
@-webkit-keyframes loader10d{
	0%{background-color: rgba(255, 255, 255, .2);}
	25%{background-color: rgba(255, 255, 255, .2);}
	50%{background-color: rgba(255, 255, 255, .2);}
	75%{background-color: rgba(255, 255, 255, 1);}
	100%{background-color: rgba(255, 255, 255, .2);}
}
@keyframes loader10d{
	0%{background-color: rgba(255, 255, 255, .2);}
	25%{background-color: rgba(255, 255, 255, .2);}
	50%{background-color: rgba(255, 255, 255, .2);}
	75%{background-color: rgba(255, 255, 255, 1);}
	100%{background-color: rgba(255, 255, 255, .2);}
}
.page_detail .bottom_group .change_state button.btn_change.loading{background: #FEB60E;}
.loader10:before{
	content: "";
	position: absolute;
	top: 0px;
	left: -.16rem;
	height: .06rem;
	width: .06rem;
	border-radius: .03rem;
	-webkit-animation: loader10g 1.5s ease-in-out infinite;
			animation: loader10g 1.5s ease-in-out infinite;
}

.loader10{
	position: relative;
	width: .06rem;
	height: .06rem;
	top: 46%;
	left: 46%;
	border-radius: .03rem;
	-webkit-animation: loader10m 1.5s ease-in-out infinite;
			animation: loader10m 1.5s ease-in-out infinite;
}


.loader10:after{
	content: "";
	position: absolute;
	top: 0px;
	right: -.16rem;
	height: .06rem;
	width: .06rem;
	border-radius: .03rem;
	-webkit-animation: loader10d 1.5s ease-in-out infinite;
			animation: loader10d 1.5s ease-in-out infinite;
}

.markerLabels{overflow: visible !important; opacity: 1 !important;}
.alertbox .alert_con p.showtip{font-size: .28rem; color: #666;}
.alertbox .alert_con p.errtip{color: #EF2437; font-size: .28rem;}
.alertbox .alert_con .inpbox{margin: 0 .4rem; height: 1.2rem; background-color: #F5F5F7; border-radius: .1rem; margin-top: .42rem;}
.alertbox .alert_con .inpbox input{height: 1.2rem; border: none ; width: 100%; background: none; font-size: .5rem; color: #000; font-weight: bold; text-align: center;}
.alertbox .alert_con.more_h{height: 2.9rem;}
.alertbox .alert_con .inpbox input::placeholder{ color: #BFBFBF;font-size: .4rem;}
[v-cloak]{
    display: none !important;
}
.btnsgroup.btmFixed{position: fixed; left: 0; right: 0; bottom: 0; margin: auto; padding: .24rem; background: #fff;} 


/* app适配  */
.huoniao_iOS.huoniao_Fullscreen .page_map .back_btn{top: .8rem}
.huoniao_iOS.huoniao_Fullscreen .headbox .back_btn{top: .6rem}
.huoniao_iOS.huoniao_Fullscreen .headbox{padding-top: .6rem}
.huoniao_iOS.huoniao_Fullscreen .page_detail{padding-top: .6rem;}
