body,html{background-color: #F5F5F7; min-height: 100%; }
body{padding-bottom: 2rem; }
#page{min-height: 12rem;}
.top_box {position: fixed; left: 0; right: 0; top: 0; z-index: 10;}
.top_box .headbox{background-color: #24262B; color: #fff; display: flex; justify-content: space-between; height: .88rem; line-height: .88rem; padding: 0 .34rem; align-items: center; position: relative;}
.top_box .headbox .ucenter{width: .4rem; height: .4rem; background: url(../images/ucenter.png) no-repeat center; background-size: cover; float: left; position: relative; z-index: 1;}
.top_box .headbox  .h_url{position: relative; z-index: 1; color: #fff;}
.top_box .headbox .htitle{font-size: .32rem; color: #fff; font-weight: bold; position: absolute; left: 0; right: 0; top: 0; bottom: 0; text-align: center;}
.top_box .tab_li{background-color: #24262B; height: .78rem; position: relative; z-index: 9;}
.top_box .tab_li ul{display: flex; color: #fff; font-size: .28rem; padding-left: .67rem; }
.top_box .tab_li li{opacity: .6; line-height: .85rem; margin-right: 1.07rem; position: relative; height: .78rem; overflow: visible;}
.top_box .tab_li li.on_chose{opacity: 1;}
.top_box .tab_li li.on_chose::after{content: ''; display: block; width: 100%; height: .08rem; border-radius: .04rem;
background: #FEB206;box-shadow: 0 .05rem .2rem 0 rgba(254, 178, 7, 0.5); position: absolute; bottom: 0;}

.sidebox{width: 4.2rem; border-radius: 0 .3rem .3rem 0; background-color: #fff; position: fixed; top: 0; bottom: 0; left: -4.2rem; z-index: 11; transition: left .3s;}
.sidebox.slide_show{left: 0;}
.side_mask{position: fixed; z-index: 4; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5); display: none;}
.side_mask.show{display: block;}
.sidebox .logout_{width:3rem; line-height: .78rem; border-radius: .39rem; font-size: .3rem; color: #313233; background-color: #F2F3F5; position: absolute; left: 0; right: 0; margin: auto; bottom: 1.2rem; text-align: center; font-weight: bold;}

.sidebox .userinfo{margin: 0 .3rem; padding-top: 1.38rem; padding-bottom: .66rem; border-bottom: solid 1px #EBEBED;}
.sidebox .img{width: 1.4rem; height: 1.4rem; background: url(../images/photo.png) no-repeat center; background-size: cover; border-radius: 50%; margin-bottom: .26rem; margin: auto;}
.sidebox .nickname{font-size: .36rem; font-weight: bold; text-align: center; margin-top: .2rem;}
.sidebox .score_show{font-size: .28rem; display: flex; align-items: center; justify-content: center; margin-top: .4rem;}
.sidebox .score_show::before,.sidebox .score_show::after{content: ''; display: block; }
.sidebox .score_show::before{width: .38rem; height: .38rem; background: url(../images/score.png) no-repeat center; background-size: cover; margin-left: .04rem;}
.sidebox .score_show::after{width: .24rem; height: .24rem; background: url(../images/r_arr.png) no-repeat center; background-size: cover; margin-right: .06rem;}
.sidebox .kaigong{display: flex; align-items: center; justify-content: space-between; margin-top: .9rem; color: #313233; font-size: .3rem; font-weight: bold;}
.sidebox .kaigong .guan{width: .9rem; height: .48rem; background-color: #efefef; border-radius: .24rem; position: relative;}
.sidebox .kaigong .guan.open{background: linear-gradient(-90deg, #FFAE00 0%, #FCBF1C 100%);}
.sidebox .kaigong .guan::before{content: ''; width: .44rem; height: .44rem; border-radius: 50%; background-color: #fff; 
box-shadow: 0 .05rem .1rem 0 rgba(0, 0, 0, 0.1); display: block;position: absolute; top: .02rem; bottom: .02rem; left: .02rem; transition: left .3s; }
.sidebox .kaigong .guan.open::before{ left: .44rem;}
.sidebox .urlbox{padding-top: .36rem; margin-left:.3rem; margin-right:.22rem;}
.sidebox .urlbox li{box-sizing: border-box;padding: .27rem 0; color: #313233; font-size: .3rem; display: flex; align-items: center; justify-content: space-between;}
.sidebox .urlbox li .left_,.sidebox .urlbox li .right_{display: flex; align-items: center;}
.sidebox .urlbox li .left_::before{content: ''; display: block; width: .4rem; height: .4rem; background: url(../images/kefu.png) no-repeat center; background-size: cover; margin-right: .15rem;}
.sidebox .urlbox li.setting .left_::before{background-image: url(../images/setting.png); }
.sidebox .urlbox li .right_{color: #949599; font-size: .24rem;}
.sidebox .urlbox li .right_::after{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/r_arr1.png) no-repeat center; background-size: cover; margin-left: .04rem;}

/* 底部 */
.bottom_box{position: fixed; bottom: 0; left: 0; right: 0; background-color: #fff; height: .88rem; padding-top:.12rem ;padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); z-index: 3;}
.bottom_box ul{display: flex; justify-content: space-around;}
.bottom_box ul li{display: flex; flex-direction: column; align-items: center; color: #313233; font-size: .2rem;}
.bottom_box ul li .icon{width: .56rem; height: .56rem; }
.bottom_box ul li .icon img{display: block; width: 100%; height: 100%; object-fit: cover;}
.bottom_box ul li.reload .icon{width: 1.1rem; height: 1.1rem; box-sizing: border-box; padding: .1rem; border-radius: 50%; background-color: #fff; margin-top: -.54rem;}
.bottom_box ul li.reload.rotate .icon{animation: rotate_ 2 1s linear forwards;}

/* 订单列表 */
.tabbox{margin-top: 1.9rem;}
.allbox_3 li .order_head.bbuy .order_num{display: none;}
.tabbox li{margin: 0 .24rem; border-radius: .16rem;  box-shadow: 0 .03rem .1rem 0 rgba(0, 3, 18, 0.03); background-color: #fff; margin-bottom: .24rem; }
.tabbox li .order_head{height: 1rem; border-bottom: solid 1px #f5f5f7; display: flex; justify-content: space-between; padding:0 .27rem; padding-left: .3rem; align-items: center;}
.tabbox li .order_head .order_info{font-size: .28rem; color: #1A1B21; font-weight: bold; white-space: nowrap;}
.tabbox li .order_head .order_info .order_num{font-size: .28rem; color: #1A1B21; font-weight: bold; vertical-align: middle;}
.tabbox li .order_head .order_info .order_num em{font-weight: bold; font-size: .46rem; font-family: moneyNumber;}
.tabbox li .order_head .order_time{font-size: .24rem; color: #313233;}
.tabbox li .order_head .order_time .order_num em{font-weight: bold;}
/* 帮买 帮送 */
.tabbox li .order_head .order_info span{font-size: .26rem; color: #313233; font-weight: normal;}
.tabbox li .order_head .order_info span i{display: inline-block; width: .8rem; line-height: .36rem; border-radius: .24rem .18rem .18rem .04rem; font-size: .24rem; font-weight: bold; text-align: center; margin-right: .2rem; font-style: italic; box-sizing: border-box; padding-right: .06rem;}
.tabbox li .order_head.bbuy .order_info span i{background-color: #FFE5DE; color: #AF3626;}
.tabbox li .order_head.bbuy .order_info span em.btip{color: #AF3626; font-family: 500; margin-right: .12rem;}
/* .tabbox li .order_head.bbuy .order_info{display: flex; align-items: baseline;} */
.tabbox li .order_head .order_info>em{display: inline-block; vertical-align: middle;}
.tabbox li .order_head.bsong .order_info span.order_tip{ display: inline-block; vertical-align: middle; margin-top: .04rem;}
.tabbox li .order_head.bsong .order_info span.order_tip p{display: inline;}
.tabbox li .order_head.bsong .order_info span.order_tip i{background-color: #DEEBFF; color: #3B67AE; margin-right: .07rem; margin-left: .09rem;}
.tabbox li .order_head.bsong .order_info span.order_tip em.btip{color: #3B67AE; font-family: 500; margin-right: .12rem;}
.tabbox li .order_head.bshop .order_info span.order_tip{ display: inline-block; vertical-align: middle; margin-top: .04rem;}
.tabbox li .order_head.bshop .order_info span.order_tip i{background-color: #EF2437; color: #fff; margin-right: .07rem; margin-left: .09rem;}
.tabbox li .order_head.bshop .order_info span.after_pay{color: #EF2437;border: .02rem solid #EF2437; border-radius: .24rem .18rem .18rem .04rem; font-style: italic; margin-left: .16rem; height: .36rem; box-sizing: border-box; line-height: .36rem; padding-right: .12rem; overflow: hidden; position: relative; padding-left: .9rem; font-size: .24rem; font-weight: bold;}
.tabbox li .order_head.bshop .order_info span.after_pay i{margin: 0;position: absolute; left: 0; top: 0; bottom: 0;}

.tabbox li .btn_box{padding: .3rem; display: flex; align-items: center;}
.tabbox li .qiang_btn{border: none; background: linear-gradient(-90deg, #FFAE00 0%, #FCBF1C 100%); height: .8rem; line-height: .8rem; color: #fff; font-size: .28rem; text-align: center;width: 100%; border-radius: .4rem; font-weight: bold; }
.tabbox li .btn_box .tel_btn{width: 2rem; height: .8rem; border-radius: .4rem; border: none; background: #F0F0F2; display: flex; align-items: center;justify-content: center;margin-right: .2rem; font-size: .28rem; color: #1A1B21; font-weight: 500; }
.tabbox li .btn_box .qu_btn.big_btn{width: 100%;}
.tabbox li .btn_box .qu_btn,.tabbox li .btn_box .sure_btn{width: 4.2rem; height: .8rem; border: none; background: linear-gradient(-90deg, #FFAE00 0%, #FCBF1C 100%);  color: #fff; border-radius: .4rem; font-weight: bold; font-size: .28rem;}
.tabbox li .btn_box .tel_btn::before{content: ''; display: block; width: .4rem; height: .4rem; background: url(../images/tel.png) no-repeat center; background-size: cover; margin-right: .1rem;}
.tabbox li .order_detail>div.info_box{padding-top: .3rem; padding-bottom: .26rem; position: relative; }
.tabbox li .order_detail .order_remarks{color: #952EAB; font-size: .26rem; padding: 0 .38rem;}
.tabbox li .order_detail .left_info{width: 1rem; margin:  0 .1rem; background-color: #fff; height: fit-content;padding: .08rem 0 ; position: relative; z-index: 2; float: left;}
.tabbox li .order_detail .left_info h4{width: .48rem; border-radius: .24rem; background: #EBEBEB; margin: auto; text-align: center; line-height: .48rem; font-weight: bold;}
.tabbox li .order_detail .left_info p{font-size: .24rem; /* font-weight: bold; */ color: #919399; text-align: center; margin-top: .06rem;}
.tabbox li .order_detail .order_end .left_info h4{background: linear-gradient(-41deg, #FFAE00 0%, #FCBF1C 100%);}
.tabbox li .order_detail .right_detail{margin-left: 1.2rem;}
.tabbox li .order_detail .right_detail .shop_name{font-size: .28rem; color: #43444D; font-weight: bold; margin-bottom: .1rem;}
.tabbox li .order_detail .right_detail .shop_detail{font-size: .36rem; color: #1A1B21; font-weight: bold; line-height: .42rem;}
.tabbox li .order_detail .order_start::before{content: ''; display: block;width: 1px ; height: 100%; background-color: #ccc; position: absolute; left: .6rem; top: .6rem; min-height: 1.1rem;}

.loading_text{font-size: .24rem; color: #919399; font-weight: bold; text-align: center; padding: .4rem;}
.loading{display: block; width: 1.1rem; height: 1.1rem; border-radius: .3rem;  background: rgba(0,0,0,.9) ; background-size: .5rem; position: fixed; left: 0; right: 0; margin: auto; top: 50%;}
.loading::before{content: ''; background: url(../images/loading.png) no-repeat center; background-size: .5rem; position: absolute; left: 0; right: 0; margin: auto; top: 0; bottom: 0; animation:rotate_ 1s infinite linear;}

/* 错误提示1 */
.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 100001; visibility: hidden;}
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: .3rem; line-height: 1.4; text-align: center; padding: .24rem .2rem; z-index: 9999; left: 0; top: 50%; margin-top: -.2rem;}

/* 历史订单 */
.tabbox .hlist.qiangdan li.waimai .order_num i{background-color: #FFC73A; margin-right: .12rem; color: #1C1D21;}
.tabbox .hlist.qiangdan li.paotui .order_num i{background-color: #DDEAFF; margin-right: .12rem; color: #3B67AD;}
.tabbox .hlist.qiangdan li.shop .order_num i{background-color: #EF2337; margin-right: .12rem; color: #fff;}
.tabbox li .order_head .order_atime{font-weight: bold; font-size: .24rem; color: #313233;}
.tabbox li .order_head .order_atime.chaoshi{color: #EF2337;}
.tabbox .hlist li .order_detail .order_start::before{background: none; border-left: dashed 1px #CBCBCB; left: .37rem; top: .4rem;}
.tabbox .hlist li .order_detail .right_detail{margin-left: .61rem;}
.tabbox .hlist li .order_detail .right_detail .shop_name{font-weight: 500; color: #42444C;}
.tabbox .hlist li .order_detail .right_detail .shop_detail{font-size: .32rem;}
.tabbox .hlist li .order_detail .right_detail::before{content: ''; display: block; width: .16rem; height: .16rem; border-radius: 50%;background: linear-gradient(-90deg, #FFAE00 0%, #FBBF1B 100%); position: absolute; left: .3rem; top: .4rem;}
.tabbox .hlist  li{padding-bottom: .2rem;}
.top_box .tab_li li .tb_num{position: absolute; color: #B0B1B2; font-size: .24rem; margin-left: .06rem; margin-top: .03rem; display: inline-block; align-items: center; top: 0; bottom: 0; white-space: nowrap;}
.top_box .tab_li li .tb_num i{display: inline-block; width: .2rem; height: .2rem; background: url(../images/arr_d1.png) no-repeat center; background-size: cover; margin-left: .07rem;}
.mask{position: fixed; top: 0; left: 0; right: 0; z-index: 1; bottom: 0; background: rgba(0,0,0,.5);}
.slide_down{position: absolute; height: 4.4rem; background-color: #fff; border-radius: 0 0 .3rem .3rem; left: 0; right: 0; box-sizing: border-box; padding-top: .3rem;}
.slide_down li{padding:.24rem .73rem; font-size: .3rem; color: #191A21; font-weight: 500;}
.slide_down li.type_chose{color: #FFAE00; font-weight: bold; font-size: .32rem;}

.headbox .back_btn{display: block; width: .72rem; height: .72rem; background: url(../images/header_back_index.png) no-repeat center; background-size: .4rem; position: absolute;left: .12rem; top: 0; bottom: 0; margin: auto; z-index: 3;}


.slide-fade-enter-active {
  transition: all .3s ease-in-out;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateY(-10px);
  opacity: 0;
}
.pop-enter-active {
  transition: all .3s ease-in-out;
}
.pop-leave-active {
  transition: all .2s  ease-in-out;
}
.pop-enter, .pop-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: scale(0);
  opacity: 0;
}
@keyframes rotate_{
	0%{ transform: rotate(0deg);}
	50%{ transform: rotate(180deg);}
	100%{ transform: rotate(360deg);}
}


@font-face {
	font-family: moneyNumber;
	src: url('https://pic.xiant.ao/static/fonts/coregtd6.otf'),
		url('https://pic.xiant.ao/static/fonts/coregtd6.TTF'),
		url('https://pic.xiant.ao/static/fonts/coregtd6.svg'),
		 url('https://pic.xiant.ao/static/fonts/coregtd6.woff'); /* IE9 */
}
[v-cloak]{
    display: none !important;
}


.mask{display: block; position: fixed; top: 0; bottom: 0; right: 0; left: 0; background-color: rgba(0,0,0,.5); z-index: 9;}
.alertbox{width: 5.6rem; min-height: 2.76rem; border-radius: .3rem; background-color: #fff; box-shadow: 0 .07rem .37rem 0 rgba(0, 0, 0, 0.13); position: fixed; top: 40%; left: 0; right: 0; margin: auto; z-index: 10; overflow: hidden;}
.alertbox .alert_con{height: 1.8rem; display: flex; align-items: center; flex-direction: column; text-align: center; justify-content: center; box-sizing: border-box; border-bottom: solid 1px #DCDCDE;}
.alertbox .alert_con h3{font-weight: bold; font-size: .32rem; color: #000; margin-bottom: .04rem;}
.alertbox .alert_con p{color: #333; font-size: .24rem;}

.alertbox .btns{display: flex;justify-content: space-between;}
.alertbox .btns button{-webkit-appearance: none; border: none; width: 50%; height: .96rem; background-color: #fff; font-size: .3rem; font-weight: bold; box-sizing: border-box;}
.alertbox .btns button.sure{color: #FFAE00;}
.alertbox .btns button.cancel{color: #FFAE00;}
.alertbox .btns button:nth-child(2){border-left: solid 1px #DCDCDE ; }
.alertbox .btns button:active{background-color: #f5f5f5;}
.alertbox .alert_con p.showtip{font-size: .28rem; color: #666;}
.alertbox .alert_con p.errtip{color: #EF2437; font-size: .28rem;}
.alertbox .alert_con .inpbox{margin: 0 .4rem; height: 1.2rem; background-color: #F5F5F7; border-radius: .1rem; margin-top: .42rem;}
.alertbox .alert_con .inpbox input{height: 1.2rem; border: none ; width: 100%; background: none; font-size: .5rem; color: #000; font-weight: bold; text-align: center;}
.alertbox .alert_con.more_h{height: 2.9rem;}
.alertbox .alert_con .inpbox input::placeholder{ color: #BFBFBF;font-size: .4rem; }

/*      app适配           */
.huoniao_iOS.huoniao_Fullscreen .top_box .headbox{padding-top: .6rem;}
.huoniao_iOS.huoniao_Fullscreen .top_box .headbox .htitle{top: .6rem}
.huoniao_iOS.huoniao_Fullscreen .tabbox{margin-top: 2.5rem;}
.huoniao_iOS.huoniao_Fullscreen .top_box .headbox .back_btn{top: .6rem}
