.aTopbox {display: flex; align-items: center; justify-content: flex-end; padding: 0 .27rem; padding-top: .3rem;}
.aTopbox button{background: none; font-size: .28rem; color: #000; border: none; font-weight: bold;}
.aTopbox button.active{display: none;}
.aTopbox:after{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/arr_r.png) no-repeat center; background-size: cover;}

.form-container{margin: 0 .3rem; margin-top: .42rem;}
.form-container .form-box{display: none;}
.form-container .form-box.show{display: block;}
.form-container>h3{color: #000; font-size: .44rem; font-weight: bold; padding: 0 .12rem; margin-bottom: .5rem;}
.form-container .form-box>h3{font-size: .4rem; font-weight: bold; padding: 0 .12rem; margin-bottom: .3rem; margin-top: .7rem;}
/* input */
.form-container .form-box .inpbox{border-bottom: solid #f5f5f7 1px; height: .9rem; margin-bottom: .2rem; position: relative;}
.form-container .form-box .inpbox input{height: .9rem; border: none; background: none; font-size: .3rem; width: 100%;}
.form-container .form-box .inpbox input::placeholder{color: #C6C7CC;}
.form-container .form-box .inpbox i{display: block; width: .9rem ; height: .9rem; background: url(../images/eye_close.png) no-repeat center; background-size: .4rem; position: absolute;top: 0; bottom: 0; right: -.1rem; margin: auto}
.form-container .form-box .inpbox i.eye_open{background-image: url(../images/eye_open.png); }
/*.form-container .form-box .inpbox input[name=password],.form-container .form-box .inpbox input[name=sure_password]{display: none;}*/
.form-container .form-box .inpbox input[name=password].input_text,.form-container .form-box .inpbox input[name=sure_password].input_text{display: block;}
.form-container .form-box .inpbox input[name=sure_password].input_text ~ i{display: none;}


.form-container .form-box .inpbox>em{ display: block; position: absolute; bottom: -1px; background-color: #FFAE00; width: 0; left: 0; right: 0; margin: auto; height: 1px; transition: width .3s; transform-origin: center;}
.form-container .form-box .inpbox input:focus ~ em{width: 100%;}
/* 登录按钮 */
.form-container .form-box .btn_box{margin: 0 .3rem; text-align: center; margin-top: .9rem;}
.form-container .form-box .btn_box button{display: block; background: none; height: .8rem; border-radius: .4rem; width: 100%; border: none; background: linear-gradient(-90deg, #FFAE00 0%, #FCBF1C 100%); color: #fff; font-size: .3rem; font-weight: bold;}
.form-container .form-box .btn_box .reg_url{display: inline-block; margin-top: .58rem; font-size: .28rem; color: #000 ; font-weight: bold;}
.form-container .form-box .btn_box .reg_url:after{content: ''; display: inline-block; width: .24rem; height: .24rem; background: url(../images/arr_r1.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .02rem;}


/* 手机登录 */
.form-container .form-box .tel_inpbox.inpbox input{box-sizing: border-box; padding-left: 1.06rem;}
.form-container .form-box .tel_inpbox.inpbox .areacode::before{content: '+';}
.form-container .form-box .tel_inpbox.inpbox .areacode{font-size: .3rem; color: #19191A; position: absolute; left: 0; top: 0; bottom: 0; margin: auto; display: flex; align-items: center; line-height: .9rem;}
.form-container .form-box .tel_inpbox.inpbox .areacode:after{content: ''; display: inline-block;  width: .2rem; height: .2rem; background: url(../images/arr_d.png) no-repeat center; background-size: cover; margin-left: .06rem;}
.form-container .form-box .inpbox .get_code{min-width: 1.2rem; box-sizing: border-box; padding: 0 .1rem; height: .6rem; border: solid 1px #FFAE01; box-sizing: border-box; color: #FFAE00; font-size: .28rem; position: absolute; top: 0; bottom: 0; right: 0; background: none; margin: auto; border-radius: .1rem; font-weight: bold;}

.huoniao_iOS.huoniao_Fullscreen .pagebox{padding-top: .6rem;}








/* 底部弹出 */
.pop_mask,.popl_mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.57); z-index: 11; display: none;}
.popl_mask{z-index: 12;}
.pop_box,.popl_box{background-color: #fff; position: fixed; bottom: -9rem; left: 0; right: 0; z-index: 12; padding: 0 .24rem; border-radius: .3rem .3rem 0 0; height: 8.2rem; padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); z-index: 10000; transition: bottom .3s;}
.popl_box{z-index: 10001;}
.pop_box h3{font-size: .3rem; color: #000; text-align: center; font-weight: bold; padding:.3rem 0; position: relative;}
.pop_box h3 .close_btn{width: .6rem; height: .6rem; background: no-repeat center url(../images/close_btn1.png) ; background-size: cover; display: block; position: absolute; top: .2rem; right: 0; }
.pop_box dl{margin-bottom: .3rem;}
.pop_box dl>dt{font-size: .26rem; color: #1C1C21; font-weight: bold; margin-bottom: .1rem;}
.pop_box dl>dd {border: solid 1px #F5F5F7; border-radius: .06rem;}
.pop_box dl>dd input{font-size: .28rem; border: none; margin: .24rem ; box-sizing: border-box;}
.pop_box dl>dd input::placeholder{color: #BBBCC4;}

/* 区号显示 */
.pop_box dl>dd .acode_show{display: inline-block; padding: .2rem; font-size: .28rem; color: #333;}
.pop_box dl>dd .acode_show::before{content: '+'; }
.pop_box dl>dd .acode_show::after{content: ''; display: inline-block; width: 0; height: 0; border: solid .1rem rgba(0,0,0,0); border-top:  solid .1rem #666; vertical-align: bottom;  margin-left: .06rem;}

.pop_box dl>dd.select,.pop_box dl>dd.option{border: none; display: flex; align-items: center; padding-left: .3rem;}
.pop_box dl>dd.select i{display: block; width: .22rem; height: .22rem; border-radius: 50%; border: solid 1px #BDC1C9; margin-right: .1rem;}
.pop_box dl>dd.select span{display: flex; align-items: center; margin-right: 1.4rem;}
.pop_box dl>dd.select span.chosed i{border: solid 1px #00BA8C; position: relative;}
.pop_box dl>dd.select span.chosed i::before{content: ''; display: block; width: .11rem; height: .11rem; border-radius: 50%; background-color: #00BA8C; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.pop_box dl>dd.textarea{height: 1.7rem; overflow: auto; box-sizing: border-box; padding: .2rem ;}
.pop_box dl>dd.textarea .txt_con{width: 100%; height: 100%; font-size: .28rem; }
.pop_box dl>dd.textarea .txt_con:empty::before{color:#BBBCC4; content:attr(placeholder);}
.pop_box dl>dd.option{display: block;}
.pop_box dl>dd.option span{display: inline-flex; align-items: center; color: #303133; font-size: .28rem; margin-right: .6rem; flex-wrap: wrap; margin-bottom: .2rem;}
.pop_box dl>dd.option span i{display: block; width: .3rem; height: .3rem; background: url(../images/chose1.png) no-repeat center; background-size: cover; margin-right: .1rem;}
.pop_box dl>dd.option span.chosed i{background-image: url(../images/chose2.png);}
.popl_box h2 .back{color: #999; font-size: .3rem; position: absolute; right: .58rem; font-weight: normal;}
.areaList,.timeList{padding-top: 1.4rem; height: 100%; box-sizing: border-box; top: 0; left: 0; right: 0; position: absolute; }
.areaList ul,.timeList ul{height: 100%; overflow: auto;}
.areaList ul li,.timeList ul li{margin: 0 .3rem; line-height: .88rem; color: #333; font-size: .3rem;  border-radius: .1rem; padding: 0 .2rem;}
.areaList ul li.achose,.timeList ul li.achose{background: #F0F0F2; font-weight: bold;}
.anum_box h2{line-height: 1.1rem; text-align: center; font-size: .34rem; color: #000; font-weight: bold; border-bottom: solid 1px #f5f5f8; position: relative; z-index: 10;}
.anum_box h2 .cancel,.pop_box h2 .back{color: #999; font-size: .3rem; position: absolute; right: .58rem; font-weight: normal;}
.anum_box h2 .back{left: .43rem; right: auto; position: absolute;  }

.mobbox{display: inline-block; width: 70%;}
.mobbox .acode_show{display: inline-block; padding: .2rem; font-size: .28rem; color: #333;}
.mobbox .acode_show::before{content: '+'; }
.mobbox .acode_show::after{content: ''; display: inline-block; width: 0; height: 0; border: solid .1rem rgba(0,0,0,0); border-top:  solid .1rem #666; vertical-align: bottom;  margin-left: .06rem;}

.login_tip{font-size: .22rem; color: #4A4B4D; position: absolute; left: .42rem;  margin: auto; bottom: .6rem;}
.login_tip a{color: #FFAE00;}
.loading{display: block; width: 1.1rem; height: 1.1rem; border-radius: .3rem;  background: rgba(0,0,0,.9) ; background-size: .5rem; position: fixed; left: 0; right: 0; margin: auto; top: 50%;}
.loading::before{content: ''; background: url(../images/loading.png) no-repeat center; background-size: .5rem; position: absolute; left: 0; right: 0; margin: auto; top: 0; bottom: 0; animation:rotate_ 1s infinite linear;}
/* 错误提示1 */
.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 100001; visibility: hidden;}
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: .3rem; line-height: 1.4; text-align: center; padding: .24rem .2rem; z-index: 9999; left: 0; top: 30%; margin-top: -.2rem;}

@keyframes rotate_{
	0%{ transform: rotate(0deg);}
	50%{ transform: rotate(180deg);}
	100%{ transform: rotate(360deg);}
}

#regester .reg_box .btn_box button{display: block; background: none; height: .8rem; border-radius: .4rem; border: none; background: linear-gradient(-90deg, #FFAE00 0%, #FCBF1C 100%); color: #fff; font-size: .3rem; font-weight: bold; width: 100%;}
#regester .reg_box .btn_box a{display: block; margin-top: .58rem; font-size: .28rem; color: #000 ; font-weight: bold; text-align: center;}
.page_register .form-container .form-box{margin-bottom: 1.2rem;}



/* 注册页面 */
.page_register {padding:.3rem ;}
.page_register .form-container{margin: 0; margin-top: .42rem;}
.page_register .rTopbox button{display: block; width: .4rem; height: .4rem;background: none; background: url(../images/close_btn.png) no-repeat center; background-size: .4rem; border: none; margin: .12rem; }
.reg_box>h3{font-size: .44rem; font-weight: bold; line-height: .6rem; padding-top: 1.2rem;}
.reg_box>p{margin-top: .48rem; font-size: .22rem; color: #4A4B4D;}
.reginfo_show .regbox{overflow: hidden; align-items: center; margin-top: .5rem; height: 2.4rem;}
.reginfo_show{margin:1.26rem 0; padding: .3rem .34rem; box-shadow: 0 .03rem .25rem 0 rgba(0, 6, 33, 0.1); border-radius: .26rem; background-color: #fff;}
.reginfo_show h4{color: #949599; font-size: .26rem;}
.reginfo_show .regbox .left_img{width: 2.16rem; border-right: solid 1px #EBEBED; box-sizing: border-box; padding-left: .16rem; text-align: center; float: left;}
.reginfo_show .regbox .left_img h5{width: 1.4rem;font-size: .36rem; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.reginfo_show .regbox .left_img .img{width: 1.4rem; height: 1.4rem; background: url(../images/photo.png) no-repeat center; background-size: cover; border-radius: 50%; margin-bottom: .26rem;}
.reginfo_show .regbox .right_info{padding-left: .6rem; margin-left: 2.16rem; box-sizing: border-box; }
.reginfo_show .regbox .right_info li{width: 50%; display: block; float: left; margin-bottom: .6rem;}
.reginfo_show .regbox .right_info li p{color: #C6C7CC; font-size: .26rem; margin-bottom: .1rem;}
.reginfo_show .regbox .right_info li h5{color: #000; font-size: .3rem; font-weight: bold;}
[v-cloak]{
    display: none !important;
}