/* .top_box {position: absolute; left: 0; right: 0; top: 0; z-index: 3; height: 5.38rem; background: url(../images/bbg.png) no-repeat bottom center; background-size:auto 3rem; } */
html,body{height: 100%; background-color: #F5F5F7;}
.pagebox{height: 100%;}
.pagebox>div{min-height: 100%;}
.top_box .headbox{background-color: #24262B; color: #fff; display: flex; justify-content: space-between; height: .88rem; line-height: .88rem; align-items: center; position: relative;}
.top_box .headbox  .h_url{position: relative; z-index: 1;}
.top_box .headbox .htitle{font-size: .32rem; color: #fff; font-weight: bold; position: absolute; left: 0; right: 0; top: 0; bottom: 0; text-align: center;}
.back_btn{width: .88rem; height: .88rem; background: url(../images/header_back_index.png) no-repeat center; background-size: .4rem auto; position: relative; z-index: 3;}

.userbox dl{background-color: #fff; margin-bottom: .2rem; padding: 0 .3rem;}
.userbox dl dt{font-size: .28rem; color: #313233; padding-top: .4rem;}
.userbox dl dd{height: 1.1rem; border-bottom: solid 1px #f5f5f7; line-height: 1.1rem; display: flex; justify-content: space-between; font-size: .3rem;}
.userbox dl dd:last-child{border: none;}
.userbox dl dd .info_title{color: #1A1B21;  font-weight: bold;}
.userbox dl dd .info_val{color: #636366; display: flex; align-items: center; }
.userbox dl dd .info_val em{display: block; width: .3rem; height: .3rem; background: url(../images/arr_r.png) no-repeat center; background-size: cover; margin-right: -.06rem; margin-left: .16rem;}

/* 手机绑定 */

.page_cphone,.page_cid,.page_ctel{min-height: 100%; background-color: #fff; }
.page_cphone p,.page_cid p{color: #313233; font-size: .28rem; padding:.43rem .37rem ;}
.page_cphone h1,.page_cid h1{font-size: .4rem; color: #000; font-family: moneyNumber; text-align: center;}
.page_cphone .bind_tel,.page_cid .next_step,.page_cpsd .cpsd_btn,.bindtel{display: block; width: 6.9rem; height: .8rem; border-radius: .4rem;background: linear-gradient(-90deg, #FFAE00 0%, #FCBF1C 100%); margin: auto ; border: none; color: #fff; font-size: .28rem; font-weight: bold; margin-top: .6rem;}
.page_cid .next_step,.page_cpsd .cpsd_btn,.bindtel{margin-top: .92rem;}

/* input */
.inpbox{border-bottom: solid #f5f5f7 1px; height: .9rem;margin: .2rem .3rem; margin-top: .2rem; position: relative; padding: 0 .1rem;}
.inpbox input{height: .9rem; border: none; background: none; font-size: .28rem; width: 100%;}
.inpbox input::placeholder{color: #C6C7CC;}
.inpbox i{display: block; width: .9rem ; height: .9rem; background: url(../images/eye_close.png) no-repeat center; background-size: .4rem; position: absolute;top: 0; bottom: 0; right: -.1rem; margin: auto}
.inpbox i.eye_open{background-image: url(../images/eye_open.png); }
.inpbox input[name=password],.inpbox input[name=sure_password]{display: none;}
.inpbox input[name=password].input_text,.inpbox input[name=sure_password].input_text{display: block;}
.inpbox input[name=sure_password].input_text ~ i{display: none;}
.inpbox .get_code{min-width: 1.2rem; box-sizing: border-box; padding: 0 .1rem; height: .6rem; border: solid 1px #FFAE01; box-sizing: border-box; color: #FFAE00; font-size: .28rem; position: absolute; top: 0; bottom: 0; right: 0; background: none; margin: auto; border-radius: .1rem; font-weight: bold;}
.page_cpsd{min-height: 100%; background-color: #fff;}

/* 错误提示1 */
.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 100001; visibility: hidden;}
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: .3rem; line-height: 1.4; text-align: center; padding: .24rem .2rem; z-index: 9999; left: 0; top: 30%; margin-top: -.2rem;}


@font-face {
	font-family: moneyNumber;
	src: url('/static/fonts/coregtd6.otf'),
		url('/static/fonts/coregtd6.TTF'),
		url('/static/fonts/coregtd6.svg'),
		 url('/static/fonts/coregtd6.woff'); /* IE9 */
}
.page_policy{height: 100%; background-color: #fff;}
.page_policy .content{font-size: .28rem; padding:.2rem .24rem ; text-indent: 2em;}

.mobileSelect.mobileSelect-show .content{box-shadow: 0 .07rem .23rem 0 rgba(0, 0, 0, 0.1); border-radius: .4rem .4rem 0 0;}
.mobileSelect.mobileSelect-show .content .btnBar{border: none !important; font-weight: bold;}
.mobileSelect.mobileSelect-show .content .btnBar .ensure{color: #FFAE00 !important; font-size: .3rem;}
.mobileSelect.mobileSelect-show .content .btnBar .cancel{color: #949599; font-size: .3rem;}
.mobileSelect.mobileSelect-show .content .btnBar .title{font-size: .28rem;}
.userbox dl dd a{display: flex; width: 100%; justify-content:space-between}


.huoniao_iOS.huoniao_Fullscreen .top_box .headbox{padding-top: .6rem;}
.huoniao_iOS.huoniao_Fullscreen .top_box .headbox .htitle{padding-top: .6rem;}