body,html{background-color: #F5F5F7; min-height: 100%; }
body{padding-bottom: 2rem;}
html{height: 100%;}
.top_box {position: absolute; left: 0; right: 0; top: 0; z-index: 3; height: 3rem; background: url(../images/bbg.png) no-repeat center; background-size: cover;}
.top_box .headbox{background-color: #24262B; color: #fff; display: flex; justify-content: space-between; height: .88rem; line-height: .88rem; padding: 0 .34rem; align-items: center; position: relative; flex-direction: row-reverse;}
.top_box .headbox .ucenter{width: .4rem; height: .4rem; background: url(../images/ucenter.png) no-repeat center; background-size: cover; float: left; position: relative; z-index: 1;}
.top_box .headbox  .h_url{position: relative; z-index: 1; color: #fff;}
.top_box .headbox .htitle{font-size: .32rem; color: #fff; font-weight: bold; position: absolute; left: 0; right: 0; top: 0; bottom: 0; text-align: center;}
.top_box .tab_li{background-color: #24262B; height: .78rem;}
.top_box .tab_li ul{display: flex; color: #fff; font-size: .28rem; padding-left: .67rem; }
.top_box .tab_li li{opacity: .6; line-height: .85rem; margin-right: 1.07rem; position: relative; height: .78rem; overflow: visible;}
.top_box .tab_li li.on_chose{opacity: 1;}
.top_box .tab_li li.on_chose::after{content: ''; display: block; width: 100%; height: .08rem; border-radius: .04rem;
background: #FEB206;box-shadow: 0 .05rem .2rem 0 rgba(254, 178, 7, 0.5); position: absolute; bottom: 0;}

.page_box{padding-top: 1rem;}
.today_count{margin: 0 .3rem; background: url(../images/bg.png) no-repeat center; background-size: cover; height:2.5rem ; border-radius: .16rem; position: relative; z-index: 3; box-shadow: .01rem .1rem .23rem 0 rgba(255, 179, 0, 0.23);}
.today_count::before{content: ''; display: block; width: 1.8rem; height: .68rem; background: url(../images/jinri.png) no-repeat center; background-size: cover; position: absolute; left: 0; top: 0;}
.today_count{display: flex; align-items: center; justify-content: space-around; text-align: center;}
.today_count h5{color: #1D1E21; font-size: .46rem; font-family: moneyNumber; }
.today_count p{color: #805801; font-size: .24rem;}
.today_count .peisong_count p>em{display: inline-block; width: .3rem; height: .3rem; background: url(../images/wen.png) no-repeat center; background-size: cover; position: absolute; margin-left: .04rem;}

.countBox dl{background-color: #fff; height: 3.6rem; border-radius: .16rem; box-shadow: 0 .05rem .23rem 0 rgba(0, 0, 0, 0.1); margin: 0 .3rem; margin-top: .22rem; box-sizing: border-box; padding: .3rem .25rem;}
.countBox dt{color: #313233; font-size: .32rem; font-weight: bold;} 
.countBox dd.tlist{display: flex; justify-content: space-around; text-align: center; margin-top: .6rem;}
.countBox dd.tlist h5{color: #1D1E21; font-size: .32rem; font-family: moneyNumber;}
.countBox dd.tlist .fail h5{color: #FF5262;}
.countBox dd.tlist  p{color: #919191; font-size: .24rem;}
.countBox dd.btn_box a{display: block; height: .76rem; background-color: #F2F7FF; color: #333; line-height: .76rem; text-align: center; margin-top: .4rem; border-radius: .1rem;}


.bottom_box{position: fixed; left: 0; right: 0; bottom: 0; background-color: #fff; padding-top: .17rem;padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); z-index: 3; }
.bottom_box ul{display: flex; justify-content: space-around; align-items: center;padding-bottom: .12rem; text-align: center; font-size: .2rem; color: #313233;}
.bottom_box li .icon{width: .56rem; height: .56rem;}
.bottom_box li .icon img{width: 100%; height: 100%; display: block;}
.bottom_box li a{display: block;}
@font-face {
	font-family: moneyNumber;
	src: url('/static/fonts/coregtd6.otf'),
		url('/static/fonts/coregtd6.TTF'),
		url('/static/fonts/coregtd6.svg'),
		 url('/static/fonts/coregtd6.woff'); /* IE9 */
}


/* 地图相关 */
.type_tab{position: fixed; right: .3rem; top: 20%; width: .9rem; background-color: #fff; box-shadow: -.03rem 0 .23rem 0 rgba(0, 0, 0, 0.1); border-radius: .2rem; box-sizing: border-box; padding: .05rem; display: flex; align-items: center; flex-direction: column; justify-content: space-between; z-index: 3; }
.type_tab li{height: 1rem; width: 100%; text-align: center; display: flex; justify-content: center; flex-direction: column; position: relative; z-index: 3; font-weight: bold;}
.type_tab em{width: .8rem; height: 1rem; border-radius: .18rem;background: linear-gradient(-90deg, #FFAE00 0%, #FCBF1C 100%); position: absolute; top: .05rem; transition: top .3s;}
/* .type_tab.tab_waimai em{top: 1.05rem;}
.type_tab.tab_paotui em{top: 2rem;}
.type_tab.tab_shop em{top:2.95rem;} */
#page header{height: .72rem; position: fixed; background-color: #fff; border-radius: .36rem; color: #000; font-size: .32rem; top: .8rem; line-height: .72rem; padding:0 .5rem; left: 50%; transform: translate(-50%); z-index: 9;}
.reset_map{-webkit-appearance: none; display: block; width: .9rem; height: .9rem; background-color: #fff; border: none; border-radius: 50%; 
box-shadow: 0 .05rem .1rem 0 rgba(0, 0, 0, 0.1); position: fixed; bottom: 1.6rem; left: .3rem; background:#fff url(../images/reset.png) no-repeat center; background-size: .5rem; }

#mapbox{position: fixed; top: 0; left: 0; right: 0; bottom: 0;}
#map{height: 100%;}

.bubble{position: relative; height: .72rem; border-radius: .36rem; background-color: #fff; min-width: .72rem; padding: .05rem; box-sizing: border-box;box-shadow: 0 .05rem .15rem 0 rgba(0, 0, 0, 0.24); pointer-events: all;}
.bubble .txt{height: .6rem; min-width: .6rem; background-color: #2C95F7; color: #fff; border-radius: .3rem; box-sizing: border-box; padding:0 .2rem; line-height: .6rem;  display: flex; font-size: .4rem;align-items: center; position: relative;z-index: 3; font-weight: bold;}
.bubble .txt em{ margin-left: .09rem; vertical-align: middle;font-size: .26rem; white-space: nowrap;}
.bubble .txt:after{content: ''; display: block; width: 0; height: 0; border: .12rem solid rgba(0,0,0,0); border-top: .12rem solid #fff; position: absolute; left: 0 ; right: 0; margin: auto; bottom: -.3rem; }
.bubble::before{content: ''; display: block; width: .58rem; height: .31rem; border-radius: 50%; background-color: #2C95F7; opacity: .3; position: absolute;bottom: 0; left: 0; right: 0; margin: auto;  transform: translate(0,100%);}
.bubble.opciaty{opacity: .5;}
.bubble::after{content: ''; display: block; width: .27rem; height: .13rem; border-radius: 50%;  background-color: #2C95F7; opacity: .6;position: absolute; bottom: 0; left: 0; right: 0; margin: auto;margin-bottom:-.06rem ; transform: translate(0,100%);}
.bubble_tip{position: absolute; left: 50%; transform: translateX(-50%); bottom: .88rem;}
.bubble_tip .bubble_time{ line-height: .72rem;  background-color: #fff; height: .72rem; border-radius: .36rem; padding: 0 .26rem; color: #313233; font-size: .28rem; white-space: nowrap;box-shadow: 0 .05rem .2rem 0 rgba(0, 0, 0, 0.2); display: none;  animation: bottomFadeIn .3s;}
.bubble_tip .bubble_time::after{content: ''; display: block; width: 0; height: 0; border: solid .08rem rgba(0,0,0,0); border-top: solid .08rem #fff; position: absolute; left: 0; right: 0; bottom: -.16rem; margin: auto;}
.bubble_tip.show .bubble_time{display: block;}
.today_count .peisong_count{position: relative;}
.today_count .peisong_count span.tip{position: absolute; color: #fff; text-align: center; width: 6.7rem; box-sizing: border-box; padding:.22rem .25rem; background-color: rgba(0,0,0,.85); border-radius: .2rem; top: 1.2rem; font-size: .23rem; line-height: .36rem; left: 0; margin-left: -1.2rem; display: none; animation: topFadeIn .3s;}

.bubble.wmuser .txt{background-color: #FFB921;}
.bubble.wmuser::after,.bubble.wmuser::before{background-color: #FFB921;}

.bubble.shop .txt{background-color: #F44656;}
.bubble.shop::after,.bubble.shop::before{background-color: #F44656;}

.bubble.grey .txt{background-color: #B8BBC2 !important;}
.bubble.grey::after,.bubble.grey::before{background-color: #B8BBC2 !important;}
#map .courier{width: .9rem; height: .9rem; background-color: rgba(0, 107, 255, .2); border-radius: 50%; padding: .15rem; box-sizing: border-box;}
#map .courier span{display: block; width: .6rem; height: .6rem; background: url(../images/arr.png) no-repeat center; background-size: cover;}
.markerLabels{overflow: visible !important; opacity: 1 !important;}
#mapbox{background-color: #fff;}
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

[v-cloak]{
    display: none !important;
}


/* 错误提示1 */
.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 100001; visibility: hidden; }
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: .3rem; line-height: 1.4; text-align: center; padding: .24rem .2rem; z-index: 9999; left: 0; top: 30%; margin-top: -.2rem;}



.huoniao_iOS.huoniao_Fullscreen .top_box .headbox{padding-top: .6rem;}
.huoniao_iOS.huoniao_Fullscreen .top_box .headbox .htitle{padding-top: .6rem;}
.huoniao_iOS.huoniao_Fullscreen .page_box{padding-top: 1.6rem}