.top_box {position: absolute; left: 0; right: 0; top: 0; z-index: 3; height: 4.78rem; background: url(../images/bbg.png) no-repeat bottom center; background-size:auto 3rem; }
.top_box .headbox{background-color: #24262B; color: #fff; display: flex; justify-content: space-between; height: .88rem; line-height: .88rem; align-items: center; position: relative;}
.top_box .headbox  .h_url{position: relative; z-index: 1;}
.top_box .headbox .htitle{font-size: .32rem; color: #fff; font-weight: bold; position: absolute; left: 0; right: 0; top: 0; bottom: 0; text-align: center;}
.back_btn{width: .88rem; height: .88rem; background: url(../images/header_back_index.png) no-repeat center; background-size: .4rem auto; position: relative; z-index: 3;}

.page_box{padding-top: .88rem; padding-bottom: 1.6rem; background-color: #F4F4F6;}
.page_box .shai_box{background-color: #24262B; color: #fff; min-height: 2.4rem; position: relative; z-index: 3;}
.page_box .shai_box .timeChose{display: flex; align-items: center;justify-content: space-evenly; padding-top: .5rem;}
.page_box .shai_box .timeChose b{background: none; border: none; color: #fff; font-size: .32rem; font-weight: bold; }
.page_box .shai_box .timeChose input{position: absolute; left: 0; top: 0; right: 0; bottom: 0; opacity: 0;}
.page_box .shai_box .timeChose .timebox{position: relative;}
.page_box .shai_box .timeChose em{color: #9CA0A9; font-size: .28rem;}
.page_box .shai_box .timeChose .timebox::after{content: ''; display: inline-block; width: .2rem; height: .2rem; background: url(../images/arr_d1.png) no-repeat center ; background-size: cover; margin-left: .08rem;}

.shai_btn{border: none; background: linear-gradient(-90deg, #FFAE00 0%, #FCBF1C 100%); height: .8rem; border-radius: .4rem; color: #1D1E21; font-size: .28rem; line-height: .8rem; display: block; width: 6.9rem; margin: auto ; margin-top: .58rem; font-weight: bold;}

.countBox{position: relative; z-index: 3;}
.countBox dl{background-color: #fff; border-radius: .16rem; box-shadow: 0 .05rem .23rem 0 rgba(0, 0, 0, 0.1); margin: 0 .3rem; margin-top: .22rem; box-sizing: border-box; padding: .3rem .25rem; padding-bottom: .45rem;}
.countBox dt{color: #313233; font-size: .32rem; font-weight: bold;} 
.countBox dd.tlist{display: flex; justify-content: space-around; text-align: center; flex-wrap: wrap;}
.countBox dd.tlist div{min-width: 35%;  margin-top: .5rem;}
.countBox dd.tlist h5{color: #1D1E21; font-size: .36rem; font-family: moneyNumber;}
.countBox dd.tlist .fail h5{color: #FF5262;}
.countBox dd.tlist  p{color: #919191; font-size: .24rem;}
.countBox dl.paotui dd.tlist{flex-wrap: nowrap;} 
.countBox dd.tlist div.amount p{position: relative;}
.countBox dd.tlist div.amount p em{display: inline-block; width: .3rem; height: .3rem; background: url(../images/wen.png) no-repeat center; background-size: cover; position: absolute; margin-left: .04rem; margin-top: .02rem;}
.countBox dd.tlist div.amount p em:after{content: ''; display: block; width: 0; height: 0; border: solid .16rem rgba(0,0,0,0); border-bottom: solid .16rem rgba(0,0,0,.85); position: absolute; top: .18rem; display: none;}
.countBox dd.tlist div.amount p span{position: absolute; color: #fff; text-align: center; width: 6.7rem; box-sizing: border-box; padding:.22rem .25rem; background-color: rgba(0,0,0,.85); border-radius: .2rem; top: 0; top: .5rem; font-size: .23rem; line-height: .36rem; left: 0; margin-left: -.5rem; display: none; animation: topFadeIn .3s;}
.countBox .paotui dd.tlist div.amount p span{right: 0;left: auto;  margin-right: -.2rem;}


.bottom_box{position: fixed; left: 0; right: 0; bottom: 0; background-color: #fff; padding-top: .17rem;padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); z-index: 3; }
.bottom_box ul{display: flex; justify-content: space-around; align-items: center;padding-bottom: .12rem; text-align: center; font-size: .2rem; color: #313233;}
.bottom_box li .icon{width: .56rem; height: .56rem;}
.bottom_box li .icon img{width: 100%; height: 100%; display: block;}

.loading{display: block; width: 1.1rem; height: 1.1rem; border-radius: .3rem;  background: rgba(0,0,0,.9) ; background-size: .5rem; position: fixed; left: 0; right: 0; margin: auto; top: 50%; z-index: 9;}
.loading::before{content: ''; background: url(../images/loading.png) no-repeat center; background-size: .5rem; position: absolute; left: 0; right: 0; margin: auto; top: 0; bottom: 0; animation:rotate_ 1s infinite linear;}


@keyframes rotate_{
	0%{ transform: rotate(0deg);}
	50%{ transform: rotate(180deg);}
	100%{ transform: rotate(360deg);}
}

@font-face {
	font-family: moneyNumber;
	src: url('https://pic.xiant.ao/static/fonts/coregtd6.otf'),
		url('https://pic.xiant.ao/static/fonts/coregtd6.TTF'),
		url('https://pic.xiant.ao/static/fonts/coregtd6.svg'),
		 url('https://pic.xiant.ao/static/fonts/coregtd6.woff'); /* IE9 */
}



.md-range-event .md-header {
    position: relative;
    background: #4ECCC4;
    padding: 1em;
    text-align: center;
    margin-bottom: 1em;
}

.mbsc-material.md-range-event .md-header,
.md-range-event .mbsc-material .md-header {
    background: #009688;
}

.mbsc-android-holo.md-range-event .md-header,
.md-range-event .mbsc-android-holo .md-header {
    background: #31c6e7;
}

.mbsc-ios-classic.md-range-event .md-header,
.mbsc-ios.md-range-event .md-header,
.md-range-event .mbsc-ios .md-header {
    background: #1272dc;
    margin: 0;
    z-index: 1;
}

.mbsc-ios-dark.md-range-event .md-header,
.md-range-event .mbsc-ios-dark .md-header {
    background: #ff8b0f;
    margin: 0;
    color: #a1a1a1;
}

.mbsc-wp.md-range-event .md-header,
.md-range-event .mbsc-wp .md-header {
    background: #1a9fe0;
}

.md-range-event .md-header .mbsc-header-txt {
    display: inline-block;
    color: #fff;
    font-size: 18px;
}

.md-range-event .md-header .mbsc-btn-flat {
    margin: 0;
    padding: 0 .5em 0 .5em;
    height: 30px;
    color: #fff;
    text-transform: capitalize;
}

.md-range-event .md-header .md-cancel-btn,
.md-range-event .md-header .md-add-btn {
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

.md-range-event .md-header .mbsc-btn-flat.mbsc-active {
    background: rgba(255, 255, 255, 0.2);
}

.md-range-event .md-header .md-add-btn {
    right: .75em;
}

.md-range-event .md-header .md-cancel-btn {
    left: .75em;
}


.mbsc-fr-btn-cont{height: 1rem; background: #F7F8FA !important; border-radius: .2rem .2rem 0 0 ; overflow: hidden; border: none !important; }
.mbsc-ios .mbsc-fr-btn{line-height: 1rem;}
.mbsc-fr-popup.mbsc-ltr{background-color: #fff;border-radius: .2rem .2rem 0 0 ; overflow: hidden;}
.mbsc-calendar{position: relative; z-index: 999999; background-color: #fff;  overflow: hidden;}
.mbsc-fr-overlay{background: rgba(0,0,0,.5) !important;}
.mbsc-fr-popup{z-index: 99;}
.mbsc-ios .mbsc-range-btn-t {display: flex; height: 1rem; border-bottom: solid 1px #E6E7ED;}
.mbsc-ios .mbsc-range-btn-end,.mbsc-ios  .mbsc-range-btn-start{width: 50%; border: none; }
.mbsc-ios .mbsc-sc-itm .mbsc-sc-whl-c{font-size: .32rem !important;}
.mbsc-ios .mbsc-range-btn-v{background-color: #fff; left: 0; right: 0; top: 0; bottom: 0;text-align: center; line-height: 1rem;}
.mbsc-ios.mbsc-calendar .mbsc-fr-persp .mbsc-fr-w{background: #fff;  }
.mbsc-ios .mbsc-sc-whl-o, .mbsc-ios.mbsc-calendar .mbsc-sc-whl-o,.mbsc-ios.mbsc-fr-top .mbsc-sc-whl-o, .mbsc-ios.mbsc-fr-bottom .mbsc-sc-whl-o{background: none;}
.mbsc-ios .mbsc-fr-btn-w.mbsc-fr-btn-s .mbsc-fr-btn{color: #FFAE00; padding:0 .55rem;}
.mbsc-ios .mbsc-fr-btn-w.mbsc-fr-btn-c .mbsc-fr-btn{color: #999;  padding:0 .55rem;}
.mbsc-ios .mbsc-fr-w {padding-top: 1rem;}
.mbsc-ios .mbsc-range-btn-sel .mbsc-range-btn .mbsc-range-btn-v{font-weight: bold; color: #FFAE00; font-size: .36rem; }
.mbsc-ios .mbsc-range-btn{height: 100%; box-sizing: border-box;}
.mbsc-ios .mbsc-range-btn-v{font-weight: bold; font-size: .36rem;}
.mbsc-ios .mbsc-range-btn-sel .mbsc-range-btn .mbsc-range-btn-v:after{content: ''; display: block; width: .2rem; height: .2rem; background: url(../images/arr_d2.png) no-repeat center; background-size: cover; position: absolute; bottom: 0; left: 0; right: 0; margin: auto;}
.mbsc-ios .mbsc-range-btn-t::before{content: '至'; font-size: .26rem; color: #666 ; line-height: 1rem; left: 50%;  transform: translate(-50%, 0); position: absolute; z-index: 9;}
.mbsc-ios .mbsc-dt-whl-d .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-h .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-date .mbsc-sc-itm{text-align: center;}
.mbsc-ios .mbsc-dt-whl-m .mbsc-sc-itm{text-align: center;}
.mbsc-ios .mbsc-sc-itm{font-size: .3rem; font-weight: normal !important; }
/* .mbsc-ios .mbsc-sc-itm-sel{border-bottom: solid 1px #f5f5f7; border-top: solid 1px #f5f5f7; font-size: .32rem; font-weight: bold !important; } */
.mbsc-fr-aria.mbsc-fr-hdn{position: absolute;z-index: 1;left: 0;right: 0;top: 0; pointer-events: none;line-height: 1rem; color: #999; font-size: .28rem; height: 1rem !important; width: 100% !important;}
.mbsc-ios .mbsc-sc-whl-w .mbsc-sc-whl-l{display: block !important; border-color: #f5f5f7 !important;}


/* 错误提示1 */
.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 100001; visibility: hidden; }
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: .3rem; line-height: 1.4; text-align: center; padding: .24rem .2rem; z-index: 9999; left: 0; top: 30%; margin-top: -.2rem;}


.huoniao_iOS.huoniao_Fullscreen .top_box{height: 5.38rem;}
.huoniao_iOS.huoniao_Fullscreen .top_box .headbox{padding-top: .6rem;}
.huoniao_iOS.huoniao_Fullscreen .top_box .headbox .htitle{padding-top: .6rem;}
.huoniao_iOS.huoniao_Fullscreen .page_box{padding-top: 1.48rem}
