

/*列表*/
.class_wrap{margin-top: 20px; padding-bottom: 50px;}


/*列表左*/
.list_left{width: 940px;float: left;}
.list_left ul li.l_li{margin-right: 20px;width: 220px;background: #fff;float: left;position: relative;margin-top: 20px;border: 1px solid #eee; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;transition: all .3s;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;}
.list_left ul li.l_li:nth-child(4n){margin-right: 0;}
.list_left ul li.l_li:hover{box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-moz-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-webkit-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-ms-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);border: 1px solid #fff;transform: translate3d(0,-8px,0);-o-transform: translate3d(0,-8px,0);-webkit-transform: translate3d(0,-8px,0);transform: -moz-translate3d(0,-8px,0);}

.icon_img{position: absolute;top: 10px;left: 10px;z-index: 2 }
.icon_img span{display: inline-block;}
.icon_img span.new{width: 34px;height: 17px;background: url(../images/new-icon.png) no-repeat;background-size: 34px 17px;margin-right: 3px;}
.icon_img span.z_new{width: 43px;height: 17px;background: url(../images/hot-icon.png) no-repeat;background-size: 43px 17px;}

.icon_img2{position: absolute;top: -4px;right: 0;z-index: 2 }
.icon_img2 span{display: inline-block;}
.icon_img2 span.hot_tag{width: 43px;height: 30px;background: url(../images/tag.png) no-repeat;background-size: 43px 30px;}


.top_img{position: relative;width:218px;height: 163px;overflow: hidden;}
.top_img img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}

.car_info{padding: 10px 15px 8px;}
.car_info .car_name{font-size: 14px;color: #28292B;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.car_info .car_name:hover{color:#fb5845 }
.car_info .by_time{font-size: 14px;color: #A6A6A6;margin-top: 3px;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.car_info .by_time em{margin-right: 9px;margin-left: 9px;}
.car_info .car_price {margin-top: 5px;}
.car_info .car_price span{font-size: 22px;color: #FF653B;display: inline-block;vertical-align: top;max-width: 100px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.car_info .car_price em{font-size: 12px;color: #5E94FF;display: inline-block;background: #F2F6FF;padding: 0 6px 1px;margin-left: 9px;border: 1px solid #5E94FF;vertical-align: top;margin-top: 7px;max-width: 60px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}




.footer {margin-top: 0;}
.list_left .list_ul li.empty {text-align: center; font-size: 17px; color:#8c8c91; padding-bottom: 50px;}
.empty img {width: 300px; margin: 50px auto 20px; display: block;}
.failed img{display: block;margin: 0 auto}