
.main_wrap{background: #F8F8F8;padding-bottom: 22px;}
/*商家详情*/
.det_wrap{margin-top: 10px;}
.det_wrap .det_left{width: 594px;}
.det_wrap .det_top .left_img{width: 120px;height: 120px;position: relative;overflow: hidden;float: left;background: #fff;border: 1px solid #eee}
.det_wrap .det_top .left_img img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.det_wrap .det_top .det_info{float: left;margin-left: 16px;height: 120px;position: relative;}
.det_wrap .det_top .det_info .det_tit{font-size: 26px;max-width:433px;}
.det_wrap .det_top .det_info .det_tit i{display: inline-block;width: 20px;height: 22px;margin-left: 6px;vertical-align: top;margin-top: 10px;}
.det_wrap .det_top .det_info .det_tit i.icon_ying{background: url(../images/ying.png) no-repeat;background-size: 20px 22px;}
.det_wrap .det_top .det_info .det_tit i.icon_bao{background: url(../images/bao.png) no-repeat;background-size: 20px 22px;}



.det_wrap .btn_group{position: absolute;bottom: 0;width: 220px}

.btn_group button{background: none; border: none; outline: none; cursor: pointer; float: left; text-align: center;}
.btn_group em{display: inline-block; width: 18px; height: 15px; background-repeat: no-repeat;  vertical-align: middle; margin-right: 8px;margin-top: -5px;}
.store-btn {float: left;margin-top: 7px;}
.store-btn button em{background-image: url(../images/like.png); background-position: top left; background-repeat: no-repeat; }
.store-btn.curr button em{background-image: url(../images/like2.png); background-position: top center; background-repeat: no-repeat;width: 20px;height: 17px; }


#sharre{position: absolute;width: 52px;height: 21px;top: 0;left: 0;right: 0;bottom: 0;opacity: 0}
.btn_group a span{display: inline-block; font-size: 14px; color:#919191}

.btn_group .contact{display: inline-block;width: 98px;height: 32px;margin-left: 20px;cursor: pointer;border: 1px solid #F8F8F8;position: relative;border-radius: 2px;}
.btn_group .contact img{width:76px;height:14px;position:absolute;top:0;left:0;right:0;bottom:0;display: block;margin:auto;}

.btn_group .contact:hover{box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);-moz-box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);
-webkit-box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);
-ms-box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);border: 1px solid #E6E6ED}


.det_mid{font-size: 14px;color: #A6A6A6;margin-top: 30px;}
.det_mid i{display: inline-block;width: 20px;height: 20px;background: url(../images/store-icon.png) no-repeat;vertical-align: middle;margin-right: 8px;margin-top: -4px;}
.det_mid p{margin-top: 15px;}
.det_mid p.tim i{background-position: 0 0;}
.det_mid p.num i{background-position: 0 -20px;}
.det_mid p.adr i{background-position: 0 -40px;}
.det_mid p.adr span{display: inline-block;max-width: 416px;vertical-align: top}
.det_mid p.adr .adr_a{color: #5E94FF}
.det_mid p.num em{margin-right: 13px;margin-left: 13px;}
.det_mid .service-box {margin-top: 15px;}
.det_mid .service-box i.se_i{background-position: 0 -60px;}
.det_mid .service{display: inline-block;max-width: 487px;vertical-align: top}
.det_mid .service li{float: left;background: #eee;width:90px;height: 30px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;font-size: 14px;text-align: center;color: #28292B;line-height: 30px;margin-right: 5px;margin-bottom: 5px;}
.det_mid .service li i{display: inline-block;width: 18px;height: 18px;margin: -5px 5px 0 0;vertical-align: middle; }
.det_mid .service li.cheliangzhihuan i{background: url("../images/icon_01.png") no-repeat;background-size: contain;}
.det_mid .service li.jiagepinggu i{background: url("../images/icon_02.png") no-repeat;background-size: contain;}
.det_mid .service li.fenqidaikuan i{background: url("../images/icon_03.png") no-repeat;background-size: contain;}
.det_mid .service li.baobanguohu i{background: url("../images/icon_06.png") no-repeat;background-size: contain;}
.det_mid .service li.daibanyanche i{background: url("../images/icon_07.png") no-repeat;background-size: contain;}
.det_mid .service li.daibanshangpai i{background: url("../images/icon_08.png") no-repeat;background-size: contain;}
.det_mid .service li.daibanzhuanji i{background: url("../images/icon_09.png") no-repeat;background-size: contain;}
.det_mid .service li.cheliangjishou i{background: url("../images/icon_04.png") no-repeat;background-size: contain;}
.det_mid .service li.yanchangzhibao i{background: url("../images/icon_05.png") no-repeat;background-size: contain;}
.det_ul{margin-top: 50px;}
.det_ul li{float: left;height: 48px;line-height: 48px;border-radius: 6px;border:1px solid #FB5845;font-size: 18px;text-align: center;cursor: pointer;}
.det_ul li i{display: inline-block;width: 25px;height: 25px;vertical-align: middle;vertical-align: middle;margin-top: -3px;}
.det_ul li.l_phone{width: 266px;background:#FB5845 ;margin-right: 10px;position: relative;color: #fff}
.det_ul li.l_phone a{color: #fff;display: block;position: relative;z-index: 2}
.det_ul li.l_phone i{background: url(../images/phone.png) no-repeat;background-size: 25px;margin-right: 10px}
.det_ul li.l_phone .seePhone{color: #fff;position: relative;z-index: 2}
.det_ul li.order{width: 178px;background: #fff;color:#FB5845 }
.det_ul li.order i{background: url(../images/clock.png) no-repeat;background-size: 25px;margin-right: 13px;}
.l_phone2:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#19000000, endcolorstr=#19000000);border-radius: 6px;}
.det_ul li.order:hover{background: #fff6f6}


/*商家详情图片轮播*/

#slideBox{ width:546px; height:433px; overflow:hidden; position:relative; background: #fff  }
#slideBox .hd{  overflow:hidden; position:absolute; right:9px; bottom:21px; z-index:1; }
.slideBox .pageState{display: inline-block;padding: 1px 10px 2px;background:rgba(0, 0, 0, 0.5) ;font-size: 12px;color: #fff;border-radius: 14px;filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7f000000, endcolorstr=#7f000000);}
.slideBox .pageState span{font-size: 16px;}
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}

/*汽车详情图片轮播*/
#slideBox2{ width:800px; height:600px; overflow:hidden; position:relative; background: #fff  }
#slideBox2 .hd{  overflow:hidden; position:absolute; right:10px; bottom:10px; z-index:1; }

/* 前/后按钮*/
.slideBox .prev,.slideBox .next{display: none;}
.slideBox:hover .prev{display: block;}
.slideBox:hover .next{display: block;}
.slideBox .prev{width: 42px;height: 84px;background: rgba(0, 0, 0, 0.7);position: absolute;left: 0; top: 50%;margin-top: -42px;filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#b2000000, endcolorstr=#b2000000);}
.slideBox .prev:after{content: "";display: block;width: 100%;height: 100%;background: url(../images/slide_prev.png) no-repeat 12px center;}
.slideBox .next{width: 42px;height: 84px;background: rgba(0, 0, 0, 0.7);position: absolute;right: 0;top: 50%;margin-top: -42px;filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#b2000000, endcolorstr=#b2000000);}
.slideBox .next:after{content: "";display: block;width: 100%; height: 100%;background: url(../images/slide_next.png) no-repeat 16px center;}


/*车源列表*/
.list-tit{font-size: 24px;color: #333;margin-top: 50px;}
.list-tit.spe-tit{margin-top: 56px;}
.list-tit:before{content: '';display: inline-block;width: 4px;height: 28px;background: #FB5845;margin-right: 7px;margin-top: -3px;vertical-align: middle;}

.list_left .list_ul li{margin-right: 13px;width: 290px;background: #fff;float: left;position: relative;border: 1px solid #eee; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;margin-top: 20px;transition: all .3s;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;}
.list_left .list_ul li:nth-child(4n){margin-right: 0}
.list_left .list_ul li:hover{box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-moz-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-webkit-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-ms-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);border: 1px solid #fff;transform: translate3d(0,-8px,0);-o-transform: translate3d(0,-8px,0);-webkit-transform: translate3d(0,-8px,0);transform: -moz-translate3d(0,-8px,0);}
/*新车 准新车*/
.icon_img{position: absolute;top: 10px;left: 10px;z-index: 2 }
.icon_img span{display: inline-block;}
.icon_img span.new{width: 34px;height: 17px;background: url(../images/new-icon.png) no-repeat;background-size: 34px 17px;margin-right: 3px;}
.icon_img span.z_new{width: 43px;height: 17px;background: url(../images/hot-icon.png) no-repeat;background-size: 43px 17px;}
/*急售*/
.icon_img2{position: absolute;top: -4px;right: 0;z-index: 2 }
.icon_img2 span{display: inline-block;}
.icon_img2 span.hot_tag{width: 43px;height: 30px;background: url(../images/tag.png) no-repeat;background-size: 43px 30px;}

.list_left .top_img{position: relative;width:288px;height: 216px;overflow: hidden;}
.list_left .top_img img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.list_left .car_info{padding: 10px 15px 15px;}
.list_left .car_info .car_name{font-size: 14px;color: #28292B;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.list_left .car_info .by_time{font-size: 14px;color: #A6A6A6;margin-top: 5px;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.list_left .car_info .by_time em{margin-right: 9px;margin-left: 9px;}
.list_left .car_info .car_price {margin-top: 10px;}
.list_left .car_info .car_price span{font-size: 26px;color: #FF653B;display: inline-block;vertical-align: top}
.list_left .car_info .car_price em{font-size: 12px;color: #5E94FF;display: inline-block;background: #F2F6FF;padding: 0 6px 1px;margin-left: 9px;border: 1px solid #5E94FF;vertical-align: top;margin-top: 10px;}

.s_more{width: 170px;height: 46px;border: 1px solid #d4d4d4;line-height: 46px;text-align: center;font-size: 16px;color: #999;margin: 20px auto 0;border-radius: 3px;}
.s_more a{color: #999;display: block;}
.s_more s{display: inline-block;width: 17px;height: 17px;background: url(../images/s_more.png) no-repeat;background-size: 17px 17px;vertical-align: middle;margin-top: -4px;margin-left: 7px;}
.s_more:hover {border: 1px solid #fb5845;}
.s_more:hover a{color: #fb5845;}
.s_more:hover s{background: url(../images/s_active.png) no-repeat;background-size: 17px 17px;}

/*售车顾问*/


.adviser-list li{background: #F8F8F8;position: relative;margin-top: 20px;float: left;margin-right: 20px;border: 1px solid #eee;}
.adviser-list li:nth-child(2n){margin-right: 0}
.adviser-list li:hover{box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-moz-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-webkit-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-ms-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);}
.adviser-list li a{display: block;width: 588px;height: 110px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;padding: 16px;}
.adviser-list li .user-img{float:left;width: 80px;height: 80px;overflow: hidden;border-radius: 10px;}
.adviser-list li .user-img img{width: 100%;height: 100%;}
.adviser-list li .info{float: left;margin-left: 13px;}
.adviser-list li .info .name{font-size: 18px;margin-top: 10px;}
.adviser-list li .info .name span{color: #5e94ff;font-size: 12px;border-radius: 2px;text-align: center;border: 1px solid #5e94ff;padding: 2px 8px;margin-left: 10px}
.adviser-list li .info .num{font-size: 14px;color: #a6a6a6;margin-top: 12px;}
.adviser-list li .info .num em{margin-right: 8px;margin-left: 8px;}
.adviser-list li .tel{float: right;padding: 0 10px;background:#FB5845 ;position: relative;color: #fff;height: 48px;line-height: 48px;border-radius: 6px;border:1px solid #FB5845;font-size: 18px;text-align: center;cursor: pointer;margin-top: 16px;}
.adviser-list li .tel a{color: #fff}
.adviser-list li .tel .seePhone{color: #fff;position: relative;z-index: 2}
.adviser-list li .tel i{display: inline-block;width: 25px;height: 25px;vertical-align: middle;vertical-align: middle;margin-top: -3px;background: url(../images/phone.png) no-repeat;background-size: 25px;}

.adviser-list li .tel2:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#19000000, endcolorstr=#19000000);border-radius: 6px;}


/*预约弹窗*/
.order_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 9999;display: none;}
.order_container{position: fixed; left: 50%; margin-left: -245px; top: 50%; margin-top: -140px; width: 490px;   box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;background-color:#fff;  padding: 30px;padding-bottom: 47px; z-index: 9999; border-radius: 14px;}
.order_container .close_alert{width: 16px;height: 16px;position: absolute;right: -36px;top: 0;cursor: pointer;}
.order_container p.t1{font-size: 24px;color: #333;text-align: left;}
.order_container p.t2{font-size: 14px;color: #999;text-align: left;margin-top: 10px;}
.order_container form{margin-top: 35px;}
.order_container form input{display: block;width: 100%;height: 60px;border-radius: 6px;line-height: 60px;margin:0 auto;padding-left: 20px;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;font-size: 16px;background: #f4f4f4;border: none}
.order_container form input::placeholder{color: #999}
.order_container form input::-moz-placeholder{color:#999;}              　　
.order_container form input::-webkit-input-placeholder{color:#999;}       
.order_container form input::-ms-input-placeholder{color:#999;}  

.order_container ul{margin-top: 20px;}
.order_container ul li{width: 206px;height: 48px;border: 1px solid #FB5845;font-size: 18px;text-align: center;line-height: 48px;border-radius: 3px;cursor: pointer;}
.order_container ul li.cancel{background: #fff;color: #FB5845}
.order_container ul li.order_submit{background: #FB5845;color: #fff}
.order_container ul li.cancel:hover{background: #fff6f6;}


/*买车详情*/
/*车源信息*/
/*新车 准新车*/
.info_right{    position: absolute;top:263px;width: 360px;padding: 20px 15px;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.08);-moz-box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.08);-webkit-box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.08);-ms-box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.08);-o-box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.08);float: left;margin-left: 840px;background: #fff;z-index: 3}

.info_right.fixed{position: fixed;top:153px;}
.info_right.sticky{position: -webkit-sticky;
    position: sticky;top:263px;margin-left: 40px;}
.tit span{display: inline-block;}
.tit span.tit_text{display: inline;}
.tit span.new{width: 34px;height: 17px;background: url(../images/new-icon.png) no-repeat;background-size: 34px 17px;margin-left: 3px;}
.tit span.z_new{width: 43px;height: 17px;background: url(../images/hot-icon.png) no-repeat;background-size: 43px 17px;}

.source-info .tit{font-size: 26px;color: #28292B}
.source-info .pr_div{margin-top: 30px;}
.source-info .pr_div .btn_group {padding-top: 8px}
.source-info .price{font-size: 36px;color: #FF653B;max-width: 230px}
.source-info .others{font-size: 14px;color: #999}

/*车辆详情*/
.source-detail{background: #fff;margin:30px auto;}


.source-detail .source-detail-tag li{float: left;width: 33.3%;text-align: center;position: relative;}
.source-detail .source-detail-tag li:after{content: "";display: inline-block;width: 1px;height: 43px;background: #dedede;position: absolute;top: 3px;left: 0;}
.source-detail .source-detail-tag li:first-child:after{display: none;}
.source-detail .source-detail-tag li p{font-size: 18px;color: #333;}
.source-detail .source-detail-tag li span{font-size: 12px;color: #a6a6a6;padding-top: 10px;}

.car_source{padding: 17px;background: #F8F8F8}
.car_source .left_img{width:80px;height:80px;border-radius:40px;float: left;position: relative;overflow: hidden;}
.car_source .left_img img{width: 100%;height: 100%;border-radius:40px;}
.car_source .left_info{float: left;margin-left: 16px;}
.car_source .left_info .store_tit a{font-size: 18px;max-width:148px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: inline-block;}
.car_source .left_info .store_tit a:hover{color:#FB5845 }
.car_source .left_info .store_tit i{display: inline-block;width: 20px;height: 22px;margin-left: 6px;vertical-align: top}
.car_source .left_info .store_tit i.icon_ying{background: url(../images/ying.png) no-repeat;background-size: 20px 22px;}
.car_source .left_info .store_tit i.icon_bao{background: url(../images/bao.png) no-repeat;background-size: 20px 22px;}
.car_source .left_info .store_place{color: #A6A6A6;max-width: 198px;font-size: 14px;}
.car_source .left_info .store_place span{}
.car_source .left_info .store_place .see_map{color: #5E94FF;display: inline-block;margin-left: 6px}
.car_source .left_info .store_place .see_map:hover{color: #FB5845}
.car_source .store_in{width: 100%;background: #fff;height: 46px;line-height: 46px;text-align: center;margin-top: 20px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;border:1px solid #FB5845;border-radius: 4px;
}
.car_source .store_in a{font-size: 16px;color: #FB5845;display: block;}
.car_source .store_in:hover{background: #FB5845;}
.car_source .store_in:hover a{color: #fff}

.car_person .left_info .per_name{font-size: 18px;margin-top: 8px;}
.car_person .left_info .per_info{margin-top: 8px;}
.car_person .left_info .per_info span{display: inline-block;padding: 4px 8px;font-size: 14px;border-radius: 2px;max-width: 90px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.car_person .left_info .per_info span.vehicle{background: #FFF4E8;color: #EB9D69;margin-right: 10px;}
.car_person .left_info .per_info span.license{background: #E8FAE9;color: #81BF87}


.info_right .l_phone{width: 245px;background:#FB5845 ;position: relative;height: 50px;line-height: 50px;border-radius: 6px;font-size: 16px;text-align: center;cursor: pointer;color: #fff;}
.info_right .l_phone a{color: #fff;display: block;position: relative;z-index: 2}
.info_right .l_phone i{display: inline-block;width: 25px;height: 25px;vertical-align: middle;vertical-align: middle;margin-top: -3px;background: url(../images/phone.png) no-repeat;background-size: 25px;margin-right: 10px;}
.info_right .l_phone .seePhone{color: #fff;position: relative;z-index: 2}
.info_right .contact{display: inline-block;width: 76px;height: 52px;cursor: pointer;border: 1px solid #fff;position: relative;border-radius: 6px;}
.info_right .contact img{width:56px;height:35px;position:absolute;top:0;left:0;right:0;bottom:0;display: block;margin:auto;}

.info_right .contact:hover{box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);-moz-box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);
-webkit-box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);
-ms-box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);border: 1px solid #E6E6ED}


.car-contact{margin-top: 20px;}

.car_wrap2{width: 800px;margin-top: 20px;}
/*基本信息切换*/
.car_tab{border-bottom: 1px solid #eee;background: #fff}
.car_tab li{color: #333;font-size: 18px;float: left;margin-right: 60px;position: relative;padding: 18px 0}
.car_tab li a{color:  #333;display: inline-block;}
.car_tab li.active:after{content: '';width:74px;height:3px;background:#FB5845;position: absolute;bottom: 1px;left: 50%;margin-left: -37px;}
.car_tab.fixed {position:fixed;left:auto;right:auto;width:800px;top: 150px;z-index: 2;box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.04);}
.car_tab.sticky{position: -webkit-sticky;
    position: sticky;
    top: 150px;z-index: 2;}
.car_con .list-tit{margin-top: 0;}
.car_con{margin-top: 50px;}
.car_con .car-spe{margin-top: 30px;}

.basic{margin-top: 8px;}
.basic ul li{float: left;width:266px;font-size: 14px;margin-top: 20px;}
.basic ul li span{display: inline-block;}
.basic ul li span:first-child{color: #a6a6a6;margin-right: 20px;width: 125px;text-align: right}
.basic ul li span:first-child+span{max-width: 118px;vertical-align: top;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.description-text{font-size: 16px;color: #5A5B5E;line-height: 36px;margin-top: 18px;}

.photos{margin-top: 28px;}
.photos .img_list{width: 395px;height: 293px;overflow: hidden;position: relative;float: left;margin-right: 9px;margin-bottom: 10px;}
.photos .img_list:nth-child(2n){margin-right: 0}
.photos .img_list img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}


.detailcontent{margin-top: 30px;}
.detailcontent table {width:393px;border:1px solid #f0f0f0;color:#495056;text-align:center;float:left;margin-left:10px;margin-bottom:20px}
.detailcontent table.one {margin-left:0}
.detailcontent .param-table th {text-align:center;}
.detailcontent .param-table td,.detailcontent .param-table th {border:1px solid #ececec;height:38px;line-height:16px;font-size:12px}
.detailcontent .param-table td .icon-yellow-error {position:relative;margin-left:5px}
.detailcontent .param-table td.td1 {padding:0 0 0 25px;width:42%}
.detailcontent .param-table th {background-color:#f5f5f5;font-size:16px;font-weight:100}
.detailcontent .param-table tr:nth-child(odd) {background-color:#fdfdfd}
.detailcontent .text-ins {text-align:center;display:block;height:53px;line-height:53px;color:#a5abb2;width:100%;float:left}

.icon-yellow-error {display:inline-block;vertical-align:middle;position:relative;margin-left:5px;background-position:0 -10px;width:15px;height:15px;margin-top:-3px;cursor:pointer;background-image:url(../images/icon-detail.png);display:inline-block;background-repeat:no-repeat;}
.icon-yellow-error.active .layer-tip-yellow-bottom{    display: inline-block;vertical-align: middle;}
.layer-tip-yellow-bottom {position:absolute;border:1px solid #fece36;background-color:#fffbeb;padding:10px;text-align:left;display:none;font-size:14px;color:#495056;line-height:24px}
.layer-tip-yellow-bottom {top:23px;left:-62px;width:278px}
.layer-tip-yellow-bottom .icon-small-sanjiao {background-position:0 -2px;height:5px;top:-5px;left:62px;    background-image: url(../images/icon-detail.png);display: inline-block;background-repeat: no-repeat;}

/*资讯详情*/

.news_left{width: 795px;padding-bottom: 10px;}
.news_left .news_top{text-align: center;padding-bottom: 30px;border-bottom: 1px dashed #DDDDDD;margin-top: 20px;margin-bottom: 30px;}
.newsdet_wrap .news_left .news-tit{font-size: 28px;font-weight: bold;color: #333}
.newsdet_wrap .news_left .content{font-size: 16px;line-height: 30px;}
.newsdet_wrap .news_left .content img{max-width:100%;}
.news_left .see-info{margin-top: 20px;font-size: 12px;color: #A6A6A6;}
.news_left .see-info span{margin-right: 28px;}
.see-info i{display: inline-block;width: 20px;height: 20px;margin-right: 4px;background: url(../images/icon2.png) no-repeat;vertical-align: middle;
    margin-top: -3px;}
.see-info .new-sour i{background-position: 0 0px}
.see-info .see-num i{background-position: 0 -20px}
.see-info .pubday i{background-position: 0 -40px}
/*列表右*/
.news_right{width: 366px;}
.news_right .newr_tit{font-size: 18px;color: #333;}
.news_right .newr_tit:before{content: '';display: inline-block;width: 4px;height: 18px;background: #FB5845;margin-right: 7px;margin-top: -3px;vertical-align: middle;}

.news_right li{position: relative;margin-top: 20px;}
.news_right .img-box{position: relative;width:140px;height: 90px;overflow: hidden;float: left;margin-right: 14px}
.news_right .img-box img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.news_right .info .see-info span{margin-right: 20px;}
.news_right .info .h4_tit a{font-size: 14px;color: #333;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.news_right .info .see-info{font-size: 12px;color: #A6A6A6;margin-top: 20px;}
.news_right .info .h4_tit a:hover{color: #FB5845}