.fixedwrap {height: 148px;margin: 10px 0 15px; position: relative; z-index: 10;}


/*广告位*/
.ad-con{width: 1200px;margin:0 auto 7px;position: relative; z-index: 5;}
.ad-con a, .ad-con img {display: block;}
.ad-con1{margin-top: 40px;}

/*banner*/
.mainbox{width:100%;padding-bottom: 30px;}
.mainbox .slideBox {height:500px;overflow:hidden;position: relative;width:100%}
.mainbox .slideBox .slideobj {height:500px;}
.mainbox .slideBox img {width:100%;height:500px;}
.mainbox .slideBox .hd{text-align:center;position:absolute;height:14px;line-height:14px;bottom:63px;left:0;right:0;}
.mainbox .slideBox .hd ul{height: 14px;position:relative;display:inline;}
.mainbox .slideBox .hd ul li{display:inline-block;width: 20px;height: 4px;margin: 0 5px;cursor: pointer;background:#fff;}
.mainbox .slideBox .hd ul li.on{background:#FF653B;}

.slideBox1 .prev,.slideBox1 .next{display: none}
.slideBox1:hover .prev{display: block;}
.slideBox1:hover .next{display: block;}
.slideBox1 .prev{width: 50px;height: 100px;background: rgba(0, 0, 0, 0.37);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#4c000000, endcolorstr=#4c000000);position: absolute;left: 0; top: 50%;margin-top: -50px}
.slideBox1 .prev:after{content: "";display: block;width: 100%;height: 100%;background: url(../images/slide_prev.png) no-repeat 13px center;}
.slideBox1 .next{width: 50px;height: 100px;background: rgba(0, 0, 0, 0.37);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#4c000000, endcolorstr=#4c000000);position: absolute;right: 0;top: 50%;margin-top: -50px;}
.slideBox1 .next:after{content: "";display: block;width: 100%; height: 100%;background: url(../images/slide_next.png) no-repeat 18px center;}


/**/
.wrap1{padding: 30px 0;position: relative;z-index: 9;background: #fff;margin-top: -50px;box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-webkit-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-moz-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-ms-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);}
.wrap1 .wrap1_tit{font-size: 20px;color: #333;}
.wrap1 .wrap1_left{float: left;width: 694px;}
.wrap1 .wrap1_left ul li{text-align: center;font-size: 14px;float: left;width: 12.5%}
.wrap1 .wrap1_left .wrap1_tit{padding-left: 30px;}
.wrap1 .left_con{padding-left: 10px;margin-top: 40px;}

.wrap1 .bread_text{display: inline-block;margin-top: 8px;}
.wrap1 .bread_text:hover{color:#fb5845 }
.wrap1 .car-brand .brand_icon{display: block;width: 46px;height: 46px;overflow: hidden;position: relative;margin: 0 auto}
.wrap1 .car-brand .brand_icon img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.wrap1 .car-type .brand_icon{display: block;width: 62px;height: 30px;overflow: hidden;position: relative;margin: 0 auto}
.wrap1 .car-type .brand_icon img{max-width:100%;max-height:100%;height: auto;position:absolute;left:0;right:0;bottom:0;margin:0 auto;display: block;}
.wrap1 .car-price{margin-top: 40px;margin-bottom:30px; }
.wrap1 .car-price a:hover{color:#fb5845 }
.wrap1 .wrap1_right{float: right;margin-right: 30px;}
.wrap1 .right_con{margin-top: 36px;}
.wrap1 .right_con input{width:430px;height:60px;background:#F4F4F4;border-radius:6px;line-height: 60px;font-size: 16px;border: none; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;padding-left: 20px;padding-right: 25px;cursor: pointer;}
.wrap1 .right_con .type{position: relative;}
.wrap1 .right_con .type i{position: absolute;top: 25px;right: 25px;display: inline-block;width: 17px;height: 9px;background: url(../images/arrow-down.png) no-repeat;background-size: 17px 9px;}
.wrap1 .right_con .type.active i{background: url(../images/arrow-up.png) no-repeat;background-size: 17px 9px;}
.wrap1 .right_con input::placeholder{color: #999999}
.wrap1 .right_con input::-moz-placeholder{color:#999999;}              　　/*ff*/
.wrap1 .right_con input::-webkit-input-placeholder{color:#999999;}       /*chrome,safari*/
.wrap1 .right_con input::-ms-input-placeholder{color:#999999;}             /*ie10*/
.wrap1 .right_con .phone{margin-top: 20px;position: relative;}

.wrap1 .right_con .type.active #type{border: 1px solid #fb5845;border-bottom: none;border-radius: 6px 6px 0 0}
.aside{display: none;}

.right_con .aside{position: absolute;top: 60px;left: 0;border: 1px solid #fb5845;background: #fff;z-index: 11}
.right_con .aside .aside-main{overflow: auto;font-size: 14px;color: #333;height: 418px;width: 428px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;padding-right: 25px;padding-left: 10px;}
.right_con .aside .aside-main h3{width: 375px;height: 22px;background: #f8f8f8; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;padding-left: 10px;margin-top: 15px;color: #999}
.aside-main .list-hot{margin-left: 10px;}
.aside-main .list-hot li{float: left;margin-right: 25px;margin-top: 14px;}
.aside-main .list-hot li:hover a{cursor: pointer;color:#fb5845 }
.aside-main .list-line li{width: 375px;height: 22px;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;padding-left: 10px;margin-top: 10px;}
.aside-main .list-line li:hover{background: #fb5845;cursor: pointer;color: #fff}
.block-brand .jump-tag{position: absolute;top: 27px;right: 25px;display: inline-block;color: #999;font-size: 12px;height: 84%;}
.block-brand .jump-tag .jump-li{display: block;text-align: center;height: 20px;}
.block-brand .jump-tag .jump-li a{color: #999;}
.block-brand .jump-tag .jump-li.active a{color:#fb5845 }
.aside-main li{cursor: pointer;}

.wrap1 .right_con .submit{margin-top: 20px;font-size: 0}
.wrap1 .right_con .submit a{display: inline-block;width: 204px;height: 58px;border: 1px solid #FB5845;text-align: center;font-size: 18px;vertical-align: top;border-radius: 6px;position: relative;}
.wrap1 .right_con .submit a.sell_car{background:#FB5845; line-height: 58px;color: #fff;margin-right: 18px;}
.wrap1 .right_con .submit a.sell_ca span{color: #fff;position: relative;z-index: 2}
.wrap1 .right_con .submit a.per_car{background: #fff;}
.wrap1 .right_con .submit a.per_car span{display: block;}
.per_car span.per{color: #FB5845; margin-top: 8px;}
.per_car span.per-tip{color: #999;font-size: 12px; }
.wrap1 .right_con .submit a.sell_car:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#19000000, endcolorstr=#19000000);border-radius: 6px;}
.wrap1 .right_con .submit a.per_car:hover{background: #fdf6f5}


/*推荐车型*/
.mainbox2{background: #F4F4F4;padding-top: 40px;padding-bottom: 30px;}
.mainbox2 .com_type{margin-bottom: 30px;}
.wrap2_l{float: left;width: 230px;height: 290px;background: url(../images/bg1.png) no-repeat;background-size: 230px 290px;color: #fff;text-align: center;position: relative;}
.wrap2_l.left2{background: url(../images/bg2.png) no-repeat;background-size: 230px 290px;}
.wrap2_l.left3{background: url(../images/bg3.png) no-repeat;background-size: 230px 290px;}
.wrap2_l .left_h1{font-size: 30px;font-weight: bold;margin-top: 25px;}
.wrap2_l .left_p{font-size: 16px;margin-top: 5px;}
.wrap2_l .see_more{font-size: 14px;color: #fff;position: absolute;bottom: 27px;left: 0;right: 0}
.wrap2_r{float: left;}
.wrap2_r ul li{margin-left: 13px;width: 230px;background: #fff;float: left;position: relative;transition: all .3s;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;}
.wrap2_r ul li:first-child{margin-left: 10px;}
.wrap2_r ul li:hover{box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-moz-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-webkit-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-ms-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);transform: translate3d(0,-8px,0);-o-transform: translate3d(0,-8px,0);-webkit-transform: translate3d(0,-8px,0);transform: -moz-translate3d(0,-8px,0);}
.icon_img{position: absolute;top: 10px;left: 10px;z-index: 2 }
.icon_img span{display: inline-block;}
.icon_img span.new{width: 34px;height: 17px;background: url(../images/new-icon.png) no-repeat;background-size: 34px 17px;margin-right: 3px;}
.icon_img span.z_new{width: 43px;height: 17px;background: url(../images/hot-icon.png) no-repeat;background-size: 43px 17px;}
/*急售*/
.icon_img2{position: absolute;top: -4px;right: 0;z-index: 2 }
.icon_img2 span{display: inline-block;}
.icon_img2 span.hot_tag{width: 43px;height: 30px;background: url(../images/tag.png) no-repeat;background-size: 43px 30px;}

.wrap2_r .top_img{position: relative;width:230px;height: 172px;overflow: hidden;}
.wrap2_r .top_img img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.wrap2_r .car_info{padding: 10px 15px 15px;}
.wrap2_r .car_info .car_name{font-size: 14px;color: #28292B;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.wrap2_r .car_info .by_time{font-size: 14px;color: #A6A6A6;margin-top: 5px;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.wrap2_r .car_info .by_time em{margin-right: 9px;margin-left: 9px;}
.wrap2_r .car_info .car_price {margin-top: 10px;}
.wrap2_r .car_info .car_price span{font-size: 26px;color: #FF653B;display: inline-block;vertical-align: top;max-width: 120px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.wrap2_r .car_info .car_price em{font-size: 12px;color: #5E94FF;display: inline-block;background: #F2F6FF;padding: 0 6px 1px;margin-left: 9px;border: 1px solid #5E94FF;vertical-align: top;margin-top: 10px;max-width: 76px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

/*线下门店*/ 
.mainbox3{background: #fff;padding-top: 40px;padding-bottom: 55px;}
 .h1_tit{text-align: center;font-size: 30px;font-weight: bold;color: #333;}
 .h2_tit{text-align: center;font-size: 18px;color: #999;margin-bottom: 10px;}
.wrap3 ul li{float: left;margin-right: 13px;width: 290px; margin-bottom: 25px;margin-top: 25px;border: 1px solid #eee; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;padding-bottom: 15px;transition: all .3s;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;}
.wrap3 ul li:hover{box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-moz-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-webkit-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-ms-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);transform: translate3d(0,-8px,0);-o-transform: translate3d(0,-8px,0);-webkit-transform: translate3d(0,-8px,0);transform: -moz-translate3d(0,-8px,0);}
.wrap3 ul li:nth-child(4n){margin-right: 0}
.wrap3 .imgbox{position: relative;width:290px;height: 193px;overflow: hidden;position: relative;}
.wrap3 .imgbox img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.wrap3 .imgbox span{display: inline-block;padding: 6px 10px;position: absolute;left: 10px;bottom: 10px;color: #fff;font-size: 12px;background:rgba(0,0,0,.5);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7f000000, endcolorstr=#7f000000);}
.wrap3 .h4_tit{font-size: 16px;color: #28292B;margin-top: 20px;padding-left: 15px;}
.wrap3 .h4_tit:hover{color: #fb5845}
.wrap3 .num{font-size: 14px;color: #A6A6A6;margin-top: 5px;padding-left: 15px;}
.s_more{width: 170px;height: 46px;border: 1px solid #d4d4d4;line-height: 46px;text-align: center;font-size: 16px;color: #999;margin: 5px auto 0;border-radius: 3px;}
.s_more a{color: #999;display: block;}
.s_more s{display: inline-block;width: 17px;height: 17px;background: url(../images/s_more.png) no-repeat;background-size: 17px 17px;vertical-align: middle;margin-top: -4px;margin-left: 7px;}
.s_more:hover {border: 1px solid #fb5845;}
.s_more:hover a{color: #fb5845;}
.s_more:hover s{background: url(../images/s_active.png) no-repeat;background-size: 17px 17px;}

/*个人好车*/ 
.mainbox4{background: #F4F4F4;padding-top: 50px;padding-bottom: 40px;}
.mainbox4 .h2_tit{margin-bottom: 36px;}
.wrap4 ul li{margin-right: 13px;width: 290px;background: #fff;float: left;position: relative;margin-bottom: 30px;transition: all .3s;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;}
.wrap4 ul li:nth-child(4n){margin-right: 0}
.wrap4 ul li:hover{box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-moz-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-webkit-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-ms-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);transform: translate3d(0,-8px,0);-o-transform: translate3d(0,-8px,0);-webkit-transform: translate3d(0,-8px,0);transform: -moz-translate3d(0,-8px,0);}
.wrap4 .top_img{position: relative;width:290px;height: 216px;overflow: hidden;}
.wrap4 .top_img img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.wrap4 .car_info{padding: 13px 15px 20px;}
.wrap4 .car_info .car_name{font-size: 14px;color: #28292B;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.wrap4 .car_info .car_name:hover{color:#fb5845 }
.wrap4 .car_info .by_time{font-size: 14px;color: #A6A6A6;margin-top: 10px;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.wrap4 .car_info .by_time em{margin-right: 9px;margin-left: 9px;}
.wrap4 .car_info .car_price {margin-top: 15px;}
.wrap4 .car_info .car_price span{font-size: 26px;color: #FF653B;display: inline-block;vertical-align: top}
.wrap4 .car_info .car_price em{font-size: 12px;color: #5E94FF;display: inline-block;background: #F2F6FF;padding: 0 6px 1px;margin-left: 9px;border: 1px solid #5E94FF;vertical-align: top;margin-top: 10px;}

/*资讯*/ 
.mainbox5{background: #fff;padding-top: 40px;padding-bottom: 55px;} 
.mainbox5 .h2_tit{margin-bottom: 34px;}
.fir_l_top{width: 520px;height: 340px;background: #919191;overflow: hidden;float: left;}   
.fir_l_top .slideBox{width: 520px;height:340px;position: relative;}
.fir_l_top .slideBox .hd {height: 15px;position: absolute;left:0;bottom:4px;width:100%;text-align:right;z-index: 1;padding-right: 15px;box-sizing: border-box;}
.fir_l_top .slideBox .hd ul li {display:inline-block;width: 8px;height: 8px;border-radius:50%;background:rgba(255,255,255,0.3);cursor: pointer;margin: 0 6px 38px 2px;}
.fir_l_top .slideBox .hd ul li.on {background:#fff;}
.fir_l_top .slideBox .hd ul {overflow: hidden;}
.fir_l_top .slideBox .bd ul {height: 340px;overflow: hidden;}
.fir_l_top .slideBox .bd li {float: left;zoom: 1;vertical-align: middle;}
.fir_l_top .slideBox .bd li img{width: 520px;height: 340px;}
.fir_l_top .slideBox .bd img{width: 520px;height: 340px;}

.fir_l_top .bd .slideshow-item{position: relative;}
.fir_l_top .bd .slideshow-item .slideinfo{   position: absolute;bottom: 0px;left: 0; right: 0;padding: 18px 80px 18px 25px;font-size: 16px;text-align: justify;background: rgba(0,0,0,0.6);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99000000, endcolorstr=#99000000);}
.fir_l_top .slideshow-item .slideinfo h3 a{color:#fff;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: block;max-width: 410px;}

.fir_l_top .slideBox .bd li span {display: none;}
.fir_l_top .prev,.fir_l_top .next{display: none}
.fir_l_top .slideBox:hover .prev{display: block;}
.fir_l_top .slideBox:hover .next{display: block;}
.fir_l_top .prev{width: 30px;height: 60px;background: rgba(0, 0, 0, 0.37);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#4c000000, endcolorstr=#4c000000);position: absolute;left: 0; top: 50%;border-radius: 0 30px 30px 0;margin-top: -30px}
.fir_l_top .prev:after{content: "";display: block;width: 100%;height: 100%;background: url(../images/prev.png) no-repeat 6px center;}
.fir_l_top .next{width: 30px;height: 60px;background: rgba(0, 0, 0, 0.37);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#4c000000, endcolorstr=#4c000000);position: absolute;right: 0;top: 50%;border-radius: 30px 0 0 30px;margin-top: -30px;}
.fir_l_top .next:after{content: "";display: block;width: 100%; height: 100%;background: url(../images/next.png) no-repeat 15px center;}
 


.wrap5 .adv_r{float: left;width: 250px;margin-left: 14px;}
.wrap5 .adv_r li{width: 250px;height: 163px;position: relative;}
.wrap5 .adv_r li:first-child{margin-bottom: 14px}
.wrap5 .adv_r li .adv_img{width: 250px;height: 163px;overflow: hidden;position: relative;}
.wrap5 .adv_r li img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.wrap5 .adv_r li .adv_p{background: rgba(0,0,0,0.6);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99000000, endcolorstr=#99000000);font-size: 16px;color: #fff;position: absolute;bottom: 0;left: 0;right: 0;padding: 12px 20px;text-align: center;max-width: 210px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}

.wrap5 .con_r{float: left;margin-left: 43px;}
.wrap5 .con_r li{font-size: 16px;line-height: 48px;}
.wrap5 .con_r li a{color: #666;display: block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;max-width: 373px;}
.wrap5 .con_r li em{display: inline-block;margin-right: 6px;color: #D0D0D0;}
.wrap5 .con_r li:hover a{color: #FB5845}
.mainbox5 .s_more{margin-top: 30px;}

/*国际手机号*/

#fabuForm .inpbdr{height: 60px;line-height: 60px;width: 430px;position: relative}
#fabuForm .inpbdr .areaCode{width: 70px;text-indent: 22px; font-size: 14px;text-align: left;z-index: 10;top: 1px;left: 1px;bottom: 1px;background: #F4F4F4}
#fabuForm .inpbdr .areaCode s{right: 8px}
#fabuForm .inpbdr input#phone{border: none;padding-left: 90px;width: 100%;margin-left: 0}
#fabuForm .areaCode_wrap{top: 60px;width: 100%}