.main_wrap{background: #fff}
.ad-con1{margin-top: 10px;}
/*关键字*/
.filter-item {display: none;float: left; line-height: 28px; height: 28px; padding: 0 15px; background-color: #f0f2f7;margin-left: 18px; color: #6f7178;border-radius: 14px;font-size: 15px;}
.filter-item em{color:#fd4939;}

.filter-item .close {color: #6f7178; margin-left: 7px; font-weight:bold;font-family: "\5b8b\4f53", "Microsoft YaHei", Arial; margin-top: 2px;display: block;float: right;}
.filter-item:hover{color: #6f7178;}


/* 筛选 */
.filter_box{background: #fff;border: 1px solid #EEEEEE}
.filter {position: relative; border-radius: 5px; font-size: 14px;}
.filter dl{border-bottom: 1px solid #eee; background: #f8f8f8}
.filter dl:last-child{border-bottom: none}
.filter dt {float: left;width: 70px;line-height:46px;text-align: center; font-size:14px;color:#999;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}

.filter dd {margin-left: 70px; padding: 12px 0 0 0;overflow: hidden;line-height: 24px;position: relative; background-color: #fff;padding-left: 20px;}
.filter dd a {float: left; position: relative; margin-right: 12px;margin-bottom: 10px; font-size: 14px;padding: 0 5px;cursor: pointer;}
.filter dd a:hover {text-decoration: none; color: #fff;background: #FB5845}
.filter dl dd a.curr{ color: #fff;background: #FB5845}
.filter dl dd a:hover.curr {text-decoration: none;}

/*价格*/
.filter .inpbox{float: left;}
.filter .inpbox  .input-div{display: inline-block;position: relative;}
.filter .inpbox span{display: inline-block;position: absolute;right: 12px}
.filter .inpbox .p1, .filter .inpbox .p2 {width: 70px; padding: 0 4px; height: 28px; border: solid 1px #f0f2f7; line-height: 28px;  margin: -5px 4px;background: #fff;outline: none;}
.filter .inpbox .btn {width:50px;height: 30px; display: inline-block;text-align:center; background: #FB5845; color: #fff; margin-left:8px;vertical-align: top; line-height: 30px; cursor: pointer; white-space: nowrap; -webkit-background-clip: padding-box;-moz-background-clip: padding;  background-clip: padding-box; border: 0;font-size: 14px;outline: none;float: none;margin-top: -3px}

.filter .inpbox input.focus {border: 1px solid #bebfc4;}


.filter .subnav {clear: both; padding: 9px 0 0; background-color: #fff;}
.filter .subnav div {display: none;}
.filter .subnav .chooseClass.active{display: block!important;} 
.filter .subnav {border-radius: 3px;*position: relative;z-index: 0;margin-left: 0;border-top: 1px solid #eee;margin-left: -24px;padding-left: 24px;}


.filter .subnav a {display: inline-block;}
.filter .subnav a.curr{color: #fff;}
.sortbar .rowlist i,.sortbar .window i,.sortbar .tpage i,.pagination-pages a i,.pagination-pages span i{display:block;background-image: url(../images/listSprite.png);background-repeat: no-repeat; }

.list-hot li{float: left;}

/*更多筛选*/
.filter dl.more dd {overflow: visible;padding-top: 10px;}
.filter dl.more .item {float: left; position: relative; color:#3b3b3b; padding-left: 6px;padding-right: 11px;border: 1px solid #E5E5E5;margin-right: 10px;width: 76px;}
.filter dl.more .item.active{border: 1px solid #FB5845}
.filter dl.more .item.active ul{border: 1px solid #FB5845;border-top: none}
.filter dl.more .item.curr {color: #f1370b;}
.filter dl.more .item label {display: block; position: relative;  cursor: pointer;height: 26px;;line-height: 26px}
.filter dl.more .item label span{display: inline-block;max-width: 60px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.filter dl.more .item label span.cur{color:#f1370b;}
.filter dl.more .item.curr label {font-weight: 700;}
.filter dl.more .item.active label .idown {-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);margin-top: 0;}
.filter dl.more .item ul {display: none;padding:5px 0;position: absolute; top: 25px; left: -1px; right: -1px; background-color: #fff; -webkit-animation:topFadeIn .3s ease-out; -moz-animation:topFadeIn .3s ease-out; animation:topFadeIn .3s ease-out;z-index: 15;}
.filter dl.more .item ul a {display: block; float: none; height: 24px; line-height: 24px; font-size: 12px;padding:0; margin: 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;font-weight: normal;padding-left: 5px;}
.filter dl.more .item ul a:hover,.filter dl.more .item ul li.curr a{color:#fff;}
.idown{display: inline-block;width: 10px;height: 6px;background:  url(../images/idown.png) no-repeat center center;position: absolute;top: 10px;right: 0}


#fnav .f_more{cursor:pointer;font-size: 14px;color:#333;position: absolute;top: 11px; right: 0;padding:0 22px;z-index: 1; -webkit-transition: all .3s linear;-o-transition: all .3s linear;transition: all .3s linear;}
#fnav .f_more i{display: inline-block;width: 12px;height: 12px;background: url(../images/icon_shouqi.png) no-repeat center center;background-size:12px;margin-left:6px;transform: rotate(0);}
#fnav .f_more.curr i{transform: rotate(180deg);}
#fnav .item_box{height: 34px;overflow: hidden;padding-right: 100px;}
#fnav .item_box.on{height: auto;}

/*清空状态*/
.deletebox{background: #F8F8F8;}
.fi-state{display: none;border-top: 1px solid #eee}
.fi-state dt{width: 70px;height: 56px;line-height:56px;text-align: center;float: left;font-size: 14px;color:#999}
.fi-state dd{margin-left: 24px;float: left;    padding-top: 10px;max-width:85%;}
.fi-state dd a{padding-left:10px;height:24px;background: #fff;font-size: 14px;color:#333;position: relative;border: 1px solid #FFC4B9;display: inline-block;margin:5px 20px 10px 0;}
.fi-state dd a span{display: inline-block;height: 24px;line-height: 24px;margin-right: 9px;vertical-align: middle;}
.fi-state dd a i.idel{display: inline-block;width: 24px;height: 24px;background: #FFC4B9 url(../images/icon_del.png) no-repeat center center;background-size: 10px;vertical-align: middle;}
.fi-state .btn_clear{float: left;cursor: pointer;font-size: 14px;color:#666;line-height:57px;}
.fi-state .btn_clear:hover{color:#FB5845 }

/* 默认排序 切换 */
.sort{background:#F8F8F8 ;border: 1px solid #eee}
.sort ul {float: left; }
.sort li {float: left;  }
.sort li a {display: block;font-size: 14px;padding: 0 28px;height: 50px;line-height: 50px;}
.sort li.curr{background: #fff}
.sort li a:hover {color: #FB5845;}
.sort li.curr a {color: #FB5845;}
.sort .data-count{float: right;font-size: 14px;padding: 15px 20px;border-left: 1px solid #eee}
.sort .data-count span.data_num{color: #FB5845}

.sort2{background: #fff;border: 1px solid #eee;border-top: none;padding: 13px 0 12px; }
.sort2 .sort_ul{float: left;margin-left: 24px;margin-top: 3px;}
.sort2 .sort_ul li{float: left;padding-left: 24px;cursor: pointer;position: relative;margin-right: 40px;}
.sort2 .sort_ul li:before{content: '';width: 16px;height: 16px;border-radius: 2px;border: 1px solid #BFBFBF;display: inline-block;position: absolute;left: 0}
.sort2 .sort_ul li.active:before{content: '';border: 1px solid #FB5845;display: inline-block;background: #FB5845 url(../images/checked.png) no-repeat center center;background-size: 10px 8px; }

.sort2 .views{float: right;margin-right: 20px;}
.sort2 .prev, .sort2 .next {position: relative; float: left; width: 22px; height: 22px; overflow: hidden;text-align: center;line-height: 22px;}
.sort2 .prev{background: #fff;border: 1px solid #FB5845;border-radius:3px 0px 0px 3px;}
.sort2 .next{background: #fff;border: 1px solid #FB5845;border-radius:0px 3px 3px 0px;}
.sort2 .prev.disabled{background: #F8F8F8;border: 1px solid #eee;border-radius:3px 0px 0px 3px;}
.sort2 .next.disabled{background: #F8F8F8;border: 1px solid #eee;border-radius:0px 3px 3px 0px;}
.sort2 .atpage {float: left; padding: 3px 16px; font-size: 12px; color: #333;}
.sort2 .atpage em{color:#FB5845;}
.sort2 .atpage em#total{color:#333;}
.sort2 .tpage i{display: inline-block;width: 7px;height: 11px;background-size: 7px 11px;background:url(../images/arrow.png) no-repeat center center;}
.sort2 .tpage .prev i{background-position: -1px -25px;}
.sort2 .tpage .next i{background-position: -1px -36px;}
.sort2 .prev.disabled i{background-position: -1px -1px;}
.sort2 .next.disabled i{background-position: -1px -13px;}

/*列表右*/
.list_r{float: right;width: 220px}
.adv_r{width: 220px;overflow: hidden;margin-top: 20px;}   

/*热门经销商*/
.listr_con{margin-top: 30px;background: #fff}
.newr_tit{font-size: 18px;color: #333;}
.newr_tit:before{content: '';display: inline-block;width: 4px;height: 18px;background: #FB5845;margin-right: 7px;margin-top: -3px;vertical-align: middle;}

.listr_con ul li{margin-right: 13px;width: 220px; margin-top: 20px;border: 1px solid #eee;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.listr_con ul li:hover{box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-moz-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-webkit-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-ms-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);}
.listr_con ul li:first-child{margin-top: 14px;}
.listr_con .imgbox{position: relative;width:218px;height: 145px;overflow: hidden;position: relative;}
.listr_con .imgbox img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.listr_con .imgbox span{position: absolute;left: 10px;bottom: 10px;display: inline-block;padding: 5px 8px;color: #fff;font-size: 12px;background:rgba(0,0,0,.5);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7f000000, endcolorstr=#7f000000);}
.listr_con .r_info{padding: 14px;}
.listr_con .h4_tit{font-size: 14px;color: #333;}
.listr_con .h4_tit:hover{color: #FB5845}
.listr_con .num{font-size: 12px;color: #A6A6A6;margin-top: 3px;}

/*为您推荐*/
.listr_con1{margin-top: 30px;background: #fff}
.listr_con1 ul li{width: 220px;background: #fff;position: relative;margin-top: 20px;border: 1px solid #eee; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.listr_con1 ul li:hover{box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-moz-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-webkit-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-ms-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);}
.listr_con1 ul li:first-child{margin-top: 14px;}

.listr_con1 .top_img{position: relative;width:218px;height: 163px;overflow: hidden;}
.listr_con1 .top_img img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}

.listr_con1 .car_info{padding: 10px 15px 8px;}
.listr_con1 .car_info .car_name{font-size: 14px;color: #28292B;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.listr_con1 .car_info .car_name:hover{color: #FB5845} 
.listr_con1 .car_info .by_time{font-size: 14px;color: #A6A6A6;margin-top: 3px;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.listr_con1 .car_info .by_time em{margin-right: 9px;margin-left: 9px;}
.listr_con1 .car_info .car_price {margin-top: 5px;}
.listr_con1 .car_info .car_price span{font-size: 22px;color: #FF653B;display: inline-block;vertical-align: top;max-width: 80px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.listr_con1 .car_info .car_price em{font-size: 12px;color: #5E94FF;display: inline-block;background: #F2F6FF;padding: 0 6px 1px;margin-left: 9px;border: 1px solid #5E94FF;vertical-align: top;margin-top: 7px;max-width: 60px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}



/* 分页 */

.pagination-gotopage {float: right; margin-left: 15px;}
.pagination-gotopage label {float: left; line-height: 28px; margin-right: 8px;font-size: 14px;color: #5a5a5e;}
.pagination-pages {display: inline-block;}
.pagination-pages a, .pagination-pages span {float: left; min-width: 18px; height: 28px; padding: 0 5px; margin: 0 7px 0 0; text-align: center; line-height: 28px; font-size: 14px; cursor: pointer; color: #666; text-decoration: none;background-color:#fff;border-radius: 3px;border: 1px solid #D9D9D9}
.pagination-pages .curr {background: #FB5845; color: #fff;border: 1px solid #FB5845}
.pagination-pages a:hover { background: #FB5845; color: #fff;border: 1px solid #FB5845}
.pagination-pages .prev {display: inline-block;}
.pagination-pages .prev,.pagination-pages .next{width: 56px!important;border-radius: 3px}
.pagination-pages .next {padding: 0 8px;}
.pagination-pages .prev.disabled,.pagination-pages .next.disabled{display: none;}
