

/*商家详情图片轮播*/
.news_left{width: 795px;padding-bottom: 10px;}
#slideBox3{ width:795px; height:415px; overflow:hidden; position:relative; background: #fff  }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd .siteAdvObj{width:795px; height:415px;position: relative;}
#slideBox3 .bd .slideshow-item{position: relative;}

.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{width: 795px;height: 475px;}
.slideBox .bd .slideinfo{position: absolute;bottom: 0;left: 0;right: 0;font-size: 16px;color: #fff;background: rgba(0,0,0,0.6);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99000000, endcolorstr=#99000000);text-align: center;padding: 18px 10px;;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.slideBox .bd .slideinfo h3 a{color:#fff;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: block;font-size: 16px;}

/* 前/后按钮*/
.slideBox .prev,.slideBox .next{display: none;}
.slideBox:hover .prev{display: block;}
.slideBox:hover .next{display: block;}
.slideBox .prev{width: 42px;height: 84px;background: rgba(0, 0, 0, 0.7);position: absolute;left: 0; top: 50%;margin-top: -42px;filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#b2000000, endcolorstr=#b2000000);}
.slideBox .prev:after{content: "";display: block;width: 100%;height: 100%;background: url(../images/slide_prev.png) no-repeat 12px center;}
.slideBox .next{width: 42px;height: 84px;background: rgba(0, 0, 0, 0.7);position: absolute;right: 0;top: 50%;margin-top: -42px;filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#b2000000, endcolorstr=#b2000000);}
.slideBox .next:after{content: "";display: block;width: 100%; height: 100%;background: url(../images/slide_next.png) no-repeat 16px center;}


/*全部文章切换*/
.news_tab{border-bottom: 1px solid #FB5845;background: #fff;margin-top: 40px;}
.news_tab li{color: #333;font-size: 18px;float: left;position: relative;padding: 13px 24px;cursor: pointer;}
.news_tab li a{color:  #333;display: inline-block;}
.news_tab li.active{background: #FB5845;color: #fff}


/*列表*/
.news-list li{padding: 20px 0;border-bottom: 1px dashed #DDDDDD;position: relative;}
.news-list .img-box{position: relative;width:230px;height: 150px;overflow: hidden;float: left;margin-right: 14px}
.news-list .img-box img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}

.news-list .info .h4_tit a{font-size: 20px;color: #333;max-width: 554px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: block;}
.news-list .info .h4_tit a:hover{color: #FB5845}
.news-list .info .info-desc{font-size: 14px;color: #999;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;margin-top: 10px;}
.news-list .info .see-info{font-size: 12px;color: #A6A6A6;position: absolute;right: 0;bottom: 20px;}
.news-list .info .see-info span{margin-left: 20px;}
.see-info i{display: inline-block;width: 20px;height: 20px;margin-right: 4px;background: url(../images/icon2.png) no-repeat;vertical-align: middle;
    margin-top: -3px;}
.see-info .new-sour i{background-position: 0 0px}
.see-info .see-num i{background-position: 0 -20px}
.see-info .pubday i{background-position: 0 -40px}

.news-list .loading{text-align: center;line-height: 100px;font-size: 24px;}

/* 分页 */

.pagination-gotopage {float: right; margin-left: 15px;}
.pagination-gotopage label {float: left; line-height: 28px; margin-right: 8px;font-size: 14px;color: #5a5a5e;}
.pagination-pages {display: inline-block;}
.pagination-pages a, .pagination-pages span {float: left; min-width: 18px; height: 28px; padding: 0 5px; margin: 0 7px 0 0; text-align: center; line-height: 28px; font-size: 14px; cursor: pointer; color: #666; text-decoration: none;background-color:#fff;border-radius: 3px;border: 1px solid #D9D9D9}
.pagination-pages .curr {background: #FB5845; color: #fff;border: 1px solid #FB5845}
.pagination-pages a:hover { background: #FB5845; color: #fff;border: 1px solid #FB5845}
.pagination-pages .prev {display: inline-block;}
.pagination-pages .prev,.pagination-pages .next{width: 56px!important;border-radius: 3px}
.pagination-pages .next {padding: 0 8px;}
.pagination-pages .prev.disabled,.pagination-pages .next.disabled{display: none;}


/*列表右*/
.news_right{width: 366px;}
.news_right .newr_tit{font-size: 18px;color: #333;}
.news_right .newr_tit:before{content: '';display: inline-block;width: 4px;height: 18px;background: #FB5845;margin-right: 7px;margin-top: -3px;vertical-align: middle;}

.news_right li{position: relative;margin-top: 20px;}
.news_right .img-box{position: relative;width:140px;height: 90px;overflow: hidden;float: left;margin-right: 14px}
.news_right .img-box img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.news_right .info .see-info span{margin-right: 20px;}
.news_right .info .h4_tit a{font-size: 14px;color: #333;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.news_right .info .see-info{font-size: 12px;color: #A6A6A6;margin-top: 20px;}
.news_right .info .h4_tit a:hover{color: #FB5845}


.footer {margin-top: 0;}
.list_left .list_ul li.empty {text-align: center; font-size: 17px; color:#8c8c91; padding-bottom: 50px;}
.empty img {width: 300px; margin: 50px auto 20px; display: block;}
.failed img{display: block;margin: 0 auto}