

/*列表*/
.main_wrap{padding: 96px 0 105px;background:#FBFBFD url(../images/sell_bg.png) no-repeat;background-size: cover;height: 544px;}


/*列表左*/
.sell_con{width: 694px;text-align: center;}
.sell_con h1{font-size: 48px;color: #FB5845;font-weight: bold;}
.sell_con h2.tip{font-size: 30px;color: #666;}
.sell_con ul{display: inline-block;margin-top: 30px;}
.sell_con ul li{float: left;margin:0 20px;text-align: center;}
.sell_con ul li .sell_icon{width: 60px;height: 60px;background: #E9E9EE;border-radius: 50%;position: relative;margin: 0 auto}
.sell_con ul li .sell_icon img{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.sell_con ul li p{font-size: 16px;color: #999;margin-top: 18px;max-width: 135px;}

/*列表右*/
.right_con{width: 430px;padding: 34px 28px 44px;background: #fff;box-shadow: 0px 6px 27px 0px rgba(80, 80, 87, 0.1);-webkit-box-shadow: 0px 6px 27px 0px rgba(80, 80, 87, 0.1);-moz-box-shadow: 0px 6px 27px 0px rgba(80, 80, 87, 0.1);}
.right_con .value{font-size: 52px;color: #FB5845;text-align: center;}
.right_con .r_tip{font-size: 18px;color: #999;text-align: center;}
.right_con .type{margin-top: 52px}
.right_con input{width:430px;height:60px;background:#F4F4F4;border-radius:6px;line-height: 60px;font-size: 16px;border: none; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;padding-left: 20px;padding-right: 25px;cursor: pointer;}
.right_con .type{position: relative; z-index: 1000;}
.right_con .type i{position: absolute;top: 25px;right: 25px;display: inline-block;width: 17px;height: 9px;background: url(../images/arrow-down.png) no-repeat;background-size: 17px 9px;}
.right_con .type.active i{background: url(../images/arrow-up.png) no-repeat;background-size: 17px 9px;}
.right_con input::placeholder{color: #999999}
.right_con input::-moz-placeholder{color:#999999;}              　　/*ff*/
.right_con input::-webkit-input-placeholder{color:#999999;}       /*chrome,safari*/
.right_con input::-ms-input-placeholder{color:#999999;}             /*ie10*/
.right_con .phone{margin-top: 20px;position: relative;}

.right_con .type.active{}
.right_con .type.active #type{border: 1px solid #fb5845;border-bottom: none;border-radius: 6px 6px 0 0}
.aside{display: none;}

.right_con .aside{position: absolute;top: 60px;left: 0;border: 1px solid #fb5845;background: #fff;z-index: 2}
.right_con .aside .aside-main{overflow: auto;font-size: 14px;color: #333;height: 418px;width: 428px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;padding-right: 25px;padding-left: 10px;}
.right_con .aside .aside-main h3{width: 375px;height: 22px;background: #f8f8f8; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;padding-left: 10px;margin-top: 15px;color: #999}
.aside-main .list-hot{margin-left: 10px;}
.aside-main .list-hot li{float: left;margin-right: 25px;margin-top: 14px;}
.aside-main .list-hot li:hover a{cursor: pointer;color:#fb5845 }
.aside-main .list-line li{width: 375px;height: 22px;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;padding-left: 10px;margin-top: 10px;}
.aside-main .list-line li:hover{background: #fb5845;cursor: pointer;color: #fff}
.block-brand .jump-tag{position: absolute;top: 27px;right: 25px;display: inline-block;color: #999;font-size: 12px;height: 84%;}
.block-brand .jump-tag .jump-li{display: block;text-align: center;height: 20px;}
.block-brand .jump-tag .jump-li a{color: #999;}
.block-brand .jump-tag .jump-li.active a{color:#fb5845 }
.aside-main li{cursor: pointer;}

.right_con .submit{margin-top: 30px;font-size: 0}
.right_con .submit a{display: block;width: 100%;height: 60px;border: 1px solid #FB5845;text-align: center;font-size: 18px;vertical-align: top;border-radius: 6px;position: relative; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.right_con .submit a.sell_car{background:#FB5845; line-height: 60px;color: #fff;}
.right_con .submit a.sell_car span{color: #fff;position: relative;z-index: 2}
.right_con .submit a.per_car{background: #fff;margin-top: 20px;}
.right_con .submit a.per_car span{display: block;}
.per_car span.per{color: #FB5845; margin-top: 8px;}
.per_car span.per-tip{color: #999;font-size: 12px; }
.right_con .submit a.sell_car:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#19000000, endcolorstr=#19000000);border-radius: 6px;}
.right_con .submit a.per_car:hover{background: #fdf6f5}
/*国际手机号*/

#fabuForm .inpbdr{height: 60px;line-height: 60px;width: 430px;position: relative}
#fabuForm .inpbdr .areaCode{width: 70px;text-indent: 22px; font-size: 14px;text-align: left;z-index: 10;top: 1px;left: 1px;bottom: 1px;background: #F4F4F4}
#fabuForm .inpbdr .areaCode s{right: 8px}
#fabuForm .inpbdr input#phone{border: none;padding-left: 90px;width: 100%;margin-left: 0}
#fabuForm .areaCode_wrap{top: 60px;width: 100%}
