

/*列表*/
.class_wrap{margin-top: 20px; padding-bottom: 50px;}


/*列表左*/
.list_left{width: 940px;float: left;}
.list_left .list_li{padding: 16px 15px;border: 1px solid #eee;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;margin-top: 20px;}
.list_left .list_li:hover{box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-moz-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-webkit-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-ms-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);}

.list_left .store_ul li{margin-right: 15px;width: 164px;background: #fff;float: left;position: relative; height: 200px;}
.list_left .store_ul li:nth-child(3n){margin-right: 0;}


.icon_img{position: absolute;top: 10px;left: 10px;z-index: 2 }
.icon_img span{display: inline-block;}
.icon_img span.new{width: 34px;height: 17px;background: url(../images/new-icon.png) no-repeat;background-size: 34px 17px;margin-right: 3px;}
.icon_img span.z_new{width: 43px;height: 17px;background: url(../images/hot-icon.png) no-repeat;background-size: 43px 17px;}

.icon_img2{position: absolute;top: -4px;right: 0;z-index: 2 }
.icon_img2 span{display: inline-block;}
.icon_img2 span.hot_tag{width: 43px;height: 30px;background: url(../images/tag.png) no-repeat;background-size: 43px 30px;}


.top_img{position: relative;width:164px;height: 122px;overflow: hidden;}
.top_img img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}

.list_left .store_ul .car_info .car_name{font-size: 14px;color: #28292B;width: 100%;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;margin-top: 5px;}
.list_left .store_ul .car_info .car_name:hover{color: #FB5845}

.list_left .store_ul .car_info .car_price {position: absolute;bottom: -5px;}
.list_left .store_ul .car_info .car_price span{font-size: 22px;color: #FF653B;display: inline-block;vertical-align: top;max-width:80px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.list_left .store_ul .car_info .car_price em{font-size: 12px;color: #5E94FF;display: inline-block;background: #F2F6FF;padding: 0 6px 1px;margin-left: 9px;border: 1px solid #5E94FF;vertical-align: top;margin-top: 7px;max-width:60px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

.left_con{float: left;width: 334px;border-right: 1px solid #eee;padding-right: 23px;}
.left_con .left_img{width:84px;height:84px;border-radius:42px;float: left;position: relative;overflow: hidden;}
.left_con .left_img img{width: 100%;height: 100%;border-radius:42px;}
.left_con .left_info{float: left;margin-left: 16px;padding-top: 10px;}
.left_con .left_info .store_tit a{font-size: 16px;max-width:128px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: inline-block;}
.left_con .left_info .store_tit a:hover{color:#FB5845 }
.left_con .left_info .store_tit i{display: inline-block;width: 20px;height: 22px;margin-left: 6px;vertical-align: top}
.left_con .left_info .store_tit i.icon_ying{background: url(../images/ying.png) no-repeat;background-size: 20px 22px;}
.left_con .left_info .store_tit i.icon_bao{background: url(../images/bao.png) no-repeat;background-size: 20px 22px;}



.left_con .left_info .store_place{color: #A6A6A6;max-width: 234px;font-size: 14px;}
.left_con .left_info .store_place span{}
.left_con .left_info .store_place .see_map{display: inline-block;margin-left: 6px}
.left_con .left_info .store_place .see_map:hover{color: #FB5845}
.left_con .left_bot {margin-top: 10px;padding-left: 6px;}
.left_con .left_bot dl{float: left;text-align: center;width: 33%;}
/*.left_con .left_bot dl.spe_dl{margin-left: 74px;margin-right: 90px;}*/
.left_con .left_bot dl dt{font-size: 18px;color: #333}
.left_con .left_bot dl dd{font-size: 14px;color: #A6A6A6}
.left_con .store_in{width: 100%;background: #FB5845;height: 46px;line-height: 46px;text-align: center;margin-top: 20px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;border:1px solid #FB5845;
}
.left_con .store_in a{font-size: 16px;color: #fff;display: block;}
.left_con .store_in:hover{background: #fff}
.left_con .store_in:hover a{color: #FB5845}

.right_con{float: left;margin-left: 23px;height: 210px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;padding: 5px 0;
}


.footer {margin-top: 0;}
.list_left .list_ul li.empty {text-align: center; font-size: 17px; color:#8c8c91; padding-bottom: 50px;}
.empty img {width: 300px; margin: 50px auto 20px; display: block;}
.failed img{display: block;margin: 0 auto}