
.main_wrap{background: #F8F8F8;padding-bottom: 24px;margin-bottom: 20px;}
/*列表*/
.class_wrap{margin-top: 20px; padding-bottom: 50px;}


.det_top .left_img{width: 120px;height: 120px;position: relative;overflow: hidden;float: left;background: #fff}
.det_top .left_img img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.det_top .det_info{float: left;margin-left: 16px;height: 120px;position: relative;width: 1064px;}
.det_top .det_info .det_tit{font-size: 26px;display: inline-block;margin-top: -3px;}
.det_top .det_info .det_tit span{display: inline-block;max-width: 780px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.det_top .det_info .det_tit i{display: inline-block;width: 20px;height: 22px;margin-left: 6px;vertical-align: top;margin-top: 10px;}
.det_top .det_info .det_tit i.icon_ying{background: url(../images/ying.png) no-repeat;background-size: 20px 22px;}
.det_top .det_info .det_tit i.icon_bao{background: url(../images/bao.png) no-repeat;background-size: 20px 22px;}


.btn_group{position: absolute;right: 0;top: 0;}
.btn_group button{background: none; border: none; outline: none; cursor: pointer; float: left; text-align: center;}
.btn_group em{display: inline-block; width: 18px; height: 15px; background-repeat: no-repeat;  vertical-align: middle; margin-right: 8px;margin-top: -5px;}
.store-btn {float: left;margin-top: 7px;}
.store-btn button em{background-image: url(../images/like.png); background-position: top left; background-repeat: no-repeat; }
.store-btn.curr button em{background-image: url(../images/like2.png); background-position: top center; background-repeat: no-repeat;width: 20px;height: 17px; }


#sharre{position: absolute;width: 52px;height: 21px;top: 0;left: 0;right: 0;bottom: 0;opacity: 0}
.btn_group a span{display: inline-block; font-size: 14px; color:#919191}

.btn_group .contact{display: inline-block;width: 98px;height: 32px;margin-left: 20px;cursor: pointer;border: 1px solid #F8F8F8;position: relative;border-radius: 2px;}
.btn_group .contact img{width:76px;height:14px;position:absolute;top:0;left:0;right:0;bottom:0;display: block;margin:auto;}

.btn_group .contact:hover{box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);-moz-box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);
-webkit-box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);
-ms-box-shadow: 0px 3px 13px 0px rgba(7,8,36,0.13);border: 1px solid #E6E6ED}


.det_mid{font-size: 14px;color: #A6A6A6;margin-top: 4px;}
.det_mid i{display: inline-block;width: 20px;height: 20px;background: url(../images/store-icon.png) no-repeat;vertical-align: middle;margin-right: 8px;margin-top: -4px;}
.det_mid p{margin-top: 5px;}
.det_mid p.tim i{background-position: 0 0;}
.det_mid p.num i{background-position: 0 -20px;}
.det_mid p.adr i{background-position: 0 -40px;}
.det_mid p.adr .adr_a{color: #5E94FF}
.det_mid p.adr span{display: inline-block;max-width: 416px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;vertical-align: top}
.det_mid p.num em{margin-right: 13px;margin-left: 13px;}
.det_ul{position: absolute;right: 0;bottom: 0;}
.det_ul li{float: left;height: 48px;line-height: 48px;border-radius: 6px;border:1px solid #FB5845;font-size: 18px;text-align: center;cursor: pointer;}
.det_ul li i{display: inline-block;width: 25px;height: 25px;vertical-align: middle;vertical-align: middle;margin-top: -3px;}
.det_ul li.l_phone{width: 266px;background:#FB5845 ;margin-right: 10px;position: relative;color: #fff}
.det_ul li.l_phone a{color: #fff;display: block;position: relative;z-index: 2}
.det_ul li.l_phone i{background: url(../images/phone.png) no-repeat;background-size: 25px;margin-right: 10px}
.det_ul li.l_phone .seePhone{color: #fff;position: relative;z-index: 2}
.det_ul li.order{width: 178px;background: #fff;color:#FB5845 }
.det_ul li.order i{background: url(../images/clock.png) no-repeat;background-size: 25px;margin-right: 13px;}
.det_ul li.l_phone2:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#19000000, endcolorstr=#19000000);border-radius: 6px;}
.det_ul li.order:hover{background: #fff6f6}

/*列表左*/
.list_left{float: left;width: 100%;}
.list_left ul li.l_li{margin-right: 25px;width: 220px;background: #fff;float: left;position: relative;margin-top: 20px;border: 1px solid #eee; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;transition: all .3s;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;}
.list_left ul li.l_li:nth-child(5n){margin-right: 0;}
.list_left ul li.l_li:hover{box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-moz-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-webkit-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);-ms-box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.08);border: 1px solid #fff;transform: translate3d(0,-8px,0);-o-transform: translate3d(0,-8px,0);-webkit-transform: translate3d(0,-8px,0);transform: -moz-translate3d(0,-8px,0);}

.icon_img{position: absolute;top: 10px;left: 10px;z-index: 2 }
.icon_img span{display: inline-block;}
.icon_img span.new{width: 34px;height: 17px;background: url(../images/new-icon.png) no-repeat;background-size: 34px 17px;margin-right: 3px;}
.icon_img span.z_new{width: 43px;height: 17px;background: url(../images/hot-icon.png) no-repeat;background-size: 43px 17px;}

.icon_img2{position: absolute;top: -4px;right: 0;z-index: 2 }
.icon_img2 span{display: inline-block;}
.icon_img2 span.hot_tag{width: 43px;height: 30px;background: url(../images/tag.png) no-repeat;background-size: 43px 30px;}


.top_img{position: relative;width:218px;height: 163px;overflow: hidden;}
.top_img img{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}

.car_info{padding: 10px 15px 8px;}
.car_info .car_name{font-size: 14px;color: #28292B;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.car_info .car_name:hover{color:#fb5845 }
.car_info .by_time{font-size: 14px;color: #A6A6A6;margin-top: 3px;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.car_info .by_time em{margin-right: 9px;margin-left: 9px;}
.car_info .car_price {margin-top: 5px;}
.car_info .car_price span{font-size: 22px;color: #FF653B;display: inline-block;vertical-align: top;max-width: 80px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.car_info .car_price em{font-size: 12px;color: #5E94FF;display: inline-block;background: #F2F6FF;padding: 0 6px 1px;margin-left: 9px;border: 1px solid #5E94FF;vertical-align: top;margin-top: 7px;max-width: 60px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

/*预约弹窗*/
.order_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 9999;display: none;}
.order_container{position: fixed; left: 50%; margin-left: -245px; top: 50%; margin-top: -140px; width: 490px;   box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;background-color:#fff;  padding: 30px;padding-bottom: 47px; z-index: 9999; border-radius: 14px;}
.order_container .close_alert{width: 16px;height: 16px;position: absolute;right: -36px;top: 0;cursor: pointer;}
.order_container p.t1{font-size: 24px;color: #333;text-align: left;}
.order_container p.t2{font-size: 14px;color: #999;text-align: left;margin-top: 10px;}
.order_container form{margin-top: 35px;}
.order_container form input{display: block;width: 100%;height: 60px;border-radius: 6px;line-height: 60px;margin:0 auto;padding-left: 20px;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;font-size: 16px;background: #f4f4f4;border: none}
.order_container form input::placeholder{color: #999}
.order_container form input::-moz-placeholder{color:#999;}              　　
.order_container form input::-webkit-input-placeholder{color:#999;}       
.order_container form input::-ms-input-placeholder{color:#999;}  

.order_container ul{margin-top: 20px;}
.order_container ul li{width: 206px;height: 48px;border: 1px solid #FB5845;font-size: 18px;text-align: center;line-height: 48px;border-radius: 3px;cursor: pointer;}
.order_container ul li.cancel{background: #fff;color: #FB5845}
.order_container ul li.order_submit{background: #FB5845;color: #fff}
.order_container ul li.cancel:hover{background: #fff6f6;}


.footer {margin-top: 0;}
.list_left .list_ul li.empty {text-align: center; font-size: 17px; color:#8c8c91; padding-bottom: 50px;}
.empty img {width: 300px; margin: 50px auto 20px; display: block;}
.failed img{display: block;margin: 0 auto}