/*店铺评价*/
.comm_con1{margin-top: 15px;padding-bottom: 13px;border: 1px solid #DCDEE3}
.comm_con1 .textarea{padding: 7px 0;font-size: 14px;min-height: 70px;margin: 10px 24px 0;width: 97%;resize: none;border: none}
/*图片上传*/
.img_box{ background: #fff;padding-left: 23px;margin-top: 10px}
.img_box li{width: 96px; height: 96px;  background-color: #fff; float: left; position: relative; margin-bottom: 10px;border: 1px solid #e5e5e5;margin-right: 10px}

.img_show {width: 96px; height: 96px;overflow: hidden; position: relative;}
.del_btn{position: absolute;bottom: 0; right: 0;width: 30px; height: 30px; z-index:3;background: url(../images/school/delete.png) no-repeat center;cursor: pointer;font-size: 0}
.img_box img{width: 100%;height: 100%;object-fit: cover}
.upload_btn p,.addbtn p{font-size: 14px; color: #999; text-align: center; margin: auto; }
.upload_btn img{width: 36px; height: 31px; margin: auto; display: block; margin-top: 23px; margin-bottom: 10px;}
.upload_btn input{width: 96px; height: 96px; position: absolute; top: 0; left: 0; opacity: 1;z-index: 10;}
.upload_btn,.addbtn{position: relative;}
#filePicker{height: 100%; overflow: hidden;}
.webuploader-element-invisible {position: absolute !important; clip: rect(1px,1px,1px,1px);}
.webuploader-container div {width: 96px; height: 96px;}


.comm_member{margin-top: 10px;padding-right: 11px;}
.comm_member .np-login {float: left;line-height: 30px;padding: 5px 0 0 26px;font-size: 14px;}
.comm_member .np-login .u img {float: left;width: 30px;height: 30px;vertical-align: middle;border-radius: 20px;}
.comm_member .np-login .u .com{margin-left: 8px}
.comm_member .np-login .logout{color: #999;margin-left: 8px}
.subtn{width:90px;height:36px;background:#019354;border-radius:3px;text-align: center;line-height: 36px;color: #fff;font-size: 18px;float: right;position: relative;}
.subtn:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0,.1);filter: Alpha(opacity=10);}
.subtn:hover{color: #fff}
.public_com{background: #F7F7F7;margin-top: 70px;padding: 36px 20px;}
.pub1{display: inline-block;position: relative;height: 39px;line-height: 39px;border-right: 1px solid #EAEAEA;padding-right: 56px;}
.pub1 .all_pub{font-size: 16px;margin-right: 30px}
.pub1 .all_num{font-size: 48px;color: #FF6600;margin-right: 35px;    display: inline-block;vertical-align: middle;margin-top: -8px;}
.pub1 .judge-star{position: relative;background: url(../images/star_no.png) 0 0 repeat-x;width: 90px;height: 17px;margin-top: 8px;display: inline-block;}
.pub1 .judge-star s {position: absolute;display: block;height: 17px;background: url(../images/star_yes.png) 0 0 repeat-x;}
/*评价*/
.commentBox{margin-top: 0;}
.commentBox .headtop{font-size: 24px;}
.commentBox .headtop em{color: #999;font-size: 18px;margin-left: 2px;}
.commentBox .empty{text-align: center;line-height: 100px;font-size: 16px;}

.commentBox .comm_btn{display: block; width: 100px; height: 36px; border-radius: 3px; background: #F93A4D; color: #fff; text-align: center; font-size: 16px; line-height: 36px; float: right;vertical-align: middle;margin-top: 0;}

.comm_list{} 
.comm_list h2{font-size: 18px; font-weight: bold; color: #343945;}
.comm_list h2 em{color: #999;}
.comm_list ul.comm_ul{margin: 16px;}
.comm_list ul li.comm_li{padding: 30px 0; border-bottom: solid 1px #eee;}
.comm_list ul li.comm_li .left_head{float: left; width: 50px; height: 50px; border-radius: 50%; background: #f8f8f8; overflow: hidden;}
.comm_list ul li.comm_li .left_head img{width: 100%; height: 100%;object-fit: cover;}
.comm_list ul li.comm_li .right_con .com_info{height: 50px; box-sizing: border-box; padding-top: 5px;}
.comm_list ul li.comm_li .right_con{margin-left: 70px;}
.comm_list ul li.comm_li .right_con .comm_con{font-size: 14px; line-height: 40px; color: #666;}
.comm_list ul li.comm_li .right_con h4{color: #333; font-size: 14px;line-height: 40px}
.comm_list ul li.comm_li .right_con p.star{width: 90px; height: 18px; background: url(../images/star2.png) repeat-x center; margin-top: 4px;display: none }
.comm_list ul li.comm_li .right_con p.star i{display: block; background: url(../images/star1.png) #fff; height: 18px; }
.comm_list ul li.comm_li .right_con .com_time{float: left; color: #999;}
.comm_list ul li.comm_li .right_con .right_commt{float: right; cursor: pointer;}
.comm_list ul li.comm_li .right_con .right_commt span{display: inline-block; margin-left: 40px; font-size: 14px; color: #999;}
.comm_list ul li.comm_li .right_con .right_commt .btn_reply:hover{color: #FF5859;}
.comm_list ul li.comm_li .right_con .right_commt .btn_reply:hover i{background-image: url(../images/school/reply1.png);}
.comm_list ul li.comm_li .right_con .com_num i,.comm_list ul li.comm_li .right_con .right_commt .btn_reply i{display: inline-block; width: 16px; height: 16px; background: url(../images/school/zan1.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: 4px; margin-right: 2px;}
.comm_list ul li.comm_li .right_con .right_commt .btn_reply i{background-image: url(../images/school/reply2.png); margin-bottom: 0;}
.comm_list ul li.comm_li .right_con .com_num.uped i{background-image: url(../images/school/zaned.png);}
.comm_list ul li.comm_li .right_con .imgbox{width: 96px; height: 96px;overflow: hidden; margin-right: 4px; float: left; background: #f8f8f8; position: relative;}
.comm_list ul li.comm_li .right_con .imgbox img{height: 100%; position: static;}
.comm_list ul li.comm_li .com_detail{margin-top: 20px;}
.comm_list ul li.comm_li .reply_box{background: #f5f5f5; padding: 0 24px; border-radius: 6px; margin-top: 36px;}
.comm_list ul li.comm_li .reply_box .comm_con em{font-weight: bold; color: #333; margin:0 4px;}
.comm_list ul li.comm_li .reply_box .com_detail{margin-top: 0;}
.comm_list ul li.comm_li .reply_box .comm_li {padding: 16px 0;}
.comm_list ul li.comm_li .reply_box {position: relative;}
.comm_list ul li.comm_li .reply_box>s{display: block; width: 0; height: 0; border:solid 12px rgba(0,0,0,0); filter:Alpha(opacity=0); *zoom=1; border-bottom: solid 12px #F5F5F5; position: absolute; top: -24px; left: 24px;}
.comm_list ul li.comm_li .reply_box .more_btn{font-size: 14px; color: #999; text-align: center; line-height: 54px; cursor: pointer;}
.comm_list ul li.comm_li .reply{height: 50px; line-height: 50px; background: #fff; border-radius: 4px; border: solid 1px #eee; padding: 0 16px; }
.comm_list ul li.comm_li .reply input{font-size: 14px; border: none; width: 100%; outline: none; }
.comm_list ul li.comm_li .reply input::placeholder{color: #ddd;}
.comm_list ul li.comm_li .reply_in{ margin-top: 10px;}
.comm_list ul li.comm_li .reply_in a{display: inline-block; width: 100px; line-height: 36px; border-radius: 4px; background:  rgb(238, 238, 238); color: #bbb; text-align: center; margin-top: 16px; font-size: 14px; pointer-events: none; cursor: default;}
.comm_list ul li.comm_li .reply_in .rpbtn_box{text-align: right; }
.comm_list ul li.comm_li .reply_in a.onbtn{color: #fff; background: #FF5859; pointer-events:auto; cursor: pointer;}


.comm_li .empty {padding: 100px 0; text-align: center; font-size: 16px;}
.comm_li .thumb {position: relative; overflow: hidden; height: 100px;}
.comm_li .thumb .plist {position: absolute; left: 0; right: 0; bottom: 0; z-index: 1; height: 100px;}
.comm_li .thumb li {float: left; margin-right: 13px; width: 100px;}
.comm_li .thumb li a {display: inline-block; zoom: 1; position: relative; width: 96px; height: 96px; background: url('https://pic.xiant.ao/static/images/loading_16.gif') no-repeat center; overflow: hidden; border: 2px solid #fff; box-sizing: border-box;}
.comm_li .thumb li img {height: 98px; display: block; margin: 0 auto;}
.comm_li .thumb li a:hover, .comm_li .thumb li.on a {border: solid 2px #f76120;}
.comm_li .thumb .sprev, .comm_li .thumb .snext {position: absolute; top: 50%; z-index: 2; margin-top: -26px; width: 27px; height: 52px; background: url('../images/arrow.png') no-repeat;}
.comm_li .thumb .sprev {left: 0; background-position: 0 0;}
.comm_li .thumb:hover .sprev, .comm_li .thumb a:hover.sprev {background-position: 0 -53px;}
.comm_li .thumb .snext {right: 0; background-position: -28px 0;}
.comm_li .thumb:hover .snext, .comm_li .thumb a:hover.snext {background-position: -28px -53px;}
.comm_li .album {display: none; position: relative; margin-top: 10px; min-height: 250px; _height: 250px; text-align: center; background: url('../images/school/bg-tile.png');}
.comm_li .album .prev, .comm_li .album .next, .comm_li .album .close {position: absolute; top: 0; z-index: 2; width: 40%; height: 100%; _height: 250px; opacity: 0; background-color: #fff; filter: alpha(opacity=0);}
.comm_li .album .prev {left: 0; cursor: url('../images/school/cursor-rate-pic-prev.png'), url('../images/school/cursor-rate-pic-prev.cur'), auto;}
.comm_li .album .next {right: 0; cursor: url('../images/school/cursor-rate-pic-next.png'), url('../images/school/cursor-rate-pic-next.cur'), auto;}
.comm_li .album .close {width: 20%; left: 40%; cursor: url('../images/school/small.png'), url('../images/school/small.cur'), auto;}
.comm_li .album .albumlist {position: relative; z-index: 1; height: 100%;}
.comm_li .album .aitem {position: relative; display: block; width: 100%; height: 500px; overflow: hidden; background: url('https://pic.xiant.ao/static/images/ui/loading.gif') no-repeat center; text-align: center;}
.comm_li .album .aitem i {display: inline-block; height: 100%; vertical-align: middle;}
.comm_li .album .aitem img {display: inline; z-index: 0; vertical-align: middle; max-width: 100%; max-height: 100%; -ms-interpolation-mode: bicubic;}

.more_commt{display: none; text-align: center; color: #999; font-size: 14px; line-height: 40px;width:245px;
height:40px;background:#F5F5F5;border-radius:3px;margin: 0 auto;}
.more_commt:hover{color: #fff;background: #F93A4D}
.more_commt.show{display: block;}

/* 查看图片弹出层 */
.mask,.imgPop{position: fixed; top:0; right: 0; left: 0; bottom: 0; background: rgba(0,0,0,.8); z-index: 1003;	display: none;	}
.mask{background: rgba(0,0,0,.5); }
.imgPop{background: none;}
.imgPop .slide_big{width: 100%; position: relative;}
.imgPop .slide_big img{position: absolute; left: 0; top: 0; bottom: 0; right: 0; margin: auto; max-height: 100%; max-width: 100%}
.imgPop .big-item {position: absolute;left:0;top:0;width: 100%;height: 100%;display: none;}
.imgPop .big-item .big-pic {text-align: center;position: absolute;top: 45px;bottom: 0;left: 0; right: 0;margin: auto; min-width: 1040px;}
.imgPop .big-item .big-pic i {display: inline-block; height: 100%; vertical-align: middle;}
.imgPop .big-item img {max-width: 100%; max-height: 750px; display: inline; z-index: 0; vertical-align: middle; -ms-interpolation-mode: bicubic;}
.imgPop .bottom_slide{width: 100% ; height: 96px; background-color: rgba(0,0,0,.8); position: absolute; bottom: 0; left: 0; right: 0;}
.imgPop #slide_small{max-width: 860px; overflow: hidden; text-align: center; margin: auto; position: relative;}
.imgPop #slide_small .spbox {margin:0 10px; overflow: hidden; font-size: 0; position: relative; display: inline-block; max-width: 860px;}
.imgPop .picsmall {position: relative;margin: 0 auto; max-width: 800px; white-space: nowrap; text-align: center;}
.imgPop .picsmall a {display: inline-block; margin:15px 5px;position: relative;font-size: 0;width: 88px;height: 65px;overflow: hidden;}
.imgPop .picsmall img {display: block;width:100%;height: 100%; object-fit: cover}
.imgPop .picsmall .active{border: 2px solid #fff; box-sizing: border-box;}
.imgPop .picsmall .active img {border-color: #fff;opacity:1;filter:alpha(opacity=100);}
.imgPop .picsmall li.active img {border:1px solid #fff;}
.imgPop .picsmall a div{position: absolute;bottom: 5px;right: 5px;border-radius: 20px;background: rgba(0,0,0,.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);color: #fff;line-height: 18px;font-size: 12px;padding: 0 8px;}
.imgPop .picsmall a div span{vertical-align: top;}
.imgPop .prevbox{border-radius: 5px;overflow: hidden;width: 88px;height: 91px;display: none;position: relative;cursor: pointer;}
.imgPop .prevbox img{width: 100%;height: 100%;display: block;}
.imgPop .span-bg{background: rgba(0,0,0,.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.imgPop .prevbox b{display: block;width: 100%;color: #fff;line-height: 35px;margin-top: 10px;}
.imgPop .prevbox span{color: #fff;padding: 0 5px;box-sizing: border-box;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
#slidebtn_prev,#slidebtn_next{display: block; width: 62px; height: 62px;background:url(../images/big_arr1.png) no-repeat center; background-size: cover; position: absolute; left: 20px; top: 50%; margin-top:-31px; }
#slidebtn_next{background-image: url(../images/big_arr2.png);  right: 20px; top: 50%; margin-top:-31px; left: auto;}

#slidebtn2_prev,#slidebtn2_next{display: block; width: 26px; height:26px;background:url(../images/small_arr1.png) no-repeat center; background-size: cover; position: absolute;  left: 0; top: 35px}
#slidebtn2_next{background-image: url(../images/small_arr2.png); right:0 !important; left: auto;}
.close_btn,.close_commt{position: absolute; right: 28px; top: 28px; display: block; width: 22px; height: 22px; background: url(../images/school/close_btn.png) no-repeat center; background-size: cover;z-index: 99;}


/* 评价弹出层 */
.commtPop{width: 850px; height: 560px; border-radius: 6px; position: fixed; top: 50%; left: 50%; margin-left: -425px; margin-top: -280px; background: #fff; z-index: 1004; display: none; animation: popup .2s ease-in;}
.commtPop.show{display: block;}
.commtPop h2{font-size: 24px; text-align: center; font-weight: bold; text-align: center; line-height: 70px; border-bottom: solid 1px #eee;}

.commtPop .close_commt{right: -40px; top: 0;}
.commtPop .commt_box {padding: 20px 40px;}
.commtPop .commt_box label.left_text{float: left; width: 80px; box-sizing: border-box; padding-right: 20px; text-align: right; font-size: 14px; color: #A1A1A1; line-height: 26px;}
.commtPop .comm_text .commt_com{width: 676px; height: 258px; border: solid 1px #E5E5E5; border-radius: 6px; float: left;}
.commtPop .anony{font-size: 14px; color: #A1A1A1; padding-left: 80px; margin-top: 16px; margin-bottom: 14px; cursor: default; user-select: none;}
.commtPop .anony i{display: inline-block; width: 16px; height: 16px; box-sizing: border-box; border-radius: 50%; border: solid 2px #dfdfdf; vertical-align: middle; margin-right: 8px; margin-bottom: 4px;}
.commtPop .anony i.a_click{border: none; background:#F93A4D url(../images/gou.png) no-repeat center; background-size: 12px 12px;}
.commtPop button{display: block; width: 240px; height: 56px; text-align: center; font-size: 18px; color: #fff; line-height: 56px; border: none; background: #F93A4D; margin: auto; border-radius: 6px;cursor: pointer}
.commt_com textarea{border: none; resize: none; width: 668px; height: 130px; padding: 10px; box-sizing: border-box; font-size: 14px;margin: 4px; outline: none;}
.commt_com textarea::placeholder{color: #999;}

.comm_text ul{margin-left: 5px; margin-right: 10px;}
.comm_text li{float: left; width: 96px; height: 96px; margin-left: 6px;position: relative; }
.comm_text li img{width: 100%; height: 100%; object-fit: cover;}
.comm_text li.up_btn{border: solid 1px #e5e5e5; text-align: center; color: #999; font-size: 14px; box-sizing: border-box; padding-top: 18px; position: relative;}
.comm_text li.up_btn img{display: block; margin: auto; margin-bottom: 8px; width: 34px;}
.comm_text li.up_btn input{opacity: 0; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100%; position: absolute;}
.comm_text li .li-rm{display: block; width: 30px; height: 30px; background: url(../images/del_img.png) no-repeat center; background-size: cover; position: absolute; right: 0; bottom: 0;}
/* 上传图片按钮样式 */
#filePicker2{margin-bottom: 10px;}
#filePicker2>div{width: 100%; height: 100%;}
#filePicker2 label{width: 100%; height: 100%; position: absolute; left: 0; right: 0; bottom: 0; top: 0;}


.comm_list .loadingAll{text-align:center;line-height:100px;font-size:16px;}
/*没有评论时*/
.comm_list ul li.noComm img{display: block;margin: 20px auto;}
.comm_list ul li.noComm p{font-size: 16px;color: #656565;text-align: center;line-height: 50px;}


