body{background-color:#fff;}
body,html{}

.main_wrap{background: #F5F5F5;padding-bottom: 17px}
/*学校信息*/
.topHeader{width: 100%;height: 220px;position: relative; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;padding: 35px 24px 30px 30px;}
.topHeader .topBg {width: 100%;height: 220px;position: absolute;left: 0;top: 0;overflow: hidden;}
.topHeader .topBg img{width: 100%;height: 100%;object-fit: cover;position: relative;filter: blur(3px);}
.topHeader .topBg i{width: 100%;height: 100%;background: rgba(0,0,0,.5);position: absolute;left: 0;top: 0;display: block;z-index: 2}


.scInfo {position: relative;z-index: 3;}
.scInfo .logo{width: 120px;height: 120px;float: left;border-radius:10px;overflow: hidden;box-sizing: border-box;}
.scInfo .logo img{width: 100%;height: 100%;object-fit: cover;}
.scInfo .rInfo{margin-left: 140px;position: relative;height: 120px;padding-right: 130px}
.scInfo .rInfo h4{font-size: 28px;color: #fff;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 100%;font-weight: bold;}
.rInfo .tag{margin-top: 6px;font-size: 0}
.rInfo .tag span{display: inline-block;padding: 0 12px;height: 26px;line-height: 26px;border-radius: 6px;font-size: 14px;margin-right: 10px;color: #fff;}
.rInfo .tag span.nature{background:linear-gradient(264deg,rgba(203,203,203,1) 0%,rgba(230,230,230,1) 99%);color: #333}
.rInfo .tag span.slevel-1{background:linear-gradient(259deg,rgba(17,99,214,1) 0%,rgba(0,147,232,1) 99%);}
.rInfo .tag span.slevel-2{background:linear-gradient(231deg,rgba(247,53,52,1) 0%,rgba(255,85,82,1) 100%);}
.rInfo .tag span.slevel-3{background:linear-gradient(72deg,rgba(254,127,34,1) 0%,rgba(239,79,44,1) 100%);}

.rInfo .addr{font-size: 16px;color: #fff;margin-top: 24px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 400px}
.rInfo .addr i{display: inline-block;width: 16px;height: 18px;background: url(../images/school/saddr.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-right: 7px;margin-top: -6px}
.rInfo .nearby{display: block;width:114px;height:50px;background:linear-gradient(135deg,rgba(254,127,34,1) 0%,rgba(239,79,44,1) 100%);box-shadow:0px 8px 29px 0px rgba(4,0,0,0.04);border-radius:6px;line-height: 50px;text-align: center;font-size: 18px;color: #fff;position: absolute;right: 0;top: 40px;}

.otInfo{color: #fff;overflow: hidden;margin-top: 20px;z-index: 3;position: relative;}
.otInfo dl{font-size: 16px;}
.otInfo dl dt{margin-right: 10px}
.otInfo dl dt,.otInfo dl dd{display: inline-block; }

/*公共标题*/
h3.comTitle{font-size: 24px;color: #000;font-weight: bold;padding-bottom: 18px}
.sameCon{background: #fff;padding: 30px 20px;margin-bottom: 20px}

.dCon img{max-width: 100%!important;display: block;margin-bottom: 20px; }
.dCon{font-size: 15px!important;color: #666!important;line-height: 30px!important;}
.dCon p{font-size: 15px!important;color: #666!important;line-height: 30px!important}

/*简介 查看全部*/
.sPro{padding-bottom: 0}
.dCon.introBox{ animation: rightFadeIn .3s ease-out;    overflow: hidden;}
.readMore{height: 46px;line-height: 46px;font-size: 16px;color: #EF4F2C;text-align: center;position: relative;}
.readMore a{color:#EF4F2C }
.readMore i{margin: 0 0 8px 8px;vertical-align: middle;display: inline-block;width: 20px;height: 20px;}
.readMore i.rmDown{background: url("../images/school/a_down.png") no-repeat;background-size: contain;}
.readMore i.rmUp{background: url("../images/school/a_up.png") no-repeat;background-size: contain;}
.readMore span{display: block;height:30px;background:linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);position: absolute;left: 0;right: 0;top: -30px}

/*施教范围*/
.dCon h3.lit{font-size: 18px;font-weight: bold;color: #000;margin-bottom: 15px;margin-top: 55px}
.mapbox{width: 100%;height: 350px;position: relative;}
#smap{width: 100%;height: 350px;}
.zs_btn{position: absolute;bottom: 73px;right: 17px;background: #fff;width: 36px;box-shadow:0px 13px 32px 0px rgba(33,22,19,0.15);border-radius:18px;text-align: center;}
.zs_btn i{display: block; width: 32px; height: 74px; background: #fff; border-radius: 16px; position: absolute; top:0; left: 2px; transition: top .4s;background:linear-gradient(180deg,rgba(254,127,34,1) 0%,rgba(239,79,44,1) 100%);}
.tb {width: 100%;box-sizing: border-box;}
.tb li{font-size: 14px;color: #333;position: relative;height: 74px;line-height: 74px;padding: 0 10px;cursor: pointer;}
.tb li span{display: inline-block;vertical-align: middle;line-height: 16px}
.tb li.curr{color: #fff;}
/*去掉百度地图logo*/
.BMap_cpyCtrl {
   display: none;
 }
.anchorBL {
   display: none;
}
.BMap_stdMpCtrl{margin-left:0;}

/*去掉谷歌地图多余的显示*/
.gmnoprint{
   display: none;
}
/*去掉切换全屏视图按钮*/
.gm-fullscreen-control{display: none}
