body{background-color:#fff;}
body,html{}

.bgBanner{width: 100%;background: url('../images/school/bg-banner.png') no-repeat; background-size: cover;padding: 87px 0 52px}
.bgBanner h2{font-size: 56px;color: #fff;font-weight: bold;text-align: center;}


/*搜索页*/
.search_box{ position: relative;width: 595px;margin: 30px auto 0;}

.form_search{ border-radius: 10px; height: 60px; background-color: #fff;}
.form_search input{width: 66%;box-sizing: border-box;border: none; background: none; font-size: 16px;padding:18px}
.form_search input::-webkit-input-placeholder{color: #a6a7ab;}
.form_search input:focus{border: none!important;outline: none;}
.form_search .submitSe{width: 84px;background:linear-gradient(-53deg,rgba(254,146,14,1) 0%,rgba(255,184,2,1) 100%);text-align: center;height: 60px;line-height: 60px;border: none;float: right;border-radius:0px 10px 10px 0px; outline: none;cursor: pointer;}
.form_search .submitSe i{display: inline-block;vertical-align: middle;width: 34px;height: 34px;background: url(../images/school/search_icon.png) no-repeat center center; background-size: cover;}

.search_box .chose_type{float: left;  font-size: 16px;color: #343434;line-height: 60px;cursor: pointer;padding-left: 26px;padding-right: 8px}
.search_box .chose_type:after{content: ''; display: inline-block; width: 16px; height: 16px;  margin-left: 16px; background: url(../images/school/down.png) no-repeat center;background-size: cover;    vertical-align: top;margin-top: 24px;}
.search_box .chose_type.curr:after{background: url(../images/school/up.png) no-repeat center;background-size: cover;}

.chose_box{position: absolute; width: 115px; border-radius: 10px; border: solid 1px #ebeced; background: #fff; box-shadow:1px 5px 22px 0px rgba(11,11,11,0.08); left: 0;top:65px; padding:0 10px;box-sizing: border-box; text-align: center; font-size:16px ; color: #333; display: none;z-index: 2}

.chose_box li{border-bottom: solid 1px #ebeced; line-height: 50px;cursor: pointer;}
.chose_box li:nth-last-child(1){border: none;}

.search_result{margin-top: 16px;font-size: 14px;color: #fff;padding-left: 18px;max-width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.search_result p{display:inline-block;}
.search_result span{margin-right:5px;cursor:pointer;}

.resNum{font-size: 18px;color: #000;font-weight: bold;padding-top: 48px;padding-bottom: 4px;}
.resNum strong{color: #EF502C;}

.list{width: 916px;}
/*热门学校*/
.list li.scLi{background: #fff;box-shadow:1px 5px 22px 0px rgba(11,11,11,0.08);border-radius:10px;margin-bottom: 20px;}
.list li.scLi a{display: block;padding: 22px 24px;box-sizing: border-box;}
.list li.scLi .left_img{width: 120px;height: 120px;float: left;border-radius:10px;overflow: hidden;}
.list li.scLi .left_img img{width: 100%;height: 100%;object-fit: cover;}
.list li.scLi .rightSc{margin-left: 138px ;position: relative;height: 120px;}
.list li.scLi .rightSc h3{font-size: 20px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 100%;font-weight: bold;padding-top: 2px}
.list li.scLi .addr{font-size: 16px;color: #9A9A9A;margin-top: 24px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 300px}
.list li.scLi .addr i{display: inline-block;width: 18px;height: 20px;background: url(../images/school/addr.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-right: 7px;margin-top: -6px}
.list li.scLi .tag{margin-top: 12px}
.list li.scLi .tag span{display: inline-block;padding: 0 12px;height: 26px;line-height: 26px;border-radius: 3px;font-size: 14px;margin-right: 10px; }
.list li.scLi .tag span.nature{background: #F1F1F1;color: #666}
.list li.scLi .tag span.slevel-1{background: rgba(56,117,255,.1);color: #3875FF}
.list li.scLi .tag span.slevel-2{background: rgba(255,43,43,.1);color: #FF2B2B}
.list li.scLi .tag span.slevel-3{background: rgba(253,126,34,.1);color: #FD7E22}
.list li.scLi .fire{position: absolute;right: 0;top: 46px;font-size: 22px;color: #343434;}
.list li.scLi .fire i{display: inline-block;width: 22px;height: 22px;background: url(../images/school/fire.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-right: 7px;margin-top: -7px}
/*热门小区*/
.list .comuLi{margin-bottom: 20px;box-shadow:1px 5px 22px 0px rgba(11,11,11,0.08);border-radius:10px;}

.list .comuLi a{display: block;height: 106px;box-sizing: border-box;padding: 22px 24px 24px 30px}
.list .comuLi .left_b{width: 70%}
.list .comuLi .left_b .tit{font-size: 20px;font-weight: bold;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 100%}
.list .comuLi .left_b .addr{font-size: 16px;color: #9A9A9A;margin-top: 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 100%}
.list .comuLi .left_b .addr i{display: inline-block;width: 18px;height: 20px;background: url(../images/school/addr.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-right: 7px;margin-top: -6px}
.list .comuLi .right_b{line-height: 58px;font-size: 18px;color: #343434}
.list .comuLi .right_b strong{font-size: 24px;color: #F0502D;margin-right: 7px;vertical-align: top;}

/*右侧浏览*/
.seeCon{width: 250px;box-shadow:0px 5px 22px 0px rgba(11,11,11,0.08);border-radius:10px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;padding: 0 20px 20px;}
.seeCon .nearSee{font-size: 18px;color: #333;font-weight: bold;padding: 20px 3px 14px;position: relative;}
.seeCon .nearSee i{position: absolute;bottom: 0;left: 0;width: 132px;height: 3px;background: #EF4F2C;}
.seeCon ul{padding-top: 10px;}
.seeCon li{font-size: 14px;color: #999;line-height: 36px;}
.seeCon li a{color: #999;display:block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 100%;}
.seeCon li span{font-size: 30px;margin-right: 5px;display: inline-block;vertical-align: middle;margin-top: -6px;}
.seeCon li.noSc p{font-size: 14px;color: #999;text-align: center;line-height: 24px;}
.seeCon li.noSc p a{color: #999;}

/*搜索结果跳转的学校列表*/
.sList .resNum{font-weight: normal;padding-top: 15px;}
.sList .resNum span{color: #EF502C;}
.sList .resNum strong{color: #000}

.list_wrap{margin-top:20px;} 
.list .empty{overflow: hidden;}
.list .empty img{display: block;
    margin: 50px auto 0;}
.loading{position: relative;     margin-top: 10px;}

/*头部筛选*/
.speFilter {margin-top: 15px;background: #fff;box-shadow: 0px 5px 22px 0px rgba(11, 11, 11, 0.08);border-radius: 10px;}
.speFilter .filter{background: #fff;box-shadow: none;margin-bottom: 0;}

/*.filter .subnav {padding: 10px; border: solid 1px #eee; background: #FAFAFA;display: none;margin-bottom: 10px;}*/
/*.filter .subnav div {display: none;} */
/*.filter .subnav a {display: inline-block;margin-bottom: 0;   padding: 3px 22px 3px 0;}*/
/*.filter .subnav a.curr{color: #F93A4D;}*/

.deletebox dl {padding: 0px 20px;line-height: 40px; position: relative;font-size: 14px;}
.deletebox dt{float: left; width: 60px; text-align: left;font-weight: bold;}

.deletebox dd a{float: left;
    white-space: nowrap;}
