<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#if $addrid#}{#$addrname#}-{#/if#}{#if $list_id#}{#$typename#}-{#/if#}商家店铺 - {#$info_title#}</title>
    <meta name="keywords" content="{#$info_keywords#}" />
    <meta name="description" content="{#$info_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/store_list.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$info_channelDomain#}', cfg_staticPath = '{#$cfg_staticPath#}', templatePath = '{#$templets_skin#}';
        var typeid = '{#$list_id#}';

        var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
        var addrid = 0, atpage = 1, totalCount = 0, pageSize = 20;
        var keywords = '{#$keywords#}';
        var list_lower = '{#$list_lower#}';
        var money = "{#echoCurrency type='symbol'#}";
    </script>
</head>

<body class="w1200">
{#$pageCurr = "store_list"#}
{#include file="../../siteConfig/top1.html"#}
<!-- 导航 s-->
{#include file="header_search.html"#}

<!-- 导航 e-->
<div class="main_wrap">
    <div class="wrap crumbs fn-clear">
        <div class="cont">
            <span>您的位置：</span>
            <a href="{#$info_channelDomain#}">{#$info_channelName#}</a>
            <s></s>
            {#if $list_id#}{#$list_crumbs#}{#else#}商家店铺{#/if#}
        </div>
    </div>

    <div class="filter_box wrap">

        <div class="filter">
            <dl class="fn-clear" id="fnav">
                <dt>分类</dt>
                <dd>
                    <div class="item_box chooseClass">
                        <a href="{#getUrlPath service=info action=store_list list_id=0 addr_id=$addrid param="keywords={#$keywords#}"#}"{#if !$list_id#} class="curr"{#/if#}>不限</a>
                        {#info action="type" return="type"#}
                        <a href="{#getUrlPath service=info action=store_list list_id=$type.id addr_id=$addrid param="keywords={#$keywords#}"#}"{#if $typeIds[0] == $type.id#} class="curr"{#/if#}>{#$type.typename#}</a>
                        {#/info#}
                    </div>
                </dd>
            </dl>
            {#if $typeIds#}
            <dl class="fn-clear" id="subnav">
                <dt></dt>
                <dd>
                    <div class="item_box chooseClass fn-clear">
                        <a href="{#getUrlPath service=info action=store_list list_id=$typeIds[0] addr_id=$addrid param="keywords={#$keywords#}"#}"{#if !$typeIds[1]#} class="curr"{#/if#}>不限</a>
                        {#info action="type" return="type" type=$typeIds[0] son="1"#}
                        <a href="{#getUrlPath service=info action=store_list list_id=$type.id addr_id=$addrid param="keywords={#$keywords#}"#}"{#if $typeIds[1] == $type.id#} class="curr"{#/if#}>{#$type.typename#}{#if $type.lower#}<s></s>{#/if#}</a>
                        {#/info#}

                        {#if ($typeIds[1] && $list_lower) || (!$list_lower && $typeIds[2])#}
                        <div class="subnav fn-clear" id="classify_subnav">
                            <div class="chooseClass" data-chose="category2_sub">
                                <a href="{#getUrlPath service=info action=store_list list_id=$typeIds[1] addr_id=$addrid param="keywords={#$keywords#}"#}"{#if !$typeIds[2]#} class="curr"{#/if#}>不限</a>
                                {#info action="type" return="type2" type=$typeIds[1]#}
                                <a href="{#getUrlPath service=info action=store_list list_id=$type2.id addr_id=$addrid param="keywords={#$keywords#}"#}"{#if $typeIds[2] == $type2.id#} class="curr"{#/if#}>{#$type2.typename#}</a>
                                {#/info#}
                            </div>
                        </div>
                        {#/if#}

                    </div>
                </dd>
            </dl>
            {#/if#}
            <dl class="fn-clear" id="addr">
                <dt>区域</dt>
                <dd class="chooseClass">
                    <a href="{#getUrlPath service=info action=store_list list_id=$list_id param="keywords={#$keywords#}"#}"{#if !$addrid#} class="curr"{#/if#}>不限</a>
                    {#info action="addr" return="addr" son="once"#}
                    <a href="{#getUrlPath service=info action=store_list list_id=$list_id addr_id=$addr.id param="keywords={#$keywords#}"#}"{#if $addrIds[0] == $addr.id#} class="curr"{#/if#}>{#$addr.typename#}{#if $addr.lower#}<s></s>{#/if#}</a>
                    {#/info#}

                    {#if $addrIds[0]#}
                    <div class="subnav fn-clear">
                        <div id="addr{#$addr1.id#}" class="chooseClass">
                            <a href="{#getUrlPath service=info action=store_list list_id=$list_id addr_id=$addrIds[0] param="keywords={#$keywords#}"#}"{#if !$addrIds[1]#} class="curr"{#/if#}>不限</a>
                            {#info action="addr" return="addr2" type=$addrIds[0]#}
                            <a href="{#getUrlPath service=info action=store_list list_id=$list_id addr_id=$addr2.id param="keywords={#$keywords#}"#}"{#if $addrIds[1] == $addr2.id#} class="curr"{#/if#}>{#$addr2.typename#}</a>
                            {#/info#}
                        </div>
                    </div>
                    {#/if#}
                </dd>
            </dl>

        </div>

        <div class="deletebox">
            <dl class="fi-state fn-clear"{#if $list_id || $addrid || $keywords#} style="display: block;"{#/if#}>
                <dt>已选</dt>
                <dd class="fn-clear">
                    {#if $list_id#}
                    <a href="{#getUrlPath service=info action=store_list list_id=0 addr_id=$addrid param="keywords={#$keywords#}"#}"><span>{#$typename#}</span><i class="idel"></i></a>
                    {#/if#}
                    {#if $addrid#}
                    <a href="{#getUrlPath service=info action=store_list list_id=$list_id param="keywords={#$keywords#}"#}"><span>{#$addrname#}</span><i class="idel"></i></a>
                    {#/if#}
                    {#if $keywords#}
                    <a href="{#getUrlPath service=info action=store_list list_id=$list_id addr_id=$addrid#}"><span>{#$keywords#}</span><i class="idel"></i></a>
                    {#/if#}
                </dd>
                <a class="btn_clear" href="{#getUrlPath service=info action=store_list#}">重置条件</a>
            </dl>
        </div>

    </div>

    <!-- 列表 -->
    <div class="wrap news_wrap fn-clear">

        <div class="new_content">
            <div class="sort_wrap">
                <div class="sortbar fn-clear">
                    <div class="tabs">
                        <ul class="fn-clear">
                            <li data-id="0" class="curr"><a href="javascript:;">全部商家</a></li>
                        </ul>
                    </div>
                </div>
                <div class="sort">
                    <ul class="fn-clear">
                        <li class="st{#if !$orderby#} curr{#/if#}"><a href="{#getUrlPath service=info action=store_list list_id=$list_id addr_id=$addrid param="keywords={#$keywords#}"#}">默认排序</a></li>
                        <li class="st{#if $orderby#} curr{#/if#}"><a href="{#getUrlPath service=info action=store_list list_id=$list_id addr_id=$addrid param="keywords={#$keywords#}&orderby=2"#}">浏览量</a></li>
                    </ul>
                </div>
            </div>
            <ul class="list_ul">

                {#info action=shopList return=slist typeid=$list_id addrid=$addrid title=$keywords orderby=$orderby pagesize="20" page=$page#}
                <li class=" list_li{#if $slist.top#} top{#/if#}">
                    <div class="left_b"><a href="{#getUrlPath service='info' action=business id=$slist.id#}" target="_blank"><img src="{#if $slist.user.photo#}{#$slist.user.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="{#$slist.user.company#}"></a></div>
                    <div class="mid_b">
                        <h2 class="new_title"><a href="{#getUrlPath service='info' action=business id=$slist.id#}" target="_blank">{#$slist.user.company#}</a></h2>
                        <div class="new_info fn-clear">
                            <span class="new_icon">{#$slist.typename#}</span>
                           {#if $slist.user.certifyState#}<span class="m_per"><i></i>身份认证</span>{#/if#}
                           {#if $slist.user.phoneCheck#}<span class="m_tel"><i></i>手机认证 </span>{#/if#}
                        </div>
                        <div class="new_phone">
                            {#if $userinfo#}
							<i></i><span class="phoneNum">{#$slist.tel#}</span>
							{#else#}
							<i></i><span class="see_phone"><a href="{#$cfg_basehost#}/login.html">登录后显示</a></span>
							{#/if#}
                        </div>
                        <div class="new_address"><i></i>{#$slist.address_[$slist.address_|count-2]#} {#$slist.address_[$slist.address_|count-1]#} {#$slist.address#}</div>
                    </div>

                    {#if $slist.product && $slist.product.list#}
                    <div class="right_b">
                        <ul class="fn-clear">
                            {#$i = 0#}
                            {#foreach from=$slist.product.list item=product#}
                            {#if $i < 2#}
                            <li>
                                <div class="li_img"><a href="{#getUrlPath service='info' template=detail id=$product.id#}" title="{#$product.title#}" target="_blank"><img src="{#if $product.litpic#}{#changeFileSize url="{#$product.litpic#}" type="small"#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="{#$product.title#}"></a></div>
                                <p class="li_text"><a href="{#getUrlPath service='info' template=detail id=$product.id#}" title="{#$product.title#}" target="_blank">{#$product.title#}</a></p>
                            </li>
                            {#/if#}
                            {#$i = $i + 1#}
                            {#/foreach#}
                            {#$i = 0#}
                        </ul>
                    </div>
                    {#/if#}
                </li>
               {#/info#}

                {#if $pageInfo.totalCount == 0#}
                <li class="empty failed"><img src="{#$templets_skin#}images/icon_faild.png"><span>没有找到符合条件的结果</span></li>
                {#/if#}
            </ul>

            {#getPageList service='info' template='store_list' list_id=$list_id addr_id=$addrid pageType='dynamic' param="keywords={#$keywords#}&orderby={#$orderby#}&page=#page#"#}
        </div>

        <div class="news_r">
			<div class="adv">{#myad title="二手信息_模板十_电脑端_广告五"#}</div>
			<div class="newr_content">
				<h2 class="newr_tit">优质商家</h2>
				<ul>
				{#info action="shopList" return="slist" orderby="2" pagesize="6" page="1"#}
					<li>
						<div class="r_top fn-clear">
							<div class="r_left"><a href="{#getUrlPath service='info' action=business id=$slist.id#}" target="_blank"><img src="{#if $slist.user.photo#}{#$slist.user.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="{#$slist.user.company#}"></a></div>
							<div class="r_right"><h3><a href="{#getUrlPath service='info' action=business id=$slist.id#}" title="{#$slist.user.company#}" target="_blank">{#$slist.user.company#}</a></h3><p>{#$slist.address_[$slist.address_|count-2]#}/{#$slist.address_[$slist.address_|count-1]#}</p></div>
						</div>
						<div class="newr_info">
							<span class="red">#{#$slist.typename#}#</span>{#$slist.notes#}</div>
					</li>
				{#/info#}
				</ul>
			</div>
		</div>

    </div>

</div>



{#include file="bottom.html"#}

<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
