body{background-color:#f2f2f2;}
/*html,body{height: 100%}*/
.l{float: left;}
.r{float: right;}
em,i{font-style: normal;}
.padTop20 .main{margin-top: 1.4rem;}
.popupRightBottom{display: none;}
.absolute.header {position: fixed;box-shadow:0px 3px 13px 0px rgba(25,30,59,0.05);}
.advBox{width: 100%;margin-bottom: .2rem}
.advBox img{width: 100%;max-height: 1.44rem;border-radius: .16rem}
/*内容部分*/
.main{padding-top: .9rem;padding-bottom:calc(1rem + constant(safe-area-inset-bottom));padding-bottom: calc(1rem + env(safe-area-inset-bottom));padding-bottom: 1rem;height: 100%;box-sizing: border-box;}
.main-left{width: 1.9rem;position: fixed;left:0;top:.9rem;bottom:1rem;overflow-y: auto;-webkit-overflow-scrolling:touch;}
.main-left::-webkit-scrollbar { display: none }
.main-left ul{width: 1.9rem;background: #fff;padding-top: .24rem}
.main-left li{position: relative;text-align: center;padding: .2rem 0}
.main-left li a{display: inline-block;font-size: .26rem;color:#333;height: .52rem;text-align: center;line-height: .52rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;padding: 0 .27rem;border-radius: .26rem}

.main-left li.active a{background:linear-gradient(90deg,rgba(247,95,66,1) 0%,rgba(242,42,24,1) 100%);color: #fff;font-weight: bold;}

.main-right{margin-left: 2.1rem;margin-right: .2rem;padding-top: .2rem;/*height: 100%;overflow: auto;position: relative;*/}
.main-right .box-con{margin-bottom: .2rem;border-radius: .16rem;padding:.26rem;background-color: #fff;}
.main-right .box-con .ultitle{font-size: .26rem;color:#000;font-weight: bold;}
.main-right .box-con ul {}
.main-right .box-con ul.brand-ul{max-height: 4.4rem;overflow-y:auto;}
.main-right .box-con ul li{width: 33.33%;float: left;text-align: center;margin:.2rem auto 0;position: relative;}
.main-right li span.hot{display: inline-block;position: absolute;right: -.15rem;
    top: -.15rem;height:.3rem;padding: 0 .12rem;font-size: .2rem;color: #fff;font-weight: bold;background:linear-gradient(90deg,rgba(255,60,138,1) 0%,rgba(248,66,53,1) 100%);border-radius:.18rem .15rem .15rem .02rem;z-index: 2}
.main-right .box-con ul li a{display: block;}
.main-right .box-con ul li .imgbox{width: 1.4rem;height: 1.4rem;margin:auto;}
.main-right .box-con ul li .imgbox img{width: 100%;height:100%;object-fit:cover;border-radius: .1rem; }
.main-right .box-con ul li .imgtxt{font-size: .22rem;color:#333;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;text-align: center;padding: .2rem 0 .1rem}

.right-box .line-title{text-align: center;font-size: .2rem;color: #999;padding: .23rem 0 .3rem}
.right-box .line-title span{display: inline-block;vertical-align: middle;}
.right-box .line-title:before,.right-box .line-title:after{content: '';display: inline-block;width: .6rem;height: 1px;background: #D3D3D5;    vertical-align: middle;margin-top: -.01rem}
.right-box .line-title:before{margin-right: .2rem;}
.right-box .line-title:after{margin-left: .2rem;}
#left-box{overflow: hidden;}
.dn{display: none;}
.huoniao_iOS .main{padding-top:0;}
.huoniao_iOS .main-left{padding-top:0; top: 0;}

