.l{float: left;}
.r{float: right;}
em,i{font-style: normal;}


/*商品列表*/
.main-list{padding-top: 2.4rem; }
.huoniao_iOS .main-list{padding-top: 1.7rem;}
.list-box {padding: .2rem;}
.list-box li{position: relative; background: #fff;border-radius: .16rem;margin-bottom:  .22rem;padding: .33rem .3rem}
.list-box li a{display: block;}
.list-box .img-box{width: 2.2rem;height: 2.2rem;float: left;overflow:hidden;border-radius: .1rem;}
.list-box .img-box img{display: block;width: 100%;height: 100%;object-fit: cover}
.list-box .txt-box{margin-left: 2.4rem;position: relative;height: 2.2rem}
.list-box .txt-box h3{font-weight: 100;font-size: .28rem;overflow: hidden;line-height: .36rem; display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;white-space: normal;color:#000;font-weight: bold;}
.list-box .txt-box span.xsq{display: inline-block;height:.28rem;
background:linear-gradient(90deg,rgba(255,84,255,1) 0%,rgba(109,61,231,1) 100%);
border-radius:.14rem;;line-height: .3rem;font-size: .2rem;padding: 0 .1rem;color: #fff;margin-top: .12rem}
.list-box .txt-price{position: absolute;left:0;right: 0;bottom: .48rem}
.list-box .txt-price span{display: inline-block;}
.list-box .txt-price span.sprice{font-size: .24rem;color: #F72A34;margin-right: .08rem;font-family: DLRG;font-weight: bold;}
.list-box .txt-price span.sprice em{font-size: .26rem;font-weight: bold;}
.list-box .txt-price span.sprice strong{font-size: .32rem;}
.list-box .txt-price span.freeBy{height:.24rem;border:1px solid #FCC2C4;border-radius:.04rem;line-height: .26rem;padding: 0 .07rem;font-size: .2rem;color: #F76A71;vertical-align: middle;margin-top: -.08rem}
.list-box .txt-price span.sellnum{font-size: .22rem;color:#999;float: right;padding-top: .03rem}

.list-box .txt-box .txt-info{font-size: .22rem;color: #999;  position: absolute;bottom: 0;right: 0;left: 0;}
.list-box .txt-box .txt-info a{display: block;color: #999;}
.list-box .txt-box .txt-info span{display: inline-block;vertical-align: top}
.list-box .txt-box .txt-info span.store-name{max-width: 1.8rem;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.list-box .txt-box .txt-info span.spos{float: right;}
.list-box .txt-box .txt-info span.goshop{color: #000;margin-left: .14rem}
.list-box .txt-box .txt-info span.goshop s{width:.22rem;height:.22rem;display:inline-block;vertical-align:middle;background:url('../images/goShop.png') no-repeat center;background-size:.22rem;margin-left: 0;margin-top: -.09rem}

.list-box .loading{line-height: 1rem; text-align: center; font-size: .26rem; margin: 1px; }




