body,html{background: #F7F4F8}
/*头部*/
.absolute.header {position: fixed;}
.soutu{height: 1rem;line-height: 1rem;background: rgba(0,0,0,0.87);border-radius: .3rem;padding: 0 .45rem 0 .33rem;position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);z-index: 1001;font-size: .24rem;color: #fff;display: none;}
.soutu i{display: inline-block;width: .6rem;height: .6rem;background: url('../images/soutu.png') no-repeat center;background-size:.6rem;margin-top: .2rem}
.soutu span{display: inline-block;vertical-align: top;margin-left: .08rem;}
/*搜索*/
.huoniao_iOS .search-form{top: 0;padding-top: .2rem}
.search-form {position: fixed;background: #fff;height: .6rem;top: .9rem;left: 0;right: 0;z-index: 99;padding:0 .3rem;transition: all .3s}
.search-form .ser_wrap{background:#F5F6FA;border-radius: .3rem }
.search-form .sobj {height:.6rem;line-height:.6rem;}
.search-form .type {position:relative;text-align: center;float: left;padding-left: .34rem;}
.search-form .type a {display:block;font-size:.24rem;color:#333;}
.search-form .type i {display:inline-block;width:.28rem;height:.28rem;margin-top:-.02rem;vertical-align:middle;margin-left:.1rem;background:url('../images/pos.png') no-repeat center;background-size:70%;}
.search-form .type label {display:inline-block;vertical-align:middle;min-width:.5rem;max-width:1.8rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size: .26rem;color: #000;}
.search-form .type s {display:inline-block;vertical-align:middle;   width: .2rem;height: .2rem;margin-left: .05rem;margin-top: 0;background:url('../images/type-arr.png') no-repeat center;background-size:.2rem;}
.search-form .inp { position: relative;margin-left: 1.4rem;}
.search-form .inp form {position:relative;display:block;color:#a0a0a0;}
.search-form .inp input{width: 100%;height: .5rem;border: none;background: none;}
.search-form .inp input::-webkit-input-placeholder {/* Chrome/Opera/Safari */color: #ADAFBA;font-size: .24rem}
.search-form .inp input::-moz-placeholder {/* Firefox 19+ */color: #ADAFBA;font-size: .24rem}
.search-form .inp input:-ms-input-placeholder {/* IE 10+ */color: #ADAFBA;font-size: .24rem}
.search-form .inp input:-moz-placeholder {/* Firefox 18- */color: #ADAFBA;font-size: .24rem}
.search-form .inp s {position:relative;width:.4rem;height:.4rem;display:inline-block;vertical-align:middle;background:url('../images/inp_s.png') no-repeat center;background-size:.4rem;margin-left: .17rem;margin-top: -2px;}
.search-form .inp #search {position:absolute;right:.1rem;top:0;color:#fff;font-size:.3rem;font-weight: bold;}
.search-form .inp .inp_wrap{width: 4.3rem;display: none;}

.search-fixForm p.fake-input{font-size: .24rem;color: #ADAFBA;padding-left: 1rem}
.search-fixForm p.fake-input i{position:relative;width:.4rem;height:.4rem;display:inline-block;vertical-align:middle;background:url('../images/inp_s.png') no-repeat center;background-size:.4rem;margin-top: -2px;}


.imgsearch {position: absolute; z-index: 10; top: .1rem;right: .25rem; width: .4rem; height: .4rem;}
.imgsearch .imgsearch-btn {width: .4rem; height: .4rem; display: block; background: url('../images/camera.png'); background-size: .4rem; background-repeat: no-repeat; }
/*.imgsearch-btn.disabled {background: url('/static/images/ajax-loader.gif'); background-size: .5rem; background-repeat: no-repeat; background-position: center;}*/
.search-fixForm .clear_inp{width: .4rem;height: .4rem;position: absolute;top: .1rem;right: .1rem;display: none}
.search-fixForm .clear_inp img{width: .4rem;height: .4rem;}

.imgsearch-holder {position: absolute; z-index: 2; top: .07rem; left: 0;  background: #919191; cursor: pointer; height: .46rem;border-radius: .23rem;padding-right: .08rem }
.imgsearch-holder:hover {border-color: #f40; background: #fff1e9; color: #f40;}
.imgsearch-holder .img-box {float: left; position: relative; height: .38rem; width: .38rem; text-align: center;margin-left: .05rem;margin-top: .04rem}
.imgsearch-holder .img-box  img {width: 100%; height: 100%; object-fit: cover;border-radius: 50%}
.imgsearch-holder .x-btn {float: left;margin-left: .08rem; line-height: 1;margin-top: .08rem;}
.imgsearch-holder .x-btn .icon-btn-x {display: inline-block;width: .3rem;height: .3rem;background: url('../images/x-btn.png'); background-size: .3rem;}

/*搜索类型选择*/
.typelist{display:none;width: 1.9rem;height: 1.3rem;position: absolute;top:.6rem;background: url('../images/type_bg.png'); background-size: 1.9rem 1.3rem;left: .3rem; z-index: 9}
.typelist.show{display: block;}
.typelist p{font-size: .28rem;color: #000;text-align: center;margin-top: .45rem}



/*筛选框*/
.huoniao_iOS .choose-tab {top: .8rem;}
.choose-tab{height: 0.9rem;line-height:.9rem;background: #fff;position: fixed;top: 1.5rem;left: 0;right: 0;z-index: 10;box-shadow:0px 3px 13px 0px rgba(25,30,59,0.05);}
.choose-tab li{width: 25%;font-size: .3rem;float: left;text-align: center;position: relative;}
.choose-tab li a{display: block;height: .88rem;line-height: .88rem;font-size: .28rem;text-align: center;color: #000;padding: 0 6px;}
.choose-tab li.active a{color: #F72A34}
.choose-tab li.moreFilter.active a span{color: #ff3451;}
.choose-tab li.moreFilter span{padding-right: .42rem}
.choose-tab li.moreFilter span:after{content: '';position: absolute;width: .32rem;height: .32rem;right: 0;top: 50%;margin-top: -.16rem;background: url(../images/chose.png) no-repeat center;background-size: cover;}
.choose-tab li.moreFilter.active span:after{background: url(../images/chose2.png) no-repeat center;background-size: cover;}
.choose-tab li span{position: relative;display: inline-block;height: .88rem;line-height: .88rem;max-width: 85%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding-right: .28rem;font-size: .28rem;}
.choose-tab li.orderby span:after{content: '';display: inline-block;width: .32rem;height: .32rem;background: url(../images/down.png) no-repeat center;background-size: cover;vertical-align: middle;margin-top: -.06rem;}
.choose-tab li.orderby.up span:after{background: url(../images/down.png) no-repeat center;background-size: cover;}
.choose-tab li.orderby.down span:after{background: url(../images/down.png) no-repeat center;background-size: cover;}

.choose-tab li.orderby.active.up span:after{background: url(../images/up.png) no-repeat center;background-size: cover;}
.choose-tab li.orderby.active.down span:after{background: url(../images/up.png) no-repeat center;background-size: cover;transform: rotate(180deg);}

.choose-tab li.active span{font-weight: bold;}
/*筛选框*/
.choose{position: relative;z-index: 10}
.choose-box{position: fixed;top: 2.4rem;left: 0;right: 0;z-index: 10}
.huoniao_iOS .choose-box{top: 1.7rem}
.choose-box .load {text-align: center; line-height: 6rem;}
.choose-local ul{min-height: 100%;}
.choose-local li{position: relative; height: .8rem;line-height: .8rem;font-size: .28rem;text-indent: .2rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.dn{display: none;}
#choose-sort{max-height: 6rem;overflow: hidden;}
#choose-info-second,#choose-info,#choose-area-second,#choose-sort,#choose-area{height: 6rem;background: #fff;}
#choose-more{height: 100%;background: #fff;width: 6.1rem!important;position: fixed;top:0;right: -100%;bottom:0; padding: .3rem .26rem;border-radius: .2rem 0 0 .2rem;    z-index: 99999999;box-sizing: border-box;}


.choose-stage-l-short{width: 49%;float: left;}
.choose-stage-r{width: 51%;float: left;display: none;}
.choose-local li.active{background: #fff;color:#ff3451;}
#choose-area li.on:before,#choose-sort li.on:before,#choose-info-second li.on:before,#choose-area-second li.on:before,#choose-sort-third li.on:before{content: '';position: absolute;width: 2px;height: 20px;background: #ff6666;left: 0;top: 50%;margin-top: -10px;}
.choose-local li.current:before{content: '';position: absolute;width: 2px;height: 20px;background: #ff6666;left: 0;top: 50%;margin-top: -10px;}
.choose-local{background: #fff; width: 100%; max-height: 6rem;}
.choose-local.info-screen{}
.choose-more li span{margin-right: .2rem;color: #bbb;}
.confirm{z-index: 9;position: absolute;bottom:.88rem;right:0;left: 0;display: flex;justify-content: space-between;    padding: .2rem .34rem 0;}
.confirm:before{content: '';display: block;width: 100%;height: .8rem;background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);position: absolute;bottom: .92rem;left: 0;pointer-events: none;}
.confirm a{display:inline-block;color: #000;width: 2.6rem;height: .72rem;line-height:.72rem;border-radius: .36rem;text-align: center;box-sizing: border-box;font-size:.26rem;font-weight: bold;background: #fff}
.confirm a.btn_reset{border: 1px solid #E6E7ED; }
.confirm a.btn_confirm{background:linear-gradient(90deg,rgba(247,95,66,1) 0%,rgba(242,42,24,1) 100%);color: #fff;}


.back{height: .8rem;line-height: .8rem;text-align: center;font-size: .3rem;background: #fff;border-top: 1px solid #ff6666;}
.back a{color: #ff6666;}
.more-box{position: absolute;left: 0;right: 0;top: 0;background: #fff;z-index: 111;height: 6rem;}
#choose-more-second{height: 6rem;}
#choose-info-second ul{min-height: 100%;}
.h100{min-height: 100%;}
.choose-stage-c{width: 51%;float: left;display: none;height: 6rem;overflow: hidden;}
.choose-stage-th{width: 33.3%;float: left;height: 6rem;overflow: hidden;display: none;}
#choose-sort-third{background: #ddd;border-bottom: none;}
#choose-more-second ul{display: none;}

#info-box .fchoose{height: 6rem;box-sizing: border-box; background: #fff;}
#choose0{background: #f2f2f2;}
.choose-more-search{height: 88%;overflow-y: auto;}
.choose-more-search::-webkit-scrollbar { display: none }
.arrow1 {padding-right: 1rem;}
.arrow1:after {content: ""; position: absolute; right: .1rem; top: 50%; width: .3rem; height: .3rem; margin-top: -.15rem; background: url('../images/right.png') no-repeat; background-size: cover;}

.drop-type{border-bottom: 1px solid #f1f1f1;}
.drop-type ul{padding: .2rem 0 .4rem 0;}
.drop-type ul li{display: inline-block;height: .5rem;line-height: .5rem;margin: .04rem;border: 1px solid #d8cfcf;border-radius: .3rem;padding: 0 .4rem;font-size: .24rem;}
.drop-type ul li.active{background: #ef4949;border-color: #ef4949}
.drop-type ul li.active a{color: #fff;}
.drop-range h3{padding: .8rem 0 .32rem; font-size: .26rem;color:#000;font-weight: bold;}
.drop-range h3 i.addr_down{display: inline-block;width: .32rem;height: .32rem;background: url('../images/addr_down.png') no-repeat; background-size: .32rem;float: right;}
.drop-range h3 i.addr_down.addr_up{transform: rotate(180deg);}
.drop-range input{width: 2.6rem;outline: 0;background:#F5F6FA;border-radius: .08rem;border:none;height: .6rem; font-size: .24rem;text-indent: .27rem}
.drop-range input:placeholder{color: #BEBFC4}
.drop-range span{margin:0 .03rem;font-size: .26rem;color:#000;}
.drop-range.small-area,.drop-range.middle-area{display: none;}
.drop-range.small-area.show,.drop-range.middle-area.show{display: block;}
.select-drop .confirm{text-align: center;padding: .2rem 0;}
.select-drop .confirm a{display: block;width: 2rem;border-radius: .1rem;background-color: #ef4949;color: #fff;height: .7rem;margin: 0 auto;line-height: .7rem;}
.drop-range .drop_con{font-size: 0;}
.drop-range .drop_con a{font-size: .24rem;width: 1.7rem;height: .56rem;border: 1px solid #F5F6FA;border-radius: .08rem;line-height: .6rem;background: #F5F6FA;display: inline-block;margin-right: .15rem;margin-bottom: .15rem;text-align: center;position: relative; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.drop-range .drop_con a:nth-child(3n){margin-right: 0}
.drop-range .drop_con a.curr{border: 1px solid #F72A34;color: #F72A34;background: #fff;}
.drop-range .drop_con a.curr:after{content: '';display: inline-block;width: .34rem;height: .32rem;background: url('../images/checked.png') no-repeat; background-size: cover;position: absolute;right: 0;bottom: 0}

/*遮罩层*/
.mask{height: 100%;width: 100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;bottom:0;z-index: 100;display: none;}
.disk{height: 100%;width: 100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;bottom:0;z-index: 9;display: none;}
.disk2{height: 100%;width: 100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;bottom:0;z-index: 9;display: none;z-index: 9999999}
.list-box .loading{font-size: .24rem;color: #999}
.list-box .loading i{display: block;width: 2.8rem;height: 2.8rem;background: url('../images/ico_cart.png') no-repeat; background-size: 2.8rem;margin:1.6rem auto 0;}
@font-face {
  font-family: "DLRG";
  src: url("/static/fonts/DINMittelschriftStd.woff2"),
       url("/static/fonts/DINMittelschriftStd.woff"),
       url("/static/fonts/DINMittelschriftStd.ttf"),
       url("/static/fonts/DINMittelschriftStd.eot"),
       url("/static/fonts/DINMittelschriftStd.otf");
}
