body{background-color:#fff;}
body,html{}
#navBox_4{z-index: 100003 !important}
.header{z-index: 100002}
.topfixed.nav_box{position: fixed; top: 0; left: 0; right: 0;}
.more_nav{ width: .3rem; height: .3rem; background-size: .3rem; background-image: url(../images/more.png); background-repeat: no-repeat; background-position: center; background-color: #fff; position: absolute; right:.05rem; top: .1rem; padding:.15rem .2rem; }
.more_nav:before{content: ''; display: block; width: .3rem; height: .6rem; position: absolute; left: -.3rem; top: 0;z-index: 1;
 background: -webkit-linear-gradient(left, rgba(255,255,255,0) , rgba(255,255,255,1)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, rgba(255,255,255,0) , rgba(255,255,255,1)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right,rgba(255,255,255,0) , rgba(255,255,255,1)); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, rgba(255,255,255,0) , rgba(255,255,255,1)); /* 标准的语法 */}

.nav_box{width: 100%;  background-color: #fff; position: relative; box-shadow:0px 3px 13px 0px rgba(25,30,59,0.05); overflow-y: hidden; height: .76rem; z-index: 100001;padding-bottom: .14rem;line-height: .9rem}
.nav_box>ul.f_nav{  margin-right: .8rem; white-space: nowrap; overflow-x: auto; position: relative; }
.nav_box>ul.f_nav::-webkit-scrollbar {display: none;  width: 0;}

.nav_box>ul.f_nav>li{ margin-right: .56rem; text-align: center; display: inline-block; position: relative; }
.nav_box>ul.f_nav>li:first-child{margin-left: .4rem}
.nav_box>ul.f_nav>li a{ font-size: .28rem;  position: relative; display: block;line-height: .66rem;}
.nav_box>ul.f_nav>li.s_nav a>i{content: ''; display: inline-block; width: 0; height: 0; border:solid .1rem rgba(0,0,0,0); border-top:solid .1rem #5c5c5c; position: absolute; top: .3rem; right: -.1rem; }
.nav_box>ul.f_nav>li.s_nav a{padding-right: .24rem;}
.nav_box>ul.f_nav>li.active:after{content: ''; display: block; width: .5rem; height: .08rem !important; border-radius: .04rem; background:linear-gradient(90deg,rgba(247,95,66,1) 0%,rgba(242,42,24,1) 100%); position: absolute; left: 50%; bottom: 0; transform: translate(-50%,0);}
.nav_box>ul.f_nav>li.active a{color:#000 ;font-weight: bold;font-size: .32rem}
.nav_box>ul.f_nav>li:last-child{margin-right: .2rem}
/*导航所有内容*/
.huoniao_iOS .nav_all{padding-top: 0}
.nav_all.top0{padding-top: 0}
.nav_all{width: 100%;  position: fixed; left: 0; top:-100%;background-color: #fff; z-index: 100000; overflow: auto; padding-top: .9rem;padding-bottom: .6rem;border-radius:0px 0px .2rem .2rem;}
.close_btn{float: right; width: .3rem; height: .3rem; background-position: center; background-size: .3rem; background-repeat: no-repeat; background-image: url(../images/upclose.png); margin-top: .24rem;}
.nav_all h2{ font-size: .32rem; color: #000;font-weight: bold;padding: 0 .26rem .14rem .4rem;box-shadow:0px 3px 13px 0px rgba(25,30,59,0.05);height: .76rem;line-height: .9rem}
.nav_all ul{ margin:.4rem .3rem; overflow: auto;}
.nav_all ul li{width: 1.56rem; height: .68rem; border-radius: .08rem; background-color: #F5F6FA; float: left; margin-right: .22rem; margin-bottom: .3rem;box-sizing: border-box;}
.nav_all ul li:nth-child(4n){margin-right: 0; }
.nav_all ul li a{display: block; color: #333; text-align: center; line-height: .68rem; font-size: .26rem;}
.nav_all li.nav_on {    border: 1px solid #F72A34;background: #fff;position: relative;}
.nav_all li.nav_on a{color: #F72A34;}
.nav_all li.nav_on:after{content: '';display: inline-block;width: .34rem;height: .32rem;background: url('../images/checked.png') no-repeat; background-size: cover;position: absolute;right: 0;bottom: 0}

.nav_all .cancel{height: .76rem;line-height: .76rem;border: 1px solid #F72A34;border-radius: .38rem;text-align: center;font-size: .26rem;color: #F72A34;font-weight: bold;margin-left: .3rem;margin-right: .3rem;margin-top: 1.54rem}
.mask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,0.67);display: none;z-index: 99999}
/*列表*/
.container .swiper-slide{padding: 0 .3rem;box-sizing: border-box;}
.container li{padding: .3rem 0;border-bottom: 1px solid #f5f5f7}
.container li a{display: block;}
.container li .news_l {height: 1.5rem}
.container li .news_l h2{font-size: .32rem;color: #000;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;height: .88rem;line-height: .42rem;margin-top: .05rem}
.container li .news_l .newsInfo{margin-top: .27rem;font-size: 0}
.container .newsInfo i.hot{display: inline-block;width: .62rem;height: .32rem;background: url(../images/hot.png) no-repeat;background-size: .62rem .32rem;margin-right: .09rem;vertical-align: middle;}
.container .newsInfo i.see{display: inline-block;width: .3rem;height: .3rem;background: url(../images/see.png) no-repeat;background-size: .3rem;margin-left: .27rem;margin-right: .06rem;vertical-align: middle;}
.container .newsInfo em{display: inline-block;font-size: .22rem;color: #A6A7AB;vertical-align: middle;}
.container li .news_r{width: 2.3rem;height: 1.5rem;float: right;margin-left: .3rem;}
.container li .news_r img{width: 100%;height: 100%;object-fit: cover;display: block;border-radius: .1rem;}

.container li .loading.nomore{font-size: .26rem;text-align: center;}

.loading{padding:.6rem 0;text-align: center; }
.loading img{width: 2rem !important; height: .28rem; display: block; margin: auto;}




