/*查看更多*/
.morebox{height: .66rem;line-height: .66rem;border-radius: .04rem;background: #fff;text-align: center;}
.morebox a{font-size: .28rem;color:#808080;}

/*底部*/
/* .footer_4_3{position: fixed; bottom: 0; left: 0; right: 0; background: #fff; box-shadow:0px -3px 13px 0px rgba(25,30,59,0.05); font-size: .2rem; -webkit-animation: FadeIn .15s ease-out; -moz-animation: FadeIn .15s ease-out; animation: FadeIn .15s ease-out;z-index: 99;padding-top:.1rem;height: .88rem;}
.footer_4_3 ul{display: -webkit-box;}
.footer_4_3 ul li{position: relative; -webkit-box-flex: 1; text-align: center;}
.footer_4_3 ul li a{display: block;color: #313233}
.footer_4_3 ul li i{display: block; width: .48rem; height: .48rem; margin: 0 auto;}
.footer_4_3 ul li.ficon1 i{background: url(../images/aficon11.png) center center no-repeat; background-size: auto .48rem;}
.footer_4_3 ul li.ficon2 i{background: url(../images/aficon22.png) center center no-repeat; background-size: auto .48rem;}
.footer_4_3 ul li.ficon3 i{background: url(../images/aficon33.png) center center no-repeat; background-size: auto .48rem;}
.footer_4_3 ul li.ficon4 i{background: url(../images/aficon44.png) center center no-repeat; background-size: auto .48rem;}
.footer_4_3 ul li.ficon5 i{background: url(../images/aficon55.png) center center no-repeat; background-size: auto .48rem;}
.footer_4_3 ul li.ficon3 em.cart{display: block;position: absolute; background: #FF5E4D; color: #fff; height: .34rem; min-width: .34rem; border-radius: .18rem; top: -.08rem; left: .85rem;font-size: .2rem;line-height: .3rem;border: solid .03rem #fff;padding-left: .04rem;padding-right: .04rem; box-sizing: border-box;}
.footer_4_3 li.ficon4 em{display: block;position: absolute; background: #FF5E4D; color: #fff; height: .34rem; min-width: .34rem; border-radius: .18rem; top: -.08rem; left: .85rem;font-size: .2rem;line-height: .3rem;border: solid .03rem #fff;padding:0  .04rem; box-sizing: border-box;} */


/* .footer_4_3 ul li.ficon1.active i{background: url(../images/aficon1.png) center center no-repeat; background-size: auto .48rem;}
.footer_4_3 ul li.ficon2.active i{background: url(../images/aficon2.png) center center no-repeat; background-size: auto .48rem;}
.footer_4_3 ul li.ficon3.active i{background: url(../images/aficon3.png) center center no-repeat; background-size: auto .48rem;}
.footer_4_3 ul li.ficon4.active i{background: url(../images/aficon4.png) center center no-repeat; background-size: auto .48rem;}
.footer_4_3 ul li.ficon5.active i{background: url(../images/aficon5.png) center center no-repeat; background-size: auto .48rem;} */
.footer_4_3 ul.red_ul li.icon_on p{color: #F73725}

/* 浏览器端扫码提示 */
.wechat-popup {position: fixed; width: 6.8rem; top: calc(50% - 3rem); left: calc(50% - 3.4rem); z-index: 99999; visibility: hidden;}
.wechat-popup:before {position: fixed; z-index: 1; display: block; content: ''; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);}
.wechat-popup .con {display: -webkit-box; position: relative; z-index: 2; padding: 50px 10px 20px; background: #fff; -webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out;}
.wechat-popup .close {position: absolute; right: .2rem; top: .2rem; width: .5rem; height: .5rem; border: 1px solid #dcdcdc; border-radius: 50%; line-height: .4rem; text-align: center; color: #dcdcdc; font-size: .5rem; font-weight: 100;}
.wechat-popup dl {-webkit-box-flex: 1; text-align: center; margin: 0 5px;}
.wechat-popup dl img {width: 94%; height: 94%; max-width: 3rem; max-height: 3rem; margin: 0 auto; padding: 3%; border: 1px solid #eee; display: block;}
.wechat-popup dd {line-height: 1.5em; padding-top: 5px;}

/*加载中样式*/
.loading{height: .4rem; margin: .5rem auto;line-height: .4rem;text-align: center;font-size: .26rem;}
.loading span{display: inline-block;width: .09rem;height: .09rem;margin-right: .1rem;border-radius: 50%;background: #ff3451;-webkit-animation: load 1.04s ease infinite;}
.loading span:last-child{margin-right: 0; }
@-webkit-keyframes load{0%{opacity: 1;}100%{opacity: 0;}}
.loading span:nth-child(1){-webkit-animation-delay:0.06s;}
.loading span:nth-child(2){-webkit-animation-delay:0.12s;}
.loading span:nth-child(3){-webkit-animation-delay:0.18s;}
.loading span:nth-child(4){-webkit-animation-delay:0.24s;}
.loading span:nth-child(5){-webkit-animation-delay:0.3s;}
.loading span:nth-child(6){-webkit-animation-delay:0.36s;}


/*选择规格*/
.flyer-img{width: 1.5rem; height: 1.5rem; border-radius: 100%;z-index: 999;}
.size-box{position: fixed; bottom: -200%; left: 0; right: 0; background: #fff;border-radius: .3rem .3rem 0 0; z-index: 10000003; font-size: .28rem; transition: all .1s;box-shadow:0px -3px 13px 0px rgba(25,30,59,0.05);padding-bottom:calc(-.45rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.45rem + env(safe-area-inset-bottom));}
.size-selected{position: relative;padding: .4rem .4rem .4rem;overflow: hidden;}
.size-selected .closed{position: absolute; width: .5rem; height: .5rem; display: block; background: url(../images/sclose.png) center center no-repeat; background-size: .5rem auto; right: .2rem; top: .2rem;}
.size-img{float:left;width: 1.8rem; height: 1.8rem;  background: #fff;margin-right:.26rem;border-radius: .1rem;box-shadow:0px 3px 23px 0px rgba(0, 0, 0, 0.09);}
.size-img img{display: block; width: 100%; height: 100%;border-radius: .1rem;object-fit: cover}
.size-txt{float:left; font-size: .3rem;width:69%;margin-top: .2rem;}
.size-txt p{margin-top: .08rem;}
.size-txt .price{color: #ED2832; font-size: .28rem; margin-top: .45rem;font-weight: bold;font-family: DLRG;}
.size-txt .price em{font-size: .3rem;font-weight: bold;}
.size-txt .price b{font-size: .44rem;}
.size-txt .count,.size-txt .guige{color:#6F7280;font-size: .22rem;}
.size-txt .count b{font-weight: bold;color: #000}
.scrollbox{min-height: 5rem;max-height: 7rem; overflow-y: auto;position: relative;}
.scrollbox:after{content: '';display: block;width: 100%;height: .8rem;background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);position: absolute;bottom: 0;left: 0;pointer-events: none;}
/*.scrollbox.indexscrollbox{height:4rem }*/
.sys_item{padding: 0 .4rem;}
.sys_item dt{font-size: .26rem; margin: .1rem 0 .2rem;font-weight: bold;}
.sys_item dt em{font-size: .22rem;color: #ED2832;font-weight: bold;margin-left: .1rem}
.sys_item dd{padding-bottom: .1rem;}
.sys_item dd a{padding: 0 .1rem; background: #F5F6FA; border:solid 1px #F5F6FA;border-radius: .28rem; display: block; float: left; margin: 0 .2rem .2rem 0;height: .56rem;box-sizing: border-box;line-height: .56rem;font-size: .24rem;min-width: 1rem;text-align: center; display: flex; align-items: center; justify-content: center; padding-right: .2rem;}
.sys_item dd a i{display: inline-block; margin-right: .12rem;}
.sys_item dd a i img{display: block; width: .4rem; height: .4rem; border-radius: 50%; object-fit: cover;}
.sys_item dd a.selected{border:solid 1px #F72A34; color: #F72A34;background: #fff}
.sys_item dd a.disabled{color: #C3C0C3;}
.size-count{padding: .2rem 0 1rem; margin: 0 .3rem 0 .3rem;}
.size-count-tit{float: left; line-height: .8rem;}
.sizeBtn{float: right;border:solid 1px #f2f2f2; border-radius: .08rem;}
.sizeBtn .numbtn{font-size: .3rem; background: #f5f5f5;  display: inline-block; width: .52rem; height: .52rem; text-align: center;line-height: .5rem;}
.sizeBtn .numbtn.reduce{border-radius: .08rem 0 0 .08rem;}
.sizeBtn .numbtn.add{border-radius: 0 .08rem .08rem 0;}

.sizeBtn .shop-count,.sizeBtn .count{ -webkit-appearance: none;display: inline-block;border:none;width: .88rem;text-align: center; font-size: .28rem;line-height: .5rem;}
.size-confirm {padding: .1rem .3rem .4rem;position: relative;}

.size-confirm a{display: block; text-align: center;height:.72rem;line-height: .72rem;    background-image: -moz-linear-gradient( 0deg, rgb(246,83,56) 0%, rgb(242,42,24) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(246,83,56) 0%, rgb(242,42,24) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(246,83,56) 0%, rgb(242,42,24) 100%);color: #fff; font-size: .26rem;border-radius: .36rem;font-weight: bold;}


.size-html.on{border: 1px dashed #ff3451; box-sizing: border-box;}
.guige-tips{display: none; color: #ff3451; position: absolute; right: .2rem; background: #fff; z-index: 99;}



.sizeHide{animation: sizebox_hide .5s;-moz-animation: sizebox_hide .5s;-webkit-animation: sizebox_hide .5s;-o-animation: sizebox_hide .5s;animation-fill-mode: forwards;}
.sizeShow{animation: sizebox_show .5s;-moz-animation: sizebox_show .5s;-webkit-animation: sizebox_show .5s;-o-animation: sizebox_show .5s;animation-fill-mode: forwards;}

@keyframes sizebox_hide {0% {bottom: 0;}100% {bottom: -200%;}}
@keyframes sizebox_show {0% {bottom: -200%;}100% {bottom: 0;}}

@font-face {
  font-family: "DLRG";
  src: url("/static/fonts/DINMittelschriftStd.woff2"),
       url("/static/fonts/DINMittelschriftStd.woff"),
       url("/static/fonts/DINMittelschriftStd.ttf"),
       url("/static/fonts/DINMittelschriftStd.eot"),
       url("/static/fonts/DINMittelschriftStd.otf");
}

/*遮罩层*/
.mask{height: 100%;width: 100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;z-index: -1;transition: all .4s;opacity: 0;}
.disk{height: 100%;width: 100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;z-index: 9;display: none;}

