

/*列表*/
.main-list{padding-top: 2.4rem; }
.huoniao_iOS .main-list{padding-top: 1.7rem;}
.list-box ul{padding: .22rem .2rem;}
.list-box ul .shopBox {border-radius: .16rem;padding:.32rem .3rem;overflow:hidden;background-color: #fff;margin-bottom: .22rem}
.sbotop{position: relative;}
.goShop{font-size: .22rem;color: #000;position: absolute;    right: -.13rem;top: .05rem;}
.goShop i.go{display: inline-block;vertical-align: middle;width: .32rem;height: .32rem;background: url(../images/goShop.png) no-repeat center center;background-size: .32rem;margin-top: -.05rem}
.sbleft{width: .64rem;height: .64rem;overflow:hidden;border-radius: .1rem;margin-right: .17rem;float: left;box-shadow:0px 3px 10px 0px rgba(0, 0, 0, 0.07);}
.sbleft a{display: block;width: .64rem;height: .64rem;}
.sbleft img{width: 100%;height: 100%;object-fit: cover;}
.sbright{float: left;}
.sbright a{display: block;}
.sbright h3{font-size: .26rem;margin-bottom: 0;max-width: 3.5rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: inline-block;font-weight: bold;margin-top: -.05rem}
.sbright .toptag{display: inline-block;height:.3rem;padding: 0 .12rem;font-size: .2rem;color: #fff;font-weight: bold;
background:linear-gradient(90deg,rgba(255,60,138,1) 0%,rgba(248,66,53,1) 100%);border-radius:.18rem .15rem .15rem .02rem;margin-left: .1rem;vertical-align: top;margin-top: -.01rem;line-height: .32rem}
.sbright p{font-size: .22rem;color:#ADAFBA;}

.sbomain{padding-top:.3rem ;display: -webkit-box;}
.sbomain .nogoodBox{text-align: center;background: #F5F5F7;border-radius: .1rem;height: 2.06rem;line-height: 2.06rem;font-size: .24rem;color: #5C5C5E;width: 100%}
.sbomain .goBox{-webkit-box-flex:1;width: 2.06rem; margin-right: .16rem;position: relative;}
.sbomain .goBox:last-child{margin-right: 0;}
.sbomain .goBox .good_box{width: 100%;height: 2.06rem;border-radius: .1rem;overflow: hidden;}
.sbomain .goBox img{width: 100%;height: 100%;object-fit: cover;}
.sbomain .goBox .fcover { background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,1));background: -o-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,1)); background: -moz-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,1)); background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));height: .8rem;line-height:.8rem;position: relative;bottom: .8rem;color:#fff;padding:0 .07rem;}
.sbomain .goBox .fcover p{overflow:hidden;text-overflow:ellipsis;white-space: nowrap;font-size: .26rem;}
.sbomain .goBox .good_txt{padding-top:.2rem;color:#F72A34;font-size: .24rem;font-family: DLRG;font-weight: bold;}
.sbomain .goBox .good_txt strong{font-size: .32rem;}
.sbomain .goBox .good_txt em{font-size: .26rem;font-weight: bold;}
.sbofoot{display: -webkit-box;padding-bottom: .2rem;}
.sbofoot .sbf{-webkit-box-flex:1;text-align: center;}
.sbofoot .sbf a{color:#808080;font-size: .28rem;}
.sbofoot .sbf i.contact{display: inline-block;width: .3rem;height: .3rem;background: url(../images/contactIcon.png) no-repeat center center;background-size: .3rem;vertical-align: middle;margin-top:-.07rem;margin-right: .2rem;}



.loading{line-height: 1rem; text-align: center; font-size: .26rem; margin: 1px; }