@charset "utf8";
html {background:#fff;padding-bottom:constant(safe-area-inset-bottom);padding-bottom:env(safe-area-inset-bottom);}
body {width:100%;height:100%;}
.header{position: fixed;top:0;left: 0;right: 0;}
.topBox{position: fixed;top: .9rem;left: 0;right: 0;background: #fff;z-index: 9}
.huoniao_iOS .topBox{top:0}
/*搜索框*/
.search {height:.56rem;background:#F7F7F7;border-radius:.28rem;overflow:hidden;position: relative;margin: .25rem .3rem 0; margin-left: 2rem;}
.search form{position: absolute;left: 1.86rem;top: .14rem;right: 0;}
.search input {border:none;width:90%;outline:0;background:none;font-size:.26rem;vertical-align: top;}
.search i {background: url(../images/ss_btn.png) no-repeat;background-size:.26rem;display:inline-block;width:.26rem;height:.26rem;vertical-align:middle;display: inline-block;margin-top: -.02rem}
.search input::placeholder{color: #999}
.search form.slideL {
    animation:btn_show .3s;
    -moz-animation:btn_show .3s;/* Firefox */     
    -webkit-animation:btn_show .3s;/* Safari 和 Chrome */     
    -o-animation:btn_show .3s;
    animation-fill-mode:forwards;}

@keyframes btn_show {
    0% {left:1.36rem;}
    100% {left:.36rem;}
}
/*头部导航*/
.nav_box{width: 100%;  background-color: #fff;padding-bottom: .18rem;    margin-top: .3rem;position: relative;}
.nav_box>ul.f_nav{ margin-left:.28rem;  white-space: nowrap; overflow-x: auto; position: relative; font-size: 0}
.nav_box>ul.f_nav::-webkit-scrollbar {display: none;  width: 0;}
.nav_box:before{content: ''; display: block; width: .88rem; height: .75rem; position: absolute; right: 0rem; top: -.06rem;z-index: 1; background-image: -moz-linear-gradient( 0deg, rgba(255,255,255,0) 0%, rgba(253,253,253,0.96) 47%, rgb(253,253,253) 49%);
  background-image: -webkit-linear-gradient( 0deg, rgba(255,255,255,0) 0%, rgba(253,253,253,0.96) 47%, rgb(253,253,253) 49%);
  background-image: -ms-linear-gradient( 0deg, rgba(255,255,255,0) 0%, rgba(253,253,253,0.96) 47%, rgb(253,253,253) 49%);}
.nav_box>ul.f_nav>li{ margin-right: .5rem; text-align: center; display: inline-block; position: relative; padding-bottom: .02rem;}
.nav_box>ul.f_nav>li a{color: #333; font-size: .28rem; position: relative; display: block;line-height: .54rem;}
.nav_box>ul.f_nav>li.active:after{content: ''; display: block; width: .36rem; height: .06rem !important; border-radius: .03rem;background: linear-gradient(90deg, #F45E2C 0%, #FF8822 100%);position: absolute; left: 50%; bottom: 0; transform: translate(-50%,0);}
.nav_box>ul.f_nav>li.active a{font-size: .32rem;color: #000;font-weight: bold;}
.nav_box>ul.f_nav>li:last-child{margin-right: .6rem}
/*轮播图*/
.BannerBox{width: 100%; height: 3.7rem; margin-top: .28rem;padding-top: 2.6rem}
.huoniao_iOS .BannerBox{padding-top: 1.6rem}
.BannerBox .adv_banner1{width: 100%; height: 3.7rem; position: relative;}
.BannerBox .swiper-container {background: #fff;}
.BannerBox .bd.swiper-wrapper .swiper-slide{width: 6.7rem !important; height: 3.7rem !important; border-radius: .2rem; position: relative; overflow: hidden; margin: auto; }
.BannerBox .bd.swiper-wrapper .swiper-slide:nth-child(1){ margin-left: .35rem;}
.BannerBox .bd.swiper-wrapper .swiper-slide a{display: block;}
.bd .swiper-slide img{width: 100%; height: 100%; object-fit: cover; display: block;}
.bd .swiper-slide .siteAdvObj{width: 100%; height: 100%;}
.adv_banner1 .slideinfo{position: absolute;color: #fff;left: .3rem;right: .24rem;bottom: .3rem}
.adv_banner1 .slideinfo h3{float: left;width: 4.5rem;}
.adv_banner1 .slideinfo h3 a{width: 4.5rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: .32rem;color: #fff;font-weight: bold;}
.adv_banner1 .slideinfo p{float: right;font-size: .24rem;margin-top: .06rem}
/*公共样式*/
.comBox{padding: 0 .2rem;}
.comBox li {margin-right: .1rem;float: left;}
.comBox li:nth-child(2n){margin-right: 0;}
.comTitle{padding-bottom: .18rem;}
.comTitle strong{font-size: .36rem;color: #333;}
.comTitle a{font-size: .26rem;color: #999;float: right;margin-top: .04rem;}

.comBox li .top_img{position: relative;width: 3.5rem;height: 1.94rem;border-radius: .06rem;overflow: hidden;}
.comBox li .top_img a{display: block;width: 100%;height: 100%;}
.comBox li .top_img img{width: 100%;height: 100%;object-fit: cover;}
.comBox .top_img .scInfo{position: absolute;left: 0;right: 0;bottom: 0;box-sizing: border-box;padding: 0 .2rem;height: .6rem;line-height: .6rem;font-size: .22rem;color: #fff;background: linear-gradient(0deg, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100%);}
.comBox .top_img .scInfo .time{float: right;font-size: .24rem;}
.comBox .top_img .scInfo .see em{font-size: .24rem}
.comBox .top_img .need{position: absolute;top: .1rem;right: .1rem;}
.comBox .top_img .need span{display: inline-block;margin-left: .1rem;height: .32rem;line-height: .32rem;padding: 0 .12rem;font-size: .22rem;color: #fff;border-radius: .06rem;}
.comBox .top_img .need span.money{background: #FB6E0C;}
.comBox .top_img .need span.vip{background: #E7B220;}
.comBox .vInfo h3 a{padding-top: .14rem;width: 3.3rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: .28rem;font-weight: bold;display: block;}
.comBox .fbInfo{margin-top: .1rem;}
.comBox .fbInfo a{display: block;}
.comBox .fbInfo .lImg{float: left;width: .5rem;height: .5rem;border-radius: 50%;overflow: hidden;}
.comBox .fbInfo .lImg img{width: 100%;height: 100%;object-fit: cover}
.comBox .fbInfo h4{float: left;margin-left: .08rem;width: 2.8rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: .26rem;color: #666;height: .5rem;line-height: .5rem}
/*没有轮播图事*/
.tjBox.noBanner{padding-top:2.5rem;}
.huoniao_iOS .tjBox.noBanner{padding-top:1.5rem;}
/*推荐*/
.tjBox .comTitle{margin-top: .38rem}
/*最热视频*/
.hotBox .comTitle{padding-top: .58rem}
.hotBox li.firstLi{width: 100%;margin-right: 0;margin-bottom: .34rem}
.hotBox.comBox li:nth-child(2){margin-right: .1rem} 
.hotBox.comBox li:nth-child(3){margin-right: 0} 
.comBox.hotBox li.firstLi .top_img{width: 100%;height: 3.93rem;}
.comBox.hotBox li.firstLi .vInfo h3 a{width: 100%;}
.comBox.hotBox li.firstLi .fbInfo .lImg{width: .6rem;height: .6rem;}
.comBox.hotBox li.firstLi .fbInfo h4{width: 6.1rem;height: .6rem;line-height: .6rem}
/*最新视频*/
.newBox{padding-bottom: 1rem}
.newBox .comTitle{padding-top: .58rem}
.newBox .loading{line-height: .8rem;font-size: .26rem;text-align: center;}
.comBox.newBox li{margin-bottom: .3rem}


.search_head{background-color: #fff;}
.search_head .areaChose{float: left; font-size: .28rem; color: #313233; display: flex; align-items: center; justify-content: center; width: 1.7rem; margin-left: .2rem; margin-top: .1rem;}
.search_head .areaChose span{display: block; max-width: 1.45rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.search_head .areaChose:after{content: ''; display: block; width: .2rem; height: .2rem; background: url(/static/images/d_arr.png) no-repeat center; background-size: cover; margin-left: .08rem;}
.search_head .search_box{margin-left: 1.8rem;}