@charset "utf8";
html {padding-bottom:constant(safe-area-inset-bottom);padding-bottom:env(safe-area-inset-bottom);}
.topBg{width: 100%;height: 2.89rem;background:url(../images/topbg.png) no-repeat center;background-size:100% 2.89rem; }

.per_data {margin:0 .3rem;}
.per_data .personalImg {float:left;width:1.7rem;height:1.7rem;overflow:hidden;border-radius:50%;box-sizing: border-box;border: .06rem solid #fff;margin-top: -.2rem}
.per_data .personalImg img {width:100%;height:100%;object-fit: cover}

.per_data .perInfo {margin-left:2rem;}
.per_data .perInfo .cout{padding-top: .2rem;font-size: 0;padding-left: .05rem;}
.per_data .perInfo .cout p{display: inline-block;font-size: .27rem;color: #777;width: 50%;}
.per_data .perInfo .cout strong{font-family: "coregtd";font-size: .4rem;color: #313233;margin-right: .06rem}
.per_data .follow {display:block;margin-top:.15rem;background:#FF4F11;font-size: .3rem;color: #fff;font-weight: bold;height: .6rem;line-height: .6rem;border-radius: .3rem;width: 100%;text-align: center;}
.per_data .add_follow i{display: inline-block;width: .32rem;height: .32rem;background:url(../images/addFollow.png) no-repeat center center;background-size:.32rem;vertical-align: top;margin-right: .08rem;margin-top: .12rem;}
/*简介*/
.proCon {padding: .5rem .3rem .38rem;}
.proCon h3.perName{font-size: .4rem;color: #313233;font-weight: bold;}
.proCon .pro{position: relative;margin-top: .26rem}
.proCon .proDetail{font-size: .28rem!important;color: #666!important;line-height: .45rem!important;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;padding-right: .5rem;margin-right: .6rem;}
.proCon .proDetail.active{display: block;padding-right: .1rem;margin-right: 0;padding-bottom: .3rem;text-align: justify;}
.proCon em.zk{font-size: .28rem;color: #134181;    position: absolute;right: 0;bottom: .05rem;}
/*专辑列表*/
.zjList{padding: 0 .2rem;}
.zjList li {margin-right: .1rem;float: left;margin-bottom: .28rem}
.zjList li:nth-child(2n){margin-right: 0;}
.zjList li .top_img{position: relative;width: 3.5rem;height: 3.5rem;border-radius: .12rem;overflow: hidden;}
.zjList li .top_img a{display: block;width: 100%;height: 100%;}
.zjList li .top_img img{width: 100%;height: 100%;object-fit: cover;}
.zjList .vInfo h3{padding-top: .14rem;width: 3.3rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: .32rem;font-weight: bold;display: block;}
.zjList .vInfo p.vNum{font-size: .26rem;color: #666;}
.zjList .loading{line-height: .8rem;font-size: .26rem;text-align: center;}
/*关注成功*/
.sucAdd{position: fixed;left: 50%;margin-left: -1.1rem;top: 50%;margin-top: -.4rem;width: 2.2rem;text-align: center;background: rgba(7,1,3,.77);border-radius: .12rem;overflow: hidden;display: none;}
.sucAdd p{font-size: .26rem;color: #fff;font-weight: bold;text-align: center;height: .8rem;line-height: .8rem}
@font-face {
    font-family: "coregtd";
    src: url("/static/fonts/coregtd6.woff2"),
       url("/static/fonts/coregtd6.woff"),
       url("/static/fonts/coregtd6.ttf"),
       url("/static/fonts/coregtd6.eot"),
       url("/static/fonts/coregtd6.otf");
}