@charset "utf8";
html {background:#fff;padding-bottom:constant(safe-area-inset-bottom);padding-bottom:env(safe-area-inset-bottom);}
body {width:100%;height:100%;}
.header{position: fixed;top: 0;left: 0;right: 0;}
.searchBox{position: fixed;top: .9rem;left: 0;right: 0;box-sizing: border-box;padding: 0 .3rem;}
.searchBox .inp{float: left;background: #F5F6F8;height: .58rem;border-radius: .29rem;width: 6rem;box-sizing: border-box;padding: .13rem .1rem 0 .3rem;position: relative;}
.searchBox input {border:none;width:70%;outline:0;background:none;font-size:.26rem;vertical-align: top;}
.searchBox i {background: url(../images/search_icon.png) no-repeat;background-size:.3rem;display:inline-block;width:.3rem;height:.3rem;vertical-align:top;margin-right: .2rem}
.searchBox span{font-size: .3rem;font-weight: bold;float: right;display: inline-block;height: .58rem;line-height: .58rem;vertical-align: top;}
.searchBox .clear_inp{width: .4rem;height: .4rem;position: absolute;top: .08rem;right: .13rem;display: none}
.searchBox .clear_inp img{width: .4rem;height: .4rem;}
/*公共样式*/
.comBox{padding: 0 .2rem;}
.comBox li {margin-right: .1rem;float: left;}
.comBox li:nth-child(2n){margin-right: 0;}
.comBox li .top_img{position: relative;width: 3.5rem;height: 1.94rem;border-radius: .06rem;overflow: hidden;}
.comBox li .top_img a{display: block;width: 100%;height: 100%;}
.comBox li .top_img img{width: 100%;height: 100%;object-fit: cover;}
.comBox .top_img .scInfo{position: absolute;left: 0;right: 0;bottom: 0;box-sizing: border-box;padding: 0 .2rem;height: .6rem;line-height: .6rem;font-size: .22rem;color: #fff;background: linear-gradient(0deg, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100%);}
.comBox .top_img .scInfo .time{float: right;font-size: .24rem;}
.comBox .top_img .scInfo .see em{font-size: .24rem}
.comBox .top_img .need{position: absolute;top: .1rem;right: .1rem;}
.comBox .top_img .need span{display: inline-block;margin-left: .1rem;height: .32rem;line-height: .32rem;padding: 0 .12rem;font-size: .22rem;color: #fff;border-radius: .06rem;}
.comBox .top_img .need span.money{background: #FB6E0C;}
.comBox .top_img .need span.vip{background: #E7B220;}
.comBox .vInfo h3 a{padding-top: .14rem;width: 3.3rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: .28rem;display: block;color: #333}
.comBox .vInfo h3 a em.red{color: #FF494A}
.comBox .fbInfo{margin-top: .1rem;}
.comBox .fbInfo a{display: block;}
.comBox .fbInfo .lImg{float: left;width: .5rem;height: .5rem;border-radius: 50%;overflow: hidden;}
.comBox .fbInfo .lImg img{width: 100%;height: 100%;object-fit: cover}
.comBox .fbInfo h4{float: left;margin-left: .08rem;width: 2.8rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: .26rem;color: #666;height: .5rem;line-height: .5rem}

/*最新视频*/
.newBox {padding-bottom: 1rem;padding-top: 1.8rem}
.newBox .loading{line-height: .8rem;font-size: .26rem;text-align: center;}
.comBox.newBox li{margin-bottom: .36rem}
