@charset "utf8";
html {background:#fff;padding-bottom:constant(safe-area-inset-bottom);padding-bottom:env(safe-area-inset-bottom);}
.loading{text-align: center; line-height: .6rem; color: #999; padding: .4rem;}
.videoWrap{position: relative;}
/*vip 付费样式*/
.needWrap{position: absolute;left: 0;right: 0;top: 0;background: rgba(0,0,0,.85);box-sizing: border-box;padding: .85rem .2rem .22rem;text-align: center;bottom: -.01rem;z-index: 2}

.needWrap h2.tit{font-size: .36rem;color: #fff;font-weight: bold;}
.needWrap p.tip{font-size: .24rem;color: #fff;margin-top: .2rem;margin-bottom: .4rem;}
.needWrap .needA{display: inline-block;height: .9rem;border-radius: .45rem;line-height: .9rem;font-size: .3rem;color: #fff;font-weight: bold;width: 2.94rem;text-align: center;}
.needWrap .needA.money{background: linear-gradient(90deg, #FF973A 0%, #FF6225 100%);}
.needWrap .needA.levelVip{background: linear-gradient(90deg, #FEC19F 0%, #FFEBC4 100%);color: #621C05}
.needWrap .has{text-align: right;font-size: .22rem;color: #BABABA;margin-top: .46rem;}
.needWrap .has a{color: #FEC2A0}

.vipNeed{padding: .2rem;background:url(../images/needBg.png) no-repeat center center;background-size:100% 1.28rem;}
.vipNeed .needCon{height: .88rem;line-height: .88rem;background: linear-gradient(90deg, #FEC19F 0%, #FFEBC4 100%);border-radius: .44rem;width: 100%;padding: 0 .4rem;box-sizing: border-box;text-align: left;}
.vipNeed .needCon span{color: rgba(32,1,0,.8);font-size: .28rem}
.vipNeed .needCon a{float: right;font-size: .32rem;color: #200100;font-weight: bold;}

/*全屏*/
.video-box{position: relative;height: 4.2rem;}
.video-box video,.vIframe{height: 4.2rem;display: block;overflow: hidden;border: none}
.fullscreen-box{width:100%;height:100%;background:#000;}
.fullscreen-box{position:fixed;z-index:1000000;top:0;left:0;bottom:0;-webkit-animation:bounceInDown .6s ease-out;-moz-animation:bounceInDown .6s ease-out;animation:bounceInDown .6s ease-out;}
.fullscreen-box video,.fuuscreen-box .video-box {height:100%;position:relative;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);}
.fullscreen-box .vClose,.videoModal .vClose {position:absolute;top:.2rem;right:.2rem;width:.5rem;height:.5rem;display:block;background:url(../images/vclose.png) no-repeat center center;background-size:.5rem;z-index:11;}
@-webkit-keyframes bounceInDown {0% {opacity:0;-webkit-transform:translateY(-2000px);transform:translateY(-2000px)}
60% {opacity:1;-webkit-transform:translateY(30px);transform:translateY(30px)}
80% {-webkit-transform:translateY(-10px);transform:translateY(-10px)}
100% {-webkit-transform:translateY(0);transform:translateY(0)}
}
@-moz-keyframes bounceInDown {0% {opacity:0;-webkit-transform:translateY(-2000px);transform:translateY(-2000px)}
60% {opacity:1;-webkit-transform:translateY(30px);transform:translateY(30px)}
80% {-webkit-transform:translateY(-10px);transform:translateY(-10px)}
100% {-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes bounceInDown {0% {opacity:0;-webkit-transform:translateY(-2000px);-ms-transform:translateY(-2000px);transform:translateY(-2000px)}
60% {opacity:1;-webkit-transform:translateY(30px);-ms-transform:translateY(30px);transform:translateY(30px)}
80% {-webkit-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px)}
100% {-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
}
/*视频播放*//*控制条*/
#video-control {width:100%;position:absolute;bottom:0;left:0;display:flex;display:-webkit-flex;align-items:center;-webkit-box-align:center;padding:5px 0;background-image:linear-gradient(-180deg,rgba(0,0,0,.3),rgba(0,0,0,.5));}
.btn-control {width:5%;float:left;padding-left:10px}
#video-control .play {width:.3rem;height:.3rem;background:url(../images/m_detail_video_icon.png) no-repeat;background-size:1.2rem;background-position:0 0;}
#video-control .pause {width:.3rem;height:.3rem;background:url(../images/m_detail_video_icon.png) no-repeat;background-size:1.2rem;background-position:0 -.4rem;}
.time {color:#fff;float:left;width:9%;font-size:.26rem;margin-left:.1rem;}
#progress {float:left;width:55%;height:5px;background:#fff;border-radius:5px;margin-left:.2rem;position:relative}
#bar {width:0;height:100%;background:#0598e7;border-radius:3px;display:inline-block;position:absolute;top:0;left:0}
#control {width:.2rem;height:.2rem;position:absolute;border-radius:100%;left:0;top:-2.2px;background:#fff}
.soundon {width:.4rem;height:.4rem;background:url(../images/soundon.png) no-repeat;background-size:.4rem;margin-left:.2rem;}
.soundoff {width:.5rem;height:.5rem;background:url(../images/soundoff.png) no-repeat;background-size:.5rem;margin-left:.2rem;}
#volume {float:left;width:15%;height:5px;background:#fff;box-shadow:1px 1px 2px 2px #232;border-radius:5px;margin-left:2px;position:relative}
#volume-bar {width:10%;height:100%;background:#ccc;border-radius:3px;display:inline-block;position:absolute;top:0;left:0}
#volume-control {width:15px;height:15px;position:absolute;border-radius:100%;left:0;top:-4px;background:#fff;box-shadow:1px 1px 2px 2px #132}
.full {width:.5rem;height:.5rem;float:left;margin-left:.5rem;transition:.3s all;background:url(../images/m_detail_video_icon.png) no-repeat;background-position:0 -.85rem;background-size:1.4rem;}
.full.small {width:.5rem;height:.5rem;float:left;margin-left:.5rem;transition:.3s all;background:url(../images/m_detail_video_icon.png) no-repeat;background-position:0 -1.3rem;background-size:1.4rem;}
video::-webkit-media-controls-enclosure {overflow:hidden}
video::-webkit-media-controls-panel {width:calc(100% + 35px)}
/*按钮组合*/
.video-btn {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%)}
.load-box,.play-box,.reload-box {background:rgba(0,0,0,.4);border-radius:50%;text-align:center;width:1rem;height:1rem;position:relative}
.pause-icon,.play-icon {display:block;width:.4rem;height:.4rem;background:url(../images/m_detail_video_icon.png)no-repeat;background-size:1.48rem}
.play-icon {background-position:0 0;margin-left:.4rem;position:absolute;top:.3rem}
.pause-icon {background-position:0-.45rem;margin-left:.32rem;position:absolute;top:.3rem}
.load-icon {width:.5rem;height:.5rem;display:block;position:absolute;top:.24rem;left:.23rem;background:url(../images/load.png)no-repeat;background-size:.52rem;animation:loading 2s linear infinite;-webkit-animation:loading 2s linear infinite}
@keyframes loading {0% {transform:rotate(1turn)}
to {transform:rotate(0deg)}
}
.reload-icon {display:block;position:relative;top:50%;left:25%;transform:translateY(-50%);width:.5rem;height:.5rem;background:url(../images/m_detail_video_icon.png)no-repeat;background-size:1.48rem;background-position:0-1.94rem}
.reload-box p {display:none;white-space:nowrap;line-height:.16rem;color:#fff;font-size:.15rem;margin-left:.1rem}
.error-box .reload-box {border:1px solid#fff;border-radius:100px;padding:.08rem.5rem;display:flex;display:-webkit-flex;align-items:center;width:auto;height:auto;background:none}
.error-box .reload-icon {top:auto;left:auto;transform:translateY(0)}
.err-info {font-size:.14rem;color:#fff;line-height:.16rem;margin-bottom:.2rem}
.error-box p {display:block}

/*播放按钮*/
.line14{width: 100%;height: .14rem;background: #F2F3F5}
/*主体部分*/
.name_title {padding:.18rem .2rem;background:#fff;}
.name_title .user_img,.name_title .user_txt {float:left;}
.name_title .user_img {height:.5rem;width:.5rem;overflow:hidden;border-radius:50%;margin-top: .1rem}
.name_title .user_img img {height:100%;width:100%;object-fit: cover}
.name_title .guanzhu {float:right;border-radius:.22rem;color:#fff;background:#FF4F11;margin-top:.12rem;height: .44rem;line-height: .44rem}
.name_title .guanzhu i{display: inline-block;width: .24rem;height: .24rem;background:url(../images/add2.png) no-repeat center center;background-size:.24rem;vertical-align: top;margin-right: .07rem;margin-top: .09rem;}
.name_title .guanzhu a{display: block;color: #fff;padding:0 .18rem;}


.name_title .user_txt {font-size:.24rem;margin-left:.2rem;}
.name_title .user_txt p:first-child {font-size:.24rem;}
.name_title .user_txt p:last-child {color:#808080;font-size:.2rem;padding-top:.04rem;}
.name_title .user_txt p:last-child span {margin-right:.2rem;}

.tabBox{height: .9rem;line-height: .9rem;box-shadow: 4px 3px 13px 0px rgba(0, 0, 0, 0.05);background: #fff;padding:0 .2rem;box-sizing: border-box;z-index: 9}
.tabBox.topFixed{position: fixed;left: 0;right: 0;top: 0;}
.tabBox ul{display: flex;justify-content: space-around;}
.tabBox ul li a{font-size: .3rem;color: #000;}
.tabBox ul li.active a{font-weight: bold;position: relative;}
.tabBox ul li.active a:after{content: '';display: inline-block;width: .3rem ;height: .06rem;border-radius: .03rem;background: #FF4F11;position: absolute;left: 50%;margin-left: -.15rem;bottom: -.1rem}

.listWrap .sameList{display: none;}
.listWrap .sameList.show{display: block;}
/*评论列表*/
.comment_list {overflow:auto;}
.comment_list ul li {border-bottom:1px solid #f2f2f2;margin:0 .2rem;padding-top:.3rem;}
.comment_list ul li .com_img {float:left;height:.8rem;width:.8rem;overflow:hidden;border-radius:50%;}
.comment_list ul li .com_img img {height:.8rem;width:.8rem;}
.comment_list ul li .con_txtList {padding-left:.92rem;}
.comment_list ul li .con_txtList .txt_name {font-size:.26rem;color:#808080;padding:.06rem 0;}
.comment_list ul li .con_txtList .txt_title {color:#404040;font-size:.27rem;padding:.12rem 0 .16rem 0;}
.comment_list ul li .con_txtList .reply_list {background:#f2f2f2;padding:0 .2rem .2rem .2rem;}
.comment_list ul li .con_txtList .reply_list p {padding-top:.2rem;font-size:.25rem;color:#666666;line-height:.39rem;}
.comment_list ul li .con_txtList .reply_list p span {color:#3b86bf;}
.comment_list ul li .con_txtList .while {color:#999999;padding:.2rem 0;font-size:.23rem;}
.comment_list ul li .con_txtList .while .t_date,.comment_list ul li .con_txtList .while .t_time {float:left;margin-right:.2rem;}
.comment_list ul li .con_txtList .while .dianzan {float:right;background:url(../images/dianzan.png) no-repeat left center;background-size:.28rem;padding-left:.4rem;}
.comment_list ul li .con_txtList .while span.active {background:url(../images/dianzan_s.png) no-repeat left center;background-size:.28rem;}
/*底部评论输入框*/
.Bottom_inputBox {position:fixed;bottom:0;width:100%;height:1rem;background:#fff;box-shadow:0px -2px 8px #ececec;padding-bottom:constant(safe-area-inset-bottom);padding-bottom:env(safe-area-inset-bottom);z-index:10000000;}
.Bottom_inputBox .search {height:.68rem;width:5.4rem;border-radius:.6rem;line-height:.68rem;float:left;margin-left:.2rem;overflow:hidden;margin-top:.16rem;}
.Bottom_inputBox .search input {border:none;height:.6rem;width:5rem;outline:0;padding-left:.4rem;background:#f2f2f2;background-size:.26rem;font-size:.25rem;border-radius:.6rem;}
input::-webkit-input-placeholder {color:#b2b2b2 !important;}
input:-moz-placeholder {color:#b2b2b2 !important;}
input::-moz-placeholder {color:#b2b2b2 !important;}
input:-ms-input-placeholder {color:#b2b2b2 !important;}
.Bottom_inputBox .information,.Bottom_inputBox .fabulous {float:left;margin-top:.16rem;margin-left:.34rem;}
.Bottom_inputBox .information img,.Bottom_inputBox .fabulous img {height:.38rem;}
.Bottom_inputBox .information p,.Bottom_inputBox .fabulous p {font-size:.2rem;color:#999999;}
.Bottom_inputBox .fasong {float:left;height:.58rem;line-height:.58rem;width:1.4rem;background:#34b0ff;color:#fff;border-radius:.6rem;text-align:center;margin-top:.22rem;margin-left:.2rem;display:none;}
.Bottom_inputBox .information {position:relative;margin-right:.1rem;}
.Bottom_inputBox .information span {position:absolute;top:-.1rem;left:0.2rem;display:inline-block;background:linear-gradient(to right,#ffa63c,#ff4d5d);color:#fff;line-height:1;padding:.04rem .1rem;font-size:.2rem;border-radius:.3rem;border:1px solid #fff;}
.Bottom_inputBox .information i {background:url(../images/xinxi.png) no-repeat center;background-size:.38rem;display:inline-block;height:.38rem;width:.38rem;}
.Bottom_inputBox .fabulous i {background:url(../images/dianzan.png) no-repeat center;background-size:.38rem;display:inline-block;height:.38rem;width:.38rem;}
.Bottom_inputBox .fabulous i.active {background:url(../images/dianzan_s.png) no-repeat center;background-size:.38rem;}
/*图层蒙版*/
.mask {position:fixed;top:0;bottom:0;left:0;right:0;z-index:100002;display:none;background: rgba(0,0,0,.6);}
.disk {position:fixed;top:0;bottom:0;left:0;right:0;z-index:100002;display:none;background: rgba(0,0,0,.6);}

/*商品列表*/
.good_list{padding: 0 .3rem;}
.good_list li a{display: block;padding: .3rem 0;border-bottom: 1px solid #f5f5f7}
.good_list .goodImg{float: left;width: 1.8rem;height: 1.8rem;overflow: hidden;border-radius: .12rem;position: relative;}
.good_list .goodImg img {height:100%;width:100%;object-fit: cover}
.good_list .goodImg em{position: absolute;top: 0;left: 0;display: inline-block;background: rgba(0,0,0,.5);border-radius: .12rem 0px .12rem 0px;height: .3rem;line-height: .3rem;padding: 0 .16rem;font-size: .24rem;color: #fff;}
.good_list .goodInfo {margin-left: 2.04rem;position: relative;height: 1.8rem;}
.good_list .goodInfo h3{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;height: .7rem;line-height: .38rem;font-size: .26rem;color: #333;padding-top: .06rem}
.good_list .goodInfo p.price{font-family: "coregtd";font-size: .26rem;color: #FF4F11;margin-top: .4rem;font-weight: bold;}
.good_list .goodInfo p.price strong{font-size: .36rem;}
.good_list .goodInfo span.goBuy{display: inline-block;position: absolute;right: 0;bottom: .12rem;
height: .6rem;line-height: .6rem;padding: 0 .36rem;font-size: .28rem;color: #fff;
background: linear-gradient(90deg, #F45E2C 0%, #FF8822 100%);border-radius: .3rem;}
/*专辑列表*/
.albumlist{padding: .3rem .2rem 1rem;}
.albumlist li {margin-right: .1rem;float: left;margin-bottom: .36rem}
.albumlist li:nth-child(2n){margin-right: 0;}
.albumlist li .top_img{position: relative;width: 3.5rem;height: 1.94rem;border-radius: .06rem;overflow: hidden;}
.albumlist li .top_img a{display: block;width: 100%;height: 100%;}
.albumlist li .top_img img{width: 100%;height: 100%;object-fit: cover;}
.albumlist .top_img .scInfo{position: absolute;left: 0;right: 0;bottom: 0;box-sizing: border-box;padding: 0 .2rem;height: .6rem;line-height: .6rem;font-size: .22rem;color: #fff;background: linear-gradient(0deg, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100%);}
.albumlist .top_img .scInfo .time{float: right;font-size: .24rem;}
.albumlist .top_img .scInfo .see em{font-size: .24rem}
.albumlist .top_img .need{position: absolute;top: .1rem;right: .1rem;}
.albumlist .top_img .need span{display: inline-block;margin-left: .1rem;height: .32rem;line-height: .32rem;padding: 0 .12rem;font-size: .22rem;color: #fff;border-radius: .06rem;}
.albumlist .top_img .need span.money{background: #FB6E0C;}
.albumlist .top_img .need span.vip{background: #E7B220;}
.albumlist .vInfo h3 a{padding-top: .14rem;width: 3.3rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: .28rem;font-weight: bold;display: block;}
.albumlist .fbInfo{margin-top: .1rem;}
.albumlist .fbInfo a{display: block;}
.albumlist .fbInfo .lImg{float: left;width: .5rem;height: .5rem;border-radius: 50%;overflow: hidden;}
.albumlist .fbInfo .lImg img{width: 100%;height: 100%;object-fit: cover}
.albumlist .fbInfo h4{float: left;margin-left: .08rem;width: 2.8rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: .26rem;color: #666;height: .5rem;line-height: .5rem}

/*付费弹窗*/
.moneyAlert{background: #fff;text-align: center;position: fixed;bottom: -100%;left: 0;right: 0;
box-shadow: 0px 5px 31px 0px rgba(29, 37, 75, 0.11);padding-bottom: .8rem;
border-radius: .4rem .4rem 0px 0px;z-index: 10000000;}
.moneyAlert:before{content: '';width: 100%;height: 3.05rem;background:url(../images/mg.png) no-repeat center;background-size:100% 3.05rem;display: block;position: absolute;top: 0;left: 0}
.moneyAlert s.mBg{display: inline-block;width: 5.3rem;height: 3.6rem;background:url(../images/moneyBg.png) no-repeat center;background-size:5.3rem 3.6rem;margin-bottom: .45rem;margin-top: .33rem;z-index: 2;position: relative;}
.moneyAlert p.payTip{font-size: .28rem;color: #A6A7AB;}
.moneyAlert p.payPrice{font-size: .4rem;color: #313233;margin-top: .45rem}
.moneyAlert p.payPrice strong{font-size: .56rem;}
.moneyAlert a{display: inline-block;width: 5.6rem;text-align: center;height: 1rem;background: linear-gradient(90deg, #FF973A 0%, #FF6225 100%);box-shadow: 0px 3px 13px 0px rgba(255, 1, 0, 0.23);border-radius: .1rem;font-size: .32rem;font-weight: bold;color: #fff;line-height: 1rem;margin-top: .7rem}

/*付费成功*/
.paySuc{position: fixed;left: 50%;margin-left: -1.6rem;top: 50%;margin-top: -1.4rem;width: 3.2rem;text-align: center;background: rgba(7,1,3,.77);border-radius: .2rem;overflow: hidden;padding-bottom: .4rem;display: none;}
.paySuc i.sucIcon{display: inline-block;width: 1rem;height: 1rem;background:url(../images/paysuc.png) no-repeat center;background-size:1rem;margin-top: .4rem;margin-bottom: .28rem}
.paySuc p{font-size: .26rem;color: #fff;font-weight: bold;text-align: center;}
/*关注成功*/
.sucAdd{position: fixed;left: 50%;margin-left: -1.1rem;top: 50%;margin-top: -.4rem;width: 2.2rem;text-align: center;background: rgba(7,1,3,.77);border-radius: .12rem;overflow: hidden;display: none;}
.sucAdd p{font-size: .26rem;color: #fff;font-weight: bold;text-align: center;height: .8rem;line-height: .8rem}
@font-face {
    font-family: "coregtd";
    src: url("/static/fonts/coregtd6.woff2"),
       url("/static/fonts/coregtd6.woff"),
       url("/static/fonts/coregtd6.ttf"),
       url("/static/fonts/coregtd6.eot"),
       url("/static/fonts/coregtd6.otf");
}