body{overflow: hidden;}

/* LGOO */
.header {margin:40px auto 20px;}
.header .logo {float: left;width: 400px;max-width: 400px;height: 61px; margin-top: -5px;}
.header .logo a {display: block;overflow: hidden;float: left;}
.header .logo a:hover {text-decoration: none;}
.header .logo h2 {float: none;margin-bottom: 6px;line-height: 47px;font-size: 24px;color: #333; margin-top: 8px; display: none;}
.header .shortname {display: none;}
.header .shortname p{font-size: 16px; color: #b5b5b5; display: none;}
.header .logo span {font-size: 13px;color: #999;}
.header .logo img {float: left;margin-right: 10px;vertical-align: middle;}

.header .kefu {float: right;}
.header .kefu dt ,.header .kefu dd {float: left;}
.header .kefu dd {margin-left: 15px;}
.header .kefu dt img {margin-top: 3px;width: 44px;height: 43px;}
.header .kefu p {white-space: nowrap;}
.header .kefu .p1 {font-size: 14px;color: #333;}
.header .kefu .p2 {font-size: 20px;}

.container{position: relative; width:100%; }
.container .bgimg {position: absolute; top: 0; left: 50%; margin-left: -958px; z-index: 1; height: 310px;}
.container .bg {position: relative; z-index: 2; height: 310px;}
.container .bg h3 {font-size: 30px; color: #fff; text-align: center; line-height: 100px; padding-top: 20px; font-weight: 700;}
.container .bg .step {width: 50%; margin: 0 auto;}

.progressbar {margin: 15px; padding: 0; text-align: center; margin-bottom: 30px; overflow: hidden; counter-reset: step; z-index: 99;}
.progressbar li {list-style-type: none; font-size: 14px; float: left; position: relative; opacity: .6; color: #fff;}
.progressbar li:before {content: counter(step); counter-increment: step; width: 30px; line-height: 30px; display: block; font-size: 18px; color: #3568fd; font-weight: 700; background: white; border-radius: 30px; margin: 0 auto 10px auto;}
.progressbar li:after {content: ''; width: calc(100% - 60px); height: 3px; background: white; position: absolute; left: calc((-100% + 60px) / 2); top: 12px;}
.progressbar li:first-child:after {content: none;}
.progressbar li.ok, .progressbar li.active {opacity: 1;}
.progressbar li.ok:before {content: '√';}
.progressbar li.active:before, .progressbar li.active:after {color: #3568fd;}

.container .main {position: relative; z-index: 3; padding: 25px; background-color: #fff; min-height: 500px; margin-top: -80px; box-shadow:0px 3px 43px 0px rgba(123,175,255,0.2); border-radius:20px;}
.container .main .subtitle {position: relative; padding: 5px 20px 40px 100px; border-bottom: 1px solid #eee;}
.container .main .subtitle s {position: absolute; left: 15px; top: 5px; width: 60px; height: 60px; border-radius: 50%; background: #5598ff; border: 6px solid #fff; box-shadow:0px 0px 40px 0px rgba(117,176,255,0.61);}
.container .main .subtitle s img {width: 50px; height: 50px; display: block; margin: 5px auto;}
.container .main .subtitle h5 {font-size: 24px; color: #3a3a3a; font-weight: 700; margin-top: 8px;}
.container .main .subtitle p {font-size: 14px; color: #a3a3a3; margin-top: 2px;}
.container .main .item {display: none;}

.form {padding: 80px 0;}
.form dl {margin-bottom: 20px;}
.form dt {float: left; width: 180px; margin-right: 5px; text-align: right; font-size: 16px; line-height: 45px;}
.form dd {position: relative; overflow: hidden;}
.form dd .inp {float: left; height: 45px; border: 1px solid #e1e1e1; border-radius:4px; overflow: hidden;}
.form dd .inp input {border: none; height: 45px; outline: 0; text-indent: 20px; font-size: 16px;}
.form dd .areaCode {position: relative; float: left; width: 85px; height: 26px; line-height: 26px; border-right: 1px solid #eee; background: #fff; top: 10px; left: 1px; text-align: left!important; text-indent: 15px!important; font-size: 16px;}
.form dd .areaCode s {top: 11px; right: 13px; border: 6px solid transparent; border-top-color: #666; border-radius: 4px;}
.form dd .getCodes {position: relative; width: 120px; height: 47px; float: left; margin-left: 10px; background: #2D78FF; font-size: 14px; line-height: 47px; text-align: center; border-radius:4px;}
.form dd .getCodes.disabled {background-color: #ccc; cursor: no-drop;}
.form dd .getCodes:hover {color: #fff;}
#phone {width: 340px;}
#vercode {width: 265px;}
#realname, #idcard {width: 400px;}

.areaCode_wrap {left: 185px; top: 46px;}

.wechatObj {text-align: center; padding: 50px 0;}
.wechatObj img {width: 240px; height: 240px; display: block; margin: 0 auto;}
.wechatObj p {font-size: 16px; margin-bottom: 15px;}

.item-card .license, .item-card .front, .item-card .behind {float: left; width: 264px; margin-right: 20px; text-align: center;}
.item-card .upobj {width: 264px; height: 186px; overflow: hidden; position: relative;}
.item-card .front .upobj {background: url('../images/front.png') no-repeat center; background-size: cover;}
.item-card .behind .upobj {background: url('../images/behind.png') no-repeat center; background-size: cover;}
.item-card .license p, .item-card .front p, .item-card .behind p {color: #999; line-height: 50px;}
.item-card .tip {line-height: 18px; color: #999; margin-top: 20px;}
.item-card .tip img {display: inline-block; margin-right: 5px; vertical-align: text-top; width: 18px;}

.item-card .list-holder {width: 262px; height: 184px; min-width: 262px; margin: 1px; position: absolute; left: 0; top: 0; z-index: 1;}
.item-card .list-holder li {width: 262px; height: 184px; float: none; margin: 0; background: #fff; padding: 0;}
.list-holder li img {display: block; width: 262px; height: 184px;}
.list-holder li a.li-rm {display: none;}

/* 营业执照 */
.item-card .license {width: 200px; margin-right: 0;}
.item-card .license .upobj {width: 198px; height: 138px; border: 1px dashed #A4C7FF; border-radius: 4px;}
.item-card .license .list-holder {width: 198px; height: 138px; min-width: 198px;}
.item-card .license .list-holder li, .item-card .license .list-holder li img {width: 198px; height: 138px;}
.item-card .license .webuploader-pick {padding-top: 35px;}
.item-card .license-btn {position: absolute; left: 0; top: 0; z-index: 1; right: 0; bottom: 0; padding-top: 30px;}
.item-card .license-icon {width: 64px; height: 51px; display: block; margin: 0 auto; background: url('../images/pic.png') no-repeat center; background-size: 64px 51px;}
.item-card .license-tip p {text-align: center; color: #999; font-size: 14px;}
.license-tip {float: left; margin-left: 20px;}
.license-tip img {width: 147px; height: 107px; display: block;}
.license-tip p {font-size: 14px; color: #999; text-align: center; margin-top: 10px;}

.upobj .uploadinp {width: 100%; height: 100%; border: 0; margin: 0; float: none; opacity: 0; z-index: 2; display: block!important;}
.webuploader-pick {height: 100%;}

.auditState {display: none; padding: 160px 0; text-align: center;}
.auditState.state2, .auditState.state3 {display: block;}
.auditState .state3 {display: none;}
.auditState s {width: 64px; height: 64px; display: block; margin: 0 auto;}
.auditState s img {width: 60px;}
.auditState h3 {padding: 20px 100px; font-size: 30px; font-weight: 700; color: #3a3a3a; line-height: 45px;}
.auditState p {font-size: 16px; color: #a3a3a3; margin-top: -10px;}


.confirm, .recertify {display: inline-block; height: 50px; line-height: 50px; background-color: #fc5e20; background:linear-gradient(90deg,rgba(255,111,8,1) 0%,rgba(250,74,61,1) 100%); border-radius:4px; padding: 0 40px; color: #fff; font-size: 18px; margin-top: 10px;}
.confirm:hover, .confirm.disabled, .recertify:hover {color: #fff;}
