.tip {height: 16px; padding: 30px 0 25px; line-height: 16px; font-size: 14px; color: #666;}
.tip s {float: left; width: 16px; height: 16px; margin-right: 5px; background: url('../images/pubSprite.png') -36px -37px;}

.connect {}
.connect li {height: 70px; padding: 0 20px 0 23px; line-height: 70px; font-size: 16px;background-color: #f6f6f6;margin-bottom: 10px;}
.connect li:hover {background-color: #f1f1f1;}
.connect .l {float: left;}
.connect .fail .l {color: #343434;font-weight: bold;}
.connect .l img {vertical-align: middle; margin-right: 12px;width: 40px;height: 40px;}
.connect .lCon{display: table-cell;height: 70px;vertical-align: middle;width: 89%;}
.connect .lCon div{margin: 0 auto;}
.connect .lCon h2{line-height: 1;font-weight: bold;color: #333;font-size: 18px}
.connect .lCon p{font-size: 14px;color: #999;line-height: 1;margin-top: 6px;}
.connect .r { font-size: 14px;    display: table-cell;
    vertical-align: middle; }
.connect li:hover .r {border-color: #d5d5d5;}
.connect .r a {color: #027CFF; display: block; padding: 0 20px;height: 34px;line-height: 34px;background: #DCEDFF;border-radius: 3px;border: 1px solid #DCEDFF;    white-space: nowrap;}
.connect .r a:hover {text-decoration: underline;}
.connect .fail .r a {color: #fff;background: #027CFF;border: 1px solid #027CFF;}
.connect .r a.disabled {color: #adadad; padding: 0 33px 0 35px;}
.connect .r a.disabled img {vertical-align: middle; margin-top: -3px;}
.connect .r a:hover.disabled {text-decoration: none;}