
/*添加标签*/
.tip-input {position: relative;float: left;margin: 0px 10px;}
.house-tip {display: block;border: 1px solid #F4F4F4;width: 70px;height: 38px;padding:0 20px 0 10px;outline: none;}
.del {position: absolute;right: 0px;top: 14px;width: 20px;height: 20px;background: url('../images/tip-delete.png') no-repeat;background-size: 12px 12px;}
.del:hover{cursor: pointer;}
.desk{position: fixed;top:0;bottom:0;left:0;right:0;background: #000;opacity: 0.6;filter: alpha(opacity=60);z-index: 1003;}

/*添加红娘*/
.desk-add-maker .error {position: absolute;left: 57px;bottom: 99px;}
.desk-add-maker .error p {width: 282px;height:20px;color: #f90e34;display: none;padding:0 10px;text-align: center;}
.desk-add-maker{position: fixed;top:50%;left:50%;z-index: 1004;background: #fff;padding:20px 40px;-moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius: 4px;margin-left: -216px;margin-top: -196px;}
.desk-add-maker .sure-add{text-align: center;margin: 40px 0 30px 0;}
.desk-add-maker .sure-add input{font-size: 16px;color:#fff;background: #f90e34;padding:7px 15px;-moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius: 4px;outline: none;border:none;cursor: pointer;}
.add-maker-form dl dt{width:80px;text-align: right;float: left;}
.add-maker-form dl dd{float: left;}
.add-maker-close{position: relative;}
.add-maker-close img{position: absolute;top:-6px;right:-24px;}

.door-form{margin-top: 35px;}
.door-form dl{margin-top: 20px;}
.door-form dl dt{float: left;font-size: 16px;margin-right: 10px;line-height: 35px;}
.door-form .inp{float: left;border: 1px solid #d8d8d8;border-radius: 5px;padding: 10px 10px;line-height: 16px;-webkit-transition: border linear .2s,box-shadow linear .2s;-moz-transition: border linear .2s,box-shadow linear .2s;-o-transition: border linear .2s,box-shadow linear .2s;transition: border linear .2s,box-shadow linear .2s;font-size: 14px;color:#a0a0a0;}
.door-form dl dt span{color:red;}
/*.door-form dl dd img{width:283px;height:169px;float: left;}*/
.door-form dl dd button.delete{margin-left: 10px;margin-bottom: 10px;float: left;margin-top: 146px;}
.door-form .inp:focus{outline: none;}
.door-form .door-submit,.w-form .door-submit{width:62px;height:32px;line-height: 32px;text-align: center;background: #337df6;font-size: 16px;color:#fff;border:none;-moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius: 4px;cursor: pointer;margin-top: 20px;}
.tags {background-color: #fff;border: 1px solid #d5d5d5;color: #777;padding: 4px 6px;width: 721px;-moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius: 4px;}
.tags:hover {border-color: #f59942;outline: 0 none;}
.tags[class*="span"] {float: none;margin-left: 0;}
.tags input[type="text"], .tags input[type="text"]:focus {border: 0 none;box-shadow: none;display: inline;line-height: 22px;margin: 0;outline: 0 none;padding: 4px 6px; }
.tags .tag {background-color: #91b8d0;color: #fff;display: inline-block;font-size: 12px;font-weight: normal;margin-bottom: 3px;margin-right: 3px;padding: 4px 22px 5px 9px;position: relative;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);transition: all 0.2s ease 0s;vertical-align: baseline;white-space: nowrap;}
.tags .tag .close {bottom: 0;color: #fff;float: none;font-size: 12px;line-height: 20px;opacity: 1;position: absolute;right: 0;text-align: center;text-shadow: none;top: 0;width: 18px;}
.tags .tag .close:hover {background-color: rgba(0, 0, 0, 0.2);}

button.close {background: transparent none repeat scroll 0 0;border: 0 none;cursor: pointer;padding: 0;}
.tags .tag-warning {background-color: #ffb752;}
/* 版权 */
.footer {background: transparent; padding: 15px 0 20px; text-align: center; line-height: 30px; font-size: 14px; color: #333;}
.footer a {color: #333;}
.footer a:hover {color: #037cff; text-decoration: underline;}



.reupload {width: 59px; height: 23px; margin-left: 10px; margin-bottom: 10px; line-height: 45px; text-align: center; text-decoration: none; font-size: 12px; color: #4d4d4d; background: url('/static/images/ui/swfupload/uploadbts.png') no-repeat; vertical-align: bottom; padding: 4px 6px;}