body,html{background: #131317; min-width: 1200px; overflow: auto; padding: 0;}
body{padding-bottom: 240px;}
.MenuBox .head h1{color: #EDC095; font-size: 56px; text-align: center; font-weight: bold; line-height: 1em; margin-bottom: 30px; }
.MenuBox .head p{color: #EDC095; font-size: 22px; text-align: center;}
.MenuBox {padding-top: 80px;  z-index: 2; overflow: hidden; width: 100%;}
.bg_height{width: 100%; position: absolute; top: 0; left: 0; height: 130px; background: rgba(238,208,149,1);background:linear-gradient(178deg,rgba(238,208,149,1) 0%,rgba(251,227,179,1) 100%);}

.bg{position: absolute; left: 0; right: 0; top: 35px; z-index: 1; width: 100%;}
.head {position: relative; z-index: 2;}
.table_box{background-color:  #fff; width:1200px; margin: auto; margin-top: 60px; overflow: hidden; position: relative; z-index: 2;}
/* .table_box .tb_con{padding-bottom: 30px;} */
.btn_open{display: block; width: 100px; line-height: 35px; border-radius: 4px; box-sizing: border-box; font-size: 14px;  text-align: center; border: solid 1px #cba26f; margin: auto; margin-top: 8px;background: #CEA068;color: #fff;}
.btn_open:hover{ color: #A87E4B; background: none;}
/* 左侧标题 */
.table_left{float: left; width: 32.2%; box-sizing: border-box;}
.table_right{float: right; width: 18.3%;  box-sizing: border-box; border-right: solid 1px rgba(58, 58, 59, .05); box-shadow:-7px 0px 23px 0px rgba(0, 0, 0, 0.07); position: relative;}
.table_left h2,.table_right .tb_title,.table_mid .tb_title{height: 130px; color: #5E5E5E; font-size: 20px; padding-top: 46px; box-sizing: border-box; padding-left: 68px; position: relative; z-index: 2; background:linear-gradient(178deg,rgba(238,208,149,1) 0%,rgba(251,227,179,1) 100%);}
.table_left h2 .icon_1,.table_left h2 .icon_2{display: block; width: 129px; height: 124px; position: absolute;}
.table_left h2 .icon_1 img,.table_left h2 .icon_2 img,.table_right .tb_title .icon3 img{display: block; width: 100%;}
.table_left h2 .icon_2{top: 15px; left: 103px; z-index: -1; width: 137px; height: 115px;}
.table_left h2 .icon_1{left: -34px; top: -64px; z-index: -1;}
.limit_time h2 {box-sizing: border-box;}
.limit_time h2 em{display: inline-block; position: relative; width: 50px; height: 30px; background: url(../images/enter_4.9/littime.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: 4px; font-size: 12px; color: #fff; line-height: 28px;}

/* 右侧标题 */
.table_right .tb_title{background: #D9BA89; padding-top: 26px; z-index: 2; padding-left: 0; text-align: center;}
.table_right .tb_title h2,.table_mid .tb_title h2{text-align: center; font-size: 24px; color: #333; font-weight: bold;}
.table_right .tb_title p{color: #8D735A; font-size: 14px; margin-top: 10px;}
.table_right .tb_title .icon3{width: 131px; height: 131px; position: absolute; top: -37px; left: 50%; z-index: -1;}

/* 中间 */
.table_mid{width: 594px; overflow: auto; float: left; overflow-x: auto;}
.tb_con{background: #fff;}

.dt_tit{height: 90px; background: #fff; width: 100%; overflow: hidden;}
.dt_tit img{display: block; width: 138px; height: 48px; margin-left: 35px; margin-top: 20px;}

.dd_item{height: 70px;  box-sizing: border-box; position: relative;}
.dd_item.item_name{padding-left: 50px; padding-top: 14px;}
.dd_item:nth-child(2n+1){background: #fff;}
.dd_item:nth-child(2n){background: #F5F8FC;}
.dd_item h4{color: #212121; font-size: 16px; margin-top: 10px;}
.dd_item.show_desc h4 {margin-top: 0;}
.dd_item p{width: 225px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: #A1A1A1; font-size: 12px;}
.dd_item.item_name .price_item{font-size: 18px; color: #C9A273; font-weight: bold; position: absolute; line-height: 70px; top: 0; right: 30px; opacity: 1;}
.dd_item.item_name .price_item small {font-size: 12px; font-weight: 500;}
.dd_item.item_chose i{display: inline-block; width: 30px; height: 30px; background: url(../images/enter_4.9/chose1.png) no-repeat center; background-size: cover; vertical-align: middle;}
.dd_item span{color:#39393B; font-size: 16px;vertical-align: middle; line-height: 70px;}
.dd_item.chosed i{background-image: url(../images/enter_4.9/chose2.png);}
.dd_item.chosed.item_chose span{opacity: 1;}
.dd_item.item_chose{text-align: center; cursor: pointer;}
.dd_item.item_chose span{ opacity: .5;}

.tb_con dl{border-top: solid 1px rgba(58,58,59,.05);}

.table_mid{position: relative;}
.table_mid .tempWrap{width: 100%;}
.table_mid .tb_title{padding: 0; text-align: center; padding-top: 26px; border-left: solid 1px rgba(58,58,59,.05);}
/* .table_mid .tb_title li{border-left: solid 1px rgba(58,58,59,.05); box-sizing: border-box; height: 130px; padding-top: 30px; } */
.table_mid ul{overflow: hidden; white-space: nowrap;}
.table_mid li{display: inline-block; width: 202px; margin-right: -4px;}
/* .table_mid li:last-child{width: 199px;} */
.dd_item.item_show{overflow: hidden; border-left: solid 1px rgba(58,58,59,.05);}
.dd_item.item_show i{display: block; width: 30px; height: 30px; margin: auto; background: url(../images/enter_4.9/gou.png) no-repeat center; background-size: 30px; margin-top: 20px;}
.dd_item.item_show p{color: #A1A1A1; font-size: 12px; text-align: center;}
.dd_item.item_show.no_right i{background-image: url(../images/enter_4.9/no.png);}
.dd_item.item_show.item_desc i{margin-top: 10px;}

/* 左右按钮 */
.prev,.next{display: block; width: 36px; height: 80px; background: #F5D89E; border: solid 1px #E7C685; position: absolute; top: 30%; box-shadow:0px 13px 23px 0px rgba(0, 0, 0, 0.17); overflow: hidden; cursor: pointer; z-index: 10; padding: 0;}
.prev img,.next img{width: 30px; display: block; margin: auto; margin-top: 25px;}
.next{border-radius: 0 18px 18px 0; left: 0;}
.prev{border-radius: 18px 0 0 18px; right: 0;}
.prevStop,.nextStop{background: #DEC38E;}
dl .dd_item.bg2{background: #F6F1EA;}
dl .dd_item.bg1{background: #FDF7EE;}
/* .liBox:nth-child(2n) dl .dd_item.bg2{background: #EDF3FA;} */
/* .liBox:nth-child(2n) dl .dd_item.bg1{background: #EFECE8;} */
.liBox:nth-child(2n) .dd_item{background: #EDF3FA;}
.liBox:nth-child(2n) .dd_item:nth-child(2n+1){background: #fff;}
.liBox:nth-child(2n) .dd_item:nth-child(2n+1).bg1{background: #FDF7EE;}
.liBox:nth-child(2n) .dd_item.bg2{background: #EFECE8;}

.agree_box{font-size: 14px; color: #999; width: 1200px; margin: auto; margin-top: 30px; position: relative; z-index: 2;}
.agree_box a{color: #C49F7C;}
.agree_box i{display: inline-block; width: 30px; height: 30px; background: url(../images/enter_4.9/nagree.png) no-repeat center; background-size: cover; vertical-align: middle; cursor: pointer; margin-bottom: 4px;}
.agree_box i.agreed{background-image: url(../images/enter_4.9/agree.png);}

.fixedBox.open{background: #26252B; }
.fixedBox{position: fixed; right: 5%; bottom: 150px; z-index: 5; color: #B78F75; font-size: 16px; text-align: center;  border-radius: 8px;  }
.contact_box{ box-sizing: border-box; height: 0; background: #26252B;transition: all .3s; overflow: hidden;  border-radius: 8px;}
.fixedBox a {color: #B78F75; text-decoration: underline;}
.contact{margin-top: 30px; }
.contact p{font-weight: bold; margin-top: 6px;}
.qr_img{width: 120px; height: 120px; margin: auto; margin-top: 15px;}
.qr_img img{width: 100%; height: 100%;}
.fixed_btn{width: 180px; height: 110px; font-size: 16px; color: #B78F75; box-sizing: border-box; padding-top: 60px; border-radius: 8px; text-align: center; position: relative; background: #F5F5F5; cursor: default; }
.fixed_btn img{width:60px; height: 60px; border-radius: 50%; border: solid 3px #D7B5A0; position: absolute; top: -24px; left: 20px;}
.fixedBox:hover {background: #26252B; }
.fixedBox:hover .contact_box{height: auto;padding-bottom: 60px;}
.QQ.contact i { display: block; width:90px; height: 1px; border-bottom: dashed 1px #363332; position: absolute; bottom: -14px; left: 50%; margin-left: -45px;}
.QQ.contact{position: relative;}

/* 统计 */
.count_box.show{display: block;}
.count_box{height: 100px; position: fixed; bottom: 0; left: 0; right: 0; background: #fff; box-shadow:0px -7px 23px 0px rgba(0, 0, 0, 0.07); z-index: 11; padding: 20px 40px; box-sizing: border-box; display: none; animation: bottomFadeIn1 .3s ease-in-out; }
.right_btn{width: 210px; line-height: 60px; text-align: center; font-size: 16px; color: #fff; background:linear-gradient(90deg,rgba(206,165,122,1) 0%,rgba(217,186,137,1) 100%); border-radius: 4px; position: absolute; right: 0; margin-right: 10px; cursor: pointer;}
.right_btn:hover{background:linear-gradient(90deg,rgba(217,186,137,1) 0%,rgba(206,165,122,1) 100%);}
.right_btn:hover:after{content: ''; display: block; width: 100%; height: 100%; background: rgba(0,0,0,.2); position: absolute; left: 0; top: 0; right: 0; bottom: 0;}
.right_btn a{display: block; width: 100%; height: 100%; color: #fff;}
.count_box .tc_info{float: left; margin-right: 40px; line-height: 60px; font-size: 14px;}
.count_box .tc_name span{color: #C99342; font-weight: bold;}
.count_box .tc_info input{border: solid 1px #E6E6E8; width: 170px; height: 40px; box-sizing: border-box; padding-left: 28px; cursor: pointer;}
.tc_price span.all_price{font-size: 18px; color: #D9A55D; font-weight: bold;}
.tc_price span.all_price i{font-size: 16px; font-style: normal; font-weight: bold;}
.tc_price span.all_price em.p_num{font-size: 36px; font-weight: bold;}
.tc_price .hui_tip{display: inline-block; background: #FFE7EA; border-radius: 12px; height: 24px; line-height: 24px; padding-right: 13px; color: #FE4966; margin-bottom: 10px; vertical-align: super;margin-left: 6px; position: relative; cursor: default;}
.tc_price .hui_tip.fn-hide{display: none;}
.tc_price .hui_tip i{display: inline-block; width: 44px; line-height: 24px; text-align: center; margin-right: 8px;background:linear-gradient(90deg,rgba(255,74,104,1) 0%,rgba(247,57,57,1) 100%); border-radius:12px; color: #fff; font-style: normal; font-size: 12px; height: 24px;}
.tc_price .point_tip{display: inline-block; background:linear-gradient(-120deg,rgba(249,242,228,1) 0%,rgba(241,230,210,1) 100%); border-radius: 12px; height: 24px; line-height: 24px; padding-right: 13px; color: #C99342; vertical-align: super; margin-left: 6px; position: relative;  cursor: default;}
.tc_price .point_tip.fn-hide{display: none;}
.tc_price .point_tip i{display: inline-block; width: 52px; line-height: 24px; text-align: center; margin-right: 8px;background:linear-gradient(120deg,rgba(236,197,120,1) 0%,rgba(166,119,51,1) 100%); border-radius:12px; color: #fff; font-style: normal; font-size: 12px; height: 24px;}
.tip_detail{background: #fff; position: absolute; min-height: 155px; top: -200px; border:1px solid rgba(235,235,237,1);
box-shadow:0px 7px 13px 0px rgba(35,38,51,0.23); padding-bottom: 20px; box-sizing: border-box;display: none; animation: bottomFadeIn .3s ease-in-out;}
.hui_tip:hover .tip_detail,.point_tip:hover .tip_detail{display: block;}
.tip_detail h3{color: #F43D48;  line-height: 53px; font-size: 16px; font-weight: bold;margin: 0 25px; border-bottom: solid 1px #EBEBED; white-space: nowrap;}
.tip_detail p{margin: 0 25px; color: #333; font-size: 12px; padding-top: 20px;}
.tip_detail em.arr{display: block; width: 10px; height: 10px; background: #fff; position: absolute; left: 25px; bottom: -5px; z-index: 99; transform-origin: center; transform: rotate(45deg); border-right:1px solid rgba(235,235,237,1);border-bottom:1px solid rgba(235,235,237,1);}
.hui_tip .tip_detail{top: -170px; }
.hui_tip .tip_detail em.arr{left: 20px;}
.point_tip .tip_detail h3{color: #D9A55D;}
.point_tip .tip_detail p.i_tip{ color: #999;}
.time_chose{position: absolute; width: 170px; padding: 12px 0 ; background: #fff; color: #333; font-size: 14px; bottom: 50px; left: 70px; border:1px solid rgba(235,235,237,1);
box-shadow:0px 7px 13px 0px rgba(35,38,51,0.23); border-bottom: solid 2px #141414; display: none;  animation: bottomFadeIn .3s ease-in-out;}
.time_chose.show{display: block;}
.time_chose li{line-height: 46px; padding: 0 27px;}
.time_chose li:hover{background: #F0F0F2;}
.tc_time{position: relative;}

/* 弹出层 */
.mask{position: fixed; top: 0; left: 0; right: 0 ; bottom: 0; background: rgba(0,0,0,.57); z-index: 12; display: none;}
/* 禁止滚动 */
.noscroll,
.noscroll body {
	 overflow: hidden;
}
.noscroll body {
	position: relative;
}
.pop_box{width: 500px; height: 410px; background: #fff; position: fixed; top: 50%; left: 50%; margin-left: -250px; margin-top: -205px; z-index: 13; box-sizing: border-box; padding: 46px 50px 38px 50px ; display: none; animation: popup .3s ease-in-out;}
.pop_box i.close_btn{display: block; width: 20px; height: 20px; background: url(../images/enter_4.9/close.png) no-repeat center; background-size: cover; position: absolute; right: 20px; top: 20px; opacity: .5; cursor: pointer;}
.pop_box i.close_btn:hover{opacity: 1;}
.pop_box h3{color: #313233; font-size: 22px;}
.pop_box p{font-size: 14px; color: #979899;}

#form_box>div{padding:10px 0 ; border-bottom: solid 1px #EBEBED; margin-top: 22px;}
#form_box .left_area{float: left; width: 64px; height: 36px; line-height: 36px; border-radius: 4px; color: #313233; font-size: 16px; text-align: center; background: #EBECF2; cursor: pointer;}
#form_box .left_area i{display: inline-block; width: 12px; height: 12px; background: url(../images/enter_4.9/arr.png) no-repeat center; background-size: cover;}
#form_box .right_tel{float: left; margin-left: 22px; line-height: 36px;}
#form_box input{font-size: 16px; border: none; outline: none;}
#form_box input::placeholder{color: #BEBFC4;}
#form_box  .acc_code{border: none; display: block; min-width: 80px; height: 44px; line-height: 44px; border-radius: 22px; color: #fff; background: #BFAB95; font-size: 16px; position: absolute; right: 0; bottom: 10px; padding: 0 13px;}
#form_box .code_box,#form_box .tel_box{position: relative;}
.fn-line{display: block;clear: both;}
.sure_btn{display: block; line-height: 56px; border:1px solid rgba(235,235,237,1); background: #37373B; width: 100%; text-align: center; color: #fff; font-size: 16px; margin-top: 46px;}
.sure_btn.disabled{background: #C6C7CA; pointer-events: none;}
.areaList{width: 100% ; height: 280px; position: absolute; bottom: -280px;overflow: auto;  background: #fff; z-index: 10; border-top:solid 2px #141414; display: none; animation: topFadeIn .3s ease-in-out;box-shadow:0px 7px 13px 0px rgba(35,38,51,0.23);}
.areaList.show{display: block;}
.areaList ul{padding-top: 10px; padding-bottom: 7px; }
.areaList li{line-height: 40px; color: #333; margin: 0 10px; border-radius: 6px; padding: 0 10px; cursor: default;}
.areaList li:hover{ background: #F0F0F2;}
#form_box .right_tel .code_tip{font-size: 12px; color: #F24D38;font-style: normal; display: none;}
.code_box input{width: 70px;}
.show{display: block !important; }

/* 顶部 */
.fixedHeight {height: 130px;}
.bg_height.fixedTop{top: 0; position: fixed; width: 1200px; left: 50%; margin-left: -600px; z-index: 5;}
.table_left h2.lfixed,.table_right .tb_title.lfixed{position: fixed; top: 0; z-index: 7; overflow: hidden;}
.table_mid .tb_title.lfixed{position: fixed; top: 0; z-index: 6;}

.im-msg_tip, .im-panel_box {display: none!important;}

.zhe{background-color: #000; position: fixed; top: 0; height: 130px;display: block; z-index: 100; display:none;}
.left_zhe{left: 0;}
.right_zhe{right: 0;}


/* 从下往上缓冲显示 */
@-webkit-keyframes bottomFadeIn1{
	0%{opacity:0;	-webkit-transform:translateY(140px);}
	100%{opacity:1;	-webkit-transform:translateY(0);}
}

@-moz-keyframes bottomFadeIn1{
	0%{opacity:0;	-moz-transform:translateY(140px);}
	100%{opacity:1; -moz-transform:translateY(0);}
}

@keyframes bottomFadeIn1{
	0%{opacity:0;	transform:translateY(140px);}
	100%{opacity:1; transform:translateY(0);}
}
