h2.comm-title{font-size: 16px;font-weight: bold;color: #333;padding-bottom: 5px;}
.w-form dl{margin-top: 10px;}
.w-form dt{width: 110px;color: #333}
.w-form dd{margin-left: 123px;}
/*详细地址*/
.w-form .inp{font-size: 15px;height: 18px;}
.fakeTXT{min-width: 340px;margin-left: 5px;display: none;cursor: pointer;max-width: 650px;min-height: 18px;height: auto!important;}
.fakeTXT:empty:before{content: attr(data-placeholder);color:#999;}
.fakeTXT:focus:before{content:none;}
.w-form .time-wrap .inp{width:173px;}
.w-form .fakeInp{min-width: 340px;margin-left: 5px;cursor: pointer;height: auto;min-height: 18px;}
.fakeInp:empty:before{content: attr(data-placeholder);color:#999;}
.fakeInp:focus:before{content:none;}

.basicInfo .addrBtn{border: 1px solid #D8D8D8;border-radius: 5px;width: 208px;height: 34px;line-height: 34px;position: relative;cursor: pointer;padding-right: 20px;}
.basicInfo .addrBtn:after{content: '';width: 0;height: 0;border: 5px solid transparent;border-top-color: #666;display: inline-block;margin-left: 5px;vertical-align: middle;    position: absolute;right: 10px;top: 14px;}

/*出发时间*/
.w-form .radio.startType{float: none;overflow: hidden;margin-bottom: 10px}
.time-wrap{position: relative;}
.time-div{float: left;margin-right: 10px;}
.time-div:after{content: '';width: 0;height: 0;border: 5px solid transparent;border-top-color: #666;display: inline-block;margin-left: 5px;vertical-align: middle;    position: absolute;left: 170px;top: 16px;}

.clock-div{display: none;cursor: pointer;float: left;position: relative;}
.clock-div:after{content: '';width: 0;height: 0;border: 5px solid transparent;border-top-color: #666;display: inline-block;margin-left: 5px;vertical-align: middle;    position: absolute;left: 170px;top: 16px;}
.noscroll,
.noscroll body {
	 overflow: hidden;
}
.noscroll body {
	position: relative;
}
.people input{font-size: 15px;}
.people input::-webkit-input-placeholder {/* Chrome/Opera/Safari */color: #999;}
.people input::-moz-placeholder {/* Firefox 19+ */color: #999;}
.people input:-ms-input-placeholder {/* IE 10+ */color: #999;}
.people input:-moz-placeholder {/* Firefox 18- */color: #999;}
/*选择时间*/
#pickuptimeContener{position: fixed;left: 0;bottom: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.5);z-index: 99999;}
#pickuptime{position: fixed;width: 100%;bottom: 44px;left: 0;background: #fff;max-height: 200px;border: 1px solid #eee;}
.pickuptime-box{display: flex;width: 100%;height: 100%;}
.pickuptime-title{height: 44px;line-height: 44px;padding: 0px 10px;color: #333;font-size: 14px;background: #eee;text-align: center;}
.pickuptime-box>ul{width: 50%;height: 160px;overflow-y: scroll;border-left: 1px solid #f2f2f2;padding-bottom: 20px;}
.pickuptime-data{width: 50%;}
.pickuptime-datap{height: 44px;line-height: 44px;padding: 0px 10px;font-size: 12px;}
.pickuptime-data-on{color: #ff5701;}
.pickuptime{text-align: center;height: 44px;line-height: 44px;padding: 0px 10px;cursor: pointer;}
.pickuptime-on{color: #ff5701;}
.pickuptime-close{position: fixed;width: 100%;bottom: 0;left: 0;background: linear-gradient(to right, #fd940f,#ff5701);height: 44px;line-height: 44px;text-align: center;font-size: 14px;color: #fff;}

.pickuptime-box>ul::-webkit-scrollbar {width: 20px;height: 8px;}
.pickuptime-box>ul::-webkit-scrollbar-thumb {border-radius: 12px;border: 6px solid rgba(0, 0, 0, 0);box-shadow: 8px 0 0 #d7d7de inset;}
.pickuptime-box>ul::-webkit-scrollbar-thumb:hover {box-shadow: 8px 0 0 #c8c8cf inset;}


/*选择车型*/
.carType{float: left;}
.carType-div{display: none;}
.carType input[type='radio']{
    display: none;
}
.carType input[type='radio'] + label{margin-right: 20px;cursor: pointer;}
.carType input[type='radio'] + label::before{
    content: '';
    display: inline-block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #D3CFC8;
    margin-right: 6px;
    vertical-align: middle;
    margin-top: -2px;
}
.carType input[type='radio']:checked + label::before{
    padding: 3px;
    box-sizing: border-box;
    background-color: #56AC0B;
    background-clip: content-box;
}
.w-form .inp#person{width: 218px;}
.contactInfo{padding-top: 20px}
.descripInfo{padding-top: 25px}
.descripInfo .mark{display: none}
.descripInfo .mark.show{display: block;}

/*备注*/
.note{color: #333;font-size: 15px;padding: 12px;height: 126px;box-sizing: border-box;width: 680px;border-radius: 5px ;border: 1px solid #D8D8D8}
.note textarea{width: 100%;height: 100%;border: 0;resize:none;background: none}
.note textarea::-webkit-input-placeholder{color: #999;font-size: 15px;}
/*上传图片*/
.upload-split{display: block !important;}
.wxUploadObj .wxUpload{display: block !important;}

/*途径地点*/

.route {overflow: hidden;font-size: 0;line-height: 1}
.route .route-div{position: relative;display: inline-block;margin-right: 10px;margin-bottom: 10px;}
.route .route-div .inp{width: 218px}
.route .del-route{position: absolute;top: 10px; right: 10px;width: 16px; height: 16px; background:url(../images/sfcar/del.png) no-repeat center center;background-size: cover;font-size: 0;z-index: 2;display: none;cursor: pointer;}
.route-tip{font-size: 14px;color: #666;line-height: 1}
.route-tip i{display: inline-block;width: 16px; height: 16px; background:url(../images/sfcar/tip.png) no-repeat center center;background-size: cover;    vertical-align: middle;margin-top: -2px;margin-right: 4px;cursor: pointer;}
.route .add-route{border: 1px solid #D8D8D8;background: #eee;height: 34px;line-height: 34px;padding: 0 20px;font-size: 14px;border-radius: 5px;display: inline-block;vertical-align: top;cursor: pointer;margin-bottom: 10px;}
/*发送验证码*/
.codebtn{float: left; width: 110px; height: 34px; border-radius: 4px; background-color: #a8d300; color: #fff; text-align: center; font-size: 16px; margin-left: 26px;}
.codebtn:hover{color: #fff;}
/*国际手机号样式*/
#fabuForm dd .areaCode{border-right:1px solid #d8d8d8 ;left: 13px;top: 9px;bottom: 15px;width: 60px;font-size: 14px;}
.w-form .inp#tel{padding-left: 70px;width: 158px;}
#fabuForm dd .areaCode_wrap{left: 10px;width: 238px;}