.container{padding: 30px 52px; }
.fb_tit{font-size: 18px; font-weight: bold; color: #333; margin-bottom: 40px;}
#fbForm dl{margin-bottom: 30px;}
#fbForm dt span{color: #F24949; font-size: 14px; margin-right: 2px;}
#fbForm dt{font-size: 14px; color: #666; float: left; width: 72px; line-height: 40px; text-align: right; }
#fbForm dd{ margin-left: 104px; position: relative;}
#fbForm dd.longdd{width: 660px;}
#fbForm dd .linp{width: 660px; height: 40px; border-radius: 4px; border: solid 1px #ccc; background-color: #F7F7F7; box-sizing: border-box; padding-left:20px; padding-right: 40px;}
#fbForm dd .inp_limit{position: absolute; right: 6px; line-height: 40px; font-size: 14px; color: #999;}
#fbForm dd .inp_limit em{color: #027CFF;}
#fbForm dd .SDate,#fbForm dd .STime{float: left; width: 320px; height: 40px; margin-right: 20px; position: relative; }
#fbForm dd .SDate input,#fbForm dd .STime input{width: 100%; height: 40px; border-radius: 4px; background-color: #F7F7F7; border: solid 1px #ccc; padding-left: 20px; box-sizing: border-box; color: #333; }
#fbForm dd .SDate i,#fbForm dd .STime i{display: block; width: 30px; height: 30px; background:url(../images/live/date.png) no-repeat center; background-size: cover; position: absolute; right: 8px; top: 5px; cursor: pointer;}
#fbForm dd .STime i{background-image: url(../images/live/clock.png);}
#fbForm dd .dd_txt{line-height: 40px; color: #666; font-size: 14px;}
#fbForm dd .dd_txt em{color: #027CFF;}
#fbForm dd .dd_txt i{display: inline-block; width: 20px; height: 20px; background: url(../images/live/tip_icon.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: 4px; margin-left: 2px; cursor: pointer; position: relative;}
#fbForm dd .dd_txt i:hover p{display: block;}
#fbForm dd .dd_txt p{ padding:20px 14px; min-width: 200px; line-height: 1.5em; border-radius: 4px; background-color:rgba(51,51,51,0.85); box-shadow:0px 3px 13px 0px rgba(0, 0, 0, 0.25); position: absolute; font-size: 12px;  color: #fff; left:20px; font-style: normal; display: none;-webkit-animation: bottomFadeIn .3s ease-out; -moz-animation: bottomFadeIn .3s ease-out; animation: bottomFadeIn .3s ease-out; box-sizing: border-box;}
.w1200 #fbForm dd .dd_txt p{width: 322px;}
#fbForm dd .dd_txt p em{font-style: normal; color: #fff; margin-right: 6px;}
#fbForm dd .type_ul li{float: left; width: 98px; height: 36px; border-radius: 4px; border: solid 1px #ccc; box-sizing: border-box; line-height: 36px; text-align: center; margin-right: 20px; margin-bottom: 10px; cursor: pointer; color: #333; font-size: 14px; background-color: #F7F7F7;} 
#fbForm dd .type_ul li.selected{ border-color: #027CFF; background-color: #F2F8FF; position: relative;}
#fbForm dd .type_ul li.selected .gou{display: block; width: 22px; height: 22px;  background: url(../images/live/selected.png) no-repeat center; position: absolute; bottom: 0; right: 0;}
#fbForm dd .mod_box{margin-top: 22px;}
#fbForm dd .mod_box>div{width: 50%; float: left; box-sizing: border-box;height: 200px;}
#fbForm dd .mod_box>div.r_mod{ border-right: solid 1px #E6E6E6;}
.w1200 #fbForm dd .mod_box>div.v_mod{padding-left: 58px;}
#fbForm dd .mod_box>div.v_mod{padding-left: 40px;}
#fbForm dd .mod_box h4{color: #666; font-size: 14px; margin-bottom: 10px;}
#fbForm dd .mod_box .pc_mod,#fbForm dd .mod_box .phone_mod{float: left; text-align: center;}
#fbForm dd .mod_box .pc_mod p,#fbForm dd .mod_box .phone_mod p{color: #666; font-size: 14px; margin-top: 8px;}
#fbForm dd .mod_box .pc_mod{width: 212px; margin-right: 32px;}
#fbForm dd .mod_box .phone_mod{width: 102px;}
#fbForm dd .mod_box .pc_mod img,#fbForm dd .mod_box .phone_mod img{width: 100%;}
#fbForm dd .mod_box .modshow{width: 100%; height: 142px;}
#fbForm dd .mod_box .v_mod .pc_mod .modshow{background: url(../images/live/v_pc1.png) no-repeat center; background-size: cover;}
#fbForm dd .mod_box .v_mod .phone_mod .modshow{background: url(../images/live/v_phone1.png) no-repeat center; background-size: cover;}
#fbForm dd .mod_box .r_mod .phone_mod .modshow{background: url(../images/live/r_phone1.png) no-repeat center; background-size: cover;}
#fbForm dd .mod_box .r_mod .pc_mod .modshow{background: url(../images/live/r_pc1.png) no-repeat center; background-size: cover;}
#fbForm dd .mod_box .selected.v_mod .pc_mod .modshow{background-image: url(../images/live/v_pc.png) ;}
#fbForm dd .mod_box .selected.v_mod .phone_mod .modshow{background-image: url(../images/live/v_phone.png) ;}
#fbForm dd .mod_box .selected.r_mod .phone_mod .modshow{background-image: url(../images/live/r_phone.png) ;}
#fbForm dd .mod_box .selected.r_mod .pc_mod .modshow{background-image: url(../images/live/r_pc.png) ;}

/* 上传图片 */
#fbForm dd .upimg{width: 210px; height: 210px; border: solid 1px #ccc; box-sizing: border-box; border-radius: 4px; background-color: #F7F7F7; cursor: pointer;}
#fbForm dd .upimg input,#fbForm dd .upimg label{opacity: 0; width: 100%; height: 100%;}
#fbForm dd .pubitem{width: 320px; height: 180px;}
#fbForm dd .pubitem img{width: 100%; height: 100%; object-fit: cover; max-width: 320px !important;}
#fbForm dd .pubitem .reupload.li-rm{width: 100%; height: auto; margin: 0;position: absolute; left: 0;right: 0;bottom: 0; background: rgba(0,0,0,.5);color: #fff;line-height: 40px; padding: 0; display: block !important;}
#fbForm dd .pubitem .enlarge{width: 100%; height: 100%;}
#fbForm dd .upimg p{text-align: center; color: #999; font-size: 12px; line-height: 20px; margin-top: 40px;}
#fbForm dd .upimg .add_ {text-align: center; padding-top: 46px; cursor: pointer;}
#fbForm dd .upimg .add_ i{display: block; width: 40px; height: 40px; background: url(../images/live/add.png) no-repeat center; background-size: cover;  margin: auto;}
#fbForm dt.fb_tit label,#fbForm dt.fb_tit{font-size: 18px; font-weight: bold; color: #333; margin-bottom: 0; }
#fbForm dd .livetype label{line-height: 40px; font-size: 14px;}
#fbForm dd .livetype label span{display: inline-block; width: 50px; height: 24px; border-radius: 12px; border: solid 1px #CCC; background-color: #F7F7F7; vertical-align: middle; margin-right: 70px; margin-left: 12px; box-sizing: border-box; position: relative; cursor: pointer; transition: all .3s; }
#fbForm dd .livetype label span i{display: block; width: 24px; height: 24px; border: solid 1px #ccc; border-radius: 50%; background-color: #fff; box-sizing: border-box; position: absolute; top: -1px; left: -1px; box-shadow:0px 3px 7px 0px rgba(0, 0, 0, 0.15); }
#fbForm dd .livetype label span.selected{background-color: #027CFF;}
#fbForm dd .livetype label span.selected i{box-shadow:0px 3px 7px 0px rgba(0, 0, 0, 0.15); left: 26px;}
#fbForm dd.live_psd input,#fbForm dd.live_fee input{width: 320px; height: 40px; border-radius: 4px; border: solid 1px #ccc; background-color: #F7F7F7; box-sizing: border-box; padding-left:20px; padding-right: 40px;}
#fbForm dl.type_fee{margin-bottom: 20px; position: relative;}
#fbForm dl.type_fee input{text-align: center; background-color: #f7f7f7;}
#fbForm dl.type_fee i{display: block; width: 60px; height: 40px; border: solid 1px #ccc; border-radius: 4px; position: absolute; top: 0;  background: url(../images/live/sub.png) no-repeat center; background-color: #fff; background-size: 20px; left: -1px; box-sizing: border-box; cursor: pointer;}
#fbForm dl.type_fee i.add_btn{left: 260px; background-image: url(../images/live/add1.png);}

.btn-create{background: #85C336; width: 240px; line-height: 46px; border-radius: 4px; color: #fff; text-align: center; font-size: 14px; font-weight: bold; height: 46px ; margin-top: 70px; margin-left: 104px; margin-bottom: 50px;}


/*选择时间*/
#pickuptimeContener{position: fixed;left: 0;bottom: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.5);z-index: 99999;}
#pickuptime{position: fixed;width: 100%;bottom: 44px;left: 0;background: #fff;max-height: 200px;border: 1px solid #eee;}
.pickuptime-box{display: flex;width: 100%;height: 100%;}
.pickuptime-title{height: 44px;line-height: 44px;padding: 0px 10px;color: #333;font-size: 14px;background: #eee;text-align: center;}
.pickuptime-box>ul:first-child{border: none;}
.pickuptime-box>ul{width: 50%;height: 160px;overflow-y: scroll;border-left: 1px solid #f2f2f2;padding-bottom: 20px;}
.pickuptime-data{width: 50%;}
.pickuptime-datap{height: 44px;line-height: 44px;padding: 0px 10px;font-size: 12px;}
.pickuptime-data-on{color: #ff5701;}
.pickuptime{text-align: center;height: 44px;line-height: 44px;padding: 0px 10px;cursor: pointer;}
.pickuptime-on{color: #ff5701;}
.pickuptime-close{position: fixed;width: 100%;bottom: 0;left: 0;background: linear-gradient(to right, #fd940f,#ff5701);height: 44px;line-height: 44px;text-align: center;font-size: 14px;color: #fff;}

.pickuptime-box>ul::-webkit-scrollbar {width: 20px;height: 8px;}
.pickuptime-box>ul::-webkit-scrollbar-thumb {border-radius: 12px;border: 6px solid rgba(0, 0, 0, 0);box-shadow: 8px 0 0 #d7d7de inset;}
.pickuptime-box>ul::-webkit-scrollbar-thumb:hover {box-shadow: 8px 0 0 #c8c8cf inset;}
.noscroll,
.noscroll body {
	 overflow: hidden;
}
.noscroll body {
	position: relative;
}