.choBtn {float: left; height: 34px; line-height: 34px; padding: 0 10px;}
.choBtn s {width: 11px; height: 11px; display: block; margin-top: 10px; background: url('/static/images/admin/glyphicons-halflings.png') -241px -1px;}
.choBtn.loading s {width: 16px; height: 16px; display: block; margin-top: 6px; background: url('/static/images/loading_16.gif') 0 0;}

/* 选择数据库 */
.chooseData {padding:15px 45px 10px 0; margin-bottom:10px;}
.choose-item {float:left; width:200px; margin-left: 45px;}
.choose-item h2 {font-size:16px; margin:0; line-height: 2em;}
.choose-item h2 small {line-height: 17px;}
.choose-container {border:1px solid #b3b3b3;}
.choose-container .pinp_rit {width:160px;}
.choose-container .pinp_main_zm a {position:relative; font-size:14px; height:30px; line-height:30px;}
.choose-container .pinp_main_zm a s {position:absolute; right:10px; top:7px;}
.choose-container .pinp_main_zm a:hover s, .choose-container .pinp_main_zm a.cur s {background-image:url("/static/images/admin/glyphicons-halflings-white.png");}
.choose-container .pinp-zm-item ul {margin:0; list-style:none; background:#f5f5f5; padding:4px;}
.choose-container .pinp-zm-item ul li {position:relative; line-height:28px; padding-left:10px; cursor:pointer;}
.choose-container .pinp-zm-item ul li.cur {background:#f93; color:#fff;}
.choose-container li s {position:absolute; right:10px; top:6px; cursor:pointer;}
.choose-container li:hover {background:#fff;}

.choose-container .pinp_main {height:343px; overflow-y:auto;}
.choose-container .pinp_main_zm {border-top:1px solid #e7e7e7; margin-top:-1px; margin-right:4px; padding:3px 0; font-size:12px; margin-left:3px;}
.choose-container .pinp_main_zm p {margin:0px;}
.choose-container .pinp_main_zm a {height:24px; line-height:24px; overflow:hidden; display:block; padding:0 5px 0 3px; white-space:nowrap; text-overflow:ellipsis;}
.choose-container .pinp_main_zm a, .choose-container .pinp_main_zm a:link, .choose-container .pinp_main_zm a:visited {text-decoration:none; color:#333; padding:0 5px 0 3px!important;}
.choose-container .pinp_main_zm a:hover, .choose-container .pinp_main_zm a.cur {text-decoration:none; color:#fff; background-color:#f93;}
.choose-container .pinp_main_zm a.on, .choose-container .pinp_main_zm a.on:link, .choose-container .pinp_main_zm a.on:visited, .choose-container .pinp_main_zm a.on:hover {text-decoration:none; color:#fff; background-color:#f93;}
.choose-container .cxtit {height:29px; line-height:29px; overflow:hidden; border-bottom:1px solid #e7e7e7; background-color:#fdfdfd; color:#999; font-size:12px; font-weight:bold; text-align:center;}
.choose-container .pinp_main_zm {border-top:1px solid #e7e7e7; margin-top:-1px; margin-right:4px; padding:3px 0; font-size:12px; margin-left:3px;}
.choose-container .pinp_main_zm p {margin:0px;}
.choose-container .pinp_main_zm i {font-weight:bold; color:#333; float:none; font-style:normal; display:block; padding:10px 0 5px 3px;}

/*样式修改20190311*/
.rentype{margin-right: 16px;}
.upload-split{display: block !important;}
.wxUploadObj .wxUpload{display: block !important;}
.payway{margin-left: 16px; position: relative;}
.choseGroup:after{content: ''; clear: both; display: block;}
.choseGroup .selectGroup{float: left;}
.upsex{margin-left: 16px;}
.codebtn{float: left; width: 110px; height: 34px; border-radius: 4px; background-color: #a8d300; color: #fff; text-align: center; font-size: 16px; margin-left: 26px;}
.codebtn:hover{color: #fff;}
.leftSelect{float: left;}
.leftSelect label{float: left; width: 150px; text-align: right;}
/*国际区号*/
.selectGroup .areaCode{border-right: 1px solid #d8d8d8;left: 13px;top: 9px;bottom: 15px;font-size: 14px;}
.w-form .inp#tel{padding-left: 70px;width: 115px;}
#fabuForm .selectGroup .areaCode_wrap{left: 10px;width: 195px}

/*房源出租出售状态*/
.xzlstate{display: none}
.xzlstate.show{display: block;}

.spstate{display: none}
.spstate.show{display: block;}

.cfstate{display: none}
.cfstate.show{display: block;}

.cwstate{display: none}
.cwstate.show{display: block;}

/* 房源出租出售状态单选按钮组 */
.w-form .radio_state {float: left;}
.w-form .radio_state span {float: left; position: relative; z-index: 1; height: 32px; padding: 0 15px; line-height: 32px; font-size: 15px; color: #404040; margin-right: -1px; text-shadow: 0 1px 1px rgba(255,255,255,.75); background-color: #efefef; border-width: 1px; border-style: solid; border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25); border-color: #ccc\9; -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.1); -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.1); box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.1); cursor: pointer; -webkit-transition: all linear .2s; -moz-transition: all linear .2s; -o-transition: all linear .2s; transition: all linear .2s;}
.w-form .radio_state span.curr {background-color: #c1e9a0; -webkit-box-shadow: inset 1px 2px 2px rgba(0,0,0,.2); -moz-box-shadow: inset 1px 2px 2px rgba(0,0,0,.2); box-shadow: inset 1px 2px 2px rgba(0,0,0,.2);}
