.common-title{margin:0 20px 20px;padding-bottom:10px ;font-size: 18px;color: #333;font-weight: bold;border-bottom: 1px solid #E9E9E9;}
.common-title.spe_title{margin-top: 80px;}
.w-form .inp{width: 233px;}
.w-form .inp#began,.w-form .inp#end{cursor: pointer;}
.w-form .comBox{position: relative;width: 255px;}
.w-form .comBox span.sym{position: absolute;right: 14px;top:0;font-size: 14px;color: #3B3B3B}
.w-form .comBox .caret {position: absolute;right: 14px;top: 14px;display: inline-block; width: 0; height: 0;  vertical-align: top; border-top: 4px solid #000; border-right: 4px solid transparent; border-left: 4px solid transparent; content: "";}
/*风格*/
.art_ul {width: 88%}
.art_ul li{float: left;width:80px;height:36px;background:#F5F5F7;border-radius:4px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;margin-right: 10px;margin-top: 10px;text-align: center;line-height: 36px;font-size: 14px;color: #666;position: relative;cursor: pointer;}
.art_ul li.curr{border: 1px solid #027CFF;color: #027CFF}
.art_ul li.curr i{display: inline-block;width: 20px;height: 20px;background: url(../images/renovation/checked.png) no-repeat center;position: absolute;right: 0;bottom: 0;}
.w-form select{width: 255px;border: 1px solid #d8d8d8;border-radius: 5px;}
.w-form dl.dlIdea{margin-top: 8px;}
/*国际手机号样式*/
#fabuForm dd .areaCode{border-right:1px solid #d8d8d8 ;left: 13px;top: 9px;bottom: 15px;width: 60px;font-size: 14px;}
.w-form .inp#tel{padding-left: 70px;width: 115px;}
#fabuForm dd .areaCode_wrap{left: 10px;width: 195px;}