
.nav_tab{border-bottom: 1px solid #E9EDF1;}
.nav_tab li{float: left;margin-right: 30px;}
.nav_tab li.active a{color: #027CFF;font-weight: bold;border-bottom: 3px solid #027CFF;}
.nav_tab li a{display: block;padding: 14px 8px;font-size: 16px;color: #999;}

.mainCon{margin-top: 30px;background: #FD553D url("../images/fenxiao/charts-bg.png") no-repeat top;padding-bottom: 60px;background-size: 100% auto;}


.mainCon .topWrap{width: 100%;height: 396px;box-sizing: border-box; padding-top: 130px;}
.topWrap i.pxBg{display: block;background: url("../images/fenxiao/px-txt.png") no-repeat;background-size: cover;width: 387px;height: 132px;margin-left: 130px;}
.topWrap p{font-size: 18px;color: #fff;margin-left: 190px;margin-top: 18px;}

.scoreWrap{margin: 0 50px;padding: 70px 0 0;background: #fff;border-radius: 30px;position: relative;}
.scoreWrap .rankList{position: absolute;left: 50%;margin-left: -154px;top: -24px;width: 307px;height: 64px;background: url("../images/fenxiao/title-bg.png") no-repeat;background-size: cover;font-size: 30px;color: #fff;font-weight: bold;text-align: center;line-height: 64px; }
.mainCon .score{box-shadow: 2px 4px 16px 0px rgba(181, 141, 135, 0.18);border-radius: 10px;margin:0 35px 20px;padding: 16px 24px 14px 20px; }
.score span.myScore{font-size: 20px;color: #333;font-weight: bold;width: 40px;float: left;line-height: 25px;}
.score .logo{display: block;width: 50px;height: 50px;float: left;border-radius: 50%;overflow:hidden;margin-left:24px;}
.score .logo img{display: block;width: 100%;height: 100%;object-fit: cover;}

.score .userIn{font-size: 20px;color: #000; max-width: 200px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;float: left;margin-left: 6px;height: 50px;line-height: 50px;}
.score .myMoney{height: 50px;line-height: 50px;}
.score .myMoney em{font-size: 16px;color: #656565;    display: inline-block;margin-top: -10px;vertical-align: middle;}
.score i.line{width: 1px;height: 26px;background: #EDEDED;margin: 0 22px;display: inline-block;vertical-align:middle; margin-top: -6px}
.score .myMoney span{color: #FF5543;font-size: 18px;padding-top: 10px;}
.score .myMoney strong{font-size: 24px}

.bd_list dl .table_th{padding: 30px 37px 18px 40px;}
.bd_list dl .table_th>div{ font-size: 16px; color: #A1A1A1; float: left; }
.bd_list dl .table_th>div.t_num{width: 62px; text-align: center;}
.bd_list dl .table_th>div.t_user{width: 50%; margin-left: 64px}
.bd_list dl .table_th>div.t_count{float: right;}
.bd_list dl .table_th{overflow: hidden;}
.bd_list dl .table_tr{overflow: hidden;padding: 25px 37px 24px 40px ;border-top: 1px solid rgba(237,237,237,.7)}
.bd_list dl .table_tr>div{float: left; line-height: 50px;}
.bd_list dl .table_tr>div.t_num{font-size: 24px; color: #DBDBDB;width: 62px;text-align: center;font-family: UNISANSHEAVY}
.bd_list dl .table_tr>div.t_name{width: 50%; margin-left: 64px ;}
.bd_list dl .table_tr>div.t_name a{display: block;}
.bd_list dl .table_tr>div.t_count{float: right;  color: #333; font-weight: 600; text-align: right; font-size: 26px;}
.bd_list dl .table_tr>div.t_count span{font-family: UNISANSHEAVY}
.bd_list dl .table_tr .orIcon{width: 62px;height: 40px;}
.bd_list dl .table_tr .orIcon.orIcon1{background: url("../images/fenxiao/orIcon1.png") no-repeat;background-size: cover;}
.bd_list dl .table_tr .orIcon.orIcon2{background: url("../images/fenxiao/orIcon2.png") no-repeat;background-size: cover;}
.bd_list dl .table_tr .orIcon.orIcon3{background: url("../images/fenxiao/orIcon3.png") no-repeat;background-size: cover;}
.bd_list dl .table_tr .t_name p{font-size: 18px;color: #333;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;line-height: 50px;}
.bd_list dl .table_tr .tLogo{float: left;width: 50px;height: 50px; margin-right: 15px}
.bd_list dl .table_tr .tLogo img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%}

.loading{text-align: center;line-height: 20px; padding-bottom: 10px;}
