
.nav_tab{border-bottom: 1px solid #E9EDF1;}
.nav_tab li{float: left;margin-right: 30px;}
.nav_tab li.active a{color: #027CFF;font-weight: bold;border-bottom: 3px solid #027CFF;}
.nav_tab li a{display: block;padding: 14px 8px;font-size: 16px;color: #999;}

/*.mainCon{margin-top: 30px;background: #FD553D;padding-bottom: 60px;}*/

.main_wrap{background: url(../images/fenxiao/fxjoin-bg.png) no-repeat top;background-size: cover;padding-bottom: 1.5rem;margin-top: 30px;}

.mainCon{padding: 0 35px;}
/*顶部*/
.topTitle{padding-top: 87px;}
.topTitle i.fxjoin-T{display: block;width: 671px;height: 126px;background: url(../images/fenxiao/fxjoin-T.png) no-repeat center;background-size: cover;margin: 0 auto 30px;}
.topTitle h3{font-size: 30px;color: #FEFEFE;text-align: center;}

.comCon{background: linear-gradient(-45deg, #FFDBBB 0%, #FFEEE0 100%);box-shadow: 0px 5px 29px 0px rgba(138, 22, 44, 0.23);border-radius: 20px; position: relative;padding: 90px 35px 60px;}
.topBg{position: absolute;top: -29px;left: 0;text-align: center;right:0;}
.comBg{font-size: 30px;color: #AF4C15;font-weight: bold;padding: 15px 64px 35px; background: url(../images/fenxiao/fxjoin-C.png) no-repeat center;background-size: contain;white-space: nowrap;display: inline-block;}
.comCon p{font-size: 16px;color: #A5603C;line-height: 28px;}
.comCon p span.red{color: #F21442}
.comCon p span.red strong{font-size: 18px}
.comCon p strong{font-size: 18px;color: #F21442}

.partnerPro{margin-top: 100px;}
.partnerPro .speP{margin-top: .3rem}

.mainCon .topWrap{width: 100%;height: 396px;background: url("../images/fenxiao/charts-bg.png") no-repeat bottom;background-size: cover;box-sizing: border-box; padding-top: 130px;}
.topWrap i.pxBg{display: block;background: url("../images/fenxiao/px-txt.png") no-repeat;background-size: cover;width: 387px;height: 132px;margin-left: 130px;}
.topWrap p{font-size: 18px;color: #fff;margin-left: 190px;margin-top: 18px;}

/*合伙人权益*/
.paGoods {margin-top: 70px}
.paGoods h2{font-size: 30px;color: #fff;font-weight: bold;text-align: center;position: relative;}
.paGoods h2 span{position: relative;z-index: 2}
.paGoods h2 i{content: '';width: 168px;height: 20px;border-radius: 10px;background: #DD1339;position: absolute;left: 50%;margin-left: -84px;bottom: 0;z-index: 1}
.paGoods ul{margin-top: 30px;min-width: 896px;overflow: hidden;}
.paGoods li{background: linear-gradient(-45deg, #FFBD7D 0%, #FFD7B3 100%);border-radius: .2rem;position: relative;padding: 70px 23px 28px;border-radius: 10px;float: left; margin-bottom: 30px;}

.paGoods li.smallLi{width: 25%;margin-right: 4.8%;}
.paGoods li.smallLi:nth-child(3n){margin-right: 0}

.paGoods li.bigLi{width: 42%;margin-right: 4.8%;}
.paGoods li.bigLi:nth-child(2n){margin-right: 0}

.comlevel{font-size: 24px;color: #AF4B15;font-weight: bold;padding: 3px 28px 20px 25px; background: url(../images/fenxiao/fxjoin-Q.png) no-repeat center;background-size: contain;position: absolute;left: -14px;top: 13px;white-space: nowrap;}
.paGoods li p{font-size: 16px;color: #A5603A;line-height: 30px;}

 /*表单部分*/
.applyPa{margin-top: 127px;background: #FFF9F3;border-radius: 20px;position: relative;}
.applyPa form{padding: 96px 140px 165px;}
.comBox{margin-bottom: 30px}
.comBox>div{background: #FFF;border: 1px solid #E0CBB9;border-radius: 6px;width: 100%;    box-sizing: border-box;padding-left: 18px;cursor: pointer;position: relative;}
.comBox>div input{padding: 16px 20px;font-size: 16px;color: #5F350A;font-weight: bold;padding-left: 0;border: none;cursor: pointer;}
.comBox>div input::placeholder{color: #5F350A}
.comBox>div i.choose{display: inline-block;float: right;width: 20px;height: 20px;background: url(../images/fenxiao/fxjoin-d.png) no-repeat center;background-size: cover;margin-top: 18px;margin-right: 10px;}
.comBox p.tip{font-size: 14px;color: #C4B3A3;padding-top: 8px;}
.comBox>div.chooseLevel.active i.choose{background: url(../images/fenxiao/fxjoin-up.png) no-repeat center;background-size: cover;}

.comBox>div.addrBtn{height: auto}

h3.commT{font-size: 24px;color: #5F350A;font-weight: bold;padding: 40px 0 20px;}
h3.commT.speT{padding-top: 10px}
.basicCon{background: #fff;border: 1px solid #E0CBB9;border-radius: 6px;}
.basicCon dl{border-bottom: 1px solid #E0CBB9;padding: 17px 12px 17px 20px}
.basicCon dt{font-size: 16px;color: #5F350A;float: left;}
.basicCon dd{margin-left: 90px;}
.basicCon dl:last-child{border-bottom: none;}
.basicCon dd input{border: none;width: 100%;font-size: 16px;color: #938475;}
.areChoose{cursor: pointer;position: relative;}
.areChoose label{cursor: pointer;}
.areChoose i{display: inline-block;float: right;width: 20px;height: 20px;background: url(../images/fenxiao/fxjoin-d.png) no-repeat center;background-size: cover;vertical-align: middle; margin-top: 2px;}
.areChoose dd{text-align: right;}
.areChoose dd input{text-align: right;}
.areChoose span{font-size: 16px;color: #60360B;margin-right: 6px}
.areChoose .areaCode_wrap{text-align: left;width: 100%;top: 59px;}

/*验证码*/
.test_code{position: relative;}
.test_code p{float: left;}
.code_input{width: 150px;  border-right: none; box-sizing: border-box; }
.test_btn{ position: absolute;right: -3px;top: -9px;cursor: pointer;}
.test_btn button{border: none; background: none; font-size: 16px; color: #fff; display: block; width: 100%; text-align: center; line-height: 42px;cursor: pointer;background: rgba(79,69,66,1);padding: 0 10px;border-radius: 6px;}
.test_btn button.disabled{background: rgba(79,69,66,.3);}
/*等级列表*/
.levelList {position: absolute; left: 0; top: 59px; width: 100%; max-height: 300px; background: #fff; border: 1px solid #ebebeb; box-shadow: 0 5px 20px rgba(26,26,26,.1); z-index: 10; overflow-y: auto; padding: 10px 0; display: none;}
.levelList ul{margin-top: 0;width: 100%}
.levelList li {padding: 0 20px; line-height: 30px; cursor: pointer;margin-top: 0;height: auto;width: auto;font-size: 12px;}
.levelList li.achose{background: #f5f5f5;}
.levelList li:hover {background: #f5f5f5;}
/*底部价格*/
.bottomPart{position: absolute;bottom: 0;left: 0;right: 0;height: 78px;background: #fff;border-radius: 0 0 20px 20px;
box-shadow: -1px -3px 21px 0px rgba(79, 69, 65, 0.13);overflow: hidden;}

.botPrice{float: left;box-sizing: border-box;padding-left: .55rem;}
.fakeD{height: 78px;line-height: 78px;overflow: hidden;padding-left: 25px;}
.botPrice .priceAll{color: #FF3B49;font-size: 14px;display: inline-block;}
.botPrice .priceAll strong{font-size: 30px;}
.botPrice p{font-size: 14px;color: #938375;margin-left: 5px;display: inline-block;    vertical-align: middle;margin-top: -10px;}

.sub_btn{height: 78px;font-size: 24px; text-align: center; color: #785537;line-height: 78px;background: linear-gradient(-45deg, #FFBE7E 0%, #FFD8B4 100%);float: right;width: 250px;font-weight: bold;cursor: pointer;}
.bottomPart.bottomPart2{left: 140px;right: 140px;border-radius: 6px;background: none;bottom: 55px;box-shadow: none}
.sub_btn.allSub{width: 100%;background: linear-gradient(0deg, #FC3C4C 0%, #FF5D43 100%);color: #fff}


.sub_res{padding: 160px 0; text-align: center;}

.sub_res s {width: 64px; height: 64px; display: block; margin: 0 auto;}
.sub_res s img {width: 60px;}
.sub_res p {padding: 20px 100px; font-size: 30px; font-weight: 700; color: #3a3a3a; line-height: 45px;}

.error{text-align: center;   margin: auto; display: none;position: absolute;top: 50%;margin-top: -25px;left:0;right: 0;}
.error p{color: #fff; font-size: 16px; padding: 0 20px;display: inline-block;border-radius: 6px;height: 50px;line-height: 50px;background-color: rgba(0,0,0,.5);}
