
.main{padding-bottom: 100px}
.top{width: 100%;height: 240px;padding: 38px 46px 0;box-sizing: border-box;color: #fff;margin-bottom:110px;
background: linear-gradient(90deg, #FF7155 0%, #FF4A4A 100%);position: relative;border-radius: 6px; z-index: 1;}
.topBg{width: 417px;height: 225px;background: url("../images/fenxiao/fenxiao-bg.png") no-repeat;background-size: contain;position: absolute;top: 15px;right: 92px;}
.info-box{position: relative;margin-bottom: 50px;}
.info-box .logo{width: 84px;height: 84px;border-radius: 50%;border: 3px solid #fff;margin-right: 14px;position: relative;}
.info-box .logo img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}
.info-box .logo span{display: inline-block;padding: 0 8px 0 13px;height: 26px;line-height: 26px;background: #fff;
box-shadow: 0px 0px 30px 0px rgba(81, 81, 81, 0.16);border-radius: 13px;font-size: 12px;color: #FC7055;position: absolute;bottom: -10px;left: 50%;white-space: nowrap;margin-left: -40px;}

.info-box .info p.name{font-size: 18px;    padding-top: 13px;padding-left: 10px;}
.info-box .info .id-box{float: left;height: 30px;background: #FF914E;border-radius: 15px;padding: 0 30px 0 20px;line-height: 30px;font-size:14px;color: #fff;margin-top: 12px;}
.info-box .info .id-box i{display: inline-block;width: 17px;height: 20px;background: url("../images/fenxiao/fxIcon.png") no-repeat;background-size: contain;margin: 0 7px -1px 0;vertical-align: middle;}

.info-box .code-box{float: left;margin-left: 15px;height: 26px;line-height: 26px;margin-top: 14px;font-weight: bold;font-size:16px;color: #FBFBFB;}
.info-box .code-box a{color: #FBFBFB;display: block;}
.info-box .code-box i{display: inline-block;width: 26px;height: 26px;background: url("../images/fenxiao/icon_code.png") no-repeat;background-size: contain;vertical-align: top;;margin-right: 10px;}

.px{float: right;font-size: 16px;color: #A4410F;font-weight: bold;height: 48px;line-height: 48px;padding: 0 15px 0 10px;background: linear-gradient(156deg, #F1CC54 0%, #FFEDB1 100%);box-shadow: 1px 6px 9px 0px rgba(255, 152, 0, 0.24);border-radius: 24px;margin-top: 20px;}
.px i{display: inline-block;width: 48px;height: 48px;background: url("../images/fenxiao/fx-star.png") no-repeat;background-size: contain;vertical-align: top;}
.px a{color: #A4410F;display: block;}


.money-wrap{margin:34px 5px 0; }
.money-wrap>div{background: #FFFFFF;box-shadow: 1px 9px 40px 0px rgba(11, 11, 11, 0.09);border-radius: 10px;position: relative;width: 47.6%;box-sizing: border-box;padding: 23px 18px 32px 30px}
.history .money,.cash-draw .money{font-size: 36px;color: #343434;font-weight: bold;}
.cash-draw .btn{display: inline-block;width: 100px;height: 40px;border-radius: 20px;color: #fff;font-size: 18px;line-height: 40px;text-align: center;position: absolute;top:45px;right: 18px;box-sizing: border-box;background: #FF4C4C}

.history .tit,.cash-draw .tit{font-size: 14px;padding-bottom: .05rem;color: #999;}

.nav_tab{border-bottom: 1px solid #E9EDF1;}
.nav_tab li{float: left;margin-right: 30px;}
.nav_tab li.active a{color: #027CFF;font-weight: bold;border-bottom: 3px solid #027CFF;}
.nav_tab li a{display: block;padding: 14px 8px;font-size: 16px;color: #999;}

.mainCon{margin-top: 30px;}
.mainCon .hideCon{display: none;}
.mainCon .hideCon.show{display: block;}

#list{min-height: 210px;}
.mainCon .comTop{background: #F6F6F6;padding: 5px 17px 5px 20px;height: 36px;}
.comTop .month{position: relative;}
.comTop .month .monthC{background: #fff;padding: 6px 7px 6px 10px;border-radius: 4px;cursor: pointer;}
.comTop .month span{font-size: 16px;color: #3B3B3B}
.comTop .month i{display: inline-block;width: 14px;height: 14px;background: url("../images/fenxiao/fx-down.png") no-repeat;background-size: contain;vertical-align: middle;margin-left: 10px;    margin-top: -5px;}
.comTop .monthMoney{line-height: 36px;overflow: hidden;height: 36px;}
.comTop .monthMoney dl{font-size: 0;}
.comTop .monthMoney dl,.comTop .monthMoney dt,.comTop .monthMoney dd{display: inline-block;}
.comTop .monthMoney dt,.comTop .monthMoney dd{font-size: 14px;color: #919191;}
.comTop .monthMoney dt{margin-right: 5px;}
.comTop .monthMoney em{display: inline-block;font-size: 12px;color: #919191;vertical-align: middle;
 margin: -6px 10px 0 10px;}

/*下线*/
.comTop .searchDiv{background: #fff;border: 1px solid #eee;padding: 7px 7px 7px 9px;height: 20px;}
.comTop .searchDiv #serKey{border: none;font-size: 14px;display: inline-block;vertical-align: top;margin-top: -1px}
.comTop .searchDiv #serKey::placeholder{color: #999}
.comTop .searchDiv s{display: inline-block;width: 20px;height: 20px;background: url("../images/fenxiao/search.png") no-repeat;background-size: contain;cursor: pointer;}
.mainCon .timeOrder{position: relative;}
.mainCon .timeOrder .moreOr{font-size: 14px;color: #3B3B3B;line-height: 36px;cursor: pointer;}
.comTop .timeOrder i{display: inline-block;width: 14px;height: 14px;background: url("../images/fenxiao/fx-down.png") no-repeat;background-size: contain;vertical-align: middle;margin-left: 4px;    margin-top: -3px;}
.comTop .offlineAll{font-size: 14px;color: #929292;line-height: 36px;overflow: hidden;height: 36px;margin-left: 12px;}
.comTop .timeOrder.up i{background: url("../images/fenxiao/fx-up.png") no-repeat;background-size: contain;}

.orderChoose{position: absolute;left: -8px;top: 40px;background: #FFF;box-shadow: 1px 2px 9px 1px rgba(0, 0, 0, 0.13);border-radius: 6px;min-width: 80px;z-index: 10000;padding: 0 10px;display: none;}
.orderChoose p{font-size: 14px;color: #3B3B3B;line-height: 40px;text-align: center;cursor: pointer;}
.orderChoose p.curr{color:#027CFF }
.orderChoose.show{display: block;}

/*日历*/
.dateWrap{position: absolute;left: 0;top: 0;background: #FFF;box-shadow: 1px 2px 9px 1px rgba(0, 0, 0, 0.13);border-radius: 6px;width: 233px;z-index: 10000;display: none}
.dateWrap.show{display: block;}
.dateTop{height: 35px;line-height: 35px;border-bottom: 1px solid #eee;text-align: center;}
.dateTop h2{margin-left: 10px;margin-right: 10px;text-align: center;font-size: 12px;color: #3B3B3B;display: inline-block;font-weight: bold;}
.dateTop a{width: 40px;height: 35px;}

.dateTop a.minusDate{background: url("../images/fenxiao/dateL.png") no-repeat center center;background-size: 10px;}
.dateTop a.addDate{background: url("../images/fenxiao/dateR.png") no-repeat center center;background-size: 10px;}
.dateTop a.minusDate:hover{background: url("../images/fenxiao/dateL2.png") no-repeat center center;background-size: 10px;}
.dateTop a.addDate:hover{background: url("../images/fenxiao/dateR2.png") no-repeat center center;background-size: 10px;}

.dateTop a.addDate.disabled,.dateTop a.minusDate.disabled{opacity: .5;cursor: default;}
.dateTop a.minusDate.disabled:hover{background: url("../images/fenxiao/dateL.png") no-repeat center center;background-size: 10px;}
.dateTop a.addDate.disabled:hover{background: url("../images/fenxiao/dateR.png") no-repeat center center;background-size: 10px;}

.dateCon{padding: 12px 15px;}
.dateCon h3.seeAll{width: 100%;height: 34px;line-height: 34px;font-size: 12px;text-align: center;}
.dateCon h3.seeAll a{display: block;color: #3B3B3B;background: #F7F7F7;border-radius: 4px;}
.dateCon h3.seeAll:hover a{background: #027CFF;color: #fff;}
.dateCon ul{transition: rightFadeIn .3s ease-out}
.dateCon ul li{float: left;width: 33%;text-align: center;margin: 16px 0}
.dateCon ul li a{display: inline-block;padding: 3px 8px;font-size: 12px;color: #3B3B3B;}
.dateCon ul li a:hover{background: #027CFF;border-radius: 4px;color: #fff}
.dateCon ul li a.curr{background: #027CFF;border-radius: 4px;color: #fff}
.dateCon ul li a.disabled{background: #F7F7F7;border-radius: 4px;color: #BCBCBC;cursor: default;}

/*分銷列表    */
.fxItem a{display: block;}
.fxItem .img-box{width: 60px;height: 60px;border-radius: 50%;overflow: hidden;margin-top: 22px}
.fxItem .img-box img{width: 100%;height: 100%;object-fit: cover;}
.fxItem .info{height: 59px;border-bottom: 1px solid #eee;padding: 24px 0;margin-left: 80px;position: relative;}
.fxItem .info p.name{font-size: 18px;color: #3B3B3B;margin-bottom:4px;}
.fxItem .info p.time{font-size: 14px;color: #919191;}
.fxItem .info .fxPrice{color: #FFA73B;font-weight: bold;font-size: 20px;position: absolute;right: 0;top: 38px;}

/*下线列表*/
.lineItem .img-box{width: 60px;height: 60px;border-radius: 50%;overflow: hidden;margin-top: 22px}
.lineItem .img-box img{width: 100%;height: 100%;object-fit: cover;}
.lineItem .info{border-bottom: 1px solid #eee;padding: 26px 0;margin-left: 86px;position: relative;}
.lineItem .info p.name{font-size: 16px;color: #3B3B3B;margin-bottom:2px;}
.lineItem .info p.name .blue{color: #027CFF}
.lineItem .info p.con{font-size: 14px;color: #929292;}
.lineItem .info p.con em{color: #FFA73B;margin-left: 4px;}
.lineItem .info p.con .line{margin: 0 10px;font-style: normal;}

.lineItem .info .lineTime{color: #929292;font-size: 14px;position: absolute;right: 0;top: 38px;}

.fakeMask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 9999;opacity: 0;display: none;}
