
.nav_tab{border-bottom: 1px solid #E9EDF1;}
.nav_tab li{float: left;margin-right: 30px;}
.nav_tab li.active a{color: #027CFF;font-weight: bold;border-bottom: 3px solid #027CFF;}
.nav_tab li a{display: block;padding: 14px 8px;font-size: 16px;color: #999;}

.mainCon{margin-top: 30px;}

.topCon{padding-top: 30px;border-bottom: 1px solid #DDDEE3;text-align: center;}
.topCon .img-box{width: 100px;height: 100px;border-radius: 50%;overflow: hidden;margin: 0 auto;}
.topCon .img-box img{width: 100%;height: 100%;object-fit: cover;}
.topCon p.name{font-size: 18px;color: #3B3B3B;padding: 12px 0 0;}
.topCon p.money{color:#FFA73B;font-size: 36px; font-weight: bold;margin-bottom: 30px;}

.order-info{padding: 30px 0;}
.order-info dl:nth-child(2){padding: 20px 0;}
.order-info dl dt{float: left;font-size: 14px;color: #929292;margin-right: 20px;}
.order-info dl dd{font-size:14px;color: #3B3B3B;}

.order-list{width: 100%;border: 1px solid #eee;padding:0 20px;box-sizing: border-box;margin-bottom: 30px;}
.order-list ul li{border-bottom: 1px solid #eee;padding: 20px 0;}
.order-list ul li:last-child{border-bottom: 0;}
.order-list ul li .img-box{width: 70px;height: 70px;overflow: hidden;border-radius: 6px;margin-right: 20px;}
.order-list ul li .img-box img{width: 100%;height: 100%;object-fit: cover;}
.order-list ul li p.tit{overflow: hidden;font-size: 14px;color: #404040;margin-bottom: 10px;white-space: nowrap;max-width: 420px;padding-top: 8px;}
.order-list ul li p.con{font-size: 14px;color: #929292;}
.order-list ul li p.con .pay em{color: #3B3B3B;font-size: 14px; font-weight: bold;margin-left: 8px}
.order-list ul li p.con .yongjin em{color: #FFA73B;font-size: 14px; font-weight: bold;margin-left: 8px}
.order-list ul li p.con .yongjin{margin-left: 46px;}

.total-box{margin-bottom: 10px;}
.total-box p{color: #5E5E5E;font-size: 14px;    padding-right: 8px;}
.total-box p.total span{color: #FFA73B;}

.total-box p.total{padding-bottom: 18px;}
.total-box p.prop{padding-bottom: 26px;border-bottom: 1px solid #DCDDE3;margin-bottom: 20px;}
.total-box p.prop span{color:#2B2B2B;}
.total-box p.actual{color: #2B2B2B;}
.total-box p.actual em{color:#FFA73B;font-size:30px;font-weight: bold;margin-left: 8px;}

