
.nav_tab{border-bottom: 1px solid #E9EDF1;}
.nav_tab li{float: left;margin-right: 30px;}
.nav_tab li.active a{color: #027CFF;font-weight: bold;border-bottom: 3px solid #027CFF;}
.nav_tab li a{display: block;padding: 14px 8px;font-size: 16px;color: #999;}



.mainCon{margin-top: 30px;background: #fe5340 url("../images/fenxiao/fxcode.png") no-repeat top center;position: relative;padding: 286px 44px 34px;text-align: center; }
/*.top{}*/
.code-box{display: inline-block;width: 260px}
.codeBoximg{width: 100%;height: auto;overflow: hidden;margin-bottom: 15px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;padding: 18px;background: #fff;}
.codeBoximg img{width: 100%;height: 100%;object-fit: cover;}
.code-box p{color: #FE5541;font-size: 18px; font-weight: bold;text-align: center;}

.btn-box{text-align: center;margin: 80px auto 40px;}
.btn-box .btn{display:inline-block;color:#fff;/*width: 3.96rem;*/height: 50px;border-radius: 25px;border: 2px solid #fff;text-align: center;line-height: 50px;font-weight: bold;font-size: 18px;padding: 0 50px}
.content{font-size: 14px;color: #fff;}
.content p{margin-bottom: 20px;line-height: 20px;text-align: justify;}

/*生成海报弹窗*/
.hbMask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 9999;display: none;background: rgba(0,0,0,.7);}

.caseBox{position: relative;width: 652px;height: 864px;background: #fff;position: fixed;top: 50%;margin-top: -432px;left: 50%;margin-left:-326px;border-radius: 6px;z-index: 10000 ;display: none;}
.caseBox i.closeHx{display: inline-block;width: 20px;height: 20px;background: url(../images/fenxiao/closeHx.png) no-repeat center center;background-size:cover;position: absolute;top: 7px;right: -41px;cursor: pointer;}
.caseBox h3.c-tit{color: #2B2B2B;font-size: 18px;text-align: center;width: 100%;padding: 30px 0 20px;}

/* 轮播图 */
.slideBox{overflow:hidden; position:relative; padding-bottom:36px;}
.slideBox .hd{ height:16px; overflow:hidden; position:absolute; right:0; bottom:0;left: 0; z-index:1;text-align: center; }
.slideBox .hd ul{ overflow:hidden; zoom:1; display: inline-block; }
.slideBox .hd ul li{ float:left; margin:0 8px;  width:12px; height:12px;  background:#32323F; cursor:pointer;border-radius: 6px ;vertical-align: top;opacity: 0.3}
.slideBox .hd ul li.on{  opacity: 1 }
.slideBox .bd{ position:relative; height:100%; z-index:0;  width: 364px;margin: 0 auto }

.slideBox .bd li.hasLi{ zoom:1; vertical-align:middle;width: 364px;position: relative;}
.slideBox .bd li.noLi{ zoom:1; vertical-align:middle;width: 364px;height: 650px;position: relative;}

.slideBox .bd li .imgBox{width: 100%;height: 100%;overflow: hidden;position: relative;}
.slideBox .bd li .pimg{width: 100%;height: 100%;overflow: hidden;}
/*后台取出*/
.slideBox .bd li.hasLi .pimg img{width: 100%;height: 100%;display: block;}
.slideBox .bd li.hasLi .code-img{position: absolute;display: none;}
.slideBox .bd li.hasLi .code-img img{width: 100%;height: 100%;object-fit: cover;}

/*无数据时*/
.slideBox .bd li.noLi .pimg img{width: 100%;height: 100%;object-fit: cover;display: block;}
.slideBox .bd li.noLi .code-img{width: 188px;height: 188px;overflow:hidden;position: absolute;z-index: 11;margin-left: -94px;}
.slideBox .bd li.noLi .code-img img{width: 100%;height: 100%;object-fit: cover;}

.slideBox .bd li.noLi:nth-child(1) .code-img{top: 52%;left: 50%;}
.slideBox .bd li.noLi:nth-child(2) .code-img{top: 40.5%;left: 50%;}
.slideBox .bd li.noLi:nth-child(3) .code-img{top: 36.5%;left: 50%;}
.slideBox .bd li.noLi:nth-child(4) .code-img{top: 11%;left: 50%;}
.slideBox .bd li.noLi:nth-child(5) .code-img{top: 34%;left: 50%;}
.slideBox .bd li.noLi:nth-child(6) .code-img{top: 52%;left: 50%;}
.slideBox .bd li.noLi:nth-child(7) .code-img{top: 40.5%;left: 50%;}

/*生成图片*/
/*==修改*/
.bd li.hasLi .drawImg{width: 100%; height: auto; text-align: center;z-index: 12; background-color: #fff; color: #666; display: none;}
.bd li.hasLi .drawImg img{height: auto;width: 100%;}

.bd li.noLi .drawImg{width: 100%; height: 100%; position:absolute ; top: 0; left: 0 ; right: 0; bottom: 0; text-align: center;z-index: 12; background-color: #fff; color: #666; display: none;}
.bd li.noLi .drawImg img{height: 100%;}

.drawImg .loading{width: 40px; height: 40px !important;display: block; margin: auto; margin-top:50%; }

.slideBox .prev,
.slideBox .next{ position:absolute; left:3%; top:50%; margin-top:-58px; display:block; width:44px; height:44px; background:#000 url(../images/fenxiao/slider-l.png) no-repeat center center;background-size:20px; filter:alpha(opacity=50);opacity:0.5;border-radius: 50%;padding: 0!important}
.slideBox .next{ left:auto; right:3%;  background:#000 url(../images/fenxiao/slider-r.png) no-repeat center center;background-size:20px;}
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=70);opacity:.7;  }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }
.xzPoster{text-align: center;font-size: 0;margin-top: 20px;}
.xzPoster a{display: inline-block;margin: 0 14px;height: 40px;line-height: 40px;border-radius: 20px;padding: 0 34px;background: #FF4B4B;font-size: 18px;color: #fff;}
