.banner .conbg, .mon-dwea .money s {background-image: url('../images/pubSprite.png'); background-repeat: no-repeat;}
.main{overflow: visible;margin-left: 192px;}
/* 会员基本信息 */
.yhInfo{background: #fff;border: 1px solid #F2F2F7;box-shadow: 0px 3px 12px 0px rgba(0, 3, 17, 0.05);border-radius: 6px;overflow: hidden;}

.seleInfo{text-align: center;overflow: hidden;width: 314px;
background: linear-gradient(0deg, #F0F8FF 0%, #FDFEFF 100%);
border-radius: 6px 0px 0px 6px;border-right: 1px solid #eee;box-sizing: border-box;padding: 0 20px 24px}
.seleInfo .txLogo{margin: 26px auto 0;width: 100px;}
.seleInfo .txLogo a{display: block;width: 92px;height: 92px;border: 4px solid #fff;border-radius: 50%;position: relative;box-shadow: 0px 0px 30px 0px rgba(81, 81, 81, 0.16);}
.seleInfo .txLogo img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%}

.seleInfo .txLogo span.leName{display: inline-block;padding: 0 11px;height: 24px;line-height: 24px;background: #fff;
box-shadow: 0px 0px 30px 0px rgba(81, 81, 81, 0.16);border-radius: 12px;font-size: 12px;color: #666;position: absolute;bottom: -10px;left: 50%;white-space: nowrap;margin-left: -35px;}

.seleInfo h2.usName{font-size: 20px;color: #333;margin-top: 18px;font-weight: bold;}

.seleInfo ul { height: 38px;display: inline-block;margin-top: 6px}
.seleInfo li {float: left;margin-right: 12px;}
.seleInfo li a {display: block;width: 38px;height: 38px;}
.seleInfo li a.disable {opacity: .4; filter:alpha(opacity=40);}
.seleInfo li a.mobile {background: url('../images/index/m-mobile.png') no-repeat center;  background-size: cover}
.seleInfo li a.real {background: url('../images/index/m-real.png') no-repeat center; background-size: cover}
.seleInfo li a.email {background: url('../images/index/m-email.png') no-repeat center; background-size: cover}

.seleInfo .safeLe{font-size: 14px ;color: #999;}
.seleInfo .safeLe a{font-size: 12px;color: #027CFF;margin-left: 10px;}
.seleInfo .myHome{display: inline-block;height: 40px;line-height: 40px;background: #027CFF;border-radius: 4px;font-size: 14px;color: #fff;padding: 0 26px;margin-top: 15px;}
.seleInfo .myHome:hover{background: #006ee4}

.rInfo{margin-left: 314px;}
.rInfo .lgInfo{height: 40px;line-height: 40px;background: #F5F5F5;text-align: center;font-size: 12px;color: #9A9A9A}
.rInfo .lgInfo a{color: #9A9A9A}

.moneyInfo{overflow: hidden;margin: 50px 25px;margin-left: 50px;}
.moneyInfo dl{float: left;text-align: center;width: 30%;}
.moneyInfo dl dt{font-size: 16px;color: #343434;font-family: coregtd;}
.moneyInfo dl dt strong{font-size: 24px;}
.moneyInfo dl dd{font-size: 14px;color: #9A9A9A;}
.moneyInfo ul{float: right;font-size: 0;padding-top: 10px;}
.moneyInfo ul li{display: inline-block;}
.moneyInfo ul li a{display: block;text-align: center;height: 34px;line-height: 34px;border: 1px solid #027CFF;border-radius: 3px;background: #027CFF;font-size: 14px;color: #fff;padding: 0 15px;}
.moneyInfo ul li.duih a{background: #fff;color: #027CFF;margin-left: 16px;}
.moneyInfo ul li.duih a:hover{background: #eaf5ff;}
.moneyInfo ul li:first-child a:hover{background:#006ee4 }

.hyInfo{padding: 0 24px;overflow: hidden;}
.hyInfo li{float: left;width: 280px;position: relative;border-radius: 10px;background: #FBF2DE;}
.hyInfo li a{display: block;padding: 25px 28px 24px;height: 104px;box-sizing: border-box;}
.hyInfo li h3{font-size: 20px;color: #333;font-weight: bold;}
.hyInfo li p{font-size: 14px;color: #999;margin-top: 2px}
.hyInfo li span{display: inline-block;position: absolute;right: 15px;top: 35px;height: 36px;line-height: 36px;width: 90px;text-align: center;box-sizing: border-box;border: 1px solid #F3B021;border-radius: 6px;font-size: 14px;color: #F3B021;background: #fff}
.hyInfo li.hytype{width: 300px;margin-right: 20px;}
.hyInfo li.hytype span{background: linear-gradient(-89deg, #B67D49 0%, #E7B482 100%);border: none;color: #fff;z-index: 2}
.hyInfo li.hytype.hycenter{background-image: url('../images/index/hycenter.png'); background-size: cover;}
.hyInfo li.hytype.nolevel h3{font-size: 18px;padding-left: 4px;}
.hyInfo li.hytype.nolevel a{padding-left: 13px;padding-top: 19px;}
.hyInfo li.hytype.nolevel{background-image: url('../images/index/nohy.png'); background-size: cover;}
.hyInfo li.hytype.nolevel span{background: #FFC52A;font-size: 14px;color: #6B0207;left: 13px;top: 54px;}
.hyInfo li.hytype.nolevel span:hover{background: #ffd155}

.hyInfo li.hyjf span:hover{background: #f3b021 ;color: #fff}
.hyInfo li.hycenter span:hover:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(255, 255, 255,.2);background-color: rgba(255, 255, 255,.2); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#33ffffff, endcolorstr=#33ffffff);border-radius: 6px;}

/*功能按钮*/
.func_box ul{
background: #fff;
border: 1px solid #eee;
box-shadow: 1px 3px 12px 0px rgba(1, 4, 17, 0.05);
border-radius: 6px;margin-top: 32px;overflow: hidden;}
.func_box li{float: left;width: 25%;text-align: center;position: relative;}
.func_box li a{display: block;padding: 24px 0;height: 52px;}
.func_box li i{display: inline-block;width: 52px;height: 52px;}
.func_box li i.icon-fenxiao{background: url('../images/index/icon-fenxiao.png') no-repeat; background-size: cover;}
.func_box li i.icon-collect{background: url('../images/index/icon-collect.png') no-repeat; background-size: cover;}
.func_box li i.icon-shang{background: url('../images/index/icon-shang.png') no-repeat; background-size: cover;}
.func_box li i.icon-hb{background: url('../images/index/icon-hb.png') no-repeat; background-size: cover;}
.func_box li i.icon-fans{background: url('../images/index/icon-fans.png') no-repeat; background-size: cover;}
.func_box li span{display: inline-block;font-size: 18px;color: #343434;margin-left: 10px;height: 50px;line-height: 50px;vertical-align: top}
.func_box li s{display: inline-block;width: 1px;height: 43px;background: #eee;position: absolute;right: 0;top: 30px;}
/*我的订单*/
.myOrder h2.tit,.modules h2.tit{font-size: 20px;color: #333;font-weight: bold;padding-top: 40px;padding-left: 10px;}
.myOrder h2.tit a{float:right;font-size:14px;color:#9A9A9A;font-weight:normal;    margin-top: 4px;}
.myOrder li{margin-top: 20px;border: 1px solid #EBECEE;border-radius: 4px;overflow: hidden;padding: 15px;}
.myOrder li .l_img{width: 100px;height: 100px;position: relative;float: left;}
.myOrder li .l_img a{display: block;}
.myOrder li .l_img img{width: 100%;height: 100%;object-fit: cover;border-radius: 4px;}
.myOrder li .l_img span{position: absolute;right: 0;bottom: 0;display: inline-block;height: 20px;line-height: 20px;padding: 0 14px;font-size: 12px;color: #fff;background: linear-gradient(50deg, #F54422 0%, #FF6804 100%);border-radius: 4px 0px 4px 0px;}
.myOrder li .orInfo{float: left;margin-left: 10px;}
.myOrder li .orInfo h3{font-size: 18px;width: 250px;font-weight: bold;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-top: 3px;}
.myOrder li .orInfo h3 a{color: #323233;}
.myOrder li .orInfo p.nature{font-size: 12px;color: #9A9A9A;width: 250px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-top: 18px;}
.myOrder li .orInfo p.nature span{display: inline-block;padding: 0 10px;font-size: 12px;color: #FE503E;height: 22px;line-height: 22px;background: #FFEFED;border-radius: 10px;margin-left: 6px;}
.myOrder li .orInfo p.orNum{font-size: 12px;color: #9A9A9A;width: 250px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-top: 8px;}
.myOrder li .orInfo p.orNum em{color: #FF6804;}
.myOrder li .othInfo{float: left;font-size: 0;padding-top: 26px;    padding: 26px 35px 0 25px;}
.myOrder li .othInfo dl{display: inline-block;    width: 150px;text-align: center;}
/*.myOrder li .othInfo dl dt{height: 27px;line-height: 27px;overflow: hidden;}*/
.myOrder li .othInfo dl.timeDl{width: 130px}
.myOrder li .othInfo dl.timeDl dt{font-size: 14px;color: #666;}
.myOrder li .othInfo dl.moneyDl dt{font-size: 12px;color: #9A9A9A;}
.myOrder li .othInfo dl.statusDl dt{font-size: 14px;color: #343434;}
.myOrder li .othInfo dl dt strong{font-size: 18px;color: #FF6804}
.myOrder li .othInfo dl dd{font-size: 12px;color: #9A9A9A;}
.myOrder .monInfo{display: table-cell;vertical-align: middle;height: 100px;}
.myOrder .moinner{margin: 0 auto;}
.myOrder .moinner p{width: 78px;height: 30px;line-height: 30px;text-align: center;border: 1px solid #027CFF;background: #fff;font-size: 14px;border-radius: 4px;}
.myOrder .moinner p.monP{background: #027CFF;margin-bottom: 10px;}
.myOrder .moinner p a{color: #027CFF;display: block;}
.myOrder .moinner p.monP a{color: #fff;}
.myOrder .moinner p.monP:hover{background: #006ee4}
.myOrder .moinner p.detP:hover{background: #eaf5ff}

/* 模块集合 */
.modules {margin-top: 20px;}
/*.modules ul {width: 110%;}
.w1200 .modules ul {width: 110%;}*/

.modules li {position: relative;float: left;  width:32.1%; margin-right: 1.7%; margin-top:20px;text-align: center;height: 170px;padding: 16px 16px;box-sizing: border-box;border: 1px solid #EBECEE;border-radius: 4px;}
.modules li:hover{box-shadow: 1px 8px 40px 0px rgba(1, 4, 17, 0.1);}
.modules li:nth-child(3n){margin-right: 0}
.modules li h3.modTitle{font-size: 16px;color: #323233;text-align: left;padding-left: 6px;}
.modules li h3.modTitle.speTit{font-weight: bold;}
.modules li h3.modTitle a{font-size: 12px;color: #959699;float: right;font-weight: normal;}
.modules li h3.modTitle a:hover{color: #027CFF}
.modules li i.modIcon{display: block;width: 60px;height: 60px;margin: 0 auto;    margin-top: -8px;}
.modules li .linka{margin-top: 30px;font-size: 0}
.modules li .linka a{display: inline-block;font-size: 12px;color:#959699;height: 28px;line-height: 28px;border: 1px solid #E0E0EB;padding: 0 7px;margin-left: 2.4%;border-radius: 4px;}
.modules li .linka a:hover{border: 1px solid #027CFF;color: #027CFF}
.modules li .linka a:first-child{margin-left: 0;}
.modules li.li-job i.modIcon{background: url(../images/index/icon-job.png) no-repeat center;background-size: cover}
.modules li.li-article i.modIcon{background: url(../images/index/icon-article.png) no-repeat center;background-size: cover}
.modules li.li-info i.modIcon{background: url(../images/index/icon-info.png) no-repeat center;background-size: cover}
.modules li.li-house i.modIcon{background: url(../images/index/icon-house.png) no-repeat center;background-size: cover}
.modules li.li-agent i.modIcon{background: url(../images/index/icon-agent.png) no-repeat center;background-size: cover}
.modules li.li-tieba i.modIcon{background: url(../images/index/icon-tieba.png) no-repeat center;background-size: cover}
.modules li.li-huodong i.modIcon{background: url(../images/index/icon-huodong.png) no-repeat center;background-size: cover}
.modules li.li-vote i.modIcon{background: url(../images/index/icon-vote.png) no-repeat center;background-size: cover}
.modules li.li-live i.modIcon{background: url(../images/index/icon-live.png) no-repeat center;background-size: cover}
.modules li.li-car i.modIcon{background: url(../images/index/icon-car.png) no-repeat center;background-size: cover}
.modules li.li-hongn i.modIcon{background: url(../images/index/icon-hongn.png) no-repeat center;background-size: cover}
.modules li.li-dating i.modIcon{background: url(../images/index/icon-dating.png) no-repeat center;background-size: cover}
.modules li.li-reno i.modIcon{background: url(../images/index/icon-reno.png) no-repeat center;background-size: cover}
.modules li.li-artist i.modIcon{background: url(../images/index/icon-artist.png) no-repeat center;background-size: cover}
.modules li.li-marry i.modIcon{background: url(../images/index/icon-marry.png) no-repeat center;background-size: cover}
.modules li.li-edu i.modIcon{background: url(../images/index/icon-edu.png) no-repeat center;background-size: cover}
.modules li.li-travel i.modIcon{background: url(../images/index/icon-travel.png) no-repeat center;background-size: cover}
.modules li.li-sfcar i.modIcon{background: url(../images/index/icon-sfcar.png) no-repeat center;background-size: cover}
.modules li.li-pension i.modIcon{background: url(../images/index/icon-pension.png) no-repeat center;background-size: cover}



/* 20200319修改 */
.banner .name .h_expired{font-size: 12px; margin-left: 14px;}

@font-face {
  font-family: "coregtd";
  src: url("/static/fonts/coregtd6.woff2"),
       url("/static/fonts/coregtd6.woff"),
       url("/static/fonts/coregtd6.ttf"),
       url("/static/fonts/coregtd6.eot"),
       url("/static/fonts/coregtd6.otf");
}
