
.container{padding-bottom: 0;}
.main{padding-bottom: 20px;}
.sidebar{    border-right: 1px solid #EDEDED;
    padding-right: 0;
    margin-right: 20px;}

.off-top{background:rgba(255,102,0,.1);height: 70px;line-height: 70px; text-align: center;margin-top: 20px;}
.logoff h2.offTitle{font-size: 15px;color:#FF6600;display: inline-block;}
.logoff h2.offTitle i{display: inline-block;width: 30px;height: 30px;background: url(../images/logoff-tip.png) center center no-repeat;background-size: cover;vertical-align: middle;margin-right: 10px;margin-top: -4px}

.off-ts{font-size: 16px;color: #999;margin-top: 36px;padding-left: 20px;}
.off-ts s{display: inline-block;width: 15px;height: 1px;background: #ccc;vertical-align: middle;    margin-top: -2px;}
.off-ts span{display: inline-block;padding: 0 10px;position: relative;}

.offSon{overflow: hidden;overflow-y: auto;    padding-bottom: 40px;padding-left: 20px;}
.offcon{margin-top: 50px;}
.offcon.speOff{margin-top: 20px}
.offcon h2.offTit{font-size: 20px;color: #000;font-weight: bold;padding-bottom: 14px;}
.offcon p{font-size: 14px;color: #666;line-height: 38px;width: 68%}

.off-agree{margin: 0 auto;position: relative;text-align: center;}
.off-agree a{height: 48px;line-height: 48px;font-size: 16px;color: #fff;background: #FF3C44;border-radius: 6px;text-align: center;padding: 0 54px;display: inline-block;}

.off-agree a:hover{background: #e9162b;}

/*弹出层*/
.delMask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.57);z-index: 100002;display: none;}
.delMask.show{display: block;}
.delAlert{position: fixed;top: 50%;left: 0;right: 0;z-index: 100003;overflow: hidden;height: 280px;margin-top: -140px;text-align: center;display: none;pointer-events: none;-webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out;}
.delAlertCon{background: #fff;box-shadow:0px 7px 37px 0px rgba(0, 0, 0, 0.13);border-radius:10px;min-width: 320px;display: inline-block;pointer-events: auto}
.delAlertCon>div{padding: 35px 40px 28px}
.delAlert h2.delTile{font-size: 18px;font-weight: bold;text-align: center;}
.delAlert p{font-size: 14px;color: #333;text-align: center;margin-top: 5px}
.delAlert ul{border-top: 1px solid #f5f5f7;}
.delAlert ul li{float: left;width: 50%;box-sizing: border-box;height: 60px;line-height: 60px;font-size: 16px;font-weight: bold;text-align: center;}
.delAlert ul li a{display: block;color: 000;}
.delAlert ul li a.sureDel{color: #3B7CFF}
.delAlert ul li.firLi{border-right: 1px solid #f5f5f7}
.delAlert ul li a.cancelDel:hover{color:#3B7CFF}