.subtitle {position: relative; font-size: 28px; border-bottom: 1px solid #ddd; margin-bottom: 10px; padding-bottom: 10px;}
.subtitle a {position: absolute; top: 12px; right: 5px; font-size: 14px; color: #027cff;}



/* 订单基本信息 */
.info-section {margin: 0 0 10px; padding: 25px 20px 17px; font-size: 14px; border: 1px solid #f5d8a7; background: #fff6db; color: #666; overflow: hidden; zoom: 1; line-height: 1.8em;}
.info-section .info-title{font-size: 18px;color: #666;font-weight: bold;cursor: pointer;}
.info-section .last{font-size: 14px;color: #999}
.info-section .btn_group{float: right;margin-top: 10px;}
.info-section .btn_group a{font-size: 14px;color: #027CFF;margin-left: 10px;display: inline-block;}
.info-section .btn_group a.btn-bg{width: 94px;height: 34px;line-height: 34px;background: #FF635C;color: #fff;border-radius: 3px;text-align: center;}
.cdown i{display: inline-block;width: 14px;height: 14px;background-image: url(../images/waimai/send-time.png); background-position: center center; background-repeat: no-repeat;background-size: 14px 14px;vertical-align: middle;margin-right: 5px;margin-top: -3px;}
.cdown em{color: #FFA800}
.info-section .last p.qxCode em{font-size:18px;color:#FFA800;font-weight: bold;}

/*商家信息*/
.order_wrap{border: 1px solid #eee;background: #F8F8F6;}
.store-section{background: #F8F8F6;padding: 20px 22px 25px 20px;border-bottom: 1px solid #eee}
.store-section dt,.store-section dd{float: left;}
.store-section dt{width: 50px;height: 50px;}
.store-section dt img{width: 100%;height: 100%;}
.store-section dd.info_dd{margin-left: 10px;}
.store-section .store-title{margin-top: 4px;}
.store-section .store-title .tit{font-size: 16px;font-weight: bold;display: inline-block;}
.store-section .store-title .contact_shop{display: inline-block;margin-left: 15px;font-size: 14px;color: #1787FE;}
.store-section .store-title .contact_shop i{display: inline-block;width: 16px;height: 16px;background-image: url(../images/waimai/wtel.png); background-position: center center; background-repeat: no-repeat;background-size: 100% 100%;vertical-align: middle;margin-right: 5px;margin-top: -3px;}
.store-section .orderNum{font-size: 14px;color: #999;margin-top: 2px;}

.store-section dd.collect_group {float: right;margin-top: 4px;}
.collect_group button{background: none; border: none; outline: none; cursor: pointer; float: left; text-align: center;font-size: 14px;}
.collect_group em{display: block; width: 26px; height: 26px; background-repeat: no-repeat;  vertical-align: middle; margin: 0 auto 4px}
.store-btn button em{background-image: url(../images/waimai/wlike.png); background-position: center center; background-repeat: no-repeat; }
.store-btn.curr button em{background-image: url(../images/waimai/wlike2.png); background-position: center center; background-repeat: no-repeat;width: 26px;height: 26px;}

/* 订单详细信息 */
.left_order{width: 50%;background: #F8F8F6}
.left_order .left_table{padding: 20px 0 22px 22px;border-bottom: 1px solid #eee;font-size: 12px;color: #999}
.left_order .left_table span{display: inline-block;width: 8%}
.left_order .left_table span:first-child{width: 56%}
.left_order .left_table span.fen{width: 28%}
.left_order .left_table span.ji{float: right;}

.hui i{display: inline-block;width: 20px;height: 20px;margin-right: 7px;vertical-align: middle;margin-top: -3px;}
.hui i.icon_shou{background: url(../images/waimai/icon_shou.png) center center no-repeat;background-size: cover;}
.hui i.icon_zhe{background: url(../images/waimai/icon_zhe.png) center center no-repeat;background-size: cover;}
.hui i.icon_jian{background: url(../images/waimai/icon_jian.png) center center no-repeat;background-size: cover;}
.hui i.icon_fan{background: url(../images/waimai/icon_fan.png) center center no-repeat;background-size: cover;}
.hui i.icon_quan{background: url(../images/waimai/icon_quan.png) center center no-repeat;background-size: cover;}
.hui span.yprice{float: right;font-size: 14px;color: #FF635C}
#cartList{border-bottom: 1px solid #eee;padding: 0 24px 8px;}
.car_list ul li{font-size: 14px;color: #666;padding: 0 24px;margin-bottom: 20px;}
.car_list .car_t1 {font-size: 14px;color: #666;margin: 18px auto ;}
.car_list .car_t1 .car_h1 {width: 60%}
.car_list .car_t1 .car_h3{text-align: right;font-size: 14px;}
.car_list .car_t2 ul em{font-size: 14px;}
.car_list .car_t4 ul span{float: right;color: #FF635C;font-size: 14px}
.car_list .car_t4 ul span.noquan{color:  #999}
.car_tprice{padding: 25px 24px 30px;text-align: right;}
.car_tprice .price{font-size: 30px;color: #FF635C}
.car_tprice .price span{font-size: 12px;color: #666}
.car_tprice .price em{font-size: 14px;}
.car_list .car_t2,.car_list .car_t3,.car_list .car_t4{border-bottom: 1px solid #eee;padding: 20px 0}
.car_list .car_t2 li:last-child,.car_list .car_t3 li:last-child,.car_list .car_t4 li:last-child{margin-bottom: 0}
/* 订单详细配送信息 */
.right-con {padding: 0 40px;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;width: 50%;background: #fff;border-left: 1px solid #eee
}
.right-con .right-title{font-size: 16px;font-weight: bold;padding-top: 20px ;padding-bottom: 7px;}
.right-con ul{padding: 23px 0;border-bottom: 1px dashed #eee;}
.right-con ul.last-ul{border-bottom: none}
.right-con ul li{font-size: 14px;color: #666;margin-bottom: 15px;}
.right-con ul li:last-child{margin-bottom: 0}
.right-con ul li span{display: inline-block;max-width: 420px;vertical-align: top}
.right-con .contact_shop{display: inline-block;margin-left: 15px;color: #1787FE;}
.right-con .contact_shop i{display: inline-block;width: 16px;height: 16px;background-image: url(../images/waimai/wtel.png); background-position: center center; background-repeat: no-repeat;background-size: 100% 100%;vertical-align: middle;margin-right: 5px;margin-top: -3px;}

/*订单跟踪*/

.mask_pop {height: 100%;width: 100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;z-index: 100000; display: none;}
.pop_page{position: fixed; z-index: 100001; display: none; width: 454px; left: 50%; top: 50%; margin-top: -100px;margin-left: -227px; background: #fff;  box-shadow: 0 0 20px rgba(0, 0, 0, .15); -webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.pop_page s.cha { position: absolute; right: 15px; top: 15px; width: 14px; height: 14px; background-image: url(../images/waimai/close.png); background-position: center center; background-repeat: no-repeat;cursor: pointer;z-index: 2; }

.pop_page ul li.pop_li:last-child .tip{display: block;}
.pop_page h2{text-align: center; font-size: 18px; color: #222; line-height: 50px; border-bottom: solid 1px #E8E9EB; position: relative; font-weight: bold;}
.pop_page ul{padding: 35px; }
.pop_page ul li{height: 70px; padding-left:30px; border-left: 1px solid  #74B7FF; position: relative;}
.pop_page ul li:before{content: ''; display: block; width: 10px; height: 10px; border-radius: 50%; background: #027CFF; position: absolute; left: -5px; top: 0;}
.pop_page ul li:last-child{border: none; left: 0.02rem;}
.pop_page ul li .left_state{float: left; font-size: 14px; color: #222;line-height: 1.1em;}
.pop_page ul li .right_time{float: right; color: #97989C;  font-size: 14px;}
.pop_page ul li .li_info{overflow: hidden;}
.pop_page ul li .tip{font-size: 14px; color: #97989C; margin-top: 10px; display: none;}

