
.mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.7);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#b2000000, endcolorstr=#b2000000); z-index: 1002;display: none;}
/*列表*/
.main_wrap{background:linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(247,247,249,1) 14.000000000000002%,rgba(237,236,242,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#EDECF2, endcolorstr=#FFFFFF);}
.owner_wrap{background: #fff;padding: 40px 30px 110px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.owner_head .owner-tit{font-size: 30px;color: #333;}
.owner_head .go_a{font-size: 16px;color: #FB5845}
.owner_head .go_a i{display: inline-block;width: 9px; height: 16px; background: url(../images/arr-l.png) no-repeat center;vertical-align: middle;margin-top: -3px;margin-right: 10px}
.img_con{margin-top: 30px;}
.form-tit{margin-top: 50px;}
.form-tit .tit{display: inline-block;width: 108px;text-align: right;margin-right: 18px;color: #333;font-weight: bold;font-size: 14px;}
.form-tit em,.img_head .img-tip{font-size: 14px;color: #A6A6A6}
.form-tit em.reference{color: #3C7EEF;cursor: pointer;}
.form_con label{width: 108px;text-align: right;font-size: 14px;color: #888;margin-right: 18px;    display: inline-block;}
.form_con label .star{color: #FF0000}


/*图片上传*/
.img_box{ background: #fff;padding-left: 126px;margin-top: 20px}
.img_box li{width: 130px; height: 130px;  background-color: #fff; float: left; position: relative; margin-bottom: 10px;border: 1px solid #e5e5e5;margin-right: 10px}
.img_show {width: 130px; height: 130px;overflow: hidden; position: relative;}
.del_btn{position: absolute;bottom: 0; right: 0;width: 30px; height: 30px; z-index:3;background: url(../images/delete.png) no-repeat center;cursor: pointer; font-size: 0}
.img_box img{width: 100%;height: 100%;object-fit: cover}
.upload_btn p,.addbtn p{font-size: 14px; color: #999; text-align: center; margin: auto; }
.upload_btn img{width: 52px; height: 44px; margin: auto; display: block; margin-top: 30px; margin-bottom: 15px;}
.upload_btn input{width: 130px; height: 130px; position: absolute; top: 0; left: 0; opacity: 1;z-index: 10;}
.upload_btn,.addbtn{position: relative;}
#filePicker{height: 100%; overflow: hidden;}
.webuploader-element-invisible {position: absolute !important; clip: rect(1px,1px,1px,1px);}
.webuploader-container div {width: 130px; height: 130px;}
/*表单样式*/
.form_con ul.form-ul>li{margin-top: 30px;}
.form_con input{width:530px;height:46px;background:#fff;line-height: 46px;font-size: 14px;border: 1px solid #E5E5E5; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;padding-left: 10px;padding-right: 30px;text-overflow: ellipsis;overflow: hidden;}

.form_con .input_div{position: relative;display: inline-block;}
.form_con .input_div i{position: absolute;top: 18px;right: 12px;display: inline-block;width: 17px;height: 9px;background: url(../images/arrow-down.png) no-repeat;background-size: 17px 9px;}
.form_con .input_div.active i{background: url(../images/arrow-up.png) no-repeat;background-size: 17px 9px;}

.form_con .input_div2 i{position: absolute;top: 20px;right: 12px;display: inline-block;width: 13px;height: 8px;background: url(../images/arrow-down2.png) no-repeat;background-size: 13px 8px;}
.form_con .input_div2.active i{background: url(../images/arrow-up.png) no-repeat;background-size: 17px 9px;}

.form_con .input_div em{position: absolute;top: 12px;right: 10px;font-size: 14px;color: #A6A6A6}


.form_con input::placeholder{color: #999999}
.form_con input::-moz-placeholder{color:#999999;}              　　/*ff*/
.form_con input::-webkit-input-placeholder{color:#999999;}       /*chrome,safari*/
.form_con input::-ms-input-placeholder{color:#999999;}             /*ie10*/




/*品牌弹窗*/
.brand-wrap{width: 880px;background: #fff;border-radius: 6px;padding: 20px 30px 30px;position: fixed; left: 50%; margin-left: -440px; top: 50%; margin-top: -240px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;z-index: 9999;display: none}
.brand-tit{font-size: 14px;color: #999;margin-bottom: 10px;}
.choose{float: left}
.aside{display: block;}
.brand-wrap .block-brand{background: #fff;z-index: 2;border: 1px solid #E5E5E5;}

.block-brand .aside-main{overflow: auto;font-size: 14px;color: #333;height: 420px;width: 147px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.block-brand .aside-main h3{display:block;height:30px;line-height:30px;font-size:14px;color:#585858;padding-left:15px;background:#f9f9f9}
.aside-main .tt{display:block;height:30px;line-height:30px;font-size:14px;color:#585858;padding-left:15px;background:#f9f9f9}
.aside-main ul li{position: relative;height:34px;line-height:34px;color:#999;font-size:14px;padding:0 20px;cursor:pointer;display:block;position:relative;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}

.block-brand .aside-main ul li:after,.block-cartype .aside-main ul li:after{content:"";position:absolute;width:4px;height:4px;border-top:1px solid #999;border-right:1px solid #999;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);top:50%;margin-top:-2px;right:20px}
.block-brand .aside-main ul li.active:after,.block-cartype .aside-main ul li.active:after{border-top:1px solid #F85D00;border-right:1px solid #F85D00}

.aside-main  li:hover{background:#FFF7F2;color:#F85D00}
.aside-main  li.active{background:#FFF7F2;color:#F85D00}

.block-brand .jump-tag{float: left;color: #999;font-size: 12px;height: 420px;    width: 30px;background: #fafafa;border-right: 1px solid #e5e5e5;}
.block-brand .jump-tag .jump-li{display: block;text-align: center;line-height: 20px;}
.block-brand .jump-tag .jump-li a{color: #999;}
.block-brand .jump-tag .jump-li.active a{color:#fb5845 }
.aside-main li{cursor: pointer;}

/*车系*/
.cartype-con,.sub-con{margin-left: 30px;}
.block-cartype{    height: 420px;width: 180px;overflow-y: scroll;border: 1px solid #E5E5E5;}
.cartype-sub{    height: 420px;width: 396px;overflow-y: scroll;border: 1px solid #E5E5E5;display: none}
.cartype-sub.show{display: block;}

.brand-wrap .choose_ul{margin: 30px auto 0;display: inline-block;}
.brand-wrap .choose_ul li{float: left;width: 128px;height: 48px;border: 1px solid #fb5845;border-radius: 3px;text-align: center;line-height: 48px;font-size: 18px;cursor: pointer;}
.brand-wrap .choose_ul li.cancel{color: #fb5845;background: #fff;margin-right: 10px;}
.brand-wrap .choose_ul li.confirm{color: #fff;background: #fb5845}

.ul_wrap{text-align: center;}

.brand-wrap .close_alert{width: 16px;height: 16px;position: absolute;right: -36px;top: 0;cursor: pointer;}

/*颜色*/


.colorPick_wrap {width:550px;margin-left:0px;display: inline-block;vertical-align: top}
.colorPick_wrap .colorTag {color:#a6a6a6;float:left;position:relative;border:1px solid #f2f2f2;min-width:70px;height:28px;margin-right:15px;margin-bottom:10px;border-radius:2px;}
.colorPick_wrap .colorTag span {display:block;margin:6px;_margin:3px;line-height:16px;font-size: 14px;}
.colorPick_wrap .colorTag i {display:none;font-size:0px;position:absolute;width:12px;height:12px;right:0px;bottom:0px;background:url(../images/chech.png);background-size: 12px}
.colorPick_wrap .colorTag .other {padding-left:5px;}
.colorPick_wrap .colorTag em {display:inline-block;vertical-align:middle;width:14px;height:14px;margin-right:7px;border:1px solid #cbcbcb;}
/*.colorPick_wrap .colorTag:hover {text-decoration:none;color:#000;border:1px solid #fb5845;background-color:#fb5845;}
.colorPick_wrap .colorTag:hover span,.colorPick_wrap .colorPicked span {margin:5px;_margin:2px;color:#fff;}
.colorPick_wrap .colorTag:hover em,.colorPick_wrap .colorPicked em {border:1px solid #fff;}*/
.colorPick_wrap .colorPicked i {display:block;}
.colorPick_wrap .colorTag.colorPicked{border: 1px solid #fb5845;background: #fff;}

/*所在区域*/
.addrBtn{height: 46px!important;
    line-height: 46px!important;
    padding-left: 14px!important;
    width: 280px!important;
    border: 1px solid #E5E5E5!important;

    font-size: 14px!important;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
    

/*时间下拉弹窗*/
.input_div2 input{width: 280px;}
.down-div{position: relative;display: inline-block;}
.down-div .time_choose{position: absolute;top: 46px;left: 0;padding: 16px;padding-left: 14px;width: 280px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;border: 1px solid #E5E5E5;z-index: 2;background: #fff;display: none;border-top: none}
.down-div .time_choose.active{display: block;}

.time-aside{width: 119px;height: 192px;border: 1px solid #E5E5E5;overflow: auto;}
.time-aside p{height: 30px;line-height: 30px;padding-left: 15px;font-size: 14px;color: #666}
.time-aside p:hover,.time-aside p.curr{background: #FFF7F2;color: #FB5845}


/*车辆性质*/
.pro_li .down-div .time_choose{padding: 0}
.pro-choose p{height: 30px;line-height: 30px;padding-left: 12px;font-size: 14px;color: #666}
.pro-choose p:hover,.pro-choose p.curr{background: #FFF7F2;color: #FB5845}

/*价格*/
.price-type{display: inline-block;margin-left: 10px;}
.price-type span{display: inline-block;padding-left: 23px;position: relative;margin-right: 25px;font-size: 14px;color: #333;cursor: pointer;}
.price-type span:before{content: '';display: inline-block;width:16px;height:16px;border:1px solid #BFBFBF;border-radius:2px;position: absolute;left: 0;top: 2px;}
.price-type span.active:before{content: '';background: #FB5845 url(../images/checked.png) no-repeat center center;border: 1px solid #FB5845}

.price-li {display: none}
.price-li .down-div{vertical-align: middle;}
.form_con .price-div{width:280px;height:46px;background:#fff;line-height: 46px;font-size: 14px;border: 1px solid #E5E5E5; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;padding-left: 10px;padding-right: 30px;text-overflow: ellipsis;overflow: hidden;}
.form_con .price-div input{border: none;float: right;width: 98px;padding-right: 0;padding-left: 0;text-align: right;}
.form_con .price-div .car-price{display: inline-block;height: 46px;line-height: 46px;vertical-align: top}

.price-li .down-div .time_choose{padding: 0}
.radio-choose p{height: 30px;line-height: 30px;padding-left: 12px;font-size: 14px;color: #666}
.radio-choose p:hover,.radio-choose p.curr{background: #FFF7F2;color: #FB5845}

/*车况说明*/
.label_spe{margin-top: 17px;}
.con{font-size: 14px;display: inline-block;vertical-align: top}
.con textarea{padding: 17px 11px;display: inline-block;width: 530px;height: 177px;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;border: none;border: 1px solid #E5E5E5;resize: none;}
/*验证码*/
.form-ul2 li input{width: 280px;}
.form_con .code_div{width:280px;height:48px;background:#fff;line-height: 46px;font-size: 14px;border: 1px solid #E5E5E5; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;display: inline-block;vertical-align: middle;font-size: 0}
.form_con .code_div input{border: none;width: 166px;padding-right: 0;padding-left: 0;vertical-align: top;padding-left: 10px;}
.form_con .code_div .test_btn{cursor: pointer;display: inline-block;}
.form_con .code_div .test_btn button{border: none;background: none;font-size: 14px;display: inline-block;height: 46px;line-height: 46px;vertical-align: top;width: 96px;border-left: 1px solid #E5E5E5;text-align: center;color: #FB5845;cursor: pointer;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}

.fabu-submit{width:283px;height:60px;background:#FB5845;border-radius:6px;font-size: 18px;color: #fff;text-align: center;line-height: 60px;margin-left: 126px;margin-top: 28px;cursor: pointer;}

/*车况说明*/
.img_contanier{position: fixed; left: 50%; margin-left: -245px; top: 50%; margin-top: -140px; width: 490px;  box-sizing: border-box;background-color:#fff;  padding: 28px 30px 38px; z-index: 9999; border-radius: 6px;display: none}
.img_contanier .close_alert{width: 16px;height: 16px;position: absolute;right: -36px;top: 0;cursor: pointer;}
.img_contanier .imgck{width: 307px;height: 317px;display: block;margin: 40px auto 0;}
.img_contanier p.img-p{margin-top: 10px;font-size: 24px;color: #333;}
.img_contanier p.img-tip2{margin-top: 14px;color: #666;font-size: 14px;text-align: center;}

/*预约成功弹出层*/
.order_success{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 9999;display: none;}
.suc_container{position: fixed; left: 50%; margin-left: -245px; top: 50%; margin-top: -140px; width: 490px;  box-sizing: border-box;background-color:#fff;  padding: 36px 20px 57px; z-index: 9999; border-radius: 6px;}
.suc_container .close_alert{width: 16px;height: 16px;position: absolute;right: -36px;top: 0;cursor: pointer;}
.suc_container .suc_img{width: 150px;height: 142px;display: block;margin: 0 auto}
.suc_container p.t1{margin-top: 10px;font-size: 24px;font-weight: bold;color: #333;text-align: center;}
.suc_container p.t2{margin-top: 10px;color: #999;font-size: 14px;text-align: center;}
.suc_container p.t3{margin: 28px auto 0;color: #fff;font-size: 16px;text-align: center;height: 50px;line-height: 50px;width: 208px;background: #FB5845;border-radius:3px;cursor: pointer; }


#errmsg i{display: inline-block;width: 16px;height: 16px;background:  url(../images/error.png) no-repeat center center;background-size: 16px;margin-right: 5px;vertical-align: middle;margin-top: -2px;}

.error{font-size: 12px;color: #FB5845;display: none;}
.error i{display: inline-block;width: 16px;height: 16px;background:  url(../images/error.png) no-repeat center center;background-size: 16px; vertical-align: middle;margin-top: -2px;margin-right: 5px;}

#img-error{position: absolute;top: 640px;}
#img-error2{position: absolute;top: 970px;left: 180px;}
#img-error3{position: absolute;top: 2090px;left: 180px;}