.main-wrap{background: #F5F5F5;padding-top: 20px;padding-bottom: 40px;}
.succ_wrap{background: #fff;padding-top: 170px;text-align: center;padding-bottom: 26px;}
.succ_wrap .succ_icon{width: 80px;height: 80px;margin: 0 auto}
.succ_wrap .succ_icon img{width: 80px;height: 80px;}
.succ_wrap p.pay_p1{font-size: 30px;margin-top: 20px;}
.succ_wrap p.pay_p2{font-size: 14px;color: #999;margin-top: 10px;}
.succ_wrap p.pay_p3{font-size: 14px;color: #999;margin-top: 194px;}
.succ_wrap ul{font-size: 0;margin-top: 55px;}
.succ_wrap ul li{display: inline-block;font-size: 18px;width: 200px;height: 50px;line-height: 50px;text-align: center;box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;}
.succ_wrap ul li a{display: block;}
.succ_wrap ul li.go_back{background: #fff;border: 1px solid #FCBE1B;margin-right: 10px;}
.succ_wrap ul li.see_order{background: #FCBE1B;border: 1px solid #FCBE1B;color: #fff}
.succ_wrap ul li.go_back a{color: #FCBE1B}
.succ_wrap ul li.see_order a{color: #fff}