body, html {font-family: 'microsoft yahei'; background-color: #f5f5f5;}

.header .nav li>a s,
.crumbs .notice li s,
.main-sub-tab li.sel label s {background-image: url('../images/pubSprite.png'); background-repeat: no-repeat;}

/* LOGO、导航 */
.header {position: relative; z-index: 1000; background-color: #017BFF; border-top: 1px solid #e4e4e4;}
.header .logo {float: left; margin-top: 23px; width: 230px;}
.header .logo s {display: none; float: left; width: 61px; height: 54px; margin-right: 10px;}
.header .logo h1 {overflow: hidden; font-size: 30px; color: #fff; line-height: 31px;}
.header .logo span {color: #fff; font-size: 14px; line-height: 25px; padding-left: 3px;}

.header .nav {float: right;}
.header .nav li {float: left; position: relative; font-size: 18px;}
.header .nav li>a {display: block; padding: 0 15px; color: #fff; line-height: 100px;}
.w1200 .header .nav li>a {padding: 0 25px;}
.header .nav li.mobile>a {padding: 0 10px;}
.header .nav li>a:hover, .header .nav li.current>a {background-color: #0065d1; color: #fff;}
.header .nav li>a s, .header .nav li>a i {display: inline-block; vertical-align: middle; overflow: hidden;}
.header .nav li>a .mob {width: 11px; height: 11px; background-position: -1px -1px; margin: -3px 5px 0 0;}
.header .nav li>a .quit {width: 19px; height: 20px; background-position: 0 -13px; margin: -3px 5px 0 0;}
.header .nav li>a i {height: 13px; padding: 0 3px; border-radius: 2px; margin: -3px 0 0 5px; line-height: 14px; background-color: #f54321; text-transform: uppercase; font-size: 10px; font-style: normal; font-family: arial;}
.header .nav li>a .arrow, .header .nav li>a .arrow em {position: absolute; display: block; width: 0; height: 0; border-style: solid; border-color: transparent; z-index: 10;}
.header .nav li>a .arrow {display: none; border-width: 5px; right: 2px; top: 47px; border-bottom-width: 0; border-top-color: #fff;}
.w1200 .header .nav li>a .arrow {right: 10px;}
.header .nav li>a .arrow em {border-width: 4px; top: -6px; left: 0; margin-left: -4px; border-bottom-width: 1px; border-top-color: #017BFF;}
.header .nav li.current>a .arrow {display: block;}
.header .nav li.current>a .arrow em {border-top-color: #0065d1;}
.header .subnav {display: none; position: absolute; left: 0; top: 100px; padding: 10px 0; background-color: #fff; box-shadow: 0 3px 10px #999; border-radius: 0 0 5px 5px; -webkit-transform-origin: 50% 0; -moz-transform-origin: 50% 0; transform-origin: 50% 0; -webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out;}
.header .mobile .subnav {padding: 0;}
.header .current .subnav {display: block;}
.header .subnav dt {position: absolute; display: block; width: 0; height: 0; border-style: solid; border-color: transparent; border-width: 6px; left: 56px; top: -12px; border-bottom-color: #fff;}
.header .subnav dd {position: relative; height: 35px; font-size: 14px;}
.header .subnav dd a {display: block; padding: 0 25px; line-height: 35px; white-space: nowrap;}
.header .subnav dd a:hover, .header .subnav dd.curr>a {color: #fff; background-color: #017BFF;}
.header .subnav dd strong {font-size: 18px; color: #f00;}
.header .subnav dd a:hover strong {color: #fff;}
.header .subnav dd.qrcode {height: 120px; padding: 5px;}
.header .subnav dd.qrcode img {width: 120px; height: 120px;}
.header .subnav dd dl {display: none; position: absolute; right: -145px; top: -5px; width: 150px; padding: 5px 0; background-color: #fff; box-shadow: 0 3px 10px #999; border-radius: 0 0 5px 5px;}


/* 面包屑 */
.crumbs .cont {float: left; height: 30px; padding: 13px 0; font-size: 14px; line-height: 30px;}
.crumbs .cont s, .crumbs .cont i {display: inline-block; width: 0; height: 0; border-style: solid; border-color: transparent;}
.crumbs .cont s {position: relative; border-width: 5px; border-left-color: #ccc; margin: 0 -3px 0 3px;}
.crumbs .cont i {position: absolute; border-width: 5px; top: -5px; left: -7px; border-left-color: #f5f5f5;}
.crumbs .qiandao {float: right; margin-left: 15px;}
.crumbs .qiandao a {display: block; width: 97px; height: 33px; margin-top: 12px; background: url('../images/qiandao_btn.png') no-repeat; line-height: 33px; text-align: center; font-size: 14px; color: #fff;}

/* 公告 */
.crumbs .notice {float: right; height: 30px; margin: 13px 0; line-height: 30px; overflow: hidden;}
.crumbs .notice ul {overflow: hidden;}
.crumbs .notice li {font-size: 14px;}
.crumbs .notice li a {display: block; max-width: 430px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; text-align: right;}
.crumbs .notice li s {display: inline-block; width: 16px; height: 16px; background-position: -20px -37px; vertical-align: middle; margin: -2px 5px 0 0;}

/* 内容 */
.container {padding: 28px 20px; border: 1px solid #ededed; background-color: #fff;}

/* 侧栏目 */
.sidebar {float: left; width: 172px; padding: 0 20px 50px 0; margin-top: -28px;}
.sidebar dl {margin-bottom: 5px;}
.sidebar dt {position: relative; height: 40px; padding-left: 5px; line-height: 40px; margin-bottom: 5px; padding-top: 26px; font-size: 18px; color: #333; cursor: pointer; font-weight: bold;}
/* .sidebar dt:hover {background-color: #eee;} */
.sidebar dt s, .sidebar dt i {position: absolute; display: block; width: 0; height: 0; border-style: solid; border-color: transparent; z-index: 10; -webkit-transition: all .2s linear; -moz-transition: all .2s linear; transition: all .2s linear;display: none;}
.sidebar dt s {border-width: 5px; right: 20px; top: 18px; border-bottom-width: 0; border-top-color: #ccc;}
.sidebar dt i {border-width: 4px; top: -6px; left: 0; margin-left: -4px; border-bottom-width: 1px; border-top-color: #efefef; }
.sidebar .curr dt s {border-top-width: 0; border-bottom-width: 5px; border-left-color: transparent; border-bottom-color: #ccc;}
.sidebar .curr dt i {top: 2px; border-top-width: 0; border-bottom-width: 4px; border-left-color: transparent; border-bottom-color: #efefef;}
.sidebar dt:hover i {border-top-color: #eee;}
.sidebar .curr dt:hover i {border-bottom-color: #eee;}
/*.sidebar .curr dt s {-webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg);}*/
.sidebar dt .setting {display: inline-block; vertical-align: middle; margin: -5px 0 0 10px; font-size: 12px; line-height: 35px; color: #037cff;}
.sidebar dd {position: relative; z-index: 10; /* height: 30px; */ line-height: 38px; margin-bottom: 5px;}
.sidebar dd.curr {z-index: 11;}
.sidebar dd a {display: block; position: relative; z-index: 1; padding-left: 7px; font-size: 14px;}

.sidebar dd s, .sidebar dd i {position: absolute; display: block; width: 0; height: 0; border-style: solid; border-color: transparent; z-index: 10;}
.sidebar dd s {border-width: 5px; right: 22px; top: 13px; border-right-width: 0; border-left-color: #ccc;}
.sidebar dd i {border-width: 4px; top: -4px; left: 0; margin-left: -6px; border-right-width: 1px; border-left-color: #fff;}
.sidebar dd.curr s {transform: rotate(90deg); transition: all .2s;}

/* .sidebar dd.curr i {border-left-color: #017BFF;} */

/* .sidebar dd.curr>a{background: #017BFF; color: #fff;} */
.sidebar dd li a:hover{color: #017BFF; }
.sidebar dd li a:hover::before{content: ''; display:block; width: 6px; height: 6px; background-color: #017BFF; position: absolute;  left: 20px; top: 0; bottom: 0; margin: auto; border-radius: 50%;}


.sidebar dd li.active a{color: #017BFF; }
.sidebar dd li.active a::before{content: ''; display:block; width: 6px; height: 6px; background-color: #017BFF; position: absolute;  left: 20px; top: 0; bottom: 0; margin: auto; border-radius: 50%;}

.sidebar dd a em {display: inline-block; height: 15px; padding: 0 4px; margin: -3px 0 0 5px; vertical-align: middle; overflow: hidden; border-radius: 10px; font-size: 12px; line-height: 15px; color: #fff; background-color: #ff6803;}
.sidebar dd ul {padding: 5px 0; background-color: #F2F8FF;  display: none; margin-left: -20px;/* position: absolute; z-index: 2; left: 100px; top: 20px; width: 130px;*/   /* background-color: #f0f0f0; border-radius: 5px; box-shadow: 0 2px 10px #999; -webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out; */}
.sidebar dd.curr ul {display: block;}
.sidebar dd li {height: 35px; line-height: 35px;}
.sidebar dd li.line {height: 1px;line-height: 1;background:#b9b6b6;margin:5px 5px;}
.sidebar dd li a {display: block; padding: 0 25px; margin: 0; line-height: 35px; font-size: 14px; color: #333; font-family: 'microsoft yahei'; padding-left: 40px; position: relative;}
/* .sidebar dd li a:hover {background-color: #017BFF; color: #fff;} */
.sidebar dd li.sepLi{margin-top: 10px;}
.sidebar dd li.sepLi a{font-size: 13px;color: #ADAFB7;}
.sidebar dd li.sepLi a:hover{color: #ADAFB7;}
.sidebar dd li.sepLi a::before{display: none;}

.sidebar .module dd {float: left; width: 40%; margin-left: 7%;}
.sidebar .module dd.fb {float: none; width: 88%; margin: 0 0 10px 6%;}
.sidebar .module dd a {padding-left: 20px;}
.sidebar .module dd.fb>a {padding-left: 22px; border-top: 1px solid #eee; border-bottom: 1px solid #eee; background-image: url('../images/fb_bg.png'); background-repeat: no-repeat; background-position: 15px 6px;}
.sidebar .module dd.fb>a:hover, .sidebar .module dd.curr.fb>a {background-image: none;}
.sidebar .module dd ul {left: 60px; width: 110px;}
.sidebar .module dd.fb ul {left: 140px; width: 110px;}
.sidebar .module dd s {right: 17px;}
.container {position: relative;}
.container .line_border{width: 1px; position: absolute; left: 192px; top: 0; bottom: 0; background-color: #EDEDED; z-index: 10;}
/* 内容 */
.main {position: relative; overflow: hidden; /* padding-left: 18px; */}

/* 内容一级TAB */
.main-tab {min-height: 40px; line-height: 39px; border-bottom: 2px solid #f60;}
.main-tab li {position: relative; z-index: 1; float: left; margin-right: -1px;}
.main-tab li.curr {z-index: 2;}
.main-tab li a {display: block; padding: 0 22px; border: 1px solid #e6e6e6; border-bottom: 0; background-color: #f3f3f3; color: #666; font-size: 14px;}
.main-tab li.curr a, .main-tab li.curr a:hover {background-color: #f60; border-color: #f60; color: #fff;}
.main-tab li a:hover {background-color: #e6e6e6;}
.main-tab li.add {float: right; position: relative; z-index: 5; margin-top: 4px;}
.main-tab li.add a {border: 0; line-height: 30px; background-color: #5bb75b; color: #fff;}
.main-tab li.add a:hover {background-color: #51a351;}
.main-tab li.add dl {position: absolute; left: 0; top: 0; background-color: #5bb75b; display: none;}


/* 内容二级TAB */
.main-sub-tab {height: 45px; font-size: 14px; line-height: 45px; border-bottom: 2px solid #ddd; margin-top: 10px; overflow: hidden;}
.main-sub-tab li {position: relative; float: left;}
.main-sub-tab li a {display: block; padding: 0 13px;}
.main-sub-tab li.curr a {color: #017BFF; border-bottom: 2px solid #017BFF;}
.main-sub-tab li.sel {margin: 0 10px 0 10px;}
.main-sub-tab li.sel label {margin-right: 20px; cursor: pointer;}
.main-sub-tab li.sel label s {display: inline-block; width: 14px; height: 14px; vertical-align: middle; margin: -2px 3px 0 0; background-position: -72px -1px;}
.main-sub-tab li.sel label.curr s {background-color: #5480bc; background-position: -72px -20px;}

.main-sub-tab li.static {font-weight: 700; color: #30992e;}
.main-sub-tab li.static label {color: #4d4d4d; font-weight: 500;}

.list .loading {padding: 100px 0; text-align: center; font-size: 14px;}
.list .loading img {margin-right: 5px; display: inline-block; vertical-align: middle;}

.list table {width: 100%;}
.list .fir {width: 20px;}
.list thead {border-bottom: 2px solid #e8e8e8; font-size: 14px; line-height: 45px;}
.list .thead {background: #ececec; color: #8e8e8e; line-height: 35px;}
.list tbody tr {line-height: 45px; font-size: 14px; border-bottom: 1px solid #eee;}
.list tbody tr:hover td {background-color: #ecf5fc;}
.list tbody tr:hover td.empty {background-color: #fff;}
.list tbody td {line-height: 20px; padding: 12px 0;}
.list tbody td.add {color: #30992e; font-size: 16px; font-weight: 700;}
.list tbody td.less {color: #b1000f; font-size: 16px; font-weight: 700;}
.list tbody td a s {display: inline-block; width: 13px; height: 13px; vertical-align: middle; margin: -2px 2px 0 0; background-image: url('../images/pubSprite.png'); background-repeat: no-repeat;}
.list tbody td a.edit s {background-position: -13px -54px;}
.list tbody td a.del {margin-left: 10px;}
.list tbody td a.del s {background-position: 0 -54px;}
.list tbody td a.link {color: #017BFF;}

/* 分页 */
.pagination {height: 28px; padding: 30px; display: none;}
.pagination-pages {float: right;}
.pagination-pages a, .pagination-pages span {float: left; min-width: 20px; height: 30px; padding: 0 5px; margin: 0 0 0 4px; background-color: #f7f7f7; text-align: center; line-height: 30px; font-size: 14px; cursor: pointer; color: #999; text-decoration: none; border: solid 1px #EDEDED; border-radius: 2px;}
.pagination-pages .curr, .pagination-pages .interim {cursor: default;}
.pagination-pages .curr {background: #027CFF; color: #fff; border: solid 1px #027CFF;}
.pagination-pages a:hover {background-color: #027CFF; color: #fff; border: solid 1px #027CFF;}
.pagination-pages .prev, .next {padding: 0 8px;}
.pagination-pages .disabled {background-color: #999; color: #fff; cursor: default;}


/* 版权 */
.footer {background: transparent; padding: 15px 0 20px; text-align: center; line-height: 30px; font-size: 14px; color: #333;}
.footer a {color: #333;}
.footer a:hover {color: #037cff; text-decoration: underline;}

/*直播标题背景条*/
.list_banner {  width: 100%;  height: 42px;  line-height: 42px;  color: #fff;  background: url(../images/list_bg.png);  }
.list_banner p {  font-size: 14px;  padding-left: 20px;  }



/* 分享 */
.shareBox{position: absolute; height: 210px; width: 330px; border-radius: 8px; background: #fff; box-shadow:0px 3px 23px 0px rgba(0,6,33,0.15); background-color: #fff; -webkit-animation: bottomFadeIn 0.3s ;-moz-animation: bottomFadeIn 0.3s ;animation: bottomFadeIn 0.3s; display: none; z-index: 10;}
.shareBox .left_code{float: left; width: 165px; position: relative;}
.shareBox .left_code img{width: 100px; height: 100px; display: block; margin: auto;}
.shareBox .left_code i.line{display: block; width: 1px; height: 120px; background-color: #E6E7ED; position: absolute; right: 0; top: 0;}
.shareBox .right_share{float: right; width: 164px; box-sizing: border-box; padding-left: 25px; padding-right: 16px;}
/* .right_share .ul_share {} */
.shareBox  .right_share p{margin-top: 14px; color: #5C5C5E; line-height: 40px;}
.shareBox  .right_share .ul_share li{float: left; width: 38px; height: 38px; margin-right: 3px; margin-bottom: 4px;}
.shareBox  .right_share .ul_share li a{display: block; width: 38px; height: 38px; background: none; padding: 0;}
.shareBox  .right_share .ul_share li img{width: 100%; height: 100% ; object-fit: cover; pointer-events: none;}
.shareBox:after{content: ''; display: block; width: 100%; height: 16px; position: absolute; top: -16px; left: 0; right: 0; background: #fff; opacity: 0;}
.shareBox h5{text-align: center; color: #5C5C5E; font-size: 14px; line-height: 62px;}
.shareBox h5 i{display: inline-block; width: 40px; height: 1px; background-color: #8D8E91; vertical-align: middle; margin: 0 4px;}
.shareBox .left_code p{text-align: center; color: #5C5C5E; font-size: 12px; line-height: 40px;}
.shareBox .left_code p em{color: #3B9DFF; line-height: 40px; margin-bottom: 4px; display: inline-block;}
.shareBox .left_code p{line-height: 20px;}
.shareBox  i.arr1{display: block; width: 0; height: 0; border: solid 6px rgba(0,0,0,0); border-bottom: solid 6px rgba(255,255,255,1); position: absolute; right: 40px; top: -12px;}



.mpop_tip{display: block; position: fixed; top: 0; bottom: 0; right: 0; left: 0; background-color: rgba(0,0,0,.5); z-index: 999999;}
.alertbox{width: 360px; min-height: 200px; border-radius: 16px; background-color: #fff; box-shadow: 0 3px 19px 0 rgba(0, 0, 0, 0.13); position: fixed; top: 40%; left: 0; right: 0; margin: auto; z-index: 1000000; overflow: hidden;}
.alertbox .alert_con{height: 140px; display: flex; align-items: center; flex-direction: column; text-align: center; justify-content: center; box-sizing: border-box; border-bottom: solid 1px #DCDCDE;}
.alertbox .alert_con h3{font-weight: bold; font-size: 16px; color: #000; margin-bottom: 2px;}
.alertbox .alert_con p{color: #333; font-size: 12px;}

.alertbox .btns{display: flex;justify-content: space-between;}
.alertbox .btns a{-webkit-appearance: none; border: none; width: 50%; height: 60px; background-color: #fff; font-size: 16px; font-weight: bold; box-sizing: border-box; text-align: center; display: flex; align-items: center; justify-content: center;}
.alertbox .btns a.sure{color: #FFAE00;}
.alertbox .btns a.cancel{color: #FFAE00;}
.alertbox .btns a:nth-child(2){border-left: solid 1px #DCDCDE ; }
.alertbox .btns a:active{background-color: #f5f5f5;}
.alertbox .alert_con p.showtip{font-size: .28rem; color: #666;}
.alertbox .alert_con p.errtip{color: #EF2437; font-size: 14px;}
.alertbox .alert_con .inpbox{margin: 0 20px; height: 60px; background-color: #F5F5F7; border-radius: 5px; margin-top: 21px;}
.alertbox .alert_con .inpbox input{height: 60px; border: none ; width: 100%; background: none; font-size: 25px; color: #000; font-weight: bold; text-align: center;}
.alertbox .alert_con.more_h{height:146px;}
.alertbox .alert_con .inpbox input::placeholder{ color: #BFBFBF;font-size: 20px; }