.item .left_b{width: 60px;height: 60px;float: left;}
.item .left_b img{width: 100%;height: 100%;object-fit:cover;border-radius: 50%}
.item .right_b{margin-left: 68px}
.item .right_b .com_type{padding-top: 5px;font-size: 16px;font-weight: bold;color: #333;display: inline-block;max-width:310px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-right: 8px}
.item .right_b .com1 span{display: inline-block;background-size: 21px 23px;   width: 20px;height: 23px;    vertical-align: top;}
.item .right_b .defend{background: url(../images/renovation/defend.png) center center no-repeat;margin-right: 8px}
.item .right_b .certify{background: url(../images/renovation/certify.png) center center no-repeat;}
.item .right_b .right_ul{font-size: 0;margin-top: .1rem}
.item .right_b .right_ul li{color: #999;font-size: 14px;display: inline-block;margin-right: 10px;position: relative;}
.item .right_b .right_ul li:after{content: '';width: 1px;height: 13px;background: #999;margin-left: 10px;display: inline-block;    vertical-align: middle; margin-top: -3px;}
.item .right_b .right_ul li:last-child:after{display: none;}
.item .com_bottom .apply{position: absolute;right: 0;top: 30px;font-size: 14px;color: #F97126;width: 80px;height: 34px;line-height: 34px;text-align: center;border-radius: 4px;border:1px solid  #F97126;box-sizing: border-box;}

/*参观工地*/

.vill_site .left_img{width: 60px;height: 60px;float: left;}
.vill_site .left_img img{width: 100%;height: 100%;object-fit: cover;border-radius: 4px}
.vill_site .r_content{margin-left:70px }
.vill_site .r_content .vill_title{font-size: 16px;color: #333;font-weight: bold;max-width:500px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap; }
.vill_site .r_content .vill_info2{font-size: 14px;color: #999;margin-top:15px;}
.vill_site .r_content .visit{position: absolute;right: 0;top: 30px;font-size: 14px;color: #F97126;width: 80px;height: 34px;line-height: 34px;text-align: center;border-radius: 4px;border:1px solid  #F97126;box-sizing: border-box;}
.vill_site .r_content .vill_info2 em{margin-left: 10px;margin-right: 10px;width: 1px;height: 13px;background: #999;display: inline-block;    vertical-align: middle;}