
.invite_header{position: relative;}
.invite_header .zbstate{font-size: 16px;color: #FF6600;position: absolute;right: 30px;top: 30px;font-weight: bold;}
.invite_header .info_tit{font-size: 24px;color: #333;font-weight: bold;}

.invite_header .info_top{color: #333;border-bottom: 1px dashed #d9d9d9;padding-bottom: 10px;padding-top: 25px;}

.invite_header .inv_price{color: #F97126;margin-top: 14px;font-size: 16px; }
.invite_header .inv_price span{font-size: 24px;font-weight: bold;}

.info_bottom{font-size: 14px;color: #666;padding-top: 8px;border-bottom: 1px dashed #d9d9d9;padding-bottom: 30px}
.info_bottom li {margin-top:14px }
.info_bottom li span{display: inline-block;overflow: hidden;vertical-align: top}
.info_bottom li span:first-child{margin-right: 5px}

.companyList .comtit{font-size: 16px;color: #000;font-weight: bold;padding-top: 20px}
.companyList .com_li:last-child{border-bottom: 0}
.companyList .com_bottom{    padding: .32rem .24rem .35rem .2rem;position: relative;border-radius: .06rem}
.item {position: relative;border-bottom: none;    padding: 17px 10px 0 0}
.item .p{width: 80px;height: 80px;border-radius: 50%;margin-left: 7px;}
.item .p a{width: 80px;height: 80px;}
.item .p img{border-radius: 50%;width: 100%;height: 100%;object-fit: cover}

.companyList .right_b{border-bottom: 1px solid #eee;margin-left:100px; padding-bottom: 17px}
#list .item:last-child .right_b{border-bottom: none;}
#list {padding-bottom: 25px;border-bottom: 1px dashed #d9d9d9}
.companyList .right_b .com_type{font-size: 16px;font-weight: bold;color: #333;display: inline-block;    max-width:300px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;margin-right: 18px;}
.companyList .right_b .com1{padding-top: 8px;}
.companyList .right_b .com1 span{display: inline-block;background-size: 21px 23px;color: #fff;    width:  21px;height: 23px;  vertical-align: top;}
.companyList .right_b .defend{background: url(../images/renovation/defend.png) center center no-repeat;margin-right: .08rem;margin-right: 10px;}
.companyList .right_b .certify{background: url(../images/renovation/certify.png) center center no-repeat;}
.companyList .right_b .right_ul{font-size: 0;margin-top: 20px;position: relative;}
.companyList .right_b .right_ul li{color: #888;font-size: 14px;display: inline-block;margin-right:10px}
.companyList .right_b .right_ul li:after{content: '';width: 1px;height: 13px;background: #999;margin-left: 10px;display: inline-block;    vertical-align: middle;
    margin-top: -3px;}
.companyList .right_b .right_ul li:last-child:after{display: none;}
.companyList .apply{position: absolute;right: 0;top: 38px;font-size: 14px;color: #F97126;width: 100px;height: 40px;line-height: 40px;text-align: center;border-radius: 4px;border: 1px solid #F97126;}

.btnBox{width: 240px;height: 50px;line-height: 50px;text-align: center;background: #F97126;border-radius: 4px;margin: 65px auto}
.btnBox a{font-size: 18px;color: #fff;display: block}
.btnBox.disabled{background: #a0a0a0;}
.btnBox.disabled a {color: #fff;}