.list table {width: 100%; border: 1px solid #e5e5e5; margin-top: 15px; }
.list thead {height: 30px; line-height: 30px; font-size: 12px; background-color: #f5f5f5; border-bottom: 1px solid #e5e5e5; color: #aaa; }
.list th {font-size: 14px;color: #999;text-align: left;}
.list td {font-size: 14px;color: #333;text-align: left;background: #fff}
.list th.speTh,.list td.speTd{text-align: center;}
.list td.colorTd{color: #FF6600}
.list .tl {text-align: left;}
.list .user {padding:8px 0 5px;}
.list .title {padding:5px 0 8px;color: #a0a0a0;font-size: 14px;}
.list a.title:hover {color:#cd0001;}
.list .bj {display: inline-block;width:48px;height: 24px;cursor: default;vertical-align: middle;border: 1px solid #FF6600;border-radius: 4px;font-size: 12px;color: #FF6600;text-align: center;line-height: 24px;margin-right: 4px;cursor: pointer}

.list .del {display: inline-block;width:24px;height:24px;background: url('../images/anchor_del.png');vertical-align: middle;margin-left: 0 !important;}

.list .note td {padding:12px 20px;text-align: left;font-size: 14px;line-height: 1.4;color:#999;}