.common-title{margin:0 20px 20px;padding-bottom:10px ;font-size: 18px;color: #333;font-weight: bold;border-bottom: 1px solid #E9E9E9;}
.common-title.spe_title{margin-top: 80px;}
.w-form .inp{width: 233px}
.addrBtn{width: 243px !important;border-radius: 5px}
.w-form .caret {position: absolute;right: 14px;top: 14px;display: inline-block; width: 0; height: 0;  vertical-align: top; border-top: 4px solid #000; border-right: 4px solid transparent; border-left: 4px solid transparent; content: "";}
.w-form .combox{position: relative;width: 255px;}
.w-form .com_choose{cursor: pointer;}
/*国籍区号样式*/
#fabuForm dd .areaCode{left: 12px;top: 10px;border-right: 1px solid #d8d8d8;font-size: 14px;height: 30px;}
.w-form .inp#tel{padding-left: 70px;width: 173px;}
#fabuForm dd .areaCode_wrap{left: 10px;width: 253px;}

/*选择所属公司弹出层*/
.apply_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1002;display: none;}
.apply_con{position: fixed; left: 50%; margin-left: -576px; top: 50%; margin-top: -350px; width: 1153px;  box-sizing: border-box;background-color:#fff;  padding: 20px 20px 23px; z-index: 9999; display: none;}
.apply_con h2{font-size: 20px;color: #333;text-align: center;font-weight: bold;}
.apply_con .close{width: 51px;height: 51px;position: absolute;right: 20px;top:18px;cursor: pointer;}
/*搜索*/
.reno_form2{background: #fff;width: 500px;margin: 65px auto 36px}
.reno_form2 form{border:1px solid #f97126;height: 40px;line-height: 40px;border-radius: 4px;}
.reno_form2 img{width: 21px;height: 21px;padding-left: 8px;margin-right: 10px;    vertical-align: middle;
    margin-top: -5px;}
.reno_form2 input{display: inline-block;height: 40px;line-height: 40px;background: #fff;-webkit-appearance:none;outline:none;
	border:0px;font-size: 14px; color: #333}
.reno_form2 input::placeholder{color: #a0a0a0}
.reno_form2 .renoform_go{height: 100%}
.reno_form2 .renoform_go button{width:56px;height: 100%;text-align:center;font-size: 14px; color: #fff; border: none; background: #F54D0C; outline: none; }
.reno_form2 .renoform_go{float: right;}

/*公司列表*/
.com_list ul li{float: left;margin-right: 19px;width: 140px;margin-bottom: 26px;cursor: pointer;}
.com_list ul li .pic{width: 100%;height: 140px;border:1px solid #eee;text-align: center;background: #000;position: relative;}
.com_list .pic img{width: 100%;height: 100%;}
.com_list ul li .com_title{font-size: 16px;color: #333;margin-top: 20px;text-align: center;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;height: 50px;}
.com_list ul li:hover img{opacity: .4; filter: Alpha(opacity=40);}
.com_list .pic .apply_join{display: none;position:absolute;background:#f54d0c;border-radius:4px;width: 90px;height: 40px;line-height: 40px;color: #fff;font-size: 14px;top: 50%;left: 50%;margin-left: -45px;margin-top: -20px;z-index: 4}
.com_list li:hover .apply_join{display: inline-block;}


/* 分页 */
.pagination {padding: 10px 0 30px; text-align: center; line-height: 28px; font-size: 14px; color: #797a82; margin-top: 30px;}
.pagination-gotopage {float: right; margin-left: 15px;}
.pagination-gotopage label {float: left; line-height: 28px; margin-right: 8px;font-size: 14px;color: #5a5a5e;}
.pagination-pages {float: right;}
.pagination-pages a, .pagination-pages span {float: left; min-width: 18px; height: 28px; padding: 0 5px; margin: 0 10px 0 0; text-align: center; line-height: 28px; font-size: 14px; cursor: pointer; color: #666; text-decoration: none;background-color: rgb(250, 250, 252);border:solid 1px rgb(230, 232, 242);}
.pagination-pages .curr, .pagination-pages .interim {background-color: transparent; border-color: transparent; cursor: default;color: #666}

.pagination-pages a:hover { color: #f1370b;background-color: rgb(250, 250, 252);border:solid 1px rgb(230, 232, 242);}
.pagination-pages .prev {display: inline-block;}
.pagination-pages .prev,.pagination-pages .next{width: 56px!important;background-color: rgb(250, 250, 252);border:solid 1px rgb(230, 232, 242);}
.pagination-pages .next {padding: 0 8px;}
.pagination-pages .prev.disabled,.pagination-pages .next.disabled{display: none;}


.pagination .page_info {display: none;}

.w-form .combox span.sym{position: absolute;right: 14px;top:0;font-size: 14px;color: #3B3B3B}
.w-form textarea{float: left;width: 80%;min-height: 108px;padding: 13px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;font-size: 14px;    border: 1px solid #d8d8d8;border-radius: 5px;}
.w-form textarea::placeholder{color: #999}
.art_ul {width: 88%}
.art_ul li{float: left;width:80px;height:36px;background:#F5F5F7;border-radius:4px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;margin-right: 10px;margin-top: 10px;text-align: center;line-height: 36px;font-size: 14px;color: #666;position: relative;cursor: pointer;}
.art_ul li.curr{border: 1px solid #027CFF;color: #027CFF}
.art_ul li.curr i{display: inline-block;width: 20px;height: 20px;background: url(../images/renovation/checked.png) no-repeat center;position: absolute;right: 0;bottom: 0;}
.w-form select{width: 255px;border: 1px solid #d8d8d8;border-radius: 5px;}
.w-form dl.dlIdea{margin-top: 8px;}










