.main{overflow: visible;margin-left: 192px;}
.incomeBox{
border: 1px solid #eee;
box-shadow: 0px 3px 12px 0px rgba(0, 3, 17, 0.05);
border-radius: 6px;padding: 34px 0;overflow: hidden;}
.incomeBox dl{float: left;width: 50%; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;text-align: center;}
.incomeBox dl.allIn{border-right: 1px solid #eee}
.incomeBox dl dt{font-size: 36px;color: #39393A;font-weight: bold;}
.incomeBox dl dd{font-size: 16px;color: rgba(57,57,58,.5);margin-top: 10px;}


.tips{color: #a3a3a3; margin: 25px 0 20px;}
.gray{color: #a3a3a3;}
.countBox{margin-top: 20px;height: 140px;padding-bottom: 20px;}
.countBox li{float: left;width: 202px;font-size: 16px; padding: 28px 20px 33px;color: #fff;border-radius: 6px;overflow: hidden;position: relative;margin-left: 20px;}
.countBox li:first-child{margin-left: 0;}
.w1200 .countBox li{width: 268px;}
.countBox li strong{font-size: 30px;margin-bottom: 10px;position: relative;z-index: 2;display: block;}
.countBox li p{position: relative;z-index: 2}
.countBox li i{position: absolute;bottom:0;right: 0;width: 120px;height: 120px;display: block;}
.countBox li.allSh{background: linear-gradient(160deg, #F73534 0%, #FF6663 99%);box-shadow: 0px 5px 16px 0px rgba(249, 80, 77, 0.3);}
.countBox li.award{background: linear-gradient(160deg, #1163D6 0%, #11A0F2 99%);box-shadow: 0px 5px 16px 0px rgba(43, 174, 253, 0.3);}
.countBox li.shaNum{background: linear-gradient(160deg, #FF7418 0%, #FFA939 100%);box-shadow: 0px 5px 16px 0px rgba(246, 154, 55, 0.3);}
.countBox li.allSh i{background: url(../images/reward/allSh.png?v=1) center center no-repeat;background-size: cover;}
.countBox li.award i{background: url(../images/reward/award.png) center center no-repeat;background-size: cover;}
.countBox li.shaNum i{background: url(../images/reward/shaNum.png) center center no-repeat;background-size: cover;}

.dsTitle{padding-top: 20px;margin-bottom: 26px;}
.dsTitle .title{display: inline-block;font-size: 20px;color: #333;font-weight: bold;}
.dsTitle .choseWrap{float: right;}
.dsTitle .month{position: relative;}

.dsTitle .comX{padding: 7px 10px 7px 14px;border-radius: 4px;cursor: pointer;border: 1px solid #EBEBEB;}
.dsTitle .comX span{font-size: 14px;color: #39393A}
.dsTitle .comX i{display: inline-block;width: 14px;height: 14px;background: url("../images/reward/down.png") no-repeat;background-size: contain;vertical-align: middle;margin-left: 8px;    margin-top: -3px;}
.sameChose.click .comX span{color: #027CFF}
.sameChose.click .comX i{background: url("../images/reward/up.png") no-repeat;background-size: contain;}
.sameChose{position: relative;margin-left: 10px;}
/*来源 类型下拉框*/
.sameList{position: absolute;left: 0;top: 38px;background: #FFF;box-shadow: 1px 2px 9px 1px rgba(0, 0, 0, 0.13);border-radius: 6px;min-width: 104px;z-index: 10000;display: none;} 
.sameList li{font-size: 14px;color: #3B3B3B;line-height: 40px;text-align: center;}
.sameList li a{color: #3B3B3B;display: block;padding: 0 10px;}
.sameList li.curr a{color:#027CFF }
.sameList li:hover a{color:#027CFF}
.comWrap.show{display: block!important;}
/*金额下拉*/

.amoutMoney .comWrap{color: #000;position: absolute;right: 0;top: 38px;white-space: nowrap;display: none}
.amoutMoney .inpbox{background: #FFFFFF;box-shadow: 0px 2px 16px 0px rgba(186, 187, 198, 0.53);border-radius: 6px;padding: 28px 20px;position: relative;z-index: 2;color: #ccc}
.amoutMoney .symbol{display: inline-block;position: relative;padding: 11px 12px 10px;border: solid 1px #eee;border-radius: 4px;}
.amoutMoney .rmb{color: #39393A;font-size: 14px; }
.amoutMoney .inpbox input {width: 90px; padding: 0 10px;background: #fff;color:#333;outline: none;border: none;display: inline-block;font-size: 14px;}
.amoutMoney .inpbox input::-webkit-input-placeholder {/* Chrome/Opera/Safari */color: #ccc;}
.amoutMoney .inpbox input::-moz-placeholder {/* Firefox 19+ */color: #ccc;}
.amoutMoney .inpbox input:-ms-input-placeholder {/* IE 10+ */color: #ccc;}
.amoutMoney .inpbox input:-moz-placeholder {/* Firefox 18- */color: #ccc;}
.amoutMoney .inpbox .btn {width:90px;height: 44px; display: inline-block;text-align:center; 
background: linear-gradient(-53deg, #106AE9 0%, #2681FF 100%); color: #fff; vertical-align: top; line-height: 44px; cursor: pointer; font-size: 16px;border-radius: 4px;margin-left: 8px;}

/*日历*/
.dateWrap{position: absolute;left: 0;top: 38px;background: #FFF;box-shadow: 1px 2px 9px 1px rgba(0, 0, 0, 0.13);border-radius: 6px;width: 233px;z-index: 10000;display: none}   
.dateWrap.show{display: block;}
.dateTop{height: 35px;line-height: 35px;border-bottom: 1px solid #eee;text-align: center;}
.dateTop h2{margin-left: 10px;margin-right: 10px;text-align: center;font-size: 12px;color: #3B3B3B;display: inline-block;font-weight: bold;}
.dateTop a{width: 40px;height: 35px;}

.dateTop a.minusDate{background: url("../images/fenxiao/dateL.png") no-repeat center center;background-size: 10px;}
.dateTop a.addDate{background: url("../images/fenxiao/dateR.png") no-repeat center center;background-size: 10px;}
.dateTop a.minusDate:hover{background: url("../images/fenxiao/dateL2.png") no-repeat center center;background-size: 10px;}
.dateTop a.addDate:hover{background: url("../images/fenxiao/dateR2.png") no-repeat center center;background-size: 10px;}

.dateTop a.addDate.disabled,.dateTop a.minusDate.disabled{opacity: .5;cursor: default;}
.dateTop a.minusDate.disabled:hover{background: url("../images/fenxiao/dateL.png") no-repeat center center;background-size: 10px;}
.dateTop a.addDate.disabled:hover{background: url("../images/fenxiao/dateR.png") no-repeat center center;background-size: 10px;}

.dateCon{padding: 12px 15px;}
.dateCon h3.seeAll{width: 100%;height: 34px;line-height: 34px;font-size: 12px;text-align: center;}
.dateCon h3.seeAll a{display: block;color: #3B3B3B;background: #F7F7F7;border-radius: 4px;}
.dateCon h3.seeAll:hover a{background: #027CFF;color: #fff;}
.dateCon ul{transition: rightFadeIn .3s ease-out}
.dateCon ul li{float: left;width: 33%;text-align: center;margin: 16px 0}
.dateCon ul li a{display: inline-block;padding: 3px 8px;font-size: 12px;color: #3B3B3B;}
.dateCon ul li a:hover{background: #027CFF;border-radius: 4px;color: #fff}
.dateCon ul li a.curr{background: #027CFF;border-radius: 4px;color: #fff}
.dateCon ul li a.disabled{background: #F7F7F7;border-radius: 4px;color: #BCBCBC;cursor: default;}

/*列表头部*/
.listTit{height: 46px;line-height: 46px;background: #F6F6F6;text-align: right;font-size: 14px;color: #027CFF;padding: 0 57px; }
.listTit>div{float: right;width: 16%;text-align: left;}
.tipCon{background: #39393A;border-radius: 6px;padding: 0 22px;font-size: 14px;color: #fff;height: 70px;line-height: 33px;position: absolute;white-space: nowrap;right: -12px;top: 45px;display: none}
.record{width: 100%; text-align: center;}
.record thead{border-bottom: 1px solid #F0F0F2;}
.record thead th{text-align: left; padding: 15px 0;font-size: 14px;color: #333;position: relative;}
.record thead th.spe{text-indent: 7%}
.record thead th span.tipI{display: inline-block;position: relative;margin-left: 5px;}
.record thead th .tipI i{display: inline-block;background: url("../images/reward/tip.png") no-repeat center center;background-size: cover;width: 16px;height: 16px;vertical-align: middle;margin-top: -2px;cursor: pointer;}
.record thead th span.tipI.click s{display: inline-block;width: 0;height: 0;border: 9px solid;border-color: transparent transparent #39393A;position: absolute;left: 50%;margin-left: -9px;top:12px;}

.record tbody tr{border-bottom: 1px solid #F0F0F2;}
.record tbody tr:hover{background: #ecf5fc;}
.record tbody td{padding: 15px 0;text-align: left;font-size: 14px;color: #333;}
.record tbody td.sped{text-indent: 2%;    max-width: 200px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;display: block;}
.record tbody td.dated{color: #999}
.record tbody td.deCon a{color: #666;display: block;max-width: 284px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;text-decoration: underline;}
.record tbody td.deCon a:hover {color: #333;}
.record tbody .dsImg{display: inline-block;width: 44px;height: 44px;background: url("../images/reward/dsImg.png?v=1") no-repeat center center;background-size: cover;vertical-align: middle;margin-right: 10px;} 
.record tbody .giftImg{display: inline-block;width: 44px;height: 44px;background: url("../images/reward/giftImg.png") no-repeat center center;background-size: cover;vertical-align: middle;margin-right: 10px;} 

.empty {text-align: center; line-height: 300px;}
.loading {height: 300px; line-height: 300px;text-align: center;}
.loading img {display: inline-block; vertical-align: middle; margin-right: 5px;}
.fakeMask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 9999;opacity: 0;display: none;}