.fixedwrap{background: #fff;height: 90px;margin: 0 ;}
.topInfo{background: #F4F7F4;margin-bottom: 0}
.fixedwrap .header .logo{height: 47px;max-width: 174px;margin-top: 21px;}
.fixedwrap .header .logo img{height: 47px;max-width: 174px;}
.header .kefu{margin-top: 38px;color: #3B3B3B;font-size: 14px}
.header .kefu strong{font-size: 16px;margin-left: 10px;}

/* 广告 */
.banner img{width: 100%; min-width: 1200px; display: block; }
.hui_tc{background-color: #F7F4F8;  min-width: 1200px; margin: auto;}
.hui_tc>h2{text-align: center; font-size: 48px; color: #333; font-weight: bold; padding-top: 20px;}
.hui_tc>p{text-align: center; font-size: 18px; color: #999;}

.grade {width: 1200px; margin: auto; background-color: #FFF0E2; height: 82px; margin-top: 40px; position: relative;}
.grade li{float: left; width: 300px; line-height: 82px; color: #878581; font-size: 28px; text-align: center; cursor: pointer;}
.grade li.active{ color: #826128; font-weight: bold;
 background: -moz-linear-gradient(88deg,rgba(242,215,165,1) 0%,rgba(239,194,130,1) 100%);
background: -webkit-linear-gradient(88deg,rgba(242,215,165,1) 0%,rgba(239,194,130,1) 100%);
background: -o-linear-gradient(88deg,rgba(242,215,165,1) 0%,rgba(239,194,130,1) 100%);
background: -ms-linear-gradient(88deg,rgba(242,215,165,1) 0%,rgba(239,194,130,1) 100%);
background: linear-gradient(88deg,rgba(242,215,165,1) 0%,rgba(239,194,130,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF2D7A5', endColorstr='#FFEFC282',GradientType=.8 );
}

.grade i{display: block; width: 25px; height: 50px; position: absolute; background: url(../images/member/prev_1.png) no-repeat center; left: 0; top: 16px;}
.grade i.next{background-image: url(../images/member/next_1.png); left: auto; right: 0;}

.hui_container{width: 1200px; margin: auto; margin-top: 36px;}

.hui_container .hui_li{width: 280px !important; height: 370px; background: #fff; border:1px solid rgba(238,238,238,1); display: inline-block; box-sizing: border-box; padding: 40px; text-align: center; position: relative; margin-right: 26px; }

.hui_container .hui_li:hover{box-shadow:0px 18px 35px 0px rgba(124,69,15,0.14)}
.hui_container .hui_li:hover i.border{  border:2px solid #FF8200; width: 280px; height: 370px; position: absolute; top: 0; left: 0; box-sizing: border-box;z-index: 1; pointer-events: none;}
.hui_container .hui_li h4{ font-size: 30px; color: #040410; text-align: center; font-weight: bold;}
.hui_container .hui_li h2{font-size: 24px; color: #FF8200; text-align: center; margin-top: 40px; line-height: 1.4em;}
.hui_container .hui_li h2 span{font-size: 48px; font-family: moneyNumber;}
.hui_container .hui_li .o_price{font-size: 18px; color: #91919F; text-decoration: line-through;}
.hui_container .hui_li .tip i{display: inline-block; width: 14px; height: 14px; background: url(../images/member/rec.png) no-repeat ; vertical-align: middle; margin-right: 4px; margin-bottom: 4px;}
.hui_container .hui_li .tip{font-size: 12px; color: #fff; background-color: #FF8200; line-height: 28px; display: inline-block;border-radius:3px; padding: 0 12px; margin-top: 12px;}

.hui_container .hui_li .rec{box-shadow:0px 4px 9px 1px rgba(116,26,232,0.14); border-radius:0px 8px 8px 8px; font-size: 22px;  color: #fff; padding: 0 12px; line-height: 34px; z-index: 2; position: absolute; display: block; top:0; left: 0;filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF721AE7', endColorstr='#FFCB17ED',GradientType=.8 );
 background: -moz-linear-gradient(-54deg,rgba(114,26,231,1) 0%,rgba(203,23,237,1) 100%);
background: -webkit-linear-gradient(-54deg,rgba(114,26,231,1) 0%,rgba(203,23,237,1) 100%);
background: -o-linear-gradient(-54deg,rgba(114,26,231,1) 0%,rgba(203,23,237,1) 100%);
background: -ms-linear-gradient(-54deg,rgba(114,26,231,1) 0%,rgba(203,23,237,1) 100%);
background:linear-gradient(-54deg,rgba(114,26,231,1) 0%,rgba(203,23,237,1) 100%);}

.hui_container .hui_box {position: relative; display: none; width: 1200px; }
/* .hui_container .hui_box .tempWrap{overflow: visible !important;} */
.hui_container .hui_box ul.bd{ white-space: nowrap; padding-bottom: 60px !important;}
.hui_container .hui_box.show{display: block; overflow: hidden;}
.hui_container .hui_box:hover .prev,.hui_container .hui_box:hover .next{display: block;}
.hui_container .hui_box .prev,.hui_container .hui_box .next{width: 58px; height: 100px;background: url(../images/member/prev_3.png) no-repeat center; background-color: #E8E8E8; position: absolute; top: 130px; left: 0; cursor: pointer; z-index: 99; display: none;}
.hui_container .hui_box .next{left: auto; right: 0; background-image: url(../images/member/next_3.png); }
.hui_container .hui_box .next.nextStop{background-image: url(../images/member/next_2.png); }
.hui_container .hui_box .prev.prevStop{background-image: url(../images/member/prev_2.png); }
.open{width: 150px; display: block; line-height: 46px; text-align: center; position: absolute; bottom: 40px; border-radius: 23px; color: #fff !important; background-color: #4A4231; left: 75px; font-size: 16px; cursor: pointer; }

.right_container{background-color: #fff; padding-top: 40px; padding-bottom: 56px;}
.right_container .right_box>h2{text-align: center; font-size: 40px; color: #111; font-weight: bold;}
.right_container .right_box>h2 em{font-family: moneyNumber; color: #C79446; font-size: 50px;}
.right_container .right_box>p{font-size: 18px; color: #999; text-align: center;}
.right_box{display: none;}
.right_box.show1{display: block;}
.li_r{width: 280px; height: 356px; box-shadow:0px 4px 19px 1px rgba(174,174,174,0.23); border-radius:12px; background-color: #fff; float: left; box-sizing: border-box; padding: 20px 0; text-align: center; margin-right: 26px;}
.li_r:nth-child(4n){margin-right: 0;}
.li_r .icon_box{width: 118px; height: 118px; margin: auto;}
.li_r .icon_box img{display: block; width: 100%; height: 100%; object-fit: cover;}
.li_r h3{font-size: 24px; color: #111; font-weight: bold; margin-top: 36px;}
.li_r p{font-size: 16px; color: #999; margin-top: 14px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin:0 .2rem;}
.li_r h4{font-size: 50px; font-family: moneyNumber; color: #D6AF74; position: relative; line-height: 1.1em; z-index: 3; margin-top: 20px;}
.li_r h4 i{display: block; width: 80px; height: 18px; background-color: #FFF4E0; position: absolute; bottom: 0; left: 50%; margin-left: -40px; z-index: -1;}
.special_box .rbox1{margin-bottom: 30px; margin-top: 50px;}
.special_box{width: 1200px; margin: auto;  }

.rbox2{padding-top: 40px;}
.rbox2>h3{font-size: 32px; color: #191919; font-weight: 400; text-align: center; position: relative; margin-bottom: 34px;}
.rbox2>h3 em{color: #C79446;}
.rbox2>h3 i{width: 500px; height: 5px; background: url(../images/member/line.png) no-repeat center; position: absolute; left: 50%; margin-left: -250px; top: 50%; margin-top: -2px;}

.li_r2 {width: 220px; height: 246px; box-shadow:0px 4px 19px 1px rgba(174,174,174,0.23);border-radius:12px; text-align: center; box-sizing: border-box; padding-top: 39px; float: left; margin-right: 25px; margin-bottom: 50px;}
.li_r2:nth-child(5n){margin-right: 0;}
.li_r2 .icon_box{width: 80px; height: 80px; margin: auto;}
.li_r2 .icon_box img{display: block; width: 100%; height: 100%; object-fit: cover;}
.li_r2 h3{font-size: 24px; color: #111; font-weight: bold; margin-top: 30px;}
.li_r2 p{font-size: 16px; color: #999; }
.li_r2 >span{font-size: 18px; color: #111; display: block; text-align: center; margin-top: 50px;}

.container_box{width: 1200px; margin: auto; position: relative;}

.footer {background: #F7F4F8; padding: 50px 0 50px; text-align: center; line-height: 30px; font-size: 14px; color: #333;}
.footer a {color: #333;}
.footer a:hover {color: #037cff; text-decoration: underline;}
.footer.wrap{width: 100%; min-width: 1200px;}
@font-face {
	font-family: moneyNumber;
	src: url('../font/109-CAI978.otf'),
		url('../font/109-CAI978.eot'),
		url('../font/109-CAI978.ttf'),
		 url('../font/109-CAI978.woff'); /* IE9 */
}