body,html{background: #f2f2f2; min-height: 100%;}
.topInfo{margin-bottom: 0;}


/* 禁止滚动 */
html.noscroll,html.noscroll body {overflow: hidden;}
html.noscroll body {position: relative;}
@keyframes xuanzhuan{
	0%{transform: rotate(0deg);}
	50%{transform: rotate(180deg);}
	100%{transform: rotate(360deg);}
}

.top_box{height: 152px; width: 100%; background-color: #1F1F25; position: relative;}
.top_box .nav_box{width: 1200px; margin: auto; box-sizing: border-box; padding-left: 302px; position: absolute; bottom: 0; left: 50%; margin-left: -600px;}
.top_box .nav_box>li{display: inline-block; color: #fff; font-size: 18px; text-align: center; width: 130px;  line-height: 1; box-sizing: border-box;border-bottom:solid 3px rgba(0,0,0,0) ;}
.top_box .nav_box>li:hover{border-bottom: solid 3px #3b86ff; position: relative;}
.top_box .nav_box>li:hover .m_link{display: block;}
.top_box .nav_box>li>a{color: #fff; display: block;padding:22px 0;}
.top_box .nav_box>li:hover>a{color: #59a4ff;}
.top_box .nav_box .m_link a{color: #999; display: block; margin: 10px 0 ;}
.top_box .nav_box .m_link a:hover{background-color: #EDF4FF; color: #3983FA; border-radius:6px;}
.top_box .nav_box .m_link{width: 130px; background-color: #fff; font-size: 16px; color: #999; line-height: 50px; box-sizing: border-box; padding: 0 10px; position: absolute; top: 66px; z-index: 10; box-shadow:0px 3px 23px 0px rgba(0, 0, 0, 0.09); display: none; border-radius: 0 0 10px 10px;}
.main .leftInfo{width: 250px;  background-color: #fff; border-radius: 6px; box-shadow:0px 5px 18px 0px rgba(217,217,217,0.33); float: left; margin-top: -80px; position: relative;}
.main{width: 1200px; margin: auto; padding-top: 30px;}
.main .main_right{float: right; width: 920px;}

.main .leftInfo .head_img{width: 80px; height: 80px; border-radius: 50%;margin: auto ; margin-top: -44px; position: relative; border: solid 4px #fff; background-color: #f2f2f2;}
.main .leftInfo .head_img img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%; }
/* 会员等级样式 */
.main .leftInfo .head_img .lBox{position: absolute; right: 0; margin-right: -48px; top: -6px; display: block; width: auto;}
.lBox{ line-height: 22px; border-radius: 11px; display: inline-block;  padding-right:8px; position: relative;  overflow: hidden; z-index: 2; vertical-align: middle; margin-bottom: 4px; margin-left: 4px;}
.lBox .before{background:rgba(0,0,0,.5); content: ''; display: block; width: 100%; height: 100%; position: absolute;right:0; top: 0; z-index: -2;}
.lBox .after{ display: block; width: 100%; height: 20px;position: absolute;right: 0; top: -.16rem; z-index: -1; transform: rotate(-30deg); transform-origin: right center;}
.lBox i{display: inline-block; width:22px; height: 22px;  background: no-repeat center; background-size: 16px;vertical-align: middle;  float: left;}
/* .lBox i img{width: 100%; height: 100%; display: block;} */
.lBox span{font-size: 12px; color: #fff; line-height: 20px;  }
/* 等级0 */
/* 等级0 */
.lBox.level_0 i,.lBox.level_0 .before,.lBox.level_0 .after{background: none; display: none;}

.lBox.level_0 span{line-height: 22px; background: #EEF1F3; color: #949191; font-size: 12px; padding: 0 6px; border-radius: 11px;display: inline-block;}
/* 等级1 */
.lBox.level_1 span{color: #4581B1;}
/* .lBox.level_1 i{background-image:url(../images/user/v_5.png) ;} */
.lBox.level_1 .before{background:#BEDFFF;}
.lBox.level_1 .after{ background: rgba(145,202,255,1); }
/* 等级2 */
.lBox.level_2 span{color: #C29339;}
.lBox.level_2 .before{background: #FDE7A9;}
.lBox.level_2 .after{background: #F7DA8D;}
.lBox.level_2 i{background-image:url(../images/user/v_4.png) ;}
/* 等级3 */
.lBox.level_3 .before{background: #757067;}
.lBox.level_3 .after{background: #66625A;}
.lBox.level_3 i{background-image:url(../images/user/v_3.png) ;}
/* 等级4 */
.lBox.level_4 .before{background: #6B727A;}
.lBox.level_4 .after{background: #5B6067;}
.lBox.level_4 i{background-image:url(../images/user/v_2.png) ;}
/* 等级5 */
.lBox.level_5 .before{background: #4B4B4A;}
.lBox.level_5 .after{background: #3B3B3C;}
.lBox.level_5 i{background-image:url(../images/user/v_1.png) ;}
.main .leftInfo .userinfo{padding-bottom: 15px;   border-radius:0 0 6px 6px;}
/* 发布列表展开时 */
.main .leftInfo .userinfo:hover{ box-shadow:0px 7px 11px 0px rgba(0, 0, 0, 0.07);} 
/*.main .leftInfo.fabu_open .user_detail{display: none;}*/
.main .leftInfo .userinfo>h3.nickname{text-align: center; font-size: 20px; color: #333; margin-top: 15px; padding: 0 20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.user_re{text-align: center; margin-top: 20px;}
.user_re a{color: #999; margin: 0 15px; display: inline-block; }
.user_re h4{font-size: 20px; font-weight: bold; color: #333;}
.user_re p{font-size: 12px;}

.btns_group {text-align: center;}
.btns_group i{display: inline-block; width: 18px; height: 18px;background: no-repeat center; background-size: cover;margin-right: 5px; margin-bottom: 4px ; vertical-align: middle;}
.btns_group .care_btn i{background-image: url(../images/user/care.png); text-align: center;}
.btns_group a{display: inline-block; width: 90px; height: 40px; margin: 5px; margin-top: 30px; font-size: 14px; line-height: 40px; border-radius: 20px;}
.btns_group a.chat_btn{background: #fff; color: #333; border: solid 1px #D9D9D9; box-sizing: border-box; }
.btns_group a.care_btn{color: #fff; background-color: #2176FF;}

.con_box { padding:0 16px ;border-top: solid 1px #eee; box-sizing: border-box; overflow: hidden; height: auto;}
.con_box h2{font-size: 16px; color: #000; line-height: 18px; cursor: pointer; padding-top: 23px; padding-bottom: 23px;}
.detail_box{padding-bottom: 24px;}
.con_box h2 a:hover{color: #2176FF;} 
.con_box h2 .more_btn{float: right; width: 18px; height: 18px; background: url(../images/user/r_r.png) no-repeat center; background-size: cover;}
.con_box h2 span{float: right; color: #3480fa; font-size: 12px; padding: 0 14px; line-height: 28px; border-radius: 4px; background: #EDF4FF; margin-top: -4px;}
.base_info{font-size: 12px; color: #808080;/* margin-top: 16px; */}
.base_info i{display: inline-block; width: 16px; height: 16px; background: url(../images/user/icon_p.png) no-repeat center; background-size:  cover ; vertical-align: middle; margin-bottom: 4px; margin-right: 8px;}
.base_info em{margin: 0 12px;}
.module_id{margin-top: 16px;}
.module_id li{height: 36px; border-radius: 18px; background-color: #F5F6F7; margin-bottom: 6px; padding: 0 24px; line-height: 36px; font-size: 14px;}
.module_id li i{display: inline-block; width: 5px; height: 5px; background: #56B7F5; border-radius: 50%; margin-right: 10px;vertical-align: middle; margin-bottom: 4px;}
.module_id li:hover a{color: #3480fa;}
.module_id li:hover i{background-color: #3480fa;}
.module_id li:hover{background-color: #EAF2FF;}
.module_id li a{display: block; color: #999;}
.latest_visit .empty{text-align: center; color: #999;font-size: 14px;}
.fabu_right .empty,.main_right .empty {text-align: center; font-size: 14px; color: #999; padding-bottom: 50px}
.main_right .empty{padding-top: 50px}
/* 发布信息 */
.con_box .tip{float: right; min-width: 50px; line-height: 26px; color: #3983FA; text-align: center; font-size: 12px; background-color: #EDF4FF; border-radius: 13px; margin-top: -4px; box-sizing: border-box; padding: 0 6px;}
.module_list{margin-top: 16px; display: none; padding-bottom: 24px;}
.module_list li{width: 100px; height: 36px; border-radius: 4px; line-height: 36px; float: left; margin: 5px 4px; text-align: center; font-size: 14px; color: #999; background-color: #F7F8FA; border: solid 1px #F7F8FA;box-sizing: border-box;}
.module_list li a{color: #999;}
.module_list li.chose{background: #8D8D91 !important; border: solid 1px #8D8D91 !important;; color: #fff !important;}
.module_list li.chose a{color: #fff !important;}
.module_list li.chose i{display: inline-block; line-height: 20px; background: #FF4A71; padding: 0 2px; font-size: 12px; vertical-align: middle; font-style: normal; border-radius: 4px; margin-left: 4px; text-align: center; min-width: 20px; color: #fff;} 
.module_list li:hover{background-color: #EDF4FF;  border: solid 1px #D4E4FF;}
.module_list li:hover a{color: #3480fa;}
/*.con_box.fabu_box{height: 80px;}*/
/* .fabu_box.open .module_list {display: block;} */
.fabu_box.open .more_btn,.user_detail.open .more_btn{background-image: url(../images/user/d_r.png);}
.fabu_box.open  .tip{display: none;}
.fabu_box.open>h2 span{display: none;}
/* 最新访客 */
.con_box.visit_box{padding-left:0 ; padding-right: 0;}
.con_box.visit_box h2{padding-left: 16px;}
.con_box .latest_visit{ padding-bottom: 24px;}
.con_box .latest_visit li{float: left;width: 33.3%;}
.con_box .latest_visit a{display: block; width: 60px; margin: auto; text-align: center;}
.con_box .latest_visit .vit_img{width: 48px; height: 48px; background-color: #f5f5f8; border-radius: 50%; margin: auto; margin-bottom: 2px;}
.con_box .latest_visit .vit_img img{width: 100%; height: 100%; object-fit: cover;  border-radius: 50%;}
.con_box .latest_visit h4{color:#212121; font-size:14px; white-space: nowrap; overflow: hidden;text-overflow: ellipsis;}
.con_box .latest_visit p{white-space: nowrap; overflow: hidden;text-overflow: ellipsis; color: #B3B3B3; font-size: 12px;}

/* 右侧 粉丝和关注 */
.main_right{float: right; max-width: 930px;border-radius: 6px; overflow: hidden;}
.main_right .tab_box {border-bottom: solid 1px #eee; background-color: #fff; }
.main_right .tab_box li{display: inline-block; font-size: 18px; color: #999; line-height: 60px; margin: 0 22px;}
.main_right .tab_box li a{color: #999;}
.main_right .tab_box li.on_chose a{font-weight: bold; color: #333;}
.main_right .tab_box li.on_chose {position: relative;}
.main_right .tab_box li.on_chose i{display: block; width: 12px; height: 12px; border-top: solid 1px #ddd; border-left: solid 1px #ddd; transform: rotate(45deg); position: absolute; left: 50%; bottom: 0; margin-left: -6px; margin-bottom: -6px; background-color: #fff;}
.main_right .fans_box{width: 920px; background-color: #fff;}
.main_right .fans_box .fans_list li{float: left; width: 50%; box-sizing: border-box; padding: 20px 24px 30px 16px; border-bottom: solid 1px #eee; border-right: solid 1px #eee; height: 166px;}
.main_right .fans_box .fans_list li:nth-child(2n){border-right: none;}
.main_right .fans_box .fans_list .member_pic{width: 80px; height: 80px; border-radius: 50%; float: left; position: relative; }
.main_right .fans_box .fans_list .member_pic i{display: block; width: 20px; height: 20px; border-radius: 50%; overflow: hidden; position: absolute; right:0; bottom: 0;}
.main_right .fans_box .fans_list .member_pic a{display: block; width: 80px; height: 80px; }
.main_right .fans_box .fans_list .member_pic  img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.main_right .fans_box .fans_list .member_info{margin-left: 95px;}
.main_right .fans_box .fans_list .member_info h1{color: #333; font-size: 16px; font-weight: bold;}
.main_right .fans_box .fans_list .member_info .m_msg{font-size: 14px; color: #999; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-top: 4px;}
.main_right .fans_box .fans_list .member_info .follow_num{font-size: 12px; color: #666; margin-top: 4px;}
.main_right .fans_box .fans_list .member_info .follow_num em{color: #FF595A;}
.main_right .fans_box .fans_list .member_info .follow_num s{color: #ccc; margin: 0 15px; text-decoration: none;}
.main_right .fans_box .fans_list .member_info .attention{width: 90px; height: 32px; line-height: 32px; border: solid 1px #ccc; box-shadow:0px 3px 8px 0px rgba(71,71,71,0.08); color: #666; font-size: 14px; text-align: center; border-radius:3px; margin-top: 10px; cursor: pointer;}
.main_right .fans_box .fans_list .member_info .attention:hover{background-color: #3C6DF0; border: solid 1px #3C6DF0; color: #fff; }
.main_right .fans_box .fans_list .member_info .attention i{display: inline-block; width: 12px; height: 12px; background: url(../images/user/add_2.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: 4px; margin-right: 4px;}
.main_right .fans_box .fans_list .member_info .attention:hover i{background-image: url(../images/user/add_1.png);}
.main_right .pagination{background-color: #fff; text-align: center;  padding-bottom: 40px; user-select: none;}
.main_right .pagination .inner li{display: inline-block; line-height: 35px; border: solid 1px #eee; font-size: 14px;  }
.page_info{display: none;}
.main_right .pagination .inner li a,.main_right .pagination .inner li span{display: block;padding: 0 14px;}
.main_right .pagination .inner li.page_current{color: #fff; border: solid 1px #3C6DF0; background-color: #3C6DF0; font-weight: bold;}
.main_right .pagination .inner li.page_disabled{color: #ccc;}
/* 右侧 访客 */
.fans_list{padding-bottom: 30px;}
.main_right .visitor_box{width: 920px; background-color: #fff;}
.main_right .visitor_box .fans_list li{float: left; width: 20%; box-sizing: border-box; border-bottom: solid 1px #eee; border-right: solid 1px #eee; height: 246px; padding-top: 30px; text-align: center;}
.main_right .visitor_box .fans_list li:nth-child(5n){border-right: none;}
.main_right .visitor_box .fans_list .member_pic{width: 90px; height: 90px; border-radius: 50%; margin: auto; position: relative; }
.main_right .visitor_box .fans_list .member_pic i{display: block; width: 20px; height: 20px; border-radius: 50%; overflow: hidden; position: absolute; right:0; bottom: 0;}
.main_right .visitor_box .fans_list .member_pic a{display: block; width: 90px; height: 90px; }
.main_right .visitor_box .fans_list .member_pic  img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.main_right .visitor_box .fans_list .member_info .attention{width: 90px; height: 32px; line-height: 32px; border: solid 1px #ccc; box-shadow:0px 3px 8px 0px rgba(71,71,71,0.08); color: #666; font-size: 14px; text-align: center; border-radius:3px; margin: auto; margin-top: 10px; cursor: pointer;}
.main_right .visitor_box .fans_list .member_info .attention:hover{background-color: #3C6DF0; border: solid 1px #3C6DF0; color: #fff; }
.main_right .visitor_box .fans_list .member_info .attention i{display: inline-block; width: 12px; height: 12px; background: url(../images/user/add_2.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: 4px; margin-right: 4px;}
.main_right .visitor_box .fans_list .member_info .attention:hover i{background-image: url(../images/user/add_1.png);}
.main_right .visitor_box .fans_list .member_info h1{color: #333; font-size: 16px;  margin-top: 12px; height: 24px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 0 20px;}
.main_right .visitor_box .fans_list .member_info p{font-size: 14px; color: #999;}

/* Ta的资料 */
.main_right.user_box{width: 920px; background-color: #fff; border-radius:6px ; box-shadow:0px 5px 18px 0px rgba(217,217,217,0.33); }
.main_right.user_box>h1{font-size: 20px;font-weight: bold; color: #333; line-height: 60px; border-bottom: solid 1px #eee; padding-left:20px ;}
.main_right.user_box .user_info li{margin-top: 30px; font-size: 14px; color: #666; padding-right:90px ;}
.main_right.user_box .user_info{padding-left: 26px; padding-bottom: 80px;}
.main_right.user_box .user_info span{float: left; color: #999;}
.main_right.user_box .user_info p{margin-left: 46px; line-height: 24px;}

#leave_message{display: none;}


/* 房产 */
.main_right.fabu_right{width: 930px; background-color: #fff; border-radius: 6px; box-shadow:0px 5px 18px 0px rgba(217,217,217,0.33);}
.main_right.fabu_right>h1{font-size: 20px; padding-left: 20px; font-weight: bold; line-height: 60px; border-bottom: solid 1px #eee;}
.fabu_house {padding-bottom: 30px;}
/* .main_right.fabu_right .fabu_house{padding:0 20px ;} */
.main_right.fabu_right .fabu_house .tab_house,.fabu_travel .tab_travel{border-bottom: solid 1px #eee; margin: 0 20px;}
.main_right.fabu_right .fabu_house .tab_house li,.fabu_travel .tab_travel li{display: inline-block; margin-right: 48px; font-size: 18px; line-height: 1; padding-bottom: 16px; padding-top: 30px; cursor: pointer;}
.main_right.fabu_right .fabu_house .tab_house li.on,.fabu_travel .tab_travel li.on{color: #648EFF; font-weight: bold; position: relative;}
.main_right.fabu_right .fabu_house .tab_house li.on a,.fabu_travel .tab_travel li.on a,.main_right.fabu_right .fabu_house .tab_house li:hover a{color: #648EFF; }
.main_right.fabu_right .fabu_house .tab_house li.on i,.fabu_travel .tab_travel li.on i{display: block; width: 100%; height: 3px; background-color: #648FFF; position: absolute; bottom: 0; left: 0; right: 0;}

/* 求租求购 */
.fabu_house .qiuzu_ul{margin-top: 36px; padding-bottom: 30px; padding-left: 20px;}
.fabu_house .qiuzu_li:nth-child(1) .left_time,.fabu_house .qiuzu_li:nth-child(1) .right_detail .rbox,.fabu_house .qiuzu_li.first_qiuzu .left_time,.fabu_house .qiuzu_li.first_qiuzu .right_detail .rbox{padding-top:0 ;}
.fabu_house .qiuzu_li .left_time{width: 96px; text-align: right; color: #999; font-size: 14px; float: left; box-sizing: border-box; padding-right: 18px; padding-top: 30px; margin-top: -4px;}
.fabu_house .qiuzu_li .right_detail{padding:0 20px ;margin-left: 96px; border-left: solid 1px #eee; position: relative; border-top: solid 1px rgba(255,255,255,0);}
.fabu_house .qiuzu_li .right_detail h2{font-size: 20px; color: #333; font-weight: bold; margin-bottom: 10px; line-height: 1em; margin-top: -4px;}
.fabu_house .qiuzu_li .right_detail h2>i{display: inline-block; font-style: normal; font-size: 14px; color: #fff; font-weight: normal; line-height: 24px; width: 54px; border-radius: 6px 0 6px 0; text-align: center; margin-right: 8px;
background: -moz-linear-gradient(90deg,rgba(255,179,51,1) 1%,rgba(255,136,44,1) 100%); 
background: -webkit-linear-gradient(90deg,rgba(255,179,51,1) 1%,rgba(255,136,44,1) 100%); 
background: -o-linear-gradient(90deg,rgba(255,179,51,1) 1%,rgba(255,136,44,1) 100%); 
background: -ms-linear-gradient(90deg,rgba(255,179,51,1) 1%,rgba(255,136,44,1) 100%); 
background: linear-gradient(90deg,rgba(255,179,51,1) 1%,rgba(255,136,44,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFB333', endColorstr='#FFFF882C',GradientType=0 );}
.fabu_house .qiuzu_li.qiugou .right_detail h2>i{
background: -moz-linear-gradient(90deg,rgba(96,148,255) 1%,rgba(41,106,236,1) 100%); 
background: -webkit-linear-gradient(90deg,rgba(96,148,255) 1%,rgba(41,106,236,1) 100%); 
background: -o-linear-gradient(90deg,rgba(96,148,255) 1%,rgba(41,106,236,1) 100%); 
background: -ms-linear-gradient(90deg,rgba(96,148,255) 1%,rgba(41,106,236,1) 100%); 
background: linear-gradient(90deg,rgba(96,148,255) 1%,rgba(41,106,236,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF6194FF', endColorstr='#FF2969ED',GradientType=0 );}
.fabu_house .qiuzu_li .right_detail .d_con{color: #999; font-size: 14px; line-height: 22px;  display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.fabu_house .qiuzu_li .right_detail .hr{color: #666; font-size: 14px; margin-top: 14px;}
.fabu_house .qiuzu_li .right_detail .hr em{color: #eee; margin: 0 10px;}
.fabu_house .qiuzu_li .right_detail .hr span{color: #F95B4B;}
.fabu_house .qiuzu_li .right_detail .hr>i,.fabu_house .qiuzu_li .right_detail .tel>i{display: inline-block; vertical-align: middle; margin-right: 6px; margin-bottom: 4px;}
.fabu_house .qiuzu_li .right_detail .hr>i img,.fabu_house .qiuzu_li .right_detail .tel>i img{display: block;}
.fabu_house .qiuzu_li .right_detail .tel{font-size: 16px; color: #333;  width: 172px; line-height: 42px; border-radius: 21px; text-align: center; border: solid 1px #E3E3E3; position: absolute; top: 46px; right: 20px;}
.fabu_house .qiuzu_li:nth-child(1) .right_detail .tel,.fabu_house .qiuzu_li.first_qiuzu .right_detail .tel{top: 14px;}
.fabu_house .qiuzu_li .right_detail .rbox{padding: 30px 0; border-bottom: solid 1px #eee; padding-right: 200px;}
.fabu_house .qiuzu_li .right_detail .c_icon{display: block; width: 13px; height: 13px; box-sizing: border-box; border: solid 2px #ccc; border-radius: 50%; position: absolute; top: 30px; left: -7px; background: #fff;}
.fabu_house .qiuzu_li:nth-child(1) .c_icon,.fabu_house .qiuzu_li.first_qiuzu .c_icon{top: 0;}

.fabu_house .house_ul li {position: relative;}
.fabu_house .house_ul li .infobox{position: relative;padding:0 10px;}
.fabu_house .house_ul li .infobox .lptit{height: 33px;line-height: 33px;margin-bottom: 16px;}
.fabu_house .house_ul li .infobox .lptit a{display: block;overflow: hidden;float: left;}
.fabu_house .house_ul li .infobox h2{font-size: 20px; color:#343945; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; float: left; -webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out; font-weight: bold; padding-top: 10px}
.fabu_house .house_ul li:hover .infobox h2{color:#2974ff;}
.fabu_house .house_ul li .infobox .lptit i.mtop{margin-right: 5px;}
.fabu_house .house_ul li .price_show {position: absolute; right: 40px; top: 82px; text-align: right;}
.fabu_house .house_ul li .price_show .lpprice{color:#f1370b;font-size: 24px;font-weight: bold;height: 33px;line-height: 33px; }
.fabu_house .house_ul li .price_show .lpprice.noprice b{font-size: 28px;}
.fabu_house .house_ul li .price_show .lpprice b{font-size: 28px;}
.fabu_house .house_ul li .infobox .lpinf{font-size: 14px;color:#62687A;line-height: 30px; max-width: 400px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.fabu_house .house_ul li .infobox .lpinf .sp_l{max-width: 400px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.fabu_house .house_ul li .infobox .lpinf .detail_addr{color: #9FA3AF; font-size: 14px;}
.fabu_house .house_ul li .infobox .lpinf .priCo{font-size: 14px;color:#f1370b;font-weight: bold;}
.fabu_house .house_ul li .infobox p.lpinf{max-width: 400px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.fabu_house .house_ul li .infobox .lpinf em{font-size: 12px;color:#d3d4de;margin: 0 7px;}
.fabu_house .house_ul li  .sp_r{color:#9FA3AF; font-size: 14px; margin-top: 6px;}
.fabu_house .house_ul li .infobox .hinf{display: none;position: absolute;bottom: 40px;left:10px;right: 10px;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;-webkit-animation: bottomFadeIn .3s ease-out;-moz-animation: bottomFadeIn .3s ease-out;animation: bottomFadeIn .3s ease-out;}
.fabu_house .house_ul li .infobox .hilef span{margin-right: 30px;font-weight: bold;}
.fabu_house .house_ul li .infobox .lpinf span i{display: inline-block;width: 16px;height: 16px;vertical-align: middle;margin-right: 5px;margin-top: -4px;}
.fabu_house .house_ul li .infobox .lpinf span i.iname{background:url(../images/icon_inf.png) no-repeat center center;background-size: cover;}
.fabu_house .house_ul li .infobox .lpinf span i.itel{background:url(../images/lp_tel.png) no-repeat center center;background-size: cover;}
.fabu_house .house_ul li .infobox .lpbottom{position: absolute;bottom: 0;left: 10px;right: 10px;}
.fabu_house .house_ul li .infobox .hirig{height: 28px; line-height: 28px;}
.fabu_house .house_ul li .infobox .hirig a{display: block;float: left;font-size: 14px;color:#9fa1ab;}
.fabu_house .house_ul li .infobox .hirig a i{width: 16px;height: 16px;display: inline-block;vertical-align: middle;    margin-top: -3px;}
.fabu_house .house_ul li .infobox .label_box{margin-top: 50px;}
.fabu_house .house_ul li .infobox .label_box span{display: inline-block; line-height: 25px; padding: 0 14px; border-radius: 3px; background-color: #EAF4FF; color: #87A3C4; font-size: 14px; margin-right: 5px;}

.fabu_house .house_ul li{padding:20px;border-bottom: solid 1px #f0f1f7;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.fabu_house .house_ul li:hover{background-color:#f7f8fa;}
.fabu_house .house_ul li:last-child{border-bottom: 0;}
.fabu_house .house_ul li .imgbox{width: 250px;height: 190px;position: relative;overflow: hidden;margin-right: 18px; background: #fff;}
.fabu_house .house_ul li .imgbox img{max-width: 100%;max-height: 100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;-webkit-transform: scale(1);-moz-transform: scale(1);transform:scale(1);-webkit-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;transition: all .4s ease-in-out;}
.fabu_house .house_ul li .imgbox:hover img{-webkit-transform: scale(1.1);-moz-transform: scale(1.1);transform:scale(1.1)}
.fabu_house .house_ul li .ivplay{width: 50px;height: 50px;display: block;background: url(../images/video.png) no-repeat center center;background-size: cover;position: absolute;top:50%;left:50%;margin-top:-25px;margin-left: -25px;}
.fabu_house .house_ul li .ivr{width: 60px;height: 60px;display: block;background: url(../images/vr.gif) no-repeat center center;background-size: cover;position: absolute;left:0;bottom:0;}
.fabu_house .house_ul li .markbox{position: absolute;top:0;left:0;font-size: 12px;color:#fff;}
.fabu_house .house_ul li .markbox .m_mark{width: 50px;height: 24px;line-height: 22px;-webkit-border-radius: 0 0 10px 0; -moz-border-radius: 0 0 10px 0;border-radius: 0 0 10px 0;color:#fff;text-align: center;display: block;position: absolute;left:0;z-index: 2;}
.fabu_house .house_ul li .markbox .m_zj,.m_cz{background: -moz-linear-gradient( 0deg, rgb(255,162,0) 0%, rgb(255,195,11) 100%);background: -webkit-linear-gradient( 0deg, rgb(255,162,0) 0%, rgb(255,195,11) 100%);background: -ms-linear-gradient( 0deg, rgb(255,162,0) 0%, rgb(255,195,11) 100%);}
.fabu_house .house_ul li .markbox .m_gr,.m_cs{background: -moz-linear-gradient( 0deg, rgb(34,112,255) 0%, rgb(87,142,255) 100%);background: -webkit-linear-gradient( 0deg, rgb(34,112,255) 0%, rgb(87,142,255) 100%);background: -ms-linear-gradient( 0deg, rgb(34,112,255) 0%, rgb(87,142,255) 100%);}
.fabu_house .house_ul li .markbox .m_zr{background: -moz-linear-gradient( 0deg, rgb(255,108,51) 0%, rgb(255,146,67) 100%);background: -webkit-linear-gradient( 0deg, rgb(255,108,51) 0%, rgb(255,146,67) 100%);background: -ms-linear-gradient( 0deg, rgb(255,108,51) 0%, rgb(255,146,67) 100%);}


/* 直播 */
.fabu_live .live_list{padding-bottom: 20px;}
.fabu_live .live_list .live_ul{padding: 0 10px; padding-top: 10px;}
.fabu_live .live_list .live_ul li a:hover{box-shadow:0px 10px 21px 0px rgba(80,80,87,0.14);}
.fabu_live .live_list .live_ul li{width: 50%; float: left;}
.fabu_live .live_list .live_ul li.live_li a{display: block;  margin: 10px; border-radius: 6px; overflow: hidden; border: solid 1px #eee; padding-bottom: 20px;}
.fabu_live li.live_li .live_img{height: 240px; background: #000; position: relative;}
.fabu_live li.live_li .live_img i{display: block; position: absolute; top: 10px; right: 10px; line-height: 20px; color: #fff;z-index: 3; font-style: normal;}
.fabu_live li.live_li.lived .live_img i{padding:0 10px; border-radius: 2px; background: #87CC24; font-size: 12px; overflow: hidden;}
.fabu_live li.live_li.living .live_img i{width:58px; height: 20px; }
.fabu_live li.live_li.living .live_img i img{width: 100%;}
.fabu_live li.live_li.wlive .live_img i {background: rgba(0,0,0,.5);border-radius: 2px;}
.fabu_live li.live_li.wlive .live_img i span{padding: 0 12px;  float: left; }
.fabu_live li.live_li.wlive .live_img i em{padding:0 8px; float: right; background: #FF853B; border-radius: 2px; line-height: 20px;}
.fabu_live li.live_li .live_img img{width: 100%; max-height: 100%; object-fit: cover;  position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }
.fabu_live li.live_li h3{color: #343945; font-size: 16px; margin-top: 18px; line-height: 1.1em; padding: 0 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.fabu_live li.live_li .live_info{overflow: hidden; margin-top: 18px;  padding: 0 18px; font-size: 14px; color: #9FA3AF;}
.fabu_live li.live_li .live_info .left_info{float: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;}
.fabu_live li.live_li .live_info .left_info .lhead{display: inline-block; width: 30px; height:30px; border-radius: 50%; overflow: hidden; background: #f7f7f7; vertical-align: middle; margin-bottom: 4px; margin-right: 10px;}
.fabu_live li.live_li .live_info .left_info .lhead img{width: 100%; height: 100%; object-fit: cover; }
.fabu_live li.live_li .live_info .right_num{float: right;  line-height: 30px;}
.fabu_live li.live_li .live_info .right_num i{display: inline-block; width: 24px; height: 18px; background: url(../images/user/read.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: 4px; margin-right: 6px;}

/* 活动 */
.fabu_huodong {padding-bottom: 30px;}
.fabu_huodong .hd_list .hd_li:hover{background: #F5F7F9}
.fabu_huodong .hd_list .hd_li a{display: block; margin: 0 20px; padding: 20px 0; border-bottom: solid 1px #eee;}
.fabu_huodong .hd_list .hd_li .hd_left{width: 300px; height: 170px; overflow: hidden; background: #f8f8f8; float: left; position: relative;}
.fabu_huodong .hd_list .hd_li .hd_left img{width: 100%; max-height: 100%; object-fit: cover;  position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; -webkit-transform: scale(1);-moz-transform: scale(1);transform:scale(1);-webkit-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;transition: all .4s ease-in-out;}
.fabu_huodong .hd_list .hd_li .hd_left img:hover{-webkit-transform: scale(1.2); -moz-transform: scale(1.2); -ms-transform: scale(1.2); -o-transform: scale(1.2); transform: scale(1.2);}
.fabu_huodong .hd_list .hd_li .hd_right{margin-left: 315px; height: 170px; position: relative;}
.fabu_huodong .hd_list .hd_li .hd_right h3{ color: #343945; font-size: 20px; font-weight: bold; margin-bottom:16px; padding-top: 5px;}
.fabu_huodong .hd_list .hd_li .hd_right p{color: #9FA3AF; font-size: 14px; margin-top: 8px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-right: 120px;}
.fabu_huodong .hd_list .hd_li .hd_right p span{color: #62687A;}
.fabu_huodong .hd_list .hd_li .hd_right p.hd_num{position: absolute; bottom: 5px;}
.fabu_huodong .hd_list .hd_li .hd_right p.hd_num span{margin-right: 10px;}
.fabu_huodong .hd_list .hd_li .hd_right .hd_price{position: absolute; right: 10px; top: 64px; color: #FF595A; font-size: 14px;}
.fabu_huodong .hd_list .hd_li .hd_right .hd_price span{font-size: 28px; font-weight: bold;}


/* 汽车 */
.fabu_car{padding-bottom: 30px;}
.fabu_car .car_list .car_li:hover{background: #F5F7F9}
.fabu_car .car_list .car_li a{display: block;}
.fabu_car .car_list .car_li{padding: 20px;}
.fabu_car .car_list .car_li .car_left{width: 250px; height: 190px; background: #f8f8f8; float: left; position: relative; }
.fabu_car .car_list .car_li .car_left>img{width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;}
.fabu_car .car_list .car_li .car_left .car_icon{position: absolute; top: 10px; left: 10px}
.fabu_car .car_list .car_li .car_left .car_icon1{position: absolute; right: 10px; top: -4px;}
.fabu_car .car_list .car_li .car_info {margin-left: 270px;}
.fabu_car .car_list .car_li .car_info h2{color: #343945; font-size: 20px; font-weight: bold; margin-bottom: 6px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.fabu_car .car_list .car_li .car_info .car_detail{margin-top: 30px; height: 50px;}
.fabu_car .car_list .car_li .car_info .car_detail li{float: left; width:22%; text-align: center; padding-right: 5%; margin-right: 5%; border-right: solid 1px #eee;}
.fabu_car .car_list .car_li .car_info .car_detail li:last-child{border: none;}
.fabu_car .car_list .car_li .car_info .car_detail li p{font-size: 18px; color: #333;}
.fabu_car .car_list .car_li .car_info .car_detail li span{color: #A6A6A6; font-size: 12px;}
.fabu_car .car_list .car_li .car_info .car_price{font-size: 22px; color: #FF595A; font-weight: bold; margin-top: 36px;}
.fabu_car .car_list .car_li .car_info .car_price em{font-size: 28px;font-weight: bold; display: inline-block; vertical-align: middle; margin-bottom: 4px;}
.fabu_car .car_list .car_li .car_info .car_price span{display: inline-block; line-height: 22px; font-weight: normal; color: #78A3FF; background-color: #F2F6FF; border-radius: 2px; vertical-align: middle; font-size: 12px; padding: 0 6px; border: solid 1px #5E94FF; margin-bottom: 4px;}

/* 旅游视频 */
.fabu_travel .travel_box{padding-bottom: 20px;}
.fabu_travel .travel_box .strategy_ul{padding-bottom: 10px;}
.fabu_travel .travel_box .tvideo_ul{padding: 0 10px; padding-top: 10px;}
.fabu_travel .travel_box .tvideo_ul li a:hover{box-shadow:0px 10px 21px 0px rgba(80,80,87,0.14);}
.fabu_travel .travel_box .tvideo_ul li{width: 50%; float: left;}
.fabu_travel .travel_box .tvideo_ul li.tvideo_li a{display: block;  margin: 10px; border-radius: 6px; overflow: hidden; border: solid 1px #eee; padding-bottom: 20px;}
.fabu_travel li.tvideo_li .tvideo_img{height: 240px; background: #000; position: relative;}
.fabu_travel li.tvideo_li .tvideo_img i{display: block; position: absolute; top: 50%; left: 50%; line-height: 20px; color: #fff;z-index: 3; font-style: normal; width: 50px; height: 50px; background: url(../images/user/v_icon.png) no-repeat center; background-size: cover; margin-left: -25px; margin-top: -25px;}
.fabu_travel li.tvideo_li .tvideo_img img{width: 100%; max-height: 100%; object-fit: cover;  position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }
.fabu_travel li.tvideo_li h3{color: #343945; font-size: 16px; margin-top: 18px; line-height: 1.1em; padding: 0 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 230px; font-weight: bold;}
.fabu_travel li.tvideo_li .tvideo_info{overflow: hidden; margin-top: 18px;  padding: 0 18px; font-size: 14px; color: #9FA3AF;}
.fabu_travel li.tvideo_li .tvideo_info .left_info{float: left;}
.fabu_travel li.tvideo_li .tvideo_info .left_info .lhead{display: inline-block; width: 30px; height:30px; border-radius: 50%; overflow: hidden; background: #f7f7f7; vertical-align: middle; margin-bottom: 4px; margin-right: 10px;}
.fabu_travel li.tvideo_li .tvideo_info .left_info .lhead img{width: 100%; height: 100%; object-fit: cover; }
.fabu_travel li.tvideo_li .tvideo_info .right_num{float: right;  line-height: 30px;}
.fabu_travel li.tvideo_li .tvideo_info .right_num i{display: inline-block; width: 24px; height: 18px; background: url(../images/user/read.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: 4px; margin-right: 6px;}

/* 旅游攻略 */
.fabu_travel .travel_box .strategy_li{padding:0 20px;}
.fabu_travel .travel_box .strategy_li:hover{background-color: #f5f7f8;}
.fabu_travel .travel_box .strategy_li .str_content{margin-left: 270px; position: relative; height: 190px;}
.fabu_travel .travel_box .strategy_li a{display: block;} 
.fabu_travel .travel_box .strategy_li .str_content  p{display: -webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp: 3;overflow: hidden; white-space: normal; color:#999; font-size: 14px; line-height: 24px;}
.fabu_travel .travel_box .strategy_li .str_content .left_art,
.fabu_travel .travel_box .strategy_li .str_img img{width: 100%; max-height: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; object-fit: cover;}
.fabu_travel .travel_box .strategy_li .str_content h3{color: #343945; font-size: 20px; font-weight: bold; padding-top: 6px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 10px;}

.fabu_travel .travel_box .strategy_li .str_content .right_read,
.fabu_travel .travel_box .video_li  .v_content .right_read{float: right; color: #9FA3AF; font-size: 14px;  line-height: 38px;}

.fabu_travel .travel_box .strategy_li .str_content .right_read i,.fabu_travel .travel_box .video_li  .v_content .right_read i{display: inline-block; width: 24px; height: 18px; background: url(../images/user/read.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: 4px; margin-right: 6px; opacity: .5;}

.fabu_travel .travel_box .strategy_li .str_content .left_art span{display: inline-block; width: 34px; height: 34px; border-radius: 50%; overflow: hidden; vertical-align: middle; margin-bottom: 4px; margin-right: 10px;background: #f8f8f8;}

.fabu_travel .travel_box .strategy_li .str_content .left_art span img,
.fabu_travel .travel_box .video_li  .v_content .left_art span img{width: 100%; height: 100%; object-fit: cover;}

.fabu_travel .travel_box .strategy_li .str_content .art_info{position: absolute; bottom: 10px; left: 0; right: 0; font-size: 14px; color: #999;}
.fabu_travel .travel_box .strategy_li .str_img{width: 250px; height: 190px; background: #f8f8f8; float: left; position: relative;}
.fabu_travel .travel_box .strategy_li a{border-bottom: solid 1px #eee; padding:20px 0;}

/* 投票 */
.fabu_vote {padding-bottom: 30px;}
.fabu_vote .vote_list .vote_li{padding: 20px; border-bottom: solid 1px #eee;}
.fabu_vote .vote_list .vote_li:hover{background-color: #F5F5F5;}
.fabu_vote .vote_list .vote_li a{display: block;}
.fabu_vote .vote_list .vote_li .vote_img{width: 378px; height: 230px; float: left; background-color: #f8f8f8; position: relative;}
.fabu_vote .vote_list .vote_li .vote_info{float: left; box-sizing: border-box; padding: 20px; width: 500px; padding-top: 10px; height: 230px; box-sizing: border-box; padding-right: 0;}
.fabu_vote .vote_list .vote_li .vote_info h3{color: #343945; font-size: 20px; font-weight: bold; margin-right: 50px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.fabu_vote .vote_list .vote_li .vote_detail{margin-top: 40px;}
.fabu_vote .vote_list .vote_li .vote_detail .vote{float: left; width: 33.3%; text-align: center;}
.fabu_vote .vote_list .vote_li .vote_detail .vote h5{color: #333; font-size: 20px;}
.fabu_vote .vote_list .vote_li .vote_detail .vote p{color: #999; font-size: 14px;}
.fabu_vote .vote_list .vote_li .vote_state{height: 50px; line-height: 50px; text-align: center; color: #9FA3AF; background: #F2F2F2; border-radius: 6px; font-size: 18px; margin-top: 30px;}
.fabu_vote .vote_list .vote_li .vote_state.voting{background: #FAEBEB; color: #FF595A;}
.fabu_vote .vote_list .vote_li .vote_img img{width: 100%; max-height: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; object-fit: cover;}

/* 招聘 */
.job_list .zp_ul{margin-top: 30px; padding-bottom: 30px;}
.job_list .zp_li:nth-child(1) .left_time,.job_list .zp_li:nth-child(1) .right_detail .rbox,.job_list .zp_li.first_zp .left_time,.job_list .zp_li.first_zp .right_detail .rbox{padding-top:0 ;}
.job_list .zp_li .left_time{width: 116px; text-align: right; color: #999; font-size: 14px; float: left; box-sizing: border-box; padding-right: 18px; padding-top: 30px; margin-top: -4px;}
.job_list .zp_li .right_detail{padding:0 20px ;margin-left: 116px; border-left: solid 1px #eee; position: relative; border-top: solid 1px rgba(255,255,255,0);}
.job_list .zp_li .right_detail h2{font-size: 20px; color: #333; font-weight: bold; margin-bottom: 10px; line-height: 1em; margin-top: -4px;}
.job_list .zp_li .right_detail h2>i{display: inline-block; font-style: normal; font-size: 14px; color: #fff; font-weight: normal; line-height: 24px; width: 54px; border-radius: 6px 0 6px 0; text-align: center; margin-right: 8px;	 
background: -moz-linear-gradient(90deg,rgba(255,179,51,1) 1%,rgba(255,136,44,1) 100%); 
background: -webkit-linear-gradient(90deg,rgba(255,179,51,1) 1%,rgba(255,136,44,1) 100%); 
background: -o-linear-gradient(90deg,rgba(255,179,51,1) 1%,rgba(255,136,44,1) 100%); 
background: -ms-linear-gradient(90deg,rgba(255,179,51,1) 1%,rgba(255,136,44,1) 100%); 
background: linear-gradient(90deg,rgba(255,179,51,1) 1%,rgba(255,136,44,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFB333', endColorstr='#FFFF882C',GradientType=0 );
}
.job_list .zp_li.qiuzhi .right_detail h2>i{
background: -moz-linear-gradient(90deg,rgba(96,148,255) 1%,rgba(41,106,236,1) 100%);
background: -webkit-linear-gradient(90deg,rgba(96,148,255) 1%,rgba(41,106,236,1) 100%); 
background: -o-linear-gradient(90deg,rgba(96,148,255) 1%,rgba(41,106,236,1) 100%); 
background: -ms-linear-gradient(90deg,rgba(96,148,255) 1%,rgba(41,106,236,1) 100%); 
background: linear-gradient(90deg,rgba(96,148,255) 1%,rgba(41,106,236,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF6194FF', endColorstr='#FF2969ED',GradientType=0 );}
.job_list .zp_li .right_detail .d_con{color: #999; font-size: 14px; line-height: 22px;  display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}
.job_list .zp_li .right_detail .hr{color: #666; font-size: 14px; margin-top: 40px;}
.job_list .zp_li .right_detail .hr>i,.job_list .zp_li .right_detail .tel>i{display: inline-block; vertical-align: middle; margin-right: 6px; margin-bottom: 4px;}
.job_list .zp_li .right_detail .hr>i img,.job_list .zp_li .right_detail .tel>i img{display: block;}
.job_list .zp_li .right_detail .tel{font-size: 16px; color: #333;  width: 172px; line-height: 42px; border-radius: 21px; text-align: center; border: solid 1px #E3E3E3; position: absolute; top: 46px; right: 20px;}
.job_list .zp_li:nth-child(1) .right_detail .tel,.job_list .zp_li.first_zp .right_detail .tel{top: 14px;}
.job_list .zp_li .right_detail .rbox{padding: 30px 0; border-bottom: solid 1px #eee; padding-right: 200px;}
.job_list .zp_li .right_detail .c_icon{display: block; width: 13px; height: 13px; box-sizing: border-box; border: solid 2px #ccc; border-radius: 50%; position: absolute; top: 30px; left: -7px; background: #fff;}
.job_list .zp_li:nth-child(1) .c_icon,.job_list .zp_li.first_zp .c_icon{top: 0;}
.lvli{float: right; font-size: 14px; color: #3C6DF0 !important; font-weight: normal; padding-right: 20px;}

/* 视频 */
.fabu_video .video_list{padding-bottom: 20px;}
.fabu_video .video_list .video_ul{padding: 0 10px; padding-top: 10px;}
.fabu_video .video_list .video_ul li a:hover{box-shadow:0px 10px 21px 0px rgba(80,80,87,0.14);}
.fabu_video .video_list .video_ul li{width: 50%; float: left;}
.fabu_video .video_list .video_ul li.video_li a{display: block;  margin: 10px; border-radius: 6px; overflow: hidden; border: solid 1px #eee; padding-bottom: 20px;}

.fabu_video li.video_li .video_img{height: 240px; background: #000; position: relative;}
.fabu_video li.video_li .video_img i{display: block; position: absolute; top: 50%; left: 50%; line-height: 20px; color: #fff;z-index: 3; font-style: normal; width: 50px; height: 50px; background: url(../images/user/v_icon.png) no-repeat center; background-size: cover; margin-left: -25px; margin-top: -25px;}
.fabu_video li.video_li .video_img img{width: 100%; max-height: 100%; object-fit: cover;  position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }
.fabu_video li.video_li h3{color: #343945; font-size: 16px; margin-top: 18px; line-height: 1.1em; padding: 0 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: bold;}
.fabu_video li.video_li .video_info{overflow: hidden; margin-top: 18px;  padding: 0 18px; font-size: 14px; color: #9FA3AF;}
.fabu_video li.video_li .video_info .left_info{float: left; max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.fabu_video li.video_li .video_info .left_info .lhead{display: inline-block; width: 30px; height:30px; border-radius: 50%; overflow: hidden; background: #f7f7f7; vertical-align: middle; margin-bottom: 4px; margin-right: 10px;}
.fabu_video li.video_li .video_info .left_info .lhead img{width: 100%; height: 100%; object-fit: cover; }
.fabu_video li.video_li .video_info .right_num{float: right;  line-height: 30px;}
.fabu_video li.video_li .video_info .right_num i{display: inline-block; width: 24px; height: 18px; background: url(../images/user/read.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: 4px; margin-right: 6px;}
.fabu_video li.video_li  .video_img em{position: absolute; top: 0; left: 0; background:linear-gradient(89deg,rgba(255,170,91,1) 0%,rgba(255,139,32,1) 100%); display: block; padding: 0 10px; font-size: 12px; color: #fff; text-align: center; line-height: 24px; border-radius: 4px 0 4px 0  ; z-index: 3;}

.fabu_marry  .marry_list .marry_li:hover{background: #f5f7f8;}
.fabu_marry  .marry_list .marry_li a{display: block; margin: 0 20px; position: relative; padding: 20px 0; border-bottom:solid 1px #eee ;}
.fabu_marry  .marry_list .marry_li h3{margin-top: 4px; margin-bottom: 14px;}
.fabu_marry  .marry_list .marry_info{height: 190px;}
.fabu_marry  .marry_list .marry_li .marry_lab span{display: inline-block; padding:0 10px; line-height: 26px; border-radius: 13px; background: #EAF4FF; color: #87A3C4; text-align: center; margin-right: 4px;}
.fabu_marry  .marry_list .marry_info .marry_posi{font-size: 14px; color: #999; margin-top: 12px;}
.fabu_marry  .marry_list .marry_info .marry_user{color: #9FA3AF; font-size: 14px; position: absolute; bottom: 29px; }
.fabu_marry  .marry_list .marry_info .marry_user i{display: inline-block; width:42px ; height: 42px; vertical-align: middle; margin-bottom: 4px; margin-right: 10px;border-radius: 50%;}
.fabu_marry  .marry_list .marry_info .marry_user img{width: 100%; height: 100%; object-fit: cover;}
.fabu_marry  .marry_list .marry_li a{display: block; margin: 0 20px; position: relative; padding: 20px 0; border-bottom:solid 1px #eee ; cursor: default;}
.fabu_marry  .marry_list .marry_li .marry_img{width: 250px; height: 190px; float: left; position: relative; background: #f6f6f6;}
.fabu_marry  .marry_list .marry_li .marry_img img{width: 100%; max-height: 100%; object-fit: cover; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto;-webkit-transform: scale(1);-moz-transform: scale(1);transform:scale(1);-webkit-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;transition: all .4s ease-in-out;}
.fabu_marry  .marry_list .marry_li .marry_img i{display: block; color: #fff; font-size: 12px; line-height: 24px; position: absolute; top: 5px; left: 5px; border-radius:4px 0px 4px 0px;background:linear-gradient(89deg,rgba(255,170,91,1) 0%,rgba(255,139,32,1) 100%); font-style: normal; padding:  0 10px;}
.fabu_marry  .marry_list .marry_li h3{color: #343945; font-size: 20px; padding-top: 12px; line-height: 1.1em;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: bold; margin-bottom: 20px;}
.fabu_marry  .marry_list .marry_li .marry_info{margin-left: 270px; margin-right: 160px;}
.fabu_marry  .marry_list .marry_info  .marry_price em{font-size: 28px; font-weight: bold;}
.fabu_marry  .marry_list .marry_info  .marry_price{color: #FF595A; font-size: 14px; text-align: right; position: absolute; right: 0; top: 65px;}

/* tieba */
.fabu_tieba .tieba_list .tieba_ul{padding: 28px 0;}
.fabu_tieba .tieba_list .tieba_li h3{line-height: 1.2em;}
.fabu_tieba .tieba_list .tieba_li:nth-child(1) .left_pubdate,
.fabu_tieba .tieba_list .tieba_li:nth-child(1) .right_tblist a{padding-top:0 ;}
.fabu_tieba .tieba_list .tieba_li .left_pubdate{width:122px;  text-align: right; color: #999; font-size: 14px; float: left; box-sizing: border-box; padding-right: 18px; padding-top: 50px; margin-top: -4px;}
.fabu_tieba .tieba_list .tieba_li .right_tblist{position: relative;border-left: solid 1px #eee; padding:0 22px; margin-left: 122px;}
.fabu_tieba .tieba_list .tieba_li a{display: block;padding-top: 50px; overflow: hidden;}
.fabu_tieba .tieba_list .tieba_li a .r_con{margin-top:-2px;}

.fabu_tieba .tieba_list .tieba_li .right_tblist .c_icon{display: block; width: 13px; height: 13px; box-sizing: border-box; border: solid 2px #ccc; border-radius: 50%; position: absolute; top: 50px; left: -7px; background: #fff;}
.fabu_tieba .tieba_list .tieba_li:nth-child(1) .c_icon{top: 0;}
.fabu_tieba .tieba_list .tieba_li .l_img{width: 200px; height: 148px; background: #f8f8f8; float: left; position: relative;}
.fabu_tieba .tieba_list .tieba_li.single_box .right_tblist .r_con{height: 148px; margin-left: 215px; position: relative; }
/* .fabu_tieba .tieba_list .tieba_li .right_tblist .r_con {} */
.fabu_tieba .tieba_list .tieba_li .right_tblist .r_con p{color: #666; font-size: 14px; line-height: 24px; margin-top: 10px; margin-bottom: 26px;  display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.fabu_tieba .tieba_list .tieba_li.single_box .right_tblist .r_con .tl_info{position: absolute; bottom: 0; left: 0;}
.fabu_tieba .tieba_list .tieba_li .right_tblist .r_con .tl_info{ font-size: 14px; color: #999;}
.fabu_tieba .tieba_list .tieba_li .right_tblist .r_con .tl_info .t_type{color: #1B81FF; font-size: 14px; margin-right: 10px;}
.fabu_tieba .tieba_list .tieba_li .right_tblist .r_con .tl_info .t_read i{display: inline-block; width: 22px; height: 16px; background: url(../images/user/read.png) no-repeat center; opacity: .5; background-size: cover; vertical-align: middle; margin-bottom: 4px; margin-right: 4px;}
.fabu_tieba .tieba_list .tieba_li.more_box .img_list {margin-bottom: 10px;}
.fabu_tieba .tieba_list .tieba_li.more_box .img_list .imgbox{width: 178px; height: 134px; float: left; margin-right: 10px; background: #f8f8f8; position: relative;}
.fabu_tieba .tieba_list .tieba_li .imgbox img{position: absolute; width: 100%; max-height: 100%; top: 0; left: 0; right: 0; bottom: 0; margin: auto; object-fit: cover;}
.fabu_tieba .tieba_list .tieba_li h3{color: #343945; font-size: 20px; font-weight: bold;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

/* 二手 */
.fabu_info{margin-bottom: 30px;}
.info_list .list_ul li:first-child{border: none;}
.info_list .list_ul li{padding: 20px;background: #fff;border-top: 1px solid #eee}
.info_list .list_ul li:hover{background: #F5F7F9}
.info_list .list_ul li.failed{text-align: center;}
.info_list .list_ul li.failed:hover{background: #fff}
.info_list .list_ul li.failed img{display: block;margin:0 auto 10px;}
.failed span{font-size: 17px;color:#8c8c91;margin-top: 40px;display: block;}
.fabu_tit{font-size: 18px;font-weight: bold;color: #39393B;padding-left: 18px;height: 58px;line-height: 58px;}
.info_list .left_b{float: left;width: 160px;height: 160px; position: relative;}
.info_list .left_b img{max-width:100%;max-height:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;}
.info_list .mid_b{float: left;margin-left: 14px;max-width: 450px}
.info_list .mid_b .new_title{font-size: 20px;font-weight: bold;max-width: 450px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.info_list .mid_b .new_title .self{width:32px;height: 18px;display: inline-block;background: url(../images/self.png) no-repeat center center;vertical-align: middle;margin-top: -3px;margin-left: 9px;}
.info_list .mid_b .new_title .noself{width:20px;height: 22px;display: inline-block;background: url(../images/noself.png) no-repeat center center;vertical-align: middle;margin-top: -3px;margin-left: 9px;}
.info_list .mid_b .tip{font-size: 14px;color: #62687A;margin-top: 8px; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;max-width: 450px; height: 40px;}
.info_list .mid_b .new_title:hover a{color: #FF653B}
.info_list .new_info{margin-top: 10px}
.info_list .new_info .new_address{font-size: 14px;color: #666;}
.info_list .news_time{font-size: 14px;color: #9FA3AF;display: inline-block; margin-top: 44px;}
.info_list .news_time span.typename{color: #1B81FF;}
.info_list .new_icon{padding: 0 7px;color: #FF653B;border: 1px solid #FF653B;font-size: 14px;display: inline-block;border-radius:2px;margin-top: 12px;}

.info_list .right_b{float: right;text-align: right;padding-top: 40px}
.info_list .new_price{font-size: 14px;color: #FF653B}
.info_list .new_price strong{font-size: 28px;font-weight: bold;}

.info_list .news_more{font-size: 14px;width: 100%;background: #fff;height: 40px;line-height: 40px;text-align: center;}
.info_list .news_more a{color: #999;}
.info_list .news_more:hover a{color: #FF653B;}
.info_list .news_more i{width:6px;height: 12px;display: inline-block;background: url(../images/arrowr.png) no-repeat center center;vertical-align: middle;margin-top: -3px;margin-left: 6px;}

/* 教育 */
.fabu_education{padding-bottom: 30px;}
.fabu_education  .edu_list .edu_li a{display: block; margin: 0 20px; position: relative; padding: 20px 0; border-bottom:solid 1px #eee ; cursor: default;}
.fabu_education  .edu_list .edu_li .edu_img{width: 300px; height: 227px; float: left; position: relative; background: #f6f6f6;}
.fabu_education  .edu_list .edu_li .edu_img img{width: 100%; max-height: 100%; object-fit: cover; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto;-webkit-transform: scale(1);-moz-transform: scale(1);transform:scale(1);-webkit-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;transition: all .4s ease-in-out;}
.fabu_education  .edu_list .edu_li .edu_img i{display: block; width: 42px; height: 30px; background: url(../images/user/edu_rec.png) no-repeat center ; background-size: cover; position: absolute; top: -4px; left: 8px; z-index: 1;}
.fabu_education  .edu_list .edu_li .edu_info{margin-left: 320px; margin-right: 190px;}
.fabu_education  .edu_list .edu_li .edu_info h3{color: #343945; font-size: 20px; margin-top: 15px; line-height: 1.1em;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: bold; margin-bottom: 20px;}
.fabu_education  .edu_list .edu_li .edu_info>p{color: #87A3C4; font-size: 14px; margin-bottom: 16px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.fabu_education  .edu_list .edu_li .edu_detail i{display: inline-block; width: 16px; height: 16px; background: url(../images/user/edu_name.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: 4px; margin-right: 8px;}
.fabu_education  .edu_list .edu_li .edu_detail .e_time i{background-image: url(../images/user/edu_time.png);}
.fabu_education  .edu_list .edu_li .edu_detail .e_addr i{background-image: url(../images/user/edu_addr.png);}

.fabu_education  .edu_list .edu_li .edu_detail .e_pub {overflow: hidden; margin-top: 14px;}
.fabu_education  .edu_list .edu_li .edu_detail .e_pub .e_img{width: 34px; height: 34px; border-radius: 50%; overflow: hidden; float: left; }
.fabu_education  .edu_list .edu_li .edu_detail .e_pub .e_img img{width: 100%; height: 100%; object-fit: cover;}
.fabu_education  .edu_list .edu_li .edu_detail .e_pub .e_name{font-size: 14px; color: #787878; line-height: 34px; margin-left: 8px; float: left;}
.fabu_education  .edu_list .edu_li .edu_detail p{font-size: 14px; color: #9FA3AF; line-height: 16px; margin-top: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.fabu_education  .edu_list .edu_li .posi_ele{position: absolute; right: 0; top: 65px;}
.fabu_education  .edu_list .edu_li .posi_ele .edu_price{color: #FF595A; font-size: 14px; text-align: right;}
.fabu_education  .edu_list .edu_li .posi_ele .edu_price em{font-size: 28px; font-weight: bold;}
.fabu_education  .edu_list .edu_li .posi_ele .edubm_btn{display: none; width: 140px; height: 50px; border-radius: 25px; box-shadow:0px 7px 23px 0px rgba(255,89,90,0.47); background: #FF595A; color: #fff; line-height: 50px; font-size: 16px; border: none; outline: none; cursor: pointer;}
.fabu_education  .edu_list .edu_li .posi_ele .edubm_btn:hover{background: #cc4647;}
.fabu_education  .edu_list .edu_li:hover .posi_ele .edubm_btn{display: block;}
.fabu_education  .edu_list .edu_li:hover .posi_ele .edu_price{display: none;}
.fabu_education  .edu_list .edu_li:hover{background: #F5F7F9;}

/* 装修 */
.fabu_renovation  {padding-bottom: 30px;}
.fabu_renovation  .ren_list .ren_li{padding: 20px; border-bottom: solid 1px #eee; }
.fabu_renovation  .ren_list .ren_li:hover{background: #f5f5f5;}
.fabu_renovation  .ren_list .ren_li .ren_img {width: 250px; height: 190px; float: left; background: #f5f5f5; position: relative;}
.fabu_renovation  .ren_list .ren_li .ren_img img{width: 100%; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;} 
.fabu_renovation  .ren_list .ren_li .ren_info{margin-left: 270px; height: 190px; position: relative;}
.fabu_renovation  .ren_list .ren_li .ren_info h3{font-size: 20px; color: #333; font-weight: bold; padding-top: 10px;} 
.fabu_renovation  .ren_list .ren_li .ren_info .ren_detail{font-size: 14px; height: 50px; margin-top: 12px;}
.fabu_renovation  .ren_list .ren_li .ren_info .ren_detail p{float: left; width: 33.3%; color: #999;line-height: 26px; }
.fabu_renovation  .ren_list .ren_li .ren_info .ren_detail p span{color: #666;}
.fabu_renovation  .ren_list .ren_li .ren_design{position: absolute; bottom: 10px; left: 4px;}
.fabu_renovation  .ren_list .ren_li .ren_design .d_head{width: 42px; height: 42px; border-radius: 50%; overflow: hidden; float: left; background: #f5f5f5;} 
.fabu_renovation  .ren_list .ren_li .ren_design h4{margin-left: 56px; font-size: 16px; color: #333; font-weight: bold; line-height: 42px;}
.fabu_renovation  .ren_list .ren_li .ren_design h4 span{color: #A0A0A0; font-weight: normal; font-size: 14px; margin-left: 8px;}


