.nav_box{width: 1200px;  background: #fff; margin: auto; box-shadow:0px 9px 38px 0px rgba(88,85,85,0.1); border-radius:6px; text-align: center; margin-top: -32px;}
.nav_box li{display: inline-block; width: 228px; box-sizing: border-box; padding-top: 20px; position: relative; height: 130px;}
.nav_box li.on a{color: #3480fa;}

.nav_box a{display: block; font-size: 18px; color: #949191;}
.nav_box li span{display: block; width: 36px; height: 36px; margin: auto; background: no-repeat center; background-size: cover; margin-bottom: 18px;}
.nav_box li.on.index span{background-image:url(../images/user/index.png)}
.nav_box li.message span{background-image:url(../images/user/message_1.png)}
.nav_box li.circle span{background-image:url(../images/user/circle_1.png)}
.nav_box li.visitor span{background-image:url(../images/user/visitor_1.png)}
.nav_box li.fabu span{background-image:url(../images/user/fabu_1.png)}
.nav_box li .line{display: block; width: 1px; height: 70px; background: #eee; position: absolute; right: 0; top: 28px;}
.nav_box li.on .bottom_line{display: block; width: 100px; height: 3px; background: #3b86ff; position: absolute; left: 50%; bottom: 0; margin-left: -50px ; transform: scale(1);}
.nav_box li .bottom_line{width: 100px; display: block; height: 3px;position: absolute; left: 50%; bottom: 0; margin-left: -50px; transform: scale(0); }
.nav_box li:hover .bottom_line{ width: 100px; background: #3b86ff; transform: scale(1); transition: transform .2s; transform-origin: center center;}
/* 内容 */
.main_box{width: 1200px; margin: auto; margin-top: 32px;}
.main_box .left_wrapper{float: left; width: 860px;}
.main_box .right_wrapper{float: right; width: 300px;}

.con_box{background-color: #fff; box-shadow:0px 9px 38px 0px rgba(88,85,85,0.1); border-radius:6px; margin-bottom: 20px;}
.con_box h2.con_title{font-size: 20px; color: #333; font-weight: bold; line-height: 72px; padding:0 20px; border-bottom: solid 1px #E8E8E8;}
.con_box h2.con_title>a{float: right; font-size: 14px; color: #9FA3AF; font-weight: normal;}
.circle_box{padding: 20px;}
.circle_box .art_ib{overflow: hidden; }
.circle_box  .art_con {cursor: pointer;}
.circle_box .left_head{width: 50px; height: 50px; border-radius: 50%; float: left; position: relative;}
.circle_box .left_head .v_log{width: 18px; height: 18px; position: absolute; right: 0; bottom: 0;}
.circle_box .left_head .v_log img{width: 100%; height: 100%;}
.circle_box .left_head img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.circle_box .r_info{margin-left: 58px;}
.circle_box .r_info h4{font-size: 16px; color: #343945; margin-bottom:4px;}
.circle_box .r_info h4 .lBox{display: inline-block;}
/* 会员等级样式 */
.lBox{ line-height: 22px; border-radius: 10px; display: inline-block;  padding-right:8px; position: relative;  overflow: hidden; z-index: 2; vertical-align: middle; margin-bottom: 4px; margin-left: 4px;}
.lBox .before{background:rgba(0,0,0,.5); content: ''; display: block; width: 100%; height: 100%; position: absolute;right:0; top: 0; z-index: -2;}
.lBox .after{ display: block; width: 100%; height: 20px;position: absolute;right: 0; top: -.16rem; z-index: -1; transform: rotate(-35deg); transform-origin: right center;}
.lBox i{display: inline-block; width:22px; height: 22px;  background: no-repeat center; background-size: 16px;vertical-align: middle; float: left;}
/* .lBox i img{width: 100%; height: 100%; display: block;} */
.lBox span{vertical-align: middle; font-size: 12px; color: #fff;  float: left; line-height: 20px;}
/* 等级0 */
.lBox.level_0 i,.lBox.level_0 .before,.lBox.level_0 .after{background: none; display: none;}

.lBox.level_0 span{line-height: 22px; background: #EEF1F3; color: #949191; font-size: 12px; padding: 0 6px; border-radius: 11px;display: inline-block;}
/* 等级1 */
.lBox i img{display: block; width: 100%; height: 100%;}
.lBox.level_1 span{color: #4581B1;}
/* .lBox.level_1 i{background-image:url(../images/user/v_5.png) ;} */
.lBox.level_1 .before{background:rgba(171,214,255,1);}
.lBox.level_1 .after{ background: rgba(145,202,255,1); }
/* 等级2 */
.lBox.level_2 span{color: #C29339;}
.lBox.level_2 .before{background: #FDE7A9;}
.lBox.level_2 .after{background: #F7DA8D;}
/* .lBox.level_2 i{background-image:url(../images/user/v_4.png) ;} */
/* 等级3 */
.lBox.level_3 .before{background: #757067;}
.lBox.level_3 .after{background: #66625A;}
/* .lBox.level_3 i{background-image:url(../images/user/v_3.png) ;} */
/* 等级4 */
.lBox.level_4 .before{background: #6B727A;}
.lBox.level_4 .after{background: #5B6067;}
/* .lBox.level_4 i{background-image:url(../images/user/v_2.png) ;} */
/* 等级5 */
.lBox.level_5 .before{background: #4B4B4A;}
.lBox.level_5 .after{background: #3B3B3C;}
/* .lBox.level_5 i{background-image:url(../images/user/v_1.png) ;} */

.circle_box .r_info p{font-size: 14px; color: #9FA3AF;}

.circle_box .art_con h2{font-size: 16px; color: #343945; margin-top: 10px;}
.circle_box .art_con h2>img{display: none;}
.circle_box .art_con.hot_tag h2>img{display: inline-block; width: 58px; height: 26px; vertical-align: middle; margin-bottom: 4px; margin-right: 6px;}

.circle_box .img_con{overflow: hidden; margin-top: 16px;}
.circle_box .img_con .img_box{float: left; /*background: #ccc;*/ height: 340px;width: 340px; margin-right: 10px; border-radius: 4px; overflow: hidden; cursor: pointer; position: relative;}
.circle_box .img_con.three_box .img_box{ width: 256px; height: 240px; margin-right: 14px; }
.circle_box .img_con .img_box img{width: 100%; max-height: 100%; object-fit: cover; position: absolute; left: 0; right: 0; bottom: 0; top: 0; margin: auto;}
.circle_box .link_out{overflow: hidden; padding: 8px; border-radius: 4px; background: #F5F5F5; display: block; margin-top: 20px;}
.circle_box .link_out .left_img{width: 50px; height: 50px; float: left;}
.circle_box .link_out .left_img img{width: 100%; height: 100%; object-fit: cover;}
.circle_box .link_out p{margin-left: 62px; font-size: 14px; color: #343945; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding-top: 10px;}
.circle_box .topic_link{max-width: 50%; line-height: 32px; border-radius: 16px; background: #F0F3F5; color: #03A9F4; font-weight: bold; display: inline-block;padding-right: 20px; padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-top: 20px;}
.circle_box .topic_link img,.circle_box .posi img{vertical-align: middle; margin-bottom: 4px; margin-right: 2px;}
.circle_box .posi{color: #999; font-size: 14px; display: block; margin-top: 10px;}
.circle_box{position: relative;}
.circle_box .poster{position: absolute; bottom: -150px; width: 820px; height: 240px; border-radius: 4px; background:linear-gradient(91deg,rgba(216,236,246,1) 0%,rgba(244,252,255,1) 100%); box-sizing: border-box; padding: 6px;  -webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;-webkit-animation: topFadeIn .3s ease-out;-moz-animation: topFadeIn .3s ease-out;animation: topFadeIn .3s ease-out; display: none;
border-image:linear-gradient(90deg, rgba(210,230,240,1), rgba(225,237,243,1)) 1 1;
box-shadow:0px 9px 27px 0px rgba(165,175,185,0.32); z-index: 10;}
.circle_box .poster .left{float: left;}
.circle_box .poster .right{float: right; margin-right: 34px; width: 178px; padding-top: 10px;}
.circle_box .poster .right img{width: 100%;border:1px solid #BFE2F4}
.circle_box .poster .right p{font-size: 14px; color: #918A8A; margin-top: 4px; text-align: center; }
.circle_box .tip_text{margin-left: 240px; margin-right: 260px; padding-top: 80px; }
.circle_box .tip_text p{color: #928C8C; font-size: 20px; text-align: right;}
.circle_box .tip_text h2{color: #6F6363; font-size: 24px; font-weight: bold; text-align: right; margin-top: 0;}
.circle_box .zanbox{overflow: hidden;padding: 20px 0; }
.circle_box .zan_list{float: left; }
.circle_box .zan_list ul{overflow: hidden; display: inline-block; vertical-align: middle;}
.circle_box .zan_list li{width: 30px; height: 30px; overflow: hidden; border-radius: 50%; background: #f5f5f5; float:  left; margin-right: 10px;}
.circle_box .zan_list li img{width: 100%; height: 100%; object-fit: cover;}
.circle_box .zan_count{display: inline-block; min-width: 54px; height: 30px; background: url(../images/user/zan_bg.png) no-repeat left ; background-size: 54px 30px; vertical-align: middle; text-align: center;}
.circle_box .zan_count em{background: #EBEBED; border-radius: 15px; margin:0 10px; font-size: 14px; color: #808080; line-height: 30px; display: block;padding: 0 5px;}

.circle_box .btns ul{overflow: hidden;}
.circle_box .btns li{float: right; margin-left: 40px; font-size: 16px; color: #9FA3AF; }
.circle_box .btns li img{display: inline-block; width: 20px; height: 20px; vertical-align: middle; margin-right: 6px;}
.circle_box .btns li.more img{width: 30px;}

.circle_box .comt_list{padding-top: 20px; border-top: solid 1px #EBEBED; cursor: pointer;}
.circle_box .comt_list li{font-size: 14px; color: #212121; margin-bottom: 2px; line-height:20px;}
.circle_box .comt_list a{font-size: 14px; color: #03A9F4; }
.circle_box .comt_list .commt_btn{line-height: 46px; border-radius: 4px; background: #F2F2F2; box-sizing: border-box; padding-left: 20px; font-size: 14px; color: #B3B3B3; margin-top: 14px;}
.circle_box .comt_list img{width: 20px; vertical-align: middle; margin: 0 2px;}

.box2 .circle_more{overflow: hidden;}
.box2 .circle_more li{width: 125px; height: 125px; border-radius: 4px; background: #f5f5f5; float: left; margin-right: 12px; background: #fff; overflow: hidden;}
.box2 .circle_more li img{opacity:.5; width: 100%; height: 100%; object-fit: cover;}
.box2 .circle_more li:hover img{opacity:1;}
.box2 .circle_more li.more_li {margin-right: 0; text-align: center; font-size: 14px; color: #999; background: #f5f5f5 !important;}
.box2 .circle_more li.more_li span{padding-top: 50px; box-sizing: border-box; display: block;}
.box2.circle{padding: 20px; cursor: pointer;}

/* 发布分类 */
 .pub_box{padding: 20px;}
 .fabu_type {overflow: hidden;}
 .fabu_type li{float: left; padding: 0 24px; height: 38px; box-sizing: border-box; margin-right: 12px; text-align: center; border: solid 1px #EEE; line-height: 38px; font-size: 14px;  text-overflow: ellipsis; white-space: nowrap; color: #62687A; margin-bottom: 12px;  cursor: pointer;  white-space: nowrap;}
 .fabu_type li.onclick{font-size: 16px; color: #FE8F33; font-weight: bold;  box-shadow:0px 3px 38px 0px rgba(80,80,87,0.18); position: relative; text-overflow: ellipsis; white-space: nowrap;}
 .fabu_type li.onclick i{display: block; width: 12px; height: 6px; position: absolute; left: 50%; margin-left: -6px; bottom: -6px; background: url(../images/user/arr_d.png) no-repeat center; background-size: cover;}

.fabu_con .fabu_li{width: 260px; float: left; margin-right: 20px; margin-bottom: 10px;}
.fabu_con .fabu_li img:hover{-ms-transform:scale(1.1);-moz-transform:scale(1.1);-webkit-transform:scale(1.1);-o-transform:scale(1.1);}
.fabu_con .fabu_li:nth-child(3n){margin-right: 0;}
.fabu_con .fabu_li a{display: block; padding-bottom: 20px;}
.fabu_con .fabu_li .fabu_img{width: 100%; height: 196px; background: #f8f8f8; position: relative; border-radius: 4px; overflow: hidden;}
.fabu_con .fabu_li .fabu_img.gao1{height: 260px;}
.fabu_con .fabu_li .fabu_img.gao2{height: 146px;}
.fabu_con .fabu_li .fabu_img img{width: 100%; position: absolute; left: 0; right: 0; bottom: 0; top: 0; margin: auto; -webkit-transition: -webkit-transform .3s ease-out;transition: -webkit-transform .3s ease-out;-o-transition: transform .3s ease-out;transition: transform .3s ease-out,-webkit-transform .3s ease-out;}
.fabu_con .fabu_li .fabu_img i{display: block; width: 63px; height: 58px; background: url(../images/user/top.png) no-repeat center; background-size: cover; position: absolute; top: 0; left: 0;}
.fabu_con .fabu_li .fabu_img em{position: absolute; bottom: 0; right: 0; display: block; line-height: 24px ; background:linear-gradient(89deg,rgba(255,170,91,1) 0%,rgba(255,139,32,1) 100%);border-radius:4px 0px 4px 0px; width: 70px; text-align: center; color: #fff;}
.fabu_con .fabu_li h2{font-size: 16px; color: #333; margin-top: 12px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.fabu_con .fabu_li p.info{font-size: 14px; color: #999; margin-top: 8px;}
.fabu_con .fabu_li p.info .read{float: right; padding-right: 4px;}
.fabu_con .fabu_li p.info em{display: inline-block; width: 22px; height: 16px; background: url(../images/user/read.png) no-repeat center; vertical-align: middle; margin-bottom: 4px; margin-right: 6px; opacity: .8;}
.fabu_con .fabu_li p.price{color: #FF595A; font-size: 16px; margin-top: 6px;}
.fabu_con .fabu_li p.price em{font-size: 18px; font-weight: bold;}

/* 留言 */
.msg_box{ padding: 30px; padding-top: 20px;}
.msg_box .write{ position: relative; padding: 10px; border: 1px solid #e3e3e3; border-radius: 5px; height: 25px;}
.msg_box .write .textarea{ height: 25px; width: 100%; font-size: 14px; overflow: auto; -webkit-user-modify: read-write-plaintext-only;}
.msg_box .write .textarea:empty:before{ content: attr(placeholder); color: #ccc;}
.msg_box .write .textarea:focus { outline: none;}
.msg_box .write .textarea img{ width: 25px; height: 25px; display: inline-block; vertical-align: middle; margin-right: 3px;}
.msg_box .write em{ position: absolute; right: 10px; top: 13px; color: #d4d4d4;}
.comment_foot { margin-top: 10px; position: relative;}
.comment_foot .editor_btn .editor{ border: none; float: left; width: 25px; height: 25px; background: url(../images/xiaolian.png) no-repeat center; background-size: 25px; cursor: pointer;}
.comment_foot .editor_btn .editor.ed_bc{ background: url(../images/xiaolian_1.png) no-repeat center; background-size: 25px;}
.comment_foot .com_btn{ float: right; width: 106px; height: 39px; border-radius: 5px; background: #d4d4d4; color: #fff; text-align: center; line-height: 39px; cursor: pointer; font-size: 16px;}
.comment_foot .com_btn:hover{ background: #34bdf6;}
.comment_foot .face_box{ position: absolute; left: -5px; top: 40px; z-index: 111; background: #fff; width: 480px; border: 1px solid #e3e3e3; border-radius: 5px; padding: 10px; display: none;}
.comment_foot .face_box i{ position: absolute; left: 2px; top: -18px; background: url(../images/jiao_2.png) no-repeat center; background-size: 30px; width: 30px; height: 30px;}
.comment_foot .face_box ul li{ float: left; width: 30px; height: 30px; overflow: hidden; margin-right: 10px; margin-bottom: 10px; cursor: pointer;}
.comment_foot .face_box ul li a img{ width: 100%; height: 100%;}

.msglist_box{padding: 0 30px;}
.msglist_box h2{color: #333; font-size: 16px; font-weight: normal;}
.msglist_box h2 em{color: #d4d4d4;}
.msglist_box li.msg_li{padding: 30px 0; border-bottom: solid 1px #eee; position: relative;}
/* .msglist_box li.msg_li:last-child */
.msglist_box .loading_msg {text-align: center; font-size: 14px; color: #999; line-height: 66px;}
.msglist_box .loading_msg a{font-size: 14px; color: #999; line-height: 66px;}
.msglist_box li.msg_li .head_img{width: 50px; height: 50px; border-radius: 50%; overflow: hidden; float: left; background: #f5f5f5;}
.msglist_box li.msg_li .head_img img{width: 100%; height: 100%; object-fit: cover;}
.msglist_box li.msg_li .msg-con{margin-left: 66px;}
.msglist_box li.msg_li .msg-con h3{font-size: 14px; color: #333; font-weight: bold;}
.msglist_box li.msg_li .msg-con p{color: #777; font-size: 14px; margin-top: 8px;}
.msglist_box li.msg_li .msg-con p img{width: 25px; height: 25px; vertical-align: middle;}
.msglist_box li.msg_li .msg-con .pubdate{position: absolute; top: 30px; right: 0; color: #D4D4D4; font-size: 14px;}
.msglist_box li.msg_li .reply_list{background: #f5f5f5; padding:0 24px; margin-top: 24px; border-radius: 6px; position: relative; }
.msglist_box li.msg_li .reply_list li{border-bottom: solid 1px #eee; padding-bottom: 20px;padding: 16px 0;}
.msglist_box li.msg_li .reply_list li:last-child{border: none; }
.msglist_box li.msg_li .reply_list>i{display: block; width: 0; height: 0;border:solid 12px rgba(0,0,0,0); border-bottom: solid 12px #f5f5f5; position: absolute;top: -24px; left: 25px;}
.msglist_box li.msg_li  .reply_box{margin-top: 20px; margin-left: 66px;}
.msglist_box li.msg_li  .reply_box a.reply_btn{float: right;}
.msglist_box li.msg_li .msg_box{padding: 0; clear: both; padding-top: 10px; display: none;}

.right_wrapper .con_box h2.con_title{line-height: 60px;}
.userInfo{margin: 0 20px;}
.userInfo dt,.userInfo dd{font-size: 14px; color: #666; line-height: 48px; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-bottom: solid 1px #eee;}
.userInfo dd{font-weight: normal; }
.userInfo dd em{ color: #999;}
.notes{display: block; margin: 18px 4px 10px 4px; text-align: center;}

/* 粉丝 */
.f_list{margin: 0 10px; padding-bottom: 20px;}
.f_list dt{padding: 20px 0; font-size: 14px; color: #666; font-weight: bold;}
.f_list dd{width: 25%; float: left; margin-bottom: 10px; }
.f_list dd a{display: block; width: 50px; margin: auto;}
.f_list dd a .head_img{width: 50px; height: 50px; border-radius: 50%; background-color: #f5f5f5; position: relative;}
.f_list dd a .head_img img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%; border-radius: 50%;}
.f_list dd a .head_img .vip_icon{width: 20px; height: 20px; position: absolute; right: -2px; bottom: -2px; }
.f_list dd a p{white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 12px; color: #999; text-align: center; margin-top: 6px;}

/* 访客 */
.visit_list{padding: 10px 20px 10px 6px;}
.visit_list li{width: 50%; box-sizing: border-box; padding-left: 14px; float: left; margin: 10px 0;}
.visit_list .head_img{width: 50px; height: 50px; border-radius: 50%; background-color: #f5f5f5; position: relative; float: left;}
.visit_list .head_img img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%; border-radius: 50%;}
.visit_list .head_img .vip_icon{width: 20px; height: 20px; position: absolute; right: -2px; bottom: -2px; background: #333; display: none;}
.visit_list .v_info{margin-left: 56px; padding-top: 6px;}
.visit_list .v_info h4{white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 14px; color: #333;}
.visit_list .v_info p{color: #999; font-size: 12px;}


.bg_box{width: 100%; height: 400px; background-color: #000; position: fixed; bottom:-400px; right: 0; left: 0; z-index: 10;}
.bg_box h2{text-align: center; font-size: 18px; line-height: 60px; color: #fff; width: 1200px; margin: auto;}
.bg_box h2 a{float: right;}
.bg_head{box-shadow:0px 9px 29px 0px rgba(88,85,85,0.42); margin-bottom: 36px;}
.bg_list{width: 1200px; margin: auto; position: relative;}
.bg_list .bgul_box{max-height: 220px; overflow: auto;}
.bg_list .bgul_box::-webkit-scrollbar{width: 4px;border-radius:2px; background-color: #323233;}
.bg_list .bgul_box::-webkit-scrollbar-thumb{width: 4px; border-radius:2px; background-color: #808080;}
.bg_list li.bg_li{float: left; margin:5px; box-sizing: border-box; border: solid 2px rgba(0,0,0,0); position: relative; cursor: pointer;}
.bg_list li.bg_li img{display: block;}
.bg_list li.bg_li.chose{border: solid 2px #FF595A;}
.bg_list li.bg_li.chose em{display: block; width: 34px; height: 34px; background: url(../images/user/chosed.png) no-repeat center; background-size: cover; position: absolute; right: 0 ; bottom: 0;}
.bg_list li.bg_li.used i{display: block; font-size: 12px; color: #999; background-color: #fff; border-radius: 3px; position: absolute; top: 5px; right: 5px; font-style: normal; line-height: 22px; width: 48px; text-align: center;}
.bg_list li.bg_li i{display: none;}

.btn_group{ text-align: center; margin-top: 20px; position: relative; z-index: 3;}
.btn_group a{display: inline-block; width: 120px; line-height: 40px; text-align: center; font-size: 16px; border-radius: 4px; margin: 0 5px;}
.btn_group a.btn_cancel{background-color: #DEDEDE; color: #666;}
.btn_group a.btn_sure{background-color: #3C6DF0; color: #fff;}

/*渐变 background:linear-gradient(rgba(0,0,0,.49) 50%,rgba(0,0,0,01) 100%) */
.bg_black{height: 30px; position: absolute; left: 0; right: 0; bottom: 60px; pointer-events: none;
background: -moz-linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,.8) 100%); 
background: -webkit-linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,.8) 100%); 
background: -o-linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,.8) 100%); 
background: -ms-linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,.8) 100%); 
background:linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,.8) 100%); z-index: 9;}


.top_box{width: 100%; height: 480px;  background: no-repeat center; background-size: auto 480px; }
.user_box{width: 1200px; margin: auto; position: relative;box-sizing: border-box; padding-top: 70px}
.user_box .change_bg{display: block; width: 100px; height: 34px; background: #fff; border-radius: 3px; font-size: 14px; color: #999; text-align: center; line-height: 34px; position: absolute; top: 40px; right: 0;}
.user_box .change_bg img{vertical-align: middle; margin-bottom: 2px; margin-right: 4px;}
.user_box  .headimg{width: 120px; height: 120px; border: solid 3px #fff; border-radius: 50%; margin: auto; position: relative; background-color: #fff;}
.user_box  .headimg a{display: block; height: 120px; }
.user_box  .headimg a img{width: 100%; height: 100%; border-radius: 50%; object-fit: cover;}
.user_box  .headimg .vip_tips {position: absolute; bottom: -8px;  left: 0; right: 0; text-align: center;}

.user_box  .username{text-align: center; font-size: 22px; color: #fff; margin-top: 32px;}

.btns_group {text-align: center;}
.btns_group i{display: inline-block; width: 18px; height: 18px;background: url(../images/user/care.png) no-repeat center; background-size: cover;margin-right: 5px; margin-bottom: 4px ; vertical-align: middle;}
.btns_group .chat_btn i{background-image: url(../images/user/IM.png); text-align: center;}
.btns_group a{display: inline-block; width: 122px; height: 36px; border-radius: 18px; margin: 8px; margin-top: 20px; font-size: 16px; line-height: 36px;}
.btns_group a.chat_btn{background: #fff; color: #4682FF;}
.btns_group a.care_btn{color: #fff;background:linear-gradient(268deg,rgba(87,133,255,1) 0%,rgba(60,109,240,1) 100%);}
.user_re{text-align: center; margin-top: 20px;}
.user_re a{color: #fff; margin: 0 52px; display: inline-block; }
.user_re h4{font-size: 24px; font-weight: bold;}
.user_re p{font-size: 14px;}

/* #leave_message {display: none;} */
/**/
.bg_img{width: 100%; height: 480px; position: absolute; top: 0; left: 0 ;right: 0; bottom: 0; background: #ccc}
.bg_img img{width: 100; height: 100%;}
.top_box{position: relative;}
.nav_box{position: relative;}

/* 顶部 */
.top_box.top1{background-color:#222229; background-image:url(../images/user/top1.png);}
.top_box.top2{background-color:#1D2635; background-image:url(../images/user/top2.png);}
.top_box.top3{background-color: #DBC2B3; background-image:url(../images/user/top3.png);}
.top_box.top4{background-color:#7BBAE5; background-image:url(../images/user/top4.png);}
.top_box.top5{background-color:#090909; background-image:url(../images/user/top5.png);}
.top_box.top6{background-color:#21242A; background-image:url(../images/user/top6.png);}
.top_box.top7{background-color:#BED8E5; background-image:url(../images/user/top7.png);}
.top_box.top8{background-color:#252A3E; background-image:url(../images/user/top8.png);}
.top_box.top9{background-color:#332F1F; background-image:url(../images/user/top9.png);}
.top_box.top10{background-color:#CDAA86; background-image:url(../images/user/top10.png);}
.top_box.top11{background-color:#141F2C; background-image:url(../images/user/top11.png);}
.top_box.top12{background-color:#9ABFDF; background-image:url(../images/user/top12.png);}
.top_box.top13{background-color:#3A1F1B; background-image:url(../images/user/top13.png);}
.top_box.top14{background-color:#D8DFB5; background-image:url(../images/user/top14.png);}
.top_box.top15{background-color:#463569; background-image:url(../images/user/top15.png);} 
.top_box.top16{background-color:#EDE2E0; background-image:url(../images/user/top16.png);}
.top_box.top17{background-color:#4F3C2B; background-image:url(../images/user/top17.png);}
.top_box.top18{background-color:#DDDDDE; background-image:url(../images/user/top18.png);}
.top_box.top19{background-color:#5E7AA1; background-image:url(../images/user/top19.png);}
.top_box.top20{background-color:#200D13; background-image:url(../images/user/top20.png);}
.top_box.top21{background-color:#21335D; background-image:url(../images/user/top21.png);}
.top_box.top22{background-color:#748477; background-image:url(../images/user/top22.png);}
.top_box.top23{background-color:#89B2CC; background-image:url(../images/user/top23.png);}
.top_box.top24{background-color:#5A9CD6; background-image:url(../images/user/top24.png);}
.top_box.top25{background-color:#030304; background-image:url(../images/user/top25.png);}
.top_box.top26{background-color:#FAF1F1; background-image:url(../images/user/top26.png);}
.top_box.top27{background-color:#18181A; background-image:url(../images/user/top27.png);}
.top_box.top28{background-color:#D7AFD4; background-image:url(../images/user/top28.png);}
.top_box.top29{background-color:#0D0905; background-image:url(../images/user/top29.png);}
.top_box.top30{background-color:#99D5B1; background-image:url(../images/user/top30.png);}
.top_box.top31{background-color:#D4BEB1; background-image:url(../images/user/top31.png);}
.top_box.top32{background-color:#1C1C1C; background-image:url(../images/user/top32.png);}
.top_box.top33{background-color:#2E5E96; background-image:url(../images/user/top33.png);}
.top_box.top34{background-color:#EBEBEB; background-image:url(../images/user/top34.png);}

body,html{background: #f2f2f2; min-height: 100%;}
.topInfo{margin-bottom: 0;}


/* 禁止滚动 */
html.noscroll,html.noscroll body {overflow: hidden;}
html.noscroll body {position: relative;}
@keyframes xuanzhuan{
	0%{transform: rotate(0deg);}
	50%{transform: rotate(180deg);}
	100%{transform: rotate(360deg);}
}

