/*首页背景色*/
html,body{background-color: #F5F5F7;}
#navBox_4{z-index: 100002}
.fabu-top{background: #EDF5FF;padding: .14rem .24rem .14rem .2rem;overflow: hidden;}
.fabu-top .close{display: inline-block;width: .3rem;height: .3rem;background:url(../images/close.png) no-repeat center center;background-size:.3rem;margin-right: .15rem;    vertical-align: middle;margin-top: .08rem;}
.fabu-top span{font-size: .24rem;color: #1F7EF2;vertical-align: middle;margin-top: .08rem;display: inline-block;}
.fabu-top a{display: inline-block;float: right;height: .52rem;box-shadow:0px 3px 11px 0px rgba(0,11,33,0.06);
border-radius:.26rem;padding: 0 .25rem;background: #fff;font-size: .24rem;color: #1F7EF2;line-height: .52rem}

.container{padding: .3rem;background: #fff;}
.info1{box-shadow:0px 7px 37px 0px rgba(0, 0, 0, 0.1);border-radius:.3rem;padding: .34rem;position: relative;z-index: 100000;}
.info1 .con_top{font-size: 0;margin-bottom: .3rem;}
.info1 .timeInfo .car-type{display: inline-block;height: .36rem;line-height: .38rem;border-radius: .08rem;padding: 0 .1rem;font-size: .22rem;color: #fff!important;font-weight: bold;    vertical-align: middle;margin-right: .23rem;margin-top: -.12rem}
.info1 .timeInfo .car-type.car{background:linear-gradient(90deg,rgba(68,115,255,1) 0%,rgba(66,133,255,1) 100%);}
.info1 .timeInfo .car-type.truck{background:linear-gradient(90deg,rgba(0,200,132,1) 0%,rgba(36,194,129,1) 100%);}
.info1 h2.liTitle{display: inline;font-size: .48rem;font-weight: bold;color: #282B3B;margin-left: .2rem}
.info1 h2.liTitle s{display: inline-block;width: .48rem;height: .4rem;background:url(../images/placeFan.png) no-repeat center center;background-size:.48rem .4rem;margin-left: .13rem;margin-right: .13rem;vertical-align: middle;    margin-top: -.02rem;}
.info1 .con_bot{margin-bottom: .4rem}
.info1 .con_bot>div{position: relative;padding-left: .27rem}
.info1 .con_bot p{font-size: .44rem;color: #282B3B;position: relative;font-weight: bold;}
.info1 .con_bot p:before{content: '';display: inline-block;width: .12rem;height: .12rem;border-radius: .06rem;background: #1AC72A;position: absolute;z-index: 2;left: -.27rem;top: .22rem;}
.info1 .con_bot div.end p:before{content: '';background: #FF523B;}
.info1 .con_bot div.start p{padding-bottom:  .2rem;}
.info1 .con_bot div.start:before{content: '';height: 100%;border-left: .02rem dashed #D7D8DE;position: absolute;top: .22rem;display: inline-block;left: .05rem;}
.info1 .con_bot.con_bot2 div.start p{padding-bottom: .05rem}
.info1 .con_bot.con_bot2 div.end p{padding-bottom: .05rem}
.info1 .con_bot2 div span{display: block;font-size: .24rem;color: #6F7280;}
.info1 .con_bot2 div.start span{padding-bottom: .25rem}
.info1 .timeInfo{font-size: 0}
.info1 .timeInfo span{display: inline-block;font-size: .22rem;color: #9FA1AB;line-height: 1}
.info1 .timeInfo span.sTime{padding-right: .25rem;}
.info1 .timeInfo span.sClick{padding-left: .25rem;border-left: 1px solid #DCDCDE;}
.info2{margin-top: .34rem}
.info2 span{display: inline-block;height: .42rem;background: #F0F1F7;border-radius: .04rem;line-height: .42rem;padding: 0 .16rem;margin-right: .12rem;font-size: .24rem;color: #8990B3}
.info3{padding-top: .2rem}
.info3 dl{margin-top: .2rem;overflow: hidden;}
.info3 dt,.info3 dd{vertical-align: top}
.info3 dt{font-size: .28rem;color: #9FA1AB;width: 1.57rem;float: left;}
.info3 dd{font-size: .28rem;color: #232633;margin-left: 1.6rem}
.info3 dd strong{font-family:DLRG;margin-right: .15rem }

/*举报*/
.reportBox{padding:.08rem .16rem .12rem .27rem;position: relative;width: 100%;background:#F7F8FC;border-radius:.16rem;box-sizing: border-box;margin-top: .43rem}
.reportBox .releft{float: left;width: 83%;padding-top: .16rem}
.reportBox .releft p:first-child{font-size: .26rem;color:#5B71AB;margin-bottom: .07rem;}
.reportBox .releft p:nth-child(2){font-size: .22rem;color:#A6A7AB;white-space: nowrap;overflow: hidden;}
.reportBox .releft p span{display: inline-block;width: 1.34rem;height: .4rem;line-height:.4rem;border:1px solid rgba(91,113,171,1);border-radius:20px;padding-left: .2rem;margin-left: .06rem;}
.reportBox .reright{float: right;width: 1rem;}
.reportBox .reright.HN_Jubao,.JubaoBox.show{display:block;}
.reportBox .reright img{width: 1rem;}

/*举报框*/
.jubao{width: 6rem; height: 7.4rem; border-radius: .3rem; background-color: #fff; position: fixed; left: 50%; top: 50%; margin-left: -3rem; margin-top: -3.7rem;display: none;z-index: 1000000;-webkit-animation: bottomFadeIn .3s ease-out; -moz-animation: bottomFadeIn .3s ease-out; animation: bottomFadeIn .3s ease-out;}
.jubao_detail{padding: .72rem .5rem .5rem .5rem;}
.jubao h4{font-size: .26rem;color: #2A2A2B; font-weight: normal;margin-bottom: .1rem; }
.jubao h4 em{font-weight: bold; margin: 0 .1rem;}
.jubao_title{font-size: .28rem; color: #2A2A2B; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.jubap_type,.contact{border:none; }
.contact input,.jubap_type input{border: none; font-size: .28rem;     padding: 0 .24rem; background: #F5F5F7;height: .8rem;border-radius: .16rem; box-sizing: border-box; width: 100% }
.contact input::placeholder,.jubao_content dd textarea::placeholder,.jubap_type input::placeholder{color: #BBBCC4;  }
.contact{margin-top: .3rem;}
.jubap_type{margin-top: .3rem; position: relative;}
.jubap_type:after{content:''; display: block; width: .3rem; height: .3rem; background: url(../images/jubao_down.png) no-repeat center ; background-size: .3rem; position: absolute; right: .2rem; top: .26rem;}
.jubao_content{margin-top: .4rem;}
.jubao_content dt{font-size: .22rem; color: #BEBFC4; line-height: .42rem; border-bottom: solid 1px #f5f5f7;}
.jubao_content dd textarea{border: none; font-size: .28rem; line-height: .38rem; width: 100%; resize: none; height: 1.04rem;}
.jubao_content dd{padding: .2rem 0; /*margin-bottom: .2rem;*/ }
.jubao .sub{width: 2rem; height: .88rem; display: block; color: #fff; border-radius: .44rem; border: none; margin: auto; font-size: .3rem;
background:#3478FF;}
/*错误信息*/
.JuError{color: #fff; background: #000; border-radius: .1rem; width: 3rem; position: fixed; z-index: 1000000; top: 50%; padding: .1rem .2rem; text-align: center; left: 50%; margin-left: -1.7rem; display: none; font-size: .25rem;}

/*遮罩层*/
.JuMask{position: fixed;top: 0;position: fixed;background: rgba(0,0,0,.4);top: 0;bottom: 0;left: 0;right: 0;z-index: 100002;display: none;}
.JuMask.show{display: block;}

.chosebox{ border-radius: .16rem; position: relative; border: solid 1px #f5f5f7; height: 2.5rem; padding-bottom: .2rem;position: absolute; top: .92rem; background-color: #fff; left: 0;box-shadow:0 .03rem .11rem 0 rgba(17,24,57,0.11); width: 100%; display: none; animation: .3s topFadeIn ease-in-out;box-sizing: border-box;}
.show{display: block;}
.chose_ul{height: 2.5rem;  display: block; width: 100%;  overflow: auto;  }
.chosebox:after{content: ''; display: block; height: .5rem;position: absolute; bottom:-.03rem; left: 0; right: 0; width: 100%; z-index: 9; pointer-events: none;
background: -webkit-linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Safari 5.1 - 6.0 */
background: -o-linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.1 - 12.0 */
background: -moz-linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Firefox 3.6 - 15 */
background:linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)
}
.chose_ul li{margin-top: .3rem; font-size: .28rem; color: #2A2A2B; padding-left: .3rem; line-height: 1.1em;}
.chose_ul li:last-child{padding-bottom: .4rem}
.jubao .close_btn{width: .5rem; height: .5rem; background: url(../images/jubao_close.png) center no-repeat; background-size: .5rem; position: absolute; right: .28rem; top: .18rem;}
.comm_loading img{width: 2rem; display: block; margin: auto;}
.comm_loading{font-size: .22rem; color: #747578; text-align: center; padding-top: 1rem; padding-bottom: 1rem;}

/*备注*/
.note{background: #fff;padding: 0 .24rem 2rem;margin-top: .2rem}
.note h3{height: 1rem;line-height: 1rem;border-bottom: 1px solid #f5f5f7;font-size: .28rem;color: #9FA1AB}
.note .content{padding: .35rem .08rem;}
.note p{font-size: .28rem;color: #232633;line-height: .48rem;}
.note .imgList{margin-top: .4rem;}
.note .imgList .img{width: 2.2rem;height: 2.2rem;margin-right: .13rem;float: left;overflow: hidden;}
.note .imgList .img img{width: 100%;height: 100%;object-fit: cover;border-radius:.12rem .1rem .1rem .1rem;display: block;}
.note .imgList .img:nth-child(3n){margin-right: 0}
.note .content .emptyNote{text-align: center;color:#A6A7AB;font-size:.26rem;}
/*底部*/
.foot_bottom{width: 100%;background: #fff;position: fixed;bottom: 0;left: 0;right: 0;padding: .24rem;box-sizing: border-box;z-index: 10;padding-bottom: calc(.24rem + constant(safe-area-inset-bottom));
  padding-bottom: calc(.24rem + env(safe-area-inset-bottom));box-shadow:0px -7px 23px 0px rgba(0, 0, 0, 0.05);}
.foot_bottom .f_left{ float: left;margin-left: .25rem;padding-top: .07rem;}
.foot_bottom .f_left .scBox{color: #303133;font-size: .22rem;}
.foot_bottom .f_left .scBox s{display: block;width: .4rem;height: .4rem;background: url("../images/sc_01.png") no-repeat;background-size: .4rem;margin: 0 auto;}
.foot_bottom .f_left .scBox.active s{display: block;width: .4rem;height: .4rem;background: url("../images/sc_02.png") no-repeat;background-size: .4rem;margin: 0 auto;}

.foot_bottom .f_right{ display: flex;float: right;}
.foot_bottom .f_right .r-item{width: 2.8rem;box-sizing: border-box;border:.02rem solid #588FFC;border-radius: .4rem;height: .8rem;line-height: .8rem;text-align: center;font-size: .3rem;font-weight: bold;}
.foot_bottom .f_right a{color: #1B65F7;}
.foot_bottom .f_right .fbuy{background:#3478FF;color: #fff;margin-left: .22rem}
.foot_bottom .f_right .fbuy a{color: #fff;}

@font-face {
  font-family: "DLRG";
  src: url("/static/fonts/DINMittelschriftStd.ttf"),
       url("/static/fonts/DINMittelschriftStd.eot"),
       url("/static/fonts/DINMittelschriftStd.otf");
}

/*错误提示*/
.error{position: fixed;  background-color: rgba(0,0,0,.87); border-radius: .2rem; color: #fff; font-size: .26rem;height: 1rem; line-height: 1rem; text-align: center; padding: 0 .5rem; z-index: 1000000; left: 50%; top: 50%; margin-top: -.5rem;transform: translate(-50%,-50%);white-space: nowrap;display: none;}