/*首页背景色*/
html,body{background-color: #F2F3F5;min-height: 100%}
body{min-height: 100%;height: 100%}
.areachose{font-size: .28rem;color: #fff;position: absolute;top: 1.58rem;z-index: 2;left: .56rem}
.areachose s{display: inline-block;width: .36rem;height: .36rem;background:url(../images/pos.png) no-repeat center center;background-size: .36rem;margin-right: .04rem;vertical-align: middle;margin-top: -.08rem}
.header{position: fixed;top: 0;left: 0;right: 0;}
/*头部幻灯片部分*/
.banner{background-color: #fff;position: relative;padding-top: .9rem;min-height: .45rem}
.advPlaceholder .apCon{background-color: #fff!important;}
.huoniao_iOS .banner{padding-top: 0}
.banner .wrapper {position: relative;}
.banner .wrapper .swiper-container {color: #fff;text-align: center;}
.banner .wrapper .swiper-container .slideshow-item {-webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative;}
.banner .wrapper .swiper-wrapper img {display: block;}
.banner .wrapper .swiper-wrapper .slideinfo {display: none;}
.banner .wrapper .pag_wrap {position: absolute;z-index: 20;left: 0;bottom: .6rem;width: 100%;}
.banner .wrapper .pag_wrap .pagination{display: inline-block;height: .06rem;border-radius: .03rem;overflow: hidden;background: rgba(255,255,255,.5);}
.banner .wrapper .swiper-pagination-bullet{width: .2rem;height: .06rem;background: #fff;opacity: .5; border-radius: 0;    opacity: 0;    display: inline-block;vertical-align: top;}
.banner .wrapper .swiper-pagination-bullet-active{border-radius: .03rem;background: #fff!important;opacity: 1!important;}
/*内容*/
.main_wrap{ position: relative; padding-top: .85rem;}
.tab {position: absolute;top: -.45rem;z-index: 2;left: 0;right: 0;}
.tab ul{box-shadow:0px -13px 23px 0px rgba(0, 0, 0, 0.13);    border-radius: .5rem .5rem 0 0;background: #3173F7;}
.tab ul li{width:50%;text-align: center;float: left; height: 1.3rem;position: relative;color: #7A8599;}
.tab ul:before{content: '';width: 100%;height: 1.3rem;background:url(../images/li_bg2.png) no-repeat center center;background-size: 100% 1.3rem;position: absolute;top: 0;left: 0;border-radius:.5rem .5rem 0px 0px;overflow: hidden;transform: rotateY(0deg);}
.tab ul.on:before{content: '';position: absolute;top: 0;right: 0; left:auto;   transform: rotateY(180deg);}
.tab ul li strong{font-size: .36rem;display: block;position: relative;padding-top: .28rem}
.tab ul li p{font-size: .24rem;color: #5E6A82;position: relative;}
.tab ul li.active strong{color: #fff}
.tab ul li.active p{color: #A1BAFF}
.container_wrap{   position: relative;z-index: 3}
.c_top.ownerCon{display: none}
.content{background: #3173F7;padding: .4rem .24rem .92rem;position: relative;}

.content:after{content: "";position: absolute;height:1.6rem;background-image: -moz-linear-gradient( 90deg, rgba(49,115,247,0) 0%, rgb(49,115,247) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgba(49,115,247,0) 0%, rgb(49,115,247) 100%);
  background-image: -ms-linear-gradient( 90deg, rgba(49,115,247,0) 0%, rgb(49,115,247) 100%);bottom: -1.6rem;left: 0;right: 0}
.c_top>div{font-size: 0;float: left;}
.c_top>div.carPub{margin-left: .8rem}
.c_top>div.carPub.specialPub{margin-left: 0;float: right}
.c_top span{font-size: .24rem;color: #A1BAFF;display: inline-block;}
.c_top em{font-size: .24rem;color: rgba(255,255,255,.3);display: inline-block;margin-left: .1rem;margin-right: .1rem}
.c_top span.checked{font-size: .3rem;color: #fff;font-weight: bold;}
.c_top span.checked:before{content: '';width: .3rem;height: .3rem;background:url(../images/checked.png) no-repeat center center;background-size: .3rem;display: inline-block;vertical-align: middle;
    margin-top: -.03rem;margin-right: .05rem}

.c_bot{box-shadow:0px 3px 23px 0px rgba(17,24,57,0.1);border-radius:.16rem;background: #fff;font-size: 0;height: .98rem;line-height: .98rem;margin-top: .3rem;}

.c_bot input{display: inline-block;-webkit-appearance:none;background: none;border: none;font-size: .28rem;color: #333;box-sizing: border-box;padding-top: .32rem; -webkit-transform: translateZ(0);transform: translateZ(0);-webkit-transition: .3s;-o-transition: .3s;transition: .3s;}
.c_bot input.startPlace{width: 2.55rem;padding-left: .37rem;float: left;}
.c_bot input.endPlace{width: 2.6rem;padding-left: .33rem;float: right}
.c_bot input::-webkit-input-placeholder {/* Chrome/Opera/Safari */color: #BBBCC4;}
.c_bot input::-moz-placeholder {/* Firefox 19+ */color: #BBBCC4;}
.c_bot input:-ms-input-placeholder {/* IE 10+ */color: #BBBCC4;}
.c_bot input:-moz-placeholder {/* Firefox 18- */color: #BBBCC4;}
.c_bot em.changecity{width: .4rem;height: .4rem;position: absolute;top: 50%;margin: 0 auto;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);text-align: center;-webkit-box-sizing: border-box;box-sizing: border-box;z-index: 1;left: 0;right: 0}
.c_bot em.changecity s{display: block;width: 100%;height: 100%;background:url(../images/fan.png) no-repeat center center;background-size: .4rem;}
.c_bot span{font-size: .3rem;float: right;padding: 0 .46rem 0 .36rem;position: relative; }
.c_bot span:before{content: '';width: .02rem;height: .28rem;background: #D9DADE;position: absolute;left: 0;top: 50%;margin-top: -.14rem;}

.c_bot .choose {color: rgba(51, 51, 51, .9)}
.c_bot .left_move {opacity: 0 !important;-webkit-transform: translate3d(80%, 0, 0) !important;transform: translate3d(80%, 0, 0) !important}
.c_bot .right_move {opacity: 0 !important;-webkit-transform: translate3d(-80%, 0, 0) !important;transform: translate3d(-80%, 0, 0) !important}
.c_bot .city-wrap{margin-right: 1.43rem;position: relative;height: .98rem;overflow: hidden;}
.c_bot .changecity .transform {-webkit-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;-webkit-transform: rotate(1turn);-ms-transform: rotate(1turn);transform: rotate(1turn)}
/*列表*/
.container{background: #F2F3F5}
.list .infoNum{font-size: .24rem;color: #BACCFF}
.list{padding-bottom: 1.4rem}


/*列表占位*/
.list li.pl_h{  background-color: #f2f4f7;height: 2.52rem;    display: flex;align-items: center;}

