/*首页背景色*/
html,body{background-color: #F2F3F5;}
.header{position: fixed;top: 0;left: 0;right: 0;}
.list-container{padding-top:2.5rem }
.list-container .list{margin-top: 0}
.huoniao_iOS .list-container{padding-top:1.6rem;}
.list ul{margin-top: .24rem;}
.list li.pl_h{  height: 2.52rem;    display: flex;align-items: center;}