/*列表样式*/
.list{padding: 0 .24rem .5rem;margin-top: -.6rem;position: relative;}
.list ul{margin-top: .13rem;}
.list li{background: #fff;box-shadow:0px 3px 15px 0px rgba(43,47,67,0.03);border-radius:.16rem;padding: 0 .2rem;margin-bottom: .24rem}
.list li .li_top{font-size: 0;padding-top: .28rem;}
.list li .car-type{display: inline-block;height: .34rem;line-height: .36rem;border-radius: .08rem;padding: 0 .1rem;font-size: .22rem;color: #fff;font-weight: bold;    vertical-align: top;
    margin-top: .06rem;}
.list li .car-type.car{background:linear-gradient(90deg,rgba(68,115,255,1) 0%,rgba(66,133,255,1) 100%);}
.list li .car-type.truck{background:linear-gradient(90deg,rgba(0,200,132,1) 0%,rgba(36,194,129,1) 100%);}
.list li h2.liTitle{display: inline;font-size: .32rem;color: #1A1B21;margin-left: .2rem;}
.list li h2.liTitle s{display: inline-block;width: .48rem;height: .4rem;background:url(../images/placeFan.png) no-repeat center center;background-size:.48rem .4rem;margin-left: .13rem;margin-right: .13rem;vertical-align: middle;    margin-top: -.02rem;}
.list li em.topFlag{display: inline-block;background:linear-gradient(90deg,rgba(255,228,161,1) 0%,rgba(255,217,135,1) 100%);
border-radius:.18rem .15rem .15rem .02rem;height: .3rem;line-height: .32rem;font-size: .18rem;color: #8E5E26;font-weight: bold;margin-left: .09rem;padding: 0 .13rem;vertical-align: top;
    margin-top: .09rem;}
.list li em.routeFlag{display: inline-block;background: #EDF5FF;height: .32rem;line-height: .34rem;border-radius: .04rem;padding: 0 .06rem;font-size: .22rem;color: #1F7EF2;margin-left: .1rem;vertical-align: top;
    margin-top: .08rem;}
.top_con{padding-bottom: .28rem;display:block;}
.list li .startTime{margin-top: .16rem;}
.list li .startTime strong.startDay{font-size: .28rem;color: #47484D;font-family: DLRG;margin-right: .2rem}
.list li .startTime strong.startdayDay{font-size: .26rem;color: #58595E;margin-right: .13rem}
.list li .startTime span.startWeek{font-size: .28rem;color: #303133;}
.list li .startTime span.pubTime{float: right;font-size: .22rem;color: #B7B9C4;margin-top: .08rem;}
.list li .startNote{margin-top: .15rem;font-size: .24rem;color: #303133}
.list li .startNote span{display: inline-block;max-width: 3.7rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;vertical-align: middle;margin-top:-.05rem;}
.list li .startTime:before,.list li .carInfo:before,.list li .startNote:before {content: '';display: inline-block;width: .08rem;height: .08rem;border-radius: 50%;background: #D2D3D9;margin-right: .25rem}
.list li .startTime:before,.list li .startNote:before{vertical-align: middle;margin-top: -.05rem}
.list li .carInfo:before{margin-right: .18rem;vertical-align: middle;margin-top: -.15rem}
.list li .carInfo {height: .6rem;font-size: 0;border-top: 1px solid #f5f5f7;padding: .2rem 0}
.list li .carInfo .car-info{display: inline-block;padding-top: .1rem}
.list li .carInfo .car-info span{display: inline-block;height: .4rem;line-height: .4rem;font-size: .24rem;color: #8990B3;background: #F0F1F7;border-radius: .04rem;margin-right: .1rem;padding: 0 .14rem}
.list li .carInfo .call{float: right;background:linear-gradient(90deg,rgba(64,127,255,1) 0%,rgba(51,119,255,1) 100%);
border-radius:.3rem;height: .6rem;line-height: .6rem;color: #fff;font-size: .24rem;font-weight: bold; padding: 0 .32rem;border:none;}
/*头部表单*/
.huoniao_iOS .topForm{top:0;}
.topForm{position: fixed;top: .89rem;left: 0;right: 0;z-index: 99;display: none}
.placeTop{padding:  .04rem .3rem;position: relative;background: #fff;z-index: 3;overflow: hidden;}
.placeTop .inp{border-radius:.3rem;background: #F5F6FA;font-size: 0;height: .6rem;line-height: .6rem;position: relative;overflow: hidden;}
.placeTop input{-webkit-appearance:none;background: none;border: none;font-size: .24rem;color: #333;box-sizing: border-box;padding-top: .16rem;width: 3.2rem;-webkit-transform: translateZ(0);transform: translateZ(0);-webkit-transition: .3s;-o-transition: .3s;transition: .3s;}
.placeTop input::-webkit-search-cancel-button{display: none;}
.placeTop input.startPlace{padding-left: .4rem;float: left;}
.placeTop input.endPlace{padding-left: .38rem;float: right}
.placeTop input::-webkit-input-placeholder {/* Chrome/Opera/Safari */color: #ADAFBA;}
.placeTop input::-moz-placeholder {/* Firefox 19+ */color: #ADAFBA;}
.placeTop input:-ms-input-placeholder {/* IE 10+ */color: #ADAFBA;}
.placeTop input:-moz-placeholder {/* Firefox 18- */color: #ADAFBA;}

.placeTop em.top-changecity{width: .4rem;height: .4rem;position: absolute;top: 50%;margin: 0 auto;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);text-align: center;-webkit-box-sizing: border-box;box-sizing: border-box;z-index: 1;left: 0;right: 0}
.placeTop em.top-changecity s{display: block;width: 100%;height: 100%;background:url(../images/fan.png) no-repeat center center;background-size: .4rem;}
.placeTop .choose {color: rgba(51, 51, 51, .9)}
.placeTop .left_move {opacity: 0 !important;-webkit-transform: translate3d(80%, 0, 0) !important;transform: translate3d(80%, 0, 0) !important}
.placeTop .right_move {opacity: 0 !important;-webkit-transform: translate3d(-80%, 0, 0) !important;transform: translate3d(-80%, 0, 0) !important}
.placeTop .top-changecity .transform {-webkit-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;-webkit-transform: rotate(1turn);-ms-transform: rotate(1turn);transform: rotate(1turn)}

/*筛选框*/
.choose-tab{box-shadow:0px 3px 13px 0px rgba(25,30,59,0.05);background: #fff;    position: relative;z-index: 2}
.choose-tab ul{height: .9rem;line-height: .9rem;display: flex;justify-content: space-between;align-items: center;padding: 0 .33rem 0 .45rem}
.choose-tab ul li{font-size: .28rem;color: #1A1B21}
.choose-tab ul li.curr{color: #3377FF;font-weight: bold;}
.choose-tab ul li.pubTime s{display: inline-block;width: .3rem;height: .3rem;background:url(../images/more-arr.png) no-repeat center center;background-size:.3rem;vertical-align: middle;margin-top: -.08rem;}
.time-wrap{background: #fff;border-radius:0px 0px .3rem .3rem;overflow: hidden;padding: 0 .3rem .4rem;    position: fixed;
    left: 0;
    right: 0;
    top: -100%;padding-top: 2.5rem}
.time-wrap li{height: 1.1rem;line-height: 1.1rem;border-bottom: 1px solid #f5f5f7;font-size: .28rem;color: #43444D;padding: 0 .2rem}
.time-wrap li.on{color: #1A1B21;font-weight: bold;}
.time-wrap li.on:after{content: '';display: inline-block;float: right;width: .4rem;height: .4rem;background:url(../images/on.png) no-repeat center center;background-size:.4rem;    margin-top: .35rem;}
.time-wrap .cancel{width: 100%;height: .76rem;line-height: .76rem;background: #EBECF2;border-radius: .38rem;font-size: .26rem;color: #313233;text-align: center;font-weight: bold;margin-top: .8rem}

.disk{height: 100%;width: 100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;bottom:0;z-index: 9;display: none;z-index: 98}
@font-face {
  font-family: "DLRG";
  src: url("/static/fonts/DINMittelschriftStd.ttf"),
       url("/static/fonts/DINMittelschriftStd.eot"),
       url("/static/fonts/DINMittelschriftStd.otf");
}
/*loading*/
.loading{width: 100%; height: .66rem; line-height: .66rem; text-align: center; border: 0;font-size: .24rem}

.gotop{position: fixed; bottom: 2.5rem; right: .3rem; width: 1rem; height: 1rem; z-index: 209; display: none;-webkit-animation: twinkling .3s ease-in-out;; -moz-animation: twinkling .3s ease-in-out;; animation: twinkling .3s ease-in-out;}
.gotop img{display: block; width: 100%; height: 100%; }

/* iPhoneX适配 */
.gotop{
  bottom: calc(2.5rem + constant(safe-area-inset-bottom));
  bottom: calc(2.5rem + env(safe-area-inset-bottom));
}