/*底部按钮组*/

.btn-group {width: 100%;  background: #fff; box-shadow:  0 -.02rem .08rem rgba(228,228,228,.6); position: relative;position: fixed; bottom: 0; text-align: right; display: flex; justify-content: space-between; padding:.2rem .24rem !important; box-sizing: border-box; height: 1.28rem; z-index: 99;}
.btn-group .btn{display: block;width: 55%; height: .88rem; border-radius: .04rem; color: #fff; font-size: .3rem; text-align: center; line-height: .88rem; /*margin-top: .16rem; margin-left: .1rem;*/ font-weight: bold;}
.share_btn{display: inline-block !important;
background: -webkit-linear-gradient(left, #0bf057 , #08d686); /* Safari 5.1 - 6.0 */
background: -o-linear-gradient(right, #0bf057 , #08d686); /* Opera 11.1 - 12.0 */
background: -moz-linear-gradient(right, #0bf057 , #08d686); /* Firefox 3.6 - 15 */
background: linear-gradient(to right, #0bf057 , #08d686); /* 标准的语法 */}
.share_btn:before{content: ''; display: inline-block; width: .28rem; height: .28rem; background-image: url(../images/share_02.png); background-size: contain; background-repeat: no-repeat;margin-right: .18rem; vertical-align: middle; }
.contact_btn{/* margin-right: .24rem;*/
background: -webkit-linear-gradient(left, #ffaa23 , #f67210); /* Safari 5.1 - 6.0 */
background: -o-linear-gradient(right, #ffaa23 , #f67210); /* Opera 11.1 - 12.0 */
background: -moz-linear-gradient(right, #ffaa23 , #f67210); /* Firefox 3.6 - 15 */
background: linear-gradient(to right, #ffaa23 , #f67210); /* 标准的语法 */}
/*.contact_btn:before{content: ''; display: inline-block; width: .28rem; height: .28rem; background-image: url(../images/phone_02.png); background-size: contain; background-repeat: no-repeat; margin-right: .18rem; vertical-align: middle; }
*/
.soucan{ font-size: .24rem; text-align: center; width: 11%;}
.soucan:before{content: ''; display: block; width:.4rem ; height: .4rem; background-image: url(../images/like.png); background-size: contain; background-repeat: no-repeat; margin: auto;}
.soucan,.tel_btn,.shop_btn{ font-size: .22rem; text-align: center; text-align: center; color: #333; width: 12%;}
.soucan:before,.shop_btn:before{content: ''; display: block; width:.4rem ; height: .4rem; background-image: url(../images/like.png); background-size: contain; background-repeat: no-repeat; margin: auto; margin-bottom: .05rem; margin-top: .05rem;}
/*.soucan.curr{color: #f67210;}*/
.soucan.curr:before{background-image: url(../images/collection_02.png)}
.btn-group .tel_btn:before{content: ''; display: block; width:.4rem ; height: .4rem;  background-size: contain; background-repeat: no-repeat; margin: auto; margin-bottom: .05rem;background-image: url(../images/tel_icon.png) !important; margin-top: .05rem;}
.btn-group .shop_btn:before{background-image: url(../images/store.png) !important;}

.near_attr{padding-bottom: 1.35rem;} 