body,html{background-color:#f5f5f5}

.blackFix{position: fixed;top:.9rem;left:0;right:0;z-index: 0;background: #fff;height: 1rem;display: none;    box-shadow: 0 0.03rem 0.13rem 0 rgba(0, 0, 0, 0.05);}
.huoniao_iOS .blackFix{top: 0}
.blackFix.show{z-index: 100;display: block;}
.blackFix .good_tab{display: none;height: 1rem;}
.blackFix .good_tab.active{display: block;}
.huoniao_iOS .search-form{padding-top: .2rem}
.soutu{height: 1rem;line-height: 1rem;background: rgba(0,0,0,0.87);border-radius: .3rem;padding: 0 .45rem 0 .33rem;position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);z-index: 1001;font-size: .24rem;color: #fff;display: none;}
.soutu i{display: inline-block;width: .6rem;height: .6rem;background: url('../images/soutu.png') no-repeat center;background-size:.6rem;margin-top: .2rem}
.soutu span{display: inline-block;vertical-align: top;margin-left: .08rem;}
.main_wrap{position: relative;z-index: 99;background: #fff;margin-top: 2.85rem;padding-top: .8rem}
.banner_wrap{margin-bottom: .22rem}
.banner_wrap .fixImg{width: 100%;height:5.12rem; position: fixed;top: 0;}
.banner_wrap .fixImg img{width: 100%;height:5.12rem;}
.banner_wrap .header .header-search,.banner_wrap .header-l{display: flex;align-items: center;}
.banner_wrap .header .header-search a{width: .28rem;height: .32rem;background: url('../images/header_down.png') no-repeat center;background-size:.28rem .32rem;}
.banner_wrap .header-l a{width: .2rem;height: .36rem;background: url('../images/header_l.png') no-repeat center;background-size:.2rem .36rem;}
.banner_wrap .header .header-address{color: #fff;font-weight: bold;font-size: .36rem}

/*头部幻灯片部分*/
.banner{position: absolute;left: 0;right: 0;z-index: 100}
.banner .wrapper {position: relative;}
.banner .wrapper .swiper-container {color: #fff;text-align: center;padding-bottom:.8rem;overflow: hidden;padding-top: .35rem;}
.banner .wrapper .swiper-container .slideshow-item{transition: all .3s ease-in-out;-webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width:6.5rem;height:2.81rem;border-radius: .2rem;background-color: #f2f2f2;box-shadow:0px 6px 24px 0px rgba(106, 106, 106, 0.35);position: relative;overflow: hidden;margin-right: .2rem}
.banner .wrapper .swiper-slide-active{ transform: scale(1.1);}
.banner .wrapper .siteAdvObj{width: 100%;height: 100%}
.banner .wrapper .swiper-wrapper img {display: block;width: 100%;height: 100%;object-fit: cover;}
.banner .wrapper .swiper-wrapper .slideinfo {display: none;}
.banner .wrapper .pagination {position: absolute;z-index: 20;left: 0;bottom: .8rem;width: 100%;}
.banner .wrapper .swiper-pagination-bullet{opacity: 0.7;background: #fff;width: .3rem;height: .06rem;background: #fff;opacity:0.5;border-radius:0;transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;border-radius: .04rem}
.banner .wrapper .swiper-pagination-bullet-active{background: #fff!important;opacity: 1!important;}


.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 3px;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{text-align: center;}

/*头部搜索框的覆盖页面*/
.banner_wrap .header{position: fixed;top: 0;left: 0;right: 0;overflow: hidden;background: none !important;padding: 0 .3rem;z-index: 1000;}
.banner_wrap .header.fixed{background:url('../images/banner_bg.png') no-repeat center !important;background-size: 100% auto !important;}
.banner_wrap .header.fixed i.header-sou{display: block;}
.banner_wrap .header i.header-sou{position: absolute;top:.26rem;right: 1rem;width: .4rem;height: .4rem;background:url('../images/head-sou.png') no-repeat center;background-size:.4rem;display: none;}
.header-l a,.header-search a{width: .4rem;}
.dropnav em{right: -.12rem;top: -.1rem}


/* 搜索 */
.search-form {padding:.1rem .43rem;position: relative;padding-top: 1rem}
.search-form .sobj {height:.56rem;line-height:.56rem;}
.search-form .type {position:relative;text-align: center;float: left;}
.search-form .type a {display:block;font-size:0;color:#333;}
.search-form .type label {display:inline-block;vertical-align:middle;min-width:.5rem;max-width:1.8rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size: .28rem;color: #fff;}
.search-form .type s {display:inline-block;vertical-align:middle;   width: .32rem;height: .32rem;margin-top: 0;background:url('../images/type-arr2.png') no-repeat center;background-size:.32rem;}

.search-form .inp {position: relative;margin-left:1rem; }
.search-form .inp form {position:relative;display:block;color:#a0a0a0;}
.search-form .inp .form-div{background: #fff;border-radius:.28rem;height:.56rem;line-height:.56rem; width: 4.7rem;}
.search-form .inp input{width: 85%;height: .5rem;border: none;background: none;color: #333}
.search-form .inp input::-webkit-input-placeholder {/* Chrome/Opera/Safari */color: #ADAFBA;font-size: .24rem}
.search-form .inp input::-moz-placeholder {/* Firefox 19+ */color: #ADAFBA;font-size: .24rem}
.search-form .inp input:-ms-input-placeholder {/* IE 10+ */color: #ADAFBA;font-size: .24rem}
.search-form .inp input:-moz-placeholder {/* Firefox 18- */color: #ADAFBA;font-size: .24rem}
.search-form .inp s {position:relative;width:.21rem;height:.22rem;display:inline-block;vertical-align:middle;background:url('../images/inp_s.png') no-repeat center;background-size:.21rem .22rem;margin-left: .26rem;margin-top: -2px;margin-right: .1rem}
.search-form .inp #search {position:absolute;right:0;top:0;color:#fff;font-size:.3rem;font-weight: bold;}

.search-form .inp .inp_wrap{display: none;}
.search-form p.fake-input{font-size: .24rem;color: #ADAFBA;text-align: center;display: block;}
.search-form p.fake-input i{position:relative;width:.21rem;height:.22rem;display:inline-block;vertical-align:middle;background:url('../images/inp_s.png') no-repeat center;background-size:.21rem .22rem; margin-top: -2px;margin-right: .13rem}
.search-form .clear_inp{width: .4rem;height: .4rem;position: absolute;top: .08rem;right: 1.1rem;display: none}
.search-form .clear_inp img{width: .4rem;height: .4rem;}

/*新页面覆盖搜索*/
.search-form.search-fixForm .inp{margin-left: 0}
.search-form.search-fixForm .inp .inp_wrap{background: none;padding-left: .4rem;display: block;}
.search-form.search-fixForm  .clear_inp{top: .1rem;right: .1rem;}

.serach_cover{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: #fff;z-index: 1000; display: none; -webkit-animation: rightFadeIn .1s ease-out; -moz-animation: rightFadeIn .1s ease-out; animation: rightFadeIn .1s ease-out;}
.serach_cover.show{display: block;}
.serach_cover .search-fixForm{position: absolute;background: #fff!important;height: .6rem;top: 0;left: 0;right: 0;padding:.15rem .4rem .15rem .3rem;}
.serach_cover .search-fixForm .sobj{width: 5.9rem;background: #F5F6FA;height: .6rem;border-radius: .3rem;line-height: .6rem}
.cancel_serach{float: right;position: absolute;right: .4rem;top: .24rem;font-size: .3rem;color: #000;font-weight: bold;}

.sousuo{padding: .88rem .3rem 0;}
.serach_cover h2.ser-title{font-size: .26rem;color: #212121;font-weight: bold;margin-top: .62rem;margin-bottom: .25rem;padding-left: .07rem}
.serach_cover h2.ser-title i{display: inline-block;float: right;width: .4rem;height: .4rem;background: url('../images/del-histroy.png') no-repeat; background-size: .4rem; }
.serach_cover a{float: left;padding: 0 .37rem;height: .6rem;line-height: .6rem;border-radius: .3rem;background: #F5F6F8;margin-right: .2rem;margin-bottom: .18rem;}
.serach_cover a font{color: #49494D !important;}
.story-search{display: none;}
.hot-div{height: 1.5rem;overflow: hidden;}
.histroy-div{max-height: 1.5rem; overflow: hidden;}

/*头条资讯*/
.pubBox{background: #fff;box-shadow: 0 .03rem .11rem rgba(0,0,0,.09);padding:0 .15rem;}
.ttNews{padding:.24rem .28rem;border-top: 1px solid #f5f5f7;}
.ttNews .lBox,.pubBox .mBox{float: left;}
.ttNews .lBox{margin-right: .12rem; margin-top: .02rem}
.ttNews .lBox img{width: .8rem;}
.ttNews .mBox{width: 100%;}
.ttNews .mBox p{line-height:.5rem; font-size:.24rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.ttNews .mBox p a{color: #000}
.ttNews .mBox p span{color:#FF3B58;margin-right: .2rem;font-size: .22rem;border:solid 1px #FFC4CD;border-radius: .16rem;padding:0 .14rem;}
.ttNews .mBox .swiper-wrapper{height: .5rem;}
/*模块链接*/
.module ul{padding-bottom: .5rem;}
.module li{width: 25%;float: left;text-align: center;padding-top:.5rem;}
.module li a{display: block;}
.module li span.icon-circle{display: block;margin: 0 auto; padding-bottom: .2rem;}
.module li span.icon-txt{font-size: .28rem;}
.module li span img{display: block;width: 1rem;height: 1rem;margin: 0 auto;}


/*滑动导航*/
.pub_wrap{padding: 0 .2rem .06rem;}
.tcTop{padding-top: .1rem;position: relative;overflow: hidden;}
.tcInfo{position: relative;overflow: hidden;padding-bottom: .36rem}
.pub_wrap li{ margin-bottom: .4rem;}
.pub_wrap li{width: 20%;float: left;text-align: center;}
.pub_wrap li a{display: block;}
.pub_wrap li span.icon-circle{display: block;margin: 0 auto;padding-top: .1rem; padding-bottom: .18rem;}
.pub_wrap li span.icon-txt{font-size: .26rem;color: #333;}
.pub_wrap li span img{display: block;width: .9rem;height: .9rem;margin: 0 auto;}
.pub_wrap .tcInfo  li span img{width: .76rem;height: .76rem;}
.tcInfo .swiper-wrapper{height: auto !important;}
.tcInfo .pagination {height: .1rem;width: .48rem;margin: 0 auto;border-radius: .05rem;overflow: hidden;}
.tcInfo .swiper-pagination-bullet{width: .2rem;height: .1rem;background: #EFEFEF;opacity: 1;    vertical-align: top;margin: 0!important;border-radius: 0}
.tcInfo .swiper-pagination-bullet-active{background: #F6B80F!important;opacity: 1!important;border-radius: .05rem;width: .28rem;}

/*广告位*/
.advBox{width: 100%;height: 1.9rem;}
.advBox img{width: 100%;height: 1.9rem;}
/*优选活动*/
.com-title{font-size: .36rem;font-weight: bold;text-align: center;}
.com-title:before{content: '';display: inline-block;width: .4rem;height: .4rem;background: url('../images/title-bg.png') no-repeat; background-size: .4rem;margin-right: .17rem;vertical-align: middle;margin-top: -.04rem}
.com-title:after{content: '';display: inline-block;width: .4rem;height: .4rem;background: url('../images/title-bg.png') no-repeat; background-size: .4rem;margin-left: .16rem;vertical-align: middle;margin-top: -.04rem}

.activity{background: #fff;padding: .23rem .3rem 0;}
.advBox2 .siteAdvObj{width: 100%;height: 100%;}
.advBox2 li{width: 4rem;list-style: none;box-shadow:0px 8px 29px 0px rgba(0, 0, 0, 0.09);float: left;height: 1.58rem;box-sizing: border-box;border: 1px solid #eee;border-radius: .2rem;overflow: hidden;}
.advBox2 li a{width: 100%;height: 100%;display: block;}
.advBox2 li:nth-child(1){ width: 2.75rem;height:3.3rem ;  margin-right: .15rem;}
.advBox2 li:nth-child(2){margin-bottom: .14rem;}
.advBox2 img{display: block; width: 100%;height: 100%}
/*限时抢购*/
.qgou{padding: .38rem .3rem .2rem;background: #fff;}
.qgou .qiangBg{box-shadow:0px 8px 29px 0px rgba(206,206,206,0.5);border-radius:.3rem;}
.qgou .boxTitle{padding:.27rem .2rem .36rem .16rem;font-size: 0}
.qgou .boxTitle img{display: inline-block;width: 1.6rem;height: .4rem;}
.qgou .boxTitle .more-qg{float: right;margin-top: .02rem}
.qgou .boxTitle .more-qg span.qg-tip{font-size: .22rem;color: #999}

.qgou .boxTitle span.qgTime{display: inline-block;color:#FF4930;margin-left: .05rem;line-height: .32rem;border-radius: .1rem;font-size: .24rem;font-weight: bold;padding: 0 .08rem;vertical-align: top;margin-top: .04rem;border: 1px solid #FF4930}
.qgou .boxTitle .jsTime {display: inline-block;margin-left: .15rem;vertical-align: top;}
.qgou .boxTitle .jsTime span{float: left;width: .38rem;height: .36rem;line-height:.38rem;border-radius: .04rem;background-color: #434043;text-align: center;font-size: .24rem;color:#fff;font-weight: bold;font-family: coregtd}
.qgou .boxTitle .jsTime em{float: left;padding:0 .06rem;line-height: .36rem;font-size: .32rem;color: #494B56}

.qgou .boxCon{margin-left: .3rem;padding-bottom: .36rem }
.qgou .boxCon .loading{text-align: center}
.qgou .boxCon ul{white-space: nowrap;overflow: hidden;overflow-x:auto;font-size: 0;}
.qgou .boxCon ul::-webkit-scrollbar { display: none }
.qgou .boxCon .act{width: 2.6rem;margin-right: .3rem;display: inline-block;}
.qgou .boxCon .activity-pl_h{width: 2.6rem;height: 3.78rem;background: #f2f2f2;margin-right: .3rem}
.qgou .boxCon .act .qg_img{width: 2.6rem;height: 2.6rem;border-radius: .1rem;overflow: hidden;}
.qgou .boxCon .act .qg_img img{width: 100%;height: 100%;object-fit: cover;display: block;}
.qgou .act .qgInfo {padding-top: .16rem}
.qgou .act .qgInfo h3{font-size: .28rem;color: #333;font-weight: bold;overflow: hidden;width:2.43rem;white-space: pre-wrap;line-height: .32rem;white-space: nowrap;text-overflow: ellipsis;}
.qgou .act .qgInfo .qgPrice{margin-top: .05rem;width: 100%;overflow: hidden;text-overflow: ellipsis;}
.qgou .act .qgInfo .qgPrice span{color: #F72A34;font-size: .2rem;font-family: coregtd}
.qgou .act .qgInfo .qgPrice strong{font-size: .3rem}
.qgou .act .qgInfo .qgPrice del{font-size: .24rem;color: #A0A0A0;margin-left: .08rem}

.qgou .viewMore{height: 3.5rem;background:linear-gradient(-40deg,rgba(255,111,8,1) 0%,rgba(250,74,61,1) 100%);
border-radius:.2rem;overflow:hidden;color: #fff;text-align: center;}
.qgou .viewMore a{color: #fff;display: block;height: 100%}
.qgou .viewMore h2{font-size: .3rem;font-weight: bold;padding-top: 1rem}
.qgou .viewMore h3{font-size: .24rem;}
.qgou .viewMore p{font-size: .28rem;margin-top: 1rem}
.qgou .viewMore p span{display: inline-block;vertical-align: middle;line-height: .4rem}
.qgou .viewMore p i.viewIcon{display: inline-block;width: .4rem;height: .4rem;background:url(../images/viewIcon.png) no-repeat top;background-size: .4rem;margin-left: .1rem;vertical-align: middle;margin-top: .01rem}
.sec_wrap{background: #f5f5f5;padding-top: .2rem}
/*最新商家*/
.Newstore{background:url(../images/storebg.png) no-repeat top;background-size: 100% 3rem;border-radius: .4rem .4rem 0 0;position: relative;padding: .5rem .3rem .4rem}

.Newstore .NewTitle{text-align: center;position: relative;font-size: 0;padding-bottom: .26rem}
.Newstore .NewTitle h2.New-title{display: inline-block;color: #fff;font-size: .4rem;font-weight: bold;vertical-align: middle;}
.Newstore .NewTitle a{display: inline-block;width: .4rem;height: .4rem;background:url(../images/more-zd.png) no-repeat top;background-size: .4rem;margin-left: .1rem;margin-top: .02rem;vertical-align: middle;}
.Newstore li{background: #fff;margin-top: .2rem;border-radius: .16rem;box-shadow:0px 3px 21px 0px rgba(99,99,99,0.14);padding: .2rem;}
/*占位*/.Newstore li.store-pl_h{background: #f2f2f2;height: 2.4rem}
.Newstore li .s_img{width: 2rem;height: 2rem;overflow: hidden;border-radius: .1rem;float: left;}
.Newstore li .s_img img{width: 100%;height: 100%;object-fit: cover;display: block;}
.Newstore li .s_txt{margin-left: 2.24rem;height: 2rem;position: relative;overflow: hidden;}
.Newstore li .s_txt h2.s_title{font-size: .32rem;font-weight: bold;color: #333;width: 3.6rem;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;padding-top: .04rem;}
.Newstore li .s_txt .tuan{margin-top: .1rem}
.Newstore li .s_txt .star_span {position: relative;display: inline-block;background-image: url(../images/star_no.png);width: 1.3rem;height: .26rem;background-size: .26rem .26rem}
.Newstore li .s_txt .star_span em {position: absolute;display: inline-block;height: .26rem;background-image: url(../images/star_yes.png);background-size: .26rem .26rem}

.Newstore li .s_txt .star_no{font-size: .22rem;color: #A0A0A0;display: inline-block;vertical-align: top}
.Newstore li .s_txt .tuan_num.tuan_num2{margin-top: 0}
.Newstore li .s_txt .tuan_num{font-size: .22rem;color: #A0A0A0;margin-left: .14rem;display: inline-block;vertical-align: top;margin-top: -.03rem}
.Newstore li .s_txt .quan{background: #FFF1E8;border-radius: .04rem;height: .36rem;line-height: .36rem;font-size: .22rem;color: #FF7817;display: inline-block;padding-right: .17rem;margin-top: .16rem}
.Newstore li .s_txt .quan span{display: inline-block;font-size: .22rem;color: #fff;width: .36rem;background: #FF6F08;border-radius: .04rem;text-align: center;margin-right: .07rem;}
.Newstore li .s_txt .addr{overflow: hidden;position: absolute; bottom: .02rem;width: 100%;}
.Newstore li .s_txt .addr span{display: inline-block;font-size: .22rem;color: #666;max-width: 3rem;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.Newstore li .s_txt .addr em{float: right;font-size: .22rem;color: #A0A0A0;margin-top: .03rem}

/*火热拼团*/
.pintuan {background:url(../images/pintuanbg.png) no-repeat top;background-size: 100% 2.24rem;border-radius: .4rem .4rem 0 0;position: relative;padding: .3rem .3rem .4rem}
.pt-top h3{font-size: .4rem;font-weight: bold;color: #fff}
.pt-top p{font-size: .24rem;color: rgba(255,255,255,.7);margin-top: 0}
.pt-top .more-recom{display: inline-block;height: .56rem;line-height: .56rem;box-sizing: border-box;border:.02rem solid rgba(255,255,255,.85);padding: 0 .26rem;border-radius: .28rem;font-size: .28rem;color: #fff;position: absolute;top: .48rem;right: .3rem}

.commonList li{margin-top: .26rem;width: 3.32rem;float: left;margin-right: .26rem;}
.commonList li:nth-child(2n+1){margin-right: 0}
.commonList li .s_img{width: 3.32rem;height: 3.32rem;overflow: hidden;}
.commonList li .s_img img{width: 100%;height: 100%;object-fit: cover;display: block;}
.commonList li.comLi {box-shadow:0px 3px 21px 0px rgba(99,99,99,0.14);border-radius:.16rem;overflow: hidden;}
.commonList li.comLi .s_txt{padding: .1rem .08rem .17rem .17rem;position: relative;height: 1.68rem;box-sizing: border-box;} 
.commonList li.comLi .s_txt h2.ptTile{font-size: .28rem;font-weight: bold;color: #333;width: 100%;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.commonList li.comLi .pt_money{margin-top: .05rem}
.commonList li.comLi .ptInfo{margin-top: .13rem}
.commonList li .pt_money span{color: #FA4A3D;font-size: .2rem}
.commonList li .pt_money strong{font-family: coregtd;font-size: .3rem}
.commonList li .pt_money del{font-size: .24rem;color: #A0A0A0;margin-left: .22rem}
.commonList li.comLi .pt_money del{margin-left: .1rem}
.commonList li .pin_num{font-size: .24rem;color: #666;line-height: .4rem;}

.commonList li .ptState{display: inline-block;position: absolute;height: .5rem;line-height: .5rem;border-radius: .08rem;background:linear-gradient(90deg,rgba(211,32,209,1) 0%,rgba(130,40,243,1) 100%);font-size: .28rem;color: #fff;text-align: center;width: 1rem;}
.commonList li.comLi .ptState{bottom: .18rem;right: .17rem}

.commonList li.topLi{background: #fff;box-shadow:0px 3px 21px 0px rgba(99,99,99,0.14);border-radius:.16rem;padding: .2rem;width: 100%;box-sizing: border-box;} 
.commonList li.topLi .s_img{width: 2rem;height: 2rem;float: left;border-radius: .1rem;overflow: hidden;}
.commonList li.topLi .s_img img{width: 100%;height: 100%;object-fit: cover;display: block;}
.commonList li.topLi .s_txt{margin-left: 2.14rem;height: 2rem;position: relative;overflow: hidden;}
.commonList li.topLi .s_txt h2.ptTile{font-size: .32rem;font-weight: bold;color: #333;width: 4.23rem;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.commonList li.topLi .pt_money{position: absolute;bottom: .6rem;}


.commonList li.topLi .ptInfo{position: absolute;bottom: .02rem}

.commonList li.topLi .ptState{right: 0;bottom: 0;height: .55rem;line-height: .55rem;width: 1.23rem;}
.commonList li.topLi .ptImg {float: left;width: .4rem;margin-right: .14rem;height: .4rem;}
.commonList li.topLi .ptImg img{width: .4rem;height: .4rem;box-sizing: border-box;border: .02rem solid #fff;border-radius: 50%;display: block;position: relative;z-index: 2;}
.commonList li.topLi .ptImg2{width: .65rem;}
.commonList li.topLi .ptImg2 img:last-child{    position: absolute;left: .25rem;top: 0;z-index: 1;}
.commonList li.pintuan-pl_h{background: #f2f2f2;height: 2.4rem;width: 100%;border-radius: .16rem;} 


/*推荐团购*/
.recomTuan {background:url(../images/recombg.png) no-repeat top;background-size: 100% 2.24rem;border-radius: .4rem .4rem 0 0;position: relative;padding: .3rem .3rem .5rem;padding-bottom:calc(1rem + constant(safe-area-inset-bottom));padding-bottom: calc(1rem + env(safe-area-inset-bottom));}
.recomTuan .tuanList li .ptState{background:linear-gradient(90deg,rgba(255,111,8,1) 0%,rgba(250,74,61,1) 100%);}



@font-face {
  font-family: "coregtd";
  src: url("/static/fonts/coregtd6.woff2"),
       url("/static/fonts/coregtd6.woff"),
       url("/static/fonts/coregtd6.ttf"),
       url("/static/fonts/coregtd6.eot"),
       url("/static/fonts/coregtd6.otf");
}
/*底部*/
/* .footer_4_3{position: fixed; bottom: 0; left: 0; right: 0; background: #fff; box-shadow:0px -3px 13px 0px rgba(25,30,59,0.05); font-size: .2rem; -webkit-animation: FadeIn .15s ease-out; -moz-animation: FadeIn .15s ease-out; animation: FadeIn .15s ease-out;z-index: 99;padding-top:.1rem;height: .88rem;}
.footer_4_3 ul{display: -webkit-box;}
.footer_4_3 ul li{position: relative; -webkit-box-flex: 1; text-align: center;}
.footer_4_3 ul li a{display: block;color: #4D4D4F;font-size: .2rem}
.footer_4_3 ul li i{display: block; width: .48rem; height: .48rem; margin: 0 auto;}
.footer_4_3 ul li.ficon1 i{background: url(../images/aficon11.png) center center no-repeat; background-size: auto .48rem;}
.footer_4_3 ul li.ficon2 i{background: url(../images/aficon22.png) center center no-repeat; background-size: auto .48rem;}
.footer_4_3 ul li.ficon3 i{background: url(../images/aficon33.png) center center no-repeat; background-size: auto .48rem;}
.footer_4_3 ul li.active a{color: #F73725} */

/*底部加号*/
.mask {width:100%;background:#fff;position:fixed;top:0;right:0;z-index:100000;display:none;bottom:0;opacity:.8!important;}
.jia {position:fixed;bottom:1.6rem;right:.3rem;width:.9rem;height:.9rem;background:linear-gradient(-45deg,#faaf17,#f8ce0d);z-index:1000008;border-radius:50%;box-shadow:0px 2px 8px #faaf17;}
.jia_x {animation:jia_show .3s;-moz-animation:jia_show .3s;/* Firefox */    -webkit-animation:jia_show .3s;/* Safari 和 Chrome */    -o-animation:jia_show .3s;animation-fill-mode:forwards;}
.jia_y {animation:jia_hide .3s;-moz-animation:jia_hide .3s;/* Firefox */    -webkit-animation:jia_hide .3s;/* Safari 和 Chrome */    -o-animation:jia_hide .3s;animation-fill-mode:forwards;}
.jia img {width:.9rem;height:.9rem;}
.dindan {position:fixed;bottom:.6rem;right:.3rem;width:.9rem;height:.9rem;background:linear-gradient(-45deg,#2caff9,#1e92f9);z-index:1000006;border-radius:50%;box-shadow:0px 2px 8px #2caff9;text-align:center;display:none;}
.dindan_show {animation:gelatine .8s linear forwards;animation-name:d_dindan,gelatine;animation-duration:.2s,.8s;display:block;}
.dindan_hide {animation:d_dindan_hide .3s;-moz-animation:d_dindan_hide .3s;/* Firefox */    -webkit-animation:d_dindan_hide .3s;/* Safari 和 Chrome */    -o-animation:d_dindan_hide .3s;}
.dindan a,.fabu_t a {color:#fff;font-size:.22rem;display: block;}
.dindan img,.fabu_t img {height:.33rem;margin-top:.14rem;}
.fabu_t {position:fixed;bottom:.6rem;right:.3rem;width:.9rem;height:.9rem;background:linear-gradient(-45deg,#9d7bfe,#8a58f9);z-index:1000004;border-radius:50%;box-shadow:0px 2px 8px #9d7bfe;text-align:center;display:none;}
.fabu_t_show {animation:gelatine .8s linear forwards;animation-name:d_fabu_t,gelatine;animation-duration:.2s,.8s;display:block;}
.fabu_t_hide {animation:d_fabu_hide .3s;-moz-animation:d_fabu_hide .3s;/* Firefox */-webkit-animation:d_fabu_hide .3s;/* Safari 和 Chrome */-o-animation:d_fabu_hide .3s;}
@keyframes d_dindan {0% {right:.3rem;}
100% {right:3.3rem;}
}
@keyframes d_fabu_t {0% {right:.3rem;}
100% {right:1.8rem;}
}
@keyframes d_dindan_hide {0% {right:3.3rem;}
100% {right:.3rem;}
}
@keyframes d_fabu_hide {0% {right:1.8rem;}
100% {right:.3rem;}
}
/*加的变换*/
@keyframes jia_show {0% {transform:rotate(0deg);}
100% {transform:rotate(45deg);}
}
@keyframes jia_hide {0% {transform:rotate(45deg);}
100% {transform:rotate(0deg);}
}
@keyframes gelatine {from,to {-webkit-transform:scale(1,1);transform:scale(1,1);}
25% {-webkit-transform:scale(0.9,1.1);transform:scale(0.9,1.1);}
50% {-webkit-transform:scale(1.1,0.9);transform:scale(1.1,0.9);}
75% {-webkit-transform:scale(0.95,1.05);transform:scale(0.95,1.05);}
from,to {-webkit-transform:scale(1,1);transform:scale(1,1);}
25% {-webkit-transform:scale(0.9,1.1);transform:scale(0.9,1.1);}
50% {-webkit-transform:scale(1.1,0.9);transform:scale(1.1,0.9);}
75% {-webkit-transform:scale(0.95,1.05);transform:scale(0.95,1.05);}
}