<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$detail_startaddr#}到{#$detail_endaddr#} - {#$detail_typename#}</title>
<meta name="keywords" content="{#$sfcar_keywords#}" />
<meta name="description" content="{#$sfcar_description#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/list_detail.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/designpicd.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/viewer.min.css?v=2" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
{#if $detail_video#}
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/ui/video-js.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/ui/vsg-skin.css?v={#$cfg_staticVersion#}" media="all" />
{#/if#}
<script type="text/javascript">
    var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$sfcar_channelDomain#}', cfg_staticPath =staticPath= '{#$cfg_staticPath#}', templatePath = '{#$templets_skin#}';

    var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
    var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}', id = {#$detail_id#};
    var user_id = '{#$detail_member['userid']#}';
    var imconfig = {
        'mod':'sfcar',
        'chatid':"{#$detail_userid#}",
        'title': '{#$detail_title#}',
        "price": '',
        "imgUrl": '',
        "link": '{#getUrlPath service="sfcar" template="detail" id=$detail_id#}',
    }
</script>
</head>

<body class="w1200">
{#$pageCurr = "list"#}
{#include file="../../siteConfig/top1.html"#}
<!-- 导航 s-->
{#include file="header_search.html"#}

<!-- 导航 e-->
<div class="main_wrap">
    <div class="wrap crumbs fn-clear">
        <div class="cont">
            <span>您的位置：</span>
            <a href="{#$sfcar_channelDomain#}">{#$sfcar_channelName#}</a>
            <s></s>
            {#$detail_usetypename#}详情
        </div>

    </div>
    <!--详情头部 s-->
    <div class="wrap detail_wrap1 fn-clear">
        <div class="detail_right content">
            <div class="detail_top">
                <p class="liTitle">{#$detail_startaddr#}<s></s>{#$detail_endaddr#}</p>
                <div class="show_info fn-clear">
                    <div class="carInfo">
                        <!-- 乘用车car 载货车truck 乘客car 货物truck -->
                        <span class="car-type {#if $detail_usetype == 0#} car {#else#} truck {#/if#}">{#$detail_usetypename#}</span>
                        <p class="car-info">
                            {#if ($detail_tagarr)#}
                                {#foreach from = $detail_tagarr key=k item=i#}
                                    <span>{#$i['typename']#}</span>
                                {#/foreach#}
                            {#/if#}
                        </p>                       
                    </div>
                    <span class="time">{#$detail_pubdate#}</span><span class="see_num">{#$detail_onclick#}</span>
                </div>
                <div class="btn_group ">
                    {#* 已收藏 -- 收藏 *#}
                    <a href="javascript:;" class="store-btn{#if $detail_iscollect#} curr{#/if#}"><button><em></em><span>{#if $detail_iscollect#}{#$langData['siteConfig'][44][0]#}{#else#}{#$langData['siteConfig'][19][240]#}{#/if#}</button></a>
                    <div class="share-btn " >
                        <a href="javascript:;" class="btnShare newBtn_share" id="sharre" data-title="{#$detail_title#}" data-url="{#getUrlPath service="house" template="loupan-detail" id={#$detail_id#}#}" data-pic="{#$detail_litpic#}"></a><em></em><span>{#$langData['siteConfig'][6][166]#}</span> {#* 分享 *#}
                    </div>
                </div>
            </div>
            
            <div class="list_info ">
                <div class="info_left" id="info_left">
                    {#*我要找车————乘用车*#}
                    {#* 如果详细地址存在的话则有这一条 *#}
                    {#*详细地址*#}         
                    {#if $detail_startAdress || $detail_endAddress #}                                                               
                    <dl><dt>{#$langData['siteConfig'][19][35]#}：</dt><dd>{#$detail_startAdress#}<s class="add-s"></s>{#$detail_endAddress#}</dd></dl>
                    {#/if#}
                    {#if $detail_type ==1#}
                        {#if $detail_usetype ==0#}
                            {#*出发时间*#}     
                            {#if $detail_missiontime#}                                                                   
                            <dl><dt>{#$langData['sfcar'][0][26]#}：</dt><dd>{#$detail_missiontime#}</dd></dl>
                            {#/if#}
                            {#if $detail_accessaddr#}        
                            {#*途  &nbsp;径&nbsp; 地*#}
                            <dl class="letter1"><dt>{#$langData['sfcar'][0][27]#}：</dt><dd>{#$detail_accessaddr#}</dd></dl>
                            {#/if#}
                            {#if $detail_carseat#}        
                            {#*空&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 位*#}
                            <dl class="letter2"><dt>{#$langData['sfcar'][0][28]#}：</dt><dd>{#$detail_carseat#}</dd></dl>
                            {#/if#}
                            {#if $detail_username#}   
                            {#*联  &nbsp;系&nbsp; 人*#}
                            <dl class="letter1"><dt>{#$langData['sfcar'][0][30]#}：</dt><dd>{#$detail_username#}<i class="chat_to-Link contact" data-type="detail"></i></dd></dl>
                            {#/if#}
                    {#*我要找车————找载货车*#}
                            {#else#}
                            {#*出发时间*#} 
                            {#if $detail_missiontime#}           
                            <dl><dt>{#$langData['sfcar'][0][26]#}：</dt><dd>{#$detail_missiontime#}</dd></dl>
                            {#/if#}
                            {#if $detail_cartypename#} 
                            {#*车&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 型*#}
                            <dl class="letter2"><dt>{#$langData['sfcar'][0][31]#}：</dt><dd>{#$detail_cartypename#}</dd></dl>
                            {#/if#}
                            {#if $detail_accessaddr#}
                            {#*途  &nbsp;径&nbsp; 地*#}
                            <dl class="letter1"><dt>{#$langData['sfcar'][0][27]#}：</dt><dd>{#$detail_accessaddr#}</dd></dl>
                            {#/if#}

                            {#if $detail_username#}
                            {#*联  &nbsp;系&nbsp; 人*#}
                            <dl class="letter1"><dt>{#$langData['sfcar'][0][30]#}：</dt><dd>{#$detail_username#}<i class="chat_to-Link contact" data-type="detail"></i></dd></dl>
                            {#/if#}
                            {#/if#}
                    {#else#}
                        {#if $detail_usetype ==0#}
                        {#*我是车主————找乘客*#}
                        {#*出发时间*#} 
                        {#if $detail_missiontime#}        
                        <dl><dt>{#$langData['sfcar'][0][26]#}：</dt><dd>{#$detail_missiontime#}</dd></dl>
                        {#/if#}
                        {#if $detail_number#}
                        {#*人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 数*#}
                        <dl class="letter2"><dt>{#$langData['sfcar'][0][32]#}：</dt><dd>{#$detail_number#}</dd></dl>  
                        {#/if#}
                        {#*联  &nbsp;系&nbsp; 人*#}
                        <dl class="letter1"><dt>{#$langData['sfcar'][0][30]#}：</dt><dd>{#$detail_username#}<i class="chat_to-Link contact" data-type="detail"></i></dd></dl>
                    {#*我是车主————找货物*#}
                        {#else#}
                        {#*出发时间*#}
                        {#if $detail_missiontime#}        
                        <dl><dt>{#$langData['sfcar'][0][26]#}：</dt><dd>{#$detail_missiontime#}</dd></dl>
                        {#/if#}
                        {#*联  &nbsp;系&nbsp; 人*#}
                        {#if $detail_username#}
                        <dl class="letter1"><dt>{#$langData['sfcar'][0][30]#}：</dt><dd>{#$detail_username#}<i class="chat_to-Link contact" data-type="detail"></i></dd></dl>
                        {#/if#}
                        {#/if#}
                    {#/if#}
                </div>
                <div class="report_info">
                    <div class="rep_l"><img src="{#$templets_skin#}images/report.png" alt=""></div>
                    <div class="rep_r">
                        {#*如遇无效、虚假、诈骗信息，请 --  立即举报 *#}
                        <p class="rep_tit">{#$langData['sfcar'][2][16]#} <a href="javascript:;"class="report" >{#$langData['sfcar'][2][17]#}></a></p>
                        <p class="rep_tip">{#$langData['sfcar'][0][34]#}</p> {#*办理服务前请勿付订金、押金等费用，谨防上当受骗！*#}
                    </div>
                </div>
            </div>
            

            <ul class="info_ul">
                <li class="call">
                    <div class="c_tel">
                        <i></i>
                        <div class="phone_info" data-call="{#if $detail_areaCode !='' && $detail_areaCode!= '86'#}+{#$detail_areaCode#} {#/if#}{#$detail_tel#}">
                            <span class="seePhone">{#$langData['sfcar'][1][20]#}</span> {#*查看电话*#}
                        </div>
                     </div>

                </li>
            </ul>
            
        </div>

    </div>
    <!--详情头部 e-->
    <div class="wrap fn-clear">
        <div class="list-mid fn-clear  con-tit ">
            <div class="list-tab">
                <div class="list-lead fn-clear">
                    <ul>
                        <li class="current" ><a href="javascript:;">{#$langData['sfcar'][0][35]#}</a></li> {#*备注说明*#}
                    </ul>
                </div>
            </div>
            <div class="lm-txt fn-clear">
            {#if $detail_note || $detail_piclsit#}
                <div class="lm_con">
                    {#$detail_note#}
                </div>
                <div class="img_con">
                    {#foreach from = $detail_piclsit key=k item=i#}
                    <img src="{#$i['picpath']#}" alt="">
                   {#/foreach#}
                </div>
            {#else#}
              <div class="emptyNote">
                暂无相关信息
              </div>
            {#/if#}
            </div>



        </div>
        <div class="news_r">
            <div class="adv">{#myad title="顺风车_模板一_电脑端_详情广告一"#}</div>
        </div>
    </div>


</div>

{#include file="bottom.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.dialog-4.2.0.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/list_detail.js?v={#$cfg_staticVersion#}"></script>


</body>
</html>
