<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][20][341]#}</title> {#* 发布成功 *#}
<meta name="keywords" content="{#$list_keywords#}" />
<meta name="description" content="{#$list_description#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu_success.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$sfcar_channelDomain#}', staticPath = '{#$cfg_staticPath#}',templatePath = '{#$templets_skin#}';
	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
	//var modelType = '{#$module#}', id = {#$id#},templates = 'detail';
	var modelType = '{#$module#}',id={#$id#},templates = 'detail';
	var successTitle = '{#$langData['sfcar'][2][29]#}';//信息置顶刷新
</script>
</head>

<body class="w1200">
{#$pageCurr = "index"#}
{#include file="../../siteConfig/top1.html"#}
<!-- 导航 s-->
{#include file="header_search.html"#}
<!-- 导航 e-->
{#$act = 'detail'#}
{#$managesUrl = {#getUrlPath service='member' type='user' action='manage' template='sfcar'#}#}
<div class="main_wrap">
	<div class="fabu_head">
		<div class="wrap head_wrap">
			<h1 class="fabu_tit">{#$langData['siteConfig'][20][341]#}!</h1> 	  {#* 发布成功 *#}
			<p class="tip">{#$langData['sfcar'][2][24]#}</p>	  {#* 编辑、刷新、置顶等更多操作请前往管理信息 *#}
			<ul>
				{#* 返回首页 *#}
				<li class="fan"><a href="{#$cfg_basehost#}">{#$langData['siteConfig'][21][30]#}</a></li>

				 {#* 管理信息 *#}
				<li class="guan"><a href="{#$managesUrl#}">{#$langData['siteConfig'][16][20]#}</a></li>
			</ul>
		</div>
	</div>
	<div class="fabu_content">
		<div class="fabu_top">
			<i></i><span class="notice">{#$langData['sfcar'][2][25]#}</span> {#* 推广您的信息，数倍流量提升！ *#}
			<span class="tip">{#$langData['sfcar'][2][26]#}</span> {#* 信息审核通过后自动生效并开始计算天数 *#}
		</div>
		<div class="istopList fabu_choose">
			
		</div>
		<input type="hidden" name="toptag" id="toptag" value="">
		<div class="choose3">
			{#* 突显我的标题 -- 一眼看到我！*#}
			<!-- <h2 class="adv_tip">{#$langData['sfcar'][2][34]#}<span>{#$langData['sfcar'][2][35]#}</span></h2>
			<ul>
				{#* 标题加粗 *#}
				<li data-type="titleblod" data-id="titleblod" data-price="{#$titleBlodlPrice#}"><span>{#$langData['sfcar'][2][32]#}</span><span class="tit_price">{#echoCurrency type='symbol'#}<em>{#$titleBlodlPrice#}</em></span></li>

				{#* 标题加红 *#}
				<li  data-type="titlered" data-id="titlered" data-price="{#$titleRedPrice#}"><span>{#$langData['sfcar'][2][33]#}</span><span class="tit_price">{#echoCurrency type='symbol'#}<em>{#$titleRedPrice#}</em></span></li>
			</ul> -->
			<input type="hidden" name="tag" id="tag" value="">
		</div>
		<div class="pay_wrap">
			{#*实付*#}
			<span class="fu">{#$langData['siteConfig'][35][11]#}</span><span class="countPrice">{#echoCurrency type='symbol'#}<em id="all_price">0</em></span>
			<p class="buy"><a href="javascript:;">{#$langData['siteConfig'][40][100]#}</a></p> {#*确认购买*#}
		</div>
	</div>

</div>
<form action="/include/ajax.php" method="get" id="refreshTopForm">
<!-- <form action="{#getUrlPath service='sfcar'  template='pay'#}" method="get" id="refreshTopForm"> -->
	<input type="hidden" name="service" id="service" value="siteConfig">
	<input type="hidden" name="action" id="action" value="refreshTop">
	<input type="hidden" name="type" id="type" value="">
	<input type="hidden" name="ordertype" id="type" value="{#$ordertype#}">
	<input type="hidden" name="module" id="module" value="{#$module#}">
	<input type="hidden" name="act" id="act" value="{#$act#}">
	<input type="hidden" name="paytype" id="paytype" value="money">
	<input type="hidden" name="aid" id="aid" value="{#$id#}" />
	<input type="hidden" name="amount" id="amount" value="" />
	<input type="hidden" name="useBalance" id="useBalance" value="{#$useBalance#}" />
    <input type="hidden" name="config" id="config" value="" />
    <input type="hidden" name="titleblod" id="titleblod" value="" />
    <input type="hidden" name="titlered" id="titlered" value="" />
	<input type="hidden" name="tourl" id="tourl" value="{#$managesUrl#}" />
</form>
{#include file="bottom.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/fabu_success.js?v={#$cfg_staticVersion#}"></script>

</body>
</html>
