<div class="fixedwrap FestivalAD_header">
    <div class="fixedpane sfcarpane">
        <!-- head s -->
        <div class="wrap header fn-clear">
            <div class="logo">
                <a href="{#$sfcar_channelDomain#}" title="{#$sfcar_channelName#}"><img src="{#$sfcar_logoUrl#}" alt="{#$sfcar_channelName#}" /></a>
            </div>
            <ul class="fn-clear nav_ul">
                <li class="active"><a href="{#$sfcar_channelDomain#}" {#if $pageCurr == "index"#} class="curr"{#/if#}>{#$langData['siteConfig'][0][0]#}</a></li> {#* 首页 *#}
                <li><a href="{#getUrlPath service='sfcar' template='list'
                    param="type=0&cartype={#$cartype#}&orderby={#$orderby#}&startaddr={#$startaddr#}&endaddr={#$endaddr#}"#}" {#if $type ==0 &&$pageCurr != "index" #} class="curr" {#/if#}>{#$langData['sfcar'][0][8]#}</a></li> {#* 我要用车 *#}
                <li><a href="{#getUrlPath service='sfcar' template='list'
                    param="type=1&cartype={#$cartype#}&orderby={#$orderby#}&startaddr={#$startaddr#}&endaddr={#$endaddr#}"#}"{#if $type ==1 #} class="curr"{#/if#}>{#$langData['sfcar'][0][10]#}</a></li> {#* 我是车主 *#}
            </ul>

            <div class="infobox">
                <a href="{#getUrlPath service='member' type='user' template='fabu-sfcar'#}" class="fbbox"><i class="ifabu"></i><span>{#$langData['siteConfig'][6][143]#}</span></a> {#* 发布信息 *#}
            </div>

        </div>
        <!-- head e -->

    </div>
</div>
