<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<title>{#$sfcar_title#}</title>
	<meta name="keywords" content="{#$sfcar_keywords#}" />
	<meta name="description" content="{#$sfcar_description#}" />
	<link rel="stylesheet" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}">
	<link rel="stylesheet" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}">
	<link rel="stylesheet" href="{#$templets_skin#}css/index.css?v={#$cfg_staticVersion#}">
	<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
	<script>
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$sfcar_channelDomain#}', templatePath = '{#$templets_skin#}';
	var hideFileUrl = {#$cfg_hideUrl#};
	var cookiePre = '{#$cfg_cookiePre#}';
	var money = '{#echoCurrency type='symbol'#}';
	</script>
</head>

<body  class='w1200'>
	{#$pageCurr = "index"#}
	{#include file="../../siteConfig/top1.html"#}
	<!-- 导航 s-->
	{#include file="header_search.html"#}
	<!-- 导航 e-->
<div class="main_wrap">
	<div class="banner">
      <div class="banner-adv">
		{#myad title="顺风车_模板一_电脑端_广告一"#}
      </div>
      <div class="banner-bg"></div>
	</div>

	<div class="tab-wrap wrap">
		<div class="main-tab">
			<!-- 用车身份 s-->
			<ul class="fn-clear tab">
				<li class="useCar active" data-type="0">
					<strong>{#$langData['sfcar'][0][8]#}</strong>	  {#* 我要用车 *#}
					<p>{#$langData['sfcar'][0][9]#}</p>	  {#* 乘用载货 *#}			
				</li>
				<li class="owner" data-type="1">
					<strong>{#$langData['sfcar'][0][10]#}</strong>	  {#* 我是车主 *#}
					<p>{#$langData['sfcar'][0][11]#}</p>	  {#* 找客找货 *#}
				</li>
			</ul>
			<!-- 用车身份 e-->
			<!-- 出发地 目的地 s-->
			<div class="c_bot fn-clear">
				<span class="serButton">{#$langData['siteConfig'][6][109]#}</span> {#* 搜索 *#}
				<div class="city-wrap">
					{#* 出发地 *#}
					<div class="start-div">
						<input type="text" placeholder="{#$langData['sfcar'][0][19]#}" class="startPlace">
					</div>					
					<em class="changecity"><s></s></em>
					{#* 目的地 *#}
					<div class="end-div">
						<input type="text" placeholder="{#$langData['sfcar'][0][20]#}" class="endPlace">
					</div>					
				</div>								
			</div>
			<!-- 出发地 目的地 e-->
			<div class="c_top fn-clear userCon show">
				<!--我要用车-->
				<div class="carType">
					{#* 全部 -- 乘用 -- 载货 *#}
					<span class="checked" data-id="">{#$langData['siteConfig'][9][0]#}</span><span data-id="0">{#$langData['sfcar'][0][12]#}</span><span data-id="1">{#$langData['sfcar'][0][13]#}</span>
				</div>
				<div class="carPub specialPub">
					{#* 最新发布 -- 最近出发 -- 天天发车 *#}
					<span class="checked"  data-id="1">{#$langData['sfcar'][0][14]#}</span><span  data-id="2">{#$langData['sfcar'][0][15]#}</span><span data-id="3">{#$langData['sfcar'][0][16]#}</span>
				</div>
			</div>
			<div class="c_top fn-clear ownerCon">
				<!--我是车主-->
				<div class="carType">
					{#* 全部 -- 找客 -- 找货 *#}
					<span class="checked" data-id="0">{#$langData['siteConfig'][9][0]#}</span><span data-id="0">{#$langData['sfcar'][0][17]#}</span><span data-id="1">{#$langData['sfcar'][0][18]#}</span>
				</div>
				<div class="carPub">
					{#* 最新发布 -- 最近出发 *#}
					<span class="checked"  data-id="1">{#$langData['sfcar'][0][14]#}</span><span  data-id="2">{#$langData['sfcar'][0][15]#}</span>
				</div>
			</div>
		</div>
	</div>

	<!-- 列表 s-->
	<div class="wrap content-wrap fn-clear">
		<div class="user-wrap comm-wrap">
			<div class="comm-top">
				<strong class="sTitle">{#$langData['sfcar'][0][8]#}</strong>	  {#* 我要用车 *#}
				<em>{#$langData['sfcar'][0][9]#}</em>	  {#* 乘用载货 *#}
                {#sfcar action="getsfcarlist" return="ilist" pageSize="1" page="1" type="1"#}
				<p class="infoNum">{#$langData['sfcar'][0][21]|replace:'0':$pageInfo.totalCount#}</p> {#* 共<strong>0</strong>条用车信息 *#}
                {#/sfcar#}
			</div>
			<ul class="list">
				{#sfcar action="getsfcarlist" return="ilist"  page=1 pageSize="5" type="1"#}
				<li class="fn-clear">
					<a href="{#$ilist.url#}" target="_blank">
						<div class="top_con">
							<div class="li_top fn-clear">	
								{#* 此处时间如果不是今年则只显示年月日 不显示具体时分 *#}							
								<div class="pubTime">{#$ilist.pubdate|date_format:"%m-%d &nbsp;%H:%M"#}发布</div>
								<div class="left_place">									
									<h2 class="liTitle"><span class="s1">{#$ilist.startaddr#}</span><s></s><span class="s2">{#$ilist.endaddr#}</span></h2>
									{#if $ilist.isbid ==1#}
									<em class="topFlag">{#$langData['siteConfig'][19][762]#}</em>	  {#* 置顶 *#}
									{#/if#}
								</div>																								
							</div>
							<div class="startTime">
								<strong class="{#if $ilist.missiontype ==0#} startDay {#else#} daycar {#/if#}">{#$ilist.missiontime#}</strong>
								<span class="startWeek">{#$ilist.missiontime1#}{#$langData['sfcar'][1][5]#}</span>	  {#* 出发 *#}
								
							</div>
						</div>
						<div class="carInfo">
							<!-- 乘用车car 载货车truck 乘客car 货物truck -->
							<span class="car-type {#if $ilist.usetype ==1 #} truck {#else#} car {#/if#}">{#$ilist.usetypename#}</span>
							<p class="car-info">
								{#if $ilist.Specifications#}
								<span>{#$ilist.Specifications#}</span>
								{#/if#}
								 {#for $i = 0 to count($ilist.tag)-1#}
									{#if $ilist.tag[$i]!=''#}
									<span>{#$ilist.tag[$i]#}</span>
                              		{#/if#}
								{#/for#}
                              	
							</p>
							
						</div>
						<button class="call seePhone"><span>{#$langData['sfcar'][1][20]#}</span></button>	  {#* 查看电话 *#}
						<button class="call phoneNum"><span>{#$ilist.tel#}</span></button>
					</a>
				</li>
				{#/sfcar#}	
			</ul>
			{#if $pageInfo.totalCount == 0#}
				<div class="empty">暂无更多</div>
			{#else#}
				<div class="seeMore">
					<a href="{#getUrlPath service=sfcar template='list' param="type=0"#}">{#$langData['siteConfig'][6][52]#}></a>	  {#* 查看更多 *#}
				</div>
			{#/if#}
		</div>	
		<div class="owner-wrap comm-wrap">
			<div class="comm-top">
				<strong class="sTitle">{#$langData['sfcar'][0][10]#}</strong>	  {#* 我是车主 *#}
				<em>{#$langData['sfcar'][0][11]#}</em>	  {#* 找客找货 *#}
                {#sfcar action="getsfcarlist" return="ilist" pageSize="1" page="1" type="0"#}
				<p class="infoNum">{#$langData['sfcar'][0][21]|replace:'0':$pageInfo.totalCount#}</p> {#* 共<strong>0</strong>条用车信息 *#}
                {#/sfcar#}
              
			</div>
			<ul class="list">
				{#sfcar action="getsfcarlist" return="ilist"  pageSize="5" page="1" type="0"#}
				<li class="fn-clear">
					<a href="{#$ilist.url#}" target="_blank">
						<div class="top_con">
							<div class="li_top fn-clear">								
								<div class="pubTime">{#$ilist.pubdate|date_format:"%m-%d &nbsp;%H:%M"#}发布</div>
								<div class="left_place">									
									<h2 class="liTitle"><span class="s1">{#$ilist.startaddr#}</span><s></s><span class="s2">{#$ilist.endaddr#}</span></h2>
									{#if $ilist.isbid ==1#}
									<em class="topFlag">{#$langData['siteConfig'][19][762]#}</em>	  {#* 置顶 *#}
									{#/if#}
								</div>																								
							</div>
							<div class="startTime">
								<strong class="{#if $ilist.missiontype ==0#} startDay {#else#} daycar {#/if#}">{#$ilist.missiontime#}</strong>
								<span class="startWeek">{#$ilist.missiontime1#}{#$langData['sfcar'][1][5]#}</span>	  {#* 出发 *#}
								
							</div>
						</div>
						<div class="carInfo">
							<!-- 乘用车car 载货车truck 乘客car 货物truck -->
							<span class="car-type {#if $ilist.usetype ==1 #} truck {#else#} car {#/if#}">{#$ilist.usetypename#}</span>
							<p class="car-info">
								{#if $ilist.Specifications#}
								<span>{#$ilist.Specifications#}</span>
								{#/if#}
								 {#for $i = 0 to count($ilist.tag)-1#}
                              		{#if $ilist.tag[$i]!=''#}
									<span>{#$ilist.tag[$i]#}</span>
                              		{#/if#}
								{#/for#}
							</p>
							
						</div>
						<button class="call seePhone"><span>{#$langData['sfcar'][1][20]#}</span></button>	  {#* 查看电话 *#}
						<button class="call phoneNum"><span>{#$ilist.tel#}</span></button>
					</a>
				</li>
				{#/sfcar#}	
			</ul>
			{#if $pageInfo.totalCount == 0#}
				<div class="empty">暂无更多</div>
			{#else#}
				<div class="seeMore">
					<a href="{#getUrlPath service=sfcar template='list' param="type=1"#}">{#$langData['siteConfig'][6][52]#}></a>	  {#* 查看更多 *#}
				</div>
			{#/if#}
		</div>	
	</div>
	<!-- 列表 e-->

</div>

{#include file='bottom.html'#}
<script type="text/javascript" src="{#$templets_skin#}js/index.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
