<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>顺风车列表-{#if $type ==0#} 我要用车 {#else#} 我是车主 {#/if#}</title>
    <meta name="keywords" content="{#$sfcar_keywords#}" />
    <meta name="description" content="{#$sfcar_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/list.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>

    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$sfcar_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}', templatePath = '{#$templets_skin#}';
        var typeid = '{#$typeid#}';

        var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
        var addrid = 0, atpage = 1, totalCount = 0, pageSize = 20;
        var keywords = '{#$keywords#}';
        var list_lower = '{#$list_lower#}';
        var money ='{#echoCurrency type='symbol'#}';
        var listUrl = '{#getUrlPath service=sfcar action=list param="type={#$typeid#}&cartype={#$addrid#}&time={#$price_section#}&startplace={#$startplace#}&endplace={#$endplace#}"#}';
        var imconfig;
    </script>
</head>

<body class="w1200">
<!-- 判断是不同的身份 修改pagecurr 同样要修改公共头部-->
{#$pageCurr = "list"#}
{#include file="../../siteConfig/top1.html"#}
<!-- 导航 s-->
{#include file="header_search.html"#}

<!-- 导航 e-->
<div class="main_wrap">
    <div class="wrap crumbs fn-clear">
        <div class="cont">
            <span>您的位置：</span>
            <a href="{#$sfcar_channelDomain#}">顺风车</a>
            <s></s>
            我要用车
        </div>

    </div>

    <div class="placeTop wrap">

        <span class="serButton" data-url="{#getUrlPath service='sfcar' template='list'
                    param="type={#$type#}&cartype={#$cartype#}&orderby={#$orderby#}&startaddr=departure&endaddr=destination"#}">{#$langData['siteConfig'][6][109]#}</span> {#* 搜索 *#}
        <div class="city-wrap">
            {#* 出发地 *#}
            <div class="start-div">
                <input type="text" placeholder="{#$langData['sfcar'][0][19]#}" class="startPlace" value="{#$startaddr#}">
            </div>                  
            <em class="changecity"><s></s></em>
            {#* 目的地 *#}
            <div class="end-div">
                <input type="text" placeholder="{#$langData['sfcar'][0][20]#}" class="endPlace" value="{#$endaddr#}">
            </div>
        </div>  
    </div>

    <!-- 列表 -->
    <div class="wrap news_wrap fn-clear">

        <div class="new_content">
            <div class="sort_wrap ">
                <div class="sortbar fn-clear">
                    <div class="tabs">
                        <ul class="fn-clear">
                            {#* 我要用车 *#}
                            <li {#if $type ==0#} class="curr" {#/if#}  data-type="0"><a href="{#getUrlPath service='sfcar' template='list'
                    param="type=0&cartype={#$cartype#}&orderby={#$orderby#}&startaddr={#$startaddr#}&endaddr={#$endaddr#}" #}">{#$langData['sfcar'][0][8]#}</a></li>

                            {#* 我是车主 *#}
                            <li {#if $type ==1#} class="curr" {#/if#}  data-type="1"><a href="{#getUrlPath service='sfcar' template='list'
                    param="type=1&cartype={#$cartype#}&orderby={#if $orderby==3#}{#else#}{#$orderby#}{#/if#}&startaddr={#$startaddr#}&endaddr={#$endaddr#}" #}">{#$langData['sfcar'][0][10]#}</a></li>                           
                        </ul>
                    </div>
                </div>
                <div class="sort {#if $type ==0#} show {#/if#} fn-clear">
                    <div class="left-sort">
                        <ul class="fn-clear">
                            {#* 全部 -- 乘用 -- 载货 *#}
                            <li class="st{#if $cartype == ''#} curr{#/if#}"><a href="{#getUrlPath service='sfcar' template='list'
                    param="type={#$type#}&cartype=&orderby={#$orderby#}&startaddr={#$startaddr#}&endaddr={#$endaddr#}" #}">{#$langData['siteConfig'][9][0]#}</a></li>
                            <li class="st{#if $cartype == '0'#} curr{#/if#}"><a href="{#getUrlPath service='sfcar' template='list'
                    param="type={#$type#}&cartype=0&orderby={#$orderby#}&startaddr={#$startaddr#}&endaddr={#$endaddr#}" #}">{#$langData['sfcar'][0][12]#}</a></li>
                            <li class="st{#if $cartype == 1#} curr{#/if#}"><a href="{#getUrlPath service='sfcar' template='list'
                    param="type={#$type#}&cartype=1&orderby={#$orderby#}&startaddr={#$startaddr#}&endaddr={#$endaddr#}" #}">{#$langData['sfcar'][0][13]#}</a></li>
                        </ul>
                    </div>
                    <div class="r-sort">
                        <ul class="fn-clear">
                            {#* 最新发布 -- 最近出发 -- 天天发车 *#}
                            <li class="st{#if $orderby == '1'#} curr{#/if#}"><a href="{#getUrlPath service='sfcar' template='list'
                    param="type={#$type#}&cartype={#$cartype#}&orderby=1&startaddr={#$startaddr#}&endaddr={#$endaddr#}" #}">{#$langData['sfcar'][0][14]#}</a></li>
                            <li class="st{#if $orderby == '2'#} curr{#/if#}"><a href="{#getUrlPath service='sfcar' template='list'
                    param="type={#$type#}&cartype={#$cartype#}&orderby=2&startaddr={#$startaddr#}&endaddr={#$endaddr#}" #}">{#$langData['sfcar'][0][15]#}</a></li>
                            <li class="st dayday {#if $orderby == '3'#} curr{#/if#}"><a href="{#getUrlPath service='sfcar' template='list'
                    param="type={#$type#}&cartype={#$cartype#}&orderby=3&startaddr={#$startaddr#}&endaddr={#$endaddr#}" #}">{#$langData['sfcar'][0][16]#}</a></li>
                        </ul>
                    </div>
                </div>

                <div class="sort  {#if $type ==1#} show {#/if#}  fn-clear">
                    <div class="left-sort">
                        <ul class="fn-clear">
                            {#* 全部 -- 找客 -- 找货 *#}
                            <li class="st{#if $cartype == ''#} curr{#/if#}"><a href="{#getUrlPath service='sfcar' template='list'
                    param="type={#$type#}&cartype=&orderby={#$orderby#}&startaddr={#$startaddr#}&endaddr={#$endaddr#}" #}">{#$langData['siteConfig'][9][0]#}</a></li>
                            <li class="st{#if $cartype == '0'#} curr{#/if#}"><a href="{#getUrlPath service='sfcar' template='list'
                    param="type={#$type#}&cartype=0&orderby={#$orderby#}&startaddr={#$startaddr#}&endaddr={#$endaddr#}" #}">{#$langData['sfcar'][0][17]#}</a></li>
                            <li class="st{#if $cartype == '1'#} curr{#/if#}"><a href="{#getUrlPath service='sfcar' template='list'
                    param="type={#$type#}&cartype=1&orderby={#$orderby#}&startaddr={#$startaddr#}&endaddr={#$endaddr#}" #}">{#$langData['sfcar'][0][18]#}</a></li>
                        </ul>
                    </div>
                    <div class="r-sort">
                        <ul class="fn-clear">
                            {#* 最新发布 -- 最近出发 *#}
                            <li class="st{#if $orderby == '1'#} curr{#/if#}"><a href="{#getUrlPath service='sfcar' template='list'
                    param="type={#$type#}&cartype={#$cartype#}&orderby=1&startaddr={#$startaddr#}&endaddr={#$endaddr#}" #}">{#$langData['sfcar'][0][14]#}</a></li>
                            <li class="st{#if $orderby == '2'#} curr{#/if#}"><a href="{#getUrlPath service='sfcar' template='list'
                    param="type={#$type#}&cartype={#$cartype#}&orderby=2&startaddr={#$startaddr#}&endaddr={#$endaddr#}" #}">{#$langData['sfcar'][0][15]#}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="list-wrap ">
                <ul class="list">
                    
                    {#sfcar action="getsfcarlist" return="ilist"  pageSize="20" startaddr = {#$startaddr#}  endaddr = {#$endaddr#} type = {#$ttype#} cartype = {#$cartype#} orderby = {#$orderby#}  page={#$page#}#}

                    <li class="fn-clear">
                    <a href="{#$ilist.url#}" target="_blank">
                        <div class="top_con">
                            <div class="li_top fn-clear">   
                                {#* 此处时间如果不是今年则只显示年月日 不显示具体时分 *#}                           
                                <div class="pubTime">{#$ilist.pubdate|date_format:"%m-%d &nbsp;%H:%M"#}发布</div>
                                <div class="left_place">                                    
                                    <h2 class="liTitle"><span class="s1">{#$ilist.startaddr#}</span><s></s><span class="s2">{#$ilist.endaddr#}</span></h2>
                                    {#if $ilist.isbid ==1#}
                                    <em class="topFlag">{#$langData['siteConfig'][19][762]#}</em>     {#* 置顶 *#}
                                    {#/if#}
                                    {#if $ilist.accessaddrserch#}
                                    <em  class="routeFlag">{#$ilist.accessaddrserch#}</em>
                                    {#/if#}
                                </div>                                                                                                
                            </div>
                            <div class="startTime">
                                <strong class="{#if $ilist.missiontype ==0#} startDay {#else#} daycar {#/if#}">{#$ilist.missiontime#}</strong>
                                <span class="startWeek">{#$ilist.missiontime1#}{#$langData['sfcar'][1][5]#}</span>    {#* 出发 *#}
                                
                            </div>
                        </div>
                        <div class="carInfo">
                            <!-- 乘用车car 载货车truck 乘客car 货物truck -->
                            <span class="car-type {#if $ilist.usetype ==1 #} truck {#else#} car {#/if#}">{#$ilist.usetypename#}</span>
                            <p class="car-info">
                                {#if $ilist.Specifications#}
                                <span>{#$ilist.Specifications#}</span>
                                {#/if#}
                                 {#for $i = 0 to count($ilist.tag)-1#}
                                    {#if $ilist.tag[$i]!=''#}
									<span>{#$ilist.tag[$i]#}</span>
                              		{#/if#}
                                {#/for#}
                            </p>
                            
                        </div>
                        <button class="call seePhone"><span>{#$langData['sfcar'][1][20]#}</span></button>     {#* 查看电话 *#}
                        <button class="call phoneNum"><span>{#$ilist.tel#}</span></button>
                    </a>
                    </li>
                    {#/sfcar#}
                    {#if $pageInfo.totalCount == 0#}
                    <li class="empty failed"><img src="{#$templets_skin#}images/icon_faild.png"><span>没有找到符合条件的结果</span></li>
                    {#/if#}   
                </ul>
                {#getPageList service='sfcar' template='list' pageType='dynamic' param="type={#$type#}&cartype={#$cartype#}&orderby={#$orderby#}&startaddr={#$startaddr#}&endaddr={#$endaddr#}&page=#page#"#}
            </div>

        </div>

        <div class="news_r">
            <div class="adv">{#myad title="顺风车_模板一_电脑端_列表广告一"#}</div>

        </div>

    </div>

</div>


{#include file="bottom.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/list.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
