<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$langData['education'][9][65]#}</title> {#* 支付页面 *#}
    <meta name="keywords" content="{#$list_keywords#}" />
    <meta name="description" content="{#$list_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/pay.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/payreturn.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$scfcar_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
        var hideFileUrl = {#$cfg_hideUrl#};
        var totalAmount = 1680.00, totalPoint = {#$userinfo.point#}, totalBalance = {#$userinfo.money#}, pointRatio = {#$cfg_pointRatio#};
        var pointName = '{#$cfg_pointName#}', ordernum = '1981999452757508', cookieDomain = '{#$cfg_cookieDomain#}';
    </script>
</head>

<body class="w1200">

<!-- 导航 s-->
{#include file="../../siteConfig/top1.html"#}
<div class="header">
    <div class="wrap fn-clear">
        <div class="logo"><a href="{#$scfcar_channelDomain#}"><img src="{#$cfg_weblogo#}" alt=""></a></div>
        <div class="head_cashier"><i class="he_line"></i>{#$langData['education'][9][66]#}</div>  {#* 我的收银台 *#}
        <div class="head_kfrx"><span>{#$langData['siteConfig'][19][275]#}</span><span class="kfrx_num">{#$info_hotline#}</span></div>   {#* 客服热线 *#}
    </div>
</div>
<!-- 导航 e-->
<div class="all-wrap">
    <div class="swrap wrap">
        <!-- {#$state = 1#} -->
        <!-- 此处判断是置顶还是刷新 对应的 置顶失败 置顶成功 刷新失败 刷新成功 -->
        <!-- {#if $state != 1#} -->
        <!-- <h2 class="s-title"><s></s>对不起，置顶失败</h2> -->
        <!-- {#else#} -->
        <h2 class="s-title success">
            <s></s>
            恭喜你，支付成功
        </h2>
        <div class="s-con">
            <!-- <p class="prolist">
                <strong>购买商品：</strong>
                <!-- 购买商品：置顶多少天 或者只能刷新多少次 或者标题加粗还是加红 -->
              <!--   <a href="{#$detail_product.url#}" target="_blank">{#$detail_product.title#}</a><br />
            </p>
            <p>
                <strong>付款金额：</strong>
                <span class="price">{#echoCurrency type='symbol'#}{#$detail_orderprice#}</span>
            </p> 
            <p> -->
                <a href="{#$sfcar_channelDomain#}">返回首页</a>
                <em>|</em>
              <!--   {#if $proArr|@count > 1#}
                <a href="{#getUrlPath service='member' type='user' template='order' module='education'#}">订单详情</a>
                {#else#} -->
                <!-- <a href="{#getUrlPath service='member' type='user' template='orderdetail' module='education' id={#$proArr[0]['id']#}#}">订单详情</a> -->
                <!-- <em>|</em> -->
                <!-- {#/if#} -->
                <a href="#" target="_blank">常见问题</a>
            </p>
        </div>
        <!-- {#/if#} -->
    </div>
</div>


{#include file='../../siteConfig/public_foot_v3.html'  theme='white' #}
<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>

</body>
</html>
