<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>学区查询</title>
<meta name="keywords" content="{#$house_keywords#}" />
<meta name="description" content="{#$house_description#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />

<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/school.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$house_channelDomain#}',templets_skin = '{#$templets_skin#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
</script>
</head>

<body class="w1200">
{#include file="../../siteConfig/top1.html"#}

{#$pageCurr = "school"#}
{#include file="top.html"#}
<div class="bgBanner">
	<div class="wrap">
		<h2>学区房查询</h2>
		<div class="search_box fn-clear">		
			<form class="form_search" action="{#getUrlPath service='house'  template='search_list'#}">
				<span class="chose_type" data-type="1">查小区</span>
				<input id="keywords" name="keywords" type="text" placeholder="输入小区名称查询"/>
				<input id="searchtype" type="hidden" name="stypeid" value="1" />
				<button class="submitSe"><i></i></button>
			</form>
          <div class="search_result">热搜：<p></p></div>
			<ul class="chose_box">
				<li data-type="1">查小区</li>
				<li data-type="2">查学校</li>
			</ul>
		</div>
	</div>

</div>

<div class="wrap list">		
	<div class="hotSchool">
		<h3 class="comtit"><i></i>热门学校<a href="{#getUrlPath service='house' template='search_list' param="stypeid=2"#}">更多<em></em></a></h3>
		<ul class="fn-clear">
			{#house action=getSchool order='1' pageSize=4 return=list#}
			<li class="scLi"><a href="{#getUrlPath service='house'  template='school_detail' param="id={#$list.id#}"#}">
				<div class="left_img"><img src="{#if $list.logo#}{#$list.logo#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/404.jpg';"></div>
				<div class="rightSc">
					<h3>{#$list.title#}</h3>
					<p class="tag">
						<span class="nature">{#$list.schoolnaturename#}</span>
						{#foreach from=$list.typearr item='type'#}
						<span class="slevel-{#if $type.typename == '幼儿园'#}1{#elseif $type.typename == '小学'#}2{#else#}3{#/if#}">{#$type.typename#}</span>
						{#/foreach#}
					</p>
					<p class="addr"><i></i>{#$list.addrName#}</p>
					<p class="fire"><i></i>{#$list.click#}</p>
				</div>
			</a></li>
			{#/house#}
		</ul>
	</div>
	<div class="hotCommunity">
		<h3 class="comtit"><i></i>热门小区</h3>
		<ul class="fn-clear">
			{#house action="getCommunity" hot='1' pageSize="6" return=row#}
			<li class="comuLi"><a href="{#getUrlPath service='house'  template='slist' param="sid={#$row.id#}&sname={#$row.title#}"#}" class="fn-clear">
				<div class="left_b fn-left">
					<h2 class="tit">{#$row.title#}</h2>
					<p class="addr"><i></i>{#$row.addrName#}</p>
				</div>
				<div class="right_b fn-right">
					<strong>{#$row.schoolcount#}</strong>所学校
				</div>
			</a></li>
			{#/house#}
		</ul>
	</div>
	<div class="hotComment">
		<h3 class="comtit"><i></i>最新评论</h3>
		<ul class="fn-clear">
			{#house action="common" return="common" order="1"  page="1" pageSize="6"#}
			<li>
				<div class="l_img"><img src="{#if $common.photo#}{#$common.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';"></div>
				<div class="r_com">
					<h3><strong>{#$common.username#}</strong><span>{#$common.dtime#}</span></h3>
                  <p class="topic"><a href="{#getUrlPath service='house'  template='school_detail' param="id={#$common.aid#}"#}"><em>#{#$common.school#}#</em></a>{#$common.content#}</p>
				</div>
			</li>
			{#/house#}			
		</ul>
	</div>
</div>

{#include file="footer.html"#}

<script type="text/javascript" src="{#$templets_skin#}js/school.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
