<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#if $sname#}{#$sname#}-{#/if#}学校列表</title>
<meta name="keywords" content="{#$house_keywords#}" />
<meta name="description" content="{#$house_description#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />

<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/search_list.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$house_channelDomain#}',templets_skin = '{#$templets_skin#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
	var sid = "{#$sid#}",sname = "{#$sname#}";
</script>
</head>

<body class="w1200">
{#include file="../../siteConfig/top1.html"#}

{#$pageCurr = "school"#}
{#include file="top.html"#}
<div class="wrap">
  <div class="crumb fn-clear">
    <div class="location">
      <a href="{#$house_channelDomain#}">首页</a> > <a href="{#getUrlPath service='house'  template='school'#}">查学区</a> > <a href="javascript:;">学校列表</a>
    </div>
  </div>
</div>
<div class="wrap sList">
	{#house action=schoolList pageSize=1 page={#$page#} sid={#$sid#} keywords={#$sname#} return=list#}
	<p class="resNum">{#if $sname#}"<strong>{#$sname#}</strong>" {#/if#}共有<span>{#$pageInfo.totalCount#}</span>个符合要求的学校</p>
	{#/house#}
</div>
<div class="wrap fn-clear list_wrap">
	<div class="list fn-left">
		<ul>
			{#house action=schoolList pageSize=10 page={#$page#} sid={#$sid#}  return=list#}
			<li class="scLi"><a href="{#getUrlPath service='house'  template='school_detail' param="id={#$list.id#}"#}">
				<div class="left_img"><img src="{#if $list.logopath#}{#$list.logopath#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/404.jpg';"></div>
				<div class="rightSc">
					<h3>{#$list.title#}</h3>
					<p class="tag">
						<span class="nature">{#$list.schoolnaturename#}</span>
						{#foreach from=$list.typearr item='type'#}
						<span class="slevel-{#if $type.typename == '幼儿园'#}1{#elseif $type.typename =='小学'#}2{#else#}3{#/if#}">{#$type.typename#}</span>
						{#/foreach#}
					</p>
					<p class="addr"><i></i>{#$list.addrName#}</p>
					<p class="fire"><i></i>{#$list.click#}</p>
				</div>
			</a></li>
			{#/house#}
			{#if $pageInfo.totalCount == 0#}
          	<li class="empty failed scLi"><img src="{#$templets_skin#}images/icon_faild.png"><span>没有找到符合条件的结果</span></li>
            {#/if#}

			{#getPageList service='house' template='slist' pageType='dynamic' param="sname=$sname&sid=$sid&page=#page#"#}
		</ul>
	</div>	
	<div class="seeCon fn-right">
		<h3 class="nearSee">最近浏览的学校<i></i></h3>
		<ul>

		</ul>
	</div>
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/school.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
