html{background: #f5f5f5;color: #333}
body{padding-bottom: 1rem;padding-bottom: constant(safe-area-inset-bottom);padding-bottom: env(safe-area-inset-bottom);}
.nos ,.nos body{overflow: hidden;}
/*头部*/
.header{position: fixed;left: 0;right: 0;border-bottom: none}
/*html{-webkit-overflow-scrolling:touch}*/
/*列表底部提示*/
.loading {height: .6rem;line-height: .6rem;background: #f6f6f6;color: #949393;font-size: .26rem;text-align: center;}


/*电话模态框*/
.modal-public{visibility: hidden;position: fixed;top:0;left:0;right:0;bottom:0;overflow:hidden;z-index: 999;}
.modal-public.curr {visibility: visible;}
.bgCover{ opacity: 1;visibility: hidden;overflow: hidden;background: #000;position: fixed;top: 0px;left: 0px;right: 0; bottom: 0;z-index: 99;-webkit-transition:none;transition:none;}
.curr > .bgCover {opacity: .6;visibility: visible;}
.modal-public .modal-main{display: block; position:relative!important;width: 70%;padding:.6rem .1rem .58rem;text-align: center;margin:auto;height: auto;position: fixed;left:0;top:25%;right:0;z-index: 9999;-webkit-border-radius: 0.04rem;-moz-border-radius: 0.04rem;border-radius: 0.04rem;background: #fff url(../images/modalbg.png) no-repeat;  background-position: 50% 125%;background-size: 120%;}

.curr .modal-main {display: block;-webkit-animation: popup .3s ease-in;-moz-animation: popup .3s ease-in;animation: popup .3s ease-in;}
.modal-public .close{width:.7rem;height: .7rem;position: absolute;top:.24rem;right:.21rem;}
.modal-public .close img{width: 100%;}
.modal-public .modal-main h3{font-size: .36rem;padding-bottom: .35rem;width: 60%;margin:auto;}
.modal-public .modal-main h3:before,.modal-public .modal-main h3:after{width:20%;display:block;margin-top: .25rem;height:.02rem;}
.modal-public .modal-main h3:before{content:'';float:left;background:linear-gradient(to left,#bcbcbc,#f8f8f8);}
.modal-public .modal-main h3:after{content:'';float:right;background:linear-gradient(to left,#f8f8f8,#bcbcbc);}

.modal-public .modal-main p{padding: .35rem .2rem;font-size: .34rem; color:#f86942; background: none;text-align: center;}
.modal-public .modal-main .call{margin:.1rem auto 0;width: 2.07rem;height: .57rem;line-height:.57rem;border-radius: 4px;background: #f86942;box-shadow: 0 .05rem .1rem rgba(255,142,73,.5);}
.modal-public .modal-main .call a{color:#fff;font-size: .28rem;}

 /*微信客服*/
.m-wx{text-align: center;}
.m-wx .modal-main .weixin h4{font-size: .28rem;color:#333;}
.m-wx .modal-main .weixin img{margin:.34rem auto;width:50%;border:solid 1px #eee;}
.m-wx .modal-main .weixin h5{font-size: .26rem;color:#a0a0a0;}


/* 浏览器端扫码提示 */
.wechat-popup {position: fixed; width: 6.8rem; top: calc(50% - 3rem); left: calc(50% - 3.4rem); z-index: 99999; visibility: hidden;}
.wechat-popup:before {position: fixed; z-index: 1; display: block; content: ''; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);}
.wechat-popup .con {display: -webkit-box; position: relative; z-index: 2; padding: 50px 10px 20px; background: #fff; -webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out;}
.wechat-popup .close {position: absolute; right: .2rem; top: .2rem; width: .5rem; height: .5rem; border: 1px solid #dcdcdc; border-radius: 50%; line-height: .4rem; text-align: center; color: #dcdcdc; font-size: .5rem; font-weight: 100;}
.wechat-popup dl {-webkit-box-flex: 1; text-align: center; margin: 0 5px;}
.wechat-popup dl img {width: 94%; height: 94%; max-width: 3rem; max-height: 3rem; margin: 0 auto; padding: 3%; border: 1px solid #eee; display: block;}
.wechat-popup dd {line-height: 1.5em; padding-top: 5px;}


/*置顶*/

.gotop{position: fixed; bottom: 3.2rem; right: .3rem; width: .8rem; height: .8rem; z-index: 99; display: none;-webkit-animation: twinkling .3s ease-in-out;; -moz-animation: twinkling .3s ease-in-out;; animation: twinkling .3s ease-in-out;}
.gotop img{display: block; width: 100%; height: 100%; }

/*错误提示框*/
.error{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 999999; display: none;}
.error p{position: fixed; width: 150px; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 50%; margin-left: -75px; top: 50%; margin-top: -24px;}

/*点击收藏*/
.follow-icon{width: .38rem;height:.36rem;background: url(../images/like.png) no-repeat center;background-size: .35rem .3rem;margin: 0 auto }
.follow-icon.active{background: url(../images/collection_02.png) no-repeat center;background-size: .35rem .3rem;}

/*底部公共收藏评论样式*/
.org_footer{padding: .2rem .23rem;width:100%;background: #fff;position: fixed;bottom: 0;box-sizing: border-box;z-index: 999; padding-bottom: calc(.2rem + env(safe-area-inset-bottom));padding-bottom: calc(.2rem + constant(safe-area-inset-bottom));box-shadow:0px 0px 12px 0px rgba(129,129,129,0.25);}
.org_footer ul{display: flex;align-items: center;justify-content: space-between;}
.org_footer ul li{float: left;width: 11%;text-align: center;}
.org_footer ul li a{display: inline-block}
.org_footer ul li.follow-wrapper{padding-top: .13rem}
.org_footer ul li.spe_li{width: 74%;height: .88rem;line-height: .88rem;}
.org_footer ul li.spe_li a {font-size: .3rem;width: 50%;box-sizing: border-box;float: left}
.org_footer ul li .contact{background: #fff;border-radius:.44rem 0px 0px .44rem;color: #00AF62;border: 1px solid #00AF62}
.org_footer ul li .invite{background:linear-gradient(135deg,rgba(0,175,98,1) 0%,rgba(1,147,84,1) 100%);
border-radius:0px .44rem .44rem 0px;color: #fff;border: 1px solid #00AF62}
.comment-icon{width: .36rem;height:.33rem;background: url(../images/comment-icon.png) no-repeat center;background-size: .34rem .31rem;margin: 0 auto }
.text-follow{margin-top: .18rem}
.comment-follow{margin-top: .17rem}
.org_footer ul li.spe_li i{display: inline-block;width: .4rem;height: .38rem;margin-right: .14rem;    vertical-align: middle;margin-top: -.1rem;}
.org_footer .contact i{background: url(../images/call_icon.png) no-repeat center;background-size: .4rem .38rem;}
.org_footer .invite i{background: url(../images/award_icon.png) no-repeat center;background-size: .4rem .38rem;}



/*只有一个contact时*/
.org_footer ul li .spe_contact{width: 70%!important;border-radius: .44rem!important;float: right!important;}
.pro_content p, .det_con1 p{padding: .2rem;}



/*查看联系方式弹出层*/
.contact_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.7); z-index: 999999;display: none;}
.contact_con{position: fixed; left: 50%; margin-left: -3rem; top: 50%; margin-top: -2.4rem; width: 6rem;  box-sizing: border-box;background-color:#fff;  padding-top:.4rem; z-index: 9999; border-radius: .3rem;overflow: hidden;}
.contact_con p.t1{font-size: .34rem;text-align: center;}
.contact_con ul{margin-top: .4rem;}

.contact_con ul li{font-size: .32rem;padding: 0 .3rem;color: #666;border-top: 1px solid #edeeef;height: .87rem;line-height: .87rem}
.contact_con ul li a{color: #666;display: block;}
.contact_con ul li img{vertical-align: middle;}
.contact_con .phone{position: relative;}
.contact_con .phone img{width: .32rem;height: .32rem;margin-right: .3rem}
.contact_con .phone:after{content: '';position: absolute;border-top: 3px solid #c0c1c5;width: .14rem;height: .12rem;border-right: 3px solid #c0c1c5;transform: rotate(45deg);right: .3rem;top: .33rem}

.contact_con .wechat img{width: .36rem;height: .29rem;margin-right: .26rem}
.contact_con .email img{width: .36rem;height: .29rem;margin-right: .26rem}
.contact_con p.t3{color: #00af62;width: 100%;height: .9rem;text-align: center;line-height: .9rem;background: #f2f7f4;font-size: .34rem;border-top: 1px solid #dcdde0}



/* CSS 特效 */
@-webkit-keyframes twinkling{0%{opacity:.5}100%{opacity:.8}}
@-moz-keyframes twinkling{0%{opacity:.5}100%{opacity:.8}}
@keyframes twinkling{0%{opacity:.5}100%{opacity:.8}}
/* 从下往上缓冲显示 */
@-webkit-keyframes bottomFadeIn{0%{opacity:0; -webkit-transform:translateY(10px);}100%{opacity:1; -webkit-transform:translateY(0);}}
@-moz-keyframes bottomFadeIn{0%{opacity:0;  -moz-transform:translateY(10px);}100%{opacity:1; -moz-transform:translateY(0);}}
@keyframes bottomFadeIn{0%{opacity:0; transform:translateY(10px);}100%{opacity:1; transform:translateY(0);}}

/* 从上往下缓冲显示 */
@-webkit-keyframes topFadeIn{0%{opacity:0;  -webkit-transform:translateY(-10px);}100%{opacity:1;  -webkit-transform:translateY(0);}}
@-moz-keyframes topFadeIn{0%{opacity:0; -moz-transform:translateY(-10px);}100%{opacity:1; -moz-transform:translateY(0);}}
@keyframes topFadeIn{0%{opacity:0;  transform:translateY(-10px);}100%{opacity:1; transform:translateY(0);}}

/* 从左往右缓冲显示 */
@-webkit-keyframes leftFadeIn{0%{opacity:0; -webkit-transform:translateX(-10px);}100%{opacity:1;  -webkit-transform:translateY(0);}}
@-moz-keyframes leftFadeIn{0%{opacity:0;  -moz-transform:translateX(-10px);}100%{opacity:1; -moz-transform:translateY(0);}}
@keyframes leftFadeIn{0%{opacity:0; transform:translateX(-10px);}100%{opacity:1; transform:translateY(0);}}

/* 从右往左缓冲显示 */
@-webkit-keyframes rightFadeIn{0%{opacity:0;-webkit-transform:translateX(10px)}100%{opacity:1;-webkit-transform:translateY(0)}}
@-moz-keyframes rightFadeIn{0%{opacity:0;-moz-transform:translateX(10px)}100%{opacity:1;-moz-transform:translateY(0)}}
@keyframes rightFadeIn{0%{opacity:0;transform:translateX(10px)}100%{opacity:1;transform:translateY(0)}}

/* 膨胀后变正常尺寸 */
@-webkit-keyframes popup{0%{-webkit-transform:scale(0)}60%{-webkit-transform:scale(1.1)}100%{-webkit-transform:scale(1)}}
@-moz-keyframes popup{0%{-moz-transform:scale(0)}60%{-moz-transform:scale(1.1)}100%{-moz-transform:scale(1)}}
@keyframes popup{0%{transform:scale(0)}60%{transform:scale(1.1)}100%{transform:scale(1)}}

/*从下往上展开*/
@-webkit-keyframes cd-move-in{0%{-webkit-transform:translateY(100vh)}100%{-webkit-transform:translateY(0vh)}}
@-moz-keyframes cd-move-in{0%{-moz-transform:translateY(100vh)}100%{-moz-transform:translateY(0vh)}}
@keyframes cd-move-in{0%{-webkit-transform:translateY(100vh);-moz-transform:translateY(100vh);-ms-transform:translateY(100vh);-o-transform:translateY(100vh);transform:translateY(100vh)}100%{-webkit-transform:translateY(0vh);-moz-transform:translateY(0vh);-ms-transform:translateY(0vh);-o-transform:translateY(0vh);transform:translateY(0vh)}}
/*从上往下收回*/
@-webkit-keyframes cd-move-out{0%{-webkit-transform:translateY(0vh)}100%{-webkit-transform:translateY(100vh)}}
@-moz-keyframes cd-move-out{0%{-moz-transform:translateY(0vh)}100%{-moz-transform:translateY(100vh)}}
@keyframes cd-move-out{0%{-webkit-transform:translateY(0vh);-moz-transform:translateY(0vh);-ms-transform:translateY(0vh);-o-transform:translateY(0vh);transform:translateY(0vh)}100%{-webkit-transform:translateY(100vh);-moz-transform:translateY(100vh);-ms-transform:translateY(100vh);-o-transform:translateY(100vh);transform:translateY(100vh)}}

@-webkit-keyframes bounceInDown{0%{opacity:0;-webkit-transform:translateY(-2000px);transform:translateY(-2000px)}60%{opacity:1;-webkit-transform:translateY(30px);transform:translateY(30px)}80%{-webkit-transform:translateY(-10px);transform:translateY(-10px)}100%{-webkit-transform:translateY(0);transform:translateY(0)}}
@-moz-keyframes bounceInDown{0%{opacity:0;-webkit-transform:translateY(-2000px);transform:translateY(-2000px)}60%{opacity:1;-webkit-transform:translateY(30px);transform:translateY(30px)}80%{-webkit-transform:translateY(-10px);transform:translateY(-10px)}100%{-webkit-transform:translateY(0);transform:translateY(0)}}
@keyframes bounceInDown{0%{opacity:0;-webkit-transform:translateY(-2000px);-ms-transform:translateY(-2000px);transform:translateY(-2000px)}60%{opacity:1;-webkit-transform:translateY(30px);-ms-transform:translateY(30px);transform:translateY(30px)}80%{-webkit-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px)}100%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}}