/* 信息详情 */
/*.info_head{position: absolute;top: .9rem;padding: .3rem .21rem;background: #fff;width: 100%;box-sizing: border-box;}*/
.info_head{margin-top: .9rem;padding: .3rem .21rem;background: #fff;width: 100%;box-sizing: border-box;}
.huoniao_iOS .info_head{margin-top: 0}
.info_head .left_b{width: 1.2rem;height: 1.2rem;float: left;}
.info_head .left_b img{width: 100%;height: 100%;object-fit:cover;border-radius: 50%}
.info_head .right_b{margin-left: 1.37rem;position: relative;}
.info_head .man_head{height: .36rem;line-height: .36rem;padding-top: .13rem;}
.info_head .man_head .man_name{font-size: .32rem;display: inline-block;margin-right: .21rem }
.info_head .man_head .man_info{font-size: .28rem;display: inline-block;color: #97989C}
.info_head .man_head .man_info .age{margin-left: .1rem}
.info_head .man_head .health{font-size: .24rem;display: inline-block;color: #00af62;padding: 0 .16rem;height: .36rem;line-height: .36rem;border-radius: .18rem;background: #ccefe0;margin-left: .37rem}
.info_head .old_info3{font-size: .24rem;margin-top: .24rem;color: #636466;}
.info_head .old_info3 img{width: .24rem;height: .28rem;margin-right: .18rem}
.info_head .old_info3 span{display: inline-block;overflow:hidden;}
.info_head .old_info3 .sec_span{max-width: 5.2rem;text-overflow: ellipsis;white-space: nowrap;}
.info_content{margin-top: .2rem;background: #fff;width: 100%;padding-bottom: calc(1.8rem + constant(safe-area-inset-bottom));padding-bottom: calc(1.8rem + env(safe-area-inset-bottom));padding-bottom:1.8rem;}
.huoniao_iOS .info_content{position: absolute;top: 1.74rem;}
.info_content .detail_tit{height: 1rem;line-height: 1rem;padding-left: .24rem;color: #00af62;border-bottom: 1px solid #E8E9EB;font-size: .36rem}
.info_content ul li{border-bottom: 1px solid #E8E9EB;font-size: .28rem;padding: .26rem .38rem}
.info_content ul li span{display: inline-block;vertical-align: top}
.info_content ul li span:first-child{color: #97989C;margin-right: .3rem;width: 2rem;text-align: right}
.info_content span.tag{padding: 0 .15rem;background:#00af62;color: #fff;margin-left: .09rem;height: .32rem;line-height: .32rem;border-radius: .06rem;font-size: .22rem }
.info_content ul li span:last-child{max-width: 4.4rem}
.detail_bot{position: fixed;bottom:0;left: 0;right: 0;padding: .2rem .25rem;background: #fff;padding-top: 0;z-index: 2;bottom: calc(constant(safe-area-inset-bottom));bottom: calc(env(safe-area-inset-bottom));box-sizing: border-box;}
.footMenu{}
.detail_bot ul{width: 100%}
.detail_bot ul li{height: .88rem;line-height: .88rem;font-size: .3rem;color: #fff;text-align: center;width: 50%;}
.detail_bot ul li .phone_img{width: .41rem;height: .38rem;vertical-align: middle;margin-top: -.05rem;margin-right: .23rem}
.detail_bot ul li.contact{background: #FF6600;border-radius:.44rem 0px 0px .44rem;float: left;}
.detail_bot ul li.invite{background: #00AF62;border-radius:0px .44rem .44rem 0px;float: right;}
/*预约权限弹出层*/
.info_mask2{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.7); z-index: 999999;display: none;}
.info_con2{position: fixed; left: 50%; margin-left: -3rem; top: 50%; margin-top: -2.4rem; width: 6rem;  box-sizing: border-box;background-color:#fff;  z-index: 9999; border-radius: .3rem;    overflow: hidden;}
.info_con2 p.t1{font-size: .32rem;font-weight: bold;text-align: center;margin-top: .98rem}
.info_con2 p.t2{margin-top: .4rem;font-size: .28rem;text-align: center;color: #a0a0a0;line-height: .42rem}
.info_con2 p.t2 span{color: #00af62}
.info_con2 p.t3{color: #00af62;width: 100%;height: .9rem;text-align: center;line-height: .9rem;margin: .7rem auto 0;background: #f2f7f4;font-size: .34rem;border-top: 1px solid #dcdde0}

/*参观弹出层*/
.info_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.7); z-index: 999999;visibility: hidden;}
.info_con{position: fixed; left: 50%; margin-left: -3.2rem; top: 50%; margin-top: -3.4rem; width: 6.4rem;  box-sizing: border-box;background-color:#fff;  z-index: 9999; border-radius: .3rem;overflow: hidden;}

.info_con p.t1{font-size: .32rem;font-weight: bold;text-align: center;margin-top: .35rem}
.info_inp{margin: 0 .5rem;border-radius: .06rem;margin-top: .3rem;border: 1px solid #dcdde0;padding-top: .24rem;padding-bottom: .3rem}
.info_inp .tip{padding-left: .22rem;font-size: .28rem}
.info_inp textarea{border: none;-webkit-appearance:none;color: #babbbf;width: 100%;box-sizing: border-box;font-size: .28rem;resize : none;padding: 0 .25rem 0  .22rem;margin-top: .24rem;height: 1.1rem}
.info_con form{padding: 0 .5rem;}
.info_con form input{background: #fff;padding-left: 21px;height: .8rem;line-height: .8rem;-webkit-appearance:none;margin-top: .2rem;font-size: .28rem;color: #333;width: 100%;box-sizing: border-box;border-radius: .06rem;border: 1px solid #dcdde0;}
.info_con form input::placeholder{color: #babbbf}
.info_con ul{margin-top: .4rem;border-top: 1px solid #dcdde0;}
.info_con ul li{height: .9rem;text-align: center;line-height: .9rem;font-size: .34rem;background: #fff;width: 50%;box-sizing: border-box}
.info_con ul li.cancel{float: left;border-right: 1px solid #dcdde0}
.info_con ul li.sure{float: right;}
.info_con ul li.active{background:#f2f7f4;color: #00AF62; }

/*预约成功弹出层*/
.org_mask2{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.7); z-index: 999999;display: none;}
.org_con2{position: fixed; left: 50%; margin-left: -3rem; top: 50%; margin-top: -2.4rem; width: 6rem;  box-sizing: border-box;background-color:#fff;   z-index: 9999; border-radius: .3rem;overflow: hidden;padding-top: 1.06rem}

.org_con2 p.t1{margin-top: .15rem;font-size: .3rem;text-align: center;}
.org_con2 p.t2{margin-top: .2rem;font-size: .26rem;text-align: center;color: #a0a0a0}
.org_con2 p.t3{color: #00af62;width: 100%;height: .9rem;text-align: center;line-height: .9rem;margin: .7rem auto 0;background: #f2f7f4;font-size: .34rem;border-top: 1px solid #dcdde0}
/* 波纹效果 */
.org_con2 .wave {position:relative;width:50px;height:50px;text-align:center;margin:0 auto;}
.org_con2 .m-box{width:.68rem;height:.68rem;position:relative;margin: 0 auto;border-radius:50%;border:3px solid #00af62;background: #dff2ea}
.org_con2 .m-duigou{width:.3rem;height:.27rem;position:absolute;left:50%;top:50%;margin:-.18rem 0 0 -.15rem;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden}
.org_con2 .m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#00af62;border-radius:2px}
.org_con2 .m-duigou:before{width:3px;height:.27rem;left:0;-webkit-animation:dgLeft 0.5s linear 0s 1 both;animation:dgLeft 0.5s linear 0s 1 both}
.org_con2 .m-duigou:after{width:.3rem;height:3px;bottom:0;-webkit-animation:dgRight 0.5s linear 0.5s 1 both;animation:dgRight 0.5s linear 0.5s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@keyframes circle-opacity {from {opacity:1;transform:scale(0);}
to {opacity:0.5;transform:scale(1);}
}

/*查看联系方式弹出层*/
.contact_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.7); z-index: 999999;display: none;}
.contact_con{position: fixed; left: 50%; margin-left: -3rem; top: 50%; margin-top: -2.4rem; width: 6rem;  box-sizing: border-box;background-color:#fff;  padding-top:.4rem; z-index: 9999; border-radius: .3rem;overflow: hidden;}
.contact_con p.t1{font-size: .34rem;text-align: center;}
.contact_con ul{margin-top: .4rem;}

.contact_con ul li{font-size: .32rem;padding: 0 .3rem;color: #666;border-top: 1px solid #edeeef;height: .87rem;line-height: .87rem}
.contact_con ul li a{color: #666}
.contact_con ul li img{vertical-align: middle;}
.contact_con .phone{position: relative;}
.contact_con .phone img{width: .32rem;height: .32rem;margin-right: .3rem}
.contact_con .phone:after{content: '';position: absolute;border-top: 3px solid #c0c1c5;width: .14rem;height: .12rem;border-right: 3px solid #c0c1c5;transform: rotate(45deg);right: .3rem;top: .33rem}

.contact_con .wechat img{width: .36rem;height: .29rem;margin-right: .26rem}
.contact_con .email img{width: .36rem;height: .29rem;margin-right: .26rem}
.contact_con p.t3{color: #00af62;width: 100%;height: .9rem;text-align: center;line-height: .9rem;background: #f2f7f4;font-size: .34rem;border-top: 1px solid #dcdde0}