.topfixed{position: fixed!important;top:0;left:0;right:0;z-index: 100!important;    box-shadow: 0 0 0.1rem #eee;}
body{background: #f5f5f7;width: 100%;}
body, html{height: 100%}
.mobileSelect{position: fixed;}
html{-webkit-overflow-scrolling:touch}
/*头部幻灯片部分*/
.banner{margin-top: .9rem}
.huoniao_iOS .banner{margin-top: 0}
.banner .wrapper {position: relative;}
.banner .wrapper .swiper-container {color: #fff;text-align: center;}
.banner .wrapper .swiper-container .slideshow-item {-webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative;}
.banner .wrapper .swiper-wrapper img {display: block;}
.banner .wrapper .swiper-wrapper .slideinfo {display: none;}
.banner .wrapper .pagination {position: absolute;z-index: 20;left: 0;bottom: .1rem;width: 100%;}
.banner .wrapper .swiper-pagination-switch {display: inline-block;width: 0.12rem;height: 0.12rem;border-radius: 0.16rem;background: #555;margin-right: 5px;opacity: 0.8;border: 1px solid #fff;}
.banner .wrapper .swiper-active-switch {background: #fff;}
.banner .wrapper .swiper-dynamic-links {text-align: center;}
.banner .wrapper .swiper-pagination-bullet{opacity: 0.5;}
.banner .wrapper .swiper-pagination-bullet-active{width: .37rem!important;height:.11rem;border-radius: 1rem;background: #fff!important;opacity: 1!important;}
.banner .wrapper .swiper-pagination-bullet{width: .11rem;height: .11rem;background: #d6e5f6;opacity: .5;    transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 3px;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{text-align: center;}

.banner .wrapper .swiper-wrapper a{color: #fff}

.pos_sz{position: absolute;  left: .25rem;  top: 1.2rem;  box-sizing:border-box;padding-left:.24rem;color:#fff;width: 1.3rem;  height: .44rem; line-height: .44rem; z-index: 42;background-color: rgb(0, 0, 0);  opacity: 0.369; border-radius: .5rem;font-size: .28rem}
.huoniao_iOS .pos_sz{position: absolute;  left: .25rem;  top: .2rem; }
.pos_sz:after{content: ''; display: inline-block; width: .1rem; height: .1rem; border-top:.02rem solid  #fff; border-right: solid .02rem #fff; transform: rotate(135deg); margin-left: .13rem; margin-bottom: .08rem;}
.head-search-box{width: 100%; max-width: 10rem; margin: auto; position: absolute; top: 1.2rem; z-index: 2;}
.head-search{margin-left: .24rem; margin-right: .24rem; color: #fff; overflow: hidden;}
/* 搜索 */


/* 搜索 */
.search-form {padding:.23rem .24rem;position: relative;}
.search-form .sobj {height:.7rem;border:2px solid #07B268;border-radius:.08rem;line-height:.7rem;display:-webkit-box;width:7rem;float:left;}
.search-form .type {position:relative;-webkit-box-flex:2;text-align: center;}
.search-form .type:after {position:absolute;content:"";right:.05rem;top:50%;width:1px;height:.46rem;margin-top:-.23rem;background:linear-gradient(#fff7f8,#07B268,#fff7f8);}
.search-form .type a {display:block;font-size:.24rem;color:#333;}
.search-form .type i {display:inline-block;width:.28rem;height:.28rem;margin-top:-.02rem;vertical-align:middle;margin-left:.1rem;background:url('../images/pos.png') no-repeat center;background-size:70%;}
.search-form .type label {display:inline-block;vertical-align:middle;min-width:.5rem;max-width:1.8rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:-.03rem;font-size: .28rem;}
.search-form .type s {display:inline-block;vertical-align:middle;border-right:1px solid #a0a0a0;border-bottom:1px solid #a0a0a0;width:.1rem;height:.1rem;transform:rotate(45deg);margin:-.12rem 0 0 .1rem;}
.search-form .inp {-webkit-box-flex:6;}
.search-form .inp form {position:relative;display:block;color:#a0a0a0;padding-left:.1rem;}
.search-form .inp input{width: 65%;height: .5rem;border: none;background: #f7f7f7;}
.search-form .inp s {position:relative;width:.24rem;height:.24rem;margin-top:-.02rem;display:inline-block;vertical-align:middle;}
.search-form .inp s:before {position:absolute;content:"";left:0;top:0;width:.16rem;height:.16rem;border:1px solid #a0a0a0;border-radius:50%;}
.search-form .inp s:after {position:absolute;content:"";left:.19rem;top:.15rem;transform:rotate(-45deg);width:1px;height:.08rem;overflow:hidden;background:#a0a0a0;}
.search-form .inp span {position:absolute;right:0;top:0;width:1.22rem;height:.7rem;background:#07B268;color:#fff;font-size:.3rem;text-align:center;}
.search-form .qiandao {float:left;margin-left:.1rem;width: 1rem; height: .76rem;line-height: .76rem;border-radius: .08rem;background: #ffc834;text-align: center; color: #fff;font-size: .3rem;}
/*搜索类型选择*/
.typelist{display:none;border-radius: .16rem;background-color: rgb(255, 255, 255);box-shadow: 0px 1px 5px 0px rgba(0, 18, 52, 0.15);width: 1.7rem;position: absolute;top:1.2rem;padding:0 .1rem;z-index: 2}
.typelist.show{display: block;}
.typelist p{padding:.2rem 0;border-bottom:solid 1px #eee;font-size: .28rem;color: #999;text-align: center;}
.typelist p:last-child{border-bottom: 0;}
.qiandao a{color:#fff;}

/*公共class*/
.pubBox{padding:.24rem;margin-bottom:.14rem;box-sizing: border-box;background:#fff;box-shadow: 0 0 .3rem rgba(231,231,231,.75);}


/*滚动信息*/ 
.tcNews{height:1.4rem;padding:.18rem .25rem;margin-bottom: 0}
.tcNews .lBox{ width: .88rem;float: left}
.tcNews .lBox img{width: .88rem;}
.tcNews .mBox a{display: block;position: relative;}
.tcNews .mBox p{float:left;line-height:.45rem;padding:0 .1rem; font-size:.26rem;height: .4rem}
.tcNews .mBox a span{display: inline-block;vertical-align: top;}
.tcNews .mBox p span:first-child{margin-left: .2rem;margin-right: .15rem}
.tcNews .mBox p span:nth-child(3){max-width:2.6rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #07B268}
.tcNews .mBox .swiper-wrapper{height: 1rem;}
.tcNews .pagination{display: none;}
/*滑动导航*/
.tcInfo{padding: 0.35rem 0;position: relative;overflow: hidden; padding-bottom: 0;margin-bottom: 0}
.tcInfo ul{overflow: hidden;}
.tcInfo li{ margin-bottom: .35rem;}
.tcInfo li,.convenience li{width: 25%;float: left;text-align: center;}
.tcInfo li a,.convenience li a{display: block;}
.tcInfo li span.icon-circle{padding-bottom: .16rem!important;}
.tcInfo li span.icon-circle,.convenience li span.icon-circle{display: block;width: 1.5rem;margin: 0 auto;padding-top: .1rem; padding-bottom: .1rem;}
.tcInfo li span.icon-txt,.convenience li span.icon-txt{font-size: .24rem;color: #39393b}
.tcInfo li span img,.convenience li span img{display: block;width: 1.06rem;height: 1.02rem;margin: 0 auto;}
.tcInfo .swiper-wrapper{height: auto !important;margin-bottom: .1rem;}
.tcInfo .swiper-pagination-bullet{width: .09rem;height: .09rem;background: #e4e4e4;opacity: 1;    transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;}
.tcInfo .swiper-pagination-bullet-active{width: .4rem!important;height:.11rem;border-radius: 1rem;background: #f88031!important;opacity: 1!important;}

/*在线报价 、免费设计*/
.publish{padding:.2rem .24rem .13rem;font-size: 0;}
.publish li{text-align: center;float: left;width: 3.4rem;position: relative;}
.publish li:first-child{margin-right: .22rem;}
.publish li img{width: 100%;height: 100%;display: block;border: none}
.publish .publish_p{font-size: .3rem;position: absolute;top:0;left: 0;right: 0;line-height: 1rem}
.publish .publish_p a{color: #fff}

/*广告位*/

.left_adv{width: 3.75rem;height:2.39rem;float: left; border-right: .01rem solid #e8eced}
.left_adv img{width: 100%;height: 100%;object-fit:cover;}
.right_adv{width: 3.74rem;height:2.39rem;float: right;}
.right_adv img{width: 100%;height: 100%;object-fit:cover;}


/*公共头部*/
.org_div{padding-right: .24rem;padding-left: .24rem}
 .title{font-size: .32rem;font-weight: bold;color: #111112;display: inline-block;}
 .com_more{display: inline-block;float: right;}
 .com_more span{font-size: .28rem;color: #97989C;}

/*推荐养老机构*/
.org_list{padding: .3rem 0 .4rem;background: #fff;margin-top: .2rem;  box-shadow: 0px 2px 6px 0px rgba(214, 214, 214, 0.3);}

.org_service{background: #fff;margin-top:.3rem;width: 100%;overflow: hidden;padding-left: .23rem;box-sizing: border-box;}
.org_service .swiper-container {width: 100%;overflow:visible;}
.org_service .swiper-slide {width:4.4rem;margin-right: .2rem}
.org_service .org_img{ width: 4.4rem;height: 3.3rem;border-radius: .1rem}
.org_service .org_img img{width:100%;height:100%;border-radius: .1rem;object-fit: cover;}
.org_service .org_title{font-size: .28rem;color: #000;margin-top: .15rem;max-width:4.4rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.org_service .old_type{    display: inline-block;color: #07B268;border:1px solid #07B268;height:.3rem;line-height: .3rem;padding: 0 .16rem;border-radius: .16rem;font-size: .22rem;margin-top: .1rem}

/*广告位*/

.org_adv{padding: .3rem .25rem;margin-top: .2rem;background: #fff}
.org_adv li img{width: 100%;height: 2rem;border-radius: .1rem}
.org_adv li:last-child{margin-top: .2rem}
/*热门机构排行*/
.reno_design{padding: .3rem 0 .4rem;background: #fff;margin-top: .2rem; }
.reno_design .reno_tab ul{font-size: 0;position: relative;padding-left: .23rem}
.reno_design .reno_tab ul:after{content: '';position: absolute;bottom: -1px;width: 100%;height: 1px;background: #DCDEE3;left: 0}
.reno_design .reno_tab li{padding-bottom: .25rem;text-align: center;font-size: .28rem;font-weight: bold;color: #BABBBF;display: inline-block;position: relative;margin-right: .8rem;}
.reno_design .reno_tab li:last-child{margin-right: .3rem}
.reno_design .reno_tab li.active{color: #111112;font-size: .32rem}
.reno_design .reno_tab li.active:after{content: '';position: absolute;bottom: 0;width: 100%;height: .06rem;background: #07B268;left: 0;box-shadow:0px 3px 5px 0px rgba(34,177,115,0.29);}

.tabs_container{margin-top: .32rem;padding-left: .23rem}
.tabs_container .design_container{display: none;animation: rightFadeIn .5s ease-out;}
.tabs_container .div_show{display: block;}
.design_container .old_ul {font-size: 0;    overflow-x: auto;    white-space: nowrap;-webkit-overflow-scrolling:auto;}
.design_container .old_li{width: 4.4rem;position: relative;display: inline-block;margin-right: .2rem}
.design_container .old_li .order_img{width: 4.4rem;height: 3.3rem;}
.old_li .order_img img{width:100%;height:100%;border-radius: .1rem;object-fit: cover;}
.old_li .list_title{font-size: .28rem;max-width: 4.4rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-top: .12rem}
.old_li .order_span{position: absolute;left: 0;top: 0;display: inline-block;width: .8rem;height: .32rem;border-top-right-radius: .15rem;border-bottom-right-radius: .15rem;font-size: .24rem;padding-left: .1rem;box-sizing: border-box;background: #dbdce2}
.old_li .order_span.first{background: #ffbabd}
.old_li .order_span.second{background: #ffe7b2}
.old_li .order_span.third{background: #cff0ce}
.list_info{margin-top: .15rem}
.list_info .info_ul{position: relative;float: left;background-image: url(../images/star_no.png);width: 1.3rem;height: .26rem;background-size: .26rem .26rem}
.list_info .info_ul li {position: absolute;display: block;height: .26rem;background-image: url(../images/star_yes.png);background-size: .26rem .26rem}

/* .list_info .info_ul li{width: .23rem;height: .22rem;float: left;background: url(../images/no.png) no-repeat center;background-size: .23rem .22rem;margin-right: .05rem;position: relative;}
.list_info .info_ul li.active{background: url(../images/yes.png) no-repeat center;background-size: .23rem .22rem} */

.list_info .list_num{font-size: .24rem;color: #BABBBF;float: right;height: .23rem;line-height: .23rem}

/*开放参观日*/
.list_info2 {margin-top: .1rem}
.list_info2 span{display: inline-block;overflow:hidden;}
.list_info2 .visit_day{width: .8rem;height: .34rem;line-height: .34rem;text-align: center;font-size: .22rem;color: #fff;margin-right: .09rem;background: #00af62}
.list_info2 .visit_time{max-width: 3.4rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: .24rem;color: #97989c}
/*入住有奖*/
.list_info3 {margin-top: .15rem}
.list_info3 .award_day{display: inline-block;width: .3rem;height: .3rem;line-height: .3rem;text-align: center;font-size: .22rem;color: #fff;margin-right: .09rem;background: #00af62;border-radius: .04rem;background-image: -moz-linear-gradient( 45deg, rgb(255,133,63) 0%, rgb(253,89,33) 100%);background-image: -webkit-linear-gradient( 45deg, rgb(255,133,63) 0%, rgb(253,89,33) 100%);background-image: -ms-linear-gradient( 45deg, rgb(255,133,63) 0%, rgb(253,89,33) 100%);overflow:hidden;}
.list_info3 .award_time{display: inline-block;max-width: 3.9rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: .24rem;color: #97989c}
.list_info3 .award_time span{color: #ff6600}

/*机构养老*/
.old_org{background: #fff;margin-top: .2rem;padding: .3rem 0 .1rem}
.old_org .org_div{border-bottom: 1px solid #E8E9EB;padding-bottom: .3rem}
.org_content{padding: .2rem .23rem 0}
.org_content ul{display: flex;justify-content: space-between;flex-wrap: wrap;}
.org_content ul li{width: 3.4rem;margin-bottom: .3rem;	}
.org_content .old_img{width: 100%;height: 2.58rem}
.org_content .old_img img{width: 100%;height: 100%;object-fit:cover;border-radius: .06rem}
.org_content .old_info{max-width: 3.4rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: .28rem;text-align: center;margin-top: .1rem}


/*以上为新css*/


/*底部菜单*/
.mask {display: none;width: 100%;background: #fff;position: fixed;top: 0;right: 0;z-index: 202;  bottom: 0;opacity: .8!important;}
.mask.show{display: block;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;transition: all .3s ease;}
.footMenu{position: fixed;bottom:2.1rem;right: .3rem;width:.8rem;height:.8rem;-webkit-transition: all 1s ease;-moz-transition: all 1s ease;transition: all 1s ease; z-index: 203}
.footMenu .menu{position: absolute;right: 0;top: 0;width:.8rem;height:.8rem;border-radius:50%; -webkit-transition: all 1s ease;-moz-transition: all 1s ease;transition: all 1s ease;}
.footMenu .menu i{display:block;width: .8rem;height: .8rem;    border-radius: 50%;background:url(../images/add.png) no-repeat center center;background-size: contain;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;transition: all .3s ease; }
.mIcon{width:.8rem;position: absolute;top:0;right: 0;background:#fff;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;transition: all .3s ease;border-radius: 50%; }
.mIcon i{display:block;width:.8rem;height: .8rem;border-radius: 50%;box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.13);}
.mIcon.wx i{background:url(../images/wxIcon.png) no-repeat center center;background-size:cover;}
.mIcon.my i{background:url(../images/icon_my.png) no-repeat center center;background-size: cover;}
.mIcon.gt i{background:url(../images/gt.png) no-repeat center center;background-size: .3rem .36rem;}
.mIcon span{text-align: center;padding:.05rem 0;display: block;font-size: .28rem;color:#333;font-weight: 600;}

.footMenu>.menu.m_active i{background:#fff url(../images/icon_add.png) no-repeat center center;background-size: contain;box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.13);-webkit-transition: all .3s ease;-moz-transition: all .3s ease;transition: all .3s ease; -webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);}
.mIcon.gt.m_curr{transform: translate(0px, -150px);-webkit-transition: all .1s ease;-moz-transition: all .1s ease;transition: all .1s ease ; }
.mIcon.wx.m_curr{transform: translate(0px, -100px);-webkit-transition: all .3s ease;-moz-transition: all .1s ease;transition: all .1s ease; }
.mIcon.my.m_curr{transform: translate(0px, -50px);-webkit-transition: all .6s ease;-moz-transition: all .1s ease;transition: all .1s ease ; }
.footMenu>.mIcon.close{ opacity: 0}


/* iPhoneX适配 */
.footMenu{bottom: calc(2.1rem + constant(safe-area-inset-bottom));bottom: calc(2.1rem + env(safe-area-inset-bottom));}


 /*微信客服*/
.m-wx{text-align: center;}
.m-wx .modal-main .weixin h4{font-size: .28rem;color:#333;}
.m-wx .modal-main .weixin img{margin:.34rem auto;width:50%;border:solid 1px #eee;}
.m-wx .modal-main .weixin h5{font-size: .26rem;color:#a0a0a0;padding-bottom: .5rem;}

.empty{text-align: center; line-height: 1rem;}

.ren_adv li:nth-child(1){width: 3.73rem;height: 2.39rem;float: left;border-right: .01rem solid #e8eced;}
.ren_adv li:nth-child(2){width: 3.74rem;height: 2.39rem;float: right;}

.ren_adv{list-style-type:none;}

body{padding-bottom: 1.2rem; padding-bottom: constant(1rem + safe-area-inset-bottom);padding-bottom: env(1rem + safe-area-inset-bottom);}



.areaChose{position: absolute; top: .32rem; left: .24rem; color: #fff; font-size: .26rem; background-color: rgba(51,51,51,.5); height: .4rem; border-radius: .2rem; z-index: 9; min-width: 1.2rem; display: flex; align-items: center; justify-content: center; padding: 0 .1rem; box-sizing: border-box; }
.areaChose span{display: block; max-width: 1.1rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.areaChose::after{content: ''; display: block; width: .2rem ;height: .2rem; background: url(/static/images/city_arr.png) no-repeat center; background-size: cover; margin-left: .1rem;}
.banner{position: relative;}