/*顶部固定*/
.header{position: fixed;left: 0;right: 0;}


/*详情头部轮播*/
.content{padding-top: .9rem}
.huoniao_iOS .content {padding-top: 0;}
.topSwiper {position:relative;overflow:hidden;height:5.5rem;}
.topSwiper .swiper-slide {position:relative;height:5.5rem;}
.topSwiper .swiper-slide img {width:100%;height:auto;position:relative;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);}
.topSwiper .swiper-pagination {position:absolute;right:.25rem;bottom:.3rem;left:auto;width:auto;padding:.04rem .2rem;line-height:.4rem;text-align:right;background:rgba(0,0,0,.5);color:#fff;border-radius:.4rem;font-size:.26rem;z-index:11;}
.topSwiper .swiper-pagination .swiper-pagination-current{font-size: .36rem}

/*标签*/
.markBox {width:50%;text-align:center;position:absolute;bottom:.3rem;right:25%;z-index:1;}
.pmark {display:inline-block;color:#404040;border-radius:.23rem;background:rgba(255,255,255,.502);margin:0 .125rem;font-size:.22rem;padding:0.04rem .2rem;}
.pmark.curr {background:#f23b56;color:#fff;}
.imgplay {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);}
.imgplay img {width:.9rem!important;height:.9rem;top:0!important;transform:translateY(0)!important;-webkit-transform:translateY(0)!important;}

/*全屏*/
.videoModal {width:100%;height:100%;position:fixed;z-index:-1;top:0;left:0;bottom:0; visibility: hidden; opacity: 0;}
.videoModal.vshow {visibility:visible; opacity: 1;z-index:999999;}
.videoModal .swiper-container {width:100%;height:100%;background:#000;}
.videoModal .vClose {position:absolute;top:.22rem;left:.2rem;width:.5rem;height:.5rem;display:block;background:url(../images/vclose.png) no-repeat center center;background-size:.5rem;z-index:11;background-color:rgba(0,0,0,.5);border-radius:50%;}
.videoModal .swiper-pagination {position:absolute;left:50%;bottom:.25rem;width:auto;height:.45rem;line-height:.5rem;padding:.04rem .2rem;line-height:.4rem;text-align:right;color:#fff;border-radius:.4rem;font-size:.26rem;z-index:9;margin-left:-.4rem;}
.videoModal .swiper-slide {width:100%!important;height:100%}
.videoModal .swiper-slide img {width:100%;height:auto;position:relative;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);}
.videoModal video {height:4.4rem;position:absolute;top:50%;margin-top:-2.2rem;}
.videoModal .swiper-slide iframe {width:100%;height:100%;border:none;}

#tcPlayer {width: 100%; height:4.4rem;left: 0;position:absolute;top:50%;margin-top:-2.2rem;}
#tcPlayer img {transform: translateY(0); -webkit-transform: translateY(0); left: 0; top: 0;}

/*内容头部*/
.con_head{background: #fff;padding: .3rem .24rem}
/*.org_title{height: .32rem;line-height: .36rem}*/
.org_title .org_h3{font-size: .4rem;display: inline-block;max-width: 5rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-weight: bold;}
.org_title s{display: inline-block;width: 1.3rem;height: .32rem;background: url(../images/try2.png) center center no-repeat;margin-left: .14rem;background-size:100%;    vertical-align: top;margin-top: .15rem}
.org_p{font-size: .24rem;color: #FF6600;}
.org_p em{font-size: .48rem;font-weight: bold;}
.com1{margin-top: .15rem}

.info_ul{position: relative;float: left;background-image: url(../images/star_no.png);width: 1.3rem;height: .26rem;background-size: .26rem .26rem;margin-right: .1rem;}
.info_ul li {position: absolute;display: block;height: .26rem;background-image: url(../images/star_yes.png);background-size: .26rem .26rem}

/* .info_ul{float: left;    vertical-align: middle;margin-top: .05rem;margin-right: .13rem} */
/* .info_ul li{width: .23rem;height: .22rem;float: left;background: url(../images/no.png) no-repeat center;background-size: .23rem .22rem;margin-right: .05rem;position: relative;} */
/* .info_ul li.active{background: url(../images/yes.png) no-repeat center;background-size: .23rem .22rem} */

.com1 span{display: inline-block;padding: 0 .1rem;height: .3rem;border-radius: .15rem;font-size: .2rem;margin-right: .08rem;line-height: .32rem}
.com1 .org_ser{background: #ccefe0;color: #00af62;}
.com1 .org_car{background: #d7f0f8;color: #37b4db;}

.vis_con{margin-top: .24rem;}
.vis_con .visit_day{display: inline-block;width:.8rem;height:.34rem;background:#00AF62;text-align: center;line-height: .34rem;color: #fff;font-size: .22rem;margin-right: .27rem;}
.vis_con .vis_info2{font-size: .24rem;color: #97989C;}
.vis_con .order{color: #FF6600;font-size: .24rem;}
.con_content{margin-top: .2rem;padding-bottom: calc(2rem + env(safe-area-inset-bottom));padding-bottom: calc(2rem + constant(safe-area-inset-bottom));padding-bottom: 2rem;}

.con_content .info_left{background: #fff;}
.con_content .info_left dl{height: .88rem;line-height: .88rem;border-bottom: 1px solid #E8E9EB;padding: 0 .24rem;position: relative;}
.con_content .info_left dl:last-child{margin-bottom: none}
.con_content .info_left dt{margin-right: .11rem;display: inline-block;width: .34rem;overflow:hidden;}
.con_content .info_left dt img{width: .34rem;height: .34rem;vertical-align: middle;margin-top: -.07rem;}
.con_content .info_left dd{display: inline-block;font-size: .28rem;color: #636466;max-width: 6rem;text-overflow: ellipsis;white-space: nowrap;overflow:hidden; }
.con_content .spe_dl:after{content: '';position: absolute;width: .2rem;height: .2rem;border-top: 2px solid #d5d7da;border-right: 2px solid #d5d7da;transform: rotate(45deg);right: .24rem;top: .33rem}
.con_content .spe_dl>a {display: inline-block;width: 100%;height: 100%;}
.det_con1{margin-top: .2rem;background: #fff}
.det_h2{height: 1rem;line-height: 1rem;font-size: .36rem;color: #00AF62;font-weight: bold;border-bottom: 1px solid #E8E9EB;padding: 0 .24rem;}
.det_pro{font-size: .28rem;line-height: .48rem;color: #666666;padding: .28rem .24rem .4rem}
.look_more{text-align: center;height: .88rem;line-height: .88rem;font-size: .28rem;color: #666;border-top: 1px solid #E8E9EB}
.look_more i{display: inline-block;width: .26rem;height: .26rem;background: url(../images/look_more.png) no-repeat center;background-size: 100%;margin-left: .11rem;vertical-align: middle;margin-top: -.05rem;}

/* 费用详细 */
.det_con2 dl{height: 1.18rem;line-height: 1.18rem;padding: 0 .24rem;position: relative;}
.det_con2 dt{margin-right: .2rem;display: inline-block;}
.det_con2 dt img{width: .8rem;height: .8rem;border-radius: 50%;    vertical-align: middle;margin-top: -.1rem;}
.det_con2 dd{display: inline-block;font-size: .28rem; }
.det_con2 dl:after{content: '';position: absolute;width: .2rem;height: .2rem;border-top: 2px solid #d5d7da;border-right: 2px solid #d5d7da;transform: rotate(45deg);right: .24rem;top: .5rem}
.det_con2 dl a{display: block;}
.det_con2 dd span{font-size: .22rem;color: #FF6600;position: absolute;right: .53rem;}
.det_con2 dd em{font-size: .3rem;font-weight: bold;}
/*相册 */
.det_con3 .det_h2 a{display: inline-block;float: right;font-size: .28rem;color: #666;font-weight: normal;}
.det_con3 ul{padding:.2rem .24rem .1rem;display: flex;justify-content: space-between;flex-wrap: wrap;}
.det_con3 li{float: left;width: 3.4rem;position: relative;margin-bottom: .2rem}
.det_con3 .det_img{width: 3.4rem;height: 2.54rem;}
.det_con3 .det_img img{width: 100%;height: 100%;object-fit: cover;}
.det_con3 .det_p{position: absolute;left: 0;bottom: 0;height: .6rem;line-height: .6rem;    background-color:rgba(0,0,0,.6);
text-align: center;width: 100%;color: #fff;font-size: .24rem; padding:0;}

/*评论 */

.det_con4 .det_h2 a{display: inline-block;float: right;font-size: .28rem;color: #97989C;font-weight: normal;padding-left: .4rem;background: url(../images/comment.png) no-repeat left .4rem;background-size: .28rem .26rem;}
.goodCom{padding:.24rem 0 .6rem;}
.goodCom .gleft{width:28%;padding:0 .25rem;float: left;text-align: center;}
.goodCom .gleft p.code{font-size: .48rem;color:#FF6600;margin-top: .2rem;height: .38rem;line-height: .38rem;}
.goodCom .gleft p.all_code{font-size: .24rem;color:#666;margin-top: .2rem;}
.goodCom .gleft .info_ul{margin-right: 0;margin:0 auto;display: inline-block;float: none;margin-top: .08rem}
.goodCom .gright{width:58%;padding:0 .25rem;float: left;border-left:solid .02rem #eee;}
.goodCom .gright .proBox span{font-size: .26rem;color:#333;display: inline-block;}
.goodCom .gright .proBox .progress{position: relative;display: inline-block;width: 65%;height: .16rem;margin: 0 .1rem;background: #eee;border-radius:.16rem;}
.goodCom .gright .proBox .progress s{display:block;position:absolute;left:0;height: .16rem;background: #f79810;border-radius:.16rem;width:0;transition:width .3s ease-out;}
.goodCom .gright .proBox span.num{color:#a0a0a0;}
/*全部评论*/
.goodMark{padding:0 .14rem .27rem ;}
.goodMark ul li{padding:0 .3rem;height: .56rem;background: #fff;border-radius: .28rem;float: left;color:#666;    font-size: .24rem;line-height: .56rem;border: 1px solid #CBCDD1;margin:0 .1rem .2rem;}

.goodMark ul li.active{background: #FF6600;color:#fff;border: 1px solid #FF6600;}

/*评论列表*/
.all_ul{padding: 0 .24rem}
.comm_li{padding: .24rem 0;border-bottom: 1px solid #DEDEDE}
.comm_li:last-child{border-bottom: none}
.comm_li .pic_l{width: .6rem;height: .6rem;float: left;}
.comm_li .pic_l img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%}
.comm_li .right_c{margin-left: .74rem;}
.right_c .peo_name{font-size: .26rem;height: .21rem;line-height: .21rem;margin-top: .05rem;color:#5A5C5E }
.right_c .comm_p{font-size: .3rem;margin-top: .3rem;color:#393A3B ;line-height: .4rem}
.comm_li ul{margin-top: .2rem;white-space: nowrap;overflow: hidden;}
.right_c li{display: inline-block;margin-right: .1rem;width: 2rem;height: 2rem}
.right_c li img{width: 100%;height: 100%}
.right_c .pub_time{font-size: .24rem;color: #999;margin-top: .4rem;}
.right_c .pub_time .clock{margin-left: .35rem}
.pub_time .pub_hd{float: right;}

.pub_hd .zan_num{background: url(../images/zan.png) no-repeat left .02rem;padding-left: .4rem;background-size:.28rem .26rem ;margin-right: .1rem;display: inline-block;}
.pub_hd .zan_num.active{background: url(../images/zan1.png) no-repeat left .02rem;background-size:.28rem .26rem ;}
.img_ul{position: relative;}
.img_ul .img_num{position: absolute;bottom: .2rem;right: .2rem;padding: 0 .23rem;height: .5rem;line-height: .5rem;border-radius: .25rem;background: rgba(0,0,0,0.4);color: #fff;font-size: .28rem}


/*参观弹出层*/
.info_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.7); z-index: 999999;visibility: hidden;}
.info_con{position: fixed; left: 50%; margin-left: -3.2rem; top: 50%; margin-top: -3.4rem; width: 6.4rem;  box-sizing: border-box;background-color:#fff;  z-index: 9999; border-radius: .3rem;overflow: hidden;}

.info_con p.t1{font-size: .32rem;font-weight: bold;margin-top: .35rem;padding-left: .5rem}
.info_con p.t2{font-size: .28rem;margin-top: .35rem;padding-left: .5rem}

.info_con form{padding: 0 .5rem;}
.info_con form input{background: #fff;padding-left: 21px;height: .8rem;line-height: .8rem;-webkit-appearance:none;margin-top: .2rem;font-size: .28rem;color: #333;width: 100%;box-sizing: border-box;border-radius: .06rem;border: 1px solid #dcdde0;}
.info_con form input::placeholder{color: #babbbf}
.info_con ul{margin-top: .4rem;border-top: 1px solid #dcdde0;}
.info_con ul li{height: .9rem;text-align: center;line-height: .9rem;font-size: .34rem;background: #fff;width: 50%;box-sizing: border-box}
.info_con ul li.cancel{float: left;border-right: 1px solid #dcdde0}
.info_con ul li.sure{float: right;}
.info_con ul li.active{background:#f2f7f4;color: #00AF62; }

/*预约成功弹出层*/
.org_mask2{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.7); z-index: 999999;display: none;}
.org_con2{position: fixed; left: 50%; margin-left: -3rem; top: 50%; margin-top: -2.4rem; width: 6rem;  box-sizing: border-box;background-color:#fff;   z-index: 9999; border-radius: .3rem;overflow: hidden;padding-top: 1.06rem}

.org_con2 p.t1{margin-top: .15rem;font-size: .3rem;text-align: center;}
.org_con2 p.t2{margin-top: .2rem;font-size: .26rem;text-align: center;color: #a0a0a0}
.org_con2 p.t3{color: #00af62;width: 100%;height: .9rem;text-align: center;line-height: .9rem;margin: .7rem auto 0;background: #f2f7f4;font-size: .34rem;border-top: 1px solid #dcdde0}
/* 波纹效果 */
.org_con2 .wave {position:relative;width:50px;height:50px;text-align:center;margin:0 auto;}
.org_con2 .m-box{width:.68rem;height:.68rem;position:relative;margin: 0 auto;border-radius:50%;border:3px solid #00af62;background: #dff2ea}
.org_con2 .m-duigou{width:.3rem;height:.27rem;position:absolute;left:50%;top:50%;margin:-.18rem 0 0 -.15rem;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden}
.org_con2 .m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#00af62;border-radius:2px}
.org_con2 .m-duigou:before{width:3px;height:.27rem;left:0;-webkit-animation:dgLeft 0.5s linear 0s 1 both;animation:dgLeft 0.5s linear 0s 1 both}
.org_con2 .m-duigou:after{width:.3rem;height:3px;bottom:0;-webkit-animation:dgRight 0.5s linear 0.5s 1 both;animation:dgRight 0.5s linear 0.5s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@keyframes circle-opacity {from {opacity:1;transform:scale(0);}
to {opacity:0.5;transform:scale(1);}
}


/* 全部机构简介页面*/
.pro_content{padding-top: .9rem;height: 100%;background: #fff;}
.huoniao_iOS .pro_content{padding-top: 0;}
.pro_content .all_pro{font-size: .28rem;line-height: .48rem;color: #666666;padding: .28rem .24rem 0;text-indent: 2em}
.pro_content .all_pro2{padding-bottom: .6rem}

/*交通图*/
#allmap{width:100%;height:7.65rem;}
.map_content{padding-bottom: calc(2rem + env(safe-area-inset-bottom));padding-bottom: calc(2rem + constant(safe-area-inset-bottom));background: #fff;padding-top: .9rem;padding-bottom:2rem;}

.huoniao_iOS .map_content{padding-top: 0}
.map_content ul{padding-top: .36rem}
.map_content ul li{font-size: .24rem;color: #666;padding:0 .21rem;margin-bottom: .25rem;line-height: .42rem}
.map_content ul li span{display: inline-block;vertical-align: top;}
.map_content ul li span:first-child{color: #333;width: 1.3rem;text-align: right;margin-right: .1rem}
.map_content ul li span:last-child{max-width: 5.6rem;}


.comment_wrap {padding-top: 1.2rem;padding-bottom: calc(2rem + env(safe-area-inset-bottom));padding-bottom: calc(2rem + constant(safe-area-inset-bottom));background: #fff;padding-bottom:2rem;}
.huoniao_iOS .comment_wrap {padding-top: .3rem;}
.empty{text-align: center;padding: .2rem;}
/*国际区号*/
.info_con form .inpbdr{    margin-top: .2rem;border-radius: .06rem;    border: 1px solid #dcdde0;width: 100%;
    box-sizing: border-box;}
.info_con form .inpbdr .areacode_span{text-indent: 21px;}
.info_con form input#info_phone{border: none;margin-top: 0;width: 60%;padding-left: 0}
.layer_code{z-index: 1000001}