/*头部*/
/*__更新 start__*/
.header{position: fixed;left: 0;right: 0;}
/*__更新 end__*/


/*列表*/
.com_li .old_info1{font-size: .22rem;margin-top: .2rem;color: #FF6600;    height: .23rem;line-height: .23rem;margin-top: .27rem}
.com_li .old_info1 span{font-size: .24rem;color: #97989C}
.com_li .old_info1 em{font-size: .3rem;font-weight: bold;}

.com_li .old_info2{font-size: .24rem;margin-top: .18rem;color: #636466;margin-top: .2rem}
.com_li .old_info2 img{width: .34rem;height: .34rem;margin-right: .08rem}
.com_li .old_info2 span{display: inline-block;overflow:hidden;}
.com_li .old_info .sec_span{max-width: 2.7rem;text-overflow: ellipsis;white-space: nowrap;}

.com_li .old_call{position: absolute;right: 0;bottom:0;width: .8rem;height: .8rem;border-radius: 50%;border: 1px solid #00AF62;box-shadow:0px 5px 15px 0px rgba(1,147,84,0.32);background:#fff  url(../images/call.png) center center no-repeat;background-size: .36rem .36rem;}
.empty{text-align: center; line-height: 1rem;padding: .2rem}

.com_li .old_info {font-size: .22rem;margin-top: .2rem;color: #FF6600;height: .23rem;line-height: .23rem;}
.com_li .old_info1 {margin-top: .27rem;}
.com_li .old_info span {font-size: .24rem;color: #97989C;}
.com_li .old_info em {font-size: .3rem;font-weight: bold;}
.com_li .old_info2 {font-size: .24rem;margin-top: .16rem;color: #636466;line-height: unset;}