.stage-wrap  .sectionStage{margin: 30px 20px 0;background: #F8F8F8;padding-top: 20px;padding-bottom: 10px}
.finishEdit{display: inline-block;width: 300px;height: 32px;line-height: 32px;text-align: center;font-size:14px; background: #477EEE;border-radius: 3px;color: #fff;margin-left: 44px;margin-top: 20px;cursor: pointer}
.result{padding: 10px 20px;}
.item .edit, .item.editing .result {display: none;}
.item.editing .edit {display: block;}

.item .g-btns {visibility: hidden;}
.item.editing .g-btns {visibility: visible;}
.item.normal:hover .g-btns {visibility: visible;border-top-color: #eee;}
 .g-btns-right{margin-left: 37px;padding-top: 10px;margin-right: 37px;border-top: 1px solid #F8F8F8;margin-top: 10px;}

 .g-btns-right a {display: inline-block!important;height: 24px;line-height: 24px;padding:0 5px;margin-left: 7px;border:1px solid #eee;}
 .g-btns-right .icon {display: inline-block;background-image: url('../../../images/fabu_vote.png');background-repeat:no-repeat;vertical-align: middle;vertical-align: middle;margin:-2px 7px 0 0;}

.icon_edit {width:12px;height:14px;background-position: -59px -64px;}
.icon_down {width:25px;height:26px;background-position: -25px -0;}
.icon_down2 {width:16px;height:16px;background-position: -33px -46px;}
.icon_copy {width:13px;height:14px;background-position: -62px -26px;}
.icon_up2 {width:16px;height:16px;background-position: -17px -46px;}
.icon_bottom {width:15px;height:15px;background-position: -0 -64px;}
.icon_top {width:15px;height:15px;background-position: -49px -46px;}
.icon_del1 {width:14px;height:14px;background-position: -45px -64px;}

.addNew {display: block;height: 48px;line-height: 48px;border:1px dashed #a1c0ff;color: #477eee;font-size: 14px;text-align: center;background: #eff4ff;margin: 20px;}

.sBtn{margin-left: 20px;overflow: hidden;}

.img_wrap .pic{float: left;width: 200px;height: 200px;margin: 20px 20px 0 0;}
.img_wrap .pic img{width: 100%;height: 100%;object-fit: cover;}

.result .tit{font-size: 16px;font-weight: bold;}
.result .descrip{font-size: 14px;}