.mask_pl{position: fixed; top: 0; left: 0; right: 0 ; bottom: 0; background: rgba(0,0,0,.7); z-index: 100000; display: none;}

/* 商品链接关联 */
/* .mask_pl{display: block;} */
.link_pro{height: 90%; position: fixed; top:50%; left: 50%; background: #fff; z-index: 100001; border-radius: 10px;width: 700px;margin-left: -350px;margin-top: -340px;display: none}
.link_pro h1,.link_in h1{font-size: 24px; color: #000; text-align: center; position: relative; line-height: 80px; font-weight: bold; border-bottom: solid 1px #EBEBED;}
.link_pro h1 a,.link_in h1 a{color: #999; font-size: 14px; position: absolute; right: 30px; font-weight: normal; top: 0;}
.link_pro h1 a.sure_btn,.link_in h1 a.sure_btn{color: #212121;display: none;}
.link_in h1 a{position: absolute; top: 0; right: 30px;}
.link_in h1{position: relative;}
.link_pro .search_box{margin: 20px 20px; background: #F2F2F2; border-radius: 10px; height: 55px; position: relative;}
.link_pro .search_box:before{content: ''; display: block; width: 30px; height: 30px; background: url(../../images/f_search.png) no-repeat center; background-size: cover;position: absolute; left: 24px; top: 13px;}
.link_pro .search_box input{background: none; border: none; width: 100%; box-sizing: border-box; font-size: 15px; padding: 15px 60px; padding-left: 72px;box-shadow: none; }
.link_pro .search_box input:placeholder{color: #B3B3B3;}
.link_pro .search_box i.clear,.pro_show .li_show  i.clear{display: none; width: 30px; height: 30px; background: url(../../images/f_clear.png) no-repeat center; background-size: cover; position: absolute; top: 16px; right: 16px;cursor: pointer;}

.pro_box{overflow: auto; position: absolute; top: 170px; bottom: 0;  box-sizing: border-box; left: 0; right: 0;-webkit-overflow-scrolling: touch;}
.pro_box ul{margin: 0}
.pro_li.chosed,.tp_li.chosed,.posi_li.chosed{position: relative;}
.pro_li.chosed:before,.tp_li.chosed:before,.posi_li.chosed:before{content: ''; display: block; width: 30px; height: 30px; background: url(../../images/f_chose.png) no-repeat center; background-size: cover; position: absolute; right: 34px; bottom: 40px;}
.pro_li{padding: 16px 30px; overflow: hidden; position: relative;}
.pro_li:after,.topic_box .tp_li:after{content: ''; display: block; left: 110px; height: 1px; background: #EBEBED; position: absolute; bottom: 0; right: 0;}
.pro_li .left_proimg{width: 80px; height: 80px; float: left; position: relative;}
.pro_li .left_proimg img{width: 100%; height: 100%; object-fit: cover; border-radius: 10px;}
.pro_li .left_proimg i{font-size: 12px; color: #fff; background: rgba(0,0,0,.57); display: inline-block; padding: 0 10px; position: absolute; top: 0; left: 0; border-radius: 10px 0 10px 0;}
.pro_li .right_info{margin-left: 110px; height: 80px}
.pro_li .right_info h2{font-size: 16px; color: #000; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;margin: 0;line-height: 26px}
.pro_li .right_info p{color: #FC3A4A; font-size: 16px; font-weight: 500; margin-top: 10px}
.pro_li .right_info p em{font-size: 14px;}


.link_in{height:450px; position: fixed; top:50%; left: 50%; background: #fff; z-index: 100001; border-radius: 10px;width: 700px;margin-left: -350px;margin-top: -225px;display: none}
.l_inbox{margin: 20px 30px; border-radius: 10px; height: 120px; background: #F2F2F2; padding: 28px; box-sizing: border-box; -webkit-user-select:text}
.l_inbox span{color: #B3B3B3; font-size: 15px;}
.l_inbox span:before{content: ''; display: inline-block; width: 32px; height: 32px; background: url(../../images/f_link1.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: 4px; margin-right: 10px;}

/* 已选的 商品链接 */
.pro_show ul{margin-left: 0;padding: 0;}
.pro_show li { position: relative; margin-top: 10px;border-radius: 8px; padding: 10px;background: #F5F5F5;float: left;width: 450px;margin-right: 10px;-moz-user-select:none; -webkit-user-select:none; -ms-user-select:none; -khtml-user-select:none; user-select:none;min-height:18px;list-style: none}
.pro_show li.holder {background:none;}
.pro_show .li_show .l_img{float: left; width: 80px; height: 80px; border-radius: 10px; overflow: hidden;}
.pro_show .li_show .l_img img{width: 100%; height: 100%; object-fit: cover;}
.pro_show .li_show .r_info{margin-left: 110px;}
.pro_show .li_show .r_info h2{color: #333; font-size: 15px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; margin-right: 80px;line-height: 20px}
.pro_show .li_show .r_info p{color: #999; font-size: 14px; margin-top: 12px}
.pro_show .li_show i.clear{display: block; top: 36px; right: 10px; }
.pro_show .li_show[data-type="link"] .r_info p{display: none;}
/* 外链链接 */
.link_info{margin: 40px 30px;}
.link_info .li_l{margin-right: 182px; padding-top: 20px;}
.link_info .li_l input{font-size: 18px; color: #333; border: none; font-weight: bold;    width: 80%;box-shadow: none}
.link_info .li_l input::placeholder{color: #B3B3B3;}
.link_info .li_l p{color: #B3B3B3; font-size: 14px; opacity: .66; margin-top: 20px;}

.link_info .li_r{float: right; position: relative;width: 120px; height: 120px;border: dashed 3px #C8CACF;  border-radius: 10px;cursor: pointer;}
.link_info .li_r a.liup_btn{display: block;   border-radius: 10px;box-sizing: border-box; position: absolute;left: 0;right: 0;bottom: 0;left: 0}
.link_info .li_r img.liimg{width: 100%; height: 100%; object-fit: cover; border-radius: 10px; background: #000;}

.liup_btn i{display: block; width: 48px; height: 48px; background: url(../../images/f_add.png) no-repeat center; background-size: cover; margin: auto;}
.liup_btn p{color: #8D8E91; font-size: 14px; text-align: center; margin-top: 10px;}
.li_r .del_liimg{display: none;}

.li_r #filePicker2{width: 120px;height: 120px;background: none;}
.li_r .listImgBox{width: 120px;height: 120px;}
.li_r ul#listSection2{width: 100%;height: 100%;}
.li_r ul#listSection2 li{width: 100%;height: 100%;}
.li_r ul#listSection2 li img{width: 120px!important;height: 120px!important;}
.li_r ul#listSection2 li .reupload{width: 30px; height: 30px; background: url(../../images/f_del.png) no-repeat center; background-size: cover; position: absolute; top: -10px; right: -10px; z-index: 9;font-size: 0}

.progress {position: absolute;  right: 4px; bottom: 4px; height: 3px; left: 4px; height: 4px; overflow: hidden; z-index: 15; margin:0; padding: 0; border-radius: 0; background: transparent;}
.progress span {display: block; overflow: hidden; width: 0; height: 100%; background: #499c00 url('https://pic.xiant.ao/static/js/webuploader/progress.png') repeat-x; -webit-transition: width 200ms linear; -moz-transition: width 200ms linear; -o-transition: width 200ms linear; -ms-transition: width 200ms linear; transition: width 200ms linear; -webkit-animation: progressmove 2s linear infinite; -moz-animation: progressmove 2s linear infinite; -o-animation: progressmove 2s linear infinite; -ms-animation: progressmove 2s linear infinite; animation: progressmove 2s linear infinite; -webkit-transform: translateZ(0);}
@-webkit-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@-moz-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}

.loading{text-align: center;padding-top: 30px}
