<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#if $typeid == 0#}家居装修效果图_家庭装修效果图-{#elseif $typeid == 1#}公装效果图大全-{#/if#}{#$renovation_title#}</title>
<meta name="keywords" content="{#$renovation_keywords#}" />
<meta name="description" content="{#$renovation_description#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/design.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$renovation_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}',templatePath = '{#$templets_skin#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
	var atpage = 1, totalCount = 0, pageSize = 14;
	var hideFileUrl = {#$cfg_hideUrl#};
	var thumbSize = {#$thumbSize#}, thumbType = '{#$thumbType#}', atlasSize = {#$atlasSize*1024*1024#}, atlasType = '{#$atlasType#}', atlasMax = 1;
</script>
</head>

{#$pageUrl = {#getUrlPath service='renovation' template='albums'#}#}

<body class="w1200">
{#$pageCurr = 'albums'#}
{#include file="top.html"#}
<!-- 导航条 s -->
<div class="wrap">
	<ul class="breadcrumb">
		<li>{#$langData['renovation'][14][41]#}：</li>  {#* 您的位置 *#}
		<li><a href="{#$renovation_channelDomain#}" target="_blank">{#$langData['siteConfig'][0][0]#}</a><span>&gt;</span></li> {#* 首页 *#}
		<li class="thispg"><a href="{#$pageUrl#}" target="_blank">{#$langData['renovation'][0][8]#}</a></li>  {#* 效果图 *#}
	</ul>
</div>
<!-- 导航条 e -->
<div class="wrap des_wrap fn-clear">
	<div class="lf">
		<div class="reno_form">
		  <form action="" method="get">
		    <img src="{#$templets_skin#}images/search.png" alt="">
		    <input type="text" placeholder="{#$langData['renovation'][14][82]#}..." value="" name="keywords" id="keywords">  {#* 搜索效果图 *#}
		    <div class="renoform_go"><button>{#$langData['renovation'][0][1]#}</button></div>  {#* 搜索 *#}
		  </form>		  
		</div>
		<div class="choose_type">
			<dl>
				<dt>{#$langData['renovation'][3][34]#}</dt>     {#* 类别 *#} 
				<dd>
					
					<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} type=0#}#J_crumbs"{#if $type == 0#} class="curr"{#/if#}>{#$langData['renovation'][3][38]#}</a>     {#* 家装 *#} 
					
					<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} type=1#}#J_crumbs" {#if $type == 1#} class="curr"{#/if#}>{#$langData['renovation'][3][39]#}</a>     {#* 工装 *#} 
				</dd>
			</dl>
			
			<dl>
				<dt>{#$langData['renovation'][3][36]#}</dt>     {#* 风格 *#} 
				<dd>
					
					<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} style=''#}#J_crumbs" class="first{#if $style == 0#} curr{#/if#}">{#$langData['renovation'][3][0]#}</a>   {#* 全部 *#} 
                    {#renovation action="type" return='type' type='4'#}
					<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} style={#$type.id#}#}#J_crumbs"{#if $style == $type.id#} class="curr"{#/if#}>{#$type.typename#}</a>
					{#/renovation#} 
					
				</dd>
			</dl>
			{#if $typeid == 0#}
			<dl>
				<dt>{#$langData['renovation'][5][35]#}</dt>  {#* 空间 *#} 
				<dd>
					
					<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} kongjian=''#}#J_crumbs" class="first{#if $kongjian == 0#} curr{#/if#}">{#$langData['renovation'][4][28]#}</a>    {#* 不限 *#}
			        {#renovation action="type" return='type' type='533'#}
					<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} kongjian={#$type.id#}#}#J_crumbs"{#if $kongjian == $type.id#} class="curr"{#/if#}>{#$type.typename#}</a>
					{#/renovation#}
					
				</dd>
			</dl>
			<dl>
				<dt>{#$langData['renovation'][5][44]#}</dt>    {#* 局部 *#} 
				<dd>
					
					<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} jubu=''#}#J_crumbs" class="first{#if $jubu == 0#} curr{#/if#}">{#$langData['renovation'][4][28]#}</a>    {#* 不限 *#}
			        {#renovation action="type" return='type' type='545'#}
					<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} jubu={#$type.id#}#}#J_crumbs"{#if $jubu == $type.id#} class="curr"{#/if#}>{#$type.typename#}</a>
					{#/renovation#} 
								
				</dd>
			</dl>
			
			<dl>
				<dt>{#$langData['renovation'][2][4]#}</dt>    {#* 户型 *#} 
				<dd>
					
					<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} units=''#}#J_crumbs" class="first{#if $units == 0#} curr{#/if#}">不限</a>
					{#renovation action="type" return='type' type='8'#}
					<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} units={#$type.id#}#}#J_crumbs"{#if $units == $type.id#} class="curr"{#/if#}>{#$type.typename#}</a>
					{#/renovation#}
					
				</dd>
			</dl>
			{#/if#}
			<dl>
				<dt>{#$langData['renovation'][2][6]#}</dt>    {#* 造价 *#} 
				<dd>					
					<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} apartment=''#}#J_crumbs" class="first{#if $apartment == 0#} curr{#/if#}">不限</a>
					{#renovation action="type" return='type' type='6'#}
					<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} apartment={#$type.id#}#}#J_crumbs"{#if $apartment == $type.id#} class="curr"{#/if#}>{#$type.typename#}</a>
					{#/renovation#}
				</dd>
			</dl>
			{#if $typeid == 1#}
			<dl>
				<dt>{#$langData['renovation'][2][1]#}</dt>  {#* 类型 *#}
				<dd>
					<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} comstyle=''#}#J_crumbs" class="first{#if $comstyle == 0#} curr{#/if#}">{#$langData['renovation'][4][28]#}</a>    {#* 不限 *#}
					{#renovation action="type" return='type' type='3'#}
					<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} comstyle={#$type.id#}#}#J_crumbs"{#if $comstyle == $type.id#} class="curr"{#/if#}>{#$type.typename#}</a>
					{#/renovation#}
				</dd>
			</dl>
			{#/if#}
		</div>

	</div>
	<div class="lr">
		<!-- 风格大图 列表 s -->
		<div id="container" class="container">
			{#renovation action="rcase" return='rcase' type={#$typeid#} style={#$style#} comstyle={#$comstyle#} kongjian={#$kongjian#} jubu={#$jubu#} units={#$units#} apartment={#$apartment#} title={#$keywords#} page={#$page#} pageSize='100'#}
			<div class="item" id="{#$rcase.id#}">
				<div class="inner">
					<div class="pic">
						
                      {#if $rcase.picarr#}
                      	<img  height="{#resizeImageSize pic_width={#$rcase.picwidth#} pic_height={#$rcase.picheight#} maxwidth="290" maxheight={#$rcase.picheight#} return="height"#}" src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$rcase.picarr[0].picpath#}" alt="{#$rcase.title#}" class="design_img">
                      {#else#}
                      	{#$src = {#changeFileSize url={#$rcase.litpic#} type='o_large'#}#}
						<img  height="{#resizeImageSize pic_width={#$rcase.picwidth#} pic_height={#$rcase.picheight#} maxwidth="290" maxheight={#$rcase.picheight#} return="height"#}" src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$src#}" alt="{#$rcase.title#}" class="design_img">
                      {#/if#}
					</div>
					<div class="info fn-clear">
						<p class="name" title="{#$rcase.title#}">{#$rcase.title#}</p>
						<p class="num"><span>{#$rcase.countpics#}</span>张</p>
					</div>
				</div>
			</div>
			{#/renovation#}
		</div>
		{#if $pageInfo.totalCount == 0#}
		<div class="empty">{#$langData['renovation'][12][15]#}</div>  {#* 抱歉！ 暂无相关效果图！ *#}
		{#/if#}
		<!-- 风格大图 列表 e -->

	</div>
</div>

<script type="text/javascript">
	var totalCount = {#$pageInfo.totalCount|string_format:"%d"#};
</script>
{#include file="bottom.html"#}

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.waterfall.min.js"></script>
  <script type="text/javascript" src="{#$templets_skin#}js/albums.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/design.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/designpicd.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
