<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$detail_title#}-{#$renovation_title#}</title>
<meta name="keywords" content="{#$renovation_keywords#}" />
<meta name="description" content="{#$renovation_description#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/case_detail.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<style>
	.wrap {width: 1200px;}
</style>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$renovation_channelDomain#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
	var collectType = 'case-detail',detailId = '{#$detail_id#}';
    var imconfig = {
            'mod':'renovation',
            'chatid':"{#$detail_author['userid']#}",
            'title': '{#$detail_title#}',
            "price": '',
            "imgUrl": '{#$detail_litpicpath#}',
            "link": '{#getUrlPath service="renovation" template="case-detail" id=$detail_id#}',
        }                   
</script>
</head>
<body>
{#$pageCurr = "case"#}
{#include file="top.html"#}
<!-- 条件筛选 s -->
<div class="wrap wrap_header">
	<div class="left_img"><img src="{#if $detail_litpicpath#}{#$detail_litpicpath#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt=""></div>
	<div class="right_b">
		<h2 class="vill_title">{#$detail_title#}</h2>
		<ul class="fn-clear">
			<li><span>{#$langData['renovation'][2][1]#}：</span><span>{#if $detail_type == 0#}家装{#else#}公装{#/if#}</span></li>      {#* 类型 *#}
			<li><span>{#$langData['renovation'][2][4]#}：</span><span>{#$detail_units#}</span></li>      {#* 户型 *#}
			<li><span>{#$langData['renovation'][2][3]#}：</span><span>{#$detail_style#}</span></li>      {#* 风格 *#}
			<li><span>{#$langData['renovation'][2][5]#}：</span><span>{#$detail_area#}{#$langData['renovation'][11][14]#}</span></li>      {#* 面积--  平*#}
			<li><span>{#$langData['renovation'][2][6]#}：</span><span>{#$detail_price#}{#$langData['renovation'][9][22]#}{#echoCurrency type='short'#}</span></li>      {#* 造价 *#}
			<li><span>{#$langData['renovation'][2][2]#}：</span><span>{#$detail_btype#}</span></li>      {#* 方式 *#}
			<li><span>{#$langData['renovation'][2][7]#}：</span><span>{#$detail_began|date_format:"%Y-%m-%d"#}</span></li>      {#* 开工 *#}
			<li><span>{#$langData['renovation'][2][8]#}：</span><span>{#$detail_end#}</span></li>      {#* 竣工 *#}
		</ul>
      
		<div class="com_con fn-clear {#if $detail_ftype!=0#}selfCon{#/if#}">
			{#if is_array($detail_author)#}
			<div class="re_img">
				<a href="{#$detail_author['domain']#}"><img src="{#if $detail_ftype==0#}{#$detail_author['logo']#}{#else#}{#$detail_author['photo']#}{#/if#}" alt=""></a>
			</div>
			{#/if#}
			<div class="re_txt">
				<div class="re_top">
					{#if is_array($detail_author)#}
						<a href="{#$detail_author['domain']#}">{#if $detail_ftype==0#}{#$detail_author['company']#}{#else#}{#$detail_author['name']#}{#/if#}</a>
						{#if $detail_author['company']==0 && $detail_ftype == 1#}<span>独立工长</span>{#/if#}
						{#if $detail_author['company']==0 && $detail_ftype == 2#}<span>独立设计师</span>{#/if#}
						{#if $detail_ftype==0#}
						{#if $row.safeguard >0#}<i class="defend" title="该公司已交{#$detail_safeguard#}{#echoCurrency type='short'#}保障金"></i>{#/if#}
						{#if $row.certi == 1#}<i class="certify" title="认证公司"></i>{#/if#}
						{#/if#}
					{#/if#}
				</div>
              	{#if $detail_ftype!=0#}
              	<div class="lxCon">
                    <span class="contact chat_to-Link" data-type="user">
                        <img src="{#$templets_skin#}images/contact.png" alt="">
                    </span>
                    {#* 立即预约 *#}
                    <a href="{#$detail_author['domain']#}" class="ljyy">{#$langData['renovation'][0][20]#}</a>
                </div>
              	{#/if#}
              {#if $detail_ftype==0#}
				{#if is_array($detail_author)#}
				<div class="re_phone">
				  {#if $userinfo#}
                  <a href="tel: {#$detail_author['contact']#}">{#$detail_author['contact']#}</a>
                  {#else#}
                  <a href="{#$cfg_basehost#}/login.html"><em>登录后查看</em></a>
                  {#/if#}
              	</div>
				{#/if#}
              {#/if#}
			</div>			
		</div>
      	{#if $detail_ftype==2#}
			{#if is_array($detail_author)#}
      		<div class="otherInfo">
          <dl>
            {#*工作经验 --年 -- 暂无工作经验*#}
              <dt>{#$langData['renovation'][7][22]#}</dt>
              <dd>{#if $detail_author['works']>0#}{#$detail_author['works']#}{#$langData['renovation'][7][23]#}{#else#}{#$langData['renovation'][14][72]#}{#/if#}</dd>
          </dl>
          <dl>
            {#*作品 -- 套 -- 暂无作品*#}
              <dt>{#$langData['renovation'][12][33]#}</dt>
              <dd>{#if $detail_author['case']>0#}{#$detail_author['case']#}{#$langData['renovation'][12][34]#}{#else#}{#$langData['renovation'][14][76]#}{#/if#}</dd>
          </dl>
          <dl>
            {#*擅长风格 *#}
              <dt>{#$langData['renovation'][2][21]#}</dt>
              <dd>{#$detail_author['style']#}</dd>
          </dl>
     	</div>
			{#/if#}
		{#elseif $detail_ftype==1#}
			{#if is_array($detail_author)#}
        	<div class="otherInfo">
            <dl>
              {#*工龄 -- 年--暂无工作经验*#}
                <dt>{#$langData['renovation'][0][20]#}</dt>
                <dd>{#if $detail_author['works']>0#}{#$detail_author['works']#}{#$langData['renovation'][7][23]#}{#else#}{#$langData['renovation'][14][72]#}{#/if#}</dd>
            </dl>
            <dl>
              {#*年龄 -- 岁*#}
                <dt>{#$langData['renovation'][5][1]#}</dt>
                <dd>{#$detail_author['age']#}{#$langData['renovation'][8][23]#}</dd>
            </dl>
            <dl>
              {#*案例  -- 套 -- 暂无作品*#}
                <dt>{#$langData['renovation'][0][24]#}</dt>
                <dd>{#if $detail_author['case']>0#}{#$detail_author['case']#}{#$langData['renovation'][12][34]#}{#else#}{#$langData['renovation'][14][76]#}{#/if#}</dd>
            </dl>
        </div>
			{#/if#}
      	{#/if#}
      	{#if $detail_ftype==0#}
		<div class="prove">
			{#if is_array($detail_author)#}
			{#if $detail_ftype ==0#}
			{#* 案例 -- 1套 *#}
			<p class="anli"><span>{#$langData['renovation'][0][24]#}</span><span>{#$langData['renovation'][14][75]|replace:'1':$detail_author['caseCount']#}</span></p>
			{#* 工地 -- 1个*#}
			<p class="site"><span>{#$langData['renovation'][0][25]#}</span><span>{#$langData['renovation'][14][81]|replace:'1':$detail_author['diaryCount']#}</span></p>

			{#* 工长 -- 1个 *#}
			<p class="forman"><span>{#$langData['renovation'][0][34]#}</span><span>{#$langData['renovation'][14][81]|replace:'1':$detail_author['diaryCount']#}</span></p>

			{#* 设计师 -- 1个 *#}
			<p class="artist"><span>{#$langData['renovation'][0][4]#}</span><span>{#$langData['renovation'][14][81]|replace:'1':$detail_author['teamCount']#}</span></p>

			{#else#}
			{#* 案例 -- 1套 *#}
			<p class="anli"><span>{#$langData['renovation'][0][24]#}</span><span>{#$langData['renovation'][14][75]|replace:'1':$detail_author['case']#}</span></p>
			{#/if#}
			{#/if#}
		</div>
		{#/if#}

		<div class="btn_group">
			{#* 已收藏 *#}  {#* 收藏 *#}
			<a href="javascript:;" class="store-btn{#if $detail_collect == 1#} curr{#/if#}"><button><em></em><span>{#if $detail_collect == 1#}{#$langData['renovation'][2][13]#}{#else#}{#$langData['renovation'][2][11]#}{#/if#}</button></a>
			<a class="share-btn newBtn_share" data-title="{#$detail_title#}" data-pic="{#$detail_litpic#}"><button><em></em>{#$langData['renovation'][2][12]#}</button></a>  {#* 分享 *#}
		</div>
	</div>

</div>
<!-- 条件筛选 e -->

<div class="wrap main fn-clear">

	<div class="main-left">
		<div class="tab_container">
			<!--  选项卡 s  -->
			<ul class="vill_tab">
				<li class="active">{#$langData['renovation'][2][0]#}</li>   {#* 案例详情 *#}
			</ul>
			<!--  选项卡 e  -->
			<div class="tab_content">	
				{#if $detail_unitspic != ""#}			
				<div class="layout">
					<h3 class="lay_head">{#$langData['renovation'][9][25]#}</h3>   {#* 平面户型图 *#}
					<div class="lay_con">
						{#foreach from =$detail_unitspicarr item = "units" #}
                        <img src="{#$units['path']#}" alt="" class="detail_img">
                        {#/foreach#}
					</div>
				</div>
				{#/if#}
				<div class="real">
					<h3 class="lay_head">{#$langData['renovation'][0][8]#}</h3>   {#* 效果图 *#}
					<div class="lay_con">
						{#foreach from=$detail_picsarr item="pics"#}
                        <img src="{#$pics['path']#}" alt="" class="detail_img">
                        {#/foreach#}
					</div>

				</div>
			</div>

		</div>
		
	</div>

	<div class="main-right fn-right">

		<div class="recom bor_right">
			<h3 class="new_reno">{#$langData['renovation'][14][11]#}</h3>   {#* 猜你喜欢 *#}
			<ul>
				{#renovation action="diary" return="diary" pageSize="3"#}
				<li>
					<a href="{#$diary.url#}">
						<div class="recom_img"><img src="{#if $diary.litpic#}{#$diary.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';"></div>
						<div class="reno4_bottom">
							<p class="anli_title">{#$diary.title#}</p>
							<div class="anli_info">
								{#* 万 *#}
								<span>{#$diary.area#}m² | {#$diary.style#} | {#$diary.price#}{#$langData['renovation'][9][22]#} | {#$diary.btype#}</span>
							</div>
						</div>
					</a>
				</li>
				{#/renovation#}
			</ul>
		</div>
	</div>
</div>

{#include file="bottom.html"#}

</body>
</html>
