<div class="main-left fn-left">
		
	<div class="lf_forman1 lf_boxshadow">
		<div class="top_b"><img src="{#$detail_logo#}" alt="{#$detail_company#}" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_40.jpg';"></div>
		<p class="lf_name">{#$detail_company#}{#if $detail_certi == 1#}<img src="{#$templets_skin#}images/certify.png" alt="" title="认证公司">{#/if#}{#if $detail_safeguard >0#}<img src="{#$templets_skin#}images/defend.png" alt="该公司已交{#$detail_safeguard#}{#echoCurrency type='short'#}保障金">{#/if#}</p>
		<p class="lf_phone">
           {#if $userinfo#}       
           <a href="tel:{#$detail_contact#}">{#$detail_contact#}</a>
          {#else#}
          <a href="{#$cfg_basehost#}/login.html"><em>登录后查看</em></a>
          {#/if#}
        </p>
		<ul class="lf_ul fn-clear">
			{#* 地址 *#}
			<li><p>{#$langData['renovation'][2][19]#} </p><p class="lf_addr">{#$detail_addr[$detail_addr|count-2]#} {#$detail_addr[$detail_addr|count-1]#} {#$detail_address#}<em></em></p></li>

			{#* 网址 *#}
			<li><p>{#$langData['renovation'][12][8]#} </p><p>{#$detail_url#}</p></li>			
		</ul>
	</div>
	<div class="design_content lf_boxshadow">
		<ul class="free_tab fn-clear">
			<li class="onlin_price active">{#$langData['renovation'][9][1]#}</li> {#* 在线报价 *#}
			<li class="free_design">{#$langData['renovation'][11][16]#}</li> {#* 在线预约 *#}
		</ul>
		<div class="con con_show">
			{#* 今天已有 *#}  {#* 户业主在线报价 *#}
			<p class="design_num">{#$langData['renovation'][11][8]#}<span>2768</span>{#$langData['renovation'][14][26]#}</p>
			<div class="formCommon">
				<form action="" class="price_form">
					<div class="form-row">	
						<div class="in fn-clear" id="addrlist">
							<select id="addr1" class="select_l" name="addr1">
								{#* 区域 *#} 
								<option value="">{#$langData['renovation'][11][10]#}</option> 
								{#renovation action="addr" return="addr" son="0"#}
								<option value="{#$addr.id#}">{#$addr.typename#}</option>
								{#/renovation#}
							</select>
							<select id="addr2" class="select_r" name="addr2">
								{#* 街道 *#}  
								<option value="">{#$langData['renovation'][11][11]#}</option>
								
							</select>
						</div>
					</div>
					<div class="house_type" >
						<select id="house_type" name="house_type">
							<option value="0">{#$langData['renovation'][2][4]#}</option>  {#* 户型 *#}
							{#renovation action="type" return='type' type='8'#}
							<option value="{#$type.id#}">{#$type.typename#}</option>
							{#/renovation#} 						
						</select>
					</div>
					<div class="house_area">
						{#* 请输入面积 *#}  
							<input type="text" placeholder="{#$langData['renovation'][9][28]#}" name="house_area" id="house_area"><span class="mills">m²</span>				
					</div>
					
					{#* 您的称呼 *#} 
					<input type="text" placeholder="{#$langData['renovation'][0][16]#}" name='price_name' id="price_name">
							
					<div class="inpbox">
						<span class="areaCode"><i>+{#$internationalPhoneSection[0]['code']#}</i><s></s></span>
						{#* 您的手机号 *#} 
						<input type="text" placeholder="{#$langData['renovation'][0][17]#}" name='price_phone' id="price_phone">	
						<!--国际区号弹窗-->
						<div class="areaCode_wrap areaCode_wrap2">
							<ul>
								
							</ul>
						</div>
						<input type="hidden" name="areaCode" id="areaCode1" class="areaCodeinp" value="{#$internationalPhoneSection[0]['code']#}">
					</div>							
				</form>
				<p class="design_submit" id="submit_price" data-id="{#$detail_id#}" >{#$langData['renovation'][0][18]#}</p> {#* 立即获取报价 *#}
			</div>
		</div>
		<div class="con ">
			{#* 今天仅剩 *#}   {#* 个免费名额 *#}
			<p class="design_num">{#$langData['renovation'][12][11]#}<span>27</span>{#$langData['renovation'][12][12]#}</p>
			<div class="formCommon">
				<form action="" class="price_form">
					{#* 您的称呼 *#} 
					<input type="text" placeholder="{#$langData['renovation'][0][16]#}" name='order_name' id="order_name">
					<div class="inpbox">
						<span class="areaCode"><i>+{#$internationalPhoneSection[0]['code']#}</i><s></s></span>
						{#* 您的手机号 *#} 
						<input type="text" placeholder="{#$langData['renovation'][0][17]#}" name='order_phone' id="order_phone">
						<!--国际区号弹窗-->
						<div class="areaCode_wrap areaCode_wrap2">
							<ul>
								
							</ul>
						</div>
						<input type="hidden" name="areaCode" id="areaCode2" class="areaCodeinp" value="{#$internationalPhoneSection[0]['code']#}">
					</div>	
					<div class="form-row">	
						<div class="in fn-clear" id="addrlist">
							<select id="addr11" class="select_l" name="addr11">
								{#* 区域 *#} 
								<option value="">{#$langData['renovation'][11][10]#}</option> 
								{#renovation action="addr" return="addr" son="0"#}
								<option value="{#$addr.id#}">{#$addr.typename#}</option>
								{#/renovation#}
							</select>
							<select id="addr22" class="select_r" name="addr22">
								{#* 街道 *#}  
								<option value="">{#$langData['renovation'][11][11]#}</option>
								
							</select>
						</div>
					</div>
					{#* 所在小区 *#} 
					<input type="text" placeholder="{#$langData['renovation'][0][19]#}" name="price_origin" id="price_origin">
					
				</form>
				<p class="design_submit" id="submit_design" data-id="{#$detail_id#}">{#$langData['renovation'][0][20]#}</p> {#* 立即预约 *#} 
			</div>
		</div>

	</div>
</div>
<!--立即预约弹出层 s-->
<div class="order_mask">
  <div class="order_container">
  	<img src="{#$templets_skin#}images/close_alert.png" alt="" class="close_alert">
    <div class="wave">           
        <div class="m-box">
            <div class="m-duigou"></div>
        </div>
    </div>
    {#* 您的预约申请已提交成功！ *#}
    <p class="t1">{#$langData['renovation'][1][17]#}</p>

    {#* 稍后客服人员会与您取得联系，根据您的实际情况为您推荐适合您的装饰公司！  请保持电话畅通 *#}
    <p class="t2">{#$langData['renovation'][1][18]#}<br/>  {#$langData['renovation'][11][33]#}</p>

    {#* 我知道了 *#}
    <p class="t3">{#$langData['renovation'][1][24]#}</p>

  </div>
</div>
<!--立即预约弹出层 e-->

<!--装修报价单 s-->
<div class="price_mask">
  <div class="price_container">
  	<img src="{#$templets_skin#}images/close_alert.png" alt="" class="close_alert">

  	{#* 装修报价单 *#}
    <p class="t1">{#$langData['renovation'][11][34]#}</p> 

    {#* 以下价格为当地装修均价，97.6%的业主反馈该网站找装修公司价格更实惠。 稍后我们将致电为您提供精准报价 *#}
    <p class="t2">{#$langData['renovation'][11][35]#} <br/>  {#$langData['renovation'][11][36]#}</p>
    <ul>
    	{#* 半包价格 *#}
         <li><span>{#$langData['renovation'][1][15]#}：</span><span>￥</span><span class="bao_price">6800</span></li>

         {#* 全包价格 *#}
         <li><span>{#$langData['renovation'][1][16]#}：</span><span>￥</span><span class="bao_price">12000</span></li>
    </ul>
    {#* 我知道了 *#}
    <p class="t3">{#$langData['renovation'][1][24]#}</p>

  </div>
</div>
<!--装修报价单 e-->