<div class="nav">
	<div class="wrap">
		<ul class="fn-clear">
			{#* 首页 *#}
			<li><a href="{#getUrlPath service='renovation' template='company-detail' id={#$detail_id#}#}"{#if $pageActive == "company-detail"#} class="curr"{#/if#}>{#$langData['renovation'][11][5]#}</a></li>

			{#* 公司简介 *#}
			<li><a href="{#getUrlPath service='renovation' template='company-profile' id={#$detail_id#}#}"{#if $pageActive == "company-profile"#} class="curr"{#/if#}>{#$langData['renovation'][4][12]#}</a></li>

			{#* 公司动态 *#}
			<li><a href="{#getUrlPath service='renovation' template='company-dynamic' id={#$detail_id#}#}"{#if $pageActive == "company-dynamic"#} class="curr"{#/if#}>{#$langData['renovation'][4][11]#}</a></li>

			{#* 装修效果图 *#}
			<li><a href="{#getUrlPath service='renovation' template='company-albums' id={#$detail_id#}#}"{#if $pageActive == "company-albums"#} class="curr"{#/if#}>{#$langData['renovation'][2][27]#}</a></li>

			{#* 设计案例 *#}
			<li><a href="{#getUrlPath service='renovation' template='company-case' id={#$detail_id#}#}"{#if $pageActive == "company-case"#} class="curr"{#/if#}>{#$langData['renovation'][12][14]#}</a></li>

			{#* 在线工地 *#}
			<li><a href="{#getUrlPath service='renovation' template='company-site' id={#$detail_id#}#}"{#if $pageActive == "company-site"#} class="curr"{#/if#}>{#$langData['renovation'][1][7]#}</a></li>

			{#* 设计师 *#}
			<li><a href="{#getUrlPath service='renovation' template='company-team' id={#$detail_id#}#}"{#if $pageActive == "company-team"#} class="curr"{#/if#}>{#$langData['renovation'][0][4]#}</a></li>

			{#* 优秀工长 *#}
			<li><a href="{#getUrlPath service='renovation' template='company-foreman' id={#$detail_id#}#}"{#if $pageActive == "company-foreman"#} class="curr"{#/if#}>{#$langData['renovation'][0][32]#}</a></li>

			{#* 在线预约 *#}
			
			<li><a href="{#getUrlPath service='renovation' template='company-order' id={#$detail_id#}#}"{#if $pageActive == "company-order"#} class="curr"{#/if#}>{#$langData['renovation'][11][16]#}</a></li>

			{#* 联系我们 *#}
			<li><a href="{#getUrlPath service='renovation' template='company-contact' id={#$detail_id#}#}"{#if $pageActive == "company-contact"#} class="curr"{#/if#}>{#$langData['renovation'][4][0]#}</a></li>

		</ul>
	</div>
</div>