<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$detail_title#}-{#$renovation_title#}</title>
<meta name="keywords" content="小区案例详情" />
<meta name="description" content="{#$cfg_shortname#}提供楼盘各户型装修设计方案及户型图大全。可在线查看各楼盘业主最新装修日记，体验3D互动样板间，亲手打造自家装修风格。" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/village_detail.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/viewer.min.css?v=2" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>

<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$renovation_channelDomain#}',templetPath = '{#$templets_skin#}',staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
	var totalCount1 = {#$totalCount#};    
    var detaiId = '{#$id#}';
</script>
</head>

{#$pageUrl = {#getUrlPath service='renovation' template='community' id={#$detail_id#}#}#}

<body class="1200">
{#$pageCurr = "zwj"#}
{#include file="top.html"#}

<!-- 条件筛选 s -->
<div class="wrap wrap_header">
	<div class="left_img"><img src="{#if $detail_litpic#}{#$detail_litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt=""></div>
	<div class="right_b">
		{#* <span class="red">1</span>人查看了该楼盘 *#}
		<div class="vill_title"><h2>{#$detail_title#}</h2><p>{#$langData['renovation'][14][83]|replace:'1':$detail_click#}</p></div>
		<ul>

			{#* 房价 *#}
			<li><span>{#$langData['renovation'][12][45]#}</span><span>{#$detail_price#}{#echoCurrency type='short'#}</span></li>

			{#* 楼盘介绍 *#}
			<li><span>{#$langData['renovation'][12][46]#}</span><span class="vill_info" data-num="57">{#$detail_note#}</span><a href="javascript:;" class="intro">{#$langData['renovation'][4][38]#} ></a></li>  {#* 查看更多 *#}

			{#* 楼盘地址 *#}
			<li><span>{#$langData['renovation'][12][47]#}</span><span>{#$detail_address#}</span><i></i></li>

			{#* 绿化率 *#}
			<li><span>{#$langData['renovation'][2][50]#}</span><span>{#$detail_green#}%</span></li>

			{#* 容积率 *#}
			<li><span>{#$langData['renovation'][2][49]#}</span><span>{#$detail_rongji#}</span></li>
		</ul>
	</div>
	<div class="right_b2">
		<div class="r_img"><img src="{#$cfg_basehost#}/include/qrcode.php?data={#getUrlPath service='renovation' template='community' id={#$detail_id#}#}" alt="" width="146" height="146"></div>
		<p>{#$langData['renovation'][12][48]#}</p> {#* 扫一扫手机访问 *#}
	</div>
</div>
<!-- 条件筛选 e -->

<div class="wrap main fn-clear">

	<div class="main-left">
		<div class="tab_container">
			<!--  选项卡 s  -->
			<ul class="vill_tab">
				<li class="active">{#$langData['renovation'][11][5]#}</li>  {#* 首页 *#}
				<li class="detail-li">{#$langData['renovation'][2][41]#}</li>  {#* 楼盘详情 *#}
				<li class="site-li">{#$langData['renovation'][2][40]#}</li>  {#* 装修工地 *#}
				<li id="img_li">{#$langData['renovation'][12][49]#}</li>  {#* 楼盘图册 *#}
			</ul>
			<!--  选项卡 e  -->
			<div class="tab_wrap">
				<div class="tab_content tab_show">				
					{#renovation action="constructionList" return='community' communityid={#$id#} pageSize='4'#}
					<div class="index_con fn-clear" data-id="{#$community.id#}">
						<div class="lf_img">
							{#$src = {#changeFileSize url={#$community.litpic#} type='o_large'#}#}
							<a href="javascript:;"><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$src#}" alt="{#$community.title#}"></a>
						</div>
						<div class="lr_con">
							<h2>
								<a href="javascript:;"  class="tit">{#$community.title#}</a>
							</h2>
							<p class="vill_info2"> <span class="area">{#$community.area#}</span>平 | {#$community.budget#}万 | <span class="styles">{#$community.style#}</span></p>
							<ul>

								{#* 装修公司 *#}
								<li><span>{#$langData['renovation'][0][5]#}：</span><span>{#$community.company#}</span></li>

								{#* 当前阶段 *#}
								<li><span>{#$langData['renovation'][12][50]#}：</span><span class="red">{#$community.mqjd#}</span></li>
							</ul>
							<p class="visit" data-id="{#$community.id#}">{#$langData['renovation'][0][29]#}</p>  {#* 预约参观 *#} 
						</div>

					</div>
					{#/renovation#}
					<div class="layout">
						{#* 户型图 *#}  {#* 更多 *#}
						<div class="lay_head spe_lay"><h3>{#$langData['renovation'][2][42]#}</h3><p class="img_more hxmore">{#$langData['renovation'][1][6]#} >></p></div>
						<ul class="lay_con fn-clear">
							{#foreach from=$detail_pics  key="k" item='a'#}
                          {#if $k > 2#}{#break#}{#/if#}
							<li>
								<div class="lay_img"><img src="{#$a.pic#}" alt="" ></div>
                              	{#if $a.title#}
								<p class="lay_tit"><span>{#$a.title#}</span></p>
                              	{#/if#}
							</li>
							{#/foreach#}
							
							
						</ul>
					</div>
					<div class="real">
						{#* 实景图 *#}  {#* 更多 *#}
						<div class="lay_head"><h3>{#$langData['renovation'][2][43]#}</h3><p class="img_more sjmore">{#$langData['renovation'][1][6]#} >></p></div>
						<ul class="lay_con fn-clear">
							{#foreach from=$detail_qjpics item='b' key="k"#}
                          {#if $k > 2#}{#break#}{#/if#}
							<li>
								<div class="lay_img"><img src="{#$b.pic#}" alt="" ></div>
                               {#if $b.title#}
								<p class="lay_tit"><span>{#$b.title#}</span></p>
                              {#/if#}
							</li>
							{#/foreach#}
														
						</ul>
					</div>
				</div>
				<div class="tab_content">
					<div class="con1">
						<h1 class="con_tit">{#$langData['renovation'][2][44]#}</h1>  {#* 基本信息 *#}
						<table>
						  <tr>
						    <td>{#$langData['renovation'][13][0]#}&nbsp;{#$langData['renovation'][13][1]#}&nbsp;&nbsp;{#$langData['renovation'][13][2]#}：{#$detail_kfs#}</td> {#* 开 发 商 *#}
                            <td>{#$langData['renovation'][13][18]#}：{#$detail_huanxian#}</td>  {#* 环线位置 *#}
						  </tr>
						  <tr>
						    <td>{#$langData['renovation'][13][4]#}：住宅</td> {#* 建筑形式 *#}
						    <td>{#$langData['renovation'][13][5]#}：{#$detail_buildtype#}</td> {#* 建筑类别 *#}
						  </tr>
						  <tr>
						    <td>{#$langData['renovation'][13][6]#}：{#$detail_planarea#}平方米</td> {#* 规划面积 *#}
						    <td>{#$langData['renovation'][13][7]#}：{#$detail_buildarea#}平方米</td> {#* 建筑面积 *#}
						  </tr>
						  <tr>
						    <td>{#$langData['renovation'][13][8]#}：{#$detail_buildage#}年</td> {#* 产权年限 *#}
						    <td>{#$langData['renovation'][13][9]#}&nbsp;{#$langData['renovation'][13][10]#}&nbsp;&nbsp;{#$langData['renovation'][13][21]#}：{#$detail_green#}%</td> {#* 绿 化 率 *#}
						  </tr>

						  <tr>
						    <td>{#$langData['renovation'][13][11]#}&nbsp;{#$langData['renovation'][13][12]#}&nbsp;&nbsp;{#$langData['renovation'][13][21]#}：{#$detail_rongji#}</td> {#* 容  积 率 *#}
						    <td>{#$langData['renovation'][13][13]#}：{#$detail_planhouse#}户</td> {#* 楼座展示 *#}
						  </tr>
						  <tr>
						    <td>{#$langData['renovation'][13][14]#}：{#$detail_zhuangxiu#}</td> {#* 装修情况 *#}
						    <td> {#$langData['renovation'][13][15]#}&nbsp;{#$langData['renovation'][13][16]#}&nbsp;&nbsp;{#$langData['renovation'][13][17]#}：3050</td> {#* 车 位 数 *#}
						  </tr>
						</table>
					</div>
					<div class="con2">
						<h1 class="con_tit">{#$langData['renovation'][13][27]#}</h1>  {#* 配套信息 *#}
						<ul>

							{#* 商业配套 *#}
							{#foreach from=$detail_config item="k"#}
							<li><span>{#$k['title']#}：</span><span>{#$k['note']#}</span></li>

							{#/foreach#}

							<!-- {#* 交通配套*#}
							<li><span>{#$langData['renovation'][13][29]#}：</span><span>2.8元/m²/月</span></li> -->

						</ul>
					</div>
					<div class="con3">
						<h1 class="con_tit">{#$langData['renovation'][13][33]#}</h1> {#* 楼盘简介 *#}
						<p>{#$detail_note#}</p>
					</div>
					
				</div>
				<div class="tab_content ">
					<!-- 条件筛选 s -->
					<div class="screen" id="J_crumbs">
						<dl data-type="style">
							<dt>{#$langData['renovation'][13][34]#}</dt>   {#* 风格 *#}
							<dd>
								<a href="javascript:;" data-id="" class="curr">{#$langData['renovation'][4][28]#}</a>   {#* 不限 *#}
								{#renovation action="type" return='type' type='4'#}
								<a href="javascript:;" data-id="{#$type.id#}">{#$type.typename#}</a>
								{#/renovation#}
							</dd>
						</dl>
						<dl data-type="stageid">
							<dt>{#$langData['renovation'][13][35]#}</dt>   {#* 阶段 *#}
							<dd>
								{#* 全部 *#}
								<a href="javascript:;" class="curr" data-id="">{#$langData['renovation'][3][0]#}</a>
								{#renovation action="type" return='ilist' type="9" pageSize="5" #}
								<a href="javascript:;" data-id="{#$ilist.id#}">{#$ilist.typename#}</a>
								{#/renovation#}

							</dd>
						</dl>
					</div>
					<!-- 条件筛选 e -->
					{#* 共 *#}  {#* 个工地 *#}
					<p class="num siteNum">{#$langData['renovation'][13][36]#}<span class="red"></span>{#$langData['renovation'][13][37]#}</p>

					<!-- 工地列表 s -->
					<div class="site_list">
					</div>
					<!-- 工地列表 e -->
				</div>
				<div class="tab_content img_content">
					<div class="img_container">
						<ul class="img_tab fn-clear">
							<li class="active"><span>{#$langData['renovation'][13][38]#}</span>（{#$detail_allcount#}）</li>  {#* 全部图片 *#}
							<li><span>{#$langData['renovation'][2][42]#}</span>（{#$detail_picscount#}）</li>  {#* 户型图 *#}
							<li><span>{#$langData['renovation'][2][43]#}</span>（{#$detail_qjpicscount#}）</li> {#* 实景图 *#}
						</ul>
						<div class="img_con img_show">
							<ul class="img_ul fn-clear">
								{#foreach from=$detail_pics item='a'#}
								<li>
									<div class="lay_img"><img src="{#$a.pic#}" alt="" ></div>
                                  	{#if $a.title#}
									<p class="lay_tit"><span>{#$a.title#}</span></p>
                                  	{#/if#}
								</li>
								{#/foreach#}	

								{#foreach from=$detail_qjpics item='b'#}
								<li>
									<div class="lay_img"><img src="{#$b.pic#}" alt="" ></div>
                                  {#if $b.title#}
									<p class="lay_tit"><span>{#$b.title#}</span></p>
                                  {#/if#}
								</li>
								{#/foreach#}						
							</ul>
						</div>
						<div class="img_con">
							<ul class="img_ul fn-clear">
								{#foreach from=$detail_pics item='a'#}
								<li>
									<div class="lay_img"><img src="{#$a.pic#}" alt="" ></div>
                                  {#if $a.title#}
									<p class="lay_tit"><span>{#$a.title#}</span></p>
                                  {#/if#}
								</li>
								{#/foreach#}	
							</ul>
						</div>
						<div class="img_con">
							<ul class="img_ul fn-clear">
								{#foreach from=$detail_qjpics item='b'#}
								<li>
									<div class="lay_img"><img src="{#$b.pic#}" alt="" ></div>
                                  {#if $b.title#}
									<p class="lay_tit"><span>{#$b.title#}</span></p>
                                  {#/if#}
								</li>
								{#/foreach#}							
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- 工地详情 s-->
			<div class="site_wrap">
				<div class="site_detail">
					<a href="javascript:;" class="fan_a"><{#$langData['renovation'][15][26]#}</a> {#* 返回工地列表 *#} 
					<div class="site_con fn-clear">
						<div class="lf_img2"></div>
						<div class="lr_content">
							<div class="detaiCon">
								
							</div>
							
							<p class="visit" data-id="">{#$langData['renovation'][0][29]#}</p>  {#* 预约参观 *#} 
						</div>
					</div>
					<div class="build_wrap">
						
					</div>
					

				</div>
			</div>
			<!-- 工地详情 e-->
		</div>
		
	</div>

	<div class="main-right fn-right">
		<div class="design_content">
			<p class="free_design">{#$langData['renovation'][13][39]#}</p> {#* 免费获取装修报价 *#} 
			{#* 今日已有 *#}   {#* 户获取 *#} 
			<div class="design_num">{#$langData['renovation'][13][40]#}<p id="all"><span class="t_num t_num1"></span></p>{#$langData['renovation'][13][41]#}</div>
			<div class="formCommon">
				<form action="" class="price_form">
					<div class="form-row">	
						<div class="in fn-clear" id="addrlist">
							<select id="addr1" class="select_l" name="addr1">
								{#* 区域 *#} 
								<option value="">{#$langData['renovation'][11][10]#}</option> 
								{#renovation action="addr" return="addr" son="0"#}
								<option value="{#$addr.id#}">{#$addr.typename#}</option>
								{#/renovation#}
							</select>
							<select id="addr2" class="select_r" name="addr2">
								{#* 街道 *#}  
								<option value="">{#$langData['renovation'][11][11]#}</option>
								
							</select>
						</div>
					</div>
					<div class="house_type" >
						<select id="house_type" name="house_type">
							<option value="0">{#$langData['renovation'][2][4]#}</option>  {#* 户型 *#}
							{#renovation action="type" return='type' type='8'#}
							<option value="{#$type.id#}">{#$type.typename#}</option>
							{#/renovation#}							
						</select>
					</div>
					<div class="house_area">
						{#* 请输入面积 *#}  
						<input type="text" placeholder="{#$langData['renovation'][9][28]#}" name="house_area" id="house_area"><span class="mills">m²</span>					
					</div>
					{#* 您的称呼 *#}
					<input type="text" placeholder="{#$langData['renovation'][0][16]#}" name='price_name' id="price_name">
					<div class="inpbox">
						<span class="areaCode"><i>+{#$internationalPhoneSection[0]['code']#}</i><s></s></span>
						{#* 您的手机号 *#}
						<input type="text" placeholder="{#$langData['renovation'][0][17]#}" name='price_phone' id="price_phone">
						<!--国际区号弹窗-->
						<div class="areaCode_wrap areaCode_wrap2">
							<ul>
								
							</ul>
						</div>
						<input type="hidden" name="areaCode" id="areaCode1" class="areaCodeinp" value="{#$internationalPhoneSection[0]['code']#}">
					</div>				
				</form>			
				<p class="reno_submit" id="reno_submit">{#$langData['renovation'][13][42]#}</p>  {#* 立即获取装修报价 *#}
			</div>
		</div>

		<div class="new_order bor_right">
			<h3 class="new_reno">{#$langData['renovation'][12][37]#}</h3>  {#* 推荐装修公司 *#}
			<ul>
				{#renovation action="store" return="store" orderby="1" pageSize="6"#}
				<li>
					<a href="{#$store.url#}">
						<div class="com_info">
							<div class="infoImg"><img src="{#if $store.logo#}{#$store.logo#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt=""></div><span class="com_span">{#$store.company#}</span>
						</div>
					</a>
				</li>
				{#/renovation#}
			</ul>
		</div>
		<div class="recom bor_right">
			<h3 class="new_reno">周边小区推荐</h3>  {#* 周边小区推荐 *#} 
			<ul>
              	{#renovation action="community" return="community"  pageSize="3"#}
				<li>
                  <a href="{#$community.url#}">
					<div class="recom_img"><img src="{#if $community.litpic#}{#$community.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/404.jpg';"></div>
					<p class="recom_tit">{#$community.title#}</p>
                  </a>
				</li>
             	 {#/renovation#}
			</ul>
		</div>
	</div>
</div>

<!-- 预约弹出层 -->
{#include file="order_submit.html"#}

<!--装修报价单 s-->
<div class="price_mask">
  <div class="price_container">
  	<img src="{#$templets_skin#}images/close_alert.png" alt="" class="close_alert">

  	{#* 装修报价单 *#}
    <p class="t1">{#$langData['renovation'][11][34]#}</p> 

    {#* 以下价格为当地装修均价，97.6%的业主反馈该网站找装修公司价格更实惠。 稍后我们将致电为您提供精准报价 *#}
    <p class="t2">{#$langData['renovation'][11][35]#} <br/>  {#$langData['renovation'][11][36]#}</p>
    <ul>
    	{#* 半包价格 *#}
         <li><span>{#$langData['renovation'][1][15]#}：</span><span>￥</span><span class="bao_price">6800</span></li>

         {#* 全包价格 *#}
         <li><span>{#$langData['renovation'][1][16]#}：</span><span>￥</span><span class="bao_price">12000</span></li>
    </ul>
    {#* 我知道了 *#}
    <p class="t3">{#$langData['renovation'][1][24]#}</p>

  </div>
</div>
<!--装修报价单 e-->

<!--图册放大-->
<script>
  $(function() {
	$('.img_ul,.lay_con').viewer({
		url: 'data-original',
	});
});
</script>

{#include file="bottom.html"#}

<script type="text/javascript" src="{#$templets_skin#}js/village_detail.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/order_submit.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/viewer-jquery.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/digitalScroll.js"></script>  <!--数字滚动-->

</body>
</html>
