<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>工地详情</title>
<meta name="keywords" content="工地详情" />
<meta name="description" content="工地详情" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/com_all.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/viewer.min.css?v=2" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>

<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$renovation_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
</script>
</head>

{#$pageUrl = {#getUrlPath service='renovation' template='company-site-detail'#}#}

<body  class="w1200 ">
	{#$pageCurr = 'company'#}
{#$pageActive = 'company-site'#}
{#include file="top2.html"#}
{#include file="com_top.html"#}
<div class="main_wrap">
	<div class="wrap main fn-clear">
		{#include file="com_left.html"#}
		<div class="main-right">
			<div class="lr_bottom site_detail">
				<div class="aside_head fn-clear"><h3>{#$langData['renovation'][1][7]#}</h3></div>   {#* 在线工地 *#}
				<div class="build_content">
					<div class="site_con fn-clear">
						<div class="lf_img2"><a href="javascript:;"><img src="{#$templets_skin#}images/village/real.png" alt=""></a></div>
						<div class="lr_content">
							<h3 class="build_title"><a href="javascript:;">{#$title#}</a></h3>
							<div class="build_info">
								<span class="city">{#$constructionaddress#}</span><span class="address">{#$communitytitle#}</span>
								<ul>
									<li><span class="area_num">{#$area#}</span>m²</li>
									<li>{#$budget#}</li>
									<li><span class="styles">{#$style#}</span></li>
									<li>{#$btype#}</li>
								</ul>
								<!-- <span>工期：2018-03-15到2018-05-20</span> -->
							</div>
							<div class="dot_ul">
								<ul>
									{#renovation action="type" return='ilist' type="9" pageSize="5" #}
									<li class="{#if in_array($ilist.id,$stageid)#} active {#/if#}">{#$ilist.typename#}</li>   {#* 准备开工 *#}
									{#/renovation#}	
								</ul>
							</div>
							<p class="visit" data-id="{#$id#}">{#$langData['renovation'][0][29]#}</p>  {#* 预约参观 *#}
						</div>
					</div>
					{#foreach from=$stagearr  key="k" item='a'#}
					<div class="build_con con_first">
						<div class="build_tit"><h3 class="buil_state">{#$a.stageName#}</h3></div>
						<p class="tip">{#$a.description#}</p>
						<ul class="fn-clear img_ul">
							{#foreach from=$a.listpicarr   item='b'#}
							<li><img src="{#$b.path#}" alt="" ></li>
							{#/foreach#}
						</ul>
					</div>
					{#/foreach#}
				</div>
			</div>
		</div>
	</div>	
</div>
<!--预约弹出层 s-->
{#include file="order_submit.html"#}

<script type="text/javascript">
	var totalCount = {#$pageInfo.totalCount|string_format:"%d"#};
</script>
{#include file="bottom.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/company_all.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/site_detail.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/order_submit.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/viewer-jquery.min.js"></script>
</body>
</html>
