<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>装修公司排名_装修公司大全-{#$renovation_title#}</title>
<meta name="keywords" content="装修公司,装修公司排名,装修公司大全" />
<meta name="description" content="{#$cfg_shortname#}装修网汇集了装修公司排名大全,免费提供装修公司设计与报价，以及装修知识。免费拨打电话将直接转接到装修公司，无额外收费！" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/company.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/digitalScroll.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$renovation_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
	var totalCount1 = {#$totalCount#};
</script>
</head>

{#$pageUrl = {#getUrlPath service='renovation' template='company'#}#}

<body>
{#$pageCurr = 'company'#}
{#include file="top.html"#}
<!-- 导航条 s -->
<div class="wrap">
	<ul class="breadcrumb">
		<li>{#$langData['renovation'][14][41]#}：</li>  {#* 您的位置 *#}
		<li><a href="{#$renovation_channelDomain#}" target="_blank">{#$langData['siteConfig'][0][0]#}</a><span>&gt;</span></li> {#* 首页 *#}
		<li class="thispg"><a href="{#$pageUrl#}" target="_blank">{#$langData['renovation'][0][5]#}</a></li>  {#* 装修公司 *#}
	</ul>
</div>
<!-- 导航条 e -->


<div class="wrap main fn-clear">
	<div class="main-right fn-right">
		<div class="design_content">
			<p class="free_design">{#$langData['renovation'][13][39]#}</p> {#* 免费获取装修报价 *#} 
			{#* 今日已有 *#}   {#* 户获取 *#} 
			<div class="design_num">{#$langData['renovation'][13][40]#}<p id="all"><span class="t_num t_num1"></span></p>{#$langData['renovation'][13][41]#}</div>
			
			<form action="" class="price_form">
				<div class="form-row">	
					<div class="in fn-clear" id="addrlist">
						<select id="addr1" class="select_l" name="addr1">
							{#* 区域 *#} 
							<option value="">{#$langData['renovation'][11][10]#}</option> 
							{#renovation action="addr" return="addr" son="0"#}
							<option value="{#$addr.id#}">{#$addr.typename#}</option>
							{#/renovation#}
						</select>
						<select id="addr2" class="select_r" name="addr2">
							{#* 街道 *#}  
							<option value="">{#$langData['renovation'][11][11]#}</option>
							
						</select>
					</div>
				</div>
				<div class="house_type" >
					<select id="house_type" name="house_type">
						<option value="0">{#$langData['renovation'][2][4]#}</option>  {#* 户型 *#}
						{#renovation action="type" return='type' type='8'#}
						<option value="{#$type.id#}">{#$type.typename#}</option>
						{#/renovation#}						
					</select>
				</div>
				<div class="house_area">
					{#* 请输入面积 *#}  
					<input type="text" placeholder="{#$langData['renovation'][9][28]#}" name="house_area" id="house_area"><span class="mills">m²</span>					
				</div>
				{#* 您的称呼 *#}
				<input type="text" placeholder="{#$langData['renovation'][0][16]#}" name='price_name' id="price_name">
				{#* 您的手机号 *#}
				<div class="inpbox">
					<span class="areaCode"><i>+{#$internationalPhoneSection[0]['code']#}</i><s></s></span>
					<input type="text" placeholder="{#$langData['renovation'][0][17]#}" name='price_phone' id="price_phone">
					<!--国际区号弹窗-->
					<div class="areaCode_wrap areaCode_wrap2">
						<ul>
							
						</ul>
					</div>
					<input type="hidden" name="areaCode" id="areaCode" value="{#$internationalPhoneSection[0]['code']#}">
				</div>
				

				
			</form>
			
			
			<p class="reno_submit" id="reno_submit">{#$langData['renovation'][13][42]#}</p>  {#* 立即获取装修报价 *#}
		</div>

		<div class="new_order bor_right">
			<h3 class="new_reno">{#$langData['renovation'][12][37]#}</h3>  {#* 推荐装修公司 *#}
			<ul>
				{#$j = 1#}
				{#renovation action="store" return="store" orderby="1" pageSize="6"#}
				<li>					
					<a href="{#$store.url#}">
						{#if $j == 1#}<em class="first-em">1</em>{#/if#}
						{#if $j == 2#}<em class="second-em">2</em>{#/if#}
						{#if $j == 3#}<em class="third-em">3</em>{#/if#}
						<div class="com_info">
							<img src="{#if $store.logo#}{#$store.logo#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt=""><span class="com_span">{#$store.company#}</span>
						</div>
					</a>
				</li>
				{#$j = $j+1#}
				{#/renovation#}
			</ul>
		</div>
		<div class="our_service bor_right">
			<h3 class="new_reno">{#$langData['renovation'][14][27]#}</h3> {#* 我们的服务 *#}
			<ul>
				<li class="fn-clear">
					<div class="service_img spe_img"><img src="{#$templets_skin#}images/company/con1.png" alt=""></div>
					<div class="ser_info">
						<p class="commit">{#$langData['renovation'][14][28]#}</p>   {#* 服务承诺 *#}
						<p class="commit_p">{#$langData['renovation'][14][33]#}</p>   
						{#* 服务人员（设计师、施工队灯）不满意随时更换 *#}
					</div>
				</li>
				<li class="spe_li fn-clear">
					<div class="service_img"><img src="{#$templets_skin#}images/company/con2.png" alt=""></div>
					<div class="ser_info">
						<p class="commit">{#$langData['renovation'][14][29]#}</p>   {#* 终身保修 *#}
						<p class="commit_p">{#$langData['renovation'][14][34]#}</p>   {#* 客诉快速响应  终身维修 *#}
					</div>
				</li>
				<li class="fn-clear">
					<div class="service_img"><img src="{#$templets_skin#}images/company/con3.png" alt=""></div>
					<div class="ser_info">
						<p class="commit">{#$langData['renovation'][14][30]#}</p>   {#* 价格承诺 *#}
						<p class="commit_p">{#$langData['renovation'][14][35]#}</p>   {#* 同种产品差价三倍返还 *#}
					</div>
				</li>
				<li class="fn-clear">
					<div class="service_img"><img src="{#$templets_skin#}images/company/con4.png" alt=""></div>
					<div class="ser_info">
						<p class="commit">{#$langData['renovation'][14][31]#}</p>   {#* 环保承诺 *#}
						<p class="commit_p">{#$langData['renovation'][14][36]#}</p>   {#* 环保不达标项目全额退款 *#}
					</div>
				</li>
				<li class="fn-clear">
					<div class="service_img"><img src="{#$templets_skin#}images/company/con5.png" alt=""></div>
					<div class="ser_info">
						<p class="commit">{#$langData['renovation'][14][32]#}</p>   {#* 质量保证 *#}
						<p class="commit_p">{#$langData['renovation'][14][37]#}</p>   {#* 所有用料均正品确保质量 *#}
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="main-left">
		<!-- 条件筛选 s -->
		<div class=" screen" id="J_crumbs">
			<div class="reno_form reno_form2">
			  <form action="#" method="get" class="renoForm">
			    <img src="{#$templets_skin#}images/search.png" alt="">
			    <input type="text" placeholder="{#$langData['renovation'][0][44]#}" value="{#$keywords#}" name="keywords" id="keywords">   {#* 搜索公司... *#}
			    <div class="renoform_go"><button onclick="$('.renoForm').submit()">{#$langData['renovation'][0][1]#}</button></div>   {#* 搜索 *#}
			  </form>		  
			</div>
			<dl>
				<dt>{#$langData['renovation'][3][38]#}</dt>     {#* 家装 *#}
				<dd>
					<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} jiastyle=''#}#J_crumbs" class="first{#if $jiastyle == 0#} curr{#/if#}">{#$langData['renovation'][4][28]#}</a>   {#* 不限 *#}
					{#renovation action="type" return='type' type='2'#}
					<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} jiastyle={#$type.id#}#}#J_crumbs"{#if $jiastyle == $type.id#} class="curr"{#/if#}>{#$type.typename#}</a>
					{#/renovation#}
				</dd>
			</dl>
			<dl>
				<dt>{#$langData['renovation'][3][39]#}</dt>     {#* 工装 *#}
				<dd>
					<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} comstyle=''#}#J_crumbs" class="first{#if $comstyle == 0#} curr{#/if#}">{#$langData['renovation'][4][28]#}</a>   {#* 不限 *#}
					{#renovation action="type" return='type' type='3'#}
					<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} comstyle={#$type.id#}#}#J_crumbs"{#if $comstyle == $type.id#} class="curr"{#/if#}>{#$type.typename#}</a>
					{#/renovation#}
				</dd>
			</dl>
			<dl>
				<dt>{#$langData['renovation'][11][10]#}</dt>     {#* 区域 *#}
				<dd>
					<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} addrid=''#}#J_crumbs" class="first{#if $addrid == 0#} curr{#/if#}">{#$langData['renovation'][4][28]#}</a>   {#* 不限 *#}
					{#renovation action="addr" return='addr'#}
					<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} addrid={#$addr.id#}#}#J_crumbs"{#if $addrid == $addr.id#} class="curr"{#/if#}>{#$addr.typename#}</a>
					{#/renovation#}
				</dd>
			</dl>
			<dl>
				<dt>{#$langData['renovation'][13][34]#}</dt>     {#* 风格 *#}
				<dd>
					<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} style=''#}#J_crumbs" class="first{#if $style == 0#} curr{#/if#}">{#$langData['renovation'][4][28]#}</a>   {#* 不限 *#}
					{#renovation action="type" return='type' type='4'#}
					<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} style={#$type.id#}#}#J_crumbs"{#if $style == $type.id#} class="curr"{#/if#}>{#$type.typename#}</a>
					{#/renovation#}
				</dd>
			</dl>
		</div>
		<!-- 条件筛选 e -->
		<!--  排序 s  -->
		<div class="sort">
			<ul class="fn-clear">

				{#* 默认排序 *#}
				<li><a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} orderby=''#}#J_crumbs" class="{#if $orderby !=1#} curr {#/if#}" >{#$langData['renovation'][11][37]#}<i class="icon icon-down"></i></a></li>

				{#* 热门 *#}
				<li><a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} orderby=1#}#J_crumbs"  class="time {#if $orderby ==1#} curr {#/if#}">{#$langData['renovation'][11][38]#}<i class="icon icon-down"></i></a></li>
			</ul>
			<div class="info">

				{#* 入驻公司 *#}
				<div class="join"><a href="{#getUrlPath service='member' type='user' template='enter'#}">{#$langData['renovation'][14][38]#}</a></div>
			</div>
		</div>
		<!--  排序 e  -->

		<!-- 招标列表 s -->
		<div class="company">
			<ul class="zb_list">
				{#renovation action="store"  jiastyle={#$jiastyle#} comstyle={#$comstyle#} addrid={#$addrid#} style={#$style#} title={#$keywords#} orderby={#$orderby#} page={#$page#} pageSize="10"#}
				<li class="fn-clear">
					<div class="pic">
						<a href="{#$row.url#}" target="_blank" title="{#$row.company#}"><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$row.logo#}" alt="{#$row.company#}"></a>
					</div>
					<div class="content fn-clear">
						<p class="phone">
                          {#if $userinfo#}
                          <a href="tel:{#$row.contact#}">{#$row.contact#}</a>
                          {#else#}
                          <a href="{#$cfg_basehost#}/login.html"><em>登录后查看</em></a>
                          {#/if#}
                        </p>
						<div class="txt">
							<p class="name"><a href="{#$row.url#}" target="_blank" title="">{#$row.company#}</a>{#if $row.certi == 1#}<i class="defend"></i>{#/if#}{#if $row.safeguard >0#}<i class="certify"></i>{#/if#}</p>
							<div class="prove">
								{#* 案例 -- 1套 *#}
								<p class="anli"><span>{#$langData['renovation'][0][24]#}</span><span>{#$langData['renovation'][14][75]|replace:'1':$row.diaryCount#}</span></p>

								{#* 工地 -- 1个*#}
								<p class="site"><span>{#$langData['renovation'][0][25]#}</span><span>{#$langData['renovation'][14][81]|replace:'1':$row.constructionCount#}</span></p>

								{#* 工长 -- 1个 *#}
								<p class="forman"><span>{#$langData['renovation'][0][34]#}</span><span>{#$langData['renovation'][14][81]|replace:'1':$row.foremanCount#}</span></p>

								{#* 设计师 -- 1个 *#}
								<p class="artist"><span>{#$langData['renovation'][0][4]#}</span><span>{#$langData['renovation'][14][81]|replace:'1':$row.teamCount#}</span></p>
							</div>
								
						</div>
						<ul class="img_list fn-clear">
							{#foreach from=$row.diarylist item="i" key="k"#}
                          	{#if $k > 7#}{#break#}{#/if#}
							<li><a href="{#$i.caseurl#}"><img src="{#if $i.litpic#}{#$i.litpic#} {#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="" onerror="javascript:this.src='{#$i.litpic#}';" alt=""></a></li>
							{#/foreach#}
							
						</ul>
					</div>
					
				</li>
				{#/renovation#}
				{#if $pageInfo.totalCount == 0#}
				<li class="empty">抱歉！ 暂无相关装修公司！</li>
				{#/if#}
				
			</ul>
		</div>
		<!-- 招标列表 e -->

		<!-- 分页 -->
		{#getPageList service='renovation' template='company' pageType='dynamic' param="{#$pageParam#}&page=#page##J_crumbs"#}
	</div>
</div>
<!--装修报价单 s-->
<div class="price_mask">
	<div class="order_container">
		<img src="{#$templets_skin#}images/close_alert.png" alt="" class="close_alert">
		<div class="wave">
			<div class="m-box">
				<div class="m-duigou"></div>
			</div>
		</div>
		{#* 您的装修报价已提交成功！ *#}
		<p class="t1">{#$langData['renovation'][15][84]#}</p>
		{#* 稍后客服人员会与您取得联系，根据您的实际情况为您推荐适合您的装饰公司！  请保持电话畅通 *#}
		<p class="t2">{#$langData['renovation'][1][18]#}<br/>  {#$langData['renovation'][11][33]#}</p>

		{#* 我知道了 *#}
		<p class="t3">{#$langData['renovation'][1][24]#}</p>

	</div>
</div>
<!--装修报价单 e-->
<script type="text/javascript">
	var totalCount = {#$pageInfo.totalCount|string_format:"%d"#};
</script>
{#include file="bottom.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/company.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
