<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['renovation'][0][4]#}--{#$detail_company#}</title> {#* 设计师 *#}
<meta name="keywords" content="{#$detail_company#},装修公司,装修公司排名,装修公司大全" />
<meta name="description" content="{#$detail_company#}作为专业的装修设计公司，提供专业的装修设计报价、室内装修效果图、免费装修咨询预约。{#$detail_company#}有着一批工作严谨、深受业主好评的装修施工队，为业主提供最优质的服务。" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/com_all.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$renovation_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
</script>
</head>

{#$pageUrl = {#getUrlPath service='renovation' template='company-team' id={#$detail_id#}#}#}

<body>
	{#$pageCurr = 'company'#}
{#$pageActive = 'company-team'#}
{#include file="top2.html"#}
{#include file="com_top.html"#}
<div class="main_wrap">
	<div class="wrap main fn-clear">
		{#include file="com_left.html"#}
		<div class="main-right">
			<div class="lr_bottom lr_artist">
				<div class="aside_head fn-clear"><h3>{#$langData['renovation'][0][4]#}</h3></div> {#* 设计师 *#}
				<div class="artist_content">
					<ul class="art_list">
						{#renovation action="team" return="team" company={#$detail_id#} page={#$page#} pageSize="6"#}
						<li class="art_li fn-clear">
							<div class="pic">
								<a href="{#$team.url#}" target="_blank"><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$team.photo#}" alt="{#$team.name#}" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';"></a>
							</div>
							<div class="content fn-clear">
								<div class="txt">
									<p class="name"><a href="{#$team.url#}" target="_blank" title="">{#$team.name#}</a><span class="home">独立设计师</span></p>
									
									<div class="num">

										{#* 工龄 -- 年 -- 暂无工作经验*#}
										<p><span class="grey">{#$langData['renovation'][8][21]#}</span><span>{#if $team.works > 0#}{#$team.works#}{#$langData['siteConfig'][13][14]#}{#else#}{#$langData['renovation'][14][72]#}{#/if#}</span></p>

										{#* 作品 -- 1套 -- 暂无作品*#}
										<p><span class="grey">{#$langData['renovation'][12][33]#}</span><span>{#if $team.diary > 0#}{#$langData['renovation'][14][75]|replace:'1':$team.diary#}{#else#}{#$langData['renovation'][14][76]#}{#/if#}</span></p>


									</div>

									{#* 擅长风格 *#}
									<p class="profile"><span class="grey">{#$langData['renovation'][2][21]#}</span><span class="pro_info">{#$team.style#}</span></p>

									{#* 设计理念 *#}
									<p class="profile2"><span class="grey">{#$langData['renovation'][2][24]#}</span><span class="pro_info">{#$team.idea#}</span></p>
		                            <div class="tel">
										<span class="go_order" data-id= "{#$team.id#}" data-type="2">{#$langData['renovation'][0][20]#}</span>	  {#* 立即预约 *#}
									</div>

								</div>
								

							</div>					
						</li>
						{#/renovation#}
						
					</ul>

						<!-- 分页 -->
				{#getPageList service='renovation' template='company-team' id="{#$detail_id#}" pageType='dynamic' param="page=#page#"#}
				</div>
			</div>
		</div>
	</div>	
</div>
<!--团队预约弹出层 s-->
{#include file="team_submit.html"#}
<!--团队预约弹出层 e-->
<script type="text/javascript">
	var totalCount = {#$pageInfo.totalCount|string_format:"%d"#};
</script>
{#include file="bottom.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/team_submit.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/company_all.js"></script>
</body>
</html>
