<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['renovation'][4][11]#}-{#$detail_company#}</title>  {#* 公司动态 *#}
<meta name="keywords" content="{#$detail_company#},装修公司,装修公司排名,装修公司大全" />
<meta name="description" content="{#$detail_company#}作为专业的装修设计公司，提供专业的装修设计报价、室内装修效果图、免费装修咨询预约。{#$detail_company#}有着一批工作严谨、深受业主好评的装修施工队，为业主提供最优质的服务。" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/com_all.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$renovation_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
	var id          = '{#$detail_id#}';
</script>
</head>
<body class="w1200">
{#$pageCurr = 'company'#}
{#$pageActive = 'company-dynamic'#}
{#include file="top2.html"#}
{#include file="com_top.html"#}
<div class="main_wrap">
	<div class="wrap main fn-clear">
		{#include file="com_left.html"#}
		<div class="main-right">
			<div class="lr_bottom lr_dyn">
				<div class="aside_head fn-clear"><h3>{#$langData['renovation'][4][11]#}</h3></div>  {#* 公司动态 *#}
				<div class="dy_content">
					<ul class="list">
						{#renovation action="article" return="news" type=0 fid={#$detail_id#} page={#$page#} pageSize="10"#}
						<li class="fn-clear">
							
							{#if $news.litpic#}
							<div class="pic">
								<a href="{#getUrlPath service='renovation' template='company-dynamic-detail' id={#$news.id#}#}" target="_blank"><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$news.litpic#}" alt="{#$news.title#}" onerror="javascript:this.src='{#$cfg_staticPath#}images/404.jpg';"></a>
							</div>
							{#/if#}
							<div class="txt">
								<a href="{#getUrlPath service='renovation' template='company-dynamic-detail' id={#$news.id#}#}" class="bt" target="_blank">{#$news.title#}</a>
								<p class="des">{#$news.description|truncate:130:"...":true#} </p>
								<p class="t">{#$news.pubdate|date_format:"%Y-%m-%d"#}</p>
							</div>														
						</li>
						{#/renovation#}
						{#if $pageInfo.totalCount == 0#}
						<div class="empty">{#$langData['renovation'][12][13]#}</div>  {#* 抱歉！ 暂无相关信息！ *#}
						{#/if#}
					</ul>
					{#getPageList service='renovation' template='company-dynamic' id="{#$detail_id#}" pageType='dynamic' param="page=#page#"#}
				</div>
			</div>
		</div>
	</div>	
</div>


<script type="text/javascript">
	var totalCount = {#$pageInfo.totalCount|string_format:"%d"#};
</script>
{#include file="bottom.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/company_all.js"></script>
</body>
</html>
