<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['renovation'][12][14]#}-{#$detail_title#}-{#$detail_company#}</title> {#* 设计案例 *#}
<meta name="keywords" content="{#$detail_title#}-{#$detail_company#}" />
<meta name="description" content="{#$detail_title#}-{#$detail_company#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/com_all.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$renovation_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
	var collectType = 'case-detail',detailId = '{#$detail_id#}';
</script>
</head>

<body class="w1200">
	{#$pageCurr = 'company'#}
{#$pageActive = 'company-case'#}
{#include file="top2.html"#}
{#include file="com_top.html"#}
<div class="main_wrap">
	<div class="wrap main fn-clear">
		{#include file="com_left.html"#}
		<div class="main-right">
			<div class="lr_bottom lr_anli">
				<div class="aside_head fn-clear"><h3>{#$langData['renovation'][2][0]#}</h3></div>      {#* 案例详情 *#}
				
			</div>
			<div class="anli_content2">
					<div class="des_top">
						<h2 class="vill_title">{#$diary_title#}</h2>
						<ul class="fn-clear">
							<li><span>{#$langData['renovation'][2][1]#}：</span><span>{#$diary_typename#}</span></li>      {#* 类型 *#}
							<li><span>{#$langData['renovation'][2][4]#}：</span><span>{#$diary_units#}</span></li>      {#* 户型 *#}
							<li><span>{#$langData['renovation'][2][3]#}：</span><span>{#$diary_style#}</span></li>      {#* 风格 *#}
							<li><span>{#$langData['renovation'][2][5]#}：</span><span>{#$diary_area#}平</span></li>      {#* 面积 *#}
							<li><span>{#$langData['renovation'][2][6]#}：</span><span>{#$diary_price#}万元</span></li>      {#* 造价 *#}
							<li><span>{#$langData['renovation'][2][2]#}：</span><span>{#$diary_btype#}</span></li>      {#* 方式 *#}
							<li><span>{#$langData['renovation'][2][7]#}：</span><span>{#date('Y-m-d',$diary_began)#}</span></li>      {#* 开工 *#}
							<li><span>{#$langData['renovation'][2][8]#}：</span><span>{#$diary_end#}</span></li>      {#* 竣工 *#}
						</ul>
						<div class="btn_group">
							{#* 已收藏 *#}  {#* 收藏 *#}
							<a href="javascript:;" class="store-btn{#if $detail_collect == 1#} curr{#/if#}"><button><em></em><span>{#if $diary_collect == 1#}{#$langData['renovation'][2][13]#}{#else#}{#$langData['renovation'][2][11]#}{#/if#}</button></a>
							<a class="share-btn newBtn_share" data-title="{#$detail_title#}" data-pic="{#$detail_litpic#}"><button><em></em>{#$langData['renovation'][2][12]#}</button></a>  {#* 分享 *#}
						</div>
					</div>
					
					<div class="tab_content">	
						{#if $diary_unitspicarr != ""#}
						<div class="layout">
							<h3 class="lay_head">{#$langData['renovation'][9][25]#}</h3>   {#* 平面户型图 *#}
							<div class="lay_con">
								{#foreach from =$diary_unitspicarr item = "units" #}
								<img src="{#$units['path']#}" alt="">
								{#/foreach#}
							</div>

						</div>
						{#/if#}
						<div class="real">
							<h3 class="lay_head">{#$langData['renovation'][0][8]#}</h3>   {#* 效果图 *#}
							<div class="lay_con">
								{#foreach from=$diary_picsarr item="pics"#}
								<img src="{#$pics['path']#}" alt="">
								{#/foreach#}
							</div>

						</div>
					</div>
				</div>
		</div>
	</div>	
</div>


<script type="text/javascript">
	var totalCount = {#$pageInfo.totalCount|string_format:"%d"#};
</script>
{#include file="bottom.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/company_all.js"></script>
</body>
</html>
