<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>联系我们</title>
<meta name="keywords" content="联系我们" />
<meta name="description" content="联系我们" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/com_all.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$renovation_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
	var site_map = "{#$site_map#}";
	var detPoint = "{#$detail_lnglat#}",dAddress = "{#$detail_address#}",dTitle = "{#$detail_company#}";
	var cenicon = "{#$templets_skin#}images/mark_ditu.png";
</script>
</head>


<body>
{#$pageCurr = 'company'#}
{#$pageActive = 'company-contact'#}
{#include file="top2.html"#}
{#include file="com_top.html"#}
<div class="main_wrap">
	<div class="wrap main fn-clear">
		{#include file="com_left.html"#}
		<div class="main-right">
			<div class="lr_bottom lr_contact">
				<div class="aside_head fn-clear"><h3>{#$langData['renovation'][4][0]#}</h3></div>  {#* 联系我们 *#}
				<div class="con_content">
					<div class="contact_wrap">
					    <h1 class="com_title">{#$detail_company#}</h1>
					    <ul>
					        <li><span>{#$langData['renovation'][2][19]#}：</span>{#$detail_address#}</li>  {#* 地址 *#}
					        <li><span>{#$langData['renovation'][2][20]#}：</span>{#$detail_contact#}</li>  {#* 电话 *#}
					        <li><span>{#$langData['renovation'][4][1]#}：</span>{#$detail_qq#}</li>  {#* QQ *#}
					        <!-- <li><span>{#$langData['renovation'][4][2]#}：</span>6464643</li>  {#* 微信 *#} -->
					    </ul>					    
					</div>
					<div class="contact_wrap2">
					     <!--百度地图容器-->
					  	<div id="allmap"></div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>


<script type="text/javascript">
	var totalCount = {#$pageInfo.totalCount|string_format:"%d"#};
	
</script>
{#include file="bottom.html"#}
<script type="text/javascript" src="{#$site_map_apiFile#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/company-contact.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/company_all.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
