<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['renovation'][2][27]#}-{#$detail_company#}</title>  {#* 装修效果图 *#}
<meta name="keywords" content="{#$detail_company#},装修公司,装修公司排名,装修公司大全" />
<meta name="description" content="{#$detail_company#}作为专业的装修设计公司，提供专业的装修设计报价、室内装修效果图、免费装修咨询预约。{#$detail_company#}有着一批工作严谨、深受业主好评的装修施工队，为业主提供最优质的服务。" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/com_all.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$renovation_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}',templatePath = '{#$templets_skin#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
	var id          = '{#$detail_id#}';
</script>
</head>

<body class="w1200">
	{#$pageCurr = 'company'#}
{#$pageActive = 'company-albums'#}
{#include file="top2.html"#}
{#include file="com_top.html"#}
<div class="main_wrap">
	<div class="wrap main fn-clear">
		{#include file="com_left.html"#}
		<div class="main-right">
			<div class="lr_bottom lr_design">
				<div class="aside_head fn-clear"><h3>{#$langData['renovation'][2][27]#}</h3></div>  {#* 装修效果图 *#}
				<div class="des_content" id="alumsCon">
					<!-- 风格大图 列表 s -->
					<div id="container" class="container">
						{#renovation action="rcase" return='rcase' company={#$detail_id#} type={#$typeid#} page={#$page#} pageSize='11'#}
                     
						<div class="item" id="{#$rcase.id#}">
							<div class="inner">
								<div class="pic">
                                  {#if $rcase.picarr#}
                                    <img  height="{#resizeImageSize pic_width={#$rcase.picwidth#} pic_height={#$rcase.picheight#} maxwidth="290" maxheight={#$rcase.picheight#} return="height"#}" src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$rcase.picarr[0].picpath#}" alt="{#$rcase.title#}" class="design_img">
                                  {#else#}
                                    {#$src = {#changeFileSize url={#$rcase.litpic#} type='o_large'#}#}
                                    <img  height="{#resizeImageSize pic_width={#$rcase.picwidth#} pic_height={#$rcase.picheight#} maxwidth="290" maxheight={#$rcase.picheight#} return="height"#}" src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$src#}" alt="{#$rcase.title#}" class="design_img">
                                  {#/if#}
								</div>
								<div class="info fn-clear">
									<p class="name">{#$rcase.title#}</p>
									<p class="num"><span>{#$rcase.countpics#}</span>张</p>
								</div>
							</div>
						</div>
                      
						{#/renovation#}
					</div>
					{#if $pageInfo.totalCount == 0#}
					<div class="empty">{#$langData['renovation'][12][15]#}</div>  {#* 抱歉！ 暂无相关效果图！ *#}
					{#/if#}
					<!-- 风格大图 列表 e -->

					<!-- 分页 -->
					{#getPageList service='renovation' template='company-albums' id={#$detail_id#} pageType='dynamic' param="page=#page#"#}
				</div>

			</div>
		</div>
	</div>	
</div>


<script type="text/javascript">
	var totalCount = {#$pageInfo.totalCount|string_format:"%d"#};
    $(function () {
      /*
       * no_columns：网格布局一行的列数。默认值为一行3个网格。
       * padding_x：网格在X轴方向的padding值。默认值为10像素。
       * padding_y：网格在Y轴方向的padding值。默认值为10像素。
       * margin_bottom：网格底部的margin值。默认值为50像素。
       * single_column_breakpoint：指定在视口多大时一行只显示一个网格。
       */
      $("#container").pinterest_grid({
        no_columns: 3,
        padding_x: 10,
        padding_y: 10,
        margin_bottom: 20,
        single_column_breakpoint: 300
      });

    });
</script>
{#include file="bottom.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/design.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/pinterest_grid.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/company_all.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/designpicd.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
