<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['renovation'][1][7]#}-{#$detail_company#}</title> {#* 在线工地 *#}
<meta name="keywords" content="{#$detail_company#},装修公司,装修公司排名,装修公司大全" />
<meta name="description" content="{#$detail_company#}作为专业的装修设计公司，提供专业的装修设计报价、室内装修效果图、免费装修咨询预约。{#$detail_company#}有着一批工作严谨、深受业主好评的装修施工队，为业主提供最优质的服务。" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/com_all.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$renovation_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
</script>
</head>

{#$pageUrl = {#getUrlPath service='renovation' template='company-site' id={#$detail_id#}#}#}

<body  class="w1200 ">
	{#$pageCurr = 'company'#}
{#$pageActive = 'company-site'#}
{#include file="top2.html"#}
{#include file="com_top.html"#}
<div class="main_wrap">
	<div class="wrap main fn-clear">
		{#include file="com_left.html"#}
		<div class="main-right">
			<div class="lr_bottom lr_site">
				<div class="aside_head fn-clear"><h3>{#$langData['renovation'][1][7]#}</h3></div>   {#* 在线工地 *#}
				<div class="site_content">
					<!-- 条件筛选 s -->
					<div class="screen" id="J_crumbs">
						<dl>
							<dt>{#$langData['renovation'][13][34]#}</dt>   {#* 风格 *#}
							<dd>
								<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} style=''#}#J_crumbs" class="first{#if $style == 0#} curr{#/if#}">{#$langData['renovation'][4][28]#}</a>   {#* 不限 *#}
								{#renovation action="type" return='type' type='4'#}
								<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} style={#$type.id#}#}#J_crumbs"{#if $style == $type.id#} class="curr"{#/if#}>{#$type.typename#}</a>
								{#/renovation#}
							</dd>
						</dl>
						<dl>
							<dt>{#$langData['renovation'][13][35]#}</dt>   {#* 阶段 *#}
							<dd>
								{#* 全部 *#}
								<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} stageid=''#}#J_crumbs" class="{#if $state == ''#} curr{#/if#}">{#$langData['renovation'][3][0]#}</a>
								{#renovation action="type" return='ilist' type="9" pageSize="5" #}
								{#* 开工 *#}
								<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} stageid={#$ilist.id#} #}#J_crumbs" class="{#if $stageid == {#$ilist.id#}#} curr{#/if#}">{#$ilist.typename#}</a>

								{#/renovation#}

								<!-- {#* 水电 *#}
								<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} state='power'#}#J_crumbs" class="{#if $state == 'power'#} curr{#/if#}">{#$langData['renovation'][3][15]#}</a>

								{#* 泥木 *#}
								<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} state='wood'#}#J_crumbs" class="{#if $state == 'wood'#} curr{#/if#}">{#$langData['renovation'][3][16]#}</a>

								{#* 油漆 *#}
								<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} state='paint'#}#J_crumbs" class="{#if $state == 'paint'#} curr{#/if#}">{#$langData['renovation'][3][17]#}</a>

								{#* 竣工 *#}
								<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} state='end'#}#J_crumbs" class="{#if $state == 'end'#} curr{#/if#}">{#$langData['renovation'][3][18]#}</a> -->
							</dd>
						</dl>
					</div>
					<!-- 条件筛选 e -->
					{#renovation action="constructionList" return='community' sid={#$detail_id#} style={#$style#}  pageSize=1#}
					<p class="num">{#$langData['renovation'][13][36]#}<span class="red">{#$pageInfo.totalCount#}</span>{#$langData['renovation'][13][37]#}</p>
					{#/renovation#}
					<!-- 工地列表 s -->
					<div class="site_list">
						{#renovation action="constructionList" return='community' style={#$style#} stageid={#$stageid#} sid={#$detail_id#} #}
						<div class="site_con fn-clear">
							<div class="lf_img2"><a href="{#getUrlPath service='renovation' template='company-site-detail' id={#$community.id#}#}"><img src=" {#if $community.litpic#} {#$community.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/404.jpg';"></a></div>
							<div class="lr_content">
								<h3 class="build_title"><a href="{#getUrlPath service='renovation' template='company-site-detail' id={#$community.id#}#}">{#$community.title#}</a></h3>
								<div class="build_info">
									<span class="city">{#$community.communityaddress#}</span><span class="address">{#$community.communitytitle#}</span>
									<ul>
										<li>{#$community.area#}m²</li>
										<li>{#$community.budget#}万</li>
										<li>{#$community.style#}</li>
										<li>{#$community.btype#}</li>
									</ul>
									<span>工期：2018-03-15到2018-05-20</span>
								</div>
								<div class="dot_ul">
									<ul>
										{#renovation action="type" return='ilist' type="9" pageSize="5" #}
										<li class="{#if  $community.stageid && in_array($ilist.id,$community.stageid)#} active {#/if#}">{#$ilist.typename#}</li>   {#* 准备开工 *#}
										{#/renovation#}
									</ul>
								</div>
							</div>
						</div>
						{#/renovation#}
						{#if $pageInfo.totalCount == 0#}
						<div class="empty">{#$langData['renovation'][14][91]#}</div>  {#* 抱歉！ 暂无相关工地！ *#}
						{#/if#}
					</div>
					<!-- 工地列表 e -->
				</div>
			</div>
		</div>
	</div>	
</div>


<script type="text/javascript">
	var totalCount = {#$pageInfo.totalCount|string_format:"%d"#};
</script>
{#include file="bottom.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/company_all.js"></script>
</body>
</html>
