<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['renovation'][0][32]#}-{#$detail_company#}</title> {#* 优秀工长 *#}
<meta name="keywords" content="优秀工长-{#$detail_company#}" />
<meta name="description" content="优秀工长-{#$detail_company#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/com_all.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$renovation_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
</script>
</head>

{#$pageUrl = {#getUrlPath service='renovation' template='company-foreman' id={#$detail_id#}#}#}

<body class="w1200">
	{#$pageCurr = 'company'#}
{#$pageActive = 'company-foreman'#}
{#include file="top2.html"#}
{#include file="com_top.html"#}
<div class="main_wrap">
	<div class="wrap main fn-clear">
		{#include file="com_left.html"#}
		<div class="main-right">
			<div class="lr_bottom lr_forman">
				<div class="aside_head fn-clear"><h3>{#$langData['renovation'][0][32]#}</h3></div>  {#* 优秀工长 *#}
				<div class="forman_content">
					<ul class="forman_list">
						{#renovation action="foreman" return="foreman" company={#$detail_id#} page={#$page#} pageSize="6"#}
						<li class="fn-clear">
							<p class="phone"><a href="tel:{#$foreman.tel#}">{#$row.tel#}</a></p>
							<div class="pic">
								<a href="{#$foreman.url#}" target="_blank" title="{#$foreman.name#}"><img src="{#$foreman.photo#}" data-url="{#$row.logo#}" alt="{#$row.company#}"></a>
							</div>
							<div class="content fn-clear">
								<div class="txt">
									<p class="name"><a href="{#$foreman.url#}" target="_blank" title="">{#$foreman.name#}</a><span class="home">{#$foreman.address#}</span></p>
									<div class="prove">

										{#* 文章 *#}  {#* 篇 *#}
										<p class="article"><span>{#$langData['renovation'][0][27]#}</span><span>{#$foreman.articlesall#}</span><span>{#$langData['renovation'][11][44]#}</span></p>

										{#* 施工照片 *#}  {#* 张 *#}
										<p class="photo"><span>{#$langData['renovation'][11][42]#}</span><span>{#$foreman.caseall#}</span><span>{#$langData['renovation'][11][45]#}</span></p>

										{#* 访问 *#}   {#* 次 *#}
										<p class="visit"><span>{#$langData['renovation'][11][43]#}</span><span>{#$foreman.click#}</span><span>{#$langData['renovation'][11][46]#}</span></p>
									</div>
									<div class="num">

										{#* 工龄 *#}
										<p><span class="grey">{#$langData['renovation'][8][21]#}</span><span>{#$foreman.works#}</span><span>年</span></p>

										{#* 年龄 *#}
										<p><span class="grey">{#$langData['renovation'][8][22]#}</span><span>{#$foreman.age#}</span><span>岁</span></p>
									</div>
									{#* 个人简介 *#}
									<p class="profile"><span class="grey">{#$langData['renovation'][0][33]#}</span><span class="pro_info"> {#$foreman.note#}</span></p>
								</div>
								<div class="tel">
									
									<a href="{#$foreman.url#}" class="go" target="_blank"><span>{#$langData['renovation'][11][30]#}</span></a>  {#* 进入主页 *#}
									<span class="go_order" data-type="1" data-id="{#$foreman.id#}">{#$langData['renovation'][0][20]#}</span>  {#* 立即预约 *#}
									
								</div>
							</div>
							
						</li>
						{#/renovation#}
						
					</ul>
					<!-- 分页 -->
					{#getPageList service='renovation' template='company-foreman' id={#$detail_id#} pageType='dynamic' param="{#$pageParam#}&page=#page##J_crumbs"#}
				</div>
			</div>
		</div>
	</div>	
</div>
{#include file="team_submit.html"#}

<script type="text/javascript">
	var totalCount = {#$pageInfo.totalCount|string_format:"%d"#};
</script>
{#include file="bottom.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/company_all.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/team_submit.js"></script>
</body>
</html>
