<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>加入设计师</title>
<meta name="keywords" content="加入设计师" />
<meta name="description" content="加入设计师" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/forman_join.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$renovation_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
	var atpage = 1, totalCount = 0, pageSize = 14;
	var hideFileUrl = {#$cfg_hideUrl#};
	var thumbSize = {#$thumbSize#}, thumbType = '{#$thumbType#}', atlasSize = {#$atlasSize*1024*1024#}, atlasType = '{#$atlasType#}', atlasMax = 1;
</script>
</head>

<body class="w1200">
{#$pageCurr = 'designer'#}
{#include file="top_index.html"#}
<div class="art_content1">
	<h1>{#$langData['renovation'][8][0]#}</h1>  {#* 申请加入设计师 *#}
	<h2>{#$langData['renovation'][8][1]#}</h2>  {#* 获客不难，签约更易 *#}
</div>

<div class="wrap main fn-clear">
	<div class="join_img">
		<span class="img_tip">{#$langData['renovation'][12][19]#}：</span>  {#* 您的头像 *#}
		<div class="qjimg_box">
             <ul class="fn-clear" id="qjshow_box">
                  <li>
                    <div class="addbtn img_show" id="up_qj" data-extensions="jpg,jpeg,bmp,png" data-mimetypes="image/jpg,image/jpeg,image/png"></div>
                    {#if $detail_qj_type == 0 && $detail_qj_fileArr[0].source#}<div class="img" id="WU_FILE_has_0"><img src="{#$detail_qj_fileArr[0].path#}" data-url="{#$detail_qj_fileArr[0].source#}"><i class="del_btn">+</i></div>{#/if#}
                    <p class="txt">{#$langData['renovation'][8][2]#}</p>    {#* 点击上传照片 *#}
                  </li>
                 
                  
                </ul>
            <input type="hidden" name="photo" value="" id="photo" class="photo">                               
        </div>
        {#* 图片最佳尺寸 1200*1200， 支持Gif、jpg、png等多种格式。 *#}
        <span class="img_tip2">{#$langData['renovation'][12][20]#}</span>	    
	</div>
	<div class="content2">

		<form action="">
			
			{#* 您的姓名 *#}    {#* 请输入您的姓名 *#}
			<p><label for="name">{#$langData['renovation'][12][21]#}：</label><input type="text" placeholder="{#$langData['renovation'][12][22]#}" id="name"></p>

			{#* 联系方式 *#}    {#* 请输入手机号码 *#}
			<div class="inpBox">
				<label for="phone">{#$langData['renovation'][7][21]#}：</label>
				<div class="inpDiv">
					<span class="areaCode"><i>+{#$internationalPhoneSection[0]['code']#}</i><s></s></span>
					<input type="text" placeholder="{#$langData['renovation'][12][0]#}" id="phone">
					
				</div>
				<div class="areaCode_wrap">
		            <ul></ul>
	            </div>
	            <input type="hidden" name="areaCode" id="areaCode" value="{#$internationalPhoneSection[0]['code']#}">
									
			</div>
			
			{#* 工作经验 *#}
			<p class="work_year"><label for="work_year">{#$langData['renovation'][7][22]#}：</label><input type="text" placeholder="{#$langData['renovation'][12][26]#}" id="work_year"><span class="year">{#$langData['renovation'][7][23]#}</span></p>
			{#* 请输入您的工龄 *#} {#* 年 *#}

			<div class="or_type">
				{#* 身份类别 *#}
				<span>{#$langData['renovation'][12][25]#}：</span>
                <p class="surep com_have">
                    <input type="radio" name="command_type" id="com_have" checked="checked" value="0">
                    <label for="com_have">{#$langData['renovation'][8][4]#}</label>    {#*我有所属公司*#}
                </p>
                <p class="surep alone">
                    <input type="radio" name="command_type" id="alone" value="1">
                    <label for="alone">{#$langData['renovation'][8][5]#}</label>  {#*我是独立设计师*#}
                </p>                                             
            </div>
            {#* 所属公司 *#}
            <input type="hidden" name="" id="company">
            <div class="com_choose"><label for="company">{#$langData['renovation'][7][17]#}：</label><span class="com_name">{#$langData['renovation'][8][6]#}</span></div>  {#* 选择所属公司 *#}
            
            <div class="apply">{#$langData['renovation'][12][27]#}</div> {#* 立即申请 *#}
		</form>
	</div>

</div>
<!--立即申请弹出层 s-->
<div class="order_mask">
  <div class="order_container">
  	<img src="{#$templets_skin#}images/close_alert.png" alt="" class="close_alert">
    <div class="wave">           
        <div class="m-box">
            <div class="m-duigou"></div>
        </div>
        
    </div>
    {#* 您的申请已成功提交！ *#}
    <p class="t1">{#$langData['renovation'][12][28]#}</p>
    {#* 请等待资料审核 *#}
    <p class="t2">{#$langData['renovation'][12][29]#}</p>

    {#* 随便看看 *#}
    <p class="t3 see">{#$langData['renovation'][12][30]#}</p>

  </div>
</div>
<!--立即申请弹出层 e-->
<div class="apply_mask"></div>
<div class="apply_con">
	<h2>{#$langData['renovation'][8][10]#}</h2>  {#* 请选择所属公司 *#}
            
	<img src="{#$templets_skin#}images/close.png" alt="关闭" class="close">
	<div class="reno_form2">
	  <form action="" method="get">
	    <img src="{#$templets_skin#}images/search.png" alt="">
	      {#* 搜索公司... *#}
	    <input type="text" placeholder="{#$langData['renovation'][0][44]#}" value="" name="keywords" id="keywords">
	    <div class="renoform_go"><button>{#$langData['renovation'][0][1]#}</button></div>  {#* 搜索 *#}
	  </form>		  
	</div>
	<div class="com_list">

		<ul class="fn-clear"></ul>
	</div>

	<div class="pagination fn-clear"></div>

</div>
<script type="text/javascript">
	var totalCount = {#$pageInfo.totalCount|string_format:"%d"#};
</script>
{#include file="bottom.html"#}
<script src="{#$cfg_staticPath#}js/webuploader/webuploader.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script type="text/javascript" src="{#$templets_skin#}js/upload.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/artistlist.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
