<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$detail_name#}-{#$renovation_title#}</title>
<meta name="keywords" content="{#$renovation_keywords#}" />
<meta name="description" content="{#$renovation_description#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/forman.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/artist_profile.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$renovation_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
</script>
</head>
<body>
	{#$pageCurr = 'designer'#}
{#$pageActive = 'designer-case'#}
{#include file="top2.html"#}
{#include file="art_top.html"#}

<div class="wrap main fn-clear">
	{#include file="art_left.html"#}
	<div class="main-right">
		<div class="lr_bottom lr_case">
			<div class="aside_head fn-clear"><h3>{#$langData['renovation'][12][14]#}</h3></div>  {#* 设计案例 *#}
			<div class="pubu">
				<!-- 风格大图 列表 s -->
				<div id="container" class="wrap container">
					{#renovation action="diary" return='diary' designer={#$detail_id#} ftype=2 pageSize='100'#}
					<div class="item">
						<div class="inner">
							<div class="pic">
								{#$src = {#changeFileSize url={#$diary.litpic#} type='o_large'#}#}
								<a href="{#$diary.url#}" target="_blank"><img width="280" height="{#resizeImageSize pic_width={#$diary.picwidth#} pic_height={#$diary.picheight#} maxwidth="290" maxheight={#$diary.picheight#} return="height"#}" src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$src#}" alt="{#$diary.title#}"></a>
							</div>
							<div class="reno4_bottom">
								<p class="anli_title">{#$diary.title#}</p>
								<div class="anli_info">
									<span>{#$diary.area#}m² | {#$diary.style#} | {#$diary.price#}{#$langData['renovation'][9][22]#} | {#$diary.btype#}</span>
								</div>
							</div>
						</div>
					</div>
					{#/renovation#}
				</div>
				{#if $pageInfo.totalCount == 0#}
				<div class="empty">{#$langData['renovation'][12][10]#}</div>   {#* 抱歉！ 暂无相关案例！ *#}
				{#/if#}
				<!-- 风格大图 列表 e -->
			</div>
			
		</div>
	</div>


</div>

{#include file="bottom.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.waterfall.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/designpiclist.js"></script>
</body>
</html>
