<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$detail_name#}-{#$renovation_title#}</title>
<meta name="keywords" content="{#$renovation_keywords#}" />
<meta name="description" content="{#$renovation_description#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/forman.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/artist_profile.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$renovation_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
</script>
</head>
<body>
	{#$pageCurr = 'designer'#}
{#$pageActive = 'designer-profile'#}
{#include file="top2.html"#}
{#include file="art_top.html"#}

<div class="wrap main fn-clear">
	{#include file="art_left.html"#}
	<div class="main-right">
		<div class="lr_bottom lr_profile">
			<div class="aside_head fn-clear"><h3>{#$langData['renovation'][12][5]#}</h3></div>  {#* 个人资料 *#}
			<div class="pro_content">
				<div class="con1">
					<h3 class="pro_title">{#$langData['renovation'][2][44]#}</h3>  {#* 基本信息 *#}
					<ul class="fn-clear">
						<li><span>{#$langData['renovation'][12][38]#}：</span>{#$detail_name#}</li>  {#* 设 计 师 *#}
						<li><span>{#$langData['renovation'][2][22]#}：</span>{#$detail_studied#}</li>  {#* 所学专业 *#}
						<li><span>{#$langData['renovation'][2][23]#}：</span>{#$detail_designwork#}</li>  {#* 设计作品 *#}
						
					</ul>
				</div>
				<div class="con2">
					<h3 class="pro_title">{#$langData['renovation'][2][24]#}</h3> {#* 设计理念 *#}
					<p class="con2_p">{#$detail_idea#}</p>
				</div>	
			
			</div>
		</div>
	</div>


</div>
{#include file="bottom.html"#}

</body>
</html>
