<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$detail_name#}_个人资料</title>
<meta name="keywords" content="个人资料_工长" />
<meta name="description" content="个人资料_工长" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/forman.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/forman_profile.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$renovation_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
</script>
</head>
<body>
	{#$pageCurr = 'foreman'#}
{#$pageActive = 'foreman-profile'#}
{#include file="top2.html"#}
{#include file="forman_top.html"#}
  
<div class="wrap main fn-clear">
	{#include file="forman_left.html"#}
	<div class="main-right">
		<div class="lr_bottom lr_profile">
			<div class="aside_head fn-clear"><h3>{#$langData['renovation'][12][5]#}</h3></div>  {#* 个人资料 *#}
			<div class="pro_content">
				<div class="con1">
					<h3 class="pro_title">{#$langData['renovation'][2][44]#}</h3>  {#* 基本信息 *#}
					<ul class="fn-clear">
						<li>{#$langData['renovation'][12][16]#}：{#$detail_name#} </li>    {#* 姓名 *#}
						<li>{#$langData['renovation'][12][17]#}：{#$detail_sex#}</li>    {#* 性别 *#}
						<li>{#$langData['renovation'][12][18]#}：{#$detail_style#}</li>    {#* 工种 *#}
						
						<li>{#$langData['renovation'][8][22]#}：{#$detail_age#}岁</li>    {#* 年龄 *#}
						<li>{#$langData['renovation'][8][21]#}：{#$detail_works#}年</li>    {#* 工龄 *#}
						<li class="spe_li">{#$langData['renovation'][5][2]#}：{#$detail_address#}</li>    {#* 住址 *#}
					</ul>
				</div>
				<div class="con2">
					<h3 class="pro_title">{#$langData['renovation'][0][33]#}</h3>   {#* 个人简介 *#}
					<p class="con2_p">{#$detail_note#}</p>
				</div>				
			</div>
		</div>
	</div>


</div>

<script type="text/javascript">
	var totalCount = {#$pageInfo.totalCount|string_format:"%d"#};
</script>
{#include file="bottom.html"#}

</body>
</html>
