<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>工长</title>
<meta name="keywords" content="工长" />
<meta name="description" content="工长" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/forman.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$renovation_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
</script>
</head>

{#$pageUrl = {#getUrlPath service='renovation' template='foreman'#}#}

<body>
{#$pageCurr = 'foreman'#}
{#include file="top.html"#}
<!-- 导航条 s -->
<div class="wrap">
	<ul class="breadcrumb">
		<li>{#$langData['renovation'][14][41]#}：</li>  {#* 您的位置 *#}
		<li><a href="{#$renovation_channelDomain#}" target="_blank">{#$langData['siteConfig'][0][0]#}</a><span>&gt;</span></li> {#* 首页 *#}
		<li class="thispg"><a href="{#$pageUrl#}" target="_blank">{#$langData['renovation'][11][0]#}</a></li>  {#* 选工长 *#}
	</ul>
</div>
<!-- 导航条 e -->
<!-- 条件筛选 s -->
<div class="wrap screen" id="J_crumbs">
	<dl>

		<dt>{#$langData['renovation'][3][34]#}</dt>  {#* 类别 *#}
		<dd>
			<a href="{#getUrlPath service='renovation' template='foreman' param="type=&addrid={#$addrid#}&keywords={#$keywords#}&orderby={#$orderby#}" #}" class="first {#if $type1==0#} curr {#/if#}">{#$langData['renovation'][4][28]#}</a>   {#* 不限 *#}
			{#renovation action="type" return='type' type='591'#}
			<a href="{#getUrlPath service='renovation' template='foreman' param="type={#$type.id#}&addrid={#$addrid#}&keywords={#$keywords#}&orderby={#$orderby#}" #}"  class="{#if $type1 == $type.id#} curr {#/if#}">{#$type.typename#}</a>  {#* 工长 *#}
			{#/renovation#}
		</dd>

	</dl>

	<dl>
		<dt>{#$langData['renovation'][11][10]#}</dt>  {#* 区域 *#}
		<dd>
			<a href="{#getUrlPath service='renovation' template='foreman' param="type={#$type1#}&addrid=&keywords={#$keywords#}&orderby={#$orderby#}" #}" class="first{#if $addrid == 0#} curr{#/if#}">{#$langData['renovation'][4][28]#}</a>   {#* 不限 *#}
			{#renovation action="addr" return='addr'#}
			<a href="{#getUrlPath service='renovation' template='foreman' param="type={#$type1#}&addrid={#$addr.id#}&keywords={#$keywords#}&orderby={#$orderby#}" #}"{#if $addrid == $addr.id#} class="curr"{#/if#}>{#$addr.typename#}</a>
			{#/renovation#}
		</dd>
	</dl>
	<!-- <dl>
		<dt>{#$langData['renovation'][5][44]#}</dt>  {#* 局部 *#}
		<dd>
			<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} jubu=''#}#J_crumbs" class="first{#if $jubu == 0#} curr{#/if#}">{#$langData['renovation'][4][28]#}</a>   {#* 不限 *#}
			{#renovation action="type" return='type' type='545'#}
			<a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} jubu={#$type.id#}#}#J_crumbs"{#if $jubu == $type.id#} class="curr"{#/if#}>{#$type.typename#}</a>
			{#/renovation#}
		</dd>
	</dl> -->
	
</div>
<!-- 条件筛选 e -->

<div class="wrap main fn-clear">

	<div class="main-left">
		<!--  排序 s  -->
		<div class="sort">
			<ul class="fn-clear">
				{#* 默认排序 *#}
				<li><a href="{#getUrlPath service='renovation' template='foreman' param="type={#$type.id#}&works={#$works#}&keywords={#$keywords#}&orderby=0" #} "class="{#if $orderby == 0#} curr{#/if#}">{#$langData['renovation'][11][37]#}<i class="icon icon-down"></i></a></li>

				{#* 热门 *#}
				<li><a href="{#getUrlPath service='renovation' template='foreman' param="type={#$type.id#}&works={#$works#}&keywords={#$keywords#}&orderby=1" #}" class="time{#if $orderby == 1#} curr{#/if#}">{#$langData['renovation'][11][38]#}<i class="icon icon-down"></i></a></li>

				{#* 最新 *#}
				<li><a href="{#getUrlPath service='renovation' template='foreman' param="type={#$type.id#}&works={#$works#}&keywords={#$keywords#}&orderby=2" #}" class="newest{#if $orderby == 2#} curr{#/if#}">{#$langData['renovation'][11][39]#}<i class="icon icon-down"></i></a></li>
			</ul>
			<div class="info">
				{#* 搜索到 *#}  {#* 位工长 *#}  
				{#renovation action="foreman" return="ilist" type={#$type1#}  addrid={#$addrid#} works={#$works#} keywords={#$keywords#} orderby={#$orderby#} page={#$page#} pageSize="1"#}
				<p>{#$langData['renovation'][11][40]#} <span class="red" id="totalCount">{#$pageInfo.totalCount#}</span> {#$langData['renovation'][11][41]#}</p>
				{#/renovation#}

				{#* 加入工长 *#}
				<div class="join"><a href="{#getUrlPath service='renovation' template='forman_join'#}">{#$langData['renovation'][4][24]#}</a></div>
			</div>
		</div>
		<!--  排序 e  -->

		<!-- 招标列表 s -->
		<div class="company">
			<ul class="zb_list">
				{#renovation action="foreman" return="ilist" type={#$type1#}  addrid={#$addrid#} works={#$works#} keywords={#$keywords#} orderby={#$orderby#} page={#$page#} pageSize="7"#}
				<li class="fn-clear">
					<div class="pic">
						<a href="{#$ilist.url#}" target="_blank" title="{#$ilist.name#}"><img src="{#if $ilist.photo#}{#$ilist.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';" data-url="{#$ilist.photo#}"></a>
					</div>
					<div class="content fn-clear">
						<div class="txt">
							<p class="name"><a href="{#$ilist.url#}" target="_blank" title="">{#$ilist.name#}</a><span class="home">{#$ilist.addres#}</span></p>
							<div class="prove">

								{#* 文章 *#}  {#* 篇 *#}
								<p class="article"><span>{#$langData['renovation'][0][27]#}</span><span>{#$ilist.articlesall#}</span><span>{#$langData['renovation'][11][44]#}</span></p>

								{#* 施工照片 *#}  {#* 张 *#}
								<p class="photo"><span>{#$langData['renovation'][11][42]#}</span><span>{#$ilist.caseall#}</span><span>{#$langData['renovation'][11][45]#}</span></p>

								{#* 访问 *#}   {#* 次 *#}
								<p class="visit"><span>{#$langData['renovation'][11][43]#}</span><span>{#$ilist.click#}</span><span>{#$langData['renovation'][11][46]#}</span></p>
							</div>
							<div class="num">

								{#* 工龄 *#}
								<p><span class="grey">{#$langData['renovation'][8][21]#}</span><span>{#$ilist.works#}</span><span>年</span></p>

								{#* 年龄 *#}
								<p><span class="grey">{#$langData['renovation'][8][22]#}</span><span>{#$ilist.age#}</span><span>岁</span></p>
							</div>

							{#* 个人简介 *#}
							<p class="profile"><span class="grey">{#$langData['renovation'][0][33]#}</span><span class="pro_info"> {#$ilist.note#}</span></p>
						</div>
						<div class="tel">
							<p class="phone">
                              {#if $userinfo#}
                              <a href="tel:{#$ilist.tel#}">{#$ilist.tel#}</a>
                              {#else#}
                              <a href="{#$cfg_basehost#}/login.html"><em>登录后查看</em></a>
                              {#/if#}
                          	</p>
                          
							<a href="{#$ilist.url#}" class="go" target="_blank"><span>{#$langData['renovation'][11][30]#}</span></a>  {#* 进入主页 *#}
							<p class="go_order" data-userid="{#$ilist.id#}" data-type="1"><span>{#$langData['renovation'][0][20]#}</span></p>  {#* 立即预约 *#}
							
						</div>
					</div>
					
				</li>
				{#/renovation#}
				{#if $pageInfo.totalCount == 0#}
                <li class="failed"><img src="{#$templets_skin#}images/empty.png"><span>没有找到符合条件的结果</span></li>
                {#/if#}
			</ul>
		</div>
		<!-- 招标列表 e -->

		<!-- 分页 -->
		{#getPageList service='renovation' template='foreman' pageType='dynamic' param="{#$pageParam#}&page=#page##J_crumbs"#}
	</div>

	<div class="main-right fn-right">
		<div class="reno_form">
		  <form action="" method="get">
		    <img src="{#$templets_skin#}images/search.png" alt="">
		      {#* 搜索工人工长... *#}
		    <input type="text" placeholder="{#$langData['renovation'][11][47]#}" value="" name="keywords" id="keywords">
		    <div class="renoform_go"><button>{#$langData['renovation'][0][1]#}</button></div>    {#* 搜索 *#}
		  </form>		  
		</div>
		<div class="forman_join bor_right">
			<h3 class="new_reno">{#$langData['renovation'][11][48]#}</h3>    {#* 新加入工人工长 *#}
			<ul>
				{#renovation action="foreman" return='forman' orderby=2 pageSize="5"#}
				<li>
					<a href="{#$forman.url#}">
						<div class="left_b"><img src="{#if $forman.photo#}{#$forman.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';"></div>
						<div class="right_b">
							<p class="foman_name">{#$forman.name#}</p>
                          	{#$addrArr = " "|explode:$forman.address#}
							<p class="foman_info"><span class="foman_addr">{#$addrArr[0]#} {#$addrArr[1]#}</span><span>{#$forman.stylename#}</span></p>
						</div>
					</a>					
				</li>
				{#/renovation#}
			</ul>
		</div>
		<div class="new_order bor_right">
			<h3 class="new_reno">{#$langData['renovation'][11][49]#}</h3>  {#* 最新预约施工 *#}
			<ul>
				{#renovation action="rese" return='site' type=1 orderby=1 pageSize="6"#}
				<li>
					<div class="order_info">
						<p class="order_name">{#$site.people#}</p><p class="order_addr">{#$site.address#}</p>
					</div>
					<span class="art_name">{#$site.designer#}</span>
					<span class="build_time">{#date("m.d",$site.pubdate)#}</span>
				</li>
				{#/renovation#}
			</ul>
		</div>
	</div>
</div>
{#include file="team_submit.html"#}
{#include file="bottom.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/forman.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/team_submit.js"></script>
</body>
</html>
