<div class="nav">
	<div class="wrap">
		<ul class="fn-clear">
			{#* 首页 *#}
			<li><a href="{#getUrlPath service='renovation' template='foreman-detail' id={#$detail_id#}#}"{#if $pageActive == "foreman-detail"#} class="curr"{#/if#}>{#$langData['renovation'][11][5]#}</a></li>

			{#* 个人资料 *#}
			<li><a href="{#getUrlPath service='renovation' template='foreman-profile' id={#$detail_id#}#}"{#if $pageActive == "foreman-profile"#} class="curr"{#/if#}>{#$langData['renovation'][12][5]#}</a></li>

			{#* 施工案例 *#}
			<li><a href="{#getUrlPath service='renovation' template='foreman-case' id={#$detail_id#}#}"{#if $pageActive == "foreman-case"#} class="curr"{#/if#}>{#$langData['renovation'][12][6]#}</a></li>

			{#* 个人文章 *#}
			<li><a href="{#getUrlPath service='renovation' template='foreman-article' id={#$detail_id#}#}"{#if $pageActive == "foreman-article"#} class="curr"{#/if#}>{#$langData['renovation'][12][7]#}</a></li>

		</ul>
	</div>
</div>