<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<title>{#$renovation_title#}</title>
	<meta name="keywords" content="{#$renovation_keywords#}" />
	<meta name="description" content="{#$renovation_description#}" />
	<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
	<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
	<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/index.css?v={#$cfg_staticVersion#}" media="all" />
	<link rel="stylesheet" href="{#$cfg_staticPath#}css/ui/swiper.min.css?v={#$cfg_staticVersion#}">
	<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
	<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>
	<script type="text/javascript">
		var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$renovation_channelDomain#}';

		var criticalPoint = 1240, criticalClass = "w1200";
		$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

		var hideFileUrl = {#$cfg_hideUrl#};

	</script>

</head>

<body class="w1200 ">
{#$pageCurr = "index"#}
{#include file="top_index.html"#}
{#$pageUrl = {#getUrlPath service='renovation' template='case'#}#}
{#$pageUrl2 = {#getUrlPath service='renovation' template='albums'#}#}

<div class="wrap wpre fn-clear">
	<!-- 资讯 -->
	<div class="mainBox wrap fn-clear">
		<!-- 焦点图 s-->
		<div class="PicFocus">
			<div class="slideBox slideBox1">
				<div class="slidewrap">
					<div class="slide">
						<div class="bd">
							{#myad title="装修_模板三_电脑端_广告一" type="slide"#}
						</div>
						<div class="hd"><ul></ul></div>
						<a href="javascript:;" class="prev"></a>
						<a href="javascript:;" class="next"></a>
					</div>
				</div>
			</div>
		</div>
		<!-- 焦点图 e-->
		<!-- 免费预约表单 s-->
		<div class="price_order">
			<ul class="fn-clear reno_tab">
				<li class="free_design active">{#$langData['renovation'][4][3]#}</li> {#* 免费设计 *#}
				<li class="online_price">{#$langData['renovation'][9][1]#}</li>  {#* 在线报价 *#}
			</ul>
			<div class="dcontent design_show indexDesign">

				{#* 今天已有 *#}  {#* 户业主预约设计 *#}
				<p class="design_num">{#$langData['renovation'][11][8]#}<span>2768</span>{#$langData['renovation'][11][9]#}</p>
				<div class="formCommon">
					<form action="" class="price_form">
						{#* 您的称呼 *#}
						<input type="text" placeholder="{#$langData['renovation'][0][16]#}" name='price_name' id="price_name">

						{#* 您的手机号 *#}
						<div class="inpbox">
							<span class="areaCode"><i>+{#$internationalPhoneSection[0]['code']#}</i><s></s></span>
							<input type="text" placeholder="{#$langData['renovation'][0][17]#}" name='price_phone' id="price_phone">
							<!--国际区号弹窗-->
							<div class="areaCode_wrap areaCode_wrap2">
								<ul>

								</ul>
							</div>
							<input type="hidden" name="areaCode" id="areaCode1" class="areaCodeinp" value="{#$internationalPhoneSection[0]['code']#}">
						</div>
						<div class="form-row">
							<div class="in fn-clear" id="addrlist">
								<select id="addr1" class="select_l" name="addr1">

									{#* 区域 *#}
									<option value="">{#$langData['renovation'][11][10]#}</option>
									{#renovation action="addr" return="addr" son="0"#}
									<option value="{#$addr.id#}">{#$addr.typename#}</option>
									{#/renovation#}
								</select>
								<select id="addr2" class="select_r" name="addr2">

									{#* 街道 *#}
									<option value="">{#$langData['renovation'][11][11]#}</option>

								</select>
							</div>
						</div>
						{#* 所在小区 *#}
						<input type="text" placeholder="{#$langData['renovation'][0][19]#}" name="price_origin" id="price_origin">

					</form>

					{#* 立即预约免费设计 *#}
					<p class="design_submit" id="design_submit">{#$langData['renovation'][11][12]#}</p>
				</div>

			</div>
			<div class="dcontent ">

				{#* 的装修业主觉得报价很准！ *#}
				<p class="design_num"><span>98.7%</span>{#$langData['renovation'][11][13]#}</p>
				<div class="formCommon">
					<form action="" class="house_form">
						<div class="form-row">
							<div class="in fn-clear" id="addrlist2">
								<select id="addr11" class="select_l" name="addr11">
									{#* 区域 *#}
									<option value="">{#$langData['renovation'][11][10]#}</option>
									{#renovation action="addr" return="addr" son="0"#}
									<option value="{#$addr.id#}">{#$addr.typename#}</option>
									{#/renovation#}
								</select>
								<select id="addr22" class="select_r" name="addr22">
									{#* 街道 *#}
									<option value="">{#$langData['renovation'][11][11]#}</option>
								</select>
							</div>
						</div>
						<div class="house_area">

							{#* 请输入面积 *#}
							<input type="text" placeholder="{#$langData['renovation'][9][28]#}" name="house_area" id="house_area"><span class="mills">m²</span>
						</div>

						<div class="form-row">
							<div class="in fn-clear">
								<select id="house_type" class="select_l" name="house_type">
									<option value="0">{#$langData['renovation'][2][4]#}</option>  {#* 户型 *#}
									{#renovation action="type" return='type' type='8'#}
									<option value="{#$type.id#}">{#$type.typename#}</option>
									{#/renovation#}
								</select>

							</div>
						</div>
						{#* 您的称呼 *#}
						<input type="text" placeholder="{#$langData['renovation'][0][16]#}" name="house_name" id="house_name">
						<div class="inpbox">
							<span class="areaCode"><i>+{#$internationalPhoneSection[0]['code']#}</i><s></s></span>
							{#* 您的手机号 *#}
							<input type="text" placeholder="{#$langData['renovation'][0][17]#}" name="house_phone" id="house_phone">
							<!--国际区号弹窗-->
							<div class="areaCode_wrap areaCode_wrap2">
								<ul>

								</ul>
							</div>
							<input type="hidden" name="areaCode" id="areaCode2" class="areaCodeinp" value="{#$internationalPhoneSection[0]['code']#}">
						</div>
					</form>
					{#* 10秒快速获取报价 *#}
					<p class="design_submit" id="price_submit">{#$langData['renovation'][11][15]#}</p>
				</div>
			</div>
		</div>
	</div>
	<!-- 免费预约表单 e-->

</div>
<div class="wrap reno1">
	<ul class="fn-clear">
		{#myad title="装修_模板三_电脑端_广告二"#}

	</ul>
</div>
<div class="wrap reno2">{#myad title="装修_模板三_电脑端_广告三"#}</div>
<!--装修公司-->
<div class="wrap reno3">
	<div class="reno_title fn-clear">
		<h3>{#$langData['renovation'][0][5]#}</h3> {#* 装修公司 *#}
		<div class="reno_more">
			{#* 入驻装修公司 *#}
			<span class="reno_ruzhu"><a href="{#getUrlPath service='member' type="user" template='enter'#}">{#$langData['renovation'][8][14]#}</a></span>
			<p class="see_more">
				{#* 查看更多 *#}
				<a href="{#getUrlPath service='renovation' template='company'#}"><span >{#$langData['renovation'][4][38]#}</span><img src="{#$templets_skin#}images/reno_more.png" alt="" class="img_more"></a>
			</p>
		</div>
	</div>
	<div class="reno3_content fn-clear">
		<div class="reno3_l">
			<ul class="fn-clear">
				{#renovation action="store" return="store" page="1" pageSize="6"#}
				<li class="fn-clear">
					<a href="{#$store.url#}" target="_blank">
						<div class="left_reno"><img src="{#if $store.logo#}{#$store.logo#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="{#$store.company#}"></div>
						<div class="right_reno">
							<div class="anli_title">{#$store.company#}</div>
							<div class="reno_anli">
								{#* 设计师 *#}
								<p><span class="artist">{#$langData['renovation'][0][4]#}</span><span class="artist_num">{#$store.teamCount#}</span></p>

								{#* 案例 *#}
								<p><span class="artist">{#$langData['renovation'][0][24]#}</span><span class="artist_num">{#$store.diaryCount#}</span></p>

								{#* 效果图 *#}
								<p><span class="artist">{#$langData['renovation'][0][8]#}</span><span class="artist_num">{#$store.caseCount#}</span></p>
							</div>
						</div>
						<p class="online_submit">{#$langData['renovation'][11][16]#}</p> {#* 在线预约 *#}
					</a>
				</li>
				{#/renovation#}
			</ul>
		</div>
		<div class="reno3_r">
			<p class="new_reno">{#$langData['renovation'][11][17]#}</p>  {#* 新入驻装修公司 *#}
			<ul>
				{#renovation action="store" orderby=2 return="store" pageSize="5"#}
				<li>
					<a href="{#$store.url#}" target="_blank">
						<div class="left_b"><img src="{#if $store.logo#}{#$store.logo#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt=""></div>
						<div class="right_b">
							<p class="new_title">{#$store.company#}</p>
							{#* 案例 *#}
							<p class="succ_order">{#$langData['renovation'][0][24]#}<span class="num">{#$store.diaryCount#}</span></p>
						</div>
						<p class="new_detail">{#$langData['renovation'][8][31]#}</p>   {#* 查看详情 *#}
					</a>
				</li>
				{#/renovation#}
			</ul>
		</div>
	</div>
</div>
<div class="wrap reno2">{#myad title="装修_模板三_电脑端_广告四"#}</div>
<!--装修案例-->
<div class="wrap reno4">
	<div class="reno_title fn-clear">
		<h3>{#$langData['renovation'][0][7]#}</h3>  {#* 装修案例 *#}
		<div class="anli_type">
			<ul>
				{#$i=0#}
				{#renovation action="type" return='type' type='8'#}
				{#if $i < 5#}
				<li><a href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} units={#$type.id#}#}#J_crumbs">{#$type.typename#}</a></li>
				{#/if#}
				{#$i=$i+1#}
				{#/renovation#}


			</ul>
		</div>
		<div class="reno_more">
			{#* 发布案例 *#}
			<span class="reno_ruzhu"><a href="{#getUrlPath service='member' template='case-renovation'#}">{#$langData['renovation'][11][19]#}</a></span>
			<p class="see_more">
				{#* 查看更多 *#}
				<a href="{#getUrlPath service='renovation' template='case'#}"><span >{#$langData['renovation'][4][38]#}</span><img src="{#$templets_skin#}images/reno_more.png" alt="" class="img_more"></a>
			</p>
		</div>
	</div>
	<div class="reno4_content fn-clear">
		<ul>
			{#renovation action="diary" return="diary" pageSize="8"#}
			<li>
				<a href="{#$diary.url#}">
					<div class="reno4_top"><img src="{#if $diary.litpic#}{#$diary.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt=""></div>
					<div class="reno4_bottom">
						<p class="anli_title">{#$diary.title#}</p>
						<div class="anli_info">
							{#* 万 *#}
							<span>{#$diary.area#}m² | {#$diary.style#} | {#$diary.price#}{#$langData['renovation'][9][22]#} | {#$diary.btype#}</span>
						</div>
					</div>
					<div class="anli_img"><img src="{#if $diary.ftype == 0#} {#if $diary.designer.logo #}{#$diary.designer.logo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg {#/if#} {#else#}{#if $diary.designer.photo #}{#$diary.designer.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}{#/if#}" alt=""></div>
				</a>
			</li>
			{#/renovation#}

		</ul>
	</div>
</div>
<div class="wrap reno2">{#myad title="装修_模板三_电脑端_广告五"#}</div>
<!--最新招标信息-->
<div class="wrap reno5">
	<div class="reno_title fn-clear">
		<h3>{#$langData['renovation'][11][20]#}</h3>  {#* 最新招标信息 *#}
		<div class="reno_more">
			{#* 发布招标信息 *#}
			<span class="reno_ruzhu"><a href="{#getUrlPath service='renovation' template='zb-fabu'#}">{#$langData['renovation'][11][21]#}</a></span>
			<p class="see_more">
				{#* 查看更多 *#}
				<a href="{#getUrlPath service='renovation' template='zb-fabu'#}"><span >{#$langData['renovation'][4][38]#}</span><img src="{#$templets_skin#}images/reno_more.png" alt="" class="img_more"></a>
			</p>
		</div>
	</div>
	<div class="reno5_content fn-clear">
		<div class="reno5_l">
			{#* 项目详情 *#}  {#* 招标金额 *#}  {#* 招标状态 *#}
			<div class="reno5_top"><span>{#$langData['renovation'][11][22]#}</span><span>{#$langData['renovation'][11][23]#}</span><span>{#$langData['renovation'][11][24]#}</span></div>
			<div class="reno5_bottom">
				<ul class="fn-clear">
					{#renovation action="zhaobiao" return="zhaobiao" orderby="3" pageSize="5"#}
					<li class="fn-clear">
						<div class="info_l">
							<p class="info_title">{#$zhaobiao.title#}</p>
							<div class="info_bottom">
								{#* 户型结构 *#} {#* 发布时间 *#}
								<p><span class="trim_method">{#$langData['renovation'][4][6]#}：{#$zhaobiao.unittype#}</span><span>{#$langData['renovation'][14][69]#}：{#date("Y-m-d", $zhaobiao.pubdate)#}</span></p>
							</div>
							<p><span></span></p>
						</div>
						<div class="info_m">{#$zhaobiao.budget#}</div>
						{#if $zhaobiao.state == 1#}
						<div class="info_r">{#$langData['renovation'][14][67]#}</div>		{#* 招标中 *#}
						{#elseif $zhaobiao.state == 2#}
						<div class="info_r">招标成功</div>		{#* 招标成功 *#}
						{#elseif $zhaobiao.state == 3#}
						<div class="info_r trim_over">{#$langData['renovation'][14][68]#}</div> 	{#* 招标结束 *#}
						{#else#}
						<div class="info_r trim_over">停止招标</div>		{#* 停止招标 *#}
						<!--招标结束-->
						{#/if#}
					</li>
					{#/renovation#}
				</ul>
			</div>
		</div>
		<div class="reno5_r">
			<p class="new_reno">{#$langData['renovation'][11][25]#}</p>  {#* 最新签约装修项目 *#}
			<ul>
              	{#renovation action="zhaobiao" return="zhaobiao" orderby="3" state="2" pageSize="5"#}
                <li>										
                  <p class="new_trimTitle">{#$zhaobiao.title#}</p>
                  <p class="new_trimPrice"><img src="{#$templets_skin#}images/trim.png" alt=""><span>{#$zhaobiao.budget#}</span></p>						
                </li>
				{#/renovation#}
			</ul>
		</div>
	</div>
</div>
<div class="wrap reno2">{#myad title="装修_模板三_电脑端_广告六"#}</div>
<!--装修效果图-->
<div class="wrap reno6">
	<div class="reno_title fn-clear">
		<h3>{#$langData['renovation'][2][27]#}</h3>  {#* 装修效果图 *#}
		<div class="anli_type">
			<ul>
				{#$t=0#}
				{#renovation action="type" return='type' type='4'#}
				{#if $t < 5#}
				<li><a href="{#getUrlParam url={#$pageUrl2#} data={#$pageParam#} style={#$type.id#}#}#J_crumbs">{#$type.typename#}</a></li>
				{#/if#}
				{#$t=$t+1#}
				{#/renovation#}

			</ul>
		</div>
		<div class="reno_more">

			<p class="see_more">
				{#* 查看更多 *#}
				<a href="{#getUrlPath service='renovation' template='albums'#}"><span >{#$langData['renovation'][4][38]#}</span><img src="{#$templets_skin#}images/reno_more.png" alt="" class="img_more"></a>
			</p>
		</div>
	</div>
	<div class="reno6_content fn-clear">
		<ul class="fn-clear" id="ulwrap">
			{#renovation action="rcase" return='rcase' pageSize="8"#}
			<li class="fn-clear">
				<a href="javascript:;">
					<div class="effect">
                      <img src="{#if $rcase.picarr[0].picpath#}{#$rcase.picarr[0].picpath#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="">
                  </div>
					<p class="effect_title">{#$rcase.title#}</p>
				</a>
			</li>
			{#/renovation#}
		</ul>
	</div>


</div>
<div class="wrap reno2">{#myad title="装修_模板三_电脑端_广告七"#}</div>

<!--装修工地-->
<div class="wrap reno7">
	<div class="reno_title fn-clear">
		<h3>{#$langData['renovation'][2][40]#}</h3>  {#* 装修工地 *#}
		<div class="reno_more">
			<p class="see_more">
				{#* 查看更多 *#}
				<a href="{#getUrlPath service='renovation' template='zwj'#}"><span >{#$langData['renovation'][4][38]#}</span><img src="{#$templets_skin#}images/reno_more.png" alt="" class="img_more"></a>
			</p>
		</div>
	</div>
	<div class="reno7_content fn-clear">
		<div class="reno7_l">
			<ul class="reno7_ul fn-clear">
				{#renovation action="constructionList" return='list' pageSize="4"#}
				<li class="reno7_li fn-clear">
					<div class="left_b">

						<a href="{#$list.url#}?siteid={#$list.id#}" target="_blank">
							<img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="">
						</a>
					</div>
					<div class="right_b">
						<p class="site_title">
							<a href="{#$list.url#}?siteid={#$list.id#}" target="_blank">{#$list.title#}</a>
						</p>
						<p class="site_info">
							{#* 装饰公司 *#}
							<span class="com_name">{#$langData['renovation'][14][92]#}：{#$list.company#}</span>

							{#* 风格 *#}
							<span>{#$langData['renovation'][2][3]#}：{#$list.style#}</span>

							{#* 面积 --  1平*#}
							<span>{#$langData['renovation'][2][5]#}：{#$langData['renovation'][14][93]|replace:'1':{#$list.area#}#} </span>
						</p>
						<p class="site_see">
							{#* 查看工地 *#}
							<a href="{#$list.url#}?siteid={#$list.id#}" target="_blank">{#$langData['renovation'][1][8]#}</a>
						</p>
						<div class="dot_ul fn-clear">
							<ul>
								{#renovation action="type" return='ilist' type="9" pageSize="5" #}
                              	{#$st = $list.stageid[$list.stageid|count-1]#}
								<li class="{#if $ilist.id == $st#}active{#elseif $ilist.id < $st#}hasCurr{#/if#}">{#$ilist.typename#}</li>
								{#/renovation#}
							</ul>
						</div>
					</div>

				</li>
				{#/renovation#}


			</ul>

		</div>
		<div class="reno7_r">
			<p class="new_reno">{#$langData['renovation'][1][9]#}</p>   {#* 工长推荐 *#}
			<ul>
				{#renovation action="foreman" return='forman' pageSize="4"#}
				<li>
					<a href="{#$forman.url#}">
						<div class="left_b"><img src="{#if $forman.photo#}{#$forman.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt=""></div>
						<div class="right_b">
							<p class="designer_name">{#$forman.name#}</p>

							<p class="designer_info">
								{#* 工龄 *#} {#* 1年 --暂无工作经验 *#}
								<span>{#$langData['renovation'][8][21]#}：{#if $forman.works > 0#}{#$langData['renovation'][14][84]|replace:'1':$forman.works#}{#else#}{#$langData['renovation'][14][72]#}{#/if#}</span>
								{#* 访问-- 暂无案例*#}
								<span>{#$langData['renovation'][14][89]#}：{#$forman.click#}</span>
							</p>
							<p class="designer_order">{#$langData['renovation'][11][28]#}</p>   {#* 预约施工 *#}
						</div>
					</a>
				</li>
				{#/renovation#}

			</ul>
			{#* 查看更多 *#}
			<p class="design_more"><a href="{#getUrlPath service='renovation' template='foreman'#}"><span>{#$langData['renovation'][4][38]#}</span><img src="{#$templets_skin#}images/design_more.png" alt=""></a></p>
		</div>
	</div>
</div>

<div class="wrap reno2">{#myad title="装修_模板三_电脑端_广告八"#}</div>
<!--人气设计师-->
<div class="wrap reno8">
	<div class="reno_title fn-clear">
		<h3>{#$langData['renovation'][11][29]#}</h3>  {#* 人气设计师 *#}
		<div class="reno_more">
			<p class="see_more">
				{#* 查看更多 *#}
				<a href="{#getUrlPath service='renovation' template='designer'#}"><span >{#$langData['renovation'][4][38]#}</span><img src="{#$templets_skin#}images/reno_more.png" alt="" class="img_more"></a>
			</p>
		</div>
	</div>
	<div class="reno8_content">
		<ul class="">
			{#renovation action="team" return='team' pageSize="10"#}
			<li class="fn-clear">
				<a href="{#$team.url#}" target="_blank">
					<div class="artist_top"><img src="{#if $team.photo#}{#$team.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt=""></div>
					<div class="artist_middle">
						<p class="art_name">{#$team.name#}</p>
						{#* 暂无工作经验 *#} {#* 1年工作经验 *#} {#* 1套案例-- 暂无案例*#}
						<p class="art_info"><span>{#if $team.works > 0#}{#$langData['renovation'][14][70]|replace:'1':$team.works#}{#else#}{#$langData['renovation'][14][72]#}{#/if#}</span><span>{#if $team.diary > 0#}{#$langData['renovation'][14][71]|replace:'1':$team.diary#}{#else#}{#$langData['renovation'][14][73]#}{#/if#}</span></p>
					</div>
					<div class="artist_bottom">{#$langData['renovation'][11][30]#}</div> {#* 进入主页 *#}
				</a>
			</li>
			{#/renovation#}
		</ul>
	</div>
</div>

<div class="wrap reno2 spe_adv">{#myad title="装修_模板三_电脑端_广告九"#}</div>
<!--装修课堂-->
<div class="wrap reno9">
	<div class="reno_title fn-clear">
		<h3>{#$langData['renovation'][11][31]#}</h3>  {#* 装修课堂 *#}
		<div class="reno_more">
			<p class="see_more">
				{#* 查看更多 *#}
				<a href="{#getUrlPath service='renovation' template='raiders'#}"><span >{#$langData['renovation'][4][38]#}</span><img src="{#$templets_skin#}images/reno_more.png" alt="" class="img_more"></a>
			</p>
		</div>
	</div>
	<div class="reno9_content fn-clear">
		<ul class="fn-clear deco_ul">
			{#renovation action="newsType" return='newsType' pageSize="4"#}
			<li class="fn-clear deco_li">
				<div class="deco_top fn-clear">
					<h2 class="deco_title">{#$newsType.typename#}</h2>
					<p class="deco_more"><a href="{#getUrlPath service='renovation' template='raiders' id={#$newsType.id#}#}">{#$langData['renovation'][1][6]#} >></a></p>{#* 更多 *#}
				</div>
				<div class="deco_bottom">
					<div class="lb">
						{#renovation action='news' typeid={#$newsType.id#} page='1' pageSize='1' return="nes"#}
						<img src="{#if $nes.litpic#}{#$nes.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="">
						{#/renovation#}
					</div>
					<div class="rb">
						<ul>
							{#renovation action='news' typeid={#$newsType.id#} page='1' pageSize='4'#}
							<li>
								<a href="{#$row.url#}">
									<span class="dot">•</span><span class="deco_info">{#$row.title#}</span><span class="deco_time">{#date("m-d", $row.pubdate)#}</span>
								</a>
							</li>
							{#/renovation#}
						</ul>
					</div>
				</div>
			</li>
			{#/renovation#}
		</ul>
	</div>
</div>


<!--立即预约弹出层 s-->
<div class="order_mask">
	<div class="order_container">
		<img src="{#$templets_skin#}images/close_alert.png" alt="" class="close_alert">
		<div class="wave">
			<div class="m-box">
				<div class="m-duigou"></div>
			</div>
		</div>
		{#* 您的预约申请已提交成功！ *#}
		<p class="t1">{#$langData['renovation'][1][17]#}</p>
		{#* 稍后客服人员会与您取得联系，根据您的实际情况为您推荐适合您的装饰公司！  请保持电话畅通 *#}
		<p class="t2">{#$langData['renovation'][1][18]#}<br/>  {#$langData['renovation'][11][33]#}</p>

		{#* 我知道了 *#}
		<p class="t3">{#$langData['renovation'][1][24]#}</p>

	</div>
</div>
<!--立即预约弹出层 e-->

<!--报价弹出层 s-->
<div class="price_mask">
	<div class="order_container">
		<img src="{#$templets_skin#}images/close_alert.png" alt="" class="close_alert">
		<div class="wave">
			<div class="m-box">
				<div class="m-duigou"></div>
			</div>
		</div>
		{#* 您的装修报价已提交成功！ *#}
		<p class="t1">{#$langData['renovation'][15][84]#}</p>
		{#* 稍后客服人员会与您取得联系，根据您的实际情况为您推荐适合您的装饰公司！  请保持电话畅通 *#}
		<p class="t2">{#$langData['renovation'][1][18]#}<br/>  {#$langData['renovation'][11][33]#}</p>

		{#* 我知道了 *#}
		<p class="t3">{#$langData['renovation'][1][24]#}</p>

	</div>
</div>
<!--报价弹出层 e-->

{#include file="bottom.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.cycle.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.easing.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/index.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
