<!--预约弹出层 s-->
<div class="order_mask2">
  <div class="order_container2">
  	<img src="{#$templets_skin#}images/close.png" alt="" class="close_alert">

    <p class="t1">{#$langData['renovation'][0][30]#}</p>  {#* 免费预约参观 *#} 
    <div class="formCommon">
	    <form action="">

	    	{#* 参观工地 *#} 
	    	<p class="free_p"><span>{#$langData['renovation'][3][24]#}</span><span class="free_con home_tit"></span></p>

	    	{#* 房屋类型 *#} 
	    	<p class="free_p"><span>{#$langData['renovation'][0][15]#}</span><span class="free_con home"></span></p>

	    	{#* 建筑面积 *#} 
	    	<p class="free_p"><span>{#$langData['renovation'][3][26]#}</span><span class="free_con home_area"></span><span class="mill"> m²</span></p>

	    	{#* 请输入您的称呼 *#} 
	    	<input type="hidden" name="conid" id="conid">
	    	<input type="text" placeholder="{#$langData['renovation'][1][27]#}" id="name">
			<div class="inpbox">
				<span class="areaCode spc_code"><i>+{#$internationalPhoneSection[0]['code']#}</i><s></s></span>
	    		{#* 请输入手机号码 *#} 
	    		<input type="text" placeholder="{#$langData['renovation'][12][0]#}" id="phone">
	    		<!--国际区号弹窗-->
				<div class="areaCode_wrap areaCode_wrap2 spe_wrap">
					<ul>
						
					</ul>
				</div>
				<input type="hidden" name="areaCode" id="areaCode2" class="areaCodeinp" value="{#$internationalPhoneSection[0]['code']#}">
			</div>
	    </form>
	    {#* 提交预约 *#} 
	    <p class="t2 submit">{#$langData['renovation'][12][1]#}</p>
    </div>
    

    {#* 注：预约后客服人员会与您取得联系，请保持电话畅通 *#} 
    <p class="t3">{#$langData['renovation'][12][2]#}~</p>

  </div>
</div>
<!--预约弹出层 e-->

<!--预约成功弹出层 s-->
<div class="order_mask">
  <div class="order_container">
  	<img src="{#$templets_skin#}images/close.png" alt="" class="close_alert">
    <div class="wave">           
        <div class="m-box">
            <div class="m-duigou"></div>
        </div>
    </div>

    {#* 您的预约申请已提交成功！ *#} 
    <p class="t1">{#$langData['renovation'][1][17]#}</p>

    {#* 稍后客服人员会与您取得联系，请保持电话畅通 *#} 
    <p class="t2">{#$langData['renovation'][1][23]#}</p>

    {#* 知道了 *#} 
    <p class="t3">{#$langData['renovation'][12][4]#}</p>

  </div>
</div>
<!--预约成功弹出层 e-->