<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>智能选择</title>
<meta name="keywords" content="{#$renovation_keywords#}" />
<meta name="description" content="{#$renovation_description#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/smart_com.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$renovation_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
	var hideFileUrl = {#$cfg_hideUrl#};
</script>
</head>

<body class="w1200">
{#$pageCurr = 'smart_com'#}
{#include file="top_index.html"#}
<div class="content1">
	<h1>{#$langData['renovation'][13][44]#}</h1>  {#* 智能推荐装修公司 *#}
	<ul class="smart_tab fn-clear wrap">
		<li class="coming active"><i></i><p>1 {#$langData['renovation'][5][10]#}</p></li>  {#* 我将要进行的 *#}
		<li class="impor"><i></i><p>2 {#$langData['renovation'][5][17]#}</p></li>  {#* 我比较注重的 *#}
		<li class="place"><i></i><p>3 {#$langData['renovation'][13][45]#}</p></li>  {#* 装修房子所在地 *#}
	</ul>
</div>
<div class="wrap smart_container">
	<div class="smart_con coming_con smart_show">
		<div class="area_type conduct_con">
			<ul>
				<li class="active" data-type="1">
					<div class="top_img"><img src="{#$templets_skin#}images/smart/new1.png" alt=""></div>
					<p>{#$langData['renovation'][5][6]#}</p>  {#* 新房装修 *#}
				</li>
				<li data-type="1">
					<div class="top_img"><img src="{#$templets_skin#}images/smart/new2.png" alt=""></div>
					<p>{#$langData['renovation'][5][7]#}</p>  {#* 旧房翻新 *#}
				</li>
				<li data-type="1">
					<div class="top_img"><img src="{#$templets_skin#}images/smart/new3.png" alt=""></div>
					<p>{#$langData['renovation'][5][8]#}</p>  {#* 局部改造 *#}
				</li>
				<li class="publicS" data-type="2">
					<div class="top_img"><img src="{#$templets_skin#}images/smart/old.png" alt=""></div>
					<p>{#$langData['renovation'][5][9]#}</p>  {#* 商业办公装修 *#}
				</li>
			</ul>
		</div>
		<div class="house_type">
			<ul class="self_ul">
				{#renovation action="type" return='type' type='2'#}
				<li data-id="{#$type.id#}">{#$type.typename#}</li>
				{#/renovation#}	
			</ul>
			<ul class="pub_ul">

				{#renovation action="type" return='type' type='3'#}
				<li data-id="{#$type.id#}">{#$type.typename#}</li>
				{#/renovation#}	
				
			</ul>
		</div>
		<div class="step">
			<p class="next_step conduct">{#$langData['renovation'][13][46]#}</p>		{#* 下一步 *#}
		</div>
		
	</div>
	<div class="smart_con attent_con">
		<div class="choose">
			<ul>
				{#$i = 1#}
				{#renovation action="type" return='type' type='4' pageSize="8"#}
				<li data-id="{#$type.id#}" class="top-{#$i#}">
					<i></i>
					<div class="top_img"></div>
					<p>{#$type.typename#}</p>
				</li>
				{#$i = $i+1#}
				{#/renovation#}
				<li class="other">
					<i></i>
					<div class="top_img"></div>
					<p>{#$langData['renovation'][15][27]#}</p>   {#* 都可以... *#}
				</li>


			</ul>
		</div>
		<div class="step">
			<p class="prev_step attent2">{#$langData['renovation'][13][47]#}</p>		{#* 上一步 *#}
			<p class="next_step attent">{#$langData['renovation'][13][46]#}</p>		{#* 下一步 *#}
		</div>

		
	</div>
	<div class="smart_con place_con formCommon">
		<form action="">
			<div class="form-row">	
				<div class="in fn-clear" id="addrlist">
					<select id="addr1" class="select_l" name="addr1">
						{#* 区域 *#} 
						<option value="">{#$langData['renovation'][11][10]#}</option> 
						{#renovation action="addr" return="addr" son="0"#}
						<option value="{#$addr.id#}">{#$addr.typename#}</option>
						{#/renovation#}
					</select>
					<select id="addr2" class="select_r" name="addr2">
						{#* 街道 *#}  
						<option value="">{#$langData['renovation'][11][11]#}</option>
						
					</select>
				</div>
			</div>
			{#* 请输入您的称呼 *#}
			<input type="text" placeholder="{#$langData['renovation'][1][27]#}" id="name">
			<div class="inpbox">
				<span class="areaCode"><i>+{#$internationalPhoneSection[0]['code']#}</i><s></s></span>
				{#* 请输入手机号码 *#}
				<input type="text" placeholder="{#$langData['renovation'][12][0]#}" id="phone">
				<!--国际区号弹窗-->
				<div class="areaCode_wrap areaCode_wrap2">
					<ul>
						
					</ul>
				</div>
				<input type="hidden" name="areaCode" id="areaCode1" class="areaCodeinp" value="{#$internationalPhoneSection[0]['code']#}">
			</div>
			{#* 小区名字（填写匹配更精准） *#}
			<input type="text" placeholder="{#$langData['renovation'][13][49]#}" id="vill_name">

		</form>
		<div class="step">
			<p class="prev_step submit2">{#$langData['renovation'][13][47]#}</p>		{#* 上一步 *#}
			<p class="vill_submit">{#$langData['renovation'][13][48]#}</p>		{#* 开始匹配 *#}
		</div>
		
	</div>

	
</div>



<script type="text/javascript">
	var totalCount = {#$pageInfo.totalCount|string_format:"%d"#};
</script>
{#include file="bottom.html"#}

<script type="text/javascript" src="{#$templets_skin#}js/smart_com.js"></script>
</body>
</html>
