{#include file="../../siteConfig/top1.html"#}

<div class="wrap header fn-clear fixedwrap" id="header" >
	<h1 class="logo" >
		<a href="{#$renovation_channelDomain#}"><img src="{#$renovation_logoUrl#}" alt="{#$renovation_channelName#}" /></a>
				
	</h1>
	<div class="searchwrap y-liner" >
		<div class="search">
          <div class="type">
            <dl class="">
              	<dt><a href="javascript:;" class="keytype">{#if $pageCurr == "case"#}{#$langData['renovation'][0][7]#} {#elseif $pageCurr == "albums"#}{#$langData['renovation'][0][8]#} {#elseif $pageCurr == "zwj"#}{#$langData['renovation'][0][6]#} {#elseif $pageCurr == "designer"#}{#$langData['renovation'][0][4]#}{#elseif $pageCurr == "foreman"#}{#$langData['renovation'][11][0]#}{#else#}{#$langData['renovation'][0][5]#}{#/if#}</a><em></em></dt> {#* 装修案例 -- 效果图--小区案例--设计师--选工长--装修公司 *#}
              	<dd>
	                <div class="ModuleBox">

	                	{#* 装修公司 *#}
						<a href="javascript:;" data-id="0" data-module="company"><span>{#$langData['renovation'][0][5]#}</span></a>

						{#* 装修案例 *#} 
						<a href="javascript:;" data-id="0" data-module="case"><span>{#$langData['renovation'][0][7]#}</span></a>

						{#* 效果图 *#}						
						<a href="javascript:;" data-id="0" data-module="albums"><span>{#$langData['renovation'][0][8]#}</span></a>

						{#* 小区案例 *#}						
						<a href="javascript:;" data-id="0" data-module="zwj"><span>{#$langData['renovation'][0][6]#}</span></a>

						{#* 设计师 *#}						
						<a href="javascript:;" data-id="0" data-module="designer"><span>{#$langData['renovation'][0][4]#}</span></a>

						{#* 选工长 *#}					
						<a href="javascript:;" data-id="0" data-module="foreman"><span>{#$langData['renovation'][11][0]#}</span></a>
					</div>
	            </dd>
	        </dl>
	            <i class="line"></i>
	          </div>
	          <div class="FormBox">
					<form action="{#getUrlPath service='renovation' template='company'#}" class="form company {#if $pageCurr == "company" ||$pageCurr == "smart_com" || $pageCurr == "raiders" || $pageCurr == "index"#}{#else#}fn-hide{#/if#}">
						<div class="inputbox">
							{#* 挑选您心仪的装修公司 *#}
							<div class="inpbox"><input type="text" name="keywords" class="searchkey" value="{#$keywords#}" placeholder="{#$langData['renovation'][4][37]#}" /></div>
						</div>
						<input type="submit" class="submit" value="{#$langData['renovation'][0][1]#}">  {#* 搜索 *#}
					</form>
					
					<form action="{#getUrlPath service='renovation' template='albums'#}" class="form albums {#if $pageCurr == "albums"#}{#else#}fn-hide{#/if#}">
					  	<div class="inputbox">
					  		{#* 海量精美效果图任你选 *#}
						  	<div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="{#$langData['renovation'][14][77]#}" value="{#$keywords#}" /></div>
					  	</div>
					  	<input type="submit" class="submit" value="{#$langData['renovation'][0][1]#}">  {#* 搜索 *#}
					</form>
				   
				  
					<form action="{#getUrlPath service='renovation' template='case'#}" class="form case {#if $pageCurr == "case"#}{#else#}fn-hide{#/if#}">
						<div class="inputbox">
							{#* 请输入案例 *#}
						  	<div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="{#$langData['renovation'][14][78]#}" value="{#$keywords#}" /></div>
						</div>
					  <input type="submit" class="submit" value="{#$langData['renovation'][0][1]#}">  {#* 搜索 *#}
					</form>

					<form action="{#getUrlPath service='renovation' template='zwj'#}" class="form zwj {#if $pageCurr == "zwj"#}{#else#}fn-hide{#/if#}">
						<div class="inputbox">
							{#* 请输入小区名称 *#}
						  	<div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="{#$langData['renovation'][1][25]#}" value="{#$keywords#}" /></div>
						</div>
					  <input type="submit" class="submit" value="{#$langData['renovation'][0][1]#}">  {#* 搜索 *#}
					</form>
					 
					
					<form action="{#getUrlPath service="renovation" template="designer"#}" class="form designer {#if $pageCurr == "designer"#}{#else#}fn-hide{#/if#}">
					  	<div class="inputbox">
					  		{#* 请输入设计师 *#}
						  	<div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="{#$langData['renovation'][14][79]#}" value="{#$keywords#}" /></div>
					  	</div>
					  	<input type="submit" class="submit" value="{#$langData['renovation'][0][1]#}">  {#* 搜索 *#}
					</form>
					  
					  
					<form action="{#getUrlPath service="renovation" template="foreman"#}" class="form foreman {#if $pageCurr == "foreman"#}{#else#}fn-hide{#/if#}" >
						<div class="inputbox">
							{#* 请输入工长 *#}
							<div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="{#$langData['renovation'][14][80]#}" value="{#$keywords#}" /></div>
						</div>
						<input type="submit" class="submit" value="{#$langData['renovation'][0][1]#}">  {#* 搜索 *#}
					</form>
					
			  </div>
        </div>

	</div>
	<div class="header_ul">
		<ul>
			{#* 发招标 *#}
			<li><a href="{#getUrlPath service='renovation' template='zb-fabu'#}"><img src="{#$templets_skin#}images/header_icon1.png" alt=""><p>{#$langData['renovation'][11][1]#}</p></a></li>
			
			{#* 找装修 *#}
			<li><a href="{#getUrlPath service='renovation' template='company'#}"><img src="{#$templets_skin#}images/header_icon2.png" alt=""><p>{#$langData['renovation'][11][2]#}</p></a></li>
			
			{#* 买建材 *#}
			<li class="header_build"><a href="{#getUrlPath service='shop' template=''#}"><img src="{#$templets_skin#}images/header_icon3.png" alt=""><p>{#$langData['renovation'][11][3]#}</p></a></li>

		</ul>
	</div>
	{#* 客服热线 *#}
	<div class="kefu"><s><img src="{#$templets_skin#}images/phone.png"></s><p>{#$langData['renovation'][11][4]#}</p>{#$renovation_hotline#}</div>

</div>

<div class="nav nav2">
	<div class="wrap">
		<ul class="fn-clear">

			{#* 首页 *#}
			<li><a href="{#$renovation_channelDomain#}"{#if $pageCurr == "index"#} class="curr"{#/if#}>{#$langData['renovation'][11][5]#}</a></li>

			{#* 装修公司 *#}
			<li><a href="{#getUrlPath service='renovation' template='company'#}"{#if $pageCurr == "company"#} class="curr"{#/if#}>{#$langData['renovation'][0][5]#}</a></li>

			{#* 装修案例 *#}
			<li><a href="{#getUrlPath service='renovation' template='case'#}"{#if $pageCurr == "case"#} class="curr"{#/if#}>{#$langData['renovation'][0][7]#}</a></li>

			{#* 效果图 *#}
			<li><a href="{#getUrlPath service='renovation' template='albums'#}"{#if $pageCurr == "albums"#} class="curr"{#/if#}>{#$langData['renovation'][0][8]#}</a></li>

			{#* 小区案例 *#}
			<li><a href="{#getUrlPath service='renovation' template='zwj'#}"{#if $pageCurr == "zwj"#} class="curr"{#/if#}>{#$langData['renovation'][0][6]#}</a></li>

			{#* 设计师 *#}
			<li><a href="{#getUrlPath service='renovation' template='designer'#}"{#if $pageCurr == "designer"#} class="curr"{#/if#}>{#$langData['renovation'][0][4]#}</a></li>

			{#* 选工长 *#}
			<li><a href="{#$renovation_channelDomain#}/foreman.html"{#if $pageCurr == "foreman"#} class="curr"{#/if#}>{#$langData['renovation'][11][0]#}<span class="r"><img src="{#$templets_skin#}images/nav_hot.png" alt=""></span></a></li>

			{#* 智能选择 *#}
			<li><a href="{#getUrlPath service='renovation' template='smart_com'#}"{#if $pageCurr == "smart_com"#} class="curr"{#/if#}>{#$langData['renovation'][11][6]#}</a></li>

			{#* 装修攻略 *#}
			<li><a href="{#getUrlPath service='renovation' template='raiders'#}"{#if $pageCurr == "raiders"#} class="curr"{#/if#}>{#$langData['renovation'][11][7]#}</a></li>


		</ul>
	</div>
</div>


