{#include file="../../siteConfig/top1.html"#}

<script>
	var id          = '{#$detail_id#}';
</script>
<div class="wrap header fn-clear fixedwrap" id="header" >
	<h1 class="logo" >
		
		<a href="{#$renovation_channelDomain#}"><img src="{#$renovation_logoUrl#}" alt="{#$renovation_channelName#}" /></a>	
	</h1>
	<div class="searchwrap y-liner" >
		<div class="search">
          <div class="type">
            <dl class="">
              	<dt><a href="javascript:;" class="keytype"> {#$langData['renovation'][0][5]#} </a><em></em></dt> {#* 装修公司 *#}
              	<dd>
	                <div class="ModuleBox">

	                	{#* 装修公司 *#}
						<a href="javascript:;" data-id="0" data-module="company"><span>{#$langData['renovation'][0][5]#}</span></a>

						{#* 装修案例 *#} 
						<a href="javascript:;" data-id="0" data-module="case"><span>{#$langData['renovation'][0][7]#}</span></a>

						{#* 效果图 *#}						
						<a href="javascript:;" data-id="0" data-module="albums"><span>{#$langData['renovation'][0][8]#}</span></a>

						{#* 小区案例 *#}						
						<a href="javascript:;" data-id="0" data-module="zwj"><span>{#$langData['renovation'][0][6]#}</span></a>

						{#* 设计师 *#}						
						<a href="javascript:;" data-id="0" data-module="designer"><span>{#$langData['renovation'][0][4]#}</span></a>

						{#* 选工长 *#}					
						<a href="javascript:;" data-id="0" data-module="foreman"><span>{#$langData['renovation'][11][0]#}</span></a>
					</div>
	            </dd>
	        </dl>
	           	<i class="line"></i>
	          </div>
	          <div class="FormBox">
					<form action="{#getUrlPath service='renovation' template='company'#}" class="form company {#if $pageCurr == "company" ||$pageCurr == "smart_com" || $pageCurr == "raiders" || $pageCurr == "index"#}{#else#}fn-hide{#/if#}">
						<div class="inputbox">
							{#* 挑选您心仪的装修公司 *#}
							<div class="inpbox"><input type="text" name="keywords" class="searchkey" value="{#$keywords#}" placeholder="{#$langData['renovation'][4][37]#}" /></div>
						</div>
						<input type="submit" class="submit" value="{#$langData['renovation'][0][1]#}">  {#* 搜索 *#}
					</form>
					
					<form action="{#getUrlPath service='renovation' template='albums'#}" class="form albums {#if $pageCurr == "albums"#}{#else#}fn-hide{#/if#}">
					  	<div class="inputbox">
					  		{#* 海量精美效果图任你选 *#}
						  	<div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="{#$langData['renovation'][14][77]#}" value="{#$keywords#}" /></div>
					  	</div>
					  	<input type="submit" class="submit" value="{#$langData['renovation'][0][1]#}">  {#* 搜索 *#}
					</form>
				   
				  
					<form action="{#getUrlPath service='renovation' template='case'#}" class="form case {#if $pageCurr == "case"#}{#else#}fn-hide{#/if#}">
						<div class="inputbox">
							{#* 请输入案例 *#}
						  	<div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="{#$langData['renovation'][14][78]#}" value="{#$keywords#}" /></div>
						</div>
					  <input type="submit" class="submit" value="{#$langData['renovation'][0][1]#}">  {#* 搜索 *#}
					</form>

					<form action="{#getUrlPath service='renovation' template='zwj'#}" class="form zwj {#if $pageCurr == "zwj"#}{#else#}fn-hide{#/if#}">
						<div class="inputbox">
							{#* 请输入小区名称 *#}
						  	<div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="{#$langData['renovation'][1][25]#}" value="{#$keywords#}" /></div>
						</div>
					  <input type="submit" class="submit" value="{#$langData['renovation'][0][1]#}">  {#* 搜索 *#}
					</form>
					 
					
					<form action="{#getUrlPath service="renovation" template="designer"#}" class="form designer {#if $pageCurr == "designer"#}{#else#}fn-hide{#/if#}">
					  	<div class="inputbox">
					  		{#* 请输入设计师 *#}
						  	<div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="{#$langData['renovation'][14][79]#}" value="{#$keywords#}" /></div>
					  	</div>
					  	<input type="submit" class="submit" value="{#$langData['renovation'][0][1]#}">  {#* 搜索 *#}
					</form>
					  
					  
					<form action="{#getUrlPath service="renovation" template="foreman"#}" class="form foreman {#if $pageCurr == "foreman"#}{#else#}fn-hide{#/if#}" >
						<div class="inputbox">
							{#* 请输入工长 *#}
							<div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="{#$langData['renovation'][14][80]#}" value="{#$keywords#}" /></div>
						</div>
						<input type="submit" class="submit" value="{#$langData['renovation'][0][1]#}">  {#* 搜索 *#}
					</form>
					
			  </div>
        </div>

	</div>
	<div class="header_ul">
		<ul>
			{#* 发招标 *#}
			<li><a href="{#getUrlPath service='renovation' template='zb-fabu'#}"><img src="{#$templets_skin#}images/header_icon1.png" alt=""><p>{#$langData['renovation'][11][1]#}</p></a></li>
			
			{#* 找装修 *#}
			<li><a href="{#getUrlPath service='renovation' template='company'#}"><img src="{#$templets_skin#}images/header_icon2.png" alt=""><p>{#$langData['renovation'][11][2]#}</p></a></li>
			
			{#* 买建材 *#}
			<li class="header_build"><a href="{#getUrlPath service='shop' template=''#}"><img src="{#$templets_skin#}images/header_icon3.png" alt=""><p>{#$langData['renovation'][11][3]#}</p></a></li>

		</ul>
	</div>
	{#* 客服热线 *#}
	<div class="kefu"><s><img src="{#$templets_skin#}images/phone.png"></s><p>{#$langData['renovation'][11][4]#}</p>{#$renovation_hotline#}</div>

</div>


