<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>发布招标</title>
<meta name="keywords" content="发布招标" />
<meta name="description" content="发布招标" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/invite_fabu.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$renovation_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}', templatePath = '{#$templets_skin#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
	var atpage = 1, totalCount = 0, pageSize = 14;
	var hideFileUrl = {#$cfg_hideUrl#};
</script>
</head>

<body class="w1200">
{#$pageCurr = 'index'#}
{#include file="top_index.html"#}

<div class="content1">
	<div class="wrap">
		<h1>{#$langData['renovation'][0][39]#}</h1>  {#* 一键发布装修招标 *#}
		{#* 3家装修公司 *#} {#* 免费上门服务 *#}
		<h2>{#$langData['renovation'][0][40]#}&nbsp; {#$langData['renovation'][0][41]#}</h2>

		{#* 免费量房 *#} {#* 免费做预算 *#} {#* 免费出方案 *#}
		<div class="inv_tit"><span>{#$langData['renovation'][14][0]#}</span>/<span>{#$langData['renovation'][14][1]#}</span>/<span>{#$langData['renovation'][14][2]#}</span></div>
	</div>
	
</div>

<div class="wrap inv_container">
	<div class="inv_tab">
		<ul class="fn-clear">
			<li class="active" id="self">{#$langData['renovation'][0][42]#}</li>   {#* 自主选择装修公司 *#}
			<li id="expert">{#$langData['renovation'][14][3]#}</li> {#* 提交信息给平台专家，让专家帮我选择 *#}
		</ul>
	</div>
	<div class="inv_con">
		<i class="step"></i>
		<div class="inv_head fn-clear">
			<h3 class="com_tit">{#$langData['renovation'][14][5]#}</h3>   {#* 自主选择装修公司 *#}
			<p class="num">{#$langData['renovation'][12][39]#}<span class="total red">0</span>个</p>   {#* 共有 *#}
			<div class="reno_form reno_form3">
			  <form action="" method="get">
			    <img src="{#$templets_skin#}images/search.png" alt="">
			    {#* 搜索公司... *#}
			    <input type="text" placeholder="{#$langData['renovation'][0][44]#}" value="" name="keywords" id="keywords">
			    <div class="renoform_go"><button>{#$langData['renovation'][0][1]#}</button></div>   {#* 搜索 *#}
			  </form>		  
			</div>
		</div>
		<div class="com">			
			<ul class="fn-clear com_list">
				{#renovation action="store" return='store' page=1 pageSize='28'#}
				<li data-id="{#$store.id#}">
					<div class="inv_img"><img src="{#if $store.logo#}{#$store.logo#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}"  alt=""></div>
					<p class="inv_info">{#$store.company#}</p>
				</li>
				{#/renovation#}
			</ul>
			<div class="pagination fn-clear"></div>
			
		</div>				
	</div>
	<div class="inv_con2">
		<i class="step"></i>
		<div class="inv_head fn-clear">
			<h3 class="com_tit">{#$langData['renovation'][14][6]#}</h3> {#* 填写装修表单 *#}
		</div>
		<div class="inv_wrap fn-clear">
			<div class="lf">
				<div class="formCommon">
					<form action="">
						<div class="form-row">	
							<label for="addr1" class="label">{#$langData['renovation'][0][45]#}</label> {#* 选择区域 *#}
							<div class="in fn-clear" id="addrlist">
								<select id="addr1" class="select_l" name="addr1">
									<option value="">{#$langData['renovation'][7][16]#}</option>  {#* 请选择 *#}
									{#renovation action="addr" return="addr" son="0"#}
									<option value="{#$addr.id#}">{#$addr.typename#}</option>
									{#/renovation#}
								</select>
							</div>
						</div>
						  {#* 详细地址 *#}
						<p class="form_p"><label for="name" class="label">{#$langData['renovation'][1][33]#}</label><input type="text" placeholder="" id="address"></p>				
						<div class="select_div">
							<div class="house_type spe_div" >
								  {#* 户型结构 *#}
								<label for="house_type" class="label">{#$langData['renovation'][4][6]#}</label>
								<select id="house_type" name="house_type">
									<option value="0">{#$langData['renovation'][7][16]#}</option>  {#* 请选择 *#}
									{#renovation action="type" return='type' type='8'#}
									<option value="{#$type.id#}">{#$type.typename#}</option>
									{#/renovation#}							
								</select>
							</div>
							<div class="price spe_div" >
								 {#* 装修预算 *#}
								<label for="price" class="label">{#$langData['renovation'][1][34]#}</label>
								<select id="price" name="price">
									<option value="0">{#$langData['renovation'][7][16]#}</option>  {#* 请选择 *#}
									{#renovation action="type" return='type' type='6'#}
									<option value="{#$type.id#}">{#$type.typename#}</option>  {#* 不限 *#}
									{#/renovation#}

								</select>
							</div>
						</div>

						{#* 小区名字 *#}
						<p class="form_p"><label for="name" class="label">{#$langData['renovation'][2][17]#}</label><input type="text" placeholder="" id="vill_name"></p>

						{#* 房屋面积 *#}  {#* 平米 *#}
						<p class="work_year form_p"><label for="work_year" class="label">{#$langData['renovation'][0][14]#}</label><input type="text" placeholder="" id="work_year"><span class="year">{#$langData['renovation'][14][7]#}</span></p>
						<div class="select_div info">

							{#* 您的称呼 *#}
							<div class="your_name"><label for="name" class="label">{#$langData['renovation'][0][16]#}</label><input type="text" placeholder="" id="name"></div>

							{#* 联系电话 *#}
							<div>
								<label for="phone" class="label">{#$langData['renovation'][8][20]#}</label>
								<div class="inpbox">
									<span class="areaCode"><i>+{#$internationalPhoneSection[0]['code']#}</i><s></s></span>
									<input type="text" placeholder="" id="phone">
									<!--国际区号弹窗-->
									<div class="areaCode_wrap areaCode_wrap2">
										<ul>
											
										</ul>
									</div>
									<input type="hidden" name="areaCode" id="areaCode2" class="areaCodeinp" value="{#$internationalPhoneSection[0]['code']#}">
								</div>
							</div>
						</div>					
			            
					</form>
					<div class="apply comApply">{#$langData['renovation'][12][27]#}</div> {#* 立即申请 *#}
				</div>
				
			</div>
			<div class="inv_right fn-right">
				<div class="inv_info"></div>
				<div class="inv_bottom fn-clear">
					<div class="inv_le fn-left">
						<h3>火鸟装修</h3>                            
						<p><span class="dot">•</span>装饰公司100%实名认证，正规有保障；</p>
						<p><span class="dot">•</span>轻松发布装修需求，坐等上门服务；</p>
						<p><span class="dot">•</span>3家公司3套方案及报价比对，费用省30%；</p>
						<p><span class="dot">•</span>监理口碑双重保障，品质把控；</p>
					</div>
					<div class="inv_r fn-right">                            
						<h3>传统装修</h3>                            
						<p><span class="dot">•</span>公司质量参差不齐，好坏难辨；</p>
						<p><span class="dot">•</span>施工建材到处跑，装修心力交瘁；</p>
						<p><span class="dot">•</span>花费无止境，增值开销数不尽；</p>
						<p><span class="dot">•</span>工艺毫无保障，偷工减料频发；</p>
					</div>
				</div>
			</div>
		</div>	
	</div>
	
</div>
<div class="inv_con3 wrap">
		<h3 class="con3_tit">{#$langData['renovation'][11][20]#}</h3>  {#* 最新招标信息 *#}
		<div class="con3_content fn-clear">
			<div class="con3_l">
				{#* 项目详情 *#}  {#* 招标金额 *#}  {#* 招标状态 *#}
				<div class="con3_top"><span>{#$langData['renovation'][11][22]#}</span><span>{#$langData['renovation'][11][23]#}</span><span>{#$langData['renovation'][11][24]#}</span></div>
				<div class="con3_bottom">
					<ul class="fn-clear">
						{#renovation action="zhaobiao" return="zhaobiao" page=1 pageSize="7"#}
						<li class="fn-clear">
							<div class="info_l">
								<p class="info_title">{#$zhaobiao.title#}</p>
								<div class="info_bottom">
									
									<p>
										{#* 户型结构 *#}
										<span class="trim_method">{#$langData['renovation'][4][6]#}：其他</span>
										{#* 发布时间 *#}
										<span>{#$langData['renovation'][14][69]#}：{#date("Y-m-d", $zhaobiao.pubdate)#}</span>
									</p>
								</div>
							</div>
							<div class="info_m">{#$zhaobiao.budget#}</div>

							{#if $zhaobiao.state == 1#}
							<div class="info_r">{#$langData['renovation'][14][67]#}</div>		{#* 招标中 *#}
							{#else#}
							<!--招标结束-->
							<div class="info_r trim_over">{#$langData['renovation'][14][68]#}</div> 	{#* 招标结束 *#}
							{#/if#}
						</li>
						{#/renovation#}
					</ul>
					<div class="pagination2 fn-clear"></div>
				</div>
				
			</div>
			<div class="con3_r">
				<p class="new_reno">{#$langData['renovation'][11][25]#}</p>  {#* 最新签约装修项目 *#}
				<ul>
					{#renovation action="zhaobiao" return="zhaobiao" orderby="3" state="2" pageSize="5"#}
					<li>										
                      <p class="new_trimTitle">{#$zhaobiao.title#}</p>
                      <p class="new_trimPrice"><img src="{#$templets_skin#}images/trim.png" alt=""><span>{#$zhaobiao.budget#}</span></p>						
					</li>
					{#/renovation#}
				</ul>
			</div>
		</div>
	</div>
<!--立即申请弹出层 s-->
<div class="order_mask">
  <div class="order_container">
  	<img src="{#$templets_skin#}images/close_alert.png" alt="" class="close_alert">
    <div class="wave">           
        <div class="m-box">
            <div class="m-duigou"></div>
        </div>
        
    </div>
    {#* 您的申请已成功提交！ *#}
    <p class="t1">{#$langData['renovation'][12][28]#}</p>
    {#* 请等待资料审核 *#}
    <p class="t2">{#$langData['renovation'][12][29]#}</p>

    {#* 随便看看 *#}
    <p class="t3 see">{#$langData['renovation'][12][30]#}</p>

  </div>
</div>
<!--立即申请弹出层 e-->
{#include file="bottom.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/invite_fabu.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
