<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['renovation'][0][6]#}-{#$renovation_title#}</title>   {#* 小区案例 *#}
<meta name="keywords" content="找我家装修效果图设计,同小区装修" />
<meta name="description" content="{#$cfg_shortname#}提供楼盘各户型装修设计方案及户型图大全。可在线查看各楼盘业主最新装修日记，体验3D互动样板间，亲手打造自家装修风格。" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/village.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<style>
	.wrap {width: 1200px;}
</style>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$renovation_channelDomain#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
	var totalCount1 = 10;
	var hideFileUrl = {#$cfg_hideUrl#};
    var detaiId;   
    var site_map = "{#$site_map#}";
</script>
</head>

{#$pageUrl = {#getUrlPath service='renovation' template='zwj'#}#}

<body>
{#$pageCurr = "zwj"#}
{#include file="top.html"#}
<!-- 导航条 s -->
<div class="wrap">
	<ul class="breadcrumb">
		<li>{#$langData['renovation'][14][41]#}：</li>  {#* 您的位置 *#}
		<li><a href="{#$renovation_channelDomain#}" target="_blank">{#$langData['siteConfig'][0][0]#}</a><span>&gt;</span></li> {#* 首页 *#}
		<li class="thispg"><a href="{#$pageUrl#}" target="_blank">{#$langData['renovation'][0][6]#}</a></li>  {#* 小区案例 *#}
	</ul>
</div>
<!-- 导航条 e -->
<!-- 条件筛选 s -->
<div class="wrap screen">
	<dl>
		<dt>{#$langData['renovation'][11][10]#}</dt>  {#* 区域 *#}
		<dd>
			<a class="first{#if $addrid == 0#}  curr{#/if#}" href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} addrid='' business='' keywords={#$keywords#}#}#J_crumbs">{#$langData['renovation'][4][28]#}</a>   {#* 不限 *#}
			{#renovation action="addr" return='addr'#}
			<a{#if $addrid == {#$addr.id#}#} class="curr"{#/if#} href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} addrid={#$addr.id#} business='' keywords={#$keywords#}#}#J_crumbs">{#$addr.typename#}</a>
			{#/renovation#}
		</dd>
	</dl>
	{#if $addrid != 0#}
	<dl>
		<dt>&nbsp;</dt>
		<dd>
			<a class="first{#if $business == 0#}  curr{#/if#}" href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} addrid={#$addrid#} business='' keywords={#$keywords#}#}#J_crumbs">{#$langData['renovation'][4][28]#}</a>   {#* 不限 *#}
			{#renovation action="addr" return='addr' type={#$addrid#}#}
			<a{#if $business == {#$addr.id#}#} class="curr"{#/if#} href="{#getUrlParam url={#$pageUrl#} data={#$pageParam#} addrid={#$addrid#} business={#$addr.id#} keywords={#$keywords#}#}#J_crumbs">{#$addr.typename#}</a>
			{#/renovation#}
		</dd>
	</dl>
	{#/if#}
</div>
<!-- 条件筛选 e -->
<!--搜索 s-->
<div class="wrap main main_head fn-clear">
	   {#* 共有 *#}   {#* 条结果 *#}
	<p class="info main-left">{#$langData['renovation'][12][39]#} <span class="red" id="totalCount">0</span> {#$langData['renovation'][12][40]#}</p>	
	<div class="reno_form main-right">
		<form action="{#$pageUrl#}" method="get">
		    <img src="{#$templets_skin#}images/search.png" alt="">
		       {#* 搜索楼区... *#}
		    <input type="text" placeholder="{#$langData['renovation'][12][41]#}" name="keywords" id="keywords" class="inp" value="{#$keywords#}">
		    <div class="renoform_go"><button>{#$langData['renovation'][0][1]#}</button></div>   {#* 搜索 *#}
		</form>		  
	</div>
</div>
<!--搜索 e-->
<!-- 列表 s -->
<div id="container" class="wrap">
	{#renovation action="community" return='community' addrid={#$addrid#} keywords={#$keywords#} page={#$page#} pageSize='10'#}
	<div class="village_list fn-clear">
		<div class="pic">
			{#$src = {#changeFileSize url={#$community.litpic#} type='o_large'#}#}
			<a href="{#$community.url#}" target="_blank"><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$src#}" alt="{#$community.title#}" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';"></a>
		</div>
		<div class="right_b">
			<div class="vill_top">
				<h2>
					<a href="{#$community.url#}" target="_blank" class="tit">{#$community.title#}</a>
				</h2>
				<p class="price red"><span class="price_num">{#$community.price#}</span><span>{#$langData['renovation'][12][42]#}</span></p>   {#* 元/平 *#}
			</div>
			{#* <span class="red">1</span>人查看了该楼盘 *#}
			<p class="view_num">{#$langData['renovation'][14][83]|replace:'1':$community.click#}</p>
			<div class="vill_place">
				<div class="place"><span>{#$community.address#}</span><i data-lnglat="{#$community.lnglat#}" data-company="{#$community.title#}" data-address="{#$community.address#}"></i></div>
				<p class="view_more"><a href="{#$community.url#}">查看其他{#$community.constructionCount#}个工地 ></a></p>
			</div>

			<table  class="li_head">
				<thead>
					<tr>
											
					<td>{#$langData['renovation'][0][7]#}</td>
					<td>{#$langData['renovation'][2][5]#}</td>
					<td>{#$langData['renovation'][6][3]#}</td>
					<td>{#$langData['renovation'][2][3]#}</td>
					<td class="row20">{#$langData['renovation'][12][43]#}</td>
					<td></td>
					</tr>
				</thead>
				<tbody>
					{#foreach from=$community.constructionarr item="i"#} 
					<tr>
						<td class="orange">{#$i.title#}</td><td><em class="areas">{#$i.area#}</em>平</td><td>{#$i.budget#}</td><td class="styles">{#$i.style#}</td><td class="green"><span>{#$i.company#}</span></td><td class="visit" data-id="{#$i.id#}">{#$langData['renovation'][0][29]#}</td>  {#* 预约参观 *#} 
					</tr>
					{#/foreach#}
				</tbody>
			</table>
		</div>
	</div>
	{#/renovation#}
</div>
{#if $pageInfo.totalCount == 0#}
<div class="empty">{#$langData['renovation'][12][44]#}</div>  {#* 抱歉！ 暂无相关小区信息！ *#} 
{#/if#}
<!--列表 e -->

<!-- 分页 -->
{#getPageList service='renovation' template='zwj' pageType='dynamic' param="{#$pageParam#}&page=#page##J_crumbs"#}
<!--预约弹出层 s-->
{#include file="order_submit.html"#}
<!--地图弹窗 s-->
<div class="map_mask">
  	<div class="map_container">
  		<img src="{#$templets_skin#}images/close.png" alt="" class="close_alert">
  		<p class="vill_name"></p>
  		<p class="vill_addr"></p>
  		<!--百度地图容器-->
    	<div style="width:600px;height:380px;" id="dituContent"></div>
  	</div>
  </div>
<!--地图弹窗 e-->

{#include file="bottom.html"#}
<script type="text/javascript" src="{#$site_map_apiFile#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/village.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/village_detail.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/order_submit.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
