{#include file="../../siteConfig/top1.html"#}
<div class="header">
    <div class="wrap fn-clear">
        <div class="logo"><a href="{#getUrlPath service='education' template='index'#}"><img src="{#$education_logoUrl#}" alt=""></a></div>

        <!-- <div class="btn_direc">
            <a href="{#getUrlPath service="member" #}" class="org_ruzhu">{#$langData['education'][8][0]#}</a>   {#* 机构入驻 *#}
            <a href="" class="class_fabu">{#$langData['education'][4][15]#}</a>   {#* 发布课程 *#}
        </div> -->
        <div class="searchbox">
            <form id="myform" action="{#getUrlPath service='education' template='list'#}"  method="get">
                {#* 课程/机构 *#}
                <input type="text" class="searchkey" name="keywords" placeholder="{#$langData['education'][8][1]#}" autocomplete="off" value="{#$keywords#}">
                <i class="isearch"></i>
            </form>
        </div>

        <div class="nav">
            {#* 首页 *#}
            <dl>
                <dt><a href="{#getUrlPath service="education" template="index"#}" {#if $pageCurr == "index"#} class="currpage"{#/if#}>{#$langData['education'][8][2]#}</a></dt>
            </dl>

            {#* 找课程 *#}
            <dl class="state">
                <dt><a href="{#getUrlPath service='education' template='list'#}" {#if $pageCurr == "list"#} class="currpage"{#/if#} title="{#$langData['education'][8][3]#}">{#$langData['education'][8][3]#}</a></dt>
                <em></em>
                <div class="ModuleBox">
                   {#education action="educationtype" return="type"#}
                    {#if $type.id == $typeid#}
                        {#$typeName = $type.typename#}
                    {#/if#}
                     <a href="{#getUrlPath service='education' template='list' param="addrid=$addrid&business=$business&typeid={#$type.id#}&ctypeid=$ctypeid&price=$price&keywords=$keywords"#}" data-id="{#$type.id#}" {#if $typeid == $type.id#} class="curr" {#/if#}>{#$type.typename#}</a>
                    {#/education#}
                </div>
            </dl>

            {#* 找机构 *#}
            <dl class="org_find">
                <dt><a href="{#getUrlPath service="education" template="store"#}" {#if $pageCurr == "store"#} class="currpage"{#/if#} title="{#$langData['education'][8][4]#}">{#$langData['education'][8][4]#}</a></dt>
            </dl>

            {#* 找家教 *#}
            <dl>
                <dt><a href="{#getUrlPath service="education" template="tutor"#}" {#if $pageCurr == "tutor"#} class="currpage"{#/if#} title="{#$langData['education'][8][5]#}">{#$langData['education'][8][5]#}</a></dt>
            </dl>

            {#* 求学留言 *#}
            <dl>
                <dt><a href="{#getUrlPath service="education" template="word"#}" {#if $pageCurr == "word"#} class="currpage"{#/if#} title="{#$langData['education'][0][35]#}">{#$langData['education'][0][35]#}</a></dt>
            </dl>

        </div>
    </div>
</div>