<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$detail_title#}</title>    {#* 课程详情 *#}
    <meta name="keywords" content="{#$education_keywords#}" />
    <meta name="description" content="{#$education_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/detail.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$education_channelDomain#}', staticPath = '{#$cfg_staticPath#}',templetPath='{#$templets_skin#}';
        var hideFileUrl = {#$cfg_hideUrl#};
        var cookiePre = '{#$cfg_cookiePre#}', numArr = [];
        var id='{#$detail_id#}';
        var imconfig = {
            'mod':'education',
            'chatid':"{#$detail_user.userid#}",
            'title': '{#$detail_title#}',
            "price": '<em>￥</em>{#$detail_price#}',
            "imgUrl": '{#changeFileSize url={#$detail_pics[0]["path"]#} type='small'#}',
            "link": '{#getUrlPath service="education" template="detail" id=$detail_id#}',
        }
        var eduData = {
            id: '{#$detail_id#}',
            title: '{#$detail_title#}'
        };
    </script>
</head>

<body class="w1200">
{#$pageCurr = "list"#}
<!-- 导航 s-->
{#include file="_top.html"#}

<!-- 导航 e-->
<div class="main_wrap3">
    <div class="wrap crumbs fn-clear">
        <div class="cont">
            <a href="{#$education_channelDomain#}">{#$education_channelName#}</a>
            <span>></span>
            <a href="{#getUrlPath service='education' template='list'#}">{#$langData['education'][1][4]#}</a>{#* 课程列表 *#}
            <span>></span>
            {#$detail_title#}
        </div>
    </div>
	<!-- 详情 s-->
	<div class="wrap class_detail fn-clear">
        <div class="class_top fn-clear">
            <div class="classLimg"><img src="{#if $detail_pics[0].path#}{#$detail_pics[0].path#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt=""></div>
            <div class="classRcon">
                <h2 class="class_title">{#$detail_title#}</h2>
                <p class="class_price"><strong>{#$detail_price#}</strong>{#$langData['education'][9][58]|replace:'1':''#}</p>{#* 1元起 *#}
                <div class="class_l">
                    <dl>
                        <dt><img src="{#$templets_skin#}images/cla_peo.png" alt=""></dt>
                        <dd><span class="peo_num">{#$detail_sale#}</span>{#$langData['education'][9][59]|replace:'1':''#}</dd> {#* 1人已报名 *#}
                    </dl>
                    <dl>
                        <dt><img src="{#$templets_skin#}images/cla_time.png" alt=""></dt>
                        <dd><span class="cla_start">{#$detail_workArr[0].openStart#}</span>  ~ <span class="cla_end">{#$detail_workArr[0].openEnd#}</span></dd>
                    </dl>
                    {#if $detail_usertype == 1#}
                    <dl>
                        <dt><img src="{#$templets_skin#}images/cla_place.png" alt=""></dt>
                        <dd>{#$detail_user.addrname[$detail_user.addrname|count-2]#} {#$detail_user.addrname[$detail_user.addrname|count-1]#}{#$detail_user.address#}</dd>
                    </dl>
                    {#/if#}
                </div>
                <div class="class_entroll fn-clear">

                    <p class="enroll"><a href="javascript:;">{#$langData['education'][8][19]#}</a></p>  {#* 报名 *#}
                    <div class="btn_group ">
                        {#* 已收藏 *#}   {#* 收藏 *#}   {#* 分享 *#}
                        <a href="javascript:;" class="store-btn{#if $detail_collect#} curr{#/if#}"><button><em></em><span>{#if $detail_collect#}{#$langData['education'][4][6]#}{#else#}{#$langData['education'][0][2]#}{#/if#}</button></a>
                        <div class="share-btn " >
                            <a href="javascript:;" class="newBtn_share" data-title="{#$detail_title#}" data-pic="{#$detail_pics[0].path#}" id="sharre"></a><em></em><span>{#$langData['education'][8][20]#}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="class_bot fn-clear">
            <div class="class_left">
                <div class="cla_manage fn-clear">
                    <h1 class="manage_tit">{#$langData['education'][1][5]#}</h1>   {#* 课程安排 *#}
                    <div class="cla_li fn-clear">

                            {#if count($detail_workArr)>1#}
                            {#foreach from=$detail_workArr key=k item=val#}
                            {#if $k>1#}
                            {#break#}
                            {#/if#}

                           <div class="claDetail  no_close {#if $k==0#}active{#/if#}" data-id="{#$val.id#}">
                                <h3 class="claDet_h3">{#$val.classname#}</h3>
                                <p class="claDet_info">
                                    <span class="pric"><em class="pric_em">{#$val.price#}</em>{#$langData['education'][6][10]#}</span>   {#* 元 *#}
                                    <span class="cla_attr">{#$val.typename#}</span><span class="cla_sub"><em>{#$val.classhour#}</em>{#$langData['education'][7][12]#}</span>      {#* 课时 *#}
                                </p>
                                <p class="claDet_time"><span class="claDet_s">{#$val.openStart#}</span>{#$langData['education'][7][38]#}<span class="claDet_e">{#$val.openEnd#}</span></p>     {#* 至 *#}
                                <p class="claDet_addr">{#$val.address#}</p>
                            </div>
                            {#/foreach#}
                            {#else#}
                            {#foreach from=$detail_workArr key=k item=val#}
                            {#if $k>0#}
                            {#break#}
                            {#/if#}
                            <div class="claDetail no_close {#if $k==0#}active{#/if#}" data-id="{#$val.id#}">

                                <p class="claDet_info">
                                    <span class="pric"><em class="pric_em">{#$val.price#}</em>{#$langData['education'][6][10]#}</span>   {#* 元 *#}
                                    <span class="cla_attr">{#$val.typename#}</span><span class="cla_sub"><em>{#$val.classhour#}</em>{#$langData['education'][7][12]#}</span>      {#* 课时 *#}
                                </p>
                                <p class="claDet_time"><span class="claDet_s">{#$val.openStart#}</span>{#$langData['education'][7][38]#}<span class="claDet_e">{#$val.openEnd#}</span></p>
                                <p class="claDet_addr">{#$val.address#}</p>     {#* 至 *#}
                            </div>
                            {#/foreach#}
                            {#/if#}

                        {#if count($detail_workArr)>1#}

                            {#foreach from=$detail_workArr key=k3 item=val3#}
                            {#if $k3>1#}
                            {#break#}
                            {#/if#}
                            <div class="calaTT claTeach{#$val3.id#} {#if $k3==0#}curr arrow-l{#/if#}">
                                <div class="claTeach  ">
                                    <div class="teac_div">
                                        <p class="claTeach_tit">{#$langData['education'][6][11]#}</p>    {#* 授课教师 *#}
                                        <ul class="teach_ul fn-clear">
                                            {#foreach from=$val3.teacherArr key=k2 item=val2#}
                                            <li>
                                                <div class="top_b fn-clear">
                                                    <div class="left_img">
                                                        <a href="{#$val2.url#}">
                                                            <img src="{#if $val2.photo#}{#$val2.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="right_info fn-clear">
                                                        <h2 class="tutor_name"><a href="{#$val2.url#}">{#$val2.name#}</a><i class=" {#if $k3==0#}sex_nv{#else#} sex_nan{#/if#}"></i></h2>
                                                        <p class="senior_det">{#$langData['education'][7][39]#}：{#$val2.courses#}</p>        {#* 主授课程 *#}
                                                        {#* 身份认证 *#}  {#* 学历认证 *#}
                                                        <p class="prove">
                                                            {#if $val2.certifyState#}<span class="identity">{#$langData['education'][7][29]#}</span> {#/if#}
                                                            {#if $val2.degreestate#}<span class="edu">{#$langData['education'][7][30]#}</span> {#/if#}
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            {#/foreach#}
                                        </ul>
                                    </div>
                                    <div class="class_div">
                                        {#* 班级特色 *#}
                                       <p class="claTeach_tit">{#$langData['education'][1][2]#}</p>
                                        <div class="cla_chara">
                                            {#$val3.desc#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {#/foreach#}

                         {#/if#}


                    </div>
                    {#if count($detail_workArr)>2#}
                    <p class="all_class">{#$langData['education'][8][21]#}</p>  {#* 展开所有班级 *#}
                    {#/if#}
                </div>
                <div class="classDetail">

                    {#* 课程详情 *#}
                    <h3 class="cla_h3">{#$langData['education'][1][6]#}</h3>
                    <div class="claInfo">

                        {#* 课程简介 *#}
                        <p class="claDetp">{#$langData['education'][1][8]#}</p>
                        {#$detail_coursesdesc#}

                        {#* 适用学员 *#}
                        <p class="claDetp">{#$langData['education'][1][9]#}</p>
                        {#$detail_coursesrange#}

                        {#* 授课内容 *#}
                        <p class="claDetp">{#$langData['education'][1][10]#}</p>
                        {#$detail_coursescontent#}

                        {#* 其他说明 *#}
                        <p class="claDetp">{#$langData['education'][0][4]#}</p>
                        {#if $detail_coursesnotes#}
                        {#$detail_coursesnotes#}
                        {#else#}
                        <p>暂无</p>
                        {#/if#}
                    </div>
                </div>
                <div class="cla_command">

                    {#* 推荐课程 *#}
                    <h3 class="cla_h3">{#$langData['education'][8][22]#}</h3>
                    <ul class="list_ul">
                        {#education action="coursesList" return="list" orderby="1" pageSize=2#}
                        {#if $list.rec#}
                            <li class="fn-clear top_li">
                                <i class="top_tag"></i>
                        {#else#}
                            <li class="fn-clear">
                        {#/if#}
                        <a href="{#$list.url#}">
                            <div class="left_b">

                                    <img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="">

                            </div>
                            <div class="mid_b">
                                <h2 class="cla_title">{#$list.title#}</h2>
                                <p class="tip">{#$list.classname#}</p>
                                <div class="cla_info fn-clear">
                                    <div class="class_l">
                                        <dl>
                                            <dt><img src="{#$templets_skin#}images/cla_peo.png" alt=""></dt>
                                            <dd><span class="peo_num">{#$list.sale#}</span>{#$langData['education'][9][59]|replace:'1':''#}</dd>  {#* 1人已报名 *#}
                                        </dl>
                                        <dl>
                                            <dt><img src="{#$templets_skin#}images/cla_time.png" alt=""></dt>
                                            <dd><span class="cla_start">{#$list.openStart|date_format:"%Y-%m-%d"#}</span>  ~ <span class="cla_end">{#$list.openEnd|date_format:"%Y-%m-%d"#}</span></dd>
                                        </dl>
                                        <dl>
                                            <dt><img src="{#$templets_skin#}images/cla_place.png" alt=""></dt>
                                            <dd>{#$list.user.addrname[$list.user.addrname|count-2]#} {#$list.user.addrname[$list.user.addrname|count-1]#}</dd>
                                        </dl>
                                    </div>

                                    <p class="enroll">{#$langData['education'][8][23]#}</p>  {#* 去报名 *#}
                                </div>
                                <div class="new_info fn-clear" data-url="{#$list.user.url#}">
                                    <div class="img_l">

                                            <img src="{#if $list.user.photo#}{#$list.user.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="" class="l_img">{#if $list.store.flag==1 #}<i class="vip"></i>{#/if#}

                                    </div>
                                     {#if $list.usertype==1 #}
                                    <div class="org_name">
                                        {#$list.user.title#}
                                    </div>
                                    {#else#}
                                    <div class="org_name">
                                        {#$list.user.nickname#}
                                    </div>
                                    {#/if#}
                                    <div class="right_b">
                                        {#$priceArr = "."|explode:$list.price#}
                                        {#if $list.price_switch==0#}<p class="new_price">{#if $list.price neq 0#}<strong>{#$priceArr[0]#}</strong><em class="price_sy">{#$langData['education'][9][58]|replace:'1':''#}</em>{#else#}<strong>{#$langData['education'][9][60]#}</strong>{#/if#}</p>{#/if#}  {#* 1元起 *#}  {#* 价格面议 *#}
                                        <em class="t_bg"></em>
                                    </div>
                                    <div class="code_bg">
                                        <div class="code"><img src="{#$cfg_basehost#}/include/qrcode.php?data={#$list.url#}" alt=""></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        </li>
                       {#/education#}
                        {#if $pageInfo.totalCount == 0#}
                        {#* 没有找到符合条件的结果 *#}
                        <li class="empty failed"><img src="{#$templets_skin#}images/icon_faild.png"><span>{#$langData['education'][8][24]#}</span></li>
                        {#/if#}
                    </ul>
                </div>
            </div>
            <div class="list_r">
                <div class="adv_r">
                    <div class=" slideBox" id="slideBox">
                        <div class="page">
                            <div class="hd">
                                <ul><li class="on"></li><li class=""></li><li class=""></li></ul>
                            </div>
                        </div>
                        <div class="bd">
                            <div class="tempWrap">
                                <div class="tempWrap">
                                    <ul>
                                         {#myad title="教育详情_模板二_电脑端_广告一" type="slide"#}
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="det_r1">
                    <p class="det_rtit">{#$langData['education'][8][25]#}</p>    {#* 课程提供 *#}
                    <div class="det_rcon">

                        {#if $detail_usertype==0#}
                        <!--老师发布的课程-->
                        <div class="det_rtop det_person">
                            <span class="contact chat_to-Link" data-type="detail"><img src="{#$templets_skin#}images/contact.png" alt=""></span>
                            <div class="rtop_img"><a href="{#$cfg_basehost#}/user/{#$detail_user.userid#}"><img src="{#if $detail_user.photo#}{#$detail_user.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt=""></a></div>
                            <p class="rtop_title"><a href="{#$cfg_basehost#}/user/{#$detail_user.userid#}">{#$detail_user.nickname#}</a></p>
                            <p class="person_info">
                                {#if $detail_user.certify#}<span class="m_name">{#$langData['education'][7][41]#}</span>{#/if#}    {#* 实名认证 *#}
                                {#if $detail_user.phoneCheck#}<span class="m_tel">{#$langData['education'][7][40]#} </span>{#/if#}    {#* 手机认证 *#}
                            </p>
                            <p class="see_contact see">
                                {#if $userinfo#}
                                <a href="javascript:;">{#if $detail_user.phone#}{#$detail_user.phone#}{#else#}{#$langData['education'][9][57]#}{#/if#}</a>   {#* 暂无联系方式 *#}
                                {#else#}
                                <a href="{#$cfg_basehost#}/login.html">{#$langData['education'][8][26]#}</a>   {#* 查看联系方式 *#}
                                {#/if#}
                            </p>
                        </div>

                        {#else#}
                        <!--机构发布的课程-->
                        <div class="det_rtop det_org">
                            <span class="contact chat_to-Link" data-type="detail"><img src="{#$templets_skin#}images/contact.png" alt=""></span>
                            <div class="rtop_img"><a href="{#$detail_user.url#}"><img src="{#if $detail_user.photo#}{#$detail_user.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt=""><i class="vip"></i></a></div>
                            <p class="rtop_title"><a href="{#$detail_user.url#}" target="_blank">{#$detail_user.title#}</a></p>
                            <div class="rtop_info fn-clear">
                                {#* 课程 *#}
                                <dl class="class_dl"><dt>{#$detail_store.coursesnums#}</dt><dd>{#$langData['education'][7][14]#}</dd></dl><i class="dl_line"></i>
                                {#* 教师 *#}
                                <dl class="teac_dl"><dt>{#$detail_store.teachernums#}</dt><dd>{#$langData['education'][7][23]#}</dd></dl>
                            </div>
                            <p class="see_contact see">
                                {#if $userinfo#}
                                <a href="javascript:;">{#$detail_user.phone#}</a>
                                {#else#}
                                <a href="{#$cfg_basehost#}/login.html">{#$langData['education'][8][26]#}</a>
                                {#/if#}
                            </p>    {#* 查看联系方式 *#}
                            <p class="see_store see">

                                <a href="{#$detail_user.url#}" target="_blank">{#$langData['education'][1][12]#}</a>{#* 进店看看 *#}

                            </p>


                        </div>
                        <div class="det_rbottom">
                            <p class="other_class">{#$langData['education'][8][27]#}</p>     {#* 其他课程 *#}
                            <ul class="bott_ul">
                                {#education action="coursesList" return="list" store="{#$detail_userid#}" orderby="1" pageSize=6#}
                                <li class="fn-clear">
                                    <a href="{#$list.url#}" target="_blank">
                                        <span class="dot">•</span>
                                        <div class="other_info">
                                            <p class="other_time"><span class="day">{#$list.pubdate|date_format:"%m-%d"#}</span></p>
                                            <p class="other_title">{#$list.title#}</p>
                                        </div>
                                    </a>
                                </li>
                                {#/education#}
                            </ul>
                        </div>
                        {#/if#}

                    </div>
                </div>
            </div>
        </div>


	</div>
	<!-- 详情 e-->
</div>
<!--报名弹窗 s-->
<div class="entr_mask">
  <div class="entr_container">
    <img src="{#$templets_skin#}images/close_alert.png" alt="" class="close_alert">
    <p class="t1">{#$langData['education'][8][28]#}</p>  {#* 付款报名 *#}
    <div class="entr_div">
        <p class="entr_tit">{#$langData['education'][8][29]#}</p>   {#* 预约人信息 *#}
        <form action="">
            <input type="text" placeholder="{#$langData['education'][8][15]#}" id="entr_name">    {#* 填写您的称呼 *#}
            <div class="inpbdr fn-clear">
                <span class="areaCode"><i>+{#$internationalPhoneSection[0]['code']#}</i><s></s></span>
                <input type="number" placeholder="{#$langData['education'][8][16]#}" id="entr_phone">   {#* 填写您的联系方式 *#}
                <!--国际区号弹窗-->
                <div class="areaCode_wrap areaCode_wrap2">
                    <ul>

                    </ul>
                </div>
                <input type="hidden" name="areaCode" id="areaCode" value="">
            </div>


        </form>
        <p class="entr_tit entr_tit2">{#$langData['education'][8][30]#}</p>    {#* 确认课程信息 *#}
        <div class="entr_confirm fn-clear">
            <div class="entr_l"><img src="" alt=""></div>
            <div class="entr_r">
                <p class="entr_title"></p>
                <p class="entr_class"></p>
            </div>
        </div>
        <p class="entr_price">{#$langData['education'][8][31]#}<strong class="price_det"></strong></p> {#* 实付 *#}
    </div>

    <ul class="fn-clear enter_ul">
        <li class="entr_back">{#$langData['education'][8][32]#}</li>     {#* 返回选班 *#}
        <li class="entr_pay">
            <a href="javascript:;">{#$langData['education'][8][33]#}</a>      {#* 去付款 *#}
        </li>
    </ul>

  </div>
</div>
<!--报名弹窗 e-->
{#include file="bottom.html"#}

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/detail.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/class_detail.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
