<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="{#$cfg_soft_lang#}">
<title>{#$education_title#}</title>
<meta name="keywords" content="{#$education_keywords#}" />
<meta name="description" content="{#$education_description#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/index.css?v={#$cfg_staticVersion#}" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>

<script type="text/javascript">
    var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
    var hideFileUrl = {#$cfg_hideUrl#};
	var cookiePre = '{#$cfg_cookiePre#}', numArr = [];
</script>
</head>
<body class="w1200">
<!--导航 s-->
{#$pageCurr = 'index'#}
{#include file="_top.html"#}
<!--导航 e-->
<div class="banner_wrap">
    <div class="slider">
      <div class="bd">
        <ul>
          {#myad title="教育_模板二_电脑端_广告一" type="slide"#}

        </ul>
      </div>
      <div class="hd">
        <ul></ul>
      </div>
      <div class="pnBtn prev">
        <span class="blackBg"></span>
        <a class="arrow" href="javascript:void(0)"></a>
      </div>
      <div class="pnBtn next">
        <span class="blackBg"></span>
        <a class="arrow" href="javascript:void(0)"></a>
      </div>
    </div>

    <div class="adv_wrap wrap fn-clear" id="adv1">
        {#myad title="教育_模板二_电脑端_广告二"#}
    </div>
</div>

<div class="mainBox">
    <div class=" fn-clear">
        <!--热门课程 s-->
        <div class="hot_class fn-clear wrap wrap2">
            {#* 热门课程 *#}   {#* 发布课程 *#}
            <div class="class_title fn-clear wrap"><h1 class="h1_title">{#$langData['education'][0][38]#}</h1><a href="" class="fabu spe_fabu">{#$langData['education'][4][15]#}</a></div>
            <div class="classList">
                <div class="slideBox slideBox2">
                    <div class="bd">

                            <ul class="fn-clear" >
                                {#education action="coursesList" return="list" orderby="1" pageSize=12#}
                                <li class="fn-clear">
                                    <a target="_blank" href="{#$list.url#}" class="fn-clear">
                                        {#if $list.rec#}
                                        <i class="top_i"></i>
                                        {#/if#}
                                        <div class="top_img"><img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt=""></div>
                                        <div class="class_info">
                                            <p class="tit fn-clear"><span>{#$list.title#}</span> <em class="t_bg"></em></p>
                                            <p class="info2 fn-clear">
                                                {#$priceArr = "."|explode:$list.price#}
                                                {#if $list.price_switch==0#}
                                                <span class="pr_span">{#if $list.price neq 0#}<strong>{#$priceArr[0]#}</strong>{#$langData['education'][9][58]|replace:'1':''#}{#/if#}</span> {#* 1元起 *#}
                                                {#else#}
                                                <span class="pr_span"><strong>{#$langData['education'][8][10]#}</strong></span>     {#* 待定 *#}
                                                {#/if#}
                                                <span class="num_span"><em>{#$list.sale#}</em>{#$langData['education'][9][61]|replace:'1':''#}</span> {#* 1人报名 *#}
                                            </p>
                                        </div>
                                        <div class="code_bg">
                                            <div class="code"><img src="{#$cfg_basehost#}/include/qrcode.php?data={#$list.url#}" alt=""></div>
                                            <i></i>
                                        </div>

                                    </a>
                                </li>
                                {#/education#}
                            </ul>

                    </div>
                    <div class="hd wrap"><ul class="fn-clear"><li class=""></li><li class=""></li><li class="on"></li></ul></div>
                </div>

            </div>
        </div>
        <!--热门课程 e-->
        <!--推荐机构 s-->
        <div class="org_recom fn-clear wrap wrap2">
            {#* 推荐机构 *#}   {#* 入驻机构 *#}
            <div class="class_title fn-clear wrap"><h1 class="h1_title">{#$langData['education'][0][36]#}</h1><a href="http://zmy.215000.com/b" class="fabu spe_fabu">{#$langData['education'][8][6]#}</a></div>
            <div class="orgList">
                <div class="slideBox slideBox3">
                    <div class="bd">

                            <ul class="fn-clear" >
                                {#education action="storeList" return="list" orderby="3" pageSize=12#}
                                <li class="fn-clear">
                                    <a target="_blank" href="{#$list.url#}" class="fn-clear">
                                        <div class="top_img">
                                            <img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="">
                                            <p class="org_txt"><i></i><span>{#$list.addrname[$list.addrname|count-2]#}</span></p>
                                        </div>
                                        <div class="org_info">
                                            <p class="tit fn-clear"><span>{#$list.title#}</span> <em class="t_bg"></em></p>
                                            <p class="org_info2 fn-clear">
                                                {#* 资质认证 *#}
                                                {#if $list.flag ==1#}<span class="certify">{#$langData['education'][7][24]#}</span>{#/if#}
                                                {#if $list.tag!=''#}
                                                {#$j=count($list.tagAll)-1#}
                                                {#for $i=0 to $j#}
                                                <span>{#$list.tagAll[$i].jc#}</span>
                                                {#/for#}
                                                {#/if#}

                                            </p>
                                        </div>
                                        <div class="code_bg fn-clear">
                                            <div class="code"><img src="{#$cfg_basehost#}/include/qrcode.php?data={#$list.url#}" alt=""></div>
                                            <i></i>
                                        </div>
                                    </a>
                                </li>
                                {#/education#}
                            </ul>

                    </div>
                    <div class="hd wrap"><ul class="fn-clear"><li class=""></li><li class=""></li><li class="on"></li></ul></div>
                </div>

            </div>
        </div>

        <!--推荐机构 e-->
        <!--广告2 s-->
        <div class="adv2_wrap wrap fn-clear" id="adv3">
            {#myad title="教育_模板二_电脑端_广告三"#}
        </div>
        <!--广告2 e-->
    </div>
</div>
<div class="mainBox2">
    <div class="wrap fn-clear">
        <div class="left_con">
            {#* 金牌家教 *#}   {#* 申请成为家教 *#}  {#* 更多 *#}
            <div class="class_title fn-clear"><h1 class="h1_title">{#$langData['education'][8][7]#}</h1><a href="{#getUrlPath service='education' template='tutor'#}" class="more">{#$langData['education'][8][9]#} ></a></div>
            <div class="tutor_list">
                <ul class="fn-clear">
                    {#education action="tutorList" return="ilist"  page=1 pageSize="3"#}
                    <li>
                        <a href="{#$ilist.url#}" target="_blank">
                            <div class="tutor_img"><img src="{#if $ilist.photo#}{#$ilist.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt=""></div>
                            <h2 class="tutor_name">{#$ilist.username#}</h2>
                            <p class="tutor_edu"><span class="school" data-num='8'>{#$ilist.university#}</span><em> · </em><span>{#$ilist.educationname#}</span></p>
                            <div class="tutor_time">
                                {#$priceArr = "."|explode:$ilist.price#}
                                {#if $ilist.price_switch==0#}
                                <span class="tutor_price">{#if $ilist.price neq 0#}<strong>{#$priceArr[0]#}</strong>{#$langData['education'][9][91]|replace:'1':''#}{#/if#}</span> {#* 1元/小时 *#}
                                {#else#}
                                <span class="tutor_price"><strong>{#$langData['education'][8][10]#}</strong></span>  {#* 待定 *#}
                                {#/if#}
                                {#if $ilist.fullclass==0#}
                                <span class="ord_tag">{#$langData['education'][7][27]#}</span>  {#* 预约 *#}
                                {#else#}
                                    {#if $ilist.fullclass==1#}
                                    <span class="ord_tag noord_tag">{#$langData['education'][7][28]#}</span>  {#* 满课 *#}
                                    {#/if#}
                                {#/if#}
                            </div>
                            <div class="tutor_info fn-clear">
                                <p class="info_det">{#$ilist.note#}</p>
                                {#if $ilist.fullclass==0#}
                                <p class="order right_in" data-id="{#$ilist.id#}"><i></i>{#$langData['education'][7][27]#}</p>   {#* 预约 *#}
                                {#else#}
                                    {#if $ilist.fullclass==1#}
                                    <p class="noorder right_in disabled">{#$langData['education'][2][32]#}</p>  {#* 暂无时段可约 *#}
                                    {#/if#}
                                {#/if#}
                            </div>
                        </a>
                    </li>


                    {#/education#}
                </ul>
            </div>
            <div class="adv_wrap3 fn-clear">
                <div class="fir_l_top">
                    <div class="adbox" id="adbox">
                        <div class="slideBox" id="slideBox">
                            <div class="page">
                                <div class="hd">
                                   <ul><li class=""></li><li class=""></li><li class=""></li><li class="on"></li><li class=""></li></ul>
                                </div>
                            </div>
                            <div class="bd">
                                <div class="tempWrap">

                                        <ul>{#myad title="教育_模板二_电脑端_广告四" type="slide"#}</ul>

                                </div>
                            </div>
                            <a href="javascript:;" class="prev"></a>
                            <a href="javascript:;" class="next"></a>
                        </div>
                    </div>
                </div>
                <div class="adv_r">
                    <div class="fir_li">{#myad title="教育_模板二_电脑端_广告五" #}</div>
                    <div>{#myad title="教育_模板二_电脑端_广告六" #}</div>
                </div>
            </div>
        </div>
        <div class="right_con">
            {#* 求学留言 *#}   {#* 发布留言 *#}  {#* 更多 *#}
            <div class="class_title fn-clear"><h1 class="h1_title">{#$langData['education'][0][35]#}</h1><a href="{#getUrlPath service='education' template='word'#}" class="more">{#$langData['education'][8][9]#} ></a></div>
            <div class="word_list">
                <ul class="word_ul">
                	{#$j=1#}
                    {#education action="wordList" return="ilist"  page=1 pageSize="20"#}
                    <li class="word_li {#if $j==1#}curr{#/if#}">
                        <div class="word_title">
                            {#* 最新 *#}
                            {#if !pubdate_istoday#}<em class="new">{#$langData['education'][9][54]#} </em>{#else#}<i class="tag"></i>{#/if#}
                            <h2 class="word_tit"><a href="{#$ilist.url#}" target="_blank">{#$ilist.title#}</a></h2>

                        </div>
                        <div class="word_info">
                            <a href="{#$ilist.url#}" target="_blank">
                                <ul class="fn-clear">
                                    {#* 求教科目 *#}
                                    <li><span>{#$langData['education'][1][34]#}</span><span>{#$ilist.subjects#}</span></li>

                                    {#* 所在区域 *#}
                                    <li><span>{#$langData['education'][1][37]#}</span><span>{#$ilist.addrname[1]#}</span></li>

                                    {#* 预期费用 *#} {#* 1元/小时 *#}
                                    <li><span>{#$langData['education'][1][35]#}</span><span>{#$ilist.price#}{#$langData['education'][9][91]|replace:'1':''#}</span></li>

                                    {#* 身份要求 *#}
                                    <li><span>{#$langData['education'][1][36]#}</span><span>{#$ilist.educationname#}</span></li>

                                    {#* 上课时间 *#}
                                    <li><span>{#$langData['education'][1][38]#}</span><span class="last_span">{#$ilist.subjectstime#}</span></li>
                                </ul>
                            </a>
                        </div>
                        <div class="word_user fn-clear">
                            <div class="left_b">

                                <div class="left_img"><img src="{#if $ilist.user.photo#}{#$ilist.user.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt=""></div>
                                <span class="word_name">{#$ilist.user.nickname#}</span>
                            </div>
                            <div class="right_b">
                                <span class="user_contact">
                                    {#* 联系 *#}
                                    <a href="javascript:;"><i class="callTag"></i><em class="cont">{#$langData['education'][8][11]#}Ta</em><em class="cont-num">{#$ilist.tel#}</em></a>
                                </span><span class="pub_time"><em>{#$ilist.pubdate|date_format:"%m-%d"#}</em>{#$ilist.pubdate|date_format:"%H:%M"#}</span>
                            </div>
                        </div>
                    </li>
                    {#$j=$j+1#}
                    {#/education#}
                    {#* 查看更多 *#}
                    <p class="word_more"><a href="{#getUrlPath service='education' template='word'#}">{#$langData['education'][8][12]#} >></a></p>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="mainBox3">
	<div class="wrap">
         {#education action="educationtype" return="type" pageSize="3"#}
		<div class="langAbroad">
			<div class="lang_head fn-clear">
				<h2 class="tit_h2">{#$type.typename#}</h2>

				<ul class="head_ul">
                    {#education action="educationtype" return="type2" type=$type.id pageSize="4"#}
                    <li><a href="{#$type2.url#}"  target="_blank">{#$type2.typename#}</a></li>
                    {#/education#}
                </ul>

                {#* 更多 *#}
				<a href="{#$type.url#}" class="see_more" target="_blank">{#$langData['education'][8][9]#} ></a>
			</div>
			<div class="lang_con">
				<ul class="fn-clear" >
                    {#education action="coursesList" return="ilist" typeid=$type.id  page=1 pageSize="4"#}
                    <li>
                        <a href="{#$ilist.url#}" target="_blank">
                            <div class="top_img"><img src="{#if $ilist.litpic#}{#$ilist.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt=""></div>
                            <div class="class_info">
                            	<p class="time_class"><span class="det_class">{#$ilist.classname#}</span><em class="t_bg"></em></p>
                                <p class="tit fn-clear"><span>{#$ilist.title#}</span> </p>
                                <p class="info2 fn-clear">
                                    {#$priceArr = "."|explode:$ilist.price#}
                                    {#if $ilist.price_switch==0#}
                                    <span class="pr_span">{#if $ilist.price neq 0#}<strong>{#$priceArr[0]#}</strong>{#$langData['education'][9][58]|replace:'1':''#}{#else#}<strong>{#$langData['education'][8][10]#}</strong>{#/if#}</span>  {#* 1元起 *#} {#* 待定 *#}
                                    {#else#}
                                    <span class="pr_span"><strong>{#$langData['education'][8][10]#}</strong></span>     {#* 待定 *#}
                                    {#/if#}
                                    <span class="num_span"><em>{#$ilist.sale#}</em>{#$langData['education'][9][61]|replace:'1':''#}</span> {#* 1人报名 *#}
                                </p>
                            </div>
                            <div class="org_info">
                            	<div class="org_img"><img src="{#if $ilist.user.photo#}{#$ilist.user.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt=""></div>
                                {#if $ilist.usertype==1 && $ilist.user.addrname!=undefined #}
                            	<span class="org_tit">{#$ilist.user.title#}</span>
                            	<span class="org_place">{#$ilist.user.addrname[$ilist.user.addrname|count-2]#} {#$ilist.user.addrname[$ilist.user.addrname|count-1]#}</span>
                                {#else#}
                                <span class="org_tit">{#$ilist.user.nickname#}</span>
                                {#/if#}

                            </div>
                            <div class="code_bg">
                                <div class="code"><img src="{#$cfg_basehost#}/include/qrcode.php?data={#$ilist.url#}" alt=""></div>

                                <i></i>
                            </div>
                        </a>
                    </li>
                    {#/education#}
                </ul>
			</div>
		</div>

        {#/education#}
		<p class="see_allClass"><a href="{#getUrlPath service='education' template='list'#}" target="_blank">{#$langData['education'][8][14]#}</a></p>  {#* 全部课程 *#}
        <div class="bottom_adv fn-clear">
            <div class="left_adv">
                {#myad title="教育_模板二_电脑端_广告七"#}
            </div>
            <div class="right_adv">{#myad title="教育_模板二_电脑端_广告八"#}</div>
        </div>
	</div>
</div>
<!--预约弹窗 s-->
<div class="order_mask">
  <div class="order_container">
        <img src="{#$templets_skin#}images/close_alert.png" alt="" class="close_alert">
        {#* 留存联系方式 *#}   {#* 快速预约，抢占名额 *#}
        <p class="t1"><strong>{#$langData['education'][2][27]#}</strong>{#$langData['education'][2][28]#}</p>
        <form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=education&action=booking&oper=add">
            <input type="hidden" name="tutorid" value="" class="tutorid">
            <input type="hidden" name="areaCode" value="{#$internationalPhoneSection[0]['code']#}" id="areaCode">
            <input type="text" placeholder="{#$langData['education'][8][15]#}" id="username" name="username">    {#* 填写您的称呼 *#}
            <div class="inpbdr fn-clear">
                <span class="areaCode"><i>+{#$internationalPhoneSection[0]['code']#}</i><s></s></span>
                <input type="text" placeholder="{#$langData['education'][8][16]#}" id="tel" name="tel">   {#* 填写您的联系方式 *#}
                <!--国际区号弹窗-->
                <div class="areaCode_wrap areaCode_wrap2">
                    <ul>

                    </ul>
                </div>
            </div>

        </form>
        <p class="order_submit">{#$langData['education'][0][3]#}</p>    {#* 预约 *#}

  </div>
</div>
<!--预约弹窗 e-->
<!--预约成功弹窗 s-->
<div class="tutor_success">
  <div class="tutor_container">
    <img src="{#$templets_skin#}images/close_alert.png" alt="" class="close_alert">
    <div class="wave">
        <img src="{#$templets_skin#}images/shine.png" alt="" class="shine_img">
        <div class="m-box">
            <div class="m-duigou"></div>
        </div>
    </div>
    <p class="t1">{#$langData['education'][8][17]#}</p>    {#* 预约成功！ *#}
    <p class="t2">{#$langData['education'][8][18]#}</p>    {#* 对方将尽快联系您沟通相关事宜 *#}
  </div>
</div>
<!--预约成功弹窗 e-->
<!--底部 s-->
{#include file="bottom.html"#}
<!--底部 e-->

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/index.js?v={#$cfg_staticVersion#}"></script>


</body>
</html>
