<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$langData['education'][1][5]#}</title>   {#* 课程安排 *#}
    <meta name="keywords" content="{#$education_keywords#}" />
    <meta name="description" content="{#$education_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/list_filter.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/class_list.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$education_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
        var hideFileUrl = {#$cfg_hideUrl#};
        var cookiePre = '{#$cfg_cookiePre#}', numArr = [];
    </script>

</head>

<body class="w1200">
{#$pageCurr = "list"#}
{#$addridName = ''#}
{#$businessName = ''#}
{#$typeidName = ''#}
{#$ctypeidName = ''#}
{#$priceTitle = ''#}

<!-- 导航 s-->
{#include file="_top.html"#}

<!-- 导航 e-->
<div class="main_wrap">
    <div class="wrap crumbs fn-clear">
        {#* 课程列表 *#}
        <div class="cont">
            <a href="{#$education_channelDomain#}">{#$education_channelName#}</a>
            <span>></span>
            {#$langData['education'][1][4]#}
        </div>
    </div>
	<!-- 筛选 s-->
    <div class="filter_box wrap">
        <div class="filter">
			<!-- 区域 s-->
            <dl class="fn-clear" id="addr">
                <dt>{#$langData['education'][3][13]#}</dt>     {#* 区域 *#}
                <dd class="chooseClass" data-chose="quyu">
                    <a href="{#getUrlPath service='education' template='list' param="addrid=0&business=0&typeid=$typeid&ctypeid=$ctypeid&price=$price&keywords=$keywords"#}" {#if $addrid == 0#} {#$addridName='不限'#} class="curr" {#/if#}>{#$langData['education'][3][17]#}
                    </a>                                       {#* 不限 *#}
                    {#education action="addr" return="addr" son="once"#}
                    {#if $addr.id == $addrid#}
                        {#$addridName = $addr.typename#}
                    {#/if#}
                    <a href="{#getUrlPath service='education' template='list' 
                    param="addrid={#$addr.id#}&business=0&typeid=$typeid&ctypeid=$ctypeid&price=$price&keywords=$keywords" #}" data-id="{#$addr.id#}" {#if $addrid == $addr.id#} class="curr"{#/if#}>{#$addr.typename#}{#if $addr.lower#}{#/if#}</a>
                    {#/education#}

                    {#if $addrid != 0#}
                    <div class="subnav fn-clear">
                        <div id="addr{#$addr1.id#}" class="chooseClass" data-chose="quyu_sub">
                            <a href="
                            {#getUrlPath service='education' template='list' 
                            param="addrid=$addrid&business=0&typeid=$typeid&ctypeid=$ctypeid&price=$price&keywords=$keywords" #}" 
                            data-id="{#$addr1.id#}" {#if $business == 0#} {#$businessName = '不限'#} class="curr" {#/if#}>{#$langData['education'][3][17]#}</a>      {#* 不限 *#}
                            {#education action="addr" return="addr2" type=$addrid#}
                            {#if $addr2.id == $business#}
                                {#$businessName = $addr2.typename#}
                            {#/if#}
                            <a href="{#getUrlPath service='education' template='list' param="addrid=$addrid&business={#$addr2.id#}&typeid=$typeid&ctypeid=$ctypeid&price=$price&keywords=$keywords" #}" data-id="{#$addr2.id#}" 
                            {#if $business==$addr2.id#} class="curr" {#/if#} >{#$addr2.typename#}</a>
                            {#/education#}
                        </div>
                    </div>
                   {#/if#}     
                </dd>              
            </dl> 
            <!-- 区域 e-->
            <!-- 学习方向 s-->                      
            <dl class="fn-clear">
                <dt>{#$langData['education'][3][18]#}</dt>     {#* 学习方向 *#}
                <dd class="chooseClass" data-chose="study" id="studyChoose">
                    <a href="{#getUrlPath service='education' template='list' param="addrid=$addrid&business=$business&typeid=0&ctypeid=$ctypeid&price=$price&keywords=$keywords" #}" {#if $business == 0#} {#$typeName = '不限'#} class="curr" {#/if#}>{#$langData['education'][4][9]#}</a>     {#* 全部 *#}
                    {#education action="educationtype" return="type"#}
                    {#if $type.id == $typeid#}
                        {#$typeName = $type.typename#}
                    {#/if#}
                     <a href="{#getUrlPath service='education' template='list' param="addrid=$addrid&business=$business&typeid={#$type.id#}&ctypeid=$ctypeid&price=$price&keywords=$keywords"#}" data-id="{#$type.id#}" {#if $typeid == $type.id#} class="curr" {#/if#}>{#$type.typename#}</a>
                    {#/education#}


                </dd>
            </dl>
            <!-- 学习方向 e-->
            <!-- 时间 s-->
            <dl class="fn-clear">
                <dt>{#$langData['education'][6][12]#}</dt>     {#* 时间 *#}                                                  
                <dd class="chooseClass" data-chose="time" id="timeChoose">
                    <a href="{#getUrlPath service='education' template='list' param="addrid=$addrid&business=$business&typeid=$typeid&ctypeid=0&price=$price&keywords=$keywords"#}" {#if $ctypeid==0#}  {#$ctypeidName='不限'#} class="curr" {#/if#}>{#$langData['education'][3][17]#}</a>      {#* 不限 *#}

                     {#education action="educationitem" return="item" type="3"#}
                    {#if $item.id == $ctypeid#}
                    {#$ctypeidName = $item.typename#}
                    {#/if#}
                     <a href="{#getUrlPath service='education' template='list' param="addrid=$addrid&business=$business&typeid=$typeid&ctypeid={#$item.id#}&price=$price&keywords=$keywords"#}"
                     {#if $ctypeid==$item.id#} class="curr" {#/if#} >{#$item.typename#}</a>
                    {#/education#}
            
                </dd>
            </dl>

            <!-- 时间 e-->
            <!-- 费用  s-->
            <dl class="fn-clear">
                <dt>{#$langData['education'][9][0]#}</dt>     {#* 费用 *#}

                <dd class="chooseClass" data-chose="price" id="priceChoose">
                    <a href="{#getUrlPath service='education' template='list' param="addrid=$addrid&business=$business&typeid=$typeid&ctypeid=$ctypeid&price=&keywords=$keywords"#}" data-id="0" {#if $price=='0'#} {#$priceName='不限'#} class="curr" {#/if#}>{#$langData['education'][3][17]#}</a>      {#* 不限 *#}
                    <a href="{#getUrlPath service='education' template='list' param="addrid=$addrid&business=$business&typeid=$typeid&ctypeid=$ctypeid&price=0,100&keywords=$keywords"#}" data-id="0,100" {#if $price=='0,100'#}  class="curr" {#/if#}>100{#echoCurrency type='short'#}以下</a>
                    <a href="{#getUrlPath service='education' template='list' param="addrid=$addrid&business=$business&typeid=$typeid&ctypeid=$ctypeid&price=100,200&keywords=$keywords"#}" data-id="100,200" {#if $price=='100,200'#}        class="curr" {#/if#}>100-200{#echoCurrency type='short'#}</a>
                    <a href="{#getUrlPath service='education' template='list' param="addrid=$addrid&business=$business&typeid=$typeid&ctypeid=$ctypeid&price=200,500&keywords=$keywords"#}" data-id="200,500" {#if $price=='200,500'#}   class="curr" {#/if#}>200-500{#echoCurrency type='short'#}</a>
                    <a href="{#getUrlPath service='education' template='list' param="addrid=$addrid&business=$business&typeid=$typeid&ctypeid=$ctypeid&price=500,1000&keywords=$keywords"#}" data-id="500,1000" {#if $price=='500,1000'#}  class="curr" {#/if#}>500-1000{#echoCurrency type='short'#}</a>
                    <a href="{#getUrlPath service='education' template='list' param="addrid=$addrid&business=$business&typeid=$typeid&ctypeid=$ctypeid&keywords=$keywords&price=1000,"#}" data-id="1000," {#if $price=='1000,'#}  class="curr" {#/if#}>1000{#echoCurrency type='short'#}以上</a>

                    <div class="inpbox inp_price">
                        {#* 元 *#}
                       <input type="input" class="p1" id="priceLow" placeholder="{#$langData['education'][6][10]#}" maxlength="6" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"><em>-</em>
                       {#* 元 *#}
                       <input type="input" class="p2" id="priceTop" placeholder="{#$langData['education'][6][10]#}" maxlength="6" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                        <button class="btn btn_price" id="price_sure">{#$langData['education'][3][1]#}</button>      {#* 确定 *#}

                        {#if $priceArr[0] !=0 &&  $priceArr[1] ==0#}
                                {#$priceTitle=$priceArr[0]|cat:'元以上'#}
                            {#else if $priceArr[0] !=0 &&  $priceArr[1] !=0#}
                                {#$priceTitle=$priceArr[0]|cat:'-'|cat:$priceArr[1]|cat:'元'#}
                            {#else $priceArr[0]==0 && $priceArr[1]!=0#}
                                {#$priceTitle=$priceArr[1]|cat:'元以下'#}
                        {#/if#}
                    </div>

                </dd>
            </dl>
            <!-- 费用  s-->
        </div>

        {#if $keywords != "" || $addrid !=0  || $business !=0 || $typeid !=0 || $ctypeid !=0 || $price !=""  #}
        <div class="deletebox">
            <dl class="fi-state fn-clear" style="display: block;">
                <dt>已选条件</dt>
                <dd class="fn-clear">
                    {#if $keywords#}
                    <a href="{#getUrlPath service='education' template='list' param="addrid={#$addr.id#}&business=0&typeid=$typeid&ctypeid=$ctypeid&price=$price&keywords=" #}"><span>{#$keywords#}</span><i class="idel"></i></a>
                    {#/if#}
                    {#if $addrid#}
                    <a href="{#getUrlPath service='education' template='list' param="addrid=0&business=0&typeid=$typeid&ctypeid=$ctypeid&price=$price&keywords=$keywords" #}"><span>{#$addridName#}</span><i class="idel"></i></a>
                    {#/if#}
                    {#if $business#}
                    <a href="{#getUrlPath service='education' template='list' param="addrid=$addrid&business=0&typeid=$typeid&ctypeid=$ctypeid&price=$price&keywords=$keywords" #}"><span>{#$businessName#}</span><i class="idel"></i></a>
                    {#/if#}
                    {#if $typeid#}
                    <a href="{#getUrlPath service='education' template='list' param="addrid=$addrid&business=$business&typeid=0&ctypeid=$ctypeid&price=$price&keywords=$keywords" #}"><span>{#$typeName#}</span><i class="idel"></i></a>
                    {#/if#}
                     {#if $ctypeid#}
                    <a href="{#getUrlPath service='education' template='list' param="addrid=$addrid&business=$business&typeid=$typeid&ctypeid=0&price=$price&keywords=$keywords" #}"><span>{#$ctypeidName#}</span><i class="idel"></i></a>
                    {#/if#}
                    {#if $price#}
                    <a href="{#getUrlPath service='education' template='list' param="addrid=$addrid&business=$business&typeid=$typeid&ctypeid=$ctypeid&price=&keywords=$keywords" #}"><span>{#$priceTitle#}</span><i class="idel"></i></a>
                    {#/if#}
                   
                </dd>
                <a class="btn_clear" href="{#getUrlPath service='education' template='list' 
                param="addrid=0&business=0&typeid=0&ctypeid=0&price=&keywords=" #}">清空条件</a>
            </dl>
        </div>
        {#/if#}

    </div>
    <!-- 筛选 e-->
	<!-- 列表 s-->
	<div class="wrap class_wrap fn-clear">
		<!-- 列表左 s-->
	    <div class="list_left">
            <div class="sort">
                <ul class="fn-clear">
                    <li  data-sort="1" {#if $orderby==''#} class="st curr"{#/if#}><a href="{#getUrlPath service='education' template='list' param="addrid=$addrid&business=$business&typeid=$typeid&ctypeid=$ctypeid&price=&keywords=$keywords&orderby=" #}">{#$langData['education'][3][19]#}</a></li> {#* 默认排序 *#}
                    <li  data-sort="2" {#if $orderby==1#} class="st curr"{#/if#}><a href="{#getUrlPath service='education' template='list' param="addrid=$addrid&business=$business&typeid=$typeid&ctypeid=$ctypeid&price=&keywords=$keywords&orderby=1" #}">{#$langData['education'][9][7]#}</a></li> {#* 最新发布 *#}
                    <li {#if $orderby==4#} class="st curr"{#/if#} data-sort="2"><a href="{#getUrlPath service='education' template='list' param="addrid=$addrid&business=$business&typeid=$typeid&ctypeid=$ctypeid&price=&keywords=$keywords&orderby=4" #}">{#$langData['education'][9][62]#}</a></li> {#* 最多报名 *#}
                </ul>
            </div>

	        <ul class="list_ul">
                {#education action="coursesList" return="list" addrid={#$addrid#} keywords={#$keywords#} business={#$business#} typeid={#$typeid#} ctypeid={#$ctypeid#} price={#$price#} orderby={#$orderby#} page={#$page#} pageSize=10#}

	            {#if $list.rec == 1#}
					<li class="fn-clear top_li">
						<i class="top_tag"></i>
				{#else#}
					<li class="fn-clear">
				{#/if#}
	                <div class="left_b">
	                	<a href="{#$list.url#}" target="_blank">
	                		<img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="">
	                	</a>
	                </div>
	                <div class="mid_b">
                        <a href="{#$list.url#}" target="_blank">
    	                    <h2 class="cla_title">
    	                    	{#$list.title#}
    						</h2>
    	                    <p class="tip">{#$list.classname#}</p>
    	                    <div class="cla_info fn-clear">
    	                    	<div class="class_l">
    	                    		<dl>
    		                    		<dt><img src="{#$templets_skin#}images/cla_peo.png" alt=""></dt>
    		                    		<dd><span class="peo_num">{#$list.sale#}</span>{#$langData['education'][9][59]|replace:'1':''#}</dd> {#* 1人已报名 *#}
    		                    	</dl>
    		                    	<dl>
    		                    		<dt><img src="{#$templets_skin#}images/cla_time.png" alt=""></dt>

    		                    		<dd><span class="cla_start">{#$list.openStart|date_format:"%Y-%m-%d"#}</span>  ~ <span class="cla_end">{#$list.openEnd|date_format:"%Y-%m-%d"#}</span></dd>
    		                    	</dl>
                                    {#if $list.usertype==1 #}
    		                    	<dl>
    		                    		<dt><img src="{#$templets_skin#}images/cla_place.png" alt=""></dt>
                                        
    		                    		<dd>{#$list.user.addrname[$list.user.addrname|count-2]#} {#$list.user.addrname[$list.user.addrname|count-1]#}</dd>

    		                    	</dl>
                                    {#/if#}
                                
    	                    	</div>
    	                    	
    	                    	<p class="enroll">{#$langData['education'][8][23]#}</p>  {#* 去报名 *#}
    	                    </div>
    	                    <div class="new_info fn-clear" data-id="{#$list.userid#}">
    	                    	<div class="img_l">
    	                    		
    	                    			<img src="{#if $list.user.photo#}{#$list.user.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="" class="l_img">{#if $list.usertype==1 && $list.store.flag==1 #}<i class="vip"></i>{#/if#}
    	                    		
    	                    	</div>
                                {#if $list.usertype==1 #}
    	                        <div class="org_name">{#$list.user.title#}</div>
                                {#else#}
                                <div class="org_name">{#$list.user.nickname#}</div>
                                {#/if#}
    	                        <div class="right_b">
    			                    {#$priceArr = "."|explode:$list.price#}
    								{#if $list.price_switch==0#}<p class="new_price">{#if $list.price neq 0#}<strong>{#$priceArr[0]#}</strong><em class="price_sy">{#$langData['education'][9][58]|replace:'1':''#}</em>{#else#}<strong>{#$langData['education'][9][60]#}</strong>{#/if#}</p>{#/if#}  {#* 1元起 *#}  {#* 价格面议 *#}
    			                    <em class="t_bg"></em>
    			                </div>
    			                <div class="code_bg">
    	                            <div class="code"><img src="{#$cfg_basehost#}/include/qrcode.php?data={#$list.url#}" alt=""></div>
    	                        </div>	                       
    	                    </div>	  
                        </a>                  
	                </div>	                
	            </li>
	           {#/education#}
	            {#if $pageInfo.totalCount == 0#}

	            <li class="empty failed"><img src="{#$templets_skin#}images/icon_faild.png"><span>{#$langData['education'][8][24]#}</span></li> {#* 没有找到符合条件的结果 *#}
	            {#/if#}
	        </ul>
	        {#getPageList service='education' template='list' pageType='dynamic' param="addrid=$addrid&business=$business&typeid=$typeid&ctypeid=$ctypeid&price=$price&keywords=$keywords&page=#page#"#}
	    </div>
	    <!-- 列表左 e-->
	    <!-- 列表右 s-->
	    {#include file="list_r.html"#}
	    <!-- 列表右 e-->

	</div>
	<!-- 列表 e-->
</div>
{#include file="bottom.html"#}
<script>
    var totalCount = {#$pageInfo.totalCount|string_format:"%d"#};
    var priceUrl ="{#getUrlPath service='education' template='list' param="addrid=$addrid&business=$business&typeid=$typeid&ctypeid=$ctypeid&price=pricePlaceholder&keywords=$keywords"#}";
</script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/list_filter.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/class_list.js?v={#$cfg_staticVersion#}"></script>

</body>
</html>
