<div class="list_r">
    <div class="adv_r">    
        <div class=" slideBox" id="slideBox">
            <div class="page">
                <div class="hd">
                    <ul><li class="on"></li><li class=""></li><li class=""></li></ul>
                </div>
            </div>
            <div class="bd">
                <div class="tempWrap">
                    <div class="tempWrap">
                        <ul>
                            {#myad title="教育列表_模板二_电脑端_广告一" type="slide"#}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="listr_con listr_con1">
        <h2 class="newr_tit">{#$langData['education'][0][38]#}</h2>          {#* 热门课程 *#} 
        <ul class="class_con">
            {#education action="coursesList" return="list" orderby="1" pageSize=6#}
                <li>
                    <h3 class="title_h3 fn-clear"><a href="{#$list.url#}" target="_blank"><span>{#$list.title#}</span></a></h3>
                </li>
            {#/education#}
        </ul>
    </div>
    <div class="listr_con listr_con2">
        <h2 class="newr_tit">{#$langData['education'][0][36]#}</h2>          {#* 推荐机构 *#} 
        <ul>
            {#education action="storeList" return="list" orderby="3" pageSize=5#}
                <li>
                    <a href="{#$list.url#}" target="_blank">
                        <div class="r_top fn-clear">
                            <div class="r_left">
                                {#if $list.flag == 1#}
                                <i class="vip"></i>
                                {#/if#}
                                <img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="">
                            </div>
                            <div class="r_right">
                                <h3>{#$list.title#}</h3>
                                <div class="org_info fn-clear"> 
                                    <dl class="cla_dl"><dt>{#$langData['education'][7][22]#}</dt><dd>{#$list.coursesnums#}</dd></dl>          {#* 课程 *#} 
                                    <dl><dt>{#$langData['education'][7][23]#}</dt><dd>{#$list.teachernums#}</dd></dl>          {#* 教师 *#} 
                                </div>
                                
                            </div>
                        </div>
                    </a>       
                </li>
            {#/education#}

        </ul>
    </div>
</div>