<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$detail_title#}</title>		{#* 机构详情 *#}
    <meta name="keywords" content="{#$education_keywords#}" />
    <meta name="description" content="{#$education_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/abigimage.jquery.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/detail.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$education_channelDomain#}', staticPath = '{#$cfg_staticPath#}',templatePath = '{#$templets_skin#}';
        var hideFileUrl = {#$cfg_hideUrl#};
		var subpage = 1;
		var teapage = 1;
		var pageSize = 8;
        var cookiePre = '{#$cfg_cookiePre#}', numArr = [];
        var id='{#$detail_id#}';
        var imconfig = {
	    	'mod':'education',
			'chatid':"{#$detail_userid#}",

	    }
	    var pageData = {
            title: '{#$detail_title#}',
            address: '{#$detail_address#}',
            lat: '{#$detail_lat#}',
            lng: '{#$detail_lng#}',
            mapType: '{#$site_map#}',
            cityName: '{#$siteCityInfo['name']#}',
            mapKey: '{#$site_map_key#}'
        };
        var eduData = {
            id: '{#$detail_id#}',
            title: '{#$detail_title#}'
        };
    </script>
</head>

<body class="w1200">
{#$pageCurr = "store"#}
<!-- 导航 s-->
{#include file="_top.html"#}

<!-- 导航 e-->
<div class="org_wrap1">
    <div class="wrap crumbs fn-clear">
        <div class="cont">
            <a href="{#$education_channelDomain#}">{#$education_channelName#}</a>
            <span>></span>
            <a href="{#getUrlPath service='education' template='store'#}">{#$langData['education'][7][21]#}</a>{#* 机构列表 *#}
            <span>></span>
            {#$detail_title#}
        </div>
    </div>
    <div class="org_head wrap">
    	 <div class="head_img"><img src="{#changeFileSize url={#$detail_pics[0]["path"]#} type='small'#}" alt=""></div>
    	 <div class="head_con">
    	 	<div class="org_top">
    	 		<h2 class="org_name" data-num="20">{#$detail_title#}</h2>
    	 		<div class="r_phone">
                   	<a href="{#$cfg_basehost#}/login.html">
                	{#if $userinfo#}
	                    <i></i>
	                    <div class="phone_det">
	                        <p class="phone_num2">{#$detail_tel#}</p>

	                    </div>
                    {#else#}

                        <i></i>
                        <div class="phone_det">
                            <p class="phone_num">{#$detail_tel#}</p>
                            <p class="seePhone">{#$langData['education'][8][34]#}</p>		{#* 点击查看联系方式 *#}
                        </div>
                        {#/if#}
                    </a>

                </div>
    	 	</div>
    	 	<div class="org_bot fn-clear">
    	 		<dl>
                    {#if $detail_flag ==1#}<dt>{#$langData['education'][7][24]#}</dt>{#/if#}
                    {#if $detail_tag!=''#}
                    {#$j=count($detail_tagAll)-1#}
                    {#for $i=0 to $j#}
                    <dd>{#$detail_tagAll[$i].jc#}</dd>
                    {#/for#}
                    {#/if#}
                </dl>
    	 		<div class="btn_group ">
                    {#* 已收藏 *#}   {#* 收藏 *#}   {#* 分享 *#}
                    <a href="javascript:;" class="store-btn{#if $detail_collect#} curr{#/if#}"><button><em></em><span>{#if $detail_collect#}{#$langData['education'][4][6]#}{#else#}{#$langData['education'][0][2]#}{#/if#}</button></a>
                    <div class="share-btn " >
                        <a href="javascript:;" class="btnShare newBtn_share"  data-title="{#$detail_title#}" data-pic="{#$detail_pics[0].path#}" id="sharre"></a><em></em><span>{#$langData['education'][8][20]#}</span>
                    </div>
                    <span class="contact chat_to-Link" data-type="user"><img src="{#$templets_skin#}images/contact.png" alt=""></span>
                </div>

    	 	</div>
    	 </div>
    </div>
</div>
<div class="main_wrap2">

	<!-- 列表 s-->
	<div class="wrap org_wrap2 fn-clear">
		<ul class="org_tab fn-clear">
			<li  class="active">{#$langData['education'][8][35]#}</li>	{#* 机构首页 *#}
			<li id="subject">{#$langData['education'][1][15]#}<em class="class_num">{#$detail_coursesnums#}</em></li>		{#* 开设课程 *#}
			<li id="teacher">{#$langData['education'][8][36]#}<em class="tea_num">{#$detail_teachernums#}</em></li>		{#* 所有教师 *#}
			<li>{#$langData['education'][8][37]#}</li>	{#* 机构简介 *#}
		</ul>
		<div class="org_con org_show">
			<!--推荐课程 s-->
			<div class="comm_class">
				<div class="comm_head fn-clear">
					<h2 class="comm_title">{#$langData['education'][8][22]#}</h2>		{#* 推荐课程 *#}
					<a href="javascript:;" class="see_comm see_cla">{#$langData['education'][4][9]#} ></a>		{#* 全部 *#}
				</div>
				<div class="comm_con">
					<ul class="fn-clear" >

						{#$n=1#}

	                    {#education action="coursesList" return="ilist" store="{#$detail_id#}" page=1 pageSize="7"#}

	                    <li>
	                        <a href="{#$ilist.url#}" target="_blank">
	                            <div class="top_img"><img src="{#if $ilist.litpic#}{#$ilist.litpic#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt=""></div>
	                            <div class="class_info">

	                                <p class="tit fn-clear"><span>{#$ilist.title#}</span> </p>
	                                <p class="info2 fn-clear">
	                                    {#$priceArr = "."|explode:$ilist.price#}
	                                    {#if $ilist.price_switch==0#}
	                                    <span class="pr_span">{#if $ilist.price neq 0#}<strong>{#$priceArr[0]#}</strong>{#$langData['education'][9][58]|replace:'1':''#}{#/if#}</span>  {#* 1元起 *#}
	                                    {#else#}
	                                    <span class="pr_span"><strong>{#$langData['education'][8][10]#}</strong></span>  {#* 待定 *#}
	                                    {#/if#}
	                                    <span class="num_span"><em>{#$ilist.sale#}</em>{#$langData['education'][9][61]|replace:'1':''#}</span> {#* 1人报名 *#}
	                                </p>
	                            </div>
	                        </a>
	                    </li>
	                    {#if $n==3#}
	                    <li class="placeholder_li"></li>
	                    {#/if#}
	                    {#$n=$n+1#}
	                    {#/education#}
	                    <li class="org_add fn-clear">
							<a href="javascript:;" target="_blank" class="appMapBtn">
		                    	<p class="add_tit">{#$langData['education'][8][38]#}</p>  {#* 机构地址 *#}
		                    	<div id="allmap"></div>
		                    	<p class="org_address">{#if $ilist.user.addrname#}{#$ilist.user.addrname[$ilist.user.addrname|count-2]#} {#$ilist.user.addrname[$ilist.user.addrname|count-1]#} {#/if#}{#$ilist.user.address#}</p>
		                    	 <p class="see_map">{#$langData['education'][8][39]#} ></p>	  {#* 查看地图 *#}
		                    </a>

	                    </li>

	                </ul>
				</div>

			</div>
			<!--推荐课程 e-->
			<!--资深教师 s-->
			<div class="senior">
				<div class="comm_head fn-clear">
					<h2 class="comm_title">{#$langData['education'][8][40]#}</h2>	  {#* 资深教师 *#}
					<a href="javascript:;" class="see_comm see_senior">{#$langData['education'][4][9]#} ></a>		{#* 全部 *#}
				</div>
				<div class="senior_con seniorSpe_con">
					<ul class="fn-clear">
						{#education action="teacherList" return="ilist" store="{#$detail_id#}" page=1 pageSize="2"#}
	                    <li>

	                            <div class="top_b fn-clear">
	                            	<a href="{#$ilist.url#}" class="fn-clear senior_a" target="_blank">
	                                    <div class="left_img">

	                                            <img src="{#if $ilist.photo#}{#$ilist.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="">

	                                    </div>
	                                    <div class="right_info fn-clear">

	                                        <h2 class="tutor_name">{#$ilist.name#}<i class="{#if $ilist.sex==0#}sex_nv{#else#}sex_nan{#/if#}"></i></h2>
	                                        {#* 主授课程 *#}
	                                        <p class="senior_det">{#$langData['education'][7][39]#}：{#$ilist.courses#}</p>
	                                        {#* 身份认证 *#}  {#* 学历认证 *#}
                                            <p class="prove">
                                                {#if $ilist.certifyState#}<span class="identity">{#$langData['education'][7][29]#}</span> {#/if#}
                                                {#if $ilist.degreestate#}<span class="edu">{#$langData['education'][7][30]#}</span> {#/if#}
                                            </p>

	                                    </div>
	                                    <span class=arrow></span>
	                                </a>
                                </div>
                                {#education action="coursesList" return="list" teacherid="{#$ilist.id#}" page=1 pageSize="1"#}
	                            <div class="senior_info fn-clear">
	                            	<div class="senior_l">
	                            		<p class="senior_title"><a href="{#$list.url#}" target="_blank">{#$list.title#}</a></p>
	                            		<p class="info2 fn-clear">
		                                    {#$priceArr = "."|explode:$list.price#}
		                                    {#if $list.price_switch==0#}
		                                    <span class="pr_span">{#if $list.price neq 0#}<strong>{#$priceArr[0]#}</strong>{#$langData['education'][9][58]|replace:'1':''#}{#/if#}</span> {#* 1元起 *#}
		                                    {#else#}
		                                    <span class="pr_span"><strong>{#$langData['education'][8][10]#}</strong></span>  {#* 待定 *#}
		                                    {#/if#}
		                                </p>
		                                <p class="senior_time"><span>{#$list.openStart|date_format:"%Y-%m-%d"#}</span>{#$langData['education'][8][41]#}</p>   {#* 开课 *#}
	                            	</div>
	                            	<div class="senior_r"><a href="{#$list.url#}" target="_blank"><img src="{#$list.litpic#}" alt=""></a></div>

	                            </div>
	                            {#/education#}

	                    </li>
	                    {#/education#}
					</ul>
				</div>

			</div>
			<!--资深教师 e-->
		</div>
		<!--开设课程 s-->
		<div class="org_con subject_con ">
			<div class="comm_head fn-clear">
				<h2 class="comm_title">{#$langData['education'][8][14]#}</h2>	  {#* 全部课程 *#}
			</div>
			<div class="comm_con">
				<ul class="fn-clear class_ul" >
                    {#education action="coursesList" return="ilist" store="{#$detail_id#}" page=1 pageSize="8"#}
                    <li>
                        <a href="{#$ilist.url#}" target="_blank">
                            <div class="top_img"><img src="{#if $ilist.litpic#}{#$ilist.litpic#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt=""></div>
                            <div class="class_info">
                                <p class="tit fn-clear"><span>{#$ilist.title#}</span> </p>
                                <p class="info2 fn-clear">
                                    {#$priceArr = "."|explode:$ilist.price#}
                                    {#if $ilist.price_switch==0#}
                                    <span class="pr_span">{#if $ilist.price neq 0#}<strong>{#$priceArr[0]#}</strong>{#$langData['education'][9][58]|replace:'1':''#}{#/if#}</span> {#* 1元起 *#}
                                    {#else#}
                                    <span class="pr_span"><strong>{#$langData['education'][8][10]#}</strong></span>  {#* 待定 *#}
                                    {#/if#}
                                    <span class="num_span"><em>{#$ilist.sale#}</em>{#$langData['education'][9][61]|replace:'1':''#}</span> {#* 1人报名 *#}
                                </p>
                            </div>
                        </a>
                    </li>
                    {#/education#}
                </ul>
                <div class="pagination fn-clear"></div>

			</div>

		</div>
		<!--开设课程 e-->
		<!--所有教师 s-->
		<div class="org_con teach_con ">
			<div class="comm_head fn-clear">
				<h2 class="comm_title">{#$langData['education'][8][42]#}</h2>  {#* 所有老师 *#}
			</div>
			<div class="senior_con fn-clear">

					<ul class="fn-clear senior_ul1">
						{#$n=1#}
						{#education action="teacherList" return="ilist" store="{#$detail_id#}" page=1 pageSize="8"#}
						{#if $n%2!=0#}
	                    <li>

                            <div class="top_b fn-clear">
                            <a href="{#$ilist.url#}" class="teac_a" target="_blank">
                                <div class="left_img">
                                        <img src="{#if $ilist.photo#}{#$ilist.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="">
                                </div>
                                <div class="right_info fn-clear">

                                    <h2 class="tutor_name">{#$ilist.name#}<i class="{#if $ilist.sex==0#}sex_nv{#else#}sex_nan{#/if#}"></i></h2>
                                    {#* 主授课程 *#}
                                    <p class="senior_det">{#$langData['education'][7][39]#}：{#$ilist.courses#}</p>
                                    {#* 身份认证 *#}  {#* 学历认证 *#}
                                    <p class="prove">
                                        {#if $ilist.certifyState#}<span class="identity">{#$langData['education'][7][29]#}</span> {#/if#}
                                        {#if $ilist.degreestate#}<span class="edu">{#$langData['education'][7][30]#}</span> {#/if#}
                                    </p>

                                </div>
                                <span class=arrow></span>
                              </a>
                            </div>

                            {#education action="coursesList" return="list" teacherid="{#$ilist.id#}" page=1 pageSize="1"#}
                            <div class="senior_info fn-clear">
                            	<div class="senior_l">
                            		<p class="senior_title"><a href="{#$list.url#}" target="_blank">{#$list.title#}</a></p>
                            		<p class="info2 fn-clear">
	                                    {#$priceArr = "."|explode:$list.price#}
	                                    {#if $list.price_switch==0#}
	                                    <span class="pr_span">{#if $list.price neq 0#}<strong>{#$priceArr[0]#}</strong>{#$langData['education'][9][58]|replace:'1':''#}{#/if#}</span> {#* 1元起 *#}
	                                    {#else#}
	                                    <span class="pr_span"><strong>{#$langData['education'][8][10]#}</strong></span>  {#* 待定 *#}
	                                    {#/if#}
	                                </p>
	                                <p class="senior_time"><span>{#$list.openStart|date_format:"%Y-%m-%d"#}</span>{#$langData['education'][8][41]#}</p>   {#* 开课 *#}
                            	</div>
                            	<div class="senior_r"><a href="{#$list.url#}" target="_blank"><img src="{#$templets_skin#}images/senior.png" alt=""></a></div>

                            </div>
                            {#/education#}

	                    </li>
	                    {#/if#}
	                    {#$n=$n+1#}
	                    {#/education#}
					</ul>
					<ul class="fn-clear senior_ul2">
						{#$i=1#}
						{#education action="teacherList" return="ilist" store="{#$detail_id#}" page=1 pageSize="8"#}
						{#if $i%2==0#}
	                    <li>
	                        <a href="{#$ilist.url#}" class="teac_a" target="_blank">
	                            <div class="top_b fn-clear">
	                                    <div class="left_img">
	                                            <img src="{#if $ilist.photo#}{#$ilist.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="">
	                                    </div>
	                                    <div class="right_info fn-clear">

		                                    <h2 class="tutor_name">{#$ilist.name#}<i class="{#if $ilist.sex==0#}sex_nv{#else#}sex_nan{#/if#}"></i></h2>
		                                    {#* 主授课程 *#}
		                                    <p class="senior_det">{#$langData['education'][7][39]#}：{#$ilist.courses#}</p>
		                                    {#* 身份认证 *#}  {#* 学历认证 *#}
		                                    <p class="prove">
		                                        {#if $ilist.certifyState#}<span class="identity">{#$langData['education'][7][29]#}</span> {#/if#}
		                                        {#if $ilist.degreestate#}<span class="edu">{#$langData['education'][7][30]#}</span> {#/if#}
		                                    </p>

		                                </div>
	                                    <span class=arrow></span>

                                </div>
                            </a>
                            {#education action="coursesList" return="list" teacherid="{#$ilist.id#}" page=1 pageSize="1"#}
                            <div class="senior_info fn-clear">
                            	<div class="senior_l">
                            		<p class="senior_title"><a href="{#$list.url#}" target="_blank">{#$list.title#}</a></p>
                            		<p class="info2 fn-clear">
	                                    {#$priceArr = "."|explode:$list.price#}
	                                    {#if $list.price_switch==0#}
	                                    <span class="pr_span">{#if $list.price neq 0#}<strong>{#$priceArr[0]#}</strong>{#$langData['education'][9][58]|replace:'1':''#}{#/if#}</span> {#* 1元起 *#}
	                                    {#else#}
	                                    <span class="pr_span"><strong>{#$langData['education'][8][10]#}</strong></span>  {#* 待定 *#}
	                                    {#/if#}
	                                </p>
	                                <p class="senior_time"><span>{#$list.openStart|date_format:"%Y-%m-%d"#}</span>{#$langData['education'][8][41]#}</p>   {#* 开课 *#}
                            	</div>
                            	<div class="senior_r"><a href="{#$list.url#}" target="_blank"><img src="{#$templets_skin#}images/senior.png" alt=""></a></div>

                            </div>
                            {#/education#}

	                    </li>
	                    {#/if#}
	                    {#$i=$i+1#}
	                    {#/education#}
					</ul>

				</div>
				<div class="pagination2 fn-clear"></div>
		</div>
		<!--所有教师 e-->
		<!--机构简介 s-->
		<div class="org_con pro_con ">
			<div class="comm_head fn-clear">
				<h2 class="comm_title">{#$langData['education'][8][37]#}</h2>		{#* 机构简介 *#}
			</div>
			<div class="org_pro fn-clear">
				<div class="pro_l">
					<ul class="fn-clear">
						{#foreach from=$detail_pics item=val#}
						<li>
							<a href="{#if $val.path#}{#$val.path#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}"><img src="{#if $val.path#}{#$val.path#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt=""></a>		{#* 点击查看所有图片 *#}
						</li>
						{#/foreach#}


					</ul>
				</div>
				<div class="pro_r">
					{#$detail_body#}
				</div>
			</div>


		</div>
		<!--机构简介 e-->
	</div>
	<!-- 列表 e-->
</div>
{#include file="bottom.html"#}
{#include file="../../siteConfig/public_location.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script src="{#$cfg_staticPath#}js/publicOpenMap.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/abigimage.jquery.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/detail.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/org_detail.js?v={#$cfg_staticVersion#}"></script>

</body>
</html>
