<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$langData['education'][7][21]#}</title>  {#* 机构列表 *#}
    <meta name="keywords" content="{#$education_keywords#}" />
    <meta name="description" content="{#$education_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/list_filter.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/org_list.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$education_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
        var hideFileUrl = {#$cfg_hideUrl#};
        var cookiePre = '{#$cfg_cookiePre#}', numArr = [];
    </script>
</head>

<body class="w1200">
{#$pageCurr = "store"#}
{#$addridName = ''#}
{#$businessName = ''#}
{#$typeidName = ''#}
<!-- 导航 s-->
{#include file="_top.html"#}

<!-- 导航 e-->
<div class="main_wrap">
    {#* 机构列表 *#}
    <div class="wrap crumbs fn-clear">
        <div class="cont">
            <a href="{#$education_channelDomain#}">{#$education_channelName#}</a>
            <span>></span>
            {#$langData['education'][7][21]#}
        </div>
    </div>
    <!-- 筛选 s-->
    <div class="filter_box wrap">
        <div class="filter">
            <!-- 区域 s-->
            <dl class="fn-clear" id="addr">
                <dt>{#$langData['education'][3][13]#}</dt>     {#* 区域 *#}
                <dd class="chooseClass" data-chose="quyu">
                    <a href="{#getUrlPath service='education' template='store' param="addrid=0&business=0&typeid=$typeid&keywords=$keywords"#}" {#if $addrid == 0#} {#$addridName='不限'#} class="curr" {#/if#}>{#$langData['education'][3][17]#}
                    </a>                                       {#* 不限 *#}
                    {#education action="addr" return="addr" son="once"#}
                    {#if $addr.id == $addrid#}
                        {#$addridName = $addr.typename#}
                    {#/if#}
                    <a href="{#getUrlPath service='education' template='store' 
                    param="addrid={#$addr.id#}&business=0&typeid=$typeid&keywords=$keywords" #}" data-id="{#$addr.id#}" {#if $addrid == $addr.id#} class="curr"{#/if#}>{#$addr.typename#}{#if $addr.lower#}{#/if#}</a>
                    {#/education#}

                    {#if $addrid != 0#}
                    <div class="subnav fn-clear">
                        <div id="addr{#$addr1.id#}" class="chooseClass" data-chose="quyu_sub">
                            <a href="
                            {#getUrlPath service='education' template='store' 
                            param="addrid=$addrid&business=0&typeid=$typeid&keywords=$keywords" #}" 
                            data-id="{#$addr1.id#}" {#if $business == 0#} {#$businessName = '不限'#} class="curr" {#/if#}>{#$langData['education'][3][17]#}</a>      {#* 不限 *#}
                            {#education action="addr" return="addr2" type=$addrid#}
                            {#if $addr2.id == $business#}
                                {#$businessName = $addr2.typename#}
                            }
                            {#/if#}
                            <a href="{#getUrlPath service='education' template='store' param="addrid=$addrid&business={#$addr2.id#}&typeid=$typeid&keywords=$keywords" #}" data-id="{#$addr2.id#}" 
                            {#if $business==$addr2.id#} class="curr" {#/if#} >{#$addr2.typename#}</a>
                            {#/education#}
                        </div>
                    </div>
                   {#/if#}     
                </dd>              
            </dl> 
            <!-- 区域 e-->
            <!-- 学习方向 s-->                      
            <dl class="fn-clear">
                <dt>{#$langData['education'][3][18]#}</dt>     {#* 学习方向 *#}
                <dd class="chooseClass" data-chose="study" id="studyChoose">
                    <a href="{#getUrlPath service='education' template='store' param="addrid=$addrid&business=0&typeid=0&keywords=$keywords" #}" {#if $business == 0#} {#$typeName = '不限'#} class="curr" {#/if#}>{#$langData['education'][4][9]#}</a>     {#* 全部 *#}
                    {#education action="educationtype" return="type"#}
                    {#if $type.id == $typeid#}
                        {#$typeName = $type.typename#}
                    {#/if#}
                     <a href="{#getUrlPath service='education' template='store' param="addrid=$addrid&business=$business&typeid={#$type.id#}&keywords=$keywords"#}" data-id="{#$type.id#}" {#if $typeid == $type.id#} class="curr" {#/if#}>{#$type.typename#}</a>
                    {#/education#}


                </dd>
            </dl>
            <!-- 学习方向 e-->
        </div>
         {#if $keywords != "" || $addrid !=0  || $business !=0 || $typeid !=0  #}
        <div class="deletebox">
            <dl class="fi-state fn-clear" style="display: block;">
                <dt>已选条件</dt>
                <dd class="fn-clear">
                     {#if $keywords#}
                    <a href="{#getUrlPath service='education' template='list' param="addrid={#$addr.id#}&business=0&typeid=$typeid&price=$price&keywords=" #}"><span>{#$keywords#}</span><i class="idel"></i></a>
                    {#/if#}
                    {#if $addrid#}
                    <a href="{#getUrlPath service='education' template='store' param="addrid=0&business=0&typeid=$typeid&price=$price&keywords=$keywords" #}"><span>{#$addridName#}</span><i class="idel"></i></a>
                    {#/if#}
                    {#if $business#}
                    <a href="{#getUrlPath service='education' template='store' param="addrid=$addrid&business=0&typeid=$typeid&keywords=$keywords" #}"><span>{#$businessName#}</span><i class="idel"></i></a>
                    {#/if#}
                    {#if $typeid#}
                    <a href="{#getUrlPath service='education' template='store' param="addrid=$addrid&business={#$addr2.id#}&typeid=0&keywords=$keywords" #}"><span>{#$typeName#}</span><i class="idel"></i></a>
                    {#/if#}
                
                   
                </dd>
                <a class="btn_clear" href="{#getUrlPath service='education' template='store' param="addrid=0&business=0&typeid=0&ctypeid=0&price&keywords=" #}">清空条件</a>
            </dl>
        </div>
        {#/if#}
    </div>
    <!-- 筛选 e-->
    <!-- 列表 s-->
    <div class="wrap org_wrap fn-clear">
        <!-- 列表左 s-->
        <div class="list_left">
            <div class="sort">
                <ul class="fn-clear">
                     <li  data-sort="1" {#if $orderby==''#} class="st curr"{#/if#}><a href="{#getUrlPath service='education' template='store' param="addrid=$addrid&business=$business&typeid=$typeid&price=&keywords=$keywords&orderby=" #}">{#$langData['education'][3][19]#}</a></li> {#* 默认排序 *#}
                    <li {#if $orderby=='7'#} class="st curr" {#/if#} data-sort="2"><a href="{#getUrlPath service='education' template='store' param="addrid=$addrid&business=$business&typeid=$typeid&price=&keywords=$keywords&orderby=7" #}">{#$langData['education'][8][51]#}</a></li>     {#* 最新入驻 *#}
                </ul>
            </div>

            <ul class="list_ul">
                {#education action="storeList" return="ilist" addrid={#$addrid#} business={#$business#} typeid={#$typeid#} keywords={#$keywords#}  page={#$page#} orderby={#$orderby#} pageSize=10#}
                {#if $ilist.rec#}
                    <li class="fn-clear top_li">
                        <i class="top_tag"></i>
                {#else#}
                    <li class="fn-clear">
                {#/if#}
                    <a href="{#$ilist.url#}" target="_blank">
                        <div class="left_b">
                            <img src="{#if $ilist.litpic#}{#$ilist.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="">
                        </div>
                        <div class="mid_b">
                            <h2 class="cla_title">
                                {#$ilist.title#}
                            </h2>
                            <div class="cla_info fn-clear">
                                <div class="class_l">
                                    <p class="org_tip">
                                        {#* 课程 *#}           {#* 教师 *#} 
                                        <span>{#$langData['education'][7][22]#}<em>{#$ilist.coursesnums#}</em></span><em class="line"></em><span>{#$langData['education'][7][23]#}<em>{#$ilist.teachernums#}</em></span>
                                    </p>
                                       
                                    
                                    {#* 地址 *#}                            
                                    <p class="address">地址：
                                        <span data-num="23">{#$list.addrname[$ilist.addrname|count-2]#}{#$list.addrname[$ilist.addrname|count-1]#}{#$ilist.address#}</span>
                                        
                                    </p>
                                    {#* 资质认证 *#}
                                    <dl>
                                        {#if $ilist.flag ==1#}<dt>{#$langData['education'][7][24]#}</dt>{#/if#}
                                        <!-- {#var_dump($ilist.tag)#} -->
                                        {#if $ilist.tag!=''#}
                                        {#$j=count($ilist.tagAll)-1#} 
                                        {#for $i=0 to $j#}
                                        {#if $i==3#}{#break#}{#/if#}
                                        <dd>{#$ilist.tagAll[$i].jc#}</dd>
                                        {#/for#}
                                        {#/if#}
                                    </dl>                               
                                </div>                          
                                <p class="store">{#$langData['education'][1][12]#}</p>    {#* 进店看看 *#}
                            </div>
                            <div class="new_info fn-clear">
                                <div class="left_phone">
                                    {#if $userinfo#}
                                    <i></i><strong class="phone_num">{#$ilist.tel#}</strong>
                                    {#else#} 

                                    {#* 点击查看完整电话 *#}  
                                    <p class="see_phone"><i></i><strong class="phone_num">{#$ilist.tel#}</strong><span>{#$langData['education'][8][53]#}</span></p>                                                 
                                    {#/if#}
                                </div>
                                <div class="right_b">
                                    <em class="t_bg"></em>
                                </div>
                                <div class="code_bg">
                                    <div class="code"><img src="{#$cfg_basehost#}/include/qrcode.php?data={#$ilist.url#}" alt=""></div>
                                </div>                         
                            </div>                      
                        </div>  
                    </a>                
                </li>
               {#/education#}
                {#if $pageInfo.totalCount == 0#}
                {#* 没有找到符合条件的结果 *#}
                <li class="empty failed"><img src="{#$templets_skin#}images/icon_faild.png"><span>{#$langData['education'][8][24]#}</span></li>
                {#/if#}
            </ul>
            {#getPageList service='education' template='store' pageType='dynamic' param="addrid=$addrid&business=$business&typeid=$typeid&keywords=$keywords&page=#page#"#}
        </div>
        <!-- 列表左 e-->
        <!-- 列表右 s-->
        {#include file="list_r.html"#}
        <!-- 列表右 e-->

    </div>
    <!-- 列表 e-->
</div>
{#include file="bottom.html"#}

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/list_filter.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/org_list.js?v={#$cfg_staticVersion#}"></script>

</body>
</html>
