<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$langData['education'][1][22]#}</title> {#* 家教列表 *#}
    <meta name="keywords" content="{#$list_keywords#}" />
    <meta name="description" content="{#$list_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/list_filter.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/tutor_list.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$education_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
        var hideFileUrl = {#$cfg_hideUrl#};
        var cookiePre = '{#$cfg_cookiePre#}', numArr = [];
    </script>
</head>

<body class="w1200">
{#$pageCurr = "tutor"#}
<!-- 导航 s-->
{#include file="_top.html"#}

<!-- 导航 e-->
<div class="main_wrap">
    {#* 家教列表 *#}
    <div class="wrap crumbs fn-clear">
        <div class="cont">
            <a href="{#$education_channelDomain#}">{#$education_channelName#}</a>
            <span>></span>
            {#$langData['education'][1][22]#}
        </div>
    </div>
	<!-- 筛选 s-->
    <div class="filter_box wrap">
        <div class="filter">
			<!-- 区域 s-->
            <dl class="fn-clear" id="addr">
                <dt>{#$langData['education'][3][13]#}</dt>     {#* 区域 *#}
                <dd class="chooseClass" data-chose="quyu">
                    <a href="{#getUrlPath service='education' template='tutor' param="addrid=0&business=0&typeid=$typeid&price=$price&keywords=$keywords"#}" {#if $addrid == 0#} {#$addridName='不限'#} class="curr" {#/if#}>{#$langData['education'][3][17]#}
                    </a>                                       {#* 不限 *#}
                    {#education action="addr" return="addr" son="once"#}
                    {#if $addr.id == $addrid#}
                        {#$addridName = $addr.typename#}
                    {#/if#}
                    <a href="{#getUrlPath service='education' template='tutor' 
                    param="addrid={#$addr.id#}&business=0&typeid=$typeid&price=$price&keywords=$keywords" #}" data-id="{#$addr.id#}" {#if $addrid == $addr.id#} class="curr"{#/if#}>{#$addr.typename#}{#if $addr.lower#}{#/if#}</a>
                    {#/education#}

                    {#if $addrid != 0#}
                    <div class="subnav fn-clear">
                        <div id="addr{#$addr1.id#}" class="chooseClass" data-chose="quyu_sub">
                            <a href="
                            {#getUrlPath service='education' template='tutor' 
                            param="addrid=$addrid&business=0&typeid=$typeid&price=$price&keywords=$keywords" #}" 
                            data-id="{#$addr1.id#}" {#if $business == 0#} {#$businessName = '不限'#} class="curr" {#/if#}>{#$langData['education'][3][17]#}</a>      {#* 不限 *#}
                            {#education action="addr" return="addr2" type=$addrid#}
                            {#if $addr2.id == $business#}
                                {#$businessName = $addr2.typename#}
                            {#/if#}
                            <a href="{#getUrlPath service='education' template='tutor' param="addrid=$addrid&business={#$addr2.id#}&typeid=$typeid&price=$price&keywords=$keywords" #}" data-id="{#$addr2.id#}" 
                            {#if $business==$addr2.id#} class="curr" {#/if#} >{#$addr2.typename#}</a>
                            {#/education#}
                        </div>
                    </div>
                   {#/if#}     
                </dd>              
            </dl> 
            <!-- 区域 e-->
            <!-- 学习方向 s-->                      
            <dl class="fn-clear">
                <dt>{#$langData['education'][3][18]#}</dt>     {#* 学习方向 *#}
                <dd class="chooseClass" data-chose="study" id="studyChoose">
                    <a href="{#getUrlPath service='education' template='tutor' param="addrid=$addrid&business=0&typeid=0&price=$price&keywords=$keywords" #}" {#if $business == 0#} {#$typeName = '不限'#} class="curr" {#/if#}>{#$langData['education'][4][9]#}</a>     {#* 全部 *#}
                    {#education action="educationtype" return="type"#}
                    {#if $type.id == $typeid#}
                        {#$typeName = $type.typename#}
                    {#/if#}
                     <a href="{#getUrlPath service='education' template='tutor' param="addrid=$addrid&business=$business&typeid={#$type.id#}&price=$price&keywords=$keywords"#}" data-id="{#$type.id#}" {#if $typeid == $type.id#} class="curr" {#/if#}>{#$type.typename#}</a>
                    {#/education#}


                </dd>
            </dl>
            <!-- 学习方向 e-->
            <!-- 费用  s-->
            <dl class="fn-clear">
                <dt>{#$langData['education'][9][0]#}</dt>     {#* 费用 *#}

                <dd class="chooseClass" data-chose="price" id="priceChoose">
                    <a href="{#getUrlPath service='education' template='tutor' param="addrid=$addrid&business=$business&typeid=$typeid&keywords=$keywords&price="#}" data-id="0" {#if $price=='0'#} {#$priceName='不限'#} class="curr" {#/if#}>{#$langData['education'][3][17]#}</a>      {#* 不限 *#}
                    <a href="{#getUrlPath service='education' template='tutor' param="addrid=$addrid&business=$business&typeid=$typeid&keywords=$keywords&price=0,100"#}" data-id="0,100" {#if $price=='0,100'#}  class="curr" {#/if#}>100{#echoCurrency type='short'#}以下</a>
                    <a href="{#getUrlPath service='education' template='tutor' param="addrid=$addrid&business=$business&typeid=$typeid&keywords=$keywords&price=100,200"#}" data-id="100,200" {#if $price=='100,200'#}        class="curr" {#/if#}>100-200{#echoCurrency type='short'#}</a>
                    <a href="{#getUrlPath service='education' template='tutor' param="addrid=$addrid&business=$business&typeid=$typeid&keywords=$keywords&price=200,500"#}" data-id="200,500" {#if $price=='200,500'#}   class="curr" {#/if#}>200-500{#echoCurrency type='short'#}</a>
                    <a href="{#getUrlPath service='education' template='tutor' param="addrid=$addrid&business=$business&typeid=$typeid&keywords=$keywords&price=500,1000"#}" data-id="500,1000" {#if $price=='500,1000'#}  class="curr" {#/if#}>500-1000{#echoCurrency type='short'#}</a>
                    <a href="{#getUrlPath service='education' template='tutor' param="addrid=$addrid&business=$business&typeid=$typeid&keywords=$keywords&price=1000,"#}" data-id="1000," {#if $price=='1000,'#}  class="curr" {#/if#}>1000{#echoCurrency type='short'#}以上</a>

                    <div class="inpbox inp_price">
                        {#* 元 *#}
                       <input type="input" class="p1" id="priceLow" placeholder="{#$langData['education'][6][10]#}" maxlength="6" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"><em>-</em>
                       {#* 元 *#}
                       <input type="input" class="p2" id="priceTop" placeholder="{#$langData['education'][6][10]#}" maxlength="6" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                        <button class="btn btn_price" id="price_sure">{#$langData['education'][3][1]#}</button>      {#* 确定 *#}

                        {#if $priceArr[0] !=0 &&  $priceArr[1] ==0#}
                                {#$priceTitle=$priceArr[0]|cat:'元以上'#}
                            {#else if $priceArr[0] !=0 &&  $priceArr[1] !=0#}
                                {#$priceTitle=$priceArr[0]|cat:'-'|cat:$priceArr[1]|cat:'元'#}
                            {#else $priceArr[0]==0 && $priceArr[1]!=0#}
                                {#$priceTitle=$priceArr[1]|cat:'元以下'#}
                        {#/if#}
                    </div>

                </dd>
            </dl>
            <!-- 费用  s-->
        </div>
        {#if $keywords != "" || $addrid !=0  || $business !=0 || $typeid !=0 || $price !=""  #}
        <div class="deletebox">
            <dl class="fi-state fn-clear" style="display: block;">
                <dt>已选条件</dt>
                <dd class="fn-clear">
                    {#if $keywords#}
                    <a href="{#getUrlPath service='education' template='list' param="addrid={#$addr.id#}&business=0&typeid=$typeid&&price=$price&keywords=" #}"><span>{#$keywords#}</span><i class="idel"></i></a>
                    {#/if#}
                    {#if $addrid#}
                    <a href="{#getUrlPath service='education' template='tutor' param="addrid=0&business=0&typeid=$typeid=0&price=$price&keywords=$keywords" #}"><span>{#$addridName#}</span><i class="idel"></i></a>
                    {#/if#}
                    {#if $business#}
                    <a href="{#getUrlPath service='education' template='tutor' param="addrid=$addrid&business=0&typeid=$typeid&price=$price&keywords=$keywords" #}"><span>{#$businessName#}</span><i class="idel"></i></a>
                    {#/if#}
                    {#if $typeid#}
                    <a href="{#getUrlPath service='education' template='tutor' param="addrid=$addrid&business=$business&typeid=0&price=$price&keywords=$keywords" #}"><span>{#$typeName#}</span><i class="idel"></i></a>
                    {#/if#}
                    {#if $price#}
                    <a href="{#getUrlPath service='education' template='tutor' param="addrid=$addrid&business=$business&typeid=$typeid&price=&keywords=$keywords" #}"><span>{#$priceTitle#}</span><i class="idel"></i></a>
                    {#/if#}
                   
                </dd>
                <a class="btn_clear" href="{#getUrlPath service='education' template='tutor' param="addrid=0&business=0&typeid=0&price=&keywords=$keywords" #}">清空条件</a>
            </dl>
        </div>
        {#/if#}
    </div>
    <!-- 筛选 e-->
	<!-- 列表 s-->
	<div class="wrap tutor_wrap fn-clear">
		<!-- 列表左 s-->
	    <div class="list_left">
            <div class="sort">
                <ul class="fn-clear">
                    <li {#if $orderby==''#} class="st curr" {#/if#} data-sort="1"><a href="{#getUrlPath service='education' template='tutor' param="addrid=$addrid&business=$business&typeid=$typeid&price=&keywords=$keywords&orderby=" #}">{#$langData['education'][3][19]#}</a></li>     {#* 默认排序 *#}
                    <li {#if $orderby=='1'#} class="st curr" {#/if#} data-sort="2"><a href="{#getUrlPath service='education' template='tutor' param="addrid=$addrid&business=$business&typeid=$typeid&price=$price&keywords=$keywords&orderby=1 " #}">{#$langData['education'][9][1]#}</a></li>     {#* 最多浏览 *#}
                    <li {#if $orderby=='6'#} class="st curr" {#/if#} data-sort="2"><a href="{#getUrlPath service='education' template='tutor' param="addrid=$addrid&business=$business&typeid=$typeid&price=$price&keywords=$keywords&orderby=6 " #}">{#$langData['education'][9][2]#}</a></li>     {#* 最多预约 *#}
                </ul>
            </div>

	        <ul class="list_ul fn-clear">
	            {#education action="tutorList" return="ilist" addrid={#$addrid#} business={#$business#} orderby={#$orderby#} typeid={#$typeid#} price={#$price#} keywords={#$keywords#}  page={#$page#} pageSize="10"#}
	            {#if $ilist.rec == 1#}
					<li class="fn-clear top_li">
						<i class="top_tag"></i>
				{#else#}
					<li class="fn-clear">
				{#/if#}
                        
                        <div class="li_wrap">
                            <div class="leftLi">
                                <a href="{#$ilist.url#}" target="_blank">
                                <div class="top_b">
                                    <div class="left_img">
                                        
                                            <img src="{#if $ilist.photo#}{#$ilist.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="">
                                        
                                    </div>
                                    <div class="right_info fn-clear">
                                        <h2 class="tutor_name"><span>{#$ilist.username#}</span>
                                            {#if $ilist.sex==0#}<i class="sex_nv"></i>{#/if#}
                                            {#if $ilist.sex==1#}<i class="sex_nan"></i>{#/if#}
                                        </h2>
                                        {#* 身份认证 *#}  {#* 学历认证 *#}
                                        <p class="prove">
                                            {#if $ilist.certifyState#}<span class="identity">{#$langData['education'][7][29]#}</span>{#/if#}
                                            {#if $ilist.degreestate#}<span class="edu">{#$langData['education'][7][30]#}</span>{#/if#}

                                        </p> 

                                        <p class="record">
                                            <span><em>{#$ilist.subjectsArr[0]#}</em>-<em>{#$ilist.teachingagename#}</em></span><em class="line">|</em>
                                            <span><em>{#$ilist.university#}</em>-<em>{#$ilist.educationname#}</em></span>
                                        </p>
                                    </div>
                                </div>
                                
                                <div class="mid_b">

                                    {#* 教授科目 *#}
                                    <dl>
                                        <dt>{#$langData['education'][9][3]#}：</dt>
                                        <dd>{#$ilist.subjects|replace:',':'/'#}</dd>
                                    </dl>

                                    {#* 教师简介 *#}
                                    <dl>
                                        <dt>{#$langData['education'][1][30]#}：</dt>
                                        <dd>{#$ilist.note#}</dd>
                                    </dl>
                                </div>
                                <div class="tutor_time">
                                    {#$priceArr = "."|explode:$ilist.price#}
                                    {#if $ilist.price_switch==0#}
                                    <span class="tutor_price">{#if $ilist.price neq 0#}<em>{#$priceArr[0]#}</em>{#$langData['education'][9][64]|replace:'1':''#}{#/if#}</span>  {#* 元/小时 *#}
                                    {#else#}
                                    <span class="tutor_price"><em>{#$langData['education'][8][10]#}</em></span>  {#* 待定 *#}
                                    {#/if#}
                                    {#if $ilist.fullclass==0#}
                                    <span class="ord_tag">{#$langData['education'][7][27]#}</span>      {#* 预约 *#} 
                                    {#else#}
                                        {#if $ilist.fullclass==1#}
                                        <span class="ord_tag noord_tag">{#$langData['education'][7][28]#}</span>  {#* 满课 *#}
                                        {#/if#}
                                    {#/if#}    
                                    <span class="address">{#$ilist.address[3]#}</span>
                                </div> 
                                </a> 
                            </div>
                            {#if $ilist.fullclass==0#}
                            <div class="rightLi order">
                                <a href="javascript:;" data-id="{#$ilist.id#}">
                                   <img src="{#$templets_skin#}images/time.png" alt="">
                                    <p>{#$langData['education'][7][27]#}</p>       {#* 预约 *#} 
                                </a>                                   
                            </div>
                            {#else#}
                                {#if $ilist.fullclass==1#}
                            <div class="rightLi see_more">
                                <a href="{#$ilist.url#}" target="_blank">
                                      {#* 查看 *#}    {#* 更多 *#}
                                    <p>{#$langData['education'][9][4]#}<br/>{#$langData['education'][9][5]#}</p>
                                </a>
                                
                            </div>
                                {#/if#} 
                            {#/if#}  
                        </div>   
                                                                            
	            </li>

	           {#/education#}
	            {#if $pageInfo.totalCount == 0#}
	            {#* 没有找到符合条件的结果 *#}
                <li class="empty failed"><img src="{#$templets_skin#}images/icon_faild.png"><span>{#$langData['education'][8][24]#}</span></li>
	            {#/if#}
	        </ul>
	        {#getPageList service='education' template='tutor' pageType='dynamic' param="addrid=$addrid&business=$business&typeid=$typeid&price=$price&keywords=$keywords&page=#page#"#}
	    </div>
	    <!-- 列表左 e-->
	    <!-- 列表右 s-->
	    {#include file="list_r.html"#}
	    <!-- 列表右 e-->

	</div>
	<!-- 列表 e-->
</div>
<!--预约弹窗 s-->
<div class="order_mask">
  <div class="order_container">
    <img src="{#$templets_skin#}images/close_alert.png" alt="" class="close_alert">
    {#* 留存联系方式 *#}   {#* 快速预约，抢占名额 *#}
    <p class="t1"><strong>{#$langData['education'][2][27]#}</strong>{#$langData['education'][2][28]#}</p>
    <form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=education&action=booking&oper=add">
        <input type="hidden" name="tutorid" value="" class="tutorid">
        <input type="hidden" name="areaCode" value="{#$internationalPhoneSection[0]['code']#}" id="areaCode">
        <input type="text" placeholder="{#$langData['education'][8][15]#}" id="username" name="username">    {#* 填写您的称呼 *#} 
        <div class="inpbdr fn-clear">
            <span class="areaCode"><i>+{#$internationalPhoneSection[0]['code']#}</i><s></s></span>
            <input type="text" placeholder="{#$langData['education'][8][16]#}" id="tel" name="tel">   {#* 填写您的联系方式 *#} 
            <!--国际区号弹窗-->
            <div class="areaCode_wrap areaCode_wrap2">
                <ul>
                    
                </ul>
            </div>
        </div>  
    </form>
    <p class="order_submit">{#$langData['education'][0][3]#}</p>    {#* 预约 *#} 

  </div>
</div>
<!--预约弹窗 e-->
<!--预约成功弹窗 s-->
<div class="tutor_success">
  <div class="tutor_container">
    <img src="{#$templets_skin#}images/close_alert.png" alt="" class="close_alert">
    <div class="wave">   
        <img src="{#$templets_skin#}images/shine.png" alt="" class="shine_img">        
        <div class="m-box">
            <div class="m-duigou"></div>
        </div>
    </div>
    <p class="t1">{#$langData['education'][8][17]#}</p>    {#* 预约成功！ *#} 
    <p class="t2">{#$langData['education'][8][18]#}</p>    {#* 对方将尽快联系您沟通相关事宜 *#} 
  </div>
</div>
<!--预约成功弹窗 e-->
{#include file="bottom.html"#}
<script>
    var totalCount = {#$pageInfo.totalCount|string_format:"%d"#};
    var priceUrl ="{#getUrlPath service='education' template='tutor' param="addrid=$addrid&business=$business&typeid=$typeid&price=pricePlaceholder&keywords=$keywords"#}";
</script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/list_filter.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/tutor_list.js?v={#$cfg_staticVersion#}"></script>

</body>
</html>
