<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$langData['education'][1][31]#}</title>  {#* 留言列表 *#}
    <meta name="keywords" content="{#$education_keywords#}" />
    <meta name="description" content="{#$education_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/list_filter.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/word_list.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$education_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
        var hideFileUrl = {#$cfg_hideUrl#};
        var cookiePre = '{#$cfg_cookiePre#}', numArr = [];
    </script>
</head>

<body class="w1200">
{#$pageCurr = "word"#}
<!-- 导航 s-->
{#include file="_top.html"#}

<!-- 导航 e-->
     {#* 留言列表 *#}
<div class="main_wrap">
    <div class="wrap crumbs fn-clear">
        <div class="cont">
            <a href="{#$education_channelDomain#}">{#$education_channelName#}</a>
            <span>></span>
            {#$langData['education'][1][31]#}
        </div>
    </div>
	<!-- 筛选 s-->
    <div class="filter_box wrap">
        <div class="filter">
			<!-- 区域 s-->
            <dl class="fn-clear" id="addr">
                <dt>{#$langData['education'][3][13]#}</dt>     {#* 区域 *#}
                <dd class="chooseClass" data-chose="quyu">
                    <a href="{#getUrlPath service='education' template='word' param="addrid=0&business=0&keywords=$keywords"#}" {#if $addrid == 0#} {#$addridName='不限'#} class="curr" {#/if#}>{#$langData['education'][3][17]#}
                    </a>                                       {#* 不限 *#}
                    {#education action="addr" return="addr" son="once"#}
                    {#if $addr.id == $addrid#}
                        {#$addridName = $addr.typename#}
                    {#/if#}
                    <a href="{#getUrlPath service='education' template='word' 
                    param="addrid={#$addr.id#}&business=0&typeid=$typeid&ctypeid=$ctypeid&price=$price&keywords=$keywords" #}" data-id="{#$addr.id#}" {#if $addrid == $addr.id#} class="curr"{#/if#}>{#$addr.typename#}{#if $addr.lower#}{#/if#}</a>
                    {#/education#}

                    {#if $addrid != 0#}
                    <div class="subnav fn-clear">
                        <div id="addr{#$addr1.id#}" class="chooseClass" data-chose="quyu_sub">
                            <a href="
                            {#getUrlPath service='education' template='word' 
                            param="addrid=$addrid&business=0&typeid=$typeid&ctypeid=$ctypeid&price=$price&keywords=$keywords" #}" 
                            data-id="{#$addr1.id#}" {#if $business == 0#} {#$businessName = '不限'#} class="curr" {#/if#}>{#$langData['education'][3][17]#}</a>      {#* 不限 *#}
                            {#education action="addr" return="addr2" type=$addrid#}
                            {#if $addr2.id == $business#}
                                {#$businessName = $addr2.typename#}
                            }
                            {#/if#}
                            <a href="{#getUrlPath service='education' template='word' param="addrid=$addrid&business={#$addr2.id#}&typeid=$typeid&ctypeid=$ctypeid&price=$price&keywords=$keywords" #}" data-id="{#$addr2.id#}" 
                            {#if $business==$addr2.id#} class="curr" {#/if#} >{#$addr2.typename#}</a>
                            {#/education#}
                        </div>
                    </div>
                   {#/if#}     
                </dd>              
            </dl> 
            <!-- 区域 e-->

        </div>
        {#if $keywords != "" || $addrid !=0  || $business !=0   #}
        <div class="deletebox">
            <dl class="fi-state fn-clear" style="display: block;">
                <dt>已选条件</dt>
                <dd class="fn-clear">
                    {#if $keywords#}
                    <a href="{#getUrlPath service='education' template='word' param="addrid={#$addr.id#}&business=0&typeid=$typeid&ctypeid=$ctypeid&price=$price&keywords=" #}"><span>{#$keywords#}</span><i class="idel"></i></a>
                    {#/if#}
                    {#if $addrid#}
                    <a href="{#getUrlPath service='education' template='word' param="addrid=0&business=0&typeid=$typeid&ctypeid=$ctypeid&price=$price&keywords=$keywords" #}"><span>{#$addridName#}</span><i class="idel"></i></a>
                    {#/if#}
                    {#if $business#}
                    <a href="{#getUrlPath service='education' template='word' param="addrid=$addrid&business=0&typeid=$typeid&ctypeid=$ctypeid&price=$price&keywords=$keywords" #}"><span>{#$businessName#}</span><i class="idel"></i></a>
                    {#/if#}
                </dd>
                <a class="btn_clear" href="{#getUrlPath service='education' template='word' 
                param="addrid=0&business=0&typeid=0&ctypeid=0&price=&keywords=" #}">清空条件</a>
            </dl>
        </div>
        {#/if#}
    </div>
    <!-- 筛选 e-->
	<!-- 列表 s-->
	<div class="wrap word_wrap fn-clear">
		<!-- 列表左 s-->
	    <div class="list_left">
            <div class="sort">
                <ul class="fn-clear">
                    <li {#if $orderby=='2'#} class="st curr" {#/if#} data-sort="1"><a href="{#getUrlPath service='education' template='word' param="addrid=$addrid&business=0&typeid=$typeid&ctypeid=$ctypeid&price=$price&keywords=$keywords&orderby=2" #}">{#$langData['education'][9][7]#}</a></li>     {#* 最新发布 *#}
                    <li {#if $orderby=='3'#} class="st curr" {#/if#}data-sort="2"><a href="{#getUrlPath service='education' template='word' param="addrid=$addrid&business=0&typeid=$typeid&ctypeid=$ctypeid&price=$price&keywords=$keywords&orderby=3" #}">{#$langData['education'][9][8]#}</a></li>     {#* 价格最高 *#}
                </ul>
            </div>

	        <ul class="list_ul">
	            {#education action="wordList" return="ilist"  addrid={#$addrid#} business={#$business#} keywords={#$keywords#} orderby={#$orderby#} page={#$page#} pageSize="10"#}
				<li class="fn-clear">
                    <a href="{#$ilist.url#}" target="_blank">
    	                <div class="left_b">
    	                	<h2 class="cla_title">{#$ilist.title#}</h2>
                            <div class="cla_info fn-clear">
                                {#* 求教科目 *#} 
                                <dl>                                        
                                    <dt>{#$langData['education'][1][34]#}<span>——</span></dt><dd>{#$ilist.subjects#}</dd>
                                </dl>
                                {#* 身份要求 *#} 
                                <dl class="edu">
                                    <dt>{#$langData['education'][1][36]#}<span>——</span></dt><dd>{#$ilist.educationname#}</dd>
                                </dl>
                                {#* 性别要求 *#} 
                                <dl class="sex">
                                    <dt>{#$langData['education'][1][40]#}<span>——</span></dt>                                     
                                    {#if $ilist.sex==0#}<dd>女</dd>{#/if#}
                                    {#if $ilist.sex==1#}<dd>男</dd>{#/if#}
                                    {#if $ilist.sex==2#}<dd>不限</dd>{#/if#}
                                </dl>
                                {#* 上课时间 *#} 
                                <dl>
                                    <dt>{#$langData['education'][1][38]#}<span>——</span></dt><dd>{#$ilist.subjectstime#}</dd>
                                </dl>
                                {#* 授课次数 *#} 
                                <dl class="cla_ci">
                                    <dt>{#$langData['education'][1][41]#}<span>——</span></dt><dd>{#$ilist.lecturesnums#}{#$langData['education'][9][63]|replace:'1':''#}</dd> {#* 次每周 *#}
                                </dl>
                            </div>
                            <div class="word_info">
                                {#$priceArr = "."|explode:$ilist.price#}
                                {#if $ilist.price_switch==0#}
                                {#* 预期 *#}
                                <span class="cla_price">{#$langData['education'][9][9]#}{#if $ilist.price neq 0#}<span class="time">{#$priceArr[0]#}元/小时{#/if#}</span></span>
                                {#else#}
                                <span class="cla_price">{#$langData['education'][9][10]#}</span>     {#* 价格待定 *#}
                                {#/if#}
                                <em>|</em><span class="cla_addr">{#$ilist.addrname[$ilist.addrname|count-2]#} - {#$ilist.addrname[$ilist.addrname|count-1]#}</span><em>|</em><span class="cla_pubtime">{#$ilist.pubdate|date_format:"%m-%d"#}</span>
                            </div>


    	                </div>
                        {#if $ilist.user#}
    	                <div class="right_b">
    	                    <dl class="peo_dl">
                                <dt><img src="{#$templets_skin#}images/people.png" alt=""></dt><dd>{#$ilist.user.nickname#}</dd>   
                            </dl>
                            <dl>
                                <dt><img src="{#$templets_skin#}images/call_icon.png" alt=""></dt>
                                
                                <dd ><span class="see_phone">{#$langData['education'][9][34]#}</span><span class="pnumber">{#$ilist.tel#}</span></dd>      {#* 点击查看 *#}  
                            </dl>	                                        
    	                </div>	
                        {#/if#}
                    </a>                
	            </li>
	           {#/education#}
	            {#if $pageInfo.totalCount == 0#}
	            {#* 没有找到符合条件的结果 *#}
                <li class="empty failed"><img src="{#$templets_skin#}images/icon_faild.png"><span>{#$langData['education'][8][24]#}</span></li>
	            {#/if#}
	        </ul>
	        {#getPageList service='education' template='word' pageType='dynamic' param="addrid=$addrid&business=$business&keywords=$keywords&page=#page#"#}
	    </div>
	    <!-- 列表左 e-->
	    <!-- 列表右 s-->
	    {#include file="list_r.html"#}
	    <!-- 列表右 e-->

	</div>
	<!-- 列表 e-->
</div>
{#include file="bottom.html"#}

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/list_filter.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/word_list.js?v={#$cfg_staticVersion#}"></script>

</body>
</html>
