{#include file="../../siteConfig/top1.html"#}
<div class="fixedwrap FestivalAD_header">
    <div class="fixedpane">
        <!-- head s -->
        <div class="wrap header fn-clear">
            <div class="logo">
                <a href="{#$travel_channelDomain#}" title="{#$travel_channelName#}"><img src="{#$travel_logoUrl#}" alt="{#$travel_channelName#}" /></a>
            </div>
            <div class="searchwrap y-linear">
                <div class="search2">
                    <div class="type">
                        <dl>
                            <dt><a href="javascript:;" class="keytype">{#if $pageCurr == "ticket"#}{#$langData['travel'][1][0]#}{#elseif $pageCurr == "store"#}{#$langData['travel'][12][58]#}{#elseif $pageCurr == "hotel"#}{#$langData['travel'][12][59]#}{#elseif $pageCurr == "daytravel"#}{#$langData['travel'][12][60]#}{#elseif $pageCurr == "grouptravel"#}{#$langData['travel'][12][61]#}{#elseif $pageCurr == "rentcar"#}{#$langData['travel'][12][64]#}{#elseif $pageCurr == "video"#}{#$langData['travel'][12][65]#}{#elseif $pageCurr == "visaindex"#}{#$langData['travel'][12][66]#}{#elseif $pageCurr == "strategy"#}{#$langData['travel'][0][7]#}{#/if#}</a><em></em></dt>
                            <dd>
                                <a href="javascript:;" data-id="0" data-type="ticket">{#$langData['travel'][1][0]#}</a>  {#* 景点门票 *#}
                                <a href="javascript:;" data-id="1" data-type="store">{#$langData['travel'][12][58]#}</a>  {#* 旅行社 *#}
                                <a href="javascript:;" data-id="2" data-type="hotel">{#$langData['travel'][12][59]#}</a>  {#* 酒店/民宿 *#}
                                <a href="javascript:;" data-id="3" data-type="daytravel">{#$langData['travel'][12][60]#}</a>  {#* 一日游 *#}
                                <a href="javascript:;" data-id="4" data-type="grouptravel">{#$langData['travel'][12][61]#}</a>  {#* 跟团游 *#}
                                <a href="javascript:;" data-id="5" data-type="rentcar">{#$langData['travel'][12][64]#}</a>  {#* 租车 *#}
                                <a href="javascript:;" data-id="6" data-type="video">{#$langData['travel'][12][65]#}</a>  {#* 旅游视频 *#}
                                <a href="javascript:;" data-id="7" data-type="visaindex">{#$langData['travel'][12][66]#}</a>  {#* 签证 *#}
                                <a href="javascript:;" data-id="8" data-type="strategy">{#$langData['travel'][0][7]#}</a>  {#* 旅游攻略 *#}
                            </dd>
                        </dl>
                    </div>
                    <div class="FormBox">
                        <form action="{#getUrlPath service='travel' template='ticket'#}" class="form ticket {#if $pageCurr != "ticket"#} fn-hide{#/if#}">
                            <div class="inputbox">
                                <div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="{#$langData['travel'][14][1]#}" value="{#$keywords#}" /></div> {#* 输入您想搜索的关键词 *#}
                            </div>
                            <div class="subbox search-btn">
                                <input type="submit" class="submit" value="{#$langData['siteConfig'][6][109]#}"> {#* 搜索 *#}
                            </div>
                        </form>
                        <form action="{#getUrlPath service='travel' template='store'#}" class="form store {#if $pageCurr != "store"#} fn-hide{#/if#}">
                            <div class="inputbox">
                                <div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="{#$langData['travel'][14][1]#}" value="{#$keywords#}" /></div> {#* 输入您想搜索的关键词 *#}
                            </div>
                            <div class="subbox search-btn">
                                <input type="submit" class="submit" value="{#$langData['siteConfig'][6][109]#}"> {#* 搜索 *#}
                            </div>
                        </form>
                        <form action="{#getUrlPath service='travel' template='hotel'#}" class="form hotel {#if $pageCurr != "hotel"#} fn-hide{#/if#}">
                            <div class="inputbox">
                                <div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="{#$langData['travel'][14][1]#}" value="{#$keywords#}" /></div> {#* 输入您想搜索的关键词 *#}
                            </div>
                            <div class="subbox search-btn">
                                <input type="submit" class="submit" value="{#$langData['siteConfig'][6][109]#}"> {#* 搜索 *#}
                            </div>
                        </form>
                        <form action="{#getUrlPath service='travel' template='daytravel'#}" class="form daytravel {#if $pageCurr != "daytravel"#} fn-hide{#/if#}">
                            <div class="inputbox">
                                <div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="{#$langData['travel'][14][1]#}" value="{#$keywords#}" /></div> {#* 输入您想搜索的关键词 *#}
                            </div>
                            <div class="subbox search-btn">
                                <input type="submit" class="submit" value="{#$langData['siteConfig'][6][109]#}"> {#* 搜索 *#}
                            </div>
                        </form>
                        <form action="{#getUrlPath service='travel' template='grouptravel'#}" class="form grouptravel {#if $pageCurr != "grouptravel"#} fn-hide{#/if#}">
                            <div class="inputbox">
                                <div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="{#$langData['travel'][14][1]#}" value="{#$keywords#}" /></div> {#* 输入您想搜索的关键词 *#}
                            </div>
                            <div class="subbox search-btn">
                                <input type="submit" class="submit" value="{#$langData['siteConfig'][6][109]#}"> {#* 搜索 *#}
                            </div>
                        </form>
                        <form action="{#getUrlPath service='travel' template='rentcar'#}" class="form rentcar {#if $pageCurr != "rentcar"#} fn-hide{#/if#}">
                            <div class="inputbox">
                                <div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="{#$langData['travel'][14][1]#}" value="{#$keywords#}" /></div> {#* 输入您想搜索的关键词 *#}
                            </div>
                            <div class="subbox search-btn">
                                <input type="submit" class="submit" value="{#$langData['siteConfig'][6][109]#}"> {#* 搜索 *#}
                            </div>
                        </form>
                        <form action="{#getUrlPath service='travel' template='video'#}" class="form video {#if $pageCurr != "video"#} fn-hide{#/if#}">
                            <div class="inputbox">
                                <div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="{#$langData['travel'][14][1]#}" value="{#$keywords#}" /></div> {#* 输入您想搜索的关键词 *#}
                            </div>
                            <div class="subbox search-btn">
                                <input type="submit" class="submit" value="{#$langData['siteConfig'][6][109]#}"> {#* 搜索 *#}
                            </div>
                        </form>
                        <form action="{#getUrlPath service='travel' template='visaindex'#}" class="form visaindex {#if $pageCurr != "visaindex"#} fn-hide{#/if#}">
                            <div class="inputbox">
                                <div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="{#$langData['travel'][14][1]#}" value="{#$keywords#}" /></div> {#* 输入您想搜索的关键词 *#}
                            </div>
                            <div class="subbox search-btn">
                                <input type="submit" class="submit" value="{#$langData['siteConfig'][6][109]#}"> {#* 搜索 *#}
                            </div>
                        </form>
                        <form action="{#getUrlPath service='travel' template='strategy'#}" class="form strategy {#if $pageCurr != "strategy"#} fn-hide{#/if#}">
                            <div class="inputbox">
                                <div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="{#$langData['travel'][14][1]#}" value="{#$keywords#}" /></div> {#* 输入您想搜索的关键词 *#}
                            </div>
                            <div class="subbox search-btn">
                                <input type="submit" class="submit" value="{#$langData['siteConfig'][6][109]#}"> {#* 搜索 *#}
                            </div>
                        </form>

                    </div>
                </div>
                <div class="searchkeys">
                    <span>{#$langData['travel'][14][49]#}：</span> {#* 热门搜索 *#}
                    {#siteConfig module="travel" action="hotkeywords" return="hotkeywords"#}
                    <a href="{#$hotkeywords.href#}"{#if $hotkeywords.target==0#} target="_blank"{#/if#}>{#$hotkeywords.keyword#}</a>
                    {#/siteConfig#}
                </div>
            </div>

            <div class="infobox">
                <a href="{#getUrlPath service='member' type='user' template='enter'#}" class="fbbox"><i class="ruzhu"></i><span>{#$langData['siteConfig'][19][789]#}</span></a> {#* 商家入驻 *#}
            </div>
            <div class="kefu"><s><img src="{#$templets_skin#}images/call.png"></s><p>{#$langData['siteConfig'][19][275]#}</p> {#* 客服热线 *#}{#$travel_hotline#}</div>
        </div>
        <!-- head e -->

        <div class="nav-con n-linear">
            <div class="wrap">
                <ul class="fn-clear">
                    <li {#if $pageCurr == "index"#} class="active"{#/if#}><a href="{#$travel_channelDomain#}">{#$langData['siteConfig'][0][0]#}</a></li>  {#* 首页 *#}
                    <li {#if $pageCurr == "ticket"#} class="active"{#/if#}><a href="{#getUrlPath service="travel" template="ticket"#}">{#$langData['travel'][1][0]#}</a></li>  {#* 景点门票 *#}
                    <li {#if $pageCurr == "store"#} class="active"{#/if#}><a href="{#getUrlPath service="travel" template="store"#}">{#$langData['travel'][12][58]#}</a></li>  {#* 旅行社 *#}
                    <li {#if $pageCurr == "hotel"#} class="active"{#/if#}><a href="{#getUrlPath service="travel" template="hotel"#}">{#$langData['travel'][12][59]#}</a></li>  {#* 酒店/民宿 *#}
                    <li {#if $pageCurr == "daytravel"#} class="active"{#/if#}><a href="{#getUrlPath service="travel" template="daytravel"#}">{#$langData['travel'][12][60]#}</a></li>  {#* 一日游 *#}
                    <li {#if $pageCurr == "grouptravel"#} class="active"{#/if#}><a href="{#getUrlPath service="travel" template="grouptravel"#}">{#$langData['travel'][12][61]#}</a></li>  {#* 跟团游 *#}
                    <li><a href="{#$index_travelPlanePcUrl#}" target="_blank">{#$langData['travel'][12][62]#}</a></li>  {#* 飞机票 *#}
                    <li><a href="{#$index_travelPlanePcUrl#}" target="_blank">{#$langData['travel'][12][63]#}</a></li>  {#* 火车票 *#}
                    <li {#if $pageCurr == "rentcar"#} class="active"{#/if#}><a href="{#getUrlPath service="travel" template="rentcar"#}">{#$langData['travel'][12][64]#}</a></li>  {#* 租车 *#}
                    <li {#if $pageCurr == "video"#} class="active"{#/if#}><a href="{#getUrlPath service="travel" template="video"#}">{#$langData['travel'][12][65]#}</a></li>  {#* 旅游视频 *#}
                    <li {#if $pageCurr == "visaindex"#} class="active"{#/if#}><a href="{#getUrlPath service="travel" template="visaindex"#}">{#$langData['travel'][12][66]#}</a></li>  {#* 签证 *#}
                    <li {#if $pageCurr == "strategy"#} class="active"{#/if#}><a href="{#getUrlPath service="travel" template="strategy"#}">{#$langData['travel'][0][7]#}</a></li>  {#* 旅游攻略 *#}
                </ul>
            </div>
        </div>

    </div>
</div>