<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$langData['travel'][7][13]#}</title>{#* 酒店 *#}
    <meta name="keywords" content="{#$travel_keywords#}" />
    <meta name="description" content="{#$travel_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/list_filter.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/grouptravel.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$travel_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
        var hideFileUrl = {#$cfg_hideUrl#};
        var cookiePre = '{#$cfg_cookiePre#}', numArr = [];
    </script>

</head>

<body class="w1200">
{#$pageCurr = "hotel"#}
<!-- 导航 s-->
{#include file="_top.html"#}

<!-- 导航 e-->
<div class="main_wrap">
    <div class="wrap crumbs">
        {#* 您当前所在： 首页 酒店*#}
        <div class="cont">
            {#$langData['travel'][14][0]#}
            <a href="{#$travel_channelDomain#}">{#$langData['siteConfig'][0][0]#}</a>
            <span>></span>
            <a href="{#getUrlPath service="travel" template="hotel"#}" class="green_a">{#$langData['travel'][7][13]#}</a>{#* 酒店 *#}
        </div>
    </div>
    <!-- 筛选 s-->
    <div class="filter_box wrap">
        <div class="filter">
            <!-- 区域 s-->
            <dl class="fn-clear" id="addr">
                <dt>{#$langData['siteConfig'][6][73]#}：</dt>     {#* 选择区域 *#}
                <dd class="chooseClass" data-chose="quyu">
                    <a href="{#getUrlPath service='travel' template='hotel' param="addrid=0&business=$business&typeid=$typeid&orderby=$orderby&price=$price&keywords=$keywords"#}" data-id="0" {#if !$addrid#} class="curr" {#/if#}>{#$langData['education'][3][17]#}</a>      {#* 不限 *#}
                    {#travel action="addr" return="addr" son="once"#}

                    {#if $addr.id == $addrid#}
                        {#$addridName = $addr.typename#}
                    {#/if#}
                    <a href="{#getUrlPath service='travel' template='hotel' param="addrid={#$addr.id#}&business=$business&typeid=$typeid&orderby=$orderby&price=$price&keywords=$keywords"#}" {#if $addr.id == $addrid#} class="curr" {#/if#} data-id="{#$addr.id#}">{#$addr.typename#}{#if $addr.lower#}{#/if#}</a>
                    {#/travel#}



                    {#if $addrid!=0#}
                    <div class="subnav fn-clear">
                        <div id="addr{#$addr1.id#}" class="chooseClass" data-chose="quyu_sub">
                            <a href="{#getUrlPath service='travel' template='hotel' param="addrid=$addrid&business=0&typeid=$typeid&orderby=$orderby&price=$price&keywords=$keywords" #}" data-id="{#$addr1.id#}" {#if $business == 0#} 
                            {#$businessName = '不限'#} class="curr" {#/if#}>{#$langData['education'][3][17]#}</a>      {#* 不限 *#}
                            {#travel action="addr" return="addr2" type=$addrid#}
                            {#if $addr2.id == $business#}
                                {#$businessName = $addr2.typename#}
                            {#/if#}
                            <a href="{#getUrlPath service='travel' template='hotel' param="addrid=$addrid&business={#$addr2.id#}&typeid=$typeid&orderby=$orderby&price=$price&keywords=$keywords" #}" data-id="{#$addr2.id#}" {#if $business==$addr2.id#} class="curr" {#/if#}>{#$addr2.typename#}</a>
                            {#/travel#}
                        </div>
                    </div>
                    {#/if#}

                </dd>              
            </dl> 
            <!-- 区域 e-->
        
            <!-- 住宿类型 s-->          
            <dl class="fn-clear">
                <dt>{#$langData['travel'][7][14]#}：</dt>     {#* 住宿类型 *#}
                <dd>
                   <div class="chooseClass" data-chose="hotel" id="hotelChoose">
                        <a href="{#getUrlPath service='travel' template='hotel' param="addrid=$addrid&business={#$addr2.id#}&orderby=$orderby&price=$price&typeid=0&keywords=$keywords" #}" {#if $typeid==0#} class="curr" {#/if#}>{#$langData['education'][4][9]#}</a>     {#* 全部 *#}
                        {#travel action="travelhotel_type" return="type"#}
                        {#if $type.id == $typeid#}
                            {#$typeName = $type.typename#}
                        {#/if#}
                        <a href="{#getUrlPath service='travel' template='hotel' param="addrid=$addrid&business={#$addr2.id#}&typeid={#$type.id#}&orderby=$orderby&price=$price&keywords=$keywords" #}" data-id="{#$type.id#}"  {#if $typeid==$type.id#} class="curr" {#/if#} >{#$type.typename#}</a>
                        {#/travel#}
                    </div> 
                </dd>                                                  
                
            </dl>
            <!-- 住宿类型 e-->

            <!-- 价格范围：  s-->                                           
            <dl class="fn-clear">
                <dt>{#$langData['travel'][14][8]#}</dt>     {#* 价格范围： *#}
                <dd>
                    <div class="chooseClass" data-chose="price" id="priceChoose">
                        <a href="{#getUrlPath service='travel' template='hotel' param="addrid=$addrid&business=$business&typeid=$typeid&orderby=$orderby&price=&keywords=$keywords" #}" data-id="0" {#if $price==''#} {#$priceName='不限'#} class="curr" {#/if#}>{#$langData['education'][4][9]#}</a>     {#* 全部 *#}

                        <a href="{#getUrlPath service='travel' template='hotel' param="addrid=$addrid&business=$business&typeid=$typeid&orderby=$orderby&price=0,500&keywords=$keywords" #}" data-id=",500" {#if $price=='0,500'#}  class="curr" {#/if#} >{#echoCurrency type='symbol'#}500以下</a>

                        <a href="{#getUrlPath service='travel' template='hotel' param="addrid=$addrid&business=$business&typeid=$typeid&orderby=$orderby&price=500,800&keywords=$keywords" #}" data-id="500,800" {#if $price=='500,800'#}  class="curr" {#/if#} >{#echoCurrency type='symbol'#}500-800</a>

                        <a href="{#getUrlPath service='travel' template='hotel' param="addrid=$addrid&business=$business&typeid=$typeid&orderby=$orderby&price=800,1200&keywords=$keywords" #}" data-id="800,1200" {#if $price=='800,1200'#}  class="curr" {#/if#} >{#echoCurrency type='symbol'#}800-1200</a>

                        <a href="{#getUrlPath service='travel' template='hotel' param="addrid=$addrid&business=$business&typeid=$typeid&orderby=$orderby&price=1200,1600&keywords=$keywords" #}" data-id="1200,1600"  {#if $price=='1200,1600'#}  class="curr" {#/if#} >{#echoCurrency type='symbol'#}1200-1600</a>

                        <a href="{#getUrlPath service='travel' template='hotel' param="addrid=$addrid&business=$business&typeid=$typeid&orderby=$orderby&price=1600,&keywords=$keywords" #}" data-id="1600," {#if $price=='1600,'#}  class="curr" {#/if#}>{#echoCurrency type='symbol'#}1600以上</a>

                        <div class="inpbox inp_price">
                            {#* 元 *#}
                           <input type="input" class="p1" id="priceLow" placeholder="{#$langData['education'][6][10]#}" maxlength="6" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"><em>-</em>
                           {#* 元 *#}
                           <input type="input" class="p2" id="priceTop" placeholder="{#$langData['education'][6][10]#}" maxlength="6" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                            <button class="btn btn_price" id="price_sure">{#$langData['education'][3][1]#}</button>      {#* 确定 *#}
                        </div>

                        {#if $priceArr[0] !=0 &&  $priceArr[1] ==0#}
                                {#$priceTitle=$priceArr[0]|cat:'元以上'#}
                            {#else if $priceArr[0] !=0 &&  $priceArr[1] !=0#}
                                {#$priceTitle=$priceArr[0]|cat:'-'|cat:$priceArr[1]|cat:'元'#}
                            {#else $priceArr[0]==0 && $priceArr[1]!=0#}
                                {#$priceTitle=$priceArr[1]|cat:'元以下'#}
                        {#/if#}

                    </div>
                    
                </dd>
                
            </dl>
            <!-- 价格范围：  s-->
        </div>
        {#if $keywords != "" || $addrid !=0  || $business !=0 || $typeid !=0 ||$keywords!=0 || $price!=''#}
        <div class="deletebox">
            <dl class="fi-state fn-clear" style="display: block;">
                <dt>已选条件</dt>
                <dd class="fn-clear">
                    {#if $keywords#}
                    <a href="{#getUrlPath service='travel' template='hotel' param="addrid=$addrid&business=0&flag=$flag&orderby=$orderby&price=$price&orderby=$orderby&keywords=" #}"><span>{#$keywords#}</span><i class="idel"></i></a>
                    {#/if#}

                    {#if $addrid#}
                    <a href="{#getUrlPath service='travel' template='hotel' param="addrid=0&business=0&flag=$flag&orderby=$orderby&price=$price&orderby=$orderby&keywords=$keywords" #}"><span>{#$addridName#}</span><i class="idel"></i></a>
                    {#/if#}

                    {#if $business#}
                    <a href="{#getUrlPath service='travel' template='hotel' param="addrid=$addrid&business=0&flag=$flag&orderby=$orderby&price=$price&orderby=$orderby&keywords=$keywords" #}"><span>{#$businessName#}</span><i class="idel"></i></a>
                    {#/if#}

                    {#if $typeid#}
                    <a href="{#getUrlPath service='travel' template='hotel' param="addrid=$addrid&business=$business&flag=0&orderby=$orderby&price=$price&orderby=$orderby&keywords=$keywords" #}"><span>{#$typeName#}</span><i class="idel"></i></a>
                    {#/if#}

                    {#if $price#}
                    <a href="{#getUrlPath service='travel' template='hotel' param="addrid=$addrid&business=$business&typeid=$typeid&price=&orderby=$orderby&keywords=$keywords" #}"><span>{#$priceTitle#}</span><i class="idel"></i></a>
                    {#/if#}
                   
                </dd>
                <a class="btn_clear" href="{#getUrlPath service='travel' template='hotel' 
                param="addrid=0&business=0&typeid=0&orderby=0&price=&keywords=" #}">清空条件</a>
            </dl>
        </div>
        {#/if#}
    </div>
    <!-- 筛选 e-->
    <!-- 列表 s-->
    <div class="class_wrap">
        <div class="sort wrap">
            <ul class="fn-clear">
                <li class="st  {#if $orderby == ""#} curr {#/if#}" data-sort="1"><a href="{#getUrlPath service='travel' template='hotel' param="addrid=$addrid&business=$business&typeid=$typeid&price=$price&keywords=$keywords&orderby=0" #}">{#$langData['education'][3][19]#}</a></li> {#* 默认排序 *#}
                <li class="st up {#if $orderby == "4"#} curr {#elseif $orderby == "3"#}curr down{#/if#}" data-sort="5"><a href="{#getUrlPath service='travel' template='hotel' param="addrid=$addrid&business=$business&typeid=$typeid&price=$price&keywords=$keywords&orderby={#if $orderby == 4#}3{#else#}4{#/if#}" #}">{#$langData['travel'][2][22]#}<i></i></a></li> {#* 价格  4d-g 3 g-d*#}             
                
            </ul>
        </div>
        <div class="fn-clear wrap main_con">
            <!-- 列表左 s-->
            <div class="list_left">
                

                <ul class="list_ul hotel-list">
                    
                    {#travel action="hotelList" return="list" addrid={#$addrid#} business={#$business#} keywords={#$keywords#} typeid={#$typeid#} price={#$price#} orderby ={#$orderby#} page={#$page#} pageSize=10#}

                    <li class="fn-clear">
                        
                        <div class="left_b">  
                            <a href="{#$list.url#}" target="_blank" class="fn-clear">                         
                                <img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="">
                                {#if $list.flagname#}
                                <div class="top_tag">
                                    <span class="stCity">{#$list.flagname#}</span>
                                </div>      
                                {#/if#} 
                            </a>                                                   
                        </div>
                        <div class="mid_b">
                            <h1 class="t_name"><a href="{#$list.url#}" target="_blank" class="fn-clear">{#$list.title#}</a></h1>
                            <div class="t_property">
                                {#if $list.tagAll!=''#}
                                {#foreach from=$list.tagAll item=val#}
                                <span>{#$val.jc#}</span>
                                {#/foreach#}
                                {#/if#}
                            </div>
                            <div class="tInfo">
                                <dl class="t_addr"><dt></dt><dd><span>{#$list.addrname[0]#}{#$list.addrname[1]#}</span><a href="javascript:;" class="appMapBtn2 adr_a" target="_blank" data-lng="{#$list.lng#}" data-lat="{#$list.lat#}" data-title="{#$list.title#}" data-address="{#$list.address#}">{#$langData['travel'][7][48]#}</a></dd></dl>{#*   查看地图 *#}
                            </div>
                            <div class="hotel_has">
                                {#foreach from=$list.tagArr item = taglist#}
                                <i class="{#$taglist.py#}"></i>
                                {#/foreach#}
                                <!-- <i class="free_wifi"></i>
                                <i class="park"></i>
                                <i class="free_park"></i>
                                <i class="canPhone"></i>
                                <i class="free_phone"></i>
                                <i class="food"></i>
                                <i class="pets"></i>
                                <i class="sport"></i>
                                <i class="meeting"></i>
                                <i class="receive"></i>
                                <i class="free_receive"></i>
                                <i class="swing"></i>
                                <i class="luggage"></i> -->
                            </div>
                        </div>
                        <div class="right_b">                       
                            <p class="t_price"><span>{#echoCurrency type='symbol'#}<em>{#$list.price|string_format:"%.0f"#}</em></span>{#$langData['travel'][12][51]#}</p>
                            <p class="t_detail"><a href="{#$list.url#}" target="_blank" class="fn-clear">{#$langData['travel'][8][20]#}</a></p>   {#* 查看详情 *#}                          
                        </div>                
                    </li>
                    {#/travel#}
                    {#if $pageInfo.totalCount == 0#}

                    <li class="empty failed"><img src="{#$templets_skin#}images/icon_faild.png"><span>{#$langData['education'][8][24]#}</span></li> {#* 没有找到符合条件的结果 *#}
                    {#/if#}
                </ul>
                {#getPageList service='travel' template='hotel' pageType='dynamic' param="page=#page#"#}
            </div>
            <!-- 列表左 e-->
            <!-- 列表右 s-->
            <div class="list_r">
                <div class="adv_r">   
                    {#myad title="旅游酒店列表_模板二_电脑端_广告一"#} 
                </div>
                <div class="listr_con hotHotel">
                    <h2 class="newr_tit">{#$langData['travel'][14][15]#}</h2>          {#* 热卖酒店 *#} 
                    <ul>
                        {#travel action="hotelList" return="list" orderby="1" pageSize=5#}
                        <li class="fn-clear">
                            <a href="{#$list.url#}" target="_blank" class="fn-clear">
                                <div class="left_img"><img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt=""></div>
                                <div class="right_b">
                                    <h2 class="hotTitle">{#$list.title#}</h2>
                                    <div class="hotInfo fn-clear">
                                        <p class="hotPrice"><span>{#echoCurrency type='symbol'#}<em>{#$list.price|string_format:"%.0f"#}</em></span>{#$langData['travel'][12][51]#}</p>
                                        <p class="hotAddr"><i></i>{#$list.addrname[0]#}{#$list.addrname[1]#}</p>
                                    </div>
                                </div>                       
                            </a>       
                        </li>
                        {#/travel#}

                    </ul>
                </div>
            </div>
            <!-- 列表右 e-->
        </div>
    </div>
    <!-- 列表 e-->
</div>
<!-- 底部 s-->
{#include file="../../siteConfig/public_foot_v3.html" module='siteConfig' theme='gray'#}

<script type="text/javascript">
       var priceUrl =" {#getUrlPath service='travel' template='hotel' param="addrid=$addrid&business=$business&typeid=$typeid&price=pricePlaceholder&keywords=$keywords" #}";
</script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<!-- 公共头部搜索+收藏js -->
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/Map_position2.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/list_filter.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/grouptravel.js?v={#$cfg_staticVersion#}"></script>

</body>
</html>
