<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$travel_channelName#}</title>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" href="{#$templets_skin#}css/index.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script>
  var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$travel_channelDomain#}', templatePath = '{#$templets_skin#}';
  var hideFileUrl = {#$cfg_hideUrl#};
  </script>
</head>
<body class="w1200">
{#$pageCurr = 'index'#}
{#include file="../../siteConfig/top1.html"#}
<div class="bgfff">
<div class="wrap">
  <div class="header fn-clear">
    <div class="logo">
        <a href="{#$travel_channelDomain#}" title="{#$travel_channelName#}"><img src="{#$travel_logoUrl#}" alt="{#$travel_channelName#}"><h2>{#$cfg_shortname#}</h2></a>
    </div>
    <div class="navbar">
      <a href="{#getUrlPath service="travel" template="index"#}" class="currpage">{#$langData['siteConfig'][0][0]#}</a>  {#* 首页 *#}
      <a href="{#getUrlPath service="travel" template="ticket"#}">{#$langData['travel'][1][0]#}</a>  {#* 景点门票 *#}
      <a href="{#getUrlPath service="travel" template="store"#}">{#$langData['travel'][12][58]#}</a>  {#* 旅行社 *#}
      <a href="{#getUrlPath service="travel" template="hotel"#}">{#$langData['travel'][12][59]#}</a>  {#* 酒店/民宿 *#}
      <a href="{#getUrlPath service="travel" template="daytravel"#}">{#$langData['travel'][12][60]#}</a>  {#* 一日游 *#}
      <a href="{#getUrlPath service="travel" template="grouptravel"#}">{#$langData['travel'][12][61]#}</a>  {#* 跟团游 *#}
      {#if $index_travelPlaneCheck == 1 && !$isWxMiniprogram#}
      <a href="{#$index_travelPlanePcUrl#}" target="_blank" >{#$langData['travel'][12][62]#}</a>  {#* 飞机票 *#}
      {#/if#}
      {#if $index_travelTrainCheck == 1 && !$isWxMiniprogram#}
      <a href="{#$index_travelPlanePcUrl#}" target="_blank" >{#$langData['travel'][12][63]#}</a>  {#* 火车票 *#}
      {#/if#}
      <a href="{#getUrlPath service="travel" template="rentcar"#}">{#$langData['travel'][12][64]#}</a>  {#* 租车 *#}
      <a href="{#getUrlPath service="travel" template="video"#}">{#$langData['travel'][12][65]#}</a>  {#* 旅游视频 *#}
      <a href="{#getUrlPath service="travel" template="visaindex"#}">{#$langData['travel'][12][66]#}</a>  {#* 签证 *#}
    </div>
  </div>
</div>
</div>
<div class="main">
  <!--banner s-->
  <div class="banner b-main">
    <div class="slideBox1">
      <div class="slidewrap">
        <div class="slide">
          <div class="bd">
            <div class="slideobj">
            {#myad title="旅游_模板二_电脑端_广告一" type="slide"#}
            </div>
          </div>
          <div class="hd"><ul></ul></div>
        </div>
      </div>
    </div>


    <div class="ban_search">
      <ul class="fn-clear search-top">
          {#* 酒店 *#}
          <li data-type="hotel" class="active hotel_li"><a href="javascript:;" data-href="{#getUrlPath service='travel' template='hotel'#}"><i></i>{#$langData['travel'][7][13]#}</a></li>  

          {#* 目的地 *#}
          <li data-type="strategy" class="strategy_li"><a href="javascript:;" data-href="{#getUrlPath service='travel' template='strategy'#}" ><i></i>{#$langData['travel'][8][43]#}</a></li>  

          {#* 旅行社 *#}
          <li data-type="store" class="store_li"><a href="javascript:;" data-href="{#getUrlPath service='travel' template='store'#}" ><i></i>{#$langData['travel'][12][58]#}</a></li> 

          {#* 租车 *#}
          <li data-type="rentcar" class="rentcar_li"><a href="javascript:;" data-href="{#getUrlPath service='travel' template='rentcar'#}"><i></i>{#$langData['travel'][12][64]#}</a></li>  
      </ul>
      <div class="search_food">
        <dl>
          <dd>
            <input type="text" name="keywords" id="keywords" placeholder="{#$langData['travel'][14][48]#}">  {#* 输入目的地/酒店名 *#}
          </dd>
        </dl>
        <button class="searchBtn">{#$langData['travel'][14][46]#}</button>  {#* 搜索酒店 *#}
      </div>
    </div>
  </div>
  <!--banner e-->
  <!-- 广告二 s-->
  <div class="advBox advBox2">
    <div class="wrap fn-clear">
      {#myad title="旅游_模板二_电脑端_广告二"#}
    </div>
    
  </div>
  <!-- 广告二 e-->

  <!--当季热门 s-->
  <div class="hot-wrap wrap">
    <div class="head_title">
      <h2 class="com-title">{#$langData['travel'][0][1]#}</h2>  {#* 当季热门 *#}
    </div>
    <div class="hotBox fn-clear">

      <div class="hot_l">
        {#travel action="ticketList" return="list" orderby="1" pageSize=1#}
        <a href="{#$list.url#}">
            <div class="imgshow {#if $list.video#}videoshow{#/if#}">
              <img src="{#changeFileSize url={#$list.litpic#} type='large'#}" />
            </div>
            <div class="textshow">
              <h2>{#$list.title#}</h2>
              <p>{#echoCurrency type='symbol'#}<strong>{#$list.price#}</strong>{#$langData['travel'][12][51]#}</p>
            </div>

        </a>
        {#/travel#}
      </div>
      <ul class="hot_ul fn-clear">
        {#$n=0#}
        {#travel action="ticketList" return="list" orderby="1" pageSize=5#}
        {#if $n > 0#}
        <li class="swiper-slide">
          <a href="{#$list.url#}">
            <div class="imgshow {#if $list.video#}videoshow{#/if#}">
              <img src="{#changeFileSize url={#$list.litpic#} type='large'#}" />
            </div>
            <div class="textshow">
              <h2>{#$list.title#}</h2>
              <p>{#echoCurrency type='symbol'#}<strong>{#$list.price#}</strong>{#$langData['travel'][12][51]#}</p>
            </div>

          </a>
        </li>
        {#/if#}
        {#$n = $n + 1#}
        {#/travel#}
      </ul>


    </div>

  </div>
  <!--当季热门 e-->
  <!--景点推荐 s-->
  <div class="place-wrap com-wrap">
    <div class="wrap">
      <div class="head_title2">
        <h3 class="com-h3">{#$langData['travel'][0][3]#}</h3>  {#* 景点推荐 *#}
        <a href="{#getUrlPath service='travel' template='ticket'#}">{#$langData['travel'][0][4]#}</a> {#* 查看更多 *#}
      </div>
      <div class="place_con fn-clear">
        <ul class="place-list fn-clear com-list">
          {#travel action="ticketList" return="list" orderby="1" rec="1" pageSize=8#}
          <li>
            <a href="{#$list.url#}" >
              <div class="recimgshow{#if $list.video#} videoshow{#/if#}">
                {#if $list.flagname#}<label class="labshow">{#$list.flagname#}</label>{#/if#}
                <img src="{#changeFileSize url={#$list.litpic#} type='large'#}" />
              </div>
              <div class="rectextshow ">
                <h2>{#$list.title#}</h2>
                <div class="fn-clear">
                  <p class="price"><span>{#echoCurrency type='symbol'#}<em>{#$list.price#}</em></span>{#$langData['travel'][12][51]#}</p>
                  <p class="attr_posi">{#$list.addrname[0]#}  {#$list.addrname[1]#}</p>
                </div>
                
              </div>
            </a>
          </li>
          {#/travel#}
        </ul>
        <div class="advBox advBox3">
          {#myad title="旅游_模板二_电脑端_广告三"#}
        </div>
      </div>
      
    </div>
    
  </div>
  <!--景点推荐 e-->
  <!--跟团游 s-->
  <div class="group-wrap">
    <div class="wrap">
      <div class="dot"><s></s></div>
      <h1 class="group_title">{#$langData['travel'][12][61]#}</h1>  {#* 跟团游 *#}
      <div id="slideBox" class="slideBox2">
        <div class="bd">
          <ul>
            {#travel action="agencyList" return="alist" pageSize=9#}
            <li><a href="{#$alist.url#}" target="_blank">
              <div class="group_img">
                <img src="{#if $alist.litpic#}{#$alist.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="">
              </div>
              <div class="group_bot">
                <h2>{#$alist.title#}</h2>
                <p>{#$alist.travelservice#}</p>
              </div>
              <p class="price_p">{#echoCurrency type='symbol'#}<span>{#$alist.price#}</span>{#$langData['travel'][12][51]#}</p> {#* 起 *#}
            </a></li>
            {#/travel#}
          </ul>
        </div>
        <div class="hd"><ul class="fn-clear"></ul></div>

        <!-- 前/后按钮 -->
        <a class="prev" href="javascript:void(0)"></a>
        <a class="next" href="javascript:void(0)"></a>

      </div>
    </div>
  </div>
  <!--跟团游 e-->
  <!--精选酒店 s-->
  <div class="hotel-wrap com-wrap">
    <div class="wrap">
      <div class="head_title2">
        <h3 class="com-h3">{#$langData['travel'][0][5]#}</h3>  {#* 精选酒店 *#}
        <a href="{#getUrlPath service='travel' template='hotel'#}">{#$langData['travel'][0][4]#}</a> {#* 查看更多 *#}
      </div>
      <div class="hotel_con fn-clear">
        <ul class="hotel-list fn-clear com-list">
          {#travel action="hotelList" return="list" orderby="1" pageSize=8#}
          <li>
            <a href="{#$list.url#}" >
              <div class="recimgshow{#if $list.video#} videoshow{#/if#}">
                {#if $list.flagname#}<label class="labshow">{#$list.flagname#}</label>{#/if#}
                <img src="{#changeFileSize url={#$list.litpic#} type='large'#}" />
              </div>
              <div class="rectextshow ">
                <h2>{#$list.title#}</h2>
                <div class="fn-clear">
                  <p class="price"><span>{#echoCurrency type='symbol'#}<em>{#$list.price#}</em></span>{#$langData['travel'][12][51]#}</p>
                  <p class="attr_posi">{#$list.addrname[0]#}  {#$list.addrname[1]#}</p>
                </div>
                
              </div>
            </a>
          </li>
          {#/travel#}
        </ul>
        <div class="advBox advBox3">
          {#myad title="旅游_模板二_电脑端_广告四"#}
        </div>
      </div>
      
    </div>
    
  </div>
  <!--精选酒店 e-->
  <!-- 旅游攻略 s-->
  <div class="strategy-wrap">
    <div class="wrap">
      <div class="head_title2">
        <h3 class="com-h3">{#$langData['travel'][0][7]#}</h3>  {#* 旅游攻略 *#}
        <a href="{#getUrlPath service='travel' template='strategy'#}">{#$langData['travel'][0][4]#}</a> {#* 查看更多 *#}
      </div>
      <ul class="fn-clear strategy-list">
        {#travel action="strategyList" return="list" pageSize=4#}
        <li><a href="{#$list.url#}">
          <div class="top_img">
            <img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="">
            <span><i></i>{#$list.click#}</span>
          </div>
          <div class="botInfo">
            <div class="botPeo">
              <div class="botImg">
                <img src="{#if $list.user['photo']#}{#$list.user['photo']#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="">

              </div>
              <h3 class="botName">{#$list.user['nickname']#}</h3>
            </div>
            <h2 class="botTxt">{#$list.title#}</h2>
          </div>
        </a></li>
        {#/travel#}
      </ul>
    </div>
  </div>
  <!-- 旅游攻略 e-->
  <!-- 旅游视频 s-->
  <div class="video-wrap">
    <div class="wrap">
      <div class="head_title2">
        <h3 class="com-h3">{#$langData['travel'][0][8]#}</h3>  {#* 旅游视频 *#}
        <a href="{#getUrlPath service='travel' template='video'#}">{#$langData['travel'][0][4]#}</a> {#* 查看更多 *#}
      </div>
      <ul class="fn-clear video-list">
        {#travel action="videoList" return="list" pageSize=4#}
        <li><a href="{#$list.url#}">
          <div class="top_img videoshow">
            <img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="">
          </div>
          <div class="botInfo">
             <h2 class="botTxt">{#$list.title#}</h2>
             <div class="videoInfo fn-clear">
               <div class="botPeo">
                <div class="botImg">
                  <img src="{#if $list.user['photo']#}{#$list.user['photo']#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="">
                </div>
                <h3 class="botName">{#$list.user['nickname']#}</h3>
              </div>
              <span>{#$langData['travel'][14][47]|replace:'1':$list.click#}</span>{#* 人浏览 *#}
             </div>
             
          </div>
        </a></li>
        {#/travel#}
      </ul>
    </div>
  </div>
  <!-- 旅游视频 e-->
</div>

  <!-- 底部 s-->
{#include file="../../siteConfig/public_foot_v3.html" module='siteConfig' theme='gray'#}
<!-- 底部 e-->
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script src="{#$templets_skin#}js/index.js?v={#$cfg_staticVersion#}" charset="utf-8"></script>
</body>
</html>
