<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$langData['travel'][9][2]#}</title>{#* 租车 *#}
    <meta name="keywords" content="{#$travel_keywords#}" />
    <meta name="description" content="{#$travel_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/list_filter.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/rentcar.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$travel_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
        var hideFileUrl = {#$cfg_hideUrl#};
        var cookiePre = '{#$cfg_cookiePre#}', numArr = [];
        var id="{#$list_id#}"
    </script>

</head>

<body class="w1200">
{#$pageCurr = "rentcar"#}
<!-- 导航 s-->
{#include file="_top.html"#}

<!-- 导航 e-->
<div class="main_wrap">
    <div class="wrap crumbs">
        {#* 您当前所在： 首页 租车*#}
        <div class="cont">
            {#$langData['travel'][14][0]#}
            <a href="{#$travel_channelDomain#}">{#$langData['siteConfig'][0][0]#}</a>
            <span>></span>
            <a href="javascript:;" class="green_a">{#$langData['travel'][9][2]#}</a>{#* 租车 *#}
        </div>
    </div>
	<!-- 筛选 s-->
    <div class="filter_box wrap">
        <div class="filter">
            <!-- 汽车品牌 s-->
            <dl class="fn-clear">
                <dt>{#$langData['travel'][14][38]#}：</dt>     {#* 汽车品牌： *#}
                <dd>
                    <div class="f_more">{#$langData['siteConfig'][18][18]#}<i></i></div> {#* 全部 *#}
                    <div class="item_box chooseClass" data-chose="Brand">
                        <a href="{#getUrlPath service='travel' template='rentcar'  param="typeid=0&price=$price&orderby=$orderby&keywords=$keywords" #} " {#if $typeid=='0'#}  class="curr" {#/if#} >{#$langData['education'][4][9]#}</a>     {#* 全部 *#}
                        {#travel action="rentcartype" return="type"#}
                        <a href="{#getUrlPath service='travel' template='rentcar'  param="typeid={#$type.id#}&price=$price&orderby=$orderby$price&keywords=$keywords" #}" {#if $typeid== $type.id#} {#$typeName = $type.typename #}  class="curr" {#/if#}   data-id="{#$type.id#}">{#$type.typename#}</a>
                        {#/travel#}
                    </div> 
                </dd>
                             
            </dl> 
            <!-- 汽车品牌 e-->

            <!-- 价格范围：  s-->                                                              
            <dl class="fn-clear">
                <dt>{#$langData['travel'][14][39]#}：</dt>     {#* 日租金： *#}
                <dd>
                    <div class="chooseClass" data-chose="price" id="priceChoose">
                        <a href="{#getUrlPath service='travel' template='rentcar'  param="typeid=$typeid&price=&orderby=$orderby&keywords=$keywords" #}" data-id="0"  {#if $price==''#}  class="curr" {#/if#}>{#$langData['education'][4][9]#}</a>     {#* 全部 *#}
                        <a href="{#getUrlPath service='travel' template='rentcar'  param="typeid=$typeid&price=0,100&orderby=$orderby&keywords=$keywords" #}" data-id="0,100"   {#if $price=='0,100'#}  class="curr" {#/if#} >100以下</a>
                        <a href="{#getUrlPath service='travel' template='rentcar'  param="typeid=$typeid&price=100,200&orderby=$orderby&keywords=$keywords" #}" data-id="100,200" {#if $price=='100,200'#}  class="curr" {#/if#} >100-200</a>
                        <a href="{#getUrlPath service='travel' template='rentcar'  param="typeid=$typeid&price=200,300&orderby=$orderby&keywords=$keywords" #}" data-id="200,300" {#if $price=='200,300'#}  class="curr" {#/if#} >200-300</a>
                        <a href="{#getUrlPath service='travel' template='rentcar'  param="typeid=$typeid&price=300,400&orderby=$orderby&keywords=$keywords" #}" data-id="300,400" {#if $price=='300,400'#}  class="curr" {#/if#} >300-400</a>
                        <a href="{#getUrlPath service='travel' template='rentcar'  param="typeid=$typeid&price=500,&orderby=$orderby&keywords=$keywords" #}" data-id="500," {#if $price=='500,'#}  class="curr" {#/if#} >500以上</a>
                    </div>
                    {#if $priceArr[0] !=0 &&  $priceArr[1] ==0#}
                                {#$priceTitle=$priceArr[0]|cat:'元以上'#}
                            {#else if $priceArr[0] !=0 &&  $priceArr[1] !=0#}
                                {#$priceTitle=$priceArr[0]|cat:'-'|cat:$priceArr[1]|cat:'元'#}
                            {#else $priceArr[0]==0 && $priceArr[1]!=0#}
                                {#$priceTitle=$priceArr[1]|cat:'元以下'#}
                    {#/if#}
                </dd>
                
            </dl>
            <!-- 价格范围：  s-->
        </div>
        {#if $keywords != "" || $typeid !=0 || $price!='' #}
        <div class="deletebox">
            <dl class="fi-state fn-clear"  style="display: block;">
                <dt>{#$langData['education'][8][49]#}</dt>     {#* 已选 *#}
                <dd class="fn-clear">
                    {#if $keywords#}
                    <a href="{#getUrlPath service='travel' template='rentcar' param="typeid=0&price=$price&orderby=$orderby&keywords=" #}"><span>{#$keywords#}</span><i class="idel"></i></a>
                    {#/if#}
                    {#if $typeid#}
                    <a href="{#getUrlPath service='travel' template='rentcar' param="typeid=0&price=$price&orderby=$orderby&keywords=$keywords" #}"><span>{#$typeName#}</span><i class="idel"></i></a>
                    {#/if#}

                    {#if $price#}
                    <a href="{#getUrlPath service='travel' template='rentcar' param="typeid=$typeid&price=&orderby=$orderby&keywords=$keywords" #}"><span>{#$priceTitle#}</span><i class="idel"></i></a>
                    {#/if#}
                </dd>
                <a class="btn_clear" href="{#getUrlPath service='travel' template='rentcar' param="typeid=0&price=&orderby=0&keywords=0" #}">{#$langData['education'][8][50]#}</a>     {#* 重置条件 *#}
            </dl>
        </div>
        {#/if#}
    </div>
    <!-- 筛选 e-->
	<!-- 列表 s-->
	<div class="class_wrap">
        <div class="sort wrap">
            <ul class="fn-clear">
                <li class="st {#if $orderby==0 #} curr {#/if#}" data-sort="1"><a href="{#getUrlPath service='travel' template='rentcar' param="typeid=0&price=$price&orderby=0&keywords=$keywords" #}">{#$langData['education'][3][19]#}</a></li> {#* 默认排序 *#}
                <li class="st up {#if $orderby == "4"#} curr {#elseif $orderby == "3"#}curr down{#/if#}" data-sort="4"><a href="{#getUrlPath service='travel' template='rentcar' param="typeid=0&price=$price&orderby={#if $orderby == 4#}3{#else#}4{#/if#}&keywords=$keywords" #}">{#$langData['travel'][2][22]#}<i></i></a></li> {#* 价格 *#}                             
            </ul>
        </div>
        <div class="fn-clear wrap main_con">
            <ul class="car-list fn-clear">
                  {#travel action="rentcarList" return="list" typeid={#$typeid#} orderby={#$orderby#} price ={#$price#} page={#$page#} keywords={#$keywords#} pageSize=20#}
                  <li>
                    <a href="{#$list.url#}" target="_blank">
                      <div class="car_img{#if $list.video#} videoshow{#/if#}">
                        <img src="{#changeFileSize url={#$list.litpic#} type='large'#}" />
                        <span>{#$list.addrname[$list.addrname|count-1]#}</span>
                      </div>
                      <div class="carInfo ">
                        <h2>{#$list.title#}</h2>
                        <div class="t_property">
                            {#if $list.tagAll!=''#}
                            {#foreach from=$list.tagAll item=val#}
                            <span>{#$val.jc#}</span>
                            {#/foreach#}
                            {#/if#}
                        </div>
                        <div class="fn-clear">
                          <p class="price"><span>{#echoCurrency type='symbol'#}<em>{#$list.price#}</em></span>/{#$langData['travel'][12][79]#}</p> {#* 日均 *#}
                          <p class="store">{#$list.typename#}</p>
                        </div>
                        
                      </div>
                    </a>
                  </li>
                  {#/travel#}
                  {#if $pageInfo.totalCount == 0#}

                    <li class="empty failed"><img src="{#$templets_skin#}images/icon_faild.png"><span>{#$langData['education'][8][24]#}</span></li> {#* 没有找到符合条件的结果 *#}
                    {#/if#}
            </ul>
            {#getPageList service='travel' template='rentcar' pageType='dynamic' param="page=#page#"#}

        </div>
	</div>
	<!-- 列表 e-->

</div>
<!-- 底部 s-->
{#include file="../../siteConfig/public_foot_v3.html" module='siteConfig' theme='gray'#}

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<!-- 公共头部搜索+收藏js -->
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/list_filter.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
