<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$detail_title#}</title>
    <meta name="keywords" content="{#$travel_keywords#}" />
    <meta name="description" content="{#$travel_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/viewer.min.css?v=2" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/store-detail.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$travel_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
        var hideFileUrl = {#$cfg_hideUrl#};
        var cookiePre = '{#$cfg_cookiePre#}';
        var id = {#$detail_id|default:0#}, type = '', catid = 'store', addrid = '{#$detail_addrid#}', typeid = '{#$detail_typeid#}';
        var newsid ='{#$detail_id#}';
        var imconfig = {
            'mod':'travel',
            'chatid':"{#$detail_userid#}",
        }
        var pageData = {
            title: '{#$detail_title#}',
            address: '{#$detail_address#}',
            lat: '{#$detail_lat#}',
            lng: '{#$detail_lng#}',
            mapType: '{#$site_map#}',
            cityName: '{#$siteCityInfo['name']#}',
            mapKey: '{#$site_map_key#}'
        };
    </script>

</head>

<body class="w1200">
{#$pageCurr = "store"#}
<!-- 导航 s-->
{#include file="_top.html"#}

<!-- 导航 e-->
<div class="main_wrap">
    <div class="wrap crumbs">
        {#* 您当前所在： 首页 旅行社*#}
        <div class="cont">
            {#$langData['travel'][14][0]#}
            <a href="{#$travel_channelDomain#}">{#$langData['siteConfig'][0][0]#}</a>
            <span>></span>
            <a href="{#getUrlPath service="travel" template="store"#}" class="green_a">{#$langData['travel'][5][0]#}</a>{#* 旅行社 *#}
        </div>
    </div>
    
	<div class="store_wrap wrap fn-clear">
        <!--店铺入口s-->
        <div class="shopbox">
            <div class="top_info">
                <a href="{#$detail_companyurl#}">
                    <div class="shopimg"><img src="{#changeFileSize url="{#$detail_pics[0]['path']#}" type="small"#}"/></div>

                    <div class="shopinfo">
                        <h2>{#$detail_title#}{#if $detail_flag==1#}<label></label>{#/if#}</h2>{#*  已认证   *#}                        
                    </div>
                </a>
            </div>
            <div class="shop_ul">
                <ul>
                    <li class="go_call">
                        <a href="javascript:;">
                            <i></i>
                            <div class="shopCall">
                                <h3 data-call="{#if $detail_tel#}{#$detail_tel#}{#else#}{#$detail_store.tel#}{#/if#}">{#$detail_telEncrypt#}</h3>
                                <p>{#$langData['travel'][14][31]#}</p> {#*查看完整电话*#}
                            </div>
                        </a>
                    </li>
                </ul>
                {#*查看地图 *#}
                <p class="adr">{#$detail_address#}<a href="javascript:;" class="adr_a appMapBtn" target="_blank">{#$langData['car'][8][11]#}</a></p>
                <div class="btn_group ">
                    {#* 已收藏 *#}  {#* 收藏 *#}
                    <a href="javascript:;" class="store-btn soucan{#if $detail_collect==1#} curr{#/if#}"><button><em></em><span>{#if $detail_collect==1#}{#$langData['homemaking'][8][84]#}{#else#}{#$langData['homemaking'][0][10]#}{#/if#}</button></a>
                    <div class="share-btn " >
                        <a href="javascript:;" class="newBtn_share"  data-title="{#$detail_title#}" data-pic="{#$detail_pics[0].path#}" id="sharre"></a><em></em><span>{#$langData['education'][8][20]#}</span>
                    </div> 
                    <span class="contact chat_to-Link" data-type="user"><img src="{#$templets_skin#}images/contact.png" alt=""></span>
                </div>
            </div>                   
        </div>
        <!--店铺入口e--> 
        <div class="store_right">
            <!-- 签证 s-->
            <div class="store_con store_conVisa">
                {#*  签证 *#}
                <div class="store-head"><h2>{#$langData['travel'][5][5]#}</h2></div>
                <ul class="recom-list fn-clear">                   
                    {#travel action="visaList" store="{#$detail_id#}" page={#$page#} return="alist" pageSize=15#}
                    <li><a href="{#$alist.url#}" target="_blank">
                        <div class="agency_img">
                            <img src="{#if $alist.litpic#}{#$alist.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="">
                        </div>
                        <div class="agencyInfo">
                            <h2>{#$alist.title#}</h2>
                            <div class="t_property">
                                <span>{#$alist.typename#}</span><span>{#$alist.countryname#}</span>
                            </div>
                            <div class="agency_bot fn-clear">
                                <p class="price"><span>{#echoCurrency type='symbol'#}<em>{#$alist.price#}</em></span>{#$langData['travel'][12][51]#}</p> {#* 起 *#}
                                
                            </div>
                        </div>                         
                    </a></li>
                    {#/travel#}     
                    {#if $pageInfo.totalCount == 0#}
                    <div class="empty">{#$langData['siteConfig'][21][64]#}</div> {#* 暂无数据！ *#}
                    {#/if#}             
                </ul>
                {#getPageList service='travel' template='store-list' pageType='dynamic' param="page=#page#"#}
            </div>
            <!-- 签证 e-->
        </div>       
	</div>
</div>

{#include file="../../siteConfig/public_foot_v3.html" module='siteConfig' theme='gray'#}

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script charset="UTF-8" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/viewer-jquery.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/publicOpenMap.js?v={#$cfg_staticVersion#}"></script>
<!-- 公共头部搜索+收藏js -->
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/store-detail.js?v={#$cfg_staticVersion#}"></script>


</body>
</html>
