<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$langData['travel'][5][0]#}</title>{#* 旅行社 *#}
    <meta name="keywords" content="{#$travel_keywords#}" />
    <meta name="description" content="{#$travel_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/list_filter.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public_detail.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/store.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$travel_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
        var hideFileUrl = {#$cfg_hideUrl#};
        var cookiePre = '{#$cfg_cookiePre#}', numArr = [];
    </script>

</head>

<body class="w1200">
{#$pageCurr = "store"#}
<!-- 导航 s-->
{#include file="_top.html"#}

<!-- 导航 e-->
<div class="main_wrap">
    <div class="wrap crumbs">
        {#* 您当前所在： 首页 旅行社*#}
        <div class="cont">
            {#$langData['travel'][14][0]#}
            <a href="{#$travel_channelDomain#}">{#$langData['siteConfig'][0][0]#}</a>
            <span>></span>
            <a href="{#getUrlPath service="travel" template="store"#}" class="green_a">{#$langData['travel'][5][0]#}</a>{#* 旅行社 *#}
        </div>
    </div>

	<!-- 列表 s-->
	<div class="class_wrap">

        <div class="fn-clear wrap">
            <!-- 列表左 s-->
            <div class="list_left">
                <ul class="list_ul">                    
                    {#travel action="storeList" return="list" typeid=1 filter=4 page={#$page#} pageSize=10#}
                    <li class="fn-clear">
                        <div class="left_b {#if $list.video#}videoshow{#/if#}"> 
                            <a href="{#$list.url#}" target="_blank">                          
                            <img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="">
                            </a>
                        </div>
                        <div class="mid_b">
                            <h1 class="t_name">
                                <a href="{#$list.url#}" target="_blank"><span>{#$list.title#}</span>{#if $list.flag==1#}<em class="hasCertify"></em>{#/if#}</a>
                            </h1>
                            <div class="info_view">
                                <dl><dt>{#$langData['travel'][5][1]#}：</dt><dd>{#$list.contact#}</dd></dl> {#* 联系人 *#}
                                <dl>
                                    <dt>{#$langData['travel'][5][2]#}：</dt>
                                    <dd><em data-call="{#$list.tel#}">{#$list.telEncrypt#}</em><span class="seePhone">{#$langData['travel'][14][31]#}</span></dd>
                                </dl> {#* 联系电话 ----查看完整电话*#}
                                <dl><dt>{#$langData['travel'][5][9]#}：</dt><dd>{#$list.license#}</dd></dl> {#* 许可证号 *#} 
                            </div>  
                            {#* 进入店铺 *#}                             
                            <div class="go_shop"><a href="{#$list.url#}" target="_blank">{#$langData['travel'][2][5]#}</a></div>
                        </div>
                        <div class="right_b">
                        {#foreach from=$list.tickarr item = ticklist key = k#}
                            <dl><a href="{#$ticklist.url#}">
                                <dt><img src="{#$ticklist.pics#}" alt=""></dt>
                                <dd>￥{#$ticklist.minprice#}起</dd>
                            </a>
                            </dl>
                        {#/foreach#}       
                        </div>    
                    </li>
                    {#/travel#}
                    {#if $pageInfo.totalCount == 0#}

                    <li class="empty failed"><img src="{#$templets_skin#}images/icon_faild.png"><span>{#$langData['education'][8][24]#}</span></li> {#* 没有找到符合条件的结果 *#}
                    {#/if#}
                </ul>
                {#getPageList service='travel' template='store' pageType='dynamic' param="page=#page#"#}
            </div>
            <!-- 列表左 e-->
            <!-- 列表右 s-->
            <div class="list_r">
                <div class="adv_r">   
                    {#myad title="旅游旅行社列表_模板二_电脑端_广告一"#} 
                </div>
                <div class="listr_con listr_store">
                    <h2 class="newr_tit">{#$langData['travel'][14][32]#}</h2>          {#* 热门旅行社 *#} 
                    <ul>
                        {#travel action="storeList" return="list" orderby="1" page=1 pageSize=5#}
                        <li class="fn-clear">
                            <a href="{#$list.url#}" target="_blank" class="fn-clear">
                                <div class="l_img"><img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt=""></div>
                                <div class="r_info">
                                    <h2 class="storeTitle">{#$list.title#}</h2>                                   
                                    <div class="info_view">
                                        <dl><dt>{#$langData['travel'][5][1]#}：</dt><dd>{#$list.contact#}</dd></dl> {#* 联系人 *#}
                                        <dl>
                                            <dt>{#$langData['travel'][5][2]#}：</dt> {#* 联系电话*#}
                                            <dd><em data-call="{#$list.tel#}">{#$list.telEncrypt#}</em></dd>
                                        </dl>
                                        <p class="seePhone">{#$langData['travel'][14][31]#}</p> {#*查看完整电话*#}
                
                                    </div> 
                                    
                                </div>                       
                            </a>       
                        </li>
                        {#/travel#}
                    </ul>
                </div>
            </div>
            <!-- 列表右 e-->
        </div>
	</div>
	<!-- 列表 e-->
    <!-- 猜你喜欢 s-->
    <div class="like_wrap">
        <div class="wrap">
              {#* 猜你喜欢 *#}  {#* 换一换 *#}
            <div class="topTitle"><h2>{#$langData['siteConfig'][16][2]#}</h2><a href="javascript:;" class="change"><i></i>{#$langData['travel'][14][11]#}</a></div>
            <ul class="com-list fn-clear">
                <div class="loading">{#$langData['siteConfig'][38][8]#}</div> {#* 加载中... *#}
            </ul>
        </div>
    </div>
    <!-- 猜你喜欢 e-->
</div>
<!-- 底部 s-->
{#include file="../../siteConfig/public_foot_v3.html" module='siteConfig' theme='gray'#}

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<!-- 公共头部搜索+收藏js -->
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/grouptravel.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/store.js?v={#$cfg_staticVersion#}"></script>

</body>
</html>
