<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$langData['siteConfig'][16][55]#}</title>{#* 支付成功 *#}
    <meta name="keywords" content="{#$travel_keywords#}" />
    <meta name="description" content="{#$travel_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/success.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$travel_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
        var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}', templets_skin = '{#$templets_skin#}', type = '{#$type#}', price = '{#$price#}';
        var specialtimejson = '{#$specialtimejson#}';
    </script>

</head>

<body class="w1200">
{#$pageCurr = "ticket"#}
<!-- 导航 s-->
{#include file="_top.html"#}

<!-- 导航 e-->
<div class="main_wrap">
    <div class="wrap crumbs">
        {#* 您当前所在： 首页*#}
        <div class="cont">
            {#$langData['travel'][14][0]#}
            <a href="{#$travel_channelDomain#}">{#$langData['siteConfig'][0][0]#}</a>
            <span>></span>
            <a href="javascript:;" class="green_a">{#$langData['siteConfig'][16][55]#}</a>{#* 支付成功 *#}
        </div>
    </div>
    <div class="wrap order-progress">
        <ul class="fn-clear">
            <li class="has-go white"><em>1</em>{#$langData['travel'][14][75]#}</li> {#* 选择景点 *#}
            <li class="has-go white secd_li"><em>2</em>{#$langData['travel'][14][64]#}</li>   {#* 填写订单 *#}
            <li class="has-go white third_li"><em>3</em>{#$langData['travel'][14][65]#}</li>   {#* 在线支付 *#}
            <li class="now-go white four_li"><em>4</em>{#$langData['siteConfig'][16][55]#}</li>   {#* 支付成功 *#}
        </ul>
    </div>
    {#if $type ==3#}
    <div class="fn-clear wrap main_con">      
        <div class="suc_left fn-left">
            <div class="left_top"><i></i><h3>{#$langData['travel'][7][44]#}</h3></div> {#* 预订成功 *#}
            <div class="left_con">
                <dl>
                    {#* 入住说明 *#}
                    <dt>{#$langData['travel'][7][46]#}</dt>
                    <dd>{#$langData['travel'][13][94]#}{#$walktimes#}{#$langData['travel'][13][98]#}{#$langData['travel'][13][95]#}</dd>
                </dl>
                <dl>
                    {#* 一键续住 *#}
                    <dt>{#$langData['travel'][7][47]#}</dt>
                    <dd>{#$langData['travel'][13][96]#}{#$detail_cardnum[0].cardnum#}，{#$langData['travel'][13][99]#}{#$walktimes#}{#$langData['travel'][13][100]#}，{#$departuretime#}{#$langData['travel'][13][97]#}</dd>
                </dl>
            </div>
            <ul class="fn-clear">
                {#* 一键续住 *#}
                <li class="xu-a"><a href="javascript:;" class="go_btn" data-id="{#$orderid#}">{#$langData['travel'][7][47]#}</a></li>
                {#* 取消订单 *#}
                <!-- <li class="cancel"><a href="{#getUrlPath service='member' type='user' template='orderdetail' module='travel' id={#$id#}#}"  data-id="1">订单详情</a></li> -->
            </ul>
        </div>
        <div class="suc_right fn-right">
            {#* 酒店信息 *#}
            <h2 class="tit-h2">{#$langData['travel'][14][76]#}</h2>
            <div class="hotelInfo">
                <div class="left_img"><img src="{#$detail_product.litpic#}" alt=""></div>
                <div class="right_b">
                    <h3>{#$detail_product.title#}</h3>
                    <p class="addr"><i></i>{#$detail_product.address#}</p>
                </div>
            </div>
            <div class="hotelInfo2">
                <div class="hotel_top">
                    <h2>{#$detail_title#}</h2>
                    <span><em>{#$walktimes#}</em>  {#$iswindowname#}|{#$typeidname#}|{#$breakfastname#}</span>
                </div>
                <div class="hotel_bot">     
                    {#* 入住人 *#}                   
                    <dl><dt>{#$langData['travel'][7][10]#}</dt><dd>{#$detail_people#}</dd></dl>

                    {#* 联系手机 *#} 
                    <dl><dt>{#$langData['travel'][7][50]#}</dt><dd>{#$contact#}</dd></dl>

                    {#* 预计到店 --- （不影响酒店留房）*#} 
                    <dl><dt>{#$langData['travel'][7][51]#}</dt><dd>{#$walktimes#}之前{#$langData['travel'][7][52]#}{#$langData['travel'][7][52]#}</dd> </dl>

                    {#* 入住凭证--- 酒店确认号*#} 
                    <dl><dt>{#$langData['travel'][7][53]#}</dt><dd>{#$langData['travel'][7][54]#}{#$detail_cardnum[0].cardnum#}</dd></dl>
                </div>
            </div>
        </div>
        
        <!-- 列表右 e-->
    </div>
    {#else if $type ==1 || $type ==2#}
    <div class="fn-clear wrap main_con">      
        <div class="suc_left fn-left">
            <div class="left_top"><i></i>
                <!-- 门票预定成功时 文字改为 出票成功 此处待改-->
                {#* 预订成功--- 消费时消费时请向商家出示以下券码*#} 
                <h2><span class="bold-span">{#$langData['travel'][7][44]#}</span><em>{#$langData['travel'][14][77]#}</em></h2></div>
            <div class="left_con2">
                <div class="qrCode">
                    <img src="{#$cfg_basehost#}/include/qrcode.php?data={#$detail_cardnumUrl#}" alt="">
                </div>
                {#* 验证码 *#}
                <p class="tip">{#$langData['travel'][7][35]#}：<span>{#$detail_cardnum[0].cardnum#}</span></p>
            </div>
            <ul class="fn-clear ticket-ul">
                {#* 继续购买 *#}
                <!-- 此处链接根据跟团游 一日游 景点门票 修改 -->
                <li class="buy-a"><a href="{#if $type !=1#}{#getUrlPath service='travel' template='daytravel'#}{#else#}{#getUrlPath service='travel' template='ticket'#}{#/if#}">{#$langData['travel'][7][42]#}</a></li>
                {#* 订单详情 *#}
                <li class="orDetail"><a href="javascript:;">{#$langData['travel'][7][43]#}</a></li>
            </ul>
        </div>
        <div class="suc_right fn-right">
            <!-- 此处待改 可能是一日游 跟团游 景点门票-->
            {#* 一日游---跟团游---景点门票 *#}
            <h2 class="tit-h2">{#if $type !=1#}{#$langData['travel'][12][60]#}/{#$langData['travel'][2][13]#}{#else#}{#$langData['travel'][1][0]#}{#/if#}</h2>
            <div class="hotelInfo">
                <div class="left_img"><img src="{#$detail_product.litpic#}" alt=""></div>
                <div class="right_b">
                    <h3>{#$detail_product.title#}</h3>
                    
                </div>
            </div>
            <div class="hotelInfo2">                                                            
                <div class="hotel_bot">     
                    {#* 使用日期 *#}                   
                    <dl><dt>{#$langData['travel'][7][56]#}</dt><dd>{#$detail_walktime|date_format:'%Y-%m-%d'#}</dd></dl>

                    {#* 使用方法 -- 无需换票，同时携带商家券码和身份 *#}
                    <dl><dt>{#$langData['travel'][7][38]#}</dt><dd>{#$langData['travel'][13][48]#}</dd></dl>

                    {#* 旅游地址 *#}
                    <dl><dt>{#$langData['travel'][5][15]#}</dt><dd>{#$detail_product.address#}</dd></dl>

                    {#* 购买数量 *#}
                    <dl><dt>{#$langData['travel'][5][16]#}</dt><dd>{#$detail_procount#}{#$langData['travel'][5][17]#}</dd></dl>
                </div>
            </div>
        </div>
        
        <!-- 列表右 e-->
    </div>
    {#else#}
    <!-- 签证 s-->
    <!-- visa_con 签证特有类名样式 -->
    <div class="fn-clear wrap main_con visa_con">      
        <div class="suc_left fn-left">
            <div class="left_top"><i></i>
                {#* 支付成功--- 请在规定日期前提交好资料，以免耽误您的出行！*#} 
                <h2><span class="bold-span">{#$langData['siteConfig'][16][55]#}</span><em>{#$langData['travel'][14][78]#}</em></h2></div>

            <ul class="fn-clear ticket-ul">
                {#* 继续购买 *#}
                <li class="buy-a"><a href="{#getUrlPath service='travel' template='visaindex'#}">{#$langData['travel'][7][42]#}</a></li>
                {#* 订单详情 *#}
                <li class="orDetail"><a href="javascript:;">{#$langData['travel'][7][43]#}</a></li>
            </ul>
        </div>
        <div class="suc_right fn-right">
            <h2 class="tit-h2">{#$langData['travel'][5][5]#}</h2> {#* 签证 *#}
            <div class="hotelInfo">
                <div class="left_img"><img src="{#$detail_product.litpic#}" alt=""></div>
                <div class="right_b">
                    <h3>{#$detail_title#}</h3>                   
                </div>
            </div>
            <div class="hotelInfo2">                                                            
                <div class="hotel_bot">    
                    {#* 出行日期 *#}                                                                                 
                    <dl><dt>{#$langData['travel'][7][29]#}</dt><dd>{#date('Y-m-d',$detail_walktime)#}</dd></dl>

                    {#* 联系姓名 *#}
                    <dl><dt>{#$langData['siteConfig'][45][55]#}</dt><dd>{#$detail_people#}</dd></dl>

                    {#* 手机号码 *#}
                    <dl><dt>{#$langData['siteConfig'][3][6]#}</dt><dd>{#$detail_contact#}</dd></dl>

                    {#* 联系邮箱 *#}
                    <dl><dt>{#$langData['siteConfig'][26][33]#}</dt><dd>{#$detail_email#}</dd></dl>
                </div>
            </div>
        </div>
        
        <!-- 列表右 e-->
    </div>
    {#/if#}
</div>

{#include file="../../siteConfig/public_foot_v3.html" module='siteConfig' theme='gray'#}

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<!-- 公共头部搜索+收藏js -->
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/success.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
