<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$detail_title#}</title>
    <meta name="keywords" content="{#$travel_keywords#}" />
    <meta name="description" content="{#$travel_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/list_filter.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public_detail.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/ticket-detail.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/designpicd.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$travel_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
        var hideFileUrl = {#$cfg_hideUrl#};
        var cookiePre = '{#$cfg_cookiePre#}';
        var id = {#$detail_id|default:0#}, type = '', catid = 'ticket', addrid = '{#$detail_addrid#}', typeid = '{#$detail_typeid#}', lng = "{#$detail_lng#}", lat = "{#$detail_lat#}";
        var detail_video ='{#$detail_videopath#}';
        var type = '2';
        var newsid ='{#$detail_id#}';
        var pageData = {
            title: '{#$detail_title#}',
            address: '{#$detail_address#}',
            lat: '{#$detail_lat#}',
            lng: '{#$detail_lng#}',
            mapType: '{#$site_map#}',
            cityName: '{#$siteCityInfo['name']#}',
            mapKey: '{#$site_map_key#}'
        };
    </script>

</head>

<body class="w1200">
{#$pageCurr = "ticket"#}
<!-- 导航 s-->
{#include file="_top.html"#}
<!-- 导航 e-->
<div class="main_wrap">
    <div class="wrap crumbs">
        {#* 您当前所在： 首页 景点门票*#}
        <div class="cont">
            {#$langData['travel'][14][0]#}
            <a href="{#$travel_channelDomain#}">{#$langData['siteConfig'][0][0]#}</a>
            <span>></span>
            <a href="{#getUrlPath service="travel" template="ticket"#}" class="green_a">{#$langData['travel'][1][0]#}</a>{#* 景点门票 *#}
        </div>
    </div>
    
	<div class="agency_wrap">
        <!--详情头部 s-->
        <div class="wrap detail_wrap1 fn-clear">
            <div class="detail_left">
                <div class="slide">
                    <div id="slide_big">
                    </div>
                    <a href="javascript:;" class="prev" id="slidebtn_prev"><s></s></a>
                    <a href="javascript:;" class="next" id="slidebtn_next"><s></s></a>

                    <div id="slide_small">
                        <div class="spbox">
                            <div class="picsmall fn-clear">
                                {#foreach from=$detail_pics item=val#}
                                <a href="javascript:;" data-bigpic="{#changeFileSize url="{#$val.path#}" type="large"#}">
                                    <img src="{#changeFileSize url="{#$val.path#}" type="small"#}" alt="">
                                </a>
                                {#/foreach#}
                            </div>
                        </div>
                        <a href="javascript:;" class="prev disabled" id="slidebtn_prev2"><s></s></a>
                        <a href="javascript:;" class="next" id="slidebtn_next2"><s></s></a>
                    </div>
                </div>
            </div>
            <div class="detail_right content">
                
                <h2 class="list_title">{#$detail_title#}</h2>
                <div class="topDiv fn-clear">                                        
                    <div class="_left lab_box">
                        {#if $detail_typeid==1#}
                        <span>{#$detail_missiontime#}</span>
                        {#else#}
                        {#foreach from=$detail_tagAll item=val#}
                        <span>{#$val.jc#}</span>
                        {#/foreach#}
                        {#/if#}
                    </div>
                    <div class="btn_group ">
                        
                        <div class="share-btn " >
                            <a href="javascript:;" class="newBtn_share"  data-title="{#$detail_title#}" data-pic="{#$detail_pics[0].path#}" id="sharre"></a><em></em><span>{#$langData['education'][8][20]#}</span>
                        </div> 
                    </div>
                </div>
                <div class="otherInfo">
                    <dl><dt>{#$langData['travel'][3][4]#}：</dt><dd>{#$detail_opentime#}</dd></dl>  {#*  开放时间   *#}
                    <dl><dt>{#$langData['travel'][14][12]#}：</dt><dd>{#$detail_address#}<a href="javascript:;" class="appMapBtn adr_a" target="_blank"><i class="adr_i"></i>{#$langData['travel'][7][48]#}</a></dd></dl>  {#*  景点地址  查看地图 *#}
                </div>
                <p class="price">
                    <span>{#echoCurrency type='symbol'#}<strong>{#$detail_minprice#}</strong></span>{#$langData['travel'][12][51]#}{#* 起 *#}
                </p>                  
                <p class="buy"><a href="javascript:;">{#$langData['travel'][3][8]#}</a></p>{#* 立即预订  *#}
                
            </div>
        </div>
        <!--详情头部 e-->

        <div class="fn-clear wrap main_con">
            <!-- 列表左 s-->
            <div class="list_left">
                <div class="det_tab">
                    <ul class="fn-clear">
                        <li class="active">{#$langData['travel'][3][6]#}</li>{#*  门票信息   *#}
                        <li>{#$langData['travel'][14][14]#}</li>{#*  购票须知   *#}
                        <li>{#$langData['travel'][14][16]#}</li>{#*  景点介绍   *#}
                        <li>{#$langData['travel'][14][17]#}(<em class="totalNum">0</em>{#$langData['siteConfig'][13][49]#})</li>{#*  游友点评  条 *#}
                    </ul>
                </div>
                <div class="tab_con">

                    <div class="agency_con">
                        <h2 class="headtop">{#$langData['travel'][3][6]#}</h2>{#*  门票信息   *#}
                        <!--门票信息s-->
                        <div class="info_ticket">
                            <dl>
                                <dt><label>{#$langData['travel'][14][13]#}</label><span>{#$langData['travel'][2][22]#}</span></dt>   {#*  门票类型---- 价格  *#}
                                {#foreach from=$detail_workArr item=val key=k#}
                                <dd {#if $k==0#}class="spe-dd"{#/if#}>
                                    <label>{#$val.title#}</label>
                                    <span>{#echoCurrency type='symbol'#}{#$val.price#}</span>
                                    <a href="{#getUrlPath service="travel" template="confirm-order" type="1" id={#$val.id#}#}" class="order_btn">{#$langData['travel'][14][29]#}</a>{#*  预订  *#}
                                </dd>
                                {#/foreach#}
                            </dl>
                        </div>
                        <!--门票信息e-->
                    </div>
                    <!--购票须知 s-->
                    <div class="agency_con">
                        <h2 class="headtop">{#$langData['travel'][14][14]#}</h2>{#*  购票须知   *#}
                        <div class="conte-text">
                            {#$detail_note|nl2br#}
                        </div>
                    </div>
                    <!--购票须知 e-->
                    <!-- 景点介绍 s-->
                    <div class="agency_con">
                        <h2 class="headtop">{#$langData['travel'][14][16]#}</h2>{#*  景点介绍   *#}
                        <!-- <div class="conte-text">
                            景点介绍景点介绍景点介绍景点介绍景点介绍景点介绍景点介绍景点介绍景点介绍景点介绍景点介绍 
                            <img  src="http://ihuoniao-backup.ihuoniao.cn/travel/atlas/large/2019/06/19/15609148043636.jpg"/></br>                         
                        </div>  -->

                        {#if $detail_jdnote#}{#$detail_jdnote#}{#else#} {#$langData[20][592]#}{#/if#}
                    </div>
                    <!-- 景点介绍 e-->
                    <div class="agency_con commentBox">
                        <!--评论s--> 
                        {#*  全部评论   *#} {#*  我要评论   *#}                      
                        <div class="headtop"><strong>{#$langData['travel'][14][19]#}</strong><em class="comTotal">( 0 )</em><a href="javascript:;" class="comm_btn">{#$langData['travel'][14][18]#}</a></div>
                        <div class="comm_list" data-page="1">
                            <ul class="comm_ul" data-page="1">
                                
                            </ul>
                            <a href="javascript:;" class="more_commt">{#$langData['business'][5][31]#}></a>
                        </div>                        
                        <!--评论e-->
                    </div>
                </div>
            </div>
            <!-- 列表左 e-->
            <!-- 列表右 s-->
            <div class="list_r">
                <!-- 如果是店铺发布 则需要 否则 隐藏 -->
                <!--店铺入口s-->
                <div class="shopbox">
                    <div class="top_info">
                        <a href="{#$detail_companyurl#}">
                            <div class="shopimg"><img src="{#changeFileSize url="{#$detail_store.pics[0]['path']#}" type="small"#}"/></div>

                            <div class="shopinfo">
                                <h2>{#$detail_store['title']#}</h2>
                                {#if $detail_store['flag']==1#}
                                <label></label>{#*  已认证   *#}
                                {#/if#}
                            </div>
                        </a>
                    </div>
                    <div class="shop_ul">
                        <ul>
                            <li class="go_shop"><a href="{#$detail_companyurl#}">{#$langData['travel'][2][5]#}</a></li>{#*  进入店铺   *#}
                            <li class="go_call">
                                <a href="javascript:;">
                                    <i></i>
                                    <div class="shopCall">
                                        <h3 data-call="{#if $detail_tel#}{#$detail_tel#}{#else#}{#$detail_store.tel#}{#/if#}">{#$detail_store.telEncrypt#}</h3>
                                        <p>查看完整电话</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>                   
                </div>
                <!--店铺入口e-->
                <div class="listr_ticket">
                    <h2 class="newr_tit">{#$langData['travel'][3][12]#}</h2>          {#* 附近景点 *#} 
                    <ul class="ticket-list">
                        {#travel action="ticketList" return="list" lng="{#$detail_lng#}" lat="{#$detail_lat#}" addrid="{#$detail_addrid#}" noid="{#$detail_id#}" pageSize=4#}
                          <li>
                            <a href="{#$list.url#}" target="_blank">
                              <div class="ticket_img{#if $list.video#} videoshow{#/if#}">
                                {#if $list.flagname#}<label class="labshow">{#$list.flagname#}</label>{#/if#}
                                <img src="{#changeFileSize url={#$list.litpic#} type='large'#}" />
                              </div>
                              <div class="ticketInfo ">
                                <h2>{#$list.title#}</h2>
                                <div class="t_property">
                                    {#if $list.tagAll!=''#}
                                    {#foreach from=$list.tagAll item=val#}
                                    <span>{#$val.jc#}</span>
                                    {#/foreach#}
                                    {#/if#}
                                </div>
                                <div class="fn-clear">
                                  <p class="price"><span>{#echoCurrency type='symbol'#}<em>{#$list.price#}</em></span>{#$langData['travel'][12][51]#}</p>
                                  <p class="attr_posi"><i></i>{#$list.addrname[0]#}  {#$list.addrname[1]#}</p>
                                </div>
                                
                              </div>
                            </a>
                          </li>
                          {#/travel#}

                    </ul>
                </div>
            </div>
            <!-- 列表右 e-->
        </div>
	</div>
</div>
<!-- 评价弹出层 -->
<div class="commtPop">
    <h2>{#$langData['travel'][14][58]#}</h2> {#* 发表评论 *#} 
    <a href="javascript:;" class="close_commt"></a>
    <form class="commt_box">
        <div class="comm_star fn-clear">
            <label class="left_text"  for="">{#$langData['travel'][14][59]#}:</label> {#* 总体评价 *#}           
            <div class="starShow"><span><s></s><s></s><s></s><s></s><s></s></span> <em>{#$langData['travel'][14][60]#}</em></div>  {#* 满意 *#} 
            <input type="hidden" id="score" value="">
        </div>
        <div class="comm_text fn-clear">
            <label class="left_text" for="">{#$langData['siteConfig'][6][114]#}:</label> {#* 评论 *#}
            <div class="commt_com">
                <textarea id="com_con" rows="" cols="" placeholder="{#$langData['travel'][14][61]#}"></textarea>  {#* 给小伙伴们图文并茂地分享下你的心得吧... *#} 
                <div class="imgList">
                    <ul class="fn-clear " id="listSection2">
                        <li class="up_btn ">
                            <div class="wxUploadObj fn-clear">
                                <div class="filePicker" id="filePicker2" data-type="thumb" data-count="6" data-size="{#$atlasSize#}" data-imglist=""><img src="{#$templets_skin#}images/img_icon.png" alt=""><p>{#$langData['siteConfig'][43][43]#}</p></div>  {#* 点击上传图片 *#}
                                
                            </div>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
        {#* 匿名发表 *#}
        <div class="anony"><i class="a_click"></i>{#$langData['travel'][14][62]#}<input type="hidden" id="anonymous" value="1"></div>
        {#* 发表评论 *#}
        <button type="button" class="fabu_commt">{#$langData['travel'][14][58]#}</button>
    </form>
</div>
<div class="mask"></div>
<!-- 底部 s-->
{#include file="../../siteConfig/public_foot_v3.html" module='siteConfig' theme='gray'#}

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script charset="UTF-8" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/publicOpenMap.js?v={#$cfg_staticVersion#}"></script>
<!-- 公共头部搜索+收藏js -->
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<!-- 上传图片js -->
<script src="{#$templets_skin#}js/Upload.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.dragsort-0.5.1.min.js?v={#$cfg_staticVersion#}"></script>
<!-- 详情轮播图js -->
<script type="text/javascript" src="{#$templets_skin#}js/designpicd.js?v={#$cfg_staticVersion#}"></script>
<!-- 公共详情js -->
<script type="text/javascript" src="{#$templets_skin#}js/public_detail.js?v={#$cfg_staticVersion#}"></script>
<!-- 公共评论js -->
<script type="text/javascript" src="{#$templets_skin#}js/commtlist.js?v={#$cfg_staticVersion#}"></script>

<script type="text/javascript" src="{#$templets_skin#}js/ticket-detail.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
