<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$langData['travel'][1][0]#}</title>{#* 景点门票 *#}
    <meta name="keywords" content="{#$travel_keywords#}" />
    <meta name="description" content="{#$travel_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/list_filter.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/ticket.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$travel_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
        var hideFileUrl = {#$cfg_hideUrl#};
        var cookiePre = '{#$cfg_cookiePre#}', numArr = [];
    </script>

</head>

<body class="w1200">
{#$pageCurr = "ticket"#}
<!-- 导航 s-->
{#include file="_top.html"#}

<!-- 导航 e-->
<div class="main_wrap">
    <div class="wrap crumbs">
        {#* 您当前所在： 首页 景点门票*#}
        <div class="cont">
            {#$langData['travel'][14][0]#}
            <a href="{#$travel_channelDomain#}">{#$langData['siteConfig'][0][0]#}</a>
            <span>></span>
            <a href="{#getUrlPath service="travel" template="ticket"#}" class="green_a">{#$langData['travel'][1][0]#}</a>{#* 跟团游 *#}
        </div>
    </div>
	<!-- 筛选 s-->
    <div class="filter_box wrap">
        <div class="filter">
			<!-- 区域 s-->
            <dl class="fn-clear" id="addr">
                <dt>{#$langData['siteConfig'][6][73]#}：</dt>     {#* 选择区域 *#}
                <dd class="chooseClass" data-chose="quyu">
                    <a href="{#getUrlPath service='travel' template='ticket' param="addrid=0&business=$business&flag=$flag&keywords=$keywords"#}" data-id="0" {#if !$addrid#} class="curr" {#/if#}>{#$langData['education'][3][17]#}</a>      {#* 不限 *#}
                    {#travel action="addr" return="addr" son="once"#}

                    {#if $addr.id == $addrid#}
                        {#$addridName = $addr.typename#}
                    {#/if#}
                    <a href="{#getUrlPath service='travel' template='ticket' param="addrid={#$addr.id#}&business=$business&flag=$flag&keywords=$keywords"#}" {#if $addr.id == $addrid#} class="curr" {#/if#} data-id="{#$addr.id#}">{#$addr.typename#}{#if $addr.lower#}{#/if#}</a>
                    {#/travel#}



                    {#if $addrid!=0#}
                    <div class="subnav fn-clear">
                        <div id="addr{#$addr1.id#}" class="chooseClass" data-chose="quyu_sub">
                            <a href="{#getUrlPath service='travel' template='ticket' param="addrid=$addrid&business=0&flag=$flag&keywords=$keywords" #}" data-id="{#$addr1.id#}" {#if $business == 0#} 
                            {#$businessName = '不限'#} class="curr" {#/if#}>{#$langData['education'][3][17]#}</a>      {#* 不限 *#}
                            {#travel action="addr" return="addr2" type=$addrid#}
                            {#if $addr2.id == $business#}
                                {#$businessName = $addr2.typename#}
                            {#/if#}
                            <a href="{#getUrlPath service='travel' template='ticket' param="addrid=$addrid&business={#$addr2.id#}&flag=$flag&keywords=$keywords" #}" data-id="{#$addr2.id#}" {#if $business==$addr2.id#} class="curr" {#/if#}>{#$addr2.typename#}</a>
                            {#/travel#}
                        </div>
                    </div>
                    {#/if#}

                </dd>              
            </dl> 
            <!-- 区域 e-->
        

            <!-- 景区星级： s-->          
            <dl class="fn-clear">
                <dt>{#$langData['travel'][13][1]#}：</dt>     {#* 景区星级： *#}
                <dd>
                   <div class="chooseClass" data-chose="star" id="starChoose">
                        <a href="{#getUrlPath service='travel' template='ticket' param="addrid=$addrid&business=0&flag=0&keywords=$keywords" #}" {#if $flag ==0#} class="curr" {#/if#}>{#$langData['education'][4][9]#}</a>     {#* 全部 *#}
                        {#travel action="star_type" return="type"#}
                        {#if $type.id == $flag#}
                            {#$flagName = $type.typename#}
                        {#/if#}
                        <a href="{#getUrlPath service='travel' template='ticket' param="addrid=$addrid&business=0&flag={#$type.id#}&keywords=$keywords" #}" {#if $flag == $type.id#} class="curr" {#/if#} data-id="{#$type.id#}">{#$type.typename#}</a>
                        {#/travel#}
                    </div> 
                </dd>                                                  
                
            </dl>
            <!-- 景区星级： e-->
        </div>
        {#if $keywords != "" || $addrid !=0  || $business !=0 || $flag !=0 || $keywords!=0#}
        <div class="deletebox">
            <dl class="fi-state fn-clear" style="display: block;">
                <dt>已选条件</dt>
                <dd class="fn-clear">
                    {#if $keywords#}
                    <a href="{#getUrlPath service='travel' template='ticket' param="addrid={#$addr.id#}&business=0&flag=$flag&orderby=$orderby&keywords=" #}"><span>{#$keywords#}</span><i class="idel"></i></a>
                    {#/if#}

                    {#if $addrid#}
                    <a href="{#getUrlPath service='travel' template='ticket' param="addrid=0&business=0&flag=$flag&orderby=$orderby&keywords=$keywords" #}"><span>{#$addridName#}</span><i class="idel"></i></a>
                    {#/if#}

                    {#if $business#}
                    <a href="{#getUrlPath service='travel' template='ticket' param="addrid=$addrid&business=0&flag=$flag&orderby=$orderby&keywords=$keywords" #}"><span>{#$businessName#}</span><i class="idel"></i></a>
                    {#/if#}

                    {#if $flag#}
                    <a href="{#getUrlPath service='travel' template='ticket' param="addrid=$addrid&business=$business&flag=0&orderby=$orderby&keywords=$keywords" #}"><span>{#$flagName#}</span><i class="idel"></i></a>
                    {#/if#}
                   
                </dd>
                <a class="btn_clear" href="{#getUrlPath service='travel' template='ticket' 
                param="addrid=0&business=0&flag=0&orderby=0&keywords=" #}">清空条件</a>
            </dl>
        </div>
        {#/if#}
    </div>
    <!-- 筛选 e-->
	<!-- 列表 s-->
	<div class="class_wrap">
        <div class="sort wrap">
            <ul class="fn-clear">
                <li class="st {#if $orderby == 0 #} curr {#/if#}" data-sort="1"><a href="{#getUrlPath service='travel' template='ticket' param="addrid=$addrid&business=$business&flag=$flag&orderby=0&keywords=$keywords" #}">{#$langData['education'][3][19]#}</a></li> {#* 默认排序 *#}
                <li class="st up {#if $orderby == 6 #} curr {#/if#}" data-sort="6"><a href="{#getUrlPath service='travel' template='ticket' param="addrid=$addrid&business=$business&flag=$flag&orderby=6&keywords=$keywords" #}">{#$langData['travel'][2][19]#}<i></i></a></li> {#* 销量 *#}
                <li class="st up {#if $orderby == 7 #} curr {#/if#}" data-sort="7"><a href="{#getUrlPath service='travel' template='ticket' param="addrid=$addrid&business=$business&flag=$flag&orderby=7&keywords=$keywords" #}">{#$langData['travel'][13][2]#}<i></i></a></li> {#* 景点级别 *#}
                <li class="st up {#if $orderby == 8 #} curr {#elseif $orderby == 4#} down curr  {#/if#}" data-sort="4"><a href="{#getUrlPath service='travel' template='ticket' param="addrid=$addrid&business=$business&flag=$flag&orderby={#if $orderby == 4#}8{#else#}4{#/if#}&keywords=$keywords" #}">{#$langData['travel'][2][22]#}<i></i></a></li> {#* 价格 *#}
                <li class="st up {#if $orderby == 5 #} curr {#/if#}" data-sort="5"><a href="{#getUrlPath service='travel' template='ticket' param="addrid=$addrid&business=$business&flag=$flag&orderby=5&keywords=$keywords" #}">{#$langData['travel'][13][3]#}<i></i></a></li> {#* 距离 *#}
                
                
            </ul>
        </div>
        <div class="fn-clear wrap main_con">
            <ul class="ticket-list fn-clear">
                  {#travel action="ticketList" return="list" addrid={#$addrid#} business={#$business#}  page={#$page#} flag={#$flag#} orderby={#$orderby#} keywords={#$keywords#}  pageSize=24#}
                  <li>
                    <a href="{#$list.url#}" target="_blank">
                      <div class="ticket_img{#if $list.video#} videoshow{#/if#}">
                        {#if $list.flagname#}<label class="labshow">{#$list.flagname#}</label>{#/if#}
                        <img src="{#changeFileSize url={#$list.litpic#} type='large'#}" />
                      </div>
                      <div class="ticketInfo ">
                        <h2>{#$list.title#}</h2>
                        <div class="t_property">
                            {#if $list.tagAll!=''#}
                            {#foreach from=$list.tagAll item=val#}
                            <span>{#$val.jc#}</span>
                            {#/foreach#}
                            {#/if#}
                        </div>
                        <div class="fn-clear">
                          <p class="price"><span>{#echoCurrency type='symbol'#}<em>{#$list.price#}</em></span>{#$langData['travel'][12][51]#}</p>
                          <p class="attr_posi"><i></i>{#$list.addrname[0]#}  {#$list.addrname[1]#}</p>
                        </div>
                        
                      </div>
                    </a>
                  </li>
                  {#/travel#}
                  {#if $pageInfo.totalCount == 0#}

                    <li class="empty failed"><img src="{#$templets_skin#}images/icon_faild.png"><span>{#$langData['education'][8][24]#}</span></li> {#* 没有找到符合条件的结果 *#}
                    {#/if#}
            </ul>
            {#getPageList service='travel' template='ticket' pageType='dynamic' param="page=#page#"#}

        </div>
	</div>
	<!-- 列表 e-->
    <!-- 猜你喜欢 s-->
    <div class="like_wrap">
        <div class="wrap">
              {#* 猜你喜欢 *#}  {#* 换一换 *#}
            <div class="topTitle"><h2>{#$langData['siteConfig'][16][2]#}</h2><a href="javascript:;" class="change"><i></i>{#$langData['travel'][14][11]#}</a></div>
            <ul class="com-list fn-clear">
                <div class="loading">{#$langData['siteConfig'][38][8]#}</div> {#* 加载中... *#}
            </ul>
        </div>
    </div>
    <!-- 猜你喜欢 e-->
</div>
<!-- 底部 s-->
{#include file="../../siteConfig/public_foot_v3.html" module='siteConfig' theme='gray'#}

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<!-- 公共头部搜索+收藏js -->
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/list_filter.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/grouptravel.js?v={#$cfg_staticVersion#}"></script>

</body>
</html>
