<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$langData['travel'][6][4]#}</title>{#* 旅游视频 *#}
    <meta name="keywords" content="{#$travel_keywords#}" />
    <meta name="description" content="{#$travel_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/video.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$travel_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
        var hideFileUrl = {#$cfg_hideUrl#};
        var cookiePre = '{#$cfg_cookiePre#}', numArr = [];
    </script>

</head>

<body class="w1200">
{#$pageCurr = "video"#}
<!-- 导航 s-->
{#include file="_top.html"#}

<!-- 导航 e-->
<div class="main_wrap">
    <div class="wrap crumbs">
        {#* 您当前所在： 首页 旅游视频*#}
        <div class="cont">
            {#$langData['travel'][14][0]#}
            <a href="{#$travel_channelDomain#}">{#$langData['siteConfig'][0][0]#}</a>
            <span>></span>
            <a href="javascript:;" class="green_a">{#$langData['travel'][6][4]#}</a>{#* 旅游视频 *#}
        </div>
    </div>
	<!-- 列表 s-->
	<div class="class_wrap">
        <div class="fn-clear wrap main_con">
            <ul class="video-list fn-clear">
                  {#travel action="videoList" return="list" keywords={#$keywords#} page={#$page#} pageSize=24#}
                  <li>
                    <a href="{#$list.url#}" target="_blank">
                      <div class="video_img">
                        <img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" />
                      </div>
                      <div class="videoInfo ">
                        <h2>{#$list.title#}</h2>
                        <div class="up_more">
                            <div class="_left">
                                <div class="headimg">
                                    <img src="{#if $list.user['photo']#}{#$list.user['photo']#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}">
                                </div>
                                <p class="up_name">{#$list.user['nickname']#}</p>
                            </div>
                            <p class="see_right"><i></i>{#$list.click#}</p></div>
                      </div>
                    </a>
                  </li>
                  {#/travel#}
                  {#if $pageInfo.totalCount == 0#}

                    <li class="empty failed"><img src="{#$templets_skin#}images/icon_faild.png"><span>{#$langData['education'][8][24]#}</span></li> {#* 没有找到符合条件的结果 *#}
                    {#/if#}
            </ul>
            {#getPageList service='travel' template='video' pageType='dynamic' param="page=#page#"#}

        </div>
	</div>
	<!-- 列表 e-->

</div>
<!-- 底部 s-->
{#include file="../../siteConfig/public_foot_v3.html" module='siteConfig' theme='gray'#}

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<!-- 公共头部搜索+收藏js -->
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/video.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
