<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$detail_title#}</title>{#* 视频详情 *#}
    <meta name="keywords" content="{#$travel_keywords#}" />
    <meta name="description" content="{#$travel_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public_detail.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/video-detail.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$travel_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
        var hideFileUrl = {#$cfg_hideUrl#};
        var cookiePre = '{#$cfg_cookiePre#}';
        var id = {#$detail_id|default:0#}, type = '', catid = 'video', addrid = '{#$detail_addrid#}', typeid = '{#$detail_typeid#}';
        var newsid ='{#$detail_id#}';
        var type = 0;
    </script>

</head>

<body class="w1200">
{#$pageCurr = "video"#}
<!-- 导航 s-->
{#include file="_top.html"#}

<!-- 导航 e-->
<div class="main_wrap">
    <div class="wrap crumbs">
        {#* 您当前所在： 首页 旅行社*#}
        <div class="cont">
            {#$langData['travel'][14][0]#}
            <a href="{#$travel_channelDomain#}">{#$langData['siteConfig'][0][0]#}</a>
            <span>></span>
            <a href="{#getUrlPath service="travel" template="video"#}" >{#$langData['travel'][6][4]#}</a>{#* 旅游视频 *#}
            <span>></span>
            <a href="javascript:;" class="green_a">{#$detail_title#}</a>
        </div>
    </div>
    <div class="fn-clear wrap main_con">
        <!-- 列表左 s-->
        <div class="list_left">
            <div class="video_con lf_content">
                <!-- begin -->
                <div class="newsArticle fn-clear">
                    <div class="title fn-clear">
                        <h4 class="fn-left">{#$detail_title#}</h4>
                    </div>
                    <div class="tit-bar fn-clear">
                        <span>{#$detail_pubdate|date_format:'%Y-%m-%d %H:%M:%S'#}&nbsp;&nbsp;&nbsp;{#if $detail_user.nickname != ""#}&nbsp;&nbsp;&nbsp;作者：{#$detail_user.nickname#}{#/if#}&nbsp;&nbsp;&nbsp;浏览：{#$detail_click#}</span>
                        <a href="#comment" class="review">评论（<strong>{#$detail_common#}</strong>）</a>
                    </div>
                    {#if $detail_description != ""#}<div class="summary">[<strong>摘要</strong>] {#$detail_description#}</div>{#/if#}
                    <div class="video-con">
                        <div class="video-box">
                            {#* 本地 *#}
                            {#if $detail_videotype == 0#}
                            <iframe src="/include/videoPreview.php?f={#$detail_videopath#}" frameborder="0"></iframe>
                            {#* 第三方 *#}
                            {#elseif $detail_videotype == 1#}
                            <iframe frameborder="0" src="{#$detail_videopath#}" allowFullScreen="true" style="width: 730px;height: 410px;"></iframe>
                            {#/if#}
                        </div>
                        <div class="text">
                            {#$detail_body#}
                        </div>
                    </div>
                    <div class="msg fn-right"> <span class="zan{#if $detail_up#} active{#/if#}">{#$detail_zan#}</span> <span class="pl">{#$detail_common#}</span> <span class="see">{#$detail_click#}</span></div>

                </div>
                <!-- end -->
                
            </div>
            <div class="tab_con">
                <div class="agency_con commentBox">
                    <!--评论s-->                       
                    {#*  全部评论   *#} {#*  我要评论   *#}                      
                    <div class="headtop"><strong>{#$langData['travel'][14][19]#}</strong><em class="comTotal">( 0 )</em><a href="javascript:;" class="comm_btn">{#$langData['travel'][14][18]#}</a></div>
                    <div class="comm_list" data-page="1">
                        <ul class="comm_ul" data-page="1">
                        </ul>
                        <a href="javascript:;" class="more_commt">{#$langData['business'][5][31]#}></a>
                    </div>                        
                    <!--评论e-->
                </div>
            </div>
        </div>
        <!-- 列表左 e-->
        <!-- 列表右 s-->
        <div class="list_r">
            <!-- 发布者信息 begin-->
            <div class="inforight">               
                <div class="mediaInfo">
                    <div class="infotop">
                        <div class="pic"><a href="{#$detail_user.url#}"><img src="{#if $detail_user.photo#}{#$detail_user.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="{#$detail_user.nickname#}"></a></div>
                        <div class="fabuInfo">
                            <a href="{#$detail_user.url#}" class="name" target="_blank">{#$detail_user.nickname#}</a>
                            <p class="qm">发布者简介发布者简介发布者简介</p>
                        </div>
                        
                        {#if $detail_user['uid'] != $userinfo['userid']#}
                        {#if $userinfo && $detail_isfollow#}
                        <span class="btn_care cared" data-id="{#$detail_user['uid']#}">{#$langData['travel'][6][12]#}</span> {#*  已关注   *#} 
                        {#else#}
                        <span class="btn_care" data-id="{#$detail_user['uid']#}">{#$langData['travel'][6][11]#}</span> {#*  关注   *#} 
                        {#/if#}
                        {#/if#}
                    </div>

                    <div class="msg fn-clear">
                        <div class="fb fn-left"><span>发布</span>{#$detail_fabuall#}</div>
                        <!-- 注意此处 如果阅读大于1万 则除以10000 单位取万 -->
                        <div class="gz fn-left"><span>阅读</span>{#$detail_click#}</div>
                        <div class="fs fn-left"><span>粉丝</span>{#$detail_follow#}</div>

                    </div>
                </div>
            </div>
            <!-- 发布者信息 end-->
            <div class="listr_video video-list">
                <h2 class="newr_tit">{#$langData['travel'][6][10]#}</h2>          {#* 精彩推荐 *#} 
                <ul class="fn-clear">
                    {#travel action="videoList" return="list" noid="{#$detail_id|default:0#}" pageSize=4#}
                    <li>
                        <a href="{#$list.url#}" target="_blank">
                          <div class="video_img">
                            <img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" />
                          </div>
                          <div class="videoInfo ">
                            <h2>{#$list.title#}</h2>
                            <div class="up_more">
                                <div class="_left">
                                    <div class="headimg">
                                        <img src="{#if $list.user['photo']#}{#$list.user['photo']#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}">
                                    </div>
                                    <p class="up_name">{#$list.user['nickname']#}</p>
                                </div>
                                <p class="see_right"><i></i>{#$list.click#}</p></div>
                          </div>
                        </a>
                      </li>
                    {#/travel#}

                </ul>
            </div>
        </div>
        <!-- 列表右 e-->
    </div>
</div>
<!-- 评价弹出层 -->
<div class="commtPop">
    <h2>{#$langData['travel'][14][58]#}</h2> {#* 发表评论 *#} 
    <a href="javascript:;" class="close_commt"></a>
    <form class="commt_box">
        <div class="comm_star fn-clear">
            <label class="left_text"  for="">{#$langData['travel'][14][59]#}:</label> {#* 总体评价 *#}           
            <div class="starShow"><span><s></s><s></s><s></s><s></s><s></s></span> <em>{#$langData['travel'][14][60]#}</em></div>  {#* 满意 *#} 
            <input type="hidden" id="score" value="">
        </div>
        <div class="comm_text fn-clear">
            <label class="left_text" for="">{#$langData['siteConfig'][6][114]#}:</label> {#* 评论 *#}
            <div class="commt_com">
                <textarea id="com_con" rows="" cols="" placeholder="{#$langData['travel'][14][61]#}"></textarea>  {#* 给小伙伴们图文并茂地分享下你的心得吧... *#} 
                <div class="imgList">
                    <ul class="fn-clear " id="listSection2">
                        <li class="up_btn ">
                            <div class="wxUploadObj fn-clear">
                                <div class="filePicker" id="filePicker2" data-type="thumb" data-count="6" data-size="{#$atlasSize#}" data-imglist=""><img src="{#$templets_skin#}images/img_icon.png" alt=""><p>{#$langData['siteConfig'][43][43]#}</p></div>  {#* 点击上传图片 *#}
                                
                            </div>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
        {#* 匿名发表 *#}
        <div class="anony"><i class="a_click"></i>{#$langData['travel'][14][62]#}<input type="hidden" id="anonymous" value="1"></div>
        {#* 发表评论 *#}
        <button type="button" class="fabu_commt">{#$langData['travel'][14][58]#}</button>
    </form>
</div>
<div class="mask"></div>
{#include file="../../siteConfig/public_foot_v3.html" module='siteConfig' theme='gray'#}

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script charset="UTF-8" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<!-- 公共头部搜索+收藏js -->
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<!-- 上传图片js -->
<script src="{#$templets_skin#}js/Upload.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.dragsort-0.5.1.min.js?v={#$cfg_staticVersion#}"></script>
<!-- 公共评论js -->
<script type="text/javascript" src="{#$templets_skin#}js/commtlist.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/video-detail.js?v={#$cfg_staticVersion#}"></script>


</body>
</html>
