<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$detail_title#}</title>
    <meta name="keywords" content="{#$travel_keywords#}" />
    <meta name="description" content="{#$travel_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/list_filter.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public_detail.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/visa-detail.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/designpicd.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$travel_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
        var hideFileUrl = {#$cfg_hideUrl#};
        var cookiePre = '{#$cfg_cookiePre#}';
        var id = {#$detail_id|default:0#}, type = '', catid = 'hotel', addrid = '{#$detail_addrid#}', typeid = '{#$detail_typeid#}', lng = "{#$detail_lng#}", lat = "{#$detail_lat#}";
        var detail_video ='{#$detail_videopath#}';
        var type = '4';
        var newsid ='{#$detail_id#}';
    </script>

</head>

<body class="w1200">
{#$pageCurr = "visaindex"#}
<!-- 导航 s-->
{#include file="_top.html"#}
<!-- 导航 e-->
<div class="main_wrap">
    <div class="wrap crumbs">
        {#* 您当前所在： 首页 签证*#}
        <div class="cont">
            {#$langData['travel'][14][0]#}
            <a href="{#$travel_channelDomain#}">{#$langData['siteConfig'][0][0]#}</a>
            <span>></span>
            <a href="{#getUrlPath service="travel" template="visaindex"#}">{#$langData['travel'][14][34]#}</a>{#* 签证办理 *#}
            <span>></span>
            <a href="{#getUrlPath service="travel" template="visa" id="{#$detail_country#}"#}" class="green_a">{#$detail_countryname#}{#$langData['travel'][5][5]#}</a>{#* 签证 *#}
        </div>
    </div>
    
	<div class="agency_wrap">
        <!--详情头部 s-->
        <div class="wrap detail_wrap1 fn-clear">
            <div class="detail_left">
                <div id="slideBox" class="slideBox">
                    <div class="bd">
                        <ul>
                            {#foreach from=$detail_pics item=val#}
                            <li><img src="{#$val.path#}"></li>
                            {#/foreach#}
                        </ul>
                    </div>

                    <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                    <a class="prev" href="javascript:void(0)"></a>
                    <a class="next" href="javascript:void(0)"></a>

                </div>
            </div>
            <div class="detail_right content">
                
                <h2 class="list_title">{#$detail_title#}</h2>
                <h3 class="sub_title">({#$detail_subtitle#})</h3>
                <div class="topDiv fn-clear">                                        
                    <div class="_left lab_box">
                        <span>{#$detail_typename#}</span>
                        <span>{#$detail_countryname#}</span>
                    </div>
                    <div class="btn_group ">
                        {#* 已收藏 *#}  {#* 收藏 *#}
                        <a href="javascript:;" class="store-btn soucan{#if $detail_collect==1#} curr{#/if#}"><button><em></em><span>{#if $detail_collect==1#}{#$langData['homemaking'][8][84]#}{#else#}{#$langData['homemaking'][0][10]#}{#/if#}</button></a>
                        <div class="share-btn " >
                            <a href="javascript:;" class="newBtn_share"  data-title="{#$detail_title#}" data-pic="{#$detail_pics[0].path#}" id="sharre"></a><em></em><span>{#$langData['education'][8][20]#}</span>
                        </div> 
                    </div>
                </div>
                <p class="price">
                    <span>{#echoCurrency type='symbol'#}<strong>{#$detail_price#}</strong></span>/人{#$langData['travel'][12][51]#}{#* 起 *#}
                </p>  
                <div class="visaInfo fn-clear">
                    <div class="visaDiv fn-clear">
                        <dl>
                            <dt>{#$langData['travel'][8][4]#}：</dt>{#*  签证类型   *#}
                            <dd>{#$detail_typename#}</dd>
                        </dl>
                        <dl>
                            <dt>{#$langData['travel'][8][5]#}：</dt>{#*  最早出发日期   *#}
                            <dd>{#$detail_earliestdate#}</dd>
                        </dl>
                    </div>
                    <div class="visaDiv fn-clear">
                        <dl>
                            <dt>{#$langData['travel'][8][1]#}：</dt>{#*  停留天数   *#}
                            <dd>{#$detail_staytimes#}</dd>
                        </dl>
                        
                        <dl>
                            <dt>{#$langData['travel'][8][6]#}：</dt>{#*  有效期限   *#}
                            <dd>{#$detail_valid#}</dd>
                        </dl>
                    </div>
                    <div class="visaDiv fn-clear">
                       <dl>
                            <dt>{#$langData['travel'][8][0]#}：</dt>{#*  入境次数   *#}
                            <dd>{#$detail_entrytimes#}</dd>
                        </dl>                    
                        <dl>
                            <dt>{#$langData['travel'][8][7]#}：</dt>{#*  办理时长   *#}
                            <dd>{#$detail_processingtime#}</dd>
                        </dl> 
                    </div>
                    
                    
                </div>
                                
                <p class="buy"><a href="{#getUrlPath service="travel" template="confirm-order" type="4" id={#$detail_id#}#}">{#$langData['travel'][3][8]#}</a></p>{#* 立即预订  *#}
                
            </div>
        </div>
        <!--详情头部 e-->

        <div class="fn-clear wrap main_con">
            <!-- 列表左 s-->
            <div class="list_left">
                <div class="det_tab">
                    <ul class="fn-clear">
                        <li class="active">{#$langData['travel'][8][9]#}</li>{#*  产品详情   *#}
                        <li>{#$langData['travel'][8][11]#}</li>{#*  所需材料   *#}
                        <li>{#$langData['travel'][8][12]#}</li>{#*  须知/流程   *#}
                        <li>{#$langData['travel'][14][17]#}(<em class="totalNum">0</em>{#$langData['siteConfig'][13][49]#})</li>{#*  游友点评  条 *#}
                    </ul>
                </div>
                <div class="tab_con">
                    <!-- 产品详情 s-->
                    <div class="agency_con">
                        <h2 class="headtop">{#$langData['travel'][8][9]#}</h2>{#*  产品详情   *#}
                        <!--产品详情s-->
                        <div class="productbox show">
                            <h3 class="headtop2">{#$langData['travel'][8][10]#}</h3>{#*  受理范围   *#}
                            <div class="conte-text">
                                {#if $detail_scope#}{#$detail_scope#}{#else#}{#$langData['travel'][14][35]#}{#/if#} {#*  暂无介绍   *#}
                            </div>
                            <h3 class="headtop2 headtop3">{#$langData['travel'][8][14]#}</h3>{#*  递交材料   *#}
                            <div class="conte-text">
                                {#if $detail_materials#}{#$detail_materials#}{#else#}{#$langData['travel'][14][35]#}{#/if#} {#*  暂无介绍   *#}
                            </div>
                            <h3 class="headtop2 headtop3">{#$langData['travel'][8][15]#}</h3>{#*  服务包含   *#}
                            <div class="conte-text">
                                {#if $detail_serviceincludes#}{#$detail_serviceincludes#}{#else#}{#$langData['travel'][14][35]#}{#/if#} {#*  暂无介绍   *#}
                            </div>
                        </div>
                        <!--产品详情e-->
                    </div>
                    <!-- 产品详情 e-->

                    <!-- 所需材料 s-->
                    <div class="agency_con materials">
                        <h2 class="headtop">{#$langData['travel'][8][11]#}</h2>{#*  所需材料   *#}
                        <h3 class="headTip"><em>【请根据自身情况选择签证所需材料】&nbsp;&nbsp;&nbsp;★&nbsp;为必须提供的材料&nbsp;&nbsp;&nbsp;●&nbsp;为根据个人情况酌情提供</em></h3>
                        <div class="sub_tab"> 
                            <ul class="fn-clear">
                                {#* 在职人员---项   *#}
                                {#if $detail_incumbentsnum#}<li>{#$langData['travel'][8][54]#}({#$detail_incumbentsnum#}{#$langData['travel'][14][36]#})</li>{#/if#} 
                                {#* 自由职业者---项   *#}
                                {#if $detail_professionalnum#}<li>{#$langData['travel'][8][55]#}({#$detail_professionalnum#}{#$langData['travel'][14][36]#})</li>{#/if#} 
                                {#* 退休人员---项   *#}
                                {#if $detail_retireenum#}<li>{#$langData['travel'][8][56]#}({#$detail_retireenum#}{#$langData['travel'][14][36]#})</li>{#/if#} 
                                {#* 在校学生---项   *#}
                                {#if $detail_studentsnum#}<li>{#$langData['travel'][8][57]#}({#$detail_studentsnum#}{#$langData['travel'][14][36]#})</li>{#/if#} 
                                {#* 学龄前儿童---项   *#}
                                {#if $detail_childrennum#}<li>{#$langData['travel'][8][58]#}({#$detail_childrennum#}{#$langData['travel'][14][36]#})</li>{#/if#} 
                            </ul>
                        </div>
                        <div class="material-main">
                            {#if $detail_incumbentsnum#}
                            <div class="tab-pane ">
                                <table >
                                    <thead>
                                        <tr>
                                            <th colspan="2">
                                                {#* 需要---项材料   *#}
                                                <span>{#$langData['travel'][12][95]#}{#$detail_incumbentsnum#}{#$langData['travel'][12][96]#}</span>
                                            </th>
                                        </tr>
                                        <tr>                                        
                                            <th class="w180">所需材料</th>
                                            <th class="w510">描述</th>                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {#foreach from=$detail_incumbentsscienceArr item=m#} 
                                        <tr>
                                            <td class="h4">{#$m.title#}</td>
                                            <td>{#$m.note#}</td>
                                        </tr>
                                        {#/foreach#}
                                    </tbody>
                                </table>                               
                            </div>
                            {#/if#}
                            {#if $detail_professionalnum#}
                            <div class="tab-pane ">
                                <table >
                                    <thead>
                                        <tr>
                                            <th colspan="2">
                                                {#* 需要---项材料   *#}
                                                <span>{#$langData['travel'][12][95]#}{#$detail_professionalnum#}{#$langData['travel'][12][96]#}</span>
                                            </th>
                                        </tr>
                                        <tr>                                        
                                            <th class="w180">所需材料</th>
                                            <th class="w510">描述</th>                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {#foreach from=$detail_professionalscienceArr item=m#}                                    
                                        <tr>
                                            <td class="h4">{#$m.title#}</td>
                                            <td>{#$m.note#}</td>
                                        </tr>
                                        {#/foreach#}
                                    </tbody>
                                </table>                               
                            </div>
                            {#/if#}
                            {#if $detail_retireenum#}
                            <div class="tab-pane ">
                                <table >
                                    <thead>
                                        <tr>
                                            <th colspan="2">
                                                {#* 需要---项材料   *#}
                                                <span>{#$langData['travel'][12][95]#}{#$detail_retireenum#}{#$langData['travel'][12][96]#}</span>
                                            </th>
                                        </tr>
                                        <tr>                                        
                                            <th class="w180">所需材料</th>
                                            <th class="w510">描述</th>                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {#foreach from=$detail_retireescienceArr item=m#}                                    
                                        <tr>
                                            <td class="h4">{#$m.title#}</td>
                                            <td>{#$m.note#}</td>
                                        </tr>
                                        {#/foreach#}
                                    </tbody>
                                </table>                               
                            </div>
                            {#/if#}
                            {#if $detail_studentsnum#}
                            <div class="tab-pane ">
                                <table >
                                    <thead>
                                        <tr>
                                            <th colspan="2">
                                                {#* 需要---项材料   *#}
                                                <span>{#$langData['travel'][12][95]#}{#$detail_studentsnum#}{#$langData['travel'][12][96]#}</span>
                                            </th>
                                        </tr>
                                        <tr>                                        
                                            <th class="w180">所需材料</th>
                                            <th class="w510">描述</th>                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                       {#foreach from=$detail_studentsscienceArr item=m#}                                      
                                        <tr>
                                            <td class="h4">{#$m.title#}</td>
                                            <td>{#$m.note#}</td>
                                        </tr>
                                        {#/foreach#}
                                    </tbody>
                                </table>                               
                            </div>
                            {#/if#}
                            {#if $detail_childrennum#}
                            <div class="tab-pane ">
                                <table >
                                    <thead>
                                        <tr>
                                            <th colspan="2">
                                                {#* 需要---项材料   *#}
                                                <span>{#$langData['travel'][12][95]#}{#$detail_childrennum#}{#$langData['travel'][12][96]#}</span>
                                            </th>
                                        </tr>
                                        <tr>                                        
                                            <th class="w180">所需材料</th>
                                            <th class="w510">描述</th>                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {#foreach from=$detail_childrenscienceceArr item=m#}                                    
                                        <tr>
                                            <td class="h4">{#$m.title#}</td>
                                            <td>{#$m.note#}</td>
                                        </tr>
                                        {#/foreach#}
                                    </tbody>
                                </table>                               
                            </div>
                            {#/if#}
                        </div>

                    </div>
                    <!-- 所需材料 e-->
                    <!-- 须知/流程 s-->
                    <div class="agency_con">
                        <h2 class="headtop">{#$langData['travel'][8][12]#}</h2>{#*  须知/流程   *#}
                        <div class="processbox">
                            <h3 class="headtop2">{#$langData['travel'][8][17]#}</h3>{#*  重要提醒   *#}
                            <div class="conte-text">
                                {#if $detail_reminder#}{#$detail_reminder#}{#else#}{#$langData['travel'][14][35]#}{#/if#} {#*  暂无介绍   *#}
                            </div>
                            <h3 class="headtop2 headtop3">{#$langData['travel'][8][18]#}</h3>{#*  办证须知   *#}
                            <div class="conte-text">
                                {#if $detail_notice#}{#$detail_notice#}{#else#}{#$langData['travel'][14][35]#}{#/if#} {#*  暂无介绍   *#}
                            </div>
                            <h3 class="headtop2 headtop3">{#$langData['travel'][8][19]#}</h3>{#*  办理流程   *#}
                            <div class="flowbox">
                                <ul>
                                    {#foreach from=$detail_processingflowArr key=K item=val#}
                                    {#$k=$k+1#}
                                    <li>
                                        <em>{#$k#}</em>
                                        <label>{#$val.title#}</label>
                                        <div class="conte-text">{#$val.note#}</div>
                                    </li>
                                    {#/foreach#}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- 须知/流程 e-->
                    <div class="agency_con commentBox">
                        <!--评论s--> 
                        {#*  全部评论   *#} {#*  我要评论   *#}                      
                        <div class="headtop"><strong>{#$langData['travel'][14][19]#}</strong><em class="comTotal">( 0 )</em><a href="javascript:;" class="comm_btn">{#$langData['travel'][14][18]#}</a></div>
                        <div class="comm_list" data-page="1">
                            <ul class="comm_ul" data-page="1">
                                
                            </ul>
                            <a href="javascript:;" class="more_commt">{#$langData['business'][5][31]#}></a>
                        </div>                        
                        <!--评论e-->
                    </div>
                </div>
            </div>
            <!-- 列表左 e-->
            <!-- 列表右 s-->
            <div class="list_r">
                <!--店铺入口s-->
                <div class="shopbox">
                    <div class="top_info">
                        <a href="{#$detail_companyurl#}">
                            <div class="shopimg"><img src="{#changeFileSize url="{#$detail_store.pics[0]['path']#}" type="small"#}"/></div>

                            <div class="shopinfo">
                                <h2>{#$detail_store['title']#}{#if $detail_store['flag']==1#}<label></label>{#/if#}</h2>{#*  已认证   *#}
                                
                            </div>
                        </a>
                    </div>
                    <div class="shop_ul">
                        <ul>
                            <li class="go_shop"><a href="{#$detail_companyurl#}">{#$langData['travel'][2][5]#}</a></li>{#*  进入店铺   *#}
                            <li class="go_call">
                                <a href="javascript:;">
                                    <i></i>
                                    <div class="shopCall">
                                        <h3 data-call="{#if $detail_tel#}{#$detail_tel#}{#else#}{#$detail_store.tel#}{#/if#}">{#$detail_store.telEncrypt#}</h3>
                                        <p>查看完整电话</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>                   
                </div>
                <!--店铺入口e-->
                <div class="listr_hotel">
                    <h2 class="newr_tit">{#$langData['travel'][14][37]#}</h2>          {#* 你可能感兴趣 *#} 
                    <ul class="hotel-list">
                        {#travel action="visaList" return="list" country="{#$detail_country#}" page=1 pageSize=4#}
                        <li class="fn-clear">
                            <a href="{#$list.url#}" target="_blank" class="fn-clear">
                            <div class="top_b">                           
                                <img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="">                                                   
                            </div>
                            <div class="bottom_b">
                                <h1 class="t_name">{#$list.title#}</h1>
                                <div class="t_property">
                                    <span>{#$list.typename#}</span>
                                    <span>{#$list.countryname#}</span>
                                </div>
                                <div class="bot_other fn-clear">                       
                                    <p class="t_price"><span>{#echoCurrency type='symbol'#}<em>{#$list.price#}</em></span>{#$langData['travel'][12][51]#}</p>
                                    <p class="store"><i></i>{#$list.store['title']#}</p>                          
                                </div>  
                            </div>
                            
                            </a>                
                        </li>
                        {#/travel#}
                    </ul>
                </div>
            </div>
            <!-- 列表右 e-->
        </div>
	</div>
</div>
<!-- 评价弹出层 -->
<div class="commtPop">
    <h2>{#$langData['travel'][14][58]#}</h2> {#* 发表评论 *#} 
    <a href="javascript:;" class="close_commt"></a>
    <form class="commt_box">
        <div class="comm_star fn-clear">
            <label class="left_text"  for="">{#$langData['travel'][14][59]#}:</label> {#* 总体评价 *#}           
            <div class="starShow"><span><s></s><s></s><s></s><s></s><s></s></span> <em>{#$langData['travel'][14][60]#}</em></div>  {#* 满意 *#} 
            <input type="hidden" id="score" value="">
        </div>
        <div class="comm_text fn-clear">
            <label class="left_text" for="">{#$langData['siteConfig'][6][114]#}:</label> {#* 评论 *#}
            <div class="commt_com">
                <textarea id="com_con" rows="" cols="" placeholder="{#$langData['travel'][14][61]#}"></textarea>  {#* 给小伙伴们图文并茂地分享下你的心得吧... *#} 
                <div class="imgList">
                    <ul class="fn-clear " id="listSection2">
                        <li class="up_btn ">
                            <div class="wxUploadObj fn-clear">
                                <div class="filePicker" id="filePicker2" data-type="thumb" data-count="6" data-size="{#$atlasSize#}" data-imglist=""><img src="{#$templets_skin#}images/img_icon.png" alt=""><p>{#$langData['siteConfig'][43][43]#}</p></div>  {#* 点击上传图片 *#}
                                
                            </div>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
        {#* 匿名发表 *#}
        <div class="anony"><i class="a_click"></i>{#$langData['travel'][14][62]#}<input type="hidden" id="anonymous" value="1"></div>
        {#* 发表评论 *#}
        <button type="button" class="fabu_commt">{#$langData['travel'][14][58]#}</button>
    </form>
</div>
<div class="mask"></div>
<!-- 底部 s-->
{#include file="../../siteConfig/public_foot_v3.html" module='siteConfig' theme='gray'#}

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script charset="UTF-8" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<!-- 公共头部搜索+收藏js -->
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<!-- 上传图片js -->
<script src="{#$templets_skin#}js/Upload.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.dragsort-0.5.1.min.js?v={#$cfg_staticVersion#}"></script>
<!-- 详情轮播图js -->
<script type="text/javascript" src="{#$templets_skin#}js/designpicd.js?v={#$cfg_staticVersion#}"></script>
<!-- 公共收藏js -->
<script type="text/javascript" src="{#$templets_skin#}js/public_detail.js?v={#$cfg_staticVersion#}"></script>
<!-- 公共评论js -->
<script type="text/javascript" src="{#$templets_skin#}js/commtlist.js?v={#$cfg_staticVersion#}"></script>

<script type="text/javascript" src="{#$templets_skin#}js/visa-detail.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
