<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$langData['travel'][5][5]#}</title>{#* 签证 *#}
    <meta name="keywords" content="{#$travel_keywords#}" />
    <meta name="description" content="{#$travel_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/list_filter.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public_detail.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/visaindex.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$travel_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
        var hideFileUrl = {#$cfg_hideUrl#};
        var cookiePre = '{#$cfg_cookiePre#}';
        var visaUrl = '{#getUrlPath service="travel" template="visa" country="%id%"#}';
        var visState="{#$visaCountryStatement#}"
    </script>

</head>

<body class="w1200">
{#$pageCurr = "visaindex"#}
<!-- 导航 s-->
{#include file="_top.html"#}

<!-- 导航 e-->
<div class="main_wrap">
    <div class="top_wrap">
        <div class="topAdvbox">{#myad title="旅游签证首页_模板二_电脑端_广告一"#}</div>
        <div class="wrap countryBox">
            <div class="countryCon">
                {#travel action="continent_type" pageSize=5 return="type"#} 
                <div class="channelNav-list" data-id="{#$type.id#}">
                    <div class="channelNav-tit">
                        <h4>{#$type.typename#}</h4>
                        <p class="channelNav-hot">
                            {#travel action="countrytype" continent="{#$type.id#}" return="type2" pageSize=4#}
                            <a href="{#getUrlPath service="travel" template="visa" country="{#$type2.id#}"#}">{#$type2.typename#}</a>
                            {#/travel#}
                        </p>
                    </div>
                    <div class="channelNav-main sec_dd">
                        {#travel action="countrytype" continent="{#$type.id#}" return="type2"#}
                        <a href="{#getUrlPath service="travel" template="visa" country="{#$type2.id#}"#}">{#$type2.typename#}</a>
                        {#/travel#}
                    </div>
                </div>                          

                {#/travel#}
            </div>
        </div>
    </div>

	<!-- 列表 s-->
	<div class="visa_wrap">
        <div class="fn-clear wrap">
            <!--导航-->
            <div class="area_nav">
                <span class="same-span">热门国家/地区</span>
                <ul class="same-ul fn-clear">
                    <li data-id="hot" class="on">{#$langData['travel'][5][50]#}</li>{#* 热门 *#}
                    {#travel action="continent_type" return="type"#}
                    <li data-id="{#$type.id#}">{#$type.typename#}</li>
                    {#/travel#}
                </ul>

            </div>
            <!--国家展示-->
            <div class="country_list">
                <ul class="on_show fn-clear">
                </ul>
                <p class="tip"></p>
            </div>
        </div>
        <div class="fn-clear wrap">
            <!--导航-->
            <div class="visa_nav">
                <span class="same-span">免签/落地签</span>
                <ul class="same-ul fn-clear">
                    {#travel action="typeid_type" return="type"#}
                    <li data-id="{#$type.id#}" {#if $type.id==0#}class="on"{#/if#}>{#$type.typename#}</li>{#* 免签*#}
                    {#/travel#}
                </ul>

            </div>
            <div class="listBox">
                <ul class="fn-clear" id="visacountry">
                </ul>
                <p class="tip"></p>
            </div>
        </div>
	</div>
	<!-- 列表 e-->

</div>
<!-- 底部 s-->
{#include file="../../siteConfig/public_foot_v3.html" module='siteConfig' theme='gray'#}

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<!-- 公共头部搜索+收藏js -->
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/visaindex.js?v={#$cfg_staticVersion#}"></script>

</body>
</html>
