<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#if $list_typename#}{#$list_typename#}{#else#}{#$langData["travel"][5][5]#}{#/if#}</title>{#* 签证 *#}
    <meta name="keywords" content="{#$travel_keywords#}" />
    <meta name="description" content="{#$travel_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/list_filter.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/visa.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$travel_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
        var hideFileUrl = {#$cfg_hideUrl#};
        var cookiePre = '{#$cfg_cookiePre#}', numArr = [];
        var id="{#$list_id#}"
    </script>

</head>

<body class="w1200">
{#$pageCurr = "visaindex"#}
<!-- 导航 s-->
{#include file="_top.html"#}

<!-- 导航 e-->
<div class="main_wrap">
    <div class="wrap crumbs">
        {#* 您当前所在： 首页 签证办理 签证*#}
        <div class="cont">
            {#$langData['travel'][14][0]#}
            <a href="{#$travel_channelDomain#}">{#$langData['siteConfig'][0][0]#}</a>
            <span>></span>
            <a href="{#getUrlPath service="travel" template="visaindex"#}">{#$langData['travel'][14][34]#}</a>{#* 签证办理 *#}
            <span>></span>
            <a href="javascript:;" class="green_a">{#$list_typename#}{#$langData['travel'][5][5]#}</a>{#* 签证 *#}
        </div>
    </div>
    <!-- 筛选 s-->
    <div class="filter_box wrap">
        <div class="filter">
            <!-- 目的地 s-->
            <dl class="fn-clear">
                <dt>{#$langData['travel'][8][43]#}：</dt>     {#* 目的地 *#}
                <dd>
                    <div class="f_more">{#$langData['siteConfig'][4][9]#}<i></i></div> {#* 全部 *#}
                    <div class="item_box chooseClass" id="hotPlace" data-chose="hot">
                        {#travel action="countrytype" return='type' hot="1"#}
                        <a href="{#getUrlPath service='travel' template='visa' param="country={#$type.id#}&typeid=$typeid&orderby=$orderby&keywords=$keywords" #}" {#if $list_id == $type.id#} class="curr" {#$countryName = $type.typename#} {#/if#}data-id="{#$type.id#}">{#$type.typename#}</a>
                        {#/travel#}
                    </div> 
                </dd>
                             
            </dl> 
            <!-- 目的地 e-->
            <!-- 目的地 s-->
            <dl class="fn-clear " id="destination">               
                <dd class="chooseClass" data-chose="destination" id="continent">
                    {#$m=0#}
                    {#travel action="continent_type" return="country"#}
                    <a href="javascript:;" data-id="{#$country.id#}" {#if $m==0#}class="curr" {#$continent = $country.id#}{#/if#}>{#$country.typename#}</a>
                    {#$m=$m+1#}
                    {#/travel#}
                    <div class="subnav fn-clear">
                         <div id="destination{#$addr1.id#}" class="chooseClass seCountry" data-chose="destination_sub">
                            {#travel action="countrytype" return="addr2" continent=$continent#}

                            <a href="{#getUrlPath service='travel' template='visa' param="country={#$addr2.id#}&orderby=$orderby&typeid=$typeid&orderby=$orderby&keywords=$keywords" #}" {#if $list_id == $addr2.id#} class="curr" {#$countryName = $addr2.typename#} {#/if#}data-id="{#$addr2.id#}">{#$addr2.typename#}</a>
                            {#/travel#}
                        </div>
                    </div>

                </dd>              
            </dl> 
            <!-- 区域 e-->

            <!-- 签证类型： s-->          
            <dl class="fn-clear">
                <dt>{#$langData['travel'][8][4]#}：</dt>     {#* 签证类型 *#}
                <dd>
                   <div class="chooseClass" data-chose="visa" id="visaChoose">
                        <a href="{#getUrlPath service='travel' template='visa' param="country=$list_id&typeid=0&orderby=$orderby&keywords=$keywords" #}" {#if $typeid==0#} class="curr"{#/if#}>{#$langData['education'][4][9]#}</a>     {#* 全部 *#}
                        {#travel action="visatype" return="type"#}
                        <a href="{#getUrlPath service='travel' template='visa' param="country=$list_id&typeid={#$type.id#}&orderby=$orderby&keywords=$keywords" #}" {#if $typeid==$type.id#} {#$typeidName={#$type.typename#}#} class="curr"{#/if#} data-id="{#$type.id#}">{#$type.typename#}</a>
                        {#/travel#}
                    </div> 
                </dd>                                                  
                
            </dl>
            <!-- 签证类型： e-->
        </div>
         {#if $list_id != "" ||$keywords!=0  ||  $typeid!=""#}
        <div class="deletebox">
            <dl class="fi-state fn-clear" style="display: block;">
                <dt>{#$langData['education'][8][49]#}</dt>     {#* 已选 *#}
                <dd class="fn-clear">
                     {#if $list_id#}
                    <a href="{#getUrlPath service='travel' template='visa' param="country=0&typeid=$typeid&orderby=$orderby&keywords=$keywords" #}"><span>{#$countryName#}</span><i class="idel"></i></a>
                    {#/if#}
                     {#if $typeid#}
                    <a href="{#getUrlPath service='travel' template='visa' param="country=$list_id&typeid=0&orderby=$orderby&keywords=$keywords" #}"><span>{#$typeidName#}</span><i class="idel"></i></a>
                    {#/if#}
                </dd>
                <a class="btn_clear" href="{#getUrlPath service='travel' template='visa' param="country=0&typeid=0&orderby=0&keywords=" #}">{#$langData['education'][8][50]#}</a>     {#* 重置条件 *#}
            </dl>
        </div>
        {#/if#}
    </div>
    <!-- 筛选 e-->
    <!-- 列表 s-->
    <div class="class_wrap">
        <div class="sort wrap">
            <ul class="fn-clear">
                <li class="st {#if $orderby == "0"#} curr {#/if#}" data-sort="1"><a href="{#getUrlPath service='travel' template='visa' param="country=0&typeid=$typeid&orderby=0&keywords=$keywords" #}">{#$langData['education'][3][19]#}</a></li> {#* 默认排序 *#}
                <li class="st up {#if $orderby == "4"#} curr {#elseif $orderby == "3"#}curr down{#/if#}" data-sort="5"><a href="{#getUrlPath service='travel' template='visa' param="country=0&typeid=$typeid&orderby={#if $orderby == 3#}4{#else#}3{#/if#}&keywords=$keywords" #}">{#$langData['travel'][2][22]#}<i></i></a></li>
                <li class="st up  {#if $orderby == "5"#} curr {#/if#}" data-sort="5"><a href="{#getUrlPath service='travel' template='visa' param="country=0&typeid=$typeid&orderby=5&keywords=$keywords" #}">{#$langData['travel'][2][19]#}<i></i></a></li> {#* 销量 *#}                             
            </ul>
        </div>
        <div class="fn-clear wrap main_con">
            <ul class="ticket-list fn-clear">
                  {#travel action="visaList" return="list" country="{#$list_id#}" typeid = {#$typeid#}  orderby ={#$orderby#} page={#$page#} pageSize=24#}
                  <li>
                    <a href="{#$list.url#}" target="_blank">
                      <div class="ticket_img{#if $list.video#} videoshow{#/if#}">
                        <img src="{#changeFileSize url={#$list.litpic#} type='large'#}" />
                      </div>
                      <div class="ticketInfo ">
                        <h2>{#$list.title#}</h2>
                        <div class="t_property">
                            <span>{#$list.typename#}</span>
                            <span>{#$list.countryname#}</span>
                        </div>
                        <div class="fn-clear">
                          <p class="price"><span>{#echoCurrency type='symbol'#}<em>{#$list.price#}</em></span>{#$langData['travel'][12][51]#}</p>
                          <p class="store"><i></i>{#$list.store['title']#}</p>
                        </div>
                        
                      </div>
                    </a>
                  </li>
                  {#/travel#}
                  {#if $pageInfo.totalCount == 0#}

                    <li class="empty failed"><img src="{#$templets_skin#}images/icon_faild.png"><span>{#$langData['education'][8][24]#}</span></li> {#* 没有找到符合条件的结果 *#}
                    {#/if#}
            </ul>
            {#getPageList service='travel' template='visa' pageType='dynamic' param="page=#page#"#}

        </div>
    </div>
    <!-- 列表 e-->

</div>
<!-- 底部 s-->
{#include file="../../siteConfig/public_foot_v3.html" module='siteConfig' theme='gray'#}

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<!-- 公共头部搜索+收藏js -->
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/visa_filter.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
