<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>学校详情</title>
<meta name="keywords" content="{#$house_keywords#}" />
<meta name="description" content="{#$house_description#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />

<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<!-- 公共评论 -->
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/commlist.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/school-detail.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$house_channelDomain#}',staticPath = '{#$cfg_staticPath#}',templets_skin = '{#$templets_skin#}',templatePath = '{#$templets_skin#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
	var needComment = 1;
	var pageData = {
		id: '{#$id#}',
		title: '{#$detail_title#}',
		address: '{#$detail_address#}',
		lat: '{#$detail_lat#}',
		lng: '{#$detail_lng#}',
		mapType: '{#$site_map#}',
		cityName: '{#$siteCityInfo['name']#}',
		mapKey: '{#$site_map_key#}'
	};
  	var dLng = "{#$detail_lng#}",dLat ="{#$detail_lat#}";
	 var id = '{#$id#}';
	 var newsid = '{#$id#}';	
    var site_map = "{#$site_map#}";
</script>
</head>

<body class="w1200">
{#include file="../../siteConfig/top1.html"#}

{#$pageCurr = "school"#}
{#include file="top.html"#}
<div class="main_wrap">
	<div class="wrap">
	  	<div class="crumb fn-clear">
		    <div class="location">
		      <a href="{#$house_channelDomain#}">首页</a> > <a href="javascript:;">学校详情</a>
		    </div>
	  	</div>
	  	<div class="topHeader">
		    <div class="topBg">
		    	<i></i>
		    	<img src="{#$detail_banner#}">
		    </div>
		    <div class="scInfo">
		        <div class="logo"><img src="{#$detail_logo#}" alt=""></div>
		        <div class="rInfo">
		            <h4>{#$detail_title#}</h4>
		            <p class="tag">
		                <span class="nature">{#$detail_schoolnaturename#}</span>
						{#foreach from =$detail_typearr item='typename' #}
						<span class="slevel-{#if $typename.typename == '幼儿园'#}1{#elseif $typename.typename == '小学'#}2{#else#}3{#/if#}">{#$typename.typename#}</span>
						{#/foreach#}
		            </p>
		            <p class="addr"><i></i>{#$detail_addrName#}</p>
		            <a href="{#getUrlPath service='house' template='nearbysale' param="id={#$id#}&schoolname={#$detail_title#}"#}" class="nearby">附近房源</a>
		        </div>
		    </div>
		    <div class="otInfo fn-clear">
	            <dl class="fn-left"><dt>热度：</dt><dd>{#$detail_click#}</dd></dl>
	            <dl class="fn-right"><dt>更新时间：</dt><dd>{#$detail_pubdate#}</dd></dl>
	        </div>
		</div>
		<div class="sameCon sPro">
			<h3 class="comTitle">学校简介</h3>
	        <div class="dCon introBox">
	            <p>{#$detail_note#}</p>
	        </div>		        

		    <div class="readMore"></div>
		</div>
		<div class="sameCon range">
			<h3 class="comTitle">施教范围</h3>
			<div class="mapbox">
		        <div id="smap"></div>
		        <div class="zs_btn">
		            <i class="tbg"></i>
		            <ul class="tb">
						{#foreach from=$detail_teacharr key="k" item="teach"#}
						<li class="{#if $k ==0#}curr {#/if#}" data-type="{#if $teach.type == '幼儿园'#}yr{#elseif $teach.type == '小学'#}xx{#else#}cz{#/if#}" data-point="{#$teach.points#}"><span>{#$teach.type#}</span></li>
						{#/foreach#}
		            </ul>
		        </div>
		        
		    </div>

			<div class="proCon">
				{#foreach from=$detail_teacharr item="teach"#}
				<div class="dCon youer">
					<h3 class="lit">{#$teach.type#}施教区</h3>
					<p>{#$teach.teach#}</p>
				</div>
				{#/foreach#}

			</div>
		</div>
		<div class="sameCon enroll">
			<h3 class="comTitle">招生信息</h3>
          	<div class="dCon">
				{#$detail_admissioninfo#}
            </div>
		</div>
		<div class="sameCon comment-wrap">
			<div class="commentBox">
                <!--评论s--> 
                {#*  全部评论   *#} {#*  我要评论   *#}                      
                <div class="headtop"><strong>{#$langData['travel'][14][19]#}</strong><em class="comTotal">( 0 )</em><a href="javascript:;" class="comm_btn">{#$langData['travel'][14][18]#}</a></div>

                <div class="comm_list" data-page="1">
                    <ul class="comm_ul allComment" data-page="1">
                      <div class="loadingAll">加载中...</div>
                    </ul>
                </div>                        
                <!--评论e-->
            </div>
		</div>
	</div>

</div>

<!-- 评价弹出层 -->
<div class="commtPop">
    <h2>发表评论</h2> {#* 发表评论 *#} 
    <a href="javascript:;" class="close_commt"></a>
    <form class="commt_box">

        <div class="comm_text fn-clear">
            <label class="left_text" for="">{#$langData['siteConfig'][6][114]#}:</label> {#* 评论 *#}
            <div class="commt_com">
                <textarea id="com_con" rows="" cols="" placeholder="{#$langData['travel'][14][61]#}"></textarea>  {#* 给小伙伴们图文并茂地分享下你的心得吧... *#} 
                <div class="imgList">
                    <ul class="fn-clear " id="listSection2">
                        <li class="up_btn ">
                            <div class="wxUploadObj fn-clear">
                                <div class="filePicker" id="filePicker2" data-type="thumb" data-count="6" data-size="{#$atlasSize#}" data-imglist=""><img src="{#$templets_skin#}images/img_icon.png" alt=""><p>{#$langData['siteConfig'][43][43]#}</p></div>  {#* 点击上传图片 *#}
                                
                            </div>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
        {#* 匿名发表 *#}
        <div class="anony"><i class="a_click"></i>{#$langData['travel'][14][62]#}<input type="hidden" id="anonymous" value="1"></div>
        {#* 发表评论 *#}
        <button type="button" class="fabu_commt">{#$langData['travel'][14][58]#}</button>
    </form>
</div>
<div class="mask"></div>
{#include file="footer.html"#}
<script type="text/javascript" src="{#$site_map_apiFile#}"></script>
<script charset="UTF-8" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/designpicd.js"></script>
<!-- 上传图片js -->
<script src="{#$templets_skin#}js/Upload.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.dragsort-0.5.1.min.js?v={#$cfg_staticVersion#}"></script>
<!-- 公共评论js -->
<script type="text/javascript" src="{#$templets_skin#}js/commtlist.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/school-detail.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
