<div class="fixedwrap FestivalAD_header">
    <div class="fixedpane">
        <!-- head s -->
        <div class="wrap header fn-clear">
            <div class="logo">
                <a href="{#$huodong_channelDomain#}" title="{#$huodong_channelName#}"><img src="{#$huodong_logoUrl#}" alt="{#$huodong_channelName#}" /></a>
            </div>

            <div class="kefu"><s><img src="{#$templets_skin#}images/call.png"></s><p>{#$langData['business'][0][30]#}</p>{#$cfg_hotline#}</div>  {#* 客服热线 *#}

		    <div class="searchBox">
			    <div class="search_box">
			  	  <form action="{#$huodong_channelDomain#}/list.html" method="post">
			  		<input type="text" name="keywords" id="keywords" value="{#$keywords#}" placeholder="{#$langData['huodong'][0][0]#}"/>  {#*   请输入你要搜索的关键词 *#}
			  		<button type="submit" class="submit"></button>
			  	  </form>
			    </div>
		    </div>

        </div>
		<div class="navBox fn-clear">
			<div class="all_item">
				<i><img src="{#$templets_skin#}images/item_icon.png" alt=""></i><em>{#$langData['huodong'][1][41]#}</em>  {#* 所有分类 *#}
				<div class="cate_box">
					<ul>
						{#huodong action='type' return='type'#}
						<li><a href="{#getUrlPath service='huodong' template='list' typeid={#$type.id#} param="times={#$times#}&feetype={#$feetype#}&keywords={#$keywords#}"#}"><s></s><i><img src="{#$templets_skin#}images/{#$type.id#}.png" alt=""></i>{#$type.typename#}</a></li>
						{#/huodong#}
						<li><a href=""><i><img src="{#$templets_skin#}images/15.png" alt=""></i>{#$langData['huodong'][1][42]#}</a></li>    {#* 全部活动 *#}
					</ul>
				</div>
			</div>
			<ul>
				<li><a href="{#$huodong_channelDomain#}">{#$langData['huodong'][1][43]#}</a></li>        {#* 首页 *#}
				<li><a href="{#$huodong_channelDomain#}/list">{#$langData['huodong'][0][11]#}</a></li>        {#* 找活动 *#}
				<!-- <li><a href="javascript:;">{#$langData['huodong'][1][44]#}</a></li>        {#* 人气榜 *#} -->
				<li class="app_li code_show">
					<a href="javascript:;">{#$langData['huodong'][1][45]#}</a>        {#* App客户端 *#}
					<div class="ercode fn-clear">
						<div class="left_code">
							<img src="{#$cfg_basehost#}/include/qrcode.php?data={#$cfg_basehost#}/mobile.html" alt="">
						</div>
						<div class="r_con">
							<h3>{#$langData['huodong'][1][45]#}</h3>        {#* App客户端 *#}
							<p>{#$langData['huodong'][1][46]#}</p>        {#* 活动管理一手掌控 *#}
						</div>
					</div>
				</li>
				<li class="wx_li code_show">
					<a href="javascript:;">{#$langData['huodong'][1][47]#}</a>        {#* 微信公众号 *#}
					<div class="ercode fn-clear">
						<div class="left_code">
							<img src="{#$cfg_basehost#}/include/qrcode.php?data={#$cfg_basehost#}" alt="">
						</div>
						<div class="r_con">
							<h3>{#$langData['huodong'][1][47]#}</h3>        {#* 微信公众号 *#}
							<p> {#$langData['huodong'][1][48]#} </p>        {#* 实时获取最新通知 *#}
						</div>
					</div>
				</li>
				<li class="wxp_li code_show">
					<a href="javascript:;">{#$langData['huodong'][1][49]#}</a>        {#* 微信小程序 *#}
					<div class="ercode fn-clear">
						<div class="left_code">
							<img src="{#$cfg_basehost#}/include/qrcode.php?data={#$cfg_basehost#}" alt="">
						</div>
						<div class="r_con">
							<h3>{#$langData['huodong'][1][49]#}</h3>        {#* 微信小程序 *#}
							<p>{#$langData['huodong'][1][50]#} </p>        {#* 所有分类 *#}
						</div>
					</div>
				</li>
			</ul>
			<a href="{#$huodong_channelDomain#}/fabu.html" class="fa_btn">{#$langData['huodong'][2][0]#}</a>   {#* 发活动 *#}
		</div>
    </div>
    <!-- head e -->



    </div>
</div>
<script>
	$(function(){
		var li = [];
		$(".cate_box li").each(function(){
			 li.push($(this).html());
		})
		var liArr = [];
		for(var i = 0; i< li.length; i++){
			 liArr.push('<li class="fn-clear">'+li.slice(i, i + 3).join("")+'</li>');
			 i += 2;
		}

		$(".cate_box").html(liArr.join(''))
	})
</script>
