<!DOCTYPE html>
<html lang="en" class='w1200' id="">
<head>
	<meta charset="{#$cfg_soft_lang#}">
	<title>{#$huodong_channelName#}</title>
	<meta name="keywords" content="{#$huodong_keywords#}" />
	<meta name="description" content="{#$huodong_description#}" />
	<link rel="stylesheet" href="{#$cfg_staticPath#}css/core/base.css">
	<link rel="stylesheet" href="{#$cfg_staticPath#}css/newtemplets_public.css?v={#$cfg_staticVersion#}">
	<link rel="stylesheet" href="{#$templets_skin#}css/index.css?v={#$cfg_staticVersion#}">
	<link rel="stylesheet" href="{#$templets_skin#}css/pub_top.css?v={#$cfg_staticVersion#}">
	<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
	<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js?v={#$cfg_staticVersion#}"></script>
	<script>
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$huodong_channelDomain#}', templatePath = '{#$templets_skin#}';
	var hideFileUrl = {#$cfg_hideUrl#};
	var local = '{#$local#}';
	var staticPath = '{#$cfg_staticPath#}';
	var site_map = '{#$site_map#}';
	</script>


</head>

<body class="w1200">
	{#$channel = 'huodong'#}
	{#$hotline = $huodong_hotline#}
	{#include file="../../siteConfig/top1.html"#}
	{#include file="header_search.html"#}

	<!-- 广告位s -->
	<div class="banner_wrap">
	    <div class="slider">
	      <div class="bd">
	        <ul>
	          {#myad title="活动_模板三_电脑端_广告一" type="slide"#}
	        </ul>
	      </div>
	      <div class="hd">
	        <ul></ul>
	      </div>
	      <div class="pnBtn prev">
	        <span class="blackBg"></span>
			<a class="arrow" href="javascript:void(0)"></a>
	      </div>
	      <div class="pnBtn next">
	        <span class="blackBg"></span>
			<a class="arrow" href="javascript:void(0)"></a>
	      </div>
	    </div>
	</div>
	<!-- 广告位e -->


	<div class="mainBox">
		<!--倾力推荐 s-->
		<div class="rec_hd fn-clear wrap wrap2 item_box">
		    <div class="item_title fn-clear wrap"><h1 class="h1_title">{#$langData['huodong'][1][22]#}</h1></div>  {#*  强力推荐  *#}
		    <div class="itemList">
		        <div class="slideBox slideBox2">
		            <div class="bd">
						<ul class="fn-clear" >
							{#huodong action="hlist" return="list"  flag="1"  pageSize=12#}
							<li class="fn-clear">
								<a target="_blank" href="{#$list.url#}" class="fn-clear">
									{#if $list.rec#}
									<i class="top_i"></i>
									{#/if#}
									<div class="top_img"><img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt=""></div>
									<div class="hd_info">
										<div class="start_time fn-clear"><span>{#$list.began|date_format:"%Y-%m-%d %H:%M:%S"#}</span> <em class="t_bg"></em></div>
										<h3 class="hd_tit">{#$list.title#}</h3>
										<p class="hd_posi"><i></i>{#$list.addrname[0]#} {#$list.addrname[1]#} {#$list.addrname[2]#}</p>
									</div>
									<div class="hd_sponor fn-clear">
										<div class="userinfo fn-clear">
											<div class="sponor_info">
												<div class="head_img"><img src="{#$list.userphoto#}" onerror="this.src='{#$cfg_staticPath#}images/noPhoto_40.jpg'"></div>
												<p>{#$list.username#}</p>
												<div class="hd_num fn-clear">
													<div class="left_count">
														<h5>5</h5>
														<p>{#$langData['huodong'][1][23]#}</p>   {#*  发布活动  *#}
														<i></i>
													</div>
													<div class="right_count">
														<h5>524</h5>
														<p>{#$langData['huodong'][1][24]#}</p>   {#*  粉丝数  *#}
													</div>
												</div>
												<div class="btn_group">
													<span data-url="{#$list.memberurl#}" class="home_btn">{#$langData['huodong'][1][27]#}</span>  {#*  主页  *#}
													<span data-url="javascript:;" class="care_btn" data-id="{#$list.uid#}"><i></i><em>{#$langData['huodong'][1][28]#}</em></span> {#*  关注  *#}
												</div>
												<s class="arr"></s>
											</div>
											<div class="left_head"><img class="himg" src="{#$list.userphoto#}" onerror="this.src='{#$cfg_staticPath#}images/noPhoto_40.jpg'"></div>
											<p class="name">{#$list.username#}</p>

										</div>
										{#if $list.reg#}<div class="reg_num"><em>{#$list.reg#}</em>{#$langData['huodong'][1][25]#}</div>{#/if#}  {#*  人报名  *#}
									</div>

									<div class="code_bg">
										<div class="code"><img src="{#$cfg_basehost#}/include/qrcode.php?data={#$list.url#}" alt=""></div>
										<i></i>
									</div>

								</a>
							</li>
							{#/huodong#}
						</ul>
		            </div>
		            <div class="hd wrap"><ul class="fn-clear"><li class=""></li><li class=""></li><li class="on"></li></ul></div>
					<div class="btn_box">
						<a href="javascript:;" class="prev"></a>
						<a href="javascript:;" class="next"></a>
					</div>
				</div>
		    </div>
		</div>
		<!--倾力推荐 e-->

		<!--免费活动 s-->
		<div class="free_hd fn-clear wrap wrap2 item_box">
		    <div class="item_title fn-clear wrap"><h1 class="h1_title">{#$langData['huodong'][1][26]#}</h1></div>  {#*  免费活动  *#}
		    <div class="itemList">
		        <div class="slideBox slideBox2">
		            <div class="bd">
						<ul class="fn-clear" >
							{#huodong action="hlist" return="list" feetype="1" orderby="1" pageSize=12#}
							<li class="fn-clear">
								<a target="_blank" href="{#$list.url#}" class="fn-clear">
									{#if $list.rec#}
									<i class="top_i"></i>
									{#/if#}
									<div class="top_img"><img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt=""></div>
									<div class="hd_info">
										<div class="start_time fn-clear"><span>{#$list.began|date_format:"%Y-%m-%d %H:%M:%S"#}</span> <em class="t_bg"></em></div>
										<h3 class="hd_tit">{#$list.title#}</h3>
										<p class="hd_posi"><i></i>{#$list.addrname[0]#} {#$list.addrname[1]#} {#$list.addrname[2]#}</p>
									</div>
									<div class="hd_sponor fn-clear">
										<div class="userinfo">
											<div class="sponor_info">
												<div class="head_img"><img src="{#$list.userphoto#}" onerror="this.src='{#$cfg_staticPath#}images/noPhoto_40.jpg'"></div>
												<p>{#$list.username#}</p>
												<div class="hd_num fn-clear">
													<div class="left_count">
														<h5>{#$list.hdcount#}</h5>
														<p>{#$langData['huodong'][1][23]#}</p>   {#*  发布活动  *#}
														<i></i>
													</div>
													<div class="right_count">
														<h5>{#$list.fansall#}</h5>
														<p>{#$langData['huodong'][1][24]#}</p>   {#*  粉丝数  *#}
													</div>
												</div>
												<div class="btn_group">
													<span data-url="{#$list.memberurl#}" class="home_btn">{#$langData['huodong'][1][27]#}</span>{#*  主页  *#}
													<span data-url="javascript:;" class="care_btn {#if $list.isfollow ==1#} cared {#/if#}" data-id="{#$list.uid#}"><i></i><em>{#if $list.isfollow !=1#}{#$langData['siteConfig'][19][846]#}{#else#}{#$langData['siteConfig'][19][845]#}{#/if#}</em></span>
													{#*  关注  *#}
												</div>
												<s class="arr"></s>
											</div>
											<div class="left_head"><img src="{#$list.userphoto#}" onerror="this.src='{#$cfg_staticPath#}images/noPhoto_40.jpg'"></div>
											<p>{#$list.username#}</p>
										</div>

										{#if $list.reg#}<div class="reg_num"><em>{#$list.reg#}</em>{#$langData['huodong'][1][25]#}</div>{#/if#}  {#*  人报名  *#}

									</div>

									<div class="code_bg">
										<div class="code"><img src="{#$cfg_basehost#}/include/qrcode.php?data={#$list.url#}" alt=""></div>
										<i></i>
									</div>

								</a>
							</li>
							{#/huodong#}
						</ul>
		            </div>
		            <div class="hd wrap"><ul class="fn-clear"><li class=""></li><li class=""></li><li class="on"></li></ul></div>
					<div class="btn_box">
						<a href="javascript:;" class="prev"></a>
						<a href="javascript:;" class="next"></a>
					</div>
				</div>
		    </div>
		</div>
		<!--免费活动 e-->

		<!-- 广告位s -->
		<div class="adv1">{#myad title="活动_模板三_电脑端_广告二" #}</div>
		<!-- 广告位e -->

		<div class="wrapBox fn-clear">
			<div class="left_con">
				<!-- 最新发布s -->
				<div class="fn-clear wrap2 item_box">
				    <div class="item_title fn-clear "><h1 class="h1_title">{#$langData['huodong'][1][29]#}</h1> <a class="more_list" href="{#getUrlPath service='huodong' template='list'   param="orderby=pubdate"#}"> {#$langData['huodong'][1][30]#} </a></div>  {#*  最新发布  更多>   *#}
				    <div class="itemList">
				        <div class="slideBox slideBox2">
				            <div class="bd">
								<ul class="fn-clear" >
									{#huodong action="hlist" return="list" orderby="pubdate" pageSize=3#}
									<li class="fn-clear">
										<a target="_blank" href="{#$list.url#}" class="fn-clear">
											{#if $list.rec#}
											<i class="top_i"></i>
											{#/if#}
											<div class="top_img"><img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt=""></div>
											<div class="hd_info">
												<div class="start_time fn-clear"><span>{#$list.began|date_format:"%Y-%m-%d %H:%M:%S"#}</span> <em class="t_bg"></em></div>
												<h3 class="hd_tit">{#$list.title#}</h3>
												<p class="hd_posi"><i></i>{#$list.addrname[0]#} {#$list.addrname[1]#} {#$list.addrname[2]#}</p>
											</div>
											<div class="hd_sponor fn-clear">
												<div class="userinfo">
													<div class="sponor_info">
														<div class="head_img"><img src="{#$list.userphoto#}" onerror="this.src='{#$cfg_staticPath#}images/noPhoto_40.jpg'"></div>
														<p>{#$list.username#}</p>
														<div class="hd_num fn-clear">
															<div class="left_count">
																<h5>{#$list.hdcount#}</h5>
																<p>{#$langData['huodong'][1][23]#}</p>   {#*  发布活动  *#}
																<i></i>
															</div>
															<div class="right_count">
																<h5>{#$list.fansall#}</h5>
																<p>{#$langData['huodong'][1][24]#}</p>   {#*  粉丝数  *#}
															</div>
														</div>
														<div class="btn_group">
															<span data-url="{#$list.memberurl#}" class="home_btn">{#$langData['huodong'][1][27]#}</span>  {#*  主页  *#}
															<span data-url="javascript:;" class="care_btn {#if $list.isfollow ==1#} cared {#/if#}" data-id="{#$list.uid#}"><i></i><em>{#if $list.isfollow!=1#}{#$langData['siteConfig'][19][846]#}{#else#}{#$langData['siteConfig'][19][845]#}{#/if#}</em></span>    {#*  关注  *#}
														</div>
														<s class="arr"></s>
													</div>

													<div class="left_head"><img src="{#$list.userphoto#}" onerror="this.src='{#$cfg_staticPath#}images/noPhoto_40.jpg'"></div>
													<p>{#$list.username#}</p>

												</div>
												{#if $list.reg#}<div class="reg_num"><em>{#$list.reg#}</em>{#$langData['huodong'][1][25]#}</div>{#/if#}  {#*  人报名  *#}

											</div>

											<div class="code_bg">
												<div class="code"><img src="{#$cfg_basehost#}/include/qrcode.php?data={#$list.url#}" alt=""></div>
												<i></i>
											</div>

										</a>
									</li>
									{#/huodong#}
								</ul>
				            </div>

				        </div>
				    </div>
				</div>
				<!-- 最新发布e -->

				<!-- 最多参与s -->
				<div class="fn-clear wrap2 item_box">
				    <div class="item_title fn-clear "><h1 class="h1_title">{#$langData['huodong'][1][31]#}</h1> <a class="more_list" href="{#getUrlPath service='huodong' template='list' param="orderby=reg"#}"> {#$langData['huodong'][1][30]#} </a></div>{#*  最多参与  更多>   *#}
				    <div class="itemList">
				        <div class="slideBox slideBox2">
				            <div class="bd">
								<ul class="fn-clear" >
									{#huodong action="hlist" return="list" orderby="reg"  pageSize=3#}
									<li class="fn-clear">
										<a target="_blank" href="{#$list.url#}" class="fn-clear">
											{#if $list.rec#}
											<i class="top_i"></i>
											{#/if#}
											<div class="top_img"><img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt=""></div>
											<div class="hd_info">
												<div class="start_time fn-clear"><span>{#$list.began|date_format:"%Y-%m-%d %H:%M:%S"#}</span> <em class="t_bg"></em></div>
												<h3 class="hd_tit">{#$list.title#}</h3>
												<p class="hd_posi"><i></i>{#$list.addrname[0]#} {#$list.addrname[1]#} {#$list.addrname[2]#}</p>
											</div>
											<div class="hd_sponor fn-clear">
												<div class="userinfo">
													<div class="sponor_info">
														<div class="head_img"><img src="{#$list.userphoto#}" onerror="this.src='{#$cfg_staticPath#}images/noPhoto_40.jpg'"></div>
														<p>{#$list.username#}</p>
														<div class="hd_num fn-clear">
															<div class="left_count">
																<h5>{#$list.hdcount#}</h5>
																<p>{#$langData['huodong'][1][23]#}</p>   {#*  发布活动  *#}
																<i></i>
															</div>
															<div class="right_count">
																<h5>{#$list.fansall#}</h5>
																<p>{#$langData['huodong'][1][24]#}</p>   {#*  粉丝数  *#}
															</div>
														</div>
														<div class="btn_group">
															<span data-url="{#$list.memberurl#}" class="home_btn">{#$langData['huodong'][1][27]#}</span>  {#*  主页  *#}
															<span data-url="javascript:;" class="care_btn {#if $list.isfollow ==1#} cared {#/if#}" data-id="{#$list.uid#}"><i></i><em>{#if $list.isfollow!=1#}{#$langData['siteConfig'][19][846]#}{#else#}{#$langData['siteConfig'][19][845]#}{#/if#}</em></span>  {#*  关注  *#}
														</div>
														<s class="arr"></s>
													</div>

													<div class="left_head"><img src="{#$list.userphoto#}" onerror="this.src='{#$cfg_staticPath#}images/noPhoto_40.jpg'"></div>
													<p>{#$list.username#}</p>

												</div>
												{#if $list.reg#}<div class="reg_num"><em>{#$list.reg#}</em>{#$langData['huodong'][1][25]#}</div>{#/if#}   {#*  人报名  *#}

											</div>
											<div class="code_bg">
												<div class="code"><img src="{#$cfg_basehost#}/include/qrcode.php?data={#$list.url#}" alt=""></div>
												<i></i>
											</div>

										</a>
									</li>
									{#/huodong#}
								</ul>
				            </div>

				        </div>
				    </div>
				</div>
				<!-- 最多参与e -->


			</div>
			<div class="right_con">
				<div class="item_title fn-clear wrap"><h1 class="h1_title">{#$langData['huodong'][0][2]#}</h1></div>   {#*  优秀主办方  *#}
				<div class="tab_box">
					<ul class="tab_ul fn-clear">
						<li class="on_tab">{#$langData['huodong'][1][32]#}</li>   {#*  参与榜  *#}
						<li>{#$langData['huodong'][1][33]#}</li>   {#*  粉丝榜  *#}
					</ul>
					<div class="tab_div">
						<div class="tab_con show">
							<dl>
								{#$r=0#}
								{#huodong service='huodong' action='organizer' orderby="reg" page='1' pageSize='5' #}
								{#$r = $r + 1#}
								{#if $r <= 5#}
								{#if $r==1#}
								<dt class="first_li con_li">
									<i class="px_num">1</i>
									<div class="hd_img">
										<img src="{#$row.hdarr['0']['litpic']#}">
										<div class="hd_info">
											<h2>{#$row.hdarr['0']['title']#}</h2>
											<p><em>{#$row.hdarr['0']['regnum']#}</em>人报名</p>
										</div>
									</div>
									<div class="user_info">
										<a href="{#$row.url#}"><div class="head_img"><img src="{#$row.photo#}" alt=""></div>
										<h3 class="nickname">{#$row.nickname#}</h3></a>
										<div class="count_data fn-clear">
											<div class="left_count">
												<h5>{#$row.count#}</h5>
												<p>{#$langData['huodong'][1][23]#}</p>   {#*  发布活动  *#}
												<i ></i>
											</div>
											<div class="right_count">
												<h5>{#$row.reg#}</h5>
												<p>{#$langData['huodong'][1][34]#}</p>   {#*  参与人数  *#}
											</div>
										</div>
										<a href="javascript:;" class="care_btn {#if $row.isfollow ==1#} cared {#/if#} " data-id="{#$row.uid#}"><i></i><em>{#if $row.isfollow!=1#}{#$langData['siteConfig'][19][846]#}{#else#}{#$langData['siteConfig'][19][845]#}{#/if#}</em></a>
									</div>
								</dt>
								{#else#}
								<dd class="con_li {#if $r==2#}second_li{#else if $r==3#}third_li{#/if#}">
									<i class="px_num">{#$r#}</i>
									<a class="fn-clear con_div" href="{#$row.url#}">
										<div  class="head_img"><img src="{#$row.photo#}" alt="{#$row.nickname#}"></div>
										<div class="user_info">
											<div class="nickname" title="{#$row.nickname#}">{#$row.nickname#}</div>
											<p class="count_text"><span>{#$langData['huodong'][1][35]#}<em>{#$row.count#}</em></span><span>{#$langData['huodong'][1][34]#}<em>{#$row.reg#}</em></span></p>  {#*  活动  参与人数*#}
										</div>
									</a>
								</dd>
								{#/if#}
								{#/if#}
								{#/huodong#}


							</dl>
						</div>
						<div class="tab_con">
							<dl>
								{#$r=0#}
								{#huodong service='huodong' action='organizer' orderby="fans" page='1' pageSize='5' #}

								{#$r = $r + 1#}
								{#if $r <= 5#}
								{#if $r==1#}
								<dt class="first_li con_li">
									<i class="px_num">1</i>
									<div class="hd_img">
										<img src="{#$row.hdarr['0']['litpic']#}">
										<div class="hd_info">
											<h2>{#$row.hdarr['0']['title']#}</h2>
											<p><em>{#$row.hdarr['0']['regnum']#}</em>人报名</p>
										</div>
									</div>
									<div class="user_info">
										<a href="{#$row.url#}">
											<div class="head_img"><img src="{#$row.photo#}" alt=""></div>
											<h3 class="nickname">{#$row.nickname#}</h3>
										</a>

										<div class="count_data fn-clear">
											<div class="left_count">
												<h5>{#$row.count#}</h5>
												<p>{#$langData['huodong'][1][23]#}</p>   {#*  发布活动  *#}
												<i ></i>
											</div>
											<div class="right_count">
												<h5>{#$row.fansall#}</h5>
												<p>{#$langData['huodong'][1][24]#}</p>   {#*  粉丝数  *#}
											</div>
										</div>
										<a href="javascript:;" class="care_btn {#if $row.isfollow ==1#} cared {#/if#}  " data-id="{#$row.uid#}"><i></i><em>{#if $row.isfollow!=1#}{#$langData['siteConfig'][19][846]#}{#else#}{#$langData['siteConfig'][19][845]#}{#/if#}</em></a>
									</div>
								</dt>
								{#else#}
								<dd class="con_li {#if $r==2#}second_li{#else if $r==3#}third_li{#/if#}">
									<i class="px_num">{#$r#}</i>
									<a class="fn-clear con_div" href="{#$row.url#}">
										<div  class="head_img"><img src="{#$row.photo#}" alt="{#$row.nickname#}"></div>
										<div class="user_info">
											<div class="nickname" title="{#$row.nickname#}">{#$row.nickname#}</div>
											<p class="count_text"><span>{#$langData['huodong'][1][35]#}<em>{#$row.count#}</em></span><span>{#$langData['huodong'][1][24]#}<em>{#$row.reg#}</em></span></p>  {#* 活动 粉丝数  *#}
										</div>
									</a>
								</dd>
								{#/if#}
								{#/if#}
								{#/huodong#}


							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- 周边活动s -->
		<div class="around_hd fn-clear wrap wrap2 item_box">
			<div class="item_title fn-clear "><h1 class="h1_title">{#$langData['huodong'][1][36]#}</h1> <a class="more_list" href="{#getUrlPath service='huodong' template='list'#}"> {#$langData['huodong'][1][30]#} </a></div>   {#* 周边活动 更多>  *#}
			<div class="itemList">
				<div class="slideBox slideBox2">
					<div class="bd">
						<ul class="fn-clear" >
							{#huodong action="hlist" return="list" orderby="1" pageSize=4#}
							<li class="fn-clear">
								<a target="_blank" href="{#$list.url#}" class="fn-clear">
									{#if $list.rec#}
									<i class="top_i"></i>
									{#/if#}
									<div class="top_img"><img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt=""></div>
									<div class="hd_info">
										<div class="start_time fn-clear"><span>{#$list.began|date_format:"%Y-%m-%d %H:%M:%S"#}</span> <em class="t_bg"></em></div>
										<h3 class="hd_tit">{#$list.title#}</h3>
										<p class="hd_posi"><i></i>{#$list.addrname[0]#} {#$list.addrname[1]#} {#$list.addrname[2]#}</p>
									</div>
									<div class="hd_sponor fn-clear">
										<div class="userinfo">
											<div class="sponor_info">
												<div class="head_img"><img src="{#$list.userphoto#}" onerror="this.src='{#$cfg_staticPath#}images/noPhoto_40.jpg'"></div>
												<p>{#$list.username#}</p>
												<div class="hd_num fn-clear">
													<div class="left_count">
														<h5>{#$list.hdcount#}</h5>
														<p>{#$langData['huodong'][1][23]#}</p>   {#*  发布活动  *#}
														<i></i>
													</div>
													<div class="right_count">
														<h5>{#$list.fansall#}</h5>
														<p>{#$langData['huodong'][1][24]#}</p>   {#*  粉丝数  *#}
													</div>
												</div>
												<div class="btn_group">
													<span data-url="{#$list.memberurl#}" class="home_btn">{#$langData['huodong'][1][27]#}</span>{#*  主页  *#}
													<span data-url="javascript:;" class="care_btn {#if $list.isfollow ==1#} cared {#/if#}" data-id="{#$list.uid#}"><i></i><em>{#if $list.isfollow!=1#}{#$langData['siteConfig'][19][846]#}{#else#}{#$langData['siteConfig'][19][845]#}{#/if#}</em></span> {#*  关注  *#}
												</div>
												<s class="arr"></s>
											</div>

											<div class="left_head"><img src="{#$list.userphoto#}" onerror="this.src='{#$cfg_staticPath#}images/noPhoto_40.jpg'"></div>
											<p>{#$list.username#}</p>

										</div>
										{#if $list.reg#}<div class="reg_num"><em>{#$list.reg#}</em>{#$langData['huodong'][1][25]#}</div>{#/if#}   {#*  人报名  *#}

									</div>

									<div class="code_bg">
										<div class="code"><img src="{#$cfg_basehost#}/include/qrcode.php?data={#$list.url#}" alt=""></div>
										<i></i>
									</div>

								</a>
							</li>
							{#/huodong#}
						</ul>
					</div>

				</div>
			</div>
		</div>
		<!-- 周边活动e -->

		<!-- 广告位s -->
		<div class="adv1">{#myad title="活动_模板三_电脑端_广告三" #}</div>
		<!-- 广告位e -->

		<!--猜你喜欢 s-->
		<div class="like_hd fn-clear wrap wrap2 item_box">
		    <div class="item_title fn-clear wrap"><h1 class="h1_title">{#$langData['huodong'][1][37]#}</h1></div>    {#*  猜你喜欢  *#}
		    <div class="itemList">
		        <div class="slideBox slideBox2">
		            <div class="bd">
						<ul class="fn-clear" >
							{#huodong action="hlist" return="list" orderby="suiji" pageSize=12#}
							<li class="fn-clear">
								<a target="_blank" href="{#$list.url#}" class="fn-clear">
									{#if $list.rec#}
									<i class="top_i"></i>
									{#/if#}
									<div class="top_img"><img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt=""></div>
									<div class="hd_info">
										<div class="start_time fn-clear"><span>{#$list.began|date_format:"%Y-%m-%d %H:%M:%S"#}</span> <em class="t_bg"></em></div>
										<h3 class="hd_tit">{#$list.title#}</h3>
										<p class="hd_posi"><i></i>{#$list.addrname[0]#} {#$list.addrname[1]#} {#$list.addrname[2]#}</p>
									</div>
									<div class="hd_sponor fn-clear">
										<div class="userinfo">
											<div class="sponor_info">
												<div class="head_img"><img src="{#$list.userphoto#}" onerror="this.src='{#$cfg_staticPath#}images/noPhoto_40.jpg'"></div>
												<p>{#$list.username#}</p>
												<div class="hd_num fn-clear">
													<div class="left_count">
														<h5>5</h5>
														<p>{#$langData['huodong'][1][23]#}</p>   {#*  发布活动  *#}
														<i></i>
													</div>
													<div class="right_count">
														<h5>524</h5>
														<p>{#$langData['huodong'][1][24]#}</p>   {#*  粉丝数  *#}
													</div>
												</div>
												<div class="btn_group">
													<span data-url="{#$list.memberurl#}" class="home_btn">{#$langData['huodong'][1][27]#}</span>{#*  主页  *#}
													<span data-url="javascript:;" class="care_btn" data-id="{#$list.uid#}"><i></i><em>{#$langData['huodong'][1][28]#}</em></span>{#*  关注  *#}
												</div>
												<s class="arr"></s>
											</div>

											<div class="left_head"><img src="{#$list.userphoto#}" onerror="this.src='{#$cfg_staticPath#}images/noPhoto_40.jpg'"></div>
											<p>{#$list.username#}</p>

										</div>
										{#if $list.reg#}<div class="reg_num"><em>{#$list.reg#}</em>{#$langData['huodong'][1][25]#}</div>{#/if#}{#*  人报名  *#}

									</div>

									<div class="code_bg">
										<div class="code"><img src="{#$cfg_basehost#}/include/qrcode.php?data={#$list.url#}" alt=""></div>
										<i></i>
									</div>

								</a>
							</li>
							{#/huodong#}
						</ul>
		            </div>
		            <div class="hd wrap"><ul class="fn-clear"><li class=""></li><li class=""></li><li class="on"></li></ul></div>
					<div class="btn_box">
						<a href="javascript:;" class="prev"></a>
						<a href="javascript:;" class="next"></a>
					</div>
				</div>
		    </div>
		</div>
		<!--猜你喜欢 e-->
	</div>


<!-- 底部 s-->
{#include file="_footer.html"#}
<!-- 底部 e-->

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/index.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
