<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{#if $typename#}{#$typename#}{#else#}{#$langData['huodong'][0][11]#}{#/if#} - {#$huodong_title#}</title>   {#* 找活动 *#}
		<meta name="keywords" content="{#$typename#},{#$huodong_keywords#}" />
		<meta name="description" content="{#$huodong_description#}" />
		<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" href="{#$templets_skin#}css/pub_top.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/list.css?v={#$cfg_staticVersion#}">

		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
		<script type="text/javascript">
			var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$huodong_channelDomain#}';
		</script>
	</head>
	<body>
		{#$channel = 'huodong'#}
		{#$hotline = $huodong_hotline#}
		{#include file="../../siteConfig/top1.html"#}
		{#include file="header_search.html"#}

		<div class="mainbox">
			<div class="wrap crumbs fn-clear">
			    <div class="cont">
			        <a href="{#$education_channelDomain#}">{#$huodong_channelName#}</a>
			        <span>></span>
			       {#$langData['huodong'][0][11]#}
			    </div> {#* 找活动 *#}
			</div>
			<div class="filter_box">
				<!-- 分类s -->
				<dl class="fn-clear">
					<dt>{#$langData['huodong'][0][21]#}</dt>   {#* 分类 *#}
					<dd class="filter">
						<ul  class="fn-clear">
							<li {#if $typeid == 0#} class="on_chose"{#/if#}><a href="{#getUrlPath service='huodong' template='list' param="times={#$times#}&feetype={#$feetype#}&keywords={#$keywords#}&orderby={#$orderby#}"#}">{#$langData['huodong'][1][42]#}</a></li>    {#* 全部活动 *#}
							{#huodong action='type' return='type'#}
							<li{#if $typeid == $type.id#} class="on_chose"{#/if#}><a href="{#getUrlPath service='huodong' template='list' typeid={#$type.id#} param="times={#$times#}&feetype={#$feetype#}&keywords={#$keywords#}&orderby={#$orderby#}"#}">{#$type.typename#}</a></li>
							{#/huodong#}
						</ul>
					</dd>
				</dl>
				<!-- 分类e -->

				<!-- 时间s -->
				<dl class="fn-clear">
					<dt>{#$langData['huodong'][0][20]#}</dt>  {#* 时间 *#}
					<dd class="filter">
						<ul  class="fn-clear">
							<li  {#if $times == ""#} class="on_chose" {#/if#}><a href="{#getUrlPath service='huodong' template='list' typeid={#$typeid#} param="feetype={#$feetype#}&keywords={#$keywords#}&orderby={#$orderby#}"#}">{#$langData['huodong'][0][18]#}</a></li>   {#* 不限 *#}
							<li {#if $times == "today"#} class="on_chose" {#/if#}><a href="{#getUrlPath service='huodong' template='list' typeid={#$typeid#} param="times=today&feetype={#$feetype#}&keywords={#$keywords#}&orderby={#$orderby#}"#}">{#$langData['huodong'][0][22]#}</a></li> {#* 今天 *#}
							<li {#if $times == "tomorrow"#} class="on_chose" {#/if#}><a href="{#getUrlPath service='huodong' template='list' typeid={#$typeid#} param="times=tomorrow&feetype={#$feetype#}&keywords={#$keywords#}&orderby={#$orderby#}"#}">{#$langData['huodong'][0][23]#}</a></li> {#* 明天 *#}
							<li {#if $times == "weekend"#} class="on_chose" {#/if#}><a href="{#getUrlPath service='huodong' template='list' typeid={#$typeid#} param="times=weekend&feetype={#$feetype#}&keywords={#$keywords#}&orderby={#$orderby#}"#}">{#$langData['huodong'][0][24]#}</a></li> {#* 周末 *#}
							<li {#if $times == "week"#} class="on_chose" {#/if#}><a href="{#getUrlPath service='huodong' template='list' typeid={#$typeid#} param="times=week&feetype={#$feetype#}&keywords={#$keywords#}&orderby={#$orderby#}"#}">{#$langData['huodong'][0][25]#}</a></li> {#* 近一周 *#}
							<li {#if $times == "month"#} class="on_chose" {#/if#}><a href="{#getUrlPath service='huodong' template='list' typeid={#$typeid#} param="times=month&feetype={#$feetype#}&keywords={#$keywords#}&orderby={#$orderby#}"#}">{#$langData['huodong'][0][26]#}</a></li> {#* 近一月 *#}
						</ul>
					</dd>
				</dl>
				<!-- 时间e -->

				<!-- 费用s -->
				<dl class="fn-clear">
					<dt>{#$langData['huodong'][0][17]#}</dt> {#* 费用 *#}
					<dd class="filter">
						<ul class="fn-clear">
							<li {#if $feetype == ""#} class="on_chose"{#/if#}><a href="{#getUrlPath service='huodong' template='list' typeid={#$typeid#} param="times={#$times#}&keywords={#$keywords#}&orderby={#$orderby#}"#}">{#$langData['huodong'][2][1]#}</a></li>      {#* 全部 *#}
							<li {#if $feetype == "0"#} class="on_chose"{#/if#}><a href="{#getUrlPath service='huodong' template='list' typeid={#$typeid#} param="times={#$times#}&feetype=0&keywords={#$keywords#}&orderby={#$orderby#}"#}">{#$langData['huodong'][0][19]#}</a></li>    {#* 收费 *#}
							<li {#if $feetype == "1"#} class="on_chose"{#/if#}><a href="{#getUrlPath service='huodong' template='list' typeid={#$typeid#} param="times={#$times#}&feetype=1&keywords={#$keywords#}&orderby={#$orderby#}"#}">{#$langData['huodong'][0][5]#}</a></li>    {#* 免费 *#}
						</ul>
					</dd>
				</dl>
				<!-- 费用e -->
			</div>

			<div class="wrap wrap_con fn-clear">
				<div class="left_con">
					<div class="sort">
						<ul class="fn-clear">
							<li {#if $orderby==''#} class="on_chose" {#/if#}><a href="{#getUrlPath service='huodong' template='list'  typeid={#$typeid#} orderny='click' param="feetype={#$feetype#}&keywords={#$keywords#}&orderby=''"#}">{#$langData['huodong'][2][2]#}</a></li>    {#* 默认排序 *#}
							<li  {#if $orderby=='pubdate'#} class="on_chose" {#/if#}><a href="{#getUrlPath service='huodong' template='list' typeid={#$typeid#}  param="feetype={#$feetype#}&keywords={#$keywords#}&orderby=pubdate"#}">{#$langData['huodong'][1][29]#}</a></li>    {#* 最新发布 *#}
							<li  {#if $orderby=='reg'#} class="on_chose" {#/if#}><a href="{#getUrlPath service='huodong' template='list' typeid={#$typeid#}  param="feetype={#$feetype#}&keywords={#$keywords#}&orderby=reg"#}">{#$langData['huodong'][1][31]#}</a></li>    {#* 最多参与 *#}
						</ul>
					</div>
					<ul class="list">
						{#huodong action='hlist' keywords={#$keywords#} typeid={#$typeid#} times={#$times#} feetype={#$feetype#} orderby={#$orderby#} page={#$page#} pageSize='10'#}
						<li class="fn-clear">
							<a href="{#$row.url#}" class="hdimg">
								<img src="{#$row.litpic#}" alt="{#$row.title#}">
							</a>
							<div class="rinfo">
								<a href="{#$row.url#}"><h1>{#$row.title#}</h1></a>
								<div class="hd_detail">
									<p><span class="bm_num"><i></i><em>{#$row.reg#}{#$langData['huodong'][2][3]#}</em></span> <em class="fenge">|</em> <span class="r_num"><i></i><em>{#$row.click#}</em></span></p>  {#*  人已报名  *#}
									<p><span class="hd_time"><i></i><em>{#$row.began|date_format:"%Y-%m-%d %H:%M"#}</em></span></p>
									<p><span class="hd_addr"><i></i><em>{#$row.addrname[$row.addrname|@count-2]#} {#$row.addrname[$row.addrname|@count-1]#}</em></span></p>
								</div>
								<div class="user_info fn-clear">
									<div class="u_head"><img src="{#$row.userphoto#}" alt=""><i class="vip"></i></div>
									<p class="u_nick">{#$row.username#} </p>
								</div>
								<a class="btn_baoming" href="{#$row.url#}">立即报名</a>
							</div>
							<div class="price_box">
								<span class="price_show {#if $row.feetype=='0'#}free{#/if#}">{#if $row.feetype=='0'#}{#$langData['huodong'][0][5]#}{#else#}{#echoCurrency type='symbol'#}<em>{#$row.mprice#}</em>{#$langData['huodong'][0][6]#}{#/if#}</span>   {#*  免费 起 *#}
								<em class="code_btn"></em>
							</div>
							<div class="code_box">
								<div class="code_img">
									<img src="{#$cfg_basehost#}/include/qrcode.php?data={#$row.url#}" alt="" />
								</div>
								<i class="arr"></i>
							</div>
						</li>
						{#/huodong#}
						{#if $pageInfo.totalCount == 0#}
						<li class="empty">{#$langData['huodong'][1][15]#}</li>   {#*  暂无数据  *#}
						{#/if#}
					</ul>
					{#getPageList service='huodong' template='list' typeid={#$typeid#} pageType='dynamic' param="times={#$times#}&feetype={#$feetype#}&keywords={#$keywords#}&orderby={#$orderby#}&page=#page#"#}
				</div>
				<div class="right_con">
					<!-- 热门活动 -->
					<div class="hot_box">
						<h3>{#$langData['huodong'][0][10]#}</h3>    {#*  暂无数据  *#}
						<ul>
							{#huodong action='hlist' return='list' orderby='reg' page='1' pageSize='6'#}
							<li><a href="{#$list.url#}"><em>•</em><p>{#$list.title#}</p></a></li>
							{#/huodong#}
						</ul>
					</div>

					<!-- 优秀主办方 -->
					<div class="hot_organizer">
						<h3>{#$langData['huodong'][0][2]#}</h3>   {#*  优秀主办方  *#}
						<ul>
							{#huodong service='huodong' action='organizer' page='1' pageSize='5'#}
							<li>
								<a href="{#$row.url#}" class="fn-clear">
									<div class="head_img"><img src="{#$row.photo#}" alt="{#$row.nickname#}"></div>
									<div class="user_info">
										<h5>{#$row.nickname#}</h5>
										<p><span>{#$langData['huodong'][1][35]#}<em>{#$row.count#}</em></span> <span>{#$langData['huodong'][0][9]|replace:"1":{#$row.fansall#}#}</span></p>  {#* 活动  粉丝 *#}
									</div>
								</a>
							</li>
							{#/huodong#}
						</ul>
					</div>
				</div>

			</div>
		</div>
		{#include file="_footer.html"#}
		<script type="text/javascript" src="{#$templets_skin#}js/list.js?v={#$cfg_staticVersion#}"></script>
	</body>
</html>
