.header-address{font-weight: 500;}
.header{z-index: 9 !important;}
html{height: 100%;}
body{height: 100%;}
.address_box {padding-bottom: 1rem;}
.address_box li{padding: .28rem .24rem; border-bottom: solid .01rem #F5F2ED; position: relative; }
.default_chose h3:after{content: '默认'; display: inline-block; background: rgba(252,191,28,.15); color: #FCBF1C; width: .8rem; line-height: .36rem; font-size: .24rem; text-align: center; border-radius: .04rem; margin-left: .1rem; margin-bottom: -.04rem; font-weight: normal;}
.address_box li h3{color: #222; font-size: .32rem; margin-bottom: .16rem; line-height: .36rem; font-weight: bold; }
.address_box li h3 em{margin-left: .36rem; font-size: .28rem; margin-right: .06rem; font-weight: bold;}
.address_box li p{font-size: .28rem;}
.edit_addr{display: block; width: .4rem; height: .4rem; background: url(../images/edit_btn.png) no-repeat center; background-size: cover; position: absolute; top: .5rem; right: .34rem;}

.no_chose h4{padding: 0 .24rem; line-height: .8rem; margin-top: .2rem;}
.no_chose li h3,.no_chose li p{opacity: .5;}
.chose_txt{margin-right: 1rem;}
.add_address{line-height: .98rem; color: #fff; font-size: .34rem; background: #FCBF1C; position:fixed ; bottom: 0; left: 0; right: 0; display: block; text-align: center;}
.gz-address,.gz-addr-wrap{height: 100%; transform: none !important;}
.empty{font-size: .26rem; text-align: center; color: #999; padding: .4rem; }
/*新增地址*/

.addrPage{width: 100%; background-color: #f5f5f5; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 10; /*display: none;*/}
/*.addrPage .header{border-bottom: solid .01rem;}*/
.formBox{width: 100%; }
.formBox ul{ background: #fff;}
.formBox li{padding: 0 .24rem; border-top:solid .01rem rgba(237,238,239,.6) ;}
.formBox li label{width: 20%; color: #292621; font-size: .28rem; line-height: .88rem;}

.formBox li input{width: 70%; border: none; box-sizing: border-box; padding-left: .3rem; font-size: .28rem; color: #292621;}
.formBox li.gz-addr-seladdr:after{content: ''; display: inline-block;  height: .32rem; background: url(../images/r_arr.png) no-repeat center right; background-size: .32rem; width: 10%;}

.formBox .save_btn{color: #FFF; display: block;  width: 7.02rem; margin: auto; margin-top: .3rem; line-height: .88rem; border-radius: .44rem; background-color: #FCBF1C; border: none; font-size: .34rem; box-sizing: border-box;}
.formBox .del_addr{color: #FCBF1C;  display: block;  width: 7.02rem; margin: auto; margin-top: .3rem; line-height: .88rem; border-radius: .44rem; box-sizing: border-box; border: solid .02rem  #FCBF1C; font-size: .34rem; background-color: #fff;}

.pageitem {display: none; height: 100%; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 10; background: #fff;}

.lead{ position: relative; text-align: center; height: 1rem; line-height: 1rem; background: #fff; margin-bottom: 0.2rem;}
.lead p{ width: .5rem; height: .5rem; position: absolute; left: .15rem; top: .25rem; background: url(../images/Arrow_left.png) no-repeat center; background-size: .4rem;}
.lead span{ font-size: .36rem;}
.lead b a{ position: absolute; right: 0.1rem; top: 0rem; color: #e83829; font-size: 0.28rem; width: 1rem;}

.lead input { height: .7rem; border: 1px solid #e8e8e8; border-radius: 0.1rem; width: 75%; margin-left: 0.2rem; padding-left: 0.5rem; background: url(../images/search_1.png) no-repeat 0.1rem; background-size: .4rem; text-indent: 0.2rem; font-size: 0.28rem;}

.map { position: relative; width: 100%; height: 5.5rem; background: #ccc; margin-top: -.2rem;}
#mapdiv { position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 1;}
.mapcenter { position: absolute; z-index: 2; left: 50%; top: 50%; width: .6rem; height: .6rem; margin: -.4rem 0 0 -.3rem; background: url('../images/local.png'); background-size: cover;}

.mapresults { display: none; position: absolute; top: 6.5rem; left: 0; right: 0; bottom: 0; background: #fff; overflow-y: auto; -webkit-overflow-scrolling: touch;}
.mapresults li { position: relative; padding: .1rem .2rem .1rem .6rem; border-bottom: 1px solid #efefef;}
.mapresults li:before { position: absolute; content: ""; left: .1rem; top: .2rem; width: .4rem; height: .4rem; background: url('../images/local.png'); background-size: cover;}
.mapresults li h5 { font-size: .3rem; line-height: .5rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.mapresults li p { font-size: .24rem; color: #999; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.elseStreet { display: block; width: 80%; margin: .3rem auto; border: 2px solid #f00; height: .6rem; line-height: .6rem; border-radius: .5rem; color: #f00; font-size: .3rem; text-align: center;}

.goPrev {display: block; text-align: center; line-height: 1rem; height: 1rem; margin-top: .2rem;}

/* 遮罩 */
#gzAddNewObj.gz-sel-addr-active {-webkit-transform: scale(.85,.85); transform: scale(.85,.85) translateY(-.3rem);}
.gz-sel-addr-mask {display: none; position: absolute; z-index: 2; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);}

/* 错误提示 */
.gzAddrErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 1000; visibility: hidden;}
.gzAddrErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 0; top: 50%; margin-top: -50px;}

.huoniao_iOS .gz-addr-header{display: none;}
.huoniao_iOS .gz-addr-list{top: 0;}
.tangram-suggestion-main{z-index: 999;}

/* 底部弹出 */
.pop_mask,.popl_mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.57); z-index: 11; display: none;}
.popl_mask{z-index: 12;}
.pop_box,.popl_box{background-color: #fff; position: fixed; bottom: -9rem; left: 0; right: 0; z-index: 12; padding: 0 .24rem; border-radius: .3rem .3rem 0 0; height: 8.2rem; padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); z-index: 10000;}
.popl_box{z-index: 10001;}
.pop_box h3{font-size: .3rem; color: #000; text-align: center; font-weight: bold; padding:.3rem 0; position: relative;}
.pop_box h3 .close_btn{width: .6rem; height: .6rem; background: no-repeat center url(../images/close_btn1.png) ; background-size: cover; display: block; position: absolute; top: .2rem; right: 0; }
.pop_box dl{margin-bottom: .3rem;}
.pop_box dl>dt{font-size: .26rem; color: #1C1C21; font-weight: bold; margin-bottom: .1rem;}
.pop_box dl>dd {border: solid 1px #F5F5F7; border-radius: .06rem;}
.pop_box dl>dd input{font-size: .28rem; border: none; margin: .24rem ; box-sizing: border-box;}
.pop_box dl>dd input::placeholder{color: #BBBCC4;}

/* 区号显示 */
.pop_box dl>dd .acode_show{display: inline-block; padding: .2rem; font-size: .28rem; color: #333;}
.pop_box dl>dd .acode_show::before{content: '+'; }
.pop_box dl>dd .acode_show::after{content: ''; display: inline-block; width: 0; height: 0; border: solid .1rem rgba(0,0,0,0); border-top:  solid .1rem #666; vertical-align: bottom;  margin-left: .06rem;}

.pop_box dl>dd.select,.pop_box dl>dd.option{border: none; display: flex; align-items: center; padding-left: .3rem;}
.pop_box dl>dd.select i{display: block; width: .22rem; height: .22rem; border-radius: 50%; border: solid 1px #BDC1C9; margin-right: .1rem;}
.pop_box dl>dd.select span{display: flex; align-items: center; margin-right: 1.4rem;}
.pop_box dl>dd.select span.chosed i{border: solid 1px #00BA8C; position: relative;}
.pop_box dl>dd.select span.chosed i::before{content: ''; display: block; width: .11rem; height: .11rem; border-radius: 50%; background-color: #00BA8C; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.pop_box dl>dd.textarea{height: 1.7rem; overflow: auto; box-sizing: border-box; padding: .2rem ;}
.pop_box dl>dd.textarea .txt_con{width: 100%; height: 100%; font-size: .28rem; }
.pop_box dl>dd.textarea .txt_con:empty::before{color:#BBBCC4; content:attr(placeholder);}
.pop_box dl>dd.option{display: block;}
.pop_box dl>dd.option span{display: inline-flex; align-items: center; color: #303133; font-size: .28rem; margin-right: .6rem; flex-wrap: wrap; margin-bottom: .2rem;}
.pop_box dl>dd.option span i{display: block; width: .3rem; height: .3rem; background: url(../images/chose1.png) no-repeat center; background-size: cover; margin-right: .1rem;}
.pop_box dl>dd.option span.chosed i{background-image: url(../images/chose2.png);}
.popl_box h2 .back{color: #999; font-size: .3rem; position: absolute; right: .58rem; font-weight: normal;}
.areaList,.timeList{padding-top: 1.4rem; height: 100%; box-sizing: border-box; top: 0; left: 0; right: 0; position: absolute; }
.areaList ul,.timeList ul{height: 100%; overflow: auto;}
.areaList ul li,.timeList ul li{margin: 0 .3rem; line-height: .88rem; color: #333; font-size: .3rem;  border-radius: .1rem; padding: 0 .2rem;}
.areaList ul li.achose,.timeList ul li.achose{background: #F0F0F2; font-weight: bold;}
.anum_box h2{line-height: 1.1rem; text-align: center; font-size: .34rem; color: #000; font-weight: bold; border-bottom: solid 1px #f5f5f8; position: relative; z-index: 10;}
.anum_box h2 .cancel,.pop_box h2 .back{color: #999; font-size: .3rem; position: absolute; right: .58rem; font-weight: normal;}
.anum_box h2 .back{left: .43rem; right: auto; position: absolute;  }

.mobbox{display: inline-block; width: 70%;}
.mobbox .acode_show{display: inline-block; padding: .2rem; font-size: .28rem; color: #333;}
.mobbox .acode_show::before{content: '+'; }
.mobbox .acode_show::after{content: ''; display: inline-block; width: 0; height: 0; border: solid .1rem rgba(0,0,0,0); border-top:  solid .1rem #666; vertical-align: bottom;  margin-left: .06rem;}