body, html{background:#fff; overflow-x: hidden;height: 100%;min-height: 100%;}
em, i{font-style: normal;}
.pageitem {display: none; height: 100%;}
/*取货地址*/
.choseWrap{background: #F9F9F9;min-height: 100%;}



/* 遮罩 */
#gzAddNewObj.gz-sel-addr-active {-webkit-transform: scale(.85,.85); transform: scale(.85,.85) translateY(-.3rem);}
.gz-sel-addr-mask {display: none; position: absolute; z-index: 2; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);}

/* 错误提示 */
.gzAddrErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 1000; visibility: hidden;}
.gzAddrErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 0; top: 50%; margin-top: -50px;}

.huoniao_iOS .gz-addr-header{display: none;}
.huoniao_iOS .gz-addr-list{top: 0;}
.tangram-suggestion-main{z-index: 999;}

