
/*底部*/
.fixFooter{position: fixed; bottom: 0; left: 0; right: 0; z-index: 500; height: .9rem; background: #fff; border-top: 1px solid #e4e4e3; font-size: .24rem; -webkit-animation: FadeIn .15s ease-out; -moz-animation: FadeIn .15s ease-out; animation: FadeIn .15s ease-out; padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom));}
.fixFooter ul{display: -webkit-box;}
.fixFooter ul li{-webkit-box-flex: 1; text-align: center;}
.fixFooter ul li a{display: block;}
.fixFooter ul li i{display: block; width: .48rem; height: .48rem; margin: .05rem auto 0;}
/* .fixFooter ul li.ficon1 i{background: url(../images/aficon1.png) center center no-repeat; background-size: .48rem auto;}
.fixFooter ul li.ficon3 i{background: url(../images/aficon2.png) center center no-repeat; background-size: .48rem auto;}
.fixFooter ul li.ficon5 i{background: url(../images/aficon3.png) center center no-repeat; background-size: .48rem auto;}
.fixFooter ul li.ficon4 i{background: url(../images/aficon4.png?v=1) center center no-repeat; background-size: .48rem auto;} */
.fixFooter ul li i img{width: 100%; height: 100%; object-fit: cover;}
.fixFooter ul li p{font-size: .2rem; color: #4D4D4F;}