body,html{background: #f5f5f5;}
.header-address{font-weight: normal;}

.coupon_list{padding-bottom: 1.2rem;}
.ul_list{margin:  .3rem .24rem 0 ;}
.ul_list li{background: #fff; position: relative; overflow: hidden; margin-bottom: .2rem;}
.ul_list li a{display: block;}
.left_num{float: left; width:2.2rem; text-align: center; height: 2rem; color: #fff; position: relative;background-image: radial-gradient(transparent 0, transparent .05rem, #5596FF .05rem); background-size: .2rem .2rem;background-position: .1rem 0; overflow: hidden;}
.ul_list li.chosed:before{content: '已选'; font-size: .24rem; color: #EC7636; position:absolute ; top: 0.05rem; left: -.16rem; background: #FFEA8B; line-height: .32rem; display: block;z-index: 3; width: 1.04rem; text-align: center; transform: rotate(-45deg); transform-origin:bottom center;}
.left_num:before{content: ''; display: block; background: #5596FF; position: absolute; left: 0; right: 5px; top: 0; bottom: 0; }
.left_num h3{font-size: .5rem; margin-top: .5rem; line-height: 1.4em; position: relative;z-index: 2;}
.left_num h3 em{font-size: .8rem;}
.left_num p{font-size: .24rem; position: relative; z-index: 2;}
.right_btn{float: right; width: .8rem; color: #5596FF; font-size: .24rem; text-align: center; height: 2rem; padding-top: .4rem; box-sizing: border-box; line-height: 1.4em; border-left: dashed .01rem #E6E6E6;}
.coupon_info{margin-left: 2.64rem; margin-right: 1.2rem; height: 2rem; position: relative;}
.coupon_info h2{font-size: .32rem; color: #222; font-weight: bold;padding-top: .18rem; line-height: 1.4em;display: -webkit-box;  -webkit-box-orient: vertical; -webkit-line-clamp: 2;overflow: hidden; height: .8rem; }
.coupon_info h2:after{content: ''; display: inline-block; height: .8rem; vertical-align: middle;}
.coupon_info h2 span{vertical-align: middle; display: inline-block;}
.coupon_info p{color: #97989C; font-size: .24rem; position: absolute; bottom: .56rem; }

.ul_list li.no_chose .left_num{background-image: radial-gradient(transparent 0, transparent .05rem, #E6E6E6 .05rem);}
.ul_list li.no_chose .left_num:before{background-color: #E6E6E6;}
.ul_list li.no_chose .right_btn{display: none;}
.ul_list li.no_chose .coupon_info h2{color: #97989C;}

/*不可用提示*/
.no_tip{line-height: .8rem; color: #97989C; font-size: .24rem; padding: 0 .28rem; border-top: solid .01rem #f5f5f5; box-sizing: border-box;}
.no_tip:before{content: ''; display: inline-block; width: .26rem; height: .26rem; background: url(../images/tip.png) no-repeat center; background-size: cover; margin-bottom: -.04rem; margin-right: .12rem;}
.ul_list li.no_chose:before,.ul_list li.no_chose:after{content: ''; display: block; width: .24rem; height: .24rem; background-color: #f5f5f5; position: absolute; top: 1.88rem; z-index: 4; border-radius: 50%;}
.ul_list li.no_chose:before{left: -.12rem;}
.ul_list li.no_chose:after{right: -.12rem;}
.no_use{color: #222; font-size: .34rem; text-align: center; line-height: .98rem; background: #fff; position: fixed; bottom: 0; right: 0; left: 0; }

.loading{font-size: .3rem; color: #999; text-align: center; padding: .3rem;}