body,html{ height: 100%; display: block;}
.search{ height: 1rem; line-height: 1rem; background: #fff; border-radius: .5rem;}
.huoniao_iOS .goBack{display: none;}
.huoniao_iOS .search input {width: 90%; margin-left: 2%;}
.search i{ width: .8rem; height: .95rem; display: inline-block; background: url(../images/Arrow_left.png) no-repeat center center; background-size: .4rem; float: left;}
.search input{ height: .7rem; border: none; border-radius: 0.35rem; width: 80%; padding-left: 0.6rem; background: #f5f5f5 url(../images/search_1.png) no-repeat 0.2rem; background-size: .4rem; text-indent: 0.2rem; font-size: 0.28rem;}
.search button{ border:none; background: #fff; font-size: 0.3rem; margin-left: 0.2rem;}
.history{ display: none;}
.all_shan{ display: none; height: 1rem; line-height: 1rem; text-align: center; font-size: 0.3rem; color: #ff0000; background: #fff;}
.title{position: relative; padding: .2rem .3rem; font-weight: 400; font-size: .28rem;}
.wordsBox ul{padding: 0 .3rem;}
.wordsBox li{background: #f5f5f5; float: left; margin-right: .2rem; border-radius: .04rem; text-align: center;}
.wordsBox li a{ height: .6rem; line-height: .6rem; font-size: 0.26rem; display: block; padding: 0 .3rem; color: #666;}
.title .all_shan{position: absolute; width: .8rem; height: .8rem; background: url(../images/clear_btn.png) center center no-repeat; background-size: .3rem; right: 0; top: 0;}
