
.noscroll,
.noscroll body {
    overflow: hidden;
}
.noscroll body {
    position: relative;
}
.header {position: fixed; top: 0; left: 0; right: 0;}
.huoniao_iOS .fenlei_box{top:0;}
.huoniao_iOS body{padding-top:.9rem}
.huoniao_iOS .fixedtop{top:.9rem;}
body{padding-top: 1.8rem;}
.fenlei_box{overflow: hidden; height: .9rem;position: relative; z-index: 10; background: #fff; position: fixed; top: .9rem; left: 0; right: 0;}
.fenlei_box ul{margin-right: .8rem; white-space: nowrap; overflow: auto; padding-bottom:.22rem ; -webkit-overflow-scrolling: touch;}
.fenlei_box ul li{display: inline-block; margin-left: .44rem; font-size: .28rem; line-height: .8rem; position: relative;}
.fenlei_box ul li:nth-last-child(1){margin-right: .4rem;}
.fenlei_box ul li a{color: #636466;}
.fenlei_box ul li.li_active a{ font-size: .32rem; color: #FFA800; font-weight: bold; }
.fenlei_box ul li.li_active:after{content: ''; display: block; width: .38rem; height: .06rem; border-radius: .03rem; background-color:#FFA800 ; position: absolute; bottom: 0; left: 50%; margin-left: -.19rem; box-shadow:0 .03rem .07rem 0 rgba(144,105,0,0.27);}
.fenlei_box .search_btn{float: right; width: .8rem; height: .8rem; background:#fff url(../images/search_icon.png) no-repeat center; background-size: .32rem; z-index: 9; position: relative;}
.fenlei_box:before{content: ''; display: block; width: 1.07rem; height: .86rem; background: url(../images/bg.png) no-repeat center; background-size: cover; position: absolute; z-index: -1; right: 0.06rem ; top: 0; z-index: 8;}

/*排序表头*/
.left_tab{float: left; }
.left_tab li{display: inline-block; margin-right: .56rem;}
/*.pxBox{padding-top: .35rem;}*/
.pxBox .left_tab li a{font-size: .26rem; color: #636466;}
.pxBox li.px_li.li_click a{font-weight: bold; color: #222;}
.pxBox .left_tab li.composite a{color: #222; font-weight: bold;}
.pxBox .left_tab li.composite:after{content: ''; display: inline-block; width: .22rem; height: .22rem; background: url(../images/down_arr1.png) no-repeat center; background-size: cover; margin-left: .12rem;}
.pxBox .left_tab li.composite.slideUp:after{transform: rotate(180deg);}
.pxBox  .right_btn{float: right; font-size: .26rem;}
.pxBox  .right_btn:after{content: '' ; display: inline-block; width: .26rem; height: .26rem; background: url(../images/saixuan.png) no-repeat center; background-size: cover; vertical-align: middle;}
.pxBox  .right_btn a{color:#636466  ; vertical-align: middle; margin-right: .15rem;}

.fast_screen{display: flex; justify-content: space-between; }
.fast_screen li a{font-size: .24rem; color: #636466; line-height: .6rem;}
.fast_screen li{background-color: #F5F5F5; border-radius: .03rem; padding: 0 .36rem;}

/*列表li*/
.cont_box ul .left_logo{width: 1.4rem; height: 1.4rem; border-radius: .06rem; border: solid .02rem #e5e5e5; float: left; position: relative;}
.cont_box ul .left_logo i{display: block; width: 100%; line-height: .34rem; color: #fff; text-align: center; position: absolute; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.8);}
.cont_box ul .left_logo img{width: 100%; height: 100%; object-fit: cover; object-position: top center; border-radius: .06rem;}
.cont_box ul .li_box{padding: .32rem .22rem; padding-bottom: 0;}
.cont_box ul li.li_box:nth-last-child(1){border: none;}
.cont_box ul .li_box a{display: block;}
.li_box.brand_shop .left_logo:before{content: ''; display: none; width: .6rem; height: .36rem; position: absolute; background: url(../images/brand_icon.png) no-repeat top left; background-size: cover; left: -.02rem; top: -.08rem;}
.right_detail{margin-left: 1.64rem; padding-bottom: .32rem; }
.li_box{border-bottom: solid .02rem #E8E9EB;}
.li_box:nth-last-child(1){border-bottom: none;}
.right_detail h3{font-size: .32rem; color: #333; font-weight: bold; line-height: .38rem;}
.right_detail .shop_info{margin-top: .2rem; color: #97989C; overflow: hidden;}
.right_detail .shop_info .left_info{float: left; }
.right_detail .shop_info .left_info .fen{color: #FFA800; font-size: .26rem; line-height: .28rem; margin-right: .3rem; vertical-align: middle;}
.right_detail .shop_info .left_info .fen:before{content: ''; display: inline-block; width: .28rem; height: .28rem; background: url(../images/star.png) no-repeat center; background-size: cover; margin-bottom: -.04rem; margin-right: .06rem;}
/*.right_detail .shop_info .left_info .fen em{vertical-align: middle;}*/
.right_detail .shop_info .left_info .shop_sale{color: #636466; vertical-align: middle;}
.right_detail .shop_info .right_info{float: right;}
.right_detail .shop_info .right_info span{margin-left: .26rem;}
.right_detail .shop_info .left_info .fen.no_com{font-size: .24rem; color: #999; }
.right_detail .shop_info .left_info .fen.no_com:before{background-image: url(../images/star_01.png)}
.ps_info{margin-top: .2rem;}
.ps_info .left_ps {float: left;}
.ps_info .left_ps span{margin-right: .32rem; color:#636466; font-size: .24rem;}
.ps_info .ps_name{width: .94rem; line-height: .32rem; border-radius:.06rem 0 .06rem  0; font-size: .2rem; color: #00a9ff; border: solid .01rem #8ed9ff; text-align: center; float: right;}

.hui_info {margin-top: .16rem; padding-bottom: .02rem; padding-right: .6rem; position: relative;}
.hui_info .open_hui{display: block; width: .2rem; height: .2rem; background: url(../images/down_arr1.png) no-repeat center; background-size: cover; position: absolute; right: 0; top: .04rem;}
.hui_info span{display: inline-block; line-height: .25rem; color: #FF635C; font-size: .2rem; padding: .05rem .06rem; border-radius: .06rem 0 .06rem 0; border: solid 1px #ffd6d4; margin-right: .1rem; margin-bottom: .1rem; box-sizing: border-box;}
.first_tip,.discount_tip{font-size: .22rem; color: #636466; line-height: .28rem; margin-top: .1rem;}
.first_tip>i,.discount_tip>i{color: #fff; width: .54rem; height: .28rem;background: no-repeat center; background-size: cover; content: ''; display: inline-block; margin-right: .1rem; vertical-align: middle; color: #fff; font-size: .18rem; text-align: center; border-radius: .06rem 0 .06rem 0;}
.first_tip>i{background: #4FD059;}
.discount_tip>i{background: #FF6B61;}

/*搜索*/
.search_box{margin:.15rem .24rem ; height: .58rem; border-radius: .29rem; background-color: #F5F6F8; position: relative;}
.search_box:before{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/search_icon.png) no-repeat center; background-size: .3rem; position: absolute; left: .3rem; top: .14rem;}
.search_box input{width: 100%; padding:.14rem .2rem .16rem .84rem ; border: none; background: none; box-sizing: border-box; line-height: .3rem;}
.pro_show{margin-top: .2rem; white-space: nowrap; overflow-x: auto; overflow-y: hidden; -webkit-overflow-scrolling: touch;}
.pro_show li{display: inline-block; margin-right: .1rem;}
.pro_img{width: 2rem; height: 2rem; border-radius: .06rem; overflow: hidden;}
.pro_img img{display: block; width: 100%; height: 100%; object-fit: cover;}
.pro_info{margin-top: .13rem;}
.pro_info h4{color: #222; font-size: .24rem; font-weight: normal; line-height: .25rem;}
.pro_info p{color: #FF635C; font-weight: bold; font-size: .36rem; margin-top: .04rem; font-family: moneyNumber;}
.pro_info i{color: #97989C; font-size: .22rem; text-decoration: line-through; margin-left: .1rem;}
.pro_info em{font-size: .24rem;}
::-webkit-scrollbar {/*隐藏滚轮*/
display: none;
}

.px_box{width: 100%; font-size: .26rem; color: #222; padding: .24rem 0; line-height: .6rem; display: none;}
.mask{width: 100%; height: 100%; background: rgba(0,0,0,.5); position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 9; display: none;}
.fixedtop{position: fixed; top: 1.8rem; right: 0; left: 0;z-index: 10; background: #fff; z-index: 11; box-shadow: 0 .02rem .1rem rgba(0,0,0,.1);}


/*价格区间样式*/
.choose-price-user .irs--big .irs-line{height: .04rem !important; border-radius: .02rem !important; border: none !important;}
.choose-price-user .irs--big .irs-bar{height: .04rem !important; border-radius: .02rem !important; background:  #00a9ff !important; border: none; box-shadow: none;}
.choose-price-user .irs--big .irs-handle{width: .48rem !important; height: .48rem !important; background:#fff ; background-size: contain; box-shadow: none !important; top: .36rem; border: solid .02rem #8ed9ff;}
.choose-price-user .irs--big .irs-bar.state_hover, .irs--big .irs-handle:hover{ background: none; background:url("../images/btn_price.png") no-repeat !important; background-size: contain !important; border: 0 !important;}
.irs-grid{display: none !important;}
.irs--big .irs-min, .irs--big .irs-max{display: none;}
.irs--big .irs-from, .irs--big .irs-to, .irs--big .irs-single{background: none !important; color: #a0a0a0 !important;}
.price_text{display: inline-block; margin-left: .2rem;}
.price_range{margin-top: .2rem;}
.price_range h3{margin-bottom: .2rem;}
/*筛选*/
.right_saixuan{display: none;}
.right_saixuan dl{overflow: hidden; margin-top: .2rem;}
.right_saixuan dt,.price_range h3{color: #999; font-size: .22rem; font-weight: normal;}
.right_saixuan dd{border-radius: .04rem; color: #636466; font-size: .24rem; background-color: #F5F5F5; width: 2.2rem; float: left; text-align: center; line-height: .6rem; margin-right: .2rem; margin-top: .2rem;}
.right_saixuan dd.dd_chose{color: #FFA800; background: rgba(252,191,28,.1);}
.right_saixuan dd:nth-child(3n+1){margin-right: 0;}
.right_saixuan dd.choose-price-user{width: 100%; background: none;}

.btn_group a{display: block;width: 50%; float: left; line-height: .88rem; text-align: center; font-size: .3rem; color: #222;}
.btn_group a.sure_btn{color: #fff; background-color: #FFA800;}
.btn_group {border-top: solid .01rem #eee ;}
.dt_box,.right_saixuan dl,.price_range,.px_box{padding: 0 .22rem;}
.dt_box{padding: .24rem .22rem .24rem .22rem;}
.shaixuan.fixedtop{padding: .24rem; background: #fff;}
.shaixuan{padding: 0 .24rem;}

.loading{font-size: .26rem; color: #666; text-align: center; padding: .4rem;}
.swiper_box .swiper-wrapper{padding-bottom: 1.2rem;}

.swiper-container.swiper_box{padding-bottom: 1rem !important;}
.li_hide.li_box{display: none !important;}

.fast_screen li.fast_active{color: #FFA800; background: rgba(252,191,28,.1);}
.fast_screen li.fast_active a{color: #FFA800;}
/* .li_click a{color: #00a9ff !important;} */


/* 字体 */

@font-face {
	font-family: moneyNumber;
	src: url('../font/Nmoney.otf'),
		url('../font/Nmoney.TTF'),
		url('../font/Nmoney.svg'),
		 url('../font/Nmoney.woff'); /* IE9 */
}
