.header-address{font-weight: 500;}

.success_box{margin:1.66rem .75rem 0; text-align: center;}
.success_box img{width: 2rem; margin: auto; display: block;}
.success_box h2{font-size: .4rem; color: #333; font-weight: normal; margin-bottom: .14rem; margin-top: .14rem;}
.success_box p{color: #97989C; font-size: .22rem; margin-bottom: .7rem;}
.success_box a{display: block; line-height: .88rem; border-radius: .44rem; font-size: .32rem; margin-top: .33rem;}
.success_box a.order-go{border: solid .02rem #FCBF1C; color: #FCBF1C;}
.success_box a.ordernum-to{color: #fff; background: #FCBF1C;}
