html,body{background-color: #f5f5f5;}
.header-address{font-weight: 500;}

.order_state{margin: .24rem; background: #fff; padding: .4rem;border-radius: .1rem; display: none;}
.order_state.show{display: block;}
.order_state h2{color: #222; font-size: .36rem;  text-align: center; font-weight: bold;}
.order_state h2:after{display: inline-block; width: .26rem; height: .26rem; background: url(../images/right_arr.png) no-repeat center; background-size: cover; content: ''; margin-left: .1rem;}
.order_state p.tip{color: #97989C; font-size: .24rem; text-align: center; margin-top: .16rem; margin: .22rem;}
.order_state p.cdown{text-align: center; font-size: .24rem ; color: #636466;  }
.order_state p.cdown:before{content: ''; display: inline-block; width: .24rem; height: .24rem; background: url(../images/clock.png) no-repeat center; background-size: cover; vertical-align: middle; margin-right: .06rem;}
.order_state p.cdown em{color: #ffa800;}
.btn_group{text-align: center;margin-top: .3rem;}
.btn_group a{display: inline-block; text-align: center; line-height: .6rem; padding: 0 .25rem; border: solid .01rem #E8E9EB; font-weight: 400; margin: 0 .02rem;}
.btn_group a.pay_btn,.btn_group a.commt_btn,.btn_group a.sure_btn{color: #fff; background: #FCBF1C; border: none;}

.map_show{width: 100%; height: 2.6rem; background: #f5f5f5; margin-top: .38rem;}

/*订单详情*/
.dl_box{margin: .2rem .24rem; background-color: #fff; border-radius: .1rem; }
.dl_box dt{padding: .2rem .2rem .26rem .2rem; position: relative; border-bottom: solid .01rem #E8E9EB; margin-bottom: .2rem;}
.dl_box dt h2{font-size: .3rem; color: #333; font-weight: 600;}
.dl_box dt h2 a:before{content: ''; display: inline-block; width: .26rem ;height: .26rem; background: url(../images/right_arr.png) no-repeat center; background-size: cover; float: right; margin-top: .1rem;}
.dl_box dt .clear_btn{display: block; font-size: .24rem; color: #97989C; position: absolute; right: .26rem; top: .46rem;}
.dl_box dt .clear_btn:before{content: ''; display: inline-block; width: .26rem; height: .26rem; background: url(../images/del_btn.png) no-repeat center; background-size: cover; margin-bottom: -.04rem; margin-right: .04rem;}

.cart_con li{padding:.2rem .24rem; position: relative;}
.left_pro{width: 1.2rem; height: 1.2rem; border-radius: .06rem; overflow: hidden; float: left;}
.left_pro img{width: 100% ; height: 100%; object-fit: cover;} 
.right_info{margin-left: 1.62rem; height: 1.2rem; position: relative;}
.right_info h3{font-size: .3rem; color: #222; font-weight: bold;}
.right_info p{font-size: .2rem; color: #98979C; margin-top: .12rem;}
.right_info span{display: block; font-size: .3rem; color: #222; position: absolute; right: 0; top: .5rem;}
.right_info span em{font-size: .2rem;}

.price_calculate{ font-size: .28rem; color: #222; padding-top: .2rem; padding-bottom:.2rem ; margin: 0 .24rem; border-bottom: solid .01rem #E8E9EB;}
.price_calculate p{padding: .14rem 0rem;}
.on_discount:before{content: '';  display: inline-block; width: .34rem; height: .28rem; background:url(../images/dis_1.png) no-repeat center ; background-size: cover; margin-bottom: -.04rem; margin-right: .02rem;}
.on_full:before{content: '';  display: inline-block; width: .34rem; height: .28rem; background:url(../images/full_1.png) no-repeat center ; background-size: cover; margin-bottom: -.04rem; margin-right: .02rem;}
.on_first:before{content: '';  display: inline-block; width: .34rem; height: .28rem; background:url(../images/fir_1.png) no-repeat center ; background-size: cover; margin-bottom: -.04rem; margin-right: .02rem;}
.price-hui,.fee_num{font-size: .22rem; color: #FF635C; float: right;}
.price-hui em,.fee_num em{font-size: .3rem;}
.fan-fee .price-hui{font-size: .24rem; margin-top: .06rem;}
.fan-fee:before{content: '';display: inline-block; width: .34rem; height: .28rem; background: url(../images/fan.png) no-repeat center; background-size: .34rem auto; margin-bottom: -.04rem; margin-right: .02rem;}
.fee_num{color: #222;}
.play_btn{font-size: .24rem;}
.pay_box{padding: .2rem .24rem; text-align: right;}
.hui_count{font-size: .24rem; margin-right: .3rem;}
.hui_count em{color: #ff635c;}
.pay_btn .count_fee em{ font-size: .36rem;}
.contact_shop{float: left; font-size: .3rem; color: #FFA800; margin-top: .06rem;}
.contact_shop:before{content: ''; display: inline-block; width: .34rem; height: .34rem; background: url(../images/phone.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .08rem; margin-right: .04rem;}

/*配送信息*/
.ps_box .dl_box dt,.order_box .dl_box dt,.zq_box .dl_box dt{margin-bottom: 0;}
.ps_box .dl_box dd,.order_box .dl_box dd,.zq_box .dl_box dd{font-size: .28rem; color: #636466; text-align: right; padding: .26rem .26rem .26rem .22rem ; border-bottom: solid .01rem rgba(232,233,235,.6);}
.ps_box .dl_box dd:last-child,.order_box .dl_box dd:last-child,.zq_box .dl_box dd:last-child{border: none;}
.ps_box .dl_box dd label,.order_box .dl_box dd label,.zq_box .dl_box dd label{float: left; color: #222;}
.ps_box .dl_box dd span,.order_box .dl_box dd span,.zq_box .dl_box dd span{display: inline-block; max-width: 80%;}
.ps_box .dl_box dd span .contact_shop{float: none;}
.ps_box .dl_box dd span .contact_shop:after{content: ''; display: inline-block; width: .02rem; height: .28rem; background-color: #E8E9EB; margin-left: .26rem; margin-right: .2rem; margin-bottom: -.04rem;}

/*订单跟踪*/
.mask_pop{position:fixed; background: rgba(0,0,0,.78); top: 0; left: 0; right: 0; bottom: 0; display: none;}
.pop_page{height: 7.56rem; position: fixed; bottom: -7.56rem; left: 0; right: 0; background: #fff;}
.pop_page h2{text-align: center; font-size: .32rem; color: #222; line-height: .88rem; border-bottom: solid .01rem #E8E9EB; position: relative; font-weight: bold;}
.pop_page h2 a.close_btn{display: block; width: .34rem; height: .34rem; background: url(../images/close_btn1.png) no-repeat center ; background-size: cover; position: absolute; top: .24rem; right: .24rem;}
.pop_page ul{padding: .55rem; padding-left: .6rem;}
.pop_page ul li{height: .88rem; padding-left: .3rem; border-left: solid .02rem #FCBF1C; position: relative;}
.pop_page ul li:before{content: ''; display: block; width: .15rem; height: .15rem; border-radius: 50%; background: #FCBF1C; position: absolute; left: -.09rem; top: 0;}
.pop_page ul li:last-child{border: none; left: 0.02rem;}
.pop_page ul li .left_state{float: left; font-size: .26rem; color: #222;line-height: 1.1em;}
.pop_page ul li .right_time{float: right; color: #97989C;  font-size: .26rem;}
.pop_page ul li .li_info{overflow: hidden;}
.pop_page ul li .tip{font-size: .26rem; color: #97989C; margin-top: .2rem;}

/*取消订单确认*/
.pop_confirm{width: 5rem; height: 2.7rem; position: fixed; top: 2rem; left: 50%; margin-left: -2.5rem; border-radius: .3rem; background: #fff; overflow: hidden;box-shadow:0 .07rem .37rem 0 rgba(0, 0, 0, 0.23); display: none;}
.pop_tip{height: 1.8rem; border-bottom: solid .02rem #DCDDE0; font-size: .34rem; text-align: center; position: relative;}
.pop_tip p{position: absolute; top: 50%; left: 0; right: 0; margin-top: -.2rem; padding: 0 .24rem;}
.pop_btn {overflow: hidden;}
.pop_btn a{display: block; width: 50%; float: left; text-align: center; font-size: .32rem; color: #333; line-height: .88rem;}
.pop_btn a.sure_btn{background: #FEFAF0; color: #FFA800; box-sizing: border-box; border-left:solid .02rem  #DCDDE0;}
