html,body{background: #f5f5f5;}
.tab_box ul{display: flex; justify-content: space-around; padding-bottom: .2rem; position: relative; z-index: 2;}
.tab_box ul li{font-size: .32rem; line-height: .88rem; color: #636466;}
.tab_box:before{content: ''; display: block; width: 100%; height: .88rem; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: #fff;}
.tab_box{position: relative;}
.tab_box ul li.on_tab{ color: #FCBF1C; position: relative; font-weight: 700;}
.tab_box ul li.on_tab:before{content: ''; display: block; width: .38rem; height: .06rem; border-radius: .03rem; background: #FCBF1C; position: absolute; bottom: 0; left: 50%; margin-left: -.19rem; box-shadow:0 .03rem .07rem 0 rgba(144,105,0,0.27);  transform: translate3d(0, 0, 0);}

/*列表*/
.tab_con .order_list li{padding: .2rem .2rem .28rem; background: #fff; position: relative; margin-bottom: .2rem;box-sizing: border-box; margin: .24rem; border-radius: .1rem;}
.left_logo{width: 1rem; height: 1rem; border-radius: .1rem; border: solid .01rem #eee; overflow: hidden; float: left;}
.left_logo img{width: 100%; height: 100%; object-fit: cover;}
.shop_info{margin-left: 1.4rem; padding-top: .14rem;}
.shop_info h2{color: #222; font-size: .3rem; line-height: .4rem; margin-bottom: .02rem;margin-right: 1.2rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.shop_info h2:after{content: ''; display: inline-block; width: .3rem; height: .4rem; background: url(../images/right_arr.png) no-repeat center; background-size: .3rem; vertical-align: middle; margin-bottom: .04rem;}
.shop_info p.order_time{color: #97989C;}

.shop_info .order_info {margin-top: .45rem;}
.shop_info .order_info .order_detail{float: left;  font-size: .26rem;}
.shop_info .order_info .order_detail span{display: inline-block; max-width: 2.3rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; vertical-align: middle; margin-bottom: .04rem;}
.shop_info .order_info h3{float: right; font-size: .22rem; color: #222;}
.shop_info .order_info h3 em{font-size: .3rem;}
.shop_info .order_info{overflow: hidden;}
.btn_group {text-align: right; margin-top: .26rem;}
.btn_group a{display: inline-block; width: 1.6rem; line-height: .6rem; border: solid .01rem #E8E9EB; text-align: center; font-size: .28rem; margin-left: .16rem;}
.btn_group a.com_order{background: #FCBF1C; color: #fff; border: none;}
.order_state{ position: absolute; font-size: .24rem; color: #636466; display: block; right: .2rem; top: .32rem; text-align: right;}
.order_state p{color: #97989C; margin-top: .1rem; font-size: .24rem;}

/* 地图相关 */
.map_show{width: 100%; height: 2.6rem; background: #f5f5f5; margin-top: .3rem;}
.map {position: relative; display:block;height:2.6rem; margin-top: 0;}
#map {position: relative; z-index: 1; width: 100%; height: 2.6rem;}
.map .market {position: absolute; z-index: 2; left: 50%; top: 50%; width: .6rem; height: .6rem; margin: -.4rem 0 0 -.3rem; background: url('/static/images/local.png'); background-size: cover;}
.refresh {width:100%;height:1rem;line-height:1rem;font-size:0.3rem;background:#e95249;text-align:center;color:#fff;position:fixed;bottom:0;left:0;right:0;}
.refresh:hover {color: #fff;}

.mapPath {position: fixed; left: 0; top: 0; right: 0; bottom: 0; background: #fff; z-index: 10; display: none;}
#mapPath {position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 1;}

.mapBtn {position: absolute; z-index: 2; left: 0; top: 0; right: 0;}
.mapBtn button {position: absolute; top: .3rem; width: .8rem; height: .8rem; background-color: #fff; background-position: center; background-repeat: no-repeat; box-shadow: 0 0 5px rgba(0, 0, 0, .2); border: 0; border-radius: 3px; outline: 0;}
#closeMap {left: .3rem; background-image: url('/static/images/close_2.png'); background-size: .4rem;}
#refreshMap {right: .3rem; background-image: url('/static/images/refresh.png'); background-size: .4rem;}

.bubble {-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-transition: background-color .15s ease-in-out; -moz-transition: background-color .15s ease-in-out; -o-transition: background-color .15s ease-in-out; transition: background-color .15s ease-in-out; cursor: pointer; opacity: 0.9; width: 40px; height: 40px; background-size: cover;}
.bubble.shop {background-image: url('/static/images/shop_local.png?v=1');}
.bubble.courier {background-image: url('/static/images/courier_local.png?v=1');}
.bubble.person {background-image: url('/static/images/person_local.png?v=1'); width: 30px; height: 30px;}

.ci_list .ci_left {float:left;width:25%;box-sizing:border-box;margin-top:.5rem; padding-bottom: .5rem;}
.ci_list .ci_left .point {width:1rem;margin:0 auto;}
.ci_list .ci_left .line {width:0.05rem;height:.9rem;display:block;margin:0 auto;background:#dadada;}
.ci_list .ci_left .line.on_1 {background:#f90101!important;}
.ci_list .ci_left  .qishou {width:1.1rem;margin:0 auto;}
.ci_list .ci_left  .qishou em {width:1.1rem;height:1.1rem; background: #e95249; border-radius: 50%; background-image: url(/static/images/peisong.png); background-position: center;background-repeat: no-repeat; background-size:70%;display:inline-block;}
.ci_list .ci_left .point em {position:relative;width:.25rem;height:.25rem;border-radius:100%;display:block;margin:0 auto;border:1px solid #d4d4d4;}
.ci_list .ci_left .point.on em {border:1px solid #f90101}
.ci_list .ci_left .point em i {width:.15rem;height:.15rem;background:#d4d4d4;position:absolute;top:0.05rem;left:0.05rem;border-radius:100%;}
.ci_list .ci_left .point.on em i {background: #f90101;}
.ci_list .ci_right {float:right;font-size:.24rem;width:75%;box-sizing:border-box;padding-right:.5rem; padding-bottom: .5rem;}
.ci_list .ci_right .ci_txt {margin-top:.4rem;}
.ci_list .ci_right .ci_txt span {float:left;position:relative;}
.ci_list .ci_right .ci_txt span  a {position:absolute;top:-.2rem;right:-.6rem;width:.5rem;height:.5rem;display:inline-block;background:url(/static/images/phone.png) no-repeat center;background-size:.5rem;vertical-align:text-bottom;}
.ci_list .ci_right .ci_txt em {float:right;color:#b7b7b7;}
.ci_list .ci_right p {color:#b7b7b7;margin-top:.1rem;}