body, html{background:#f5f5f5; overflow-x: hidden;height: 100%;min-height: 100%;}
em, i{font-style: normal;}
.popupRightBottom{display: none;}
.loading{text-align: center;line-height: .88rem;}
.header{position: fixed;top: 0;left: 0;right: 0;}
/*取送货路径*/
.orderWrap {padding-bottom: 1rem;}
.orderMap2{height: 3.6rem;position: fixed;top: .9rem;left: 0;right: 0;}
#orderMap{width: 100%;height: 3.6rem;}
.orderCon{background: linear-gradient(0deg, rgba(245, 245, 245, .87) 87%, rgba(245, 245, 245, 0) 100%);margin-top: 3.65rem;position: relative;padding-bottom: 1.3rem;}
.orderCon .shoptype{margin: 0 .24rem;border-radius: .1rem;background: #fff;padding: 0 .22rem}
.orderCon .shoptype li {position: relative;box-sizing: border-box;}
.orderCon .shoptype li .qCon{padding: .42rem .3rem .4rem 0;margin-left: .68rem}
.orderCon .shoptype li.qh .qCon{border-bottom: 1px solid #f5f5f7;}
.orderCon .shoptype li h3{font-size: .3rem;color: #39393B;}
.orderCon .shoptype li p{font-size: .26rem;color: #CDD0D9;margin-top: .05rem}
.orderCon .shoptype li p s{text-decoration: none;}
.orderCon .shoptype li p em{margin-left: .2rem}
.orderCon .shoptype li i{display: inline-block;width: .26rem;height: .26rem;background: url('../images/paotui/arr.png') no-repeat center;background-size: .26rem;position: absolute;right: 0;top: 50%;margin-top: -.13rem;}
.orderCon .shoptype li span{width: .42rem;height: .42rem;border-radius: 50%;display: inline-block;position: absolute;left: 0;top: 50%;margin-top: -.21rem;background:#FFAE33 ;font-size: .24rem;color: #fff;text-align: center;line-height: .42rem;}
.orderCon .shoptype li.qh span{background: #037CFF}
.huoniao_Android .orderMap2,.huoniao_iOS .orderMap2{top: 0;}
.huoniao_Android .orderCon,.huoniao_iOS .orderCon{margin-top: 2.65rem}

.anchorBL {
   display: none;
}

/*订单路径*/
/*百度地图自动检索时下拉框*/
.tangram-suggestion-main{z-index: 999;}
/*谷歌地图infowindow样式*/
.gm-style .gm-style-iw-c{top: -32px!important;}
.gm-style .gm-style-iw-t::after{top: -32px!important;}
.gm-fullscreen-control{display: none!important}
.gmnoprint{display: none!important}
/*取货地址*/
.choseWrap{background: #F9F9F9;min-height: 100%;display: none;}
/* 地图图标 */
.orderMap2 .orderbubble{width: .52rem; height: .74rem; position: relative;background: url('../images/paotui/shouIcon.png') no-repeat center;background-size: .52rem .74rem;}
.orderMap2 .orderbubble.shop{background: url('../images/paotui/quIcon.png') no-repeat center;background-size: .52rem .74rem;}
.orderbubble p {position: absolute;height:.54rem;box-shadow:0px 0px 6px #ccc;border-radius:.27rem;line-height: .54rem;padding: 0 .32rem;top: -.65rem;left: 50%;transform: translateX(-50%);font-size: .24rem;font-weight: bold;color: #000;background: #fff;display: inline-block;white-space: nowrap;}
.orderbubble p:after {position:absolute;content:'';left:50%;overflow:hidden;pointer-events:none;-webkit-transform:rotate(45deg);-mz-transform:rotate(45deg);transform:rotate(45deg);width: .18rem;height: .18rem;margin-left: -.09rem;background:#fff;box-shadow:none;bottom: -.09rem}





.comCon{margin: .2rem .24rem 0;border-radius: .1rem;background: #fff;}
.comCon dl{padding: .29rem .2rem;position: relative;border-bottom: 1px solid #f5f5f7}
.comCon dl:last-child{border-bottom: none}
.comCon dl dt{font-size: .32rem;color: #39393B;float: left;font-weight: bold;}
.comCon dl dd{float: right;padding-right: .45rem}
.comCon dl dd i{display: inline-block;width: .26rem;height: .26rem;background: url('../images/paotui/arr.png') no-repeat center;background-size: .26rem;position: absolute;right: .2rem;top: 50%;margin-top: -.13rem;}
.comCon dl dd input{border: none;font-size: .28rem;text-align: right; padding-top: .07rem;background: none;    width: 4.4rem; overflow: hidden;white-space: nowrap; text-overflow: ellipsis;}
.comCon dl dd input::placeholder{color: #BABFCA}

/*有优惠*/
.youhui span{display: inline-block;line-height: .44rem;height: .44rem;font-size: .22rem;font-weight: bold;color: #fff;margin-left: .2rem;padding: 0 .18rem;border-radius: .06rem;}
.youhui span.hasHb{background: linear-gradient(66deg, #037CFF 0%, #3495FF 100%);}
.youhui span.hasQuan{background: linear-gradient(66deg, #FF7054 0%, #FF8E33 100%);}
.youhui span.fn-hide{display: none}


.comTit{font-size: .26rem;color: #A7A7AC;}
.comTit strong{font-size: .32rem;color: #171616;margin-right: .2rem}
.goodsAlert{padding-bottom: .57rem}
.goodWrap{max-height: 5.8rem;overflow-y: auto;}
.goodsCon{margin-top: .6rem;padding: 0 .3rem}
.goodsCon li{float: left;width: 2.1rem;text-align: center;line-height: .6rem;background: #F9F9F9;border-radius: .06rem;overflow: hidden;margin-right: .3rem;margin-top: .2rem}
.goodsCon li:nth-child(3n){margin-right: 0}
.goodsCon li a{display: block;font-size: .26rem;color: #4C4C4D;}
.goodsCon li.active{background: #FFEFEC}
.goodsCon li.active a{color: #FF7054;}

.weightCon{margin-top: .36rem}
.weightCon span.wtip{font-size: .26rem;color: #A7A7AC;line-height: .5rem;display: inline-block;vertical-align: top}
.weightCon>div{float: right;}
.weightCon>div i{display: inline-block;width: .5rem;height: .5rem;border-radius: 50%;background: #FF6E54;position: relative;vertical-align: top}
.weightCon>div i.disabled{background: #ccc;}
.weightCon>div i:before{content: '';display: inline-block;width: .3rem;height: .3rem;position: absolute;left: 50%;top: 50%;margin-left: -.15rem;margin-top: -.15rem;}
.weightCon>div i.minusWeight:before{background: url('../images/paotui/minus.png') no-repeat center;background-size: .3rem;}
.weightCon>div i.addWeight:before{background: url('../images/paotui/add.png') no-repeat center;background-size: .3rem;}
.weightCon>div span{display: inline-block;vertical-align: top;width: 1.22rem;text-align: center;line-height: .5rem;font-size: .28rem;color: #222}


/*订单备注*/
.noteBox {position: relative; height: 2.33rem; background: #FDFDFD; border-radius: .04rem; border: solid 1px #efefef; padding: .28rem .2rem .2rem .35rem;font-size: .26rem;margin: 0 .3rem}
.noteBox .remark{ -webkit-user-select: text;height: 2rem}
.noteBox .remark:empty:before{content: attr(placeholder); color: #BABFCA;}
.noteBox span.inp_limit{color: #BABFCA;position: absolute;right: .2rem;bottom: .2rem}
.noteCon{padding: 0 .3rem .24rem;}
.noteCon .comTit{margin-top: .3rem;margin-bottom: .25rem}
.noteAlert ul li{float: left;padding: 0 .22rem;height: .6rem;line-height: .6rem;background: #F9F9F9;border-radius: .06rem;margin-right: .24rem;margin-bottom: .2rem;font-size: .26rem;color: #818389;}
.noteAlert ul li a{color: #818389;}


/*地址确认*/
.mask_pop{position:fixed; background: rgba(0,0,0,.78); top: 0; left: 0; right: 0; bottom: 0; display: none;z-index: 100000}
.pop_confirm{width: 4.8rem; height: 2.7rem; position: fixed; top: 50%;margin-top: -1.35rem; left: 50%; margin-left: -2.4rem; border-radius: .3rem; background: #fff; overflow: hidden;box-shadow:0 .07rem .37rem 0 rgba(0, 0, 0, 0.13); display: none; animation: popup .3s ease-in-out;z-index: 100001}
.pop_confirm.show{display: block;}

.pop_tip{ border-bottom: solid .01rem #f5f5f7; text-align: center; position: relative;padding: .54rem .2rem .5rem}
.pop_tip h3{font-size: .32rem;color: #000;font-weight: bold;}
.pop_tip p{font-size: .24rem;color: #999;margin-top: .06rem}

.pop_btn {overflow: hidden;}
.pop_btn a{display: block; width: 50%; float: left; text-align: center; font-size: .3rem; color: #000; line-height: .86rem;font-weight: bold;}
.pop_btn a.sure_btn{ color: #1F66F2; box-sizing: border-box; border-left:solid .01rem  #f5f5f7;}
