body, html{background:#fff; overflow-x: hidden;height: 100%;min-height: 100%;}
em, i{font-style: normal;}
.loading{text-align: center;line-height: .88rem;}
.pageitem{z-index: 100001!important}
.mainWrap{padding-bottom: 1.5rem;background: #F9F9F9;padding-top: .2rem}
.con {position: relative; background: #fff; border-radius: .04rem; padding: .34rem .2rem 0 .2rem;font-size: .26rem;margin: .3rem;margin-top: .1rem}
.con .remark{ -webkit-user-select: text;height: 1.4rem;padding-left: .16rem}
.con .remark:empty:before{content: attr(placeholder); color: #BABFCA;}
.con span.inp_limit{color: #BABFCA;position: absolute;right: .2rem;bottom: .2rem}
.noteCon{padding-bottom: .25rem}
.noteCon .comTit{margin-top: .3rem;margin-bottom: .25rem}
.noteCon ul li{float: left;padding: 0 .27rem;height: .56rem;line-height: .56rem;background: #F9F9F9;border-radius: .06rem;margin-right: .15rem;margin-bottom: .15rem;font-size: .24rem;}
.noteCon ul li a{color: #818389;}
/*预估商品费*/
.planPrice{padding-top: .24rem;border-top: 1px solid #eee;position: relative;padding-bottom: .24rem}
.planPrice h3{font-size: .32rem;color: #39393B;font-weight: bold;}
.planPrice p{font-size: .22rem;color: #FFAE33;margin-top: .06rem}
.planPrice i{content: ''; display: inline-block; width: .26rem; height: .26rem; background: url(../images/paotui/r_arr.png) no-repeat center center; background-size: .26rem;position: absolute;top: 50%;margin-top: -.13rem;right: 0 }
.planPrice input{float: right;border: none;width: .8rem;margin-right: .4rem;padding-top: .24rem;}

/*选项*/
.more {margin:.2rem .24rem;background: #fff; border-radius: .16rem;}
.more .dom_select {position: relative;padding:0 .2rem;overflow: hidden;}
.more span.spetit{display: inline-block;width: .42rem;height: .42rem;line-height: .44rem;text-align: center;font-size: .24rem;color: #fff;background: #037CFF;border-radius: 50%;position: absolute;top: 50%;margin-top: -.21rem;left: .2rem;}
.more .dom_select.take span.spetit{background: #FFAE33;}
.more .option {overflow: hidden;margin-left: .7rem;border-bottom: 1px solid #eee;padding-top: .4rem}
.more .dom_select.take .option{padding-bottom: .46rem;padding-top: .35rem}
.more .dom_select:last-child .option{border-bottom: none}

.more .buyfrom label {position: relative;padding-left:.46rem;font-size: .3rem;color: #39393B}
.more .buyfrom label:first-child {margin-right: .36rem;}
.more .buyfrom label:before {position: absolute;left:0;top:0;content:"";display: inline-block;width:.36rem;height:.36rem;border:1px solid #ddd;border-radius:50%;box-sizing: border-box;}
.more .buyfrom label.checked:before {background:url('../images/paotui/quancheck.png') center center no-repeat;background-size:.36rem;border: none}

.more .buyCon{padding-top: .26rem;padding-bottom: .28rem;position: relative;}
.more .buyCon .comCon{display: none}
.more .buyCon .comCon.show{display: block;}
.more .buyCon input{width: 74%; border: none; box-sizing: border-box; font-size: .26rem; color: #39393B;}
.more .buyCon input::placeholder{color: #BABFCA;}
.more .buyCon i{display: inline-block; width: .26rem; height: .26rem; background: url(../images/paotui/r_arr.png) no-repeat center center; background-size: .26rem;position: absolute;top: 50%;margin-top: -.13rem;right: 0;}
.more .buyCon .comCon p{ font-size: .26rem; color: #39393B;}

.arrow {display: inline-block; width: .26rem; height: .26rem; background: url(../images/paotui/r_arr.png) no-repeat center center; background-size: .26rem;position: absolute;top: 50%;margin-top: -.13rem;right: .2rem; }
.more .dom_select p.takeAddress{font-size: .3rem;color: #39393B;font-weight: bold;padding-right: .3rem}
.more .dom_select p.takeMan{font-size: .26rem;color: #A7A7AC;margin-top: .06rem}


/*.more{margin: .2rem .24rem 0;border-radius: .1rem;background: #fff;}*/
.more dl{padding: .29rem .2rem;position: relative;border-bottom: 1px solid #f5f5f7}
.more dl:last-child{border-bottom: none}
.more dl dt{font-size: .32rem;color: #39393B;float: left;font-weight: bold;}
.more dl dd{float: right;padding-right: .45rem}
.more dl dd i{display: inline-block;width: .26rem;height: .26rem;background: url('../images/paotui/arr.png') no-repeat center;background-size: .26rem;position: absolute;right: .2rem;top: 50%;margin-top: -.13rem;}
.more dl dd input{border: none;font-size: .28rem;text-align: right; padding-top: .07rem;background: none;    width: 4.4rem; overflow: hidden;white-space: nowrap; text-overflow: ellipsis;}
.more dl dd input::placeholder{color: #BABFCA}

/*有优惠*/
.youhui span{display: inline-block;line-height: .44rem;height: .44rem;font-size: .22rem;font-weight: bold;color: #fff;margin-left: .2rem;padding: 0 .18rem;border-radius: .06rem;}
.youhui span.hasHb{background: linear-gradient(66deg, #037CFF 0%, #3495FF 100%);}
.youhui span.hasQuan{background: linear-gradient(66deg, #FF7054 0%, #FF8E33 100%);}
.youhui span.fn-hide{display: none}

/*同意协议*/
.agree{font-size: .26rem;color: #39393B;padding-left: .4rem}
.agree span{color: #A7A7AC;}
.agree i{display: inline-block;width:.36rem;height:.36rem;border:1px solid #ddd;border-radius:50%;box-sizing: border-box;margin-right: .12rem;vertical-align: middle;margin-top: -.06rem;}
.agree.checked i{background:url('../images/paotui/quancheck.png') center center no-repeat;background-size:.36rem;border: none}


/*预估商品费弹窗*/
.planAlert{padding-bottom: .56rem}
.planAlert .wtip2{padding-left: .38rem;}
.planBox h3{font-size: .26rem;color: #A7A7AC;text-align: center;margin-top: .5rem}
.planBox .inpbox{border: 1px solid #E5E5E5;border-radius: .06rem;text-align: center;margin: .4rem .3rem 0}
.planBox .inpbox .otPrice{text-align: center;padding: .2rem 0;display: inline-block;}
.planBox .inpbox input{font-size: .3rem;color: #FF7054;border: none;width: .7rem;}
.planBox .inpbox .otPrice span{color: #4C4C4D;font-size: .3rem;}
.planBox .inpbox .otPrice span.curr{color: #FF7054}

/*购买地址*/
.choseWrap{background: #fff;min-height: 100%;padding-top: .2rem}
.addrPage{width: 100%; background-color: #f5f5f5; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 10;}
.formBox{width: 100%;padding-bottom: .3rem ;background: #fff;}
.formBox ul{ background: #fff;}
.formBox li{padding: 0 .24rem; border-bottom:solid .01rem #f5f5f7 ;}
.formBox li label{width: 20%; font-size: .3rem; line-height: .88rem;color: #39393B;font-weight: bold;}

.formBox li input{width: 74%; border: none; box-sizing: border-box; padding-left: .3rem; font-size: .28rem; color: #292621;}
.formBox li input::placeholder{color: #BABFCA}
.formBox li.gz-addr-seladdr:after{content: ''; display: inline-block;  height: .26rem; background: url(../images/paotui/r_arr.png) no-repeat center right; background-size: .26rem; width: .26rem;}

.formBox .save_btn{color: #FFF; display: block;  width: 7.02rem; margin: auto; margin-top: .3rem; line-height: .88rem; border-radius: .08rem; 
background: linear-gradient(225deg, #FF3C4A 0%, #FF5D3D 100%); border: none; font-size: .36rem; box-sizing: border-box;}
.formBox .del_addr{color: #FF3C4A;  display: block;  width: 7.02rem; margin: auto; margin-top: .3rem; line-height: .88rem; border-radius: .08rem; box-sizing: border-box; border: solid .02rem  #FF3C4A; font-size: .36rem; background-color: #fff;}
.choseWrap s.bgLine{width: 100%;height: .2rem;background: #F9F9F9;display: block;}

/*购买历史地址*/
.hisBuyList{padding: 0 .24rem}
.hisBuyList h3{font-size: .28rem;color: #BABFCA;padding: .35rem 0 .24rem;border-bottom: .01rem solid #f5f5f7;}
.hisBuyList h3:before{content: '';display: inline-block;width: .32rem;height: .32rem;background: url('../images/paotui/his.png'); background-size: cover;margin-right: .12rem;vertical-align: middle;margin-top: -.06rem}
.hisBuyList .item{border-bottom: .01rem solid #f5f5f7;}
.hisBuyList .item a{display: block;padding: .26rem 0 .3rem;}
.hisBuyList .item p.mySdr{font-size: .32rem;color: #39393B;font-weight: bold;}
.hisBuyList .item p.myAdr{font-size: .26rem;color: #A7A7AC;margin-top: .05rem}
.hisBuyList .noUsediv{display: none}
.hisBuyList .noUsediv h4{padding: 0 .24rem; line-height: .8rem;}
.hisBuyList .item.disabled{opacity: .5}
/*百度地图*/
.tangram-suggestion-main{z-index: 100002;}
/*地址确认*/
.mask_pop{position:fixed; background: rgba(0,0,0,.78); top: 0; left: 0; right: 0; bottom: 0; display: none;z-index: 100000}
.pop_confirm{width: 4.8rem; height: 2.7rem; position: fixed; top: 50%;margin-top: -1.35rem; left: 50%; margin-left: -2.4rem; border-radius: .3rem; background: #fff; overflow: hidden;box-shadow:0 .07rem .37rem 0 rgba(0, 0, 0, 0.13); display: none; animation: popup .3s ease-in-out;z-index: 100001}
.pop_confirm.show{display: block;}

.pop_tip{ border-bottom: solid .01rem #f5f5f7; text-align: center; position: relative;padding: .54rem .2rem .5rem}
.pop_tip h3{font-size: .32rem;color: #000;font-weight: bold;}
.pop_tip p{font-size: .24rem;color: #999;margin-top: .06rem}

.pop_btn {overflow: hidden;}
.pop_btn a{display: block; width: 50%; float: left; text-align: center; font-size: .3rem; color: #000; line-height: .86rem;font-weight: bold;}
.pop_btn a.sure_btn{ color: #1F66F2; box-sizing: border-box; border-left:solid .01rem  #f5f5f7;}
