body, html{background:#fff; overflow-x: hidden;height: 100%;min-height: 100%;}
em, i{font-style: normal;}



/*头部幻灯片部分*/
.banner{min-height: 1.5rem;}
.banner img {display: block;}
/*头部地图*/
.topMap{width: 100%;height:6.2rem;position: relative;}
#topMap{width: 100%;height: 6.2rem;}
#topMap .topmap_bg{width: 100%;height: 6.2rem;background: url('../images/paotui/map_bg.png') no-repeat top center;background-size: 100% auto;opacity: .7;}
.bubble {-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;  cursor: pointer;width: 1rem;height: 1rem;background: url('../images/paotui/qsIcon.png') no-repeat center;background-size: 1rem;}
.anchorBL {
   display: none;
}
.BMapLabel{background: none!important;border: none!important}
.selfPoint{width: .6rem;height: .6rem;background: url('../images/paotui/selfPoint.png') no-repeat center;background-size: .6rem;position: absolute;left: 50%;transform: translateX(-50%);top: 50%;    margin-top: -.58rem;}

/*对话框样式*/
.selfPoint .qsNum {position: absolute;height:.88rem;box-shadow:0px 0px 6px #ccc;border-radius:.44rem;line-height: .88rem;padding: 0 .26rem;top: -1rem;left: 50%;transform: translateX(-50%);font-size: .28rem;font-weight: bold;color: #000;background: #fff;display: inline-block;white-space: nowrap;}
.selfPoint .qsNum:after {position:absolute;content:'';left:50%;overflow:hidden;pointer-events:none;-webkit-transform:rotate(45deg);-mz-transform:rotate(45deg);transform:rotate(45deg);width: .18rem;height: .18rem;margin-left: -.09rem;background:#fff;box-shadow:none;bottom: -.09rem}

/*左下角定位*/
.zoom-local{width: .88rem; height: .88rem; border-radius: .1rem; position: absolute; left: .4rem; bottom: 2.3rem; background: #fff url(../images/paotui/local.png) center center no-repeat;  background-size: .6rem;
box-shadow: 0px 3px 27px 0px rgba(0, 0, 0, 0.16);z-index: 9;}
/*.zoom-local.active{background: #fff url(../images/map/local2.png) center center no-repeat;  background-size: .44rem;}
*/

.mainCon{border-radius: .6rem .6rem 0px 0px;overflow: hidden;margin-top: -1rem;position: relative;}
.mainCon {padding-bottom: 1.3rem;background: #fff}
/*tab*/
.tabs{background: linear-gradient(0deg, #FFFFFF 38%, #FFECEC 98%);display: -webkit-box;}
.tabs a{position: relative;text-align: center; display: block; font-size: .36rem; padding: .4rem 0 .54rem;color: #000; -webkit-box-flex: 1;}
.tabs a.active{color:#FF5C50;font-weight: bold;}
.tabs a.active:after {content:"";position:absolute;left:50%;bottom:.27rem;margin-left: -.25rem;display: block;width:.5rem;height:.06rem;background: #FF5C50;border-radius: .03rem}

.container {background: #fff;}

/*买*/
.container .buy .con{box-shadow: 0px .03rem .84rem 0px rgba(180, 42, 45, 0.07);border-radius: .16rem;margin: 0 .4rem;}
.container .buy .customer {padding: .2rem .2rem .24rem;border-bottom: 1px solid #f5f5f7}
.container .buy .customer form {position: relative;}
.container .buy .inp {display: block;width:100%;padding:.15rem 0 .18rem;background:none;color: #333;border:none;outline:0;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;padding-right: 1.8rem;font-size: .3rem}
.container .buy .inp::placeholder{color: #BABFCA}
.container .buy .submit {position: absolute;right:0;top:0;display: block;padding:0 .34rem;color:#fff;z-index: 1;
height: .64rem;line-height: .64rem;
background: linear-gradient(225deg, #FF3C4A 0%, #FF5D3D 100%);
box-shadow: 0px 3px 29px 0px rgba(138, 18, 27, 0.33);
border-radius: .32rem;font-size: .32rem}

.buy .shoptype li {width:25%;float: left;text-align: center;margin: .2rem auto;}
.buy .shoptype ul {padding:.08rem 0;}
.buy .shoptype li .pic img {width:.6rem;height: .6rem;}
.buy .shoptype li p{font-size: .24rem;color: #201E1E}

/*送*/
.container .song{padding: 0 .46rem;
    box-sizing: border-box;}
.container .song .shoptype li {padding:.56rem 0 .3rem .3rem;border-top: 1px solid #f5f5f7;position: relative;min-height: 1.84rem;box-sizing: border-box;}
.container .song .shoptype li h3{font-size: .3rem;color: #39393B;}
.container .song .shoptype li p{font-size: .26rem;color: #CDD0D9;margin-top: .05rem}
.container .song .shoptype li p s{text-decoration: none;}
.container .song .shoptype li p em{margin-left: .2rem}
.container .song .shoptype li i{display: inline-block;width: .26rem;height: .26rem;background: url('../images/paotui/arr.png') no-repeat center;background-size: .26rem;position: absolute;right: 0;top: 50%;margin-top: -.13rem;}
.container .song a{display: block; min-height: .84rem;}
.container .song .qCon{padding-right: .3rem;}
.container .song .shoptype li:before{content: '';width: .1rem;height: .1rem;border-radius: 50%;display: inline-block;position: absolute;left: 0;top: 50%;margin-top: -.05rem;background:#FFAE33 }
.container .song .shoptype li.qh:before{background: #037CFF}
/*商品信息*/
.song .more {margin:.2rem 0;border-top: 1px solid #eee;}
.dom_select {position: relative;padding:.2rem;border-bottom: 1px solid #eee;}
.dom_select input {position: absolute;left:0;top:.2rem;right:.6rem;width: 88%;padding-right: 12
	%;text-align:right;border:none;outline:0;background:transparent;z-index: 2;}
.dom_select .arrow {position: absolute;right:.2rem;top:.2rem;display: block;width: .3rem;height: .3rem;background-image:url('../images/calendar_arrow_right.png');background-size:contain;background-repeat:no-repeat;z-index: 1;}
.container .song .submit {display: block;margin:.2rem 0;text-align: center;padding:.2rem 0;text-align: center;background: #ff8437;color: #fff;font-size: .24rem;}


.wx_miniprogram .fixFooter{display:block !important;}
.huoniao_iOS .fixFooter{display:none;}
/*取货地址*/
.choseWrap{background: #F9F9F9;min-height: 100%;display: none;    position: absolute;top: 0;z-index: 100000;left: 0;right: 0;}
#navBox_4{z-index: 100001;}

/* 遮罩 */
#gzAddNewObj.gz-sel-addr-active {-webkit-transform: scale(.85,.85); transform: scale(.85,.85) translateY(-.3rem);}
.gz-sel-addr-mask {display: none; position: absolute; z-index: 2; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);}

/* 错误提示 */
.gzAddrErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 1000; visibility: hidden;}
.gzAddrErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 0; top: 50%; margin-top: -50px;}

.huoniao_iOS .gz-addr-header{display: none;}
.huoniao_iOS .gz-addr-list{top: 0;}
.tangram-suggestion-main{z-index: 999;}







