/*公共底部*/
.order_bottom{position: fixed;bottom: 0;left: 0;right: 0;padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom));z-index: 100000;height: 1.08rem;background: #fff;}
.order_bottom.spe{z-index: 100002}
.order_bottom.spe .orbot{box-shadow: none;}
.orbot{position: relative;;padding: .14rem .26rem .14rem .4rem;background: #fff;box-shadow: 0px -3px 17px 0px rgba(0, 13, 35, 0.03);}
.orbot .orderPrice{color: #FF3C4A;font-size: .24rem;}
.orbot .orderPrice strong{font-size: .36rem;display: inline-block;}
.orbot .orderPrice i{display: inline-block;width: .24rem;height: .24rem;background: url('../images/paotui/arrup.png') no-repeat center;background-size: .24rem;margin-left: .1rem;vertical-align: middle;margin-top: -.16rem;transition:  all .3s;transform-origin: center;}
.orbot .orderPrice.showPrice i{transform: rotate(180deg);}
.orbot .distance{font-size: .28rem;color: #A7A7AC}
.orbot .distance em{font-size: .24rem;}
.orbot .priceNote{font-size: .28rem;color: #A7A7AC}
.orbot .tjBtn{width: 1.98rem;height: .8rem;line-height: .8rem;font-size: .32rem;color: #fff;background: linear-gradient(225deg, #FF3C4A 0%, #FF5D3D 100%);border-radius: .08rem;display: inline-block;text-align: center;}

.orTop{background: #fff;border-radius: .3rem .3rem 0 0;position: fixed;bottom: -100%;left: 0;right: 0;z-index: 100001;border-bottom: 1px solid #eee;padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom));}
.priceDetail{height: .98rem;}
.priceDetail a{position: absolute;top: .3rem;font-size: .3rem;color: #171616}
.priceDetail a.cancelRules{left: .27rem;}
.priceDetail a.priceRules{right: .3rem;color: #A7A7AC;font-size: .28rem}
.priceDetail h3{font-size: .36rem;color: #171616;font-weight: bold;text-align: center;line-height: .9rem}
.priceBox{border-top: 1px solid #eee;padding-bottom: .55rem}
.priceBox dl{font-size: .3rem;color: #171616;padding: 0 .3rem;margin-top: .35rem;display: none;}
.priceBox dl.show{display: block;}
.priceBox dl dt{float: left;}
.priceBox dl dd{float: right;}
.priceBox dl.hbPrice dd{color: #FF5C50}
/*错误提示*/
.error{position: fixed; display: inline-block;padding: 0 .2rem; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: .28rem; line-height: .8rem; text-align: center;z-index: 1000002; left: 50%;  top: 50%;transform: translate(-50%,-50%); display: none;}
.tipError{position: absolute; display: inline-block;padding: 0 .2rem; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: .28rem; line-height: .8rem; text-align: center;z-index: 1000002; left: 50%;  top: 50%;transform: translate(-50%,-50%); display: none;}

.mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.57); z-index: 100000; display: none;}
/*物品信息弹窗*/
.comAlert{background: #fff;position: fixed;bottom: -100%;left: 0;right: 0;border-radius: .3rem .3rem 0px 0px;z-index:100001 }
.comTitle{height: 1.05rem}
.comTitle a{position: absolute;top: .3rem;font-size: .3rem;color: #171616}
.comTitle a.cancelBtn{left: .27rem;}
.comTitle a.sureBtn{right: .27rem;font-weight: bold;}
.comTitle h3{font-size: .36rem;color: #171616;font-weight: bold;text-align: center;line-height: .9rem}

/*优惠券列表*/
.quanWrap{background: #F9F9F9;min-height: 100%;display: none;height: 100%;overflow-y: auto;}
.coupon_list {margin-top: .3rem}
.coupon_list li{position: relative;margin-bottom: .25rem;padding: 0 .2rem}
.coupon_list li a{display: block;}
.coupon_list li .linBg1{width: 100%;height: .2rem;background: url('../images/paotui/line1.png') no-repeat;background-size: 100% .2rem;}
.coupon_list li .quanTop{background: url('../images/paotui/line2.png') repeat;background-size: contain;padding: 0 .17rem;height: 1.32rem;position: relative;}
.coupon_list .quanTop:after{content: '';display: inline-block;width: .36rem;height: .36rem;box-sizing: border-box;border: 1px solid #ddd;border-radius: 50%;position: absolute;top: 50%;margin-top: -.18rem;right: .34rem}
.coupon_list li.active .quanTop:after{border: none;background: url('../images/paotui/quancheck.png') repeat;background-size: contain;}
.coupon_list .quanTop dl{padding-top: .15rem}
.coupon_list .quanTop dt{float: left;min-width: 1.68rem;color: #307CFC;font-size: .36rem;text-align: center;padding: 0 .2rem}
.coupon_list .quanTop dt strong{font-size: .8rem;font-family:  Helvetica-Bold}
.coupon_list .quanTop dt.zhe{font-size: .3rem;padding-top: .1rem;}
.coupon_list .quanTop dt.zhe strong{font-size: .6rem}
.coupon_list .quanTop dd{float: left;padding-top: .08rem}
.coupon_list .quanTop dd h2{font-size: .32rem;color: #39393B;font-weight: bold;}
.coupon_list .quanTop .quanType{font-size: 0;margin-top: .12rem}
.coupon_list .quanTop .quanType span{display: inline-block;height: .36rem;line-height: .36rem;padding: 0 .07rem;background: #FFAE33;border-radius: .04rem;font-size: .22rem;color: #fff;}
.coupon_list .quanTop .quanType em{font-size: .24rem;color: #97989C;margin-left: .15rem}
.coupon_list li .qLine{width: 100%;height: .5rem;background: url('../images/paotui/line3.png') no-repeat;background-size: 100% .5rem;margin: 0 auto;}
.coupon_list li .bLine{width: 100%;height: .2rem;background: url('../images/paotui/line5.png') no-repeat;background-size: 100% .2rem;margin: 0 auto;}
.coupon_list li .quanBot{background: url('../images/paotui/line4.png') repeat;background-size: contain;padding: 0 .17rem .17rem;position: relative;height: .3rem;overflow: hidden;}
.coupon_list s.moreQuan{display: inline-block;width: .32rem;height: .32rem;background: url('../images/paotui/quandown.png') no-repeat;background-size: .32rem;position: absolute;right: .38rem;top: 0;z-index: 2;transition: all .3s}
.coupon_list s.moreQuan.click{transform: rotate(180deg);}
.coupon_list .showCon,.coupon_list .hideCon{padding: 0 .2rem;padding-right: .7rem}
.coupon_list .showCon p{max-width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: .24rem;color: #BABFCA}
.coupon_list .hideCon{display: none}
.coupon_list .hideCon p{font-size: .24rem;color: #39393B;line-height: .38rem}
/*优惠券不可用时*/
.coupon_list li.disabled{pointer-events: none;}
.coupon_list li.disabled .moreQuan{pointer-events: all;}
.coupon_list li.disabled .quanTop dt{color: #BDC1CC;}
.coupon_list li.disabled .quanTop dd h2{color: #BDC1CC}
.coupon_list li.disabled .quanTop .quanType span{background: #BDC1CC}
.coupon_list li.disabled .quanTop .quanType em{color: #BDC1CC}
.coupon_list li.disabled .noUse p{font-size: .24rem;color: #FF7054}
.coupon_list li.disabled .noUse i{display: inline-block;width: .24rem;height: .24rem;background: url('../images/paotui/quanTip.png') no-repeat;background-size: .24rem;margin-right: .14rem;vertical-align: middle; margin-top: -.04rem;}
.coupon_list li.disabled .noUse span{color: #39393B;margin-left: .08rem}

/*小费弹窗*/
.tipsAlert{padding-bottom: .55rem}
.tipsBox{padding-left: .3rem}
.tipsBox li{float: left;width: 2.1rem;text-align: center;line-height: .8rem;height: .8rem;border-radius: .06rem;box-sizing: border-box;border: 1px solid #E5E5E5;margin-right: .3rem;margin-bottom: .3rem}
.tipsBox li:nth-child{margin-right: 0}
.tipsBox li a{font-size: .3rem;color: #4C4C4D;}
.tipsBox li.active{background: #FFEFEC;border: 1px solid #FFEFEC;}
.tipsBox li.active a{color: #FF7054;font-size: .26rem}
.tipsBox .inpbox{border: 1px solid #E5E5E5;border-radius: .06rem;text-align: center;margin-right: .3rem}
.tipsBox .inpbox .otMoney{text-align: center;padding: .2rem 0;display: inline-block;}
.tipsBox .inpbox input{font-size: .3rem;color: #FF7054;border: none;width: .7rem;}
.tipsBox .inpbox .otMoney span{color: #4C4C4D;font-size: .3rem;}
.tipsBox .inpbox .otMoney span.curr{color: #FF7054}

/*计价规则新页面*/
.ruleWrap{min-height: 100%;display: none;position: relative;z-index:100001;background: #fff;}
.ruleBox {padding: .6rem .5rem}
.ruleBox .basdiv strong{font-size: .32rem;color: #000;}
.ruleBox .basdiv span{font-size: .28rem;color: #000;float: right ;}
.ruleBox dl {margin-top: .5rem;display: none;}
.ruleBox dl.show{display: block;}
.ruleBox dl.speDl{margin-top: .8rem}
.ruleBox dl dt{font-size: .32rem;color: #000;font-weight: bold;padding-bottom: .25rem;}
.ruleBox dl dd p{line-height: .48rem;font-size: .26rem;color: #666;}
.ruleBox dl dd em{font-size: .28rem;color: #000;float: right ;}

.wtip2{font-size: .24rem;color: #FFAE33;margin-top: .25rem;}
.wtip2 i{display: inline-block;width: .3rem;height: .3rem;background: url('../images/paotui/wtip.png') no-repeat center;background-size: .3rem;margin-right: .07rem;vertical-align: middle;
    margin-top: -.06rem;}

/*取件时间    */
.time_box{border-top: 1px solid #f5f5f7}
.left_day{width: 2.06rem; float: left; height: 4.7rem; overflow: auto; -webkit-overflow-scrolling: touch;border-right: 1px solid #f5f5f7;box-sizing: border-box;}
.left_day li{line-height: .88rem; font-size: .26rem; border-bottom: solid .01rem #f5f5f7;text-align: center;color: #4C4C4D;height: .88rem;box-sizing: border-box;}
.left_day li.on_chose{background: #FDFDFD;font-weight: bold;color: #037CFF;}

.right_time{width: 5.44rem; float: right; height: 4.7rem;  overflow: auto; -webkit-overflow-scrolling: touch;}
.right_time li{line-height: .88rem; text-align: center; padding-left: .22rem; box-sizing: border-box;  font-size: .28rem;color: #4C4C4D;height: .88rem;}
.right_time li.active{background: #FDFDFD;font-weight: bold;color: #037CFF;border-bottom: solid .01rem #f5f5f7;border-top: solid .01rem #f5f5f7;}
.right_time li.active em{font-weight: bold;}
.right_time li.hide{display: none;}
.right_time li em.speEm{margin-left: .2rem;}
.right_time li em.sline{margin-left: .08rem;margin-right: .08rem}
.right_time.speR li{text-align: left;padding-left: .92rem}

/*地图*/
.amap-copyright, .amap-logo{display: none!important;}
.pageitem {display: none; height: 100%; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 10; background: #fff;}

.lead{ position: relative; text-align: center; height: 1rem; line-height: 1rem; background: #fff; margin-bottom: 0.2rem;}
.lead p{ width: .5rem; height: .5rem; position: absolute; left: .15rem; top: .25rem; background: url(../images/Arrow_left.png) no-repeat center; background-size: .4rem;}
.lead span{ font-size: .36rem;}
.lead b a{ position: absolute; right: 0.1rem; top: 0rem; color: #e83829; font-size: 0.28rem; width: 1rem;}

.lead input { height: .7rem; border: 1px solid #e8e8e8; border-radius: 0.1rem; width: 75%; margin-left: 0.2rem; padding-left: 0.5rem; background: url(../images/search_1.png) no-repeat 0.1rem; background-size: .4rem; text-indent: 0.2rem; font-size: 0.28rem;}


.map { position: relative; width: 100%; height: 5.5rem; background: #ccc; margin-top: -.2rem;}
#mapdiv { position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 1;}
.mapcenter { position: absolute; z-index: 2; left: 50%; top: 50%; width: .6rem; height: .6rem; margin: -.4rem 0 0 -.3rem; background: url('../images/local.png'); background-size: cover;}

.mapresults { display: none; position: absolute; top: 6.5rem; left: 0; right: 0; bottom: 0; background: #fff; overflow-y: auto; -webkit-overflow-scrolling: touch;}
.mapresults li { position: relative; padding: .1rem .2rem .1rem .6rem; border-bottom: 1px solid #efefef;}
.mapresults li:before { position: absolute; content: ""; left: .1rem; top: .2rem; width: .4rem; height: .4rem; background: url('../images/local.png'); background-size: cover;}
.mapresults li h5 { font-size: .3rem; line-height: .5rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.mapresults li p { font-size: .24rem; color: #999; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.elseStreet { display: block; width: 80%; margin: .3rem auto; border: 2px solid #f00; height: .6rem; line-height: .6rem; border-radius: .5rem; color: #f00; font-size: .3rem; text-align: center;}

/* 底部区号弹窗 */
.pop_mask,.popl_mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.57); z-index: 11; display: none;}
.popl_mask{z-index: 12;}
.pop_box,.popl_box{background-color: #fff; position: fixed; bottom: -9rem; left: 0; right: 0; z-index: 12; padding: 0 .24rem; border-radius: .3rem .3rem 0 0; height: 8.2rem; padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); z-index: 10000;}
.popl_box{z-index: 10001;}
.pop_box h3{font-size: .3rem; color: #000; text-align: center; font-weight: bold; padding:.3rem 0; position: relative;}
.pop_box h3 .close_btn{width: .6rem; height: .6rem; background: no-repeat center url(../images/close_btn1.png) ; background-size: cover; display: block; position: absolute; top: .2rem; right: 0; }
.pop_box dl{margin-bottom: .3rem;}
.pop_box dl>dt{font-size: .26rem; color: #1C1C21; font-weight: bold; margin-bottom: .1rem;}
.pop_box dl>dd {border: solid 1px #F5F5F7; border-radius: .06rem;}
.pop_box dl>dd input{font-size: .28rem; border: none; margin: .24rem ; box-sizing: border-box;}
.pop_box dl>dd input::placeholder{color: #BBBCC4;}

/* 区号显示 */
.pop_box dl>dd .acode_show{display: inline-block; padding: .2rem; font-size: .28rem; color: #333;}
.pop_box dl>dd .acode_show::before{content: '+'; }
.pop_box dl>dd .acode_show::after{content: ''; display: inline-block; width: 0; height: 0; border: solid .1rem rgba(0,0,0,0); border-top:  solid .1rem #666; vertical-align: bottom;  margin-left: .06rem;}

.pop_box dl>dd.select,.pop_box dl>dd.option{border: none; display: flex; align-items: center; padding-left: .3rem;}
.pop_box dl>dd.select i{display: block; width: .22rem; height: .22rem; border-radius: 50%; border: solid 1px #BDC1C9; margin-right: .1rem;}
.pop_box dl>dd.select span{display: flex; align-items: center; margin-right: 1.4rem;}
.pop_box dl>dd.select span.chosed i{border: solid 1px #00BA8C; position: relative;}
.pop_box dl>dd.select span.chosed i::before{content: ''; display: block; width: .11rem; height: .11rem; border-radius: 50%; background-color: #00BA8C; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.pop_box dl>dd.textarea{height: 1.7rem; overflow: auto; box-sizing: border-box; padding: .2rem ;}
.pop_box dl>dd.textarea .txt_con{width: 100%; height: 100%; font-size: .28rem; }
.pop_box dl>dd.textarea .txt_con:empty::before{color:#BBBCC4; content:attr(placeholder);}
.pop_box dl>dd.option{display: block;}
.pop_box dl>dd.option span{display: inline-flex; align-items: center; color: #303133; font-size: .28rem; margin-right: .6rem; flex-wrap: wrap; margin-bottom: .2rem;}
.pop_box dl>dd.option span i{display: block; width: .3rem; height: .3rem; background: url(../images/chose1.png) no-repeat center; background-size: cover; margin-right: .1rem;}
.pop_box dl>dd.option span.chosed i{background-image: url(../images/chose2.png);}
.popl_box h2 .back{color: #999; font-size: .3rem; position: absolute; right: .58rem; font-weight: normal;}
.areaList,.timeList{padding-top: 1.4rem; height: 100%; box-sizing: border-box; top: 0; left: 0; right: 0; position: absolute; }
.areaList ul,.timeList ul{height: 100%; overflow: auto;}
.areaList ul li,.timeList ul li{margin: 0 .3rem; line-height: .88rem; color: #333; font-size: .3rem;  border-radius: .1rem; padding: 0 .2rem;}
.areaList ul li.achose,.timeList ul li.achose{background: #F0F0F2; font-weight: bold;}
.anum_box h2{line-height: 1.1rem; text-align: center; font-size: .34rem; color: #000; font-weight: bold; border-bottom: solid 1px #f5f5f8; position: relative; z-index: 10;}
.anum_box h2 .cancel,.pop_box h2 .back{color: #999; font-size: .3rem; position: absolute; right: .58rem; font-weight: normal;}
.anum_box h2 .back{left: .43rem; right: auto; position: absolute;  }

.mobbox{display: inline-block; width: 70%;}
.mobbox .acode_show{display: inline-block; padding: .2rem; font-size: .28rem; color: #333;padding-right: 0}
.mobbox .acode_show::before{content: '+'; }
.mobbox .acode_show::after{content: ''; display: inline-block; width: 0; height: 0; border: solid .1rem rgba(0,0,0,0); border-top:  solid .1rem #666; vertical-align: bottom;  margin-left: .06rem;}

/*新增地址*/
.addrPage{width: 100%; background-color: #f5f5f5; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 10; /*display: none;*/}
.formBox{width: 100%;padding-bottom: .3rem ;background: #fff;}
.formBox ul{ background: #fff;}
.formBox li{padding: 0 .24rem; border-bottom:solid .01rem #f5f5f7 ;}
.formBox li label{width: 20%; font-size: .3rem; line-height: .88rem;color: #39393B;font-weight: bold;}

.formBox li input{width: 74%; border: none; box-sizing: border-box; padding-left: .3rem; font-size: .28rem; color: #292621;}
.formBox li input:placeholder{color: #BABFCA}
.formBox li.gz-addr-seladdr:after{content: ''; display: inline-block;  height: .26rem; background: url(../images/paotui/r_arr.png) no-repeat center right; background-size: .26rem; width: .26rem;}

.formBox .save_btn{color: #FFF; display: block;  width: 7.02rem; margin: auto; margin-top: .3rem; line-height: .88rem; border-radius: .08rem; 
background: linear-gradient(225deg, #FF3C4A 0%, #FF5D3D 100%); border: none; font-size: .36rem; box-sizing: border-box;}
.formBox .del_addr{color: #FF3C4A;  display: block;  width: 7.02rem; margin: auto; margin-top: .3rem; line-height: .88rem; border-radius: .08rem; box-sizing: border-box; border: solid .02rem  #FF3C4A; font-size: .36rem; background-color: #fff;}

/*地址列表*/
.loading{text-align: center;font-size: .28rem}
.have{margin-top: .2rem;background: #fff;}
.have .offenAdr{padding: .26rem .24rem;font-size: .32rem;color: #39393B;background: #fff;}
.addresslist{padding-bottom: .3rem}
.addresslist .item {border-top: 1px solid #f5f5f7;padding: .24rem 1rem .24rem .24rem;font-size: .24rem;overflow: hidden; background-color: #fff; position: relative;}
.addresslist .item .a_set_addr {display: block;}
.addresslist .item p.myAdr{font-size: .36rem;font-weight: bold;color: #39393B;}
.addresslist .item p.myTel{font-size: .26rem;color: #A7A7AC;margin-top: .1rem}
.addresslist .item p.myTel span.tel_num {margin-left: .2rem}
.btn_address {margin-top: .1rem; line-height: .44rem;overflow: hidden;}
.btn_address span {color: #999;float: right;background:rgb(208, 25, 0);color: #fff;padding: 3px 8px;border-radius: 5px;}
.addresslist .item .edit{position:absolute;right:.32rem;top:50%;margin-top: -.18rem}
.addresslist .item .edit_btn {width:.36rem;height:.36rem;border:0;background: url(../images/paotui/editIcon.png?v=1) no-repeat; background-size: .36rem;}
.addresslist .item.curr:before{content: '';width: .3rem;height: .3rem;background: url(../images/paotui/checked.png?v=1) no-repeat; background-size: .3rem;position: absolute;left: 0;top: 0;display: block;}

.addresslist .empty {margin-top: 1.6rem;text-align: center;}
.addresslist .empty p {font-size: .3rem;color: #666;}
.addresslist.noUse{display: none}
.addresslist.noUse h4.cc{padding: 0 .24rem; line-height: .8rem;}
.addresslist .item.disabled{opacity: .5}
/*取消订单弹窗*/
.orderAlert{position: fixed;top: 50%;left: 50%;margin-left: -2.4rem;margin-top: -1.2rem;width: 4.8rem;box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 0.13);border-radius: .3rem;background: #fff;z-index:100001;display: none;animation: popup .3s ease-out; }
.orderAlert.show{display: block;}
.orderAlert h2{font-size: .32rem;font-weight: bold;color: #000;padding-top: .58rem;padding-bottom: .5rem;text-align: center;}
.orderAlert ul {border-top: 1px solid #DCDCDE;}
.orderAlert ul li{float: left;width: 50%;box-sizing: border-box;text-align: center;line-height: .86rem}
.orderAlert ul li.giveup{border-right: 1px solid #DCDCDE;}
.orderAlert ul li a{font-size: .3rem;font-weight: bold;color: #000;}
.orderAlert ul li.continue a{color: #1F66F2;}