.header-address{font-weight: 500;}
body,html{background-color: #F5F5F5;}

.dl_box{margin-top: .2rem; background-color: #fff;}
.dl_box dt{padding: .42rem .26rem .3rem .22rem; position: relative; border-bottom: solid .01rem #E8E9EB; margin-bottom: .2rem;}
.dl_box dt h2{font-size: .3rem; color: #333; font-weight: 400;}
.dl_box dt h2:after{content: ''; display: inline-block; width: .26rem; height: .26rem; margin-bottom: -.04rem; background: url(../images/right_arr.png) center no-repeat; background-size: cover; margin-left: .1rem;}
.dl_box dt .clear_btn{display: block; font-size: .24rem; color: #97989C; position: absolute; right: .26rem; top: .46rem;}
.dl_box dt .clear_btn:before{content: ''; display: inline-block; width: .26rem; height: .26rem; background: url(../images/del_btn.png) no-repeat center; background-size: cover; margin-bottom: -.04rem; margin-right: .04rem;}

.cart_con li{padding:.2rem .24rem; position: relative;}
.left_pro{width: 1.2rem; height: 1.2rem; border-radius: .06rem; overflow: hidden; float: left;}
.left_pro img{width: 100% ; height: 100%; object-fit: cover;} 
.right_info{margin-left: 1.4rem; height: 1.2rem; position: relative;}
.right_info h3{font-size: .3rem; color: #222; font-weight: bold;}
.right_info p{font-size: .2rem; color: #98979C; margin-top: .12rem;}
.right_info span{display: block; font-size: .3rem; color: #222; position: absolute; right: 0; top: .5rem; font-family: moneyNumber;}
.right_info span em{font-size: .2rem;}

.price_calculate{ font-size: .26rem; color: #222; padding-top: .2rem; margin: 0 .24rem; border-bottom: solid .01rem #E8E9EB;}
.price_calculate p{padding: .14rem 0rem;}
.on_discount>i{content: '';  display: inline-block; width: .34rem; height: .28rem;background:#FF6B61 ;  margin-bottom: -.04rem; margin-right: .02rem; font-size:.2rem; color: #fff; text-align: center; border-radius: .06rem 0 .06rem 0; }
.on_full>i{content: '';  display: inline-block; width: .34rem; height: .28rem;   background:#4FD059 ;  margin-bottom: -.04rem; margin-right: .02rem; font-size:.2rem; color: #fff; text-align: center;border-radius: .06rem 0 .06rem 0;}
.price-hui,.fee_num{font-size: .22rem; color: #FF635C; float: right; font-family: moneyNumber;}
.price-hui em,.fee_num em{font-size: .3rem;}
.fee_num{color: #222;}

.pay_box{padding: .2rem .24rem;}
.pay_btn{float: right; height: .64rem; border-radius: .32rem; overflow: hidden;}
.pay_btn span{float: left; line-height: .64rem; text-align: center; font-weight: bold;}
.pay_btn span.text{background: #FCBF1C; color: #fff; min-width: .9rem; font-size: .28rem; padding: 0 .28rem;}
.no_full .pay_btn span.text{font-weight: normal; background: #ccc;}
.pay_btn span.count_fee{padding: 0 .2rem; font-size: .2rem; color: #FF635C; background: #FFF7E0; font-family: moneyNumber;}
.pay_btn span.count_fee em{font-size: .3rem;}
.hui_count{font-size: .26rem; color: #222; line-height: .64rem;}
.hui_count em{color: #FF635C;}
.del_btn{height:1.2;position: absolute; width: 1.2rem; color: #fff; background-color: #f54d40; right: -1.2rem; top: 0.2rem; font-size: .3rem; line-height: 1.2rem; text-align: center; display: none; }
.no_pro{font-size: .26rem; color: #666; text-align: center; padding: .5rem;}
/* 字体 */
.Allcart_box{padding-bottom: 1.2rem;}
@font-face {
	font-family: moneyNumber;
	src: url('../font/coregtd6.otf'),
		url('../font/coregtd6.TTF'),
		url('../font/coregtd6.svg'),
		 url('../font/coregtd6.woff'); /* IE9 */
}
