html, body {scroll-behavior: auto;}
body{cursor: pointer;}
.header{z-index: 7;}
.shop_img{width: 100%; height: 2.4rem; background: #000; }
.shop_img img{width: 100%; height: 100%; object-fit: cover; opacity: .5;}
.shop_info{max-height: 4.2rem;min-height: 3.5rem; position: relative; margin-bottom: .2rem;}
.info_box{ max-height: 2.36rem; background-color: #fff; border-radius: .1rem; position: relative; position: absolute; bottom: 0; left: 0; right: 0; padding: 0 .24rem; padding-bottom: .18rem; z-index: 2; }
.info_box .info_top{margin-left: 1.84rem;}
.info_box .info_top h2{color: #39393B; font-size: .36rem; line-height: 1.1em; margin-top: .2rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.info_box .info_top .info_detail{margin-top: .2rem; color: #636466; font-size: .24rem; }
.info_box .info_top .info_detail span{margin-right: .16rem;}
.info_detail .fen:before{ content: ''; display: inline-block; width: .28rem; height: .28rem; background: url(../images/star.png)  no-repeat center; background-size: cover; margin-bottom: -.04rem;}
.info_detail .fen em{/*vertical-align: middle;*/ color: #FFA800; margin-left: .04rem; margin-right: .1rem;}
.info_detail .fen.no_com{background-image: url(../images/star_01.png);}
.info_detail .fen.no_com em{color: #999;}
.shop_logo{width: 1.4rem; height: 1.4rem; border-radius: .06rem; position: absolute; box-shadow:0 .09rem .18rem 0 rgba(110,110,110,0.15); top: -.34rem; left: .24rem;}
.shop_logo img{width: 100%; height: 100%; object-fit: cover; border-radius: .06rem;}
.soucan{width: .34rem; height: .34rem; display: block; position: absolute; right: .44rem; top: .44rem; background: url(../images/soucan.png) no-repeat center; background-size: cover;}
.soucan.shou{ background-image: url(../images/shoucan2.png)}
.tab_con{margin-bottom: .8rem; min-height: 10rem;}
.label{font-size: .2rem; color: #fff; display: inline-block; width: .6rem; height: .3rem; border-radius: .1rem .1rem .1rem .02rem; vertical-align: middle; background:linear-gradient(30deg,rgba(255,99,13,1) 0%,rgba(254,57,20,1) 100%); margin-bottom: .04rem; font-weight: normal; text-align: center; margin-right: .08rem;}

/*未展开*/
.info_box h5{display: none;}
.announce p{text-overflow: ellipsis; white-space: nowrap; overflow: hidden; color: #98979C; font-size: .22rem; margin-top: .2rem; line-height: .36rem; margin-right:1.5rem;}
.announce p:before{content: '公告：';}
.hui_box{margin-top:.4rem ; position: relative; }
.hui_box p{color: #636466; margin-right: 1.2rem; margin-bottom: .2rem; display: none;}
.hui_box p.show{display: block;}
.hui_box p>i{color: #fff; width: .54rem; height: .28rem;background: no-repeat center; background-size: cover; content: ''; display: inline-block; margin-right: .1rem; vertical-align: middle; color: #fff; font-size: .18rem; text-align: center; border-radius: .06rem 0 .06rem 0;}
.hui_box p.first_tip>i{background:linear-gradient(144deg,rgba(83,215,92,1),rgba(72,197,83,1));}
.hui_box p.discount_tip>i{background:linear-gradient(144deg,rgba(255,120,118,1),rgba(255,87,63,1));}
.hui_box p.over_tip>i{background:linear-gradient(144deg,rgba(255,197,57,1),rgba(255,155,52,1));}
.hui_box p.ticket_tip>i{background:linear-gradient(144deg,rgba(118,170,255,1),rgba(63,144,255,1));}
.hui_box span.hui_num{font-size: .22rem; color: #97989C; position: absolute; right: 0; top: 0;}
.hui_box span.hui_num:after{content: ''; display: inline-block; width: .2rem; height: .2rem; background: url(../images/down_arr1.png) no-repeat center ;background-size: cover; margin-bottom: -0.04rem; margin-left: .07rem;}
/*展开*/

.info_box.open{position: fixed; top: 2.82rem; z-index: 12; bottom: auto;  height: 6rem; z-index: 10001;}
.info_box.open h5{display: block; font-size: .3rem; color: #222; margin-bottom: .25rem;}
.info_box.open .hui_num em{display: none;}
.info_box.open .hui_box span.hui_num:after{background-image: url(../images/up_arr.png);}
.info_box.open .hui_box {padding-bottom: .3rem; max-height: 3rem; overflow: auto;}
.info_box.open .announce p{white-space: normal; overflow: visible; text-overflow:initial;}
.info_box.open .announce p:before{display: none;}
.info_box.open .hui_box p{margin-right: .4rem;}
.info_box.open .close_shop_detail{display: block; width: .52rem; height: .3rem; background: url(../images/up_arr1.png) no-repeat center; background-size: .52rem auto; margin: auto; margin-top: .4rem;}
.info_box.open .hui_box p{display: block;}

.loading{text-align: center; margin: .5rem; color: #888;}
/*tab选项卡*/
.tab_box{position: relative;}
.tab_box .tab_top{padding: 0 .24rem; border-bottom: solid .02rem #E8E9EB; position: relative; z-index: 9}
.tab_ul{float: left; /* overflow: hidden; */}
.tab_ul .tab_li{float: left; margin-right: .76rem; font-size: .32rem; color: #636466; padding: .18rem 0; line-height: .32rem;}
.tab_ul .tab_li em{color: #98979C; font-size: .24rem; margin-left: .05rem;}
.tab_ul .tab_li.li_active{color: #222; font-weight: bold; position: relative;}
.tab_ul .tab_li.li_active:after{content: ''; display: block; position: absolute; width: .38rem; height: .04rem; border-radius: .02rem; background: #FCBF1C; bottom: -.04rem; left:.12rem;}
.search_btn{width: .73rem; height: .6rem; background:#FDC224 url(../images/search_icon1.png) no-repeat ;background-position: .22rem center; background-size: .36rem; position: absolute; right: 0; top: .04rem; border-radius: .3rem 0 0 .3rem; }

.tab_box .left_box li{min-height: .88rem; box-sizing: border-box; padding: .3rem .1rem; position: relative;}
.tab_box .left_box li a{ display: -webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp: 2;overflow: hidden;}
.tab_box .left_box li.type_active{background-color: #fff;}
.tab_box .left_box li i{display: block;height: .24rem; border-radius: .14rem; background: #FF5756; color: #fff;font-size: .2rem; position: absolute;top: .15rem; right: 0; min-width: .24rem;text-align: center; padding: 0 .04rem; box-sizing: border-box;line-height: .24rem;}
.tab_box .left_box li.type_active a{color: #222; font-size: .26rem; font-weight: bold;}
.tab_box .left_box li.hot_sale a:before{content: ''; display: inline-block; width: .32rem; height: .32rem; background: url(../images/hot.png) no-repeat center; background-size: cover; margin-bottom: -.04rem; margin-right: .06rem;}
.tab_box .left_box{width: 1.42rem; text-align: center; color: #636466; font-size: .24rem; padding-bottom: 1.4rem; background: #F9F9F8;position: relative; overflow: auto; box-sizing: border-box; -webkit-overflow-scrolling: touch;  box-sizing: border-box; pointer-events: all;position: absolute; top: .72rem; z-index: 8; left: 0;}

/*产品*/
.prolist{background-color: #fff; padding-bottom: .2rem; width: 100% !important;}


.right_list{padding-left: 1.62rem;  box-sizing: border-box; -webkit-overflow-scrolling: touch; padding-bottom: 1.4rem; overflow: auto;}
.pro_img{width: 1.6rem; height: 1.6rem; float: left; border-radius: .06rem;}
.pro_img img{display: block; width: 100%; height: 100%;object-fit: cover; border-radius: .06rem;}
.dl_box dt{color: #636466; font-size: .24rem; font-weight: bold; padding-top:.29rem ; padding-bottom: .16rem; }
.dl_box dt em{color: #98979C; font-size: .22rem; margin-left: .1rem; }
.dl_box dt.to_top{position: fixed; top:1.6rem; left: 1.62rem; right: 0;z-index: 9;background-color: #fff;}

.pro_detail{margin-left: 1.8rem;}
.choose_food .pro_detail h3{color: #ffaa00;}
.pro_detail h3{font-size: .3rem; color: #222; line-height: .3rem; font-weight: bold; padding-top: .06rem; margin-right:.2rem; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.pro_detail .pro_info p{margin-top:.1rem ; font-size: .2rem; color: #98979C; margin-right:.2rem; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.pro_detail .pro_info span{margin-right: .14rem;}
.pro_price{font-size: .3rem; color: #FF635C; font-weight: bold;/* position: absolute; bottom: -.1rem; */ margin-top: .16rem; }
.pro_price span.discount_num{font-size: .18rem; font-weight: normal; border: solid 1px #FFD6D4; margin-right: .1rem;  border-radius: .04rem; display: inline-block; vertical-align: middle; padding: 0 .04rem}
.limit_gou .xian{font-weight: normal; font-size: .22rem; vertical-align: middle; color: #FF635C; vertical-align: middle;}
.pro_price span{line-height: .3rem; font-family: moneyNumber; font-weight: normal;}
.pro_price .now_price.star_price:after{content: '起'; font-size: .24rem; font-weight: normal;}
.pro_price em{font-size: .2rem; font-weight: bold;}
.pro_price i{font-size: .22rem; color: #97989C; text-decoration: line-through; margin-left: .1rem; font-weight: normal; }
.dd_box .pro_detail{position: relative; min-height: 1.6rem;}
.change_cart i{display: inline-block; width: .54rem; height: .54rem; background: no-repeat center; background-size: cover; vertical-align: middle;}
.change_cart i.add{background-image: url(../images/add.png);}
.change_cart i.sub{background-image: url(../images/sub.png); display: none;}
.change_cart span{font-size: .28rem; color: #222; text-align: center; vertical-align: middle; margin: 0 .04rem; display: inline-block; min-width: .4rem; display: none;}
.change_cart,.chose_type{position: absolute; top: 1.1rem; right: .25rem;}
/*.change_cart.null_chose span,.change_cart.null_chose .sub{display: none;}*/
.dd_box{position: relative; padding: .2rem 0;}
.cart_list .change_cart span,.cart_list .change_cart i.sub,.change_cart span.show,.change_cart i.sub.show {display: inline-block;}


.next_detail {display: block; font-size: .22rem; color: #FF635C; margin-left: 1.8rem; margin-top:.16rem ;}
.next_detail .xiangou{color: #FF635C;}
.chose_type{height: .5rem; padding: 0 .19rem; border-radius: .25rem; color: #fff; background: #FCBF1C; text-align: center; line-height: .5rem;}

/*底部购物车*/
.hui_tip,.buy_tip{background:#FFF7CE; color: #592000; font-size: .24rem; text-align: center; padding: .16rem 0;}
.buy_tip em{color: #ff5756;}
.bottom{position: fixed; bottom: 0; left: 0; right: 0; z-index: 10; background-color: #fff; /*display: none;*/}
.cart_box .right_btn,.cart_box .rdisabled{color: #fff; font-size: .3rem; line-height: .88rem; float: right; width: 2.26rem; text-align: center;
background: -webkit-linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(252,191,28,1) 100%); /* Safari 5.1 - 6.0 */
background: -o-linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(252,191,28,1) 100%); /* Opera 11.1 - 12.0 */
background: -moz-linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(252,191,28,1) 100%); /* Firefox 3.6 - 15 */
background:linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(252,191,28,1) 100%);
}
.cart_box.null_cart .right_btn,.no_base .right_btn,.cart_box .rdisabled{ background: #ccc !important; white-space:nowrap;}
.cart_box.null_cart{pointer-events: none;}
.cart_box .right_btn{
	background: -webkit-linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(252,191,28,1) 100%); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(252,191,28,1) 100%); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(252,191,28,1) 100%); /* Firefox 3.6 - 15 */
	background:linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(252,191,28,1) 100%);
	}
.cart_box {position: relative;padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom));}
.cart_box .left_con{margin-left: 1.3rem; float: left; padding-top:.1rem; }
.cart_box .left_con h4{margin-top: .12rem;}
.cart_box .left_con h4 span em{font-size: .24rem;}
.cart_box .left_con h4 span{color: #FF635C; font-size: .36rem; line-height: .36rem; font-family: moneyNumber;}
.cart_box .left_con h4 i{color: #97989C; font-size: .22rem; text-decoration: line-through; margin-left: .07rem;}
.null_cart.cart_box .left_con h4{color: #222; font-size: .24rem; margin-top: .15rem;}
.cart_box .left_con p{color: #97989C; font-size: .2rem; display:none;}
.cart_box.null_cart .cart{
background: -webkit-linear-gradient(0deg,rgba(170,170,170,1) 0%,rgba(203,203,203,1) 100%); /* Safari 5.1 - 6.0 */
background: -o-linear-gradient(0deg,rgba(170,170,170,1) 0%,rgba(203,203,203,1) 100%); /* Opera 11.1 - 12.0 */
background: -moz-linear-gradient(0deg,rgba(170,170,170,1) 0%,rgba(203,203,203,1) 100%); /* Firefox 3.6 - 15 */
background:linear-gradient(0deg,rgba(170,170,170,1) 0%,rgba(203,203,203,1) 100%);
}
.cart_box .cart i{display: block; width: 100%; height: 100%; background-image: url(../images/cart.png); background-size: .48rem; background-position: center; background-repeat: no-repeat;}
.cart_box .cart{position: relative; position: absolute; width: .88rem; height: .88rem; border-radius: 50%; left: .24rem; top: -.13rem;
	background: -webkit-linear-gradient(0deg,rgba(255,174,0,1) 0%,rgba(255,201,56,1) 100%); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(0deg,rgba(255,174,0,1) 0%,rgba(255,201,56,1) 100%); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(0deg,rgba(255,174,0,1) 0%,rgba(255,201,56,1) 100%); /* Firefox 3.6 - 15 */
	background:linear-gradient(0deg,rgba(255,174,0,1) 0%,rgba(255,201,56,1) 100%);
}
.cart_box.null_cart .cart em{display: none;}
.cart_box .cart em{display: block;  height: .28rem; border-radius: .14rem; border: solid .02rem #fff; background: #FF5756; color: #fff; font-size: .2rem; position: absolute; top: 0; right: 0;min-width: .28rem; text-align: center;padding: 0 .04rem;box-sizing: border-box; line-height: .28rem;}

.cart_box .cart.swing { animation: swing .3s linear;-webkit-animation: swing .3s linear;-moz-animation: swing .3s linear;}
@-webkit-keyframes swing{0%{transform:scale(.8);}100%{transform:scale(1)}}
@-moz-keyframes swing{0%{transform:scale(.8);}100%{transform:scale(1)}}
@keyframes swing{0%{transform:scale(.8);}100%{transform:scale(1)}}

.mask,.mask_nature,.mask_cart{width: 100%; height: 100% ; background: rgba(0,0,0,.5); position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 11; overflow: hidden; display: none;}
.mask_nature{z-index: 10;}
.mask_cart{z-index: 9;}
/*购物车内容显示*/
.cart_content{width: 100%; position: relative; max-height: 5.4rem; position: fixed;bottom: 0rem; background: #fff; z-index: 9; padding-bottom: 1.5rem;  padding-top: .88rem; display: none; -webkit-animation: bottomFadeIn .3s ease-out; -moz-animation: bottomFadeIn .3s ease-out; animation: bottomFadeIn .3s ease-out; }
.cart_content{padding-bottom:calc(1.5rem + constant(safe-area-inset-bottom));padding-bottom: calc(1.5rem + env(safe-area-inset-bottom));}
.cart_content h2{font-size: .3rem; color: #222; line-height: .88rem; border-bottom: solid .01rem #E8E9EB; padding: 0 .24rem; position: absolute; top: 0; left: 0; right: 0;}
.cart_list{overflow: auto; max-height: 5.4rem; -webkit-overflow-scrolling: touch;}
.cart_content h2 .clear_btn{font-size: .24rem; color: #97989C; float: right;}
.cart_content h2 .clear_btn:before{content: ''; display: inline-block; width: .22rem; height: .22rem; background: url(../images/clear_btn.png) no-repeat left top; background-size: cover; vertical-align: middle; margin-right: .04rem;}
.cart_content h2 .clear_btn em{vertical-align: middle;}
.cart_dd.dabao .info h3{float: left;}
.cart_dd.dabao {margin: 0 .24rem;}
.cart_dd.dabao .info{overflow: hidden;}
.cart_dd.dabao .info .price{float: right; color: #FF635C; font-size: .3rem;}
.cart_dd{padding-top: .3rem; position: relative;}
.cart_dd .cart_img{width: 1.2rem; height: 1.2rem; border-radius: .06rem; float: left; margin-left: .23rem;}
.cart_dd .cart_img img{width: 100%; height: 100%; object-fit: cover; border-radius: .06rem;}
.cart_dd .cart_info{margin-left:1.62rem;padding-bottom: .3rem; border-bottom: solid .01rem #E8E9EB; height: 1.2rem; position: relative;}
.cart_dd .cart_info h3,.cart_dd.dabao .info h3{color: #222; font-size: .3rem; margin-bottom: .12rem;}
.cart_dd .cart_info p{color: #98979C; font-size: .2rem;}
.cart_dd .cart_info p span{color: #FF635C; font-size: .3rem; font-family: moneyNumber;}
.cart_dd .cart_info p span em{font-size: .22rem;}
.cart_dd .cart_info p i.o_price{color: #97989C; font-size: .22rem; text-decoration: line-through; margin-left: .1rem;}
.cart_dd .cart_info p.price{position: absolute;bottom: 0.3rem;}
.cart_dd .change_cart{bottom: .3rem;}
.cart_dd:nth-last-child(1) .cart_info {border-bottom: 0;}
.flyer-img{width: .8rem;height: .8rem;border-radius: 1rem; z-index: 9999999;}

/*规格选择*/
.rank_box{width: 6.4rem; position: fixed; top: 14%; left: 50%; margin-left: -3.2rem;z-index: 11; background: #fff; border-radius: .16rem; overflow: hidden;display: none;  -webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out;}
.rank_box h2{text-align: center; color: #222; font-size: .32rem; padding: .28rem .82rem;  overflow: hidden; text-overflow: ellipsis; position: relative; line-height: .32rem; white-space: nowrap;}
.rank_box i.close_btn{display: block; width: .32rem; height: .32rem; background: url(../images/close_btn.png) no-repeat center; background-size: cover; position: absolute; right: .26rem; top: .28rem;}

.chose_box{max-height: 6rem;min-height: 3.2rem; box-sizing: border-box; padding: 0 .3rem; overflow: auto; padding-bottom: .2rem; }
.chose_box dt{font-size: .3rem; color: #222; margin-top: .3rem;}
.chose_box dd{display: inline-block; min-width: 1.5rem; line-height: .56rem; border-radius: .28rem; border: solid .01rem #E8E9EB; text-align: center; font-size: .26rem; color: #222; margin-right: .2rem; box-sizing: border-box; padding: 0 .33rem; margin-top: .2rem;}
.chose_box dd.curr{background-color: #FFF7E1; color: #222; border:solid .01rem #FCBF1C;}
.chose_result{height: 1.1rem; background-color: #F5F5F5; padding:0 .24rem ;}
.chose_result .chose_price{float: left; color: #FF635C; font-size: .42rem; margin-top: .32rem; line-height: .42rem; max-width: 3.5rem ; overflow: hidden; text-overflow:ellipsis;  white-space:nowrap;}
.chose_result .chose_price span{color: #222; font-size: .24rem; display: none; font-weight: normal;  max-width: 2rem;overflow: hidden; text-overflow: ellipsis;     white-space: nowrap;}
.chose_result .chose_price span em{font-weight: normal; font-family: "microsoft yahei";}
.chose_result .chose_price span:before{content: '(';}
.chose_result .chose_price span:after{content: ')';}
.chose_result .chose_price em{font-family: moneyNumber;}
.chose_result .chose_price span em:after{content: ',';}
.chose_result .chose_price span em:last-child:after{content: '';}
.chose_result .sure_cart{float: right; line-height: .66rem; font-size: .28rem; color: #fff; text-align: center; width: 2.2rem; border-radius: .33rem; background: #FCBF1C; margin-top: .22rem;}
.chose_result .sure_cart:before{content: ''; display: inline-block; width: .32rem; height: .32rem;background: url(../images/cart.png) no-repeat center; background-size: cover; margin-bottom: -.04rem; margin-right: .08rem;}
.rank_box .sure_cart[disabled=disabled]{background: #ccc; pointer-events: none;}
/*产品展示*/
.pro_show{width: 100%;position: relative;position: fixed; bottom: -12rem; background: #fff;z-index: 11;}
.pro_show .pro_imglist{height: 7rem; overflow: hidden;}
.pro_show .pro_imglist img{width: 100%; height: 100%; object-fit: cover;}
.pro_show .pro_imglist .img_page.swiper-pagination-fraction{ border-radius: .23rem;  background: rgba(0,0,0,.5); color: #fff; width: auto; z-index: 10; width: 1rem;  bottom: .3rem; position: absolute; left: auto; right: .25rem; font-size: .24rem;  text-align: center;}
.pro_show .pro_imglist .img_page.swiper-pagination-fraction .swiper-pagination-current{font-size: .36rem; line-height: .46rem;}

.show_info{padding: .28rem .2rem; position: relative;}
.show_info h2{color: #39393B; font-size: .36rem; line-height: .36rem;}
.detail_info h2{font-size: .3rem; line-height: .3rem; margin-bottom: .23rem;}
.show_info .ps_info{color: #98979C; font-size: .24rem; margin-top: .24rem;}
.show_info .ps_info span{margin-right: .18rem;}
.show_info .show_price{color: #FF635C; font-size: .3rem; margin-top: .28rem; font-family: moneyNumber;}
.show_info .show_price em{font-size: .22rem;}
.show_info .show_price i{color: #97989C; font-size: .22rem; text-decoration: line-through; margin-left: .1rem;}
.show_info .change_cart{position: absolute; right: .26rem; top: 1.4rem;}
.show_info .detail_info{margin-top: .54rem;}
.show_info .detail_info p{color: #98979C; font-size: .24rem; line-height: .4rem;}
.hide_btn{display: block; width: .44rem; height: .44rem; border-radius: 50%; background: rgba(0,0,0,.5) url(../images/close.png) no-repeat center; background-size: .2rem; position: absolute; top: .24rem; right: .18rem;z-index: 3;}

/*评价*/
.score_box{background-color: #fff; border-bottom: solid .2rem #F5F5F5; padding: .52rem 0; padding-left: .6rem;}
.left_scroe {float: left; text-align: center;}
.left_scroe h3{color: #FFA800; font-size: .6rem; line-height: .6rem; margin-bottom: .06rem; font-weight: bold;}
.left_scroe p{color: #636466; font-size: .24rem; line-height: .24rem;}
.score_detail{margin-left: 1.7rem; padding-left: .5rem; border-left: solid .02rem #EFF0F1; height: .8rem;}
.score_detail>div{color: #636466; font-size: .24rem;}
.score_detail>div:nth-child(1){margin-bottom: .18rem;}
.score_detail>div span{margin-right: .13rem;}
.score_detail>div i{display: inline-block; width: .28rem; height: .28rem; background: url(../images/star_01.png) no-repeat center ; background-size: cover;  margin-bottom: -.04rem;}
.score_detail>div i.star_on,.comm_score .score i.star_on{background-image: url(../images/star.png);}
.score_detail>div i.star_half,.comm_score .score i.star_half{background-image: url(../images/star3.png);}
/*评论*/
.commt_box{width: 100%; padding-top: .08rem;}
.commt_type{margin-left:.24rem;}
.commt_type li{display: inline-block; line-height: .56rem; border-radius: .28rem; border: solid 1PX #CBCDD1; padding: 0 .3rem; margin-right: .12rem; margin-top: .2rem; font-size: .24rem; color: #666;}
.commt_type li.type_on{background: #FDC224; color: #fff; border: solid .01rem #FDC224;}
.commt_list{margin-left: .24rem; margin-top: .1rem;}
.comm_li{ border-bottom: solid .02rem #E8E9EB; padding-bottom: .2rem; padding-top: .3rem;}
.comm_li .left_head{ width: .6rem; height: .6rem; border-radius: 50%; float: left;}
.comm_li .left_head img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.comm_li .right_con{margin-left: .76rem;}
.comm_score{padding-right: .24rem;}
.comm_score .score{margin-left: -.04rem;}
.comm_score .score i{display: inline-block; width: .28rem; height: .28rem; background: url(../images/star_01.png) no-repeat center ; background-size: cover; margin-right: .06rem; margin-bottom: -.04rem;}
/*.comm_score{margin-left: .76rem;}*/
.comm_score h3{float: left;}
.comm_score .nickname{font-size: .26rem; color: #636466; margin-bottom: .06rem; line-height: .26rem; margin-top: .04rem;}
.comm_time{color: #97989C; font-size: .24rem; float: right;}
.commt{margin-top:.18rem ; margin-right: .2rem;}
.commt_txt{color: #393A3B; font-size: .24rem; line-height: .36rem; margin-bottom: .2rem;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 4;overflow: hidden;}
.commt_img{overflow: hidden; position: relative;}
.commt_img li{width: 2rem; height: 2rem; margin-right: .1rem; float: left;}
.commt_img li img{display: block; width: 100%; height: 100%; object-fit: cover;}
.commt_img i{display: block; font-size: .24rem; color: #fff; background: rgba(0,0,0,.5); line-height: .36rem; position: absolute; right: .42rem; bottom: .3rem;padding: 0 .2rem; border-radius: .18rem;}
.b_reply{padding: .2rem; background: #F5F5F5; font-size: .24rem; color: #97989C; margin-top: .26rem; margin-right: .24rem; position: relative; line-height: .36rem;}
.b_reply:before{content: ''; display: block; width: .2rem; height: .2rem; transform: rotate(45deg);background: #F5F5F5; position: absolute; top: -.1rem; left: .3rem;}

/*商家*/
.shop_imgbox{padding: .36rem .22rem; padding-right: 0;border-bottom: solid .2rem #f5f5f5; border-top: solid .2rem #f5f5f5;}
.shop_imgbox h2{color: #222; font-size: .3rem; margin-bottom: .16rem;}
.shop_imgbox .imglist li{/*display: inline-block;*/ width: 2rem !important; height: 2rem !important; margin-right: .1rem;}
.shop_imgbox .imglist li img{width: 100%; height: 100%; object-fit: cover;}

.shop_imgbox p{color: #98979C; font-size: .24rem; line-height: .36rem; padding-right: .24rem; margin-top: .2rem;}

.detail_list{padding: 0 .24rem;}
.detail_list li{border-bottom: solid 1PX #E8E9EB; display: flex; align-items: center; justify-content:space-between;}
.detail_list li span{color: #636466;}
.detail_list li:nth-last-child(1){border: none;}
.detail_list li label{/*float: left;*/ font-size: .28rem; color: #222; line-height: .88rem;}
.detail_list li p{/*float: right;*/ font-size: .26rem; color: #636466; max-width: 5.6rem; text-align: right;}
.detail_list li.address_li p{max-width: 48%; text-align: right; padding: .15rem 0.1rem;}
.detail_list li.link_li p a{color: #0087FF; font-size: .28rem;}
.detail_list li.phone_number p:after{content: ''; display: inline-block; width: .26rem; height: .26rem; background: url(../images/right_arr.png) no-repeat center; background-size: .26rem auto; margin-left: .12rem; margin-bottom: -.04rem;}


.fixedtop.tab_box{position: fixed; top: 0; left: 0; right: 0; z-index:7; pointer-events: none;}
.fixedtop.tab_box .tab_top{background-color: #fff; pointer-events: all;}

.rating-wrapper { position: relative; overflow: hidden; display: inline-block; vertical-align: middle; width: 1.42rem; overflow: hidden; margin-bottom: .04rem;}
.rating-actived, .rating-gray { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex;}
.rating-actived svg, .rating-gray svg { width: 1.7rem; height: .4rem; -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none;}
.rating-actived { position: absolute; top: 0; left: 0; overflow: hidden;}
#searchForm{margin-left: .8rem; margin-right: .24rem}
.search #searchForm input{width: 90%;}
.jello-horizontal {
	-webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}
/*动画*/
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-11-4 9:30:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-out-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
}
@keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
}


.show{display: block ;}

body,html{ min-height: 100%; display: block;}
.search_page{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #fff; z-index: 8;display: none;}
.search{ height: 1rem; line-height: 1rem; background: #fff; position: absolute; top: 0; left: 0; right: 0;z-index: 3; }
.huoniao_iOS .goBack{display: none;}
.huoniao_iOS .search input {width: 90%; margin-left: 2%;}
.search i{ width: .8rem; height: .95rem; display: inline-block; background: url(../images/Arrow_left.png) no-repeat center center; background-size: .4rem; float: left;}
.search input{ height: .7rem; border: none; border-radius: 0.35rem; width: 80%; padding-left: 0.6rem; background: #f5f5f5 url(../images/search_1.png) no-repeat 0.2rem; background-size: .4rem; text-indent: 0.2rem; font-size: 0.28rem;}
.search button{ border:none; background: #fff; font-size: 0.3rem; margin-left: 0.2rem;}
.history{ display: none;}
.all_shan{ display: none; height: 1rem; line-height: 1rem; text-align: center; font-size: 0.3rem; color: #ff0000; background: #fff;}
.title{position: relative; padding: .2rem .3rem; font-weight: 400; font-size: .28rem;}
.wordsBox ul{padding: 0 .3rem;}
.wordsBox li{background: #f5f5f5; float: left; margin-right: .2rem; border-radius: .04rem; text-align: center;}
.wordsBox li a{ height: .6rem; line-height: .6rem; font-size: 0.26rem; display: block; padding: 0 .3rem; color: #666;}
.title .all_shan{position: absolute; width: .8rem; height: .8rem; background: url(../images/clear_btn.png) center center no-repeat; background-size: .3rem; right: 0; top: 0;}
.slist_box{padding-top: 1rem; height: 100%; overflow: auto;box-sizing: border-box;}
.slist_box li{padding:.2rem .24rem;}
.sload{font-size: .24rem; color: #999; text-align: center; padding: .3rem; display: none;}

/* .info_box.fn-hide{display: none; animation: bottomFadeOut .3s ease-in; } */
/*提示层样式*/
.popMsg{position: fixed; top: 35%; left: 50%; background-color: rgba(0,0,0,.7);  border-radius:.2rem; margin-left: -1.7rem; margin-top: -.5rem; text-align: center; z-index: 1000; white-space: nowrap;  min-width: 3.4rem; height: 1rem; line-height: 1rem;}
.popMsg p{color: #fff; font-size: .28rem; }
/* 禁止滚动 */
.noscroll,
.noscroll body {
	 overflow: hidden;
}
.noscroll body {
	position: relative;
}

/* 字体 */

@font-face {
	font-family: moneyNumber;
	src: url('../font/coregtd6.otf'),
		url('../font/coregtd6.TTF'),
		url('../font/coregtd6.svg'),
		 url('../font/coregtd6.woff'); /* IE9 */
}

/* 20200307 样式调整 */
.pro_price span{vertical-align: middle;}
.pro_price  .now_price{margin-right: .1rem;}
.pro_price {max-width: 2rem;}
.pro_price .vip_price{color: #353535; white-space: nowrap; font-size: .26rem; line-height: 1.6em; display: block;}
.pro_price .vip_price em{font-size: .22rem;}
.pro_price .vip_price:after{content: ''; display: inline-block; width: .54rem; height: .28rem; background: url(../images/vip_icon.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-left: .03rem;}

.swiper-slide.prolist{min-height: 5rem;}
.loading_pro{font-size: .28rem; text-align: center; padding: .6rem; color: #999;}
