.header-address{font-weight: 500;}
body,html{background-color: #F5F5F5;}

/*<!--地址选择、配送方式-->*/
.addr_box{margin: .4rem .23rem .2rem .23rem;}
.addr_box .tab_ul{height: .7rem; background-color: #F0EEEF; position: relative;}
.addr_box .tab_li{float: left; width: 48.6%;   text-align: center; position: relative; position: absolute; bottom: 0;}
.addr_box .tab_li:first-child{left: 0;}
.addr_box .tab_li:last-child{right: 0;}
.addr_box li.tab_li.active_li{width: 51.4%;  line-height: .7rem; }
.addr_box li.tab_li a{color: #98979C; font-size: .3rem; line-height: .7rem;}
.addr_box li.tab_li.active_li a{position: relative; z-index: 2; color: #222; font-weight: bold; display: block;}
.addr_box li.tab_li:first-child.active_li:after{transform:  scaleY(1.2) perspective(1em) rotateX(1deg); transform-origin: bottom left; }
.addr_box li.tab_li:last-child.active_li:after{transform:  scaleY(1.2) perspective(1em) rotateX(1deg); transform-origin: bottom right; }
.addr_box li.tab_li.active_li:after{width: 100%; height: 100%; content: ''; display: block; position: absolute;background-color: #fff; top: 0; left: 0; right: 0; z-index: 0; border-radius: .06rem .06rem 0 0;} 

/*外卖地址*/
.tab_con{display: none; background-color: #fff; }
.tab_con.tab_show{display: block;}
.tab_con.tab_addr .address{ padding:.4rem .15rem;}
.tab_con.tab_addr .address:before{content: ''; display: inline-block; width: .44rem; height: .44rem; background: url(../images/posi.png) no-repeat center; background-size: cover; margin-bottom: -.04rem; vertical-align: middle;}
.addr_info{display: inline-block; vertical-align: middle; margin-left: .15rem; line-height:1.8em; width: 80%; padding-right: 3%;} 
.addr_info h2{ display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2; overflow: hidden; font-size: .36rem; color: #222; margin-bottom: .14rem;}
.addr_info p{color: #636466; font-size: .24rem;}
.tab_con.tab_addr .address:after{content: ''; display: inline-block; width: .32rem; height: .32rem;background: url(../images/r_arr.png) no-repeat center; background-size: cover; vertical-align: middle;}
/*商家地址*/
.shop_addr{padding: .27rem .24rem;}
.shop_addr:before{content: '商家地址'; display: block; color: #636466; font-size: .24rem;}
.shop_addr h2{font-size: .36rem; color: #222; margin-bottom: .14rem; margin-top: .1rem; line-height: .45rem;}
.map_area{width: 100%; height: 2.3rem; background: #f4f4f4; margin-bottom: .12rem; overflow: hidden;}
/* .map_area img{width: 100%; height: 100%; object-fit: cover;} */
.info_detail{font-size: .28rem; color: #222;}
.info_detail li{padding: .24rem 0;}
.info_detail li input{background: none; border: none; text-align: right; color: #222; float: right; line-height: .32rem;}
.info_detail li.time:before{content: '';float: right; width: .32rem; height: .32rem; background: url(../images/r_arr.png) no-repeat center; background-size: cover; margin-bottom: -.04rem;}

/*订单详情*/
.dl_box{margin: .2rem .24rem; background-color: #fff; }
.dl_box dt{padding: .2rem .2rem .26rem .2rem; position: relative; border-bottom: solid .01rem #E8E9EB; margin-bottom: .2rem;}
.dl_box dt h2{font-size: .3rem; color: #333; font-weight: 400;}
.dl_box dt .clear_btn{display: block; font-size: .24rem; color: #97989C; position: absolute; right: .26rem; top: .46rem;}
.dl_box dt .clear_btn:before{content: ''; display: inline-block; width: .26rem; height: .26rem; background: url(../images/del_btn.png) no-repeat center; background-size: cover; margin-bottom: -.04rem; margin-right: .04rem;}

.cart_con li{padding:.2rem .24rem; position: relative;}
.left_pro{width: 1.2rem; height: 1.2rem; border-radius: .06rem; overflow: hidden; float: left;}
.left_pro img{width: 100% ; height: 100%; object-fit: cover;} 
.right_info{margin-left: 1.62rem; height: 1.2rem; position: relative;}
.right_info h3{font-size: .3rem; color: #222; font-weight: bold;}
.right_info p{font-size: .2rem; color: #98979C; margin-top: .12rem;}
.right_info span{display: block; font-size: .3rem; color: #222; position: absolute; right: 0; top: .5rem; font-family: moneyNumber;}
.right_info span em{font-size: .2rem;}
.right_info span s.oprice{color: #999; font-size: .2rem; margin-right: .1rem; font-family: arial;}
.price_calculate{ font-size: .28rem; color: #222; padding-top: .2rem; padding-bottom:.2rem ; margin: 0 .24rem; border-bottom: solid .01rem #E8E9EB;}
.price_calculate p{padding: .14rem 0rem;}
.price_calculate p.ps_tip{padding: 0; font-size: .2rem; color: #ccc;}
.price_calculate p.on_full{display: none;}
.on_discount i{ display: inline-block; width: .34rem; height: .28rem; /* background:url(../images/dis_1.png) no-repeat center ; background-size: cover; */ background:linear-gradient(144deg,rgba(255,120,118,1),rgba(255,87,63,1)); margin-bottom: -.04rem; margin-right: .02rem; color: #fff; font-size: .2rem; text-align:center;  border-radius: .06rem 0 .06rem 0;}
.on_full i{ display: inline-block; width: .34rem; height: .28rem; /* background:url(../images/full_1.png) no-repeat center ; background-size: cover; */ background:linear-gradient(144deg,rgba(255,197,57,1),rgba(255,155,52,1)); margin-bottom: -.04rem; margin-right: .02rem; color: #fff; font-size: .2rem; text-align:center;  border-radius: .06rem 0 .06rem 0;}
.on_first i{content: '';  display: inline-block; width: .34rem; height: .28rem; /* background:url(../images/fir_1.png) no-repeat center ; background-size: cover; */ background:linear-gradient(144deg,rgba(83,215,92,1),rgba(72,197,83,1)); margin-bottom: -.04rem; margin-right: .02rem; color: #fff; font-size: .2rem; text-align:center;  border-radius: .06rem 0 .06rem 0;}
.price-hui,.fee_num{font-size: .22rem; color: #FF635C; float: right;font-family: moneyNumber;}
.price-hui em,.fee_num em{font-size: .3rem;}
.fan-fee .price-hui{font-size: .24rem; margin-top: .06rem;}
.fan-fee i{display: inline-block; width: .34rem; height: .28rem; /* background: url(../images/fan.png) no-repeat center; background-size: .34rem auto; */ margin-bottom: -.04rem; margin-right: .02rem;  color: #fff; font-size: .2rem; text-align:center;  border-radius: .06rem 0 .06rem 0; box-sizing: border-box; background-color: #FFF0EF; border:#FF6251 solid .01rem ; color: #FF6251;}
.price-hui em{font-size: .3rem;}
.fee_num{color: #222;}
.play_btn{font-size: .24rem;}
.pay_box{padding: .2rem .24rem; text-align: right;}
.hui_count{font-size: .24rem; margin-right: .3rem;}
.hui_count em{color: #ff635c;}
.pay_btn .count_fee em{ font-size: .36rem; font-family: moneyNumber;}
/*优惠券选择*/
.coupon_chose{padding:.24rem; border-bottom: solid .01rem #E8E9EB;}
.hide_arr.coupon_chose:before{display: none;}
.coupon_chose:before,.more_box li:before{content: '';float: right; width: .2rem; height: .2rem; background: url(../images/r_arr.png) no-repeat center; background-size: .2rem; margin-top: .08rem;}
.coupon_chose span{float: right; font-size: .22rem;  line-height: .4rem;  border-radius: .03rem; color: #999;}
.coupon_chose span.coupon_num{color: #fff; padding: 0 .12rem;
	background: -webkit-linear-gradient(45deg,rgba(242,116,23,1),rgba(251,79,82,1)); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(45deg,rgba(242,116,23,1),rgba(251,79,82,1)); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(45deg,rgba(242,116,23,1),rgba(251,79,82,1)); /* Firefox 3.6 - 15 */
	background:linear-gradient(45deg,rgba(242,116,23,1),rgba(251,79,82,1));
}
.coupon_chose span.auto_chose{font-size: .28rem; color: #FF635C; font-family: moneyNumber;}
.coupon_chose label{font-size: .28rem; color: #222;}
/*更多*/
.more_box{margin: 0 .24rem; margin-bottom: 1.08rem; background: #fff;}
.more_box li{border-bottom: solid .01rem #E8E9EB; padding: .3rem .18rem; font-size: .28rem;}
.more_box input,.more_box span.pay_way{float: right; text-align: right; border: none; background: no-repeat; line-height: .4rem; width: 60%;}
.more_box li:last-child{border: none;}
.pay_way em{font-size: .24rem; color: #636466;}
::placeholder{color: #97989C;}
/*底部*/
.bottom_box {background-color: #444; position: fixed; bottom: 0; left: 0; right: 0; z-index: 3;}
.bottom_box button{width: 2.1rem; height: .88rem; color: #fff; line-height: .88rem; float: right; background: none; text-align: center; font-size: .3rem; border: none;
background: -webkit-linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(252,191,28,1) 100%); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(252,191,28,1) 100%); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(252,191,28,1) 100%); /* Firefox 3.6 - 15 */
background: linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(252,191,28,1) 100%);
  padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom));
}
.bottom_box button[disabled='true']{background: #ccc; }
.fee_info{margin-right: 0 2.1rem; padding: 0 .2rem; font-size: .24rem; color: #fff; overflow: hidden; box-sizing: border-box; padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); display: flex; justify-content: space-between; align-items: center;}
.b_txt{float: left; line-height: .88rem;}
.r_count{float: right; font-family: moneyNumber;}
.r_count em{font-size: .36rem; /* line-height: .88rem; */}

/*遮罩*/
.header{z-index: 9;}
.mask_tableware,.mask_timechose,.mask_tip,.mask_gz{ background: rgba(0,0,0,.78); position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 10; display: none;}
.tware_chose,.payway_chose,.time_chose{background: #fff;position: relative;position: fixed; bottom: -5.6rem; left: 0; right: 0;z-index: 11; height: 5.6rem; text-align: center;}
.payway_chose{height: 2.8rem; bottom: -2.8rem;}
.tware_chose ul,.payway_chose dl,.time_chose .time_box{ height: 100%; overflow: hidden;padding-top: .9rem; overflow: auto; box-sizing: border-box;  -webkit-overflow-scrolling: touch;}
.tware_chose h3,.payway_chose dt,.time_chose h3{line-height: .9rem; color: #222; font-size: .32rem; border-bottom: solid .01rem #E8E9EB; position: absolute; left: 0; right: 0; top: 0; background: #fff; font-weight: bold; background: #fff; z-index: 10;}
.tware_chose li,.payway_chose dd{font-size: .3rem; padding: .25rem;}
.close_payway dd em{font-size: .24rem; color: #636466;}
.close_tware,.close_payway,.close_time{width: .4rem; height: .4rem; background: url(../images/close_btn1.png) no-repeat center; background-size: .34rem; position: absolute; right: .3rem; z-index: 10; top: .25rem;}



/* .time_chose{bottom: 0;}
.mask_tableware{display: block;} */
.left_day{width: 40%; float: left; height: 4.7rem; overflow: auto; -webkit-overflow-scrolling: touch;}
.left_day li{line-height: .9rem; font-size: .26rem; border-bottom: solid .01rem #f0f0f0;}
.left_day li.on_chose{background-color: #fff;border-bottom: none;}
.left_day {background-color: #f5f5f5;}
.right_time{width: 60%; float: right; height: 4.7rem;  overflow: auto; -webkit-overflow-scrolling: touch;}
.right_time li{line-height: .9rem; text-align: left; padding-left: .22rem; box-sizing: border-box;  font-size: .26rem;}

/* 预设 */
.preset_item{ background: #fff; line-height: 1rem;font-size: .28rem; padding: 0 0.24rem; margin-bottom: .2rem; margin: 0 .2rem;}
.preset_item:first-child { padding-top: .1rem;}
.preset_item:last-child { padding-bottom: .1rem; margin-bottom: .4rem;}
.preset_item em{ float: left; width: 30%;}
.preset_item input, .preset_item select{ float: left; border: 1px solid #cbcbcb; border-radius: 0.06rem; text-indent: .15rem; width: 67%; height: .6rem; text-align: left; line-height: .6rem; margin-top: .2rem;}
.navtion{ height: 1rem; position: fixed; bottom: 0; left: 0; right: 0; background: #fff;}
.navtion ul li{ float: left; width: 25%; box-sizing:border-box; text-align: center; font-size: 0.28rem;}
.navtion ul li a{ display: block;}
.navtion ul .shop a i{ width: .5rem; height: .5rem; display: block; margin: 0 auto; background: url(../images/house_3.png) no-repeat center; background-size: cover; margin-top: .1rem;}
.navtion ul .xuangou a i{ width: .5rem; height: .5rem; display: block; margin: 0 auto; background: url(../images/biaoqian.png) no-repeat center; background-size: cover; margin-top: .1rem;}
.navtion ul .car a i{ width: .5rem; height: .5rem; display: block; margin: 0 auto; background: url(../images/gouwuche_2.png) no-repeat center; background-size: cover; margin-top: .1rem;}
.navtion ul .center a i{ width: .5rem; height: .5rem; display: block; margin: 0 auto; background: url(../images/ren.png) no-repeat center; background-size: cover; margin-top: .1rem;}
.nav_bc a span{ color: #e84538;}

.right_time li.hide{display: none;}

/* 不能货到付款提示 */
.payway_null{width: 5.4rem; height: 2.7rem; position: fixed; top: 40%;left: 50%; margin-left:-2.7rem ; margin-top: -1.35rem; background: #fff; border-radius: 30px; z-index: 10; text-align: center; animation: popup .15s ease-in-out; display: none;}
.payway_null h3{color: #222; font-size: .34rem; font-weight: normal; padding-top: .4rem;}
.payway_null p{color: .24rem; color: #636466; margin-top: .2rem;}
.payway_null a{color: #333;  font-size: .32rem; line-height: .88rem; border-top: solid .02rem #DCDDE0; display: block;}
.show{display: block;}
.pay_tip{height: 1.82rem;}

.price_calculate .fn-hide{display: none !important;}

/* 地图显示 */
.map {position: relative; display:block;height:2.3rem; margin-top: 0;}
#map {position: relative; z-index: 1; width: 100%; height: 2.3rem;}
.map .market {position: absolute; z-index: 2; left: 50%; top: 50%; width: .6rem; height: .6rem; margin: -.4rem 0 0 -.3rem; background: url('https://pic.xiant.ao/static/images/local.png'); background-size: cover;}
.refresh {width:100%;height:1rem;line-height:1rem;font-size:0.3rem;background:#e95249;text-align:center;color:#fff;position:fixed;bottom:0;left:0;right:0;}
.refresh:hover {color: #fff;}

.label-container{background-color: #fff;line-height: .7rem; padding: 0 .2rem; font-size: .28rem; border-radius:.04rem; position: relative; box-shadow: 0 .05rem .15rem 0 rgba(110,110,110,0.24);}
.label-bottom-icon{display: block; width: .2rem; height: .2rem; background: #fff;border-radius: .04rem; transform: rotate(45deg) translate(-50%,0); position: absolute; left: 50%; bottom: -.1rem; }

.remark_page{width: 100%; height: 100%; background: #fff; z-index: 9999; position: fixed; top: 0; right: -100%; bottom: 0;}
.remark_page .header-address{margin-right: 1rem;}
.remark_page .remark{margin: 0 .24rem; height: 2rem; background: #f5f5f5; margin-top: .2rem; border-radius: .04rem; border: solid 1px #efefef; padding: .2rem; font-size: .24rem; -webkit-user-select: text;}
.remark_page .remark:empty:before{content: attr(placeholder); color: #999;}
.remark_page .btn_remark{background: -webkit-linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(252,191,28,1) 100%); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(252,191,28,1) 100%); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(252,191,28,1) 100%); /* Firefox 3.6 - 15 */
background: linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(252,191,28,1) 100%); border-radius: .06rem; font-size: .3rem; color: #fff; margin: .24rem; text-align: center; line-height: .88rem;}

.extra{border-bottom:solid .2rem #F5F5F5;}

/* 准时达 */
.arr_time{font-size: .28rem; color: #222;padding: 0 .2rem; border-top: solid #E8E9EB 1px ; line-height: .88rem;}
.arr_time span{float: right; color: #5596FF; font-weight: bold; }
.ontime_box{margin: 0 .24rem; background-color: #fff; box-sizing: border-box; padding: .18rem;}
.ontime_box .time_head{font-size: .3rem; color: #222; line-height: .44rem; font-weight: bold; position: relative;}
.ontime_box .time_head::before{content: ''; display: inline-block; width: .44rem; height: .44rem; background: url(../images/zhun.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem;}

.ontime_box .time_head .right_btn{font-size: .22rem; color: #222; font-family: moneyNumber ; float: right;}
.ontime_box .time_head .right_btn span{vertical-align: middle;}
.ontime_box .time_head .right_btn em{font-size: .3rem ;}
.ontime_box .time_head .right_btn a{display: inline-block; width: .76rem; height: .46rem; border-radius: .23rem; background: #eee; padding: .02rem; box-sizing: border-box; vertical-align: middle;  margin-left: .16rem; position: relative;}
.ontime_box .time_head .right_btn a i{display: block; width: .42rem; height: .42rem; background: #fff; border-radius: .22rem; position: absolute; top: .02rem; left: .02rem; transition: left .3s;}
.ontime_box .time_head .right_btn a.click{background-color: #FEB207;}
.ontime_box .time_head .right_btn a.click i{left: .32rem;  }
.ontime_box p{color: #999; font-size: .24rem; line-height: .32rem; padding-right: 1rem; margin-top: .2rem;}
.ontime_box p em{color: #333;}
.ontime_box p i{content: ''; display: inline-block; width: .26rem; height: .26rem; background: url(../images/gz.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem;}
.ontime_box .btn_agree{font-size: .24rem; color: #666; line-height: .3rem; margin-top: .3rem; display: block; margin-bottom: .1rem;}
.ontime_box .btn_agree i{content: ''; display: inline-block; width: .3rem; height: .3rem; background: url(../images/gou.png) no-repeat center; background-size: cover; margin-right: .1rem; vertical-align: middle; margin-bottom: .04rem;}
.ontime_box .btn_agree.click i{background-image: url(../images/gou1.png)}

.pop_box{position: fixed; z-index: 101; width: 100%; height: 88%; background: #fff; border-radius: .3rem .3rem 0 0; bottom: -88%; overflow: hidden;}
.pop_box h2{line-height: 1.1rem; text-align: center; font-size: .34rem; color: #000; font-weight: bold; position: absolute; z-index: 10; left: 0; right: 0; top: 0; background-color: #fff;}
.pop_box h2 .cancel,.pop_box h2 .back{color: #999; font-size: .3rem; position: absolute; right: .58rem; font-weight: normal;}
.pop_box h2 .back{left: .43rem; right: auto; position: absolute;  }
.txt_con{height: 100%; width: 100%; box-sizing: border-box; padding-top: 1.3rem; font-size: .28rem; line-height: .5rem; color: #333; padding-left: .46rem; padding-right: .46rem; overflow: auto; padding-bottom: .4rem;}

/* 商品推荐 */
.rec_box{background-color: #fff; margin: .2rem .24rem; box-sizing: border-box; padding-bottom: .2rem;}
.rec_box h2{padding:.2rem; font-size: .3rem; color: #222; font-weight: 600;}
.rec_box h2 em{font-size: .24rem; color: #FB5050; margin-left: .1rem;}
.rec_box li{margin: 0 .2rem; box-sizing: border-box; padding: .2rem;box-shadow:0 .05rem .18rem  rgba(175,175,175,0.23);border-radius:.1rem; margin-bottom: .2rem; }
.rec_box li .left_img{float: left; width: 1rem; height: 1rem; border-radius: .06rem; background-color: #f5f5f5;}
.rec_box li .left_img img{width: 100%; height: 100%; object-fit: cover;}
.rec_box li .right_info{height: 1rem; margin-left: 1.2rem;}
.rec_box li .right_info h4{font-size: .28rem; color: #222; font-weight: 600;}
.rec_box li .right_info .d_price{font-family: moneyNumber; font-size: .22rem; color: #222; }
.rec_box li .right_info .d_price em{font-size: .3rem;}
/* 新增vip的图标 */
.rec_box li .right_info .v_price:after{content: '' ; display: inline-block; width: .54rem; height: .28rem; background: url(../images/vip_icon.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem;}


.rec_box li .right_info .gou{width: .33rem; height: .33rem; position: absolute; top: .33rem; right: .2rem; background: url(../images/gou_circle.png) no-repeat center; background-size: .32rem;}
.rec_box li.click .right_info .gou{background-image: url(../images/gou_circle1.png)}
.rec_box .rec_count{font-size: .24rem; text-align: right; padding:0 .2rem; display: none;}
.rec_box .rec_count span{font-family: moneyNumber;}
.rec_box .rec_count span em{font-size: .36rem;}
.authtxt {color:#e83828 !important; list-style-type:none }
.authtxt img {width:.4rem;vertical-align: top;}
/* 字体 */

@font-face {
	font-family: moneyNumber;
	src: url('https://pic.xiant.ao/static/fonts/coregtd6.otf'),
		url('https://pic.xiant.ao/static/fonts/coregtd6.TTF'),
		url('https://pic.xiant.ao/static/fonts/coregtd6.svg'),
		 url('https://pic.xiant.ao/static/fonts/coregtd6.woff'); /* IE9 */
}

/* 20200307新增 开通会员 */
.openvip{padding: .2rem .2rem .26rem; background-color: #fff; margin: 0 .24rem;  margin-bottom: .2rem; position: relative;}
.openvip .open_tip{font-size: .24rem; color: #999; text-align: right;}
.openvip .open_tip:after{content: ''; display: inline-block; width: .26rem; height: .26rem; background: url(../images/gz.png) no-repeat center; background-size: cover; vertical-align: middle; margin-bottom: .04rem; margin-left: .1rem;}
.openvip::before{content: ''; display: block; width: 1.85rem; height: .58rem; background: url(../images/open.png) no-repeat center; background-size: cover; position: absolute; top: 0; left: 0;}

/* 会员等级样式 */
.lBox{ line-height: .32rem; border-radius: .16rem; display: inline-block;  padding-right: .1rem; position: relative;  overflow: hidden; z-index: 2; vertical-align: middle; margin-bottom: .04rem; }
.lBox:before{background:rgba(0,0,0,.5); content: ''; display: block; width: 100%; height: 100%; position: absolute;right:0; top: 0; z-index: -2;}
.lBox:after{content: ''; display: block; width: 100%; height: .5rem;position: absolute;right: 0; top: -.16rem; z-index: -1; transform: rotate(-35deg); transform-origin: right center;}
.lBox i{display: inline-block; width: .32rem; height: .32rem; float: left; background: no-repeat center; background-size: cover;}
/* .lBox i img{width: 100%; height: 100%; display: block;} */
.lBox span{vertical-align: middle; font-size: .2rem; color: #fff; float: left;}
/* 等级0 */
.lBox.level_0 span{color: #fff; position: relative;z-index: 2;}
.lBox.level_0:before{background: rgba(255,255,255,.2);}
/* 等级1 */
.lBox.level_1 span{color: #4581B1;}
.lBox.level_1 i{background-image:url(../images/v_5.png) ;}
.lBox.level_1:before{background:rgba(171,214,255,.77);}
.lBox.level_1:after{ background: rgba(145,202,255,1); }
/* 等级2 */
.lBox.level_2 span{color: #C29339;}
.lBox.level_2:before{background: #FDE7A9;}
.lBox.level_2:after{background: #F7DA8D;}
.lBox.level_2 i{background-image:url(../images/v_4.png) ;}
/* 等级3 */
.lBox.level_3:before{background: #757067;}
.lBox.level_3:after{background: #66625A;}
.lBox.level_3 i{background-image:url(../images/v_3.png) ;}
/* 等级4 */
.lBox.level_4:before{background: #6B727A;}
.lBox.level_4:after{background: #5B6067;}
.lBox.level_4 i{background-image:url(../images/v_2.png) ;}
/* 等级5 */
.lBox.level_5:before{background: #4B4B4A;}
.lBox.level_5:after{background: #3B3B3C;}
.lBox.level_5 i{background-image:url(../images/v_1.png) ;}

.hui_box{padding: .2rem; background-color: #FBF4EC; margin-top: .5rem;}
.hui_con {margin-top: .14rem; display: flex; align-items: center; justify-content: space-between;}
.hui_con h3{font-size: .3rem; color: #222; font-weight: bold;}
.hui_con h3 em{color: #FF635C; font-weight: bold;}
.hui_con .hui_price{display: flex; font-size: .22rem; color: #222; font-family: moneyNumber; align-items: center; }
.hui_con .hui_price em{font-size: .3rem;}
.hui_con .hui_price .c_span{width: .33rem; height: .33rem;  background: url(../images/gou_circle.png) no-repeat center; background-size: .32rem; display: inline-block;margin-left: .16rem;}
.hui_con .hui_price .c_span.click{background-image: url(../images/gou_circle1.png);}
.openvip .btn_agree2{font-size: .24rem; color: #666; line-height: .3rem; margin-top: .25rem; display: block; margin-bottom: .1rem;}
.openvip .btn_agree2 i{content: ''; display: inline-block; width: .3rem; height: .3rem; background: url(../images/gou.png) no-repeat center; background-size: cover; margin-right: .1rem; vertical-align: middle; margin-bottom: .04rem;}
.openvip .btn_agree2.click i{background-image: url(../images/gou1.png)}

.hp_show{font-size: .2rem; color: rgba(255,255,255,.5); text-align: right; display: none;}

.rprice_box{display: flex; margin-top: .18rem; align-items: center;}
.rprice_box .o_price{font-size: .22rem; color: #97989C; font-family: moneyNumber; margin-left: .14rem; text-decoration: line-through; margin-top: .04rem;}

.huijian_box{display: flex; padding: .14rem 0; font-size: .28rem; color: #222;align-items: center; justify-content: space-between;}
.huijian_box .h_discount{display: block;}
.huijian_box .h_discount i{ display: inline-block; width: .34rem; height: .28rem; border-radius: .08rem 0 .08rem 0; background:linear-gradient(158deg,rgba(75,74,73,1) 0%,rgba(53,53,53,1) 100%) ;  vertical-align: middle; margin-bottom: .04rem; margin-right: .09rem;}
.huijian_box .h_discount i::before{content: ''; display: block; width: .34rem; height: .28rem; background: url(../images/V.png) no-repeat .1rem center;background-size: .18rem;}
.huijian_box .h_jian{color: #FF635C; font-size: .24rem; font-weight: 600;}
.huijian_box .h_jian em{font-size: .3rem; font-family: moneyNumber; }
.peisong_price{float: right; overflow: hidden;}
.peisong_price .hui_ps{display: inline-block;}
.peisong_price span{float: none !important;}
.peisong_price span.v_tip{display: inline-block; padding: 0.06rem .1rem; border-radius: .03rem; background-color: #FBF4EC; color: #A88F62; font-size: .22rem; margin-right: .13rem; }
.peisong_price i.od_price{color: #97989C; font-size:.22rem; font-family: moneyNumber; margin-right: .1rem; text-decoration: line-through;}

/* 弹窗 */
.mask_right{position: fixed; top: 0; left: 0; right: 0; bottom: 0; height: 100%; background-color: rgba(0,0,0,.6); z-index: 100001; display: none;}
.aright_box{width: 6rem; height: 6rem; background:rgba(244,241,236,1);box-shadow:0.07rem .37rem 0 rgba(0, 0, 0, 0.23);border-radius:.3rem; z-index: 100002; position: fixed; top: 50% ;left: 50%; margin-top: -3rem; margin-left: -3rem; box-sizing: border-box; padding: .52rem .28rem; display: none; animation: popup .3s ease-in-out; transform-origin: center;} 
.aright_box h2{font-size: .34rem; color: #222; text-align: center; font-weight: bold;}
.aright_box .aright{margin-top: .38rem; margin-top: .3rem; background-color: #FBF9F8; border-radius: .1rem; max-height: 3.08rem; padding:.3rem 0; text-align: center; font-size: .28rem; color: #A88F62; line-height: .52rem; overflow: auto;}
.btn_close{background:linear-gradient(84deg,rgba(62,61,59,1) 0%,rgba(53,53,53,1) 100%); display: block; color: #fff; line-height: .8rem; border-radius: .4rem; text-align: center; margin-top: .3rem;}



/* 20200413新增 店内点餐*/

.shopin_box{width: 100%; height: 2.9rem; background:url(../images/shop_in.png) no-repeat center; background-size: cover; margin-bottom: .2rem; padding-top: .3rem; box-sizing: border-box;}
.shopin_box .shopin_detail{margin: 0 .24rem; height: 2.6rem; border-radius: .1rem; background:linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(255,191,23,1) 100%); color: #fff; text-align: center; position: relative;}
.shopin_detail .desk_num{font-size: .56rem; font-weight: bold; font-family: moneyNumber;  padding-top: .5rem;}
.shopin_box .shopin_detail h4{font-size: .28rem; font-weight: bold; margin-top: .15rem;} 
.shopin_box .shopin_detail p{font-size: .22rem; margin-top: .2rem;}
.shopin_box .shopin_detail i{display: block; width: .76rem; height: .4rem; border-radius: 0 .2rem .2rem 0; background:linear-gradient(90deg,rgba(68,71,79,1) 0%,rgba(92,95,102,1) 100%); position: absolute; left: -.1rem; top: .16rem; line-height: .4rem; font-size: .22rem;}

/* 错误提示1 */
.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 100001; visibility: hidden;}
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: .3rem; line-height: 1.4; text-align: center; padding: .24rem .2rem; z-index: 9999; left: 0; top: 50%; margin-top: -.2rem;}



.mask_alert{display: none; position: fixed; top: 0; bottom: 0; right: 0; left: 0; background-color: rgba(0,0,0,.5); z-index: 9;}
.alertbox{width: 5.6rem; min-height: 2.76rem; border-radius: .3rem; background-color: #fff; box-shadow: 0 .07rem .37rem 0 rgba(0, 0, 0, 0.13); position: fixed; top: 40%; left: 0; right: 0; margin: auto; z-index: 10; overflow: hidden; display: none;}
.alertbox .alert_con{height: 1.8rem; display: flex; align-items: center; flex-direction: column; text-align: center; justify-content: center; box-sizing: border-box; border-bottom: solid 1px #DCDCDE;}
.alertbox .alert_con h3{font-weight: bold; font-size: .32rem; color: #000; margin-bottom: .04rem;}
.alertbox .alert_con p{color: #333; font-size: .24rem;}

.alertbox .btns{display: flex;justify-content: space-between;}
.alertbox .btns button{-webkit-appearance: none; border: none; width: 50%; height: .96rem; background-color: #fff; font-size: .3rem; font-weight: bold; box-sizing: border-box;}
.alertbox .btns button.sure{color: #FFAE00;}
.alertbox .btns button.cancel{color: #FFAE00;}
.alertbox .btns button:nth-child(2){border-left: solid 1px #DCDCDE ; }
.alertbox .btns button:active{background-color: #f5f5f5;}
.alertbox .alert_con p.showtip{font-size: .28rem; color: #666;}
.alertbox .alert_con p.errtip{color: #EF2437; font-size: .28rem;}
.alertbox .alert_con .inpbox{margin: 0 .4rem; height: 1.2rem; background-color: #F5F5F7; border-radius: .1rem; margin-top: .42rem;}
.alertbox .alert_con .inpbox input{height: 1.2rem; border: none ; width: 100%; background: none; font-size: .5rem; color: #000; font-weight: bold; text-align: center;}
.alertbox .alert_con.more_h{height: 2.9rem;}
