@charset "UTF-8";

@font-face {
  font-family: "109-CAI978";
  src: url("109-CAI978.woff2") format("woff2"),
       url("109-CAI978.woff") format("woff"),
       url("109-CAI978.ttf") format("truetype"),
       url("109-CAI978.eot") format("embedded-opentype"),
       url("109-CAI978.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}