<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="{#$cfg_soft_lang#}">
<title>{#$livedetail_title#}-直播详情</title>  {#* 直播详情 *#}
<meta name="keywords" content="{#$live_keywords#}" />
<meta name="description" content="{#$live_description#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.6.0/skins/default/aliplayer-min.css?v={#$cfg_staticVersion#}" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/detail.css?v={#$cfg_staticVersion#}" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/abigimage.jquery.css?v={#$cfg_staticVersion#}" />

<script type="text/javascript" src="//g.alicdn.com/de/prismplayer/2.6.0/aliplayer-min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
{#$vertical=0#}{#*  横屏0or竖屏1  *#}
<script type="text/javascript">
    var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$live_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
    var id = "{#$livedetail_id#}", livemoney = '{#$livemoney#}', room = '{#$livedetail_id#}';
    var hideFileUrl = {#$cfg_hideUrl#};
	var cookiePre = '{#$cfg_cookiePre#}', templets_skin = '{#$cfg_staticPath#}' ,templets = '{#$templets_skin#}';
	var live_state = {#$livedetail_state#};
	var live_user_n = '{#$livedetail_nickname#}';
	var look_num = '{#$livedetail_click#}'; //观看量
	var typename = '{#$livedetail_typename#}'; //直播类型
	var liveType = '{#$liveType#}';// 收费还是邀请
	var vertical = {#$vertical#};  //是否是垂直
	//页面自适应设置
	$(window).load(function(){
		if(vertical) return false;
		var screenwidth = window.innerWidth || document.body.clientWidth;
		var criticalPoint = criticalPoint != undefined ? criticalPoint : 1600;
		var criticalClass = criticalClass != undefined ? criticalClass : "newsize";
		if(screenwidth > criticalPoint){
			$(".w1600").removeClass(criticalClass);
		}else{
			$(".w1600").addClass(criticalClass);
		}
	});
</script>
</head>
<body class="w1200">
<!--导航 s-->
{#include file="_top.html"#}
<!--导航 e-->
<div class="top_bg">
	<div class="w1600">
		<div class="wrap mainBox {#if $vertical#}verticalPlay{#/if#}"> {#* 首页 *#}
    <div class="bread"><p><a href="{#$live_channelDomain#}">首页</a> > <a href="{#getUrlPath service='live' template='livelist' typeid={#$livedetail_typeid#}#}">{#$livedetail_typename#}</a> > <a href="{#getUrlPath service="live" template="detail" id={#$livedetail_id#}#}">{#$livedetail_title#}</a></p></div>  
    <div class="part_play fn-clear ">
        <div class="play_l fn-left">
            <div class="p_l_top fn-clear">
                <div class="img_box fn-left">
                    <img class="user-img" src="{#$livedetail_photo#}" alt="">
                    <div class="mask"></div>
                    <div class="masageBox">
                        <div class="m-top fn-clear">
                            <div class="img-box"><div class="img"><img src="{#$livedetail_photo#}" alt=""></div><i></i></div>
                            <p><span class="name">{#$livedetail_nickname#}</span> <span class="num">发布的直播({#$livedetail_livenum#})</span></p>    {#*  发布的直播   *#}
                        </div>
                        <ul class="m-list">
                            {#live action="alive" return="row" uid="{#$livedetail_user#}" pageSize="3"#}
                            <li class="fn-clear"><a href="{#$row.url#}">
                                <div class="img-box fn-left"><img src="{#changeFileSize url="{#$row.litpic#}" type="small"#}" alt=""></div>
                                <div class="info fn-left">
                                    <p class="tit">{#$row.title#}</p>
                                    <p class="look-num"><i></i><span>{#$row.click#}</span></p>
                                </div>
                            </a></li>
                            {#/live#}
                        </ul>
                    </div>
                </div>
                <div class="info">
                    <p class="title">{#$livedetail_title#}</p>
					<div class="info_box">
						<p class="user"><span class="name">{#$livedetail_nickname#} <i></i></span></p>
						<p class="type">  <!--span class="tp02">数码</span-->
						    {#if $livedetail_state==1#}
						    <i class="live"></i>
						    {#elseif $livedetail_state==2#}
							{#if $detail_mp4url == ''#}
							<i class="hui1">回放制作中</i>
							{#else#}
							<i class="hui">精彩回放</i>
							{#/if#}
							{#else#}
							<i class="yugao">预告</i>
						    {#/if#}
						    <!--<i class="yu"></i>-->
							<span class="tp01">{#$livedetail_typename#}</span>
						</p>
						<p class="user" style="margin-left: 50px;"><span class="ID"><i></i>{#$livedetail_id#}</span> <span class="look"><i></i>{#$livedetail_click#}</span></p>
					</div>
                   
                </div>
                {#if $livedetail_user != $userid#}
                <div class="gz" >
                        {#if $userid && $livedetail_isMfollow#}
                        <div title="取消关注"  data-id="{#$fid#}" class="follow curr" id="follow"><i class="bg"></i><em></em><span class="txt">已关注</span><span class="num" data-num='{#$livedetail_totalFans#}'>{#$livedetail_totalFans#}</span></div>  {#*  已关注   *#}
                        {#else#}
                        <div title="关注主播" data-id="{#$fid#}" class="follow" id="follow"><i class="bg"></i><em></em><span class="txt">关注</span><span class="num" data-num='{#$livedetail_totalFans#}'>{#$livedetail_totalFans#}</span></div>  {#*  关注   *#}
                        {#/if#}
                    <div class="appo_sec">
                        <p><i></i>关注成功！</p>  {#*  关注成功！   *#}
                        <!-- <span> 第一时间收到Ta最新动态提醒  <br>开播不错过~！</span>   {#*  第一时间收到Ta最新动态提醒  <br>开播不错过~！   *#} -->
                    </div>
                    <div class="appo_cancel">
                        <p><i></i>确定不再关注吗</p>   {#*  确定要取消关注吗？   *#}
                        <div class="btn"><span class="sure" id="gz_sure">确定</span> <span class="cancel" id="gz_cancel">取消</span></div>   {#*  确定  取消   *#}
                    </div>
                </div>
                {#else#}
                {#/if#}
            </div>
            <div class="videoBox ">
				{#if $liveUserAuth==1 && $liveType==1#}
				<div class="msg_show">您已通过密码成功解锁，欢迎继续观看</div>
				{#/if#}
				{#if $liveUserAuth==1 && $liveType==2#}
				<div class="msg_show">您已通过付费成功解锁，欢迎继续观看</div>
				{#/if#}
				
                <div class="video content_main {#if ($liveUserAuth!=1 && $liveType==1) || ($liveUserAuth!=1 && $liveType==2)#}noClick{#/if#}">
					
                    {#if $liveUserAuth eq 1#}
                        {#if $livedetail_state == 2 && $detail_mp4url == ''#}
                        <img src="{#$livedetail_litpic#}"><span class="live_made">视频回放正在制作中，请稍后访问... </span>    {#*  视频回放正在制作中，请稍后访问...   *#}
						{#else#}
							{#if $livedetail_state == 0#}
							{#if $userinfo.userid != $fid#}
							<div class="appointBox">
								<a href="javascript:;" class="yue_btn"><i></i><em>{#$langData['live'][0][13]#}</em></a>  {#* 预约 *#}
								<div class="dlive_info">
									<h4>{#$livedetail_start_time#} 开播</h4>  {#* 开播 *#}
									<p>开播不迷路 精彩不错过</p>  {#* 开播不迷路 精彩不错过 *#}
								</div>
							</div>
							{#/if#}
							{#/if#}
                        {#/if#}
						{#if $livedetail_state == 0#}
						<img src="{#$livedetail_litpic#}" alt="">
						{#else if $livedetail_state == 2 && $detail_mp4url == ''#}
						{#else#}
						<div id="J_prismPlayer"></div>
						{#/if#}
                   
                    {#elseif ($liveUserAuth!=1 && $liveType==1) || ($liveUserAuth!=1 && $liveType==2)#}<i class="vicon"></i><img src="{#$livedetail_litpic#}" alt="">{#/if#}
                </div>
				
				
				<div class="giftshowBox">
					{#*
					<div class="giftShow">
						<div class="himg"></div>
						<div class="nick">我是你才十几块打赏框</div>
						<div class="text">送出了</div>
						<div class="gimg"><img src="http://ihuoniao-backup.ihuoniao.cn/live/card/large/2018/11/28/15433855847665.jpeg" alt=""></div>
						<div class="gnum element-animation">x<em>10</em></div>
					</div>
					*#}
				</div>
				
				
				<div class="liveToolbar">
					<div class="left_tool">
						<div  class="share_btn">
							<i></i><em>分享</em>  {#*  分享  *#}
							<div class="shareBox">
							    <i class="arr1"></i>
								<h5><i></i>分享给朋友<i></i></h5>  {#*  分享给朋友  *#}
								<div class="ways_share">
									<div class="left_code">
										{#if $userid>0#}
										<img src="{#$cfg_basehost#}/include/qrcode.php?data={#$live_channelDomain#}/sharePageAfter-{#$userid#}-{#$livedetail_id#}" alt="">
										{#else#}
										<img src="{#$cfg_basehost#}/include/qrcode.php?data={#getUrlPath service='live' template='detail' id={#$livedetail_id#}#}" alt="">
										{#/if#}
										<p><em>手机/微信</em>扫码分享</p>   {#*  <em>手机/微信</em>扫码分享  *#}
										<i class="line"></i>
									</div>
									<div class="right_share">
										<ul class="fn-clear ul_share bdsharebuttonbox bdshare-button-style1-16" data-bd-bind="1560496887632" >
											{#if $userid>0#}
											<li class="qq"><a href="http://connect.qq.com/widget/shareqq/index.html?url={#$live_channelDomain#}/sharePageAfter-{#$userid#}-{#$livedetail_id#}&desc={#$livedetail_title#}&title={#$livedetail_title#}&summary={#$livedetail_title#}&pics={#$livedetail_litpic#}" target="_blank"  class="sharea" title="分享到QQ好友"><img src="{#$templets_skin#}/images/qq.png"></a></li>
											<li class="sina"><a href="http://service.weibo.com/share/share.php?url={#$live_channelDomain#}/sharePageAfter-{#$userid#}-{#$livedetail_id#}&title={#$livedetail_title#}&pic={#$livedetail_litpic#}" target="_blank"  class="sharea" title="分享到新浪微博"><img src="{#$templets_skin#}/images/sina.png"></a></li>
											<li><a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={#$live_channelDomain#}/sharePageAfter-{#$userid#}-{#$livedetail_id#}&desc={#$livedetail_title#}&pics={#$livedetail_litpic#}" target="_blank"  class="sharea"  title="分享到QQ空间"><img src="{#$templets_skin#}/images/zqone.png"></a></li>
											{#else#}
											<li class="qq"><a href="http://connect.qq.com/widget/shareqq/index.html?url={#getUrlPath service='live' template='detail' id={#$livedetail_id#}#}&desc={#$livedetail_title#}&title={#$livedetail_title#}&summary={#$livedetail_title#}&pics={#$livedetail_litpic#}" target="_blank"  class="sharea" title="分享到QQ好友"><img src="{#$templets_skin#}/images/qq.png"></a></li>
											<li class="sina"><a href="http://service.weibo.com/share/share.php?url={#getUrlPath service='live' template='detail' id={#$livedetail_id#}#}&title={#$livedetail_title#}&pic={#$livedetail_litpic#}" target="_blank"  class="sharea" title="分享到新浪微博"><img src="{#$templets_skin#}/images/sina.png"></a></li>
											<li><a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={#getUrlPath service='live' template='detail' id={#$livedetail_id#}#}&desc={#$livedetail_title#}&pics={#$livedetail_litpic#}" target="_blank"  class="sharea"  title="分享到QQ空间"><img src="{#$templets_skin#}/images/zqone.png"></a></li>
                                          {#/if#}
										</ul>
										<p>点击网页分享</p>  {#*  点击网页分享  *#}
									</div>
								</div>
							</div>
						</div>
						<a href="javascript:;" class="shou_btn" style="display: none;"><i></i><em>收藏</em></a>   {#*  收藏  *#}
						<a href="javascript:;" class="code_btn">
							<i></i><em>手机看</em>   {#*  手机看  *#}
							<div class="codeBox"> 
							    <i class="arr1"></i>
								<h5><i></i>手机看视频<i></i></h5>  {#*  手机看视频  *#}
								<div class="code">
									<img src="{#$cfg_basehost#}/include/qrcode.php?data={#getUrlPath service='live' template='h_detail' id={#$livedetail_id#}#}" alt="">
								</div>
								<p ><em>手机/微信</em>扫码观看</p>
								<h2>{#$livedetail_title#}</h2>
							</div>
						</a>
						<a href="javascript:;" class="report_btn">
							<i></i><em>举报</em>
							<div class="jubaoBox">
								<i class="arr1"></i>
								<em class="close_btn"><img src="{#$templets_skin#}/images/x.png"></em>
								<h5><i></i>举报此直播<i></i></h5>
								<div class="form_box">
									<ul class="check_box fn-clear">
										<li class="chosed"><em></em><span>垃圾广告</span></li>   
										<li><em></em><span>色情淫秽</span></li>   
										<li><em></em><span>政治反动</span></li>   
										<li><em></em><span>钓鱼诈骗</span></li>   
										<li><em></em><span>网络敲诈</span></li>   
										<li><em></em><span>内容侵权</span></li>   
										<li><em></em><span>其他</span></li>   
									</ul>
									<div class="txtbox">
										<em class="num_txt">0/100</em>
										<textarea rows="" cols="" placeholder="请在此简要地说明，以便工作人员更好的审核（选填）"></textarea>
									</div>
									<button type="button" class="jb_btn">举报</button>
								</div>
							</div>
						</a>
					</div>
					<div class="right_tool fn-hide {#if ($liveUserAuth!=1 && $liveType==1) || ($liveUserAuth!=1 && $liveType==2)#}noClick{#/if#}">
						<a href="javascript:;" class="integral_btn">
							<span>积分 50000</span>
							<i><em>充值</em><s class="btn_bg"></s></i>
						</a>
						<div class="liwu_box">
							<ul class="fn-clear">
								{#$g = 0#}
								{#live action=getGift return=gift#}
								{#if $g <= 5#}
								<li class="gift_li" data-id="{#$gift['id']#}" data-name="{#$gift['gift_name']#}" data-price="{#$gift['gift_price']#}">
								    <a href="javascript:;">
								        <span><img src="{#$gift['gift_litpic']#}"></span>
								    </a>
									<div class="show_detail">
										<i class="arr2"></i>
										<div class="liwu_detail">
											<div class="left_img">
												<img src="{#$gift['gift_litpic']#}">
											</div>
											<div class="right_info" data-price="{#$gift['gift_price']#}">
												<h3>{#$gift['gift_name']#} <span class="liwu_price"><i></i>{#$gift['gift_price']#}积分</span></h3>
												<div class="liwu_count">
													<span class="num_show">x<em>10</em></span>
													<span class="price_count">（{#$gift['gift_name']#}：<em>{#$gift['gift_price']*10#}积分</em>）</span>
												</div>
											</div>
											<p class="tip">喜欢主播的内容就刷礼物支持一下吧~</p>
										</div>
										<div class="liwu_num">
											<ul class="fn-clear">
												<li class="on_chose">10</li>
												<li>68</li>
												<li>188</li>
												<li>666</li>
												<li class="self_define"><input autocomplete="off" autocomplete="off" type="number" placeholder="自定义"></li>
											</ul>
											<button type="button" class="send_sure "><em>赠送</em><i class="btn_bg"></i></button>
										</div>
									</div>
								</li>
								{#/if#}
								{#$g = $g + 1#}
								{#/live#}
								<li class="all_gift">
									<img src="{#$templets_skin#}/images/arr_l.png">
									<div class="allgift_box">
										<i class="arr2"></i>
										<i class="close_btn"></i>
										<div class="zb_info">
											<div class="zb_headimg"><img src="{#$livedetail_photo#}" alt="{#$livedetail_nicname#}"></div>
											<div class="tip">喜欢我的内容就刷礼物支持一下吧~</div>
										</div>
										<div class="gift_box">
											<ul>
												{#$gc = 0#}
												{#$gn = ''#}
												{#$gp = ''#}
												{#live action=getGift return=gift#}
												<li data-id="{#$gift['id']#}" data-price="{#$gift['gift_price']#}" {#if $gc==0#}class="li_chosed"{#/if#}>
													{#if $gc==0#}
													{#$gn = $gift['gift_name']#}
													{#$gp = $gift['gift_price']#}
													{#/if#}
												    <a href="javascript:;">
												        <span><img src="{#$gift['gift_litpic']#}"></span>
												        <p class="mlbn-present-zan-name">{#$gift['gift_name']#}</p>
												        <p class="mlbn-present-zan-money"><i></i>{#$gift['gift_price']#}积分</p>
												    </a>
													<em class="gou"></em>
												</li>
												{#$gc = $gc + 1#}
												{#/live#}
											</ul>
										</div>
										<div class="send_box">
											<div class="chose_info">
												<span class="num_show">x<em>10</em></span>
												<span class="price_count">（<span>{#$gn#}</span>：<em>{#$gp#}积分</em>）</span>
											</div>
											<div class="liwu_num">
												<ul class="fn-clear">
													<li class="on_chose">10</li>
													<li>68</li>
													<li>188</li>
													<li>666</li>
													<li class="self_define"><input autocomplete="off" type="text" placeholder="自定义"></li>
												</ul>
												<button type="button" class="send_sure"><em>赠送</em><i class="btn_bg"></i></button>
											</div>
										</div>
									</div>
								</li>
							</ul>
							
						</div>
						<a href="javascript:;" class="ds_btn">
							<em>打赏</em>
							<img src="{#$templets_skin#}/images/hb_png.png" alt="">
						</a>
						
					</div>
				</div>
				
				{#if $vertical#}
				<div class="vProList">
					<h4>共<em>13</em>件商品</h4>
					<ul>
						<li>
							<a href="#" class="fn-clear">
								<div class="lpro_img">
									<i class="snum">1</i>
								</div>
								<div class="rpro_info">
									<h3>你当像鸟飞往你的山（比尔·盖茨年度力荐 登顶《纽约时报》畅销榜80+周 一个真实故事打开无限可能）</h3>
									<div class="pro_price" data-price="26.80">{#echoCurrency type='symbol'#}<em>26.80</em><s></s> <span>{#echoCurrency type='symbol'#}100</span></div>
									<span class="btn_buy"><i></i>去抢购</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="fn-clear">
								<div class="lpro_img">
									<i class="snum">1</i>
								</div>
								<div class="rpro_info">
									<h3>你当像鸟飞往你的山（比尔·盖茨年度力荐 登顶《纽约时报》畅销榜80+周 一个真实故事打开无限可能）</h3>
									<div class="pro_price" data-price="26.80">{#echoCurrency type='symbol'#}<em>26.80</em><s></s> <span>{#echoCurrency type='symbol'#}100</span></div>
									<span class="btn_buy"><i></i>去抢购</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="fn-clear">
								<div class="lpro_img">
									<i class="snum">1</i>
								</div>
								<div class="rpro_info">
									<h3>你当像鸟飞往你的山（比尔·盖茨年度力荐 登顶《纽约时报》畅销榜80+周 一个真实故事打开无限可能）</h3>
									<div class="pro_price" data-price="26.80">{#echoCurrency type='symbol'#}<em>26.80</em><s></s> <span>{#echoCurrency type='symbol'#}100</span></div>
									<span class="btn_buy"><i></i>去抢购</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="fn-clear">
								<div class="lpro_img">
									<i class="snum">1</i>
								</div>
								<div class="rpro_info">
									<h3>你当像鸟飞往你的山（比尔·盖茨年度力荐 登顶《纽约时报》畅销榜80+周 一个真实故事打开无限可能）</h3>
									<div class="pro_price" data-price="26.80">{#echoCurrency type='symbol'#}<em>26.80</em><s></s> <span>{#echoCurrency type='symbol'#}100</span></div>
									<span class="btn_buy"><i></i>去抢购</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="fn-clear">
								<div class="lpro_img">
									<i class="snum">1</i>
								</div>
								<div class="rpro_info">
									<h3>你当像鸟飞往你的山（比尔·盖茨年度力荐 登顶《纽约时报》畅销榜80+周 一个真实故事打开无限可能）</h3>
									<div class="pro_price" data-price="26.80">{#echoCurrency type='symbol'#}<em>26.80</em><s></s> <span>{#echoCurrency type='symbol'#}100</span></div>
									<span class="btn_buy"><i></i>去抢购</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="fn-clear">
								<div class="lpro_img">
									<i class="snum">1</i>
								</div>
								<div class="rpro_info">
									<h3>你当像鸟飞往你的山（比尔·盖茨年度力荐 登顶《纽约时报》畅销榜80+周 一个真实故事打开无限可能）</h3>
									<div class="pro_price" data-price="26.80">{#echoCurrency type='symbol'#}<em>26.80</em><s></s> <span>{#echoCurrency type='symbol'#}100</span></div>
									<span class="btn_buy"><i></i>去抢购</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="fn-clear">
								<div class="lpro_img">
									<i class="snum">1</i>
								</div>
								<div class="rpro_info">
									<h3>你当像鸟飞往你的山（比尔·盖茨年度力荐 登顶《纽约时报》畅销榜80+周 一个真实故事打开无限可能）</h3>
									<div class="pro_price" data-price="26.80">{#echoCurrency type='symbol'#}<em>26.80</em><s></s> <span>{#echoCurrency type='symbol'#}100</span></div>
									<span class="btn_buy"><i></i>去抢购</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="fn-clear">
								<div class="lpro_img">
									<i class="snum">1</i>
								</div>
								<div class="rpro_info">
									<h3>你当像鸟飞往你的山（比尔·盖茨年度力荐 登顶《纽约时报》畅销榜80+周 一个真实故事打开无限可能）</h3>
									<div class="pro_price" data-price="26.80">{#echoCurrency type='symbol'#}<em>26.80</em><s></s> <span>{#echoCurrency type='symbol'#}100</span></div>
									<span class="btn_buy"><i></i>去抢购</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="fn-clear">
								<div class="lpro_img">
									<i class="snum">1</i>
								</div>
								<div class="rpro_info">
									<h3>你当像鸟飞往你的山（比尔·盖茨年度力荐 登顶《纽约时报》畅销榜80+周 一个真实故事打开无限可能）</h3>
									<div class="pro_price" data-price="26.80">{#echoCurrency type='symbol'#}<em>26.80</em><s></s> <span>{#echoCurrency type='symbol'#}100</span></div>
									<span class="btn_buy"><i></i>去抢购</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="fn-clear">
								<div class="lpro_img">
									<i class="snum">1</i>
								</div>
								<div class="rpro_info">
									<h3>你当像鸟飞往你的山（比尔·盖茨年度力荐 登顶《纽约时报》畅销榜80+周 一个真实故事打开无限可能）</h3>
									<div class="pro_price" data-price="26.80">{#echoCurrency type='symbol'#}<em>26.80</em><s></s> <span>{#echoCurrency type='symbol'#}100</span></div>
									<span class="btn_buy"><i></i>去抢购</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="fn-clear">
								<div class="lpro_img">
									<i class="snum">1</i>
								</div>
								<div class="rpro_info">
									<h3>你当像鸟飞往你的山（比尔·盖茨年度力荐 登顶《纽约时报》畅销榜80+周 一个真实故事打开无限可能）</h3>
									<div class="pro_price" data-price="26.80">{#echoCurrency type='symbol'#}<em>26.80</em><s></s> <span>{#echoCurrency type='symbol'#}100</span></div>
									<span class="btn_buy"><i></i>去抢购</span>
								</div>
							</a>
						</li>
					</ul>
				</div>
				{#else#}
				
				<div class="livePro fn-hide fn-clear {#if $livedetail_state==2#}btop{#/if#} {#if ($liveUserAuth!=1 && $liveType==1) || ($liveUserAuth!=1 && $liveType==2)#}noClick{#/if#}">
					<div class="licon"><img src="{#$templets_skin#}images/pro.png" alt=""></div>
					<div class="rtext">
						<p>直播商品<i></i></p>
						<div class="pro_num"><em>0</em><i>件</i></div>
					</div>
				</div>
				
				<!-- 新商品上架 -->
				<div class="newProBox  {#if $livedetail_state==2#}nbtop{#/if#}">
					<a href="#" style="display: block;">
						<em class="jiao"></em>
						<p class="newTip"><i></i>新商品上架了，快来抢~</p>
						<div class="newPro fn-clear">
							<div class="pro_img"><img src="http://ihuoniao-backup.ihuoniao.cn/siteConfig/photo/large/2017/12/21/15138417882013.jpg" ></div>
							<div class="pro_info">
								<h4 class="pro_name">你当像鸟飞往你的山（比尔·盖茨年度力荐 登顶</h4>
								<p class="pro_price">{#echoCurrency type='symbol'#}<em>26</em><s>.80</s></p>
							</div>
						</div>
					</a>
				</div>
				<!-- 商品列表 -->
				<div class="liveProListBox fn-hide {#if $livedetail_state==2#}Lbtop{#/if#}">
					<a href="javascript:;" class="close_pro"><i></i> 收起</a>
					<div class="liveProList">
						<a href="javascript:;" class="prev"><i></i></a>
						<ul class="fn-clear ul_livePro">
							{#live action='product' aid={#$livedetail_id#} return='pro' pageSize='50' zero='1'  orderby='asc'#}
							<li class="pro_li">
								<a href="{#$pro.url#}" target="_blank" class="fn-clear">
									<div class="lpro_img fn-left">
										<h2 class="proNum">{#$pro.px#}<i></i></h2>
										<img src="/include/attachment.php?f={#$pro.pic#}" />
									</div>
									<div class="rpro_info ">
										<h4>{#$pro.title#}</h4>
										<div class="pro_price" data-price="{#$pro.price#}">
											{#echoCurrency type='symbol'#}<em>{#$pro.price#}</em><s></s>
										</div>
									</div>
								</a>
							</li>
							{#/live#}
						</ul>
						
						<a href="javascript:;" class="next"><i></i></a>
					</div>
					
					
				</div>
				<!-- 商品展示e -->
				<!-- 商品展示s -->
				
				{#/if#}
				
				
				
                <!--未开播-->
               <!--  <div class="stayBox">
                    <i></i>
                    <span>5-17 15:30开播</span>
                </div> -->

            </div>
        </div>
        <!--聊天室-->
        <div class="play_r fn-right {#if ($liveUserAuth!=1 && $liveType==1) || ($liveUserAuth!=1 && $liveType==2)#}noClick{#/if#}">
            <div class="room">
                <!--头部排序-->
                <div class="room-hd">
                    <ul class="rank-tab fn-clear">
                        <li class="invite">邀请榜</li>
                        <li class="spare">打赏榜</li>
                    </ul>
                    <div class="collapsing">
                        <div class="anchorBox" id="anchorBox">
                            <i class="jian"></i>
							<div class="anchor"></div>
                            <!-- <div class="img_box"><div class="img"><img src="{#$templets_skin#}upfile/eg08.png" alt=""></div><i></i></div>
                            <p class="name"></p>
                            <p class="num"><span class="z_num">直播 21</span><span>粉丝 5451</span></p>
                            <p class="ID"><i></i></p>
                            <p class="btn"><a href="">前往Ta的主页 ></a></p> -->
                        </div>
                        <div class="rank-list invite-list">
                            <div class="top-three fn-clear">
                                {#$m=1#}
                                {#live action=getShareList return=lists liveid=$livedetail_id#}
                                {#if $m>=4#}
                                {#else#}
                                <div class="th-item {#if $m==1#}th-first{#else if $m==2#}th-second{#else $m==3#}th-third{#/if#}" data-id="{#$lists['user']['userid']#}">
                                    <div class="img_box">
                                        <div class="img"><img src="{#$lists['user']['photo']#}" alt=""></div>
                                        <i class="no"></i>
                                    </div>
                                    <div class="info" >
                                        <p class="name">{#$lists['user']['nickname']#}</p>
                                        <p class="num"><i></i>{#$lists['scount']#}</p>
                                    </div>
                                </div>

                                {#/if#}
                                {#$m=$m+1#}
                                {#/live#}
                            </div>
                            <ul class="list">
                                {#$n=1#}
                                {#live action=getShareList return=list liveid=$livedetail_id#}
                                {#if $n>=4#}
                                <li data-id="{#$list['user']['userid']#}"><p class="fn-clear"><span class="name fn-left"> <i>{#$n#}</i>{#$list['user']['nickname']#}-</span>  <span class="num fn-right"><i></i>{#$list['scount']#}</span></p></li>
                                {#/if#}
                                {#$n=$n+1#}
                                {#/live#}
                            </ul>
                        </div>
                        <div class="rank-list reward-list">
                            <div class="top-three fn-clear">
                                {#$a=1#}
                                {#live action=getRewardList return=list liveid=$livedetail_id#}
                                {#if $a<4#}
                                <div class="th-item {#if $a==1#}th-first{#else if $a==2#}th-second{#else $a==3#}th-third{#/if#}" data-id="{#$list['user']['userid']#}">
                                    <div class="img_box">
                                        <div class="img"><img src="{#$list['user']['photo']#}" alt=""></div>
                                        <i class="no"></i>
                                    </div>
                                    <div class="info">
                                        <p class="name">{#$list['user']['nickname']#}</p>
                                        <p class="num"><i></i>{#$list['sumamount']#}</p>
                                    </div>
                                </div>
                                {#/if#}
                                {#$a=$a+1#}
                                {#/live#}
                            </div>
                            <ul class="list">
                                {#$m=1#}
                                {#live action=getRewardList return=list liveid=$livedetail_id#}
                                {#if $m>4#}
                                <li data-id="{#$list['user']['userid']#}"><p class="fn-clear"><span class="name fn-left"> <i>{#$m#}</i>{#$list['user']['nickname']#}</span>  <span class="num fn-right"><i></i>{#$list['sumamount']#}</span></p></li>
                                {#/if#}
                                {#$m=$m+1#}
                                {#/live#}
                                {#$m=null#}
                            </ul>
                        </div>
                    </div>
                    <div class="bottom_bar"></div>
                    <div class="room-hd-bg"></div>
                </div>

                <div class="chat">
                    <div id="chat" class="clearfix">
                        <div class="chatmain clearfix">
                            <!--<div class="log-title" id="welcome"></div>-->
                            <div id="mine" class="log"></div>
                            <div class="tipsOrchat">
                              {#if $userinfo#}
                                <div class="btn_after">
                                    <div class="fun">
										<a href="javascript:;" class="emo live-emoj_btn"></a> 
										<a href="javascript:;" class="pic live-img_btn"></a>
										<a href="javascript:;" class="hb_send" style="display: none;"><em>发红包</em> <s class="btn_bg"></s></a>
									</div>
                                    <div class="form ">
                                        <div id="msg" class="msg live-textarea" contenteditable placeholder="请输入聊天内容"></div>
                                        <!--<input id="msg" type="text" class="msg im-textarea" placeholder="请输入聊天内容!"/>-->
                                        <button id="send" class="send live-btn_reply" ><em>发送</em><i class="bg_btn"></i></button>
                                    </div>
                                </div>
							{#else#}
                                <div class="btn_before" id="btn_before">
									<div class="fun"><a  class="emo_before"></a> <a  class="pic_before"></a></div>
                                  <div class="form ">
                                    <div  class="msg"><a href="{#$cfg_basehost#}/login.html">登陆</a>后，才可以互动哦！</div>
                                    <button class="send im-btn_reply"  disabled="disabled">发送</button>
                                  </div>
                                </div>
                              {#/if#}

                            </div>

                        </div>
                    </div>
                </div>

                <div class="live-emoji-hide">
                    <h2>选择表情</h2>
                    
                </div>

            </div>

            <div class="live-photo"><input type="file" name="Filedata" class="Filedata" id="image"></div>

        </div>
    </div>
    


</div>
	</div>
</div>
<div class="w1600 ">
	<div class="wcontent fn-clear">
		<!-- 介绍s -->
		<div class="intro {#if ($liveUserAuth!=1 && $liveType==1) || ($liveUserAuth!=1 && $liveType==2)#}noClick{#/if#}">
		    <div class="tap">
		        <span class="curr">直播介绍</span> <span>直播图文 </span>
		       <!-- {#foreach from=$livedetail_menu item='menu' key='k'#}
		        {#if $k>=3#}
		        <span><a style="color: #ffffff;" target="_blank" href="{#$menu.url|default:'javascript:;'#}">{#$menu.name#}</a></span>
		        {#/if#}
		        {#/foreach#} -->
		    </div>
		    <div class="filter">
		        <div class="container in_info show">
					<i class="arr"></i>
		            <div class="con">
						{#if $livedetail_note#}
		                {#$livedetail_note#}
						{#else#}
						<div class="empty">暂无介绍</div>
						{#/if#}
		            </div>
		        </div>
		        <div class="container tw_info" >
					<i class="arr"></i>
		            {#live action=imgTextList return=list chatid=$livedetail_id pageSize=100#}
		            <div class="item">
		                <div class="user fn-clear">
		                    <div class="user_img fn-left">
								<div class="img"><img src="{#changeFileSize url="{#$list.photo#}" type="small" #}" alt="">
								</div>
								<i></i>
							</div>
		                    <div class="info fn-left">
		                        <p class="name">{#$list.nickname#}</p>
		                        <p class="time">{#$list.pubdate|date_format:'%H:%M:%S'#}</p>
		                    </div>
		                </div>
		                <div class="con">
		                    <p>{#$list.text#}</p>
		                    <ul class="img_box fn-clear">
								{#$r = 0#}
		                        {#foreach from=$list.img item=val#}
								{#if $r <= 3#}
		                        <li data-text="{#$list.text#}">
									<a href="javascript:;"><img src="{#$val#}" alt=""></a>
									{#if count($list.img) > 4 && $r==3 #}
									<div class="zhe">{#count($list.img)#}+</div>
									{#/if#}
								</li>
								{#else#}
								<li  class="fn-hide" data-text="{#$list.text#}"><a href="javascript:;"><img src="{#$val#}" alt=""></a></li>
								{#/if#}
								{#$r = $r + 1#}
		                        {#/foreach#}
		                    </ul>
		                </div>
		            </div>
		            {#/live#}
		            
		            <div class="empty fn-hide">抱歉！ 暂无直播图文</div>
		            
					
					
		        </div>
		    </div>
		</div>
		<!-- 介绍e -->
		
		<!-- 右侧推荐直播 -->
		<div class="recbox" data-id="{#$fid#}">
			<h2>主播还在播  <a target="_blank" href="{#$cfg_basehost#}/user/{#$fid#}/fabu.html?qmodule=live" class="more">更多></a></h2>
			<div class="left_list">
				<ul class="ul_list">
					
					 {#live action="alive" return="row"  uid={#$fid#} orderby="click" pageSize="5" #}
					<li class="fn-clear">
						<a href="{#$row.url#}" class="fn-clear" style="display: block;">
							<div class="limg"><img src="{#$row.litpic#}" alt=""></div>
							<div class="r_detail">
								<h4>{#$row.title#}</h4>
								{#if $row.state=="0"#}
								<div class="live">预告</div>
								{#else if $row.state=="1" #}
								<div class="living"><img src="{#$templets_skin#}images/on-air2.png" alt=""></div>
								{#/if#}
							</div>
						</a>
					</li>
					{#/live#}
				</ul>
				<div class="nodata">暂无数据</div>
			</div>
		</div>
	</div>
	
<div class="hot_bg">
    <div class="wrap">
        <h2>热门直播</h2>
        <div class="conBox">
            <ul class="conList fn-clear">
                {#live action="alive" return="row" type="1" orderby="click" pageSize="5"#}
                <li><a href="{#$row.url#}">
                    <div class="img_box">
                        <img src="{#$row.litpic#}" alt="">
                        {#if $row.state==1#}
                        <i class="live"></i>
                        {#elseif $row.state==2#}
                        <i class="hui">精彩回放</i>
						{#else#}
						<i class="yu">预告</i>
                        {#/if#}
                       <!-- <div class="code_bg"><div class="code"><img src="{#$cfg_basehost#}/include/qrcode.php?data={#$row.url#}" alt=""></div></div> -->
					   <div class="item-mask"></div>
					   <i class="btn-link__hover_i"></i>
                    </div>
                    <div class="info">
                        <p class="tit sliceFont3" data-num="18">{#$row.title#}</p>
                        <div class="user fn-clear"><div class="u_logo"><img src="{#changeFileSize url="{#$row.photo#}" type="small"#}" alt=""></div><span class="name">{#$row.nickname#}</span> <span class="num fn-right"><i></i>{#$row.click#}</span></div>
                    </div>
                </a></li>
                {#/live#}
            </ul>
        </div>
    </div>
</div>
</div>
<!--pop-show-->

<div class="dalogo {#if ($liveUserAuth!=1 && $liveType==1) || ($liveUserAuth!=1 && $liveType==2)#}pop-show{#/if#}"></div>
<!--邀请码-->
<div class="invite-box tip-box {#if $liveUserAuth!=1 && $liveType==1#}pop-show{#/if#}">
	<i class="close_pop"></i>
    <div class="img"><img src="{#$templets_skin#}images/ic_bg.png" alt=""></div>
    <div class="info">
        <p class="con">当前直播需要邀请码才能继续观看哦~</p>
        <form action="{#$check_pass_url#}" method="post" id="pForm">
        <input autocomplete="off" class="invite" id="invite" name="password" type="text" placeholder="输入邀请码">
        <div class="btn">
            <a class="sure" href="javascript:;">确认</a>
        </div>
        </form>
        <p class="msg" id="inv-msg"></p>
    </div>
</div>



<!--支付-->
<div class="tip-box play-box {#if $liveUserAuth!=1 && $liveType==2#}pop-show{#/if#}" data-type="{#$liveUserAuth#}">
    <div class="img"><img src="{#$templets_skin#}images/ic_bg1.png" alt=""></div>
	<i class="close_pop"></i>
    <div class="info">
        <p class="con">当前直播付费后即可继续观看~</p>
        <p class="price"> <span><em>{#echoCurrency type='symbol'#}</em>{#$livemoney#}</span></p>
        <div class="btn">
            <!-- <a class="goBack" href="{#$live_channelDomain#}">返回首页</a> -->
            <a class="sure" href="javascript:;" >立即付款</a>
        </div>
    </div>
</div>

<!--支付成功-->
<div class="play-success">
    <div class="icon"> <i></i></div>
    <p>付费成功！欢迎观看直播！</p>
</div>
{#if $userinfo#}
{#/if#}
<!--去支付-->
<div class="tip-box play-money">
    <div class="img"><img src="{#$templets_skin#}images/ic_bg.png" alt=""></div>
	<i class="close_pop"></i>
    <div class="info fn-clear">
        <div class="code fn-left"><img src="" alt=""></div>
        <div class="money fn-left">
            <p class="price"> <span><em>{#echoCurrency type='symbol'#}</em>{#$livemoney#}</span></p>
            <p class="con">支持支付宝、微信扫码支付</p>
            <p class="icon"><i class="zhi"></i> <i class="wx"></i></p>
        </div>
        <div class="back"><a href="#"> 其他支付方式 > </a></div>
    </div>
</div>

<!-- 打赏s -->
<div class="mask_ds"></div>
<div class="ds_box">
	<i class="close_btn"></i>
	<div class="ds_to">
		<i class="icon1"><img src="{#$templets_skin#}images/icon01.png"></i>
		<i class="icon2"><img src="{#$templets_skin#}images/icon02.png"></i>
		<p>打赏给主播</p>
		<div class="zbInfo">
			<div class="headimg"><img src="{#$livedetail_photo#}"></div>
			<h4>{#$livedetail_nickname#}</h4>
		</div>
		<div class="bg_ds"><img src="{#$templets_skin#}images/bg_4.png" alt=""></div>
	</div>
	<div class="ds_content">
		<div class="ds_con">
			<div class="ds_num fn-hide">
				<h5>{#echoCurrency type='symbol'#}<em>8.8</em></h5>
				<p>打赏榜上有名，赏金会送给主播</p>
				<div class="self_num">
					<div class="input_box"><input autocomplete="off" type="text" name="" placeholder="或自定义金额"></div>
					<a href="javascript:;" class="dsBtn"><em>打赏</em><i class="btn_bg"></i></a>
				</div>
			</div>
			<div class="ds_confirm ">
				<div class="qrcode"></div>
				<div class="right_num">
					<h5>{#echoCurrency type='symbol'#}<em>8.8</em></h5>
					<p>支付宝、微信扫码支付</p>
					<div class="wxali">
						<i><img src="{#$templets_skin#}images/wx2.png"></i>
						<i><img src="{#$templets_skin#}images/zfb2.png"></i>
					</div>
					
				</div>
				<div class="link_btn fn-clear">
					<a href="#" class="back_btn">< 返回</a>
					<a href="#" class="pay_way">其他支付方式 > </a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 打赏e -->

<!-- 抢红包s -->
<div class="mask_hb"></div>
<div class="hbBox">
	<i class="close_btn"><img src="{#$templets_skin#}images/close3.png" alt=""></i>
	<div class="hb_box">
		<i class="icon1"><img src="{#$templets_skin#}images/icon4.png" alt=""></i>
		<div class="hb_fa">
			<!-- 此处应为红包发起人的头像 -->
			<div class="hb_img"><img src="{#$livedetail_photo#}" alt=""></div>
			<p class="hb_nick"><em>王凯凯kk</em>发的红包</p>
		</div>
		<div class="hb_info">
			<h4 class="hb_text">大吉大利，恭喜发财！</h4>
			<h2 class="hb_money">{#echoCurrency type='symbol'#}<em>8.8</em></h2>
			<div class="no_hb fn-hide">
				<p class="hb_num">共<em>20</em>个</p>
				<p class="hb_tip">来晚了一步，已经抢光了哦~</p>
				<a href="javascript:;" class="go_link">查看领取详情 ></a>
			</div>
			<div class="hb_to fn-hide">
				<p class="hb_num">共<em>20</em>个</p>
				<a href="javascript:;" class="qiang">抢</a>
			</div>
			<div class="hb_qiang fn-hide">
				<p class="hb_num">已存入账户余额 ></p>
				<a href="javascript:;" class="hb_detail">已领取<em class="hb_left">10</em>/<em class="hb_all">20</em>个，共<em class="hb_leftmoney">10</em>/<em class="hb_allmoney">20</em>元 ></a>
			</div>
		</div>
	</div>
	<div class="hbget_box">
		<h3>领取详情<em class="get_num">11</em>/<em class="all_num">20</em></h3>
		<ul>
			<li class="fn-clear">
				<div class="head"></div>
				<div class="r_dtail">
					<h4 class="fn-clear"><span class="fn-left">我是昵称</span><em  class="fn-right">3.7元</em></h4>
					<p>13:00</p>
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- 抢红包s -->

<!-- 发红包s -->
<div class="mask_fhb"></div>
<div class="fahb_box">
	<i class="close_btn"><img src="{#$templets_skin#}images/close3.png" alt=""></i>
	<i class="icon1"><img src="{#$templets_skin#}images/icon4.png" alt=""></i>
	<div class="hb_head"><div class="coin"><img src="{#$templets_skin#}images/icon_img.png" alt=""></div></div>
	<div class="hbin_box ">
		<div class="hb_input">
			<div class="hbm_input"><input type="text" name="hb_money" autocomplete="off" placeholder="红包总金额"><i>元</i></div>
			<div class="hbn_input"><input type="text" name="hb_num" autocomplete="off" placeholder="个数"><i>个</i></div>
		</div>
		<div class="ht_input">
			<input type="text" name="hb_txt" id="hb_txt" autocomplete="off"  placeholder="恭喜发财，大吉大利！">
			<em>0/20</em>
		</div>
		<a href="javascript:;" class="btn_sai">塞钱进钱包</a>
	</div>
	<div class="hb_confirm fn-hide">
		<div class="qrcode"></div>
		<div class="right_num">
			<h5>{#echoCurrency type='symbol'#}<em>8.8</em></h5>
			<p>支付宝、微信扫码支付</p>
			<div class="wxali">
				<i><img src="{#$templets_skin#}images/wx1.png"></i>
				<i><img src="{#$templets_skin#}images/zfb1.png"></i>
			</div>
		</div>
		<div class="link_btn fn-clear">
			<a href="#" class="back_btn">< 返回</a>
			<a href="#" class="pay_way">其他支付方式 > </a>
		</div>
	</div>
</div>
<!-- 发红包e -->
{#if ($liveUserAuth!=1 && $liveType==1) || ($liveUserAuth!=1 && $liveType==2)#}
{#else#}
<!-- 视频小窗口s -->
<div class="svideo_box "><i class="close_video"></i></div>
<!-- 视频小窗口e -->
{#/if#}
{#*
<div class="user_hb">
	<div class="rb_detail">
		<div class="l_rbimg"><img src="{#$templets_skin#}images/bb_xiao.png" alt=""></div>
		<div class="rb_info">
			<h4>恭喜发财，大吉大利</h4>
			<p>领取红包</p>
		</div>
	</div>
	<p>普通红包</p>
</div>
*#}
<!--底部 s-->
{#include file="footer.html"#}
<!--底部 e-->
<script type="text/javascript">
    var isfalse ={#if $livedetail_state==2#}false{#else#}true{#/if#};
    var source = {#if $livedetail_state==2#}'{#$detail_mp4url#}'{#else#}'{#$detail_url#}'{#/if#};
	if($("#J_prismPlayer").size()>0){
		var player = new Aliplayer({
		        id: "J_prismPlayer",
		        autoplay: true,
		        isLive: isfalse,
		        playsinline: true,
		        width:"100%",
		        height:"540px",
		        useH5Prism:true,
		        useFlashPrism:false,
		        source:source,
		        cover:"{#$livedetail_litpic#}"
		    });
	}
    
    
    var h_detail = '{#getUrlPath service="live" template="h_detail" id={#$livedetail_id#}#}';
	var aid = "{#$livedetail_id#}" , module = "live", dopost = 'detail';
</script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/abigimage.jquery.js?v={#$cfg_staticVersion#}"></script>
<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/noscroll.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.dragsort-0.5.1.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.ajaxFileUpload.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/getlist.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/designpicd.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/chatroom.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/detail.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.qrcode.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.dialog-4.2.0.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
